[2019-07-10 18:44] Vitalius1 commented on #9757
There is a PR #9750 which is trying address this issue but needs some more investigation on the possible effects on some partners.

[2019-07-10 18:50] Vitalius1 commented on #9755
Thanks @srinidhiprabhu96 for submitting this feature request. Will investigate the possibility of adding this to the `Dropdown` control and follow up with findings. Meanwhile, it seems to be a very simple thing to implement so if you feel you can tackle this addition we welcome your contribution and happy to review your PR. There are plenty of examples on other components that can give you an idea

[2019-07-10 20:00] #9681 closed

[2019-07-10 21:05] khmakoto commented on #9718
@rohitrewa I hope to have a fix by the end of this week with the fix being on npm at the latest early next week.

[2019-07-10 21:22] khmakoto commented on #9718
Hey @rohitrewa, I'm trying to repro the behavior where it used to dismiss on clicking on an iframe in 5.76.0 but I cannot seem to replicate it on a codepen. [Here ](https://codepen.io/khmakoto/pen/ydZxpJ?editors=1010) is what I've done. Could you fiddle with it to try to repro how it worked before? The version of Fabric used in the codepen is pinned to 5.76.0.

[2019-07-10 21:29] khmakoto commented on #9710
@omerquyyum12, could you tell me which browser are you using?

[2019-07-10 22:56] chadsowald opened #9767 "Help: How to simulate changing a Dropdown in tests with enzyme."
#### Describe the issue:

I'm having trouble testing the Dropdown component.  I want to simulate changing/selecting an option.  To do that, I have code like this:

**in render:**
<Dropdown
...
  onChange={ this.onChange }
...
/>

**in component:**
private onChange= (e: React.FormEvent<HTMLDivElement>, option: IDropdownOption) =>
{
  this.somePrivateMember = option.key;
}

**in test:**
wrapper.find

[2019-07-10 23:07] lorejoh12 commented on #9726
A mock up of what this would look like would help here. I agree with Vitalie about the `minDate` and `maxDate` prop solution, that was my initial thought.

If you want to restrict the user to only selecting in the current year, and you used those props, you'd get something kind of like:
![image](https://user-images.githubusercontent.com/8549582/61010727-561adb80-a32c-11e9-87b5-f7c0a675b865.png)
no

[2019-07-10 23:16] phkuo commented on #9753
I don't remember. It should be fine to just uncomment it. I might have been testing it (possibly testing perf, since this would run many many times each time you change a base color), or the inputs to it were in such a way that you'd never get impossible numbers.

[2019-07-10 23:27] khmakoto commented on #7999
I think this is happening because the `.${classNames.buttonLabel}` selector in line 209 of `TeachingBubble.styles.ts` has a higher specificity as a classname than just the high contrast mode selector. We could stop using that classname and just set the `color` style on the `primaryButton` style. Granted, we'd have to also set it on the `hover`, `active` and `focus` selectors, but we'd get rid of t

[2019-07-10 23:31] Vitalius1 commented on #9741
Interesting that running on localhost the project allows me to trigger the sort with the keyboard in IE11 but on the public website not. Will have to investigate what is preventing it.

![IE11](https://user-images.githubusercontent.com/29514833/61011549-d727a200-a32f-11e9-88af-68a306dfba81.gif)

[2019-07-10 23:31] #9694 closed

[2019-07-11 00:20] Vitalius1 commented on #9754
Regression introduced in 7.5.2 by #9439

[2019-07-11 00:21] Vitalius1 commented on #9754
@wiolsen can you take a look please at what got regressed with your PR. Thanks!

[2019-07-11 00:22] Vitalius1 commented on #9754
cc: @KevinTCoughlin

[2019-07-11 00:28] KevinTCoughlin commented on #9754
I believe @ThomasMichon just fixed this with #9762 & #9766. Both have been merged.

[2019-07-11 00:59] #9744 closed

[2019-07-11 01:07] Vitalius1 commented on #9741
@shivasai09, the issue you are facing was fixed in #9587 and can be found in OUFR version starting with 7.6.2. It is also being back-ported now to Fabric 6 in #9770 and as soon as it’s merged, the next day release of v6 will have the fix in to be consumed.

That is why I was not able to repro it locally and the website was having the issue due to it being a little behind on the OUFR version it is

[2019-07-11 01:10] #9753 closed

[2019-07-11 02:29] Vitalius1 commented on #9754
I verified on a local running instance with the current PR and indeed it has been fixed.
@withgallantry can you verify the fix on your end with tomorrow’s new release of OUFR and let us know if everything is OK. Thanks!

[2019-07-11 04:28] Vitalius1 commented on #9756
Hi @rake93, I’ve put a [codepen](https://codepen.io/vitalius1/pen/GbzLWw) together to give you an idea on how it can be done. It will also require some custom style overrides to get to your exact mock but in general there is an idea.

As for a Table / Grid component, there are discussions of implementing one to be part of the Fabric suite, but nothing so far and there is determinate date when it w

[2019-07-11 04:43] chadsowald commented on #9767
A little more guesswork and I was able to figure it out:

`wrapper.find('StyledWithResponsiveMode').simulate('change', { target: { value: 'does not matter'} }, { key: 'the value you want to test with!', text: 'test text' });`

Wish there were examples of this already or that it was more clear in the documentation.

[2019-07-11 04:43] #9767 closed

[2019-07-11 04:47] Vitalius1 commented on #9767
@chadsowald glad you were able to figure it out.

You mean examples and documentation of `enzyme` library or ours? I don’t believe we document any of our tests.

[2019-07-11 05:06] Vitalius1 commented on #9761
@xxhice I did a little of testing and I can’t seem to be able to repro the same behavior when running locally or on the website’s Toggle demo page. I can repro it only in the codepen you provided. The best I can do is to apply `aria-hidden` on it so that Narrator in scan mode skips it but that needs to be discussed with an accessibility expert.

[2019-07-11 05:11] Vitalius1 commented on #9761
@betrue-final-final, need your opinion in hiding the state text (On/Off) in scan mode of Narrator because it looks like focusing on the pill already reads out the state of the toggle so if you Caps + right through the control you will hear the state twice: once on the pill and once on the state label.

[2019-07-11 05:19] Vitalius1 commented on #9761
I also have been able to repro on https://codesandbox.io/s/kind-colden-f6y4u running the latest OUFR version. But still running it locally or on the website does not repro.

[2019-07-11 05:25] chadsowald commented on #9767
@Vitalius1 Thanks for asking.  I think it would have to be in Fabric UI docs/tests since it's specific to how the Fabric Dropdown calls the onChange handler.  You're right that I don't ever see documentation on how to test Fabric components.  In the past, I've found the source code test files to be helpful, but they weren't in this case.  I guess otherwise people find help here or on StackOverflow

[2019-07-11 06:36] omerquyyum12 commented on #9710
@khmakoto  i am using chrome and here is image for my work. u can see lines are hiding on 90% zoom.
![list](https://user-images.githubusercontent.com/52535075/61027529-de9e8800-a3cf-11e9-8e2c-3ffe6adc60dd.PNG)
on 100%
![list 2](https://user-images.githubusercontent.com/52535075/61027603-0988dc00-a3d0-11e9-8a43-6f5608ca6536.PNG)

[2019-07-11 08:17] htryggva commented on #9545
We would also welcome an official UI Fabric time picker component to use in our product. Preferably independent of the Calendar or DatePicker components.

[2019-07-11 08:24] aslanovsergey commented on #9757
I mean maybe from typescript option we can disable  something so that it builds

[2019-07-11 10:41] withgallantry commented on #9754
Will do. Thanks for the speedy fix.

[2019-07-11 14:04] cicciodm opened #9773 "Providing closeDelay and delay to Tooltip will cause rendering even when host is not hovered anymore"
### Environment Information

- __Package version(s)__: Latest

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/anon/pen/dBrzBq?editors=0010

#### Actual behavior:

When providing a long `closeDelay` and `delay` to a TooltipHost, the tooltip is displayed even if the button is not hovered anymore.

![tooltip](https://user-images.githubusercontent.com/3417264/61057055-d0

[2019-07-11 14:48] gavinbarron commented on #9545
In my opinion there are use cases for both a time picker and datetime
picker in addition to the DatePicker.

The MWF Datetime picker control can be configured in Date Picker, DateTime
Picker, and Time Picker modes.

Given the current state of the UI Fabric Web controls library I'd suggest
that an independent TimePicker control be shipped initially as this would
not imply or need any interface chan

[2019-07-11 15:14] JasonGore commented on #7999
I agree the issue is with specificity. However, if `color` is set at root instead of at `label`, then the button styling overrides the coloring when hovered. That's why I mentioned subcomponentStyling and such above... I'm not sure if there is a simple solution.

![image](https://user-images.githubusercontent.com/26070760/61062895-e3554300-a3b3-11e9-9d33-58e5e488e614.png)

[2019-07-11 15:32] adityapelluri commented on #9653
Hi   @khmakoto  , sorry about getting back on this again. Any info about the fix yet?

[2019-07-11 16:00] HamletDRC commented on #7803
My product at Microsoft has a MAS C violation because of Bug #8. Can you possible provide a delivery date on this? My SLA to fix this issue is 1. October, so I really need this one fixed in September or we're going to have to implement our own menu.

[2019-07-11 16:24] agg23 commented on #8238
I would say #8405 only partially addresses this scenario, as the parent element for the title is `<p>`. This prevents adding children such as `<div>`, which removes some of the usefulness.

[2019-07-11 16:38] micahgodbolt commented on #9545
Most teams I talk to say that if they need date and time picking that they will create an HOC that combines a date picker and some sort of time picking (dropdowns usually). This is how outlook is currently doing it, so I don't think design is content with that solution and isn't investing in something different.

If it ain't broke, don't fix it.

[2019-07-11 16:41] micahgodbolt commented on #7803
taking my response offline

[2019-07-11 17:03] withgallantry commented on #9754
Can confirmed that it's fixed @Vitalius1

[2019-07-11 17:23] chriskuech commented on #9545
Makes sense not to change the existing component--but why not merge the HOC back into Fabric?  It's a generic enough requirement that HTML even supports datetime inputs natively.

[2019-07-11 17:53] xxhice commented on #9761
Yes, we got a bug https://dynamicscrm.visualstudio.com/OneCRM/_workitems/edit/1495139 after accessibility pass test for our new calendar control and we are using this Toggle control from office UI fabric, so I opened this issue with repro in codepen.
The problem is why Narrator will focus on the label twice? The behavior in website seems working fine, but when I 'Export to CodePen', I could repro

[2019-07-11 18:05] micahgodbolt commented on #9545
The HTML version is quite similar to ours in the picking experience.

![image](https://user-images.githubusercontent.com/1434956/61073935-561de880-a3cb-11e9-8c05-875ea9c56259.png)

The main difference is that they place the time picking inside of the input rather than separate controls.

![image](https://user-images.githubusercontent.com/1434956/61074074-bf056080-a3cb-11e9-8e06-e16b1c5a4cc6.png)

[2019-07-11 18:09] khmakoto commented on #7999
Yeah, that's why I said that we would also have to set the color in the `hover`, `active` and `focus` selectors... I don't think there's a simpler solution than that...

[2019-07-11 20:07] #9755 closed

[2019-07-11 21:22] Vitalius1 commented on #9754
Will close the issue manually since the author confirmed it’s fixed.

[2019-07-11 21:22] #9754 closed

[2019-07-11 21:42] Vitalius1 commented on #9757
@kenotron, @ecraig12345 any ideas?

[2019-07-11 21:48] khmakoto commented on #9710
I'll continue investigating in different resolutions to see if I can repro this.

[2019-07-11 21:49] khmakoto commented on #9693
Thanks @known-as-bmf! That is really helpful. I'll take a stab to fix this issue.

[2019-07-11 21:51] khmakoto commented on #9683
Thanks @Sbearlin! I can use this information to continue investigating this bug. I'll keep you updated on my findings.

[2019-07-11 21:58] khmakoto commented on #9718
Spoke with @rohitrewa offline. We'll try to get this behavior to repro together and then investigate on what change made this behavior disappear in later versions.

[2019-07-11 22:34] ecraig12345 commented on #9757
Maybe add `skipLibCheck: true` in the tsconfig? Downside is that's kind of a sledgehammer--it skips type checking for everything in node_modules.

[2019-07-11 23:13] tomasro27 commented on #8153
My use case is the following:
I have a react grid that requires height and width to be set as props. This height and width is usually retrieved from the parent div. However, PivotItem sets its height and width based on the child (or wraps the child). This set up turns in no rendering of the child, because both the pivotItem and the item itself depend on each other for the height and width.

I ende

[2019-07-11 23:44] joechung-msft commented on #9478
Can this fix be backported to 6.x?

[2019-07-11 23:57] KevinTCoughlin commented on #9581
[code]

The quick "fix" for this issue is more or less the above, tho we should prefer to guard rather than use a non-null assertion.

My concern with the above patch is that this is an issue with the underlying typing of `IRenderFunction<P>`. The incompatibility with `strictFunctionTypes` with respect to `IRenderFunction<P>` spans the codebase and should be fixed wholesale if at all.

@JasonGore

[2019-07-12 00:03] KevinTCoughlin commented on #9643
I've spoken with @ThomasMichon as part of #9457 and later #9646 about our various layout modes. There likely is room for an additional layout mode which overflows horizontally and does not try to best-fit. There is probably room for a best-fit layout algorithm as you requested above. The task is doable, but not a priority given our specific scenarios (fixed and justified) across OneDrive and Share

[2019-07-12 00:45] KevinTCoughlin commented on #9568
@Vitalius1, is this solvable with the current code? If not, what workaround should we propose and document?

[2019-07-12 01:45] ecraig12345 commented on #9497
This should finally be done--so sorry about the delay! Let me know if you see any issues.

[2019-07-12 01:45] #9497 closed

[2019-07-12 03:03] x73x63 opened #9784 "Overlay component add bodyScroll props"
**Describe the feature that you would like added**
I need to allow the parent component to set whether to display the body scrollbar

**What component or utility would this be added to**
Panel
Modal
Dialog

[2019-07-12 03:40] x73x63 commented on #9581
I found other components example code also have similar problems.

Enable all strict type checking options.  test all example code.

[2019-07-12 04:54] Vitalius1 commented on #9784
@x73x63, seems like you already have an issue open regarding this and there is a PR that investigates the possibility to address it (both linked by you in the issue description). Could you please continue the discussion on that thread and work along with 2 developers that invested time in trying to help you. Opening a duplicate issue will not expedite a solution. Thanks.

Will soft close the issue

[2019-07-12 04:55] Vitalius1 commented on #9784
@khmakoto @KevinTCoughlin FYI

[2019-07-12 06:43] Nasicus opened #9786 "CSS loaded in wrong order?"
We had this problem since a long while, currently we're using `6.134.0`. However to verify that this still occurs I even upgraded to the latest version (`7.8.2`).

Setup:
 - Typescript react app (with latest `Create React App`)

Problem:
For some reason on **production builds** (with `npm start` it works!) the order of the CSS which is loaded is wrong, which leads to styling-problem. Up until now

[2019-07-12 09:20] elly0t commented on #9522
Have just encountered the same issue, any plan on fixing this?

My current solution is downgrading the library to `6.195.1` where `onChange` won't be triggered twice.

[2019-07-12 11:12] Hardhik opened #9787 "Rating star: NVDA + Chrome not announcing the readonly rating"
# Actual behavior:

For NVDA + Chrome Testing:
When we bring focus to the Rating control in readonly mode, the NVDA reads out control as "status" (the focused element here is the div created from FocusZone which doesn't have the aria-label)

The div with class "ms-Rating-star" has the aria-label but the FocusZone has the tabindex=0
This causes the NVDA to read it as "blank" instead of something li

[2019-07-12 16:22] Vitalius1 commented on #9786
@dzearing I remember a thread on Teams with similar issue from one of our partners. Do you know if the issue got a resolution?

[2019-07-12 17:41] aslanovsergey commented on #9757
Pity is that I already have it

[2019-07-12 18:02] Vitalius1 commented on #9786
@Nasicus would be really helpful if you could provide a repro project that we can investigate on.

[2019-07-12 18:10] dzearing commented on #9786
Having a difficult time reproing;
https://github.com/dzearing/test-css-bug-repro

I made a git repo using create-react-app
Added oufr 7 and styled-components
Styled up a NewPrimaryButton
Rendered old and new, even tried conditionally in different orders
Run `npm run build`
Run `serve build`

See things in the correct order:
![image](https://user-images.githubusercontent.com/1110944/61149310-a3668c

[2019-07-12 19:32] taparikh opened #9791 "DetailsList Checkboxes dont have accessible name"
## Codepen demonstrating the issue
https://codepen.io/Tanvi_p/pen/NZmLrO

## Actual behavior:
The checkboxes in the DetailsList Fabric component do not have a legible accessible name (we see boxes in a garbled language) when tested using the Accessibility Insights Chrome Extension(Test - Custom Widgets: Design Pattern) in our environment. We have filled out all the aria props as provided in the do

[2019-07-12 19:57] dzearing commented on #9786
I got it to repro. The issue is that these rules are 1 level of specificity, so the resolution depends on the order in which `style` elements exist in the head. Last one wins. In this case you want the styled-component element to appear later than the fabric ones.

Here's what happens under the hood with merge-styles:

When a Fabric component is initially loaded, some css rules are registered earl

[2019-07-12 20:27] taparikh opened #9793 "[Accessibility] Dialog has no Accessible Name"
## Codepen demonstrating the issue
https://codepen.io/Tanvi_p/pen/BgEqda

## Actual behavior:
On running the Accessibility Insights Tool for when a modal popup is launched, the following test fails -
-Custom widgets: Design Pattern :
 Widget role: dialog
 Design pattern: Dialog (Modal)
 Accessible name: (no value)
Also a red line appears on the screen when visual helper for this component is activ

[2019-07-12 20:31] aftab-hassan commented on #9478
Here is the PR for the backport. https://github.com/OfficeDev/office-ui-fabric-react/pull/9789

[2019-07-12 20:40] amirburbea opened #9795 "Fluent Dark Theme???"
Is there a good dark variant of the `ICustomizations` of `@ui-fabric/fluent-theme`?  Basically the dark (or Neptune) theme from Azure Devops would be good.

I tried using `AzureCustomizationsDark` from `@uifabric/azure-themes`, it looks dated and lousy (Black text on blue buttons is harder to read for example).  I tried using the Theme Designer on MS site and apply it to the Fluent Theme but it's

[2019-07-12 21:15] Nasicus commented on #9786
Thank you guys so much for putting effort into resolving this!

I cannot (quickly) provide an example though, since this is from my company's app, however I can try to reproduce it.

I could also provide you a list of all npm packages if this helps.

@dzearing
Yep I always was "knew" that it must have to do in how the css / style tags are added to the header. However I didn't find a way yet to "ch

[2019-07-12 21:26] Nasicus commented on #9786
@dzearing  @Vitalius1

Ok you were exactly right! It has to do with the order could reproduce it with this minimal example too:

[code]

![image](https://user-images.githubusercontent.com/1086065/61159462-6e415500-a4fc-11e9-94fb-a507ddc894d0.png)

What I still don't understand / can't believe, that I couldn't find any other people / issues with the same problem...and we have this since a long time

[2019-07-12 21:55] atneik opened #9797 "Can't customize maxWidth of labelWrapper in ChoiceGroupOption"
### Please provide a reproduction of the bug in a codepen:
 In this codepen I am unable to customize `maxWidth` of `labelWrapper` in `ChoiceGroupOption` because inline styles from the component always win: https://codepen.io/atneik/pen/ydrQOv?editors=1010

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes, but will be delayed due to upcoming vacation

Requested priori

[2019-07-12 22:01] kenotron commented on #9150
Yes, I cannot do much more here unless we come up with a different scheme for how we do ESM & commonjs.

[2019-07-12 22:42] Vitalius1 commented on #9791
@taparikh thanks for submitting this issue and I am happy to tell you that I already submitted a fix for this issue that was brought to our attention on our Fabric React Teams channel. #9751 was merged and makes sure if you pass `checkButtonAriaLabel` it ends up being assigned to `aria-label` instead of title. Here is a [codepen](https://codepen.io/vitalius1/pen/VJqdgj) you can try run your access

[2019-07-12 23:25] j-te opened #9799 "Rating: Cannot set value as 0"
## Bug Report:

This issue primarily refers to the apparent bug where the state value is incorrectly updating.

### Environment Information

- __Package version(s)__: `office-ui-fabric-react` `7.7.0`

### Please provide a reproduction of the bug in a codepen:

Cannot clear value or set to 0: [CodePen](https://codepen.io/anon/pen/PrgXad)
note: click the rating value: 3 then use toggle.

#### Actual

[2019-07-12 23:27] taparikh opened #9800 "CommandBar : no HTML or ARIA cues"
## Codepen demonstrating the issue
https://developer.microsoft.com/en-us/fabric#/controls/web/commandbar

## Actual behavior:
On running an accessibility check on the command bar fabric component on the Office Fabric UI Website - the result of the Accessibility Test (Custom Widgets -> Cues) reveals that the are no values for HTML or ARIA Cues. There is however a valid role="menubar". Wanted to dou

[2019-07-12 23:30] Vitalius1 commented on #9793
@taparikh , the codepen you provided does not work for me and if honestly has way too much stuff in it to allow to isolate any possible issue with Dialog accessibility. I verified the Dialogs on our [demo website](https://developer.microsoft.com/en-us/fabric#/controls/web/dialog) with Narrator on and it seems that Narrator doesn’t have any issues announcing that a Dialog was open and it reads out

[2019-07-12 23:32] Vitalius1 commented on #9793
Also, we have an a11y pass report tracked in #8061, but I think a few of the points in the description are not issues anymore.

[2019-07-13 00:26] Vitalius1 commented on #9795
@amirburbea, theoretically you don’t need `@uifabric/fluent-theme` package if you are on Fabric 7. That package is mainly for users still on Fabric 6 but want to have the new fluent looks. What version are you on and if it’s 6 can you upgrade to 7 and have fluent by default?

Don’t forget that besides creating a new theme palette you can also modify the values of the semanticColors property of the

[2019-07-13 03:23] Vitalius1 commented on #9799
@j-te thanks for submitting the issue along with a repro. It helped understand and debug faster this issue. I have a fix submitted in #9805 for the controlled behavior and verified it locally and the toggle to 0 works.

As for the feature request to have the ability to click on a rating star of the same value and set it to 0 when `allowZeroStars` enabled, I totally agree that it would be a nice fe

[2019-07-13 03:44] Vitalius1 commented on #9786
@Nasicus glad that you got it sorted out. I actually learned some new stuff from David’s investigation.

@dzearing I feel like relying on the dev to provide a placeholder style element to solve load order issues is not going to scale as we would need to document this in a very good way. I can add this functionality with a fallback to the current behavior in case there is no placeholder provided an

[2019-07-13 07:37] Nasicus commented on #9786
To be honest. I have not yet resolved this at all. I need to investigate "the workaround" (ordering) in our own Project, because as far as I could see in the `index.tsx` it is already in correct order. So basically I need to check if I have to order *every* file in the correct order and if this will resolve the problem...

[2019-07-13 20:06] mtone opened #9806 "CommandBar item.disabled props does not always update"
### Environment Information

- __Package version(s)__: 7.9.0
- __Browser and OS versions__: Chrome 75 & Firefox 68, Windows 10 1903

### Please provide a reproduction of the bug in a codepen:

Codepen: https://codepen.io/mtone/pen/bPyeaR

#### Actual behavior:

Changing ICommandBarItemProps.disabled in <CommandBar items={items}> is not always re-rendered correctly.

In the Codepen, I reproduced by

[2019-07-15 06:03] Nasicus commented on #9786
Sorry but again: This is not closed for me.

Yes I could reproduce it, yes I could "fix" it in the example by chaning the import order.

However now I just tested what happens if it's working and I do a production build (`npm run build`).
And guess what?
It doesn't work anymore, and the CSS is once again loaded in the wrong order in the DOM!

[2019-07-15 06:29] wu-yafeng commented on #4357
+1 for updating

[2019-07-15 08:20] j-te opened #9807 "Rating: Add method to set value to 0"
**Describe the feature that you would like added**
relates to #9799

Currently, there is no way to set the value to `0` (however #9805 may now fix this).

It seems sensible for the component to set the value to `0` `if (previousValue === nextValue)`, when `allowZeroStars={true}`.

So say 3 stars is the current value, value will become 0 if 3 stars is selected again.

I don't think there's a case w

[2019-07-15 09:24] lavanya-kuda opened #9808 "Icons: Remove aria-hidden to fix narrator focus bug for Modal dialog and Panel"
## Codepen demonstrating the issue

Remove aria-hidden to fix narrator focus bug for Modal dialog and Panel issue has been fixed in office-ui-fabric-react v6.180.0 but in our project we are using 6.195.0 which doesn't have the aria-hidden fix and still shows an accessibility issue. Does v6.195.0 have aria-hidden issue?

![image](https://user-images.githubusercontent.com/17567591/61206657-bd5fd380-

[2019-07-15 10:09] dollykumari5 commented on #9681
Hi @khmakoto ,  Please refer to the bug 1 in the given SharePoint [link.](https://microsoft-my.sharepoint.com/:x:/p/v-amaver/EQ2hhHtdeERIi6xORuBhBCAB4E7rh1br26nk886S5v-Idg?e=vABofb)

[2019-07-15 15:03] micahgodbolt commented on #9808
FYI here is the 6.180.0 release. Is it one of these changes? https://github.com/OfficeDev/office-ui-fabric-react/releases/tag/office-ui-fabric-react_v6.180.0

[2019-07-15 16:19] rake93 commented on #9756
@Vitalius1 , Thank you so much for the quick response with sample code. I appreciate your effort. I need another help from the above solution code. Consider that from attached snapshot of the issue description, there we have a source dropdown options, based on those dropdown selections we need to refresh the DetailsList i.e. for every option change we need to have new table grid. I have tried and

[2019-07-15 17:46] #9720 closed

[2019-07-15 17:48] dzearing commented on #9786
Hey @Nasicus no worries, we are certainly going to fix this. This was mistagged. I discussed with @Vitalius1 this morning on this plan:

If a `<style date-merge-styles>` tag exists when we initially inject styling, we will inject after that. This gives the app dev a way to control where styles get injected.

By default, we will append the first style element to the beginning of the head, rather th

[2019-07-15 18:11] joschect commented on #9806
@mtone Thanks for including the codepen! I can definitely see that this is a bug. I don't see any obvious reason that this is happening yet, we'll investigate and get it fixed.

[2019-07-15 18:14] joschect commented on #9807
@j-te Thanks for adding this here for tracking! And for including all the linked issues and pr's. I'll keep track of the fix and make sure this gets resolved.

[2019-07-15 19:03] Vitalius1 commented on #9756
@rake93, I am afraid I don’t have enough cycles and/or context of your scenario requirements to be able to provide you with a solution. With that said, to get a refresh of the `DetailsList` you need to update the `items` prop and in order to do that you would have to control the items in your app’s state. Or as the last resort, there is a public method `forceUpdate` on the `DetailsList` that you c

[2019-07-15 20:18] mtone commented on #9806
Thanks!
I noticed it also works if I modify the array/item instead of creating a new one on every render. I think  generating items dynamically should be OK though. https://codepen.io/mtone/pen/EBBROv

[2019-07-15 21:03] #9712 closed

[2019-07-15 21:09] khmakoto commented on #9716
@micahgodbolt I've checked the figma files and the current implementation seems to be to spec with our designs. Do you know what's the process moving forward in terms of engaging with design to ask this question?

[2019-07-15 21:25] lorejoh12 commented on #9634
Unfortunately, we don't support the Hijri calendar system in the Calendar component, we only support Gregorian. It's been brought up before but we currently don't have any plans to implement it.

[2019-07-15 21:41] joschect commented on #9808
@lavanya-kuda Could you be a bit more specific as to where you're seeing the problem? Is it in fabric document cards? Or just everywhere? Is there a codepen that repros it?

[2019-07-15 21:41] tabrumle commented on #7534
Is there an estimate on when this work, specifically bug 1 and 6, would be funded? There is an A11yMAS bug in office that we need fixed by the end of the month. @jspurlin for visibility.

[2019-07-15 21:50] khmakoto commented on #9698
@brandonthomas I tried the same approach and arrived to similar conclusions.

@dzearing any ideas of how we could go around this? I honestly don't see a way to make this a non-breaking change if we intend to use `ReactNode`.

[2019-07-15 22:02] phkuo commented on #9795
@amirburbea I would also suggest looking at tweaking the semantic slot colors, and making sure you're using the Azure customizations against the correct version of Fabric that it's built for (I assume Fabric 6). The reason for that is that buttons pull from very different slots in Fabric 6 than 7.

Otherwise, you can try this palette for your theme:

[code]

You can mix that with your choice of pr

[2019-07-15 23:00] #8491 closed

[2019-07-15 23:28] #9799 closed

[2019-07-16 00:06] khmakoto commented on #9710
Hi @omerquyyum12 I've tried on three different resolution and dpi configurations and multiple browsers and I haven't been able to repro your situation. I'll mark it as `Not An Issue` for now since I can't repro it.

[2019-07-16 00:11] khmakoto commented on #9631
I'll close this in favor of #9784 given that it more specifically describes the problem that we're trying to solve.

[2019-07-16 00:11] #9631 closed

[2019-07-16 00:30] KevinTCoughlin commented on #9598
@jaimereyesmx, does the following Codepen work for you as a sample?

https://codepen.io/kevintcoughlin/pen/LKKMdG?editors=1010

It is overriding the render method for the _default_ `DetailsList` checkbox to render a native `<input type="checkbox" />`. You should be able to achieve what you want using `onRenderCheckbox`.

https://github.com/OfficeDev/office-ui-fabric-react/blob/167f840c525153e587c2

[2019-07-16 00:38] khmakoto commented on #9714
Hi @adambowles it seems I can't repro it anymore. I'll be adding the `Can't Repro` label here and, if I encounter it again, then I'll open the issue again.

[2019-07-16 01:35] HarryGifford commented on #9720
@khmakoto Are you willing to backport this to fabric 5 and 6?

[2019-07-16 07:11] luckyyd opened #9819 "Peoplepicker suggestions does not have sufficient color contrast in fabric@6.195.1"
## Codepen demonstrating the issue
People picker persona initial color in office-ui-fabric-react@6.195.1
https://codepen.io/anon/pen/KjOKma
People picker persona initial color in office-ui-fabric-react@7
https://codepen.io/anon/pen/ewqYEe

## Actual behavior:
The initial persona color in v6 (6.195.1) lts does not meet A11y color contrast requirement: Elements must have sufficient color contrast: E

[2019-07-16 07:38] omerquyyum12 commented on #9710
Hi @khmakoto  you can see that it is producing in my UI and also in Fabric UI .  one of my task is depend upon this fix :-)

[2019-07-16 09:00] PavanJagini opened #9820 "How to set up aria lable for reading out the rows are being filtered by screenreader"
## Codepen demonstrating the issue

## Actual behavior:
how to setup aria label for making screenreader users to understand the rows are filtered in detailslist control once done.

## Expected behavior:

## Documentation describing expected behavior

[2019-07-16 10:57] PavanJagini opened #9821 "Datepicker reading out unnecessary or addtional text for screenreader users when hit enter to select date"
## Codepen demonstrating the issue

## Actual behavior:
When screen reader users navigate "From" and "To" Datepicker controls and select any date from the calendar then the name of the "My Action History" tab is announced along with the "From" and "To" controls which is inappropriate.
![image](https://user-images.githubusercontent.com/52062804/61289259-907df000-a7e6-11e9-9ba5-03ae6fecc909.png)

##

[2019-07-16 14:45] rgurusankar opened #9822 "Not able to programatically set the styles of a cell inside DetailsList component"
### Environment Information

- __Package version(s)__: 7.0.0
- __Browser and OS versions__:  Windows OS and Chrome browser

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

Not able to change the style of a cell in DetailsList component programatically. For ex: add margin, padding etc to a cell in the table on click of a button

#### Expected behavior:

should be

[2019-07-16 14:59] micahgodbolt commented on #7534
@markionium @mtennoe is this something you can take a look at?

[2019-07-16 15:01] micahgodbolt commented on #9716
I usually would pull @betrue-final-final in for these questions. What was the logic in changing the internal padding of a fixed width panel at different breakpoints. I'm guessing this causes an unnecessary content reflow.

[2019-07-16 15:05] Katli95 commented on #9287
Yeah, this feature would be amazing. I was pretty surprised when I saw that it wasn't there already :/ Kind of a requirement for controlling the width's of the columns manually. Still, kudos for the great work!

[2019-07-16 16:08] amirburbea commented on #9795
Trying to use 7, I did the following but it still didn't look all that great with the colors, maybe one day when i have time I can dig into the semantic colors.

[code]

[2019-07-16 16:39] tabrumle commented on #7534
The fix seems to be smaller than I had thought. I've sent out a PR with the possible change.

[2019-07-16 16:50] joschect commented on #9820
@PavanJagini Thanks for your question. Let me confirm the issue, it sounds like you are expecting the details list to read out when it has been filtered, is that correct?

Based on what I'm seeing in the details list code it looks like the filterAriaLabel is applied to the column that's filtered, which means the text will get read out when a user focuses that column. Could you check and see if the

[2019-07-16 17:30] khmakoto commented on #9720
@HarryGifford for sure, I'll make a PR for that as soon as I can.

[2019-07-16 17:33] micahgodbolt commented on #9710
I can see it too. Not 100% sure what our options are. Just comes down to subpixel rendering in that browser.

[2019-07-16 17:35] micahgodbolt commented on #9710
I'd probably consider this a browser bug and leave it at 'wont fix'.

[2019-07-16 17:42] khmakoto commented on #9710
@omerquyyum12 I guess you could bump of the line to be 2px instead of 1px. Otherwise, your best bet would be to file an issue in Chrome.

Hopefully this helps at least a little bit. I'll close the issue for now.

[2019-07-16 17:42] #9710 closed

[2019-07-16 17:47] Markionium commented on #7534
Thanks for taking a look @tabrumle. @micahgodbolt I'll have a look this week.

[2019-07-16 17:49] joschect commented on #9821
@PavanJagini thanks for your post. Could you provide a codepen that reproduces this behavior? Here is a basic [datepicker codepen](https://codepen.io/slimemold/pen/wLVxjK) to get you started.

[2019-07-16 17:59] taparikh commented on #9412
@Vitalius1 Hi! Just wanted to make sure that this issue is still being tracked and worked on! Let me know if you need more information.

[2019-07-16 18:01] taparikh commented on #9800
@Vitalius1  Hi ! Just wanted to follow up on this issue & make sure you have all the information you need to resolve it !

[2019-07-16 18:02] joschect commented on #9819
@luckyyd Thanks for submitting this bug! There's currently been some discussion about the right way to go about aligning the palettes that are involved in this. See #9691 and #9692 . This is definitely a bug and we'll keep working on it.

[2019-07-16 18:02] taparikh commented on #9791
@Vitalius1  Thanks for your note - I am currently working on your suggestions & will get back to you if any questions

[2019-07-16 18:03] #9715 closed

[2019-07-16 18:03] taparikh commented on #9793
@Vitalius1  Thanks for your note - We will test it using a narrator & will get back to you if any questions

[2019-07-16 18:36] betrue-final-final commented on #9716
Actually it’s Christopher Wymer. I’ll contact him elsewhere as I don’t know his tag here.

[2019-07-16 18:48] betrue-final-final commented on #9716
It should not change size. Make it match the current toolkit, which I believe is 16px.

[2019-07-16 18:55] khmakoto commented on #9718
@rohitrewa and I spoke offline, we were able to repro the issue in his environment but it seemed to be due to conditions unrelated to the fabric upgrade. I agreed to take a look into how we could get the behavior he wanted in current Fabric.

The main problem here is that it is impossible to get the mouse events that happen inside of an `iframe` propagated to the parent, given that an `iframe` ess

[2019-07-16 18:55] #9718 closed

[2019-07-16 19:11] khmakoto commented on #9682
@B-Esmaili I've added a reference to this issue in #6030. I'll be closing this issue as a duplicate since the work is already being tracked there and in #6565.

Thanks!

[2019-07-16 19:11] #9682 closed

[2019-07-16 20:04] natalieethell commented on #9412
@taparikh can you re-confirm what elements on your page are causing the error? On our website, the issue we're seeing is due to a "flightPicker" element that is controlled by developer.microsoft.com and sits on the same level as the "main" element in the DOM. I'm wondering if the placement of those elements causing the errors is part of the issue.

[2019-07-16 20:31] joschect commented on #9821
Also, are you passing "My Action History" as a label to the datepicker in any way? If it's not being passed through then it is more likely that something is going on with narrator rather than there being a problem with the date picker itself.

[2019-07-16 20:32] joschect commented on #9806
@mtone That makes sense, since you're modifying a reference it will propagate through even though new props/an update isn't explicitly being made.

[2019-07-16 20:35] Vitalius1 commented on #9795
@amirburbea I believe to have a granular control over your theme you most definitely have to tap into `semanticColors`.
I will soft close the issue with `Not an issue` label or if you have more questions, feel free to to ask and I will reopen it. Thanks for submitting the issue. It will serve as search result for anyone else interested in this kind of questions.

[2019-07-16 20:41] Vitalius1 commented on #9800
@taparikh will take a look later today and come back with an answer. Thanks for the follow up.

[2019-07-16 21:10] khmakoto commented on #9672
Hi @weijia-ai, [here is a codepen](https://codepen.io/khmakoto/pen/GbVPGr?editors=0010) where each `DatePicker` is being changed depending on the value that is chosen for the other `DatePicker` (move start date if new end date is before and move end date if new start date is after).

Please let me know if this helps or if there is anything else I can do for you!

[2019-07-16 21:12] joschect commented on #9822
@rgurusankar Thanks for submitting your question! I think you should be able to achieve this already by using the `onRender` prop in `IColumnProps`. It lets you pass in your own custom renderer to render each cell how you want. From there you can add or change padding depending on the props. For even more control you can provide your own `rowFieldsAs` prop in `IDetailsRowBaseProps` which lets you

[2019-07-16 21:18] #9797 closed

[2019-07-16 22:01] #9693 closed

[2019-07-16 22:17] eveleens commented on #6362
We have a two DatePicker accessibility bugs that I can't find in this list already:

**_Opening the DatePicker:_**
**Actual:**
Screen reader reading all the controls of calendar under table format as 6 row 5 column.
**Expected:**
Screen reader should not announce calendar controls under table format.It should read only days and date year information.

**_Selecting a date_**
**Actual Result:**
Scre

[2019-07-16 22:26] micahgodbolt commented on #9695
We'd like to do a pass over all of the inputs and make them more consistent, but I'd rather do that entire body of work, rather than a single patch that might cause more debt in the future.

@chriskuech - which controls are you wanting to add description to? Can you simply create your own form wrapper that renders label, description and the form element?

[2019-07-16 22:31] micahgodbolt commented on #9695
@betrue-final-final we'd really like to make fabric inputs more form friendly. Is there any work done to create consistency regarding labels, descriptions, error states etc? We've got the basic scenarios covered, but what if a checkbox is required? We don't have error states for that.

[2019-07-16 22:39] khmakoto commented on #9690
Hi @dollykumari5, I've confirmed that this is by design in scan mode. This is what the Narrator team has told me:

Please let me know if you need anything else or if you want any clarification.

[2019-07-16 22:52] taparikh commented on #9412
Hi @natalieethell  Thanks for your response.

Screenshot showing the position of the element using chrome browsers inspector tool.
![image](https://user-images.githubusercontent.com/51679982/61335187-74c41b00-a7e1-11e9-9836-cebaa35da5a4.png)

Screenshot showing the accessibility error during FastPass of the Accessibility Insights tool.
![image](https://user-images.githubusercontent.com/51679982/61

[2019-07-16 23:02] taparikh commented on #9793
@Vitalius1 Hi I installed the JAWS screen reader and tested the popup modal in our environment.  It did announce that the dialog was open but it also went head and read the menu options on the table header. I am not sure if this is expected behavior. Id be happy to hop on a quick teams call to discuss this with you

[2019-07-16 23:46] candiceye opened #9829 "Request: Enable rendering of callout without rendering dropdown box itself"
**Describe the feature that you would like added**
A feature that would enable me to trigger an event that renders a callout without having to create a dropdown box in the first place. For example, clicking on some text would render my callout. No dropdown box is visible throughout this whole process.

**What component or utility would this be added to**
Dropdown component

**Have you discussed th

[2019-07-16 23:52] taparikh commented on #9791
Hi @Vitalius1 - I updated my packages but im still getting the same error as before with garbled names for the checkboxes.
![image](https://user-images.githubusercontent.com/51679982/61337169-10a55500-a7e9-11e9-93f3-d31bd02a7a9e.png)
I did test the codepen you provided and it behaves exactly as you described. Please let me know my next steps

[2019-07-17 00:06] acamargob opened #9830 "ComboBox: Backspace behavior is inconsistent"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

#### Expected behavior:

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected

[2019-07-17 00:06] #9830 closed

[2019-07-17 00:11] acamargob opened #9831 "Backspace on ComboBox is inconsistent when AllowFreeform:T"
### Environment Information

- __Package version(s)__: Latest (7.10.0)
- __Browser and OS versions__: Tested in Chrome and Edge on Windows

### Please provide a reproduction of the bug in a codepen:

https://fabricweb.z5.web.core.windows.net/oufr/7.10.0/#/examples/ComboBox

#### Actual behavior:

1. Click on first combobox example in the link above
2. Select all text with Ctrl+A
3. Hit backspace.

[2019-07-17 00:15] #9714 closed

[2019-07-17 00:34] eveleens commented on #6646
These two bugs may have to do with Bug 9, but I'm not sure.

In Scan mode in DetailsList and hitting "down" arrow to scan elements, the user needs to click the down arrow twice to get past the checkmark - one to read the entire row's information, one to read the checkbox information.
**Actual:**
In scan mode navigation, Narrator Focus land on hidden elements and it reads unnecessary information.
*

[2019-07-17 01:05] Vitalius1 commented on #9761
I looked into it more and I can not find a solution to why it working on the website and not in the codepen. Which makes me think this could be an issue related to the environment where the control is running or it’s a Narrator bug. I looked at the accessibility tree provided by both the Edge browser and Accessibility Insights tool in both environments and saw no difference. There is just a button

[2019-07-17 01:51] Vitalius1 commented on #9793
If you go on our demo website on Dialog page to test it you will notice that it reads out the heading and then all the content inside of that Dialog, so I would expect the fact that in your environment reading the table header is expected. I would also be very thankful if you could provide a repro with an isolated Dialog or Modal component so I can understand what is the issue.

[2019-07-17 01:58] Vitalius1 commented on #9791
Which checkbox is now flagged? The one in the header or the first row? Did you try to actually use an AT (Narrator, JAWS, NVDA) to see what is the actual readout? There are multiple layers around that checkbox and it might be possible that the Accessibility Insights tool is tripping on of the layer but when actually using a screenreader you hear the expected output.

[2019-07-17 05:57] PavanJagini commented on #9821
Hey @joschect, Thanks for responding. Below is the exact code snippet used. please have a look and suggest. Thanks in adv.

                    <div className="col-md-2 col-xs-6 col-sm-4">
                        <DatePicker
                            label="From"
                            placeholder="yyyy-mm-dd"
                            isRequired={false}
                            allowT

[2019-07-17 08:59] cnamal opened #9832 "Focus on CommandBar item"
We would like to focus a button in the `CommandBar` when it is mounted as per this [codepen](https://codepen.io/namal-ms/pen/jgNqmd). However, this doesn't work, probably because the button is initially hidden.
As a temporary workaround, we set focus after 1 second, and that works, but is a bit hacky :D.

A couple of questions:
- Is there a better way of setting the focus with the current OUFR cod

[2019-07-17 10:55] cnamal commented on #9659
the same is true for Combobox.

[2019-07-17 10:56] Thisen opened #9833 "Question: Are you moving away from Rush? If so, why?"
I know you suggest putting questions on Stack Overflow, but this is more a question to your build tooling.

As the title says:

**Are you moving away from Rush?**
**If so, why?**

The context of this question is that I've recently introduced Rush to my company and we're started using it. I've used this repository as a reference of how Rush scales and works in a monorepo. It concerns me that it loo

[2019-07-17 10:58] cnamal commented on #9659
W3C provides a working Combobox:
https://www.w3.org/TR/wai-aria-practices/examples/combobox/aria1.1pattern/listbox-combo.html
I think the difference is W3C's expanded information is on a div, and on OUFR it's on an input

[2019-07-17 11:19] barbara-lea commented on #6206
Could you help me out with this? I thought that the `Selection`'s `getKey` callback should be a function providing a given item's key. How should this be set to always return the `setKey` of the `DetailsList`?
The sorting + selection does not work for me with this approach.

[2019-07-17 12:23] Hardhik opened #9834 "TextField component with Error Message doesn't read out error message correctly"
Using Win10 Narrator + Edge browser

Official examples here: https://developer.microsoft.com/en-us/fabric/#/controls/web/textfield#usage

## Codepen demonstrating the issue
https://codepen.io/anon/pen/LwPzEp

## Actual behavior:
1) Focus is on the TextField component with error message in it. Navigate using Caps Lock + Arrow keys.
This is what the component reads (got text from Narrator Buddy):
"

[2019-07-17 13:41] x73x63 opened #9835 "Styling DefaultEffects not used"
## Codepen demonstrating the issue

styles\index.ts Add
`export { DefaultEffects } from './DefaultEffects';`

[2019-07-17 15:26] #9786 closed

[2019-07-17 17:23] betrue-final-final commented on #4066
Yes @shaipetel is correct. We should leverage the common Fabric pattern of the overflow. Here’s the states:
![image](https://user-images.githubusercontent.com/20363037/61393850-b521a880-a876-11e9-9f46-192ad1964389.png)

and examples:
![image](https://user-images.githubusercontent.com/20363037/61396560-d4bbcf80-a87c-11e9-86b2-87d7f7c8c30f.png)

Pretty simple. If a pivot in the overflow is selected,

[2019-07-17 17:23] betrue-final-final commented on #4066
Hey @micahgodbolt can we kick this up again?

[2019-07-17 17:28] KevinTCoughlin commented on #9719
@guptarajesh001, I have a Github repo that serves as a sample SPFx webpart using Fabric 6's theming system at https://github.com/KevinTCoughlin/spfx-oufr-theme-sample.

Can you take a look at the code and see if that makes sense for your use-case?

The file most relevant to your ask should be https://github.com/KevinTCoughlin/spfx-oufr-theme-sample/blob/master/src/webparts/helloWorld/components/He

[2019-07-17 17:30] KevinTCoughlin commented on #9719
I should add that if the above sample doesn't help you, please let us know why. We've been looking to document this better so I'd like your experience to inform that work. Mainly:

Is the sample relevant or missing information you'd find useful?

[2019-07-17 17:39] joschect commented on #9831
@acamargob Thanks for submitting this and including a codepen! I can reproduce this easily and it's pretty obviously a bug. We'll take a look.

[2019-07-17 17:42] joschect commented on #9829
@candiceye To confirm what you are asking, it sounds you like you want the dropdown menu to be able to be rendered without the dropdown button itself, is that correct?

If that is the case can you describe your scenario a bit more? Would you still need keyboard and all other dropdown functionality?

[2019-07-17 17:45] caiomontei opened #9837 "Narrator announces combobox as readonly"
## Codepen demonstrating the issue
https://codepen.io/anon/pen/PMYxmL?&editable=true

## Actual behavior:
If Combobox doesn't allow free from input, narrator reads it as readonly.
## Expected behavior:
Narrator should not announce readonly, since the user can select other options.

## Documentation describing expected behavior
https://microsoft.sharepoint.com/:w:/r/teams/msenable/_layouts/15/WopiF

[2019-07-17 17:52] kenotron commented on #9833
@dzearing has a much better answer than I right inside the PR:

[2019-07-17 17:55] joschect commented on #9835
@x73x63 Thanks for submitting this! I think this a good idea and will look into getting it added.

[2019-07-17 17:57] Jahnp commented on #9660
Hmm—from doing a quick search through the code, it actually seems React isn't used directly by either `@uifabric/styling` or `@uifabric/icons`. The dependency may have been left over from copying when the package was created, and I imagine it'd be safe to remove from both.

@dzearing , any concerns with that? I may take a crack at it this week if I have the time.

[2019-07-17 18:03] saraXiangL opened #9838 "Persona image doesn't support initial names in other languages"
**Describe the feature that you would like added**

In Persona, when we generate the icon based on initial name in other language, like 森雪株式会社, it displays blank.

Can Persona support initial name in other languages instead of displaying blank? It's available in a similar component react-avatar (https://www.sitebase.be/react-avatar/)

**What component or utility would this be added to**

Persona

[2019-07-17 18:03] micahgodbolt commented on #4066
Yeah, this is certainly doable. Treat the top of the pivots like a command bar. It might require a decent bit of refactoring, but it's a good direction forward.

[2019-07-17 18:14] taparikh commented on #9791
@Vitalius1 the checkbox that is flagged is the one associated with the row. Just wanted to doublecheck that if this test passes in the Narrator does that imply that it is "accessible" and overrides the result of the Accessibility Insights Tool ?

[2019-07-17 18:17] joschect commented on #9832
@cnamal thanks for submitting this! I can see the problem that you're experiencing and I'm digging into exactly why it's happening.

[2019-07-17 18:19] taparikh commented on #9793
@Vitalius1 As much as id like to share an isolated version, the dialog is closely tied to the data layer & its existence is conditional. I think at the point it would be helpful for us to hop on a teams call & debug this issue (and possibly others too) in our local environment. I'd happy to share dev URL as well with a couple days access so you can check the bugs.

[2019-07-17 18:19] Vitalius1 commented on #9791
Yes, I would say that the Accessibility Insights Tool result is based of some static analysis and when it flags something it would require a confirmation with a real AT if the flag is not a false positive. After all the user is using the screenreader and not the Insights Tool.

[2019-07-17 18:25] joschect commented on #9834
@Hardhik thanks for submitting this accessibility problem! Could you confirm the repro steps? When I use narrator I hear it read out "Editing, invalid, with error message"

[2019-07-17 18:26] khmakoto commented on #9683
I've traced down the introduction of this behavior to version 5.116.1 and PR #5580, which is a cherrypick from #5552. I'll check to see where this was fixed so that I can cherrypick it into Fabric 5.

As a side note, it seems that the bug that was occurring in Fabric 7 where `onOuterClick` was not being called is fixed now, so we can relax on that for now.

[2019-07-17 18:27] micahgodbolt commented on #9838
Looking at the react-avatar examples passing in the (name?) of  森雪株式会社 returns a persona with the first character in the circle

![image](https://user-images.githubusercontent.com/1434956/61400758-ccb45d80-a885-11e9-8514-372dfecbe842.png)

If this is an acceptable 'initial' this should be pretty easy to implement.

[2019-07-17 18:32] micahgodbolt commented on #9838
@saraXiangL Do you know if using the first character is the preferred initials in this case? @betrue-final-final, any idea if there is precedent here?

[2019-07-17 19:07] Vitalius1 commented on #9791
@betrue-final-final could you please make a quick pass over the DetailsList screenreader readout and confirm that we readout the row’s checkbox aria-label.

[2019-07-17 19:35] #9716 closed

[2019-07-17 20:18] weijia-ai commented on #9672
@khmakoto Thank you! I missed the obvious part and that sample is super helpful. Thanks!

[2019-07-17 20:25] kennyoctopus opened #9842 "DetailsList rowWidth added on detailsHeaderProps broke fullwidth list layout"
### Environment Information

- __Package version(s)__: 7.11.0
- __Browser and OS versions__: Chrome
- __Revision__: 5b8005c7dd8dcff9bc4c3d46550a0e02a7885199

DetailsList rowWidth added on detailsHeaderProps broke fullwidth list layout:

This line was added: `rowWidth: this._sumColumnWidths(this.state.adjustedColumns)` and since, the component with the class name `ms-DetailsRow` have a dynamically

[2019-07-17 20:31] KevinTCoughlin commented on #9842
@kennyoctopus, apologies for the friction. My understanding after having worked on this is that `DetailsListLayoutMode.fixedColumns` was intended to render columns with a "fixed" width, not to fill the `DetailsList` contents. However, it was filling its contents by chance due to bugs in the render path of `DetailsList`. Related PR: https://github.com/OfficeDev/office-ui-fabric-react/pull/9343.

`D

[2019-07-17 20:33] bmathwig commented on #6525
@KevinTCoughlin Has there been any updates on this issue? It looks like the DevOps task for the Flow team was marked "Done" via exclusion. Although we aren't using Fabric React components directly, I'm hitting this exact same issue with Narrator and non-Checkbox role elements. Curious if this is a Narrator tree refresh bug or if you were able to find a work around.

[2019-07-17 20:34] khmakoto commented on #9672
@weijia-ai For sure! I'm glad the codepen is helpful! If there's anything else I can help you with please let me know! And feel free to close this issue as well if you think it is solved 😄

[2019-07-17 20:35] kennyoctopus commented on #9842
It does fix the layout problem, but using the `justified ` mode cancel the overflow-x. So when there are lots of columns instead of rendering an overflow with a scroll bar, it ajusts the width of each column to fix the viewport, which is a problem for us as we can have 15+ columns.

![image](https://user-images.githubusercontent.com/51915343/61409767-eb7c1980-a8b0-11e9-89d9-3a71a5a94057.png)

[2019-07-17 20:47] weijia-ai commented on #9672
Yeah, sure. :)

[2019-07-17 20:47] #9672 closed

[2019-07-17 21:00] #9795 closed

[2019-07-17 21:04] qazizaahirah commented on #3726
Any plans for implementing this feature?

[2019-07-17 21:10] micahgodbolt commented on #3726
no plans right now. we're considering a major overhaul for dropdown/combobox and would certainly consider this feature then

[2019-07-17 21:34] joschect commented on #9821
Hey @PavanJagini it doesn't look like you are passing in a string to datepicker into one of the aria props. I do see that you had description but it's comment out so it's unlikely that the datepicker is the reason that the extra text is being read out. Are you able to make a repro using the codepen starter? It would help out a lot if you could go there and the structure that you're using for the "

[2019-07-17 21:37] joschect commented on #9807
Per Vitalie #9805 does not fix this. A different feature will need to be added.

[2019-07-17 21:54] joschect commented on #9837
@caiomontei thanks for submitting this and including a codepen! This is a bug and we'll work on getting it fixed.

[2019-07-17 22:12] apostolisms commented on #9833
It is healthy for teams to experiment with different tools and compare pros and cons. Rush is used by a variety of teams within Microsoft and is actively supported. We don’t dictate how teams do their work or what tools to use, there is a lot of autonomy to experiment with different approaches and we all benefit from that.

[2019-07-17 22:21] joschect commented on #9820
@PavanJagini I believe that the details list is currently working as expected.

The details list shouldn’t announce when the filter changes unless it’s being focused directly. Since the filter searchbox isn’t owned by the details list it’s up to that component to provide the details necessary for narrator to announce when the filter is applied. However, narrator should announce the current state o

[2019-07-17 22:29] khmakoto commented on #9689
Just wanted to give an update here that I'm still waiting for a response from the Narrator team regarding this issue.

[2019-07-17 22:40] eveleens commented on #9820
This is related to bug 4 in #6646

I have similar accessibility bug on this:

**Actual:**
Screen reader does not announce the message displayed on the screen when user search for any invalid value.

**Expected:**
Screen reader should announce the message displayed on the screen when user search for any invalid value i.e. "No matches found".

[2019-07-17 22:58] saraXiangL commented on #9838
Hi Micah. Thank you for your reply. The first character in other languages might have a totally different meaning. In my opinion, a default gender neutral user icon is preferred in this situation.

[2019-07-17 23:19] micahgodbolt commented on #9838
Ah, so you aren't proposing us try to infer the symbol to use, but rather have a fallback generic icon be rendered if we cant infer the initials

TLDR: use contact icon if initials can't be infered
![image](https://user-images.githubusercontent.com/1434956/61418203-a0f99d80-a8ae-11e9-8433-aa87aada7fdc.png)

[2019-07-17 23:56] octogonz commented on #9833
People tend to think of tool chains as relatively simple little bricks that you throw together so you can get your "real" project built and released.  This is really not the case, especially in the NodeJS world, especially when you're shipping serious products. We've found that tool chains are complex software spaces all to themselves.

There's a real value in having different options that cater t

[2019-07-18 01:00] #9726 closed

[2019-07-18 04:04] dzearing commented on #9833
Well said @octogonz. Rush is a great tool. I also worked on it, and it is still being improved as we have many teams using it. The work with lerna and yarn here is an experiment. If there are better or worse things about it, we can learn from that. Our goal is to constantly improve, try things, and make sure the stack keeps devs productive. If it doesn’t meet our needs or creates too much friction

[2019-07-18 06:32] dollykumari5 opened #9849 "[Accessibility][Keyboard Navigation-Calendar]: When the user press the enter key on Go to today button focus is not moving to the todays date instead of moving to the Up arrow control."
Detailed description of this issue can be found here [SharePoint](https://microsoft-my.sharepoint.com/:x:/p/v-amaver/EXjG-GPHyHFFgePeZ0OYgu8Bd6icL4BH55rR5hbKEJavtg?e=7i2W6O)

Component: Calendar

[2019-07-18 07:18] JadyM commented on #7141
[Icon Tool] -- it is sometimes difficult to find a relevant icon due to unusual icon names, as mentioned in prior comments. I guess they cannot now be changed as that would break all existing components.

Could the Office UI Fabric icons listed in [Icon Tool] be given **tags** or **secondary descriptive names** so it's easier to find the icon you want using search? I imagine people use a wide vari

[2019-07-18 10:20] gokuldhanvanthri opened #9850 "DetailedList - Grouped: Adding all the column values to the group header."
Feature Requirement: Adding all the column values to the group header.
Example: Adding color value to the group groupred0 & the same value displayed as part of respective column
groups: [
                {key: 'groupred0', name: 'Color: "red"', **color: 'red',** startIndex: 0, count: 2},
]

Component: DetailedList - Grouped

This as part of the requirement, looking for an alternative to the treeta

[2019-07-18 12:31] dollykumari5 commented on #8349
Bug 1, Bug 2, Bug 6, Bug 8 and Bug 11 from the above list of bugs are fixed.
Verified on Test Environment:
OS: Version: 1903(OS Build 18362.100)
URL: https://fabricweb.z5.web.core.windows.net/oufr/7.10.0/#/examples/calendar
Browser: Edge

[2019-07-18 12:40] #9849 closed

[2019-07-18 12:41] dollykumari5 commented on #9849
Logged a duplicate issue by mistake. hence closing this bug

[2019-07-18 14:00] #9741 closed

[2019-07-18 14:00] #9833 closed

[2019-07-18 15:03] manuelkpro opened #9851 "Example"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

#### Expected behavior:

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected

[2019-07-18 15:32] AndrewCraswell opened #9852 "Dialog: title section rendered in a <p></p> tag"
#### Actual behavior:

The contents of the Dialog `title` are rendered in a `<p>` tag, making it impossible to implement more advanced designs where we may need a component or `<div>` to render inside the `title` area.

At the least, there should be a way to use the `Modal` component with some new component such as `DialogHeader` that allows us to reuse some of the Dialog header design and functio

[2019-07-18 17:02] tabrumle commented on #7534
I agree that Bug 1 is no longer applicable. The personas should now all housed under the right li elements now. I haven't seen Bug 2 in the office use case since we always have an onClick action associated with the FacepileButtons and are able to access them. I do agree though that it would seem strange to navigate to uninteractive controls. Narrator users can also just use CAPS+arrows to read the

[2019-07-18 17:07] natalieethell commented on #9412
Hey @taparikh thanks for providing the screenshots! Could you provide what version of office-ui-fabric-react you're using?

[2019-07-18 17:18] natalieethell commented on #9412
After looking at this more, it looks like the problem is coming from FocusTrapZone's bumper element:

https://github.com/OfficeDev/office-ui-fabric-react/blob/f31e6a0fd26fdefc9d00df5a03f31153f1975620/packages/office-ui-fabric-react/src/components/FocusTrapZone/FocusTrapZone.tsx#L79-L86

https://github.com/OfficeDev/office-ui-fabric-react/blob/f31e6a0fd26fdefc9d00df5a03f31153f1975620/packages/offic

[2019-07-18 17:49] LiangMingChen opened #9854 "Test setup should not ignore the legit error."
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

office-ui-fabric-react@^6.181.1, office-ui-fabric-react@^6.184.0, office-ui-fabric-react@^6.185.0:
  version "6.185.0"

#### Actual behavior:
this depot's test setup should not ignore the Null ref error cause the components like &lt;List&gt; a lot harder to test.

Spec

[2019-07-18 18:01] KevinTCoughlin opened #9856 "[Build] Components relying on CDN assets can break CI"
### Environment Information

CI, specifically Screener visual regression testing

### Please provide a reproduction of the bug in a codepen:

PR https://github.com/OfficeDev/office-ui-fabric-react/pull/9853 brought to our attention that some components rely on CDN assets that can change which in turn breaks CI, see:

https://screener.io/v2/states/ryQqxfIYZ.OfficeDev-office-ui-fabric-react/screener

[2019-07-18 18:22] khmakoto commented on #9688
@micahgodbolt it seems we're doing very different things in different controls:
- We actually have `tooltipHostProps` in `Breadcrumb`, which I'll use to fix this bug.
- We also have `tooltipHostProps` in `CommandBar` (which creates a separate question about how to have multiple `Tooltip` props for different parts of a component).
- We use `title` in `Nav`, `SelectableOption` and `SpinButton`.
- We

[2019-07-18 18:23] khmakoto commented on #6390
Commenting the same comment here as I did in #9688

It seems we're doing very different things in different controls:
- We have `tooltipHostProps` in `Breadcrumb`.
- We also have `tooltipHostProps` in `CommandBar` (which creates a separate question about how to have multiple `Tooltip` props for different parts of a component).
- We use `title` in `Nav`, `SelectableOption` and `SpinButton`.
- We us

[2019-07-18 18:24] micahgodbolt commented on #9688
and this is why we now have an API review board :D

[2019-07-18 18:45] khmakoto commented on #9688
Actually, I take it bag, `tooltipHostProps` in `Breadcrumb` refer to the `Tooltips` on individual items, not on the overflow. So I'm back to square one on that.

[2019-07-18 19:24] #9773 closed

[2019-07-18 19:28] taparikh commented on #9412
@natalieethell The current version is office-ui-fabric-react "6.157.0"

[2019-07-18 19:34] Vitalius1 commented on #9321
Closing it due to the issue being fixed in #9845

[2019-07-18 19:34] #9321 closed

[2019-07-18 19:49] joschect commented on #9850
@gokuldhanvanthri Thanks for submitting this. I want to make sure that I'm understanding what you're asking for, do you want to be able to group by multiple columns? Or do you just want the values from other columns to appear in the group header?

[2019-07-18 20:15] joschect commented on #9820
@eveleens I don't believe that this is related. The screen readers announcement for invalid values is not owned by the details list. The fabric details list doesn't have any knowledge of what the filter is doing. The details list is just given the list of items and told to render those things. It's up to the searchbox to announce all of this information. Or another 3rd component that connects the

[2019-07-18 20:20] natalieethell commented on #9412
Ahh okay, I would recommend upgrading. It looks like this Modal issue was resolved when removing aria-hidden from that element in FocusTrapZone here: https://github.com/OfficeDev/office-ui-fabric-react/pull/9019. Try upgrading to `office-ui-fabric-react@v6.180.0` or later and let me know if that solves your issue (it should)!

[2019-07-18 20:32] micahgodbolt opened #9858 "Add useTheme hook"
**Describe the feature that you would like added**
We'd like to be able to access the theme via a hook like [Material](https://material-ui.com/styles/advanced/#accessing-the-theme-in-a-component)

**Have you discussed this feature with our team, and if so, who**
Chatted with @JasonGore a bit

**Additional context/screenshots**
We need to be careful and not add confusion here. Most users only care

[2019-07-18 20:33] KevinTCoughlin commented on #9851
Hey @manuelkpro, it looks like you omitted content from the issue template. Please open a new issue with the necessary information for your specific scenarios or requests.

Closing this as not actionable in its current state.

[2019-07-18 20:33] #9851 closed

[2019-07-18 20:38] joschect commented on #9852
@AndrewCraswell Thanks for the submission! I think there is definitely cause to make this more flexible and you provide a good use case for doing so.

@kkjeer Do you have a preference for splitting it out or just allowing the title to be rendered as a div?

[2019-07-18 21:57] eveleens commented on #9820
Reading again - agree. Disregard my comment.

[2019-07-18 22:33] joschect commented on #9854
@LiangMingChen Thanks for your submission. This is a good suggestion and we'll look into handling these errors more appropriately.

However, the issue you are encountering should have been fixed and it should no longer be a problem to test in react 7.1.0, the fix was also backported into fabric 6.190.0 . If you bump up to that later version you shouldn't have issues with it.

[2019-07-18 22:34] joschect commented on #9854
@dzearing do you know why that line, https://github.com/OfficeDev/office-ui-fabric-react/blob/f31e6a0fd26fdefc9d00df5a03f31153f1975620/scripts/jest/jest-setup.js#L6 , was added?

[2019-07-18 23:00] saraXiangL commented on #9838
Yeah... After discussion, we think this should be a better and easier way.

[2019-07-18 23:15] phkuo opened #9863 "Animation documentation is lacking"
The new animation documentation is located here:
https://developer.microsoft.com/en-us/fabric#/styles/web/motion

However there are a few problems with it.
- It should mention where you can actually find the CSS class in order to import it.
- The animations exist in both core (as a class) and OUFR (as code), which means they could potentially get out of sync.
- Documentation for the other animatio

[2019-07-18 23:17] joschect commented on #9832
@cnamal This is happening because Command bar can potentially render several times before it's done moving things around. It's content being hidden is definitely part of the problem. While I think that we can expose dataDidRender since that's a fairly reasonable ask, I don't believe that it would solve your particular problem cleanly. It looks like dataDidRender is called every time the page is re

[2019-07-18 23:32] mltejera commented on #9858
I will politely disagree that getTheme would works for the majority of cases. If I'm correct, it doesn't get updated when a new theme is loaded, so users (or developers on behalf of users) would have to refresh to get a newly loaded theme, resulting in a clunky end user experience.

At least, that was our experience when taking it for a test spin in the example app. This was our big reason for cre

[2019-07-18 23:35] JasonGore commented on #9858
My point was only that for users who use global theming only, `useTheme` provides no additional benefit.

[2019-07-19 00:41] maxwellred commented on #7137
### Fluent Updates

**Code diff Issues**

-**Row Background in "-Focus" state:** Live = neutralLight/ TK = white
-**Row Header font color in "-Hover" state:** Live = 323103 / TK = 201F1E
-**Row "-Focus on Column" state:** in TK but not live
![Screen Shot 2019-07-18 at 5 41 13 PM](https://user-images.githubusercontent.com/13246181/61501220-43835080-a983-11e9-8b0c-bb2c6ccbe125.png)
-**Checkbox size

[2019-07-19 01:25] Vitalius1 commented on #9800
@taparikh I looked over this issue and I actually consider that the div wrapping the `CommandBar` does not need to have any cues as it's never focused. The first focusable element is actually the first button when navigating with a screen reader. It might be another false positive that Accessibility Insights is flagging but in real world when using a screen reader the behavior is correct.

P.S. to

[2019-07-19 01:32] malisbad opened #9866 "Demo page for Layers Won't Close"
### Environment Information

- __Package version(s)__: 1.57.4 (I think)
- __Browser and OS versions__:

Google Chrome | 75.0.3770.100 (Official Build) (64-bit)
-- | --
Revision | cd0b15c8b6a4e70c44e27f35c37a4029bad3e3b0-refs/branch-heads/3770@{#1033}
OS | Mac OS X

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

When using the "Using Customizer to control the def

[2019-07-19 01:49] Vitalius1 commented on #9793
@taparikh When going to our [demo page for `Dialog`](https://developer.microsoft.com/en-us/fabric#/controls/web/dialog) and run the Accessibility Insights on it you can see that the issue you are reporting is no longer there. When looked at the example code I can see that the fix consists in adding hidden from view labels and assigning to the a unique ID that is later passed into `modalProps` prop

[2019-07-19 05:26] jdhuntington opened #9867 "Migrations should run all versions between current and target"
Migrations currently expects a specific semver, but is not clear about what can be run when/why. Should be more explicit, and default to running everything between current version and target.

[2019-07-19 05:35] gokuldhanvanthri commented on #9850
@joschect, Its the second one, I want the values from other columns to appear in the header.

[2019-07-19 05:37] Relojerias opened #9868 "labqurzor.onmicrosoft.com"
## Codepen demonstrating the issue

## Actual behavior:

## Expected behavior:

## Documentation describing expected behavior

[2019-07-19 07:23] #9868 closed

[2019-07-19 07:24] Relojerias commented on #9868
Ok

[2019-07-19 08:25] #8856 closed

[2019-07-19 08:26] JFish63 commented on #8856
This is solved. According to the documented examples you must wrap BasePicker<T,T> in styled<> and use the getStyles from BasePicker.styles. Then it works.

[2019-07-19 09:50] tipantaz commented on #9176
Hello! I have been encountering the same issue but no necessarily by clicking.

I can also reproduce it in your example.
https://developer.microsoft.com/en-us/fabric#/controls/web/detailslist

Version:  "office-ui-fabric-react": "7.5.0"
Chrome,Edge and windows.

Actual behavior:
Use tab to get to the list header (for example "Name"), use arrow down to get to the first row and press arrow key down

[2019-07-19 10:47] cnamal opened #9869 "Narrator doesn't announce expanded information on Combobox"
Similarly to #9659, Narrator doesn't convey the `aria-expanded` information for Combobox.

Repro steps:
Go to https://developer.microsoft.com/en-us/fabric#/controls/web/combobox
Start Narrator
Tab until you get to the _ComboBox with toggleable freeform/auto-complete_ example combobox with both freeform and autocomplete disabled.
Narrator doesn't convey the `aria-expanded` information for Combobox.

[2019-07-19 11:48] known-as-bmf commented on #5473
Any update on this issue ?

The spec linked through the thread is actually for **keyboard** interaction and states:

but also states:

So it makes no sense to trigger the onChange event when focusing the dropown (via keyboard or mouse).

Seems like bad UX to make decisions for the user interacting with the input.

[2019-07-19 16:40] joschect commented on #9866
@malisbad thanks for submitting this! It's an easy bug fix which I've just put into pr.

[2019-07-19 16:42] joschect commented on #9838
@saraXiangL  and @micahgodbolt sounds good. I'll get this into pr!

[2019-07-19 16:47] joschect commented on #9838
Actually, @saraXiangL  and @micahgodbolt after looking at this, I'm confused as to why it's showing us blank rather than showing the icon. Looking at the code it appears that's what we already do, and we already have some test cases in the examples.

@saraXiangL where are you seeing them show up blank? There might be a bug somewhere if you can share a repro.

![image](https://user-images.githubuse

[2019-07-19 16:51] taparikh commented on #9800
@Vitalius1 We tried everything to have some value except none show up for the HTML or Aria cues - but no prop seems to fill those values.

[2019-07-19 17:00] micahgodbolt commented on #9838
Hah....at least we proposed a solution that others came to as well :D

[2019-07-19 17:15] pagaur opened #9871 "Support to set custom attributes on Spin button or ComboBox components"
We need a way to allow DOM custom attributes on SpinButton and ComboBox fabric components.

   https://reactjs.org/blog/2017/09/08/dom-attributes-in-react-16.html

**Describe the feature that you would like added**
To associate a custom attribute by accessing the domElement.setAttribute one has to use findDomNode API which is discouraged, and the same can be done in reacty fashion by putting the c

[2019-07-19 17:16] qazizaahirah commented on #9791
Same issue. Updating office fabric to higher version  resolves the issue

[2019-07-19 17:17] taparikh commented on #9791
@Vitalius1 @betrue-final-final We tested it out with the new react updates & it works as expected. We can close this issue now.

[2019-07-19 17:19] #9791 closed

[2019-07-19 17:48] khmakoto opened #9873 "Tooltips in overflows"
We want to have a consistent way to add `Tooltips` in components that can overflow. Those components right now are `Breadcrumb`, `OverflowSet` and `CommandBar`, with the potential for `Pivot` to also have the ability to overflow later.

__Current state:__
`OverflowSet` and `Pivot` do not currently have any kind of `Tooltip` implementation in them, while `Breadcrumb` and `Commandbar` do have one (v

[2019-07-19 17:50] khmakoto commented on #9688
I've created issue #9873 to track the overarching theme of `Tooltips` in components that can overflow. I'll close this because we'll use that to track this work instead.

[2019-07-19 17:50] #9688 closed

[2019-07-19 17:53] khmakoto commented on #6390
I've made a separate issue to track bug 4 and similar issues in #9873.

[2019-07-19 17:53] saraXiangL commented on #9838
Thank you for your reply! Here is the screenshot that I get the blank icon. Here I used props.text, which is "森雪株式会社"， and props.imageUrl, which is an empty string for this company. I'm wondering if that is why it couldn't display the default icon?
![MicrosoftTeams-image](https://user-images.githubusercontent.com/52979394/61554844-c43d5d80-aa12-11e9-83e6-e186c458fa3f.png)

[2019-07-19 18:14] joschect commented on #9838
I'm still not able to reproduce that. What version of fabric are you using? Maybe this was a bug in an old one that got fixed?

If you're already on a recent version, would you mind using this [codepen](https://codepen.io/slimemold/pen/aezMzO) to try to repro it? It's in the state, that I think is what you mentioned.

[2019-07-19 18:22] ayrtonsoftware commented on #9092
I am also experiencing this issue and would be glad to help track it down...

[2019-07-19 18:42] joschect commented on #9854
@LiangMingChen It looks like @ecraig12345 just checked in a fix for the issues with error handling. Let us know if that doesn't fix it for you!

[2019-07-19 19:25] cliffkoh commented on #5473
The distinction here is that the role="listbox" is on the top-level single select dropdown (when collapsed). There is no way to focus on the first element without also selecting it :)

I greatly welcome an expansion on how you would achieve this separation of focus and selection in this scenario :) If there is such a way, we should definitely try to have someone get a PR to implement this.

[2019-07-19 19:28] cliffkoh commented on #5473
With regards to an update on when a comprehensive fix (i.e. rework) for the problem will take place, an engineer (@joschect) has been assigned but the engineer has not been able to start on the work yet due to having other work items taking precedence in his priority queue so far. I'll let @joschect speak to how close he is to being able to start on the comprehensive fix.

[2019-07-19 20:02] SarhadSalam opened #9877 "DetailsList with specific height expands with no bound"
### Environment Information

- Package version(s):
- Browser: Chrome Version 75.0.3770.142 (Official Build) (64-bit)
- OS version: Windows 10 Enterprise Version 1903

### Please provide a reproduction of the bug in a codepen:
 https://codepen.io/sarhadSalam/pen/eqmXWY

#### Actual behavior:

When height of `DetailsList` is set to pixel values, and `DetailsList` is a child of `Stack.Item` the `Deta

[2019-07-19 21:28] khmakoto commented on #9637
Just wanted to give an update here that I'm still waiting for a response from the Narrator team regarding this issue.

[2019-07-19 21:30] khmakoto commented on #9707
Just wanted to give an update here that I'm waiting for a response from the Narrator team regarding this issue.

[2019-07-19 21:32] saraXiangL commented on #9838
Thank you so much for your time. I just double checked it. Yeah, this was a bug in version 3.8. In our new build with the latest version, it's fixed.

[2019-07-19 21:32] #9838 closed

[2019-07-19 22:33] rohitrewa opened #9878 "Setting"
## Codepen demonstrating the issue

## Actual behavior:

## Expected behavior:

## Documentation describing expected behavior

![image](https://user-images.githubusercontent.com/4102247/61569091-52f9bb00-aaa3-11e9-855b-29aa063846ef.png)

[2019-07-19 22:34] #9878 closed

[2019-07-19 22:45] rohitrewa opened #9879 "Narrator reading Nav items(button) twice in IE"
IE version: 11.615.17763.0

## Codepen demonstrating the issue

This IE specific issue and IE does not support Codepen. But to repro you can create a button based nav. For creating a button based nav you need to provide onlcik handler

## Actual behavior:

On focusing button based Nav item Narrator reads the item twice. First time the content and second time the title.

The framework is setting th

[2019-07-19 22:47] khmakoto commented on #9641
I've taken a look at this and it seems like we'd need to restructure how we render the months in the `Calendar` for this to work correctly. We currently use a map of the months inside `buttons` with `role="gridcell"` set inside a single `div` with `role="row"` set. This causes the situation described above.

Because of the huge effort that this would require in terms of restructuring, I'll be putt

[2019-07-19 23:45] qazizaahirah opened #9880 "Accessible Name for DatePicker"
When adding ariaLabel to DatePicker I am not able to see the accessible name getting reflected as accessible name

Widget role: combobox
Design pattern:
Combo Box
Accessible name: (no value)

When I run the accessibility test (Custom Widget: Design Pattern) on https://developer.microsoft.com/en-us/fabric#/controls/web/datepicker

I find the same accessibility issue

I am using office-ui-fabric-rea

[2019-07-20 00:31] #9866 closed

[2019-07-20 07:01] zhongyn commented on #9522
same issue, onchange triggered twice for every key press

[2019-07-20 16:01] joehillerman commented on #9863
I am currently trying to add animations to a component when it mounts, unmounts and updates; but I have no clue where to even start with OUFR. I might end up consuming a third party react library for all my animation needs.

[2019-07-21 10:37] hasannaqvi83 commented on #857
Guys,
Can this be used in SPFx React?
https://developer.microsoft.com/en-us/fabric-js/components/personacard/personacard

[2019-07-21 10:58] vkselvaa commented on #4611
Missing Enhanced Rich Text(For uploading the multiple documents as well as text contents) in SPFx is **very disappointed**.

[2019-07-21 21:07] aappddeevv opened #9882 "Selection.onSelectionChanged callback should take ISelection as an arg"
I've run into the case where I need to access the ISelection object to obtain the selection inside the callback e.g. to obtain the selected items. However, the callback does not take the ISelection object so technically, you can't reference the object you are creating inside the callback to obtain the selection. Some of the recent react hooks patterns become awkward due to this problem.

[2019-07-22 01:38] #9835 closed

[2019-07-22 04:57] lavanya-kuda commented on #9808
Please refer to this PR (https://github.com/OfficeDev/office-ui-fabric-react/pull/9019) which fixed the issue on office-fabric-ui version v6.180.0. I don't see those are working in v6.195.0?

[2019-07-22 06:35] adityapelluri commented on #9653
@khmakoto any update regarding the fix ?

[2019-07-22 08:29] Lijing29 opened #9885 "VoiceOver dropdown announces option items text twice"
## Codepen demonstrating the issue
Using this codepen: https://codepen.io/lijinglin29/pen/EqVPpw

## Actual behavior:
When using office-fabric-react Dropdown, VoiceOver announces the options text twice on tabbing to the dropdown and using down arrow to navigate the options.
Browser: Safari

## Expected behavior:
VoiceOver screen reader should announce the option item once when navigating on it.

#

[2019-07-22 08:39] muthubalu opened #9886 "Need to show tool tip on command bar having both text and icon-only:true props"
### Bug Report

- __Package version(s)__: 7.5.0
- __Browser and OS versions__: Edge 44 , Chrome and Windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) : No

Requested priority: (Blocking, High, Normal, Low)  : High

Products/sites affected: (if applicable)

#### Describe the issue:
Tool tip should visible for both i

[2019-07-22 10:49] dollykumari5 commented on #6356
Adding a new issue.

Bug19: [Accessibility][Visual requirements]: Visual focus indicator is not properly visible on standard create account button under split button variant.

[2019-07-22 10:51] chenxinyanc commented on #2749
The bug seems to be reappearing in recent versions. (on v6.189.1 and v7.12.0). See chenxinyanc/fabric-test@3a35f26a6f8962ac9d2d2f0a714f881c43a4a981 . The code was

https://github.com/chenxinyanc/fabric-test/blob/3a35f26a6f8962ac9d2d2f0a714f881c43a4a981/src/app.tsx#L13-L21

The screenshots:
![image](https://user-images.githubusercontent.com/50703224/61627034-62e6ea00-acb1-11e9-9e86-e438809c872f.png

[2019-07-22 11:55] dollykumari5 commented on #6356
Bug 6 and Bug 14  from the above list of bugs are fixed.
Verified on Test Environment:
OS: Version: 1903(OS Build 18362.100)
URL: https://fabricweb.z5.web.core.windows.net/oufr/7.12.0/#/examples/button
Browser: Edge

[2019-07-22 12:37] dollykumari5 commented on #6356
Adding a new issue
Bug20: [Accessibility][Supporting the platform]: Arrow mark next to create account button under Primary and  Primary action disabled under spilt button variant is not visible in 'High contrast black and white theme setting'.

[2019-07-22 14:21] joschect commented on #9869
@cnamal Could you confirm the repro steps, I am able to hear that it says "collapsed" when it's highlighted, although it doesn't seem to announce when it's opened.

[2019-07-22 16:23] adambowles commented on #9714
I'm encountering it again:

![2019-07-22 17 21 36](https://user-images.githubusercontent.com/10128574/61647467-4ba1ff80-aca5-11e9-98f2-bddfe742fa3a.gif)

Safari Version 12.1.1 (14607.2.6.1.1)
macOS Version 10.14.5 (18F132)

[2019-07-22 17:12] PavanJagini opened #9887 "Dropdownlist NVDA screen reader reads the list items two times"
## Codepen demonstrating the issue

## Actual behavior:
NVDA announces list items name twice.
For Ex: For list item "Afghanistan" NVDA announces as "Afghanistan  Afghanistan 1 of 242".

## Expected behavior:
NVDA should announce list item names only once.
For Ex: For list item "Afghanistan" NVDA should announce like a "Afghanistan 1 of 242".
Code snippet:
<Dropdown
                    placeholder=

[2019-07-22 17:20] micahgodbolt commented on #9887
@PavanJagini did we chat about this via email? I believe that plan was to log this as a bug with NVDA, correct? Dropdown works properly with Narrator/Edge, so these other screen readers with issues must not be to the same spec.

[2019-07-22 17:25] PavanJagini commented on #9887
Hey, Thanks for your immediate reply. This is the first time, I am raising this bug with you related to this. So, I will take this as a reference to move fwd. Thanks again.

[2019-07-22 17:31] jfcourtois opened #9888 "Cannot disable an option in ComboBox when multiselect is on"
If you look here:
https://fabricweb.z5.web.core.windows.net/oufr/7.12.0/#/examples/ComboBox
... you can see in the example that "Option F" sets "disabled: true" and yet in the UI, the option is still enabled where the ComboBox is in multiselect mode.

The ComboBox MultiSelect mode should have the same behavior as singleSelect for disabled options.

[2019-07-22 17:41] HarryGifford commented on #9720
@khmakoto One last one, could you backport to Fabric 5 as well? We still have some code that we've not moved to 6 or 7 yet.

[2019-07-22 17:45] #9887 closed

[2019-07-22 18:06] PavanJagini opened #9890 "Dropdown: Placeholder text is read out by Narrator screenreader as selected if no list item is selected"
## Codepen demonstrating the issue

## Actual behavior:
"Organization Locale" is the place holder for "Organization Locale" dropdown, When combo box gets expanded NVDA announces ordering as 1 of 242 for Placeholder "Organization Locale".

![image](https://user-images.githubusercontent.com/52062804/61654056-4363b780-acd9-11e9-9de3-42484c0f80d7.png)

                <Dropdown
                    pla

[2019-07-22 18:12] PavanJagini commented on #9821
Hi @joschect, I spent some time on building scenario on code pen but it is about loading the grid dynamically with data finding hard to do so. As I am also internal to Microsoft, would be possible to have a call to give a demo of implementation? please confirm. Thanks.

[2019-07-22 19:58] ecraig12345 commented on #9890
Thanks for submitting this! Is this behavior specific to NVDA, or do other screen readers (such as Narrator) read it the same way?

Regardless, I'm not sure this is something we'll be able to fix within Fabric since we don't have the ability to provide localized strings such as "Select" built in to our controls.

Also, for future bugs, it would be helpful if you could provide a simplified standalo

[2019-07-22 20:07] ecraig12345 commented on #9886
Thanks for filing this. @micahgodbolt or @joschect do you think this sounds like a reasonable request?

[2019-07-22 20:09] ecraig12345 commented on #9882
Thanks for filing this. Could you provide an example of some code (especially with hooks) where not having access to the selection becomes a problem?

[2019-07-22 20:14] aappddeevv commented on #9882
If Selection is really an instance variable vs something that drives state...

[code]
Typed this in but did not check syntax, etc.

[2019-07-22 20:25] aappddeevv commented on #9882
``javascript
function MyComponent({notifyFunc}) {
  const selection = React.useMemo(() =>
    new Selection({ onSelectionChanged: () => { /* need access to selection so I can call notifyFunc */ }})
  }, [notifyFunc])

  <div> ...use selection in DetailsList... </div>
}
[code]

[2019-07-22 20:28] ecraig12345 commented on #9879
Thanks for filing this! While it's not possible to write a codepen in IE, you can actually still view the debug mode of a saved codepen (created in another browser) in IE. So it would still be a lot easier for me to look into this if you could provide a codepen repro.

[2019-07-22 20:32] ecraig12345 commented on #9879
Hmm actually just realized this one is assigned to @joschect not me 😆 but the same comment still applies.

[2019-07-22 20:36] joschect commented on #9879
@ecraig12345 yep! Thanks for getting this one started :)

[2019-07-22 20:39] danielgwilson opened #9894 "Shared color documentation doesn't clearly explain how to reference SharedColors"
The docs page found at https://developer.microsoft.com/en-us/fabric#/styles/web/colors/shared (`apps/fabric-website/src/pages/Styles/Colors/docs/web/ColorsShared.md`) doesn't correctly reference how to use SharedColors; instead, the sample incorrectly shows:

[code]

This applies to the NeutralColors page as well.

[2019-07-22 20:44] joschect commented on #9863
@phkuo  this is a good request. We'll get on improving the documentation.

@dzearing or @Jahnp  Do you know who knows most about animations and who could help out with this?

[2019-07-22 20:47] micahgodbolt commented on #9886
This should be pretty easy to accomplish with a custom render'ed button. Buttons are usually self explanatory (unless they are icon only), so we did not add them to all of the buttons.

[2019-07-22 20:48] micahgodbolt commented on #9886
Either use ButtonAs
https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/CommandBar/CommandBar.types.ts#L63

Or each item in your items array can accept an 'onRender' prop

[2019-07-22 20:49] joschect commented on #9877
@SarhadSalam Thanks for the ticket and including a codepen! This seems like a bug, we'll look into it and try to get a fix.

[2019-07-22 20:53] lherrle opened #9896 "Narrator does not associate dropdown or combobox label with new selection"
This issue has come up in an accessibility bug for Dynamics 365 PSA.

## Codepen demonstrating the issue

This behavior repros on the fabric ui page at https://developer.microsoft.com/en-us/fabric#/controls/web/dropdown and https://developer.microsoft.com/en-us/fabric#/controls/web/combobox.

## Actual behavior:
After selecting a new value for the combo box or dropdown, the label (or aria-label) a

[2019-07-22 20:55] joschect commented on #9880
@qazizaahirah Thanks for submitting this ticket, is the accessible name something different than "aria-label" I see it showing up properly on the demo page that you linked.
![image](https://user-images.githubusercontent.com/20801176/61664686-23f06e80-ac88-11e9-8be7-b96f9aeb0c36.png)

I also hear that the aria-label is read out correctly when using narrator in edge. Could you confirm that it's not

[2019-07-22 21:00] #9756 closed

[2019-07-22 21:01] qazizaahirah commented on #9880
Th reader is reading it all fine but the assessment for accessibility tool is failing. If you test Custom Widget: Design Pattern) on the tool you see that accessible name has no value
![image](https://user-images.githubusercontent.com/15657156/61665131-1e475880-ac89-11e9-9d9c-d4c96d556409.png)

[2019-07-22 21:02] ecraig12345 commented on #9888
Thanks for reporting this! I feel like it used to work properly in the past, so I'm not sure what happened... Fixing in #9897.

[2019-07-22 21:08] phkuo commented on #9863
This is what I've ascertained so far about using animations:
1) The animations are either available as a string variable representing a CSS class, or as an IStyle for use with CSS-in-JS. In either case, you apply the class/IStyle at the moment you want the animation to start. For example, you can hardcode a slideIn animation on an element, and it will always animate with that slideIn when it first

[2019-07-22 21:12] brandonthomas opened #9898 "FocusZone hardcodes role="presentation" even when the default tag is overriden"
We have a case where we want our FocusZone to be rendered as a UL. In this case list role should come for free due to the semantics of the tag we're using. However, because role is set to presentation we have to explicitly set role to list when we're using a list tag. Can we remove role="presentation" when a user specifies a tag?

https://github.com/OfficeDev/office-ui-fabric-react/blob/ffd15a7294

[2019-07-22 21:12] brandonthomas commented on #4971
@dzearing any update on this? Just had this pop up in a semi-related way and I filed 9898 for my specific issue.

[2019-07-22 21:21] joschect commented on #9871
@pagaur thanks for submitting the ticket and doing a fix!

[2019-07-22 21:21] #9871 closed

[2019-07-22 21:35] maxwellred opened #9899 "TagPicker: Fluent theme"
Updating TagPicker to most current web fluent toolkit.

[2019-07-22 21:37] maxwellred commented on #9899
### Fluent Updates

**Issues**

- **Tag height:** TK = 28px / live = 26px (but I think live is correct because when you set it to 28px it causes the containing BasePicker input element to expand by a couple pixels)

**States**

- **Error State:** In TK  / NOT in code
  - should this state be implemented in code and if so I'm trying to understand what exactly the error is supposed to represent sinc

[2019-07-22 21:46] joschect commented on #9880
@qazizaahirah What exactly does "accessibility name" correspond to? Which accessibility test are you running?

[2019-07-22 21:48] qazizaahirah commented on #9880
![image](https://user-images.githubusercontent.com/15657156/61667788-ccee9780-ac8f-11e9-9ec5-8b0dc396b154.png)
Here is the test that I am running

[2019-07-22 22:08] rohitrewa commented on #9879
Sharing CodePen Link: https://codepen.io/rohit-gupta-the-vuer/pen/MNaMbq

[2019-07-22 22:09] joschect commented on #9880
@qazizaahirah I'm still not sure which testing framework you're using.

Looking at the aria specs it appears that for it to be a combobox that the element with role combobox should have the label on it. I think I know what to fix since.

[2019-07-22 22:23] dzearing commented on #4971
I think we should really just remove this. I don't see why FocusZone should ever assume the use case. @ecraig12345 can you please look into removing this?

[2019-07-22 22:24] dzearing commented on #4971
@ThomasMichon `FocusZone` should be able to accept a role attribute. Are there cases which absolutely rely on `role=presentation` that we should explicitly set?

@cschlechty FYI I think we want to fix this.

[2019-07-22 22:27] qazizaahirah commented on #9880
I am using Accessibility insights for Web, the role to date picker is automatically assigned but the accessible name is missing besides aria label being there. This is either a office UI bug or a tool error. Can you confirm that this is not a bug from you guys. I can get in touch with the accessibility tool team if its not an error from fabric ui

[2019-07-22 22:29] joschect commented on #9880
@qazizaahirah I believe that this is a valid bug, according to the [aria specs](https://www.w3.org/TR/wai-aria-practices/#combobox) a combobox should have the label attached to the component that has `role='combobox'` on it. So I'm guessing this is popping up since the div container has 'role=combobox' but the input has the label.

[2019-07-22 22:30] satyamamit opened #9901 ".focus method of choicegroup doesn't focus on checked Item"
we have a requirement of setting focus on choicegroup checked item on component load but in focus() method element focus is only set when data-is-focusable is set to true, which I am not sure how to do it.

I tried changing below line in code

[code]

to this and things started working.

[code]

Please look into this issue.

## Actual behavior:
calling .focus() method on choicegroup doesn't focus

[2019-07-22 23:00] taparikh commented on #9793
@Vitalius1 We are still seeing an empty accessible name for the dialog as shown in the screenshot below

![image](https://user-images.githubusercontent.com/51679982/61670695-70907580-ac99-11e9-90d8-c1809ebfb4a0.png)

Below you can see the HTML elements with the modal highlighted & all the accessibility properties being empty
![image](https://user-images.githubusercontent.com/51679982/61670755-b5b4

[2019-07-22 23:15] joschect commented on #9821
@PavanJagini I was able to reproduce it in this codepen, https://codepen.io/slimemold/pen/wLVxjK . Can you confirm that you're using fabric pivots as well?

[2019-07-22 23:23] taparikh commented on #9412
Hi @natalieethell  Thanks for the fix ! It definitely passes the Fast Pass as you have described. Closing this issue with this comment !

[2019-07-22 23:23] #9412 closed

[2019-07-23 00:36] taparikh commented on #9793
Discussed in detail with @Vitalius1 over a call & issue has been resolved.

[2019-07-23 01:29] lorejoh12 opened #9904 "MarqueeSelection does not show selection box inside Fabric Callout (except during scroll)"
### Environment Information

- __Package version(s)__: latest (7.14.0)

### Please provide a reproduction of the bug in a codepen:

callout- broken: https://codepen.io/anon/pen/JgGjzG
no callout- working: https://codepen.io/anon/pen/ZgQYWE

#### Actual behavior:

When callout is wrapping: no selection box ever appears, can't select items.

#### Expected behavior:

Can select items as normal. Witho

[2019-07-23 03:37] #9904 closed

[2019-07-23 03:49] #9787 closed

[2019-07-23 04:18] t-zeche opened #9906 "Can you split DocumentCardActivity into smaller components?"
Hi all! Now I'm working on Live Persona Card for Highlighted Content web part. What we expect is that the Live Pesrona Card will pop up when hovering or clicking on user's avatar and name(circled part in the pic). But these two small components are integrated together with "Edited Jul 22, 2019", called DocumentCardActivity. So can you guys split DocumentCardActivity into smaller components and exp

[2019-07-23 05:02] #9888 closed

[2019-07-23 06:26] cnamal commented on #9869
@joschect  I can confirm that I do not hear "collapsed" when the combobox is highlighted. I have a video with the repro I can send you by email/Teams if need be :)
Please note that I didn't provide the correct URL in my repro steps, and I now corrected it. However, neither the dropdown (previous url) nor combobox appear to say the correct information.

[2019-07-23 07:28] SyedRehmanRazvi opened #9908 "Narrator is not providing information about "no.of results found" after performing a will card search in Search Box""
**User Experience:**
Users who rely on screen readers are getting affected as Narrator is not providing information about "no.of results found" displayed after performing search.

**Test Environment:**
OS: Win 10
OS Version: 1903 (OS Build 18323.1000)
Browser: Edge
URL: https://fabricweb.z5.web.core.windows.net/oufr/7.14.0/#/examples/searchbox
Screen Reader: Narrator

**Repro Steps:**
Step 1: Star

[2019-07-23 08:45] gokuldhanvanthri commented on #9850
@joschect, hope you are clear with the requirement. Do let me know if you have any queries.
Can I expect this requirement to be added in the near future? Your answer will help me in deciding the component for the application.

[2019-07-23 09:33] cnamal opened #9909 "Disabled Combobox label has insufficient color contrast"
Go to https://developer.microsoft.com/en-us/fabric#/controls/web/combobox
Run [Accessibility insights](http://aka.ms/AccessibilityInsights)

-> A11y insights reports a color contrast issue
![image](https://user-images.githubusercontent.com/9625284/61700955-9ff8be00-ad3d-11e9-9541-29b3f89ae5f3.png)

-- A11y insights information
Title: WCAG 1.4.3: Elements must have sufficient color contrast (#Combo

[2019-07-23 10:19] Terverok commented on #4665
I just wanted to customize ContextualMenuItem as I only need to wrap originally displayed component with a custom one, supplying default render function would be very helpfull. Is there hope for this to happen?

[2019-07-23 11:26] kodofix commented on #9300
I have also really similar issue right now, but it's affected by environmental quite strong.

I'm using DialogComtent and get this message:
Message:
Type '{ children: Element[]; }' has no properties in common with type 'IntrinsicAttributes & IDialogContentProps'.

I use
"@microsoft/sp-office-ui-fabric-core": "1.8.2",
 "@microsoft/rush-stack-compiler-3.2": "0.3.26",

Everything looks fine just one

[2019-07-23 17:55] SarhadSalam commented on #9877
I just noticed, this seems to happen in Chrome but the bug is prevented in Edge

[2019-07-23 18:01] qazizaahirah commented on #9880
Will you guys be addressing this bug?

[2019-07-23 18:02] joschect commented on #9880
@qazizaahirah Yes, we will go ahead and get it fixed.

[2019-07-23 18:12] dylankil opened #9911 "ComboBox component defaultSelectedKey not working in IE"
When opening the dropdown a second time, it's not scrolling with the mouse. defaultSelectedKey is also now missing from the docs.

To reproduce the issue go to https://onenote.com/learningtools in IE
Click on the 'Try It Now' button to launch the Immersive Reader
Open the Read Aloud Options Panel by clicking on the Book IconButton
Open the Translation ComboBox dropdown and select a language
Close

[2019-07-23 19:07] C1rdec opened #9913 "Footer Panel not positioned correctly even with isFooterAtBottom={true}"
### Environment Information
 This behaviour appears in 7.11.0.
Prior 7.11.0 the panel footer is rendered at the bottom.

(You can test it out with the Code Sand Box)

### Please provide a reproduction of the bug in a codepen:
 [This Code Sand Box](https://codesandbox.io/s/office-fabric-ui-sd1dy)

#### Actual behavior:

The footer is not position at the bottom even with isFooterAtBottom={true}

![i

[2019-07-23 19:23] dzearing commented on #8855
@joschect any updates?

[2019-07-23 19:28] dzearing commented on #7999
@JasonGore @khmakoto any updates here? Going through needs attention issues.

Would avoid subcomponent styling if possible.

[2019-07-23 19:29] dzearing commented on #9568
Ping @Vitalius1 and @KevinTCoughlin can you come up with a solution here?

[2019-07-23 19:41] khmakoto commented on #7999
@dzearing I could shoot for a PR and ask a review from you and @JasonGore later this week to see if my fix is good in this situation.

[2019-07-23 19:55] micahgodbolt commented on #9800
I don't believe accessibility insights is actually giving you an error on that widgets page. The command bar is set up properly (AFAIK) and what you're seeing is that this rule doesn't apply to the control so it's neither red nor green.

[2019-07-23 19:55] #8862 closed

[2019-07-23 20:01] ecraig12345 commented on #9911
Thanks for submitting this, but it will be very hard to debug without an isolated repro. Could you please try to create a codepen starting from either the "Export to CodePen" link on one of the [ComboBox examples](https://developer.microsoft.com/en-us/fabric#/controls/web/combobox) or https://aka.ms/fabricpen?

[2019-07-23 20:17] Vitalius1 commented on #9800
@micahgodbolt we discussed this issue offline with @taparikh  and indeed the screen reader output is accessible. The author will follow up with details after a detailed confirmation that the command bar is getting the correct output in their app.

[2019-07-23 20:25] ecraig12345 commented on #9906
Do you expect that hovering/clicking the edited date should do something different? If not, it would be easiest to just include the edited date in the hover/click target for showing the persona card. Putting the avatar and name in a separate component from the edited date would be hard since they're laid out within the same DOM element.

[2019-07-23 20:29] ecraig12345 commented on #9913
I suspect this was introduced by @nickdurak's change in #9780. @nickdurak or @Vitalius1 do you have suggestions for an alternative fix which handles both the issue reported here and the IE scenario #9780 was meant to address?

[2019-07-23 20:40] ecraig12345 commented on #9909
Thanks for reporting this. The text is `semanticColors.disabledText` which points to `palette.neutralTertiary` (`#a19f9d` by default). So I think this will be an issue for **all disabled text**, not just the ComboBox's label.

It seems odd that we'd have this combination as part of the default Fluent theme if it's not accessible. @Vitalius1 or @betrue-final-final do you know what the right fix is

[2019-07-23 20:45] joschect commented on #9808
@lavanya-kuda I see that fix, but I don't know if that's impacting the scenario you're talking about, could you provide a codepen or something where you see the issue?

[2019-07-23 20:45] ecraig12345 commented on #9908
I'm not sure this is something the SearchBox itself can or should provide. The SearchBox control is basically just a text field with a search icon and a clear button; it doesn't know anything about the results. So if you want to announce the number of results, you'd have to add that in your code which consumes the SearchBox.

[2019-07-23 20:46] joschect commented on #9808
@lavanya-kuda more specifically, could you confirm which component/where you see the problem?

[2019-07-23 20:57] micahgodbolt commented on #9879
Thanks for the link!

[2019-07-23 20:59] joschect commented on #9850
@gokuldhanvanthri Hey, sorry for the slow response. I was working on a [codepen](https://codepen.io/slimemold/pen/oKgrPe?editors=1111) to demonstrate how you could achieve this already. If this doesn't work for you we can add it to the backlog but it would require fairly substantial changes that might take quite a while.

[2019-07-23 20:59] ecraig12345 commented on #9898
That seems like a reasonable request. I can see some different possible ways to implement it:
1. If a tag is provided, never set `role="presentation"` (downside: what if they want a different tag but `role="presentation"` anyway?)
2. Make the role configurable, defaulting to "presentation" (downside: how can the user specify *not* to set a role? passing in null or empty string maybe?)
3. Add a fla

[2019-07-23 21:01] dzearing commented on #9863
Recommend that before we start documenting css-in-js imports of animations, we do the right thing here. I think suggesting to import animations from `@uifabric/styling` might paint things into a corner. Instead it would be ideal to have the theme provide animations, so that we can evolve them over time and users can opt in, and potentially override, in the theme.

There are a couple of proposals I

[2019-07-23 21:20] JasonGore commented on #9898
It seems `FocusZone` [already gives this capability](https://codepen.io/jasongore/pen/pMyvRB). Doing:

[code]
Results in:

![image](https://user-images.githubusercontent.com/26070760/61748252-aba3af00-ad54-11e9-95ad-e6e7a159a13f.png)

User props [are spread 3 lines lower](https://github.com/OfficeDev/office-ui-fabric-react/blob/ffd15a72949fdfefd4ceb46ecf124c124c68567a/packages/office-ui-fabric-rea

[2019-07-23 21:29] maxwellred commented on #5390
#&#x2060;1

[2019-07-23 21:33] maxwellred commented on #5390
Sorry about that accidental close.

[2019-07-23 22:00] LiangMingChen commented on #9854
I am not sure the fix address the consumer depot which use the component here.
Any time, any code access native DOM element, which test render basic doesn't is a potential for the null ref crash.

for the  reference, we need to do a lot to work around FocusZone which use by detail list where it blindly assume element is there and call addEventListener, or ScrollView call element.getAttribute()

in

[2019-07-23 22:03] taparikh commented on #9800
@Vitalius1 @micahgodbolt  Can you confirm if this issue is resolved or are you looking into it ?

[2019-07-23 22:09] micahgodbolt commented on #9800
I believe that there is no issue with the existing accessibility of the command bar and this github issue can be closed.

[2019-07-23 22:33] Vitalius1 commented on #9909
I recently submitted a PR (#9746) that even further aligns other input controls to the same design. I believe the specs say that the disabled controls should not be forced to follow this rule and I remember  multiple discussions with @betrue-final-final about that.

[2019-07-23 22:38] brandonthomas commented on #9898
Yah the role can be overriden already. The main point with my issue is that I shouldn't have to do that if I already spent the effort of specifying semantics through my own tag. I would think #1 would be appropriate.

[2019-07-23 22:39] #9660 closed

[2019-07-23 22:40] Vitalius1 commented on #9909
https://www.w3.org/WAI/GL/low-vision-a11y-tf/wiki/Contrast_(Minimum)#SC_Text for more context

[2019-07-23 22:48] maxwellred opened #9917 "Semantic Slot additions"
I've been working on the SearchBox component and noticed a potential need for a few more semanticSlots.

![Screen Shot 2019-07-23 at 3 45 51 PM](https://user-images.githubusercontent.com/13246181/61752568-fa574600-ad60-11e9-8221-207daf0de2b8.png)

![Screen Shot 2019-07-23 at 3 35 08 PM](https://user-images.githubusercontent.com/13246181/61752390-4e155f80-ad60-11e9-9ec9-a5600d6388aa.png)

inputBord

[2019-07-23 22:56] betrue-final-final commented on #9909
Yes, this is not a bug. Disabled text doesn’t need to meet 4.5:1

[2019-07-23 23:00] #9822 closed

[2019-07-23 23:05] taparikh commented on #9800
@micahgodbolt When @Vitalius1  and I tested it on a Teams Call yesterday - the command bar showed no value for HTML or ARIA cues in the accessibility test,. We provided all the aria values as exposed by the component  - however saw no result. Please reply to this comment stating that : Command Bar Component having no values for ARIA & HTML Cues is in fact the intended behavior & this accessibility

[2019-07-24 00:00] #9690 closed

[2019-07-24 00:30] ecraig12345 commented on #9894
Thanks for noticing this! Fixing in #9919.

[2019-07-24 00:50] ecraig12345 commented on #9863
We have some `FluentMotion` constants, but no indication of how to use them. @Jahnp could you or someone else from the design side help provide guidance on this? I think getting our existing motion constants documented on the website's Motion page should be the top priority (it's also the easiest).

[2019-07-24 01:03] Vitalius1 commented on #9800
@taparikh I looked a little bit more to understand what the Accessibility Insights Tool means by cues and looks like this `cues` are not related to the `CommandBar` control because it does not need them. Here is a snippet from the help panel from the tool in regards to cues
![Screen Shot 2019-07-23 at 17 47 14](https://user-images.githubusercontent.com/29514833/61756797-a6555d00-ad72-11e9-983d-ecd

[2019-07-24 01:22] brandonthomas opened #9921 "JAWS shortcuts do not work when FocusZone has focus"
Repro:
1. Go to https://developer.microsoft.com/en-us/fabric#/controls/web/focuszone
2. Open JAWS screen reader
3. Press 'H' to move between headers (should work).
4. Move focus to the FocusZone area
5. Press 'h'

## Actual behavior:
Nothing happens, shortcuts don't work.

## Expected behavior:
Keyboard shortcuts are able to be used when focus is within a FocusZone.

[2019-07-24 01:29] brandonthomas commented on #9921
Wondering if there's something in there calling stopPropagation or preventDefault and if that's the culprit.

[2019-07-24 01:29] brandonthomas commented on #9921
There's a number of internal accessibility bugs related to this BTW

[2019-07-24 01:33] taparikh commented on #9800
@Vitalius1 @micahgodbolt  Thank you for the detailed explanation! I am closing this issue

[2019-07-24 01:33] #9800 closed

[2019-07-24 01:45] taparikh commented on #9793
@Vitalius1 - tested out the snippet on another modal today & it does not work. Both the accessibility insights tool & narrator (using buddy as well) gives an empty document name for accessible name.

[2019-07-24 02:23] taparikh commented on #9793
Retried without the typo error & works as expected. Closing this issue!

[2019-07-24 02:23] #9793 closed

[2019-07-24 04:18] lavanya-kuda commented on #9808
This issue occurs for Panel , Modal component in v6.195.0 of office-ui-fabric-react. https://dequeuniversity.com/rules/axe/3.2/aria-hidden-focus?application=msftAI Please see this error which  we have for Accessibility.

[2019-07-24 06:12] gokuldhanvanthri commented on #9850
@joschect, thanks for the reply.
I saw your codepen demo & noted that you have added a custom header for the group field which solves the problem of adding values to other columns in the group header.

But there are some issues which i see in this approach :
1. Aligning the column data correctly with the respective columns considering the resolution size.
2. Automatically updating the data positio

[2019-07-24 07:37] nguyentoantuit commented on #9300
I have the same issue know with "typescript": "3.3.4000",
Do we have any workaround solution yet?

[2019-07-24 08:30] #9894 closed

[2019-07-24 09:25] gioce90 commented on #9247
Hi.
I tried and

works, but the style don't.

[2019-07-24 10:04] PavanJagini commented on #9890
Thanks for reply @ecraig12345!. Using Edge + Narrator, it mentions as 0 of 242 is selected. I will go back to the accessibility team mentioning this is to do with NVDA as its working as expected with the Narrator.

[2019-07-24 10:10] bilalkhan870 commented on #3591
i am facing some issues with Alert notification,
TypeError: Cannot read property 'spHttpClient' of undefined
at alert-notitication-application-customizer_305d9f3b4db760783a37c56ab84b6326.js:15
at new Promise ()
at e._loadUpcomingAlerts (alert-notitication-application-customizer_305d9f3b4db760783a37c56ab84b6326.js:15)
at alert-notitication-application-customizer_305d9f3b4db760783a37c56ab84b6326.js:

[2019-07-24 18:39] KevinTCoughlin commented on #9850
Consider forking @joschect's Codepen above to achieve the behavior you are looking for. It might be possible, but you'll likely need to write custom code as the current column measurement data may not be available outside of the component.

If the above is not possible, then this will likely have to go on our backlog. We would be receptive in reviewing a design and corresponding changes to support

[2019-07-24 19:00] #9829 closed

[2019-07-24 19:00] #9719 closed

[2019-07-24 19:06] joschect commented on #8855
@dzearing I should have replied earlier but I've tried a lot of things, none of which work. I'm not convinced that there is a solution other than allowing background scrolling on ios.

[2019-07-24 20:00] #9834 closed

[2019-07-24 20:05] eveleens commented on #9659
Any traction on this one?

[2019-07-24 20:19] brandonthomas commented on #9698
Is this something that we'll need to mark for the next major change then? We should support ReactNode since that interface accurately reflects what you can render (string, bool, etc).

[2019-07-24 20:21] eveleens opened #9925 "Datepicker: Screenreader doesn't read the day along with the rest of the date"
## Codepen demonstrating the issue
https://developer.microsoft.com/en-us/fabric#/controls/web/datepicker

## Actual behavior:
Screen reader is not reading the week day along with the week date. It reads: "20 May 2019 selected read only, column header Tuesday...."

## Expected behavior:
 It should read as "20 May 2019 Tuesday" together with the date.

## Documentation describing expected behavior
M

[2019-07-24 21:00] #9908 closed

[2019-07-24 21:30] jaimereyesmx commented on #9598
Thank you @KevinTCoughlin! I was able to render the square check boxes.

[2019-07-24 21:37] KevinTCoughlin commented on #9598
Glad to hear! I'm going to close this issue as resolved.

[2019-07-24 21:38] suryasu commented on #8655
For bug #2, what would we want the aria label to say? Since it's a custom picker, the label should be defined by whoever is creating the custom element right? Labeling it as `Custom Picker` or just `Picker` wouldn't be useful for screen readers

[2019-07-24 23:29] mltejera commented on #7001
Hey @JasonGore - Would love to help out on this one for the theming related stuff.

[2019-07-24 23:37] dzearing commented on #9698
How about `any`? I'm not sure here. :-|

[2019-07-24 23:38] dzearing commented on #9698
What kind of errors do you get with `ReactType`?

[2019-07-25 01:35] cliffkoh commented on #9913
This problem repos in @nickdurak 's PR: http://fabricweb.z5.web.core.windows.net/pr-deploy-site/refs/pull/9780/merge/fabric-website-resources/dist/index.html#/examples/panel

[2019-07-25 01:36] cliffkoh commented on #9913
But not before his PR: https://fabricweb.z5.web.core.windows.net/oufr/7.10.0/#/examples/panel

Confirmed this is a regression caused by #9780

[2019-07-25 05:39] #9890 closed

[2019-07-25 05:52] PavanJagini commented on #9820
@joschect , Sorry for the delay in the reply. If I go with this approach, autofocusing needs to be done on search box key-up even which will often get the focus out of textbox forcefully in the middle of user typing into the textbox.

Any more thoughts to it?

[2019-07-25 06:01] gokuldhanvanthri commented on #9850
Thanks @KevinTCoughlin, I feel this will be too much of maintenance on the component from the application perspective. Anyway, I will talk to my team and take a decision regarding this & update if we are able to achieve it.
Still, it will be great if you include this feature/component as part of the fabric framework because treetable is one of the most commonly used component to showcase the hiera

[2019-07-25 06:06] PavanJagini commented on #9821
Hey @joschect , THanks a lot for repro the issue for me! Yes, we are using Pivots for attaining tabs view as shown in the actual behaviour section. PFB the screenshot( for readability purpose) & code snippet of the code for Pivots implementation. Please suggest.

                        <Pivot className="active-roles-tabs" linkFormat={PivotLinkFormat.links} linkSize={PivotLinkSize.normal}>

[2019-07-25 08:58] larnera opened #9931 "Pivot headerText not correctly center aligned"
### Environment Information

- __Package version(s)__:  Fabric 7.7.2
- __Browser and OS versions__: Window 10 Enterprise 1803 17134.829

https://codepen.io/anon/pen/voKjpg

#### Actual behavior:

The default pivot examples on the Fabric site doesn't show the headerText correctly center aligned, they appear left aligned. This is more noticeable when the pivot is selected and the pivot is underlined

[2019-07-25 11:30] cyphernull opened #9932 "Is there a way to use custom fonts ?"

[2019-07-25 11:30] #9932 closed

[2019-07-25 11:33] cyphernull opened #9933 "Is there a way to apply custom fonts"
I want to use my custom fonts, however, I could not find any guides related on the site.

[2019-07-25 15:20] micahgodbolt commented on #8655
Yeah, we don't provide strings in our controls, but we should ensure that proper strings can be provided. Since the testing is done on our docs pages themselves, we might just need to update the website to properly include that label.

[2019-07-25 15:54] cnamal opened #9934 "Focusing on MessageBar buttons in high contrast isn't visible"
In high contrast when a button of the `MessageBar` is focused, it isn't obvious what element is focused.

We are using OUFR v6.

Impacted products: AI Builder in Powerapps

[2019-07-25 16:00] benn-thomsen commented on #9264
Any progress on this. It would great to also have value labels under the two thumbs. Like the upper slider in the image below.
![Screenshot 2019-07-25 at 13 27 56](https://user-images.githubusercontent.com/53310036/61889568-9322c880-aefd-11e9-8315-50e9c5dc1d3b.png)

[2019-07-25 16:04] benn-thomsen commented on #9264
For the standard slider being able to display the slider value above or below the thumb so it moves with the thumb would also be super cool

[2019-07-25 16:15] khmakoto commented on #9659
Hi @eveleens still waiting for a response on this one. The narrator team has not been very responsive lately.

[2019-07-25 16:21] benn-thomsen commented on #9264
I also don't see the case for the max range width. It might be good to return the range i.e. value2-value1 in addition to the two values

[2019-07-25 16:46] myokha opened #9935 "Pickers lack labels"
**A feature**: I'm aware of the fact that I can implement a component which will be essentially a `<Picker />` and a `<Label />`.
But at least for the sake of consistency (for example, `<TextField />` and a `<Dropdown />` have it), please add a `label` prop to all the `<Picker />`s.

**Component or utility would this be added to**: Pickers

[2019-07-25 16:54] ymihir opened #9936 "Combobox with multi select giving error with SPFx react"
When I follow [the article to create combobox](https://developer.microsoft.com/en-us/fabric#/controls/web/combobox) with multiselect I am getting error.
Below is my code.
![image](https://user-images.githubusercontent.com/7568187/61893048-ca5b9e80-af2a-11e9-9c08-54f1a54c8485.png)

Below is error:
[code]

[2019-07-25 17:22] meredithxie opened #9938 "There is a "+" missing in one of the icons in Fabric UI icon library"
### Bug Report
I am a designer using [Fabric UI Icon library](https://uifabricicons.azurewebsites.net/), and I am using a pair of "add favorites": AddFavoriteFill F0C9.
![Screen Shot 2019-07-25 at 10 06 56 AM](https://user-images.githubusercontent.com/22843278/61894684-d8c39f00-aec5-11e9-814c-bb1ccecfa2a6.png)

#### Describe the issue:

There seem to be missing a "+" on the filled version of AddFa

[2019-07-25 17:50] catzhang opened #9939 "Persona primary text color change using selectors does not work"
### Environment Information

- __Package version(s)__: 7.12.0

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/zhangcathy/pen/OKXgEX

#### Actual behavior:

As in the codepen's first Persona example, using the hover selector for the primary text style to change the text color does not actually do so. When you hover over the text, the color is still black. A workaround

[2019-07-25 17:56] chriskuech commented on #9695
Ya I'm not blocked--just requesting a feature enhancement.

[2019-07-25 18:14] acamargob opened #9940 "Extended Picker: Aria Attribute value aria-owns="suggestion-list" is not valid."
## Actual behavior:
BaseExtendedPicker always has the aria-owns tag set to "suggestions-list" even if the picker is in a collapsed state and the "#suggestions-list" element does not exist in the DOM
## Expected behavior:
aria-owns should only be set when the value is valid. That is, when the picker is in an expanded state (Similar to People Picker)

## Documentation describing expected behavior

h

[2019-07-25 18:16] jaduong opened #9941 "IE11 Bug - If you put the date as X/X/19, then the date is pushed to 1919. Default should probably be this century."
### Environment Information

- __Package version(s)__: Latest
- __Browser and OS versions__: IE11

### Please provide a reproduction of the bug in a codepen:

Can't add it because it's only repro in IE11. https://fabricweb.z5.web.core.windows.net/oufr/7.16.0/#/examples/datepicker

Set the date to 1/1/19

#### Actual behavior:

Date gets set as 1/1/**1919**
#### Expected behavior:

Date gets set as

[2019-07-25 18:35] eveleens opened #9944 "DetailsList: Scan mode, checkboxes have invisible elements"
## Codepen demonstrating the issue

https://developer.microsoft.com/en-us/fabric#/controls/web/detailslist

## Actual behavior:
In Scan mode in DetailsList and hitting "down" arrow to scan elements, the user needs to click the down arrow twice to get past the checkmark - one to read the entire row's information, one to read the checkbox information.

In scan mode navigation, Narrator Focus land on

[2019-07-25 19:04] eveleens opened #9945 "DetailsList - Row should not read all information or should read out column headers?"
## Codepen demonstrating the issue

https://developer.microsoft.com/en-us/fabric#/controls/web/detailslist

## Actual behavior:
Bug 1 says: When you tab into the row, it reads all of the row information, not cell by cell.
Bug 2 says: When you tab into the row, as it reads all of the information, it should read the column header that the cell belongs to as well.

## Expected behavior:
Bug 1 says: S

[2019-07-25 20:12] ecraig12345 commented on #9936
What version of SPFx and Fabric are you using? Some versions of SPFx come with an extremely old Fabric version which didn't have multiselect ComboBoxes yet.

[2019-07-25 20:13] ecraig12345 commented on #9938
I agree, that doesn't look right... @Jahnp Do you know what needs to happen to get an icon fixed?

[2019-07-25 20:21] ecraig12345 commented on #9931
I'm not quite sure what you mean, sorry. What part of the pivot should be center aligned, and relative to what other part? As far as I can tell, toggling the change you proposed on/off doesn't make anything look more or less centered, unless it's an extremely subtle difference.

[2019-07-25 20:37] #9568 closed

[2019-07-25 20:52] Vitalius1 commented on #9568
@vmary2014 with the current fix submitted you should be able to do same things as before with a slight API change on your side. You will basically have to provide the `onRenderCustomPlaceholder` callback that now passes you the default shimmer row render so you can still have them render properly and not build from scratch and also execute any custom logic before the render. It should look somethi

[2019-07-25 21:36] eveleens commented on #6441
Any traction on this one? We have the same bug for ComboBox - in scan mode, pushing the down arrow doesn't focus on the elements.

[2019-07-25 21:39] kelseyyoung opened #9947 "Tooltip hidden hover area is too large"
### Environment Information

- __Package version(s)__: (fill this out) 7.10.0+
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/anon/pen/QeKKyO

#### Actual behavior:

In the above codepen, hovering over certain parts of the button hides the tooltip (specifically, the bottom part because the tooltip is anchore

[2019-07-25 21:39] kelseyyoung commented on #9947
@kysedate For FYI

[2019-07-25 22:57] larnera commented on #9931
It is really subtle and barely noticable. Sorry!

![example](https://user-images.githubusercontent.com/2369339/61914123-61c6ee80-af37-11e9-86db-7155d73eb06d.png)

[2019-07-25 23:12] jspurlin commented on #6441
I think this would be a good one to bring up to the Narrator team. This seems to be an issue with scan mode.

[2019-07-25 23:17] aneeshack4 commented on #6441
@eveleens I think @jspurlin is right - we've come across a lot of similar issues with our components in Scan Mode. Next step here is to contact the Narrator team - their workflow for issues like this is to post them on the internal stack overflow. I'll post there and send y'all the link on Teams. I'll close this Github issue since the SO one will now track it.

[2019-07-25 23:26] #6441 closed

[2019-07-25 23:31] aneeshack4 commented on #9264
We have the 2 thumb slider work slated for soon. And we're working on labels also. @benn-thomsen I don't fully understand the request for the max range width - what do you mean by this? If you have a visual mock up for this too, that'd be great.

[2019-07-25 23:44] natalieethell commented on #9466
We're still waiting to hear back from the Edge team - sorry about the delay.

[2019-07-25 23:48] jspurlin commented on #9947
@ecraig12345 FYI, this is a blocking issue for office online

[2019-07-26 00:07] natalieethell commented on #9944
Hey @eveleens thanks for opening up an issue. For clarification, are you talking about the DetailsList where `selectionMode === SelectionMode.multiple`?

It sounds like you're not expecting Scan mode to stop on the checkbox/first column header at all. Is that correct? Or is it that information about the checkbox is read out twice? I think I see the checkbox information being read out twice in Scan

[2019-07-26 00:16] ecraig12345 commented on #9947
@khmakoto Since you did PR #9775 which introduced this, can you help with the fix (or at least advise what to do)?

[2019-07-26 00:35] ecraig12345 commented on #9931
Thanks, that helps! I'll have to check with someone who's more familiar with the Pivot's styling to be sure, but it seems like a reasonable change. (The change will probably be done in the core Pivot.styles.ts rather than just in the examples, since it's applicable to all Pivots.)

[2019-07-26 00:46] ecraig12345 commented on #9945
@KevinTCoughlin or @natalieethell are you familiar with the expected DetailsList behavior in this case?

[2019-07-26 01:04] Vitalius1 commented on #9931
This can be fixed in 2 ways. One is what the issue author suggested or making the `justify-content: center` style of the Button flex container where the link content is rendered in. I will investigate a little bit more and have a PR later today. Thanks for submitting the issue because according to the design specs it should be centered.

[2019-07-26 01:26] ecraig12345 commented on #9941
It looks like this is an issue with IE 11's implementation of `Date.parse()`, since that's what the [default `IDatePickerProps.parseDateFromString` implementation](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/DatePicker/DatePicker.base.tsx#L47) uses.

Due to all the different date formats that exist, and the fact that you can't dire

[2019-07-26 01:33] ecraig12345 commented on #9935
@joschect What do you think about this idea?

[2019-07-26 01:58] ecraig12345 commented on #9934
Thanks for filing this, but I'm having trouble reproducing. Could you tell me:
- Which specific high contrast mode you're using
- Which browser and OS
- Which specific buttons within the MessageBar you're referring to: a screenshot and/or codepen would be helpful here

(In the future, please follow the issue template rather than deleting it, since it includes most of the info I'm now having to ask

[2019-07-26 02:13] halfnibble opened #9952 "Absolute paths in sourcemap."
### Environment Information

- 7.0.0: (fill this out)
- Mac OS: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

yarn build

#### Actual behavior:

Absolute paths are in sourcemap output (e.g. /Users/Joshua/workspace/…)
[code]

#### Expected behavior:

I’ve been trying to debug why webpack produces inconsistent content hashes, and my efforts have led me to b

[2019-07-26 02:25] ecraig12345 commented on #7416
Just got a new issue #9933 with the same question. Here's a basic example of using `theme.defaultFontStyle` and `theme.fonts` ([complete code in codepen](https://codepen.io/ecraig12345/pen/KOgmrw?editors=0010)), which should hopefully help @cyphernull who opened the new issue. This should go in the root file for your site/app.
[code]

@natalieethell Let me know if you'd like help updating the docs

[2019-07-26 02:27] ecraig12345 commented on #9933
There's already a closely related issue about this, #7416. I'm going to close this issue in favor of the existing one (and I added a comment answering the question).

[2019-07-26 02:27] #9933 closed

[2019-07-26 02:41] cliffkoh commented on #9934
I was able to reproduce this on latest version of Fabric  at https://fabricweb.z5.web.core.windows.net/oufr/7.16.0/#/examples/messagebar. I'll take care of it.

[2019-07-26 03:03] ecraig12345 commented on #9934
Just curious, what settings did you use?

[2019-07-26 03:06] ecraig12345 commented on #9901
@natalieethell added the behavior of focusing on options in #6224, but it looks like for that to work, you'd have to manually set `'data-is-focusable': true` when defining the list of `IChoiceGroupOption`s. Natalie, do you remember if there was a reason that you wanted the behavior of focusable options to be opt-in? (Also, the fallback behavior is to focus on `this._inputElement.current`, but that

[2019-07-26 03:09] cliffkoh commented on #9934
I just turned on Windows High Contrast..

![image](https://user-images.githubusercontent.com/1003246/61923240-18b37200-af18-11e9-9760-db16a0abb1a6.png)

The problem in the screenshot is that even though I am focused on those buttons, you can't tell.

[2019-07-26 05:06] KevinTCoughlin commented on #9568
FYI @soettl ^

[2019-07-26 06:51] ymihir commented on #9936
I am using 1.4.0 for SPOnline and SPOnprem versions. Can I update the fabric version? If I update fabric version will it break anything in solution?

[2019-07-26 08:53] benn-thomsen commented on #9264
Excellent to see this is going to happen.

To clarify I don't see the need for a max range width parameter that @brandonhorn initially requested.

I would only add the following attributes to the current slider:

valueMin: Value of the left hand (or lower slider for vertically orientated sliders)
valueMax: Value of the right hand  (or upper slider for vertically orientated sliders)
range: value_ma

[2019-07-26 09:02] vmary2014 commented on #9568
Thanks very much guys for sorting this issue. Really appreciate your efforts and how you followed up. I will test those changes as soon as they are in the released package.

[2019-07-26 10:54] larnera commented on #9931
Thanks guys!

[2019-07-26 14:24] eblancperso opened #9954 "Dropdowns in small screens cannot be closed otherwise than selecting an item"
## Codepen demonstrating the issue
https://codepen.io/eblancperso/pen/PMGvVx?&editable=true

## Actual behavior:
Shrink your browser window size to have a maximum width of 600px (so that a right panel with items is displayed upon clicking the dropdown).
Click outside this panel. It doesn't close (it was closing in Fabric 6)

## Expected behavior:
It should close the panel upon clicking outside.

#

[2019-07-26 15:22] #9598 closed

[2019-07-26 15:53] #9931 closed

[2019-07-26 15:54] #9913 closed

[2019-07-26 16:11] khmakoto commented on #9947
@ecraig12345 sure, I'll take a look into the issue.

[2019-07-26 17:55] brandonthomas commented on #9921
@dzearing can we have someone look into this?

[2019-07-26 18:08] Jahnp commented on #9938
Thanks for pointing this out @meredithxie . I can follow up with the icons team to verify the design and any mitigation steps needed. Will follow up when I learn more. Thanks!

[2019-07-26 18:20] suchk opened #9957 "No way to return focus to last element when dialog closes with Voiceover iOS"
When closing a dialog box, the focus should return to the last focused element, e.g. the button that opened the dialog. This works fine for most scenarios, so initially I thought it was an issue with VoiceOver iOS. However, I tested with the example aria page for [dialogs](https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/dialog.html) and it actually worked there.

I saw a [similar bu

[2019-07-26 19:35] dzearing commented on #9921
@aneeshack4 can you help @ecraig12345 on this one?

[2019-07-26 19:35] dzearing commented on #9921
hmm. I don't think focuszone itself ever would stop/prevent.

[2019-07-26 19:40] dzearing commented on #8532
@joschect can you help take a look here?

[2019-07-26 19:42] dzearing commented on #9952
Paging @kenotron

[2019-07-26 20:08] dzearing commented on #9952
I am not sure what causes this or if we need some secondary scrub on it.

[2019-07-26 20:21] halfnibble commented on #9952
After investigating, it appears that this is not blocking us. Our webpack hash will include the absolute path, but it includes the absolute path from the build in our package repo, which is constant for a version number.

You might want to set “remove absolute path from the production sourcemap” as a low priority task though.

[2019-07-26 20:24] kenotron commented on #9952
chatted offline... thanks for looking, @halfnibble

[2019-07-26 21:11] ecraig12345 commented on #9954
Did some investigation on this before noticing it had been reassigned to @behowell, so here are my notes anyway since I'd already written them.

----

Looks like @aftab-hassan tried to fix this in #9538, but even in the deploy link for that PR, tapping/clicking in the area outside the dropdown options panel doesn't close the panel.

Internally, the dropdown uses `IPanelProps.onDismissed` to handle

[2019-07-26 21:53] KevinTCoughlin commented on #9850
Agreed. Let's have the discussion of introducing a "Tree" component in #7597 and soft-close this issue in the meantime.

Similar request #8942.

[2019-07-26 21:54] KevinTCoughlin commented on #9945
@betrue-final-final is probably best. I actually believe he's answered this request before, but I can't seem to find the issue and reply.

[2019-07-26 21:57] natalieethell commented on #9901
It looks like the line adding the 'data-is-focusable' attribute to options (originally [here](https://github.com/natalieethell/office-ui-fabric-react/blob/fdf07cbb642af91ba75284a0a646e95a1bb55645/packages/office-ui-fabric-react/src/components/ChoiceGroup/ChoiceGroup.base.tsx#L88)) was removed. @JasonGore's PR back in August (https://github.com/OfficeDev/office-ui-fabric-react/pull/5842) added `dat

[2019-07-26 22:06] natalieethell commented on #9901
It looks like it was removed in @dzearing's PR https://github.com/OfficeDev/office-ui-fabric-react/pull/8053 due to some issues with ChoiceGroup in FocusZone. One option for a fix is to basically do the check that the initial 'data-is-focusable' was doing, which is checking if an option is checked or the default focusable option.

[2019-07-26 22:17] natalieethell commented on #9945
It's still possible to go through the row cell by cell for individual cell readout after tabbing into the row and then using the arrow keys. Is the concern in Narrator Scan mode? @betrue-final-final I'm interested to hear your thoughts on the correct behavior here.

[2019-07-26 22:28] ecraig12345 commented on #9936
Which specific version on SP on-prem are you targeting?

Also, can you check the specific version of Fabric you're using by running `npm ls office-ui-fabric-react`?

[2019-07-26 22:53] taparikh commented on #9880
@joschect Hi! wanted to confirm when this PR with fix be merged into master ?

[2019-07-26 23:15] ecraig12345 commented on #9882
Asked my teammates for suggestions and here's what @JasonGore had to say:

@ThomasMichon Since IIRC you worked on Selection in the past, do you have any thoughts about whether it would be reasonable to add the current `ISelection` as an argument to the `onSelectionChanged` callback?

[2019-07-26 23:22] ecraig12345 commented on #9885
I think the double option reading with the menu open is because we're using the `title` attribute to show the rest of the option text in case it overflows the width of the dropdown. You can see this from my codepen that sets a custom `title` on some of the items: https://codepen.io/ecraig12345/pen/KONMVp?editors=0010

We could potentially render the full text in a TooltipHost instead of using `tit

[2019-07-26 23:26] ecraig12345 commented on #9885
Forgot to mention, one potential workaround is that I could make the dropdown respect empty strings passed into `IDropdownOption.title`, so you could essentially turn off the title text.

[2019-07-26 23:30] taparikh opened #9961 "[Accessibility] Sequence Test on personaCoin shows large white circle on screen & a quarter circle as the logo."
## Codepen demonstrating the issue

https://codepen.io/taparikh/pen/QeGKLp -- codepen for our code.
https://codepen.io/Tanvi_p/pen/ymVaYP -- just personaCoin

## Actual behavior:
This is the output on our environment
![image](https://user-images.githubusercontent.com/51679982/61985911-8c10be80-afc0-11e9-89cd-375949f9a299.png)

On performing the same test on office-ui fabric Persona Coin component

[2019-07-26 23:31] ecraig12345 commented on #9961
Looks like you forgot to save the second codepen (https://codepen.io/pen/?&editable=true is just a generic link for creating a new codepen). Could you save it and update the link?

[2019-07-26 23:32] taparikh commented on #9961
@ecraig12345 Done !

[2019-07-26 23:53] ecraig12345 commented on #9911
I can't reproduce this with an out-of-box dropdown, and it's not possible to debug on your page since it's minified code (and a production build of React). So you'll really need to make a codepen mirroring the setup you're using within your product if you want help addressing this.

Here's a link to use the codepen I made in IE: https://s.codepen.io/ecraig12345/debug/xvREOm/vWkRwazzDxdM

Editable

[2019-07-27 00:28] ecraig12345 commented on #9896
I can't reproduce this with Edge+Narrator (the primary combination we support). Can you be more specific about the steps you're using to reproduce this issue?

[2019-07-27 00:41] taparikh opened #9962 "[Accessibility] "Color as a meaning test" clears the whole page except top navigation bar."
## Codepen demonstrating the issue
https://codepen.io/taparikh/pen/RXoGJR

The above codepen just shows the CentralGrid component (DetailsList) which completely disappers when this test is performed.

## Actual behavior:
Here are a few screenshots showcasing this behavior when "grayscale mode" is turned on in Google Chrome.
![image](https://user-images.githubusercontent.com/51679982/61987492-ecf1c

[2019-07-27 05:04] OverkillTV commented on #9300
Using typescript 3.2.4 vs rush-stack-compiler-3.2 works for me even though the error still show in VS but it compiled and built successfully

[2019-07-27 17:39] pandey11 opened #9965 "ComboBox: suggestedDisplayValue property of comboBoxState is not getting reset on clearing selectedKeys"
#### Actual behavior:
I'm trying this code where formValidator.form.profile.value is a state and getting reset on click of a button.

Current Issue. When i'm trying to select value of comboBox using key board it is setting suggestedDisplayValue. But even if i'm clearing selectedKey to null it is not resetting suggestedDisplayValue and in turn text getting displayed in comboBox
`<ComboBox
    label

[2019-07-28 13:08] joehillerman opened #9966 "CSS in Js library"
Which css-in-js library do you use in OUFR? If it is a custom library, where can I find detailed documentation of how to use it?

[2019-07-28 13:10] cnamal commented on #9934
Apologies @ecraig12345 for not providing repro steps. What @cliffkoh described is indeed the issue I was talking about. Thanks for quick replies/PR :)
Quick question: I believe the PR is targeting OUFR v7. Once it's merged, should I submit a PR that cherry-picks the fix for v6?

[2019-07-29 04:12] t-zeche commented on #9906
the PM wants both avatar and name can trigger Live Persona Card. I have tried to convince him that just let avatar trigger LPC. we still don't have a final decision. I will keep you updated. Thanks !

[2019-07-29 04:28] rohitrewa commented on #9879
Hey did we get the repro?

[2019-07-29 05:19] ecraig12345 commented on #9886
@muthubalu Will this workaround work for you?

[2019-07-29 07:26] tipantaz opened #9968 "[DetailsList] Focus on wrong item when keyboard navigation"
Hello! I have been encountering the same issue, but no necessarily by clicking as this closed report.
https://github.com/OfficeDev/office-ui-fabric-react/issues/9176

Version: "office-ui-fabric-react": "7.5.0"
Chrome,Edge and windows.

## Codepen demonstrating the issue
I can reproduce it in your example.
https://developer.microsoft.com/en-us/fabric#/controls/web/detailslist

## Actual behavior:
U

[2019-07-29 07:27] cnamal commented on #9909
Opened an issue on Accessibility Insights. It's possible the issue is actually in the underlying axe-core engine. We'll see what their feedback is :)

[2019-07-29 07:55] elly0t commented on #9522
the version I'm using - `"office-ui-fabric-react": "7.15.0"`

Tried to downgrade to v6 and the `onChange` method fired only *once*, which is the desired behaviour from most of us. However I need to stay on v7 for the new styling.

Apparently lots of us are experiencing the same issue. I'm wondering if there's any plan on having this fixed or clarified? As stated by @TomekPi,

I don't really see th

[2019-07-29 08:00] elly0t commented on #9522
The version I'm using - `"office-ui-fabric-react": "7.15.0"`

Tried to downgrade to v6 and the `onChange` method fired only once, which is the desired behaviour from most of us. However I need to stay on v7 for the new styling.

Apparently lots of us are experiencing the same issue. I'm wondering if there's any plan on having this fixed or clarified? As stated by @TomekPi,

I don't really see the

[2019-07-29 08:08] shivasai09 commented on #5360
@dzearing  is there any update on this issue? M365AdminUx also uses this component, and facing this issue.

[2019-07-29 09:05] ecraig12345 commented on #9925
Sorry about the delay getting to this. Just to confirm, are you using Edge+Narrator?

@lorejoh12 Any thoughts on the expected behavior here since you've been working on the calendar/datepicker? And if we do add this, how/where?

[2019-07-29 09:53] Kesshi commented on #9966
https://github.com/OfficeDev/office-ui-fabric-react/tree/master/packages/merge-styles

[2019-07-29 09:58] ishanisuchak opened #9969 "Solution fails at shrink wrap after newly published version of @uifabric/utilities"
### Environment Information

- __Package version(s)__: 6.143.0

#### Actual behavior:

Solution build fails when trying to run npm shrink wrap.
The observed behavior is that the office-ui-fabric-react version 6.143.0 installs @types/react-dom version 16.0.5. And it expects the dependency **@uifabric/utilities's** version to lie between **>=6.29.3 and <7.0.0**

But with the newly published **versio

[2019-07-29 09:58] ishanisuchak commented on #9969
We are facing a similar issue again. This time it seems it is the @uifabric/utilities dependency for @types/react-dom. We saw that a new version has been published for the package, which now expects a version for @types/react-dom to lie between >=16.3.0 <17.0.0. It was earlier installing version 16.0.5 for the @types/react-dom and we now get an error saying it requires there are invalid peer depen

[2019-07-29 10:46] anushkumarkorukonda opened #9970 "Underlying element is getting Hover state retained in IE11 after clicking on context menu option."
### Environment Information

- __Package version(s)__: 6.190.1
- __Browser and OS versions__: IE11

### Please provide a reproduction of the bug in a codepen:

The underlying component hover state is retained if the contextual menu option is clicked.
This issue is happening in IE11.

https://codepen.io/anush9625/pen/qzeEJb

In the above link created there are three divs one after the other. The di

[2019-07-29 10:49] ymihir commented on #9936
My target onprem version in SP2019. Below is my office-ui-fabric-react version
![image](https://user-images.githubusercontent.com/7568187/62042808-98915300-b21c-11e9-8df7-df60cdf3e4fc.png)

[2019-07-29 10:50] shivasai09 opened #9971 "Button getting white border on focus in IE11 whereas in other browsers black border is being displayed when focused"
### Environment Information

- __Package version(s)__: 6.186.1
- __Browser and OS versions__: IE11 and windows 10

### Please provide a reproduction of the bug in a codepen:

1. go to the link https://github.com/OfficeDev/office-ui-fabric-react/releases/tag/office-ui-fabric-react_v6.186.1
2. download source code.
3. run the following commands respectively
         -     npm run _rushInstall

[2019-07-29 14:22] modestfake opened #9972 "Missing "height: 100%" on ms-Panel-scrollableContent class breaks add-ins in Outlook Web on Safari"
Hello there!

Sorry in advance, I report a bug which may not be related to a library directly.
Recently we've noticed that all Outlook add-ins inoutlook.com are broken on Safari, the content is truncated.
![image](https://user-images.githubusercontent.com/16977959/62055169-bca46280-b223-11e9-8520-bc6b2be9500c.png)

### Environment Information

- Safari Version 12.1.1 and MacOS 10.14.5
- Outlook We

[2019-07-29 15:16] #9305 closed

[2019-07-29 15:32] dzearing commented on #5360
I've pinged @jspurlin on this issue.

[2019-07-29 15:43] marygans commented on #9966
Thanks @Kesshi  for your quick response! @joehillerman does the reference to this [package ](https://github.com/OfficeDev/office-ui-fabric-react/tree/master/packages/merge-styles)answer your question?

[2019-07-29 16:36] yury-stepanov commented on #9661
Hi there.
Is there any updates on that? Maybe there is workaround for this issue. I have tried to export
`import { ShimmeredDetailsList } from 'office-ui-fabric-react/lib/components/DetailsList/ShimmeredDetailsList';` directly but it seems that issue is still there

![image](https://user-images.githubusercontent.com/16511490/62065664-20d12180-b238-11e9-91de-a49e77f8c6dc.png)

[2019-07-29 16:49] #9954 closed

[2019-07-29 17:00] micahgodbolt commented on #9348
@betrue-final-final do you know if we have designs for this yet? Shouldn't be difficult work to do once we have those new colors.

[2019-07-29 17:03] jspurlin commented on #5360
@dzearing I'm not able to repro this with Edge+Narrator or Chrome+NVDA, the value gets read when it's focused for me and when the values are switched. The result is inline with how a basic HTML select works: https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_select

[2019-07-29 17:08] ecraig12345 commented on #9909
Thanks for doing that! Are you okay with closing the issue here?

[2019-07-29 17:12] #9683 closed

[2019-07-29 17:22] shivasai09 commented on #5360
@jspurlin , here is the  repro url
https://codepen.io/anon/pen/eqgwjd?&editable=true

1. please open the above url in edge and switch on the narrator

2. it has two combo boxes, fot the 1st combo box the narrator will not announce when values are changed via up/down arrow, and for 2nd combo box the narrator will announce.

please let me know if the above url replicates this issue

[2019-07-29 17:31] kenotron commented on #9969
We cannot back out the @types/react-dom from 16.3.0 on 6.0 branch because that branch is using the new Context API which depends on React 16.3. I believe it would be an easy fix on the consumer side to upgrade @types/react-dom & @types/react to 16.3 without much issues because react generally has a backwards compatible API surface.

How much work would it be for you to upgrade @types/react on your

[2019-07-29 17:32] #7999 closed

[2019-07-29 17:50] marygans commented on #9962
Hi @taparikh! It looks like the accessibility bug is within the `CentralGrid` component or within Accessibility insights tool, considering when I try to[ repro](https://codepen.io/gwiz0210/full/aepeWK) the bug, the results are as expected, following the accessibility insights steps. You might wan to file an issue on the [Accessibility Insights tool](https://github.com/microsoft/accessibility-insig

[2019-07-29 17:58] taparikh commented on #9961
@ecraig12345 Hi Elizabeth! Let me know if you need any more information from me. Im happy to hop on a teams call as well to discuss this in more detail.

[2019-07-29 18:06] marygans commented on #9965
Hi @pandey11! Thanks for reporting this. Could you provide a codepen example of this issue you are having? You ca start by clicking the "export to codepen" button on this [combobox example](https://fabricweb.z5.web.core.windows.net/oufr/7.18.0/#/examples/ComboBox).

[2019-07-29 18:29] taranlabana opened #9976 "Detailslist - rows selection cleared on clicking other parts of the row"
### Bug Report

- __Package version(s)__: 7.18.0
- __Browser and OS versions__: Chrome, Windows 10

#### Describe the issue:

The rows selection is cleared in details list with checkbox if user clicks on another part of a row.
[Click here](http://g.recordit.co/Au9I2zOpE5.gif) to take a look.

This behavior can also be reproduced in the example given on [fabric page](https://developer.microsoft.com

[2019-07-29 18:52] cnamal commented on #9909
Sure!

[2019-07-29 18:52] #9909 closed

[2019-07-29 19:37] joschect commented on #9821
@PavanJagini this is definitely a bug that we'll need to look into. Currently I'm not quite sure why it's happening, my best guess is that focus is momentarily going to the pivot header when the calendar dismisses.

[2019-07-29 20:00] jgage176 commented on #3077
Why did this get closed? This is an obvious missing feature that lacks parity with the corresponding native dropdown elements.

[2019-07-29 20:06] dylankil commented on #9911
I managed to narrow it down to a couple of CSS selector properties applied to the div with the class name 'ms-Panel-scrollableContent' - overflow-x and overflow-y, I appended overflow: auto and adjusted the width to hide the horizontal scroll bar and it fixed the issue in the app. Not sue, but IE support of these properties may not be as robust as modern browsers.

[2019-07-29 20:08] #9911 closed

[2019-07-29 20:09] dylankil commented on #9911
Shouldn't effect customers who use Office UI Fabric 'as-is'

[2019-07-29 20:09] joschect commented on #9854
@LiangMingChen I am confused, Elizabeth's fix explicitly removed the line that you had highlighted earlier.

To clarify, what do you mean by consumer depot? Are you talking about this github code repository?

Also there was a fix put in sot that the details list will render correctly because it wasn't rendering the views. Have you pulled the latest and tried it again?

[2019-07-29 20:11] flavogov commented on #9882
@ThomasMichon any thoughts on the potential API change?

[2019-07-29 20:12] eeccker opened #9978 "onColumnHeaderClick and onColumnClick not triggered for isIconOnly or empty/whitespace 'name'"
### Environment Information

- __Package version(s)__: 7.18.0
- __Browser and OS versions__: Chrome/Firefox Windows 10

### Please provide a reproduction of the bug in a codepen:

I don't see documentation outlining this behavior as expected so I'm assuming it's a bug.

[https://codepen.io/anon/pen/VopYJZ](https://codepen.io/anon/pen/VopYJZ)

1. Click on the column headers

#### Actual behavior:

[2019-07-29 20:12] aappddeevv commented on #9882
@ThomasMichon any thoughts on the potential API change?

[2019-07-29 20:54] marygans commented on #9972
Hi @modestfake! Thanks you for filing this. There have been a few recent changes to Panel in the past weeks. Can you try and use the `isFooterAtBottom={true}` and see if that works? [Panel footer](https://uifabric.azurewebsites.net/#/controls/web/panel)  is an example of how it's used and below is a screenshot:
<img width="1024" alt="Screen Shot 2019-07-29 at 1 48 25 PM" src="https://user-images.g

[2019-07-29 20:57] micahgodbolt commented on #9970
## IE11

![ie11](https://user-images.githubusercontent.com/1434956/62081966-9624fe00-b208-11e9-8bbb-4fa81a5cc1cf.gif)

## Chrome

![chrome](https://user-images.githubusercontent.com/1434956/62082030-c371ac00-b208-11e9-8a66-7d3c6075ebf0.gif)

From what I can see, IE11 and Chrome perform the same way. Am I missing the issue here?

[2019-07-29 21:41] natalieethell commented on #7416
@ecraig12345 thanks for the reminder! I just opened a PR.

[2019-07-29 22:31] marygans commented on #9976
Hi @taranlabana!

The actual behavior reported is intended behavior by design. To multi-select rows you can use the SHIFT and META (CMD or CTRL).  This is consistent behavior with Window's native file explorer as well as OneDrive & SharePoint lists. If you would like to further discuss this design decision let me know!

You can customize this default behavior by utilizing the props [`selectionZone

[2019-07-29 23:45] ecraig12345 commented on #9911
Thanks for the update!

[2019-07-29 23:55] ThomasMichon commented on #9882
One thing I should point out is that anyone can subscribe to the `change` event of a `Selection` object after it has been created, though the interface is non-obvious:
[code]
This means that to subscribe to a `Selection`, you don't *need* to pass `onSelectionChanged` as a prop when you create the instance; it's only there for convenience.

With the above, it's easy enough to accept callbacks that

[2019-07-30 00:00] ecraig12345 commented on #9882
Thanks! @aappddeevv, does this work for you?

[2019-07-30 00:10] eveleens commented on #9945
Not sure if I'm just not doing it right, but I can't use arrow keys to go cell-by-cell in non-scan mode.

The concern wasn't specific for Scan or not-Scan mode. It was that when you go to a row, it reads you all the information. =\

[2019-07-30 00:12] eveleens commented on #9925
Using Edge + Narrator!

[2019-07-30 02:20] #9702 closed

[2019-07-30 07:29] anushkumarkorukonda commented on #9970
@micahgodbolt After pressing the contextual menu option which is on top of the second div move the cursor immediately away from the second div. The hover state will be retained for second div in IE11 and in chrome it will go away.

[2019-07-30 08:08] Markionium commented on #7534
@tabrumle is your immediate concern fixed? It'd be nice to know with regard to how we should prioritise this in our team.

[2019-07-30 09:15] modestfake commented on #9972
Hi @marygans. Thanks for the response!
Unfortunately, I can't try this. I'm an add-in developer and the only code I can manage is the code inside iframe. This problem is in the `Panel` which opens a taskpane in Outlook and which includes our iframe. So we have no control there. Probably I need to report this to Outlook team as well but I can't find the way to reach them out directly.

And thanks f

[2019-07-30 09:31] vmary2014 commented on #9568
Hi
Just to confirm that the issue is fixed for me in version 7.17.0 of the office-ui-fabric-react package.
Thanks again for your help, it is much appreciated !
Vincent

[2019-07-30 09:58] modestfake commented on #9972
Sorry, I should've mentioned that this happens only in "new Outlook experience".

[2019-07-30 15:25] aappddeevv commented on #9882
That should work and solves the immediate issue.

I will point out that it took a few lines of code and its complexity is much higher and as pointed out, non-obvious, than just passing the ISelection object into the callback.

But I guess we pull all of that into another hook :-).

As a counter argument to taking the simplest approach I mentioned, I'll point out that the constructor subscription a

[2019-07-30 15:25] #9882 closed

[2019-07-30 15:33] micahgodbolt commented on #9970
Thats not what I'm seeing in IE11 (gif above).

[2019-07-30 15:35] micahgodbolt commented on #3077
This is a combo box feature. Our goal is to eventually merge combobox and dropdown as they have WAY too much overlapping functionality.

[2019-07-30 16:10] Vitalius1 commented on #9568
@vmary2014 Yes, according to the [release notes](https://github.com/OfficeDev/office-ui-fabric-react/releases/tag/office-ui-fabric-react_v7.17.0) 7.17.0 is the release containing the fix. Let us know in the issue thread if it solves your scenario/

[2019-07-30 16:12] #9832 closed

[2019-07-30 16:21] joschect commented on #8532
@v-khkuma I believe that this is working as intended according to the [aria specs](https://www.w3.org/TR/wai-aria-practices/examples/menubar/menubar-1/menubar-1.html#)

Just to make sure that we're on the same page though, do you mean that the menu itself is read as a submenu or the actual command bar item/button is read as a submenu? If it's the popup menu itself then it is considered to a be a s

[2019-07-30 16:40] jspurlin commented on #5360
Again, it reads out just fine for me. I am not able to repro the non-readout behavior. Make sure Narrator is behaving correctly when testing (my require Narrator to be shutdown and restarted)

[2019-07-30 16:57] #9940 closed

[2019-07-30 16:59] #9947 closed

[2019-07-30 17:18] anushkumarkorukonda commented on #9970
@micahgodbolt After clicking the context menu option move the cursor immediately out of the div without any delay. In the above gif there was small delay in moving out of the cursor. Then you can see the hover state retained for second div in IE 11 and in chrome it will work fine.

[2019-07-30 17:31] tabrumle commented on #7534
The concern was fixed with PR [9823](https://github.com/OfficeDev/office-ui-fabric-react/pull/9823). I am not seeing this change on the Fabric website though.

[2019-07-30 17:36] joschect commented on #9935
@ecraig12345 I think that it's a reasonable thing to add. I might suggest creating a composite component that implements the label with the picker which would help us avoid adding more props. It would also make it easier in the future to switch out the picker with a new one if someone wants to switch to the floating pickers.

[2019-07-30 17:59] micahgodbolt commented on #9970
i simply can't repro this in IE11

[2019-07-30 18:00] micahgodbolt commented on #9970
![chrome](https://user-images.githubusercontent.com/1434956/62153337-320e4280-b2b9-11e9-9f80-4f4a435f5b7e.gif)

[2019-07-30 18:32] marygans commented on #9972
Hi @modestfake !

I tried debugging the problem in the same way that you did (inspecting the iframe on Safari devTools) as I also do not have access to their code.  I tried to reproduce the bug using only the Fabric components and opening it in Safari but was unsuccessful. I would suggest reaching out to the folks at Outlook and I will do some digging on my side to get in touch with them!

I tried

[2019-07-30 19:03] ArpitaGhattuMicrosoft opened #9989 "Need a way to override Toggle components' role attribute"
- Our accessibility requires the toggle button to say "checked" or "unchecked" on "On" and "Off" respectively, just like the behavior we get when role="checkbox",

- For this purpose, it would be convenient if the role attribute of Toggle component(which always defaults to role="switch") is allowed to be overridden, so that any team can change this component behavior according to the features acce

[2019-07-30 19:05] AndrewCraswell commented on #9852
@kkjeer, any update on this work item? Thanks!

[2019-07-30 21:31] kkjeer commented on #9852
@joschect I'd be fine with changing the `<p>` to a `<div>` (of course being careful not to break existing styling).

[2019-07-30 21:41] olfilato opened #9991 "DocumentCardPreview: make the item limit number an optional prop"
**Describe the feature that you would like added**: DocumentCardPreview with multiple documents currently has a hard limit of 3 items displayed before it kicks-in the overflow logic. I propose to make the limit number an optional prop to be passed in, with the default being 3 (the current value).

**What component or utility would this be added to**: DocumentCard

**Have you discussed this feature

[2019-07-30 22:00] modestfake commented on #9972
Thank you @marygans for your time. I've contacted Outlook support. Well... I hope I found the right way to report this :)
Do you think we can close this ticket or is it better if I get a response from the support and then update this ticket?

[2019-07-30 22:21] micahgodbolt opened #9992 "Fabric 8: Proposed Changes"
Proposed Changes

[2019-07-30 22:23] #9992 closed

[2019-07-30 22:23] micahgodbolt opened #9993 "Fabric 8: Proposed Changes"
Proposed Changes

[2019-07-30 22:25] jdhuntington commented on #9993
- Stop releasing AMD flavor
- Only allow exports from top level (eg `import { Foo } from 'office-ui-fabric-react';`, while `import { Foo } from 'office-ui-fabric-react/lib/Foo';` is not supported)

[2019-07-30 22:52] KevinTCoughlin commented on #9993
Adding @aditima, since the above will require that we move existing partners away from AMD imports by the time Fabric 8 releases.

@jdhuntington, do we have metrics on existing AMD usage?

Perhaps a code grep across internal solutions as a first pass.

[2019-07-30 23:01] HalcyonPride opened #9997 "Icon: Doesn't consume 'aria-labelledby' from ImageProps"
### Environment Information

- __Package version(s)__: 7.18.1
- __Browser and OS versions__: N.A.

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/xvdEPY

#### Actual behavior:

Nothing.

#### Expected behavior:

`aria-labelledby` - and similar HTML attributes - in `imageProps` should be applied to the Icon's `<i>` element.

#### Priorities and help requeste

[2019-07-30 23:20] HalcyonPride opened #9999 "Icon: Should not contain role='presentation' if it has any label"
## Codepen demonstrating the issue

See lines 48-55 in `Icon.base.tsx`.

## Actual behavior:

`role='presentation'` is applied even if `alt` or `aria-labelledby` is provided via `imageProps`.

## Expected behavior:

Do not apply `role='presentation'` when any label is provided, similar to the case where `ariaLabel` is provided, since assistive technology can interact with the label.

## Documentat

[2019-07-30 23:21] joschect commented on #9808
@lavanya-kuda I made this [codepen](https://codepen.io/slimemold/pen/eqWBjQ?&editable=true) could you confirm that the issue shows up here? I took a look and don't see any focusable aria-hiddens

[2019-07-30 23:21] marygans commented on #9989
Hi @ArpitaGhattuMicrosoft ! Thank you for filing this. I think this is a reasonable request.  @phkuo what do you think about this?

[2019-07-30 23:23] HalcyonPride commented on #9999
@leddie24, this is related to #8820.

[2019-07-30 23:45] eveleens commented on #9944
There is a bunch of information being read in scan mode. I'm using single mode, but I can reproduce in multiple mode as well.

If you are in scan mode, and you go into the row:
-you get information about the row,
-push down
-get information on the checkbox
-push down
-stays on checkbox, now announces if checkbox is checked
-push down
-moves to next column.

The bug is that we're staying on the che

[2019-07-31 00:49] phkuo commented on #9989
Yep that sounds totally reasonable.

[2019-07-31 01:45] taparikh commented on #9880
@joschect Hi Jon, wanted to add another accessibility bug relating to the error message on datepicker and all other input types (dropdown, textfield)

The error message does not have an accessible name. please find the screenshot below

![image](https://user-images.githubusercontent.com/51679982/62177555-2a22c280-b2fa-11e9-938f-dfec2c374b1b.png)

[2019-07-31 02:31] taparikh commented on #9962
Hi @marygans  I have filed an issue with the Accessibility Insights team https://github.com/microsoft/accessibility-insights-web/issues/988

[2019-07-31 05:10] joschect commented on #9880
@taparikh It should be getting merged in a day or so.

That error message should go away once the fix is in. Per my previous comments the aria spec is clear about where the label should be going for comboboxes.

[2019-07-31 05:48] marygans commented on #9968
Hi @tipantaz thanks for submitting this and referencing the example! This is a bug and we'll work on getting it fixed.

[2019-07-31 07:06] marygans commented on #9991
Hi @olfilato! thanks for submitting this feature request. @yiminwu, as codeowner of DocumentCard what are your thoughts on this?

[2019-07-31 07:23] marygans commented on #9972
@modestfake, I was told that this is might already be a known issue, but feel free to leave this thread open for tracking purposes until it's confirmed!

[2019-07-31 07:33] marygans commented on #9999
Hi @HalcyonPride thanks for submitting this and referencing the related PR!
@leddie24 do you think you can you help with the fix (or I can and run it by you)?

[2019-07-31 08:56] eveleens opened #10001 "DatePicker shouldn't be announced as a table"
## Codepen demonstrating the issue

https://developer.microsoft.com/en-us/fabric#/controls/web/datepicker

## Actual
Screen reader reading all the controls of calendar under table format as 6 row 5 column.

## Expected
Screen reader should not announce calendar controls under table format.It should read only days and date year information.

## Documentation describing expected behavior
MAS 1.3.1 -

[2019-07-31 09:58] Toonshorty commented on #9444
@Jahnp I am also seeing some strange behaviour with the latest font. The WaffleOffice365 icon (U+F4E0) doesn't appear to be in the latest font package but I am fairly sure this icon predates the current font version (3.36).

[2019-07-31 13:52] taranlabana commented on #9976
Thanks @marygans!
I will try it out

[2019-07-31 13:52] #9976 closed

[2019-07-31 15:53] JllyGrnGiant opened #10002 "DetailsList: NVDA+Chrome - Column header values read twice in scan mode"
### Bug Report

- __Package version(s)__: Latest used on sample site (2019.7.29.6)
- __Browser and OS versions__: Chrome

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Azure DevOps

#### Describe the issue:

1. Navigate to https://developer.microsoft.com/en-us/fabric#/controls

[2019-07-31 15:53] JllyGrnGiant commented on #10002
Something of note is sometimes when I used the scan mode 'T' shortcut to jump to the details list table instead of tabbing to the table in app mode then switching to scan mode, focus outlines weren't showing in the DetailsList even though NVDA says I'd reached the table. In this state, I could not reproduce the issue. So there might be something wrong with how DetailsList is controlling focus.

[2019-07-31 15:53] fedesantamarina commented on #4180
`  private _onRenderRow = (props: IDetailsRowProps): JSX.Element => {
    props.className = "";
    return <DetailsRow {...props} />;
  }`
Still the same

[2019-07-31 16:01] pandey11 commented on #9965
Hi @marygans, I have shared the recording of repro steps over email. Please let me know if needed more info.

[2019-07-31 16:18] dzearing commented on #9993
Major proposals:

* Move all styling to the theme. No component should bring an opinion about the css directly.
* Babel plugin to help partners with minified theming.
* Support a pure css theme option for modern browsers.
* Convergence with Stardust plan.
* Move to generalized hooks, which should result in smaller bundle size due to logic reusability.
* Rolled up d.ts to preventing consumers from

[2019-07-31 16:31] marygans commented on #9997
Hi @HalcyonPride thanks for submitting this and referencing the codePen example! I was able to repro this and will work on getting it fixed.

[2019-07-31 16:59] dzearing commented on #9993
@KevinTCoughlin The thing with dropping AMD output is that anyone can create an AMD bundle project themselves. I think we would still produce a UMD bundle, and if teams who still use AMD are too busy to build their own bundles or change to webpack, they could fall back to that.

The real problem we are seeing is when people import from `oufr/lib/foo/bar/baz` where we did not even anticipate would

[2019-07-31 17:00] ArpitaGhattuMicrosoft opened #10003 "Panel custom header aria-labelledby issue"
We are using Panel component and are seeing an accessibility issue(NVDA + chrome) where the screen reader is reading everything on the panel when opened. We are using a custom header and using the headerTextId as the id on the header element. But headerTextId is undefined and aria-labelledby is never set on the panel

## Codepen demonstrating the issue
https://codepen.io/anon/pen/vomXMq

## Actual

[2019-07-31 17:23] yumikohey opened #10004 "People Picker dropdown list is not being announced in Android"
This is repro in Android and Win32 apps.

## Codepen demonstrating the issue
https://developer.microsoft.com/en-us/fabric#/controls/web/peoplepicker

## Actual behavior:
When users navigate with a physical keyboard up and down on the dropdown available list, voiceover should announce the name of the person.

## Expected behavior:
When users navigate with a physical keyboard up and down, voiceover

[2019-07-31 19:04] ymihir commented on #9936
@ecraig12345  Any update on this?

[2019-07-31 21:54] eveleens opened #10009 "DetailsList - NVDA - Disabled columns are not being read"
## Codepen demonstrating the issue

https://codepen.io/anon/pen/EqXNxE

## Actual behavior:
Disabled column headers aren't focusable and aren't being read in NVDA. (Does NVDA only follow elements that are focusable?)

## Expected behavior:
NVDA should be reading column headers regardless.

NVDA should announce row column information of table. When nvda focus is on table, it should announce it as "

[2019-07-31 21:59] caiomontei opened #10010 "Teaching bubble close icon does not have a tooltip"
## Codepen demonstrating the issue
https://codepen.io/anon/pen/GVErJr

## Actual behavior:
Tabbing or hovering to the close icon does not show any tooltip.
The close button also does not contain an aria label.
## Expected behavior:
A tooltip should appear indicating that the icon is used for closing the callout.
The button should have an aria label so it is announced by screen readers.

## Documen

[2019-07-31 22:00] eveleens commented on #9945
I also have another bug suggesting another opposing way of doing this.

The bug says that the screenreader should announce the column headers when reading out all of the information.

Example:
Abc.txt, Column header File Name, March 12, 2019, Column header Created Date...

Seems like there isn't a consensus on the correct behavior.

[2019-07-31 22:03] elmarsto opened #10012 "Documentation for DetailsList with custom row rendering handler needs modification"
#### Environment Information

- __Package version(s)__:  Office UI Fabric React 6.189.2, Typescript 3.5.2

#### Actual behavior:
On my local, a lightly-modified version of the code example given at [the official documentation](https://developer.microsoft.com/en-us/fabric#/controls/web/detailslist/customitemrows) yields a typescript error:

[code]

#### Expected behavior:

I expect the example used

[2019-07-31 22:04] marygans commented on #10001
Hi @eveleens! Thanks for submitting this issue. I believe this issue is related to the existing issue #9641. If you agree, we can ping that open issue and get this one closed

[2019-07-31 22:18] marygans commented on #10002
Hi @JllyGrnGiant can you confirm that are you only experiencing this with NVDA? DetailsList seems to works fine with Narrator/Edge. Looking back on some previous issues submitted in the past, this is a bug that might be in the works of getting fixed on their end.

[2019-07-31 22:22] eveleens commented on #10001
Hey @marygans - #9641 is saying that restructuring needs to happen to read the _correct_ rows, but this bug seems to say that columns shouldn't be read _at all_.

Not sure what the expected behavior needs to be though.

[2019-07-31 22:26] JasonGore commented on #9898
The concern we have is that we can't safely assume somebody wants a non-presentational component simply because the `as` prop having a value. What happens if someone uses a `span`, for example? Such a change would now make they're previously presentational components non-presentational. We are leaning towards making this behavior explicit rather than incorrectly assume intent through the presence

[2019-07-31 22:53] ecraig12345 commented on #9941
Ping @lorejoh12

[2019-07-31 23:07] marygans commented on #10003
Hi @ArpitaGhattuMicrosoft! Thank you for submitting this issue to us. I agree that the expected behavior of the component should be to read the header text specified vs. the entire content in the panel. We will ensure this issue is addressed.

[2019-07-31 23:13] ArpitaGhattuMicrosoft commented on #10003
Thanks @marygans !

[2019-07-31 23:38] marygans commented on #10009
Hi @eveleens! Thanks for submitting this isuse, DetailsList seems to works fine with Narrator/Edge when I test it. Looking back on some previous issues submitted in the past, this is a bug that might be in the works of getting fixed on their end, specifically with NVDA?

[2019-08-01 00:04] kisiebel opened #10014 "Checkbox label is read twice in scan mode"
## Codepen demonstrating the issue

https://codepen.io/anon/pen/zgzZXP?&editable=true.
## Actual behavior:
In scan mode on narrator, there are two focus locations and the label is read twice.
## Expected behavior:
There should be one focus location and the label should be read once.
## Documentation describing expected behavior
https://www.w3.org/TR/wai-aria-practices/examples/checkbox/checkbox-1/

[2019-08-01 00:49] joschect commented on #9885
@ecraig12345 Sorry for my slow reply, @cliffkoh might know something about it. I'll take a look too.

@Lijing29 I'm a little confused, is it that text is read when first tabbed into, and again when you press an arrow key? Or is it that when you tab in the text is read twice?

[2019-08-01 00:59] HarryGifford opened #10015 "Spin button label inconsistent formatting"
### Environment Information

- __Package version(s)__: 7.18.1
- __Browser and OS versions__: Chrome 76.0.3809.87 (Official Build) (64-bit), Windows 10.

### Please provide a reproduction of the bug in a codepen:

Go to [this codepen](https://codepen.io/hegi/pen/NQgjxN).

#### Actual behavior:

The alignment of the labels for spin buttons doesn't match the alignment for other controls such as the C

[2019-08-01 02:56] ecraig12345 commented on #9936
Talked to some coworkers about this. It sounds like upgrading the Fabric version isn't possible with SPFx 1.4.0, but there are a couple other options.

If you just want the ComboBox's multi-select mode, you can upgrade to a minimum of SPFx 1.5.1, which includes Fabric 5.83 (multi-select was added in 5.69).

To get the ability to bundle any custom Fabric version, you can upgrade to SPFx >= 1.8.2. (

[2019-08-01 03:10] sushruth opened #10017 "SelectionMode is exported from multiple files and is causing jest errors"
### Environment Information

- __Package version(s)__: 7.19.0
- __Browser and OS versions__: `enzyme` render environment within jest on Windows 10 insiders

### Please provide a reproduction of the bug in a codepen:

Jest shows an error when trying to mount using enzyme. I am unable to make this sound less gibberish so please allow me to explain - In short, this seems to be the issue for the modul

[2019-08-01 03:46] ecraig12345 opened #10019 "Calendar/DatePicker snapshot tests should not be specific to current month"
There are some snapshot tests for the DatePicker/Calendar where the component is displaying the current or previous month, so they fail when the month changes. In [this example](https://uifabric.visualstudio.com/fabricpublic/_build/results?buildId=22470) it's the accessibility tests failing, but this may happen with the normal component examples snapshot test too.

![image](https://user-images.git

[2019-08-01 04:03] ecraig12345 commented on #4971
Just made a PR #10020 removing the role.

[2019-08-01 04:03] ecraig12345 commented on #9898
Just made a PR #10020 removing the default role entirely, based on discussion with David and on the original issue #4971.

[2019-08-01 04:34] marygans commented on #10015
Hi @HarryGifford, thank you for submitting this issue!

I am checking out your [codepen](https://codepen.io/khmakoto/pen/NJVPjM) and I don't see the use of the `SpinButton` in your example. Would you like to update the CodePen with the actual behavior you are experiencing? Can you also clarify your alignment expectations? (e.g. Are you referring to the spacing?)

Thanks!

[2019-08-01 04:37] marygans commented on #9972
@modestfake  I confirmed with the team that a fix was pushed for this issue last week and It should go live in a week.

[2019-08-01 04:42] marygans commented on #10004
Hi @yumikohey thank you for submitting this issue! Can you specify the environment so I can try to repro?(e.g. Edge+narrator; Firefox + JAWS, etc.)

[2019-08-01 04:49] PavanJagini commented on #9821
Thanks for confirming @joschect, I shall take this info to accessibility team to get the bug closed.

[2019-08-01 07:05] cliffkoh commented on #10017
This looks like a duplicate of #9661 ...

[2019-08-01 07:13] cliffkoh commented on #10017
I've sent an email to escalate the visibility of this problem.

I am going to mark this as a duplicate and let #9661 be the main issue tracking a resolution.

[2019-08-01 07:45] sushruth commented on #10017
Sounds good. Will track the original. Thanks!

[2019-08-01 07:45] #10017 closed

[2019-08-01 07:51] taparikh commented on #9961
@ecraig12345 Hi Elizabeth just a gentle follow up to check if you need any more information from us to work towards resolution of this bug!

[2019-08-01 07:51] sushruth commented on #9661
Is there a version we can expect this fix (#9750) in?

[2019-08-01 12:43] lavanya-kuda commented on #9808
HI @joschect, I can't see the aria-hidden issue in this codepen. I ran accessibility tool. Which version of office fabric ui are you using?

[2019-08-01 12:55] modestfake commented on #9972
Thank you @marygans. I think we can close this issue then.

[2019-08-01 14:58] cc0rk commented on #8047
Why was this closed? This is an actual bug that is currently unsolved, right?

[2019-08-01 15:54] joschect commented on #9808
@lavanya-kuda Per the unpkg I'm using the latest version of fabric 6 which is 6.197

![image](https://user-images.githubusercontent.com/20801176/62308227-e3d47d00-b439-11e9-95a2-c86d8aa11937.png)

[2019-08-01 16:57] aneeshack4 commented on #8047
@cc0rk the author closed it because there was a possible fix on the user's side as you can read in this comment https://github.com/OfficeDev/office-ui-fabric-react/issues/8047#issuecomment-466607271 - if you're reproing this issue, feel free to open another issue with details specific to your case as it looks this issue was quite specific to the author's case.

[2019-08-01 16:58] khmakoto commented on #9637
Hi, I just got a response this morning indicating that there are bugs filed for this in both Narrator's and Edge's sides which are causing Narrator to identify a context change in this type of scenarios. I'll be resolving this as an external issue given the circumstances.

[2019-08-01 17:02] #9972 closed

[2019-08-01 17:19] ymihir commented on #9936
If i upgrade spfx version to 1.8.2 it won't support in SP 2019 On-Premises right!

[2019-08-01 17:33] micahgodbolt commented on #9971
hmm, yup. I'm able to repro this in 6.197.0 as well

I think the answer might be around IE11 and outlines in pseudo elements. If you inspect you can see that the white is coming from the pseudo border (and is displaying properly) but the outline is not working (don't mind the line-throughs....not sure why its displaying like that. you can turn the border on/off and it works)

![image](https://user

[2019-08-01 17:37] micahgodbolt commented on #9971
Ahhhaaa! The outline works, but it's being clipped. Add overflow: visible to the button and the outline shows up.

![image](https://user-images.githubusercontent.com/1434956/62314648-59dfe080-b448-11e9-99c6-a38893f44b42.png)

[2019-08-01 19:00] ecraig12345 commented on #9936
Unfortunately yeah--I wasn't aware of that (and it wasn't clear in my coworker's original message), but shortly after I replied on GitHub they sent a follow-up email pointing out that issue.

[2019-08-01 19:02] ecraig12345 commented on #9936
If you really want a multi-select ComboBox, the best workaround for the on-prem situation might be to copy the multi-select ComboBox control from a later version of Fabric into your code.

[2019-08-01 19:14] jvkrishna opened #10021 "Button: Use spans instead of divs to fix validation issues"
### Issue:
[HTML Validator](https://validator.w3.org/nu/about.html) for the button components are failing, for invalid nesting of **div** elements inside the **button**.

From the W3C specifications, **div** elements are not allowed as child of **button**.

### Codepen:
https://codepen.io/anon/pen/WVExLK

![image](https://user-images.githubusercontent.com/18074161/62320575-60c12000-b455-11e9-891e-

[2019-08-01 19:27] #9939 closed

[2019-08-01 19:37] ecraig12345 opened #10022 "example-app-base readme is inaccurate"
The example-app-base readme appears to have been copy-pasted from the utilities readme. We should probably fix that...

https://www.npmjs.com/package/@uifabric/example-app-base

[2019-08-01 20:27] kenotron commented on #9661
We might have had to reexport because of declaration: true. So it might have been that. Not sure the next steps - will discuss offline with @jdhuntington on this.

[2019-08-01 20:36] joschect commented on #9821
@PavanJagini This is an issue with fabric, I think, we still need to investigate though.

[2019-08-01 21:12] aneeshack4 commented on #9921
It looks like this isn't a problem with preventDefault() or stopPropagation - this is a JAWS bug. I know we spoke offline a bit @brandonthomas sounds like you might have to speak with your a11y folks to file a bug with JAWS...

[2019-08-01 21:40] jdhuntington commented on #9661
@rhublard Sorry you're running into this! Afraid I'm having some difficulty verifying a fix, as getting a local repro is proving non-trivial. Somehow the codesandbox link seems to work fine when cloning and running locally.

Is it possible to clone the repo that is encountering this build issue? If not, are you willing to share a few more details such as...
- jest version
- jest config
- babel ver

[2019-08-01 21:56] kenotron commented on #9661
I have recreated the codesandbox code here: https://github.com/kenotron/oufr-repro and it doesn't repro for me. Not sure what codesandbox is doing to our code here. @rhublard, can you create a repo that has this repro that isn't codesandbox (as they might be doing something odd with their bundling)

[2019-08-01 22:19] kenotron commented on #9993
Hoping: have a really core set of components plus really base set of functionality be rolled up so ecosystem can take oufr core as a whole much like react and can rely on things (no need for dependencies of dependencies). Much like https://rebassjs.org/ - aim for ultra small size and focused in scope. This should help people writing tests in their repos against OUFR components to not worry about l

[2019-08-01 23:07] lorejoh12 opened #10026 "Add programmatic method of showing DatePicker errors on form validation"
#### Describe the feature that you would like added

We've gotten several feature requests about form validation on the DatePicker component. There's a couple of validations that currently exist- checking that the date range is valid and that the date is included if required.

However, the checks only run on text field blur. Basically, require the user to interact with the component before showing

[2019-08-02 00:01] natalieethell commented on #9945
Ah, I see. Thanks for clarifying! I can't navigate cell-by-cell in non-scan mode either, however, I think that might be by design.

I'm now remembering that we actually had a very similar discussion about what should be read out by a screen reader when focused on a DetailsRow and Ben (@betrue-final-final) had a similar concern. Ben said the following:

I mentioned that

Here's the solution we prop

[2019-08-02 00:12] pagaur opened #10028 "need a way on split menu button to exclude props to pass on container"
#### Describe the feature that you would like added
On a split menu button the split menu container <div gets all the props except 'disabled' are passed which also gets applied on splitButtonMenuButton. But user might want to only apply it to the button and not the container.

#### What component or utility would this be added to
BaseButton

#### Have you discussed this feature with our team, and

[2019-08-02 00:44] pagaur commented on #10028
I have created a PR for this issue https://github.com/OfficeDev/office-ui-fabric-react/pull/10030

[2019-08-02 03:45] marygans commented on #10028
Hi @pagaur thanks for submitting this issue + the PR, that't Lets keep this issue open until its approved and merged 💃

[2019-08-02 04:26] marygans commented on #10026
Hi @lorejoh12 ! Thanks for submitting this feature request. It looks like your team will is considering adding this feature. Do you think this a feature will need further backlog review/discussion with @micahgodbolt?

[2019-08-02 04:38] marygans commented on #10010
Hi @caiomontei, Thanks foe submitting this issue! I have confirmed that this is an issue and we will work on getting it fixed!

[2019-08-02 05:01] marygans commented on #10014
Hi @kisiebel thank you for submitting this issue! Just to clarify, when you mention that there are two reference locations does that sound similar to the behavior described in this [issue](https://github.com/OfficeDev/office-ui-fabric-react/issues/9944#issuecomment-516637425)?

As far as the label being read twice, when I tested this my screen reader read: "Standard checkbox, unchecked, checkbox"

[2019-08-02 05:54] shivangi-ksolves opened #10031 "Value is not populated when we click in the combo box in area where no checkbox is selected."
### Environment Information

- **Package version(s)**: 6.187.2
- **Browser and OS versions**: Linux / 18.04.2

#### Actual behavior:

When we don't select anything from dropdown list & click on outside of list, nothing visible in select area.

#### Expected behavior:

Already selected value should be populated even if we didn't select any checkbox.

### Priorities and help requested:

Are you will

[2019-08-02 06:40] cliffkoh commented on #9661
@sushruth: @jdhuntington has prepared a PR that reverts one of the most recent instances of an additional export of `SelectionMode`. This PR has just been merged. The bot will notify in about 6 hours time when there is a version of OUFR you can consume the fix in.

[2019-08-02 08:30] #10019 closed

[2019-08-02 10:00] chenxinyanc opened #10035 "Setting itemType to ContextualMenuItemType.Divider on CommandBar has no effect"
### Environment Information

- **Package version(s)**: 7.19.0
- **Browser and OS versions**: Edge Dev 77.0.230.2 on Windows 10

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/anon/pen/ZgJmvm

#### Actual behavior:
I cannot see the divider. The place where the divider is supposed to be shows a blank button.
![image](https://user-images.githubusercontent.com/50703224/6

[2019-08-02 10:07] lavanya-kuda commented on #9808
Thank you @joschect, we were in 6.195 and unable to see the fix. I have upgraded to 6.197 then I don't see the aria-hidden issue.

[2019-08-02 14:58] chadcampbell opened #10036 "Blazor Components"
#### Describe the feature that you would like added

Previously, there was [a request](https://github.com/OfficeDev/office-ui-fabric-react/issues/4357) for Office Fabric UI controls to be ported as Blazor components. That request was [closed over one year ago](https://github.com/OfficeDev/office-ui-fabric-react/issues/4357#issuecomment-377321345). However, [Blazor is now officially part of .NET Co

[2019-08-02 17:09] marygans commented on #10012
Hi @elmarsto, thanks for submitting this issue! Im not able to repro locally. @KevinTCoughlin or @kenotron any ideas?

[2019-08-02 17:15] marygans commented on #10031
Hi @shivangi-ksolves thank you for submitting this issue! Can you provide a codepen example or something similar to show the problem you are having in more detail? You can also do so by clicking the "export to codepen" button on this [combobox example](https://fabricweb.z5.web.core.windows.net/oufr/7.18.0/#/examples/ComboBox).

[2019-08-02 17:28] marygans commented on #10036
Hi @chadcampbell, thanks for submitting this feature request.
@dzearing correct me if Im wrong but there are still no plans for this right?  @kenotron didn't you do some eval/research on this as well?

[2019-08-02 17:29] kisiebel commented on #10014
Hey @marygans - that linked issue does sound similar. The behavior that I'm talking about is slightly different from your description though. I found the bug on Narrator, and it behavior is slightly different on Voiceover (which it looks like you are using). If you are using narrator in scan mode, and you press down to reach the checkbox, narrator reads "unchecked checkbox, standard checkbox." Pre

[2019-08-02 17:58] eveleens opened #10037 "Tooltip in modal/dialog pops up automatically (likely due to first focusable item)"
### Environment Information

- **Package version(s)**: (fill this out) 6.195.4
- **Browser and OS versions**: (fill this out if relevant) Chrome, at least

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/anon/pen/aeLvdQ?&editable=true

This happens moreso when the tooltip is over the "Close/X" button, where we had multiple accessibility bugs stating that we should hav

[2019-08-02 18:01] lorejoh12 commented on #9941
Modern browsers handle this correctly, so this is the first time it's even come up on my radar.

The DatePicker control exposes a prop called "parseDateFromString", to allow the consumer to customize the parsing. If no value is provided, it defaults to: new Date(Date.parse(dateStr)). Since Date.parse(dateStr) doesn't work well in IE11, if a consumer needs additional validation, they can provide it

[2019-08-02 18:14] lorejoh12 commented on #9925
The day of the week label is in the column header since that's where the labels themselves actually live. The information is still read, just read immediately after the date, and only if the column changes (so, if the user is on Friday Aug 2, and they arrow upwards to Friday July 26, the column didn't change so the day of the week doesn't get announced again).

This is intentional to provide some

[2019-08-02 18:15] HalcyonPride opened #10038 "[Accessibility] Keytips: Contain 'aria-describedby' values that don't correspond to existing IDs"
### Environment Information

- **Package version(s)**: 7.19.1
- **Browser and OS versions**: Doesn't matter
- **Screen reader(s)**: N.A.

### Describe the issue:

As described; screenshot below shows errors highlighted by Accessibility Insights for Web:

![image](https://user-images.githubusercontent.com/8681794/62389988-1653a800-b516-11e9-8111-815bbb8831e3.png)

![image](https://user-images.githu

[2019-08-02 19:12] jdhuntington commented on #9661
version `7.19.1` contains the fix, and the codesandbox you provided appears to work correctly when targeting that version.