[2020-10-15 12:34] rhalaly commented on #15492
It seems that the space issue is not really a space issue - but it doesn't render existing items. I mean, some items are been replaced by "nothing".

[2020-10-15 13:38] wojciek opened #15528 "No "borderless" props in <Dropdown/>"
### Environment Information

- **Package version(s)**: 7.146.2
- **Browser and OS versions**: Chrome 86.0.4240.75

#### Actual behavior:
 Example code
[code]

#### Expected behavior:

[code]

[2020-10-15 14:10] syedjahangirpeeran commented on #12953
@layershifter I'm also facing the same issue, a single component imported from @fluentui/react-northstar is taking the bundle size to 1.6mb. I'm using the latest 0.51.2 version.

[2020-10-15 14:29] layershifter commented on #12953
@syedjahangirpeeran please share a minimal repro repo, for example you can fork https://github.com/layershifter/sample-fluentui.

[2020-10-15 15:03] YuanboXue-Amber opened #15529 "Virtualized tree prototype does not retain focus after siblings expanded by '*' key"
### Environment Information

- **Package version(s)**: @fluentui/react-northstar 0.51.0
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

1. Navigate to https://fluentsite.z22.web.core.windows.net/virtualized-tree
2. Using keyboard, focus on the tree, and pick any tree item to focus
3. Press '*' key when focus is on a treeItem

[2020-10-15 15:45] velociwabbit commented on #15474
I usually use visual studio  but it is more that i get source and target
wrong all the time and i am always confused about push, pull and fetch, as
well as rebase onto and merge.

source is the source of a river (in my head)  and is fixed ... there are
two meanings to the word.
target is the location that received the water from the source and is also
fixed...

fetch, is like pull but different...

[2020-10-15 15:49] velociwabbit commented on #15474
and why is it called a pull request when the action of the person doing the
pull request is to push their data to a repo.

the system functions work fine... the language was writing by someone who
should never write ui software

Dont get me started about industry standard formatting...

on
word
on
each
line
is
bat
sh__
crazy

On Thu, Oct 15, 2020 at 8:45 AM James Reilly <jimreillyemail@gmail.com>

[2020-10-15 16:26] velociwabbit commented on #15474
I just tried with git

here is the log still did not work

$ git clone https://github.com/microsoft/fluentui.git
Cloning into 'fluentui'...
remote: Enumerating objects: 399, done.
remote: Counting objects: 100% (399/399), done.
remote: Compressing objects: 100% (354/354), done.
Receiving objects: 100% (293418), reused 142 (delta 41), pack-reused 293019 eceiving objects: 100% (293418/293418), 155.5

[2020-10-15 16:32] taurheim opened #15530 "FocusTrapZone does not tab properly when using preact"
### Environment Information

- **Package version(s)**: 7.107.0
- **Browser and OS versions**: Edge Dev, Windows 10

### Please provide a reproduction of the bug in a codepen:

https://924v8.csb.app/

Due to this requiring specific setup (using preact instead of react) I have reproed using CodeSandbox instead of CodePen

#### Actual behavior:

Pressing tab while focusing the last element in the mod

[2020-10-15 16:32] taurheim commented on #15530
I did some digging and it seems related to the fact that preact does not bubble focus events (https://github.com/preactjs/preact/issues/1621). I am happy to submit a fix that would bring the FocusTrapZone onFocusCapture inline with onFocus which I believe would solve this.

[2020-10-15 16:41] yueou1995 opened #15531 "Narrator does not announce descriptively when focus is on breadcrumb"
### Environment Information

- Windows Version - Win10
- Chromium Edge - Version 85.0.564.51 (Official build) (64-bit)

### Describe the issue:

Narrator does not announce descriptively when focus is on breadcrumb.

### Please provide a reproduction of the issue in a codepen:

https://codepen.io/yueou/pen/BazjMZX

#### Actual behavior:

Screen reader reads 'navigation landmark ...'

#### Expected

[2020-10-15 17:23] velociwabbit commented on #15474
just figured out the problem/

yarn install does not yarn build and you need to yarn build before starting the examples
perhaps yarn install should also yarn build to create the examples that are workable. this would be the expected result

[2020-10-15 22:26] ecraig12345 commented on #15152
The "merge react-next into react" step ended up being WAY more complicated than expected. Here's the procedure and tracking we used...

----

If the v7 component implementation is in `react-internal` (most components), the `react-next` implementation should be moved to `react-internal` (NOT `react`). In the steps, `react(-internal)` means whichever of the two packages is appropriate for your compo

[2020-10-15 22:38] shahzebasif opened #15533 "Keyboard navigation of list in a FocusZone with an OverflowSet for each list item does not work"
### Describe the issue:

We have a list of rows of buttons and labels. The entire list is in a FocusZone. Each item in the list also contains an OverflowSet. The OverflowSet will only be visible if the list item is hovered or focused.

The issue is that when the keyboard is used to click open the more items button, the callout opens for a brief moment before closing again. It doesn't stay open. Th

[2020-10-16 00:08] xugao opened #15535 "CommandBar accessibility: failed on rule aria-required-parent"
### Environment Information

- **Package version(s)**: `@fluentui/react@latest`
- **Browser and OS versions**: (fill this out)

### Describe the issue:
Run accessibility insight Fast Pass on:
https://codepen.io/xugao/pen/dyXMbgQ
![image](https://user-images.githubusercontent.com/1207059/96198122-cbe6fd00-0f08-11eb-8e15-0527f3f820c4.png)

[2020-10-16 00:42] #15535 closed

[2020-10-16 03:37] TaylorWebb opened #15538 "Some labels in Northstar don't have the correct label color and text color"
### Environment Information

- **Package version(s)**: @fluentui/react-northstar 0.51.0
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug:
1. Go to https://fluentsite.z22.web.core.windows.net/components/label/definition#variations-color to see where all the label colors are.
2. Change between light mode, dark mode, and high-constrast mode to s

[2020-10-16 04:00] jameelakowsar opened #15540 "Charting: Unit test cases for vertical bar chart"
Need to update snapshot and unit test cases of the vertical bar chart

[2020-10-16 05:04] flytiny opened #15542 "@fluentui/react-button can't correctly handle click event with menuProps on mobile browser"
### Environment Information

- **Package version(s)**: latest
- **Browser and OS versions**: Sarafi / IOS14

### Please provide a reproduction of the bug in a codepen:
open[ this page](https://developer.microsoft.com/en-us/fluentui#/controls/web/button) on mobile browser, and click **Split Button**, it will trigger menu list display rather than original button click event.

#### Actual behavior:

[2020-10-16 06:27] latonita commented on #12953
@layershifter just checked - i'm on 0.49. i will upgrade to 51+ today and let you know

[2020-10-16 07:21] ecraig12345 commented on #15474
Our intent was that you could just do `yarn` followed by `yarn start` without having to build, but it looks like that was broken by some recent changes. I'll make a PR fixing that part.

[2020-10-16 08:00] ecraig12345 commented on #7255
I think we can consider this fixed now due to various changes that have been made over time:
- Looks like all the ignores previously discussed in this thread have been added
- Examples and docs have been moved to a separate package (including in v7)
- I'm about to merge another PR #15414 which completely gets rid of demo app-related files from the published packages (oops). That one is master-only

[2020-10-16 08:00] #7255 closed

[2020-10-16 12:16] Sandhya-aluri opened #15547 "Accessibility Issue : Fast paas issue of Tag picker when max limit items are selected. aria-input-fieldname issue."
### Environment Information

- **Package version(s)**:  "@fluentui/react": "^7.126.0",
- **Browser and OS versions**: chrome and Windows 10

### Describe the issue:
Selecting the max limit items in Tag picker and click the fast paas on. aria-input-fieldname issue is raised.

### Please provide a reproduction of the issue in a codepen:

#### Actual behavior:
Selecting the max limit items in Tag pic

[2020-10-16 13:17] Sandhya-aluri opened #15548 "Multi Select Dropdown : On reset form or changing to initial values , NVDA/Narrator is reading the place holder text in multi select dropdown."
### Environment Information

- **Package version(s)**:  "@fluentui/react": "^7.126.0",
- **Browser and OS versions**: Chrome , windows 10

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
On reset form or clearing the  values to initial values on button click, NVDA/Narrator is reading the place holder text in multi select dropdown.

#### Expected behavior:
On reset

[2020-10-16 14:08] shivasai09 opened #15550 "add complex combo chart"
we need to add the new chart which is

complex combo chart

below is the figma
https://www.figma.com/file/BJaI0aMC0jXuwsJaGofqM7/Visualizations-(PS-%2B-CFR)?node-id=112%3A4903

This is nothing but adding lines in the vertical stacked bar chart

for more info please refer
https://office.visualstudio.com/OC/_queries/edit/4461315/

[2020-10-16 14:16] velociwabbit commented on #15474
As part of the PR you should confirm that all of the options instantiate correctly.  There were at least 4 that had errors other than the one we just identified.  When you select for exampl next it just sits there

[2020-10-16 14:29] kolaps33 opened #15552 "Menu opening from MenuButton has role="complementary""
Repro steps:
1. Navigate to the https://fluentsite.z22.web.core.windows.net/components/menu-button/definition
2. open menu from the menuButton
3. Verify "role/s" on the elements parent/s of the menu
Expected: elements has no additional roles
Actual: some element above the menu has role="complementary"

Comment:
this role coming from `popupBehavior`
@jurokapsiar proposal was fix it in popupBehavior

[2020-10-16 18:15] paperbackdragon opened #15556 "Context menu loses focus after last item when navigating with keyboard"
### Environment Information

- **Package version(s)**: 7.145.0
- **Browser and OS versions**: Edge 86.0.622.43

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/heatherhb/pen/MWeyELm

#### Actual behavior:

After navigating through the contextual menu with Ctrl + Right Arrow, the menu loses focus and the next item in the DOM is focused on.

#### Expected behavior:

It

[2020-10-16 20:18] izikl opened #15559 "Add sort-by-dragging support to Pivot"
#### Describe the feature that you would like added

Add Pivot a built in support for sorting the tabs/PivotItems by dragging.

#### What component or utility would this be added to

[Pivot](https://developer.microsoft.com/en-us/fluentui#/controls/web/pivot) (I have also seen [React-Tabs](https://github.com/microsoft/fluentui/tree/261dea7a150115ce904768724cbeac80ded20382/packages/react-tabs), whic

[2020-10-16 20:55] khmakoto opened #15562 "Move compat Button exports to export correctly"
Move the `compat` `Button` exports to the correct place and replace the regular exports with new `Button`.

[2020-10-16 21:31] #14498 closed

[2020-10-16 21:31] #15474 closed

[2020-10-16 21:48] velociwabbit opened #15563 "App template for header, navigation and simple pages"
## Component details
An example application skeleton similar to what is provided internally at MS (not sure if i can say the name).

### Description

There presently is no react router, react dom create-react-app  main page plus components example with the normal left navigation panel that is the industry standard for Material UI and Google Material IO.

The would require setting up defaults for t

[2020-10-16 21:56] nagisa1993 commented on #14850
any updates?

[2020-10-16 22:11] jongonzamsft opened #15565 "Dropdown with MultiSelect & Required doesn't read "Required" with narrator"
### Environment Information

- **Package version(s)**: 7.128.1
- **Browser and OS versions**: Edge & Windows 10

### Describe the issue:

When the dropdown is set to multiselect and required, narrator does not properly read the input as required. Since the control is set to role="button" it isn't possible to also have it set to aria-required="true".

### Please provide a reproduction of the issue

[2020-10-16 23:34] PathToSharePoint opened #15570 "Clear Picker Selections"
#### Describe the feature that you would like added

I'd like to have the ability to programmatically clear selections in pickers. Currently I don't see a way to reset the picker:
`componentRef` only gives me access to the input, not the already selected items.
`selectedItems={[]}` allows me to clear the selection, but then the picker behaves as a controlled component.

My use case: I have cascadi

[2020-10-17 00:28] #14322 closed

[2020-10-17 17:06] velociwabbit commented on #15563
I just found it ... it was broken before...  perhaps it should be launched in the ouifr examples as example app base as an option

also cheers for fixing the startup options issue there are many really good options

[2020-10-17 17:06] #15563 closed

[2020-10-17 19:09] velociwabbit opened #15575 "updated code syntax to make various modules less murky"
#### Minimalist Code if only as documentation

It has been my personal experience that writing code minimally (the fewest syntax items as possible) can offer 10 fold quality and time to deliver improvements.  While i understand why an MS repo would look like C#  there still can be value in providing (if only as documentation) a minimalist version of the same code.

For example The Stylesheet.ts mo

[2020-10-17 23:00] #15422 closed

[2020-10-18 05:48] jameelakowsar commented on #15519
Done

[2020-10-18 05:48] #15519 closed

[2020-10-18 05:48] jameelakowsar commented on #15540
Done

[2020-10-18 05:48] #15540 closed

[2020-10-18 05:51] jameelakowsar opened #15577 "Charting: Unit test cases to the charts."
### Environment Information

- **Package version(s)**: All versions

#### Unit test cases need to be add for below charts
1. Stacked bar chart
2. Multi Stacked bar chart
3. Donut chart
4. Horizontal bar chart
5. Pie chart
6. Grouped vertical bar chart
7. Heat map

[2020-10-18 08:05] ashish315 commented on #12406
@aneeshack4 Why can't we use custom aria label for "X" button. You can take reference from below screenshot
![image](https://user-images.githubusercontent.com/60913131/96361811-a21b1980-1146-11eb-9080-7521dc03ae79.png)

[2020-10-18 08:07] hraz-msft commented on #15492
I think that I found a solution for the spacing. It was an issue with the `data-is-scrollable`, so I believe it couldn't listen to the scroll event correctly.

Now my biggest issue is the responsiveness - for some reason under those flex the columns are not responsive when the window shrink.

[2020-10-18 21:17] edwardmcleodjones commented on #15085
@miroslavstastny Thanks for those examples.  I can sort of achieve what I'm after with the second example you provided, of customizing the `props.accessibilityInputProps.value` in the searchInput to match the selected items's value, see:

https://codesandbox.io/s/jovial-pond-vev3s?file=/example.tsx

You can see that selecting an item using the dropdown does successfully then use the `title` proper

[2020-10-18 21:42] edwardmcleodjones commented on #15085
Customising the `triggerButton` (as shown in your first example) works pretty well in a non `search` and non `multiple` enabled `<Dropdown />`, see:

https://codesandbox.io/s/vigorous-ptolemy-ofr94?file=/example.tsx

[2020-10-19 10:37] RafikAlhallak opened #15580 "VerticalBarChart styles not working"
hello i use your example code on
   http://fabricweb.z5.web.core.windows.net/pr-deploy-site/refs/pull/12384/merge/charting/dist/index.html#/examples/verticalbarchart

but the styles are not working like:
   xAxisText: {
                    transform: 'rotateZ(-40deg)',
                    textAnchor: 'end',
                    ...tTextStyle,
                  },

my completed code is:

       priv

[2020-10-19 12:40] FuJuntao opened #15582 "Improvment for react-hook `useBoolean`"
https://github.com/microsoft/fluentui/blob/3346b09e82b41f6b5b96fe1a94c8d122b3a4625b/packages/react-hooks/src/useBoolean.ts#L21-L38

We have a ref to store the boolean value, but what if we write it this way :

[code]

It ensures `toggle` has a constant reference, and without having to store boolean value in a ref.

[2020-10-19 12:57] alex3683 commented on #10363
@ecraig12345 Any news on where to get a download bundle, especially for the `@uifabric/file-type-icons`?

[2020-10-19 16:13] paulgildea commented on #15512
@izikl Thanks for the filing this issue!

[2020-10-19 16:21] paulgildea commented on #15514
@digit01Wave Thanks for the feature request and the opportunity to contribute to Fluent UI.

Let's continue the dialog to see where we can find a place for this type of utility. Love the idea for generating server side - the interesting thing will be the implementation details. Since you mention Nuget and System.Drawing, I'm assuming you use C# for your backend so I'm also curious on your frontend

[2020-10-19 16:21] paulgildea commented on #15514
@JustSlone - FYI

[2020-10-19 16:21] paulgildea commented on #15521
@Raghurk FYI

[2020-10-19 16:24] paulgildea commented on #15524
@iqbal99 Thanks for the issue.

@tomi-msft / @khmakoto - is there a work around that would allow direct CSS access or does this need to be a property addition?

[2020-10-19 16:28] paulgildea commented on #15525
@AbdelrhmanMagdy Thanks for the issue.

@joschect / @dzearing - (Please correct me if I'm wrong here)

Currently this is a known limitation of the `Dropdown` component, in that it does not provide a UI virtualization. A potential work around is to leverage the `ComboBox` component: https://developer.microsoft.com/en-us/fluentui#/controls/web/combobox

Hope this helps.

[2020-10-19 16:32] paulgildea commented on #15526
@adityamatt Thanks for the issue.

@smhigley - For the model question

@tomi-msft - work with @smhigley to determine if this is the correct model or if we need to update the model here.

[2020-10-19 16:44] paulgildea commented on #15527
@Ganeshrockz Thanks for filing this issue.

@dzearing Is this related to #15492 ?

[2020-10-19 16:49] paulgildea commented on #15527
@tomi-msft If this is indeed a duplicate feel free to resolve.

[2020-10-19 16:51] paulgildea commented on #15528
@wojciek Please provide codepen if possible. Thanks!

[2020-10-19 16:51] paulgildea commented on #15528
@JustSlone FYI

[2020-10-19 16:52] paulgildea commented on #15529
@jurokapsiar FYI

[2020-10-19 16:53] paulgildea commented on #15530
@taurheim Thanks for filing the issue and proposing a fix!

@tomi-msft / @JustSlone - Please work coordinate with @taurheim to make sure they are able to get a PR going.

Thanks for contributing!

[2020-10-19 17:01] paulgildea commented on #15531
@yueou1995 Thanks for the issue.

@smhigley FYI

[2020-10-19 17:09] joschect commented on #15437
@paperbackdragon What do you mean by "visible" ? It is present and on the page, it's just not positioned properly. I believe it's opacity is set to 0 rather than the hidden attribute being set.

[2020-10-19 17:15] paulgildea commented on #15533
@shahzebasif Thanks for filing an issue. If there is another separate bug, could you please file another issue so that we can track them independently.

@tomi-msft - Try to see if you can come up with a root cause for the initial issue outlined. If not try to coordinate with @shahzebasif on a working repo that demonstrates the actual issue.

[2020-10-19 17:16] paulgildea commented on #15538
@TaylorWebb Thanks for filing this issue!

@jurokapsiar FYI

[2020-10-19 17:17] paulgildea commented on #15542
@flytiny Thanks for filling this issue.

@dzearing / @khmakoto - Known issue/by design?

[2020-10-19 17:19] dzearing commented on #15542
I think we need to ensure that pointer events are handled. @khmakoto can you take a look?

[2020-10-19 17:21] paulgildea commented on #15547
@Sandhya-aluri Thanks for filing an issue.

@smhigley FYI

[2020-10-19 17:23] paulgildea commented on #15548
@Sandhya-aluri Thanks for filing the issue. Can you provide a code repo of the issue so that we can determine if this is a recent regression.

@smhigley FYI

[2020-10-19 17:24] paulgildea commented on #15550
@Raghurk FYI

[2020-10-19 17:25] paulgildea commented on #15552
@kolaps33 Thanks for filing the issue.

@jurokapsiar FYI

[2020-10-19 17:28] paulgildea commented on #15556
@paperbackdragon Thanks for filing this issue.

@smhigley FYI

[2020-10-19 17:33] paulgildea commented on #15559
@izikl Thanks for reaching out.

I’ll mark this as a feature request and add it to our backlog, but to set expectations - we’re likely not going to get to it for a while as we’re currently focused on larger coherence work items. We'll take this into consideration when we converge the `Tab` component across our two React packages.

Let us know if you'd be interested in contributing this to the libr

[2020-10-19 17:44] dzearing commented on #15542
Also I believe the expectation is that a pointer event on either the menu or action part of the split button should open the menu.

[2020-10-19 17:46] paulgildea commented on #15565
@jongonzamsft Thanks for the issue.

@smhigley Thoughts on this one?

[2020-10-19 17:48] paulgildea commented on #15570
@PathToSharePoint Thanks for filing this issue.

Is this something you'd be interested in contributing to the `Picker` component?

In the meantime, I’ll mark this as a feature request and add it to our backlog, but to set expectations - we’re likely not going to get to it for a while as we’re currently focused on larger coherence work items. We'll take this into consideration when we converge the

[2020-10-19 18:01] paulgildea commented on #15575
@velociwabbit Thanks for filing this issue.

Is this something you are looking to contribute to the library? If so, it might be interesting to see this as a PR to understand what the diff's are. Also interested to understand if there are any other benefits (bundle size, performance, etc.) of the proposed change.

@dzearing / @JustSlone FYI - Not sure how to proceed here with understanding the cost

[2020-10-19 18:04] paulgildea commented on #15577
@Raghurk FYI

[2020-10-19 18:05] paulgildea commented on #15580
@RafikAlhallak Thanks for filing this issue!

@Raghurk FYI

[2020-10-19 18:08] paulgildea commented on #15582
@FuJuntao Thanks for filing this. Is this something you'd be willing to contribute?

@tomi-msft - Coordinate with @FuJuntao if this is something they want to spin up a PR for.

[2020-10-19 18:08] paulgildea commented on #15582
@JustSlone / @dzearing FYI

[2020-10-19 18:16] dzearing opened #15591 "IE11 polyfill should recommend conditionally loading the script"
Currently the IE11 polyfill package recommends in the README to import the script. This will add the content to the bundle for every browser, which is an unnecessary performance penalty.

We need to address these things:

1. Produce a bundle (get webpack config, edit package.json to add bundle script, run `yarn bundle`)
2. Update README to recommend the conditional load, not the import.
3. Figure

[2020-10-19 18:19] paperbackdragon commented on #15437
Oh interesting, yeah I was referring to the hidden attribute. I think the fact that it's not hidden is what's causing the issues in our UI tests. What was the reason behind using opacity rather than hidden/visible?

[2020-10-19 18:40] dzearing commented on #15582
This is a simple improvement, feel free to submit a PR.

Minor thought, but just my 2c. I would love if the `toggle` function output took an optional argument to force it to a value. Call toggle with no arguments to toggle, or toggle(true) to force it to a state. That way we don't have to fumble with multiple functions.

[2020-10-19 18:51] ecraig12345 opened #15592 "Add foundation docs to website (7 and 8)"
Docs for all the types from `@uifabric/foundation` are missing from the website, as you can see from the [Text doc page](https://developer.microsoft.com/en-us/fluentui#/controls/web/text#implementation). Even though we're deprecating this package, we still the types available on the website for reference from the components that already use them.

- [ ] In `7.0`:
  - [ ] Add `{@docCategory Foundat

[2020-10-19 20:29] JustSlone commented on #13385
+1 on this from internal partner

Path | div[data-focuszone-id="FocusZone91"] > .ms-GroupHeader-check.check-370[role="checkbox"]
-- | --
Snippet | `<button type="button" class="ms-GroupHeader-check check-370" role="checkbox" aria-checked="false" data-selection-toggle="true" tabindex="-1">`

Fix ONE of the following:
- Element does not have inner text that is visible to screen readers
- aria-label

[2020-10-19 20:42] premchandpl76 commented on #13385
selectAllButtonProps={{ '**aria-label**': 'Group checkbox' }} has solved the issue for me

[2020-10-19 23:33] shahzebasif commented on #15533
Turns out it was an issue with the way we were doing conditional rendering which was causing this. The fix was to switch over to applying a style of `display: "none"` on the buttons which worked as we wanted it to.

[2020-10-19 23:33] #15533 closed

[2020-10-19 23:34] khmakoto opened #15600 "Include compat api files in api-docs.js"
The compat api files for `@fluentui/react` and `@fluentui/react-internal` are not being included in `api-docs.js` because of a problem regarding conflicting names with the non-compat versions. We need to fix this if we want compat types to be able to be pulled up in the website.

[2020-10-19 23:55] velociwabbit commented on #15575
I would be more than willing to contribute to fluent... I have not yet debugged the stylesheet module (i just did it because i find reading typescript to be only slightly less tortuous than reading my own handwriting.  )  but over time if you are open to the idea i would gladly contribute my reductionist versions  to the code base.

Re advantages... there are a number of them when coding this way.

[2020-10-20 00:04] yueou1995 opened #15601 "Narrator does not announce label associated with Spinner"
### Environment Information

Windows Version - Win10
Chromium Edge - Version 85.0.564.51 (Official build) (64-bit)

### Describe the issue:

Narrator does not announce label associated with Spinner

### Please provide a reproduction of the issue in a codepen:

https://codepen.io/yueou/pen/qBNNzpJ

#### Actual behavior:

Narrator is not reading the spinner label

#### Expected behavior:

Narrator s

[2020-10-20 00:12] #15562 closed

[2020-10-20 00:19] yueou1995 opened #15602 "Tooltip is not defined for close button in search field"
### Environment Information

Windows Version - Win10
Chromium Edge - Version 85.0.564.51 (Official build) (64-bit)

### Describe the issue:

Tooltip is not defined for close button in search field

### Please provide a reproduction of the issue in a codepen:

https://codepen.io/yueou/pen/XWKKvbx?editable=true%3Dhttps%3A%2F%2Fdeveloper.microsoft.com%2F

#### Actual behavior:

Tooltip is not defined

[2020-10-20 01:02] shuotli opened #15604 "Pressing up/down in the dropdown menu triggers onChange before Enter"
### Describe the issue:

Pressing up and down on the dropdown menu triggers the `onChange` callback before pressing Enter. If one of the options triggers a Callout, the user will see the Callout shown immediately after navigating to that option without pressing Enter.

#### Actual behavior:

`onChange` is triggered before pressing Enter.

#### Expected behavior:

`onChange` is triggered after pres

[2020-10-20 03:06] #15334 closed

[2020-10-20 03:13] FuJuntao commented on #15582
Thank you all for the replies, a PR is coming right away

[2020-10-20 03:29] JustSlone commented on #15487
Thanks for the explanation
Tagging and assigning to @joschect to look into feasibility here.

@ashwinGokhale if the proposed change looks reasonable, are you willing to submit at PR for it?

[2020-10-20 03:31] joschect commented on #15487
@JustSlone and @ashwinGokhale I think that we can make this happen. Having `IDropdownOption<T = any>` is a great solution to preserve backwards compatibility while still allowing it to be typed.

[2020-10-20 03:34] JustSlone commented on #15514
Interesting idea. Though it sounds like this proposal is to create a second implementation of the code in C#. I would worry about maintaining two implementations here. @digit01Wave Is it possible to use Typescript/NPM instead here?

[2020-10-20 03:36] JustSlone commented on #15528
Actually, this sounds like a feature request rather than a bug maybe?

Though, if so, a bit more information covering the motivation for the feature would help a lot.

[2020-10-20 03:40] JustSlone commented on #15530
@taurheim can you share a description of the suggested fix (or maybe just want to draft up a PR to show the fix)?

Happy to take a contribution here, we just need to be careful not to regress existing behaviors of FocusTrapZone.

[2020-10-20 05:37] ashwinGokhale commented on #15487
Hi @joschect and @JustSlone I have created a PR for this last week: https://github.com/microsoft/fluentui/pull/15488. Please take a look when you get a chance.

[2020-10-20 05:42] FuJuntao commented on #15582
I have submitted the PR (#15607), but it seems that I'm not allowed to link it with this issue.

Anyway, it's ready for some reviews 💖

[2020-10-20 05:54] bhanuchintha opened #15608 "Animation not working in Pivot control"
Hello Team,

I see that the hover animation is not working in Pivot control for all of the styles - Default Pivot/Links of tab style etc..

You can also experience this when you go for show code and see the animation on hover when clicking on other tabs -

https://developer.microsoft.com/en-us/fluentui#/controls/web/pivot

Can you please let us know if this a known issue that you are working on -

[2020-10-20 08:49] KeiraYang opened #15609 "Content inside BasePicker or BasePickerListBelow component is not visible in windows high contrast mode"
### Environment Information

- **Package version(s)**: Latested version. Use fluent UI example page can repro
- **Browser and OS versions**: Edge Chromium, Windows 10

### Describe the issue:

Content inside BasePicker or BasePickerListBelow component is not visible in windows high contrast mode.
E.g. When Persona component is used to render suggested items.

### Please provide a reproduction of t

[2020-10-20 08:51] zeroliu commented on #12953
@layershifter Slightly related to this issue. The giant bundle size is causing webpack to take seconds to rebuild.

You can start any new webpack project with the default development config. When I only include an `index.ts` with a `console.log`. It takes 500ms to build and generates a file of 577byte. Once I import anything from `@fluentui/react-northstar`, the build binary increases to 4.25mb an

[2020-10-20 12:48] james-bond-021719 opened #15610 "Cursor navigation is not working in Chrome"
I’ve created PCF control and used Fluent UI components, particularly the DetailList and Textfield, see below screenshot.
![image](https://user-images.githubusercontent.com/61274359/96587429-e65c1480-1314-11eb-8bc9-8f5755f5f5f8.png)
However, the cursor navigation to go to the next cell, specifically the right arrow key, to move on the next cell/input element does NOT work in Chrome.
**NOTE**
- Left

[2020-10-20 16:20] taurheim commented on #15530
The primary issue is that with preact, onFocus does not bubble, which means that functionality between [onRootFocus](https://github.com/microsoft/fluentui/blob/1020e8c78a40a77d10c7f498731cf3f51f7c76b9/packages/react-internal/src/components/FocusTrapZone/FocusTrapZone.tsx#L166) does not get called, but [onRootFocusCapture](https://github.com/microsoft/fluentui/blob/1020e8c78a40a77d10c7f498731cf3f51

[2020-10-20 17:18] #14675 closed

[2020-10-20 17:21] ecraig12345 opened #15613 "Fix IE11 support in new Button"
There is an issue with the current polyfill in which the polyfill breaks on dynamically loaded websites on ie11. There is a workaround in the works, where the plan is to make an alternative makeVariantClasses helper, which will only load in ie11 scenarios.

This basically does the variable resolution at runtime and produce classes as needed. Here is the [proposal](https://hackmd.io/rhxXI2DhTtGEa1J

[2020-10-20 17:25] #14686 closed

[2020-10-20 17:29] #14674 closed

[2020-10-20 21:02] iqbal99 commented on #15524
yes it can be handeld with css, but it doesn't give flexibility in javascript and you  have to go long way to handle it. it would be helpfull if you can provide direct property.

[2020-10-20 22:29] paperbackdragon commented on #15556
@paulgildea @smhigley - Would it be reasonable to fix this by changing the callout in `ContextualMenu.base.tsx` to be a `FocusTrapCallout`, or wrap the `Callout` in there with a `FocusTrapZone`?

[2020-10-21 05:33] JamyDev opened #15630 "Dropdown - single select search does not display defaultValue text in input"
### Environment Information

- **Package version(s)**: @fluentui/react-northstar@0.51.2
- **Browser and OS versions**: N/A (New Edge 86, Windows 10 19042)

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/fluentui-northstar-dropdown-single-default-x2c95?file=/example.js

#### Actual behavior:

A Dropdown, set to search with a `defaultValue` set, does not set the

[2020-10-21 05:39] Sandhya-aluri commented on #15548
@paulgildea  Hi, the issue is we have a fabric dropdown which is multi select and a link button, on click of link button the selected value in dropdown is cleared. once it is cleared we have kept a message as "all fields cleared" , so NVDA screen reader while reading the message also reading the place holder of dropdown.

Fluent UI component : Dropdown with multiselect true.
Fluent version : "@flu

[2020-10-21 10:30] KeiraYang commented on #15609
@tomi-msft Could you please help take a look and confirm if this is BasePicker bug? Is there any plan to fix the issue? Thank you

[2020-10-21 15:40] paulgildea commented on #15601
@yueou1995 Thanks for filing this issue.

@smhigley FYI

[2020-10-21 15:46] paulgildea commented on #15602
@yueou1995 Thanks for filling this issue.

@JustSlone / @dzearing / @ecraig12345 - It's unclear to me if we provide a `Tooltip` built-in for this instance or if it's up to the app developer to provide a custom icon button wrapped with a `TooltipHost`. If so then this is by design I'm assuming?

[2020-10-21 15:46] paulgildea commented on #15608
@bhanuchintha Thanks for filing this issue!

[2020-10-21 15:47] dzearing commented on #15602
No we do not, and no we should not. This is not a MAS violation. Paging @smhigley .

[2020-10-21 15:51] paulgildea commented on #15604
@shuotli Thanks for the issue. Could you please provide a link to an isolated codepen so that I we can determine if this is a recent regression or by design?

Thanks!

[2020-10-21 15:54] paulgildea commented on #15609
@KeiraYang Thanks for filing this issue!

@xugao @smhigley FYI

[2020-10-21 16:02] paulgildea commented on #15610
@james-bond-021719 Thanks for filing an issue.

This might be a question better suited for the StackOverflow community. As it sounds like you've build a more custom component. So I'm going to mark this issue this way.

However, if you've found an isolated issue specifically with the DetailsList and keyboarding please feel free to update this issue with an isolated codepen demonstrating the issue w

[2020-10-21 16:05] paulgildea commented on #15630
@JamyDev Thanks for the issue!

@jurokapsiar FYI

[2020-10-21 16:06] paulgildea commented on #15548
@Sandhya-aluri Awesome. Thanks for the link!

[2020-10-21 16:08] paulgildea commented on #15556
@paperbackdragon Good question!

@tomi-msft / @joschect could you coordinate with @paperbackdragon on the best approach on how to address this issue?

@JustSlone FYI

[2020-10-21 16:13] paulgildea commented on #15319
@gmonb Sorry this one slipped through during triage rotation. Updating.

[2020-10-21 16:18] paulgildea commented on #15470
I apologize for the unclear wording. We know this is frustrating for folks and we're working on it to essentially divide out and open source the icons from the brand icons.

Since the license is mostly in place to protect the branded icons (again I'm not a lawyer), if your application is mostly leveraging icons like checkboxes, plus signs, etc. it should be  good to use.

Since you are leveraging

[2020-10-21 16:20] paulgildea commented on #15445
@JustSlone Do we have a main issue tracking this AI rule change?

[2020-10-21 16:22] paulgildea commented on #15424
@hraz-msft Sorry for the late response. Thanks for the update on the package that you found the issue!

@xugao as FYI

[2020-10-21 16:24] paulgildea commented on #14914
Sounds like this issue has been fixed. Closing. Feel free to reopen if needed. Thanks!

[2020-10-21 16:24] #14914 closed

[2020-10-21 16:25] paulgildea commented on #15406
@ashik-microsoft Sorry for the late response. Updating to get this back in the triage queue. Thanks!

[2020-10-21 16:37] paulgildea commented on #15410
@rmbw74 If you know the version of the CDN that your icon is in, you might able to call
[code]
in your old code base to try and load the new set. Outside of that, I don't have any other workarounds than update your dependencies. I understand that can be frustrating because it might be a lot of infrastructure work just to get an icon.

I hope that helps.

[2020-10-21 16:38] paulgildea commented on #14600
@tomi-msft as FYI to see if we can still root cause this issue.

[2020-10-21 16:41] paulgildea commented on #15139
@joschect ping.

@suchk / @NandhiniSrinivasaSubramanian Can the user expand the `ComboBox` with additional steps? or are they completely blocked from expanding the `ComboBox`?

[2020-10-21 16:42] #15092 closed

[2020-10-21 16:50] paulgildea commented on #12488
Thanks for enduring with us folks.

We've been working internally with our legal team and we've recently published our [quarterly OKRs](https://github.com/microsoft/fluentui/wiki/Fluent-UI-Objectives) on our wiki to begin to be more transparent on what our team is focused on a quarterly basis.

[This quarter](https://github.com/microsoft/fluentui/wiki/Fluent-UI-React-OKRs-Q4-2020) we are focused p

[2020-10-21 16:52] paulgildea commented on #14214
Thanks for the update @levymsft.

I'll closed this as fixed in the latest issue as no repo. Thanks!

[2020-10-21 16:52] #14214 closed

[2020-10-21 17:47] bhubanmm commented on #14929
@paulgildea @abmis-mi Did you figure out any workaround or SCSS / CSS fix for this?

[2020-10-21 18:25] PathToSharePoint commented on #15570
Thank you for the reply. I'll definitely take a look at the code but my TS/React skills might not be up to the task.

You say you are focused on coherence, is control clear/reset already implemented on some components? And do you have a specific terminology for that?

[2020-10-21 18:46] DavidIsrawi commented on #15286
Hi @JustSlone @miroslavstastny, has this issue been fixed by the issue mentioned above? I looked at the PR and the answer wasn't trivial, but I believe it wasn't addressed in it.

[2020-10-21 19:08] digit01Wave commented on #15514
Yes. This code will be used in C#, which means that there will probably be two implementations here.

[2020-10-21 20:07] smhigley commented on #15602
Yup, not a MAS/WCAG violation, and probably not even a good idea :)

[2020-10-21 20:30] #15582 closed

[2020-10-21 21:00] suchk commented on #15139
@paulgildea Turning off scan mode will allow the user to expand the combobox, and select options using the up/down arrow keys. Not ideal, but at least it's not totally hosed.

[2020-10-21 21:14] paulgildea commented on #13379
@PMcGown - @Alex1100 and I have connected. We need to do another follow on our end. We're trying to reshape some of our contribution model and make this repository more focused on primitive components, but we're doing it incrementally.

[2020-10-21 21:15] paulgildea commented on #14929
@joschect Thoughts?

[2020-10-21 21:21] paulgildea commented on #15349
@joschect @JasonGore Ok I'm confused. So is the issue with the AI tool or with the Dialog component?

[2020-10-21 21:25] paulgildea commented on #14516
In reading this issue again. It sounds like the issue here is what should folks be using:
1. `Tooltip` or  2. `TooltipHost`.

If 2, then update the documentation to steer folks to that component, If 1 and 2, then create a sample where ToolTip is used.

Is that your expectation @timothyhoffmann ?

[2020-10-21 22:57] joschect commented on #14929
@paulgildea and @bhubanmm you can use the calloutWidth prop to set a custom width of your choosing. The combobox and dropdown both actually set the width of the callout based some internal measuring. Here is an example of where you set the width to something custom in a [codepen](https://codepen.io/slimemold/pen/yLJVaXv?editors=0010)

[2020-10-21 23:04] andrewhwng opened #15635 "Calendar days are un-focusable when rendered as a custom submenu in contextual menus"
### Environment Information

- **Package version(s)**: 7.147
- **Browser and OS versions**: Chrome - Windows 10 19042.572

### Describe the issue:

In contextual menu component, inaccessible focus behavior with contextual menus and calendars. When rendering a fabric calendar component (either from the date-time package or the normal fluent-ui package) inside a custom submenu, users cannot focus on

[2020-10-21 23:44] JustSlone commented on #14516
So, I'm a little confused here. `TooltipHost` is how developers should use Tooltip. Really in most cases you just want to wrap an element to use as an anchor and have a `Tooltip` show when the user hovers over this element.

That's why I asked about the scenario here, @timothyhoffmann can you share the scenario you are interested in where you want to use a Tooltip component directly without the co

[2020-10-22 00:50] shuotli opened #15638 "CommandBar split sub buttons are not keyboard accessible"
Actual Behavior
Focus is on the whole button.

Expected Behavior
Focus should be on each of the sub buttons.

Repro:
https://developer.microsoft.com/en-us/fluentui#/controls/web/commandbar

Repro Step:
Visit above link, reach to Command bar fourth category, **CommandBar with split and disabled buttons**
. Now press tab and navigate to the first example, focus is on the whole button instead of eith

[2020-10-22 01:14] ecraig12345 commented on #7160
Circling back on this since I tried to make a PR removing react-dom everywhere and then noticed the Layer issue which had already been mentioned here (oops). 😆  @dzearing Do you know if there's any way around having Layer use `ReactDOM.createPortal`?

[2020-10-22 01:15] ecraig12345 commented on #7160
I was able to remove the react-dom peer dep from some of the packages at least (see #15634), just not react-internal or anything that depends on it. 😞

[2020-10-22 12:50] timothyhoffmann commented on #14516
Given the dearth of documentation on <Tooltip /> I don’t know if I do want to use it or not.  I don't have a scenario to use something if I don't understand what it does.  If it’s really only usable internally by the developers of <TooltipHost /> then perhaps remove the reference from the documentation.

[2020-10-22 12:55] skp7111994 commented on #14299
Is this component available at this point in time?

[2020-10-22 15:55] kolaps33 opened #15641 "Split Button - outline overflow"
Environment:
https://fluentsite.z22.web.core.windows.net/components/split-button/definition
production version of 0.51.2

Component:
SplitButton

Steps:
- navigate to the split button with TAB

Expected: outline is around the splitButton
Actual: outline overflow the splitButton and width is for the whole container
Please see screenshot:

![image](https://user-images.githubusercontent.com/22620150/

[2020-10-22 15:57] tonianelope commented on #15508
@tomi-msft any update on this?

[2020-10-22 18:46] ecraig12345 opened #15646 "Calendar/DatePicker style customization issues"
Exporting the `date-time` package's Calendar and DatePicker from `@fluentui/react` by default revealed a few issues:

### Missing global classNames

Most of the global classNames which were present in the OUFR Calendar and DatePicker don't exist in the date-time ones. According to @lorejoh12 this was intentional due to DOM structure changes (which meant classes wouldn't map 1-1) and generally atte

[2020-10-22 20:24] paulgildea commented on #15635
@andrewhwng Thanks for the feedback!

[2020-10-22 20:25] paulgildea commented on #15635
@lorejoh12 FYI

[2020-10-22 20:28] paulgildea commented on #15638
@shuotli Thanks for the feedback!

[2020-10-22 20:32] paulgildea commented on #15641
@kolaps33 Thanks!

@jurokapsiar FYI

[2020-10-22 21:02] ecraig12345 opened #15651 "Calendar/DatePicker "Go to today" padding"
The date-time version of Calendar/DatePicker has less bottom padding around the "Go to today" button compared to the old OUFR version. The left/right padding may also be a tiny bit different. Not a functionality issue but it doesn't look so great. (I found this while looking at screener results for #15644.) cc @lorejoh12

Compare the first [DatePicker example from OUFR](http://fabricweb.z5.web.cor

[2020-10-22 21:48] joschect commented on #14805
This was fixed in #15511

[2020-10-22 21:48] #14805 closed

[2020-10-22 22:25] ecraig12345 opened #15657 "DatePicker: fix screener tests for hovering days in RTL"
When working on exporting the date-time DatePicker from `@fluentui/react` in #15644 we hit screener failures for all tests involving hovering over days in RTL (the hover styling doesn't show up in the screener state).

If you try [this demo](https://codepen.io/ecraig12345/pen/VwjmOwv?editors=0010) which uses RTL (the extra props are to make it more like the screener setup), hover styling of days w

[2020-10-22 22:28] #14679 closed

[2020-10-22 22:36] #15264 closed

[2020-10-22 22:41] ecraig12345 opened #15658 "Calendar example fixes"
Per https://github.com/microsoft/fluentui/pull/15644#pullrequestreview-514947469:

This may have been introduced in a previous change when converting the examples to function components.

[2020-10-22 23:02] ecraig12345 opened #15661 "Make a codemod for renamed packages"
Since we renamed so many packages as part of version 8, we should probably make a codemod to help consumers pick up the renames.

Mapping is in the [migration guide](https://github.com/microsoft/fluentui/wiki/Version-8-migration-guide#uifabric-package-renames) (for original discussion/work see #13384).

[2020-10-22 23:03] ecraig12345 commented on #15150
Trying to handle package renames and getting rid of major-lockstep at the same time turned out to be too complex, so we will be continuing with major-lockstep for now and NOT making any alias packages. However, we will likely provide a codemod to help with renames (see #15661).

[2020-10-22 23:03] #15150 closed

[2020-10-22 23:04] ecraig12345 commented on #13384
FYI for anyone subscribed: we've made some changes to the original plan, and the issue description has been updated to reflect those changes (including the final list of new package names).

[2020-10-22 23:13] #14684 closed

[2020-10-22 23:14] xugao commented on #15252
for now, we renamed `@uifabric/foundation` to `@fluentui/foundation-legacy` starting from `@fluentui/react` version 8 release

[2020-10-22 23:14] #15252 closed

[2020-10-22 23:52] dggsax commented on #5736
Hello! Is this being considered for future iterations? It would be really cool to just do:

[code]

A place where this is done is the [Pickers documentation page](https://developer.microsoft.com/en-us/fluentui#/controls/web/pickers) where it says "See More". If there's no resources to do this in the near-term, perhaps making available the code that does the "See more" functionality".

I'm unsure i

[2020-10-23 01:23] #13384 closed

[2020-10-23 05:17] JustSlone commented on #15602
I agree, the MAS/WCAG rule here is misleading. It seems to imply tooltips are needed on all icons, when in-fact they are not and actually can do more harm than good for accessibility.

Feel free to follow up with me offline if this is a product requirement.
Closing out this issue (as always feel free to re-open if there is something we're missing).

[2020-10-23 05:17] #15602 closed

[2020-10-23 05:20] JustSlone commented on #15178
Bot pinged the wrong person :(
Summoning @joschect to check for Dragons!

[2020-10-23 05:25] JustSlone commented on #15445
@cnamal-msft yeah, seems the change to make this invalid was unintentional: https://github.com/dequelabs/axe-core/issues/2535

We worked around it in the meantime anyway though: https://github.com/microsoft/fluentui/pull/15511

closing this issue

[2020-10-23 05:25] #15445 closed

[2020-10-23 05:31] JustSlone commented on #14516
Got it. I thought there was something that Tooltip was needed for that the documentation was falling short on.

Yeah, I agree that just cleaning up the documentation is the right thing to do here. We'll be updating Tooltip in the future, this issue is a good thing to keep in mind as part of that update as well. I'll add this to the epic issue.

Proposed fix:
- Update docs here: https://developer.m

[2020-10-23 05:32] JustSlone commented on #15102
added to list of understood issues
- Tooltip documentation unclear on use of Tooltip vs TooltipHost #14516

[2020-10-23 05:36] JustSlone commented on #15530
@khmakoto can you weigh in on the proposed fix here? Looks like taurheim is willing to contribute a fix, I just want to make sure it's not likely to introduce regressions.

[2020-10-23 05:48] Alex1100 commented on #13379
@paulgildea @PMcGown Sorry, The Customer Insights (Engagement Insights & Audience Insights) team(s) are launching on Oct 30th and we are heads down trying to meet deadlines around the board. I will resume work on this feature in November when things cool down.

It is definitely still a work in progress at the moment.

[2020-10-23 09:15] MeikTranel opened #15669 "Expand fluentui web-components components availability"
#### Describe the feature that you would like added

Currently only very few of the controls/components listed in the web section of the fluentui site, are actually available as web components. For those of us who have to realize that adding react to our current stack would probably push us over into framework hell web components looks to be the standardized way out of this scenario.

#### What co

[2020-10-23 09:36] faizal3199 opened #15670 "TextField: Can't change field type if initially set to password."
### Environment Information

- **Package version(s)**: v7.145.0 and above
- **Browser and OS versions**: all

### Details
https://github.com/microsoft/fluentui/blob/62b9b2e5daaf345097f6e2382896d64ed6c18e05/packages/office-ui-fabric-react/src/components/TextField/TextField.base.tsx#L488-L493

The line 492 line breaks the expected behavior of the component (whose initial `type` was `password`) when

[2020-10-23 13:12] rmbw74 commented on #15410
Are there publicly available CDN's of the fluent-ui icons? I did not see a mention of them other than the default CDN is used when calling InitializeIcons()

[2020-10-23 15:54] paulgildea commented on #15651
@ecraig12345 Thanks for finding this!

Is this something that recently changed or is there another root cause that adjusted the padding on other components as well?

[2020-10-23 15:56] paulgildea commented on #15657
@ecraig12345 Thanks for capturing this one too.

@lorejoh12 FYI

[2020-10-23 16:03] paulgildea commented on #15669
@MeikTranel Thanks for filing this issue and your preference in priority.

@chrisdholt as FYI.

I don't have any timelines to share at the moment, but our teams are working together to provide a consistent control offering across our various web control libraries.

Thanks for the feedback and please do keep checking back with the project as we progress!

[2020-10-23 16:04] chrisdholt commented on #15669
Thanks @paulgildea - @MeikTranel gave me a heads up and I'll take a look, triage, and respond.

[2020-10-23 16:11] joschect commented on #15178
@JustSlone We can definitely just add null check! I think that's a simple fix that is worthwhile.

[2020-10-23 16:12] paulgildea commented on #15670
@faizal3199 Thanks for the issue and the PR!

@tomi-msft can you coordinate on this PR and @dzearing as FYI

[2020-10-23 18:04] xugao commented on #11742
most outstanding bugs should be fixed now. but will continue leaving this open for some time in case for more reports

[2020-10-23 23:34] khmakoto commented on #15530
I think it seems like a harmless fix and I would be amazed if it caused regressions in our components. I think @dzearing would have a better idea about how it would impact partners using `FocuzTrapZone` however.

[2020-10-24 00:22] rizkyramadhan opened #15685 "Update to React 17"
Since react 17 has released, it will be nice if @fluentui/react upgraded to react 17.

[2020-10-24 04:48] brandonthomas opened #15688 "Unable to get ref to DOM element from Link"
### Environment Information

- **Package version(s)**: 7.147.0
- **Browser and OS versions**: all

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/brandonthomas/pen/gOMgXGB

#### Actual behavior:
Ref is only to the LinkBase component are coming back through either ref or componentRef

#### Expected behavior:
I am able to, through some API, get the underlying DOM refs.

[2020-10-24 22:53] jcmoore opened #15689 "public-docsite renders v6.164.8 components when "Show Code" is toggled on"
### Environment Information

- **Package version(s)**: fabric-website/v7_20201023.1
- **Browser and OS versions**: MS Edge 86.0.622.0.43

### Please provide a reproduction of the bug in a codepen:

Observable at https://developer.microsoft.com/en-us/fluentui#/controls/web/textfield#TextField456 -- the "Controlled TextFields" example.

#### Actual behavior:

When the "Show Code" tab is toggled on t

[2020-10-25 11:00] #15528 closed

[2020-10-25 13:05] MediocreRyan opened #15690 "Calling StopPropagation() during onDismiss() in IContextualMenuProps doesn't stop the propagation"
### Environment Information

- **Package version(s)**: (7.132.0)
- **Browser and OS versions**: (Windows 10 enterprise 19042.572 , google chrome 86.0.4240.75  )

### Please provide a reproduction of the bug in a codepen:
reproducing whole thing will be difficult since it involves multiple components.
Although I have just written how I am using the CommandButton and IContextualMenu component as an

[2020-10-25 19:20] MJomaa commented on #15470
@paulgildea Sorry for the late response. Ty very much, I close this issue 👍

[2020-10-25 19:20] #15470 closed

[2020-10-26 09:04] hraz-msft commented on #15492
@paulgildea who can assists with the responsiveness issue? I sent my repro 11 days ago...

[2020-10-26 09:06] hraz-msft commented on #15424
@paulgildea @xugao can you please assist?

BTW, the issue still marked as `react-northstar` - I've never used the northstar theme

[2020-10-26 13:42] mturoci commented on #13814
The [documentation](https://developer.microsoft.com/en-us/fluentui#/controls/web/themes) states that `loadTheme` must be called before app startup. Is there any way to change theme after the app startup? E.g. toggling dark / light mode.

cc @xugao

[2020-10-26 13:47] JonSilver commented on #13814
Hi @mturoci if it helps, there's a demo of how to do this in our demo app I referenced above (not connected with the dev team here). Apparently the dev team is working on a Theme Context Provider just like ours, but feel free to dig in and get the job done right now,

[2020-10-26 14:43] latonita commented on #12953
@layershifter i finally made it to 0.51.2 today, had to fix some theme (updateTheme stopped working, btw, had to write my own updateTheme) and some grid changes.
However nothing is changed.
I removed package lock and node_modules; npm i.
I still have 541 Kb of `react-icons-northstar/dist/es components`
I'm only using several icons, i'm importing them as
`import { AddIcon, CloseIcon, ErrorIcon } fr

[2020-10-26 16:14] layershifter commented on #12953
@latonita can you please create and share a small repo that I can run to check?

[2020-10-26 16:33] paulgildea commented on #15685
@rizkyramadhan Thanks for the suggestion!

Currently, we are planning to scout out our beta release to make sure it's functional with React 17, but we don't have any plans that would require that React 17 would be the minimum version needed for the library.

You can check out our [Quarterly OKRs](https://github.com/microsoft/fluentui/wiki/Fluent-UI-Objectives) for more clarity on what the team is

[2020-10-26 16:35] paulgildea commented on #15688
@brandonthomas Thanks for the heads up!

@tomi-msft Feel free to coordinate with @brandonthomas on the specific case or if there is a workaround.

[2020-10-26 16:41] paulgildea commented on #15689
@jcmoore Thanks for the find!

@tomi-msft feel free to coordinate with @jcmoore if you can find a straightforward root cause. I'd suggest bringing in @ecraig12345 for insight on the doc site.

[2020-10-26 16:47] JustSlone commented on #15178
@xuke444 if you are still available to make a fix, looks like we're good to go with this change!

If you want to the fix soon you'll want to make it the v7.0 branch so it goes out as an update to v7, then you can work with us to cherry pick it over to master so it ships in v8 as well.

Here's some info on working the 7.0 branch. https://github.com/microsoft/fluentui/wiki/Contributing-to-the-7.0-br

[2020-10-26 16:52] paulgildea commented on #15690
@MediocreRyan Thanks for the detailed investigation and filing this issue.

@tomi-msft Try to see if you can get a repro going for the issue, sounds like this one might be a complex on. Adding @joschect for any insight on `CommandBar` and `ContextMenu`

[2020-10-26 17:14] joschect commented on #15690
@MediocreRyan Sorry you're experiencing some problems! I modified the [codepen](https://codepen.io/slimemold/pen/RwRpBoL?editors=0011) you sent and do not quite see the behavior that you're talkinig about. I created an outer div that listens to keyPress as well and it actually doesn't seem to get hit at all since the contextualmenu is not directly part of the component dom hierarchy it won't recei

[2020-10-26 18:01] xugao commented on #13814
@mturoci @JonSilver - `@fluentui/react@v8-beta` is available now to consume. As part of it, we introduced `ThemeProvider` which is described [here](https://github.com/microsoft/fluentui/wiki/How-to-apply-theme-to-Fluent-UI-React-components#themeprovider-in-preview). I highly recommend you to try it out and please let me know if you have further questions/concerns!

[2020-10-26 19:39] latonita commented on #12953
@layershifter okay. here it is https://github.com/latonita/test-teams-fluentui
I have just generated new app. nothing extra is added. fluentui was upgraded from 49 to 51.2
App is not using any icons. However it uses themes to match user-selected theme.
Straight from the beginning it has all icons included. 541kb.
stats.json attached.

[2020-10-26 19:41] chuanqisun opened #15698 "In your default example, Dialog ejects narrator from current browser window"
### Environment Information

- **Package version(s)**: @7.148.0
- **Browser and OS versions**: Edge 86.0.622.51 on PC
![image](https://user-images.githubusercontent.com/1895289/97222960-58f14800-178c-11eb-84b3-fe6e4e0d1e98.png)

### Describe the issue:

After opening the dialog with Narrator (controlled by keyboard), narrator first reads the content of the dialog, then reads the content from other

[2020-10-26 20:32] ecraig12345 commented on #15689
Yikes, good catch and thanks for the great repro information! I don't think our code is what's causing that to be loaded--it looks like it's being written on the page by the server for some reason, so the fix will be in some internal code. I'll contact the team that owns the server code and see about getting this fixed.

[2020-10-26 21:14] layershifter commented on #12953
@latonita Thanks for sharing, that's something 👍 There is an issue with ModuleConcatenation that prevents tree-shaking:

[code]

---

It's not related to Fluent UI itself, it's related to third party dependency called `msteams-react-base-component` as it does not support ES Modules:

![image](https://user-images.githubusercontent.com/14183168/97229204-47359200-17d8-11eb-8693-e4fc62fa5f1f.png)

😿

[2020-10-26 23:00] #15604 closed

[2020-10-27 02:55] ecraig12345 commented on #15689
Tracked down the issue and it will probably be fixed sometime tomorrow.

[2020-10-27 04:05] #15285 closed

[2020-10-27 05:15] MediocreRyan commented on #15690
Hello @joschect  : you are right. your codepen example surely proved that its escape was working fine.
Unfortunately my outer component resides in some other repo, but probably it is listening to all the escape event, even if the propagation is stopped and closing itself. And it couldn't be the case for Alt, which created confusion in mind.

Sorry for the inconvenience caused. Let me know if I can

[2020-10-27 05:41] JustSlone opened #15716 "Test Project please ignore"
# This work is for the Test project

## Problem
- This is a problem

## Appetite

## Solution

## Risks

[2020-10-27 06:24] latonita commented on #12953
hm.. i see its a part of teams generator.
https://github.com/wictorwilen/msteams-react-base-component

@layershifter  any recomendation how to fix? config changes? source code fixes? meanwhile i will try to remove that package

To be honest, i dont see anything very bad there. Small class, here is the header with import statements
[code]

[2020-10-27 08:41] layershifter commented on #12953
@latonita oops, I missed the second important change:

#### `tsconfig-client.json`

[code]

[2020-10-27 09:08] layershifter commented on #12953
@latonita I created two PRs and described them to explain the issue:

https://github.com/wictorwilen/msteams-react-base-component/pull/5
https://github.com/pnp/generator-teams/pull/156

Please check https://github.com/wictorwilen/msteams-react-base-component/pull/5, there are no issues with source itself there is an issue missing ESM dist.

[2020-10-27 11:21] latonita commented on #12953
@layershifter i think thats only part of the issue.
i updated tsconfig-*.
i removed lib, added the only file from there
build it.
now all the icons/theme moved to under that file .
i do believe the problem is in
`import { teamsTheme, teamsDarkTheme, teamsHighContrastTheme } from "@fluentui/react-northstar";`
which is mandatory when we would like to support different themes. and this lead to loadin

[2020-10-27 11:51] layershifter commented on #12953
@latonita I pulled your latest `master` and update `tsconfig-client.json`, it's what I have:

![image](https://user-images.githubusercontent.com/14183168/97296934-a2f03180-1851-11eb-85c4-1d3cea199d9b.png)

There is no icons included.

---

We can't do anything with red area now: you're correct all themes are big objects that are not tree-shakable, so will you will anyway pay for themes if they are

[2020-10-27 15:36] latonita commented on #12953
@layershifter  thanks for the help! 👍

[2020-10-27 15:48] paulgildea commented on #15698
@chuanqisun Thanks for the issue and the awesome screen capture. That's really helpful for the team!

@smhigley FYI on the model

[2020-10-27 16:14] farooqiazam commented on #14081
Can anyone please share, if there is any progress?? @paulgildea @joschect

[2020-10-27 17:47] davyrwoo opened #15719 "Northstar's Dropdown does not truncate on overflow"
Dropdown has rendering bugs on both the Dropdown and DropdownItems components when used as a multiple selection Dropdown (`multiple` prop) with the `inline` or `fluid` props in a container (e.g. Flex) that is shorter than the selected item.

### Environment Information

- **Package version(s)**: 0.51.2

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/thirsty-cu

[2020-10-27 17:47] tabansal commented on #15250
@kolaps33 @miroslavstastny can you please prioritize this bug since it's impacting accessibility signoff for our project

[2020-10-27 18:06] Sentri opened #15721 "SplitButton - Narrator does not read ariaDescription"
### Environment Information

- **Package version(s)**: office-ui-fabric-react 7.144.1
- **Browser and OS versions**: Microsoft Edge Version 88.0.673.0 (Official build) dev (64-bit), Windows 10 Version 1909 Build 18363.1139

### Please provide a reproduction of the bug in a codepen:

Turn on Windows Narrator. Open the following codepen and focus the split button:
https://codepen.io/savannahbourgeoi

[2020-10-27 18:19] ashik-microsoft commented on #15406
HI @tomi-msft  any update on this ?

[2020-10-27 18:41] #14689 closed

[2020-10-27 19:00] #15685 closed

[2020-10-27 19:10] ecraig12345 commented on #15658
Starting looking into this and it appears to be an issue in the v7 examples but fixed in master.

[2020-10-27 19:10] #15658 closed

[2020-10-27 19:59] pcapel commented on #13868
@JustSlone sorry it's been a bit, things got a little hectic. Those are some great resources!

I can start working on something this Friday. Is there a communication channel for contributors to ask more general (development) setup questions? I've noticed that the package structure has undergone some changes even since I've been reading through the source.

[2020-10-27 20:57] tomi-msft commented on #15531
Hi @yueou1995 thanks for filing the issue. I'm having trouble reproing the behavior given the steps that you've outlined. Could you provide a bit more information?

Something else to note is that there needs to be an ariaLabel prop for the screen reader to read Breadcrumb. This is present in the codepen, so it could be that is why I am unable to repro the issue.

[2020-10-27 20:59] #15690 closed

[2020-10-27 21:04] nairmanu opened #15726 "FocusTrapZone not retaining focus within itself in Android Chrome browsers while using Talkback"
### Environment Information

- **Package version(s)**: 7.129.0
- **Browser and OS versions**: Android OS 11, Pixel 2/Chrome Browser 86.0.4240.110

### Describe the issue:
FocusTrapZone is not trapping the focus within itself Android Chrome browsers while using Talkback. I'm able to navigate to elements outside of the FocusTrapZone.

### Please provide a reproduction of the issue in a codepen:

###

[2020-10-27 21:17] ecraig12345 opened #15727 "Export WindowProvider from react"
Should `export * from '@fluentui/react-window-provider'` either in `@fluentui/react` or somewhere in the line of packages it exports.

[2020-10-27 21:19] cliffkoh opened #15728 "Validating bot"
Validating bot

[2020-10-27 21:19] #15728 closed

[2020-10-27 21:20] msmenti opened #15729 "fluent ui input with canRevealPassword will trigger post if it's in a form"
### Environment Information

- **Package version(s)**: (7.147.1)
- **Browser and OS versions**: (win 10)

#### Actual behavior:

when input control is used in a form, the 'eye ball' to reveal password, which is turned on by adding canRevealPassword, will listen to the submit event of the form and trigger post

#### Expected behavior:

'eye ball' will not listen to submit event.

### Priorities and

[2020-10-27 21:26] ecraig12345 opened #15730 "Investigate upgrading to tslib v2"
`tslib@2` was recently released, and we may want to either upgrade to require that version or optionally add support for it in our dependency range. Need to investigate which TS versions are supported by `tslib@2` both while compiling and for consumers and if it's possible to support both 1 and 2 for now.

[2020-10-27 21:26] Link631 opened #15731 "semantic slot buttonBackgroundHovered does not apply to buttons"
Steps to reproduce:

1. create-react-app test --template typescript
2. install fluent ui react
3. in app.tsx paste in render: (make sure, that button did get imported from fluentUi package, NOT from react controls)

`loadTheme({
            semanticColors: {
              buttonBackgroundHovered: "#0272a3",
            }
          }
)
return <Button text="this is a button" />

Same counts for othe

[2020-10-27 21:27] #15731 closed

[2020-10-27 21:28] Link631 commented on #15731
Need to check again, I guess somehow the load is not getting called in my case....sorry

[2020-10-27 21:29] ecraig12345 opened #15732 "Test against React 17"
Our minimum supported React version for `@fluentui/react` 8 will remain at 16.8, but we should also investigate adding `|| ^17.0.0` to our peer dependency range.

[2020-10-27 21:32] cliffkoh opened #15733 "Validating bot again"
Just ensuring the bot is stable

[2020-10-27 21:32] #15733 closed

[2020-10-27 21:34] ecraig12345 commented on #12770
The version 8 beta is now available on npm as `@fluentui/react@beta`. Please try it out and let us know what you think! (Still working on an initial version of the release notes and migration guide but that should be ready soon.)

[2020-10-27 22:24] chtoosha commented on #13958
Any update?

[2020-10-27 22:43] Link631 opened #15734 "missing semantic color for menuItemTextPressed"
Given is following button with menuProps:

` <DefaultButton
        text="Click for ContextualMenu"
        menuProps={{
          items: [
            {
              key: "1",
              text: "menu 1"
            },
            {
              key: "2",
              text: "menu 2",
              subMenuProps: {
                items: [
                  {
                    key: "2.1",

[2020-10-27 22:47] chtoosha opened #15735 "[Callout] On dismiss narrators reads redundant "Main Region" in the main example page"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: Chrome, Edge

### Describe the issue:

Screen reader ( NVDA, JAWS win Narrator) reads  redundant "main region" once the user dismisses the callout

### Please provide a reproduction of the issue in a codepen:
The issue repros in the main page ( but not in the code pen) the https://developer.micros

[2020-10-27 23:18] Link631 commented on #15734
In addition you could also move some textColors, which are still in ISemanticColors instead of ISemanticTextColors to ISemanticTextColors, or you move all ISemanticTextColors to ISemanticColors, which could also make sense.

The Interface ISemanticColors exports all colors, no matter where they are defined. On the other hand you also do not have an ISemanticBackgroundColor Interface...

This move

[2020-10-27 23:45] tomi-msft commented on #15609
Hi @KeiraYang thanks for filing the issue. This is not a BasePicker bug, but rather an issue with the Picker example. The text is not styled properly to support High Contrast. I will fix the example in our website. For your own case you should provide your own styles to the custom picker(similar to how PeoplePicker is styled) and that should fix any styling issues you have in hc mode.

[2020-10-27 23:52] tomi-msft commented on #15635
Hello @andrewhwng, thanks for filing the issue! This is probably due to some FocusZone shenanigans in ContextualMenu that prevents focus from going into the Calendar component. You can declare your own onRender function for the Calendar component as a workaround, and it should allow you to bypass the focusing issue. Here is a codepen for reference:  https://codepen.io/slimemold/pen/PozjBqb?editors

[2020-10-27 23:59] richardtagger commented on #15158
Bump @paulgildea is there any update on when a fix might be prioritized for this?

[2020-10-28 00:00] tomi-msft commented on #15638
Hi @shuotli thanks for filing the issue. We have decided that SplitButton is only one-tabbable, so the component is working as expected in this regard. I believe you can use alt + down arrow to open the dropdown.

[2020-10-28 00:00] #15638 closed

[2020-10-28 01:48] JustSlone commented on #13868
Hmm, yeah we're working on getting setup with GitHub Discussions for more open ended questions.

As for the repo, yeah things are moving around. Best way to find your way around the components is to start here and follow the imports: https://github.com/microsoft/fluentui/tree/master/packages/react/src you'll find most packages map to the react-internal package, but some (and more over time) will m

[2020-10-28 02:28] Link631 commented on #15734
while trying to understand this Issue I found out, that:

` rootExpanded: {
        backgroundColor: ContextualMenuItemBackgroundSelectedColor,
        color: semanticColors.bodyTextChecked,....`

and:

` rootPressed: {
        backgroundColor: ContextualMenuItemBackgroundSelectedColor,
        selectors: {
          '.ms-ContextualMenu-icon': {
            color: palette.themeDark,
          },

[2020-10-28 04:30] jameelakowsar commented on #15521
Done

[2020-10-28 04:30] #15521 closed

[2020-10-28 05:14] JustSlone commented on #15355
@khmakoto, does this issue cover the Accessibility Insights issue found on: https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist/grouped

Path:
- div[aria-posinset="\32 "]

Snippet:
- `<div class="ms-GroupHeader root-318" role="row" aria-setsize="3" aria-posinset="2" data-is-focusable="true" aria-label="Color: &quot;green&quot;" aria-expanded="true" aria-level="1">`

How to Fix

[2020-10-28 07:08] khmakoto commented on #15355
@JustSlone yes, this issue definitely covers those, specifically in the first bullet point of its description.

[2020-10-28 07:11] Sandhya-aluri opened #15739 "NVDA/Narrator is not reading place holder/aria label in fabric combo box"
### Environment Information

- **Package version(s)**:  "@fluentui/react": "^7.126.0",
- **Browser and OS versions**: Chrome and Windows 10

### Describe the issue:
NVDA/Narrator is not reading the place holder text of combo box. so we have given aria label, still it is not reading the aria label text.

### Please provide a reproduction of the issue in a codepen:
https://codepen.io/sandhya-aluri/p

[2020-10-28 08:33] Link631 commented on #15734
current checkins are buggy, because the test shows this:

 &:active:hover {
                            background-color: #edebe9;
    -                       color: #323130;
    +                       color: #edebe9;
                            text-decoration: none;

Background-color and color may never be equal :-)...

But some advices how to handle it in general would be nice.

[2020-10-28 08:46] SunleoSun opened #15740 "TagPicker/TagItem: The contrast ratio is less than 3:1 between the close button focus border style and the selected tag color"
### Description
The contrast ratio is less than 3:1 for a tag item close button border focus style and a selected tag color when user uses keyboard to navigate.

The user isn't able to see a focus border for a close button on a tag if there is a contrast less than 3:1.
![image](https://user-images.githubusercontent.com/6238426/97411832-739cfb80-1909-11eb-8dfb-1400028c0964.png)

### Code pen exampl

[2020-10-28 09:02] hjonasson opened #15741 "pptx icon not accessible, PPTX icon is."
![image](https://user-images.githubusercontent.com/7723013/97414125-e86d3700-1903-11eb-8b16-b69d3e750220.png)

`https://spoprod-a.akamaihd.net/files/fabric-cdn-prod_20200515.001/assets/item-types/24/pptx.svg` is the icon being requested through code but it errors. When we manually check

`https://spoprod-a.akamaihd.net/files/fabric-cdn-prod_20200515.001/assets/item-types/24/PPTX.svg` that icon exi

[2020-10-28 13:47] Fadi2019 opened #15742 "ContextualMenu accessibility in internal item role"
### Environment Information

- **Package version(s)**:  7.67.0 and up (all versions)
- **Browser and OS versions**: all (tested on chrome)

### Describe the issue:

### Please provide a reproduction of the issue in a codepen:

https://codepen.io/fadielias/pen/BazJXjz?editable=true%3Dhttps%3A%2F%2Fdeveloper.microsoft.com%2F

const { ContextualMenuItemType, IContextualMenuProps, DefaultButton, Fabri

[2020-10-28 15:15] alex3683 opened #15743 "@uifabric/date-time DatePicker clears formatted date on dismiss without date selection"
### Environment Information

- **Package version(s)**:
  - office-ui-fabric-react: 7.148.1
  - @uifabric/date-time: 7.17.30
- **Browser and OS versions**: WIndows 10, Chrome 86.0.4240.111

#### Actual behavior:

- DatePicker has a value set
- Open Calendar Callout by clicking it
- Click somewhere outside of the callout
- The `onSelectDate` callback is called with `undefined` and the formatted valu

[2020-10-28 15:32] #15727 closed

[2020-10-28 15:53] Fadi2019 opened #15744 "date picker accessibility: Focus lands twice on dates while navigating in JAWS/NVDA virtual cursor mode"
### Environment Information

- **Package version(s)**: all
- **Browser and OS versions**: chrome

### Describe the issue:

Narrator/nvda pronounces the date twice when landing on the a date

### Please provide a reproduction of the issue in a codepen:
https://codepen.io/fadielias/pen/MWeQwax?editable=true%3Dhttps%3A%2F%2Fdeveloper.microsoft.com%2F

#### Actual behavior:
nvda pronounces the date tw

[2020-10-28 16:00] paulgildea commented on #15719
@davyrwoo Thanks for filing this issue!

@jurokapsiar FYI

[2020-10-28 16:04] SFM61319 opened #15745 "[FEATURE] New and actual WinUI ProgressBar (current ProgressIndicator is not consistent with WinUI)"
## Component details
A new, and better `ProgressBar` (replaces `ProgressIndicator`) consistent with [WinUI](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/progress-controls)

### Description

A better `ProgressBar` component/control consistent with the latest version of WinUI (and future versions).

I have made this keeping consistency in mind.

### Which product teams/s

[2020-10-28 16:04] paulgildea commented on #15721
@Sentri Thanks for filing this issue!

@smhigley FYI on the model

@tomi-msft Let's try to prioritize this one and coordinate with @Sentri if there is a workaround in the mean time.

@JustSlone FYI

[2020-10-28 16:09] paulgildea commented on #15726
@nairmanu Thanks for filing this issue!

@smhigley FYI

@khmakoto This sounds familiar... But is specific to Android, let @tomi-msft know if you've addressed this issue before.

[2020-10-28 16:36] #14740 closed

[2020-10-28 16:42] Fadi2019 opened #15746 "details list is not providing sorting information"
# Environment Information

- **Package version(s)**: all
- **Browser and OS versions**: chrome

### Describe the issue:

1) Details list is not providing sorting information when landing on the header column (if it is sorted or not and is it sorting descending and ascending)
2) Details list is not providing sorting information when using the keyboard navigation when pressing space, the nvda should

[2020-10-28 16:53] SFM61319 commented on #15745
I didnt really know what to fill in the tables `Slots` and `Tokens`

[2020-10-28 16:55] SFM61319 commented on #15745
But i have the code which *almost* implements `ProgressBar` (some values need to be adjusted to implement the perfect progress bar, which im pretty close to) right now which i can paste here or use a pasting service like pastebin

[2020-10-28 17:06] SFM61319 commented on #15698
@chuanqisun not really related to this issue but what software did you use to create that gif? I wanted to open an issue in which i wanted to paste a gif of my screen but i didnt know what software to use...

[2020-10-28 17:31] chrisdholt opened #15747 "Update web components to leverage attributes for styling instead of classes"
This issue is meant to track an improvement to leverage attributes for styling rather than classes. Hoisting classes out of web components can have unintended side effects with author applied classes and can be clobbered when integrated with certain frameworks.

This task should be considered "complete" when all components have been updated to leverage attributes instead of classes where appropria

[2020-10-28 17:46] chuanqisun commented on #15698
@SFM61319, check out [ScreenToGif](https://www.screentogif.com/)

[2020-10-28 18:31] tomi-msft commented on #15406
Hi @ashik-microsoft thanks for the issue! It looks like setting allowFreeForm to false sets the readonly prop to true, which is causing the issue. I have submitted a fix which removes the check for allowFreeForm in v8, and will submit the same fix in v7, and it should resolve your issue.

[2020-10-28 19:26] SFM61319 commented on #15698
Thank you!

[2020-10-28 20:02] JustSlone commented on #7696
Not relevant for now, closing

[2020-10-28 20:02] #7696 closed

[2020-10-28 20:19] JustSlone opened #15749 "Consume ThemeProvider in TMP"
## Goals
- We need to be able to use converged components along side v0 or v7 components without too much hassle
- Replace northstar Button with `react-button` implementation along with `ThemeProvider` in TMP

## Work items
### P0
- [ ] Migration story for northstar theme to v8 theme
  - [ ] map `siteVariables` and `componentVariables` (in northstar theme) to tokens and variants (in v8 theme)
  -

[2020-10-28 21:57] FosterSamuel opened #15750 "Dropdown inside Dialog unable to scroll on touch screen"
### Environment Information

- **Package version(s)**: 7.
- **Browser and OS versions**: Edge, Windows 10

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/powerchelle/pen/ExyXYzM

#### Actual behavior:

The dropdown is scrollable with a touch screen. However, when the dropdown is inside a Dialog, it is no longer scrollable using a touch screen.

Interestingly, a simul

[2020-10-28 22:08] mimi-msft commented on #15376
Hey @tomi-msft @paulgildea

Do you have an update on when this will be fixed? We have a "Red" (most severe) level bug which we can't resolve until this is fixed!

Thanks,
Mimi

[2020-10-28 22:44] brandonthomas commented on #13564
Ping @paulgildea

[2020-10-28 22:47] mimi-msft commented on #15477
Hey @paulgildea / @joschect - can you give an update on this? The current behavior is breaking one of our experiences. Will you be fixing this or is it by design?

(If it is by design, I'd love to know the reasoning behind it; we are hoping to allow pinch zoom to facilitate better readability/accessibility)

[2020-10-28 22:49] tomi-msft commented on #15319
Hey @gmonb I am unable to repro the issue from the codepen posted. Can you confirm which version of Fabric it is in? The issue says that this bug is in v6 but it looks like the codepen used v7

[2020-10-28 23:15] tomi-msft commented on #15376
Hey @mimi-msft thanks for your patience. I am having trouble reproing the bug. Opening the codepen with Narrator on, I am able to navigate to the coachmark, press enter, and the coachmark gets selected, and I am able to press enter and access it. Could you give some more details as to where you are having the issue?

[2020-10-28 23:20] joschect commented on #15477
@mimi-msft I believe that this is working as intended for right now. There was work done to prevent IOS from scrolling which blocks a lot of touch features. As a work around, a prop was added to enable it. You can see how it works appropriately in this [codepen](https://codepen.io/slimemold/pen/gOMvovM?editors=0010)

[2020-10-28 23:28] adam-msft commented on #15376
I can repro the issue on the codepen and if you open support.xbox.com in an inprivate browser (to mimic being a first-time visitor). In both examples, if I use tab navigation, I cannot land on the teardrop/coachmark by tabbing through the page. I go through all other elements but not the coachmark.

[2020-10-29 00:08] alton-browsing opened #15755 "ContextualMenu accessibility issue when navigating menu"
### Environment Information

- **Package version(s)**: office-ui-fabric-react 7.115.3
- **Browser and OS versions**: Windows 10 Version 2004 (OS Build 20206.1000) Edge Dev Version 86.0.622.3

### Describe the issue:

Menu items are navigable with both 'Tab' and 'Arrow' key navigation but should only allow for the 'Arrow' key. Users with motor disability who rely on keyboard need to use more 'Tabs'

[2020-10-29 01:47] tomi-msft commented on #15376
Hi @adam-msft, I'm sorry but I'm still unable to repro. For the codepen, I am able to tab to open coachmark, and when I press enter the focus gets automatically set to the coachmark, and then I am able to open it with enter or alt + c. For the support.xbox.com I am also able to open the coachmark with alt + c when I am tabbed over the target button (New in support).

[2020-10-29 02:02] adam-msft commented on #15376
Is the intended design for the coachmark that it can be accessible via tab navigation or that it can be accessible via alt+c? Tab navigation is what our accessibility team is asking for and what is missing on our support.xbox.com site right now.

[2020-10-29 04:01] JustSlone opened #15757 "Ship hooks model and design tokens in Ribbon (dogfood)"
`[Fill in with any relevant details]`

- [ ] Finish Ribbon flighting
- [ ] Finish validating hooks in northstar

[2020-10-29 04:02] #15716 closed

[2020-10-29 04:41] JustSlone commented on #15741
@hjonasson, I talked to some folks who work on the CDN. This likely was caused by an issue that should be fixed starting from August builds. Going forward only lowercase should work, and you shouldn't see missing icons like this.

[2020-10-29 04:46] JustSlone opened #15758 "Produce set of new Fluent UI icons (svg)"
-  [x] Tomi: Write a script to consume svg icons and make them into React components (essentially
  get react-icons package working with old implementation of icon)
- [x] Spencer: Use script and established pipeline to publish react-icons package as a prerelease
- [x] David/Tomi/Justin: Finalize details on Icon convergence
- [x] [Tomi: Incorporate changes to Icon component](https://github.com/micr

[2020-10-29 05:45] JustSlone opened #15759 "Divider Convergence"
# Preparation:

- [x] Started prep
- [x] Open UI Research complete
- [x] Comparison on v7 and v0 complete
  - In [Spec.md](https://github.com/microsoft/fluentui/blob/master/packages/react-divider/Spec.md)
- [x] Gather open GitHub issues related to component in epic issue
  - No issues found
- [x] react-* package scaffolded
  - https://github.com/microsoft/fluentui/tree/master/packages/react-divide

[2020-10-29 07:06] jameelakowsar opened #15760 "Teams logo: Need updated teams logo."
Can we have updated teams logo as below mentioned.

### Environment Information

- **Package version(s)**: Office ui fabric - 7.135.0
- **Browser and OS versions**: All browsers

We found teams (as below image) icon from #### [https://uifabricicons.azurewebsites.net/](https://uifabricicons.azurewebsites.net/)
![image](https://user-images.githubusercontent.com/20105532/97880924-c0d4ff00-1d47-11eb-9

[2020-10-29 08:44] gmonb commented on #15319
Hey @tomi-msft,

Step 1: Move the horizontall scrollbar and leave it somewhere in the middle
Step 2: Scroll vertically

Behaviour:
Step 1: The "Filter by name" input box and "Item list" header move with the horizontal scroll
Step 2: The "Filter by name" input box and "Item list" header move back in place

Desired behaviour:

The "Filter by name" input box and "Item list" header stay in place when

[2020-10-29 10:38] vixeven commented on #9545
Is this a work in progress component? Any updates?

[2020-10-29 11:33] gegge10 commented on #15741
@JustSlone any way to mitigate the case sensitivity or update the CDN version above to support uppercase and lowercase for 24 size icon? We have issues on one of our production products for this that suddenly started failing.

[2020-10-29 11:41] bluego78 opened #15764 "The component miss the CLEARABLE feature."
#### Describe the feature that you would like added

#### What component or utility would this be added to

#### Have you discussed this feature with our team, and if so, who

#### Additional context/screenshots

[2020-10-29 11:42] sadomovalex opened #15765 "ContextualMenu on mobile Chrome (Android): not possible to prevent dismiss on resize"
### Environment Information

- **Package version(s)**: sp-office-ui-fabric-core v.1.11.0
- **Browser and OS versions**: mobile Chrome on Android

### Describe the issue:

If we add contextual menu to DefaultButton and add input fields into this contextual menu (textboxes, people pickers, calendar, dropdowns, etc):
[code]
then on mobile browser it is not possible to specify input values for textbox

[2020-10-29 11:42] bluego78 opened #15766 "The component miss the CLEARABLE feature. There isn't any way to clear the field."
#### Describe the feature that you would like added

The component miss the CLEARABLE feature. There isn't any way to clear the field.

#### What component or utility would this be added to

TextBox & Searchable

#### Have you discussed this feature with our team, and if so, who

No

#### Additional context/screenshots

-

[2020-10-29 11:53] gegge10 commented on #15741
@JustSlone also why did this suddenly stop working over night without any changes from or bump in packages from our side?

[2020-10-29 12:08] ramya298 opened #15767 "fluent ui icons not showing"
Hi ,

I am using  "@fluentui/react": "^7.147.1" and node v12.19.0 in my application .
i am trying to use basic control like DropDown  and icons , i dont see the icons . where as the space and placeholder is seen

#### Actual behavior:

 icons does not display ( i am running my app on local host)
#### Expected behavior:

icons should display

and my package.json looks like this
"dependencies": {

[2020-10-29 12:55] SFM61319 opened #15768 "[ISSUE] Page Visibility issues with Fluent UI Theme Designer"
### Environment Information

- **Package version(s)**: Whatever [Fluent UI Theme Designer](https://aka.ms/ThemeDesigner) uses
- **Browser and OS versions**: Not relevant

### Please provide a reproduction of the bug in a codepen:
Visit [Fluent UI Theme Designer](https://aka.ms/ThemeDesigner)

#### Actual behavior:

Page isn't completely visible. Right part of the page is outside the viewport. Some

[2020-10-29 12:57] SFM61319 commented on #15768
As you can see, the color codes for `Background` are not visible.

Even the right part of the horizontal scrollbar (at the bottom) is not visible (forget scrolling through that part)

[2020-10-29 16:05] paulgildea commented on #15729
@msmenti Thanks for the issue. Can you provide a codepen replicating the issue? Also thank you for offering to submit a PR!

@tomi-msft See if you can repo the issue with the website, try to determine the root cause, and coordinate with @msmenti on getting a PR together.

Thanks!

[2020-10-29 16:10] paulgildea commented on #15734
@Link631 Thanks for the filing this issue.

@tomi-msft can you work with @Link631 if they are interested in submitting a PR to make this update.

@dzearing FYI because it deals with `SemanticColors`

[2020-10-29 16:21] paulgildea commented on #15735
@chtoosha Thanks for filing the issue.

@tomi-msft Can you determine if this is an issue with the sample or the `Callout` component since it doesn't repo in other examples.

[2020-10-29 16:24] paulgildea commented on #15739
@Sandhya-aluri Thanks for filing this issue!

@smhigley FYI

@tomi-msft Can you determine if this repos in the latest version?

[2020-10-29 16:29] paulgildea commented on #15740
@SunleoSun Thanks for filing this issue!

@tomi-msft I'll follow up with the design team on what the color value needs to be updated to.

[2020-10-29 16:38] paulgildea commented on #15742
@Fadi2019 Thanks for filing this issue!

@tomi-msft Determine if this repos with the latest version of the library

@smhigley FYI.

[2020-10-29 16:41] sukotekar commented on #15514
Do we have anything planned around this new feature? I wanted to use this feature in our project.
So wanted to know if we have any timeline decided for Nuget package release?

[2020-10-29 16:52] Link631 commented on #15734
I have moved the variables with textColor to the text color interface, added the missing one... but i guess i still have missed to adjust some places, because for now in default theme loading, background and font color are the same. Thats where I could need some support. I did not have time to find out where this comes from.

You can see it in the snapshot result, which is defently wrong:-)

Maybe

[2020-10-29 17:26] msmenti commented on #15729
Thanks Paul, Tomi, here is the pen: https://codepen.io/sdusttm/pen/ExyEYdV
to repro, type anything in input, hit enter, it will do a form post.

Thanks,
Meng

[2020-10-29 17:29] nloyolag opened #15772 "GroupList doesn't support HTMLAttributes"
Environment Information

- **Package version(s)**: @fluentui/react@^7.134.3
- **Browser and OS versions**: Edge Chromium, Windows 10

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/nloyolag/pen/JjKLPpG?editable=true%3Dhttps%3A%2F%2Fdeveloper.microsoft.com%2F

#### Actual behavior:

When passing `aria-labelledby` to `GroupList`, the property is not exposed to the div

[2020-10-29 18:20] Namrata99sah opened #15775 "Selection error in details list"
Hi,

Can you help me with the below error, I'm getting search results from sp.search and setting the values in state to show in detail list. But getting this error.

Uncaught TypeError: Cannot read property 'length' of undefined
    at Selection.IDeG.Selection.setItems (Selection.js:70)
    at DetailsListBase.DfTE.DetailsListBase.componentWillReceiveProps

[2020-10-29 18:29] ecraig12345 commented on #12770
"Beta" [release notes](https://github.com/microsoft/fluentui/wiki/Version-8:-Release-notes) and [migration guide](https://github.com/microsoft/fluentui/wiki/Version-8%3A-Migration-guide) are now available. These are still somewhat subject to change before the final release. If you notice anything missing, please let us know.

[2020-10-29 18:32] paulgildea commented on #15743
@alex3683 Thanks for filing this issue!

@lorejoh12 FYI on the behavior - just including you to understand if this is by design or not.

@tomi-msft Can you verify the behavior in the latest beta release?

[2020-10-29 18:34] tomi-msft commented on #15376
Hi @adam-msft, after further investigation, it seems like the problem is that the teardrop is wrapped within a Layer, which causes it to appear at the bottom of the DOM tree. The presence of the Layer wrapper is determined by the doNotLayer prop. In the codepen, if you set the doNotLayer prop to true, you should be able to tab to the Coachmark. This can be a temporary workaround for now, and I wil

[2020-10-29 18:41] ecraig12345 opened #15776 "Update getting started guide and templates"
Our getting started docs are super out of date (still "fabric" everywhere) and I'm not sure the tech being recommended is even the current thing to recommend.

- [x] Update `@fluentui/react` (and repo?) readme to use new CRA template
  - [x] ensure it's installing 8
- [x] Remove outdated templates from website (7 and master)
- [ ] Archive outdated template repos
- [x] Update current templates to i

[2020-10-29 19:25] sergul commented on #15376
Hi @tomi-msft,

Thanks for the quick workaround. Should this prop "doNotLayer" be set on "Coachmark" component ? If so then I don't see any difference in codeped with or without it.

https://codepen.io/sergulo/pen/yLJBoEK

[2020-10-29 19:38] tomi-msft commented on #15376
Hi @sergul, the doNotLayer prop is part of the positioningContainerProps, on L56 in your codepen. Try changing that to true. The other thing I will try to fix is that when the teardrop is tabbed to, there is no indication that it is in focus, so I will add styling to show that.

[2020-10-29 19:45] sergul commented on #15376
Great ! it's working now 😉 And yes we'd need to border it when it's tabbed. Thanks @tomi-msft

[2020-10-29 19:54] sergul commented on #15376
😞 @tomi-msft sorry for getting excited too soon but looks like it's still not working when Narrator screen reader is on. It was working without the screen reader but when I tabbed when Narrator is on, the focus is not landing on teardrop.

[2020-10-29 20:01] #15406 closed

[2020-10-29 20:11] tomi-msft commented on #15376
@sergul I'm having a little trouble reproing. In the codepen when I tab over to the button to show the coachmark and hit enter, the teardrop automatically receives focus and the narrator picks that up. The issue I see is that if I don't open the teardrop after the initial callout, and I tab away, I can tab back to the teardrop, but the narrator no longer announces it. Is this what you're talking a

[2020-10-29 20:28] brandonthomas commented on #14326
bump!

[2020-10-29 20:28] sergul commented on #15376
@tomi-msft interesting but the Narrator's behavior is different on my side from what you described above.

When I tab over the button and hit enter, Narrator announces "a coachmark has appeared" but the teardrop doesn't automatically receives the focus.  Instead I see this. And when I try to tab again to highlight the teardrop it just ignores to land on it.
![image](https://user-images.githubuserc

[2020-10-29 21:06] tomi-msft commented on #15376
@sergul Just to make sure I understand, you hit the `Show Coachmark` button, and the Narrator announces that a Coachmark has appeared, but when you press enter or alt + c you are unable to open it?

[2020-10-29 21:25] sarahkang58 opened #15779 "Can comboboxes on mobile browsers automatically open when they have focus?"
# Environment Information

- **Package version(s)**: v7
- **Browser and OS versions**: Mobile Chrome and Safari browsers on Android and iOS

### Describe the issue:

We have a combobox with openOnKeyboardFocus set to True.  So when the user tabs to the combobox or clicks on the text field on web browsers, the dropdown automatically opens up with the options.  However, on mobile browsers, when we t

[2020-10-29 22:01] sergul commented on #15376
@tomi-msft yes that’s correct. Although I tried only with enter press but not with alt +c

Can test it a little later and update.

[2020-10-29 22:05] ecraig12345 commented on #15689
This is fixed now. Thanks again for noticing @jcmoore!

[2020-10-29 22:05] #15689 closed

[2020-10-29 22:50] sergul commented on #15376
@tomi-msft so I just tested with Alt + c and instead of pressing tab key and the teardrop receives the focus as expected. By the way with using Alt + c I didn't have to even set "doNotLayer" to true.

@adam-msft do you think using only Alt + c to focus the coachmark teardrop covers our expected result ?

[2020-10-29 23:11] tomi-msft commented on #15739
Hi @Sandhya-aluri I was unable to repro this using the codepen that you provided. Could you provide some additional info to how to repro the bug?

[2020-10-29 23:46] davyrwoo opened #15781 "Initial focus on components do not show focus styling in Northstar"
### Environment Information

- **Package version(s)**: @fluentui/react-northstar@ 0.51.2

### Describe the issue:

When putting initial focus on a component, the focus styling (focus border) is not applied.
When clicking tab to focus on the next element, the focus styling appears for the next element, so it seems like the focus suddenly appears in the middle of the screen

### Please provide a rep

[2020-10-30 04:00] Parth-Rathore opened #15786 "Details list with resizable columns does not allow resizing of columns over horizontal width"
### Environment Information

- **Package version(s)**: 7.149.0
- **Browser and OS versions**: Microsoft Edge (Chromium) 86.0.622.56, Windows 10 20H2 Build 19042.572

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/itsparth/pen/KKMdqXx

#### Actual behavior:
With Details list with many columns leading to horizontal scroll, setting the constraint mode to unconstrained,

[2020-10-30 06:06] luckyrass opened #15787 "LineChart tickValues not working"
### Environment Information

- **Package version(s)**: (5.0.0-beta.4)
- **Browser and OS versions**: (All)

### Please provide a reproduction of the bug in a codepen:

Code to repro it:
Set tickValues={[new Date('2020-01-03'), new Date('2020-03-09')]}, It is expected that the start date in X-axis is 2020-01-03.

[code]

#### Actual behavior:
Start date in X-axis is 03/08
![image](https://user-imag

[2020-10-30 06:39] deagraw commented on #13107
Is there any update on a possible workaround?

[2020-10-30 10:34] Sandhya-aluri commented on #15739
@tomi-msft : Yes this issue exists in latest version as well. Please open the code pen link and NVDA screen reader , once the focus lands on combo box control , it is not reading place holder text. It is just reading the label but not the place holder text.

[2020-10-30 12:41] luckyrass opened #15788 "X-axis descriptor have duplicated value in AreaChart"
### Environment Information

- **Package version(s)**: (5.0.0-beta.7)
- **Browser and OS versions**: (All)

### Please provide a reproduction of the bug in a codepen:

X-axis descriptor have duplicated value in AreaChart. Such as Jan appears 4 times in X-axis.

#### Actual behavior:

![image](https://user-images.githubusercontent.com/12230173/97705926-d2bc6500-1aef-11eb-9599-6620c2eacdc9.png)

###

[2020-10-30 13:54] DaleyKD commented on #12343
Is there any update on this?  I'm trying to use the MenuButton inside of a Table, and this is an issue.

[2020-10-30 16:30] JustSlone commented on #14993
This was fixed in #15511 should be available in `v7.147.0`

[2020-10-30 16:30] #14993 closed

[2020-10-30 16:45] paulgildea commented on #15744
@Fadi2019 Thanks for filing this issue!

@smhigley / @lorejoh12 FYI

@tomi-msft Please make sure there is a repo in the latest 7 version

[2020-10-30 18:43] Dalimil opened #15792 "Narrator Scan Mode has a blank stop on arrow down after Input Box"
### Describe the issue:
Narrator Scan Mode has a blank stop on arrow down after the input box. So it announces 'blank'.

#### Actual behavior:

It announces 'blank' as the next stop in scan mode.

#### Expected behavior:

Doesn't announce anything and goes directly to next element.

### If applicable, please provide a codepen repro:
https://developer.microsoft.com/en-us/fluentui#/controls/web/comb

[2020-10-30 18:51] msmenti opened #15793 "Typing does not help to select dropdown item"
### Environment Information

- **Package version(s)**: (7.147.1)
- **Browser and OS versions**: (Windows 10)

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/sdusttm/pen/YzWavzX

#### Actual behavior:

For the dropdown component, when user expand the dropdown and type on keyboard, the corresponding option is not select, like I type 'c', I would expect CN to be heighl

[2020-10-30 19:12] easy0924 opened #15795 "Wrong horizontal gaps between Stack items in RTL mode"
### Environment Information

- **Package version(s)**: (7.149.1)
- **Browser and OS versions**: (Desktop Chrome)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

There's an existing bug closed, but doesn't seem the issue is addressed with FluentUI Stack component:
https://github.com/microsoft/fluentui/issues/12644

I can confirm it on FluentUI documentation side,

[2020-10-30 19:34] SFM61319 commented on #15745
Bruh at least tell me the directory this fits in and the file name this has/should have along with the "important" stuff that must be written along with the code in the source so that i can create a PR myself, or at least just tell me if this isn't needed so that i can close this feature request issue and not waste my time writing the react version of my css+js code

[2020-10-30 19:54] #15635 closed

[2020-10-30 20:07] khmakoto commented on #15721
So, I think a fix for this shouldn't be that hard to make. However, one thing I've noticed so that we unblock you in the meantime is that if you pass `aria-description` instead of `ariaDescription` it at least seems to work in the codepen you provided.

[2020-10-30 20:49] paulgildea commented on #15745
@SFM61319 Thanks for filing the issue. You are correct in that there are some differences between the designs between WinUI and Fluent UI React.

Since this touches mostly on the design side, I'd recommend pausing your development for the time being until we reach out to our design team to see if the WinUI motion is the recommended approach here.

@JustSlone Let me know if you think otherwise.

I'

[2020-10-30 20:51] paulgildea commented on #15746
@Fadi2019 Thanks for filing this issue!

@smhigley FYI on the model

[2020-10-30 20:56] paulgildea commented on #15750
@FosterSamuel Thanks for filing this issue! Also is this just specific to Windows machines or have you seen similar behavior on other touch devices?

[2020-10-30 21:00] paulgildea commented on #15755
@alton-browsing Thanks for filing this issue!

@smhigley Is this the right behavior?

@joschect Any input from your side to see if this is a by design or not.

[2020-10-30 21:02] paulgildea commented on #15760
@jameelakowsar Thanks for filing this. Could you provide a little more context. Especially what package version you are using or would like the change in?

[2020-10-30 21:04] paulgildea commented on #15764
@bluego78 Thanks for reaching out. It's a little unclear on what the ask is here so I'm going to go ahead and close this issue. Feel free to submit another issue using our template to help out the team make progress on your request.

[2020-10-30 21:04] #15764 closed

[2020-10-30 21:07] paulgildea commented on #15765
@sadomovalex Thanks for filing this issue!

@joschect Any ideas here on a workaround the meantime?

@tomi-msft See you can get a repo with the latest v7 and the website

[2020-10-30 21:09] paulgildea commented on #15766
@bluego78 Thanks for reaching out. It's a little unclear on what the ask is here so I'm going to go ahead and close this issue. Feel free to submit another issue using our template to help out the team make progress on your request.

[2020-10-30 21:09] #15766 closed

[2020-10-30 21:11] paulgildea commented on #15767
@ramya298 Thanks for filing this issue. Usually we would recommend these types of questions be asked on StackOverflow.

In the mean time have you tried calling `initializeIcons();` in your application to register the icons for the rest of the controls?

[2020-10-30 21:14] paulgildea commented on #15768
@SFM61319 Thanks for filing this issue.

@tomi-msft / @JustSlone Who can we help coordinate a fix with @SFM61319 to submit a PR with for the ThemeDesigner update?

[2020-10-30 21:16] #15362 closed

[2020-10-30 21:16] paulgildea commented on #15772
@nloyolag Thanks for filing this issue!

@tomi-msft / @JustSlone Can we coordinate with @nloyolag to spin up a PR to get this contributed?

[2020-10-30 21:18] paulgildea commented on #15775
@Namrata99sah Thanks for filing this issue.

We're trying to grow our community over on Stack Overflow to provide answers to coding questions like this.
It would be super helpful to file this on [Stack Overflow](https://stackoverflow.com/questions/tagged/office-ui-fabric-react+or+fluentui) using tags: office-ui-fabric-react, fluentui-react

Thanks again for the feedback.

[2020-10-30 21:19] #15775 closed

[2020-10-30 21:32] paulgildea commented on #15779
@sarahkang58 Thanks for filing this issue.

I would say that currently this is by design. While not ideal, the intended behavior is to allow freeform text input for `ComboBox` in most desktop situations.

@joschect Is it possible to listen to `onFocus` events and manually open the `ContextualMenu` as a workaround in the mean time.

It's unclear to me if you can differentiate between a tap and the

[2020-10-30 21:33] paulgildea commented on #15781
@davyrwoo Thanks for filing this issue!

@jurokapsiar FYI

[2020-10-30 21:34] JustSlone commented on #15772
@ThomasMichon, @dzearing, what do you think of this addition? It seems like we want this functionality on GroupedList and it would help with accessibility.

I can imagine this might cause issues if folks are passing html attributes today and they are being ignored, we might need put this behavior behind a toggle for now?

What do you all think?

(CC: @smhigley since she's looking at GroupedList ac

[2020-10-30 21:35] paulgildea commented on #15786
@Parth-Rathore Thanks for filing this issue!

@tomi-msft Try to see if you can track down if there was a PR that may have introduced this regression.

[2020-10-30 21:36] paulgildea commented on #15787
@luckyrass Thanks for filing this issue!

@Raghurk FYI

[2020-10-30 21:37] JustSlone commented on #15768
Strange, I'm seeing this below which is different.
@SFM61319 could this perhaps be specific to a certain browser or version?

![image](https://user-images.githubusercontent.com/40304143/97759005-5741c000-1abd-11eb-877a-e47e2a292d94.png)

[2020-10-30 21:37] paulgildea commented on #15788
@luckyrass Thanks for filing this issue!

@Raghurk FYI

[2020-10-30 21:40] paulgildea commented on #15792
@Dalimil Thanks for filing this issue and submitting a PR!

@smhigley FYI

@tomi-msft / @JustSlone let's coordinate on this PR please. Thanks!

[2020-10-30 21:43] paulgildea commented on #15793
@msmenti Thanks for filing this issue and with any help on contributing a fix.

@tomi-msft / @JustSlone can we coordinate here if we think we can get this in a state where this could be added to the Dropdown in a non-breaking way?

[2020-10-30 21:45] JustSlone commented on #15792
PR Looks good to me. I'd like @joschect to take a quick look and confirm though.

[2020-10-30 21:45] #15721 closed

[2020-10-30 21:49] paulgildea commented on #15795
@easy0924 Thanks for finding this issue!

@tomi-msft Seems like the fix is pretty straight forward.

[2020-10-30 22:26] ecraig12345 commented on #15732
@xugao started testing this out in #15796 but we ran into some test issues due to lack of React 17 support in Enzyme (https://github.com/enzymejs/enzyme/issues/2429). So this is on hold (hopefully not for too long) until we can actually run our tests. There were also some concerning initial perf results.

[2020-10-30 22:30] SFM61319 commented on #15768
I don't know myself tbh. I'll try to open [the site](https://aka.ms/ThemeDesigner) on my phone to check. (I have the latest stable edgium if that helps, and this didn't happen on any other, not at least to me)

[2020-10-30 22:35] SFM61319 commented on #15768
Update: yep checked on both potrait and landscape modes and it's (probably) a bug in the designer's code. (GitHub for Android won't let me upload PNG screenshots for some reason)

[2020-10-30 22:41] SFM61319 commented on #15745
Ah, got it.

Also, I'm really sorry my previous comment came out rude.

I see people complaining about inconsistencies everywhere (especially on [r/Windows](https://reddit.com/r/windows) and [r/Windows10](https://reddit.com/r/windows10) and thought removing inconsistencies as early as possible is good for development so I didnt want to waste time.

I'll hold my development for now and work on maki

[2020-10-30 23:01] SFM61319 commented on #15768
I'm not on pc right now but I'll see if visiting the site on chrome and Firefox changes anything

[2020-10-31 10:08] SFM61319 commented on #15768
@JustSlone I think it's because of the static width values? Because one thing I observed on pc and mobile was the width of the (idk what it's called) color input area (on the left side of the screen) was the same, like I think no media queries (or any other similar queries/rules) are used in that site's stylesheet(s).

What are your PC's areal dimensions and resolution?

[2020-10-31 13:33] SFM61319 commented on #15768
Woah @JustSlone this is weird it is working differently on different browsers  on the same win10 pc (all have been zoomed to 100% - the default value - but still..)
- ###### *Firefox Developer Edition*
![Firefox](https://user-images.githubusercontent.com/45308169/97780410-7c602c80-1baa-11eb-899f-282f05beccc8.png)

- ###### *Chrome Stable*
![Chrome](https://user-images.githubusercontent.com/4530816

[2020-10-31 14:33] olivertylsar opened #15803 "Dropdown value resets to the default value provided in defaultSelectedKey(s) prop when component re-renders"
### Environment Information

- **Package version(s)**: 7.149.2

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/olivertylsar/pen/zYBWQXY

#### Actual behavior:

When re-render happens, Dropdown component resets its value to defaultSelectedKey(s) if this prop was provided. I tested it without passing the prop and it worked well, the value stay there.

For example, if

[2020-10-31 17:19] olivertylsar commented on #15803
I was investivating a bit further, passed a ref to the component and inspected it when rerender happened and I could see the default values on the ref.current.selectedOptions array even though I changed the selection. There is also some kind of "inner state" I guess of the selections under ref.current.state.selectedIndices, which seems like indexes of the selected options and those seem alright. B

[2020-10-31 22:14] tomi-msft commented on #15739
Hi @Sandhya-aluri! I am unable to recreate the issue with Narrator, but I was able to recreate the issue with NVDA screen reader. For a quick workaround, you can add the prop `aria-placeholder` and that should get NVDA to read the place holder.

[2020-10-31 22:25] tomi-msft commented on #15746
Hi @Fadi2019 I am having trouble reproing the bug with NVDA. When I press spacebar after I've tabbed to the arrow, NVDA announces whether the file type is sorted ascending or descending. Could you provide more info on how to repro the bug? Thanks!

[2020-10-31 23:17] JustSlone commented on #15768
Hmm, that is interesting. Though both those screenshots look correct, right? The hex values are not cut off.

[2020-11-01 09:45] SFM61319 commented on #15768
Yea. The site works/looks fine but different on chrome and firefox but not on edge. All browsers have been zoomed to 100%. Which is weird.

I tried different window sizes on edge (not just maximized) and also `F12`/`Ctrl + Shift + I` and I'm pretty sure it has to be because of static width values and no media queries (I haven't looked at the source), because the width is constant and the more you

[2020-11-01 12:52] Fadi2019 commented on #15746
as you see in the code a component called <announced ...> is added in the code.
In my opinion this component should be integrated inside the details list, and not added externally

[2020-11-01 17:32] tomi-msft commented on #15735
Hi @chtoosha, I'm having trouble reproing this issue. Can you provide more details on how to repro it?

[2020-11-01 22:20] SFM61319 commented on #15745
@paulgildea I've started working on WinUI's `ProgressRing` in pure CSS+JS (more like SVG `circle` + CSS + JS). Will open a feature request issue for that soon.

Till then, I hope this request gets accepted so that I can work with someone on your team to implement `ProgressBar` but in React (and not just vanilla css+js, which I have initially written the code in)

[2020-11-02 06:13] hadnet commented on #15460
I'm trying to use ```js import {Button} from '@fluentui/react-button'``` with Next.js without luck. I can't get the styles for the Button using this packages and even if I use ThemeProvider:

[code]

but using ```jsimport {PrimaryButton} from '@fluentui/react/lib-commonjs/compat/Button'``` I get the styles.

[2020-11-02 11:43] varshajawale commented on #15492
@hraz-msft even I am facing this issue. What is the solution that you found for this?

[2020-11-02 11:49] hraz-msft commented on #15492
For the space at the bottom - my issue was with the `data-is-scrollable` attribute. It didn't work well with the custom scrollbars library that I used.

For the responsiveness - I don't have  a solution yet. @paulgildea @dzearing can you assist please?

[2020-11-02 11:50] varshajawale commented on #15492
@hraz-msft did you set data-is-scrollable to false?

[2020-11-02 11:52] hraz-msft commented on #15492
`data-is-scrollable={true}` to the container with the scroll. Now I don't use any custom scrollbars library because I didn't find any library that working correctly with the scroll events for the DetailsList

[2020-11-02 12:21] varshajawale commented on #15492
@hraz-msft I have given data-is-scrollable=true to the controller still there is an empty space in the bottom

[2020-11-02 12:24] hraz-msft commented on #15492
You need to add it to the right element in the DOM. Can you please provide a sample code in CodeSandbox?

[2020-11-02 16:42] dzearing commented on #15492
@hraz-msft Why are you using display flex that way? It will fight with the column resizing. Comment out all your custom styling and it works as expected when you resize.

I still haven't seen a repro of the "blank space" at the end, but I do think as you mentioned, that this probably was caused by a custom scroll div not having the `data-is-scrollable` attribute on it, which would have meant the l

[2020-11-02 16:52] paulgildea commented on #15803
@olivertylsar Thanks for filing this issue and digging into it a bit more. That's super helpful. So are you unblocked in that you can use the controlled version in the meantime?

@joschect FYI if you think this is by design or if we need to address the uncontrolled case.

[2020-11-02 16:54] hraz-msft commented on #15492
@dzearing The `data-is-scrollable` didn't work well with custom scrollbars libraries...

About the Flex, it is our page layout. We have some menus, banners, panels, etc. The DetailsList is the main content of the page, inside all these flexes. Note that we used a 3rd-party list component and it worked well in this layout. The issue started when we replaced list to DetailsList.

[2020-11-02 18:45] olivertylsar commented on #15803
@paulgildea No problem, thanks. Yes, I'm fine with with the controlled approach. I just use React Hook Form library for managing forms and it's easier to integrate it with uncontrolled components. But in this case the only extra portion of work is having to sync the values of the form control manually on every change of the component's state, which actually controls the component's value (selected

[2020-11-02 20:38] chtoosha commented on #15735
sure.
Issue does not repo in code pen, it repros strate in the example page: https://developer.microsoft.com/en-us/fluentui#/controls/web/callout

To repro it:
- open https://developer.microsoft.com/en-us/fluentui#/controls/web/callout
- start your JAWS narrator and navigate to the fist example
- click button, observe the callout dialog and dismiss it
- listen to what narrator reads.

[2020-11-02 21:54] MichaelRechenberg opened #15805 "CommandBarItem does not show `checked: true` styling when item is rendered in overflow menu"
### Environment Information

- **Package version(s)**: (fill this out)
Fabric version 7.149.3
- **Browser and OS versions**: (fill this out if relevant)
Verified on Edge, runnin on Windows

### Please provide a reproduction of the bug in a codepen:

Repro CodePen: https://codepen.io/michaelrechenberg/pen/rNLKBNd?editable=true%3Dhttps%3A%2F%2Fdeveloper.microsoft.com%2F

The repro CodePen is almost

[2020-11-02 21:57] MichaelRechenberg commented on #15805
I could not see from documentation that such a styling difference would happen

[2020-11-02 22:20] bigbadcapers commented on #15741
@hjonasson apologies for the delay in replying. You should make sure you're using this version or later:
https://github.com/microsoft/fluentui/releases/tag/@uifabric/file-type-icons_v7.6.15 if you are still seeing the issue, let me know and I will do more local testing to confirm that all expected icons are rendering right.

[2020-11-02 23:08] FosterSamuel commented on #15750
Hi @paulgildea, thanks for looking into this. I've only seen this on my Windows touchscreen laptop and don't have other devices to test. I also cannot repro it from Device Emulation, which boggles me.

[2020-11-02 23:47] msmenti opened #15808 "password eye icon is not shown in chromium edge"
### Environment Information

- **Package version(s)**: (windows 10)
- **Browser and OS versions**: (edge  87.0.658.0 )

### Please provide a reproduction of the bug in a codepen: https://codepen.io/sdusttm/pen/ExyEYdV

#### Actual behavior:

eye icon is not shown

#### Expected behavior:

eye icon is shown. same pen opened in chrome will work.

### Priorities and help requested: medium

Are you wi

[2020-11-03 00:21] #15792 closed

[2020-11-03 00:25] xugao commented on #15732
Quick update:
For unit test, I tried updating the code to use `@wojtekmaj/enzyme-adapter-react-17`. some tests need to wrap `act` when `unmount` to pass; some tests failed which appeared to be `focus` is not working on native element, which i have not root caused yet. See [commit](https://github.com/microsoft/fluentui/pull/15796/commits/7df6cdae53695ae67f4f562d04096b6b7883c55e).

[2020-11-03 01:30] sabintim opened #15811 "Tooltip + Dialog : ESC key has unpredictable behavior"
There was a related bug that was recently fixed: https://github.com/microsoft/fluentui/issues/14465

When I put a button with a tooltip in a dialog, one of the two things happen when I press ESC:
1. Tooltip dismisses, and the subsequent ESC key press doesn't close the dialog. Looks like the key press is swallowed even though the tooltip is gone.
2. The whole dialog dismisses when trying to dismiss

[2020-11-03 04:45] ChristopherHaws opened #15813 "MaskedTextField doesn't work correctly when using autocomplete"
### Environment Information

- **Package version(s)**: 7.149.3 and 8.0.0.beta.7
- **Browser and OS versions**: Chrome and Edge Dev

### Please provide a reproduction of the bug in a codepen:
https://codesandbox.io/s/phone-number-field-repro-f4jzv?file=/src/index.tsx

#### Actual behavior:
Using autocomplete to select a Phone Number in chrome fills out 1 of the 10 numbers and leaves the rest blank.

[2020-11-03 05:10] shivasai09 opened #15815 "callout ordering and line opacity"
![image](https://user-images.githubusercontent.com/33802398/97951633-d76b6c80-1dc0-11eb-9c37-b460d1176718.png)

we need to fix the two thing
1) the content of the line in the callout should be in descending order.

2) the uselected  line should be more light.

[2020-11-03 09:36] Sandhya-aluri commented on #15739
hi @tomi-msft  : Adding aria-placeholder dint work for me with NVDA screen reader. combo box is not reading placeholder with NVDA.

[2020-11-03 09:39] cariceli opened #15817 "The tooltip of GroupedVerticalBarChart doesn't show up when hovering on the x-axis labels"
### Environment Information

- **Package version(s)**: 4.7.0
- **Browser and OS versions**: chrome

### Describe the issue:

#### Actual behavior:

 the tooltip doesn't show up when hovering on the x-axis labels and showXAxisLablesTooltip is set as true.
![image](https://user-images.githubusercontent.com/42231272/97968679-f20e0780-1df9-11eb-9ea1-7275da06601d.png)

#### Expected behavior:

Display

[2020-11-03 09:47] cariceli opened #15818 "The x-axis labels of VerticalBarChart is cut off when showXAxisLablesTooltip is set as true"
### Environment Information

- **Package version(s)**: 4.9.0
- **Browser and OS versions**: Chrome

#### Actual behavior:

The x-axis labels of VerticalBarChart is cut off when showXAxisLablesTooltip is set as true
![image](https://user-images.githubusercontent.com/42231272/97970043-e1f72780-1dfb-11eb-899b-da887aac245c.png)

#### Expected behavior:

Display entire x-axis labels

[2020-11-03 09:50] cariceli opened #15819 "The x-axis labels of VerticalStackedBarChart is cut off when showXAxisLablesTooltip is set as true"
### Environment Information

- **Package version(s)**: 4.9.0
- **Browser and OS versions**: Chrome

#### Actual behavior:

The x-axis labels of VerticalBarChart is cut off when showXAxisLablesTooltip is set as true
![image](https://user-images.githubusercontent.com/42231272/97970724-ef60e180-1dfc-11eb-90c0-57f8d1315d3f.png)

#### Expected behavior:

Display entire x-axis labels

[2020-11-03 12:16] trueadm commented on #15732
You'll likely need to use `focusin` rather than `focus`. You'll also need to use `focusout` rather than `blur`. This is because React now uses these native events under the hood.

[2020-11-03 16:54] paulgildea commented on #15805
@MichaelRechenberg Thanks for filing this issue! This issue behavior might be by design.

@joschect / @micahgodbolt If you have any insights on the design of the `ContextualMenu` styling. My hunch is that the `CommandBar` does not provide checked styling in the overflow menu.

@behowell If it comes back as by design please resolve as such.

[2020-11-03 16:55] paulgildea commented on #15808
@msmenti Thanks for filing this issue!

[2020-11-03 17:01] paulgildea commented on #15811
@sabintim Thanks for filing this issue.

@smhigley We could use some clarity/verification on the expected pattern.

@joschect / @micahgodbolt FYI

@behowell Is it possible to find a app workaround for this type issue? Is it possible for a customer to listen for ESC, route it to the `Tooltip` when shown? That might be the best course of action in the meantime for the desired behavior.

[2020-11-03 17:04] paulgildea commented on #15813
@ChristopherHaws Thanks for filing this issue! We'll take a look at it.

[2020-11-03 17:05] paulgildea commented on #15815
@shivasai09 Thanks!

@Raghurk FYI

[2020-11-03 19:10] DaleyKD opened #15821 "--webkit-scrollbar interferes with other styles"
### Environment Information

- **Package version(s)**: "@fluentui/react-northstar": "^0.51.2"

### Please provide a reproduction of the bug in a codepen:
I'm not sure how to do this with react-northstar

#### Actual behavior:
The --webkit-scrollbar width and height that is being generated by https://github.com/microsoft/fluentui/blob/master/packages/fluentui/react-northstar/src/themes/teams/compon

[2020-11-03 20:40] rdweaver opened #15822 "Enum for staus prop on avatar component"
#### Describe the feature that you would like added

I would like the status prop on the avatar component to be an enum

#### What component or utility would this be added to

avatar component

#### Have you discussed this feature with our team, and if so, who

no

#### Additional context/screenshots

For example of how this should work is the persona component has a PersonaPresence enum. https://

[2020-11-03 21:47] #15258 closed

[2020-11-03 23:37] VerHext opened #15827 "ComboBox custom input onChange handler"
### Environment Information

- **Package version(s)**: 7.145.0
- **Browser and OS versions**: Edge (chromium) on Linux ubuntu 18.04

### Please provide a reproduction of the bug in a codepen: https://codepen.io/verhext/pen/jOrKOPe

#### Actual behavior:
I not been able to insert my own text, after insert and press enter the text disappears. The option selection works without problems. This appears

[2020-11-04 01:44] verdeterrejim commented on #14559
I'm experiencing the same issue.  Have worked around it for now by using "document.body.click()" in the onItemClicked event for the menu item.  That will cause the menu callouts to be dismissed.

[2020-11-04 05:07] shivasai09 commented on #15788
@luckyrass  could you please provide the data you passed in, or steps to repro.

Thanks,
siva

[2020-11-04 05:09] luckyrass commented on #15788
We can repro with the following code. Thanks.

[code]

[2020-11-04 05:17] shivasai09 commented on #15788
@luckyrass  i see that in your code `tickFormat` is `%b` that is why you are seeing only month name. i belive if you add  some more string specifires like `%b%j` then i think issue will be resolved..  could you please try to update and see? let us know if it works properly

please refer to  https://github.com/d3/d3-time-format for more time specifiers

[2020-11-04 05:21] luckyrass commented on #15788
@shivasai09 I'm trying to keep it the same as the figma design. In the design, the tickFormat should be %b.
![image](https://user-images.githubusercontent.com/12230173/98072223-82068c80-1ea0-11eb-8b69-91542ccf118c.png)

[2020-11-04 05:42] shivasai09 commented on #15788
@luckyrass  all the dates given in data are different , it's not duplicate. it's because of tickFormat it appears like duplicate. but it's not, i feel this is not an issue.

please try to add the dates you want to show in the prop `tickValues` i think that will achieve your figma

[2020-11-04 08:05] luckyrass commented on #15788
Yes. It is helpful. Thanks shivasai09 for the suggestion.

[2020-11-04 08:05] #15788 closed

[2020-11-04 09:11] Sandhya-aluri opened #15829 "Fast paas : getting fast paas issues in tag picker when item Limit is selected. i.e Ensures every ARIA input field has an accessible name and Ensures elements with an ARIA role that require child roles contain them."
### Environment Information

- **Package version(s)**:  "@fluentui/react": "^7.123.4"
- **Browser and OS versions**: Chrome and Windows 10

### Describe the issue:
In tag picker control , i have delcared item limit as 3. When 3 items are selected , fast paas is failing with below 2 issues.
1. Ensures elements with an ARIA role that require child roles contain them.
2. Ensures every ARIA input fiel

[2020-11-04 09:58] Sandhya-aluri commented on #15548
@paulgildea : hi paul , Also one more thing, not only on form/page reset even if multi select dropdown is reloading on any other control change/click , NVDA/Narrator is reading the place holder text in multi select dropdown.

[2020-11-04 10:59] PhilippSonntagORGADATA commented on #9591
+1 on the issue. Any progress here?

[2020-11-04 12:07] Namrata99sah opened #15832 "Details List not updating correctly"
Hi,
I'm using SPFx for SPO development of a search box and results are shown in the details list. If no result is returned from Search I'm pushing a static message in the first cell of the details list "No Records".

The issue is - sometimes is the search for anything the data is not showing correctly like the first cell shows "No Records" and 2nd cell onwards it shows the search result. For showi

[2020-11-04 14:41] Github307 commented on #14468
Hi @paulgildea @joschect, are there any updates on this feature request?

[2020-11-04 15:00] Github307 commented on #3726
Hi, are there any updates on this feature? @jahnp @micahgodbolt @xugao

As mentioned in above comments, implementing 'Select All' functionality can be done, but we need to show indeterminate state in the 'Select All' checkbox, when all options are not selected.

![image](https://user-images.githubusercontent.com/38312563/98127163-6325eb80-1edc-11eb-8b04-2bf6c22d5907.png)

Any approach to achieve t

[2020-11-04 15:23] dzearing commented on #14866
"Show Password" support was integrated to the TextField rather than inventing a new component.

[2020-11-04 15:23] #14866 closed

[2020-11-04 15:27] dzearing commented on #6980
Housekeeping, closing as much of this has since changed.

[2020-11-04 15:27] #6980 closed

[2020-11-04 17:08] paulgildea commented on #15821
@DaleyKD Thanks for filing this issue. We'll look into it.

@behowell Could you also look to see if there is a workaround that @DaleyKD could provide as well as determine if this is an issue with `northstar`

@jurokapsiar Could you coordinate with @behowell on who would could help out on the `northstar` side?

[2020-11-04 17:21] paulgildea commented on #15822
@rdweaver Thanks for the feature request!

I'm assuming you are asking for this feature request in the `northstar` package. Please correct me if I'm wrong.

We are working a converged `Avatar` component so I'll will flag this as feedback for the folks that are working on that component. You can see the in progress work here: https://github.com/microsoft/fluentui/tree/master/packages/react-avatar n

[2020-11-04 17:28] paulgildea commented on #15827
@VerHext Thanks for submitting this issue.

First thank you for providing a codepen that is super helpful for us to iterate on. Could you provide a little more detail on what your expected outcome to be when you provide your own `onChange` handler? Sounds like you can provide a handler right?

@behowell Please coordinate once we get a little info on desired outcome for this isuse.

[2020-11-04 17:30] paulgildea commented on #15829
@Sandhya-aluri Thanks for filing this issue.

@smhigley FYI on the model.

@joschect on the current design.

[2020-11-04 17:37] paulgildea commented on #15832
@Namrata99sah Thanks for reaching out.

We're trying to grow our community over on Stack Overflow to provide answers to coding questions like this.
It would be super helpful to file this on [Stack Overflow](https://stackoverflow.com/questions/tagged/office-ui-fabric-react+or+fluentui) using tags: office-ui-fabric-react, fluentui-react

In the meantime you can take a look the `DetailsList` samples

[2020-11-04 19:26] joschect commented on #15779
@sarahkang58 Could you confirm that this is still happening? It definitely should be opening when it gets focus. I see that it appears to open when I use Safari mobile. I wonder if something else is going on and the menu is dismissing too aggressively.

[2020-11-04 19:42] dzearing opened #15834 "Move compose/lib/next utilities to /src, export in index, so that we don't require deep imports."
We don't want to major release compose in its current state; we have the "main" utilities in the /next folder. Let's fold those down into the root/index exports before shipping.

[2020-11-05 00:11] alton-browsing opened #15837 "StackedBarChart does not announce number of items when click the item keys under the bar"
### Environment Information

- **Package version(s)**: 2.8.1
- Edge Version: Version 86.0.622.48 (Official build) (64-bit)
- URL: https://fabricweb.z5.web.core.windows.net/pr-deploy-site/refs/heads/master/charting/dist/index.html#/examples/stackedbarchart#Overview

### Describe the issue:

Narrator doesn't announce the respective count of the items upon selecting the list items under the bar graph

[2020-11-05 01:02] sergul commented on #15376
@tomi-msft we are curious if there is a way to change the keyboard combination of accessing the coachmark teardrop from Alt + c to e.g. CTRL+F6 ?

cc: @adam-msft, @mimi-msft

[2020-11-05 02:18] behowell commented on #15821
Hi @DaleyKD, I'll need to be able to repro this to be able to help further. Ideally you could create a small example demonstrating the issue in [CodeSandbox](https://codesandbox.io/) or [CodePen](https://codepen.io/). You can start with one of the [examples from the documentation site](https://fluentsite.z22.web.core.windows.net/0.51.2/components/provider/definition) and export it to CodeSandbox,

[2020-11-05 04:05] jameelakowsar commented on #15577
For above mentioned charts, basic level test cases and snapshot test cases added

[2020-11-05 04:05] #15577 closed

[2020-11-05 08:13] maheshkumawat24 commented on #13107
Looking for a solution to this issue ?

[2020-11-05 08:16] maheshkumawat24 commented on #8722
Looking for a solution to this problem.

[2020-11-05 09:55] Sandhya-aluri opened #15839 "NVDA/Narrator is not reading the aria label of fabric text field control."
### Environment Information

- **Package version(s)**: "@fluentui/react": "^7.123.4",
- **Browser and OS versions**: chrome and windows 11

### Describe the issue:
NVDA/Narrator is not reading the aria label of fabric text field control.

### Please provide a reproduction of the issue in a codepen:
https://codepen.io/sandhya-aluri/pen/WNxKZXR?editable=true%3Dhttps%3A%2F%2Fdeveloper.microsoft.com%2

[2020-11-05 10:08] Sandhya-aluri opened #15840 "Tag picker Zoom issue : The text typed in the fabric Tag picker control is not visible as it is covered by the autosuggestion dropdown when the page is zoomed to 400%."
### Environment Information

- **Package version(s)**: "@fluentui/react": "^7.123.4",
- **Browser and OS versions**: chrome and windows 11

### Describe the issue:
The text typed in the fabric Tag picker control is not visible as it is covered by the autosuggestion dropdown when the page is zoomed to 400%.

### Please provide a reproduction of the issue in a codepen:
https://codepen.io/sandhya-alu

[2020-11-05 11:37] nupur120983 opened #15841 "Screen Reader : On narrator keyboard not toggle the expand/collapse all button of DetailsList - Grouped"
### Environment Information

Package version(s): "@fluentui/react": "^7.123.4",
Browser and OS versions: chrome and windows 10

### Describe the issue:
![narratornottoggle](https://user-images.githubusercontent.com/50817032/98236424-557a6f80-1f89-11eb-8df8-14821e629ed1.gif)

#### Actual behavior:

On narrator keyboard not toggle the expand/collapse button of DetailsList - Grouped

#### Expected be

[2020-11-05 13:21] mrnateriver opened #15842 "`mergeStyles()` doesn't parse `calc()` for padding/margin shorthands"
Terribly sorry for filing a bug without proper template, but the issue is utterly straightforward:
https://github.com/microsoft/fluentui/blob/34ec543117e6bf63461b26ea610fa750a45b4927/packages/merge-styles/src/styleToClassName.ts#L160-L167

Function that splits `padding`/`margin` CSS shorthand into four separate properties does not take `calc()` values into account, which results in invalid values

[2020-11-05 15:18] villuv commented on #12488
Might this be related? https://github.com/microsoft/fluentui-system-icons

[2020-11-05 15:55] rdweaver commented on #15360
Do you have any updates on converging the `react` and `northstar` packages and components? Do you have any timelines? Where should I go to get the latest information regarding the future plans?

[2020-11-05 16:28] sarahkang58 commented on #15779
@joschect Now that i looked more closely, the menu seems to flicker, so it might be dismissing aggressively as you said (this is on Safari mobile as well).

I also noticed that the first time I tap on the white input space, the text is highlighted and the keyboard drawer comes up, but the menu doesn't open or it flickers.  Tapping on the white input space a second time though will successfully ope

[2020-11-05 16:36] sabintim commented on #15811
Added some clarification to expected/actual behavior in the description.

[2020-11-05 16:53] paulgildea commented on #15837
@alton-browsing Thanks for filing this issue!

@Raghurk

[2020-11-05 16:55] paulgildea commented on #15839
@Sandhya-aluri Thanks for filing this issue! We'll look into it.

@behowell This seems like it could be a regression... however, I'm unclear if we've changed anything in. `TextField` recently.

[2020-11-05 16:56] paulgildea commented on #15839
@Sandhya-aluri Did you mean Windows 10?

[2020-11-05 16:58] paulgildea commented on #15840
@Sandhya-aluri Thanks for filing this issue. Also do you mean Windows 10 as the OS platform?

@behowell Please investigate and try to determine the scope of the fix - It's unclear to me how difficult it will be to ensure there is usable experience at 400%.

[2020-11-05 17:02] paulgildea commented on #15841
@nupur120983 Thanks for filing this issue and providing a video of the issue. This is very helpful for our team to diagnose the issue. Also did you mean Window 10 for the platform?

@behowell This looks like a straightforward repo on the website. Also please determine if it's inherent to the DetailsList or if it's a sample issue that needs to be fixed.

[2020-11-05 17:08] paulgildea commented on #15842
@mrnateriver Thanks for filing this issue and providing enough detail that we can take action on the issue.

@dzearing - FYI Not sure if this is something that can be added in a non-breaking way. Also just curious if this is being taken into account for the new styling utilities that are in preview.

@behowell Please coordinate with @dzearing on the approach for this issue. Thanks!

[2020-11-05 17:12] xugao opened #15843 "Backport Teams 2.0 theme to react-northstar"
Backport Teams 2.0 theme to `react-northstar`. (mostly just color scheme/palette changes)

[2020-11-05 17:35] dzearing opened #15844 "RFC: makeClasses/makeVariantClasses convention adjustments"
## Background

Today we have a hook factory `makeStyles` to generate a hook for a stylesheet:

[code]

The hook simply produces a class map that requires you manually mix in the styles in the right places in code:

[code]

This utility is great for customers to create quick style overrides that are performant. Because it is defined in file-scope, we can enforce that style objects/functions never m

[2020-11-05 18:25] #14697 closed

[2020-11-05 18:25] ecraig12345 opened #15845 "Remove composition utilities from release notes"
**UPDATE: Now the utilities aren't being released in v8, so we need to remove this from the release notes.**

~~We mention the composition utilities in the [release notes](https://github.com/microsoft/fluentui/wiki/Version-8%3A-Release-notes#in-preview-composition-utilities) but no details on how to try them out.~~

~~We should put the documentation somewhere (not in the release notes file itself)

[2020-11-05 19:00] #15832 closed

[2020-11-05 19:12] DRamalho92 commented on #15827
Go the exact same problem.
The expected outcome of this scenario would be that the text that we put on the ComboBox would show on the ComboBox. However, the value disappears if that value doesn't belong to the options available on the dropdowns of the ComboBox.

[2020-11-05 22:05] tomi-msft commented on #15793
Hi @msmenti there is currently no support for this feature in Dropdown. This is by design, and we have created Combobox to address this. I would recommend using Combobox for this feature!

[2020-11-05 22:05] #15793 closed

[2020-11-05 22:28] msmenti commented on #15793
Hi Tomi,

I just give combo box a try, but it is still not the optimal solution, for is example, in a dropdown with USSSSSA, USSSSSSB, USSSSSSC

If I want to choose USSSSSSC, if the feature is implemented in dropdown, I can type U and got to highlight USSSSSA, then use keyboard to go down 2 and get USSSSSSC.

With combo box, if I type U, USSSSSA will be auto completed but I won’t be able to see ot

[2020-11-05 22:43] ThomasMichon commented on #15786
In the linked codepen, there are a couple of bugs:

1. Every `IColumn` you pass into the `columns` prop must have a unique `key` value. Otherwise, the state stored for a column might accidentally get applied to other columns, causing visual glitches.
2. You have `layoutMode` and `contrainMode` conflated. You need to fix your render of `DetailsList` to do this:
[code]
What was happening is that `De

[2020-11-05 22:49] tomi-msft commented on #15786
Here is a codepen with resize working for reference: https://codepen.io/tomi-msft/pen/VwjBNEx

[2020-11-05 23:49] shuotli opened #15849 "Narrator not announce when toggle DetailsList header sorting order"
### Environment Information

- **Package version(s)**: v0.7.1
- **Browser and OS versions**: Edge chromium / windows

### Describe the issue:

When toggling the header to change the sorting ascending/descending, the Narrator doesn't announce the new sorting order.

### Please provide a reproduction of the issue in a codepen:

We can simple use the exmaple in https://developer.microsoft.com/en-us/f

[2020-11-06 07:35] Harshagracy commented on #15793
I agree with @msmenti . This feature is a must.

[2020-11-06 13:22] luckyrass opened #15850 "Heatmap throws an exception when the data of the first category is empty"
### Environment Information

- **Package version(s)**: (4.7.0)
- **Browser and OS versions**: (all)

### Please provide a reproduction of the bug in a codepen:
Heatmap throws an exception when the data of the first category is empty. The error occurs in the below code snippet.
this._xAxisType = getTypeOfAxis(props.data[0].data[0].x, true) as XAxisTypes; the props.data[0].data[0] is undefined.

Cod

[2020-11-06 14:29] nbelyh commented on #865
Any updates? would really love to see this component added 😄

[2020-11-06 16:41] paulgildea commented on #15849
@shuotli Thanks for the filing this issue!

@behowell This sounds similar to #15841 or might be related. Please determine if this is a fundamental issue with the DetailsList or an issue with the sample itself.

[2020-11-06 16:43] paulgildea commented on #15850
@luckyrass Thanks for filing this issue. We'll look into it.

@Raghurk FYI

[2020-11-06 17:33] shuotli commented on #15849
Thank you for your response. This is an issue with Narrator not announce information so it is a different issue from #15841.
I believe this is not just with the sample because we experience the same issue on our side.

[2020-11-06 21:01] #14676 closed

[2020-11-06 21:22] Dalimil opened #15853 "Certain interfaces and components are not exported, yet essential"
1) The only way to import `CalloutContentBase` is like this:
`import { CalloutContentBase } from 'office-ui-fabric-react/lib/components/Callout/CalloutContent.base';`
2) The only way to import `PanelBase` is like this:
`import { PanelBase } from 'office-ui-fabric-react/lib/components/Panel/Panel.base';`
3) Same for `IButtonClassNames`
4) Same for `IContextualMenuClassNames`
5) Same for `IMenuItemC

[2020-11-06 22:22] deanbot opened #15856 "[DetailsList] trigger onActiveItemChanged when selection cleared"
#### Describe the feature that you would like added

Details List should trigger onActiveItemChanged when selection is cleared.

Currently `onActiveItemChanged` only triggers when there is a selection. There's no way that I've found, to trigger a calback when the selection is cleared.

#### What component or utility would this be added to

DetailsList

#### Have you discussed this feature with our

[2020-11-06 23:08] ecraig12345 commented on #15853
If you need the test utilities, those should probably be added to `@fluentui/test-utilities` and exported from there. (Not sure why that wasn't done to begin with.)

[2020-11-07 00:13] stupparde opened #15859 "[DatePicker][ScreenReader]: Activating ScreenReader alters the behavior of arrow key navigation in date pickers"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: Edge Beta, OS version 10.0.19042

### Describe the issue:

Narrator seems to be changing the behavior by which arrow key presses are used to move the focus within the date picker control.

1. Navigate to the sample date picker here: https://codepen.io/Stuppard/pen/yLJxPyp?editable=true%3Dhttps%3A%

[2020-11-07 08:38] sunnyEspireGit opened #15861 "how can we automatically add commas to numbers being typed in SPFx react fluent textfield. ex: 1,000,000,000"
[code]

So the issue is when i am logging the value of a its showing correct result(1,111,111,111) but when i am doing the setState for the same it is show like this (1,1,1,1,1,1,1,1,111).Please suggest where am i going wrong.

required output is -
1,000
10,000
100,000
1,000,000
10,000,000
100,000,000
1,000,0000,000

[2020-11-07 23:00] #15760 closed

[2020-11-08 00:55] flyingbee2012 opened #15862 "Spinner is not rendered in child window"
### Environment Information

- **Browser and OS versions**: (Chrome, Window 10)

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/flyingbee2012/pen/eYzLQEP

#### Actual behavior:

There is no spinner in the child window

#### Expected behavior:

It should display a spinner in the child window

### Priorities and help requested:

Are you willing to submit a PR to fix?

[2020-11-08 18:20] bharath3719 opened #15863 "Localization for fluent UI controls."
I am trying to implement localization in react web app using i18next and Fluent UI.

The docs day "Fluent UI supports a variety of language codes, which map to the following font stacks: ..."
As seen here : https://developer.microsoft.com/en-us/fluentui#/styles/web/localization

Q : How to set the 'language code' in Fluent UI to achieve the same ?

[2020-11-09 00:30] jeffmcaffer opened #15864 "Example CRA repo fails"
### Environment Information

Just following current website instructions on an up to date Windows 10 machine

### Please provide a reproduction of the bug in a codepen:

1. Create a new CRA based setup by following the Getting started info
https://developer.microsoft.com/en-us/fluentui#/get-started#option-2-create-react-app
2. Run `npm start`
3. Observe that the following error in the spawned brow

[2020-11-09 00:42] jeffmcaffer commented on #15864
A little investigation found that perhaps this is an issue with TS support for type importing (see https://stackoverflow.com/questions/61783437/react-typescript-error-on-build-in-node-modules-jest-diff-build-difflines-d-ts) which recommends updating TS to >= 3.8. I updated to 3.9.7 (saw that in some other post) and the example site comes up but I get the following warning

[code]

And while I'm no

[2020-11-09 01:12] jeffmcaffer commented on #15864
Digging even further it seems that that example repo is very old and still references `"office-ui-fabric-react": "^6.174.0"`.

I suggest you either update the example repo or delete the reference from the doc so as to not mislead folks to using old libraries. Frankly the idea of using a pre-created CRA app and Git repo was not all that exciting. You'd get a random CRA setup created some time ago a

[2020-11-09 02:03] bonafideyan commented on #13814
when the backgound color has been merged into classname with mergeStyleSets method, what should I do after change theme? css variable help?

[2020-11-09 05:55] Parth-Rathore commented on #15786
Hi @ThomasMichon. thanks for the solution. Thanks @tomi-msft for the codepen. I was able to successfully resolve issue :).

[2020-11-09 05:55] #15786 closed

[2020-11-09 08:38] mrkushjain opened #15866 "Unable to Navigate Picker Suggestions in Narrator Scan Mode"
### Environment Information

- **Package version(s)**: Current (seen on Fabric Picker component homepage on 11/9/2020 )
- **Browser and OS versions**: Microsoft Edge Version 86.0.622.63 (Official build) (64-bit)

### Describe the issue:
##See attachment for screen recording
[issue video.zip](https://github.com/microsoft/fluentui/files/5509097/issue.video.zip)

0. Turn on narrator in scan mode (by

[2020-11-09 10:38] jurokapsiar commented on #15821
Hi, there is unfortunately currently no way to remove keys from the component style objects.

You can either create your own theme that does not contain the scrollbars, or try to modify existing one, similar to: https://codesandbox.io/s/clever-wind-tf9nv?file=/example.js

[2020-11-09 10:49] jurokapsiar commented on #15781
This is by design, focus ring appears only when keyboard triggered the move of the focus. If you want to explicitly change the state, you can use
[code]

`setWhatInputSource` can be imported from `@fluentui/react-northstar`

[2020-11-09 10:49] #15781 closed

[2020-11-09 16:20] AndreyButyrchik opened #15871 "Fluent UI - React Northstar. Menu component throws exception"
### Environment Information

- @fluentui/react-northstar - 0.51.2
- Google Chrome Version 86.0.4240.183

### Reproduction of the bug:

- Add Menu component
- Try click on menu item

#### Actual behavior:

Menu component throws next error in console:

[code]

#### Expected behavior:

No errors

[2020-11-09 17:16] paulgildea commented on #15853
@Dalimil Thanks for filing this issue.

@behowell / @JustSlone Can we coordinate with @Dalimil to understand their deep import needs and determine the best way forward. I noticed a some dependencies on base components, which leads me to believe that the components `Panel` and `Callout` might be missing something. If so let's see if we can contribute something in.

[2020-11-09 17:24] paulgildea commented on #15856
@deanbot Thanks for filing this issue.

That sounds like a good feature addition. I don't have any timelines to share and DetailsList is one of our most riskiest code bases so I'm just setting the expectation that we not get to this item right away.

@behowell / @dzearing Let me know if you can think about possible work arounds. It's unclear to me if there's something in the `Selection` API that w

[2020-11-09 17:26] paulgildea commented on #15859
@stupparde Thanks for filing this issue. We'll take a look.

@lorejoh12 / @smhigley FYI.

[2020-11-09 17:31] Raghurk commented on #15850
Fixed in the latest charting package.

[2020-11-09 17:31] #15850 closed

[2020-11-09 17:33] paulgildea commented on #15861
@sunnyEspireGit Thanks for filing this issue.

We're trying to grow our community over on Stack Overflow to provide answers to coding questions like this.
It would be super helpful to file this on [Stack Overflow](https://stackoverflow.com/questions/tagged/office-ui-fabric-react+or+fluentui) using tags: office-ui-fabric-react, fluentui-react

Thanks again for the feedback.

[2020-11-09 17:48] paulgildea commented on #15862
@flyingbee2012 Thanks for filing this issue.

@dzearing / @JustSlone correct me if I'm wrong, but I believe with React 16 [createPortal](https://reactjs.org/docs/portals.html) was introduced for these types of scenarios?

A quick search on StackOverflow got me here: https://stackoverflow.com/questions/47574490/open-a-component-in-new-window-on-a-click-in-react

I'm going to mark this as not an iss

[2020-11-09 17:58] paulgildea commented on #15863
@bharath3719 Thanks for filing this issue.

We're trying to grow our community over on Stack Overflow to provide answers to coding questions like this.
It would be super helpful to file this on [Stack Overflow](https://stackoverflow.com/questions/tagged/office-ui-fabric-react+or+fluentui) using tags: office-ui-fabric-react, fluentui-react

Thanks again for the feedback.

In the meantime, for setti

[2020-11-09 18:07] paulgildea commented on #15864
@jeffmcaffer Thanks for digging into this issue!

It's currently on our list to address our getting started experience - #15776 @ecraig12345 / @joschect FYI.

Since you've done a lot of investigation in this area, would you be wiling to contribute a fix the current getting started? If not now worries just thought I would ask 😄 .

@JustSlone FYI.

[2020-11-09 18:09] paulgildea commented on #15864
@ecraig12345 / @joschect Feel free to resolve as dupe if you've got this part covered in the current work item for updating getting started templates.

[2020-11-09 18:22] paulgildea commented on #15866
@mrkushjain Thanks for filing this issue. We'll take a look.

@smhigley FYI.

[2020-11-09 18:24] paulgildea commented on #15871
@AndreyButyrchik Thanks for filing this issue. Would you mind adding a codepen or codesandbox of the issue so that we make faster traction debugging this issue?

Thanks!

[2020-11-09 18:25] jeffmcaffer commented on #15864
I could contribute a PR but I wonder about the path here. As I mentioned above, Having a repo that folks clone that already has CRA setup feels less than optimal. As CRA changes it's pretty much black box as to what's been done in there before the user clones the repo. For just messing around and trying out Fluent sure but not as the basis for my new app. Better IMHO would be to make it easy to ju

[2020-11-09 18:31] jeffmcaffer commented on #15776
This issue is great, very much needed. Given all the changes that have happened lately, it is currently very hard for folks to get started. Neither of the paths outlined in the Getting started guide work for users.

Stepping back a bit, I spent ~5 hours trying to get a basic app (beyond the example but not radical) working and was unable. Too many places mix the old and new and cross metaphors (Co

[2020-11-09 18:51] Lego6245 opened #15876 "Calendar: Unable to target the CalendarDay 'header' button with an aria-label"
### Environment Information

- **Package version(s)**: ^7.146.0
- **Browser and OS versions**: Chromium Edge + Windows 10

### Describe the issue:

You are unable to target the CalendarDay "header" button with an aria-label. The "month" and "year" pickers both are able to be targeted easily through the `ICalendarStrings` prop, but not the day picker.

### Please provide a reproduction of the issue

[2020-11-09 18:58] codepretty opened #15877 "Toolbar menu has incorrect styles in Fluent UI react-northstar"
Toolbar submenu has incorrect design
![image](https://user-images.githubusercontent.com/828692/98584176-5a396f00-227a-11eb-87eb-cb68ed3587fa.png)

Issues with toolbar menu are
1. Menu item height is 38px in toolbar, should be 32px and match menu item height
2. Icon is aligned incorrectly, should be aligned to top line or centered with only 1 line
3. Menu width is restricted

You can see the differ

[2020-11-09 19:48] dzearing commented on #15862
Here is an example of rendering to a child window:

https://codesandbox.io/s/projecting-ui-fabric-styles-to-child-window-hn5wu?file=/src/index.tsx

The key is that you will need to project styling to the child window. There's a utility in there which sets that up.

[2020-11-09 20:23] DavidIsrawi commented on #15286
Hi @JustSlone @miroslavstastny - checking in to see if there're any updates with this bug.

[2020-11-09 20:43] Lego6245 commented on #15876
Looks like #15074 may be a related issue, but it is not referring to the same "button" within the component.

[2020-11-09 21:15] ecraig12345 commented on #15853
@Dalimil already submitted a PR fixing most of these (thanks!) and we're discussing there.

[2020-11-09 21:17] philipzloh opened #15878 "getInitials should strip [xyz] (angled braces) just like it strips (xyz)"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

RegEx for the code today in
[code]

Takes `Kevin Andersen (EEE)` and turns it into `Kevin Andersen` but takes `Kevin Andersen [EEE]` and turns it into `Kevin Andersen EEE` resulting in i

[2020-11-09 21:19] philipzloh commented on #15878
Plan is to change
[code]
to
[code]

[2020-11-09 22:21] ecraig12345 commented on #15864
I noticed this recently as well, that our templates are super outdated. @joschect was actually working last week during our "fix hack learn" week on figuring out a better solution but not sure if he landed on anything yet. If possible we wanted something where we could host a template within our repo (so it's more likely to stay up to date!), but we'd prefer not to pull the whole weight of `react-

[2020-11-09 22:23] ecraig12345 commented on #15074
FYI for whoever ends up working on this issue: in version 8, Calendar is being replaced with the one from `@fluentui/react-date-time` (was `@uifabric/date-time` in version 7). In some cases the new version is better for accessibility, but it looks like this issue exists (and may need to be fixed) in both versions.

[2020-11-09 22:24] ecraig12345 opened #15879 "Improve ability to flag deprecated API usage"
In many cases, we rely on `@deprecated` tags to alert our library consumers to prop changes and help them migrate to new alternatives, and eventually remove the old props. However, `eslint-plugin-deprecation`, TSLint's `deprecation` rule, and VS Code's new deprecated API flagging all miss a LOT of cases:

![image](https://user-images.githubusercontent.com/5864305/98604558-c034ef00-2298-11eb-88a4-4

[2020-11-09 23:06] flyingbee2012 commented on #15862
@dzearing , thanks for the help, so I am wondering how we can import the method projectStyles, is it a handy function we can direct import from fluentui package, or, shall we create this file by ourselves?

[2020-11-09 23:34] jeffmcaffer commented on #15864
Fair enough (and thanks for the additional context). The repo clone approach is certainly not the end of the world and does have some merits. I think I'd probably use that to get going quickly (fewer steps in theory) and then once I decided that Fluent UI was for me, I'd start from scratch and copy over what I wanted (if anything). If you are going for that, perhaps you can use [GitHub repo templa

[2020-11-09 23:37] nloyolag commented on #15772
Thanks everyone for looking into this. Let me know if there is an ETA for the fix or if there is anything else needed on my side.

[2020-11-09 23:40] ecraig12345 commented on #15864
Thanks for the suggestions, that all makes sense. Good idea about the github repo templates (I think those are relatively new too).

You actually should be fine using TS 4 with `@fluentui/react`--our restriction is that you can't go *lower* than 3.7. If something isn't working with a newer TS version you can file an issue and we'll look into it.

[2020-11-10 00:17] jeffmcaffer commented on #15864
LOL yeah that TS versioning thing is emblematic of the situation. Template repo has `"typescript": "3.4.5"`, tools say `SUPPORTED TYPESCRIPT VERSIONS: >=3.2.1 <3.5.0`, you say `>= 3.7`, the app only works with `>= 3.8` (as best I can tell and despite the tool complaints), and a fresh CRA install gets you `4.0.5` (IIRC).

Ah, life in the middle of the software stack...

[2020-11-10 00:23] PatoBeltran opened #15881 "Breadcrumb provides onRender for items but doesn't respect it for overflow items"
### Environment Information

- **Package version(s)**: 7.123.9

### Please provide a reproduction of the bug in a codepen:

The breadcrumb component provides a `onRenderItem` that you can use to render custom content on the item itself, but as soon as the item goes in the overflow menu the `onRenderItem` is not respected. I would expect that either the same method is used for rendering the overflo

[2020-11-10 01:31] ecraig12345 commented on #15863
You should be able to do this by adding `lang="something"` to the root `<html>` element. This is supposed to be noted in our documentation, but it looks like there was a copy-paste error causing the content about RTL layouts to be reused in the section that's supposed to be about language-optimized fonts. I made PRs #15883 and #15884 fixing this.

[2020-11-10 01:38] #15641 closed

[2020-11-10 01:52] #14297 closed

[2020-11-10 02:23] ecraig12345 opened #15886 "Add v7 Calendar and DatePicker back under compat?"
Depending on partner usage we may need to add the old versions of Calendar and DatePicker back under `@fluentui/react/lib/compat`. In theory migration to the new versions shouldn't be hard (and can be done ahead of time by switching to consuming `@uifabric/date-time` version 7) but could present problems for people who have heavily customized styling.

[2020-11-10 02:32] ecraig12345 commented on #4613
The obvious issues have been fixed in all version 8 components exported by default from `@fluentui/react`. It's possible there are still some more subtle problems related to render-phase side effects, so please file a new issue if you find anything like that. Version 8 is currently in beta, and you can try it out now by installing `@fluentui/react@beta`--see the [release notes](https://github.com/

[2020-11-10 02:32] #4613 closed

[2020-11-10 02:42] ecraig12345 commented on #4613
One clarification: most strict/concurrent mode fixes were made exclusively in version 8, and it's not feasible to port them back to version 7. This is because many of them (such as function component conversions) involve some level of subtle breaking changes which wouldn't be safe or feasible for some of our major partners to pick up except in a major release.

See the [release notes](https://gith

[2020-11-10 04:32] #15600 closed

[2020-11-10 06:17] Sandhya-aluri opened #15887 "Focus is not going to multi select dropdown selected options in windows high contrast white mode. Only single line border is available on selected items."
### Environment Information

- **Package version(s)**: "@fluentui/react": "^7.126.0",
- **Browser and OS versions**: Chrome and Windows 10

### Describe the issue:
Complete Focus is not going to multi select dropdown selected  ptions in windows high contrast white mode. Only single line border is available on selected items.

### Please provide a reproduction of the issue in a codepen:
https://cod

[2020-11-10 06:32] Sandhya-aluri opened #15888 "Fast Paas failing : Ensures ARIA attributes are allowed for an element's role in fabric multi select dropdown."
### Environment Information

- **Package version(s)**: "@fluentui/react": "^7.126.0",
- **Browser and OS versions**: Chrome and Windows 10

### Describe the issue:
Fast Paas is failing with error "Ensures ARIA attributes are allowed for an element's role" in fabric multi select dropdown when any item selected.

### Please provide a reproduction of the issue in a codepen:

#### Actual behavior:
Fas

[2020-11-10 07:08] mrkushjain opened #15889 "Focus Not Going To Other Components Outside of Picker When Right Arrow Is Pressed In Scan Mode"
### Environment Information

- **Package version(s)**: Current (seen on Fabric Picker component homepage on 11/9/2020 )
- **Browser and OS versions**: Microsoft Edge Version 86.0.622.63 (Official build) (64-bit)

### Describe the issue:
Screen recording is attached
[issue with right arrow key in scan mode.zip](https://github.com/microsoft/fluentui/files/5515432/issue.with.right.arrow.key.in.scan.m

[2020-11-10 07:56] v-ajrai opened #15890 "On Combobox Narrator is not reading as required even if aria-required="true" is set ,as aria-required attribute goes to parent hierarchy instead of <input> control"
On Combobox Narrator is not reading as required even if aria-required="true" is set ,as aria-required attribute goes to parent hierarchy instead of <input> control .
### Environment Information

OS: Win10
Browser: Edge chromium Version 87.0.634.0 (Official build) dev (64-bit),

### Describe the issue:

On Combobox Narrator is not reading as required even if aria-required="true" is set ,as aria-req

[2020-11-10 11:48] savkelita opened #15892 "ComboBox feature request: data virtualization"
#### Describe the feature that you would like added

Why does **ComboBox Component** not have props like _pickerSuggestionsProps/onResolveSuggestions/onGetMoreResults_? The main issue is how to handle 1K+ items received from API. In that case Pagination can be the solution and the props mentioned above would allow us implementation like the one inside of BasePicker Component.

Thanks.

#### What c

[2020-11-10 13:11] kolaps33 opened #15893 "Multiple Selection dropdown has additional space after selection list"
After the PR
https://github.com/microsoft/fluentui/pull/14864/files#diff-0dfcfdca092d43b516fbc6007112238d042697c91fdced73011fa22d664d65f2R773-R777

Dropdown has additional space after user selection list:
![image](https://user-images.githubusercontent.com/22620150/98678043-3ea79480-235e-11eb-92aa-68e726db2333.png)

Before there was no additional space:

![image](https://user-images.githubuserconte

[2020-11-10 13:28] jurokapsiar commented on #15877
@codepretty thanks for reporting - would you or your team be able to look into these?

[2020-11-10 14:12] Wezea opened #15895 "[CommandBar] IButtonProps.menuProps.contextualMenuItemAs does not work when provided via ICommandBarProps.overflowButtonProps"
### Environment Information

- **Package version(s)**: office-ui-fabric-react": "7.149.4,
- **Browser and OS versions**:  Chrome: "Version 86.0.4240.183 (Offizieller Build) (64-Bit)", Windows 10 2004

### Please provide a reproduction of the bug in a codepen:

This bug is reproducable with the example "_CommandBar custom buttons and overflow menu_" provided on the official dev page.

https://devel

[2020-11-10 14:37] SteveJerbs opened #15896 "Details List - When column reorder is enabled, icon is displayed on column headers"
### Environment Information

- **Package version(s)**: Office-UI-Fabric 7
- **Browser and OS versions**: Edge on Windows 10

### Please provide a reproduction of the bug in a codepen:
[CodePen](https://codepen.io/connormel/pen/BazGzRj?editable=true%3Dhttps%3A%2F%2Fdeveloper.microsoft.com%2F)
When using the code pen referenced by the Fluent Team in the docs for the DetailsList component, if you tog

[2020-11-10 15:11] dzearing commented on #15862
Let's do this; can you try it out (copy the utility) and give feedback? We can certainly add this into the repo and export it, but I'd like to make sure it solves your concern.

[2020-11-10 15:48] khmakoto opened #15897 "Consume react-button Buttons in TMP"
We need to find a way to consume the `Button` component from the `@fluentui/react-button` package in TMP so that we actually have a "converged" component that's available and used in conjunction with v0 and v8 components.

Ideally, we should do a couple of things:
- [ ] Identify key scenarios that are prime to try this change in TMP code.
- [ ] Try and replace the `Button` in those key scenarios w

[2020-11-10 15:57] dzearing commented on #15844
Notes on in-person conversation with @levithomason :

* Simplicity is good, too many ideas is bad. Every new idea requires teaching and learning. Good design should be intuitive so that there isn't an additional step required to use something.
* There are many cases where automated mixing does not work, where you must conditionally distribute class names to particular elements.
* We should try and

[2020-11-10 16:52] tomi-msft opened #15899 "Publish new Fluent Icons in our repo"
# Publish new Fluent Icons in our repo

## Problem
We have a new fluentui icon set that we want folks to begin adopting, and we need to publish it to npm. It is an svg icon set, so we need to consume the raw svg assets and transform them into a form usable in our repo.
## Appetite
## Solution
- Write a script that consumes the raw svg assets and wraps them in a React element wrapper.
- Use the `cr

[2020-11-10 17:00] paulgildea commented on #15876
@Lego6245 Thanks for filing this issue. We'll look into it.

@smhigley FYI for model
@lorejoh12 FYI for any known issues

@behowell Looks like they were able to identify where the issue is occurring.

[2020-11-10 17:03] paulgildea commented on #15878
@philipzloh Thanks for filing this issue proposing changes.

@JustSlone for review and @behowell please coordinate on the PR.

[2020-11-10 17:10] paulgildea commented on #15881
@PatoBeltran Thanks for filing this issue. Sounds like this is more a feature request to provide a custom rendering mechanism for items that are overflowed into the `ContextualMenu`. Is this something you are willing to contribute a fix for?

@JustSlone FYI as this is might be adding an additional API surface area to `Breadcrumb`.

To set expectations, we are focused on converging component across

[2020-11-10 17:12] joschect opened #15900 "Repo in a box"
# Repo in a box

## Problem
We need a way of being able to get users contributing to the fluent-ui-ecosystem quickly and easily, especially for those that don't care about build systems and tooling.

## Appetite
3 Weeks

## Solution
_The following tasks are in no particular priority but all must be done_
* Repo in a box will be published out of current fluent-ui
* Write scripts to auto-create an a

[2020-11-10 17:15] paulgildea commented on #15887
@Sandhya-aluri Thanks for filing this issue. We'll take a look.

@xugao FYI on High Contrast

[2020-11-10 17:17] paulgildea commented on #15888
@Sandhya-aluri Thanks for filing this issue.

[2020-11-10 17:23] paulgildea commented on #15890
@v-ajrai Thanks for filing this issue. We'll take a look.

[2020-11-10 17:34] paulgildea commented on #15892
@savkelita Thanks for the filing this issue.

This seems more like question rather than a request, so I'll mark as such for now.

Have you looked the "VirtualizedComboBox" to sample to handle UI virtualization for large sets of data returned and does that address your scenario?

[2020-11-10 17:38] paulgildea commented on #15893
@kolaps33 👍

[2020-11-10 17:41] paulgildea commented on #15895
@Wezea Thanks for filing this issue.

@micahgodbolt / @joschect / @JustSlone Is this by design?

[2020-11-10 17:45] PatoBeltran commented on #15881
@paulgildea Thanks for your response. The reason why I think this is a bug and not a feature is because the Breadcrumb already provides the API to render custom components for the item, but as soon as the items are overflown then that API is 100% ignored. I understand that the overflow component is a different one, but as an API surface I would expect the items to work in the same way.

To conside

[2020-11-10 17:52] paulgildea commented on #15896
@SteveJerbs Thanks for filing this issue. I'm just a little bit unclear. Is it issue is that you are seeing icon when re-order is enabled? If that's the case I believe that's by design.

@dzearing / @behowell Is there a workaround in styling to hide those icons if that's the desired experience for @SteveJerbs

[2020-11-10 19:00] #15861 closed

[2020-11-10 19:11] SteveJerbs commented on #15896
@paulgildea - Thank you for the quick response.  You are exactly right!  We would like to hide these icons. I think a more meaningful behavior would be to have the cursor icon switch to a hand when hovering over draggable column headers.  The small icon doesn't provide much context to the user in my opinion.

I also noticed that the icons are hidden on the documentation pages ([linked here](https:

[2020-11-10 19:23] azra-bandukwala opened #15901 "In High contrast white, remove button is not visible when focus is on user control for tag pickers and people pickers"
User Experience:

Visual users are impacted as elements in the page are not visible when focus is on user control in high contrast white.

Test Environment:

OS: Windows 10

Version: 2004(OS Build 19577.1000)

Browser: Edge - Dev (84.0.516.1)

URL: https://portal-sdf.office.com/AdminPortal/Home#/featureexplorer

DT Test Environment:

OS: Windows 10

Version: 2004(OS Build 20206.1000)

Browser: Edg

[2020-11-10 19:30] azra-bandukwala opened #15903 "In Scan mode, Screen reader is not announcing the ItemName/tagname associated with 'remove' button in the tag picker or people picker.."
User Experience:

Users who rely on screen readers are impacted and face difficulty if screen reader does not announces the current dialog information.

DT Test Environment:
OS: Windows 10
Version: 2004(OS Build 20206.1000)
Browser: Edge Dev
Browser Version: 87.0.634.0 (Official build) dev (64-bit)
Screen Reader: Narrator
URL: https://portal-sdf.office.com/AdminPortal/Home#/featureexplorer

Repro

[2020-11-10 20:08] wfbcargo commented on #15896
@paulgildea @SteveJerbs I noticed a similar issue when using the [Fabric Core](https://developer.microsoft.com/en-us/fluentui#/get-started#fabric-core) css library. It appears that the icon persists due to

`.ms-Icon {
    display: inline-block;
    font-family: FabricMDL2Icons;
    font-style: normal;
    font-weight: 400;
    speak: none;
}`

Removing this dependency / overriding the display sty

[2020-11-10 21:16] #15863 closed

[2020-11-10 21:16] ecraig12345 commented on #15863
This should be fixed on the website tomorrow morning.

[2020-11-10 23:00] #15827 closed

[2020-11-11 03:07] #15815 closed

[2020-11-11 03:08] #15550 closed

[2020-11-11 03:16] shivasai09 opened #15908 "y axis lines not visible in dark mode"
in dark mode, y-axis lines are not visible to user properly though it is present.

refer  https://office.visualstudio.com/OC/_workitems/edit/4630352 for more info

[2020-11-11 03:58] #15908 closed

[2020-11-11 05:09] flyingbee2012 commented on #15862
@dzearing I got error "Property 'from' does not exist on type 'ArrayConstructor'." for using `Array.from(sourceCssRules)` in projectStyles.ts, I fixed it by just using `Array(sourceCssRules)` but it got another error Property 'cssText' does not exist on type 'CSSRuleList' for using `targetSheet.insertRule(rule.cssText, targetSheet.cssRules.length);` and I am not sure how to resolve that.

[2020-11-11 06:53] v-ajrai commented on #14902
@paulgildea .
I am also facing the similar issue. How much could be the ESA for this to e resolved.
![external_11](https://user-images.githubusercontent.com/62233982/98778630-a91d0b00-2418-11eb-9990-30883a4d9098.png)

[2020-11-11 08:34] #15878 closed

[2020-11-11 17:03] paulgildea commented on #15901
@azra-bandukwala Thanks for filing this issue. Could you specify what version of the package this product is using?

@behowell Please determine if this repos on the website - if so, then we know it's in the latest.

@xugao FYI.

[2020-11-11 17:07] paulgildea commented on #15903
@azra-bandukwala Thanks for filing. Could you please provide which version of the library you are using or provide a reduced isolated repo?

@behowell Please determine if there is a repo with the website example - this should help us understand if it's in the latest  version.

[2020-11-11 17:58] pompomon opened #15911 "Fluent UI v0 inverted button text is not visible"
### Environment Information

- **Package version(s)**: 0.51.2

### Please provide a reproduction of the bug in a codepen:

`Button` component has incorrect text color for `inverted`

https://codesandbox.io/s/hopeful-dawn-7qyst?file=/example.js

#### Actual behavior:

Text is not visible for all themes `default`, `dark`, `high-contrast`

#### Expected behavior:

Text is visible and has enough contr

[2020-11-11 18:07] JustSlone opened #15912 "☂ ScrollablePane updates"
This issue tracks issues to consider when updating ScrollablePane component

- fluent-ui # 7927

[2020-11-11 18:22] JustSlone opened #15913 "ScrollablePane sample needs a11y update"
- see fluent-ui # 7970

Seems like the fix is to add role="heading" and aria-level="1" to the headings. Might need to tweak some styles as well.

See this codepen with proposed fix: https://codepen.io/justslone-the-encoder/pen/bGeQXjv?editors=1010

[2020-11-11 18:54] nanivijay commented on #14447
+1 for the requirement

[2020-11-11 22:21] khaled-elgendy opened #15919 "Narrator does not read deleted letters in TextField Component"
### Environment Information

- **Package version(s)**: (fluent 0.16.9)
- **Browser**: (Version 86.0.622.63)
- **OS versions**: (Windows 10.0.19042 Build 19042)

### Describe the issue:
For accessibility purposes a deleted letter in a text field should be announced when it is deleted. In Edge while using the narrator this does not occur.

### Repro the issue:

1. Go to https://developer.microsoft.c

[2020-11-11 22:52] brandonthomas commented on #15688
Any update here?

[2020-11-11 22:58] PatoBeltran commented on #15881
@paulgildea I noticed this same problem exists in the `CommandBar` component. That one does provide a way to render custom submenu items when the submenu is in one of the command bar items, but as soon as it overflows, there's no way to render custom overflow menu items (or have it respect my custom command bar item render)

[2020-11-12 03:33] shivasai09 opened #15921 "Stackedbar chart unnecessary focusable bars"
In the stacked bar chart if the user wishes to hide the callout and also he don't have the url to navigate to the other page,
then we need to make the bars non-focusable.

[2020-11-12 04:45] shivasai09 commented on #15921
currently we need to keep this on hold, because the question arises here is why do we have to show the visualization if we are hiding tooltip in first place.

it need investigation

[2020-11-12 11:00] KeiraYang opened #15922 "Cannot dismiss FocusTrapCallout when click outside of the callout"
# Environment Information

- **Package version(s)**: master branch
- **Browser and OS versions**:Windows + Edge Chromium
- **Component**: FocusTrapCallout

### Please provide a reproduction of the bug in a codepen:

https://developer.microsoft.com/en-us/fluentui#/controls/web/callout
Click "Show FocusTrapCallout" -> callout is opened, then click outside. Observe the issue. I didn't set any interfa

[2020-11-12 11:07] nupur120983 opened #15923 "In table mode(Details list), Narrator's focus not in sync with keyboard focus"
### Describe the issue:

In table mode, Narrator's focus not in sync with keyboard focus

#### Actual behavior:

Narrator's focus not in sync with keyboard focus

#### Expected behavior:

Narrator's focus should sync with keyboard focus

![image](https://user-images.githubusercontent.com/50817032/98932343-3b024200-2505-11eb-8516-f9d3d6a04365.png)

Requested priority: High

[2020-11-12 15:18] savkelita commented on #15892
Hi @paulgildea thank you for suggestion.

We are trying to avoid HTTP responses over 1K rows on a single request, based on that VirtualizedComboBox is not a solution. We built a custom component like this one https://codepen.io/vitalius1/pen/BvOojj to be as much as possible like ComboBox. Selected value is separated from input field and it looks "ugly" on small resolutions:

https://ibb.co/HTyWxCf

[2020-11-12 16:15] JustSlone commented on #15862
Whoops, the bot jumping in a little prematurely and closed this. Reopening.

[2020-11-12 16:31] bluego78 opened #15924 "When using onSelectDate, the value in the field does not update"
Looks like the issue has been resolved now, thanks! 👍

_Originally posted by @WesselKuipers in https://github.com/microsoft/fluentui/issues/1274#issuecomment-295207645_

How did you resolved? I still have this issue.... When using onSelectDate, the value in the field does not updates...

[2020-11-12 16:38] paulgildea commented on #15911
@pompomon Thanks! You've got it!

[2020-11-12 16:41] paulgildea commented on #15919
@khaled-elgendy Thanks for filing this issue. Quick question, you reference a version number of the package that could be the `northstar` codebase as opposed to the `react` codebase. Can you clarify? The screen shots you reference are from the `react` codebase.

@behowell See if you can repo with the current version of `react` unless noted otherwise. Thanks!

[2020-11-12 16:42] paulgildea commented on #15921
@shivasai09 Sounds good. I'll mark as investigate. Thanks!

[2020-11-12 16:48] paulgildea commented on #15922
@KeiraYang Thanks for filing this issue. We'll take a look!

@behowell I noticed that the `Callout` examples on the site is only opening one `Callout` always anchoring to the first example. So there might be a regression here.

[2020-11-12 16:55] paulgildea commented on #15923
@nupur120983 Thanks for filing this issue. Can you please provide what OS platform version you are using because that can help us determine if there are any known Narrator issues.

Thanks!

[2020-11-12 16:57] khaled-elgendy commented on #15919
@paulgildea   I think the bug is in northstar, but it's on an internal Microsoft product so I didn't want to post pics and links, but the bug is the same as the react one I posted.

[2020-11-12 17:03] paulgildea commented on #15924
@bluego78 Thanks for filing this. Can you help me out a little more with the issue you are having? Can you provide a codepen that is replicating the issue that you are seeing?

[2020-11-12 17:56] Raghurk commented on #15818
Will look into these

[2020-11-12 18:26] azra-bandukwala commented on #15901
@paulgildea we are using  "office-ui-fabric-react": "7.135.0"

[2020-11-12 18:27] azra-bandukwala commented on #15903
@paulgildea -"office-ui-fabric-react": "7.135.0"

[2020-11-12 19:56] shandysulen opened #15925 "No accessible name and description for charting components"
### Environment Information

- **Package version(s)**: @fluentui/react-charting v5.0.0-beta.0
- **Browser and OS versions**: Microsoft Edge v86.0.622.68, Windows 10 Enterprise 20H2
- **Assistive Technologies**: Narrator

### Describe the issue:

Although the `VerticalStackedBarChart` component will be used as the example, this issue applies to all exported charting components in `@fluentui/react-c

[2020-11-12 21:26] ThomasMichon commented on #15772
One thing worth noting is that since `GroupedList` renders a `FocusZone` as its root component, it takes a prop called `focusZoneProps` and applies every prop to its root.
One thing it doesn't do is take a `rootListProps` or similar override to apply to the `List` element it renders for its virtual root.
It probably wouldn't be a good idea to make `IGroupedListProps` directly accept all HTML Attri

[2020-11-12 21:36] #15510 closed

[2020-11-12 21:38] #15853 closed

[2020-11-12 22:14] katiearriagam opened #15927 "Modal | Expose a ref to the div that holds the modal"
#### Describe the feature that you would like added

- HTML div element component ref in the modal to access the component's CSS properties
- Currently dialogs provide no way to access the modal's `offsetHeight` property.

#### What component or utility would this be added to

Modal/Dialog

#### Have you discussed this feature with our team, and if so, who

Not yet. I was told to open an issue her

[2020-11-12 22:21] katiearriagam commented on #15927
@ecraig12345 @joschect: can you take a look at this feature request? I'm happy to create a PR for it but modalProps used to have a ref that later got removed, so I would like to make sure that readding this is the right way to go.

[2020-11-12 22:43] JustSlone opened #15929 "[RFC] Increasing focus and iteration speed in convergence - Lean the Towers v2.0"
_contributors: @khmakoto @xugao @miroslavstastny @jurokapsiar @dzearing @levithomason @paulgildea_

## Summary
Convergence is a challenging task we have ahead of us. This RFC intends to simplify the task by reducing the scope of convergence giving us focus on what matters.

## Background
We have been working for a bit on convergence and leaning the towers between libraries formerly known as Stardu

[2020-11-12 22:46] linrosales opened #15930 "Can't select dropdown option when using browser translation"
### Environment Information

- **Package version(s)**: 7.142.1
- **Browser and OS versions**: Chrome 86.0.4240.75

### Please provide a reproduction of the bug in a codepen:
I can't put this in codepen because it is a browser setting.

#### Actual behavior:

For Fluent UI Dropdown element, if you have the browser translator on, the options you select, don't show up as the title. To the user, it lo

[2020-11-13 00:08] izikl opened #15932 "Add CDN to download icons from government clouds"
#### Describe the feature that you would like added
Many services in Microsoft will need to be exposed in government clouds (Fairfax, USSec, USNat).
Today Icons used by Fluent UI are download from Akamai CDN (For example: https://spoprod-a.akamaihd.net/files/fabric/assets/icons/fabric-icons-1-4d521695.woff) which is not exposed from those clouds.

Instead of having every service in Microsoft that

[2020-11-13 01:21] behowell commented on #12540
Hi @PatoBeltran, it looks like this issue has been stale for a few months. It appears that it might be possible to fix the issue on your end, based on micahgodbolt and aneeshack4's comments. I'm going to close this issue, but if you feel there's still a product bug and have a new repro where the workaround doesn't work, feel free to re-open. Thanks!

[2020-11-13 01:21] #12540 closed

[2020-11-13 01:31] behowell commented on #14276
Hi @ravi16a87, since it's been a few months without any activity on this bug, I'm going to assume that you've found a workaround or otherwise resolved this issue. Feel free to re-open if it's not resolved, and you have repro steps that we can use to investigate the issue. Thanks.

[2020-11-13 01:31] #14276 closed

[2020-11-13 02:18] behowell commented on #14701
Hi @mizeljko, you should be able to set the `'data-automation-id'` property directly on each of the items. Take a look at the example on the CommandBar documentation page to see how to do it (click View Code on the first example; it's on line 33): https://developer.microsoft.com/en-us/fluentui#/controls/web/commandbar

 If that's not working for you, can you post a CodePen or CodeSandbox showing w

[2020-11-13 03:23] behowell commented on #14591
Hi @cchengt, it looks like this issue has been fixed in the next release of `@fluentui/react`, version 8. See this CodeSandbox: https://codesandbox.io/s/issue-14591-repro-in-v7-vs-v8-gyy2o

Given that this should be relatively easy to work around in the meantime, by just not using `"constructor"` as a key, I'm going to close this issue. If this is blocking you, please re-open. Thanks.

[2020-11-13 03:23] #14591 closed

[2020-11-13 09:19] bluego78 commented on #15924
Sorry i've tried to create the same environment on codepen but I can't.

I'm using:

- "@fluentui/react": "^7.150.0",
- "react": "^16.14.0"
- "react-dom": "^16.14.0"

`<DatePicker
                        id="MyField"
                        placeholder="Select a date..."
                        ariaLabel="Date"
                        label="Date"
                        onSelectDate={(date) =>

[2020-11-13 16:25] JustSlone commented on #15929
Edited open issues:
From:
- We need a story to migrate teams app developers from /react-northstar to /react

To:
- We need a story to migrate Teams 3rd party developers from /react-northstar to /react-*
  - For 3rd parties we probably need a suite package to make things simple

[2020-11-13 16:45] paulgildea commented on #15925
@shandysulen Thanks for filing this issue.

@smhigley FYI

@Raghurk FYI

[2020-11-13 16:49] paulgildea commented on #15927
@katiearriagam Thanks for filing this issue and offering to contribute a PR!

@JustSlone FYI

@behowell Once we come back with a solid approach, please coordinate with @katiearriagam on getting PR together.

[2020-11-13 16:58] paulgildea commented on #15930
@linrosales Thanks for filing an issue. Can you clarify the repo steps for this issue or provide a short video/image of the issue that you are specifically seeing? That would help us try to reproduce this issue. Thanks!

@behowell Not sure if you can make progress turning on the browser translation tool on the website - but I'm still not sure what title is supposed to update.

[2020-11-13 17:05] paulgildea commented on #15932
@izikl Thanks for filing this issue.

@JustSlone / @dzearing  FYI

Our icon approach is moving more to an SVG icons that are bundled to service and are depending less on font based icons. I'll mark this as a feature request for now and follow up.

Thanks!

[2020-11-13 17:25] Teddy1313 commented on #15492
Any ETA on fix? Thank you

[2020-11-13 17:38] linrosales commented on #15930
@paulgildea Thanks for your answer! I am attaching a video with the current behavior, let me know if this works for you.
[Home - Fluent UI - Google Chrome 2020-11-13 09-09-57.zip](https://github.com/microsoft/fluentui/files/5538402/Home.-.Fluent.UI.-.Google.Chrome.2020-11-13.09-09-57.zip)

[2020-11-13 18:48] joschect commented on #15927
@katiearriagam Could you provide a little more information as to your use case? Why do you need access to the offsetHeight? Are you looking to modify it or just to know where it is on the page?

[2020-11-13 18:56] shandysulen opened #15935 "Support option for x-axis and y-axis to have aria-hidden="true""
### Environment Information

- **Package version(s)**: @fluentui/react-charting v5.0.0-beta.0
- **Browser and OS versions**: Microsoft Edge v86.0.622.68, Windows 10 Enterprise 20H2
- **Assistive Technologies**: Narrator

### Describe the issue:

I am experiencing this issue specifically with the `VerticalStackedBarChart` component although I imagine it occurs for every component that derives from

[2020-11-13 19:54] shandysulen opened #15937 "Legend container aria-label not read out in Narrator's Scan Mode"
### Environment Information

- **Package version(s)**: @fluentui/react-charting v5.0.0-beta.0
- **Browser and OS versions**: Microsoft Edge v86.0.622.68, Windows 10 Enterprise 20H2
- **Assistive Technologies**: Narrator

### Describe the issue:

This bug has been tested with the `VerticalStackedBarChart` although I imagine it affects all components that derive from the `CartesianChart` common comp

[2020-11-13 20:14] shandysulen opened #15938 "First focused bar's callout metadata read multiple times"
### Environment Information

- **Package version(s)**: @fluentui/react-charting v5.0.0-beta.0
- **Browser and OS versions**: Microsoft Edge v86.0.622.68, Windows 10 Enterprise 20H2
- **Assistive Technologies**: Narrator

### Describe the issue:

I am experiencing this issue specifically with the `VerticalStackedBarChart` component although I imagine it occurs for every component that derives from

[2020-11-13 20:34] shandysulen commented on #15925
Hello all, I wanted to mention that I've been playing around in the repo for the last two days, and I have local changes that fix this issue. The solution entails adding `<title>` and `<desc>` as the first children under the top-level `<svg>` and linking them to the `<svg>` via `aria-labelledby`. This ensures that these pieces of text are always read out even, although in some cases, they may be r

[2020-11-13 20:38] katiearriagam commented on #15927
Sure. The use case is that we need to center dialogs vertically while the `topOffsetFixed` prop is set to `true`. To do this, we need to set the `top` property, which is set on the [Modal.styles.ts file](https://github.com/microsoft/fluentui/blob/cbc0b9a2f9b569eeabd7bba3812002edcca948e8/packages/react-internal/src/components/Modal/Modal.styles.ts):
[code]

We need to access the `offsetHeight` to g

[2020-11-13 20:54] flyingbee2012 commented on #15862
@JustSlone @dzearing It seems like the bot doesn't like my topic and keeps closing it...:-)

[2020-11-13 21:00] JustSlone commented on #15862
Yeah, normally we would answer this on stack overflow, but I think in this case given the question is almost answered we should just tackle it here instead of moving the conversation. It should stay open now.

[2020-11-13 21:15] TheInvoker opened #15939 "Is there a CDN link to the latest fabric icon set css file?"
#### Describe the feature that you would like added

A cdn to the latest fabric icon set css file.

#### What component or utility would this be added to

I am trying load the office fabric UI icons on my page through css, but I am noticing that some icons do not appear. For example if you go here https://codepen.io/joshmcrty/pen/GOBWeV and put in `AcceptMedium`  into the icon name and click "rend

[2020-11-13 21:29] TheInvoker commented on #15932
@paulgildea Do you know if there is any latest css reference to the latest fabric UI set? I have created a question here based on my scenario.

https://github.com/microsoft/fluentui/issues/15939
https://stackoverflow.com/questions/64828031/where-to-get-the-latest-office-fabric-ui-icon-set

But it seems this one https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabr

[2020-11-13 22:47] joschect commented on #15927
@katiearriagam I believe that you can achieve the same styling that you want without needing a ref, at least I think, by doing something like I do in [this codepen](https://codepen.io/slimemold/pen/GRqzWxq?editors=0010). If that's not accurate please let me know!

[2020-11-13 23:09] mark-wiemer opened #15940 "Website docs: No Feedback section for DetailsList page"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

1. Navigate to the [main DetailsList page](https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist)
1. Look for the "Submit GitHub Issue" button that's on every other pa

[2020-11-13 23:35] khmakoto commented on #14581
@aneeshack4 gentle ping here since @StfBauer replied to your question.

[2020-11-13 23:37] khmakoto commented on #14581
Related to #15355, so closing this one in favor of that one.

[2020-11-13 23:40] khmakoto commented on #14502
I think this really is by design since you are effectively styling the color of the icon and if you use different colors, like red for example, the lock is clearly visible. This seems to be an issue with color contrast on the user's part more than anything else.

[2020-11-13 23:41] khmakoto commented on #14524
Related to #15355, so closing this one in favor of that one.

[2020-11-13 23:41] #14524 closed

[2020-11-14 00:51] behowell commented on #15924
@bluego78 I tried pasting your example into a CodePen, and it seems to work correctly. The date is updated on selection:
https://codepen.io/behowell/pen/OJXdmao

I'm going to close this as Can't Repro for now. Please reopen if you can provide a CodePen that reproduces the problem you're seeing. The easiest way to create a CodePen is to start from an example from the documentation, and click Export

[2020-11-14 00:51] #15924 closed

[2020-11-14 02:29] behowell commented on #15930
This appears to be a bug/incompatibility between React and Chrome's translate feature. The dropdown's value is rendered inside a React fragment, like `<>{displayTxt}</>`. I'm guessing that the problem is that Chrome changed the text in the DOM, and React can't find the text to replace when the fragment's value changes.

Here's a sample CodeSandbox that doesn't use fluentui: https://2mfxy.csb.app/

[2020-11-14 07:42] rizkyramadhan commented on #3692
Tried using @fluentui/react on blitzjs 0.25 (nextjs v10.0.1)

the error is changed from `classname do not match` into

[code]

and now it works on vanilla blitzjs 0.25 (nextjs v10.0.1) install.

[2020-11-14 16:04] rizkyramadhan commented on #12488
Wow, those are MIT Licensed, how come @fluentui/react doesn't use that by default ?

[2020-11-14 16:41] GurliGebis commented on #12488
Is there a specific reason for two separate repositories containing icons?

[2020-11-14 17:00] #15821 closed

[2020-11-14 17:39] rizkyramadhan commented on #12488
I don't know, maybe different teams work on different project producing same sets of icon ?

[2020-11-14 23:00] #15871 closed

[2020-11-15 01:00] #14502 closed

[2020-11-15 07:14] vipinnair22 opened #15943 "TypeError: Cannot read property 'inCustomizerContext' of undefined"
I'm trying to upgrade my codebase to the latest version of this package. But I'm getting the error mentioned in the title. I tried upgrading the enzyme adapter to the latest package as well. But it's not going away.

[code]

It seems like it's unable to get this flag

`var inCustomizerContext = customizations.inCustomizerContext;` in `useCustomizationSettings.js`

Is this a bug with the package or

[2020-11-16 07:44] MichaelRoger opened #15944 "Nav: possibility to expand to selectedKey"
Hi,
is there a possiblity to automatically expand the nav to the selectedKey?
I am using a nested navigation, which would totally benefit from an automatic expand.

thanks

[2020-11-16 08:06] hjonasson opened #15945 "Set `imageShouldStartVisible` and `showInitialsUntilImageLoads` to true by default in Persona"
#### Describe the feature that you would like added

The `Persona` component has a lot of flickering in various components for us (see below). We have solved this by setting `imageShouldStartVisible` and `showInitialsUntilImageLoads` to true but these seem preferable as default behaviour.

![image](https://user-images.githubusercontent.com/7723013/99226625-5bbee600-27ea-11eb-953f-a147b5d9bc9e.png)

[2020-11-16 09:12] zemirco commented on #15729
Great issue! I've got the same problem. Luckily it's an easy fix. The button `type` isn't set and therefore defaults to `submit`.

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button

If you set the `type` to `button` it will work.

![Screenshot 2020-11-16 094836](https://user-images.githubusercontent.com/1132354/99233629-c9bbdb00-27f3-11eb-828e-44e2135a29aa.png)

[2020-11-16 11:03] jameelakowsar commented on #15818
Hi @cariceli,

Can you please add `tickPadding={5}` prop to the chart and check if this works?

Note: Here, `tickPadding` Default value is 10.
Based on graph we can customize the space between scale and tick values.

I think this will helpful, feel free to reach us out if you have any questions.
Thank you!

[2020-11-16 14:14] DaleyKD commented on #15821
@jurokapsiar : This is the information I needed.  I should've known a simple `delete` would've sufficed. I had hoped maybe setting it to `null` would work.  Derp.

Thank you.