[2019-08-30 23:01] matprzybyla commented on #10323
Hi @lorejoh12 . Thanks for feedback, really appreciate this. This change would be very welcome.

I'm a bit fresh with fabric repo so I won't submit PR for this.
Trying one with the second issue though.

[2019-08-30 23:11] jlukosky opened #10331 "Accessible name is required in the Nav examples: ariaLabel should be provided if nav is not the only one used on a page"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:

1. In the provided examples of the Nav control, ariaLabel should be used since there are multiple nav landmarks on the page. This helps screen readers know the context of the navigation. I realize these are only demonstrations but I think it should be adde

[2019-08-30 23:25] maxwellred commented on #10331
Hi @jlukosky thank you for such a thorough a11y issue! I'll start looking at Nav shortly.

[2019-08-30 23:28] dzearing commented on #10317
I think this is a non trivial scenario. Lots of edge cases.

[code]

1. Need to handle comma delimited values;
2. Need to handle translate specially (or expand to translateX and translateY separate values.)
3. Need to handle translateX specifically
4. Need to handle rotation (I think...)
5. Need a !noflip opt out to avoid

Missing any?

[2019-08-30 23:31] cliffkoh commented on #10317
OK tagging this as a feature request for the backlog and leaving this issue here as a record.

[2019-08-30 23:56] cliffkoh commented on #10322
ping @kenotron regarding the trouble you have with development workflow

[2019-08-31 00:00] #9190 closed

[2019-08-31 03:16] kenotron commented on #10322
if you're having issues with this, it is likely because you don't have a local upstream of the main repo. try this:

[code]

[2019-08-31 06:57] matprzybyla commented on #10322
Hi @kenotron
Tried doing so, already had upstream set before.
[code]

Still running `yarn change` outputs
[code]

Not sure what I'm doing wrong or missed sth in setup?

[2019-08-31 18:00] #10303 closed

[2019-09-02 00:47] Lijing29 commented on #10320
Do you test it in codepen? The example given on the official website can show the focus indicator. However, the examples in codepen can't.

[2019-09-02 04:38] carlyareeves opened #10332 "[Icon Tool] Keyword search needs improving"
### Describe the issue:

Attempting to search the available icon set using the Office UI Fabric Icons tool - finding that naming conventions of Friendly Name are inconsistent and not always representative of the icon (subjective). Needs much better support for keyword search of icons, not just relying on Friendly Name.

#### Actual behavior:

Icon results returned only if entered keyword is part o

[2019-09-02 09:53] JeanMarie1971 opened #10334 "Panel: make z-index configurable via a style property"
#### Describe the feature that you would like added

The Panel now by default uses an inline style of z-index:100000. This causes some other applications to have trouble cause they're dynamic content is hidden behind the panel.
It would be great if the panel had a property that allowed a developer to configure the z-index so we can control how panels are layered.
This would solve a big issue when

[2019-09-02 11:39] reshampal2010 commented on #10311
I have resolved this issue by explicitly calling click function and set the value of key in set state , then getting the **selectedKey**  from set state.

[2019-09-02 11:39] #10311 closed

[2019-09-03 10:24] sonimishra opened #10336 "[Keyboard Navigation - MyAccess - Filters] Name is not defined for 'Cancel' button control under 'Filter' blade."
**Repro steps:**
1. Open URL 'https://myaccess.microsoft.com/@M365x202152.onmicrosoft.com#/access-packages' and enter valid credentials.
2. Navigate to 'Access Package' list item and select it.​
3. 'Access Package' screen will open.​
4. Navigate to 'Active' tab items and select it.​
5. 'Active' packages screen will open and select any active package like 'test' from table.​
6. Navigate to 'Filter'

[2019-09-03 10:54] bhedayatian opened #10337 "how to show invalid Emils with a different font"
Hello, I am trying to customize the people picker behaviour to show invalid Emails with a different font or color. ( for example in red)
this is how I create persona object dynamically

const imageInitials='i',
const secondaryText='test@yahoo';
const primaryText='test@yahoo';
const state=ValidationState.invalid;
 const persona = { imageInitials, secondaryText, primaryText, state ,
        styles:

[2019-09-03 11:12] sonimishra opened #10338 "[Screen reader - MyAccess - Filter] Buttons must have discernible text (.ms-Button--icon) on filters screen.​"
**User Experience:**
User would find difficulty to identify the controls if name is not defined for that control as user won't understand the purpose of such control and also he/she would surely skip the functionality over that control.

**Repro steps:**
1. Open URL 'https://myaccess.microsoft.com/@M365x202152.onmicrosoft.com#/access-packages' and enter valid credentials.
2. Navigate to 'Request H

[2019-09-03 11:19] sonimishra opened #10339 "[Keyboard Navigation - MyAccess - Filters] Control type is not define for 'checkbox' under 'Filter' blade."
**User Experience:**
When standard controls from accessible technologies are not used and if the user interface elements are not used according to specification, Assistive Technologies (AT) will not be able to gather information about, activate(or set) and keep up to date on the status of user interface controls in the content.
If custom controls are created, however, or interface elements are pro

[2019-09-03 15:05] kharenzze opened #10340 "Feature: improve documentation of onDismiss method on BasePicker"
#### Describe the feature that you would like added

Improve documentation of onDismiss on BasePicker, or change method's signature

#### What component or utility would this be added to

BasePicker

#### Additional context/screenshots

Inside IBasePickerProps you can find this:
[code]

I found that if you want to avoid the selection triggered by this method, you need to modify the 'selectedItem'

[2019-09-03 16:25] #10269 closed

[2019-09-03 16:28] kenotron commented on #10255
@marywang-office - since you have indicated that you're willing to submit a PR to fix, feel free to do so. I would advise to get in touch with the code owner before doing much of this work:  @joschect

[2019-09-03 16:33] kenotron commented on #10222
@andrezo - it isn't the best answer to leave you having to come up with a component but it seems to be the best course of action so far (love to have contrib!). Would you mind closing this issue when you get a chance? Otherwise, the bot will close it when it is stale and no action would be required.

[2019-09-03 16:40] kenotron commented on #10254
The recent changes of the forceExit will address that issue that @KevinTCoughlin originally reported, but it is spitting an ugly red warning message. To get rid of that, I'd essentially have to write my own "CLI" or jest task function that wraps the node API call to jest. This is doable but I hadn't done that yet. I'll likely address it on another issue tho. I'm closing this one to clean up the qu

[2019-09-03 16:40] #10254 closed

[2019-09-03 16:42] kenotron commented on #10240
This needs spec'ing before proceeding, I'm removing myself and Max off of the assignee in this case leaving the backlog review label.

[2019-09-03 17:36] KevinTCoughlin commented on #10332
@Jahnp, do you have any plans for expanding search grammar for the icon tool as suggested above?

[2019-09-03 17:37] micahgodbolt commented on #10321
This is still an experimental control, so we don't want to file issues for every single work item left on it. If you'd like to contribute and improve the control we'd love to see your contribution, but I'm going to close this issue to reduce issue noise.

[2019-09-03 17:37] #10321 closed

[2019-09-03 17:41] KevinTCoughlin commented on #10338
It looks like the validation error flagged here is that the "Close" button in a Panel component does not have discernible text since it is an icon character. I will need to dig in and see what the appropriate fix is if any.

[2019-09-03 17:42] KevinTCoughlin commented on #10336
This potential issue looks like a duplicate of #10338 in that whatever solves that should also solve this.

[2019-09-03 17:44] KevinTCoughlin commented on #10339
Similar issue to #10338 in that the control houses a font character as its text which the accessibility tool flags as invalid. I'll need to dig in to see what the appropriate fix is either in Fabric or user override.

[2019-09-03 17:45] KevinTCoughlin commented on #10334
The above seems like a reasonable request @JeanMarie1971. Let me see if we can allow for that style property to be overridden without regressing existing scenarios. My hope is that we can!

[2019-09-03 17:46] KevinTCoughlin commented on #10340
I'd like to get @joschect's opinion on the above API requests once he returns from OOF just in case there is an alternative way to achieve the desired outcome.

[2019-09-03 17:48] KevinTCoughlin commented on #10337
@bhedayatian, can you provide a Codepen repro that I may modify to unblock you per our issue template?

[2019-09-03 18:05] kenotron commented on #10297
I think this is related to this issue: https://github.com/microsoft/beachball/issues/107 where change checks started failing or something during the release job somewhere. Once we tackle that one in `beachball`, I think we can re-enable the set-version task

[2019-09-03 19:07] philipzloh commented on #9989
@phkuo Uh, what?

Swtiches are Switches and Checkboxes are Checkboxes
- https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Switch_role
- https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/checkbox_role

It's not just a matter of aesthetics; the way a control looks provides the affordance to the user for how to interact with the control. Anytime we mess with wh

[2019-09-03 19:08] LiangMingChen opened #10341 "Performance: DetailsColumn.Base.tsx is violate lambda in jsx"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

https://github.com/OfficeDev/office-ui-fabric-react/blob/da5ebdc18277c19da090a9e5647acaa4efd58864/packages/office-ui-fabric-react/src/components/DetailsList/DetailsColumn.base.tsx#L112

[2019-09-03 19:16] phkuo commented on #9989
@philipzloh Sorry, I misunderstood your question. I took it to mean "if they want a binary input, they should always use a checkbox" so I was arguing against that. So I agree we should have both toggles and checkboxes.

[2019-09-03 19:23] bhedayatian commented on #10337
@KevinTCoughlin
https://codesandbox.io/s/basic-floating-picker-0in8c

sorry, I wasn't extract all my code properly, the project doesn't run. if you look at the customPeoplePicker and where I created persona object you get the idea what I am trying to do. I just want to  change the font to red. thanks for your help. I have been stuck with this a couple of days :(

[2019-09-03 20:48] KevinTCoughlin commented on #10341
Thanks @LiangMingChen, I'll take a look at a proper fix. Looks like we're using `bind` to augment function arguments here. Should be patch-able.

[2019-09-03 22:19] phkuo commented on #10313
This is not a Fabric issue but an SPFX issue, you should ask on their forums instead.
In terms of common mistakes I see:
- Do not use getTheme(). That only returns the theme at the current time and doesn't update when the theme updates.
- Within components themselves, you should follow the Fabric patterns of "inheriting" the theme from props, so that you automatically get subscribed to theme updat

[2019-09-03 22:19] #10313 closed

[2019-09-03 22:22] phkuo commented on #10313
Additionally I recently introduced a bug in v6.50.4 of @uifabric/styling that prevented theming from working, if you're using that version you'll want to update to at least v6.50.5.

[2019-09-03 22:26] phkuo commented on #10313
The buggy version of @uifabric/styling in v7 (master) was v7.4.1, fixed in v7.5.1.

[2019-09-03 22:43] #10297 closed

[2019-09-04 00:00] #10290 closed

[2019-09-04 00:23] maxwellred commented on #10291
@bhushan2511 Does the above explanation from Thomas help move you in the right direction?

[2019-09-04 00:35] KevinTCoughlin commented on #10341
@LiangMingChen this PR should address the issue you reported: https://github.com/OfficeDev/office-ui-fabric-react/pull/10346. Luckily the methods in question were marked `private` and thus could be modified :).

[2019-09-04 02:24] #10341 closed

[2019-09-04 03:27] flyingbee2012 opened #10348 "The Announced component is not working"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

Browser: Chrome, Version 76.0.3809.132

Edition: Windows 10 Home (Windows 10 Enterprise with the same Version and OS build not working as well)
Version: 1903
OS build: 18362.295

### Describe the issue:
The sample code on your official website (https://developer.micros

[2019-09-04 03:28] LukeOwlclaw opened #10349 "office-ui-fabric-react.umd.js requires "ReactDOM""
### Environment Information

- **Package version(s)**: office-ui-fabric-react@7.29.0

### Reproduce:

- `npm i office-ui-fabric-react`
- Open `node_modules\office-ui-fabric-react\dist\office-ui-fabric-react.umd.js` and look for `require("ReactDOM")` and `define(["React","ReactDOM"]`.

#### Actual behavior:

ReactDOM does not exist (anymore).

#### Expected behavior:

It probably should require [`r

[2019-09-04 04:18] kenotron commented on #10297
example fix to the issue: https://unpkg.com/browse/office-ui-fabric-react@7.29.2/lib/version.js

6.0 branch fix is forthcoming tonight.

[2019-09-04 04:40] JeanMarie1971 commented on #10334
OK. Thanks for investigating @KevinTCoughlin

[2019-09-04 05:43] #10318 closed

[2019-09-04 05:44] #10289 closed

[2019-09-04 05:58] LiangMingChen opened #10351 "Performance: ShimmerDetailList.base.tsx always force DetailList to re-render due to newlistProps"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

https://github.com/OfficeDev/office-ui-fabric-react/blob/9815afa49eee84bf4973716d20b37b97f6fc9e14/packages/office-ui-fabric-react/src/components/DetailsList/ShimmeredDetailsList.base.tsx

[2019-09-04 06:05] KevinTCoughlin commented on #10351
Thanks @LiangMingChen, I'll take a look in the morning at applying your recommended fix. At a glance it seems correct and patch-able. cc: @Vitalius1

[2019-09-04 06:06] KevinTCoughlin commented on #10348
@flyingbee2012, what browser did you report with version `76.0.3809.132`? cc: @natalieethell

[2019-09-04 06:08] KevinTCoughlin commented on #10349
Thanks for reporting @LukeOwlclaw. Will take a look ASAP.

[2019-09-04 07:18] #10222 closed

[2019-09-04 08:09] qqli1209 opened #10352 "Calendar: Name is not defined for the selected year button"
### Environment Information

- **Package version(s)**: all
- **Browser and OS versions**: all

### Describe the issue:

Name is not defined for the ‘2019’ button given in calendar. Screen reader announces it as ‘2019’ button which doesn’t clear the purpose of the control.

### Please provide a reproduction of the issue in a codepen:
Go to Calendar demo page, you can see the issue.
https://develope

[2019-09-04 08:37] chenxinyanc opened #10353 "data-* attribute is not applied to rendered CommandBar"
### Environment Information

- **Package version(s)**: 7.29.2
- **Browser and OS versions**: Edge 78.0.249.1 dev

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/xinychen/pen/eYOeBbP

#### Actual behavior:
Rendered button has `data-test`, but CommandBar does not have it.
[code]

#### Expected behavior:
I should be able to see `data-*` applied to any of the rendered `<

[2019-09-04 13:48] 1011RKP opened #10354 "Need Documentation on using “componentRef” IDropDown using Type Script."
I am trying to use Office UI Fabric Dropdown and i need help on using “componentRef” with Typescript and react. there is not documentation on these scenarios.

[2019-09-04 15:34] KevinTCoughlin commented on #10354
@1011RKP, I'd encourage you to take a look at existing examples in the repo which utilize `componentRef` such as https://github.com/OfficeDev/office-ui-fabric-react/blob/5bfcd8bea762210ce53b198961ccca609f917c92/packages/experiments/src/components/Toggle/examples/Toggle.Example.tsx#L46

Many of these examples use the result similar to `ref` to programmatically set focus. However, the type returned

[2019-09-04 15:45] KevinTCoughlin commented on #10353
I can repro the report above with `CommandBar`. I'll need to debug further, but my guess is that only Button variants call `getNativeProps<T>` whereas `CommandBar` does not.

@chenxinyanc, would you expect the data attribute as you've supplied it be rendered on the root `FocusZone` element within the `CommandBar`?

Out of curiosity, what is the scenario which requires data-* attributes be rendered

[2019-09-04 15:46] KevinTCoughlin commented on #10352
@lorejoh12 are you open to me implementing the above a11y request?

[2019-09-04 15:51] bhedayatian commented on #10337
@KevinTCoughlin
I was also wondering why when I create a persona with ValidationState.invalid it doesn't add any special style to the persona to make it obvious to  user that its invalid email?

[2019-09-04 16:48] flyingbee2012 commented on #10348
It is Chrome, I updated the issue as well.

[2019-09-04 17:00] Jahnp commented on #10332
Thanks for the question and suggestion, @carlyareeves . We know the search behavior isn't ideal today—searching purely by friendly name and unicode is super limited, especially when the names don't match expectations!

I have some bad news and good news. The bad news is that I don't plan on adding this feature in the short term. The Fabric icons tool takes a dependency on a Microsoft-internal team

[2019-09-04 17:04] micahgodbolt opened #10356 "Tooltip hoverable area makes clickable content inaccessible"
To keep tooltip from closing we adding a pseudo element that keeps the mouse 'in' the element the whole time. But that pseudo was above the content, which blocked all mouse events in the content (links, buttons etc), which was the whole reason to have that pseudo element in the first place.

[2019-09-04 17:12] natalieethell commented on #10348
Hey @flyingbee2012 - unfortunately, Narrator + Chrome is not a combination that works very reliably. I would recommend sticking to NVDA or JAWS to get read-out on Chrome and Windows 10 Narrator on Edge.

Regarding the new Chromium-based Edge, there should be a special UIA (UI Automation) implementation. The Narrator/Edge team did some extra work there to ensure that Narrator works properly with th

[2019-09-04 19:00] bhedayatian commented on #10337
@micahgodbolt @KevinTCoughlin any tips?

[2019-09-04 19:18] lorejoh12 commented on #10323
After looking at this more carefully, while it would be relatively straightforward to add a custom "onRenderCell" callback, there's a significant amount of logic that the consumer needs to have in order for that to work. Right now, the same place we apply the css that you want to be able to customize, is also where we apply onMouse* and onClick callbacks, and we'd require the consumer to make it a

[2019-09-04 19:24] davallen commented on #10021
Can we get more understanding of why this is only getting fixed in v7 and not v6? How would it disrupt others as it is internal to the button rendering? We are unable to upgrade to v7 at this time as  we are coupled to other Microsoft products that remain on v6 (and I assume they may not be accessible when leveraging the button component).

[2019-09-04 19:43] KevinTCoughlin commented on #10337
The reason the merge styles approach you have in the original issue report does not work for you is because merge styles is supported in `office-ui-fabric-react >= 6.0.0` versions.

I need to spend some time to see if this is at all possible in the most recent version. I am less familiar with the "Picker" code than @joschect.

[2019-09-04 19:50] Arknev commented on #10313
For anyone else who finds this, the best answer I found to get the theme in SPFx is here: https://docs.microsoft.com/en-us/sharepoint/dev/spfx/web-parts/guidance/supporting-section-backgrounds

Which uses the ThemeProvider service.

[2019-09-04 20:05] micahgodbolt commented on #10021
I think backporting this would be fine. I think the original goal was to keep it isolated as to have the least amount of disruption. If we find that this change didn't cause many issues to users, I think porting it to 6 shouldn't be too difficult.

[2019-09-04 20:24] davallen commented on #10021
Micah - Thanks for the flexibility in getting this backported. As I already know my leadership will ask when we can expect this task to happen. 😊 Do you have an approximate timeframe?

[2019-09-04 21:09] shruthisimha commented on #9286
Hi, I have hit the same issue of label not hidden when the dropdown is hidden. Wanted to check if we have an ETA for the bug.

[2019-09-04 21:38] bhedayatian commented on #10337
@KevinTCoughlin in the example that works https://codepen.io/zhangcathy/pen/OKXgEX
if you change the office ui version to 5.x.x it still works.. I am not sure why in my project styles don't work. I am exactly following the code from https://codepen.io/zhangcathy/pen/OKXgEX

[2019-09-04 22:00] #10256 closed

[2019-09-04 22:41] alinsirbu opened #10362 "Choice column with "Checkboxes (allow multiple selections)" is unable to show entire text"
### Environment Information

- **Package version(s)**:
    "office-ui-fabric-core": "9.6.1-fluent2",
    "office-ui-fabric-react": "6.201.1"

- **Browser and OS versions**: Any version

### Please provide a reproduction of the bug in a codepen:

https://developer.microsoft.com/en-us/fabric#/controls/web/dropdown
Change one of the options to a long text, and the display only shows part of the text.

[2019-09-04 22:46] KevinTCoughlin commented on #10362
@alinsirbu, can you kindly re-create this issue using our issue template so that it is more actionable?

[2019-09-04 22:59] hustonapps opened #10363 "Give option to remove font dependency on https://static2.sharepointonline.com/files/fabric/assets/"
#### Describe the feature that you would like added
As done with icons in a previous bug report (https://github.com/OfficeDev/office-ui-fabric-react/issues/2784) would it be possible to allow for the option to not depend on the sharepoint CDN for fonts, especially when not using any of those fonts?

#### What component or utility would this be added to
@uifabric/fonts or @uifabric/styling perhaps?

[2019-09-04 23:03] KevinTCoughlin commented on #10362
Awaiting package version(s) and browser version(s) impacted.

[2019-09-04 23:16] KevinTCoughlin commented on #10363
@hustonapps, does the following guidance in our wiki of using a custom CDN url when calling `initializeIcons` work for you?

https://github.com/OfficeDev/office-ui-fabric-react/wiki/Using-icons#alternative-cdn-options

[2019-09-04 23:51] hustonapps commented on #10363
@KevinTCoughlin That works great for the icons and removed the sharepointonline reference but instead now points to spoprod-a.akamaihd.net and still references some fabric assets

![image](https://user-images.githubusercontent.com/1869516/64301483-7e921100-cf3c-11e9-9dfe-65268d56c12c.png)

![image](https://user-images.githubusercontent.com/1869516/64301493-8c479680-cf3c-11e9-9b1d-a0c01850e26b.png)

[2019-09-05 00:00] #10265 closed

[2019-09-05 01:06] #10356 closed

[2019-09-05 05:13] Accessibility56 opened #10365 "A11y_Dynamics for Microsoft_My Labor Entries_Keyboard: Focus loss is observed "New Time Entry" button."
[Check out Accessibility Insights!](https://microsoft.sharepoint.com/teams/msenable/Pages/accessibility-tools.aspx) - Identify accessibility bugs before check-in and make bug fixing faster and easier

**Environment Details:**
https://cs-labor-test.crm.dynamics.com/main.aspx
Server version: 9.1.0000.6228
Client version: 1.3.1948-190626-193951

**Browser Details: ​**
OS: Windows (Version 1903, Build

[2019-09-05 05:21] Accessibility56 opened #10366 "A11y_Dynamics for Microsoft_My Labor Entries_Keyboard: Unable to navigate to table headers using keyboard."
[Check out Accessibility Insights! ](https://microsoft.sharepoint.com/teams/msenable/Pages/accessibility-tools.aspx)- Identify accessibility bugs before check-in and make bug fixing faster and easier

**Environment Details:**
https://cs-labor-test.crm.dynamics.com/main.aspx
Server version: 9.1.0000.6228
Client version: 1.3.1948-190626-193951

**Browser Details: ​**
OS: Windows (Version 1903, Build

[2019-09-05 05:35] Accessibility56 commented on #10366
Copied from https://microsoft.visualstudio.com/OSGS/_workitems/edit/23027275

[2019-09-05 05:36] Accessibility56 commented on #10365
Copied from https://microsoft.visualstudio.com/OSGS/_workitems/edit/23027348

[2019-09-05 07:57] matprzybyla commented on #10323
I think that adding custom class instead template right now would be enough. Still allows to change day view to that can grab user attention. Like the idea!

[2019-09-05 13:05] chenxinyanc commented on #10353
I think so. Actually it can be on any layer of the commandbar container element. (I know there are multiple `<div>`s surrounding the commandbar buttons.)

We need this attribute for identifying an element from the root of DOM tree. This includes
1. restricting the scope (with `div[data-*=xxx]`) when selecting a commandbar button (with `button[name=xxx]`) in the DOM tree during UI testing. Usually

[2019-09-05 14:07] flavomulti opened #10367 "@uifabric.utilities.styled.tsx: _resolve is not exported but should be"
In addition to the description for using styles, stylesets, etc. in @uifabric/merge-styles, there are various ways to allow a component author to create their components and the associated style. classNamesFunction and a few other conventions help make this easier. However, in order to resolve both your own `getStyles` and a component prop `styles:  IStyleFunctionOrObject<StyleProps, Styles>` more

[2019-09-05 18:39] smhigley commented on #10268
I took a quick look at this, and I think it may root cause in DetailsList putting focus on `<tr>` elements instead of cells. This isn't technically allowed (https://www.w3.org/TR/wai-aria-1.1/#grid), and I verified that Narrator + Edge reads the row index correctly when using the usual scan mode table nav shortcuts.

[2019-09-05 19:06] brokenthorn opened #10369 "Change headerButtonProps type signature to allow setting style"
#### Describe the feature that you would like added

I would like `PivotItem`'s `headerButtonProps` signature to add an alternative type `{[key: string]: number | string}`, effectively becoming:

[code]
thus allowing the styling of the header button, for example to display a `disabled` header:

[code]

#### What component or utility would this be added to

`PivotItem`

#### Have you discussed this

[2019-09-05 19:21] KevinTCoughlin commented on #10367
If I'm understanding the ask here properly, its that the `_resolve` function be hoisted to our public API. I'm less familiar with the inner-workings here and will need to dive in to see what problems this solves using the above as a starter.. @dzearing @kenotron @cliffkoh may have an opinion sooner than me.

[2019-09-05 19:22] KevinTCoughlin commented on #10365
@Accessibility56 what version of the `office-ui-fabric-react` library is in use on the page showcasing the above behavior?

[2019-09-05 19:23] KevinTCoughlin commented on #10366
@Accessibility56 what version of the office-ui-fabric-react library is in use on the page showcasing the above behavior?

[2019-09-05 19:25] KevinTCoughlin commented on #10369
If `headerButtonProps`'s extended `React.HTMLAttributes` then we'd get this for "free". I'll take a look to see how possible it is to extend the type.

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/25731aaec086c61117b4bd66b38cf034453db013/types/react/index.d.ts#L1628

[2019-09-05 19:50] brokenthorn commented on #10369
Sorry, I'm new to this library. I think we need `IStyle` here, not my initial suggestion of `{ [cssKey: string]: string | number }`. Am I right?

[2019-09-05 20:00] KevinTCoughlin commented on #10369
If you are using our library's CSS-in-JS approach (which it looks like based on the example in https://github.com/OfficeDev/office-ui-fabric-react/issues/10369#issuecomment-528551776) then the type will need to be `IStyle`.

In the original example with `style` you are using React's DOM `style` type which emulates in-line styles and has a different type.

Thanks, the above was helpful. We'll see i

[2019-09-05 21:16] kenotron commented on #10237
Trying for what @Jahnp said for option 2 - for now using an UGGGGGGLY hack to override styles until we can move to not needing the leaky header styles

[2019-09-05 23:43] maxwellred commented on #10288
@emkessle Sorry for the wait! I've spoken with the expert and they say that it's alright that the Checkbox has that aria-description capability as long as it also conveys the state of the checkbox (true/false which it does). They also said that the description shouldn't change per state so it should stay something general like "Toggle checkbox for all items". If this helps resolve the issue it'd b

[2019-09-05 23:46] emkessle commented on #10288
That is good to know! I will use a general message then. Thank you for your help

[2019-09-05 23:46] #10288 closed

[2019-09-06 00:11] ChristopherHaws opened #10373 "SpinButton renders empty div where the label would go when label is empty or undefined"
### Environment Information

- **Package version(s)**: 7.28.2
- **Browser and OS versions**: All

#### Actual behavior:
When you render a basic `SpinButton` without a label, the empty div for the label still gets rendered, and the div has margin causing the input to be offset from other inputs.

#### Expected behavior:

If the `label` property is empty or undefined, the div for the label should no

[2019-09-06 00:13] maxwellred commented on #10267
Hi @zenaidura I was wondering if you could try passing `onShouldVirtualize={ () => false }` to `<DetailsList>`since its set to true as a default causing the chunked loading. You can see it in action in this [codepen](https://codepen.io/CodeMax/pen/eYOyRMo).

[2019-09-06 02:55] Lijing29 commented on #9885
@ecraig12345 @cliffkoh Do you have any ideas about that the fix would make the VoiceOver to speak "Apple, text"? Thanks!!

[2019-09-06 04:24] #10237 closed

[2019-09-06 08:58] cliffkoh commented on #9885
Hi @Lijing29, please take a look at https://github.com/OfficeDev/office-ui-fabric-react/wiki/Accessibility-Troubleshooting.

[2019-09-06 09:03] #10320 closed

[2019-09-06 09:57] myokha opened #10375 "Pickers should have `itemType`s for options lists"
#### Describe the feature that you would like added

I can add an `itemType` property to the `Dropdown` options which helps to categorize the list of options there.
It would be super useful if I could do the same thing with suggestions in a `Picker`.

#### What component or utility would this be added to

Pickers

#### Have you discussed this feature with our team, and if so, who

No.

#### Additi

[2019-09-06 12:27] nishaant opened #10376 "autoFill.tsx component is having autoComplete="off" hardcoded and because of this the chrome dropdown is shown."
if we have a form and have a autofill input type component in it.
there is a bug in chrome which opens up the chrome autofill form.(https://stackoverflow.com/questions/25823448/ng-form-and-autocomplete-off/39689037#39689037)

Since in office-fabric the autofill.tsx is rendering a input field with autoComplete="off", and chrome is not respecting it for now.
as a workaround we can change the autocom

[2019-09-06 16:50] SudharsanSukumar opened #10378 "String Ref in CalendarMonth.tsx"
### Environment Information

- **Package version(s)**: 6.190.1
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

It seems that yarn linking causes the string refs to break with "Invariant Violation" errors from react.
`Component DateEditor caught error Invariant Violation: Element ref was specified as a string (navigatedMonth) b

[2019-09-06 18:16] dli68 opened #10379 "ChoiceGroup should have some kind of "disabled" class name added to it when configuring props disabled to be true to the component"
Are you willing to submit a PR to fix? (Yes, No)
- No

Requested priority: (Blocking, High, Normal, Low)
- Normal

Products/sites affected: (if applicable)
- Microsoft Workplace Analytics

[2019-09-06 18:33] KevinTCoughlin commented on #10379
@dli68, are you using the `.disabled` selector for styling or JavaScript look-up? It seems like a reasonable request even though the selector may be unused by Fabric itself.

Let me see how easily a developer can add this behavior before having to modify Fabric code and get back to you.

[2019-09-06 18:34] KevinTCoughlin commented on #10378
@SudharsanSukumar, how do I repro this error? Is it at build time or run-time? Can you provide a code snippet or branch with instructions so I can make sure my fix resolves it.

Thanks!

[2019-09-06 18:35] KevinTCoughlin commented on #10376
Seems like a bug we should patch or at least make configurable! Let me take a look and get back to you.

[2019-09-06 18:36] KevinTCoughlin commented on #10375
Interesting, the request seems more than reasonable. However, it might require someone more familiar with the Picker code to implement well cc: @joschect for his expertise.

[2019-09-06 18:38] SudharsanSukumar commented on #10378
It's a runtime error. Unfortunately it requires a yarn link but here's a description:

1. Have a child repo that renders the Calendar with isMonthPickerVisible set to true.
2. In parent repo, use yarn link <child repo name>
3. Build the parent repo and test rendering the child component which renders the Calendar with isMonthPickerVisible set to true.

[2019-09-06 18:52] jamesedjac commented on #6326
That makes sense. I imagine the issue is that dropdown is not a formal role in ARIA so narrator is not honoring the custom ESC command. I will reach out to the Narrator team on this

[2019-09-06 19:47] maxwellred commented on #10261
@ramanova I have confirmed that disabled colors is not and issue we are addressing and I believe the discernible text issue is a Keros issue. When I inspect the split button role attributes in code and in dev tools it doesn't show the issue that Keros calls out `aria-roledescription="split\ button"` so it might be worth opening an issue on their end. Lastly, the duplicate IDs I'm currently working

[2019-09-06 21:25] ltrazak opened #10382 "Stack alignment 'evenly-spaced' does not work in Edge/IE11"
### Environment Information

- **Package version(s)**: latest
- **Browser and OS versions**: Edge/IE11

### Describe the issue:

For stack alignment; evenly-spaced does not work in Edge or IE11. You can reproduce this on the Fabric documentation site: https://developer.microsoft.com/en-us/fabric#/controls/web/stack

#### Actual behavior:

Items are are either top-aligned or left-aligned based on s

[2019-09-06 21:26] ltrazak commented on #10382
Apparently this is a known issue with Edge: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/15947692/

[2019-09-06 21:39] KevinTCoughlin commented on #10382
Hey @ltrazak, thanks for reporting this and for following up with the known Edge bug! With Edge Chromium progress being made I'm not sure this will be patched in old Edge. So we may have to close this as not actionable from the library side.

[2019-09-06 23:12] dli68 commented on #10379
@KevinTCoughlin we are currently planning to use it for styling, and thanks for the quick response.

[2019-09-07 02:20] bhedayatian opened #10385 "how to trigger inputchange event manually for NormalPeoplePicker?"
Hello

I would like to manually trigger inputChange manually in my function

      myFunction = (event) =>
          const  peoplePickerobj = get the people picker from its id
          const inputChangeEvent = new Event('inputchange', { bubbles: true, cancelable: false });
          **peoplePickerobj.dispatchEvent(inputChangeEvent);**
        }

    _onInputChange = (input) => {
       console.lo

[2019-09-07 05:00] #9231 closed

[2019-09-07 11:42] aappddeevv commented on #10367
The key reason for this is when you have your own "default" getStyles but need to merge those results with those from a component's parameter getStyles. _resolve is a pre-existing function that helps.

[2019-09-07 13:46] dzearing commented on #10367
This sounds wrong, but am on my phone and beed to see the code to get more clarity on the scenario. Will look once im back to my desk. Hope i can provide an alternative because exporting more api surface here shouldnt include exporting private members

[2019-09-07 22:34] 1011RKP commented on #10354
@KevinTCoughlin Thanks this will help a lot ...

[2019-09-07 23:51] LiangMingChen opened #10386 "DetailListView layoutMode (default) with sort cause confusing user experience"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

**Code Pen**
https://codepen.io/liangmingchen/pen/dybddwa

#### Actual behavior:

https://codepen.io/liangmingchen/pen/dybddwa

1. Move one of the column off the screen
2 Click on sort on various state column

[2019-09-08 13:57] chotkos commented on #9300
Hi, could you please share your package.json? Are you using it like this?:
[code]

[2019-09-08 15:03] aappddeevv commented on #10367
That sounds great. Thanks for looking into it.

[2019-09-08 19:17] LiangMingChen commented on #10386
I try it on codepen, it seems that offui fabric expect us to change the sort order in place without give a new set of Columns

[2019-09-08 19:17] LiangMingChen commented on #10386
Sorry mean to insert the repro in codepen.io

[2019-09-08 19:20] LiangMingChen commented on #10386
Hmm, I can't repro in code pen. let me take a deeper look on the issue.

[2019-09-08 21:07] LiangMingChen commented on #10386
Change description and provide the code pen on justification happen on the sort expreience.
https://codepen.io/liangmingchen/pen/dybddwa

[2019-09-08 21:25] flyingbee2012 commented on #10348
@natalieethell I used Edge and it has been verified that it is working now. Moreover, I am wondering if the Announced component only works when there is a change? I noticed in the example code of the “Quick action” that the announced is set to undefined after 2000 ms in the componentDidUpdate, and if I removed this, the Narrator won't read. In the "Search Results" example, if I modify the method _

[2019-09-09 01:32] Lijing29 commented on #9885
Hey, @cliffkoh! Thanks for sharing the document. For the part "Supported Configurations: Microsoft Edge & Narrator", does it mean that we would only support Narrator + Edge?
As this bug is about VoiceOver + Safari, we would not like to fix it. Is it right?

[2019-09-09 08:13] OverkillTV commented on #9300
Hi @chotkos,

[code]

[2019-09-09 08:16] nappy opened #10387 "CommonJS Nav requires ES6 Utilities"
If I try to use "Nav" from "lib-commonjs" using 7.31.1 in an commonjs (node) environment this happens:

[code]

Reason being this absolute import of the non-commonjs version in Nav.base.js:

`var Utilities_2 = require("office-ui-fabric-react/lib/Utilities");`

The latest non affected version is 7.28.3

[2019-09-09 08:27] shpraka commented on #9873
I am facing one similar issue where on focus of regular items, tooltip is visible but when some elements go inside "More options" on page resize(250%-300%), the tooltips are not visible. Does this issue also track the similar behavior or should I file another issue for that?

[2019-09-09 10:40] radityoardi opened #10389 "Is there any simpler method to use this component in normal website?"
npm init uifabric --> takes a lot of space & time to download
I just wanted to use 1 component like persona in my website. Can I just use 1 simple script, and 1 js reference in my web page?

[2019-09-09 11:45] AndrewCarterBreakwaterIT opened #10390 "Multiple DetailList Components"
I'd like to know whether it is possible to have multiple DetailList components within the same webpart.

I am looking to provide a Stepper like experience with a DetailList at each stage to display content for the user to select. I have managed to get this to work with MatierialUI stepper, but I cannot seem to get the selection to work for each List.

I have multiple Selection objects and I pass t

[2019-09-09 15:00] nappy commented on #10387
@inateeg @Vitalius1 Please look into this.

[2019-09-09 17:04] bhedayatian commented on #10385
Hello. any update on this please?

[2019-09-09 17:16] rulyu opened #10391 "[A11y] Dialog under blocking mode - screen reader cannot read the title or subtitle of the dialog"
### Environment Information

- **Package version(s)**: 7.15.0
- **Browser and OS versions**: chrome with NVDA screen reader

### Describe the issue:

When the `isBlocking: true` is set for `modalProps`, screen reader does not read the title and the subtitle of the screen.
#### Actual behavior:

When the `isBlocking: true` is set for `modalProps`, screen reader does not read the title and the subti

[2019-09-09 17:28] KevinTCoughlin commented on #10354
Closing the above question as "answered".

[2019-09-09 17:28] #10354 closed

[2019-09-09 17:50] KevinTCoughlin commented on #10378
@SudharsanSukumar, I've raised a PR that once approved and merged we can cherry-pick into `6.x` release. If you're able to try the changes locally to see if the run-time error is resolved, please do that and report back.

Thanks!

[2019-09-09 17:51] natalieethell commented on #10348
@flyingbee2012 Great! Yes, Narrator will only read out the same `aria-live` region again if the text has changed. However, I can see the appeal of not having to reset the Announced element on your own. Let me chat with the team about this and I'll get back to you!

[2019-09-09 17:52] KevinTCoughlin commented on #10382
Closing this as it is a browser issue that will be addressed by Edge adopting Chromium engine.

[2019-09-09 17:52] #10382 closed

[2019-09-09 18:07] joschect commented on #10375
@KevinTCoughlin and @dzearing This can be done already by extending the base picker. However it makes sense that more people would want to use it. I won't add it to the basepickers capabilities but I'll extend it again and have a new composite component that allows consumers to have a menu like that.

[2019-09-09 18:12] KevinTCoughlin commented on #10376
An isolated approach to expose `autoComplete` to be overridden requires the following diff:

[code]

[2019-09-09 18:33] KevinTCoughlin commented on #10334
@JeanMarie1971, it turns out that this can be done with the existing code, though it took me a bit to figure out. See the below diff for the changes required:

[code]

Applying the above diff results in the following DOM output:

![image](https://user-images.githubusercontent.com/706967/64556938-4ea88c00-d2f5-11e9-919c-1fcb7888b85b.png)

Note that the `z-index` is set on `Layer` with this LoC:

ht

[2019-09-09 18:37] joschect commented on #10376
@nishaant Per the stack overflow, it looks like the newer versions of chrome respect autocomplete=off. I'm guessing that this was a browser bug. Does this still repro?

[2019-09-09 18:41] cliffkoh commented on #9885
Hi @Lijing29, I think it is more accurate to say that we're unable to provide support for it and would recommend opening a bug with the appropriate screen reader vendor and/or browser vendor (our focus is on standards compliance here...).

[2019-09-09 18:43] khmakoto commented on #9873
@shpraka I think that should be a separate issue, it would be amazing if you could file another issue for that :)

[2019-09-09 18:51] natalieethell commented on #10385
Hi @bhedayatian how are you setting the id on your peoplepicker? And how are getting the id from your peoplepicker?

Are you by chance using jquery and prototype on the same page? I see that [some folks](https://stackoverflow.com/questions/980697/element-dispatchevent-is-not-a-function-js-error-caught-in-firebug-of-ff3-0) with this error discovered that this conflict was causing their issue.

[2019-09-09 18:57] natalieethell commented on #10386
@LiangMingChen Ah interesting, thanks for reporting this! This behavior definitely looks like a bug to me. We'll take a closer look.

[2019-09-09 18:57] bhedayatian commented on #10385
@natalieethell not I am using react not jquery.  I am using
<NormalPeoplePicker
componentRef={this._resolveRef('_to_picker')}
..> and can access it like  this[`_to_picker`].

[2019-09-09 19:15] betrue-final-final commented on #10286
I agree, I think this should be a heading. I would make it an H1, but that is open to interpretation. There should be only one on a page.

[2019-09-09 19:24] KevinTCoughlin commented on #10379
@dli68, I'm assuming you meant the `ChoiceGroupOption`'s `input` element as the HTML element you would like the `.is-disabled` classname be applied to. I've raised a PR which accomplishes that for CODEOWNER review.

Note that this can also be accomplished without library changes by using a custom `styles` function e.g.

[code]

![image](https://user-images.githubusercontent.com/706967/64559961-5e7

[2019-09-09 19:33] marywang-office commented on #10255
I'm communicating with code owner and Working on the fix.

[2019-09-09 19:40] natalieethell commented on #10385
What does your `_resolveRef` method do? Is there any way you could provide a CodePen repro for us? It'll help us debug this a little faster. Here's one to get started: https://codepen.io/natalieethell/pen/WNezvPw.

[2019-09-09 19:55] bhedayatian commented on #10385
@natalieethell Thanks for your prompt answer
Isnt this irrelevant to my question? I have a ref to normalPeoplePicker component (doesn't matter how its been created at this time since I see all the methods and properties of the picker). I just need to trigger the inputchage event manually from another method.

[2019-09-09 21:01] natalieethell commented on #10387
@nappy Thanks for reporting this issue! We'll look into a fix.

[2019-09-09 21:06] natalieethell commented on #10387
Ah, looks like someone already submitted a fix. The issue should be fixed with this PR: https://github.com/OfficeDev/office-ui-fabric-react/pull/10335/files. Let me know if that works for you!

[2019-09-09 21:07] natalieethell commented on #10387
Ah, just one second. I'll kick off a new release build.

[2019-09-09 21:18] natalieethell commented on #10389
Hey @radityoardi have you taken a look at the "Integrating in your project" section of the [README](https://github.com/OfficeDev/office-ui-fabric-react#integrating-in-your-project)? You should be able to just install the `office-ui-fabric-react project` in your npm project and start importing components from there. Let me know if that's helpful.

[2019-09-09 21:41] XuYan opened #10397 "Allow custom attributes"
#### Describe the feature that you would like added

Allowing custom attribute on component is useful. For example, I want to set dialog's tabindex to -1 so that it's convenient to support hot keys inside a dialog.

#### What component or utility would this be added to

Dialog. I think the feature may be useful on other components as well.

#### Have you discussed this feature with our team, and i

[2019-09-09 22:02] mcdream331 commented on #10292
Thanks for taking care of it. Sorry I lost track here.

[2019-09-09 22:03] natalieethell commented on #10391
Hey @rulyu I'm able to repro what you're seeing using NVDA on Chrome. I looked into it a bit to see if it was a Fabric Dialog issue or an NVDA issue, and it seems to be NVDA-specific.

Here's what I found - one of the main differences between the Dialog with `isBlocking = true` and the Dialog with `isBlocking = false` is the role. A non-blocking Dialog has `role = dialog` and a blocking Dialog has

[2019-09-09 22:04] #10255 closed

[2019-09-09 22:05] natalieethell commented on #10387
Alright, v7.31.2 should have the changes you're looking for! Let us know if that fixes your issue.

[2019-09-09 22:22] radityoardi commented on #10389
Hi @natalieethell,
Yes. I am aware of that. But, what if my project is just basic html but not a npm.js? Or maybe other web technology such as PHP?
Like my scenario, I only want to use the Persona control in my web app, not to build the whole web app. No documentation tells about it.

[2019-09-09 22:34] natalieethell commented on #10397
Hey @XuYan very valid ask. Standardizing where office-ui-fabric-react uses `getNativeProps` is something the team has discussed a couple times in the past. Here's an issue opened for it where there's a short thread: https://github.com/OfficeDev/office-ui-fabric-react/issues/8471. It looks like it hasn't been updated since March, though, so I'll check with the team and see where we are with this ef

[2019-09-09 22:34] #10397 closed

[2019-09-09 22:40] bhedayatian commented on #10385
@natalieethell  can you please tag somebody who can possibly help?

[2019-09-09 22:54] XuYan commented on #8471
Do we change anything since the thread starts?
I would prefer to be able to add custom attribute to the visible modal. One common use case is supporting hotkey inside dialog, if we can allow tabindex = -1 to the outermost dialog element, it'll be quite convenient.

[2019-09-09 22:57] natalieethell commented on #10385
If you're looking for a more intuitive way to trigger the inputchange event manually, I would suggest using the floating people picker. Here's a code sandbox that can get you started: https://codesandbox.io/s/basic-floating-picker-w8je2.

[2019-09-09 23:12] aneeshack4 commented on #10385
@bhedayatian Please answer @natalieethell's questions - she is asking very relevant questions.

[2019-09-09 23:27] tiagomacarios opened #10398 "Dialogs have incorrect initial focus"
Dialogs will focus the "X" by default. Usually, modal dialogs focus the input buttons. For people that work with the keyboard, this means having to tab a couple of times more.

Repro:
1 - Go to https://developer.microsoft.com/en-us/fabric#/controls/web/dialog
2 - Open the "Default Dialog"

The top X will be focused.

[2019-09-09 23:32] joshualamusga1 opened #10399 "First item in detailslist can get selected when selectionMode is none"
1. Render a detailslist
2. Tab to the column headers in the detailslist. (Not to the rows.)
3. Press the down arrow so the first item is selected.

#### Actual behavior:
The first item is selected and focus is on the first item.

#### Expected behavior:
The first item should not be selected nor have a visible selection state.

### Priorities and help requested:
Are you willing to submit a PR to fi

[2019-09-10 00:19] bhedayatian commented on #10385
@natalieethell unfortunately we have restrictions to update office-ui-fabric and use floating-picker.
I will try to make a codepen from my problem tonight and we go from there.thanks for your help.

[2019-09-10 00:30] irinatarn opened #10400 "Narrator does not announce the multiselected options of dropdown"
### Environment Information

- 7.31.1: (fill this out)
- Edge, Chrome: (fill this out if relevant)

### Describe the issue:

Go to the office fabric page with dropdown examples.
Start Narrator.
Start tabbing with your keyboard till you find the example with multi-select Dropdown.
See what is announced by the Narrator - it announces the label of it but not the preselected options.

#### Actual beha

[2019-09-10 00:32] natalieethell commented on #8471
Just did a bit of investigation into what adding `getNativeProps` to Dialog would involve. It looks like there are a couple native attributes that can be specified on Dialog, like `aria-labelledby` and `aria-describedby`, that are passed into modalProps as `titleAriaId` and `subtitleAriaId`. Modal then passes these native props into Popup.

So, it seems like the best place to pass in native proper

[2019-09-10 01:10] maxwellred commented on #6706
Closing this as I added indeterminate state in a recent PR #9815.

[2019-09-10 01:10] #6706 closed

[2019-09-10 01:12] maxwellred commented on #7008
Closing per above PR #9611

[2019-09-10 01:12] #7008 closed

[2019-09-10 01:14] maxwellred commented on #7156
Closing because the changes I had found were actually per the example not that actual component.

[2019-09-10 01:14] #7156 closed

[2019-09-10 01:14] maxwellred commented on #9299
Closing per the PR above #9473.

[2019-09-10 01:14] #9299 closed

[2019-09-10 01:15] maxwellred commented on #7157
Closing per PR above #9572

[2019-09-10 01:15] #7157 closed

[2019-09-10 01:57] radityoardi commented on #10389
OK, I came across examples and built this simple code in codepen: https://codepen.io/radityoardi/pen/dBoabz.
And I think we should give more options on how to interact with office fabric ui react if scenario like me arise. Can I contribute on this documentation written on: https://github.com/OfficeDev/office-ui-fabric-react?

[2019-09-10 02:56] hoangvnguyenkms opened #10402 "node_modules/office-ui-fabric-react/lib/Icon has no exported member 'FontIcon'"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

#### Expected behavior:

### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected:

[2019-09-10 05:06] Accessibility56 commented on #10366
@KevinTCoughlin   The office fabric version is office-ui-fabric-react": "^6.9.0"

[2019-09-10 07:42] nappy commented on #10387
Yes 7.31.2 fixes the issue, thanks.

[2019-09-10 11:13] nirmalsahoo opened #10404 "A11y_MSRCWeb_LandingPage_ScreenReader: Sorting functionality is not announced for the column headers "Short Description","Submission Status","Date Submitted","Sumission ID"............."
“[Check out Accessibility Insights! ](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-stfe%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458850501301&sdata=mxhokIKNMb22llsjXHLgU3XZibj1Qfx37rpY4PU2sfE%3D&reserved=0)- Identify accessibility bugs before check-in and make bug fixing faster an

[2019-09-10 11:15] Accessibility56 commented on #10365
Office Fabric Version: "office-ui-fabric-react": "^6.9.0",

[2019-09-10 11:37] Juliamirjami opened #10405 "Quote icon [Icon Tool]"
Hello!
We are making a rich text editor tool. The quote icon is tiny compared to the other editor icons side by side. Can it be amended to fit the others? I realised in Teams app editor the quote marks had been scaled up. Looks more visible/accessible.

Best, Julia

[2019-09-10 13:01] watty888 opened #10406 "[DatePicker] textField prop: onChange is never being called"
### Environment Information

- **Package version(s)**: 6.202.0
- **React**: 16.9.0
- **Browser**: Chrome, Version 76.0.3809.132 (Official Build) (64-bit)
- **OS**: macOS Mojave 10.14.6 (18G95)

### Bug reproduction in [codesandbox](https://codesandbox.io/embed/fabric-starter-sandbox-kuoy5?fontsize=14):
**Steps**:
1) Check the `index.tsx` file
2) Clear console
3) Start typing in the textfield

####

[2019-09-10 15:20] bhedayatian commented on #10385
@natalieethell  does it let me save my code in your project?

[2019-09-10 16:24] maxwellred commented on #10323
Hi @lorejoh12 I was wondering if you were willing to handle the new classname feature?

[2019-09-10 16:33] natalieethell commented on #10389
@radityoardi Great, I'm glad the examples helped you out! It sounds like you may have noticed this already, but on the website, you'll also see that many of the code samples have "Export to CodePen" buttons that can be very helpful in getting started in a basic CodePen.

![image](https://user-images.githubusercontent.com/14134000/64632172-71967700-d3ad-11e9-9200-64b70ae3e16a.png)

What do you feel

[2019-09-10 16:34] natalieethell commented on #10387
Great! I'll close out this issue.

[2019-09-10 16:34] #10387 closed

[2019-09-10 16:40] natalieethell commented on #10385
@bhedayatian You should be able to fork the code sandbox by clicking "Fork" in the top right!

[2019-09-10 17:16] natalieethell commented on #10399
Thanks for reporting this, @joshualamusga1! I definitely see this bug in our examples; we'll investigate.

[2019-09-10 17:20] natalieethell commented on #10399
My initial thinking is that this is happening because the `selection` object's mode defaults to `multiple` when arrowing down to the first item, even when the `selectionMode` prop is given a different value. We also aren't explicitly setting mode in `selection`'s initialization.

The fix will either be to use `selection`'s mode or `selectionMode` by default. I'll discuss with the team.

[2019-09-10 17:31] rulyu commented on #10391
@natalieethell Thanks for your explanation. I have opened an issue against NVDA
https://github.com/nvaccess/nvda/issues/10186

[2019-09-10 17:31] natalieethell commented on #10400
Thanks for reporting this, @irinatarn! I'm able to repro what you're seeing and agree that something more should be read out for multi-select dropdowns. We'll investigate.

[2019-09-10 17:44] natalieethell commented on #10391
You're welcome! Thanks for opening an issue in NVDA. Let us know if you have any other questions about Dialog; otherwise, feel free to close this issue.

[2019-09-10 17:45] #10391 closed

[2019-09-10 17:56] natalieethell commented on #10402
@hoangvnguyenkms What version of office-ui-fabric-react are you using?

[2019-09-10 18:41] maxwellred commented on #10331
Closing per the PR merge above #10358

[2019-09-10 18:41] #10331 closed

[2019-09-10 18:59] bhedayatian commented on #10385
@natalieethell unfortunately I can't make the codepen to the stage I am with my project to show you the problem. just a quick question though
I am trying to show invalid emails with highlighted color( currently picker deletes invalid emails), so I am changing the behaviour of the picker. I create persona manually and then need to clear the user input
I have tried to clear the input box with these

[2019-09-10 19:34] richardtagger opened #10409 "[BasePicker] Allow programatic triggering of showing suggestions"
Design have asked to be able to trigger suggestions being visible after every item is selected - currently seems to require a new focus or click. I can't find a way to achieve this with the current API but may be overlooking something. An imperative interface such as `showSuggestions()` on the ref could work?

#### What component or utility would this be added to

BasePicker

#### Have you discuss

[2019-09-10 19:59] maxwellred commented on #10327
@BrianD91 Have you tried passing functionality through the onItemInvoked props (handles Enter key and double click)?

[2019-09-10 20:14] joschect commented on #10175
@bhedayatian Per my earlier comment, the initial question has been answered and these additional questions would be better on Stack overflow. If there is a new issue/bug please create a new ticket so we can keep each issue distinct and focused.

[2019-09-10 20:25] natalieethell commented on #10390
Hey @AndrewCarterBreakwaterIT this seems like it technically would be possible. If you're having trouble with it and could provide an isolated repro for us, we could try to help you debug the issue.

[2019-09-10 20:46] natalieethell commented on #10404
Hey @nirmalsahoo thank you for opening this issue! This is definitely huge missing functionality that we want DetailsList to have. There's actually an existing thread on another open issue for the same problem: https://github.com/OfficeDev/office-ui-fabric-react/issues/7786.

To sum up the thread, DetailsHeader currently has `aria-sort` attributes on column headers that can be sorted, but screen r

[2019-09-10 20:46] #10404 closed

[2019-09-10 20:47] natalieethell commented on #7786
I just linked another issue opened for the same problem. Now that the Announced component is ready and in `office-ui-fabric-react`, I think it's time to look more into what this solution would look like. I'll take a closer look.

[2019-09-10 21:44] joshmccall221 opened #10411 "WCAG 4.1.1,WCAG 4.1.2: ARIA attributes must conform to valid values (#TextField1550)"
![image](https://user-images.githubusercontent.com/7776611/64652693-52adda00-d3d9-11e9-9ae2-f3b6d77c9b39.png)

#### Issue
When label is provided, aria is not correctly set.

`ARIA attributes must conform to valid values` ([aria-valid-attr-value](https://dequeuniversity.com/rules/axe/3.2/aria-valid-attr-value?application=msftAI))
#### Target application
[Home - Office UI Fabric](https://developer.m

[2019-09-10 21:57] XuYan commented on #8471
Thanks for the reply, @natalieethell.
I'm not sure I understand. For my use case, I just want to add a tabindex = -1 to the outermost element of the modal. Could you give an example if there is a way to achieve that?

[2019-09-10 21:57] yumikohey opened #10412 "reopen: People Picker dropdown list is not being announced in Android"
This is repro in Android app and Win32 apps.

#### Codepen demonstrating the issue
https://developer.microsoft.com/en-us/fabric#/controls/web/peoplepicker
#### Actual behavior:
When users navigate with a physical keyboard up and down, voiceover is silent.

#### Expected behavior:
When users navigate with a physical keyboard up and down on the dropdown available list, voiceover should announce the

[2019-09-10 23:09] natalieethell commented on #8471
@XuYan Sorry should have been more clear, so there isn't a way to achieve that at the moment, but I'm wondering if what I'm proposing above will work for you! It would place any native props you pass in to Dialog on the highlighted element below (`<div role="dialog" ... />`)

![image](https://user-images.githubusercontent.com/14134000/64656714-1e401b00-d3e5-11e9-8ef6-7f9a6034f6cf.png)

[2019-09-10 23:22] phkuo opened #10413 "No Customizer documentation"
We should document Customizer, Customizations, etc: https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/utilities/src/customizations/Customizer.test.tsx

[2019-09-11 02:00] #10291 closed

[2019-09-11 03:58] dzearing commented on #9132
@ecraig12345 reping.

[2019-09-11 07:13] sonimishra opened #10415 "[Keyboard Navigation - MyAccess - Filters] Filter controls are not accessible through keybaord on filters screen."
**User Experience:**
User rely on keyboard will find difficulty to interact with the control if that control is not accessible through keyboard and also won't be able to perform functionality over such control.

**MAS Reference:**
MAS 2.1.1 - Keyboard (36)

**Repro steps:**
1. Open URL 'https://myaccess.microsoft.com/@M365x202152.onmicrosoft.com#/access-packages' and enter valid credentials.
2. Na

[2019-09-11 08:15] hamedy opened #10416 "New component: Horizontal multilevel menu/nav/navbar"
Wondering if there are any components for rendering a horizontal top menu with possibility of having links on root elements and a chevron button to expand submenu items. Like if Nav component had a horizontal layout option.

If not, I wonder if there's a reason for it like if you think it's bad practice or something. We need this functionality for many of our customers and I wanted to ask here bef

[2019-09-11 09:52] Mitshah4343 opened #10418 "DatePicker: Can't add custom icon in styles"
### Environment Information

- **Package version(s)**: 7.18.0
- **Browser and OS versions**: Chrome, Edge

### Describe the issue:

Add the below function as styles to DatePicker
getStyles(props: IDatePickerStyleProps): Partial< IDatePickerStyles > {
        return { icon: customIconClassName };
    }

#### Actual behaviour:

No icon is visible in DatePicker

#### Expected behaviour:

Custom icon

[2019-09-11 10:15] ThreadPitt opened #10419 "Fabric 7: Button hidden:true does not hide button in IE11"
### Environment Information

office-ui-fabric-react": "^7.31.2
IE11

### Please provide a reproduction of the bug in a codepen:

            const deleteItem = {
                key: 'delete',
                name: 'Löschen',
                iconProps: {
                    iconName: 'Delete'
                },
                **hidden: true,**
                disabled: props.disableDeleteButton,

[2019-09-11 11:02] Kumar2608 commented on #6326
Bug 6 : [Accessibility][Usable]: Narrator scan mode focus is not visible on 'Basic uncontrolled example' drop down when it is collapsed.
In scan mode, focus is visible on "Basic uncontrolled example" drop down.
Issue is fixed, Verified the issue in the below build:
https://fabricweb.z5.web.core.windows.net/oufr/7.31.2/#/examples/dropdown

Bug 8 : [Accessibility][Usable]: Narrator speaks Improper i

[2019-09-11 12:01] Kumar2608 commented on #6326
**New WCAG 2.1 Bugs and Bugs Found During Regression**

Bug 21 : [Accessibility][Dropdown]: Drop down screen is not adopting to 400% scaling
Bug 22 : [Accessibility][Dropdown]: Focus indicator is not visible  on "Set Focus" button in High Contrast white and black modes

[2019-09-11 15:54] JasonGore commented on #9132
This issue appears to have been introduced with #8688.

[2019-09-11 17:00] #9162 closed

[2019-09-11 17:13] joschect commented on #9132
@dzearing and @JasonGore I'll hop on this.

[2019-09-11 17:13] natalieethell commented on #10405
@Jahnp Could you take a look at this one when you have a moment?

[2019-09-11 17:50] natalieethell commented on #10406
Hey @watty888 thanks for opening an issue! It looks like this is happening, because the `onChange` method on the text field is actually always overridden by the `onChange` method in the DatePicker code itself (note lines 190 and 203 below).

https://github.com/OfficeDev/office-ui-fabric-react/blob/72e835bd59d6c29b1a222fccdd5c57a339c73090/packages/office-ui-fabric-react/src/components/DatePicker/Da

[2019-09-11 18:12] evlevy commented on #10406
@natalieethell at the time textFieldProps was introduced we didn't consider folks wanting to override onChange - it was more for customizing the UI of the textField and not the behaviour. If this is now required, we would need to consider which handler to call, or possibly integrate the supplied handler into [the existing one](https://github.com/OfficeDev/office-ui-fabric-react/blob/72e835bd59d6c2

[2019-09-11 18:13] evlevy commented on #10406
(Sorry I accidentally closed this issue just now. Reopened.)

[2019-09-11 18:55] natalieethell commented on #10409
Hey @richardtagger so it looks like this functionality doesn't exist in base picker, but it does exist on floating picker.

`IBaseFloatingPicker` has a property called `showPicker`, implemented by `BaseFloatingPicker`, which can be used to show the picker suggestions. Here's a code sandbox with an example of how to use that method with the FloatingPeoplePicker: https://codesandbox.io/s/floating-pi

[2019-09-11 18:57] natalieethell commented on #10406
@evlevy Got it, maybe it would be good to integrate the supplied handler into the existing `onChange` handler. I'll take a closer look. Thanks!

[2019-09-11 20:57] Jahnp commented on #10405
Thanks for tagging me @natalieethell !

Thanks for bringing this to our attention, @Juliamirjami ! To help understand which quote icon you're referring to, would you mind sharing an image, the friendly name, and/or Unicode value you're using?

I assume you're referring to this icon, `E9B1`/`RightDoubleQuote`:
![image](https://user-images.githubusercontent.com/307118/64734585-c1536c00-d49b-11e9-9c1

[2019-09-11 21:01] natalieethell commented on #10411
Hey @joshmccall221 thanks for submitting an issue. It looks like this is caused by a check in TextField that sets `aria-labelledby` based on the existence of `props.label`. Since this example uses its own custom rendered label, it actually doesn't need to pass in `label` to TextField. Should be an easy fix, I'll open a PR soon.

[2019-09-11 21:07] natalieethell commented on #10411
Actually, a better fix might be to just conditionally set the `aria-labelledby` based on if `onRenderLabel` is passed in. I'll look at both solutions.

[2019-09-11 21:35] natalieethell commented on #10406
@evlevy Opened a PR with those changes, feel free to take a look if you have a moment.

[2019-09-11 21:43] #10373 closed

[2019-09-11 22:20] virtualducttape opened #10426 "HoverCard missing "dismiss()" method in SPFx"
### Environment Information

- **Package version(s)**: @microsoft/sp-office-ui-fabric-core 1.9.1
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

When duplicating example code from the "instant dismiss" example in SPFx, the "_instantDismissCard" method throws an error when attempting to close the HoverCar

[2019-09-11 22:45] ecraig12345 opened #10431 "Add documentation for how to write examples"
We should add documentation about best practices for writing examples, including the issues now called out by lint-imports as well as other issues. (suggestion from https://github.com/OfficeDev/office-ui-fabric-react/pull/10408#discussion_r322921668)

[2019-09-11 23:09] natalieethell commented on #6646
Bug 3 should be fixed with this PR: https://github.com/OfficeDev/office-ui-fabric-react/pull/10433!

[2019-09-11 23:29] natalieethell commented on #7786
I just opened a PR to add the Announced component to our two DetailsList examples that implement column sorting. @sonimishra I would encourage you to also utilize the Announced component in your code to achieve this screen reader readout. Let me know if you have any questions about how to integrate it!

[2019-09-11 23:30] maxwellred commented on #10268
Hi @smhigley thanks for taking a look and commenting your findings! I was only able to get the first row (DetailsList Header) to read out the position in Narrator scan mode. I was able to find a way to get subsequent rows to read out by using aria-posinset and aria-setsize on each row. @mibadget I mocked the examples given [here](https://www.w3.org/TR/wai-aria-1.1/#aria-rowindex) (Examples 30 and

[2019-09-12 00:09] adityapelluri commented on #9653
@dzearing can you help in here please

[2019-09-12 00:27] dzearing commented on #9653
This is by design on touch entries.

@jspurlin can provide background, but ultimately it's because:

1. The split menu should have all options available including the primary action;
2. The touch target is not large enough to only execute the menu, so to resolve the ambiguity all split buttons react to touch this way (act as a menu button.)

[2019-09-12 00:30] adityapelluri commented on #9653
@dzearing do we have any workaround or override the functionality by declaring any additional inputs ?

[2019-09-12 01:23] #10153 closed

[2019-09-12 01:56] #10295 closed

[2019-09-12 04:08] hoangvnguyenkms commented on #10402
thanks for response, my version 6.189.2

Vào Thứ Tư, 11 tháng 9, 2019, Natalie Ethell <notifications@github.com> đã
viết:

[2019-09-12 05:46] nirmalsahoo opened #10434 "NVDA focus does not remain on the same column header "Short Description","Submission Status","Date Submitted".... when hit with "Enter" and the state of the button changes from ascending to descending and vice versa."
Environment Details:
Application Name: MSRC Web
Windows Version: Windows10
Versions :
                Chrome Version 69.0.3497.100

Steps to Reproduce:
1.Start ScreenReader.
2.Launch "MSRC Web" Web Application or directly hit URL
3.Go to the HomePage i.e. Landing Page
4.Go to the table-->data under the column headers "Date Submitted"-->Press Enter to sort.
5.Verify that after the button is hit,NVD

[2019-09-12 06:00] effectivetom opened #10435 "TagPicker onDismiss isn't usable with scroll events"
### Environment Information

- **Package version(s)**: 7.28.0

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/huckyaus/pen/VwZxqBj

1. Generate some suggestions by typing a few characters into the TagPicker
2. Position the cursor outside the suggestions list and scroll down

#### Actual behavior:

The first suggestion is selected and the suggestions list is closed,

[2019-09-12 06:31] watty888 commented on #10406
@natalieethell thanks for your rush reply! Can you also please specify for which version your fix will be applied? The project we are currently working at uses  6.202.0.

[2019-09-12 06:48] Juliamirjami commented on #10405
Hi Peter

We are using the icons tool (link below) and E9B1 is the ‘quote’ icon we found. Find attached comparison of how tiny the quote looks compared to other icons. I realised that in Teams text editor’s quote icon has been made similar size to others which feels more natural.

Thanks for your help!
Julia

https://uifabricicons.azurewebsites.net

[A picture containing electronics, outdoor, sitt

[2019-09-12 06:53] Kumar2608 commented on #8061
Bug6: [Accessibility][Usable]: In Scan mode of narrator focus moves to the day/month/week image but it does not narrate anything.
Now In scan mode narrator focus is not moving to day/month/week image.
Issue is fixed. Verified in the below build:
OS Build: version 1903(os build: 18956.1000)
URL: https://uifabric-prod.azurewebsites.net/?example=jhkjhkj#/components/dialog

 Bug7: [Accessibility][Usab

[2019-09-12 07:01] Kumar2608 commented on #6390
Bug 1 : [Accessibility][Programmatic access]: Incorrect 'Aria-label' is defined for 'New’ CommandBar control.
Correct "Aria-label"is defined for 'New' CommandBar control.
Issue is fixed. Verified the issue in below build:
OS: Version: 1903(OS Build 18956.1000)
URL: https://fabricweb.z5.web.core.windows.net/oufr/7.31.2/#/examples/commandbar
Browser: Edge
Fabric site version id : 7.31.2

Bug 2 : [Ac

[2019-09-12 13:07] AparnaPrasad opened #10436 "Use selections with Basic List"
#### Describe the feature that you would like added
I am using Basic List to display grid Items as given in the example here https://developer.microsoft.com/en-us/fabric#/controls/web/list
I have checkboxes and I want to be able to use selection to check. I have used selection zone and marquee zone

<MarqueeSelection selection={selection} isEnabled={true}>
                    <SelectionZone

[2019-09-12 15:31] agtenr opened #10437 "Dropdown list item not correctly alligned in IE11"
### Environment Information

- **Package version(s)**: "office-ui-fabric-react": "7.22.1"
- **Browser and OS versions**: IE11 / Windows 10

### Please provide a reproduction of the bug in a codepen:
https://fabricweb.z5.web.core.windows.net/oufr/7.22.1/#/examples/dropdown

#### Actual behavior:

When the drop down is opened in IE11 the text in the drop down items is not aligned correctly. The text

[2019-09-13 05:48] ashitvora opened #10442 "How to use calendarAs property in DatePicker Component of Fabric UI?"
Cross-posting from https://stackoverflow.com/questions/57917901/how-to-use-calendaras-property-in-datepicker-component-of-fabric-ui as most questions on Stackoverflow are going unnoticed :(

I am trying to show different date picker/calendar for different scenarios.
I need the following types and came across calendarAs property but couldn't find any example for implement that.

I would like to hav

[2019-09-13 07:44] AndrewCarterBreakwaterIT commented on #10390
@natalieethell many thanks for coming back to me..
I have to admit I am a little green around the gills with all this, so I have created a repo and added you as a collaborator.

I hope this is correct :-)

Andrew

[2019-09-13 11:08] watty888 commented on #10406
That would be great, as in the projects current state, we would prefer not to update for at least some time.

[2019-09-13 11:50] wobba commented on #5315
@Jahnp  that PR replaces the preview image with an icon, not the filetype icon overlaying the image.

[2019-09-13 12:36] wobba commented on #5315
@pschaeflein Thank you for this workaround. Just what I needed :)

[2019-09-13 14:10] cwdata opened #10443 "onFocus event in PeoplePicker not firing"
### Environment Information

- **Package version(s)**: 6.203.5
- **Browser and OS versions**: Chrome 76 on Windows 10

### Please provide a reproduction of the bug in a codepen:
Can be seen with this codepen:
https://codepen.io/cwdata/pen/bGbKxQY

#### Actual behavior:
When clicking inside the PeoplePicker no alert is shown. When leaving the control the onBlur is fired and showing the alert "blur"

[2019-09-13 15:03] agtenr commented on #10437
It seems that the problem can be fixed by setting the height of the buttons to 1vh instead of auto. (See screenshots below)
!["screenshot"](https://i.ibb.co/L9Hjyjs/2019-09-13-16-54-19.png)
!["screenshot"](https://i.ibb.co/9GKKhwk/2019-09-13-16-59-27.png)

[2019-09-13 15:42] joshualamusga1 opened #10444 "Expose class names and special strings"
#### Describe the feature that you would like added
It would improve maintainability to expose class names like ms-List as variables. The class names could then be changed more easily, and when variables are removed in a breaking change, it's much more clear to the consuming app, which will be able to remove the reference. Special strings should also be publicly exported when they're expected to b

[2019-09-13 17:40] SavannahBourgeois commented on #6549
We got an accessibility bug in office-online related to this. Any way we can bump this to be scheduled work?

[2019-09-13 19:34] virtualducttape commented on #10426
Excellent catch, I was on: "office-ui-fabric-react": "6.143.0", and after updating to the latest version in the 6 branch: "office-ui-fabric-react": "6.203.5", the "dismiss" method is now defined on the IHoverCard interface.

Thanks for pointing this out! Issue resolved.

[2019-09-13 21:04] natalieethell commented on #10402
@hoangvnguyenkms Gotcha, can you try upgrading your `office-ui-fabric-react` version and let us know if that fixes your issue? I don't see any references to FontIcon in 6.189.2.

[2019-09-13 21:21] natalieethell commented on #10416
Hey @hamedy thanks for opening an issue! We actually don't have a control like this yet, but I'll add this to the backlog to kick off a discussion.

[2019-09-13 23:27] #9398 closed

[2019-09-14 05:01] #10406 closed

[2019-09-15 08:25] SudharsanSukumar commented on #10378
@KevinTCoughlin what v6 version will this be released under?

[2019-09-15 16:06] matprzybyla commented on #10322
Hi @maxwellred.
The first suggested option helped. The change file was generated and I was able to push it into PR.
Thanks a lot!

Currently waiting for answer from John Lorenz about some details I'm not sure. But at least one step forward was made :)

[2019-09-16 02:15] chnldw opened #10449 "IconButton is broken with icons that are not supported by fabric-core"
### Environment Information

- office-ui-fabric-react 7@latest
  Fabric-Core css @10.1.0
- Chrome@latest, Windows 10

`IconButton` is broken with icon that is not supported by Fabric Core.
Seems one additional `ms-Icon` class is added.
Is there any workaround for this?
https://codepen.io/chnldw/pen/jONpKGe?editors=1010

**Repro:**
1. include fabric-core css.
2. Create an IconButton with `PageList`

[2019-09-16 04:22] dzearing commented on #10412
VoiceOver has nothing to do with Win32. @yumikohey Could you be more clear here? Which browser are you talking about, on which platform/hardware, using which reader?

[2019-09-16 04:28] dzearing commented on #10366
Can't access the test page. No details in this bug on repro steps. If you are giving no effort in deducing an accessibility bug for your app, we can't help. As this is right now, there is no action we can take.

If you deduce that you are using a Fabric component and that it has a missing behavior causing keyboard accessibility issues, please be clear about the repo. Which component, what were the

[2019-09-16 04:28] #10366 closed

[2019-09-16 04:37] dzearing commented on #10365
Can't access the test page. No details in this bug on repro steps. If you are giving no effort in deducing an accessibility bug for your app, we can't help. As this is right now, there is no action we can take.

If you deduce that you are using a Fabric component and that it has a missing behavior causing keyboard accessibility issues, please be clear about the repo. Which component, what were the

[2019-09-16 04:37] #10365 closed

[2019-09-16 04:42] dzearing commented on #10352
Ping @lorejoh12

[2019-09-16 04:42] dzearing commented on #10352
I would assume we'd want the user to provide a localized format string.

[2019-09-16 04:44] dzearing commented on #10338
@KevinTCoughlin Any updates?

[2019-09-16 04:46] dzearing commented on #10338
This is an app user error. The `Panel` component has a prop `closeButtonAriaLabel` which is not being provided; hence no aria-label is placed on the close button.

[2019-09-16 04:46] dzearing commented on #10338
If you feel this solves your question, please close the issue. Thanks.

[2019-09-16 04:49] dzearing commented on #10339
This is not a Fabric error. This is the user implementing their own checkbox using the presentational `Check` component. The user should either use `Checkbox`, which has the correct labeling, or wrap the `Check` in an interactive component that reimplements the Checkbox accessibility with the correct roles.

[2019-09-16 04:50] dzearing commented on #10336
Duplicate of #10338; which means, please provide the correct props to Panel.

[2019-09-16 04:50] #10336 closed

[2019-09-16 05:01] dzearing commented on #10268
@ThomasMichon @cschlechty @betrue-final-final We would appreciate your assistance triaging this issue.

@smhigley I couldn't quite find in the spec you posted where it mentions role should not receive focus. Could you paste the part you're looking at?

[2019-09-16 05:17] dzearing commented on #6733
@micahgodbolt @khmakoto Is there a fix here?

[2019-09-16 05:18] dzearing commented on #6920
@jspurlin Are there any actionable issues here to take? If not we need to close these.

[2019-09-16 05:21] dzearing commented on #7425
@KevinTCoughlin should this be added? Also you might know the answer to @cathymc 's question.

[2019-09-16 05:24] dzearing commented on #7438
@KevinTCoughlin this one also never got traction

[2019-09-16 05:40] dzearing commented on #7254
Any progress here @caradong

[2019-09-16 05:40] dzearing commented on #7254
@micahgodbolt we should discuss if there are any leftovers here.

[2019-09-16 05:42] dzearing commented on #9348
@betrue-final-final any update?

[2019-09-16 06:02] dzearing commented on #4387
I am going to close this. There isn't a single framework out there I have found which makes disabled components focusable.

Material UI does not: https://material-ui.com/components/buttons/
Carbon does not: https://www.carbondesignsystem.com/components/button/code
Ant design does not: https://ant.design/components/button/#components-button-demo-disabled
Base ui does not: https://baseweb.design/com

[2019-09-16 06:02] #4387 closed

[2019-09-16 06:06] dzearing commented on #9689
@khmakoto Any update?

[2019-09-16 06:17] dzearing commented on #8388
Aria-live notifications should be up to the application host; not the progress indicator component. The component has no idea how many indicators will be on the page, and the host should define their own batched aria-live messaging which makes sense for their scenario.

[2019-09-16 06:22] dzearing commented on #8031
@marygans can you work to close this out?

[2019-09-16 06:34] dzearing commented on #8031
"Coachmark bubble is not visible properly in HC" is pretty serious.

[2019-09-16 07:14] sonimishra opened #10450 "[Screen reader - Azure Data Share - Sent Shares] In scan mode by narrator, extra tab is appearing inside 'Start time' calendar popup"
**User Experience:**
User who depends upon the narrator will be affected if extra tab is appearing on the screen when user navigate in scan mode of narrator so user cant interact with the control efficiently.

**Repro Steps:**
1-Navigate to Url:- https://portal.azure.com/?microsoft_azure_marketplace_ItemHideKey=DataShareExtensionHidden&feature.showassettypes=Microsoft_Azure_DataShare_InvitationsBr

[2019-09-16 09:09] alex3683 opened #10451 "Drag and Drop between people pickers"
#### Describe the feature that you would like added

I would like to have the possibility to move people between two PeoplePicker instances by using drag and drop. The current version of OWA for Exchange Online implements this, probably using the Fabric component, to move people between required and optional participants in a calendar entry. So I guess there may be some way to implement this, but

[2019-09-16 09:50] known-as-bmf opened #10452 "TeachingBubble isWide not allowing content to flow in the container"
Setting `isWide` on a teaching bubble sets the container (`ms-TeachingBubble-content`) to a `maxWidth` of 456px but also sets the body (`ms-TeachingBubble-bodycontent`) to a `maxWidth` of 302px, leading to some empty space that could be used for the headline and body text.

example with `isWide: false`

![image](https://user-images.githubusercontent.com/11721166/64948245-f0405800-d876-11e9-80ea-80

[2019-09-16 12:38] briunsilo opened #10453 "onItemClick not invoked on split buttons"
In the SplitButton example, a generic onClick is used, which is not that useful unless you can get a reference to the item clicked.
https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/Button/examples/Button.Split.Example.tsx

Replacing the generic onClick with specific onItemClick handlers seems obvious, but they do not seem to get invoked

[2019-09-16 13:52] shiliangdn opened #10454 "[Nested DetailsList] click on row of child list will trigger selection of row with same index in parent list"
### Describe the issue:

I have a nested DetailsList, that in each row of the parent list, it has a child detail list there. The issue is when I click on one row of any child detail list, it will trigger the selection in the parent detail list for the row with the same item index.

For example, The parent list has 3 rows, and in the 3rd row, it has a child detail list which has 2 row, when I click

[2019-09-16 14:09] myokha opened #10456 "DatePicker should have required prop over isRequired."
#### Describe the feature that you would like added
Use `required` prop on it instead of `isRequired`
#### What component or utility would this be added to
`DatePicker`
#### Have you discussed this feature with our team, and if so, who
No.
#### Additional context/screenshots
It's inconsistent with inputs like `TextField` and `Dropdown` which have `required` on them.

There is an [issue](https://gi

[2019-09-16 14:30] barisbikmaz opened #10457 "Cant download icon subsets from Office UI Fabric Icons Website"
The https://uifabricicons.azurewebsites.net website is not working anymore.
You can't download icon subsets. The getting subset spinner spins forever.

Tested in Chrome

[2019-09-16 15:22] nappy opened #10458 "Reexport functions / types from @uifabric/utilities in @uifabric/styling"
Currently I am using both `@uifabric/utilities` and `@uifabric/styling` in my imports and `package.json`, even though `@uifabric/utilities` is already a dependency of `@uifabric/styling`.

The following functions / types  in particular are not reexported in `@uifabric/styling`:

- `IStyleFunctionOrObject`
- `IStyleFunction`
- `classNamesFunction`
- `styled`

[2019-09-16 15:42] jdhuntington commented on #1605
Closing as dup, given we are tracking the remaining work with #6318

[2019-09-16 15:42] #1605 closed

[2019-09-16 16:11] KevinTCoughlin commented on #10378
@SudharsanSukumar, once https://github.com/OfficeDev/office-ui-fabric-react/pull/10459 is merged it will publish overnight in next `6.x` release.

[2019-09-16 17:05] Mitshah4343 commented on #10418
Hi @natalieethell Got it. I didn't add icon name under textField before. Thanks for the clarification.

[2019-09-16 17:05] #10418 closed

[2019-09-16 18:00] #10267 closed

[2019-09-16 18:32] cathymc opened #10460 "DetailsList column headers announced twice"
- **Package version(s)**: both 6.172.0 & 7.28.0
- **Browser and OS versions**: Edge 44.18362.329.0/ Windows 10 Enterprise

### The issue:

Users who rely on screen readers will navigate the DetailsList column headers, listening to a header label, then the button label for filtering/sorting afterwards. The column header is the parent of the Tooltip and the user could try to activate the header vers

[2019-09-16 18:35] aneeshack4 commented on #10449
@chnldw So this seems to work if `<link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/10.1.0/css/fabric.min.css">` is removed. This actually works also if you change the version from 10.1.0 to 10.2.0 - can you just update the version of the fabric core css you're using?
![image](https://user-images.githubusercontent.com/4161791/64983730-10bbe280-d87

[2019-09-16 18:38] aneeshack4 commented on #10450
@sonimishra So is this reproing for you with Edge + Narrator only?

[2019-09-16 18:48] aneeshack4 commented on #10451
@alex3683 Our PeoplePicker is a shared component used in many different situations and this drag & drop feature could fit differently into each of those. It's also something that could be implemented by the consumer. Basically, we don't believe this should be a feature on the native shared component. Its owner @joschect can chime in more on this.

[2019-09-16 19:10] aksingh opened #10461 "AMD bundling: strip out process.env.NODE_ENV which isn't automatically defined by bundling"
https://github.com/OfficeDev/office-ui-fabric-react/commit/a9245feee547762f0c8c9935cbf39d737b86c519 clearly introduces a breaking change without bumping the major version.

If fabric folks intend to use the minor versions as breaking, then please add guidelines that consumers should be fixing their fabric versions precisely up to the patch version.

[2019-09-16 19:36] e-gallis opened #10462 "Office UI Fabric Icons tool is extremly slow"
Hi,
Generating a subset from the Office UI Fabric Icons is extremly slow. In fact, I stopped the generation after 10mn for just one icon. I tried refreshing the page and restarted the generation but it didn't help.
Any clues on why it's so slow ? Anyone else noticed this or am I the only one ?
FYI: I'm located in Europe (France)...
Thx,
Emmanuel

[2019-09-16 20:00] #10334 closed

[2019-09-16 20:09] chnldw commented on #10449
@aneeshack4 thanks for the comments. we do need fabric-core.css in our project. The latest version I believe it's 10.1.0. Change it to 10.2.0 basically the same as remove it as it's a 404.

[2019-09-16 20:10] dzearing commented on #10462
@Jahnp would have a better idea.

[2019-09-16 20:13] dzearing commented on #10461
@kenotron and @TheLarkInn for clarity.

This change did not change a single API surface. It did not modify a pixel, or change anything other than to remove the typedef check inside of code. I don't think this would be considered a breaking change.

Could you clarify how it broken you? Are you using a particular configuration that this broke?

[2019-09-16 20:19] dzearing commented on #10461
@kenotron and @TheLarkInn Are there things we could be doing better here? For example if the customer is using an older version of webpack, or is using another bundler, process is not guaranteed to be defined, which could likely break them.

[2019-09-16 20:19] Jahnp commented on #10462
Thanks for the heads-up @dzearing  and thanks for reporting this, @e-gallis . So sorry for the inconvenience!

Short answer: I think I know the issue and can make a short-term patch to provide immediate relief.

Longer answer: I'll need to investigate to verify, but I believe the tool has been hitting bottlenecks lately due to some infrastructure limitations. Essentially, the tool is likely hittin

[2019-09-16 20:40] Jahnp commented on #10462
I've done the short-term fix, which should provide some relief for now. You should be able to generate subsets again. I'll start looking into longer-term fixes soon, too.

[2019-09-16 20:50] jdhuntington commented on #9053
@sugandhi-ms I am unable to repro. Tried with both JAWS and Narrator, it seems that the selection is only being read  a single time. Are you still seeing this issue?

[2019-09-16 21:00] #10376 closed

[2019-09-16 21:40] lorejoh12 commented on #9711
This is not a DatePicker bug. The bug is with overlap of the outline on text in a button, which happens to be used in one of the Calendar component examples, but is just a problem with the DefaultButton component being used.

Also, in latest version of Fabric 7.34.0, the white spacing on the focus outline has been removed so the text is less covered. Not sure if that's sufficient to close this bug

[2019-09-16 21:43] aneeshack4 commented on #10452
@known-as-bmf Thank you for finding this bug & suggesting this fix! Feel free to chime in on the PR above that implements this.

[2019-09-16 21:45] aneeshack4 commented on #10457
@barisbikmaz Can you provide more details on your environment? I just tried this on chrome and I was able to download instantly.

[2019-09-16 21:52] iwasn opened #10464 "Background color contrast ratio of selected and hovering dropdown item is less than 3:1"
### Environment Information

- **Package version(s)**: 7.34.0 (Current latest)
- **Browser and OS versions**: Any

### Describe the issue:

Non text contrast ratio of both the selected and hovered options(grey vs white background) are less than the minimum 3:1 requirement.

### Please provide a reproduction of the issue in a codepen:

Example from demo site:
https://fabricweb.z5.web.core.windows.n

[2019-09-16 22:25] lorejoh12 commented on #5718
This was fixed in #8475

[2019-09-16 22:25] #5718 closed

[2019-09-16 23:29] aneeshack4 commented on #10457
This might actually be related to the latency issues @Jahnp mentioned in #10462 in this [comment](https://github.com/OfficeDev/office-ui-fabric-react/issues/10462#issuecomment-531941302).

[2019-09-16 23:43] lorejoh12 commented on #8349
From my understanding, role=application means the controls do not conform to normal WAI-ARIA widgets, so it manages it's own focus, keyboard, input, etc. https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Application_Role

This is the case here, the control does handle all of that itself, which makes it seem like the role is appropriate? It sounds like just having a region with

[2019-09-16 23:46] jdhuntington commented on #8173
1 - Fixed

[2019-09-16 23:47] jdhuntington commented on #8173
2 - Fixed

[2019-09-16 23:47] jdhuntington commented on #8173
3 - Unable to repro

[2019-09-16 23:47] jdhuntington commented on #8173
4 - Unable to repro (may have been fixed with focus zone fixes)

[2019-09-16 23:47] jdhuntington commented on #8173
5 - Fixed

[2019-09-16 23:49] lorejoh12 commented on #6362
This is currently by design- the text is only editable if the control has the prop 'allowTextInput' set. In the example shown in the recording, that prop isn't set, so the user can't type. (so the backspace/delete keys don't do anything). There's currently no "unselect" button or prop in the control, which has been proposed, but not a bug.

[2019-09-16 23:49] jdhuntington commented on #8173
6 - Fixed

[2019-09-16 23:53] lorejoh12 commented on #6362
Interesting bug but it's a bug with the example page, not the component itself- the control doesn't handle parsing inputs, there's a prop for that called parseDateFromString. The example from the video doesn't throw an error when parsing fails (which normally clears the content and says something like 'invalid date', it instead crashes the whole page. We should fix that, but not an accessibility b

[2019-09-16 23:59] jdhuntington commented on #8173
7 - Fixed

[2019-09-16 23:59] jdhuntington commented on #8173
8 - Fixed

[2019-09-17 00:02] jdhuntington commented on #8173
9 - This isn't something that the panel can support for every use-case unfortunately. In this case, the scrollbar is accessible once an item inside gains focus.

[2019-09-17 00:05] jdhuntington commented on #8173
10 - `aria-describedby` no longer appears in the examples. However, it's not clear from the bug why `id__27` is invalid.

[2019-09-17 00:05] jdhuntington commented on #8173
11 - Fixed

[2019-09-17 00:06] jdhuntington commented on #8173
12 - Good suggestion - we likely need a better example here.

[2019-09-17 00:07] jdhuntington commented on #8173
13,14,15 - Will fix in other contexts.

[2019-09-17 00:18] aneeshack4 commented on #10453
@briunsilo I made a Codepen with the scenario you described: https://codepen.io/aneeshack4/pen/mdbGOPr and I'm able to repro this - onItemClick doesn't get invoked when the items are clicked. In the ContextualMenu.types.ts the [documentation](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.types.ts#L160) s

[2019-09-17 00:54] natalieethell commented on #10434
After taking a closer look, it seems like the focus functionality remains even with the missing focus "highlight" from NVDA. For example, if I try to sort the column header again by pressing "Enter" or "Space", the column header onClick handler is triggered. Additionally, if I try to navigate by pressing 'Tab' or the arrow keys, navigation also still works as expected.

This seems more like an NVD

[2019-09-17 01:38] aksingh commented on #10461
@dzearing We don't use webpack for one of our builds and that one just silently broke with this change. Basically everyone using AMD modules or non-bundled builds is likely to break silently on this.

[2019-09-17 01:42] Jahnp commented on #10457
Thanks for the heads-up @barisbikmaz , and for tagging me, @aneeshack4 . Please see my response in the linked issue:

[2019-09-17 01:47] dzearing commented on #10461
@aksingh Sorry for the trouble. This is not totally obvious on the best fix here. and AMD partners we knew about were able to add a process env definition to work around this.

Which project do you work on? I'd love to understand why you're still using AMD and not using any modern module system which supports building debug code, but more importantly would like a contact to talk about AMD needs.

[2019-09-17 02:10] HalcyonPride commented on #9997
@dzearing, that sounds good to me 😊 thanks for the feedback!
@leddie24, could you please revise your code per David's proposal?

[2019-09-17 02:20] dzearing commented on #10464
@betrue-final-final Thoughts?

[2019-09-17 04:23] betrue-final-final commented on #10464
Hover has no requirement but selected does if there is no other indicator of selection. I suspect that if the value is in the dropdown then it is ok.

[2019-09-17 06:26] alex3683 commented on #10451
You said

It would be ok for me to implement this myself using the Fabric components without the need to change their source code. But it would be great if you have any hints on how to inject for example the draggable attribute into the component, or to listen on drag stop events. The updating of the model isn't that hard then.
Perhaps it would be sufficient to give the possibility to enable such

[2019-09-17 08:23] e-gallis commented on #10462
Great job @Jahnp ... Thanks a lot... Works fine...

[2019-09-17 09:02] reficul31 opened #10471 "setIndexSelected selects multiple items in DetailsList when Selection mode is single"
### Environment Information

- **Package version(s)**: 7.34.0 (Latest master branch)
- **Browser and OS versions**: Chrome Version 76.0.3809.132, Microsoft Edge 44.18362.329.0, / Windows 10 Enterprise Edition

### Please provide a reproduction of the bug in a codepen:
Please find the [codepen link](https://codepen.io/reficul31/pen/BaBOmKO)
On line 98, I explicitly state the SelectionMode of the De

[2019-09-17 09:15] reficul31 opened #10472 "Jitters while Scrolling in Details List component"
### Environment Information

- **Package version(s)**: 7.34.0 (Latest master branch)
- **Browser and OS versions**: Chrome Version 76.0.3809.132, Microsoft Edge 44.18362.329.0, Firefox Quantum 69.0 (64-bit) / Windows 10 Enterprise Edition
Screen Resolutions: 2560 x 1440, 1707 x 960

### Please provide a reproduction of the bug in a codepen:
Please find the [codepen link](https://codepen.io/reficul

[2019-09-17 09:51] reficul31 opened #10473 "When Virtualization is true, ScrollMode.bottom behaviour is being ignored"
### Environment Information

- **Package version(s)**: 7.34.0 (Latest master branch)
- **Browser and OS versions**: Chrome Version 76.0.3809.132, Microsoft Edge 44.18362.329.0, Firefox Quantum 69.0 (64-bit) / Windows 10 Enterprise Edition

### Please provide a reproduction of the bug in a codepen:
Please find the [codepen link](https://codepen.io/reficul31/pen/eYOLyNW)
In order to reproduce the bu

[2019-09-17 09:59] reficul31 opened #10474 "stopPropogation used in code doesn't allow key events to be handled outside the list"
### Environment Information

- **Package version(s)**: 7.34.0 (Latest master branch)
- **Browser and OS versions**: Chrome Version 76.0.3809.132, Microsoft Edge 44.18362.329.0, Firefox Quantum 69.0 (64-bit) / Windows 10 Enterprise Edition

#### Actual behavior:
We are creating a functionality in our application where we render a list of items in a div. We would like to change the default key handl

[2019-09-17 10:26] reficul31 opened #10475 "Typing to Scroll in Details List"
#### Describe the feature that you would like added
An application that I was working on recently required the use of Details List. Previously the functionality being replaced by Details List was implemented using ```<select>``` element. Since ```<select>``` natively supports in Chrome the ability to type and scroll, I would really like to see this feature integrated in the base of Details List.

[2019-09-17 11:01] chenxinyanc opened #10476 "Stack with grow=true clips inner children"
### Environment Information

- **Package version(s)**: 7.31.0
- **Browser and OS versions**: Edge 78.0.268.3 Dev on Windows 10

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/xinychen/pen/rNBZJeQ

#### Actual behavior:
The heading gots clipped. In the actual scenario, it can be the tooltip of monaco-editor.
![image](https://user-images.githubusercontent.com/50703224/

[2019-09-17 12:22] watty888 commented on #10406
Hi Natalie! Great that it's fixed! However, are there any updates regarding 6.x.x version fix?

[2019-09-17 13:51] ThreadPitt commented on #10363
Unfortunately, that doesn't work for us ("office-ui-fabric-react": "^7.34.0").
In the network panel of Chrome, I still see it being loaded from https://static2.sharepointonline.com/....

Also, the doc doesn't state if "initializeIcons(/* optional base url */);" base url has to be a fully qualified url or if it can be a server relative url like "/content/fonts/"?

Thanks!

[2019-09-17 14:29] aappddeevv commented on #10367
@dzearing Thoughts?

[2019-09-17 16:00] dzearing commented on #9463
@Raghurk this has gone idle for a while; have any update?

[2019-09-17 16:27] kenotron commented on #10461
There's an idea I had about post processing some of the code we transpile:

1. lib-commonjs code still requires "lib" from other libraries from our codebase (requiring our consumers to still run babel in jest)
2. lib-amd having their process.env stripped out

I am not against that post-transpile step. But have to think through what consequences are here.

[2019-09-17 16:50] gioce90 commented on #6636
When we can have the required propertyfor the BasePicker? Iit's really limiting not having it.

[2019-09-17 17:05] jdhuntington commented on #8061
4 - Appears to have been fixed (demo is different, but label is correctly narrated now)

[2019-09-17 17:15] natalieethell commented on #10406
@watty888 Thanks for the reminder! I'll cherry pick into 6.0 right now.

[2019-09-17 17:27] natalieethell commented on #10406
You can follow the cherry-pick into 6.0 here: https://github.com/OfficeDev/office-ui-fabric-react/pull/10478.

[2019-09-17 17:31] natalieethell commented on #10435
Hey @effectivetom thanks for opening an issue. I see what you're describing, we're taking a closer look.

[2019-09-17 17:41] jdhuntington commented on #8061
1 - no repro

[2019-09-17 17:53] jlukosky opened #10479 "Use of linear-gradient overrides site background color in Edge high contrast mode"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:

Viewing the site in Edge (the classic one, not Chromium) while using high contrast black the page has a white background.

### Please provide a reproduction of the issue in a codepen:
1. In Windows 10, turn on high contrast using the high contrast black th

[2019-09-17 18:01] jdhuntington commented on #8061
2 - no repro (outline does appear if tab was used to open dialog, but does not appear otherwise)

[2019-09-17 18:14] rexkenley opened #10480 "Tooltip not showing if content is truncated"
### Environment Information

- **Package version(s)**: 7.34.0
- **Browser and OS versions**: Windows 10 Chrome 76

### Describe the issue:

The tooltip will not show if the content is truncated in a column in a detailist row.

//< span>
//  <TooltipHost
//    content={contentText}
//    id={getId("tooltipHost")}
//    calloutProps={{ gapSpace: 0 }}
//   delay={TooltipDelay.zero}
//    directionalH

[2019-09-17 18:50] aneeshack4 commented on #10454
@shiliangdn Hello! I started a DetailsList Codepen https://codepen.io/aneeshack4/pen/eYOLodR - would you mind changing it to show your scenario? This will help show what the problem is clearly.

[2019-09-17 19:46] jdhuntington commented on #8061
3 - Needs a comprehensive fix; will split into separate ticket.

[2019-09-17 19:49] jdhuntington commented on #8061
5 - no repro

[2019-09-17 19:51] marygans commented on #9970
Hi @anushkumarkorukonda just wondering if you were able to successfully log a bug with the IE team?

[2019-09-17 19:52] marygans commented on #8031
Yes I agree, and ok I am on it

[2019-09-17 21:28] aneeshack4 commented on #10456
@OfficeDev/uifabric-calendar @lorejoh12 thoughts on adding 'required' to the DatePicker?

[2019-09-17 21:31] aneeshack4 commented on #10458
@dzearing thoughts on reexporting these functions in styling so that only the utilities library needs to be imported?

[2019-09-17 21:47] natalieethell commented on #10442
Hey @ashitvora so sorry about your question going unnoticed! Here's a basic example of DatePicker using `calendarAs`: https://codepen.io/naethell/pen/eYOLxGb. You should be able to change the props passed into Calendar to also display the month picker and/or year picker.

I also see that the "See Code" isn't super helpful for the DatePicker examples, since each example is dependent on props passed

[2019-09-17 21:57] aneeshack4 commented on #10460
Hi @cathymc, it only announces first for me - you can see in the highlighted text below "Name, header". Narrator does make it hard to navigate so when I do caps lock to get to the next column header it puts focus on Name twice and reads out just Name twice. But when it gets to value it gets announced once "Value, header".
Chrome + Narrator:
![image](https://user-images.githubusercontent.com/416179

[2019-09-17 22:03] kenotron commented on #6356
Most of these are targeting an old version of the site, so the tests are not valid anymore. But I am going through all these bugs on the new site as much as I can. I'm testing all the non-scan mode first (parallels & remote desktop isn't really working well with capslock for some reason on my box)

[2019-09-17 22:21] aneeshack4 commented on #10479
@jlukosky Thanks for reporting this! I'm able to repro this:
![image](https://user-images.githubusercontent.com/4161791/65083834-78e5f380-d95e-11e9-847f-e5b0b66c8dc6.png)

@Jahnp I spoke with Elizabeth & she said this was probably copied over from the HIG - maybe a HC override is appropriate here or do you know of any other fix?

[2019-09-17 22:23] kenotron commented on #6356
Bug 5 - cannot repro anymore

[2019-09-17 22:24] natalieethell commented on #10436
Hey @AparnaPrasad could you possibly provide a CodePen example for us demonstrating your scenario? Here's a basic List CodePen that has checkboxes but no Selection object, hopefully it can get you started: https://codepen.io/kevintcoughlin/pen/PoYyYqz. Thanks!

[2019-09-17 22:28] cathymc commented on #10460
Please try the same with the column headers in this example: https://developer.microsoft.com/en-us/fabric#/controls/web/detailslist

The issue is not related to the #9945 issue you tagged because we're not finding an issue with cell by cell or reading columns as you go through rows.

The issue with focusing on Name twice is the issue and it seems you have been able to reproduce this. I think you'l

[2019-09-17 22:41] natalieethell commented on #10443
Hey @cwdata thanks for providing a CodePen! Have you tried using `inputProps.onFocus`? Here's an example:

[code]
https://codepen.io/naethell/pen/gOYBYrM

Let us know if that works for your scenario!

Following a little more investigation, it looks like, currently, `this.props.onFocus` isn't actually read anywhere in BasePicker. `this.props.inputProps.onFocus` is called, though. @joschect what is

[2019-09-17 22:50] joschect commented on #10443
@natalieethell It looks like it was unused in the PR that added it. Furthermore I don't see it referenced anywhere even back a ways, so it wasn't a recent removal if it was ever added. I think we should deprecate and remove it to prevent confusion.

[2019-09-17 23:09] natalieethell commented on #10443
Opened a PR to deprecate `onFocus`, linked above.

[2019-09-17 23:13] aneeshack4 commented on #10471
@reficul31 Trying to repro this and I see on your codepen at first load that both item 4 and 6 are selected but once I focus on the detailslist and click around on different items, I'm unable to select multiple ever again... can you clarify - am I supposed to be seeing this only on the first load? And if so, I'm not sure what this means for how DetailsList's setIndexSelected was intended to be use

[2019-09-17 23:14] natalieethell commented on #10390
@AndrewCarterBreakwaterIT Yes, that should work. Thanks for providing a repro! We'll take a look.

[2019-09-17 23:33] aneeshack4 commented on #10472
@reficul31 I don't a jitter but I do notice that it places the next item in the center of the div as it scrolls to the next set of elements in view - I believe that's intended by design. @KevinTCoughlin or @natalieethell might have more insights into this or maybe we can consider other, more smooth behavior on scroll?

[2019-09-17 23:36] aneeshack4 commented on #10473
@reficul31 So this is working as expected in Edge & Firefox but not in Chrome? Sounds like a browser issue - unless there's something you know of that we can do in the DetailsList code to add support for it in Chrome?

[2019-09-17 23:42] aneeshack4 commented on #10474
@KevinTCoughlin or @natalieethell Any thoughts on allowing users to overwrite the default key handlers?

[2019-09-17 23:52] KevinTCoughlin commented on #10390
@AndrewCarterBreakwaterIT can you also add me as a collaborator to the project to debug? Thanks!

One theory is that DOM diffing leads to the React keeping the _same_ instance of `GroupedList` present which is retaining the first instance of `Selection`.

[2019-09-17 23:58] aneeshack4 commented on #10476
@chenxinyanc Thanks for reporting this & suggesting a fix! I'm a bit confused, trying to get a full understanding of the issue: looking at all the squares - why did the heading get clipped in the first place? Because grow pushed the items to take up more of the container? That doesn't make sense though since the heading in your codepen is part of the overall stack with the grow = true.

[2019-09-18 00:07] aneeshack4 commented on #10480
@rexkenley Thanks for reporting this! How did you wrap the items with the `<TooltipHost>`? I started a codepen with DetailsList that has items overflowing: https://codepen.io/aneeshack4/pen/NWKOWje could you add the Tooltip to it so I can get a repro? That'll help me debug why Tooltip isn't showing in this scenario.

[2019-09-18 00:09] natalieethell commented on #10437
Hey @agtenr thanks for reporting this - looks like a bug to me. We'll take a look at your proposed solution.

[2019-09-18 00:10] #8082 closed

[2019-09-18 00:11] aneeshack4 commented on #10475
@reficul31 Type to scrolls is a great feature but the specifics of this behavior will vary among all of the different use cases of DetailsList. For features like this, these differences make it hard to justify baking in just one specific variation into the shared Fabric control. This is likely achievable by using a combination of [`focusIndex`](https://github.com/OfficeDev/office-ui-fabric-react/b

[2019-09-18 00:30] kenotron commented on #6356
Note for the future person to read this: SplitButton has a keyboard shortcut of alt-down to open the menu. So, that's actually how one should open the contextual menu rather than an enter or space which triggers the command (click)

[2019-09-18 00:56] chenxinyanc commented on #10476
I'm placing a monaco-editor inside the `<Stack>`, and the editor has auto-completion / tooltip etc. that is layoued with `position: relative`, like the `<h1>` here in the CodePen.

The heading here is intentionally applied with `position: relative` and an `left/top` offset to demonstrate my scenario: the tooltip of monaco-editor, because I couldn't properly set up such editor in CodePen.

You can

[2019-09-18 01:00] kenotron commented on #6356
- [ ] TODO: Bug 16 is a real bug - will file a new bug for this, but only for example code.
need to add `title="New item"` to iconProps

[2019-09-18 01:06] kenotron commented on #6356
- [ ] TODO: Bug 17 is also real - custom split button example should have an `aria-label` for the chevron down

[2019-09-18 01:10] kenotron commented on #6356
- [ ] TODO: Bug 19 is real in that split focus should have a outline inside the button like the standard button, but not visible in the split button case

[2019-09-18 01:15] kenotron commented on #6356
- [ ] TODO: Bug 20 is real: high contrast mode does not show the icon in the split buttons:

![image](https://user-images.githubusercontent.com/34725/65095682-13523100-d977-11e9-8bea-13600a40607a.png)

[2019-09-18 01:56] dzearing commented on #10367
@aappddeevv Just submitted a PR. Let me know what you think.

[2019-09-18 02:22] iwasn opened #10484 "[Issue accidentally opened. Please remove.]"
Issue accidentally opened. Please remove.

[2019-09-18 02:40] shiliangdn commented on #10454
Created new one with my issue repro: https://codepen.io/liashi/pen/KKPGppy, you can click on each sub item to see what's going on.

[2019-09-18 02:58] caradong commented on #7254
Last time I synced with Micah, the next step is to adopt the slot implementation. I have not get a chance to finish those yet. Let me know if we want to have a quick sync again about this.

[2019-09-18 03:38] reficul31 commented on #10471
Yes, the functionality I was trying to demonstrate was when the selection mode of the DetailsList is set to single; subsequently calling setIndexSelected causes multiple selections. To clarify, in the pen you might see that the DetailsList SelectionMode is set to single.
Now when I call setIndexSelected from any function, not necessarily from componentDidMount, the initial selection is not deselec

[2019-09-18 03:51] reficul31 commented on #10472
@aneeshack4 . Yes by jitter I mean the placement of the next item in the center of the div. My team believes this is causing bad user experience on some browsers. Furthermore the behavior is not seen across browsers on different OS. The behavior being described here is a very tricky one as it effects only some browsers. The behavior is observed on the following browsers for most of my team members

[2019-09-18 03:52] micahgodbolt commented on #9348
yup...still an issue

seems stardust does this:

![image](https://user-images.githubusercontent.com/1434956/65109195-f3c60300-d98c-11e9-8dbb-eea58b60df1d.png)

and fast DNA increases border width:

![image](https://user-images.githubusercontent.com/1434956/65109310-04767900-d98d-11e9-87e3-271cf872d8d2.png)

[2019-09-18 04:00] micahgodbolt commented on #8616
#1 i can add the name, but it seems that title is redundant and unnecessary on buttons.

[2019-09-18 04:00] reficul31 commented on #10473
Yes, if you have a look at the codepen I have submitted, Chrome behavior is different from other browsers. Even edge is behaving differently when using ScrollMode.top. Here is a summary of my findings regarding the same:
* In chrome ScrollMode is ignored completely and the element is always placed in the center of the div.
* In Edge and Firefox ScrollMode.bottom is followed but it ignores ScrollMo

[2019-09-18 04:04] micahgodbolt commented on #8616
# 2 - going to remove that example. To fix issue we'd add a focus trap which is the same as the example next to it

[2019-09-18 04:09] reficul31 commented on #10475
@aneeshack4 Yes currently this is being achieved using onKeyDown handlers on a ```<div>``` wrapping the DetailsList. We are making use of ```focusIndex``` and ```scrollToIndex``` among other APIs to emulate the functionality. The reason we reached out to Office UI Fabric React team was to find out if this could baked into the base component so that uniformity of user experience can be guaranteed a

[2019-09-18 04:21] micahgodbolt opened #10485 "Callout does not return focus to original element when using 'hidden' prop"
The popup inside callout depends on "componentWillUnmount" to return focus to the originalFocusedElement

https://github.com/OfficeDev/office-ui-fabric-react/blob/3432f59416afac5a6f8535bb35bdba8bf438439f/packages/office-ui-fabric-react/src/components/Popup/Popup.tsx#L50-L65

Since the callout `hidden` prop is designed to not unmount the control, focus is never returned.

I'd prefer to keep the foc

[2019-09-18 05:03] micahgodbolt commented on #8616
4- onKeyPress (to close via escape) was only getting called when focus was on the callout. I added a window level listener for escape to call onKeyPress as well.

[2019-09-18 05:14] micahgodbolt commented on #8616
5 is A11yUsable. will come back to that later.

[2019-09-18 05:17] micahgodbolt commented on #8616
6- appears to be fixed now.

![image](https://user-images.githubusercontent.com/1434956/65113673-f0387900-d998-11e9-8be3-febfd220a2f5.png)

![image](https://user-images.githubusercontent.com/1434956/65113680-fa5a7780-d998-11e9-8fad-8d1d78d3bbf4.png)

[2019-09-18 06:19] micahgodbolt commented on #8616
7 - Still trying to understand the criteria for narrator to announce the role of a callout.

This example will say "Alert, then read the title of the callout"

http://www.oaa-accessibility.org/examplep/alertdialog1/

Our example is the same, but it doesn't announce the role. Might need to followup with Narrator team to understand why.

[2019-09-18 07:10] #10443 closed

[2019-09-18 07:55] ashitvora commented on #10442
Hi @natalieethell

thanks for the demo.
In your codepen, selecting the date does not update the date picker textbox.
Is this an expected behavior?

Is there any plan to add a Quarter Picker? Or is there a way we can add customer pickers?

[2019-09-18 08:44] reficul31 commented on #10475
Another behavior that I encountered while using the details list ```setIndexSelected``` and ```focusIndex``` functions.

I have a function which based on certain computation calculates the next index which needs to be selected. If virtualization is true and the element is an un-rendered item then in the function ```focusIndex```, the ```scrollToIndex``` works but the focus is not set to the new it

[2019-09-18 10:07] DhirajKhot opened #10488 "Dates in Datepicker are not navigable using keyboard in IE"
### Environment Information

- **Package version(s)**: Latest
- **Browser and OS versions**: IE 11

### Describe the issue:
After opening the calendar, w can use the Tab button to navigate to the dates section.
Once a date is in focus, we should be able to navigate through the dates using arrow keys.
Black box border is shown for the date which is currently focused. This is current behavior with C

[2019-09-18 11:36] rexkenley commented on #10480
Thank you aneeshack4.

https://codepen.io/rexkenley/pen/zYOmNyo

[2019-09-18 11:43] aappddeevv commented on #10367
Looks like concatStyles was enhanced to take IStyleFunctionOrObject so that looks good. Thanks a bunch.

[2019-09-18 11:45] thomasgassmann opened #10489 "CheckboxVisibility for DetailsHeader"
#### Describe the feature that you would like added

As far as I can tell, it is currently not possible to apply something like `checkboxVisibility` for the header.
I have also tried passing the `onRenderDetailsHeader` property as follows:
[code]

Currently it seems, as if `DetailsRowCheckBase` always has `isVisible` set to `false` (not passed from `DetailsHeaderBase` and default `false`).

#### W

[2019-09-18 11:53] rexkenley commented on #10480
Well, I tinkered with the pen a bit and found that the cause of tooltip not showing is the enclosing span tags. Once I removed the span, the tooltip shows.

Thanks for the quick response!

[2019-09-18 11:53] #10480 closed

[2019-09-18 13:54] sandeepnmenon opened #10491 "Focus on the rows in the grid auto-selects the row instead of user pressing space key"
### Environment Information

- **Package version(s)**: (6.182.1)
- **Browser and OS versions**: (Edge/Chrome and Windows 10)

### Issue:

When focus comes to any of the rows in the grid, the row is automatically getting selected without any user action.
Also, the selection made in a row is cleared when navigating to other rows via keyboard. This does not allow keyboard users to select multiple row

[2019-09-18 14:32] harshvardhan3946 opened #10492 "Icon is not showing title on keyboard focus, whereas working fine for mouse hover"
### Environment Information

- **Package version(s)**: 6.182.1
- **Browser and OS versions**: chrome, windows 10

### Describe the issue:

### Icon title is visible on mouse hover, whereas through keyboard it not.

https://codepen.io/harshvardhan3946/pen/MWgPvrp?&editable=true

#### Actual behavior:

Tooltip "title" which is available on mouse hovering is not available for keyboard users

#### Exp

[2019-09-18 14:46] tipantaz opened #10493 "Message Bar and link colors do not work well in high contrast mode"
Hello team!
I couldn't find a duplicate of this but there are some bugs that seem related.

The bug is the following:
When I have a link in the message bar and specify a color, in high contrast mode black it does not work properly on edge.

It stays the same color while the background becomes white as well.

https://codepen.io/tipantaz/pen/MWgPvjj

Actual behavior:
Link color stays the same.

Expe

[2019-09-18 15:35] #10299 closed

[2019-09-18 16:02] micahgodbolt commented on #7761
3 - removed tooltips as they aren't important for the demo

[2019-09-18 16:03] micahgodbolt commented on #7761
1 - added name values to buttons without visible text

[2019-09-18 16:11] #9899 closed

[2019-09-18 16:28] kenotron opened #10494 "Accessibility: all SplitButton example code needs title in iconProps"
### Environment Information

- **Package version(s)**: 7.x

### Describe the issue:

Splitting out #6356 to smaller bugs to be fixed. This one concerns the example area and needs a title to be placed in the iconProps.

### Repro

1. Open 'https://developer.microsoft.com/en-us/fabric#/components/button' in Edge.
2. Navigate to the 'Split button with icon and custom styles' section under 'Implementa

[2019-09-18 16:31] kenotron opened #10495 "Accessibility: SplitButton example should have an aria-label for the custom example (primary button)"
### Environment Information

- **Package version(s)**: 7.x

### Describe the issue:

Splitting out #6356 to smaller bugs to be fixed. SplitButton example should have an aria-label for custom example (primary button)

### Repro

1. Open 'https://developer.microsoft.com/en-us/fabric#/components/button' in Edge.
2. Navigate to the 'Split button with icon and custom styles' section under 'Implementati

[2019-09-18 16:38] kenotron opened #10496 "Accessibility: high contrast mode does not show the icon in the disabled splitbuttons Examples"
### Environment Information

- **Package version(s)**: 7.x

### Describe the issue:

Splitting out #6356 to smaller bugs to be fixed. SplitButton examples in high-contrast mode does not show the disabled chevron down buttons

### Repro

1. Turn on highcontrast mode, open Edge
2. Open 'https://developer.microsoft.com/en-us/fabric#/components/button' in Edge.
3. Look for the disabled SplitButton exa

[2019-09-18 16:39] kenotron commented on #6356
I've filed individual bugs for the ones that we're taking on for this button a11y pass.

[2019-09-18 16:39] #6356 closed

[2019-09-18 16:45] micahgodbolt commented on #7761
2  - changed label text to match

[2019-09-18 17:27] natalieethell commented on #10442
@ashitvora Whoops, sorry about that! I updated the CodePen and cleaned it up a bit - looks like it was just missing a props spread. https://codepen.io/naethell/pen/eYOLxGb

I don't believe there are currently any plans to support a Quarter Picker. However, as long as the control you're passing into the DatePicker takes in `ICalendarProps`, it should work.

[2019-09-18 17:41] kenotron commented on #10496
This is no longer repro'ing for Fabric 7:

![image](https://user-images.githubusercontent.com/34725/65171919-d894db00-da00-11e9-91ab-8050bf8701c5.png)

[2019-09-18 17:41] #10496 closed

[2019-09-18 17:45] iwasn opened #10497 "Dropdown: Narrator is not announcing the options when using Up/Down arrow keys (without the list being expanded)"
### Environment Information

- **Package version(s)**: Latest (7.35.0)
- **Browser and OS versions**: Windows/Edge (but possibly all)

### Describe the issue:

### Please provide a reproduction of the issue in a codepen:

* Go to dropdown page using narrator: https://fabricweb.z5.web.core.windows.net/oufr/7.35.0/#/examples/dropdown

* Focus on any dropdown via tab

* Expand dropdown (via alt-down,

[2019-09-18 17:49] kenotron commented on #10495
Actually this is no repro anymore, I'm closing this one - #10494 remains to be the only issue

[2019-09-18 17:49] #10495 closed

[2019-09-18 18:29] micahgodbolt commented on #7761
6 - added aria-orientation vertical/horizontal

[2019-09-18 18:50] natalieethell commented on #10444
This seems like a valid ask to me - @dzearing @micahgodbolt could you take a look at this one? Has exposing these string constants been discussed?

[2019-09-18 20:00] #10409 closed

[2019-09-18 20:21] #10484 closed

[2019-09-18 20:32] aneeshack4 commented on #10488
@DhirajKhot Are you sure you're using the latest version of IE11 and Fabric? This doesn't repro for me - the black box does get drawn during keyboarding:
![image](https://user-images.githubusercontent.com/4161791/65183646-beff8d80-da18-11e9-8130-e04fe33d8fa0.png)
![image](https://user-images.githubusercontent.com/4161791/65183678-cd4da980-da18-11e9-84c8-f51b502f2bdd.png)

[2019-09-18 20:48] gogogadgetearl opened #10500 "Documentation site is not loading"
### Environment Information

- **Package version(s)**: n/a
- **Browser and OS versions**:
    - Chrome 76 (with & without uBlock enabled)
    - Edge 44 (with & without uBlock enabled)

### Please provide a reproduction of the bug in a codepen:

n/a

#### Actual behavior:

Spinner continues to spin with no result.

![image](https://user-images.githubusercontent.com/23261316/65184376-5eca1500-da33-1

[2019-09-18 20:50] aneeshack4 commented on #10491
@sandeepnmenon What is "respective is row"? What are the exact steps to repro this?

And I believe the other behaviors are intended by design - only allowing selection of adjacent rows and clearing the selection of all rows after navigating into the rows. I'll check with the component owners & report back about this.

[2019-09-18 20:53] aneeshack4 commented on #10500
@gogogadgetearl Are you sure your internet connection/everything else in your environment is solid? It's loading for me on Chrome, Edge, and IE11 - not able to repro this. Also not sure what uBlock is - perhaps the presence of that on your system is causing this.

[2019-09-18 21:22] jdhuntington opened #10501 "This is a test"

[2019-09-18 21:22] #10501 closed

[2019-09-18 21:23] jdhuntington opened #10502 "Name is not defined for close button in the TeachingBubble dialog"
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B2f27d6ee-4e41-49bd-8216-6ca26df23f17%7D&action=default&uid=%7B2F27D6EE-4E41-49BD-8216-6CA26DF23F17%7D&ListItemId=1837&ListId=%7B395E1ECB-5002-440E-81C5-6A090E98077C%7D&odsp=1&env=prodbubble)

This issue represents an issue from #8088

[2019-09-18 21:24] jdhuntington opened #10503 "[Accessibility][Keyboard Navigation]: Title of the TeachingBubble dialog is not defined as heading. ("Bug2")"
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B2f27d6ee-4e41-49bd-8216-6ca26df23f17%7D&action=default&uid=%7B2F27D6EE-4E41-49BD-8216-6CA26DF23F17%7D&ListItemId=1837&ListId=%7B395E1ECB-5002-440E-81C5-6A090E98077C%7D&odsp=1&env=prodbubble)

This issue represents an issue from #8088

[2019-09-18 21:24] jdhuntington opened #10504 "[Accessibility][Programmatic access]: Alt attribute is not defined for image inside the TeachingBubble dialog.("Bug3")"
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B2f27d6ee-4e41-49bd-8216-6ca26df23f17%7D&action=default&uid=%7B2F27D6EE-4E41-49BD-8216-6CA26DF23F17%7D&ListItemId=1837&ListId=%7B395E1ECB-5002-440E-81C5-6A090E98077C%7D&odsp=1&env=prodbubble)

This issue represents an issue from #8088

[2019-09-18 21:24] jdhuntington opened #10505 "[Accessibility][Usable]: TeachingBubble dialog is not getting closed with ESC key.("Bug4")"
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B2f27d6ee-4e41-49bd-8216-6ca26df23f17%7D&action=default&uid=%7B2F27D6EE-4E41-49BD-8216-6CA26DF23F17%7D&ListItemId=1837&ListId=%7B395E1ECB-5002-440E-81C5-6A090E98077C%7D&odsp=1&env=prodbubble)

This issue represents an issue from #8088

[2019-09-18 21:24] jdhuntington opened #10506 "[Accessibility][Keyboard Navigation]: Focus moves to top of the browser in forward navigation instead of staying in the TeachingBubble dialog.("Bug5")"
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B2f27d6ee-4e41-49bd-8216-6ca26df23f17%7D&action=default&uid=%7B2F27D6EE-4E41-49BD-8216-6CA26DF23F17%7D&ListItemId=1837&ListId=%7B395E1ECB-5002-440E-81C5-6A090E98077C%7D&odsp=1&env=prodbubble)

This issue represents an issue from #8088

[2019-09-18 21:24] jdhuntington opened #10507 "[Accessibility][ Supporting the platform]: 'Try it Out' button present in the TeachingBubble dialog is not adopting high contrast settings. ("Bug6")"
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B2f27d6ee-4e41-49bd-8216-6ca26df23f17%7D&action=default&uid=%7B2F27D6EE-4E41-49BD-8216-6CA26DF23F17%7D&ListItemId=1837&ListId=%7B395E1ECB-5002-440E-81C5-6A090E98077C%7D&odsp=1&env=prodbubble)

This issue represents an issue from #8088

[2019-09-18 21:25] jdhuntington opened #10508 "[Accessibility][Usable]: Screen does not scroll down along with keyboard focus in Backward navigation.("Bug7")"
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B2f27d6ee-4e41-49bd-8216-6ca26df23f17%7D&action=default&uid=%7B2F27D6EE-4E41-49BD-8216-6CA26DF23F17%7D&ListItemId=1837&ListId=%7B395E1ECB-5002-440E-81C5-6A090E98077C%7D&odsp=1&env=prodbubble)

This issue represents an issue from #8088

[2019-09-18 21:25] jdhuntington opened #10509 "[Accessibility][Usable]: Screen reader is not reading the entire content of dialog box when the dialog opens.("Bug8")"
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B2f27d6ee-4e41-49bd-8216-6ca26df23f17%7D&action=default&uid=%7B2F27D6EE-4E41-49BD-8216-6CA26DF23F17%7D&ListItemId=1837&ListId=%7B395E1ECB-5002-440E-81C5-6A090E98077C%7D&odsp=1&env=prodbubble)

This issue represents an issue from #8088

[2019-09-18 21:26] jdhuntington commented on #8088
All bug level items opened as discrete items; closing this issue as a dupe.

[2019-09-18 21:26] #8088 closed

[2019-09-18 21:32] natalieethell commented on #10398
So by default, the Dialog focuses on the first focusable element in the DOM. In the case of the basic Dialog, the 'X' button comes first.

If you'd like to change this, you can actually customize which element in your dialog you'd like to focus on first by utilizing `modalProps.firstFocusableSelector`. Here's an example CodePen where I set the focus on the second action button on the bottom of the

[2019-09-18 21:32] jdhuntington commented on #10502
Was fixed in 62969eaf871a7adaf92471f33cb1d5add6699488

[2019-09-18 21:32] #10502 closed

[2019-09-18 21:43] aneeshack4 commented on #10491
@sandeepnmenon Please hold "CTRL" (or "CMD" on Mac) to navigate to non-adjacent rows and toggle selection with "SPACE" - this can be used to keyboard down to the rows without clearing all selected rows too.

[2019-09-18 21:47] kenotron commented on #6390
@kumar2608 - would you mind searching for dupes before adding a new issue in this area?
This is actually a dupe of #9712.

[2019-09-18 21:49] natalieethell commented on #7817
Looking at this again, we do now specify `setKey` on the DetailsList examples, so I think this may be okay as is. I'll close this issue.

[2019-09-18 21:49] #7817 closed

[2019-09-18 21:51] jgage176 opened #10510 "Inappropriate names announced for the pagination buttons"
Actual:​
1. In K4D tool for the buttons such as "1", "2", "3", etc. is provide with name as "1 button", '2 button", "3 button", etc. respectively which is incorrect.​
2. In k4D tool selected pagination button such as "1" is provided with name as "undefined selected page button" which is incorrect.

​Expected:​
For screen reader users the pagination button such as "1", "2", "3", etc. buttons should

[2019-09-18 22:21] phkuo opened #10512 "Animations leave invisible element behind"
Ran into an issue earlier using the animations, they fade out using opacity. However, with opacity:0, the element is still interactable. That means hover events were still triggering, and there were invisible clickable links. This should instead be changed to visibility:hidden (which can be animated) or display:none (which cannot be animated, afaik).

[2019-09-18 22:22] jdhuntington commented on #10507
<img width="317" alt="Annotation 2019-09-18 152128" src="https://user-images.githubusercontent.com/147/65191186-0a6d6800-da28-11e9-82f2-1674d32a9282.png">

This has been fixed previously.

[2019-09-18 22:22] #10507 closed

[2019-09-18 22:24] aneeshack4 commented on #10492
@harshvardhan3946 Hi, I'm able to see the Tooltip title through keyboarding too:
![image](https://user-images.githubusercontent.com/4161791/65191205-13f6d000-da28-11e9-9fdd-835d565a78c0.png)
This is what I see on mouse hover - which is the same thing:
![image](https://user-images.githubusercontent.com/4161791/65191278-499bb900-da28-11e9-8bea-16a62f04da34.png)

You say Icon title first and then Too

[2019-09-18 22:24] jdhuntington commented on #10505
Unable to reproduce. May have been fixed in `Callout` fixes, but does not repro in any of the teaching bubble variants.

[2019-09-18 22:24] #10505 closed

[2019-09-18 22:25] phkuo opened #10513 "Customizations: perf requests"
For the Customizations framework, I'd like to see two things:

1) A way to batch updates. For example, you can only apply one scoped setting at a time. If you do this in a for loop, then ever single iteration is triggering a forced update. On a SharePoint page this freezes the whole page for almost 1s on Chrome. So either a batchedUpdate() utility function, or a way to set multiple settings and sc

[2019-09-18 22:25] phkuo commented on #10512
I don't know if this was true of all animations, but definitely the slidingOut ones I was using.

[2019-09-18 22:50] kenotron opened #10514 "[Accessibility][Suggestion][Keyboard navigation]: (ComboBox / Button ContextualMenu) List items should only be navigable through up/down arrow keys."
### Environment Information

- **Package version(s)**: 7.x
- **Browser and OS versions**: Chrome

### Describe the issue:

The contextual menu does not dismiss when pressing Tab key. This issue came from #6390. It is the last remaining issue.

### Repro Steps

1. Open 'https://developer.microsoft.com/en-us/fabric#/components/commandbar' in Edge.
2. Navigate to 'New control' under CommandBar with o

[2019-09-18 22:51] kenotron commented on #10514
@betrue-final-final Can you give us guidance here? What should the behavior be for the contextual menu when the tab key is pressed?

[2019-09-18 22:56] kenotron commented on #6390
Opened a new bug to address the single issue left over.

[2019-09-18 22:56] #6390 closed

[2019-09-18 22:58] gogogadgetearl commented on #10500
Oof.  Same issue across multiple browsers from the same machine, which made me think it was either on the server end or at the OS level (DNS caching of a bad IP perhaps?).

After way too much troubleshooting on my own machine...a reboot seems to have fixed it.  /facepalm.

Sorry!

[2019-09-18 22:58] #10500 closed

[2019-09-18 23:25] micahgodbolt commented on #7761
5 - narrator does not convey any information about menubars. This w3.org example provides the exact same result:

https://www.w3.org/TR/2017/NOTE-wai-aria-practices-1.1-20171214/examples/menubar/menubar-1/menubar-1.html

[2019-09-18 23:30] micahgodbolt commented on #7761
7 - in the same menubar example, narrator is not reading off the positions either. https://www.w3.org/TR/2017/NOTE-wai-aria-practices-1.1-20171214/examples/menubar/menubar-1/menubar-1.html

From everything i've read, posinset is only required if not all of the items are present in the DOM.

https://www.digitala11y.com/aria-posinset-properties/

[2019-09-18 23:51] aneeshack4 commented on #10493
@tipantaz Thanks for reporting this! I believe the MessageBar styles are missing a HighContrastSelector - I will send a fix out.

[2019-09-18 23:59] jdhuntington commented on #10508
As per doc, this is a dupe of #6356

[2019-09-18 23:59] #10508 closed

[2019-09-19 00:00] jdhuntington commented on #10509
As per doc, this is a dupe of #6356

[2019-09-19 00:00] #10509 closed

[2019-09-19 00:03] aneeshack4 commented on #10510
@jgage176 Which buttons on that sharepoint page are you referring to?

Looking at the Pagination code, this might be fixed by setting a different ariaLable on the IIconProps that are used for firstPageIconProps, previousPageIconProps, etc... @caradong is that the right approach?

[2019-09-19 00:09] jdhuntington commented on #10506
Verbatim:

In Backward Navigation the dialog is getting closed automatically and focus moves to the triggering element(Show TeachingBubble button)
Note: Issue is seen with all the teachingBubble available under Variant.

[2019-09-19 00:43] dzearing commented on #10512
@Jahnp this one is interesting. I didn't think you could animate visibility.

[2019-09-19 00:43] dzearing commented on #10512
If it's a timeline, you can always set it at 100%

[2019-09-19 00:46] dzearing commented on #10512
Found it; in AnimationStyles.ts

[code]

[2019-09-19 00:52] phkuo commented on #10512
To hack around it, I used `transition: 'visibility ' + animationDuration + ' ' + animationDelay` and just used a switch to set it on/off.

[2019-09-19 00:57] whykushal93 opened #10516 "Make SwatchColorPicker properly controllable"
#### Describe the feature that you would like added
Currently, to make the `SwatchColorPicker` fully controllable we need to use a prop `isControlled`. This prop was added temporarily so that we do not introduce breaking changes.

But when we next do a major update, we should properly fix up the `SwatchColorPicker` code so that it is consistent with how other components allow themselves to be full

[2019-09-19 00:58] whykushal93 commented on #10516
This will be a breaking change and will need to done when moving to the next major version.

[2019-09-19 01:00] #7786 closed

[2019-09-19 01:01] dzearing commented on #10513
Let's talk about ideas. This makes sense; it's the eventing firing that you really want to debounce.

[2019-09-19 01:03] smoralesd commented on #10261
This accessibility insights web issue may be related:
https://github.com/microsoft/accessibility-insights-web/issues/981

[2019-09-19 01:04] phkuo commented on #10513
I'm actually going to start working on the second one this week. The perf regerssion from applying the fluent-theme Customizations is too much to ignore.

[2019-09-19 01:16] varunch7 commented on #10449
@chnldw @aneeshack4
This seems to happen after the addition of the Fast icon variants in v7.25.0, where the IconButton and other components that accept an `iconProps` prop like `DetailsList` now render the `FontIcon` or `ImageIcon` component by default instead of the `Icon` component.
These components have an `ms-Icon` class name that is meant to be used for styling non-themeable Icon components.

[2019-09-19 01:17] jspurlin opened #10517 "ContextualMenu: Bounds prop should align with CalloutBase"
#### Describe the feature that you would like added
CalloutContent was recently updated to allow creators to pass a function as bounds and it returns the bounding rect. The ContextMenuProps need to be updated to allow that same functionality

#### What component or utility would this be added to
ContextualMenu

#### Have you discussed this feature with our team, and if so, who
I discussed the Call

[2019-09-19 01:20] #10489 closed

[2019-09-19 01:35] #10314 closed

[2019-09-19 02:40] DhirajKhot commented on #10488
Hi @aneeshack4

I am using the latest version of IE 11.
![image](https://user-images.githubusercontent.com/20378231/65209099-ac3a9680-dab4-11e9-8250-bb3f08269afd.png)

I tried on multiple apps of office.com like To-Do, Planner, Project.
I could repro the issue at all the places.
I also tried to create a sample react app and just use the Calendar component of office fabric.
I was able to repro the

[2019-09-19 02:53] luckyrass opened #10518 "Axis Labels for LineChart does not display properly When the Y coordinate value is large"
### Environment Information

- **Package version(s)**: (@uifabric/charting 0.135.0)
- **Browser and OS versions**: (All browser)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

- Y-axis label can only display up to five digits.

![image](https://user-images.githubusercontent.com/12230173/65209178-e2364580-dac9-11e9-8c84-53cf238cbf70.png)

- X-axis label can not

[2019-09-19 03:21] sandeepnmenon commented on #10491
@aneeshack4  Thank you for the response.
Holding "CTRL" (or "CMD" on Mac) to navigate solves the second issue mentioned.

The first issue:
When focus comes to any of the rows in the grid via tabbing or via arrow keys,the row is selected automatically. (Without the user having to press space key)
Please close the issue, if this behavior is by design

[2019-09-19 05:07] harshvardhan3946 commented on #10492
We see hover card as well as icon tittle on mouse hover. When we use keyboard we get hover cards, but there is no way from keyboard to see title. Refer below screenshot.

Ideally for a keyboard user after hover card, on right arrow press, title should be shown (assuming this is what is called tooltip).

![image](https://user-images.githubusercontent.com/14051057/65214778-e0b84d80-dac8-11e9-8d44-f6

[2019-09-19 07:10] anushkumarkorukonda commented on #9970
@marygans  I tried reaching IE team for raising this issue. But I am not able to get right contact or right place to log this issue. Can you please help to file this issue if possible?

[2019-09-19 07:44] sandeepnmenon opened #10519 "Screen reader is not reading the action performed when we check/uncheck the select all checkbox"
### Environment Information

- **Package version(s)**: (6.182.1)
- **Browser and OS versions**: (Edge/Chrome and Windows 10)

### Describe the issue:

Screen reader(Narrator/NVDA) is not reading the action performed when we check/uncheck the select all checkbox

### Please provide a reproduction of the issue in a codepen:
https://codepen.io/sandeepnmenon/pen/NWKOgYo?&editable=true

#### Actual beh

[2019-09-19 08:02] mfdezvil opened #10520 "DatePicker does not display selected date when focus in other component"
### Environment Information

- **Package version(s)**: 6.204.0 and 7.35.0
- **Browser and OS versions**: Google Chrome 77.0.3865.75  (64 bits)

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/mfdezvil/pen/mdbzYbb

#### Actual behavior:

I have implemented two DatePicker components, with a defined "onSelectDate" function. I select one date in the first DatePicker and i

[2019-09-19 09:35] cwdata commented on #10443
@natalieethell
Thanks for your suggestion. Using inputProps.onFocus works well in our scenario.

[2019-09-19 11:28] 999-Dev commented on #8061
New issue found:

Bug10: [Accessibility][Tracking of focus]: Narrator focus moves to the background while navigating the dialogue box by using up and down arrow keys.

**Test Environment:**
OS: Version: RS5_Prerelease(1903 OS Build 18334.1)
URL: https://fabricweb.z5.web.core.windows.net/oufr/7.34.0/#/examples/dialog
Edge Browser Version:
Microsoft Edge: 44.18983.1.0
Microsoft EdgeHTML: 18.18983
Ch

[2019-09-19 13:59] AparnaPrasad commented on #10436
That is a list of checkbox, which is what I have but I also want to be able to drag and select. MS office UI react provides <Selection> component which works with details list but not with basic list or atleast I am not able to find the documentation on how to use it

[2019-09-19 16:09] maxwellred commented on #10261
microsoft/accessibility-insights-web#981

[2019-09-19 16:33] JasonGore commented on #6535
While Narrator may not accurately use `aria-modal` yet, I'm reopening this via #8654 for the following reasons:
* `FocusTrapZone` is not actually setting the `aria-modal` attribute.
* #6884 and #7654 set `aria-modal` on higher level components making use of `FocusTrapZone`, but I think `aria-modal` should have actually been set on `FocusTrapZone`. I believe `aria-modal` in these other components s

[2019-09-19 16:53] JasonGore commented on #8134
@jamesedjac I think the method you describe of applying `aria-hidden` to elements outside of the `Dialog` is actually under the control of content authors and not something that should ever be performed by `Dialog` itself.

Regarding behavior of `aria-modal`, this bug is essentially a duplicate of #6535 since `Dialog` uses `FocusTrapZone`.

[2019-09-19 17:27] natalieethell commented on #10436
@AparnaPrasad why not use DetailsList?

[2019-09-19 17:33] aneeshack4 commented on #10516
@whykushal93 Thanks for discussing this with a team member already! I'll reassign this to you since you're planning on taking this up for the next major release.

[2019-09-19 17:43] joshualamusga1 opened #10522 "Difficult to change column rendering per-column in DetailsList."
The DetailsList component takes onRenderDetailsHeader, which lets you specify onRenderColumnHeaderTooltip and return a JSX.Element that you can essentially use to override how columns are rendered. However, there is nothing to identify the column key so you know which column you're rendering.

DetailsColumn.base.tsx renders the tooltip with an id of `${parentId}-${column.key}-tooltip`. If you know

[2019-09-19 17:44] natalieethell commented on #10390
@AndrewCarterBreakwaterIT What Kevin mentions above might actually be the issue here.

Since selection is only set in the constructor of `DetailsList`, if React keeps the same instance of the object, that constructor isn't called to set a new selection object.

We would suggest one of the following two options:

1) Render all of the `DetailsList` (`GroupList` in your case) elements and hide the on

[2019-09-19 17:44] joshualamusga1 commented on #10522
What the heck, didn't want to create an issue. Closing.

[2019-09-19 18:00] #10327 closed

[2019-09-19 18:00] #10292 closed

[2019-09-19 18:44] smoak opened #10523 "Items in CommandBar that use commandBarButtonAs get re-mounted every time CommandBar re-renders."
### Environment Information

- **Package version(s)**: 7.36.0
- **Browser and OS versions**: Firefox, Chromium, Arch Linux (doesn't seem browser or OS specific)

### Please provide a reproduction of the bug in a codepen:

Repro in codepen (make sure the codepen console is open). You'll see that "AttachmentsButton" and "AttachmentsButtonCommandBarButtonAs" are mounted every time CommandBar is re-re

[2019-09-19 20:26] jgage176 commented on #10510
This bug is referring to the specific number buttons for the pagination:

![image](https://user-images.githubusercontent.com/29739628/65278424-f6397180-dae0-11e9-907c-10325413bda3.png)

Not sure if that would work to override it, however this really should be fixed globally so that each user doesn't have to override it, right?

[2019-09-19 20:28] kenotron commented on #6733
https://developer.microsoft.com/en-us/fabric?fabricVer=6#/controls/web/commandbar
Nowdays does not read out "X of Y item" anymore. It just simply says "menu item". I don't think this issue repros anymore

[2019-09-19 20:28] #6733 closed

[2019-09-19 20:31] aneeshack4 commented on #10517
Thanks for already submitting a fix to this @jspurlin!!

[2019-09-19 20:57] JasonGore commented on #7990
I do not see any actionable issues here so I will mark needing Author Feedback and let this issue close unless more feedback is added.

[2019-09-19 20:57] kenotron commented on #9659
I've linked the internal Narrator team via their Feedback Hub on Windows with this link:
https://www.w3.org/TR/wai-aria-practices/examples/listbox/listbox-collapsible.html

Which is closer in functionality than a ComboBox (simpler). We cannot action on this since we're already applying the correct aria-expanded state already. I'm closing this one - it is an external issue.

[2019-09-19 20:57] #9659 closed

[2019-09-19 21:17] aneeshack4 commented on #10518
@srideshpande Where is the width of the axis labels set? I thought it would've been in LineChart.base.tsx [where the YAxis gets created](https://github.com/OfficeDev/office-ui-fabric-react/blob/490a18220819833643f33985926b060bac28732d/packages/charting/src/components/LineChart/LineChart.base.tsx#L288).

[2019-09-19 21:27] jdhuntington opened #10529 "Name is not defined for close button in the TeachingBubble dialog"
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B2f27d6ee-4e41-49bd-8216-6ca26df23f17%7D&action=default&uid=%7B2F27D6EE-4E41-49BD-8216-6CA26DF23F17%7D&ListItemId=1837&ListId=%7B395E1ECB-5002-440E-81C5-6A090E98077C%7D&odsp=1&env=prodbubble)

This issue represents an issue from #8088

[2019-09-19 21:27] jdhuntington opened #10530 "[Accessibility][Keyboard Navigation]: Title of the TeachingBubble dialog is not defined as heading. ("Bug2")"
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B2f27d6ee-4e41-49bd-8216-6ca26df23f17%7D&action=default&uid=%7B2F27D6EE-4E41-49BD-8216-6CA26DF23F17%7D&ListItemId=1837&ListId=%7B395E1ECB-5002-440E-81C5-6A090E98077C%7D&odsp=1&env=prodbubble)

This issue represents an issue from #8088

[2019-09-19 21:27] jdhuntington opened #10531 "[Accessibility][Programmatic access]: Alt attribute is not defined for image inside the TeachingBubble dialog.("Bug3")"
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B2f27d6ee-4e41-49bd-8216-6ca26df23f17%7D&action=default&uid=%7B2F27D6EE-4E41-49BD-8216-6CA26DF23F17%7D&ListItemId=1837&ListId=%7B395E1ECB-5002-440E-81C5-6A090E98077C%7D&odsp=1&env=prodbubble)

This issue represents an issue from #8088

[2019-09-19 21:27] jdhuntington opened #10532 "[Accessibility][Usable]: TeachingBubble dialog is not getting closed with ESC key.("Bug4")"
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B2f27d6ee-4e41-49bd-8216-6ca26df23f17%7D&action=default&uid=%7B2F27D6EE-4E41-49BD-8216-6CA26DF23F17%7D&ListItemId=1837&ListId=%7B395E1ECB-5002-440E-81C5-6A090E98077C%7D&odsp=1&env=prodbubble)

This issue represents an issue from #8088

[2019-09-19 21:27] jdhuntington opened #10533 "[Accessibility][Keyboard Navigation]: Focus moves to top of the browser in forward navigation instead of staying in the TeachingBubble dialog.("Bug5")"
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B2f27d6ee-4e41-49bd-8216-6ca26df23f17%7D&action=default&uid=%7B2F27D6EE-4E41-49BD-8216-6CA26DF23F17%7D&ListItemId=1837&ListId=%7B395E1ECB-5002-440E-81C5-6A090E98077C%7D&odsp=1&env=prodbubble)

This issue represents an issue from #8088

[2019-09-19 21:27] jdhuntington opened #10534 "[Accessibility][ Supporting the platform]: 'Try it Out' button present in the TeachingBubble dialog is not adopting high contrast settings. ("Bug6")"
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B2f27d6ee-4e41-49bd-8216-6ca26df23f17%7D&action=default&uid=%7B2F27D6EE-4E41-49BD-8216-6CA26DF23F17%7D&ListItemId=1837&ListId=%7B395E1ECB-5002-440E-81C5-6A090E98077C%7D&odsp=1&env=prodbubble)

This issue represents an issue from #8088

[2019-09-19 21:27] jdhuntington opened #10535 "[Accessibility][Usable]: Screen does not scroll down along with keyboard focus in Backward navigation.("Bug7")"
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B2f27d6ee-4e41-49bd-8216-6ca26df23f17%7D&action=default&uid=%7B2F27D6EE-4E41-49BD-8216-6CA26DF23F17%7D&ListItemId=1837&ListId=%7B395E1ECB-5002-440E-81C5-6A090E98077C%7D&odsp=1&env=prodbubble)

This issue represents an issue from #8088

[2019-09-19 21:27] jdhuntington opened #10536 "[Accessibility][Usable]: Screen reader is not reading the entire content of dialog box when the dialog opens.("Bug8")"
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B2f27d6ee-4e41-49bd-8216-6ca26df23f17%7D&action=default&uid=%7B2F27D6EE-4E41-49BD-8216-6CA26DF23F17%7D&ListItemId=1837&ListId=%7B395E1ECB-5002-440E-81C5-6A090E98077C%7D&odsp=1&env=prodbubble)

This issue represents an issue from #8088

[2019-09-19 21:27] kenotron commented on #9689
In Scan mode, there is no documented way to "ESC" command:
https://support.microsoft.com/en-us/help/22809/windows-10-narrator-using-scan-mode

When the OS is in Scan Mode, the key events no longer happen the way that is normally expected. So, in other words, there is no way to control what escape does during Scan Mode. We therefore cannot affect this in anyway.

[2019-09-19 21:27] jdhuntington opened #10537 "[Accessibility][Programmatic access]: ARIA attributes must conform to valid values"
Breakout from #8061

Tracking all of the issues brought up with the 2/20 accessibility pass on Dialog control
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8704792b-ff92-40ce-969f-93c02c8b96a9%7D&action=default&uid=%7B8704792B-FF92-40CE-969F-93C02C8B96A9%7D&ListItemId=1824&ListId=%

[2019-09-19 21:27] jdhuntington opened #10538 "[Accessibility][Keyboard Navigation]: Focus indicator is not visible on the option B radio button in All emails together dialog for first time only."
Breakout from #8061

Tracking all of the issues brought up with the 2/20 accessibility pass on Dialog control
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8704792b-ff92-40ce-969f-93c02c8b96a9%7D&action=default&uid=%7B8704792B-FF92-40CE-969F-93C02C8B96A9%7D&ListItemId=1824&ListId=%

[2019-09-19 21:27] jdhuntington opened #10539 "[Accessibility][Usable]: All emails together dialog does not close with ESC in scan mode of narrator"
Breakout from #8061

Tracking all of the issues brought up with the 2/20 accessibility pass on Dialog control
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8704792b-ff92-40ce-969f-93c02c8b96a9%7D&action=default&uid=%7B8704792B-FF92-40CE-969F-93C02C8B96A9%7D&ListItemId=1824&ListId=%

[2019-09-19 21:27] jdhuntington opened #10540 "[Accessibility][Programmatic access]: Inappropriate name defined for All emails together dialog which appears on pressing enter on open dialog button under Default Dialog"
Breakout from #8061

Tracking all of the issues brought up with the 2/20 accessibility pass on Dialog control
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8704792b-ff92-40ce-969f-93c02c8b96a9%7D&action=default&uid=%7B8704792B-FF92-40CE-969F-93C02C8B96A9%7D&ListItemId=1824&ListId=%

[2019-09-19 21:27] jdhuntington opened #10541 "[Accessibility][Usable]: Focus moves out of the dialog(to the Microsoft logo) upon pressing CTRL+Home instead of moving to the first element of the dialog"
Breakout from #8061

[2019-09-19 21:27] jdhuntington opened #10542 "[Accessibility][Usable]: In Scan mode of narrator focus moves to the day/month/week image but it does not narrate anything."
Breakout from #8061

[2019-09-19 21:28] jdhuntington opened #10543 "[Accessibility][Usable]: Screen reader is not reading the entire content of dialog box which appears on pressing enter on open dialog button under Blocking Dialog when the dialog opens."
Breakout from #8061

[2019-09-19 21:28] jdhuntington opened #10544 "[Accessibility][Usable]: Screen reader is not reading the entire content of dialog box when the dialog opens."
Breakout from #8061

[2019-09-19 21:28] jdhuntington opened #10545 "[Accessibility][Usable]: Screen does not scroll down along with keyboard focus in Backward navigation."
Breakout from #8061

[2019-09-19 21:29] #10531 closed

[2019-09-19 21:29] jdhuntington commented on #10532
closing, accidentally opened

[2019-09-19 21:29] #10532 closed

[2019-09-19 21:29] jdhuntington commented on #10533
closing, accidentally opened

[2019-09-19 21:29] #10533 closed

[2019-09-19 21:29] jdhuntington commented on #10534
closing, accidentally opened

[2019-09-19 21:29] #10534 closed

[2019-09-19 21:29] jdhuntington commented on #10535
closing, accidentally opened

[2019-09-19 21:29] #10535 closed

[2019-09-19 21:29] jdhuntington commented on #10536
closing, accidentally opened

[2019-09-19 21:29] #10536 closed

[2019-09-19 21:29] jdhuntington commented on #10530
closing, accidentally opened

[2019-09-19 21:29] #10530 closed

[2019-09-19 21:29] jdhuntington commented on #10529
closing, accidentally opened

[2019-09-19 21:30] jdhuntington commented on #8061
Opened separate items instead of several issues being in 1 issue. Please refer to linked issues.

[2019-09-19 21:30] #8061 closed

[2019-09-19 21:33] aneeshack4 commented on #10520
Confirmed repro. Thanks for reporting this @mfdezvil! @lorejoh12 @OfficeDev/uifabric-calendar. I see that `selectedDate` is storied in state in DatePicker.base.tsx - is there a missing link in this variable's state management?

[2019-09-19 21:50] aneeshack4 commented on #10491
@sandeepnmenon Have you tried setting `disableAutoSelectOnInputElements` to true? https://developer.microsoft.com/en-us/fabric#/controls/web/references/selection#ISelectionZoneProps

[2019-09-19 22:00] #10415 closed

[2019-09-19 22:02] #10517 closed

[2019-09-19 22:03] #10286 closed

[2019-09-19 22:23] #10367 closed

[2019-09-19 22:28] #10503 closed

[2019-09-19 22:46] kenotron commented on #10214
I don't think these are the same anymore - the labels are both labelled the same thing, but we add a word "split" in there to differentiate.

![image](https://user-images.githubusercontent.com/34725/65286488-98168980-daf4-11e9-9b0f-7cfac42c9e06.png)

[2019-09-19 23:40] natalieethell commented on #10435
So, as you touched upon, scroll events are not cancelable by `preventDefault`, which is done for good reasons. I do see, however, how there may be scenarios like yours where it's useful to opt out of automatically selecting the first picker suggestion and closing the suggestions container on scroll.

Supporting this behavior would involve a bit of work.

There would be some extra logic specificall

[2019-09-19 23:57] aksingh commented on #10461
I work on the Planner team :) @dzearing we can chat offline reg other details

[2019-09-20 00:11] #8173 closed

[2019-09-20 00:41] joschect commented on #10435
@effectivetom let me make sure I understand correctly, your issue is that being dismissed by a scroll event still selects an item, even though you're preventing default?

If that's correct then I'm a bit confused. You're correct that the pickers do care about defaultPrevented, but for some reason it looks like preventDefault doesn't work on scroll events (see screenshot) We'll need to dig into thi

[2019-09-20 00:45] joschect commented on #10435
I think that the solution to this is that onDismiss should return something. That might be the only way to get it to do the right thing.

[2019-09-20 00:45] effectivetom commented on #10435
@joschect you're correct. The reason preventDefault has no effect is that the 'cancelable' property on the scroll event is set to false. I'm not sure what influences the value of this property for any given event.

Just thinking out loud here - what about adding a prop to BasePicker which controls whether the first available suggestion is automatically selected when suggestions are loaded? This co

[2019-09-20 00:56] dzearing commented on #10461
We are looking at a fix to strip the process.env.NODE_ENV from amd build output to make this less janky. Sorry for the trouble.

I am going to rename this issue to reflect the true problem :)

[2019-09-20 00:58] dzearing commented on #10461
@kenotron assigned to you for now, a build step to find/replace probably would be good enough.

[2019-09-20 01:00] #10419 closed

[2019-09-20 01:01] dzearing commented on #10461
@aksingh Please do reach out. It'd be great to have a contact so that we can run by any potential AMD impacting scenarios, but also we'd love to know sooner that we broke something unexpectedly!

[2019-09-20 01:08] dzearing commented on #9132
@joschect status on this one?

[2019-09-20 01:35] phkuo commented on #10513
Point 2 is here: https://github.com/OfficeDev/office-ui-fabric-react/pull/10549

[2019-09-20 01:36] phkuo commented on #10513
Point 1 is actually covered by point 2, you just use suppressUpdates() and then say `Customizations.applySettings({})` which will trigger an update.

[2019-09-20 02:30] dzearing commented on #9132
This has precedence over other work.

[2019-09-20 02:48] dzearing commented on #8995
@lorejoh12 gentle ping on responding to @mayankaggarwal092 feedback. If this is not the plan we should close, or, if we think this makes sense, we should have a plan to address

[2019-09-20 05:38] HarkeshS opened #10551 "Narrator is not reading TextField in case of multiline."
### Environment Information
It was repro at Edge
### Describe the issue:
In case of TextField is multiline, Narrator does not read textfield label, because Fabric control does not render "aria-labelledby" attribute.
-->

#### Actual behavior:

Fabric control does not render "aria-labelledby" attribute.

#### Expected behavior:

Fabric control (TextField -Multiline) must render "aria-labelledby" at

[2019-09-20 06:05] sandeepnmenon commented on #10491
@aneeshack4  Thank you for the comment. Although `disableAutoSelectOnInputElements  `did not work,
`isSelectedOnFocus `to false did work.

However, a specific scenario is failing.

Repro:
1. Tab till select all button
2. Press down arrow to see the first item being selected automatically. (Further pressing down arrow does not auto-select any more elements.)

Issue reproduced in below codepen
https

[2019-09-20 08:20] pandey11 commented on #9965
@marygans i think the latest version is not working properly, can you please try with combobox which have key as string type

[2019-09-20 09:38] chenxinyanc opened #10552 "Color for tick mark in Checkbox seems to be incorrect in AzureCustomizationsLight"
### Environment Information

- **Package version(s)**: 7.31.0
- **Browser and OS versions**: 78.0.276.2 dev

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/xinychen/pen/jONQxdq

#### Actual behavior:
![image](https://user-images.githubusercontent.com/50703224/65315753-383ee200-dbcb-11e9-8b9d-a26b40a19574.png)

#### Expected behavior:
Comment out the `latest` part and

[2019-09-20 14:35] thomasgassmann opened #10555 "Open up _getVisibleText on ComboBox"
#### Describe the feature that you would like added

I'd like to automatically filter dropdown items of the `ComboBox` as the user types. As far as I have seen, there is no way to get the current text value of the `ComboBox` (as the user types, not the actual selected or auto-completed item value). To do this, I had to access the private `_getVisibleValue()` method on the `componentRef` in the `on

[2019-09-20 17:00] jdhuntington commented on #10545
Resolving as a dupe of #8654 ("bug7"), which is itself resolved.

[2019-09-20 17:00] #10545 closed

[2019-09-20 17:07] jdhuntington commented on #10537
Current markup looks like the following. No `aria-describedby` are present any longer (though not exactly sure when this change was implemented).

[code]

[2019-09-20 17:07] #10537 closed

[2019-09-20 17:16] jdhuntington commented on #10541
Unable to repro. Looks like c0bbb0d61e0da3bccbb78654a6f49e0c56b7996e saw the addition of a `FocusTrapZone` which would fix this behavior.

[2019-09-20 17:16] #10541 closed

[2019-09-20 17:26] kenotron commented on #10485
From a discussion with @micahgodbolt, breaking this down (a little hacky though):

1. expose "setOriginalFocusElement()" and "focusOriginalElement()" (or something similar)
2. in CalloutContent.base.tsx's componentDidUpdate() - if hidden prop changes, then call these functions in (1)

[2019-09-20 17:29] JasonGore commented on #8654
The only actionable bug appears to be Bug5, addressed by #10556. I will tag this issue with Needs: Author Feedback and let it resolve unless additional feedback is provided.

[2019-09-20 18:44] jdhuntington commented on #10544
Looking at the ARIA spec and examples ( https://www.w3.org/WAI/GL/wiki/Using_ARIA_role%3Ddialog_to_implement_a_modal_dialog_box and https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/dialog.html ), it appears that narrator is behaving as expected. It's reading content until it arrives at the first actionable control, at which point it stops reading.

[2019-09-20 18:44] #10544 closed

[2019-09-20 18:47] jdhuntington commented on #10538
I am unable to repro. When opening the dialog with the keyboard, the outline is present around the focused radio option each time.

[2019-09-20 18:47] #10538 closed

[2019-09-20 18:48] jdhuntington commented on #10543
Looking at the ARIA spec and examples ( https://www.w3.org/WAI/GL/wiki/Using_ARIA_role%3Ddialog_to_implement_a_modal_dialog_box and https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/dialog.html ), it appears that narrator is behaving as expected. It's reading content until it arrives at the first actionable control, at which point it stops reading.

[2019-09-20 18:48] #10543 closed

[2019-09-20 19:17] jdhuntington commented on #10539
Dialog now closes with `escape`, even when in scan mode. Unable to find specific fix, but unable to repro.

[2019-09-20 19:17] #10539 closed

[2019-09-20 20:46] c-ryan-k commented on #10552
Hey @chenxinyanc - unfortunately our current azure-theme package is still based around Fabric 6 - the themes are not 100% ready to be used in Fabric 7 yet due to inconsistencies like these.

[2019-09-20 20:52] aneeshack4 commented on #10552
@chenxinyanc So it sounds like it's best to wait until Azure revamps their themes before using them in Fabric 7. I'll resolve this as external as the Azure team is responsible for these.

[2019-09-20 20:53] #10552 closed

[2019-09-20 21:27] #9132 closed

[2019-09-20 21:32] aneeshack4 commented on #10555
@thomasgassmann Access to ComboBox's current value should be done through callbacks and that is intentional however you can use [`onPendingValueChanged`](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.types.ts#L86). You can see in ComboBox.tsx that this gets updated in [_`processInputchangeWithFreeform`.](https://git

[2019-09-20 21:42] aneeshack4 commented on #10523
@smoak CommandBar has to re-render every time it gets new props because it has to recalculate to see if it still fits which is why it remounts with each render. This is working as intended. You can see this behavior in the [`resizeGroup` code](https://github.com/OfficeDev/office-ui-fabric-react/blob/571720b685426426ab6079c2de02e0c93db43340/packages/office-ui-fabric-react/src/components/ResizeGroup

[2019-09-20 21:55] 548661288 opened #10563 "ListPeoplePicker adds member unintentionally on suggestions pane dismissal."
### Environment Information

- **Package version(s)**: (6.195.1)

This is similar to https://github.com/OfficeDev/office-ui-fabric-react/issues/3349
I understand that it might be by design for a basic picker, but for people picker, this creates a security issue without user noticing his unintended action, which adds an irrelevant person to the team. This person can have all the privilege to the pr

[2019-09-20 22:04] JasonGore commented on #6535
Per [discussion on the PR](https://github.com/OfficeDev/office-ui-fabric-react/pull/10559#discussion_r326800704) there are many instances where we do not want `FocusTrapZone` to act as a modal and do not want it to limit scan mode navigation. `FocusTrapZone` cannot inherently know its use case, so it's up to the users and consumers of `FocusTrapZone` to use or pass in `aria-modal` attribute as nee

[2019-09-20 23:00] #10402 closed

[2019-09-20 23:36] aneeshack4 commented on #10563
@548661288 Have you tried the [onDismiss callback solution](https://github.com/OfficeDev/office-ui-fabric-react/issues/3349#issuecomment-353143009) suggested in #3349?

[2019-09-20 23:39] aneeshack4 commented on #10510
Ah I see - have you tried the approach I mentioned in the previous comment? as for whether this is the right approach to be applied globally, I'll wait for @caradong, the component author to have a chance to respond on that. She's currently out of office I believe so there might be a little delay.

[2019-09-21 00:05] aneeshack4 commented on #10476
Thank you @chenxinyanc for the detailed explanation!

[2019-09-21 00:07] #10513 closed

[2019-09-21 00:27] phkuo opened #10565 "Nav: Chevron button doesn't need backgrounds in any state"
Nav's chevron button's background should be permanently set to transparent because it should always have the same bg color as the item. (This is just code cleanup, this does not currently manifest visually at all.)
Same with command bar menu button chevrons.

[2019-09-21 00:29] 548661288 commented on #10563
@aneeshack4 After another visit this worked for me. Thanks a ton. I tried onDismiss solution earlier but didn't trigger preventDefault() inside onDismiss. Also the name onDismiss confused me as it's under BasePicker, but overrides onSuggestionDismiss instead of onPickerDismiss.
Anyways, thanks. Closing.

[2019-09-21 00:29] #10563 closed

[2019-09-21 00:45] aneeshack4 commented on #10449
Thanks @varunch7 for the possible workaround & fix. I'm still waiting on hearing back from the author of this code - there's a chance we're not supporting this exact same icon set. Will update y'all when I hear back from them. Meanwhile @chnldw have you tried what @varunch7 has suggested?

[2019-09-21 00:48] aneeshack4 commented on #10492
@harshvardhan3946 I'm not able to repro this - I don't see this title tooltip at all... are there any specific repro steps when we keyboard or mouse over this icon or anything that we need to do once the hover card shows up?

[2019-09-21 08:38] #10512 closed

[2019-09-21 10:42] gho1b commented on #616
This issue make me headaches as well. For temporary solution make initial template and load them with dynamic import in _app.(tsx|jsx).

[code]

[code]

[2019-09-21 13:10] boraunlu commented on #8240
Is there any workaround or solution for this problem?

[2019-09-22 19:26] #9997 closed

[2019-09-23 05:47] harshvardhan3946 commented on #10492
@aneeshack4 When you hover over icon, you will see title tooltip as shown in screenshot. Just place mouse pointer over icon.

[2019-09-23 06:00] #10412 closed

[2019-09-23 06:00] #10339 closed

[2019-09-23 06:00] #10338 closed

[2019-09-23 06:00] #10268 closed

[2019-09-23 06:43] chenxinyanc opened #10569 "submenuIconProps has no effect for ICommandBarItemProps"
### Environment Information

- **Package version(s)**: 7.31.0
- **Browser and OS versions**: Edge 78.0.276.2 dev

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/xinychen/pen/rNBoPWz

#### Actual behavior:
![image](https://user-images.githubusercontent.com/50703224/65405302-3d3fa380-de0e-11e9-8f11-b42ef20d5475.png)

`CommandBar.props.items` and `CommandBar.props.farIt

[2019-09-23 07:19] #10555 closed

[2019-09-23 07:29] 999-Dev commented on #8173
New issue found :

Bug16 : [Accessibility][Tracking of focus : Panel control] : Screen reader focus does not moves to the 'Close' button while backward navigation in scan mode.

Test Environment:
OS: Version: RS5_Prerelease(1903 OS Build 18334.1)
URL: https://fabricweb.z5.web.core.windows.net/oufr/7.35.0/#/examples/dialog
Edge Browser Version:
Microsoft Edge: 44.18983.1.0
Microsoft EdgeHTML: 18.18

[2019-09-23 09:00] 999-Dev commented on #8173
New issue found :
Bug17 : [Functional : Panel Control] : No action is getting preformed after activating the 'Close' button either by using keyboard or by mouse.

Test Environment:
OS: Version: RS5_Prerelease(1903 OS Build 18334.1)
URL: https://fabricweb.z5.web.core.windows.net/oufr/7.35.0/#/examples/dialog
Edge Browser Version:
Microsoft Edge: 44.18983.1.0
Microsoft EdgeHTML: 18.18983
Chrome Brow

[2019-09-23 11:10] chenxinyanc commented on #10476
Thanks for the change!

Then I think I will need to add a rule of `min-width: 0; min-height: 0` on my side because I have a scrollable `<div>` inside the stack container and I don't want the content of `<div>` to extend the stack container (itself is a flex-box item with `grow` enabled).

[2019-09-23 11:44] 999-Dev opened #10570 "Divider A11y Pass"
Tracking all of the issues brought up with the 09/23 accessibility pass on Divider control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/p/v-amaver/EQ_pzVKBsKVGkITnS4kP9IYByGqqUpgSdPPan3UG_L0TCA?e=YhEAUt)

Bug 1:[Accessibility][Reflow : Divider]: Text are not visible after resizing the browser to 400%.

[2019-09-23 13:05] 999-Dev commented on #8173
Bug1: [Accessibility][Programmatic access]: Name is not defined for close button in the ‘Panel - Small, left-aligned, fixed’ dialog.
Issue is fixed. Verified in the below build:
Test Environment:
OS: Version: RS5_Prerelease(1903 OS Build 18334.1)
URL: https://fabricweb.z5.web.core.windows.net/oufr/7.35.0/#/examples/panel
Edge Browser Version:
Microsoft Edge: 44.18983.1.0

Bug2: [Accessibility][Pro

[2019-09-23 13:11] 999-Dev commented on #8173
Bug5: [Accessibility][Usable]:Narrator narrates irrelevant information on expanding the see more(3 dots) button in ‘Panel with custom navigation content’ dialog.
Issue is not fixed. Verified in the below build:
Test Environment:
OS: Version: RS5_Prerelease(1903 OS Build 18334.1)
URL: https://fabricweb.z5.web.core.windows.net/oufr/7.35.0/#/examples/panel
Edge Browser Version:
Microsoft Edge: 44.189

[2019-09-23 15:54] dzearing commented on #10444
This is totally valid feedback; if there are spot fixes we can make to unblock a scenario, we're happy to take PRs or fix things for you.

But I'd like to get your take on the approach here. Exposing the classnames as an export means that we plan on using them forever. It's hard to make everyone happy. We ran into numerous customer issues just having the global classnames, and some asked for them

[2019-09-23 15:59] dzearing commented on #10570
After reviewing this, it doesn't seem like a bug worth fixing. It seems like at 400% with a small width, the divider code example, which doesn't even seem to be accessible on the doc site, has a small wrapping but that ends up overlaying the text. The text is visible, and looks fine a most widths at reasonable zoom sizes.

[2019-09-23 15:59] #10570 closed

[2019-09-23 16:00] dzearing commented on #10551
This seems like an easy bug fix? @aneeshack4 did you see if this is a bug?

[2019-09-23 16:10] joshualamusga1 commented on #10444
You're right. If there is a bug or issue that involves changing a class name, making the promise that they belong to the public interface would turn that into a major version change.

The counter-proposal doesn't cover much ground that defining `styles` or using a React ref can't accomplish. I raised this idea because I had to write selectors like `.ms-DetailsRow &:hover`, where I don't directly r

[2019-09-23 16:27] maxwellred commented on #10261
Hi @ramanova, It looks like everything is merged in. Thanks again for opening the issue and helping the project! If this covers everything we'd really appreciate having you close the issue, thanks!

[2019-09-23 16:56] #10261 closed

[2019-09-23 16:57] joschect commented on #10565
@phkuo it looks like Nav's chevron button background is already set to [transparent](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/Nav/Nav.styles.ts#L168)

As for the command bar menu button chevrons, we could add that to their styling.

[2019-09-23 17:02] joschect commented on #10569
@chenxinyanc This is pretty confusing and we should standardize it. I think that we should move towards menuIconProps. @micahgodbolt what do you think about deprecating the contextualmenu submenuIconProps and making menuIconProps standard?

[2019-09-23 17:14] #10504 closed

[2019-09-23 17:22] aneeshack4 commented on #10551
@aneeshack4 yes I'm trying to get to it but my surface book is being reimaged at the tech link - they said they should be done with it today so hopefully I can get to this then!

[2019-09-23 18:00] marygans commented on #9965
Hi @pandey11, I just tested again and it is working fine for me, can you provide your example?

[2019-09-23 18:01] micahgodbolt commented on #9965
I'll reopen again until we can determine if there's still an issue here.

[2019-09-23 18:10] aneeshack4 commented on #10492
@harshvardhan3946 Oh I see - so I believe this is because when you mouse over you're able to distinguish between the icon vs the link right above it. Both lead to the hovercard opening but only when you mouse over the icon does the tooltip show up with the hovercard - when you just mouse over the link above ("Chicago") the tooltip doesn't show. Keyboarding only seems to let us go to the link, not

[2019-09-23 18:40] lorejoh12 commented on #10488
I am able to repro this with both the date-time package and the normal OUFR calendar in IE11. Will work on a fix.

[2019-09-23 19:37] #10461 closed

[2019-09-23 20:00] #10450 closed

[2019-09-23 20:32] kenotron commented on #10514
@joschect - FYI had an question about this behavior. Please do chime in if you feel strongly one way or another.

[2019-09-23 20:37] swese44 commented on #10523
@aneeshack4 can you help us understand why CommandBar needs to create a new component tree instead of allowing React to update the existing tree before it checks for resize?

[2019-09-23 21:13] aneeshack4 commented on #10471
@reficul31 I spoke with one of my teammates @natalieethell & she's found a fix for you! Please try setting the `SelectionMode` to `Single` on the initialized selection object in the constructor. Right now, the selection object is initialized to `SelectionMode.Multiple` & when initialization a selection object to pass into a `DetailsList`, it defaults to `Multiple` also so that's most likely what's

[2019-09-23 21:34] StephenRiceMSFT opened #10573 "ChoiceGroup selected state is not centered in circle"
### Environment Information

- **Package version(s)**: Fabric
- **Browser and OS versions**: Windows 10, Edge (Chromium)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

Selected state in a Choice Group is off-center and varies based on implementation. See attached picture. Check the Choice Group page for details.
<img width="342" alt="Choice Group Not Centered"

[2019-09-23 21:35] StephenRiceMSFT commented on #10573
@Jahnp as FYI.

[2019-09-23 21:42] kenotron commented on #10485
@joschect - can you comment here if you think this is an okay approach?

[2019-09-23 22:00] #9053 closed

[2019-09-23 22:03] kenotron commented on #6656
I cannot repro this any longer, there is a single input tag with role "combobox". Then when you pick one item, it would create a new list with a listitem. Indeed latest AI check on the page does not repro this problem any longer.

[2019-09-23 22:03] #6656 closed

[2019-09-23 22:31] #10476 closed

[2019-09-23 22:44] joschect commented on #10485
ITT this kind of focus shouldn't be a thing that only the popup controls. Ideally there would be another focus function/object separate from the popup that would handle focus. In my opinion at least. So it could look something like:

[code]

[2019-09-23 22:48] kenotron commented on #6549
I dug into the office online code, @SavannahBourgeois - the bug resides in how ContextualMenu is being consumed. I've reduced this bug into this example:

https://codesandbox.io/embed/gallant-sun-p3wqh

You'll find the correct and incorrect way to group items. It looks like office online code generates a flat list of items with some that are styled. Fabric will happily take in section groups and w

[2019-09-23 22:49] tomasro27 commented on #10214
So the "split" word is added to whatever string is passed through the aria-label property? If that's the case, I think this issue can be resolved.

I can see how other people would want to explicitly have an aria-label for each of those, but that is not my case.

thanks :)

[2019-09-23 22:51] kenotron commented on #6549
I've marked this bug external and will let bot to close it. OP can close it at the earliest convenience.

[2019-09-23 23:09] micahgodbolt commented on #7500
@TestAccessibilityGIT turns out that high contrast mode doesn't differentiate between enabled and disabled inputs
![MicrosoftTeams-image (4)](https://user-images.githubusercontent.com/1434956/65469496-80a10e80-de1c-11e9-8b02-f1a37904eac2.png)

Is this a high contrast bug, not Fabric bug?

[2019-09-23 23:17] micahgodbolt commented on #7762
2 - Seems to be working now.
![image](https://user-images.githubusercontent.com/1434956/65469812-96630380-de1d-11e9-9078-03202359f9a1.png)

[2019-09-23 23:27] micahgodbolt opened #10574 "Callout: Narrator does not speak 'role' when opening"
When opening, a dialog should state 'Alert' then read off the rest of the information.

This example works correctly:

https://codepen.io/micahgodbolt/pen/qBWJyvj

The Fabric code does not:

https://codepen.io/micahgodbolt/pen/rNBqrbL

But funny enough, if you put the EXACT same HTML from our Fabric Callout into the working example....it works

https://codepen.io/micahgodbolt/pen/WNeaKWq

[2019-09-23 23:28] micahgodbolt commented on #10574
pulled from bug 3 in #8616

[2019-09-23 23:28] micahgodbolt commented on #8616
Bug 3 tracked in #10574

[2019-09-23 23:29] micahgodbolt commented on #8616
Bug 3 tracked in #10485

[2019-09-23 23:40] betrue-final-final commented on #10514
Trying to understand the exact issue. You’re saying that when in the menu this suggests that tab should navigate to outside the menu?

In a menubar like the command bar, Tab should dismiss the menu and take you to the next item in the bar.

Tab should do nothing in a context menu.

[2019-09-23 23:47] aneeshack4 commented on #10491
@sandeepnmenon Glad `isSelectedOnFocus` fixed it for you! Going to close this issue since it's resolved. This new scenario you mentioned will be fixed by a current PR that's out #10548.

[2019-09-23 23:47] #10491 closed

[2019-09-23 23:50] aneeshack4 commented on #10473
@reficul31 If chrome's ignoring ScrollMode I think that is a chrome issue... I think the scrolling behavior in edge is by design. @KevinTCoughlin might have more input into this.

[2019-09-23 23:52] micahgodbolt commented on #8616
All issues moved out to their own issue or resolved. Closing this on down.

[2019-09-23 23:52] #8616 closed

[2019-09-24 00:09] aneeshack4 commented on #10454
@shiliangdn Have you tried `selectionMode={SelectionMode.none}` and `disableSelectionZone={true}`?

[2019-09-24 00:12] aneeshack4 commented on #10523
@swese44 I believe we have considering briefly making this only have seingle rendering @joschect @micahgodbolt are the component authors & might have more to say on this

[2019-09-24 00:18] aneeshack4 commented on #10451
@alex3683 Apologies for the delayed response we had a lot of issues roll in last week. To be clear, I said in the previous comment we believe this is not something that should be a part of the common base component. As for suggestions for implementing this, I think it would depend a lot on the context of your use case - can you provide more details?

@joschect Have you seen examples of such implem

[2019-09-24 00:43] dzearing commented on #9885
@cliffkoh One this unclear to me is what exactly VoiceOver is getting tripped up on. Can you provide an isolated repo of something we're doing correctly that VoiceOver doesn't get right?

[2019-09-24 02:00] #10434 closed

[2019-09-24 02:22] marygans commented on #8031
1: `aria-LabelledBy` and `aria-DescribedBy` for coachmark are mapping to the `aria-LabelledByText` and `aria-DescribedByText` props. `aria-LabelledBy` and `aria-DescribedBy` for teachingBubble maps to `example-Label` and `exampleDescription`. See example here
![example-coachmark](https://user-images.githubusercontent.com/38991459/65476258-2cefee80-de37-11e9-8357-a4993357a5c9.png)

[2019-09-24 03:02] marygans commented on #8031
2: The focus indicator moves from the button to the Coachmark bubble after pressing Enter on "show coachmark" button:
<img width="931" alt="coachmark-focus1" src="https://user-images.githubusercontent.com/38991459/65477998-edc49c00-de3c-11e9-9df3-f2b975cb6438.png">

which I believe is intended

[2019-09-24 03:07] dzearing commented on #9885
@ecraig12345 can you please investigate the right fix?

[2019-09-24 03:07] marygans commented on #8031
3: This seems to be an issue with just NVDA...will double check this

[2019-09-24 03:31] #10494 closed

[2019-09-24 05:34] marygans opened #10576 "[Accessibility][Supporting the platform]: Coachmark bubble is not visible properly in High contrast mode black and white."
### Describe the issue:

Breakout from Coachmark pass #8031

#### Expected behavior:
https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bec787de0-7a76-4b21-b593-fb839dfa9cd8%7D&action=default&uid=%7BEC787DE0-7A76-4B21-B593-FB839DFA9CD8%7D&ListItemId=1808&ListId=%7B395E1ECB-5002-440E-81C5-6A090E98077C%7D&odsp=1&env=prodbubble&cid=99df029b-fc11

[2019-09-24 06:28] alex3683 commented on #10451
@aneeshack4 @joschect It's actually exactly the thing from current OWA in Exchange Online (screenshots in my first post): Dragging people from one category of people to another, like the dragging from required to optional and vice versa. Nothing very sophisticated :-)
If I'm correct  (I'm not that firm in regard to drag and drop either), I only need some way to attach the draggable attribute on th

[2019-09-24 06:35] marygans commented on #8031
5: seems to no longer be an issue
<img width="629" alt="Screen Shot 2019-09-23 at 11 34 31 PM" src="https://user-images.githubusercontent.com/38991459/65487000-c11f7d00-de5a-11e9-92d9-581af586d3d7.png">

[2019-09-24 07:31] AparnaPrasad commented on #10436
I need to use Basic list because I want to create a grid like view as below, and basic list provides support for that taking in height and width and adjusting automatically with screen width and height
![64786554-f7155500-d56e-11e9-92e0-1d18e15666bf](https://user-images.githubusercontent.com/1925970/65490712-eee1e180-dead-11e9-97b8-a02c66771baf.png)

[2019-09-24 07:38] AndrewCarterBreakwaterIT commented on #10390
@natalieethell @KevinTCoughlin ,

Many thanks for coming back with some information.
I will take a look at some refactoring, and see how I get on.
Many Thanks

[2019-09-24 09:24] SyedRehmanRazvi opened #10577 "Narrator is not providing information about "no.of results found" after performing a will card search in Search Box""
User Experience:
Users who rely on screen readers are getting affected as Narrator is not providing information about "no.of results found" displayed after performing search.

Test Environment:
OS: Win 10
OS Version: 1903 (OS Build 18323.1000)
Browser: Edge
URL: https://fabricweb.z5.web.core.windows.net/oufr/7.14.0/#/examples/searchbox
Screen Reader: Narrator

Repro Steps:
Step 1: Start Narrator
S

[2019-09-24 10:58] 999-Dev commented on #8616
@micahgodbolt
We verify those bugs in below Test Enviourment.

Test Environment:
OS: Version: RS5_Prerelease(1903 OS Build 18990.1)
URL: https://fabricweb.z5.web.core.windows.net/oufr/7.35.0/#/examples/callout

Agreed, Screen reader users will not be able to know about the button, if name is not present. So just add the name of the control.

[2019-09-24 11:36] 999-Dev commented on #8616
Bug5:[Accessibility][Usable]: In Scan mode of narrator focus moves to the new and upload icon but it does not narrate anything.
We verify those bugs in below Test Enviourment and found issue is fixed.
Test Environment:
OS: Version: RS5_Prerelease(1903 OS Build 18990.1)
URL: https://fabricweb.z5.web.core.windows.net/oufr/7.35.0/#/examples/callout
Edge Browser Version:
Microsoft Edge: 44.18990.1.0
M

[2019-09-24 11:39] 999-Dev commented on #7500
Bug3: [Accessibility][Usable]: Narrator scan mode focus indicator is not visible on the 'Clear text' button of any 'search' edit field.
We verify those bugs in below Test Enviourment and found issue is fixed.
Test Environment:
OS: Version: RS5_Prerelease(1903 OS Build 18990.1)
URL: https://fabricweb.z5.web.core.windows.net/oufr/7.35.0/#/examples/searchbox
Edge Browser Version:
Microsoft Edge: 44.1

[2019-09-24 11:42] 999-Dev commented on #7500
We verify those bugs in below Test Enviourment.

Test Environment:
OS: Version: RS5_Prerelease(1903 OS Build 18990.1)
URL: https://fabricweb.z5.web.core.windows.net/oufr/7.35.0/#/examples/searchbox
Edge Browser Version:
Microsoft Edge: 44.18990.1.0
Microsoft EdgeHTML: 18.18990
Chrome Browser Version:
Chrome Version: 76.0.3809.132

As per comment closing the bug.

[2019-09-24 11:45] 999-Dev commented on #7990
Bug1: [Accessibility][Programmatic access]: ARIA attributes must conform to valid values.
We verify those bugs in below Test Enviourment and found issue is not repro'ing. Hence closing the bug.

Test Environment:
OS: Version: RS5_Prerelease(1903 OS Build 18990.1)
URL: https://fabricweb.z5.web.core.windows.net/oufr/7.35.0/#/examples/modal
Edge Browser Version:
Microsoft Edge: 44.18990.1.0
Microsoft

[2019-09-24 12:03] 999-Dev commented on #7990
Bug2: [Accessibility][Keyboard Navigation]: Title of the modal is not defined as heading.

We verify those bugs in below Test Enviourment.

"It is good to defined heading on model dialog for better usability. But as per comment closing the bug."

Test Environment:
OS: Version: RS5_Prerelease(1903 OS Build 18990.1)
URL: https://fabricweb.z5.web.core.windows.net/oufr/7.35.0/#/examples/modal
Edge Bro

[2019-09-24 12:07] 999-Dev commented on #7990
Bug3: [Accessibility][Usable] : Narrator is narrating the title of the modal and close button twice.

We verify those bugs in below Test Enviourment and found it's working fine. Hence closing the bug.

Test Environment:
OS: Version: RS5_Prerelease(1903 OS Build 18990.1)
URL: https://fabricweb.z5.web.core.windows.net/oufr/7.35.0/#/examples/modal
Edge Browser Version:
Microsoft Edge: 44.18990.1.0
Mi

[2019-09-24 12:59] SyedRehmanRazvi opened #10578 "In scan mode, focus is not in sequential order after expanding any drop down and navigating (In backward direction)"
User Experience:
Users who rely on screen readers are getting affected as focus is not in sequential order after expanding any drop down and navigating (In backward direction)

Test Environment:
OS: Win 10
OS Version: 1903 (OS Build 18323.1000)
Browser: Edge
URL: https://developer.microsoft.com/en-us/fabric#/controls/web/dropdown
Screen Reader: Narrator

Repro Steps:
Step 1: Start Narrator
Step 2:

[2019-09-24 17:42] natalieethell commented on #10390
Let us know if you have any other questions! Otherwise feel free to close this issue.

[2019-09-24 18:16] #8654 closed

[2019-09-24 18:24] #10488 closed

[2019-09-24 19:18] jdhuntington opened #10582 "[Accessibility][Programmatic access]: ARIA roles used must conform to valid values."
Tracking all of the issues brought up with the 12/18 accessibility pass on Pivot control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B07b9e428-09cf-4a02-8fa1-05015209994a%7D&action=default&uid=%7B07B9E428-09CF-4A02-8FA1-05015209994A%7D&ListItemId=1635&ListId=%7B395E1ECB-5002-440E-

[2019-09-24 19:18] jdhuntington opened #10583 "[Accessibility][Programmatic access]: 'Browser button' must have discernible text."
Tracking all of the issues brought up with the 12/18 accessibility pass on Pivot control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B07b9e428-09cf-4a02-8fa1-05015209994a%7D&action=default&uid=%7B07B9E428-09CF-4A02-8FA1-05015209994A%7D&ListItemId=1635&ListId=%7B395E1ECB-5002-440E-

[2019-09-24 19:18] jdhuntington opened #10584 "[Accessibility][Keyboard navigation]: Keyboard focus indicator is not properly visible on 'Bar' button in forward navigation."
Tracking all of the issues brought up with the 12/18 accessibility pass on Pivot control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B07b9e428-09cf-4a02-8fa1-05015209994a%7D&action=default&uid=%7B07B9E428-09CF-4A02-8FA1-05015209994A%7D&ListItemId=1635&ListId=%7B395E1ECB-5002-440E-

[2019-09-24 19:18] jdhuntington opened #10585 "[Accessibility][Programmatic access]: User does not get state change feedback after selecting 'Hide first pivot item' button."
Tracking all of the issues brought up with the 12/18 accessibility pass on Pivot control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B07b9e428-09cf-4a02-8fa1-05015209994a%7D&action=default&uid=%7B07B9E428-09CF-4A02-8FA1-05015209994A%7D&ListItemId=1635&ListId=%7B395E1ECB-5002-440E-

[2019-09-24 19:18] jdhuntington opened #10586 "[Accessibility][Keyboard navigation]: Focus order is not correct after 'Go to Microsoft' link. Next keyboard focus goes to the top of the browser control i.e. see all your tabs."
Tracking all of the issues brought up with the 12/18 accessibility pass on Pivot control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B07b9e428-09cf-4a02-8fa1-05015209994a%7D&action=default&uid=%7B07B9E428-09CF-4A02-8FA1-05015209994A%7D&ListItemId=1635&ListId=%7B395E1ECB-5002-440E-

[2019-09-24 19:18] jdhuntington opened #10587 "[Accessibility][Screen Reader]: 'Call out' pop up is not accessible in narrator scan mode."
Tracking all of the issues brought up with the 12/18 accessibility pass on Pivot control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B07b9e428-09cf-4a02-8fa1-05015209994a%7D&action=default&uid=%7B07B9E428-09CF-4A02-8FA1-05015209994A%7D&ListItemId=1635&ListId=%7B395E1ECB-5002-440E-

[2019-09-24 19:18] jdhuntington opened #10588 "[Accessibility][Usable]: After selecting 'Spinner' tab item even if user moves to the next control narrator keeps reading about 'Spinner alerts' ."
Tracking all of the issues brought up with the 12/18 accessibility pass on Pivot control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B07b9e428-09cf-4a02-8fa1-05015209994a%7D&action=default&uid=%7B07B9E428-09CF-4A02-8FA1-05015209994A%7D&ListItemId=1635&ListId=%7B395E1ECB-5002-440E-