[2019-02-07 05:30] kenotron commented on #7907
i think that may be because we're doing `declaration: true` which is fine for a library like Fabric.

[2019-02-07 05:45] KevinTCoughlin commented on #7907
I researched this today for a separate effort and both of the above points are true by @ecraig12345.

[2019-02-07 06:22] ecraig12345 commented on #7907
Should have said this upfront, but thanks for doing this!

Responding to a couple points from earlier :)

#### Example state interface naming
One reason I'd been leaning toward longer names may have been to prevent VS Code's intellisense from being cluttered up with tons of IState interfaces...which is not actually a very strong argument. A slightly better argument for more verbose naming is that

[2019-02-07 13:52] corriespondent commented on #7911
Thanks so much, @micahgodbolt! I obviously overlooked that example. My bad!

[2019-02-07 13:52] #7911 closed

[2019-02-07 15:49] mikewheaton opened #7923 "Documentation: Direction attribute is required for Fabric Core icons"
### Environment Information

- __Package version(s)__: Latest
- __Browser and OS versions__: N/A

#### Actual behavior:

The [icons documentation](https://developer.microsoft.com/en-us/fabric#/styles/icons) does not mention that `<body dir='ltr'>` (or `rtl`) is required for directional icons to work.

This results in an issue that can be seen in this CodeSandbox: https://codesandbox.io/s/vovq1k7q5

[2019-02-07 17:14] kenotron commented on #7923
Sweet, @mikewheaton, if you can fix it, I can just assign this to you!

[2019-02-07 17:16] kenotron commented on #7920
@vitalius1 - Could you attach a screenshot of what the panel fluent theme will look like?

[2019-02-07 17:20] micahgodbolt commented on #7913
Yeah, the X next to person 1 only shows up on hover, but not focus.

![image](https://user-images.githubusercontent.com/1434956/52429801-a5c55480-2ab9-11e9-9e08-716ed456cb6a.png)

[2019-02-07 17:23] kenotron commented on #7918
## Workaround Recommendation
Given that we're still needing to ship products, we still need some degree of hackiness to get stuff done. I recommend that consumers who need this non-standard behavior would create a wrapper `React.Component` on top of `Checkbox` here to add that enter functionality. Hopefully this will be good enough solution, as this is leveraging the power of React itself to abstr

[2019-02-07 17:32] natalieethell commented on #7847
Spoke offline with @gasharm and he is still willing to submit a PR to fix the issue! I'll assign him.

[2019-02-07 18:56] micahgodbolt opened #7925 "List bugs with getPageSpecification"
Thomas mentioned a known bug with list around getPageSpecification and getPageHeight. Creating this issue to track that work. Need him to update this issue with better title/description.

[2019-02-07 19:01] micahgodbolt commented on #7369
I second my comment on december 14th.

[2019-02-07 19:24] Adjective-Object commented on #7872
Closed by #7877

[2019-02-07 19:24] #7872 closed

[2019-02-07 19:40] Vitalius1 commented on #7920
@kenotron There are some questions I still have to get clear on with designers about the redlines I got for a fluent Panel... but the main change would be in the drop-shadow and probably the header will be a little more bolded. With that said there are lots of other discrepancies in the default styles that I found while investigating some of the breakpoints issues and I am willing to do a cleanup

[2019-02-07 19:43] kenotron commented on #7920
Cool - just saw this come thru with no description :) This helps a lot! Thanks!

[2019-02-07 19:46] TestAccessibilityGIT opened #7926 "Tooltip A11y Pass"
Tracking all of the issues brought up with the 2/5 accessibility pass on Icon control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B4e7d9198-374e-4290-9adb-25606b00a35b%7D&action=default&uid=%7B4E7D9198-374E-4290-9ADB-25606B00A35B%7D&ListItemId=1778&ListId=%7B395E1ECB-5002-440E-81C

[2019-02-07 20:00] #7832 closed

[2019-02-07 20:15] kenotron commented on #7912
So when I looked at your implementation, you are arbitrarily setting the width as opposed to a single width like here: https://github.com/OfficeDev/office-ui-fabric-react/blob/d89394a2c35c7c8cf1b3a47ae5b8dfd8965e2c00/packages/office-ui-fabric-react/src/components/FloatingPicker/PeoplePicker/PeoplePicker.scss#L12

I think if you applied that 180px (or some other width, just not `auto`), it would wo

[2019-02-07 20:17] kenotron commented on #7912
Feel free to close if this addresses your issue. Contributions are welcome here, but likely to be a bit more involved and could break some other scenarios.

[2019-02-07 20:18] #7888 closed

[2019-02-07 20:21] #7890 closed

[2019-02-07 20:23] kenotron commented on #7900
Thanks @sadomovalex

[2019-02-07 20:24] kenotron commented on #7901
I suppose this looks more like a feature to support typing correctly since this component isn't even out.

[2019-02-07 20:58] JasonGore commented on #6951
I provided a [CodePen](https://codepen.io/jasongore/pen/XyrQVb) that shows onChange being fired [above](https://github.com/OfficeDev/office-ui-fabric-react/issues/6951#issuecomment-444171318) which is still working as expected. It is not "dead like Fabric.js", @ThreadPitt.

Can anybody reporting this issue reproduce it in a CodePen? Can you tell which version of Fabric you are using?

[2019-02-07 22:28] Adjective-Object commented on #7913
Wouldn't it show anyway if you were trying to select via mouse? because of the hover effect?

[2019-02-07 22:29] kenotron commented on #7910
I have a PR going with your suggested fix. Please check it out!

[2019-02-07 22:33] Adjective-Object commented on #7912
A fixed width doesn't work for our scenario on Outlook; Since the close button is mounted adjacent to the item button, the item button would have to be small enough that there is always room for the close button.

(which is why this hasn't come up in fabric-only scenarios because Personas have a small fixed width).

[2019-02-07 22:37] Adjective-Object commented on #7912
I'm curious what scenarios this might break. If the current behavior only works if itemButton components have a small enough fixed width that there's room for the close button, then this shouldn't affect them.

[2019-02-07 23:07] kenotron commented on #7926
For the labelledby vs describedby issue, I'm referencing this to recommend labelledby:
https://inclusive-components.design/tooltips-toggletips/ - found that link thru a trail from here: https://www.w3.org/TR/wai-aria-practices/#tooltip

[2019-02-07 23:10] kenotron commented on #7926
Bug 3 has this note:

Will consider this as a platform bug on Edge /Narrator's part

[2019-02-08 01:27] Jahnp commented on #7269
Oops, accidentally closed--sorry. Was going to say that @leddie24 and I went over the technical plan for this and will begin prototyping work shortly.

[2019-02-08 02:02] dzearing commented on #6951
Just to be really, super clear, this does not repro in the current version of Fabric. I also did a codepen here: https://codepen.io/dzearing/pen/pGpaXR

You might be on an old version. @ThreadPitt @axxx307 @zbrox do you know what version you're on? Can you look at your `node_modules/office-ui-fabric-react/package.json` for this?

[2019-02-08 02:10] dzearing commented on #6951
I am fairly convinced that this is a Fabric v5.x issue. It is certainly possible we could cherrypick a fix here, but I'd like to make sure that's the case and that a fix to 5.x would help here.

[2019-02-08 05:04] engineersamuel commented on #7907
@ecraig12345 Very interesting discussion on the state.  I see state as something specific to the Component.  The exclusively reason it needs to be exported is `declaration: true` therefore the component state has no semantic meaning outside of the component, and within the component, we already know it is the component state so why complicate the name?

[2019-02-08 05:05] engineersamuel commented on #7907
@ecraig12345 The one counterpoint to myself would be if state is being imported via unit testing for typing reasons, but I've never done that and don't see it done here.  But even if it were to be imported, the import could easily be aliased.

[2019-02-08 06:59] tharshada commented on #7853
@natalieethell [CodePen Example](https://codepen.io/anon/pen/QYaVJz), [Example.tsx OD link](https://microsoft-my.sharepoint.com/:u:/p/hatrived/EX4fxAJLQu5En7zQiG6Rr1gBmeyWgnJ8e0vTbHZp971CMw?e=mwMros), [Repro Steps](https://microsoft-my.sharepoint.com/:v:/p/hatrived/ETCIDE06e-NBukc9nb2t2NMBNLJ52xsQqEsdATA5RPuLqw?e=eedsDm)

[2019-02-08 11:00] h3nn3 opened #7934 "Please add type="button" to the Calender"
### Environment Information

- __Package version(s)__: (latest)
- __Browser and OS versions__: (Chrome (any Browser), Windows)

### Reproduction:
I think this problem is pretty simple and does not need a CodePen.
The problem is that the Calender component used to render DIVs for the days but now it renders buttons that have not the type="button" attribute.
Since we are running this component in Sh

[2019-02-08 12:22] cliffkoh commented on #6727
Hi @rborosak, could you open a new issue to help ensure your enquiry gets the right amount of attention? You can link to this issue in your new issue.

[2019-02-08 14:23] sumboxcar182 commented on #7910
Hey @kenotron ! Thank you so much for looking at this so quickly! I just saw the discussion that happened, and i completely understand the reasoning why the input was moved out at least.

[2019-02-08 15:07] kenotron commented on #7910
Apologize about the issue. However, without a pretty big rewrite of this component, I don't think we can achieve what you want (though it is sad that we had it working the other way). We always have to weigh our UX against accessibility standards. @joschect made a really good point about it as you had mentioned. I'm going to resolve this by design. Thanks for reporting this!

[2019-02-08 15:36] kenotron commented on #7907
Unassigning from myself as this issue seems like will not have a likely conclusion and has become a discussion instead. Will fix the title accordingly.

[2019-02-08 15:37] redoz opened #7935 "Clicking Prefix/Suffix in TextField does not result in the focus being set."
### Environment Information

- __Package version(s)__: current
- __Browser and OS versions__: all

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

Clicking the prefix or suffix section does nothing.

#### Expected behavior:
Clicking the prefix or suffix section of a TextField should result in the TextField receiving focus.

#### Priorities and help requested:

Ar

[2019-02-08 15:40] kenotron commented on #7935
Linking here for posterity's sake. https://developer.microsoft.com/en-us/fabric/#/components/textfield

If you click on the prefix / suffix in the http / .com example, it doesn't do anything. We should focus inside the textfield as @redoz mentioned here.

[2019-02-08 15:42] redoz commented on #7935
I'll provide a PR shortly.

[2019-02-08 15:48] kenotron commented on #7935
Oh great! Thanks!

[2019-02-08 16:04] kenotron commented on #7934
Just as an addendum, it looks like the Calendar component uses the `<button>` type now and didn't specify the "type" because it *seemed* redundant. However, it does affect the behavior of the Calendar component because of the default type is "submit" inside a `<form>` tag:

https://www.w3.org/TR/html5/sec-forms.html#element-attrdef-button-type

So we should place a type inside the buttons to preve

[2019-02-08 16:36] sumboxcar182 commented on #7910
No worries about apologizing i cannot thank you enough for helping to resolve this! I spoke with my pm too and explained what's going on and they are completely on board with keeping things as is too, so i'm going to close down this issue if that's ok. Especially making things more accessible is always the way to go!

Again thank you so much for looking into this!

[2019-02-08 16:36] #7910 closed

[2019-02-08 17:18] healthycola commented on #5473
I have a workaround for it for those that are interested:
https://codepen.io/aamirj/pen/NoyRMz. Essentially, I have add a hidden option as the very first item in the dropdown.

[2019-02-08 18:50] dzearing commented on #6951
I have gotten in touch with office addins and they will be updating the yeoman template dependencies on monday.

Following up on the spfx templating.

We are looking at what can be done to backport fixes to 5.x build.

[2019-02-08 19:12] KevinTCoughlin commented on #6951
I'm going to investigate this by creating a web part and looking through `OUFR 5.x` change history. However an answer to the following would be helpful:

Knowing which version of OUFR those affected are on will help pinpoint the regression if it exists.

[2019-02-08 19:14] KevinTCoughlin commented on #6951
Refreshed and saw the above. Will sync to understand the SPFx templating story.

[2019-02-08 19:43] vandancd opened #7938 "Allow a different first column in DetailList instead of forcing to have a checkbox column"
**Describe the feature that you would like added**
The **DetailList** component forces us to have a check box as the very first column (if we need to).  There is no way for me to add a different column before the checkbox.  For someone who is using the detailList for a complex or a say an overloaded content list we did like to add a menu before the checkbox that allows to take an action on a speci

[2019-02-08 19:57] ambroisebellec commented on #7938
+1

[2019-02-08 20:00] #7858 closed

[2019-02-08 20:58] KevinTCoughlin commented on #6951
The prop `onChanged` was deprecated wholesale in favor of `onChange` in https://github.com/OfficeDev/office-ui-fabric-react/commit/137fbcef0a2c118db0097f38075427a41c769ca0#diff-de0b982ce1e3f05601608127c8b3fcd8 targeting `6.x`.

To resolve the above issue, we have a few options:

1. Folks running into this issue are likely to be on `5.x` and can either use `onChanged` or upgrade to `6.x`
 to unbloc

[2019-02-08 21:15] betrue-final-final opened #7939 "MessageBar doesn't look right on strong colored backgrounds"
MessageBar uses semi-transparent colors which were designed for either white, or black backgrounds. When there is a strong color behind them, these colors wash out and don't look right. Only the grey background works, all others are inaccessible.

![image](https://user-images.githubusercontent.com/20363037/52506478-8b67a580-2ba3-11e9-81dd-ff0d1e8110f1.png)

#### Priorities and help requested:

Are

[2019-02-08 21:19] kenotron commented on #7939
@Jahnp hey there, need some help here to address this issue with this

[2019-02-08 21:23] Jahnp commented on #7939
Ack, thanks @kenotron.

@betrue-final-final how would you like to proceed here? I'm not familiar enough with how MessageBar's colors are constructed to have a POV for a fix. cc @mikewheaton and @Vitalius1 who may have more thoughts here. I know we haven't picked up MessageBar's Fluent styles yet--perhaps we can address this as a part of that project.

[2019-02-08 21:55] Adjective-Object opened #7941 "Proposal: Deprecate floatingPickerProps & selectedItemListProps in ExtendedPeoplePicker"
**Describe the feature that you would like added**

In BaseExtendedPicker, we have this weird non-idiomatic pattern of accepting a separate props object and a rendering method, and then rendering the component in the child.

https://github.com/OfficeDev/office-ui-fabric-react/blob/900176501c2744491375d31ed46deec0e99e9abb/packages/office-ui-fabric-react/src/components/ExtendedPicker/BaseExtendedPic

[2019-02-08 22:18] kenotron commented on #7912
My first instinct is to encourage you to write your own custom SuggestionItem if the one from Fabric doesn't work out for you to quickly unblock. We can investigate how to refactor things so that it works inside that floating box.

[2019-02-08 23:05] devancp commented on #7938
+1 please

[2019-02-08 23:08] kenotron commented on #7912
I've adding a `overflow-x` in a key place. It should actually make this work out for you.

[2019-02-08 23:12] kenotron commented on #7871
Feel free to get an email thread going with the Fabric crew!

[2019-02-08 23:25] micahgodbolt commented on #7939
@JasonGore's variants approach might help this. Though I've always wondered the reasoning behind transparent colors and the challenge if message bars are on top of dark colors.

[2019-02-08 23:27] micahgodbolt commented on #7938
Thoughts on this feature add? How easy would this be?

[2019-02-08 23:28] ArpitaGhattuMicrosoft opened #7944 "Need a way to limit number of characters entered in ComboBox"
**I am trying to limit the entered text in a ComboBox with a certain amount of characters. ComboBox having an input field needs to support max-length attribute. TextField today supports it.**

**What component or utility would this be added to -- ComboBox**

[2019-02-08 23:40] #7848 closed

[2019-02-08 23:52] natalieethell commented on #7853
@leddie24 could you take a look at this when you have a moment?

[2019-02-08 23:56] kenotron commented on #7944
There isn't an existing path to expose the `<input>` props all the way up to combobox. Will add an `autofillProps` prop for combobox to allow you to do this...

[2019-02-09 00:13] JasonGore commented on #7939
I'm assuming by variants you mean schemes. The original example actually seems to be rendered using a strong scheme already and changing colors:

<img width="806" alt="screen shot 2019-02-08 at 1 32 35 pm" src="https://user-images.githubusercontent.com/26070760/52512417-bbfe0e00-2ba8-11e9-906d-b251836832ac.png">
<img width="796" alt="screen shot 2019-02-08 at 2 05 09 pm" src="https://user-images.g

[2019-02-09 00:32] ecraig12345 opened #7946 "IDs used in examples should be unique"
Many of the doc pages have elements with duplicate IDs due to people copy-pasting examples and not updating the IDs. This causes problems for screen readers and is just generally bad practice.

A copy-paste-proof solution would be to change all examples using IDs to generate the IDs using `getId()` and save them in private members.

[2019-02-09 00:36] ArpitaGhattuMicrosoft commented on #7944
Thanks Kenneth!

Regards,
Arpita
From: Kenneth Chau <notifications@github.com>
Sent: Friday, February 8, 2019 3:56 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Arpita Radhakrishna Ghattu <Arpita.Ghattu@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] Need a way to limit number of characters entered in Comb

[2019-02-09 00:38] ecraig12345 commented on #7946
@engineersamuel, something else to look out for when you're cleaning up examples.

Here's a very contrived codepen demonstrating the proposed fix.
https://codepen.io/anon/pen/KJQZQx

[2019-02-09 00:51] kenotron commented on #7946
The problem here is that if we introduced yet another function, it makes for really bad copy & paste experience for consumers of examples.

[2019-02-09 00:58] #7824 closed

[2019-02-09 01:25] ecraig12345 commented on #7907
Someone just shared this with me re: performance concerns about re-creating functions in render. Some of the points apply even without using hooks. Short version, inline functions in render may not be as bad as we thought?
https://reactjs.org/docs/hooks-faq.html#are-hooks-slow-because-of-creating-functions-in-render

[2019-02-09 05:34] kenotron commented on #7946
I don't think this would be TOO much work, but I don't feel that we have a really good picture of how to make this clean for users who are looking for succinct example code. Kind of wondering if there's a compile time solution (validation of examples?) that doesn't require extra functions to be used.

[2019-02-09 05:45] dharnen opened #7947 "imageFit.Contain changes picture size when setState is called only when browser window is certain sizes"
### Environment Information

- __Package version(s)__:
SPFx 1.1.0
react 15.6.2
sp-ui-fabric-core 1.4.0
scaffold for SP onPrem 2016
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
When using the ui-fabric Image component and setting the imageFit to contain. An image placed into a div that is a larger size

[2019-02-09 07:09] dharnen commented on #7947
After looking in the issue deeper I was able to find the root cause. Each time the component is rendered a CoverStyle value is chosen (either .landscape or .portrait) which appends a class associated with it to the div causing the image to swap between sizes. Trying to set the CoverStyle in the props of the image, I get an error because CoverStyle doesn't exist on the IImageProps interface. I trie

[2019-02-09 23:17] engineersamuel commented on #7907
Interesting, to quote in that link, "No. In modern browsers, the raw performance of closures compared to classes doesn’t differ significantly except in extreme scenarios."  My next question would be, what is the advised practice?  For example something may be equally performant but one style preferred over the other for other reasons, such as avoiding extra objects for garbage collection, or styli

[2019-02-10 00:00] philippe-entringer commented on #7889
thanks for the feedback.
It works well on https://codepen.io/anon/pen/GzvqWv
but the OnChange method did not compiled in my Env.

`[ts] Impossible d'assigner le type '(evt: any, option: any) => void' au type '(event: FormEvent<HTMLDivElement>) => void'. [2322]
index.d.ts(795, 9): The expected type comes from property 'onChange' which is declared here on type 'IntrinsicAttributes & IntrinsicClassAt

[2019-02-10 16:30] waitingkuo commented on #2740
Same issue here.
But I found that the client className will overwrite the server's in the production but no in the dev mode. Just wondering is it possible to overwrite it as well in the dev mode

[2019-02-10 22:41] pcherkasova opened #7948 "Give simple example for HoverCard"
Can you please provide Hello World example for HoverCard? I mean, something like i click 'hello', and 'world' will pop up.

[2019-02-11 08:21] riosn-n commented on #7886
Hi @Markionium, do you have an estimate on when this might get looked at? This is a huge blocker for us because almost everything in Dynamics CRM runs inside an iframe.

Thanks.

[2019-02-11 10:11] ThreadPitt commented on #6951
Hi,
first of all thank you for your fast replies - so the project is not only alive, but vibrant :-)
I checked the ChangeLog of the npm package we use ("office-ui-fabric-react") and in there I find:

"# Change Log - office-ui-fabric-react

This log was last generated on Tue, 29 Jan 2019 13:35:55 GMT and should not be manually modified.

## 6.131.0
Tue, 29 Jan 2019 13:35:55 GMT"

I will retest this

[2019-02-11 11:18] ThreadPitt commented on #6849
Hi, would be great if this was fixed. Thanks!

[2019-02-11 11:43] piyumi25 opened #7949 "Apply css for options when options are loading dynamically"
I am trying to create choice group with dynamic options. also I need to change the styles of each option. I tried it using classname but it was not success.Can some one help for this?

let numbers = [];
    for(let i=0;i<10;i++){
    numbers.push({
    key:i,text:i,checked: false
    });
    }

    <ChoiceGroup className="numbers" key="numbers" options={numbers} onChanged={this.onRecentMatterChang

[2019-02-11 14:04] sahil6814 commented on #7938
+1

[2019-02-11 14:24] mjkozicki commented on #7938
+1

[2019-02-11 14:25] jimmywim opened #7951 "hidden prop not hiding control"
### Environment Information

- __Package version(s)__: Whatever ships with SPFX 1.7.0
- __Browser and OS versions__: Windows 10, Chrome

### Please provide a reproduction of the bug in a codepen:

Set 'hidden={true}' on Toggle component

https://codepen.io/anon/pen/xMjVvq

#### Actual behavior:

Toggle component remains on page

#### Expected behavior:

Component should not be visible, space occup

[2019-02-11 14:54] sming commented on #7938
+1 would be great.

[2019-02-11 15:55] micahgodbolt commented on #7941
@Adjective-Object Are you interested/considering doing this work?

[2019-02-11 16:38] akpowell commented on #7938
love it! 👍

[2019-02-11 17:26] JasonGore commented on #7947
Can you check your `node_modules/office-ui-fabric-react/package.json` to see which version of OUFR you are on and place your examples in a [CodePen](https://aka.ms/fabricpen)? That'll help confirm the issue and whether or not it's been resolved.

[2019-02-11 18:09] bagau commented on #7874
I spent many time to understand where I should set this declare module.

May be some people doesn't understand too.
This code I pasted to react-app-env.d.ts file and now it's working.

[2019-02-11 18:25] dharnen commented on #7947
Hello Jason,

The package.json in the office-ui-fabric-react lists "version":  "1.14.3"

[2019-02-11 18:35] #7944 closed

[2019-02-11 18:39] JasonGore commented on #7948
Have you seen the [various HoverCard examples](https://developer.microsoft.com/en-us/fabric#/components/hovercard)? They have `Export to Codepen` options that should let you play with the various HoverCard examples displayed on that page. Is this what you are looking for?

[2019-02-11 18:53] #7068 closed

[2019-02-11 18:53] #7066 closed

[2019-02-11 18:53] #7067 closed

[2019-02-11 18:53] #7310 closed

[2019-02-11 19:37] ecraig12345 commented on #7946
That creates a lot more problems than it solves. Instead of being able to just use our controls on a normal page, we'd have to write tooling to call the codesandbox API to create the examples.

I just made #7953 as a sample of converting to `getId()` (and removing some IDs that are entirely unneeded).

[2019-02-11 19:53] dharnen commented on #7947
@JasonGore
Okay so I've gotten a codepen started. Its just a simple div with an Image component in it that will change the picture when one of the buttons on the top is clicked. Please excuse my lack of experience, I haven't really used codepen much so I'm not sure how to pull in the correct version of the office-ui-fabric-react dependency. I have the imageFit property commented out because it cau

[2019-02-11 19:56] JasonGore commented on #7947
I'm working behind the scenes to better understand SPFx scenarios, but the version of office-ui-fabric-react (OUFR) you reported is *quite* old. We're on v6 now and we consider v5 to be outdated. This is actually the first issue reported against v1 I've seen. 😄

In any case, I consider it a very high chance that the issue you're seeing was resolved some time ago, which is why you can't reproduce i

[2019-02-11 20:11] dharnen commented on #7947
Makes sense.... I'm pretty new to most of the SPFx world but really like everything it has to offer. That being said, I'm using this version of ui-fabric because that was what was installed using the yeoman generator for a SP OnPrem 2016 webpart. I guess I assumed that the version of ui-fabric I could use was limited because of the solution I developing for. Not sure if you have any knowledge on w

[2019-02-11 21:00] #7815 closed

[2019-02-11 22:00] #7951 closed

[2019-02-11 22:01] #7934 closed

[2019-02-11 22:04] kenotron commented on #7935
Okay I'm gonna put this in the backlog for discussion then.

[2019-02-11 22:05] #7926 closed

[2019-02-11 22:07] kenotron commented on #7923
Ping @mikewheaton? If you still want to tackle, feel free to continue on it. I'm putting it in the backlog for now.

[2019-02-11 22:08] kenotron commented on #7912
#7914 should address this instead.

[2019-02-11 22:18] aftab-hassan commented on #7260
@nkanaki @dzearing sorry for the delay in responding. I am working on this, let's check back here for updates.

[2019-02-11 23:05] gnanavelum commented on #7858
i do see that code that has the caller... my overflowset works but the onRenderItem never got called, no coverage. if i return null on the onRenderItem still works. feel free to ping me gnamun… i can show the code.

[2019-02-11 23:09] JasonGore commented on #7949
It doesn't sound like you're reporting an issue against OUFR. Similar to some of your [previous](https://github.com/OfficeDev/office-ui-fabric-react/issues/7491) [requests](https://github.com/OfficeDev/office-ui-fabric-react/issues/7864), @piyumi25, we kindly request that all questions be directed to [StackOverflow](https://stackoverflow.com/questions/tagged/office-ui-fabric). We'd like to keep is

[2019-02-11 23:27] mikewheaton commented on #7939
I'm not sure why those colors were semi-transparent in the first place since I can't think of any scenarios where we would want them to adapt to the background color or show content behind them. Am I missing something? If not, I'd suggest we just grab the hex values from a screenshot (if this aren't in our shared palette) and use them.

[2019-02-12 00:27] #7901 closed

[2019-02-12 01:02] JasonGore commented on #7947
I'm still trying to determine what your options are, but if you can try a newer version of OUFR in the meantime please let me know your findings. Thanks!

[2019-02-12 01:17] JasonGore commented on #7947
Office UI Fabric React is committed to maintenance of the current release (6.x) and previous major release (5.x). This bug exists within version 1.x which falls outside of our support matrix, but does appear to have been fixed since v1. We recommend contacting your SharePoint support contacts for the on-prem license if you are unable to patch the bug within your instance.

[2019-02-12 01:23] dharnen commented on #7947
Gotcha. I'll see if updating my version is an option. I appreciate your quick response to my post and the guidance moving forward!

Drake

[2019-02-12 01:56] waabid commented on #7679
@dzearing any update on this?

[2019-02-12 04:07] HaveF opened #7960 "[doc]interface of components may lack properties"
**Describe the feature that you would like added**
In the doc of [Dropdown component](https://developer.microsoft.com/en-us/fabric#/components/dropdown#Implementation), the `IDropdownProps interface` should have `defaultSelectedKey` property, but in fact, the `defaultSelectedKey` is here: [packages/office-ui-fabric-react/src/utilities/selectableOption/SelectableDroppableText.types.ts](https://gith

[2019-02-12 06:00] cliffkoh commented on #7503
Hey @goodoldneon ,

I took a look at this and realized that your codepen does not actually illustrate this issue. Additionally, when writing unit tests for this, I can't actually repro the reported issue. I will create a PR that adds a unit test to illustrate. Maybe there is something wrong with the way I am writing my unit test but in the first place, it would be great for an actual repro of the

[2019-02-12 08:59] artxach commented on #7909
hi @kenotron . Thanks for the response. I understand the styling of ScrollablePane.
In my case, i don't know the height, and if i specify min-height, the scrollablepane will always take min-height and will not expand to its actual height. Even in your example of codepen, the content is NOT VISIBLE and the height of ScrollablePane is 0.
![image](https://user-images.githubusercontent.com/5441923/526

[2019-02-12 10:46] Markionium commented on #7886
I'm not sure why this has been assigned to me @kenotron? I can't say I'm very familiar with that code :D

I can have a look but I don't have a lot of bandwidth at the moment to take a look at this in the short term.

[2019-02-12 13:09] PFAR opened #7962 "GroupedList missing focusIndex"
GroupedList sometimes requires a forceUpdate, in that case the scrollbar goes back to the top.
Either forceUpdate should have an option to preserve scroll position, or there should be an option to move an item back to focus similar to DetailsList. This is a duplicate of #2757 but it was closed due to inactivity.

**What component or utility would this be added to**
GroupedList - focusIndex/getStar

[2019-02-12 15:58] h3nn3 commented on #7934
Thanks guys and girls :)

[2019-02-12 16:09] kenotron commented on #7892
I actually implemented this with an internal Devops build definition. So there's no code to show here, so I'm close this one.

[2019-02-12 16:09] #7892 closed

[2019-02-12 16:51] JasonGore commented on #7962
Actually #2757 was closed due to merged PR #2772 which added `scrollToIndex`. Does `scrollToIndex` not provide the functionality you are looking for? If not, why?

[2019-02-12 16:59] #7725 closed

[2019-02-12 17:03] didii opened #7963 "Expose checkbox of DetailsList or add options to render checkbox"
**Describe the feature that you would like added**

Either expose the predefined checkbox that is used in a `DetailsList` when you specify its `selectionMode` to `single` or `mutliple` or add an option to the group header to still render the default checkbox button even if you override `groupProps.onRenderHeader` of the `DetailsList`.

**What component or utility would this be added to**

It shoul

[2019-02-12 17:30] PFAR commented on #7962
Hmm then it's a documentation issue, scrollToIndex is not shown here: https://developer.microsoft.com/en-us/fabric#/components/groupedlist

[2019-02-12 17:36] JasonGore commented on #7962
Yeah, the reason for that is because the documentation does not show elements in inherited interfaces (in this case `IList`) but we are currently making improvements to address that separately.

Does `scrollToIndex` address your issue?

[2019-02-12 17:42] PFAR commented on #7962
Yes it will, you can close this.

Sounds great to have inherited functionality added to the documentation, I assume you'd have some sort of table with a column indicating where it's coming from, otherwise you'd have a real challenge finding your methods and properties in all the different interface lists.

[2019-02-12 17:46] JasonGore commented on #7962
Our current plan is to have links to inherited interfaces to make it clear where each prop is coming from. Thanks for responding, I will go ahead and close this.

[2019-02-12 17:46] #7962 closed

[2019-02-12 17:51] dzearing opened #7965 "Build test app to detect side effects in packages"
Today if you import `mergeStyles` from `@uifabric/merge-styles`, you will see ~3.8K listed by the `import cost` VSCode extension. If you import it from `office-ui-fabric-react` however, you will see 13.6K gzipped.

This is likely due to side effects, mandatorily pulled in by the oufr package.

We should have a test that validates the bundle sizes are close to identical when pulling a thing from a

[2019-02-12 18:11] JasonGore commented on #7960
This issue appears to be a dupe of #7819. Documentation not capturing inherited issues is known and being worked on (#6780).

Regarding `defaultSelectedKeys`, I don't think it's quite redundant as we want to guarantee that it's a flat array of `string` or `number` and therefore can't be `defaultSelectedKey[]`.

[2019-02-12 18:33] #7923 closed

[2019-02-12 18:45] micahgodbolt opened #7966 "Support dir=RTL tag on elements other than HTML"
**Describe the feature that you would like added**
Currently our RTL logic assumes that the language direction is specified via <html dir=RTL>. Some apps have longstanding expectations that the dir tag is on the body tag, or other parts of the application.

**What component or utility would this be added to**
Utilities/RTL

**Have you discussed this feature with our team, and if so, who**
@JasonGo

[2019-02-12 18:45] micahgodbolt commented on #7966
@dzearing do you know if there is a reason RTL has to be on HTML? Or was it just build that way for simplicity. Teams is having an issue with this specifically.

[2019-02-12 18:51] natalieethell commented on #7820
Reopening this issue, as the original fix introduced a regression.

[2019-02-12 19:12] dzearing commented on #7966
Dupe of https://github.com/OfficeDev/office-ui-fabric-react/issues/6604

You can specify `<div dir='rtl'>` anywhere you want. HTML styling would filp. But, the problem is that styling would not be affected; our lefts would not flip to right, because they would not be aware of the context.

Which is why `dir` should be provided through theme settings, which are accessible to styling, prior to rende

[2019-02-12 19:16] smhigley commented on #7469
Hi @atneik, how would you feel about me picking up this issue? I've been working on custom select accessibility patterns, and have a couple thoughts about how to fix it. I've checked the current implementation in NVDA/FF, Edge/Narrator, and Chrome/JAWS and can reproduce unexpected behavior in all of them, although the specific behavior varies. Chrome/JAWS certainly has the most unusable experience

[2019-02-12 19:16] JasonGore commented on #7966
Updating `getRTL` to use body `dir` but as David mentioned that still leaves the issue of styling not applying the proper direction. Closing as dupe of #6604.

[2019-02-12 19:20] JasonGore commented on #7966
Actually I misunderstood the resolution. It seems worthwhile to have an `html` tag with `body` fallback with or without theming. I'll reopen this to address that part.

[2019-02-12 20:07] atneik commented on #7469
@smhigley That would be great! I'll forward you the email thread during my investigation.

[2019-02-12 20:09] atneik commented on #7469
@smhigley are you able to assign yourself to this issue?

[2019-02-12 20:18] smhigley commented on #7469
@atneik it doesn't look like I can assign myself, but my github account should be linked to Microsoft already. If you can assign it to me, go ahead 👍

[2019-02-12 20:29] micahgodbolt commented on #7966
yeah, I agree there is a better solution here with theme, but I'd like to get a faster fix out the door for teams if possible.

[2019-02-12 22:25] natalieethell commented on #7835
Sorry for the delay here! We originally anticipated this addition would be quick and easy, but it involves a little more work with the styling, since Nav links override button styling and the disabled button styling is what we'd want to use.

[2019-02-12 22:30] HaveF commented on #7960
Thanks, @JasonGore . I did not notice that dupe issue.

I see. Maybe we can remove the `string[] | number[]` types from defaultSelectedKey to make more clean? We make the `defaultSelectedKeys` and `defaultSelectedKey` as orthogonal properties.

[2019-02-12 22:34] cliffkoh opened #7970 "API surface for Tooltip/Callout doesn't allow proper position of beak even with DirectionalHint.bottomLeftEdge"
### Environment Information

- __Package version(s)__:  6.138
- __Browser and OS versions__:  all browsers/os

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/cliffkoh/pen/OdEqNE?editors=0010

#### Actual behavior:

![image](https://user-images.githubusercontent.com/1003246/52672287-49f03680-2ed2-11e9-9e73-15653eb2acd9.png)

#### Expected behavior:

![image](https://

[2019-02-12 22:34] JasonGore commented on #7960
Well, that would technically be a breaking change. Are you saying `string[] | number[]` are not valid typings for `defaultSelectedKey`?

[2019-02-12 22:46] HaveF commented on #7960
I mean the user may confused on where to put their default keys `string[] | number[]` when seeing the future enhanced document,  in `defaultSelectedKeys` or `defaultSelectedKey`, or both?

[2019-02-12 22:48] Adjective-Object commented on #7941
Yep! I spent some time working on an implementation on my side but ran into issues making the typing of it legal because of the componentRef's typing on props. I'm going to give it another try and open up an RFC.

[2019-02-12 22:57] natalieethell commented on #7835
Since this work involves more in-depth discussion of the styling for several different types of links within a Nav, to make sure it gets the time and attention it needs and deserves, I'm going to add this to the backlog. Thanks for your patience here!

[2019-02-12 23:00] #7861 closed

[2019-02-12 23:00] #7846 closed

[2019-02-12 23:00] natalieethell commented on #7878
Assigning @ecraig12345 since here PR fixes this issue.

[2019-02-12 23:37] #7946 closed

[2019-02-13 00:00] #7949 closed

[2019-02-13 00:33] Rocky-Moon commented on #5473
Found this frustrating after upgrading my package to the latest version, suddenly all my Dropdowns were automatically triggering onChange on focus, which in my opinion is unexpected behavior especially in situations where you are doing something (like getting data from the server, or hiding / showing UI based on the option selected).

At the very least there should be a way to opt out of this beha

[2019-02-13 00:54] jonathanhotono opened #7972 "Color & Themes area in website broken"
I can't seem to access these pages anymore:
https://developer.microsoft.com/en-us/fabric#/customizations/themes
https://developer.microsoft.com/en-us/fabric#/customizations/colors

[2019-02-13 01:02] cliffkoh commented on #5473
@Rocky-Moon Sorry to hear that. :( It is one of those catch-22 where the prior behavior really annoyed people who really care about or depend on accessibility, and the present behavior annoys people who were explicitly depending on the Dropdown to not do what it has to do (and who doesn't see standards compliance and accessibility as being as much of a priority).

The team is looking to rewrite Dr

[2019-02-13 01:10] Rocky-Moon commented on #5473
Thanks for the response Cliff, totally understand - you're damned if you do and damned if you don't :)

[2019-02-13 01:58] Jahnp commented on #7580
@lambertwang just checking, is this something you were able to look into? Thanks!

[2019-02-13 02:11] KeiraYang commented on #7846
Hi @natalieethell. Sorry for delay reply. I got your idea. Thank you for this! I've understood.

[2019-02-13 02:11] JasonGore commented on #7972
@kenotron Do you think this could be a regression caused by #7894?

[2019-02-13 02:12] KeiraYang commented on #7846
@natalieethell  Could you please take a look at the dismiss teaching bubble action when click the 'X' button. It doesn't work now even in the example [ https://developer.microsoft.com/en-us/fabric#/components/teachingbubble]( https://developer.microsoft.com/en-us/fabric#/components/teachingbubble)

[2019-02-13 03:02] #7867 closed

[2019-02-13 04:21] natalieethell commented on #7846
@KeiraYang yes! I'm currently working on a fix for that, actually - it was due to my change last week. I'm hoping to push a fix asap.

[2019-02-13 04:28] natalieethell commented on #7846
@KeiraYang it's being tracked here! https://github.com/OfficeDev/office-ui-fabric-react/issues/7820

[2019-02-13 04:53] KeiraYang commented on #7846
Good! Thank you!

[2019-02-13 04:59] KeiraYang opened #7975 "Coachmark will not be dismissed when click outside of coachmark (set preventDismissOnLostFocus as false)."
Here is the codepen:
[https://codepen.io/keirayang/pen/PXMByz](https://codepen.io/keirayang/pen/PXMByz)

I set preventDismissOnLostFocus as false in calloutProps. But the coachmark cannot be dismissed by clicking outside of coachmark.

[2019-02-13 07:14] Vitalius1 commented on #7975
This is because the `TeachingBubbleContent` is not using the callout props at all. There is a higher parent that renders `TeachingBubbleContent` in a callout and it's called `TeachingBubble` here:
https://github.com/OfficeDev/office-ui-fabric-react/blob/0c8e4d3aed46a6bbf521bc48509a6f988446760d/packages/office-ui-fabric-react/src/components/TeachingBubble/TeachingBubble.base.tsx#L74-L86

In the cas

[2019-02-13 07:59] KeiraYang commented on #7975
Sorry I have another issue wantto explain. If I didn't add ondismiss, the coach mark will not be dismissed until user expand coach mark and click 'X' button to dismiss it. Then for my page, when switch to another page by left nav in the same window, the coachmark will still on it's position even though it's target button has been unmounted. Did I make misunderstand or it will act like this?

[2019-02-13 08:08] #7499 closed

[2019-02-13 08:09] Jahnp commented on #7972
It's definitely caused by that. The new links should be navigable from the left nav:
![image](https://user-images.githubusercontent.com/307118/52696260-6e283380-2f23-11e9-853b-7aa7b3447c09.png)

But the old links should continue to work for anyone who's bookmarked them. @kenotron is it possible to add back support for the old links? We can also work to update the UHF with the new links, but that m

[2019-02-13 08:39] lafe commented on #7023
If you increase the minimum versions like that, please ensure that the SharePoint Framework also supports these versions (On Premises and Online). Currently, SPFx uses React 16.3 and TypeScript 2.4.2.

[2019-02-13 08:53] KeiraYang commented on #7975
It seems doesn't solve my issue because I want have different dismiss action for the coachmark circle and for the expanded teaching bubble. But they share the same onDismiss action. Add onDismiss in TeachingBubbleContent not work.

[2019-02-13 15:16] hojovi opened #7979 "Callout: position relative to browser instead of specific element when use "preventDismissOnScroll=true""
### Bug Report

- __Package version(s)__: 6.138.1
- __Browser and OS versions__: Chrome/Windows 10

#### Priorities and help requested (not applicable if asking question):

Requested priority: Normal

#### Describe the issue:

When I use "Callout" with "preventDismissOnScroll=true", the "Callout" doesn't attach to target any more while scrolling page.

#### Actual behavior:

The "Callout" isn't po

[2019-02-13 15:26] alex3683 commented on #5631
I'm not sure whether to open a new issue or just add it here, so I just do the latter:
The same applies to the PeoplePicker as well. The new O365 OWA client uses this for example.

[2019-02-13 16:12] Vitalius1 commented on #7975
@KeiraYang for your first reply what do you mean by :

Do you navigate to a page that is rendered by the same component that initialy rendered the Coachmark? If yes, then I would assume that this is a normal behavior of the Coachmark circle to stasy put after it positioned itself. What is your expected behavior or is this something that happens in your application?
Also, you can press `ESC` key to

[2019-02-13 16:36] goodoldneon commented on #7503
@cliffkoh

I accidentally overwrote the pen; sorry about that. I'll create another one today.

[2019-02-13 17:51] natalieethell commented on #7820
Reverting the original "fix" here: https://github.com/OfficeDev/office-ui-fabric-react/pull/7981. After that PR, we'll discuss this ESC issue further.

[2019-02-13 18:00] #7947 closed

[2019-02-13 18:23] mikewheaton opened #7983 "Fluent styles should use palette colors"
### Environment Information

- __Package version(s)__: Latest
- __Browser and OS versions__: N/A

#### Description

The Fluent styles include colors like `CommunicationColors.primary` and `NeutralColors.gray160`, which are **not themeable**. These should be replaced with `palette.themePrimary` and `palette.neutralPrimary`.

We weren't able to do this before because buttons didn't accept a style fu

[2019-02-13 18:49] JasonGore commented on #7966
We need to discuss components that use CSS too. The `@mixin LTR` and `RTL` assume that dir attribute is on html element. That means components using CSS (like `Calendar`) will still ignore body dir attribute:

![image](https://user-images.githubusercontent.com/26070760/52735629-eff87b00-2f7c-11e9-9f49-9de5bd5e21e3.png)

[2019-02-13 18:50] waabid commented on #7826
Is there any update on this @natalieethell?

[2019-02-13 18:54] natalieethell commented on #7826
@mslonli @waabid sorry for the delay here! I've been discussing this issue with a couple folks on the team. In short, we're not sure of the fix yet, but are discussing potential changes to DOM structure and/or attributes like "role" on Panel.

[2019-02-13 19:15] waabid commented on #7826
Sounds good! Please let us know if we can help in anyway.

[2019-02-13 19:19] JasonGore commented on #7960
It appears `defaultSelectedKeys` is only used when `multiSelect` is true, otherwise `defaultSelectedKey` is used. I'll update the documentation to clarify.

[2019-02-13 19:52] natalieethell commented on #7826
@waabid awesome, thank you! If you have an idea for a fix, definitely feel free to reach out and/or open a PR with the change.

[2019-02-13 20:27] #7960 closed

[2019-02-13 20:46] aneeshack4 commented on #7217
@TestAccessibilityGIT I've contacted Narrator about Bugs 5, 6, and 7 and cc'd you - please don't respond to Github comments with Outlook though! It just makes these issues unnecessarily long and unreadable. If you could please respond directly on Github to us from now on all issues, we'd really appreciate it, thanks!

[2019-02-13 20:47] aneeshack4 commented on #7217
It got auto-closed by the bot - I'm still trying to find a fix for Bugs 1 & 3. There's some weirdness with aria-valuenow in the stateful example because the value is not just a number, it includes text.

[2019-02-13 22:16] cliffkoh commented on #7503
@goodoldneon thanks for restoring your example! Appreciate it.

Drag-drop of rows was precisely the scenario I tested in #7961 unit test. In your codepen, I am unable to perform the drag-drop of rows even on initial load without clicking the button ...

[2019-02-13 22:23] cliffkoh commented on #7503
Appreciate the codepen. I will look into this.

[2019-02-13 22:29] awalia13 opened #7990 "Modal A11y Pass"
Tracking all of the issues brought up with the 2/13 accessibility pass on Modal Control
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/p/v-amaver/EWKexiitxhJHoxtcuFBidtcBH-kr9UDz-G9I4R3OZhbXiQ?rtime=ECIKDAGS1kg)

- ~~Bug1: [Accessibility][Programmatic access]: ARIA attributes must conform to valid values.~~
    - JG, 9/19/2019: Following steps in [S

[2019-02-13 22:57] JasonGore commented on #7979
@joschect Do you know if it's expected that `Callout` repositions with content when scrolling with use of `preventDismissOnScroll`?

[2019-02-13 23:08] JasonGore commented on #7979
As `TeachingBubble` uses `Callout` this is a possible dupe of #7846.

[2019-02-13 23:24] dzearing commented on #3250
@lorejoh12 is this fixed in the new Calendar component? If so, should we close this?

[2019-02-13 23:24] dzearing commented on #3250
It's been around since 2017...

[2019-02-13 23:26] dzearing commented on #4817
@joschect This is an accessibility issue opened May 2018. Isn't this a concern for the picker scenarios? Or was it fixed?

Jason mentioned above that #4817 is saying it's still an issue. Accessibility bugs need to be prioritized.

[2019-02-13 23:28] JasonGore commented on #4817
Hmm, my comment is creating a circular reference to this same issue. Let me try and see if I can remember what I meant.

[2019-02-13 23:29] joschect commented on #7979
@JasonGore The callout is not supposed to re-position on scroll. Since it needs to calculate it's position, any scroll becomes pretty expensive and jittery. At least for right now. This is working as intended.

[2019-02-13 23:31] dzearing commented on #4971
@ThomasMichon Could we remove this role=presentation for the FocusZone div? There seems to be little reason why we have this on there.

[2019-02-13 23:33] dzearing commented on #4971
@jdhuntington Just adding you here to help make sure we don't lose track of this. Either we remove role=presentation, or have good reasoning for why it's there. I've pinged @ThomasMichon in chat.

[2019-02-13 23:34] ThomasMichon commented on #4971
Keep in mind that the default 'role' for a `div` element is 'group'. Narrator and JAWS will both diligently read 'group' after reading the content of a `div`. Since `FocusZone` is normally a utility component with no intended semantic impact, it should not announce itself by having a `role`. If people overload a `FocusZone` with intent to actually use it (and the new focus-park behavior does this)

[2019-02-13 23:35] JasonGore commented on #4817
I can only imagine I meant to link #5098, but that was closed as a dupe against this one. I would consider this issue still unresolved.

[2019-02-13 23:38] dzearing commented on #4875
@joschect This seems pretty important for accessibility specifically with the light HC mode; we could possibly pitch in here and help fix this, unless you have a fix incoming soon. It's been sitting since May 2018, and I suspect this impacts ODSP picker usage just like any other scenario.

[2019-02-13 23:39] joschect commented on #4817
This should have been fixed, it doesn't read "deleted" or anything like that, but it will read the new selected list of names.

[2019-02-13 23:39] ThomasMichon commented on #4971
In `office-ui-fabric-react`, `<FocusZone>` is frequently intertwined with other semantically-meaningful structures. Letting it have a default `role` would harm the accessibility of those structures. We'd have to modify all the usages in `office-ui-fabric-react` to set `role='presentation'` if we changed this.

[2019-02-13 23:40] dzearing commented on #4817
Alright, closing.

[2019-02-13 23:40] #4817 closed

[2019-02-13 23:43] ThomasMichon commented on #4971
An idea might be to set `role='presention'` only if `Tag` is `div` or `span`. That would ensure the semantic meaning of the override element is not erased.

[2019-02-13 23:47] dzearing commented on #5115
It seems to me that the tabbing behavior is by design, but the roles might not be.

Could we stick `role="grid"` on the surface area? (excluding the column headers?)

I'd like to either come up with an action plan that makes sense here, or close as by design.

[2019-02-13 23:49] dzearing commented on #5171
We have no plans to support Firefox HC.

[2019-02-13 23:49] #5171 closed

[2019-02-13 23:56] dzearing commented on #5163
Closing as a dupe of #6525.

[2019-02-13 23:56] #5163 closed

[2019-02-13 23:59] dzearing commented on #5235
Dupe of https://github.com/OfficeDev/office-ui-fabric-react/issues/6525

[2019-02-13 23:59] #5235 closed

[2019-02-14 00:01] joschect commented on #4875
@dzearing it looks like there is some logic that checks for the highcontrastslector in the peoplepickeritem styles, we could probably port some of that to to the suggestion and that could work. I don't have a fix coming soon though.

[2019-02-14 00:01] dzearing commented on #5360
@jspurlin Is this a real bug? It's been assigned to @chang47 for a while now, but hasn't been addressed.  Can you look and see if this is a real issue, and what needs to be fixed? This surely impacts everyone using ComboBox.

[2019-02-14 00:09] dzearing commented on #6356
We are replacing the button, but I'd like to make sure we investigate these issues to understand the issue and requirement and that the new button and examples have these resolved.

[2019-02-14 00:20] #7966 closed

[2019-02-14 00:21] dzearing commented on #6642
I believe the reasoning here is that it avoids conflicts with FocusZone scenarios where you want to arrow between buttons, some being split.

@jspurlin any take on this?

[2019-02-14 00:26] dzearing commented on #6642
I've started a mail thread with the right folks.

[2019-02-14 00:33] micahgodbolt commented on #6642
what's the expectation of split buttons in vertical navigation. As I arrow down each item in the list would we need to prevent the behavior in that scenario?

[2019-02-14 00:33] kenotron commented on #7972
Sure, we could try to backport the bad links to the new one, I suppose. How many more days is this supposed to be?

[2019-02-14 00:36] ecraig12345 commented on #479
Looking at this again, the pivot is already behaving as expected.

Pivot **should not** respond to changes to `initialSelectedKey` (soon to be renamed `defaultSelectedKey`). That prop is only meant for when the pivot is used as an *uncontrolled component*, meaning it internally tracks which tab is selected. Same applies for `initialSelectedIndex`/`defaultSelectedIndex`.

If you want to change the

[2019-02-14 00:36] #479 closed

[2019-02-14 00:41] jspurlin commented on #6642
I agree with David and the reasoning he provided

[2019-02-14 00:41] KeiraYang commented on #7975
Thank you @Vitalius1  for reply. I'm sorry for confusion. I'll make it clear.
For the first reply, may the coachmark itself can check if it's target is gone (When click outside of coachmark will not dismiss the coachmark)? Because if the target is missed in the page, the coachmark should not be still there.

For second reply, for coachmark, there is a circle and a dialog opened. I want to control

[2019-02-14 00:44] Jahnp commented on #7972
I'm working with the dev.microsoft.com infra team to get the links updated as we don't have perms to do it ourselves right now. It should be published within the next day or so. But that'll only fix the links on the UHF—if someone already had the original links bookmarked they'd break. I think @JasonGore did this with the old theme generator link.

[2019-02-14 00:46] HalcyonPride opened #7991 "[Accessibility] PeoplePicker: Doesn't Announce 'No results found'"
### Environment Information

- __Package version(s)__: Latest
- __Browser and OS versions__: Edge; Windows 10 Enterprise, version 1809

### Please provide a reproduction of the bug in a codepen:
https://developer.microsoft.com/en-us/fabric#/components/peoplepicker

#### Actual behavior:

When the list of Suggested People is empty, Narrator doesn't announce anything.

#### Expected behavior:

Narra

[2019-02-14 00:47] dzearing commented on #7811
I believe this is a dupe of #4875 which I will reassign to @leddie24

@Jahnp for fyi

[2019-02-14 00:47] #7811 closed

[2019-02-14 00:49] dzearing commented on #6642
I am going to close this, as the default should not be down arrow, but we have an email thread going and if we deem changes are required in that thread we will reopen.

[2019-02-14 00:49] #6642 closed

[2019-02-14 00:50] cnshenj opened #7992 "TextField and SearchBox in Dialog require 2 clicks to regain focus"
### Environment Information

- __Package version(s)__:
    "office-ui-fabric-react": "^6.138.1",
    "react": "^16.8.1",
    "react-dom": "^16.8.1",

- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:
https://codesandbox.io/s/91oz23zj64
1. Click the `TextField` in the `Dialog` to focus
2. Click outside the `TextField` (e.g. empty

[2019-02-14 00:52] dzearing commented on #5718
I don't understand what is causing this or the work required to fix this and don't see comments here explaining anything. @lorejoh12 is there something easy to fix here? Is there an aria tag missing somewhere? @AkshanshSrivastava03 do you see an element with the wrong role or tag?

I am unclear on what action is required.

[2019-02-14 00:56] dzearing commented on #5752
@jamesedjac @cliffkoh Reading through this, it is unclear that we should be changing anything right now. Can we close this, or is there a recommendation on pursuing more work?

[2019-02-14 00:58] Jahnp commented on #7972
Correction—the UHF links should be live in the next hour or so.

[2019-02-14 01:06] dzearing commented on #6318
@KevinTCoughlin just a ping on this. Is there an eta or plan for this?

[2019-02-14 01:06] Vitalius1 commented on #7975
@KeiraYang
1. Can you mock up this scenario in the codepen? Do you have an app using Coachmark and it's not dismissed when navigating to a different page and the target element is unmounted? Is it an issue you have in your product or is this just a theoretical question?

2. I've updated the codepen to show that you don't have to do a dismissal in either of the callbacks. Let me know if I got it wr

[2019-02-14 01:06] dzearing commented on #6318
Setting for March tentatively.

[2019-02-14 01:06] kenotron commented on #7972
So, do we still need to act on this?

[2019-02-14 01:08] Jahnp commented on #7972
I think so, yes—not ideal, but, the old links will still break if someone has the old links.

[2019-02-14 01:09] Jahnp commented on #7811
@dzearing makes sense, thank you!

[2019-02-14 01:11] HalcyonPride opened #7993 "[Accessibility] Slider: Doesn't Announce Current Value"
### Environment Information

- __Package version(s)__: Latest
- __Browser and OS versions__: Edge; Windows 10 Enterprise, version 1809

### Please provide a reproduction of the bug in a codepen:
https://developer.microsoft.com/en-us/fabric#/components/slider

#### Actual behavior:

Narrator doesn't announce the current value as you move the slider.

#### Expected behavior:

Narrator should announc

[2019-02-14 01:28] JasonGore commented on #7991
I've confirmed this is an issue with Edge, but even the normal announcement of matches doesn't seem to work consistently, at least after the first announcement.

FWIW I've confirmed this behavior seems to work a lot better with Narrator + Chrome, and even announces when no results are found:
![pickers](https://user-images.githubusercontent.com/26070760/52756003-c78c7300-2fb4-11e9-8253-ae8c38f23a99

[2019-02-14 01:32] HalcyonPride commented on #7991
@JasonGore, thanks for triaging this! Would you be able to file a Bug on Edge? If not, I can show you how in an email. After which, please feel free to close this Bug as 'External' or something equivalent.

[2019-02-14 01:33] JasonGore commented on #7991
I've triaged it to the Picker team for now.. I wanted them to confirm the final triage. 😄

[2019-02-14 01:35] JasonGore commented on #7991
Also, please feel free to file bugs in Edge as well. Ultimately we're responsible for Fabric, not Edge. :)

[2019-02-14 01:42] markreay commented on #7679
@dzearing - Can we help with this?

[2019-02-14 01:52] JasonGore commented on #7115
Just a general note here: We should be reporting the browser and browser version used when both reporting and responding to issues as no repro.

[2019-02-14 01:56] hojovi commented on #7979
Sorry, but this is not in line with daily awareness. We need to implement a feature "beginner guidance", like this, https://introjs.com/ , is there any way to achieve this by "office ui fabric"?

@JasonGore I think we might solve this by making "Callout" child of the target element, using "position: absolute" instead of "position: fixed", then we don't need to calculate it's position while scrolli

[2019-02-14 02:23] Vitalius1 commented on #7983
@mikewheaton by:

... you mean update the fluent style objects for buttons to be style functions?

[2019-02-14 02:34] JasonGore commented on #7993
The same behavior also occurs with an [ARIA slider example](https://www.w3.org/TR/wai-aria-practices/examples/slider/slider-1.html) indicating that this is an issue with either Edge or Narrator. I've also tested with NVDA, which announces the Slider value in Chrome, but not in Edge. As a result, I suspect this is an issue with Edge.

I'm working to create an issue with the Edge team now.

[2019-02-14 02:36] JasonGore commented on #7990
@awalia13 Can you please report browser version? This is particularly important when reporting Narrator issues. Thanks.

[2019-02-14 04:11] kenotron commented on #7972
Take a look at the PR for a quick fix for this.

[2019-02-14 04:23] kenotron commented on #7889
I'm sorry, without a bit more code I can't tell you what's wrong in your env. Please list out these things:

@types/react version
react version
office-ui-fabric-react version
node version
webpack version
typescript version

And if you can, maybe paste in the exact code you're using to consume this component...

[2019-02-14 04:25] kenotron commented on #7889
I don't think this is a bug in Fabric. I would encourage you to post this issue on StackOverflow with the `[office-ui-fabric]` tag to get a wider community to assist you in your question.

[2019-02-14 04:39] Jahnp commented on #7972
Awesome thank you! Will take a look shortly.

[2019-02-14 05:33] awalia13 commented on #7990
Hi Jason, We are using Edge browser. Please find below version.
Microsoft Edge 44.18334.1.0
Microsoft EdgeHTML 18.18334

[2019-02-14 07:34] kmrrakesh opened #7999 ""Got it" button is not adapting the high contrast themes"
### Bug Report

- __Package version(s)__: (6.132.0)
- __Browser and OS versions__: (Edge and Windows 10)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (No)

Requested priority: (Normal)

Products/sites affected: (OfficeFabric)

#### Describe the issue:

"Got it" button is not adapting the high contrast themes

#### Actual behavior:

"Got it" button is not adapting th

[2019-02-14 07:41] Vitalius1 commented on #7920
@betrue-final-final I will mark this issue as blocked as it lacks designs for all the Panel types. #7933 is bringing only the common changes for all Panels minus some specifics to Header's margins and breakpoints. Will also remove myslef from assigned for now and feel free to assign me back when the fluent redlines are done.

[2019-02-14 12:11] #7972 closed

[2019-02-14 16:11] JasonGore commented on #7115
@aneeshack4 Microsoft Edge has an active and open issue against #3 (I've also seen this happen with Scan Mode OFF as reported in #7993.) Can you confirm that you tested with Microsoft Edge? I will reopen this issue for now. (If #3 is the only reproed issue we can close and resolve as external.)

[2019-02-14 17:52] JasonGore commented on #7993
Further investigation shows that [this ARIA slider](https://www.w3.org/TR/wai-aria-practices/examples/slider/slider-2.html) example works correctly. The primary difference appears to be the presence of the `aria-valuetext` value. when this value is missing, MS Edge/Narrator do not appear to fall back to `aria-valuenow` attribute for narration.

`aria-valuetext` is not specifically required by ARIA

[2019-02-14 18:03] aneeshack4 commented on #7115
I just rewatched the screen capture video I made: https://microsoft-my.sharepoint-df.com/:u:/p/aneeshak/EZahg4_gVehHu48vES_mC6UBjD9ZjugJR2Yb6PN5Mc1p9w?e=g3XHlO and it looks like it was in Chrome so I don't think I tested this with Edge.

[2019-02-14 18:32] cliffkoh commented on #5752
@dzearing  This falls under work that will take place with a Combobox/Dropdown rewrite. The work specifically needed for Dropdown in isolation is to implement the functionality Combobox presently has where you can press letters on the keyboard to incrementally narrow down and jump to specific Dropdown action, which will be a big part of unlocking the change of Dropdown to "role=combobox".

[2019-02-14 18:44] Jahnp commented on #4875
@khuynh92 would you mind taking a look at this when you have a chance?

[2019-02-14 18:45] JasonGore commented on #7970
This is a feature request regarding beak position in certain scenarios where the beak's current positioning doesn't particularly align with the target. [This CodePen](https://codepen.io/jasongore/pen/daKxvg) highlights the ask a bit more clearly with a list of Checkboxes with varying content width:

![image](https://user-images.githubusercontent.com/26070760/52809619-8db77d00-3045-11e9-8f2d-355896

[2019-02-14 18:48] cliffkoh commented on #7970
Thanks, very good illustration of the existing limitations.

[2019-02-14 18:59] HalcyonPride commented on #7991
@JasonGore, sounds good! And absolutely; I understand. I've filed Bugs on Edge before - I just incorrectly triaged this as a Fabric bug. 😬

[2019-02-14 19:01] HalcyonPride commented on #7993
@JasonGore, I concur with your assessment. Since you're gonna open an issue with Edge, I'll close this Bug.

[2019-02-14 19:01] #7993 closed

[2019-02-14 19:09] JasonGore commented on #7970
One potential solution is providing an optional target id for either the callout or the beak.

[2019-02-14 19:10] aneeshack4 commented on #7115
@TestAccessibilityGIT There are no details for Bug 5 in the spreadsheet - can you send a video/further details? (and please respond directly on github, not outlook because the Outlook comments make the issue unnecessarily long and hard to follow.)

[2019-02-14 19:24] aneeshack4 commented on #7115
@TestAccessibilityGIT I'm not able to repro Bug 4 either - when I use the arrows to reverse navigation, focus is not lost. (And this is all on Edge.) I have been trying make a video showing this non repro but Expression Encoder is no longer working on my machine. It's been very frustrating - if you know of any other free screen capture software that I can use for Narrator scenarios, please let me

[2019-02-14 20:03] KevinTCoughlin commented on #5115
@dzearing original issue answers in-line:

Using [W3's "Data Grid" Example 2](https://www.w3.org/TR/wai-aria-practices-1.1/examples/grid/dataGrids.html#ex2_label) for comparison, it _does_ look like we should only have **one** tab stop. In the example, header, rows, and cells are navigated using arrow keys once the root element receives focus.

The above behavior change will affect document librar

[2019-02-14 20:41] khuynh92 commented on #4875
Of course! I'll take a look at the issue as soon as possible.

[2019-02-14 20:56] JasonGore commented on #5115
I created this issue in June of 2018, so it's entirely possible these issues have been fixed since. I agree that item 2 and 3 no longer appear to be issues, but item 1 is in the ARIA navigation spec and so would consider that something we should look at fixing.

[2019-02-14 21:11] BTC-Bradley opened #8003 "Ambient const enums are not allowed when the '--isolatedModules' flag is provided (Remove last const enum in IconNames.d.ts)"
Hi Microsoft UI Fabric team,

This is a follow up to #7110 where @micahgodbolt mentioned opening a new issue to track the last use of const enums which is causing this error.  The bug seems to have fallen through the cracks and I hope opening this new issue will help to resurface it and get it fixed.

Based on other discussions around this topic, I can see that @kenotron and others have spent a lo

[2019-02-14 21:31] JasonGore commented on #8003
We are considering `IconNames` to be deprecated with no easy path for resolving const enum usage and recommend using icon strings instead. I know #7110 hasn't had activity recently but this is technically a duplicate of that issue. I'll mark this one a duplicate, but in the meantime we're going to update #7110 to more clearly indicate overall const enum status. Thanks!

[2019-02-14 21:44] Dalimil opened #8004 "Callout is immediately dismissed after launching in IE on slower machines"
### Environment Information

- __Package version(s)__:
office-ui-fabric-react: 6.129.3
react: 16.8
- __Browser and OS versions__: Internet Explorer 11 on Windows x64

### Bug Description

The `CalloutContent.base.tsx` file adds listeners for the callout dismissal based on focus changes. This is done via a hacky workaround for IE - the comment is included in the code:

https://github.com/OfficeDev/

[2019-02-14 21:44] JasonGore commented on #7970
[This Codepen](https://codepen.io/jasongore/pen/VgEZVZ) offers a couple of fixes making use of Callout's `target` prop while this issue is investigated.

[2019-02-14 21:46] kenotron commented on #7110
@BTC-Bradley - after a lot of thinking on this issue, we're gonna deprecate the IconNames module. Most of consumers are using `<Icon>` with a plan string name that is taken from the tool:

https://uifabricicons.azurewebsites.net/?help

It's not the resolution you probably want, but in a rare occasion I'm actually recommending against having a real type here so far. We can probably do better in a l

[2019-02-14 21:47] kenotron commented on #7110
Ooops, just saw @JasonGore marking the newer bug resolved. I'm gonna keep this one open for the @deprecated work

[2019-02-14 22:00] #7900 closed

[2019-02-14 22:00] #7918 closed

[2019-02-14 22:02] KevinTCoughlin commented on #5115
@dzearing @aditima thoughts on editing this issue to capture the ask of overhauling tab behavior? This would be feature+ work given the collaboration required with partners (I think).

I will note that I haven't seen this accessibility ask elsewhere, so I'm unsure of its priority.

[2019-02-14 22:20] kimberlyly opened #8006 "Dropdown options not read by JAWS in Edge"
### Environment Information

- __Package version(s)__: 6.131.1
- __Browser and OS versions__: Edge 44.17763.1.0

### Please provide a reproduction of the bug in a codepen: https://codepen.io/kimberlyly/pen/qgJOYb

#### Actual behavior:

JAWS is reading "Blank" when going through the options in Edge.

#### Expected behavior:

JAWS should read the text of the option.

#### Priorities and help reques

[2019-02-14 22:21] JasonGore commented on #5115
Specifically in the [ARIA navigation spec](https://www.w3.org/TR/wai-aria-practices-1.1/#grid) (with added highlighting):

The concern with limiting tab stops seems to be more about having an indefinite number of them as opposed to requiring it to be only 1. If our case is that we have 2 and it's deterministic and, in combination with the lack of asks as Kevin mentioned, maybe this isn't necessari

[2019-02-14 22:25] dzearing opened #8007 "TextField: fonts not respecting theme font."
https://codepen.io/dzearing/pen/ZwvyNq

![image](https://user-images.githubusercontent.com/1110944/52821612-370d6b80-3064-11e9-9489-b063b727815b.png)

The top TextField is rendered within a `Fabric` component, defining a default `font-family`. The bottom one is without.

Expected:
They should match.

Resulted:
They don't.

[2019-02-14 22:48] JasonGore commented on #8006
I am not sure what you mean by "go through options". Can you clarify? Do you mean expanding dropdown and scrolling through items, rotating through them with arrow key, or something else?

When I use Microsoft Edge with Narrator on your provided CodePen, everything seems to work fine. I do not see "Blank" being output at any time:

![dropdown](https://user-images.githubusercontent.com/26070760/5282

[2019-02-14 23:04] dzearing commented on #5115
I don't really think DetailsList is a data grid. Excel spreadsheets are data grids, while the DetailsList is more like a data list. You down arrow and select a whole row. You can, optionally, drill into the cells of a row, but overall, moving vertically means moving between rows, and not cells. In a grid, cells are the important piece of data, rather than rows.

But even then, I strongly strongly

[2019-02-14 23:05] dzearing commented on #5115
@JasonGore I think it's a won't fix...

[2019-02-14 23:07] lorejoh12 commented on #5718
it's the role=gridcell, I think by default gridcells are considered editable (even though clearly this isn't).

Should be a simple matter of adding aria-readonly="true" to the cells

[2019-02-14 23:10] JasonGore commented on #5115
I agree with everything you said, but regardless of what DetailsList is or does, it has elected to use ARIA role of `grid` which has its own requirements. Even the ARIA grid examples with headers treat them as the same focuszone.

But again, I think this is a blurry line based on the quotations I pasted above. I think we're following the spirit of ARIA `grid`, even if our header rows behave slight

[2019-02-14 23:46] JasonGore commented on #7992
This is odd in how much the behavior varies. I've also created [a CodePen](https://codepen.io/jasongore/pen/YBJKPB?editors=1010) which also shows this issue occurring, but with varying frequency:
1. Is not an issue when focus is still within "application" window or `Modal`.
1. Is an issue when moving focus into CodePen IDE area and back into TextField.
    1. However even in this instance it appea

[2019-02-14 23:49] awalia13 commented on #7115
@aneeshack4 - Regarding Bug#5: This is the common issue we found across another control and we mentioned the column "Corresponding Bug ID" in the Bug 5 itself. So please refer the video for that bug.

[2019-02-14 23:52] kimberlyly commented on #8006
Thanks for responding Jason! Yes, it works with Narrator but not JAWS, so I'll post this issue there instead.

[2019-02-14 23:52] #8006 closed

[2019-02-14 23:52] awalia13 commented on #7115
@aneeshack4 - Regarding Bug#4:  We are still able to reproduce the bug and we tested with below platform and Version:

- Microsoft Edge 44.18836.1000.0
- Microsoft EdgeHTML 18.18836
- OS Ver: 1903 (OS Build 18836.1000)

[2019-02-15 00:45] zoarif opened #8010 "Tooltip should not render on touch device"
### Bug Report

- __Package version(s)__: 6.136.0
- __Browser and OS versions__: IOS (Safari on IPad)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable)

#### Describe the issue:

If you wrap tooltip around any button, it cau

[2019-02-15 01:24] cnshenj opened #8011 "Blocking dialog often set the focus in wrong element"
### Environment Information

- __Package version(s)__:
"office-ui-fabric-react": "^6.138.1",
"react": "^16.8.1",
"react-dom": "^16.8.1",

### Please provide a reproduction of the bug in a codepen:

 https://codesandbox.io/s/5x3zvo621x

Repro 1
1. Click the 2nd TextField.
2. Click the Checkbox.

Repro 2
1. Click the empty space of the dialog so none of the input elements has focus
2. Click the 2nd

[2019-02-15 01:27] JasonGore commented on #8004
I've done some preliminary testing in a very slow environment (20% of 1 CPU) and haven't seen anything too unexpected so far. If the user changes focus before it appears, then it will disappear, but I think this is expected behavior when working in a slow PC environment similar to interacting with app menus or any other UI elements.

What exactly fails to work properly? Can you provide details on

[2019-02-15 01:30] ecraig12345 opened #8012 "Make ColorPicker sliders keyboard accessible"
**Describe the feature that you would like added**
Currently, the sliders within the ColorPicker (s/v rectangle, hue, alpha) can't be selected and moved around using the keyboard. At least to me, it seems like a user ought to be able to tab to the slider, hear its current value announced, and move it around using the arrow keys.

**What component or utility would this be added to**
ColorSlider and

[2019-02-15 01:41] JasonGore commented on #8010
Sticky hover in mobile scenarios is a known issue that affects several components. It is covered by #5734.

[2019-02-15 02:39] ecraig12345 opened #8013 "ColorPicker sliders should work on touchscreens"
**Describe the feature that you would like added**
On a touchscreen device, it should be possible to "grab" any of the sliders within the ColorPicker and drag them around. This doesn't work today (try it on [the example](https://developer.microsoft.com/en-us/fabric#/components/colorpicker)).

**What component or utility would this be added to**
ColorRectangle and ColorSlider

**Have you discussed

[2019-02-15 17:07] #5419 closed

[2019-02-15 17:14] JasonGore commented on #8013
Mobile / touch scenarios is something we should definitely have a documented story on. This is somewhat similar to #5734 but this issue may not be styling-related.

[2019-02-15 17:57] ecraig12345 commented on #8013
This one isn’t (primarily) styling-related. The fix will involve adding touch event handling.

[2019-02-15 18:52] JasonGore commented on #8011
If I set `isBlocking` to `false`, I see the issue reported in #7992. Linking as possibly related.

[2019-02-15 19:04] ecraig12345 commented on #7134
@TestAccessibilityGIT Could you please answer David's question from the previous comment? Otherwise I can't do anything with this bug.

[2019-02-15 19:26] awalia13 commented on #7134
@dzearing - The issue is that there is a <button> element but it has no value provided. And as per accessibility standards we must have value for button attribute.
Suggested Fix: please provide aria-label to button so that screen reader should be able to announce when it receives focus.

[2019-02-15 20:14] #7110 closed

[2019-02-15 20:14] #8003 closed

[2019-02-15 21:19] JasonGore commented on #7999
Just wanted to confirm by "Got it" that you meant "Try it out" button.

This appears to be an issue with `TeachingBubble` as it uses a classname to specify Button's coloring, overriding any high-contrast selectors that button would have.

[2019-02-15 21:24] TestAccessibilityGIT commented on #7338
- [ ] Bug17:[Accessibility][Programmatic Access]:Screen Reader does not read the error message that is present below ‘with error message’ text field.

[2019-02-15 21:52] enti333 opened #8016 "How to make validation on TextField on button click"
Hello. I have very simple scenario:
I want to validate text field if has value when someone click on button.

export default class SpfxReactControls extends React.Component<ISpfxReactControlsProps, any>  {

  constructor(props: ISpfxReactControlsProps) {
    super(props);
    **this._getErrorMessage = this._getErrorMessage.bind(this);**

    this.state = {
      titleValue: ""
    };
  }

  public

[2019-02-15 21:59] JasonGore commented on #8016
It doesn't sound like you're reporting an issue against OUFR. We kindly request that all questions be directed to [StackOverflow](https://stackoverflow.com/questions/tagged/office-ui-fabric). We'd like to keep issues limited to feature requests and bugs. Thank you!

If you are reporting an issue, please fill out our template including a [CodePen](https://aka.ms/fabricpen).

[2019-02-15 22:44] #7878 closed

[2019-02-15 22:51] enti333 commented on #8016
I am sorry but this was a simple question....and I think this is a bug because this is not possible to do....So you are not able to use errorMessage property if you want to make validation onclick....

[2019-02-15 22:54] JasonGore commented on #8016
Could you make a CodePen from your example? That will make it easier to review as a bug vs. feature. Thanks!

[2019-02-15 23:54] JasonGore commented on #7979
I [modified your CodePen](https://codepen.io/jasongore/pen/rPZNag) to do something similar by just adding this line to `Callout`

[code]
Which I believe gives you the effect you're looking for.

From an API perspective I wonder if we should add a `floating` prop to `Layer` to achieve a similar effect without having to dive into styling this way. I'm not sure what the history is for deciding to mak

[2019-02-15 23:55] Vitalius1 opened #8020 "Remove Shimmer from experiments package in Fabric 7.0"
`Shimmer` from the `experiments` package needs to be removed with the next major version bump. I am working to make sure I replacing the imports of it from experiments package in the products I know I used it myself. For the rest of the consumers, they've been warned no to use in their production experimental components 😄 .
Tagging this in #7023 and #7402 for visibility. Will also label it accordi

[2019-02-16 00:01] Vitalius1 commented on #7939
@betrue-final-final any thoughts here?

[2019-02-16 01:13] #5898 closed

[2019-02-16 01:32] kenotron commented on #7909
I'm going to punt this to feature request at this point.

[2019-02-16 01:37] kenotron commented on #7907
I encourage we continue this already long discussion in a mail thread.

[2019-02-16 08:30] nitikasaran68 opened #8024 "CommandBar Accessibility: JAWS reader says 'to move through items press up or down arrow', while those commands don't work'"
I'm using the CommandBar component in my app, and when I use the JAWS screen reader on the bar it says "to move through items press up or down arrow", which is the default behavior for role="menubar" elements in JAWS. However since I think fabric overrides all arrow key navigation on the CommandBar, this doesn't work. So the user might be confused as to how to navigate.
### Bug Report

- __Package

[2019-02-16 09:37] enti333 commented on #8016
Hello. I have prepared stackowerflow:

https://stackoverflow.com/questions/54721721/how-to-set-errormessage-on-textfield-dynamically-on-button-onclick-method

Thanks

[2019-02-16 12:00] DharanBro opened #8025 "Stack not able to Compile"
### Environment Information

- __Package version(s)__: 6.140.0

[code]
[code]
#### Priorities and help requested:

Requested priority: Blocking

[2019-02-17 02:00] #7889 closed

[2019-02-17 02:00] #7907 closed

[2019-02-18 09:10] hojovi commented on #7979
@JasonGore Wow, this is good, thank you for your time.

However this doesn't solve all problems, this bug happens again when the scroll bar isn't on the "body" element. Codepen repro: https://codepen.io/anon/pen/LqMmmR .
I've used "ant design" before, there's a property named "[getPopupContainer](https://github.com/ant-design/ant-design/issues/14830)" which can change the element it bases on, is t

[2019-02-18 09:43] didii commented on #7963
I completely forgot. I'm creating a webpart which uses outdated libraries. The version of ui-fabric I'm using from my `package.json`:

So my request might be moot since I won't be able to use it myself anyway.

[2019-02-18 10:20] hxltinh opened #8027 "DetailsList: UI bug when selecting many items quickly with selectionMode.single on mobile Safari"
### Environment Information

- __Package version(s)__: 6.138.0
- __Browser and OS versions__: Mobile Safari (IOS version 12.1.4)

### Please provide a reproduction of the bug in a codepen:
 [codepen](https://codepen.io/hxltinh/pen/XOoBPx)

#### Actual behavior:
When selecting items many time very quickly with selectionMode.single:
![img_0020](https://user-images.githubusercontent.com/8114730/52943

[2019-02-18 10:46] omidnavy commented on #3678
I noticed in css file that there is no ms-sm12 (and similar classes) , you have to use them with ms-u-[your-desire-width]

[2019-02-18 13:00] #6951 closed

[2019-02-18 17:26] Koniksan opened #8030 "TagItem 'text-overflow' does not work properly"
http://joxi.ru/MAjo5V6Ujk17pr

I think that something goes wrong here, maybe there need additional property 'white-space: nowrap' for .ms-TagItem-TextOverflow selector
Thanks !

P.S. Still really looking forward to solving this problem #7835

[2019-02-18 22:39] awalia13 opened #8031 "Coachmark A11y Pass"
Tracking all of the issues brought up with the 2/18 accessibility pass on Coachmark control
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bec787de0-7a76-4b21-b593-fb839dfa9cd8%7D&action=default&uid=%7BEC787DE0-7A76-4B21-B593-FB839DFA9CD8%7D&ListItemId=1808&ListId=%7B395E1ECB-5002-44

[2019-02-19 05:22] micahgodbolt commented on #7115
seems author has replied but bot didn't remove tag

[2019-02-19 16:01] Anschur opened #8034 "Year button in datepicker not working with keyboard navigation"
### Environment Information

- __Package version(s)__: What ever is on the Fabric demo page.
- __Browser and OS versions__: Edge and Chrome

### Please provide a reproduction of the bug in a codepen:

1. Go to the first example on the datepicker demo page or https://codepen.io/anders-sch-rmann/pen/omVbxK?&editable=true
2. Use keyboard and tab to navigate to the year button (2019)
3. Press Enter

#

[2019-02-19 16:39] JasonGore commented on #8016
It looks like you already have a couple of answers on Stack Overflow. I'll go ahead and treat this as a non-issue for now, but please feel free to respond if you feel there is an underlying issue that needs to be solved.

[2019-02-19 17:44] JasonGore commented on #7712
I've made this a part of #5736 and so will close this as a duplicate.

[2019-02-19 17:44] darrenmart commented on #5879
Have to add my two cents that this issue makes MaskedTextField essentially useless until it's fixed to update the displayed value when the underlying state changes. Having to replace it with TextField + RegEx isn't ideal as it defeats much of the purpose.

[2019-02-19 17:44] #7712 closed

[2019-02-19 18:40] aneeshack4 commented on #8024
Thanks for reporting this! This behavior isn't fully correct in Narrator either. As seen in the NarratorBuddy output below, it says "use left & right arrow keys to navigate" but up & down are the ones that work, left & right do nothing & result in Narrator saying "No next text".
![image](https://user-images.githubusercontent.com/4161791/53038799-72c47e80-3432-11e9-92b8-bf4ac9ffc32e.png)

[2019-02-19 18:46] arunarokk opened #8035 "detailslist - accessibility labels for sortAscending, sortDescending, filter , group are not added when used onRenderColumnHeaderTooltip"
### Environment Information

- __Package version(s)__: 6.116.2
- __Browser and OS versions__: Edge, win 10

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

accessibility labels for sortAscending, sortDescending, filter , group are not added when used onRenderColumnHeaderTooltip.

looking at the codebase https://github.com/OfficeDev/office-ui-fabric-react/blob/mas

[2019-02-19 19:15] aneeshack4 commented on #8025
@DharanBro Can you provide some more context into what you were doing when you got this compile error? Did you make sure to "npm install" after freshly syncing ("git pull upstream master" and make sure your remotes are set correctly so that you're pulling from the right source.
![image](https://user-images.githubusercontent.com/4161791/53040987-a6ee6e00-3437-11e9-85af-2449fbc0301a.png)

[2019-02-19 19:22] xarv commented on #4381
@michaelangotti is there anyway to override this behaviour ?

[2019-02-19 19:42] ajain17 commented on #5879
I was able to use the workaround listed above and unblock temporarily but its not ideal and makes the component useless out of the box.

[2019-02-19 19:43] JasonGore commented on #8025
This should have been fixed in [v6.141.0](https://github.com/OfficeDev/office-ui-fabric-react/releases/tag/office-ui-fabric-react_v6.141.0) due to the merge of #8017. If you are still seeing issues with v6.141.0 please reply and let us know! Thanks.

[2019-02-19 19:45] aneeshack4 commented on #8027
@hxltinh I just tried to repro this on an iPhone XS with iOS 12.1.4 and it doesn't repro. When I move really quickly touching the different items there's no lag that produces a grey background on an unselected item. What version of iOS are you using? The only thing I can think of that could you get this behavior is perhaps you have started selecting another item but not fully - Apple supports diff

[2019-02-19 20:00] #7948 closed

[2019-02-19 20:03] aneeshack4 commented on #8024
This behavior works correctly in Edge + Narrator:
![image](https://user-images.githubusercontent.com/4161791/53043831-40208300-343e-11e9-9558-3ab0e1bd4bd6.png)

So this is probably a Chrome and/or JAWS issue - we support Edge + Narrator primarily.

[2019-02-19 21:38] aneeshack4 commented on #8030
@Koniksan Hello! Can you make a codepen that repros this? Because right now, I'm unable to repro, this is what I get when I try in Edge:
![image](https://user-images.githubusercontent.com/4161791/53049299-9ea02e00-344b-11e9-8600-aa2383f19a1d.png)

[2019-02-19 21:54] JasonGore commented on #7979
Actually I've since found out that `doNotLayer` prop exists for these scenarios, sorry for the roundabout here.

Have you tried using this prop? When I applied it to your [most recent CodePen](https://codepen.io/jasongore/pen/JxzKJv) it seems to behave the way you want.

[2019-02-19 22:08] jdhuntington opened #8038 "Default to Fluent theme"
# Fluent by Default
## Overview
For the 7.0 release, we'll be switching the default styling for Fabric React from MDL2 to Fluent, using the [@uifabric/fluent-theme](https://github.com/OfficeDev/office-ui-fabric-react/tree/master/packages/fluent-theme) as the base. We will strive to keep the delta between @uifabric/fluent-theme and the default 7.0 Fluent styles as minimal as possible.

At a high le

[2019-02-19 22:15] jdhuntington opened #8039 "Separate base theme into own package"
In Fabric 6, all consumers automatically import the default theme out-of-the-box. This is great for casual use but becomes an encumbrance once optimized size becomes a project goal.

Furthermore, most custom themes presently depend on the base theme that ships with Fabric. This has potential unfortunate side effects of changing the appearance of custom themes if design alterations are made in the

[2019-02-19 22:16] jdhuntington opened #8040 "Upgrade to TypeScript 3.3.3"
Upgrade all packages to depend on TypeScript `3.3.3`.

[2019-02-19 22:18] jdhuntington opened #8041 "Upgrade to React 16.8.3"
Upgrade to React 16.8.3

[2019-02-19 22:20] jdhuntington opened #8042 "Remove deprecated APIs"
Fabric 6 contains several deprecated APIs. In Fabric 7, these will be removed entirely.

In order to assist consumers through the adoption process, tooling will be provided which will make the necessary changes where possible.

[2019-02-19 22:47] jdhuntington opened #8044 "Improve [un]controlled behavior"
Several components in Fabric 6 yield non-deterministic behavior when props that are meant to set the initial state are used concurrently with props that are meant to fully control the component. In Fabric 7,
two changes will take place. First, all use of conflicting props (e.g. `initialSelectedKey` along with `selectedKey`) will result in a warning to be emitted when running in development mode. S

[2019-02-19 23:57] BTC-Bradley commented on #7110
Thanks @kenotron for the quick response!

[2019-02-20 00:07] BTC-Bradley commented on #7110
@kenotron, would it also be possible to remove the const from the enum since it's deprecated?  This would resolve the error for this issue until the enum is completely removed.

![enum](https://user-images.githubusercontent.com/6857638/53056515-563f3b00-3460-11e9-8193-95bf2f63f1ef.PNG)

[2019-02-20 00:21] Dalimil opened #8045 "No way to set ariaDescription on SpinButton or ComboBox"
**Describe the feature that you would like added**
We would need either `ariaDescription` prop (same as BaseButton) or `ariaDescribedBy` prop (same as Checkbox) added to SpinButton and ComboBox

**What component or utility would this be added to**
SpinButton and ComboBox

[2019-02-20 00:28] aneeshack4 commented on #8034
Thank you for reporting this! I'm able to repro it so I'll start on a fix for this.

[2019-02-20 00:36] aneeshack4 commented on #8035
I think this is related to https://github.com/OfficeDev/office-ui-fabric-react/issues/2786.

[2019-02-20 00:45] lorejoh12 commented on #3250
I *think* this is a long-standing bug in FocusZone.

https://codepen.io/anon/pen/OdqvaV
repro: click on the button to open the menu.
Focus should start on Button6 (highlighted red)
Up arrow should move focus up one square (Button3)
Actual: up arrow moves up to top left (Button1)

Here's what I'm seeing:
When the FocusZone initializes, it sets focusAlignment to initial {0, 0}. Then the ref callback

[2019-02-20 02:14] JasonGore commented on #8011
This and #7992 appear to be regressions caused by #7906.

[2019-02-20 02:14] JasonGore commented on #7992
This and #8011 appear to be regressions caused by #7906.

[2019-02-20 02:30] hojovi commented on #7979
@JasonGore Excellent! That's exactly what I want, thank you!

[2019-02-20 03:05] JasonGore commented on #7979
If this resolves the issue for you, could you close it? Thanks!

[2019-02-20 03:24] #7979 closed

[2019-02-20 04:47] vertonghenb commented on #4357
Any update on this?

[2019-02-20 06:38] kenotron commented on #7992
This #7906 was a fix proposed by @dzearing and addressed the issue raised. I am not sure what the right fix would be - if we revert, we would break something else...

[2019-02-20 08:01] Anschur commented on #8034
Great! Thanks :)

[2019-02-20 08:06] Nimelrian opened #8047 "DetailsList / Checkbox: Clicking on a Fabric Checkbox in the check column of a DetailsList (using custom renderers) does not update the selection"
When injecting a custom selection check renderer into a DetailsList and using Fabric's own Checkbox component inside it, clicking on the checkbox itself does not update the selection. Clicking on the area inside the cell surrounding it does update the selection correctly. Using a native checkbox updates the selection just fine as well.

### Environment Information

- __Package version(s)__:
  - OU

[2019-02-20 08:27] rachidaoudi commented on #5879
As a follow up, turns out that the maskedfield suffers from other bugs as well, so in order to solve the issue once and for all for our team, I decided to make my own out of the Textfield component:

The mask has the same syntax as the old one.

[code]

[2019-02-20 11:12] DhirajKhot opened #8048 "Keros error: listitem: <li> elements must be contained in a <ul> or <ol>"
### Environment Information

- __Package version(s)__: 6.129

### Please provide a reproduction of the bug in a codepen:
 Bug Repro: https://developer.microsoft.com/en-us/fabric#/components/facepile
![image](https://user-images.githubusercontent.com/20378231/53087873-324a2b00-352e-11e9-8177-c975cf1c4a1a.png)

#### Actual behavior:

Keros issue : "listitem: \<li> elements must be contained in a \<u

[2019-02-20 11:14] yajiex opened #8049 "ContextMenu doesn't work in popup page from firefox extension"
I'm trying to use use `ContextMenu` in firefox extension popup page, however for following sample code, when I load it in extension popup page, clicking the button, the context menu doesn't show.

[code]

[2019-02-20 11:19] Koniksan commented on #8030
https://codepen.io/anon/pen/mvgyRJ?editors=1010

[2019-02-20 11:43] Koniksan commented on #7835
@natalieethell  Hi, how is going ? :)

[2019-02-20 12:25] rhalaly opened #8050 "PeoplePicker - long names go beyond the boundries"
### Environment Information

- __Package version(s)__: Latest Fabric UI React
- __Browser and OS versions__: Chrome + Edge in Windows 10

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/anon/pen/LqvVvL

#### Actual behavior:

The names go beyond the PeoplePicker container
![image](https://user-images.githubusercontent.com/8597700/53091698-4d5f6f80-351b-11e9-9715-db0da

[2019-02-20 12:54] kachihro opened #8051 "Build error with SPFX @uifabric : error TS1005"
### Environment Information

- __Package version(s)__: 6.141.1
- __Browser and OS versions__: Windows 10 / Chrome

#### Actual behavior:

New webpart project using YO generator, with SPFX v1.7.1

When adding <stack> component, or any other Fabric UI component, project won't build ;

Error - [tsc] node_modules/@uifabric/foundation/lib/ISlots.d.ts(68,124): error TS1005: ')' expected.
Error - [tsc] n

[2019-02-20 17:35] natalieethell commented on #7835
@Koniksan Hey thanks for checking in! Since this is now in backlog review, @micahgodbolt and @dzearing would know more about the status. Have we gotten a chance to review this feature request yet?

[2019-02-20 18:51] aneeshack4 commented on #8051
@kachihro Can you try updating your Typescript to 2.8.4? This is what office-ui-fabric-react's on so you should be able to compile then.

[2019-02-20 18:56] aneeshack4 commented on #8045
@Dalimil Can you please provide more context around this? Why do you want to set ariaDescription on spinbutton and combobox? The ARIA spec doesn't define aria-description as a required property of [spinbutton](https://www.w3.org/TR/wai-aria-1.1/#spinbutton) or [combobox](https://www.w3.org/TR/wai-aria-1.1/#combobox).

[2019-02-20 19:04] dzearing commented on #7679
Sorry about the delay here; the fix we had would have caused additional regressions. We are still working on this.

[2019-02-20 19:13] MLoughry commented on #7023
Is there an issue tracking not using hard-coded colors in a few of the Fluent styles (eg., [DefaultButton](https://github.com/OfficeDev/office-ui-fabric-react/blob/157286e51909c905cd1c3747d92d4c6102f92121/packages/fluent-theme/src/fluent/styles/DefaultButton.styles.ts#L18)).

This is currently a blocker for Outlook Web even dogfooding Fluent themes. Fluent should not be made the default in 7.0 so

[2019-02-20 19:14] MLoughry commented on #8038
Is there an issue tracking not using hard-coded colors in a few of the Fluent styles (eg., [DefaultButton](https://github.com/OfficeDev/office-ui-fabric-react/blob/157286e51909c905cd1c3747d92d4c6102f92121/packages/fluent-theme/src/fluent/styles/DefaultButton.styles.ts#L18)).

This is currently a blocker for Outlook Web even dogfooding Fluent themes. Fluent should not be made the default in 7.0 so

[2019-02-20 19:36] Dalimil commented on #8045
@aneeshack4 It's an optional one. I would need to set ariaDescribedBy (aria-describedby in HTML) in the same way the Fabric Checkbox allows me to. But I believe currently if I set the aria-describedby prop on spinbutton or combobox, the prop is thrown away and not used at all.

[2019-02-20 19:39] aneeshack4 commented on #8048
@DhirajKhot Which part of this example exactly is this error on? The code shows that the <li> elements are in fact inside a <ul> as you can see below:
![image](https://user-images.githubusercontent.com/4161791/53119384-319c9f00-3504-11e9-97ee-d1d681845332.png)

[2019-02-20 19:40] phkuo commented on #8038
@MLoughry , @mikewheaton is tracking the issue and working with design to swap those to the correct colors.

Additional work:
1) All the changes in FluentTheme need to be rolled into the main OUFR project by default.
2) The new typography, rounded corners, and shadows/depth styles should be consumed from the theme.

[2019-02-20 20:49] KevinTCoughlin commented on #8047
Hey @Nimelrian, I think what is happening here is that the List's row does not know that the state changed and therefore it is not re-rendered until another action occurs which causes a re-render such as: a row click, window resize, etc.

You may be able to workaround this by forcing the row / list be updated (re-rendered). As for the proper fix, I'm unsure at this time. However, I'd be willing to

[2019-02-20 21:24] aneeshack4 commented on #8049
Hi @yajiex Can you please provide a Codepen repro? Here's one of ContextualMenu to get you started https://codepen.io/pen/?&editable=true. Also please fill out the Issue template in full, especially the environment information - what are the Fabric package & the browser & OS versions?

[2019-02-20 21:51] JasonGore opened #8055 "FocusTrapZone: Refactor trapping behavior"
### Environment Information

- __Package version(s)__: 6.141.1
- __Browser and OS versions__: n/a

### Please provide a reproduction of the bug in a codepen:

CodePens in various linked issues below.

#### Actual behavior:

`FocusTrapZone` (FTZ) has issues with its trapping behavior for the following reasons:
1) Existing FTZ uses a key listener approach which does not capture all focus change even

[2019-02-20 21:54] Nimelrian commented on #8047
If only the row wouldn't update, the selection count would still update. Something is causing the whole selection event to be swallowed when clicking the Fabric Checkbox.

[2019-02-20 21:59] Nimelrian commented on #8047
Ok, so I just went through with the debugger. It looks like when clicking the Fabric Checkbox, `SelectionZone::_onClick` gets called twice, which selects the row and then deselects it immediately. This definitely seems to be some kind of bug.

[2019-02-20 22:18] Nimelrian commented on #8047
It looks like this is an issue of different onClick handlers of the Checkbox component not preventing Event propagation. The same event runs into the `Selection::_onClick` handler twice. Once targeting the "checkbox" div inside the checkbox, then again targeting the input element.

The issue seems to be caused by the input element being positioned over the checkbox div and being hidden via styling

[2019-02-20 22:22] kachihro commented on #8051
I'm wondering if it's a restriction with SPFX - v1.7...    Other projects, and the scaffold refer to Office UI Fabric React as v5.3.1 - does it mean that we can't include the new components (like Stack) within an SPFX webpart...?    When can we expect an update to SPFX for more recent components ?

[2019-02-20 22:33] cliffkoh commented on #8051
@kachihro I recommend asking this question at https://github.com/SharePoint/sp-dev-docs. The Fabric team is unable to speak for SPFx's release plans unfortunately...

[2019-02-20 22:34] cliffkoh commented on #8051
Duplicate of #7054

[2019-02-20 23:18] JasonGore commented on #7992
[This CodePen](https://codepen.io/jasongore/pen/bzJQWy) shows that this issue appears to have been fixed due to the merge of #8053 and release of v6.142.0. Please let me know if you see any other issues. Thanks!

[2019-02-20 23:19] JasonGore commented on #8011
[This CodePen](https://codepen.io/jasongore/pen/bzJQWy) (click the Toggle to switch to #8011 repro) shows that this issue appears to have been fixed due to the merge of #8053 and release of v6.142.0. Please let me know if you see any other issues. Thanks!

[2019-02-21 00:10] Adjective-Object opened #8058 "Custom Persona Types"
Say I'm a consumer of this API that wants to, in a type-safe way, use a Picker component to pick personas for my application.

Say that persona type has some field not present on the Persona object that I would like to use in one of the callbacks (e.g. it's a user group and it has some ID I need for the onExpandGroup call in the SelectedPeopleList).

Right now I have to, on all of these callbacks,

[2019-02-21 00:20] aneeshack4 commented on #8050
thanks for reporting this! I'm working on a fix.

[2019-02-21 00:33] aneeshack4 commented on #8049
Spoke offline with @yajiex - We do support Firefox but not the plugins/extensions so resolving as external.

[2019-02-21 00:33] #8049 closed

[2019-02-21 00:42] aneeshack4 commented on #8030
I still don't see the problem - what is the expected behavior here? It looks fine to me...
![image](https://user-images.githubusercontent.com/4161791/53135025-6e7d8b80-352e-11e9-939e-aff19cc2370d.png)

[2019-02-21 01:08] aneeshack4 commented on #8058
Hi @Adjective-Object, the BasePicker is very generic and not parameterized for application data type so you can use that.

[2019-02-21 01:14] JasonGore commented on #5160
This issue will again occur with the merge of #8053. This issue will remain closed but is covered by #8055.

[2019-02-21 02:36] Adjective-Object commented on #8058
But what's the reason for not parameterizing it? Are the Persona-custom components (e.g. SelectedPeopleList, ExtendedPeoplePicker, etc) meant to be used only with the exact Persona type in Fabric?

If so, are library consumers expected to rewrite all the Persona component containers in order to maintain type safety?

[2019-02-21 03:00] #7975 closed

[2019-02-21 04:19] hxltinh commented on #8027
@aneeshack4 Please have a look at this gif, hope it helps :)
![uifabricdetailslistbug](https://user-images.githubusercontent.com/8114730/53143408-6a06b080-35ca-11e9-8275-6a3b7b70fda8.gif)

[2019-02-21 05:29] lijunle commented on #5326
@dzearing @ecraig12345 @jspurlin I have implemented the `onChange` prop in `SpinButton` and necessary refactors in the PR #8060. Could you please help to review?

[2019-02-21 06:13] DhirajKhot commented on #8048
@aneeshack4 Please run the Keros Fast Pass for the given page. You will be able to see the error.

[2019-02-21 07:14] awalia13 opened #8061 "Dialog A11y Pass"
Tracking all of the issues brought up with the 2/20 accessibility pass on Dialog control
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8704792b-ff92-40ce-969f-93c02c8b96a9%7D&action=default&uid=%7B8704792B-FF92-40CE-969F-93C02C8B96A9%7D&ListItemId=1824&ListId=%7B395E1ECB-5002-440E-

[2019-02-21 07:35] KevinTCoughlin commented on #8027
@hxltinh I appreciate the report. This is most likely visual lag in the browser repainting given the mobile hardware and current cost of re-rendering items in the DetailsList. We are making optimizations there currently, but I'm unaware of a "quick fix" for this specific bug and hardware combination.

@hxltinh, if can point to a particularly computationally expensive function resulting in this lag

[2019-02-21 08:01] Koniksan commented on #8030
@aneeshack4  Hi
I am trying to tell you that I don`t understand why do you use this properties for `.ms-TagItem-TextOverflow `

I mean this ones :
- text-overflow: ellipsis;
- overflow: hidden;

http://joxi.ru/a2XZNywfw4gNyr

They are wont work without property  `white-space: nowrap;`
I am expecting something like that
https://codepen.io/anon/pen/mvgyRJ

Thanks !

[2019-02-21 09:52] saidas3524 opened #8062 "role="link" to command bar menu items changing way of key board access."
### Environment Information

- __Package version(s)__: 6.129.0
- __Browser and OS versions__: chrome, widows 10
### Please provide a reproduction of the bug in a codepen:
 https://codepen.io/anon/pen/gqJrNe#anon-login

#### Actual behavior:
 up/down keys are being used for navigation between items

#### Expected behavior:
 left/right arrows should be used to navigate between items.

#### Prioritie

[2019-02-21 11:29] hxltinh commented on #8027
@KevinTCoughlin Thanks for your feed back, I already done some test that you mentioned, I need to discuss with my team about the result. May be I'm wrong but I did not see anything strange with the result.

[2019-02-21 13:41] GreyMana-git opened #8063 "Improve Persona Component documentation"
The persona documentation is missing some clauses for the tertiary and optional text (see https://developer.microsoft.com/en-us/fabric#/components/persona). See "Persona.styles.ts" for the rules when they apply.

Proposed property documentation changes for properties:
Location:
\- tertiaryText | string | Tertiary text to display, usually the status of the user.
\+ tertiaryText | string | Tertiary

[2019-02-21 17:59] dzearing commented on #8027
I believe this is hover related. In IOS if you tap on something it can stick the hover state on a thing, I believe. So even though there is one item selected, the hover state is appearing.

You can see people asking about it here:
https://stackoverflow.com/questions/17233804/how-to-prevent-sticky-hover-effects-for-buttons-on-touch-devices

I would *not* suggest going with the recommended solution

[2019-02-21 18:51] khmakoto commented on #8040
Bug #7874 should be fixed by the work done for this. In general, it seems that we will have to update all the components that can have `children` but don't have the specific `children` prop in their type definition.

[2019-02-21 19:06] lauwrentius opened #8067 "HoverCard: Target props event listener not updating."
On HoverCard, it seems that whenever target props is updated, the mouseEvenetListener for on the target element did not get updated.

### Environment Information
 - Release (6.142.1)

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/lauwrentius/pen/GzeyrZ

#### Actual behavior:
1. Hover to Element1
2. Click button `Set Hover to Target El2`
3. Hover event triggers when

[2019-02-21 19:50] dzearing commented on #4971
I think it's really up to the use case to pick the right role.

If you provide your own role on FocusZone, it will replace the default. The component does not prohibit you to use a more appropriate role for the scenario, and the FocusZone itself is really unaware of the use case.

@twarzo Is this behavior different on Narrator or Jaws or VoiceOver or ChromeVox? It would help to have a codepen of y

[2019-02-21 20:15] Vitalius1 commented on #8058
@Adjective-Object
I've done some work with converting the `pickers` (PeoplePicker and TagPicker) to CSS-in-JS and had the same questions. My understanding is that we have BasePicker as a ground from which you build any picker you like with any types of Personas (maybe not even Fabric ones). And then we have PeoplePicker which is using the Fabric Persona and it was really built with a lot of produc

[2019-02-21 20:37] #7789 closed

[2019-02-21 21:39] aneeshack4 commented on #8030
@Koniksan Thank you for providing further details. I haven't worked with Pickers so I don't know have much knowledge around this but maybe @joschect or @Lego6245, who have worked with Pickers, do?

[2019-02-21 21:43] aneeshack4 commented on #8045
Ah I see - thank you for adding this & sending out a PR for it!

[2019-02-21 21:45] aneeshack4 commented on #8047
@KevinTCoughlin seems like they are not able to work around this issue with just forcing the row to be updated - do you have any other ideas for how they might go about this? Or is there anything we can do to fix in our DetailsList?

[2019-02-21 21:52] #8024 closed

[2019-02-21 22:04] aneeshack4 commented on #8063
@GreyMana-git This makes sense to me - please feel free to open a PR with your proposed changes; looks like you just have to change the comments in Persona.types.ts.

[2019-02-21 22:41] #8051 closed

[2019-02-21 22:51] natalieethell opened #8069 "Type Safety for the 'as' prop"
**Describe the feature that you would like added**

It would be great for the `as` prop across the repo to have type safety. So, for example, rendering an element as an anchor tag should allow anchor-tag-specific props like `href`, while rendering it as a 'div' should make `href` invalid.

This request requires upgrading to TypeScript 2.9 and potentially making changes to `createComponent`.

Here

[2019-02-21 23:44] aneeshack4 commented on #8035
@KevinTCoughlin This is another DetailsList issue - it looks like a dupe of #2786 because that one also talks about aria labels. Do you know why these aria labels aren't added in the case of onRenderColumnHeaderTooltip?

[2019-02-21 23:46] aneeshack4 commented on #8062
@saidas3524 Up/down doesn't work for me to go between New, Upload, Share, etc... (those are what you meant by items right?). I'm able to use only left/right arrows which is the expected behavior.

[2019-02-21 23:56] aneeshack4 commented on #8048
I see the error also when I run Keros Fast Pass but it makes no sense because when you inspect the code, you can clearly see that these personas' `<li>`s are inside a `<ul>` I'm following up with the Keros team.

[2019-02-22 00:36] #8045 closed

[2019-02-22 01:59] jspurlin commented on #4971
a `div` or `span` should not have `role="presentation"`, that doesn't remove the node from the tree, it'll just make it `role="group"` (which it already is by default).

In fact, putting `role="presentation"` make this issue worse, modern screen readers are smart enough to not make every `div`/`span` a node in the tree, unless it is "interesting" from an accessibility standpoint. One of the things

[2019-02-22 02:12] Vitalius1 commented on #7983
1. We are updating `gray120` to use the `palette.neutralSecondary` which is mapped to `gary130`.
2. Almost for sure, we are updating the `gray80` to `gray90` but waiting on the designers' approval.
3. `gray110` is used in `Button` so @betrue-final-final will have to review this carefully... so waiting on his decision.

[2019-02-22 02:48] dzearing commented on #7679
This was fixed in https://github.com/OfficeDev/office-ui-fabric-react/pull/8053 and was published yesterday in 6.142.0:

https://github.com/OfficeDev/office-ui-fabric-react/releases/tag/office-ui-fabric-react_v6.142.0

The codepen now works:
https://codepen.io/anon/pen/ZVZojB

[2019-02-22 02:48] #7679 closed

[2019-02-22 02:52] dzearing commented on #4971
Is the recommendation then to remove role=presentation and leave it up to the scenario? I am honestly unsure here.

I'm really confused at the scenarios where role=presentation is needed.

@cschlechty fyi

[2019-02-22 02:57] prabirshrestha opened #8075 "Shimmer creator"
**Describe the feature that you would like added**
Add a page in fabric website to auto-generate shimmer react code based on drag and drop.

**What component or utility would this be added to**
Shimmer

**Have you discussed this feature with our team, and if so, who**

**Additional context/screenshots**
http://danilowoz.com/create-content-loader/
![image](https://user-images.githubusercontent.com/

[2019-02-22 03:12] jspurlin commented on #4971
Yes, the recommendation is to remove `role="presentation"` in this case. Role presentation is used more for when you want an element that has a specific controlType by default (like `<td>` or `<li>`, for example) but you don't want ATs (or the user) to perceive then as that controlType

[2019-02-22 04:09] hxltinh commented on #8027
@dzearing I think you are right :)
![img_0022](https://user-images.githubusercontent.com/8114730/53219367-4313b180-3692-11e9-9c0d-05451c159063.PNG)
![screen shot 2019-02-22 at 10 55 05](https://user-images.githubusercontent.com/8114730/53219383-4e66dd00-3692-11e9-93d0-0c4cab992c62.png)

[2019-02-22 04:52] cliffkoh commented on #8063
Thanks for reporting this! PR created at #8076.

[2019-02-22 05:49] KevinTCoughlin commented on #8042
@jdhuntington awesome! Is there a branch we can target with deprecated API removals per component. I'd be happy to contribute a few, example:

https://github.com/OfficeDev/office-ui-fabric-react/blob/ecc33a7ee4aa7c21aefc920e043b42a775d2e899/packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.types.ts#L368

[2019-02-22 05:51] KevinTCoughlin commented on #8027
TIL. Thanks @dzearing!

[2019-02-22 05:56] DhirajKhot commented on #8048
That would help. Thanks.

[2019-02-22 08:44] DhirajKhot opened #8078 "Narrator does not announce the column header in Calendar"
### Environment Information

- __Package version(s)__:  6.129

### Please provide a reproduction of the bug in a codepen:

Navigate to https://developer.microsoft.com/en-us/fabric#/components/Calendar
Check for any Calendar.
Use the Narrator and check the announcements for the dates.

#### Actual behavior:

Narrator does not announce the column header.

#### Expected behavior:

Narrator should ann

[2019-02-22 09:54] Frost-on-Web commented on #5660
This feature is waited by much of us.
(BTW I really really dislike this MS auto-bot behavior.)

[2019-02-22 10:05] saidas3524 commented on #8062
@aneeshack4  when i use role="link" for the items, we are forced to use up/down arrows to navigate between commands. please check the code pen url for reproducing the issue.

[2019-02-22 10:18] wyl765 opened #8079 "horizontal choice group"
the default choice group is vertical, how to customize to horizontal choice group?

[2019-02-22 10:58] saidas3524 opened #8080 "Date Picker dialogue is opened on first focus of the control, prevents screen reader from reading out the Label attached. Screen reads just reads "dialogue""
### Environment Information

- __Package version(s)__:  whatever version is used on the portal
- __Browser and OS versions__:  chrome an edge

### Please provide a reproduction of the bug in a codepen:
 1) go to https://codepen.io/saidas3524/pen/daBVPB?&editable=true
2)  use tab to navigate to date picker control. check for the first time focus on datepicker with screen reader
3) check if the scre

[2019-02-22 15:58] adhithyar commented on #5219
@micahgodbolt I am an engineer in @PriyankaPuranik1's team. A PM from our team will be in touch regarding the behavior we would like.

[2019-02-22 17:03] #8063 closed

[2019-02-22 17:18] darewreck54 commented on #5660
I just wrote my own custom widget based off the search component and a callout with a list.

Ill post the code later on but it won’t be till next week since I’m pretty busy.

[2019-02-22 17:27] yumikohey opened #8082 "PeoplePicker - Korean Characters issue in IE11."
### Environment Information
Windows 10, IE11.

### Please provide a reproduction of the bug in a codepen:
Since last fix in IE11, it works great in BasePicker.
![basepicker-korean](https://user-images.githubusercontent.com/3360621/53259281-8e729380-3683-11e9-9b31-2a354458a3b3.gif)

However, in people picker, due to loading list of components and autofilter, before Korean Characters composition is

[2019-02-22 17:28] Adjective-Object commented on #8058
ExtendedPeoplePicker is built with a lot of Outlook-specific scenarios in mind, and our Persona type is different 😛 . It shouldn't be that much of a functional change to parameterize the People* components on some `<TPersona extends IPersonaProps = IPersonaProps>`.

I'd be willing to put up an RFC on this since it's related to a lot of the work I'm already doing on ExtendedPeoplePicker. I'd really

[2019-02-22 18:17] Vitalius1 commented on #7983
For `gray110` talked to Ben and probably we will bring the `neutralSecondaryAlt` palette slot for this color as there is too much of a gap in between `gray90` and `gray130` for the closest mapped colors in the palette and `gray110` fits perfectly within that slot.

[2019-02-22 18:18] Vitalius1 commented on #7983
I do have a branch started for this issue and almost have it all done... just waiting on some final decisions.

[2019-02-22 18:19] cnshenj commented on #8011
Updated to latest 143 but the issue is not completely fixed.

1. Click the second TextField.
2. Click anywhere outside the dialog.

Expected:
None of the dialog input element should have focus

Actual:
The first TextField gets focus

Another issue:
When a modal dialog is opened, the first TextField automatically gets focus, but the onFocus handle is not called

[2019-02-22 18:22] cnshenj commented on #7992
This is fixed in 6.143.0

[2019-02-22 18:22] #7992 closed

[2019-02-22 18:38] JasonGore commented on #8011
My CodePen was pinned to a version but I did more checking and it seems that the focus behavior you are now seeing applies when `isBlocking: true`. I did more checking and this isn't a recent regression, the control seems to have behaved like this for some time.

Since the behavior you originally reported is fixed, it may be best to report this as a new issue. I'm not sure if it's intended behavio

[2019-02-22 18:39] jordandrako commented on #5525
@micahgodbolt I think I should target this for v7.0 since it's a breaking change, agreed?

[2019-02-22 18:52] dzearing commented on #4971
@ThomasMichon if we do remove role presentation, you were suggesting we'd have regressions if we don't have explicit role in a variety of use cases in fabric itself. Do you have specific cases we should be concerned with?

[2019-02-22 18:56] micahgodbolt opened #8084 "FocusZone: change elementType to as"
**Describe the feature that you would like added**
deprecate focuszone `elementType` and use `as` instead

**What component or utility would this be added to**
focuszone
**Have you discussed this feature with our team, and if so, who**
david
**Additional context/screenshots**

[2019-02-22 19:05] prabirshrestha commented on #6878
Could you let us know what the latest status of this issue is? For Microsoft Flow we are currently depending on the behavior and has been breaking our responsive designs. Responsive is very important to us because lot of customers actually do come to our portal on mobile devices.

[2019-02-22 19:10] aneeshack4 commented on #8079
I believe @srideshpande has worked on ChoiceGroup - Sri, do you know how to go about customizing choicegroup to be horizontal?

[2019-02-22 19:21] Jahnp commented on #8075
This is really cool @prabirshrestha ! I bet something like this would be helpful. Adding @atneik and @Vitalius1 who own Shimmer. We can discuss this at the next backlog review.

[2019-02-22 19:23] aneeshack4 commented on #8080
@saidas3524 Which screenreader did you encounter this problem on? Also please specify the version on the portal because I'm not aware which portal this is you're referring to.

[2019-02-22 19:28] micahgodbolt commented on #5525
Is it possible to create a new function and deprecate the old? We usually like to give people the ability to transition to the new approach vs a hard breaking change.

[2019-02-22 19:33] Vitalius1 commented on #8075
I am completely on board with this and it looks amazing use of SVGs and the online tool is great.

[2019-02-22 19:35] aneeshack4 commented on #8082
Thank you for reporting this @yumikohey! Adding @Lego6245, @joschect, and @amyngu who own Pickers - any of you know why these characters are being swallowed?

[2019-02-22 19:49] Vitalius1 commented on #8075
If only I knew more about SVGs at the time of building Shimmer 😞 ... The library looks really slim and the only functionality it does not have in comparison to Shimmer is that we can wrap a line of content and have it swapped when the content loads through a fade in and fade out animation...
With that said I do think this worths to be reviewed and consider how we can make use of it. Thanks @prabir

[2019-02-22 20:33] hocull commented on #5219
@micahgodbolt - Here's the full spec [https://microsoft.sharepoint.com/:w:/t/ProjectonxRM/EXlxaKrmhtBFl6KHOYLRq4YB0wX_WkdGP5kutN7U65nWcw?e=uypigK](url)

Basically, when the user clicks, tabs, arrows to the cell so the cell is active, when they start typing we should search on what they type. Right now the first character is being dropped since the first character puts the user into edit mode and t

[2019-02-22 20:36] awalia13 opened #8088 "TeachingBubble A11y Pass"
Tracking all of the issues brought up with the 2/22 accessibility pass on TeachingBubble fabric control
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B2f27d6ee-4e41-49bd-8216-6ca26df23f17%7D&action=default&uid=%7B2F27D6EE-4E41-49BD-8216-6CA26DF23F17%7D&ListItemId=1837&ListId=%7B395E

[2019-02-22 20:39] Vitalius1 commented on #8058
Feel free to assign this issue to yourself so that people know someone is or will be working on this.

Also, as a side note... If you already are doing a lot of work in ExtendedPeoplePicker, we would appreciate a lot if you could find some time and have it converted to use CSS-in-JS pattern 😄 . A bigger project would be to consolidate all the pickers under one package and have them reuse all of th

[2019-02-22 22:00] #8004 closed

[2019-02-22 22:37] Adjective-Object commented on #8058
hmm idt I have issue-assign privileges but feel free to put this on me.

[2019-02-22 22:50] aneeshack4 commented on #8058
Thanks for taking this on @Adjective-Object! We look forward to looking at a PR for this.

[2019-02-22 23:22] jdhuntington commented on #8040
Update: 4fca804a1 (presently part of the `fabric-7` branch) builds everything up to and including OUFR with TypeScript 3.3.3. There are several temporary workarounds in place that are being tracked with the comment `FABRIC7VALIDATE` and `FABRIC7TODO`, but it is possible for someone to build. Also targets React 16.8.3 (cc #8041 )

[2019-02-22 23:23] jdhuntington commented on #8040
Also tracking https://github.com/Microsoft/TypeScript/issues/30050 , which is currently being triggered by a set of things in `BaseComponent`, `FocusZone`, and `FocusZone.types`

[2019-02-22 23:24] jordandrako commented on #5525
@micahgodbolt Definitely, the hardest part will be naming the new function :)

[2019-02-22 23:40] KevinTCoughlin commented on #6878
@prabirshrestha, given the concerns and constraints listed in https://github.com/OfficeDev/office-ui-fabric-react/issues/6878#issuecomment-446784712 I recommend scheduling some time with @betrue-final-final, @natalieethell and myself. To support this, we need to align on design as it is not a simple bug fix, but a change in behavior.

During that meeting, it would be ideal for us to see the behavi

[2019-02-23 00:12] isabelacmor opened #8093 "Controlled Dropdown doesn't update state when selectedKey is undefined"
### Please provide a reproduction of the bug in a codepen:
 https://codepen.io/isabelacmor/pen/bzXdEw

#### Actual behavior:
Setting Dropdown's selectedKey to undefined doesn't update the items selected in `selectedIndices`

#### Expected behavior:
`selectedIndices` is updated when selectedKey is undefined.

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested

[2019-02-23 00:19] lorejoh12 opened #8094 "Add Unit tests for all Date-Time functionality"

[2019-02-23 00:37] aneeshack4 commented on #8093
@ecraig12345 is going to take a look at this since it's about controlled/uncontrolled behavior

[2019-02-23 00:48] brandonthomas commented on #8093
It looks like if we pass an empty array to selectedKey it works which seems odd. This is more of a dev experience bug at this point since we have a work around but it took us a while to sort out that it was possible.

[2019-02-23 01:36] micahgodbolt commented on #5525
always is :-\

[2019-02-23 01:47] Vitalius1 commented on #6575
#8098 is bringing back from deprecation `neutralSecondaryAlt` palette slot so this issue is no longer valid. Closing!

[2019-02-23 01:47] #6575 closed

[2019-02-23 02:00] #8010 closed

[2019-02-23 02:21] KevinTCoughlin commented on #8047
@aneeshack4, if this is a supported scenario, fixing the problem mentioned below seems to be the path forward given the debugging done by @Nimelrian:

Before doing so, we should understand what scenario @Nimelrian is trying to support that working with the default `DetailsRowCheck` does not provide. @Nimelrian can you clarify why you need to use `Checkbox`?

[2019-02-23 03:45] KevinTCoughlin commented on #7963
Are you able to upgrade OUFR to `6.x`?

[2019-02-23 04:26] venk120soft opened #8100 "Clearing PeopleList Items in single click"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

#### Actual behavior:

#### Expected beh

[2019-02-23 06:42] KevinTCoughlin commented on #8035
Hrm its not clear to me how #2786 is related. @arunarokk can you clarify the ask here perhaps with the DOM markup you expect given a condition?

Is there an accessibility validation error that you can share?

[2019-02-23 08:06] Nimelrian commented on #8047
Sure. Our UI designer, UX designer, and management isn't happy with the circular checkmarks of the `DetailsRowCheck` in multi-selection lists since they raise the thought with users that those checkmarks are actually radio boxes, due to the circular shape.

So I was asked to replace them with regular checkboxes, and to keep it in line with the rest of the UI we wanted to use the regular Fabric che

[2019-02-23 14:57] saidas3524 commented on #8080
Screen reader used is **NVDA**. Even Narrator can reproduce the same issue.
**Version** :  6.129.0
**Portal** : https://developer.microsoft.com/en-us/fabric#/components/datepicker

[2019-02-23 20:09] jayleems2018 opened #8101 "Can't set maxWidth for DatePicker"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
There is no way to adjust width of Datepicker.  I tried your sample under
https://github.com/OfficeDev/office-ui-fabric-react/tree/master/packages/office-ui-fabric-react/src/components/Da

[2019-02-24 06:10] ravikiranvs commented on #6878
@KevinTCoughlin, @prabirshrestha. Would it be possible to have `isCollapsable` property work only when `isResizable` is set to false?

[2019-02-25 09:05] Frost-on-Web commented on #5660
I thought about to make it myself too.

Personally I have used : https://github.com/reactjs/react-autocomplete
(sample here : https://jsbin.com/mipesawapi/edit?js,output)

It's working and easy to use.

But it seems obvious to me that feature should be natively in the "SearchBox" Office-Ui component. =/

Thanks for your help.

[2019-02-25 11:38] DhirajKhot opened #8103 "Keros error: Elements must only use allowed ARIA attributes in Calendar"
### Environment Information

- __Package version(s)__: 6.129

### Please provide a reproduction of the bug in a codepen:

Navigate to https://developer.microsoft.com/en-us/fabric#/components/Calendar
and run the Keros Fast Pass.
Observe the error on any of the Calendar -
![image](https://user-images.githubusercontent.com/20378231/53334783-c0078b00-391f-11e9-8f8f-d20994992d29.png)

#### Actual beha

[2019-02-25 11:52] YusongLiu opened #8104 "Layer: componentDidMount get called before props.children's componentDidMount"
### Environment Information

- __Package version(s)__: latest

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/GeKPvG

#### Actual behavior:

Layer's componentDidMount is called before props.children's componentDidMount

#### Expected behavior:

props.children's componentDidMount is called before Layer's componentDidMount

[2019-02-25 11:58] YusongLiu commented on #8104
It seems the logic of `hasMounted` caused this issue but I'm not sure the context about it and why we need that.

[2019-02-25 12:01] virender1164 opened #8105 "ScrollbarVisibility and isScrollSynced Properties Showing Error."
We are trying the to use the scrollablePane and sticcky components in a web part with SPFx 1.7.1. But we are not able to import the property ScrollbarVisibility in ScrollablePane and isScrollSynced property in Sticky is not working. The errors are as below.

'ScrollbarVisibility' is declared but its value is never read.ts(6133)
Module '"../../../../../../../SharePoint/WebPartName/node_modules/offi

[2019-02-25 16:39] paulmech commented on #8079
adding CSS similar to the following worked for me:
[code]

[2019-02-25 16:53] JasonGore commented on #7134
There are a few things we need to clarify here:
* The issue as reported isn't descriptive enough. We should clarify whether an actual ARIA standard is being violated and reference it. I'm not sure if `aria-label` was inferred or reported outside of this issue's history, but I don't think it's root cause here.
* [aria-label](https://www.w3.org/TR/wai-aria-1.1/#aria-label) is **NOT** a required prop

[2019-02-25 16:59] TestAccessibilityGIT commented on #7134
+Amit

From: Jason Gore <notifications@github.com>
Sent: Monday, February 25, 2019 8:54 AM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Arvind Prakash (HCL America Inc) <v-arvpra@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] Toggle A11y Pass (#7134)

There are a few things we need to clarify here:

  *

[2019-02-25 18:00] leddie24 commented on #7792
Hey @donpinkus, wanted to circle back to you on this question, did you get a chance to connect with @Rick-Kirkham or someone on the extensibility team?  Feel free to close this issue if so.  If not, I can try to help in connecting.

[2019-02-25 18:01] #7912 closed

[2019-02-25 18:02] mikewheaton opened #8106 "Improve design of aka.ms/fabricdemo"
## Current design
From the [live site](http://aka.ms/fabricdemo):

![image](https://user-images.githubusercontent.com/1382445/53358297-c62c4600-38e4-11e9-962b-9a4eb615c22d.png)

## Proposed design
From the [CodeSandbox for a redesign](https://codesandbox.io/s/4zjmxxjkl4):

![image](https://user-images.githubusercontent.com/1382445/53357402-b14eb300-38e2-11e9-8da0-7c3a472b7e3a.png)

### Goals
* Emp

[2019-02-25 18:03] mikewheaton commented on #8106
FYI @Jahnp and @ecraig12345

[2019-02-25 18:24] ecraig12345 commented on #8106
I like this idea, and it shouldn't be very hard to implement.

I think it would be nice to have the date visible by default--maybe next to the release notes link?

[2019-02-25 18:25] Jahnp commented on #8106
This is awesome @mikewheaton ! Also flagging @cliffkoh for his feedback too.

My $0.02:
- Overall, this is a great improvement over the existing page. The improvements to the hit target size and alignment to the PR deployed sites page are nice.
- +1 to filtering releases!
- IMO the date could be considered essential. Sometimes I'll use this page when debugging to understand which releases came out

[2019-02-25 18:26] ecraig12345 commented on #8106
Should have added, nice work! :)

[2019-02-25 18:31] cliffkoh commented on #8106
Great job.

Only little request is if we can have a major version selector somewhere as well. Once we have version 7 (or if we back-publish Fabric 5), it would be great if the page doesn't show more than 1 major version (for performance reasons as well).

[2019-02-25 18:34] cliffkoh commented on #8106
Agree with @Jahnp on displaying the date. It is an important piece of the puzzle when troubleshooting/debugging :)

[2019-02-25 18:47] aneeshack4 commented on #8027
Seems like a solution was found that could be done on @hxltinh's end so I'm going to close this - feel free to reopen if it persists/there's follow up.

[2019-02-25 18:50] leddie24 commented on #8104
@JasonGore can you chime in on this issue? It looks like you added this change (for `hasMounted` in PR #6489) a while ago.

[2019-02-25 18:55] aneeshack4 commented on #8062
@saidas3524 I am using your CodePen and I'm unable to repro. As you can see below, the item that I'm using the left/right arrows to navigate does have role="link" and I'm not able to use up/down arrows to navigate between the commands...
![image](https://user-images.githubusercontent.com/4161791/53360925-b106e580-38eb-11e9-92b3-2e4db9ca5db1.png)

[2019-02-25 19:27] mikewheaton commented on #8106
Great idea, @Jahnp, I've added the date to the release note text. I'll look at adding a version filter and a way to quickly jump to a major release.

[2019-02-25 20:29] leddie24 commented on #8105
Hi @virender1164.  Is there a CodePen that you can share that can reproduce this error?  This sounds more like an issue with your dev environment rather than Fabric React; if we can reproduce this in a CodePen, I can help investigate the issue easier.  Thanks!

[2019-02-25 20:33] Vitalius1 commented on #7572
@betrue-final-final @micahgodbolt can we restart the discussion on this topic? Do we read out the section headers and if yes what should be read?

[2019-02-25 20:34] leddie24 commented on #8101
Hi @jayleems2018  can you elaborate on which max width you're trying to change. Can you post a mockup of your intended changes in mind please?

[2019-02-25 20:35] JasonGore commented on #8104
Yes, #6489 introduced this change so that children of `Layer` can properly be detected for event handling. Before this change, children were rendered but unable to be detected as children of `Layer` because their virtual parent relationship can't be established before initial render. Without this change, focus handlers and such get triggered before the virtual parent relationship is established, c

[2019-02-25 20:36] Vitalius1 commented on #7283
Moving it to March as there are some fluent changes that can not be implemented due to how the component is built. Specifically, the drop-shadow cannot be implemented (more than that it's missing from the default styles for the same reason)

[2019-02-25 21:30] aneeshack4 commented on #8080
@saidas3524 I see that in the codepen, on the first tab the focus goes into calendar view and that starts being announced but when you press Esc, it reads out the label and when you tab to the next element, it reads out the Label of that picker. See the narrator buddy output:
![image](https://user-images.githubusercontent.com/4161791/53369700-a4d95300-3900-11e9-9b83-c2ba2166adc5.png)

I think this

[2019-02-25 21:49] #7875 closed

[2019-02-25 21:52] aneeshack4 commented on #8047
@Nimelrian I'd encourage you to submit a PR for this if you're comfortable since it seems like you have an idea of the solution and have context of the problem. It's not especially a scenario that we support that often so at this time, we won't be able to do a PR for this.

[2019-02-25 22:03] khmakoto commented on #6844
Crossing out __Bug 2__ as it seems that this issue has been fixed and doesn't repro anymore.

[2019-02-25 22:33] khmakoto commented on #6844
__Bug 3__

Hi @TestAccessibilityGIT, on the Sharepoint Sheet, in the 'Expected result' section of this bug, you say:

Would the fix here be to only implement the `required` attribute on the selected radio options and leave it out of the other ones?

[2019-02-25 22:44] aneeshack4 commented on #8080
@lorejoh12 Looks like this is actually another bug in the Calendar code... aria-activedescendant is being set on the Calendar table inside the FocusZone of the DatePicker making that the current active child of the DOM and as a result nothing else is being read out first, including the label which is confusing for screenreader users.
![image](https://user-images.githubusercontent.com/4161791/53373

[2019-02-26 00:24] jdhuntington opened #8116 "Automate removal of @autobind from client codebase"
As the `@autobind` decorator is deprecated (and is targeted to be removed in 7.x), provide automation to allow consuming codebases to convert to lambdas instead.

[2019-02-26 00:25] jdhuntington commented on #8116
cc #8042

[2019-02-26 00:27] jdhuntington commented on #8042
@KevinTCoughlin Thanks! After our discussion today, I'd like to make sure we have a friction-free story for consumers to upgrade. I'm hoping to use #8116 to prototype this pattern and will update this thread as soon as we have a clear story going forward.

[2019-02-26 00:34] ecraig12345 commented on #8106
Maybe pivots would be appropriate for separating out major releases?

[2019-02-26 01:13] micahgodbolt commented on #7023
@Vitalius1 are you familiar with those fluent styles?

[2019-02-26 01:37] Vitalius1 commented on #7023
@micahgodbolt #8098 should solve all the issues @MLoughry mentioned.

[2019-02-26 02:55] KevinTCoughlin commented on #8042
Makes sense to me! Keep me posted. We have a few easy examples of deprecated props in `DetailsList` that might be good test cases for the code mod(s).

[2019-02-26 05:04] saidas3524 commented on #8062
@aneeshack4 , This is a weird behaviour. when i turn on NVDA and try to navigate, i can repro the issue. but if i turn the screen reader off, i cannot. Not sure if the bug is related to NVDA or the control.

[2019-02-26 06:34] v-doku commented on #7134
This issue was found using tool (Accessibility Insights for Web) and these are the fixes hint provided by the tool.

Fix ONE of the following:
Element has a value attribute and the value attribute is empty
Element has no value attribute or the value attribute is empty
Element does not have inner text that is visible to screen readers
aria-label attribute does not exist or is empty
_aria-labelledby

[2019-02-26 07:02] aneeshack4 commented on #8062
This works on Edge & Chrome so this is likely a NVDA-specific problem and because we have no control over that, resolving as external.

[2019-02-26 07:02] #8062 closed

[2019-02-26 07:05] v-doku commented on #7115
@JasonGore Could You please provide the Edge bug link which is raised for Bug 1 and 2 for our tracking.

[2019-02-26 08:08] Nimelrian commented on #8047
I tried fiddling around with it but came up without a solution. My first thought was that the event propagation wasn't stopped, but it actually is. No idea why the event is fired again after that. I'll probably replace the regular Checkbox with a dummy one.

[2019-02-26 09:01] jayleems2018 commented on #8101
sure you can add following control to any DatePicker as
<label>Text box: </label>
          <input type = "text"
                 id = "myText"
                 value = "text here" size="65" />
My question is, could you adjust size for DatePicker to align with length of input field?

You can play with DatePicker on https://codepen.io/anders-sch-rmann/pen/omVbxK

[2019-02-26 09:03] jayleems2018 commented on #8101
any input box as
<label>Text box: </label>
          <input type = "text"
                 id = "myText"
                 value = "text here" size="65" />

[2019-02-26 09:15] jayleems2018 commented on #8101
you could find mine there: https://codepen.io/jayleems2018/pen/gEOEBm

[2019-02-26 09:17] jayleems2018 commented on #8101
My input tag is added before DatePicker tag

[2019-02-26 10:47] yajiex commented on #8049
For those who may be interested, I got the reason. In popup page of Firefox extension, `resize` event is fired for no reason, which causes `dismiss` is called for `contextMenu`. A workaround would be stop the event propagation for `resize` event, but a more proper way would be to investigate why `resize` event is fired, I will investigate that later.

[2019-02-26 11:07] Anschur opened #8119 "Screen reader will focus divider on breadcrumb"
### Environment Information

- __Package version(s)__: https://developer.microsoft.com/en-us/fabric#/components/breadcrumb
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

1. Go to https://developer.microsoft.com/en-us/fabric#/components/breadcrumb
2. Start Narrator and go to a bread crumb
3. Enable scan-mode in Narrator (CapsL

[2019-02-26 12:13] Anschur commented on #8119
Hm. I hear that if it is a slash that is a divider then it will actually be read. So the right fix might not be to hide it, but always have it read something for the divider.

[2019-02-26 15:46] winperec commented on #7835
@natalieethell Hey, we glad to contribute to the office ui fabric! I hope my PR help all of us with this issue :)

[2019-02-26 16:06] Jahnp commented on #7641
Apologies for the delay here. Update: Turns out the piece that was completed was only one portion of the total work required to enable the redirect. I'm following up to confirm the ETA of the "actual" fix. Since it's unknown at this moment, I'm going to move this to March. Sorry for the disruption here—still learning the process for this.

[2019-02-26 17:12] JasonGore commented on #7115
Please register and link your Github accounts with Microsoft organization so that we can share internal links and bug IDs with you.

[2019-02-26 17:31] mikewheaton commented on #8106
I've added a pivot to select the major version, and a filter for the releases:

![image](https://user-images.githubusercontent.com/1382445/53433381-21277100-39a9-11e9-9171-ee1332eb8e5e.png)

I'm not entirely convinced on the placement of the Pivot; maybe a Dropdown would work better there.

[2019-02-26 18:00] #8016 closed

[2019-02-26 18:44] aneeshack4 commented on #8079
Seems like this was resolved with @paulmech's comment - thanks Paul!

[2019-02-26 18:44] #8079 closed

[2019-02-26 18:54] natalieethell commented on #5386
Text was promoted to office-ui-fabric-react in this PR: https://github.com/OfficeDev/office-ui-fabric-react/pull/8070.

I'll work on adding some tests for it next!

[2019-02-26 18:57] #8048 closed

[2019-02-26 19:01] brendon-colburn commented on #7581
I'm seeing potentially similar stuff to @jeremy-coleman regarding production bundle size where the uifabric stuff is amounting to 330k for what I feel is a very simple app and was looking to see what I might be doing wrong.  My repo is here and there's a stats.json on there so you can see the breakdown: https://github.com/xrm-rangers/xrm-react

[2019-02-26 19:38] micahgodbolt commented on #5219
@joschect does this seem like a reasonable ask?

[2019-02-26 19:46] TheLarkInn commented on #7581
![image](https://user-images.githubusercontent.com/3408176/53439117-32c34580-39b6-11e9-911a-21d18aa25933.png)

You are inadvertently telling babel to use `preset-env`, however you **_are not setting_** `modules: false` in the babelrc.

Per the [babel documentation](https://babeljs.io/docs/en/next/babel-preset-env.html#modules):

![image](https://user-images.githubusercontent.com/3408176/53439340-a

[2019-02-26 19:56] khmakoto commented on #6844
Crossing out __Bug 8__ as it is an underlying issue with the `Dropdown` component that is being tracked in #5752.

[2019-02-26 20:09] RamaKaryam opened #8121 "PropertyPaneCheckbox remains unchecked by default"
### Environment Information

- __Package version(s)__: 1.7
- __Browser and OS versions__: IE11,Edge,Chrome; Windows 8.1, 10

### Please provide a reproduction of the bug in a codepen:

The below code doesn't render the checkbox in property pane as checked by default.
PropertyPaneCheckbox('Dashboard', {
                  text: 'Dashboard',
                  checked: true
                }),

#### A

[2019-02-26 20:26] TestAccessibilityGIT commented on #6844
+Amit

From: Humberto Makoto Morimoto Burgos <notifications@github.com>
Sent: Tuesday, February 26, 2019 11:57 AM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Arvind Prakash (HCL America Inc) <v-arvpra@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] ChoiceGroup A11y Pass (#6844)

Crossing out Bug 8 as it i

[2019-02-26 20:42] dzearing commented on #7581
I will say that we've been digging into bundle size here and have found a few instances where we still had sideEffects: true instances, which would fight against tree shaking. We have a PR open to address some of this, which will help a number of scenarios.

[2019-02-26 20:46] Jahnp commented on #6782
Yup, this unfortunately does still repro. Turns out the overrides I submitted weren't high enough priority. I've submitted another, #8122, that should hopefully address the issue.

[2019-02-26 20:52] RamaKaryam commented on #8121
I had to do this
https://techcommunity.microsoft.com/t5/SharePoint-Developer/PropertyPaneCheckbox-default-state-issue/td-p/75946

[2019-02-26 20:59] amyngu opened #8123 "CommandBar sometimes doesn't render in Safari12 Mojave MacOS"
### Environment Information

- __Package version(s)__: Not sure if this is _actually_ relevant, but OWA was using Fabric 6.103.1 the first time this was reported
- __Browser and OS versions__: (fill this out if relevant) All reported users have been using Safari 12 on Mojave macOS

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
 Unable to get a reliable repro, bu

[2019-02-26 21:00] #8025 closed

[2019-02-26 21:18] #6782 closed

[2019-02-26 21:53] KevinTCoughlin commented on #5400
You don't need to append items to a Grouped DetailsList to see this behavior. Try scrolling via mouse pointer to the bottom of the viewport quickly in the following examples:

- Before Codepen: https://codepen.io/kevintcoughlin/pen/bZNKrX?editors=0010
- After Codepen: https://codepen.io/kevintcoughlin/pen/VRYBwg?editors=0010

@akashperfect, the suggested workaround is to supply a `getGroupHeight`

[2019-02-26 22:02] KevinTCoughlin commented on #6953
@canmenekse can you try the proposed workaround mentioned in https://github.com/OfficeDev/office-ui-fabric-react/issues/5400#issuecomment-467629497?

[2019-02-26 22:20] brendon-colburn commented on #7581
@TheLarkInn Thanks for the quick and thorough response, it's much appreciated.  As I said before I expected it was something I was doing wrong so thanks for setting a newbie like me straight with copy-pasta'ing and reminding me it's important to read the documentation of **ALL** the tools I use.

After following the instructions and reading up on some documentation I found that my output from webp

[2019-02-26 22:52] #7503 closed

[2019-02-26 23:48] aneeshack4 commented on #8080
The fix here isn't obvious from the investigation we've done so far - passing this to the UI Fabric Calendar team who owns this component.

[2019-02-26 23:49] #7983 closed

[2019-02-26 23:53] #8078 closed

[2019-02-26 23:59] #8103 closed

[2019-02-27 00:11] micahgodbolt commented on #8123
Eddie if you can get our browserstack credentials, hopefully we can at least confirm this bug in the specific OS/browser combo. I'm not 100% sure if we'll be able to DO anything, but we can at least verify the bug in this browser release, and test in future releases.

[2019-02-27 00:24] #8039 closed

[2019-02-27 00:26] jdhuntington opened #8124 "Fix warnings generated from ts-jest and jest"
The update to TypeScript 3 required the update of ts-jest, and jest along with it.

The config provided by `jest-resources.js` no longer complies with the schema expected by jest/ts-jest, and needs to be modified.

[2019-02-27 00:34] mikewheaton commented on #8106
I've assigned this to Peter and marked it as needing backlog review, so it can be determined who's going to implement this in the actual site. 😄

[2019-02-27 00:45] khmakoto commented on #6844
__Bug 3__

After going through the spec I've found out the recommendation for `required` is to have the prop set on all radio buttons of a group:

![image](https://user-images.githubusercontent.com/7798177/53457070-bb0d0f00-39e5-11e9-9306-0de1654ace02.png)

Given this, I'll just fix the first part of the issue.

[2019-02-27 00:47] KevinTCoughlin commented on #5400
I've raised a pull-request to patch this behavior linked above.

[2019-02-27 00:54] KevinTCoughlin commented on #6878
What would the `DetailsList` behavior changes be as a result of that? That would likely impact OneDrive / SharePoint scenarios.

[2019-02-27 01:59] TheLarkInn commented on #7581
There are definitely some bailouts that can be solved. (For example I would encourage you to submit bugs for the injected variables).

But only about 40-50kb of that bundle is from fabric (and the rest is other dependencies last I checked (on mobile now lol)).

[2019-02-27 02:58] denniscoh opened #8128 "MessageBar accessibility: Expose a way to control the assertiveness of the message accessibility alert"
Accessibility support for MessageBar component:
Expose a way to control the assertiveness of the message accessibility alert

**What component or utility would this be added to**
MessageBar component

**Have you discussed this feature with our team, and if so, who**
No

**Additional context/screenshots**

We use the MessageBar component to confirm the completion of actions that were initiated by t

[2019-02-27 03:06] JasonGore commented on #7134
Just to summarize some discussions that happened outside of this issue thread, the Accessibility Insights for Web team seems to agree that the use of the `for` attribute with `label` and `input` is enough to deifne their relationship and that using `aria-label` or `aria-labelledby` is redundant with the existing `for` attribute. The Accessibility Insights for Web team entered [an issue](https://gi

[2019-02-27 03:19] hxltinh commented on #8027
@aneeshack4 If you don't mind, please tell us if this fix will be applied to your repository? because we really don't like to apply the work-around solution for this bug.

[2019-02-27 03:36] KevinTCoughlin commented on #8128
@natalieethell perhaps a use-case for `<Announced />`?

[2019-02-27 04:51] jeremy-coleman commented on #7581
Just clone the repo and bundle it urself until v7 comes out, or just copy and paste the .min file into your public folder and use unpkg / the cdn , ive reorganized this repo 3 times locally ..its not worth messing with any more until the next semver

[2019-02-27 04:59] piyumi25 opened #8131 "Is there any way to rerender the list when state is updating?"
I need to is there any way to re render the onRenderCell function when state is updating? Requirement is I need to update the list after state is updating.

[2019-02-27 05:30] denniscoh opened #8132 "PeoplePicker accessibility: In JAWS VC mode, focus gets stuck in text input field"
### Environment Information

Win10 Enterprise
Chrome: 72.0.3626.109
JAWS 17.0.2729

### Please provide a reproduction of the bug in a codepen:

https://fabricweb.z5.web.core.windows.net/oufr/6.146.0/#/examples/PeoplePicker

1.  Launch Chrome and JAWS screenreader
1a.  Enable Virtual Cursor mode in JAWS
2.  Navigate to the PeoplePicker demo page
3.  Choose "Controlled Picker" people picker type
4.

[2019-02-27 05:41] KevinTCoughlin commented on #7925
@ThomasMichon can you share more? I currently have #8125 out for review which involves `getPageHeight`.

[2019-02-27 05:45] KevinTCoughlin commented on #8131
@leddie24 I'll take this question as I believe it relates to `List` documentation which addressing #7684 should resolve. @piyumi25, thanks for your question. I will provide an answer in the morning.

In short, if you mutate the `items` prop then `onRenderCell` should be invoked since the List does a reference check for `shouldComponentUpdate`. Will confirm and share a Codepen tomorrow.

Related: h

[2019-02-27 05:47] KevinTCoughlin commented on #8106
Excellent work @mikewheaton! Thank you 🙇

[2019-02-27 05:51] piyumi25 commented on #8131
Thanks
I have used the List component (https://developer.microsoft.com/en-us/fabric#/components/list) which in office ui fabric react documentation. I used this component because some times I need to load the large number of items into the list. I am waiting for your immediate response for the issue.

[2019-02-27 06:03] TestAccessibilityGIT commented on #7134
+Amit

From: Jason Gore <notifications@github.com>
Sent: 26 February 2019 19:07
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Arvind Prakash (HCL America Inc) <v-arvpra@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] Toggle A11y Pass (#7134)

Just to summarize some discussions that happened outside of this

[2019-02-27 06:20] KevinTCoughlin commented on #8123
Does the wrapper element have `visibility: hidden` applied in-line in the above screen-shot? How is it getting there?

[2019-02-27 06:23] denniscoh opened #8133 "ContextualMenu accessibility: In JAWS VC mode, focus drops out of the ContextualMenu when a SearchBox is included"
### Environment Information

Win10 Enterprise
Chrome: 72.0.3626.109
JAWS 17.0.2729

### Please provide a reproduction of the bug in a codepen:

https://fabricweb.z5.web.core.windows.net/oufr/6.146.0/#/examples/contextmenu

* Launch Chrome and JAWS screenreader
  1a.  Enable Virtual Cursor mode in JAWS
* Navigate to the ContextualMenu demo page
* Use the ContextualMenu example with the SearchBox in

[2019-02-27 07:08] v-doku commented on #6844
Bug3:

As a best screen reader experience and coding practice we should implement radio group as fieldset and legend as mentioned in Bug 11, Upon implementing this screen reader will read required only once if we provide aria-required=true attribute in legend/fieldset. Implementing Required in each radio button will confuse the user as he can select only one radio button at a time and also here fo

[2019-02-27 07:26] TestAccessibilityGIT opened #8134 "[Accessibility][Screen Reader - Dialog]: In scan mode, Narrator focus moves out from the dialog and lands on background elements when navigate back by "Up" key on "Blocking Dialog"."
**Test environment: ​**
Platform: Windows 10​
OS Build : Build 18334.19h1_release.190205-1505
Browser: Microsoft Edge 44.18334.1.0
Screen reader: Narrator​
 ​
**Repro steps:​**
1. Open [URL](https://developer.microsoft.com/en-us/fabric#/components).
2. Navigate to "Surfaces" button in left navigation pane and activate it.
3. Navigate to "Dialog" button and activate it.
4. Navigate to "Open Dialog"

[2019-02-27 09:47] TestAccessibilityGIT opened #8135 "[Accessibility][Screen Reader - ConetxualMenu]: Screen reader does not announce the state as Expand/Collapsed for the "New" menu item."
**Test environment: **
Platform: Windows 10
OS Build : Build 18334.19h1_release.190205-1505
Browser: Google Chrome Version: 72.0.3626.109
Screen reader: JAWS

**Repro steps:**
1. Open [URL](https://developer.microsoft.com/en-us/fabric#/components).
2. Navigate to "Basic Imputs" button in left navigation pane and activate it.
3. Navigate to "ContextualMenu" button and activate it.
4. Navigate to "C

[2019-02-27 12:12] skunani opened #8136 "[Accessibility] Focus is going out of the Calendar control while tabbing"
### Environment Information

- __Package version(s)__: 6.129.0
- __Browser and OS versions__: Windows 10, EDGE / Chrome

### Repro steps

1. Goto https://developer.microsoft.com/en-us/fabric#/components/datepicker
2.Tab till first date picker under Default DatePicker
3.Verify focus order after expanding the calendar control while pressing Tab

#### Actual behavior:

While tabbing inside the calend

[2019-02-27 13:15] michaelmaillot opened #8137 "Nav selection is broken when using url fragment identifier"
### Environment Information

- __Package version(s)__: 5.134.0

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/MxwmeW

#### Actual behavior:

Selection is broken when still in the same page but using url property in NavLink with fragment identifiers. When clicking on a NavLink, then on another one, the previous is still selected.

#### Expected behavior:

S

[2019-02-27 16:31] brendon-colburn commented on #7581
That’s something to consider Jeremy for if/when I reach that need. Realistically, I’m a lot of time out from deploying something where it matters whether something is 255kb instead of 400ish kb. I come from the world of Dynamics 365 and angularjs customizations so this retrieval amount is quite small related to what I’m used to. So for now I’ll hang tight and wait for the new version of the packag

[2019-02-27 17:07] khmakoto commented on #7134
Thanks @JasonGore for summarizing the discussions that happened outside of the issue thread. Given the conclusion achieved from said discussions, I'm closing this issue.

Thanks to everyone involved.

[2019-02-27 17:07] #7134 closed

[2019-02-27 17:07] canmenekse commented on #6953
great.It works with the workaround.
Here is the same list after (with the getGroupHeight):
[https://codepen.io/anon/pen/XGbYWb](https://codepen.io/anon/pen/XGbYWb)

[2019-02-27 17:49] micahgodbolt commented on #8123
yeah, it's hard coded in there. the resize group renders the UI twice....once to measure (always invisible), and once for the user to see.

[2019-02-27 18:35] khmakoto commented on #6844
Crossing out **Bug 6** as it seems that this issue has been fixed and doesn't repro anymore.

[2019-02-27 19:13] HalcyonPride opened #8139 "[Accessibility] Icons: Detected by Narrator in Scan Mode, despite role="presentation"?"
### Environment Information

- __Package version(s)__: Latest
- __Browser and OS versions__: Microsoft Edge, Windows 10 Enterprise, Version 1809, OS build 17763.316

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/anon/pen/aMbyMW

#### Actual behavior:

Narrator stops at Icons in Scan Mode, even though they have `role="presentation"`.
According to the Narrator team:

[2019-02-27 19:49] aneeshack4 commented on #8030
@Vitalius1 helped explain this more to me and I think I get it - sent out a PR #8141. @Koniksan I don't understand what you're saying about the title attribute though - can you elaborate?

[2019-02-27 21:09] aneeshack4 commented on #8027
@hxltinh Ah sorry I thought this was resolved as a fix on your end. I'll see if it's a quick fix I can make while I'm on shield but if it's more involved, it'll need to go onto the backlog. Touch behavior on mobile safari is a pretty limited use case so this is low pri.

[2019-02-27 22:59] #8030 closed

[2019-02-27 23:29] leddie24 commented on #8121
Hi @RamaKaryam  can you elaborate on your issue? I don't believe we have a PropertyPaneCheckbox component in Fabric React.  If this is a fabric related issue, can you please submit a codepen demonstrating the issue at hand? Thank you!

[2019-02-27 23:40] lorejoh12 opened #8146 "Should not have relative imports in Calendar.Inline.Examples.tsx in date-time package"
see #8089 for discussion.

Examples shouldn't have relative imports, they should have package imports. Most examples do this, for example importing "@uifabric/utilities".

typescript does not complain if we change the imports to "@uifabric/date-time/lib/components/Calendar", but when we run a full build, we get an error when writing a codepen.

[code]

[2019-02-27 23:55] leddie24 commented on #8101
After looking at the suggested component usage, it doesn't seem like it's intended to be resized by design.

`Don't attempt to force resize the control in any way.`

@lorejoh12 can you confirm?

[2019-02-28 00:12] natalieethell commented on #8128
@KevinTCoughlin thanks for looping me in!

@denniscoh There was actually a similar issue (https://github.com/OfficeDev/office-ui-fabric-react/issues/3455) opened about a month ago and we made a change (https://github.com/OfficeDev/office-ui-fabric-react/pull/7854) to mix in native props to MessageBar. So, you should actually be able to pass in your own `aria-live` value to override the default, li

[2019-02-28 00:33] leddie24 commented on #8137
Hmm this bug is weird.  I can see the repro on your Codepen, but it's difficult to debug the issue by trying to repro in localhost documentation, since using your code verbatim will actually cause a redirect instead of staying on the same page.  I tried using the following code below, but it doesn't seem to repro for me on localhost documentation.

@micahgodbolt do you have any suggestions on how

[2019-02-28 00:45] #7598 closed

[2019-02-28 01:15] KevinTCoughlin commented on #6953
Happy to hear @canmenekse! You can close this or keep it open and once merged my PR will auto-close the issue. Sorry for the delay... this was a tricky one.

[2019-02-28 01:53] #8007 closed

[2019-02-28 01:58] KevinTCoughlin commented on #7925
See: https://github.com/OfficeDev/office-ui-fabric-react/pull/8125/files#r260954189 for context.

[2019-02-28 03:33] hxltinh commented on #8027
@aneeshack4 thanks for your feedback, we would like to have it fixed on the repo. We can wait because it's not a serious problem, please take your time :)

[2019-02-28 05:10] yajiex opened #8149 "TooltipHost position is wrong when wrapped component uses absolute position"
Here is the repro link: https://codepen.io/anon/pen/QojjBd. There is a button and wrapped with `TooltipHost`, the button's `position` is `absolute`. When hovering on the button, the tooltip shows at wrong position.

### Environment Information

- __Package version(s)__: latest version (not specified)
- __Browser and OS versions__: any browser

### Please provide a reproduction of the bug in a code

[2019-02-28 06:05] jayleems2018 commented on #8101
To be clear, I don't know if user can resize DatePicker.  I think this is a bug and this is failed based on our design spec if it has to show a long length field by default, that forced to show a horizontal scrollbar in our case.  Please address.

[2019-02-28 08:21] jayleems2018 commented on #8101
Finally, I figured out a working sample as on https://codepen.io/jayleems2018/pen/rROWxN.  Could you make DatePicker align with input field on right?

[2019-02-28 09:24] Forestviolence commented on #7338
@aneeshack4 @micahgodbolt On a form with multiple TextFields, validateOnBlur and tabbing to the next field then narrator will read the error message associated with the previous field after reading the label of the newly focused field. Reproes on both validateOnBlur examples here: https://developer.microsoft.com/en-us/fabric#/components/textfield

[2019-02-28 14:37] Koniksan commented on #8030
@aneeshack4  Thanks for update, nice to work with you :)

[2019-02-28 16:32] #8093 closed

[2019-02-28 16:48] agg23 commented on #7963
This would also be useful if you want to change the checkbox styling to match the standard square checkbox component.

[2019-02-28 18:46] #7835 closed

[2019-02-28 18:49] Anschur opened #8151 "Breadcrumb not supporting top level native props"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

The background for this issue is that I need change the breadcrumb from being a navigation landmark (since this can be confusing if you are using several breadcrumbs on the same page, or if you have a breadcru

[2019-02-28 19:39] khmakoto commented on #6390
Crossing out __Bugs 12 and 13__ as they are being tracked by bugs 3 and 7 respectively in #6360.

[2019-02-28 20:01] khmakoto commented on #6390
Crossing out __Bug 11__ as it is being tracked by bug 6 in #6356.

[2019-02-28 20:06] ceszare opened #8153 "Should <Pivot /> set the size of its `tabpanel` div relative to the size of the control?"
Hi!

I am using the <Pivot /> control to lay out content within a page. I would like to be able to set the dimensions to the Pivot control explicitly (for instance, by providing a height), and would like to be able to also customize the content properties based on the size of the parent.

If my child component sets its height to 100%, I would expect that this would be set relative to the space pro

[2019-02-28 20:45] tenzin-copart commented on #5322
Is the deadline to complete this component still March of 2019?

[2019-02-28 21:40] khmakoto commented on #5322
@tenzin-copart just updated the description to better reflect current deadlines, but the short answer is that yes, there is a basic `Card` component that we are trying to ship by March 2019.

Work on this should start speeding up beginning next week and all related PRs will be linked to this issue.

[2019-02-28 21:45] leddie24 commented on #8149
Hi @yajiex, thanks for submitting this issue.  After digging around on the component and getting some assistance from @joschect on this, you can fix this issue by adding an `id` to the button (or whatever you're positioning absolute), and then adding that ID as a `target` in the `calloutProps` of `TooltipHost`.

See codepen here:

https://codepen.io/leddie24/pen/NJxWJN

[2019-02-28 22:22] lorejoh12 opened #8154 "CalendarYear navigation arrows broken in React 16.8.3 (at least)"
Due to #7379, the CalendarYear component was transitioned to use getDerivedStateFromProps(). There's a rather bad bug here that's detailed exactly in:
https://reactjs.org/blog/2018/06/07/you-probably-dont-need-derived-state.html#anti-pattern-unconditionally-copying-props-to-state

For some reason this doesn't repro in the current version of React, 16.3.2, but it repros when you upgrade (tested on

[2019-02-28 23:00] khmakoto commented on #6390
Crossing out __Bug 2__ as it seems that this issue has been fixed and doesn't repro anymore.

[2019-03-01 00:04] #5400 closed

[2019-03-01 00:07] KevinTCoughlin commented on #6953
Closing this issue giving the report above and the fact that the PR which makes the workaround the default behavior has been merged, see https://github.com/OfficeDev/office-ui-fabric-react/pull/8125.

Thank you for the report!

[2019-03-01 00:07] #6953 closed

[2019-03-01 00:11] haonliu opened #8158 "Accessibility: DetailsList - Chevron button in list header is not read by screen readers"
### Environment Information

- __Package version(s)__: 6.142.0

### Please provide a reproduction of the bug in a codepen:

https://developer.microsoft.com/en-us/fabric#/components/detailslist/grouped

#### Actual behavior:

The first chevron button in the list header in Automated checks is not read by ATs.
The first chevron icon, on the header is just read as "clickable"

#### Expected behavior:

[2019-03-01 00:18] KevinTCoughlin commented on #8158
@haonliu, thanks for the report. Can you please provide the accessibility validation error associated with this issue so we can better triage and address?

[2019-03-01 00:27] haonliu commented on #8158
Hi  @KevinTCoughlin. Thanks for your quick response. Actually there is no accessibility violations on the component, but it is confusing for AT users when the chevron is read out as 'clickable' without any context. It would be nice if it could have the same behavior as the chevrons in the group headers. i.e. having aria-label and aria-expanded attributes (as shown below) that helps AT users unders

[2019-03-01 03:38] dzearing commented on #7581
FWIW @jeremy-coleman we've just merged one change which should bring bundle sizes down. You can see results in the PR we just merged: https://github.com/OfficeDev/office-ui-fabric-react/pull/8032

Note that really webpack 4 is what we're focused on.

We have additional improvments coming as well to reduce the graph edges which pull in unneeded code into the bundle.

[2019-03-01 04:18] jeremy-coleman commented on #7581
if you want some quick wins just put everything tagged as '@uifabric /* inside a folder, then it in a src/ folder along with the office-ui-fabric-react folder and set your baseUrl in tsconfig to ./src , everything will be resolved at least by tsc and webpack
ie:

-src

--@uifabric/
---styling
---merge-styles
---etc

--office-ui-fabric-react
---/all-the-things

from here, remove all the useless cal

[2019-03-01 05:48] callmedhh opened #8161 "Shimmer: white background when have theme"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
 When pass a theme to Shimmer, it will have a white background. Which looks wired.
![image](https://user-images.githubusercontent.com/7888341/53618938-6b6a5580-3c28-11e9-9e0a-704b5672b7d4

[2019-03-01 07:31] yajiex commented on #8149
Thanks, the workaround looks good to me. Do you think it's a bug or by design?

[2019-03-01 17:03] TestAccessibilityGIT commented on #6844
+Amit
________________________________
From: Humberto Makoto Morimoto Burgos <notifications@github.com>
Sent: Friday, March 1, 2019 9:01:50 AM
To: OfficeDev/office-ui-fabric-react
Cc: Arvind Prakash (HCL America Inc); Mention
Subject: Re: [OfficeDev/office-ui-fabric-react] ChoiceGroup A11y Pass (#6844)

Reopened #6844<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FO

[2019-03-01 17:54] ThomasMichon opened #8165 "Removal of @uifabric/utilities/lib/dom.js breaks AMD imports"
It looks like the recent version of `@uifabric/utilities` removed `dom.ts` and replaced it with `dom/index.ts`. This is a breaking change because AMD imports do not automatically resolve `dom` to `dom/index`.

A proxy `dom.ts` still must exist for compatibility with existing consumers.

The break was caused by #8032.

[2019-03-01 18:14] khmakoto commented on #6390
Crossing out __Bug 8__ as it seems that this issue has been fixed and doesn't repro anymore.

[2019-03-01 18:29] brandonthomas opened #8167 "Disabled and selected ChoiceGroup option has incorrect styling"
When a ChoiceGroup option is disabled and selected it should be in a greyed out selected state. Currently, it still displays with the accent color giving the false impression that the option is still interactable.

### Environment Information

- __Package version(s)__: Current

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/anon/pen/Rdrzxe?&editable=true

#### Actual

[2019-03-01 18:29] brandonthomas commented on #8167
Here's the comp:
![image](https://user-images.githubusercontent.com/7529639/53658148-df970000-3c0c-11e9-9fc8-4bfafc65d0ef.png)

[2019-03-01 18:33] brandonthomas commented on #8167
Here's the bug:
![image](https://user-images.githubusercontent.com/7529639/53658392-7d8aca80-3c0d-11e9-9421-bb1c901fb19f.png)

[2019-03-01 18:55] khmakoto commented on #6390
__Bug 9__

Hi @TestAccessibilityGIT. When I run Keros (Version 1.200.27) on the webpage, the tool doesn't show me the color contrast issues that you have filed in the bug, even though I've double checked that the colors themselves have not changed.

Do you think this is an issue with Keros' version? If so, should I still try to fix the bug (would be difficult without the ability to check with Kero

[2019-03-01 19:07] TestAccessibilityGIT commented on #6390
Adding Amit to verify this defect.

Regards,
Arvind

From: Humberto Makoto Morimoto Burgos <notifications@github.com>
Sent: Friday, March 1, 2019 10:55 AM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Arvind Prakash (HCL America Inc) <v-arvpra@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] CommandBar A11y

[2019-03-01 20:00] #8011 closed

[2019-03-01 20:32] khmakoto commented on #6390
Crossing out __Bug 6__ since it is asking us to define the `aria-sort` prop on the `Sort` button. However, the [`aria-sort` spec](https://www.w3.org/TR/wai-aria-1.1/#aria-sort) specifies that this property should only be applied to table headers or grid headers.

[2019-03-01 21:32] khmakoto commented on #6390
Crossing out **Bug 7** as it seems that this issue has been fixed and doesn't repro anymore.

[2019-03-02 01:01] makopch-ms opened #8170 "ContextualMenu's onMenuClose should check is _isFocusingPreviousElement before setting focus to last active element"
### Environment Information

- __Package version(s)__: latest
- __Browser and OS versions__: all

### Please provide a reproduction of the bug in a codepen:
1. Have contextual menu w/ hidden prop
2. Click on another piece of UI to cause CalloutContentBase.prototype._dismissOnLostFocus to run
3. ComponentWillUpdate runs causing ContextualMenu's onMenuClosed to be run
4. onMenuClosed should check fo

[2019-03-02 01:11] Jahnp commented on #8038
FYI, I've updated @jdhuntington 's top comment with a detailed plan for how we're planning to address this project.

[2019-03-02 18:46] #4875 closed

[2019-03-02 22:16] Jahnp commented on #8161
Thanks for the report @callmedhh . As a reminder, when filing issues, please follow the issue template and provide environment information (e.g. package version(s)) and ideally a Codepen to help us diagnose the issue and think through possible solutions.

@Vitalius1 and/or @atneik , FYI. I think the fix here would be to think through which semantic colors could apply to Shimmer, but not sure what

[2019-03-03 04:09] Vitalius1 commented on #8161
@callmedhh as @Jahnp said a codepen repro with the exact theme you are using would really nice to have so that we can investigate. This way I can understand what is causing it. [Here](https://codepen.io/vitalius1/pen/gErZVr) is a quick start for you to get started. Keep in mind that the white color you see is the `palette.white` color of the `theme` you provided. How is the blue color around appli

[2019-03-03 10:32] w5yang opened #8172 "Default Asian Font should be set in a different manner."
The Chinese and Japanese Font should be set in a different manner. Using "Microsoft Yahei" and "YuGothic" as prior font makes the "Segoe UI" unable to function as **Default Western Font**.
Original Font Family:

Japanese | ja-JP | YuGothic, 'Meiryo UI', Meiryo, 'MS Pgothic', Osaka, 'Segoe UI', Tahoma, Arial, sans-serif
Korean | ko-KR | 'Malgun Gothic', Gulim, 'Segoe UI', Tahoma, Arial, sans-serif

[2019-03-03 22:19] StanTempAccount commented on #5929
Please address this issue asap.

[2019-03-04 06:21] awalia13 opened #8173 "Panel fabric A11y Pass"
Tracking all of the issues brought up with the 03/01 accessibility pass on Panel fabric control
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B5afd015d-fc38-4e4b-ae9b-a0ad778c0ea7%7D&action=default&uid=%7B5AFD015D-FC38-4E4B-AE9B-A0AD778C0EA7%7D&ListItemId=1850&ListId=%7B395E1ECB-500

[2019-03-04 08:41] aniketkhorjuvekar opened #8174 "[Accessibility] [Narrator] Combo-Box control label readout incorrectly when required is true"
### Environment Information

- __Package version(s)__: 6.146.1
- __Browser and OS versions__: Chrome 72.0.3626.119

### Please provide a reproduction of the bug in a codepen:

Code: https://codepen.io/aniketkhorjuvekar/pen/JzKvzm?&editable=true
Narrator Used: NVDA

#### Actual behavior:
Narrator transcript:
ComboBox with toggleable freeform/auto-complete *  combo box  collapsed  editable

#### Exp

[2019-03-04 12:18] piyumi25 opened #8175 "Callout dismiss when click on checkbox inside the callout in ios"
I am using callout to open when click on textfield. There are checkboxes as the content of the callout. when click on that checkbox then the callout dismiss only in ios. How do I fix it?

[2019-03-04 15:04] joshburnssp opened #8176 "Combo-box placeholder not displaying"
#### Describe the issue:

Using a combo-box and want to set a placeholder within the dropdown box, seen the code on the Fabric UI site. When setting the placeholder property, it doesn't display anything. I have tried setting the placeholder in the code and also via properties and in the property pane

#### Actual behavior:

`  <ComboBox
          allowFreeform
          autoComplete="on"

[2019-03-04 16:37] mattmazzola opened #8177 "Version 6.x component types don't extend React.Component"
### Environment Information

`"office-ui-fabric-react": "6.148.1"`
Chrome: Version 72.0.3626.119 (Official Build) (64-bit)
Windows 10: Version 10.0.17763 Build 17763

### Please provide a reproduction of the bug in a codepen:

I'm not sure how to show type errors in the codepen.
I only tested on our product but these steps should reproduce the issue:
1. Create new react app: `create-react-app my-a

[2019-03-04 17:31] mattmazzola opened #8178 "6.x <Modal> component introduces DOM element around children"
### Environment Information

`"office-ui-fabric-react": "6.148.1"`
Chrome: Version 72.0.3626.119 (Official Build) (64-bit)
Windows: Version 10.0.17763 Build 17763

### Please provide a reproduction of the bug in a codepen:

Just opens a model so you can inspect DOM nothing special.
https://codepen.io/mattmazzola-the-reactor/pen/xBEwrZ

#### Actual behavior:

The 6.x modal introduces a new DOM elem

[2019-03-04 18:04] aneeshack4 commented on #8027
Looked into fixing this for a bit and couldn't find anything straightforward so it'll take longer than shield time - putting this into our backlog.

[2019-03-04 19:29] JasonGore commented on #7012
Due to the various PRs introducing slots I'm going to close this as resolved for now. Future work will be captured in new issues.

[2019-03-04 19:29] #7012 closed

[2019-03-04 19:30] aftab-hassan commented on #8176
@joshburnssp Is this behavior you are expecting to see?
![image](https://user-images.githubusercontent.com/8922176/53757599-ee7dec80-3e70-11e9-8424-0749ec3fb9c1.png)

Here is a codepen
https://codepen.io/aftab-hassan/pen/Mxjjvj

Please confirm and we'll take it from there.

[2019-03-04 19:39] JasonGore opened #8181 "Foundation: Use React Context"
Use React.contextType in Foundation to eliminate layering of ContextConsumer in the React hierarchy.

[2019-03-04 19:42] JasonGore opened #8182 "Foundation: PureComponent / React.memo"
Add opt-in PureComponent support via IComponentOptions boolean. This feature should wrap component in PureComponent and provide optimizations to short-circuit as much code as possible while ensuring changes to theme, style and context props still propagate.

As a possible alternative to PureComponent and shouldComponentUpdate, also investigate use of React.memo.

[2019-03-04 19:57] JasonGore opened #8183 "Foundation: Fields support"
Support field props for components such as Layer. (Currently only supports DefaultFields.)

[2019-03-04 19:59] JasonGore commented on #5721
I've pulled out incomplete items into separate issues so will close this issue.

[2019-03-04 19:59] #5721 closed

[2019-03-04 20:01] aftab-hassan commented on #8172
@Markionium The issue asks for `Segoe UI` to be moved up as the default Western font. Is this something we would like to do?

@ichiQhachi4 thank you for reporting.

[2019-03-04 20:03] ichiQhachi4 commented on #8172
Yes, Segoe UI would be meaningless if it weren’t the top of font list.

[2019-03-04 20:05] JasonGore commented on #7005
This issue and its questions have been resolved by #7012 and #5721.

[2019-03-04 20:05] #7005 closed

[2019-03-04 20:06] JasonGore commented on #7002
Elements listed here have been resolved or covered by other issues.

[2019-03-04 20:06] #7002 closed

[2019-03-04 20:33] leddie24 commented on #8101
Hi @jayleems2018, thanks for the reply.  I want to make sure we're on the same page; your codepen show a basic text `input` field above the `DatePicker` control that can be variable in width.  You want the `DatePicker` control to align with that text `input` and either grow or shrink in size (in conjunction) with the text `input` box correct?  Currently, with the DatePicker's usage guidelines, we

[2019-03-04 20:35] leddie24 commented on #8149
Hey @yajiex , sorry for the bot closing this issue prematurely.  This is certainly not an issue, and seems more like a bug.  However, with the workaround in place, I don't think it's something worth pursuing to fix when there are easy fixes.  We can update the documentation in the future to showcase this scenario.

[2019-03-04 20:50] JasonGore commented on #6978
Since most of these things have solidified and we have the project board I'm going to close this epic.

[2019-03-04 20:50] #6978 closed

[2019-03-04 22:00] #8104 closed

[2019-03-04 22:00] #8105 closed

[2019-03-04 22:25] #8151 closed

[2019-03-04 22:40] khmakoto commented on #6844
Crossing out **Bug 7** after confirming with the narrator team that this is the behavior by design in scan mode.

[2019-03-04 23:27] aneeshack4 commented on #8050
Worked with @joschect to try and [test a fix](https://github.com/OfficeDev/office-ui-fabric-react/pull/8185) on this by reproing locally and couldn't get a repro but Jon's able to so handing this over to him.

[2019-03-04 23:45] PatoBeltran opened #8187 "Breadcrumb item does not constraint to parent's width"
### Environment Information

- __Package version(s)__: 6.149.0

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/PatoBeltran/pen/BbLpoJ

#### Actual behavior:

When an item in the breadcrumb is too big, the `li` won't constraint to its parent width, so the content inside the breadcrumb item will never be constrained to the actual size of the breadcrumb.

To fix this y

[2019-03-04 23:50] PatoBeltran commented on #8187
Also, if the last item is super long, the breadcrumb by default will hide all the items (thus only displaying "...")... consider adding a flag (or updating the default behavior), to not hide the last item in the breadcrumb, so it will always show at least one, and truncate the text if it's too long, see this behavior in the same codepen.

[2019-03-05 00:18] yajiex commented on #8149
Thanks, updating the doc sounds good!

[2019-03-05 00:51] dzearing commented on #1659
This is a really old question, but yes absolutely you can redirect styles. It just requires a little upfront work prior to rendering components.

I made a codepen here to illustrate:

https://codepen.io/dzearing/pen/gEwGVm?editors=1011

The gist is that you need to configure the Stylesheet helper to inject differently:

[code]

The `onInsertRule` callback will be called whenever injection needs to

[2019-03-05 01:07] #8167 closed

[2019-03-05 01:27] aftab-hassan commented on #8170
The fix would be similar to what we have [here](https://github.com/OfficeDev/office-ui-fabric-react/blob/5d90f5a63f57ff69cd13f5ccae4cc37d34228479/packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.base.tsx#L183)
@makopch-ms would like to contribute a fix for this. Please reach out, if we can help.

[2019-03-05 02:36] khmakoto commented on #6390
Crossing out __Bug 5__ as it is being tracked in #6733.

[2019-03-05 06:00] rhalaly commented on #8050
But I've left a codepen link with a repro.

[2019-03-05 06:04] KevinTCoughlin commented on #8182
cc: @ThomasMichon who may be interested in tracking this work :)

[2019-03-05 06:09] JCMoriarty commented on #6902
If I want to show the nesting list below:
List:{
{
name：X
ID：1
Detail：{
{
recordID：1
spend：100
}
{
recordID：2
spend：50
}
}
},
{
name：Y
ID：2
Detail：{
{
recordID：1
spend：30
}
{
recordID：2
spend：200
}
}

}
},
I want to show a nesting detaillist, and the first detaillist will show name and ID(can expand and collapse)
if it is expand, it will show another detaillist  recodeID and spend.

I think Custom

[2019-03-05 06:09] KevinTCoughlin commented on #8177
This issue seems similar to https://github.com/OfficeDev/office-ui-fabric-react/issues/7874#issuecomment-460716298

[2019-03-05 07:46] yajiex commented on #1659
Thanks @dzearing , that's exactly what I need. I just tried something like following and it works as expected, the styles were successfully injected into `iframe`. Thank you!
[code]

[2019-03-05 08:09] cliffkoh commented on #8172
cc @natalieethell @dzearing

[2019-03-05 08:32] joshburnssp commented on #8176
That is what i am expecting to see.

I am seeing nothing though :(

[2019-03-05 08:54] yajiex opened #8192 "Add a way to get all style rules applied to one specific component"
**Describe the feature that you would like added**

Would it be possible to get all style rules applied to one specific component? Something like following

[code]

The scenario would be, now with the method mentioned in https://github.com/OfficeDev/office-ui-fabric-react/issues/1659#issuecomment-469488915, we can prevent default style rules DOM injection and get all the rules, injecting them to o

[2019-03-05 09:46] ustun commented on #7581
Please also see this issue: https://github.com/OfficeDev/generator-office/issues/427

It is a different project;, but I assume this will be one of the main consumers of this library, so I think the two teams could collaborate to optimize the build size. Even though the project uses webpack 4, it seems like tree shaking and vendoring is problematic, resulting in 3MB js output on a new project.

[2019-03-05 13:01] bengry opened #8193 "Tree shaked theme"
### Environment Information

- __Package version(s)__: 6.148.1
- __Browser and OS versions__: Chrome 72, macOS (irrelevant - happens in other environments too).

### Please provide a reproduction of the bug:

1. Clone this repo: https://github.com/Microsoft/angular-react
2. `git checkout fabric/upgrade-office-ui-fabric-react`
3. `npm install`
4. `ng serve demo --prod`

You'll see an error in the c

[2019-03-05 15:20] RangelBorene commented on #3755
Hi @vamsi981, @aditima, @michaelangotti!
You can use hooks in this way:
---
    const [selectionState] = React.useState(new Selection({
        onSelectionChanged: () => {
            setSelectedCount(selectionState.getSelectedCount());
        }
    }));
---
                    <ShimmeredDetailsList
                        items={itemsData}
                        columns={columns}

[2019-03-05 16:14] dzearing commented on #8192
This would only be possible if we encapsulated the stylesheet in react context and passed it along with the styles to mergeStyles.

This would first require a change to mergeStyles to have something like `mergeStylesWithStylesheet(sheet, ...rules)` so that we could pass an instance in, rather than resolving the page-scoped stylesheet.

Then to be able to scope areas to use a different sheet, we'd

[2019-03-05 16:17] dzearing commented on #8193
Looking at this. We made a change in the `@uifabric/styling` package to turn sideEffects to an allow list. I'm assuming this is the root cause, but the real question is why... why are there things which are being shaken out that you didn't expect? It implies that nothing referenced those exports, which we need to trace through. If there is an implicit dependency here (side effect), we need to add

[2019-03-05 16:23] JasonGore commented on #8177
This is a duplicate of #7874 and will be fixed by #8189. I will mark that PR as resolving this issue.

[2019-03-05 16:34] dzearing commented on #8193
Hey @bengry I want to make sure I'm fixing your bug. I am pretty sure this is related to `/styles/theme.js` not being included in the side-effects list, where it need to register a default theme for things to consume. I am adding that right now but want to make sure I repro your scenario so there isn't something else we're missing.

[2019-03-05 16:55] #7874 closed

[2019-03-05 16:55] #8177 closed

[2019-03-05 17:01] #8193 closed

[2019-03-05 17:20] dzearing commented on #8172
@Jahnp, annd possibly @philipzloh this code hasn't been touched in a year afaik.

in fonts.ts:

[code]

It's entirely possible to modify these, but these were taken from fabric-core AGES ago.

Recommendations?

[2019-03-05 17:26] redoz opened #8195 "IStyle: Add grid styles such as grid-gap etc"
### Environment Information

- __Package version(s)__:  6.143.1

### Please provide a reproduction of the bug in a codepen:

`row-gap` and `gap` are not supported by `IStyle`, see:
https://developer.mozilla.org/en-US/docs/Web/CSS/row-gap
https://developer.mozilla.org/en-US/docs/Web/CSS/gap

#### Actual behavior:
I can't set row/column gaps when using grid/flex layout.

#### Expected behavior:
 I e

[2019-03-05 17:36] JasonGore opened #8197 "Documentation: Stack and Text Props not documented"
### Environment Information

- __Package version(s)__: n/a
- __Browser and OS versions__: n/a

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

Documentation for [Stack](https://developer.microsoft.com/en-us/fabric#/components/stack) and [Text](https://developer.microsoft.com/en-us/fabric#/components/text) is missing `IStackProps` and `ITextProps`. The slots inter

[2019-03-05 17:57] JasonGore commented on #8197
If there is no easy document tool fix, I think we should at least look at reordering the interface definitions in the types files as an immediate fix, assuming it fixes the issue.

[2019-03-05 17:58] khmakoto commented on #6844
Crossing out __Bug 11__ because it was a suggestion to improve screen reader readability related to the second part of __Bug 3__, which, after conversations with the narrator team, has been classified as behavior that is expected by design.

[2019-03-05 17:58] JasonGore commented on #8197
Anybody coming across this issue can use the [Stack types file](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/Stack/Stack.types.ts) and [Text types file](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/Text/Text.types.tsx) for now.

[2019-03-05 17:59] khmakoto commented on #6844
All bugs have been taken care of, so I'll be closing this issue.

Thanks @TestAccessibilityGIT for all your help during this process.

[2019-03-05 17:59] #6844 closed

[2019-03-05 18:01] jeremy-coleman commented on #7581
@ustun try changing your tsconfig.json to esnext and then tell webpack to bundle as umd/commonjs. You can also try using webpack-node-externals and add in the vendors later or create a separate vendor bundle. Don't manually add vendors because they wont get tree shaken, you have to do it as a regex for node_modules under optimization.
[code]

not like this:

[code]

the biggest thing is the cjs ta

[2019-03-05 18:02] khmakoto commented on #6390
Hi @TestAccessibilityGIT, any updates on the __Bug 9__ issue above?

[2019-03-05 18:25] aneeshack4 commented on #8050
@rhalaly yes thank you for doing that - we are able to see the repro on codepen but we can't test our fix on the codepen, we need to be able to repro and test it locally (for some reason npm start wasn't picking up on the changes I was making to get the repro but Jon is able to get a repro locally so he's going to test the fix and send out a PR for it)

[2019-03-05 18:29] leddie24 commented on #8136
Hi @skunani, thanks for submitting this issue.  After talking with @JasonGore, it sounds like this is actually the ideal, intended behavior of `DatePicker`.  We don't want to prevent users for accessing browser functions (e.g: accessing the browser navigation bar), and doing so would be an accessibility issue).

[2019-03-05 18:37] JasonGore commented on #8136
This is also consistent with mouse clicking behavior. If a user clicks outside of the document (browser menus, browser footer/debugger) we don't want to grab focus from these elements.

[2019-03-05 18:51] bengry commented on #8193
Looks good in my repro with the new version. @dzearing thanks for the quick turnaround!

[2019-03-05 20:16] #8149 closed

[2019-03-05 21:23] aneeshack4 commented on #7217
Circling back to this - looked into Bug 3 again and it looks like a bug with Edge & Narrator & how they deal with `aria-valuetext`. In the Stateful example, the presence of the metric "cm" in text form means the value is not just a number so the value is not changing in Inspect, only aria-valuetext is. For the other examples, `aria-valuenow`. Jason ran into something slightly similar with `aria-va

[2019-03-05 21:27] TestAccessibilityGIT commented on #7217
Adding Amit.

From: Aneesha Kommineni <notifications@github.com>
Sent: Tuesday, March 5, 2019 1:24 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Arvind Prakash (HCL America Inc) <v-arvpra@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] SpinButton: A11y Pass (#7217)

Circling back to this - looked into Bu

[2019-03-05 21:44] aneeshack4 commented on #7217
@TestAccessibilityGIT Please do not comment with the outlook emails... it's very unnecessary & makes issues long and hard to read.

[2019-03-05 21:51] mywhere commented on #3385
The issue is still exist for the default case which TagPicker has no value (selectedItem).
![image](https://user-images.githubusercontent.com/150653/53839975-bd271e80-3f4d-11e9-8249-e6d8a8a4d210.png)

[2019-03-05 21:55] KevinTCoughlin commented on #8131
@piyumi25, to trigger `onRenderCell` one needs to recreate the `items` array that backs the collection for the `List` component. This must be done so that `List` knows to update when the referential equality check returns `false` when comparing previous and next prop values for `items`.

Here is a Codepen which illustrates this concept:

https://codepen.io/kevintcoughlin/pen/gELGBP?editors=1010

T

[2019-03-05 22:02] tharshada commented on #7853
@aftab-hassan @leddie24 any progress on this?

[2019-03-05 22:21] aneeshack4 commented on #7217
Turns out `value` not updating was an Edge-only bug :O Chrome doesn't have this problem. I'll send out a PR with the fix now.

[2019-03-05 22:36] KevinTCoughlin commented on #7963
This seems like a scenario we should support, tagging as backlog. However, I'm happy to review a pull-request if someone else gets to it first!

[2019-03-05 23:22] Jahnp commented on #7269
We're close to finishing this work, but have some outstanding work items to finish. We'll go ahead and move this to March--we expect to be finish within the next 1-2 weeks.

[2019-03-05 23:47] jrop commented on #5879
This seems similar enough to the issue I am facing: I am attempting to use a `MaskedTextField` as a controlled component, but updates to `value="..."` are not updating the displayed value.

[2019-03-06 00:34] #8084 closed

[2019-03-06 01:08] aneeshack4 commented on #7115
Tested the remaining 3 on Edge and yes they do repro but the [reference example](https://www.w3.org/TR/wai-aria-practices/examples/slider/slider-1.html
) has the same behavior in Narrator Scan Mode and it's likely a byproduct of Bug 1 which is about Narrator Scan Mode not allowing slider value to change.

[2019-03-06 01:41] preetriti1 opened #8206 "[Accessibillity] List Component sets role to 'list' for empty lists"
### Environment Information

- __Package version(s)__: 6.151.0
- __Browser and OS versions__: Chrome - 72.0.3, Windows 10

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/preetriti1/pen/moOzVg

#### Actual behavior:
 List component have role set to 'list' when there are no items in the list. When aria-role is set to 'list' it expects a childrole which is absent in ca

[2019-03-06 01:53] KevinTCoughlin commented on #8206
This accessibility issue looks to be valid given the w3 ARIA spec, specifically the **Required Owned Elements** section quoted below:

Should be a straightforward fix @aftab-hassan.

cc: @natalieethell

[2019-03-06 02:35] cliffkoh opened #8207 "All fabric component `IComponentStyles` (and typings) seem to imply that all style properties are required"
### Environment Information

- __Package version(s)__: 6.x

### Please provide a reproduction of the bug in a codepen:

All fabric component `IComponentStyles` (and typings) seem to imply that all style properties are required. Some of them like Pivot even arbitrarily have 1 property be optional, suggesting that the required/optional in the documentation is truly significant.

![image](https://use