[2018-06-22 00:02] dzearing commented on #2460
closing due to staleness.

[2018-06-22 00:02] #2460 closed

[2018-06-22 00:31] fpintos opened #5303 "personaInitialsColorToHexCode returns a string with an extra space in the magenta case"
### Bug Report

- __Package version(s)__: 6.18.1

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes
Requested priority: Normal
Products/sites affected: Office 365

#### Describe the issue:

personaInitialsColorToHexCode returns a string with an extra space in the magenta case.
All other cases do not have the extra space.
Trying to parse that string with the color pack

[2018-06-22 00:49] #5101 closed

[2018-06-22 03:20] qingbolove opened #5307 "Calendar: convert to css-in-js"
hi,
I'd like to use calendar component, but the UI is some different with our design, how could I customize calendar UI, for example calendar day table element width and height.

I believe there should be a interface to pass in the style, like what you do to icon component, but for calendar, I could not find one, and rewrite style from outside seems could not change the layout.

[code]

do not wor

[2018-06-22 04:45] #5303 closed

[2018-06-22 06:32] ssingh28 commented on #5281
@dzearing : I can give you access to the page where it is occuring. Or you can repro it on your own sharepoint tenant by deploying a sharepoint extension which has a textfield rendered over a panel. And access this extension on the default search page (_layouts/15/search.aspx) of the tenant on Edge browser with Narrator ON.

[2018-06-22 06:37] ssingh28 commented on #5285
@dzearing @JasonGore @kkjeer : The issues I have reported are w.r.t to keyboard navigation on Edge with Narrator On. These issues may not be reproducible when you choose mouse control instead.
Hence please have a look into them again.

[2018-06-22 06:51] ssingh28 commented on #5289
@jspurlin @dzearing : This issue is reproducible with keyboard navigation on Edge with narrator ON with Scan mode off (Caps Lock + Space Bar) and the narrator does announce scan off. Please let me know if there is anything which is missing here.

[2018-06-22 07:42] YusongLiu opened #5308 "DocumentCardTitle: "Maximum call stack size exceeded" caused by not truncating the long text"
### Bug Report

- __Package version(s)__: 5.112.0

#### Describe the issue:

In `DocumentCardTitle`, we have logic for deciding to truncate the title text or not in `_doesTitleOverflow`:
[code]

When trying to truncate it in `_startTruncation`, there is also a check for the length of the title text
[code]
We got infinite loop issue "Maximum call stack size exceeded" in a case where  `originalTitle

[2018-06-22 09:46] tailwu opened #5310 "IContextualMenuItem's title doesn't work in IE on CommandBar component"
We are using CommandBar component, and its item type is IContextualMenuItem. We assigned value to IContextualMenuItem's title.
In Chrome, it will call out the message, but in IE, it won't call out the message.
![image](https://user-images.githubusercontent.com/40489540/41770112-e96c4476-7643-11e8-9ae6-7a36e3f4fc39.png)
![image](https://user-images.githubusercontent.com/40489540/41770167-0f01b978-7

[2018-06-22 12:43] jspurlin commented on #5289
Can you go into more details on your repro steps? I'm able to interact with comboBoxes in Edge with Narrator on (and scan mode off) as expected.

[2018-06-22 14:24] JasonGore commented on #5285
Please read the link I provided about scan made. This has nothing to do with mouse control.

Regardless, this bug is still a duplicate of #4938.

[2018-06-22 14:27] JasonGore commented on #5281
When you create issues in Fabric's Github, there are numerous template links provided with core Fabric examples. They can be helpful for you in identifying behavior unique to Fabric vs. an app.

It should be far easier for you to replicate an example showing the behavior you indicate than for us to download and sync your application code.

I have reproduced the template links here with many exampl

[2018-06-22 14:50] dzearing commented on #5308
@atneik Note that this is a 5.x build. Is this something that was resolved? Do you need to cherrypick something to the 5.x branch?

[2018-06-22 14:54] dzearing commented on #5223
Hmmm. I am not reproing this.

![image](https://user-images.githubusercontent.com/1110944/41783272-50b90680-75f1-11e8-8954-f3277cb32d4d.png)

[2018-06-22 14:55] dzearing commented on #5223
@ipip2005 Are you on a specific OS or IE build?

[2018-06-22 16:38] JasonGore commented on #5284
Closing as there is no repro with Edge and Narrator (with scan mode disabled) on example page.

[2018-06-22 16:38] #5284 closed

[2018-06-22 16:39] #5144 closed

[2018-06-22 16:42] micahgodbolt commented on #5049
this is now fixed. you can now opt in to setInitialFocus

[2018-06-22 16:42] #5049 closed

[2018-06-22 16:42] dzearing commented on #5307
We are tracking this conversion to add `styles` contracts to everything! We will use this issue to track the Calendar work.

[2018-06-22 16:45] micahgodbolt commented on #5014
we don't have any precedence for automatically moving focus upon user actions. This is probably best left to the application to implement via their onClick functionality.

[2018-06-22 16:45] #5014 closed

[2018-06-22 16:46] dzearing commented on #5292
@LeonidasFettikus Let us know if that helped :)

[2018-06-22 16:58] dzearing commented on #4939
This has nothing to do with Fabric! Please avoid opening bugs that can't actually be
addressed in Fabric.

I did try debugging the render of Dropdown in Chrome. I was able to hit a breakpoint.

It is far more likely that you're in an environment (SharePoint page) that is loading a ton of content which is overloading chrome debugger. It also might be how the scripts are injected/loaded. If they're

[2018-06-22 16:58] #4939 closed

[2018-06-22 16:59] #4979 closed

[2018-06-22 17:47] #5094 closed

[2018-06-22 17:58] paterasMSFT commented on #5198
@jspurlin does [this PR](https://github.com/OfficeDev/office-ui-fabric-react/pull/5272) address your concerns?

[2018-06-22 18:05] lynamemi commented on #5270
I also was able to reproduce this. The general aria layout looks correct so I will have to find time to dig in more.

[2018-06-22 18:30] #5113 closed

[2018-06-22 19:43] natalieethell commented on #4026
Correct me if I'm wrong, but it looks like if we have visible text labeling the element, the best alternative to aria-label is aria-labelledby (as stated in the spec here: https://www.w3.org/TR/wai-aria/#aria-label). @Khushveerkaur it looks like we don't have a default aria label, so when you use a Fabric Button, instead of passing in your own aria label, you could pass in aria-labelledby. Would t

[2018-06-22 19:46] pschaeflein opened #5315 "Add IIconProps property to IDocumentCardPreviewImage interface"
**Describe the feature that you would like added**
Add IIconProps property to IDocumentCardPreviewImage interface

**What component or utility would this be added to**
DocumentCard

**Have you discussed this feature with our team, and if so, who**
No

**Additional context/screenshots**
- To render a document icon, the <Icon> component provides for an IIconProps property.
- To obtain the proper IIc

[2018-06-22 20:36] joec608 opened #5317 "Working with DetailList"
Hi,
I'm new to Office Fabric and I'm trying it out for the first time.  I went on your components page and tried out the examples posted on the site "https://developer.microsoft.com/en-us/fabric#/get-started".  For all the components I plan to use, only DetailList and List doesn't work.  I'm not sure if there is a bug or if I'm missing something, but when I try any of the DetailList examples on th

[2018-06-22 20:38] betrue-final-final opened #5318 "Need hex values for components that use mergestyles"
Scenario: You're a person responsible for the design of a component. You need to find the hex value.

Repro:

1. Go to a component page with mergestyles
2. Right click > Inspect element
3. Look for hex color

Result: Only can get an RGB value
Expect: Get a hex color like our colors are specified in and we've always done.

[2018-06-22 21:29] cliffkoh commented on #5318
Resolved offline as being a Chrome devtools thing (shift+click to toggle between formats).

[2018-06-22 21:29] #5318 closed

[2018-06-22 21:42] suztocco commented on #5231
Can I see the fix to verify?

From: David Zearing <notifications@github.com>
Reply-To: OfficeDev/office-ui-fabric-react <reply@reply.github.com>
Date: Thursday, June 21, 2018 at 2:34 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Suz Tocco <suzto@microsoft.com>, Author <author@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] TextField: Pl

[2018-06-22 21:53] micahgodbolt commented on #5310
Works for me in edge and IE11 using Fabric 5.110.0 https://codepen.io/micahgodbolt/pen/zaGwee

![image](https://user-images.githubusercontent.com/1434956/41800741-bbcc9ef2-762b-11e8-9f9a-fd4df31120e8.png)

Please doublecheck, provide browser and Fabric version and a codepen if the above code does not fit your situation.

[2018-06-22 21:53] #5310 closed

[2018-06-22 21:55] micahgodbolt commented on #5317
can you please post usability questions to stack overflow. We monitor the office-ui-fabric tag there. Github issues are for product bugs and features.

![image](https://user-images.githubusercontent.com/1434956/41800857-3e5f1d72-762c-11e8-86b6-c5c820c8af1d.png)

[2018-06-22 22:03] micahgodbolt commented on #1462
My prefered approach to this problem is to make personas able to be buttons and take icons (as to inherit all of the sizes/colors etc)....but right now that's adding a TON of weight to personas. Once buttons get slimmed down we can approach this again.

[2018-06-22 22:12] micahgodbolt commented on #2168
we don't provide localized strings for each locale, but you can provide your own set of strings via

[code]

Here's an example from our examples

[code]

[2018-06-22 22:12] #2168 closed

[2018-06-22 22:17] FallingSnow opened #5321 "ComboBox: Add name prop"
### Bug Report

- __Package version(s)__: 6.18.0
- __Browser and OS versions__: Firefox Nightly 62.0a1, Linux 64bit

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Low

Products/sites affected: -

#### Describe the issue:

ComboBoxes do not pass the name property to the inner input. This impares it's usage in forms, especially with HTML5 Formdat

[2018-06-22 23:14] micahgodbolt opened #5322 "New Component: Card"
## Component Details

A `Card` is a surface to display content and actions about a single topic. It acts as a container for actionable information like text, images and icons.

A `Card` should abstract styling properties and utilize them in tandem with theme variables. Some of the properties to abstract are:
- Paddings
- Widths
- Heights
- Shadowing
- Borders
- Colors

__Considerations and Design

[2018-06-22 23:17] micahgodbolt commented on #4654
We are looking at creating a "Card" component that would be flexable and themable to support these types of scenarios. I've added that to our backlog. https://github.com/OfficeDev/office-ui-fabric-react/issues/5322

Until then, overriding DocumentCard via CSS will be your best bet.

[2018-06-22 23:17] #4654 closed

[2018-06-22 23:19] micahgodbolt commented on #4775
If you need to render an additional tooltip, you can use the tooltip instead of tooltipHost and provide your own state management. If you are able to provide a codepen demo, I'd be happy to try and dig in further.

[2018-06-22 23:19] #4775 closed

[2018-06-22 23:28] natalieethell commented on #4793
Hey @manasark thanks for submitting this issue and @ipip2005 thanks for noting that you see the issue in `List`, too!

I haven't been able to repro. I'm seeing that while scrolling, the list is blank for maybe half a second as the items are rendered, but it does seem to render pretty quickly.

Could either of you potentially provide a repro in CodePen for us, maybe forking from this [DetailsList C

[2018-06-22 23:30] micahgodbolt commented on #4937
button now supports `  allowDisabledFocus?: boolean;`

[2018-06-22 23:30] #4937 closed

[2018-06-22 23:33] micahgodbolt commented on #4955
@JasonGore are you familiar with how this could be fixed? Is this really even an issue?

[2018-06-22 23:34] JasonGore commented on #4955
Yeah we just need to change the snapshot test to use MarqueeSelectionBase instead.

[2018-06-22 23:40] micahgodbolt commented on #5264
@anjali2408 the commandBar has been completely refactored in our 6.0 release. We'll only be doing critical fixes to the 5.x version.

But Dropdown on the other hand hasn't changed dramatically. I'll change the title over to that and focus on that problem. They might be related. If it's a super simple fix I may be able to fix it in both.

[2018-06-22 23:40] amyngu opened #5323 "CommandBarItem shouldFocusOnMount is not respected"
### Bug Report

- __Package version(s)__: 6.15.0+

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low): Normal

Products/sites affected: (if applicable) OWA

#### Describe the issue:

shouldFocusOnMount = false is no longer respected

#### Actual behavior:

After context menu is opened the menu gets focused automa

[2018-06-22 23:44] micahgodbolt commented on #5264
just tried it on the current website and had zero narrator problems. after clicking it only states the current item, both for dropdown and for commandbar.

Can you confirm this on our website as well? It could be a bug in the version you're running (which is a bit outdated)

[2018-06-22 23:55] amyngu commented on #5323
@kelseyyoung I think this might be from your change? https://github.com/OfficeDev/office-ui-fabric-react/pull/5185 I'm seeing shouldFocusOnMount is being overwritten to true each time

[2018-06-22 23:57] micahgodbolt commented on #5323
just to clarify, this only happens when using keyboard navigation, not mouse click

[2018-06-23 03:16] JllyGrnGiant commented on #5173
@chang47 The problem is we don't know how wide to set the ```dropdownMaxWidth``` because we don't want to specify it. We're letting the combo box fill the space available to it. If I set ```useComboBoxAsMenuWidth``` equal to true I'd expect the final width of the input field to be used as the max width of the dropdown/callout. But today instead we get cut off text with no ellipsis.

An alternative

[2018-06-23 03:49] just-joshing opened #5326 "SpinButton: Add onChange handler"
**Describe the feature that you would like added**
Make SpinButton useful by adding an OnChange handler.
As it is right now you have to figure out some way to accomplish the same effect using a combination of onIncrement, onDecrement, and onValidate which is really frustrating because it makes useful features of the control, like setting max and min values, unavailable since you have to manage the

[2018-06-23 03:56] JllyGrnGiant commented on #3472
+1 on desiring a fix for this issue.

[2018-06-23 04:09] JllyGrnGiant opened #5327 "SpinButton: className prop is not applied"
### Bug Report

- __Package version(s)__: 5.112.0 (and probably more recent releases)
- __Browser and OS versions__: All

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)
Maybe

Requested priority: (Blocking, High, Normal, Low)
Normal

Products/sites affected: (if applicable)
VSTS

#### Describe the issue:

Consumer specified className for the SpinButton compon

[2018-06-23 19:47] jeremy-coleman opened #5328 "Unified Styles Please."
**Describe the feature that you would like added**

Generally, I would like to see better integration with the existing ecosystem of design systems. A few observations as background: It seems like every Microsoft project is just doing its own thing. Microsoft teams literally just wrapped typestyle and calls it MSTeamsContext,  fast DNA is using Jss and some absurd type system.  The office ui desig

[2018-06-24 19:31] dzearing commented on #5322
This isn't a P1. But it's a feature we need. Let's prioritize

[2018-06-24 20:13] dzearing commented on #5328
Thanks for the suggestions. I want to comment on the points you have:

1. Try using cssinjs/theming

I'm not sure exactly what this gains us, so I could certainly use your thoughts here. I di see a usefulness in abstracting themability patterns! But this library doesn't seem to provide any guidance on theming; it uses the legacy, deprecated React context to expose non-type-safe theme objects that

[2018-06-25 03:09] qingbolove commented on #5227
hey, any updates about this issue? some webpack plugins are requiring 6.1.0 npm version, I am now blocking on this issue now...

[2018-06-25 06:16] kelseyyoung commented on #5323
Just to understand your codepen correctly, for both mouse and keyboard the background should be yellow in the menu?

If that's the case and this issue is only for keyboard, I think it's because the _toggleMenu method in BaseButton is taking the default value (true) always when it's piped through keyboarding. I can make this change Monday. Sorry about that

[2018-06-25 06:45] aslanovsergey opened #5329 "Editable list"
It would be nice to have editable list as a separate component or as a feature of the list or the detailedList components

[2018-06-25 08:26] shyama1208 opened #5330 "TextField should show tooltip on hover if the content overflows"
Issue: When user enter a long text in the textfield, the text gets truncated and shows ellipses.
The textfield should also show the entire text as tooltip when user hovers on it.

[2018-06-25 08:27] tailwu commented on #5310
If the item’s “disabled” property is true, the callout doesn’t work in IE. Could you please try again? Thanks.

From: Micah Godbolt <notifications@github.com>
Sent: Saturday, June 23, 2018 5:53 AM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Tailong Wu <tailwu@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react]

[2018-06-25 08:42] hrc7505 commented on #5015
@michaelangotti  any progress to this issue ?

[2018-06-25 09:17] tailwu opened #5331 "Checkbox component has wrong style in IE"
In IE, if the label is very long, will have scroll bar because all content will be in one line.
In Chrome, it will be shown correctly via new line.
Sample codes:
<Dialog
    hidden={false}
    dialogContentProps={{
        title: 'test',
        subText:'test'
    }}

<Checkbox label="aaaaaaaaaaaaaaaaaaaaaaaaaa bbbbbbbbbbbbbbb ccccccccccccccccccc" />
</Dialog>

In IE:
![image](https://user-images.

[2018-06-25 10:18] jeremy-coleman commented on #5328
I put up a playground repo to aid in the discussion

https://github.com/jeremy-coleman/fabric-playground

I provided a typed version of the emotion theme config using just the IPalette definition.

I also provided examples with styled components and jss, just to kind of show what I'm on about.

For selectors:
(straight from the read me)
import * as CSS from 'csstype';

const pseudos: { [P in CSS.S

[2018-06-25 10:32] pablonete opened #5332 "Pivot: Ctrl+number doesn't work in Firefox to switch tabs if Pivot is focused"
### Bug Report

- __Package version(s)__: 5.112
- __Browser and OS versions__: Firefox Quantum v.60.0.1 (64-bits)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) Maybe

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable) VSTS

#### Describe the issue:

Ctrl-number is a browser shortcut to switch between tabs.
Whi

[2018-06-25 14:46] orbengigi opened #5333 "dropdown with multi select is cutting long text and not displaying tooltip with full text"
### Bug Report

- __Package version(s)__: 6.18.2
- __Browser and OS versions__: Chrome  67.0.3396.87, Windows 10

#### Describe the issue:
Creating a dropdown with multi select, and setting some of the options with long text causes to display cut text with no tooltip

#### Actual behavior:

![image](https://user-images.githubusercontent.com/17527093/41856916-e7f9ed34-789e-11e8-982c-d6240d6b5642.pn

[2018-06-25 15:38] JasonGore commented on #5216
#5210 has been merged and should resolve this issue.

[2018-06-25 15:38] #5216 closed

[2018-06-25 15:59] JasonGore commented on #5282
TextField example page fails some label checks which may cause Narrator and Edge to fall back to other elements. In some cases placeholder is repeated, such as for the TextField with Placeholder "I am required" example.

![textfieldaria](https://user-images.githubusercontent.com/26070760/41861429-1a9feae8-7856-11e8-9346-66117db6aca7.png)

[2018-06-25 16:03] JasonGore commented on #5282
Any resolution to this item should ensure that placeholder, label and error messages all get communicated to the user properly and do not prevent each other from vocalizing (#5283).

[2018-06-25 16:04] JasonGore commented on #5283
This is also caused by lack of labeling. I've added a note to #5283 to make note of this issue, so I will close this as a duplicate.

[2018-06-25 16:34] JasonGore commented on #5074
What are the high color contrast standards? Are they industry standards or Microsoft standards? Can you provide links in your issue description? Thanks

[2018-06-25 17:11] JasonGore commented on #1655
I don't think this is an issue with Coachmark itself as much as these particular examples. As Coachmark is currently designed, accessibility would at least in part be the responsibility of the parent component. Even if we fix these examples, there is still the potential that any developer making use of Coachmark would make similar mistakes.

I think we need to explore design changes that would ens

[2018-06-25 17:21] chang47 commented on #5173
@JllyGrnGiant Got it. The PR above will solve your first problem where you'll be able to have text cutoff if the options are too large.

As for your alternative, we could have a prop that does that, however, I'd imagine we could run a perf problem if we have to let the component calculate the largest size if we  have a large list, I'm sure we can mitigate most of the common cases, we just might ha

[2018-06-25 17:39] oengusmacinog commented on #4383
Stay alive!

[2018-06-25 17:42] oengusmacinog commented on #3726
feature request stay alive

[2018-06-25 18:20] kelseyyoung commented on #5323
About to send out a PR, I also wanted to point out that the shouldFocusOnMount prop should be in the subMenuProps in your codepen example. You'll see in the code I'll be checking the button's menuProps because shouldFocusOnMount is defined there, not on the button itself

[2018-06-25 18:46] #5213 closed

[2018-06-25 18:56] sumboxcar182 opened #5336 "Panel with DetailsList in Scrollable pane does not render DetailsList after initial render."
### Bug Report

- __Package version(s)__: 5.111.0 (Also 6.19.0)
- __Browser and OS versions__: I don't believe it's relevant, but i'm running Chrome(67.0.3396.87) and Windows 10

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: (Blocking, High, Normal, Low): High

Products/sites affected: (if applicable)

#### Describe the issue:

We are currently

[2018-06-25 20:55] #5323 closed

[2018-06-25 21:00] #5173 closed

[2018-06-25 22:08] natalieethell commented on #5176
Hey @Basek thanks for submitting this issue! After a quick look, it seems to be similar to something we encountered with the Callout component's vertical scrollbar in the past. A solution included manually calculating overflow to determine if Popup (used by Callout) needs a scrollbar, otherwise setting overflow-y to undefined: https://github.com/OfficeDev/office-ui-fabric-react/blob/3ddbf34d984442

[2018-06-25 22:24] niketk opened #5339 "Date Picker a11y bug - Not announcing the day for a date while navigating in the calendar"
### Bug Report

- __Package version(s)__: 5.95.0
- __Browser and OS versions__: Chrome and Win 10

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low)  High

Products/sites affected: (if applicable)

#### Describe the issue:

Not announcing the day for a date while navigating in the calendar

#### Actual behavi

[2018-06-25 23:43] cliffkoh commented on #5266
Hi @satbai , could you please add more information on what is the expected and actual state, from a HTML markdown POV?

[2018-06-26 07:21] qingbolove opened #5343 "How can I only use one component instead of whole office-UI-fabric"
hi,
I want to reuse **Calendar** component in our project, and I do not want to bring in a lot of dependency, could I only import one component(and its dependency)? Hope you provide a way to split components to seperate packages instead of make them as a whole.

Or could you provide a way for me to do this?

Thanks.

[2018-06-26 09:30] 11302240 opened #5344 "How to fix the list of items of the Dropdown Component in a specific div?"
I am using the component Dropdown, when I click on the icon I have the list of options, it is a div ms-layer which is add just before the end of body and it is remove when I click on the Dropdown to hide the list of options.

What I want to do, it's to put this div ms'layer in a specific div, for example, just after the div of Dropdown and not just before the end of body.

This is my code :
[code]

[2018-06-26 12:54] Walium commented on #5344
UP +1

[2018-06-26 13:11] jandramila commented on #5191
Excellent!! Thank you very much @micahgodbolt , that did the work.

[2018-06-26 16:46] micahgodbolt commented on #5322
Should Priority tags only be used for bugs?

[2018-06-26 17:44] satbai commented on #5266
Hi @cliffkoh ,

The role attribute in the HTML element will change the control type. The current role is "listbox" and narrator will say: 

With the role "combobox" the narrator says:

https://www.w3.org/TR/wai-aria-practices/#combobox
https://www.w3.org/TR/wai-aria-practices/#Listbox

Since this bug got raised by our vendor test pass and I have a meeting with them tomorrow, I can ask what the cor

[2018-06-26 18:37] #5224 closed

[2018-06-26 18:54] dzearing commented on #3423
Could we simply default the props to an empty object?

[2018-06-26 19:07] dagoff commented on #3423
There are a pair of static stacks that keep track of which focustrapzone has priority. One of them is for click priority and the other is for focus priority. This is the bug. There should be only one stack and every new focustrapzone needs to be added to that stack, regardless of whether it asked to block clicks/focus or not. Only the the focustrapzone on top of the stack should be allowed to trap

[2018-06-26 19:24] jandramila commented on #5191
Sorry @micahgodbolt, I'm reopening as it still seems that I'm having dynamically generated classes inside my snapshots, although some of the styling **does** gets merged into the snapshot:

My `package.json` config looks like this:

[code]

I was using enzyme to render snapshots but got back to react-test-renderer.

---

I'm getting this snapshot:

[code]

Which seems weird because some styles are

[2018-06-26 19:57] dzearing commented on #3423
@dagoff possible for you to submit a quick fix?

[2018-06-26 20:43] dagoff commented on #3423
Yes.

From: David Zearing <notifications@github.com>
Sent: Tuesday, June 26, 2018 12:58 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: David Goff <dagoff@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] Panel Won't Close (#3423)

@dagoff<https://github.com/dagoff> possible for you to submit a quick fix?

—

[2018-06-26 20:45] dzearing opened #5346 "Integrate PureComponent and debug-only safeguards"
We have historically avoided PureComponent for a number of reasons. We're considering revisiting, or at minimum having a wiki page describing the pitfalls we'd hit doing so.

[2018-06-26 21:25] mattmazzola opened #5347 "label for Dropdown component is not read by screen reader"
### Bug Report
- __Package version(s)__:
"office-ui-fabric-react": "5.100.0",

- __Browser and OS versions__:
Chrome Version 67.0.3396.87 (Official Build) (64-bit)
NonVisual Desktop Access (NVDA) Version: 2018.2.1

#### Priorities and help requested:

**Are you willing to submit a PR to fix?** No

**Requested priority:** Low

**Products/sites affected:** (if applicable)
Conversation Learner

####

[2018-06-26 22:07] #915 closed

[2018-06-26 23:59] cliffkoh commented on #5266
Hi @satbai, looking at the specs you linked to, it says that:

Combobox:

Listbox:

Our Dropdown does not have a listbox in it (we do have a separate ComboBox component that does have the textbox). As such, the current role should be correct.

[2018-06-27 00:00] #5266 closed

[2018-06-27 04:31] joechung-msft opened #5353 "@uifabric/icons@6.0.1 missing lib-amd files"
### Bug Report

- __Package version(s)__: 6.0.1
- __Browser and OS versions__:

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) Blocking

Products/sites affected: (if applicable) Logic Apps, Microsoft Flow

#### Describe the issue:

The @uifabric package's icons folder is missing all lib-amd files.  These w

[2018-06-27 05:00] cliffkoh opened #5354 "Dropdown accessibility issues"
Dropdown component has a bunch of issues. The most striking is that the root element of `role=listbox` has no child element with `role=option` but instead `role=listbox`. More generally, I believe we need to handle multi-select and single-select dropdowns differently.

### In the single-select dropdown case:
Fixes needed:
- Dropdown will have `role=listbox` and the rendered element (representing s

[2018-06-27 05:01] cliffkoh commented on #5354
@stanleyymsft who introduced multi-select dropdown.

[2018-06-27 05:02] cliffkoh commented on #5266
Please also look at #5354 where I discuss the `role` at greater depth.

[2018-06-27 05:03] cliffkoh commented on #5110
Closing in favor of #5354.

[2018-06-27 05:03] #5110 closed

[2018-06-27 05:06] cliffkoh commented on #2654
This is covered by #5354.

[2018-06-27 05:06] #2654 closed

[2018-06-27 05:07] cliffkoh commented on #4565
A fix to #5354 might fix some of what you observed.

[2018-06-27 05:12] cliffkoh commented on #5354
Some of the issues/action items here are noted in #4676.

[2018-06-27 09:39] #5344 closed

[2018-06-27 09:39] 11302240 commented on #5344
You have to define the selector of the function : Layer.setDefaultTarget(selector)

[2018-06-27 12:45] Walium commented on #5344
Thank you

[2018-06-27 13:31] jeremy-coleman commented on #5328
Following up a bit more,

I should have been more clear in my initial post, but emotion is just my recommendation - they all use the same interface though. For ex, I can import CssProperties from glamorous, use React.CssProperties, or whatever else i want, and they're all the same bc they use csstype.

demo from the emotion docs of unit conversion and composition
https://emotion.sh/docs/object-sty

[2018-06-27 13:58] betrue-final-final commented on #5354
Great analysis. We might have this solved once we get a PR on this.

[2018-06-27 15:35] #4142 closed

[2018-06-27 15:35] #4269 closed

[2018-06-27 16:02] kenotron commented on #5343
The answer is highly dependent on how you're bundling your application. Some options are:

##webpack 4 - Be sure to turn on tree-shaking support##
1. make sure you're bundling ES6 imports / exports - there are some specifics about how to do that either in Typescript or Babel
2. turn on [ModuleConcatentationPlugin in webpack.config.js](https://webpack.js.org/plugins/module-concatenation-plugin/)
3.

[2018-06-27 16:02] kenotron commented on #5343
Re-open if you need more help!

[2018-06-27 16:02] #5343 closed

[2018-06-27 16:08] kenotron commented on #4500
Currently I'm working with the [Rush](https://github.com/Microsoft/web-build-tools/wiki/Rush) folks to come up with a really good story here. They are actually creating a new project called "tsdoc" that MAY eventually find its way back to Typescript itself. So we're aligning with that. I just came back from vacation and will be tackling this area!

[2018-06-27 16:46] dzearing commented on #5336
One workaround; when you collapse the panel, it's not removing DOM, is my guess. Can you remove the Panel (e.g. conditionalize it) when its closed?

Alternatively:

1. force a resize event on window on expansion
2. forceUpdate on the detailslist

Ultimately because we don't get any sort of re-render or resize event in this case, the details list isn't reevaluating the viewport. So we need to consi

[2018-06-27 17:43] #5146 closed

[2018-06-27 18:07] d-khoury commented on #4169
@oengusmacinog Thank you, can you update this thread when the PR is completed?

[2018-06-27 18:15] oengusmacinog commented on #4169
@d-khoury absolutely, the PR will autoclose this issues actually

[2018-06-27 21:23] dagoff commented on #3423
I’ve opened a pull request. Please review it.

https://github.com/OfficeDev/office-ui-fabric-react/pull/5351

From: David Zearing <notifications@github.com>
Sent: Tuesday, June 26, 2018 12:58 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: David Goff <dagoff@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react]

[2018-06-27 21:51] oengusmacinog commented on #4383
Rounding back to this one.  @Basek are you still open to contributing through a PR? @betrue-final-final does this need design?  There's is a bit of UI/UX to this one that makes it a bit of a complicated feature.

[2018-06-27 21:55] JllyGrnGiant commented on #5054
I don't believe this should be the permanent answer for folks, but as a temporary workaround I was able to restore the correct behavior by adding the following to my combobox props:
[code]

[2018-06-27 22:03] JllyGrnGiant commented on #5173
@chang47
If there is a way for users to discover what the full text is for the options that get truncated with an ellipsis, then your fix is perfectly fine for us and nothing else needs to be done here.

Otherwise there's a possibility users see two truncated options that appear the same or too much text is truncated and users cannot infer what the rest of the text might have been.

We're just try

[2018-06-27 22:40] JllyGrnGiant opened #5360 "Accessibility: ComboBox: Narrator doesn't announce the selected option when using up/down arrows on focused, collapsed, readonly ComboBox"
### Bug Report

- __Package version(s)__: 5.112.0 (and in more recent releases such as 6.21.0)
- __Browser and OS versions__: Edge and Windows 10

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)
No

Requested priority: (Blocking, High, Normal, Low)
Normal

Products/sites affected:
VSTS

#### Describe the issue:
1. Open Narrator
2. Open Edge and navigate to a p

[2018-06-27 22:56] oengusmacinog commented on #5165
Hi @wongJonathan! Just submitted a PR with the change needed.  The way the styles are applied changed and this component still needed an update to work that way.  I tested with your example code and saw the bright customized color, so once the PR merges you should be all set!

[2018-06-27 23:33] #5353 closed

[2018-06-27 23:43] micahgodbolt opened #5364 "ContextualMenu: Convert to css-in-js"

[2018-06-27 23:45] micahgodbolt opened #5365 "Datepicker: Convert to css-in-js"

[2018-06-27 23:46] micahgodbolt opened #5366 "Dropdown: Convert to css-in-js"
closes #5636

[2018-06-27 23:47] micahgodbolt opened #5367 "Panel: Convert to css-in-js"

[2018-06-27 23:48] micahgodbolt opened #5368 "Slider: Convert to css-in-js"

[2018-06-27 23:49] micahgodbolt opened #5369 "TextField: Convert to css-in-js"

[2018-06-28 00:06] cliffkoh opened #5370 "MergeStyles: Support StyleFunctions"

[2018-06-28 02:51] #5165 closed

[2018-06-28 07:06] ajinkya599 opened #5371 "[Copied from #2541]: High Contrast: Link control missing any indication it can be click in high contrast when rendered as a button"
#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)
No

Requested priority: (Blocking, High, Normal, Low)
Normal

Products/sites affected: (if applicable)
VSTS Release pages

#### Describe the issue:

Copied from [issue #2541](https://github.com/OfficeDev/office-ui-fabric-react/issues/2541)
The issue is closed, but it seems its not fixed

The Link control will ren

[2018-06-28 09:40] danieloc opened #5372 "Callout not closing on clickout or scroll"
### Bug Report

- __Package version(s)__: 6.21.1
- __Browser and OS versions__: Chrome

#### Priorities and help requested:

Requested priority: Normal

#### Describe the issue:

The Callout Component is not closing on click out or scroll.

#### Actual behavior:

The Callout Component is not closing on click out or scroll.

#### Expected behavior:

Unless the props - preventDismissOnLostFocus or p

[2018-06-28 16:18] micahgodbolt commented on #5372
You need to bubble up the onDismiss to where you are modifying state (in the index file).

https://codesandbox.io/s/l3r25x21mm

[2018-06-28 16:23] micahgodbolt commented on #5367
This will be assigned to @aneeshack4 once she's accepted my invite

[2018-06-28 16:29] micahgodbolt commented on #5332
confirmed bug, looks like simple solution. it's eating all of the keypresses, and firefox takes that literally!

[2018-06-28 16:29] micahgodbolt commented on #5332
@pablonete i'd be happy to review a PR if you want to drop that preventDefault into the if statement and verify that this fixes it

[2018-06-28 16:39] micahgodbolt commented on #5330
I don't see textfield showing an elipsis, can you demo this? I'm not sure if this is expected behavior

![image](https://user-images.githubusercontent.com/1434956/42048126-1bbb56f2-7ab7-11e8-8598-e32ca60c7717.png)

[2018-06-28 16:40] micahgodbolt commented on #5329
Can you describe this a bit more? Do you have en example in the wild we can look at?

[2018-06-28 16:52] micahgodbolt commented on #5317
We also have some examples of detail list on codepen so you can check out how to set them up.

https://codepen.io/dzearing/pen/EgqMZq

This is probably the better example to start from.

[2018-06-28 16:57] micahgodbolt commented on #5365
@bennettclark is this datepicker work just the input, or are you working on the calendar as well? If you are just focused on the picking portion, we also have an issue for the calendar.

#5307

[2018-06-28 17:31] lynamemi commented on #5270
Closing this in favor of the catch-all Dropdown accessibility issue: #5354

[2018-06-28 17:31] #5270 closed

[2018-06-28 17:34] Basek commented on #4383
Sorry, I won't have time for this in nearly future

[2018-06-28 17:38] micahgodbolt commented on #5327
@jspurlin are you able to make this fix, or is there someone else on your team that can pick up this work?

[2018-06-28 17:43] micahgodbolt commented on #5317
If you have any more questions feel free to open a more specific issue.

[2018-06-28 17:43] #5317 closed

[2018-06-28 17:46] micahgodbolt commented on #5315
@yiminwu @mikewheaton - when you have the opportunity (like during css to js conversion) can you look at adding this feature?

[2018-06-28 18:52] micahgodbolt commented on #4383
@jspurlin is this something you've considered doing for the combo box? Maybe using the itemAs syntax, or some other custom render?

[2018-06-28 19:52] bennettclark commented on #5365
@micahgodbolt per my conversation with @oengusmacinog who spoke with @Jahnp it doesn't sound like I'm the appropriate person to convert the calendar component to MergeStyles. The datepicker component is just limited to the input; the calendar component will require much more of a time commitment to convert.

[2018-06-28 20:56] lynamemi commented on #5371
One challenge here is that I don't think the Hyperlink system color is available in css. @betrue-final-final if we can't get that system color, what would be the next best thing?

[2018-06-28 22:39] betrue-final-final commented on #5371
Normally it's the yellow color in hc black

[2018-06-28 23:59] caradong opened #5382 "DetailsList: Accessibility - Broken Keyboard focus on Column headers when in High Contrast mode"
### Bug Report

- __Browser and OS versions__: windows 10 edge

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

#### Describe the issue:

Repro steps:
1. Turn on High Contrast Mode(Black or White) on Windows 10
2. Go to a details list
3. Using Tab key, navigate on the column headers and check the focus visibility.

#### Actual b

[2018-06-29 01:51] luckyyd opened #5383 "Sticky TypeError cause Fabric UI render failed"
### Bug Report

- __Package version(s)__: 5.106.1
- __Browser and OS versions__: Chrome v67 and Edge 42

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: (if applicable) MS privacy PDAM tool

#### Describe the issue:

There are cases when fabric ui failed to render icon and displ

[2018-06-29 03:44] cliffkoh commented on #5264
@micahgodbolt the wrong component is tagged - you really mean commandbar and not dropdown component right?

[2018-06-29 05:09] shyama1208 commented on #5330
TextField is showing ellipses only on Chrome.
Open https://developer.microsoft.com/en-us/fabric#/components/textfield
 and type in some long text in any of the textfield and focus out.

![image](https://user-images.githubusercontent.com/26054709/42074205-8fe3ddc0-7b88-11e8-9564-7c2485430790.png)

[2018-06-29 06:07] danieloc commented on #5372
Thanks for the quick response, and sorry about the silly mistake. I've no idea how I did not see that.

[2018-06-29 06:07] #5372 closed

[2018-06-29 13:16] sumboxcar182 commented on #5336
Hi and my apologies in the delay for replying but thank you so much for the advice!

 We found the issue was that the container div that wraps the component did not have an exact height, so if the DetailsList had a wrapper with height as 100% for example, it was breaking. So taking your advice we ended up just having a resize handler that would check for any resize event and would set the style to

[2018-06-29 13:16] #5336 closed

[2018-06-29 15:14] lynamemi commented on #5371
I just chatted with @betrue-final-final , and the best option we came up with is hardcoding the yellow and blue hex values for high contrast white and high contrast black.

I'll assign this to myself and work on this implementation, but we're open to better ideas.

[2018-06-29 15:17] lynamemi commented on #5383
It looks like you're having some css loading issues in general. Can you tell us more about when the styles / icons show up and when they don't?

[2018-06-29 16:47] micahgodbolt commented on #5330
So it does! Thanks chrome for having a different implementation than FF or Edge.

I believe the desired experience is no truncation, but simply pushing previous content to the left, and keeping the last character written on the right. (and no tooltip).

Definately a bug, hopefully we can force chrome to align with other browsers.

[2018-06-29 17:10] micahgodbolt opened #5386 "New Component: Text"
## Component Details

### Imports

### Exports/ Component Breakdown

### Intended Package

### Code mockup/example

__Code Sample__

[code]

__Types__

| Name      | Type     | Default Value | Description |
|-----------|----------|---------------|-------------|
| className | string   |               | Optional class name to be added to the root |

### Design Assets

## Todos

## Steps

- [x] Thema

[2018-06-29 18:05] joerneu opened #5389 "Grouped DetailsList with CheckboxVisibility.hidden does not hide Checkbox of Group"
### Bug Report

- __Package version(s)__: 5.96.0 & 6.23.0
- __Browser and OS versions__: All

#### Priorities and help requested:

Are you willing to submit a PR to fix? (No)

Requested priority: High

#### Describe the issue:

When setting `checkboxVisibility={CheckboxVisibility.hidden}` on a DetailsList with groups, the Checkboxes of the Rows are hidden but the Checkboxes of the Groups are not.

[2018-06-29 18:12] jordandrako commented on #3506
@betrue-final-final as @aditima  said above, is this something we would want to implement?

[2018-06-29 18:22] jordandrako commented on #4571
@oengusmacinog  Should we implement the `as` pattern here?

[2018-06-29 18:27] justinwilaby opened #5390 "Indeterminate state missing for Radio and Checkbox"
It appears that the [indeterminate](https://developer.mozilla.org/en-US/docs/Web/CSS/:indeterminate) state for the checkbox and radio is missing from the Fabric version.

I would have expected the `ICheckbox` and `ICheckboxProps` interfaces to contain an `indeterminate` boolean to support this. Is there a workaround for those that require this use case?

[2018-06-29 18:28] micahgodbolt commented on #5365
No, I agree that this should be something tackled by the calendar team if possible. I reached out to @lorejoh12, but they don't currently have the work on their backlog. I"ll reach out to their PM to see if they have any plans to look at it.

[2018-06-29 18:29] dzearing commented on #349
This is how @d0tkom:

0. Implement a simple loader item which onRender of a give item, kicks off a network request in your data flow. (e.g. executes a redux action.)

1. Use a null placeholder + onRenderMissingItem and render the placeholder.

If you know your items have "more" (e.g. you have a paging token), leave a null placeholder and use onRenderMissingItem to render "loading" and kick off the

[2018-06-29 18:30] dzearing commented on #349
Lots of up-votes, we'll add this component shortly.

[2018-06-29 18:32] dzearing commented on #5383
Please provide a network trace as well.

[2018-06-29 18:34] dzearing commented on #5041
This actually goes for all of our experiments. I'm going to assign to micah at the moment, but I believe our plan will be to separate out a form components package so that i can be independently released.

[2018-06-29 18:40] jordandrako commented on #3472
@lynamemi Now that ComboBox has been converted to css-in-js I believe, do we want to take another crack at this?

[2018-06-29 18:43] justinwilaby opened #5391 "TextField `onChange` handler does not forward the `event`"
If I want a single `onChange` event handler for multiple `TextField` components, I am unable to determine which component triggered the event since the [only argument is the value](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/TextField/TextField.tsx#L444)

This creates a black box that requires the developer to create multiple handl

[2018-06-29 19:05] micahgodbolt commented on #5041
@abettadapur How stable would you consider this component right now? Are you still making API changes or would this be ready for a major release (knowing that any breaking changes would have to wait until a major release of Fabric)

[2018-06-29 19:12] micahgodbolt commented on #3298
Dropdown is being converted via #5366 to css-in-js. This isn't a bug, but this conversion will make it easier to make these types of changes.

[2018-06-29 19:12] #3298 closed

[2018-06-29 19:22] davidhenley commented on #1315
Bumping so this doesn't get closed.

[2018-06-29 19:52] abettadapur commented on #5041
I am not making any breaking changes right now.
The only thing I would want to do it have this use the new context API, but that is an implementation detail.

I would be glad to see this promoted :)

[2018-06-29 20:03] micahgodbolt commented on #5041
Okay, last things we'll want to clarify is packaging: is this an atomic pieces that should be in Fabric package or as David mentioned, should it go in its own package? Also, would other components possibly join it in another package.

Secondly, who is going to be responsible for the bugs and feature requests made towards this component? Is this component something that your team relies highly upon

[2018-06-29 20:05] #3528 closed

[2018-06-29 20:05] #3552 closed

[2018-06-29 20:06] lynamemi commented on #3472
@jordandrako ComboBox was actually already converted to js styling at the time I opened this issue, however, it was converted in the old classnames way. The interesting issue here is that `getFocusStyle(theme)` is called, but not taking effect. Like I mention above, I wonder if it has to do with a conflict in IButtonStyles, but that's a stretch.

Would definitely be good for someone more familiar

[2018-06-29 20:44] #5365 closed

[2018-06-29 21:02] betrue-final-final commented on #5390
Alright, so we currently don't support the mixed state for checkbox, but I can see how we may want to. As for radio buttons, there really isn't a situation where there would be an intermediate state for a mutually exclusive selection control.

Mixed states in checkboxes occur when there is a master checkbox, and some of the child checkboxes are not selected.

What scenario would you solve with a m

[2018-06-29 22:53] jordandrako commented on #3506
I spoke with @betrue-final-final offline and we do not want to support this behavior.

[2018-06-29 22:53] #3506 closed

[2018-06-30 03:09] justinwilaby commented on #5390
When there is a radio group and none of the radio buttons in that group are checked when they are inserted into the document, they are said to be indeterminate. A "reset form" button comes to mind as does the pseudo selector for identifying form controls that require values. This represents a fairly common use case IMO.

Philosophical and use cases arguments aside, parity with native controls shou

[2018-06-30 03:12] betrue-final-final commented on #5390
So you're saying that this is a "state" that is in addition to being unselected?

[2018-06-30 03:41] justinwilaby opened #5398 "Constraint Validation Not Reasonably Possible With Fabic Form Controls"
[Constraint validation](https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5/Constraint_validation) is not possible with the Fabric form elements thus creating a requirement on JS to do this lifting.

The `pattern` property on `input` elements is not accessible which makes the `oninvalid` event and the HTMLFormElement.reportValidity() impossible without gaining direct element access.

Whe

[2018-07-01 20:28] #3665 closed

[2018-07-01 21:06] kheide commented on #5322
Do you have an ETA for this (and the Tile component) or should we find replacements in the interim?

[2018-07-02 04:18] gaurav42 commented on #5074
In HCW:
Button texts should be in White color with violet background.
In HCB:
Button texts should be in Black color with blue background.

[2018-07-02 05:46] akashperfect opened #5400 "DetailsList Grouped: On adding more elements and groups to the grouped detailsList it becomes inaccessible"
### Bug Report

- __Package version(s)__: (Latest) 6.23.0
- __Browser and OS versions__: Any (chrome, windows 10)

#### Priorities and help requested:

Are you willing to submit a PR to fix? Not yet

Requested priority: **Blocking**

Products/sites affected: VSTS

#### Describe the issue:

On using grouped details list when more elements and groups are added.
Scrolling to the bottom of the list be

[2018-07-02 08:59] aslanovsergey commented on #5329
Ok, there is a vivid example - sharepoint list in quick edit mode
![image](https://user-images.githubusercontent.com/22150933/42154756-41ebda6e-7def-11e8-9c94-bb7f9f8919d8.png)

[2018-07-02 10:19] Nimelrian opened #5401 "[Feature Request] Provide better ways of styling a Dropdown (styles prop?)"
**Describe the feature that you would like added**
Currently, styling a `Dropdown`'s elements via style overrides can only be done by overriding the individual onXRender functions. This is cumbersome, verbose, and reduces maintainability. Instead, like most other top level components, `Dropdown` should accept a `styles` prop to allow for style changes of individual child elements.

**What componen

[2018-07-02 11:16] shyama1208 commented on #5330
I feel we should also be showing tooltip on hover. Otherwise, how would one be able to view the entire content of the textfield?

[2018-07-02 12:33] davidleacy commented on #4565
Thanks @cliffkoh, #5385 seems to address a lot of the issues and accessibility bugs my team has in relation to dropdowns.

[2018-07-02 15:52] dzearing commented on #5191
The reason is because the `caretDown_0df10b7b` class name is coming from sass generated css module names. We are moving away from sass, and for components that use merge-styles, the above mentioned serializer works awesome. But for the remaining components that are still currently being converted (we're almost done!), you can work around this:

In your jest config, map scss files to a style mock f

[2018-07-02 15:52] #5191 closed

[2018-07-02 15:56] dzearing commented on #4329
@NielZeeman any update? Would like to help you if you're still having issues.

[2018-07-02 16:29] #5371 closed

[2018-07-02 17:00] dzearing opened #5403 "MergeStyles: implement atomic classes"
Today, when evaluating these rules:

[code]

and:

[code]

Merge styles will generate 2 independent classes, even though they result in the same css. This is because it will not sort the properties before generating a key.

Yet even if it did sort, and both calls generated the same class, all it takes is to add one more property for it to generate a new class name.

What we should consider doing i

[2018-07-02 17:05] cliffkoh commented on #5401
Closing as duplicate of #5366

[2018-07-02 17:05] #5401 closed

[2018-07-02 17:09] JasonGore commented on #5074
This is just a repeat of what you had in the description and mentions nothing about icons. However, the problem title isn't written for "button texts", it's written for IconButtons. Don't regular text buttons also exhibit this issue?

Please link to the actual spec or standard so that we can have the additional detail to address correctly. Thanks!

![image](https://user-images.githubusercontent.co

[2018-07-02 17:16] samiyaakhtar opened #5404 "Experiments build not working due to webpack"
#### Priorities and help requested:

Are you willing to submit a PR to fix? **Yes**

Requested priority: (**Blocking**, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

We've been trying to check in [this PR](https://github.com/OfficeDev/office-ui-fabric-react/pull/5375) for a while and getting errors (below).

[code]

We've tried different versions of webpac

[2018-07-02 17:32] kenotron commented on #3785
Hey all, I'm converting this to JS Styling and will account for it in my change.

[2018-07-02 17:41] kenotron opened #5406 "DetailsList: convert to js styles"
**Describe the feature that you would like added**
This feature is to convert DetailsList as a whole to use mergestyles to take advantage of theming and styling. The work is going to be divided in two checkins to reduce the amount of PR noise.

- [ ] Convert DetailListRow and all its children to use mergestyles
- [ ] Convert DetailList, header, and column to use mergestyles

**What component or ut

[2018-07-02 17:41] dzearing commented on #3313
@aditima I'd suggest headerAs.

[2018-07-02 18:54] #4729 closed

[2018-07-02 19:09] samiyaakhtar commented on #5404
Resolved it by using published charting package, closing this issue now. Thanks @dzearing!

[2018-07-02 19:09] #5404 closed

[2018-07-02 19:30] micahgodbolt opened #5408 "DocumentCard: Convert to CSS-in-JS"
**Describe the feature that you would like added**
This feature is to convert DocumentCard as a whole to use mergestyles to take advantage of theming and styling.

[2018-07-02 19:31] micahgodbolt opened #5409 "GroupedList: Convert to css-in-js"
**Describe the feature that you would like added**
This feature is to convert GroupedList as a whole to use mergestyles to take advantage of theming and styling.

[2018-07-02 19:32] micahgodbolt opened #5410 "Modal: Convert to css-in-js"
**Describe the feature that you would like added**
This feature is to convert Modal as a whole to use mergestyles to take advantage of theming and styling.

[2018-07-02 19:56] micahgodbolt opened #5411 "Pickers: Convert to css-in-js"
**Describe the feature that you would like added**
This feature is to convert Pickers as a whole to use mergestyles to take advantage of theming and styling.

- [ ] Base
- [ ] People
- [ ] Tag

[2018-07-02 20:34] lynamemi commented on #5012
I briefly checked this out, and agree that it's desirable to fix this, but I don't have the bandwidth right now to come up with a solution. Probably it needs to be an 'opt-in' solution (using a prop) with some js positioning math done after first load.

[2018-07-02 20:42] micahgodbolt opened #5412 "Convert Layer Code to Portals"

[2018-07-02 20:42] micahgodbolt opened #5413 "Update customizer to use context"

[2018-07-02 20:43] micahgodbolt opened #5414 "Use fowardRef for HOC and decorator scenarios"

[2018-07-02 20:43] micahgodbolt opened #5415 "Clean up strict mode deprecations"

[2018-07-02 21:20] dzearing opened #5418 "New Component: Grid"
## Component Details

Proposal: Grid component should abstract css grid.

Required features:
* row/column templates
* gap size
* named cells
* works in ie11

### Imports

### Exports/ Component Breakdown

### Intended Package

### Code mockup/example

__Code Sample__

[code]

__Types__

| Name      | Type     | Default Value | Description |
|-----------|----------|---------------|-------------|
|

[2018-07-02 21:23] dzearing opened #5419 "New Component: Stack"
## Component Details

A Stack is a container-type component that abstracts the implementation of a flexbox in order to define the layout of its children components.

#### Why should we abstract flexbox?

The reason for abstracting flexbox comes from our drive to provide a complete component library, where we wouldn't want for the consumer to need to write additional CSS just to get flexbox functio

[2018-07-02 22:53] micahgodbolt commented on #5418
I did a few demos in codepen a while ago showing IE11 grid.
There are some difference between the two that will make supporting a single interface difficult...but certainly doable.

https://codepen.io/micahgodbolt/pen/OOQaMY

https://codepen.io/micahgodbolt/pen/MOQzpJ

[2018-07-02 22:55] micahgodbolt commented on #5418
Note that one of the major omissions from ie11 support is that of auto placement of items (i.e. you have to manually place each one). This could be overcome by automtically writing/injecting styles for each item in the gallery.

In my 2nd example i used sass to loop through and set an nth of type doing the math of where the item would start/stop

[code]

[2018-07-02 22:59] micahgodbolt commented on #5418
For modern browsers, you just need the following

[code]

Abstracting this via the interface will take a little time and thought.

[2018-07-02 23:11] #3636 closed

[2018-07-03 00:35] samuelmtimbo opened #5423 "Panel: Footer bottom is cut on Safari / iOS"
### Bug Report

- __Package version(s)__: v6.25.0
- __Browser and OS versions__: Safari / iOS

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes, but I need guidance on the ideal solution.

Requested priority: Normal

Products/sites affected: All

#### Describe the issue:

On Safari / iOS, the area of the layer is bigger than the visible browser area, which renders th

[2018-07-03 00:49] davidprejban opened #5424 "Windows Narrator doesn't say selection state for SwatchColorPicker on keyboard selection."
### Bug Report
- __Package version(s)__:
6.21.0

- __Browser and OS versions__:
Windows server 2016: Version 1607 OS Build 1493.2339
Internet Explorer 11: Version 11.2239.14393.0

#### Priorities and help requested:

Are you willing to submit a PR to fix?
Yes

Requested priority:
High

#### Describe the issue:
Windows narrator will not say whether or not the color is selected when selecting the co

[2018-07-03 00:50] davidprejban opened #5425 "Windows Narrator says that the Checkbox selection state has changed when visually the checkbox state doesn't change."
### Bug Report
- __Package version(s)__:
6.21.0

- __Browser and OS versions__:
Windows server 2016: Version 1607 OS Build 1493.2339
Internet Explorer 11: Version 11.2239.14393.0

#### Priorities and help requested:

Are you willing to submit a PR to fix?
Yes

Requested priority:
High

#### Describe the issue:
Windows narrator will not say whether or not the color is selected when selecting the co

[2018-07-03 04:50] gaurav42 commented on #5074
The standards were reported to us by accessibility testers. But I checked color palette in Windows 10, which is in sync with the current button colors:

![image](https://user-images.githubusercontent.com/13743203/42199152-7151913e-7eaa-11e8-86ac-d1300bce5abd.png)

![image](https://user-images.githubusercontent.com/13743203/42199156-7c05d1e4-7eaa-11e8-9a61-dd71c9341d7e.png)

I think we can close th

[2018-07-03 04:50] cliffkoh commented on #4432
For some reason, I was unable to repro the fix but #5385 *should* fix it...

[2018-07-03 04:57] cliffkoh commented on #5347
This is fixed in #5385. Please do feel free to review the PR or the animated screen capture and let me know if the captured behavior doesn't meet your expectation.

[2018-07-03 05:06] cliffkoh commented on #5331
Hi @tailwu, in the latest version of OUFR, the behavior across all 3 browsers are the same when word-wrapping does not come into the picture.

![image](https://user-images.githubusercontent.com/1003246/42199543-e1aecc4c-7e43-11e8-8af3-8f422d5515c3.png)

A scrollbar does not appear.

They do differ when word-wrapping is applicable.

![image](https://user-images.githubusercontent.com/1003246/4219958

[2018-07-03 05:13] cliffkoh commented on #5333
Thanks for the bug report and in particular the codepen repros. Dropdown uses Checkbox underneath so it is there that I believe a fix needs to be pursued. I will mark this as being accepted as a bug.

[2018-07-03 06:37] NielZeeman commented on #4329
@dzearing I had to revert to a point before I chucked out the OUIF to get a working extension out. Initial checks seem to have resolved this issue making me think that it was VSTS that had the problem. My code was exactly what it was, with the version of packages that gave me the issue.

I will spend a bit more time to see if it gives me the same or expected behavior, but for now we can close this

[2018-07-03 06:37] #4329 closed

[2018-07-03 06:37] micahgodbolt commented on #5330
I'm a bit baffled. Seems if you drop in a default value, both FF and Chrome will truncate and elipsis (and edge never does). But if you type into the input then remove focus, only Chrome jumps back to the left and adds the elipsis. FF just leaves it as is.

But if you use the mouse/keyboard to go back to the first character in the input, then drop focus, it'll add elipsis. So the difference in beh

[2018-07-03 06:46] mdahamiwal opened #5427 "Dialog: IE11 only: flexbox styling is broken"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes)

Requested priority: (Normal)

Products/sites affected: (if applicable)

#### Describe the issue:

In IE11, there are a lot of bugs for flexbox layout. Dialog is one example where if the dialog contai

[2018-07-03 09:16] nebhagat opened #5431 "OfficeFabric/Link when converted to button does not follow the High Contrast Standards"
#### Describe the issue:

OfficeFabric/Link when converted to button, does not follow The high contrast standards.

Screenshot in high contrast is off
![normallink](https://user-images.githubusercontent.com/40790634/42210734-612a803e-7ecf-11e8-9ce1-c6cd6d17ac42.PNG)

Screenshot when high contrast white
![hcwlink](https://user-images.githubusercontent.com/40790634/42210790-878a93e0-7ecf-11e8-9c4f-3

[2018-07-03 09:49] pepaar opened #5433 "ContextualMenu with sub items is throwing exception on click"
### Bug Report

- __Package version(s)__: 6.25.0
- __Browser and OS versions__: all browsers

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Outlook.com

#### Describe the issue:
Click on the sub item in ContextualMenu of a button throws next exception:

"Warning: Can't call setState (or forceUpdate) on an unmoun

[2018-07-03 10:14] pablonete commented on #5332
Thanks, @micahgodbolt. PR is ready for review: #5434

[2018-07-03 14:54] #5354 closed

[2018-07-03 15:22] Alison-Sarah-P-C commented on #3195
We are on the latest version of office Fabric and still seeing this issue

[2018-07-03 15:43] JasonGore commented on #5074
Ok, I will close the issue for now. Please feel free to post back any new findings. Thanks

[2018-07-03 15:43] #5074 closed

[2018-07-03 16:07] betrue-final-final commented on #5330
I agree that if you lose focus and return, that it should have the insertion bar after the last character typed. Showing ellipses is very non-standard and can be confusing as it may imply that someone typed the ellipses.
As for tooltips, that would be nice to have. Not sure if it's a deal breaker though.

[2018-07-03 16:53] aishuiyer2001 opened #5438 "FocusZone: bidirectional not working correctly in RTL"
### Bug Report

- __Package version(s)__: office-ui-fabric-react 6.25.0
- __Browser and OS versions__: Chrome 67.0.3396.99 (Official Build) (64-bit) and IE 11.2312.14393.0

 #### Requested priority: High

 #### Describe the issue:

On the 'FocusZone' component, setting the 'direction' attribute to 'FocusZoneDirection.bidirectional' does not work as expected for RTL languages (dir="RTL" has been se

[2018-07-03 16:58] micahgodbolt commented on #5330
Chrome:
![input](https://user-images.githubusercontent.com/1434956/42233874-98762016-7ea7-11e8-8e2c-cd1b35835bde.gif)

Firefox:

![input_ff](https://user-images.githubusercontent.com/1434956/42233882-9de4eff0-7ea7-11e8-91db-d8e70cc3652b.gif)

[2018-07-03 17:01] #5332 closed

[2018-07-03 17:03] micahgodbolt commented on #5322
@kheide This hasn't been started yet, just a known gap in our component coverage. We're hoping to work on it in the coming month or so.

[2018-07-03 17:41] micahgodbolt commented on #5431
looks like this was fixed in #5392

[2018-07-03 17:41] #5431 closed

[2018-07-03 18:44] davidhenley commented on #915
@dzearing I just installed 6.25 and I still don't see an itemsAs on the Nav. Any ideas?

[2018-07-03 18:46] davidhenley commented on #915
@dzearing whoops sorry, didn't read your last paragraph right.

[2018-07-03 19:56] janormanms opened #5440 "Dropdown does not scroll to selected item when opened"
### Bug Report

- __Package version(s)__: 6.18.0

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

#### Describe the issue:

Create a Dropdown with enough items that a scrollbar is necessary
Set the default selected item to be one beyond the visible range
Open the dropdown

#### Actual behavior:

Opens at the top of the option list
User ca

[2018-07-03 20:45] JasonGore commented on #5194
I didn't know about this when I did #5324 (where I added `neutralSecondaryAlt` to `IPalette`), so I'll tag it here as a work item.

[2018-07-03 20:54] micahgodbolt commented on #5330
I've opened up a bug with chromium. For now, we're calling this working as expected, and that Chrome is out of alignment with standards.

https://bugs.chromium.org/p/chromium/issues/detail?id=860024&can=2&q=component%3AUI%3EInput%3EText%20%20os%3DWindows&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified

[2018-07-03 20:54] #5330 closed

[2018-07-03 21:09] betrue-final-final commented on #5194
Yes, we should get rid of this color.

[2018-07-03 21:20] dzearing commented on #5328
Thank you a ton for your well written writeup!

There are a few things you're asking;

Better theme-ability! We do have this in the plan. We actually have a lot of the logic you're describing (color tooling for creating themes, etc) but it's not well organized and documented. We are absolutely tackling this.

I think there are potentially others here; for example, normalize styling. Use some other

[2018-07-03 21:33] dzearing commented on #5328
Also wrt naming conventions, in merge-styles, you can provide names that make sense by using 'displayName':

[code]

Merge styles also allows you to mix in string classnames that it doesn't recognize:

[code]

If you merge a classname that was generated by mergeStyles, it will ensure specificity is kept as well!

[code]

[2018-07-03 21:39] dzearing commented on #5328
But I also asked about fela, because we're considering it as one of the candidates we'd support. It's close to perf of merge-styles, but it supports atomic css, which we're a fan of as it means as your app loads more code, you end up registering less and less styles and having greater cache hits.

[2018-07-03 23:09] arunarokk opened #5443 "DetailsList: Narrator announces incorrect row count"
### Bug Report

- __Package version(s)__: (5.118.0)
- __Browser and OS versions__: (Edge & Win 10)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (No)

Requested priority: (High)

Products/sites affected: (if applicable)

#### Describe the issue:

In Detailslist, rowcount is incorrectly announced by narrator, if table has 500 rows, it announces as 501 rows.

#### Actu

[2018-07-04 01:51] jeremy-coleman commented on #5328
Nice I will check it out, I was working on updating that repo myself to compare, as the dependencies are pretty far out of date. I think most of the 'styled' libs are using the insertRule api now
https://medium.com/styled-components/v3-1-0-such-perf-wow-many-streams-c45c434dbd03

I read this article the other day. 1) its hilarious but 2) I thought it could be especially relevant to css

https://it

[2018-07-04 02:31] luckyyd commented on #5383
Hi @lynamemi, @dzearing
I took some time to investigate why css loading failed. It turned out the error does not come from woff font file fetch issue, it is the Sticky component that cause the error. Sorry for the previous disturbing caused.

I used a DetailsList component with Sticky component as the header to stay in fixed position when scroll down. The error was shown when first loading the pag

[2018-07-04 02:49] luckyyd commented on #5383
Code snippet:
The basic way to use detailsList locked header:
![snippet](https://user-images.githubusercontent.com/12855573/42254145-e3b7b00a-7f77-11e8-980d-29498afff662.PNG)

[2018-07-04 05:32] #5427 closed

[2018-07-04 06:11] kmrrakesh opened #5446 "Primary button is not adapting to high contrast"
### Bug Report

- __Package version(s)__: (5.66.0)
- __Browser and OS versions__: (Edge and Windows 10)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (No)

Requested priority: (Normal)

Products/sites affected: (PowerApps)

#### Describe the issue:

Primary button is not adapting the changes against High Contrast settings.

#### Actual behavior:

High Contrast Black

[2018-07-04 07:39] gaurav42 opened #5447 "Narrator doesn't announce tab selection in pivot control in Edge browser"
### Bug Report
- __OS__: Version 1803 (OS Build 17134.5)
- __Build Version__: Microsoft Edge 42.17134.1.0
- __Screen Reader__: Narrator,NVDA

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

#### Describe the issue:

In pivot control, narrator doesn't announce the selected state of tab items when Enter key is pressed. It announces only whe

[2018-07-04 09:25] rajatagrawal-dev opened #5448 "Dropdown with options having long text should have horizontal scrollbar when expanded"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: Edge, Chrome

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites affected: Visual Studio Team Services

#### Describe the issue:

Dropdowns with long text options should have a horizontal scrollbar (when dropdown is in expanded state) so that complet

[2018-07-04 10:05] unowiz commented on #4398
@robpearmain @ipip2005
I added the style to as a global but as i wasn't sure the styles string route would apply to panel
//my component or webpart scss file
:global {
  .ms-Layer-content > div {
    overflow-y: visible !important;
  }
}
I had a last minute surprise with the office ui fabric dropdown control where on small device screen like iphone 5c, the dropdown didn't work due to panel issue.

[2018-07-04 15:21] betrue-final-final commented on #5448
Dropdowns need to be sized horizontally to fit the content. In the unlikely case that it doesn't have room, you may consider a different control, such as a choice group. The idea is for this control to be compact, and adding a horizontal scroll bar would make it very difficult to use.

[2018-07-04 15:21] #5448 closed

[2018-07-04 15:55] virulentt opened #5449 "TeachingBubble affects other component :focus background."
### Bug Report

- __Package version(s)__: 6.25.2 - Bug has been introduced with 6.1.0
- __Browser and OS versions__: CEF v3239 / Windows 10 Latest version

#### Describe the issue:

Whenever i open a TeachingBubble, other component such as IconButton and Nav are affected as their :focus background gets set to the same blue as the TeachingBubble.

#### Actual behavior:

 Behavior only appears once

[2018-07-04 18:59] bmckilligan commented on #3600
I think the best implementation of this is the 'Timeline' component available for pivot tables in Microsoft excel.

The web version of Excel has support for this feature, and it would be great to have this.

The control appears to be called  'timeSlicer' , guessing by the css classnames used in the sub components,   'ewr-timeslicer-background',   'ctl00_m_timeSlicerContainer'  ect ...

An example

[2018-07-04 23:36] dzearing opened #5450 "RFC: How components evolve independently"
The `Persona` is a good example of a "heavy component". There are a lot of wrapper DIVs generated for something that should be very simple. We want to refactor it but there are things we consider breaking:

* The DOM structure changes (it simplifies)
* The class names change

While we can make props contracts be backwards compatible with deprecation usage, we still consider DOM and class name chan

[2018-07-05 03:03] gggjtgxing opened #5451 "TextField: Narrator always read placeholder text even when it already has input text"
### Bug Report

- __Package version(s)__: (6.25.1)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (No)

Requested priority: (High)

Products/sites affected: (SharePoint sites)

#### Describe the issue:

When tab into the textfield, the Narrator read out wrong message

#### Actual behavior:

Narrator first read

[2018-07-05 03:08] #5451 closed

[2018-07-05 03:08] gggjtgxing commented on #5451
It's placeholder issue

[2018-07-05 05:50] esshreem opened #5452 "The <Link> component when used with target="_blank" attribute shows up (redirects to a blank URL) before the page loads in edge browser"
### Bug Report

- __Package version(s)_Happens in all fabric versions
- __Browser and OS versions__: Edge

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites affected: (if applicable)

#### Describe the issue:
 When we use the LINK component along with target="_blank" for any of the links opens up the link in a new tab in Edge b

[2018-07-05 08:11] LeonidasFettikus commented on #5292
Hi, sorry if I have gotten back so late. We didn't yet resolve the issue, but it has been moved back in our backlog and a colleague has hijacked the task of fixing this. Anyway, I can say that yes, we have called initializeIcons(); in our app and we only call it once.

It has worked before we updated our packages to their latest versions. I suppose we will try rolling back these updates to see if

[2018-07-05 09:10] danieloc opened #5453 "MessageBar not reflecting MessageBarType not changing div class when value is changed"
### Bug Report

- __Package version(s)__: (6.21.1)

NOT A BUG IN VERSION 6.2.0 so this was broken somewhere in between.

Edit - I looked and it's broken on 6.16->6.17

#### Priorities and help requested:

Are you willing to submit a PR to fix? (No)

Requested priority: (Low)

#### Describe the issue:

MessageBar can be red when it is a MessageBarType.Success (Not at first but After dynamically cha

[2018-07-05 15:40] micahgodbolt commented on #5452
How can we repro this issue? I'm not following what the problem is. Your example loads, then I can click on the link, and the link works as expected.

[2018-07-05 15:51] micahgodbolt commented on #5450
I'm less of a fan of experiments. We'd still have the drifting apart problem as features are added to old persona without being addressed in the new one. It'd be much easier to ensure that the two components stay in sync if they are in the same folder....or as you mention, in the same micro package. Micropackages are cool, as long as you feel that it'd scale properly.

As for #4, I think this is s

[2018-07-05 16:05] micahgodbolt commented on #5449
We just did the conversion to styles, appears that the :focus style added by the teaching bubble isn't scoped to the teaching bubble's button, therefore adds style to anything focusing on the page.

https://codepen.io/micahgodbolt/pen/pKmXVG

![image](https://user-images.githubusercontent.com/1434956/42334604-909a93a4-8032-11e8-8bda-1deaf0fa2af8.png)

[2018-07-05 16:20] micahgodbolt commented on #5446
High contrast Black

![image](https://user-images.githubusercontent.com/1434956/42335193-6fbe970a-8034-11e8-9a79-6a63d247b5dc.png)

high contrast white

![image](https://user-images.githubusercontent.com/1434956/42335222-7e48c0d4-8034-11e8-9555-d719c9a294f4.png)

I believe these are the expected styles, @betrue-final-final can you confirm these are correct? The expected colors you mention are appl

[2018-07-05 16:23] betrue-final-final commented on #5446
Yes, the current button is correct.

[2018-07-05 16:23] #5446 closed

[2018-07-05 17:14] dzearing commented on #5452
This has nothing to do with the Link component. If you did this with a vanilla A tag using `target="_blank"`, the behavior would be identical.

Closing, as this look by design.

[2018-07-05 17:14] #5452 closed

[2018-07-05 17:21] dzearing commented on #5453
I repro'd this! This seems super confusing. I'll debug in.

[2018-07-05 17:32] #5449 closed

[2018-07-05 17:33] dzearing commented on #5449
We just merged a change and are in progress of publishing a new patched version. Sorry for the bug! We area also adjusting our css tooling to avoid this category of problem completely.

[2018-07-05 17:44] dzearing commented on #5425
is this a narrator bug?

[2018-07-05 17:49] betrue-final-final commented on #5425
I repro'd the bug in IE11. Note that you have to be in scan mode. Checkbox doesn't seem to be working at all in Edge with Narrator. Neither space nor enter will select the standard checkbox.

[2018-07-05 17:59] dzearing commented on #5433
Call stack points to `_onSubMenuDismiss` calling `setState` when unmounted (we lose focus, and the code still executes.)

[code]

[2018-07-05 18:05] dzearing commented on #5400
@ThomasMichon @aditima There seems to be a major regression here. Repro by going to the codepen, and then:

scroll to the bottom, click show more.
scroll to the top, set focus to row 0 or something close to the top.
mousewheel to the end

Expected:
You can see the end

Resulted:
Focus keeps pulling to the top.

[2018-07-05 18:07] micahgodbolt commented on #5046
There's a little styling work to do, but this is how to render something in command bar https://codepen.io/micahgodbolt/pen/JZZYwE

[2018-07-05 18:07] #5046 closed

[2018-07-05 19:59] dzearing commented on #5453
Found and fixed, will be merged shortly.

[2018-07-05 20:04] dzearing commented on #5450
I think a separate topic, but very related, is how we coordinate major bumps. Major bumps give us the opportunity to remove deprecated things and to change DOM and potentially classname structure. But we want to do it very incrementally and rarely. We want things to be reliable and consistent, but clearly fixing bugs sometimes means breaking changes.

We learned two things from our 6.0 release:

1

[2018-07-05 20:56] dzearing commented on #4938
Closing due to no traction. This does not appear as a bug in the Fabric ChoiceGroup at all.

[2018-07-05 20:56] #4938 closed

[2018-07-05 20:58] #5347 closed

[2018-07-05 20:58] dzearing commented on #5347
Closing as it has been resolved. Please feel free to re-open if needed.

[2018-07-05 21:03] arunarokk opened #5460 "Commandbar: when the searchbox is added as faritems of the commandbar, its counted as menuitem"
### Bug Report

- __Package version(s)__: (5.118.0)
- __Browser and OS versions__: (Edge & win 10)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (No)

Requested priority: (High)

Products/sites affected: (if applicable)

#### Describe the issue:
When the searchbox is added as faritems of the commandbar, its counted as menuitem, but screen reader not reading its posit

[2018-07-05 21:13] #5453 closed

[2018-07-05 21:18] #4432 closed

[2018-07-05 21:18] cliffkoh commented on #4432
Fixed in #5385

[2018-07-05 21:19] cliffkoh commented on #4676
Fixed in #5385.

[2018-07-05 21:19] #4676 closed

[2018-07-05 21:19] cliffkoh commented on #4565
Closing because #5385 is merged.

[2018-07-05 21:19] #4565 closed

[2018-07-05 21:47] JasonGore commented on #5425
My findings are almost completely the opposite of Ben's. Edge + Narrator works fine for me with scan mode off.

IE11 (only when using Caps + Enter) exhibits the behavior reported. However, Space and Enter work fine. (Ctrl + Enter works fine when Narrator is disabled.)

It turns out IE11 also exhibits this behavior with [an ARIA reference example](http://www.w3.org/TR/2016/WD-wai-aria-practices-1.1

[2018-07-05 21:53] betrue-final-final commented on #5425
Ok, now it's working fine. This is worrisome as it didn't work before.

[2018-07-05 22:34] cliffkoh commented on #5264
@anjali2408 We will close this issue as @micahgodbolt is unable to repro. Please feel free to re-open if you disagree with the resolution.

[2018-07-05 22:34] #5264 closed

[2018-07-05 22:51] JasonGore commented on #5360
An [ARIA reference example](http://www.w3.org/TR/wai-aria-practices-1.1/examples/combobox/aria1.0pattern/combobox-autocomplete-list.html) exhibits partially the same behavior in that down arrow doesn't read the highlighted item, but up arrow works. The ARIA specification doesn't exactly have a role like read-only `combobox` as `listbox` role seems more apt in this situation. Either way, it looks l

[2018-07-05 23:04] micahgodbolt commented on #5310
![image](https://user-images.githubusercontent.com/1434956/42352029-f0a38ea6-806c-11e8-92c4-71062aa98741.png)

Sorry for the delay. It still appears to work when disabled. Can you create a reproable example?

[2018-07-05 23:08] vdepizzol commented on #4178
The same problem happens when I use the "Zoom" accessibility feature from macOS. I configured my system to use <kbd>Control</kbd> + <kbd>Option</kbd> as modifier keys, and menus will close as soon as I try to zoom in.

[2018-07-05 23:27] allobast opened #5463 "BasePicker mutates props"
### Bug Report

- __Package version(s)__: 6.9.0

#### Describe the issue:

`BasePicker` component mutates the props it receives. It happens in `resetFocus` function on the line that does `items[items.length - 1].selected = true;`. It should copy items before assigning them to state/mutating them.

#### Actual behavior:

Because of that when using Redux store and passing items from the store to `Ba

[2018-07-05 23:37] joschect commented on #3195
@Alison-Sarah-P-C I can reproduce this behavior.
@dzearing We can probably fix this if we change the behavior of the suggestions list to virtually render the subcomponents, but I'm not sure how much work it will be.

[2018-07-05 23:47] allobast commented on #5463
Hello @dzearing, wonder if you could take a look at it please? Thank you!

[2018-07-06 00:11] sebraddo commented on #3055
Also running into this issue, has anyone found a workaround for clearing combobox input?

[2018-07-06 00:12] dzearing commented on #5238
@lynamemi Is it possible you could help with this?

[2018-07-06 01:51] tailwu commented on #5310
Hi,

Could you please visit https://codepen.io/micahgodbolt/pen/zaGwee in IE instead of Edge? And make sue “disabled” property is true.
I still can repro this issue in IE.
[cid:image002.png@01D4150E.DD0D0350]

Thanks

From: Micah Godbolt <notifications@github.com>
Sent: Friday, July 6, 2018 7:04 AM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Tailong Wu <tai

[2018-07-06 07:49] robinsoderlund commented on #810
Is this fixed in later versions? I'm having the same problem with 5.87.0.

[2018-07-06 09:09] danieloc commented on #5453
:+1: Thanks

[2018-07-06 09:39] esshreem commented on #5452
Hi ,

Please observe carefully .
In edge browser for a fraction of second the title of the tab is shown as _blank also the URL is not rendered.Since the page loads quite fast hence here it is not much visible. But in ideal case the page may take time to reload .In this case we cant avoid this .Please refer to the video attached .Also I was not able to reopen the issue . Thus creating new issue aga

[2018-07-06 09:40] esshreem opened #5466 "The <Link> component when used with target="_blank" attribute shows up (redirects to a blank URL) before the page loads in edge browser"
### Bug Report

- __Package version(s)_Happens in all fabric versions
- __Browser and OS versions__: Edge

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites affected: (if applicable)

#### Describe the issue:
 When we use the LINK component along with target="_blank" for any of the links opens up the link in a new tab in Edge b

[2018-07-06 09:43] esshreem commented on #5466
Attaching the video recording
[Recording #2.zip](https://github.com/OfficeDev/office-ui-fabric-react/files/2169927/Recording.2.zip)

[2018-07-06 10:25] esshreem opened #5467 "An overflow button of details list doesnot disappear on closing of the menu"
### Bug Report

- __Package version(s)__:All
- __Browser and OS versions__: All

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority:Medium

Products/sites affected: Details List component .Please refer to microsoft one drive .

#### Describe the issue:

Attached the video .
I have attached the video for one drive but same happens in our application a

[2018-07-06 11:02] kheide commented on #5322
Fantastic. Thanks!

Also I just discovered the Chiclet component which sort of also helps.

[2018-07-06 15:11] micahgodbolt commented on #5466
The behavior of our Link component in IE11 is exactly the same a standard anchor tag. The behavior you are describing is the standard IE11 behavior for _blank hrefs. Can you demonstrate how the link is supposed to act? The codepen below has our Link, as well as an anchor tag. They both act identical.

https://codepen.io/anon/pen/dKBwdJ

[2018-07-06 15:22] micahgodbolt commented on #5310
I do see this is a bug, though I doubt we'll have time to fix it. It's an old version of the command bar (6.0 has a completely new one), and it only happens on a single browser under a very specific situation.

[2018-07-06 16:33] micahgodbolt commented on #5460
we have a completely new command bar in 6.0. Do you have plans to upgrade to that release soon? If so we'd like to make sure that we create a good solution for you in a non deprecated component.

[2018-07-06 17:23] arunarokk commented on #5460
@micahgodbolt , Yes we have plans to upgrade to 6.x soon.

[2018-07-06 17:29] dzearing commented on #5467
This has nothing to do with the DetailsList. You are clicking on the button, and therefore setting focus on it, which keeps it visible, as it should be for accessibility reasons. But this button isn't even provided by Fabric. The product team has to add it, so you should be investigating and addressing your own behavior that makes sense for your scenario.

[2018-07-06 17:29] #5467 closed

[2018-07-06 17:30] dzearing commented on #5463
Gross. @joschect this is an antipattern. Could you please fix?

[2018-07-06 17:34] micahgodbolt commented on #5460
5.x and 6.x are very different in the way they handle items on the commandbar. If this issue persists in 6.0 I can take a look at how better to support this screen reader scenario.

[2018-07-06 17:34] #5460 closed

[2018-07-06 18:08] Jahnp opened #5469 "Document the Fabric Icons tool and usage"
We released the Fabric Icons tool a few months ago to allow users to create and manage their own custom icon subsets, like the one checked in to the @uifabric/icons package. However, it's not documented anywhere, making it hard to discover and understand how it should be used.

Here are some of the places it should be documented:
- Wiki: https://github.com/OfficeDev/office-ui-fabric-react/wiki/Usi

[2018-07-06 18:52] joschect commented on #5463
Yeah I'll take a look.

[2018-07-06 19:04] #4933 closed

[2018-07-06 20:55] chrismohr opened #5473 "Dropdown with placeholder - first option automatically selected on focus."
### Bug Report

- __Package version(s)__:  > 6.25.1
- __Browser and OS versions__: Chrome 67.0.3396.99, OSX 10.12.6

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: Yammer

#### Describe the issue:

Starting in 6.25.1, the behavior of a Dropdown with a placeholder has changed. Previously clicking to open it would

[2018-07-06 21:19] Platzer commented on #4793
@manasark as a workaround i put `onShouldVirtualize={() => false}` on my DetailsList as mentioned in #4204.

[2018-07-06 22:51] JGibson2019 opened #5476 "ListOverview (Documentation for List Component) needs updating"
**Describe the feature that you would like added**
I want the List Overview to describe how to format items when passing to IListProps when you opt not to use onRenderCell. All current examples use onRenderCell despite this being an optional member of the props; no examples feature a List created using just required props members.

**What component or utility would this be added to**
List
**Have y

[2018-07-06 22:52] #4762 closed

[2018-07-06 23:35] jordandrako opened #5477 "Searchbox background is only on the input"
### Bug Report

- __Package version(s)__: 6.27
- __Browser and OS versions__: n/a

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: Hedwig

#### Describe the issue:

The SearchBox background color is only applied to the input, not the whole box. This is ugly if the searchbox has a background other than white.

###

[2018-07-07 00:49] #3735 closed

[2018-07-07 03:11] aboe026 opened #5479 "New Component: Toast"
**Describe the feature that you would like added**
A toast notification component. For example: When a new resource is added into the system (either by the user or someone else on the system) alert the user that a new resource has been added. Should just pop up in the top right with an option to dismiss

**What component or utility would this be added to**
This would be a new component

**Have you

[2018-07-07 20:58] dzearing opened #5480 "Theming: implement named settings in customizer, update styled/createComponent to reference named customizations"
In a single "light" theme, you might have a dark header and a grey nav area. You might also have TeachingBubbles which turn the background `themePrimary` colored.

To make things more interested, in the `themePrimary` colored scenario, specific components take on specific overrides that might go beyond colors. DefaultButtons for example become outlined.

Customizer currently gives us a lot of flex

[2018-07-07 21:03] dzearing commented on #5480
@phkuo would like to discuss this. Basically I want to enable your scenario without you having to wrap individual parts of the app in customizers.

[2018-07-07 21:44] #4457 closed

[2018-07-08 07:08] #3716 closed

[2018-07-08 15:07] davidhenley commented on #4793
Same issue here.  onShouldVirtualize={() => false} fixes it.

[2018-07-08 19:08] #3823 closed

[2018-07-08 20:08] #4653 closed

[2018-07-09 03:16] YusongLiu commented on #5308
Hi @atneik , do we have any update on this issue?

[2018-07-09 05:57] Hardhik opened #5481 "Dialog[Accessibility]: Required ARIA Attribute "aria-level" not present"
https://developer.microsoft.com/en-us/fabric#/components/dialog

Click on the open dialog. If you run any Accessibility tools, we can see the error:
"Required ARIA attribute not present: aria-level"

This is error is coming for the dialog's title
![image](https://user-images.githubusercontent.com/2673006/42432990-f333a51a-836a-11e8-82c7-2a59690a85a2.png)

For the element with role as heading, sett

[2018-07-09 06:39] mdmdakbar opened #5482 "Dropdown not showing tooltip on hover"
- __Package version(s)__: 5.112.1003
- __Browser and OS versions__: Chrome, Edge (I tried only on this)

Requested priority: High, blocking TFS 2018 U3 tenet signoff

Products/sites affected: (if applicable) VSTS

#### Describe the issue:

Dropdown title and dropdown options are not showing tooltip on hover when content is overflowing.
![image](https://user-images.githubusercontent.com/19491487/42

[2018-07-09 09:10] joerneu commented on #5389
The same issue was reported on Microsoft's forum:

[Office UI Fabric React DetailsList CheckBox](https://social.msdn.microsoft.com/Forums/office/en-US/92a5a274-f4f4-48ce-a305-b00b272f0d05/office-ui-fabric-react-detailslist-checkbox?forum=appsforoffice)

I also tried:

[code]

See: [https://codepen.io/anon/pen/djbpxZ](https://codepen.io/anon/pen/djbpxZ)

This also isn't working.

Actually, it shows

[2018-07-09 09:17] joerneu opened #5484 "DetailsList: SelectionMode.single doesn't work correctly when using groups"
**Bug Report**

Package version(s): 6.23.0
Browser and OS versions: All

**Priorities and help requested:**

Are you willing to submit a PR to fix? (No)

**Requested priority:** High

**Describe the issue:**

The groups of a details list do not respect SelectionMode of the list or SelectionMode of the headerProps.

**Actual behavior:**

Clicking on the group header causes the whole group to be sel

[2018-07-09 09:22] nikhilexe opened #5485 "Link outline through keyboard clipping text"
When we moving focus through keyboard on link, the text is getting clipped little bit, see the below screenshot

**With release 6.27.0**

![image](https://user-images.githubusercontent.com/25940082/42442088-6459f3b8-8387-11e8-906c-c01148573fbb.png)

**With release 5.39.1**

![image](https://user-images.githubusercontent.com/25940082/42442147-8cf59688-8387-11e8-8fd7-c27448264c95.png)

CodePen Link:

[2018-07-09 11:33] aslanovsergey commented on #3055
Same here. Please increase priority some of my core features relies on this component

[2018-07-09 15:08] aslanovsergey opened #5487 "DetailsList onRenderItemColumn"
### Bug Report

- __Package version(s)__: (5.83.0)
- __Browser and OS versions__: (Google Chrome Version 67.0.3396.99, Windows 10)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (No)

Requested priority: (Normal)

Products/sites affected: (some of developing solutions)

#### Describe the issue:

Event onRenderItemColumn fires on scrolls and on screen size changes

###

[2018-07-09 15:40] betrue-final-final commented on #5425
Would you like me to reiterate that I no longer repro the issue? It would make sense to leave the thread as a fully transparent process...I did repro the bug, but later on I tried it and it didn't repro after you commented.

For clarity I'll add this
**I no longer repro this bug**

[2018-07-09 15:44] JasonGore commented on #5425
The issue here is that the reported issue is specifically regarding `CAPS + Enter`, but your successive comments have expanded scope beyond what was reported, and then you made a blanket statement that the issue no longer occurs.

The CAPS + Enter issue still occurs. It is not right to say it no longer occurs.

Any other behavior you see should be reported in another issue.

This is all to minimiz

[2018-07-09 15:57] betrue-final-final commented on #5425
Apologies, Jason is correct. I incorrectly said that the bug no longer repros, but actually it does, just not in Edge, which would have been a separate bug. To add further detail:

**This bug repros in IE11**. Both CAPS + Enter AND Space cause Narrator to say the state change, but the visual does not switch.

[2018-07-09 16:13] dzearing commented on #5481
hmm @cschlechty `aria-label="1"` seems like the wrong fix... I'm a bit confused here. The markup in question:

[code]

What should be done here? We could pipe `title` into `aria-label`, or we could expose `titleAriaLabel` but it's not obvious about why this should exist, if the element content is sufficient.

[2018-07-09 16:29] JasonGore commented on #5481
According to [ARIA `heading` role guidelines](https://www.w3.org/TR/wai-aria-1.1/#heading), roles of type `heading` that have `logical outline` require `aria-level`. I haven't found a clear definition for `logical outline` so my best guess here is that it's caused by `heading` being a child of `dialog`.

In any case, [ARIA defines `aria-level`](https://www.w3.org/TR/wai-aria-1.1/#aria-level) as a

[2018-07-09 16:39] cschlechty commented on #5481
There should be an aria-level for anything with role="heading". Since it's in page, and not iframed, it should at best be level 2.

[2018-07-09 17:55] dzearing commented on #5410
This one is low hanging fruit that Teams needs fixed.

[2018-07-09 18:12] atneik commented on #5308
Looks like this bug was mis-assigned to me. @leddie24 @mikewheaton do you own or have context about this component?

[2018-07-09 18:52] wongJonathan commented on #5165
@oengusmacinog Hey sorry for the late reply, but thank you so much for the fix! I honestly thought I was missing something small, but I guess I'm not crazy after all. Thanks again!

[2018-07-09 18:59] peterdur-msft commented on #4814
Still tracking as issue 1255589 in mseng.

[2018-07-09 22:15] phkuo commented on #5480
You have a comment that says `default` is the "name of the set" but in `<Customizer...>` you say `set={LightThemeCustomizations}`.

If the goal is to just remove the `<Customizer>`s everywhere, then can we not just mimic what resourceScope does?
`
// somewhere in setup code
Customizations.applySettings({ 'headerEmphasisTheme': emphasisTheme });
...
// somewhere in a component
const themeToUse = Cu

[2018-07-09 22:18] phkuo commented on #5480
Regarding theming customizations and TeachingBubble stuff, that is a separate discussion. Suffice to say, all such customizations should be encapsulated in the variants project. i.e. All a teaching bubble should do is pass in `getStrongVariant(theme)` instead of just `theme`.

[2018-07-09 23:13] suztocco opened #5494 "Split button Accessibility"
### Bug Report

- __Package version(s)__: Current
- __Browser and OS versions__: Not sure

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: OWA

#### Describe the issue:

**We did an accessibility review recently for Calendar and this issue came up:**

Unexpected behaviour for th

[2018-07-09 23:42] #5477 closed

[2018-07-10 04:05] MirandaGe commented on #3860
@michaelangotti This issue still exists on Fabric. It's worse when it comes to a11y - the `no result found` is set as alert, which makes users feel like people picker always return nothing. cc: @joschect @lijunle

[2018-07-10 05:49] newtonsheikh opened #5498 "Border in commandbar menu items"
### Bug Report

- __Package version(s)__: ^5.29.1
- __Browser and OS versions__: Chrome/Firefox, windows

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: (if applicable)

#### Describe the issue:

There is a border in the Commandbar button, but it doesnt show up always. In the first screenshot you see there is no

[2018-07-10 06:26] AkshanshSrivastava03 opened #5499 "High Contrast: Keyboard focus is not clearly visible for the buttons in the "Calendar"."
### Bug Report

- __Package version(s)__: 5.112.1003
- __Browser and OS versions__: Edge with HC Black and White

Products/sites affected: VSTS

#### Describe the issue:

While navigating the buttons/days/months etc in the Calendar, keyboard focus should be clearly visible on them with a distinguishable border.

### If applicable, please provide a codepen repro:
 The issue is there on official off

[2018-07-10 08:26] niadak opened #5500 "details list is setting aria-colindex properties starting from 0 instead of 1"
### Bug Report

- __Package version(s)__: 5.112.0
- __Browser and OS versions__: All Browser, Windows 10

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: VSTS

#### Describe the issue:
details list is setting aria-rowindex, and aria-colindex properties starting from 0 instead of 1.
As

[2018-07-10 09:38] aslanovsergey opened #5501 "ComboBox Autofill empty string values"
### Bug Report

- __Package version(s)__: (5.83.0)
- __Browser and OS versions__: (Google Chrome Version 67.0.3396.99, Windows 10)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (No)

Requested priority: (High)

Products/sites affected: (App in enterprise)

#### Describe the issue:

When I use ComboBox in a table as cells and I have several items in this table and som

[2018-07-10 16:05] #5300 closed

[2018-07-10 17:32] leddie24 opened #5505 "Coachmarks render function is missing key prop in array"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

Error in render function of Coachmark

![image](https://user-images.githubusercont

[2018-07-10 18:02] #3472 closed

[2018-07-10 20:02] #4545 closed

[2018-07-10 20:02] #4532 closed

[2018-07-10 23:14] ejlayne opened #5510 "Teaching Bubble animation exposes scrollbars"
### Bug Report

- __Package version(s)__: Browser
- __Browser and OS versions__: Both Chrome and Edge, Windows 10 16299.19

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: (if applicable)

#### Describe the issue:

When I go to https://developer.microsoft.com/en-us/fabric#/components/teachingbubble, and I click on

[2018-07-11 06:38] dzearing commented on #5487
Sounds like a perf improvement opportunity. @ThomasMichon @aditima

[2018-07-11 06:53] basovic88 opened #5516 "DatePicker's Calendar dropdown does not close when (re-)clicking on input field"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: Firefox 61.0

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

#### Describe the issue:

When clicking on the DatePicker's input box a dropdown with a Calendar appears. It does not disappear when re-clicking the DatePicker's input box.

#### Expected behavior:

[2018-07-11 06:57] basovic88 commented on #5516
I close the issue. After re-scanning the documentation I found the option: `allowTextInput={true}` which solves the problem.

[2018-07-11 06:57] #5516 closed

[2018-07-11 07:44] newtonsheikh commented on #5498
will create this on codepen, but please note the border doesnt show up always! i refresh the page and the border is gone, refresh again and the border is back.

[2018-07-11 13:26] kevinbargary opened #5518 "TextField clearing value and validating on submit of containing form"
### Bug Report

- __Package version(s)__: 6.2.0 (can repro with  6.32.0 also)
- __Browser and OS versions__: Chrome 67.0.3396.99

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: N/A

#### Describe the issue:

When using the `TextField` component in a form, I'm noticing a new (didn't notice this two days ago) issue

[2018-07-11 18:11] joerneu opened #5520 "ComboBox with numeric key zero does not work"
### Bug Report

- __Package version(s)__: 6.23.0

#### Priorities and help requested:

Are you willing to submit a PR to fix? (No)

Requested priority: (High)

#### Describe the issue:

The ComboBox is not usable with items with an numeric key of zero.

#### Actual behavior:

ComboBox is blank when `selectedKey={0}`.

#### Expected behavior:

A ComboBox with an entry with numeric key 0 should disp

[2018-07-11 18:22] dagoltz opened #5521 "Persona with coinSize over 100 doesn't change initials size and alignment"
### Bug Report

- __Package version(s)__: 6.22.0
- __Browser and OS versions__: Chrome 67 on MacOS X

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: High

Products/sites affected: Microsoft Cloud App Security and Azure Advanced Threat Protection

#### Describe the issue:

Using Persona component with a custom coin size (we need 150px) and initi

[2018-07-11 19:20] betrue-final-final opened #5522 "Breadcrumb last node should not be clickable"
The last node of a breadcrumb is the location you are in, and should not be clickable.
When you are in the root of a library or OneDrive this causes that to register as an extra clickable element, causing issues with keyboarding and screenreader navigation.

[2018-07-11 21:43] #5076 closed

[2018-07-11 22:12] jordandrako opened #5525 "Refactor getFocusStyle() arguments into a options object."
**Describe the feature that you would like added**

The function `getFocusStyle()` now has 7 arguments/options.
https://github.com/OfficeDev/office-ui-fabric-react/blob/8afb6dcede9f9056357ce1d23e06197f458730c3/packages/styling/src/styles/getFocusStyle.ts#L20-L28
In order to change the last option, you need to put a lot of `undefined`s in, which starts turning into really ugly and hard to read code

[2018-07-11 22:45] micahgodbolt opened #5526 "ContextualMenuClassNames prop isn't currently supported. Add support in deprecated state."
getClassNames function should be replaced with ContextualMenuCLassNames when it's provided to allow backwards compatibility with original interface.

[2018-07-11 22:50] micahgodbolt opened #5527 "onRenderMenu in Button is doesn't get proper props to work, should be menuAs instead"
This bug is blocking WAC

[2018-07-11 23:02] JasonGore opened #5528 "InterfaceParserHelper Infinite Loop on Certain Patterns"
### Bug Report

- __Package version(s)__: @uifabric/example-app-base 6.2.1
- __Browser and OS versions__: Chrome, Windows 10

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: apps/fabric-website-resources

#### Describe the issue:

InterfaceParserHelper can loop forever when certain p

[2018-07-11 23:41] #5526 closed

[2018-07-12 08:27] Nimelrian opened #5534 "Styling utilities are, contrary to the docs, not utilizing memoization, leading to unnecessary style recomputations"
### Bug Report

- __Package version(s)__: 6.22.0

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

#### Describe the issue:

A lot of the styling utilities of Fabric are designed to minimize (or avoid) unnecessary recomputations. For example, `getClassNames` is ([according to the docs](https://github.com/OfficeDev/office-ui-fabric-react/wi

[2018-07-12 13:05] akashperfect opened #5537 "DetailsList: Adding more elements to list takes you to the top of the list again"
### Bug Report

- __Package version(s)__: 6.33.1 (Latest)
- __Browser and OS versions__: Any (Chrome, Windows 10)

#### Priorities and help requested:

Are you willing to submit a PR to fix? Not Yet

Requested priority: Blocking

Products/sites affected: VSTS

#### Describe the issue:

In case of DetailsList when we have more items in the list.

- Scroll down till the last element in list.
- When

[2018-07-12 14:12] jlubben opened #5539 "MaskedTextField should allow the mask to change on the fly."
Inside of MaskedInput, we have the _onInputChanged method. Let's say we have an arbitrary mask "99999" and the current input string is "12345". in the case that the beginning of the string is exactly "1234" I want to allow the mask to change to also allow alphebtical letters on the 5th character to yield something like "1234A". However, after _onInputChange calls my input change via this.props.onC

[2018-07-12 15:05] #5527 closed

[2018-07-12 15:40] LarsLiden commented on #3423
Thanks @dagoff.  Any progress on getting the PR accepted?

[2018-07-12 16:10] craftytrickster opened #5540 "Separate Minified js and css into two separate files"
Currently, in the office-ui-fabric-react.js bundled files, there seems to be a lot of embedded css, bloating the file size.

CSS and JavaScript files are different concerns, so it seems like they should be in different files. By combining them, you reduce the flexibility the end users have with their build process. If the end user of this library wants to have the files combined into a single entr

[2018-07-12 17:50] caradong commented on #3835
@betrue-final-final is there any update on this issue?

[2018-07-12 17:58] dzearing opened #5541 "Tooltip: refactor to minimize bundle impact and use consistently."
Currently, the custom Tooltip ends up being quite heavy on the page. Just using it pulls in Layer, positioning, Callout, etc. and adds a number of individual mouseover/out events to manage each individual scenario. It also add an element to host those events.

I'd like Tooltip to use the same pattern we used for managing Keytips. I'd like a way to annotate elements with tooltip data, and then lazy

[2018-07-12 18:52] arunarokk commented on #4869
verified in latest version this issue not repro.

[2018-07-12 18:58] dzearing commented on #5540
Thanks for the suggestion.

Are you using webpack? The current approach we have with css means:

You import { Spinner } from 'office-ui-fabric-react/lib/Spinner';

Only the spinner code and css will be in your bundle. The Toggle css will not be downloaded.

Using the pre-bundled files is possible, but not recommended. You aren't using every component in the library, likely, so why download everyth

[2018-07-12 19:00] dzearing commented on #5539
@lambertwang Fyi

[2018-07-12 19:34] d-khoury commented on #4169
@oengusmacinog Is there a way I can get automatically notified when the issue is resolved?

[2018-07-12 19:39] craftytrickster commented on #5540
I should have clarified. Yes, I am using webpack 3.x to bundle my project, and I am using fabric in the way you mentioned.

In the Spinner case, I would not expect to see any css in the file, it seems like it should be separated into a different css file. However, when I check my final webpack bundle, the fabric related css is added directly in the JS file, and I do not seem to have any control ov

[2018-07-12 20:30] micahgodbolt opened #5544 "Ship Chiclet component"
## Component Details

#### Exports
Chiclet/base
ChicletCard/base
OpenGraph

#### Intended Package
OUFR

#### Code mockup/example
[code]
#### Design Assets

#### Component Ownership

#### Deadlines

## Steps
- [X] Initial code in experiments
- [X] Example usage
- [ ] Investigate use cases (integrate) (what about mobile vs pc)
- [ ] Documentation
- [ ] Tests
- [ ] Visual tests
- [ ] Integrated into

[2018-07-12 21:19] BrandoIsNotASword opened #5546 "[Question] Passing a non Interface props to DatePicker strings?"
I'm not using TypeScript in my project. So is there a way to implement the DatePicker strings prop without using the TypeScript interface?

[2018-07-12 21:32] micahgodbolt commented on #5522
If you don't provide a URL it won't be clickable. Is this just a OneDrive concern?

[2018-07-12 21:33] #5522 closed

[2018-07-12 21:35] micahgodbolt commented on #5521
![image](https://user-images.githubusercontent.com/1434956/42660658-b88e219c-85e0-11e8-8ac6-d943d2b497e8.png)

[2018-07-12 21:36] micahgodbolt commented on #5521
Hey @Markionium can you take a quick look at this? If this is a regression lets make sure to add some visual tests.

[2018-07-12 21:40] dzearing commented on #5534
We'll update the docs. There is some re-computation currently. We started memoizing, but found significant issues with mutable objects/array comparison.s

[2018-07-12 21:44] micahgodbolt commented on #5520
we need to cast the number as a string internally
`key: string | number;`

need to update tests with a failing test (pass in 0), then fix it.

[2018-07-12 21:45] dzearing commented on #5520
This definitely is a bug, but you can work around it by providing a string key.

[2018-07-12 22:29] cliffkoh commented on #5528
@micahgodbolt Is there a way to tag low priority bugs?

[2018-07-12 22:36] cliffkoh commented on #5482
@mdmdakbar In this specific scenario, since the width of each item is the same (or so it looks like), would setting a fixed width on the dropdown/callout be viable (thereby avoiding the overflow) as a mitigation?

[2018-07-12 22:49] dzearing commented on #5118
I tried reproing but couldn't. (Win10, ie11)... https://codepen.io/dzearing/pen/WovrbX

[2018-07-12 22:52] JasonGore commented on #5528
I don't agree on low prioritization. We may never check in code like this, but it's very likely to happen in the course of development and affect people. I lost half a day to this issue thinking it was related to my code.

[2018-07-12 22:55] micahgodbolt commented on #5528
certainly isn't a pri0, so question is pri1 or pri2? I'd probably err on saying pri2 as it's not blocking anything (as annoying as it might be). Do we know the level of effort here?

[2018-07-12 22:59] JasonGore commented on #5528
Lower priority for sure. I tried fixing myself but didn't see an easy fix. It's possible someone who knows the code could fix it pretty easily.

[2018-07-12 23:07] cliffkoh commented on #5528
Given that this requires a very specific sequence, and has low occurrence (e.g. Micah, have you ever hit this before?), and will never be checked in, and doesn't affect production website, or affect any consumers of Fabric, it will be the very last bug I look at in my pile of bugs.

Hence low priority.

Do you disagree with this rationalization Micah? (e.g. should I look at this with equal priorit

[2018-07-12 23:16] leddie24 opened #5547 "ScrollablePane DetailsList Example doesn't work with Sticky Footer"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

#### Actual behavior:

Sticky footers aren't cooperating with DetailsList since th

[2018-07-12 23:30] JasonGore commented on #5528
The only concern I have is that the pattern is less specific than my example implies and the root cause is not obvious at all. People would not know to search issues for infinite loop, but maybe we can add keywords like "out of memory exception" and "hanging web browser" that will help them find this issue. Otherwise I agree for now that if nobody else has reported this issue we can assume it has

[2018-07-13 00:03] JasonGore commented on #5518
This regression appears to have been introduced by #5349.

[2018-07-13 00:13] dzearing commented on #5118
IE11 contextual menu just seems buggy. When I hover over things after expanding a submenu it really wants to dismiss. Not repro'd on Chrome.

[2018-07-13 00:14] dzearing commented on #5118
@joschect Are you ok with just removing the setActive? It clearly throws exceptions constantly in IE11.

We could avoid the focus call in IE11 if it's having issues.

[2018-07-13 05:41] evantrimboli opened #5550 "MessageBar onDismiss function not called"
### Bug Report

- __Package version(s)__: 6.33.1
- __Browser and OS versions__: N/A

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Low

Products/sites affected: N/A

#### Describe the issue:

The `onDismiss` function provided to `MessageBar` is never called

#### Actual behavior:

The function is not called.

#### Expected behavior:

The functi

[2018-07-13 05:49] evantrimboli commented on #5550
Bug on my end, apologies.

[2018-07-13 05:49] #5550 closed

[2018-07-13 06:55] #5370 closed

[2018-07-13 10:48] cschleiden opened #5551 "List re-renders all pages on every scroll"
See this gif, the already rendered pages should not be re-rendered when I scroll.. sometimes they are even re-rendered twice:

![details-list](https://user-images.githubusercontent.com/2201819/42688020-fe849fcc-869a-11e8-914d-d55c990958fc.gif)

[code]

[2018-07-13 14:42] #5518 closed

[2018-07-13 17:38] dzearing commented on #5551
something definitely is borked
https://codepen.io/dzearing/pen/ejpVJQ

[2018-07-13 17:42] nickdurak opened #5554 "Support auto dismiss open coachmark on click outside"
**Describe the feature that you would like added**
Currently coachmark will remain open when user clicks elsewhere on page. The desired behavior is to close the coachmark when user clicks elsewhere. This behavior already exists for the TeachingBubble, so request is for same behavior in coachmark

**What component or utility would this be added to**
Coachmark

**Have you discussed this feature with

[2018-07-13 17:46] dzearing commented on #5551
@lambertwang I see this added in List:

[code]

This forces a re-render when scrolling stops.

[2018-07-13 17:53] Markionium commented on #5521
Yep I'll have a look over the weekend. Not sure if it is a regression (did we used to support custom sizes?) afaik the largest coin I've seen so far is 100.

[2018-07-13 17:58] micahgodbolt opened #5557 "Refactor: List"
Scrollto behavior needs work
https://codepen.io/dzearing/pen/ejpVJQ

fix #5551

[2018-07-13 20:21] dagoltz commented on #5521
This issue is also relevant for sizes lower than 100 that are custom.
For example: when coinSize is set to 60, you can't adjust the initials to fit - it's either 48 that is too small or 72 that is too big.

![image](https://user-images.githubusercontent.com/5446526/42712229-72489bfe-86f3-11e8-9f18-166752c457c8.png)

[2018-07-13 20:33] phkuo commented on #4955
@JasonGore I think the correct fix is: `expect(component.getDOMNode()).toMatchSnapshot();`
Similar to the question I asked in the Fabric channel earlier this week regarding DetailsList testing. Kind of drowning in PRs at the moment though, can get around to this next week or if someone on your team could, that'd be great too.

[2018-07-13 21:17] sunny-lan commented on #4925
@JasonGore could you put the example CodePen in a more permanent location? The link seems to go to the wrong code.

Thanks!

[2018-07-13 22:20] joechung-msft opened #5562 "DetailsList does not load in AMD"
### Bug Report

- __Package version(s)__: 6.35.0
- __Browser and OS versions__:

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) Blocking

Products/sites affected: (if applicable) Microsoft Flow, Azure Logic Apps

#### Describe the issue:

DetailsList does not load when loaded as an AMD module with require.

[2018-07-13 23:15] #4610 closed

[2018-07-14 00:15] #3908 closed

[2018-07-14 00:15] #3529 closed

[2018-07-14 00:15] #4014 closed

[2018-07-14 00:15] #4048 closed

[2018-07-14 00:15] #4049 closed

[2018-07-14 01:15] #3300 closed

[2018-07-14 02:47] #5546 closed

[2018-07-14 11:17] Markionium commented on #5521
@dagoltz It seems the current Persona component does not support rendering custom sizes outside of the supported ones. You can however provide a custom render function for the initials where you can size them the way you want.

See the following codepen that is a modification of yours.
https://codepen.io/mpolak/pen/qyOGZe?editors=0010

That said I do think the fact that you can provide a custom co

[2018-07-14 13:41] dagoltz commented on #5521
@Markionium thanks for the reply!
It seems that Persona doesn't support custom sizes at all so I don't really understand why it accepts coinSize.

Your approach will send me re-implementing Persona myself as now I see both the initials and the "showUnknownPersonaCoin" are broken when using coinSize:

![image](https://user-images.githubusercontent.com/5446526/42724959-9c065a26-8784-11e8-9bb6-25b50d

[2018-07-14 13:50] Markionium commented on #5521
Yep, i'm not saying you should do that, i provided that as a temporary fix as your put the urgency as high ;) You could use this if you need a temporary alternative and can't wait for a proper fix :)

I forgot to put the size override on `return <Icon iconName="Help" />;` in the snippet, if you do that the unknown persona will work.

I agree it's weird that it takes any arbitrary number as the coi

[2018-07-14 22:30] #2707 closed

[2018-07-15 03:40] joechung-msft opened #5573 "Coachmark does not load in AMD"
### Bug Report

- __Package version(s)__: 6.35.0
- __Browser and OS versions__:

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable)

#### Describe the issue:

Coachmark does not load when loaded as an AMD module with require.js.

The FocusTrapZone import in Coac

[2018-07-15 04:01] kenotron opened #5574 "Potential GroupedList Bug"
Just filing a bug to address after the GroupedList PR is merged.

[code]

## From the PR comment of #5555
@dzearing
dzearing 11 hours ago  Member
This one is nasty. I know you're just repeating the logic, so it's ok for the moment, but I think there's a bug here.

getGlobalClassNames will look at theme to identify if the theme doesn't want global class names. If it doesn't, then the value will be

[2018-07-15 04:01] #5409 closed

[2018-07-15 04:28] joechung-msft opened #5575 "ChoiceGroup does not load in AMD"
### Bug Report

- __Package version(s)__: 6.35.0
- __Browser and OS versions__:

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable)

#### Describe the issue:

ChoiceGroup does not load when loaded as an AMD module with require.js.

The ChoiceGroupOption import i

[2018-07-15 05:35] joechung-msft opened #5576 "SelectedItemsList does not load in AMD"
### Bug Report

- __Package version(s)__: 6.35.0
- __Browser and OS versions__:

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable)

#### Describe the issue:

SelectedItemsList does not load when loaded as an AMD module with require.js.

The ExtendedPicker impor

[2018-07-15 07:30] #4630 closed

[2018-07-15 08:30] #4388 closed

[2018-07-16 04:44] micahgodbolt commented on #3401
@zzchua can you confirm that this is still an issue?

[2018-07-16 04:55] micahgodbolt commented on #5443
This is by design as it is includeing the header.

https://github.com/OfficeDev/office-ui-fabric-react/issues/3067

[2018-07-16 04:55] #5443 closed

[2018-07-16 05:10] micahgodbolt commented on #4944
What version of Fabric are you using, and can you provide a reporable example? I don't see any issue with our current release.

[2018-07-16 05:29] micahgodbolt commented on #5162
@v-neetsi from looking at the markup, any idea why narrator isn't picking up the required value? The label has the proper 'for' connected to the dropdown, and the dropdown div has the 'required' value on it.

https://codepen.io/micahgodbolt/pen/GBoXxb

Is it an issue of required not working properly on a div? Thoughts on how this can be resolved? Happy to make the code change if you know what chan

[2018-07-16 08:44] Nimelrian opened #5577 "Styling of Nav's links does not work for pseudoclass states"
### Bug Report

- __Package version(s)__: 6.22.0

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal, though this may become high/blocking soon for product, since we're in the last design finalization phase.

#### Describe the issue:

I try to style a Nav element in our app, including the :hover/:active states of the links. Right now, I'm try

[2018-07-16 10:24] paraggangil opened #5578 "DetailsList with JAWS: reads incorrect row number and column number"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: Chrome with JAWS screen reader

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: (if applicable)

#### Describe the issue: When using JAWS screen reader on Chrome browser, the screen reader reads out "row 65535, column 65535" w

[2018-07-16 12:13] arunnagar15 commented on #4869
Issue not reproing in latest version , so closing this issue

[2018-07-16 12:13] #4869 closed

[2018-07-16 13:02] harshdamaniahd opened #5579 "How to change IconButton Size"
I tried this, but it doesnt work
[code]

[2018-07-16 16:16] micahgodbolt commented on #5579
You can use the styles prop and pass in a fontSize for the icon

https://codepen.io/micahgodbolt/pen/BPKzYP

[2018-07-16 16:16] #5579 closed

[2018-07-16 16:58] micahgodbolt commented on #5577
I'm hoping there is a better, more permanent solution, but you can accomplish this via classnames if necessary

https://codepen.io/micahgodbolt/pen/jpqMGb?editors=1010

[2018-07-16 17:57] micahgodbolt commented on #5041
For the time being, Forms is going to stay in experiments. We have some more ambitious goals for forms and feel that graduating this into Fabric will make those goals more difficult. You are free to continue to use the one in experiments or fork this code and keep a copy for yourself. We won't be doing any further work on this version of the Forms component.

[2018-07-16 17:57] #5041 closed

[2018-07-16 17:59] micahgodbolt opened #5582 "☂ Feedback on Form component or approach"
## Component Details

### Imports

### Exports/ Component Breakdown

### Intended Package

### Code mockup/example

__Code Sample__

[code]

__Types__

| Name      | Type     | Default Value | Description |
|-----------|----------|---------------|-------------|
| className | string   |               | Optional class name to be added to the root |

## Todos

- [ ] Consider adding inline list mode t

[2018-07-16 18:00] micahgodbolt commented on #5041
The progress of the new form component can be tacked here

https://github.com/OfficeDev/office-ui-fabric-react/issues/5582

[2018-07-16 18:32] #5547 closed

[2018-07-16 18:45] #4736 closed

[2018-07-16 18:45] #4076 closed

[2018-07-16 20:58] arunarokk commented on #4944
@micahgodbolt , this bug is repro on the version 5.110, its resolved in current version.

[2018-07-16 21:27] nickdurak opened #5585 "Usage of Object.assign in PositioningContainer.styles.ts breaks Internet Explorer support"
### Bug Report

- __Package version(s)__: 5.112.0
- __Browser and OS versions__: Internet Explorer, Windows 10

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)
 Yes

Requested priority: (Blocking, High, Normal, Low)
 Normal

Products/sites affected: (if applicable)
Usage of Coachmarks in I.E can break the currently loaded page

#### Describe the issue:

The Co

[2018-07-16 21:50] nickdurak commented on #5585
Seems we need to [polyfill](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign#Polyfill) this

[2018-07-16 21:52] joschect commented on #5463
This is definitely a bug that we should get fixed.

[2018-07-16 22:27] micahgodbolt opened #5587 "Fix Autodeploy Links"
- [ ] Migrate Azure Functions (or use the PR from forked repo)
- [ ] rip out the deploy-github-status task to custom task
- [ ] update release / build jobs to use the new task

[2018-07-16 22:35] kenotron opened #5588 "Auto deploy fabric website"
Create VSTS tasks to fabric website deployment automatically from builds.

[2018-07-16 23:10] micahgodbolt commented on #4944
So the problem is that this fix needs to be backported to 5.x.

What version of Fabric are you using? Are you able to upgrade to 6.x? If not, would you be able to create a PR to backport the changes to 5.x? I'd be happy to review/approve the PR.

[2018-07-16 23:45] #3945 closed

[2018-07-17 00:15] dzearing commented on #5576
fixing

[2018-07-17 00:16] dzearing commented on #5575
fixing.

[2018-07-17 00:17] dzearing commented on #5573
fixing.

[2018-07-17 00:19] dzearing commented on #5562
fixing.

[2018-07-17 00:32] dzearing commented on #5540
@craftytrickster Just curious, what exactly is your use case? I'd like to better understand what you are trying to do before we figure out what the best solution is.

Thank you for your patience. :)

[2018-07-17 00:35] #5585 closed

[2018-07-17 00:39] #5463 closed

[2018-07-17 01:11] craftytrickster commented on #5540
@dzearing our bundle size is a bit big, and a decently large portion of it is due to fabric components. To be fair, fabric does a lot of the work for us, so the fact there is a lot of code implementing it is not surprising.

Nevertheless, I was trying to experiment with ways to speed up our application startup and one possibility is to separate the css / js into different files, since browsers may

[2018-07-17 01:18] melvsparks opened #5595 "Combobox is stealing focus when shifting focus to a different element"
### Bug Report

- __Package version(s)__: 6.18.0
- __Browser and OS versions__: All

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Blocking

Products/sites affected: Outlook React Calendar

#### Describe the issue:

The combobox component is stealing focus when selecting a different element.
In the codepen ex

[2018-07-17 02:32] jiehu567 opened #5597 "react-scripts missing after install office-fabric"
### Bug Report

- __Package version(s)__: office-ui-fabric-react@6.36.0
- __Browser and OS versions__: Chrome, windows 10

#### Priorities and help requested:

Are you willing to submit a PR to fix? (No)

Requested priority: (High)

Products/sites affected: (if applicable)

#### Describe the issue:

follow the tutorial https://github.com/OfficeDev/office-ui-fabric-react/wiki/Sample-App
after insta

[2018-07-17 04:29] arunarokk commented on #4944
we will be upgrading to 6.x very soon.

[2018-07-17 05:12] #4944 closed

[2018-07-17 09:46] lafe opened #5598 "npm install fails during tests with "Enzyme Internal Error: configured enzyme adapter did not inherit from the En zymeAdapter base class""
### Bug Report

- __Package version(s)__: Commit 9370bcefb7252c96258825f97b7b9c9cd0d5c741
- __Browser and OS versions__: Windows 10 Enterprise (1803), npm Version 5.6.0, node 8.11.1

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)
No, as I do not know where to start ;)

Requested priority: (Blocking, High, Normal, Low)
High

Products/sites affected: (if applic

[2018-07-17 15:17] dagoltz opened #5601 "Show initials / icon before image is loaded in Persona"
Sometimes it takes time for an image to load. We should display the user initials/user icon until the user image is loaded.
This exact behavior is in place in OWA.

This will be added to PersonaCoin
This was discussed with @micahgodbolt

Original issue:
https://stackoverflow.com/questions/51351192/is-it-possible-to-have-initials-show-before-image-loads

[2018-07-17 15:36] micahgodbolt commented on #5601
My initial thought was a Boolean to turn this behavior on. Something like

showInitialsUntilImageLoads

I'm guess we wouldn't want this behavior on by default as it might conflict with some of the image loading options, and would add a flash of rerendering in situations where its not necessary.

[2018-07-17 15:43] dagoltz commented on #5601
@micahgodbolt  sounds good, should this work when using imageShouldStartVisible?
It seems that you can only set one of them.

[2018-07-17 15:50] micahgodbolt commented on #5601
I'd have to really dig in to answer that 100%, but it seems there will be some mutually exclusive features. It might make sense to combine them all together (if you pass in all 3 mutually exclusive props, which one wins?). If you find there are 3 related, exclusive image treatment options, take a look at creating a single prop and deprecating the old ones.

[2018-07-17 16:11] Rainson12 opened #5602 "Command Bar Item no text visible"
### Bug Report
 I used `yo @microsoft/sharepoint` to create my project including fabric ui react components

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No): No

Requested priority: (Blocking, High, Normal, Low): Normal

#### Describe the issue:
When using the command bar control there is no text visible on the command bar buttons. Only the icon will be shown.

[2018-07-17 16:16] micahgodbolt commented on #5602
@Jahnp do we know which version of Fabric the sharepoint generator is using?

[2018-07-17 16:22] Jahnp commented on #5602
I'm not familiar with the @microsoft/sharepoint package. Adding @aditima and @pgonzal—thoughts on this?

[2018-07-17 16:26] micahgodbolt commented on #5595
a 2nd click will give the checkbox focus, so it appears to be an issue on the onDismiss where event isn't propegated properly.

[2018-07-17 17:20] micahgodbolt commented on #5595
And callouts too. Problem is probably down at the popup level.

[2018-07-17 18:21] #1700 closed

[2018-07-17 18:54] HalcyonPride opened #5605 "[Accessibility] Checkbox: Cannot Toggle in Scan Mode"
### Bug Report

- __Package version(s)__: Latest, on https://developer.microsoft.com/en-us/fabric
- __Browser and OS versions__: Edge/Narrator, on Windows 10 Enterprise; Version 1803; OS 17134.165

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: **High**

Products/sites affected: All

#### Describe the issue:

Users cannot toggle Checkboxes in Sc

[2018-07-17 19:15] oengusmacinog commented on #3726
@samikroy @jayongg Just an update that this is not currently on our roadmap.  However, we would be happy to review a PR for this change if you'd like to submit one.

[2018-07-17 19:45] micahgodbolt commented on #2254
@dzearing did we ever make a decision on moving prop-types to dependencies?

[2018-07-17 20:43] dagoltz commented on #5582
We have implemented a form component internally (Microsoft Cloud App Security) using React and are very happy from it.

It covers front end and back end validations, state managment etc.
We will be happy to share the design amd code.

[2018-07-17 20:50] micahgodbolt commented on #5582
Thanks @dagoltz! I'd be happy to take a look at it. My goal is to discuss form needs with several partners and determine if there is a common approach that will allow a single component to add value to each partner.

[2018-07-17 21:53] HalcyonPride opened #5608 "[Accessibility] Panel: Cannot Access 'X' (Close) Button in Scan Mode"
### Bug Report

- __Package version(s)__: Latest, on https://developer.microsoft.com/en-us/fabric
- __Browser and OS versions__: Edge/Narrator, on Windows 10 Enterprise; Version 1803; OS 17134.165

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: **High**

Products/sites affected: All

#### Describe the issue:

Users cannot navigate to the 'X' but

[2018-07-17 22:11] arunarokk commented on #5162
@micahgodbolt , I searched many examples , aria-required only working with select or input elements, I have verified your codepen snippet with jaws on chrome, its not reading required for dropdown.

[2018-07-17 22:17] micahgodbolt commented on #5162
it's possible that we don't have a solution for this problem. If a select/input element is required, we'll have a hard time making this work. The move to div was necessary to support the customized functionality. Is this a problem then with jaws and other screenreaders?

[2018-07-17 22:23] arunarokk commented on #5162
I have tested dropdown with narrator & jaws, where its not reading required. for this "it's possible that we don't have a solution for this problem", i need to discuss this with team and let you know.

[2018-07-17 23:39] dzearing opened #5610 "Customization: Update the theming documentation to have basic/medium/advanced customization."
On the public website, we should have very clear documentation on customizability, now that we've converted most of the css to customizable css in js.

I'd like the documentation to outline the following:

Basic site customization:
* palette colors vs semantic colors
* typography
* sizing

Per component customization:
* button borders
* dialog paddings
* per component coloring

Advanced customizat

[2018-07-18 04:20] ndac-todoroki commented on #3790
Hello, I am using `v6.25.2` and still having the same issue. Elements in the DetailsList call `onRender` every time I scroll the page (even when not inside the List itself).

[2018-07-18 05:02] #5118 closed

[2018-07-18 09:43] piyusing opened #5612 "Need a way to invoke tooltip on demand."
**Describe the feature that you would like added**
We want to invoke tooltip, when the container holding the text overflows, upon certain user interaction.
In otherwords, having a ref to tooltip host exposing "invoke tooltip" kind of functionality would be useful. That way a user defined component using tooltip can invoke the exposed method - Using the reference to the underlying tooltiphost, to b

[2018-07-18 15:39] betrue-final-final opened #5615 "New Component: Announcement"
## Component Details

We need an announcement component to provide screen reader output for objects like progressIndicator, Spinner, and indeterminate progressIndicator.

#### Exports

#### Imports

#### Intended Package
OUFR

#### Code mockup/example

[code]

#### Component Ownership
Tactical Team

## Steps

- [x] initial implementation
- [ ] has unit tests
- [ ] has snapshot tests
- [ ] has docu

[2018-07-18 15:58] micahgodbolt commented on #5615
@dzearing is this another instance where we'd want an announcement manager similar to what we want to do with tooltips?

[2018-07-18 15:59] lynamemi commented on #1614
Leaving this issue open, because it still very much exists, however also referencing this new issue that could someday help resolve this:
https://github.com/OfficeDev/office-ui-fabric-react/issues/5615

[2018-07-18 17:12] kenotron opened #5616 "Refactor DetailsList to use the new subComponentStyles API"

[2018-07-18 17:46] betrue-final-final commented on #5605
This is a real bug. Yes, the behavior should match https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_checked

[2018-07-18 17:50] betrue-final-final commented on #5608
Yes, it seems that even though you start on the close X, you can't get back to it. Tabbing should cycle from the Cancel button back up to the close X, and then back again. Also focus should be trapped.

[2018-07-18 18:01] HalcyonPride commented on #5608
N.B. You **can Tab** to the 'X' Button, but you **cannot use Arrow Keys** to get to it in Scan Mode.

[2018-07-18 19:09] micahgodbolt commented on #5612
#5541 this functionality might be useful in our refactoring of the tooltip to include a tooltipmanager

[2018-07-18 20:05] dzearing commented on #5615
The idea would be to add an `Announced` component, which abstracts the guidance here:

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Live_Regions

We will provide clear documentation on when to have this read out, and how strings are provided. Right now, baking in aria live regions into atomic components is not the best idea, as:

1. The announcement needs to be localized.
2

[2018-07-18 21:10] caradong opened #5620 "Deprecate inactive prop in command bar, it is no longer being used"
### Bug Report
- __Package version(s)__: 6.26.0
- __Browser and OS versions__: Chrome

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)
#### Describe the issue:
 Create an IContextualMenuItem in the Commandbar with **inactive: true** does not change the button to readonly.

Cr

[2018-07-18 22:32] nayomitchell opened #5621 "Safari iOS: Page still scrolls under a surface component."
### Bug Report

- __Package version(s)__: 6.30.0
- __Browser and OS versions__: iOS Safari

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Microsoft Sway

#### Describe the issue:

When we have a dialog, blocking or non-blocking, the page still scrolls underneath. I saw this on mobile Safari on a real device and

[2018-07-19 01:26] HalcyonPride opened #5628 "[Accessibility] Slider: Cannot Access in Scan Mode"
### Bug Report

- __Package version(s)__: Latest, on https://developer.microsoft.com/en-us/fabric
- __Browser and OS versions__: Edge/Narrator, on Windows 10 Enterprise; Version 1803; OS 17134.167

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: **High**

Products/sites affected: All

#### Describe the issue:

Users cannot access Sliders in Scan

[2018-07-19 03:12] keydoubleu commented on #5610
That would be awesome! I constantly struggle with finding clear instructions about styling and customization. For example, I am trying to set a custom font (instead of Segoe UI) and the public website has no guides on that. It would be so nice to have clear documentation on things like this.

[2018-07-19 08:00] #5601 closed

[2018-07-19 09:03] Toonshorty opened #5629 "DetailsList throws an error on DetailsColumn.render()"
### Bug Report

- __Package version(s)__: 5.117.1
- __Browser and OS versions__: Tested on Chrome 67 / Windows 10

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Office UI Fabric React - DetailsList Component

#### Describe the issue:

When adding the DetailsList component to a SharePoint Framework web part, Reac

[2018-07-19 09:48] afifoperantic opened #5630 "using office-ui-fabric within dotnet core &&react application"
I have a dotnet core && react application , in which I'd like to use Office-ui-fabric library .

**package.json**

    {
      "name": "app_fabric_test",
      "private": true,
      "version": "0.0.0",
      "devDependencies": {
        "@types/history": "4.6.0",
        "@types/react": "15.0.35",
        "@types/react-dom": "15.5.1",
        "@types/react-hot-loader": "3.0.3",
        "@types/re

[2018-07-19 10:09] siminture opened #5631 "add underline style for DatePicker and Dropdown"
Add underline style for DatePicker and Dropdown as the TextField component

- [x] Add underline style for DatePicker
- [ ] Add underline style for Dropdown
- [ ] Add underline style for Combox

[2018-07-19 10:51] hrc7505 commented on #5161
@micnyk You can check [here ](https://codepen.io/hardik-chaudhary/pen/ejdoeY?editors=0110)that how we can use the `<SearchBox/>` in `<Commandbar/>` using `onRender()` method.

[2018-07-19 13:29] barisbikmaz commented on #3636
Still an issue on  office-ui-fabric-react 6.36.0

[2018-07-19 16:55] micahgodbolt commented on #5631
Can you give a bit more information about this issue/change? Do you have designs? Is this a new component?

[2018-07-19 17:14] dzearing commented on #5630
A number of your other dependencies are quite old. Specifically, I believe the typescript build is very old.

Can you update:

typescript to 2.8 or greater
react
react-dom
@types/react
@types/react-dom
webpack to 4+

[2018-07-19 17:22] dzearing commented on #5629
This looks very related to:

https://github.com/OfficeDev/office-ui-fabric-react/commit/d9143111c43f015bd6d8668f78d7fb3127b46d49

@laxmikankanala @ThomasMichon

[2018-07-19 17:46] dzearing commented on #5620
Preference:

Deprecate this feature. (Add `@deprecated` to comment)
Always make menu items focusable in a disabled state.

[2018-07-19 17:59] arunarokk commented on #5162
As an alternative, using label to announce if the dropdown is a required. you can close the issue. thanks

[2018-07-19 18:10] micahgodbolt commented on #5162
can you demo how that works? I want to make sure we capture that as best practices.

[2018-07-19 18:19] paul-otten opened #5635 "DetailsList doesn't have a way to render with a transparent background"
**Describe the feature that you would like added**
I would like to have a way to render DetailsList with a transparent background.

**What component or utility would this be added to**
DetailsList

**Have you discussed this feature with our team, and if so, who**
Discussed with Thomas Michon

**Additional context/screenshots**
Modern Sharepoint sites can have themes that set the background color o

[2018-07-19 18:26] siminture commented on #5631
Plase refer to the TextField component.
I made an example [https://raw.githubusercontent.com/siminture/demos/master/doc/underlined_datepicker.png](https://raw.githubusercontent.com/siminture/demos/master/doc/underlined_datepicker.png)

`<Box>
  <TextField label="Standard TextField" />
  <TextField label="Underlined TextField" underlined />
  <DatePicker label="Standard DatePicker" />
  <DatePicker

[2018-07-19 18:43] micahgodbolt commented on #5631
Yeah, that totally makes sense. All of our pickers are capable of taking a styles object/function, which should allow you to customize them today (which would unblock you if you needed it now). Otherwise, this is a good feature request and we can put it on our backlog.

[2018-07-19 18:44] micahgodbolt commented on #5631
For reference, we might look at using the textfield for both datepicker, dropdown, combobox so that we don't have to duplicate styles. Or at least abstracted out some basic textfield that each of the 4 components can use

[2018-07-19 18:46] micahgodbolt commented on #5620
to followup, you can use 'allowDisabledFocus' from the button.types.ts to make the command bar buttons be disabled yet focusable (will need to add disabled as well).

[2018-07-19 19:01] micahgodbolt commented on #5620
https://codepen.io/micahgodbolt/pen/ZjBeQP

[2018-07-19 20:38] chadsowald opened #5636 "Fabric DropDown className should be on root element"
**Describe the feature that you would like added**
I added the className attribute to the Fabric Dropdown component.  When it renders, the className I added is on an element inside of the root of the Dropdown.  I expected it to be at the root and would request it moved there.  Since the className gets put inside the root, I cannot style the entire Dropdown without wrapping it in another element, w

[2018-07-19 20:40] random65537 commented on #5008
https://reactjs.net/ is version 16.

Is there a tutorial on how to use Office-React with MVC?

[2018-07-19 21:40] wudicheng123 opened #5637 "(a11y) FocusTrapZone does not work well with ChoiceGroup"
### Bug Report

- __Package version(s)__: 6.26.0
- __Browser and OS versions__: Chrome 67.0.3396.99

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)
No

Requested priority: (Blocking, High, Normal, Low)
High

Products/sites affected: (if applicable)

#### Describe the issue:

If the last element of the ChoiceGroup is not tab enabled, the focus will jump out of

[2018-07-19 23:11] sunny-lan commented on #5292
@LeonidasFettikus You need to do this:

[code]

[2018-07-20 04:14] spplante opened #5642 "How to get rid of the automatic focus on ContextualMenu"
I have been fighting with this for a few hours now and I can't seem to figure out something that should be so simple...

I am working on a search box with an "auto completion" feature. It basically consist of a simple *SearchBox* control with a *ContextualMenu* right underneath it that gets populated when there is available suggestions. The problem is, when typing in the search box, If I move my m

[2018-07-20 06:13] basovic88 opened #5643 "Picker callout acts strange when Enter is hit and the `itemLimit` is reached"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: Firefox 61.0.1 on Windows 10 64bit

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:
I use a `Picker` component with an `itemLimit`. When selecting the an item and hitting `Enter`, it reaches its `it

[2018-07-20 12:44] spplante opened #5645 "How to get the css module class name of a component from within code?"
Hi there,

I did find plenty of documentation on how to refer ui fabric styles within our own css module, but is there any way to refer a ui fabric component class name within my own code? For example, lets say the `ContextualMenu` component renders the following HTML markup :

[code]

The `root-57` class is dynamically generated at build time, most likely because of css modules, and I would like

[2018-07-20 15:59] micahgodbolt commented on #5636
At this point, moving the location the className gets printed would cause some serious breaks for people that already ready on it, but we can support adding a custom className through our styles prop.

The dropdown is currently being converted to css-in-js by @cliffkoh.

Cliff, can you make sure the container gets a styling hook as well.

Once cliff is done you can do

[code]
#5366

[2018-07-20 16:01] micahgodbolt commented on #5636
this is a dup of #5366 then. Closing this down.

[2018-07-20 16:06] #5537 closed

[2018-07-20 18:17] micahgodbolt commented on #3719
Waiting until the dropdown conversion is finished (almost done). Then will update this if it hasn't already been done.

[2018-07-20 18:34] caradong commented on #5620
@micahgodbolt @dzearing thank you for the quick response.

[2018-07-20 19:03] #5620 closed

[2018-07-20 19:10] #3853 closed

[2018-07-20 19:38] #5054 closed

[2018-07-20 19:59] micahgodbolt commented on #3469
There's nothing about the interface that guarantees a length to the onSearch 'newValue' string. So i'm going to go ahead and remove that length check and just return an empty string if enter is pressed without text being typed, or clear being pressed.

[2018-07-20 20:35] #4955 closed

[2018-07-20 21:06] micahgodbolt commented on #4883
@BrendanMcK can you point me to your link styles? Curious to see how it looks. Seems there's still a bit of clipping using inset.

[2018-07-20 22:08] micahgodbolt commented on #4883
I can do this with
[code]

![image](https://user-images.githubusercontent.com/1434956/43027360-ad679434-8c2e-11e8-9acd-82a21bd5c7a9.png)

[2018-07-20 22:09] micahgodbolt commented on #4883
which looks a bit differnet when blown up/run into each other.

![image](https://user-images.githubusercontent.com/1434956/43027414-e808dbfc-8c2e-11e8-953a-f30dc21803b3.png)

[2018-07-20 22:14] #5573 closed

[2018-07-20 22:20] BrendanMcK commented on #4883
We have something similar to:

a:focus {
    outline: 0;
    box-shadow: inset 0 0 0 1px;
}

![image](https://user-images.githubusercontent.com/1754373/43027606-3ffd5f4e-8c30-11e8-976d-2b5bae4c74e2.png)

Works nicely for inline text; and unlike border, doesn't affect size or position. But for links that contain other content - notably links wrapped around images, it can get covered/hidden by the c

[2018-07-20 22:22] micahgodbolt commented on #4883
Does that work alright in high contrast mode?

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Brendan McKeon <notifications@github.com>
Sent: Friday, July 20, 2018 3:20 PM
To: OfficeDev/office-ui-fabric-react
Cc: Micah Godbolt; Assign
Subject: Re: [OfficeDev/office-ui-fabric-react] Link focus outline breaks on links that wrap across lines (#4883)

We have somet

[2018-07-20 22:36] BrendanMcK commented on #4883
We re-state the same rule in a HC selector to support HC mode on IE/Edge - so full version looks more like:

[code]

This only works on IE/EDGE, not Firefox. We just don't support HC mode on Firefox, as it doesn't provide a good set of tools to let us work with it - ie system colors, media query + ability to override.

Another nice feature of this technique is that the box shadow picks up the text

[2018-07-20 22:43] micahgodbolt commented on #4883
awesome. I'll play around with that. In the past we have done a border+outline combination to better support highcontrast. If this does the trick, maybe we can simplify our own styles.

[2018-07-20 22:53] trevorsg commented on #3953
I would think so, although I wouldn't consider myself an expert. I had a bug for it opened by our accessibility vendor team, and they're supposed to be the experts!

[2018-07-20 22:55] BrendanMcK commented on #4883
FWIW, we currently have something of a 'toolkit' of focus styles in Yammer - brief summary of how these are used follows:

- default focus style is the one outlined above. Most of our links are text links - notably user/group permalinks, so this works great as a default *for us*.

- we do have some buttons where we want the focus to be inset a bit extra in HC mode, notably for flat buttons that ga

[2018-07-20 23:04] micahgodbolt commented on #3953
And we had an accessibility vendor team log a bug that the props should be removed ...

This is how recursion destroys our sanity :D

[2018-07-20 23:06] BrendanMcK commented on #4883
One caveat with box-shadow - and that is that if the link contains block content, it must itself be block (vs inline). If you have an inline element containing block content, the inline element gets split into two, and you end up with two tiny inline bits before and after the block, and no visible border/outline around the actual content block.

[2018-07-20 23:22] dzearing commented on #5587
This is complete.

[2018-07-20 23:22] #5587 closed

[2018-07-20 23:23] #3469 closed

[2018-07-20 23:30] #5505 closed

[2018-07-21 01:11] dzearing commented on #5400
@aditima @ThomasMichon

I don't think this has much to do with List. It could be that groups are re-rendering because they don't have the right keys or something...

[2018-07-21 05:19] evantrimboli commented on #2195
I would be interested in something like this as well. Here's an example of one included with Material UI:

https://material-ui.com/demos/steppers/

[2018-07-21 05:30] evantrimboli opened #5653 "Add a hook to render a "no content" message when there are no items."
**Describe the feature that you would like added**
Add a way to render an empty message for List/DetailsList when there is no content. For example, if the user executes a search that returns no results in the details list, I would like to be able to display a message under the headers "No matches found".

**What component or utility would this be added to**
List/DetailsList

**Have you discussed t

[2018-07-21 19:41] #5410 closed

[2018-07-21 20:09] #5510 closed

[2018-07-22 17:38] #2228 closed

[2018-07-22 17:51] afifoperantic commented on #5630
Thank u @dzearing i tried but it didn't work . Can u please give me a valid package.json

[2018-07-23 11:02] laxmikankanala commented on #5629
I am looking into it

[2018-07-23 11:29] MobileAppVault commented on #5081
Ok thanks! Will be very helpful to have at least the grid component as soon as possible in the component library. Want to avoid that we have to redesign a lot of components in future.

[2018-07-23 14:11] spplante commented on #5642
After all I decided to go ahead with using the **onRender** function to render the individual menu items by myself, that way there isn't any focus() behavior configured on the menu items and It's the only way I found to have 100% control on the items.

[2018-07-23 14:11] #5642 closed

[2018-07-23 14:55] russgove commented on #5629
same issue here

[2018-07-23 17:04] sumboxcar182 opened #5655 "Sticky Header does not maintain fixed header when DetailsList is unconstrained and you scroll down."
### Bug Report

- __Package version(s)__: 6.25.1
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites affected:

#### Describe the issue:

The issue is happening only when you have a DetailsList that is set to unconstrained, has a lot of rows, and the width is greater tha

[2018-07-23 18:01] #5576 closed

[2018-07-23 18:01] #5575 closed

[2018-07-23 18:02] #5562 closed

[2018-07-23 18:07] chaofeng2014 commented on #5629
same issue that block us in odsp-common

[2018-07-23 18:40] dzearing commented on #5653
I was just wondering if it makes sense here, if if you'd rather just replace the whole UI with no items experience, which just means you conditionalize the DetailsList rendering.

[2018-07-23 18:55] #4815 closed

[2018-07-23 18:56] #4828 closed

[2018-07-23 20:41] joschect commented on #5643
Hey @basovic88 can you provide a bit more about a repro? We can reproduce it, but only if you select the same item twice. Do you have some other steps?

[2018-07-23 20:51] BrandoIsNotASword commented on #1659
Any updates on this?

[2018-07-23 21:47] richardzcode opened #5660 "SearchBox autocomplete"
This is a question or feature request.

In docs, https://developer.microsoft.com/en-us/fabric#/components/searchbox, there is a section in best practices about Autocomplete.

However I am not seeing anything in example and source code about autocomplete. I suppose it is not available out-of-box? If so, can we make a feature request for it?

Thanks,
Richard

[2018-07-23 21:59] leddie24 commented on #5655
Hi @sumboxcar182.  I'm not able to repro this issue.  If possible, can you provide a video demonstrating the issue?  Thanks!

[2018-07-23 22:12] #4281 closed

[2018-07-23 22:12] #4341 closed

[2018-07-23 22:48] evantrimboli commented on #5653
I would expect the headers to render, somewhat similar to what Windows does with an empty folder, see attached:

![empty_folder](https://user-images.githubusercontent.com/197184/43106975-4aaeb2d0-8f1e-11e8-962c-19690bc4d885.png)

[2018-07-23 23:29] sumboxcar182 commented on #5655
Hi @leddie24 ! Thank you for checking this out! I've recorded the issue and it's available here https://1drv.ms/v/s!Av-Zl403mjaL-s4JOftIAtpKODcyNg

I've also tweaked the codepen, and made it easier to see, as i had small column widths and i made them much larger to easily see it.

Also i realized my steps were horribly written previously so using that code pen the steps i took were:
1) Scroll down

[2018-07-24 03:30] cliffkoh opened #5662 "Global styles in examples are adversely affecting other examples on website"
### Bug Report

- __Package version(s)__: 6.39.0
- __Browser and OS versions__: all

#### Describe the issue:

Global styles are adversely affecting other component examples. This is particularly pronounced on `npm start` version of Fabric website as it is 1 giant bundle (every global style takes effect immediately and stomps on JS styling) but affects production Fabric website too.

Repro:
1) Nav

[2018-07-24 03:42] cliffkoh commented on #5636
Reopening this because it isn't strictly a duplicate and doing a pure JS conversion would not have the hook be added.

[2018-07-24 03:55] thechriskent commented on #2370
I'd like to see this added as well since there is just an input underneath where this attribute could be set. Thanks!

[2018-07-24 17:16] mikewheaton opened #5665 "Add Likes/Social component"
**Describe the feature that you would like added**
The Fabric Toolkit includes a Likes/Social component.

**What component or utility would this be added to**
This might be a new component, or a variant of icon button.

**Have you discussed this feature with our team, and if so, who**
Included in the toolkit that @betrue-final-final is working on.

**Additional context/screenshots**
From the toolk

[2018-07-24 20:14] cliffkoh commented on #5162
Closing based on conclusion reached in discussion above.

[2018-07-24 20:20] atneik opened #5669 "Add the Using Icons docs to website"
Now that we don't include Fabric icons by default in the bundle, its getting convoluted to use Icons. The request is to add [Using Icons](https://github.com/OfficeDev/office-ui-fabric-react/wiki/Using-icons) information to the website too. I think it would be helpful to at least mention the default and point to the wiki at [Icon component](https://developer.microsoft.com/en-us/fabric#/components/i

[2018-07-24 20:29] cliffkoh opened #5670 "Upgrade to Rush 5"
We should be staying evergreen with Rush. Hopefully, this will also get us Rush 5 improvements particularly around the scenarios involving `rush generate`.

[2018-07-24 20:52] cliffkoh opened #5671 "CI Improvement: Validate consumption of Fabric with a specific minbar of Typescript"
We need to validate that the emitted Typescript code from OUFR is consumable downstream with a specified minbar of Typescript that we support.

[2018-07-24 21:03] #5662 closed

[2018-07-24 21:22] cliffkoh opened #5672 "`getGlobalClassNames` usage in JS styling is a bit of a ticking time bomb"
#### Describe the issue:

There is widespread use of global classnames in selectors at the moment. The whole point of using `getGlobalClassNames` from `oufr/lib/Styling` is so that users can choose to turn off globalClassNames at a single point. This however would cause widespread breakage because the global classnames are used in many component's base JS styles in selectors (given we lack a bette

[2018-07-24 21:38] dzearing commented on #5672
Thanks for picking this up!

[2018-07-24 23:43] cliffkoh commented on #5636
@chadsowald Thanks for reporting this. It is now formally fixed in #5661. "root" now points to the container and not to the Dropdown.

[2018-07-24 23:49] chadsowald commented on #5636
Thanks @cliffkoh!   Any idea when this change will land into the stable release and be available via npm update essentially?

[2018-07-25 05:58] cliffkoh commented on #5636
We publish weekdays at 3am PST, so the next 3am after the PR is merged.

[2018-07-25 08:21] irvalchev opened #5675 "Text fields focus/edit issue in DetailsList"
### Bug Report

- __Package version(s)__: 6.39.1 and previous
- __Browser and OS versions__: IE, Edge, FF

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Low

#### Describe the issue:

 The content of text fields (input or textarea) inside of a details list cell cannot be selected. Two issues:

- The mouse place selection only works for the init

[2018-07-25 08:30] cliffkoh commented on #5645
Hi @spplante, the `root-57` is actually generated not by CSS modules but by Fabric's JS styling (using the @uifabric/merge-styles library).

Broadly speaking, there are various "blessed" mechanisms for you to refer to the styles, but not in the specific scenario illustrated by your code snippet above. Could you help us understand what it is you're trying to achieve here?

The fundamental issue wit

[2018-07-25 08:41] cliffkoh commented on #1659
@dzearing

[2018-07-25 11:24] kevinbargary opened #5676 "MessageBar text not inheriting `fontFamily` from <Fabric> component"
### Bug Report

- __Package version(s)__: 6.39.2
- __Browser and OS versions__: Chrome (67.0.3396.99) & Windows 10

#### Priorities and help requested:

Are you willing to submit a PR to fix?  No

Requested priority: Normal

Products/sites affected: (if applicable)

#### Describe the issue:

Trying to remove usage of the Segoe UI font for components using the `<Fabric>` component to set the `fontF

[2018-07-25 13:20] laxmikankanala commented on #5629
@chaofeng2014 , @russgove , @dzearing, @Toonshorty

Below is the PR to fix this issue, please review it once.
https://github.com/OfficeDev/office-ui-fabric-react/pull/5677

[2018-07-25 15:59] dzearing commented on #5665
Some things to consider:

Is it a toggle button that toggles between checked/not checked?

Is there an animation between the two states?

[2018-07-25 16:01] dzearing opened #5680 "Layer documentation page broken."
https://developer.microsoft.com/en-us/fabric#/components/layer

Try to scroll

Expected:

Scrolls

Resulted:

Trapped

[2018-07-25 18:06] chadsowald commented on #5636
@cliffkoh Feel free to close this issue whenever you're ready.  I'm good on my end.  Many thanks again.

[2018-07-25 19:00] devinprejean opened #5682 "Fabric Modal is invisible on Mobile"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites affected: (if applicable)

#### Describe the issue:

The modal component shows just fine on all desktop browsers but when I check Safari, Chrome, and SharePoint

[2018-07-25 19:48] micahgodbolt commented on #5671
Current suggestion is to drop the ts level in our vr test package to the min bar. Anything keeping that from working?

[2018-07-25 19:51] #5369 closed

[2018-07-25 22:50] cliffkoh commented on #4281
Hi @aslanovsergey are you still stuck on this? You can get the mixin from office-ui-fabric-core but our general guidance now is to move to JS styling. Let me know if you need a concrete example.

[2018-07-25 23:33] cliffkoh commented on #5671
Well, first of all, vr-tests doesn't actually do ANYTHING to build at the moment when we run rush-build. Maybe it will block screener if there's an incompatibility - but it would be storybook process that hits the issue and storybook has really bad console output...

The second issue is that it is unclear what side effects/problems will occur from having multiple versions of Typescript in the repo

[2018-07-25 23:41] #5019 closed

[2018-07-25 23:48] spplante commented on #5645
@cliffkoh, gotcha, makes perfect sens. The reason why I was trying to do this is simply because I was trying to use the `onRender` method of the `ContextualMenu` to render the items by myself, but I wanted the recreate the exact same looking without making the effort of reproducing a similar CSS by myself.

Now you'll probably ask why would you want to use the `onRender` function if it's to render

[2018-07-26 00:21] cliffkoh commented on #5645
Hmm I am not familiar with Searchbox or its history. I recommend filing a dedicated issue for any inconsistencies or surprising things about that component.

[2018-07-26 00:22] cliffkoh commented on #5645
I will close this issue as it seems the original issue has been resolved :)

[2018-07-26 00:22] #5645 closed

[2018-07-26 00:50] spplante commented on #5645
No problem thanks!

[2018-07-26 07:11] cliffkoh opened #5687 "merge-styles: should properties like background/backgroundColor conflate?"
#### Describe the issue:

A component's baseStyles defines `{ background: 'red' }`

A user provides props styles of `{ backgroundColor: 'green' }`

#### Actual behavior:

`background: red` wins and background color is red.

#### Expected behavior:

User provided style to win - background color is green.

This can be really surprising and unintuitive to the user, and basically forces the user to us

[2018-07-26 14:32] StfBauer commented on #4440
Well, and thanks for the bot ;) Would be nice to get any kind of feedback.

[2018-07-26 14:37] betrue-final-final commented on #4440
Apologies! I just saw this again. Your request seems reasonable after looking at this again. @dzearing, is this doable?

[2018-07-26 16:20] micahgodbolt commented on #5672
adding these to UI fabric project for better visibility

[2018-07-26 16:49] Jahnp commented on #5682
Hey @devinprejean , can you clarify what environment(s) you're seeing this in and if possible which version(s) of Fabric it's associated with? Is it a publishing page in SharePoint? I also don't repro the issue on Safari iOS.

[2018-07-26 17:00] cliffkoh opened #5689 "Refactor Panel styles to use subcomponent styles when Button is refactored and adds IButtonStyleProps"
Refactor Dropdown styles to use subcomponent styles when Panel is converted to JS Styling. (At present it uses selectors and fragile global classnames).

[2018-07-26 17:07] cliffkoh opened #5690 "Remove use of <any> in SubComponentStyles when we upgrade to Typescript 2.9"
[code]

[2018-07-26 17:20] devinprejean commented on #5682
Certainly.
I'm in SPO communication site on Safari IOS and the IOS SharePoint app.
I'm using Fabric react version ^5.67.0

[2018-07-26 17:22] dzearing opened #5691 "Loading a new theme does not update components that return false on shouldComponentUpdate"
We are seeing with the new `styled` helper that they will pull the theme from context. However, if the contextual theme mutates, we aren't getting re-rendered when components are hosted within a parent which avoids a re-render (like `List`). This ends up breaking scenarios where we chose a live theme and expect the page to render with that theme.

Proposal:

We effectively make the theme observabl

[2018-07-26 17:48] Jahnp commented on #5669
Feels like this could be collapsed into #5469, which tracks documenting the Fabric icons tool (including how to use icons) on both the wiki and the website. Thoughts?

[2018-07-26 18:09] atneik commented on #5669
Sounds good to me! I'll close this one and add the request to the #5469

[2018-07-26 18:09] #5669 closed

[2018-07-26 18:22] cliffkoh commented on #4613
@micahgodbolt @dzearing @aditima @Jahnp I think this work item needs to be tracked as a whole-team effort kind of like what we did with CSS in JS work and scheduled as a team-wide sprint. Just like with CSS in JS, this is too much for any one shield engineer to work on alone.

[2018-07-26 18:22] cliffkoh commented on #4613
@micahgodbolt is the right thing to create a new Project or Milestone to track this process for all the components?

[2018-07-26 19:55] micahgodbolt commented on #4613
Seeing as we need to go through each components to fix these issues, I've created a milestone to fit them all into.

https://github.com/OfficeDev/office-ui-fabric-react/milestone/7

Next up I'll start to create issues for each component that has these warnings.

[2018-07-26 20:50] andrewbranch commented on #4178
I got so fed up with this in VSTS that I did some digging myself, and discovered that this was done on purpose 😱: https://github.com/OfficeDev/office-ui-fabric-react/pull/3923

It's worth noting that in current master, the behavior has switched from the keyDown handler to the keyUp handler: https://github.com/OfficeDev/office-ui-fabric-react/blob/f052a832ec92854dc09a3adbcb76ba73a689454c/packages/o

[2018-07-26 22:20] kkjeer commented on #5676
MessageBar does not inherit from fonts set by CSS. Instead, it uses the small font defined in the theme (theme.fonts.small). To change the font family of the MessageBar text, you can use:

`import { loadTheme } from '@uifabric/styling';`
`loadTheme({ fonts: { small: { fontFamily: 'Comic Sans MS' } } });`

@dzearing what is our approach here? Should MessageBar inherit fonts from CSS or from the the

[2018-07-26 22:39] ahmedkotb opened #5696 "Using customizer to render panels in a specific div is broken"
### Bug Report

- __Package version(s)__:  starting from 6.37.0
- __Browser and OS versions__: Chrome/windows10

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes
Requested priority: High

#### Describe the issue:

the example in the Layer page to trap a panel into a certain div using the customizer component is not working any more (starting from version 6.37.0, was

[2018-07-26 23:13] micahgodbolt commented on #3690
@cschleiden and @ryhumble, any updates on your query builders? A component of this complexity might make sense to live in its own package, rather than in Fabric proper.

[2018-07-27 00:32] cliffkoh commented on #5635
cc @kenotron

[2018-07-27 01:17] dzearing commented on #5680
I believe this is because of FocusTrapZone, but not sure.

[2018-07-27 03:01] cliffkoh commented on #5577
@Nimelrian I was able to get it to work like this (just a minor modification)
https://codepen.io/cliffkoh-the-styleful/pen/WKZGqG

The problem is that the default selector has a specificity of 3, so the selector you introduce loses and does not take effect.

[2018-07-27 03:01] cliffkoh commented on #5577
I will close this as resolved. Please feel free to reopen if you have questions (e.g. if I misinterpreted what you're trying to achieve here).

[2018-07-27 03:01] #5577 closed

[2018-07-27 03:18] Arthaclarius commented on #5391
This is funny.

The added "onChanged" to get only the values when it changes (onChange/onInput don't work), but if you put onKeyup you can register the event.

I mean, Why did they bind the onKeyup event to the input but no the onChange/onInput?

It just doesn't make sense

[2018-07-27 04:46] cliffkoh commented on #5696
Reopening because I think this is a different issue with a very specific repro.

[2018-07-27 06:31] kadevu opened #5703 "DetailsList onRenderColumnHeaderTooltip does not work beyond version 6.18.0"
### Bug Report

- __Package version(s)__: 6.18.1
- __Browser and OS versions__: All browsers

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:

We have used the DetailsList and used the **onRenderDetailsHeader** (which internally calls **onRenderColumnHeaderTooltip**) to customize the header to add a tooltip. It w

[2018-07-27 07:13] kadevu commented on #5703
I digged into the code and found that the issue is in file **https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.base.tsx** line 267, where onRenderColumnHeaderTooltip props is not being sent to DetailsColumn.

[2018-07-27 09:02] quanglefed opened #5704 "SearchBox: When rendered with a panel, onFocusCapture never fires"
### Bug Report

- __Package version(s)__: 5.84.0
- __Browser and OS versions__: FireFox

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites affected: https://grammarly-bug.herokuapp.com/

#### Describe the issue:
 We lose Searchbox animinations and focus/active state

#### Actual behavior:
 When we focus to Searchbox, their anim

[2018-07-27 09:10] newtonsheikh commented on #5498
Hi,

Found the root cause. We are using the command bar to make a VSTS extension. The VSS sdk has its own css. Now the VSS sdk overrides the css of the commandbar and produce the border.

There is nothing wrong with the CommandBar as such. Wrong bug report!

To get out of it, we did this and it fixed the problem.

`.ms-CommandBarItem-link {
    border: none !important;
}`

[2018-07-27 10:34] ekawatani opened #5706 "ComboBox: Header item doesn't have aria-level set"
### Bug Report

- __Package version(s)__: master
- __Browser and OS versions__: Any browsers/OS

#### Priorities and help requested:

Are you willing to submit a PR to fix? No. (But, I might when I have time)

Requested priority: Low

Products/sites affected: N/A

#### Describe the issue:

The ComboBox header items have role="heading" set, but it doesn't have the aria-level attribute. The Keros to

[2018-07-27 14:47] #5498 closed

[2018-07-27 16:59] srfconsultores commented on #5630
This problem has been fixed in update asp.net core 2.1 and visual studio 15.7

[2018-07-27 17:00] srfconsultores commented on #5097
This problem has been fixed in update asp.net core 2.1 and visual studio 15.7

[2018-07-27 19:13] dliu120 commented on #1655
Suggestion is for the callout to be focusable if it finds an element with tab-index=-1, so screen readers can read the content inside.

[2018-07-27 20:45] oengusmacinog commented on #3834
After some thorough review, I found that the cell position is reading out correctly with Narrator using Edge.  The row does not, but according to our design team this is the desired interaction: we don't want to get too specific at every level, just when you get down to the cell level.

As for Firefox, or any other browser other than Edge, the priority support for Narrator is Edge.  As Edge and Na

[2018-07-27 20:45] #3834 closed

[2018-07-27 21:18] micahgodbolt commented on #5704
Any chance you can put this into a codepen? That way we can see exactly what code you used to create this .

[2018-07-27 21:52] aramkoukia commented on #5660
Any updates on this? I was also looking for a sample that does the autocomplete search, not just a textbox with the word 'Search' as placeholder!

[2018-07-27 22:34] cschleiden commented on #3690
@joezha @paterasMSFT do you have any updates? I know one team was working on a React query editor, would this be something to contribute?

[2018-07-27 22:59] micahgodbolt commented on #1462
This might be something we have to put off until we can render a super simple button, or touchabletarget type thing. This approach makes the most sense, but the added weight of our current button is too much.

[2018-07-27 23:01] joezha commented on #3690
It is still on our backlog. We have a prototype built by @ostreifel but it's very feature specific version and we need to make a generic version and contribute to our framework library.

[2018-07-27 23:32] micahgodbolt commented on #1164
I think the main concern here is that adding validation to every control will add quite a bit of weight. If anything, we need to remove the built in validation that some components have, and provide a way to generate Forms with built in validation (including validation logic).

We've already got a Form component in our backlog. I'll close this issue down as the work will be done there. #5582

[2018-07-27 23:32] #1164 closed

[2018-07-27 23:37] micahgodbolt commented on #5582
#1164 brought up the question of adding validation error messages to many of our form components. In looking at this Forms component I feel we should determine if every input control have built in messaging, or if the <Form> component could be useful as a 1 off for getting an individual input with validation.

[code]

This way date picker doesn't have to include specific error message functionalit

[2018-07-27 23:39] micahgodbolt commented on #5582
BUT if we are going to support a child syntax

[code]
We'll need to make sure that each component can support all of the necessary props (validation, error message etc) otherwise we need to wrap every input of ours in some Form.TextField wraper...which might be good, or not.

[2018-07-28 02:30] joechung-msft opened #5711 "Divider custom example does not load in AMD"
### Bug Report

- __Package version(s)__: 6.41.0
- __Browser and OS versions__:

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable)

#### Describe the issue:

The Divider custom example does not load when loaded as an AMD module with require.js.

The Divider imp

[2018-07-28 02:34] joechung-msft commented on #5711
There is a similar issue with the DetailsList import in DetailsList.Shimmer.Example.  It should be:
`import { DetailsListLayoutMode, IColumn } from 'office-ui-fabric-react/lib/DetailsList';`

[2018-07-28 02:56] RedBlue1776 opened #5712 "ReactJS is available in Nuget for MVC/Core. Please add Fabric as a Nuget as well"
The following was closed based on the incorrect theory that ReactJS doesn't exist on Nuget.
https://github.com/OfficeDev/office-ui-fabric-react/issues/5008

Here is the link to the Nuget with instructions on how to make it run on MacOS Core (Visual Studio is an option too)
https://reactjs.net/guides/chakracore.html

Since the prerequisite is there, can we get a Nuget package (or some instruction)

[2018-07-28 08:32] papigers opened #5713 "loadTheme doesn't change global CSS"
Not really sure if this is a bug or intended behavior.

### Bug Report

- __Package version(s)__: 6.39.1
- __Browser and OS versions__: Chrome 68.0.3440.75 Windows 10

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:

Calling loadTheme to change the default theme doesn't affect page CSS.

#### Actual behavior:

Pa

[2018-07-28 16:36] papigers commented on #5696
@ahmedkotb @cliffkoh I've also encountered this issue, I don't know exactly where is the problem in the `Customizer` (on which btw, I couldn't find any documentation other than in his source file), but I managed to trap the panel using the prop `layerProps`. I've edited your codepen to show an example:
https://codepen.io/papigers93/pen/qyVrRj
As you see, there's no need to use the `Customizer`, at

[2018-07-29 12:43] #2587 closed

[2018-07-29 14:53] bishwenduk029 commented on #5660
I take this up and work on it for a new React component AutoComplete textbox

[2018-07-29 16:43] #4050 closed

[2018-07-29 19:43] #3722 closed

[2018-07-30 02:16] #5680 closed

[2018-07-30 05:57] Jahnp opened #5714 "rush generate: merge-styles build fails due to missing testURL in jest config"
### Bug Report

- __Package version(s)__: 6.41.0
- __Browser and OS versions__: Windows 10
- __Node & npm versions__: 8.11.2 & 5.10.0

#### Priorities and help requested:
 Are you willing to submit a PR to fix? Yes - I have a local fix
 Requested priority: Blocking - build fails

#### Describe the issue:
Attempting to build `merge-styles`--both locally with `npm run build` and via `rush build -t m

[2018-07-30 06:33] quangleminhvn commented on #5704
Hi @micahgodbolt, please take a loot a codepen as below:
https://codepen.io/quanglefed/pen/gjopPJ
on FF the cursor disappears
on Chrome and FF - the animation is not displayed

[2018-07-30 06:42] RoshanKumarMicrosoft opened #5715 "Focus is not coming to Tagpicker component inside DetailListView"
### Bug Report

- __Package version(s)__: All version
- __Browser and OS versions__: All browser

#### Priorities and help requested:

Requested priority: Blocking

Products/sites affected: Deployment Group target page

#### Describe the issue:

#### Actual behavior:
We are using [TagPicker](https://github.com/OfficeDev/office-ui-fabric-react/tree/d29def64eb30bbe047c0dbffbc2fd52a9351bacc/packages/

[2018-07-30 08:30] hrnkoji commented on #5236
https://stackoverflow.com/questions/51328448/syntaxerror-export-declarations-may-only-appear-at-top-level-of-a-module-when-t

instead of
`import { Button } from 'office-ui-fabric-react/lib/Button'`

[2018-07-30 08:46] shyama1208 opened #5716 "NVDA announces Checked/Un Checked instead of Selected/ Un Selected for choiceGroup"
### Bug Report

- __Browser and OS versions__: Firefox
Screen Reader:NVDA

#### Describe the issue:
NVDA announces checked/unchecked for default choice group items instead of selected/un selected.
https://developer.microsoft.com/en-us/fabric#/components/choicegroup

#### Actual behavior:

NVDA should announce checked/un checked

#### Expected behavior:
NVDA should announce selected/un selected .
N

[2018-07-30 09:43] prmittal opened #5717 "[MessageBar] No way to differentiate between expanded/collapsed message bar for screen readers"
i) Aria label for the dropdown button available is fixed irrespective of its expand/collapse status
ii) "IsExpandCollapsePatternAvailable" property is "False" for the dropdown button.

Only overflowButtonAriaLabel property is available with no callback for expand/collapse. As a result, the consumer of component can not control screen reader behavior

#### Example:
 https://developer.microsoft.com/

[2018-07-30 10:05] AkshanshSrivastava03 opened #5718 "Calendar Month is announced as editable by Narrator"
### Bug Report

- __Package version(s)__: 5.112.1004

#### Priorities and help requested (not applicable if asking question):

Products/sites affected: (if applicable) VSTS

#### Describe the issue:
Open the Calendar and hover on the calendar months using Inspect. Using Inspect, Observe "Control type, IsTextEditPatternAvailable and IsTextPatternAvailble" properties for these buttons.

![image](htt

[2018-07-30 14:02] #5033 closed

[2018-07-30 14:39] ngyukman commented on #5631
Hi I was looking for BasePicker with underlined so it could have the same look and feel when using it with underlined TextField. I guess it would make sense to have AutoFill to use TextField underneath

[2018-07-30 15:34] micahgodbolt commented on #5631
@betrue-final-final does the design language of the textfield line up with pickers etc? They are currently using Autofill, which uses a standard <input> tag. Would be interesting to see what it'd look like replacing that <input> with <TextField> and all of the duplicate functionality that's probably already been written.

@joschect - have you looked into this at all? It'd be great if all the picke

[2018-07-30 15:50] micahgodbolt commented on #5704
Searchbox uses onFocusCapture to trigger the 'hasFocus' state. That state drives the UI change. Seems the panel is blocking that event from triggering.

![image](https://user-images.githubusercontent.com/1434956/43408132-60ab7ca6-93d5-11e8-8ed3-80ecabb3cd88.png)

[2018-07-30 16:50] JasonGore opened #5721 "Foundation: Component Creation"
## Component Details

There is a need to create a foundation package that improves and extends the existing `styled` functionality that OUFR provides. This new Foundation package has the following goals:

| Goal      | Rationale     | Goal Currently Met | Status |
|-----------|----------|----------|--------|
| Centralize style processing and merging. | Reduce error-prone component boilerplate of u

[2018-07-30 17:22] JasonGore commented on #5721
Yep. It's implemented in experiments and handles the `collapsed` state based on `defaultCollapsed` and user input from the view.

[2018-07-30 18:25] woofton opened #5723 "Datepicker header is vertical only in safari"
### Bug Report

- __Package version(s)__: 6.26.0
- __Browser and OS versions__: safari, high sierra

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)  No

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable)

#### Describe the issue:

Only on Safari, the headers within the Datepicker becomes vertical.  I have tracke

[2018-07-30 18:31] micahgodbolt commented on #5713
I believe that the background changing in that generator page is something done manually (using inline styles). It's not something that automatically happens. i.e. loadTheme doesn't create any global styles it only creates a theme object that each of the components use when being rendered. If you'd like to use that background value in your own application, you can. But it doesn't drop a body { col

[2018-07-30 18:31] #5713 closed

[2018-07-30 18:37] bowenqiang opened #5724 "ChoiceGroup Component issue on firefox"
### Bug Report

- __Package version(s)__: (5.52.0 and 6.5.0 )
- __Browser and OS versions__: (firefox 61.0.1, windows 10 1803)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (No)

Requested priority: (Normal)

Products/sites affected: (if applicable)

#### Describe the issue:

ChoiceGroup Component behaves differently on Firefox and other browsers( IE, Edge, Chrome) w

[2018-07-30 19:29] woofton opened #5726 "Datepicker voiceover safari"
### Bug Report

- __Package version(s)__: 6.26.0
- __Browser and OS versions__: safari

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) High

Products/sites affected: (if applicable)

#### Describe the issue:

When using voiceover within Safari, the individual dates do not announce anything.  Those users wh

[2018-07-30 20:10] kenotron commented on #5723
<img width="462" alt="screen shot 2018-07-30 at 1 09 09 pm" src="https://user-images.githubusercontent.com/34725/43420828-d5021c08-93f9-11e8-9da6-1e1cc57399db.png">

This is what I see on master... @woofton, can you create a minimal repro somehow on a codepen or something?

[2018-07-30 20:40] cliffkoh commented on #5723
Hi @woofton, we will close as not able to repro for now. Please feel free to re-open if you are able to provide more details on a repro.

[2018-07-30 20:40] #5723 closed

[2018-07-30 21:35] dhavalshah01 opened #5728 "Unable to disable the header/tab Link for the Pivot"
### Bug Report

- __Package version(s)__: 1.5.1
- __Browser and OS versions__: Chrome

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes)

Requested priority: (Blocking)

Products/sites affected:

#### Describe the issue:

We are unable to disable the link for the Pivot tabs or headers. As per doc, linkIsDisabled property should disable the link on the header. But th

[2018-07-30 22:29] dzearing commented on #5728
The LinkItem should have a `disabled` prop, if you'd like to submit a PR please free free!

[2018-07-30 22:37] dzearing commented on #5724
This maybe be default behavior of input radios. Can you please investigate? @natalieethell

[2018-07-30 22:53] #4886 closed

[2018-07-30 23:45] #5366 closed

[2018-07-30 23:45] #5672 closed

[2018-07-30 23:55] natalieethell commented on #5724
Hey! Just investigated and it looks like the default behavior of input radios on Firefox is different than in a browser like Chrome.

Here's a Codepen I made with both a radiogroup (made up of input radio elements) and a ChoiceGroup: https://codepen.io/naethell/pen/yqpZWo.

In Chrome, both the ChoiceGroup and the radiogroup have this expected behavior of focusing on the element immediately after.

[2018-07-30 23:58] philipzloh commented on #5021
Not just usage strings, we should not have two different aria labels at all!

It should be a role=switch with aria-checked=true|false (ARIA 1.1) or role=checkbox with aria-checked=true|false (ARIA 1.0).

[2018-07-31 03:31] cliffkoh commented on #5714
Hi Peter, could you run `npm ls > dep.txt` in your `common\temp` folder and share that txt file?

[2018-07-31 03:36] Jahnp commented on #5714
Thanks Cliff, that's a good idea--that thought had occurred to me but I hadn't thought to check the tree. I'll take a look and share back.

[2018-07-31 03:36] cliffkoh commented on #5716
Hi @shyama1208, our primary support scenario is Narrator on Edge. We're happy to make fixes in cases where we are not following Aria spec, but if we are otherwise adhering to W3C Aria spec, we don't make fixes for specific screen readers (a bug should be filed with the screen reader instead).

Please let us know if you have identified a specific code change that we should make to be in better adhe

[2018-07-31 04:14] Jahnp commented on #5714
Here's a dump: https://1drv.ms/t/s!AmfPnD1fEok_n_x6l1IV6uJYT9qjXA

I'll take a look soon.

[2018-07-31 04:30] cliffkoh commented on #5714
Thanks Peter. In your dump, you have jsdom@11.12.0 installed but on my local machine and in the npm_shrinkwrap.json (https://github.com/OfficeDev/office-ui-fabric-react/blob/0b3d2f0b993d82d67c8c42017698891f8a1269ad/common/config/rush/npm-shrinkwrap.json#L19595), we have an earlier version (11.11.0).

This should be the explanation for the difference in build behavior.

What I could do is to try to

[2018-07-31 04:41] cliffkoh commented on #5714
Hi Peter,

I have actually done a fresh clone and am not able to reproduce (which is what I expected otherwise our various CI processes including the daily publish will be failing).

Have you perhaps done a `rush generate` locally? If so, it would imply that the problem you hit is a real problem that will affect the next unfortunate soul to run that command. Probably, the right fix is to wait for

[2018-07-31 04:54] cliffkoh commented on #5711
@JasonGore I could take a closer look but is this and this class of issues fixed with your checkin?

[2018-07-31 04:55] cliffkoh commented on #5711
Hmm it is still broken in master :\

[2018-07-31 04:56] Jahnp commented on #5714
Hey Cliff, thank you for digging in! Great detective work. I did indeed run `rush generate`--I'd had some `rush install` issues which prompted rush to suggest running `generate`.

It seems reasonable to wait for a jest fix. Feels like we should keep this open until that's the case--thoughts?

[2018-07-31 04:57] cliffkoh commented on #5711
Co-assigning to @JasonGore because he has done a deep investigation of this today. Jason, please feel free to let us know if you will not have cycles to look into it.

[2018-07-31 05:03] cliffkoh commented on #5714
Are you blocked on needing to `rush generate`?

I have a suggestion for a workaround if so (manually edit npm-shrinkwrap.json to point to the old version of jsdom). I will update the title of this to be clearer.

[2018-07-31 05:08] Jahnp commented on #5714
Thanks! Before opening this issue, I was able to unblock myself locally with the existing version of jsdom by adding `'testURL': 'http://localhost'` to jest-resources per the discussion here: https://github.com/jsdom/jsdom/issues/2304

This seems to be a pretty common fix for this issue. I'd be willing to open a PR with this fix in the short term in case others hit this issue and also need to run

[2018-07-31 07:31] hoovercj commented on #5706
This is an issue in a couple other places as well:

* [Dialog](https://github.com/OfficeDev/office-ui-fabric-react/blob/5d0930647e631482b6016e0017aae0b5167b9f13/packages/office-ui-fabric-react/src/components/Dialog/DialogContent.base.tsx#L58)
* [Panel](https://github.com/OfficeDev/office-ui-fabric-react/blob/6b5463b99d55a9b540aade553668b2879e30963e/packages/office-ui-fabric-react/src/components/Pa

[2018-07-31 09:15] mdmdakbar opened #5730 "IconButton has always aria-hidden property set to true."
Products/sites affected: (if applicable) VSTS

Issue:
I am consuming IconButton component to render an icon. But that icon has aria-hidden property set to true(always), which is leading to some accessibility issues with narrator when scan mode is on.
Actually, when scan mode is on that button is not getting focus(blue colored focus when narrator is on) and get skipped.

Expected behavior:
While sc

[2018-07-31 09:48] AgnieszkaBajek opened #5732 "Teaching bubble - display issues on mobiles"
### Bug Report

- __Package version(s)__: 6.41.1
- __Browser and OS versions__: mobiles (tested on Chrome on Android and Safari on iPhone)

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Low

Products/sites affected: (if applicable)

#### Describe the issue:

Teaching bubble is not displayed correctly on mobiles.

#### Actual behavior:

 In some

[2018-07-31 11:23] NagarajuGaddam1 opened #5733 "Test cases are failing while using office react ui fabric"
FAIL  src\App.test.js
  ● Test suite failed to run

    E:\net_react\my-new-app\ClientApp\node_modules\office-ui-fabric-react\lib\Fabric.js:1
    ({"Object.<anonymous>":function(module,exports,require,__dirname,__filename,global,jest){export * from './components/Fabric/index';
                                                                                             ^^^^^^

    SyntaxError: Unex

[2018-07-31 11:33] Konradox commented on #5682
Hello @devinprejean
I have encountered the same issue. I used a quick workaround:
`
    private fixModal() {
        $('body > .ms-Layer.ms-Layer--fixed > .ms-Fabric.ms-Layer-content > div').removeAttr('style');
    }
`
I made a new component with this function firing in componentDidUpdate()
Hope it will help you. At least for now :)

[2018-07-31 11:36] AgnieszkaBajek opened #5734 "Mobile: Avoid sticky hover scenarios"
### Bug Report

- __Package version(s)__: 6.21.1
- __Browser and OS versions__: mobiles (Chrome on Android and Safari on iPhone)

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Low

Products/sites affected: (if applicable)

#### Describe the issue:

When user checks option in multiselect dropdown and then unchecks it tick still appears

#### Act

[2018-07-31 13:15] jspurlin commented on #5706
Those options are headings, they are not actionable items. According to aria 1.0, aria-level was not a required property: https://www.w3.org/TR/wai-aria-1.0/roles#heading and even in aria 1.1, it's not clear that it's required, note both 1.0 and 1.1state:

even though aria 1.1 also now has aria-level under "Required States and Properties" for role="heading" where aria 1.0 had it listed under "Supp

[2018-07-31 14:56] JasonGore commented on #5711
No, I only addressed import matching issues. It look like the script is currently written to only check relative paths, not absolute paths like package imports, so it doesn't find this class of issue.

[2018-07-31 15:50] JasonGore opened #5736 "New Component: CollapsibleSection"
## Component Details

CollapsibleSection is meant to be an simple composable component with two rendered areas, a title and a body. The body is collapsible and is simply composed of the children passed into CollapsibleSection.

CollapsibleSection can be used for both simple and complex scenarios. For example, a tree view is simply a composition of nested CollapsibleSections.

Also need to consider

[2018-07-31 15:56] JasonGore opened #5737 "New Component: Accordion"
## Component Details

An Accordion is a set of collapsible sections where only one is expanded at a time.

Accordion is meant to serve as an example of how some simple state control can take a simple component like CollapsibleSection and turn it into a higher order component by adding some simple state logic.

### Imports

### Exports/ Component Breakdown

### Intended Package
`@uifabric/experimen

[2018-07-31 16:36] devinprejean commented on #5682
Thanks @konradox for the workaround but it looks like you’re using jQuery. For us that is not an option.

[2018-07-31 16:41] JoshLamusga opened #5738 "Disabled dropdowns react to keyboard input when focused"
### Bug Report

- Version used in demo website
- Tested in Chrome on Windows 10

#### Priorities and help requested:

Are you willing to submit a PR to fix? **No**

Requested priority: **High**

Products/sites affected: **At least the demo site and the site I'm developing**

#### Describe the issue:

1. Go to the demo site (https://developer.microsoft.com/en-us/fabric#/components/dropdown).
2. Fin

[2018-07-31 16:54] Konradox commented on #5682
Of course, you can use pure JS in your case. I had a jQuery added to a project so I used it because it is cleaner. The goal is pretty clear. You have to remove inline styles to show this modal.

Here, take a working sample:
`document.getElementsByTagName('body')[0].getElementsByClassName('ms-Layer ms-Layer--fixed')[0].getElementsByClassName('ms-Fabric ms-Layer-content')[0].getElementsByTagName('di

[2018-07-31 18:12] #5077 closed