[2021-07-02 11:30] gouttierre commented on #18463
@janechu - Thanks for filing this issue with us.
@chrisdholt - Would you be able to able to review this issue and provide any updates when possible?

[2021-07-02 11:34] gouttierre commented on #18465
@racheliWeiss - Thanks for filing this issue with us and actively providing more information with the necessary CodePens for your problem.

@ling1726 -  Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-07-02 12:04] gouttierre commented on #18476
@WieserSoftware - thanks for filing this issue and providing the repro - I see your problem.

@ling1726 -  Would you be able to confirm if this is a regression, or if this behavior is an issue? The issue apparently does not repro in v7.

[2021-07-02 12:08] gouttierre commented on #18474
@kidokidozh - thanks for filing this issue with us.

@smhigley / @ling1726 -  Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-07-02 13:10] layershifter commented on #18801
I found out the reason, #18816 contains a proper fix 🚀

[code]

[2021-07-02 13:10] layershifter commented on #18810
I found the root reason and applied a proper fix in #18816.

[2021-07-02 13:10] #18810 closed

[2021-07-02 13:51] shujathkhan commented on #18801
I am getting a similar issue when I try `yarn build` to build everything,

[code]

[2021-07-02 15:11] lijunle commented on #18484
Had a discussion with @smhigley

See this comment for details: https://github.com/microsoft/fluentui/pull/18697#discussion_r662652772

I am closing this bug and looking forward to next major version with split button improvements.

[2021-07-02 15:11] #18484 closed

[2021-07-02 16:44] #18801 closed

[2021-07-02 17:11] ecraig12345 commented on #18801
@shujathkhan That's a different issue. Be sure you've run `yarn` before running `yarn build`, and if you still have this problem, please file a new issue.

[2021-07-02 21:13] chrisdholt commented on #18463
Yep, @janechu and I are on the same internal team - I'll be picking this up after we merge our vNext branch.

[2021-07-02 22:27] sivapalaniappan commented on #13541
I am seeing this as well. Is there a fix or workaround for this one ?

[2021-07-02 23:26] otaha2 opened #18826 "Screen Reader announce incorrect information as 'Toggle selection for all items' on toggle selection of a single file or folder."
### Environment Information

- **Tool**: NVDA/JAWS
- **Browser and OS versions**: Edge Version 92.0.902.30 (Official build) beta (64-bit)

### Describe the issue:

Screen reader announces 'Toggle Selection for All Items' upon navigation to or selection of the checkbox of a single item in the list.

### Please provide a reproduction of the issue in a codepen:

Repro instructions:
1. Navigate to che

[2021-07-03 04:00] #18712 closed

[2021-07-03 21:00] #11774 closed

[2021-07-04 00:00] #18782 closed

[2021-07-04 09:56] hetanthakkar1 commented on #18676
@ecraig12345 Should I solve this issue or you'll first have to confirm from design team regarding this

[2021-07-04 10:54] eszychli opened #18830 "ContextualMenu should become a Drawer for mobile devices"
#### Describe the feature that you would like added

ContextualMenu component should perform as a Drawer component for "small" breakpoint (maybe "medium" as well).
Currently, web apps using Fluent need to define different pop-up menus for mobile view (Fluent for Android / iOS = Drawer / BottomSheet) and for desktop view (Fluent for Web = ContextualMenu / Panel).

On UX perspective, it would be bet

[2021-07-04 20:00] #15937 closed

[2021-07-04 20:31] sandeepvootoori commented on #18718
This is what I ended up doing, Thanks for the suggestion.

[2021-07-05 04:00] #18596 closed

[2021-07-05 06:00] #18644 closed

[2021-07-05 10:40] yunicz commented on #9545
I just tested this new component and it's impossible to set default value for the time picker which makes it unusable for any edit form

[2021-07-05 14:15] rishabjainscorpio opened #18832 "[Accessibility] User unable to navigate drop down items using up or down arrow key in scan mode."
### Environment Information

- **Package version(s)**: 9.6.1-fluent2
- **Browser and OS versions**: Edge and Chrome

### Describe the issue:

#### Actual behavior:

#### Expected behavior:

[2021-07-05 17:00] #18391 closed

[2021-07-05 17:00] #18358 closed

[2021-07-05 17:00] #18306 closed

[2021-07-05 17:00] #18250 closed

[2021-07-05 23:00] #18776 closed

[2021-07-06 05:07] RishabhPokharna opened #18833 "LineChart: Reverse focus order does not work with Keyboard navigation from Legends to Chart"
### Environment Information

- **Package version(s)**: @uifabric/charting (Version "4.15.32")
- **Browser and OS versions**: Edge (Chromium), Windows 10

### Describe the issue:
In the LineChart component from @uifabric/charting npm package (Version "4.15.32"), while using Keyboard navigation, Reverse focus order (Using Shift+Tab key) does not work from the legends to the chart lines (except the f

[2021-07-06 10:29] ApoorvaPetkar opened #18834 "NVDA fails to read out the success message for Messager bar component for MessageBarType=success, but works for type error."
Below is the code I'm using the message bar with tostify.

[code]

Actual Behaviour: NVDA screen reader able to read out error message notification, but fails for the success message type.

Excepted Behaviour: NVDA should read out all kinds of Message Bar type.

[2021-07-06 16:21] czearing commented on #18767
I am curious if this may have to do with TeachingBubble's wrapper Callout. The [Directional Example](https://developer.microsoft.com/en-us/fluentui#/controls/web/callout) interestingly shows some similar behavior with the beak:

![Callout bug](https://user-images.githubusercontent.com/7192338/124634156-dd778880-de3a-11eb-8f38-cc78f84fe97c.gif)

[2021-07-06 17:00] #18467 closed

[2021-07-06 17:44] smhigley commented on #18832
@rishabjainscorpio selecting an item from a combobox's dropdown isn't expected to work in scan mode/virtual cursor. Even the native `<select>` element's dropdown isn't really navigable with virtual cursor. In order to actually change the value of a form field, users are expected to use forms mode (hence the name).

Could you elaborate on where the expectation is coming from, and provide a link and

[2021-07-06 17:57] #18370 closed

[2021-07-06 19:04] jazzAlston commented on #18183
Hello Sarah, this issue does not seem to be resolved.  How do I go about
reopening?

On Mon, Jun 28, 2021 at 10:47 AM Sarah Higley ***@***.***>
wrote:

[2021-07-06 19:08] JamesBurnside opened #18835 "Button menu flyout goes exceeds screen width and cannot be used if text is too long"
### Environment Information

- **Package version(s)**: "@fluentui/react": "~8.17.2",
- **Browser and OS versions**: Chrome 91.0.4472.124, Windows 10

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/jaburnsi/pen/bGWpdjP

#### Actual behavior:

Button menu goes out of the screen if text is too long:
![image](https://user-images.githubusercontent.com/2684369/124653932-c

[2021-07-06 21:10] ThomasMichon commented on #18611
Just because items in a `DetailsList` aren't selectable, it doesn't mean they aren't actionable. `DetailsList` and `SelectionZone` also accept an `onItemInvoked` callback, so that if the user's keyboard focus is on a row and they hit the enter key, an action will be taken.

A `DetailsList` should only become completely non-focusable if there is not an `onItemInvoked` callback set up for its rows.

[2021-07-06 22:06] makopch-ms opened #18836 "RTL styling doesn't get applied to VR-Tests"
### Please provide a reproduction of the bug in a codepen:
1. in <fluentRepo>\apps\vr-tests\src\stories\Button.stories.tsx
2. Add the following code to the baseProps
styles: {
    label: {
      marginLeft: '30px',
      marginRight: '5px',
    },
  },
3. 'yarn start' under vr-tests
4. navigate to the Button page (see styles are correct)
5. navigate to the Button-RTL page (see styles are not corre

[2021-07-06 23:00] #17886 closed

[2021-07-07 00:13] behowell commented on #13705
@kangka29 @naksenzh @Sanankh - did JustSlone's suggestion fix the issue for you?

[2021-07-07 01:24] czearing opened #18839 "(Callout) - Does not revaluate position after width and height modifications"
### Environment Information
- **Package version(s)**: V8 and V7

### Please provide a reproduction of the bug:
Example: https://codesandbox.io/s/withered-shadow-kxgmj?file=/src/App.js

When the component is initially rendered it correctly adjusts its position to best fit the screen.
![image](https://user-images.githubusercontent.com/7192338/124684568-4d5e3100-de84-11eb-8109-14b48245f1fb.png)

Howe

[2021-07-07 05:00] #18232 closed

[2021-07-07 08:01] ling1726 commented on #18834
I have tested the [MessageBar](https://developer.microsoft.com/en-us/fluentui#/controls/web/messagebar) examples with NVDA, the delayed render does work with NVDA and `role="status"` is announced on render.

Can you provide a repro example in codesandbox or codepen, since there is a lot of extra code in your example that could cause this issue such as toasify and custom CSS.

Additionally, you sho

[2021-07-07 08:37] arshadshibli opened #18843 "Teaching bubble fail to find target and showing a diamond shaped beak"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/fabric-react-typescript-template-forked-lbyoq

#### Actual behavior:
Teaching bubble failing to find the target element where it is supposed to point.
I have a sequence of teaching bub

[2021-07-07 09:33] bsunderhus opened #18844 "Migrates Converged component to use simplified prop merging"
Converged components should follow RFC #18642

## Required actions to migrate a component

### Checklist

- Remove `defaultProps` in `useCOMPONENT`
- Remove `mergeProps`
- Define type for slots
- (optionally) Define `COMPONENTCommons` type
- Update types for a component
- Update `getSlots()`
- Update `useCOMPONENTStyles()`

### Remove `defaultProps` in `useCOMPONENT`

[code]

📝Check also JSDoc com

[2021-07-07 11:26] ling1726 commented on #18836
The problem here is that the styling memoization does not recompute with RTL changes. I don't have enough context on v8 to know whether this is a bug or not but the same thing seems to happen in v7.

[code]

Here is a possible way to fix this. However, the same issue should occur in other places in v8 so I don't want to make an isolated fix for this.

[code]

@dzearing  @khmakoto please could you

[2021-07-07 11:31] ling1726 commented on #18836
This should not affect the actual result of VR-Tests since screener will visit each story as a new page load and each story will have the correctly computed styles

[2021-07-07 13:38] ling1726 commented on #18835
Assining @khmakoto who actively works on button scenarios.

However it seems to me that this is normal since by default none of the elements in the menuitem or the menu itself has a constrained width when setting `width: 100%`.  `text-overflow: "ellipsis"` needs a coinstrained width to work.

[2021-07-07 14:09] ling1726 commented on #18843
The screenshot and descriptions are great, but for a problem related to positioning it can be hard to look into without code. Please provide a code example or a minimal repro on codepen or codesandbox so we can identify if/where the issue is in fluent.

[2021-07-07 15:02] byronwjones opened #18849 "DatePicker styling TextField applies styles to incorrect HTML element"
### Environment Information

- **Package version(s)**: 7.170.1
- **Browser and OS versions**: Chrome (Windows 10)

### Please provide a reproduction of the bug in a codepen:

[https://codepen.io/byronwjones/pen/LYyNrGx](https://codepen.io/byronwjones/pen/LYyNrGx)

#### Actual behavior:

Top border of text field component of DatePicker should be red

#### Expected behavior:

Style is applied to the

[2021-07-07 15:41] tabrumle opened #18850 "Allow Dynamic Scaling on MessageBar"
#### Describe the feature that you would like added
Message bar currently requires the user to specify whether or not the messagebar in a singleline or multiline variant. This causes an issue when strings vary by localization. Users have to either have some message bars with double the height from being multiline when unneeded, or have text cut off in a single line message bar when either the text

[2021-07-07 16:45] arshadshibli commented on #18843
@ling1726
I could reproduce a similar bu in code sandbox
Here is the link - [https://codesandbox.io/s/fabric-react-typescript-template-forked-lbyoq](url)

Click coach mark without expanding Nav. It will work fine
![image](https://user-images.githubusercontent.com/36449762/124797721-372d9f00-df70-11eb-8fe4-ba84e6460a72.png)

**Click coach mark only after fully expanding Nav in such a way that nav o

[2021-07-07 17:29] Greg-Hitchon commented on #16566
@Rafaelki Thanks for the pen! Yeah we also have that issue and without actually testing it looks like it is from the `onPositioned` event within the callout:
![image](https://user-images.githubusercontent.com/3837138/124803320-f2314a80-df26-11eb-917e-abbd6dfab913.png)

As a workaround we just added `responsiveMode={ResponsiveMode.small}` as a workaround which uses the panel instead and avoids the

[2021-07-07 18:24] rachelgshaffer commented on #18800
I work for Azure Lab Services (https://labs.azure.com/) and we use this component to show the status and allow user to start or stop a VM. Accessibility team opened a bug for this citing the MAS reference above. If you need more context on the internal bug, let me know or feel free to ping me (alias: rashaf)

[2021-07-07 18:43] behowell commented on #18280
This appears to be a bug in Safari, which happens when the button sets the `pointer-events: none` style. The v7 button has `pointer-events: none` when it is disabled, but the v8 button does not.

This codepen demonstrates the bug without involving FluentUI or React: https://codepen.io/behowell/pen/vYmGKaB
In Safari, the second button doesn't change text color when its class changes, but in Chrome

[2021-07-07 18:59] behowell commented on #18280
I've reported this issue to Safari via https://www.apple.com/feedback/safari.html

[2021-07-07 19:00] makopch-ms commented on #18836
@ling1726 - This does repro on v7 too.

[2021-07-07 19:09] odhanson commented on #18280
Thanks @behowell . So are we planning to create a fix for v7 based on your suggested workaround?

[2021-07-07 19:17] behowell commented on #18280
@odhanson Yes we're going to cherry-pick the change that removed `pointer-events: none` from v8 into v7.

[2021-07-07 19:24] odhanson commented on #18280
Great thanks !

[2021-07-07 19:28] ling1726 commented on #18833
Assining @Raghurk  since they own the charting package now.

[2021-07-07 19:28] ling1726 commented on #18836
Since it does repo on v7 and isn't a new blocking issue in v8, lowering the priority

[2021-07-07 19:55] kemusag commented on #18280
Thanks so much @behowell
Glad you were able to find a fix for it :)

[2021-07-07 20:00] hetanthakkar1 commented on #18843
@ling1726 Can I take this issue

[2021-07-07 20:10] ling1726 commented on #18849
@smhigley as you're heading up the v8 a11y effort, appreciate if you could take a look at this, and let me know if I should adjust the priority accordingly with your expertise :). I've went with the requested priority for now

[2021-07-07 20:15] cvabanuk3 commented on #17916
@Aishwaryathota @miroslavstastny @smhigley
cc: @khmakoto

Just want to follow up on this issue, as this leads to Fast pass issues.
Definitely it's regression from below change, as we got aria-hidden as true in this under FocusTapZone.tsx file change, as we dont see this issue in prior versions,
https://github.com/microsoft/fluentui/commit/5e0957143308b2d1a3b49d0085b4a06eaf300404

Fast pass issue o

[2021-07-07 20:21] khmakoto commented on #17916
@cvabanuk3 as Sarah explains in #16277 this is an automated error and not a practical one. Given that I don't think we are going to be updating this anytime soon.

[2021-07-07 20:26] dkozar commented on #18839
That's right. From my experience the position seems to be fine, however the popup might be clipped by the screen edge.

So, it would be ideal if the callout could listen for it's content size changes, and place itself accordingly.

It's worth to add that I tried to solve this thing by using [ResizeObserver](https://web.dev/resize-observer/) (in order to react on child resize), but this introduces

[2021-07-07 20:37] jon-msft commented on #15363
Any update on this issue? We just got dinged again on an accessibility pass. Thanks!

[2021-07-07 21:54] lutorre opened #18854 "[Accessibility] TalkBack does not announce Pivot tabs position"
### Environment Information

- **Package version(s)**: Android 11
- **Browser and OS versions**:  Google chrome

### Describe the issue:

**Steps to reproduce:**

Open chrome browser and open a web page that contains a Pivot component with two or more tabs.

Link to component: https://fabricweb.z5.web.core.windows.net/oufr/8.22.1/#/examples/pivot

#### Actual behavior:

Talkback announces only the

[2021-07-07 22:19] khmakoto commented on #18622
Fixed in #18768.

[2021-07-07 22:19] #18622 closed

[2021-07-07 22:46] rachelgshaffer opened #18855 "Screen reader does not announce role of button in CommandBar"
### Environment Information

- **Package version(s)**: 8.22.0
- **Browser and OS versions**: Chrome 91.0.4472.106, JAWS 2021

### Describe the issue:

When using a screen reader, the role is not announced for buttons in a CommandBar component

### Please provide a reproduction of the issue in a codepen:

This is present in the Fluent samples here: https://fabricweb.z5.web.core.windows.net/oufr/8.2

[2021-07-07 23:00] #18774 closed

[2021-07-08 00:45] nawadih opened #18856 "[Accessibility][Screen Reader] Voiceover does not notify the user about the auto suggestions in PeoplePicker on Mac"
### Environment Information

- **Package version(s)**:     "@fluentui/react": "^7.129.0",
Device: MacBook Air
MAC OS: 11.3 Big Sur
Browser: Safari 14.0.3 (16610.4.3.1.7)
Screen Reader: Voiceover

### Describe the issue:

Screen reader does not announce the autosuggested list of names that appears when using people picker on Mac using voiceover. On windows this works correctly where the screen read

[2021-07-08 01:11] RashmiBal opened #18857 "Focus ring around the checkbox control should be visible on select/deselect with keyboard when NVDA is ON"
### Environment Information

- **Package version(s)**: https://developer.microsoft.com/en-us/fluentui#/controls/web/checkbox
- **Browser and OS versions**: Chrome Version 91.0.4472.124 (Official Build) (64-bit) + Windows 10 + Screenreader NVDA Version 2020.3

### Describe the issue:

1. Go to https://developer.microsoft.com/en-us/fluentui#/controls/web/checkbox on Chrome Browser
2. TAB to move foc

[2021-07-08 02:00] #18416 closed

[2021-07-08 02:00] #18398 closed

[2021-07-08 02:00] #18384 closed

[2021-07-08 06:46] sthigale-m opened #18860 "[Dialog] Narrator issue with Dialog when <Image> provided as title with alt"
Narrator issue with Dialog when <Image> provided as title with alt. Narrator keeps repeating the alt of image indefinitely.

https://user-images.githubusercontent.com/73924391/124874712-abeef080-dfe5-11eb-8504-78587449dcd1.mp4

### Environment Information

- **Package version(s)**: 8.22.1
- **Browser and OS versions**: Edge, Windows 10

### Describe the issue:

Narrator issue with Dialog when <Ima

[2021-07-08 07:37] RichardSunMS commented on #18250
@gouttierre , didn't pay attention to my mailbox so didn't see your ask 10 days ago.
Yes, I checked the doc of ComboBox, but didn't find a good way to implement my requirement. Can you suggest?

[2021-07-08 08:26] ling1726 commented on #18850
@behowell could you take a look at this and plan some time for discussion with the v8 core members in your crew ?

[2021-07-08 08:29] ling1726 commented on #18855
@rachelgshaffer can you please include some information on the screen reader(s) that you've tested where this issue occurs ?

[2021-07-08 08:34] ling1726 commented on #18856
@smhigley  could you see who on the v8 team could have time to look into this ? I can't even take a look since I unfortunately do not own a man 😅

[2021-07-08 09:26] Bhavana-Nimma commented on #16433
We too face similar kind of issue with TextField. We are using `onBlur` method to show the error message when, the value entered is incorrect and the focus is out.
But on clicking tab, focus is shifted to next focusable element and the error message which popped up is announced after announcing the element that got focused. Expected is to announce the error message immediately on tabbing out.

[2021-07-08 10:43] KishorePatel2005 opened #18863 "Disabling tab on non interactive lists."
Environment Information
Package version(s): 7.134
Browser and OS versions: Browser- Version 85.0.564.44 (Official build) (64-bit) & OS 19041.450
Describe the issue:
Upon Tabbing through the DetailList component, the Tab passes through the first row in list. This is not needed if the rows are non interactive. As a result the tab resulting in the row selection is redundant, since no action can be pe

[2021-07-08 11:56] theboyknowsclass opened #18864 "no keyboard option for show/hide password on string input"
Hi, when navigating via keyboard i can't seem to select the show/hide password box - nor can i find a documented shortcut key to toggle this without using a mouse.

### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:

### Please provide a reproduction of the issue in a codepen:

#### Actual behavior:

#### E

[2021-07-08 16:34] melb47 commented on #13705
I am still seeing this accessibility error, even though the combobox control has the ariaLabel. The individual numbers in the combobox have appropriate ARIA labels, however, the container itself does not.
![image](https://user-images.githubusercontent.com/65355931/124958513-3cc6cb80-dfe8-11eb-8abc-b84b6ffd9253.png)

If I use label instead, it passes accessibility, however, it adds a visible label

[2021-07-08 16:35] ling1726 commented on #18860
@sthigale-m I can't repro this issue in the docsite or this minimal repro: https://codesandbox.io/s/pedantic-frost-th0tl?file=/src/App.js:542-611

Can you just check if you have the same issue on that codesandbox ?

[2021-07-08 17:00] #15750 closed

[2021-07-08 17:00] #14863 closed

[2021-07-08 17:33] ling1726 commented on #18863
@paulgildea @khmakoto has there been any movement on this issue ? It seems that it's not possible to:
* Configure the focuszones  used in `DetailsList`
* Pass any DOM attributes directly to the row through `items`

@KishorePatel2005 here is a workaround you can do to make each row unfocusable:

[code]

[2021-07-08 17:36] ling1726 commented on #18863
Setting low priority since it can be worked around

[2021-07-08 17:48] ling1726 commented on #18857
Confirm that I can repro with NVDA. This focus ring will disappear only after checking/unchecking a checkbox.

@smhigley can you find an owner for this in in the v8 team ?

[2021-07-08 18:34] mltejera opened #18869 "DetailsList: Focus rect does not scroll current item into view with narrator turned on"
### Environment Information

- **Package version(s)**: 8.22.2
- **Browser and OS versions**: Win 10 + Edge

### Describe the issue:
Turn on Narrator
Navigate to any detailsList that scrolls
Use Ctrl+alt+up/down arrows to navigate the list.
Move down such that the blue focus rect goes below the view port allocated for the list

#### Actual behavior:

See that the blue focus rect moves below the vie

[2021-07-08 20:00] #18435 closed

[2021-07-08 20:03] #18280 closed

[2021-07-08 20:31] mltejera commented on #10905
Update on this topic.

In our DPv2 implementation noted above, that wraps this panel, we put the header and footer into the main body are at short window heights. This pattern broke down when there were long lists in the body area, forcing the user to tediously scroll.

We now have a boolean flag to opt out, keeping the sticky footer behavior, but shrinking the vertical padding from 16->8px to get

[2021-07-08 21:44] isabelacmor opened #18870 "Using Icon with custom iconName doesn't pass along aria-label or role"
### Environment Information

- **Package version(s)**: ^7.158.1
- **Browser and OS versions**: Anaheim 91.0.864.64

### Describe the issue:

We're using Icon like:
![image](https://user-images.githubusercontent.com/4714094/124993094-bb2b6980-dff8-11eb-89fc-e7097baef26b.png)

which renders:
![image](https://user-images.githubusercontent.com/4714094/124993138-c9798580-dff8-11eb-88bd-0bf1d200e38e.png

[2021-07-09 02:57] 2metres opened #18872 "Using the theme to store typographic variations"
I am creating an application that features a code block and would like to have something like `monospaceFontStyles` that I can store CSS properties on the theme.

I saw that @micahgodbolt mentioned something like this in #7385 but that issue has subsequently been closed by the issue bot.

Are there any best practices/reccomendations for adding new variants to the theme outside of the xs - mega siz

[2021-07-09 06:31] ling1726 commented on #18869
@smhigley  I am not very aware of correct screen reader behaviour here, could you confirm if this is a bug ?

[2021-07-09 06:48] ling1726 commented on #18870
This issue no longer repros with the latest v7 patch: ^7.172.4. It is recommended you get to the latest patch since it is non-breaking

You can try it on the docsite: https://developer.microsoft.com/en-us/fluentui?fabricVer=7#/controls/web/icon

[2021-07-09 06:50] ling1726 commented on #18872
@JustSlone  can you see that this is discussed with the core v8 team ? There are more details in the previous closed issue: #7385

[2021-07-09 07:15] ling1726 commented on #18855
@smhigley I unfortunately don't have JAWs but the issue will repro with NVDA. However in NVDA this is by by design according to nvaccess/nvda#8654

I couldn't find a similar argument in JAWs issues, hoping you can shed some light on JAWs here.

[2021-07-09 10:38] Renuka8796 opened #18877 "Required ARIA child role not present for Multiselect dropdown while Fastpass Accessibility is testing."
**Environment Information:**
Package version(s): "@fluentui/react": "^8.22.3",
Browser and OS versions: chrome and Windows 10
**Describe the issue:**
Required ARIA child role not present for Multiselect dropdown while Fastpass Accessibility is testing.

Please provide a reproduction of the issue in a codepen: https://developer.microsoft.com/en-us/fluentui#/controls/web/dropdown

**Actual behavior:

[2021-07-09 12:25] theboyknowsclass commented on #18864
apologies, i thought it referenced the control already...

it's the TextField control

this behaviour can be evidenced in the web control demo -> https://developer.microsoft.com/en-us/fluentui#/controls/web/textfield in the "Password with reveal button" control

[2021-07-09 12:41] UMAMAHESHWARIG opened #18878 "Input listen to clearable, reset the value on click X icon"
### Environment Information

- **Package version(s)**: (@fluentui/react-northstar@0.56.0)
- **Browser and OS versions**: (91.0.4472.124 ()

### Describe the issue:

#### Actual behavior:

#### Expected behavior:

### If applicable, please provide a codepen repro:

### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested pri

[2021-07-09 16:15] fildahui opened #18882 "CommandBarButton primary styles"
The `CommandBarButton` component extends the `IButtonProps` interface therefore it has the `primary` prop available too.
Looking at the source code, though, its styles do not take that into consideration (eg, calling `primaryStyles(theme)` similarly to what happens for the `DefaultButton` component) but I couldn't find anything in the documentation saying that the prop is ignored for certain type

[2021-07-09 16:37] rachelgshaffer commented on #18855
Apologies for not including that information. I tested with Chrome + JAW. The accessibility bug opened against my team had the comment "This issue also exists with Firefox + NVDA & Edge(Chromium) + Narrator."

[2021-07-09 17:24] czearing opened #18883 "(Callout) - Does not revaluate directionalHint modifications in V8"
### Environment Information

- **Package version(s)**: V8

### Please provide a reproduction of the bug in a codepen:

V8 `Callout` does not update the **directionalHint** when state is changed:
https://codesandbox.io/s/directional-hint-example-v8-rfigk?file=/src/App.tsx

V7 (expected behavior): https://codesandbox.io/s/directional-hint-example-v7-6rs34

#### Actual behavior:
When updating the  **

[2021-07-09 18:16] BerserkerDotNet commented on #18425
@tomsato-ms @gouttierre @miroslavstastny, Looking at the [PR that introduced this change](https://github.com/microsoft/fluentui/pull/16874/files) I can see that `targetWidthProportion` is not used, instead there is `flexGrow` with exactly the same comment (without a typo ;)) and it works as expected if layout mode is set to fixed columns. `layoutMode={DetailsListLayoutMode.fixedColumns}`

Addition

[2021-07-09 19:05] isabelacmor commented on #18870
@ling1726 - our codebase updated to "@fluentui/react": "^8.15.1" and we're still seeing the same repro. Note that this only happens with custom iconNames.

It look like there might be a bug in `IconBase.prototype.render = function () {` where `containerProps` that holds `aria-label`. When I include `aria-label` and `role`, I get the nested `<i>`s and the `role` and `aria-label` aren't passed down

[2021-07-09 20:13] khmakoto opened #18886 "Slider Convergence"
# Preparation:

- [x] Started prep
- [x] Open UI Research complete
  - [link to https://open-ui.org/](https://open-ui.org/components/slider.research)
- [x] Comparison on v8 and v0 complete
- [x] Gather open GitHub issues related to component
- [x] react-slider package scaffolded
  - [link to the package](https://github.com/microsoft/fluentui/tree/master/packages/react-slider)
- [x] Slider Spec aut

[2021-07-09 20:57] ltackett commented on #18869
I'm running into a similar issue with the basic `<List />` component, and although it was initially reported to my team as an accessibility bug, we've discovered that it doesn't appear to be solely related to a11y. I am able to reproduce the issue by scrolling very slowly. In some cases, it can be quite severe:

![image](https://user-images.githubusercontent.com/12592/125134598-7537d980-e0bc-11eb-

[2021-07-09 23:37] behowell commented on #13705
It looks like the bug is that when you set `ariaLabel` on the ComboBox, it doesn't set the aria-label of the dropdown list element (with `role="listbox"`), is that correct? The expectation being that `<ComboBox ariaLabel="Example" />` would set the `aria-label` on both ComboBox's anchor element, _and_ dropdown list element. I'll submit a PR with the fix for that.

[2021-07-10 05:09] modern-dev-dude commented on #18883
@czearing
The issue is when you override the style prop it messes with the positioning.

https://codesandbox.io/embed/directional-hint-example-forked-oq2ji?fontsize=14&hidenavigation=1&theme=dark

Try this
[code]

[2021-07-12 07:26] Architecd opened #18897 "Figma plugin - link broken"
Hi,

unfortunately the link to the figma plugin is broken on my end.
I'm just getting a 404 page, regardless of which browser I use and it doesn't show up within figma either.
https://www.figma.com/community/plugin/794492287931420611/Fluent-Theme-Designer

It's pretty much the same issue as #13943, which got closed unresolved a few days back.

Does anyone have an idea how I might get the plugin to

[2021-07-12 09:43] molyom opened #18899 "onItemDeselected : Missed this event."
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Describe the issue:

There is no Event for Deselect. If I use OnChage it gives me all present Items and I dont know what is the deselected Item.

#### Actual behavior:

With onChange I get an array. It is good Idea if in OnChange it return the name of action : like

[2021-07-12 11:15] ling1726 commented on #18877
This seems to violate WCAG 1.3.1. The current dropdown HTML output is a listbox wrapped around groups, which seems to be causing an issue with axe. I've tested with NVDA and Narrator, and the positions (1 of 7 etc...) are narrated correctly but in virtual cursor mode that's where you end up getting the group role and the headers.

@smhigley do you think this will cause a legitimate narration issue

[2021-07-12 11:20] ling1726 commented on #18864
Next tab from the input will actually focus on the eye icon, which allows you to press `Enter` or  `Space` to hide/reveal the password.

However, there is no indication that the eye icon button actually has focus, this is a a but, I will close this issue and create a new one for that

[2021-07-12 11:20] #18864 closed

[2021-07-12 11:23] ling1726 opened #18900 "bug(TextField): Password text field has no focus indicator for eye icon button"
### Environment Information

- **Package version(s)**: ^8.0.0
- **Browser and OS versions**: Chromium edge/Chrome

### Describe the issue:

TextField password variant does not have a focus indicator on the eye icon

### Please provide a reproduction of the issue in a codepen:

[Repro on official docsite](https://developer.microsoft.com/en-us/fluentui#/controls/web/textfield)

#### Actual behavior:

[2021-07-12 11:24] ling1726 commented on #18900
@behowell please find a home for this in the v8 team

@theboyknowsclass Created this issue from #18864

[2021-07-12 11:27] ling1726 commented on #18878
Please create a new issue or reopen this one with more details and repro steps. Is this a bug or a feature request ?

[2021-07-12 11:27] #18878 closed

[2021-07-12 12:09] chintanupadhayay opened #18901 "CircleHalfFull icon is smaller than others"
**Environment Information**
Package version(s) : Office UI Fabric React 6.189.2 *(edit: also repros in v8, `@fluentui/font-icons-mdl2` 8.1.8)*
Browser: Chrome

**Describe the issue:**

We are using office fabric icons for our SPFx React app. We have used **CircleHalfFull** but it showing a small size in our app if we compare it with other icons. Seems something wrong with the font family.

Is poss

[2021-07-12 12:16] gouttierre commented on #18477
@mwangi-njuguna - Thanks for reaching out. I’ve added this to our backlog for review but it’s low on our priority list as we’re likely not going to get to it immediately due to the fact we’re currently focused on larger coherence work items and enhancements to our performance. If you come up with a solution in the interim please, feel free to submit a PR for the feature.

[2021-07-12 12:17] ling1726 commented on #18882
From what I see, `CommandBarButton` uses the `BaseButton` component which does not include the `primary` styling. The styling for `primary` is only included with `DefaultButton`

@behowell  can you consult the v8 team and see if this is a bug or by design ?

[2021-07-12 12:19] ling1726 commented on #18855
NVDA seems to consider this behaviour as `by design` according to the issue I linked: nvaccess/nvda#8654

However, I can't find any similar statements for other screen readers, will need to defer to @smhigley's expertise on this one I'm afraid

[2021-07-12 12:20] gouttierre commented on #18487
@Debml - Thanks for reaching out and filing this issue with repro details.

@ling1726 -  Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @smhigley

[2021-07-12 12:26] gouttierre commented on #18488
@jieqiu0129 - Thanks for reaching out and submitting this issue with the codepen.

@ling1726 -  Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-07-12 12:32] gouttierre commented on #18510
@Link631  - Thanks for filing this, but you’ll need to add a CodePen repro before we can help. You can start from one of the examples (click “Export to CodePen”) or https://aka.ms/fluentpen.

[2021-07-12 12:34] gouttierre commented on #18518
@thure - thanks for reaching out to us.

@kolaps33 - Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-07-12 12:35] ling1726 commented on #18870
@behowell  is there anyone on the v8 team to check if this is a valid usage of `Icon` ?

It seems that image icons should be used with either `ImageIcon` component or `Icon` with the appropriate `IconType` prop.

@isabelacmor here is an example of an image icon that correctly passes the aria-label and role: https://codesandbox.io/s/wild-moon-6bnsh?file=/src/App.js, I'm not quite sure how you're en

[2021-07-12 12:38] gouttierre commented on #18520
@kejatura - Thanks for reaching out and filing this issue with the repro details.

@ling1726 - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @smhigley this works for NVDA and Narrator.

[2021-07-12 12:43] gouttierre commented on #18522
@Hirse - Thanks for filing this issue with us.

@kolaps33 - Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-07-12 12:45] ling1726 commented on #18897
@paulgildea This link also directs to a 404 for me, has there been any follow up from the previously closed issue #13943 ?

[2021-07-12 12:47] gouttierre commented on #18523
@UmamaheshwariGolla - thanks for reaching out with your request of adding icon text below icon of button.
I’ve added this to our backlog for review but it’s low on our priority list as we’re likely not going to get to it immediately due to the fact we’re currently focused on larger coherence work items and enhancements to our performance.

[2021-07-12 12:48] ling1726 commented on #18899
@molyom can you please include in the issue description the component that you are talking about here ?

[2021-07-12 12:49] gouttierre commented on #18575
@mirestom - thanks for filing this issue.

@ling1726 -  Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-07-12 12:52] gouttierre commented on #18598
@aubreyquinn - Thanks for reach out.

@kolaps33 - I see you were investigating this issue - thanks for that. I will assign the issue to you and update the labels.

[2021-07-12 12:56] gouttierre commented on #18546
@ecraig12345 - I will assign this item to @kolaps33.

[2021-07-12 13:00] gouttierre commented on #18784
@Agalin - thanks for filing this issue with us.

@Raghurk - Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-07-12 13:05] gouttierre commented on #18686
@Bhavana-Nimma - thank you for reaching out to us and providing the details around the issue with HC.

@ling1726 -  Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-07-12 13:07] gouttierre commented on #18753
@PoojaOtari - Thanks for filing this, but you’ll need to add a CodePen repro before we can help. You can start from one of the [dropdown ](https://developer.microsoft.com/en-us/fluentui#/controls/web/dropdown) examples (click “Export to CodePen”) or https://aka.ms/fluentpen.

[2021-07-12 13:07] ling1726 commented on #18899
If you are talking about some sort of dropdown/selectable, natively there is no `onItemDeselected`. The correct way to do this in web is to get all the selected options. Here is an example with the native HTML select: https://codesandbox.io/s/epic-bose-0i6n8?file=/src/App.js:138-139

If you include the component you're referring to here, this can be considered a feature request

[2021-07-12 13:08] molyom commented on #18899
Hi, I need to detect the item that removed from the Selected tags.
If I use OnChange, after every change all of I get all Remain Items.

For Example: If I have these tags: RED, BLUE, BLACK.
Then I Remove BLACK, In OnChange Event I will have an array with BLUE and RED.

The expected is when we remove an item, we can find the data of removed item data.

[2021-07-12 13:10] molyom commented on #18899
Im talking about this:
https://developer.microsoft.com/en-us/fluentui#/controls/web/pickers

[2021-07-12 13:10] ling1726 commented on #18901
@tomi-msft  could you please take a look at this or direct this to someone who can investigate the svg ?

[2021-07-12 13:22] jazzAlston opened #18902 "DatePicker 400% Zoom not working"
Browser and OS versions: Google Chrome /Windows 10
Describe the issue:
We browser zoom of 400% applied the DatePicker does not apply scrollbar.

https://codepen.io/jazz8603/pen/vYxGXoE

Actual behavior:
User cannot see the calendar when browser zoom of 400% is applied.

Expected behavior:
When DatePicker is zoomed to 400% user should be able to scroll to see all content

Documentation describing e

[2021-07-12 13:35] Hotell opened #18903 "`babel-make-styles` plugin causing build failures after migrating react-avatar to new DX"
After migrating `react-avatar` to new DX via `yarn nx workspace-generator migrate-converged-pkg` build started failing

---

The CI file is caused by `babel-make-styles` plugin:

**Current:**

![2021-07-12 at 13 51](https://user-images.githubusercontent.com/1223799/125283016-49189480-e318-11eb-8e33-76a321a31e75.png)

**After removing make styles plugin from babelrc:**
![2021-07-12 at 13 56](https:

[2021-07-12 13:36] gouttierre commented on #18688
@aplum - thank you for filing this issue with us.

@ling1726 -  Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-07-12 13:36] Hotell commented on #18903
quick fix provided by @layershifter

This looks like an issue with `@linaria/shaker`, I will debug the problem and report it. Currently, to unblock the PR I suggest to apply the following change:

[code]

[2021-07-12 13:39] gouttierre commented on #18707
@RishabhPokharna - thank you for fling this issue with us.

@ling1726 -  Would you be able to confirm if this is a regression, or if this behavior is an issue where text appears disabled in high contrast mode?

[2021-07-12 13:42] gouttierre commented on #18725
@tabrumle - thank you for reaching out to us with your request. I’ve added this to our backlog for review but it’s low on our priority list as we’re likely not going to get to it immediately due to the fact we’re currently focused on larger coherence work items and enhancements to our performance. However, in the interim, if you are able to come up with a solution and wish to submit a PR for this

[2021-07-12 13:43] ling1726 commented on #18487
The issue here is that `FocusZone` needs a `role="presentation"` attribute. This is the current DOM output. The output is a far cry from [the recommended WAI menu](https://www.w3.org/TR/wai-aria-practices-1.1/examples/menubar/menubar-2/menubar-2.html). The proposed fix will resolve this issue, but it is recommended to clean up the amount of wrapping elements here in the future

[code]

[2021-07-12 13:43] gouttierre commented on #18786
@Agalin - thanks for reaching out to us.

@Raghurk - Would you be able to confirm if this is a regression, or if this behavior is an issue? Thanks

[2021-07-12 13:44] gouttierre commented on #18833
@RishabhPokharna - thanks for reaching out to us.

@Raghurk - Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-07-12 13:45] ling1726 commented on #18487
@JustSlone please review the proposed fix for the backlog of the v8 team

[2021-07-12 13:53] gouttierre commented on #18531
@lynamemi - Thank you for the information shared - would you be able to share a CodePen for this to further help the engineering team?

@ling1726 - Providing the issue context is sufficient for you to resume investigation - would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-07-12 13:56] gouttierre commented on #18902
@jazzAlston - Thank you for reaching out to us.

@smhigley - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @ling1726

[2021-07-12 14:14] ling1726 commented on #18488
@jieqiu0129 This is a bug for `ContextualMenu`. As workarounds you can:
* use the `DefaultButton` variant with `menuProps` which will work.
* use `shouldFocusOnMount={false}` in your example to make it work. Here is a repro of this workaround here: https://codesandbox.io/s/interesting-https-wt869?file=/src/App.js, however you should managed focus appropriately for your a11y

From first investigati

[2021-07-12 14:19] ling1726 commented on #18575
This is a bug in v8, and is being fixed in converged with a new hook in #18881 which forces consumers to declare an explicit initial state.

@gouttierre  feel free to assign someone in the v8 team to port that implementation to v8 as a fix

[2021-07-12 14:41] ling1726 commented on #18686
This is definitely an a11y bug that should be fixed. The v8 `IconButton` adds a background color when disabled in HC:
![image](https://user-images.githubusercontent.com/20744592/125306938-ec28d880-e32f-11eb-8911-8c65147e4510.png)
![image](https://user-images.githubusercontent.com/20744592/125307064-0498f300-e330-11eb-8c36-460322281ff7.png)

Ideally the fix here should follow a similar pattern.

[2021-07-12 15:00] gouttierre commented on #18535
@syedinaqvi - Thank you for reaching out to us and filing this issue.

@smhigley - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @ling1726

[2021-07-12 15:09] gouttierre commented on #18647
@lifwan  - thanks for filing this item with us.

@smhigley - Would you be able to confirm if this is a regression, or if this behavior is an issue? Thank you!
cc @ling1726

[2021-07-12 15:29] melb47 commented on #13705
@behowell That sounds correct. In the Accessibility Insights, the `aria-labelledby="ComboBox214-label"` is referencing something that doesn't exist in the code, because there is no `label`, just `ariaLabel`:
`<ComboBox
                styles={{
                    root: {
                        maxWidth: "55px",
                    },
                }}
                ariaLabel="Page"

[2021-07-12 15:49] ling1726 commented on #18899
@molyom  Here is an example where you can achieve what you want using the `onRenderItem` callback: https://codesandbox.io/s/rough-sunset-xf4r6?file=/src/App.js

I've marked this issue as a feature request @gouttierre can you add this item to the v8 backlog ?

[2021-07-12 15:53] ling1726 commented on #18688
The root cause of this issue is the same as #18575 with the `useControllableValue` hook.

However, the typings should also be fixed to allow `null` as a value

[2021-07-12 16:08] andrefcdias opened #18906 "Support for `export * as namespace from localpackage` from API Extractor"
The purpose of this issue is to track the current dependencies on this functionality.

PR's affected by this:
- #18778
- #18896

API Extractor issue: https://github.com/microsoft/rushstack/issues/2780

[2021-07-12 16:22] smhigley commented on #18218
This exact issue has been discussed a number of times between different accessibility specialists and screen reader users, and the conclusion was to not create custom announcements for actions that take place immediately and are predictable based on the context and names of controls.

This scenario (a clear button that immediately deletes an input's text) falls into the category of things that sho

[2021-07-12 16:22] #18218 closed

[2021-07-12 16:29] ling1726 commented on #18897
Triaging hipri since this is on the official docsite for customers

[2021-07-12 16:33] smhigley commented on #18405
This is a Narrator bug; it looks like it doesn't respect the `aria-valuetext` attribute, and also for some reason has trouble with the custom string in the `value` attribute (which actually shouldn't even be used when `-valuetext` is present). I would guess that Narrator approaches spinbuttons solely by calculating the numeric value, and can't handle custom text.

We should log a bug against Narra

[2021-07-12 16:34] ling1726 commented on #18870
Keeping as lopri for now until we can determine if this is correct usage or not

[2021-07-12 16:38] smhigley commented on #18309
My first thought would be to switch from a full background selection style to an inset outline, so the text in selected items is against the high contrast background color. That should also help non-disabled items as well, since the white text on a blue background has kinda low contrast for high contrast mode, and it could potentially be much worse if someone sets custom colors.

That said, this i

[2021-07-12 16:46] szmarci commented on #16654
We are also experiencing this issue, when zoom level is either 80 or below. We have a ScrollablePane, inside there is a DetailsList component with sticky header & footer.

[2021-07-12 17:13] smhigley commented on #18520
It looks like the issue is that `aria-describedby` is on the TooltipHost, and not on the element that is being described (in this case, the button). That said, JAWS doesn't read descriptive text on default verbosity settings. You'd need to change that in the user settings to get the tooltip, even after the fix. The reason this works in Narrator and NVDA right now is because the button in that exam

[2021-07-12 17:17] smhigley commented on #18686
Ah, this is because we use the `aria-disabled` attribute instead of the HTML `disabled` attribute to prevent focus being lost when the buttons become disabled.

That's necessary, but also means we need to add custom high contrast disabled styles :/. We should be able to use the system color keyword for disabled text and set the button text color to that in a forced-colors media query.

[2021-07-12 17:22] smhigley commented on #18902
Datepicker and Calendar were already updated to always have an overlaid month picker (so no side-by-side day and month grids) at high zoom. It shouldn't need a scrollbar to use, since the width is well under 320px.

@jazzAlston could you provide a screenshot of what you're seeing at 400% zoom?

[2021-07-12 17:32] smhigley commented on #18849
This seems to be caused by us putting the `textField` className directly on the TextField component, and not on the input within it in DatePicker.

That said, this isn't an a11y issue, and I don't really feel familiar enough with the style authoring experience in v8 to comment on the severity of this one.

[2021-07-12 18:16] smhigley commented on #18535
The behavior in the bug description is not the correct expectation for a combobox. All comboboxes announce that they have some type of popup, regardless of the specific mechanism to open it. I agree that not showing the suggestion list until someone starts typing is a bit weird outside of certain specific situations (e.g. an email "to" line), but it's still a combobox with a popup.

Removing `aria

[2021-07-12 18:16] #18535 closed

[2021-07-12 19:19] ibrosen opened #18908 "TextField's `canRevealPassword` button shows no outline on focus"
### Environment Information

- **Package version(s)**: @fluentui/react v ~8.22 (it repro'd on a clean version of the main branch as of the posting of this issue)
- **Browser and OS versions**: Windows 10, Edge and Chrome v latest (it's not a browser / OS problem)

### Describe the issue:

When tabbing to the "Reveal Password" eye icon, no focus outline is shown.

#### Actual: (yes this is w/ the i

[2021-07-12 19:23] ibrosen commented on #18908
#18909

[2021-07-12 21:15] ecraig12345 commented on #18531
A codesandbox would actually be more helpful here (aka.ms/fabric7sandbox) since multiple packages are involved and it's easier to see the dependency versions on codesandbox.

[2021-07-12 21:16] ecraig12345 commented on #18531
Also, I think the "right" solution here is to update `office-ui-fabric-react` in the `7.0` branch to re-export ThemeProvider, so it can just be imported from there which guarantees the correct version. This would also be more consistent with what people need to do in version 8, reducing confusion.

[2021-07-12 21:22] ecraig12345 commented on #18908
Duplicate of #18900

[2021-07-12 21:22] #18908 closed

[2021-07-12 22:21] ecraig12345 commented on #18611
In response to the PR, I made [this codesandbox](https://codesandbox.io/s/18611-detailslist-without-hover-styles-9ceox?file=/src/index.tsx) demonstrating how to disable the hover styles (since that's what the PR covered). I'm leaving the sandbox link here in case it's useful to anyone, but on reading through the issue, the real problem is *focusability* not just styling.

The fundamental issue her

[2021-07-13 02:29] jieqiu0129 commented on #18488
@ling1726 Thanks for your investigation! The workaround work for me

[2021-07-13 04:11] thekeviv commented on #17893
@miroslavstastny @layershifter
I am using FluentUI 8.22.3 in a nextjs project with nextjs version 11.0.1.

I get the useLayoutEffect warning for many more components I use. I'm not sure if the tasks completed above fixes issues with the components I am seeing them in as well.

[code]

If it's relevant, here's my _document.tsx file:

[code]

[2021-07-13 07:25] RishabhPokharna commented on #18833
+cc: @Ramesh ***@***.***>, @Vibhor ***@***.***>, @Anupam ***@***.***>
________________________________
From: Gogomes ***@***.***>
Sent: Monday, July 12, 2021 7:15 PM
To: microsoft/fluentui ***@***.***>
Cc: Rishabh Pokharna ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/fluentui] LineChart: Reverse focus order does not work with Keyboard navigation from Legends to Chart (#18833)

@Risha

[2021-07-13 07:26] RishabhPokharna commented on #18707
+cc: @Ramesh ***@***.***>, @Vibhor ***@***.***>, @Anupam ***@***.***>
________________________________
From: Gogomes ***@***.***>
Sent: Monday, July 12, 2021 7:09 PM
To: microsoft/fluentui ***@***.***>
Cc: Rishabh Pokharna ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/fluentui] DatePicker placeholder text appears disabled in High contrast mode (#18707)

@RishabhPokharna<https://nam06.

[2021-07-13 08:33] layershifter commented on #17893
@thekeviv this issue related to `@fluentui/react-components` aka `vNext` (v8 is `@fluentui/react`). Can you please create a separate issue for your problem?

[2021-07-13 11:21] molyom commented on #18899
Thanks a lot, dear @ling1726 .  the last example helps me to find a quick solution,
I insist that it's better way if there is an event for Deselect items. But your Example is good for me in this case.
Kind regards

[2021-07-13 11:21] #18899 closed

[2021-07-13 11:55] jurokapsiar opened #18913 "Button's iconOnly variant has invalid hover style when disabledFocusable is used"
### Environment Information

- **Package version(s)**: 0.56
- **Browser and OS versions**: all

https://codesandbox.io/s/fluent-ui-example-forked-2f5dr

#### Actual behavior:

Hovering over a disabled focusable button changes the icon fill

#### Expected behavior:

Hovering over a disabled focusable button should not change the fill of the icon
To resolve, add a condition to the buttonStyles:
[cod

[2021-07-13 12:13] AkiraVoid opened #18914 "DetailsList: use the same width for each column"
#### Describe the feature that you would like added

The auto-adjustment for column width seems to be difficult, but how about just using the same width for each column? Can we have a setting to let the component calculate an average value of each column's width by the total width and columns count?

#### What component or utility would this be added to

DetailsList

#### Have you discussed this f

[2021-07-13 12:43] ling1726 commented on #18222
@Ashwin-Nikam  the v8 callout does not support repositioning on scroll by default, this is something that you need to handle yourself. Here is a codepen with a possible way of doing it.

https://codepen.io/ling1726/pen/XWRpWxj

[2021-07-13 12:57] ling1726 commented on #18227
This is definitely a bug, on 400% the beak starts to render, however on 100% zoom there is no beak rendering

[2021-07-13 14:07] ling1726 commented on #18273
@jendowns
Programmatic focus natively does not create a focus-indicator, similarly to when you open a modal dialog, it will trap focus but no indicator will be visible on the first focused element.

Adding a focus indicator just for `Coachmark` would be incosistent to native behaviour and create inconsistency in the library since not every component use case might have this requirement. In this ca

[2021-07-13 14:24] thekeviv opened #18916 "Using FluentUI/react in server rendered environment with Nextjs throws useLayoutEffect warning"
### Environment Information

- **Package version(s)**:

fluentui/react 8.22.3
nextjs 11.0.1

#### Actual behavior:

Using fluentui/react components in server rendered environment in Nextjs 10 throws a useLayoutEffect warning. I first reported it [here](https://github.com/microsoft/fluentui/issues/17893#issuecomment-878762647) and was asked to create a separate issue for this.

Can you please also

[2021-07-13 14:27] Hotell opened #18917 "storybook: running sb with new DX for vNext is causing ton of babel warnings"
### Describe the issue:

**BEFORE:**

`yarn workspace @fluentui/react-menu storybook`

↓↓↓↓

![2021-07-08 at 18 10](https://user-images.githubusercontent.com/1223799/124956052-e1accd00-e017-11eb-821f-c563d878f3e9.png)

**AFTER:**

![2021-07-08 at 18 11](https://user-images.githubusercontent.com/1223799/124956143-fd17d800-e017-11eb-88d9-3f741175eb73.png)

---

- during troubleshooting I applied sin

[2021-07-13 15:27] ling1726 commented on #18916
Looking at v8 code, it seems there is some usage of `useLayoutEffect` in the library. I think the correct way forward is to remove them and introduce `useIsomorphicLayoutEffect` similar to v0 and vNext.

FYI @ecraig12345 do you think this makes sense as a proposed fix ?

[2021-07-13 15:32] thekeviv commented on #18916
@ling1726 Our app is still under heavy development but I don't believe there have been any behavioural issues so far.

I was looking for some guidance from the team on that regard if there can be behavioural issues and how they can be avoided.

[2021-07-13 15:44] ling1726 commented on #18418
@EYHN this issue is caused by the `TeachingBubble` having a `FocusTrapZone` nested inside it. Even when there are no buttons declared in props, empty focusable buttons are rendered. This could be an a11y bug @smhigley. The focus trap will blur the dropdown callout and cause it to dismiss

In your case since you don't use any buttons in your example you might not need to trap focus, here is an exam

[2021-07-13 16:25] JamesBurnside commented on #17804
@tomi-msft several icon components seem to pass the primaryFill prop directly onto html elements like `span` causing react to spew errors:
![image](https://user-images.githubusercontent.com/2684369/125488525-a64b63ec-9ca4-4967-a207-a56094801d1d.png)
![image](https://user-images.githubusercontent.com/2684369/125489267-6f002a0c-da69-4854-864f-7881791523aa.png)

Is there any work for a fix without ha

[2021-07-13 16:33] #13705 closed

[2021-07-13 17:31] ecraig12345 commented on #9545
@yunicz That's a known limitation of the initial implementation. Can you please make a feature request?

[2021-07-13 17:31] #18718 closed

[2021-07-13 17:33] ecraig12345 commented on #18676
@hetanthakkar1 Thanks for checking and sorry for the delayed response! You can go ahead with this one, since it's definitely not intentional. (I don't have a good idea offhand about why it might be happening.)

[2021-07-13 21:16] PorterNan opened #18924 "Unable to focus outside modeless modal"
### Environment Information
Package version(s): 8.17.4 and Latest version
Browser and OS versions: Chrome/Firefox/Edge on Windows
Describe the issue:
Go to the Modal documentation page
Click on Open Modal for the modeless modal
Hit Tab key multiple times

### Actual behavior:
Focus stays on close button

### Expected behavior:
Focus goes to the close button once, and then goes to the background co

[2021-07-14 02:35] g-akshay opened #18929 "[accessibility][Keyboard navigation]: Keyboard focus lands on wrong cells when navigating using arrow keys in List"
### Environment Information

- **Package version(s)**: Office UI Fabric React
(Based on version https://github.com/microsoft/fluentui/tree/67d167f3d9400b3f38c0106a78f91a67a6eabb5e)
- **Browser and OS versions**:
Platform: Web-Chrome
OS Version: 2004(OS Build 21287.1004)
Chrome Version: 89.0.4389.90(64-bit)

### Describe the issue:

#### Actual behavior:
Within the list component,  navigation using

[2021-07-14 03:00] EYHN commented on #18418
@ling1726  Thank you for your answer, this solved my problem perfectly.

If you don't think this needs to be fixed, please close this issue.

[2021-07-14 07:02] #18418 closed

[2021-07-14 07:51] ling1726 commented on #18914
Natively sizing table columns is not easy, and adding extra logic to calculate width is not as straightforward as you might think since it would also depend on viewport size and zoom.

Could you please give more detail to your request ? such as API suggestions for instance

[2021-07-14 08:05] ling1726 commented on #18924
The focus can only be escaped by clicking outside the modeless Modal with the mouse. Tab presses will still be trapped. This is definitely a bug. @ecraig12345  did you manage to follow up from #16179

@smhigley  Since it's possible to escape focus with mouse and not keyboard this should be an a11y bug too correct ?

[2021-07-14 08:15] ling1726 commented on #18929
@g-akshay  are you sure the version you posted is correct, the commit suggests that you are still using v4 which is about 4 years old already

[2021-07-14 08:54] ling1726 commented on #18707
This should not be an a11y bug, the native HTML `<input />` has the exact same styling, the indication that the component is disabled is on the outline of the input itself not the placeholder. Fluent does not custom style the placeholder in any way

[2021-07-14 08:54] #18707 closed

[2021-07-14 09:09] AkiraVoid commented on #18914
I don't know what effect you want. For me, the DetailsList's column width seems same on both large screen and small screen devices, the only difference is on small screen I will get a horizontal scroll bar. It should be possible to get the container's width, and then we just need the columns count which is actually `props.columns.length` to calculate the width of each column. The user can set a co

[2021-07-14 11:00] #18832 closed

[2021-07-14 12:26] layershifter opened #18936 "makeStyles: implement Webpack loader"
### What?

One of `makeStyles` goals is to have ahead of time compilation. Currently we have only Babel plugin ([`@fluentui/babel-make-styles`](https://github.com/microsoft/fluentui/tree/master/packages/babel-make-styles)), that works great for our build pipeline, but has issues with apps.

### Problem

_Originally discussed there: https://github.com/microsoft/fluentui/issues/18489#issuecomment-87

[2021-07-14 12:27] layershifter commented on #18489
Closing in favor of #18936.

[2021-07-14 12:27] #18489 closed

[2021-07-14 13:57] janechu opened #18941 "Allow all web components to be initialized from a single export"
#### Describe the feature that you would like added

I would like to be able to initialize all available web components at the same time instead of importing them individually.

#### What component or utility would this be added to

This should be added to the `@fluentui/web-components` package.

#### Have you discussed this feature with our team, and if so, who

@chrisdholt

#### Additional conte

[2021-07-14 14:09] ling1726 commented on #18914
@ecraig12345  do you know anyone in the v8 team who has more context on the `DetailsList` internals to help out here ?

[2021-07-14 14:10] Sanankh commented on #18788
@smhigley @ecraig12345  any timelines on fixing this?

[2021-07-14 18:14] #18668 closed

[2021-07-14 18:34] levithomason opened #18943 "Add vNext conformance test ensuring user's className always win"
The user's className passed through hooks as state.className must always be merged last in mergeClasses. Otherwise, some of the user's css properties will not be applied.

This issue is present in alpha.60 in PopoverSurface:

[code]

This issue seems to be resolved in master (https://github.com/microsoft/fluentui/pull/18759) at the time of writing but we need to ensure it never happens on any comp

[2021-07-14 20:35] mingfang commented on #16774
The correct way to fix this problem is to make Fluent UI local sensitive.
I want to able to set a timezone in global property(with ability to override on a per component basis).
The components should then apply the timezone whenever it handles Date.

[2021-07-14 21:05] #16550 closed

[2021-07-14 21:05] #16552 closed

[2021-07-14 21:05] #16612 closed

[2021-07-14 22:14] eylult opened #18945 "[JPN] Entered letters gets doubled on iOS while in Japanese keyboard mode in Autofill textbox"
### Environment Information

- **Package version(s)**: Current - Fluent V8

- **Browser and OS versions**:
-   - iPad 13.5, 13.6, 14.2
  - Safari, Chrome
- ・macOS10.12.6 / Safari 12.1.2
・macOS10.14.6 / Safari 14.0.3
・macOS10.15.7 / Safari14.0.2
・macOS11 / Safari14.0.3

#### Actual behavior:

Type a japanese character in an autofill text box (e.g. OWA recipient well)
Observe if it's being duplicate

[2021-07-14 23:17] #13541 closed

[2021-07-15 00:36] shufan opened #18947 "Accessibility Insights for any !isModeless Modal Section 508 502.3.10: (document '') An element of the given ControlType must support the Text pattern."
Any usage of the fluentui Modal component where isModeless is false results in this issue showing up in Accessibility Insights. I filed this issue when running Accessibility Insights on the modal shown for the non-Modeless Modal here: https://developer.microsoft.com/en-us/fluentui#/controls/web/modal

![image](https://user-images.githubusercontent.com/1192397/125709951-e0c03c96-3bf7-4957-8d11-1a51

[2021-07-15 07:23] #18900 closed

[2021-07-15 12:28] Hotell commented on #18648
why is this assigned to v-build project ?

[2021-07-15 12:31] fgnass opened #18951 "openOnKeyboardFocus breaks keyboard navigation in Dropdown"
### Environment Information

- **Package version(s)**: @fluentui/react@8.23.3

### Reproduction

Here is a codepen based on the _Basic Dropdowns_ example with the `openOnKeyboardFocus` option added: https://codepen.io/fgnass/pen/MWmpEYo

#### Actual behavior:

Hitting tab when the dropdown is open briefly closes the options and immediately opens them again, leaving the user trapped.

#### Expected

[2021-07-15 12:54] g-akshay commented on #18929
yes!!! thats true :(

[2021-07-15 13:30] harshika-kashyap opened #18953 "ComboBox: User is only able to exit from the combobox after pressing 'Esc' key twice when the screen reader focus moves inside the combo box"
### Environment Information

- **Package version(s)**: 8.23.3
- **Browser and OS versions**: Windows Version: Win10
Chrome version: Version 90.0.4430.212
NVDA Version: 2020.3

### Describe the issue:

User should be able to exit the ComboBox menu after interacting using 'Esc' key once while using screen reader. But here we have to press 'Esc" key two times to exit the comboBox content. People who

[2021-07-15 13:46] AkiraVoid opened #18954 "Add multi-language support to DatePicker"
#### Describe the feature that you would like added

The `DatePicker` has some strings that cannot be customized, they are all in English. I hope there can be a way to change the language of this component.

#### What component or utility would this be added to

DatePicker

#### Have you discussed this feature with our team, and if so, who

No

#### Additional context/screenshots

None

[2021-07-15 13:47] AkiraVoid commented on #18954
I can offer the Chinese translation and a little bit Japanese translation.

[2021-07-15 14:28] #18929 closed

[2021-07-15 14:41] byronwjones commented on #18849
Hello @ling1726, have you identified the appropriate person to address this issue?  What is the estimated time for completion?

[2021-07-15 15:26] arshadshibli commented on #18843
@hetanthakkar1
Hi, Any updates on this

[2021-07-15 18:01] ecraig12345 commented on #18954
Which package are you using the DatePicker from, and what are the specific hardcoded strings?

[2021-07-15 18:02] ecraig12345 commented on #18943
I thought we already had this in a conformance test for this? https://github.com/microsoft/fluentui/blob/6d75fc293e876c681f94aabb89000cabd631942d/packages/react-conformance/src/defaultTests.tsx#L157

[2021-07-15 18:24] ecraig12345 commented on #18914
I'm not very familiar with DetailsList either, so my best suggestion is to look at [how the layout is handled for fixed and justified columns](https://github.com/microsoft/fluentui/blob/6d75fc293e876c681f94aabb89000cabd631942d/packages/react/src/components/DetailsList/DetailsList.base.tsx#L1168) and add a new method using similar logic. Due to other priorities, this isn't something that anyone fro

[2021-07-15 18:29] ecraig12345 commented on #18901
This is using font-based icons, not SVG icons, and a very old version of the library (6). @chintanupadhayay Can you please provide an isolated repro of the issue? Otherwise it's not really possible for us to debug. You can start from https://aka.ms/fluentpen to see if this repros in the current version of Fluent UI. If it doesn't repro in the current version, this won't be a very high priority for

[2021-07-15 18:30] ecraig12345 commented on #18882
Another question, @fildahui do you have a specific use case where you need the CommandBarButton to have primary styling? Or is this just a theoretical question?

[2021-07-15 18:36] ecraig12345 commented on #18872
Adding more typography properties to the theme was discussed in the past but I don't think we ever landed on whether it was something we wanted to support (and if so, how). At this point we're very unlikely to add this to the theme in `@fluentui/react` version 8, since our primary development efforts are focused on converged components (`@fluentui/react-components`).

Since there's no place in the

[2021-07-15 18:39] ecraig12345 commented on #18870
@isabelacmor Can you please provide a codepen or codesandbox repro that shows this issue? You can either start from the codesandbox @ling1726 linked above, or https://aka.ms/fluentpen.

[2021-07-15 18:40] ecraig12345 commented on #18863
This is also basically a duplicate of #18611.

[2021-07-15 18:45] ecraig12345 commented on #18843
@hetanthakkar1 Sure, go ahead. It might be a bug in the positioning logic, but I'm not familiar enough with that to provide further suggestions offhand.

[2021-07-15 18:55] fildahui commented on #18882
Hi @ecraig12345
Well, my actual use case is that I am using those buttons in an actions bar because of their dimensions and I need to make the primary action recognisable amongst the others.
But as I said, if that's by design that's okay (I am manually overriding the styles object at the moment) but then I'd expect to know what buttons can be primary or not

[2021-07-15 19:07] hetanthakkar1 commented on #18843
If you want to take it you can start working on it but it will take me around a week to solve

[2021-07-15 19:08] chrisdholt commented on #17111
This has been updated and addressed with the move to Recipes as tokens. This can now be accomplished via the Adaptive UI v2 API in Fluent ^1.0.0

[2021-07-15 19:08] #17111 closed

[2021-07-15 19:08] chrisdholt commented on #17110
This has been updated and addressed with the move to Recipes as tokens. This can now be accomplished via the Adaptive UI v2 API in Fluent ^1.0.0

[2021-07-15 19:08] #17110 closed

[2021-07-15 19:44] behowell commented on #14199
Hi @shujathkhan, thanks for submitting the PR. I added some comments there, but just to answer your questions:

It looks like you added it to those in the PR -- that's great, thanks.

I don't think it's necessary to have stories for this new prop.

I mentioned this in the PR, but to answer here: `removeButtonIconProps`

Yes. (The other react-* packages are for the next version of the library, whic

[2021-07-15 21:12] #18463 closed

[2021-07-15 21:28] #18941 closed

[2021-07-15 22:27] ecraig12345 commented on #18648
It seemed somewhat build-related, but I guess that's not entirely accurate. I moved it.

[2021-07-15 23:04] ecraig12345 commented on #18448
I'm wondering if this is a bad interaction between Customizer and ThemeProvider, since in version 8 both are being used in the azure-theme stories. (Unfortunately I'm not familiar enough with either one to say for sure.)
https://github.com/microsoft/fluentui/blob/874be4906a0177df3316e2a15a88dc699836bca9/packages/react-examples/src/azure-themes/stories/Themes/Themes.stories.tsx#L153-L157

I tried s

[2021-07-16 05:00] #15001 closed

[2021-07-16 07:33] ling1726 commented on #18882
It seems like a narrowing of the props interface would be useful here, it is not unreasonable to think that `primary` styles would be applied if the prop exists in the interface

[2021-07-16 07:42] AkiraVoid commented on #18954
I'm using Fluent UI React in my web project. The `DatePicker` can only display each month in English, and also the `Go to today` at the bottom right is in English. The name of each day-of-week is displayed as the first letter of its word in English.

[2021-07-16 07:44] ling1726 commented on #18951
@fgnass Thanks for the reprop, this looks like a pretty nasty bug, other behaviours I noticed that seemed quite bad:

* `Escape` to close the dropdown also gets stuck in an endless cycle
* Clicking outside the dropdown while it is open also gets stuck in an endless cycle

[2021-07-16 07:45] AkiraVoid commented on #18954
And my web has already specified the language by setting the property like: `<html lang="zh">`.

[2021-07-16 07:45] ling1726 commented on #18951
@gouttierre this looks like a pretty serious bug, can you get one of the v8 team to prioritize investigating this ?

[2021-07-16 07:52] AkiraVoid commented on #18954
If you specified `isRequired=true`, when the date haven't been picked, the tip `Field is required` is also in English.

[2021-07-16 07:52] ling1726 commented on #18953
I think this is by design, the second `Escape` press actually telling NVDA to leave focus mode and revert to browser mode. If you decide to toggle only focus mode then the behaviour does not happen, you can do this with `INSERT+SPACEBAR` on a default NVDA install.

Here is an issue in nvda that explains the same: https://github.com/nvaccess/nvda/issues/4428

[2021-07-16 08:14] ling1726 commented on #18849
@byronwjones  you can style the `TextField` with selectors, here is an example: https://codepen.io/ling1726/pen/VwbbZKg

[2021-07-16 09:43] ling1726 commented on #18954
@AkiraVoid  here is an example of how to localize the required string, there are more localization options in the props. I advise you take a deeper look at the documentation and what options are available for localization. Fluent does not store any locale strings apart from english default. If you want localized datepicker options, you need to provide those strings in your own code

https://codepe

[2021-07-16 09:56] AkiraVoid commented on #18954
Oh, I see. I suggest you update the doc and add a localization guide into the introduction of DatePicker.

[2021-07-16 09:56] #18954 closed

[2021-07-16 10:31] chintanupadhayay commented on #18901
@ecraig12345, Let me check. I will get back to you early next week with a repo.

[2021-07-16 12:10] layershifter opened #18975 "Support dual-screen for positioning in converged components"
#### Describe the feature that you would like added

We support dual-screen mode in v8, this was added in #12785. But as we are using Popper.js via `@fluentui/react-positioning` in converged components, we support have also support there.

#### What component or utility would this be added to

- `@fluentui/react-positioning` via custom modifier
- add support to Popper.js itself

#### Additional co

[2021-07-16 13:24] ling1726 commented on #18476
@WieserSoftware  Thanks for the repro this is definitely a bug. From what I can see it occurs here:
https://github.com/microsoft/fluentui/blob/91e053b6cfb80ed71f99957fc1e6b92f67920ab3/packages/react/src/components/Dropdown/Dropdown.base.tsx#L458-L459

The `onChange` callback should be called from within the `setState` call. The state simply hasn't updated when the `onChange` callback is invoked.

[2021-07-16 13:33] byronwjones commented on #18849
Thanks, @ling1726  but unfortunately this is not a viable solution - notice that in your example here are now *two* borders around the text field - one black, the other red.  An API user wants to be able to control the appearance of the black border, not add another one

[2021-07-16 14:12] ling1726 commented on #18849
@byronwjones  in that case you can use the `textField` prop in the component and pass whatever props you want there:

I've modified the original codepen: https://codepen.io/ling1726/pen/VwbbZKg?editors=0010

[2021-07-16 17:53] inquisitiv-e opened #18981 "Need Video Add Icon"
Hello,

Just reaching out here and seeing if we can add an Icon called "Video Add" icon.
We are using this library https://uifabricicons.azurewebsites.net/ to pull icons, but we have noticed that an icon called VideoAdd is missing.

However, it is listed as a fabric icon in Microsoft's Icon cloud library. https://www.iconcloud.design/search/filter/Full%20MDL2%20Assets/Fabric%20MDL2%20Assets/videoa

[2021-07-16 18:00] #18273 closed

[2021-07-16 21:57] ecraig12345 commented on #18882
Thanks for the clarification! I agree that narrowing the types would make sense in theory. Unfortunately that would be a breaking change, so we wouldn't be able to do it outside a new major version, which isn't planned any time soon.

@khmakoto Can you confirm whether the CommandBarButton is intended to update its styles in response to the `primary` prop? If not, we'll probably close this as "by d

[2021-07-16 22:22] #18648 closed

[2021-07-17 03:07] janechu opened #18987 "Web components are missing a component definition file"
A missing import is present in the `component-definitions.ts` file, the component definition for `toolbar`, the file does not exist yet it is being imported and exported which causes build errors when attempting to use the file.

### Environment Information

- **Package version(s)**: @fluentui/web-components@1.2.1

### Actual behavior:

Error when building a package importing the component-definit

[2021-07-18 19:00] #18872 closed

[2021-07-18 20:00] #15849 closed

[2021-07-19 03:13] yangjocy opened #18989 "Support disabled/indeterminate checkbox in details list"
#### Describe the feature that you would like added

Support disabled/indeterminate checkbox in details list.
(BTW, it's a bit confusing to have both `<Check>` and `<Checkbox>` provided. Seems like `<Checkbox>` could do all the work. )

#### What component or utility would this be added to

DetailsList.

#### Have you discussed this feature with our team, and if so, who

No.

#### Additional conte

[2021-07-19 05:20] Benard-Ngaruiya opened #18990 "Text Field Error Message does not wrap around using the length of the TextField when the textfield is rendered as part of a DetailsList"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: Microsoft Edge

### Please provide a reproduction of the bug in a codepen: https://codepen.io/BenardN/pen/bGWRRvo

#### Actual behavior: When a text field is rendered as part of a DetailsList, its error message doesn't wrap around to a new line at the length of the text field. Instead, it gets cut

[2021-07-19 06:34] ling1726 commented on #18989
This feels like a valid feature, but as you're probably doing currently, using the `onRenderCheckbox` prop can support custom checkboxes in the `DetailsList`.

I've marked this issue up for discussion, but adding features to `DetailsList` is generally quite costly. Marking as low priority until there is more need for a specific indeterminate checkbox feature

[2021-07-19 06:46] ling1726 commented on #18990
@Benard-Ngaruiya  here is an example where you can style the `TextField` error message to wrap. By default the styling is designed to overflow using ellipsis.

However, from what i see it seems to just overflow from the `DetailsList` column without ellipsis, that actually might be a bug/issue of its own.

[2021-07-19 08:17] yangjocy commented on #18989
Understand. Could you help to clarify why providing `<Check>` when already have `<Checkbox>`? Think the latter could cover all the requirements.

[2021-07-19 08:31] ling1726 commented on #18283
@Dan86de  From what I can see when `menuProps` are passed to the button, `stopPropagation` is called on the click event. This behaviour has been in Fluent for a few years now.

@ecraig12345 any context into this ? I don't know why the click event is not propagated when a menu is attached to it.

[2021-07-19 09:26] acblacktea opened #18993 "[Dropdown item Bug]Can't overwrite style of dropdown component when browser is too small"
I want to use callout to modify dropdonw item's style like ` { '.ms-Dropdown-item': { color: 'red' } }` (this is just a simple example, style in callout is more complicated in our production code)

[code]
if browser size is normal, it work fine
![image](https://user-images.githubusercontent.com/17824206/126137126-ec432927-801c-4ab7-8afe-294431c6c8f1.png)

but if I resize browser to small, callout

[2021-07-19 09:42] Bhavana-Nimma opened #18994 "[DatePicker] - Selected date in the callout is not clearly visible in High Contrast mode."
### Environment Information

- **Package version(s)**: 8.18.0
- **Browser and OS versions**: Internet Explorer (IE11), Microsoft Edge legacy, Windows 10

### Describe the issue:

In High Contrast mode, selected date in the callout of datepicker is not clearly visible.

### Please provide a reproduction of the issue in a codepen:

#### Actual behavior:

In HCB mode:

![image](https://user-images.gi

[2021-07-19 09:48] ling1726 commented on #18361
@Drustus thanks for the great repro! From what I can see, this happens for every page. If there are more than 20 rows, row 10 and row 20 will be remounted on each new row added.

I tried doing a first investigation in to the `DetailsList` and couldn't mitigate this issue event overriding the `onRenderRow` callback with an explicit key. Marking as high priority to at least find the cause of this pr

[2021-07-19 09:58] ling1726 commented on #18422
Marking as high priority to get attention on this from the previous 2 older issues

Meanwhile @mohitbagra will this help you mitigate your a11y bugs: https://codesandbox.io/s/sparkling-violet-g0vsx?file=/src/App.tsx

[2021-07-19 10:05] ling1726 commented on #18465
@racheliWeiss the issue here is that the declared types for those callbacks use optional arguments. Therefore to make the types match you should also use optional types and add appropriate guards.

I've forked your sandbox and fixed TS issues by using [optional chaining](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining) but I would recommend that you re

[2021-07-19 10:07] ling1726 commented on #18425
@tomsato-ms  Does the property proposed by @BerserkerDotNet mitigate your issue ?

[2021-07-19 10:10] ling1726 commented on #18989
`Check` is simply the visual component for the `Checkbox`. It is used within `Checkbox` and only represents the circle and tick. `Checkbox` is the component intended for most scenarios

[2021-07-19 10:27] ling1726 commented on #18993
This is by design, since in smaller viewports the `Callout` is no longer rendered and is replaced by the `Panel` component.

Firstly I would recommend you not to style by targeting class if possible, you can simply use `dropdownItem` styles. Here is an example: https://codepen.io/ling1726/pen/wvdemMz

If you really need to target class, then here is how you can do it with both `Panel` and `Callout

[2021-07-19 10:28] Bhavana-Nimma opened #18996 "[DatePicker] - Narrator is staying mute on invoking next/previous month buttons."
### Environment Information

- **Package version(s)**: 8.21.1
- **Browser and OS versions**: Internet Explorer (IE11), Microsoft Edge legacy, Windows 10

### Describe the issue:

On invoking next/previous month buttons in the callout, narrator is staying mute and not announcing anything.

### Please provide a reproduction of the issue in a codepen:

#### Actual behavior:

In the below example, on

[2021-07-19 11:10] racheliWeiss commented on #18465
Thank you!
This very helped me.

[2021-07-19 11:35] #18465 closed

[2021-07-19 11:44] ling1726 commented on #18996
@Bhavana-Nimma I cannot repro the same behaviour you describe, could you share a code repro of what you are experiencing ?

![image](https://user-images.githubusercontent.com/20744592/126155129-e641256e-89c6-4ade-9eea-5b4089e7b37f.png)

[2021-07-19 12:00] #18953 closed

[2021-07-19 12:13] Bhavana-Nimma commented on #18996
@ling1726 Can you please tell me the browser in which you are trying?

This is the issue in IE11 and Edge Legacy. We are using fluent version 8* but the home page (`https://developer.microsoft.com/en-us/fluentui`) and the examples page of fluent version 8* (`https://fabricweb.z5.web.core.windows.net/oufr/8.21.1/`)  are not loading in IE11 whereas the page loads with fluent version 7* (`https://fab

[2021-07-19 13:31] ling1726 commented on #18996
Ah I see, I didn't read the browser field correctly, I was using chromium edge. I'm not entirely sure how to run legacy edge. With the august EOL for IE11 in M365, that browser might not be that important anymore

@smhigley  @JustSlone what is the v8 SLA for IE11 and legacy Edge ?

[2021-07-19 13:51] layershifter opened #19000 "Release of v9: check versions on NPM for each package"
_This issue is a prerequisite for vNext release._

Some packages may be already released on NPM as `9.0.0` please check it first. This already happened with `@fluentui/make-styles-webpack-loader`, see the thread: https://github.com/microsoft/fluentui/pull/18992#discussion_r672300566

`@fluentui/make-styles-webpack-loader@9.0.0` was unpublished from NPM:

[code]

But even then I am not sure that we

[2021-07-19 16:24] smhigley commented on #18996
There are two things going on here:
1. Live regions in IE11, especially with Narrator, are notoriously unlikely to work.
2. I'm not convinced we should have a live region there at all, for any screen reader. It's effectively telling the user "yes, you successfully clicked that button you just clicked", especially since the button name includes the month it's navigating to.

Since this issue isn't

[2021-07-19 16:31] smhigley commented on #18647
I can't reproduce this with NVDA (2020) and Chrome (v91), Edge (v91), or Firefox (v90). Ctrl + Alt + Arrow keys work as expected for me through all rows.

It's worth noting that the group headers (e.g. the "Color: red (2)" row) span multiple columns, so if you navigate directly down from the "Color" column, you won't reach them. That's expected for this particular type of table, but could throw so

[2021-07-19 16:38] smhigley commented on #18869
@mltejera since the focus rectangle in DetailsList isn't blue in our default styles, I'm going to guess you mean the Narrator cursor since that is blue by default.

It's a known issue that Narrator does not scroll in-page `overflow: scroll` elements based on the virtual cursor position. This isn't something we have any control over in Fluent, it'd need to be taken up with the Narrator team directl

[2021-07-19 16:47] smhigley commented on #18869
Actually, @ltackett, would you mind opening a new issue for what you're describing? It's unrelated to the Narrator virtual cursor/scroll issue, and it'd be good to have a separate issue for that one.

I'm going to close this one, since it's not an issue with Fluent, or something we have any control over.

[2021-07-19 16:47] #18869 closed

[2021-07-19 17:00] #18753 closed

[2021-07-19 17:00] #18510 closed

[2021-07-19 17:02] smhigley commented on #18474
The current behavior is the correct one. Even without text the column still exists, so the column's header needs to exist whether or not it has content. When there is no next within a cell (header or otherwise), announcing it as blank is the best thing to do.

Tables have a very particular structure, and cells can't be removed without breaking that. Sighted users get to see an empty cell there, so

[2021-07-19 17:02] #18474 closed

[2021-07-19 18:24] sysofwan opened #19001 "Chart tooltip flickers when hovered and moved"
### Environment Information

- **Package version(s)**: @uifabric/charting@4.16.6

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/sysofwan/pen/yLbXwbv

#### Actual behavior:

When mouse is hovered and moved on charts, the tooltip will flicker. This is a regression, previous version of the charting library does not have this issue.

![tooltip-flicker](https://user-imag

[2021-07-19 18:25] sysofwan commented on #19001
I suspect this regression is from this PR #18803

[2021-07-19 18:26] osfprieto commented on #18160
@gouttierre - Thanks for the heads up!

We'll keep track of a possible PR as part of [this task](https://office.visualstudio.com/OC/_workitems/edit/5106323). Currently it is also low priority on our end since we've worked around the issue somehow else.

[2021-07-19 19:02] marksoper commented on #17071
We have another repro of this bug in the Azure Machine Learning UI. It is present in production and impacting customers. @khmakoto could we work with you to get this fixed ASAP?

[2021-07-19 19:13] Shannon-Ke opened #19003 "Give DetailsList ability to lock a column in place"
#### Describe the feature that you would like added

Give details list ability to put action buttons per row that stick to the right side of each row. Useful for adding action buttons to the table rows such as 'edit row' or 'delete row'. (preferred)

OR

Give the details list the ability to lock a column in place regardless of the horizontal scroll. For example, allow the last column of a table th

[2021-07-19 19:16] ling1726 commented on #19001
@Raghurk  could you take a look at this ?

[2021-07-19 19:17] ling1726 commented on #19003
@Shannon-Ke  Thanks for the feature request, we generally do not have enough effort allocated for `DetailsList` features unless they are required by a large number of partners. However if this is something you'd like to contribute, we'd be happy to review any PRs.

[2021-07-19 19:20] brandonthomas commented on #11842
@JustSlone my main concern here is that it's pretty wide spread so then the ask is that every instance has to be patched in this way. On the admin-controls side we can fix our implementation in our composed components but that doesn't really help anyone else. So I think we might still need something as these issues will impact grades for all products.

[2021-07-19 19:29] Shannon-Ke commented on #19003
I see. Thank you for your quick response.

[2021-07-19 19:45] litong2 commented on #18945
codepen demo https://codepen.io/litong2/pen/JjNWeLG

[2021-07-19 23:09] #18951 closed

[2021-07-20 05:30] Bhavana-Nimma opened #19010 "[Dropdown] Narrator is not reading the selected value when dropdown is focused"
### Environment Information

- **Package version(s)**:  8.21.1
- **Browser and OS versions**:  Internet Explorer (IE11), Microsoft Edge legacy, Windows 10

### Describe the issue:

When the dropdown is focused, narrator is not announcing the selected value.

### Please provide a reproduction of the issue in a codepen:

#### Actual behavior:

When a dropdown is focused, narrator is reading `<aria-l

[2021-07-20 07:40] chintanupadhayay commented on #18901
Hi @erichdev, I have created a repro with the Fabric icon. What I found the font-family is different for **CircleHalfFull**, let me know your view.
https://codepen.io/chntn/pen/jOmLbqm

[2021-07-20 07:55] ling1726 commented on #19010
Set to low priority for now since this affects IE11 which is reaching end of support for M365 next month, and legacy Edge which we're uncertain what our support level should be.

@smhigley  could you take a look at this from an a11y perspective to see if it's severe enough to move it from low priority ?

@Bhavana-Nimma  thanks for filing this issue could you please also provide a codepen with the

[2021-07-20 08:05] ling1726 commented on #18945
@litong2 Thanks for contributing a fix, really appreciated.

Can confirm that this also repro on Windows japanese IME

[2021-07-20 08:13] vishakha116 opened #19011 "Header is not visible once the drop-down is scrolled down and navigated back to top"
### Describe the issue:

On expanding the drop down and going to the last item in the drop down by down arrow key, and then pressing the down arrow key again, the first item in the list gets the focus but the header of the first item is not visible. In order to see the header of the first item, the list has to be scrolled.

#### Actual behavior:

 Header is not visible when user reverse navigates

[2021-07-20 08:18] Bhavana-Nimma commented on #19010
@ling1726  We are using fluent version 8* but the home page (`https://developer.microsoft.com/en-us/fluentui`) and the examples page of fluent version 8* (`https://fabricweb.z5.web.core.windows.net/oufr/8.21.1/`) are not loading in IE11 whereas the page loads with fluent version 7* (`https://fabricweb.z5.web.core.windows.net/oufr/7.159.0/`). So I am unable to give you the exact code pen repro of f

[2021-07-20 08:23] ling1726 opened #19013 "v9: replace keyboard-key with keyboard-keys"
This issue tracks the progress of implementing #18587:

v9 packages affected:

- [x] react-aria
- [x] react-button
- [x] react-card
- [x] react-link
- [x] react-menu
- [x] react-utilities

[2021-07-20 08:28] ling1726 commented on #18531
@lynamemi Sorry but there is no way for us know what role Fluent has in this issue unless we have a more precise repro.

[2021-07-20 09:15] Renuka8796 opened #19014 "Ensures elements with an ARIA role that require child roles contain them"
**Environment Information:**
Package version(s): "@fluentui/react": "^8.23.5",
Browser and OS versions: chrome and Windows 10

Expectation: Ensures elements with an ARIA role that require child roles contain them.

Actual: Elements with an ARIA role that requires child roles do not contain them.

![image](https://user-images.githubusercontent.com/51446798/126294909-2cde7131-405e-45ab-adfe-5aae19bf

[2021-07-20 10:03] ling1726 commented on #19010
@Bhavana-Nimma  can you fork this codepen: https://codepen.io/ling1726/pen/eYWEzXQ ?

[2021-07-20 11:24] Renuka8796 opened #19018 "screen reader: tip text present inside Callout is read twice."
Screen Reader: Narrator

Repro Link : https://codepen.io/kusudh/pen/pojMayJ?editors=0010

Browser Details: ​
OS: Windows 10
Microsoft Edge Dev

Repro Steps: ​

Start Narrator and navigate to https://codepen.io/kusudh/pen/pojMayJ?editors=0010
Tab till "Show FocusTrapCallout" button and then press Enter.
Wait until narrator finishes to read the information.
Actual Result: ​
Narrator is reading tool-

[2021-07-20 12:24] Bhavana-Nimma commented on #19010
@ling1726 Thanks for the codepen. I have my codepen requirement here - [https://codepen.io/bhavana-nimma/pen/ZEKJBMe](https://codepen.io/bhavana-nimma/pen/ZEKJBMe)

I tested my codepen in Cross Browser testing tool ([https://crossbrowsertesting.com/](https://crossbrowsertesting.com/)). With the help of this tool, we will be able to test in **Edge Legacy** and there we can repro this narrator issue

[2021-07-20 13:46] ling1726 commented on #19010
@Bhavana-Nimma thanks for the codepen, leaving as low priority until @smhigley can determine otherwise for a11y cases. IE11 is still a platform that is planned to be moved away soon, and this error does not block products from shipping on the platform.

Edge Legacy is still a question for us tho :/

[2021-07-20 16:17] smhigley commented on #18856
This is a longstanding VoiceOver bug -- you can see the same issue here: https://w3c.github.io/aria-practices/examples/combobox/combobox-select-only.html

I'm not sure what to do about this since there aren't any clear workarounds. I can file another bug, but there isn't much Fluent can do in the meantime. On the plus side, since PeoplePicker autocompletes, if the user types VoiceOver will read th

[2021-07-20 16:40] jendowns commented on #18273
@ling1726

I understand that and your point about adding a focus indicator. But the behavior is still inconsistent depending on how you activate the Coachmark. You will see a 1px blue focus indicator if you activate with a mouse -- is that the intention to keep this?

[2021-07-20 18:11] smhigley commented on #16433
@emkessle I think that may be the wrong codepen. That shows a native browser `alert()` (not to be confused with the live region `role="alert"`. The browser `alert()` is a native browser dialog, and not part of Fluent.

Since this bug is about TextField error messages, do you have an isolated repro that shows the bug?

[2021-07-20 19:18] lynamemi commented on #18531
Our repo is too complex, I can't get it to repro in a code pen. We're likely just going to have to use `Customizer` instead of `ThemeProvider`, which should be fine for us for now until we start adapting @fluentui/react-components.

[2021-07-20 19:28] statm opened #19025 "[Callout] Heading truncated when scrolling due to incorrect bounding box in small viewports"
### Environment Information

- **Package version(s)**: v8

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/statm/pen/WNjjpjW

This is generated from the [Callout's doc page](https://developer.microsoft.com/en-us/fluentui#/controls/web/callout), with only more text content added.

#### Actual behavior:

When browser window is small enough (or zoomed in) to trigger call

[2021-07-20 20:14] layershifter opened #19028 "Bundle size: sometimes a report is empty"
![image](https://user-images.githubusercontent.com/14183168/126389253-8bf72fd2-4c47-4cc4-a186-eb0151661dd4.png)

When we don't any reports generated we will generate empty report, for example it happens when there are no affected packages.
We should emit a message in such cases.

[2021-07-20 21:11] ltackett opened #19030 "Moving through Basic List with Narrator in Scan Mode causes list items to lose focus"
### Environment Information

- **Package version(s)**: 8.23.5
- **Browser and OS versions**: Windows, version 10.0.19043 Build 19043. Chrome, version 91.0.4472.124.

### Describe the issue:

Given that:
 * A List component has rendered many variable-height elements, and
 * Windows 10 Narrator is on, and
 * Narrator is in Scan Mode, and
 * a list item has focus...

 ... scrolling quickly through li

[2021-07-20 21:14] ltackett commented on #18869
@smhigley done.
https://github.com/microsoft/fluentui/issues/19030

[2021-07-20 22:19] MichaelEclavea opened #19031 "String misspelling"
I have attached an image showing the error.

Here is the link to the page with the error: https://developer.microsoft.com/en-us/fluentui#/styles/web/colors/theme-slots

<img width="1180" alt="Screen Shot 2021-07-20 at 9 18 14 AM" src="https://user-images.githubusercontent.com/68795830/126402380-13cb09fe-7422-412e-b920-9adea1bcbba7.png">

### Environment Information

- **Package version(s)**: (fill

[2021-07-20 22:50] dggsax opened #19032 "Add x-axis tick mark with no associated y-axis data in Heatmap component"
#### Describe the feature that you would like added
Right now, it looks like the `<Heatmap />` component uses `d3-scale` to generate the x-axis ticks based on the data. For our usage of the HeatMap, we're generating data where the X-Axis points are `Date` strings, but in some cases we filter out data points because they don't have any instances or they have a percentage of 0.0%.

For example, I ma

[2021-07-20 23:16] Ethan-Arrowood opened #19033 "react-northstar FormTextArea is missing `required` prop"
#### Describe the feature that you would like added

The FormTextArea component should render an `*` just like the FormInput component does.

The component currently does not error when you add the `required` prop since it extends from the `TextareaHTMLAttributes` type, and it does correctly forward it to the underlying `textarea` element. But there is no UI indicator for it.

#### What component

[2021-07-20 23:36] petewu100 commented on #19011
The item in focus is scrolled into view as expected, but there is a case where the section header for the item in focus is not scrolled into view.

Perhaps the logic could be modified a bit to scroll the section header into view when you place the focus on the first item in the section.

[2021-07-21 04:39] smhigley commented on #19018
Narrator is reading the tooltip details twice because you have the same content in the callout twice. It looks like you've duplicated the visible text in a visually hidden element, which is *extremely* bad practice. It will be entirely inaccessibly via touch exploration and mouse + SR usage, and cause other side effects like the one you logged in this bug.

The reason the `aria-hidden` on your vis

[2021-07-21 04:39] #19018 closed

[2021-07-21 04:49] smhigley commented on #19014
@Renuka8796 when I run axe-core v4.3 on that control, I don't get an aria-required-children error. I'm guessing Accessibility Insights hasn't updated to the latest version of axe yet, and when they do it should go away. If you want to verify it in the meantime, you can use the axe devtools extension directly.

I'm closing this issue for now, but feel free to comment or re-open if you still see a r

[2021-07-21 04:49] #19014 closed

[2021-07-21 04:56] smhigley commented on #18385
@Renuka8796 the current behavior is intentional -- the year changes after a user has explicitly interacted with a control for changing the year. Including the word "year" in there is redundant, and only adds extra verbosity in something that debatably doesn't need a live announcement at all.

We would need evidence that actual screen reader users prefer the more verbose announcement before we cons

[2021-07-21 05:00] #18902 closed

[2021-07-21 05:01] smhigley commented on #18422
This was fixed by #18890

[2021-07-21 05:01] #18422 closed

[2021-07-21 07:01] ling1726 commented on #18856
@smhigley  is there a voiceover bug you can link here ?

[2021-07-21 08:09] ling1726 commented on #18903
I managed to get a minimal repro thanks to debugging guidance from @layershifter. It seems that this is an issue with linaria shaker.

Submitted issue: #804 to them with the minimal repro

[2021-07-21 08:24] ling1726 commented on #19033
@Ethan-Arrowood  Thanks for the, we will discuss internally and prioritize this feature request.

[2021-07-21 08:34] ling1726 commented on #19033
It seems like this is a bug, the `FormTexArea` does not have the star: https://codesandbox.io/s/fluent-ui-example-forked-behqd?file=/example.js

This should be fixed as high priority

[2021-07-21 08:47] jurokapsiar commented on #19033
This is a valid bug, thanks for reporting, we will fix it in the next sprint (within next 3 weeks)

[2021-07-21 12:59] ling1726 commented on #19030
Thanks for the repro and description 👍

However in this case I'm not sure if this is a bug or if we can do anything about it. @smhigley could you lend your expertise here ?

[2021-07-21 13:08] ling1726 commented on #19031
@MichaelEclavea  thanks for the issue!

[2021-07-21 13:11] ling1726 commented on #19032
@Raghurk could you take a look at this feature request for charting ?

[2021-07-21 13:54] ling1726 commented on #19011
@vishakha116  could you please provide a codepen/codesandbox repro of the issue ?

[2021-07-21 14:17] #16889 closed

[2021-07-21 14:26] Hotell opened #19042 "stories are shipped to npm in vNext"
### Describe the issue:

#### Actual behavior:

- we ship stories to npm/customers

![2021-07-21 at 16 25](https://user-images.githubusercontent.com/1223799/126505481-ba41aea7-159e-4952-af92-58fd43f0c997.png)

#### Expected behavior:

- we ship only implementation

[2021-07-21 15:58] behowell opened #19045 "Tooltip: Update visuals and API from design changes"
The tooltip design changed the defaults for tooltip. Need to update the implementation to match:
* The "subtle" look is now the default: remove the "subtle" prop and add "inverted" to specify the dark look
* The beak is no longer visible by default: remove the "noArrow" prop and add "pointing" (prop name TBD) to specify that there's an arrow

[2021-07-21 15:59] behowell opened #19046 "Tooltip: Add unit tests"
Need to implement unit tests for the Tooltip component.

[2021-07-21 16:36] behowell opened #19047 "Tooltip: Add VR tests"
Need to add visual regression tests for tooltips

[2021-07-21 16:37] behowell opened #19049 "Tooltip: Add accessibility behavior tests"
Need to implement accessibility behavior tests for vNext tooltip

[2021-07-21 16:59] tringakrasniqi opened #19050 "react-card has dependencies on v8, blocks migration to new DX"
#### Actual behavior:

[react-card](https://github.com/microsoft/fluentui/tree/master/packages/react-card) has dependencies on v8 which are a blocking issue for migration to the new DX, PR: #19036 .

In particular, the hook `useFocusRects(state.ref);` is used on all the components that comes from a v8 depencency, `@fluentui/utilities`.

 Also, tests.js config file uses `setIconOptions` that come f

[2021-07-21 17:24] TristanWatanabe opened #19052 "chore: Remove storybook addon-info manual typings"
Storybook migration to 6.2.9 removed the usage of `storybook/addon-info` so the manual typings need to be removed as well.

with that we can also remove our manual typings (can be done in separate PR)
![2021-07-20 at 19 24](https://user-images.githubusercontent.com/1223799/126368464-50f2ff0c-60c0-4da7-8714-9bc2c104d00f.png)

_Originally posted by @Hotell in https://github.com/microsoft/fluentui/pu

[2021-07-21 17:33] #16433 closed

[2021-07-21 18:41] ecraig12345 commented on #19025
I think this is an issue with the styling applied to the callout content, not an issue with Callout itself. One workaround would be apply styles similar to this ([full demo](https://codesandbox.io/s/19025-callout-overflow-sxtbx?file=/src/index.tsx)):
[code]

Ideally the examples on the website should be updated to handle this better too, but that will be low priority.

[2021-07-21 19:51] #18448 closed

[2021-07-21 20:41] litong2 opened #19054 "React input component sometimes gets two _onInputChanged callbacks with single IME character in controlled usage where second call has unexpected character"
### Environment Information

- **Package version(s)**: current Fluent V8
- **Browser and OS versions**: Windows and iOS

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/litong2/pen/jOmGrzm

#### Actual behavior:
Sometimes react input sends 2 onChange callbacks when typing IME characters.  Would think we should only get one onChange per one character change.  Behavior

[2021-07-21 20:46] statm opened #19055 "[Slider] Cannot disable Slider receiving focus in FocusZone"
### Environment Information

- **Package version(s)**: v8

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/statm/pen/eYWGddb

#### Actual behavior:

When using left/right keys to move focus inside the focus zone, the slider will always receive focus, even though `data-is-focusable` is set to false on it.

#### Expected behavior:

The slider should pass `data-is-focus

[2021-07-21 21:21] ecraig12345 commented on #19054
Thanks for your investigation into this so far! Have you checked to see if anyone has reported a similar issue to React itself, or if you can find any other references to it online (stack overflow questions, other github issues, etc)?

Some background: this isn't well-explained in their docs right now, but React actually handles input and change events differently than the browser. React fires bot

[2021-07-21 21:22] #18945 closed

[2021-07-21 21:25] ecraig12345 commented on #17474
Reopening since I think both of these issues are still present in the [PR deploy demo](https://fluentuipr.z22.web.core.windows.net/pull/19008/public-docsite-resources/demo/index.html#/examples/ComboBox) of #19008.

[2021-07-21 22:23] ecraig12345 commented on #18945
@litong2 Can you confirm whether this ended up being fixed by the PR or not?

[2021-07-21 23:09] #19050 closed

[2021-07-21 23:18] litong2 commented on #19054
Interesting.  When checking native HTML `oninput` with
[code]
Setting value in the handler is causing the handler to run a second time, with certain IME characters and not others.  It looks like if the IME dropdown becomes visible then we get one call to oninput otherwise two calls.  If we don't set value in oninput handler then we just get one call.

[2021-07-21 23:22] kelseyyoung opened #19058 "Potential issue with fabricAsyncLoader and ContexualMenu.base"
### Environment Information

- **Package version(s)**: "@fluentui/webpack-utilities": "^8.1.3", "@fluentui/react": "^8.23.5"
- **Browser and OS versions**: All

### Describe the issue:

I preface the title with -potential- because I don't have deterministic proof this is the actual issue, but I'm pretty sure it's along these lines. We are seeing this issue when trying to upgrade Fluent from v7 to

[2021-07-22 07:01] vishakha116 commented on #19011
@ling1726  I have add a codepen repro. Please update the component to ComboBox from Dropdown. This issue is regarding the dropdown of combobox

[2021-07-22 08:16] vishakha116 opened #19062 "Narrator is not announcing the group name while navigating in different list items in drop down of ComboBox"
### Describe the issue:

On expanding the drop down in the combobox and going over the items in the dropdown, the group header is not announced as a separate group name. It is simply announced as some other item in the list. People with visual impairment will not be able to know that different groups are available in the combobox dropdown list while navigating using up/down arrow key.

### Please

[2021-07-22 09:00] Lisaliuyane opened #19064 "NavItem is not appling INavLinkProps.className anywhere"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Describe the issue:

#### Actual behavior:

#### Expected behavior:

### If applicable, please provide a codepen repro:

### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (B

[2021-07-22 09:01] Lisaliuyane commented on #19064
![image](https://user-images.githubusercontent.com/39182337/126614405-e318fb7c-3d22-46ff-b372-6babc8e3e7cd.png)

[2021-07-22 09:03] Lisaliuyane commented on #19064
https://codepen.io/ecraig12345/pen/WNGWmZw

[2021-07-22 09:55] ling1726 commented on #19055
There seems to be no way to spread props to any of the slots in Slider, and for this usage it's hard to find a good workaround: Here is something you could do that is ref based: https://codepen.io/ling1726/pen/KKmXQyP

`FocusZone` doesn't have much help either for this, there is `shouldReceiveFocus` callback but that will just stop the keyboard navigation at the slider.

[2021-07-22 10:00] ling1726 commented on #19054
If this happens for React input elements, this might not be the appropriate place to trigger this issue

[2021-07-22 10:41] lakshmi9414 opened #19067 "Microfeedback component is not available."
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Describe the issue:

#### Actual behavior:

#### Expected behavior:

### If applicable, please provide a codepen repro:

### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (B

[2021-07-22 11:22] wamoha opened #19069 "Cannot read property 'isBlocking' of undefined"
### Environment Information

- **Package version(s)**: 8.13.1
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

We are seeing the below error intermittently in our production systems. We have been noticing runtime errors in components where the props is undefined during componentDidUpdate event. We did raise this [issue ](https:

[2021-07-22 11:28] ling1726 commented on #19067
@lakshmi9414 Please provide more details of the issue and code repro

[2021-07-22 11:49] ling1726 commented on #19069
@wamoha, I understand that this is similar to #18084, but unfortunately we really do need some repro steps to be able to investigate further.  `this.props` should generally not be defined in a React component. For this particular problem we could 'solve' this by checking `this.props` but would make sense to do so without knowing why.

Looking at the stack trace, are you possibly using `appendFunct

[2021-07-22 12:03] ling1726 commented on #19011
@smhigley would this be an a11y issue ? since keyboard users would no longer be able to view the first header of the dropdown list once they circular navigate the dropdown once.

Marking as low priority for now, the behaviour could be better but it is not a serious issue, the user could close the dropdown and reopen to see the header again

[2021-07-22 12:06] creage commented on #17328
@gouttierre to me it fires on [this line](https://github.com/microsoft/fluentui/blob/master/packages/fluentui/react-bindings/src/FocusZone/FocusTrapZone.tsx#L39)
[code]

[2021-07-22 12:16] rushj22 opened #19070 "Cannot read property 'toLowerCase' of undefined"
### Environment Information

- **Package version(s)**: 8.2.0
- **Browser and OS versions**: (fill this out if relevant)

### Describe the issue:

#### Actual behavior:

### If applicable, please provide a codepen repro:

### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low)

Pro

[2021-07-22 12:49] bharath3719 commented on #13107
?

[2021-07-22 13:11] gouttierre commented on #18555
@Bhavana-Nimma - thank you for filing this issue and sharing the details into the problem.

@ling1726 - I will assign this one for investigation with the accessibility label - however we may need to submit the issue to other portal for @smhigley.

[2021-07-22 13:26] ling1726 commented on #19062
This might be by design. In scan mode Narrator can read all the text inside the combobox if necessary. Announcing group name with every single option in the menu would be a very verbose experience for Narrator users.

@smhigley would be nice to get your expertise here .🙏

[2021-07-22 13:29] ling1726 commented on #19070
@rushj22  looking at that stack trace, are you using React Native ?

[2021-07-22 13:31] gouttierre commented on #18562
@jamesdeancalhoun - thanks for filing this issue with us.

@smhigley - Here is another accessibility issue with color contract.
cc @ling1726

[2021-07-22 13:36] Renuka8796 opened #19071 "When zoomed to 200%, 'show more' button is not completely visible in expanded auto suggestions dropdown"
Browser Details: ​
OS: Windows 10 (Version 1909, Build: 18363.778)
Microsoft Edge Dev Version 84.0.502.0 (Official build) dev (64-bit)

Issue:
When zoomed to 200%, 'show more' button is not completely visible in expanded auto suggestions dropdown.

Please find the below code pen link to repro the issue:

https://codepen.io/sagsah/pen/RwWxxpw?editors=1010

Actual:
When zoomed to 200%, 'show more' b

[2021-07-22 13:38] gouttierre commented on #18547
@Manjunatha123 - thanks for filing this item and I looked at the later version and I see that I was unable to scroll.

@ling1726 -  Would you be able to confirm if this is a regression, or if this behavior is an issue when scrolling overflowed content within the tooltips? Thanks

[2021-07-22 13:41] gouttierre commented on #18564
@samlh - thank you for filing this issue with us and sharing your findings.

@ling1726 -  Would you be able to confirm if this is a regression, or if this behavior is an issue? Not sure if you will need to revisit #11514.
cc @ecraig12345

[2021-07-22 13:45] gouttierre commented on #18572
@sailakshmi1711558 - Thanks for filing this, but you’ll need to add a CodePen repro before we can help.
You can start from one of the [PeoplePicker ](https://developer.microsoft.com/en-us/fluentui#/controls/web/peoplepicker) examples (click “Export to CodePen”) or https://aka.ms/fluentpen. Always try to provide us with as much information to assist you, such as the version etc. Thank you.

[2021-07-22 13:47] ling1726 commented on #18555
@Bhavana-Nimma  you are using accessibility insights for windows, which does not report accessibility problems for web. Please use accessibility insights for web when testing issues in web content

[2021-07-22 13:47] #18555 closed

[2021-07-22 13:50] gouttierre commented on #18574
@pagaur - thank you for filing this issue and providing the CodePens.

@ling1726 -  Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-07-22 13:51] Renuka8796 commented on #19014
@smhigley  Could you please request for Accessibility Insights team to get update on the axe-core, I am not sure how to raise for that team. Thanks in advance.

[2021-07-22 13:53] gouttierre commented on #18588
@shockoe-hatch - Thanks for filing this, but you’ll need to add a CodePen repro before we can help. You can start from one of the [TextField ](https://developer.microsoft.com/en-us/fluentui#/controls/web/textfield) examples (click “Export to CodePen”) or https://aka.ms/fluentpen.

[2021-07-22 13:58] gouttierre commented on #18605
@joaojmendes - thanks for filing this item. Would you be able to share the full log/ Code-  if it is required?

@ling1726 -  Would you be able to confirm if this is a regression, or if its a component rendering behavioral issue?

[2021-07-22 14:06] gouttierre commented on #19071
@Renuka8796 - thanks for filing this issue with us.

@smhigley - Here is an accessibility issue reported related to zooming.
cc @ling1726 -

[2021-07-22 14:08] ling1726 commented on #18547
From what I can see, the issue seems to be with the `beakCurtain` which actually overlays the callout element in the tooltip, so you're not clicking on the scrollbar, you're clicking on another div:

![image](https://user-images.githubusercontent.com/20744592/126653024-1a9a4fbf-c1f7-4a2f-bdbc-f5b4b35efd93.png)

In devtools if you set the `ms-Callout-main` div to `position: absolute` you will be ab

[2021-07-22 14:09] gouttierre commented on #18795
@ImranAlliKhan - thanks for filing this issue with us.

@smhigley -  Would you be able to confirm if this is a regression, or if this behavior is an issue with NVDA and DetailsList?
cc @ling1726

[2021-07-22 14:09] ling1726 commented on #18547
Triaging as low priority, since this is a fairly rare edge case, because a tooltip with such a large overflow that requires scrolling is not a normal usage for the component

[2021-07-22 14:12] gouttierre commented on #18608
@PatoBeltran - Thank you for filing this issue with us.

@ling1726 - would you be able to take a look at this one?
cc @khmakoto

[2021-07-22 15:11] ling1726 commented on #18564
I can confirm this behaviour even on the examples on the public docsite. According #11514 a fix was applied so this should be a regression in v8.

FYI @ecraig12345

[2021-07-22 15:13] #18142 closed

[2021-07-22 17:21] joshmccall221 commented on #18572
screenshot is from demo/doc site:
https://developer.microsoft.com/en-us/fluentui#/controls/web/peoplepicker

@sailakshmi1711558, looks like it has been addressed in v8.23.7

[2021-07-22 17:30] rushj22 commented on #19070
Yes @ling1726

[2021-07-22 18:21] smhigley commented on #18273
@jendowns I'm definitely sympathetic in general to the issue of creating a divergent experience for mouse and keyboard users, and I'm not a huge fan of the idea that only keyboard users benefit from a strong focus indicator. The benefit of only showing the focus indicator on keyboard interaction is that it allows us to create a really strong, visible indicator without designers pushing back. It'd

[2021-07-22 19:01] litong2 commented on #19054
After further investigation, this looks most likely browser bug.  codepen of issue https://codepen.io/litong2/pen/XWReNwg see console output.  Firefox also sends two events but the second event's value is expected and does not double the character.  With Chromium and Safari, some characters see the second event with unexpected doubled character while other input characters do not see second event.

[2021-07-22 19:04] jendowns commented on #18273
@smhigley @ling1726 Thank you both! I'll take these points back to our accessibility testers.

[2021-07-22 19:44] kelseyyoung opened #19077 "Difference between onLayerDidMount from v7 to v8"
### Environment Information

- **Package version(s)**: "@fluentui/react": "^8.23.5"
- **Browser and OS versions**: All

### Please provide a reproduction of the bug in a codepen:

Codepen highlighting v7 behavior: https://codepen.io/kelseyyoung/pen/MWmERbX
Codepen highlighting v8 behavior: https://codepen.io/kelseyyoung/pen/ZEKXZeM

#### Actual behavior:

In the V8 example, in the console you will

[2021-07-22 20:52] khmakoto commented on #16818
These dependencies have been removed now, so closing this issue.

[2021-07-22 20:52] #16818 closed

[2021-07-22 21:12] smhigley commented on #18466
There are currently four outstanding WCAG 2.1 issues:
- [12468](https://dev.azure.com/microsoftdesign/fluent-ui/_workitems/edit/12468)
- [12600](https://dev.azure.com/microsoftdesign/fluent-ui/_workitems/edit/12600)
- [12634](https://dev.azure.com/microsoftdesign/fluent-ui/_workitems/edit/12634)
- [12294](https://dev.azure.com/microsoftdesign/fluent-ui/_workitems/edit/12294)

[2021-07-22 21:14] tomsato-ms commented on #18425
@ling1726 `flexGrow` does not mitigate the issue. I tested the property on my CodePen, but same issue is still happening where width are not distributed equally to all columns. It's still giving minWidth to the last 3 columns, and all the rest of the width to the 1st column.
https://codepen.io/tomothehiro/pen/mdWXKev
![image](https://user-images.githubusercontent.com/74430582/126710441-6115113c-b6

[2021-07-22 21:39] ecraig12345 commented on #19054
@litong2 Do you know if it worked properly in the past?

[2021-07-22 22:11] swese44 commented on #18836
Could FluentUI provide a styles-focused `memoizeFunctionWithRTL`? We seem to have the same issue on Yammer and it would be nice if every component didn't have to call `getRTL()` when creating its styles.

[2021-07-22 23:00] #18870 closed

[2021-07-22 23:00] #18834 closed

[2021-07-22 23:01] Ethan-Arrowood opened #19081 "Northstar FormButton cannot be configured as `type='submit'`"
### Environment Information

- **Package version(s)**: fluent-ui/react-northstar 0.57.0

#### Actual behavior:

Passing `type='submit'` to `FormButton` throughs type error:

[code]

[code]

#### Expected behavior:

No type error

### Priorities and help requested:

No, no capacity at the immediate moment

Requested priority: (High)

[2021-07-22 23:39] makopch-ms opened #19083 "Cannot keyboard down into menu opened by mouse in Fluent v8"
v7. https://developer.microsoft.com/en-us/fluentui?fabricVer=7#/controls/web/contextualmenu
v8. https://developer.microsoft.com/en-us/fluentui?fabricVer=8#/controls/web/contextualmenu
#### Actual behavior:

1. Click on 'Click for ContextualMenu' menu
2. Press the down arrow

Focus is not moved to the first item in the menu

#### Expected behavior:

Focus is moved to the first item in the menu

###

[2021-07-23 00:56] BerserkerDotNet commented on #18425
@tomsato-ms, change the layoutMode from justified to fixedColumns. flexGrow does not work with justified layout.

[2021-07-23 01:57] #19045 closed

[2021-07-23 02:02] #18471 closed

[2021-07-23 06:42] ShuiRuTian opened #19088 "Monaco Icons are not correctly initialized for monaco editor on official example page."
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:
1. go to page https://developer.microsoft.com/en-us/fluentui#/controls/web/stack
2. click "show code"
3. press "ctrl + F" to search

#### Actual behavior:
![image](https://user-images.githubusercontent.com/2877

[2021-07-23 07:35] petrjaros opened #19089 "[Card] Incorrect HC theme on hover"
### Environment Information

- **Package version(s)**: 0.56.0

### Please provide a reproduction of the bug in a codepen:

1. Open https://fluentsite.z22.web.core.windows.net/0.56.0/components/card/definition
2. Change theme to High Contrast
3. Hover over any card

#### Actual behavior:

Font color stays white, the text is barely readable:
![image](https://user-images.githubusercontent.com/465984/

[2021-07-23 08:07] sijeee opened #19090 "[Dropdown] Required ARIA child role not present for dropdown"
### Environment Information

- **OS** : Windows 10
- **OS Version**: 21H1 (OS Build 19043.1110)
- **Browser Version**: Microsoft Edge (93.0.933.1) (Official build)  (64-bit)

### Describe the issue:

child of an element whose role is "combobox" needs to have an aria role of textbox

### Please provide a reproduction of the issue in a codepen:

https://codepen.io/sijeee/pen/RwVjWZd

#### Actual beh

[2021-07-23 08:11] harish7080 opened #19091 "Fast paas : getting fast paas issues in tag picker when item Limit is selected. i.e Ensures every ARIA input field has an accessible name and Ensures elements with an ARIA role that require child roles contain them."
Environment Information
Package version(s): "@fluentui/react": "^8.23.7"
Browser and OS versions: Chrome and Windows 10
<img width="628" alt="98091495-84baaf00-1eab-11eb-9e6b-8131d2791a57" src="https://user-images.githubusercontent.com/14308322/126754439-9ff03630-80ef-4020-b2f3-8aa2235f0166.png">
<img width="960" alt="98091506-87b59f80-1eab-11eb-947d-499888ddcec8" src="https://user-images.githubus

[2021-07-23 08:13] ling1726 commented on #18574
Sorry @pagaur  I don't entirely get 1)

When I click `move focus on click` the next input is focused, is that what you expect from the behaviour ?

2) The issue is that the search box is not focused after clicking on `restore focus` right ?

I would also recommend you to split these two problems into separate issues, so it's easier to track

[2021-07-23 08:16] ling1726 commented on #18605
@joaojmendes  unfortunately hydration errors are expected from Fluent v8, and this issue is documented in our wiki: https://github.com/microsoft/fluentui/wiki/Server-side-rendering-and-browserless-testing, we currently don't have resources to look into this further right now, I'm really sorry 😓

Fluent v9 is intended to support SSR correctly

[2021-07-23 08:16] ling1726 commented on #18605
If this warning impacts your app in anyway please let us know further in this issue

[2021-07-23 08:22] miroslavstastny opened #19092 "Focus rings should be 1px "light" inside and 2px "dark" outside. They are only 2px dark outside color."
Focus rings should be 1px "light" inside and 2px "dark" outside. They are only 2px dark outside color.

[Juraj] I don't think we should change the focus indicator in v9, unless there was a decision I am not aware of

@bsunderhus

[2021-07-23 08:23] miroslavstastny opened #19093 "Verify icons story"
- are icons part of the release
- do we have a docsite for icons
- static classnames for outline/filled - who is reviewing icons repo PRs?
- how styles are applied (multi window support)

[2021-07-23 09:10] ling1726 commented on #18608
I can repro this issue, thanks for the great repro @PatoBeltran, interestingly if you increase zoom even more past 400% it starts to work, but the positioning is questionable

[2021-07-23 09:10] ling1726 commented on #18608
@khmakoto since you were mentioned in the issue, have you worked in SSR for v8 before ?

[2021-07-23 09:42] RajeshGoriga opened #19098 "Screen reader does not announce state as collapsed on submenu item control when focus moves on it."
### Environment Information

- **Package version(s)**: 8.22.0
- **Browser and OS versions**:  Chrome  Version 91.0.4472.164 ,NVDA 2020

### Describe the issue:

When using a screen reader, does not announce

### Please provide a reproduction of the issue in a codepen:

 This is present in the Fluent samples here:
[Sample example](https://fabricweb.z5.web.core.windows.net/oufr/8.22.1/#/examples/com

[2021-07-23 11:07] layershifter opened #19102 "Menu: in v9 an icon in "checkbox" is misaligned"
### Environment Information

- **Package version(s)**: `@fluentui/react-menu@9.0.0-alpha.53`
- **Browser and OS versions**: N/A

### Please provide a reproduction of the bug in a codepen:

"Aligning With Selectable Items" example in Storybook.

#### Actual behavior:

![image](https://user-images.githubusercontent.com/14183168/126779538-a1e92198-b091-45c4-9b12-eb0d4c83bfdb.png)

An icon in `checkma

[2021-07-23 11:41] Hotell opened #19103 "Beta packaging: ship only implementation files"
## Epic 📦

Implementation of  https://github.com/microsoft/fluentui/pull/19066 -  **1. `.npmignore` cleanup**

### Pre-requirements:
- [x] update migration generator with npm config changes (https://github.com/microsoft/fluentui/pull/19097)
- [x] implement `--all` flag to migration generator (https://github.com/microsoft/fluentui/pull/19101)
- [x] https://github.com/microsoft/fluentui/issues/18706

[2021-07-23 12:32] miroslavstastny opened #19105 "Proper changelogs for releases"
We should have proper changelogs for converged components - customers should be able easily understand what was released and when to perform upgrades even within beta releases.

- 👍👍👍 https://github.com/mui-org/material-ui/releases
- 👍 https://github.com/babel/babel/releases
- 👎 https://github.com/microsoft/fluentui/releases

[2021-07-23 12:33] miroslavstastny opened #19106 "react-components versioning and release cycle"
- switch to exact versions in dependencies
- will it work for unstable components? -> @layershifter
  - solution might be to still use ^versions and provide a resolutions generator
- manually triggered weekly/monthly release cycle?
- Write documentation about what partners can expect from beta: stability, whether there will be breaking changes, etc.

[2021-07-23 13:32] Hotell opened #19109 "tools: add proper babel setup to migration generator"
We use "all in" babel configuration setup for every new package generated via `plop` (https://github.com/microsoft/fluentui/pull/18968)

While the current (temporary) workflow to boot new packages is like following:

1. create package via plop
2. run `nx workspace-generator migrate-converged-pkg --name='package-name'`

We need to setup within migration generator `babel` configuration based on pack

[2021-07-23 13:36] Hotell opened #19110 "tools: set build:local and api-extractor based on package context"
Looks that it's related to a generated structure after the build command and a fact that @fluentui/make-styles does not have dependencies from a repo that results in different output in /dist:

### implementation

If migrated package doesn't contain any vNext `dependencies` following changes need to be applied:

[code]

[code]

_Originally posted by @Hotell in https://github.com/microsoft/fluentui

[2021-07-23 14:09] imdavidmin opened #19112 "Next.js / SSR rendering issue with Stylesheet.getInstance()"
### Environment Information

- **Package version(s)**: "@fluentui/react": "^8.23.8", "next": "11.0.1"

### Reproduction
https://github.com/microsoft/fluentui/wiki/Server-side-rendering-and-browserless-testing

Using the official wiki guide doesn't work, as the line
 `import { Stylesheet, InjectionMode, resetIds } from '@fluentui/react/lib/Utilities';`
doesn't seem to work properly.

#### Actual be

[2021-07-23 14:29] miroslavstastny opened #19113 "react-components documentation"
- Component descriptions
- ~~Dos and Don’ts~~ Best practices - who does own the content? Design spec? per component or per example?
  - will we have dedicated content writers?
- Discuss A11y section usefulness (Elizabeth, Sarah)
- Props tables
- CI deployment to a meaningful URL
- Version switch

keep @ecraig12345  in the loop

[2021-07-23 14:30] miroslavstastny opened #19114 "Review react-theme shape"
- shallow vs deep
- readable vs hashed CSS variable names

RFC #19752

[2021-07-23 14:33] miroslavstastny opened #19115 "Review component APIs to ensure overall consistency"
@ecraig12345 to potentially start the discussion

[days for audit, weeks for impl]

[2021-07-23 14:37] miroslavstastny opened #19116 "What components should be released as v9Beta?"
**Currently in `react-components`:**
- accordion
- avatar
- badge
- button
- divider
- image
- label
- link
- menu
- popover
- portal
- provider
- tooltip

**Beta quality controls required (in `@fluentui/react-components`)**
(Phase 1 & 2)
- [x] `Accordion`
- [x] `Avatar`
- [x] `Badge`
- [x] `Button` (and variants `MenuButton `, `ToggleButton`)
- [ ] `Icon`
- [x] `Link`
- [x] `Divider`
- [x] `Fluen

[2021-07-23 14:39] miroslavstastny opened #19117 "Browser support matrix for v9"
v9 does not support IE11 -> the browser support matrix will be different compared to v8.

Followup work (fixes, tests) is After BETA

[2021-07-23 14:42] miroslavstastny opened #19118 "Button background focus color in HC is wrong"
Button background focus color in HC is wrong

[2021-07-23 14:43] miroslavstastny opened #19119 "Definition of Done for v9 beta components"
- DOD for beta
- Paul's list of tasks ?

[2021-07-23 15:49] pagaur commented on #18574
for #1. yes, I expect the focus to get moved to the input control next to it, which is happening in the example as one can expect; But when you do a closer look we call to restore focus back to the original searchbox inside _tryFocusPreviousActiveElement, which failed in the example. In case the focus call got succeeded it would have steal the focus back from the next input box.

The expectation h

[2021-07-23 17:10] tomsato-ms commented on #18425
I see, it does work with the `layoutMode: fixedColumns` and `flexGrow`
Thanks, I will close the issue.

[2021-07-23 17:10] #18425 closed

[2021-07-23 17:21] kelseyyoung commented on #19058
Locally we've confirmed that removing the usage of fabricAsyncLoader fixes the issue temporarily, however it's not a permanent fix. Is there a reason the "hostElement" was moved up to the Callout? I'm wondering if a simple fix could be to move it back to the div element under Callout where it used to be

[2021-07-23 17:30] chrisdholt commented on #18987
Fixed by #19087

[2021-07-23 17:30] #18987 closed

[2021-07-23 17:54] pagaur commented on #18574
@ling1726 BTW the [issue #1](https://office.visualstudio.com/OC/_workitems/edit/4848946/) reproduces in Excel-online app.

[2021-07-23 18:22] lucas-stanford opened #19121 "[Announced][Narrator] Doesn't seem to work in Chrome, it only announces 'group'"
### Environment Information
- **Package version(s)**: 8.23.8
- **Browser and OS versions**: Chrome, Windows Version	10.0.19043 Build 19043

### Describe the issue:
When testing this sample in chrome/narrator : https://developer.microsoft.com/en-us/fluentui#/controls/web/announced/bulkoperations

It reads 'group', instead of the number of selected items deleted.

#### Actual behavior:
Expected to r

[2021-07-23 19:46] khmakoto commented on #19092
Should we maybe ask design what would be the correct thing to do here?

[2021-07-23 20:47] #19058 closed

[2021-07-23 20:47] #19083 closed

[2021-07-23 21:30] makopch-ms opened #19123 "onMenuDismissed gets called twice when sub-menu gets dismissed"
Providing “onMenuDismissed” for a submenu actually calls the method twice.

Here’s a codepen: https://codepen.io/kelseyyoung/pen/poPddXw

onMenuDismissed is provided for the “New Item” submenu, the method just logs “test” in the console. Repro steps:

Open dev console
Click “Click for Contextual Menu” to open the menu
Hover over “New Item”, sub menu opens
Hover over “Share”, observe that “test” is

[2021-07-23 21:50] eesabher opened #19124 "Callout component not visible in fullscreen"
### Environment Information

- **Browser and OS versions**: All browsers (including latest Chrome and Edge)

### Describe the issue:

We have a list of navigation items overlaid on top of a video player. When the video player is in full screen, the overflow item's callout menu is not visible when selected. Looking at the DOM, the callout menu is there, just not visible and manipulating CSS does no

[2021-07-23 22:21] mwiemer-microsoft commented on #8240
I think this issue can be closed, as the FAQ in the official docs site recommends spreading the items array in order to achieve this behavior: [My list is not re-rendering when I mutate its items! What should I do?](https://developer.microsoft.com/en-us/fluentui#/controls/web/groupedlist#my-list-is-not-re-rendering-when-i-mutate-its-items-what-should-i-do)

To determine if the list within the grou

[2021-07-23 22:25] mwiemer-microsoft opened #19125 "GroupedList should support filtering"
#### Describe the feature that you would like added

Currently, the GroupedList component requires a tree structure (`groups`) and a backing flat list (`items`). If it's ever valuable to filter those items, the logic to filter is a bit complex, since both data structures need to be updated.

It would be great if `GroupedList` accepted a `filter: (item: any) => boolean` prop that updated the render

[2021-07-23 22:44] MBSilverstein commented on #15418
@smhigley When I apply an aria-label or aria-labelledby to the SwatchColorPicker, the attribute gets applied to the table element rather than the FocusZone that surrounds it. If I manually apply the attribute the the FocusZone's div, I get a much better experience in Narrator. Would it be possible to get a smaller fix that lets us specify an "aria-labelledby" attribute value for the FocusZone?

[2021-07-24 02:29] BerserkerDotNet commented on #18425
@tomsato-ms glad I could help.

@ling1726 I still thin k there are things to fix as part of this issue:
1. Remove `targetWidthProportion` field as it is not used and misleading
2. Update the docs and include samples for the `flexGrow` as they are not currently listen in the samples website

[2021-07-24 10:01] dkozar commented on #18839
Great to see this fixed!

Just wondering - does this work with repositioning the popup when close to the screen edge (in order to avoid being clipped by the edge)? Like in my demo: https://codesandbox.io/s/silly-http-oebdv?file=/src/App.js:0-763

[2021-07-25 07:53] parmira5 commented on #12081
Also having this issue.

[2021-07-25 21:57] Crossmax14 opened #19128 "Detail list filter problem in documentation"
#### Describe the feature that you would like added

**I'm not entirely sure which category this should fall into, a bug or a feature request.**

The problem is in the detail list (in the documentation), when trying to filter, it does not behave as the user expects.
Going to the page https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist, some examples have an input field with th

[2021-07-26 00:00] #16307 closed

[2021-07-26 07:30] forehalo opened #19131 "`DocumentCard` has dual border outlines when hovered"
### Environment Information

- **Package version(s)**: Same as docs site
- **Browser and OS versions**: Edge on Windows 11

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
![image](https://user-images.githubusercontent.com/8281226/126949698-8dfeeb02-ac71-4011-a22e-750461ee7be7.png)

### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, N

[2021-07-26 07:46] ling1726 commented on #19081
@Ethan-Arrowood Thanks for submitting the issue, here is a codesandbox repro: https://codesandbox.io/s/vigilant-morse-g7pim?file=/src/App.tsx

In this case, it is a bug in our typings, but hopefully should have low impact since by `type="submit"` is the default behaviour in any `button` element that is associtated in a `form`: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button

[2021-07-26 07:54] ling1726 commented on #19121
@lucas-stanford  can you please provide more information for a repro ? Do you focus on the items in the example ? are you using Narrator in scan mode ?

[2021-07-26 08:00] ling1726 commented on #19112
@ecraig12345  is this a documentation update that's needed or an bug in the exports of v8 ?

[2021-07-26 08:01] layershifter opened #19132 "MenuItemRadio: defaults are not merged"
### Environment Information

- **Package version(s)**: `@fluentui/react-menu@9.0.0-alpha.54`
- **Browser and OS versions**: N/A

### Please provide a reproduction of the bug in a codepen:

A minimal repro is an override for `checkmark`:

[code]

https://codesandbox.io/s/determined-cookies-oqj7j?file=/src/App.js:177-186

`checkmark` from `props` totally overrides defaults when it should be merged:

[2021-07-26 08:11] ling1726 commented on #19123
Thanks for the issue and repro @makopch-ms.

This seems like a separate issue, from the way you describe it, is it linked to `onMenuDismissed` ?

[2021-07-26 08:16] ling1726 commented on #19125
@mwiemer-microsoft Thanks for the the feature request, I've added it to the backlog for the v8 team to prioritize

[2021-07-26 08:25] ling1726 commented on #19131
@forehalo  thanks for the issue and repro steps

The hover adds an `::after` pseudoelement that adds another border to the component

[2021-07-26 09:30] #19132 closed

[2021-07-26 09:35] ling1726 commented on #19102
Need to follow up with design about this, the current spec indicates different sizes for the checkmark icon and foreground icon. It's not a clean fix as long as these icons have different sizes

[2021-07-26 09:45] imdavidmin commented on #19112
FYI all three are exported from @fluentui/react

[2021-07-26 10:18] #18706 closed

[2021-07-26 14:00] #18993 closed

[2021-07-26 17:17] makopch-ms commented on #19123
I was just stating the behavior that we are seeing in our app.  @kelseyyoung  and I believe this should fix the issue.

[2021-07-26 18:15] behowell commented on #19123
It looks like PR #14513 added a call to `useEffect` that invokes `onMenuDismissed` when the menu is unmounted, but didn't remove the call in `componentWillUnmount`, so now it's called in two places. Removing the `onMenuDismissed` call from `componentWillUnmount` should solve the issue. I'll publish a PR.

[2021-07-26 20:00] #19123 closed

[2021-07-26 20:47] chaofeng2014 opened #19136 "TeachingBubble header tag need be corrected"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:

The header tag in the teaching bubble is using <P>, but actually for accessibility concern and better user experience, we should use `<h1>` or `<h(number)>` tag. So narrator will recognize the tag correctly.

### Please provide a reproduction of the issue

[2021-07-26 21:14] tomi-msft commented on #17503
Reopening to address issue after author feedback

[2021-07-26 22:43] chaofeng2014 commented on #19136
Maybe because I don't have permission, but this bug should be put label: teachingBubble(this might save some time for bug triage)

[2021-07-27 01:33] japamatSynapse opened #19141 "No error message animations for Dropdown Input"
### Environment Information

- **Package version(s)**: `"@fluentui/react": "^8.13.0",`
- **Browser and OS versions**: `"5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.107 Safari/537.36"
`

### Reproduction of the bug in a codepen
[reproduction](https://codepen.io/japamat/pen/YzVePyB)

i can work around like this:
[code]

This workaround feels brittl

[2021-07-27 05:18] SalmanSaberi commented on #17916
Hi team
Please let us know if this is a "Wont Fix" issue or gives us an ETA by when this issue can be closed ?

[2021-07-27 05:25] SalmanSaberi commented on #13779
Hi Team
Please let us gives us an ETA by when this issue can be closed ?

[2021-07-27 05:25] shia940 opened #19142 "Rendering Adaptive Card on Hover Card"
### Environment Information

- **Package version(s)**: Latest Package
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

I have attached hover card to some url in outlook mail. Hover Card renders adaptive card inside it. My adaptive card contains a list of choices from which a user can select any choice (In

[2021-07-27 05:41] SalmanSaberi commented on #13245
Hi Team
Please let us gives us an ETA by when this issue can be closed ?

[2021-07-27 05:43] SalmanSaberi commented on #13177
Hi Team
Please let us gives us an ETA by when this issue can be closed ?

[2021-07-27 07:24] ling1726 commented on #19081
@Ethan-Arrowood  we have moved this to our next sprint and will fix accordingly, if you would like to make a contribution please feel free to do so and we will review.

[2021-07-27 07:25] ling1726 commented on #19081
That seems like a bigger issue, yeah. Apologies, I understood that your issue was with typings when trying to use `type="submit"`

[2021-07-27 07:29] tanisha2710 commented on #16292
@ecraig12345 can I contribute to this issue, let me know if is open to contribute, I am actively looking for some issues to contribute to as a first time contributor to OSS

[2021-07-27 07:40] tanisha2710 commented on #18532
@CheerfulSatchel  is it something you are looking at? I was looking to contribute to OSS, let me know about its status

[2021-07-27 07:51] heptapod42 commented on #16653
@ecraig12345 @amygl I'd like to work on the PR if that's okay with you

[2021-07-27 08:03] MKHSKY opened #19143 "Dialog looses state on resize"
### Environment Information
- **Package version(s)**: Latest on developer.microsoft.com
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:
![ezgif-7-e30058ab4484](https://user-images.githubusercontent.com/42220355/127118737-f9cc45ee-e05d-4b3e-bf6b-90117e2ca1cb.gif)

#### Actual behavior:
Im checking a checkbox, on resize, the chec

[2021-07-27 08:36] ling1726 commented on #19136
@smhigley  could you please take a look at this issue, and see if the heading role is relevant here in the `p` tag ?

[2021-07-27 08:49] ling1726 commented on #19141
Thanks for the issue and the great example @japamatSynapse , we'd be happy to review any contributions to Fluent too if you' like to check in this feature yourself

[2021-07-27 08:54] ling1726 opened #19144 "How to expose popper options in v9 components that use popper"
How to expose popper options in v9 components that use popper

[2021-07-27 09:19] ling1726 opened #19145 "How to expose `popper` configuration to v9 components"
v9 components that use popper currently do not expose all popper options in the `usePopper` hook in the same way. Propose a way to configure popper in a consistent way across all v9 components

[2021-07-27 09:49] shariquekhan1997 opened #19146 "Base64 Format Support For Persona imageUrl"
#### Describe the feature that you would like added

Persona component supports jpg png SVG and gif format in ImageUrl.
But it doesn't support the base64 format which we usually get in Dynamics CRM 365.

#### Additional context/Screenshots

![image](https://user-images.githubusercontent.com/36981186/127133843-19dfbc82-f9fe-4e9c-bd47-ed0e55a15531.png)

#### Question
Is there a way I can get my bas6

[2021-07-27 11:55] LukeOwlclaw opened #19149 "DetailsList ignores canSelectItem when some items initially selected"
### Environment Information

- **Package version(s)**: https://unpkg.com/@fluentui/react@8.23.10/dist/fluentui-react.js

### Please provide a reproduction of the bug in a codepen:

Follwing codepen creates a ``DetailsList`` with 5 items. All of them are initially selected, for 4 of them `canSelectItem` is set to `false`.

https://codepen.io/LukeO/pen/YzVeZMz

#### Actual behavior:

Initially "(Un)

[2021-07-27 18:18] haugerbr opened #19154 "DetailsList header text supporting JSX Element instead of only string"
#### Describe the feature that you would like added

I wanted to add tooltips to headers and the only way to do it that didn't destroy custom styling was to cast the header text to **any** and pass it a JSX element. This also made sure the sorting and filter icons that are built in still work. Since this already works, it would be nice to see the typing changed to JSX element. I understand accessi

[2021-07-27 18:46] japamatSynapse commented on #19141
I found a stable workaround I feel comfortable deploying, just use the same animation fluent does for other inputs:

[code]

I have no idea on how to contribute to this project, let alone be able to test to see if the solution works, but id guess on your end its adding something like this to somewhere in [this file](https://github.com/microsoft/fluentui/blob/master/packages/react/src/components/Dr

[2021-07-27 18:55] chaofeng2014 commented on #19136
Add the accessibility insights for web fast pass result to help understand the accessibility concern:
![image](https://user-images.githubusercontent.com/6550896/127211626-baf51f9c-bbc0-4f38-8e7a-bc57a6aca392.png)

[2021-07-27 20:49] Ethan-Arrowood opened #19156 "Northstar DatePicker manual input is broken"
### Environment Information

- **Package version(s)**: fluent-ui/react-northstar 0.57.0

### Please provide a reproduction of the bug in a codepen:

Not needed, use the first example in documentation: https://fluentsite.z22.web.core.windows.net/0.57.0/components/datepicker

#### Actual behavior:

Does not change value

#### Expected behavior:

Supports manual input

### Priorities and help request

[2021-07-27 22:36] makopch-ms opened #19157 "FocusTrapZone's focusAsync (from component mount) firing after child's async function"
### Environment Information

- **Package version(s)**: Fluent v8 (latest)
- **Browser and OS versions**: N/A

### Please provide a reproduction of the bug in a codepen:
v7: https://codepen.io/makopch/pen/eYWVPNj
v8: https://codepen.io/makopch/pen/ZEKrqYR

#### Actual behavior:

Focus goes to the first button in the panel

#### Expected behavior:

Focus goes to the second button which the panel con

[2021-07-27 22:51] scottaohara commented on #16926
Hi there.

I had come to Fluent's issues to file a request for an accordion component, as I've seen many teams misusing the tree grid component as a stand-in for more appropriate disclosure widgets / accordion components.  So I'm very happy to see this in the works and (hopefully?) coming soon!

I do have one comment, having read through the thread here, concerning the following:

This is actually

[2021-07-27 23:19] behowell commented on #19157
I tried removing `requestAnimationFrame` from the example using v8, and it works: the second button is focused when the panel opens. Is that a viable workaround? I'm not sure why `requestAnimationFrame` was there in the first place?
https://codepen.io/behowell/pen/oNWEaqj

[2021-07-27 23:50] ecraig12345 commented on #18224
You should currently be able to do this already by providing `buttonProps['aria-labelledby']`. `buttonProps` is misleadingly named--it's actually the props for the slider track element with `role="slider"`. https://codepen.io/ecraig12345/pen/oNWEaVL

If anyone wanted to make a PR adding a new prop `slideBoxProps?: React.HTMLAttributes<HTMLElement>` and deprecating `buttonProps`, that would be welc

[2021-07-27 23:51] lucas-stanford commented on #19121
It doesn't work at all in any scenario/mode in chrome. But here are some more explicit repro steps:

1. https://developer.microsoft.com/en-us/fluentui#/controls/web/announced/bulkoperations.
1. click the select all button of the grid,
![image](https://user-images.githubusercontent.com/3011776/127241905-5f92e6c1-874f-4fb1-959e-8d31c18af600.png)
1. use your keyboard to navigate to the delete all but

[2021-07-28 00:09] ecraig12345 commented on #16885
This seems like a duplicate of #3692.

[2021-07-28 00:09] #16885 closed

[2021-07-28 00:20] ecraig12345 commented on #16292
@tanisha2710 Thanks for the interest! Unless this is something your team needs, it's pretty low priority, so there are probably some better issues for you to start on.

[2021-07-28 00:39] ecraig12345 commented on #18916
It depends on the specific usage. IIRC there are a handful of cases that are highly sensitive to timing where `useLayoutEffect` may be necessary. (But there's no way to force React to disable the warning for those cases...)

### Definitely wrong

I think the second `useLayoutEffect` here will prevent keytips from being registered in SSR. Since keytips only display after a keyboard trigger and it's

[2021-07-28 00:48] ecraig12345 commented on #18605
Duplicate of #3692

[2021-07-28 00:48] #18605 closed

[2021-07-28 01:03] ecraig12345 commented on #16653
@heptapod42 Sure that's fine. As mentioned above I think the `onAdjustInputHeight` approach is better, and it looks like you'd need to call it after the height has been adjusted.

[2021-07-28 03:26] DicardoX opened #19160 "How can I hide the checkbox displayed in the dropdown bar from the IComboBoxProps widget?"
<img width="1120" alt="截屏2021-07-28 上午11 25 48" src="https://user-images.githubusercontent.com/49444151/127258838-8267e56c-96fe-464b-8efc-48f1ca1b4455.png">

[2021-07-28 03:29] DicardoX commented on #19160
And my code goes like:
`sdkName: {
      "ui:description": strings.tooltips.sdkName,
      "ui:widget": "FabricComboBox",
      "ui:options": {
        fabricProps: {
          options: this.getSDKNameOptions(),

          // allowFreeform: true,
          onChange: (e, o: IComboBoxOption) => {
            // ...
        } as IComboBoxProps,
      },
    },`

[2021-07-28 03:30] DicardoX commented on #19160
And my code goes like:
`// Get SDK Name Options
  private getSDKNameOptions(): IChoiceGroupOption[] {
    return [{key: "dotnet", text: "Dotnet", styles: {}},
            {key: "python", text: "Python"},
            {key: "go", text: "Go"},
            {key: "cli", text: "Cli"},
            {key: "terraform", text: "Terraform"}];
  }`

[2021-07-28 04:48] DicardoX commented on #19160
Solved, just add "multiSelect: false,"

[2021-07-28 04:48] #19160 closed

[2021-07-28 07:00] Yongjun042 opened #19161 "ChoiceGroup sample onchange Type Error"
### Environment Information

- **Package version(s)**: react 17.0.2 @fluentui/react 8.23.10 typescript 4.1.2
- **Browser and OS versions**: Firefox Windows10

### Please provide a reproduction of the bug in a codepen:

https://developer.microsoft.com/en-us/fluentui#/controls/web/choicegroup
Copy Basic ChoiceGroup and Controlled ChoiceGroup sample code.

https://codesandbox.io/s/choicegrouponchange

[2021-07-28 07:45] ling1726 commented on #18916
All of those issues can be solved by introducing a [useIsomorphicLayoutEffect](https://github.com/microsoft/fluentui/blob/master/packages/react-utilities/src/hooks/useIsomorphicLayoutEffect.ts) that already exists in v0/9, it's just a simple hook that toggles between `useEffect` and `useLayoutEffect` depending on server/browser render:

[2021-07-28 08:44] RajeshGoriga opened #19162 "Screen reader does not announce the name and role of menu items in scan mode"
### Environment Information

- **Package version(s)**: v8

### Describe the issue:

Screen reader not announcing name and role of menu items in Scan mode

### Please provide a reproduction of the issue in a codepen:

#### Actual behavior:

Screen reader not announcing name and role of menu items in Scan mode

#### Expected behavior:

It Should read out name and role of menu items in scan mode

###

[2021-07-28 08:49] bsunderhus commented on #16926
Thx for the feedback @scottaohara! The implementation will follow WAI-ARIA spec as recommended and use a header with a button by default, but opting-out mechanisms will be provided to ensure that this behavior can be addressed

[2021-07-28 10:30] #17503 closed

[2021-07-28 12:16] #19033 closed

[2021-07-28 12:38] heptapod42 commented on #16653
Working example for using the onAdjustHeight callback to fix the container scroll movement in CodeSandbox
https://codesandbox.io/s/textfield-onadjustheight-example-g3kvp?file=/src/index.tsx

[2021-07-28 15:45] scottaohara commented on #16926
Thank you for the response  Look forward to the component's release.

[2021-07-28 17:41] smhigley commented on #19071
I can't reproduce this, actually -- when I zoom even past 200%, the show more button still looks fine:
![screenshot of the tagpicker codepen linked in the issue, zoomed to 250% with the show more option visible](https://user-images.githubusercontent.com/3819570/127370615-5e96e2a2-836b-4011-bde7-6c3dc57b0b13.png)

[2021-07-28 17:43] smhigley commented on #19136
Yes, this should be fixed. Ideally, we would make the `<p>` tag into a real `<h#>` tag, though I'm not sure if that's a good idea for backwards compat. At minimum we should add a prop to customize the heading level, default it to something like 2 or 3, and add `aria-level={level}`.

[2021-07-28 17:54] #17788 closed

[2021-07-28 18:21] ecraig12345 commented on #19070
It looks like something is accessing `navigator.userAgent` without a check for whether it's defined. Adding that check would be easy enough, but since typescript typings for `Navigator` list `userAgent` as required, it's entirely possible that the issue will come back in the future.

The easiest way to work around this and ensure the issue won't reoccur would be setting `navigator.userAgent = ''`

[2021-07-28 18:26] ecraig12345 commented on #18916
@ling1726 That doesn't fix cases where `useLayoutEffect` is actually required for timing reasons.

[2021-07-28 18:57] dwootton opened #19165 "Teaching Bubble Content not viewport aware when combined with Coachmark"
### Environment Information

- **Package version(s)**:  fabric ui  7.170.1
- **Browser and OS versions**: Edge

### Please provide a reproduction of the bug in a codepen:
When creating a teaching bubble and coachmark combo (as suggested in the docs) the corresponding teaching bubble isn't viewport aware and will be positioned off screen. This is even after setting isPositionForced on the Callout
`

[2021-07-28 19:32] #18149 closed

[2021-07-28 21:17] #18381 closed

[2021-07-29 03:32] v-pasha2 commented on #11832
Hi is there any ETA on this ? We have accessibility bug which is close to its SLA.

[2021-07-29 06:19] LucyLiYY opened #19174 "Chart - In Browse mode, NVDA reads the callout content of first focus section multiple times"
### Environment Information

The issue repros on Fluent UI example site
https://fabricweb.z5.web.core.windows.net/pr-deploy-site/refs/heads/master/charting/dist/index.html#/examples/Donutchart

### Describe the issue:

In browser mode, NVDA announces the hidden call out dialog content for each sections. All the callout dialog content are the same as the first section when they are hidden.

#### Ac

[2021-07-29 06:51] sivapalaniappan opened #19175 "SwatchColorPicker Keyboard Navigation doesn't work as expected"
### Environment Information

- **Package version(s)**: 8.23.10
- **Browser and OS versions**: Edge - 92.0.902.55 (Official build) (64-bit) and Win10 Enterprise 21H1 (OS Build: 19043.1110)

### Describe the issue:

Incorrect Keyboard navigation for color selection on SwatchColorPicker.

### Please provide a reproduction of the issue in a codepen:

1. The repro happens with this fluent example itsel

[2021-07-29 06:54] LucyLiYY opened #19176 "Chart - On navigating to Graphs NVDA should announce the instructions as hit right arrow key to navigate to other section for further information."
### Environment Information

The issue repros on Fluent UI Charting Example site:
https://fabricweb.z5.web.core.windows.net/pr-deploy-site/refs/heads/master/charting/dist/index.html#/examples/stackedbarchart

### Describe the issue:

On navigating to Graphs, NVDA is  not announcing any instruction on how to navigate to next section.
![image](https://user-images.githubusercontent.com/17995942/12744

[2021-07-29 07:28] sivapalaniappan opened #19177 "@fluentui/react - Warning on conflicting exports"
### Environment Information

- **Package version(s)**: 8.23.10
- **Browser and OS versions**: Edge - 92.0.902.55 and Win 10 Enterprise

### Please provide a reproduction of the bug in a codepen:

1. `npm install @fluentui/react`
2. Import any utility/component and use it in your js file.
3. Run webpack-dev-server

#### Actual behavior:

`
WARNING in ./node_modules/@fluentui/react/lib/index.js 84:0

[2021-07-29 08:03] ling1726 commented on #18916
@ecraig12345 the only issue is that `useLayoutEffect` will throw a warning in server render, just replace it with `useEffect` during server render, effects aren't even run on the server. By the time the app is in the browser `useLayoutEffect` will still be used, that's the whole point of `useIsomorphicLayoutEffect`

[2021-07-29 08:06] ling1726 commented on #19176
@Raghurk  can you take a look at this ?

[2021-07-29 09:26] Deerhound579 opened #19179 "Focus is not restored when close a Callout controlled by hidden"
### Environment Information

- **Package version(s)**: 8.25.0
- **Browser and OS versions**: Chrome 91.0.4472.164 (Official Build) (64-bit) + Windows 10

### Describe the issue:

When using keyboard, ESC closes the callout, but the focus is not restored to the previous focused element. This happens when `Callout` is controlled by `hidden`.

### Please provide a reproduction of the issue in a codep

[2021-07-29 10:01] ling1726 commented on #19142
@shia940  Could you please provide a code repro so that we can investigate easier and also determine that there is no app specific code that needs to be in this repro ?

[2021-07-29 10:10] ling1726 commented on #19143
@MKHSKY  thanks for the issue, from what I've seen, the state is persisted, it seems to be rather the selected option styles are removed.

I added a `console.log()` to `onChange` and noticed that it was never called, even when the choice group selected indicator disappeared.

This is most likely a bug

[2021-07-29 10:11] ling1726 commented on #19146
@ecraig12345 do you know anything about image support here ?

[2021-07-29 11:15] dinoilic opened #19181 "Object.assign not polyfilled in Pivot component which breaks the experience in IE11"
### Environment Information

- **Package version(s)**:
[code]
- **Browser and OS versions**: Internet Explorer 11

### Please provide a reproduction of the bug in a codepen:
Unfortunately there is no possible repro on CodePen since CodePen does not support IE11. If you can create a small application and try using the `<Pivot>` component and load the page in IE11. You should get this error:

`Objec

[2021-07-29 12:09] #18913 closed

[2021-07-29 12:19] ling1726 commented on #19181
@dinoilic  thanks for the great issue, marking as high priority since v8 should support IE11

[2021-07-29 12:23] ling1726 commented on #19156
The break seems to happen at 0.54.0

Once you try to type input into the datepicker it will immediately select a default date:

Using this docsite example:

![image](https://user-images.githubusercontent.com/20744592/127491161-92d8a052-a2a0-4cc1-af51-3e2f3cdae7fe.png)

[2021-07-29 12:28] ling1726 commented on #19161
@Yongjun042  thanks for the great code repro. Unfortunately the typings can all be `undefined` so you'll need to type them as such and add guards for usage. I forked your sandbox and fixed these issues here: https://codesandbox.io/s/choicegrouponchangeerror-forked-gyf7x?file=/src/control.tsx

@ecraig12345  are these aggressive `undefined` types by design ?

[2021-07-29 12:31] ling1726 commented on #19177
@sivapalaniappan  thanks for the repro steps

Possible conflicting exports should be handled ASAP, assigning high priority for someone in the v8 team to investigate further.

[2021-07-29 12:33] ling1726 commented on #19154
@haugerbr  thanks for the feature request. I've put it in the backlog, but unfortuantely `DetailsList` features are not cheap to implement, so it might take some time for us to get onto it.

If you would like to contribute this feature feel free to drop a PR and we can help you review it.

[2021-07-29 12:33] ling1726 commented on #19179
@Deerhound579  Thanks for the great issue and repro!

[2021-07-29 12:35] ling1726 commented on #19121
@smhigley  could you lend a hand with your screen reader expertise ?

[2021-07-29 13:34] dinoilic commented on #19181
Thanks @ling1726 - I encountered another issue which started appearing after our migration to v8, however I think we would need to investigate further since it's only reproducible in one specific case related to SharePoint. Is there any way I can share more details about this?

[2021-07-29 13:37] #18598 closed

[2021-07-29 15:29] Yongjun042 commented on #19161
Thank you for answer!

[2021-07-29 16:14] dinoilic commented on #19181
@ling1726 Yeah, I understand that a code repro would be the best, however it's very difficult since it's related to IE11 and the only place where I can reproduce is in SharePoint, so opening a new issue would be pointless without a proper repro.

[2021-07-29 16:50] ling1726 commented on #19181
@dinoilic  please create a new issue anyway, let's keep this issue focused to a problem we **do** know about

[2021-07-29 17:00] #19067 closed

[2021-07-29 17:00] #18588 closed

[2021-07-29 17:45] dinoilic opened #19190 "getLinkItems method from Pivot crashes the web app in IE11"
### Environment Information

- **Package version(s)**:
[code]
- **Browser and OS versions**: Internet Explorer 11

### Please provide a reproduction of the bug in a codepen:

Unfortunately, I can't provide a repro on this once since I can't reproduce it locally, however it reproduces in SharePoint in Internet Explorer (more information can be given via Teams)

#### Actual behavior:

The applicatio

[2021-07-29 17:45] dinoilic commented on #19190
@ling1726 Here's the new issue that's also blocking Search in SharePoint and Office.com from deploying any new versions.

[2021-07-29 19:05] QuangThuanDinh opened #19191 "FocusTrapZone not working with content that have IFrame only"
### Environment Information

- **Package version(s)**: 7.173.1
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

This issue can repro in this codepen example: https://codepen.io/qthuan/pen/NWjYaav
-
#### Actual behavior:

If the content of FocusTrapZone have only IFrame:
- The circle focus is not working: When stay in the first

[2021-07-29 20:05] ecraig12345 commented on #19161
Probably not, but unfortunately we can't change it to make them required outside a major release because that would be a breaking change.

[2021-07-29 20:07] #19161 closed

[2021-07-29 20:13] ecraig12345 commented on #19146
I'm able to create a Persona, PersonaCoin, or Image with a base64 data-url and it works fine: https://codepen.io/ecraig12345/pen/YzVLzBE

@shariquekhan1997 If you've seen this not working in some other case, can you make a modified copy of the codepen showing that?

[2021-07-29 20:14] ecraig12345 commented on #19067
Microfeedback is found in `@fluentui/react-experiments` (version 8) or `@uifabric/experiments` (version 7).

[2021-07-29 20:16] dmp569 commented on #13309
It seems the issue might be related to how the error message is associated to the input control. The framework is injecting the error as an alert so that it is read immediately and automatically by the screen reader (which is good). You are also attaching an aria-describedby attribute to the <input> with the error (fine), however since the alert has been announced it seems like the screen reader s

[2021-07-29 21:50] smhigley commented on #13309
I narrowed this down to an Edge bug with how `aria-describedby` is mapped. They're not computing the description for the referenced node when it contains `role="status"` or `role="alert"`, and not setting the FullDescription prop in UIA.

Test cases here for reference, and a bug has been filed on Edge: https://jsfiddle.net/9dojch0m/

[2021-07-29 21:53] wrathofdon opened #19197 "Add support for allowing the user to paste multiple picker items at the same time"
#### Describe the feature that you would like added

Basically, instead of having the user submit one picker item at a time, make it so they can submit multiple items at once, separated by commas or semicolons.  Each individual item can then be validated/corrected individually.  This would be useful for situations where you might want to be able to add a large number of items.

#### What component

[2021-07-29 23:00] #18572 closed

[2021-07-30 01:14] makopch-ms commented on #19157
We are using requestAnimationFrame for performance purposes so that we can push actions off so we can render faster / avoid long frames.

Is there a reason for the timing difference, in that both v7 and v8 both are doing this in focusAsync but v8 seems to be happening later?

[2021-07-30 03:16] shariquekhan1997 commented on #19146
Ok I got the point, actually I don’t know beforehand if it will be png or jpg so wasn’t adding the first few characters.
data:image/png;base64

[2021-07-30 03:16] #19146 closed

[2021-07-30 05:20] SreejaPampara opened #19198 "At 400% Zoom, While navigating using down arrow key, focus is not going to "searchForMoreText" prop value in the Tag Picker Suggestion pop up."
### Environment Information

- **Package version(s)**: version 8.25.0
- **Browser and OS versions**: Chrome, Edge  - Windows 10

### Describe the issue:

When the control is zoomed to 400% and trying to navigate through items using down arrow key.
1. The "searchForMoreText" prop is not visible on the screen when the focus is on that button.
2. The active focused item is not visible in the screen

[2021-07-30 06:52] tanisha2710 commented on #19025
@ecraig12345  I would like to help on this could I get more info on this

[2021-07-30 07:04] chintanupadhayay commented on #18901
Hi @ecraig12345 Is there any update?

[2021-07-30 07:46] ecraig12345 commented on #19025
@tanisha2710 Thanks! Here's what I'd suggest. Sorry if this is unnecessarily prescriptive but I figured that's better than not enough detail, since I don't know what your background is.

While looking at the code, I noticed there are already some top-level props for width and height (I didn't know about these when writing my earlier comment):

https://github.com/microsoft/fluentui/blob/4be0412e53a

[2021-07-30 07:47] #19181 closed

[2021-07-30 07:50] ling1726 commented on #19162
@RajeshGoriga I am using Narrator on the docsite examples: https://developer.microsoft.com/en-us/fluentui#/controls/web/contextualmenu and `menuitem` is narrated.

Can you provide some more information such as what screen reader you are using and a code example similar to what you have in your app ?

[2021-07-30 08:00] #12043 closed

[2021-07-30 08:32] ling1726 commented on #19190
@ecraig12345 we should investigate these IE11 errors, since the v8 docsite currently does not work in IE11

[2021-07-30 08:47] dinoilic commented on #19190
Also, I talked to @behowell who mentioned he might have an idea what's wrong with this particular one.

[2021-07-30 13:13] eloisepeng opened #19205 "Request to add a new optional props shouldEscClearsSelection to SelectionZone.tsx"
#### Describe the feature that you would like added

M365 Content Picker is using SelectionZone component. and we found that when there's any content selected, if a user press the "Esc" key, it will deselect all content and then one more press on "Esc" key will close the dialog. But we actually want to close the dialog immediately when the user press the "Esc" key whether there's any selected item

[2021-07-31 00:16] ecraig12345 commented on #19190
I suspect the problem is the `isPivotItem` check, because IE 11 doesn't support the `name` property for functions.

v8:
https://github.com/microsoft/fluentui/blob/a5903f5998355805ed787f677bc070d6bfc5fef3/packages/react/src/components/Pivot/Pivot.base.tsx#L58-L60

v7:
https://github.com/microsoft/fluentui/blob/e851260024a6d8d525a5a171b72c242b3cdf0d5e/packages/office-ui-fabric-react/src/components/P

[2021-07-31 01:00] #18996 closed

[2021-07-31 07:10] LucyLiYY opened #19213 "Basic DetailsList spacing accessibility bug (website-specific)"
### Environment Information

- **Package version(s)**: Latest
- **Browser and OS versions**: Edge

### Describe the issue:

Use text spacing bookmarklet to apply the text spacing

When you run the text spacing against: https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist/basic the selection column spacing is off.

### Please provide a reproduction of the issue in a codepen:

##

[2021-08-01 18:00] #16320 closed

[2021-08-01 20:00] #16437 closed

[2021-08-02 04:53] heptapod42 commented on #16653
@ecraig12345 I've raised a [PR](https://github.com/microsoft/fluentui/pull/19163) for this issue. Would you be able to review it?

[2021-08-02 06:53] huangzumeihan opened #19214 "Screen Reader is announcing incorrect info "list" is getting announced at Breadcrumb items."
Actual:
Screen Reader is reading "list of 10 items" when the the focus lands at the breadcrumb.  screen reader announces incorrect information i.e "Out of list, main landmark, list with 10 itesm Link home", screen reader should not announce out of list.

Expected:
The screen reader shouldn't announce "List" along with the deatils.
Fabric's breadcrumb announces "List with 10 items"

![4](https://us

[2021-08-02 10:18] LucyLiYY commented on #19176
Is it by design?

[2021-08-02 12:51] layershifter opened #19217 "@fluentui/e2e: yarn test does not work on Windows"
### Environment Information

- **Package version(s)**: `master`
- **Browser and OS versions**: Windows 10

### Please provide a reproduction of the bug in a codepen:

- jump to E2E directory, `cd packages/fluentui/e2e`
- run `yarn test`

It looks that command should contain be escaped:

https://github.com/microsoft/fluentui/blob/147ad1114e2e9261aae0908b98b7244a8b8997a7/scripts/gulp/plugins/gulp-cy

[2021-08-02 13:16] layershifter opened #19218 "@fluentui/e2e: Cypress command produces wrong paths for tests"
### Environment Information

- **Package version(s)**: `master`
- **Browser and OS versions**: Windows

### Please provide a reproduction of the bug in a codepen:

This happens only on Windows as custom command handles only Unix-like paths.

https://github.com/microsoft/fluentui/blob/dab45a2afe609709735b9b6e604a1af40d50e809/packages/fluentui/e2e/cypress/support/commands.js#L3-L9

[code]

Then it p

[2021-08-02 16:17] annaowens commented on #15890
@v-ajrai I ran into a similar issue and was able to get around this by setting `required={true}` on the Combo Box element. The `required` tag automatically added `aria-required` to the element itself and was read by the screen reader.

(My team was using a custom element that inherited from Combo Box, so I also had to add `required={this.props.required}` to the custom element so that the props wou

[2021-08-02 16:58] #19052 closed

[2021-08-02 19:19] Saikumarga commented on #11837
We are using details list drag and drop functionality and we want it to be accessible to all users. Is there an ETA on this?

[2021-08-02 19:56] dmoncada opened #19221 "[web-components] Tooltip: position relative to anchor is incorrect"
I wanted to leverage the `Tooltip` component from the FluentUI web components package in my app. However, I'm noticing the tooltip is not positioning itself correctly relative to the provided anchor; Consider the following minimal html:

[code]

**Expected:**
Hovering over the button should show a tooltip to the right of the button.

**Actual:**
The tooltip: 1) is shown below the button, and 2) is

[2021-08-02 20:19] behowell commented on #18135
8-2 status:
* @khmakoto - Integrating props with MenuTrigger props based on the RFC: https://github.com/microsoft/fluentui/pull/18414

[2021-08-02 20:40] behowell commented on #18131
8-2 update - @ecraig12345:
* Basic input implementation merged
* Ongoing work on RFCs for how to apply props to input slots, which will affect Input
* Getting started on styling

[2021-08-02 20:41] behowell commented on #18133
Update 8-2 - @smhigley:
* Working on RFC for how to handle arrays of slots, e.g. for dropdown's options array

[2021-08-02 20:43] ecraig12345 opened #19222 "Website and demos broken in IE 11"
Webpack 5 upgrade broke our demos and website in IE 11. This is because it switched to emitting ES6 (lambdas etc) by default for smaller bundle sizes.

[2021-08-02 20:50] somoo88 opened #19223 "[Mobile iOS] People Picker Navigation"
### Environment Information

- **Package version(s)**: "@fluentui/react": "^7.129.0"
- **Browser and OS versions**: Device: iPhone XR, iOS version: 14.0

### Describe the issue:

When using "next field" with VoiceOver controls on iOS, the suggestion list is not responsive. There are some issues being raised due to this flow, and we would like to know whether this is by design.

### Please provide

[2021-08-02 20:53] behowell commented on #18454
8-2 update- @sopranopillow
* Getting PR ready to update checkbox to remove `mergePropsCompat`
* Refactoring styles for the `indicator` slot
* Updating unit tests

[2021-08-02 20:55] behowell commented on #16745
8-2 update @tomi-msft
* Working on including default styling in the package, replacing webpack with microsoft-load-theme-styles
* Fixing issue with `primaryFill` prop to avoid spreading it on the root `span`

[2021-08-02 20:59] behowell commented on #18886
8-2 update - @czearing:
* Basic implementation is out in PR
* Updating styling, useSlider API
* Working on implementing marks

[2021-08-02 21:42] chrisdholt commented on #19221
@scomea Can you take a look and advise if this is a bug or implementation issue?

[2021-08-02 22:29] scomea commented on #19221
Looks like the tooltip template is generating malformed html, missing a space after the tag name.  Investigating.

![image](https://user-images.githubusercontent.com/7649425/127931644-25d36fa0-53e0-4777-bd3f-9ea41deeca8f.png)

[2021-08-02 23:08] scomea commented on #19221
Space is also missing in the menu item template between the generated tag and the first prop/attribute:

![image](https://user-images.githubusercontent.com/7649425/127934338-31627e43-7578-4669-809c-c69b765a082d.png)

The source template looks like so:
![image](https://user-images.githubusercontent.com/7649425/127934437-8318d307-9a1d-4818-b2b6-9e75e31a3c68.png)

[2021-08-02 23:25] scomea commented on #19221
I'm wondering if ```${context.tagFor(AnchoredRegion)}``` in the templates should be wrapped in quotes ```"${context.tagFor(AnchoredRegion)}"```  @EisenbergEffect thoughts?

[2021-08-03 00:24] dmoncada commented on #19221
I updated the issue description above, as I'm able to repro using 1) the script from a CDN, and 2) the script from the `npm` package (both min and non-min versions)...

Playing a bit with the source delivered via `npm`, it seems like the issue is resolved by just adding the missing space after `context.tagFor()` like Stephane mentioned:

![image](https://user-images.githubusercontent.com/26721319/

[2021-08-03 00:32] EisenbergEffect commented on #19221
Not quotes, but definitely needs a space, since that API returns the element name.

[2021-08-03 00:36] chrisdholt commented on #19221
I think we need to investigate here as the spaces appear to exist in the templates and this *only* exists from what I can tell in the rollup instances getting generated...my initial reaction given the growing evidence is that we need to check on how we're transforming the HTML fragments of the template literals and see if this is a case we haven't addressed yet.

[2021-08-03 00:43] EisenbergEffect commented on #19221
If it's only in the rollup bundles, then maybe there's a plugin configured that's trying to minify the html...incorrectly.

[2021-08-03 00:46] chrisdholt commented on #19221
Yeah, this is my guess and we own the rollup plugins on our end. I'm going to put a question out to @radium-v when he's back online and see if he can take a look. My *hunch* is that it's related to that - though I could be wrong.

[2021-08-03 00:47] smhigley opened #19224 "RFC: Define a standardized localization pattern for converged components"
## Background:

In v8, the custom strings authors must define to use components are all over the place, and have no standard pattern. E.g. Datepicker uses a `strings` prop and imports defaults from an in-package module

Most other components define each string as a separate property, with no standard naming convention. For example:
- ContextualMenu has `ariaLabel` and `ariaDescription` on menuitem

[2021-08-03 01:48] huangzumeihan opened #19226 "Name is not associated with the checkboxes, and same announcement “checkbox not checked select row” is being announced for every checkbox."
Actual Result:
Name is not associated with the checkboxes, and same announcement “checkbox not checked select row” is being announced for every checkbox

Expected Result:
Name should be associated with the checkboxes, so screen reader is announce name with checkboxes.

![image](https://user-images.githubusercontent.com/31198399/127944799-6c6bdbcb-6b87-4789-9c66-8f6617745d19.png)

[2021-08-03 01:51] thekeviv commented on #18916
@ling1726 @ecraig12345 I noticed this warning today in our app which I think is related to this issue:

Warning: Prop `className` did not match. Server: "server-stickyAbove-5" Client: "stickyAbove-58"
at div
at div
at ScrollablePaneBase.

The top level component looks like this:

<ScrollablePane>
      <Sticky stickyPosition={StickyPositionType.Header}>
        <Stack>
            header goes here

[2021-08-03 02:03] ecraig12345 commented on #18916
@thekeviv That's an unrelated issue, #3692.

[2021-08-03 06:34] yupasz commented on #11842
The reproduction link seems not working.
Updated link: https://codepen.io/yupasz/pen/QWvBgKM

[2021-08-03 06:48] tanisha2710 commented on #19136
@smhigley  I could take this up, could we discuss a little bit more on this

[2021-08-03 08:18] RajeshGoriga commented on #19162
When i use NVDA + Chrome browser in office admin portal it is not reading and Narrator + EDGE is working as expected
![image](https://user-images.githubusercontent.com/13463251/127982310-009b20ba-aaa4-4931-9e80-7b1dd1b1874e.png)
And i have pass items like this

[2021-08-03 09:17] bsunderhus commented on #18844
This issue will be block until RFCs for slots (#18949, #19068) are concluded

[2021-08-03 11:04] dkozar commented on #18839
Unfortunately, the fix doesn't seem to work for me. The position is not re-evaluated the way I would expect it to be, i.e. the top-right corner of the popup never changes the position. This leads to the callout being clipped by the left screen edge.

Demo (`@fluentui/react@v8.26.2`): https://kdgf5.csb.app/

More info: https://github.com/microsoft/fluentui/pull/18887#issuecomment-891748483

[2021-08-03 13:42] creage opened #19233 "[react-northstar] TypeError: Cannot read property 'document' of null"
### Environment Information

- **Package version(s)**: 0.57.0
- **Browser and OS versions**: Chrome, Win10

The `doUpdate()` call of `whatInput` utility expects a `view` to be always defined on `event` parameter, and does not validate if it is `null` or not
https://github.com/microsoft/fluentui/blob/31f949a20e204a266fc3849b128ea0be083c1dda/packages/fluentui/react-northstar/src/utils/whatInput.ts#L

[2021-08-03 14:51] Hotell opened #19234 "Feature(eslint): add lint rules that will notify user on missing await when calling async functions"
**current**

- all good

[code]

**expected**

[code]

- we should enable/write a lint rule that will let you know about this issues. Also if you're missing `await` (which is quite crucial and will crash our programs )

_Originally posted by @Hotell in https://github.com/microsoft/fluentui/pull/19151#discussion_r681825086_

Use cases caused by lack of tooling:
- https://github.com/microsoft/fluent

[2021-08-03 15:18] scomea commented on #19197
That's an interesting suggestion.  I haven't looked at copy/paste in the picker component yet.  (There won't actually be a people picker in the fast library, that bit was a proof of concept, but it may eventually show up elsewhere.)

[2021-08-03 15:48] JustSlone commented on #19115
Need an owner for this item, @ecraig12345 for context and @behowell to find a driver

[2021-08-03 15:56] JustSlone commented on #19105
This is big, maybe after beta? ☹️

[2021-08-03 15:58] JustSlone commented on #19106
Topic to be covered in build v-team eta for update August 5th

[2021-08-03 16:06] gouttierre commented on #19116
**Beta Quality Controls required (in `@fluentui/react-components`)**
- [ ] Accordion
- [ ] Avatar
- [ ] Badge
- [ ] Button (and variants)
- [ ] Icon,
- [ ] Link
- [ ] Divider
- [ ] FluentProvider
- [ ] Menu
- [ ] Popover
- [ ] Text
- [ ] Tooltip

[2021-08-03 16:11] nicholasrice commented on #19221
There is a bug filed on FAST that sounds related: https://github.com/microsoft/fast/issues/4692

[2021-08-03 16:52] dinoilic commented on #19190
Hi, @ecraig12345 @behowell did you have a chance to take a look at this? We're still in some blocked state where we can't ship code due to this. Let me know if there's anything I can help with.

[2021-08-03 16:56] gouttierre commented on #19117
<html>
<body>
<h1 style="box-sizing: border-box; font-size: 2em; margin-top: 0px !important; margin-right: 0px; margin-bottom: 16px; margin-left: 0px; font-weight: 600; line-height: 1.25; border-bottom: 1px solid var(--color-border-secondary); padding-bottom: 0.3em; color: rgb(201, 209, 217); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;

[2021-08-03 17:28] ecraig12345 commented on #19234
Looks like this exists already? https://eslint.org/docs/rules/require-await

[2021-08-03 17:33] ecraig12345 commented on #19234
typescript-eslint's [`no-misused-promises`](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-misused-promises.md) or [`no-floating-promises`](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-floating-promises.md) might do what you want, but they could be expensive to run due to requiring t

[2021-08-03 17:43] smhigley commented on #19226
@huangzumeihan if you define one of your columns to function as rowheaders, the checkbox will be named by that column's cell. You can see that in the main DetailsList example, if you turn on selection: https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist

Another option is to create your own custom checkbox render function. Otherwise we don't have anything to go off of to name

[2021-08-03 19:11] Ethan-Arrowood opened #19239 "Missing docs for @fluenui/react TimePicker element"
Looks like a TimePicker element was added a couple minor versions ago but I cannot find documentation for it anywhere

Ref: https://github.com/microsoft/fluentui/pull/18556

[2021-08-03 20:52] max-zheng commented on #19090
Any update on this issue? My team found this same issue using Accessibility Insights for Web FastPass scan of our website. Looking at the code, the solution may be to add the role to this [span](https://github.com/microsoft/fluentui/blob/c55f2388771a2e169c5f8cf0a1f1441e6ef28d15/packages/react/src/components/Dropdown/Dropdown.base.tsx#L379)

[2021-08-03 21:38] solidprinciples opened #19240 "[a11y related feature request] Allow divs instead of buttons for pivot items"
#### Describe the feature that you would like added

The current implementation for PivotItems use Button tags, which presents a problem with using Links <a> inside - where it is an a11y issue that it has a focusable element inside a focusable element. One way to alleviate this would be to allow for overriding the main render of the button potentially as a div or otherwise, or giving an option to

[2021-08-03 22:03] smhigley commented on #18288
@cabillin my concern with this is that using `id: undefined` to restore the default would mean that there's no clear way to actually remove the `id` prop, and anyone currently using `id: undefined` to remove it would suddenly have that behavior change.

I do see the convenience in being able to do something like this, though:
[code]

I'm curious whether other people think supporting the relative e

[2021-08-03 22:26] smhigley commented on #19030
@ltackett could you clarify how you're interacting with the page, and where the interaction expectations are coming from? From the video alone, it looks like you're first setting Narrator's virtual cursor within the scroll area, then scrolling with the mouse, then switching back to Narrator. I'd expect that series of interactions to potentially cause issues even outside of a virtualization scenari

[2021-08-04 00:13] smhigley commented on #18795
NVDA announces "clickable" on quite a lot of things, based on internal heuristics. One of the things that can make it say "clickable" is attaching a click handler to any given element, which we have on the column header's child `<span>`.

Unfortunately we can't feasibly remove the click handler, but since this is really common behavior for NVDA, I doubt anyone would be thrown off by it.

Feel free

[2021-08-04 00:13] #18795 closed

[2021-08-04 00:24] wravery opened #19241 "IGroup.isShowingAll overrides IGroup.count"
### Environment Information

- **Package version(s)**: @fluentui/react@8.26.2

### Please provide a reproduction of the bug in a codepen:

* Go to https://codepen.io/wravery/pen/MWmBMQX

#### Actual behavior:

Each group contains all of the items from `startIndex` to the end of the list.

#### Expected behavior:

Each group should only contain the specified number of items, no items should be dupl

[2021-08-04 00:45] ltackett commented on #19030
@smhigley in my example, clicking with the mouse is a shortcut to tabbing through the UI of Codepen (since it loads the example in an iframe). The behavior persists if I use tab and the arrow keys to navigate to/through the list.

[2021-08-04 01:22] smhigley commented on #18562
@jamesdeancalhoun could you provide a codepen that repros those colors? On our docs site page (https://developer.microsoft.com/en-us/fluentui#/controls/web/teachingbubble), the TeachingBubble examples have the following color values for foreground/background of the primary button when focused:

- background: rgb(222, 236, 249), which translates to #deecf9
- text: rgb(0, 90, 158), which translates

[2021-08-04 01:24] smhigley commented on #18562
Here's a screenshot of the focused button ("try it out") with Edge devtools showing the rgb values:

![screenshot of the TeachingBubble open, with devtools showing the focused primary button colors](https://user-images.githubusercontent.com/3819570/128107024-c4bac47d-23f6-4a54-a370-f9d45e2450ce.png)

[2021-08-04 01:29] smhigley commented on #19098
NVDA doesn't announce expanded/collapsed when landing on a collapsed menuitem; this is by design on NVDA's part. You can check the behavior against the ARIA Practices menubar example: https://w3c.github.io/aria-practices/examples/menubar/menubar-editor.html, where NVDA also doesn't announce "collapsed" for any of the menu items with submenus.

[2021-08-04 01:29] #19098 closed

[2021-08-04 05:18] smhigley commented on #19090
This is a false positive from Accessibility Insights, and a dupe of #17838, #17981, #18333, and #19014. The false positive has already been fixed in axe-core (where Accessibility Insights' rules set comes from): https://github.com/dequelabs/axe-core/issues/2505.

@max-zheng to your question specifically: adding textbox (whether through a role or otherwise) as a child of a combobox results in signi

[2021-08-04 05:18] #19090 closed

[2021-08-04 05:19] smhigley commented on #17981
This is a false positive from Accessibility Insights, and a dupe of #17838, #18333, and #19014. The false positive has already been fixed in axe-core (where Accessibility Insights' rules set comes from): dequelabs/axe-core#2505.

@max-zheng to your question specifically: adding textbox (whether through a role or otherwise) as a child of a combobox results in significantly worse real-world support,

[2021-08-04 05:19] #17981 closed

[2021-08-04 05:31] smhigley commented on #19091
@harish7080 could you provide a codepen that demonstrates the errors? I can't reproduce those on v8.23.7, or on the main docs page for the pickers.

After I select to the limit of the first tag picker and run FastPass, all I get is a single false positive for aria-required-children (specifically the one that says "Required ARIA child role not present: textbox"). For more on why that's a false posi

[2021-08-04 05:36] smhigley commented on #19121
@lucas-stanford Narrator doesn't have first-party support with Chrome -- it consumes a different accessibility API than the one Chrome (or Firefox) outputs, and only sort-of works because of a cross-API bridge built into Windows. It's not surprising that live regions fail in that combination.

There isn't really anything we can do. I also wouldn't suggest testing Narrator with Chrome, in the same

[2021-08-04 05:36] #19121 closed

[2021-08-04 08:09] huangzumeihan commented on #19226
@smhigley Thank you very much. I will revise it according to your suggestion

[2021-08-04 10:34] layershifter opened #19248 "@fluentui/react-components: useTheme is not exported anymore"
### Environment Information

- **Package version(s)**: `@fluentui/react-components@9.0.0-alpha.79`
- **Browser and OS versions**: N/A

### Please provide a reproduction of the bug in a codepen:

`useTheme()` hook was exported in `@fluentui/react-components@9.0.0-alpha.60`, but it's not exported anymore, this should be fixed.

https://codesandbox.io/s/gracious-joliot-t9dri?file=/src/App.js

#### Ac

[2021-08-04 10:45] Hotell opened #19252 "storybook: Implement custom fluentui storybook addon"
# Epic 📦

Storybook officially deprecated `addon-knobs` with 6.3 release.

We need to migrate our custom knobs and decorators from `@fluentui/react-storybook` package to new package which will re-implement our desired behaviour via custom addon.

This addon would be shipped to npm in the future to provide extended functionality to Storybook users with fluentui react

## Tasks
- [x] setup boilerpla

[2021-08-04 15:34] Hotell commented on #19105
we should adopt a known/common OSS industry solution

An excellent candidate:
- https://github.com/atlassian/changesets

[2021-08-04 15:55] smhigley commented on #19224
closing this for #19258. Dunno why I created this as an issue 😅.

[2021-08-04 15:55] #19224 closed

[2021-08-04 16:01] behowell opened #19259 "Replace @defaultvalue with @default in documentation of Avatar"
From https://github.com/microsoft/fluentui/pull/18566#discussion_r681797428:

[2021-08-04 17:07] lucas-stanford commented on #19121
Thanks for replying, that makes sense! Note could probably get it working, I was eschewing using the announced component b/c setting it up manually was working correctly.

I set up a simple code pen with that shows a live region working with narrator/chrome. https://codepen.io/fordfordford/pen/XWRPeNN

[2021-08-04 18:43] ecraig12345 commented on #19222
#19237 should fix displaying a compiled version of the website/demo in IE 11, but for testing local changes, apparently something changed in `webpack-dev-server` version 4 such that it exceeds [IE 11's limit of 6 open web socket connections](https://stackoverflow.com/questions/52549799/securityerror-on-ie11-when-initializing-websocket). A manual workaround to edit the registry setting (mentioned i

[2021-08-04 19:28] makopch-ms opened #19264 "Combobox option doesn't have aria-selected set to true when opened"
### Environment Information

- **Package version(s)**: v8
- **Browser and OS versions**: all

### Please provide a reproduction of the bug in a codepen:
v7: https://codepen.io/makopch/pen/LYyJONM?editors=1111
v8: https://codepen.io/makopch/pen/ExmeoLj?editors=1111

*Note* open console and wait 2 seconds after opening menu for it to dump the selected element there.

#### Actual behavior:

In v7, wh

[2021-08-04 19:29] makopch-ms commented on #19264
@ecraig12345

[2021-08-04 19:31] #19190 closed

[2021-08-04 19:33] ecraig12345 commented on #19264
For reference, I intentionally made this change in #16331. @smhigley would appreciate your thoughts on correct handling. I also wonder if it needs to be different between single/multi select?

[2021-08-04 19:40] behowell commented on #19190
@dinoilic The fix is merged and will be in the next release in the next day or so (the bot will reply to #19238 with version number when it's released).

[2021-08-04 19:42] ecraig12345 commented on #19264
For reference: [aria-checked](https://www.w3.org/TR/wai-aria/#aria-checked) vs [aria-selected](https://www.w3.org/TR/wai-aria/#aria-selected)

[2021-08-04 20:03] raharri opened #19265 "PrimaryButton turns primary color on hover in Azure light theme"
### Environment Information

- **Package version(s)**: azure-themes 8.1.16
- **Browser and OS versions**: Windows Chrome 92.0.4515.107

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/raharri/pen/qBmMxdj

#### Actual behavior:

![2021-08-04 primary button bug](https://user-images.githubusercontent.com/57734445/128246671-0cfd7fbf-5571-4103-9bdb-4be2f4b78263.gif)

####

[2021-08-04 21:39] paulgildea commented on #18133
Adding some Azure requirements for Dropdown so that we don't lose them:

- Having a way to "Select All" on all the `Dropdown` items
- Providing a way to filter the results

[2021-08-04 21:50] paulgildea commented on #18131
Adding Azure requirements here so that I don't lose them:
- Providing a mechanism for a copy/paste icon that will copy the textual content to the clipboard

[2021-08-04 22:50] ecraig12345 commented on #18131
@paulgildea That should be easily doable with slots. We could have an example of how to do it, but we probably won't build it in to the component itself.

[2021-08-04 22:53] Ashwin-Nikam commented on #18222
@ling1726 Thanks for the suggestion. Looks like every time we scroll, we need to re-render the TeachingBubble which determines if its correctly anchored or not and if not then does so. The count useState in the codepen does exactly that. I tried it and works like a charm. Closing this issue 👍🙂

[2021-08-04 22:53] #18222 closed

[2021-08-04 23:14] #19222 closed

[2021-08-05 01:26] flyingbee2012 opened #19269 "OverflowSet does not support custom icon"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/flyingbee2012/pen/rNmZKqm
please see line 50 where I use src='url of the custom icon', but it doesn't show anything

#### Actual behavior:

The OverflowSet component doesn't support custom ic

[2021-08-05 03:56] Raghurk commented on #19001
Yes, I will start a thread with the callout team.