[2018-09-24 19:57] KevinTCoughlin commented on #6156
Just adding another data-point: The clipping I see on this page is the `<Pivot>` control clipping its tab contents _sometimes_ in Edge. I say sometimes, because if you mouseover the input it will stop clipping.

This is what I see in Edge, the other browsers don't clip:

![image](https://user-images.githubusercontent.com/706967/45975545-5b0ada80-bff9-11e8-9508-34ac4f3a8d2b.png)

Anyway seems like

[2018-09-24 21:05] KevinTCoughlin commented on #6446
Hey @justinmwarner 👋 , thank you for the report. I _think_ the problem here is with the `setInterval` within the response handling of paginated data:

[code]

Once I removed that `setInterval`, I no longer see `this._selection` reset or called twice. I have a Codepen example which outputs the Selection's `count` and `mode` within the `onSelectionChange` callback @ https://codepen.io/kevintcoughlin

[2018-09-24 21:19] #6373 closed

[2018-09-24 22:59] frevds commented on #6453
@vadistic You're right, must have been caching. It's on now :)

Thank goes to the guys who repaired it ;)

[2018-09-24 23:17] licypal opened #6459 "Set DefaultSelectedKeys on DropDown onDismiss"
How do I set defaultSelectedKeys in Dropdown on onDismiss property?

Let's say I have a multiselectdropdown with defaultSelectedKeys a and b. On unselecting both options and clicking outside Dropdown, Dropdown collapses and I need Dropdown to show back defaultSelectedKeys a and b. Please let me know how I can do that? Here is a code sample:

https://codesandbox.io/s/k0vlo73rjr

[2018-09-25 01:39] #6459 closed

[2018-09-25 01:47] licypal opened #6463 "copyArray method in Office UI Fabric Dropdown example"
I was going through the documentation on Office UI Fabric Dropdown (https://developer.microsoft.com/en-us/fabric#/components/dropdown). It includes an example as follows:

[code]

I am not able to understand what is the requirement of copyArray() as its return value is same as this.state.selectedItems. I tried updating the code to

```const updatedSelectedItem = this.state.selectedItems ? this.sta

[2018-09-25 05:59] KevinTCoughlin commented on #6427
To piggyback, additional resources related to styling can be found in our wiki:

- https://github.com/OfficeDev/office-ui-fabric-react/wiki/mergeStyles
- https://github.com/OfficeDev/office-ui-fabric-react/wiki/Component-Styling

Always open to improvements to our docs, so please share if you have any 😃.

[2018-09-25 07:52] xijio commented on #3690
any chance you can share an update or the prototype @ostreifel or @joezha?

@cschleiden do you know which team was looking at React?  We were considering something similar

@ryhumble are you willing to offer the same demo to our team?

[2018-09-25 09:55] RupamSarkar commented on #6401
@KevinTCoughlin  Hi Kevin , Sorry for late reply -

We have to implement a color picker like this -
![colorpicker](https://user-images.githubusercontent.com/17047049/46007084-c37bb980-c0d6-11e8-9ce6-851f847641b1.png)

As you can see , there are borders for each of the 4 colors in first row . I think it would be better if we have prop to control the border(color,width etc) as you mentioned . Becaus

[2018-09-25 11:39] harshdamaniahd commented on #4250
is this still not working ?

[2018-09-25 13:55] harshdamaniahd opened #6466 "Office ui fabric react : Overriding by classname not working for Panel"
When using a panel component,
if i try to override the css it doesnt work
[code]

Also there is no option to put style attribute.

office ui fabric react version : **5.125.0**

[2018-09-25 15:05] #6448 closed

[2018-09-25 15:31] micahgodbolt commented on #6463
That copyArray allows you to pass in an array and return a new one, that is to say, an array with the same values, but not the SAME array.

`a=[1,2,3]`

`b = copyArray(a) // b is [1,2,3]`

`c = a`

`a === b returns false`
`c === a returns true`

[2018-09-25 15:33] micahgodbolt commented on #6463
updatedSelectedItem is checking if state has selecteditems (plural). If true return a copy of the selected items (not the actual state, just a copy of it). If state doesn't have any selected items do the rest of the logic below.

[2018-09-25 16:00] joezha commented on #3690
Hi @xijio , @ostreifel created the prototype a while ago during the hackthon but we haven't started the work to bring it to production yet (yes, our team owns the experiences from Azure Boards and was looking at it). I think maybe we can connect offline to share more about that.

[2018-09-25 17:28] licypal commented on #6463
Thank you @micahgodbolt

[2018-09-25 17:28] #6463 closed

[2018-09-25 17:44] janormanms commented on #5440
Looks like this is now fixed, thanks!

[2018-09-25 18:00] #6383 closed

[2018-09-25 18:51] phkuo commented on #6452
If it wasn't clear, the proposal is to remove colorValues.ts, and have getColorFromString() just make a `<div>` and apply the incoming string to that div, and get the color equivalent of that string back from getComputedStyle().

[2018-09-25 19:01] #6367 closed

[2018-09-25 20:37] satbai opened #6469 "DetailsList grid cells announce incorrect selection with Narrator"
### Bug Report
- __Package version(s)__: Fabric Core 9.6.0 and Fabric React 6.49.2
- __Browser and OS versions__: Edge + Narrator

#### Priorities and help requested:
Are you willing to submit a PR to fix? (Yes, No) No
Requested priority: (Blocking, High, Normal, Low) Normal

#### Describe the issue:
 When using the Narrator screen reader and navigating the DetailsList cells with the keyboard, Nar

[2018-09-25 21:01] philipzloh opened #6470 "ExtendedPeoplePicker should pass in autocorrect=off and spellcheck=false to Autofill as native props"
### Please provide a reproduction of the bug in a codepen:

### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

![image](https:/

[2018-09-25 22:21] KevinTCoughlin commented on #6438
Thanks for the additional context @Xannic, I had indeed misunderstood the bug. I debugged this yesterday for a bit, but haven't arrived at a solution. For the failing to render case, we are exiting early while building list "pages". This indeed should be fixed, but requires more investigation.

https://github.com/OfficeDev/office-ui-fabric-react/blob/74bfc90fdbfae64ba91a53e9bd9b47493e326d60/packag

[2018-09-25 22:48] natalieethell commented on #5438
Just made a couple edits to my original comment above (I swapped LTR and RTL :)). It looks like the `targetRect.top` and `activeRect.bottom` issue may only be for LTR. RTL may have something different going on. Looking into this.

[2018-09-25 23:13] masters3d opened #6472 "Documentation not clear"
### Please provide a reproduction of the bug in a codepen:

![image](https://user-images.githubusercontent.com/6539412/46048331-a26a9700-c0dd-11e8-83b5-012e6eea177a.png)

### Bug Report

https://github.com/OfficeDev/office-ui-fabric-react/wiki/TypeScript-Guidelines#open-curly-braces-always-go-on-the-same-line-as-the-code-that-requires-the-brace

#### Priorities and help requested:

Are you willing

[2018-09-26 00:45] Vitalius1 commented on #6392
@KevinTCoughlin @stanleyymsft  Found a fix for when clicking on Scrollbar not to call the onBlur handler but I noticed that it's called also when clicking the arrow to open the ComboBox. Is this something needs to be fixed too, cause it follows the same logic (technically the user's focus is still on the ComboBox as a whole) as the author of the issue states.

[2018-09-26 01:57] butchmarshall opened #6476 "Panel onDismiss called when Dialog closed"
Reproduced here: [https://codepen.io/anon/pen/oPKgpx](https://codepen.io/anon/pen/oPKgpx)

### Bug Report

- //unpkg.com/office-ui-fabric-react/dist/office-ui-fabric-react.min.js
- Chrome

#### Priorities and help requested:

Are you willing to submit a PR to fix? (No)

Requested priority: (Blocking)

#### Describe the issue:

When Dialog is closed onDismiss for panel is called.

In the reproducti

[2018-09-26 06:11] akashperfect opened #6478 "GroupedList: "Position in set" and "Size of set" values are not defined for the list items"
### Please provide a reproduction of the bug in a codepen: Happens in any codepen for eg: https://codepen.io/dzearing/pen/LbORXM

![image](https://user-images.githubusercontent.com/2953096/46060230-1b222f80-c180-11e8-9b68-97e4d469e588.png)

### Bug Report

- __Package version(s)__: Latest (6.73.0)
- __Browser and OS versions__: Chrome, Windows 10 (but should repro on other platforms as well)

####

[2018-09-26 12:25] eivindland opened #6479 "Role='application' around ChoiceGroup; bug or feature?"
Around ChoiceGroup there is a wrapper with role='application'. When testing for accessibility-issues my screen reader software reads this as _"Your are in an application"_.

The radio buttons are then read correctly, but I wonder if the role really is necessary? Every document I've found online says something like: _"Use role='application' with care"._

I cannot find a way to remove or disable the

[2018-09-26 13:00] butchmarshall commented on #3722
Not stale - definitely still an issue.  No meaningful support for error messages on PeoplePicker.

[2018-09-26 14:00] fildahui opened #6482 "DetailsList: set items selection required and validate it"
**Describe the feature that you would like added**
Make items selection in details list required and validate it

DetailsList provides ways to select its items and it would be nice to set the selection required so that the user has to select one item (or more, depending on the condition) otherwise a validation message (either style around the component or a text message) is shown.
This would come

[2018-09-26 16:15] alexgwolff opened #6483 "What is the correct way to use it calendarProps ?"
[code]

is not rendering as expected

[2018-09-26 19:41] Vitalius1 opened #6484 "Dropdown: not opening when used in a panel which needs to scroll into view the dropdown"
### Please provide a reproduction of the bug in a codepen:
https://codepen.io/dzearing/pen/eLqwje

### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Maybe)

Requested priority: (High)

Products/sites affected: (if applicable)

#### Describe the issue:

In

[2018-09-26 20:03] Vitalius1 commented on #6484
@dzearing Here is the issue with the dropdown in a panel.

[2018-09-26 21:04] KevinTCoughlin commented on #6446
Going to close as this seems like an implementation error with the component(s). Please re-open if you feel otherwise. We appreciate the report nonetheless.

[2018-09-26 21:04] #6446 closed

[2018-09-26 21:13] KevinTCoughlin commented on #6472
Thanks for reporting this @masters3d. I wasn't sure if you had edit access to the wiki so I went ahead and made the quick fix https://github.com/OfficeDev/office-ui-fabric-react/wiki/TypeScript-Guidelines/#bad-1.

We appreciate you bringing this to our attention 👍.

If you have access to the wiki you'll see an "Edit" button like this:

![image](https://user-images.githubusercontent.com/706967/4610

[2018-09-26 21:13] #6472 closed

[2018-09-26 21:16] KevinTCoughlin commented on #6440
@hoovercj once we merge #6477 into `master` would you want to cherry-pick the change into `5.0` branch?

[2018-09-26 21:30] KevinTCoughlin commented on #6479
👋 @eivindland

You're correct that `ChoiceGroup` does not currently allow its `role="application"` to be overridden. We can easily make that a prop cc: @micahgodbolt. Here's the LoC:

https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/ChoiceGroup/ChoiceGroup.base.tsx#L79

I tried to track down the history of that attribute, without luck.

[2018-09-26 23:08] KevinTCoughlin commented on #6476
Thank you for the detailed report @butchmarshall and repro examples!

Confirming with the team, but this seems like a bug. Clicking anywhere including the Dialog body closes the Panel behind the Dialog layer when it isn't rendered within the Panel component.

[2018-09-27 00:17] brandonthomas opened #6487 "Inline style prevents override of css in ResizeGroup and thus CommandBar"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/aRovXj

### Bug Report
- __Package version(s)__: 6.73.0
- __Browser and OS versions__: all

#### Priorities and help requested:
Are you willing to submit a PR to fix? Yes if necessary but I have a lot of other work dependent on this so ideally not.

Requested priority: Blocking

Products/sites affected: MAC

##

[2018-09-27 00:18] brandonthomas commented on #6487
Problem code: https://github.com/OfficeDev/office-ui-fabric-react/blob/418fe4c38c2e18719446e1c53ebfdc544aac1d53/packages/office-ui-fabric-react/src/components/ResizeGroup/ResizeGroup.base.tsx#L360

[2018-09-27 00:37] KevinTCoughlin commented on #6483
@alexgwolff I'm rendering your `calendarProps` in this Codepen: https://codepen.io/kevintcoughlin/pen/vzwVyz?editors=1010

Which seems to render correctly (only the month picker is shown):

![image](https://user-images.githubusercontent.com/706967/46116777-85ec5e80-c1b2-11e8-8efd-cec290286035.png)

However when I use `showMonthPickerAsOverlay={true}` the day picker seems to be rendered. Perhaps th

[2018-09-27 00:41] alexgwolff commented on #6483
Yes, only month.
I try removed showMonthPickerAsOverlay={true} and now this is working.
it's a bug?
For now I'll leave this property out

Thanks, bro

[2018-09-27 00:53] #6483 closed

[2018-09-27 02:55] #6484 closed

[2018-09-27 09:46] raveenone opened #6491 "Cannot scroll right to view rightmost columns of the ms-list using keyboard when zoomed 200% on Edge."
### Bug Report

- __Browser and OS versions__: Microsoft Edge 41.16299.665.0

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: https://dev.azure.com

#### Describe the issue:

1. Set screen resolution to 1024x768.
2. Navigate using the Edge browser to any page which uses the ms-list component. The "All" Test Plans

[2018-09-27 10:35] harshdamaniahd commented on #6466
Thank you very much.Its working.
Upgraded to SPFX 1.6
Office ui fabric 5.125.0

[2018-09-27 10:35] #6466 closed

[2018-09-27 12:16] eivindland commented on #6479
Thank your for replying so quickly! I'm also not entirely sure that the usage of role=application is incorrect here. But to me it seems that the intention of this role is to support custom elements, like widgets, and to tell the screen reader to change the mode on how the keyboard commands are interpreted.

[http://accessibleculture.org/articles/2011/02/not-all-aria-widgets-deserve-role-applicatio

[2018-09-27 14:21] Rajesh-Pradhan commented on #1238
What if, If I don't want those 3 dots at all ?

[2018-09-27 18:29] natalieethell commented on #5012
It looks like we'll be able to do this by adding an optional prop to IModalProps: `topOffsetFixed` and two states to IDialogState: `hasBeenOpened` and `modalRectangleTop`.

`hasBeenOpened` can be set in componentWillReceiveProps on a re-render after the modal has already been opened once. `modalRectangleTop` can be calculated and set in componentDidUpdate following the first render of the modal. W

[2018-09-27 21:34] KevinTCoughlin commented on #6479
Raised a PR since the change was very easy, but left my comment re: my concern in the description. https://github.com/OfficeDev/office-ui-fabric-react/pull/6495

[2018-09-27 22:54] acdickin opened #6498 "Edge browser panel sizing issue"
### Please provide a reproduction of the bug in a codepen:

### Bug Report

- __Package version(s)__: "^6.74.0"
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low)  Normal

Products/sites affected: (if applicable)  Modern Experiences

#### Describe th

[2018-09-27 23:33] Vitalius1 commented on #5194
I will make the fix for now only for DetailsList as it has a bigger impact and create a separate issue for removing the remaining instances of it's use.

[2018-09-27 23:48] Vitalius1 opened #6500 "neutralSecondaryAlt color needs to be replaced across the repo"
### Bug Report

- __Package version(s)__: all

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes as long as we have replacement colors from designers

Requested priority: (High)

#### Describe the issue:

neutralSecondaryAlt was deprecated several months ago, we should remove any instances of it.
First step of removing it was in #6499 as it had a real impact on the th

[2018-09-28 02:32] #5194 closed

[2018-09-28 03:54] joechung-msft opened #6503 "Dropdown type error when building with TypeScript 3.1.1"
### Please provide a reproduction of the bug in a codepen:

### Bug Report

- __Package version(s)__: 6.74.1
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) High

Products/sites affected: (if applicable)

#### Describe the issue:

When building a p

[2018-09-28 05:31] BrendanMcK opened #6504 "Invalid HTML in Pivot - UL containing BUTTON directly w/o LI"
### Please provide a reproduction of the bug in a codepen:

Can see repro at [pivot page in Fabric docs](https://developer.microsoft.com/en-us/fabric#/components/pivot)

### Bug Report

- __Package version(s)__: 6.49.2
- __Browser and OS versions__: any

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) no

Requested priority: (Blocking, High, Normal, Low)

Prod

[2018-09-28 05:40] v-sosah commented on #6294
Hello Office Fabric Team,

May we expect an ETA for this bug, as our product is about to go for public preview.

Thanks,

[2018-09-28 07:03] Vitalius1 commented on #6438
@KevinTCoughlin  I investigated the issue and found the culprit. `GroupedList` renders a `List` which in turn does a measurement of the first page (in our case each group is a page). In `GroupedList` we have this [check](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/GroupedList/GroupedList.base.tsx#L163-L165) happening which returns

[2018-09-28 07:28] RupamSarkar opened #6505 "Having border as a prop for SwatchColorPicker"
**Describe the feature that you would like added**
We have to implement a swatch color picker :

In light theme which looks like this -
![light](https://user-images.githubusercontent.com/17047049/46199755-76ddeb80-c32d-11e8-9af4-817c984e9743.png)

and in dark theme -
![colorpicker](https://user-images.githubusercontent.com/17047049/46193845-26f72880-c31d-11e8-8441-6989b149aa97.png)

As we can see

[2018-09-28 07:30] RupamSarkar commented on #6505
@shagra-ms for visibility

[2018-09-28 08:47] lijunle commented on #5308
This issue is still there. It should keep open.

[2018-09-28 09:40] cliffkoh commented on #5308
@lijunle please kindly provide a codepen repro as @kenotron requested.

[2018-09-28 09:55] b-priyank opened #6506 "TextField [IE]: when autoAdjustHeight is true, it shows flicker for scroll bar inside text field"
### Please provide a reproduction of the bug in a codepen:

### Bug Report
In Internet Explorer, when autoAdjustHeight is true, it shows flicker for scroll bar inside text field. This happens when text exceeds available space and makes text field increase its height on enter.

- __Package version(s)__: 6.74.1
- __Browser and OS versions__: IE with windows 10

#### Priorities and help requested:

A

[2018-09-28 10:37] lijunle commented on #5308
Codepen:

https://codepen.io/lijunle/pen/vVYRJa?editors=1010

GIF:

![resizecard-causereacterror](https://user-images.githubusercontent.com/1296500/46203787-6e95a880-c34d-11e8-8ba2-caed0479e399.gif)

[2018-09-28 14:00] #6281 closed

[2018-09-28 15:16] kenotron commented on #5308
I think this gif is helpful - codepen has a different option in the "Change View" button. You must choose the left one to repro this.

[2018-09-28 17:32] KevinTCoughlin commented on #6500
Linking original issue: #5194

[2018-09-28 17:32] KevinTCoughlin commented on #5194
Linked now 👍

[2018-09-28 18:30] KevinTCoughlin commented on #6487
Added @micahgodbolt when he's back to follow-up

[2018-09-28 18:34] KevinTCoughlin commented on #6482
At a glance, this seems like something that can be handled by a developer using the `<DetailsList>` rather than an additional feature of the `<DetailsList>` given how specific a use-case it is.

What I'm interested to know is what is blocking a developer from using the `<DetailsList/>` component to achieve this behavior? Whatever they are we should consider addressing them. cc: @micahgodbolt for h

[2018-09-28 18:52] ipip2005 opened #6508 "FocusTrapZone: Enable home/end key to focus to first/last focusable item"
**Describe the feature that you would like added**
Add an option to enable home/end key to focus on first/last focusable item inside FocusTrapZone.
When FocusTrapZone wrap elements in a linear vertical/horizontal order, it makes a lot sense to use home/end key to focus elements. It might not be straightforward when elements are not in line vertical/horizontal order so I guess this feature should b

[2018-09-28 20:40] KevinTCoughlin commented on #6505
To add some additional context:

We currently check whether or not to add the border based on `_isWhiteCell`:

https://github.com/OfficeDev/office-ui-fabric-react/blob/92f15b7e3dffa730e7544e1407e885e5dd8b9b6b/packages/office-ui-fabric-react/src/components/SwatchColorPicker/ColorPickerGridCell.base.tsx#L104

That logic works with the assumption that the picker is present on a `#ffffff` background.

[2018-09-28 20:45] KevinTCoughlin commented on #6476
Thank you for checking the history of this bug @JasonGore! Good to know it predates the Portals change 👍. Should help us in tracking this one down.

[2018-09-28 20:56] #6401 closed

[2018-09-28 21:11] TestAccessibilityGIT opened #6514 "Checkbox A11y Pass"
Tracking all of the issues brought up with the 09/28 accessibility pass on Checkbox  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B2356d1a0-406e-4214-8c3e-8dc6a558ff40%7D&action=default&uid=%7B2356D1A0-406E-4214-8C3E-8DC6A558FF40%7D&ListItemId=1406&ListId=%7B395E1ECB-5002-4

[2018-09-28 21:11] inateeg commented on #5308
sorry I was distracted by other things... Will start looking into this now.

[2018-09-28 21:12] KevinTCoughlin commented on #6498
@acdickin thanks for the bug report. Would you be able to put together a quick Codepen showing this behavior so that we can debug? You can fork this one as a template: https://codepen.io/caradong/pen/BPMNra

[2018-09-28 22:46] inateeg commented on #5308
Just clarify that my change there should not bee the root cause since the commit simply introduce the secondary truncation numbers but follow the exact same logic as before.  The fact YusongLiu said about 40 that is the original measurement.  But I will continue looking into this.

[2018-09-28 22:48] #6440 closed

[2018-09-29 14:49] micah commented on #5308
wrong @micah

inateeg <notifications@github.com> writes:

--
        micah

[2018-09-30 04:53] liricy opened #6519 "Tests for office ui fabric components using jest, enzyme"
#### Describe the issue:

I have a render function as shown below:
[code]

Only when the 2 conditions this.props.x and this.state.y are true, display button. How do I write a test for the same? Please let me know. Thanks?

[2018-09-30 05:27] nguyentoantuit opened #6520 "TagPicker: textbox shown wrong position"
### Please provide a reproduction of the bug in a codepen:

 https://codepen.io/anon/pen/pxvxVO?editors=0110

### Bug Report

- __Package version(s)__: office-ui-fabric-react@6.74.2
- __Browser and OS versions__: Chrome

#### Describe the issue:

Create a TagPicker with these options as suggestions
[
      { key: '1', name: 'Short item'},
      { key: '2', name: 'Verrrrrry long description to test

[2018-10-01 05:10] manish-shukla01 opened #6521 "onChange event in textfield not firing"
i have a textfield in a form which has state property called sometext. The textfield is set to value as this.sometext and i have handled onchange event to set the state sometext to target value. Now when form gets submit, i expect the sometext state to be equal to whatever the valye of textfield is but it seems onchange event never got fired. exact same code works on regular html input type = text

[2018-10-01 09:12] Krak86 opened #6523 "Shimmer is absent in package 1.5.1"
### Please provide a reproduction of the bug in a codepen:

### Bug Report

- __Package version(s)__: "@microsoft/sp-office-ui-fabric-core": "1.5.1" (npm)
- __Browser and OS versions__: windows 10

#### Priorities and help requested:

Are you willing to submit a PR to fix? (No)

Requested priority: (Normal)

Products/sites affected: (spfx webpart in sharepoint online)

#### Describe the issue:

Sh

[2018-10-01 09:13] Krak86 commented on #6523
I think **Shimmer** label could be added

[2018-10-01 12:30] utkarshagoswami opened #6525 "Narrator is not reading the state(Checked/Unchecked) of the DetailsList selection checkbox"
### Please provide a reproduction of the bug in a codepen:

### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: Microsoft Edge: 42.17134.1.0

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

On taking the c

[2018-10-01 13:34] sophieH29 opened #6526 "[Utilities] getPreviousElement does not pass "tabbable" param to all places"
### Reproduction of the bug in a codepen:

https://codepen.io/anon/pen/ePNjmo

### Bug Report
- __Package version(s)__: 6.75.0
- __Browser and OS versions__: Chrome, Mac OS

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:

Used FocusTrapZone, few elements inside have ```tabindex="0"```, others ```tabindex="-1"```

[2018-10-01 14:07] ayrtonmassey commented on #6417
If you inspect the DOM of the search box you can see that the input element causes the overflow.

See this: [Why don't flex items shrink past content size?](https://stackoverflow.com/a/36247448)

Edge appears to follow the spec - if you inspect the `<input>`/`.ms-SearchBox-field` element the computed value for `min-width` is `auto`. Setting `min-width` to `0px` fixes the issue.

It's possible that

[2018-10-01 15:50] cliffkoh commented on #6519
In general, Stack Overflow is the best place for questions like this but in particular because your question isn't specific to OUFR (you could have replaced the usage of Fabric button here with a HTML button and it wouldn't materially change the answer to your question), the OUFR issue board is simply not the right place for questions like this.

[2018-10-01 15:50] #6519 closed

[2018-10-01 16:46] #6504 closed

[2018-10-01 17:42] Arknev opened #6527 "Add errorMessage to ChoiceGroup Component"
Would like to add an errorMessage property to ChoiceGroup component that would function the same as it does on the TextField and DropDown components.

[2018-10-01 17:43] dzearing opened #6528 "Always use fonts defined in the theme for components (remove Fabric component dependency)"
Expected:

render any Fabric component, renders the correct fonts.

Resulted:

times new roman

[2018-10-01 18:40] Vitalius1 commented on #6438
@Xannic let us know if the use of `getGroupHeight` prop solves your issue.

[2018-10-01 18:41] Vitalius1 commented on #6470
@philipzloh ping

[2018-10-01 18:49] KevinTCoughlin commented on #6521
@manish-shukla01 thank you for the report. Would you be able share a Codepen exhibiting the above behavior to help us debug as per our [Issue Template](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/.github/ISSUE_TEMPLATE/bug_report.md)?

You can fork this template if it helps: https://codepen.io/dzearing/pen/ZBEVzw

[2018-10-01 19:12] jaduong opened #6529 "Fabric Dropdown Component overlaps the edit box/main box with scroll"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Project

#### Describe the issue:
![image](https://user-images.githubusercontent.com/32304484/46310035-0e804b80-c

[2018-10-01 20:15] Vitalius1 commented on #5440
Tried repro the bug and indeed looks like it was fixed.
@kenotron you labeled it with `needs discussion`. Are we expecting more work with this issue or it's good to be closed?

[2018-10-01 20:41] kenotron commented on #5440
I'm just gonna closet his since it's been verified fixed :)

[2018-10-01 21:02] caradong commented on #349
@dzearing @betrue-final-final As part of the M365Analytics project, I have implemented a pagination control  for the project and I put together this checkin to add this component to the experiment packages. https://github.com/OfficeDev/office-ui-fabric-react/pull/6532 Please take a look and I would love to work with you guys to finish this control. I aslo have unit tests for this component and wil

[2018-10-01 23:57] zachhats opened #6535 "FocusTrapZone does not trap focus when narrator is on with scan mode and arrow keys are navigating"
### Please provide a reproduction of the bug in a codepen:

Use the demo page in edge:
https://developer.microsoft.com/en-us/fabric#/components/focustrapzone
Turn on a focus trap zone
Turn on narrator with scan mode on (caps lock + spacebar to toggle scan mode)
From inside a FocusTrapZone, use the up or down key to navigate

### Bug Report

- __Package version(s)__: current
- __Browser and OS vers

[2018-10-02 00:37] tabrumle opened #6537 "FacepileButton always uses getStyles(getTheme())"
https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/Facepile/FacepileButton.tsx

**Describe the feature that you would like added**

Change FacepileButton to allow for custom styling to be passed in instead of overriding it with a default style.

**What component or utility would this be added to**
FacepileButton

**Have you discussed this

[2018-10-02 01:06] Vitalius1 commented on #6294
@v-sosah I was able to reproduce the issue in [HERE](https://github.com/OneCyrus/react-hot-loader-bugrepro), but the funny thing is that if I use a different component (ex: Dialog with DialogFooter) which uses the same type of comparison it's all working as expected.
@cliffkoh @kenotron any ideas? Why only Pivot is not playing well?

[2018-10-02 03:10] manish-shukla01 commented on #6521
@KevinTCoughlin  i figured out my issue. i was not binding the change event and that simple thing fixed it ..however i have one issue that i am not able to use the state of the control in the excel ..it says undefined... my code looks like the following. it is working on codepen. THis whole thing is written in the component class so i am not sure i am getting undefined error ..like i said it works

[2018-10-02 03:43] manish-shukla01 commented on #6521
@KevinTCoughlin here is my full app.tsx file:

    range.values = [[this.state.message]]; actually now i notice this.state.message is there, and whatever i put in there shows up in excel. but i guess its not getting the change again :(

import * as React from 'react';
import { Button, ButtonType } from 'office-ui-fabric-react';
import Header from './Header';

import { TextField } from 'office-ui-f

[2018-10-02 04:57] cliffkoh opened #6538 "Coachmark component is broken"
### Please provide a reproduction of the bug in a codepen:

https://fabricweb.z5.web.core.windows.net/oufr/6.75.0/#/examples/coachmark

### Bug Report

- __Package version(s)__: 6.75.0
- __Browser and OS versions__: Edge/Win 10

#### Describe the issue:

Coachmark does not show in the example.

#### Expected behavior:

Coachmark example working (it does in CommandBar)

[2018-10-02 05:40] Xannic commented on #6438
@Vitalius1 I have a work around in place already by just checking which groups have a count of 0 and removing them. I just reported the issue so you guys know that there is a bug in the grouped list.

Looking at it from a user perspective I would say using the getGroupHeight is not a valid solution. That is just another workaround. It's up to you guys when/how you are gonna fix/close it.

[2018-10-02 06:04] sophieH29 commented on #6526
Found a related issue https://github.com/OfficeDev/office-ui-fabric-react/issues/2437 and a corresponding PR https://github.com/OfficeDev/office-ui-fabric-react/pull/4172
It was merged, but the changes aren't there now.

[2018-10-02 15:41] micahgodbolt commented on #6487
Ok, so it's the effect of moving the styles inline (and increasing specificity) that is the issue.  Sorry about the delay. Let's find a solution for this quickly.

[2018-10-02 15:43] micahgodbolt commented on #6487
What about if we mixed our styles into the divProps allowing the user to provide their own 'styles' if necessary.

[2018-10-02 15:43] #5012 closed

[2018-10-02 16:31] jaduong commented on #6529
@dzearing I'm on Edge (also repros on Chrome). If I make my window smaller, then the dropdown list covers the selected area.
This repros in your codepen.

[2018-10-02 16:50] micahgodbolt commented on #6538
Can you give some more repro steps? The coachmark is rendering in both Edge and FF. Are you on edge insider?
![image](https://user-images.githubusercontent.com/1434956/46363674-86f51400-c628-11e8-9233-f80562b7e827.png)

[2018-10-02 17:32] micahgodbolt commented on #6487
@christiango How do you feel about moving the position relative into the measured area? This way, if the ResizeGroup is actually fixed/sticky etc the measured div will be inside a relative parent the same width as the onRenderData

![image](https://user-images.githubusercontent.com/1434956/46365707-279a0280-c62e-11e8-9f95-df9c78bf2494.png)

[2018-10-02 17:43] cliffkoh opened #6539 "Travis is not checking change files in 5.0 branch"
As can be seen in #6530 which is missing a change file originally for `@uifabric/experiments`.

[2018-10-02 17:52] christiango commented on #6487
So the initial measure happens inside the root div and not a measured div as a performance optimization, so we need to make sure the initial measure is still correct.

Is there any other regression risk?

[2018-10-02 18:09] micahgodbolt commented on #6487
The only reason for the position relative is to make sure that the hiddenDivStyles (which is absolute) doesn't have a static displayed parent. i.e. if the parent were display static the hiddenDiv would be rendered inside the resizeGroup's parent container, which might be a different width.

So as long as that initial measure doesn't require a non static parent, it should be fine.

The only possibl

[2018-10-02 20:32] Vitalius1 commented on #6537
Investigated a little and seems like it needs some reorder of the props but also there are some specificity issues here: https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/Facepile/Facepile.styles.ts#L27-L28 which also needs some rework.

@tabrumle Can you provide some scenario or a codepen repro of what you are trying to achieve?

[2018-10-02 20:36] Vitalius1 commented on #6535
Very similar bug is discussed in #6422

[2018-10-02 20:39] dzearing commented on #6523
I'm not sure I understand this.

https://unpkg.com/@microsoft/sp-office-ui-fabric-core@1.6.0/package.json

This does not depend on fabric-react.

Please log fabric core issues here: https://github.com/officedev/office-ui-fabric-core

Thank yo!

[2018-10-02 20:39] #6523 closed

[2018-10-02 20:46] dzearing commented on #6527
What would be the use case? Just want to clearly understand.

[2018-10-02 20:47] Vitalius1 commented on #6527
@Arknev can you give a rough description of the cases where you would need an error message on ChoiceGroup?

@betrue-final-final is there any practical cases from a design standpoint?

[2018-10-02 20:50] cliffkoh commented on #6538
I can repro on Chrome too. Katherine reproed last week as well.

[2018-10-02 20:54] cliffkoh commented on #6538
Nevermind figured out what must be wrong - there is a really long delay before it opens...

[2018-10-02 20:54] dzearing commented on #6538
There is a 2 second delay.

[2018-10-02 20:54] #6538 closed

[2018-10-02 20:59] dzearing commented on #3917
It is possible to use element resize to get a javascript callback when this occurs. But this could introduce other perf issues.

[2018-10-02 21:04] Vitalius1 commented on #6520
From the initial investigation and after confirming with the designer we believe indeed it has to be at the bottom.
@aneeshack4 this looks like a quick change by adding `align-self: flex-end` to the pickerInput class in:
https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/pickers/BasePicker.scss#L21

[2018-10-02 21:05] tabrumle commented on #6537
<p data-height="265" data-theme-id="0" data-slug-hash="NvBvWx" data-default-tab="js,result" data-user="FabricReact" data-pen-title="Fabric React Starting Template" class="codepen">See the Pen <a href="https://codepen.io/FabricReact/pen/NvBvWx/">Fabric React Starting Template</a> by Microsoft UI Fabric (<a href="https://codepen.io/FabricReact">@FabricReact</a>) on <a href="https://codepen.io">CodeP

[2018-10-02 21:13] dzearing commented on #3917
https://unpkg.com/element-resize-detector@1.1.14/dist/element-resize-detector.js

[2018-10-02 21:15] tabrumle commented on #6537
<p data-height="265" data-theme-id="0" data-slug-hash="MPKarL" data-default-tab="js,result" data-user="tabrumle" data-pen-title="Fabric React Starting Template" class="codepen">See the Pen <a href="https://codepen.io/tabrumle/pen/MPKarL/">Fabric React Starting Template</a> by tabrumle (<a href="https://codepen.io/tabrumle">@tabrumle</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script asy

[2018-10-02 21:18] Vitalius1 commented on #6525
@utkarshagoswami I did some tests in here https://developer.microsoft.com/en-us/fabric#/components/checkbox with macOS voiceover and it announces for me the state of checked/unchecked.
Do you have a codepen repro where in your case with NVDA or Narrator it's not announcing?
Use this a starter https://codepen.io/dzearing/pen/eKvjKN. Can you fork it and modify to test it on your end? This would help

[2018-10-02 21:21] #5438 closed

[2018-10-02 21:55] Vitalius1 commented on #6526
@sophieH29 thanks for investigating! That helps a lot.

[2018-10-02 21:59] Vitalius1 commented on #6526
@joschect do you have any context on this issue?

[2018-10-02 22:06] dzearing commented on #5868
This is now available with `__packages__` with @kenotron added.

[2018-10-02 22:06] #5868 closed

[2018-10-02 22:06] Vitalius1 commented on #6500
@betrue-final-final
It seems these color is still used in:

- DocumentCard
- Pivot
- GroupHeader

What we should replace it with? Is it safe to just go with neutralSeconadry?

[2018-10-02 22:09] dzearing commented on #6121
If there is a specific need, we'd need to be explicit about which methods are being added and to which package.

I do think there is an overarching themability item we're working which might require some additional color utilities. We have some in `color.ts` already.

Closing this to trim off ambiguous work.

[2018-10-02 22:09] #6121 closed

[2018-10-02 22:17] dzearing commented on #5414
I'm actually going to close this. I don't think we need to worry about this at this time. We have `componentRef` which works just fine and produces the correct limited interface type.

[2018-10-02 22:17] #5414 closed

[2018-10-02 22:20] betrue-final-final commented on #6500
Here's what we discussed:
DocumentCard - neutralSecondary for activities
Pivot - neutralSecondary...use the focus semantic slot.
GroupHeader - neutralSecondary

[2018-10-02 22:27] #5450 closed

[2018-10-02 22:33] dzearing commented on #5035
@Nimelrian couple of things:

1. The Text component was added, but we're still assessing where and when to use correctly.
2. In the meanwhile, @aneeshack4 will be fixing the components to always pull (and inject) the font from the theme, rather than assuming the consumer will use a `Fabric` component wrapper which defines the font family. Therefore if you provide typography in the theme we'll resp

[2018-10-02 22:34] dzearing commented on #5035
Targetting the purpose of this tracking issue.

[2018-10-02 22:35] dzearing commented on #4034
I'm closing due to inactivity. If needed we can reassess in the future.

[2018-10-02 22:35] #4034 closed

[2018-10-02 23:02] Vitalius1 commented on #6438
Looks like we need some tweaking in the logic located here:
https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/GroupedList/GroupedList.base.tsx#L163-L165
List relies on the first element to measure the height of the page for some optimization and when it receives `null` it gets stuck in thinking it's still a first render in here https://g

[2018-10-02 23:48] stanleyymsft commented on #6392
Thank you!

[2018-10-03 01:27] Vitalius1 commented on #6230
Very weird indeed... Played a little with the codepen and have found the following:

1. If using uncontrolled checkbox (without the `checked` props) it's working.
2. When clicking on the checkbox the click event is firing but no re-render happens (`componentWillReceiveProps` is not firing).
3. If in the codepen in the constructor we set the state to `undefined` on both checkboxes it works but the

[2018-10-03 01:30] Vitalius1 commented on #6318
@betrue-final-final I agree with Kevin. If we make so on `LEFT | RIGHT` we just expand the group, what would be the focus trail and how would we reach the `Select all` checkbox?

[2018-10-03 01:33] Vitalius1 commented on #6154
@kenotron are we moving with this one to any direction?

[2018-10-03 02:04] Vitalius1 commented on #6179
@micahgodbolt it might be related to the use of `neutralTertiary` color and `neutralTertiaryAlt` on white background causing a contrast ratio issue like in the picture. We might need to get designers opinion on usage of those colors will usually fail Keros quick passes.
cc: @betrue-final-final
![screen shot 2018-09-13 at 6 00 18 pm](https://user-images.githubusercontent.com/29514833/46386325-acf4d

[2018-10-03 02:41] Vitalius1 commented on #5715
@joschect do you have any context on this issue? Were you able to look into it without the codepen?

[2018-10-03 03:00] Vitalius1 commented on #4649
The issue still exists. @JasonGore as you already fixed a similar issue could you take a look?

[2018-10-03 03:05] Vitalius1 commented on #4971
@dzearing @jspurlin can this be an issue with the screenreader? And if so, do we keep this issue open?

[2018-10-03 03:29] micahgodbolt commented on #6179
Yeah, i'll leave this to ben.

[2018-10-03 06:18] Vitalius1 commented on #6537
Thanks! This really helps with debugging the issue plus your initial investigation might set a good direction to look into.

[2018-10-03 06:46] utkarshagoswami commented on #6525
The issue is with the DetailsList. There is no way to reach the checkbox in a row via keyboard and the only way to select or unselect a row is by selecting the complete row and then using Space Bar. When doing this, Narrator and NVDA are both announcing "Space" instead of the state checked/unchecked. If I use mouse to reach the checkbox, the announcement done is in lieu with the state. The issue t

[2018-10-03 07:00] #6427 closed

[2018-10-03 07:02] Krak86 commented on #6523
Added issue here https://github.com/OfficeDev/office-ui-fabric-core/issues/1146

[2018-10-03 07:49] Vitalius1 commented on #6404
@Jahnp did the site get updated? It looks like we still have this issue present.

[2018-10-03 07:57] Vitalius1 commented on #6381
Closing as it's duplicating #5752

[2018-10-03 07:57] #6381 closed

[2018-10-03 09:34] lbazetto commented on #616
any update about this item?

[2018-10-03 10:18] ayrtonmassey commented on #6417
I had a chat with the Edge team and we confirmed that Edge is following the spec, and they do not plan to change this behaviour (so Office Fabric needs to apply the fix). Scroll down for TL;DR.

---

According to the flexbox spec:

- [§9.7. 4. d.](https://www.w3.org/TR/css-flexbox-1/#resolve-flexible-lengths) When calculating the size of a flex item the item's size is *clamped* by its `min/max-siz

[2018-10-03 10:33] paddymccallan commented on #5602
The deprecated option for 'text' is 'name'. Solved the problem for me.

[2018-10-03 11:48] jspurlin commented on #4971
@twarzo what version of Firefox are you using? Starting in version 57 (which was released 11/14/2017) Firefox switched to a new browsing engine that had a large negative impact on accessibility... I wonder if this could be a side effect of that. (@Vitalius1 as an fyi)

+1 for @BrendanMcK 's comment, the div doesn't need role presentation, it's redundant for `div` elements.

[2018-10-03 11:51] code-mage commented on #3699
This is definitely still an issue.

[2018-10-03 11:57] kmrrakesh opened #6545 "Dropdown's attribute "aria-labelledby" shouldn't be attached if no label is provided"
### Bug Report
- __Package version(s)__: ">= 6.0.0 < 7"

- __Browser and OS versions__: Edge and Windows 10

#### Describe the issue:
ARIA attribute, "aria-labelledby" for dropdown is getting attached even if no label is associated with it

It is happening in the latest fabric ui, for all dropdown without associated label, and run keros to replicate it.
It complains as "ARIA attributes must confor

[2018-10-03 12:32] fildahui opened #6546 "DetailsList: horizontal scrollbar visible in Edge/FireFox until manual resize"
### Please provide a reproduction of the bug in a codepen:
 https://codesandbox.io/s/n8qjmyn70

This a copy of the Compact example of the DetailsList component page (https://developer.microsoft.com/en-us/fabric#/components/detailslist/compact)

### Bug Report

- __Package version(s)__: 6.76.0
- __Browser and OS versions__: Edge 42.17134.1.0 / FireFox 62.0.3 / Windows 10

#### Priorities and help r

[2018-10-03 14:46] micahgodbolt commented on #6417
@ayrtonmassey Thanks for digging in with the Edge team. I think that was the missing piece here.....why are they changing, and was it on purpose or a regression. We'll take a look.

[2018-10-03 15:57] kenotron commented on #6154
The urgency level went down a bit after react-loadable changed back to MIT for all license. But the issue is remains that we have an open #4154 item that needs to be addressed.

[2018-10-03 16:48] stg110 opened #6549 "ContextualMenu section headers need to be contained in groups, so the headers could be pointed at via aria-labelledby"
### Please provide a reproduction of the bug in a codepen:
. Turn on Narrator from ease of access setting.
2. Open the Word app using the URL: https://microsoft.sharepoint-df.com/teams/TestSiteCreation/Shared%20Documents/Forms/AllItems.aspx
with valid credentials.
3. Get the focus on ‘Ribbon’ using ‘Ctrl+F6’ key through keyboard.
4. Navigate on ‘Home’ tab and activate using keyboard.
5. Navigate t

[2018-10-03 17:35] KevinTCoughlin commented on #5891
I believe we can close this now that #6477 has been merged.

[2018-10-03 17:37] #5891 closed

[2018-10-03 18:05] Promhize opened #6550 "Issue with loadTheme and fonts. loadTheme({fonts: { large: {fontFamily: "Lato"}...}}) doesn't seem to work"
### Please provide a reproduction of the bug in a codepen:

### Bug Report

- __Package version(s)__:
uifabric/styling - 5.31.0,
microsoft/sp-office-ui-fabric-core - 1.4.1,
office-ui-fabric-core - 9.6.1

- __Browser and OS versions__: Chrome

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low) High

Products/sites

[2018-10-03 18:07] JasonGore commented on #3699
@code-mage Please open a new issue (ideally with CodePen repro.) Thanks!

[2018-10-03 18:34] Vitalius1 commented on #6545
@kmrrakesh thanks for submitting this accessibility bug. Could you kindly provide a screenshot of the Keros message after the  FastPass? Also are you scanning the [demo site](https://developer.microsoft.com/en-us/fabric#/components/dropdown) or an application using Dropdown control?

[2018-10-03 18:52] KevinTCoughlin commented on #6546
Does this occur when column reordering is enabled? If so it may be related to #6394

[2018-10-03 18:53] coreyroth commented on #5116
I have found that you also need to capture the scroll event on the Sticky as well in case the user scrolls the header.  I registered a scroll event with the following:

`public componentDidMount(): void {
    let stickyElemrent = document.querySelector("[class*='stickyAbove-']")
    if (stickyElemrent != null) {
      stickyElemrent.addEventListener('scroll', this.hnadleStickyScroll);
    }
  }`

[2018-10-03 19:01] cliffkoh opened #6551 "getGlobalClassNames can be more resilient to suboptimal code from consumers"
### Please provide a reproduction of the bug in a codepen:

If a consuming app writes code like this:

![image](https://user-images.githubusercontent.com/1003246/46432608-81b8c780-c703-11e8-91b9-566b8dcc1a83.png)

This causes the memorization presently in `getGlobalClassNames` (https://github.com/OfficeDev/office-ui-fabric-react/blob/dc8006f130300a6dee7831e3e0166a4da8ff84a8/packages/styling/src/st

[2018-10-03 19:09] Vitalius1 commented on #6546
@KevinTCoughlin It seems like this has something to do with the viewport width not taking into consideration the scrollbar width on first render in the `_getAdjustedColumns()` method [here](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx#L687). After you do a resize it looks it gets the measure right. T

[2018-10-03 19:13] Vitalius1 commented on #6551
@cliffkoh assigning you as you stated 'Yes' in the willing to submit a PR section 😄

[2018-10-03 19:45] jamesedjac commented on #6479
In this case I would actually advise that role="application" be removed entirely as this use does not conform to the [ARIA 1.1 standard](https://www.w3.org/TR/wai-aria-1.1/#application), which states

In this case, choice group follows the [Radio Group](https://www.w3.org/TR/wai-aria-practices-1.1/#radiobutton) widget role.

Also in general, role="application" should not be considered "stable" as

[2018-10-03 20:01] Vitalius1 commented on #6550
@dzearing @phkuo can you reply?

[2018-10-03 20:42] Vitalius1 commented on #6529
@dzearing this is caused by `directionalHintFixed` set to `false` in this #5771 PR.

@jaduong from your screen looks like the dropdown takes almost the entire width of the div it's contained within. In the PR I mentioned above we changed Dropdown behavior to not be always fixed to bottom of the target so it's rendered Callout will try to position itself when it has scroll. If your dropdown would h

[2018-10-03 20:45] Vitalius1 commented on #6549
@KevinTCoughlin FYI as you are listed as the owner of this control.

[2018-10-03 22:39] #6545 closed

[2018-10-03 22:40] micahgodbolt commented on #6449
@acamargob if you're interested in doing this work, I'd be happy to help give you some scope on how it should be done, and then review your PR.

The gist is that we shouldn't be using the displayText as the title for every item anyway. We should only use displayText when the text is truncated, and then use our Tooltip to render the text. Fortunately out Tooltip can already render only if the paren

[2018-10-03 23:07] Vitalius1 commented on #6546
This seems quite the same issue: #5280

[2018-10-03 23:09] phkuo commented on #6550
If this is in CSS (as opposed to the CSS-in-JS stuff), it has to go through legacyLoadTheme() here:
https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/styling/src/styles/theme.ts#L79
which currently is only doing colors.

[2018-10-03 23:10] ericame opened #6559 "The "List of 5000 grid items" example doesn't have enough code to show you how to make your list a grid"
### Please provide a reproduction of the bug in a codepen:

How the grid example looks if you copy and paste their logic (with some minor tweaks because the example is not self-contained enough to run on its own).

https://codepen.io/ericame/pen/pxyjGx/

Notice that this is still a columnar list, not a grid-formatted list.

### Bug Report

- __Package version(s)__: Office UI Fabric 6.72.2
- __Brow

[2018-10-03 23:11] huntwj commented on #6503
Could it be as simple as changing the onChange declaration in `IDropdownProps` in Dropdown.types.d.ts?

I changed it to

[code]

and was able to get my code to compile...

...BUT...

I haven't really thought through it to see if this has negative effects on others' existing code.

[2018-10-04 00:39] Vitalius1 commented on #6559
@ericame `List` component was never designed to style it's rows. The main purpose of it is to take care of the logic comes with rendering large sets of items like: virtualization, scrolling, splitting into pages and so much more. The component itself has over 1000 lines of code and 0 styles to it (only some classNames hooks for the consumer to target).
It is being used as a base for other componen

[2018-10-04 00:46] Vitalius1 commented on #6491
@raveenone does this manifest only in Edge? Did you try on all other major browsers?

[2018-10-04 00:47] Damdan opened #6560 "React List behaving different between work bench and online tenant"
### Please provide a reproduction of the bug in a codepen:

Code is handling data from 3rd party api with tokens and is not feasible to set up a live demo with similar data.

### Bug Report

There's no error output on console at all...guess it sucks to still be on react 15

- __Package version(s)__: (fill this out)
typescript version: 2.4.2
Build tools version:3.8.8
Node version:v8.10.0
office-ui-

[2018-10-04 00:48] Vitalius1 commented on #6438
@KevinTCoughlin do you think we need anything to fix in here. I left a comment above my investigation findings.

[2018-10-04 00:49] ericame commented on #6559
@Vitalius1 thanks for this explanation! I was also just looking at the TilesList in digging for solutions, so maybe I'll try it out. If a component is in experiments, does that mean it's not really intended for production use, or just that it's specialized?

[2018-10-04 00:54] #6560 closed

[2018-10-04 01:15] Vitalius1 commented on #6559
@ericame experiments package it's not recommended being used in production. Any use of it is at consumer's own risk as there might be frequent breaking API changes.

[2018-10-04 01:56] Vitalius1 commented on #6445
This should be a quick fix: In [this handler](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/DetailsList/DetailsColumn.base.tsx#L215-L223) we need to make a check for the type of `ColumnActionMode`

[2018-10-04 02:32] Vitalius1 commented on #6339
This is a valid bug and can be easily be reproduced in ScrollablePane example page when running locally as the website is behind the updated example with the sticky footer.
@shagra-ms thanks for filling the issue and detailed repro steps. This can help tremendously in debugging.

[2018-10-04 02:34] Vitalius1 commented on #6339
The bug itself might be also coming from DetailsList as it manifests after resizing it's columns.

[2018-10-04 07:08] KevinTCoughlin commented on #6294
Also stumped by this. Potentially related to https://github.com/gaearon/react-hot-loader/issues/304#issuecomment-223222772

[2018-10-04 07:23] avenezia opened #6562 "SearchBox autoFocus causes an Uncaught TypeError in office-ui-fabric-react (6.76.0)"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/avenezia/pen/RerEox

### Bug Report

- __Package version(s)__: office-ui-fabric-react 6.76.0
- __Browser and OS versions__: Chrome 69.0.3497.100, Edge 44.17763.1.0 on Windows 10

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Power Que

[2018-10-04 08:43] fildahui commented on #6546
Hi @KevinTCoughlin I didn't set up columns reordering, so I think it's more on a general level.

Hi @Vitalius1 yeah that looks similar... But I'm not getting that behaviour with Chrome, everything works just fine. DetailsList content gets resized as soon as the DetailsList is loaded (so no scrollbar overlapping, no horizontal scrollbar...).
Also, the horizontal scrollbar is always visible in Edge/

[2018-10-04 10:15] kempjeng commented on #6453
This is still present for me, can any one else confirm?  Multiple browsers, and operating systems tested.  Cleared caches.

[2018-10-04 11:48] adhithyar commented on #6529
Hello Team!

I'm Adhithya, an engineer in @jaduong's team.

@Vitalius1 I tried your suggestion and it is not working. I set the `directionalHintFixed: true` and I am still seeing the same overlap behavior. If I try it on codepen, it works fine.

My hypotheses is that the version of Fabric React we are using has this issue and once we upgrade it might be fixed. We are on 5.111.2.

[2018-10-04 13:17] RupamSarkar commented on #6505
Hi , any update on this ? @KevinTCoughlin

[2018-10-04 15:22] dzearing commented on #6550
Hmm. @phkuo nobody should call that API.

The call to the legacy behavior is abstracted in `loadTheme` api, which is the current contract for loading the theme. (Abstracting legacy behaviors lets us remove it once it's no longer needed without breaking partners.)

Here is an example of using courier new for the fontFamily.

https://codepen.io/dzearing/pen/wYGbqV?editors=1010

I do see a couple of

[2018-10-04 16:01] micahgodbolt commented on #6562
Inputs (and our SearchBox) do not support an autofocus prop

![image](https://user-images.githubusercontent.com/1434956/46487083-fd724d00-c7b3-11e8-9571-6077fdb69ff2.png)

That property seems to only be used on selects https://developer.mozilla.org/en-US/docs/Web/API/HTMLSelectElement/autofocus

[2018-10-04 16:21] gregdardis commented on #6562
@micahgodbolt inputs do support an autofocus attribute I believe:

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#Global_%3Cinput%3E_attributes (search for autofocus under attributes)

In JSX though it is autoFocus (note the capital F). https://stackoverflow.com/a/28891210

I would like to investigate this issue if it is worth investigating.

[2018-10-04 16:44] gregdardis commented on #6562
If autoFocus is set, _onFocusCapture is called before the ref is set on the root div.
[Here](https://github.com/OfficeDev/office-ui-fabric-react/blob/c61c1ca08a7c66101006165001e9193419704af2/packages/office-ui-fabric-react/src/components/SearchBox/SearchBox.base.tsx#L157) is the line that has a problem. `this._rootElement.current` is null because the ref hasn't been set yet.

https://github.com/fa

[2018-10-04 16:56] dzearing commented on #6559
As @Vitalius1 mentioned think of `List` as a virtualized replacement for arrays of items.

I mocked up a simple "grid" here:

https://codepen.io/dzearing/pen/JmKPLL?editors=1010

I do want to also say a general layout grid (abstraction on css grid that can work with IE11) is on our list of things we want to get done soon.

Full fledged excel-like data grids have also been a long time ask. We have

[2018-10-04 17:04] micahgodbolt commented on #6562
Doh :D autoFocus is part of the interface...carry on!

[2018-10-04 17:06] jaduong opened #6565 "Dropdown: Should narrow down/navigate to option on keyboard entry"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/XxKWWE
(always repros)

### Bug Report

- __Package version(s)__: 15.6.1
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low) Normal-High

Products/sites affected: (if

[2018-10-04 17:38] avenezia commented on #6562
@micahgodbolt @gregdardis Thank you both for the support on this :)

[2018-10-04 17:41] frevds commented on #6453
@kempjeng  Also works for me, already since 10 days. Strange, are you within some network with a caching proxy? Try from another location.

[2018-10-04 17:50] dliu120 opened #6567 "List: Make debounce for asyncResize configurable"
**Describe the feature that you would like added**
For large lists such as the DetailsList, resizing the window can be quite slow. We would like a way to increase the debounce interval on the list.

**What component or utility would this be added to**
List / DetailsList

**Have you discussed this feature with our team, and if so, who**
No

**Additional context/screenshots**
![image](https://user-i

[2018-10-04 18:00] dzearing commented on #5081
Tracking in #5418, closing this issue.

Stack (abstraction on flexbox) is coming shortly. It's already in experiments, closing down on last few items.

[2018-10-04 18:00] #5081 closed

[2018-10-04 18:10] Vitalius1 commented on #6529
@adhithyar to know for sure if it's a version issue maybe you could try to setup a codepen simulating your wrapping divs of the dropdown as you have them in your app with about the same restrictions in sizes and see if with the latest version it works.

@dzearing is there a way in a codepen to use a specific version of OUFR?

[2018-10-04 18:18] #6537 closed

[2018-10-04 18:48] Vitalius1 commented on #6565
@jaduong I believe we don't have this behavior in the dropdown but we do support this in our ComboBox component. https://codepen.io/vitalius1/pen/LgZVJB here is a quick demo of ComboBox with `allowFreeform={true}` and `autoComplete="on"` props doing exactly what you expect.
Let us know if this is what you were looking. Plus there are plenty of other examples [here](https://developer.microsoft.com/

[2018-10-04 18:49] nico-bellante opened #6570 "Persona Coin isImageLoaded not reset after removing image"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/Pengurino/pen/mzyJrO?editors=0010

(Click the Hello World button twice to simulate behavior.)

### Bug Report

- __Package version(s)__: <script src="//unpkg.com/office-ui-fabric-react/dist/office-ui-fabric-react.min.js"></script> and 6.73.0

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Y

[2018-10-04 18:50] cliffkoh commented on #6551
That is true, but it will take me a while though before I can context-switch to work on this :) I recommend leaving it unassigned - it is a simple change that any secondary shield can pick up.

[2018-10-04 18:54] micahgodbolt commented on #6565
We certainly have a desire to consolidate to a single component. It won't be a small feat though, so I'm not sure of the timeframe.

https://github.com/OfficeDev/office-ui-fabric-react/issues/6030

[2018-10-04 18:57] Vitalius1 commented on #6567
@KevinTCoughlin @ThomasMichon  any input on this?

[2018-10-04 19:00] #6562 closed

[2018-10-04 19:03] cliffkoh commented on #6551
Side note: what contributes to the problem in the repro above is that Customizer itself seemingly is always generating a new object (and incurring the runtime cost of the spread) on every render pass - which makes memorizing `disableGlobalClassNames` from the very first post not a viable mitigation.

![image](https://user-images.githubusercontent.com/1003246/46496557-37038200-c7cd-11e8-9f97-baee91

[2018-10-04 19:47] Vitalius1 commented on #6570
@nico-bellante thanks for submitting this issue and providing with a repro.
Looks like a simple change like this will fix the issue (Tested in codepen and indeed it works)
[code]

[2018-10-04 19:56] #6550 closed

[2018-10-04 20:05] KevinTCoughlin commented on #6294
Here are the comparisons in the built scripts for additional context:

https://unpkg.com/office-ui-fabric-react@6.78.0/lib/components/Pivot/Pivot.base.js

[code]

https://unpkg.com/office-ui-fabric-react@6.78.0/lib/components/Dialog/DialogContent.base.js

[code]

https://unpkg.com/@uifabric/experiments@6.34.2/lib-commonjs/components/Stack/Stack.js

[code]

[2018-10-04 20:12] #6445 closed

[2018-10-04 20:40] Vitalius1 commented on #6506
@b-priyank by flicker the scrollbar inside TextField you mean it appears for a split second when the text wraps on the next line but then disappears?

[2018-10-04 21:03] aneeshack4 opened #6571 "Link buttons don't wrap"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/aneeshack4/pen/jerrVm

### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low) Low

Products/sites affected: (if appli

[2018-10-04 21:31] ericame commented on #6559
My requirements are actually closest to the TilesList as we have a series of tiles that we want to basically flex by row. I don't technically need the ListComponent, but I was trying it out for this purpose since there was a grid example and I thought it might add some focus and accessibility benefits as my data is technically list-like. I'm not editing or anything, but there are buttons on my til

[2018-10-04 21:36] dzearing commented on #6551
I'm looking at spinning up a codepen to try and repro. It's pretty tough to assess what the right thing to do is without that.

[2018-10-04 21:56] KevinTCoughlin commented on #6567
Exposing this as a prop on `IListProps` is easily achievable. And the `DetailsList` component already exposes `listProps` so there's no API change required there. We likely chose `16ms` to map to `60fps`, but I can see exposing it as a prop for advanced use cases. Adding @micahgodbolt for his thoughts re: the API.

**List.types.ts**

[code]

**List.tsx**

[code]

**Example DetailsList Usage**

[co

[2018-10-04 22:05] KevinTCoughlin commented on #6479
Thank you for clarifying the usage here and path forward @jamesedjac!

Would it be acceptable if I merge #6495 that makes this configurable via prop to unblock @eivindland? Then I'll follow-up and see if the JAWS issue is fixed so that we can move towards removing `role="application"` here completely.

[2018-10-04 22:12] Vitalius1 commented on #6571
Do we know why we even offered this option?

[2018-10-04 23:01] #3890 closed

[2018-10-04 23:19] Vitalius1 opened #6575 "neutralSecondaryAlt color removal final one!"
### Bug Report
This is to track the removal of the remaining of usage of `neutralSecondaryAlt` color across the repo as continuation of #5194 and #6500.
I consider that this last issue should be the final cleanup and should be proceeded to only when we have answered the questions bellow.

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#

[2018-10-04 23:20] aneeshack4 commented on #6571
@Vitalius1 not sure... I guess the default is buttons if you don't provide a href and we want to support that but it looks like for the wrapping case, that's not possible.

[2018-10-04 23:56] Vitalius1 commented on #6571
I am almost inclined to just make sure we emphasize this two cases of how the link is rendered and how it might impact the design and not make this breaking change. As an alternative we could just add the `as` prop pattern to give consumers a choice on either to use `<a/>` or `<button/>` or `<span/> and than add some logic to support backward compatibility with the current implementation.

[2018-10-05 00:23] eveleens opened #6576 "DetailsList: Accessibility - Narrator doesn't read checkmark column header in single-select mode in Edge"
### Bug Report

- __Package version(s)__: (fill this out) at least 6.4
- __Browser and OS versions__: (fill this out if relevant) Edge

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) High

Products/sites affected: (if applicable) Flow

#### Describe the issue:

When using Scan mode in Narrator, the Narrato

[2018-10-05 01:42] dliu120 commented on #6567
Thanks @KevinTCoughlin  Being able to adjust the debounce from 16ms to 500ms now allows us to resize the browser without it locking up, but it looks like there is some other weirdness going on under the hood.

The below timings show several _onAsyncResize calls behind fired from List and from WithViewportComponent. This was from just resizing the browser once, within the 500ms delay.

![image](htt

[2018-10-05 02:48] dzearing commented on #6551
https://codepen.io/dzearing/pen/VEjbMd

[2018-10-05 03:05] kempjeng commented on #6453
apologies the issue was my fault.

I had setup a hosts file `static2.sharepointonline.com` redirect to 127.0.0.1.
This was setup when I was trying to use different fonts for licensing reasons.

Thank you all for your help.

[2018-10-05 05:11] manish-shukla01 opened #6578 "TextField: onChange event not working in excel task pane add-in"
### Please provide a reproduction of the bug in a codepen:
 it works in codepen and regular browser. something weird that it does not work in excel
### Bug Report
 Here is how i have put the Textfield in my app div.
[code]

**Handle change event looks like this**
[code]
**State looks like this**
[code]

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)
 No
Reque

[2018-10-05 12:59] b-priyank commented on #6506
@Vitalius1 yes, it appears for split second and disappears once text field expands.

[2018-10-05 13:03] b-priyank opened #6580 "Safari: Not able to navigate to office fabric buttons using keyboard"
### Please provide a reproduction of the bug in a codepen:

### Bug Report

- __Package version(s)__: 6.74.1
- __Browser and OS versions__: Safari with macOS Sierra 10.12.6

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: Azure DevOps

#### Describe the issue:

In Safari browser, not

[2018-10-05 15:12] gbminnock opened #6582 "TagPicker seems to be missing "moreSuggestionsAvailable" property"
### Bug Report

I am using the TagPicker component to allow users to select items from a list. I retireve the list items 10 at a time from SharePoint. I set the property searchForMoreText='more...' on the component. When the user clicks on this a second set of results is retrieved and added to the component using the method "onGetMoreResults".

At this point I expect "more..." to still exist so th

[2018-10-05 18:09] gregdardis commented on #6570
Mind if I open a PR with this fix?

[2018-10-05 18:11] Vitalius1 commented on #6580
@b-priyank does this happen in your app? I can confirm that this is happening on https://developer.microsoft.com/en-us/fabric#/components/button. In Safari it skips tab stops for Default and Compound buttons examples.

[2018-10-05 18:34] Vitalius1 commented on #6570
Yeah. Also would be nice to have some kind of unit test checking for this.

[2018-10-05 18:41] msadahiro opened #6583 "Picker: After selecting a user, the menu flashes in the upper left hand corner"
### Please provide a reproduction of the bug in a codepen:

### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)
 No
Requested priority: (Blocking, High, Normal, Low)
High

Products/sites affected: (if applicable)
Azure Blockchain Workbench
#### Des

[2018-10-05 18:44] micahgodbolt commented on #6583
@joschect any idea why the picker flashes quickly on keyboard selection? I can repro a quick flash on our basic demo, though it's not as noticable as this one as it's still in the same place as the normal one.

[2018-10-05 18:49] Arknev commented on #6527
I'm trying to duplicate our pattern that we used in CSOM/JSLink. We had logic that set the order of fields with some custom configuration. This allowed us to declare parent/child relationships, custom validation, insert headers, modify row layout, visibility, as well as setting fields to be editable or visible only to certain users based on our own role based security system. However, the default

[2018-10-05 18:53] Vitalius1 commented on #6582
I am looking into [this ](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/pickers/Suggestions/Suggestions.types.ts#L80) prop and trying to see if there is a way to control it as from a surface investigation looks like it's only internally used and not exposed to the surface.

[2018-10-05 20:28] gbminnock commented on #6582
Hi @Vitalius1 ,
here is a link to the [codepen](https://codepen.io/gbminnock/pen/jeMbaB?editors=0010) I created to demonstrate the issue. Yes if you could see if there is a way to achieve the desired results I would appreciate it. Might it be that the "more" could be only for one time use?

Many Thanks,
Gary

[2018-10-05 22:03] Vitalius1 commented on #6582
@gbminnock one way to control it is add to `pickerSuggestionsProps` a controlled by your app's state boolean value to `moreSuggestionsAvailable` property. In your codepen it should look like this:
[code]
@joschect From [this](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/pickers/BasePicker.tsx#L260-L268) lines it seems that if we add

[2018-10-05 22:37] #6551 closed

[2018-10-05 22:44] micahgodbolt commented on #6583
Seems to be solved in latest release

[2018-10-05 22:44] #6583 closed

[2018-10-05 22:46] dzearing commented on #6503
@JasonGore any updates here

[2018-10-05 22:53] JasonGore commented on #6503
Yes, I'm currently thinking this is a typing bug with `ISelectableDroppableTextProps`. The underlying issue is that `ISelectableDroppableTextProps` takes in only one generic type (component) but then assumes all listener elements are of that type. This causes issues with event listeners attached to HTML elements which are not technically `IDropdown` type.

I'm testing a fix where SelectableDroppab

[2018-10-05 23:12] TubanMicrosoft opened #6586 "Multiline TextField resizable to below minimum height on webkit browsers"
### Please provide a reproduction of the bug in a codepen:
 https://codepen.io/TuckerBane/pen/NORNeK

### Bug Report

- __Package version(s)__: (6.78.1, 6.78.0, possibly more)
- __Browser and OS versions__: Chrome (Uses Webkit only feature)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)
No
Requested priority: (Blocking, High, Normal, Low)
Normal
Products/sit

[2018-10-05 23:31] Vitalius1 commented on #6586
@TubanMicrosoft thanks a lot for catching this bug and also for providing a solution.
The fix should go [here](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/TextField/TextField.styles.tsx#L254)

[2018-10-06 00:13] JasonGore commented on #6503
@joechung-msft Hi Joe, I have a PR out to fix, but I wanted to confirm with you that this is the only TS3.1 error you have encountered. Can you confirm that there are no other errors? Is there a way you can try my PR branch to confirm there are no other TS 3.1 errors? Thanks!

[2018-10-06 01:04] Vitalius1 commented on #6500
@dzearing there is already a PR in by Natalie...

[2018-10-06 05:15] jaitaiwan commented on #1565
I'm going to close this issue as I don't think that it's getting any traction.

[2018-10-06 05:15] #1565 closed

[2018-10-06 08:57] joerneu opened #6588 "DetailsList (virtualized) not working within Panel component"
### Please provide a reproduction of the bug in a codepen:

[CodePen sample](https://codepen.io/anon/pen/EdgmrX)

### Bug Report

- __Package version(s)__: 6.78.1
- __Browser and OS versions__: All

#### Priorities and help requested:

Are you willing to submit a PR to fix? - No

Requested priority: Normal

#### Describe the issue:

A DetailsList (with virtualization) cannot be used within a Panel

[2018-10-06 11:53] gbminnock commented on #6582
@Vitalius1 yes that works in the codepen fine. My current spfx project I cannot use that property and I am using:

- office-ui-fabric-react@5.83.0
- office-ui-fabric-core@9.1.0

Will I have to upgrade the these libraries individually to make use of this property?

thanks again.

[2018-10-06 20:18] Vitalius1 commented on #6582
@gbminnock `office-ui-fabric-core` has nothing to do with it. Let me see if I can find out if in `5.83.0` we had this prop in. Also, I believe you won't be able to update the version to our latest `6.0` release as `spfx` is still on `5.0` (I could be wrong). Plus `6.0` requires `React 16` which again I believe `spfx` is still on `React 15` (I could be wrong again). I will investigate and see if at

[2018-10-06 20:40] Vitalius1 commented on #6582
Hmm I verified it in [here](https://codesandbox.io/s/9n227yy8y). It works for me...

What did you mean by 'cannot'? Is it giving you an error?

[2018-10-06 22:02] dzearing commented on #6588
I believe this is because the scrollable div in the panel is missing `data-is-scrollable=true` attribute, and so the events aren't being heard.

[2018-10-06 22:34] dzearing commented on #6588
The Panel's scrollable divs are a little messed up, it seems. I see both "scrollableContent" and "content" divs marked as `overflow-y: auto`... but I actually think neither should be, and instead `contentInner` is the correct one.

@Jahnp @kkjeer @mikewheaton

When we scroll:

1. Should the X (close) button (all action buttons) scroll with content? (I believe, no, it should stay fixed.)
2. Should

[2018-10-06 23:37] Basek commented on #5176
@natalieethell, I'm not sure about this. It seems to me that the problem seems to be in column width calculation. There is viewport decorator which produce width for DetailsList, but it doesn't calculation vertical scroll width and because of that horizontal scroll appears.

[2018-10-07 21:37] omakoleg opened #6591 "`ScrollablePanel` example with `onScroll` doesnt exist on `DetailsList`"
At page describing sample usages of `ScrollablePanel` there is code example for `DetailsList`
https://developer.microsoft.com/en-us/fabric#/components/scrollablepane

But current `DetailsList` docs page do not have `onScroll` defined at
https://developer.microsoft.com/en-us/fabric#/components/detailslist

Maybe another version used at docs page and current don't have it any more.
[code]

[2018-10-07 23:37] dzearing commented on #6591
The example has been fixed in this PR a while ago:

https://github.com/OfficeDev/office-ui-fabric-react/commit/e4e90ac74e1eb66844765437438bfb7cfa0df03c#diff-3349a08f4320e23cc4dfd03f6d7accef

The site is being updated shortly; we're blocked on the hosting site loading an old version of React and we're working with the owners to get this resolved asap.

[2018-10-07 23:37] #6591 closed

[2018-10-08 04:29] micahgodbolt commented on #6360
@KevinTCoughlin careful not to say "fixes" this issue, unless it closes all the listed bugs.

[2018-10-08 06:48] jayleems2018 opened #6595 "It reads astrik for requered field which failed in accessibility certificating"
### Please provide a reproduction of the bug in a codepen:

Same code:
this.state && this.state.currentProductId && <div>
                    {this.props.supportTopics.length ? <Field
                        name="topic"
                        id="topicOption"
                        component={RenderDropdownField(this.getTopicOptions())}
                        label={Translate('DAC_TOPIC')}

[2018-10-08 07:11] jayleems2018 opened #6596 "tab key failed on combo box rendering"
### Please provide a reproduction of the bug in a codepen:

### Bug Report
The scenario is there are two combo boxes.  One depends another.  That says it can only happen at rendering.  The example will be: Combox box A has item a,b,c.  Now in Combo box B it is depends on input of Combo A.
Let's say a has a1,a2,a3 if enter a in Combo A. b in Combo A has b1,b2,b3,b4,b5.  c in Combo A has c1,c2.

If

[2018-10-08 07:13] RaulRG commented on #5759
Excuse me for not giving you feedback. I thought everything was said. It seemed to me that you would not go the web components path and so it was not an option for us. Everything what you said about browser compatibility and polyfills is right, but there are libraries for building the web components that take care of the polyfills, but if you need to support IE then it is probably a problem. It is

[2018-10-08 07:47] omakoleg commented on #6591
Thx for fast feedback !

[2018-10-08 12:05] lafe commented on #5326
The [documentation](https://developer.microsoft.com/en-us/fabric#/components/spinbutton) makes this even more confusing, as it states for the `value` property (emphasis mine):

Unfortunately, the mentioned `onChange` is missing...

[2018-10-08 12:24] markuskr opened #6597 "[merge-styles] justifyContent definition in IRawStyleBase is not complete"
### Please provide a reproduction of the bug in a codepen:

CSS grid introduces `stretch` as a valid value for `justifyContent` which is missing in `IRawStyleBase`:

`justifyContent?: ICSSRule | 'flex-start' | 'flex-end' | 'center' | 'space-between' | 'space-around' | 'space-evenly';`

Formal definition from MDM: https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content#Formal_syntax

####

[2018-10-08 12:50] kmrrakesh opened #6598 "Focus is not reaching to "chevron down" icon(scan-mode), in commandbar, if split property is true"
### Please provide a reproduction of the bug in a codepen:
https://codepen.io/anon/pen/KGNybW

### Bug Report
- __Package version(s)__: ">= 6.0.0 < 7"
 - __Browser and OS versions__: Edge and Windows 10

#### Describe the issue:
Focus is not reaching to "chevron down" icon, in commandbar, if split property is true
It is occurring in both of the cases of scan-mode On and Off

#### Actual behavior:

[2018-10-08 13:34] b-priyank commented on #6580
Yes, @Vitalius1 , this is affecting Azure DevOps.

[2018-10-08 13:53] qqli1209 opened #6600 "Don't assign aria- attributes to ComboBox if user does not specify them"
**Describe the feature that you would like added:** don't give a default value to aria-labelledby, aria-describedby or aria-owns to Combobox if user does not specify them.

**What component or utility would this be added to:** Combobox

**Have you discussed this feature with our team, and if so, who:** Yes. Our team has a bug that ARIA attributes must conform to valid values, and it's opened by ac

[2018-10-08 15:14] realhoffi opened #6601 "DatePicker: make InputProps available (specally ID)"
nearly every component has an ID, but not a DatePicker Control.
This is needed for good HTML and programming Style like for HTMLFOR attribut in label.

[2018-10-08 16:22] dzearing opened #6603 "loadTheme: some components built with `styled` are not re-rendered when a new theme becomes available."
The `loadTheme` api will use the Customizations singleton to define the global theme. The singleton has an `observe` method to observe global customization settings.

I believe `styled` needs to observe these changes so that it can re-evaluating styling when loadTheme is called. I am a little nervous about a perf issue here, so we would only want a re-render to occur when the theme actually change

[2018-10-08 16:33] dzearing opened #6604 "Theming: direction should be provided through theme"
Right now, the direction is provided through the html dom. This implies 2 problems:

1. Changing the `<html rtl='true'` attribute does not retrigger a re-render so any calculated values won't be re-evaluated.

2. There is no contextual direction, so for example, an email client rendered in LTR can't render an inbox mail in RTL.

Proposal:

Provide `rtl` setting in ITheme. This means that:

1. `loa

[2018-10-08 16:38] dzearing commented on #6508
`FocusTrapZone` purpose is to trap focus, not to change tabbing behavior, whereas `FocusZone` change tabbing to directional, and it already supports home/end.

You're free to wrap content in a FocusZoine, if it makes sense.

[2018-10-08 16:38] #6508 closed

[2018-10-08 16:43] dzearing commented on #6422
I believe scan mode completely takes over keyboarding, ignoring (not triggering) javascript events and thus prevents us from controlling special behaviors.

@cschlechty @jspurlin Please correct me if i'm wrong.

[2018-10-08 17:17] dzearing commented on #6598
@jspurlin I believe this is by design, because the keyboard shortcut for expanding a splitbutton menu is alt/command down arrow. Can you confirm?

[2018-10-08 17:42] mowei8 opened #6605 "Disabled Dropdown has no aria-label on screen reader"
### Please provide a reproduction of the bug in a codepen:

### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable)

#### Describe the issue: When Fa

[2018-10-08 17:57] #4883 closed

[2018-10-08 18:03] jspurlin commented on #6598
@dzearing, correct this is by design. We got direct user feedback that this is expected behavior for a splitButton.

[2018-10-08 18:16] Vitalius1 commented on #6595
@jayleems2018
Can you please also provide some screenshots of the issue manifestation. Also, what component are you using. From the code snippet it doesn't look clear. Is it Dropdown?

[2018-10-08 18:24] Vitalius1 commented on #6596
@jayleems2018 would be really helpful if you could provide a repro of this bug in codepen. [Here](https://codepen.io/vitalius1/pen/aRmmmg) is a starter for you to begin. It's really hard to debug without having a use scenario. Thanks!

[2018-10-08 18:41] dzearing commented on #6598
Thank you @jspurlin! @kmrrakesh this is by design.

[2018-10-08 18:41] #6598 closed

[2018-10-08 18:46] dzearing opened #6607 "Theming: language should be provided by the theme"
There are cases where the font is dependent on language, and that the page itself may render more than one language at a time. For example, you may use an email client in English, but you read a mail written in Hebrew, which would need a different font rendered.

Recommendation:
Font families are currently providable via theme. However, the fontface definitions are only registered on load.

1. We

[2018-10-08 18:52] #6586 closed

[2018-10-08 20:13] #6500 closed

[2018-10-08 21:33] dzearing commented on #6597
Easy fix, go for it!

[2018-10-08 22:21] brandonthomas opened #6611 "Add headerContainer style location in DetailsList"
We need to be able to declaratively set the styling on the container of the header within DetailsList to support sticky (using css sticky) behavior. I currently use a work around involving refs and finding the parent but this isn't ideal and causes some issues around timing (we sometimes see styles added after initial paint).

**What component or utility would this be added to**
DetailsList

**Hav

[2018-10-08 22:59] ADobin opened #6612 "KeytipData type error with TypeScript 3.1"
### Please provide a reproduction of the bug in a codepen:

I can't select the TypeScript version in a codepen but I created a repo at [https://github.com/ADobin/ts31-office-fabric-react-bug](https://github.com/ADobin/ts31-office-fabric-react-bug). Run `npm install` and `npm run build` to reproduce in that repo.

### Bug Report

- __Package version(s)__: 6.81.0
- __Browser and OS versions__: (fill

[2018-10-08 23:03] ADobin commented on #6612
It looks like a different issue was fixed in #6503 and I see a comment saying that there might be this issue as well but that issue is closed out already and marked as released.

[2018-10-08 23:50] Vitalius1 commented on #6470
@philipzloh to prevent this issue from closing automatically could you make it more clear if the issue is that you can not use the attributes you mentioned? After a surface investigation only `spellCheck` is already a part of `inputProps`. Are you having issues with using them both or only the `autoCorrect` which is not present at the moment as a native prop?

[2018-10-08 23:52] #5308 closed

[2018-10-08 23:55] KevinTCoughlin commented on #6230
Thanks @Vitalius1 for the helpful debug tips. I'm going to take another pass at unblocking @Krak86.

[2018-10-09 00:36] KevinTCoughlin commented on #6230
It seems like the fix is to invoke the following LoC when `state` is changed by a controlled component within a List cell or `this.forceUpdate()` is invoked within an `onChange` handler if its possible.

https://github.com/OfficeDev/office-ui-fabric-react/blob/89032a4cbc46b2053a59ea9adc672bc13bccc6ab/packages/office-ui-fabric-react/src/components/List/List.tsx#L469

Neither of which happen when us

[2018-10-09 01:16] Vitalius1 commented on #6611
@brandonthomas if you are trying to achieve a sticky header of the `DetailsList` I recommend looking [HERE](https://developer.microsoft.com/en-us/fabric#/components/scrollablepane) for an example using our `ScrollablePane` with `Sticky` components. Also, soon there is coming a modification of that example to use a sticky header and footer with a `DetailsList`.

[2018-10-09 09:32] gbminnock commented on #6582
@Vitalius1 when I add the "moreSuggestionAvailable" property I get a typescript error and cannot proceed:

[code]

[2018-10-09 10:10] Nimelrian opened #6615 "[merge-styles] TypeScript error TS2349 when trying to invoke subComponentStyle members which are not defined as IStyleFunctionOrObject"
### Please provide a reproduction of the bug in a codepen:

### Bug Report

- __Package version(s)__:
  - merge-styles: 6.9.4 (as a dependency of office-ui-fabric-react 6.81.0)
  - typescript: 3.0.1

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes, if I find the cause of this issue.

Requested priority: High

#### Describe the issue:

**This is a regression.** The e

[2018-10-09 11:11] qqli1209 opened #6616 "TooltipHost/Tooltip does not respect user input id prop"
### Please provide a reproduction of the bug in a codepen:
https://codepen.io/qianl/pen/mzRKgX

### Bug Report

- __Package version(s)__: (latest)
- __Browser and OS versions__: (all)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (No)

Requested priority: (Normal)

Products/sites affected: (all)

#### Describe the issue:

 `TooltipHost`/`Tooltip` has an `id` prop, bu

[2018-10-09 12:15] Nimelrian commented on #6615
Bisecting revealed 90cd34d276e26bcc8368f57 as the commit which introduced the regression. The commit was part of #6146.

cc @cliffkoh since they are the commit author.

[2018-10-09 14:42] fljiang commented on #6367
How do you implement it locally?

[2018-10-09 15:10] Nimelrian commented on #6615
I have found a fix, but the tests fail because the subComponentStyles property doesn't get mapped to a function but remains as an object?

You can find my branch [here](https://github.com/Nimelrian/office-ui-fabric-react/tree/b48a4081df1719d89e743f7d967141b00dc1486e) with the commit being [here](https://github.com/Nimelrian/office-ui-fabric-react/commit/b48a4081df1719d89e743f7d967141b00dc1486e)

t

[2018-10-09 15:14] micahgodbolt commented on #6367
@fljiang I just mean product teams implement it in their own application vs having a shared version in fabric.

[2018-10-09 15:28] arkogupta commented on #6339
@Vitalius1 any update on this ?

[2018-10-09 16:19] mikewheaton opened #6618 "ExampleCard: Remove dependencies on Fabric Core classes"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: N/A

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: Examples app

#### Describe the issue:
When running `npm start` from the root of the project, it starts the examples app at http://localhost:4322/. The contents of these examples ar

[2018-10-09 16:19] JasonGore commented on #6503
Thanks. I'll tackle that one via #6612.

[2018-10-09 16:22] mikewheaton commented on #6618
An alternative would be to not rely on the Fabric Core classes, but instead to refer to the Core mixins and variables when generating our own component classes. This looks to be the standard for most components, as `ExampleCard` is the only component is example-app-base that uses a Fabric Core class.

[2018-10-09 17:40] KevinTCoughlin commented on #6479
@jamesedjac next published version of OUIFR will allow you to override the role. I'll work to see if we can remove it completely dependent on the JAWS bug linked in-line. Will keep this open for tracking that.

[2018-10-09 17:52] micahgodbolt opened #6623 "Update public website with better theming information"

[2018-10-09 18:08] nrakochy opened #6624 "Document `Items` on ICommandBarItemProps interface, please"
I am looking at implementing a [CommandBar](https://developer.microsoft.com/en-us/fabric#/components/commandbar#Implementation), and I do not see any required fields on `ICommandBarItemProps`, nor any example data which renders the example buttons - `New`,`Upload`, `Share`, etc. I am not sure what the shape of this data is supposed to be.

If you would kindly include both the example as well as th

[2018-10-09 18:33] #6520 closed

[2018-10-09 18:37] Vitalius1 commented on #6582
@gbminnock looked once again and it seems this would not work as `moreSuggestionsAvailable` is a property of `ISuggestionsProps` [here](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/pickers/Suggestions/Suggestions.types.ts#L80), but `pickerSuggestionsProps` is of type `IBasePickerSuggestionsProps` in [here](https://github.com/OfficeD

[2018-10-09 19:07] #6612 closed

[2018-10-09 20:04] #6618 closed

[2018-10-09 20:11] micahgodbolt commented on #5440
@janormanms can you confirm on which version you found this to be fixed? We have a PR open as we speak to resolve the problem. Want to make sure this was actually fixed somewhere.

[2018-10-09 20:14] janormanms commented on #5440
Looks like when I made that comment we were on 6.61.0. We're still on that build and I'm still unable to repro the issue in the app.

[2018-10-09 20:16] micahgodbolt commented on #6624
The problem is that ICommandBarItemProps is extending IContextualMenuItem and the way our docs are created doesn't account for extending props. We are looking at ways of improving that interface documentation, but when in doubt you can always look at the actual interface file and work backwards.

[ICommandBarItemProps](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office

[2018-10-09 20:30] micahgodbolt commented on #5440
@joschect can you verify if this issue still exists? You did a bunch of work to fix it....I'm assuming that meant you could repro it.

[2018-10-09 20:31] micahgodbolt commented on #5440
Going to reopen until we know if this issue is actually resolved, or if OP's team just found some workaround.

[2018-10-09 20:40] brandonthomas commented on #6611
We don't want scrollable pane or sticky. It has a lot of jank and it's smooth. We want to use position: sticky.

[2018-10-09 20:59] #6156 closed

[2018-10-09 21:10] mikewheaton commented on #5752
Assigning to @cliffkoh and removing from Fabric Shield as requested.

[2018-10-09 21:13] acamargob commented on #6449
I am interested. I can probably get it next week.

[2018-10-09 22:17] brandonthomas commented on #6611
Not only that but we need to support horizontal sticky as well. So this is why native is what we need.

[2018-10-09 22:40] jshaker commented on #5892
I have the same issue. Also what's up with that bot? No recent activity but no fix..

[2018-10-09 22:51] mikewheaton commented on #6580
See [this StackOverflow question](https://stackoverflow.com/questions/8747689/safari-tabbing-focus-doesnt-work-in-5-1-2) for the most likely fix.

The (new?) default behavior in Safari is to _not_ have tab move between actionable elements. I'm not sure why some of our buttons receive focus while others don't. Given that the native `button` element will not receive tab focus without changing this s

[2018-10-09 22:51] #6580 closed

[2018-10-09 23:23] BrendanMcK opened #6634 "Suggest removing Button Swap with Focus State example - unclear purpose, not accessible"
- __Package version(s)__:  6.49.2
- __Browser and OS versions__: n/a

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) Low

Products/sites affected: (if applicable) N/A

#### Describe the issue:

The [docs for the Button component](https://developer.microsoft.com/en-us/fabric#/components/button) have a rathe

[2018-10-10 02:11] tsekityam opened #6636 "Pickers should have `isRequired` property"
**Describe the feature that you would like added**
Add ability to mark any picker as a required field

**What component or utility would this be added to**
Pickers

**Have you discussed this feature with our team, and if so, who**
No.

**Additional context/screenshots**

[2018-10-10 02:55] micahgodbolt commented on #6636
@joschect ever considered adding 'required' to pickers?

[2018-10-10 02:56] micahgodbolt commented on #6634
It's also not necessary any longer. I'm happy to see it removed.

[2018-10-10 03:00] micahgodbolt commented on #6616
getNativeProps passes all divProps down to the tooltip itself. The tooltip pulls the ID out and applies it to the div wrapping the tooltips content

https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/Tooltip/Tooltip.base.tsx#L60

[2018-10-10 03:01] micahgodbolt commented on #6616
its possible the ID is there, but it's hard to spot as it dissapears as soon as you try to inspect it

[2018-10-10 03:08] tsekityam commented on #6636
@micahgodbolt @joschect DatePicker already has `isRequired` property, I think we should promote this to other pickers as well.

BTW, because the _required_ property in DatePicker is named `isRequired`, so I propose a new property named `isRequired` for the consistency.

[2018-10-10 03:44] micahgodbolt commented on #6636
@tsekityam yes to consistency, but the opposite direction. We've been transitioning any 'isRequired' or 'isDisabled' to their html attribute name for consistency. So we'll probably deprecate isRequired on date picker and make 'required' the value for all of them.

[2018-10-10 03:45] gitfish commented on #5759
Web Components are poo.

[2018-10-10 04:18] #5047 closed

[2018-10-10 04:19] #6601 closed

[2018-10-10 06:20] AkshanshSrivastava03 commented on #5499
@natalieethell - When can we expect this issue to be resolved?
We are using Calendar in our product and are hitting this issue under High contrast Compliance.

[2018-10-10 06:55] RaulRG commented on #5759
I don't agree with you. Look at this site: [https://custom-elements-everywhere.com/](https://custom-elements-everywhere.com/)
As you can see Angular, Vue, Svelte support them 100%. React is lagging behind, but it will change over the next months. For me is the idea of using the platform, and the browsers will get better and better on web components. I don't know if it is the best possible implemen

[2018-10-10 07:19] sonimishra opened #6637 "[Screen Reader - Power Apps Admin - Select a template] Under Select a template blade, Narrator is not announcing the check/uncheck state of the checkbox on the table"
### Please provide a reproduction of the bug in a codepen:

### Bug Report
*User Experience:*
If, the Screen reader is not announcing the check/uncheck state of the checkbox available on the table, then the users who depends upon screen reader for navigation might get confuse and does not able to perform its function properly.

MAS Ref:
*MAS 1.3.1 - Info and Relationships (40)*

 #### Priorities a

[2018-10-10 08:59] gitfish commented on #5759
https://reactjs.org/docs/web-components.html.

You've really just started the debate yourself by creating an issue titled as such. Anyway, looks like folk, far smarter than myself, have got some different approaches for you. Make sure you stick rigidly to those standards ;)

[2018-10-10 12:25] kmrrakesh opened #6638 "DetailList - select all button, adding aria-describedby attribute even if no label is provided"
### Bug Report
- __Package version(s)__: ">= 6.0.0 < 7"
 - __Browser and OS versions__: Edge and Windows 10

#### Describe the issue:
DetailList - select all button, adding aria-describedby attribute even if no label is provided

#### Actual behavior:
DetailList - select all button, adding aria-describedby attribute even if no label is provided

#### Expected behavior:
DetailList - select all butt

[2018-10-10 12:34] SumiranAgg opened #6639 "Slider misbehaves when min equals max"
### Bug Report
- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)- Yes

Requested priority: (Blocking, High, Normal, Low) - Normal

Products/sites affected: (if applicable) - Vsts

#### Describe the issue:

We are using slider where our max is a dynamic value and

[2018-10-10 14:44] luke-oakes commented on #2683
This might help someone else...

This was also happening to me, and it was because the value was 0, but the checkbox uses true and false. The first click (I assume), changed it from 0 to false, and the second click went to true.

I fixed it by adding two attributes to the checkbox component  false-label='0' true-label='1' (they're in the documentation)

[2018-10-10 15:38] betrue-final-final commented on #6639
I think I understand this, but let me restate to make sure.
When you say "max", do you mean the **number of points drawn**? Would that be separate from the actual length of the slider? I would expect so, in which case yes you are correct with this bug.

[2018-10-10 15:42] micahgodbolt commented on #2683
@luke-oakes can you repro this issue outside of sharepoint? You can quickly make a codepen by going to the checkbox page and click on "Export to Codepen"

https://developer.microsoft.com/en-us/fabric#/components/checkbox

[2018-10-10 16:06] micahgodbolt commented on #6639
Makes sense to me. Even if there are no other values to slide to, it should still look like the slider. I'm curious if design might have a specific design in mind for this scenario. How do we indicate to the user that there are no other values to slide to? Should the slider and number be in the middle with no min/max values?

[2018-10-10 16:15] betrue-final-final commented on #6639
Those are very good questions. In essence, a slider with just one point is actually disabled, so I would expect that to be the design at this point.

[2018-10-10 16:35] erjohnms opened #6642 "Split button keyboard accessibility"
### Bug Report

Split Buttons, by default, only allow for alt+down to expand the menu of the split button. I'm aware there is a menuTriggerKeyCode to make it whatever I want and I've started adding just 'down' as a key to expand these menus because otherwise we get pinged for not meeting keyboard accessibility guidelines.

I think its pretty weird that we have to add down as an option to all of ou

[2018-10-10 16:40] micahgodbolt commented on #6639
@betrue-final-final if you can give us a quick visual of how this should look, i feel it'd be a good candidate for our shield devs

[2018-10-10 16:50] aneeshack4 commented on #6528
#6632 only does this for the Slider control - not for all Fabric controls @dzearing can we please reopen this? I tried to do it for all the controls at first by intentionally removing the Fabric component wrapper from FabricDecorator.tsx and breaking a bunch of screener scenarios but that proved too much to do all at once so I did Slider only first to get feedback. Now that it seems like I got Sli

[2018-10-10 18:04] joschect commented on #6636
Would we just want pickers required to act just like a textfield required? I do think it makes sense to add it.

[2018-10-10 18:37] #5943 closed

[2018-10-10 19:08] cliffkoh commented on #6615
Thanks @nimelrian, taking a look.

[2018-10-10 20:32] #6634 closed

[2018-10-10 20:47] mikewheaton commented on #6339
I've started digging into this. The overall structure is that the ScrollablePane component has a `contentContainer` div, which for this example contains a DetailsList. Whenever the ScrollablePane is rendered, the `_getStickyContainerStyle()` function runs and determines the height (if any) of the horizontal scrollbar. It then positions the footer content appropriately.

This all works correctly wh

[2018-10-10 21:12] TestAccessibilityGIT opened #6646 "DetailsList A11y Pass"
Tracking all of the issues brought up with the 10/09 accessibility pass on DetailsList  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B9694606d-47a5-4027-8aba-e9569be6adad%7D&action=edit&activeCell='Bugs'!D8&wdInitialSession=07a2e8c8-5abd-4ed7-8e4e-ebe1702ba085&wdRldC=1)

<s

[2018-10-10 22:21] cliffkoh commented on #6615
Hi @Nimelrian, I have tested and validated your proposed fix. Because of the runtime bug you pointed out, I created a PR that incorporates your fix (but credits the expression to you and call you out in the changefile :)). Please do review #6649 when you get a chance.

[2018-10-10 23:08] kkjeer opened #6651 "Standardize documentation comment formatting (including grammar and backtick usage)"
**Describe the feature that you would like added**

Currently, there are inconsistencies with backtick usage (some property names are rendered with backticks and some are not). It would be good to clarify what pieces of documentation should use backticks.

**What component or utility would this be added to**

All component docs

**Have you discussed this feature with our team, and if so, who**

@c

[2018-10-10 23:09] betrue-final-final commented on #6639
So I would expect it to look like the top one. However, is there any way we can just prevent this from happening? It's kinda useless.
![image](https://user-images.githubusercontent.com/20363037/46771079-d4b3f100-cca6-11e8-8281-fa217a9e5331.png)

[2018-10-10 23:38] ipip2005 opened #6653 "FocusTrapZone: Not trapped in focus zone when one of the choice group item is focused programmatically"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/jemZGY?editors=1010

### Bug Report
- __Package version(s)__: latest
- __Browser and OS versions__: chrome

#### Priorities and help requested:

Requested priority: (High)

Products/sites affected: (SharePoint publishing pages)

#### Describe the issue:

When ChoiceGroup is the last focusible element in FocusTr

[2018-10-10 23:42] natalieethell commented on #5499
Sorry for the delay here! @AkshanshSrivastava03 are you still experiencing this issue? Here's what I'm seeing in HC Black and HC White.

![calendardayhcblackworking](https://user-images.githubusercontent.com/14134000/46772160-71788d80-ccab-11e8-8a6f-a59e8fe08b59.gif)

![calendardayhcblackandwhiteworking](https://user-images.githubusercontent.com/14134000/46772067-1777c800-ccab-11e8-89d1-0da38f459b

[2018-10-10 23:59] suztocco opened #6654 "Datepicker does not show highlight for editable text"
### Bug Report

- __Package version(s)__: Current
- __Browser and OS versions__: All?

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? NO

Requested priority: Normal
Products/sites affected: OWA Calendar

#### Describe the issue:

It seems that for controls where you can edit the value, a highlight appears.
The time picker has a highl

[2018-10-11 00:42] Damdan opened #6655 "scrollElement in List component is set beyond the intended parent when using the component in a modern page on SharePoint online"
### Please provide a reproduction of the bug in a codepen:

Performed on SharePoint Online using SPFx framework.

### Bug Report

No logs, no errors.

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)
 No
Requested priority: (Blocking, High, Normal, Low)
 Low
Products/sites affected: (if applicable)
 SharePoint Online using modern sites
#### Describe the issue:

[2018-10-11 02:50] Vitalius1 commented on #6653
It could be similar to #4649

[2018-10-11 03:20] dzearing commented on #6655
Just trying to understand the problem; is `data-is-scrollable` being set on the wrong element? And if so, is this in SharePoint, or is this something you control?

Or, is it missing on an element?

[2018-10-11 04:00] #5715 closed

[2018-10-11 04:00] #5910 closed

[2018-10-11 04:28] dzearing commented on #6653
I looked into this. The issue is because there is logic that says "is this the last focusable element in the zone?" which returns false as there is another radio button after it. However, due to how radio buttons have a peculiar tabbing behavior where they act like a focus zone, tabbing skips this element, causing the focus to exit the trap.

Not quite sure what the best fix here is.

[2018-10-11 04:36] dzearing commented on #6653
Actually, while technically this is a bug with radio buttons, a workaround is to set focus correct.

@ipip2005  you're reaching into the choicegroup to manually set focus on a specific dom element. Instead, you can use the focus() component method, which will set focus on the CORRECT choicegroup. This ensures the selected option is focused. I have updated the codepen here:

https://codepen.io/dzea

[2018-10-11 04:47] micahgodbolt commented on #6639
in a situation with a variable slider range, its certainly a feasible scenario. I'm happy to support it.

[2018-10-11 04:48] micahgodbolt commented on #6639
restricting max to be min +1 means that in that top example you'd still have min 1, max 2, but you wouldn't be able to move the slider to 2.....so that '2' is a bit misleading and probably doesn't represent what the slider is actually trying to represent.

[2018-10-11 04:54] betrue-final-final commented on #6639
There is no 2. The number is 1, and the track is "disabled" showing that you can't move it. What are you looking at?

[2018-10-11 04:56] SumiranAgg commented on #6639
@micahgodbolt Please review the PR attached as a candidate fix.
Also IMO the first slider in image shared by @betrue-final-final would be ideal in this case.

[2018-10-11 07:22] neeraj-khanna opened #6656 "Tag Picker: Keros error if no element is selected"
![tagpickerbug](https://user-images.githubusercontent.com/14049149/46786789-8f013200-cd53-11e8-9355-b6209938360e.PNG)

### Bug Report

- __Package version(s)__: 6.83.0
- __Browser and OS versions__: Chrome Version 69.0.3497.100 (Official Build) (64-bit)

#### Describe the issue:

If no element is selected in Tag Picker control, Keros gives following error:

*Certain ARIA roles must contain particu

[2018-10-11 07:49] luke-oakes commented on #2683
Haha, whoops.
I just realised I commented on the wrong project (which has exactly the same issue). Not quite sure how I got here!
You can ignore my last post, sorry.

[2018-10-11 09:54] joerneu opened #6657 "Virtualization of DetailsList not working inside Panel"
### Please provide a reproduction of the bug in a codepen:

[Codepen sample](https://codepen.io/anon/pen/jemjMe)

### Bug Report

- __Package version(s)__: 6.83.0
- __Browser and OS versions__: All

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

#### Describe the issue:

Virtualization of the DetailsList is not working.

#### Actual beha

[2018-10-11 10:07] joerneu opened #6658 "Make Panel scrolling optional"
**Describe the feature that you would like added**

It seems that a Panel always scrolls its content.

I would like to use a Flex layout within the Panel and control scrolling myself. (For example, when displaying two DetailsLists that should scroll independently in the Panel.)

Right now, I am using CSS to enable this with v6.83.0:

[code]

It seems like a hack and it would be better to have a pr

[2018-10-11 12:19] frevds commented on #6476
The problem is that the panel dismisses whenever a click is caught outside it's modal layer.
I trapped a panel into custom dimensions using a Customizer so it does not show fullscreen and although isLightDismiss=false and isBlocking=true and hasCloseButton=false I can dismiss it just by clicking outside of that trap area. So I guess this is what gets triggered as well, when a dialog box is closed.

[2018-10-11 12:38] Damdan commented on #6655
Not being set but is already there since Modern sites on SP Online were built with react. So the page itself already has an app root element and my root components reside inside. I explicitly didn't set anything to my List component:

`<div>
        <List
          className="ms-ListGridExample"
          items={this.props.items}
          onRenderCell={this._onRenderCell}
        />
</div>`

When

[2018-10-11 15:35] swese44 opened #6661 "Provide a way for Image to scale up to fill position (ImageFit.center) but only up until it "covers" the frame"
**Describe the feature that you would like added**

**What component or utility would this be added to**
Image should be centered unless its height and width are both larger than the frame, then it should cover the frame.

**Have you discussed this feature with our team, and if so, who**
Yes. David, Micah, Joe

**Additional context/screenshots**

Screenshots from the living examples (orange backgr

[2018-10-11 15:36] micahgodbolt commented on #6639
@betrue-final-final sorry, I wasn't very clear. You asked about simply preventing this from happening (not allowing min to equal max) but I feel that it is necessary.

[2018-10-11 16:04] mateofd commented on #2725
I agree with @enriquin it would be a nice feature

[2018-10-11 16:31] joetheday opened #6663 "CSS Grid Properties missing from IRawStyleBase"
### Bug Report

- __Package version(s)__: 6.83.0
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: M365 Admin Center

#### Describe the issue:

Only part of the CSS Grid spec is implemented in IRawStyleBase. As a result, there are key pieces of the spec th

[2018-10-11 16:48] frevds commented on #6476
Easiest Workaround:

add this handler and the issue will disappear:

`
 <Panel
  onOuterClick={ () => {} }>
`

[2018-10-11 16:53] joschect commented on #6582
@Vitalius1 Yes it was intentional to prevent it from being overridden. However, I believe that @gbminnock  provides a good use case where there could be multiple pages of results. I think we should consider, in the short term, allowing that property to be overridden, and in the long term provide more support for some kind of paging.

[2018-10-11 17:16] mikewheaton commented on #6339
Another option could be to expose a function like `repositionFooter()` on ScrollablePane, which could be called by the parent (which is aware of the DetailsList being resized via a callback). This would avoid having to force a re-render.

[2018-10-11 17:35] micahgodbolt commented on #6663
Hey @joetheday give me a shout when your have a PR, happy to get this in ASAP

[2018-10-11 17:53] #6661 closed

[2018-10-11 17:54] micahgodbolt commented on #6657
@kkjeer you've got this on your plate already right?

[2018-10-11 17:58] micahgodbolt commented on #6656
hmm...seems a list needs to have list items. Does that mean that it's not a list until you select at least 1 thing?

[2018-10-11 18:39] micahgodbolt commented on #6413
Rank 1 for is blocked scenario with no reasonable workaround

[2018-10-11 18:40] janormanms opened #6665 "ComboBox: aria label of an item cannot be set separately from preview text"
### Bug Report

- __Package version(s)__: 6.74.0

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: High (accessibility)

Products/sites affected: Outlook

#### Describe the issue:

Setting the ariaLabel property on IComboBoxOption does not set the aria-label on the option. It only does so if useAriaLabelAsText is set to true, which results in the

[2018-10-11 18:44] Vitalius1 commented on #6582
@micahgodbolt should we make a fix for now by exposing that prop to users and at the same time file new feature request for pickers to support some kind of paging as @joschect mentioned above?

[2018-10-11 18:47] arkogupta commented on #6339
This looks like a better approach ! Re-rendering the scrollablePane on each column resize is bound to have performance issues as you rightly mentioned, also because all the child components will also re-render. Go ahead with this if everything looks fine with this approach.

[2018-10-11 18:47] micahgodbolt commented on #6582
That sounds good to me. Make sure to mark the new issue with 'needs design' as we'd want to make sure we got some guidance on how the new paging would work

[2018-10-11 19:35] micahgodbolt commented on #6207
One idea here would be to simply have several sticky items stacked on top of each other.

[2018-10-11 19:44] micahgodbolt commented on #6111
hey, sorry for late reply, but that'd be a nice addition for sure. In fact, contextualMenu is based on callout, so moving that functionality to callout might allow us to remove it from contextual menu.

[2018-10-11 19:53] micahgodbolt commented on #5918
@codeteq just wanted to check and see if there is still an ask here. Many things have changed since the post, and you mentioned some workarounds. Do you feel there is still an opportunity for improvement?

[2018-10-11 20:01] vaishali11 opened #6667 "Cannot view testing documentation."
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

#### Actual behavior:

#### Expected beh

[2018-10-11 20:02] micahgodbolt commented on #5917
Looks like the request is to be able to remove freeform additions

![image](https://user-images.githubusercontent.com/1434956/46830560-cf61af80-cd55-11e8-9fe7-439927ee5851.png)

Would be nice to have an 'x' next to that, at least on focus/hover, to be able to remove it

[2018-10-11 20:03] micahgodbolt commented on #5917
@betrue-final-final have you seen any examples of dropdown lists where you can remove items from them? In this case we'd want to be able to remove options that we added.

[2018-10-11 20:05] betrue-final-final commented on #5917
I'm sure I have somewhere, but would need to look to find them. I would suspect that yes an "x" on the right would appear on focus or hover. Of course this will complicate the keyboarding slightly, but a right arrow could expose the delete, and using the delete key should also work.

[2018-10-11 20:10] micahgodbolt commented on #5917
having the X would help indicate it could be deleted as well

[2018-10-11 20:14] betrue-final-final commented on #5917
I would only expose it on hover or focus.

[2018-10-11 20:17] micahgodbolt commented on #5874
There's also the idea of using the `prefers-reduced-motion` media query

https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion

But I agree that the jiggling might not be appropriate for all situations and all users.

[2018-10-11 20:18] betrue-final-final commented on #5917
Wait, this isn't about removing an option, but just deselection. Here's the original text: "A user can select an option in a combobox, but there seems to be no obvious way to clear/reset a previous selection."

In most cases, they are selecting another option. I think in this case, he wants to zero out the dropdown back to no selection at all. One way that VSO does that is to have a clear option a

[2018-10-11 20:19] micahgodbolt commented on #5874
@natalieethell teaching bubble is a callout with pretty specific content/styling. Sure, you could recreate a teaching bubble without the animation, but it'd be quite a lot of work and would fall out of sync quickly.

[2018-10-11 20:32] micahgodbolt commented on #5874
@Jahnp what are your feelings on having animation be opt in? I always thought it was a bit much. We could have some "emphasized" prop or something. Who'd be the one to have the final say on that change?

[2018-10-11 20:32] betrue-final-final commented on #5917
We were just talking about this. Yeah, I wouldn't expose this normally as it's not something dropdowns have ever really done and it's kind of a niche. THe other way is to have an additional menu item to "Clear selection". VSTS does this in their filters. That way you won't think it's search.

[2018-10-11 20:33] micahgodbolt commented on #5737
This component is needed for the Leftnav work we'll be doing in the coming months.

[2018-10-11 20:34] micahgodbolt commented on #5736
This component is needed for the Leftnav work we'll be doing in the coming months.

[2018-10-11 20:35] micahgodbolt commented on #5736
ok ok..not sure if it'd be this OR the accordion that'd be used in the Leftnav, but one of them would be used :D

[2018-10-11 20:42] micahgodbolt commented on #5615
@philipzloh this is an accessibility component I believe. It wouldn't render any actual UI on the page.

[2018-10-11 20:43] micahgodbolt commented on #5615
Rank 1 because this is causing a11y issues that we don't have any other solutions for.

[2018-10-11 20:44] micahgodbolt commented on #5917
oh that's a decent idea. should that be baked in, or just mention it as a good UI practice if necessary.

[2018-10-11 21:10] jspurlin commented on #5917
Yeah, I agree either add an option to clear the value or someone could create a button next to the combobox (really anywhere they want) which clears the value (via sending in new props to clear it). This is something that I feel should be handled on a case by case basis and not be baked in to the component

[2018-10-11 21:16] Jahnp commented on #5874
@micahgodbolt as I mentioned, I like the idea of the animation being opt-in, but I'm not the decision maker. If we did that we'd need to be cognizant of existing users who expect the animation to drive feature adoption--this would "break" them.

@betrue-final-final , do you have any thoughts on this? Basically making the Teaching Bubble's entrance animation to be opt-in or opt-out?

[2018-10-11 21:57] dzearing commented on #6663
Grid gap isn't supported in IE11; you may have some issues there

[2018-10-11 22:01] micahgodbolt commented on #6663
@dzearing do you mean in adding it to IRawStyleBase, or in using it in M365 Admin Center? I can certainly see some IE11 fallbacks being written.

[2018-10-11 22:06] #6339 closed

[2018-10-11 22:27] martellaj opened #6668 "Can't load the OUFR website (https://developer.microsoft.com/en-us/fabric) in IE"

[2018-10-11 22:48] cliffkoh commented on #6615
Just noting here that the "regression" was something we were aware of. The syntax previously used for ReduceToFunction only worked correctly from Typescript 3 (possibly Typescript 2.9 as well) but Fabric was and still is on TS 2.8 and we could not check the right syntax in. In the end, we checked in something that would work for the majority of cases but fail in the very specific scenario  (where

[2018-10-11 23:33] eveleens commented on #6637
This is a dup of #6525

[2018-10-11 23:43] eveleens commented on #6657
Why do you need `display: flex` here? Is there more to the content? (Removing them gets rid of the issue.)

I've run into DetailsList virtualization issues before, and it's always when you're manipulating the layout - since virtualization is calculating based on layout.

[2018-10-12 00:45] tabrumle opened #6671 "Facepile Personas Unreachable if in FocusZone"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/tabrumle/pen/JmJmLx/

### Bug Report

- __Package version(s)__: Current

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: Wac

#### Describe the issue:

When using Facepile in a group of controls that is parented by a FocusZone, you are

[2018-10-12 01:30] ipip2005 commented on #6653
@dzearing Thank you for quick response and workaround. Unfortunately, it cannot applied to our case as in SPFX property pane.
We programatically focus on the first focusable item when the property pane is opened. The issue happens when there is only one choice group in the property pane.
But we'll never know what components will be added by developers to the property pane.

[2018-10-12 02:00] #6491 closed

[2018-10-12 04:34] dzearing commented on #6663
Was talking with Levi about this today: https://css-tricks.com/css-grid-in-ie-css-grid-and-the-new-autoprefixer/

[2018-10-12 04:45] Jahnp commented on #6668
The site update was blocked behind some needed infra updates. Those are almost complete, and we should be able to have the site updated in the next day or two.

[2018-10-12 06:11] banguero opened #6672 "Checkbox on Safari iOS shows check after unchecked"
### Bug Report

-Open https://developer.microsoft.com/en-us/fabric#/components/checkbox on Safari on an iOS device.

Initially the standard checkbox looks like this:

![image](https://user-images.githubusercontent.com/1873511/46850767-fcd84880-cda9-11e8-897a-e9f1e956b6da.png)

then if you tap on it, it looks like this:

![image](https://user-images.githubusercontent.com/1873511/46850797-111c4580-c

[2018-10-12 06:13] Nimelrian commented on #6615
Alright, good to know :)

[2018-10-12 10:14] codeteq commented on #5918
@micahgodbolt
thank you for the question. The current behaviour is quite accepted now.
So, from my side there is no further action needed.

[2018-10-12 10:19] Spragalas commented on #4430
You can have your custom <MyCheckbox /> component which would track its state and it will render itself on his state change. Also I have onChange property, which is called from MyCheckbox onValue change, thus i can listen for changes in parent component

export class MyCheckboxextends React.Component<any, any>{
    constructor(props?) {
        super(props);
        this.state = { currentValue: th

[2018-10-12 15:41] micahgodbolt commented on #6672
I know this is a dup of another issue. Having trouble finding it though. I believe it's an issue with touch events and hover

[2018-10-12 15:46] mikewheaton opened #6675 "PeoplePicker: Change from 28px to 24px Persona"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: All

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: Reported by O365 Admin

#### Describe the issue:

The inner padding for TextField and PeoplePicker is inconsistent. This causes their content to be out of alignment when the fields

[2018-10-12 16:09] joetheday commented on #6663
@dzearing how do you envision autoprefixer working? Part of Fabric? Or part of the app that consumes it?

[2018-10-12 16:13] micahgodbolt commented on #6663
@dzearing you can write css targeting IE11 and Edge separately using @supports. So while IE11 might not support gap syntax,  you can write other CSS to accomplish something similar/usable.

[2018-10-12 16:13] goodoldneon opened #6676 "Optionally disable displaying group.count in <GroupHeader />"
**Describe the feature that you would like added**

Optionally disable displaying `group.count` in `<GroupHeader />`.

**What component or utility would this be added to**

GroupHeader

**Have you discussed this feature with our team, and if so, who**

No

**Additional context/screenshots**

It'd be convenient to disable displaying the group count within the `DetailsList.groups` prop.

[2018-10-12 16:13] #5918 closed

[2018-10-12 16:29] micahgodbolt commented on #6657
Display flex is to allow the footer to be aligned at the bottom while the content can scroll. The virtualization bug is due to redundant overflow containers. I believe it's currently being resolved by @kkjeer

[2018-10-12 16:36] micahgodbolt commented on #5917
Okay, so the resolution is: Best practice is to simply have an option in the dropdown, or button next to the combobox with an onClick that sets the combobox 'text' to an empty string.

[2018-10-12 16:39] jspurlin commented on #5917
Yep, sounds good to me. If you want the "clear" functionality, that should be the best practice to achieve it

[2018-10-12 17:11] mikewheaton opened #6677 "Components in wrong category for internal examples"
### Bug Report
- __Package version(s)__: Latest
- __Browser and OS versions__: All

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: Low

Products/sites affected: None

#### Describe the issue:

The internal examples site (`npm start` from the root of the project) has a group of pages labeled as 'Extended components'. From what I can tell, only o

[2018-10-12 17:51] micahgodbolt commented on #6658
@joerneu what version of Fabric are you using. We just fixed a scrolling bug that I hoped would simplify Panel a bit. #6614

[2018-10-12 17:53] micahgodbolt commented on #5914
This is now unblocked and should be capable via css in js styles, and the `styles` interface.

[2018-10-12 18:12] joerneu commented on #6658
I am using the latest v6.83.0 that includes the bug fix for the previous issue that I had reported.

The CSS from above is for v6.83.0 as well.

[2018-10-12 18:36] micahgodbolt commented on #6658
I'm going to dig into panel quick and see if the layout model is what I'm expecting.

[2018-10-12 18:38] micahgodbolt commented on #6658
yeah, seems to be a bug right now in scrolling content. Let me try to address that and then we can take a look at supporting a fixed content scenario.

[2018-10-12 18:39] micahgodbolt opened #6679 "Panel: Scrolling content example pushes footer under bottom of page"
### Bug Report

![image](https://user-images.githubusercontent.com/1434956/46887771-680a3500-ce13-11e8-8e94-692811ff10dc.png)

[2018-10-12 18:45] Vitalius1 commented on #6392
Reopening as there is still some weird `onBlur` invocation happening. See details in the discussion with the original author in #6475

[2018-10-12 20:21] sumboxcar182 opened #6681 "Jest Snapshots fail with ScrollablePane with error TypeError: Cannot read property '__events__' of null"
### Please provide a reproduction of the bug in a codepen:
We would have to expose some of our components here, which i am unfortunately not getting the ok to. I'll see if i can get a reproduction using a mock ScrollablePane soon.

Please see my description of the issue, as i see a way to fix it, so i can just get a pr up for that if need be.
### Bug Report
 - __Package version(s)__:  6.25.0, 6.84

[2018-10-12 20:40] micahgodbolt commented on #6657
Can you one component be a component that renders a panel with stuff in the 'content' and the 'footer'? Or are you trying to abstract your component into something that COULD be placed into a panel?

[2018-10-12 20:49] mikewheaton commented on #4649
Here is a [repro of the issue](https://6wwq866n9r.codesandbox.io/) (edit it [here](https://codesandbox.io/s/6wwq866n9r)).

I can confirm that in Chrome and Edge, when tabbing inside the Modal the focus enters the iframe, goes over every element in the iframe, and then comes back out to the browser itself. The expected behavior is that the FocusTrapZone keeps focus inside the Modal.

[2018-10-12 20:53] #6679 closed

[2018-10-12 20:59] #6639 closed

[2018-10-12 21:11] #6663 closed

[2018-10-12 21:13] #6528 closed

[2018-10-12 21:39] joerneu commented on #6657
In all my cases the component is placed into a Panel. Theoretically it could be displayed anywhere, because there is nothing Panel-specific in the component. (Maybe the placement of the buttons.)

For example, look at the comment input here on Github. With "Write", "Preview", (scrolling) Text-Field, Text-Formatting commands, and at the bottom "Close and comment" and "Comment" buttons. The whole co

[2018-10-12 21:41] KevinTCoughlin commented on #6676
For now, as a workaround you may be able to hide the count via `styles`, specifically the target: `headerCount`.

https://github.com/OfficeDev/office-ui-fabric-react/blob/e83f082e86ab8a599f298dc1dfe343981bbebee5/packages/office-ui-fabric-react/src/components/GroupedList/GroupHeader.base.tsx#L179

[2018-10-12 21:42] CharlesgdHill opened #6684 "Disable specific dates in the calendar day picker"
**Describe the feature that you would like added**
I'd like to be able to disable specific dates on the Calendar day picker
**What component or utility would this be added to**
Calendar
**Have you discussed this feature with our team, and if so, who**
Yes, @micahgodbolt / @mikewheaton

Similar to [React Day Picker](http://react-day-picker.js.org/examples/disabled/) (shown below)

![image](https://

[2018-10-12 21:46] micahgodbolt commented on #6684
@lorejoh12 a feature request to consider as you look into a refactor.

[2018-10-12 22:17] natalieethell commented on #6646
https://github.com/OfficeDev/office-ui-fabric-react/pull/6682 should fix #7.

[2018-10-12 22:20] natalieethell commented on #6646
#8, too.

[2018-10-12 22:21] micahgodbolt commented on #6657
@joerneu yeah, I had a feeling you'd probably say that, but I thought I'd at least ask. So you want to be able to package up your own UI+buttons into a single component to drop into the panel. Once this code (#6680) is released, we should be in a good spot to easily modify the panel to fit your scenario.

[2018-10-12 22:42] micahgodbolt commented on #6657
actually, one last idea as you're talking about making a "blank" panel, we could easily make all of the 'contentInner' replaceable with an onRenderContent. This would leave you with a navigation and your content inside of a simple overflowY: auto flex container.

[2018-10-12 23:03] zhr1130 opened #6685 "Couldn't render component in asp.net core react/redux project."
I created a aps.net core with react/redux project in VS2017. And nothing works for me, I tried Nav and PrimaryButton. It threw error: __WEBPACK_IMPORTED_MODULE_1_react__.createContext is not a function.

Repro step:
In VS2017, create a aps.net core project and select react & redux on the second page.
Insatll office-ui-fabric-react package.
Try render Nav or PrimaryButton.

Package versions:
.net c

[2018-10-12 23:45] #6638 closed

[2018-10-13 00:06] KevinTCoughlin commented on #6685
Hey @zhr1130 I don't believe that `react.createContext` is available in `16.2.0`. Can you try using `react@16.3.0` and see if that fixes your issue?

**References**

Grep for `createContext` in the following:

- https://cdnjs.cloudflare.com/ajax/libs/react/16.2.0/cjs/react.development.js
- https://cdnjs.cloudflare.com/ajax/libs/react/16.3.0/cjs/react.development.js

[2018-10-13 03:17] zhr1130 commented on #6685
Hey @KevinTCoughlin ,

After upgrading to react@16.3.2, I got different error. I just tried to render <PrimaryButton> in index.tsx.
Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object.

Check the render method of `CustomizedPrimaryButton`.

[2018-10-13 05:07] SpencerLynn commented on #6526
Hi! I tried to fix this issue with PR #4172.

To summarize what @joschect said when my PR was being reverted:
This PR changed the default behavior with how non-tabbable elements are treated in regard to focus. This change made it so that the default behavior is that everything can be focused, which fixes the issue mentioned here. However, this breaks most other cases.

Seeing this bug has renewed

[2018-10-13 07:44] SpencerLynn commented on #6526
I have given another attempt at fixing this issue. Hopefully this one will be more successful than my last :)

Also, he is another codepen to reproduce the issue I was attempting to fix. https://codepen.io/spencerlynn/pen/EeRdVW

[2018-10-13 07:52] SpencerLynn commented on #6526
Sorry for the spam :) My fix will not fix your scenario. However, I think if a fix for your scenario was available, it would also fix mine. You basically have simulated a FocusZone behavior with your row of images.

I'll keep working on it.

[2018-10-13 08:05] sophieH29 commented on #6526
@SpencerLynn Thank you very much! I really hope we'll get it fixed.

[2018-10-13 16:06] martellaj commented on #6668
Thanks, guys!

[2018-10-13 19:13] dzearing commented on #6392
@stanleyymsft @Vitalius1 what are the next steps here? @stanleyymsft do you see a bug with `onBlur`? Do you see a fix required? @Vitalius1  you added the needs triage; if you're still looking at this, and understand the issue, please address and remove the label.

[2018-10-13 19:16] dzearing commented on #6685
@zhr1130 this isn't enough information; if we don't have a repro or line numbers, we can't figure much out. Can you please debug in and find exactly what line of code is causing you problems? Or recreate the issue in a codepen?

[2018-10-14 03:51] zhr1130 commented on #6685
@dzearing , after upgrading react/react-dom to 16.5, it's fixed. Should .net core team update their template  to use latest react ? Please close this issue. Thanks.

[2018-10-14 03:51] #6685 closed

[2018-10-14 22:47] #6615 closed

[2018-10-15 01:17] dzearing commented on #6681
I got it reproing, and `this._contentContainer.current` ref is null!

So that's weird. Why would the ref be null?

Debugging more.

[2018-10-15 05:29] dzearing commented on #6681
https://github.com/facebook/jest/issues/5462

ref is not supported by react-test-renderer. Can you use enzyme?

[2018-10-15 05:32] dzearing commented on #6681
Ah ha, here's the workaround:

[code]

https://reactjs.org/docs/test-renderer.html#ideas

It would be better to just use this in your test to allow react-test-renderer to create refs. The exception is occurring because the code assumes after mount the refs have been resolved, which is totally reasonable.

[2018-10-15 05:32] #6681 closed

[2018-10-15 05:35] dzearing commented on #6672
yes ios locks in a hover unpredictably.

https://stackoverflow.com/questions/2741816/is-it-possible-to-force-ignore-the-hover-pseudoclass-for-iphone-ipad-users

Possible we could disable hover for... ios?

And hope you never have a mouse on ios... ?

If anyone has a suggestion on how to address, other than disabling hovers for everything on ios... please chime in :)

[2018-10-15 06:12] qqli1209 commented on #6616
@micahgodbolt  Yes, and the problem we meet is that if not hover on it, the **id** is not valid. As a result, the screen reader will not read the content in the div with the **id**. It would be great if you can put the content that you want screen reader to read into an other element, with some **css** to hide to from normal users.

[2018-10-15 06:15] qqli1209 commented on #6616
Can I re-open the issue? @micahgodbolt  After I reply, the issue closed automatically.

[2018-10-15 07:59] sonimishra opened #6691 "[Screen Reader - Power Apps Admin - Select a Template] In scan mode narrator focus does not moves to the checkbox available, on the Select a template blade."
### Please provide a reproduction of the bug in a codepen:

User Experience:
If, in scan mode narrator focus is not moving to the checkbox available on the table then the users who depends on narrator for navigation might get affected and does not able to get the information of that control.

MAS Ref:
MAS 4.2.10 - Tracking of Focus and Selection Attributes (33J)

Keros statement : Check out Keros!

[2018-10-15 08:21] sonimishra opened #6692 "[Keyboard Navigation-PowerApps Admin-Scheduling ] In narrator Scan mode, screen reader focus does not move to 'calendar' icon in forward navigation under Scheduling tab item."
### Please provide a reproduction of the bug in a codepen:

User Experience:
Any user with screen reader may find it confusing as screen reader focus does not move to 'calendar' icon. Hence will not be able to perform the functionality in narrator scan mode.

MAS Ref:
MAS 4.2.10 - Tracking of Focus and Selection Attributes (33J)

Check out Keros! - Identify accessibility bugs before check-in and m

[2018-10-15 08:29] sonimishra opened #6693 "[Screen Reader-PowerApps Admin-Tasks ] Buttons must have discernible text for column header and context menu control"
### Please provide a reproduction of the bug in a codepen:

User Experience:
User depending on screen reader might get affected if buttons will not have discernible text and it will impact the end user .

### Bug Report
Power platform admin center has an accessibility issue that needs investigation.

Issue Details
Buttons must have discernible text
button-name

- __Package version(s)__: (fill this

[2018-10-15 09:06] AvniBhatt opened #6694 "Searchbox Component - Placeholder values not getting set"
I am using SPFx with React. I used Searchbox with following markup:
<SearchBox
                  placeholder="Search by Name"
                  onSearch={newValue => console.log('value is ' + newValue)}
                  onFocus={() => console.log('onFocus called')}
                  onBlur={() => console.log('onBlur called')}
                  onChange={() => console.log('onChange called')}

[2018-10-15 12:01] nishila2 opened #6695 "The expand/collapse buttons on the DetailsList Component currently only expand/collapse the first level of groups."
The expand/collapse buttons on the DetailsList Component currently only expand/collapse the first level of groups.  The expectation would be to expand/collapse buttons will expand/collapse the whole "tree" of groups(Nested groups too).

[2018-10-15 14:27] Ridlsan opened #6696 "Purpose of selected items span in BasePicker?"
![image](https://user-images.githubusercontent.com/13232749/46956783-d3b40280-d09e-11e8-899d-6b9138e5c110.png)
What is the purpose of this span in BasePicker ? If this span exist, input (red color) is droping next row, but there is still space for it upper (green color).
In previous versions there were no span, so i made my tag-items and input flex.
Why has u added it? Can u remove it and make it

[2018-10-15 15:02] micahgodbolt commented on #6616
The ID is getting rendered, though it's not quite at the root of the tooltip as i'd expect. https://codepen.io/micahgodbolt/pen/aRVydo

[2018-10-15 16:01] dzearing commented on #5440
I'm closing as the codepen repro is no longer broken.

[2018-10-15 16:01] #5440 closed

[2018-10-15 16:03] dzearing commented on #6696
@joschect i'm guessing this is to contain the items, maybe was a result of pre-React 16 lack of ability to return an array of children or something?

[2018-10-15 16:05] dzearing commented on #6695
I'm not sure if this is a bug or a limitation. I would expect a similar behavior. We will dig in and see what's up.

[2018-10-15 16:46] #6170 closed

[2018-10-15 17:13] mikewheaton commented on #6154
Are the next steps clear here, or does this need more discussion? It sounds like a feature request moreso than a bug, given the change back to an MIT license.

[2018-10-15 17:14] kenotron commented on #6154
Yes, this is now a feature request

[2018-10-15 17:17] mikewheaton commented on #6230
Hi @KevinTCoughlin, are you actively working on this issue or should we assign to someone on Shield?

[2018-10-15 17:28] mikewheaton commented on #6672
This looks to be related to the issue in #5734.

[2018-10-15 17:30] mikewheaton commented on #6318
@betrue-final-final Could you clarify what the expected behavior is for a header with a select/unselect all button as in the screenshot above?

[2018-10-15 17:34] betrue-final-final commented on #6318
Space should always select the selectable item, and I think that needs to be available for the whole row. I believe that is how tree controls work.

[2018-10-15 17:37] mikewheaton commented on #6318
Just spoke with Ben about this and the spec is:
- Left arrow: Collapse the group
- Right arrow: Expand the group
- Space bar: Select or deselect the group

[2018-10-15 17:56] dlannoye opened #6697 "Spinner component is "shaking" in Microsoft Edge 44.17763.1.0"
### Please provide a reproduction of the bug in a codepen:

Load the spinner page in the latest version of Microsoft Edge 44.17763.1.0 which shipped with Windows 10 October 2018 Update.
https://developer.microsoft.com/en-us/fabric#/components/spinner

### Bug Report

- __Package version(s)__: 6.49.2 for the uifabric.io, but have seen on 6.83.0
- __Browser and OS versions__: Microsoft Edge 44.17763

[2018-10-15 17:57] KevinTCoughlin commented on #6694
@AvniBhatt when you say that the placeholder value does not change, do you mean it is not rendered initially? A [Codepen](https://codepen.io/#) with a repro case would be helpful for us to debug.

[2018-10-15 18:02] KevinTCoughlin commented on #6230
Someone can pick it up. However, from the debugging I've done it seems like it might require quite a bit of work and testing. The issue seems to be that we only do a shallow comparison when checking whether or not we should update List segments in our pagination / virtualization code.

[2018-10-15 20:15] Vitalius1 commented on #6582
@mikewheaton this can be a good candidate for Shield. Make the prop available to the surface API and port this change to `5.0` branch.

[2018-10-15 20:42] davguerr opened #6700 "Add a callback param to List control to know when it's done rendering"
Add a callback param to `List `control to know when it's done rendering since `componentDidMount` will mount the list without any items.
This idea was discussed with David Zearing. He believes development time should not be a lot of time.

[2018-10-15 21:49] KevinTCoughlin commented on #6230
I _might_ have a workaround for this issue, testing now and if so will post.

[2018-10-15 21:59] aneeshack4 commented on #6514
I spoke with Arvind from @TestAccessibilityGIT & he provided me with more details on how to repro some of these. Bugs 1 and 5 don't repro anymore. (note: I updated my machine to windows version 1809 OS build 17763.1 to get these repros because on 17124.345, what I was on before, these weren't reproing).

Bug 1 lack of repro proof: The problem was that, when narrator focus lands on checkbox, it wou

[2018-10-15 22:10] brandonthomas commented on #6611
Fixing typo error in title. Should be DetailsList not DetailsPane.

[2018-10-15 22:32] #6668 closed

[2018-10-15 22:48] Vitalius1 opened #6701 "Breadcrumb: Fluent experiment"
Update the Breadcrumb fluent styles in experiments package following the latest fluent toolkit

[2018-10-15 23:00] micahgodbolt commented on #6700
@davguerr if you have any interest in creating a PR for this, I'm happy to give you a hand.

[2018-10-15 23:17] brandonthomas commented on #6611
Currently targeting 6.72.1 but will be moving to current after I put in a work around for another issue I filed.

Attached is the screenshot requested. The highlighted div is the one I need. I have a custom classname on it now but i had to get it by putting a ref on my custom header element and grabbing its parent. This is the containing div that the custom header content is placed in and a child

[2018-10-15 23:19] cliffkoh commented on #5757
@micahgodbolt just pinging this issue cause we chatted about this today.

[2018-10-15 23:29] micahgodbolt commented on #5757
yup! Looks like it's about time.

[2018-10-15 23:33] #6539 closed

[2018-10-15 23:35] cliffkoh commented on #6147
No longer needed because of the fix taken in #6649.

[2018-10-15 23:35] #6147 closed

[2018-10-15 23:58] natalieethell commented on #6362
As mentioned in [here](https://github.com/OfficeDev/office-ui-fabric-react/issues/5499), I believe that #13 has been resolved. Waiting to hear back from @AkshanshSrivastava03 to make sure before I check it off.

[2018-10-16 00:10] natalieethell commented on #6362
#14 was fixed here: https://github.com/OfficeDev/office-ui-fabric-react/pull/6132.

[2018-10-16 00:14] KevinTCoughlin commented on #6230
Unfortunately I haven't had luck with any solution. The problem stems from `_onRenderCell` not being invoked when its inner props change because the `List` is unaware of those changes. I've tried two approaches:

- Persisting state on each `item` and then calling `this.setState({ items })` to try to invoke a re-render of the inner `List` since it only does a length and reference check on `this.sta

[2018-10-16 01:07] Vitalius1 opened #6706 "CheckBox: Fluent theme"

[2018-10-16 01:08] Vitalius1 commented on #6706
Updated with #6650

[2018-10-16 01:22] Vitalius1 opened #6707 "ChoiceGroup: Fluent experiment"
1. Updating fluent styles for ChoiceGroup in experiments package.
2. Addresses #6116

[2018-10-16 01:37] cliffkoh commented on #6697
Further reduction: https://codepen.io/cliffkoh-the-styleful/pen/Rejdjw?editors=1100

[2018-10-16 02:09] cliffkoh commented on #5860
@changsi-an Are you still awaiting this capability? concatStyleSet actually has much of the logic you want but it operates within subComponentStyles only.

I can try thinking about refactoring the logic out if this capability is still needed.

[2018-10-16 02:37] cliffkoh commented on #6326
Bug 10 is #5752

[2018-10-16 03:02] nishila2 commented on #6695
@dzearing Thank you for your reply. When I can expect this? or Can I do anything using `onColumnClick` event of  `DetailsHeader`.

[2018-10-16 05:43] KevinTCoughlin commented on #6413
@micahgodbolt is this callback invoked per column resize or on list resize?

[2018-10-16 05:47] KevinTCoughlin commented on #6230
Looks like this is related to #3607

[2018-10-16 05:53] cliffkoh commented on #6422
@aneeshack4 can you please update the status of this issue, if needed through labels and in the Shield project as you removed yourself from assignment?

[2018-10-16 05:55] cliffkoh commented on #6422
@aneeshack4 reassigning you for now but feel free to correct. Please also add notes or do the right triaging if you were to unassign though. :)

[2018-10-16 09:44] qqli1209 commented on #6616
Yes, the ID is getting rendered only when the content of Tooltip/ToolTipHost is rendered.  It would be great if we put the content that we want screen reader to read into an other element, with some **css rules** to hide it from normal users.

[2018-10-16 09:48] Ridlsan commented on #6696
@dzearing @joschect no, it seems like was added in last [change](https://github.com/OfficeDev/office-ui-fabric-react/commit/f032d31e401e9d7ef300224569129db698447632#diff-c88a174b6c194e2d439942d05cb8fb6c)

[2018-10-16 11:53] shivam-dev opened #6708 "farItems in commandbar is not working with responsive layout"
Hi,

I am unable to get responsive layout for commandbar, farItems are not getting collapse in mobile viewport.

In Desktop View port:

![image](https://user-images.githubusercontent.com/8074205/47014250-51434580-d167-11e8-80e7-f2ec000b0bbe.png)

In Mobile View port:

![image](https://user-images.githubusercontent.com/8074205/47014368-b1d28280-d167-11e8-812b-d9fb26f87ffb.png)

![image](https://use

[2018-10-16 15:20] micahgodbolt commented on #6708
CommandBar doesn't have any built in collapsing of the right side items. You can either provide different items data based on your screen width, or create custom onReduceData/onGrowData to change how the command bar makes room for smaller screens (i.e. search might be the first thing to change before dropping other things into the overflow).

[2018-10-16 15:24] micahgodbolt opened #6709 "Shimmered DetailsList has no way to style shimmer height"
![image](https://user-images.githubusercontent.com/1434956/47027582-88d8d000-d11c-11e8-8bca-0fa4b7573841.png)

Screenshot seemed easiest way to demonstrate.

`IShimmeredDetailsListProps` extends `IDetailsListProps` and then redefines styles as `IStyleFunctionOrObject<IShimmeredDetailsListStyleProps, IShimmeredDetailsListStyles>`

This would be fine except that StyleProps and Styles interface don't

[2018-10-16 15:29] mikewheaton commented on #6392
@Vitalius1 Are you still working on this one?

[2018-10-16 15:37] mikewheaton commented on #6412
Assigning to @betrue-final-final for design review.

[2018-10-16 15:37] mikewheaton commented on #6706
Assigning to @betrue-final-final for design review.

[2018-10-16 15:42] mikewheaton commented on #6695
Moving to 'Ready for Engineering', as it seems like the issue and desired behavior is clear. Let me know if a repro would be helpful here.

[2018-10-16 15:56] mikewheaton opened #6710 "Slider: Fluent experiment"
Verify that the styles checked in to the experiments package match the latest design, then assign to Ben to double-check.

[2018-10-16 15:56] mikewheaton opened #6711 "Label: Fluent experiment"
Verify that the styles checked in to the experiments package match the latest design, then assign to Ben to double-check.

[2018-10-16 15:56] mikewheaton opened #6712 "Toggle: Fluent experiment"
Verify that the styles checked in to the experiments package match the latest design, then assign to Ben to double-check.

[2018-10-16 16:02] be5invis opened #6713 "ITextField::blur"
I am wondering why there is only `ITextField::focus` but not `ITextField::blur`...

[2018-10-16 16:05] micahgodbolt commented on #6616
you can pass the 'hidden' prop to calloutProps that will render the tooltip on page render, then just hide/show it when needed. Does that work for you?

[2018-10-16 16:09] micahgodbolt commented on #6413
good point, there's both situations, page resize and user resize. I'd suggest both would be necessary. The situation we're trying to support is an overflowSet inside of a column, and being able to adjust the number of icons shown after a column resize.

[2018-10-16 16:47] micahgodbolt commented on #6709
Customer also needs to be able to customize the height of the lines via props

![image](https://user-images.githubusercontent.com/1434956/47032948-72387600-d128-11e8-88c5-0220161ae897.png)

[2018-10-16 17:15] micahgodbolt commented on #6709
Might be as simple as allowing DEFAULT_SHIMMER_HEIGHT to be customized

[2018-10-16 17:36] betrue-final-final commented on #6706
Hey @Vitalius1,
Looks like there are issues in checkboxes:

1. hover border color still uses #212121, should be gray160
2. checked uses an odd hex value. Not sure if this is an issue with themePrimary, but it reads as #0378D4, and should be #0078D4

[2018-10-16 17:45] aneeshack4 commented on #6422
@cliffkoh Apologies for the the lack of clarification - I thought the email I forwarded about this where we're speaking with the Narrator team would be enough. There's hasn't been consensus on a solution & I don't know enough about this area to make a decision on my own so instead of waiting around, I thought I'd move onto another work item which is why I removed myself. Our contact on the Narrato

[2018-10-16 17:48] joschect commented on #6696
@Ridlsan and @dzearing the purpose is for accessibility. It lets the autofill, which is what usually gets focused, have the describedby attribute point just to the selected items

[2018-10-16 17:49] cschlechty commented on #6422
Can you ensure we have this part in the documentation?

[2018-10-16 17:50] KevinTCoughlin commented on #6525
I can confirm that Narrator is not reading the selected state of the row even though we are toggling `aria-selected` per row on `SPACE`.

[code]

`aria-selected` seems like the correct choice given that the `role="row"` is set. The interaction pattern the component currently has doesn't lend itself to make the checkbox independently focusable.

Next, I'll see if Narrator is not announcing the chan

[2018-10-16 17:52] cliffkoh commented on #6422
@aneeshack4 thanks for the notes. I must admit I wasn't sure if this was the same issue as the one in email. Regardless, it would be useful to have the notes on the issue since the person who eventually works on this might not be people you send email to.

Please work with @micahgodbolt  to figure out how to track this issue if you're blocked (i.e. it probably should not be in the In Progress colu

[2018-10-16 18:06] KevinTCoughlin commented on #6713
It seems like that's because we only ever programmatically invoke `focus`. However, `ITextFieldProps` extends `React.AllHTMLAttributes<HTMLInputElement | HTMLTextAreaElement>` so `onFocus` and `onBlur` can be used via props.

[2018-10-16 18:30] eveleens commented on #5163
Any update on this one?

[2018-10-16 18:34] KevinTCoughlin commented on #5163
Seems like a duplicate of #6525. A fix for that should be tested in scan mode as it will likely fix this issue as well.

[2018-10-16 18:38] eveleens commented on #6576
Should be fixed, according to #6646

[2018-10-16 18:41] Vitalius1 commented on #6709
@micahgodbolt
Initially when ShimmeredDetailsList was introduced it was passing the correct styles. I think this bug was introduced during the conversion to mergeStyles. This is definitely something that needs to be fixed.

About the possibility to customize the height I think we should leave it internally as this was the design intent to have a default look of 7px line thickness for a default Det

[2018-10-16 18:45] Vitalius1 commented on #6709
The styles are past to listProps as that is a fading out to bottom overlay over the list with shimmered items to further emphasize that we don't know what the actual number of items will end up.

[2018-10-16 18:47] micahgodbolt commented on #6422
I'll create a separate issue for all of this. It's much larger than what should be fit into this small checklist. One of the todo items will be to update documentation to explain the needs for aria-hidden around the rest of the content.

[2018-10-16 18:48] micahgodbolt commented on #6422
Heh....I didn't notice this was NOT the a11y checklist issue.

[2018-10-16 19:02] justinmwarner commented on #2370
@JasonGore @micahgodbolt any update on this one?

[2018-10-16 19:18] Vitalius1 commented on #6392
@mikewheaton not as of now. Do you think Shield could pick this one up?

[2018-10-16 19:58] ipip2005 commented on #6653
@dzearing Just wonder if there will be a fix for this bug. I can certainly apply some workaround to mitigate the issue by moving DOM sequences of our property pane close button to the last element. But I believe the issue will still persist with SHIFT + TAB

[2018-10-16 20:00] #6595 closed

[2018-10-16 20:00] #6596 closed

[2018-10-16 20:04] mikewheaton opened #6716 "ExampleCard: Provide prop to remove theme override"
The ExampleCard now contains options to set a theme for the example:
![image](https://user-images.githubusercontent.com/1382445/47043465-8d17e400-d142-11e8-9ddf-8dcdfc74ddbe.png)

For the Fluent components example page (within experiments), we have the entire page wrapped in a Customizer that applies the Fluent theme. This broke recently with the addition of themes to ExampleCard, as it applies th

[2018-10-16 22:12] philipzloh commented on #6470
The code owner is aware of the requirements; the desire is for ExtendedPeoplePicker to set these by default because ExtendedPeoplePicker is used to pick people

[2018-10-16 22:58] cliffkoh commented on #6697
This is bug 19318726 reported to the Edge team. Closing as external.

[2018-10-16 23:20] JasonGore commented on #6716
Actually I'm not seeing a visible regression.. the tabs should be mixing in page themes and giving them priority since they're more localized. As far as I can tell the pages before and after your PR look the same. Can you show an example of a regression? Thanks

[2018-10-16 23:28] TestAccessibilityGIT commented on #6514
Hi Aneesha,
We cross validated bug 1 and 5, seems those are still appearing for us. Please find attached attachment for those issues.

Regards,
Arvind

From: Aneesha Kommineni <notifications@github.com>
Sent: Monday, October 15, 2018 3:00 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Arvind Prakash (HCL America Inc) <v-arvpra@microsoft.com>; Mention <menti

[2018-10-17 00:20] cliffkoh commented on #6697
Reopen as Edge team suggested a workaround. I will submit a PR for this.

[2018-10-17 02:17] cliffkoh commented on #5752
I took another holistic look at this issue today and considered input from @jspurlin as well.

Part of the problem of Fabric's Dropdown is that it neither behaves exactly like an aria `listbox`, nor does it exactly behave like an aria `combobox`. In an attempt to provide a reasonable screen reading experience (for both Jaws and Narrator) that represents all the capabiliites of the Dropdown, in par

[2018-10-17 02:58] #6611 closed

[2018-10-17 04:16] #6697 closed

[2018-10-17 12:08] qqli1209 commented on #6600
Is there anyone looking at the issue? :)

[2018-10-17 12:39] qqli1209 opened #6726 "No way to define aria-label for ChoiceGroupOption"
### Please provide a reproduction of the bug in a codepen:

### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: all

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: High

Products/sites affected: all

#### Describe the issue:

The aria label for `ChoiceGroupOption` is always the text in the option, see the [code imple

[2018-10-17 13:14] qqli1209 commented on #6616
@micahgodbolt Thanks for your help! It works for me. As the bug has no user impact, I will close it.

[2018-10-17 13:14] #6616 closed

[2018-10-17 13:16] sumboxcar182 commented on #6681
I'm a little late to reply here, but i cannot thank you enough for all the help for this issue! This will definitely be the way to go for our unit tests!

Thanks again!

[2018-10-17 15:20] mikewheaton commented on #5752
Thanks for the detailed investigation, @cliffkoh and @jspurlin. I'll change this from a bug to a feature, as it sounds like there is a larger chunk of work to be done here and there are no critical issues at this time.

[2018-10-17 15:41] realhoffi opened #6727 "DatePicker: Add reference to input"
Requested priority: High

The Id of the Datepicker Div can be set. It was inserted by another feature of me!
But you need to set "id"-property of the input element, to make your label with the attribute "htmlfor" working.
This is needed for good HTML and programming style like for HTMLFOR attribut in label.

So what is needed is the follwoing;

You need to make a property for the input properties

[2018-10-17 15:47] mikewheaton commented on #6716
The color changes are very slight, so you may not notice a visual change without inspecting. The way to tell the old colors from the new is that the old colors are 'pure' grays with equal amounts of red, green, and blue, while the new colors have more red.

I'm not able to build the project locally right now to confirm, but you should see the issue if you reverse the changes made in [the PR](https

[2018-10-17 16:10] mikewheaton commented on #6655
The findScrollableParent function and its use in List have both been there since the initial commits of those files. @dzearing, should we document that `data-is-scrollable` is required on the scrollable parent of a List?

[2018-10-17 16:31] mikewheaton opened #6728 "Website not loading in IE11"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: Windows IE 11

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: Blocking

Products/sites affected: Fabric website

#### Describe the issue:

The Fabric website is not loading in IE 11 because we're using [object.assign](https://developer.mozilla.org/en-US/docs/Web/Jav

[2018-10-17 16:48] mikewheaton commented on #6506
I captured a video of the issue, and here's the scroll bar that appears briefly:
![image](https://user-images.githubusercontent.com/1382445/47102212-f5250380-d1f0-11e8-9b48-7f7a1973dc01.png)

It looks to be a timing issue, where our component doesn't call `_adjustInputHeight` until after the text has already been typed and the browser has added the scroll bar. Given that there should never be a sc

[2018-10-17 17:16] JasonGore commented on #6716
The [dropdown themes](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/experiments/src/demo/customizations.ts) are using scopedSettings and style variables, as well, so it shouldn't be a problem to add Fluent.

I do have a fix to disable the dropdowns for the Fluent page, but the alternate solution is just to add Fluent to the dropdowns. This will affect all components, but

[2018-10-17 17:17] betrue-final-final commented on #6706
Hey this looks great without the bug! Just one thing and we're good!
Disabled text should be gray90. This is a global change we made so themes would work properly.

[2018-10-17 17:29] cliffkoh commented on #6728
@mikewheaton FYI Rank is for features, Priority is for bugs :)

[2018-10-17 18:07] Vitalius1 commented on #6706
@betrue-final-final wait... does this apply to all disabled components? The toolkit still uses gray60 from what I've seen. Let's talk offline to make sure we have it right for all other components too.

[2018-10-17 18:16] cliffkoh commented on #6728
On my machine, it looks like the error comes from tslib but that should not be the cause.. Otherwise, peoplepicker.types,example is the only direct object.assign usage but that has been there for over a year...

[2018-10-17 18:17] micahgodbolt opened #6729 "ContextualMenu: Update examples to better show component usage"
Currently contextual menu examples are just <Button>s with menuProps. While this provides simplified code and demos a good way to take advantage of the control, it's not a very good example for those wanting to learn about the control.

I'd like to have the following:

1. A contextual menu rendered to the page. No state, no target. Just Show what it looks like.
2. A simple stateful example of show

[2018-10-17 18:33] brandonthomas commented on #6487
for now my work around is a div wrapper but that's not really ideal. I tend to shy away from DOM when it shouldn't be necessary. Have you guys figured out if there's a way we can fix this while keeping the bundle size down?

[2018-10-17 18:52] philipzloh commented on #6470
@FrancisMengx

[2018-10-17 19:08] cliffkoh commented on #6728
Hey @mikewheaton  @Jahnp , the website is super duper old (over 2 months). Looking at the existing code, this should not happen. In fact, the local copy works fine with IE 11.

Did you know if we roll backed to 6.49.2 recently? I think we hit this problem before and @JasonGore had deployed a fix before..

[2018-10-17 19:09] mikewheaton commented on #6706
And if it is a global change, let's try to apply it via an update to the theme's `semanticColors` object instead of overriding it separately in each place.

[2018-10-17 19:28] betrue-final-final commented on #6412
This looks great, except for a couple of unusual things:

1. In error state, on hover the placeholder text is changing color. There should be no color change.
2. Selected menu item on hover gets blue text and should not.
3. Disabled menu item text is still gray60, should be gray90

[2018-10-17 19:35] Jahnp commented on #6728
Hey @cliffkoh , we rolled back during the last week of September since the site infra had not yet been updated to use React 16.3, which caused the site to not render in any browser. Those updates went through on Monday, and we're in the process of actually updating the site to use the new pipeline. I'd expect it to be updated within the next few hours; I'll revisit this issue then.

[2018-10-17 19:37] Jahnp commented on #6728
This was also brought up in #6668 , which we closed due to imminent updates that took a little longer than expected. I'm going to keep this open until I've verified the latest is published.

[2018-10-17 21:14] eveleens opened #6733 "CommandBar: Accessibility - total number of actions in items AND farItems should be read together"
### Bug Report

- __Package version(s)__: at least 6.49
 __Browser and OS versions__: Edge + Narrator

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites affected: Flow

#### Describe the issue:

We're getting an accessibility bug where if you have a CommandBar with 2 items and 1 farItem, the Narrator is reading "1 of 2" and "2

[2018-10-17 21:32] cliffkoh commented on #6733
@betrue-final-final @micahgodbolt Would you be able to answer Eveleen's question? (This issue is really a question...)

[2018-10-17 21:36] cliffkoh opened #6737 "PeoplePicker: onItemSelected callback is never invoked"
### Please provide a reproduction of the bug in a codepen:
https://fabricweb.z5.web.core.windows.net/oufr/6.87.0/#/examples/PeoplePicker
### Bug Report

- __Package version(s)__: 6.87

#### Describe the issue:

1) Visit https://fabricweb.z5.web.core.windows.net/oufr/6.87.0/#/examples/PeoplePicker  in IE 11.
2) Change the people picker type to Process Selection
![image](https://user-images.githubus

[2018-10-17 21:40] cliffkoh commented on #6737
@joschect fyi

[2018-10-17 22:11] micahgodbolt commented on #6733
Maybe the error is occurring because the entire command bar is considered a single 'menubar'.

![image](https://user-images.githubusercontent.com/1434956/47119194-ce7dc180-d21e-11e8-894c-383db517cc1f.png)

We could change it to be a set of two menubars, though I question that approach due to the fact that it is currently a single tab stop.

[2018-10-17 23:00] eveleens commented on #6733
Should it stay as a single tab stop? If so, then a single menubar makes sense -- and then that means all actions would theoretically be in the same hierarchy and be counted as one. We would then be assuming that there is only a visual difference. I think this is valid, UNLESS we are fitting in "secondary" commands in farItems - which would mean a lower case group of actions. We should re-access wh

[2018-10-18 00:19] ipip2005 commented on #5223
@dzearing from your screenshot, you're actually seeing the "Actual" issue where the tooltip position is different than chrome

[2018-10-18 00:46] micahgodbolt opened #6740 "OUFR readme should include semver policy"

[2018-10-18 00:52] KevinTCoughlin commented on #6740
Related #6738.

Partners broken due to API change of _private_  function that is not a top-level export of OUIFR.

[2018-10-18 02:31] Vitalius1 commented on #6706
@mikewheaton
I don't think the issue was in the theme's semanticColors... It's just I was blindly following the toolkit when it needed to be updated 😄 by Ben. Now I have the correct colors.
@betrue-final-final
Should be fixed after #6739 gets a merge into master. Let me know if I still didn't get it right 😊

[2018-10-18 02:32] Vitalius1 commented on #6707
@betrue-final-final
As soon as #6739 gets a merge it's ready for a spin 😎

[2018-10-18 04:07] micahgodbolt commented on #5223
Not quite sure why this issue was closed. @ipip2005 can you provide a concrete set of repro steps? Codepen + browser/OS version etc. If this is still an issue we really want to fix it

[2018-10-18 05:38] micahgodbolt commented on #5914
This is pretty easy now with css-in-js style. Just add this to your panel.

[code]

[2018-10-18 07:01] realhoffi commented on #6727
the default label in this component is doing this :)

[2018-10-18 13:29] #5914 closed

[2018-10-18 14:51] micahgodbolt commented on #6487
Two options I see moving forward. Allow the display of the ResizeGroup to be configurable, or move the display: relative onto the measured div only and test for regressions.

I'm more included to do the latter, and move the display relative. Would be nice to not have to think/worry about the display property at the command bar level.

@christiango if I pushed out a beta release with that change, w

[2018-10-18 15:47] mikewheaton commented on #6479
The PR above (#6495) was released in version 6.83.0, so I'm going to go ahead and close this issue.

[2018-10-18 15:47] #6479 closed

[2018-10-18 15:49] mikewheaton commented on #6728
The site has been updated and I've verified that it's loading in IE11. Thanks, @Jahnp!

[2018-10-18 15:49] #6728 closed

[2018-10-18 15:54] #5588 closed

[2018-10-18 16:01] christiango commented on #6487
Yup, just let me know the package version and I can have someone on our team take a look

[2018-10-18 16:18] mikewheaton opened #6742 "Dialog: Fluent theme"

[2018-10-18 16:39] Jahnp commented on #5588
The website pipeline has now been updated to deploy automatically. See #6728

[2018-10-18 17:34] mikewheaton commented on #6711
The toolkit doesn't contain an artboard specifically for Label, but looking around other components I think we're aligned here.

@betrue-final-final, please review and confirm that Gray60/#c8c6c4 is the correct color for disabled text, as it's the `disabledBodyText` semantic color and will be used automatically by other components.

[2018-10-18 17:38] mikewheaton commented on #6710
Turns out that this was in the wrong column. Design is complete, but development hasn't started yet. Unassigning it for now.

[2018-10-18 17:49] natalieethell commented on #5499
I'm going to close this issue, but @AkshanshSrivastava03 feel free to reopen it if you are still having problems.

[2018-10-18 17:49] #5499 closed

[2018-10-18 18:07] #6707 closed

[2018-10-18 18:10] #6700 closed

[2018-10-18 18:10] Vitalius1 commented on #6711
@mikewheaton I believe we decided to have the disabled text using `disabledText` slot which gives us the gray90/#a19f9d
@betrue-final-final to confirm.

[2018-10-18 18:51] brandonthomas commented on #6487
While we're in here can we also look at why we have duplicate classNames (see image below). I pass a className prop to CommandBar and it shows on the focus zone and on the main div. This seems like another bug?

![image](https://user-images.githubusercontent.com/7529639/47177013-0d1d8580-d2cc-11e8-9ced-82a498d66674.png)

[2018-10-18 18:55] brandonthomas commented on #6487
This looks to be the culprit.
https://github.com/OfficeDev/office-ui-fabric-react/blob/4b2e44d41e1cba8d4ca5e7542d3cc66f961e0b43/packages/office-ui-fabric-react/src/components/CommandBar/CommandBar.base.tsx#L67
`this._classNames = getClassNames(styles!, { theme: theme!, className });`

[2018-10-18 18:56] brandonthomas commented on #6487
Fine if we fix the duplicate class name issue as another bug.

[2018-10-18 19:05] mikewheaton opened #6745 "Rating: Fluent experiment"

[2018-10-18 19:06] mikewheaton opened #6746 "Link: Fluent theme"

[2018-10-18 19:06] mikewheaton opened #6747 "TextField: Fluent experiment"

[2018-10-18 19:06] mikewheaton opened #6748 "ComboBox: Fluent theme"
Add styles to the Fluent theme for ComboBox.

[2018-10-18 19:07] mikewheaton opened #6749 "ContextualMenu: Fluent theme"

[2018-10-18 19:15] mikewheaton commented on #6711
If we change the semantic slot that a component uses, that could lead to breaking changes when this eventually goes into the general release. It's probably best to limit ourselves to:

1. Overriding exact colors in a *.styles.ts file: `color: NeutralColors.gray60`
2. Mapping semantic slots to new colors in the Fluent theme's semantic colors object: `disabledBodyText: NeutralColors.gray60`

Note th

[2018-10-18 19:30] betrue-final-final commented on #6711
Disabled color is actually gray90, not gray60. This was a correction we made late last week/early this week.

[2018-10-18 19:30] cliffkoh opened #6752 "oufr index.ts does not export everything that we formally consider to be part of API surface"
### Bug Report

Autofill component, for example, is not addressable from index.ts, at least 10 other things.

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: Blocks API extractor

Products/sites affected: (if applicable)

#### Actual behavior:

Cannot import Autofill from OUFR package level import.

#### Expected behavior:

Can import Autofill f

[2018-10-18 19:32] mikewheaton opened #6753 "Toggle: Hover/click area is incorrect?"
See this [screen recording](https://cl.ly/df449c73c914/Screen%252520Recording%2525202018-10-18%252520at%25252012.28%252520PM.gif).

Currently, the Toggle can be triggered by clicking on the associated label above it or the toggle itself. Should the text contained within the toggle (e.g. On or Off) be a hit target as well?

[2018-10-18 19:40] betrue-final-final commented on #6711
That change was what I worked on with @jalonghu.

[2018-10-18 20:09] cliffkoh commented on #6470
Hey @philipzloh, I'm going to label this good first issue since it seems like it would be relatively straightforward.

If I am interpreting this thread correctly, @FrancisMengx is the code owner and he is aware of this problem and desires to have it fixed.

[2018-10-18 20:09] mikewheaton commented on #3934
From @jspurlin's comment above, this doesn't seem to be a bug and there's not enough clarity of what's wanted to make it a feature request.

[2018-10-18 20:09] #3934 closed

[2018-10-18 20:14] Vitalius1 commented on #6711
@mikewheaton I don't think that changing the semantic slot a component uses as default styles to a different one for Fluent theme as after all these are just hex codes for colors. Isn't a theme's purpose is changing those?

[2018-10-18 20:17] mikewheaton commented on #4064
It looks like the `ariaValueText` prop was added for this purpose:

Given a number value you can give it a custom string to read out, for example translating "5/10" to "24 pixels".

[2018-10-18 20:17] #4064 closed

[2018-10-18 20:21] mikewheaton commented on #4571
@jordandrako Has there been any more discussion about the 'as' pattern since you worked on this? It's not clear from the issue what the next steps are here and if it should be assigned to Shield.

[2018-10-18 20:29] mikewheaton commented on #4747
I've verified that this still repros. In Edge and Chrome each row gets focus and the full contents are read out:
![image](https://user-images.githubusercontent.com/1382445/47182026-5b855100-d2d9-11e8-9e48-6d8c52319629.png)

Whereas in Safari, focus falls on specific table cells (reading 'blank' in the case of an icon) and the keyboard shortcuts that Safari reads out don't work. Neither do the stan

[2018-10-18 20:32] mikewheaton commented on #6711
My concern is that a developer may have created a custom theme based on how the semantic slots are currently used. So if we change the components to use different semantic slots, those themes will break. I'm not sure how severe of a breaking change we'd consider that but it seems like something to avoid.

[2018-10-18 20:39] betrue-final-final commented on #6753
Yes. On/Off should be a hit target. Not sure about the label though.

[2018-10-18 21:00] mikewheaton commented on #5682
I'm going to close this issue as we weren't able to repro it outside of SharePoint. If this is a widespread problem and there's something that needs to be changed in Fabric to avoid this issue, please let us know.

[2018-10-18 21:00] #5682 closed

[2018-10-18 21:07] mikewheaton commented on #5321
I also can't see a way to provide a `name` attribute to the `input` that ComboBox renders. It would be useful to have a prop specifically for this purpose or to be able to pass in a full set of props to the TextField within.

[2018-10-18 21:09] mikewheaton commented on #5289
@ssingh28 Are you still seeing this issue?

[2018-10-18 21:19] KevinTCoughlin commented on #3313
@Nimelrian it looks like we have `onRenderDetailsHeader` in both `5.0` and `6.0` as of https://github.com/OfficeDev/office-ui-fabric-react/commit/1200d471c740de9b9a3c8b1e1257048f1cbcfb3f

**5.0**

https://github.com/OfficeDev/office-ui-fabric-react/blob/417807d02eafcee773cd409eb83baec03d31a944/packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.types.ts#L178

**6.0**
https://git

[2018-10-18 21:30] KevinTCoughlin commented on #6413
Following up off-line to see if a proposed solution unblocks Flow: https://github.com/OfficeDev/office-ui-fabric-react/compare/master...KevinTCoughlin:keco/on-column-resize-cb.

If so will raise PR.

[2018-10-18 21:36] Vitalius1 commented on #6711
I thought that we strongly discourage changing the semantic slots and only do it as an exception. The recommended way is by just providing a palette of your choice to the theme and we do the rest. Hmmm... that's a good point though and we should come out with a pattern now so that we don't go over and over back to the already done components.

[2018-10-18 21:52] mowei8 opened #6758 "Facepile reads "1 of 1" for each persona on screenreader"
### Please provide a reproduction of the bug in a codepen:

### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) High

Products/sites affected: (if applicable)

#### Describe the issue: When usin

[2018-10-18 21:53] janormanms opened #6759 "Dropdown: unable to be notified when an item has been reselected"
### Bug Report

- __Package version(s)__: 6.74.0

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: Outlook

#### Describe the issue:

In single select mode Dropdown only calls onChanged when the selected index has actually changed (first if block in Droddown.setSelectedIndex).

For our UI we'd like to be notified

[2018-10-18 21:58] phkuo commented on #6711
A correction here: you should be using disabledBODYText. The disabledText slot is meant to go on top of the disabledBackground slot, whereas disabledBodyText is meant to go on bodyBackground. The comments on the semantic slots explain this.

I think it's fine that a component changes the semantic slot it uses, it just shouldn't be something that happens often. That's the point of semantic slots, a

[2018-10-18 22:29] mikewheaton commented on #6711
I'd like to see this first round of changes be as targeted as possible, applying exact colors like `gray130` to a component. This will prevent a change for one component possibly breaking other components that have already been reviewed and signed off on. We don't have visual regression testing for the theme so it's difficult to catch this stuff.

Once we have those targeted changes across all of

[2018-10-18 22:33] phkuo commented on #6711
I haven't been following the Fluent work effort, but I assumed that you guys would start by creating a custom theme and testing with that? And then once that is verified working, we could switch over the default colors. Components can be updated from Fabric palette slots to semantic slots independent of the Fluent work, if necessary, right?

[2018-10-18 23:19] KevinTCoughlin commented on #5280
I can repro this issue in Firefox & Edge on the local demo page by following the above steps. Chrome invokes a recalc which adjusts the columns correctly, while the other browsers do not.

Here is a screenshot after following the above steps and refreshing the page in each browser.

![image](https://user-images.githubusercontent.com/706967/47189435-6a77fd80-d2f1-11e8-9a19-6c9929fb6f96.png)

[2018-10-18 23:31] inateeg opened #6761 "Accessibility bug: DetailsList column header sorted or filter icon does not support screen reader"
### Please provide a reproduction of the bug in a codepen:
 go to:  aka.ms/itemwview  ==> SP Item View page you can see the column.  then click on name column header to select A to Z sorting to see sort icon appears in the header but screen reader does not announce it.

DetailsList column header where there is sorted or filter applied icon that does not support screen reader because it has <I … ar

[2018-10-18 23:56] #6740 closed

[2018-10-19 00:31] inateeg commented on #6761
after play more with not so smart narrator I found that even though icon element does not have aria-label but outter <div> that marked as columnheader has aria-sort=true set and if you let narrator in scan mode it would read the column is sort ascending.  that should be enough.

[2018-10-19 00:31] #6761 closed

[2018-10-19 01:58] cliffkoh opened #6765 "Bug in isProduction check for load script"
### Please provide a reproduction of the bug in a codepen:

https://fabricweb.z5.web.core.windows.net/oufr/6.88.0/

### Bug Report

Does not load

[2018-10-19 02:08] cliffkoh commented on #6759
Please feel free to submit a PR :) I might put this change in behavior behind a flag though, just in case there are some teams already depending on the fact it does not notify on reselect.

[2018-10-19 02:13] cliffkoh opened #6767 "Fabric Bot - Auto Labelling - Misbehavior"
https://github.com/OfficeDev/office-ui-fabric-react/pull/6764

There is a bug in the bot that is causing it to take an undesirable action.

[2018-10-19 04:58] vasdhara opened #6770 "@uifabric/charting folder does not exist"
### Please provide a reproduction of the bug in a codepen:
 `Module not found: Can't resolve '@uifabric/charting/lib/LineChart'`

### Bug Report

- __Package version(s)__: 6.88.0
- __Browser and OS versions__: not relevant

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Blocking

Products/sites affected: not applicable

#### Describe the issue:

[2018-10-19 05:45] vasdhara opened #6771 "Cannot set custom labels in x-axis in linecharts"
### Please provide a reproduction of the bug in a codepen:

### Bug Report

- __Package version(s)__: @uifabric/charting 0.25.1
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: (if applicable)

#### Describe the issue:
 The x-axis values for a line chart c

[2018-10-19 06:13] Nimelrian commented on #3313
Now that you're saying it I'm actually not sure why I created this issue in the first place. I think one year ago I missed something about that callback (Probably didn't see the `extends IDetailsHeaderBaseProps` and VSCode Intellisense didn't help me out either, so I had no "easy" way of changing the selection check in the header. Just realized that I'm already using the callback and it fulfills m

[2018-10-19 06:13] #3313 closed

[2018-10-19 07:16] #6737 closed

[2018-10-19 09:05] hamedy opened #6772 "Panel: Support custom 'near' Panel"
hi, I need to set the styling on Panel so that it slides in from the left side. IPanelStyleProps has a property called isOnRightSide that I believe would do it. But I can't figure out how to implement it. Can someone provide an example please?

[2018-10-19 14:02] betrue-final-final commented on #6706
Looks good.

[2018-10-19 14:48] mikewheaton commented on #6711
@phkuo Yes, exactly. We have the Fluent theme that is opt-in for now and will eventually become the new default theme. And it's fine to continue updating components from palette slots to semantic slots, as the Fluent theme can override those changes if necessary.

[2018-10-19 14:55] code-mage commented on #5098
Guys, is there any progress on this?

[2018-10-19 15:56] mikewheaton commented on #6223
I'm able to repro this in Safari for macOS:

![image](https://user-images.githubusercontent.com/1382445/47229392-7f4da300-d37c-11e8-9fac-4e641a616b85.png)

The issue appears to be caused by [using a button as a flex container](https://stackoverflow.com/questions/35464067/flexbox-not-working-on-button-or-fieldset-elements). If I change the button to a div it works:

![image](https://user-images.git

[2018-10-19 16:02] petercutting commented on #5917
Keyboard access hasnt been mentioned. So I just suggest that resetting the selection should be possible using just the keyboard (ie not mouse)

[2018-10-19 16:10] micahgodbolt commented on #5917
a 'clear' button next to the combobox is a tab away, just like a button placed inside of the combobox. onClick could even return focus to the comobobox if you wanted to.

[2018-10-19 17:12] mikewheaton commented on #6733
@betrue-final-final What are your thoughts on this? When a CommandBar has items split between the left and right, is that presentational or should we be indicating to users that there are essentially two different menus?

The current behavior seems like a bug because the CommandBar behaves as a single bar (you can arrow through both left and right-side items) but it reads like they're separate men

[2018-10-19 17:19] mikewheaton commented on #6149
@ikiyou Have you been able to isolate this issue and verify that Glamor rules aren't handled correctly by jest-serializer-merge-styles?

[2018-10-19 17:38] Damdan opened #6774 "CommandBar LTS component not respecting IContextualMenuItem props such as onRender and href"
### Please provide a reproduction of the bug in a codepen:

Only occurs in SP Online in modern pages.

### Bug Report

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) High

Products/sites affected: (if applicable) SharePoint Online (modern pages)

#### Describe the issue:

When CommandBar component is initi

[2018-10-19 17:45] KevinTCoughlin commented on #5280
Tagging @billytrend who added `ResizeObserver` in #5020. @billytrend, any idea how we can provide a cross-browser solution for this problem so that `DetailsList` behavior is consistent across the browsers OUIFR supports?

[2018-10-19 17:52] billytrend commented on #5280
I couldn't find a good cross-browser solution when I made the change sorry. Googling shows a couple of polyfills but I'd imagine that it's a difficult feature to polyfill.

[2018-10-19 18:02] #6716 closed

[2018-10-19 18:29] hamedy commented on #6772
yes, but I need custom width, and the only option for custom width is sliding from the right side. And in general I find this interface that's used for Styles on a lot of components quite confusing:
IStyleFunctionOrObject<IPanelStyleProps, IPanelStyles>

can't figure out how to use it. how would one create a simple object that implements IPanelStyleProps and set a property like isOnRightSide?

App

[2018-10-19 18:34] KevinTCoughlin commented on #6413
I spoke with @dliu120 offline. The above proposed change _should_ work for the Flows scenario. There is an initial concern regarding how often the `onColumnResize` callbacks are invoked on resize. `_adjustColumns` is invoked every `16ms` as defined in: https://github.com/OfficeDev/office-ui-fabric-react/blob/6505775ab433ec7e1fca27621be96dd6c026796d/packages/office-ui-fabric-react/src/components/Li

[2018-10-19 18:36] micahgodbolt commented on #6413
I was just about to say "this sounds familiar". Yes, I think being able to tweak the delay to balance performance.

[2018-10-19 18:40] KevinTCoughlin commented on #5635
I tried to render a transparent `DetailsList` earlier. It is difficult if not impossible to do right now. One has to use custom renderers for row, header, and perhaps cell components in addition to `styles` on `DetailsList`. This is because each child component defines a background color that needs to be overridden for the entire component to be transparent. Perhaps themes would work here cc: @Jas

[2018-10-19 18:52] cliffkoh opened #6776 "Scrub and Cleanup API surface of OUFR"
For some reason, "variables" like "mru" from the PeoplePicker example are making it into the API Surface. This goes against Fabric convention.

Yet we are unable to fix this right now without breaking semver.

We should scrub and cleanup the API surface as part of V7.

[2018-10-19 18:54] cliffkoh commented on #6770
You should install, i.e. `npm install --save @uifabric/charting`, anything you're directly using as a first class dependency.

If hypothetically `@uifabric/charting` was also installed, this would be what the Rush team calls a "phantom dependency" that is extremely fragile.

[2018-10-19 18:56] JasonGore commented on #6603
I'm sure this problem affects `createComponent` as well since it is modeled after `styled` and nothing observes global customization changes.

[2018-10-19 18:57] micahgodbolt commented on #6772
Yeah, looks like custom is on the 'far' side. We'd need to change the component to be able to support this. We probably need a customNear type, since supporting every 'type' with 'near/far' is probably a large refactor.

[2018-10-19 19:02] hamedy commented on #6772
what would you say is the better way to make the smallfixednear type a bit wider?

[2018-10-19 19:06] micahgodbolt commented on #6770
Charting is not a dependency of office-ui-fabric-react. As cliff said, you need to install it directly into your application.

[2018-10-19 19:19] Damdan commented on #6774
Issue resolved, contextualMenuItemAs was the appropriate props that was needed for the overflow context menu.

[2018-10-19 19:19] #6774 closed

[2018-10-19 19:34] micahgodbolt commented on #6772
blast, nevermind….even each of the individual sizes has media queries in them....

[2018-10-19 19:38] micahgodbolt commented on #6772
Ok, without a major rewrite of a bunch of panel innards I'd say a customNear is the best approach. You could easily put a regular 'custom' on the left hand side...but the drop shadow would be wrong

[2018-10-19 20:55] #6597 closed

[2018-10-19 21:33] micahgodbolt opened #6780 "Documentation Improvements"
## Website

| Status | Action | Rationale | Issue |
|--------|--------|------------|-------|
| <ul><li>- [X] </li></ul> | Re-do Implementation section | Make use of api-extractor and TSDoc to improve documentation generation, and include hyperlinks. |#7819, #7309, #6010 |
| <ul><li>- [ ] </li></ul> | Look into docs.microsoft.com capabilities | Consider moving some documentation to here. ||
| <ul><

[2018-10-19 21:35] #6752 closed

[2018-10-19 21:40] #6765 closed

[2018-10-19 23:23] lynamemi opened #6782 "Website: Feedback button styles are conflicting with UHF styles"
### Bug Report

We've historically had problems with buttons as links picking styles up from stylesheets the UHF brings with it. Looks like it struck again.

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable) Demo website

#### Describe the issue:

![screen shot 2018-10-1

[2018-10-20 01:19] Vitalius1 commented on #6745
@betrue-final-final
Can you verify please if the toolkit for fluent Rating is correct? I will make the small change I see in colors of the unchecked star but will wait for your confirmation to merge. Thanks!

[2018-10-21 17:51] hamedy commented on #6772
could you explain how, please?

[2018-10-22 08:08] rachidaoudi commented on #6399
@KevinTCoughlin Indeed it would be a breaking change, can we otherwise have a function `getActiveIndex
() => number` which can be accessed from the `componentRef` ? It would return -1 if there is no active row
Unless there is already a better way to do this

[2018-10-22 12:33] hohenp opened #6786 "No Footer in Panel with V6.89.0 in IE10"
The Footer in Panels is not visible with IE10 at Version 6.89.0
It was correct in Version 6.72.0, I assume the scrollable Feature causes side affects.

Thanks
Pascal

[2018-10-22 15:02] Ridlsan commented on #6696
@dzearing @joschect bug in bot ?)

[2018-10-22 15:55] micahgodbolt commented on #6786
IE 10 is not one of our supported browsers. Are you able to reproduce this bug in IE11?

https://github.com/OfficeDev/office-ui-fabric-react/wiki/Browser-Support

[2018-10-22 16:34] betrue-final-final commented on #6712
Hey, just found a couple of issues.
The state text should be regular weight, not semibold.
![image](https://user-images.githubusercontent.com/20363037/47305179-81626c80-d5dd-11e8-8b5c-1fd6032a0092.png)

The thumb on unchecked hover should be #201f1e (I think that's neutralDark)

[2018-10-22 18:41] JasonGore commented on #5288
I've captured what I believe is the cause of this behavior for IE11. In this image you can see another instance of the popup briefly appearing after a selection. This second popup seems like it would be the cause of extraneous onBlur events and does not occur in Chrome.

![peoplepicker](https://user-images.githubusercontent.com/26070760/47311732-613ba900-d5ef-11e8-9b17-f7bb3e95fec2.gif)

[2018-10-22 18:44] betrue-final-final opened #6790 "Pickers: Tag picker menu text is incorrectly blue on hover"
Fabric 6.0
Repro:
1. Go to Pickers
2. Type in the Tag Picker
3. Hover over an item

Result: Text turns blue
Expect: Text should remain neutral
![image](https://user-images.githubusercontent.com/20363037/47311906-ce4f3e80-d5ef-11e8-8abe-40744c8dabc6.png)

@joschect believes this is because it uses buttons.

[2018-10-22 18:44] joschect commented on #5288
@JasonGore interesting, I'll take a look. I put in a bunch of picker fixes and most of the onblur problems should be fixed.

[2018-10-22 18:45] JasonGore commented on #5288
I deleted my comment as it was in response to @aslanovsergey comment. It doesn't have to do with the reported issue and wanted to reduce confusion. If the issue @aslanovsergey still occurs after addressing root cause of this issue, I will make a new issue with my previous post's comments.

[2018-10-22 18:47] JasonGore commented on #5288
I am able to repro both OP's and @aslanovsergey issues in latest master build.

[2018-10-22 19:25] echarles opened #6792 "Support Dynamic Theming"
Hi, Is there a roadmap to support "dynamic theming" that provides features like the one implemented in [stardust-ui/react](https://github.com/stardust-ui/react)?

I see now activity around fluent theming support, but this is still based on static prebuilt SCSS, in no way something like e.g. on https://stardust-ui.github.io/react/components/icon#types-icon

![screenshot from 2018-10-22 21-21-25](ht

[2018-10-22 20:29] JasonGore commented on #5288
I have found root cause for reported error.` BasePicker` passes `ev.relatedTarget` to `elementContains` in `onInputBlur`. However, `ev.relatedTarget` is always `null` in IE11, which causes the `elementContains` call to evaluate incorrectly. It seems that having a `relatedTarget` for `onBlur` events is [non-standard behavior](https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/relatedTarget

[2018-10-22 20:31] KevinTCoughlin commented on #6399
Just a thought, would using `window.document.activeElement` work as a workaround to unblock you?

[code]

I don't see a problem with exposing that info as a prop cc: @micahgodbolt. I couldn't find a way to use the existing props of `DetailsList` or `SelectionZone` to get the focused index as you said.

[2018-10-22 20:34] JasonGore commented on #5288
Actually I didn't realize this was assigned to Jon so I'll just move on for now. Let me know if you want to pick it up again. 😄

[2018-10-22 21:04] #6711 closed

[2018-10-22 21:07] eveleens commented on #6733
@cliffkoh, does this need author feedback? I think we're waiting on @betrue-final-final.

@micahgodbolt, the other thing we could do is number them differently, even if they're in two separate parents. It might start to get complicated, needing to track the totals though.