[2020-12-30 06:32] ecraig12345 commented on #16307
Originally I was going to entirely remove the native props extension, but now I'm wondering if it would be better to update the control to apply native props instead (and if so, where they should be applied). This will need more discussion once people are back from the holidays.

[2020-12-30 06:33] cariceli opened #16320 "Add comma to numbers under fraction mode in HorizontalBarChart"
#### Describe the feature that you would like added

Add comma to numbers under fraction mode in HorizontalBarChart

#### Have you discussed this feature with our team, and if so, who

No

#### Additional context/screenshots
Actual:
![image](https://user-images.githubusercontent.com/42231272/103334465-583aa200-4aac-11eb-92db-f45d21e27554.png)

Expected:
![image](https://user-images.githubuserconte

[2020-12-30 13:25] blendsdk opened #16323 "Built with FluentUI"
Hi there,

Do we have a page to show-off what we have built using FluentUI?

Thanks.

[2020-12-30 17:39] mohsinonxrm commented on #6221
@micahgodbolt , I'm trying to open a link from the subMenuItems. The following works fine for the main item.
`{
          key: "collapsible-binglink-item2",
          name: "Bing",
          iconProps: { iconName: "BingLogo" },
          onRender: (item) => {
            return (
              <SidebarButton
                key={item.key}
                text={item.name}
                iconProps=

[2020-12-30 21:47] #16181 closed

[2020-12-30 23:13] #16316 closed

[2020-12-31 00:39] ecraig12345 commented on #13815
Are you still having this issue? If so, we'll need a codepen repro to help debug. You can start from https://aka.ms/fluentpen or "Export to CodePen" on one of the ComboBox examples on the website. https://developer.microsoft.com/en-us/fluentui#/controls/web/combobox

[2020-12-31 00:42] ecraig12345 commented on #13685
Seems like a duplicate of #13137.

[2020-12-31 00:46] ecraig12345 commented on #13137
On the later issue #13685 @JustSlone proposed a fix of adding `tabIndex={-1}` on the ComboBox's input element when it's disabled. That seems reasonable and would be a good contribution candidate if someone wants to help with this.

Also, here's an updated codepen that works around the current bug (on codepen's side) which is breaking a lot of old repro pens. https://codepen.io/ecraig12345/pen/dypd

[2020-12-31 00:46] #13685 closed

[2021-01-01 00:11] dps88 opened #16332 "Details List: Inconsistently Handling Column Resize"
### Environment Information

- **Package version(s)**: "@fluentui/react": "^7.155.3"

### Please provide a reproduction of the bug in a codepen:
[https://codepen.io/duschroe/pen/poEawVV](https://codepen.io/duschroe/pen/poEawVV)

#### Has this been discussed before?:

Roughly, Yes.  #15971, #15786.  I think those are missing some helpful information though.

#### Actual behavior:

When a details li

[2021-01-02 21:20] JustSlone commented on #7003
Closing this as it's no longer relevant, if I'm wrong feel free to re-open with more information!

[2021-01-02 21:20] #7003 closed

[2021-01-02 21:26] JustSlone opened #16334 "☂ Menu: Issues to consider in converged approach"
This is an epic issue to track the open issues to consider in the converged approach:

Active issues that need investigation:
- #7162

Open issues that need fixing:
- ...

Other related issues:
- ...

[2021-01-02 21:33] JustSlone commented on #7744
Update
- The TODO in DetailsHeader.base.tsx is fixed.
- The TODO in DetailsList.base.tsx is still there

 https://github.com/microsoft/fluentui/blob/c6ae2b350037deb4e0bea07cdbdfe2e93455f4b1/packages/react/src/components/DetailsList/DetailsList.base.tsx#L776-L782

[2021-01-02 21:34] JustSlone commented on #6878
This issue is old, and has been fixed through other changes in the meantime. If there is still an issue here, feel free to reopen

[2021-01-02 21:34] #6878 closed

[2021-01-02 21:36] JustSlone commented on #6989
These concerns and work are covered by the ongoing styling and theming work. Closing out

CC: @xugao who is working on Theming

[2021-01-02 21:36] #6989 closed

[2021-01-02 21:40] JustSlone opened #16335 "☂ DropDown: Issues to consider in converged approach"
This is an epic issue to track the open issues to consider in the converged approach:

Active issues that need investigation:
- #5206

Open issues that need fixing:
- ...

Closed issues to consider
- #8976

Other related issues:
- ...

[2021-01-02 22:20] JustSlone commented on #9220
This issue is old and no longer relevant, closing

[2021-01-02 22:20] #9220 closed

[2021-01-02 22:29] JustSlone commented on #7920
Old issue, closing this is either already done or tracked through other means, if this is incorrect feel free to reopen with more information! 👍

[2021-01-02 22:29] #7920 closed

[2021-01-02 22:30] JustSlone commented on #9390
This issue no longer repros, seems like it's been fixed?

[2021-01-02 22:30] #9390 closed

[2021-01-02 22:32] JustSlone commented on #8217
This is covered by the recent addition of the CodeSandbox on PRs, closing this out

[2021-01-02 22:32] #8217 closed

[2021-01-02 22:40] JustSlone commented on #9218
Updates to picker are not currently on our roadmap, keeping this open for when we work on refreshing Picker

[2021-01-02 23:58] JustSlone commented on #7909
Given this is the intended behavior and we don't have current plans to make updates to DetailsList I'm going to close this out. If others hit this issue and have more data on why this should get fixed, please feel free to reopen or add additional details

[2021-01-02 23:58] #7909 closed

[2021-01-03 00:01] JustSlone commented on #10375
Keeping this open for future consideration. However Picker work is not currently on our [roadmap](https://github.com/microsoft/fluentui/wiki/Fluent-UI-React-Roadmap) so it may be some time before we get to this:

[2021-01-03 00:03] JustSlone commented on #10894
Keeping this open for future consideration, but making it clear it's not currently on our [roadmap](https://github.com/microsoft/fluentui/wiki/Fluent-UI-React-Roadmap)

[2021-01-03 00:04] JustSlone commented on #11169
Looks like this is by design, and an old issue, if there is a good reason to change the design here feel free to reopen this issue with more info

[2021-01-03 00:04] #11169 closed

[2021-01-03 00:29] JustSlone commented on #6827
Repurposed this issue to track ideas and other issues we should consider with textfield refresh/convergence

[2021-01-03 00:30] JustSlone commented on #8302
Keeping this open for future consideration, but making it clear it's not currently on our [roadmap](https://github.com/microsoft/fluentui/wiki/Fluent-UI-React-Roadmap)

[2021-01-03 19:49] JustSlone commented on #15808
This is expected. Chromium edge does not need the password reveal button, it automatically shows it for password fields.

Reference:
https://9to5google.com/2019/08/28/microsoft-developed-reveal-password-edge-chrome/

Code:
https://github.com/microsoft/fluentui/blob/117d6ff2a1def8d26e93822c1baf05fbf4f7e865/packages/react-internal/src/components/TextField/TextField.base.tsx#L626-L640

[2021-01-03 19:51] #15808 closed

[2021-01-03 23:00] JustSlone commented on #3593
Closing this as this is an old request and not something included in the designs. If someone is interested in building this component and contributing it as a community component, let me know

[2021-01-03 23:00] #3593 closed

[2021-01-03 23:02] JustSlone commented on #3620
There is some possible work brewing around a unified Form API. No commitments available right now, but marking this future consider.

[2021-01-03 23:06] JustSlone commented on #4417
Work on Nav isn't currently on our backlog, keeping this open to possibly consider in the future, but making it clear it won't be soon

[2021-01-03 23:08] JustSlone commented on #4478
Updating Pickers is not currently on our roadmap, when we update pickers we'll likely move to function components as well. However, since this is an issue in the existing pickers, keeping this open

[2021-01-03 23:10] JustSlone commented on #4730
Closing this out since it's usable as is, if there is a new High Contrast design here, happy to update things. If this continues to be an issue, feel free to reopen

[2021-01-03 23:10] #4730 closed

[2021-01-03 23:11] JustSlone commented on #4808
Keeping this open, but marking Not on roadmap as we're unlikely to implement this anytime soon

[2021-01-03 23:13] JustSlone commented on #5390
We should consider this with refreshes to checkbox and radiogroup

[2021-01-03 23:13] JustSlone commented on #5403
Closing this out since it will be covered by the new styling approach

[2021-01-03 23:13] #5403 closed

[2021-01-03 23:14] JustSlone commented on #5418
Updating to make this clear it's not on our current roadmap and likely won't be implemented soon

[2021-01-03 23:23] JustSlone commented on #6075
Closing this out as it's very old, mostly done, and examples will likely be updated soon anyway

[2021-01-03 23:23] #6075 closed

[2021-01-03 23:24] JustSlone commented on #6150
Keeping this open, but updating to make it clear this is not on the current [roadmap](https://github.com/microsoft/fluentui/wiki/Fluent-UI-React-Roadmap)

[2021-01-03 23:25] JustSlone commented on #6893
Keeping this open, but updating to make it clear that it is not on the current [roadmap](https://github.com/microsoft/fluentui/wiki/Fluent-UI-React-Roadmap)

[2021-01-03 23:28] JustSlone commented on #7141
Closing this out as we have a new set of Fluent UI icons with new and better names. If this is still an issue, please file it over here: https://github.com/microsoft/fluentui-system-icons

[2021-01-03 23:28] #7141 closed

[2021-01-03 23:29] JustSlone commented on #7623
Keeping this open, but making it clear that this is not on the current [roadmap](https://github.com/microsoft/fluentui/wiki/Fluent-UI-React-Roadmap)

[2021-01-03 23:30] JustSlone commented on #7597
This is a component we'd like to add, however, it's not on the current [roadmap](https://github.com/microsoft/fluentui/wiki/Fluent-UI-React-Roadmap)

If someone from the community wants to collaborate with us and contribute the base of a tree component, let me/us know

[2021-01-03 23:42] JustSlone commented on #15514
@digit01Wave and @sukotekar we don't have expertise or the build system to ship C# nuget packages in this repo, it's purely TypeScript. We'd be happy to help someone else open source the C# implementation (to the best of our ability).

Going to close this issue out given this it out of scope for this project, sorry we can't be more helpful ☹

[2021-01-03 23:42] #15514 closed

[2021-01-03 23:53] JustSlone commented on #15360
Hey all, we just posted our 2021 roadmap here: https://github.com/microsoft/fluentui/wiki/Fluent-UI-React-Roadmap

It's basic for now, we'll continue to add more detail over time. check it out

[2021-01-03 23:57] JustSlone commented on #14199
As long as the implementation here does not change the default behavior for existing customers, this is a fine fix to take. Tagging this with Help Wanted and inviting a community contribution here

[2021-01-04 00:09] JustSlone commented on #13381
Readme is updated: https://github.com/microsoft/fluentui/blob/master/README.md
We also have a wiki article walking through packages: https://github.com/microsoft/fluentui/wiki/Fluent-UI-React-Repo-Structure

[2021-01-04 00:09] #13381 closed

[2021-01-04 00:10] JustSlone commented on #13323
Tagging this help wanted and good first issues, this would be a great contribution for someone getting ramped up on the project

[2021-01-04 00:12] JustSlone commented on #13051
Looks like there is a reasonable solution through the styling API here, closing this issue out. If there is reason for a more involved solution, feel free to reopen this with more information

[2021-01-04 00:12] #13051 closed

[2021-01-04 00:15] JustSlone commented on #12861
Seems like a reasonable addition, tagging this help wanted, feel free to pick this up if it's interesting to you

[2021-01-04 00:16] JustSlone commented on #12671
Looks like this issue is resolved, if there are any more questions feel free to reopen

[2021-01-04 00:16] #12671 closed

[2021-01-04 00:25] JustSlone commented on #10181
@richardtagger, @BrendanMcK  we'd be happy to take a contribution here to add support for this if you're still up to it, let us know

[2021-01-04 05:20] Shraddha-113 commented on #9545
We are using fluent-ui in our project. We needed **Timepicker control with Datepicker**. Is there any updates on this? We are really looking forward it. If no updates then what can be used instead of it?

[2021-01-04 05:44] v-ajrai opened #16338 "DatePicker Required ARIA child role not present when accessibility insights tool is run"
DatePicker Required ARIA child role not present when accessibility tool is run

### Environment Information

OS: Win 10
Browser:  Chrome

### Describe the issue:
DatePicker Required ARIA child role not present when accessibility tool is run

### Please provide a reproduction of the issue in a codepen:
https://developer.microsoft.com/en-us/fluentui#/controls/web/datepicker
![External_Date_picker](h

[2021-01-04 07:41] v-ajrai opened #16339 "On CommandBar with split and disabled buttons, enabled and disabled downward arrow are in same green color which creates confusion."
On CommandBar with split and disabled buttons in high contrast black mode, enabled and disabled downward arrow are in same green color which creates confusion.

### Environment Information

OS: Win 10
Browser:  Edge

### Describe the issue:

On CommandBar with split and disabled buttons in high contrast black mode, enabled and disabled downward arrow are in same green color which creates confusion

[2021-01-04 08:48] Shraddha-113 opened #16340 "TimePicker in web"
#### Describe the feature that you would like added

Time value selection with DatePicker Control

We are using fluent-ui in our project. We needed Timepicker control with Datepicker. Is there any updates on this? We are really looking forward it. If no updates then what can be used instead of it?

[2021-01-04 12:44] Psvensso commented on #13502
We were looking at implementing FluentUi components inside a shadow dom, we can render some styles inside she shadow with
 some hacks in StyleSheet.config but a solution like styled-components [StyleSheetManager](https://styled-components.com/docs/api#stylesheetmanager) would be much easier and concise API.

 @dzearing whats the way forward regarding themes and css-in-js for FluentUI? Is scoping /

[2021-01-04 12:45] GordonSmith opened #16342 "Pivot Overflow Menu + headerOnly issue"
### Environment Information

- **Package version(s)**: 8.0.0-beta.32
- **Browser and OS versions**: Edge Version 87.0.664.66

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/LeSchmoo/pen/XWjELra

#### Actual behavior:

Overflow menu appears behind the "tab" body (pink in this example with opacity = 50%):
![image](https://user-images.githubusercontent.com/966863/103536

[2021-01-04 12:49] Psvensso commented on #13502
Linking https://github.com/microsoft/fluentui/issues/9591 as i believe they are related.

[2021-01-04 13:18] jurokapsiar commented on #16275
This is expected as the MenuItems are rendered only when the menu is opened. If you need to open a dialog based on an event in menu, you need to move it up in the react tree and take over the control: https://fluentsite.z22.web.core.windows.net/0.51.4/components/dialog/definition?showCode=true&showRtl=false&showTransparent=false&showVariables=false#usage-callbacks

[2021-01-04 13:18] #16275 closed

[2021-01-04 13:56] layershifter commented on #16303
### Why `never` was used?

TypeScript handles `{}` as `any`:

[code]

[TypeScript playground](https://www.typescriptlang.org/play?ts=4.1.3#code/GYVwdgxgLglg9mABAQQBQAcBOd0GcBciA3ogIaEBGccANgKalIC+AlMUwLABQoksCiAEIZseQkVbtuvaPCQBhETgKIwdAG51MbCd24B6fXq5oS5RFEwg6iVt2EkKhS9dstuikhGdWbrIA)

While `never` works as an expected in this case. However, `never` is not assignable to any type 😿 I've seen a pr

[2021-01-04 14:20] layershifter commented on #15929
## Dependent packages

Currently `react-button` depends on a set of v8 packages:

https://github.com/microsoft/fluentui/blob/be53c0fac33620377626ae31c331e9bc2ca72951/packages/react-button/package.json#L50-L59

What is our plan there?

## Shorthand API spec

I think that we missed a piece related to high level APIs, for example shorthands. IMO, it worth to have a separate detailed spec for this API

[2021-01-04 14:23] ling1726 commented on #16303
I don't get the point of always requiring a prop, especially when it's not required. From a consumer point of view it IMO this would always raise my eyebrow if I see this

[code]

The only consistent thing would be the below example, but still seems kinda unnecessary

[code]

[2021-01-04 14:24] #16301 closed

[2021-01-04 14:53] ling1726 commented on #15929
What about utilities/libs that will be shared by `react-*` packages ? How will we avoid adding confusing/ambiguous package names that might simply be a carbon copy of existing utilities that are shared by v8 and v0 ?

[2021-01-04 15:02] layershifter commented on #16334
Do we have a spec for `Menu` component?

---

## Shorthand API

Linking a comment in another issue: https://github.com/microsoft/fluentui/issues/15929#issuecomment-754001698. As it's important to have an agreement about API as this component can easily become a pattern.

With @assuncaocharles we spent some time trying to prototype an API that can easily scale with infinite amount of nested menus:

[2021-01-04 16:37] layershifter commented on #12770
Link is broken 😿

[2021-01-04 16:37] Dangerous-Mind commented on #16178
Hi @ecraig12345, any news on this issue?

I also have the same issue on one of my projects already on production. Some of the items are not rendered randomly through the list (randomly but in a block of items).

If I resize the width of the screen they are rendered and another gap appears somewhere else. Some of the times there are two or more gaps in the same list.

![image](https://user-images.g

[2021-01-04 16:52] akash07k opened #16344 "(Request) Please add the "treeview" control"
#### Describe the feature that you would like added
I was thinking to implement fluent UI controls for one of my open source project and I needed the "treeview" control.
However, I looked deeper down in the documentation but couldn't find any treeview control.
Therefore, I'd humbly request microsoft that please add the treeview controls so that users/devs can utilize those in there projects as wel

[2021-01-04 17:12] layershifter commented on #15688
### OUFR v7 / Fluent v7

According to [React Guidelines](https://github.com/microsoft/fluentui/wiki/React-Guidelines#ref-usage) the right way is to use `componentRef`, it matches `ILink` type and provides `.focus()` method:

https://github.com/microsoft/fluentui/blob/7.0/packages/office-ui-fabric-react/src/components/Link/Link.types.ts#L11-L14

`componentRef` & `ref` are the same in this case only

[2021-01-04 18:54] ecraig12345 commented on #12770
@layershifter Links are fixed now.

[2021-01-04 19:01] mario-msft opened #16353 "[Coachmark/TeachingBubble] Required ARIA attribute not present: aria-level"
### Environment Information

- **Package version(s)**: 7.123.1
- **Browser and OS versions**: Chrome v87.0.4280.88, Windows 10

### Describe the issue:

The `TeachingBubble` inside of a `Coachmark` is missing `aria-level` in the headline

### Please provide a reproduction of the issue in a codepen:

#### Actual behavior:

No `aria-level` in headline
https://developer.microsoft.com/en-us/fluentui#/

[2021-01-04 19:08] joschect commented on #15750
Hi @FosterSamuel This is caused by the way that we prevent IOS overscroll. You can override the behavior by adding `allowTouchBodyScroll` to the underlying modal. You can see it working in [this codepen](https://codepen.io/slimemold/pen/OJRZVGY?editors=0010)

[2021-01-04 19:19] JustSlone commented on #15758
Update:
- ThemeProvider doesn't override the rendering the way we need it to for Icons

Next Steps:
- Release the new set and have customers using register icons to override icons
- @tomi-msft to write up details on plan for how to use new icons with register icons

[2021-01-04 19:23] ecraig12345 commented on #5390
This was fixed for Checkbox (but not ChoiceGroup) sometime after this issue was created.

[2021-01-04 19:41] JustSlone opened #16357 "Finish up Version 8 release tasks"
Main priorities:
- [x] Fix fabricdemo
- [x] Finish initial release mop-up items in #14692
- [x] Add version 8 to website - #14691 and #15308
- [ ] Ensure API docs on docs.microsoft.com at least aren't entirely broken (or remove and redirect to website) - #14783
- [ ] Remaining issues on [Version 8 board](https://github.com/microsoft/fluentui/projects/36) as appropriate

[2021-01-04 19:45] JustSlone opened #16358 "Version 8 partner upgrade and rollout plan"
# Problem
V8 Upgrade requires coordinating several major repositories.

## Narrowed problem:
What are the _major_ blockers for repositories. Is it prop changes? Imports? Something else? We need to know blockers in order to start actually upgrading

## Appetite
3 weeks. This will involve attempting to make some of the upgrades in current repositories which may take time.

## Solution
We will submit

[2021-01-04 19:51] JustSlone opened #16360 "Dropdown Convergence"
NOTE: This is probably out for Jan and Q1

--- @behowell fill in details (use template)

[2021-01-04 21:23] Adjective-Object opened #16361 "Persona only renders top left quarter"
### Environment Information

- **Package version(s)**:
        "@fluentui/date-time-utilities": "^7.8.0",
        "@fluentui/react": "^7.146.0",
        "@fluentui/react-theme-provider": "^0.16.0",

- **Browser and OS versions**: (fill this out if relevant)
Firefox for linux 84.0.1 (64-bit)

### Please provide a reproduction of the bug in a codepen:

https://fabricweb.z5.web.core.windows.net/oufr/

[2021-01-04 21:55] SethDonohue opened #16362 "Slider (web components) shows cursor pointer when disabled"
### Environment Information

- **Package version(s)**: @fluentui/web-components : 0.10.1
- **Browser and OS versions**: Edge/Mac

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
<img width="509" alt="Screen Shot 2021-01-04 at 1 44 27 PM" src="https://user-images.githubusercontent.com/31681651/103682372-aaad1000-4f3d-11eb-89ec-d57aeca1f655.png">

#### Expected beha

[2021-01-05 00:50] joschect commented on #16299
@Chinkaimu Hey! could you provide a few more details?
* Where does the title need to go? IE. Always after the overflow item set?
* How should the title collapse when overflow happens?
* Should the title fill the rest of the space?

And would you be willing to submit a feature for this? I suspect that this might take a bit of work. We have not yet discussed a middle section and I think we would nee

[2021-01-05 01:45] ecraig12345 commented on #9545
I don't think this is something we currently have on our roadmap, but @JustSlone or @paulgildea (or @lorejoh12 who worked on the DatePicker a lot) should confirm.

[2021-01-05 01:45] ecraig12345 commented on #16340
This is already being tracked in #9545.

[2021-01-05 01:45] #16340 closed

[2021-01-05 01:54] DigitalMystery commented on #9545
For now, our team is using the Date Picker and then a TextField next to it with the type="time".  This is similar to miacahgodbolt's suggestion above.  It would be nice to have one control, but it works at least.  Happy coding!

[2021-01-05 02:55] neil-ji opened #16364 "[Mobile Layout][Dropdown] Users cannot read the intact text if text overflowed in Dropdown Callout Item"
### Environment Information

- **Package version(s)**: 7.77.0
- **Browser and OS versions**: any version

### Please provide a reproduction of the bug in a codepen:
Codepen URL: [https://codepen.io/liubaix/pen/ExgLNYV?editors=0010](https://codepen.io/liubaix/pen/ExgLNYV?editors=0010)
Reproduce it by browser devtool ( device toolbar ).
Mobile users has no mouse event therefore Tooltip cannot workin

[2021-01-05 03:23] #15787 closed

[2021-01-05 03:23] #15189 closed

[2021-01-05 03:24] #9357 closed

[2021-01-05 03:24] #9359 closed

[2021-01-05 03:28] #15818 closed

[2021-01-05 03:29] #15819 closed

[2021-01-05 04:51] JustSlone commented on #9545
Yeah, sorry this is not on our roadmap.

As for alternatives, one possibility is the interaction used in Outlook Web, which is an editable field with an expandable menu
![image](https://user-images.githubusercontent.com/40304143/103607629-3dae6180-4ece-11eb-9477-b8c131fe929e.png)

[2021-01-05 06:04] danimmag opened #16365 "Details list : When I enableShimmer and disable (I wanted to do this on saving changes to list items), the previous selection and focus are lost"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:

### Please provide a reproduction of the issue in a codepen:

#### Actual behavior:

#### Expected behavior:

### Documentation describing expected behavior

[2021-01-05 07:11] v-ajrai commented on #14464
I am also facing similar issue . Do we have any ETA around this??

[2021-01-05 09:18] layershifter commented on #16176
Hey folks!

This issue was fixed in #16264 and released in `@fluentui/react-northstar@0.51.4`. You can use linked CodeSandboxes to verify:
- 0.51.3 (bug exists): https://codesandbox.io/s/fluent-ui-example-forked-99krc
- 0.51.4 (bug fixed): https://codesandbox.io/s/2fnbu

[2021-01-05 09:18] #16176 closed

[2021-01-05 10:20] layershifter commented on #14049
@dk511 I was able to repro this problem, it was also reported in #13836 and fixed by #14010. 0.50.0 (contains an issue) https://codesandbox.io/s/fluent-ui-issue-14049-b049r, in 0.51.4 it should run properly. Can you please check?

---

However, even with there is an issue related to JSDOM in `fontSizeUtility.ts` that I met in CodeSandbox with 0.51.4 🤔

https://github.com/microsoft/fluentui/blob/46

[2021-01-05 10:46] allensu0314 opened #16367 "itemLimit attr on ListPeoplePicker doesn't work"
### Environment Information

- **Package version(s)**: Latest version. The bug can repro using demo code in fluent official website at codepen.
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

codepen : https://codepen.io/allensu0314/pen/mdrLMxR.
I added `itemLimit={2}` in `ListPeoplePicker`, but doesn't work.
#### Actual behav

[2021-01-05 13:59] #14049 closed

[2021-01-05 14:00] layershifter commented on #14049
Was fixed by #16368.

[2021-01-05 14:35] layershifter commented on #15491
@Gerhut thanks for the report 👍

---

In #16239 `@fluentui/react-next` package was removed, now we are using `@fluentui/react` as the main packages, beta releases are available there.

I followed [Server Side Rendering guide](https://github.com/microsoft/fluentui/wiki/Server-side-rendering-and-browserless-testing) and created sandboxes for v7 and v8 beta (both based on your example):
- 8.0.0-beta.

[2021-01-05 14:52] #13312 closed

[2021-01-05 14:53] Adjective-Object commented on #16361
from internal conversations:

right now it sets both via Image
![image](https://user-images.githubusercontent.com/1174858/103660391-87816100-4f3b-11eb-9dea-e142502515ec.png)

[code]

the isContain and isCover expressions could omit Imagefitstyles entirely when supportsObjectFit is true

[2021-01-05 15:05] layershifter commented on #15460
As issue was solved, closing this for housekeeping 🏡

[2021-01-05 15:05] #15460 closed

[2021-01-05 15:44] layershifter commented on #7369
`Form` components were removed in #7985, closing for housekeeping 🏡

[2021-01-05 15:49] layershifter commented on #13212
@paulgildea should we keep this issue opened or I can close this issue? 💭

[2021-01-05 15:51] jurokapsiar opened #16371 "Menu convergence - January Project Cycle"
Following epic #16465

# Problem
We need a converged menu component that follows the design

## Appetite
The `Menu` component will be a significant step in the development of the convergence project as a whole since it presents interesting challenges:

* Interactions
* States - static and dynamic
* Accessibility
* Layout options
* Popup (pending)

The challenges will need to be addressed over the

[2021-01-05 15:52] jurokapsiar opened #16372 "Continued styling convergence"
## Goals

- Verify `makeStyles-next` is performant enough
- Make it production ready

## Tasks
- [x] find a good name
- `makeStyles`
- [ ] measure perf in TMP @miroslavstastny
- calling roster
- [x] test in Office? @xugao
- ribbon
- confirm with David
- [ ] make makeStyles production ready @layershifter
- global selector (we need to fix `stylis`)
- implement React wrapper for `makeStyles`
- [x] ke

[2021-01-05 15:54] layershifter commented on #15357
@sharechiwai would you like to create a PR that targets `master` branch with your change? 😺

[2021-01-05 15:57] layershifter commented on #15591
@dzearing as I know we decided to not use that polyfill. Can be this issue closed?

[2021-01-05 16:06] #15591 closed

[2021-01-05 16:22] #16146 closed

[2021-01-05 17:08] Hotell commented on #15864
Hi folks, I played with it a bit

path to that image is non existent within the repo that is used. Dunno what was the original intent ( to render fabric ui logo instead of default React ? )

[code]

- that is "a greeting" for eslint (to be precise typescript-eslint parser). Everything should work without issues though.

- yeah that needs to migrate to `@fluent-ui/react`

---

### Quick Workaround

[2021-01-05 17:18] behowell opened #16373 "Avatar convergence"
# Preparation:

- [x] Started prep
- [x] Open UI Research complete
  - https://open-ui.org/components/avatar.research
- [x] Comparison on v8 and v0 complete
  - In [SPEC.md](https://github.com/microsoft/fluentui/blob/master/packages/react-avatar/SPEC.md)
- [x] Gather open GitHub issues related to component in epic issue
  - Avatar: Open issues to resolve in converged #16518
- [x] react-\* package

[2021-01-05 21:21] DavidParks8 opened #16376 "isInverted is false in all azure-themes"
The [AzureThemeDark](https://github.com/microsoft/fluentui/blob/d0d59e633912d2fe72a48e1472afe220a74a51d0/packages/azure-themes/src/azure/AzureThemeDark.ts#L129) does not set `isInverted` and thus does not accurately reflect the theme "inversion" state. The same issue is present in the high contrast dark theme.

There are a number of issues with these azure themes that we've identified and would li

[2021-01-05 22:58] lipalath-ms opened #16380 "When page is resized to 400% zoom mode, controls are not visible/missing in the page"
### Environment Information

- **Package version(s)**: "@fluentui/react": "^7.123.4"
- **Browser and OS versions**: chrome and windows 11

### Describe the issue:

When page is resized to 400% zoom mode, controls are not visible/missing in the page. Placeholder in textbox gets truncated.

### Please provide a reproduction of the issue in a codepen:

https://codepen.io/lipalath/pen/NBVZWJ

#### Act

[2021-01-06 01:03] JustSlone commented on #15864
@Hotell, what do you think about converting this to a [CRA template](https://create-react-app.dev/docs/custom-templates/)?

Your choice if you want to make the quick fixes to get this off the ground first, or just jump right in to converting to a template.

I would recommend doing the conversion in the same repo and renaming the repo to not break links, but if that is a pain, a new repo is fine.

[2021-01-06 01:09] stefaniehansen commented on #5551
Hi there, are there any updates on this?

[2021-01-06 02:28] johannao76 commented on #16146
@layershifter I worked around it already but was filing this to get the issue fixed. It is counterintuitive to have the attached prop not work just because the collection of reactions is empty.

[2021-01-06 02:41] Chinkaimu commented on #16299
@joschect Hey! Our PM Belle have sent the email to you. She helped answer the question, hope that email reaches you well and healthy.

1.	Where does the title need to go? IE. Always after the overflow item set?
Belle: This is centered and always after the overflow.

2.	How should the title collapse when overflow happens?
Belle: As users minimize window to certain width, title should become invisib

[2021-01-06 05:22] manishagm13257 opened #16383 "On pressing Esc key, the panel gets closed instead of just the callout."
### Describe the issue:
If the callout is present in a panel, on pressing Esc key, instead of the callout getting closed, the panel is getting closed.
To repro the issue:
1. Click on the "open panel" button.
2. When the panel gets open, tab through the "Show Callout" button and press enter.
3. The callout gets opened and then press escape key.

### Please provide a reproduction of the issue in a c

[2021-01-06 05:25] lutorre opened #16384 "Unselected Pivot items are not focusable"
### Environment Information

- **Package version(s)**: @fluentui/react 7.129.0
- **Browser and OS versions**: Windows 10, Microsoft Edge 87.0.664.66 (Official build) (64-bit)

### Describe the issue:

Unselected pivot items are not focusable.
Example:
1- Open a Pivot item in the browser and select the first one
2- Use the TAB key to traverse the components until the first Pivot item is focused
3 -

[2021-01-06 06:21] #15491 closed

[2021-01-06 06:30] jendowns opened #16385 "Docs site: large example text overflows table cells on Typography page in Firefox"
### Environment Information

- **Package version(s)**: Latest on public doc site: https://developer.microsoft.com/en-us/fluentui#/styles/web/typography
- **Browser and OS versions**: Firefox 84.0.1 on Windows 10 & also macOS 10.15.7

### Please provide a reproduction of the bug in a codepen:

Open the Typography page on the public doc site in Firefox & you'll see the large type face examples are o

[2021-01-06 06:39] prademi opened #16386 "NVDA is narrating entire dialog information, when Panel is displayed."
### Environment Information

- **Package version(s)**: office-ui-fabric-react@6.189.2
- **OS** : Win 10 1909 (OS Build 18363.476)
- **Browser** : Chrome (78.0.3904.70)
- **Tools used**: NVDA 2019.2.1

### Describe the issue:

NVDA is narrating entire dialog information, when Panel is displayed.

#### Actual behavior:

NVDA is narrating entire dialog information, when PANEL flyout is displayed.
Ex:

[2021-01-06 08:23] yn-tadpole opened #16389 "Looking forward to Fluent UI based on Vue.js"
#### Looking forward to Fluent UI based on Vue.js.

Vue.js Compared with react, it should be a more potential framework. I hope the project team can consider the development of Vue.js Version of.

[2021-01-06 08:59] prademi opened #16390 "When user try to close the combo boxes by escape key in Panel control, entire Panel is closing"
**Test Environment:**

- OS : Win 10 1909 (OS Build 18363.476)
- Browser : Chrome (78.0.3904.70), Edge (44.18362.449.0)

**Actual Result:**
-- Combobox control added in Panel Control.
-- One of the combobox expanded.
-- On click of escape. complete Panel control is getting closed.

**Expected Result:**

-- Combobox control added in Panel Control.
-- One of the combobox expanded.
-- On click of esc

[2021-01-06 09:42] #15357 closed

[2021-01-06 10:56] #16093 closed

[2021-01-06 11:10] layershifter commented on #14065
Still broken for latest betas 😭
https://codesandbox.io/s/goofy-fire-rfvpy?file=/src/App.js

I also tried to specify `window` for `WindowProvider`, but it has no effect:

[code]

[2021-01-06 11:22] layershifter commented on #13678
We don't use `compose()` anymore and agreed on hooks approach, closing this.

[2021-01-06 11:22] #13678 closed

[2021-01-06 11:24] layershifter commented on #13677
As this was related to `compose()` - closing it.

[2021-01-06 11:24] #13677 closed

[2021-01-06 11:30] layershifter commented on #12102
As we don't plan to use v0 and v8 dependencies in the same place, closing this.

[2021-01-06 11:30] #12102 closed

[2021-01-06 11:58] ilanbd commented on #16181
Thanks for the quick fix!! could we get this change in version 7 instead of 8?

[2021-01-06 13:22] Hotell commented on #15864
I'll ping authors of recent PRs that make sense to merge and get those in. Besides those I'll fix other issues by my own so it works for now without any need to change the website docs etc.

That's the best approach going forward IMO  (there are some existing ones already!  https://github.com/nissan/cra-template-ts-fabric#readme ). I'd suggest to create that template under this repo so we have thi

[2021-01-06 13:33] layershifter commented on #16205
@spjtls9 thanks for report 👍

---

It's a valid bug that may require refactor `ButtonGroup` 🤔

When `variables` are passed to `items`:
- `variables` will be passed to a `Button` component and `buttonStyles` will be evaluated with them properly ✅
- then we will apply `styles` that will override `borderRadius` setting ❌

https://github.com/microsoft/fluentui/blob/474608f55ea17effdc807ae963e93cd08bb9

[2021-01-06 14:23] ecraig12345 commented on #16181
All changes are supposed to go to master first at this point, but we can cherry-pick to 7 if needed. @joschect will you have time to do that?

[2021-01-06 14:49] layershifter commented on #16143
Confirmed with office-ui-fabric-react@7.155.3 & @fluentui/react@8.0.0-beta.32. It's definitely caused by #10016.

---

I went through code with debugger and noticed the following behavior:

[code]

This happens only in tests, I checked the same in demo on the same CodeSandbox and it works as expected.

---

For curiosity I rewrote the test with `react-dom/test-utils`:

- CodeSandbox: https://codes

[2021-01-06 15:43] ecraig12345 commented on #16143
Sorry, I actually looked into this in December but never finished writing up what I found.

I think what happened here is that prior to #10016, `onChange` was called synchronously for a controlled TextField after the event was fired, and asynchronously (after re-render) only for an uncontrolled TextField. Now it's called asynchronously in either case. This is rather odd compared to the behavior of

[2021-01-06 16:11] #16385 closed

[2021-01-06 17:32] #16192 closed

[2021-01-06 19:21] shandysulen commented on #15938
I was able to fix this issue by passing `role: "status"` within the `calloutProps` prop. I don't understand how it fixes the issue exactly, so it might be worth digging into it a little more.

[2021-01-06 19:53] DaniloAG opened #16398 "TooltipHost component immediately dismisses tooltip on hover / focus"
### Environment Information

- **Package version(s)**: latest
- **Browser and OS versions**: Edge - Version 87.0.664.66 (Official build) (64-bit)

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/daniloag/pen/yLaEVmN

  * Open the codepen and set your focus on the canvas that rendered the two buttons.
  * Try hovering over the first button (You can sometimes repro thi

[2021-01-06 20:46] sushruth commented on #16192
Currently this is affecting unit tests on apps using @fluentui/react-northstar and react 17. A milestone to look forward to will be much appreciated

[2021-01-06 21:08] xugao commented on #11547
@mltejera - thank you for writing this up!!

We have [this wiki](https://github.com/microsoft/fluentui/wiki/How-to-apply-theme-to-Fluent-UI-React-components) here which describes `ThemeProvider`, which is a newly introduced component in version 8 to help with contextual theming and it's also designed to replace `Customizer` and `Fabric`. Could you give a read and let me know if you have any questi

[2021-01-06 23:21] cristighr1995 opened #16400 "Expose "imageRole" on the IPersonaSharedProps in order to define a custom role to the underlying image"
#### Describe the feature that you would like added

I would really like to have an `imageRole` attribute exposed on the IPersonaSharedProps since I needed to override / set the role of the underlying PersonaCoin image to 'presentation'. I couldn't to that very easy and I needed to pass a custom render function for the image itself.

I didn't want to replace the whole image with my own custom cont

[2021-01-06 23:43] mltejera commented on #11547
@xugao Awesome!

I'll be following up, especially with #5610. Admin-controls does make heavy use of the customizer, especially with regards to styling overrides.

Once our consumers get 'moving to 8' on their road maps, we'll dig into the new theme provider. Happy to share up any documentation we build out.

[2021-01-06 23:50] mltejera commented on #11547
Just gave the new wiki page a read through. A few topics which could be added:
- How can you extend the theme to have more semantic slots?
- How can you remap palette -> semantic slots?
- We use the customizer to apply style overrides. I imagine that process is supported/similair?

These are things we're doing with 7, and I'm happy to do the write up for that as well.

[2021-01-07 02:38] ecraig12345 commented on #16156
Here's an updated codepen that works around an ongoing issue on codepen's side preventing the original one from rendering: https://codepen.io/ecraig12345/pen/gOwKxOp?editors=0010

It looks like the issue is in [ButtonThemes.ts](https://github.com/microsoft/fluentui/blob/master/packages/react-internal/src/compat/components/Button/ButtonThemes.ts)--for some reason `buttonBackgroundDisabled` and `pri

[2021-01-07 06:37] idigra commented on #16156
Thanks. Can you recheck the link to the codepen with workaround? It seems to not be solved (e.g. the standard disabled button should be yellow but it still has the default disabled color).

[2021-01-07 10:12] #14108 closed

[2021-01-07 10:25] layershifter commented on #16146
Agree, the main issue that is there no intuitive solution for your request 🤔

**Requirement:** We need to make slot always visible if reactions are present, otherwise it will be confusing for user as reactions will be invisible for attached messages
**Current solution:** Perform a boolean check

https://github.com/microsoft/fluentui/blob/aa34c48589728cf0ed77b856ddaee16e8ca5bfbe/packages/fluentui/r

[2021-01-07 14:07] DaleyKD commented on #16250
Bump.  Please, this is a high priority for our product.

[2021-01-07 15:00] layershifter commented on #7368
https://github.com/microsoft/fluentui/wiki/Version-8%3A-Release-notes#full-strict-mode-support-for-all-suite-components

Feel free to follow up on this issue 😼

[2021-01-07 15:20] ecraig12345 commented on #16156
The codepen is a repro of the problem, not a solution yet.

[2021-01-07 16:04] layershifter commented on #16400
Hey @cristighr1995!

Can you please clarify on which element you would like to override `role`?

[code]

It's possible to override `ms-Persona-coin` & `ms-Persona-imageArea`:

[code]

[code]

---

Please let me know if it works for you.

[2021-01-07 16:05] jurokapsiar commented on #16250
@DaleyKD we have added the issue to the upcoming sprint (Jan 11 to Jan 24) to try to repro and investigate.

[2021-01-07 18:08] Moiahbabi opened #16403 "Items do not show when scrolling <DetailsList/>"
### Environment Information

- **Package version(s)**: "^7.124.1"

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/moiahbabi/pen/ExgRGrJ

#### Actual behavior:

not all list items show when scrolling down.

#### Expected behavior:

  items get rendered when scrolling.

I tried setting `data-is-scrollable={true}` on `<DetailsList/>` component, but the resultant div al

[2021-01-07 21:45] xugao commented on #11547
@mltejera, great questions!

Right now `theme` prop in `ThemeProvider` is strongly typed to `PartialTheme`. But the use case you brought up here is valid, and I think we should support. I will work on that.

Could you elaborate this one by giving me a brief example? thanks!

Yes. The way to migrate is documented [here](https://github.com/microsoft/fluentui/blob/master/packages/react-theme-provider

[2021-01-07 22:04] AbdouMoumen opened #16404 "Add onRenderHeaderContent to Panel component"
#### Describe the feature that you would like added

The `Panel` component supports customizing the footer through an `onRenderFooterContent` prop, but the same isn't available for header. It is possible to provide an `onRenderHeader` prop, but it means losing the default rendering logic/styles.

#### What component or utility would this be added to

Panel

#### Have you discussed this feature wit

[2021-01-07 22:33] khmakoto commented on #16156
@ecraig12345 I think that is precisely the problem and we need to update `ButtonThemes.ts`.

[2021-01-07 22:38] khmakoto opened #16405 "Adding disabledFocusable prop to Button in react-button package"
#### Describe the feature that you would like added

`allowDisabledFocus` is a prop that is used to allow focus on `disabled` elements and exists in the version of `Button` currently published in `@fluentui/react`. However, it does not exist yet on `@fluentui/react-button`, hence creating a feature disparity that should be addressed. We should also take this opportunity to change the name of the p

[2021-01-07 23:00] #13815 closed

[2021-01-08 00:01] xugao commented on #15749
We are now tracking latest tasks using #16372 instead. closing this one for now

[2021-01-08 00:01] #15749 closed

[2021-01-08 07:22] #16361 closed

[2021-01-08 07:36] cariceli opened #16406 "Line chart should show the latest data when switching data range after selecting multiple legends"
### Environment Information

- **Package version(s)**:  4.11.0
- **Browser and OS versions**: Chrome

### Please provide a reproduction of the bug in a codepen:
https://codesandbox.io/s/stupefied-germain-pbp96?file=/src/Chart.tsx

#### Actual behavior:

steps:
1. Select data range as data1, and select multi legends:
![image](https://user-images.githubusercontent.com/42231272/104152665-2a921900-541

[2021-01-08 08:28] Matej4386 commented on #6582
Any news about this? Looking for v5 to be available ...

[2021-01-08 09:44] #16077 closed

[2021-01-08 10:09] layershifter commented on #16404
@AbdouMoumen thanks for creating an issue 👍

Can you please clarify your use case? As I see `headerText` does pretty the same thing as `onRenderFooterContent()`:

https://github.com/microsoft/fluentui/blob/ef6b2396fc17e9f9c3d7746121b4b632a37fb3d8/packages/office-ui-fabric-react/src/components/Panel/Panel.base.tsx#L375

https://github.com/microsoft/fluentui/blob/ef6b2396fc17e9f9c3d7746121b4b632a37f

[2021-01-08 10:19] kubkon commented on #16383
If there are no objections, I'd like to take a look at this one and see if I can come up with a solution. I might be in need of some mentoring as to what is where, etc., but I'll do any pinging as required.

[2021-01-08 10:28] layershifter commented on #12167
As @notandrew pointed only default (i.e. `medium`) and `small` sizes are implemented. My proposal is to restrict `size` prop on `Button` to highlight this and update examples in docs.

[2021-01-08 11:23] layershifter commented on #16175
@gpaniagua013 thanks for reporting. I think that we need more details there 💭

I tried to repro it on CodeSandbox:
- CodeSandbox: https://codesandbox.io/s/fluent-ui-issue-16175-s2dm7
- Deployed app (works in IE11): https://csb-s2dm7-ewkzdqkah.vercel.app/

And it works as expected:
![image](https://user-images.githubusercontent.com/14183168/104010105-4e9bf300-51ac-11eb-9710-a649f4520262.png)

Can y

[2021-01-08 12:38] chce opened #16410 "Selection: setKeySelected(true,...) on already selected item deselects the item in single selection mode"
### Environment Information

- **Package version(s)**: Newest

### Please provide a reproduction of the bug in a codepen:

Code issue, see from line 329 here:
https://github.com/microsoft/fluentui/blob/c27c8fa7ae589a61267bd0a6f0f1c7a49a6be9c2/packages/utilities/src/selection/Selection.ts

#### Actual behavior:

Given mode = SelectionMode.single and a list of items of any length:
I select index 0,

[2021-01-08 13:42] jurokapsiar commented on #16274
I have scheduled this for upcoming sprint (Jan 11 to Jan 24)

[2021-01-08 13:53] jurokapsiar commented on #14234
Hi @MaheshakaMudli, thanks for reporting.

Can you please clarify the repro steps? You mention input in. the affected sites, but that does not use Calendar icon.
Please modify following codesandbox to show what does not work: https://codesandbox.io/s/19bsk?module=/example.js

[2021-01-08 14:50] Hotell commented on #15864
All mentioned issues should be resolved now. Please update your CRA repo with latest changes that we shipped into master.  I'm gonna close this. Feel free to re-open if you'll still experience reported issues. thank you

[2021-01-08 14:50] #15864 closed

[2021-01-08 18:08] Martype commented on #16178
@Dangerous-Mind I was able to fix it by wrapping a ScrollablePane around my DetailsList.
I basically implemented the DetailsList example from the official documentation: https://developer.microsoft.com/en-us/fluentui#/controls/web/scrollablepane

Hope this helps you, too!

[2021-01-08 18:20] Martype commented on #15527
@Ganeshrockz @mahesh-shinde-13 I just saw you have the same problem as I had. I found a solution for it: https://github.com/microsoft/fluentui/issues/16178#issuecomment-756913742

[2021-01-08 18:26] jendowns commented on #15376
Hello @tomi-msft! I noticed above in https://github.com/microsoft/fluentui/issues/15376#issuecomment-718976837 that you mentioned the lack of a focus indicator, and said you'd look into adding styles for it.

Are you working on that focus indicator here, as part of this issue? I'm asking because we have a focus indicator bug for the `CoachMark` filed in our ADO, and wanted to make sure we're track

[2021-01-08 18:32] mltejera commented on #15376
+1 to @jendowns's comment.

[2021-01-08 18:34] DaleyKD commented on #16274
Thank you!

Since this was a blocking issue, we had to move to the use of KendoReact for our input controls.  That takes the priority of this issue down for us.

In the future, perhaps when northstar (or whatever it'll be called then) is a bit more mature, we can move the input/form controls away from Kendo back to northstar.

[2021-01-08 19:21] tomi-msft commented on #15376
Hi @jendowns, I think it would be best to file a separate issue in github for that particular bug

[2021-01-08 21:32] notandrew commented on #12167
How about this:
![image](https://user-images.githubusercontent.com/6237759/104066245-f0740d80-51b5-11eb-84bb-3f8f2cf95ce2.png)

[2021-01-08 23:00] obvioussean commented on #14736
This still reproduces if you have a command bar with all disabled items

[2021-01-10 04:54] Jaiganeshkumaran opened #16421 "Make Fluent UI more consistent with Windows UI library"
I love a lot of things that are unique in WinUI and would like to see them in Fluent UI as well. Some are hard in a web browser but at least some level of consistency can be achieved. Someone has created [wincss](https://github.com/Tropix126/wincss) with some Windows-like style which you could check out and decide.

[2021-01-10 04:59] Tropix126 commented on #16421
I might note that these styles are still under very heavy development, as I only started them yesterday. It would be nice to see some consitency between the XAML controls and these react components, as they currently feel like two completely different design languages at the moment.

[2021-01-10 20:08] lambert-wang commented on #5551
@dzearing That check was added as part of the ghosting feature added to the List component a while ago. Ghosting refers to letting the user render a lightweight placeholder (the ghost) in place of the actual list contents while the list scrolls. When the user stops scrolling, the ghost should be replaced with the actual list contents.

Commenting out that section of code does not stop the items fr

[2021-01-11 09:51] jameelakowsar opened #16422 "Charting: Tooltips are not getting dismissing on escape key"
### Environment Information

- **Package version(s)**: all versions
- **Browser and OS versions**: All browsers

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

When focusing the chart through keyboard, Escape isn't dismissing the tooltips on charting.
Issue reproducing in all charts.

#### Expected behavior:

Escape key should close the tooltip

### Priorities a

[2021-01-11 11:23] Hotell commented on #14632
From my experience, having fundamental things like automated formatting and checks on ci is a must. I'd suggest to start simple

- add `prettier --check` on whole repo
  - > whoa that is gonna be slow ! Not really prettier is extremely fast. it took up to 5 seconds on 5k+ js modules in my previous project.
- run those checks only on affected project ( no idea if lage is able to do that )
- provide

[2021-01-11 13:10] WojciechKulpa commented on #16143
Hi thank you all for looking into that and details.
@ecraig12345 to answer your question, we are using TextField with other components that are using ev.target.value. One of them is Formik (as presented in initial sandbox) - theoretically in this case we could modify all occurrences of TextField to relay on value instead of using default formik behavior (I would definitely like to avoid that), but

[2021-01-11 13:47] Hotell opened #16427 "create official CRA template for fluentui/react"
Our getting started guide uses [CRA repo](https://github.com/microsoft/create-react-app-uifabric) which needs to be cloned, which is not an ideal approach anymore as CRA support custom templates since v3.4.

Goal is to create custom CRA template within our monorepo and update docs accordingly

[code]

### Tasks
- [x] Fix our CRA repo so it works with fluent v7 https://github.com/microsoft/create-r

[2021-01-11 16:02] Ganeshrockz commented on #15527
This was caused by the improper placing of divs causing the underlying DetailsList not listening to the parent div's scroll event. Modifying the div's position and assigning the `data-is-scrollable` property solved the issue.

[2021-01-11 16:02] #15527 closed

[2021-01-11 16:39] kubkon commented on #16383
I've managed to reproduce the issue locally, and managed to play with it a little bit. As far as I can work out, the issue stems from the fact that the `Callout` component doesn't introduce a nested `FocusTrapZone` for its children, i.e., the `Popup` sub-component. This is done by default by the `Panel` component BTW. I've noticed that we do define a `FocusTrapCallout` within `@fluentui/react`, an

[2021-01-11 17:35] paulgildea commented on #16047
@jurokapsiar gentle ping and updating the status :-)

[2021-01-11 17:56] Dangerous-Mind commented on #16178
Hi @Martype ,

Your workaround worked fine but we can't have a max-height on the DetailsList or it wont work.

Thanks for your help.

[2021-01-11 18:17] paulgildea commented on #16069
@atishayv Just wanted to touch base here to see if we've answered some of your questions.

[2021-01-11 18:21] paulgildea commented on #16115
@ecraig12345 We have to contact their team internally. I don't believe they have a GitHub issue filing. Let's follow up if we believe we're at spec and the issue is with the tooling.

[2021-01-11 18:26] paulgildea commented on #16116
@jurokapsiar gentle ping on this one. Updating labels.

[2021-01-11 20:39] ecraig12345 commented on #16143
I can fix the actual issue by calling `onChange` synchronously in version 8, but I'm hesitant to change the timing again within version 7 at this point--especially since this seems to only be causing issues running under `@testing-library/react` and not in production (if I'm understanding right).

One workaround would be always setting `ev.target.value = value` in the TextField `onChange` handler,

[2021-01-11 21:19] paulgildea commented on #16179
@cnamal-msft Thanks for filing this issue.

I was able to repo your experience.

@joschect - Is this by design. The documentation says that `forceFocusInsideTrap` is `false` leading me to believe that you should be able to escape the Modal with keyboard.

[2021-01-11 21:21] paulgildea commented on #16182
@haojia321 Thanks for filing this issue and providing background links. Truly appreciated!

[2021-01-11 22:15] emkessle opened #16433 "[Screen Reader][TextField] Narrator doesn't read errorMessage in scan mode when it changes"
### Environment Information

- **Package version(s)**: 7.4.0
- **Browser and OS versions**: Edge, Narrator, Windows 10

### Describe the issue:

We are using the TextField and noticed that when the errorMessage changes, the narrator doesn't read the new error text. This is an accessibility bug as the error message needs to be read by the screen reader. We're showing the errorMessage after the user

[2021-01-11 23:09] xugao opened #16434 "Unexpected screener failures with hover state"
Some screeners related to hover state are failing unexpectedly: [see test failure](https://screener.io/v2/dashboard/Skgr32fUL.microsoft-fluentui/user%2Fv-jasha%2FtooltipIssue)

The failure is repro-able when running screener stories locally on Chrome 87.

Related cause: screener updated Chrome to v87
Temporary mitigation: accepted all diffs to unblock CI

[2021-01-11 23:33] jamesedjac commented on #15418
In taking a look a this it might be a good idea to change the semantics for the swatches to the [Radio Group semantics](https://www.w3.org/TR/wai-aria-practices-1.1/#radiobutton) instead of the grid semantics.

A swatch picker is essentially a single choice selection group, just like a radio group, and is semantically simpler than a grid with selectable options. Plus more screen reader users will

[2021-01-11 23:39] sachinmrao opened #16435 "Calendar auto-opens when user uses shift+tab to move focus back into the datepicker"
### Environment Information

- **Package version(s)**: "7.147.1", "7.155.3"
- **Browser and OS versions**: Chrome, Edge on Win 10

### Describe the issue:

On non-editable datepicker, the calendar auto-opens when user uses shift+tab to move focus back into the datepicker.
This is reproducible on the demo site here - https://developer.microsoft.com/en-us/fluentui?fabricVer=7#/controls/web/datepicke

[2021-01-12 00:13] joschect commented on #16179
@paulgildea I don't believe that this is by design. It's pretty clear that when `modeless` is true the the contained focustrapzone should have `forceFocusInsideTrap` set to false, which should allow focus to escape. I'm not sure if something is wrong with modal or focustrapzone at this time.

[2021-01-12 00:17] ecraig12345 commented on #16434
Not really sure what to do here, and I may not have time to investigate. So that we at least don't lose track of what's broken, I found permanent links to the builds with the changed states (post browser upgrade) and pasted full lists for 7.0 and master below. The screenshots in the links are from the new (probably broken) states. There's unfortunately not an easy way to view the diff with the pre

[2021-01-12 01:08] mltejera opened #16437 "Support stop-color with IStyle + Styled HOC"
#### Describe the feature that you would like added

We have some svg stops that we're styling as part of a styled HOC.

Because stopColor isn't part of the IStyle interface, I have to assign their colors in the base component like a caveman, rather than the styles file.

#### What component or utility would this be added to

IRawStyleBase (I think)

#### Have you discussed this feature with our t

[2021-01-12 01:15] ecraig12345 commented on #16179
Using the [modal examples on fabricdemo](https://fabricweb.z5.web.core.windows.net/oufr/7.155.3/#/examples/modal) and the [React dev tools extension](https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi), I confirmed that `forceFocusInsideTrap` is false for the modeless modal. So maybe this is an issue with FocusTrapZone?
![image](https://user-images.git

[2021-01-12 01:17] ecraig12345 commented on #16179
Also confirmed it's still broken in [v8 beta](https://fabricweb.z5.web.core.windows.net/oufr/8.0.0-beta.34/#/examples/modal).

[2021-01-12 17:13] jdhuntington opened #16445 "FluentUI Ecosystem"
# Goal

Establish shared vision across disciplines and iterate plan to build out FluentUI ecosystem, which aims to encourage 1st and 3rd party component contributions.

# Tasks

- [x] Sync with design team building new Fluent brand experience _(Status: in progress, next sync planned)_
- [x] Prototype automatic integration of documentation/demo generation _(Status: in progress)_
- [ ] Iterate on sh

[2021-01-12 19:51] jendowns opened #16450 "DetailsList row checkboxes have the same aria label, which Narrator in scan mode reads for each row"
### Environment Information

- **Package version(s)**: `"office-ui-fabric-react": "^7.135.0` (also observed on the current Fluent website)
- **Browser and OS versions**: Edge 87.0.664.75, Windows 10 Enterprise 10.0.19042

### Describe the issue:

In the `DetailsList` component, the `checkButtonAriaLabel` prop applies the same checkbox label to every single checkbox row. So if you set `checkButtonA

[2021-01-12 20:17] jgbright commented on #16072
I have a fix for this and would like to submit a PR, but I just noticed the pinned issue suggesting contributors hold off on submitting PRs until version 8 is finalized.  I'll just keep it locally for now.

[2021-01-12 22:25] ecraig12345 opened #16452 "Future of experiments package"
`@fluentui/react-experiments` (formerly `@uifabric/experiments`) is a weird legacy package which we don't have a good story for moving forward. It's a mix of components in active development or heavy use by partners, old trials of previous patterns we should definitely delete, and things of unknown status or abandoned.

### Active development or use

These components are either under active develo

[2021-01-13 00:09] curtisj44 opened #16453 "MessageBar - error messages and the alert role attribute"
### Environment Information

- **Package version(s)**: 7.155.3 (latest version as of today)
- **Browser and OS versions**: all

### The Issue

I'm trying to use a `MessageBar` to indicate errors are present when a form is submitted. If errors are present, the `MessageBar` will be displayed:

![image](https://user-images.githubusercontent.com/810231/104385718-98f0dd00-54e8-11eb-92ca-68efeea11d8c.pn

[2021-01-13 00:10] curtisj44 commented on #16453
cc: @smhigley

[2021-01-13 00:48] ecraig12345 commented on #14371
I completely do not understand yarn's linking strategy here...after trying to remove the overrides and encountering weird behavior, I realized I could do `ls -l node_modules/.bin/tsc`.  The result, with my local changes for the TS upgrade PR (which involved changing some hoisting settings): `../../packages/web-components/node_modules/@microsoft/api-extractor/node_modules/typescript/bin/tsc` 😵😵😵😵😵😵

[2021-01-13 04:49] JustSlone commented on #16072
@jgbright actually, the code is done moving around, so it's fine to submit a PR now. Go ahead and submit a PR against master, if needed the fix can be cherry-picked to 7.0 as well.

[2021-01-13 04:56] srinivasNithin opened #16455 "Contextual menu item position is not read out by Narator"
This works on Edge Chromium with Narrator - reading out all the headers in the menu properly.
![image](https://user-images.githubusercontent.com/4161791/82231719-2d238980-98f3-11ea-8cf7-efad477b971a.png)
Unless you see a gap in the control's accessibility hookups wrt it following the ARIA spec, I don't see how this is actionable to us. This is likely a Chrome specific issue on that browser's end.

[2021-01-13 04:58] srinivasNithin commented on #16455
Even you comment the menu item is read out but position of menuitem is not read out.

[2021-01-13 05:05] Jhonatan-1504 opened #16456 "styles in fluent ui"
hi, team at Microsoft, I have a little problem with fluent ui styles, this happens to me when I use the Nav component, if it renders normal, but the colors that I put in hover or focus are not visible. this happens a lot with the compositeLink attribute.

this is my code

const navStyles: Partial<INavStyles> = {
  root: {
    width: 208,
    height: 350,
    boxSizing: 'border-box',
    border: '1

[2021-01-13 06:06] faizal3199 opened #16457 "Caret position moves on changing input type and focusing on it"
### Environment Information

- **Package version(s)**: Tested on 7.155.1
- **Browser and OS versions**: Edge (New), Chrome on Windows 10

### Details

When an following two actions happen simultaneously then caret position/selection moves to the start.
1. Focusing on input
2. Changing the input field's type.

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/faizal-has

[2021-01-13 06:08] faizal3199 commented on #16457
Can we extend the logic to retain selection to type change scenarios too? Currently, it is only for input to text area and vice versa scenarios.
CC: @ecraig12345

[2021-01-13 09:36] sachinma commented on #16292
@ecraig12345 can you look at this, triage and find the right owner.

[2021-01-13 12:40] layershifter commented on #16371
I had a deja vu with this proposal 🙀 I posted some questions in `Menu` epic that can be considered as feedback, https://github.com/microsoft/fluentui/issues/16334#issuecomment-754026628.

[2021-01-13 13:27] layershifter commented on #16457
@faizal3199 thanks for reporting, but I don't think that it's a library issue 🤔

---

I created a CodeSandbox with native elements (https://codesandbox.io/s/cool-bush-z8ow2?file=/src/App.js) to check browsers/React behavior and it behaves in the same way. I also performed tests with keyboard to understand focus behavior:

![Focus native inputs via Tab](https://user-images.githubusercontent.com/141

[2021-01-13 13:27] chenxinyanc opened #16459 "Opened dropdown is not updating checkbox id when item gets inserted"
### Environment Information

- **Package version(s)**: 7.155.3
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/xinychen/pen/eYdPoNZ

#### Actual behavior:
Open the dropdown when "No Apple" is displayed, and keep the dropdown open until a new item "Apple" is inserted.

When there is a new item ("Apple") insert

[2021-01-13 13:47] ling1726 commented on #16371
@layershifter regarding. I'm taking the converged context menu design as reference. Obv the final decision might rely on spec+review. Provisionally I would like to scope this as:

* Vertical menu context menu
* Support for triggers
* Popout support for triggers (This should definitely be tracked with respect to other projects to be reusable)

Which is what currently is addressed in the design spec

[2021-01-13 14:54] layershifter commented on #16182
@haojia321 thanks for bringing this up 👍

From Stardust 0.31.1 a lot of things changes, one of them is that in 0.35.0 we removed `popupFocusTrapBehavior` (https://github.com/microsoft/fluent-ui-react/pull/1565), they were replaced with `autoFocus` and `trapFocus` props.

`FocusTrapZone` also supports forcing focus via `forceFocusInsideTrapOnOutsideFocus` prop that can be specified for `Popup`:

[c

[2021-01-13 15:35] sankarkumar23 opened #16462 "Text on Panel control is not being selected."
#### Actual behavior:

Add some text on panel with div, label or any other html element. Try to select text with mouse.. nothing happens.
The version I am using @microsoft/sp-office-ui-fabric-core 1.11.0 and office-ui-fabric-react 7.155.3

#### Expected behavior:

The text should be selected so that it can be copied over.

### Priorities and help requested:

Requested priority: (High)

Appreciate

[2021-01-13 15:45] assuncaocharles commented on #14026
Fixed by #14970

[2021-01-13 15:45] #14026 closed

[2021-01-13 16:08] layershifter commented on #16456
@Jhonatan-1504 as I see a complex selector is used for styling:

![Applied CSS for link slot](https://user-images.githubusercontent.com/14183168/104477672-ae860580-55c1-11eb-988d-3292681bed58.png)

https://github.com/microsoft/fluentui/blob/dbe993422daef551a9bf0fa8810d153c38824e7d/packages/react-internal/src/components/Nav/Nav.styles.ts#L129-L131

I changed styles to be:

[code]

And it works like

[2021-01-13 17:52] faizal3199 commented on #16457
Thanks @layershifter

[2021-01-13 17:52] #16457 closed

[2021-01-13 18:44] ling1726 opened #16465 "Menu convergence"
# Preparation:
- [x] Started prep
- [x] Open UI Research complete
  - [link to https://open-ui.org/]
- [x] Comparison on v8 and v0 complete
  - Covered in menu spec
- [x] Gather open GitHub issues related to component in epic issue
- [x] react-* package scaffolded
- [x] Component Spec authored and reviewed
  - [link to spec in component package](https://github.com/microsoft/fluentui/blob/master/sp

[2021-01-13 19:24] ecraig12345 commented on #16292
This seems like a reasonable request and should be fairly straightforward to implement, but we’re not currently working on DetailsList and therefore not likely to get to this any time soon. If you're interested in contributing this feature, I could provide some more detailed guidance and help review a PR. Sorry I don't have a better answer right now.

[2021-01-13 23:58] assuncaocharles opened #16468 "Form.* doesn't apply inline styles"
### Environment Information

- **Package version(s): @fluentui/react-northstar@0.51.1
- **Browser and OS versions: Chrome

### Please provide a reproduction of the bug in a CodeSandbox:

https://codesandbox.io/s/fluent-ui-example-forked-ci9uf?file=/example.js

Set `inline` prop to be true in the `Form.Input`

#### Actual behavior:

`inline` styles are not applied to `Input`

#### Expected behavior

[2021-01-14 00:31] #16405 closed

[2021-01-14 01:25] bcoard commented on #15356
@khmakoto @smhigley  This appears to be resolved now.

[2021-01-14 01:29] bcoard commented on #15355
Hey folks, do we have any plan/movement here? I've experienced 2 different behaviors:

1. On my local deployment I can hear n of m information being read out but it reads the indexs as though it's a flat list when ideally the first list element for each child should reset the index to 1 (e.g. first child in a group should be "1 of m").
2. On the grouped list in the example page, I don't hear n of

[2021-01-14 01:40] bcoard commented on #16115
@ecraig12345 Is this the same issue as https://github.com/microsoft/fluentui/issues/15355?

[2021-01-14 01:51] bcoard opened #16470 "Details Row used in Grouped List (not Details Grouped List) doesn't announce selected state"
### Environment Information

- **Package version(s)**: ^7.155.1
- **Browser and OS versions**: Chromium Edge; OS Version 1903/18362.10000

### Describe the issue:

Details Row items used within a Grouped List doesn't announce whether it's selected or unselected via Narrator. As far as I can tell all properties are set but Maybe I'm just looking at the wrong control. From a user standpoint, while n

[2021-01-14 01:55] ecraig12345 commented on #16115
@bcoard I think the other one is specific to lists with grouping (whereas this one repros without groups).

[2021-01-14 01:56] bcoard opened #16471 "In a Grouped List, number of children aren't being announced by Narrator"
### Environment Information

- **Package version(s)**: ^7.155.1
- **Browser and OS versions**: Chromium Edge; OS Version 1903/18362.10000

### Describe the issue:

When navigating through a grouped list with Narrator, the user should know how many children any given group header has. The number is displayed for visual users but is never announced for Narrator users. This also repros in a Grouped D

[2021-01-14 01:57] bcoard commented on #16115
@ecraig12345 Ah, ok thanks! I didn't know if the root cause was essentially the same or not :)

[2021-01-14 02:02] ecraig12345 commented on #16115
@bcoard Might be, but I think it's worth tracking separately

[2021-01-14 14:20] chce commented on #16410
Looks like nobody wants this assigned. Should I provide a better example?

[2021-01-14 14:46] layershifter commented on #16389
@yn-tadpole it's a duplicate of https://github.com/microsoft/fluentui/issues/14334. @paulgildea have already provided there a great reply: https://github.com/microsoft/fluentui/issues/14334#issuecomment-671592447.

[2021-01-14 14:46] #16389 closed

[2021-01-14 14:48] layershifter commented on #16465
^ in #16334. Should we close #16334 in this case?

[2021-01-14 14:50] layershifter commented on #16376
Was fixed #16378 🎉

[2021-01-14 14:50] #16376 closed

[2021-01-14 14:55] layershifter commented on #16344
@akash07k thanks for reaching us, there is already an issue for tracking `Tree` component implementation #7597.

[2021-01-14 14:55] #16344 closed

[2021-01-14 14:57] ling1726 commented on #16465
@layershifter  I was told to create both an epic to track the overall convergence project and an issue to track work done for project cycles. Did I misunderstand

@jurokapsiar  @JustSlone

[2021-01-14 15:07] layershifter commented on #16398
@DaniloAG Thanks for reporting, I was able to repro it in Chrome 87, looking into it 🔍

[2021-01-14 15:50] JustSlone commented on #16465
This issue (#16465) tracks all of the things needed for convergence.

One of the things needed for convergence is collecting and considering existing open issues or ideas which is the purpose of #16334 (here's an example for tooltip #15102)

![image](https://user-images.githubusercontent.com/40304143/104614101-cb135380-563c-11eb-9527-52f73d065252.png)

[2021-01-14 16:05] akash07k commented on #7597
It would be good if someone works on this component and adds it in fluent UI

[2021-01-14 16:41] atishayv commented on #16069
Yes.. Thanks for the information.

[2021-01-14 16:51] #15538 closed

[2021-01-14 18:39] andrueastman commented on #7327
+1

[2021-01-14 19:54] brandonthomas commented on #16308
@ecraig12345 @paulgildea ping on this.

[2021-01-14 21:12] ipip2005 commented on #16038
@paulgildea Is there any updates?

[2021-01-14 21:45] ecraig12345 commented on #15688
I'm closing this as fixed because as @layershifter noted, it's fixed in version 8. If you absolutely need it sooner than then, let us know and there's another approach we've taken with some components which we could consider here.

[2021-01-14 21:45] #15688 closed

[2021-01-14 21:49] ecraig12345 commented on #12685
Looking back through some old Link bugs--I just tried the codepen and can no longer repro this, so I'm going to resolve the issue.

[2021-01-14 21:49] #12685 closed

[2021-01-14 23:27] #16362 closed

[2021-01-15 00:53] tafen commented on #16421
Hi @Jaiganeshkumaran, are there specific examples of items from WinUI that you find useful to be included in Fluent UI? We do actively work with our Windows counterparts on aligning our design language directions, so definitely in the works!

[2021-01-15 02:09] behowell commented on #16038
Hi @ipip2005, I just took a look into this.

It appears that is happening because the item's icon sets `aria-hidden="true"`. If I delete that prop, then narrator works properly in this scenario. I'm not sure why aria-hidden would cause Narrator to skip over the next item after it, but it seems like it could be a bug in Narrator...

As a possible workaround, I tried adding `'aria-hidden': false` to

[2021-01-15 05:24] piyushwaykole opened #16488 "DetailsList column sorting does not show correct rows data after update"
### Environment Information

- **Package version(s)**: ("office-ui-fabric-react": "^7.155.2")
- **Browser and OS versions**: ( Edge Chromium, Win10)

### Please provide a reproduction of the bug in a codepen:
 Codepen - https://codepen.io/piyushwaykole/pen/KKgrYLz

Steps to reproduce -
1. Go to the codepen link,
2. After landing, you'll see Fluent detailsList with two columns (roll number and name

[2021-01-15 07:05] kaushalyap opened #16489 "I cannot find typical Tab component on the website?"
I am evaluating Fluent UI for a project but I cannot find the tab and pagination components. Is it there?

[2021-01-15 08:15] v-ajrai opened #16490 "JAWS screen reader does not read state of the dropdown list items [selected /unselected] while traversing list along with state collapsed and expanded."
JAWS screen reader does not read state of the dropdown list items [selected /unselected] while traversing list along with state collapsed and expanded.
Note: JAWS screen reader also does not read associated dropdown label on focus .It reads label after dropdown is expanded post focus click on dropdown.

### Environment Information
Browser: Chrome Version 87.0.4280.88 (Official Build) (64-bit)
Scre

[2021-01-15 09:56] layershifter commented on #16489
@kaushalyap I think that you're looking for Pivot component: https://developer.microsoft.com/ru-ru/fluentui#/controls/web/pivot

---

`Pagination` component is available under [`@fluentui/react-expirements`](https://github.com/microsoft/fluentui/tree/master/packages/react-experiments) package, but it seems that it's in stale state (see #7254 for tracking the progress)

[2021-01-15 09:56] #16489 closed

[2021-01-15 12:37] #12167 closed

[2021-01-15 12:48] jurokapsiar commented on #16068
Hi, Form.Dropdown is meant for that - it combines label and a dropdown. Currently, only two-line design is supported and we will be adding inline soon.

https://fluentsite.z22.web.core.windows.net/0.51.4/components/form/definition?showCode=true&showRtl=false&showTransparent=false&showVariables=false#variants-components

(see #16468)

[2021-01-15 14:02] #14168 closed

[2021-01-15 16:21] TanelVari commented on #15538
resolved in https://github.com/microsoft/fluentui/pull/16160/

[2021-01-15 16:37] amcinerneynewf opened #16498 "TagPicker not automatically showing suggestions when inputProps `defaultVisibleValue` set and `autoFocus: true`"
### Environment Information

- **Package version(s)**: v7.118.0

### Please provide a reproduction of the bug in a codepen:

code pen: https://codepen.io/amcinerneynewf/pen/KKgbMYJ
notice that the TagPicker loads with a default value but the suggestions are not opened until you click into the input again. the autoFocus: true doesn't seem to work in code pen but works in a real runtime environment.

[2021-01-15 17:29] joschect commented on #16299
@Chinkaimu Hey! Sorry for my slow reply.

You can submit a feature to this by submitting a pull request to this github. This [section of the readme](https://github.com/microsoft/fluentui/blob/master/packages/react/README.md#building-the-repo) provides some good getting started information! Additionally we are certainly here to help.

As for the right fix, I think that adding a third middle section

[2021-01-15 17:38] #16303 closed

[2021-01-15 18:07] #13721 closed

[2021-01-15 18:29] Hotell commented on #14632
Resolved by #16446 #16476

[2021-01-15 18:50] SummerCat200 opened #16501 "Keyboard navigation not working for farItems(right side component) in CommandBar"
### Environment Information

- **Package version(s)**: 7.149.4
- **Browser and OS versions**: Edge

### Describe the issue:

We can't use keyboard to navigate to right side buttons in CommandBar
### Please provide a reproduction of the issue in a codepen:
Used same code as shown in doc site(https://developer.microsoft.com/en-us/fluentui#/controls/web/commandbar)

#### Actual behavior:
Right side b

[2021-01-15 19:09] #16049 closed

[2021-01-15 20:11] ipip2005 commented on #16038
@behowell Thanks for providing the workaround, it looks like after adding `'aria-hidden': false` the issue goes away. Not sure if it will cause any new a11y issues since icons are supposed to be hidden from screen reader? But I'll try this workaround on our side.

[2021-01-15 20:44] prsarnaik opened #16502 "Pressing arrow keys up and down do not pass focus to the content inside the pivot tab"
### Environment Information

- **Package version(s)**: "office-ui-fabric-react": "^7.103.0",
- **Browser and OS versions**: Edge Version 87.0.664.75 (Official build) (64-bit)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

When Pivot tab has a long list (ul-li) and the user focuses on that pivot using a 'tab' key, pressing arrow keys on the keyboard does not scr

[2021-01-15 20:59] davvit opened #16503 "DetailsList should generate grouping based on data"
#### Describe the feature that you would like added
Auto generate grouping via column field id/name.

#### What component or utility would this be added to

DetailsList
https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist

#### Have you discussed this feature with our team, and if so, who

no

#### Additional context/screenshots

Eg Data and component:
Pen for this discussion :

[2021-01-15 22:13] prsarnaik opened #16504 "NVDA users are not able to expand the list boxes and select value when navigated in browse mode(down arrow) and form mode shortcut"
### Environment Information

**Package version(s)**: "office-ui-fabric-react": "^7.103.0",
**OS** : Win 10 2004 (OS Build 19041.388)
**Browser**: Chromium Edge Version 84.0.522.59
**Priority**: High
### Describe the issue:

Step 1: Enable screen reader NVDA and open the above URL in New Edge browser.

Step 4: Now navigate through screen in browse mode(down arrow) or form mode(f) to the list boxes

[2021-01-16 00:45] AbdouMoumen commented on #16404
@layershifter yes, that is precisely the issue we ran into. We need more customization than just setting the text of the header.

[2021-01-16 16:39] sankarkumar23 commented on #16462
Looks like the panel CSS is restricting to select the text. Override it with user-select: text

[2021-01-16 16:39] #16462 closed

[2021-01-16 16:50] JustSlone commented on #16069
Closing out, cheers!

[2021-01-16 16:50] #16069 closed

[2021-01-16 16:53] JustSlone commented on #7597
Also, if you're interested in this component please drop a 👍 on the issue, this will help us prioritize this against other requests

[2021-01-16 17:28] JustSlone commented on #13212
@layershifter good idea. We've captured and internalized the feedback, we can always reference the closed issue later (we'll have a 2021 thread before we know it).

I'll go ahead and close this out

[2021-01-16 17:28] #13212 closed

[2021-01-17 08:27] ilanbd commented on #16181
Hi :) Any update on whether we can have it in version 7?
Thanks!

[2021-01-17 11:19] zcaudate opened #16506 "updating react-northstar docs for Provider"
There current examples for theming are outdated:

https://fluentsite.z22.web.core.windows.net/0.51.4/theming

I was struggling with just changing the `brand` color and found another with the same issue https://stackoverflow.com/questions/64916099/custom-teams-theming-with-fluentui-react-northstar

by luck, the method I tried worked so I was able to provide an answer but  the current documentation

[2021-01-17 11:20] t-w-in commented on #16290
Still not working. Can you please look into it? @ecraig12345
Thank you.

[2021-01-18 02:00] #16400 closed

[2021-01-18 02:00] #16175 closed

[2021-01-18 02:00] #16174 closed

[2021-01-18 02:00] #16162 closed

[2021-01-18 02:00] #14234 closed

[2021-01-18 06:22] jurokapsiar opened #16507 "MenuItem applies onClick on wrapper instead of the item"
### Environment Information

- **Package version(s)**: 0.51.4
- **Browser and OS versions**: all / affects mostly Chrome/VoiceOver

### Describe the issue:

MenuItem applies onClick handler on its wrapper instead of the item itself. As screen readers do not always respect event propagation, this makes menu non-clickable for screen reader users.

### Please provide a reproduction of the issue in a

[2021-01-18 08:11] v-ajrai opened #16510 "JAWS screen reader does not read associated dropdown label on focus .It reads label after dropdown is expanded post focus click on dropdown."
JAWS screen reader does not read associated dropdown label on focus .It  reads label after dropdown is expanded post focus click on dropdown.

### Environment Information

Tool: JAWS
Browser: Chrome Version 87.0.4280.88 (Official Build) (64-bit)

### Describe the issue:

JAWS screen reader does not read associated dropdown label on focus .It  reads label after dropdown is expanded post focus click

[2021-01-18 11:01] layershifter commented on #16398
The issue is present and might be related to positioning logic... I have ported an example to CodeSandbox: https://codesandbox.io/s/fluent-ui-issue-16398-2s8gc

---

I placed a breakpoint in debugger on `_toggleTooltip` method, its call comes from `_onTooltipMouseLeave`:

![A callstack of _toggleTooltip](https://user-images.githubusercontent.com/14183168/104906296-cd024d00-5983-11eb-9aee-bf37c8d75

[2021-01-18 11:04] layershifter commented on #16398
It also seems that it might be fixed by #16454.

[2021-01-18 11:43] layershifter commented on #16384
@lutorre thanks for reaching us.

https://github.com/microsoft/fluentui/issues/13170#issuecomment-629359547

![Using keyboard to navigate through items](https://user-images.githubusercontent.com/14183168/104911051-8e23c580-598a-11eb-86c8-2d940dfe8df4.gif)

I am missing something?

[2021-01-18 11:46] prademi opened #16511 "ALT attribute is not defined for the info icon Present in "MessageBar" control"
**Impact:​**

Users who rely on screen readers will find difficult to understand the context of the image, if 'Alt' attribute is not defined for info icon in MessageBar control

**Test Environment:​**

OS : Win 10 1909 (OS Build 18363.476)

Browser : Chrome (78.0.3904.70), Edge (44.18362.449.0)

Tools used: NVDA 2019.2.1, JAWS 2019.1909.28, Narrator

**Actual Result:**

Alt' attribute is not defin

[2021-01-18 12:18] srinivasNithin commented on #16455
Any update on it?

[2021-01-18 14:12] layershifter commented on #16367
@Chen-Su thanks for reaching us 👍

@joschect I briefly checked the implementation of `ListPeoplePicker` that extends `BasePickerListBelow` and it does not seem that anything related to `itemLimit` is implemented there. Can you please elaborate?

[2021-01-18 14:36] layershifter commented on #16511
I believe that we are talking about this example:

[code]

https://codesandbox.io/s/cranky-jackson-x8z5l

---

It will produce the following simplified HTML:

[code]

An icon is hidden there intentionally as is used as a decorative content:

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-hidden_attribute

[2021-01-18 14:36] #16511 closed

[2021-01-18 15:24] layershifter commented on #16342
@GordonSmith thanks for reporting, this looks like a valid issue 💭

I checked and a proper `zIndex` on Callout or layers should solve the issue, however as I see `doNotLayer` is used intentionally:

https://github.com/microsoft/fluentui/blob/20f3d664a36c93174dc32786a9d465dd343dabe5/packages/react-tabs/src/components/Pivot/Pivot.base.tsx#L226

@behowell can you please suggest a proper workaround or

[2021-01-18 17:34] #10349 closed

[2021-01-18 17:41] ecraig12345 commented on #16290
We don't officially support React 17 yet. We hope to include that as part of version 8 but got hung up on some issues with automated tests--see #15732 for progress.

[2021-01-18 17:47] ecraig12345 commented on #15743
Sorry for the late follow-up here. @alex3683 can you please provide a codepen with a repro of this behavior? You can use this one as a starting point, and add a DatePicker that's set up similarly to how you're actually using it. https://codepen.io/ecraig12345/pen/dypajWx

[2021-01-18 17:48] ecraig12345 commented on #9261
Closing because this was done at some point in the past year.

[2021-01-18 17:48] #9261 closed

[2021-01-18 17:49] ecraig12345 commented on #11421
This was done at some point in the past year when we moved these things to the react-examples package.

[2021-01-18 17:49] #11421 closed

[2021-01-18 17:50] #12365 closed

[2021-01-18 17:50] #12392 closed

[2021-01-18 17:51] ecraig12345 commented on #12464
This was fixed at some point in the past year by adding a postprocessing step. If anyone notices it break again, feel free to file a new issue.

[2021-01-18 17:51] #12464 closed

[2021-01-18 17:53] ecraig12345 commented on #12655
Closing this since Node 13 is now out of support. If anyone sees similar issues with Node 14, feel free to file a new issue.

[2021-01-18 17:53] #12655 closed

[2021-01-19 04:12] srinivasNithin commented on #16455
Environment:

Windows Version: Windows10
Chrome Version Version 87.0.4280.141 (Official Build) (64-bit)

Reproduction steps:

Open Url https://developer.microsoft.com/en-us/fluentui#/controls/web/contextualmenu
Go to ContextualMenu with section headers
Export to codepen
Open Narrator or NVDA
User Experience:
Screen reader user won’t get proper information about Menu Items like which menu items are

[2021-01-19 06:52] alex3683 commented on #15743
It's a long time (at least for my brain 😅) ago since I had that problem and filed the issue. I cannot find the spot in our application anymore, that exposed this behavior and I'm not able to reproduce it in a codepen. So maybe it has already been fixed in the meantime.
So feel free to close this issue and thanks for reaching out!

[2021-01-19 07:46] behowell opened #16518 "Avatar: Open issues to resolve in converged"
Open issues worth addressing for Avatar and Persona when converged. From a search of: [`is:issue is:open (avatar OR persona OR personacoin)`](https://github.com/microsoft/fluentui/issues?q=is%3Aissue+is%3Aopen+%28avatar+OR+persona+OR+personacoin%29)

- [x] Enum for staus prop on avatar component #15822

  - This should be addressed by the `Badge` component. The Avatar will have a slot for any badg

[2021-01-19 09:05] 4Lexs4nder opened #16520 "TooltipHost warnings in console"
### Environment Information

- **Package version(s)**:
` "dependencies": {
    "@fluentui/react": "^7.155.4",
    "@fluentui/theme": "^1.7.1",
    "@testing-library/jest-dom": "^5.11.9",
    "@testing-library/react": "^11.2.3",
    "@testing-library/user-event": "^12.6.0",
    "@types/jest": "^26.0.20",
    "@types/node": "^12.19.14",
    "@types/react": "^16.14.2",
    "@types/react-dom": "^16.9.

[2021-01-19 09:14] abhishekdgeek opened #16521 "Support for RTL at component level."
### Environment Information

- **Package version(s)**: 7.147.0

### Describe the issue:

Support for RTL/LTR at component level and not just at document level. As per my understanging, currently office-ui-fabric-react only support handling of RTL layouts (style translations via mergeStyles) on basis of document's direction.

In world of collaboration this may not fit all scenarios and there can be

[2021-01-19 10:10] v-vibsingh commented on #16287
Hi Team,

Please provide update for this issue.

Regards,
Vibhas

[2021-01-19 10:24] layershifter commented on #16520
@4Lexs4nder thanks for reporting, fixes to be compliant with React's Strict Mode were done in v8, https://github.com/microsoft/fluentui/issues/12770#user-content-react-strict-mode-support.

@ecraig12345 can correct me, but I don't think that we plan to backport them to v7.

[2021-01-19 10:24] #16520 closed

[2021-01-19 13:16] kolaps33 commented on #16142
I was looking to that and figure out following:
- the keyword "checkbox" narrates only Narrator and not NVDA
- even "checkbox" looks like correct, because user can check/uncheck menu item

Please could you specify what is wrong about narrating "checkbox"? if you think that "checkbox" keyword should not be narrated at all, please create bug for Narrrator screen reader.

[2021-01-19 13:36] kolaps33 commented on #16471
The accessibility role used in the component is "treegrid" and we have been looking into it on aria example page:
**https://www.w3.org/TR/wai-aria-practices-1.1/examples/treegrid/treegrid-1.html**

and there is no narration of "number of children" for JAWS, NVDA and Narrator as well.

Please could you specify source of the requirement? thank you.

[2021-01-19 14:10] layershifter commented on #16455
@srinivasNithin thanks for providing all details, it looks like a duplicate of https://github.com/microsoft/fluentui/issues/12594. Let me know if I am wrong.

[2021-01-19 14:10] #16455 closed

[2021-01-19 14:26] layershifter commented on #12594
I checked this with @kolaps33 and we found out that the issue might be caused by wrong elements/roles.

Currently `ContextualMenu` renders following HTML (simplified 🐔 ):

[code]

The issue that we see is that `role="group"` wraps `ul` (is equal to `role="list"`):

![An accessibility tree from Edge Devtools](https://user-images.githubusercontent.com/14183168/105046433-65bec880-5a69-11eb-91ee-e5076

[2021-01-19 14:28] #16507 closed

[2021-01-19 14:44] srinivasNithin commented on #16455
yes it is same. Thanks,

[2021-01-19 14:48] AndreyButyrchik opened #16530 "Fluent UI - React Northstar. Dialog component doesn't support scroll on touch event"
### Environment Information

- @fluentui/react-northstar - 0.51.2
- Google Chrome Version 86.0.4240.183

### Please provide a reproduction of the bug in a codepen:

Cannot scroll content inside dialog on mobile devices. `touchmove` event fires but `scroll` event doesn't fire for some reason.
https://codesandbox.io/s/stoic-moore-nxvjx?file=/src/index.tsx

#### Actual behavior:

Cannot scroll conten

[2021-01-19 15:45] llloadinglll opened #16531 "itemLimit doesn't work in ListPeoplePicker"
### Environment Information

- **Package version(s)**: latest
- **Browser and OS versions**: chrome

### Please provide a reproduction of the bug in a codepen:

itemLimit doesn't work in ListPeoplePicker

https://codepen.io/lloadingll/pen/BaLbKey
I added itemLimit={1} at line 112

some other types of  peoplepicker can work correctly

### Priorities and help requested:

Requested priority: Blocking

[2021-01-19 15:54] layershifter commented on #16531
Duplicate of #16367.

[2021-01-19 15:54] #16531 closed

[2021-01-19 16:09] dzearing commented on #16521
`mergeStyles` does not know about components, so it is impossible for that layer to do what you're asking.

However, above that layer, it's perfectly feasible. In fact, using 7.147.0, you can do that today:

[code]

Example sandbox here: https://codesandbox.io/s/nested-rtl-x3ce6?file=/src/App.tsx

Note: In future releases the Fabric component will be replaced by `ThemeProvider` component, which al

[2021-01-19 16:10] #16521 closed

[2021-01-19 17:04] #15913 closed

[2021-01-19 17:38] SummerCat200 commented on #16501
any updates?

[2021-01-19 17:39] khmakoto commented on #15356
I can confirm, I'll resolve this as `Resolution: Not an issue`.

[2021-01-19 19:34] SummerCat200 opened #16536 "ComboBox: aria-labelledby is invalid for optionsContainer if we don't pass label in props"
### Environment Information

- **Package version(s)**: 7.149.4
- **Browser and OS versions**: Edge

### Describe the issue:
If we don't pass `label` in `ComboBox` props, it shows `aria-labelledby` is invalid for optionsContainer

### Please provide a reproduction of the issue in a codepen:
https://codepen.io/SummerCat2020/pen/poEYPgo

#### Actual behavior:

![image](https://user-images.githubuserc

[2021-01-19 20:20] bcoard commented on #16471
Thanks for the feedback @kolaps33! That's a fair point. This change might not be needed satisfy an accessibility role requirement but this change should improve the accessible usability for users. From a visual POV, users are shown a grouped list with a parent/child relationship and each parent that has children (group headers) also includes the number of children in the header string. For non-sig

[2021-01-19 21:34] #15743 closed

[2021-01-19 21:36] ecraig12345 commented on #16520
@layershifter is correct, we don't plan to back-port strict mode fixes to version 7.

[2021-01-19 23:00] #16365 closed

[2021-01-20 01:02] neil-ji commented on #16364
Hi, @layershifter . Do you have any plans to deal with this proble? Any feedback may help us solve this problem, thx.

[2021-01-20 01:31] luke-davison-bp commented on #4665
This feature would still be useful.

[2021-01-20 05:20] KishorePatel2005 opened #16542 "Announced on Delete is not working."
### Environment Information

- **Package version(s)**: 7.155.4
- **Browser and OS versions**: 87.0.4280.141   Windows 10 Enterprise 20H2

### Please provide a reproduction of the bug in a codepen:

Codepen Link :- https://developer.microsoft.com/en-us/fluentui#/controls/web/announced/quickactions

Vedio :- https://web.microsoftstream.com/video/2c5fa1ff-0400-9887-cead-f1eb5a47bb2a

#### Actual beha

[2021-01-20 06:15] #16125 closed

[2021-01-20 06:36] Priyanka-Chauhan123 opened #16543 "Fluent UI Designer, colors shown are not reflective of the color input values, accessibility checker fails to report color contrast issues."
Fluent UI Designer's accessibility checker fails to report color contrast issues.  But it is hard to tell whether it is an accChecker issue or the Designer tool's issue because the colors kept changing even with the same color inputs.

**Repro steps:**
1. Open Fluent UI Theme Designer (windows.net)
2. Enter these values in the primary color, Text color and Background color text boxes.
Primary colo

[2021-01-20 07:10] #16068 closed

[2021-01-20 09:02] VasudhaAvuthu commented on #16091
@JustSlone , I also encountered this issue today. Is any PR raised fixing this bug?

[2021-01-20 11:53] codechef97 commented on #16156
any update?

[2021-01-20 12:49] kubkon commented on #16383
OK, here's an update @manishagm13257, apologies it took me that long to formulate a proper answer and a resolution to your issue -- still getting used to the codebase.

So here goes. In order to achieve focus within a `Callout` component, it first of all needs to visible, have `setInitialFocus` set, and be explicitly positioned (e.g., using `target` prop). However, this is only a prerequisite to e

[2021-01-20 12:49] #16383 closed

[2021-01-20 13:46] layershifter commented on #16398
I was indeed fixed by #16454 🎉

[2021-01-20 13:46] #16398 closed

[2021-01-20 14:01] layershifter commented on #16353
@mario-msft can you please link ARIA spec that says that `aria-level` is required?

I checked WAI-ARIA for [`role=heading`](https://www.w3.org/TR/wai-aria/#heading) and it says that `aria-level` defaults to `2`. The same thing is written on [MDN](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/heading_role#associated_wai-aria_roles_states_and_properties).

[2021-01-20 15:01] Hotell commented on #16101
I'd suggest slightly different approach:

**TL;DR:**
- gradual bumps from 3.7 to 4.x
- distribute fixes via separate PRs  by @Hotell  @kubkon @andrefcdias

**Long version:**

#### 1. migrate TS to single version policy approach with ability opt out

- we already know that working with multiple versions/non exact versions of any dependency is quite problematic and hard to reason about.
-  rather ha

[2021-01-20 15:07] layershifter commented on #16501
@SummerCat200 can you please post detailed repro steps and a Codepen example?

I checked it in latest Chrome and Edge, it works as expected 💭

![Navigation with keys in CommandBar](https://user-images.githubusercontent.com/14183168/105193981-6e7ecf80-5b39-11eb-8ce9-baff8479f11a.gif)

[2021-01-20 15:38] layershifter commented on #16543
@Priyanka-Chauhan123 I was able to reproduce both issues (controls below minimum color contrast ratio and issue from #4).

@JustSlone can you please suggest who can help with this issue?

[2021-01-20 15:43] JustSlone commented on #16091
I reached out to @Raghurk to see if he's available to take a look at this. Otherwise, I would guess that this issue is probably some kind of off by one error and wouldn't be too difficult to fix. If someone wants to dive into the code and see if a fix is straightforward that would help get this fixed sooner.

[2021-01-20 16:03] layershifter commented on #16471
@bcoard thanks for the clarification, I will open a PR to update `aria-label` shortly ⌛

[2021-01-20 17:09] mario-msft commented on #16353
@layershifter Right, I saw that documentation too. Maybe it's a bug in Accessibility Insights for Web? The tool seems to require `aria-level`

[2021-01-20 17:35] #15356 closed

[2021-01-20 18:49] smhigley commented on #16038
I took a deeper look at this, both the browser accessibility tree and the UIA representation. It's not as straightforward as an issue with `aria-hidden`: for example, the "Show Code" button the same page presents with the same issue in scan mode caret navigation. Additionally, Narrator + Edge 89 (Canary, currently) has an entirely different Narrator bug on the same control.

I couldn't find any is

[2021-01-20 19:43] v-vrusse commented on #15323
The accessibility team has dinged our app for this issue as well.  We are currently using `office-ui-fabric-react` 7.155.3 in Chrome / Edge.

[2021-01-20 19:58] SummerCat200 commented on #16501
Thanks @layershifter It works fine if we use arraw keys to navigate, but can we only use tab to move between buttons? or is it by design that we should only use arrow keys to navigate?

[2021-01-20 20:00] #16182 closed

[2021-01-20 20:54] dev3thoughts opened #16547 "react@">=16.8.0 <17.0.0" from @fluentui/react@7.156.0"
Hi, i am using react 17, i can not install fluentui?

[2021-01-20 21:42] JustSlone commented on #8976
This should be easily solved by controlling the Dropdown Component, linking this to epic issue for future consideration, but closing this particular issue.

[2021-01-20 21:42] #8976 closed

[2021-01-20 21:54] JustSlone commented on #11128
This should not be an issue in makeStyles, given this change is larger and we're heading towards makeStyles going forward closing this out. If this continues to be a problem feel free to reopen.

[2021-01-20 21:54] #11128 closed

[2021-01-20 21:56] JustSlone commented on #11480
Marking this not on roadmap. We are not working on swatch color picker right now, but may consider this in the future.

[2021-01-20 22:15] JustSlone commented on #6134
This is covered via button convergence, not needed anymore

Check out the new button here: https://github.com/microsoft/fluentui/tree/master/packages/react-button

[2021-01-20 22:15] #6134 closed

[2021-01-20 22:32] JustSlone opened #16549 "☂ TextField issues for convergence"
Closed issues to consider:
- #5539
- #16154 support input type="hidden" (if we decide to make it a more basic/flexible input)

[2021-01-20 22:32] joschect commented on #16367
@layershifter That's correct! I think that it just didn't get implemented. I'll see if I can get that added quickly. Thanks for the investigation!

[2021-01-20 22:33] JustSlone commented on #5539
Linked this to the TextField epic issue, closing out this particular instance as we won't be solving this outside of component convergence

[2021-01-20 22:33] #5539 closed

[2021-01-20 22:49] #6067 closed

[2021-01-20 22:53] JustSlone commented on #6280
I personally would love to see this, unfortunately this is not on our roadmap right now

[2021-01-20 22:53] #6280 closed

[2021-01-20 23:07] tyveille opened #16550 "[@uifabric/example-app-base] Aria-expanded attribute is not defined for "Settings" button"
### Environment Information

Test Environments:
Version:  2004 (OS Build: 20236.1005)
Browser: Edge chromium
Tool: Developer tool

### Describe the issue:

User Experience:
When navigating to a site using example-app-base, the screen reader will not able to know the state of the control and might miss the functionality present under the control if aria-expanded attribute is not defined for the con

[2021-01-20 23:13] JustSlone commented on #8069
No longer relevant with slots support going forward

[2021-01-20 23:13] #8069 closed

[2021-01-20 23:17] JustSlone commented on #8471
Closing out, will be covered as part of Dialog convergence and slots support

[2021-01-20 23:17] #8471 closed

[2021-01-20 23:20] tyveille opened #16551 "[@uifabric/example-app-base] Tooltip is not defined for "Settings" button on homepage"
### Environment Information

Test Environments:
Version:  2004 (OS Build: 20236.1005)
Browser: Edge chromium
Tool: Developer tool

### Describe the issue:

User Experience:
When navigating to a site using example-app-base, keyboard user will not be able to understand the purpose of the button and can not access the button efficiently if tooltip of the button is not defined.

### Please provide a r

[2021-01-20 23:26] tyveille opened #16552 "[@uifabric/example-app-base] Hamburger menu button is not collapsing through Esc key which appears after resizing the browser up to 200%"
### Environment Information

Test Environments:
Version:  2004 (OS Build: 20236.1005)
Browser: Edge chromium
Tool: Settings

### Describe the issue:

When navigating to a site using example-app-base, low visible user will not able to access the controls of the page efficiently if the hamburger menu item is not collapsing on pressing Esc key which appears after resizing the browser up to 200%

###

[2021-01-20 23:30] JustSlone commented on #9742
Closing this out, if this concern remains or there is renewed interest in fixing this feel free to reopen

[2021-01-20 23:30] #9742 closed

[2021-01-20 23:33] tyveille opened #16553 "[@uifabric/example-app-base] Focus indicator is not visible on "Accordion" button which is appearing in left pane buttons in high contrast white mode"
### Environment Information

Test Environments:
Version:  2004 (OS Build: 20236.1005)
Browser: Edge chromium
Tool: Settings

### Describe the issue:

When navigating to a site using example-app-base, low visible user using high contrast mode will not able to find the location of the focus indicator and can not access the application efficiently if focus indicator is not visible on any control in h

[2021-01-21 00:03] xugao commented on #6607
Closing as dup of #15155

[2021-01-21 00:03] #6607 closed

[2021-01-21 00:47] piyushwaykole commented on #16488
@layershifter Can you please look into this. I'd appreciate a workaround if fixing is going to take time.

[2021-01-21 01:32] ecraig12345 commented on #16101
@Hotell This proposal could make sense overall, but there are a couple issues we'll need to deal with.

Agreed about this.

The only single-version exception today should be with the web-components package (need to check with @chrisdholt before making any changes to its TS version).

We were blocked from going to 3.9 by a change it made to how certain exports were emitted which caused massive incr

[2021-01-21 02:51] #15530 closed

[2021-01-21 04:34] Raghurk commented on #16091
Thank you for reporting, we will be taking a look at this.

[2021-01-21 05:20] hrc7505 commented on #13991
Facing the same issue,

![image](https://user-images.githubusercontent.com/17545364/105283449-80fb1680-5bd6-11eb-91c5-f9d844d9a2cc.png)

[2021-01-21 06:30] ecraig12345 commented on #16339
Root cause of this is most likely the same as #16156.

[2021-01-21 09:55] ilbrando opened #16561 "Modal makes final form throw an exception"
### Environment Information

- @fluentui/react: 7.156.0
- final-form: 4.20.1
- react-final-form: 6.5.2

### Please provide a reproduction of the bug in a codepen:
Code sandbox: https://codesandbox.io/s/summer-cookies-rb6l0?file=/src/App.tsx

When placing the Field component in a Modal, final form throws an exception:
final-form.es.js:188 Uncaught (in promise) TypeError: Cannot read property 'activ

[2021-01-21 11:32] hantatsang commented on #15178
@JustSlone I inspected the code but cannot see what could have caused this error. There are already falsy checks in `_doesTextStartWith` to deal with `null`. I can add a try-catch in there but I'm not sure if it's worth opening a PR for this?

[2021-01-21 12:19] imdavidmin opened #16562 "React-button font size to be adjustable"
#### Describe the feature that you would like added

Since we are able to adjust the size of the button with enums (and iconSize in ButtonTokens), would be good to also have same way to adjust the size of font inside the button. Otherwise you could have a small button with a huge text. Preferably having this accessible through the ButtonToken as well.

#### What component or utility would this be

[2021-01-21 12:31] imdavidmin commented on #12639
![image](https://user-images.githubusercontent.com/48481563/105351292-48623980-5be4-11eb-934a-3fdc8d88d69b.png)
Something like this currently has to be custom made - would be good to have button choice group.
ChoiceGroup is currently its own control and seems like it would require radio buttons to be present. Since we already have toggled states styling for Buttons, would be good to expand ChoiceG

[2021-01-21 13:16] #16422 closed

[2021-01-21 13:25] #15487 closed

[2021-01-21 13:57] imdavidmin opened #16563 "Semantic colors not respected by checked Toggle react-buttons"
### Environment Information

- **Package version(s)**:
[code]

### Please provide a reproduction of the bug in a codepen:
[code]

#### Actual behavior:

![image](https://user-images.githubusercontent.com/48481563/105360176-3a1a1a80-5bf0-11eb-8780-f8efcf2d9948.png)

#### Expected behavior:
Styled "Broken" buttons in Red.
There's also no option to style Primary button in checked state, either normal

[2021-01-21 13:59] imdavidmin commented on #16563
May have something similar with #16156

[2021-01-21 13:59] layershifter commented on #16353
Yeah, I think so and suggest to report this issue to them 🐱

[2021-01-21 13:59] #16353 closed

[2021-01-21 14:19] YuanboXue-Amber opened #16564 "Remove all dot annotated components in Fluent UI"
### Proposal:

There're dot annotated components (Axxx.Bxxx)  in Fluent UI. For example `Form.Datepicker`, `Avatar.Status` and so on.
Currently the user could choose which one they would like to use, dot annotated or not. For example, `Form.Datepicker` and `FormDatepicker` are equivalent.

#### In the future, fluent UI would start to remove dot annotated component (i.e. `Form.Datepicker`) and keep

[2021-01-21 14:34] Shraddha-113 opened #16566 "Searchable Dropdown"
We have requirement for searchable dropdown. Can you provide option for search in dropdown? We tried comboBox also. It doesn't work and UI gets disturbed. So, we want dropdown enhancement. Can you provide it? Or can you suggest some other options?

[2021-01-21 15:51] shshaw commented on #11773
Following up from the CodePen side:

Sorry that some Pens are erroring. We updated TypeScript processing to the version 4.1.2 and that seems to have changed how the final output runs on the page.

Ultimately, Fabric is declared as a global variable in the external script ( `var Fabric = { ...` ), then in the Pens you're trying to redeclare that variable in the global scope through destructuring (

[2021-01-21 17:44] Hotell commented on #16101
that's fine for now and already applied in my PR. As described in my proposal (opt out). Future goal would be to get it unified for everyone (maintaining costs, etc mentioned in my proposal)

Yeah I can see that on CI report. that's unfortunate. would love to get link to TS repo with what's the cause.

Well my team and owner of those code parts should be responsible in particular sprint. (even bet

[2021-01-21 18:14] zcaudate opened #16569 "react-northstar error: Warning: Cannot update a component (`MenuItem`) while rendering a different component"
I'm not sure why this is happening. I'm using the HashRouter with Menu and it's giving this error whenever the link changes. The error is really cryptic and I'm wondering why it may be happening. If necessary, I can provide a simple example repo.

[code]

[2021-01-21 18:22] joschect commented on #16181
@ecraig12345 Yeah we should be able to get the cherry pick.

[2021-01-21 18:29] paulgildea opened #16572 "Link Convergence"
# Preparation:

- [x] Started prep
- [x] Open UI Research complete
  - https://open-ui.org/components/link.research
  - Pending PR: WICG/open-ui#253
- [x] Comparison on v8 and v0 complete
  - In [SPEC.md](https://github.com/microsoft/fluentui/blob/master/packages/react-link/SPEC.md)
- [x] Gather open GitHub issues related to component in epic issue
  - In #16622
- [x] react-* package scaffolded

[2021-01-21 18:31] ecraig12345 commented on #11773
@shshaw Thanks for following up! I've made that change for our template, but the unfortunate thing is that there's no way to fix existing codepens all-up on our side (they'd have to be updated by all the authors). So unless there's a way you can add back an IIFE wrapper this means we're stuck with a lot of issues repros that no longer render. (Though I do agree that technically this code which sha

[2021-01-21 19:31] zcaudate commented on #16569
@layershifter: I've uploaded a repo you can play with [here](https://github.com/zcaudate/play.bug-fluentui-menu):

<img width="934" alt="Screen Shot 2021-01-22 at 3 19 49 am" src="https://user-images.githubusercontent.com/1455572/105402311-3c1cc180-5c62-11eb-86b3-6d3bda68cca2.png">

[2021-01-21 20:34] bcoard commented on #16471
@layershifter someone else ran in to another issue in a similar area today. Is the below issue at all related? If the correct role as a child was set, would screen readers automatically read the number of children?

![image](https://user-images.githubusercontent.com/16261692/105409159-e3f3aa00-5be4-11eb-9cae-8da93d749f98.png)

[2021-01-21 21:32] ecraig12345 commented on #16563
#16156 is about the old button, not the react-buttons package. @khmakoto are the new buttons expected to work with semantic colors?

[2021-01-21 21:34] ecraig12345 commented on #16156
@andrefcdias Would you be willing to help with this one? If you need more info on how to approach it, let me or @khmakoto know.

[2021-01-21 21:38] ecraig12345 commented on #16339
@andrefcdias Would you be willing to help with this one too? (On a second look, I think it's actually a different root cause than #16156.) You'll need to track down which component is used to render this button, and probably add some missing high contrast styling. Here's a codepen with an isolated example of the problem: https://codepen.io/ecraig12345/pen/vYXMvYY

[2021-01-21 21:47] dzearing commented on #5328
@layershifter This particular issue gives some background on past conversations we've had about moving the styling system to something else. I think it's good to read, but also difficult to action on at this point. We've done work over the last year and continue refining the `makeStyles` solution, but it's good to read through this issue for context.

Some key points:

* Some people just want vani

[2021-01-21 21:59] ecraig12345 commented on #16338
Thanks for reporting this, though in the future can you please include the details of the error in the issue (what element it was reported on and what the rule says is missing)?

There are actually multiple issues here:

### Expanded DatePicker missing `role='listbox'` child
This applies to DatePicker in all versions (v7 OUFR, v7 `@uifabric/date-time`, and v8).

When expanded, the DatePicker's `<i

[2021-01-21 22:01] ecraig12345 commented on #16320
@Raghurk's team owns HorizontalBarChart, so he or a team member would need to consider this request.

[2021-01-21 22:06] ecraig12345 commented on #16287
Disabled controls are generally exempt from color contrast requirements, so I'd assume that is also the case here. @smhigley can you confirm whether that's correct? If so, I'll need to do some more investigation to figure out how to keep the prefix and suffix from being flagged by A11y Insights (they're a bit of a special case since they're not a direct part of the input field).

[2021-01-21 22:09] ecraig12345 commented on #16295
Thanks for reporting this. I think we'll need design input to figure out what other color would be appropriate here, then update `semanticColors.errorText` within the dark theme so that it fixes all instances of the issue across components.

[2021-01-21 22:21] #16536 closed

[2021-01-21 23:12] ecraig12345 commented on #16212
I think this is actually behaving as expected. While the OUFR v7 Calendar technically accepts and applies all native props, by default it applies them to the root element, not to child elements. And the date button elements define their own `onClick` internally which handles date selection.

Notice that in [this codepen](https://codepen.io/ecraig12345/pen/YzGMdvW), if you click an area of the cale

[2021-01-21 23:25] ecraig12345 commented on #16263
@khmakoto should confirm but I think this is behaving as expected/documented right now: based on the prop types, I don't think `StackItem` allows arbitrary props such as `data-*`, and I don't see any handling for native props in `StackItem`. However, it's definitely something we could consider adding in the future.

[2021-01-21 23:32] ecraig12345 commented on #16263
@chenxinyanc If you're willing to consider submitting a PR to add this feature, it would be pretty straightforward. I'm also going to mark this as a contribution candidate/good first issue in case anyone else is interested.

What you'd do is make a set of changes to `StackItem`-related files which is similar to a pattern you can already see in `Stack`:
* In `packages/react-internal/src/components/

[2021-01-21 23:35] khmakoto commented on #16263
@ecraig12345 yeah, I think this should be a pretty straightforward and harmless contribution.

[2021-01-21 23:36] ecraig12345 commented on #16267
I'm guessing this has something to do with the storyshot tool's handling of Windows-style newlines (`\r\n`) vs Unix-style newlines (`\n`), possibly in combination with your git newline configuration. Since this is related to a 3rd-party tool, it's not something that we can provide much help with.

[2021-01-21 23:36] khmakoto commented on #16563
They are, however I was incorrectly using `buttonBackgroundPressed` instead of `buttonBackgroundChecked`. I'll fix this issue.

[2021-01-21 23:52] ecraig12345 commented on #16202
For future issues, please provide a codepen repro of the issue (as requested in the template) to make it easier to investigate. You can start from https://aka.ms/fluentpen or the "Export to CodePen" link on one of the [website examples](https://developer.microsoft.com/en-us/fluentui#/controls/web/dropdown).

I don't think that automatic center alignment of a custom-height dropdown is something tha

[2021-01-21 23:57] ecraig12345 commented on #16201
Thanks for filing this, but could you please provide a repro of what you've tried so far in a codepen? You can start from https://aka.ms/fluentpen or "Export to CodePen" on one of the [button examples on the website](https://developer.microsoft.com/en-us/fluentui#/controls/web/button).

[2021-01-22 00:00] ecraig12345 commented on #16258
Can you please explain what you mean by "don't use the new style"?

I can see the issue with the dot being off-center, but only at certain non-default zoom levels, so I don't think that will be very high priority to fix.

[2021-01-22 00:00] imdavidmin commented on #16563
@khmakoto is there a similar issue for styling toggle primary? Or is there planned support at all?

Thanks for quick replies guys

[2021-01-22 00:05] ecraig12345 commented on #16258
I don't think our ChoiceGroup is expected to match styles of components from the XAML Controls Gallery at the moment. There's planning in progress internally for a design refresh of Fluent UI, but that will be handled as a separate all-up effort.

Regarding the dot being off-center, I can only see this at certain non-default zoom levels (even on a high DPI display), so I don't think that will be v

[2021-01-22 00:08] khmakoto commented on #16563
@imdavidmin Yeah, same issue there, I'll also fix it in the same PR.

[2021-01-22 00:19] ecraig12345 commented on #16226
Thanks for reporting this and for providing a codepen. The problem is this part in the constructor of `ShimmeredDetailsList`: it creates an array of shimmer lines on initial render and
https://github.com/microsoft/fluentui/blob/859fe008176c28a86b24d02e2d1bc1fe3d918752/packages/react/src/components/DetailsList/ShimmeredDetailsList.base.tsx#L28-L31

One easy workaround on your end is to add a `key`

[2021-01-22 00:29] ecraig12345 commented on #16184
Thanks for reporting this and for the codepen. This would be pretty easy to fix if you're willing to submit a PR, but it's not something the Fluent UI team is likely to get to soon since we're currently focused on larger work items around performance and coherence.

I think the fix would be as simple as changing this line:
https://github.com/microsoft/fluentui/blob/859fe008176c28a86b24d02e2d1bc1fe

[2021-01-22 00:36] ecraig12345 commented on #16193
Thanks for reporting this. It looks like the issue is that we need to add high contrast overrides for Separator's `backgroundColor` in these two places. The override color should be `WindowText`.
https://github.com/microsoft/fluentui/blob/859fe008176c28a86b24d02e2d1bc1fe3d918752/packages/react-internal/src/components/Separator/Separator.styles.ts#L41
https://github.com/microsoft/fluentui/blob/859f

[2021-01-22 00:38] ecraig12345 commented on #16323
We don't have this at the moment, but it's something that would definitely be cool have in the future (though no concrete plans at the moment). cc @paulgildea

[2021-01-22 00:41] ecraig12345 commented on #16296
Thanks for reporting this and for the codepen. I'm honestly not sure what the original expected behavior was here (or if anybody thought through this case), but at this point I'm very hesitant to change the behavior due to risk of regression for partners, especially since there's a straightforward workaround.

[2021-01-22 00:41] #16296 closed

[2021-01-22 01:09] ecraig12345 commented on #16276
You can do this by overriding `INavProps.styles.linkText`, basically:
[code]
Live demo: https://codepen.io/ecraig12345/pen/WNGWmZw?editors=0010

[2021-01-22 01:14] ecraig12345 opened #16582 "Add examples of Nav style overrides"
We've repeatedly gotten questions about how to do style overrides for Nav, so there probably ought to be an example on the website showing this.

Some related codepens:

Hover styles: https://codepen.io/ecraig12345/pen/abZjZme (a common request which is not obvious how to achieve from the style props)

Text styles: https://codepen.io/ecraig12345/pen/WNGWmZw

Collapsing into icons: https://codepen.

[2021-01-22 01:18] ecraig12345 commented on #16217
Sorry for the delay in getting to this. Without a live repro, it's hard to understand exactly how you're using the Dropdown or debug what might be going wrong. Easiest way to start is by clicking "Export to CodePen" on one of the [Dropdown examples](https://developer.microsoft.com/en-us/fluentui#/controls/web/dropdown). For demo purposes, you could simulate the async update after an API call using

[2021-01-22 01:32] velociwabbit commented on #16276
Thanks.

This helps a great deal ... and helps me clarify my confusion.

Just to be clear the suggestion that you provided is for all text in all links... Do you know of a way to do it for an individual link ?

INavStyleProps  has a className variable that I thought would be the place to do this? The issue i am running into is that a link uses a different font from an expand tree button.    The li

[2021-01-22 02:00] #16318 closed

[2021-01-22 03:45] lesomnus commented on #16201
https://codepen.io/lesomnus/pen/ExgJzKV

I realized  that I was using the selector incorrectly. But it still hard to make them (icon and text) transition. I tried button selector but only the text is in transition.

[2021-01-22 04:11] JustSlone commented on #16550
@tyveille can you provide a bit more details as to where this issue presents itself? Having trouble figuring out where the "Settings" button you are referring to is.

[2021-01-22 04:12] Poopooracoocoo commented on #16258
That's weird. Why is it not expected to match WinUI? I thought that the Fluent Design System was meant to be like Material Design. Why would inconsistency be by design?? I had this same question last time I made this issue. On that note, thanks for looking into it. I had a terrible time last time I made this issue.

I haven't zoomed in or out and yet the dot is off-centre. The dots of other radio

[2021-01-22 04:21] ecraig12345 commented on #16228
Checkbox uses `ActiveBorder` for the focus border color, but for some reason that doesn't seem to be implemented properly in the high contrast white theme?? I also noticed that Checkbox is the only component which uses that color, so I think we should just switch it to use `WindowText` for the focus border instead.

[2021-01-22 04:56] JustSlone commented on #15178
So, without having a live repro it's hard to know for sure, but I would say my best guess here is that the current check falsey values is insufficient here.

https://github.com/microsoft/fluentui/blob/1020e8c78a40a77d10c7f498731cf3f51f7c76b9/packages/react-internal/src/components/Autofill/Autofill.tsx#L353-L358

Tried this out in a codepen and it seems like this theory is plausible. If for whateve

[2021-01-22 04:58] ecraig12345 commented on #16262
Thanks for filing this, and sorry for the delayed response. For some reason your codepen isn't working for me, so here's another one: https://codepen.io/ecraig12345/pen/NWRmVmZ

Regarding the actual issue, is there a particular WCAG success criterion or other standard which specifies this behavior? I can see why it might be desirable in some ways to show a disabled checkbox in this case, but it mi

[2021-01-22 05:03] ecraig12345 commented on #16231
The ["variable row heights" DetailsList example](https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist/variablerowheights) includes a basic implementation of `onRenderMissingItem`.

[2021-01-22 05:18] #1462 closed

[2021-01-22 05:25] JustSlone commented on #4478
Closing this out as it is irrelevant with the move to function components going forward, if there is a strong case to fix this now feel free to re-open with reasoning

[2021-01-22 05:25] #4478 closed

[2021-01-22 05:26] JustSlone commented on #4522
This is no longer relevant (or will be fixed) with converged components and our approach on streamlining components going forward

[2021-01-22 05:26] #4522 closed

[2021-01-22 05:28] JustSlone commented on #4930
It's unlikely we'll be adding slots to the existing breadcrumb, however eventually we should refresh or converge the component and at that time this will be handled, closing this out

[2021-01-22 05:28] #4930 closed

[2021-01-22 05:29] JustSlone commented on #5544
closing, no longer relevant

[2021-01-22 05:29] #5544 closed

[2021-01-22 05:38] #5737 closed

[2021-01-22 06:21] JustSlone commented on #6338
I sent this along for consideration for future website refresh, closing out this instance

[2021-01-22 06:21] #6338 closed

[2021-01-22 06:29] JustSlone commented on #7183
Closing this out, if it comes back up as a need we can tackle it

[2021-01-22 06:29] #7183 closed

[2021-01-22 06:32] JustSlone commented on #7467
A full scheduling/calendar component is beyond the scope of Fluent UI right now. Closing this out

[2021-01-22 06:32] #7467 closed

[2021-01-22 06:47] v-ajrai opened #16583 "JAWS screen reader does not read the Placeholder text of the <textarea> created using <TextFiled>"
JAWS screen reader does not read the Placeholder text of the <textarea> created using <TextFiled>

### Environment Information

Tool: JAWS
Browser: Chrome Version 87.0.4280.88 (Official Build) (64-bit)

### Describe the issue:
JAWS screen reader does not read the Placeholder text of the <textarea> created using <TextFiled>

### Please provide a reproduction of the issue in a codepen:
https://codep

[2021-01-22 07:43] BrendanMcK opened #16584 "CommandBar split buttons not accessible to screenreader users, axe-core errors"
### Environment Information

- **Package version(s)**: 7.156
- **Browser and OS versions**: n/a

### Describe the issue:

Couple of issues: first, we're seeing failures with CommandBar split buttons when using eg Accessibility Insights, due to incorrect roles - can repro this on the [Fluent command bar page](https://developer.microsoft.com/en-us/fluentui#/controls/web/commandbar) ([Permalink versi

[2021-01-22 09:45] hantatsang commented on #15178
I'd like to have a go at a PR for this, but I'm having trouble setting up `fluentui` on my local machine. Following the contribution guides doesn't work. Will update.

[2021-01-22 10:19] progvasu commented on #15090
Having a second title on the right will make it hard for screen readers to interpret the title. Closing the issue.

[2021-01-22 10:19] #15090 closed

[2021-01-22 14:21] jurokapsiar commented on #16250
I am able to repro it inside of the Electron client. However this does not seem to be an issue with the components rendering - probably Electron web view used to host third party apps is not updating the layout for some reason. I will reach out to Extensibility tean

[2021-01-22 14:24] jurokapsiar commented on #16250
I can see that when the component is in a codesandbox, resizing the preview pane forces it to re-render. So there might be a dirty workaround to change the container width by a small amount to force the webview to rerender.

[2021-01-22 14:27] DaleyKD commented on #16250
@jurokapsiar - I'm glad to know you've been able to reproduce it.  I have to agree that it doesn't seem like it would be the component (I mean, it works great in Chrome).  I was concerned that it was my "lame" attempt at cobbling together a side panel.

For now, we've marked this as a known issue, but this is actually a pretty important part of our product, that the severity is decently high.

I a

[2021-01-22 14:51] tdetugny opened #16588 "@fluentui/react warning: e.getAttribute is not a function"
### Environment Information

- **Package version(s)**: 7.146.2
- **Browser and OS versions**: n/a

### Describe the issue:

If you use a React portal with a TextField inside the DetailList component, you always get a warning.

#### Actual behavior:

You have a warning js in the browser console

#### Expected behavior:

You should not ^^

### If applicable, please provide a codepen repro:
Please se

[2021-01-22 15:36] andrefcdias commented on #16339
I'll take a look at it

[2021-01-22 17:59] Raghurk commented on #16091
Issue is fixed, please test it with the latest package

[2021-01-22 17:59] #16091 closed

[2021-01-22 18:27] tomi-msft opened #16591 "Create a package for the branded react-mdl2-icons"
### Environment Information

- **Package version(s)**: (v8)
- **Browser and OS versions**: (fill this out if relevant)

### Describe the issue:

There is a [PR](https://github.com/microsoft/fluentui/pull/15691) to remove branded icons from the `react-icons-mdl2` package.  This issue is to track the work to move the branded icons to a separate package

#### Actual behavior:

#### Expected behavior:

[2021-01-22 21:12] JustSlone commented on #15178
Ok, talked about this with some folks.

The use of _doesTextStartWith here is likely on value, inputValue, or suggestedDisplayValue, all of these are typed as strings and should be strings.

Something that is not null or undefined but also not a string is being passed in here (probably a non-zero number). This is likely an application bug.

So, rather than adding a check or converting the number t

[2021-01-22 22:28] SummerCat200 commented on #16501
@layershifter Another question is if we have `SearchBox` or `TextField` in items or faritems, using arrow keys to navigate seems a little weird, because arrow keys are used to navigate between the characters, and they are also used to move between controls. Do we have a better solution for that?

[2021-01-23 00:15] behowell commented on #16342
It looks like removing `doNotLayer` will work. I think I originally added it to work around another bug, but the overflow seems to be working fine without it now.

[2021-01-23 00:37] velociwabbit commented on #16276
I just tried the change recommended and while it changes all the links and sublinks to the same color it is doing what appears to be correct.  So i am going to close this issue with a thank you to Ms Craig for her help

[2021-01-23 00:37] #16276 closed

[2021-01-23 00:46] ecraig12345 commented on #16302
Talked about this with our designers, and the proposed solution (which aligns with an upcoming design refresh) is to add a new prop determining whether to use an underline or not. The terms used for this in the design refresh will be "subtle" (no underline) and "inline" (underline).

This is my proposal for the API but open to suggestions from @khmakoto (who's worked on Link convergence) or others

[2021-01-23 00:51] ecraig12345 commented on #16302
Or I suppose a simpler solution would be to just do a boolean prop `underlined`.

[2021-01-23 00:52] khmakoto commented on #16302
@ecraig12345, that's what I was about to say, have a boolean `underlined` or `inline` prop with default value `false` so we can default to no underline.

[2021-01-23 00:54] ecraig12345 commented on #16302
@khmakoto Hmm I could go with either of those. `inline` as a standalone prop name is a little overloaded since there's also CSS `display: inline`, though actually that might actually work to our advantage in this case since a `display: inline` link ought to also be underlined. `underlined` is longer but entirely unambiguous.

[2021-01-23 01:04] khmakoto commented on #16302
After speaking with @ecraig12345 offline we'll go with `underline` for the moment and possibly revisit in the future. I'll work on the change as soon as I can.

[2021-01-23 01:08] ecraig12345 commented on #16276
Glad that helped! You can change the color of the expand icon using `INavProps.styles.chevronIcon`. This and the other available style props are documented [here](https://developer.microsoft.com/en-us/fluentui#/controls/web/nav#inavstyles). I've updated my codepen to make the expand icon red too.

There's unfortunately not a great way to customize styles for a single link right now. In theory you

[2021-01-23 01:12] ecraig12345 commented on #16100
cc @behowell for awareness, but based on @JustSlone's comment I'm going to mark this as "not on roadmap" for now (Ben or Justin feel free to modify if that's wrong).

[2021-01-23 01:15] ecraig12345 commented on #14449
Closing this since most elements are done and any issues moving forward will be tracked elsewhere.

[2021-01-23 01:15] #14449 closed

[2021-01-23 01:20] ecraig12345 commented on #13229
Closing since this is resolved for now. If anyone sees it come up again, please file a new issue.

[2021-01-23 01:20] #13229 closed

[2021-01-23 01:37] ecraig12345 commented on #13195
Very belatedly coming back to this (sorry). The issue here is that the label sub-component styles are supposed to be (basically) of type `ILabelStyles`, so the actual styles ned to go under a `root` property.
`<TextField styles={{ subComponentStyles: { label: { root: { /*your styles here*/ } } } }} />`.

We unfortunately aren't able to express this typing properly in `ITextFieldSubComponentStyles.

[2021-01-23 01:37] #13195 closed

[2021-01-23 01:59] ecraig12345 commented on #13192
Finally looking back at this, sorry.

The props `IDatePickerStyles.label` and `IDatePickerStyles.subComponentStyles` don't exist, so that's why they don't do anything.

`IDatePickerStyles.textField` is applied to the root of the TextField, which contains both the label and the field itself.

There are two possible approaches for styling the label and field. (demo of both:
https://codesandbox.io/s/

[2021-01-23 01:59] #13192 closed

[2021-01-23 02:01] ecraig12345 commented on #13191
Going to close this since although it's an interesting idea, as far as I'm aware it's not something we plan to change at this time.

[2021-01-23 02:01] #13191 closed

[2021-01-23 02:26] velociwabbit commented on #16276
Good to know about the INavLink.className not being used (my guess is that it is documented as such in the .ts file somewhere).

I think that there is a general issue about how to handle sub component styling... mergeStyles and mergeStyleSet are fine but it is unclear when root will work,  when you have to call the getStyles function etc.

Css is a big pain in the backside because of its incompati

[2021-01-23 02:41] velociwabbit opened #16598 "options for dev:storyboard not working in latest release"
### Environment Information

- **Package version(s)**:   "fluent-ui-react-repo"  "version": "1.0.0"
- **Browser and OS versions**:  Windows 10 Pro 2004 build 19041.746 both chrome and Edge

I downloaded the latest zipped version of OUIFR and yarn, yarns start... (I also tried with npm and npm start)
I also tried with node versions  14.0, 15.6.0, 14.3.1 all have same result

When I start up the npm

[2021-01-23 07:00] #16231 closed

[2021-01-23 09:34] cris1901 opened #16600 "SPAM"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:

### Please provide a reproduction of the issue in a codepen:

#### Actual behavior:

#### Expected behavior:

### Documentation describing expected behavior

[2021-01-23 09:57] cris1901 commented on #16600
eu

[2021-01-23 10:13] NinthDesertDude opened #16601 "Rerendered slider with different value w/o user interaction slides from previous value"
### Codepen:
https://codepen.io/marcusrizzoti/pen/XWjwEQZ

### Environment Information
- **Package version(s)**: same as https://aka.ms/fluentpen

#### Actual behavior:
If the value assigned to a controlled Slider component changes between renders before user input occurs, the correct slider value and label is displayed, but the slider reacts to increment/decrement as though it held the original v

[2021-01-23 10:14] #16600 closed

[2021-01-23 10:41] cris1901 opened #16602 "deletar conta"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

#### Expected behavior:

### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected:

[2021-01-23 23:00] #16421 closed

[2021-01-24 01:08] PathToSharePoint commented on #16212
@ecraig12345 ,

First, thank you for the sample and codepen tip!

I get your point. I think what confused me was that onPointerDown was triggered and not onClick. The v8 behavior where none is triggered is more consistent. Also, I am used to event delegation on calendars and the choice made for Fluent UI is different from what I've seen in other libraries.

Would you have an ETA for v8? And would

[2021-01-24 14:32] sonntag-philipp commented on #15669
Are there any updates on this?

[2021-01-24 19:38] alnasar opened #16605 "Adding FocusIndex to IGroupedList to dynamically change selected row"
#### Describe the feature that you would like added

I am using GroupedList component, and i want to be able to focus on item index using the component ref (like the detailslist)

#### What component or utility would this be added to

GroupedList

#### Have you discussed this feature with our team, and if so, who

No

#### Additional context/screenshots

[2021-01-25 00:00] #16202 closed

[2021-01-25 03:44] SamuelQZQ opened #16606 "Stacked bar chart customize hover card"
#### Describe the feature that you would like added

We would like to make the hover card show the percentage format text. But currently it seems can only show a pure number.

#### What component or utility would this be added to

StackedBarChart

#### Have you discussed this feature with our team, and if so, who

No

#### Additional context/screenshots

![image](https://user-images.githubusercont

[2021-01-25 03:46] SamuelQZQ commented on #16606
I'm willing to take this code change.

[2021-01-25 04:59] FeodorFitsner opened #16607 "Context menu is not showing when MenuButton clicked"
### Environment Information

- **Package version(s)**: @fluentui/react@8.0.0-beta.41, @fluentui/react-button@1.0.0-beta.23
- **Browser and OS versions**: Latest Chromium Edge

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/align-buttons-middle-forked-tww0y?file=/src/App.tsx

#### Actual behavior:

Context menu is not showing when button clicked.

#### Expected

[2021-01-25 07:43] Dan86de commented on #12184
Is there any way to change icon name on hover? I dont wanna render two IconButtons i wanna have one which is changing icon name on hover. Below screenshot :

![image](https://user-images.githubusercontent.com/23312063/105675380-574d3280-5ee9-11eb-9ab4-bb90f05d0189.png)

I wanna change 'Lock' icon when whole row is on hover to 'More' icon. Any ideas how to get this done?

[2021-01-25 09:04] schemburkar commented on #12184
@Dan86de  Your requirements seem to be unrelated to the styling issues. In any case, would something below work for you?

https://codepen.io/shubhan/pen/WNGqZOy

[code]

[2021-01-25 09:12] Dan86de commented on #12184
This one can work. Thank you.

[2021-01-25 10:52] jurokapsiar commented on #16569
we will take this in the current sprint (Jan 25 to Feb 7). Thanks for reporting @zcaudate

[2021-01-25 13:25] mkharibalaji commented on #16607
Hi @FeodorFitsner ,

Try adding ContextualMenu

        <MenuButton ghost transparent menu={<ContextualMenu {...menu} />}>Menu button</MenuButton>

https://codesandbox.io/s/align-buttons-middle-forked-tvs55

You can find more example here,

https://github.com/microsoft/fluentui/blob/48d30d84067583480c05c690d842c79a4ee9f87d/packages/react-examples/src/react-button/MenuButton/MenuButton.stories.tsx

[2021-01-25 13:29] layershifter commented on #16569
We actually need to port latest changes from https://github.com/dai-shi/use-context-selector:

[2021-01-25 13:31] mkharibalaji opened #16610 "MenuButton onClick is not dismissing after clicking"
Environment Information

    Package version(s): @fluentui/react@8.0.0-beta.41, @fluentui/react-button@1.0.0-beta.23
    Browser and OS versions: Latest Chromium Edge

Please provide a reproduction of the bug in a codepen:
https://codesandbox.io/s/align-buttons-middle-forked-uun1e

Actual behavior:

MenuButton onClick of IContextualMenuItem is not dismissing after onClick
Expected behavior:

After

[2021-01-25 13:34] layershifter commented on #16501
It's by design, `Pivot` implements `role="menubar"`, according to https://www.w3.org/TR/wai-aria-practices/examples/menubar/menubar-1/menubar-1.html:

|Key | Function |
| -- | -- |
| <kbd>Right Arrow</kbd> | Moves focus to the next item in the menubar. If focus is on the last item, moves focus to the first item. |
| <kbd>Left Arrow</kbd> | Moves focus to the previous item in the menubar. If focus

[2021-01-25 13:34] #16501 closed

[2021-01-25 13:37] layershifter commented on #16610
@mkharibalaji Thanks for the report, I was able to reproduce the issue.

[2021-01-25 14:33] layershifter commented on #16471
This looks like a completely separate issue, feel free to report it 👍

A title that screen readers will use is defined by `aria-label`, I don't see how role change fix it :(

[2021-01-25 15:11] layershifter commented on #16547
@dev3thoughts are you using NPM v7? Do you have React 17 in your dependencies?

---

@ecraig12345 should we consider changing `peerDependencies` for v8? It creates issues with NPM v7 (https://github.com/Semantic-Org/Semantic-UI-React/issues/4129) - it's really impossible to install packages 😨

[2021-01-25 15:50] layershifter commented on #16561
@ilbrando thanks for reporting, with v8 it works as expected: https://codesandbox.io/s/musing-jennings-9pq36

I was able to reproduce it with v7 only when `validate` is an async function, during React rendering it works as expected:

![image](https://user-images.githubusercontent.com/14183168/105728961-ffd0b600-5f2c-11eb-839b-3778b805a37d.png)

However, during `runValidation()` `safeFields` is emp

[2021-01-25 16:02] alnasar commented on #16605
is the current only option if doing this is to support selection property and add a ref to grouped list.
using the groupedList.current.props.selection?.selectToIndex ??

[2021-01-25 17:00] #16384 closed

[2021-01-25 17:10] xugao commented on #7531
This is out of scope for version 8 as this is a breaking change for existing users. For future reference, i think static css like this should be defined in theme, which allow user to easily override/remove if needed.

[2021-01-25 18:18] chrisdholt commented on #15669
There are some naming differences as well as differences in implementation, but we do have some coverage here from a primitive component standpoint:

[x] Pivot - *See "tabs"*
[x] Breadcrumb
[ ] CommandBar - Dependent on "toolbar" (https://github.com/microsoft/fast/blob/master/specs/toolbar.md)

[x] Dropdown - *See "select". Initial work for a basic select is complete and work on a robust combobox

[2021-01-25 18:24] dev3thoughts commented on #16547
@layershifter I am using Node -V12.18.3 and React-17 yes.

[2021-01-25 18:26] ecraig12345 commented on #16212
At the moment I don't think we have a direct way to customize the date buttons' `onClick` or access the click event. Specifically what did you want to do that doesn't work with `onSelectDate`?

We hope to release version 8 in mid-February, working on figuring out a specific date now. In the meantime, if you want you can switch to using the DatePicker from `@uifabric/date-time` version 7--we're swi

[2021-01-25 18:30] ecraig12345 commented on #16547
@layershifter We're tracking React 17 support in #15732. I think we were hesitant to add it to the peer deps range until we were at least able to run tests against it to do basic verification, but considering that 8 is a beta version it would probably be okay to go ahead and add it to the range and tell people to report any bugs they find.

[2021-01-25 18:34] FeodorFitsner commented on #16607
Thank you @mkharibalaji I've been able to make it working!

MenuButton sample in [react-button/README.md](https://github.com/microsoft/fluentui/blob/master/packages/react-button/README.md#menu-buttons) is misleading by suggesting `{ items: ... }` can be used as a menu source while in reality `{<ContextualMenu ... />}` is expected and [MenuButton.stories.tsx](https://github.com/microsoft/fluentui/b

[2021-01-25 18:41] ecraig12345 commented on #16302
@khmakoto Just realized, we should ideally also update the examples which use Links within text to use the new prop (definitely the Link examples, maybe others too if it's not too hard). And update `MarkdownLink` in `react-docsite-components`/`example-app-base` to be underlined by default.

[2021-01-25 19:05] PathToSharePoint commented on #16212
I had a couple scenarios in mind:
- multiple date selection (for booking), but not a range
- multiple button states, for example unselected / full day / morning / afternoon

I am not really surprised that there is no direct access to button click. It confirms what I mentioned earlier, that such cases are usually handled by delegation. Wouldn't onSelectDate be able to pass the event target?

Thanks

[2021-01-25 19:06] #16468 closed

[2021-01-25 20:18] ecraig12345 commented on #16212
We could potentially add an event argument to `onSelectDate`, but I suspect proper handling for the scenarios you mentioned would require substantial changes to DatePicker/Calendar internals (which is not something we're likely to get to any time soon unfortunately).

[2021-01-25 20:28] lucas-stanford opened #16612 "[@uifabric/example-app-base] Narrator is not reading "Expand all" column header appearing below the interface section"
**Environment Information**
Version:  2004 (OS Build: 20236.1005)
Browser: Edge chromium
Tool: Developer tool
Bug id: 8759558

**Describe the issue:**
In the package `@uifabric/example-app-base` the interfaces section's "Expand all" column header appearing below the Interface section text is not announcing 'expand all' and is announcing "group expanded" only.

**Please provide a reproduction of th

[2021-01-25 21:16] PathToSharePoint commented on #16212
The event argument would be a nice addition, and I'd say it is common practice in event handlers.

Understood about my scenarios, especially I don't expect the second one to be a standard request. I am sure I can work it out with the event handler.

Thanks!

[2021-01-25 21:16] #16212 closed

[2021-01-25 22:21] ecraig12345 commented on #16598
Downloading a zip file is really only meant for browsing the code, not for using local demo apps or contributing. As such, we unfortunately can't afford to invest time in making that experience work nicely.

Even if you're not comfortable with using Git, there are many tutorials online that should be able to help get you far enough to follow our [standard getting started instructions](https://gith

[2021-01-25 22:21] #16598 closed

[2021-01-25 22:34] velociwabbit commented on #16598
Good to know.

I like downloading the zip because it  is so simple and such a great user experience... download unzip and npm i.

I still do not know why there is not a "git zip" that is identical to a "git pull" (or is it fetch?)  only from the browser?

Don't get me started about the Visual studio version.

While i have  used git many times... i think i am git dyslexic ( gitslexic? )   to me sou

[2021-01-25 22:40] lucas-stanford opened #16613 "[@uifabric/example-app-base] Screen reader is not announcing any information about the code section which appears after activating "Show code" button"
**Test Environments:**
Version:  2004 (OS Build: 20236.1005)
Browser: Edge chromium
Screen reader: Narrator, NVDA & JAWS
Bug id: 8771462

**Describe the issue:**
In the package @uifabric/example-app-base

**Please provide a reproduction of the issue in a codepen:**
Unable to use codepen as the issue is located in @uifabric/example-app-base

**Actual Result:**
Code section appears after activating

[2021-01-25 22:51] ecraig12345 commented on #16583
We're rendering the placeholder with `<textarea>`'s native `placeholder` attribute, so if JAWS isn't reading that, it's either the intended behavior, or an issue with JAWS itself.

In general, placeholder text is not expected to work as hint text for screen reader users, and actually may not work so well even for sighted users. [This article](https://www.deque.com/blog/accessible-forms-the-problem

[2021-01-25 22:54] ecraig12345 commented on #16380
This looks like an issue with a product page overall, not with specific Fluent UI controls. For each Fluent UI control which you think has a problem, please file a separate issue with an isolated CodePen repro. You can either start from the "Export to CodePen" button available on most of our [control examples](https://developer.microsoft.com/en-us/fluentui#/controls/web), or from https://aka.ms/fl

[2021-01-25 22:54] #16380 closed

[2021-01-25 23:01] ecraig12345 commented on #16212
It looks like someone filed a feature request for adding an event parameter in #12345. Unfortunately I can't guarantee that we'll get to it any time soon given other priorities.

[2021-01-26 00:22] williammh opened #16617 "DetailsList selection column header can't be set independently from ariaLabelForSelectAllCheckbox"
### Environment Information

- **Package version(s)**: 7.156.0

### Describe the issue:

If column header is not text but an input like a checkbox, then the aria labels for the column header and input should not match nor can they be set independently

https://github.com/microsoft/fluentui/blob/8abb40a4be05e733274a3917b4ae8ad61f90123d/packages/react/src/components/DetailsList/DetailsHeader.base.ts

[2021-01-26 01:00] FeodorFitsner opened #16620 "Set column width in DetailsList"
#### Describe the feature that you would like added

Being able to programmatically set column width in DetailsList to preserve control state between refreshes.
Something like `IColumn.defaultWidth`.

#### What component or utility would this be added to

DetailsList

#### Have you discussed this feature with our team, and if so, who

No, but there is https://github.com/microsoft/fluentui/issues/9

[2021-01-26 02:00] neil-ji commented on #16364
![dropdown_bug_1](https://user-images.githubusercontent.com/45644652/105787747-11ac6a80-5fba-11eb-8d26-7e70cf1d979c.png)
We think this topic is important for mobile user, do you have some better proposals or answers? In addition, if this topic is not the key point, please let me know, and I will try another ways.

[2021-01-26 03:02] khmakoto opened #16622 "Link: Open issues to resolve when converging"
Open issues worth addressing for `Link` when converged. From a search of: [`is:issue is:open link`](https://github.com/microsoft/fluentui/issues?q=is%3Aissue+is%3Aopen+link) and [`is:open is:issue label:"Component: Link"`](https://github.com/microsoft/fluentui/issues?q=is%3Aopen+is%3Aissue+label%3A%22Component%3A+Link%22).

- [x] ~#16302 - Insufficient contrast between links and surrounding text~

[2021-01-26 03:13] ecraig12345 commented on #15971
This appears to be caused by @ThomasMichon's PR #14980 which added strict mode support to DetailsList. #16332 from @dps88 is another resizing-related issue introduced in the same version, with slightly different steps and desired behavior but I suspect the same root cause.

I can't easily verify @clavx's scenario directly since there's no codepen (please provide a codepen link in the future, not j

[2021-01-26 03:15] ecraig12345 commented on #16332
Thanks for the detailed repro info, and sorry for the delayed response. I think this is a duplicate of #15971 (slightly different scenario but very likely the same root cause), so I'm going to close this one and continue the discussion there.

[2021-01-26 03:15] #16332 closed

[2021-01-26 04:28] behowell opened #16626 "Remove customSize prop from Avatar"
Per feedback on the spec review, the `customSize` prop should be removed. Instead, the `size` prop can be set to the nearest smaller supported size, and the `width` and `height` tokens can be used to specify the custom size.
 https://github.com/microsoft/fluentui/pull/16524#r564209118_

[2021-01-26 07:41] SamuelQZQ commented on #16606
I found that related PR: #15697

[2021-01-26 07:41] #16606 closed

[2021-01-26 07:51] Dan86de commented on #12184
Another stuff related to this button on hover change. Our problem is IconButton is rendered insire DetailsRow component is there any way to tell IconButton component that DetailsRow in which he is sitting is hovered?

[2021-01-26 08:19] behowell opened #16627 "Change Avatar active prop from `boolean?` to an enum"
From spec review feedback:

https://github.com/microsoft/fluentui/pull/16524/files#r564206965

[2021-01-26 08:24] behowell opened #16628 "Avatar: Add support for colors"
Need to add support for Avatar text and background colors, from the design spec.

Also update SPEC.md and MIGRATION.md in react-avatar to mention the new prop(s) added for color support.

[2021-01-26 08:51] #16342 closed

[2021-01-26 11:40] NewFuture opened #16633 "ThemeProvider remove the root div"
#### Describe the feature that you would like added

ThemeProvider renders without additional root dom.

#### What component or utility would this be added to

`@fluentui/react-theme-provider`

#### Have you discussed this feature with our team, and if so, who

#### Additional context/screenshots

* now using ThemeProvider
[code]
renders  result
[code]

* while, using Fabric
[code]
renders  result

[2021-01-26 12:14] #13774 closed

[2021-01-26 12:46] andrefcdias commented on #16156
Investigating this now.

[2021-01-26 13:49] #10631 closed

[2021-01-26 14:44] intercaetera commented on #12315
Are there any plans to pick this up?

[2021-01-26 15:04] mkharibalaji commented on #16607
Thats true....Documentation needs to be updated.

[2021-01-26 15:19] #16193 closed

[2021-01-26 17:00] #16142 closed

[2021-01-26 17:08] tonianelope commented on #9591
+ 1 on the issue.

[2021-01-26 17:40] Raghurk commented on #16140
I will ensure this gets fixed

[2021-01-26 17:40] Raghurk commented on #15191
I will follow up on this

[2021-01-26 17:43] Raghurk commented on #16406
Thanks for reporting. I will follow up on this.

[2021-01-26 19:13] joschemd opened #16646 "Update storybook to add wrapper for ThemeProvider"
https://github.com/microsoft/fluentui/blob/82d09c561d1588c03d72f7715dbf86f668944d0d/packages/react-examples/.storybook/preview.js#L16-L31

Should be replaced with this:
[code]
In v8, the strict mode decorator is okay for all packages except charting and experiments.

For reference, this is the full list of package which DO NOT have the theme provider decorator today:
azure-themes
react
react-chart

[2021-01-26 19:18] sparx2020 opened #16647 "TypeError: Cannot read property method of undefined + onSelectionChanged + office-ui-fabric-react/lib/Dropdown"
Unable to call method in onSelectionChanged Method of Fluent UI Dropdown (TypeError: Cannot read property method of undefined + onSelectionChanged + office-ui-fabric-react/lib/Dropdown).

Screenshot
https://1drv.ms/u/s!Avq9uGI4OfVxat1y30B9jsCbC4g?e=BORWvq

Method getMytodolistId is called inside onSelectionChanged
 this.getMytodolistId(PageContext,strUserEmail,generalTaskId).then((itemId:number) =

[2021-01-26 20:04] BrunoAlmeidaKotesky opened #16649 "TypeError: Cannot read property 'disabled' of undefined on Dropdown Change when changing several times"
#### Actual behavior:
 If you start changing a controlled Dropdown component several times which has a **disabled** property, at some point the application crashes (not sure if it happen's on production build, using create-react-development template).

![image](https://user-images.githubusercontent.com/41238306/105897851-7934db00-5ff7-11eb-9a18-f0d639a0d520.png)

#### Code Example:
[code]

#### Ex

[2021-01-26 20:17] sbrian26 opened #16650 "Will Vue.js be supported?"
Will Vue.js be supported? - Are there any efforts ongoing to port the #fluentui for direct use within vue.js projects?
[office-ui-fabric][fluentui-react] [fluentui](https://stackoverflow.com/questions/tagged/office-ui-fabric).

[2021-01-26 22:34] ycoco commented on #14614
@paulgildea @joschect @khmakoto I think the problem here is the `onChange` function is fired twice if both 'allowFreeForm' and 'multSelect' is enabled.
In the onChange function, when we handle updating current selected items, we do not know if it's a select action or an un-select action.  Depending on if the changed option is in the selectedKeys, we add/remove the option.  If the option changed is

[2021-01-26 22:56] cabillin opened #16651 "PivotItem ignoring HTMLAttributes"
### Environment Information

- **Package version(s)**: 7.137.2
- **Browser and OS versions**: Edge Dev, Edge, Chrome

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/KnetTravlr/pen/ExgqQqj

#### Actual behavior:

className, styles, etc. passed into PivotItem do not appear in the generated DOM

#### Expected behavior:

className, styles, etc. should be applied to the t

[2021-01-26 23:17] behowell opened #16652 "Avatar: Remove `display` prop and update display priority to image => icon => name"
Updating the Avatar implementation based on spec review feedback:
https://github.com/microsoft/fluentui/pull/16524#discussion_r564903828

[2021-01-27 00:21] amygl opened #16653 "TextField with multiline and autoAdjustHeight unexpectedly scrolls when line added or deleted"
### Environment Information

- **Package version(s)**: Detected in 7.84.1. Still repros against 7.157.0

- **Browser and OS versions**: Edge, Chrome, IE (doesn't seem relevant)

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/amygl/pen/MWjNVMe
https://fabricweb.z5.web.core.windows.net/oufr/7.157.0/#/examples/textfield

#### Actual behavior:
- Text field with multiline

[2021-01-27 00:51] gadusumi opened #16654 "Issue with Scrollable component when scroll bar is at bottom of page"
### Environment Information
Package version(s)**: 7.156 (also reproducible in 7.149 and in 8.111.2)
Browser and OS versions**: Chrome

reproduction of the bug in a codepen: : https://codepen.io/goutham-a/pen/JjRVXOJ

Issue : Scrollable component not working as expected at 80% screen width
Description: When we scroll to the end of the screen using mouse in chrome(all recent versions),a blank screen

[2021-01-27 06:29] sparx2020 commented on #16647
Please find below the details. If more informations required, please let me know.

1) Which Fluent UI component is causing the issue - Office Fabric Dropdown Control

  https://developer.microsoft.com/en-us/fluentui#/controls/web/dropdown

Facing issue in Onchange of the dropdown

2) Which package name and version the component is from
  "@fluentui/react": "^7.154.0",
   "office-ui-fabric-react":

[2021-01-27 11:03] vinapawar17 opened #16657 "Accessibility Bug : Narrator does not read the sorting option for column header i.e. "Aria-sort"."
Trying to read Aria-sort property for detail Grid but Narrator is not supporting to read any column header which is clicked/sorted.
Please confirm whether Aria-sort is supported by Narrator + Edge/chrome or Not.

Describe the issue:

There's grid with sorting button beside column header.
on click of sorting button it should read ascending/descending/not sorted

Actual behavior:

at column headers

[2021-01-27 12:23] assuncaocharles commented on #16116
Fixed by: #16118

[2021-01-27 12:23] #16116 closed

[2021-01-27 12:40] kubkon opened #16658 "Image Convergence"
# Preparation:
- [x] Started prep
- [x] Open UI Research _complete_
  - [WICG/open-ui#274](https://github.com/WICG/open-ui/pull/274)
- [x] Comparison on v8 and v0 complete
  - #17608
- [x] Gather open GitHub issues related to component in epic issue
  - [#18176](https://github.com/microsoft/fluentui/issues/18176)
- [x] react-* package scaffolded
  - migration to new DX [#18606](https://github.com/

[2021-01-27 13:48] Dan86de opened #16662 "Triggering single row rerender onHover in DetailsList"
Would be nice to have possibility to just rerender single row in DetailsList. Is there any way to do that? I have DetailsList with several components inside each of the rows. I would like for example triggering change in IconButton iconName prop when im hovering on single row. Until now i didn't find the way to do this properly.

![image](https://user-images.githubusercontent.com/23312063/10600003

[2021-01-27 15:11] #16274 closed

[2021-01-27 17:24] #16563 closed

[2021-01-27 18:53] DaleyKD opened #16669 "FluentUI: Teams v2 Theme Menu - No Selected Color"
### Environment Information

- **Package version(s)**: 0.52.0

### Please provide a reproduction of the bug in a codepen:
https://fluentsite.z22.web.core.windows.net/0.52.0/components/menu/definition

If you use the theme switcher, and under VARIATIONS, look at the Vertical example, all themes except Teams v2 has a proper selected color.

#### Expected behavior:
I suspect it should be a similar gr

[2021-01-27 19:37] behowell opened #16670 "Avatar: Finalize accessibility"
This issue tracks following up on the accessibility details of the Avatar spec.

https://github.com/microsoft/fluentui/pull/16524#discussion_r560476731

[2021-01-27 20:23] drotara opened #16671 "Programmatic Access - Name for options is not being honored"
### Environment Information

- **Package version(s)**: 7.153.2 +
- **Browser and OS versions**: Edge 88.0.705.50

### Describe the issue:
Correct name should be defined for radio controls.
MAS 4.1.2 - Name, Role, Value
![image](https://user-images.githubusercontent.com/2686972/106048966-66bfad80-609a-11eb-96b7-6ccaff3441d4.png)

### Please provide a reproduction of the issue in a codepen:
https://

[2021-01-27 20:37] brandonMetro opened #16672 "IStackTokens not able to use 'padding' property"
### Environment Information

- **Package version(s)**: "office-ui-fabric-react@6.214.0",
- **Browser and OS versions**: N/A

### Please provide a reproduction of the bug in a codepen:

The link to Stack https://developer.microsoft.com/en-us/fluentui#/controls/web/stack

#### Actual behavior:

Re-using Vertical Stack code from this site and receiving this error:

Type '{ childrenGap: number; paddin

[2021-01-27 20:41] brandonMetro commented on #16672
I was able to fix this by using the import for '@fluentui/react'
The documentation here https://developer.microsoft.com/en-us/fluentui#/controls/web/stack
needs to be updated accordingly as it's still using office-ui-fabric-react/lib/Stack

[2021-01-27 20:51] lucas-stanford opened #16673 "Narrator reads invalid information when selecting months in the DatePicker"
### Environment Information

Version:  2004 (OS Build: 20236.1005)
Browser: Edge chromium
Screen Reader: Narrator
Bug id: 8787914

### Describe the issue:
Narrator is announcing **readonly** while navigating on "Jan" button of Calendar pop up.

### Please provide a reproduction of the issue in a codepen:
Reproable here: https://fabricweb.z5.web.core.windows.net/oufr/7.157.1/#/examples/datepicker

[2021-01-27 22:00] joshmccall221 commented on #14776
Workaround / Fix:
From [PeoplePickerAccessibility fixes ](#2286)(https://github.com/microsoft/fluentui/commit/5c9d10ee2cb1e4ccc82d5f03dccb02bf1276a23e)

[code]

[2021-01-27 22:34] joshmccall221 commented on #12406
You need to specify  `removeButtonAriaLabel`:
[code]
[see issue #14776:](https://github.com/microsoft/fluentui/issues/14776#issuecomment-768607215)

[2021-01-27 22:37] joshmccall221 commented on #14902
You need to specify  `removeButtonAriaLabel`:
[code]
[see issue #14776:](https://github.com/microsoft/fluentui/issues/14776#issuecomment-768607215)

[2021-01-27 23:44] TianyuHou opened #16678 "Unit Test cases with Jest are failing while using office react ui fabric"
Hi, we are using Office-UI-Fabric for our react project, it works fine in the past but when I upgraded react-scripts to v4.0.1, all the tests with ui-fabric failed and I was not able to figure it out. Could anyone please help?

Error message:
[code]

Package.json:
[code]

tsConfig:
[code]
}

[2021-01-28 00:47] drotara opened #16681 "A11y: Role is incorrect for single select Details List"
### Environment Information

- **Package version(s)**: 7.153.2 +
- **Browser and OS versions**: Edge 88.0.705.50

### Describe the issue:

### Please provide a reproduction of the issue in a codepen:
NOTE: None of the "Export to Codepen" for details list works -_-...
Here is a VERY basic example of the issue: https://codepen.io/adrotar/pen/YzpKZjg?editors=0010

#### Actual behavior:

The role on t

[2021-01-28 01:43] JiahaoShan commented on #8782
A working workaround is to add the nuclear bomb `!important` to the css width. I know it is hacky but works.

[2021-01-28 01:47] weny-tang opened #16682 "npm install @fulentui/react-northstar take about 11s, any solution to reduce the time?"
For _how-to_ questions and other non-bugs, please use StackOverflow instead of Github issues. You can tag your questions with [office-ui-fabric][fluentui-react] [fluentui](https://stackoverflow.com/questions/tagged/office-ui-fabric).

If you are a Microsoft employee you can also join the "Fluent UI Community" Teams channel.
hi, I use fluentui/react-northstar in my project, but i just use button st

[2021-01-28 01:54] svirga opened #16683 "ARIA attributes not allowed for an element's role"
### Environment Information

- **Package version(s)**: 7.153.2 +
- **Browser and OS versions**: Edge 88.0.705.50

### Describe the issue:

### Please provide a reproduction of the issue in a codepen:
https://codepen.io/svirga/pen/mdObmWV

#### Actual behavior:

Invalid ARIA attribute is defined for the controls under "div[aria-label="Color\:\ \"red\""]", "div[aria-label="Color\:\ \"green\""]", and

[2021-01-28 04:42] VasudhaAvuthu commented on #16091
Thanks for the quick fix @Raghurk.

[2021-01-28 05:48] blendsdk commented on #16323
I have just created a LinkedIn group for this. Here is the link If anyone is interested: https://www.linkedin.com/groups/9021620/
@paulgildea @ecraig12345

[2021-01-28 13:14] #16339 closed

[2021-01-28 13:14] #16156 closed

[2021-01-28 18:07] schemburkar commented on #12184
Just set your events up on the row and set state on children components.

[2021-01-29 00:00] #16583 closed

[2021-01-29 02:33] FeodorFitsner commented on #16610
@layershifter did you have a chance to look into the issue?

[2021-01-29 05:00] #16267 closed

[2021-01-29 05:00] #16217 closed

[2021-01-29 08:15] Dan86de commented on #12184
Yep but then whole table is triggering rerender. With a lot of data its useless...

[2021-01-29 10:21] ilbrando commented on #16561
@layershifter Thank you for your response. When I run the link you provided with the version 8 package I still get the same error?
But if it is solved in version 8 it might be ok for us to wait for that. Do you know when it is expected to be released?

[2021-01-29 12:11] princewhyte2 opened #16704 "I must really say the documentation is too verbose and not clear. what does a data list do and how to use it and its props not filling it with hundreds of data"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:

### Please provide a reproduction of the issue in a codepen:

#### Actual behavior:

#### Expected behavior:

### Documentation describing expected behavior

[2021-01-29 15:36] princewhyte2 opened #16710 "we'll need more video tutorials thank you"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:

### Please provide a reproduction of the issue in a codepen:

#### Actual behavior:

#### Expected behavior:

### Documentation describing expected behavior

[2021-01-29 16:23] rdweaver opened #16712 "Documentation doesn't show how to set a 'Teams' Theme and 'strong' scheme on v8 ThemeProvider?"
I am using ThemeProvider in my app by importing ThemeProvider from '@fluentui/react-theme-provider';

I want to be able to set the app theme to be 'Teams' Theme and the Scheme to be 'strong', like you can see in the documentation here:
https://fabricweb.z5.web.core.windows.net/oufr/8.0.0-beta.2/#/examples/themeprovider#Variants
![103558796-2c8c3300-4e83-11eb-87b9-9e96387611a5 (1)](https://user-ima

[2021-01-29 17:44] flyingbee2012 opened #16715 "[DetailsList] Horizontal scroll bar not available"
I generated a table using DetailsList where it has lots of columns. When I resize the window, the rest of the columns are clipped. So, I'd like to apply a horizontal scroll bar, but it seems there is a limitation to do so with DetailsList.  As a result, I am unable to see the all columns if I resize the window.

### Environment Information

- **Package version(s)**: DetailsList
- **Browser and OS

[2021-01-29 19:39] drotara opened #16716 "Accessibility - JAWS - JAWS is not giving the current state information"
### Environment Information

- **Package version(s)**: 7.153.2 +
- **Browser and OS versions**: Edge - 88.0.705.56

### Describe the issue:
JAWS does not read out the current state of the dropdown.

### Please provide a reproduction of the issue in a codepen:
https://codepen.io/adrotar/pen/BaQarzw

#### Actual behavior:
JAWS reads out the current selected data count and position

#### Expected beh

[2021-01-29 22:07] #16302 closed

[2021-01-29 23:35] ecraig12345 opened #16718 "Remove .npmrc files except at root"
We should remove the .npmrc files from individual package since we're fairly certain they're not needed.

Not sure whether the one at the root is still necessary, but might be best to leave it for now to avoid potential issues with internal developers who have an alternative npm registry set globally.

(@andrefcdias @kubkon @Hotell if any of you have time for this one, that would be great, and it

[2021-01-30 03:19] lucas-stanford opened #16722 "[@uifabric/example-app-base] Header navigation is not accessible when zoomed in"
### Environment Information
Version:  2004 (OS Build: 20236.1005)
Browser: Edge chromium
Bug id: 8708964

### Describe the issue:
In the package `@uifabric/example-app-base`, The top right navigation disappears and is not accessible in anyway when the browser width is too small or zoomed in too much.

### Please provide a reproduction of the issue in a codepen:
N/A issue with `@uifabric/example-ap

[2021-01-30 08:36] sparx2020 commented on #16647
Any update please

[2021-01-30 09:13] rcbevans commented on #16715
Your codepen running in Firefox on MacOS shows an issue where the header and body of the DetailsList are scrollable, but scroll independently and the body scrollbar doesn't seem to appear.

It is caused by the css:
[code]

Removing this the, header and content scroll together and the scrollbar appears just fine.

[2021-01-30 10:06] rcbevans commented on #16488
The bug is with your code, not with Fluent UI.

See pen where everything is working as expected: https://codepen.io/rcbevans/pen/RwowvOW

As a tip, if you see yourself using a pattern of

[code]

then you're likely doing something wrong.

In your case, it's much easier for the List component to only keep track of which column is sorted, and in which direction, then apply the filtering to the incom

[2021-01-30 18:58] JonathanTurnock commented on #10363
I Have an Offline first app, I would like to not have outbound requests even attempted, I have changed the default font like so ensuring the system font is being used, likewise I've been playing with changing the font to a bundled font i.e. from npm like https://www.npmjs.com/package/typeface-questrial

My Webpack Config Gets the Icon files from `node_modules` which works a treat.

[code]

But I s

[2021-01-30 20:58] flyingbee2012 commented on #16715
Thanks. After I removed this, I did see the horizontal scroll bar at bottom, but it only shows when I drag the vertical bar to the very bottom. Is there a way to show horizontal bar as long as the width exceeds the limit so that I don't need to scroll to the bottom in order to use it?

I increased the number of items to 100, as you can see, I cannot use the horizontal unless it reaches the bottom

[2021-01-30 22:33] Hanaffi commented on #16184
@ecraig12345 Can you assign it to me?

[2021-01-30 23:39] omarsourour commented on #10363
In our product it is important to have the font files since I want to make sure that it looks the same on different operating systems that might not natively have Segoe installed.

What I do is run a PS1 script at build time that pulls all the font files from the Fabric CDNs into the project folder (whether it be a web app, native app, etc.) and then serve those font files from the local path that

[2021-01-31 12:12] appsparkler commented on #16678
+ 1

[2021-02-01 05:23] hemanth999111 opened #16724 "Keyboard focus is trapped inside TeachingBubbleContent if used with Coachmark"
### Please provide a reproduction of the bug in a codepen:
https://codepen.io/moodahemanth/pen/NWbPzPW

#### Actual behavior:

We want to show Teaching Bubble when user hovers on Coachmark. Once teaching bubble shows up and when the user navigates the page using keyboard, keyboard focus is trapped inside teaching bubble.

Sent "focusTrapZoneProps={{disabled: true}}" props to TeachingBubbleContent

[2021-02-01 07:56] ecraig12345 commented on #16184
@Hanaffi We don't typically assign issues to people who aren't members of the project, but you're welcome to work on this if you want. Let me know if you run into any trouble.

[2021-02-01 08:40] wamoha opened #16725 "onClear isn't triggered when resizing a SearchBox"
### Environment Information
Chrome 88+
Windows 10

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/WajidHussain/pen/mdOyKVo

### Repro steps

-  Click on the Search box and type some text
-  Focus out (click somewhere outside the text box)
-  Click on the 'X' button on the search box

#### Actual behavior:
The Search box expands and the text isn't cleared.

#### Expec

[2021-02-01 10:49] Hanaffi commented on #16184
@ecraig12345 How can I become a member?

[2021-02-01 10:50] Namrata99sah opened #16728 "TextFields with type="url" validation"
The below code is not working for URL type validation. I need to validate the URL on submit click. Kindly help.
<TextField
        className='TextFormField'
        name={name}
        value={value}
        type='url'
        onChanged={this.valueChanged}
        placeholder={strings.TextFormFieldPlaceholder}
        multiline={props.field}
        disabled={props.disabled}
        underlined

[2021-02-01 11:20] saugar11 commented on #10472
Hi @aneeshack4 , @khmakoto : do we have update on DetailsList component. are we able to resolve this issue?

[2021-02-01 17:40] chntn opened #16731 "Can we prevent not to load GroupedListSection on collapse? Can we make behaviour like hide and show?"
**Environment Information**
Package version(s) :  Office UI Fabric React 6.189.2
Browser: Chrome

**Describe the issue:**

I want to trigger Grouped List Section on expand of Group Header click.

When Group Header is expand Group Section node available in DOM.

![Expand](https://user-images.githubusercontent.com/4496711/106494455-7139d700-64e0-11eb-980b-b594dc0d71b8.png)

When Group Header is coll

[2021-02-01 17:43] JaysQubeXon opened #16732 "TextField Controlled Email Type Does Not Display Accurate Value"
### Environment Information

- **Package version(s)**:
[code]
- **Browser and OS versions**: (fill this out if relevant)
Currently observed only in Chrome.
OS: macOS Catalina 10.15.7

### Please provide a reproduction of the bug in a codepen:

Here is a [reproduction](https://codesandbox.io/s/controlled-email-type-textfield-yoxfu?file=/src/App.js) using codesandbox (I don't have a codepen account)

[2021-02-01 17:46] JaysQubeXon commented on #16732
Upgrading to latest @fluentui/react in the codesandbox example does not fix the issue.

[2021-02-01 18:29] hrant-ian opened #16734 "@fluentui/web-components: Missing FASTElement definition"
### Environment Information

- **Package version(s)**:
[code]

- **Browser and OS versions**: Not relevant I think

### Describe the issue:

module.ts
[code]

component.html
[code]

component.ts
[code]

Leads to the following error:
[code]

#### Actual behavior:

See above

#### Expected behavior:

I am under the assumption that I don't need to use the fast-foundation packages, based on the instal

[2021-02-01 18:49] hrant-ian commented on #16734
Just a quick update: loading the module from the CDN actually works.
The components are now properly rendered.

[2021-02-01 19:09] JustSlone commented on #15759
Jan Update:
- Spec in draft state, more work to be done
- Starting to prototype implementation

[2021-02-01 19:12] JustSlone commented on #16373
Blocked on updating scss styles to makeStyles
- FYI @layershifter (let @behowell know when makeStyles is ready for Avatar)

[2021-02-01 19:15] JustSlone commented on #15758
Jan Update:
- Waiting on new packages to be published
- Icon provider for overrides is in PR, need to move to system-icons repo

TODO (new Feb Project)
- Migration guide

[2021-02-01 19:15] #15758 closed

[2021-02-01 19:16] JustSlone commented on #16098
Jan Update:
- On hold during January

[2021-02-01 19:20] ecraig12345 commented on #16184
@Hanaffi I appreciate your interest, but we can only add Microsoft employees as organization members. However you're welcome to contribute regardless, and the fact that you're not a member shouldn't create any issues with contributing.

[2021-02-01 19:20] JustSlone commented on #16358
Jan Update:
- Wrapping up in early Feb
- Produce list of next steps

[2021-02-01 19:32] JustSlone commented on #16445
Jan Update:
- Split into two pieces
   - Waiting on design document website
   - Iterating on shared storybook inner dev loop

[2021-02-01 19:32] #16445 closed

[2021-02-01 19:37] behowell opened #16735 "Tooltip Convergence"
# Preparation:

- [x] Started prep
- [x] Open UI Research complete
  - https://open-ui.org/components/tooltip.research
  - PR: https://github.com/WICG/open-ui/pull/265
- [x] Comparison on v8 and v0 complete
- [x] Gather open GitHub issues related to component in epic issue
  - https://github.com/microsoft/fluentui/issues/15102
- [x] react-* package scaffolded
  - PR: https://github.com/microsoft/f

[2021-02-01 19:37] JustSlone commented on #16372
@levithomason @miroslavstastny can we update this list for February and drop something similar on the February project cycle?

[2021-02-01 20:21] tomi-msft opened #16738 "Wrap up work for releasing new FluentUI React Icons"
### Describe the issue:

- [x] Port IconProvider to react-icons package once its published to add override capability
    - Overriding will be available for `react-icons-mdl2` using `IconProvider`. Need to decide on best way to provide this functionality in new package.
- [x] Create migration guide to help customers who are using font-icons to transition to new svg icons
     - [Migration Guide](h

[2021-02-01 20:38] #16371 closed

[2021-02-01 21:51] #16263 closed

[2021-02-01 23:03] smhigley commented on #10133
I just took a look at both codepens, and the behavior is super weird. My own expectation would be to either treat a set as linear (so both left & up are the same, and right & down are the same), or two-dimensional, where arrow keys do not wrap to a different row/column (and items wouldn't reflow to different rows/columns).

My understanding of the linked UWP keyboard page supports that view -- tho

[2021-02-01 23:14] ecraig12345 commented on #10516
This should be fixed in version 8.

[2021-02-01 23:14] #10516 closed

[2021-02-01 23:48] paulgildea opened #16745 "Icon Convergence"
# Preparation:

- [x] Started prep
- [x] Open UI Research complete
  - [link to https://open-ui.org/](https://github.com/WICG/open-ui/pull/273)
- [x] Comparison on v8 and v0 complete
   - [Comparison](https://hackmd.io/7zuk352RT7-H7CAXn5AG4g)
- [x] Gather open GitHub issues related to component
   - #17212
- [x] react-\* package scaffolded
  - [link to package](https://www.npmjs.com/package/@fluen

[2021-02-02 00:24] joschect commented on #16732
@JaysQubeXon Thanks for the submission! This is an interesting problem. I believe it's happening because the TextField has  a check that limits the amount of times that onChange is called, so it _only_ calls it when there has been a change in the input value. The interesting thing about Email typed inputs is that they automatically trim the whitespace. You can see that in [this codepen](https://co

[2021-02-02 00:29] joschect commented on #16728
@Namrata99sah Thanks for the submission! I don't see the code that you mentioned, did you mean to link something? Here's a [codepen](https://codepen.io/slimemold/pen/XWNbKmB?editors=0010) to help get you started.

[2021-02-02 00:33] khmakoto opened #16746 "Button Convergence"
# Preparation:
- [x] Started prep
- [x] Open UI Research complete
  - https://open-ui.org/components/button
- [x] Comparison on v8 and v0 complete
  - In [SPEC.md](https://github.com/microsoft/fluentui/blob/master/packages/react-button/src/components/Button/SPEC.md)
- [x] Gather open GitHub issues related to component in epic issue
  - In #16819
- [x] react-* package scaffolded
  - https://github.

[2021-02-02 01:05] joschect commented on #16725
@wamoha Thanks for submitting this and including a codepen! I'm not sure if this is an issue directly with SearchBox or if it's because of the way that resizing on focus moves the click target before the click event happens. I say that because I modified your [codepen](https://codepen.io/slimemold/pen/gOLpMXL?editors=0010) and added a delay to the resize and it appears to work as expected.

I beli

[2021-02-02 02:51] JustSlone commented on #16465
@ling1726 I assume the close due to #16517 was unintentional, reopening

[2021-02-02 03:21] khmakoto commented on #16572
__February Milestone Goals:__

Finish up `Preparation` and `Implementation` sections above.

[2021-02-02 03:36] ecraig12345 opened #16756 "TextField reveal password button is missing discernible text"
### Environment Information

- **Package version(s)**: `@fluentui/react` 8, recent versions of 7
- **Browser and OS versions**: non-IE/Edge (built-in reveal button is used in those cases)

### Describe the issue:

We recently added an optional reveal password button to the TextField, but it doesn't have a tooltip explaining what the button does (and we didn't provide a way to add a tooltip). Acces

[2021-02-02 03:37] ecraig12345 commented on #11742
@xugao Should we still leave this one and #13012 open or can we close them?

[2021-02-02 04:25] JustSlone commented on #16756
As per the requirement that the icon have a tooltip. I think this particular icon falls under the case of "common enough of an icon that doesn't require a tooltip".

Some clear known examples of icons that do not require tooltips (despite what accessibility insights or various rules say)
- Hamburger Menu
- Settings Gear
- Close icon

For comparison the built-in implementation in the Edge browser o

[2021-02-02 06:30] chenxinyanc commented on #16459
Ping.

[2021-02-02 06:45] ecraig12345 commented on #16756
Thanks for the feedback! In that case we should probably just add a prop `revealAriaLabel?: string` (in addition to the minor fixes listed above). That simpler version could be a good candidate for someone new to work on.

[2021-02-02 07:21] ecraig12345 commented on #16452
Tentative plan discussed with @JustSlone, though it's NOT final and won't be implemented right away:

Delete deprecated or mostly-unused components.

Move components which are in active development and/or usage to their own packages (naming TBD).

[2021-02-02 07:47] cariceli commented on #16406
It can be fixed by adding a key to lineChart.

[2021-02-02 07:48] #16406 closed

[2021-02-02 08:39] wamoha commented on #16725
Yeah I understand it's related to the customization. I have tried a timeout value earlier and any non-zero timeout is very indeterministic. 100 doesn't work for me at all.
Have you tried calling the props.onFocus behind a setTimeout of 0 to see if the click handler gets invoked?

[2021-02-02 08:52] wemmaling opened #16759 "Issue with Tooltip event handler: Drag/Drop causes page scrolling with mouse move."
### Environment Information

- **Package version(s)**: 7.157.2
- **Browser and OS versions**: Chrome 88.0.4324.104 (Official Build) (64-bit)
### Describe the issue:
When a button was contained by a TooltipHost, hover on this button, wait for the tooltip showup, then click the button, the tooltip didn't disappear while raw html title will disappear when click happened. This might cause some drag ev

[2021-02-02 08:59] PontusEkengren commented on #7327
+1
I need to be able to select year and month just as react-date-picker offer in their tool.
![image](https://user-images.githubusercontent.com/3965061/106576302-4631a080-653d-11eb-8fba-5643c5c16a51.png)

[2021-02-02 09:11] jurokapsiar commented on #16064
@DaleyKD `tabBehavior` is not valid for Menu. Please use `tabListBehavior`. The Accessibility tab does not have clear indication on which behavior is meant for which subcomponent, but at least you should be able to understand it from the descriptions:

![image](https://user-images.githubusercontent.com/13742664/106577655-ea681700-653e-11eb-930c-7c0929e86077.png)

tabBehavior is then used for the c

[2021-02-02 09:21] chce commented on #16410
@layershifter Has this slipped through the cracks since i updated the title?

[2021-02-02 09:48] holylander opened #16761 "Export Fluent UI messaging colors"
#### Describe the feature that you would like added

Export the [`messaging` fluent UI colors ](https://developer.microsoft.com/en-us/fluentui#/styles/web/colors/messaging) as a typescript or similar.

#### What component or utility would this be added to

[`messaging` fluent UI colors ](https://developer.microsoft.com/en-us/fluentui#/styles/web/colors/messaging)

#### Additional context/screensho

[2021-02-02 10:39] ling1726 commented on #16465
## January Project cycle

* Submit and Open UI research proposal and gather industry practice and implmentation patterns for the `Menu` component
* Create and submit a spec for review and bring it to design hours

The above two will create visibility in the team to what the intended objective and design for the `Menu` should be. Once the spec is in the repo, it should not be considered as complete

[2021-02-02 11:03] ling1726 commented on #16465
## February Project cycle

Initial `Menu` component with the following objectives in mind

* `MenuList` implementation without popup positioning or submenus
* All current known design tokens should be used to style the basic menu as much as possible
* Support for keyboard navigation
* Evaluate [ability-helpers](https://github.com/microsoft/ability-helpers), perform comparison with FocusZone and do

[2021-02-02 11:30] kolaps33 opened #16764 "Table/Grid outline is not visible on the button"
Repro steps:
1.
Open example: Nested navigation in table by row and cell
https://fluentsite.z22.web.core.windows.net/0.52.0/components/table/definition#usage-navigable
2. Navigate to "..." button in the table/grid
3. Observe outline

Actual: outline is not visible, pl. see screenshot below
Expected: outline should be visible

![image](https://user-images.githubusercontent.com/22620150/106594495-76

[2021-02-02 14:01] Namrata99sah commented on #16728
Hi,

Thanks for the codepen example. Here as the type is url, will it not give
any validation error if the url is not in correct format? How to implement
this?

On Tue, 2 Feb, 2021, 6:00 AM Jon Schectman, <notifications@github.com>
wrote:

[2021-02-02 16:53] miroslavstastny commented on #16372
## February 2021 update

In January we made a good progress on this
- moved existing v8 components and utilities from `react-*` packages to `react-internal`
- added converged `react-theme` with converged global tokens - #16703, merged
- added converged `react-theme-provider` which sets the theme on context and also inject into DOM as CSS variables
- added `FluenProvider` which handles RTL, and `do

[2021-02-02 17:24] behowell commented on #16373
Goals for February:
* Convert styling from scss to makeStyles once it's available.
* Add support for colorful avatars. https://github.com/microsoft/fluentui/issues/16628
* Fix accessibility. https://github.com/microsoft/fluentui/issues/16670

[2021-02-02 18:10] #16228 closed

[2021-02-02 18:32] xugao commented on #14191
@TristanWatanabe  will work on a fix :)

[2021-02-02 18:33] #16626 closed

[2021-02-02 18:33] #16627 closed

[2021-02-02 18:33] #16652 closed

[2021-02-02 18:35] xugao commented on #14170
@dhanMS - sorry for the delay. @TristanWatanabe will work on this this week

[2021-02-02 18:37] amitroy-790 opened #16766 "Dropdown options not accessible via Keyboard on Narrator scan on mode in lower resolution"
### Environment Information

- **Package version(s)**: 7
- **Browser and OS versions**: Edge, Windows 10

### Describe the issue:

On lower resolution, when the dropdown is activated, its options are being shown in Panel.
If the windows narrator is on with scan mode, the user cannot access the dropdown options using the arrow keys.

### Please provide a reproduction of the issue in a codepen:
http

[2021-02-02 18:47] amitroy-790 opened #16768 "User cannot navigate across the stars using up/down arrow keys."
### Environment Information

- **Package version(s)**: 7
- **Browser and OS versions**: Edge & Windows 10

### Describe the issue:

User cannot navigate across the rating stars using up/down arrow keys.

### Please provide a reproduction of the issue in a codepen:
https://codepen.io/amitroy-790/pen/yLVNQBo

#### Actual behavior:

User cannot navigate across the rating stars using up/down arrow key

[2021-02-02 19:56] mashenoy commented on #15979
@behowell - Don't see any movement with this issue since Nov 2020. Did you get a chance to look at this issue ?

[2021-02-02 20:57] rachitpuri95 commented on #12701
The shared [codepen ](https://codepen.io/slimemold/pen/rNOxrjd?editors=0110) doesn't seem to render, could you please share another example for a workaround. Is the workaround simply to add div wrapper with data-is-focusable={true}. I tried that for the column renderer but this didn't work.

[2021-02-02 21:04] #13494 closed

[2021-02-02 22:45] mikeybkats opened #16774 "DatePicker text input causes day to move to 1 day before"
### Environment Information

- **Package version(s)**: office-ui-fabric-react 7.155.3
- **Browser and OS versions**: chrome / 88.0.4324.96 / mac

### Please provide a reproduction of the bug in a codepen:
using code sandbox hope that is okay
https://codesandbox.io/s/fluent-react-date-picker-manual-entry-issue-c1z08?file=/src/DatePicker.tsx

#### Actual behavior:
User selects the date with the mous

[2021-02-03 01:40] #16718 closed

[2021-02-03 01:48] #9991 closed

[2021-02-03 03:10] alixiashu commented on #14326
Hi @brandonthomas, has this issue been fixed in some version or on the plan? I could still meet it when testing on the example
https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist/basic

[2021-02-03 04:13] alixiashu opened #16782 "Screen reader does not announce items' position when there is a contextual menu button with sub items group in CommandBar."
### Environment Information

- **Package version(s)**:  ^7.147.0
- **Browser and OS versions**: Chrome/Edge, Win10

### Describe the issue:

User who relies on screen reader will be affected If the object role, state(s), properties, boundary, name, and description are not programmatically determinable, it would be difficult for the platforms that provide Accessibility APIs, and would in turn affec

[2021-02-03 05:18] qianghuang94 opened #16783 "Persona doesn't generate correct initials"
### Environment Information

- **Package version(s)**: latest
- **Browser and OS versions**: Not browser specific

### Describe the issue:

![image](https://user-images.githubusercontent.com/15025186/106701204-41deb380-6621-11eb-9130-bcf639227cd0.png)

We received a customer ticket that saying the initials that generated from persona is not correct if the name contains `[]`

They think `OnlineUser

[2021-02-03 06:39] brandonthomas commented on #14326
It's not owned by me to be clear. I just filed this particular issue. @khmakoto any update here on the Fluent team side?

[2021-02-03 06:43] JonasDong commented on #15542
Had the same issue on Android Edge browser and Teams Android client (in an embedded page).

[2021-02-03 07:37] cariceli opened #16784 "When there is only one point, the callout doesn't show up when you hover on it."
### Environment Information

- **Package version(s)**: 4.11.0
- **Browser and OS versions**: Chrome

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/the-callout-doesnt-show-up-when-hovering-rttx1?file=/src/Chart.tsx

#### Actual behavior:

When there is only one point, the callout doesn't show up when you hover on it.
![image](https://user-images.githubusercont

[2021-02-03 08:34] Satyarthsr commented on #3726
Hi, any updates if or when will this feature be added? @Jahnp  @micahgodbolt  @xugao .

[2021-02-03 09:02] clavx commented on #15971
Sorry,

Actual behavior: v7.141.0
https://codepen.io/clavx/pen/rNWOVXY

Expected behavior: v7.140.0
https://codepen.io/clavx/pen/poNjJYR

[2021-02-03 10:12] v-ajrai opened #16787 "Narrator and JAWS both are not announcing the sorting state of already sorted column header of the DetailsList"
Narrator and JAWS both are  not announcing the sorting state of already sorted column header of the DetailsList

### Environment Information
For narrator: Edge Version 88.0.705.56 (Official build) (64-bit)
For Jaws: Chrome Version 87.0.4280.88 (Official Build) (64-bit)

### Describe the issue:
 Narrator and JAWS both are  not announcing the sorting state of already sorted column header of the Deta

[2021-02-03 10:56] #16427 closed

[2021-02-03 12:16] v-vibsingh opened #16788 "JAWS is announcing "button" as control type for "Modified" columnheader while navigating in virtual pc cursor mode of the DetailsList"
JAWS is announcing "button" as control type for "Modified" columnheader while navigating in virtual pc cursor mode
 of the DetailsList

**Environment Information**
For Jaws: Chrome Version 87.0.4280.88 (Official Build) (64-bit)

**Describe the issue:**
JAWS is announcing "button" as control type for "Modified" columnheader while navigating in virtual pc cursor mode
 of the DetailsList

**Reproduct

[2021-02-03 12:22] ankraj12 opened #16789 "List component shows blank patches when scrolling quickly"
#### Describe the feature that you would like added

If List - https://developer.microsoft.com/en-us/fluentui#/controls/web/list has a large number of items, scrolling fast on it shows blank patches. It might be a better UX if it shows some shimmer ux while content is loading.

#### What component or utility would this be added to

https://developer.microsoft.com/en-us/fluentui#/controls/web/list

[2021-02-03 12:56] Arsasana opened #16790 "CommandBar items are not rendering properly when screen is set back to normal state after minimizing"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

#### Expected behavior:

### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected:

[2021-02-03 13:58] JaysQubeXon commented on #16732
Thank you for your response @joschect. I was attempting to trim the value so there would be no leading/trailing whitespaces and after digging around I figured out that somehow the `type=email` wasn't playing nice. This is not urgently needed as I've found that removing the `type` prop was good enough.

[2021-02-03 15:42] kubkon commented on #16658
# Goals for February:
* OpenUI research drafted
* Spec draft (v0 vs v8)
* revamp current impl to use `makeStyles` and React hooks
* add basic storybook stories

For that one, I'm super tempted to forego scaffolding in favour of initially starting off with something clean, in a separate repo/dir with clean (minimal) build structure.

[2021-02-03 16:06] andrefcdias opened #16791 "Stack/Flex Convergence"
# Preparation:
- [x] Open UI Research complete
  - https://open-ui.org/components/flex.research/
  - PR: https://github.com/WICG/open-ui/pull/264
- [x] Comparison on v8 and v0 complete
  - _In spec comparison: [Spec](https://github.com/microsoft/fluentui/blob/master/packages/react-flex/Spec.md)_
- [x] Gather open GitHub issues related to component in epic issue
  - Flex
    - #16268
    - #16250

[2021-02-03 16:35] andrefcdias commented on #16791
## February Project cycle

Goals:

* Open UI research and submission of proposal
* Spec creation and approval
* `Flex` implementation
* Unit tests

Stretch goals:

* Storybook stories
* Conformance and VR tests

[2021-02-03 18:04] #16569 closed

[2021-02-03 18:39] kelseyyoung opened #16798 "Keytip Overflow demo not working correctly"
### Environment Information

- **Package version(s)**: Current
- **Browser and OS versions**: All

### Please provide a reproduction of the bug in a codepen:

Bug can be seen on the keytip demo page https://developer.microsoft.com/en-us/fluentui#/controls/web/keytips specifically in the Keytips in an OverflowWell demo

#### Actual behavior:

Two issues are happening:

1. Pressing Alt-Win, R should

[2021-02-03 19:26] shahid-mehmood commented on #11774
I am a beginner level fluent UI user, can someone help me how to enable tooltip on Persona? My Persona Component does not show anything on Hover/Click.