[2021-02-03 19:59] evlevy opened #16800 "Focus borders not fully visible for multiselect dropdown items"
### Environment Information

- **Package version(s)**: @fluentui/react 8.0.0-beta.48
- **Browser and OS versions**: Edge 88.0.705.56

### Describe the issue:

Multiselect items in a dropdown do not have fully visible focus borders.

### Please provide a reproduction of the issue in a codepen:

https://codepen.io/evlevy/pen/XWNmVqW

#### Actual behavior:

Dropdown items left/right borders are missi

[2021-02-04 01:12] FeodorFitsner opened #16808 "Layer's div element is not removed from body"
### Environment Information

- **Package version(s)**: @fluentui/react@8.0.0-beta.44
- **Browser and OS versions**: Chromium Edge

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/dialog-leaving-layer-element-q1di0?file=/src/DialogSample.tsx

#### Actual behavior:

After opening/closing a dialog for multiple times `<body>` element (or, presumably, a custom layer

[2021-02-04 03:14] lucas-stanford opened #16809 "Toggle's state update is read out twice in Narrator/Edge"
### Environment Information
- **Package version(s)**: 7.153.2 (tested on latest, repros' there as well)
- **Browser and OS versions**: Edge/Windows
- Bug: 8800057

### Describe the issue:

Narrator is announcing twice the state of toggle button.

### Please provide a reproduction of the issue in a codepen:

Repro's here: https://fabricweb.z5.web.core.windows.net/oufr/7.158.1/#/examples/toggle

###

[2021-02-04 04:46] ecraig12345 commented on #16678
This is because we have a few files which use `/** @jsx withSlots */` which conflicts with some changes to JSX handling in TS 4. You can find similar issues in many other front-end repos (search for "pragma and pragmaFrag cannot be set when runtime is automatic"), though from scanning through those it's not entirely clear if there's an easy solution.

In the meantime the easiest workaround might b

[2021-02-04 05:09] JustSlone commented on #16181
@joschect, @ecraig12345 was this cherry picked to 7.0? I can't seem to find the cherry pick PR

[2021-02-04 05:10] ecraig12345 commented on #16181
@JustSlone Not that I know of

[2021-02-04 05:15] appsparkler commented on #16678
Hi @ecraig12345 ,

Thanks for your response!

Is it possible to include `/** @jsxRuntime classic */` on a line before the pragma?  I was able to get the test passing by adding it manually:

<img width="431" alt="image" src="https://user-images.githubusercontent.com/12084821/106847753-8f1c5d00-66d5-11eb-8776-e4658337d029.png">

This is from the doc : [Customizing the Automatic Runtime Import](https

[2021-02-04 05:34] ecraig12345 commented on #16678
@appsparkler You mean in the Fluent UI React code? Unfortunately that appears to be a babel-specific pragma, and we compile with typescript.

[2021-02-04 05:44] appsparkler commented on #16678
@ecraig12345 ,  in the first screenshot; I made changes to the compiled `Stack.js` by adding the `/** jsxRuntime classic */`.  If you can include `/**jsxRuntime classic*/` in your source files, that should be enough IMO.

For example; in this file:
https://github.com/microsoft/fluentui/blob/master/packages/react-internal/src/components/Stack/StackItem/StackItem.tsx

[code]

[2021-02-04 05:59] ecraig12345 commented on #16678
I tried something similar in the [TS playground](https://www.typescriptlang.org/play?ts=3.7.5#code/PQKhAIAECsGcA8BKBXAdgFwJYFsCm4BjAGwENZZMDwRgAoUCGBcAMwHs3q6cAHNgJ3TVwZcIlwkCQlvzbZwAcn4SpCgNy0CbVLGkdwAXnAAKAHTmS-AOawAXCNQBPANoBdAJSGAfODQATXBZMVFw-DVpceD5BQm1dcABBHh57cUl0UwAxNClMbQBhOT4QjEMTTwMfAB4-TAA3YC8NIA) and it looks like having both pragmas works okay, including with TS 3.7.

[2021-02-04 06:09] anubhutisaini12 opened #16811 "Narrator and JAWS screen reader are announcing invalid control type of "State" columnheader in detail list."
Narrator and JAWS screen reader are announcing invalid control type of "State" columnheader in detail list.

### Environment Information
Version: 2004 (OS Build: 20279.1)
Browser: Chrome Version 87.0.4280.88 (Official Build) (64-bit)
Screen reader: JAWS)

### Describe the issue:

Narrator and JAWS screen reader are announcing invalid control type of "State" columnheader in detail list.

#### Actua

[2021-02-04 07:09] #15575 closed

[2021-02-04 13:35] marwalsch opened #16814 "Bug Report/Feature Request: Can't manipulate value of searchable Northstar-Dropdown"
When a [Dropdown](https://fluentsite.z22.web.core.windows.net/0.52.0/components/dropdown/definition) is searchable there seems to be no way to manually manipulate the value of the input field.
[code]
No passed Value is ever displayed inside the dropdown. You can check by making it clearable; The dropdown is empty but displays the X-Button, which can be pressed to no avail.

A Fix might already inl

[2021-02-04 17:10] khmakoto opened #16818 "Remove all v0/v8 dependencies in react-button"
Right now `react-button` has the following dependencies that we need to talk about if we can keep them or if we should replace them going forward:
- `@fluentui/react-hooks`
- `@fluentui/style-utilities`

[2021-02-04 17:11] khmakoto opened #16819 "Button: Open issues to resolve when converging"
Open issues worth addressing for `Button` when converged. From a search of: [`is:issue is:open button`](https://github.com/microsoft/fluentui/issues?q=is%3Aissue+is%3Aopen+button), [`is:open is:issue label:"Component: Button"`](https://github.com/microsoft/fluentui/issues?q=is%3Aopen+is%3Aissue+label%3A%22Component%3A+Button%22), [`is:open is:issue label:"Component: CompoundButton"`](https://githu

[2021-02-04 17:13] khmakoto opened #16820 "Button: Integrate makeStyles in react-button's Button"
We should rework the `Button` inside `@fluentui/react-button` to make use of the new `makeStyles` in a similar fashion of what is being done in #16793 for `Avatar`.

[2021-02-04 17:26] khmakoto opened #16821 "Remove special handling of "as" prop"
All of the converged components have special handling of the `as` prop that renders the slots as the things specified in `as`. This is troublesome because you could be passing a component to the slot that contains its own handling of the `as` prop. We should remove this special handling and only pass the slot props to that slot with the `as` prop being passed as part of those props.

[2021-02-04 17:26] khmakoto opened #16822 "Convergence: Open issues affecting all components"
- [ ] #16821 - Remove special handling of "as" prop
- [ ] #16823 - Define the future of "mergeProps"

[2021-02-04 17:31] khmakoto opened #16823 "Define the future of "mergeProps""
Today, we are using `mergeProps` to merge the props of slots in converged components in an automated way. However, this has a couple of problems in certain scenarios, such as things referencing themselves that create infinite loops evaluated or the `className` prop referencing a record that cannot just be merged with others.

We should decide on what to do with `mergeProps` going forward, if we it

[2021-02-04 17:36] xugao commented on #16818
My main concern for no shared dep would be bundle size increase for apps that use more both converged and v0/v8

[2021-02-04 18:45] velociwabbit commented on #15575
I will take closed with no comment as an acknowledgement that what i am saying makes sense but not actionable given the current coding culture and the desire to convert the world to typescript :)

[2021-02-04 19:24] mbest commented on #15938
Do we need to do anything else for this?

[2021-02-04 19:25] mbest commented on #15937
I've talked with a number of people on my team and we don't know of a way to make sure this is read in scan mode.

[2021-02-04 22:39] mbest opened #16829 "[charting] various API names have typos"
### Environment Information

- **Package version(s)**: @uifabric/charting 4.12.8

#### Actual behavior:

There are typos in the names of props, especially ones that were added recently. In some cases, a word is spelled incorrectly. In other cases, two words aren't separated (using camelCase conventions).

#### Expected behavior:

Exported interfaces includes names with correct spelling.

[2021-02-04 23:01] mbest commented on #16829
Here are the spelling errors I found (errors highlighted):

- showXAxis**Lables**Tooltip
- wrapXAxis**Lables**
- **silce**OrAppendToArray
- _removalValueForText**Tuncate**
- **seleceted**LegendInHoverCard
- onRenderCalloutPer**Horizonal**Bar

These have merged words (highlighted word should be capitalized):

- xAxis**tick**Size
- callout**legend**Text
- get**margins**
- bar**width**
- IBase**state

[2021-02-04 23:21] vputsenko commented on #13991
Still repro..

[2021-02-04 23:34] MarcusOy opened #16834 "Non-functional Dropdown when using onRenderItem"
Hi there,
I am trying to use your Dropdown component on a CRA using Electron and I am finding out that when overriding the default renderer for `onRenderItem`, none of the options are selectable when the Dropdown is expanded. Here is a demonstration:

https://user-images.githubusercontent.com/16263577/106968063-cad31900-670d-11eb-9ccc-0275e09997ec.mov

### Environment Information

- **Package vers

[2021-02-05 01:19] DavidIsrawi opened #16837 "Border color of icon button not changing from hover state until re-hovered"
### Environment Information

- "office-ui-fabric-react": "^7.68.0"
- Chromium Edge. Version 90.0.782.0

### Describe the issue:

In high contrast, the border color styling of button is not refreshing when going from hover to disabled or enabled. In this case, the button keeps the hover border color until it is hovered again (see video)

### Please provide a reproduction of the issue in a codepen:

[2021-02-05 01:26] #15895 closed

[2021-02-05 01:31] jonathanhotono opened #16838 "React Tabs beta issue on spfx"
### Environment Information

- **Package version(s)**: 1.0.0-beta.25

On Windows 10, SharePoint Framework v1.11, TypeScript 3.3 (Rush Stack Compiler 3.3).

### Please provide a reproduction of the bug in a codepen:

I'm importing Fluent UI React Tabs 1.0.0-beta.25 which was **already working** on my SPFx v1.11 solution. It stops working just a few days ago in my release pipelines because it's runn

[2021-02-05 04:19] PathToSharePoint opened #16840 "Largest font size in Text in Northstar"
### Environment Information

- **Package version(s)**: Northstar latest
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/fluent-ui-example-forked-ezceo

#### Actual behavior:

The size prop is of type SizeValue. size="largest" renders the text in small font.

![image](https://user-images.githubuserconte

[2021-02-05 04:34] PathToSharePoint commented on #16840
I just got another similar issue with the Card component. The size prop is of type SizeValue, but smaller and smallest are larger than small.

[2021-02-05 06:56] JustSlone commented on #15575
@velociwabbit yeah, thanks for the input, but it's not really actionable, especially in a large codebase with many contributors. We use prettier for formatting for the very reason that it's very difficult to agree on formatting preferences between a large number of engineers. What makes great sense to one person, doesn't make sense to another. Prettier solves this by being a "good enough" solution

[2021-02-05 07:03] velociwabbit commented on #15575
While i am a big believer in open source, and the wisdom of the crowd... sometimes the crowd sinks to the lowest common denominator.... and i fear that in this circumstance 5th grade teachers are correct and we all should have to write on the chalk boards "I will make my code legible" 500 times (a la bart simpson)

[2021-02-05 07:50] qxg commented on #10234
I tried @fluentui/react-utils and managed to customize a control's label using slots, but how can I leverage current Label's styles?
I tried setting default props as
[code]
@kenotron @xugao Could you give some guidance?

[2021-02-05 09:42] chadsowald opened #16841 "DropDown with Headers fails 'aria-required-children'"
### Environment Information

- **Package version(s)**: 7.148.2
- **Browser and OS versions**: Chrome (latest) on Win 10

### Describe the issue:
'aria-required-children' is not satisfied for DropDown controls that use Headers.  Notably, DropDowns that do not have headers in them do not have this problem.  Specifically no 'option' items can be found in the case of using Grouping.

### Repro:
1) Go

[2021-02-05 10:00] alixiashu opened #16842 "Underline should appear when focusing on the link with tab key"
### Environment Information

- **Package version(s)**: 7.158.1
- **Browser and OS versions**: Chrome, Win10

### Describe the issue:

Visual users who have low vision and sensitive to colors are getting impacted, as Underline or Chevron is not provided for the 'Breadcrumb' region links, while navigating using keyboard tab key. Users will find difficulty to distinguish between link and plain text.

[2021-02-05 17:12] Hotell opened #16847 "Text Convergence"
# Preparation:

- [x] Started prep
- [x] Open UI Research complete
  - https://github.com/openui/open-ui/pull/351
  - [link to https://open-ui.org/]
- [x] Comparison on v8 and v0 complete
  - Addressed in the PR: https://github.com/microsoft/fluentui/pull/18462
- [x] Gather open GitHub issues related to component
  - https://github.com/microsoft/fluentui/issues/16840
- [x] react-\* package scaffol

[2021-02-05 18:54] zhr1130 commented on #13239
Hello,

Is there any update on this bug ?

[2021-02-05 18:56] jimmy3912msncom commented on #16115
Any status on the investigation? We are also seeing the same issue and are using 7.153.2 of office-ui-fabric-react for the DetailsList. We are seeing the same behavior described in the thread

[2021-02-05 20:18] ecraig12345 opened #16850 "Move custom screener integration to shared locations"
@layershifter made a custom screener/github integration that gets rid of the unreliable ngrok dependency for detecting build completion (and helps us have separate screener checks for v0/v8). https://github.com/layershifter/screener-proxy

Primarily in the interest of having proper shared access/ownership, we should:

- Move source code to a shared repo, either on github (`fluentui-screener-proxy`

[2021-02-05 20:19] ecraig12345 opened #16851 "Use custom screener integration for v8"
v8 screener has major issues with intermittent failures due to unreliability of ngrok. To fix this, we should expand @layershifter's [custom screener/github integration](https://github.com/layershifter/screener-proxy) to work with v8 in addition to v0.

This could potentially be addressed either before or after #16850, whichever way makes the most sense.

[2021-02-05 20:22] cschlechty commented on #13239
I am not seeing this behavior anymore with narrator and edge. It's likely been fixed with recent Windows versions.

[2021-02-05 20:36] ecraig12345 commented on #16850
@andrefcdias Can you work with @layershifter to get an estimate of how long this would take? Then we can use that info to help decide how to prioritize the work.

[2021-02-05 20:36] ecraig12345 commented on #16851
@andrefcdias Can you work with @layershifter to get an estimate of how long this would take? Then we can use that info to help decide how to prioritize the work.

[2021-02-05 21:15] mbest commented on #15925
This was fixed with #16828

[2021-02-05 21:16] sushruth opened #16853 "Disabled property is missing on a Button when disabled and loading props are both true"
Disabled loading buttons (like below) do not render html `<button>` with `disabled` property.

[code]

### Environment Information

- **Package version(s)**: `@fluentui/react-northstar` at `0.52.0`
- **Browser and OS versions**: All

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/q083f?module=/example.js&file=/example.js

#### Actual behavior:

The rendered `<

[2021-02-05 22:43] #13239 closed

[2021-02-06 03:05] khmakoto commented on #14326
Pinging @smhigley one more time 😄

[2021-02-06 03:33] smhigley commented on #14326
@brandonthomas I can't reproduce this issue, NVDA behaves as expected for me. I get the following output on Firefox (84.0.2), and Chrome (88), with NVDA v.2020.1:

- in Firefox, when navigating on the headers, it reads the column name once. Moving through body cells within that column it also only reads the header once.
- in Chrome, it reads "column name, button column name" on the header (essenti

[2021-02-06 06:42] davvit opened #16856 "defaultSelectedIndex is not selected on Pivot load"
### Environment Information

- **Package version(s)**: Chrome, Msft Edge, React app

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/davvit/pen/RwoaPpj

#### Actual behavior:

3rd PivotItem is not selected on load.

#### Expected behavior:

the third index PivotItem should be selected

### Priorities and help requested:

No

Requested priority:  Blocking

Products/sit

[2021-02-07 06:58] Phoebe-0319 opened #16857 "[DetailsList] While zooming in the page, columns in the right will disappear. And there is no scroll bar in the footer."
### Environment Information

- **Package version(s)**: 7.158.1
- **Browser and OS versions**: Chrome, Edge

### Describe the issue:

**While zooming in the page, columns in the right will disappear. And there is no scroll bar in the footer.**

### Please provide a reproduction of the issue in a codepen:
https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist

#### Actual behavior:

[2021-02-07 14:36] Diwakar8 opened #16858 "Rendering html content inside a Card.Section"
Need support or guidance on rendering html content inside a Card.Section. I am returning rich text from my code and want to render it as is.
Thanks!

[2021-02-07 15:22] appsparkler commented on #16678
Hi @ecraig12345,

Any idea if the additional pragma will be added to source files?

Thanks!

[2021-02-07 18:18] JustSlone commented on #16115
We're investigating some other DetailsList issues right now. A lot of times these are not simple fixes. Assigning this one to @smhigley since she's looking into other related issues. We'll need to go through the other issues first though.

[2021-02-08 04:42] JustSlone commented on #16858
@Diwakar8 thanks for the reaching out, but we really need more information here in order to reproduce your issue

[2021-02-08 06:15] gadusumi commented on #16654
Can you please triage this or help me if there are any alternate solutions? thanks!!

[2021-02-08 07:44] KishorePatel2005 opened #16864 "Not able to pass title for IconButton in MS Office Fabric Modal component."
Environment Information
Package version(s): 7.155.4
Browser and OS versions: 87.0.4280.141 Windows 10 Enterprise 20H2

Actual behavior:
There will be no title related prop provided for Close Icon Button in Modal. Which should be pass as prop.

Expected behavior:
There should be title related prop provided for Close Icon Button in Modal. Which should be pass as prop.

Priorities and help requested:

[2021-02-08 09:22] Diwakar8 commented on #16858
Which Fluent UI component is causing the issue -- we are using card. https://developer.microsoft.com/en-us/fluentui#/controls/web/card#implementation
Which package name and version the component is from -- Please see above.
Specific, complete steps to reproduce the issue. -- Try to render rich text within the card.
What behaviors and attributes are missing or incorrect. -- Not getting any document

[2021-02-08 14:38] alonsh4 commented on #15750
I got a solution from @joschect (thanks).
Adding 'allowTouchBodyScroll: true'  to the Dialog solved the problem. See example below:

      <Dialog
        hidden={hideDialog}
        onDismiss={toggleHideDialog}
        dialogContentProps={dialogContentProps}
        modalProps={{ allowTouchBodyScroll: true }}

        <Dropdown
          options={options}
          styles={{ dropdownItems: { heig

[2021-02-08 15:14] jurokapsiar commented on #14863
@thure indeterminate state was merged to master - #16081

Can you provide visuals for the hover/focus state so that we can advise on how to theme it?

[2021-02-08 16:22] JustSlone commented on #16858
Got it, thanks for the feedback @Diwakar8. Card being a React component supports rendering html (or other React components) inside it. It doesn't support rich text directly, you'll need to convert your rich text into html.

Also, React Card is an experimental component that actually isn't under development anymore, we likely will deprecate this implementation soon. Sorry for the inconvenience.

[2021-02-08 16:28] #15938 closed

[2021-02-08 17:19] xugao commented on #16098
Update: moving this to freezer since this is deprioritized. still writeup details for remaining work

[2021-02-08 17:29] joshualamusga1 opened #16872 "Proportional Columns, Custom Column Header in DetailsList"
#### Describe the feature that you would like added
Proportional columns in DetailsList. They use viewport measures to figure out the max width of all regular columns + min width of all proportional columns and divide the remaining width based on proportions, e.g. two proportional columns with values of 1 and 2 would get 33% of extra space and 66%, respectively. They respect maxWidth and add the r

[2021-02-08 21:11] #8470 closed

[2021-02-08 21:42] tomi-msft commented on #8470
Just merged a fix, in this scenario, you should be able to add the `onOuterClick` prop to the `<Panel />` and specify the behavior you want, something like:  `onOuterClick={() => {this.setState({ isOpen: true });}}`

[2021-02-08 23:46] xugao opened #16878 "PersonaCoin: should not call mergeStyles on every render"
Details in: https://github.com/microsoft/fluentui/pull/16873#discussion_r572454862

We should also wrap `mergeStyles` call with `memoizeFunction`

[2021-02-09 00:18] sysofwan commented on #11842
+1 this is impacting WCAG 2.1 compliance on our side

[2021-02-09 01:26] #12601 closed

[2021-02-09 01:43] khmakoto commented on #16746
February goal:
- [ ] Comparison on v8 and v0 complete
- [ ] Gather open GitHub issues related to component in epic issue
- [ ] Component Spec authored and reviewed
- [ ] Write README.md covering basic usage
- [ ] Write initial MIGRATION.md guide (include v8 and v0)

[2021-02-09 02:30] #14191 closed

[2021-02-09 03:33] aravindkk opened #16882 "Is there a way to show Coachmark and teaching bubble only to first few visits of a website user?"
We are working on the admin portal for M365 admins and hoping to use the teaching bubble to help tour the features of the portal. Is there a way to limit showing the coachmark and the teaching bubble to first few visits of the user only, rather than each visit of the user, as this can become irritating/burdening over time to user.

[2021-02-09 08:04] akaila opened #16885 "SSR broken with @fluentui/react"
### Environment Information

- **Package version(s)**:
[code]
- **Browser and OS versions**: Chrome 88.0.4324.150 / Others

### Please provide a reproduction of the bug in a codepen:
SSR bug and hence cannot be reproduced within codepen

#### Actual behavior:
Mergestyle breaks SSR, page gets loaded with almost no CSS other than gatsby index.css. I do see that JS is loaded in the page though.

####

[2021-02-09 08:47] #15099 closed

[2021-02-09 09:28] Hotell commented on #16847
## February Project cycle

Goals:

* Preparation phase

Stretch goals:

* Implementation phase
  - implementation draft + test
  - stories

[2021-02-09 09:58] ecraig12345 commented on #15732
@trueadm Do you mean in tests, or in real code? I think the tests in question are calling `focus()` on a native element, not listening for events.

[2021-02-09 12:17] behowell commented on #16735
February goals:
* Reviewed spec and background research complete
* Working implementation (draft or final)

[2021-02-09 13:35] parruc commented on #9863
Previous links to AnimationExample.tsx were broken due to change from github fabric repository to fluentui branch.
Here it is the new one:

[AnimationExanple.tsx](https://github.com/microsoft/fluentui/blob/fabric-7/packages/example-app-base/src/components/Animation/AnimationExample/AnimationExample.tsx)

[2021-02-09 14:00] #16064 closed

[2021-02-09 14:23] Hotell opened #16889 "Implement build infra around TS path aliases for convergence"
# Epic

This is an Epic which will track implementation of issues pointed out in following documents:
- POC https://github.com/microsoft/fluentui/pull/16706#pullrequestreview-583015668
- RFC https://github.com/microsoft/fluentui/pull/16570#pullrequestreview-582286779

## Problem
- need to build before run/test/demo
- unified/explicit TSConfigs
- missing co-located demos via storybook

## Solution

[2021-02-09 16:53] ling1726 commented on #16465
## Feb 02/02 - 02/09

### Achievements
* Implemented MenuList, MenuItem, MenuItemCheckBox, MenuItemRadio
* Currently only mouse interactions work correctly
* Did initial test of ability helpers for keyboard interactions -> updates happened there and need to be tested
* Documented our implementation patterns

### Challenges
* GenericDictionary is a footgun -> I have shot myself with it
* Trying to

[2021-02-09 17:05] miroslavstastny commented on #16372
## Weekly update Feb 9

### Achievements
- tested `makeStyles` in Avatar component - WIP #16793
- added support for static CSS and keyframes - WIP #16880
- compared performance of `PersonaCoin` (v7 mergeStyles), v8 `Avatar` (SCSS makeStyles) and converged `Avatar` (makeStyles) - #16871
- upgraded a shape of a converged theme - #16844

### Objectives
- implement `makeOverrides` - compare performanc

[2021-02-09 17:10] joschect commented on #16885
@akaila Thanks for the submission! @dzearing or @xugao do you have any ideas about this? Is another plugin required to generate css on server side render?

[2021-02-09 17:12] akaila commented on #16885
FYI I tried [gatsby plugin](https://www.gatsbyjs.com/plugins/gatsby-plugin-fabric-ui/) for fluent ui but it still did not resolve the issue.

[2021-02-09 17:28] JustSlone commented on #15759
Update:
- Converting over to make-styles
- Spec review on schedule for tomorrow

[2021-02-09 17:30] tomi-msft commented on #16745
# Goal for February:
- Compile a list of questions/feedback from partners who have begun to switch/making the switch from font based icon package to svg icon package
   - [Icon Migration Questions]
- Comparison on v8 and v0 complete
- Gather open GitHub issues related to component in epic issue
  - [link to issue]
- react-icons package published
  - [link to package]
- Icon Spec authored and revie

[2021-02-09 17:30] kubkon commented on #16658
Update:

Making some good progress on aligning the existing react-image with the convergenve RFC and makeStyles for styling. The changes are still in draft but feel free to drop comments now.

[2021-02-09 17:33] joschemd commented on #15759
Target for end of Feb,
Deliver spec.md
Initial implement component / w makeStyles and storybook stories, documentation readme and migration guides

[2021-02-09 17:36] JustSlone commented on #16738
Update:
- Started on migration guide (based on OWA and Fluid work)
- Still waiting on react-icons package to be published

Goal today:
- Finish doc updates PRs so we can release open source mdl2 set of icons

[2021-02-09 17:43] JustSlone commented on #16791
Update:
- Making progress on research for Open UI
   - Difficult to reconcile layout components via Open UI research

[2021-02-09 18:09] VardhanAkula97 opened #16896 ""Go to today" and "Go to next year" in calendar are getting truncated when browser zoom is set to 400% for the date picker."
### Environment Information
 OS: Win 10
Browser: Chrome

### Describe the issue:

"Go to today" and "Go to next year" in calendar are getting truncated when browser zoom is set to 400% for the date picker

### Please provide a reproduction of the issue in a codepen:
- Set the zoom at 400%
- Open fluent UI controls
- Navigate to the calendar  (“From: Select a date” or “To: Select a date”) in the  d

[2021-02-09 18:46] chadsowald commented on #16841
Perhaps this is related?

https://github.com/dequelabs/axe-core/issues/2576

[2021-02-09 18:49] chadsowald commented on #16841
Actually, this looks more relevant  @joschect :

https://github.com/dequelabs/axe-core/issues/2523

[2021-02-09 19:40] paulgildea commented on #16791
Here's some links that I just quickly grabbed that are in Flex/Stack layout domain:
- https://getbootstrap.com/docs/4.3/utilities/flex/
- https://primer.style/components/Flex
- https://fluentsite.z22.web.core.windows.net/0.52.0/components/flex/definition
- https://developer.microsoft.com/en-us/fluentui#/controls/web/stack
- https://material-ui.com/components/grid/ (a one-dimensional version of thi

[2021-02-09 20:03] joschect commented on #16882
@aravindkk Thanks for your question! There is nothing built in to FluentUI that will allow you to do that by default. Instead, you can add or remove the TeachingBubble element with something like `{ someproperty && <TeachingBubble...`} where `someproperty` is a boolean value calculated by whatever surrounding code you have.

[2021-02-09 20:28] RobertPakkoMSFT opened #16898 "There is a text collision on the datepicker component when certain months are selected."
### Environment Information

- **Package version(s)**: 7.158.3
- **Browser and OS versions**: Reproducible in both Chrome (88.0.4324.150) and Edge (88.0.705.63)

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/robertpakkomsft/pen/XWNjXZq

Note: This was created by just pressing the "export to codepen" button on the first datepicker example in the docs

#### Actual be

[2021-02-09 21:15] ashwinGokhale opened #16900 "dangerouslySetInnerHTML does not work for the Text component"
### Environment Information

- **Package version(s)**: 7.153.4
- **Browser and OS versions**: Chrome/Windows

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

I don't want to create a codepen account so here is the code copied and pasted from codepen at https://aka.ms/fluentpen:

[code]

The content of the `<Text/>` component is an empty `div`.

#### Expected beha

[2021-02-09 21:16] makopch-ms opened #16901 "Narrator doesn't read out menu items properly for Contextual UI menu sections"
### Environment Information

- **Package version(s)**: All
- **Browser and OS versions**: N/A

### Describe the issue:

1. Go here: https://developer.microsoft.com/en-us/fluentui#/controls/web/contextualmenu
2. Scroll down to 'ContextualMenu with Section Headers'
3. Turn on Narrator
4. Drop the menu down and navigate to the menu items

#### Actual behavior:

Narrator just says "Menu item Add" or M

[2021-02-09 21:23] xugao opened #16903 "ThemeProvider: Array type component styles are not applied"
## Repro
not working:
[code]

working:
[code]

[Codepen](https://codesandbox.io/s/purple-shadow-ustci?file=/src/App.tsx)

[2021-02-09 21:42] brianespinosa opened #16904 "react-northstar TextArea: PropType Warning: Received `true` for a non-boolean attribute `fluid`."
### Environment Information

- **Package version(s)**: `"@fluentui/react-northstar": "0.51.4"`

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/fluent-ui-example-forked-iicz8?file=/example.js

#### Actual behavior:

Warning for a non-boolean attribute `fluid`

#### Expected behavior:

No warning for setting `fluid` as a prop on `<TextArea />`

### Priorities an

[2021-02-09 22:14] xugao commented on #16885
I don't have full context on what might have changed between v6 and v7. @akaila - can you check instructions [here](https://github.com/microsoft/fluentui/wiki/Server-side-rendering-and-browserless-testing) to see if you missed any setup?

[2021-02-09 22:41] akaila commented on #16885
If you just check out the gatsby starter project and then do npm build followed by npm serve and open the page you should see the issue. I have checked the instructions and my code mimics the node code that you have there. In fact, I tried using both renderStatic imports but none works.

[2021-02-09 23:01] joschect commented on #16864
@KishorePatel2005 Thanks for your submission! I think you might be talking about the Dialog component as the modal does not have a built in close button. The good news is that you can pass in a property to add a title, `closeButtonAriaLabel` is used as the close button's title. Here is a [codepen](https://codepen.io/slimemold/pen/WNoGGrr?editors=0010) with it working as you want!

[2021-02-09 23:10] dawolff-ms commented on #15073
@paulgildea we just received an A11Y bug for this issue. Has this been resolved?

[2021-02-09 23:26] #13323 closed

[2021-02-09 23:27] joschect commented on #16857
@Phoebe-0319 Thanks for the submission! This is intended behavior that depends on the properties passed into the details list. The details list currently has 2 modes `fixedColumns` and `justified` which can get passed into the details list via the `layoutMode` property. If it is set to `justified` it will automatically attempt to resize to keep the user from seeing too much data for the screen siz

[2021-02-09 23:37] joschect commented on #16856
@davvit Thanks for the submission! DefaultSelectedIndex has been deprecated for a while and it's being removed in this latest version of fluent. It looks like `defaultSelectedKey` works exactly as you want and it will be the correct property moving forward. Sorry for the confusion! Here is a [codepen](https://codepen.io/slimemold/pen/OJbRRzy?editors=0010) with this property in use.

[2021-02-09 23:42] joschect commented on #16853
@sushruth Thanks for the submission! This looks like a bug. We'll get it added to our backlog.

[2021-02-09 23:45] joschect commented on #16842
@alixiashu Thanks for the submission! While we don't underline the link, I we do provide a box around it to show selection state, please see screenshot. Is the underline needed in addition to the selected state or instead of? I believe that this is intentional on our part overall.

![image](https://user-images.githubusercontent.com/20801176/107443505-d481c580-6aed-11eb-84b9-917238816cff.png)

[2021-02-09 23:49] joschect commented on #16841
@chadsowald Thanks so much for doing that research! That really cuts down on time. I believe that you are correct that we are using group correctly to ensure that the header gets read out for its specific children. I agree that this seems to be a problem with Axe rather than fluent. Is that your assessment as well?

[2021-02-09 23:51] joschect commented on #16840
@PathToSharePoint Thanks for submitting this and including your codesandbox! I can see that this repros readily. I believe that this is a bug and we will go ahead and get this fixed.

[2021-02-09 23:57] khmakoto commented on #14326
We've followed offline with this issue and it's no longer relevant, so we'll be closing this as `Resolution: External`.

[2021-02-09 23:57] #14326 closed

[2021-02-10 00:02] joschect commented on #16838
@jonathanhotono Thanks for the submission! We've been undergoing some package restructuring as we continue to prepare for v8. I suspect that some of this may have broken parts of the beta branch. We will keep problems like this as we continue our restructuring. @ecraig12345 for visibility.

[2021-02-10 00:10] joschect commented on #16904
@brianespinosa Hey! Thank you for the submission. I believe that this is expected behavior based on the way that react handles native attributes vs our attributes. For some attributes, like `checked` react is sure that it will be a boolean and so you can pass it in like `<Component checked ...` without warning. For the Fluid issue you mentioned here you can get rid of the error by making it explic

[2021-02-10 00:11] joschect commented on #16829
@mbest Thanks for submitting this! We'll get it assigned to the charting folks and looked at.

[2021-02-10 00:19] joschect commented on #16834
@MarcusOy Thanks for submitting this! This is really detailed question. I think that we could probably change onRenderItem to pass through the default onClick to give users more control. In the meantime you could use `onRenderOption` which will ensure that the onclick is handled as you expect. You can see it used [here in this codepen](https://codepen.io/slimemold/pen/bGBwBbW?editors=0010)

[2021-02-10 00:43] jonathanhotono commented on #16838
Thanks @joschect @ecraig12345
Is there anything I can do to fix this issue on my spfx project?

[2021-02-10 01:50] chadsowald commented on #16841
@joschect Agreed!  The generated HTML looks good to me, but I'm no expert :-)  Not sure on your process to track this bug, but feel free to do whatever you need to do with this bug.  I can always point to this for context for others.

[2021-02-10 02:12] ecraig12345 commented on #16838
@jonathanhotono Are you using the Tabs component, or Pivot? Tabs is still in development and not yet recommended for use. (Sometime soon we'll be adding badges to the package readmes to help clarify status.)

If you're using Pivot, as of the most recent beta version, it's actually been moved back to `@fluentui/react`. So you should update to the latest version and import Pivot from `@fluentui/reac

[2021-02-10 02:15] HarshUpadhyay-MSFT opened #16909 "Contextual menu items are navigable by Tab as well as arrow keys. Should be only arrow keys."
### Environment Information

- **Package version(s)**: 7.117.0
- **Browser and OS versions**: Google Chrome Version 88.0.4324.150 (Official Build) (64-bit), Windows 10 Enterprise version 20H2

### Describe the issue:

Once the contextual menu is expanded, we can use both arrow as well as tab keys to cycle through menu items. It should just be arrow keys. Having both can confuse users.

### Please

[2021-02-10 02:15] HarshUpadhyay-MSFT commented on #16909
reported internally by Accessibility testers

[2021-02-10 02:20] ecraig12345 commented on #12770
## Version 8 release update

**TL;DR: New target release date is February 22, or end of February at latest. Also, your version 7-style Button imports will now work without modification.**

First of all, apologies for the delayed release and lack of updates. In addition to holiday-related delays, there have been some shifts around our approach to converging components with `@fluentui/react-northsta

[2021-02-10 02:50] jonathanhotono commented on #16838
@ecraig12345 I'm using tab component since it has better mobile view feature. Does Pivot support better mobile view like tabs component as well?

[2021-02-10 05:48] CrmDev23 opened #16913 "IComboBoxOption, title is not respected"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

#### Expected behavior:

### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected:

[2021-02-10 06:14] bharath3719 opened #16915 "How to render title on fluent ui details list on hover of each cell"

[2021-02-10 06:14] #16915 closed

[2021-02-10 06:16] bharath3719 opened #16916 "How to render title on fluent ui details list on hover of each cell"
Need render tooltip/title for each cell on hover of the same

[2021-02-10 09:11] KludgeMaster opened #16918 "Slider with Keyboard control"
### Environment Information

- **Package version(s)**: 7.158.3
- **Browser and OS versions**: MS Edge (88.0.705.63) / Windows 10 Enterprise 2004

### Describe the issue:
Two scenarios but I believe they come from the same root cause:

-  When the slider is controlled via keyboard, setting the value via `value` prop doesn't update the UI.
   To reproduce:
   1. Tab to slider and change the value us

[2021-02-10 09:21] nikhilpuria opened #16919 "DatePicker not announcing selected state"
### Environment Information

- **Package version(s)**: 7.121.7
- **Browser and OS versions**: All Browser / OS combination

### Describe the issue:

The DatePicker component doesn't announce selected when focus lands on days which is already selected via keyboard. Users will face difficulty to know the selected date if screen reader doesn't announce as selected on already selected date.

### Pleas

[2021-02-10 10:51] alixiashu commented on #16842
hello Jon,
Thanks for the reply. I am a FTE of M365. Actually, it is an accessibility bug that  tester created for our team when we used Link in our page.
I am not sure it is reasonable or not. They need the link to be underlined when it's focused on, to make it differ from common text.
Here is the link Bug 4777478<https://office.visualstudio.com/OC/_workitems/edit/4777478>: [UI fabric][Visual Req

[2021-02-10 17:30] #16903 closed

[2021-02-10 18:27] MarcusOy commented on #16834
@joschect Wow, thanks for the Codepen! I don't know how I missed `onRenderOption` and went with `onRenderItem`. On second glance, I can't seem to find either one in the `IDropdownProps` interface table in the docs. Perhaps a docs refactor may be needed?

Closing the issue...

[2021-02-10 18:27] #16834 closed

[2021-02-10 18:29] jurokapsiar opened #16925 "Badge convergence"
# Preparation:

- [x] Started prep
- [x] Open UI Research complete: https://github.com/WICG/open-ui/pull/224
- [x] Comparison on v8 and v0 complete
- [x] Gather open GitHub issues related to component
- [x] react-\* package scaffolded
  - https://github.com/microsoft/fluentui/tree/master/packages/react-badge
- [x] Component Spec authored and reviewed
  - https://github.com/microsoft/fluentui/blob/

[2021-02-10 18:31] jurokapsiar opened #16926 "Accordion convergence"
# Preparation:
- [x] Started prep
- [x] Open UI Research complete: https://github.com/WICG/open-ui/pull/263
- [x] Comparison on v8 and v0 complete
- [x] Gather open GitHub issues related to component
- [x] react-\* package scaffolded
  - [link to package](https://github.com/microsoft/fluentui/tree/bsunderhus/accordion-convergence/packages/react-accordion)
- [x] Component Spec authored and reviewed

[2021-02-10 18:43] PathToSharePoint opened #16928 "Feature request / clarification on use with SVG elements"
#### Describe the feature that you would like added

Compatibility with SVG elements.

#### What component or utility would this be added to

Tooltips and other context components.

#### Have you discussed this feature with our team, and if so, who

No

#### Additional context/screenshots

The Northstar documentation says that components such as tooltips work on DOM elements:

However I haven't be

[2021-02-10 19:01] smhigley commented on #15443
This looks like a dupe of #14326, I think my comment here: https://github.com/microsoft/fluentui/issues/14326#issuecomment-774390601 would also apply to this issue.

I'm also still not able to reproduce the specific behavior shown in the speech viewer screenshot using NVDA table navigation. I have NVDA 2020.1, on Edge 88 (I also can't repro with NVDA on Edge 90, Chrome 88, or Firefox 84).

@kssure

[2021-02-10 19:44] smhigley commented on #13735
This was resolved in #14835, should be fine to close now

[2021-02-10 20:42] ecraig12345 commented on #16838
@behowell would have a better idea of whether we plan to support this for Pivot. Regardless, we strongly recommend against using Tabs at the moment since it's under active development and we can't provide any guarantee of API stability between beta versions.

[2021-02-10 20:44] ecraig12345 commented on #16678
Thanks for the PR @appsparkler! This problem still exists in some of the experimental components, but since those aren't officially supported I'm going to go ahead and close the issue. (If anyone needs the issue fixed for an experimental component, feel free to submit a PR similar to the other one #16863.)

[2021-02-10 20:44] #16678 closed

[2021-02-10 20:53] behowell commented on #16838
You should use `Pivot`. As of right now, `Tabs` is just a renamed copy of `Pivot`, and is not supported or ready for use yet. Its API will be changing significantly in the future.

I'm curious what you mean by having a better mobile view feature? If you're referring to the overflow menu when not all tabs fit onscreen, that is supported by `Pivot` from the latest version 8 beta of `@fluentui/react`

[2021-02-10 21:10] JustSlone opened #16933 "Resolve active dependabot issues"
https://github.com/microsoft/fluentui/security/dependabot

There are a set of new dependabot issues that need resolving. We should get on this soon.

@joschect agreed to pick this up as part of shield duties.

For each issue we should pick a course of action. The default should be to update, but for low severity ones we can discuss alternatives (as long as we're not impacted by the issue).

[2021-02-10 21:34] brianespinosa commented on #16904
Hi @joschect thanks for taking a look at this.

I looked at the updated codesandbox and it seems there was a typo and it was showing as `fluidu={true}` instead of `fluid={true}`. That aside, when I update the sandbox, specifically passing `true` as a boolean, it still shows the same prop warning. https://codesandbox.io/s/fluent-ui-example-forked-82m1t?file=/example.js

[2021-02-10 21:36] brianespinosa commented on #16904
My guess here is that at some point we are passing or spreading props from the initial component onto the underlying DOM element... which actually makes more sense to me now looking at that error as it is not formatted the way a normal prop-type error would be formatted.

[2021-02-10 21:55] #13735 closed

[2021-02-10 23:29] taurheim opened #16938 "IE11: Toggle has no focus state"
### Environment Information

- **Package version(s)**: 7.156.0
- **Browser and OS versions**: Internet Explorer, Win10

### Please provide a reproduction of the bug in a codepen:
https://fabricweb.z5.web.core.windows.net/oufr/7.159.0/#/examples/toggle

#### Actual behavior:
Tabbing to toggle shows no outline

#### Expected behavior:
Tabbing to toggle shows outline (can be seen in other browsers)

[2021-02-11 02:22] jonathanhotono commented on #16838
Thanks @ecraig12345 @behowell

I just tried to use normal Pivot as well using latest beta `8.0.0-beta.53` on my sharepoint framework project:

`import { Pivot, PivotItem } from "@fluentui/react";`

And same error messages displayed..
![image](https://user-images.githubusercontent.com/6864547/107596529-1afd2e80-6c6c-11eb-9077-175082a4fb0d.png)

[2021-02-11 02:30] natpdeee commented on #16838
Hi,
I got the same issue and error message. I am trying to incorporate the ``Pivot`` component with the overflow feature.
I am using ``fluentui/react`` version ``8.0.0-beta.53``

[2021-02-11 06:25] anubhutisaini12 commented on #16811
Any update for this issue ?

[2021-02-11 09:44] bsunderhus commented on #16926
Possible issues related to the component that I could find in this repo:

- #16553
- #16452
- #12953
- #12238

[2021-02-11 10:18] v-ajrai commented on #16510
Any ETA on this ?

[2021-02-11 10:20] v-ajrai commented on #16787
Any ETA on this ?

[2021-02-11 14:43] betrue-final-final opened #16946 "CommandBar: Split button divider does not meet contrast"
### Environment Information

Any browser, any machine

The divider in split button does not meet 3:1 for non-text contrast. Normally dividers are exempt, but in this case it differentiates it from a dropdown button. The current Gray60 does not meet contrast
![image](https://user-images.githubusercontent.com/20363037/107651077-f71df680-6c33-11eb-9206-5fd66fbaeed0.png)
![image](https://user-images.g

[2021-02-11 15:48] Hotell opened #16949 "FAQ: migrate to jest 27/testing-library >=11"
Main purpose of this issue is to track issues related to jest/typescript/testing tools used.

Take this as main go to document, for person/team  which is gonna tackle migration to jest26/latest testing library/typescript 4

---

## Current state (August 2021):

**Versions used within our monorepo:**
- Jest 24
- TS 4.1
- testing-library/react: 10.4.9.

### I wanna bump  `testing-library/react` to v

[2021-02-11 16:16] ilanbd commented on #16181
Hi @joschect, @ecraig12345  :) Any update on whether it could be included in version 7? Thanks!

[2021-02-11 16:27] joschect commented on #16181
@ilanbd Thanks for the question! I'll be cherry picking this so it will get included in 7!

[2021-02-11 16:46] ecraig12345 commented on #16949
We can't use TS 3.9 because (short version) it will cause massive bundle size increases for consumers. The issue is fixed in 4.0. (Message me if you want an internal link with more details.)
https://github.com/microsoft/TypeScript/issues/38696
https://github.com/webpack/webpack/issues/10889

There was also some bug blocking 3.8, though unfortunately I don't remember what that was.

On initial inve

[2021-02-11 18:37] cabillin commented on #12184
I ran into a similar issue which I think has the same root cause: https://codepen.io/KnetTravlr/pen/jOVVarQ?editors=0010

[2021-02-11 21:02] ecraig12345 commented on #16838
@natpdeee Are you also using SPFx or a different setup?

@jonathanhotono Can you post a screenshot with the beginning of that list of errors? (Usually it's the first one that's messing up everything else.) Also what typescript version does your project use?

[2021-02-11 21:41] #14170 closed

[2021-02-12 07:07] #16878 closed

[2021-02-12 11:09] shivasai09 opened #16966 "create unique shape for datapoints in line charts for each line"
#### Describe the feature that you would like added

we need to add shapes to data Points in the line chart so that one can distinguish between the line even in the gray mode

#### What component or utility would this be added to

Line chart

#### Have you discussed this feature with our team, and if so, who

yes @Raghurk

#### Additional context/screenshots

figma
https://www.figma.com/file/jUt0c

[2021-02-12 12:13] bsunderhus opened #16971 "Update/improve scaffolding tools"
#### Describe the feature that you would like added

The current scaffolding tools are not 100% updated.
The idea is to update the scaffolding scripts to follow [implementation patterns](https://github.com/microsoft/fluentui/blob/master/rfcs/converged-implementation-patterns.md) that are being designed.

#### Have you discussed this feature with our team, and if so, who

@jurokapsiar , @ling1726

[2021-02-12 14:51] layershifter commented on #16372
@miroslavstastny can you please add items below to the tracking list?

## Issue to follow up

_Based on https://github.com/microsoft/fluentui/pull/16793._

#### A way to define and apply component level tokens

Previously there was `tokens` prop, but in `makeStyles()` we don't have it. We should figure out an approach.

[2021-02-12 14:59] mkharibalaji opened #16974 "@fluentui/react-button beta 31 with type={"button"} not working"
### Environment Information

  "@fluentui/react": "8.0.0-beta.54",
    "@fluentui/react-button": "1.0.0-beta.31",
    "@fluentui/react-theme-provider": "1.0.0-beta.23",

### Please provide a reproduction of the bug in a codepen:
https://codesandbox.io/s/align-buttons-middle-forked-o2cxk

#### Actual behavior:

react button was working with type={"button"} prop and after this beta update its throwi

[2021-02-12 18:47] svirga opened #16977 "Screen reader announced incorrect column header position"
### Environment Information

- **Package version(s)**: 7.153.2 +
- **Browser and OS versions**: Edge 88.0.705.50

### Describe the issue:

Screen reader/JAWS reads the incorrect column header position in a cell when visually it appears to be different. In the example it announces the thumbnail column as being column 3 when visually, in the cell, it appears as column 2.

### Please provide a reprod

[2021-02-12 19:08] chrisdholt commented on #16791
@JustSlone I've added some feedback on the Open UI PR and can understand the difficulty you noted. This may be one that you find is specific and helpful to React.

From a convergence standpoint, I don't see us adding an abstraction like this in the form of a component for the web components. Previously, in our FAST React packages we had a composable react-based layout package built off CSS Grid to

[2021-02-13 02:33] yangster23 opened #16981 "Name property or Aria-label is not provided for ComboBox"
### Environment Information

- **Package version(s)**: 7.64
- **Browser and OS versions**:
Windows Version: Win10
Chrome Version: 87.0.4280.88 (Official Build) (64-bit)
### Describe the issue:

Accessible name property is not provided for combo box despite attempting to pass aria-label property. Accessibility users won't be able to understand purpose of the control. Using Accessibility Insight's f

[2021-02-13 02:52] yangster23 opened #16982 "Keyboard focus is moving on Checkbox within Nav two times while navigating using down arrow key"
### Environment Information

- **Package version(s)**: 7.64
- **Browser and OS versions**: Windows Version: Win10, Chrome Version: 87.0.4280.88 (Official Build) (64-bit)

### Describe the issue:

Keyboard focus is moving on Checkbox within Nav two times while navigating using down arrow key.

Note that we are intentionally calling upon the onRenderLink rather than linkAs prop. This allows the user

[2021-02-13 09:23] MightySameerDesai opened #16983 "Fluent Checkbox doesn't support aria-checked with Narrator when aria role="treeitem""
### Environment Information

- **Package version(s)**: "@fluentui/react": "^7.160.0"
- **Browser and OS versions**: Edge 88.0.705.68 (Official build) (64-bit), Windows 10 Enterprise

### Describe the issue:
I have a complex UI component where I have a nested list of items. Each item is a checkbox item that can expand/collapse. So when focus moves to the checkbox, I want the narrator to read out th

[2021-02-13 13:49] jameelakowsar commented on #15191
This issue fixed and released version @uifabric/charting@v4.14.0

[2021-02-13 16:30] MightySameerDesai opened #16984 "Contextual Menu doesn't auto dismiss submenus if menuitem is rendered using onRender"
#### Describe the feature that you would like added

The fluent contextual menu has this behavior currently:
a. Suppose there are items in menu that are rendered using the onRender prop, and there are items that have sub menus
b. When a sub-menu is opened by hovering or clicking on the respective menu-item, it will be dismissed when you hover on some other menu item of the main menu (which isn't d

[2021-02-14 01:17] hantatsang commented on #16756
I'm having a go at this. However, having the focus outline on the "Reveal Password" button looks a bit weird as it clashes with the TextField input's focus outline (which is grey in the GIF):

![password reveal button outline](https://user-images.githubusercontent.com/11912225/107865754-25af0200-6ebe-11eb-9b98-0964e601c773.gif)

Do you think styling it with a background just like the existing `:ho

[2021-02-14 07:59] davvit opened #16986 "UNchecking checkbox still return 'on' for the control"
### Environment Information

Chrome, Edge , React

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/davvit/pen/dyONQOG

#### Actual behavior:

unchecking a checked checkbox returns ON

#### Expected behavior:

unchecking a checkbox should return empty string

### Priorities and help requested:

Requested priority: (Blocking, High, Normal, Low)
Blocking,  High

Products

[2021-02-15 01:33] jonathanhotono commented on #16838
@ecraig12345 screenshot below, I'm using typescript 3.3 that came from Spfx v1.11 (Rush Stack Compiler 3.3)
![image](https://user-images.githubusercontent.com/6864547/107896291-eea62280-6f89-11eb-9735-312f76f8bc41.png)

[2021-02-15 02:34] Diwakar8 commented on #16858
thanks @JustSlone for your response!

[2021-02-15 02:34] #16858 closed

[2021-02-15 08:16] andrefcdias commented on #16791
Thanks for the feedback and CR, @chrisdholt, I've gone ahead and answered your points on the research PR.
I'd also love to hear about the reasoning behind it if you have the time!

[2021-02-15 09:51] layershifter commented on #14632
@Hotell this does not work, I just merged `master` in 34d9e960a344a59f4551b8c68d94427481a31935, now I have changes in `rfcs/converged-implementation-patterns.md`, see #16964.

[2021-02-15 10:16] Hotell commented on #14632
TBH this is not a very helpful  "issue report". Can you be more specific next time please ?

I investigated what might have happened and it indeed DOES work.

Overall problem is with lot of unnecessary abstraction that we use for fundamental stuff (like running prettier). In this case process will not exit properly (which would if we ran `prettier` directly).

https://uifabric.visualstudio.com/fab

[2021-02-15 10:16] GordonSmith opened #16989 "Dropdown Component Focus + Dropped placement issue"
### Environment Information

- **Package version(s)**: 8.0.0-beta.54
- **Browser and OS versions**: All

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/LeSchmoo/pen/RwopRjK

#### Actual behavior:

Focus Issue:
![image](https://user-images.githubusercontent.com/966863/107933201-56eb0900-6f76-11eb-817a-cd7fc1da40a5.png)

Dropped placement issue:
![image](https://user-i

[2021-02-15 11:31] v-vibsingh opened #16990 "Is there any way to skip the count of ContextualMenuItem and render custom button?"
Hi,

Is there any way to skip the count of ContextualMenuItem and render customize button?

**Sample Code:**

      [...listItems, {
        key: 'buttons',
        onRender: () => {
          return (
            <div className='custom-class-container'>
              <ActionButton text='FILTER CLEAR' onClick={() => this.clearFilter()} />
              <div className='custom-class-button'>

[2021-02-15 12:57] jameelakowsar commented on #16140
Version released with fix - `@uifabric/charting@v4.14.2`

[2021-02-15 13:03] mfkoenig opened #16992 "The Callout onDismiss handler is not triggered when clicking a different iframe in Chromium based browsers"
### Environment Information

- **Package version(s)**: ^7.157.2
- **Browser and OS versions**:  Chrome Version 88.0.4324.150

### Please provide a reproduction of the bug in a codepen:
#### Steps:
1. Please open codepen: [https://codepen.io/grigory-kostromin/pen/jOVBVYB](https://codepen.io/grigory-kostromin/pen/jOVBVYB)
2. Press the show callout button. A callout should appear.
3. Click the square

[2021-02-15 21:18] FeodorFitsner opened #17000 "VerticalBarChart: Cannot read property 'x' of undefined error if empty data provided"
### Environment Information

- **Package version(s)**: @fluentui/react-charting@5.0.0-beta.55
- **Browser and OS versions**: Chromium Edge

### Please provide a reproduction of the bug in a codepen:

No codepen required as the issue clearly noticable at this line: https://github.com/microsoft/fluentui/blob/master/packages/react-charting/src/components/VerticalBarChart/VerticalBarChart.base.tsx#L88

[2021-02-16 04:27] davvit commented on #15001
I would be happy to see something like this.

[code]
thanks.

[2021-02-16 04:46] rosergeev opened #17004 "MessageBar doesn't render content in tests"
### Environment Information

- **Package version(s)**: "^7.160.1"
- **Browser and OS versions**: Chrome Version 88.0.4324.146 (Official Build) (64-bit). Microsoft Windows Version 20H2 (OS Build 19042.746)

I have written a few tests with MessageBar(snapshot and others). Some of them with static text and some with dynamic. But in tests I can't get rendered content of the MessageBar neither static n

[2021-02-16 05:35] Arsasana commented on #16790
Do we have any update on this issue?

[2021-02-16 06:17] zcaudate commented on #16569
I'm still getting an error  using v0.52.0, react 17.0.1

----

the repo is here: https://github.com/zcaudate/play.bug-fluentui-menu

<img width="1215" alt="Screen Shot 2021-02-16 at 2 15 34 pm" src="https://user-images.githubusercontent.com/1455572/108025491-862a7480-7061-11eb-80a1-c52369309a31.png">

[2021-02-16 06:18] zcaudate commented on #16569
![Uploading Screen Shot 2021-02-16 at 2.15.34 pm.png…]()

[2021-02-16 09:37] assuncaocharles commented on #16569
Hey @zcaudate

The change is yet not released

[2021-02-16 11:05] Hotell opened #17007 "chore: migrate to storybook 6.0.x"
As we are going to leverage Storybook (SB) for convergence ([primarily the Composition feature](https://medium.com/storybookjs/storybook-composition-af0da9084fba)) we need to migrate to SB v6.

**Tasks:**
in general follow[ migration guide](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#from-version-53x-to-60x)

- bump `@storybook/*` deps in whole repo (NOTE: potential merge confl

[2021-02-16 11:20] c7i opened #17008 "ComboBox selects a random option when clicking outside of the dropdown after scroll"
### Environment Information

- **Package version(s)**: Newest version 7.160.1 and also on 8.0.0-beta.55
- **Browser and OS versions**: Present on latest chrome (88.0.4324.150) and firefox

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/frts/pen/OJbpGXE

1. Open dropdown
2. Scroll while hovering over the items (without hovering over the items it does not occur)
3. Im

[2021-02-16 14:32] Hotell commented on #14632
unhandled rejection Fixed by https://github.com/microsoft/fluentui/pull/17009

[2021-02-16 15:11] #14632 closed

[2021-02-16 15:17] Hotell commented on #17007
updated `vr-tests` section

[2021-02-16 15:22] Hotell commented on #16847
No progress so far. I'll remove this from Feb Cycle as I'm might not get a chance to focus on this because of build system tweaks -> https://github.com/microsoft/fluentui/issues/16889

[2021-02-16 16:16] ling1726 commented on #16465
## Feb 02/09 - 02/16

### Achievements

* MenuList, MenuItem, MenuItemCheckBox, MenuItemRadio, MenuGroup, MenuDivider all in master with stories
* Contributed to ability helpers -> good experience so far, very non-invasive
* GenericDictionary is partly gone \o/

### Challenges

* Limited reviewer pool -> we should limit the bus index (use teams ? )

### Objectives
* Implement context based ability

[2021-02-16 16:59] tomi-msft commented on #16738
Update:

- Migration guide still in progress, currently in a [hackmd](https://hackmd.io/RPZl3VIDRz-sobbE48IJuQ)
   - Sync with Jason Custer to add design specs for more context?
- [PR](https://github.com/microsoft/fluentui-system-icons/pull/182) for react-icons package out.
  - Finalize react-icon implementation, address comments on props, and publish

[2021-02-16 17:03] miroslavstastny commented on #16372
## Weekly update Feb 16

### Achievements
- implemented `makeOverrides` - compare performance with `makeStyles` - #16923
  - matcher logic moved from array of matcher functions to a single matcher in a component
  - 10% perf improvement compared to `makeStyles`, less than 10% slower compared to SCSS
- support for static styles merged - #16880

### Objectives
- merge converged `react-avatar`
- fini

[2021-02-16 17:10] JustSlone commented on #16373
Update:
- mainly waiting on makeStyles change

[2021-02-16 17:11] kubkon commented on #16658
### Update 16-02-2021

`react-image` is now up to date with the convergence direction and the changes are ready for merging here #16894.

[2021-02-16 17:15] JustSlone commented on #16357
Update:
- Announcements shared through channels
- Looking into React 17, will hold off until after release

Main focus this week:
- Version 8 on the website
- Review outstanding workitems

[2021-02-16 17:35] JustSlone commented on #16889
Update:
- 3 Pull requests out (see checklist above)
- Discovered more issues, global types are leaking, not blocking currently - TODO: Create new RFC to tackle these

[2021-02-16 17:36] JustSlone commented on #16925
Update:
- Spec in review
- Base Badge PR in review

- Implementation in progress

[2021-02-16 17:38] JustSlone commented on #16926
Update:
- Spec in review

Next:
- Implementing base component

Need:
- Working with Design on visual design - ETA this week

[2021-02-16 17:39] JustSlone commented on #16933
Update:
- Resolved a few

Next:
- Main focus this week is resolving the rest

[2021-02-16 17:39] JustSlone commented on #16971
Update:
- Waiting on PR review

[2021-02-16 17:40] JustSlone commented on #16850
Update:
- PR is ported to express / azure
- Added layer of security to webhooks

Next:
- Integrate into our CI deployment

[2021-02-16 19:22] ecraig12345 commented on #14632
Maybe true in some cases but not this one: as far as I can tell, prettier doesn't provide an out of box option to run only on files that changed in the current branch. And running prettier on all the files is unnecessarily time-consuming (3 minutes on my computer, which isn't the exact same as CI but gives a general idea).

[2021-02-16 19:31] ecraig12345 commented on #16140
Thanks! @jameelakowsar In future PRs please make sure the description contains `Fixes #123` (where `#123` is the actual issue number) so that the issue will automatically be closed as fixed and the bot will automatically announce the released version.

[2021-02-16 19:31] #16140 closed

[2021-02-16 19:48] ecraig12345 commented on #16838
@jonathanhotono The minimum supported typescript version for `@fluentui/react` version 8 is 3.7.

[2021-02-16 19:55] ecraig12345 commented on #16756
@smhigley I feel like we discussed this internally and decided that the reveal password button actually should *not* be focusable? Or am I mixing this up with something else?

[2021-02-17 00:02] aidanmc95 commented on #17008
This is being created because of the interaction with the ', []' on line 34. The interaction between componentRef and [] causes this jumping. Just change line 34 with this, const onOpenClick = React.useCallback(() => comboBoxRef.current.focus(true));

[2021-02-17 02:07] zcaudate commented on #16569
@assuncaocharles: sweet, can you ping me when it has?

[2021-02-17 02:58] M365Devme opened #17019 "Dropdown doesn't expand to its content."
I am using Office UI Fabric React that comes with SPFx. It's version 6.214.0. I have a dropdown that looks like this:

`<Dropdown placeholder={strings.Position} label="" options={positionOptions} onChange={(e, option) => setPosition(option.text)}  styles = {dropdownStyles} className={styles.dropDown}/>`

The styles.dropDown has the following styles:

[code]

The values are filled dynamically based

[2021-02-17 03:04] JustSlone commented on #16974
@mkharibalaji thanks for brining this to our attention. react-button is still un-released and under active development. I would hold off using it in production until we release a final release. It will go through a few more iterations soon, then hopefully stabilize, but even then it will still be pre-release for some time.

@khmakoto Is this break to button intentional? Is there an easy change tha

[2021-02-17 03:47] khmakoto commented on #16974
This is something that broke after some changes fixing types in `@fluentui/react-compose`. I've integrated a simple fix into another change that's linked above.

[2021-02-17 06:22] jonathanhotono commented on #16838
@ecraig12345 thanks, I just updated my project typescript version to 3.7 and it works fine. What is the plan for fluentui v8 final version of typescript required? Will it stays at minimum of version 3.7 or there will be another change/cutover to would only support version greater than 3.7? e.g v4.1..

[2021-02-17 06:33] tanisha2710 opened #17022 "Ability to stack image on top of each other"
#### Describe the feature that you would like added

the Facepile component places the personas side by side is there a way to stack them on top of each other

#### What component or utility would this be added to

#### Have you discussed this feature with our team, and if so, who

#### Additional context/screenshots

some thing like in the screenshot attached
<img width="546" alt="Screenshot 2021

[2021-02-17 07:29] tanisha2710 commented on #17022
could some one assist me and let me know if it is possible with the available props or not

[2021-02-17 08:09] c7i commented on #17008
I don't think it's the button or the ref. The only reason the button and the ComboBox ref is there is because I copied the codepen from the FluentUI components page. If you delete them, the issue is still present

[2021-02-17 10:59] hoovercj opened #17026 "Focus is lost when showing Teaching Bubble with forceFocusInsideTrap = false"
### Environment Information

- **Package version(s)**: 7.160
- **Browser and OS versions**: Edge/Chrome 88 + Win 10

### Describe the issue:

When showing a Teaching Bubble with `focusTrapZoneProps={{ forceFocusInsideTrap: false }}` and using `calloutProps={{ hidden: !teachingBubbleVisible }}` to improve rendering performance as is recommended in the Callout component docs, focus is set to the Tea

[2021-02-17 11:24] hoovercj opened #17028 "Doc Guidance on Teaching Bubble Primary Button placement doesn't match implementation"
The Best Practices documentation for [Teaching Bubble](https://github.com/microsoft/fluentui/blob/cb6c569246b6c3e4e9b89c94f39e17ee043fe22f/packages/react-examples/src/react/TeachingBubble/docs/TeachingBubbleBestPractices.md) states:

[The implementation of Teaching Bubble](https://github.com/microsoft/fluentui/blob/0de01d003589b5e2f166bc070729dca20125a091/packages/react/src/components/TeachingBubb

[2021-02-17 11:31] Hotell commented on #14632
This repo has far more concerning issues than running prettier on whole codebase

[2021-02-17 11:52] kfircs opened #17030 "Component icons are not being loaded using SPFx isolated domain:true"
### Environment Information

- **Package version(s)**: 6.189.2

### Describe the issue:

While using the SPFx isolated domain the icons that are built in the components for example the Combobox have an arrow on the button that opens up the options are not appearing.
If I'm disabling the isolated domain it does work.

#### Actual behavior:
the arrow is not loaded
![image](https://user-images.github

[2021-02-17 13:38] #16971 closed

[2021-02-17 16:58] joschect commented on #16731
@chntn Thanks for the question! This sounds like a feature request and I believe is something that we could enable. If you wanted to submit a change that adds this feature behind prop we always welcome more help.

[2021-02-17 18:38] dawolff-ms commented on #16262
@ecraig12345 I understand this issue was closed, but we just had our A11Y testing team raise this issue citing [WCAG 2.1-1.3.1: Info and Relationships](https://www.w3.org/WAI/WCAG21/Understanding/info-and-relationships.html). With this information, do you deem this fix essential?

[2021-02-17 18:40] jeffersoneagley commented on #5322
Any updates on the cards getting merged in?

[2021-02-17 19:07] #13974 closed

[2021-02-17 19:08] ecraig12345 commented on #16262
@smhigley Do you have any thoughts on this?

[2021-02-17 19:12] lijunle opened #17035 "Submenu of contextual menu captures the focus when mouse hover"
### Environment Information

- **Package version(s)**: Fabric-react@7
- **Browser and OS versions**: Chrome/Edge/all browsers

### Describe the issue:

- **Component**: contextual menu

When mouse hover on the contextual menu items, the item will capture the focus and make the currently focusing element blur.

1. Demo codepen: https://codepen.io/lijunle/pen/BaQRbpL?editors=1010
2. The currently fo

[2021-02-17 21:08] #16974 closed

[2021-02-17 21:22] kestill opened #17038 "PeoplePicker - NormalPeoplePicker - Android talkback incorrect focus order when trying to select a suggestion"
### Environment Information

- **Package version(s)**: 7.158.3
- **Browser and OS versions**: Android OS 10, Pixel 3a/Chrome Browser 86.0.4240.198

### Describe the issue:

### Please provide a reproduction of the issue in a codepen:

1. https://codepen.io/kestill/pen/dyOWEKg
2. Press textbox to open suggestions menu
3. Swipe right and observe talkback focus

#### Actual behavior:

After suggestio

[2021-02-17 21:32] joschect commented on #16761
@holylander That's a really good point! This si a pretty confusing section and we can certainly clarify this.

[2021-02-17 21:33] joschect commented on #16764
@kolaps33 Thanks for the submission! This looks like this is in reference to the Stardust table, is that correct?

[2021-02-17 22:08] joschect commented on #16768
@amitroy-790 Thanks for the submission! The user can navigate across the stars using the left and right keys, are you wanting to add additional movement for the up and down keys as well?

[2021-02-17 22:10] joschect commented on #16774
@mikeybkats Thanks for the submission and including the code sandbox. I'm able to reproduce it with the codesandbox that you provided. We'll get this looked at.

[2021-02-17 22:17] joschect commented on #16783
@qianghuang94 Thanks for the submission! Would you mind taking another look at this? I'm not able to repro this in a [codepen](https://codepen.io/slimemold/pen/QWGvXqM?editors=0010) and I wonder if it might be working now.

[2021-02-17 22:20] joschect commented on #16787
@v-ajrai Thanks for the submission! I'm taking a look at this today.

[2021-02-17 22:22] joschect commented on #16789
@ankraj12 Thanks for the submission! We do have a [Shimmering Details List](https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist/shimmer) although there is still some white gaps that can appear. I believe that this is because the list is virtualized and so it doesn't know how many items to add if fast scrolling is occurring. @dzearing might have more comments but we could add t

[2021-02-17 22:26] joschect commented on #16790
@Arsasana Sorry for the slow response! Thanks for the submission. I'm having some trouble reproducing the issue, it looks like the commandbar items [render appropriately in this codepen](https://codepen.io/slimemold/pen/BaQRgrW) are there some customizations that you could add to demonstrate what you're seeing?

[2021-02-17 22:32] joschect commented on #16798
@kelseyyoung Thanks for submitting this issue and submitting a fix! That's awesome.

[2021-02-17 22:35] joschect commented on #16800
@evlevy Thanks for submitting this issue and submitting a fix! We really appreciate the help. We'll get this merged and checked in!

[2021-02-17 22:38] joschect commented on #16808
@FeodorFitsner Thanks for submitting this issue and submitting a fix. I've added some eyes to the pr and we'll get it looked at.

[2021-02-17 22:42] joschect commented on #16725
@wamoha It does seem like this is a bug  and we can't rely on the offset. We'll get this added to our backlog!

[2021-02-17 22:58] #16800 closed

[2021-02-17 23:16] joschect commented on #16814
@marwalsch Hi! Thanks for the submission. I'm a little unclear as to what you mean by "manually manipulate" the dropdown. I believe that the V0 dropdown allows a value to be passed in and for it to be controlled. I made this [codesandbox here](https://codesandbox.io/s/fluent-ui-example-forked-3lrw2?file=/example.js) and I was able to set that value. The value is not changing because I don't have o

[2021-02-17 23:19] joschect commented on #16918
@KludgeMaster Thanks for the submission and including that codepen! I can see the issue that you describe. This is definitely a bug and we will get it addressed.

[2021-02-17 23:21] chrisdholt commented on #16734
Thanks @hrant-ian for this issue, sorry we're just seeing this now!

Per the linked FAST issue above, this is being caused by two versions of FAST element being loaded/included as the package version for fast-element is under 1.0.0. If version 0.13.1 of Fluent UI WC's is being included in your package-lock.json you'll want v0.22.2 of fast-element. We'll work to get this fixed with a major version

[2021-02-17 23:22] joschect commented on #16946
@betrue-final-final Thanks for the submission! I started attempting to fix this by using neutralSecondary but that appeared darker than I had thought, do you have some other ideas about which color could be used?

[2021-02-17 23:28] joschect commented on #17035
@lijunle Thanks for the submission! This is intentional behavior as the expectation is that the contextualmenu's should work like their client counter parts. You can set `delayUpdateFocusOnHover` to true and that will ensure that the contextualmenu doesn't steal focus until it is explicitly focused by something like keyboarding into ti.

[2021-02-18 00:23] joschect commented on #16982
@yangster23  Thanks for the submission! I believe [this codepen](https://codepen.io/slimemold/pen/BaQRXYV?editors=0011) accomplishes the goal that you have. You'll need to control the click state yourself because focus never goes to the checkbox itself but only goes to the entire row.

I think that Nav is intended behavior since the items are wrapped in a focus zone and anything that can be focuse

[2021-02-18 00:26] #16798 closed

[2021-02-18 01:00] lijunle commented on #17035
Hi, @joschect Thanks for your reply! Is it possible to provide an option to complete skip the force logic?

My scenario is making a people picker inside a contextual menu as you see in the GIF. When the picker drop down is open and mouse move on the menu item, the menu item drags the focus and cause the picker drop down dismissed.

![FocusRace-DismissPeoplePicker](https://user-images.githubusercon

[2021-02-18 01:23] joschect commented on #16916
@bharath3719 here is a [codepen that demonstrates](https://codepen.io/slimemold/pen/zYozOPd?editors=0010) how you might do this. In the future please ask questions like this on our Stack Overflow as that's a more appropriate forum.

[2021-02-18 01:37] joschect commented on #16900
@ashwinGokhale Thanks for the question! I don't believe that we actually support that particular html property, but it is inherited from React.AllHTMLAttributes. We'll need to add an omission for it since it's not used. @ecraig12345 might have more specific comments about the text field, but for now I believe that it's intentional that we don't support it.

[2021-02-18 01:52] ecraig12345 commented on #16900
This is for Text, not TextField. But I'm not sure `dangerouslySetInnerHTML` is ever expected to work on things besides built-in elements.

[2021-02-18 02:06] ashwinGokhale commented on #16900
Based on my understanding, I thought the Text component was supposed to be a decorated native span element that is connected to Fluent styling. I'm treating it as a native span, but you're saying I shouldn't do that?

[2021-02-18 04:16] FeodorFitsner opened #17045 "Date Picker - selected date got reset after clicking outside of calendar"
### Environment Information

- **Package version(s)**: @fluentui/react@8.0.0-beta.55
- **Browser and OS versions**: Chromium Edge

### Please provide a reproduction of the bug in a codepen:

The issue is best described with the following screen capture:

![2021-02-17_20h06_42](https://user-images.githubusercontent.com/5041459/108304334-abe87400-715c-11eb-9d0b-0cb7c53b2f69.gif)

#### Actual behavio

[2021-02-18 06:12] sr258 opened #17046 "Northstar: Excessive margin of Dialogs in small devices"
### Environment Information

- **Package version(s)**: Northstar 0.52.0

#### Actual behavior:

In devices (or windows) with small screen sizes, dialogs have a big margin to the left and right. This makes them nearly unusable. See this example:

![Screenshot_20210218_070744](https://user-images.githubusercontent.com/15268740/108313252-52ae2e00-71b8-11eb-806c-8bb3b5b28711.png)

#### Expected behavi

[2021-02-18 06:44] marwalsch commented on #16814
@joschect Thanks for your reply. Please refer to this [updated example](https://codesandbox.io/s/fluent-ui-example-forked-rvxpr?file=/example.js) where the dropdown is searchable and clearable. You will notice that no value is set and clearing has no effect, effectively disabling the dropdown.
As for my latter remark, I am in a situation where I need to enable and disable the dropdown based on an

[2021-02-18 07:21] ecraig12345 commented on #15811
Closing this since it's been fixed (not sure why it didn't get closed automatically)

[2021-02-18 07:21] #15811 closed

[2021-02-18 07:51] kidokidozh opened #17047 "DetailsList: can customize "shouldEnterInnerZone" property of list's FocusZone"
#### Describe the feature that you would like added

Current behavior of DetailsList is, pressing "Right Arrow" key will enter inner FocusZone.
https://github.com/microsoft/fluentui/blob/master/packages/react/src/components/DetailsList/DetailsList.base.tsx#L515
But in some scenarios, we want to customize this "shouldEnterInnerZone" value.

For example, an input table list as below.  Arrow key is u

[2021-02-18 08:00] ecraig12345 commented on #15730
### Investigation

Per the [tslib docs](https://github.com/microsoft/tslib#npm), the **minimum** typescript version to use `tslib@2` is **3.9**. So we **can't and shouldn't use it** until we internally upgrade to TS 3.9.

Per the [tslib 2.0.0 release notes](https://github.com/microsoft/tslib/releases/tag/2.0.0) the only breaking change in version 2 is:

Per [this PR description](https://github.com

[2021-02-18 08:04] ecraig12345 commented on #15730
Closing in favor of #16101 since it turns out this change won't be made until the overall TS 4 upgrade.

[2021-02-18 08:04] #15730 closed

[2021-02-18 08:05] ecraig12345 commented on #16101
Minor update: I looked into whether upgrading to `tslib@2` is required to use TS 4.1--it appears the answer is **yes**, but also it shouldn't cause problems for consumers on older TS versions (aside from the possibility of a minor bundle size hit from two versions of tslib).

### Details

Per the [tslib docs](https://github.com/microsoft/tslib#npm), the **minimum** typescript version to use `tslib

[2021-02-18 08:12] ecraig12345 commented on #16838
@jonathanhotono We're planning to stay with minimum of 3.7 for the duration of version 8. I just clarified this in the [migration guide](https://github.com/microsoft/fluentui/wiki/Version-8%3A-Migration-guide)--thanks for the reminder.

[2021-02-18 08:15] ecraig12345 commented on #16838
For anyone hitting a similar issue compiling against version 8 beta packages, the solution is to upgrade to typescript >= 3.7 since this is the [minimum supported for `@fluentui/react` 8](https://github.com/microsoft/fluentui/wiki/Version-8-migration-guide#supported-dependency-versions). So I'll go ahead and close this.

[2021-02-18 08:15] #16838 closed

[2021-02-18 08:27] ecraig12345 commented on #15475
@xugao Is this actually in progress or should it be moved back to "to do"?

[2021-02-18 08:30] #15845 closed

[2021-02-18 08:44] CrmDev23 commented on #16913
1. ComboBox
2. Current version
3. Specify title for ComboBox options
4. Title is not rendered
5. Title is rendered as tooltip
6. Code to reproduce. See 'Option A title'
const comboBoxBasicOptions: IComboBoxOption[] = [
  { key: 'Header1', text: 'First heading', itemType: SelectableOptionMenuItemType.Header },
  { key: 'A', text: 'Option A', tilte: 'Option A title' },
  { key: 'B', text: 'Option B'

[2021-02-18 09:02] #15552 closed

[2021-02-18 09:42] bharath3719 commented on #16916
thank you.. didn't get any answers on stackoverflow , hence asked here as well...

[2021-02-18 09:42] #16916 closed

[2021-02-18 11:02] holylander commented on #16761
Thats cool!
As a temp solution, I using the colors from `FluentTheme.semanticColors.errorText`, like below:
[code]

[2021-02-18 11:49] Arsasana commented on #16790
Hi Jon,

I couldn’t repro this issue anymore, I assume it’s fixed.

Issue I was facing previously: When the page is zoomed in, overflow button gets added automatically and items are getting rendered inside it and the actual state isn’t getting preserved even after resetting zoom as in below image
[cid:image003.png@01D7061A.1FF44EE0]

Thanks,
Arpitha

From: Jon Schectman<mailto:notifications@github

[2021-02-18 13:45] timgerhard opened #17055 "<TextField type="number" /> behaviour like <input type="number" />"
#### Describe the feature that you would like added

As of now it seems possible to assign a type to the TextField component like this: `<TextField type="number" />` but it doesn't seem to have any effect.
It would be nice to have a `<TextField type="number" />` component with similar behaviour like `<input type="number" />` (min, max, step and only allow numbers).

[2021-02-18 16:57] jurokapsiar opened #17056 "Release alpha version of converged Provider, Theme, Avatar and Button"
# First Converged components alpha release

The release is planned for Feb 24th and will include:
- **Provider**, **Theme**, **Avatar** and **Button**
- limited documentation describing basic principles of component usage and styling

**Note**: API, theming or internals might change after this date, we will support partners with the transition

## What's missing / not finished
- icons - @fluentui/

[2021-02-18 17:26] miroslavstastny commented on #17056
### Packages to be released (checked means ready to be released, NOT released)
- [ ] `react-provider`
- [ ] `react-theme`
- [ ] `make-styles`
- [ ] `react-make-styles`
- [x] `react-avatar` - merged to master, done
- [ ] `react-button` - WIP, to be merged by the end of the week
- [x] `react-link` - merged to master, done
- [x] `react-image`
- [ ] `react-divider` - ?

### To discuss
Versioning? -> 1

[2021-02-18 17:35] jenniaynlynn commented on #15060
I support a team that found a similar issue using Talkback and Bluetooth keyboard on Android10.  You can enter 1 person, but can't add any other individuals.  Focus only goes to the previously selected person and doesn't even let you focus on the input at all.  We found it does work with swipe when Talkback is on...just not with Bluetooth keyboard.

[2021-02-18 17:57] dawolff-ms commented on #15849
@paulgildea do you have any updates on this issue? Our team has gotten an MAS A11Y bug for this, and MAS won't close until this bug is resolved.

[2021-02-18 19:09] yangster23 commented on #16982
This doesn't address accessibility criteria though: when a keyboard user navigates to the nav bar, they'll get confused that there requires two "DOWN" key strokes to navigate to the next row. Given that the focus never goes to the checkbox itself, but only to the entire row when clicking, shouldn't keyboard navigation follow the same behavior - that focus only goes to the entire row?

[2021-02-18 19:11] davvit commented on #16986
Looking for update on this...its basic functionality of the control

[2021-02-18 19:29] joschect commented on #17055
@timgerhard Thanks for the question! I believe that we do already have a component that fits your need. Have you taken a look at SpinButton? The name isn't the best but it has the exact properties that you've mentioned. Here is [a codepen](https://codepen.io/slimemold/pen/OJbgQYL?editors=0010) with it as an example!

[2021-02-18 19:37] fanago opened #17062 "Spfx office UI fabric Panel not closing on server"
### Environment Information
Sharepoint 2016
SPfx with react js
- **Package version(s)**: (fill this out)

    "@types/react-addons-test-utils": "0.14.15",
    "@types/react-addons-update": "0.14.14",
    "@types/react-dom": "0.14.18",
    "@types/webpack-env": "1.13.1",
    "formik": "^2.1.4",
    "markdown-loader": "^5.1.0",
    "office-ui-fabric-react-pagination": "0.0.8",
    "react": "^15.4.2"

[2021-02-18 19:39] joschect commented on #17030
@kfircs Thanks for the feedback. This might be a difficult for us to look into because it needs to be hosted within an spfx. But if you could point us to a live codepen that would be super helpful.

One suggestion to try in the meantime is to add a call to initializeIcons() before rendering your UI. The isolated domain might not be initializing the icons for you.

Let us know if you can provide a

[2021-02-18 19:42] joschect commented on #17047
@kidokidozh Thanks for the question! This seems like a reasonable feature to add. We welcome any assistance with community submitted prs as that might speed things up. Otherwise we'll get this added to our backlog.

[2021-02-18 19:44] joschect commented on #17045
@FeodorFitsner Thanks for submitting this issue and submitting a fix! We'll get this looked at.

[2021-02-18 19:58] ecraig12345 commented on #12770
A few more updates...

The release likely won't be quite ready by Feb. 22, but it should be ready by the end of that week.

Today we published beta versions of all packages adding React 17 to peer dependencies range. We haven't been able to thoroughly test it yet due to tooling issues, so please file an issue if you encounter any React 17-specific bugs.

The following experimental components have

[2021-02-18 20:17] timgerhard commented on #17055
@joschect Thanks! Seems like that's exactly what I was looking for.
Why would you make a seperate component for that though? Wouldn't it make far more sense if it was part of the `<TextField>` component?

[2021-02-18 20:17] #17055 closed

[2021-02-18 20:37] #17045 closed

[2021-02-18 20:44] fanago commented on #17062
Thank you! I just updated the request now, I accidently submitted without detail. Please let me know if you want any more information

[2021-02-18 20:50] fanago commented on #17062
![expected Panel to close](https://user-images.githubusercontent.com/73078218/108419590-b3f9ef80-7200-11eb-92f7-a8ebac9d4f2a.gif)
![actual behavior](https://user-images.githubusercontent.com/73078218/108419794-f8858b00-7200-11eb-96d8-b8a211bdca2d.gif)

[2021-02-18 22:34] zubinchopra commented on #16184
Hey @ecraig12345 is this issue closed? If not then I can take a look at it :) (First time contributor here)

[2021-02-18 22:42] zubinchopra commented on #17047
Hey @joschect, first time contributor here. Would like to help out. Any tips that might help me with this feature? I looked at the code for `DetailsList.base.tsx` and it seems that the current mapping for entering inner zone is to the right arrow click.

`shouldEnterInnerZone: isRightArrow,`

Would the expected behavior achieved by checking whether the cursor is an input element or a new mapping i

[2021-02-18 22:46] velociwabbit opened #17068 "OUIFR has left the building (circa 1976)"
I have been working on a new  info based web product using OIUFR and fluent as the primary library for components.  When i finished the first alpha version the package weighed in at a hefty 1.8mb.

To make a long story short by replacing all the ouifr components with other alternatives I was able to reduce the footprint down to < 500k (before zipping and preact).

I am now able to port to preact w

[2021-02-18 23:58] Hanaffi commented on #16184
@ecraig12345
Sorry, I got busy in the previous days.
I have a problem finding `859fe008` branch, Can you help?

[2021-02-19 00:40] joschect commented on #16992
@mfkoenig Thank you for the submission! After a bunch of investigation, this is definitely a bug, but I am unclear as to why it started. We added `shouldDismissOnWindowFocus` for this exact purpose but at some point it stopped working, even though there haven't been any code changes in this area. As far as I can tell Chrome may have changed the way it reports `document.hasFocus()` as this is now r

[2021-02-19 02:13] kidokidozh commented on #17047
Hi @zubinchopra  For the expected behavior, I suggest to let user define optional properties to the `FocusZone`.

Here is an example in another component `GroupedList` with the property `focusZoneProps`.  It's more flexible since user can define customized `shouldEnterInnerZone` and choose the behavior they like.
https://github.com/microsoft/fluentui/blob/master/packages/react/src/components/Group

[2021-02-19 05:30] ryperl commented on #15499
Is there any response to a timeline to fix this issue, I am also facing this issue using the code from the documentation here - https://developer.microsoft.com/en-us/fluentui#/controls/web/dialog

Also seeing that if you set the property to show the showCloseButton, the Close button (X) is not being displayed in the upper corner.

[2021-02-19 06:05] kidokidozh opened #17071 "Breadcrumb: collapse menu overflow when item text is long"
### Please provide a reproduction of the bug in a codepen:
https://codepen.io/kidokidozh/pen/XWNgozv

#### Actual behavior:
Left side of menu is hidden
![image](https://user-images.githubusercontent.com/58833558/108463488-760cd200-72b9-11eb-8aca-0a47243420b6.png)

#### Expected behavior:
Menu is fully displayed, while long item text is truncated

[2021-02-19 08:02] Shubham786786 opened #17072 "[Usable - Overview]: In Browse mode, NVDA announce irrelevant information 'Clickable' repeatedly on graph below 'Behavior impact on compromise rate'"
**User Experience:**
Screen Reader user will be impacted here as NVDA announcing irrelevant information repeatedly.

**Test Environment:**
OS build Version 2004 (OS Build 21301.1000)
Browser Version: Microsoft Edge Dev Version 90.0.796.0
Screen Reader: NVDA 2020.4
URL: [https://fabricweb.z5.web.core.windows.net/pr-deploy-site/refs/heads/master/charting/dist/index.html#/examples/areachart](url)

**

[2021-02-19 11:40] ling1726 commented on #16530
@assuncaocharles  once the nightly build for your PR goes in can you please post a working codesandbox of the original issue ?

[2021-02-19 21:45] lorejoh12 commented on #16774
Interesting. This looks like a really, really weird timezone conversion issue. When clicking, all squares in the grid are created using backing dates in the user's current time zone, so no issues there. However, when you type text, in DatePicker.base.tsx, we're calling `parseDateFromString`, which just calls the default javascript Date.parse(string) function.

From my local testing, calling `new D

[2021-02-19 22:09] lutorre opened #17081 "Removing an element from People Picker requires two backspaces instead of one"
### Environment Information

- **Package version(s)**: @fluentui/react 7.129.0
- **Browser and OS versions**: Windows Edge, Safari iOS, Chrome

### Please provide a reproduction of the bug in a codepen:

1- Select 4-5 items from the people picker
2- Select the people picker using the computer mouse
3- Try to remove the selected contacts one by one using the backspace key from the keyboard.

Expect

[2021-02-19 22:24] lorejoh12 commented on #16919
In FluentUi v7, there were 2 DatePicker controls. The first (older) was in the office-ui-fabric-react package, and had numerous bugs with it, including this one.

The updated version is in @uifabric/date-time, and this works as expected there for me (Narrator, Edge browser, arrow to the selected date and Narrator announces "Feburary 19th, 2021, selected"). You can upgrade to the newer version by i

[2021-02-19 22:26] lorejoh12 commented on #16919
Closing for now. If you were reporting this on the upgraded version of @uifabric/date-time control, please reopen and we can investigate what specific issue you're seeing. In that case, a https://codesandbox.io/ would help, since we have several demo sites floating around and it's not always obvious which demo site is using which version of each control.

[2021-02-19 22:26] #16919 closed

[2021-02-21 04:33] cvabanuk3 opened #17088 "iOS 14+ only: Modal on top of a Dialog is not accessible with voice over"
2. This issue is caused by a Fluent UI React control. -  **can be an iOS regression too** as it works fine on iOS <14.
     Still can be an issue with Fluent too as none of the controls from Modal (the top most one) was not accessible.

### Environment Information

- **Package version(s)**:
    "@uifabric/icons": "7.5.21",
    "office-ui-fabric-core": "^11.0.0",
    "office-ui-fabric-react": "7.12

[2021-02-21 10:27] thekeviv commented on #15198
@JustSlone @paulgildea If no one is working on this issue, can you assign it to me for me to give it a try. I want to start contributing to FluentUI.

I looked at what Microsoft has in this regard and landed on [RoosterJS](https://github.com/microsoft/roosterjs). [DraftJS](https://draftjs.org/) from Facebook also is quite popular. Do you have a preference for reusing the Microsoft one or I can do

[2021-02-22 01:54] teliu-ez opened #17089 "DetailsList error: Cannot add property calculatedWidth, object is not extensible"
### Environment Information

- fluentui/react: 7.155.3
- Browser and OS versions: edge(88.0.705.68)

#### Actual behavior:

when I resize detailslist column, I will got follow error:
![image](https://user-images.githubusercontent.com/65163073/108647364-6bd61800-74f3-11eb-9a07-1e1e39d5d945.png)
![image](https://user-images.githubusercontent.com/65163073/108647403-8b6d4080-74f3-11eb-8727-89845b403cb

[2021-02-22 03:51] qianghuang94 commented on #16783
I tested, looks someone already fixed the issue, thanks! I can't reproduce it also.

[2021-02-22 03:51] #16783 closed

[2021-02-22 07:04] shivasai09 commented on #17072
filed the bug at nvda to get more context
https://github.com/nvaccess/nvda/issues/12090

[2021-02-22 11:53] hellagood9 commented on #11515
If the value of "currentWidth" is placed overwriting the value originally provided in "maxWidth" in my case it has worked and the column widths are respected (I save the value in a Redux state). Hope it helps

[2021-02-22 13:04] eszychli opened #17096 "No way of using breakpoints in JSS"
#### Describe the feature that you would like added

JSS breakpoints classes. Currently, these exist in [CSS only](https://developer.microsoft.com/en-us/fluentui#/styles/web/layout)

#### What component or utility would this be added to

Fluent styles.

#### Have you discussed this feature with our team, and if so, who

No.

#### Additional context/screenshots

Thanks

[2021-02-22 13:20] IggsGrey opened #17097 "Unable to get get Nav dropdown or DefaultButton split dropdown to work"
I have tried to implement the Nav component  and the DefaultButton components both from the docs. Styling and everything else works, but the dropdown functionality itself does not get fired.
For the Nav component, it does nothing when i try to expand a submenu.

For the split DefaultButon, it does nothing when i try to show the dropdown options (by clicking obv). The only thing that happens is tha

[2021-02-22 14:07] #16530 closed

[2021-02-22 15:46] Hotell opened #17101 "TypeScript target/lib option doesn't constraint ECMA features on type checking within packages"
### Current Behaviour

While implementing https://github.com/microsoft/fluentui/pull/16976 I ran into following TS related(compile/runtime) bug within our packages.
- `target/lib` tsconfig option restriction has effect on code that is used within monorepo package

![image](https://user-images.githubusercontent.com/1223799/108728735-241eb300-752a-11eb-8df9-c49977b53344.png)

#### Expected behavior:

[2021-02-22 17:51] mikeybkats commented on #16774
Thank you for your response. I have defined an override for parseDateFromString as you have suggested. This has solved my problem for the time being.

[2021-02-22 18:05] chrisdholt commented on #16734
@hrant-ian let us know if you run into this again - for the most part, until `fast-element` is bumped to a major version, this issue can be solved by ensuring the same instance is installed for the entire project. If you're taking a dependency on `@fluentui/web-components`, using the same version in your package.json should prevent this from happening.

[2021-02-22 18:05] #16734 closed

[2021-02-22 18:19] chrisdholt opened #17110 "[web-components] update neutralForeground recipe to favor white when both white and black meet contrast requirements"
There are certain colors where when used as a background, both black and white foreground text would meet 4.5:1 contrast. Currently, in scenarios like this we default to using black text. There are several requests from teams to instead prefer white text. This issue exists to track an update to prefer white text in cases where both white and black pass contrast requirements.

[2021-02-22 18:21] chrisdholt opened #17111 "[web-components] update accentForegroundCut recipe to favor white when both white and black meet contrast requirements"
There are certain colors where when used as a background, both black and white foreground text would meet 4.5:1 contrast. Currently, in scenarios like this we default to using black text. There are several requests from teams to instead prefer white text. This issue exists to track an update to prefer white text in cases where both white and black pass contrast requirements.

[2021-02-22 18:44] dps88 commented on #16790
@joschect, @Arsasana   I have had similar issues if the command bar is in a div with flex on it.  Here's a codepen in a [related issue](https://github.com/microsoft/fluentui/issues/16268#issuecomment-749868695)

[2021-02-22 19:56] rconjaerts opened #17117 "openSubMenu doesn't exist on IContextualMenuRenderItem"
I'm trying something very simple, programatically opening the subMenu of a commandBarItem. Reason why I'm doing this is because in the end I want to connect it to an onHover statement such that I can open the subMenu on hover, which currently isn't supported.

Based on the documentation this should be possible by using the componentRef (IRefObject<IContextualMenuRenderItem>) field part of the [ICo

[2021-02-22 20:40] rconjaerts commented on #17117
Investigated it some more, it's getting weirder. The Ref can have 2 possible types: ContextualMenuItemBase or BaseButton.

In case of the first one, the function openSubMenu is available, in case of the last one the function openMenu should be used. What I can't figure out yet is why the Ref would switch between these two objects.

[2021-02-22 21:47] #16591 closed

[2021-02-22 23:36] JustSlone commented on #15198
@thekeviv This is an interesting idea. It will be a large undertaking, but potentially valuable.

I'll do a little research internally on what might have already been used in various products here, that should give us some pointers on possible future solutions.

[2021-02-22 23:39] daramful commented on #16251
This is actually resolved with ariaValueText attribute. I will close this.

[2021-02-22 23:39] #16251 closed

[2021-02-23 00:43] thekeviv commented on #15198
@JustSlone Thank you! Please keep me posted and I would love to work on this!

[2021-02-23 01:25] HimanathD opened #17126 "Screen readers skip reading the content/header on opening the teaching bubble and only reads about close/next/previous buttons."
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:

### Please provide a reproduction of the issue in a codepen:

#### Actual behavior:

#### Expected behavior:

### Documentation describing expected behavior

[2021-02-23 01:33] HimanathD commented on #17126
Repro steps :

- Open nvda
- In browser edge,  click on any  show teaching bubble example  @ https://developer.microsoft.com/en-us/fluentui#/controls/web/teachingbubble

Expected: screen reader to read the title/content of the bubble.
Actual: it simply reads about close or any other button which have focus and ignore the content. User will not have any context what these buttons are with out readi

[2021-02-23 05:16] JustSlone commented on #15685
Bot is so grumpy sometimes.

We haven't done extensive tests of React 17, but we will officially support it with the upcoming Version 8 release of @fluentui/react, things should just work, 17 has very few breaks in it. If you hit any issues feel free to file them.

[2021-02-23 05:42] rizkyramadhan commented on #15685
Yes, I have been using fluent v8 for a while. One thing that I would like to suggest is to upgrade react dependencies to 17 instead of > 16 & < 17.

That would silence yarn complaining about react version mismatch.

[2021-02-23 06:17] bharath3719 opened #17128 "onClick event handler for IconButton not working"
i have the following code. Unable to attach onClick event . How do i attach handler to item click ?

<IconButton
        menuProps={menuProps}
        iconProps={menuIcon}
        title="menu"
        ariaLabel="menu"
        onClick={openPopup()} -- Doesnt work
    onMenuClick= {openPopup()} -- Fires when the menu is clicked , not the item
/>

    const menuProps: IContextualMenuProps = {

[2021-02-23 06:26] tomi-msft commented on #16738
Update:

    - [react-icons](https://github.com/microsoft/fluentui-system-icons/pull/182) package has been published
       - Accessible through `@fluentui/react-icons`
   - [HackMD](https://hackmd.io/RPZl3VIDRz-sobbE48IJuQ) for the migration guide available
      - Get feedback from partners about what they need to migrate

To Do:
  - Incorporate new icons to the repo
  - Incorporate new icons in

[2021-02-23 06:37] tomi-msft commented on #16745
Update:
- [Icon Migration Questions](https://hackmd.io/JhsO5tanTbiVDW3HCv4GIg)

To Do Tuesday:
- Comparison on v8 and v0
- Gather open GitHub issues related to component in epic issue

[2021-02-23 10:04] #17007 closed

[2021-02-23 11:09] abmis-mi opened #17132 "Need an option to Search and Create New in the Combo Box"
#### Describe the feature that you would like added

We need a feature like this in the Combox Box, where a user can search for an item by typing the search text in the combo box (internallyl calling an api), and if not found in the list the can see a button to create a new item with the text. And option should be there to make it multiselect or select only one.
![image](https://user-images.github

[2021-02-23 11:14] abmis-mi commented on #17132
Any pointers to achieve this with current combobox by overriding some properties/adding custom code over the current component is also welcome.

[2021-02-23 11:52] VardhanAkula97 opened #17135 "Tag Item component has incorrect screen reader announcement for the selected label"
### Environment Information
- Windows 10
- Node - 14.15.1
- npm - 6.14.8

### Describe the issue:

The tagItem reads out unnecessary text upon selection. For example if the user has selected an item "yellow",  the screen reader reads out  "**yellow remove**" upon focus instead of reading just "Yellow" upon focusing on the tagItem and reading "Remove" upon focusing the remove button

### Please pro

[2021-02-23 14:11] yStreahn commented on #16814
@marwalsch Hey! If you want to manipulate the displayed value of the dropdown a.k.a the current search you need to change the "searchQuery" property.

[2021-02-23 16:57] miroslavstastny commented on #17056
These are the current dependencies of `react-components` package:
![image](https://user-images.githubusercontent.com/9615899/108878228-569adf80-7600-11eb-9ce6-e805b4b4d0b1.png)

Green circle means the package is part of converged.
Red circle means the package is part of v7/8 and should be removed from the dependency tree.
Red question marks require further discussion.
`compat` - those will be remo

[2021-02-23 17:00] miroslavstastny commented on #17056
### TODO before release
- [x] bump everything to 9.0.0-alpha .0
	- [x] agree on dist tag - `alpha` or `latest`? - **`alpha`  and let's face the issues, this should be short term only (~3m)**
	- [x] have a list of bumped components which are not part of `react-components`
		- [x] what exactly should we bump? - **only the ones re-exported in `react-components`**
- [ ] create `react-components` packa

[2021-02-23 17:06] ling1726 commented on #16465
## Feb 02/16 - 02/23

### Achievements
* Investigated render optimizations for Menu items
* PR out for menu to use context selectors
* Initial implementation of focus management lib based on ability-helpers to unblock scenarios

### Challenges
* Focus management is complicated and there are lot of scenarios to support
* Too much time on analysis

### Objectives
* Get flat list keyboard navigation

[2021-02-23 17:09] behowell commented on #16373
Update:
* makeStyles styling refresh is merged
* Support for colorful avatars PR is out: https://github.com/microsoft/fluentui/pull/17131

[2021-02-23 17:11] miroslavstastny commented on #16372
## Weekly update Feb 23

### Achievements
- `react-avatar`, `makeOverrides` merged
- discussed how to handle theme-specific static styles = do not support them for now
- agreed on converged packaging and versioning - alpha release tracked in #17056
- `react-components` created - #17100
- versions bumped to 9.0.0-alpha.0, dist tag `alpha` - #17093

### Objectives
- get rid of SCSS in Avatar/Badge
-

[2021-02-23 17:12] Hotell commented on #16889
**Update:**
- initial path aliases are merged, react-menu is the guinea pig :)  #16976

[2021-02-23 17:27] smmatte commented on #15198
@thekeviv our team tried implementing roosterjs rich text editor, however we were facing issues to render the content dynamically. We are now implementing rich text editor using alternate package React Draft Wysiwyg, which is based on DraftJS.

[2021-02-23 17:36] behowell commented on #16735
Update:
* Investigating options to structure API to solve issues mentioned in https://github.com/microsoft/fluentui/issues/15102, and reduce bundle size bloat for components that use tooltip internally
* Spec is in progress
* Package scaffolding PR: https://github.com/microsoft/fluentui/pull/17133

[2021-02-23 17:42] kubkon commented on #16658
## Update 23-02-2021

I've started doing OpenUI research for `Image`/`img`, and gathering intel what's out there in the wild. I hope for the first draft PR into the OpenUI repo to be ready by tomorrow.

[2021-02-23 17:42] #16966 closed

[2021-02-23 17:42] JustSlone commented on #16926
Update:
- Contextual behavior is a challenge, need to figure out approach here. Spending more time on Debate here
- Technically in implementation phase

[2021-02-23 17:43] JustSlone commented on #16925
Update:
- Spec merged!
- Base Badge merged!
- Implementation of specific components in progress

[2021-02-23 17:45] JustSlone commented on #16791
Update:
- Gathered github issues
- inprogress: Comparison between v0 and v8

Goal for Feb:
- Finish spec

[2021-02-23 18:17] yangster23 commented on #12867
Note that I'm facing the same issue with NVDA:

NVDA is announcing "Go to previous month October  button November 2004  table November 2, 2004  row 2  Tuesday  column 3November 2, 2004  button  row 2"  after expanding "Date of birth" control but here as the NVDA is announcing "Go to previous month October  button" it cause the confusion for screen reader users to think that the screen reader focus

[2021-02-23 18:36] thekeviv commented on #15198
Thanks for letting me know @smmatte. Since there's already some work going on in the area, I think I will start looking into some other issues. Please let me know if you have any in mind where I can help.

[2021-02-23 18:52] joschect commented on #16898
@RobertPakkoMSFT Thanks for the submission! I see what you're talking about. This is definitely a bug

![image](https://user-images.githubusercontent.com/20801176/108892711-0d796a00-75c5-11eb-8bf8-384c6f7e7e6a.png)

[2021-02-23 18:52] joschect commented on #16898
We'll get this added to our backlog and looked at!

[2021-02-23 18:56] joschect commented on #16896
@VardhanAkula97 Thanks for the submission! I can see what you're experiencing. This is currently being logged and tracked in [this issue](https://github.com/microsoft/fluentui/issues/12863). I've added @lorejoh12 and @ecraig12345 for visibility but per the comments on that issue it looks like we are planning to meet the zoom requirement in the future. For now I'm closing this as a duplicate.

[2021-02-23 19:00] joschect commented on #16837
@DavidIsrawi Thanks for the submission! this is an easy repro and is pretty interesting. I'm not sure why this is occurring but I've added it to our backlog to get it looked at.

[2021-02-23 19:11] RobertPakkoMSFT commented on #16898
Thank you for the update. In the meantime, do you have a workaround for this bug? I noticed that it does not appear on your documentation pages, which makes me think there is something I can do to mitigate this issue while it is in your backlog.

[2021-02-23 19:14] #13879 closed

[2021-02-23 21:30] smhigley commented on #16983
@MightySameerDesai treeitems use a selected state rather than a checked one, so it would need to have `aria-selected` rather than `aria-checked`. For that reason, the Checkbox control is not a good base for creating a tree.

Unfortunately, we do not currently have tree control, but it's been discussed and would certainly be a good feature request!

[2021-02-23 22:03] smhigley commented on #16983
Just a small side note -- it would not be a good idea to manually put `aria-selected` on the checkbox, since checkboxes already have native checked semantics. This could cause conflicts and unintended dual checked/selected state, which some screen readers may actually announce. Additionally, an `<input type="checkbox">` does not support having `role="treeitem"`: https://w3c.github.io/html-aria/#el

[2021-02-23 22:03] #16983 closed

[2021-02-23 23:00] #17030 closed

[2021-02-23 23:18] joschect commented on #17088
Hey @cvabanuk3 Thanks for the submission! I'm not sure but I believe that this is happening because the first modal is blocking and is likely trying to keep focus. As a work around, you can try something like [this modified version of your codesandbox](https://codesandbox.io/s/fluent-modal-on-dialog-forked-0tg1h?file=/src/index.tsx) which might allow voice over to interact with the second modal.

[2021-02-23 23:25] joschect commented on #16977
@svirga thanks for the submission! I think that this is because the collapse all is marked as a column header as you can see below. We'll need to investigate more and get a fix in!
![image](https://user-images.githubusercontent.com/20801176/108921477-43c9e000-75eb-11eb-8e10-6d1ea980e1b9.png)

[2021-02-23 23:47] joschect commented on #16989
@GordonSmith Thanks for the submission! I'm not positive but I believe that this is due to your use of "Float". It looks like that is causing the width of the dropdown to not match it's actual length. You can see in this [version of your codepen where I don't use float](https://codepen.io/slimemold/pen/KKNyBrz?editors=1010) that everything appears fine. Let me know if that helps!

[2021-02-24 00:02] joschect commented on #16984
@MightySameerDesai Thanks for the question! We don't implement that by default because we want to allow users to decide what happens when the custom item is interacted with. A good example that some people have used it for is a searchbox, where clicking on it both shouldn't dismiss the menu and potentially shouldn't dismiss other submenus. If you want this behavior onRender does supply a dismiss c

[2021-02-24 00:02] MwSpaceLLC commented on #15732
😍 Hi guys,
I just wanted to know when it will be available for our dash project with react "17.0.1".
I ask this question so I can move the team to other parts of development

[2021-02-24 00:09] ecraig12345 commented on #15732
@MwSpaceLLC It's available in the version 8 beta currently.

[2021-02-24 00:56] cabillin opened #17151 "Passing aria-live prop directly to Callout component results in nested aria-live regions"
### Environment Information

- **Package version(s)**: @fluentui/react: "7.137.2"
- **Browser and OS versions**: Edge Dev (90.0.803.0) + Narrator

### Describe the issue:

Following "Non-focusable Callout with accessible text" example results in nested aria-live regions & the content being read twice by Narrator
![image](https://user-images.githubusercontent.com/71525014/108928640-59450700-75f7-11

[2021-02-24 06:26] GordonSmith commented on #16989
@joschect - I agree float is highlighting the issue, but my expectation is that no matter how the DropDown gets positioned, that the "Dropped" portion would match the width and position of the "Non-Dropped" position.

[2021-02-24 07:22] marwalsch commented on #16814
@yStreahn Thanks, this allows to initially set the value, but seems to be unable to be manipulated like regular input fields? Doing as follows doesn't allow you to edit the initial value [Sandbox](https://codesandbox.io/s/fluent-ui-example-forked-rvxpr?file=/example.js).
[code]

[2021-02-24 07:37] yStreahn commented on #16814
@marwalsch Exactly. The onChange is only triggered when the value changes (item is selected, cleared). There is a separate change handler called onSearchQueryChange. But it somehow does not get called when the dropdown is cleared so you would need to trigger it manually in the onChange event.

[2021-02-24 09:50] marwalsch commented on #16814
@yStreahn It appears simply [exchanging the `onChange `with `onSearchQueryChange](https://codesandbox.io/s/fluent-ui-example-forked-rvxpr?file=/example.js) `doesn't work as expected, as the passed data value is frequently null rather than the actual input.

[2021-02-24 09:59] yStreahn commented on #16814
@marwalsch Ah yeah so your onSearchQueryChange should look something like this.
`handleSearchChange = (e, data) => {
    this.setState({
      value: data.searchQuery
    });
  };`

[2021-02-24 10:00] rconjaerts commented on #17117
To solve this, I used forceUpdate within a useEffect to make sure we do a re-render. This forces the ref object that you used in the componentRef field of your ICommandBarItemProps to become of the type BaseButton. Then you can simple use the openMenu function to open it.

[2021-02-24 10:00] #17117 closed

[2021-02-24 10:20] marwalsch commented on #16814
@yStreahn Thanks a lot, that made the selection work.
I noticed two things though:

1. `onSelect `is always called when the search-field is typed in and, making it somewhat unnecessary compared to the `onSearchQueryChange`. I imagine this behaviour to be unintentional (?).
2. As pointed out earlier, clearing the dropdown does not actually do what it's supposed to do now ([Issue #12314](https://git

[2021-02-24 10:39] yStreahn commented on #16814
@marwalsch You can do something like this

`handleSearchChange = (e, data) => {
    this.setState({
      value: data.value ? data.value : ""
    });
  };

  handleChange = (e, data) => {
    if (data.value == null) {
      this.handleSearchChange(e, data);
    } else {
      //do stuff
    }
  };

  //@Override
  render() {
    return (
      <Dropdown
        search
        clearable={true}

[2021-02-24 10:40] ecraig12345 opened #17156 "Azure theme doesn't work with new DatePicker/Calendar"
`packages/azure-themes/src/azure/styles/DatePicker.styles.ts` relies on the old global classNames for styling overrides, so Azure styling of the DatePicker/Calendar will be broken in v8 until this is fixed.

The best immediate solution is probably to update the theme to include overrides for individual sub-components as described in #15646.

[2021-02-24 10:54] bharath3719 commented on #17128
const menuProps: IContextualMenuProps = {
        items: [
            {
                key: 'link',
                text: 'Link',
                iconProps: { iconName: 'Link' },
            },
            {
                key: 'deLink',
                text: 'De-link',
                iconProps: { iconName: 'RemoveLink' },
            },
        ],
        onItemClick: props => { openPopup() }

[2021-02-24 10:54] #17128 closed

[2021-02-24 13:07] marwalsch commented on #16814
@yStreahn I did something similar. Currently the behaviour is calling `onSelect`   when the user explicitly selects an searched item, which is then mapped to an object. But since this is called every time, it checks the map each time the query changes, even though i can assume it's 99% not matching gibberish when a term is entered. This definitely works but might be a performance concern.

[2021-02-24 13:20] MwSpaceLLC commented on #15732
Tnks @ecraig12345! So u have any date for use it on production? Or we can try to use it in production? Sorry my question 😢

[2021-02-24 17:54] #15355 closed

[2021-02-24 18:09] prakhar241 opened #17164 "Web contextual menu button doesn't come out of menu when I press 'tab' key"
### Describe the issue:
Currently, "Contextual Menu" doesn't close when we use 'tab' key. You can check the behavior here- https://codepen.io/prakhar241/pen/dyOZrpZ.

If you check W3C recommendations on Application Menus • [Menus • WAI Web Accessibility Tutorials (w3.org)](https://www.w3.org/WAI/tutorials/menus/application-menus/) - this recommends 'tab' to close the menu and select next focus-abl

[2021-02-24 21:08] faisal-ijaz opened #17166 "Looking for Fluent UI Microsoft Icons in SVG (M365 and D365)"
Hi, I am looking for Microsoft Fluent Icons for m365 and d365. I have been able to find most of the m365 icons though I am using some low res ones for the ones I don't have. The D365 can't seem to be anywhere on the web. It would be awesome if someone can help point me in the right direction to obtain svgs for these icons.

Thanks

[2021-02-24 22:01] cvabanuk3 commented on #17088
Thanks @joschect, unfortunately it doesn't work.

[2021-02-24 23:16] msalvince commented on #17135
The fix for this seems to be to remove the "aria-label" being added to the suggestion item (<button> in Combobox).

I tried locally, removing it from BasePicker.SuggestionItem, and it starts reading the contents of the <button> properly.

I was going to open a new ticket because my use case is that it is not reading out custom text inside the suggestion item properly, and the problem is the parent

[2021-02-25 00:15] kpasagada commented on #16386
Hey @layershifter do you have an ETA on this fix? We have an open accessibility bug due to this.

[2021-02-25 00:19] gadusumi commented on #16654
@layershifter - can you please provide an update if any of the team is looking into this issue. please let me know if you need any information pertaining to this. thank you!!

[2021-02-25 00:25] khmakoto commented on #15897
Closing this in favor of the more detailed approach in #16746.

[2021-02-25 00:25] #15897 closed

[2021-02-25 00:28] khmakoto commented on #15154
Folding into #16746

[2021-02-25 00:28] #15154 closed

[2021-02-25 00:29] khmakoto commented on #15028
Folding into #16746.

[2021-02-25 00:29] #15028 closed

[2021-02-25 00:31] #14789 closed

[2021-02-25 00:31] joshualamusga1 commented on #16872
The PR is receiving comments and moving ahead, so this is redundant. Closing.

[2021-02-25 00:31] #16872 closed

[2021-02-25 00:32] khmakoto commented on #14666
Folding into #16746.

[2021-02-25 00:32] #14666 closed

[2021-02-25 00:32] khmakoto commented on #14673
Folding into #16746.

[2021-02-25 00:32] #14673 closed

[2021-02-25 00:43] khmakoto commented on #14414
Folding into #16746.

[2021-02-25 00:43] #14414 closed

[2021-02-25 01:02] khmakoto commented on #12568
I don't think this is reproable anymore.

[2021-02-25 01:03] brandonthomas commented on #16926
Can we just leverage existing patterns similar to Customizer to address in context needs without breaking encapsulation? I get really concerned when components try to reach out of themselves and make assumptions. Usually leads to unexpected behavior. Would love to understand the approach here.

[2021-02-25 01:04] ecraig12345 commented on #15957
@tomi-msft Can you help follow up on this since it's related to icons?

[2021-02-25 01:13] khmakoto commented on #9093
Closing as `createComponent` has been deprecated.

[2021-02-25 01:13] #9093 closed

[2021-02-25 01:16] khmakoto commented on #14638
Closing since compat docs are no longer the approach we're taking for now.

[2021-02-25 01:16] #14638 closed

[2021-02-25 01:41] jieqiu0129 commented on #12568
I tried it again using the codepen above, the bug still exists. Please follow the repro steps and try again. Thanks

[2021-02-25 07:10] #12256 closed

[2021-02-25 07:51] #15925 closed

[2021-02-25 07:51] #15935 closed

[2021-02-25 08:52] v-vibsingh commented on #16788
Hi @joschect,

Please provide the update on this issue.
This issue is related to SLA based bug on our project. Could you please increase it's priority?

Regards,
Vibhas

[2021-02-25 10:56] aditya-mandavi opened #17173 "Unnecessary whitespace at the bottom and double vertical scrollbar in Panel containing Announced component"
### Environment Information

- **Package version(s)**: latest
- **Browser and OS versions**: Edge, Chrome

### Please provide a reproduction of the bug in a codepen: https://codepen.io/0gravity/pen/VwmyXpM

#### Actual behavior:
1. If a Panel contains an Announced component, unnecessary whitespace appears at the bottom of Panel under footer.
2. Also, two vertical scrollbars appear.

![Panel-contai

[2021-02-25 11:58] aslanovsergey opened #17174 "Where to find documentation for v6"
Hello!

How can I find documentation for version 6? https://developer.microsoft.com/en-us/fluentui gives only v7 docs

[2021-02-25 11:59] #16820 closed

[2021-02-25 16:29] joschect commented on #16788
@v-vibsingh Sorry for the delay! We'll take a look at this.

[2021-02-25 16:38] fanago commented on #17062
Any updates?

[2021-02-25 16:52] joschect commented on #16788
@v-vibsingh After looking into this, I believe that this is intentional  and is working as intended. In this [Grid Example from W3](https://www.w3.org/TR/wai-aria-practices/examples/grid/dataGrids.html) it sounds like `role, button` is read out when focus is put on the sortable date header (see image below). I think this is because button needs to be read out so users know that an element can be i

[2021-02-25 17:06] khmakoto commented on #14065
Closing since this is no longer relevant.

[2021-02-25 17:06] #14065 closed

[2021-02-25 17:17] khmakoto commented on #12568
@jieqiu0129 I'm trying to repro this and failing every time, can you add a GIF of how that looks like for you?

[2021-02-25 19:13] mosesyap opened #17177 "Teachingbubble missing required ARIA attribute: aria-level"
### Environment Information

- **Package version(s)**: 7.155.3
- **Browser and OS versions**: All browsers/Win10

### Describe the issue:
Following up on
https://github.com/microsoft/fluentui/issues/13441

TeachingBubble is still throwing Accessibility Insights error on role="heading" without an aria-level

#### Actual behavior:

TeachingBubble has role="heading" but no "aria-level"

#### Expected

[2021-02-25 19:22] #15223 closed

[2021-02-25 19:22] #15224 closed

[2021-02-25 20:20] hasridha opened #17178 "Documentation for TeachingBubble is incomplete"
1. Open https://developer.microsoft.com/en-us/fluentui#/controls/web/teachingbubble
2. Try to find any documentation for a property/etc to set the aria-label for the bubble close button

**Result** - A keen observer may find a single reference to IAccessiblePopupProps on the page - but it's in a very small font, extremely hidden away and isn't even clear if it's a hyperlink/leads to more documenta

[2021-02-25 22:13] ecraig12345 commented on #16307
I made a change in #17180 to remove the native props extension for now so that at least the props accurately reflect the behavior. Unfortunately due to TS's behavior for all React elements, it will still appear that passing `data-*` attributes to a JSX `<Checkbox>` is allowed (e.g. `<Checkbox data-foo="bar"/>` won't cause a compiler error), but this at least improves the accuracy for other props--

[2021-02-25 23:11] prmutha opened #17182 "Facepile: Overflow number not properly visible in high contrast mode"
### Environment Information

- **Package version(s)**: "office-ui-fabric-react": "^7.158.0",
- **Browser and OS versions**: (fill this out if relevant)

### Describe the issue:

This issue also repros on Fluent documentation -https://developer.microsoft.com/en-us/fluentui#/controls/web/facepile
Repro steps:
1. Set the facepile- overflow button type = descriptive
2. Turn on high contrast mode
3. Ch

[2021-02-25 23:40] levithomason commented on #16746
Note, I checked off "Using makeStyles" as this was done in #17060

[2021-02-26 00:16] lijunle commented on #17035
@joschect I tried to add a prop but figure out the logic is too complicated. Besides, we have V7/V8 divorce. I have another discussion with designer. We are going to solve this issue on our side - when the dropdown is open, pass `disable:true` menu item to avoid focus race.

[2021-02-26 00:16] #17035 closed

[2021-02-26 00:24] drotara opened #17185 "JAWS is not announcing the correct column count with the column header"
### Environment Information

- **Package version(s)**: 7.153.2 +
- **Browser and OS versions**: Edge 88.0.705.50

### Describe the issue:
JAWS reads the column header but does not read the column position/count. This will help a user know how many columns there are and what column position they are in.

### Please provide a reproduction of the issue in a codepen:
https://codepen.io/adrotar/pen/abB

[2021-02-26 00:40] drotara opened #17186 "JAWS reads Contextual Menu Button as "Button, Menu" which is incorrect"
### Environment Information

Package version(s): 7.153.2 +
Browser and OS versions: Edge 88.0.705.50

### Describe the issue:
JAWS when encountering the contextual menu button reads it as Button, menu which is confusing. It should be reading it as "button, has popup collapsed" so that the user knows there is additional information but its collapsed and to select the button to expand.

### Please p

[2021-02-26 00:44] #16143 closed

[2021-02-26 01:40] drotara opened #17187 "JAWS does not announce the message bar"
### Environment Information

- **Package version(s)**: 7.153.2 +
- **Browser and OS versions**: Edge 88.0.705.50

### Describe the issue:
When focus is auto set on a page to something else (Lets say a backbutton) but a message bar is displayed Jaws does not read out the message bar. It only reads out the button that is focused on.

### Please provide a reproduction of the issue in a codepen:
https

[2021-02-26 01:51] ecraig12345 commented on #15222
Now that version 8 has released, all changes should go to `master` first and be cherry-picked to `7.0` only if needed.

[2021-02-26 01:51] #15222 closed

[2021-02-26 02:32] ecraig12345 commented on #12770
## Version 8 has now been officially released! :tada: :tada: :tada:

You can install it from npm using `npm install @fluentui/react@^8.0.0`.

I'm closing this issue now that the work is finished, but feel free to file new issues if you run into any problems.

## Additions to release notes

For anyone who read through the release notes in the past and is interested in changes only, these are the ma

[2021-02-26 02:32] #12770 closed

[2021-02-26 02:33] ecraig12345 commented on #17174
If you scroll down on the homepage, there's a dropdown that lets you select the version. We'll also be adding a version selector to individual control pages soon.

![image](https://user-images.githubusercontent.com/5864305/109246893-e58e3000-7797-11eb-90a1-286b73dffa33.png)

[2021-02-26 02:34] ecraig12345 commented on #17166
@tomi-msft

[2021-02-26 04:05] jieqiu0129 commented on #12568
![1](https://user-images.githubusercontent.com/48943804/109253167-220a6c00-782a-11eb-8cdf-8f53641c954f.gif)

Click "zoom-in" icon -> press and hold on the space key -> click "zoom-out" icon -> release the space key and the mouse. You can see the zoom-in icon is still highlighting

[2021-02-26 07:10] #15178 closed

[2021-02-26 07:36] #16901 closed

[2021-02-26 07:56] #14702 closed

[2021-02-26 08:30] ecraig12345 commented on #16547
We just released version 8 which includes React 17 in its peer deps range, so if you want to use React 17 I'd recommend upgrading to version 8.

Once we're able to test version 8 against React 17 (see #15732), the number and difficulty of bugs we find will determine whether we can consider adding React 17 to the peer deps range for version 7.

[2021-02-26 08:32] ecraig12345 commented on #15732
@MwSpaceLLC Version 8 (non-beta) was released today. If you find any issues with it using React 17, please file an issue and we'll fix it.

[2021-02-26 12:40] aslanovsergey commented on #17174
Thank you! It’s very helpful

Sergey

[2021-02-26 13:54] WojciechKulpa commented on #16143
Hi All,
Thanks a lot for your support and fix!!! I have just upgraded our project to @fluentui/react v8.1.0 (from 7.24.0).
Process was extremally smooth - all tests are passing, no issues detected!

So again great thanks to you @ecraig12345, @JustSlone and @layershifter! This is awesome🎉

[2021-02-26 20:37] tomi-msft commented on #17166
Hi @faisal-ijaz where have you looked for the icons? Which icons specifically are you looking for? It sounds like you're looking for branded svg icons, so I would check in `@fluentui/react-icons` in fluentui v7, or `@fluentui/react-icons-mdl2-branded` in fluentui v8.

If they're not there, then they might be in the [office brand icons](https://developer.microsoft.com/en-us/fluentui#/styles/web/off

[2021-02-26 20:56] khmakoto commented on #12568
I see it now, thanks!

[2021-02-26 20:59] khmakoto commented on #5322
@beeisabelm @jeffersoneagley we're currently in the process of revamping our components from many angles: bundle size, styling, API interface, etc. Card will be part of these components and that will hopefully remove any barriers for merging. We'll keep you updated on the process.

[2021-02-26 21:00] ecraig12345 commented on #16143
@WojciechKulpa You're welcome, and great to hear the upgrade went well for you!

[2021-02-26 21:00] #17174 closed

[2021-02-26 22:02] joschect commented on #16787
@v-ajrai I've taken a look at this and I can't reproduce this with either narrator or NVDA, I suspect that this is a problem with Jaws, especially considering that we have the appropriate aria-labeling on the elements (see screenshot below)

![image](https://user-images.githubusercontent.com/20801176/109359965-399e2080-783b-11eb-9561-b46a8265cff4.png)

[2021-02-26 22:22] JustSlone commented on #15198
I did some research here, and there is actually a set of react components built on roosterJS using @fluentui/react@v7. https://github.com/microsoft/roosterjs-react

This might be interesting for folks looking for a solution here.

@thekeviv if you are looking to help out, check out issues labeled with ["Good First Issue"](https://github.com/microsoft/fluentui/issues?q=is%3Aopen+is%3Aissue+label%3A

[2021-02-26 22:58] joschect commented on #16766
@amitroy-790 Thanks for the submission! This looks like a bug, the focus should be moving to the panel automatically and I'm not sure why it's not doing it. We'll get this looked at.

[2021-02-26 23:25] thekeviv commented on #15198
Will do, thanks @JustSlone

[2021-02-26 23:29] joschect commented on #17135
@VardhanAkula97 Thanks for the submission! It looks like removing the aria label from the selected item will not resolve the issue you have described (see screenshot). As an alternative, you could remove the aria-label from the delete icon by not passing in an aria-label, but that's not ideal. I am uncertain as to why the IconButton's aria-label is being treated as though it's part of the selected

[2021-02-26 23:34] abithap opened #17201 "CommandBar doesn't get focus visibility for first time if inside an iframe"
### Environment Information

- **Package version(s)**: 7.155.0
- **Browser and OS versions**: Chrome/Edge and Windows 10

### Describe the issue:

When CommandBar component is the first element in an iframe, keyboard tabbing through the elements from outside the iframe to inside, doesn't set focus visibility correctly on the first item of commandbar.
But once the next element to commandBar gets th

[2021-02-27 00:00] #16896 closed

[2021-02-27 02:05] mosesyap opened #17203 "NVDA does not announce the Expand/Collapse action on the grouped DetailedList"
### Environment Information

- **Package version(s)**: 7.155.3
- **Browser and OS versions**: chrome/Edge Chromium/Win 10

### Describe the issue:

This repros on the samples in https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist/grouped.
NVDA does not announce that you can expand and collapse the children when the context is on the header row.  It simple says the state of the

[2021-02-27 02:13] ameliabateman opened #17204 "@uifabric/date-time DatePicker swallowing esc behavior for parent Callout"
### Environment Information

- **Package version(s)**: @uifabric/date-time v7.19.21
- **Browser and OS versions**: Win10 and Chrome, presumed irrelevant

### Describe the issue:

We have a DatePicker inside of a Callout (with numerous other editable fields). While focus is on the DatePicker, 'Enter' pulls up the calendar and 'Escape' minimizes it, but a further 'Escape' does not close the Callout.

[2021-02-27 04:12] kazuki commented on #9264
implemented in #16854 ?

[2021-02-27 05:27] #5557 closed

[2021-02-27 06:26] JustSlone commented on #6029
Cleaning up older issues, if this is still an important issue please feel free to reopen

[2021-02-27 06:26] #6029 closed

[2021-02-27 06:30] #7283 closed

[2021-02-27 06:30] #7925 closed

[2021-02-27 06:32] #9431 closed

[2021-02-27 06:33] JustSlone commented on #9856
Closing out older issues, if this is still an issue feel free to reopen

[2021-02-27 06:33] #9856 closed

[2021-02-27 16:55] craigkovatch opened #17205 "Disabled listbox items (e.g. in Dropdown) should still be focusable"
### Environment Information

- **Package version(s)**: latest (7?)
- **Browser and OS versions**: Chrome 88 on macOS

### Please provide a reproduction of the issue in a codepen:
https://codepen.io/craigkovatch/pen/rNWdVMv

#### Actual behavior:

Disabled items in the popup listbox of the Dropdown control are not keyboard-navigable.

#### Expected behavior:

Disabled items in the popup listbox sho

[2021-02-28 03:44] JustSlone commented on #16918
Awesome repro, thanks.

If someone wants to jump on this and figure out what's going wrong, and propose a fix, please do!

[2021-03-01 03:04] andrew-hwahin opened #17208 "Could not load version 8 component API docs"
### Environment Information

- **Package version(s)**: 8.1.0
- **Browser and OS versions**: Google Chrome 88.0.4324.190 (Official Build) (64-bit) Windows 10 Pro 2004

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
![image](https://user-images.githubusercontent.com/61768800/109443846-a2251180-7a76-11eb-8b93-298b54700948.png)

#### Expected behavior:
The page shoul

[2021-03-01 04:06] #15834 closed

[2021-03-01 04:06] #14663 closed

[2021-03-01 04:12] JustSlone commented on #17208
Thanks @andrew-hwahin, I am able to repro the issue as well.

Looks like the last version 8 of the docs that are available are: https://fabricweb.z5.web.core.windows.net/oufr/8.0.0-beta.43/ from end of January.

@ecraig12345 will be able to figure out what went wrong

[2021-03-01 04:22] JustSlone commented on #17062
@fanago, sorry this issue is fairly complex. It's going to be pretty hard to investigate this without a repro.

Some questions and thoughts:
- What version of office-ui-fabric-react are you using, I'm guessing it's provided by SPFX right?
- React 15.4 is fairly old, it's unlikely, but perhaps we are hitting issues due to the old version of React.

[2021-03-01 07:59] VardhanAkula97 commented on #17135
Thanks a lot for the reply

[2021-03-01 08:00] VardhanAkula97 commented on #16896
Thanks  a lot for the reply

[2021-03-01 09:28] SvampK opened #17210 "The DetailsList - Basic example on the Fluent UI website is not working"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:

on the website when I clicke on show code on example, it shows the following error message
"There is an error preventing the code from being rendered:
Error while rendering component: Minified React error #130; visit https://reactjs.org/docs/error-decoder.

[2021-03-01 09:39] tomi-msft commented on #15767
closing cause this seems to be resolved

[2021-03-01 09:39] #15767 closed

[2021-03-01 09:53] tomi-msft opened #17212 "Open Issues to track as part of the converged icon component"
### Describe the issue:

Open issues to keep track of as part of the converged icon work.

- [ ] Looking for Fluent UI Microsoft Icons in SVG (M365 and D365) #17166
- [ ] Update package names in aka.ms/fluentui-icons #15957
- [ ] Is there a CDN link to the latest fabric icon set css file? #15939
- [ ] Add CheckboxIndeterminateCombo #15305
- [ ] No way to use brand ()365) multi-color icons #14151
-

[2021-03-01 10:24] tomi-msft commented on #16738
Update:

- Close this issue and open a separate issue for:
    - Incorporate new icons to fluentui repo
    - Incorporate new icons to partners repo
    - Use the learnings to add to the Migration guide
    - Add Migration guide to package and update icon website

[2021-03-01 13:19] GordonSmith opened #17213 "NPM Releases missing files?"
### Environment Information

- **Package version(s)**:  v8.1.1
- **Browser and OS versions**: All

### Please provide a reproduction of the bug in a codepen:

Compare contents of:
* https://cdn.jsdelivr.net/npm/@fluentui/react@8.1.1/dist/
* https://cdn.jsdelivr.net/npm/@fluentui/react@7.162.0/dist/

#### Actual behavior:

fluentui-react.min.js is missing

#### Expected behavior:

fluentui-react.mi

[2021-03-01 13:47] eszychli opened #17215 "ISemanticColors / ISemanticTextColors not updated with latest neutral colors palette"
### Describe the issue:

For example, theme.semanticColors.bodyDivider = '#EAEAEA' instead of '#EDEBE9'.
Should be aligned with [color conversion table](https://static2.sharepointonline.com/files/fabric/fabric-website/files/fabric-neutrals-web-color-conversion.pdf).

[2021-03-01 14:55] srkaliva opened #17216 "After Callout comes, Focus is going to start of the page"
### Environment Information

- **Package version(s)**: Latest
- **Browser and OS versions**: All

### Describe the issue:

I have added a callout to a button. When we tried to click on that button callout comes up and when on pressing tab, focus was going to start of the page. Which was not expected.

### Please provide a reproduction of the issue in a codepen:
Checked the same scenario on the cal

[2021-03-01 15:43] kubkon commented on #16658
## Goals for March:

* Land OpenUI research PR [WICG/open-ui#274](https://github.com/WICG/open-ui/pull/274)
* Spec draft (v0 vs v7)

[2021-03-01 15:44] JustSlone commented on #16791
Update - 3/1
- Submitted PR with the finished spec, looking good

Goals for March:
- Finish implementation

[2021-03-01 16:07] kubkon opened #17217 "Research performance tests used by other frameworks"
This is one of those Schroedinger's issue which might either come to a close really quickly, or unwrap into a rather lengthy, time-consuming research with many avenues. The TL;DR of this issue is to track and gather intel on performance tests used by other frameworks. As I will be working on analysing other frameworks and how it's done over there, I will periodically update this issue, so feel fre

[2021-03-01 17:06] MightySameerDesai commented on #16984
Also, in the codepen you provided, it is straightforward because you dismissing the menu itself, and using the onClick prop. What I would hope however, is for a boolean prop that we can use to say whether we want the sub menus to be dismissed when the mouse navigates out of a submenu into the main menu. I understand there would be cases where you want the submenus to stay open despite the mouse mo

[2021-03-01 17:22] andrefcdias commented on #16791
Goals for March:
 - Deliver spec and close `Preparation` phase
 - Finish Flex implementation with unit tests

Stretch goal:
 - Add storybook stories

[2021-03-01 17:35] MightySameerDesai commented on #16984
![menu](https://user-images.githubusercontent.com/34333232/109535244-56a84d00-7ae2-11eb-980e-892ae02f9a18.jpg)

Just so I was clear, in the above menu,
a. Mouse is on submenu 3.1
b. Mouse moves back to main menu item 4
c. The submenu does not dismiss
d. If however the mouse moves (or hovers to menu items 1,2), the sub menu does auto-dismiss

[2021-03-01 18:10] khmakoto commented on #16572
We'll pick up the `validation` section in the `April` milestone.

[2021-03-01 18:21] MightySameerDesai commented on #16984
UPDATE:

I was able to just keep a map of componentRefs for all menuitems with submenu and dismiss them using the callback provided when onMouseEnter event happened for my custom rendered component.

Perhaps adding a prop like I requested for, sometime in the future would make it even easier :)

Thanks for your time

[2021-03-01 18:38] smhigley commented on #15859
@stupparde this is what happens when using Narrator's scan mode, where keyboard interactions are captured and handled by Narrator itself, in order to provide a rich interface for interacting with UI. If you switch to Narrator's app mode (which is the expected mode to interact with form fields like comboboxes, radios. etc.), keyboard commands will be passed through to the page, and you'll see arrow

[2021-03-01 18:38] #15859 closed

[2021-03-01 18:49] smhigley opened #17221 "Make progress on accessibility"
This is a general issue to track making progress burning down accessibility bugs in March for Fluent UI.

The goal is to get a handle on the backlog of accessibility issues, so we can stay on top of incoming bugs.

Areas of focus include:
- DetailsList
- Pickers
- Calendar/DatePicker
- ContextualMenu

[2021-03-01 19:17] rockcs1992 commented on #9264
Yes the featuring mentioned in the main thread should already be added in this PR https://github.com/microsoft/fluentui/pull/16854

[2021-03-01 20:54] #14477 closed

[2021-03-01 20:55] smhigley commented on #15060
Closed via #17202

[2021-03-01 20:55] #15060 closed

[2021-03-01 21:40] #16628 closed

[2021-03-01 23:28] ecraig12345 opened #17229 "Build and/or shield mop-up work (Elizabeth)"
Placeholder issue for 2nd half of March work:

#### Build-related
- [ ] Finish or close package structure/naming RFCs #16577 and #16772
- [ ] Finish PR deploy storage/Azure access fix #16304
- [ ] Finish pre-react 17 test fixes #17050
- [ ] Possibly: get tests running with react 17 #16886 (will require jest upgrade; should get TS upgrade done first)
- [ ] Assist with TS upgrade and other build wor

[2021-03-01 23:34] ecraig12345 commented on #17213
Thanks for reporting this, and I'll work on a fix ASAP. The problem here is that most of the stuff that's supposed to be under the package's `dist` folder, including the UMD bundle file, is not getting generated. Still need to investigate why, but I'm wondering if it has something to do with @dzearing's webpack 5 upgrade work.

[2021-03-01 23:34] ecraig12345 commented on #17208
Sorry about that, and I'll work on a fix ASAP. In the meantime, you can view the latest docs for version 8 on [this page](http://fabricweb.z5.web.core.windows.net/pr-deploy-site/refs/heads/master/public-docsite-resources/demo/index.html).

[2021-03-01 23:43] ecraig12345 commented on #17208
I bet this is the same root cause as #17213, likely something to do with @dzearing's webpack 5 changes given the timing.

[2021-03-01 23:46] ecraig12345 commented on #17208
I've also removed all the broken versions from fluentdemo, so it's a bit out of date but at least not entirely broken.

[2021-03-01 23:53] ecraig12345 commented on #17213
Based on @JustSlone's comment https://github.com/microsoft/fluentui/issues/17208#issuecomment-787622496 I checked unpkg links for 8.0.0-beta.43 vs 8.0.0-beta.44 and that's also when the bundle went missing.
works: https://unpkg.com/@fluentui/react@8.0.0-beta.43/dist/fluentui-react.js
missing: https://unpkg.com/@fluentui/react@8.0.0-beta.44/dist/fluentui-react.js

beta.44 is when the webpack 5 chan

[2021-03-02 00:23] daewigma opened #17230 "Fallback styles"
#### Describe the feature that you would like added

The ability to specify multiple versions of a css rule, similar to [This in JSS](https://cssinjs.org/jss-syntax?v=v10.5.1#fallbacks)
This will allow for better support of older browsers (having backup rules for when things like `calc` isn't supported by older browsers)

#### What component or utility would this be added to

@fluentui/merge-style

[2021-03-02 01:15] joschect commented on #16984
@MightySameerDesai That's great that you found a workaround! Sorry that there wasn't an easy solution. We can consider adding a feature like this in the future per your request as it allows for more consistent customization.

[2021-03-02 01:34] joschect commented on #17135
@smhigley Do you have any ideas about a way to fix this? As far as I can tell the aria attributes are correct.

[2021-03-02 03:50] joschect commented on #17204
@ameliabateman  Thanks for the submission! This is interesting, I suspect that it might be happening because the focus isn't returning back to the original callout. I am unsure as to why this behavior might differ between oufr and the date-time package. I don't see any differences but @lorejoh12 might know more.

[2021-03-02 04:20] joschect commented on #17205
@craigkovatch Thanks for the submission! I believe this was done to keep the dropdown component inline with the way that default select works. You can see [in this codepen](https://codepen.io/slimemold/pen/ZEBoJQE) that the regular select skips disabled items as well. I'm not positive but I believe that aria 1.2 is still under development as per [this url](https://www.w3.org/WAI/standards-guidelin

[2021-03-02 04:51] joschect commented on #17201
@abithap Thanks for the submission! Thanks for doing the research into this! I'm not sure that there is a way around this at least for right now. We only set the focusable class when focus has been initiated via keyboarding. I believe that iframes do
not pass events directly through to the components explicitly and so there is no way that class can get set. If you have control over the contents of

[2021-03-02 05:11] #16808 closed

[2021-03-02 05:23] joschect commented on #17178
@hasridha Thanks for the suggestion! I think that making this more visible is a good idea. We do this for all of our controls though and it's not just the TeachingBubble. You can see the same type of link for Dropdown (see screenshot). @ecraig12345 might know more about if we're planning to update the websites styling.

![image](https://user-images.githubusercontent.com/20801176/109601708-32457400

[2021-03-02 05:26] teliu-ez commented on #17089
I have fixed mu bug, the cause is that I update columns,

[2021-03-02 05:26] #17089 closed

[2021-03-02 05:48] ecraig12345 commented on #17178
`IAccessiblePopupProps` should already be a link, it's just not showing up as one due to some global styling conflicts that we'll finally be able to get rid of soon (@smhigley is working on this).

For a more obvious way of surfacing inherited props, we have a tracking issue #12043, but we probably won't get to that any time soon.

[2021-03-02 05:51] ecraig12345 commented on #9993
Closing this now that we've released version 8. If any of the points that were discussed but not implemented are still relevant, feel free to open a new issue for more discussion.

[2021-03-02 05:51] #9993 closed

[2021-03-02 05:53] craigkovatch commented on #17205
Ah the recommendation is not new in the 1.2 Practices guide, same in 1.1: https://www.w3.org/TR/wai-aria-practices-1.1/#kbd_disabled_controls

I was confused that the disabled options were focusable on the ComboBox popup but not the Dropdown popups. If this is an intentional difference between the two paradigms, I would love to understand the reasoning, for my own learning!

Thanks :)

[2021-03-02 05:58] ecraig12345 commented on #11517
Closing in favor of all-up tracking issue for inherited props, #12043.

[2021-03-02 05:58] #11517 closed

[2021-03-02 07:01] ecraig12345 commented on #17204
Note that in version 8, the date-time DatePicker is exported from `@fluentui/react` by default, which makes this higher priority to investigate/fix.

[2021-03-02 08:10] smhigley commented on #10911
The most obvious visual regression is with the footer:
![unstyled follow and share text with icons](https://user-images.githubusercontent.com/3819570/109617681-8871e180-7aeb-11eb-9a2e-456246e66378.png)

Is that something we could separately add styles for ourselves? @TristanWatanabe is helping go through the rest of the pages to look for any other visual regressions.

[2021-03-02 09:29] bsunderhus commented on #16926
The approach I'm adopting at the moment (after some discussion) is to use [@reach/descendants](https://github.com/reach/reach-ui/tree/develop/packages/descendants), an internal library from [Reach UI](https://reach.tech/) design system that was developed to manage this exact problem of comunicatin between compound components.

Please let me know if you have any thoughts or advices on the matter @b

[2021-03-02 13:26] Augani commented on #16918
Hello @JustSlone I would love to look into this

[2021-03-02 16:03] tomi-msft opened #17238 "Integrate new Fluent Icons in our repo"
As part of icon convergence, we need to integrate the new Fluent UI Icons into our repo.

- [ ] Integrate icons into our repo
- [ ] Integrate icons into a partner's repo
- [ ] Update migration guide and move to inside react-icons package

[2021-03-02 16:06] blendsdk opened #17239 "Template for creating custom components"
Hi,

Is there a template or a tutorial explaining how to build a custom component with FluentUI?
I am using `@fluentui/react` and would like to create a `CollapsibleSection` component just like in DevOps.
Unfortunately I could not find a common way of implementing my custom component by looking (and cannibalizing) the existing components in the repo. I am particularly I am interested in how the `s

[2021-03-02 17:00] eleung83 opened #17241 "Setting no default selected tab for Pivot"
### Environment Information
- Windows 10
- Node 12.20.4
- npm 6.13.7

### Describe the issue:
Previously, using the Pivot and PivotItems from the office-ui-fabric-react package (currently using latest from NPM), it's possible to set no default selected tab by setting the **"selectedkey={null}"** attribute on the Pivot

e.g. <Pivot aria-label="Basic Pivot Example" **selectedKey={null}**>

This can

[2021-03-02 17:00] ling1726 commented on #16465
## March Project cycle

* Handle disabled/disabledFocusable menu items
* Handle split button keyboarding
* Create API required for Popout menu (Menu + MenuTrigger)
* API should handle submenus
* Positioning logic for popout menu
  * Flip
  * Overflow
  * Alignment + positioning
* Leverage ability helpers to focus trap (not strictly required for `Menu`)

[2021-03-02 17:02] miroslavstastny opened #17242 "Stabilize react-components"
In previous milestones, we delivered converged styling (#16372) and released alpha version of converged `@fluentui/react-components` (#17056).

We gathered feedback and created a list of follow-up tasks. Now it's time to address the list.

- [ ] **Token overrides, component tokens**
- [ ] **Storybook**
  - [ ] tokens addon
  - [ ] revisit stories
  - [ ] documentation for `makeStyles`, provider

[2021-03-02 17:05] Hotell commented on #16889
- finally resolved issues https://github.com/microsoft/fluentui/pull/17161, ready to review

March goal: finish all tasks - every conformant package has the new DX implemented

[2021-03-02 17:10] behowell commented on #16373
Update 3-2-2021:
* Colorful avatars are merged

March goals
* Connect to converged `PresenceBadge` and `Icon` once those components are ready
* Add accessibility behavior tests

[2021-03-02 17:22] behowell commented on #16735
Update 3-2-2021:
* Spec will be ready for review in tomorrow's office hours
* Proof of concept implementation

Goal for March:
* Completed Tooltip implementation

[2021-03-02 17:23] smhigley opened #17243 "Research accessibility testing options"
Look into some options for integrating accessibility testing into Fluent:
- Integrating specific a11y tests component by component / with PRs
- Re-introducing axe-core in test suite
- Using the test rules in react/northstar

[2021-03-02 17:41] ecraig12345 commented on #10911
@smhigley Hmm that’s not good... Can you tell whether that’s caused by any of our CSS normalization, or just by the absence of MWF? If needed we can talk to the owning team internally and get them to fix it.

[2021-03-02 17:42] smhigley commented on #10911
@ecraig12345 it's just caused by the absence of MWF. If we have an option to add our own styles for it, that would be great :)

[2021-03-02 17:55] JustSlone commented on #16918
Thanks @Augani! :tada:
Assigning it to you.

Some Advice:
- Figure out what the root cause is, and update this issue (this is super helpful even if we can't fix it right now)
- Look for feedback on the proposed fix before going too deep into implementation (though an early implementation of the fix often helps)
- Avoid breaking changes, especially in component surface, but also in DOM structure

[2021-03-02 18:56] davvit opened #17244 "Nav divider"
#### Describe the feature that you would like added
INavLink should implement divider

#### What component or utility would this be added to
`<Nav />`

#### Have you discussed this feature with our team, and if so, who

no
#### Additional context/screenshots

I would like to add a divider between long list of menu items..without adding groups.

example usage :

[code]
expecting something like this

[2021-03-02 19:07] smhigley commented on #17205
ARIA 1.2 is a candidate rec as of today! 😄

I'd lean towards keeping the disabled options focusable within all combobox/dropdown/picker-type components, since otherwise they wouldn't be discoverable at all -- virtual cursor isn't really used and often doesn't work within listboxes. It's also a good point that we should have a consistent approach between listboxes in different components.

[2021-03-02 19:24] Shriram-Balaji commented on #16918
@JustSlone I was also thinking if I could take a stab at this.

Based on initial investigation, it looks like the issue is because the `this.state.value` in the Slider doesnt seem to update properly when `onKeyDown` handler is called. Moreover I tried to tinker around, and a key step we seem to be missing inside of `onKeyDown` handler is

[code]
Resetting the `renderedValue` helps in fixing the fi

[2021-03-02 19:31] davyrwoo opened #17248 "Clicking on Northstar's <Input /> icon loses input focus"
### Environment Information

- **Package version(s)**: 0.52.1
- **Browser and OS versions**: Chrome Version 88.0.4324.190

### Please provide a reproduction of the bug in a codepen:

![Input icon bug](https://user-images.githubusercontent.com/56053686/109702801-90606e80-7b49-11eb-9926-a90409809afe.gif)

Repro steps:
1. Focus on text input and move cursor to overflown text
2. Click on the icon in t

[2021-03-02 20:28] joschect commented on #16933
- [ ] PrismJS - Resolved, Dependabot states that it is no longer vulnerable (see screenshot) ![image](https://user-images.githubusercontent.com/20801176/109710246-49c34200-7b52-11eb-9215-026727012151.png)
- [ ] Highlight.js
- [ ] Marked - Resolved, no longer vulnerable ![image](https://user-images.githubusercontent.com/20801176/109710403-79724a00-7b52-11eb-964c-2ef76a2f243e.png)
- [ ] Node-Notifie

[2021-03-02 20:33] bmeersma commented on #17182
@paulgildea what accessibility tags should we add to help this be prioritized?

[2021-03-02 20:53] ecraig12345 commented on #10911
@smhigley We can add overrides in apps/public-docsite/src/styles/_base.scss if needed, but I think we should also get in contact with the owning team for the footer and let them know it's broken without MWF.

[2021-03-02 20:54] davvit opened #17253 "MessageBox does not dismiss"
### Environment Information

- **Package version(s)**: (fill this out)
latest
- **Browser and OS versions**: (fill this out if relevant)
Chrome, Edge

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/davvit/pen/jOVxgYj

#### Actual behavior:

MessageBox does not dismiss

#### Expected behavior:

Should dismiss

### Priorities and help requested:

Are you willing to sub

[2021-03-02 20:56] brandonthomas commented on #16926
so is this being used to solve the problem of what is inside the Accordion or for the Accordion to understand what it is itself inside of?

[2021-03-02 21:37] ecraig12345 commented on #10911
Proposed fix is to just hide the footer: add `#socialMediaContainer` to the list of selectors on this style.
https://github.com/microsoft/fluentui/blob/2bea597b1bbfdc20f4ca070342a7f076d40a90c0/apps/public-docsite/src/styles/_base.scss#L95-L100

[2021-03-02 22:06] TristanWatanabe commented on #10911
These are some other visual changes I've noticed when the MWF stylesheet is removed:

**1) Sign in modal is visible at the bottom of every page:**
![modal](https://user-images.githubusercontent.com/8649804/109720083-78471a00-7b5e-11eb-807e-79aa27ddd311.JPG)

**2) Links are underlined in all pages under Get Started, Styles and Resources tabs and also in the individual components docs under the Cont

[2021-03-02 22:16] ecraig12345 commented on #10911
Both hyperlink changes are correct, and some of the reasons we wanted to get rid of MWF (I should have mentioned this, sorry).

Does the sign-in modal have an ID we can use to hide it?

[2021-03-02 22:28] TristanWatanabe commented on #10911
There is a signInPrompt id that we can use

![image](https://user-images.githubusercontent.com/8649804/109723779-69169b00-7b63-11eb-92b9-045ada8a7b9a.png)

[2021-03-02 22:45] khmakoto commented on #16746
We'll pick this up during the `April` milestone. We need to:
- Return the variants work.
- Move all other variants beside default to new `makeStyles`.
- Make changes based on spec feedback.
- Do validation steps above.

[2021-03-02 22:52] #17208 closed

[2021-03-02 22:52] #17213 closed

[2021-03-02 23:02] jamesedjac commented on #15418
@tomi-msft and @paulgildea can we get un update on if this will be fixed?

[2021-03-02 23:25] smhigley commented on #10911
Maybe something like this?
[code]

I dunno if our styles would ever be present on a page where the sign-in prompt is needed, so maybe the `[aria-hidden=true]` selector isn't needed

[2021-03-02 23:31] ecraig12345 commented on #10911
These styles are just for our website, and sign-in isn't really relevant there. So I think it's okay to just always hide `#signInPrompt`.

[2021-03-02 23:35] #13595 closed

[2021-03-02 23:37] khmakoto commented on #16010
This is going to be folded into a general `Card` convergence issue.

[2021-03-02 23:37] #16010 closed

[2021-03-02 23:57] smhigley commented on #15418
I definitely agree that a radiogroup seems like a better semantic choice for this control than grid, except for when colors are arranged in columns and rows by hue and lightness. I have no idea how feasible this is, but to me it would make sense to have two variations of the SwatchColorPicker, one with radios (which all current examples fit into), and one with grid for UI like this:

![grid of col

[2021-03-02 23:57] ecraig12345 commented on #9863
@parruc That version is pretty outdated too (though I don't think it's changed much since then). This is the current version:
https://github.com/microsoft/fluentui/blob/master/packages/react-docsite-components/src/components/Animation/AnimationExample/AnimationExample.tsx

[2021-03-03 03:13] qxg opened #17257 "Can't assign VerticalDivider to ICommandBarItemProps.commandBarButtonAs in V8"
### Environment Information

- **Package version(s)**: 8.1.2
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:
In v7, I used a VerticalDivider as divider in CommandBar. https://codepen.io/9x9/pen/JjbZYWQ?editors=1010. However it can't build in v8.
Code snippet
[code]

#### Actual behavior:
build error

#### Expected behavior:

No

[2021-03-03 03:19] IProbably opened #17258 "peopicker when resolveDelay = 1000 is used, the callout will be closed again after 1000ms"
![MyHub](https://user-images.githubusercontent.com/42802184/109747551-4a231200-7c12-11eb-96c6-c3de36fedf7f.gif)

[2021-03-03 03:25] joschect commented on #17177
@mosesyap Thanks for the submission! This looks like a good candidate for a fix. We welcome community fixes, would you have some time to submit something/?

[2021-03-03 04:39] joschect commented on #17182
@bmeersma Thanks for submitting this! I'm fairly certain that this is happening because we're passing the color "transparent" through to the initials, although I'm not quite sure why we are doing that. I see the exact same behavior with the down arrow which passes the same "transparent color through". I'll get this marked as a bug.

[2021-03-03 04:45] joschect commented on #17203
@mosesyap Thanks for the submission! I'll need to investigate further but I suspect that this is an issue with NVDA as we have the appropriate aria values applied to the section toggle (see screenshot).

![image](https://user-images.githubusercontent.com/20801176/109597479-e8a55b00-7acc-11eb-85fc-8bdad4e8da68.png)

[2021-03-03 04:54] joschect commented on #16782
@alixiashu Thanks for the submission, I can reproduce with NVDA in edge, this looks like a problem with just section props. If you have some time we would welcome a fix if you want to. Otherwise we'll get this added to the backlog.

[2021-03-03 04:55] joschect commented on #16788
@smhigley I believe that this control having a role button is correct because it can be interacted with, could you confirm?

[2021-03-03 04:59] joschect commented on #16809
@lucas-stanford thanks for the submission! I am unable to reproduce this using NVDA, though I can reproduce it with narrator. This is likely an issue with narrator since it looks like we're using the correct aria attributes.

[2021-03-03 05:00] JustSlone commented on #6840
A good ask, but out of scope for the foreseeable future, closing out

[2021-03-03 05:00] #6840 closed

[2021-03-03 05:03] joschect commented on #16811
@anubhutisaini12 Sorry for the delay. I believe that we have a similar issue logged [here](https://github.com/microsoft/fluentui/issues/16788) but as I mention there I believe that button is a correct control type since it can be interacted with. I might be missing something so please let me know if that's not the case.

[2021-03-03 05:08] joschect commented on #16842
@alixiashu Thanks for the extra information! I followed the link and took a look at the video, I do see that the link is not underlined, but I see that it can be interacted with. @smhigley does the underline have to show? Or are our focus boxes enough?

[2021-03-03 05:18] JustSlone commented on #16654
Confirmed repro in chrome and new Edge.

Only repros if the mouse is over a row while scrolling to the end. If the mouse is over the whitespace to the right it does not repro for me.

Error is:
[code]

[2021-03-03 05:19] JustSlone commented on #16654
@khmakoto, can you take a look at this?

[2021-03-03 05:23] joschect commented on #16909
@HarshUpadhyay-MSFT Thanks for the submission. This is intentional behavior. However, we understand that not everyone wants it to act that way.  You can disable it by passing in ` focusZoneProps: {handleTabKey: FocusZoneTabbableElements.none}` to the contextual menu. I've adapted your [codepen to demonstrate this behavior](https://codepen.io/slimemold/pen/QWGxNLW?editors=0011) . Let me know if you

[2021-03-03 05:33] JustSlone commented on #16386
Confirmed repro here: https://codepen.io/justslone-the-encoder/pen/bGBKpNX

@kpasagada It seems like reading the entire Panel might be intended behavior. I think this is so that the user knows what just appeared. Is there a specific reason that the panel content should not be read out?

One quick example: http://ncamftp.wgbh.org/sp/tests/dialog/modalDialog.html where the entire dialog content is r

[2021-03-03 05:47] smhigley commented on #16842
So this one is interesting! The links do need an underline (or some other indication that they are a link), but not when they are focused. The requirement is actually that there is some indication that the links are links vs. regular text when they are not current hovered or focused. That indication could be one of several things:
- an underline (the most common and understood)
- a color that cont

[2021-03-03 05:50] JustSlone commented on #17068
This isn't a constructive issue, I'm going to close it, hope you understand.

To touch on your question briefly, we are, actually, working on refreshing and updating the components overall. Focusing on improving both bundle size and render perf. see: https://github.com/microsoft/fluentui/blob/master/rfcs/convergence/focus-and-iteration-towers-2.0.md

[2021-03-03 05:50] #17068 closed

[2021-03-03 05:53] smhigley commented on #16386
@prademi / @kpasagada in NVDA settings, go to "Browse Mode" and uncheck "Automatic Say All on page load". Then NVDA won't read the dialog as a whole when it opens, or the full page content on load.

I personally keep that setting unchecked. Other people I've talked to who use NVDA uncheck it as well; I don't know why it defaults to checked ¯\_(ツ)_/¯

[2021-03-03 05:53] #16386 closed

[2021-03-03 05:57] JustSlone commented on #5759
Given we have both the growing `@fluentui/web-components` and wrapped components `@dunite/au-fluent-ui`. Closing this out. Cheers all!

[2021-03-03 05:57] #5759 closed

[2021-03-03 06:34] smhigley commented on #16788
There's a short answer to this and a long answer :). The short answer is that it is expected behavior, and JAWS is saying the correct thing for a column header that contains a button.

The longer answer has to do with how grids are a bit different from every other composite widget (e.g. tabs, trees, and listboxes). Unlike other composite widgets, grid cells are both interactive themselves, and all

[2021-03-03 06:34] #16788 closed

[2021-03-03 06:49] v-vibsingh commented on #16788
@smhigley

Thanks for the info.

There is discussion going on this issue with the test team and their SME's of the Project.
After their discussion will reopen this issue if needed.

[2021-03-03 06:51] smhigley commented on #16788
@v-vibsingh feel free to tell them to ping me if the disagree. That'll probably be faster than going back and forth on the issue :)

[2021-03-03 08:22] nicgoel opened #17260 "Accessibility: aria-label/title attribute missing in ProgressIndicator component internal class where role="progressbar""
### Environment Information

- **Package version(s)**: 7.88.0
- **Browser and OS versions**: Edge Chromium 88.0.705.81 and Windows 10 Enterprise 20H2

### Describe the issue:
ProgressIndicator control is having progress-bar-name accessibility issue. Image from https://developer.microsoft.com/en-us/fluentui#/controls/web/progressindicator:
![image](https://user-images.githubusercontent.com/63101626

[2021-03-03 12:20] Jimit09 commented on #8782
Is there any update to when will this change be released? This is really important for us and component. We should have some handle to always show icon.

[2021-03-03 14:06] abdelbari-talbi opened #17262 "Datetime Picker - Feature request"
#### Describe the feature that you would like added

I'm working on a lot of projects where I need to specify not only the date but also the time (example: 2021-03-03 **15:00**)

#### What component or utility would this be added to

DatePicker

#### Have you discussed this feature with our team, and if so, who

no

#### Additional context/screenshots

[2021-03-03 15:32] velociwabbit commented on #17068
I realize that it is not  directly actionable but it is something that I noticed that was a big problem.  I really like OUIFR and code size / number of layers of modules / engineering theatre to make things more formal have a real consequence and will ultimately reduce use of the library. Perhaps IT applications that are used by a few hundred people can afford this luxury but even yesterday I was

[2021-03-03 16:16] gouttierre commented on #17260
@nicgoel -Thanks for the feedback!

@khmakoto - Can you determine if this is a regression or if this behavior is an issue?   cc @smhigley

To set expectations - Due to the complexity and dependencies of our List components, we are actively trying to minimize risk of regressions. We may not be able to fix this issue with a low risk solution. if a reasonable workaround is available.

[2021-03-03 16:18] gouttierre commented on #17262
Thanks @abdelbari-talbi for your request.

I’ll mark this as a feature request and add it to our backlog, but to set expectations - we’re likely not going to get to it for a while as we’re currently focused on larger coherence work items and enhancements to our performance.

[2021-03-03 16:54] gouttierre commented on #16189
@abharida, Thank you for reaching out to us!

Are you still experiencing these problems? As I tried with later versions, i.e. after "7.121.7" and the issue didn't repo.

[2021-03-03 17:17] gouttierre commented on #17081
@lutorre , thank you for the input.

@khmakoto - Can you determine if this is a regression or if this behavior is an issue?
- I had a look at the repo of the issues stated,. Noticed that the fifth element added is removed with a single backspace, while the others require 2 selects before removing the preceding elements.

[2021-03-03 18:11] gouttierre commented on #16300
@TadasMil - thank you for the feedback!

I have gone through the issue you shared. You are right, version 6.214.1 does have a problem with items with a length == 1 when trying to remove them.  Could you share why you have breaking changes when moving to the higher version where the issue has been resolved?

To set expectations - Due to the complexity and dependencies of our List components, we are

[2021-03-03 18:46] smhigley commented on #15420
@mltejera this happens when Narrator is in scan mode (and the same thing occurs in NVDA in browse mode). In scan/browse mode, all key presses are handled first by the screen reader and used to navigate, then conditionally passed through to the DOM. This is why screen readers generally need to be in forms/app mode to change the value of controls like text inputs, comboboxes, and range inputs.

I ha

[2021-03-03 19:07] brism17 opened #17263 "Screen reader not announcing expand/collapse state for expand/collapse toggle in grouped list"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:

This is similar to this issue: https://github.com/microsoft/fluentui/issues/17203 - screen reader not announcing expand/collapsed state in detailed grouped list.
For the "Expand/collapse" button , the NVDA only announces the button name  but there is no an

[2021-03-03 19:37] bmeersma commented on #17182
@joschect thank you. Can you please let us know the ETA? This is a blocker for us to rollout a new feature.

[2021-03-03 20:53] JustSlone opened #17265 "Add conformance test to confirm component event behavior follows HTML platform"
This particular issue came from the discussion of how `Button` behaves.

Turns out `button` (the HTML button) when pressing enter, fires onClick many times. While when pressing space it does not fire onClick, until space is released.

So given this, our desired state would be for our `Button` to follow this same behavior. Now, we might choose to make an exception, but first we need a conformance t

[2021-03-03 21:47] ecraig12345 commented on #16300
@TadasMil Especially now that we've released version 8, we're very unlikely to fix issues that are specific to version 6, sorry (though if you wanted to submit a fix we'd consider it). The [version 7 release notes](https://github.com/microsoft/fluentui/wiki/Fabric-7) and [version 8 release notes](https://github.com/microsoft/fluentui/wiki/Version-8-release-notes) may be helpful with updating.

[2021-03-04 02:09] kpasagada commented on #16386
@smhigley I tried what you said and it did the trick! Thank you and @JustSlone for looking into this issue :)

[2021-03-04 02:33] JustSlone commented on #17068
Yep, there is a balance between feature rich and streamlined for sure. We are refreshing the component architecture, which will clean things up. Things will be messy as we refresh components, but they will settle down in the end.

Btw, based on what you've looked at, and your application. What would bundle size would you expect a feature rich React component library to come in at (minified+gzip)

[2021-03-04 03:23] davvit commented on #17253
hi @khmakoto are you looking at this anytime soon?

[2021-03-04 03:25] davvit commented on #16986
hi @joschect any update on this?

[2021-03-04 05:14] hmheng opened #17268 "Bring bottom navigation bar to Web Controls and others"
Bring bottom navigation bar to Web Controls and others as it is important for web especially we need to standardize it across different screen sizes.

https://developer.microsoft.com/en-us/fluentui#/controls/android/bottomnavigation

[2021-03-04 07:00] #16841 closed

[2021-03-04 07:30] Shubham786786 opened #17269 "Page Analyzer Run Complete: [Platform][Keyboard Navigation - Overview]: Tooltip 'Simulated users 125' of the simulated user slider is not getting closed by pressing 'Esc' key."
User Experience:
If the content is not operated through a keyboard or keyboard interface, it would not be operable by people with no vision, Some people with hand tremors find using a mouse very difficult , as well as by people who must use alternate keyboards or input devices that act as keyboard emulators. Individuals with low vision would also find it difficult to control it from the keyboard.

[2021-03-04 07:51] Shubham786786 opened #17270 "Page Analyzer Run Complete: [M365Scc.ChartCard][Visual Requirements-Overview Page>Graphs]: Keyboard focus is not clearly visible on graph items"
User Experience:
Keyboard and low-vision users will not be able to detect the focused control if keyboard focus will not be visible on currently focused control

Test Environment:
OS build Version 2004 (OS Build 20262.1010)
Browser Version: Microsoft Edge Dev Version 89.0.723.0
URL: [https://fabricweb.z5.web.core.windows.net/pr-deploy-site/refs/heads/master/charting/dist/index.html#/examples/stack

[2021-03-04 09:22] amitroy-790 commented on #16768
Yes @joschect. The navigation should work with both the ways, using left/right arrow keys as well as up/down arrow key.

**Example :** https://www.w3.org/WAI/tutorials/forms/custom-controls/#a-star-rating

[2021-03-04 09:23] amitroy-790 commented on #16766
Thank you @joschect .

[2021-03-04 11:19] v-vibsingh commented on #16287
ecraig12345,
Any updates on this issue.

[2021-03-04 14:29] shoebtv123 opened #17275 "How to integrate this library in react-native application?"
Great library, but How to integrate this library in **react-native** mobile application?

[2021-03-04 15:48] velociwabbit commented on #17068
Apologies on the title... i thought it was funny but in hindsight a bit sophomoric .  :)

Regarding bundle size... There is a big difference between  400k+  and  < 200k in terms of load time.

I also think that the mergeStyles concept is spectacular but the getStyles baseComponent MergeStyleSets combination creates a bit more complexity and bulk than necessary.

I have been looking at the recent u

[2021-03-04 16:34] gouttierre commented on #16268
@mattlking - thanks for the initial feedback.

Our engineers are busy looking at this component in #16791 - where this issue will be addressed.  I will add this to our backlog for traceability, until the #16791 is made available to the public. Unfortunately, we cannot provide you an ETA at this moment in time, but rest assured, it is in-progress.. Thanks

[2021-03-04 16:53] MichielDeMey commented on #17275
Check out the cross-platform Getting Started: https://developer.microsoft.com/en-us/fluentui#/get-started/crossplatform.
The actual GitHub repo with more setup instructions can be found here: https://github.com/microsoft/fluentui-react-native

[2021-03-04 16:57] shoebtv123 commented on #17275
Hi @MichielDeMey ,

Thanks for your prompt reply but I wanted to use the icons from https://github.com/microsoft/fluentui-system-icons

Please let me know the further steps to integrate the fluentui icons in **react-native**.

Thanks in advance!
Suggestions appreciated.

[2021-03-04 16:59] gouttierre commented on #16437
@mltejera thanks for the query.

This has not been prioritized as if yet for v8 but will be added to the backlog. We’re currently focusing on improvements to performance and coherence, as you can see in our pinned issue on the repo detailing our [v8 plans](https://github.com/microsoft/fluentui/issues/12770).  Though. we don’t plan to address this right now, we will take it into consideration when

[2021-03-04 18:11] joschect commented on #16842
@smhigley Thanks for the extra details! @alixiashu I think given the new information and the WCAG info above, our links are working as expected and following the necessary accessibility guidelines.

[2021-03-04 19:29] smhigley commented on #16287
Elizabeth is right, disabled user interface elements are not required to meet the minimum color contrast ratio in WCAG. Accessibility Insights is flagging the prefix text in that example because it's semantically out of the `<input disabled>` element itself, but it is conceptually part of it.

In general, there's a lot of discussion in the accessibility community on how to best represent disabled

[2021-03-04 19:45] MichielDeMey commented on #17275
Since it’s just an icon font, you should be able to download the font file and use https://github.com/oblador/react-native-vector-icons. 🙂

[2021-03-04 19:48] gouttierre commented on #16450
@jendowns - Thank you for the feedback. To set expectations.

@khmakoto - Can you determine if this is a regression or if this behavior is an issue?
cc. @smhigley

[2021-03-04 20:03] gouttierre commented on #16088
@SFM61319  - First off, sorry on the delay on getting back you on this request.

I’ll mark this as a feature request and add it to our backlog, as we do plan to keep consistence across our platforms, but to set expectations - we’re likely not going to get to it for a while as we’re currently focused on larger coherence work items and enhancements to our performance for our [version 8](https://gith

[2021-03-04 20:28] ipip2005 opened #17278 "Choice group buttons have discernible text"
### Environment Information

OS: Win 10 (OS Build 21313.1000)
Browser : Edge Dev (Version 90.0.796.0 (Official build) dev (64-bit))
Tool : Accessibility Insight for Web

### Describe the issue:

Go to https://developer.microsoft.com/en-us/fluentui#/controls/web/choicegroup
Inspect the option.

### Please provide a reproduction of the issue in a codepen:

#### Actual behavior:

Actual: input is ass

[2021-03-04 20:44] jurokapsiar opened #17279 "react-northstar Toolbar menu item is missing aria-haspopup when it has a submenu"
### Environment Information

- **Package version(s)**: 0.52.1
- **Browser and OS versions**:  all

### Please provide a reproduction of the bug in a codepen:
https://fluentsite.z22.web.core.windows.net/0.52.1/components/toolbar/definition?showCode=false&showRtl=false&showTransparent=false&showVariables=false#content-menu-with-submenu

#### Actual behavior:

Item with submenu is missing `aria-haspo

[2021-03-04 20:54] miroslavstastny commented on #17217
@kubkon - v0 runs perf tests on every build storing results to a database and rendering them in docsite:
![image](https://user-images.githubusercontent.com/9615899/110028901-21933900-7d34-11eb-9023-70eccaf5abbd.png)

It would be great if you would consider that as well.

[2021-03-04 21:04] dwise85 opened #17280 "Toolbar visual defects around overflow button and menu"
### Environment Information

- **Package version(s)**: 0.52.1
- **Browser and OS versions**: Chrome and Windows

### Please provide a reproduction of the bug in a codepen:

The issue is decently straightforward to reproduce in the current internal version (R0) of Microsoft Teams. What is shown below are the easiest ways to reproduce this issue I have found but may not be all of the potential repro

[2021-03-04 21:32] paulgildea opened #17282 "Token Addon"

[2021-03-04 21:33] #17282 closed

[2021-03-04 21:33] smhigley opened #17283 "ContextualMenu loses focus when closing a menu"
Version 8+ only: https://fabricweb.z5.web.core.windows.net/oufr/8.1.4/#/examples/contextualmenu

Focus doesn't move into the contextual menu when opened, and doesn't move back to the trigger when closed, for both the main menu and submenus.

[2021-03-04 21:34] paulgildea opened #17284 "Token Addon"
Work items for updating the Token Addon

[2021-03-04 21:40] andrewhwng opened #17285 "Some component input fields do not specify `font-family: inherit`"
### Environment Information

- **Package version(s)**: 7.158.3
- **Browser and OS versions**: Chrome - Windows 10 v19042.804

### Please provide a reproduction of the bug in a codepen:

[codepen example](https://codepen.io/anhw/pen/rNWrzJB)

We noticed some of the input components don't have `font-family: inherit` specified, so those fall back onto Arial instead of Segoe. The two we noticed that a

[2021-03-04 21:56] paulgildea commented on #17242
@miroslavstastny, @gouttierre - I've converted this list into this project: https://github.com/microsoft/fluentui/projects/42

Right now everything are cards, but we can convert to issues as needed so we can assign out to folks or they can self assign to pick up an issue and run with it.

[2021-03-04 22:05] joschect commented on #16982
@yangster23  I am a bit confused, the codepen that I sent you only requires 1 keypress to go down. The checkbox never gets focus. Is your goal to have the checkbox be a separate target from the entire row but not get selected on keyboarding?

[2021-03-04 23:34] khmakoto commented on #16654
Yes, I'll take a look.

[2021-03-05 00:22] triforce4392 commented on #17262
Our team could really use this control as well, following for updates.

Mockup image:
![image](https://user-images.githubusercontent.com/3867952/110048948-b92d6300-7d05-11eb-87be-daa3e9ebf18c.png)

[2021-03-05 00:59] vitkon opened #17288 "Dropdown responsiveMode prop doesn't work in version 8"
### Environment Information

- **Package version(s)**: 8.1.4
- **Browser and OS versions**: MacOS BigSur

### Please provide a reproduction of the bug in a codepen:

cannot reproduce in codepen as I'm opening an Office Add-in in Office365
steps to repro:

- created a boilerplate of office add-in https://github.com/OfficeDev/generator-office
- update to latest fluent ui
- added Dropdown

[code]

##

[2021-03-05 01:07] vitkon commented on #17288
UPD: Managed to reproduce on web too: https://codesandbox.io/s/mystifying-brahmagupta-3kqi4

[2021-03-05 01:29] kotpal commented on #6221
Are there any examples of FluentUI based rich dashboard examples? Much like what many admin templates on the web show

[2021-03-05 02:07] ecraig12345 commented on #16900
@ashwinGokhale Yeah if what you're interested in is `__dangerouslySetInnerHTML`, I think it's best to just use native elements. (Or put a native element inside the Text if you want the styling.)

[2021-03-05 02:18] ashwinGokhale commented on #16900
Thank you! I will stick to using the native span element.

[2021-03-05 02:18] #16900 closed

[2021-03-05 10:18] SiemvandenBerg commented on #17212
Hello,
Is this work going to resolve the issues there are with fabricmdl2icons missing icons? To clarify, some of the glyphs you can copy from https://uifabricicons.azurewebsites.net/ are not part of the font you can download on https://developer.microsoft.com/en-us/fluentui#/resources. I think I can pull the the font from the former by means of the network tab in dev tools. But I'd rather not. I

[2021-03-05 11:00] mokshithpyla commented on #8494
Is this being prioritised? I would really appreciate a response as this issue seems to be in Backlog for a while.

[2021-03-05 17:22] smhigley commented on #12594
I updated the ContextualMenu roles a bit in https://github.com/microsoft/fluentui/pull/17266, and it's working properly for me now with NVDA & Edge, Chrome, and FF. I'm not sure if it was that PR that fixed it, or an earlier one, but it should be OK now!

[2021-03-05 17:22] #12594 closed

[2021-03-05 19:00] #16842 closed

[2021-03-05 19:48] dmp569 commented on #13710
Any update on this? Having aria-required or required attribute able to be specified on any form element in Fluent seems like a requirement not a nice to have for MAS compliance. Thanks!

[2021-03-05 21:14] MLoughry opened #17301 "Cursor jumps to the end when typing in freeform ComboBox"
### Environment Information

- **Package version(s)**: 8.1.4
- **Browser and OS versions**: Edge Chromium/ Firefox

### Please provide a reproduction of the bug in a codepen:

The bug is reproducible in the existing Storybook story at `packages/react-examples/src/react/ComboBox/ComboBox.Controlled.Example.tsx`

#### Actual behavior:

When typing or deleting any character in a freeform Combobox, th

[2021-03-05 22:17] khmakoto commented on #16654
@gadusumi @JustSlone unfortunately this doesn't seem to repro for me? I don't know if there's anything else to do other than set zoom at 80% and scroll to the end in the codepen but if that's it then I can't get it to repro on my setup.

[2021-03-05 22:29] khmakoto commented on #17081
@lutorre @gouttierre I can confirm this still happens in the latest v7 and v8 versions and it does seem like an unintended issue.

[2021-03-05 23:44] dawolff-ms commented on #14979
@dzearing has there been any effort to implement this change?

[2021-03-06 06:00] #16811 closed

[2021-03-06 08:18] riosn-n opened #17306 "Click + drag selection not working in TeachingBubble component"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/riosn/pen/NWbLRBz

#### Actual behavior:

Click + drag selection works in the Callout component but not in the TeachingBubble (which uses a Callout). This occurs only the primary button is shown.

![image](https://user-images.githubusercontent.com/33673026/110199881-7eafed00-7e0f-11eb-9f46-f814d2678dae.png)

#### Expect

[2021-03-07 01:49] mariache opened #17308 "Fluent UI GroupedList Selection"
Playing with FluentUI and trying to make GroupedList working, but I'm stuck and have so many questions about Selection: This is my example: https://codesandbox.io/s/hopeful-chebyshev-n4enr?file=/src/GroupedList.Basic.Example.tsx

What I'm trying to achieve is:

- I need to display the name of selected item;
- In a list of items I'd like to be able to select any (currently, only the last one can be

[2021-03-07 03:38] faisal-ijaz commented on #17166
Hi, sorry for the late response. I am indeed looking for the branded icons. So the ones I am looking for are d365 icons. I have checked and the office brand icons dos not include d365 icons. I was able to find some d365 icons by going to help pages:

https://docs.microsoft.com/en-us/dynamics365/customer-service/
https://docs.microsoft.com/en-us/dynamics365/sales/

Rest I could not find like Market

[2021-03-07 07:00] SFM61319 commented on #16088
It's okay! This is a huge project, you can take your time

Sure! I'll start working on my code soon! I'll submit a PR once I'm done and will close this issue too!

Thank you!

[2021-03-07 22:00] #16300 closed

[2021-03-07 22:45] yanbxice commented on #15332
Is there a fix for this? I'm seeing the same issue in `Calendar` as well.

[2021-03-08 08:00] #17062 closed

[2021-03-08 08:08] shivasai09 opened #17310 "add mouse events to single data point in linechart"
when we render circle to the show the single data point in the line chart. we should also add mouse events to them

[2021-03-08 08:49] abharida commented on #16189
@gouttierre I'm still having some issues with the version hosted in https://developer.microsoft.com/en-us/fluentui#/controls/web/calendar. I'm hoping that would be the latest stable version.

Repro steps

1. Open the webpage: https://developer.microsoft.com/en-us/fluentui#/controls/web/calendar
2. Go to the example titled "Calendar with overlaid month picker launched from a button" and hit that bu

[2021-03-08 11:08] ling1726 commented on #17280
A minimal repro of the problem: https://codesandbox.io/s/fluent-ui-example-forked-y3x4s?file=/example.js:463-464

It seems that during implementation of `Toolbar`'s overflow the scenario where it would be used in `ChatMessage` was never considered.

* chat item sets `float: 'right'` for the message element
* the overflow button in `Toolbar` uses `position: absolute`
* The chat item has no `width`

[2021-03-08 11:30] AlexFsmn opened #17313 "Crash when upgrading to react 17"
### Environment Information

- **Package version(s)**:
fluentui/react 8.1.6
react: 17.0.1
typescript: 4.1.2
- **Browser and OS versions**:
Windows 10
Chrome

#### Actual behavior:
Cannot upgrade project to latest version:
![image](https://user-images.githubusercontent.com/11557675/110311949-c0ee4f80-8004-11eb-9058-58e7cdf20576.png)

#### Expected behavior:
No crash on startup :)

### Additional in

[2021-03-08 12:01] gouttierre commented on #16186
@sergul  - thank you for your input. into the issue.

@khmakoto  - Can you determine if this is a regression or if this behavior is an issue? cc @smhigley

[2021-03-08 12:07] gouttierre commented on #16200
@vamshi9666 - we appreciate your feedback. Sadly, the information you provided on the follow up links do not work - as I get a 404 error.

[code]
If you could provide more information or be willing to submit more details (such as, repo, or PR) we will gladly take a look. Right now, there is not enough information.

[2021-03-08 12:12] gouttierre commented on #16191
@YuanboXue-Amber  - Thanks for the feedback and providing your investigation results.

@khmakoto  - Would you be able to determine if this is a regression or if this behavior is an issue? Going on what use cases were identified, along with the proposed solution.

To set expectations - Due to the complexity and dependencies of our List components, we are actively trying to minimize risk of regressi

[2021-03-08 12:14] gouttierre commented on #16204
@yanbxice  - Thanks for the feedback!

@khmakoto  - Would you be able to determine if this is a regression or if this behavior is an issue? cc @smhigley

[2021-03-08 12:18] gouttierre commented on #16211
@lutorre - Thanks for the feedback.

@khmakoto  - Would you be able to determine if this is a regression or if this behavior is an issue? The issues was identified on android os.  cc. @smhigley

[2021-03-08 12:23] gouttierre commented on #16229
@pskushw - Many thanks for reaching out.

Could you provide more information into the issue you have mentioned. Possibly, the fluent library version you are using and/or a **codepen** example to help us pin-point the problem?
Thanks in advance.

[2021-03-08 12:30] gouttierre commented on #16233
@joaojmendes -Thanks for the input. What version of fluent are you using?

@khmakoto  - Would you be able to determine if the issue stated with the onRenderMissingItem is a regression or if this behavior is an issue in our latest version?

[2021-03-08 12:32] gouttierre commented on #16244
@Abidsp - Have you managed to follow up the suggestion that @benjaminhuanghuang mentioned?

[2021-03-08 12:36] gouttierre commented on #16284
@lutorre  -  Thanks for logging this issue.

@khmakoto  - Would you be able to determine if the setInitialFocus property does not focus any focusable elements within a callout is a regression or a behavior issue?

[2021-03-08 12:43] gouttierre commented on #16277
@devrsi0n  - Thanks for the feedback and details into the problem

@khmakoto  - Can you determine if the Focusable content being recorded by the tabindex is a regression or behavior issue?

[2021-03-08 12:49] gouttierre commented on #16271
@litteredwitherrors  - thank you for the suggestion.

 I’ll mark this as a feature request and add it to our backlog, but we’re likely not going to get to it for a while as we’re currently focused on larger coherence work items and enhancements to our performance. However, you wish to contribute and submit a PR for this feature request, we would love to see it!

[2021-03-08 12:58] gouttierre commented on #16308
Thanks for the feedback and providing your findings..

@khmakoto  - Would you be able to determine if this is a regression or behavior where the DOM is occasionally removed when switching between clicking and using arrow key functions? cc @smhigley

[2021-03-08 13:05] gouttierre commented on #16309
@priaajais1 - thanks for the feedback.

I could not repo your issue on our latest version  [Fluent dropdown](https://developer.microsoft.com/en-us/fluentui#/controls/web/dropdown). Please can you confirm which version you had this issue with? And if you have tried using our latest release.  Thanks and regards.

[2021-03-08 13:10] gouttierre commented on #16299
@Chinkaimu  -  I’ll mark this as a feature request and add it to our backlog, but we’re likely not going to get to it for a while as we’re currently focused on larger coherence work items and enhancements to our performance.

In the meantime, if you wish to submit a feature to this by submitting a pull request to this github. This [section ](https://github.com/microsoft/fluentui/blob/master/packag

[2021-03-08 13:21] gouttierre commented on #16364
@neil-ji  - Thanks for your patience on this topic. If you have a proposal on the implementations, you can submit a feature to this by submitting a pull request to this github. This [section ](https://github.com/microsoft/fluentui/blob/master/packages/react/README.md#building-the-repo) of the readme provides some good getting started information! Additionally we are certainly here to help.

@khmak

[2021-03-08 13:25] gouttierre commented on #16390
@prademi  - thanks for the feedback.

Please, can you provide more details into the issue. What version of fluent lib are you using? Do you have a codepen sample that we can analysis and repo the problem stated? Thanks and regards

[2021-03-08 13:30] gouttierre commented on #16403
@Moiahbabi - thanks for the input. I took a look at it seems to occur in our latest lib release as well.

@khmakoto  - Would you be able to determine if this is a regression or if this behavior is an issue?

[2021-03-08 13:34] gouttierre commented on #16433
@emkessle - Thanks for reaching out and providing your feedback.

@khmakoto  - Would you be able to determine if this is a regression or if this behavior is an issue with accessibility?
cc @smhigley

[2021-03-08 13:43] gouttierre commented on #16410
@chce - thanks for the information you have provided.

I see you are willing to submit a PR for the request, according to your submitted issues? That is great, you can submit a feature to this by submitting a pull request to this github. This [section ](https://github.com/microsoft/fluentui/blob/master/packages/react/README.md#building-the-repo) of the readme provides some good getting started inf

[2021-03-08 13:50] gouttierre commented on #16435
@sachinmrao - Thanks for the feedback.

@khmakoto  - Would you be able to determine if this is a regression or if this behavior is an issue for the DatePicker?

[2021-03-08 13:59] gouttierre commented on #16453
@curtisj44 - thanks for the feedback and the questions posted. I will ask our experienced engineer to assist you on your queries.

@khmakoto - could you kindly guide/ assist @curtisj44 on his open questions.
- [ ] Am I off-base in hoping to use role="alert" with MessageBar?
- [ ] Should the MessageBar support defining a different role?
- [ ] Should an Error MessageBar automatically use role="error

[2021-03-08 14:03] gouttierre commented on #16459
@chenxinyanc - thanks for the issue submitted. I see you are maybe willing to submit a PR (not yet).
If you decide to do one - you can submit a feature to this by submitting a pull request to this github. This [section ](https://github.com/microsoft/fluentui/blob/master/packages/react/README.md#building-the-repo) of the readme provides some good getting started information! Additionally we are cer