[2020-08-14 08:37] vipulw2011 commented on #14334
@biapar Look at this https://github.com/arturmiz/vuent

[2020-08-14 10:13] gpaniagua013 opened #14526 "[Safari] Dropdown style issue after select item."
### Environment Information

- **Package version(s)**: 7.128
- **Browser and OS versions**: Safari in Mac

#### Actual behavior:

After select an item on the drop-down, a blue line remains in the selected element.

*You can reproduce the issue in the Demo page.

![image](https://user-images.githubusercontent.com/7999793/90239199-75394600-de27-11ea-8f74-8013e4c0dffe.png)

#### Expected behavior:

N

[2020-08-14 13:08] lamha-lagoe opened #14527 "[Callout] Decide whether to prevent dismiss on lost focus dynamically"
#### Describe the feature that you would like added

Update `preventDismissOnLostFocus` in `Callout` to be a callback instead of a boolean. This would enable deciding per event whether we want to dismiss or not.

#### What component or utility would this be added to

`Callout` (in `ICalloutProps` in `Callout.types`)

#### Have you discussed this feature with our team, and if so, who

No

#### Addi

[2020-08-14 15:02] biapar commented on #14334
Is't from scratch or from MS Fluent Design?

[2020-08-14 15:13] paulgildea commented on #14516
Thanks for the feedback @timothyhoffmann !

[2020-08-14 15:16] paulgildea commented on #14520
@Raghurk FYI

[2020-08-14 15:19] paulgildea commented on #14524
Thanks for the feedback @KeiraYang !

I'm assuming this is for the latest version of the library. Please let us know if it's a different version you are seeing the behavior on. Also which browser are you seeing the behavior in?

This helps us understand if there was recent regression or not.

[2020-08-14 15:27] paulgildea commented on #14527
Thanks for the feedback @lamha-lagoe !

@joschect - Do you think this is something that could be added that's non-breaking to the API?

If it could - @lamha-lagoe would you be interested in making a contriubtion?

@JustSlone - FYI

[2020-08-14 18:35] ecraig12345 commented on #14403
I'm not really familiar with this type of issue, sorry.

[2020-08-14 18:38] ecraig12345 commented on #13107
@tharshada or @leddie24 do you have any suggestions for how to fix or work around this issue?

[2020-08-14 18:40] ecraig12345 commented on #13560
I thought @dmichon-msft fixed this back in June (but I guess we forgot to close the issue). @antoine-gannat When did you start seeing this issue?

[2020-08-14 18:42] #14479 closed

[2020-08-14 19:32] khmakoto commented on #14502
@shivasai09 can you tell me what the problem is? I don't really gather it from the info that's been provided so far.

[2020-08-14 19:49] khmakoto commented on #14461
@Payne-Yan I've gone through the process once again and I just can't seem to repro this behavior as much as I try. Hence I'll be resolving this as `Resolution: Can't repro`. Thanks and let us know if there is anything else I can do to help!

![image](https://user-images.githubusercontent.com/7798177/90287377-99e3ec80-de2c-11ea-8eb2-c7a622448271.png)

[2020-08-14 19:59] antoine-gannat commented on #13560
I think it's been about a month or so. But I don't think it was ever fixed. What I did to fix was to downgrade to an earlier version.

[2020-08-14 20:22] dmichon-msft commented on #13560
I didn't make any changes in response to this thread. The most correct fix would be to modify (via git mv​) the casing of the files in the repo. It will require stepping through an intermediary file name if executed on Windows, since Windows is not case-sensitive.
________________________________
From: Antoine GANNAT <notifications@github.com>
Sent: Friday, August 14, 2020 12:59 PM
To: microsoft/f

[2020-08-14 20:50] davyrwoo opened #14537 "Selected Menu Item does not have "Selected" information in Northstar Menu"
### Environment Information

- **Package version(s)**: @fluentui/react-northstar@0.51.0
- **Browser and OS versions**: Chrome

### Describe the issue:

Selected menu item does not have aria-selected information, or have any narration that the item is selected. Using screenreaders such as NVDA, there is no narration that the selected menu item is selected.

### Please provide a reproduction of the

[2020-08-14 21:06] davyrwoo opened #14538 "Color contrast of focused Menu Item does not meet 4.5:1 in Northstar Menu"
### Environment Information

- **Package version(s)**: 0.51.0
- **Browser and OS versions**: Chrome

### Describe the issue:

Color contrast of text and background of the focused menu item does not meet 4.5:1 ratio in Northstar Menu with `underlined `and `primary`. The ratio instead is 1.711:1

![Menu item color contrast](https://user-images.githubusercontent.com/56053686/90292783-71adbb00-de37-11

[2020-08-14 21:08] joschect commented on #14527
@lamha-lagoe I think our naming isn't great because you can already accomplish this using the onDismiss callback that the callout provides. https://codepen.io/slimemold/pen/GRZZqeb?editors=0010 That codepen demonstrates how you can opt to not dismiss based on the dismiss callback. Really the onDismiss callback should be something `onDismissableEvent` or something along those lines.

[2020-08-14 21:32] LorenzoDeMarco opened #14541 "Calendar underflow to year -500 and below, engine crash"
### Environment Information

- **Package version(s)**: not applicable
- **Browser and OS versions**: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.108 Safari/537.36 (Vivaldi Browser)

### Please provide a reproduction of the bug in a codepen:

See https://developer.microsoft.com/en-us/fluentui#/controls/web/calendar

#### Actual behavior:

1. Scr

[2020-08-14 21:46] khmakoto commented on #14538
@jurokapsiar fyi

[2020-08-14 21:46] khmakoto commented on #14537
@jurokapsiar fyi

[2020-08-14 21:47] khmakoto commented on #14511
@jurokapsiar fyi

[2020-08-14 21:57] khmakoto commented on #14541
Hi @LorenzoDeMarco, thanks for filing this! I can confirm the this is indeed happening.

@lorejoh12 what do you think should be the correct thing to do here?

[2020-08-14 22:18] lorejoh12 commented on #14541
I... don't think this is a very common issue. How does someone even find this?

But it's definitely a bug. At worst, even if the rendering is broken and we're showing negative dates, we shouldn't crash on selection. Probably a date math issue happening, so a patch will need to be made for it.

[2020-08-14 22:32] #14397 closed

[2020-08-14 22:55] LorenzoDeMarco commented on #14541
I know this is a very rare edge case and almost no one is going to ever encounter this issue, but I thought it was worth reporting the bug because of the subsequent crash. This may be the sign of a more important bug, maybe (I hope not) hidden deep in the codebase.

[2020-08-14 23:00] #14359 closed

[2020-08-14 23:34] khmakoto commented on #14453
@christiango I have a PR out that updates the `markdown-to-jsx` package version. Regarding the `react-syntax-highlighter` package, we've chosen not to update it since it would lead to duplicated package versions due to the fact that it is also pulled from `@storybook/components`. We've chosen to do this given that we don't actively use `prism` which is the package that is triggering the vulnerabil

[2020-08-15 00:00] #14438 closed

[2020-08-15 00:00] #14380 closed

[2020-08-15 02:13] christiango commented on #14453
Thanks for the update!

[2020-08-15 07:18] GurliGebis commented on #12488
Is it safe to assume, that this has gone stale, and nothing will come from it, since no updates has been given for 2 months?
It is a shame if so, if needed, maybe move the Microsoft product icons and what else is IP out into a separate package, that is not included by default maybe?

[2020-08-15 15:34] duke7553 commented on #12488
Google allows their material design icons to be used anywhere. Why can't Microsoft do the same?

[2020-08-17 01:16] pjain927 opened #14551 "FileSystem"
### Environment Information

- **Package version(s)**: installed the latest version
- **Browser and OS versions**: Microsoft Edge Windows 10

### Describe the issue:

Icon with friendly name "FileSystem" not working.

#### Actual behavior:

Other icons with their friendly names rendering in UI but not the icon with friendly name "FileSystem".

#### Expected behavior:

Icon with friendly name "File

[2020-08-17 01:37] Payne-Yan commented on #14461
@khmakoto According to my steps to reproduce, it can be reproduced.
![image](https://user-images.githubusercontent.com/69501015/90349672-3c8aae00-e06d-11ea-8bea-6dc9896f8cee.png)

[2020-08-17 05:24] logan12dec commented on #14510
Hi Team,

Sorry for the late response.

Which Fluent UI component is causing the issue -
Which package name and version the component is from - Using Standard Data table along with react-boostrap Panel component of version 0.31.5
Specific, complete steps to reproduce the issue - Given in codepen
What behaviors and attributes are missing or incorrect - when Voice over enabled in Mac Safari browser,

[2020-08-17 05:57] Payne-Yan commented on #14461
@khmakoto More importantly, it needs to pop up the calendar and then open accessibility insights for the web tools to reproduce this scene.

[2020-08-17 06:58] barisbikmaz commented on #14253
Created an issue on fabric/core https://github.com/OfficeDev/office-ui-fabric-core/issues/1232

[2020-08-17 08:07] farooqiazam commented on #14081
@paulgildea @joschect Hi guys! Hopefully, you guys are doing fine. Do we have any progress regarding this issue

[2020-08-17 08:27] Teja-Git opened #14553 "MultiSelect ComoBox selects the header when Enter is pressed after the ComboBox is expanded"
1. Implement a MultiSelect ComboBox as below.

_import * as React from 'react';
import { ComboBox, IComboBoxOption, IComboBox, SelectableOptionMenuItemType } from 'office-ui-fabric-react/lib/index';

const items: IComboBoxOption[] = [
  { key: 'Header1', text: 'First heading', itemType: SelectableOptionMenuItemType.Header },
  { key: 'A', text: 'Option A' },
  { key: 'B', text: 'Option B' },
  { k

[2020-08-17 10:00] luckyrass opened #14555 "need to customize the y-axis descriptor in VerticalBarChart, VerticalStackedBarChart, GroupedVerticalBarChart"
We need a property to customize y-axis descriptor in VerticalBarChart, VerticalStackedBarChart, GroupedVerticalBarChart

#### What component or utility would this be added to

customize y-axis descriptor like what we have in linechart
- VerticalBarChart
- VerticalStackedBarChart
- GroupedVerticalBarChart

  /**
   * this prop takes values that you want the line chart to render on x-axis
   * This

[2020-08-17 10:19] lamha-lagoe commented on #14527
Thanks for the quick responses!
@joschect Thanks, I did try it out with onDismiss before, but unfortunately it can't help for all cases. Like in our case, the ContextualMenu itself is build by a BaseButton (in its `_onRenderMenu`), thus the onDismiss is set by BaseButton itself. While it still calls, `menuProps.onDismiss(ev)` to allow me to specify my own dismiss behavior, I'm not able to avoid di

[2020-08-17 11:10] alexlundborgopticon opened #14556 "Shimmer on grouped ShimmeredDetailsList does not disappear"
### Environment Information

- **Package version(s)**: 7.128.0

### Please provide a reproduction of the bug in a codepen:

[link to codepen](https://codepen.io/alexanderlundborgopticon/full/MWyeygX) (in full page view)

#### Actual behavior:

The shimmer remains although the interval delay (2500 ms) has passed. It disappears when the user scrolls or collapses and re-expands a group.

#### Expecte

[2020-08-17 11:18] interfaith opened #14557 "Image tag cannot map an index"
img works Image does NOT

flickers as state/prop changes

### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

#### Expected behavior:

### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priorit

[2020-08-17 12:48] mohandivraniya opened #14559 "Office ui fabric react button contextual menu item is not dismissed even after item is clicked and user is redirected to href"
### Environment Information

- **Package version(s)**: 7.39.2
- **Browser and OS versions**: Windows 10 and Windows server 2016, Chrome 84.0.4147.125 (64 Bit)

### Please provide a reproduction of the bug in a codepen:
Used following example from codepen. However, the issue is: if menu is dismissed, user is not redirected to the url mentioned in href.
https://codepen.io/LukeO/pen/yLYWpMy

#### Act

[2020-08-17 12:52] SainathBommisetty opened #14560 "Detailslist: Screen reader announce read only on header buttons in Scan on in EDGE Narrator"
### Environment Information

- **Package version(s)**: Latest
- **Browser and OS versions**: EDGE + Narrator

### Describe the issue:

In scan mode off screen reader reads as "Button" and the button is actionable and can click for column headers for sorting, but in scan mode the screen reader reads as "Read only" and the button is not actionable and the user will not be able to click on column hea

[2020-08-17 15:26] paulgildea commented on #14551
Thanks for the feedback @pjain927 !

Could you please provide a codepen or a reduced repo of the issue you are seeing or what version had the icon and which version doesn't? That would help us understand if there was a recent regression.

Also when looking at https://developer.microsoft.com/en-us/fluentui#/styles/web/icons I was unable to find an entry called "FileSystem" so it's possibly that one

[2020-08-17 15:28] paulgildea commented on #14553
Thanks @Teja-Git .

Could you please use one our issue templates to help us understand what type of issue you are filing? That would help us better understand this request: https://github.com/microsoft/fluentui/issues/new/choose

[2020-08-17 15:29] paulgildea commented on #14555
@Raghurk FYI

[2020-08-17 15:29] paulgildea commented on #14556
Thanks for the feedback @alexlundborgopticon !

[2020-08-17 15:30] paulgildea commented on #14556
@alexlundborgopticon Are you seeing this behavior in all browsers?

[2020-08-17 15:32] paulgildea commented on #14557
@interfaith Could you provide some more details on the issue you specifically seeing? For example the version of the library you are using and a codepen or codesandbox of the issue you have?

[2020-08-17 15:34] paulgildea commented on #14559
Thanks for the feedback @mohandivraniya !

[2020-08-17 15:40] jcuenod commented on #7581
I just want to chime in that I'm on ouifr v7 and I've had this problem of a large bundle size for as long as I can remember (I was using it in v4 days). I assume there's something that I don't understand about how webpack is handling cjs modules or falling back as a result of them but my bundle size is 600kb minified.

@TheLarkInn your answer looks great but when I tried `--display-optimization-ba

[2020-08-17 15:40] KeiraYang commented on #14524
Hi @paulgildea . Sorry for the late response. I'm using the fluentui example page to test which should be the lastest version. As I know, this issue should be there for a long time. Last time I test it at least 1 month ago, I can repro it.

I'm using Edge Chromium + Narrator for testing.

[2020-08-17 15:41] interfaith commented on #14557
here it flickers when prop/state changes many times/sec
BUT is GOOD not flicker with img not Image

const Imagesarr = this.imglist.map((aiicon, index) => (
      <Stack.Item styles={stackItemStyles}>
        <Stack horizontal styles={stackStyles} tokens={innerStackTokens}>
          <Stack.Item>
            <Image src={aiicon} width={20} height={20} alt={`image`} />
          </Stack.Item>

[2020-08-17 15:58] dzearing commented on #13560
Pinging @bigbadcapers

It seems like some of the filetypeicons that are deployed to the cdn have casing issues.

[2020-08-17 16:11] dvd73 commented on #13823
Hi
I have the same problem: is it possible to apply a new icon to the Close button?

[2020-08-17 17:05] Raghurk commented on #14243
Opened a bug locally

[2020-08-17 17:07] Raghurk commented on #14352
Opened a bug

[2020-08-17 17:09] Raghurk commented on #14555
I have a bug for this and will triage it

[2020-08-17 17:09] #14555 closed

[2020-08-17 17:11] bigbadcapers commented on #13560
Ah, because we've had many contributors to the icon system, the original files have a mix of capitalization. I can work to make the update in our source files but that will take a bit (about 500 artboards need to be renamed). Is there any way to ensure the CDN is configured as before where all URLs were referenced in lowercase and this all worked?

Ideally these URLs should work case-insensitive.

[2020-08-17 17:16] dmichon-msft commented on #13560
We can make a change to the upload pipeline to force lowercase everything again. Might break one or more recently uploaded files if they refer to it using the exact casing.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: C. Perez <notifications@github.com>
Sent: Monday, August 17, 2020 10:11 AM
To: microsoft/fluentui <fluentui@noreply.github.com>
Cc: David Mich

[2020-08-17 17:30] bigbadcapers commented on #13560
That would be ideal as it mirrors the previous behavior. at least for filetypes i believe everything worked correct. I'm already starting to work on updating the master illustrator file but it will take me a while to generate the new PR for all the icons.

cc @Jahnp

[2020-08-17 17:36] TheLarkInn commented on #7581
Perhaps that you have the stats object turned on/off. Our webpack documentation has info on that flag and the stats object settings if you want to display them.

https://webpack.js.org/plugins/module-concatenation-plugin/#debugging-optimization-bailouts

[2020-08-17 17:51] #12592 closed

[2020-08-17 18:29] bigbadcapers commented on #13560
Update: I multitasked during 2 of my meetings and typed as fast as I could. I am generating the new icons now and will submit a PR for FabricCDN asap. Will also need to submit one for fabric itself to up the referenced CDN version, pls stand by.

side note: could someone create some sort of build-step that does that automatically when FabricCDN is deployed?

[2020-08-17 18:57] dmichon-msft commented on #13560
Pr here: https://onedrive.visualstudio.com/Design/_git/fabric-cdn/pullrequest/495373

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: C. Perez <notifications@github.com>
Sent: Monday, August 17, 2020 11:29 AM
To: microsoft/fluentui <fluentui@noreply.github.com>
Cc: David Michon <dmichon@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft

[2020-08-17 20:00] #14409 closed

[2020-08-17 20:00] #14389 closed

[2020-08-17 20:00] #14356 closed

[2020-08-17 20:52] bigbadcapers opened #14570 "Fluent Examples of doc lists not using recommended Fluent package for doc icons"
See this page:
https://github.com/microsoft/fluentui/blob/c847450db51500f13847542b8f4c89dd277bb2bb/packages/office-ui-fabric-react/src/components/DetailsList/examples/DetailsList.Documents.Example.tsx#L396

Currently has 'hard coded' file icons, which don't automatically update to the latest version of the CDN, do not leverage the logic in the package to return HiDPI icons, etc.

Should use this p

[2020-08-17 22:05] #14453 closed

[2020-08-17 22:31] #13560 closed

[2020-08-17 23:27] DaniloAG opened #14575 "Tooltip component does not resize when the window becomes smaller"
### Environment Information

- **Package version(s)**: Latest
- **Browser and OS versions**: Edge Chromium and Windows 10 Version 1909

### Please provide a reproduction of the bug in a codepen:
[https://codepen.io/daniloag/pen/XWdKzVK](https://codepen.io/daniloag/pen/XWdKzVK)

- Change the editor layout view to either view that sets the text editors vertically.
- Drag the text editors in the dire

[2020-08-17 23:42] bheston opened #14576 "Add "accent stealth" appearance and color recipe"
#### Describe the feature that you would like added

The current "stealth" appearance is neutral color only. Add the necessary color recipe for accent-fill-stealth and a shared appearance / style set for accent-stealth that mimics the neutral stealth behavior.

This is a common treatment for buttons that are not primary actions but that are intended to be differentiated from other neutral content.

[2020-08-17 23:45] yangster23 opened #14577 "Using 'ESC' key, Nav controls are not getting closed."
### Environment Information

- **Package version(s)**: 7.64.0
- **Browser and OS versions**: Chrome Version 84.0.4147.105 (Official Build) (64-bit)

### Describe the issue:

Using the Esc key to close modals and fly-outs, nav dropdowns is becoming so prevalent in user interfaces that it’s usually expected by users. This is the best practice for Accessibility.

Using 'ESC' key nav controls is not g

[2020-08-18 00:27] jgage176 opened #14578 "a11y: Mutliselect dropdown with ariaLabel: Narrator does not announce selected items"
Here is a CodePen that goes through three examples, the first two where Office Fabric correctly handles the ariaLabel and reading off the selected items, the third, which this bug is for, it does not: https://codepen.io/jgage176/pen/bGGzGvJ. If you use a label, it works fine, but if you don't want a label and just specify an ariaLabel then it does not work correctly, which is in contrast to the si

[2020-08-18 00:36] tnelligan opened #14579 "Add Max Zoom prop to Image"
#### Describe the feature that you would like added

Add a prop that would prevent the image from being expanded past a given scaling factor. For example, a passed parameter of 2 would prevent the component from scaling beyond 200% in both height and width dimensions.

#### What component or utility would this be added to

Image

#### Have you discussed this feature with our team, and if so, who

[2020-08-18 00:50] khmakoto commented on #14575
Hi @DaniloAG, thanks for filing this issue! I can confirm that this is happening and will look into a solution as soon as possible.

[2020-08-18 01:11] ecraig12345 opened #14580 "Deprecate useConstCallback"
`useConstCallback` in `@uifabric/react-hooks` was intended for creating callbacks which have no dependencies, and therefore never need to change. It works fine if everyone using it is extremely mindful of how closures work...but that's not a good assumption, so in practice you can easily end up doing things like unintentionally capturing the first value of a prop and not respecting updates (where

[2020-08-18 04:26] Poopooracoocoo commented on #14040
Well Edge Canary (I think it's version 86) is finally using the new radio button style in their React* pages but they unfortunately changed it to be greyscale and they haven't changed the HTML control. where oh where is the consistency...

* by the way does Edge use FluentUI?

[2020-08-18 08:00] #13955 closed

[2020-08-18 09:00] alexlundborgopticon commented on #14556
I'm seeing it in the browsers I have tested: Chrome (version 84) on Windows and MacOS, Firefox (72) on MacOS and Safari (13) on MacOS.

[2020-08-18 09:19] StfBauer opened #14581 "Theme Designer is broken in Fluent UI and Office UI Fabric 6 for SharePoint"
### Environment Information
All of them

### Description
[Theme Designer for Office UI Fabric 5](https://developer.microsoft.com/en-us/fluentui#/styles/themegenerator#Overview) supports background color through the property `primaryBackground`. This theme generator is used to provide custom themes in SharePoint Online.

[code]

In newer versions [Office UI Fabric 6 and Fluent UI](https://fabricweb

[2020-08-18 11:29] magnusdanielson opened #14583 "DatePicker hides GoToToday when start of week is Monday or Sunday"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: Chrome 84 Windows 10

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/magnusdanielson/pen/gOrMQRK?editable=true%3Dhttps%3A%2F%2Fdeveloper.microsoft.com%2Fen-us%2Ffluentui

#### Actual behavior:

When Monday or Sunday is selected as start of the week the GoTo today but

[2020-08-18 13:36] shivasai09 commented on #14352
@paulgildea, i Think this is more of a feature request then a bug.

[2020-08-18 13:43] hraz-msft opened #14586 "Button component ignores `as` prop"
### Environment Information

- **Package version(s)**: ^7.128.2
- **Browser and OS versions**: Latest Chrome, Canary New Edge, Windows 10

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/hraz/pen/ZEWOwxV

#### Actual behavior:

Use `as` prop in Button do nothing.
For example `<DefaultButton as="span" />` still rendered as `<button ...`

#### Expected behavior:

Prop

[2020-08-18 13:47] #14586 closed

[2020-08-18 13:53] hrazmsft opened #14588 "Please add an option to choose the tag of button"
#### Describe the feature that you would like added

Allowing the developer to choose the buttons tag.

#### What component or utility would this be added to

DefaultButton, PrimaryButton

#### Have you discussed this feature with our team, and if so, who

No

#### Additional context/screenshots

Currently buttons renders as `button` or `a` (if `href` prop is defined). Sometimes it needed to be se

[2020-08-18 14:55] known-as-bmf opened #14589 "[GroupedList] Expand / collapse on sub-groups not working anymore"
### Environment Information

- **Package version(s)**: latest (7.128.3)
- **Browser and OS versions**: -

### Please provide a reproduction of the bug in a codepen:

The official examples showcase the bug https://developer.microsoft.com/fr-fr/fluentui#/controls/web/groupedlist

#### Actual behavior:

In the basic example, when trying to collapse a "sub-group" (e.g. `group 0-0`), the styles of the

[2020-08-18 15:17] dzearing commented on #14580
Agree; it's too easy to abuse. Thanks for doing this!

[2020-08-18 15:53] cchengt opened #14591 "ChoiceGroup option unselectable if keyed as "constructor""
### Environment Information

- **Package version(s)**: 7.128.3
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/cchengts/pen/qBZNGBw?editable=true%3Dhttps%3A%2F%2Ffabricweb.z5.web.core.windows.net%2Foufr%2F7.128.3%2F

#### Actual behavior:

Option A is not selectable

#### Expected behavior:

Option A is sele

[2020-08-18 16:19] joschect commented on #14447
@dikshantbansal98 I think that this isn't a bad idea. You can achieve this right now by using the picker as a controlled component where you pass the actual selected items in. That's an extra layer though and it might be nice if we provided a way to do it natively.

[2020-08-18 16:55] #14466 closed

[2020-08-18 16:55] #14520 closed

[2020-08-18 18:12] bansalrachita opened #14595 "Provide control on animation speed of the Loader component"
#### Describe the feature that you would like added

Loader component should have way to control (reduce) the speed of the spinner.

Allows the developer control over visual feel of the loader, helps in creating loader with more subtle and less busy animation -
useful when the page takes a long time to load/perform an action and the spinner exists for a long time in the visual sight of the user.

[2020-08-18 18:43] khmakoto commented on #13889
Sorry for the late response! I'm not able to repro this either. Can you provide a better example @CampbellOwen?

[2020-08-18 19:03] khmakoto commented on #13823
Hi @dvd73 and @jacksonv1lle, I'm afraid it's not currently possible to change the close icon in dialog or panel since the icon name is hardcoded. However, we are planning to refresh these components in the future, we'll track this request as part of that work.

[2020-08-18 21:08] paulgildea commented on #11243
Pulling this back to the top as there appears some product facing issues associated with this.

[2020-08-18 22:07] khmakoto commented on #14577
Hi @yangster23, do you mean that the `expanded` portions of the `Nav` should be collapsed when using `Esc` key? Or do you mean something else? If you do mean that, do you have any ARIA supporting documentation for this behavior? As far as I'm aware this is not something that is required/considered by the ARIA spec. Thanks!

[2020-08-18 22:29] khmakoto commented on #14578
Hi @jgage176 thanks for filing this issue! So, there seems to be 2 separate things both originating from the fact that we have set `role: button` for the multiselect `Dropdown`:
1. `aria-selected` cannot be set on elements with their `role` set to `button`, this causes the list of selected items to not read `selected` at the end. I think this is by design since multiselection is more difficult to

[2020-08-18 22:34] khmakoto commented on #14579
Hey @tnelligan, thanks for filing this issue! Could you clarify on what you mean by "expanding images by up to 200%"? I think that could help us better inform a decision here. Thanks!

[2020-08-18 22:41] khmakoto commented on #14581
Hi @StfBauer, while `bodyBackground` does not exist as a `palette` color anymore, it does exist as a `semanticColor` that you can also access via the theme:

https://github.com/microsoft/fluentui/blob/ab168f6af25c5fd601671ef93d95e89084f16e32/packages/styling/src/interfaces/ISemanticColors.ts#L73

[2020-08-18 22:48] khmakoto commented on #14583
Hi @magnusdanielson, thanks for filing this issue! I can confirm that this is indeed happening! I want to note though that this happens not because you select `Sunday` or `Monday` at the start of the week but because the month spans 6 weeks in the calendar due to that choice.

[2020-08-18 22:50] khmakoto commented on #14583
@lorejoh12 FYI.

[2020-08-18 22:54] khmakoto commented on #14588
Hi @hraz-msft, thanks for filing this issue! We're currently on the process of revamping our button and this is one of the things that we're looking into. I'll add it into the backlog for now but do know that we're looking into this.

[2020-08-18 22:55] khmakoto commented on #14589
Hi @known-as-bmf, thanks for filing this issue! I can confirm that this is indeed happening and will look into it as soon as possible.

[2020-08-18 23:10] khmakoto commented on #14591
Hi @cchengt, I think this might have something to do with React itself since we don't have any logic to handle that case specifically.

[2020-08-18 23:32] sergul opened #14600 "Narrator reads all the actionable elements in Dialog"
### Environment Information

- **Package version(s)**: (7.123.1)
- **Browser and OS versions**: (Chromium Edge 84.0.522.61 and Windows 10)

### Describe the issue:

Once a Dialog is opened, Narrator reads out all the actionable elements of its content.

### Please provide a reproduction of the issue in a codepen:

1. Go to https://codepen.io/sergulo/pen/KKdoMBK using Chromium Edge browser
2. Turn

[2020-08-19 00:00] ipip2005 opened #14602 "Inaccessible split button menu via keyboard"
### Environment Information

- **Package version(s)**: latest
- **Browser and OS versions**: chrome. Window 10.

### Describe the issue:

The split sub button cannot be focused when it's in command bar making the options in split button menu inaccessible.

1. Go to Button demo page, go to Split Button section.
2. Focus on any split button
3. Try to open the menu

#### Actual behavior:
Cannot open

[2020-08-19 00:04] joschect commented on #14578
Hey!
@khmakoto I think you're totally right about 1.

I am however, pretty confused about why 2 doesn't work. They both provide very similar information and it doesn't look like the multiselect field really does anything that different in this particular instance. I think we'll need to investigate a bit more. I wonder if this is potentially a bug in narrator. Alternatively I also think that @khmak

[2020-08-19 01:33] ytingyeu opened #14604 "Example from GroupedList document cannot be compiled"
### Environment Information

- **Package version(s)**: "
"@fluentui/react": "^7.128.1
"typescript": "~3.7.2"

### Please provide a reproduction of the bug in a codepen:
[exmpale](https://codepen.io/ytingyeu/pen/rNeMOWN)
Note: this example is taken from [documentation](https://developer.microsoft.com/en-us/fluentui#/controls/web/groupedlist)

The error is not visible on codepen. One has to test thi

[2020-08-19 01:54] MichaelRechenberg opened #14605 "Consider recategorizing packages for @uifabric/react-cards"
#### Describe the feature that you would like added

I'm asking the Fabric team to consider the following changes/questions for dependencies in the @uifabric/react-cards package.

- Move `office-ui-fabric-react` to a peerDependency.  This can help us have just one version of Fabric in our project
- If we're already importing office-ui-fabric-react in @uifabric/react-cards then can some of the @uif

[2020-08-19 03:50] shivasai09 commented on #14502
@khmakoto what i am saying is if the icon is 16px in font-size and in dark mode, the icon is not visible properly. but if you increase the font-size like something to 32px then icon is clearly visible. please open the codepen to verify

[2020-08-19 06:27] Jacqueline-ms commented on #12877
@JustSlone absolutely, thanks for bringing to our attention. I will follow the high contrast theme doc provided and report back shortly.

[2020-08-19 06:45] smhigley commented on #11243
@paulgildea would you mind if I took this one on? I think I might be able to fix some of the table structure without altering the DOM, though there is a bit of an issue around the markup for the row checkbox and expand/collapse button not being contained in a gridcell.

[2020-08-19 07:02] smhigley commented on #14461
@Payne-Yan it looks like this is because axe-core hasn't updated to the ARIA 1.2 combobox pattern, where the combobox role is on the input and associated with the listbox/grid/etc through `aria-controls`. You can see the same failure if you run Accessibility Insights on the aria-practices combobox page: https://w3c.github.io/aria-practices/examples/combobox/combobox-autocomplete-list.html

In prac

[2020-08-19 07:11] smhigley commented on #14477
This is one of multiple support issues with the ARIA 1.1 combobox pattern. This particular one was fixed in NVDA 2020 with Firefox, but not with Chromium browsers.

The best solution would be to move to the ARIA 1.2 combobox pattern, which would involve putting `role="combobox"` and all related ARIA attributes directly on the `<input>` element instead of having a separate combobox parent.

[2020-08-19 09:29] StfBauer commented on #14581
As if SharePoint would care what you define in the semanticColor slot. You break an existing and working system just because you can? Really? Not that the theme designer only allows picking three colours.

<img width="425" alt="Screenshot 2020-08-19 at 11 26 23" src="https://user-images.githubusercontent.com/5503835/90617436-f8cfaa00-e20e-11ea-8d89-668bb82eed6a.png">

How do you think it would be

[2020-08-19 17:52] mitchellholly opened #14608 "List items don't announce position in set"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: I am reproing in Edge with Narrator, on Windows 10

### Describe the issue:

I am using a List component, and when you navigate between items in the list, it does not tell you which item you are on, like "item 2 of 40". If you use CAPS + right arrow, it does announce. But if you just use regular a

[2020-08-19 18:40] #13380 closed

[2020-08-19 18:51] khmakoto commented on #14581
From what I can see in the theme designer, the `white` value in the palette is what's taking the value of the background color you choose there:

![image](https://user-images.githubusercontent.com/7798177/90677513-51547680-e212-11ea-932b-400ee6410bd5.png)

I hope that helps with your issue!

[2020-08-19 18:57] anzaremb opened #14609 "No overflow mechanism for MessageBar with buttons"
### Environment Information

- **Package version(s)**: (?)
- **Browser and OS versions**: (Chrome on Windows)

### Describe the issue:

Version of the MessageBar with buttons doesn't have an overflow mechanism in zoom scenarios / small responsive breakpoints.

### Please provide a reproduction of the issue in a codepen:

#### Actual behavior:

Text is cut by the buttons. Example: success message o

[2020-08-19 19:36] StfBauer commented on #14581
Not really cause with a background applied to SharePoint it completely mess up the design of SharePoint like this.
<img width="1418" alt="Screenshot 2020-08-19 at 12 02 37 copy" src="https://user-images.githubusercontent.com/5503835/90681623-f9def680-e263-11ea-9a77-7a080b921f24.png">

and that is just an extreme case but it doesn't work when for example a light blue gets added as a background.

[2020-08-19 19:59] xugao commented on #11243
@smhigley - before you start the fix, pls confirm your approach is okay with @cschlechty  (there is always a lot risk involves fixing details list bugs, he is the best person to help)

[2020-08-19 20:56] yanbxice opened #14611 "DatePicker - No proper state is announced for the current day"
### Environment Information

- **Package version(s)**: 7.121.4
- **Browser and OS versions**: Edge

### Describe the issue:

When screen reader users navigate to the present day, visually it is displayed using the background color but the same information is not conveyed to the screen reader users.

### Please provide a reproduction of the issue in a codepen:

https://fabricweb.z5.web.core.windows

[2020-08-19 23:07] erichdev opened #14614 "ComboBox accessibility: Tabbing/dismissing callout toggle selection"
### Environment Information

- **Package version(s)**: 7.129.0
- **Browser and OS versions**: Chrome 84.0.4147.125, Windows 10

### Describe the issue:

In `ComboBox`, with multiselect and freeform allowed, if you're focused on an option, pressing tab unexpectedly toggles the selection.

### Please provide a reproduction of the issue in a codepen:

Repro: https://codepen.io/erichdev/pen/yLOaqbr

1

[2020-08-19 23:10] erichdev commented on #14614
A similar repro is:

1. Open the ComboBox options callout.
2. Keyboard arrow down to any option.
3. Press enter to select the option.
4. Click outside the ComboBox to dismiss the callout.
5. The option is no longer selected.

Seems the values are being updated on dissmiss/on blur.

[2020-08-19 23:45] khmakoto commented on #14581
Cc'ing @aneeshack4 since she worked on the Theme Designer to see if she can help here.

[2020-08-19 23:51] khmakoto commented on #14502
A couple of questions:
- Is my understanding correct that you want the default 16px size but that it doesn't look correctly?
- If so, can you define why do you think it is not properly visible? I'm having trouble seeing what's wrong here since the icon seems ok to me.

[2020-08-19 23:53] khmakoto commented on #14461
Thanks for responding here @smhigley!

@Payne-Yan given @smhigley's response I'm going to go ahead and resolve this as `Resolution: External`. Let us know if there is anything else we can do to help!

[2020-08-19 23:54] khmakoto commented on #14600
Hi @sergul, I've taken a look at your example and this definitely reproduces. I'll work on it as soon as possible. Thanks for filing the issue!

[2020-08-20 00:06] khmakoto commented on #14557
Hi @interfaith, could you provide a codepen demonstrating this behavior? Thanks!

[2020-08-20 00:24] aneeshack4 commented on #14581
@StfBauer What exactly are you trying to do? Can you please describe your use case for the theme designer clearly? Repro steps will help us.

[2020-08-20 00:42] khmakoto commented on #14556
Hi @alexlundborgopticon, I can confirm this is indeed happening. You'll notice, however, that after the time has passed they render if you interact with the `DetailsList` in any way. This happens because the outer `DetailsList` is being re-rendered, but the groups inside are not re-rendering. I don't think we'd fix this due to the complexity and dependencies of our List components, reason for why

[2020-08-20 00:43] khmakoto commented on #14602
Hi @ipip2005, this is by design. You can trigger the `SplitButton` menu by doing the aria expected keyboard combination `Alt + Down`.

[2020-08-20 00:51] interfaith commented on #14557
I gave you the code !
but ok I will consider a codepen

On Wed, Aug 19, 2020 at 8:07 PM Makoto Morimoto <notifications@github.com>
wrote:

--
-----
Fight back spam! Download the Blue Frog.
http://www.bluesecurity.com/register/s?user=c3Bvd2FnZTI3NTk%3D

[2020-08-20 04:25] mbest opened #14618 "Add yAxisTickFormat to VerticalStackedBarChart"
#### Describe the feature that you would like added

We need to be able to format the y-axis data. In our case, the data is minutes, which we'll format as something like "1 h 10 min". This should also format the value in the call-out.

#### What component or utility would this be added to

VerticalStackedBarChart

[2020-08-20 06:36] jameelakowsar opened #14619 "Charting: Overlapping of x axis labels in vertical bar chart and stacked vertical bar chart."
### Environment Information

- **Package version(s)**: All versions
- **Browser and OS versions**: All browsers

#### Expected behavior:

When we have large test at  axis tick values, all those values are overlapping with another.
These values need to truncated and need to show a tooltip to display whole word.
Otherwise, We need to show whole tick value by wrapping the word.

This issue repro'ing

[2020-08-20 09:30] alexlundborgopticon commented on #14556
Thank you, that helped! I'll go ahead and close the issue.

[2020-08-20 09:30] #14556 closed

[2020-08-20 10:14] hraz-msft opened #14622 "React Hooks for styles and theming"
#### Describe the feature that you would like added

Please add React Hooks for styling like in React-JSS or Material-UI libraries, that will allow to access the theme object directly and release the dependencies of 3rd party libraries.

#### What component or utility would this be added to

Not relevant...

#### Have you discussed this feature with our team, and if so, who

No

#### Additional co

[2020-08-20 11:43] pompomon opened #14623 ""is exported at top-level" in sharedIsConformant test is failing when checkout folder is in `src` folder"
### Environment Information

- **Package version(s)**: recent `master`, 0.51. FluentUI v0
- **Browser and OS versions**: MacOS 10.15.6

### Please provide a reproduction of the bug in a codepen:

Checkout repo to a folder with has `/src/` in the path, e.g. /Users/rs/src/fluentui/
Run `yarn` and `yarn build`
then
Go to `/packages/fluentui/react-northstar/`
Run `yarn test`
or
Go to `/packages/office

[2020-08-20 11:45] pompomon commented on #14623
@ecraig12345 , please I believe the issue happens because we are doing `replace` in `packages/react-conformance/src/defaultTests.tsx:'exported-top-level'`, based on "/src/" string
[code]

[2020-08-20 12:20] jameelakowsar opened #14626 "Charting: X axis labels wrapping not supporting to the IE11"
# Environment Information

- **Package version(s)**: Above 3.0.7
- **Browser and OS versions**: IE browser

#### Actual behavior:

In IE11 - when grouped vertical bar chart page opened, page getting crashed. X axis labels wrap is not working.

### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affe

[2020-08-20 12:21] layershifter opened #14627 "CI: build should be stopped/cancelled on task fail"
Build: https://uifabric.visualstudio.com/fabricpublic/_build/results?buildId=110641&view=logs&jobId=258ec178-2d8b-5611-7b9b-60c5c95dae55&j=258ec178-2d8b-5611-7b9b-60c5c95dae55&t=3dbc0aa8-94d2-5f1a-6c00-c4086d74d6b7

For some reason "do syncpack and no-tslint checks" stage fails build but next steps are still running:
![image](https://user-images.githubusercontent.com/14183168/90769241-32c4ad00-e2f

[2020-08-20 13:31] layershifter opened #14632 "CI: should run Prettier to detect formatting issues"
Currently there is no job that will run prettier formatting in CI.

This allows files with broken formatting (as an example https://github.com/microsoft/fluentui/pull/14625) to pass CI checks and then these changes will come to `master`. Once anyone will merge with `master` there will be unrelated formatting changes (https://github.com/microsoft/fluentui/pull/14441#discussion_r467878616).

[2020-08-20 14:56] StfBauer commented on #14581
1. Create a theme that can be used in SharePoint Online - Fails
2. Create a theme that uses a custom background color that only affects the background in a defined slot for SharePoint Online because it should only affect the background - Fails
3. Steps to reproduce
* https://docs.microsoft.com/en-us/sharepoint/dev/declarative-customization/site-theming/sharepoint-site-theming-overview

[2020-08-20 14:56] Lijiaoa opened #14635 "Element couldn't set scroll in Modal"
I use fabric version as `"office-ui-fabric-react": "^7.78.0",`. When I use `Modal` component, I find that when I set Modal width is `50%`，The width of the element in Modal is more than 50%! I add scroll bar but it doesn't help.

expected: could set scroll bar for element in Modal.

[2020-08-20 15:27] paulgildea commented on #14604
@ytingyeu Thanks for the issue!

Sounds like the this only happens with a specific `tsconfig`

@khmakoto - Will be interesting to see if we've supported this config in the past or if this is a recent regression.

[2020-08-20 15:34] paulgildea commented on #14605
@MichaelRechenberg Thanks for the feature request.

@dzearing as FYI.

We are updating our package structure for the next release. While we might not cover these specific refactorings we're opting to allow developers more granular choices on package imports. I don't have any specific timelines to share at this time, but we'll take this into consideration during restructuring.

I'm going to resolve

[2020-08-20 15:34] khmakoto commented on #14604
I talked with Elizabeth, we have not supported that in the past, though it does not seem that hard to fix. I'll check it out.

[2020-08-20 15:35] paulgildea commented on #14608
@mitchellholly Thanks for the added context. Super helpful.

[2020-08-20 15:37] khmakoto commented on #14626
@Raghurk FYI

[2020-08-20 15:38] khmakoto commented on #14619
@Raghurk FYI

[2020-08-20 15:38] khmakoto commented on #14618
@Raghurk FYI

[2020-08-20 15:39] paulgildea commented on #14609
@anzaremb Thanks for the feedback!

I'm inclined to resolve this as by Design as we don't provide overflow by default.

@khmakoto - Do you have any suggestions for a workaround that allow customization for overflow?

[2020-08-20 15:43] paulgildea commented on #14611
@smhigley FYI.

@lorejoh12 FYI - Not sure if this has addressed in other patterns.

[2020-08-20 15:48] paulgildea commented on #14614
@erichdev Thanks for the great repo steps in your codepen!

@khmakoto - I believe the main issue is that the user expectation here is that if you arrow key to an option in the `ComboBox` and press `Tab` it should behave as if you pressed `Esc`, but it actually selects the option... which feels strange as `Enter` is the primary keyboard selection method.

[2020-08-20 15:52] dzearing commented on #14605
@khmakoto can you look at these?

[2020-08-20 15:53] dzearing commented on #14605
I think these are great points and mostly easy to tweak.

[2020-08-20 15:53] khmakoto commented on #14605
@dzearing Yeah, I think these should be easy.

[2020-08-20 15:56] paulgildea commented on #14622
@hraz-msft Thanks for the feature request.

@dzearing FYI who's been driving styling all up for the component library.

At this time we are examining our styling API. I don't have any specific timelines to share at this time, but we'll take this into consideration as we make progress.

Feel free to reach out if you want to play around the API once we have something consumable for feedback.

Markin

[2020-08-20 15:59] paulgildea commented on #14632
@ecraig12345 FYI

[2020-08-20 16:01] paulgildea commented on #14635
@Lijiaoa Thanks for the feedback.

Could you supply a codepen that replicates the issue you are seeing because that will help us determine if it's a recent regression or not.

Thanks!

[2020-08-20 16:03] Lijiaoa commented on #14635
Ok. will update late.

[2020-08-20 16:07] ecraig12345 commented on #14632
I agree this would be nice, though the trick is we should ideally only run prettier on files that are modified in the PR. I'm sure there's a way to detect that but not sure what it is offhand.

[2020-08-20 16:09] paulgildea commented on #14557
@interfaith A codepen helpful for us because it allows us to understand what version of the library you are using, what behavior you are seeing at runtime, and lets us determine if a regression was introduced into the library.

Thanks!

[2020-08-20 16:20] ecraig12345 commented on #14623
When we wrote that code we didn't expect that people would call their Git repo parent folder `src`. If you don't want to rename the folder, we could potentially change the regex to only match the last instance of `src`, but I'm not sure offhand how to make a regex do that.

[2020-08-20 16:26] ecraig12345 commented on #14623
This would work, but it's convoluted and I'd really rather not have to modify the regex this way. `/(?:[\\/]src[\\/].*?)?([\\/]src[\\/].*)$/`

Another possible approach might be to split up the path based on the Git repo root, and only replace src in the root-relative part, but that would also be more convoluted.

[2020-08-20 17:57] anzaremb commented on #14609
Hello Paul,

Thanks for getting back to me.
we have spec proposal for button reflow so they would be a part of the content in an overflow scenario:

[cid:a2aeb34e-891a-4bfd-b5bb-2749701ac994]

Is that something we could implement as a solution to this?

Thanks,
Anna
________________________________
From: Paul Gildea <notifications@github.com>
Sent: Thursday, August 20, 2020 8:40 AM
To: microsoft/f

[2020-08-20 18:28] ecraig12345 opened #14638 "Add compat docs to website"
We need to add a section in the website's controls list for compat controls.

Easiest approach is probably to do it based on a set of new `{@docCategory}` tags, like `{@docCategory CompatButton}`, and update `apps/fabric-website/src/SiteDefinition/SiteDefinition.pages/Controls/web.tsx` to group those in a "Compat" section.

We should also consider how to explain the purpose of the compat controls,

[2020-08-20 19:24] #14457 closed

[2020-08-20 19:47] khmakoto commented on #14604
@ytingyeu I've sent a PR addressing the issues pertaining the examples specifically.

[2020-08-20 19:56] khmakoto commented on #14609
Hi @anzaremb, you can always set the `isMultiline` prop to `true` so that text is not truncated. Let me know if this helps you!

[2020-08-20 20:21] anzaremb commented on #14609
hey Makoto,

Thanks for the answer.

We are only implementing the truncated version for all message bars so it doesn't overtake the screen in zoomed scenarios. That is why we need the truncated version for both buttons and text only scenarios.

Anna

________________________________
From: Makoto Morimoto <notifications@github.com>
Sent: Thursday, August 20, 2020 12:56 PM
To: microsoft/fluentui <fl

[2020-08-20 20:37] dzearing commented on #14622
We are going to provide an interim solution to help here. I think it should help unblock your use cases.

You can preview the implementation of `useStyles` in the codesandbox here:

https://codesandbox.io/s/usestyles-to-build-styling-using-the-fluent-ui-theme-wt0ue?file=/src/App.tsx

However, as @paulgildea mentioned, we're implementing a more performant approach. Rendering styling like this has s

[2020-08-20 20:41] khmakoto commented on #14605
Hi @MichaelRechenberg. I've done the changes in the PR above. However, I've backed off of moving `office-ui-fabric-react` to `peerDependencies` since we don't do that for any other package. If it's causing duplicated versions for you there should be a way to resolve it by fiddling with your dependency versions. Could you provide me more details on the issue you're facing and the versions of `offic

[2020-08-20 20:51] paulgildea commented on #14622
Love it! Thanks @dzearing glad to hear we could provide some value for v7 here!

[2020-08-20 21:10] hraz-msft commented on #14622
Thank you! Looks awesome! I can't wait to see the official result!

My suggestion was to calculate the style once outside of the component, but then the theme cannot be changed without full refresh (for example if the user want to move from light theme to dark theme and vice versa).

If you are using the `useStyles` inside of the component rendering logic, you can use the `useMemo` hook to memoriz

[2020-08-20 21:20] mbest opened #14643 "In VerticalStackedBarChart, legend is messed up when colors aren't given"
### Environment Information

@uifabric/charting 3.1.0

#### Actual behavior:

When defining the `chartData` for a `VerticalStackedBarChart`, `color` is optional. However, when you leave it out, common items (same legend string) aren't grouped properly. In this example, "Any Xbox device name" wasn't assigned a color:

![image](https://user-images.githubusercontent.com/1230364/90826669-bc27af80-e2ef

[2020-08-20 22:18] dzearing commented on #14622
Totally thought about `useMemo`. The problem is that it will memo on a per component instance, so each of your buttons will individually run the function, when you want to have more of a global cache which only calculates classes 1 time for a unique theme object.

[2020-08-20 22:22] ecraig12345 commented on #14627
There's probably a way to configure this in the pipeline yaml definition, but I don't remember what it is offhand.

[2020-08-20 22:27] ecraig12345 opened #14644 "Validate v8 release"
- [x] Schedule bug bash for team (focused on converted function components)
  - [x] Beforehand, document areas of particular emphasis for testing
  - [x] Add tests if possible for bugs found
- [x] Verify perf of converted function components has not regressed (including in more realistic scenarios)
- [ ] Directly work with partners to test areas of particular concern
  - [ ] Need to identify these

[2020-08-20 22:34] shahzebasif opened #14646 "Narrator: Dialog close button not localized in Simplified Chinese"
#### Repro:

https://codepen.io/shahzebasif/pen/BaKQLKM

#### Actual behavior:

Narrator says "close" in English even if the Windows language is Simplified Chinese.

#### Expected behavior:

Narrator should localize the close button to the system language.

[2020-08-20 23:18] mbest opened #14651 "Legend out of order in VerticalStackedBarChart"
### Environment Information

@uifabric/charting 3.1.0

#### Actual behavior:

When the first column of data doesn't include all the items, the legend will be out of order. In the following example, the order should be what you see for Mon, which has data for all four devices.

![image](https://user-images.githubusercontent.com/1230364/90834824-fb5dfc80-e2ff-11ea-9bdc-3a9ab5da0387.png)

A workaroun

[2020-08-20 23:33] ecraig12345 commented on #14320
I think @dzearing suggested something like wrapping the `useResponsiveMode` hook in a component updating `withResponsiveMode` to use that--not sure of the details, and I couldn't immediately figure out how to make it work in a quick experiment (but it might be possible).

While doing this, I think we should also either export `useResponsiveMode` from the root OR move it (and the utilities) to reac

[2020-08-21 00:38] zeqiu-mirage opened #14654 "'aria-disabled' can't be overridden by providing 'aria-disabled' property directly to the button component"
### Environment Information

Package version(s): (7.123.1)
Browser and OS versions: (Chromium Edge 84.0.522.59 and Windows 10)

### Describe the issue:
aria-disabled can't be overridden by providing 'aria-disabled' property directly to the component for Button control. In some using cases we don't want the button disabled be announced by Narrator, which will cause accessibility issue.

### Please

[2020-08-21 00:58] joschect commented on #14527
@lamha-lagoe That's a good point. It's possible that BaseButton should allow for you to completely override the dismiss on callout. I'm a bit hesitant to have dismissOnFocusLost be more expansive when it might make more sense to have that same kind of behavior apply to all the potential dismiss events and not just dismissOnFocusLost. Since it seems like onDismiss won't work, maybe there should be

[2020-08-21 01:00] #14602 closed

[2020-08-21 01:54] #14605 closed

[2020-08-21 04:25] ibrosen opened #14655 "Components using MSHighContrastAdjust:none dont override their children's color style"
If any component which uses the HighContrastSelector has a child with a self-set color, that self-set color won't be overridden in HighContrast mode, **even if in the parent component it sets the color within the HighContrastSelector**

### Environment Information

- **Package version(s)**: @fluentui/react ^7.117.1, @uifabric/styling ^7.12.15
- **Browser and OS versions**: Version 81.0.410.1 (Offi

[2020-08-21 07:40] pompomon commented on #14623
Yeah, I'll probably just rename my path for now :)
I'll try to think of some other ways to solve that as well and maybe ping you later :)
Thanks for the quick response @ecraig12345 !

[2020-08-21 13:59] StevieJerbs opened #14659 "Adding onClick event to the DetailsList component"
#### Describe the feature that you would like added

Has there been any discussion on the Fluent UI team in regards to adding a single click event to each row in a DetailList component.

#### What component or utility would this be added to

DetailsList

#### Have you discussed this feature with our team, and if so, who

No

#### Additional context/screenshots

I was able to add an onClick event v

[2020-08-21 16:02] JustSlone opened #14660 "Component package scaffolding for v8 release"
(copied from v8 scope doc--modify as appropriate)

Just package scaffolding and ship FC conversations, not new versions of these components.
- [x] scaffold `react-checkbox`
- [x] default export V8 Checkbox and move latest code to `/next`
- [x] scaffold `react-link`
- [x] default export V8 Link and move latest code to `/next`
- [x] scaffold `react-toggle`
- [x] default export V8 Toggle and move lat

[2020-08-21 16:04] JustSlone opened #14661 "ThemeProvider work for v8 release"
(copied from v8 scope doc--edit as needed)

- [x] support passing through v7 theme
- [x] v7 -> v8 theme conversion for button
- [x] support scoped customizations - theme.scopedSettings or theme.components is forwarded to Customizer scoped settings
- [x] support `applyToBody`
~~- [ ] support passing through v0 theme~~(de-prioritize: not needed for V8 release)

Post-snap/pre-beta work: #14740

[2020-08-21 16:05] JustSlone opened #14662 "Compose - lock down typings"
[todo fill in body]

[2020-08-21 16:12] JustSlone opened #14663 "Compose - documentation"
[todo fill in body]

[2020-08-21 16:14] JustSlone opened #14665 "Compose - shorthand props"
[body]

[2020-08-21 16:15] JustSlone opened #14666 "Flight button in Ribbon"
Remainders for Ribbon work:

- [ ] Enable flight in dogfood
- [ ] Test high contrast mode changes we made
- [ ] Integrate latest bits after IE11 changes are in
- [ ] Add back KeyTips and Tooltips support
- [x] MLR styling

In parallel we are also adding flamegrill tests for Ribbon with both old and new button

[2020-08-21 16:16] JustSlone opened #14667 "Fix button typings"
[todo fill me out]

[2020-08-21 16:17] JustSlone opened #14668 "IE 11 polyfill for CSS variables"
This is to add a polyfill for ie11 since it does not support css variables. Main work items are:

- [x] Make a package to put this polyfill script and future ie11 polyfills
- [x] Check in polyfill script to the package
- [x] Test polyfill on component that uses css variables(Button in @fluentui/react-button)
- [x] Write documentation for using the polyfill
- [ ] Repackage (soft fork)

For websites

[2020-08-21 16:20] JustSlone opened #14669 "Variants PR reviewed and checked in"
Variants PR reviewed and checked in

[2020-08-21 16:20] JustSlone opened #14670 "Implement stealth/action button"
Implement `ghost button` following details from design spec and theming from current v7 theme.

[2020-08-21 16:21] JustSlone opened #14671 "Implement compound button"
Implement `Compound button` following details from design spec and theming from current v7 theme.

[2020-08-21 16:21] JustSlone opened #14672 "Implement commandbar button"
Need to implement CommandBarButton in react-button package

- [ ] Change styling to use css variables
- [ ] Use CommandBarButton from react-button in CommandBar

[2020-08-21 16:22] JustSlone opened #14673 "Use new button in existing use cases within our repo (e.g. commandbar)"
Below is the list I have of components that use old button, and need to be replaced with new button. This is just components for now, but will add examples as well later on.

- [x] Breadcrumb
- [ ] ComboBox
- [ ] CommandBar
- [x] DialogContent
- [ ] Dropdown (react-northstar)
- [x] Nav
- [x] Pivot
- [x] Searchbox
- [x] SpinButton

This is made more difficult because several components also expose

[2020-08-21 16:26] JustSlone opened #14674 "Remove KeytipData from components and document migration plan"
Remove `KeytipData` from components (in favor of `useKeytipData` added in #13688), and add more details to release notes for migration plan.

[2020-08-21 16:27] JustSlone opened #14675 "Verify all changes to OUFR have been ported to react-next"
- [ ] For converted function components, look at:
  - When it was copied to react-next
  - Whether any changes were made to the component in OUFR since then
  - If so, ensure the changes are included in react-next FC version
- [x] Ensure doc text changes have been ported, OR just delete the react-next copies (this refers to `react-next/src/components/<Component>/docs/*.md`)

[2020-08-21 16:28] JustSlone opened #14676 "Write release notes and migration guide"
(from @ecraig12345)

- [x] ~~Ensure all breaking changes are included (and ensure format is readable)~~ seems duplicated by #14702
- [x] Include new TS minbar (and React minbar, but I don't think that's changing)
- [x] Write guidance on:
  - [x] ~~Moving to converged components. Mainly styles -> css variables [David, Mak]~~ no longer relevant
  - [x] ~~Composition utilities~~ moved to #15845
  - [

[2020-08-21 16:29] JustSlone opened #14677 "Prep and test specific codemods for v8 release"
(copied from v8 scope doc--modify as needed)

#### Currently Planned codemods:
- [x] Fabric to Fluent path rename
- [x] Other path renames (get a list of moved files which are likely to need repathing)
- [x] Component to Compat layer - For Button
- [x] Removing deprecated props and changing them to their replacements

#### Remaining mod tasks:
- [x] Add ability to configure specific scenarios [Tri

[2020-08-21 16:34] JustSlone opened #14679 "Re-export date-time components from react"
(from @ecraig12345)

Part 2/4 in a series of changes that must happen in master *after* v7 development moves to a branch, but *before* beta publishing:
1. #15152 OUFR/react-next merge
2. (this) #14679 ~~Move~~ Re-export date-time components
3. #13384 uifabric/fluentui package renames
4. #14689 set up beta releases

### Motivation

We'd like to re-export the `@uifabric/date-time` versions of Calend

[2020-08-21 16:47] JustSlone opened #14680 "Button v8 Tracking Issue for bugs"
This issue tracks the open bugs for button in prep for v8.

- [x] #13676
- [x] #13674
- [x] #13666
- [x] #13671
- [x] #13679
- [x] #13665
- [x] #13680

[2020-08-21 17:12] JustSlone opened #14681 "Address circular dependencies in examples"
(from @ecraig12345 )

In a component's examples, it's common to use other components to help control the examples or demonstrate concepts. This worked fine when all the components were in the same package, but it will cause problems once we split the components into separate packages.

Currently the new `react-*` component packages such as `react-button` get around this by depending on OUFR rather

[2020-08-21 17:13] ibrosen opened #14683 "Link without an href takes button colours in HighContrastMode"
Link without an href takes button colours in HighContrastMode

### Environment Information

- **Package version(s)**: @fluentui/react ^7.117.1, @uifabric/styling ^7.12.15
- **Browser and OS versions**: Version 81.0.410.1 (Official build) Dev (64-bit) (repros on other browsers)

### Please provide a reproduction of the bug in a codepen:

https://developer.microsoft.com/en-us/fluentui#/controls/web/

[2020-08-21 17:13] JustSlone opened #14684 "7.0 branch setup and communication"
(from @ecraig12345)

The tentative plan for v8 release involves moving active v7 development to a `7.0` branch and releasing the beta out of `master`.

#### Staging (pre-snap)

- [x] Warn developers about the upcoming process changes
  - [x] Timing details
  - [x] Post announcement
  - [x] Clear guide for temporary development flow: which branch to target, how to get a local copy of 7.0 to base yo

[2020-08-21 17:13] ecraig12345 opened #14685 "Add API to get root element of FocusZone (and fix DetailsRow/Header)"
Motivation: DetailsRow and DetailsHeader use `ReactDOM.findDOMNode` to find the actual HTML element corresponding to a FocusZone. This works for the time being, since FocusZone is still a class component, but it will stop working if/when FocusZone is converted to a function component.

To fix this, we need to add a new API to FocusZone to get the root element. @MLoughry had previously made a PR #1

[2020-08-21 17:14] JustSlone opened #14686 "Communicate beta and release plans"
- [x] Communicate timelines (teams)
- [x] Communicate timelines (email)
- [x] Announce Button compat export availability? Work with partners on early changes?

[2020-08-21 17:21] JustSlone opened #14688 "[post-snap] Merge OUFR and react-next into react"
(from @ecraig12345)

Part 1/4 in a series of changes that must happen in master *after* v7 development moves to a branch, but *before* beta publishing:
1. (this) #14688 OUFR/react-next merge
2. #14679 Move date-time components
3. #13384 uifabric/fluentui package renames
4. #14689 set up beta releases

For version 8, we plan to merge `office-ui-fabric-react` (current code) and `@fluentui/react-next

[2020-08-21 17:23] JustSlone opened #14689 "Set up beta releases"
(from @ecraig12345)

Part 4/4 in a series of changes that must happen in master *after* v7 development moves to a branch, but *before* beta publishing:
1. #15152 OUFR/react-next merge
2. #14679 Move date-time components
3. #13384 uifabric/fluentui package renames
4. (this) #14689 set up beta releases

These are the final work items that must be done to release the version 8 beta, or shortly after.

[2020-08-21 17:23] JustSlone opened #14690 "Text cleanup pass for old names"
(from @ecraig12345)

After packages are renamed (#14688 and #13384), we need to remove references to Fabric, `office-ui-fabric-react`, `oufr`, `OUFR`, `OUIFR`, `@uifabric`, etc from text in various places:
- [ ] Files in the repo
  - `oufrVersion`/`oufr-version` references in the release pipeline should probably stay since they'll cause a cascading effect with other pipelines
  - Similar if we ren

[2020-08-21 17:27] JustSlone opened #14691 "Add version 8 to website (all versions)"
(from @ecraig12345)

#### Any time before release
- [ ] Look into making same website release pipeline tasks work across 5/6/7/master (task group with variable?)
- [ ] Low priority: Look into driving version switcher from manifest or something (to avoid needing manual updates across multiple files and branches) -- would be nice if there's an *easy* way to do it, but not essential

#### During the

[2020-08-21 17:29] JustSlone opened #14692 "Final setup for release"
(from @ecraig12345)

Once we're ready to release, these are the few final items which must be done. This may require a short code freeze.

- [x] Prepare master branch for release (may require short code freeze)
  - [x] Last check for 7.0 changes to cherry-pick
  - [x] Pause publishing
  - [x] Update version numbers/publishing config to remove prerelease - #17169
  - [x] ~~Sync version numbers of n

[2020-08-21 17:30] JustSlone opened #14693 "Fit-finish button styling (should have no visual changes between old and new buttons)"
Details in [hackmd](https://hackmd.io/@fluentui/HkZy4q3fP)

[2020-08-21 18:01] atneik opened #14694 "Tooltip dismisses prematurely"
### Environment Information

- **Package version(s)**: 7.123.9

#### Actual behavior:

1. Move the cursor out of the button, over the background, then over the Tooltip within closeDelay.
2. Notice the Tooltip will be dismissed.

Here the `closeDelay` is set to `2000` ms:
![tooltipBug](https://user-images.githubusercontent.com/785361/90920457-2d716c00-e39d-11ea-9b38-e63d3cebbf95.gif)

#### Expected

[2020-08-21 18:05] JustSlone opened #14695 "Compose RFCs for v8"
Tracking issue for Compose RFCs for v8

- [x] #14374
- [x] #14365
- [x] #14373
- [ ] #14366

[2020-08-21 18:56] ecraig12345 opened #14697 "Increasing TS minbar to 3.7"
For Fluent UI React version 8, we'd like to increase the minimum TS version to 3.7.

The tricky thing about this is that since not all of our packages will be major-bumping, we'd be introducing breaking .d.ts changes in a minor version for the packages that didn't major-bump. It might be okay in this case since most partners are already on 3.7 or higher but needs more consideration. (If anyone rea

[2020-08-21 20:39] ecraig12345 opened #14699 "Update makeStyles to use useTheme"
David added `makeStyles` for V7 users in #14641.
For V8, we should update it to use `useTheme` instead of `useCustomizationSettings`

[2020-08-21 21:00] mizeljko opened #14701 "CommandBarButton menuProps data-automation-id"
Is there a value that can be changed in CommandBarButton menuProps so that each of the items has data-automation-id value?

[2020-08-21 21:03] ecraig12345 opened #14702 "Update release notes and ensure all breaking changes are included"
### General

(done) Clean up release notes, including adding list of renamed packages, and move to wiki.

### Function components

Go back through function component conversion PRs from before we were updating the release notes as carefully, and add anything that was missed. Most of this can be determined from looking at API files (though not everything).

We should also figure out and include whi

[2020-08-21 22:59] fealkhou opened #14704 "zoom icons are needed for Teams"
#### Describe the feature that you would like added

Teams' lightbox needs to display zoom in/out/fit icons, we don't have these icons yet in react-icons-northstar. These icons are copied as is from react-icons

#### What component or utility would this be added to

react-icons-northstar

#### Have you discussed this feature with our team, and if so, who

No

#### Additional context/screenshots

[2020-08-21 23:08] khmakoto opened #14706 "DetailsList: React warning thrown in scenarios that have state changes on selection change"
### Environment Information

- **Package version(s)**: 7.130.0
- **Browser and OS versions**: Chrome, Edge Chromium

### Please provide a reproduction of the bug in a codepen:

The React warning `Cannot update a component state inside another` is being thrown by the `DetailsList` component in scenarios that have state changes on selection change. This happens because we trigger selection change if

[2020-08-24 00:00] #14609 closed

[2020-08-24 01:29] DavidUM commented on #14589
Hi @khmakoto
I am also facing this issue. More preciously it is working slowly. Very slowly.
Collapsing or Expanding action occurs after 10 or more seconds.

[2020-08-24 02:29] smhigley commented on #14611
Could be solved with `aria-current="date"` on the button

[2020-08-24 05:27] shivasai09 commented on #14502
@khmakoto

 yes you are correct.

the problem is in 16px.  `lock`  symbol  don't have clear  border. it seems to be blurry. if you increase the since the the `lock` symbol look perfect with clear  neat borders

you can close if it is by design. but i feel it shouldn't be. not only this icon, but any icon which have this  type background of color, and if there is something on top of that background

[2020-08-24 06:36] Payne-Yan commented on #14461
@smhigley I submitted the axe-core GitHub issue and waited for their reply. Is it an axe-core problem?

[2020-08-24 08:31] Kesshi opened #14711 "Typescript 4.0 Error: Type 'ITextFieldStyles' recursively references itself as a base type."
### Environment Information

- **Package version(s)**: 7.130.0

#### Actual behavior:

I just tried to upgrade my project to use Typescript 4.0 but i get the following compile error:

[code]
With Typescript 3.9 there is no error.

#### Expected behavior:

It should compile without errors using Typescript 4.0.

### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested

[2020-08-24 09:57] naveedahmed opened #14712 "Need visual affordance for clickable header in Calendar"
#### Describe the feature that you would like added

The header (that is used to change the year) in the calendar picker is clickable but it does not have any affordance to show that it is clickable. There should be some sort of an icon (or something) that tells the user without interacting with the component that the header is clickable.

#### What component or utility would this be added to

Cal

[2020-08-24 10:11] prerak13 opened #14713 "Carousel css not working in sharepoint spfx environment"
### Environment Information

- **Package version(s)**: (fill this out) 0.51
- **Browser and OS versions**: (fill this out if relevant) Windows10, Chrome

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
Please refer screen shot

#### Expected behavior:
https://fluentsite.z22.web.core.windows.net/components/carousel/definition#variations-carousel-thumbnails-example

[2020-08-24 10:12] prerak13 commented on #14713
I am using @fluentui/react-northstar carousal component [link](https://fluentsite.z22.web.core.windows.net/components/carousel/definition?showCode=false&showRtl=false&showTransparent=false&showVariables=false#variations-carousel-thumbnails-example). it seems solution for my problem, but while loading it in spfx its not taking any default css or such. My webpart is simply showing images in vertical

[2020-08-24 11:49] dotnetjunky commented on #14711
I had the same problem. The fix is to change `ITextFieldStyles` to _not_ inherit from `IStyleSet<ITextFieldStyles>`. It's redundant. Everything still builds fine without it.

[2020-08-24 14:32] layershifter commented on #13065
@Akaprog thanks for reporting, will be fixed in #14717 👍

[2020-08-24 15:39] paulgildea commented on #14704
@jurokapsiar FYI on the PR 😄

[2020-08-24 15:39] #13065 closed

[2020-08-24 15:47] paulgildea commented on #14711
@Kesshi Thanks for the feedback.

@dotnetjunky Thanks for the workaround

@khmakoto / @dzearing  What's our current Typescript we support right now - Let's follow up on how we can list out our current dependencies to help set expectations if folks decide to take dependencies on libraries that we don't officially support yet. I looked at the yarn.lock file it said 3.9.7

[2020-08-24 15:49] paulgildea commented on #14712
@naveedahmed Thanks for the feedback.

I'm going to add this to our backlog but to set expectations we are converging our component libraries and I don't have any timelines to share when we will be focusing on DateTime. We will take this feedback as input when we provide updates.

Thanks!

[2020-08-24 15:50] paulgildea commented on #14712
@lorejoh12 as FYI

[2020-08-24 15:51] paulgildea commented on #14713
@prerak13 Thanks for the feedback!

[2020-08-24 16:24] paulgildea commented on #14635
Waiting on codepen.

[2020-08-24 16:54] #14622 closed

[2020-08-24 17:20] thure opened #14720 "TreeItem’s selectionIndicator needs to be unhidden or unhide-able"
### Environment Information

- **Package version(s)**: `@fluentui/react-northstar@0.51.0`
- **Browser and OS versions**: all

### Describe the issue:

TreeItems which are parents hide their selection indicators when they are collapsed. This is not coherent with [WCAG guideline 1.3](https://www.w3.org/TR/WCAG20/#content-structure-separation) which states “Create content that can be presented in dif

[2020-08-24 17:32] hraz-msft commented on #14622
Hi @dzearing, I saw that the PR was merged! 😄

When it will be released as npm package?

[2020-08-24 17:33] thure opened #14721 "Toolbar’s overflowItem does not apply positioning props when provided"
### Environment Information

- **Package version(s)**: `@fluentui/react-northstar@0.51.0`
- **Browser and OS versions**: all

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/32ho2

#### Actual behavior:

Typechecks for `menu: { offset: [0, 4], position: 'below' }` in the `overflowItem` prop pass, but the menu will still display above the invoker and offset does

[2020-08-24 18:00] #14659 closed

[2020-08-24 18:01] OmarMustafa commented on #13309
Hi @ecraig12345 can you please let me know if this is planned to be fixed any time soon, or if there's a work around?
This issue is causing A11ySev2 bugs to be filed against every team that uses <TextField />.
Thanks!

[2020-08-24 18:40] maidang opened #14722 "onRestoreFocus override does not work when focus is on ContextualMenu container"
### Environment Information

- **Package version(s)**: All
- **Browser and OS versions**: All

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/mdster90/pen/yLOaNMj

Following up on the recent [onRestoreFocus ](https://github.com/microsoft/fluentui/pull/14351) override change, I've observed that even when this override is set, it does not reset focus in the ContextualM

[2020-08-24 19:07] khmakoto commented on #14461
Yes, that seems to be the case.

[2020-08-24 19:13] smhigley commented on #14461
Yes, though it's slightly complicated by ARIA 1.2 still being a Working Draft and not a full recommendation. I still think axe-core should remove that required children combobox rule, though. The justifications would be:
- Even though the 1.2 spec is not a recommendation yet, the new combobox pattern is pretty set in stone at this point
- The browser/screen reader support for the 1.2 pattern is al

[2020-08-24 19:15] dzearing commented on #14622
Overnight at 3am.

[2020-08-24 19:18] dzearing commented on #14711
TypeScript 3.7 and above is our current support matrix. 4.0 just released and it sounds like once again the TS changes are exposing new problems, which overall is a good thing but is certainly disruptive for all.

We should jump on this one and remove the extends, as @dotnetjunky suggested. There's no reason I see as to why this was there.

[2020-08-24 19:22] dzearing commented on #14711
At one point I believe we had validation that would validate the current version against multiple versions of TypeScript, but I don't know what happened to this or where errors are reported. Will ping some folks why we're not seeing these sooner.

[2020-08-24 20:31] cchengt commented on #14591
Could somewhere be using {} as a dictionary for the options keys? {} contains "constructor" from Object.prototype.

[2020-08-24 21:51] MLoughry commented on #14320
`useResponsiveMode` requires a DOM ref, which leaves us back at the same situation we were before: either the component needs to provide us this DOM ref, or use `findDOMNode` 😔

[2020-08-24 21:58] #14604 closed

[2020-08-24 22:45] khmakoto commented on #14654
@zeqiu-mirage like @smhigley said I think this would be up to a wrapper on the user's side to deal with and not something we should do at the component library layer.

[2020-08-24 23:34] joschect commented on #14722
@maidang I think that onRestoreFocus's documentation might be a little off. Its main purpose is to restore focus to an element on the page that _had_ focus when the menu was opened, not to restore focus within the contextualMenu.

This has been a behavior that the focus zone has done for a while. @dzearing might have some thoughts as to if it's time to add a prop to the focus zone to reset the "ne

[2020-08-24 23:45] #14188 closed

[2020-08-25 00:51] KeiraYang commented on #14103
Hi @lorejoh12. Is there update on this bug? We're facing the same issue on it. Thanks!

[2020-08-25 03:07] yanbxice commented on #14611
@smhigley which button do you mean to add aria-current attribute? Looks like I can't access any button in datepicker.

[2020-08-25 03:46] cschlechty commented on #14608
I believe this is the design of the screen reader. These counts are giving extra context to the user in a specific mode, forcing these counts into another mode via hackery is counterproductive. If the controls are using semantic markup, the screenreader will interpret it appropriately. This issue is trying to change the screenreader behavior.

[2020-08-25 05:00] #14462 closed

[2020-08-25 05:57] Payne-Yan commented on #14464
@lorejoh12 Regarding this issue, how are you going to fix it?

[2020-08-25 06:20] ChristianOlsson opened #14729 "DetailsList renders incorrect header width when DetailsListLayoutMode.fixedColumns is used (DetailsHeader does not respect rowWidth)"
### Environment Information

- **Package version(s)**: Latest office-ui-fabric-react v7.130.0
- **Browser and OS versions**: any

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/christianolsson/pen/BaKpvJG?editors=0010

#### Actual behavior:
DetailsList can be used in two modes; DetailsListLayoutMode.fixedColumns and DetailsListLayoutMode.justified. When used as Detai

[2020-08-25 06:28] Payne-Yan commented on #14461
@smhigley Their answer:
![image](https://user-images.githubusercontent.com/69501015/91130873-f1ad0e00-e6de-11ea-9b71-902ea36b99c3.png)

axe-core issue: https://github.com/dequelabs/axe-core/issues/2478

[2020-08-25 08:14] shivasai09 opened #14732 "we should make legends focusable by default"
right now the legends are not focusable in the charting library until we set  the respective prop to true. but it should have default true.

[2020-08-25 14:39] alexanderby opened #14735 "merge-styles interferes with Dark Reader in Dynamic mode"
### Environment Information

- **Package version(s)**: merge-styles@7.4.1

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/alexanderby/pen/abNJJYm

#### Actual behavior:

- The content of the web page is blinking.

- Merge Styles removes Dark Reader's style element, Dark Reader restores it 10 times, then detects a conflict, and repeats in 2 seconds.

#### Expected be

[2020-08-25 15:09] dotnetjunky commented on #14711
Is someone already working on this bug?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: David Zearing <notifications@github.com>
Sent: Monday, August 24, 2020 12:23:04 PM
To: microsoft/fluentui <fluentui@noreply.github.com>
Cc: Luan Nguyen (LUAN THE BROKEN) <Luan.Nguyen@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/fluentui] Ty

[2020-08-25 15:17] agg23 opened #14736 "CommandBar violates aria-required-children"
### Environment Information

- **Package version(s)**: ^7.131.0
- **Browser and OS versions**: Google Chrome 84.0.4147.135, Windows 10 2004

### Describe the issue:

Standard consumption of the `CommandBar` component results in the ARIA violation: aria-required-children: Ensures elements with an ARIA role that require child roles contain them. This seems to be an extension of #12461, which mention

[2020-08-25 15:28] paulgildea commented on #14722
@maidang Thanks for the feedback!

@joschect Thanks for the context.

@dzearing is this expected behavior or do we need to make an update?

[2020-08-25 15:30] paulgildea commented on #14732
@Raghurk FYI

[2020-08-25 16:06] dzearing commented on #14722
I don't believe `FocusZone` should have a flag to reset the active element on losing focus.

On the `IFocusZone` imperative api surface, the `focus` method takes a boolean to restore focus to the first element. I believe `ContextualMenu` could manage calling this when hidden transitions from true to false. That would ensure that scenarios where the menu is preserved but simply hidden would set the

[2020-08-25 16:06] paulgildea commented on #14735
@alexanderby Thanks for the feedback.

At first glance, it sounds like this extension manipulates styles without the knowledge of the application which could lead to unexpected behavior. I just applied the extension while looking at something like gmail and some of my UI actually disappeared.

I think the goal of the extension is awesome because it's providing users with customizations to serve th

[2020-08-25 16:08] paulgildea commented on #14736
@smhigley FYI

[2020-08-25 16:08] paulgildea commented on #14736
@agg23 Thanks for the feedback!

[2020-08-25 16:15] Gusted commented on #14735
That could be fixed by a refresh as especially Gmail is pretty heavy in CSS and could lead to that kind of bugs.

Ho, let's not get a misunderstanding right away. We are actually adding a stylesheet element after the original style position with all modified CSS from that style so it won't touch the original style.
Also it's seems to be switching styles the `--sync`(the modified stylesheet with it

[2020-08-25 17:15] #14683 closed

[2020-08-25 17:22] ecraig12345 commented on #14672
@tomi-msft Reminder to fill in details for this issue

[2020-08-25 17:23] ecraig12345 commented on #14667
@dzearing or maybe @khmakoto can you add some more info about this to the description or close if not relevant?

[2020-08-25 17:42] #14103 closed

[2020-08-25 18:01] ecraig12345 commented on #14699
@xugao Reminder to update this with more details.

[2020-08-25 18:05] ecraig12345 commented on #14665
@dzearing Can you fill out this issue with more details, or close if not needed?

[2020-08-25 18:05] ecraig12345 commented on #14662
@dzearing Can you fill out this issue with more details, or close if not needed?

[2020-08-25 18:23] khmakoto commented on #14711
Hey @dotnetjunky yes, I'll have a PR out soon.

[2020-08-25 18:45] dzearing commented on #14735
Hey @Gusted ! This seems like a bug in darkreader's style syncing. Here's what happens:

1. DarkReader is enabled. The darkreader styles are set up.
2. `mergeStyleSets` is called, appending the white body background. A style element is inserted, and the DarkReader sync element correctly updates to render a body background of black.

![image](https://user-images.githubusercontent.com/1110944/912143

[2020-08-25 18:47] dzearing commented on #14735
Tip: to debug this, you can increase the setTimeout to like 20 seconds, so that you have enough time to right click on the `head` element and select "break on subtree modification".

[2020-08-25 18:51] xugao opened #14740 "ThemeProvider v8 pre-beta work"
Split #14661 for work that needs to be done post-snap / pre-beta:
- [x] Mark `Customizer`, `Fabric` as deprecated.
- [x] release notes
- [x] Updates to theme designer (update codepen snippet to use ThemeProvider) v7 theme
- [x] Make sure public APIs from `react-theme-provider` are correct
- [x] Export * from `theme` and `react-theme-provider` package from v8 suite package
- [x] Doc page for `Theme

[2020-08-25 18:53] xugao commented on #14661
closing this one and tracking the remaining work in #14740

[2020-08-25 18:53] #14661 closed

[2020-08-25 19:31] Gusted commented on #14735
Well, I just recreated a case with some *stolen* code from https://github.com/microsoft/fluentui/blob/master/packages/merge-styles/src/Stylesheet.ts#L303 and got [codepen](https://codepen.io/Gusted/pen/gOrmXeL) out of it. And it seems like Merge-Styles just gave it a good reproduce-able case with this weird bug on our side. Seems like back to debugging our code but this time having a good controll

[2020-08-25 19:36] dzearing commented on #14735
No worries @Gusted; please feel free to leverage whatever code helps reduce the issue for you, and let us know if you run into any other issues, happy to help and keep up the good work, your plugin is great! :)

[2020-08-25 19:36] #14735 closed

[2020-08-25 20:26] jeffersoneagley commented on #13760
I just ran into the same issue.

[2020-08-25 20:51] #14711 closed

[2020-08-25 21:43] mizeljko opened #14744 "Ability to have consistent tests for Dropdown items"
Is it possible to have some property passed to Dropdown options in order to be able to select each option? Right now IDropDownOption contains id, but changing it is not reflected in the html produced:
https://codepen.io/mizeljko/pen/xxVqYXY

Would it be possible to have some property (ideally data-automation-id) specified for each of the options?

[2020-08-25 23:00] #14557 closed

[2020-08-25 23:00] #14379 closed

[2020-08-25 23:11] XianghanWang opened #14749 "[Accessibility] Dialog breaks "https://dequeuniversity.com/rules/axe/3.3/aria-hidden-focus?application=axeAPI" rule"
### Environment Information

- **Package version(s)**: 7.130.0
- **Browser and OS versions**: Chrome, Windows 10

When open a dialog, it contains below code which breaks **aria-hidden-focus** rule.

div **aria-hidden="true" tabindex="0"** data-is-visible="true" style="pointer-events: none; position: fixed;"></div

https://codepen.io/pen/?&editable=true=https%3A%2F%2Ffabricweb.z5.web.core.windows.n

[2020-08-25 23:14] XianghanWang commented on #14749
div aria-hidden="true" tabindex="0" data-is-visible="true" style="pointer-events: none; position: fixed;"></div

[2020-08-25 23:31] XianghanWang commented on #14749
The code is in packages\office-ui-fabric-react\src\components\FocusTrapZone\FocusTrapZone.tsx

    const bumperProps = {
      **'aria-hidden': true,**
      style: {
        pointerEvents: 'none',
        position: 'fixed', // 'fixed' prevents browsers from scrolling to bumpers when viewport does not contain them
      },
      **tabIndex: disabled ? -1 : 0, // make bumpers tabbable only when ena

[2020-08-26 06:10] malmil opened #14752 "MaskedTextField with mask overwrites characters to the right"
### Environment Information

- **Package version(s)**: office-ui-fabric-react 7.129.1
- **Browser and OS versions**: Chrome

### Codesandbox:

https://codesandbox.io/s/keen-sunset-khegc?file=/src/App.js

My code is essentially just:

[code]

#### Actual behavior:

If I type 12345 and set the cursor between 3 and 4 and start typing this will overwrite the 4 and 5.
Eg. I write 77 the output will be

[2020-08-26 06:45] jurokapsiar commented on #14713
Hi, thank you for reaching to us. Looks like in your code you are missing <Provider /> component which is used to inject styles. Please follow [quick start guide](https://fluentsite.z22.web.core.windows.net/quick-start), that should fix your problem.

[2020-08-26 06:45] #14713 closed

[2020-08-26 09:47] WilcoFiers commented on #14461
@smhigley Do you have any data to show support for either pattern? If you're right about this, that's definitely something we should change in axe-core.

I do think there are some issues with how the data picker is implemented. Users need `aria-haspopup="modal"` so that screen readers can provide the correct instructions on how to interact with it, and aria-controls should be assigned to the actua

[2020-08-26 14:10] shivasai09 opened #14759 "hover card is not getting dismissed on page scroll"
### Environment Information

- **Package version(s)**: all the versions
- **Browser and OS versions**: all the browser

### Describe the issue:

please go the reproduction url.

step1. via keyboard try to get the focus on the `hover button`
step 2. press `enter` key
step 3. you will notice that the hover card will get opened. now slowly scroll the page down

after the step 3, you will observe that

[2020-08-26 15:55] paulgildea commented on #14744
@mizeljko Could you provide a little more context on the solution you are building out?

Is it that you want to create automated tests that can automate selection of items in a `Dropdown` ?

[2020-08-26 16:01] paulgildea commented on #14749
@smhigley FYI

[2020-08-26 16:05] paulgildea commented on #14752
@malmil Thanks for the feedback!

[2020-08-26 16:10] paulgildea commented on #14759
@shivasai09 Thanks for the super thorough repo and video. This is super helpful for us because it speeds up reproducing the behavior on our side. Thanks!

[2020-08-26 16:12] michaeldera opened #14760 "Tooltip onhover of DetailsList item."
#### Describe the feature that you would like added

I would like for an item in a DetailsList to show a tooltip when there isn't enough space to be fully visible. It allows the content on the cell to be read without the need to increase the size.

#### What component or utility would this be added to
- **DetailsList Component**  and all components based off it.
- GroupedList has also been request

[2020-08-26 16:13] paulgildea commented on #14735
@Gusted Thanks for reaching out in the first place! Glad @dzearing could help!

[2020-08-26 16:32] joschect opened #14761 "Remove finddomnode from withResponsiveMode"

[2020-08-26 16:32] #14761 closed

[2020-08-26 17:03] #14732 closed

[2020-08-26 17:03] #14626 closed

[2020-08-26 17:13] dzearing commented on #14622
@hraz-msft

Example usage here:

https://codesandbox.io/s/fluent-ui-themeprovider-and-makestyles-example-d84my

This was released in the @fluentui/react-theme-provider package. Should work with existing theme via loadTheme or with Customizer provided themes. Please let us know if you run into any issues (feel free to reach out on Teams.)

[2020-08-26 17:25] hraz-msft commented on #14622
Thanks @dzearing, I will integrate it to my project tomorrow morning! Thank you for the update and the rapid development!

[2020-08-26 20:14] Alex1100 commented on #13379
I am currently building this out for my team at Microsoft. If you're part of the FluentUI core team at Microsoft, please message me on Teams at Alexander Aleksanyan.

I'd be glad to help the team contribute however I can.

@ecraig12345

[2020-08-26 20:23] mizeljko commented on #14744
Yes. I have a Dropdown element that I need to test by firstst clicking to open the list, and then clicking again on a particular item on the list. I am currently doing this by specifying id for DropDown and then clicking the list itself and each of the items using that id and suffixes ("-option" or "-list0").

However I would like have a way that will not be dependent on order or text of each opti

[2020-08-26 21:10] zulaica commented on #13293
Setting `calloutMaxHeight` is a nice workaround (thank you! 🙏 ), but I'd also appreciate a `reposition` boolean or something similar that would then dynamically set the height of the Callout based on position and available viewport space.

[2020-08-26 22:09] zulaica commented on #13293
Never mind! `directionalHintFixed` is the prop I was looking for.

[code]

[2020-08-26 22:23] Dalimil commented on #12565
@joschect Any updates on this? We would need to limit our users from moving dialogs off-screen.

[2020-08-27 03:44] yanbxice opened #14775 "onClick not working for commandbar buttons"
### Environment Information

- **Package version(s)**: office-ui-fabric-react 7.125.0
- **Browser and OS versions**: Chrome, Edge

### Please provide a reproduction of the bug in a codepen:

I'm using ICommandBarItemProps to create command bar buttons. ICommandBarItemProps extends IContextualMenuItem which has an onClick event handler exposed. I'm trying to do something when the command bar button

[2020-08-27 06:01] smhigley commented on #14461
@WilcoFiers If you don't mind, I'm going to answer this over in the axe-core thread, since it's not specific to Fluent :)

[2020-08-27 08:28] zeedomD opened #14776 "BasePicker component should support customizing RemoveButton aria label for each item."
### Environment Information

- **Package version(s)**: 7.131.0
- **Browser and OS versions**: Not Related

### Describe the issue:

BasePicker already provide an API “RemoveButtonAriaLabel” for Screen reader when focusing on the "Remove Button" on a Picked Item.
But we think it would be better to make it customizable based on each item. So that we can make the aria label like "Remove XXXXXX".

![i

[2020-08-27 10:01] layershifter opened #14777 ""Provider" with "disableAnimations" breaks fallback values"
### Environment Information

- **Package version(s)**: `@fluentui/react-northstar@0.51.0`
- **Browser and OS versions**: N/A

### Please provide a reproduction of the bug in a codepen:
https://codesandbox.io/s/unruffled-microservice-jq4hq

#### Actual behavior:

`Provider` with `disableAnimations` breaks fallback values.

### Priorities and help requested:

Are you willing to submit a PR to fix? Y

[2020-08-27 10:23] MayuriNaik opened #14779 "A11y_FSM-BookingStatusControl_BookingStatusControl_Screenreader : The screen reader focus moves to the top on accessing "Booking Status" control."
**"[Check out Accessibility Insights!](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-manai%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458847260936&sdata=T26HQfSGOlnuRQdX%2ByXk%2B2bxqgwFvCIVfuboZUWidYY%3D&reserved=0) - Identify accessibility bugs before check-in and make bug fixing fa

[2020-08-27 14:33] #14777 closed

[2020-08-27 16:44] ecraig12345 opened #14783 "Update API docs on docs.microsoft.com"
There's a copy of the OUFR docs at https://docs.microsoft.com/en-us/javascript/api/office-ui-fabric-react which will need some updates for v8:
- [ ] Switch to publishing under `@fluentui/react` package name (v7 and v8 ideally)
- [ ] Ensure the way content is being populated is still correct

(This was previously handled by Vitalie, so we may need to work with him to understand how it's set up.)

[2020-08-27 18:25] jeffersoneagley commented on #11842
+1 on this one, and +1 on the bandaid above.

[2020-08-27 18:30] CampbellOwen commented on #14017
Hi, has there been any update or progress on this issue?

[2020-08-27 19:58] mtsamis2 opened #14788 "ScrollablePane Component: Maximum update depth exceeded error causes page to crash"
### Environment Information

- **Package version(s)**: office-ui-fabric-react 7
- **Browser and OS versions**: Latest version of Chrome on Windows 10
- **Browser must have zoom level set to 80% to replicate this issue!**

### Please provide a reproduction of the bug in a codepen:

Steps to replicate:
1. In the ScrollablePane documentation here:

https://docs.microsoft.com/en-us/javascript/api/exam

[2020-08-27 20:00] #14577 closed

[2020-08-27 21:06] #14541 closed

[2020-08-27 21:22] xugao opened #14789 "Rename package from office-ui-fabric-react to @fluentui/react"
As the Fabric brand has evolved to Fluent UI, we're getting close to a new major release, and as such we have a few things you can help with to prepare to upgrade:

* Rename your dependencies and imports from `office-ui-fabric-react` to `@fluentui/react`
* Fix deep imports if you have them

## Package rename details

We've updated our component package name from `office-ui-fabric-react` to [`@flue

[2020-08-27 22:06] jayantdhawan opened #14790 "Pivot's 'root' styles get applied to the Pivot links and not their root container"
### Environment Information

- **Package version(s)**: 7.105.12
- **Browser and OS versions**: Chrome, Edge Chromium

### Please provide a reproduction of the bug in a codepen: https://codepen.io/jayant9/pen/bGpWxMK

#### Actual behavior:
Styles in the 'root' object for IPivotStyles apply only on the Pivot Links. The Pivot component has a [`<div role="toolbar" {..divProps}>`](https://github.com/mi

[2020-08-27 22:15] ecraig12345 commented on #14789
I already made an issue #14688 to track this, though it's a bit lower-level about the specific work that needs to be done on our end. Wondering if we should merge the two.

[2020-08-27 23:32] #14670 closed

[2020-08-28 00:00] #14654 closed

[2020-08-28 00:21] bcoard opened #14793 "GroupedList items should show a tooltip on hover/focus when truncated"
### Environment Information

- **Browser and OS versions**: All browsers/Windows (presumably all platforms)

### Describe the issue:

Grouped list items can truncate themselves when in confined widths with scrolling disabled. In these cases the control should show a tooltip on hover/focus so the user can get all the information they need about the list item. Currently the user doesn't not get this

[2020-08-28 00:25] khmakoto commented on #14775
@dzearing can comment on this one but I think this is by design since the button is already triggering the menu open action on click.

[2020-08-28 01:26] khmakoto commented on #14793
Related to #14760

[2020-08-28 01:50] #14352 closed

[2020-08-28 05:10] KeiraYang opened #14795 "Keyboard focus border right part is not visible in contextual menu item."
Repro steps:
1. Visit https://developer.microsoft.com/en-us/fluentui#/controls/web/contextualmenu
2. Use keyboard to open the contextual menu example.
3. Use keyboard to access each item. Observe the issue. The focus border right part is not visible.

![image](https://user-images.githubusercontent.com/28148759/91523636-d97ffd80-e92f-11ea-9e58-3afa04b0957b.png)

[2020-08-28 12:34] layershifter opened #14800 "Popup not properly handles click inside"
### Environment Information

- **Package version(s)**: `@fluentui/react-northstar@0.51.0`
- **Browser and OS versions**: N/A

CSB: https://codesandbox.io/s/flamboyant-yalow-8vjey
![popup-bug](https://user-images.githubusercontent.com/14183168/91561228-84e27f80-e93b-11ea-9dcf-890fa9fc6bfb.gif)

#### Actual behavior:

1. Hover a button
2. Click on a button
3. Click on green background
4. 🟥 Popup was

[2020-08-28 15:16] paulgildea commented on #14776
@zeedomD Thanks for the feedback!

Sounds like this more a feature request rather than an unexpected behavioral issue with the current Picker API.  mark this as a feature request and add it to our backlog, but I don't have any timelines to share at this time as we've been focused on converging our two react libraries. We'll take this at input when we start to converge our `Picker` solutions.

@jos

[2020-08-28 15:26] paulgildea commented on #14779
@MayuriNaik Thanks for the feedback.

Do you happen to have a reduced reproduction that doesn't require Field Service Mobile application? For example can this behavior be reproduced in a webpage that just contains the singular control? This will help us reduce the debugging complexity to understand if this is an fundamental control issue or focus management on the app side.

Thanks!

[2020-08-28 15:27] paulgildea commented on #14779
Also any specific versions of the library so that we can understand if there was a recent regression.

[2020-08-28 15:30] paulgildea commented on #14788
@mtsamis2 Thanks for the feedback.

@dzearing - Do we have any specific support for fundamentally supporting arbitrary zoom levels? Strange this happens at 80% zoom.

[2020-08-28 15:41] paulgildea commented on #14790
@jayantdhawan Thanks for the feedback.

I'm inclined to mark this as by Design because if we were to change the style mappings at this point it would be a considerable breaking change.

@behowell / @khmakoto - Do you have any potential work arounds that would allow someone to target the parent container so that percentage based sizing could be preserved? Also if you think an additive API approach

[2020-08-28 15:53] paulgildea commented on #14795
@KeiraYang Thanks for the feedback!

Could you provide what platform and browser you are seeing the issue in? I'd like to understand if this is a recent regression - Thanks!

I'm using:
Edge - Version 84.0.522.63 (Official build) (64-bit)
macOS Catalina 10.15.4
And this what I see... 😕
![image](https://user-images.githubusercontent.com/33229964/91587097-269da880-e90b-11ea-961b-41139e00880f.png)

[2020-08-28 17:16] emkessle opened #14802 "onRenderSubMenu doesn't work for first level menu"
### Environment Information

- **Package version(s)**:
- **Browser and OS versions**: All

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/jdh-msft/pen/PMRZmZ?editors=0011

#### Actual behavior:
"render sub menu 0" never prints

#### Expected behavior:
"render sub menu 0" prints when the submenu is opened

### Priorities and help requested:

Are you willing to submit

[2020-08-28 17:31] jayantdhawan commented on #14790
A work around I found was to wrap the `Pivot` component under another element, and use the child selector `> div` on the wrapping element to target the Pivot's root div. A change to the element structure in Pivot component might break this workaround.

[2020-08-28 19:36] khmakoto commented on #14790
Hey @jayantdhawan, thanks for filing this issue!

@paulgildea I think it's fair to mark this by design for now and take this into account as we move forward with our component revamps.

Another workaround is to pass a `className` to the `Pivot` with the styling as this will be passed as part of `divProps`. You can see an example of this in [this codepen](https://codepen.io/khmakoto/pen/OJNgNwq?edi

[2020-08-28 19:49] khmakoto commented on #14744
Hi @mizeljko, thanks for filing this issue. I wanted to make sure you knew that a `data` prop exist on the `IDropdownOption` type that is typed as `any` so you can potentially do what you want here with that. Let me know if that helps!

[2020-08-28 20:21] reijam opened #14805 "commandbar accessiblity"
see attached images

![image](https://user-images.githubusercontent.com/63465532/91611938-36c87e80-e931-11ea-8a73-0c5e278a1a05.png)
![image](https://user-images.githubusercontent.com/63465532/91612003-55c71080-e931-11ea-9272-2957d27d6a2c.png)

package.json
[code]

[2020-08-28 22:54] khmakoto commented on #14461
Thanks for all your support @smhigley!

[2020-08-28 23:27] davvit opened #14808 "Importing bootstrap breaks ChoiceGroup with image."
### Environment Information

- **Package version(s)**:
    "@fluentui/react": "^7.132.0",
    "@uifabric/example-data": "^7.1.3",
    "@uifabric/react-cards": "^0.111.4",
    "react": "^16.8.6",
- **Browser and OS versions**:
   "electron": "^9.2.0",

### Please provide a reproduction of the bug in a codepen:
Importing bootstrap breaks ChoiceGroup css.
Upon selection flicker happens, also the box

[2020-08-29 02:22] joschect commented on #14614
@paulgildea This appears to be expected behavior. There are explicit checks to automatically select an option if focus is lost, even if it's a multiselect. @jspurlin do you have any insight as to the expected behavior? We can remove that blur autoselect, which I think makes the most sense, but that could be seen as a breaking change depending.

[2020-08-29 03:48] #14790 closed

[2020-08-29 03:52] mbest opened #14811 "Recent charting change formats single digits as x.x"
### Environment Information

charting 3.1.4

### Please provide a reproduction of the bug in a codepen:

sample groupedverticalbarchart--grouped-vertical-bar-chart-styled-example is a good one

![image](https://user-images.githubusercontent.com/1230364/91627949-2f749580-e970-11ea-9dbc-3efc32d05285.png)

#### Actual behavior:

Single digit y-axis values formatted as x.x

#### Expected behavior:

Si

[2020-08-29 03:52] mbest commented on #14811
See https://github.com/microsoft/fluentui/pull/14657#issuecomment-683183146

[2020-08-29 05:53] #14205 closed

[2020-08-29 06:00] #14608 closed

[2020-08-29 12:52] arshia11d opened #14812 "Value of the `fluent-text-field` custom element"
### Actual behavior
Setting `value` attribute of the `fluent-text-field` web component does not set the `value` property of the component object.

### Expected behavior:
It should react to attribute changes and map the `value` attribute to its backing JS property.

### Priorities and help requested:
Are you willing to submit a PR to fix? No
Requested priority: High

### Products affected
**Fluent

[2020-08-29 14:59] gencer opened #14813 "loadTheme started to gives an error on latest version `'fonts.tiny' are incompatible between these types.`"
# Environment Information

- **Package version(s)**: 7.133.0
- **Browser and OS versions**: Edge 83

### Please provide a reproduction of the bug in a codepen:

At the moment im unable to provide a pen here. But will sure if you cannot reproduce.

[code]

This was working a day ago which before we bumped FluentUI to `7.133.0`

#### Actual behavior:

Error:

[code]

#### Expected behavior:

Should

[2020-08-29 15:21] gencer commented on #14813
Totally false alarm. Removing node_modules and reinstall solved the problem. Something wasn't right.

Sorry for the false alarm :)

[2020-08-29 15:21] #14813 closed

[2020-08-29 23:00] #14635 closed

[2020-08-31 04:56] Lilian1331 commented on #14380
Ys! It works for me! Thanks!

[2020-08-31 06:00] #14775 closed

[2020-08-31 07:30] Faisal-developer opened #14814 "Fabric version updation."
I am using office-ui-fabric-react": "6.112.0" and now I want to upgrade it to latest version. Now its renamed to FluentUI.

Questions:
1) Which one to use now ? Should I update  "office-ui-fabric-react"  to latest version (7.130.0) or use FluentUI?

2)What if I update "office-ui-fabric-react" to latest version instead of using FluentUI? Will you be giving updated on "office-ui-fabric-react"?

[2020-08-31 10:57] Gerhut opened #14819 "<Fabric> component does not apply custom root styles"
### Environment Information

- **Package version(s)**: 7.132.0
- **Browser and OS versions**: Edge 85.0.564.41 / Windows 10

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/Gerhut/pen/YzqxwMp?editors=0010

#### Actual behavior:

White background

#### Expected behavior:

Red background

### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

R

[2020-08-31 15:53] paulgildea commented on #14802
@emkessle Thanks for the feedback. Could you provide a little more context on what you are trying to achieve? I'm assuming that you want to pass a fully custom `ContextMenu` to the CommandBar? Is there something that's not meeting your needs outside of the level of customization from the API today?

@joschect - If you have any ideas here.

[2020-08-31 15:56] paulgildea commented on #14805
@reijam Thanks for the feedback.

Could you provide more information for a reproduction? Possibly link to a codepen? That would help our team understand if this is a recent regression.

Thanks!

[2020-08-31 16:09] paulgildea commented on #14808
@davvit Thanks for the feedback. Just to double check - this behavior only happens when Bootstrap is included in your project as well?

@dzearing - Have we made any historical statements of support of having both Fluent UI React and Bootstrap being used together?

My hunch is that when Bootstrap is included it's overriding styles on primitive HTML elements which the component might not expect.

@k

[2020-08-31 16:11] paulgildea commented on #14811
@mbest Thanks for the feedback.

@Raghurk FYI 👍

[2020-08-31 16:13] paulgildea commented on #14812
@arshia11d Thanks for the feedback.

@chrisdholt FYI 👍

[2020-08-31 16:30] paulgildea commented on #14814
@Faisal-developer Thanks for the feedback!

You can check out the FAQ on the package naming: https://github.com/microsoft/fluentui/wiki/FAQ---Fabric-and-Stardust-to-Fluent-UI

If you can move the the new package name for your project at this time I'd recommend moving to the new package name: @fluentui/react. This will help with migrating in the future. If it's not possible to update your imports,

[2020-08-31 16:33] dzearing commented on #14808
Here's what's happening:

bootstrap defines this:

[code]

This affects everything on the page. I might argue that's a bad pattern to apply page-wide resets, but I would also argue that box-sizing being anything besides border-box is just as terrible as Times New Roman being the default font family.

The particular ChoiceGroup variant doesn't play well with this reset. Recommend that we clean up t

[2020-08-31 18:04] chrisdholt commented on #14812
Thanks @arshia11d - I believe this was fixed with this commit: https://github.com/microsoft/fast/commit/ccba229c6c1133485d0fac92eae88cb3a6369495#diff-681a29d04cd982801e4204cc22bc7360

FAST just had a new release last week - we'll get the packages updated and we can see if the issue still persists.

[2020-08-31 20:02] dzearing commented on #14819
This is a very simple bug. I see Fabric.base is passing in the getStyles function into getClassNames. This should be `props.styles`.

[2020-08-31 20:32] ecraig12345 commented on #14688
Closing in favor of #14789

[2020-08-31 20:32] #14688 closed

[2020-08-31 21:14] ecraig12345 commented on #12770
For anyone interested, we've just updated the issue with the current plan including a specific release timeline.

[2020-08-31 21:17] ecraig12345 commented on #4613
#12770 has just been updated with details on our version 8 plan and timelines. Strict mode compliance will be one of the major features.

[2020-08-31 21:27] #14819 closed

[2020-08-31 21:50] reijam commented on #14805
if you look at the picture carefully you will see that all the answers are there. Hence the image...

if you look at the package.json it has all the version numbers

[2020-08-31 21:52] #14320 closed

[2020-08-31 22:53] roeap opened #14832 "Disappearing Dropdown when using next.js production build"
### Environment Information

- **Package version(s)**: 7.133.0
- **Browser and OS versions**: Win 10, Firefox 80.0

### Please provide a reproduction of the bug in a codepen:

Unfortunately I don't see a straight forward way to reproduce the issue, but will certainly try if I can be provided with some guidance on how.

#### Actual behavior:
We are using Fluent UI with next.js and followed the inst

[2020-09-01 04:59] KeiraYang commented on #14795
Hi @paulgildea . I found the issue when using Windows + Edge Chromium. Thanks to take a look!

[2020-09-01 05:40] ManuRodgers opened #14838 "How to trigger the onSelectDate event in DatePicker in test environment(Jest and React Testing Library) with fireEvent method provided by React Testing Library ?"
Currently, I can click on the input element to open the role of dialog, but I tried to use fireEvent.select(DialogElement) or fireEvent.change(DialogElement) to  trigger the onSelectDate event in DatePicker, but I failed. So I am here to ask you guys how to trigger the onSelectDate event in DatePicker under test environment. Thanks a lot

[2020-09-01 05:49] ManuRodgers commented on #14838
solved my colleague

[2020-09-01 05:49] #14838 closed

[2020-09-01 06:19] davvit commented on #14808
@paulgildea yes it only happens when i added bootstrap. box-sizing from bootstrap is the issue as @dzearing stated.

I completely understand the css clash when multiple libraries are in use. I thought maybe adding !important to known problem properties like box-sizing could fix it here in fluent.

@dzearing i like the sticking to flexbox idea.

[2020-09-01 06:20] dzearing commented on #14808
@khmakoto Were you already in progress of fixing this one?

[2020-09-01 08:54] arshia11d commented on #14812
Thanks @chrisdholt
Excited to play around with new versions and test furthur possibilities with fast Web Components and their integration with Blazor

[2020-09-01 09:05] layershifter commented on #14449
@kenotron it seems that all things from v0 side are done there. Is there something that we need to change?

[2020-09-01 15:18] khmakoto commented on #14808
@dzearing I hadn't really started.

[2020-09-01 15:19] #14611 closed

[2020-09-01 16:04] PurpleGranite commented on #14805
I came here specifically to report accessibility issues with the Command Bar - so glad to see an existing issue open.

Something has changed recently, though I can't put my finger on exactly when, as I first spotted the change in SharePoint Online rather than in my own code.

Sometime in the last few weeks, SharePoint Online has picked up a new version of the controls where the background to the C

[2020-09-01 17:18] dzearing commented on #14373
We've agreed on a few things:

1. `as` should control the top level root element type by default.
2. component slots should be defined in a separate `slots` prop, not using `as`.
3. `as` prop should be up to the slot renderer's props.

[2020-09-01 17:20] paulgildea commented on #14832
@roeap Thanks for the feedback!

@dzearing adding for next.js supports
@joschect for `ContextMenu`

[2020-09-01 17:26] dzearing commented on #14832
@roeap would it be possible for you to gather up a repro project setup ? That'd really help to investigate and make sure we're hitting what you are.

[2020-09-01 17:44] #14373 closed

[2020-09-01 17:45] dzearing commented on #14366
`mappedProp` handling still pending.

[2020-09-01 17:48] dzearing commented on #14365
So far, the mutable draft state has been very useful and performant. However, we may want to use a hook naming convention to separate hooks which operate in this manner.

The integration works very similarly to "mixins" of the past. Another common term is "behaviors".

[code]

[2020-09-01 19:00] #14814 closed

[2020-09-01 19:13] chrisdholt commented on #14812
@arshia11d The new packages have been published (v1.8.0) which updates the dependencies for the WC's and should *hopefully* resolve the value issue you were seeing. Please let me know if this is still an issue after updating :)

[2020-09-01 19:35] nagisa1993 opened #14850 "DatePicker will automatically popup calendar if it's in a showCloseButton = false Dialog"
### Environment Information

- **Package version(s)**: 7.69.0
- **Browser and OS versions**: new Edge Version 85.0.564.41 (Official build) (64-bit)

### Please provide a reproduction of the bug in a codepen: https://codepen.io/Nagisa1130/pen/QWNqWNL

#### Actual behavior: When I set showCloseButton = false for Dialog, the DatePicker inside the Dialog will automatically open the calendar when Dialo

[2020-09-01 19:37] #14318 closed

[2020-09-01 20:04] ayuspark commented on #11832
Hi, @khmakoto , wonder if there's an update?
We also have an a11y bug (needs to fix within 60 days back when they were filed).

[2020-09-01 21:07] #14704 closed

[2020-09-02 04:15] Raghurk commented on #14811
unfortunately this is a behavior from D3. We cannot control this. I am open to see if you have a work around

[2020-09-02 04:15] #14811 closed

[2020-09-02 04:59] roeap commented on #14832
@dzearing I created a minimal example [repo](https://github.com/roeap/fluentui-nextjs-repro), which reproduces the issue. I used the basic nextjs app via `yarn create next-app` and added the code for nextjs from the wiki. Then simply adding enough elements to the dropdown, such that it will render to the side of the component. Running this with `yarn dev` works fine. Building it, and then running

[2020-09-02 06:28] Payne-Yan commented on #14461
Could you please solve this issue on the official website first? We can make a reference.

[2020-09-02 06:28] brandonthomas commented on #14736
Also seeing this in admin-controls. Fails Accessibility Insights FastPass test.

![image](https://user-images.githubusercontent.com/7529639/91939517-d330af00-ecaa-11ea-9758-ee8db58d3fb5.png)

[2020-09-02 07:23] mbest commented on #14811
If all charts allow configuring the format, this would be okay. #14830 adds support for configuring the format for `VerticalStackedBarChart`, but not all charts support it yet.

[2020-09-02 07:28] rajnish07 opened #14857 "DetailList : Focus is visible on non-interactive Column Header"
### Environment Information

#url: https://codepen.io/rajnish07/pen/OJNxRdp?editors=0010
- **Browser and OS versions**:
       Windows Version - Win10
       Chromium Edge Version: 85.0.552.1 (Official build) dev (64-bit)
       Chrome Version: 83.0.4103.116 (Official Build) (64-bit)
### Describe the issue:

### Please provide a reproduction of the issue in a codepen:
https://codepen.io/rajnish07/

[2020-09-02 07:31] chce commented on #12863
Which WCAG success criterion is not met here?

[2020-09-02 09:44] arshia11d commented on #14812
Yes, All fixed!

[2020-09-02 09:44] #14812 closed

[2020-09-02 12:43] #14623 closed

[2020-09-02 12:45] pompomon commented on #14511
Unfortunately, `autoFocus` is handled by React and triggers before any Popper modifiers (see https://github.com/microsoft/fluentui/pull/14737/files for more context), thus it's not currently possible to prevent those jumps via modifiers.
Suggested solution is to use `Ref` and set focus explicitly when needed.

[2020-09-02 12:45] #14511 closed

[2020-09-02 12:47] jurokapsiar commented on #14538
fixed in https://github.com/microsoft/fluentui/pull/14525

[2020-09-02 12:47] #14538 closed

[2020-09-02 13:41] dikshantbansal98 commented on #14447
Adding extra layer is not helping at all. Can i know the time by which this feature will be incorporated?

[2020-09-02 14:14] miroslavstastny commented on #14802
`CommandBar` uses `ContextualMenu` component to render any menus.

If you need to customize the first level menu, you can use `onRenderMenuList` prop (see [`ContextualMenu` docs and examples](https://developer.microsoft.com/en-us/fluentui#/controls/web/contextualmenu) for details):

[code]

[2020-09-02 14:59] jurokapsiar commented on #14510
@logan12dec In your codepen you are not using any of the Fluent UI components. Can you please create a sandbox or at least provide code in the comment so that we can see what is implemented? Thanks.

[2020-09-02 15:32] dzearing commented on #14832
Confirmed the behavior:

When running `yarn dev` (dev loop), the dropdown content shows fine.

When running `yarn build` (build prod build) and then `yarn start` (host it), dropping the dropdown briefly shows the content to the right of it, and then immediately dismisses it.

@joschect Do you have ideas here? I thought it was possibly something like the page is scrolling which causes it to dismiss

[2020-09-02 15:57] miroslavstastny commented on #14808
@davvit as a workaround you can set box-sizing for the `ms-ChoiceField-innerField`:

[code]

[2020-09-02 17:49] dzearing commented on #14832
We found it. It's a race of imports.

In your pages/_document.ts, change it to this:

[code]

[2020-09-02 17:52] dzearing commented on #14832
Let us know if that resolves it for you!

[2020-09-02 18:28] roeap commented on #14832
That was quick, and yes, this resolves the issue!

Should we close this, or do you want to attach it to the wiki update PR?

Thanks for the very quick help!

[2020-09-02 19:23] dzearing commented on #14832
I will close but let me update the wiki.

[2020-09-02 19:24] thure opened #14863 "Checkbox: indeterminate state, and theme-able checkmark color & background"
#### Describe the feature that you would like added

It is not currently possible to implement certain features without overriding Checkbox's `backgroundImage` to display the same indeterminate state SVG as used in TreeItem. It’s also not currently possible to adjust the colors of the `backgroundImage` for hover and focus states (it can only be overridden in the normal state). These colors need to

[2020-09-02 19:26] dzearing commented on #14832
I've updated. Thanks for calling it out, happy to help.

[2020-09-02 19:26] #14832 closed

[2020-09-02 20:43] paulgildea opened #14866 "RFC: PasswordBox"
## Component details

### Description

### Which product teams/scenarios need this control

### Design assets

### Component ownership

## Component composition

### Imports/Dependencies

### Exports/Component breakdown

### Intended package/s

## Component code

### Example code

[code]

### Public methods

| Name  | Type       | Description               |
| ----- | ---------- | ----------------

[2020-09-02 20:46] paulgildea opened #14867 "RFC: Dropdown search capability"
## Component details

### Description

### Which product teams/scenarios need this control

### Design assets

### Component ownership

## Component composition

### Imports/Dependencies

### Exports/Component breakdown

### Intended package/s

## Component code

### Example code

[code]

### Public methods

| Name  | Type       | Description               |
| ----- | ---------- | ----------------

[2020-09-02 22:15] emkessle commented on #14802
I'm trying to find a way to close any open sub menus when another event is triggered. I want to use the menuAs function but that doesn't work here and if I try onRenderMenuList, I need to pass in a target for the command bar item but that keeps coming back undefined.

[2020-09-02 23:00] #14779 closed

[2020-09-03 00:00] michaeltreynolds opened #14870 "Wrapping pivot *tabs only* in a '<nav>' landmark"
https://github.com/microsoft/fluentui/blob/12e72defeec4e1c2a6c7326c9cef670f6c2b2a55/packages/office-ui-fabric-react/src/components/Pivot/Pivot.base.tsx#L143

Would like to use an accessibility landmark `<nav>` for just the tab names. I do not want to wrap the whole thing as a visually impaired (but partially seeing) user would see a giant box drawn for the navigation landmark. Do you think it make

[2020-09-03 04:30] dimitropoulos commented on #14299
hey :smile: I noticed that you're working on building a Stepper.  The [react-ui-roundup](https://github.com/dimitropoulos/react-ui-roundup) has a lot of other examples of Steppers that might be interesting or useful points of reference to you while you're developing it for fluent-ui.

https://react-ui-roundup.dimitrimitropoulos.com/#Stepper

[2020-09-03 05:58] shivasai09 opened #14873 "deprecate prop showYAxisGridLines in AreaChart"
in the pr
https://github.com/microsoft/fluentui/pull/14781/files we have removed the prop `showYAxisGridLines`, instead of making it deprecated.

now we need to raise the pr by introducing the same prop and deprecating it

[2020-09-03 07:05] iamrafan commented on #11793
@khmakoto Please let me know if you have any update on this issue?

[2020-09-03 07:55] dikshantbansal98 commented on #14477
We need to launch a website in some days. This accessibility related issue is creating problems. Will this issue be fixed earlier or will take a long time?

[2020-09-03 11:36] latonita opened #14879 "react-northstar/TextArea readOnly attribute does not let user select and copy content"
#### Describe the feature that you would like added

Existing northstart TextArea has readOnly attribute, as it inherits all `<textarea />` attributes, but when used it doesn't let user select/copy content. This works with html textarea.

#### What component or utility would this be added to

fluentui/react-northstar/src/components/TextArea/TextArea.tsx

#### Have you discussed this feature with o

[2020-09-03 15:27] kolaps33 opened #14883 "Fluent UI doc site - User is not able navigate into the component when is filtered"
Repro steps:

1. Navigate to the Fluent UI doc page
http://localhost:8080/
2. Press TAB several times to get into the Search
3. find "button" component
4. press tab /// focus goes into filtered components
5. press enter key on filtered component

Actual: no action happen
Expected: user goes into the component (navigation happens), URL change to this component

Environment:
curently tested from loc

[2020-09-03 16:36] paulgildea commented on #14850
@nagisa1993 Thanks for the feedback!

Looking at the documentation, the `showCloseButton` only controls the visibility of the `DatePicker` close button. I do not believe it controls its default opening behavior.

@lorejoh12 - Could you take a look at the repo to see if what's expected?

[2020-09-03 16:38] paulgildea commented on #14857
@rajnish07 Thanks for the feedback and detailed repo! Super helpful.

[2020-09-03 16:41] mbest commented on #14618
Fixed in #14830

[2020-09-03 16:41] #14618 closed

[2020-09-03 16:47] paulgildea commented on #14870
@michaeltreynolds Could you add some more details on what you are experience you are trying to achieve? Im curious why you are only using the `Pivot` tabs and not using `Pivot` items as well.

@smhigley FYI

[2020-09-03 16:49] paulgildea commented on #14873
@Raghurk FYI

[2020-09-03 16:50] paulgildea commented on #14879
@jurokapsiar FYI

[2020-09-03 17:09] XianghanWang commented on #14805
our team meet same issue. Could we add some simple accessibility tests before submit the code change?

[2020-09-03 18:28] #14685 closed

[2020-09-03 20:27] #14668 closed

[2020-09-03 22:38] ecraig12345 opened #14888 "Convert ComponentConformance and ComponentExamples tests to run with react-conformance"
OUFR's legacy ComponentConformance and ComponentExamples tests could be re-written to run as `extraTests` via `isConformant` from `@fluentui/react-conformance`. The redundant top-level component file test can also be removed.

Since we want these same tests to run across multiple small component packages, it might make sense to put them in the `react-conformance` package but not run them by defaul

[2020-09-04 04:19] shrinidhizzz opened #14891 "The narrator does not announce the name of the checkbox descriptively"
### Environment Information

- Windows Version - Win10
- Chromium Edge Version: 85.0.552.1 (Official Build) dev (64-bit)
- Chrome Version: 83.0.4103.116 (Official Build) (64-bit)
- NVDA Version: 2020.1

### Describe the issue:

### Please provide a reproduction of the issue in a codepen:

Providing an isolated reproduction of the issue in a codepen makes it much easier for us to help you. Here are

[2020-09-04 05:51] shivasai09 commented on #14873
fixed in #14597

[2020-09-04 05:51] #14873 closed

[2020-09-04 05:54] rajnish07 commented on #14857
adding the property {columnActionsMode : ColumnActionsMode.disabled} to the column makes it non-focusable.
And this resolves the issue.

[2020-09-04 05:54] #14857 closed

[2020-09-04 07:46] NewFuture opened #14896 "Shimmer width and height support em and rem"
#### Describe the feature that you would like added

The value of shimmer components only can be set a number (`px`);
How to set it with other units such as `rem`.
[code]

#### What component or utility would this be added to

`Shimmer `

[2020-09-04 08:24] NewFuture opened #14897 "the mouse position line chart hover Callout"
### Environment Information

- **Package version(s)**:  @uifabric/charting: 3.4.0
- **Browser and OS versions**: any

### Please provide a reproduction of the bug :

http://fabricweb.z5.web.core.windows.net/pr-deploy-site/refs/pull/14758/merge/charting/dist/index.html#/examples/linechart

hover the mouse in the line chart near the **LEFT** of a point (say B), the left point (say A) will active.

#

[2020-09-04 08:42] gopalgoel19 opened #14898 "No announcement about 'Today's' date or selected date in the Calendar picker of Date filter is made by narrator."
### Environment Information

- **Package version(s)**: "^7.90.0"
- **Browser and OS versions**: Microsoft Edge on Windows

### Describe the issue:

### Please provide a reproduction of the issue in a codepen:

#### Actual behavior:

Actual Results:
No announcement about 'Today's' date or selected date in the Calendar picker of Date filter is made by narrator. Narrator announces both the dates like

[2020-09-04 09:56] ravi-405 opened #14902 "Persona remove button doesn't have tooltip"
User Experience:
Users who depends on screen reader are facing difficulty as title is not defined for "People picker" remove button.

Repro Steps:
Step 1: Open https://fabricweb.z5.web.core.windows.net/oufr/7.105.2/#/examples/peoplepicker
Step 2: Search for any user in the people picker and select one user.
Step 3: Navigate to "Remove" button in persona and observe the tooltip.

Actual Result:
Clo

[2020-09-04 10:38] belozerovany opened #14904 "The CompactPeoplePicker field shrinks in height a bit when a Persona is selected."
### Environment Information

- **Package version(s)**: (7.0.1)
- **Browser and OS versions**: (all)

### Please provide a reproduction of the bug in a codepen:

codepen: https://codepen.io/belozerovany/pen/LYNzRvY?editors=0010
#### Actual behavior:

The CompactPeoplePicker field shrinks in height a bit when a Persona is selected.

Problem is in {itemLimit=1}. When we set this property div(.ms-Base

[2020-09-04 11:20] hoovercj opened #14906 "Combobox headers not associated with items for screenreader"
### Environment Information

- **Package version(s)**: 7.134.1
- **Browser and OS versions**: Windows 10, Edge 85

### Describe the issue:
Narrator cannot associate Combobox options with their headings like it can for Dropdown options.

In the Dropdown control, when a heading is present, the heading the following items are wrapped in a group which is labelled by the heading item. This pattern is n

[2020-09-04 11:32] hoovercj commented on #14906
I can see that [Dropdown.base.tsx](https://github.com/microsoft/fluentui/blob/master/packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx#L601) processes the list of items to build the groups in its `_onRenderList` function, whereas [ComboBox](https://github.com/microsoft/fluentui/blob/master/packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx#L1318) simply re

[2020-09-04 12:05] jurokapsiar commented on #14537
did you mean to use tabListBehavior to create the tab list? Menu/MenuBar do not really have a concept of selection (see https://www.w3.org/TR/wai-aria-practices-1.1/examples/menubar/menubar-1/menubar-1.html for exmple)

[2020-09-04 15:21] #14434 closed

[2020-09-04 18:21] #14292 closed

[2020-09-04 20:51] cschlechty commented on #14805
This is a result of Accessibility Insights updating their rule set. It doesn't look past the grouping to find the menuitems (or rather checks that the group has the correct children) now. Group isn't valid (according to wai-aria 1.1) unless there's a menuitemradio set. The groups for that and right sections should probably just be removed.

@reijam a quick reminder that not everyone can pull infor

[2020-09-04 21:03] PurpleGranite commented on #14805
Well I'm sorry @cschlechty, I jumped on this as a related issue because in literally every other Microsoft repository on GitHub when I open a new issue, I get shut down as being a duplicate, even when it isn't, or the response is to pass the buck to another team and then everything goes deathly silent - and I've seen it time-and-again for others posting accessibility issues as well.

It actually f

[2020-09-04 21:18] cschlechty commented on #14805
@PurpleGranite we take issues reported seriously. I can't guarantee that it will be resolved to your satisfaction, but as separate issue it can be triaged, tagged, and managed better. There is greater transparency and clarity for all. Putting multiple issues into one often results in one or more issue getting missed or not addressed as the discussions grow.

[2020-09-04 21:18] mbest commented on #14651
In #14912, I made a change to not output entries with zero values. This is a sufficient fix for my needs, but reopen if we need to.

[2020-09-04 21:26] davyrwoo commented on #14537
@jurokapsiar even with the tabListBehavior, NVDA does not say if the menu item is selected or not.

[2020-09-04 23:00] #14744 closed

[2020-09-04 23:45] ilyatum opened #14914 "SearchBox role is hardcoded and can not be changed."
### Environment Information

- **Package version(s)**: 7.128.1

### Describe the issue:

In some cases search box is a part of a larger region with a role 'search'. In this case role of the wrapper for a SearchBox need to be change to 'presentation'. However, setting role attribute on a SearchBox control has no effect, it remains "search" for a wrapper and "searchbox" for input.

Reason is that th

[2020-09-05 19:52] YuanboXue-Amber commented on #14526
Related to #12279, which is a similar issue, but on `input` element, while this issue is on `button`.
The merged fix is to use `outline: 'none'` instead of `outline: 0`, when styling `input` component.
I tried the similar fix on `button`, and it resolves this issue.

To remove this kind of issue for Safari once and for all, I purpose to use `outline: 'none'` [here](https://github.com/microsoft/flu

[2020-09-07 08:54] jurokapsiar opened #14918 "Dropdown/Safari: Scrollbar in input of searchable variants"
### Environment Information

- **Package version(s)**: 0.51
- **Browser and OS versions**: Safari

### Please provide a reproduction of the bug in a codepen:
https://fluentsite.z22.web.core.windows.net/components/dropdown/definition

#### Actual behavior:
After selection, vertical scrollbar appears in searchable variants:
<img width="448" alt="Screenshot 2020-09-07 at 10 53 29" src="https://user-i

[2020-09-07 10:28] emokeeff opened #14920 "DetailsRowFields cells have read only attribute for textfields"
### Environment Information

- **Package version(s)**: office-ui-fabric-react - 7.127.1
- **Browser and OS versions**: Edge

### Describe the issue:

Aria-read only attribute on DetailsRowFields which causes Narrator in scan mode to define cells as read only before reading out the cell value. This should only be used in text fields (inputs) that are read only.

Link to aria read-only attribute in

[2020-09-07 12:21] jameelakowsar opened #14923 "Charting: Refactoring of Vertical stacked bar chart"
#### Refactoring of the Vertical stacked bar chart

1) Need to implement with Cartesian chart and refactoring of the chart.

[2020-09-07 12:24] jameelakowsar opened #14924 "Charting: Refactoring of the area chart."
#### Refactoring of the Area chart

Need to implement Cartesian chart to the area chart
Need to removed d3Select

[2020-09-07 13:00] alnasar opened #14925 "Add componentRef property to Text componenet"
#### Describe the feature that you would like added

add componenet Ref to the Text component

#### What component or utility would this be added to

Text https://developer.microsoft.com/en-us/fluentui#/controls/web/text#ITextProps

#### Additional context/screenshots

i want to be able to focus the text component that tell the user there is no data found for the search query (i know that there is

[2020-09-07 16:39] #14800 closed

[2020-09-07 16:56] abmis-mi opened #14928 "What are primarySet and secondarySet under ICommandBarStyles and how to use them?"
What are primarySet and secondarySet under ICommandBarStyles and how to use them?

[2020-09-07 17:02] abmis-mi opened #14929 "Adjustable width of ListPeoplePicker suggestions"
Is there a property that we can set to ensure the width of the suggestions box is same as the input box width? Combo Box seems to have a property useComboBoxAsMenuWidth but not ListPeoplePicker.

![image](https://user-images.githubusercontent.com/66029786/92408101-23e85200-f15a-11ea-884f-130e3509820f.png)

[2020-09-07 17:35] RishabhTyagiGit opened #14930 "The background move a little when opening a dialog."
When launching the dialog component the entire background content will slightly move to the left.

[2020-09-08 09:19] #14526 closed

[2020-09-08 09:30] AndreaMaffe commented on #8848
I confirm this is an issue for me too. I require the label of a dropdown button to change accordingly to the text of the IContextualItem selected in the menu or in one of the submenus, but the OnItemClick triggers only in the first case.

[2020-09-08 13:01] patilketan888 opened #14936 "How to customize the Fluent ui List control."
How to customize the list items using Fluent UI in Next.js in a list on hover when user click on view more button display the menu in list item please refer and image.
thanks in advance.
![list_FluentUi](https://user-images.githubusercontent.com/33475997/92479683-7e88b900-f201-11ea-8b71-a937e7e5e8e4.png)

[2020-09-08 13:06] miroslavstastny commented on #14928
[`CommandBar`](https://developer.microsoft.com/en-us/fluentui#/controls/web/commandbar) component renders `items` aligned to the start of the `CommandBar`. Besides the required `items` it can also render `farItems` which are aligned to the end.

See the following screenshot, the red rectangle shows `items`, blue one shows `farItems`:
![image](https://user-images.githubusercontent.com/9615899/92479

[2020-09-08 13:14] ravi-405 opened #14937 "Aria-required attribute is not working for picker"
User Experience:
Users who depends on screen reader are facing difficulty as input field is mandatory for "People picker".

Repro Steps:
Step 1: Open https://fabricweb.z5.web.core.windows.net/oufr/7.105.2/#/examples/peoplepicker
Step 2:  Input element(TextField) is not having aria-required attribute even though we send it as prop.

Actual Result:
Input element(TextField) is not having aria-require

[2020-09-08 13:22] abmis-mi commented on #14928
Thanks a lot Miroslav! Wanted to create a control and set default styles as per our project. Was a little confused with the names. But, now it is clear.

[2020-09-08 13:22] #14928 closed

[2020-09-08 14:24] miroslavstastny commented on #14918
In the rendered dropdown, there is an `<input class="ui-dropdown__searchinput__input">` inside a `div`.
There is `height` of `29.96875px` set on the `input`.
The wrapping `div` does not have any height set and is supposed to resize to fit the `input`.

This works as expected in Chrome.

In Safari if the height of the inner input is a decimal number, it is floored - in that case the height of the `

[2020-09-08 14:35] dzearing commented on #13676
No longer applicable - in the hooks model, the caller has the ability to call the parent and/or replace the call on the draft state.

[2020-09-08 14:35] #13676 closed

[2020-09-08 14:35] dzearing commented on #13674
Styles are now merged with `mergeProps`.

[2020-09-08 14:35] #13674 closed

[2020-09-08 14:45] dzearing commented on #13666
This now works:
https://codesandbox.io/s/condescending-shamir-tf3ns?file=/src/App.js

[2020-09-08 14:45] #13666 closed

[2020-09-08 14:48] dzearing commented on #13671
https://codesandbox.io/s/objective-allen-hh7yi?file=/src/App.js

This is now applied.

[code]

[2020-09-08 14:48] #13671 closed

[2020-09-08 14:49] dzearing commented on #13679
This is no longer applicable.

[2020-09-08 14:49] #13679 closed

[2020-09-08 14:53] dzearing commented on #13665
This now works as expected:

https://codesandbox.io/s/aged-feather-gjnf9?file=/src/App.js

These all work, with content taking precedence over children:

[code]

[2020-09-08 14:53] #13665 closed

[2020-09-08 14:54] dzearing commented on #13680
This no longer applies.

[2020-09-08 14:54] #13680 closed

[2020-09-08 14:58] dzearing commented on #14680
All resolved.

[2020-09-08 14:58] #14680 closed

[2020-09-08 15:14] miroslavstastny commented on #14937
@ravi-405 Could you please add a codepen example showing what does not work for you?

In the link you have shared, if I edit the example to add `aria-required` to `inputProps`:

[code]
The `aria-required` is propagated to the `input` element and is correctly recognized in Accessibility Object Model:

![image](https://user-images.githubusercontent.com/9615899/92494964-9e66af80-f1f6-11ea-9924-f19185

[2020-09-08 15:59] paulgildea commented on #14891
@smhigley FYI

@miroslavstastny - This might be an issue with the authored sample less so the `DetailsList` itself - not sure.

@dzearing - What was the expectation on what the `DetailsList` provides by default and what a11y content does the author need to provide?

[2020-09-08 16:00] dzearing commented on #14891
@cschlechty or @ThomasMichon would probably be better to answer that.

[2020-09-08 16:06] paulgildea commented on #14896
@NewFuture Thanks for the feedback!

I’ll mark this as a feature request and add it to our backlog, but to set expectations - we’re likely not going to get to it for a while as we’re currently focused on larger coherence work items. We'll take this into consideration when we converge the `Shimmer` component across our two React packages.

@dzearing - Can this be achieved using styling rather than

[2020-09-08 16:08] paulgildea commented on #14897
@Raghurk FYI

[2020-09-08 16:12] paulgildea commented on #14898
@gopalgoel19 Thanks for the feedback!

@lorejoh12  - This I think is being addressed by this #14806 fix right?

@smhigley FYI

[2020-09-08 16:23] reijam commented on #14805
thanks for the tip did not realize that it was a challenge to copy from image... will fix next time.

[2020-09-08 17:14] #14667 closed

[2020-09-08 17:43] #14660 closed

[2020-09-08 18:46] dzearing commented on #14374
For now we will leave as is; it's unclear there's a better approach.

[2020-09-08 18:46] #14374 closed

[2020-09-08 20:59] #13036 closed

[2020-09-08 21:29] #13124 closed

[2020-09-08 21:34] #14287 closed

[2020-09-08 22:35] ecraig12345 opened #14939 "Add compat exports to v7"
To help partners with migration, we can introduce compat Button export files within v7: `packages/react/src/compat/Button`. It will only be added to `@fluentui/react` (not `office-ui-fabric-react`) to help encourage migration.

[2020-09-08 22:41] JustSlone commented on #14939
If it's reasonable, we should only export the compat export from @fluentui/react not office-ui-fabric-react to help encourage folks to move forward (which they need to for v8 anyway)

[2020-09-08 22:42] JustSlone commented on #14939
Also, we need to provide the codemod to do the rename too. (CC @joschect)

[2020-09-08 23:00] #14870 closed

[2020-09-09 01:18] #14671 closed

[2020-09-09 01:51] rajnish07 opened #14942 "Narrator: The narrator does not announces the link present in Callout content."
#url: https://codepen.io/rajnish07/pen/ZEWrqLa?editors=0010

### Environment Information

Windows Version - Win10
Chromium Edge Version: 85.0.552.1 (Official Build) dev (64-bit)

### Describe the issue:

### Please provide a reproduction of the issue in a codepen:
https://codepen.io/rajnish07/pen/ZEWrqLa?editors=0010

#### Repro Steps

          1. Start the narrator.
          2. Navigate to Show

[2020-09-09 07:07] jurokapsiar commented on #14879
`readOnly` is supported as we by default spread all unhandled props to the root slot element. However, as opposed to pure html `<textarea />` for some reason selection and copying does not work, so keeping this open. I will also modify the issue to reflect that.

[2020-09-09 07:51] miegir opened #14947 "DetailsList onItemInvoked callback should be called when pressing Enter."
In documentation it is said that onItemInvoked is a "Callback for when a given row has been invoked (by pressing enter while it is selected.)" But in reality onItemInvoked is invoked only when the item is double clicked but not when Enter key is pressed. The callback should be invoked when Enter key is pressed (or consider making another callback that is invoked by Enter key).

[2020-09-09 08:31] asit-baran-das opened #14948 "<SearchBox> inside <Sticky> does not work"
### Environment Information

- **Package version(s)**:  I am using "office-ui-fabric-core": "^11.0.0", "office-ui-fabric-react": "7.117.1",
- **Browser and OS versions**: Reproducible in both Edge and Chrome

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/asitbarandas/pen/jOqZJXd

#### Actual behavior:
[NOTE: this codepen is prepared by using "Export to codepen" opti

[2020-09-09 09:33] Faisal-developer opened #14950 "When upgraded to version 7 (FluentUI). Grids stop working."
Previously, everything was working but with updation Grid is not working.Columns are showing in next line instead of coming on same row.

[2020-09-09 12:25] abhishekpatwal opened #14953 "Disabling tab on non interactive lists"
### Environment Information

- **Package version(s)**:  7.134
- **Browser and OS versions**: Browser- Version 85.0.564.44 (Official build) (64-bit) & OS 19041.450

### Describe the issue:

Upon Tabbing through the DetailList component, the Tab passes through the first row in list. This is not needed if the rows are non interactive. As a result the tab resulting in the row selection is redundant, s

[2020-09-09 12:57] Sandhya-aluri commented on #14683
hi @msft-github-bot , we are using fluent/react. i have changed the version as you mentioned to "@fluentui/react": "^7.132.0" , but the change is not applying. still the color of the link without href in high contrast modes is same as not differentiating. can you please provide the fluent/react version.

[2020-09-09 14:19] #14721 closed

[2020-09-09 15:44] paulgildea commented on #14902
@ravi-405 Thanks for the feedback!

@joschect - Is there any way to target the (X) button on the People Picker to wrap with a `ToolTip`?

[2020-09-09 15:46] paulgildea commented on #14904
@belozerovany Thanks for the feedback!

@miroslavstastny - Determine if this repo-ing in the latest version. We may have already fixed this.

[2020-09-09 15:47] paulgildea commented on #14906
@hoovercj Thanks for the detailed analysis! This is super helpful for the team!

@smhigley FYI

[2020-09-09 15:50] nlips commented on #13411
In my opinion the typescript compiler has a bug concerning constraints on type parameters.

I want to be able to define a generic hook associated to a type that does not implement `IObjectWithKey` :

[code]

`selectionOptions` is not accepted in the `UI.Selection constructor`

The workaround is to use `any` instead of `TItem` in `selectionOptions` declaration and cast the selection object.

[code]

[2020-09-09 15:51] paulgildea commented on #14914
@ilyatum Thanks for reaching out. Let's follow up to better understand the experience that you are trying achieve.

@ecraig12345 - Is this by design?

[2020-09-09 15:55] paulgildea commented on #14920
@emokeeff Thanks for the feedback and repo steps. This is super helpful for our team!

[2020-09-09 15:56] paulgildea commented on #14923
@Raghurk Thanks!

[2020-09-09 16:00] paulgildea commented on #14925
@alnasar Thanks for the feedback.

@JustSlone / @ecraig12345 - Is this something that can be done additively for the current version?

[2020-09-09 16:03] paulgildea commented on #14929
@abmis-mi Thanks for the feedback!

I’ll mark this as a feature request and add it to our backlog, but to set expectations - we’re likely not going to get to it for a while as we’re currently focused on larger coherence work items. We'll take this into consideration when we converge the `ListPeoplePicker` component across our two React packages.

@joschect - Do you know if there are any workaround

[2020-09-09 16:06] paulgildea commented on #14936
@patilketan888 Thanks for the feedback.

We're trying to grow our community over on Stack Overflow to provide answers to coding questions like this.
It would be super helpful to file this on [Stack Overflow](https://stackoverflow.com/questions/tagged/office-ui-fabric-react+or+fluentui) using tags: office-ui-fabric-react, fluentui-react

Thanks again for the feedback.

[2020-09-09 16:07] paulgildea commented on #14942
@rajnish07 Thanks for the feedback.

@smhigley FYI

[2020-09-09 16:24] abmis-mi commented on #14929
@paulgildea Thanks for the update. And yes, a workaround would be great to have as this cant be fixed for some time now.

[2020-09-09 16:29] pelizza commented on #13554
Hi @jdhuntington, have you got any updates? We are just facing this issue as well...
Thank you.

[2020-09-09 17:02] paulgildea commented on #14947
@miegir Thanks for the feedback.

Can you provide a codepen or code example of the experience you are seeing because this can help us understand if a regression was introduced.

Thanks!

[2020-09-09 17:06] paulgildea commented on #14948
@asit-baran-das Thanks for the feedback.

[2020-09-09 17:09] paulgildea commented on #14950
@Faisal-developer Can you provide a reduced codepen of the issue you are seeing? This will help the team to better understand the issue you are encountering. Thanks!

[2020-09-09 17:10] JustSlone commented on #14925
We are working on refreshing and converging Text shortly, if this isn't urgent I'd rather address this as part of the update.

@alnasar how urgent is this request in your mind? Is it blocking you in a major way?

[2020-09-09 17:12] JustSlone commented on #14950
@Faisal-developer a codepen showing the issue is really important, especially for a complex component like details list. Also if you can share the version you were upgrading from that would be super helpful, thanks!

[2020-09-09 17:31] paulgildea commented on #14953
@abhishekpatwal Thanks for the feedback.

My initial thought here is that this is by design and that the `DetailsList` doesn't special case tabbing for non-interactive/interactive content in the component itself.

@dzearing - Thoughts on a workaround here? Can you manually set `tabIndex` to hop over the `DetailsList`

@betrue-final-final Any thoughts on the default tabbing behavior? I'm assuming i

[2020-09-09 19:19] miroslavstastny commented on #14904
@paulgildea I can repro with the latest `office-ui-fabric-react@7.136.0`. Will debug more.

[2020-09-09 19:58] trsvax opened #14960 "DataPicker textfield does not preserve input value on error"
### Environment Information

- **Package version(s)**: 7.135
- **Browser and OS versions**: any

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/pen/?&editable=true=https%3A%2F%2Fdeveloper.microsoft.com%2Fen-us%2Ffluentui

#### Actual behavior:

type 'aa' in textfield, tab, error is displayed but 'aa' is gone or replaced by previous value

#### Expected behavior:

'a

[2020-09-09 20:12] miegir commented on #14947
@paulgildea, I do not think that it is regression, maybe the feature was never in the DetailsList (or SelectionZone that it uses internally). The example can be seen directly in the documentation page at https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist in the Usage section. There is a DetailsList with onItemInvoked handler, but that handler is invoked only when the item dou

[2020-09-09 20:14] prejedj commented on #6527
Is this in the works at all? I'd like to be able to inform the user they must make a selection without having to add 10 lines of code

[2020-09-09 20:39] ecraig12345 commented on #14925
Text is typically not focusable, so I'm not sure that calling a focus method (if it was available) would do what you want. Also, even if we added a `componentRef` prop, that would expose a custom `IText` type (not a raw HTMLElement), and we wouldn't want to put a focus method on that interface for the aforementioned reason.

Once Text is converted to a function component (which could happen as par

[2020-09-09 21:20] ecraig12345 commented on #14914
SearchBox is a bit weird because the native props are applied to the inner `<input>`, not the root element. This is actually the reverse of the pattern I think we're trying to move towards, which is that native props are applied to the root (and there's  `inputProps` or an `input` slot for passing native props to the input), but fixing that would be pretty disruptive. And we probably shouldn't pul

[2020-09-09 21:21] YuanboXue-Amber commented on #14537
@davyrwoo what do you think if I focus on fixing this:
- When using `accessibility={tabListBehavior}` for `Menu`, the selected/active MenuItem is having `aria-selected="false"`, while it should have `aria-selected="true"`.
Here's a [Codesandbox](https://codesandbox.io/s/ancient-butterfly-129hr?file=/example.js:374-405) modified based on your example

Because as jurokapsiar wrote, there's no `aria-

[2020-09-09 21:32] davyrwoo commented on #14537
@YuanboXue-Amber yes that works

[2020-09-09 22:13] inateeg commented on #14614
@paulgildea This issue was raised by Teams lists app ship build test pass.  it is a bit weird if this is by design.  It means if user select the option then try to move focus to next element, it always get opposite result.  Unless user knew by click tab it will select current focused option therefore if it intends to select A, user must NOT select A in UI but put focus on A then click Tab so it ca

[2020-09-09 23:09] johnmcase commented on #9591
@KevinTCoughlin @Rajeev-K What was the result of the exploration?

It has been over a year since there has been any meaningful update on this issue.  Is there a different issue we should be following instead?

[2020-09-10 02:35] joschect commented on #14805
@reijam Even for sighted users it can be useful to have the actual text of the error.

After digging a bit it seems that this particular error is popping up because we are setting a role of group on a child. This makes sense logically as it's a resizegroup, but unfortunately within the context of a menubar a group can only contain children with role `menuitemradio`. It should be a quick fix to rem

[2020-09-10 03:36] KeXu444 opened #14965 "Increase/decrease button cannot be triggered/clicked by automated js function.,"
### Environment Information

- **Package version(s)**: all
- **Browser and OS versions**: all

### Please provide a reproduction of the bug in a codepen:

increase/decrease button cannot be triggered by code, this makes e2e test be impossible.
https://codepen.io/x444/pen/YzqaVWB

#### Actual behavior:

The value in spin input does not change

#### Expected behavior:

Value should increase every 1

[2020-09-10 03:42] NewFuture commented on #14896
@paulgildea  thanks

And it can be achieved using `styles` as a workaround.

[2020-09-10 04:15] NewFuture opened #14966 "multi selection of legends for the line chart is not resizing now"
when the multi-selection of legends are changed in the line-chart, the chart is not resizing now.

### Environment Information

- **Package version(s)**:  "@uifabric/charting": "3.6.2",
- **Browser and OS versions**:  any

### Please provide a reproduction of the bug in a codepen:

https://fabricweb.z5.web.core.windows.net/pr-deploy-site/refs/heads/master/charting/dist/index.html#/examples/linecha

[2020-09-10 05:44] Payne-Yan commented on #14461
@khmakoto Could you please solve this issue on the official website first?

[2020-09-10 05:47] Payne-Yan commented on #14464
@lorejoh12 This issue hasn't been solved on the official website. Would you please solve it first?

[2020-09-10 05:47] Payne-Yan commented on #14464
@khmakoto @paulgildea This issue hasn't been solved on the official website. Would you please solve it first?

[2020-09-10 07:42] asit-baran-das commented on #14948
Hello team, can you please give us the ETA for the fix. We have a production launch in Sep last week. Is it possible to get it addressed by then?

[2020-09-10 09:16] farooqiazam commented on #14081
@paulgildea @joschect Hello guys, Do we have an update on it?

[2020-09-10 13:20] RoelVB opened #14969 "SplitButton - glitchy button border"
### Environment Information

- **Package version(s)**: 7.137.0 (if the documentation site uses the latest version, tested it locally on 7.134.1)
- **Browser and OS versions**: Chromium

### Please provide a reproduction of the bug in a codepen:

This can be reproduced through the [documentation site](https://developer.microsoft.com/en-us/fluentui#/controls/web/button).

#### Actual behavior:

Firs

[2020-09-10 14:09] miroslavstastny commented on #14948
Not sure that the error message is directly related to the issue.

Once I try to scroll the ScrollablePane, I see an infinite re-render loop of the `Sticky`:
![image](https://user-images.githubusercontent.com/9615899/92741712-2e376580-f37f-11ea-9ae0-72a22c64fa15.png)

[profiling-data.10-09-2020.15-58-18.json.zip](https://github.com/microsoft/fluentui/files/5202141/profiling-data.10-09-2020.15-58-1

[2020-09-10 14:47] miroslavstastny commented on #14920
The `aria-readonly` was explicitly added in #11447 which fixed #11312.
@khmakoto could you please check this?

[2020-09-10 14:48] kolaps33 commented on #14883
verify today with latest master and still Enter doesn't invoke action on the component. Confirmed with @layershifter

[2020-09-10 15:58] paulgildea commented on #14960
@trsvax Thanks for the feedback.

Did you mean the `DatePicker` Component and could you provide a repro of the issue? The link provided seemed to be empty.

This might be by design - but we'll look into it after we have some more information.

Thanks!

[2020-09-10 16:01] paulgildea commented on #14965
@KeXu444 Thanks for the feedback.

@khmakoto - Outside of automating actual clicks... is their a way to automate changing the value of the `SpinButton`?

[2020-09-10 16:03] paulgildea commented on #14966
@Raghurk FYI

[2020-09-10 16:07] trsvax commented on #14960
Oops copy/paste problem

https://codepen.io/trsvax/pen/LYNdJNx?editable=true%3Dhttps%3A%2F%2Fdeveloper.microsoft.com%2Fen-us%2Ffluentui

[2020-09-10 16:08] paulgildea commented on #14969
@RoelVB Thanks for the feedback.

@khmakoto - Have we made any changes to SplitButton that would be impacting the current version of it?

[2020-09-10 16:10] trsvax commented on #14960
I believe the root issue here is the value for DatePicker is a Date. If I type something like "aa" in the textfield that can't be passed to DatePicker as the value

[2020-09-10 16:11] paulgildea commented on #14891
@joschect Do you think that any of the recent `DetailsList` changes could have impacted this?

[2020-09-10 16:26] paulgildea commented on #14914
@ecraig12345 Thanks for analysis. Sounds like we need to make a decision on whether this is something we address in v7, v8, or when we converge `SearchBox` correct?

[2020-09-10 16:38] reijam commented on #14805
let me know if you need a beta tester. i am your guy!

[2020-09-10 17:02] dzearing opened #14973 "ThemeProvider to use `makeClasses`"
The ThemeProvider currently uses sass to register styles. Moving this to the composition model and to use `makeClasses` to be conformant with `Button` variations.

[2020-09-10 17:09] Ray-B commented on #13212
Hi @paulgildea

I'd like to piggyback on the sentiment that has been conveyed already, that is, that we will benefit collectively from clear and comprehensive communication.

Stardust UI was the product of, as I understand it, Jack Lukic @jlukic, and **many** other contributors including @layershifter and @levithomason just to mentioned a few. All of these contributors have pushed forward UI devel

[2020-09-10 17:11] dzearing commented on #14666
PR is currently being driven on WAC side.

[2020-09-10 17:17] xugao opened #14974 "Fix `ref` prop typing"
Make sure `ref` typing is correct for all v8 components

[2020-09-10 17:55] DhirajKhot opened #14975 "Split button not working with touch interface"
### Environment Information

- **Package version(s)**: 7.137.0
- **Browser and OS versions**: All

### Please provide a reproduction of the bug in a codepen:

Check the link -
https://developer.microsoft.com/en-us/fluentui#/controls/web/button

Go to Split button section.
Try with mouse click on the Primary Button and drop down arrow. Primary button creates an alert with message Clicked. Drop down

[2020-09-10 18:23] Dalimil opened #14978 "Dialog pinning in place when content grows"
#### Describe the feature that you would like added

When Dialog contents grow, the Dialog will resize and will expand from the center in both directions (up and down).
![image](https://user-images.githubusercontent.com/4202539/92780275-c3beff00-f357-11ea-8d83-fd2d9664e42d.png)

In certain cases, for better user experience it is vital that the dialog's upper edge stays in place, and it only grows

[2020-09-10 18:52] KeXu444 commented on #14965
Just found the up and down arrow in the value box does work.
It will be great to trigger button click as well to make sure that function is working.
All other office fabric component are working fine, just this 2 buttons not clickable in ui testing.

[2020-09-10 19:32] xugao commented on #13384
@attiqeurrehman - yes, current plan is to rename `@uifabric/variants` to `@fluentui/variants`

[2020-09-10 19:34] curtisj44 opened #14979 "Spinner - The combination of ariaLive, ariaLabel, and label props necessary for "aria-live" attribute to be present is confusing (or broken?)"
### Environment Information

- **Package version(s)**: 7.137.0 (latest version as of today)
- **Browser and OS versions**: all

### The issue

I want to use the `Spinner` component for status messages with visible text and ARIA attributes necessary for optimal accessibility.

The [`Spinner` documentation](https://developer.microsoft.com/en-us/fluentui/#/controls/web/spinner) indicates that setting

[2020-09-10 21:28] curtisj44 commented on #13799
FWIW, this issue with the Checkbox component causes a failure in the "Parsing" check of [Accessibility Insights](https://accessibilityinsights.io/). That step relies on the [Nu HTML Checker](https://validator.w3.org/nu/) to check for "WCAG 2.0 parsing compliance", which includes improperly nested elements (this issue).

![Accessibility Insights Parsing screen](https://user-images.githubusercontent

[2020-09-10 21:37] Mermaid-Liu opened #14984 "How to use getTheme()in scss?"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:

### Please provide a reproduction of the issue in a codepen:

#### Actual behavior:

#### Expected behavior:

### Documentation describing expected behavior

[2020-09-10 22:01] Kelvinlinzer opened #14986 "DetailList selection with sorting relies on special property in data model"
### Environment Information

- **Package version(s)**: 7.101.0
- **Browser and OS versions**: irrevelant

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

When the first rows is selected, do sorting. The first row is still selected. Actually, the content of first row has changed. Sample in code pen.

https://codepen.io/kelvinlinzer/pen/KKzoJEv

#### Expected behav

[2020-09-10 22:08] Rainhale opened #14987 "Tooltips do not dismiss on ctrl"
We should dismiss via ctrl key as escape closes many dialogs, this is the current behavior in Office.com and was discussed with SME in Control Club and would be great to incorporate into Fluent. Since the esc key propagates while the tool tip is dismissed controls using esc still see normal esc behaviors, on key down of ctrl is a more robust solution.

text bellow is largely copied and is a modifi

[2020-09-10 22:31] Dalimil commented on #14978
We just realized it already exists: Dialog with top offset fixed: https://developer.microsoft.com/en-us/fluentui#/controls/web/dialog

[2020-09-10 22:31] #14978 closed

[2020-09-10 23:12] paucortescosta opened #14988 "menu-item component does not append ellipsis when overflown"
### Environment Information

- **Package version(s)**: latest
- **Browser and OS versions**: any

### Please provide a reproduction of the bug in a codepen:
Navigate to:
https://www.fast.design/docs/components/menu

Update any menu item long enough to overflow, you'll notice the grid column template is not respected and no ellipsis is being appended to the content slot when overflowing.

#### Expe

[2020-09-10 23:33] chrisdholt commented on #14988
Thanks @paucortescosta - let me get some insight from design on this and I'll circle back with a recommendation, then you can submit a PR :).

[2020-09-11 01:00] #14580 closed

[2020-09-11 01:04] #14338 closed

[2020-09-11 01:24] jeffersoneagley commented on #3726
I'm also currently having to implement both this and dropdown searching for a web portal that needs the "select all" in basically all of my filter sets.

[2020-09-11 01:42] ecraig12345 opened #14992 "Port ContextualMenu/Callout/Popup focus-related PRs to react-next"
#14351
#14363
#12806

[2020-09-11 02:29] Payne-Yan commented on #14461
@khmakoto The date picker on the https://developer.microsoft.com/en-us/fluentui#/controls/web/datepicker is solved first.

[2020-09-11 02:46] khmakoto commented on #14461
@Payne-Yan, like explained by @smhigley, this happens because axe-core does not support the 1.2 standard yet. I don't think there's an actionable item on our side regarding this issue.

[2020-09-11 03:31] Payne-Yan commented on #14461
@khmakoto On the official website, click Accessibility Insights for Web tool, the pop-up box of date picker is closed directly, there is no way to reproduce it. Did you update again?

[2020-09-11 06:04] Harkesh030679 opened #14993 "CommandBar does not have relevant role for its child element"
CommandBar does not have relevant role for its child element in accessibility Insight tool

### Environment Information

OS: Win 10
Browser: Edge/Chrome
Tool- Accessibility insight tool
### Describe the issue:

Step 1- Open web site in chrome browser--https://developer.microsoft.com/en-us/fluentui#/controls/web/commandbar
Step 2- Run Accessibility Insight tool as per below snap and see the issue
!

[2020-09-11 07:47] RoelVB commented on #14975
Duplicate of #14303

[2020-09-11 07:48] ravi-405 commented on #14937
@miroslavstastny , Thanks for the help. It is working fine as expected now.

[2020-09-11 07:48] #14937 closed

[2020-09-11 07:55] #14537 closed

[2020-09-11 10:04] kolaps33 commented on #14942
Looking to the screenshot and I see focus goes on the whole "popup".
I am thinking if is necessary to focus whole "popup" ? (because generally focus should go only to actionable elements not to text elements)
In my opinion it would be enough if focus land only on the link inside the "popup".  User can then use virtual cursor/scan mode to go through the text inside the "popup".
And if the focus goe

[2020-09-11 16:01] sophiaFengMS opened #14999 "Add Tooltip to Close Button on Panel Sample."
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:

Open the Panel, hover on the close button, the tooltip 'Close' shows. Then try to access the tooltip, it disappears.

### Please provide a reproduction of the issue in a codepen:

Can be repro at the website: https://developer.microsoft.com/en-us/fluentui#

[2020-09-11 16:25] paulgildea commented on #14303
@khmakoto - Looks like this issue is not mobile specific. For non-mobile cases the hit target should be large enough to trigger an `onClick`

@miroslavstastny - Can you look into this issue in the mean time?

[2020-09-11 16:26] paulgildea commented on #14975
@DhirajKhot Thanks for the feedback.

@RoelVB Thanks for the resolution!

[2020-09-11 16:34] paulgildea commented on #14979
@curtisj44 Thanks for the thorough issue - it's really appreciated!

I'm going to mark this a question for now - until we can get a solid answer from the code owner.

@smhigley FYI because this touches the a11y API

@aneeshack4 / @dzearing - What's the expected behavior of the API? Also is it expected that developers need to fill both the `ariaLabel` and `label` props correct? We don't do anything

[2020-09-11 16:37] paulgildea commented on #14984
@Mermaid-Liu Thanks for the feedback

We're trying to grow our community over on Stack Overflow to provide answers to coding questions like this.
It would be super helpful to file this on [Stack Overflow](https://stackoverflow.com/questions/tagged/office-ui-fabric-react+or+fluentui) using tags: office-ui-fabric-react, fluentui-react

Thanks again for the feedback.

[2020-09-11 16:40] dzearing commented on #14979
My suggestion here:

When `ariaLive` is provided along with `label` but no `ariaLabel`, we should fall back to use `label` prop value for the live message. If `ariaLabel` is provided, we should use that.

Reasoning would be that we don't really break contracts - if you're providing ariaLabel with ariaLive today, nothing changes. But additionally if your live message is no different from your label

[2020-09-11 16:42] paulgildea commented on #14986
@Kelvinlinzer Thanks for the feedback.

@dzearing Is this expected behavior of the API of the component?

[2020-09-11 16:48] paulgildea commented on #14987
@Rainhale Thanks for the feedback.

@smhigley It would be helpful for you to weigh in on this desired behavior.

I'm not opposed to adding if that's the current requirement.

[2020-09-11 16:52] paulgildea commented on #14993
@Harkesh030679 Thanks for the thorough investigation! That's really appreciated!

@smhigley FYI

@joschect / @JustSlone Would this be considered a breaking change?

[2020-09-11 16:52] dzearing commented on #14986
This is by design.

In the example where you have "dummyKey" on items, you're providing the `getKey` override on `DetailsList`, but you're also providing your own `Selection` instance, which means `DetailsList` does not own the selection object, and therefore can't pass along the `getKey` callback to it.

If you move the `getKey` call to the `Selection` options, this works. See here:

https://code

[2020-09-11 17:05] paulgildea commented on #14999
@sophiaFengMS Thanks for the feedback.

I am able to hover over the `Tooltip` component provided on the documentation site: https://developer.microsoft.com/en-us/fluentui#/controls/web/tooltip
![image](https://user-images.githubusercontent.com/33229964/92952772-638e9280-f415-11ea-8d92-78d873dd65ff.png)
(sorry I wasn't able to capture the mouse cursor with my snipping tool)

Looking at the `Panel`

[2020-09-11 19:37] latonita commented on #12953
@layershifter @mnajdova would you please give us users status update on this issue. Thank you.

[2020-09-11 19:41] #14289 closed

[2020-09-11 19:58] bheston commented on #14988
Generally we should avoid ellipsis for accessibility and readability concerns. I see that the demo has a max-width style applied, which I'm not sure the significance of, so my first suggestion would be to remove that and allow the menu to grow with the item content. In a hopefully rare case where there is no possibility of shortening the text, to fully support reflow accessibility requirements we

[2020-09-11 20:10] reijam opened #15001 "Add pattern as parameter to TextField... but without requirement of submit"
I am just implementing a very simple pattern error call but it seems to me that it could just a easily be part of the TextField spec without requiring an error message.

Fairly simple change just create a Pattern parameter which is passed a regex (the  HTML input field already has a "pattern"  param that triggers on submit but who uses submit anymore?)   and then underline the text if it is incorr

[2020-09-11 20:45] mikezimm opened #15002 "Responsive Pivot: I have solution working with minor css to resolve"
### Tagged users:
@paulgildea , @badsyntax, @khmakoto

First, this is

1. Partly a **Feature request**
2. But also **possible implementation** concept for the request
3. And Short Term looking for like minded person who knows CSS who might be able to **assist with my** current solution.

## Describe the feature that you would like added
Responsive **[FluentUI Pivot ](https://developer.microsoft.co

[2020-09-11 21:47] castrodd opened #15004 "Role on DetailsList"
We are using the DetailsList component to display a list of values. However, the component is creating this div:

`<div role="grid" aria-rowcount="15" aria-colcount="2" aria-readonly="true">`

This div is causing screen readers to announce table mark-up (eg, row and column numbers). We want to change the role to "list" in order to prevent those announcements.

Is it possible to change the role? If

[2020-09-11 23:40] davyrwoo opened #15006 "Northstar's Menu border is overlayed on the right side when Menu size fits content"
### Environment Information

- **Package version(s)**: 0.51.0

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/optimistic-lamarr-yvqmu?file=/example.js

#### Actual behavior:

The ride side of the border is overlayed with a second border. This also is present when the Menu has the `pointing` prop.

This example is from [Fluent UI Northstar's Menu page](https://

[2020-09-12 19:00] #14984 closed

[2020-09-12 23:44] mikezimm commented on #15002
I was able to band-aid it so it doesn't shift by:

changing my css from
[code]
to
[code]
However, it does look slightly blurry so I was going to the option below suggested on [stack exchange](https://stackoverflow.com/a/32570813).  Unfortunately I can't figure out how to get the right text content with the command buttons.  There is no title attribute right on the label to reference.  Any ideas?

[2020-09-13 17:05] Faisal-developer commented on #14950
Previous version : 6.112.0
Current version : 7.133.0

[2020-09-13 23:00] #14930 closed

[2020-09-14 01:26] tiyee opened #15011 "A Filepicker component is needed"
#### Describe the feature that you would like added

The Filepicker component is used to select one or multiple files from the file system.

[2020-09-14 02:06] jayantdhawan opened #15012 "SpinButton's onBlur event does not receive the validated value"
### Environment Information

- **Package version(s)**: 7.105.12
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen: https://codepen.io/jayant9/pen/eYZKBRB?editors=1010

#### Actual behavior:
1. Go to the codepen linked above.
2. See that the bounds of the spin button are set as 0 and 50.
3. Enter a value greater than 50.
4. The spi

[2020-09-14 04:00] #14461 closed

[2020-09-14 05:17] JustSlone commented on #14950
@Faisal-developer
I took a look at this, didn't see any major issues between 6 and 7 on DetailsList. It also looks like this wasn't an expected break given the changes in 7.

[DetailsList example on Fabric version 6](https://codepen.io/justslone-the-encoder/pen/abNKJyO?editable=true%3Dhttps%3A%2F%2Fdeveloper.microsoft.com%2F)
[DetailsList example on Fabric version 7](https://codepen.io/justslone-t

[2020-09-14 05:31] JustSlone commented on #14993
We generally consider DOM changes breaking. However, given this is causing issues in Accessibility Insights, and it's a pretty minor DOM change. I think we could take it. I am interested in @joschect 's opinion on the risk though.

However, one important note on this change. I'm a bit perplexed as to why the current structure is invalid.
This case, where we have a menubar, then multiple groups of

[2020-09-14 05:33] JustSlone commented on #12877
Fixed by #14534, closing

[2020-09-14 05:33] #12877 closed

[2020-09-14 06:10] Poopooracoocoo commented on #14040
um i can still see this issue in edge. :/

[2020-09-14 08:37] wojciek opened #15014 "Datepicker does not allow the use of an input mask. Masked input does not allow the use DatePicker"
### Environment Information

- **Package version(s)**: 7.137.0
- **Browser and OS versions**: Chrome 85.0.4183.102

### Describe the issue:

Standard Datepicker does not allow the use of an input mask. There is no way to make MaskedInput with datepicker and DatePicker with just Input mask. In this props interfaces there is no props to make this case.

#### Actual behavior:

[code]

#### Expected b

[2020-09-14 09:16] kolaps33 opened #15015 "Dropdown - JAWS - ESC doesn't close the search results"
### Environment Information
Bug found in production: https://fluentsite.z22.web.core.windows.net/components/dropdown/definition
- package version:  react-northstar@0.51.0

- **Browser and OS versions**: (fill this out)

### Describe the issue:
Affected examples (basically dropdown with search ability):
https://fluentsite.z22.web.core.windows.net/components/dropdown/definition#types-search
https://

[2020-09-14 09:28] v-ajrai opened #15016 "Luminosity ratio is not sufficient for close button on MessageBar. It should be greater or equal to 4.5 : 1"
Luminosity ratio is not  sufficient for close button on MessageBar on Office Ui Fabric . It should be greater or equal to 4.5 : 1

### Environment Information
OS: Win 10
Browser:  Chrome

### Describe the issue:
Luminosity ratio is not  sufficient for close button  on MessageBar on Office Ui Fabric . It should be greater or equal to 4.5 : 1

#### Providing  reproduction of the issue
https://develo

[2020-09-14 11:18] adilmahmood2020 commented on #13866
Hi,
We have implemented a new Activity Type Filter for activities in the Dynamics 365 Sales UCI App. The activity filter is a ComboBox with multi selected options enabled. On Pressing the down arrow button, focus is going to the second option instead of first as mentioned in this issue. Are there any workarounds for this issue and can we have an ETA for fixing this bug?

[2020-09-14 11:35] jameelakowsar commented on #14924
https://github.com/microsoft/fluentui/pull/14892

[2020-09-14 11:35] #14924 closed

[2020-09-14 11:39] jameelakowsar opened #15017 "Vertical bar chart: Refactoring of vertical bar chat."
#### Actual behavior:

Refactoring of vertical bar chart.

In this, need to design chart using cartesian base file.

[2020-09-14 11:44] jameelakowsar opened #15018 "Grouped vertical bar chart: Refactoring of Groped vertical bar chart"
Refactoring of Grouped vertical bar chart

In this, need to design chart using cartesian base file.

[2020-09-14 14:10] manishsbh opened #15020 "DetailsList(without column header) with Narrator + Edge when using Scan mode, table is not identified by narrator with table shortcut i.e. 'T'"
### Environment Information

URL: https://fabricweb.z5.web.core.windows.net/oufr/7.76.2/#/examples/detailslist/basic
Browser: Edge
OS: Windows 10

### Describe the issue:
When the DetailsList-Basic is used without the column header, it is not being identified as a table by the Narrator in the Edge browser. It is also not responding to the table shortcut 'T'. Same is the case with DetailsList-Large

[2020-09-14 15:01] jodom commented on #13036
Following up here, the fix proposed and merged as #14363  does not resolve this issue for chromium browsers. These browsers don't seem to be blurring the main window as expected when an iframe is focused

[2020-09-14 16:59] paulgildea commented on #15001
@reijam Thanks for the feedback.

We've gotten similar feedback on this type of form validation scenario. It's a known missing feature we have. To set expectations it is something we're looking at implementing specifically for `Form` scenarios in the future, but I don't have any specific timelines to share at this time.

Hope that helps. Looks like you are already familiar with the `onGetErrorMess

[2020-09-14 18:00] #14975 closed

[2020-09-14 18:26] ecraig12345 commented on #14939
Just realized we're also going to need compat exports for DatePicker and Calendar (because we'll be exporting the date-time ones by default). This should be done at the same time.

[2020-09-14 18:34] ecraig12345 commented on #14638
Realized we'll also need compat docs for Calendar and DatePicker, since we'll be exporting the date-time ones by default and moving the OUFR ones under compat.

[2020-09-14 18:38] paulgildea commented on #15004
@castrodd Thanks for the feedback.

@dzearing - I don't know if there is a way to specifically change the role attribute directly on the `DetailsList` any insights?

As a work around you may be able to use the `List` component - https://developer.microsoft.com/en-us/fluentui#/controls/web/list it the component creates an HTML tree with `role=list`. Not sure if it will work for your scenario but it

[2020-09-14 18:42] dzearing commented on #15004
It is not currently possible to change this role. I am not sure if that would cause additional issues either. Adding @cschlechty who may be able to confirm if this is something we'd want to allow.

[2020-09-14 18:43] dzearing commented on #15004
Also cc @ThomasMichon .

[2020-09-14 18:44] paulgildea commented on #15011
@tiyee Thanks for the feedback.

I’ll mark this as a feature request and add it to our backlog, but to set expectations - we’re likely not going to get to it for a while as we’re currently focused on larger coherence work items. We'll take this into consideration when we converge the `FilePicker` component across our two React packages. I don't have any immediate timelines to share at this moment.

[2020-09-14 18:46] lserry opened #15023 "Version 7+ of @uifabric/icons causes an UI bug in our searchbox component. When a tile is clicked, the searchbox loses its styling."
### Environment Information

- **Package version(s)**: Version 7+ of @uifabric/icons
- **Browser and OS versions**: IE 11 in win32 dialog

Version 7+ of @uifabric/icons causes an UI bug in our win32 dialog in Office. Example Dialog Entry point:
win32 ppt: Insert -> Pictures -> stock images.  When a search suggestion is clicked, the searchbox loses its styling and causes the entire dialog to shift

[2020-09-14 18:49] paulgildea commented on #15012
@jayantdhawan Thanks for the feedback.

@khmakoto as FYI on the expected behavior.

[2020-09-14 19:00] cschlechty commented on #15004
there need to be additional plumbing to change all of the children to match the roles. Using DetailsList is probably not the best choice to begin with. Is there a reason that List (as suggested above) doesn't work?

[2020-09-14 19:08] reijam commented on #15001
Not a form based issue. And please don't make it one...

If anything it should be a simple mod to the component independent of  whether it is part of a form or not

 async fetch is much easier to control than forms (  i cannot remember the last time I  used a form for anything).

This could be no more than  or 4 LOC as a new parameter and would be very useful.

No need to make it a big deal... sma

[2020-09-14 19:45] agg23 opened #15025 "Background Panel captures foreground Modal input"
### Environment Information

- **Package version(s)**: `office-ui-fabric-react@7.137.1`
- **Browser and OS versions**: Firefox 80.0.1 and Chrome 85.0.4183.102

### Please provide a reproduction of the bug in a codepen:

The "Confirm light dismiss" example.
https://fabricweb.z5.web.core.windows.net/oufr/7.137.1/#/examples/panel

#### Actual behavior:

1. Click somewhere to perform a light dismiss o

[2020-09-14 20:30] mimi-msft commented on #14600
Hey @khmakoto do you have an eta on this fix? We have an open accessibility bug due to this which we can't close until it is resolved? Thanks!

[2020-09-14 21:00] chaofeng2014 opened #15026 "ODLink(E4BB) &ODLink12(E4BC) icons missing in fabric"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

We need these 2 existing icons `ODLink(E4BB) & ODLink12(E4BC)` in https://uifabricicons.azurewebsites.net/
![image](https://user-images.githubusercontent.com/6550896/93137314-1b2fd880-f692-11ea-97a6-6e94e8f6fa

[2020-09-14 21:33] paulgildea commented on #15001
@reijam Thanks for the clarification of this being a targeted feature on `TextField`

@JustSlone FYI

[2020-09-15 00:53] dzearing opened #15028 "react-button: uses OUFR as a peer dependency."
Because MenuButton.tsx depends on ContextualMenu, OUFR is listed as a dependency. This is causing partners friction with double dependencies, so I'm making it a peer dep to see how this helps.

Tracking to remove the peer dep once we have a solution for menu to be its own package.

[2020-09-15 02:12] ipip2005 opened #15029 "Potential race condition of useCustomizationSettings?"
### Environment Information

- **Package version(s)**: Latest
- **Browser and OS versions**: Chrome/Windows 10

### Please provide a reproduction of the bug in a codepen:
It's not consistently reproduced. And I'm not 100% sure useCustomizationSettings is the root cause.
From reading the code it looks to me  `useCustomizationSettings`  has potential race condition issue.
It calls `Customizations.ob

[2020-09-15 03:03] luna0607 opened #15030 "Can't type space into RadioGroup's input box"
### Environment Information

- **Package version(s)**: 0.47.9
- **Browser and OS versions**: Chrome/Edge Windows10

### Please provide a reproduction of the bug in a codepen:
https://fluentsite.z22.web.core.windows.net/maximize/radio-group-example-shorthand/false
or
https://codesandbox.io/s/02f8i?module=/example.js

#### Actual behavior:
I tried to type "hello world" into the Input box of the four

[2020-09-15 04:40] pushpara opened #15031 "How to add Pagination in Fluent UI Detailslist using react"
#### Describe the feature that you would like added

add Pagination in Fluent UI Detailslist using react

#### What component or utility would this be added to

Fluent UI

#### Have you discussed this feature with our team, and if so, who

No

#### Additional context/screenshots

I have created the sample by using this link https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist
N

[2020-09-15 05:13] jurokapsiar opened #15032 "Radio with Input example has incorrect semantic structure"
Radio Group and Vertical Radio Group examples in @fluentui/react-northstar integrate Radio and Input in an incorrect way, as the Input has to be a sibling of the Radio, not its child to allow better screen reader experience.

Proposal:
Remove inputs from the basic examples
Add "Custom radio item" example, add code similar to https://codesandbox.io/s/fluent-ui-example-i5gkt?file=/example.js
which u

[2020-09-15 05:15] utkarshUU1 opened #15033 "On resizing the page to 200%, content of "Identity Provider" get distorted."
Package version(s): 7.24.0
OS: Version 2004(OS Build 19041.388)
Browser: Edge(Chrome)Version 86.0.594.1 (Official build) dev (64-bit)

User Experience:
On resizing the page to 200%, if content of the page get distorted then visually impaired user get effected and might not be able to understand the content to interact with it.

Please provide a reproduction of the issue in a codepen:

https://deve

[2020-09-15 06:54] hjonasson opened #15034 "24px icons missing from 20200727"
### Environment Information

- **Package version(s)**: 20200727.001

### Describe the issue:

Icons of size 24px don't seem to be on the CDN for this package version, as can be verified on this link for example
https://spoprod-a.akamaihd.net/files/fabric-cdn-prod_20200727.001/assets/item-types/24/pptx.svg

Change the 24 to other supported sizes like 20, 16, or 96
https://spoprod-a.akamaihd.net/fil

[2020-09-15 08:18] ArpithaMurthy opened #15036 "Keyboard navigation stops working in CommandBar when ComboBox is used onRender"
### Environment Information

- **Package version(s)**: 7.137.1
- **Browser and OS versions**: Issue seen in Chrome: Version 85.0.4183.102 (Official Build) (64-bit)
                                                                        Edge: Version 85.0.564.51 (Official build) (64-bit)

### Describe the issue:
Once keyboard focus enter **ComboBox** within **Commandbar**,  arrow key will not work

[2020-09-15 08:42] ArpithaMurthy opened #15037 "Screen reader(narrator) should read deleted letter in edit text field."
### Environment Information

- **Package version(s)**: 7.137.1
- **Browser and OS versions**: Edge: Version 85.0.564.51 (Official build) (64-bit)

### Describe the issue:

Screen reader is not reading deleted letter in edit text field. This is happening only in Edge browser, in chrome it is working as expected

### Please provide a reproduction of the issue in a codepen:
FluentUI CodePen: [Textfie

[2020-09-15 10:29] layershifter commented on #12953
@latonita the work that was done in #13985 & #14007 decreased bundle size significantly. Now it should be around 450kb on minimal component and theme imports (_we started with 1.2mb_). Still not good, but it's definitely better.

![image](https://user-images.githubusercontent.com/14183168/93199763-15e49380-f74f-11ea-8360-0bb3bfa216fa.png)

The next huge item is a theme object which is not treeshak

[2020-09-15 14:12] kolaps33 opened #15041 "Add multi select support for Tree as a list"
#### Describe the feature that you would like added
Curently Fluent UI has Tree variant "As a list"
https://fluentsite.z22.web.core.windows.net/components/tree/definition#usage-tree-as-list-example
which purpose is to use it on the MAC for the accessibility reason. (as VoiceOver doesn't support tree properly)

We would need to add similar "As a list" for the "multi selectable" tree.

#### What com

[2020-09-15 14:22] kolaps33 opened #15042 "Tree aria-selected is not narrated"
Figure out that JAWS has stopped narrated "aria-selected" state for the multi select tree.
https://fluentsite.z22.web.core.windows.net/components/tree/definition?showCode=false&showRtl=false&showTransparent=false&showVariables=false#usage-tree-multiselect-example

Bug was reported to the JAWS:
https://github.com/FreedomScientific/VFO-standards-support/issues/432#issuecomment-686385093

JAWS admit

[2020-09-15 14:26] kolaps33 opened #15044 "Treeitem which is not selectable has aria-selected attribute"
example:
https://fluentsite.z22.web.core.windows.net/components/tree/definition?showCode=false&showRtl=false&showTransparent=false&showVariables=false#usage-tree-multiselect-example

Issue: treeitem which is not selectable has "aria-selected" attribute

Steps:
1. Navigate to the treeitem
2. verify existence of the "aria-selected" attribute
Expected: there shouldn't be any "aria-selected"/"aria-che

[2020-09-15 15:03] andreibsk opened #15045 "DetailsList render on resize delayed"
I'm experiencing an unusual/unexpected behavior while resizing lists build with the `DetailsList` component. I'm not sure if this behavior is intentional (perhaps for performance reasons), but given that other components on the page render "normally", the following delay tends to stand out as being non "fluent" or choppy.
The following issue might be relevant: #6567

### Environment Information
-

[2020-09-15 16:06] xugao opened #15047 "react-button: fix high contrast styles"
make sure the buttons are working correct in HC mode

[2020-09-15 16:12] xugao opened #15048 "Function Component linting"
possible lint rules to add for our FCs:
- [ ] component name
- [ ] component typing: always type component and base component with `React.FunctionComponent<IProps>` so that the typing/public API of the component is simpler/cleaner for consumers

[2020-09-15 16:14] xugao commented on #15048
@ecraig12345 - feel free to tweak the issue. I think we should treat this a low-pri item. I marked in as pre-release but honestly it can come even later

[2020-09-15 17:18] xugao commented on #15047
@khmakoto - assign to you as well. if you freed up to take this before me, let me know!

[2020-09-15 18:42] latonita commented on #12953
@layershifter thanks for update!

any ideas how can I reduce at least icons package? 465Kb for the pack, but i only use 5 icons?

[2020-09-15 18:52] HarshUpadhyay-MSFT opened #15052 "CommandBar failing accessibility fast pass for rule "aria-required-children""
### Environment Information

- **Package version(s)**: office-ui-fabric-react version 7.117.0
- **Browser and OS versions**: edge chromium Version 85.0.564.51 (Official build) (64-bit), Windows 10 OS

### Describe the issue:
Running accessibility fast pass in any page causes failures on "aria-required-children" rule for the CommandBar component. This should not happen as default role is `menuitem`

[2020-09-15 20:32] #15029 closed

[2020-09-15 20:32] ipip2005 commented on #15029
No longer an issue

[2020-09-15 20:38] #14974 closed

[2020-09-16 00:26] binarykitchen opened #15057 "chart components missing in the npm package"
Could you add these in the next npm release?

Thanks!

[2020-09-16 03:41] dikshantbansal98 opened #15060 "[Screen Reader - PeoplePicker - NormalPeoplePicker]: NVDA Focus is not moving to the input field of NormalPeoplePicker, when navigated in NVDA browse mode."
**Component:** PeoplePicker

**PWD Impact:**
Visually challenged users who rely on screen readers are missing information as NVDA Focus is not moving to the NormalPeoplePicker input field, when navigated in NVDA browse mode.

**Test Environment:**
OS : Win 10 2004 (OS Build 19041.450)
Browser:  New Edge 85.0.564.44
URL: https://developer.microsoft.com/en-us/fluentui#/controls/web/peoplepicker
Tool

[2020-09-16 05:33] DhirajKhot commented on #14303
@paulgildea @miroslavstastny
Do we have any updates on this?

[2020-09-16 06:34] luna0607 commented on #15030
Can be fixed by putting the <Input /> in children props. example: https://codesandbox.io/s/fluent-ui-example-i5gkt?file=/example.js
Thanks Juraj for help!

[2020-09-16 06:34] #15030 closed

[2020-09-16 07:35] KeiraYang commented on #14795
Hi @paulgildea @khmakoto Could you please take a look at this issue? Thanks!

[2020-09-16 07:57] dhanMS commented on #14170
Is this issue got released? Can you help in resolving this if it is not yet fixed, as we have accessibility issue open because of this

[2020-09-16 11:48] miroslavstastny commented on #14898
@paulgildea After #14806, `aria-current="date"` is correctly added to the current day element.

As a result, it is correctly narrated as "current date" by Safari/VoiceOver and Chrome/NVDA.
But it does not narrate in Edge/Narrator.
[Reportedly](https://a11ysupport.io/tests/tech__aria__aria_current) `aria-current` is not supported by Narrator.

FYI @kolaps33

[2020-09-16 12:00] anjais123 opened #15064 "After expanding the Combo box and swipe narrator focus is not going to combo list items."
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:

### Please provide a reproduction of the issue in a codepen:
https://codepen.io/khali007/pen/yLYvOVR?editors=1010

### Repro Steps:
Scree Reader + Narrator
1. Turn on narrator​
2. Swipe till Combo box and double tap to expand​
3. Swipe and verify narrator

[2020-09-16 12:24] miroslavstastny commented on #14902
@ravi-405 - can you please specify what screenreader/browser combination have you used and also your key sequence to focus the **X** button?

FYI @smhigley, @kolaps33 - not sure what the expected remove item workflow is.

[2020-09-16 14:04] miroslavstastny commented on #14906
@kolaps33 FYI

[2020-09-16 14:40] miroslavstastny commented on #14965
Spin input buttons does not change the value on `click` but on `mousedown`. The motivation for that is that when you press the button and keep it pressed, it should keep incrementing/decrementing as long as the button is pressed. This is intentional behavior.

As you've already found out, you can use keyboard to inc/dec the value, if you need to stick to mouse events, you can pass the `mousedown`

[2020-09-16 14:40] #14965 closed

[2020-09-16 16:48] #14662 closed

[2020-09-16 17:22] kolaps33 commented on #14906
took look quick look on html and agree with @hoovercj

Looks like to reach narration of the "First heading", then items should be wrapped with div element which has role=group and 'heading' labelling.

![combobox_listbox_dropdown_listbox](https://user-images.githubusercontent.com/22620150/93371042-fa15e600-f851-11ea-8298-e0436271b81f.png)

[2020-09-16 17:40] ArpithaMurthy commented on #15036
If Dropdown is used within CommandBar this problem is not present, codepen: https://codepen.io/arpithadmurthy/pen/RwaYboj
Is Dropdown will be depreciated in FluentUI or is it going to stay?

[2020-09-16 18:03] bsunderhus commented on #5328
Is there any progress in this?
I'm trying to use fluentui/react with css custom properties but, apparently some things are not working as expected when server side rendering the styles.

in development (without ssr):
![image](https://user-images.githubusercontent.com/5483269/93374826-8ecf1280-f857-11ea-838d-e246a30d809e.png)

in production (with ssr):
![image](https://user-images.githubusercontent

[2020-09-16 18:07] vineetrawat opened #15072 "[Narrator + New Edge] [NVDA + Chrome ] DetailList Navigation to row and columns blocked"
### Environment Information

- **Package version(s)**:  7.105.0
- **Browser and OS versions**:
Edge: 85.0.564.51
Chrome: Version 85.0.4183.102
Windows 10 : 10.0.19041

### Describe the issue:
When using Screen Reader(, Not able to navigate to detail list columns or data rows using the arrow key. Blocks user from taking important actions.

### Please provide a reproduction of the issue in a codepen