[2017-09-20 17:43] betrue-final-final commented on #2894
There should be no icon at all actually, and the distance from the control to the message should be 5px.
![image](https://user-images.githubusercontent.com/20363037/30658708-76ef5db0-9df0-11e7-9da0-51b72a29767f.png)

[2017-09-20 18:28] #1804 closed

[2017-09-20 18:28] #1829 closed

[2017-09-20 18:28] #2541 closed

[2017-09-20 18:29] #2474 closed

[2017-09-20 18:29] #2115 closed

[2017-09-20 20:21] jayspadie opened #2902 "DetailsList: Allow resizing columns wider than maxWidth in justified layout"
### Bug Report

- __Package version(s)__: 4.35.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: VSTS

#### Describe the issue:

minWidth and maxWidth are used in the initial rendering of column widths in the DetailsList using justified layout.  Previously, a user could still

[2017-09-20 20:52] kristoferbrown commented on #2857
Fixed by #2589

[2017-09-20 20:52] #2857 closed

[2017-09-20 20:52] kristoferbrown commented on #2856
Fixed by #2589

[2017-09-20 20:52] #2856 closed

[2017-09-20 21:36] chaofeng2014 opened #2905 "HoverCard: add check if there is a key pressed before mounting the card on focus"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

#### Actual behavior:

#### Expected beh

[2017-09-20 21:47] caltonji opened #2906 "Adding a "className" prop to a TooltipHost removes other class names like ms-Tooltip and root-somehash"
### Bug Report

- __4.48.1__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
No

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

#### Actual behavior:

#### Expected behavior:

#

[2017-09-20 23:24] davguerr opened #2909 "Link control needs to set aria-disabled attribute on disabled state"
Are you willing to submit a PR to fix? Yes
Requested priority: Normal

#### Describe the issue:

When Link control is set to 'disabled', aria-disabled attribute needs to be set to 'true'.
Additionally, the link (or button) should NOT be keyboard focusable on 'disable' state

#### Actual behavior:

1. aria-disabled attribute is not being set to any value
2. the link is focusable via keyboard

####

[2017-09-21 05:54] #2831 closed

[2017-09-21 16:21] cschleiden commented on #2863
What it you handle the button click yourself and stop propagation?

[2017-09-21 16:53] mattmazzola commented on #2863
Well the point of stopping propagation on my button (which is child cell in the DetailsList row) is to prevent the event from bubbling and reaching the parent row and triggering the larger `onActiveItemChanged`; however, this does not work.  As described above, the onActiveItemChanged fires no only before, but is not prevented.  I believe there is some magic of overlaying div on top of the actual

[2017-09-21 17:44] #2017 closed

[2017-09-22 03:48] #2295 closed

[2017-09-22 09:01] Hardhik commented on #2436
More on this: This issue is because the columns containing text( Name and Value) overlap the space intended for the horizontal line, if you try to reduce the height of those columns(or alternatively increase size for the row), the line is visible for the whole of row (which I think is the actual expected behavior)

Issue can be reproduced here: http://dev.office.com/fabric#/components/detailslist

[2017-09-22 09:48] philipodev commented on #2740
I have placed the style-loading in `/pages/_document.js` instead like this:
[code]

And when build for production the css rules will be put in the head.

[2017-09-22 12:01] dabasnidhi opened #2921 "Details List does not increment the GridRowCount property for the rows"
### Bug Report
Requested priority:  Normal

#### Describe the issue: For DetailsList , when we inspect using the Windows SDK inspect tool, the Grid Row count is set incorrectly

#### Actual behavior: The Details List assumes the column header to be row#0 and the rest of the list as row#1

#### Expected behavior: The row count should be incrementally set for each of the rows

[2017-09-22 12:02] dabasnidhi commented on #2921
![row count-inspect](https://user-images.githubusercontent.com/12389221/30743618-028026ee-9fbc-11e7-8a41-1f8f64936683.png)

[2017-09-22 13:09] philipodev commented on #2740
I had this issue as well. But solved it by creating `pages/_document.js` and use fabrics `configureLoadStyles` + `renderStatic` from `glamor/server` (since Fabric is using glamor.

This is my `_document.js` file:
[code]

[2017-09-22 17:46] hross commented on #2902
Since this might break existing layouts who are now expecting the justified column resize behavior, maybe we should add another layout mode [here](https://github.com/OfficeDev/office-ui-fabric-react/blob/ed78bd102529ecb5dc0500aaadd720a3b95e2a71/packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.Props.ts)

[2017-09-22 17:48] erjohnms opened #2924 "[Accessibility] [Command Bar]: NVDA doesn't announce the command bar as a menu with n items"
### Bug Report

- __Package version(s)__: 4.45.1000
- __Browser and OS versions__: chrome

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? N

Requested priority: Low

Products/sites affected: (if applicable)

#### Describe the issue:

When tabbing into a command bar, NVDA doesn't announce it as a menu with n items. The example docs wo

[2017-09-22 18:39] Vivihung opened #2928 "[DetailsList] Font is not vertically middle align when using onRenderItemColumn"
### Bug Report

- __Package version(s)__:
"office-ui-fabric-core": "5.1.0",
"office-ui-fabric-react": "4.48.0",

- __Browser and OS versions__: Repro in all browsers

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
Yes

Requested priority: (Blocking, High, Normal, Low)
Normal

Products/sites affected: (if applicable)

#### D

[2017-09-22 20:18] Vivihung commented on #2928
Hum... I found it's our common code which generate the div.
By setting the div with line height, the alignment issue can be resolved.
I will close this issue since it's not the component issue.

[2017-09-22 20:18] #2928 closed

[2017-09-22 23:40] hmafzal commented on #2310
@dzearing was there any update to fixing the console warnings? We'd prefer not to set the NODE_ENV to production.

[2017-09-25 02:06] nekoya commented on #2325
Sadly, Fabric website still provides [Get started with Fabric Core](https://dev.office.com/fabric#/get-started) a link for `4.1.0` yet...

[2017-09-25 02:18] Jahnp commented on #2325
Hey @nekoya, check out https://developer.microsoft.com/en-us/fabric#/get-started 😊

[2017-09-25 06:09] Hardhik commented on #2480
Also has scroll bars even where not needed. (in IE)
![scrollbar](https://user-images.githubusercontent.com/2673006/30794510-248009f4-a1e6-11e7-86a7-db5b9c9e064f.PNG)

[2017-09-25 10:06] nekoya commented on #2325
Ah, that's it. I didn't know that. It seems nice.

I cannot find this site from Google, is this a primary site for office-ui-fabric-react?

If so, at first, let's update description of this repository.

[2017-09-25 12:13] db3005 commented on #2562
We still got the problem on our tenant that our styles get removed when the page is loaded (mostly with clear cache)

For example we use the Facepile component to display Users but sometimes the css got removed, always when require.js and listviewdataprefetch.js are loaded.

CSS got removed:
![image](https://user-images.githubusercontent.com/32265743/30807549-a7d315a8-a1fa-11e7-85ac-87bddaf21bce.p

[2017-09-25 12:45] db3005 opened #2938 "require.js and listviewdataprefetch.js of SharePoint removes styles of Office UI Fabric"
### Bug Report

- __Package version(s)__: 4.35.1
- __Browser and OS versions__: All browsers, Windows 10, ...

Requested priority: Blocking

Products/sites affected: All SP Online classic pages on tenants with the require.js version below which are using Office UI Fabric components.

#### Describe the issue:

We still got the problem on our tenant that our styles get removed when the page is loade

[2017-09-25 14:18] htryggva commented on #2276
@dzearing @battletoilet
In Version 4.49.1 (and on the documentation website), it looks like this:

![image](https://user-images.githubusercontent.com/6515360/30813053-a22479dc-a20c-11e7-8578-efbed4387bcc.png)

It looks like this issue has regressed. Any chance of having multiline text boxes have the same font family as the non-multiline text boxes? :)

[2017-09-25 15:06] #2887 closed

[2017-09-25 15:06] lynamemi commented on #2325
Yes, @nekoya, this address officially became the primary site for office-ui-fabric-react at the end of last week. Thank you for pointing out we should fix the rep to point there, we definitely should!

[2017-09-25 15:09] #2325 closed

[2017-09-25 15:14] lynamemi commented on #2525
I have been wanting to do this. I'll take a stab at it and see if we can get design on board with the change.

[2017-09-25 15:16] #1919 closed

[2017-09-25 15:17] #1647 closed

[2017-09-25 15:19] #1703 closed

[2017-09-25 21:25] lynamemi commented on #2893
Do you have any screen shots to help clarify the issue you are seeing?

[2017-09-26 05:15] dzearing commented on #2938
@jijizz Can you please take a look?

It seems this has regressed again.

[2017-09-26 05:34] jijizz commented on #2938
sure, I have couple questions:
1. did this issue only start happening with most recent build?
2. @db3005 Can you please share a repro page? A test account that I can login to debug would be the best because I can not reproduce by myself.

[2017-09-26 08:55] db3005 commented on #2938
Hey @jijizz ,

this issue happened with nearly every build version we tested, i created a new app with office ui version 4.50.1, which only renders a rating component with 3 stars, but the CSS is broken sometimes. This only happens if the require.js gets loaded, this is mostly after clear cache, otherwise the layout is correct if it doesnt get loaded.

I created a repro page with this little app,

[2017-09-26 13:53] geogikk92 opened #2947 "SPFx(On-Prem) - Property for single choice of Office-IU-Fabric - PeoplePicker"
I need to use componen for SPFX webtpart **v1.0.2** for On-Premise server and I want to choice only one person from Office-UI-Fabric - PeoplePicker component

This is my HTML(.tsx)

[code]

Where i install version "npm install office-ui-fabric-react@4.37.0 --save", because she have property I**temLimit {1}**  have following error:

[2017-09-26 14:40] jijizz commented on #2938
@db3005, email sent, waiting for the repro information.  Thanks

[2017-09-26 16:41] jcoleman-pcprofessional opened #2949 "Fabric List examples on developer.microsoft.com not loading"
[Link to page](https://developer.microsoft.com/en-us/fabric#/components/list)

![image](https://user-images.githubusercontent.com/13068139/30872384-b9f29bce-a29e-11e7-8823-c46fcf065aea.png)

fabric-sitev5.min.js?date=2017-9-26:20 Exception in t(t){var o=e.call(this,t)||this;return o.state={pages:[]},o._estimatedPageHeight=0,o._totalEstimates=0,o._requiredWindowsAhead=0,o._requiredWindowsBehind=0,o

[2017-09-26 17:40] Vivihung opened #2954 "Cannot copy text in Panel"
### Bug Report

- __Package version(s)__:
    "office-ui-fabric-core": "5.1.0",
    "office-ui-fabric-react": "4.48.0"

- __Browser and OS versions__:
Apply to all browsers

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
Yes

Requested priority: (Blocking, High, Normal, Low)
Normal

Products/sites affected: (if applicable)

[2017-09-26 18:02] carruthe commented on #2256
Any update on this?  I'm still stuck back on 4.19.0 because of it.  Thanks!

[2017-09-26 19:50] russgove commented on #1782
+1 this feature request

[2017-09-26 20:03] petdun2519 commented on #1618
@betrue-final-final and @mdahamiwal can you please review https://github.com/OfficeDev/office-ui-fabric-react/pull/2958

We had a bug filed on us where narrator was not announcing the error message for text field. After I made this change I can see it is being read aloud properly, think it should work for nvda and firefox as well but haven't tested. Found this issue when looking for similar issues

[2017-09-26 20:15] petdun2519 opened #2960 "Date picker decrement year on keydown will increment year"
Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:

On keydown enter for the decrement year button, the year will actually increment

#### Expected behavior:

The year would decrement

[2017-09-26 20:24] #1618 closed

[2017-09-27 06:08] db3005 commented on #2938
@jijizz, email with repro information sent, thanks for your help!

[2017-09-27 07:21] jijizz commented on #2938
Thanks for the repro. For this particular case, it is caused by the interference between your Office UI bundle (main.js)  and a modern document library UI performance feature.  That performance feature overloads loadStyles function before being used by your office UI bundle.  To easily workaround it, please add this line of code before loading your office ui fabric react bundle:

[code]

So your b

[2017-09-27 07:43] db3005 commented on #2938
Thanks for your fast feedback!

In this case that we click a button and the react stuff gets loaded it will work with your workaround.
But in many other cases we start loading the react files on page load and then it will happen the same issue.
I changed the repro that the javascript load the react files on page load:

`if (window.__themeState__ !== undefined) {
   window.__themeState__.loadStyles

[2017-09-27 08:30] ipip2005 commented on #1201
Validated and fixed

[2017-09-27 08:30] #1201 closed

[2017-09-27 08:53] jijizz commented on #2938
Yeah, it is a nasty race condition.  for your case, add the highlighted code before your script loading code:

[code]

I understand the code looks a bit hacky this way. But you should be unblocked. Meanwhile, I am seeking a fix in sharepoint code base.

[2017-09-27 09:55] db3005 commented on #2938
Thanks for your workaround.
I included it now without the "window.__themeState__ ||" so that the themeState Object its always set to

`{
   theme: undefined,
   lastStyleElement: undefined,
   registeredStyles: [],
   loadStyles: undefined
};`

when the React gets loaded. Now it always renders correct, but another fix in the sharepoint code if possible would be ofcourse much better.

Thanks for yo

[2017-09-27 10:21] holysnake91 opened #2967 "Dropdown CaretDown icon mising"
### Bug Report

- __Package version(s)__:5.0.1
- __Browser and OS versions__: Chrome

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? ( No)

Requested priority: (High)

#### Describe the issue:

The CaretDown icon in Dropdown was missing
![image](https://user-images.githubusercontent.com/15364241/30908579-94fee0c6-a3b0-11e7-9611-ba511

[2017-09-27 10:49] LeopoldLerch opened #2968 "Will Fabric 4 still be maintained?"
How long will the "old" version 4 of office ui fabric react will be maintained together with version 5? Is there any plan?

[2017-09-27 14:48] eNeRGy164 commented on #2967
Do you get a warning in the console like

Maybe you need to add `initializeIcons();` to your code
See https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/icons/README.md

[2017-09-27 16:18] JunyuanZheng commented on #2740
Thank you! I will try today!

[2017-09-27 18:14] dzearing commented on #2968
Yep! so all master PRs go into 5. If there is a patch required for 4, you can create a PR that targets the 4.0 branch and we can publish patches.

I highly recommend moving to 5 as soon as you can but also recognize there are a few points of friction to address so there will be some delay.

[2017-09-27 18:14] #2968 closed

[2017-09-27 18:34] aklepaker opened #2971 "DropDown does not render when updating selectedKeys with empty array."
### Bug Report

- __Package version(s)__: 5.0.1
- __Browser and OS versions__: Chrome 61.0.3163.100 - Windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: (Normal)

Products/sites affected: (if applicable)

#### Describe the issue:

I try to clear the selection in a multiselect DropDown list updating t

[2017-09-27 21:12] dzearing commented on #2954
This is now fixed in 5.0.1!

[2017-09-27 21:12] #2954 closed

[2017-09-27 21:13] dzearing commented on #2310
This is now fixed in the 5.0 release!

[2017-09-27 21:13] #2310 closed

[2017-09-27 21:16] #2949 closed

[2017-09-27 21:21] dzearing commented on #2499
This was resolved.

[2017-09-27 21:21] #2499 closed

[2017-09-27 21:22] dzearing commented on #2967
Yes, please call initializeIcons() in your application startup. This will let you either use the default CDN, or provide your own if you want to host the fonts in your CDN.

[2017-09-28 02:41] fengyue1013 commented on #2844
@micahgodbolt Totally agree with you!

[2017-09-28 03:49] holysnake91 commented on #2967
Yes, after add initializeIcons() , the icon was appear.
Please add the information on the website as this is a manual work needed by developer.
Currently i can't find any information for this in the website.

[2017-09-28 08:18] nekoya opened #2977 "Missing properties on Dropdown document"
I suspect this is a document problem.

- https://developer.microsoft.com/en-us/fabric#/components/dropdown

At this page, `defaultSelectedKeys` and `selectedKeys` are listed on `IDropdownProps interface`. These are for multi-selectable Dropdown. It looks good.

On the other hand, we should use `defaultSelectedKey` or `selectedKey` when to use not multi-selectable Dropdown, however neither properti

[2017-09-28 15:38] #2902 closed

[2017-09-28 21:23] #2960 closed

[2017-09-28 23:25] #2894 closed

[2017-09-29 01:58] MLoughry opened #2987 "Build: change tsconfig.json "lib" to prevent usage of IE11-incompatible APIs"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: Outlook

#### Describe the issue:

During the 5.0.0 beta, there was an IE11 runtime break. I'm not sure if it was due to a missing API or something else; but I know Outlook ran into issues where we inadvertently used APIs that IE1

[2017-09-29 09:56] nguyentoantuit commented on #2431
👍 I am looking forward to seeing this component

[2017-09-30 06:39] #2558 closed

[2017-10-02 07:18] Tapho commented on #2499
still not working with HRM

[2017-10-02 11:57] markuskr opened #2996 "List: Improve the scrollToIndex functionality"
In the current implementation the `List` ensures that the element provided by the index is visible but doesn't support alignment of the element within the visible window.

My usecase is that I have a list with group headers and when clicking on the group header the user is presented with a menu where he can scroll to another group header. If possible this new group header should then be the first

[2017-10-02 12:03] markuskr opened #2997 "List: Support ghosting experience while scrolling"
The `List` component should support ghosting while the user scrolls.

In my usecase I want to show a list of people with profile pictures who are loaded once the list entry becomes visible. Loading the profile pictures requires a network call, therefore I only want to do the call if the user is not scrolling through the list. Instead I want to display a ghosting experience.

`react-virtualized` so

[2017-10-02 12:17] mgordic commented on #2893
![react form](https://user-images.githubusercontent.com/4919036/31076813-51a2cce6-a77c-11e7-939e-9770ddadf3f6.PNG)
Hi,

here is a screenshot. Borders on input elements are doubled, dropdown is missing down arrow and so on...

Did I missed something in office-ui-react configuration?

thank you in advance!

[2017-10-03 00:48] #2848 closed

[2017-10-03 06:41] geogikk92 opened #3010 "SPFx - How to install latest version of Office-UI-React for SPFx v1.0.2"
How to install latest version of Office-UI-React for SPFx v1.0.2 for On-Premise server?

I can not use the latest version, what else to use as a framework like Office-UI-React

This is error when installed last version of Office-UI-React:
![untitled](https://user-images.githubusercontent.com/14110861/31112882-14d96e8e-a81f-11e7-9ea2-4aff34daca17.png)

[2017-10-03 13:06] hbsts opened #3011 "Dropdown controlled versions are not working"
### Bug Report

- __Package version(s)__: Current examples at developer.microsoft.com/en-us/fabric#/components/dropdown
- __Browser and OS versions__: IE 11, Chrome 61.0.3163.100 - Win 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Blocking

Products/sites affected: https://developer.microsoft.com/en-us/fa

[2017-10-03 17:15] carsonal opened #3013 "BasePicker does not have space/enter as an activate button"
If using a selection picker, on key press enter should activate the picker popup if the picker popup is not currently up.

The current behavior is that the picker pop-up only shows when a search is typed

Expected behavior is that enter should activate the picker popup with the default search query (aka no search and the top results)

[2017-10-03 19:24] limefrogyank opened #3015 "ChoiceGroup selection not working in 5.2.1"
### Bug Report

- __Package version(s)__: 5.2.1  with React 15.4.2
- __Browser and OS versions__:  latest chrome & edge in Windows 10 build 16299

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Blocking

Products/sites affected: n/a

#### Describe the issue:

ChoiceGroup doesn't allow any interactions for sele

[2017-10-03 19:24] limefrogyank commented on #3015
Well, crap... seems to be fixed in 5.3.0

[2017-10-03 19:24] #3015 closed

[2017-10-03 19:32] mikewheaton opened #3016 "Fabric Core: Document grid nesting and offsets"
The documentation doesn't cover nesting the Grid component or using offset classes. See [issue #855 on Fabric Core](https://github.com/OfficeDev/office-ui-fabric-core/issues/855) for details.

[2017-10-03 19:37] mikewheaton opened #3017 "Fabric Core: Update documentation for how to use RTL styles"
See [pull request #1029](https://github.com/OfficeDev/office-ui-fabric-core/pull/1029) for details on the change.

[2017-10-03 21:03] kristoferbrown commented on #693
Appears to be fixed now.

[2017-10-03 21:03] #693 closed

[2017-10-03 21:07] kristoferbrown commented on #1181
Multi-select dropdowns exist now. The tagPicker can also be used in this scenario.

[2017-10-03 21:07] #1181 closed

[2017-10-03 21:09] kristoferbrown commented on #1162
Question appears to be answered. Reopen if there are further questions on this topic.

[2017-10-03 21:09] #1162 closed

[2017-10-03 21:38] abettadapur opened #3019 "ComboBox does not show suggestions immediately"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: all

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable)

#### Describe the issue:

Combo box should have a property which allows me to see the su

[2017-10-03 23:30] #2967 closed

[2017-10-04 11:18] naydnabil opened #3023 "Controlled SpinnerButton, more precisions"
in the documentation, under the spinnerButton section : There is no difference between the source code example you provide for the "Basic SpinButton" and the "Stateful SpinButton"..
How to create a controlled spinnerButton?
how to get the value using refs? when i try giving a ref and retreiving the value proprety i get undefined
You say :

witch onChange events?
Thank you

[2017-10-04 13:12] utrolig opened #3024 "Prevent fetching of segoe- and icon-font."
### Bug Report

- __Package version(s)__: 5.3.0

#### Describe the issue:

Is there any way to prevent fabric from trying to fetch the Fonts and IconFont from the sharepointonline CDN? I have replaced all the fonts and implemented a custom icon component that I use in all components, instead of using the iconfont provided by fabric-react.

Even though the icon font is not being used, I can still s

[2017-10-04 15:42] Sohryu7 commented on #3010
got the same problem - gulp build uses ts version 2.2.2, tried to upgrade but failed :(
so same err for me

[2017-10-04 16:42] abettadapur commented on #3019
We need a different behavior, closing this issue

[2017-10-04 16:42] #3019 closed

[2017-10-04 18:53] janopn commented on #2893
Hi! I'm having the same problem right now... General styling is having lots of problems with collides.
I've been trying removing my own styles and react-fabric ones but cannot achieve the same result i achieve running the app in a local way.

[2017-10-04 19:12] MLoughry commented on #2530
This seems to have been fixed at some point, judging by the fact that your CodePen no longer repros the issue.

![image](https://user-images.githubusercontent.com/20823465/31194851-3d52bc2e-a8fd-11e7-9c21-4af6a4b04af4.png)

[2017-10-04 19:12] #2530 closed

[2017-10-04 20:02] MLoughry commented on #2518
I did a bit of investigation. All of these issues arise from the unresolved differences between [`_renderAnchorLink`](https://github.com/OfficeDev/office-ui-fabric-react/blob/72c218322ac10247c6f2693d68abc2e3df9ba7af/packages/office-ui-fabric-react/src/components/Nav/Nav.tsx#L132) and [`_renderButtonLink`](https://github.com/OfficeDev/office-ui-fabric-react/blob/72c218322ac10247c6f2693d68abc2e3df9b

[2017-10-04 20:22] #2668 closed

[2017-10-04 20:30] MLoughry commented on #3011
Looks like it's a bug in the example page, and not the control itself. I will have a PR with a fix shortly.

[2017-10-04 20:35] #2906 closed

[2017-10-04 21:09] #1903 closed

[2017-10-04 21:25] MLoughry commented on #2971
Wow... to be blunt, I'm not sure how this was ever even merged in this state. Controlled multi-select simply does not work; it reverts to uncontrolled when in multi-select.

I should have a PR with a fix by EOD.

[2017-10-04 21:42] #2656 closed

[2017-10-04 21:42] #2766 closed

[2017-10-04 21:42] #2858 closed

[2017-10-04 21:42] #2854 closed

[2017-10-04 21:42] #2781 closed

[2017-10-05 06:25] dzearing commented on #3024
Yes you can. It's a bit hidden but if you stick this on your page:

[code]
This will bypass the font registration code, or redirect the base url for the fonts at another location.

[2017-10-05 07:52] utrolig commented on #3024
@dzearing I've tried that, but it still tries to fetch the Segoe Webfont.

This function is called before mounting the application.
[code]

Even though I'm not using the Segoe font in the application, the font seems to be loaded from the sharepointonline cdn whenever a button element is used (at least that's what my initial assumption is.).

![image](https://user-images.githubusercontent.com/16609

[2017-10-05 09:00] Ridlsan opened #3036 "Pickers. Make onItemSelected cancellable"
Can u fix code of onItemSelected of BasePicker.
If onItemSelected returns null, then dont do anything. So we can check if item already selected and cancel adding without error

[2017-10-05 09:34] OverkillTV opened #3037 "Question - How to retrieve checkbox label ?"
Hi all,
This is not an issue. It's just a small question since I couldn't find where to post this.
If I have a Checkbox like this:
<Checkbox
                      defaultChecked={false}
                      label={"ABC check"}
                      onChange={ this._onCheckboxChange }
                      />

How do I get the checkbox label inside the _onCheckboxChange method ?

Thanks,

[2017-10-05 12:35] mgordic commented on #2893
Hi,

I solve it by resetting OOB input element styles:

`input[type=password], input[type=text], input[type=file], select, textarea, .sp-peoplepicker-topLevel, .sp-peoplepicker-topLevelDisabled, .sp-peoplepicker-autoFillContainer, .ms-inputBox{
  border: solid 0px transparent !important;
}`

Also, Dropdown and Calendar icons were missing and I found that I need to call initializeIcons() function (

[2017-10-05 13:02] lrecknagel opened #3038 "[Callout] - Imports and Behaviour broken in version >5.3.0"
### Bug Report

- __Package version(s)__: >5.3.0
- __Browser and OS versions__: all

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Maybe

Requested priority: Blocking

Products/sites affected: internal app

#### Describe the issue:

When using version > 5.3.0 and try to implement a callout it breaks.
Importing Callout & DirectionalH

[2017-10-05 14:32] Aaron2Ti commented on #2518
@MLoughry thanks a lot for your reviewing

[2017-10-05 14:54] lynamemi commented on #2893
Thanks for figuring things out on the OOB side @mgordic !  We are working on getting the initializeIcons() documentation up on the website very soon. For now, you can reference the documentation for the Icons package: https://github.com/OfficeDev/office-ui-fabric-react/tree/master/packages/icons

[2017-10-05 14:55] #2893 closed

[2017-10-05 16:43] spmcmanus commented on #2708
Did you get this resolved?  I'm having the same issue.

[2017-10-05 17:05] abettadapur opened #3041 "ComboBox autocomplete prop should be a bool, not a string"
### Bug Report

- __Package version(s)__: latest

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable)

#### Describe the issue:
ComboBox Autocomplete prop should be a bool instead of 'off' and 'on'

[2017-10-05 17:13] amyngu opened #3043 "Feature Request: Floating people picker"
A control for people picking not tied to a well. To satisfy scenarios such as @mentions
![image](https://user-images.githubusercontent.com/31973030/31240504-c9547c4a-a9b5-11e7-86e8-3fad3ce6c50d.png)

Priorities and help requested (not applicable if asking question):
Are you willing to submit a PR to fix? Yes!

[2017-10-05 17:15] amyngu opened #3044 "Feature request: PeoplePicker - Allow expansion of PDL/groups"
Currently there is no way to allow expansion for PDLs/groups

Priorities and help requested (not applicable if asking question):
Are you willing to submit a PR to fix? Yes!
Requested priority: Normal

[2017-10-05 19:28] #1265 closed

[2017-10-05 19:30] kristoferbrown commented on #1405
The onEmptyInputFocus can be used to get this behavior.

[2017-10-05 19:30] #1405 closed

[2017-10-05 19:37] #1594 closed

[2017-10-05 19:42] #1704 closed

[2017-10-05 19:45] #1776 closed

[2017-10-05 20:16] verona123 commented on #1776
Actually I had already added support for this. I added property useTargetWidth

[2017-10-05 20:21] chaofeng2014 opened #3046 "HoverCard Scroll broken"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

Recent change in ExpandingCard.styles.ts

[2017-10-05 21:56] #2971 closed

[2017-10-05 21:56] #3011 closed

[2017-10-06 00:14] abettadapur commented on #3041
Wont fix

[2017-10-06 00:14] #3041 closed

[2017-10-06 00:21] abettadapur opened #3050 "ComboBox: onRenderContainer and onRenderList need the default onRenderItem function"
@cschleiden
#### Describe the issue:
The onRenderContainer and onRenderList properties on the ComboBox are not particularly helpful because they are not passed the default render function for onRenderItem.

As an example, if I wanted to render the ComboBox list in the virtualized Fabric list, I have the following problems:
* I do not have any of the state from ComboBox, so I cannot tell if an item

[2017-10-06 00:47] EduardoN opened #3051 "GroupedList group with items and children doesn't show the items."
### Bug Report

- __Package version(s)__: (2.20.0)
- __Browser and OS versions__: (Chrome / WIn 10)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: (High)

Products/sites affected: (if applicable)

#### Describe the issue:

If a group name A has count 7 and startIndex 5 and has children B with count 3 and st

[2017-10-06 01:04] erichdev commented on #3037
Checkbox has the prop `onRenderLabel` where you can use a custom render function for the label, which means you can set a ref for the label, connect it to state, etc

[2017-10-06 03:02] cschleiden commented on #3050
@christiango What do you think? We were thinking instead of just passing the ComboBox's props to onRenderList to pass at least `this._onRenderItem`.

[2017-10-06 03:27] christiango commented on #3050
@jspurlin  would be the best person to answer that, but it sounds reasonable to me.

[2017-10-06 03:36] galvesribeiro commented on #915
Guys (specially from Microsoft and other maintainers of Fabric), did anyone got a solution for that?

The workarounds provided here brings a lot of side effects specially if you are using `react-router` v4.

Thanks!

[2017-10-06 03:56] graham-sportsmgmt commented on #915
No solution ever found, and I agree that the issues start to pile up with any workaround.

We figured that MS isn't putting a high priority on this project so we moved our project to a different UI framework.

[2017-10-06 03:57] galvesribeiro commented on #915
@graham-sportsmgmt thanks for the reply. May I ask you which framework did you moved to?

[2017-10-06 04:09] graham-sportsmgmt commented on #915
We moved to Angular 4 and Bootstrap 4.  We also looked at Zurb Foundation, Ionic, and the new Google Material, but Bootstrap had the widest set of components and the best Angular support.

[2017-10-06 05:12] limefrogyank opened #3052 "Webpage Colors style color code is wrong"
### Bug Report

- __Package version(s)__: NA
- __Browser and OS versions__:

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)  No

Requested priority: (Blocking, High, Normal, Low)  Low

Products/sites affected: (if applicable)  https://developer.microsoft.com/en-us/fabric#/styles/colors

#### Describe the issue:

The color c

[2017-10-06 06:06] OverkillTV commented on #3037
Thanks @erichdev ! I'll try it out.

[2017-10-06 06:06] #3037 closed

[2017-10-06 07:18] geogikk92 commented on #3010
Is there anybody here?

[2017-10-06 09:15] hbsts commented on #3011
@MLoughry
Exceptions (Cannot read property 'state' of undefined) are still thrown for 'Controlled example' and 'Multi-Select controlled example' at https://developer.microsoft.com/en-us/fabric#/components/dropdown
Could you please check?

[2017-10-06 11:39] LeopoldLerch opened #3053 "Demo-Page not working in IE11"
Hy,

don´t really know if I am at the right place here, but the demo page

https://developer.microsoft.com/en-us/fabric#/components

does not work anymore in IE11. Console writes an error about Promise is not defined (of course, its IE11 *g*). Maybe there is a polyfill missing?

No single component description is clickable. Chrome works fine

[2017-10-06 14:12] IanVS opened #3054 "ComboBox autoComplete docs are inconsistent"
The documentation on the website for the ComboBox autoComplete prop is a bit confusing.  It specifies the type as `string` but then mentions that it "defaults to false.":

![image](https://user-images.githubusercontent.com/4616705/31281762-6488fc54-aa7e-11e7-85a9-b06ca56b597b.png)

According to https://github.com/OfficeDev/office-ui-fabric-react/pull/3042, it should indeed stay a string, but it mi

[2017-10-06 14:38] MLoughry commented on #3011
It doesn't look like the website has been updated with my changes. I'm not sure of the cadence for such things: @micahgodbolt, do you?

[2017-10-06 15:18] jspurlin commented on #3050
Yeah, sounds reasonable, but if this change is made that callback will no longer be an `IRenderFunction`. Also, if we make this change we should return the actual `onRenderItem` (the default `_onRenderItem` or the custom render that was passed in, e.g. `let { onRenderItem = this._onRenderItem } = this.props;` and pass `onRenderItem`) otherwise you could get into a weird state where you try to use

[2017-10-06 15:33] cschleiden commented on #3050
Yes, of course. We should follow the "onRender resolution logic". For the `onRenderList` prop continuing to be an `IRenderFunction`, we could extend from the `IComboBoxProps` (e.g., `IComboBoxRenderProps`) and pass the resolved `onRenderOption` method in a new prop.

[2017-10-06 15:38] IanVS opened #3055 "ComboBox sends bad onChanged after backspacing all characters"
### Bug Report

- __Package version(s)__: 5.5.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No, probably not (sorry)

Requested priority: Normal

Products/sites affected: Nutshell CRM Outlook add-on

#### Describe the issue:

I am using an uncontrolled ComboBox on a form, `allowFreeform` set to `true`.  I have found that when I b

[2017-10-06 15:44] abettadapur commented on #3050
onRenderItem also needs to be passed some state about the item, so that I can mark it as selected in a custom implementation

[2017-10-06 17:01] abettadapur opened #3056 "ComboBox Performance degrades with many items"
Willing to submit PR: Yes

When using the ComboBox with 500+ items, the performance of the callout degrades significantly because there is no virtualization of the options list.

The options list could use the Fabric List component for virtualization, which should improve performance.

[2017-10-06 19:15] IanVS opened #3061 "ComboBox newly created freeform item is cleared with escape key"
### Bug Report

- __Package version(s)__: 5.5.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Perhaps, if pointed in the right direction.

Requested priority: Normal

#### Describe the issue:

I am having some difficulties with freeform-entered options in uncontrolled ComboBoxes.  Specifically, after creating an option by typing it

[2017-10-06 21:38] lynamemi commented on #3053
@dzearing  Someone posted this in the Office UI Fabric / General / Teams channel, too, and I was able to repro it. Looks like it might be traceable to es6-promise?

[2017-10-06 22:58] philipzloh opened #3063 "Combobox aria-activedescendant should update as you arrow up/down the list, not after you commit the change"
### Bug Report

- __Package version(s)__:  5.50

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority:  Normal

Products/sites affected: Anyone using Combobox for accessibility

#### Describe the issue:

Open Combobox, arrow key up/down. It is easier to see the problem when you use Narrator on Edge.

#### Actual beh

[2017-10-06 22:59] philipzloh commented on #3063
My proposed fix changes

     aria-activedescendant={ (isOpen && (selectedIndex as number) >= 0 ? (id + '-list' + selectedIndex) : null) }

into

    aria-activedescendant={
              isOpen &&
              (this.state.currentPendingValueValidIndex as number) >= 0
                ? id + "-list" + this.state.currentPendingValueValidIndex
                : null
            }

[2017-10-06 23:06] lynamemi commented on #3052
We recently tackled this issue so this might be a regression. I will look into it.  Thank you!

[2017-10-07 00:21] #3052 closed

[2017-10-07 05:21] limefrogyank opened #3066 "Suggestion: Documentation request for break-point debugging & publishing production code"
First, most of the documentation is **excellent**.  I am a complete noob when it comes to anything about node.js and React.  I've worked with TypeScript before and incorporated it into Web Apps created using the templates from VS Studio, so I knew the programming part... I just knew nothing about anything else.  I was able to take the Yeoman office generator and start learning how to do React stuf

[2017-10-08 13:27] hbsts commented on #3011
@MLoughry
Now the behavior is different:
1/ "Multi-Select controlled example" is working without exception in Chrome Dev Tools.
2/ Controlled example" is throwing exceptions: "TypeError: Cannot read property 'text' of undefined"
3/ In IE 11 the page is not loadding at all: "Promise is undefined".
Could you check with Chrome and IE 11?

[2017-10-08 17:04] hbsts commented on #3011
@MLoughry
Thanks for the update.
Now the behavior is different:
1/ "Multi-Select controlled example" is working without exception in Chrome.
2/ Controlled example" is throwing exceptions: "TypeError: Cannot read property 'text' of undefined"
3/ In IE 11 the page is not loadding at all: "Promise is undefined".
Could you please check the page in IE 11?

at 2/
'selectedItems' is used in onChangeMulti

[2017-10-08 17:06] hbsts commented on #3011
@MLoughry
Thanks for the update.
Now the behavior is different:
1/ "Multi-Select controlled example" is working without exception in Chrome.
2/ Controlled example" is throwing exceptions: "TypeError: Cannot read property 'text' of undefined"
3/ In IE 11 the page is not loading at all: "Promise is undefined".

at 2/
'selectedItems' is used in onChangeMultiSelect and in changeState.
I did some minor

[2017-10-08 17:07] hbsts commented on #3011
@MLoughry
Thanks for the update.
Now the behavior is different:
1/ "Multi-Select controlled example" is working without exception in Chrome.
2/ Controlled example" is throwing exceptions: "TypeError: Cannot read property 'text' of undefined"
3/ In IE 11 the page is not loading at all: "Promise is undefined".

at 2/
'selectedItems' is used in onChangeMultiSelect and in changeState.
I did some minor

[2017-10-09 06:03] harshil93 opened #3067 "[DetailsList] Announcing wrong number of rows for the DetailsList grid"
Are you willing to submit a PR to fix? Yes

Requested priority: High

Products/sites affected: VSTS

#### Describe the issue:

Wrong number of rows are announced for details list because aria-rowcount is set to number of rows + 1 ( probably it is including header also)

#### Actual behavior:

Announcing 501 rows

#### Expected behavior:

Should announce 500 rows

### If applicable, please provide

[2017-10-09 16:19] jlanio commented on #915
I'm generating navigation this way:

[code]

[2017-10-09 17:01] MLoughry opened #3070 "Promise polyfill is missing from Fabric demo site"
### Bug Report

- __Package version(s)__: @uifabric/fabric-website v5.0.9
- __Browser and OS versions__: IE11

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Fabric website

#### Describe the issue:

Several components (including Dropdown and ComboBox) throw Type Exceptions fro

[2017-10-09 17:02] MLoughry commented on #3011
The IE11 issue is unrelated to my changes. I've opened #3070 to track that issue.

[2017-10-09 17:04] IanVS opened #3071 "Testing docs are outdated"
### Bug Report

- __Package version(s)__: master

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Low

#### Describe the issue:

The testing docs at https://github.com/OfficeDev/office-ui-fabric-react/blob/6373316a067e101fb196e3fc4364d45d08f7e62e/ghdocs/TESTING.md (which is linked from the README) seem to be o

[2017-10-09 18:18] charlangaOfficial commented on #2747
Hi! Did you find a possible solution to not focus the address bar?

[2017-10-09 20:11] lynamemi commented on #3053
Also referenced in: #3070

[2017-10-09 22:43] #3050 closed

[2017-10-09 23:34] abettadapur opened #3074 "Add a Form Component"
We should consider the addition of a Form component, which could wrap a set of inputs and consolidate their values into one dictionary.

Example:
[code]

It can use React context to communicate with all of these inputs and gather their values

[2017-10-09 23:39] #3056 closed

[2017-10-10 03:05] nguyentoantuit opened #3076 "Place holder for NormalPeoplePicker"
Hi all,

Could you please show me how can I add place holder for NormalPeoplePicker?

Thanks,
Toan

[2017-10-10 12:58] IanVS commented on #3019
For what it's worth, I agree that focusing the text in the combobox should show the dropdown.  I think it could be unclear to users that they must click the chevron to see suggestions.

[2017-10-10 13:22] IanVS opened #3077 "Dropdown does not jump to option on keyboard input"
### Bug Report

- __Package version(s)__: 5.5.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes, if pointed in the right direction

Requested priority: High

#### Describe the issue:

Normal select boxes on the web will jump to a row when the user types with the keyboard while the select box is open.  (Think of every "State" fiel

[2017-10-10 16:41] SpencerLynn opened #3079 "ColorPicker throws error when entering invalid hex"
### Bug Report

- __Package version(s)__: v5.7.0
- __Browser and OS versions__: I tested in Chrome Version 61.0.3163.100 in Windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: High

Products/sites affected: All

#### Describe the issue:

ColorPicker throws an error when an invalid hex string is placed

[2017-10-10 17:04] dzearing commented on #3023
@jspurlin @christiango fyi

[2017-10-10 18:29] Sohryu7 commented on #3010
i ended up uninstalling (npm uninstall -g @microsoft/generator-sharepoint) and reinstalling (npm install -g @microsoft/generator-sharepoint@latest) and now it works for me :)

[2017-10-10 18:54] jspurlin commented on #3023
The issue is that the code referenced for the controlled SpinButton Example is actually pointing at the basic example code... I'll fix this

[2017-10-10 19:52] #3023 closed

[2017-10-11 04:52] dzearing commented on #3071
@IanVS Thanks for calling out. I've updated them. Feel free to submit PRs if you'd like to add content!

[2017-10-11 04:52] #3071 closed

[2017-10-11 04:53] dzearing commented on #3070
Hmmm. I can take a look! I wonder if I broke this in a package.json update.

[2017-10-11 05:30] Sachin077 opened #3086 "Changes not reflecting in component after changing state if state filed is an object"
### Bug Report

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Blocking

Products/sites affected: TFS

#### Describe the issue:

Changes are not reflecting in component after changing the state if the state field is an object. An object is passed by reference and due to this in the below line of code (from **D

[2017-10-11 11:43] hbsts opened #3088 "Spinner is not rotating in IE 11"
### Bug Report

- __Package version(s)__: office-ui-fabric-react@5.3.0
- __Browser and OS versions__: IE 11

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) High

Products/sites affected: (if applicable)

#### Describe the issue:

Spinner is rotating in Chrome, but not in

[2017-10-11 12:08] IanVS commented on #3071
Looks great, thanks!

[2017-10-11 12:47] Sohryu7 commented on #3010
that one really helped me: [https://today.collab365.community/story/deploy-sharepoint-framework-client-side-web-parts-to-sharepoint-2016-on-premises/](url)

[2017-10-11 14:33] enriquin opened #3089 "ErrorMessage in datepicker"
Hi all,

I think the datepicker control should have an "errorMessage" property, just like all the other data-entry controls. Is there any way to show an error message when (for example) the value is not valid?

Also, when you set the isRequired property, an error message with no text and an icon is shown:

![image](https://user-images.githubusercontent.com/30507975/31448364-89ef6f6c-aea4-11e7-998c

[2017-10-11 14:35] olemp commented on #2562
@dzearing Has there been any changes to this lately? The issue is back, but not as frequently as before. 2-3 og 10 page loads approx.

[2017-10-11 17:54] dzearing commented on #3070
@erichdev will take a look

[2017-10-11 18:47] erichdev commented on #3070
@MLoughry To confirm, are you running `npm start` on oufr? I was able to repro on fabric-website but not on oufr

[2017-10-11 18:49] MLoughry commented on #3070
I was not able to repro it against `npm start`. It seems to just be on the public website.

[2017-10-11 21:24] #3070 closed

[2017-10-11 21:42] lynamemi commented on #3053
Resolved: https://github.com/OfficeDev/office-ui-fabric-react/pull/3090

[2017-10-11 21:42] #3053 closed

[2017-10-11 23:52] martellaj opened #3096 "Can't browse to component pages in IE"
![image](https://user-images.githubusercontent.com/1019478/31472590-81b2de74-aea4-11e7-8693-390f4f1ace34.png)

[2017-10-11 23:54] dzearing commented on #3088
Using the latest oufr Spinner, I am seeing it spin. Here's a codepen.

https://codepen.io/dzearing/pen/EwpYob

[2017-10-11 23:54] #3088 closed

[2017-10-11 23:55] dzearing commented on #3088
Note: Please reopen if this doesn't work for you! maybe you can provide more details and a repro.

[2017-10-12 01:24] erichdev commented on #3089
DatePicker has prop `strings` which takes `IDatePickerStrings`. One of the properties of `IDatePickerStrings` is `invalidInputErrorMessage`, which allows you to pass a custom error message. e.g.
[code]

The icon was the standard prefix for the error message, and the * is the default error message if no custom error is passed in. Note that in Fabric 5.0, the icon is removed.

[2017-10-12 01:24] #3089 closed

[2017-10-12 01:26] #3054 closed

[2017-10-12 02:02] jckh1234 opened #3098 "Incompatible with create-react-app"
### Bug Report

- __Package version(s)__: 5.7.0
- __Browser and OS versions__: IE11/Chrome Win7

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: (if applicable)

#### Describe the issue:
Run npm install office-ui-fabric-react remove create-react-app installation

#### Actual beh

[2017-10-12 05:56] dzearing commented on #3098
You probably should have run `yarn add office-ui-fabric-react` rather than `npm --save install office-ui-fabric-react` if you're using yarn (i believe create-react-app uses yarn by default if you have it installed.)

Just something to look for: installing fabric-react shouldn't cause 1024 packages to be removed. :)

I know with a fairly high degree of certainty that create-react-app works with fab

[2017-10-12 05:56] #3098 closed

[2017-10-12 05:56] dzearing commented on #3096
This has been resolved.

[2017-10-12 05:56] #3096 closed

[2017-10-12 05:57] dzearing commented on #3046
@leddie24 or @atneik Could one of you investigate?

[2017-10-12 05:57] dzearing commented on #3076
@joschect Maybe you could help here?

[2017-10-12 06:03] dzearing commented on #3086
The DetailsList will not re-render everything, by design, by simply mutating something in an item in the array of items. I don't see how the code snippet is relevant to that though.

Your options:

1. Use immutable data. If you want to update the items, use a new array.
2. Call force update if you mutate the array or set without creating a new one.

If this doesn't help, please reopen this issue a

[2017-10-12 06:03] #3086 closed

[2017-10-12 06:05] dzearing commented on #3077
Dropdown is simply missing this feature! If you'd like to take a stab at making it work, it would be very welcome. The ComboBox and Dropdown are very similar and really I do wish they would share more code.

[2017-10-12 06:10] dzearing commented on #3079
@phkuo could you help here?

[2017-10-12 06:11] dzearing commented on #3055
@jspurlin

[2017-10-12 06:27] dzearing commented on #3038
@joschect This seems related to your recent changes! Please investigate asap.

Codepen as well:

https://codepen.io/dzearing/pen/bojpgX

[2017-10-12 06:32] dzearing commented on #3038
Nevermind. Figured it out. `target` should be used. Not `targetElement`, which has been deprecated for a long time and was removed (accidentally) in a recent build which should have been released with the 5.0 bump but missed.

Forked your example and replaced `targetElement` with `target` and it works. Sorry for the confusion!
https://codesandbox.io/s/zl05nm2nyp

[2017-10-12 06:32] #3038 closed

[2017-10-12 06:45] lrecknagel commented on #3038
Thanks for the investigation! This solves the problem. Overseen that prop name change.

[2017-10-12 11:58] #2252 closed

[2017-10-12 15:15] betrue-final-final opened #3102 "High contrast issues in components"
Are you willing to submit a PR to fix? (Yes)

Requested priority: (Normal)

Hey, I was looking through Master in high contrast and noticed some issues:

1. Carets in the UI are still grey, and should be windowText system color
![image](https://user-images.githubusercontent.com/20363037/31502736-c44d31ac-af22-11e7-8348-0a2348d5cc7c.png)

2. Cards should have a windowText color border around them
![

[2017-10-12 16:01] dzearing commented on #3066
There are a ton of tutorials on the web for debugging web pages and JavaScript. Hope these help:

I highly recommend this for starting a sample app!
[TypeScript React starter pack using create-react-app](https://github.com/Microsoft/TypeScript-React-Starter)

Once you have set up a project using that, add `office-ui-fabric-react` by running `yarn add office-ui-fabric-react`. This will install the

[2017-10-12 16:02] dzearing commented on #3066
I'm closing as this isn't really a library issue. If you however run into any problems using the library don't hesitate to reopen an issue.

[2017-10-12 16:02] #3066 closed

[2017-10-12 16:08] dzearing commented on #2938
Closing as this seems to have been resolved.

[2017-10-12 16:08] #2938 closed

[2017-10-12 16:08] dzearing commented on #3010
@iclanton Can you help here?

[2017-10-12 16:09] dzearing commented on #3036
@joschect Can you look?

[2017-10-12 16:13] dzearing commented on #2987
Hmm. It seems ok to me? I'm not sure enough to make a call. I know that there was a recent issue with the website because some samples were assuming promises existed, but don't in ie11. We added the es6-promise polyfill to resolve.

I am not sure that adding es2015.promise to the lib would be a good idea. Correct me if i'm misunderstanding, but we really want a project to fail when referencing pro

[2017-10-12 16:20] MLoughry commented on #2987
You can eschew the `es2015.promise` lib if you use other typings, but remembering to include the Promise polyfill is ultimately an orthogonal issue. However, the configuration is currently:
[code]
which means it will allow several APIs (including `Object.assign()` that don't exist in IE11.

[2017-10-12 17:00] dzearing commented on #3010
The problem is that you need updated TypeScript to 2.4.x or above. However this is more of an SPFX question.

[2017-10-12 17:14] dzearing commented on #1435
This issue is pretty old and likely is because of using an older version of TypeScript. Please upgrade to 2.4.x or above.

[2017-10-12 18:44] erichdev commented on #1355
This has been implemented

[2017-10-12 18:44] #1355 closed

[2017-10-12 18:57] erichdev commented on #1399
Could not repro with latest version of Chrome, please reopen if the issue still occurs

[2017-10-12 18:57] #1399 closed

[2017-10-12 19:02] erichdev commented on #1479
Couldn't repro, and app now uses webpack. Please reopen if there are still issues

[2017-10-12 19:02] #1479 closed

[2017-10-12 19:03] #1435 closed

[2017-10-12 19:15] erichdev commented on #1528
Closing, don't think this is an issue anymore. Please reopen if you still experience issues

[2017-10-12 19:15] #1528 closed

[2017-10-12 19:39] lijunle commented on #1202
@erichdev Why closing this? This issue is still there and ***not*** fixed.

Here is the code in [`BasePicker.updateSuggestionsList`](https://github.com/OfficeDev/office-ui-fabric-react/blob/1b22b3e124172e0438363d6026cf44181ce676d5/packages/office-ui-fabric-react/src/components/pickers/BasePicker.tsx#L288) method:

https://github.com/OfficeDev/office-ui-fabric-react/blob/1b22b3e124172e0438363d6026c

[2017-10-12 20:19] erichdev commented on #1202
Misread the above, reopening

[2017-10-12 20:39] erichdev commented on #1651
`IDialogProps` extends `IAccessiblePopupProps` to give Dialog access to those focus properties. Please reopen if there are any issues

[2017-10-12 20:39] #1651 closed

[2017-10-12 20:56] erichdev commented on #1774
Closing because it seems the root of this issue is discussed here https://github.com/OfficeDev/office-ui-fabric-react/issues/1202

Please reopen if this is a separate issue that still exists

[2017-10-12 20:56] #1774 closed

[2017-10-12 20:57] erichdev commented on #1045
Closing because it seems the root of this issue is discussed here https://github.com/OfficeDev/office-ui-fabric-react/issues/1202

Please reopen if this is a separate issue that still exists

[2017-10-12 20:57] #1045 closed

[2017-10-12 21:07] erichdev commented on #1797
Could not repro. Closing. Please reopen if you are still experiencing this issue, and please provide a Codepen if possible.

[2017-10-12 21:07] #1797 closed

[2017-10-12 22:23] erichdev commented on #2058
Closing since workaround was found and because use of `this._resolveRef()` is [recommended ](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/ghdocs/BESTPRACTICES.md#for-gathering-refs-avoid-string-refs-use-resolve-functions). Please reopen if this is still an issue.

[2017-10-12 22:23] #2058 closed

[2017-10-12 22:29] erichdev commented on #2094
Seems this is resolved, please reopen if it's still an issue

[2017-10-12 22:29] #2094 closed

[2017-10-12 22:44] erichdev commented on #2146
Believe this is resolved with the separate icons package, please reopen if this is still an issue

[2017-10-12 22:44] #2146 closed

[2017-10-12 22:58] erichdev commented on #2158
Appears this has since been resolved, please reopen if it's still an issue

[2017-10-12 22:58] #2158 closed

[2017-10-12 23:11] erichdev commented on #2205
Icons are now in a separate [package ](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/icons/src/IconNames.ts)which should provide consistency, please reopen if any issues remain

[2017-10-12 23:11] #2205 closed

[2017-10-12 23:21] phkuo commented on #3079
Out tomorrow, I can take a look next week. Probably just needs a falsey check in componentWillReceiveProps()

[2017-10-13 01:22] joschect commented on #3076
@nguyentoantuit What do you mean by placeholder? Do you mean placeholder text like:
![image](https://user-images.githubusercontent.com/20801176/31521099-1c032796-af5d-11e7-8df7-2fe87d43cc17.png)

If that's what you want then you can pass in the placeholder you want to the inputProps property.

[2017-10-13 01:59] erichdev commented on #2426
Closing since this has been resolved. Note Fabric site has an issue in IE 11, the fix has been submitted and is pending deployment.

[2017-10-13 01:59] #2426 closed

[2017-10-13 02:02] #2498 closed

[2017-10-13 03:10] #3079 closed

[2017-10-13 05:45] ambar opened #3112 "Slider: should round value"
### Bug Report

- __Package version(s)__: latest(5.3.0)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

#### Actual behavior:

![image](https://us

[2017-10-13 06:40] nguyentoantuit commented on #3076
@joschect Yes, exactly. We have this option in TextField, but in people picker (NormalPeoplePicker), I don't see that property.

[2017-10-13 08:35] LeopoldLerch commented on #3053
However, still not working

[2017-10-13 12:46] hbsts commented on #3088
@dzearing
Hi David,
thanks a lot for the codepen. Spinner is rotating in my IE 11, too. I created a simple VS Code react project and it worked there, too.

I forgot to mention (sorry for this), that the issue relates to an SPFx WebPart. I investigated a bit more. When switching the mode from IE 10 to IE 11 in IE Dev tools, it works in SPFx, too. It seems, that SPFx Workbench needs IE 11 mode to ma

[2017-10-13 13:20] timura1992 opened #3113 "Feature Request: Don't close Callout when clicking outside"
Can you add a property to Callout which prevents closing it by clicking outside? (similar to the preventDismissOnScroll property) This would prevent to close the Callout unintentionally.

A close button like this:

![image](https://user-images.githubusercontent.com/25741401/31547718-a43a797c-b028-11e7-8c8c-75c3d07320fd.png)

could still trigger isBeakVisible

Priorities and help requested (not app

[2017-10-13 14:38] lynamemi commented on #3053
@LeopoldLerch the master branch in the repo has the fix, but it won't make it onto the website until we next deploy. Hopefully by next week.

[2017-10-13 15:25] dzearing commented on #3113
I believe by default it does not dismiss when you click outside. You have to implement it. How are you using it? Can you provide a codepen?

Here's one to fork.
https://codepen.io/dzearing/pen/bojpgX

[2017-10-13 15:27] dzearing commented on #3112
Yuck! gross bug.

[2017-10-13 15:53] dzearing commented on #3112
@erichdev can you make a quick pr for this?

[2017-10-13 16:00] dzearing commented on #3112
I've noticed also that the label width is just not adequate. If you have max={10000}, it can't render that, even without the rounding issue.

[2017-10-13 18:31] erichdev commented on #3067
`aria-rowcount={ (isHeaderVisible ? 1 : 0) + (items ? items.length : 0) }`
The header is being counted only when it's visible. Should the header never be counted? Seems intentional in the code, but not sure what the standard is

[2017-10-13 21:02] amyngu opened #3118 "Feature Request: SelectedItemsList Component"
Create a component that only takes cares of selected items. Breaking responsibilities of the BasePicker down further.

In conjunction with the FloatingPicker #3043 we are able to create a new component, like the BasePicker, but more compartmentalized.

Priorities and help requested (not applicable if asking question):
Are you willing to submit a PR to fix? Yes!

[2017-10-13 21:25] joschect commented on #3036
@Ridlsan Definitely, I think that should be pretty easy. That said, what should happen to the displayvalue? Does that still clear out normall? Or should it keep whatever value is set there. For instance I enter the name of a person who has already been been added, and then click that person. Should the menu just not dismiss at at all and the name remain in the input field? Or should the suggestion

[2017-10-13 22:07] #3112 closed

[2017-10-13 22:13] yananym opened #3119 "FirstWeekOfYear - with FirstFourDayWeek setting enabled December 2020 has 2 weeks with number 52"
### Bug Report

- __Package version(s)__:

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes)

Requested priority: (Normal)

Products/sites affected: OWA Calendar

#### Describe the issue:

![microsoftteams-image 1](https://user-images.githubusercontent.com/3697148/31568311-7cb912a0-b028-11e7-881a-b01e989474e9.png)

#### Actual beh

[2017-10-14 00:04] erichdev commented on #3076
@nguyentoantuit PeoplePicker has prop `inputProps` that takes an object of input properties, so to apply a placeholder, it'd be

[code]

Closing issue, please reply if you still have questions about the placeholder

[2017-10-14 00:04] #3076 closed

[2017-10-14 00:11] erichdev commented on #3013
@carsonal I think what you're looking for is the `onEmptyInputFocus` prop. This takes a callback for when the user clicks the input and there's no search query. See the PeoplePicker docs for an example: https://developer.microsoft.com/en-us/fabric#/components/peoplepicker

Closing this, please reply if there are still issues

[2017-10-14 00:11] #3013 closed

[2017-10-14 00:31] erichdev commented on #2997
@cschleiden Are you working on something like this?

[2017-10-14 00:58] betrue-final-final commented on #2997
This is a valuable feature for slow loading and large lists. We should have a design for this to work with several configurations.

[2017-10-14 01:14] erichdev commented on #2594
The header is given a role of 'button' only if the column is not defined as disabled:

https://github.com/OfficeDev/office-ui-fabric-react/blob/8e5a33aca736718ff5a8b5b22606d51809c222fe/packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.tsx#L256

@satbai Closing for now, please reply if issues remain

[2017-10-14 01:14] #2594 closed

[2017-10-14 18:42] cschleiden commented on #2997
No, not yet. But I think it could be a valuable addition.

[2017-10-16 00:38] #2626 closed

[2017-10-16 13:52] #2511 closed

[2017-10-16 17:59] erichdev commented on #2747
Looks like this has to do with putting `FocusZone` inside of `FocusTrapZone` (`Modal` wraps its children in `FocusTrapZone`).

See repro here: https://codepen.io/erichdev/pen/PJxNZJ A few things to note:
- If you tab from `SearchBox` to the buttons, then tab again, you are able to tab outside of the `FocusTrapZone`
- If you tab from the `SearchBox` to the button, then arrow right to the last butto

[2017-10-16 18:24] erichdev commented on #2847
This has been fixed as of 5.4.0. Please reply if any issues remain.

[2017-10-16 18:24] #2847 closed

[2017-10-16 18:47] erichdev commented on #2761
@smoralesd This has been fixed in Fabric 5, please reply if any issues remain

[2017-10-16 18:47] #2761 closed

[2017-10-16 18:56] erichdev commented on #2832
@techninja24 Am I understanding correctly -- when disabled, you don't want the input box to show at all; instead, you want all the tags to be displayed?  If so, why not render another component, like a List?

[2017-10-16 19:11] erichdev commented on #2816
@aaronyzhou Are you still experiencing this issue? I couldn't repro on my machine with your Codepen, even when using older versions of Fabric

[2017-10-16 20:32] #2792 closed

[2017-10-16 20:54] erichdev commented on #2785
@javedsha I'm not sure what the conflict is with React Bootstrap's modal, but Fabric has its own Modal and Dialog components. I [tested with Dialog](https://codepen.io/erichdev/pen/VMVPbd) and did not experience this issue. Could you use Fabric's Dialog instead?

[2017-10-16 21:02] erichdev commented on #2769
Closing since it seems this has been resolved when testing with the OWA link above. Please reply if any issues remain

[2017-10-16 21:02] #2769 closed

[2017-10-16 21:21] erichdev commented on #2752
@douglas-redplan Are you still experiencing this issue? If so, could you create a Codepen repro?

[2017-10-16 21:37] erichdev commented on #2683
@DennisKuhn Are you still experiencing this issue?

[2017-10-16 21:46] erichdev commented on #2660
I believe PR https://github.com/OfficeDev/office-ui-fabric-react/pull/3006 should have fixed this issue. Please reply if issues remain

[2017-10-16 21:46] #2660 closed

[2017-10-16 22:42] erichdev commented on #2608
Closing per comments on PR. Please reply if there are any updates or if this warrants additional discussion

[2017-10-16 22:42] #2608 closed

[2017-10-16 23:40] kristoferbrown commented on #3102
@betrue-final-final, a couple questions as I'm starting to go down this list:
- What component does 1 occur in? I can't see that happen anywhere.
- Can you still repro 2 in master? It appears to have been fixed by the last HC bugfix PR.
- Item 6 is occurring due to a regression preventing the WindowText border I put around initial only personas from being a circle. This got me thinking, is there a

[2017-10-17 00:07] erichdev commented on #2524
DetailsList now has the prop `onRenderDetailsHeader` that allows you to customize the header, including click events. Please reply if there are still any issues

[2017-10-17 00:07] #2524 closed

[2017-10-17 00:18] erichdev commented on #2517
@HughWood Are you still having this issues? I'm unable to repro

[2017-10-17 00:41] erichdev commented on #2488
Closing since question has been answered, please reply if any issues remain

[2017-10-17 00:41] #2488 closed

[2017-10-17 00:46] #2754 closed

[2017-10-17 00:54] erichdev commented on #2396
Closing, please reply if any issues remain

[2017-10-17 00:54] #2396 closed

[2017-10-17 04:24] betrue-final-final commented on #3102
#1 seems to be a no-repro now
#2 is no repro!
For high contrast, we don't have backgrounds, just borders. Alternately we could reverse them and make them white with black initials.

[2017-10-17 07:41] Ridlsan commented on #3036
@joschect i think just disapear, like it was selected.

[2017-10-17 11:05] HughAJWood commented on #2517
@erichdev I don't have access to the environment to see if this behaviour is still being exhibited.

I found the panel height to be stretching to fit to the content off the bottom of the page and becoming hidden.

To fix I had to add and ieFix.css which contains:

.ms-Panel-content {
  height:90%;
}

[2017-10-17 16:52] #3043 closed

[2017-10-17 17:13] erichdev commented on #2023
@notgiorgi Are you still getting this warning? If so, could you post a Codepen? I wasn't able to repro even with older versions of Fabric

[2017-10-17 18:27] erichdev commented on #1997
Closing because there hasn't been any response from author. Please reopen if this issue still occurs.

[2017-10-17 18:27] #1997 closed

[2017-10-17 20:32] erichdev commented on #1927
Closing since it seems questions have been answered, and the new CommandBar should be moving to the main Fabric package soon: https://github.com/OfficeDev/office-ui-fabric-react/pull/3138 Please reply if any issues remain

[2017-10-17 20:32] #1927 closed

[2017-10-17 20:35] erichdev commented on #1921
See https://github.com/OfficeDev/office-ui-fabric-react/issues/2506

[2017-10-17 20:35] #1921 closed

[2017-10-17 20:48] lynamemi commented on #2506
@MLoughry I started working on a fix for this bug, but @Jahnp mentioned you might be a good OWA resource for this variant. Would you want to take this on? Or I can work on a PR and add you as a reviewer / code owner?

[2017-10-17 20:52] MLoughry commented on #2506
I'd be fine reviewing a change, but I don't have the bandwidth to make the change myself. I can see if the stakeholders on OWA Calendar would be able to contribute a fix.

[2017-10-17 20:56] erichdev commented on #1926
@rickyp-ms Are you still experiencing issues with colors? Theme support has improved since issue was opened

[2017-10-17 20:57] lynamemi commented on #2506
Great! Keep me posted. If no bandwidth in OWA, I can move forward with it and add you as a reviewer.

[2017-10-17 21:01] erichdev commented on #1888
Closing since solution has been posted. Please open a new issue if you still experience font issues

[2017-10-17 21:01] #1888 closed

[2017-10-17 21:32] erichdev commented on #1777
Seems the consensus is that adding Tooltips would not aid accessibility. Closing for now. @saritwik please reply if you have any updates and would like to continue discussion

[2017-10-17 21:32] #1777 closed

[2017-10-17 21:41] avnikp opened #3140 "Allow clicking commandbar context menu item without dismissing the menu"
### Bug Report

- __Package version(s)__: 5.0.1
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)
High

Products/sites affected: (if applicable)
Owa mail command bar Move to menu

#### Describe the issue:

Overriding

[2017-10-18 00:34] SpencerLynn opened #3142 "ColorPicker should accept localized text for Alpha/Red/Blue/Green/Hex strings"
### Bug Report

- __Package version(s)__: v5.7.0
- __Browser and OS versions__: N/A

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: All

#### Describe the issue:

ColorPicker component hard codes text for Hex/Red/Green/Blue/Alpha labels in the UI. There should be props to over

[2017-10-18 02:43] compulim opened #3145 "Strange GallatinLogo icon"
### Bug Report

- __Package version(s)__: fabricmdl2icons-2.47.woff2
- __Browser and OS versions__: Edge 16 and Chrome 61

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites affected: https://developer.microsoft.com/en-us/fabric#/styles/icons

#### Describe the issue:

When browsing thru https

[2017-10-18 04:23] #3074 closed

[2017-10-18 04:24] #2813 closed

[2017-10-18 06:44] dzearing commented on #3145
Weirdness! What is this? @mikewheaton @Jahnp

[2017-10-18 07:15] Jahnp commented on #3145
That icon has been in the font in that form for a long time and was likely on request from a product team. We can follow up to clarify its usage but I wouldn't classify it as a bug.

[2017-10-18 07:15] #3145 closed

[2017-10-18 07:35] wobba commented on #1788
Noticed this as well - very useless without having an onchanged event for the searchbox. Right now I'm adding my own search box to the commandbar instead.

[2017-10-18 18:41] chriswbarrett commented on #1788
I worked around it by wrapping the component then doing an componentWillMount that attaches a native event onchange handler

[2017-10-18 18:59] mikewheaton opened #3148 "Documentation: Wide icons cover neighboring icons"
As noted in #3145, very wide icons (such as `GallatinLogo`) will cover neighboring icons in the grid:

![image](https://user-images.githubusercontent.com/1382445/31737167-7ef89668-b3fb-11e7-922b-d7b05c97b4a2.png)

Maybe hide the overflow by default, and then on hover show the overflow and include a background color to obscure any icons that might be behind it?

[2017-10-18 19:19] vertonghenb commented on #2554
I'm also wondering how to change the default font size, any easy way to do this instead of manipulating all the CSS?

[2017-10-18 21:36] martellaj opened #3150 "[Fabric Website] Clicking any links in component header doesn't link properly"
Screenshot in case my title doesn't make sense:
![image](https://user-images.githubusercontent.com/1019478/31743859-886bb1e2-b411-11e7-9e1c-2816ed82bfcc.png)

It's true for each of those menu items.

Original link: https://developer.microsoft.com/en-us/fabric#/components/contextualmenu
Link after clicking "Variants": https://developer.microsoft.com/en-us/fabric#Variants

[2017-10-18 21:41] lynamemi commented on #3150
Just got this PR through! Will deploy the new changes soon :)
https://github.com/OfficeDev/office-ui-fabric-react/pull/3139

[2017-10-18 21:41] #3150 closed

[2017-10-18 22:07] akburns72 opened #3151 "SPFx"
### Bug Report

- __Package version(s)__: Using the yo generator sharepoint React
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)Yes

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable)All

#### Describe the issue:

I a

[2017-10-18 22:17] vertonghenb commented on #1788
@micahgodbolt any eta on this or do you want some help with something?

[2017-10-19 00:02] erichdev commented on #2816
Closing because unable to repro. Please reopen if you still experience issues.

[2017-10-19 00:02] #2816 closed

[2017-10-19 00:16] erichdev commented on #2683
Closing because unable to repro. Please reopen if you still experience issues.

[2017-10-19 00:16] #2683 closed

[2017-10-19 00:17] erichdev commented on #2785
Closing because no response and this may be an issue with React Bootstrap. Please reopen if you still experience issues.

[2017-10-19 00:17] #2785 closed

[2017-10-19 00:18] erichdev commented on #2517
Thanks for the update. Since you have a workaround and I couldn't repro the issue, I'm going to close this. If you still experience this, feel free to reopen

[2017-10-19 00:18] #2517 closed

[2017-10-19 00:40] erichdev commented on #2752
Closing because unable to repro. Please reopen if you still experience issues.

[2017-10-19 00:40] #2752 closed

[2017-10-19 00:45] erichdev commented on #1263
Closing because unable to repro. Please reopen if you still experience issues.

[2017-10-19 00:45] #1263 closed

[2017-10-19 00:48] erichdev commented on #1579
@vashit Are you still experiencing this? I couldn't repro in Chrome or Edge

[2017-10-19 00:56] erichdev commented on #2120
Closing since there hasn't been any response. Please open a new issue if you experience any problems

[2017-10-19 00:56] #2120 closed

[2017-10-19 01:19] erichdev commented on #2261
Closing because no response. Please reopen if issues remain

[2017-10-19 01:19] #2261 closed

[2017-10-19 01:53] erichdev commented on #2771
Closing because no response. Please reopen if any issues remain

[2017-10-19 01:53] #2771 closed

[2017-10-19 10:16] fpintos opened #3161 "DatePicker must not try to parse the text value unless it was changed by the user"
### Bug Report

- __Package version(s)__: 5.5.0
- __Browser and OS versions__:

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: Outlook (OWA)

#### Describe the issue:

When text input is enabled, DatePicker tries to parse the string returned by formatDate even if the formatted

[2017-10-19 15:55] micahgodbolt commented on #1788
Sorry about the crazy long delay. @vertonghenb, I just just opened a PR to move the new command bar into Fabric. If you are able to take a look at it, try it out, give a thumbs up, it'll make the PR go faster.

You can either pull down my branch and try it there, or you can add @uifabric/experiments as a dependency and import the commandBar from there, to try it in your product.

[2017-10-19 17:42] erichdev commented on #2627
Closing because no response. Please reopen if any issues remain

[2017-10-19 17:42] #2627 closed

[2017-10-19 17:43] erichdev commented on #2832
Closing because no response. Please reopen if any issues remain.

[2017-10-19 17:43] #2832 closed

[2017-10-19 17:43] erichdev commented on #2023
Closing because no response. Please reopen if any issues remain.

[2017-10-19 17:43] #2023 closed

[2017-10-19 17:43] erichdev commented on #1926
Closing because no response. Please reopen if any issues remain.

[2017-10-19 17:43] #1926 closed

[2017-10-19 18:52] erichdev commented on #2401
@suztocco Are you still experiencing this? I wasn't able to repro in Chrome or Firefox

[2017-10-19 19:09] fidabhittani opened #3164 "How to change the base color?"
I am new to the Fabric-ui. I very much like it, Now as we see the basic colors in UI is standard `white` and `Blue`. Is there any chance if I may change the `base-color` which may affect all the ui by using the derivatives of the base color?
like lets say If use base-color: red.

[2017-10-19 21:10] erichdev commented on #2351
Closing. Please reopen if you have additional questions

[2017-10-19 21:10] #2351 closed

[2017-10-19 22:11] erichdev commented on #2465
Persona has prop `onRenderInitials` where you can pass a function to custom render initials, which you can use to handle other languages.

[2017-10-19 22:12] #2465 closed

[2017-10-19 22:14] erichdev commented on #2483
Closing because no response. Please reopen if any issues remain

[2017-10-19 22:14] #2483 closed

[2017-10-19 23:12] #1302 closed

[2017-10-20 00:03] suztocco commented on #2401
I am looking at the Fabric site and I do not see the underline changing color on hover, etc. I am looking at Chrome on Mac

[2017-10-20 00:10] erichdev commented on #2416
@veloiya Are you still experiencing this? I wasn't able to repro

[2017-10-20 01:08] erichdev commented on #1573
Closing since docs have been updated. @kngrace If you'd like, please open another issue for the feature request so it can be tracked separately.

[2017-10-20 01:08] #1573 closed

[2017-10-20 01:17] erichdev commented on #2316
This has been resolved, please reopen if any issues remain

[2017-10-20 01:17] #2316 closed

[2017-10-20 01:24] erichdev commented on #2747
Please see dupl #2437

[2017-10-20 01:24] #2747 closed

[2017-10-20 03:53] #3142 closed

[2017-10-20 06:28] #1934 closed

[2017-10-20 06:32] #2977 closed

[2017-10-20 07:54] timura1992 commented on #3113
Thank you! you're right

[2017-10-20 07:54] #3113 closed

[2017-10-20 08:30] roofs-runner opened #3170 "On clicking a pivot, pivot item jumps on the distance of its height"
I am quite new to office fabric and I came across the issue that bothers me a lot.

I am using ` #Pivot` component to house tabs. When browser window is near bottom and I click a pivot, my callback function is not triggered and window scrolls up on the distance of the pivot item height. So, I need to click pivot second time to switch to another tab.

This happens only if Pivots are close to the sc

[2017-10-20 16:02] daweffe opened #3172 "Accessibility - ChoiceGroup aria-labelledby field incorrect resulting in voiceover tonot announce text"
### Bug Report

- __Package version(s)__: 4.31.0
- __Browser and OS versions__: macOS, Safari, voiceOver screen reader

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Planner

#### Describe the issue:

On macOS the screen reader does not read the UI text on ChoiceGroup controls

[2017-10-20 16:41] #2122 closed

[2017-10-20 16:49] betrue-final-final commented on #2332
This is correct. We shouldn't be using the ARIA label to name the type of control if it's a semantic html control like a button or radio.

[2017-10-20 16:55] betrue-final-final commented on #2786
Alright, breaking this down. You can sort by any column header just by tapping. Once you do, an arrow appears that shows the sort order on that column.

Fixes I see here:
1. A tooltip would be useful
2. An ARIA label saying what if it's sorting A-Z, Z-A, etc...I assume though that as a generic control we just need to put in "ascending" and "descending" as a stub, though those descriptions aren't v

[2017-10-20 17:13] russgove opened #3173 "Rotate column headers on DetailsList"
Hi,
I am using Fabric react  DetailsList to  create a grid showing what users have authorization to which lists on a sharepoint site. I list the lists down the left and the users across the top.  In the details I just display a checkmark if the user has permissions.

The screen takes up a lot of space. I want to display the user name column headers at a 45 degree angle to save space, Been trying f

[2017-10-20 18:14] erichdev commented on #3170
I'm unable to repro. Could you post a Codepen example with this issue?

[2017-10-20 18:16] rachelcl9 opened #3175 "DialogFooter doesn't skip rendering null children"
private _renderChildrenAsActions() {
--
  | return React.Children.map(this.props.children, child =>
  | <span className={ css('ms-Dialog-action', styles.action) }>{ child }</span>

### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a

[2017-10-20 18:26] erichdev commented on #1579
Closing since I couldn't repro and there hasn't been updates. Please reopen if any issues remain.

[2017-10-20 18:26] #1579 closed

[2017-10-20 18:29] #3161 closed

[2017-10-20 20:13] russgove opened #3178 "Details List Selection Object question"
Hi,
How Do I set the initially selected items in a details list.  I see there is a ISelection object that has a bunch of methods on it to do things with the selections , but I am unsure how to use it in an react spfx webpart. The docs say that i can pass thh Selection object to the details list. Do I have to create that class, with all those members . Or do I somehow get the slection object from m

[2017-10-20 21:30] russgove commented on #3178
I found my answer in someone else;s issue.
Import Selection from Fabric
Create a new selection object
Pass the selection object into the detailslist.

I could not find that documented anywhere!
We should open source the docs for fabric, like we did for spfx

[2017-10-20 22:20] #2729 closed

[2017-10-21 18:45] vertonghenb commented on #3164
It's quite straightforward actually, you can just override the base-colors.
More information can be found in the following link: https://developer.microsoft.com/en-us/fabric#/components/themes

[2017-10-21 20:51] fidabhittani commented on #3164
Thanks, Silly me, How can I miss that. :)

[2017-10-21 20:52] cobbs-totem opened #3185 "ComboBox defaultSelectedKey doesn't work within BrowserRouter"
I could not get the defaultSelectedKey to display the default value in my ComboBox, and after some trial and error, I determined that it simply would not work, if I rendered the component inside a BrowserRouter (react-router-dom).

I'm not sure how BrowserRouter works when it renders it's children, but there's a disconnect somewhere.

[2017-10-21 20:55] cobbs-totem opened #3186 "Running office-ui-fabric-react offline"
Sometimes I like to develop/run my app offline (airplane, for example).  I've imported all .css with success and eliminated the links from my public/index.html.

However, it still requires some external font packages that I don't know how to import (.woff files).  Is there a way to import those and not depend on external links?

[2017-10-22 00:45] russgove commented on #3178
OK, I see how I can set an item to be selected, but where would I do that, From my main window. I am opening a panel which shows the detailslist. (user clicks a button that sets showpanel to true. This causes the panel to render with the details list. Where would I put code to set selected items? I'm guessing OnRowWillMount might be suitable. Is there somewhere more appropriate?

[2017-10-22 22:09] abettadapur opened #3188 "ComboBox throws null errors when shallow rendered using ReactTestUtils"
### Bug Report

- __Package version(s)__: 4.51

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: (if applicable)

#### Describe the issue:

When rendered using ReactTestUtils.renderIntoDocument (shallow rendering), ComboBox throws the following exception when the callout is open

[2017-10-23 03:17] nekoya commented on #2977
It doesn't seems applied to official site. When is the release?

[2017-10-23 05:54] clechner77 opened #3189 "CommandBar replacing menu, option to open groups on hover?"
For a horizontal menu, it looks like the choice is clearly the CommandBar, which is really one of the go to fabric compotents.  That said, am I simply overlooking a convenient way to open submenus/grouped buttons/commands on hover?

[2017-10-23 10:34] MirandaGe opened #3191 "Persona detail region UI is not good under Safari"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: Safari

#### Priorities and help requested (not applicable if asking question):

Requested priority: Normal

#### Describe the issue:

Open demo page with Safari: https://developer.microsoft.com/en-us/fabric#/components/persona,

check the persona size with extra large and customize coin size, the detailed region is co

[2017-10-23 12:40] aakash-johari opened #3193 "TooltipHost to be shown based on parent component provided conditions"
There are two modes that are provided today with TooltipHost to show it conditionally based on whether the parent or the tooltip itself has overflow. I'd like to have a more flexible control to the consumer. Probably a boolean to control the visibility of the tooltip.

[2017-10-23 12:54] h3nn3 opened #3194 "DatePicker maxDate / minDate"
### Feature Request
I think every datepicker should have the possibility to set a max and min date value.

Would be great if you implement this in your DatePicker component.

Greetings, Jan

[2017-10-23 14:17] SeanK1191 opened #3195 "TagPicker: Switch suggestions to use List to fix performance"
Package versions: office-ui-fabric-react 6.0.1, react 15.5.4

The issue:

If you have a lot of items going into a TagPicker (Around 9000 in my case), when you navigate the control using keyboard and select a Suggested Item by hitting enter, the page is unresponsive and takes around 10 seconds to finish.

When clicking! on the Suggested Item it is very fast, even with the same data set.

I tried lo

[2017-10-23 14:31] 8man-mmie opened #3196 "<Nav> is not calling onRenderLink anymore"
### Bug Report

- __Package version(s)__:  >= 5.9.0
- __Browser and OS versions__: Chrome, Windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: (if applicable)
Could not update component as custom entries are not applied anymore

#### Describe the issue:
Custom Rendering

[2017-10-23 17:07] erichdev commented on #3194
Please see https://github.com/OfficeDev/office-ui-fabric-react/issues/2609

[2017-10-23 17:07] #3194 closed

[2017-10-23 21:16] erichdev commented on #2416
Closing since there hasn't been an update and I'm unable to repro. Please reopen if any issues remain.

[2017-10-23 21:16] #2416 closed

[2017-10-23 21:19] ramonitor opened #3201 "How to reference colors of SASS variables output of the Theme Generator"
How can you reference the colors in the SASS variables the Theme Generator generates? Is this some kind of new(er) list syntax?

The output in the current beta version of the Theme Generator looks like this;

$themeLighterAltColor: "[theme: themeLighterAlt, default: #eff6fc]";
$themeLighterColor: "[theme: themeLighter, default: #deecf9]";
$themeLightColor: "[theme: themeLight, default: #c7e0f4]";

[2017-10-23 22:28] #3175 closed

[2017-10-23 22:29] #3196 closed

[2017-10-24 00:27] #3164 closed

[2017-10-24 00:30] vertonghenb commented on #1315
Any thoughts on this issue? It's quite something fundamental. I'd love to pitch in if we know the direction were heading with this.

[2017-10-24 00:34] vertonghenb commented on #1788
@micahgodbolt Thanks for the update, can't seem to find the PR though?

[2017-10-24 00:36] vertonghenb commented on #2038
@mikewheaton There quite some issues about the router functionality, they might need a merge? Any thought how we'd like to approach these issues?

[2017-10-24 00:38] vertonghenb commented on #3189
If i'm not mistaken the commandbar is under "maintenance" since it was recently added to the package. You can find more on-going/done issues in the project: https://github.com/OfficeDev/office-ui-fabric-react/projects/6

[2017-10-24 01:00] vertonghenb commented on #915
@jlanio Work but unfortunately it messes up the CSS and the ability to click the button, you just can click the text (default a tag behavior), still not the perfect work around

[2017-10-24 01:08] cschleiden commented on #1315
@fantua You could have something like `IContextualMenuItemRenderProps` that groups all of these props

[2017-10-24 02:23] fengyue1013 opened #3209 "[DatePicker]Required filed red star position is wrong without label text"
### Bug Report

- __Package version(s)__: 5.10.0
- __Browser and OS versions__:
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected:

#### Describe the issue:

When date picker doesn't has label text, and set as required.
The red start overlaps with the calendar icon

#### Actual beh

[2017-10-24 03:49] micahgodbolt commented on #1788
@vertonghenb it was already merged into our 6.0 branch. we should be pushing out beta releases soon

[2017-10-24 07:15] warmsea opened #3210 "Nav: The `forceAnchor` property in `INavLink` stopped working."
### Bug Report

- __Package version(s)__: 5.9.2

#### Describe the issue:

The `forceAnchor` property in `INavLink` stopped working. The link renders the same no matter `forceAnchor` is set to `true` or `false`.

[code]

When a link is rendered as an anchor, the color of the text is black. When rendered as a button, it becomes blue. We need `forceAnchor` to work because sometimes we add `onClick`

[2017-10-24 11:07] viliuscicenas opened #3211 "Icons are not displayed in user controls"
After I upgraded from '2.34.2' version to '5.9.0' (tried '5.12.0' and '5.13.0' too) nonce of components displays icons (at least in select and date picker controls).

[2017-10-24 13:42] CDoughty08 commented on #3186
Also, curious about this!
As using fabric in a proxied environment that doesn't have access to sharepoint is a pain.

[2017-10-24 13:53] cobbs-totem commented on #3185
@erichdev So, this is really hard to isolate..  I no longer believe it has anything to do with BrowserRouter, after much more testing.  My app uses redux and when it mounts, does some async calls which causes a few state changes.

What I *think* happens is that the state change causes the ComboBox to get new props, which determines that props.selectedKey is no longer equal to this.props.selectedKe

[2017-10-24 14:41] cicciodm commented on #3210
I will take this.
This is caused by my change to the `Nav` component, and an interesting edge case.

[2017-10-24 14:52] lynamemi commented on #3211
As of Fabric 5.0, we have a new api for the icons package. Checkout [this documentation](https://github.com/OfficeDev/office-ui-fabric-react/tree/master/packages/icons). You will need to use itinializeIcons() in your app. Please reopen if you still have issues.

[2017-10-24 14:52] #3211 closed

[2017-10-24 15:13] IanVS commented on #1659
I have the exact same question.  I am using react-frame-component, and have found that the styles are being injected in the main `document.head`in [Stylesheet.ts](https://github.com/OfficeDev/office-ui-fabric-react/blob/1c74d9f0c7d7af5edada08e69e0d71968c90f13f/packages/merge-styles/src/Stylesheet.ts#L201), and it doesn't seem to be overridable.  Would the team consider an enhancement which would a

[2017-10-24 15:54] cobbs-totem opened #3214 "Items no longer scroll in ContextualMenu and ComboBox after 5.7.0"
If I create a CommandBar with a subMenuProps item, with hundred or so items, the menu will only show what's visible on the screen, with no scroller to select others.

Same thing happens on ComboBox items.

I went back in time and discovered it worked at office-ui-fabric-react@5.6.0 and fails at office-ui-fabric-react@5.7.0 (and later).

[2017-10-24 16:33] matthewrobb commented on #1659
This is still an issue for me as well.

[2017-10-24 20:32] IanVS opened #3218 "[Question] Icon subset tool?"
I saw in the [PR for 5.0.0](https://github.com/OfficeDev/office-ui-fabric-react/pull/2943) a mention of an Icon subset tool, which allows the creation of an inline icon bundle:

This would be awesome for my own use case, but I can't seem to find any instructions on where to find it or how to use it.  Is it available somewhere?

[2017-10-24 20:43] erichdev commented on #3185
Thanks for the update with your solution. Please reopen if any issues remain.

[2017-10-24 20:43] #3185 closed

[2017-10-24 21:21] erichdev commented on #3193
TooltipHost wraps Tooltip with the logic to control the visibility of Tooltip. If you'd like more flexibility with the visibility conditions, you can render Tooltip directly and write your own conditions for visibility. Would that work for you?

[2017-10-25 00:03] lynamemi commented on #3218
Not sure whether it's ready for public consumption yet. I can check with @Jahnp when he's back from vacation in a couple of weeks.

[2017-10-25 01:34] #3214 closed

[2017-10-25 07:40] Jahnp commented on #3218
Hey @IanVS, we do indeed have a tool for this, but it's not yet ready for external usage. We don't have a specific timeline just yet, but I'd like to have it out by January. There are legal and costing considerations I need to figure out and lock down and it's hard to say how long it'll take for those. Like @lynamemi says, I'll be back from vacation the first week of November and will be assessing

[2017-10-25 08:40] ds-ms opened #3222 "Accessibility: MAS4.2.1: Inspect: Inappropriate control type for the combo box"
### Bug Report

- __Package version(s)__:  ^4.51.1
- __Browser and OS versions__:
Test Environment:
OS: Windows 10 RS2
OS version: 15063.540
Browser: Edge browser.
Edge Version: Microsoft Edge 40.15063.0.0
Build number : Version 16.122.26818.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix?  No

Requested priority: Normal

Products/s

[2017-10-25 09:01] hengchengfei opened #3223 "How can I open reactjs project in Visual Studio 2017 Professional"
I created project by  the command of 'create-react-app' and 'yo office'(https://dev.office.com/docs/add-ins/excel/excel-add-ins-get-started-react)

I want to develop it by Visual Studio 2017 Professional,How can I do it?

Thank you.

[2017-10-25 09:23] warmsea commented on #3210
Thanks @cicciodm !

[2017-10-25 11:55] mdmdakbar opened #3224 "Getting following accessibility issue on dropdown"
Getting below error when testing it with "Keros for Web" tool

Error: Certain ARIA roles must contain particular children -

![image](https://user-images.githubusercontent.com/19491487/31997357-57bfef52-b9a9-11e7-8608-0ee7f8cf799e.png)

[2017-10-25 14:43] mikewheaton commented on #2038
Yes, everything in `apps/fabric-website` is for the documentation site and wasn't intended for use in other projects. Although it is all open source. 😄

@vertonghenb, I'd recommend you look into more widely documented routers like [react-router](https://www.npmjs.com/package/react-router) for your project. While we'd consider pull requests that improve our own router, we're not likely to add funct

[2017-10-25 15:10] zelliott commented on #2491
This is still an issue for me with Windows Server 2016 and Internet Explorer 11, latest version.  Only the titleAriaId and the focused button are read by Narrator.

[2017-10-25 15:29] hoovercj opened #3226 "FabricPerformance should have a way to disable the periodic reset"
Simply including Office Fabric in a project results in a `setTimeout` being set in [FabricPerformance](https://github.com/OfficeDev/office-ui-fabric-react/blob/3aff5a49a264cbeb51ca23903412fb15b88d3e44/packages/utilities/src/FabricPerformance.ts#L79).

As far as I can tell, there is no way to disable this or opt-out.

This is problematic for us because as part of our automation we have overridden `

[2017-10-25 16:45] betrue-final-final opened #3227 "Close X is in the wrong place on Panel"
Are you willing to submit a PR to fix? (No)

Requested priority: (High)

Reproes in Edge and IE11, but not Chrome.

Products/sites affected: OneDrive, SharePoint, and anything that uses a panel

The close X is on the left, and should be on the right

![image](https://user-images.githubusercontent.com/20363037/32011251-17221802-b969-11e7-9273-71d1134950d9.png)

This isn't even close to spec.
![imag

[2017-10-25 17:26] micahgodbolt commented on #3227
ok. it's a load order issue. buttons are position relative (not sure why) which sometimes overrides the position absolute used in the panel

[2017-10-25 18:52] KyleMcNutt opened #3230 "ES2015 Module Format Support"
### Bug Report

- __Package version(s)__: 5.10.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:

Current Fabric just exports a CommonJS format for the library, it would be great to also support a ES2015 module format so that tools like Rollup are easier to integrate for tree-

[2017-10-25 23:38] erichdev commented on #3170
Closing due to inactivity, please reopen if you continue to experience issues.

[2017-10-25 23:38] #3170 closed

[2017-10-26 00:59] erichdev commented on #3223
If you're using Fabric, please see the [documentation on how to get started](https://developer.microsoft.com/en-us/fabric#/get-started). Feel free to open a new issue if you have specific questions about Fabric components.

If you have questions about developing Excel addins, those questions would be better suited for [Stackoverflow](https://stackoverflow.com/questions/tagged/office-js).

[2017-10-26 00:59] #3223 closed

[2017-10-26 10:12] Nimelrian commented on #3024
@utrolig You have to execute the `FabricConfig` initialization before Fabric gets initialized (before you import it). Due to this, you need to stick it e.g. into a separate script in the `<head>` section of your html file. If you put it before the `ReactDom` render function inside your bundle, the imported modules get evaluated before your code gets executed, meaning that `FabricConfig` is not ini

[2017-10-26 10:55] cwoess opened #3235 "[question] How to deep link to react single page app"
I have a Sharepoint single page app in react with routing that sends out emails to users. On receiving an email the user needs to be able to click a link and be redirected back to a deep link within the app. Something like .../sharepoint.com/sites/myApp/SitePages/Hjemmeside.aspx#/app/4
How can I accomplish this? The login page only redirects to the apps main page.
thanks for any help

[2017-10-26 11:47] mdmdakbar opened #3236 "Dropdown not displaying anything when first option is selected"
Products/sites affected: (if applicable) VSTS

I am using enum as the options to dropdown and selected key is one of that enum. When I select the first option whose enum value is 0, it is not getting displayed. When I investigated into this, I found that selectedKey is used in if condition and when selectedKey is 0, its taking as false value and not selecting anything.

Please refer the image belo

[2017-10-26 12:32] Nimelrian opened #3237 "Styling via classnames not working"
### Bug Report

- __Package version(s)__:
  - office-ui-fabric-react: 5.15.0
  - react: 16.0.0
  - react-dom: 16.0.0
- __Browser and OS versions__: Chrome Version 62.0.3202.62 / Windows 10 Pro Version 1703

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No, due to lack of knowledge regarding Fabric's inner workings

Requested priorit

[2017-10-26 16:38] #3227 closed

[2017-10-26 17:27] erichdev commented on #3236
What version of Fabric are you on? This was fixed by PR https://github.com/OfficeDev/office-ui-fabric-react/pull/3216, which shipped with 5.14.0

[2017-10-26 18:10] ramonitor commented on #3237
@Nimelrian, did load the Fabric Core CSS? That is required to get the CSS classes in your project.

[2017-10-26 18:23] benkaiser opened #3238 "No aria-hidden property for buttons"
### Bug Report

- __Package version(s)__: latest

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: SharePoint

#### Describe the issue:

There is a use-case to improve accessibility to be able to hide buttons from the screen-reader.

#### Actual behavior:

The `ariaHidden` / `ar

[2017-10-26 19:06] #3210 closed

[2017-10-26 19:19] mikewheaton opened #3240 "Icon: Potential conflicts between Fabric React and Fabric Core"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: N/A

#### Describe the issue:

A bug was found recently on the documentation site (fixed in #3239) which turned up a related issue when both Fabric Core and Fabric React are on the same page. See the screenshot below. The Icon component from Fabric React is being styled via `.css-45`, but it also outputs the `.ms-Icon`

[2017-10-26 19:41] cobbs-totem commented on #3235
Are you using react-router?

[2017-10-26 21:13] betrue-final-final opened #3242 "Contextual menu selected items are not to spec"
Are you willing to submit a PR to fix? (Yes)

Requested priority: (Normal)

Products/sites affected: (if applicable)
OneDrive and SharePoint. Soon to be Outlook

The selected items currently have a grey background and blue check. There should be no background and neutral check.
Build:
![image](https://user-images.githubusercontent.com/20363037/32077287-bcdf7d5e-ba57-11e7-8202-9ee60f676c80.png)

Sp

[2017-10-26 22:46] KyleMcNutt commented on #3230
Actually it looks like @dzearing you disabled this feature here: https://github.com/OfficeDev/office-ui-fabric-react/commit/6746103da3c35f95afb1cde1b304a756c550deff

Could you give context on possibly why?

[2017-10-26 23:59] erichdev commented on #2518
@Aaron2Ti Nav has had some refactoring and I can't repro this bug anymore. I'm going to go ahead and close this issue, please reopen if you continue to experience issues with it

[2017-10-26 23:59] #2518 closed

[2017-10-27 00:07] #3238 closed

[2017-10-27 00:25] betrue-final-final opened #3243 "Dropdown: Selected text is black, should be neutralPrimary"
Right now when a value is selected, the text color is #000000, when it should be neutralPrimary #333333
![image](https://user-images.githubusercontent.com/20363037/32083003-76c6c210-ba74-11e7-88c0-7351eec0c736.png)

[2017-10-27 01:57] Aaron2Ti commented on #2518
@erichdev thanks a lot

[2017-10-27 04:51] cwoess commented on #3235
Hi,

Yes we’re using react-router, redux and redux-thunk middleware

Cheers,

Chris

Sent from my iPhone

On 26 Oct 2017, at 21:41, cobbs-totem <notifications@github.com<mailto:notifications@github.com>> wrote:

Are you using react-router?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/OfficeDev/office-ui-fabric-react/i

[2017-10-27 06:01] akashperfect opened #3246 "[Accesibility] DetailsRow should show LocalizedControlType as "DataItem" instead of "Row" in inspect tool"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: Edge

#### Priorities and help requested (not applicable if asking question)

Are you willing to submit a PR to fix?

Requested priority: High

Products/sites affected: Internal

#### Describe the issue:

With inspect tool on,
- navigate to DetailsRow inside a DetailsList
- LocalizedControlProperty is defined as "Row"

[2017-10-27 06:40] Nimelrian commented on #3237
1. That should probably be listed in the docs then
2. If I do include the CSS from the CDN, it automatically loads the webfonts, which I do not want (due to the license terms).

It would be better if
1. Fabric would come with the core CSS included in the npm package
2. would load it automatically on initialization or by importing a module (I favor the latter)
3. Would offer 2 different CSS files (

[2017-10-27 07:41] Ridlsan opened #3247 "Strange picker loose focus behavior"
I'm writing components for sharepoint. So there is no SPA, its just small controls.
When u type in pickers, suggestions appear and if u click some where else on page, suggestions still stays, but input loose focus. But! If there is a big control wrapping picker and u click inside this control, suggestions will close and item woud be selected.
Is it a bug or can this be fixable? Does all fabric con

[2017-10-27 08:11] ramonitor commented on #3237
@Nimelrian, I could not agree more on better documentation for this project.

The CSS requirement is listed here btw; [https://github.com/OfficeDev/office-ui-fabric-react/blob/master/ghdocs/README.md](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/ghdocs/README.md). ITs not mentioned on the Office UI Fabric public website which is kinda confusing.

Preventing the font loading is s

[2017-10-27 08:57] Nimelrian commented on #3237
The FabricConfig only works with the Fabric-internal styling. So if you don't include the CSS explicitly, but set the `fontBaseUrl` it will work. Note that you have to set the config before Fabric gets initialized, not only before it's rendered. Sticking it into the HTML head-section is a good way to ensure that.

In the meantime (and by digging through the public APIs) I have found the solution.

[2017-10-27 08:57] #3237 closed

[2017-10-27 14:07] Ridlsan commented on #3247
Sorry, my bad. Seems i put handler on body. In my tests body was small. Close this request

[2017-10-27 14:07] #3247 closed

[2017-10-27 14:47] cobbs-totem commented on #3235
I think part of my mis-understanding is that you're using Sharepoint (which I don't know anything about), where-as I'm using my own standalone app.  I can simply create a <Route> to link a props.match.url to an individual React component inside my app.

[2017-10-27 15:12] cwoess commented on #3235
Sharepoint lofin intercepts tje request and then the deep link part is lost

Sent from my iPhone

On 27 Oct 2017, at 17:10, cobbs-totem <notifications@github.com<mailto:notifications@github.com>> wrote:

I think part of my mis-understanding is that you're using Sharepoint (which I don't know anything about), where-as I'm using my own standalone app. I can simply create a to link a props.match.url

[2017-10-27 16:37] suztocco opened #3250 "FocusZone: initialize horizontal alignement when focus is changed or set via defaultActiveElement"
### Bug Report

- __Package version(s)__: (fill this out)  https://developer.microsoft.com/en-us/fabric#/components/datepicker

- __Browser and OS versions__: Chrome on Mac
Screen reader: ChromeVox

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: OW

[2017-10-27 16:39] suztocco commented on #1601
Please see related bug on this. https://github.com/OfficeDev/office-ui-fabric-react/issues/3250
#3250

[2017-10-27 16:44] betrue-final-final commented on #3250
Just need the screen reader

[2017-10-27 16:51] micahgodbolt commented on #3140
Sorry, should have kept this open.

[2017-10-27 17:00] betrue-final-final commented on #3250
Alright, we'll want to test this with Narrator and Edge, and then JAWS and IE11. If this is ChromeVox only, we may punt.

[2017-10-27 17:21] suztocco opened #3251 "DatePicker/dropdown not to visual spec"
### Bug Report

- __Package version(s)__: https://developer.microsoft.com/en-us/fabric#/components/datepicker
- __Browser and OS versions__: Chrome Mac

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Calendar

#### Describe the issue:

What i see in the coded component is not w

[2017-10-27 17:31] lynamemi commented on #3242
@betrue-final-final do selected items have the same background colors for hover and focus states that are shown above for the unchecked items?

[2017-10-27 17:54] betrue-final-final commented on #3242
Yes selected and unselected use the same states.

[2017-10-27 18:40] #3188 closed

[2017-10-27 18:48] betrue-final-final opened #3252 "Combo box should align better to dropdown"
Are you willing to submit a PR to fix? (Yes)

Requested priority: (Normal)

There's a number of things that are different for no reason betwixt combo box and drop down
 
	•	the chevron is huge compared to the normal dropdown
	•	the chevron turn theme on some interactive states (doesn't match other controls)
	•	no "hand" is showing on hover on the chevron to show interactivity (I notice this also h

[2017-10-27 20:36] erichdev commented on #3235
Redirecting on Sharepoint login is outside the scope of Fabric. This would be a better question for [StackOverflow](https://stackoverflow.com/questions/tagged/sharepoint) or the [MSDN forums](https://social.msdn.microsoft.com/forums/office/en-us/home?category=sharepoint). Please feel free to open new issues related to Fabric components

[2017-10-27 20:36] #3235 closed

[2017-10-27 22:27] suztocco opened #3255 "DatePicker menu shouldn't have scrollbar"
### Bug Report

- __Package version(s)__: https://developer.microsoft.com/en-us/fabric#/components/datepicker
- __Browser and OS versions__: Chrome Mac

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Calendar OWA

#### Describe the issue:

The window showing menu options for th

[2017-10-27 22:29] PorterNan opened #3256 "Slider should render aria-valuetext property for reading the proper text"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? ( No)

Requested priority: (Normal)

#### Describe the issue:

I am using slider and seems it cannot add the aria-valuetext for the slider, we don't exactly want to read

[2017-10-27 23:17] erichdev commented on #3193
Closing due to no response. Please reopen if any issues remain.

[2017-10-27 23:17] #3193 closed

[2017-10-28 00:10] russgove opened #3258 "How to use office-ui-fabric-react Dialog"
Hi,
I copy and pasted the sample code into my own spfx webpart:
[code]

I get an error saying  Property 'dialogContentProps' does not exist on type 'IntrinsicAttributes & IntrinsicClassAttributes<Dialog> & IDialogProps & { children?: ReactNode; }'.

What am I doing wrong? are there other samples of this somewhere?

[2017-10-28 00:11] russgove commented on #3258
anybody got any ideas on this?

[2017-10-28 00:31] erichdev commented on #3258
@russgove What version of Fabric are you using? I was able to recreate the docs site example without error

[2017-10-28 00:57] KyleMcNutt commented on #3230
Decided to open a PR for this at #3260 in case this gets traction.

[2017-10-28 01:40] phkuo commented on #3242
@betrue-final-final combo boxes have a similar visual paradigm, do the styles there change as well?

[2017-10-28 01:59] betrue-final-final commented on #3242
Combo box should be based on dropdown, so thought I would fix that first.

[2017-10-29 15:10] screenpunch commented on #3178
I have a very similar question.

I have a button that calls setKeySelected on the Selection object, clicking it correctly updates the selected item in the DetailsList.

When I first show the DetailsList, I want to have some items selected by default, calling setKeySelected in componentDidMount does nothing.

[2017-10-29 21:35] russgove commented on #3258
i'm using 2.34.21. that's the version that comes with spgx

[2017-10-30 09:52] nipunja opened #3262 "Message bar icons don't meet high contrast ratios"
Issue found using keros for web chrome accessbility extension.

Message bar icons don't meet high contrast ratios.

Fix any of the following: Element has insufficient color contrast of 4.12 (foreground color: #767676, background color: #fff4ce, font size: 12.0pt, font weight: normal)

[2017-10-30 14:40] LeopoldLerch opened #3263 "DropDown List cutting of elements when no width specified"
I am displaying multiple Dropdowns side-by-side using display:inline-block

however, now the dropdown-list is messed up. The DropDown itself is rendered with the width of its label. But when I click on the dropdown to view its elements, they (especially the callout) are set to a fixed with according to the dropdown itself. Everything inside it (and that is mostly all) is cut off at the boundaries.

[2017-10-30 17:00] #3148 closed

[2017-10-30 17:36] futurfutur opened #3265 "ChevronDown icon is missing in DropDown and ComboBox components"
### Bug Report

- __Package version(s)__: 5.17.0
- __Browser and OS versions__: Chrome Version 61.0.3163.100 (Official Build) (64-bit)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: High

#### Describe the issue:

ChevronDown icon is missing in DropDown and ComboBox components
#### Actual behavior:

ChevronDo

[2017-10-30 17:38] betrue-final-final commented on #3262
Yes, that should be neutralSecondary (#666666)
The specific issue is with the grey bar.

![image](https://user-images.githubusercontent.com/20363037/32186130-7ba9beda-bd5e-11e7-9ae9-df332c1ac7b8.png)

[2017-10-30 17:39] lynamemi commented on #3265
My suspicion is that you need an initializeIcon() call.  Checkout this documentation, updated with the Fabric 5.0 release: https://github.com/OfficeDev/office-ui-fabric-react/wiki/Using-icons

[2017-10-30 17:50] futurfutur commented on #3265
Wow! Icons are back. Thanks a lot for a quick responce! Shouldn't be this unobvious method call mentioned on components' pages?

[2017-10-30 17:50] #3265 closed

[2017-10-30 17:55] lynamemi commented on #3265
Glad to hear it! Yes, a lot of folks have been running into this issue. Component page would definitely be a good place to link info. We'll be taking a look at website documentation improvements soon, this will definitely be a priority.

[2017-10-30 18:00] #3140 closed

[2017-10-31 09:04] CaptainSadaf opened #3267 "Details List vertical scrolling is not enabled on more rows"
### Bug Report
Requested priority: (High)
#### Describe the issue:
Fabric details does not provide vertical bar scroll feature within Grid to show more rows. it's just increase the size of Grid row instead to adjust all rows within fixed size of Details List.

https://developer.microsoft.com/en-us/fabric#/components/detailslist

[2017-10-31 14:53] mdmdakbar opened #3269 "Not able to control height of dropdown-input-control using the cssClass passed from our end"
Products/sites affected: (if applicable) VSTS

<DropDownInputControl
                                cssClass={"timeunit-dropdown"}
                                options={this._getTimeUnits()}
                                onValueChanged={this._onChange}
                                selectedKey={this.props.value}/>

I need to use span under the passed css class to change the height of the c

[2017-10-31 16:26] nipunja commented on #3262
Even with warning yellow bar issue is seen

[2017-10-31 16:37] betrue-final-final commented on #3262
Yes, that's correct. changing both to neutralSecondary would fix that

[2017-10-31 17:26] hesawant opened #3272 "DetailList and List should support fetching data on need basis"
Currently `DatailList` and `List` both support virtualization of DOM by rendering only those rows that are immediately visible. But it requires all the list items be provided before hand.

But in case the list to be displayed has large number items, say in the range of 30K - 50K then its a problem because fetching that many items over n/w takes time.

A possible workaround for this is to fetch ite

[2017-10-31 17:52] #3251 closed

[2017-10-31 18:12] #3209 closed

[2017-10-31 18:41] betrue-final-final commented on #3243
Actually updated to neutralDark in PR #3270

[2017-10-31 18:41] #3243 closed

[2017-10-31 18:46] betrue-final-final opened #3273 "Contextual menu item height is too short"
Should be 36px, but is currently 32px

[2017-10-31 19:23] lynamemi commented on #3273
Fixed in https://github.com/OfficeDev/office-ui-fabric-react/pull/3259

[2017-10-31 19:23] #3273 closed

[2017-10-31 20:42] #3118 closed

[2017-10-31 23:31] stephenzsy opened #3278 "merge-styles put expanded rules in selector into parent scope"
### Bug Report

- __Package version(s)__: 5.9.0
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: High

Products/sites affected: (if applicable)

#### Describe the issue:
`
const marginTopStyle = mergeStyles({marginLeft: "10px"});
mergeStyles({
  select

[2017-11-01 01:02] fpintos opened #3280 "DatePicker: support 'today' property and pass it to Calendar component."
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: OWA

#### Describe the issue:

When system timezone and OWA timezone are far apart, the day in 'new Date()' migh

[2017-11-01 11:02] Oceanswave opened #3281 "Build Issue with 5.71.1 - Property 'monthPicker' of type 'CalendarMonth' is not assignable to string index type 'ReactInstance'."
### Bug Report

- __Package version(s)__: 5.17.1

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites affected: Office UI Fabric

#### Describe the issue:

When building with TS, the following error is output:

[code]

#### Actual behavior:

Builds that depend on office-ui-fabric-react fail.

#

[2017-11-01 11:03] Oceanswave commented on #3281
Update title

[2017-11-01 11:16] HdHeini commented on #3024
That doesn't seem to work either, I tried putting it in a script tag at the top of the head section and it still loads the fonts, probably from css, because there are lots of references to the CDN in fabric.css. I'd like to be able to use the app offline and without the differently licensed fonts, because I am not developing directly for Office or SharePoint.

[2017-11-01 11:18] Nimelrian commented on #3024
Do not include the css if you just use the React package. The React Fabric package creates the class names dynamically. By importing the `@uifabric/styling` package, one can use the enums contained in it to use these class names:

[code]

[2017-11-01 11:47] HdHeini commented on #3024
@Nimelrian Thanks, I removed fabric.css, but still getting the requests to CDN from somewhere. Guess I need to dig a little further ...

[2017-11-01 11:50] Nimelrian commented on #3024
Do you use `initializeIcons` somewhere? This one also fetches the icons from the CDN.

[2017-11-01 11:54] HdHeini commented on #3024
No, but I just checked the code and it has be "fontBaseUrl", not "baseFontUrl" :) If I set this to "" in the script tag, I get no more requests to the CDN. Thanks for the help

[2017-11-01 12:26] fidabhittani opened #3282 "Events issue with SpinButton."
I am Generating Dynamic SpinButtons in a `map`. Except for OnBlur and OnFocus no other event is fired. I have tried the events provided in the docs, onIncrement and onDecrement which failed to work. onChange doesn't work too.

[2017-11-01 14:20] vashitaArora opened #3283 "DetailsList : row containing Link and tabindex: click event is not fired"
### Bug Report

- __Package version(s)__: 5.9.0
- __Browser and OS versions__: Chrome

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix?  No

Requested priority: Blocking

Products/sites affected: (if applicable)

#### Describe the issue:

for details list with rowsize huge enough to not accomodate in viewport and containing an anchor l

[2017-11-01 15:51] #1840 closed

[2017-11-01 17:55] fuocor opened #3285 "Contravariant parameter types with --strictFunctionTypes breaks IBaseProps"
### Bug Report

- __Package version(s)__: 5.17.1

- __Browser and OS versions__: all

Are you willing to submit a PR to fix? No

Requested priority: Blocking

#### Describe the issue:

using tsc strictFunctionTypes (2.6.1) for components deriving from BaseComponent breaks the IBaseProps constraint for componentRef if the property is not signed exactly as in IBaseProps.

so defining
`export interfa

[2017-11-01 21:09] #3280 closed

[2017-11-01 21:22] #3278 closed

[2017-11-01 21:59] phkuo commented on #3242
Reopening to track fixing combo box styles as well.

[2017-11-01 22:00] lynamemi commented on #3242
Sorry, got distracted by bundle size issues and forgot to do this!

[2017-11-01 22:03] betrue-final-final opened #3290 "Toggle and checkbox disabled items are the wrong color"
The actual toggle, and check in Toggle and Checkbox should be neutralTertiaryAlt, and not the same neutralTertiary as the label.

![image](https://user-images.githubusercontent.com/20363037/32300157-76e39386-bf15-11e7-8079-8a6f068b985f.png)

Spec:
![image](https://user-images.githubusercontent.com/20363037/32300235-c8fccf34-bf15-11e7-8a32-3361abdb18f7.png)

[2017-11-01 22:43] cschleiden opened #3293 "List: When getPageHeight is provided, no page measurement should occur"

[2017-11-02 07:27] m-sadegh-sh opened #3297 "PeoplePicker fails to select item when itemLimit is 1"
### Bug Report

- __Package version(s)__: 5.17.1
- __Browser and OS versions__: Chrome v61.0.3163.100, Windows Server 2016 DC

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

#### Describe the issue:

When I use PeoplePicker and set itemLimit to 1, after selecting one of suggestions, It tries to set ite

[2017-11-02 09:33] honb commented on #3281
I had the same issue.
D:\Testing\node_modules\office-ui-fabric-react\lib\components\Calendar\Calendar.d.ts
(22,9): error TS2411: Property 'monthPicker' of type 'CalendarMonth' is not assignable to string index type 'ReactInstance'.

"office-ui-fabric-core": ">=7.1.2 <8.0.0",
"office-ui-fabric-react": ">=4.35.0 <5.0.0",
"typescript": "^2.4.2"

[2017-11-02 11:04] joelfmrodrigues commented on #3151
Hi @akburns72 ,

I assume you have copied that import statement from the Office UI Fabric website samples as the import is looking for a module local to the project?
You have to import it from the external office-ui-fabric-react module installed in the project
import { autobind } from 'office-ui-fabric-react/lib/Utilities';

[2017-11-02 11:40] LeopoldLerch commented on #3258
Which version of Typescript are you running. There was a need to adapt fabric to work with the current version of TS some time ago. If you are on Typescript 2.4 or higer i would recommend you to try if it works with Typescript 2.2. (and then you can try to move onwards slightly).

As you are bound to specific versions of modules in spfx, you have also to be stick on the typescript version that you

[2017-11-02 12:21] mdmdakbar opened #3298 "Unable to control height of dropdown control"
Unable to control the height of dropdown control using the className prop passed. Need to depend on HtmlElement span to change the height.

Please refer the code pen link to get more details.

Products/sites affected: (if applicable) VSTS

Codepen Link -
https://codepen.io/anon/pen/KyVPpa

[2017-11-02 12:24] #3269 closed

[2017-11-02 12:25] mdmdakbar commented on #3269
Opening new issue with proper details.

[2017-11-02 15:25] cschleiden commented on #3283
@pablonete Could you take a look if it was  your commit?

[2017-11-02 15:27] cschleiden commented on #3272
We already have callbacks to render items/pages, you could just fill `items` with dummy items (e.g., `null`) and then fetch on demand.

The list even has a `renderCount` property, wouldn't that work?

[2017-11-02 15:28] cschleiden commented on #3267
I don't understand the issue, I see scrollbars just fine on that page?

Do you host your `DetailsList` in a container with `data-is-scrollable` set to true?

[2017-11-02 15:31] cschleiden commented on #3051
Could you provide a codepen repro?

[2017-11-02 15:33] cschleiden opened #3299 "DetailsList: Hovering over header hides bottom line"
Not sure if a bug or by design, looks odd.

Chrome 100%, Windows 125% DPI scaling:

![image](https://user-images.githubusercontent.com/2201819/32334733-72158d94-bfa8-11e7-855d-bb3378563370.png)

[2017-11-02 16:48] #3256 closed

[2017-11-02 17:20] #3230 closed

[2017-11-02 18:33] #2905 closed

[2017-11-02 18:34] CaptainSadaf commented on #3267
@cschleiden
i'm still unable to solve the issue because when are multiple records (above 1000 rows ) then Details List does not compact to any fixed height .
this is my code for 10000 records details List

 <div>
                <div>{selectionDetails}</div>
                <MarqueeSelection selection={this._selection}>
                    <DetailsList
                        items={items}

[2017-11-02 18:35] CaptainSadaf commented on #3267
here is code for Details List
 <div>
                <div>{selectionDetails}</div>
                <MarqueeSelection selection={this._selection}>
                    <DetailsList
                        items={items}
                        columns={_columns}
                        setKey='set'
                        layoutMode={DetailsListLayoutMode.fixedColumns}
                        selecti

[2017-11-02 18:36] CaptainSadaf commented on #3267
here is code
![issue2](https://user-images.githubusercontent.com/30376711/32343810-0a83744c-bfc2-11e7-82c9-aeb985052585.PNG)

[2017-11-02 18:37] CaptainSadaf commented on #3267
i just fixed the height of Details List with css
.ms-MarqueSelection{
minHeight:"500px"
}

this is not correct for all screens and Data length can be dynamic

[2017-11-02 18:43] hesawant commented on #3272
`renderCount` is a property of `List`, can it be exposed in `DetailsList` because that's what we are using.
Then I can fill `null` items in the `items` array and restrict the number of `items` that are rendered.

Question: Will `DetailsList` read `items.length` (including null and non-null items) as count as part of aria description when using `renderCount`?

[2017-11-02 18:56] hesawant commented on #3272
Was looking at the code and just realized that passing `renderCount` is possible through `DetailsList`'s `listProps` property. I will give it a try.

@cschleiden thanks for the help.

[2017-11-02 19:54] cschleiden commented on #3272
No problem. Let me know if you can make it work, could be an addition for the docs

[2017-11-02 19:55] cschleiden commented on #3267
The structure should be
[code]

[2017-11-02 20:06] CaptainSadaf commented on #3267
this is not good way to assign static height to Grid,
i already done in that way with style
.ms-MarqueSelection{
maxHeight:"500px"

}

[2017-11-02 20:08] CaptainSadaf commented on #3267
it should be responsive to adjust height according screen size

[2017-11-02 20:15] ab18556 opened #3300 "Date picker should have an option to not loose focus on click and a better way to change years"
Hi,

I am dealing with old random dates and the way the date picker behave at the moment makes it barely usable.

Picking up a birth date with the picker is really annoying. You have to click on the little arrows up to 90 times when you want to pick an old birth date. The year should be a text field or maybe it could be clickable like react widgets' date picker do (https://jquense.github.io/react-

[2017-11-02 20:54] cschleiden commented on #3267
`maxHeight` is obviously just an example since I don't know how your page is structured. The `div` I added should be styled to have the size you want it to have.

You don't want to style `ms-MarqueeSelection` for that.

[2017-11-02 20:54] #3267 closed

[2017-11-03 15:03] honb opened #3304 "[ts] JSX element class does not support attributes because it does not have a 'props' property"
I got an issue from editor while it's working fine and the button is shown.
I am using TypeScript 2.6.1

![image](https://user-images.githubusercontent.com/26110193/32380339-7161b14e-c0e2-11e7-9dea-d3b5d4f5dffb.png)

![image](https://user-images.githubusercontent.com/26110193/32380468-b8d0fd78-c0e2-11e7-8115-3ef621d9fc80.png)

How can I fix this and able to see all properties of the Office Fabric

[2017-11-03 15:13] #3304 closed

[2017-11-03 15:13] honb commented on #3304
I just updated Visual Studio Code and it gone :(

[2017-11-03 16:00] ramonitor commented on #2480
I can confirm, this issue still exists. Even with the latest version (5.19.1 at time of writing).

[2017-11-03 20:40] VinozzZ opened #3305 "Error in the documentation for overwriting theme colors"
### Bug Report

- __Package version(s)__: 5.9
- __Browser and OS versions__: chrome

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix?  Yes

Requested priority: Normal

Products/sites affected: (if applicable)

#### Describe the issue:

The documentation on the github is different from the one on the website

#### Actual behavior:

impo

[2017-11-03 22:15] micahgodbolt opened #3308 "Button Styles Refactor"
## Mostly Space for me to write notes about Button

[2017-11-03 22:32] micahgodbolt commented on #3308
Current button structure
Imports
IBaseButtonProps (adds baseClassName and variantClassName)
IBaseButtonState (menuProps)
BaseButton Export
  isSplit
  isExpanded
  defaultProps
  private strings/elements
  constructor
  render
public focus/dissmissMenu
onRenderContent (icon, contents, AriaDescription, Children, menuIcon, menu )
onRenderIcon
onRenderTextContents (test, description)
onRenderText
onR

[2017-11-05 06:20] stanleyxu2005 opened #3310 "Inconsistent behavior of search icon in CommandBar and in SearchBox"
When I focus the SearchBox control, the icon will be removed after an animation is played. But in CommandBar control, the icon will always be there. I hope developer can make the behavior consistent. I'm more prefer to hide the icon when the search box is focused. Thank you.

[2017-11-05 10:33] pablonete commented on #3283
This might be a side effect of that commit, but I won't be able to look deeper and confirm till next week (of 13th).

[2017-11-06 12:31] konsoltech opened #3312 "Can Microsoft Fabric UI be used for non-Microsoft commercial products?"
I have been working with Fabric UI which is an open source toolkit. I am wondering if this can be used in a non-Microsoft commercial product?

[2017-11-06 15:44] Nimelrian opened #3313 "[Feature Request] Expose DetailList's DetailHeader component"
My use case: I want to replace the selection indicators (Checks) of `DetailList` with my own. For the body rows this is quite easy, since I can use the `onRenderRow` prop to render a `DetailsRow` where I can then inject my render logic using the `onRenderCheck` prop.

For the header, this is not possible, since the `DetailsHeader` component is not exposed and thus not available as an import via th

[2017-11-06 17:40] micahgodbolt commented on #3310
The searchbox in commandbar is being deprecated. In the 6.0 release of Fabric we'll have a new commandBar that allows you to render a SearchBox component inline which will be much more consistant.

[2017-11-06 17:49] micahgodbolt commented on #3308
Proposed steps:

1. Create Button.base.tsx with icon/TextContents/menuIcon - no styles
2. Create ContextualButton.base.tsx that is a Button.base with default onClick behavior and imports contextualMenu - no styles
3. Create SplitButton.base.tsx which is a button + contextual button wrapped in div - no styles
4. Figure out a way to style them :D

[2017-11-06 19:35] suztocco commented on #3242
Just curious when this may be fixed and updated in Fabric? I see this bug all over OWA and it looks pretty bad.

[2017-11-06 19:53] phkuo commented on #3242
@lynamemi fixed dropdowns already last week, but somebody still needs to fix combo boxes

[2017-11-06 20:00] aappddeevv commented on #3281
I just started hitting this today. For me, the problem seemed to be caused by moving to typescript 2.6.1 vs 2.6.0-rc2 but that does not appear to the case for others based on the notes above. It could be some combination of compiler and versions of @types/react.

[2017-11-06 20:08] yaananth opened #3319 "[Accessibility]: Dropdown is now being treating as menu, thus failing aria-required-children rule"
[This ](https://github.com/OfficeDev/office-ui-fabric-react/commit/d57ca247d7333fa86473482e2037e1a5aca2c2f2) commit changed dropdown role from `combobox ` to `menu`.
But it fails https://aka.ms/keros/rules/axe.aria-required-children rule.
Because it has `menu` but no `menuitem` since we render the options with role `listbox` which has valid realtion ship with `combobox` but not a `menu`.

Commit s

[2017-11-06 20:31] lejimsft opened #3320 "[Accessibility] Implement aria-expanded label on ContextualMenuItem when menu item has submenu"
### Bug Report

- __Package version(s)__: 5.20.1
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes)

Requested priority: (High)

Products/sites affected: (if applicable)

#### Describe the issue:

Narrator does not announce the expand/collapse state of a menu item that has

[2017-11-06 21:27] vertonghenb opened #3322 "[TagPicker] Layout issues (Height and Color)"
### Bug Report

- __Package version(s)__: (5.19.1)
- __Browser and OS versions__:  Chrome Version 62.0.3202.75, Safari Version 11.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes)

Requested priority: (Low)

Products/sites affected:
TagPicker
#### Describe the issue:

- When using a TagPicker component next to a TextField compo

[2017-11-06 21:38] lynamemi commented on #3242
I can take a look at making the same change to combo boxes today and tomorrow.

[2017-11-06 22:22] suztocco commented on #3242
@betrue-final-final @lynamemi - Just a comment that the main items on the context menus don't usually have a "selected" state bg color other than "checkmark" (except for if a submenu is selected). At least to my knowledge. Just want to make sure things don't get overwritten in certain areas that shouldn't be. Ben knows the specs but just wanted to call it out as I am not sure what all is being aff

[2017-11-06 22:26] betrue-final-final commented on #3242
Yes, that's what we're fixing.

[2017-11-06 22:33] lynamemi commented on #3252
Here's some more context:
https://github.com/OfficeDev/office-ui-fabric-react/issues/3242

[2017-11-06 22:34] lynamemi commented on #3242
Someone else has been assigned to the issue in #3252

[2017-11-06 23:21] #3320 closed

[2017-11-06 23:34] micahgodbolt commented on #3308
WIP here https://github.com/micahgodbolt/office-ui-fabric-react/blob/buttonStylesRefactor/packages/office-ui-fabric-react/src/components/Button/_Base/Button.Base.tsx

[2017-11-06 23:41] elliottsj opened #3325 "Preserve focus in DetailsList when items change"
To satisfy accessibility spec MAS 2.4.3, DetailsList focus should be restored to the row at the previously-selected index when the focused row is deleted.

[2017-11-07 00:23] micahgodbolt commented on #3308
resolve squiglies
![image](https://user-images.githubusercontent.com/1434956/32470778-ce8fe02e-c30e-11e7-9066-6d8aafba488a.png)

[2017-11-07 00:34] abettadapur opened #3327 "VirtualizedComboBox does not expose ComboBox public functions"
VirtualizedComboBox does not expose functions like render or dismissMenu, which are defined on IComboBox. VirtualizedComboBox should implement this interface

[2017-11-07 05:57] mdmdakbar opened #3329 "Focus is lost on clicking message bar close button"
Priority: Medium

Products/sites affected:  VSTS

Actual behavior:
On clicking the message bar close button, the focus is lost.

Expected behavior:
On clicking the message bar close button, focus should be on previously focused element in the page.

Please let me know if you need any more data on this issue. This issue is generic and happening in all places where message bar component is used.

[2017-11-07 10:20] lszomoru commented on #2708
Same here. I am running into this issue when trying to upgrade from 2.34.2 to 4.0.0. When I was seeing the errors I was using TypeScript 2.2.2. I just switched to TypeScript 2.5.3 and these errors went away but others appeared :)

[2017-11-07 18:27] Jahnp commented on #3312
Hey @konsoltech, good question! Long story short: it depends.

Fabric's **assets** (fonts, icons, and product logos) are part of Microsoft's brand, and can only be used in apps & services--including commercial ones--that connect with Microsoft products. These include [Add-ins for Office](http://dev.office.com/docs/add-ins/design/add-in-design), [web parts for SharePoint](https://dev.office.com/sha

[2017-11-07 18:27] #3312 closed

[2017-11-07 18:38] Jahnp commented on #3312
Also--I should note that for the icons, in almost every component where Icons are used, you can pass in your own render method via `onRenderIcon`. What this means is that though the components come with Fabric's icons by default, you can override them with your own assets (e.g. from fontawesome), allowing you to use Fabric's code without using its assets.

[2017-11-07 19:13] #3325 closed

[2017-11-07 21:06] LarsLiden opened #3333 "Unable to capture clicks outside non-modal panel"
### Bug Report

- __Package version(s)__: "^4.47.0"
- __Browser and OS versions__: Chome

#### Describe the issue:
Office Fabric has the concept of a "non-modal" panel: https://developer.microsoft.com/en-us/fabric#/components/panel

A non-modal panel does not show an shaded overlay over the rest of the panel, and the buttons in the non-modal area will react to hover events, however they do not res

[2017-11-08 00:43] MLoughry opened #3335 "Prevent changes from being committed without a changefile"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? _Maybe; the build system is rather unique_

Requested priority: _High_

Products/sites affected: All

#### Describe the issue:

#3203 made changes to both oufr and the utilities package; however, it was merged with change files for oufr, but not for the utilities package. As such, oufr 5

[2017-11-08 01:02] russgove commented on #2499
i'm having the same issue. @dzearing  what was the resolution you commented about on Sep 27?

[2017-11-08 03:51] dzearing commented on #3282
@jspurlin

[2017-11-08 13:38] Nimelrian opened #3339 "SpinButton has rounding issues for steps with decimal places"
### Bug Report

- __Package version(s)__:
  - office-ui-fabric-react: 5.20.0
  - react: 16.0.0
  - react-dom: 16.0.0
- __Browser and OS versions__: Chrome Version 62.0.3202.62 / Windows 10 Pro Version 1703

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:

Using a SpinButton and

[2017-11-08 13:51] Nimelrian opened #3340 "SpinButton ignores onIncrement/onDecrement/onValidate if value prop is 0 during instantiation"
### Bug Report

- __Package version(s)__:
  - office-ui-fabric-react: 5.20.0
  - react: 16.0.0
  - react-dom: 16.0.0
- __Browser and OS versions__: Chrome Version 62.0.3202.62 / Windows 10 Pro Version 1703

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:

Using a SpinButton and

[2017-11-08 14:48] Xitro commented on #2863
I've got simillar problem like @mattmazzola. I believe there should be a way to stop selection change propagation or to disable selecting from certain columns - for example removing or flagging an item.

With parameter to columns I believe it would be even better UI/UX solution due to visual distinction (no hover, or internal button hover in that column)

[2017-11-08 15:22] amadeogallardo opened #3341 "Support for custom-react-scripts"
### Bug Report

- __Package version(s)__: 5.20.3

#### Describe the issue:
An exception is thrown while attempting to include the Office UI Fabric React library in a create-react-app project without TypeScript.

Does Office UI Fabric React support non-typescript projects? If so: are there any documented steps on the required setup?

#### Actual behavior:
[code]

#### Expected behavior:
No exceptio

[2017-11-08 19:47] #3341 closed

[2017-11-08 20:39] fidabhittani commented on #3077
Is there any update on this issue?

[2017-11-08 22:53] peterdur-msft commented on #1176
This issue also affects buttons in Nav components. On the Nav demo page (https://developer.microsoft.com/en-us/fabric#/components/nav) inspect the first menu item (Variants > Basic Nav Bar > Home button) and this <a> element also has an aria-describedby which is numeric and there is no element with this id on the page.
![image](https://user-images.githubusercontent.com/33499514/32578959-114d53fc-c

[2017-11-08 23:15] peterdur-msft commented on #2333
The violation described in Example 3 can be worked around by specifying an ariaLabel for each column, but it would be better for the details header code to not emit the aria-describedby attribute at [DetailsHeader.tsx@260](https://github.com/OfficeDev/office-ui-fabric-react/blob/3ad7fdc47a3b38813821e680770f188b01cff085/packages/office-ui-fabric-react/src/components/DetailsList/DetailsHeader.tsx#L2

[2017-11-08 23:49] #3327 closed

[2017-11-09 01:36] IanVS commented on #3077
I haven't had a chance to work on it so far, and honestly I don't foresee having too much time in the next month or so, unfortunately.

[2017-11-09 05:18] fidabhittani commented on #3077
I have cloned the code. And may may try to do this. If you have suggestion on how we are gonna do t. I was thinking of Taking the isOpen through props. Because now when i see it its in State. By taking it through props will allow the User to manage it through onBlur onfocus or how they like... what do u say..

[2017-11-09 11:49] Nimelrian opened #3349 "Pickers select items on suggestions dismissal after first selection even when input is empty"
### Bug Report

- __Package version(s)__:
  - office-ui-fabric-react: 5.20.0
  - react: 16.0.0
  - react-dom: 16.0.0
- __Browser and OS versions__: Chrome Version 62.0.3202.62 / Windows 10 Pro Version 1703

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

#### Describe the issue:

When using a picker (e.

[2017-11-09 15:53] russgove commented on #2708
Turns out the combobox does not work as I had hoped. Wen a user types the fist character , say "M; it scrolls to the  items in the list beginning with 'M'. But when he types the scrond character , Say 'O", it scrolls to the items in the list beginning with O. It really ought to scroll to the items beginning with 'MO'. I could not get that to work.

Turns out the TagPicker control works great for t

[2017-11-09 17:42] abettadapur opened #3350 "Hover color for ComboBox and TextField/Dropdown/DatePicker do not match"
### Bug Report

- __Package version(s)__: (fill this out) latest
- __Browser and OS versions__: (fill this out if relevant) all

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low)  Normal

#### Describe the issue:

Hover color for the ComboBox and the TextField/Dropdown/Dat

[2017-11-09 17:51] lynamemi commented on #3350
I'm working on this as we speak :)

[2017-11-09 18:17] lynamemi opened #3351 "TextField: Move asterisk outside of fieldGroup"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable)

#### Describe the issue:

I recently added support for

[2017-11-09 18:34] betrue-final-final commented on #3351
Here's the specs:
![image](https://user-images.githubusercontent.com/20363037/32622951-7d6349ca-c539-11e7-9f38-9983e0f73d25.png)

[2017-11-09 19:20] brwatt opened #3352 "CommandBar adds overflow commands in reverse order"
### Bug Report

- __Package version(s)__: 6.0/experiments

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Blocking (blocks version 6.0)

#### Describe the issue:

The 6.0 version of the CommandBar adds overflow commands to the context menu in reverse order then the current (5.x).

### If applicable, please pr

[2017-11-09 19:31] brwatt opened #3354 "CommandBar does not resize correctly for text changes"
### Bug Report

- __Package version(s)__: 6.0/experiments

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Blocking (blocks version 6.0)

#### Describe the issue:

The new version of the CommandBar does not resize correctly when there are label/name changes.

### If applicable, please provide a codepen repro:

[2017-11-09 20:47] #2340 closed

[2017-11-10 00:05] #1176 closed

[2017-11-10 02:05] #3351 closed

[2017-11-10 07:41] lszomoru opened #3359 "TS2339: Property 'href' does not exist on type 'IntrinsicAttributes & IntrinsicClassAttributes<Link> & Readonly<{ children?: ReactNode; }> & Read..."
### Bug Report

- __Package version(s)__: 5.20.2
- __Browser and OS versions__: Not relevant

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: (Blocking, High, Normal, Low) Blocking

Products/sites affected: Not applicable

#### Describe the issue:
I have created a new ASP.NET Core project using the "React" tem

[2017-11-10 12:55] fidabhittani commented on #3312
Well, may be this is buggy or something. It doesn't displays ICONS . I have tried using line-awesome

[2017-11-10 15:00] fidabhittani commented on #3312
And some components are way too rigid in icon configs. Like DatePicker and ComboBoxes.  I dont think DatePicker Icon and DatePicker callout Icons change would be easy

[2017-11-10 15:05] Syntarex commented on #3285
+1

[2017-11-10 15:48] Nimelrian opened #3360 "[Feature Request] Offer a way to disable selections on a Selection instance"
Use case: I have a DetailList which is inside a component tree the user can "disable":
[code]

The DataProvider component manages the Selection instance which is passed to DetailList.

If the section is disabled, I don't want to be able to change the selection of the List's items. Right now I check in the DataProvider during the onSelectionChange handler if the disabled prop is set and run a force

[2017-11-10 18:23] brwatt commented on #3354
I believe the underlying issue here is that the command widths are cached by their keys. So if their props update but their key stays the same, then the width is not reevaluated. I think any change to the props should override the cached value.

[2017-11-10 23:20] suztocco commented on #3255
@taggie05 Is there any way to get an ETA on this fix if possible?
## We are shipping our Outlook Web Calendar React Beta to consumers in a few weeks and this is a main component.

@melvsparks for visibility (our developer)

[2017-11-10 23:27] suztocco commented on #3242
Just wanted to check on an ETA on this.

### We are launching our Outlook Calendar React Beta within the month and this component is used across the site.

adding @melvsparks (our dev) for visibility

[2017-11-10 23:32] suztocco commented on #3251
Is this fixed now and updated in the master fabric code base?

Adding @melvsparks (our dev) for visibility

[2017-11-10 23:38] suztocco commented on #3243
Has this been fixed and added to the master fabric code repository?

adding @melvsparks for visibility

[2017-11-10 23:39] lynamemi commented on #3242
I have been getting blocked by a couple code issues, but I am mostly there. I can go ahead and checkin what I have now and file a separate issue for the specific focus bug that is still outstanding.

[2017-11-10 23:50] suztocco commented on #3242
Thanks for replying.
Also, not sure if noted somewhere but **there is also a "press" state that is showing up in the control that isn't there in the design file**. The hover and press are the same color from what I see.

![image](https://user-images.githubusercontent.com/20954039/32683271-f05ec634-c62e-11e7-9308-8128735983be.png)
@betrue-final-final  can clarify. I know if there is a submenu and i

[2017-11-11 00:06] betrue-final-final opened #3362 "Toggle doesn't read its labels"
OS: Windows 10 Creators Update
Browser: Edge
Screen reader: Narrator

Are you willing to submit a PR to fix? (No)

Requested priority: (High)

When using Narrator, tabbing to a toggle control only tells the state, and type, but not the name of the control instance. This makes them unusable for blind people.

[2017-11-11 00:21] elliottsj opened #3364 "DetailsList: add the ability to style rows at and *above* the currently-hovered row in a hovered style"
I'm using a custom `ISelection` instance in a DetailsList which is permanently anchored to the top of the list. i.e. when you select a row, all of the rows above that row become selected too. I'd like to also render these rows in a "hover" style when hovering over a row, to indicate that they will be selected upon clicking.

[2017-11-11 00:26] betrue-final-final commented on #3242
Suz is correct about not having a pressed state. It should be same as hover. The origin of a submenu would be selected.

[2017-11-11 04:26] betrue-final-final commented on #3251
Yes, with PR #3270

[2017-11-11 13:42] aappddeevv opened #3366 "loss of selection state if state is modified inside Selection onSelectionChange callback"
### Bug Report

- __Package version(s)__: 4.5.1
- __Browser and OS versions__: chrome latest

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Blocking

Products/sites affected: Dynamics webresource

#### Describe the issue:

When managing the Selection directly for a DetailsList, the selections are not maintai

[2017-11-11 19:49] fidabhittani commented on #3024
How do I replace the Icons for the dropdowns or DatePickers... For Button I successfully rendered fontawesomes icons in `onRenderIcon` callback. But not all the components have this callback available?

[2017-11-11 19:50] Nimelrian commented on #3024
Use the `registerIcons` or `registerIconAlias` function from the Styling module and create Aliases to satisfy the internally used Icons.

[2017-11-11 20:10] fidabhittani commented on #3024
Shouldnt this do the registration..
`initializeIcons(
  "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
);`
cause I see in console this . But I still see  requests to the SharePoint CDN?
![iconsissue](https://user-images.githubusercontent.com/5584787/32693075-2151fb22-c746-11e7-9c8a-fbed9a55dd1c.PNG)

[2017-11-11 20:12] Nimelrian commented on #3024
No, `initializeIcons` registers icons from specific font files (the parameter only defines the base url) with specific unicode codes. See https://github.com/OfficeDev/office-ui-fabric-react/tree/4d34110358cf6ec5cc9ed32f9034550d11c651f7/packages/icons/src

[2017-11-11 20:15] fidabhittani commented on #3024
Oh goodness... So each of the icons would be individually registered... such as `registerIcons('trash','delete')`

[2017-11-12 04:19] konding opened #3369 "JSX element type 'ContextualMenu' is not a constructor function for JSX elements"
### Bug Report

- __Package version(s)__: 5.20.3
-__types/react__:16.0.22

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? ( No)

Requested priority: (Normal)

Products/sites affected: (if applicable)

#### Describe the issue:

**vs code error message:**

JSX element type 'ContextualMenu' is not a constructor function for JSX elements

[2017-11-12 04:20] konding commented on #3369
import { ContextualMenu } from 'office-ui-fabric-react/lib/ContextualMenu'

[2017-11-12 10:32] konding commented on #3369
This issue has been resolved

[2017-11-12 10:32] #3369 closed

[2017-11-12 15:52] taggie05 commented on #3255
@suztocco  I submitted a pull request with the issue fixed.

[2017-11-12 18:21] gunjandatta opened #3372 "Picker 'Diabled' Property Ignored"
### Bug Report

- __Package version(s)__: 5.21.0
- __Browser and OS versions__: IE/Edge/Chrome

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable) Known bug until fixed

#### Describe the issue:

The "x" icon to remove the pe

[2017-11-12 18:29] gunjandatta commented on #3372
### Suggested Code Fix
File: SelectedItemDefault.tsx [pickers/PeoplePicker/PeoplePickerItems]

Include the "disabled" property
[code]

Update the Icon Button to render based on the value
[code]

[2017-11-12 21:39] russgove commented on #1146
+2, should be able to fix the first column or two as well

[2017-11-13 06:46] Hardhik commented on #3102
Please add this to the above list.
https://developer.microsoft.com/en-us/fabric#/components/dropdown
The focus on dropdown is not visible in high contrast white mode.

![image](https://user-images.githubusercontent.com/2673006/32712800-76b9c8ca-c86c-11e7-8154-a4b4c88de2bb.png)

[2017-11-13 07:14] kmosti opened #3373 "CommandBar button not visible from mobile in SPFx web part."
### Bug Report

- __Package version(s)__: could not find version number, but it is the one included in the most recent version of spfx yeoman template (yo @microsoft/sharepoint)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: SharePoint client side web parts.

#### Describe th

[2017-11-13 08:04] fanch2 opened #3374 "Refreshing PeoplePicker Suggestion Store Actively"
#### Describe the issue:

Hi All, as I am dealing with large amount of people in my organization which it is not applicable to retrieve all user information during the web-part initialization. I think of handle this in another way: after user input, it uses httpclient to look up, which returns a list of users with display name starting with input text(i.e. if user input 'BE', the function would re

[2017-11-13 08:30] bva999 commented on #3178
I do it in render method, before return DetailsList. And it works for me.
`public render(): React.ReactElement < IExpertsListProps > {
    if (this.state.items.length > 0) {
        this._setSelectedItems();
      }
    return(
      <div>
        <DetailsList
          items={this.state.items}
          setKey="items"
          columns={this.state.columns}
          layoutMode={DetailsListLayoutM

[2017-11-13 15:40] Nimelrian opened #3376 "A label rendered by/below a ChoiceGroup option is padded due to CSS rules"
### Bug Report

- __Package version(s)__:
  - office-ui-fabric-react: 5.20.3
  - react: 16.0.0
  - react-dom: 16.0.0
- __Browser and OS versions__: Chrome Version 62.0.3202.89 / Windows 10 Pro Version 1703

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

#### Describe the issue:

Using a ChoiceGroupOpti

[2017-11-13 17:16] russgove commented on #1181
How do  I pre-select some items in a  Dropdown with Multi-select enabled.? defaultSelectedKey is defined as defaultSelectedKey?: string | number;. I need to pass in an array.

[2017-11-13 19:00] kristoferbrown commented on #3102
@Hardhik, interesting it looks like the dark purple color that the default black-on-white high contrast palette uses for selected items is close enough to to black that it's really hard to see the border change colors when focused.

@betrue-final-final, do you think this is enough of an issue that we should rethink the focus styling on this component? The fix would probably be to make the backgrou

[2017-11-13 19:06] suztocco commented on #3255
Great! So I will be informed when the official site is updated?

[2017-11-13 19:07] aappddeevv opened #3378 "DetailsList: No data shown after n items, "pages" do not render if .ms-List height set to make header "sticky""
### Bug Report

- __Package version(s)__: 5.21.0
- __Browser and OS versions__: chrome, latest version

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: High

Products/sites affected: Dynamics application

#### Describe the issue:

In order to keep the DetailsList header in one place and allow scrolling on the

[2017-11-13 19:08] suztocco commented on #3243
@betrue-final-final - Ben is this in the official fabric site now?
- The color still looks really dark
- Also no "hand" shows when I hover on the dropdown chevron.

[2017-11-13 19:30] kristoferbrown commented on #1181
@russgove, in the current version of the `IDropdownProps` interface uses `string[] | number[]` for both
`defaultSelectedKeys `and `selectedKeys`, so you can pass in an array. Take a look at the "Multi-Select uncontrolled example" on the doc site [here](https://developer.microsoft.com/en-us/fabric#/components/dropdown) if you want more guidance on this.

[2017-11-13 21:24] amadeogallardo commented on #1225
Any updates? Is there now a supported way to get the value from the Ref?

[2017-11-13 21:42] carsonal opened #3382 "Adding jquery dialog from office fabric dialog wont handover focus"
#### Describe the issue:

If a dialog is created through an office fabric dialog, it is impossible to interact with said dialog. Focus is stolen on the page and there is no way to "transfer ownership"

#### Expected behavior:

Focus should move to newly created dialog or there should be a way to stop focus control on dialogs

[2017-11-14 00:12] betrue-final-final commented on #3243
The second issue is no repro on the live site
![image](https://user-images.githubusercontent.com/20363037/32755875-2b5c20e2-c88c-11e7-83fb-674e7c1966df.png)
 Checking the first issue

[2017-11-14 00:23] betrue-final-final commented on #3243
I'm not seeing that in the master
![image](https://user-images.githubusercontent.com/20363037/32756424-da017e60-c88e-11e7-81de-10a523113750.png)

or the live site
![image](https://user-images.githubusercontent.com/20363037/32756439-ed755a20-c88e-11e7-841e-ba6171f21c6f.png)

[2017-11-14 00:26] MLoughry opened #3383 "ContextualMenu: items have rounded corners on Mac Chrome"
### Bug Report

- __Package version(s)__: 5.17.0
- __Browser and OS versions__: Mac OS X Chrome

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes, if I can get hold of a Mac to regress

Requested priority: Low

Products/sites affected: All

#### Describe the issue:

Thanks to user agent stylesheets that are not overridden, Contextu

[2017-11-14 00:46] russgove commented on #1181
ah, time to upgrade again!
Thanks

Sent from my iPad

[2017-11-14 06:53] aadhars opened #3385 "[Picker][TagPicker][Accessibilty] TagPicker container has role list but no list item child is present."
### Bug Report

- __Package version(s)__:  Latest
- __Browser and OS versions__: All browser
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No): Yes but not immediately

Requested priority: (Blocking, High, Normal, Low) : Normal

Products/sites affected: (if applicable): VSTS

#### Describe the issue:

TagPicker container has r

[2017-11-14 09:33] fengyue1013 opened #3386 "[ComboBox]In Uncontrolled AutoComplete mode, behavior strange when using right narrow key to comple input"
### Bug Report

- __Package version(s)__: 5.15.0
- __Browser and OS versions__: Chrome, Firefox, IE11

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Low

#### Describe the issue:

Using combo box in uncontrolled auto-complete mode, saying that there are options: `opt1`, `opt2`, `opt3` in list.
1. type `op` in

[2017-11-14 13:29] Nimelrian opened #3387 "Dialog: Default value of "hidden" prop is true, should be false according to Docs/Types"
### Bug Report

- __Package version(s)__:
  - office-ui-fabric-react: 5.20.3
  - react: 16.0.0
  - react-dom: 16.0.0
- __Browser and OS versions__: Chrome Version 62.0.3202.89 / Windows 10 Pro Version 1703

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

#### Describe the issue:

Rendering a Dialog with

[2017-11-14 17:22] aappddeevv commented on #3366
It looks like part of the issue is that if you manage your own selection and track the selected items in your state (component or redux), then you have to turn off your selection changed handler when you are updating the selection on component mount or change in props. Otherwise, there is a nasty feedback loop.

I still have the problem where even after the set of selected keys is applied (and hen

[2017-11-14 18:05] suztocco commented on #3243
@betrue-final-final Here is what I see compared to the XD spec

![image](https://user-images.githubusercontent.com/20954039/32796324-47db5020-c923-11e7-9fc1-8e7c60cef0f3.png)
  And mouse over the chevron, not the blank space

[2017-11-14 18:35] MLoughry commented on #3383
https://tweakers.net/downloads/42517/google-chrome-620320262.html

[2017-11-14 18:36] MLoughry commented on #3383
Apparently, Chrome is reverting this. Closing out the issue for now: https://bugs.chromium.org/p/chromium/issues/detail?id=752450#c7

[2017-11-14 18:36] #3383 closed

[2017-11-14 19:32] abettadapur commented on #3350
@lynamemi Any update on the status of this issue?

[2017-11-14 19:35] lynamemi commented on #3350
@abettadapur The PR that it's in, noted above, is a big one. Those usually take a little longer to get reviewed. I'll ping a couple folks tomorrow if I don't see any progress.

[2017-11-14 19:43] amyngu commented on #3063
@jspurlin if you don't have bandwidth to fix this, I can go ahead and take it.

@dzearing for FYI

[2017-11-14 20:22] amyngu opened #3388 "Suggestions - cannot arrow up to leave "Search more" option"
After arrowing down to the option, arrowing up should take the focus to the last suggested item (before the divider)### Bug Report

- __Package version(s)__: office-ui-fabric-react 5.17.0
- __Browser and OS versions__: All

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) Yes, unless SME can

Requested priority: (Blocking, Hi

[2017-11-14 20:26] amyngu opened #3389 "Suggestions - After search more option, focus is lost"
### Bug Report

- __Package version(s)__: office-ui-fabric-react 5.17.0
- __Browser and OS versions__: All

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable) Any site using 'search more' option with People Picker

#### Descr

[2017-11-15 14:11] LeonidasFettikus opened #3397 "Icons won't render anymore after package update"
Hi guys,

After updating my packages to latest version, none of the Icons will render.

[code]

will render as:
![image](https://user-images.githubusercontent.com/8888670/32840104-f22e2874-ca16-11e7-88fd-593d7f8b6b1f.png)

I also noticed that the rendered `<i></i>` tag doesn't have any inner HTML.

![image](https://user-images.githubusercontent.com/8888670/32840240-63e0b482-ca17-11e7-8548-0607bfb3

[2017-11-15 15:39] lynamemi commented on #3397
The way Fabric handles icons changed in v5.0. Check out the updated documentation:
https://github.com/OfficeDev/office-ui-fabric-react/wiki/Using-icons

I'm guessing you need the initializeIcons() call.

[2017-11-15 15:50] LeonidasFettikus commented on #3397
I facepalmed at myself for once again completely ignoring documentation in favor of trial and error. Thank you for the hint, it solved my problem!

[2017-11-15 15:51] #3397 closed

[2017-11-15 15:53] lynamemi commented on #3397
It's ok, there's a lot of documentation to sift through! Glad it worked for you.

[2017-11-15 18:46] Caseyyu2 opened #3400 "combobox and dropdown alignment issue"
### Bug Report

- __Package version(s)__: (5.21.2)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes)

Requested priority: (Normal)

Products/sites affected: (if applicable)

#### Describe the issue:
Dropdown control and combobox control use different mechanisms to set the

[2017-11-15 19:00] aappddeevv commented on #3366
Alright, I think this is resolved. There was a skew in my getKey between components. It looks like the key issue is to break the cycle between your state and the handler set into the Selection object when your component is updating the selection. Essentially, I added some non-component state (not in the state object) to my component to track when the selection object should be updated *and* not is

[2017-11-15 20:32] zzchua opened #3401 "Fabric UI needs to be updated with latest design from Discoverability Framework"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
No

Requested priority: (Blocking, High, Normal, Low)
High

Products/sites affected: (if applicable)
Outlook.com (Beta)

#### Describe the issue:
Teaching Bubbl

[2017-11-16 07:50] mdanielcristian opened #3405 "Dropdown scrolling glitch on IE 11"
### Bug Report

- __Package version(s)__: 5.18.0
- __Browser and OS versions__: Windows, IE 11. Works as expected in chrome

#### Describe the issue:

Dropdown with many entries, when scrolling down, after moving the mouse it goes back to the top of the list.

#### Actual behavior:

Dropdown list goes back to top when scrolling. It is impossible to get to the entry you need.

#### Expected behavio

[2017-11-16 09:45] bhaveshbhati opened #3406 "Focus getting lost while using input in DetailsList"
### Bug Report

- __Package version(s)__: office-ui-fabric-react v5.21.2
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)  High

Products/sites affected: (if applicable)

#### Describe the issue:

We recently updated

[2017-11-16 14:14] mattcoxonline opened #3407 "Adding support for SVG Fabric icon set"
I'm sure this may have been a point of discussion before today, but I was wondering it would be possible to **include SVG support for the Fabric icon set**, rather than just the icon font itself.

There are discrepancies between the way browser handle and render icon fonts. As a resut of this, I see a number of errors and reported bugs across Office products that mention il-aligned icons. This is

[2017-11-16 14:19] russgove commented on #3173
got it working with this
.SPFXSecurityGrid .ms-DetailsHeader { //* when adjusting line hieight also need to adjust second parameter to transform:translate below
    height: 140px;
    white-space: nowrap;
}
//*Set the wrappers around the headers to display at 45degree angles
.ms-DetailsHeader-cell.rotatedColumnHeader{
    transform:  translate(25px,40px ) //*Change second parameter when adjusting

[2017-11-16 14:19] #3173 closed

[2017-11-16 14:24] russgove opened #3408 "Details:List set style on odd numbered rows"
How do i change the background color for odd numbered rows in a detailslist.

[2017-11-16 15:02] #3283 closed

[2017-11-16 20:23] melvsparks opened #3410 "Enable modification of choice group button color"
### Feature Request

Enable modification of choice group radio button color by implement IStyles for the choice group, so the styling can be updated inline.

[2017-11-16 20:24] martellaj opened #3411 "[Tooltip] Tooltip doesn't position correctly in IE"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: ODSP

#### Describe the issue:

The tooltip doesn't position correctly, and it's reproducible on the Fabric website.

#### Actual behavior (IE):

![image](https://user-images.githubusercontent.com/1019478/32914025-0370f8b6-cac9-11e

[2017-11-16 23:20] brwatt commented on #3354
For now I will use the cacheKey property on ICommandBarItemProps. However, long term it would be a good idea to default the cache key to whether the props are the same.

[2017-11-16 23:20] #3354 closed

[2017-11-17 00:19] #3352 closed

[2017-11-17 00:58] #3102 closed

[2017-11-17 04:36] #2354 closed

[2017-11-17 07:18] dzearing commented on #3359
This is a problem with your @types/react. Which version are you using? Can you try updating it?

[2017-11-17 07:21] dzearing commented on #3405
@joschect can you test this?

[2017-11-17 07:31] dzearing commented on #3405
repro:
https://codepen.io/dzearing/pen/XgrRGX

[2017-11-17 08:09] lszomoru commented on #3359
Thanks for getting back to me on this. At the moment the project is using `15.0.35`. I started going through each version and I was able to successfully compile the project using `15.0.37`. I will take a look at the even newer versions of the type definition now. Thanks for your help!

[2017-11-17 08:09] #3359 closed

[2017-11-17 12:33] amadeogallardo commented on #1623
@micahgodbolt Possibly related: if the "errorMessage" prop is set, it displays even on initial form-load. Is there a way to control when the error message displays or not? (similarly to TextField, which provides a few handlers such as onGetErrorMessage, validateOnLoad, etc.)

[2017-11-17 15:14] salehaHussain opened #3418 "TextField Accessiblity - validateOnFocusOut errors are not read by narrator"
### Bug Report

- __Package version(s)__: 5.8.0
- __Browser and OS versions__: Edge Narrator combo

#### Priorities and help requested

Are you willing to submit a PR to fix? No

Requested priority: Normal

#### Describe the issue:

On using Narrator and Edge, setting the error properties fro textfield as validateOnLoad: false, validateOnFocusOut: true, the narrator does no read out the error on t

[2017-11-17 17:41] salehaHussain opened #3419 "Accessibility issue - buttons"
### Bug Report

- __Package version(s)__:5.8.0
- __Browser and OS versions__: Edge

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

#### Describe the issue:

In high contrast, there is no way to distinguish a foucssed button from an unfocussed one.

Unfocussed -
![image](https://user-images.githubuserco

[2017-11-17 19:06] joschect commented on #3405
This appears to have been caused by #3274 . The menu only actually scrolls back when you move the mouse.

[2017-11-17 19:11] LarsLiden opened #3423 "Panel Won't Close"
### Bug Report

- __Package version(s)__"office-ui-fabric-react": "^4.47.0",
- __Browser and OS versions__: Chrome

#### Describe the issue:

I'm seeing the same (or similar) issue to [Issue 930](https://github.com/OfficeDev/office-ui-fabric-react/issues/930)

I have a help panel that is opened by clicking on an icon on a modal.  Usually it works just fine, but in certain situations, the panel wil

[2017-11-17 22:20] elliottsj commented on #3406
I've attempted a fix in #3425; please try the demo codepen and let me know if this fixes your issue.

[2017-11-18 00:00] #3406 closed

[2017-11-18 08:56] codefactorymx commented on #3387
On components/dialog/dialog.tsx find this code
isOpen={ isOpen !== undefined ? isOpen : !hidden }

Also on the properties is the value of the hidden

[2017-11-18 19:35] dzearing commented on #3408
This css rule would work. It's not built in as it hasn't been part of the design language so far.

[code]

[2017-11-18 19:45] #3408 closed

[2017-11-20 02:10] pixelhen commented on #1839
Was there any update to this? anyone?

[2017-11-20 06:12] mdahamiwal commented on #3418
This happens only for Edge and I'm following up with Edge team for this issue. I suspect the error announcement is subside due to focus on next active element which shift the announcement priority. I tested for firefox + NVDA and it works fine.

[2017-11-20 06:24] salehaHussain commented on #3418
Yes, Edge Narrator is the real problem. NVDA is working perfectly.

[2017-11-20 14:38] caelistic commented on #819
I have got the same issue. OnChange is not firing. Instead onChanged is firing but only with the entered text as parameter.
Returning the component proxy would be better.

[2017-11-20 16:07] christiango opened #3433 "ContextualMenu useTargetWidth prop renders a menu that is slightly wider than the target"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: Office Online

#### Describe the issue:
When using the useTargetWidth prop of a contextual menu, it is expected that the width of the menu exactly matches the width of the element that is set as the target of the menu. Instead, it

[2017-11-20 21:15] melvsparks opened #3434 "Accessibility - ComboBox options are not read out correctly"
### Bug Report

- __Package version(s)__: Newest on fabric site
- __Browser and OS versions__: Chrome (Windows and Mac), IE 11, Edge

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Maybe, Depends on extent of the issue

Requested priority: Blocking, needed for final product release of Outlook Calendar at the beginning of December

Pr

[2017-11-20 22:42] suztocco commented on #3242
@betrue-final-final  @lynamemi - Not sure if it was noted here but I have mentioned quite a few times that the submenu selected text is not semi-bold in the XD files but appears as so in code
![image](https://user-images.githubusercontent.com/20954039/33045237-04cca580-ce01-11e7-844b-1eb22483025c.png)

![image](https://user-images.githubusercontent.com/20954039/33045261-17f1fcb4-ce01-11e7-8c52-b15

[2017-11-21 06:05] veloiya opened #3438 "onClick for ITag"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable) VSTS

#### Describe the issue:
Need onClick in ITag props.
We have a requirement that on clicking on a tag we want some actions to be performed.

[2017-11-21 16:50] LeonidasFettikus opened #3439 "Themes are not applied in IE?"
Hi guys,

we are currently doing a SharePoint App where we use office ui fabric react as the primary front end. We wanted to use a different primary color than the default blue so I added the following lines to my script:

[code]

This works well in chrome and everything that has the default blue color is changed. BUT when I use IE 11 to view my app, then components such as CommandBarButton and th

[2017-11-21 16:52] LeonidasFettikus commented on #3439
I also read in the documentation that IE 10 isn't supported but that would mean that it's nearly impossible to use office ui fabric react with SharePoint because the latter won't run properly if document mode is set to 11. I think I am missing something here....

[2017-11-21 18:25] lynamemi commented on #3242
I am looking into fixing this (the fix is straight forward), but I'm getting a weird scroll issue in my master branch that I need to figure out first. If someone else takes the font and background issue on, let me know.

[2017-11-21 18:58] lynamemi commented on #3242
Found the scroll bug! Someone replaced an example in a recent PR by mistake - should be able to get this fix in soon.

[2017-11-21 19:19] dwilsonmsft opened #3442 "FocusZone doesn't work quite right when items are added asynchronously"
### Bug Report

- __Package version(s)__: 5.21.0
- __Browser and OS versions__: n/a

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: VSTS

#### Describe the issue:

FocusZone chooses an active element when it is first mounted, and does not change that active element even if ele

[2017-11-21 19:53] lynamemi commented on #3242
@suztocco , you can see the update if you follow the PR link referenced above.

[2017-11-21 20:09] suztocco commented on #3242
@lynamemi  I am looking around the page but not sure what/where to click.
In the past I could not SEE the actual design working either. It was just code.

[2017-11-21 20:22] lynamemi commented on #3242
I added screenshots to the description showing before and after. Unfortunately that's the best I can really get you from here. You would have to pull my code down onto your local computer to actually see it in action.

Alternatively, I can add gifs instead of static images if you want to see more of the experience.

[2017-11-21 20:29] jspurlin commented on #3063
@amyngu , yes feel free to make the fix for this

[2017-11-21 20:37] suztocco commented on #3242
Ok thanks. I'm sure @betrue-final-final can test. He has the code system down. Looks like the bold is gone which was the item that felt the most off. Have a good holiday

[2017-11-21 20:41] lynamemi commented on #3242
Thanks, likewise!

I will go over it with Ben if I can catch him this afternoon.

[2017-11-21 23:06] staylo8 opened #3447 "ResizeGroup doesn't apply className from props"
### Bug Report

- __Package version(s)__:  2.23.0
- __Browser and OS versions__: N/A

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: High

Products/sites affected: N/A

#### Describe the issue:

ResizeGroup does not apply the className passed via props.

#### Actual behavior:

Noticed when working with Experi

[2017-11-22 18:54] #3447 closed

[2017-11-22 22:27] #3400 closed

[2017-11-22 23:03] #3242 closed

[2017-11-22 23:51] mikewheaton opened #3453 "Documentation: Add 'ms-Fabric' wrapper class to Fabric Core's getting started content"
See the [related issue on Fabric Core](https://github.com/OfficeDev/office-ui-fabric-core/issues/1064).

[2017-11-23 00:00] PhaniKumarAddala commented on #948
I am using people picker in SharePoint Extension, and couldn't find a way to allow the user to enter emailaddress say outlook@outlook.com

[2017-11-23 13:29] salehaHussain opened #3455 "MessageBar: able to override the aria-live value"
### Feature Request

Set Message bar aria-live only when focus in side a certain element.

### Requirement
I have a page with a message bar to denote actions of a specific element. The aria-polite reads the message  on page load itself. Can there be a way to specify a parent element in the Message Bar, to read the message only when focus comes inside the parent element.

[2017-11-23 14:46] ymihir opened #3456 "Checkbox is not rendering. It is rendering as [object object], onchange event not identified"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking)

Products/sites affected: (if applicable)

Checkbox is not rendering in SharePoint spfx webpart if I use in loop. Following is m

[2017-11-23 15:36] #3456 closed

[2017-11-24 11:05] Ridlsan opened #3457 "resolveNewValue picker error"
There is code in components/pickers/BasePicker.tsx in resolveNewValue :
[code]

If u limit picker with itemLimit, when u select last item input is removed, so this code throughs error (TypeError: this.input is null). Easy fix is
[code]

[2017-11-24 13:30] CDoughty08 opened #3458 "Global theme overrides"
I may just be missing it, but I have had no luck thus far searching previous issues and/or documentation.

When creating an element with fabric I am able to override styles on a component. i.e.
[code]

Is there a way to do these override at a global level, similar to how `loadTheme` over-rides all base colors?

Currently I am wrapping them in higher order components, but it feels messy.
Thank you

[2017-11-27 13:13] rokmicrosoft opened #3460 "Getting onblur of tagpicker even when focus is going to tag-suggestion callout from tag-input box"
### Bug Report
Tag picker component has props onblur  but this events is triggered even in case of focus is moving from TagInput component to TagSuggestionCallout.
Our expectation is we will get onblur event only when focus is moving from TagPicker including TagSuggestion Callout as well TagInput Component .
Is this behavior expected ? If it is can you please suggest some way how we can get onBlur

[2017-11-27 19:07] staylo8 opened #3462 "Additions to new CommandBar API"
### Desired additions to new CommandBar API:

- Right aligned items
![image](https://user-images.githubusercontent.com/33881401/33284147-ecfd8822-d362-11e7-8c08-25dfa9373657.png)

- Left item drop off on resize
![image](https://user-images.githubusercontent.com/33881401/33284164-f6e6ec02-d362-11e7-98e6-b6a8241b6724.png)

- Name only in overflow menu (same idea as, but opposite of, iconOnly)

[2017-11-27 22:08] unindented opened #3464 "React v16"
Any plans to migrate to React v16? Or at least relax the peer dependencies to allow it?

[2017-11-28 07:38] kanufy opened #3468 "[Fabric website] scrollablepane's docs display wrong title"
### Bug Report

- web site: https://developer.microsoft.com/en-us/fabric#/components/scrollablepane

#### Describe the issue:
![image](https://user-images.githubusercontent.com/8322617/33307283-4e56cb96-d459-11e7-8350-bad272d29ec5.png)

Actual: Title is the 'SearchBox'
Expected:  Title is the 'ScrollablePane'

I seem that the first rendering is 'ScrollablePane', but it is overwritten to 'SearchBox

[2017-11-28 08:33] fidabhittani commented on #3055
Any update on this issues ... Any work arounds?

[2017-11-28 10:07] mdanielcristian commented on #3405
@dzearing anything new on this?

[2017-11-28 12:41] Ridlsan opened #3469 "SearchBox does not search if search text empty"
I have this problem: user types smth, then press enter and request is sending. Then he wants to clear using keyboard and then press enter again to see results without filter. But my function is not called, because this code checks value for emptiness:

case KeyCodes.enter:
        if (this.props.onSearch && this.state.value!.length > 0) {
          this.props.onSearch(this.state.value);
        }

[2017-11-28 13:51] veloiya opened #3470 "Tag picker space issue on input disable"
### Bug Report

- __Package version(s)__: (fill this out)5.21.1002

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low) Low

Products/sites affected: (if applicable) VSTS

#### Describe the issue:
We are displaying a list of tags. The input box is disabled and hidden. Howeve

[2017-11-28 14:20] WHKFZYX-Tool commented on #3285
+1

[2017-11-28 14:56] LeopoldLerch commented on #2128
No, can´t confirm that. I was on 2.6.1 and just updated to 2.6.2, no problems at all.

[2017-11-28 16:26] micahgodbolt commented on #3469
looking into proper solution. removing this check might have unintented consequences as 'value' was always assumed to be length > 0. Other option would be to put this behind a flag, so && this.state.value!.length || this.props.searchOnEmpty.

[2017-11-28 16:27] micahgodbolt commented on #3462
fixed in #3463

[2017-11-28 16:29] micahgodbolt commented on #3458
Fabric does support global level customization of component types, though i'm not 100% sure the current status of the project (might be limited at the moment). @dzearing has been doing most of the work in this area, and the 6.0 release should greatly improve the themeing support.

[2017-11-28 16:30] micahgodbolt commented on #3457
Is this a fix you'd be willing to submit? I'd be happy to review your submission.

[2017-11-28 16:35] micahgodbolt commented on #3455
if we expose announcementPriority as a prop, you could change/remove the aria-polite value when it is called, based on the location of focus. Is this doable for you? I'm not sure we want to bake in focus logic into a component if we don't have to.

[2017-11-28 17:49] lynamemi commented on #2909
The PR linked above addresses #1. #2 is a broader discussion, and we are going to keep as is for now.

[2017-11-28 18:03] #3462 closed

[2017-11-28 18:48] lynamemi opened #3472 "ComboBox: Options need focus styles"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) Maybe

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable)

#### Describe the issue:

In ComboBox.styles.ts optio

[2017-11-28 21:27] michel-fornaris opened #3473 "Fabric UI Core Grid Layout DOES NOT WORK"
I have a very simple HTML page that in summary includes the Fabric UI CSS file and has a body (body.ms-Fabric) with

[code]

but is displaying two rows instead of the expected two columns

What am I doing wrong?

Am I missing any other CSS include or class?

Thanks

[2017-11-29 00:18] huchim commented on #2128
Hi!

I'm not sure if my error is the same, but I'm receiving the error: "node_modules/office-ui-fabric-react/lib/components/Button/ActionButton/ActionButton.d.ts(4,57): error TS2344: Type 'IButtonProps' does not satisfy the constraint 'IBaseProps'."

package.json

[code]

tsconfig.json
[code]

src/index.tsx
[code]

output:
[code]
Is it the same error? It works ok with typescript `<= 2.5.3`

Thanks

[2017-11-29 01:12] zhougz520 commented on #2128
HI!
This is my error：“ERROR in [at-loader] ./node_modules/office-ui-fabric-react/lib/components/Button/ActionButton/ActionButton.d.ts:4:57
    TS2344: Type 'IButtonProps' does not satisfy the constraint 'IBaseProps'.”

package.json
`  "peerDependencies": {
    "react": "^16.0.0",
    "react-dom": "^16.0.0"
  },
  "devDependencies": {
    "@types/debug": "^0.0.30",
    "@types/immutable": "^3.8.7",

[2017-11-29 01:21] zhougz520 commented on #2128
HI!
This is my error：“ERROR in [at-loader] ./node_modules/office-ui-fabric-react/lib/components/Button/ActionButton/ActionButton.d.ts:4:57
    TS2344: Type 'IButtonProps' does not satisfy the constraint 'IBaseProps'.”

package.json
[code]
tsconfig.json
[code]

src\index.tsx
[code]

output:
[code]

 It works ok with typescript 2.4.1

Thanks in advance...

[2017-11-29 11:22] sbrown-fc commented on #3439
I am finding the same thing using office-ui-fabric-react in a content editor web part in SharePoint 2013 on-prem. Theming works fine in Chrome but not IE11 because of the explicit document mode.

Apart from that there are issues with SharePoint's CSS (e.g. `min-width` on buttons) knocking things out but I'm able to sort that by adding rules in myself. Can't see at the moment how to fix the theming

[2017-11-29 14:10] huchim commented on #2128
I will use [--strictFunctionTypes](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-6.html) as @zhougz520 suggest it (workaround, but I will follow this thread if a fix comes).

Thanks @zhougz520

[2017-11-29 14:14] LeopoldLerch commented on #2128
@zhougz520
Thats because the strictfunctiontypes-flag is new since 2.6. So 2.5 can´t and won´t change transpiling to that not known parameter.

according to
https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-6.html

strictfunctiontypes is on by default if you use the strict-flag. And obviously there is an issue in fabric there.

[2017-11-29 15:47] cobbs-totem commented on #3186
I've been semi-successful in resolving this by passing in a baseurl to the initializeIcons() routine:

`initializeIcons("/@uifabric/icons/fonts/");`

Then, I let my nginx server know where to find those.  However, some icons still show up as "squares" instead of actual icons.

[2017-11-29 16:40] zhougz520 commented on #2128
@LeopoldLerch
Yes,you are right!
It looks like the same issue with #3285 ,I do not see it yesterday.

[2017-11-29 20:10] philipzloh opened #3478 "Fabric localized fonts should prefer UI fonts over regular fonts (Windows fonts)"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: All

#### Describe the issue:

Yu Gothic UI is an optimized font that displays Latin characters prettily alongside more condensed Japanese characters. Using Yu Gothic instead makes the UI look not like Microsoft.

These languages

[2017-11-30 07:43] dzearing commented on #3464
yup. I've just updated typescript first, react is next.

[2017-11-30 07:43] dzearing commented on #3473
this would be related to office-ui-fabric-core css stylesheet, which is a separate thing.

[2017-11-30 07:45] #3473 closed

[2017-11-30 08:44] fidabhittani commented on #3077
Anything yet?

[2017-11-30 09:26] Grinzzekatze opened #3483 "PeoplePicker itemLimit does not work"
Hi.

I have a problem with the PeoplePicker. The itemLimit does not work for me.

I use it like this :
[code]
Do I miss a step?

Thanks!

[2017-11-30 12:40] mdmdakbar opened #3484 "Getting Invalid ARIA attribute value accessibility error in detailsList header component"
**Issue** -
Getting following accessibilty error in each details list header cell:
Invalid ARIA attribute value: aria-describedby="header97-name-tooltip"

The dom element corresponding to id passed in aria-describedby does not exist and keros for web is giving the above error.

Below is the method in **DetailsHeader.tsx** where each column header is rendered -

private _onRenderColumnHeaderTooltip

[2017-11-30 15:21] LeonidasFettikus opened #3485 "Horizontal and vertical scrollbars on DetailsList"
**Package version**: 5.21.1
**Affected browser versions**: IE 11

**Actual behavior:**

We use an OUI DetailsList in a SharePoint 2013 solution (CSR templates). Scrollbars are displayed in IE 11 even though content should fit inside page/container.

This is how it looks:

![image](https://user-images.githubusercontent.com/8888670/33438060-0cd2efdc-d5ea-11e7-91c4-bb8aa4b32c5f.png)

**Expected behav

[2017-11-30 17:41] satbai opened #3486 "DetailsList check-all checkbox doesn't have a name property nor the option to add an aria-label"
### Bug Report
- __Package version(s)__: latest

#### Priorities and help requested (not applicable if asking question):
Are you willing to submit a PR to fix? No
Requested priority: (Blocking, High, Normal, Low) Normal

#### Describe the issue:
The DetailsList check-all checkbox should have a name property, and/or it should have the option for a custom aria-label to meet the MAS C accessibility s

[2017-11-30 19:20] satbai opened #3488 "Dropdown high contrast issues"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: Firexox 56.0 on Windows 10

#### Priorities and help requested (not applicable if asking question):
Are you willing to submit a PR to fix? No
Requested priority: Normal

#### Describe the issue:
When on Windows 10 high contrast mode using the FireFox browser, the dropdown focus is not visible at all.

User impact: Peop

[2017-12-01 00:41] peacokle opened #3497 "Button State Colors Wrong"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: (Normal)

Products/sites affected: (All)

#### Describe the issue:

Fabric button colors are wrong.

Primary hover button should be:
bg color: t

[2017-12-01 00:55] #3478 closed

[2017-12-01 02:14] #3442 closed

[2017-12-01 02:32] dzearing commented on #3497
@betrue-final-final

[2017-12-01 12:23] StfBauer commented on #3497
I know I wasn't mentioned. Just one thought. What will happen when the themePrimary color is white or light grey and the text-color: is white.

[2017-12-01 14:58] betrue-final-final commented on #3497
The idea is that the themes are set up so the primaries all pass contrast requirements against white.

If you decide to set a custom theme that uses s light color that will break this, our theme generator should build in safeguards to warn or prevent this from happening. @phkuo, we should sync on this and setup a new issue.

There could also be summer smarts that invert the text color, but I'm not

[2017-12-01 15:28] jlgoodman opened #3502 "Icon Font Usage in Environments with Restricted Group Policies"
I'm working in an environment with a group policy that blocks certain font embeddability settings. It completely blocks the current FabricMDL2Icons files, not just in my work, but also when I go to the [public Microsoft fabric site here](https://developer.microsoft.com/en-us/fabric) . Any possible solutions?

[2017-12-01 16:27] SimplerSoftware commented on #616
@dzearing - I've read the workaround but am having a hard time figuring out how to apply it to an AspNetCore 2.0 app.  Since the header is rendered in the _Layout.cshtml file I'm not quite sure where to put the suggested code.  Any suggestions/help would be much appreciated.

[2017-12-01 16:41] dzearing commented on #3497
The contrast validation should all be done at theme generation level, not so much at the component level.

I am really excited to have @phkuo's work complete, so that we have a complete and user-friendly story for creating themes.

[2017-12-01 16:42] betrue-final-final commented on #3497
Yes @dzearing!

[2017-12-01 18:17] SimplerSoftware commented on #3464
Just ran into this... looking forward to a release supporting v16!

[2017-12-01 18:18] MLoughry commented on #3497
To get back on topic, @betrue-final-final, should the proposed changes be made to the code?

[2017-12-01 19:27] betrue-final-final commented on #3497
In terms of this PR, it all looks correct except for the focus ring, which should be neutralSecondary, and not themeDark.

[2017-12-02 01:20] huntwj opened #3506 "Facepile - add option to put showAddButton on right side"
Currently it seems it can only go on the left, but it would be nice to have the option to put it on the right. Often that is more semantically meaningful as the left-to-right ordering often reflects the order of added items.