[2019-01-11 05:59] criticalbyte commented on #7579
no i have not, i need the free form functionality of the ComboBox which does not seem to be available with the Dropdown component.

can't we have a hot-fix for it?

[2019-01-11 06:01] piyumi25 commented on #7611
this is my code pen https://codepen.io/piyumi28/pen/xmypVe?editors=1111
I am creting comboboxes dynamically and until focus out from the combobox the value is not appeared. I think if I can focus out when menu is dismissed the value may be show in the text box.

[2019-01-11 06:16] ecraig12345 commented on #7579
Potentially, but I'm pretty busy at the moment, so I won't have time to even look into the feasibility of an intermediate fix right away.

[2019-01-11 06:20] ecraig12345 commented on #7438
Reassigning to Kevin per David's suggestion.

[2019-01-11 06:21] ecraig12345 commented on #7416
Awesome! @natalieethell Can you work on getting info about how to change the font added to the website? (Also reassigning this to you per David's suggestion.)

[2019-01-11 06:22] ecraig12345 commented on #7417
Reassigning to Natalie per David's suggestion

[2019-01-11 08:05] hamedy commented on #7419
just tested and works great. thank you all :) Really appreciate the fast responses :)

Hamed

[2019-01-11 11:06] tpanpalia commented on #7438
JAWS is more compatible with IE.
However, we have verified the behavior in IE, Chrome and Edge browsers. This repro in all the browsers. JAWS is able to read entire row content (using up/down arrow key), but, for Edge, the text is not highlighted for the columns.

[2019-01-11 11:35] criticalbyte commented on #7579
@ecraig12345 how long will it take to be fixed?

[2019-01-11 14:01] betrue-final-final commented on #7438
This sounds like an Edge bug.

[2019-01-11 16:36] xyz92 commented on #7590
@Vitalius1 Thank you!

[2019-01-11 16:36] #7590 closed

[2019-01-11 16:40] mslonli opened #7612 "Color-contrast issue from disabled toggle label."
How to repro: The 'Off' label has color-contrast issue.

`<Toggle defaultChecked={false} disabled={true} label="Disabled and unchecked" onText="On" offText="Off" onFocus={() => console.log('onFocus called')} onBlur={() => console.log('onBlur called')} />`

[2019-01-11 16:53] betrue-final-final commented on #5390
Ok, so this "indeterminate" radio button state appears "unchecked" correct? If so, then I can see that case.

[2019-01-11 17:03] betrue-final-final commented on #7612
Disabled controls do not need to pass WCAG contrast. Here's the excerpt:

"The visual presentation of text and images of text has a contrast ratio of at least 4.5:1, except for the following:

Large Text
Large-scale text and images of large-scale text have a contrast ratio of at least 3:1;

Incidental
Text or images of text that are part of an **inactive user interface component**, that are pure d

[2019-01-11 18:39] dzearing commented on #7457
The idea would be to create a general wrapper component which renders label/error that can wrap any form component.

Could use a codepen.

[2019-01-11 18:46] KevinTCoughlin commented on #6657
@raveenone FWIW your Codepen repros the bug across Firefox, Edge, and Chrome.

[2019-01-11 19:05] KevinTCoughlin commented on #6657
@raveenone the root cause is that you are overriding `overflow-y` on the scrollable container which `DetailsList` uses for its on `'scroll'` event hook to invoke its virtualization logic as you mention in the original report:

See my _working_ modified version of your Codepen here: https://codepen.io/kevintcoughlin/pen/bOQpbM.

To get this to work, I've removed the following style override:

[code

[2019-01-11 19:40] micahgodbolt commented on #5898
@Vitalius1 this appears to be a pretty straight forward shield bug. Do you have room to add it to your queue?

[2019-01-11 19:49] soorajcodehub commented on #7606
I think it looks okay in the codepen. Is there a way we can test if in
realy scenarios.

Thanks
Sooraj

On Fri, Jan 11, 2019 at 11:27 AM kkjeer <notifications@github.com> wrote:

[2019-01-11 19:57] kkjeer commented on #7606
@soorajcodehub I didn't make any changes to Fabric code for the codepen (or this codepen for the second example: https://codepen.io/kkjeer/pen/WLYwJm). These would be changes you would make to the styles in your codebase. Please let me know if the styles in the codepen don't work with your code.

[2019-01-11 20:00] #5339 closed

[2019-01-11 20:01] Vitalius1 commented on #5898
Yes. Preparing a PR for a different issue and will get to this one next... or next week)))

[2019-01-11 20:02] Vitalius1 commented on #5898
Yes. Preparing a PR for a different issue and will get to this one next... or next week)))

[2019-01-11 20:02] soorajcodehub commented on #7606
Oh I see. I mean we can override styles at our end and make it work. But
every downstream use of xxl panel is busted. I am not aware of the issue
you were referring to, but might be a good idea to make a base change that
fixes both issues, if a plain revert isn't possible.

On Fri, Jan 11, 2019 at 11:59 AM kkjeer <notifications@github.com> wrote:

[2019-01-11 20:10] joerneu commented on #6657
Ok, perfect, we are getting closer to a solution.

I already had a container for the list in my sample. Instead of changing the CSS as @KevinTCoughlin mentions and making the panel scrollable, I can keep the flex layout and fix the scrolling by enabling `autoflowY` on the list's container:

[code]

**and** setting `data-is-scrollable` on the list's container:

`<div className={listStyle} data-is-s

[2019-01-11 20:14] iamrafan commented on #7612
@betrue-final-final But the text "off" is still available to the AT users and hence shouldn't it be considered as not being part of the disabled control?

[2019-01-11 20:17] KevinTCoughlin commented on #6657
Yes, its currently documented on https://developer.microsoft.com/en-us/fabric#/components/detailslist.

Though you aren't the first to miss it. We're open to suggestions on how to improve that documentation.

I know @ThomasMichon has opinions regarding this point and the component suggestion you raised. I thought this was one case which [ScrollablePane](https://github.com/OfficeDev/office-ui-fabri

[2019-01-11 21:00] #7524 closed

[2019-01-11 21:04] NavaneethaDev commented on #7341
@khmakoto Thanks for information. Below is my case
When the user clicks on a button CoachMark is popping up and on mouse over to this CoachMark, TeachingBubbleContent is displaying. Is there a way the TeachingBubbleContent can be displayed automatically after some seconds instead of mouse over? Thanks!

[2019-01-11 21:15] joerneu commented on #6657
I looked at ScrollablePane and it seems that it is only used for Sticky components:

The documentation regarding scrolling was added after I had raised this issue. That's why I have not been aware of it.

In general, regarding usage and documentation: When I started with DetailsList I expected that it would already render the container for virtualized scrolling. From the documentation and the samp

[2019-01-11 21:31] dzearing commented on #7609
Prototyped solution here: https://codepen.io/dzearing/pen/QzZqaX?editors=0011

[2019-01-11 21:34] juliosaenz commented on #7597
This would be very helpful for our project in which we show the content on a NuGet package in a hierarchical fashion using a tree.

[2019-01-11 21:44] #7528 closed

[2019-01-11 21:57] lukehumphrey opened #7619 "PeoplePicker component doesn't read out position of highlighted result in JAWS."
PeoplePicker component doesn't read out position of highlighted result in JAWS/Chrome.
Logged by WiPro against Project's Roadmap feature. Logging here per Micah.

Repro steps:
Search for a person using the component
Navigate through results

Result: SR reads out name of person
Expected: SR reads out name of person and X of Y for the position/total results.

[2019-01-11 21:58] lukehumphrey commented on #7619
Per Micah should go to Jon Schectman (PROGRAMMER STS).

[2019-01-11 22:03] lukehumphrey opened #7620 "Calendar component: Screen read doesn't read out anything when changing the year"
Use Edge/Narrator on https://developer.microsoft.com/en-us/fabric#/components/Calendar
Tab to the year up/down arrows and press one to change the year
Expected: SR reads out useful confirmation of new year
Result: No SR

Logged by Wipro against Project's Roadmap feature, which leverages this contro.

[2019-01-11 22:13] daweffe opened #7622 "[Accessibility] ContextualMenu: keyboard navigation does not work when menu is not near menu button"
### Environment Information

- __Package version(s)__: 6.110.2
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

We believe there may have been a regression in fabric the broke one of the ContextualMenus in Planner. Moving the contextualMenu close to the button which opens it in the DOM seems to have fixed

[2019-01-11 22:27] micahgodbolt opened #7623 "New Component: Progress"
## Component details

### Description
The Progress control would be a universal control for all determinate, and indeterminate controls of any shape or design. Horizontal and circular controls would be included, but the control would support various other styles.

This control would deprecate, or replace the code used for spinners and progress indicators

### Which product teams/scenarios need thi

[2019-01-11 22:33] mikewheaton commented on #7108
This is unblocked thanks to #7584

[2019-01-11 22:44] daweffe commented on #7622
See the code review for the work-around fix for clues on how to reproduce:
https://office.visualstudio.com/Project/_git/Plex/pullrequest/216307?_a=overview

[2019-01-11 22:47] daweffe commented on #7622
This probably had something to do with event bubbling in React 16. There is likely nothing fabric can do to fix this. But I will leave it here as a reference in case anyone else experiences this issue.

[2019-01-11 22:47] #7622 closed

[2019-01-11 22:49] micahgodbolt opened #7625 "☂ Panel open issues for convergence"
There are often issues using Panel due to the way that the internal structure is built (header/content/foot/scrollable sections etc). For those that want the structure of a pane (popover full height container with close button and dismiss capture) we should do what we did with Dialog and Modal. Create a 'pane' (or other named control) that is a non opinionated version of the Panel. No headers/foot

[2019-01-11 22:52] daweffe commented on #7622
This probably had something to do with event bubbling in React 16. There is likely nothing fabric can do to fix this. But I will leave it here as a reference in case anyone else experiences this issue.

[2019-01-11 23:52] #7593 closed

[2019-01-12 01:20] #7473 closed

[2019-01-12 02:12] kkjeer commented on #7606
If you are willing to create a codepen with your current Panel styling, that would be very helpful to me in trying to find a fix. Otherwise, I'm not sure how to go about making changes in Fabric that could mitigate this.

[2019-01-12 02:17] #6931 closed

[2019-01-12 02:17] PerthCharern commented on #7434
@micahgodbolt I guess that's fair. The tabbing flow is just a little awkward when you have something on the right of the pivot, and you instinctively think that you can get there by tabbing. It would be nice to offer tabbing as an alternative behavior (as a property flag maybe). In a two-dimensional focus zone, an arrow key makes perfect sense - but when there's only one dimension, tab works much

[2019-01-12 03:56] dzearing commented on #7612
Paging @betrue-final-final

[2019-01-12 06:08] Vitalius1 commented on #7580
@lambertwang any ideas? Can you look into this?

[2019-01-12 08:03] Vitalius1 commented on #7611
Not sure if it's a bug or not. Needs more eyes from someone familiar with the component. @jspurlin @stanleyymsft @ecraig12345 FYI.

[2019-01-12 10:38] NavaneethaDev opened #7631 "Auto open TeachingBubbleContent after some seconds of time in SPFX web part"
**Describe the feature that you would like added**
When the user clicks on a button CoachMark is popping up and on mouse over to this CoachMark, TeachingBubbleContent is displaying. It would be nice the TeachingBubbleContent can be displayed automatically after some seconds instead of mouse over in the spfx web part? Thanks!

**What component or utility would this be added to**
CoachMark and Teach

[2019-01-13 08:39] dzearing commented on #6431
Ping @joschect

IE11 detection is quite simple... like 1 line of code that we can stick in browser.ts or something in utilities if it's not already there.

 https://stackoverflow.com/questions/21825157/internet-explorer-11-detection

I agree that we should not expect end users to be hyper aware of super subtle details like this...

[2019-01-13 08:41] dzearing commented on #6431
@micahgodbolt I don't suspect IE11 dying for at least a year and a half, maybe 2.

I also really disagree here. In the rare cases where our code needs to fork for ie11, we should not ask authors to go out of their way to look the stackoverflow article up and do that...

If we can't find a solution that works in every browser, doing the detection for the user would be the next best... but asking th

[2019-01-13 20:03] jeremy-coleman commented on #7581
a few other questions,
for files with imports like
[code]
then in utilities its just exporting everything from @uifabric/package
is there a reason for that and are you opposed to changing it to @uifabric/package name?

i've also ran into a few issues with the types , which I think is mosly from legacy typescript versions. Any guidance/thoughts on improving them? Most can be replaced using return t

[2019-01-14 11:21] liuyangc3 opened #7633 "CommandBar custom render element not aligned"
### Environment Information

- __Package version(s)__: 6.119.0
- __Browser and OS versions__: Chrome

### Please provide a reproduction of the bug in a codepen:
[code]

#### Actual behavior:

![image](https://user-images.githubusercontent.com/6705844/51109458-406ea280-1830-11e9-82ad-ab37982b4ab0.png)

#### Expected behavior:

![image](https://user-images.githubusercontent.com/6705844/51109753-24b7

[2019-01-14 13:53] Rainson12 opened #7634 "custom tabIndex in custom column rendering of detailedList overwritten"
#### Actual behavior:

when setting the tabIndex of a custom rendered element in an IColumn the tabIndex is being overwritten with -1

[code]

#### Expected behavior:

tabIndex shouldn't be overwritten

[2019-01-14 16:01] #5408 closed

[2019-01-14 16:24] micahgodbolt commented on #7633
Can you provide a codepen example of this? In general, custom elements aren't automatically aligned. You might have to do some work to get fixed height elements to fit into a command bar that's taller than most of our inputs.

On the flipside of that, if there's something simple we can do to make elements align better, I'm all for it.

[2019-01-14 16:42] micahgodbolt opened #7636 "Form Input Improvements: Meta Issue"
Up until now our form inputs have been pretty purpose built for how they get used in our primary applications. We have not been spending much time thinking about how form inputs work as a whole. Consistent required states, labels, descriptions and error text. Controlled vs uncontrolled. An easy way to combine inputs into a single form and get a response on submit.

This issue is to capture all of

[2019-01-14 16:47] dzearing commented on #7581
Couple things;

1. The scss converter looks pretty awesome! I'm interested in how this works out. Minor note we have DocumentCard conversion out in PR.

2. The reasoning for the path import was simply that we wanted to keep all package imports in one place. I believe we are actually in a good place now to just import packages. @kenotron as an fyi

[2019-01-14 16:49] dzearing commented on #7581
(There's a lot (years) of history in import formatting and a lot of the weirdness stems from trying to support AMD.) Now that pretty much everyone is using webpack, and partners which do use AMD already have package mappings set up (AMD does not read your package.json for a "module" or "main" entry, so you end up having to translate what `@uifabric/utilities` resolves to manually in AMD config) I

[2019-01-14 16:49] dzearing commented on #7581
Will talk with ken today about and reason why not.

[2019-01-14 17:01] micahgodbolt commented on #6431
Yeah, that IE11 detection seems pretty straight forward. I was assuming it'd be quite a bit more complex. In that case, should this even be a prop? Shouldn't the control just make the necessary adjustments for IE11?

[2019-01-14 17:15] betrue-final-final commented on #7612
I like paging MUCH better than pinging. It's more human and less submarine.

Anyway about the Off/On label. It's true that blind users can use scan mode to navigate to a disabled control, but tab or control navigation skips the entire control. It would also be odd for a random "Off/On" label to be more visible than the rest of the control.

[2019-01-14 17:36] betrue-final-final commented on #7434
It's less about dimension and more about establishing a pattern. If pivots sometimes use tabs, and sometimes arrows, then people will not understand what to do. Given that we don't want to add to the number of tabs, especially in site which may have lots of pivots, using arrows makes the most sense.

[2019-01-14 17:48] #7601 closed

[2019-01-14 17:57] khmakoto commented on #7444
@cliffkoh running the current `npm install` that builds to oufr my computer took 2 minutes 9.8 seconds.

When updated so that `npm install` builds to experiments it took it 2 minutes 16.6 seconds.

[2019-01-14 18:19] khmakoto commented on #7444
#7529 documents `buildfast` in the `README`, but we still need a smarter solution for this. I will talk with @kenotron to see what we can do.

[2019-01-14 18:31] natalieethell commented on #7385
ITheme now has a `spacing` property and IPartialTheme has a `defaultFontStyle` property.

https://github.com/OfficeDev/office-ui-fabric-react/blob/4f37bd4de75b6aa610fcf4787b62af42c44f7501/packages/styling/src/interfaces/ITheme.ts#L32-L38

https://github.com/OfficeDev/office-ui-fabric-react/blob/4f37bd4de75b6aa610fcf4787b62af42c44f7501/packages/styling/src/interfaces/ITheme.ts#L57-L60

You can spec

[2019-01-14 18:38] micahgodbolt commented on #7385
It'd be nice to have defaultFontFamily, as well as fixedWidthFontFamily etc, and if we have spacing, it'd be nice to have fontSize in a similar stack. A lot of this is to be able to drive custom font styles as well, assuming we have a story for creating/using custom font styles in our Text control. i.e. how do I create a CenteredHeader Text style that content authors can reuse.

[2019-01-14 18:38] mikewheaton commented on #7634
Could you provide a repro of this issue so we can take a closer look? Here's a CodePen that serves as a good starting point: https://aka.ms/fabricpen

[2019-01-14 18:42] mikewheaton commented on #6833
I completed a full audit comparing the Fluent toolkit to Fabric React and found many issues like this one. Speaking to design, it's not clear which variants are actually intended to be in Fabric and which are product-specific modifications. I'm going to close this for now since it's unclear what should be done. I've suggested we treat identifying and fixing these gaps between design documentation

[2019-01-14 18:42] #6833 closed

[2019-01-14 19:00] #4504 closed

[2019-01-14 19:09] KevinTCoughlin commented on #6399
It _could_ be added but its fairly noisy given how selection is handled, see https://github.com/OfficeDev/office-ui-fabric-react/issues/6399#issuecomment-431517037

I need additional use cases to see if reporting the _unselection_ of an item is desirable or if we have to suppress them. And if we're suppressing then I worry about edge cases I haven't considered.

Has there been additional interest

[2019-01-14 19:11] dzearing commented on #5176
@natalieethell will talk with @KevinTCoughlin

[2019-01-14 19:14] ParadimeWeb commented on #5643
@dzearing
After more tests, this is still a breaking issue.
If you select an item from the picker first and then start typing in the TextField, you will lose focus and go to the picker.

If the picker is empty, it works fine, but if the picker has a selected value, any other component will lose focus to the picker!

You can still see this in the same CodePen
https://codepen.io/paradimeweb/pen/eLzp

[2019-01-14 19:39] miczhongMSFT opened #7639 "[Accessibility][TextField] - Disabled TextField does not work with screen reader"
Screen reader cannot access the value inside of TextField if the TextField is disabled. The expected behavior should be similar to that of a ComboBox. When a ComboBox is disabled, it still allows screen reader to tab into it's <input> field for accessibility.

[2019-01-14 19:44] dzearing commented on #6651
Curious how @natalieethell work will impact the comments. For example, we might have Slider component which references `onChange` from the `value` prop comment.

Would we would need to manually modify this comment in any way, or would the doc tooling somehow detect that "onChange" refers to `ISliderProps.onChange`?

I suspect we will have a lot of manual scrubbing to do here in any case, and that

[2019-01-14 19:49] dzearing commented on #6651
Suggested work here:

I think backticks are just one of many inconsistencies. Could we get a table of all props, next to each other?

Then schedule a meeting with a few devs to divide and conquer the table.

Then check in.

[2019-01-14 20:00] #7288 closed

[2019-01-14 20:00] miczhongMSFT commented on #7639
In this particular scenario, we have a default value assigned to the TextField, and we do not want users to change this value. We tried using readOnly, however that does not provide a grey-style visual cue to signal users that the text box is not editable.

[2019-01-14 20:10] dzearing commented on #5643
Re-opened. Thanks @joschect for jumping on this.

[2019-01-14 20:12] mikewheaton commented on #7639
This is by design: https://developer.mozilla.org/en-US/docs/Mozilla/Tech/XUL/Attribute/disabled

The Fabric React TextField component matches the behavior of a standard HTML input, which is to not be keyboard focused when disabled. Here's a CodePen demonstrating that: https://codepen.io/mikewheaton/pen/GPzrLz?editors=0010

[2019-01-14 20:31] mikewheaton commented on #7108
I've confirmed that the DocumentCard is now picking up the Fluent theme. Marking it as complete since there are no Fluent-specific designs for this component.

[2019-01-14 20:59] KevinTCoughlin commented on #5176
Chrome likely doesn't exhibit this behavior because `ResizeObserver` is kicking-in after some delay, see https://github.com/OfficeDev/office-ui-fabric-react/issues/5280#issuecomment-431195520.

[2019-01-14 21:16] cwhitten opened #7641 "https://uifabric.io/ isn't loading (https specific)"
https://uifabric.io/

### Environment Information
- __Browser and OS versions__: Chrome, MacOS

#### Actual behavior:

Request gives up after hanging for quite some time.

#### Expected behavior:

The site should load successfully.

#### Priorities and help requested:

Requested priority: Blocking

Products/sites affected: (if applicable)

Microsoft Bot Framework is wanting to experiment with the

[2019-01-14 21:36] jeremy-coleman commented on #7581
I got a local version mostly working over the weekend, ~680kb non gzip ( no icons, scss or load themes) but includes all of ouif index exports, and all the @uifabric packages

[2019-01-14 21:36] jeremy-coleman commented on #7581
So about half the size of the current one

[2019-01-14 21:38] cwhitten commented on #7641
Same issue. Odd.

[code]

<img width="1673" alt="screen shot 2019-01-14 at 1 32 53 pm" src="https://user-images.githubusercontent.com/1156704/51142724-91b36d80-1801-11e9-8b52-cdfc04118163.png">

[2019-01-14 21:38] jeremy-coleman commented on #7581
Also everything is exported as esnext module from a single file for exact usage tree shaking

[2019-01-14 21:50] aneeshack4 commented on #6800
@saini-ankish We faced a similar issue on the Modal component and I added aria-modal="true" with PR #6944 but we still have to wait for Narrator to pick this up on future releases and provide support for it. I can do the same for Panel but first, when I tried to repro this, I was able to arrow around in the Panel component while in scan mode - the focus is not moving to the background elements:
![

[2019-01-14 21:54] betrue-final-final commented on #7560
If you read out every single cell in a row, then you need to read out the label or column header of each cell as well.

However, I don't think you should read out every cell in the row. You should just read out the first cell value and name, or in the case of a file list, the first few columns. It's only on cell navigation that the other cells should be read, and when a cell is read, it's header s

[2019-01-14 21:55] natalieethell commented on #6576
Okay so! I spoke with @cschlechty offline and it sounds like we want the checkboxes to have a column index. In single selection mode, the "select all" checkbox should not exist. Instead, we can render something simple as the column header for those checkboxes. I should be able to get to this next week, thank you for your patience!

[2019-01-14 22:07] natalieethell commented on #6780
Updated the issue above to include standardizing back tick usage, documenting theming, documenting utilities, and documenting prior versions of office-ui-fabric-react.

[2019-01-14 22:35] micahgodbolt commented on #7641
Does this url work for you? https://developer.microsoft.com/en-us/fabric

[2019-01-14 22:36] dzearing commented on #7641
I am reproing sporadically

[2019-01-14 22:37] dzearing commented on #7641
@Jahnp

[2019-01-14 22:38] TestAccessibilityGIT opened #7643 "Persona A11y Pass."
Tracking all of the issues brought up with the 1/11 accessibility pass on Persona control
Details on individual bugs can be found on[ SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B49e2b9a0-7b43-492b-8dba-1f1170e59b19%7D&action=default&uid=%7B49E2B9A0-7B43-492B-8DBA-1F1170E59B19%7D&ListItemId=1663&ListId=%7B395E1ECB-5002-440E

[2019-01-14 22:45] Jahnp commented on #7641
Yeah--confirmed for me that following http**s**://uifabric.io hangs. The non-https version loads as expected. Will follow up with the domain folks (this is not something we directly control).

[2019-01-14 22:46] cwhitten commented on #7641
Confirmed - thanks all

[2019-01-14 22:56] Vitalius1 commented on #7560
@natalieethell @KevinTCoughlin
If I understand correctly @betrue-final-final says that each user should decide which cell values of the focused row along with their corresponding column header should be read. Is this something that can be achieved? Could this be a feature we want to add to the accessibility capabilities of the DetailsList?

[2019-01-14 23:02] Jahnp commented on #7641
I've reached out to the domains group about this matter. I'll update here when they have an ETA.

Thanks for reporting this @cwhitten !

[2019-01-14 23:06] haonliu opened #7644 "ChoiceGroup: data-is-focusable not set on selected option"
### Environment Information

- __Package version(s)__: 6.121.0
- __Browser and OS versions__: Win10 Chrome

### Please provide a reproduction of the bug in a codepen:

 https://codepen.io/anon/pen/PXVJwG
#### Actual behavior:
 none of the radio button has data-is-focusable = true

#### Expected behavior:
  the first radio button should have data-is-focusable = true

#### Priorities and help reques

[2019-01-14 23:07] #6149 closed

[2019-01-14 23:34] mikewheaton commented on #7644
Thanks for the CodePen repro. I found a comment in the code that confirms the first enabled option should be set to focusable:

[code]

I'll look into this and see where the logic is failing.

[2019-01-14 23:45] mikewheaton commented on #6675
After discussing this with @betrue-final-final, we identified two issues:

### Horizontal alignment
![image](https://user-images.githubusercontent.com/1382445/51148332-a64c3180-1812-11e9-8836-56db846f1a2f.png)

PeoplePicker places its content much closer to the left than other fields do. The latest component designs reduce that gap to 8px for the others, which makes PeoplePicker look aligned (see

[2019-01-15 00:15] #7556 closed

[2019-01-15 00:46] miczhongMSFT opened #7647 "[Accessibility][Persona] - Aria label is not available"
**Describe the feature that you would like added**
- Aria label for Persona

**What component or utility would this be added to**
- ms-Persona-root

**Have you discussed this feature with our team, and if so, who**
- Nope

**Additional context/screenshots**
- Aria label would be nice so screen readers can pick up the name of the person based on their avatar
![image](https://user-images.githubuserc

[2019-01-15 01:14] natalieethell commented on #7560
Yeah, sounds like Ben is saying we want to be able to specify how many cell + column header values should be read from the row when the row is selected. I'm not sure exactly how this would be implemented off the top of my head, though. It seems like when focus is placed on the row, the screen reader (both Narrator and NVDA have this behavior) read out all of the row's contents.

I took a look at O

[2019-01-15 01:35] Vitalius1 commented on #7560
I think having the aria-label on the row set in this way gives the total control to the dev to decide what he wants to be read by the screen reader. As @betrue-final-final that different scenarios may require different screen reader output. Maybe the list has 20 columns and DetailsList consumers only want to read out the most relevant ones for their app's users. Who decides which ones and how many

[2019-01-15 01:53] #7454 closed

[2019-01-15 04:03] KevinTCoughlin commented on #7647
@miczhongMSFT, I believe this is currently supported since `IPersonaProps` eventually extends `React.HTMLAttributes<PersonaBase | PersonaCoinBase | HTMLDivElement>`. Because of `React.HTMLAttributes<HTMLDivElement`, one can provide native DOM attributes to be applied to the `root`. See:

https://github.com/OfficeDev/office-ui-fabric-react/blob/1a3f5371a2f69c564c27094d602745a5d747253d/packages/offi

[2019-01-15 04:34] miczhongMSFT commented on #7647
Thanks Kevin! That does make sense. I was looking for ariaLabel in Persona props like other Fabric components. Just gave it a try, and it’s showing on my inspector too.

﻿ --
Michael Zhong
SOFTWARE ENGINEER
Office: +1 (425) 7224953
Michael.Zhong@microsoft.com<mailto:Michael.Zhong@microsoft.com>

[Microsoft]
﻿

________________________________
From: Kevin Coughlin <notifications@github.com>
Sent: M

[2019-01-15 04:44] betrue-final-final commented on #7560
We should have a smart default of 2-3 columns but let the author change if needed.

[2019-01-15 05:32] KevinTCoughlin commented on #7647
No worries, our documentation improvements will help with props discovery soon. Thanks for reaching out and using Fabric 😃! Closing as the issue is resolved.

[2019-01-15 05:41] ecraig12345 opened #7650 "Fix codepen build script to work with exampleData"
Currently examples which use the list item or text generation code from `office-ui-fabric-react/src/utilities/exampleData` can't work with the "Export to CodePen" feature, because the `exampleData` file isn't bundled with Fabric and the codepen generation script doesn't account for external files.

An unsophisticated but effective fix is to just append the `exampleData` file contents to the end of

[2019-01-15 06:33] ecraig12345 opened #7651 "DetailsList example snapshots are incomplete"
In the snapshots generated by ComponentExamples.test.tsx of the examples for DetailsList and GroupedList (and probably anything else using `@withViewport`), all the examples just show up like this, which is not very helpful for catching regressions:

https://github.com/OfficeDev/office-ui-fabric-react/blob/7936641bfbc8e9d201cddb36be14aebccd85466e/packages/office-ui-fabric-react/src/components/__sn

[2019-01-15 06:35] Vitalius1 commented on #7612
@betrue-final-final what is the verdict? Are we having an issue to fix here or everything is ok with the disabled toggle on/off text in HC mode? Would appreciate your input so I can close the issue either by fixing or mark it as a non-issue. Thanks!

[2019-01-15 06:52] KevinTCoughlin commented on #7651
Thanks for following up here @ecraig12345 🙇. I want to fix this problem in some way.

`@withViewport` has been half of the reason for my resize performance woes with `DetailsList`. We should evaluate if its worth keeping the component before investing further (my opinion).

For additional context, I've taken two approaches at consolidating `resize` calls into one in my local dev. They are:

1) Ref

[2019-01-15 06:56] KevinTCoughlin commented on #7631
Thanks for the ask @NavaneethaDev. I noticed that `Coachmark` _seems_ to have this support:

https://github.com/OfficeDev/office-ui-fabric-react/blob/7936641bfbc8e9d201cddb36be14aebccd85466e/packages/office-ui-fabric-react/src/components/Coachmark/Coachmark.types.ts#L91

I also wonder if this can be accomplished using a CSS-only approach.

[2019-01-15 09:52] NavaneethaDev commented on #7631
Hi @KevinTCoughlin thanks for your response and assume the property you mentioned is to delay the TeachingBubbleContent display on mover of coachmark.

[2019-01-15 14:34] redoz opened #7652 "Option to display TextField in error state without rendering error message."
**Describe the feature that you would like added**
I'd like to be able to indicate an error with the TextField without rendering the error message.
The reason for this is that the error message is displayed elsewhere in the UI.
From reading the source it seems the approach with least impact would be to add a error message render function (`onRenderError`?) to the properties so it can be overridden

[2019-01-15 16:36] betrue-final-final commented on #7612
I thought I answered the question. The entire disabled control does not need to pass contrast. In high contrast though, these things are customarily all rendered using "graytext" color, which is yellow in HC Black.

[2019-01-15 17:36] ecraig12345 opened #7653 "Automatically add "Export to CodePen" to examples supporting it"
Currently, there are three steps to getting an example to work with "Export to CodePen":
1. Remove any constructs from the example which are incompatible with export to codepen (scss styling, references to any other files not included in the main fabric bundle)
2. Add `// @codepen` to the top of the example file
3. In the `.doc.tsx` for the component, manually add an import of the transformed code

[2019-01-15 18:15] lambertwang commented on #7580
Huh, that's really strange. It doesn't repro in FF or Chrome for me, so I'm guessing there's some undefined or undocumented IE api that is causing this behavior. I will try to take a look this evening

[2019-01-15 18:33] aneeshack4 commented on #6800
@saini-ankish Thank you for sending me this video - I can see it repros for you. I've created the PR with this change #7654 however I'm still not able to repro this - when I run Narrator on scan mode, I'm able to arrow throw the modal dialog that opens and when I arrow to the Save button and press enter, Narrator moves focus back to the "Open Panel" button as it should.

I've been trying to make a

[2019-01-15 18:53] tharshada opened #7655 "Sticky- for Edge browser sticky is bumpy"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:
 https://fabricweb.z5.web.core.windows.net/oufr/6.49.0/#/examples/scrollablepane

#### Actual behavior:
[Edge](https://microsoft-my.sharepoint.com/:v:/p/hatrived/ES0BaKDgNYFOnt5ejvlGo7oBhsw6plk94R4ArcrG33iaNw?e

[2019-01-15 18:59] tharshada commented on #7655
@leddie24 @mikewheaton @Vitalius1 can this be prioritized?

[2019-01-15 19:07] dzearing commented on #5424
@jspurlin Just a heads up here; I believe you wrote the component originally. Maybe we can talk about what's wrong, and plan for an updated version.

[2019-01-15 19:09] dzearing commented on #5424
I'm having a difficult time understanding what the outcome should be here. It seems that there is no 1 single fix here to remedy this bug, and that @philipzloh is saying the whole thing needs to be redone. It would be excellent to be crisp about the outcome and not say "this one thing is broken, but even if its fixed, doesn't matter because there are way more issues than this..."

What are the thi

[2019-01-15 19:14] dzearing commented on #6867
@mikewheaton Should we make styles the function as stated above? Then you could customize DefaultButton and target props.primary. If you don't need this as a short term solution, let's close the bug and focus on shipping the rewrite. Otherwise we'll prioritize a targeted fix here.

[2019-01-15 19:17] joschect commented on #6431
@dzearing Sure, that makes sense. I think you're probably right that it's okay to do a little detection. I'm still against it overall but I think you make good points.

[2019-01-15 19:35] mikewheaton commented on #6867
@dzearing This is preventing the Fluent theme from delivering on the promise of 'just wrap a Customizer around your existing app'. WIthout a fix, developers will have to replace `<DefaultButton primary={true} .../>` with `<PrimaryButton .../>`.

I'm not sure how much effort is required for a targeted fix, but unless it's going to take a lot of work and the new button is nearly ready to ship I thin

[2019-01-15 19:53] #7599 closed

[2019-01-15 20:48] dzearing commented on #6867
We will make a workaround here for a short term fix.

[2019-01-15 20:54] dzearing commented on #7620
@lorejoh12 FYI

[2019-01-15 20:56] jeremy-coleman commented on #7581
https://github.com/jeremy-coleman/ui-fabric-style-converter/tree/bundles , mostly at a stopping point , need some guidance on format / output etc. try running the 'gendts' script also, it's great. the .d.ts file and the lib/debug.js file are useful for debugging/ optimizations

IE: in the index.d.ts
![image](https://user-images.githubusercontent.com/25135855/51209085-64d48880-18dd-11e9-83be-3bbccf

[2019-01-15 21:12] Vitalius1 commented on #7655
I believe this could happen due to this line:
https://github.com/OfficeDev/office-ui-fabric-react/blob/ad66a786355b332c854d9e6c6f2afe43068f6236/packages/office-ui-fabric-react/src/components/ScrollablePane/ScrollablePane.base.tsx#L55.
Removing that debounce could cause some other performance issues.

[2019-01-15 21:19] dzearing commented on #6067
https://medium.com/@elad/supporting-css-grid-in-internet-explorer-b38669e75d66

For reference. We will see what can be done here.

Even right now, we're a little blocked using css grid because we will, at minimum, translate `display`:

From:
[code]

to:
[code]

[2019-01-15 21:20] dzearing commented on #6067
We need to be tactical and address this soonish before `Grid` work starts. This should unblock cases.

[2019-01-15 21:25] jeremy-coleman commented on #7581
also just as a sidebar, i've been using this in my head locally and instead of using getTheme() or a theme context provider, i just use 'var(--themeDefinition')

IE:
[code]

you can even create auto color scaling themes with

let ButtonCSS = mergeStyleSets({
  root: {
    background: 'var(--themePrimary)',
    filter: 'brightness(3)'
}
})
and it nests just fine, here's a small 1 pager
[code]
[code

[2019-01-15 21:32] dzearing commented on #7581
I am a big fan of css variables, they are awesome. I just am not sure how they will work for IE11...which, unfortunately, we need to support until majority of enterprises move to something else. :(

[2019-01-15 21:37] dzearing commented on #7581
@JasonGore has checked in a `ThemeProvider` component for programatically providing a theme. We wanted to have a layer on top of `Customizer` to both manage theme injection but processing as well. Possible we could make extension points here to register css variables as well, so if IE11 isn't a concern for a developer we could provide values through variables. Just an idea.

[2019-01-15 21:42] dzearing commented on #7581
`dts-bundle-generator` is pretty cool! We have been using `@microsoft/api-extractor` to do something similar. (https://github.com/Microsoft/web-build-tools/wiki/API-Extractor-~-Creating-.d.ts-rollups) It does a superset of things (like break the build when people remove an export.)

[2019-01-15 21:45] ecraig12345 commented on #7651
@KevinTCoughlin Thanks for the context! Could I assign this to you since you've worked a lot with DetailsList and you're already thinking about withViewport issues?

[2019-01-15 21:46] jh2he opened #7658 "ComboBox: iOS focusing on Text Input after tapping dropdown button"
On iOS, tapping on the drop-down button of the ComboBox will open the popout then immediately close it.
Possibly this is caused by the auto focus on the Text Input, highlighting the selection, which causes the flyout to lose focus.
This happens not all of the time, but very frequently.

Is there a property I can set to not have it auto focus on the Text Input when clicking on the Button/Icon?

###

[2019-01-15 21:53] khmakoto commented on #7444
Per a discussion with @dzearing, will make npm install build to experiments and close this issue, and maybe later separately think about a smarter way of providing this.

[2019-01-15 22:01] mikewheaton commented on #7658
I'm not able to repro this in Safari on an iPhone 7 Plus or iPad Pro, both running iOS 12.1.2.

What browser are you using? It doesn't look like Safari based on the tab bar. And you mentioned that this doesn't always happen; do you see any patterns for when it does or doesn't happen?

[2019-01-15 22:13] jh2he commented on #7658
If the control is at the top of the page, it seems to have no trouble. If it's near the bottom or maybe lower-middle, the keyboard might be blocking/closing the popout instantly.

[2019-01-15 22:25] mikewheaton commented on #7658
It's not disappearing for me, but I can get into a weird state where the input I'm typing in is covered by the options.

![img_c4614f7c9bd3-1](https://user-images.githubusercontent.com/1382445/51213920-2e910c00-18d1-11e9-93b1-9f3df72aa57d.jpeg)

[2019-01-15 22:35] dzearing commented on #7653
I think steps which make it difficult to provide codepen samples should be blocked in the build so that examples by default follow a format that can be exported.

If there are *specific* build steps we can do to make things less frictiony, we should list them here so that the work is clear.

[2019-01-15 22:41] dzearing commented on #7644
https://codepen.io/dzearing/pen/MZxQeQ

The `data-is-focusable` attribute is useful for FocusZone scenarios. This codepen illustrates the effect that happens when it's not present (you can't arrow to the choice group.)

[2019-01-15 22:47] KevinTCoughlin commented on #7651
Sure, that makes sense.

[2019-01-15 22:49] #6800 closed

[2019-01-15 22:57] #7444 closed

[2019-01-15 23:16] #6767 closed

[2019-01-15 23:20] dzearing commented on #7652
@kkjeer Is the bot ok?

[2019-01-15 23:22] dzearing commented on #7652
@ecraig12345 something to think about IRT what the contract may look like to support this.

[2019-01-15 23:36] Vitalius1 commented on #7580
@lambertwang thanks 👍

[2019-01-15 23:59] natalieethell commented on #7560
Okay, at the moment I'm not sure how that would be possible, but I can investigate more early next week.

[2019-01-16 00:13] TheLarkInn commented on #7581
Hi @jeremy-coleman! Sean from the [webpack team here](https://github.com/webpack/webpack). Our guidance to libraries especially with multiple packages that can be consumed similar to office-ui-fabric-react is to not `rollup` their ESM code. This would result in a _less tree-shakable_ dependency (especially if you are using webpack 4>).

If you are not yet on webpack 4, I would heavily suggest that

[2019-01-16 00:16] jordandrako opened #7662 "Fluent theme: OverflowSet and ResizeGroup examples look strange/broken."
### Environment Information

- __Package version(s)__: 6.125

### Please provide a reproduction of the bug in a codepen:

1. https://fabricweb.z5.web.core.windows.net/oufr/6.125.0/#/examples/overflowset
  - Go to the "OverflowSet Custom Example" and change the theme to fluent.
2. https://fabricweb.z5.web.core.windows.net/oufr/6.125.0/#/examples/resizegroup
  - Go to the first example and change th

[2019-01-16 00:16] kenotron commented on #7581
@jeremy-coleman - tried to clone & build this: https://github.com/jeremy-coleman/mui-fab-demo/tree/mui-bundle-size but it won't build... not sure if it was working at some point?

[2019-01-16 00:18] jordandrako commented on #7662
@mikewheaton You converted the Button to Fluent styles, so hoping you may know a quick fix here.

[2019-01-16 00:18] natalieethell commented on #6019
We are currently tracking the bug in issue #7560.

[2019-01-16 00:49] Vitalius1 commented on #7612
Closing this issue and marking as a non-issue. (@betrue-final-final to confirm).
Currently, if the `Toggle` is disabled and using the regular tab navigation in HC the On/Off label matches the color of the `pill` and `thumb`.  As @betrue-final-final mentioned it would be odd to have it differentiate from the rest of the control.
Also, hiding it from AT like Narrator's scan mode is not possible as i

[2019-01-16 00:49] #7612 closed

[2019-01-16 01:00] gggjtgxing opened #7663 "HoverCard: remove empty div wrapper"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
[code]

#### Expected behavior:
[code]

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/

[2019-01-16 01:19] mikewheaton commented on #7662
For quick reference, here's one of the examples with the current style on top and Fluent on bottom:
![image](https://user-images.githubusercontent.com/1382445/51220287-7328a180-18e9-11e9-971f-41f256f4f567.png)
![image](https://user-images.githubusercontent.com/1382445/51220282-6c9a2a00-18e9-11e9-93a5-621608644d28.png)

The styles are correct. These examples should be updated to use `CommandBarButt

[2019-01-16 01:22] mikewheaton commented on #7663
@gggjtgxing Can you provide more details on the problems these divs are causing? It looks like they both have styles associated with them and the outer one is a reference. Changing these would likely cause problems and be a breaking change.

[2019-01-16 02:08] liuyangc3 commented on #7633
@mikewheaton, @micahgodbolt   thanks,  `alignItems: 'center'`  works well

[2019-01-16 02:08] #7633 closed

[2019-01-16 02:18] KevinTCoughlin opened #7664 "Reduce DetailsList's DetailsRowFields render time and memory footprint"
**Describe the feature that you would like added**

**Performance:** The `DetailsList`'s `DetailsRowFields` component renders each row's cell contents except for the "selection" checkbox. Currently, the component iterates over `N` columns _twice_ per render. It also unnecessarily allocates an array of size `N` which contains the elements to render per cell. It _also_ invokes `setState` within `com

[2019-01-16 03:34] jeremy-coleman commented on #7581
https://github.com/jeremy-coleman/ui-fabric-style-converter/tree/bundles is where the most recent work is

[2019-01-16 03:34] #7664 closed

[2019-01-16 03:39] jeremy-coleman commented on #7581
@TheLarkInn please have a look at https://github.com/jeremy-coleman/ui-fabric-style-converter/tree/bundles/lib - two things to note.
1) the rollup bundle is ~200kb smaller compared to the webpack version (the -wp.js file)
2) The non-minified rollup output in debug.js - can webpack produce anything similar?

[2019-01-16 03:48] Vitalius1 commented on #7611
@piyumi25 I modified the codepen you provided (https://codepen.io/vitalius1/pen/GPeBaB) and it looks like everything is working except the issue where you don't see the options while selecting (tracked in #7558 as a feature request).
There were a couple of things wrong in the usage of multiple `ComboBoxes` on the same page. I left some comments to make clear what was wrong.

Will mark it as not an

[2019-01-16 04:00] #7445 closed

[2019-01-16 04:01] piyumi25 commented on #7611
thanks for your help.

[2019-01-16 04:01] #7611 closed

[2019-01-16 04:49] Vitalius1 commented on #7572
@micahgodbolt @betrue-final-final
In Narrator scan mode, when navigating to the section header it reads out `Contains 0 items, *section name*`, so it's definitely a bug that needs to be investigated.

[2019-01-16 06:02] dzearing commented on #5326
Thank you @lijunle and @ecraig12345 for the background here. I think regarding @jspurlin comments; he's right in that the `onChange` event might work differently than an input element. It works more like a Dropdown; yes you can arrow through the options without comitting a change, but onChange only fires when a valid state is reached.

Specifically in a controlled scenario:

As you type, it should

[2019-01-16 06:20] #7547 closed

[2019-01-16 06:40] DhirajKhot opened #7667 "Keros error: Certain ARIA roles must be contained by particular parents in Facepile"
### Environment Information

- __Package version(s)__: 6.9.0

### Please provide a reproduction of the bug in a codepen:

 Bug Repro URL:https://developer.microsoft.com/en-us/fabric#/components/facepile
![image](https://user-images.githubusercontent.com/20378231/51230875-81c59600-1987-11e9-81b8-6a318080038a.png)

#### Actual behavior:

Keros issue : Certain ARIA roles must contain particular child

[2019-01-16 06:46] DhirajKhot opened #7668 "Keros error: Buttons must have discernible text"
### Environment Information

- __Package version(s)__:  6.9.0

### Please provide a reproduction of the bug in a codepen:

 Bug Repro: https://developer.microsoft.com/en-us/fabric#/components/commandbar
![image](https://user-images.githubusercontent.com/20378231/51231134-70c95480-1988-11e9-8ba6-089746449b4d.png)

#### Actual behavior:

Keros issue : Buttons must have discernible text

#### Expecte

[2019-01-16 09:51] aminezemzemi commented on #5326
Hi @lijunle, thank you for adding events code to SpinnerButton.
I think that there is a mistake in OnBlur Event.
It should be like this :
`onBlur={(ev) => this.onChange(context,this.props.internalName,Math.max(minValue, Math.min(maxValue, +ev.target.value)))`

[2019-01-16 10:42] lijunle commented on #5326
Hi @aminerahmouni, which code do you reference? The current implementation is much more complicated than that.

https://github.com/OfficeDev/office-ui-fabric-react/blob/d3baf56050d036612bdb6a600b6ca6fbe4516ca6/packages/office-ui-fabric-react/src/components/SpinButton/SpinButton.tsx#L257-L263

[2019-01-16 11:16] aminezemzemi opened #7669 "Checkbox grouped"
Hi,
I searched in the documentation and I didn't find explanation for grouping checkboxes. How can we do it ?
Cordially

[2019-01-16 11:17] redoz commented on #7652
Would you consider a PR that adds an optional `onRenderError` property that lets you override the default render behavior as a quick work-around? Or would hacking it out with CSS be the only appropriate option for now?

[2019-01-16 11:18] alex3683 opened #7670 "Slider: Add snapping to the configured steps while moving the knob"
**Describe the feature that you would like added**
If the slider is used to select a value from a discrete range of steps, I can move the slider knob pixel-by-pixel, until I release it. Only then it snaps to the nearest value matching the knob's position.

However, in some scenarios it is very helpful if during knob movement the slider snaps to the nearest matching value. This helps the user in fi

[2019-01-16 12:49] redoz commented on #6066
I'm still running into this, changing it to `IStyleSet<ITextFieldStyles>` makes `classNamesFunction` happy, but now it won't accept that there is an 'errorMessage' style:
[code]

This is what I have now:
[code]
Why do some of the style types in OUFR extend `IStyleSet<T>` and some don't?
And in the same vein, is there an example that shows current best practices, it seems like guidance has evolved

[2019-01-16 14:51] tharshada commented on #7655
@shagra-ms

[2019-01-16 15:20] jeremy-coleman commented on #7581
added comparisons for several implementations at a new branch under https://github.com/jeremy-coleman/ui-fabric-style-converter/tree/webpack

[2019-01-16 15:43] mikewheaton commented on #7669
Have a look at this CodePen: https://codepen.io/mikewheaton/pen/vvMxpz?editors=0010

To group the checkboxes together as a single input for a form submission, you can use a shared `name` attribute between them. And a `styles` prop can be used to add some space between them in the layout.

[2019-01-16 15:50] #7644 closed

[2019-01-16 16:17] nickersd opened #7671 "sendkeys"
**Describe the feature that you would like added**
Ability to insert mail merge tags, I believe also known as field codes.  In word pressing "ctrl-F9" results
in a mail merge tag. Pressing "alt-F9" will show/hide the codes.

Alternatively - Add the sendKeys command.  I'm thinking if I send {^F9} it would have the same result

**What component or utility would this be added to**

**Have you discuss

[2019-01-16 16:19] jeremy-coleman commented on #7581
@dzearing I think it's pretty usable now, probably just comes down to user's willingness to use it lol.
```js loadThemes({ themePrimary: '(var--(themePrimary)', etc..})``` is all it takes or maybe something like getTheme().palette map((k, v) => setCustom(`--${k}: ${v}`)). I put together a dashboard type app just to see how it would go doing that, It's really light weight but I definately missed th

[2019-01-16 16:46] leddie24 commented on #7655
I'm guessing it's because of the throttle also.  I know Edge does handle scroll event differently than Chrome and Firefox though, I've tried adding parallax to images and the scroll events in Edge produce a choppier effect when compared to Chrome/Firefox.  I want to say this is at the browser level.  I included links below demonstrating the issue with setting throttle to 1.  Even at a super slow s

[2019-01-16 16:51] mikewheaton commented on #7671
Could you provide some more details on what you're looking for? I'm not clear on how mail merge tags relate to the Fabric React components.

[2019-01-16 17:01] tharshada opened #7673 "Sticky- scroll behavior"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
 If the cursor is placed on[ sticky header](https://microsoft.sharepoint.com/teams/cyrusplayground/yiminlib/Forms/AllItems.aspx?enableFeatures=1207
), on scrolling down, the [scroll stops

[2019-01-16 17:01] tharshada commented on #7673
@leddie24 @mikewheaton @Vitalius1 @shagra-ms

[2019-01-16 17:05] micahgodbolt commented on #5390
@betrue-final-final We can certainly take a look at adding this feature in the upcoming month or two. Do you have designs we can refer to when implementing this intermediate state?

[2019-01-16 17:05] ParadimeWeb commented on #5643
@dzearing Would it be possible to make this urgent? It is a serious breaking issue.

[2019-01-16 17:56] chnldw opened #7674 "Tooltip has scrollbar after normalize.css is applied"
### Environment Information

- __Package version(s)__:
6.126.0
- __Browser and OS versions__:
Chrome Windows

### Please provide a reproduction of the bug in a codepen:
Tooltip has scrollbar after normalize.css is applied.
https://codepen.io/chnldw/pen/robGPq

#### Actual behavior:
 ![image](https://user-images.githubusercontent.com/1989690/51268345-c0058a00-1974-11e9-9685-28db09f8539d.png)

####

[2019-01-16 18:07] mikewheaton commented on #7673
@leddie24 replied to an email about this, noting that it's known issue:

[2019-01-16 18:16] nickersd commented on #7671
I've been tasked with creating a tool to make it easier to create letter templates.  I'm still playing around with ideas but the current approach is to write a word add in that would have a list of available mail merge tags (list generated from our DB).  The user could click on a tag in the add in, and it would be inserted into the document. I've used Fabric react to create the beginnings of the a

[2019-01-16 18:21] joschect commented on #5643
@ParadimeWeb I should be able to get a pr in to fix this today.

[2019-01-16 18:47] mikewheaton commented on #7674
The `hideOverflow` prop can be used as a quick fix. See this CodePen: https://codepen.io/mikewheaton/pen/bOJabO

I'm not entirely sure which style Normalize.css is applying that causes this scroll. I thought it was line height, but setting that to 1 didn't fix it. I'll have to investigate more here. It can be tricky to anticipate global styles that might interfere with the components, but it does

[2019-01-16 18:49] mikewheaton commented on #7671
Thanks for clarifying that. It sounds like a question specific to the Office Add-ins APIs. Unfortunately, I don't think you'll find an answer here as we're focused on the Fabric React components themselves. You may be able to find some resources [here](https://docs.microsoft.com/en-us/office/dev/add-ins/).

[2019-01-16 18:49] #7671 closed

[2019-01-16 18:50] dzearing commented on #6431
Removing needs attention flag; if you could fix the prop when you get a cycle, that'd be great. Alternatively @BrendanMcK if you'd like to take a stab sooner than @joschect can, let us know. I think it would be correct to avoid burdening the consumer if we really need to differentiate on ie11.

[2019-01-16 19:51] kunKun-tx commented on #7215
Thank you @dzearing for providing the solution. Would you mind adding this to the [doc](https://github.com/OfficeDev/office-ui-fabric-react/blob/a6221962c23ff48cebe654f89ecde0e2956f80cf/packages/office-ui-fabric-react/src/components/Theme/docs/ThemesOverview.md) page?

Also, is there any where we can see the full list of options we can use to override the default theme? I am really new to this lib

[2019-01-16 20:23] haonliu opened #7679 "ChoiceGroup: does not behave correctly within a FocusZone"
### Environment Information

- __Package version(s)__: 6.121.0
- __Browser and OS versions__: win10 chrome

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/ZVZojB

#### Actual behavior:

users cannot change choice group's selected choice using arrow key inside focus zone

#### Expected behavior:

users should be able to change choice group's selected choice

[2019-01-16 20:34] mikewheaton commented on #7679
This looks to be related to the buttons above and below the ChoiceGroup. Here's a CodePen without those buttons that doesn't have the issue: https://codepen.io/mikewheaton/pen/YdMvKB

[2019-01-16 21:58] araver commented on #2134
Can this be reopened? Or at least update the documentation.

[2019-01-16 22:22] KevinTCoughlin commented on #7255
@micahgodbolt, I'm deferring to @kenotron to decide on completion criteria here. I have a branch which adds the image media file rules to _all_ `.npmignore` files including our `create-package` `.npmignore`. template. I'll raise that in a bit, see: https://github.com/OfficeDev/office-ui-fabric-react/compare/master...KevinTCoughlin:keco/npmignore-media-types-all

@kenotron, would it be worthwhile t

[2019-01-16 23:08] micahgodbolt commented on #865
similar to toast #5479

[2019-01-16 23:12] micahgodbolt commented on #5479
This is a dupe of #865, when we do notifications we'll be sure to support "Toast" style notifications.

[2019-01-16 23:12] #5479 closed

[2019-01-16 23:13] micahgodbolt commented on #5322
@mikewheaton making sure you're aware of this issue for tracking work on card.

[2019-01-16 23:14] micahgodbolt commented on #865
will probably be dependent on #5322

[2019-01-16 23:33] micahgodbolt commented on #3455
@natalieethell this might be a scenario where announced is used. Can you look into if that would be the correct pattern vs controlling the aria-live value.

[2019-01-16 23:41] micahgodbolt commented on #3607
We don't intent to support deep comparison in the list for performance purposes. We will update documentation as to the best practices for working with mutable data. I'll close this issue down.

[2019-01-16 23:41] #3607 closed

[2019-01-16 23:43] micahgodbolt opened #7684 "List: Update docs to describe how to work with mutable data"
Lists only do shallow compares of items for performance reasons, we need to include documentation of how to deal with mutable data in that users need to either provide a NEW list, or use public forceUpdate method.

Related to #3607

[2019-01-16 23:44] micahgodbolt commented on #7684
Just an FYI for when you get a chance to review the list documentation.

[2019-01-16 23:45] micahgodbolt commented on #3620
Part of #7636

[2019-01-16 23:55] micahgodbolt commented on #3881
Proposal: Allow font faces to be registered in the theme.

Update ITheme and add this to docs.

[2019-01-16 23:57] micahgodbolt commented on #3881
@natalieethell can you place this into a month iteration when you get a sense of where this will fall?

[2019-01-17 00:00] micahgodbolt commented on #4066
Consider refactoring pivot using base of pagination control. At that point supporting overflowing of pivot items.  #7254

[2019-01-17 00:49] micahgodbolt commented on #6658
Conversion of this to slots should open up more customization.

[2019-01-17 01:01] #5643 closed

[2019-01-17 01:06] dzearing commented on #5326
If 456 is a valid value according to min/max rules, yes, 456 will display.

The SpinButton should fire onChange with 100, asking the caller to re-render with a valid value. Let the SpinButton decide how to interpret the user info into a valid value, and pass that along.

If the last value was 100, and they typed 0000100, the SpinButton should translate this into 100, which isn't different, so no o

[2019-01-17 01:11] dzearing commented on #5326
`onChange` signature should probably be `(ev: InputEventArgs, value: number): void`

[2019-01-17 01:37] #7565 closed

[2019-01-17 02:33] danmarshall opened #7686 "ContextualMenu with section headers - React warning: Each child in an array or iterator should have a unique "key" prop"
When using the example code for [ContextualMenu with section headers](https://developer.microsoft.com/en-us/fabric#/components/contextualmenu#Implementation), I get the React unique key warning.

[code]

### Environment Information

- __Package version(s)__: office-ui-fabric-react@6.126.0/dist
- __Browser and OS versions__: Windows 10 / Chrome

### Please provide a reproduction of the bug in a cod

[2019-01-17 03:09] zachhats commented on #6535
@dzearing #6884 doesn't fix the issue, can this be reopened?

[2019-01-17 04:17] ecraig12345 commented on #7651
One idea I had for a fix was to try something like this in `ComponentExamples.test.tsx` `beforeAll` (then revert in `afterAll`):
[code]

Another idea is setting a global variable like `__IS_RUNNING_TEST` in the test, and if it's true, `withViewport` always sets `skipViewportMeasures` to true. This is simpler, but not sure if it's a pattern we consider acceptable.

[2019-01-17 05:06] Vitalius1 commented on #5689
This issue was tagged in a `todo` in `Panel` pointing that it waits for `Button` conversion when in fact initially it was about the `Dropdown`. I have a fix for the `Dropdown` in #7688 and so that I don't have to create a new issue and change the comments in `Panel` for it, I thought I can repurpose this one. Let me know if I still should close this one and create a new one.

The comments in the `

[2019-01-17 05:43] ecraig12345 commented on #7653
How would you propose to do that? The best I can think of is adding an additional lint step which only applies to `**/*.Example.tsx` and enabling the [`no-relative-imports` rule](https://github.com/Microsoft/tslint-microsoft-contrib/blob/master/src/noRelativeImportsRule.ts), plus possibly the [`import-blacklist` rule](https://palantir.github.io/tslint/rules/import-blacklist/) with any files which

[2019-01-17 08:54] rahulnakmol opened #7689 "Question: Ability to extract styles of all Fabric react components to css/scss for use in other frameworks"
I am quite excited about office fabric UI and value of fluent design inclusions coming In. Is there a way we can extract the css styles of all components into one css/scss file so we can include the components's look & feel in other frameworks like Vue/angular.

Any direction to generate css/scss files from styles.ts.
For example  from [Breadcrumb.styles](https://github.com/OfficeDev/office-ui-fab

[2019-01-17 11:24] qianghuang94 opened #7690 "In React 16, List.tsx will throw string refs error"
### Environment Information

- __Package version(s)__: 6.x

### Please provide a reproduction of the bug in a codepen:

 https://codepen.io/qianghuang94/pen/qLGaEq

#### Actual behavior:
 ![image](https://user-images.githubusercontent.com/15025186/51315566-6a70d080-1a8d-11e9-9074-a74f40bdbe50.png)
[code]

#### Related codes:

https://github.com/OfficeDev/office-ui-fabric-react/blob/1de46953ecc8320

[2019-01-17 15:10] mikewheaton commented on #7689
You may be able to use [server-side rendering with merge-styles](https://github.com/OfficeDev/office-ui-fabric-react/tree/master/packages/merge-styles#server-side-rendering). This should output the CSS for a component in its default state.

This will get complicated if you want to capture the variations of each component (hundreds of unique combinations based on state and props) and convert those

[2019-01-17 15:36] peterremote1980 opened #7692 "Dropdown: Add public interface to get selected value"
Hi
   i can:
[code]
But the object gender has no property for the selected value, please help
thanks
Peter

[2019-01-17 15:49] dzearing commented on #7679
@mikewheaton I think your codepen might be hiding the issue. There is definitely an issue here. Just to illustrate, I forked your codepen and moved the FocusZone around both ChoiceGroups.

https://codepen.io/dzearing/pen/bOyLdG

If you arrow up and down, you will see some really bad behavior.

Now, I will caveat all of this in asking a different question: why is a vertical `FocusZone` wrapping a `

[2019-01-17 15:51] dzearing commented on #7690
@KevinTCoughlin this might be a pretty easy fix here.

[2019-01-17 16:19] mikewheaton commented on #7692
Here's a CodePen that logs the reference each time the dropdown is changed: https://codepen.io/mikewheaton/pen/pqmLeK?editors=0010

I don't see a way to get the selected value directly from the reference object. Could you provide some more details on what you're building? You'll likely want to use the `onChange` prop to provide a function that updates the parent component's state, so that you can

[2019-01-17 16:43] redoz commented on #5582
It would be really nice if all components had a consistent way of lighting up the error state. This is currently quite high on my list of frustrations working with the various input components. The controls that do offer outside control do so only by setting an error message, which I don't want displayed, so now I have hack out by using a "display: none" on the error message.

Given that a lot of

[2019-01-17 16:46] micahgodbolt commented on #5582
Yup, that's the goal as well. Look up a level to #7636 and you'll see a list of form improvements we want to make. One of them is a unified error and validation approach.

[2019-01-17 16:58] dzearing commented on #6535
This isn't something we can fix. We discussed with the Narrator team, and they recommended that:

1. We make sure we have aria-modal=true in the right places
2. They are working on a fix to respect aria-modal

So there isn't much we can do here, other than wait for them to respect the standard.

[2019-01-17 17:26] dzearing commented on #7689
I don't think SSR would solve the issue @mikewheaton. Basically just to emphasize your second paragraph, SSR rendering will output a snapshot of the css in time. As props and state mutate, the classes required are different, and the way that mergeStyles works is to avoid pre-registering all css permutations. That means that, yes, you might get the "toggle" css rules if server rendering in the "off

[2019-01-17 18:15] vgrem commented on #5128
I recently stumbled upon on a similar feature request and came up with the following solution which *allows to preserve the selection* in `DetailsList` while the data is getting filtered.

First a  separate component is introduced which implements the logic to preserve the selection:

    export interface IViewSelection {}

    export interface IViewSelectionProps
      extends React.HTMLAttribute

[2019-01-17 19:06] micahgodbolt commented on #7692
@mikewheaton this is a pretty low hanging fruit addition to dropdown's public interface. For any control that can be used uncontrolled, we should have have a public getter for the current value.

[2019-01-17 19:11] micahgodbolt commented on #4387
@betrue-final-final is this still worth doing? Did you ever hear back from Jeff?

[2019-01-17 19:15] KevinTCoughlin commented on #7690
Mostly, I just need to figure out how to swap the lookup by `page.key` we currently do:

https://github.com/OfficeDev/office-ui-fabric-react/blob/1710fbd11247be06624e79f4098679877ea4287a/packages/office-ui-fabric-react/src/components/List/List.tsx#L666

[2019-01-17 19:19] micahgodbolt opened #7696 "Refactor: Pickers"
New Component: Tag List #4808
TagPicker: does not show suggestions using defaultVisibleValue #5219 or Picker: add defaultValue #4642
BasePicker: add description and errorMessage props #7457
Pickers should have `isRequired` property #6636

[2019-01-17 19:38] micahgodbolt commented on #4649
@davidGuerreroDelRio Is this something you could help with or give some insight?

[2019-01-17 19:47] jalo-ms opened #7699 "ContextualMenu: Split Button renders poorly in IE11"
### Environment Information

- __Package version(s)__: (fill this out) 6.127.0
- __Browser and OS versions__: (fill this out if relevant) IE11 (11.253.17763.0)

### Please provide a reproduction of the bug in a codepen:

1. Go to https://fabricweb.z5.web.core.windows.net/oufr/6.127.0/#/examples/contextmenu
2. Click on the contextual menu under "ContextualMenu with checkable menu items and toggleab

[2019-01-17 19:49] micahgodbolt opened #7700 "CircularFocusZone traps focus of inputs"
CircularFocus Zone traps focus of inputs

https://developer.microsoft.com/en-us/fabric#/components/focuszone

![image](https://user-images.githubusercontent.com/1434956/51344557-c4ea3c80-1a4d-11e9-8b44-f6e446ee791b.png)

[2019-01-17 19:51] micahgodbolt opened #7701 "Breadcrumb: Focus style has double rectangles"
https://fabricweb.z5.web.core.windows.net/oufr/6.127.0/#/examples/breadcrumb

![image](https://user-images.githubusercontent.com/1434956/51344766-34f8c280-1a4e-11e9-819e-3fe77cb89941.png)

[2019-01-17 19:54] micahgodbolt commented on #4930
We decided the solution for this problem will be solved by adding slots #7308 to this control. This way you can replace the wrapping focus zone with a div and control focus on your own.

[2019-01-17 20:21] dzearing opened #7702 "Move wiki content into the repo so that we can take PR contributions"
The Wiki is right now using the github wiki support. This is somewhat convenient for repo contributors but makes it impossible for readers to submit requests for changes.

Let's move the wiki content into the repo and set up a nightly job to push the changes into the github wiki branch. That way people can submit PRs to modify things.

[2019-01-17 20:22] micahgodbolt commented on #5390
@ecraig12345 I added you here to update our docs regarding controlled vs uncontrolled components and best practices for resetting uncontrolled ones. I agree there might be some work to properly support this checkbox state, but for radio buttons this shouldn't be handled by a prop. To reset an uncontrolled choice group you should re-render the choicegroup with a different key. https://codepen.io/dz

[2019-01-17 21:59] #7668 closed

[2019-01-17 22:47] #7667 closed

[2019-01-17 22:47] #6675 closed

[2019-01-17 23:10] danmarshall opened #7707 "Errors in NPM install"
### Environment Information

- __Package version(s)__: latest clone from GitHub
- __Browser and OS versions__: Windows 10

#### Actual behavior:

Errors during `npm install` on a fresh repo:
*  WARN  Fetching github.com/samiyaakhtar/react-grid-layout/6ed4e54bcb5236f78bf181433ad36aea971e5891 failed!
*  ERROR  404 Not Found: https://codeload.github.com/samiyaakhtar/react-grid-layout/tar.gz/6ed4e54bc

[2019-01-17 23:31] iamrafan commented on #7612
@Vitalius1 I do not think there is a need to detect the mode always, the label text "off" can be always hidden from the ATs using aria-hidden=true.

[2019-01-17 23:42] mikewheaton commented on #7707
Could you confirm that your registry is set to https://registry.npmjs.org/ by running:
`npm config get registry`

[2019-01-17 23:55] khmakoto opened #7710 "Accordion: add token support"
Now that Foundation components have been converted to use slots, we need to assess whether they should use tokens or not. `Accordion` is one of these components.

[2019-01-17 23:57] khmakoto opened #7712 "CollapsibleSection: add token support"
Now that Foundation components have been converted to use slots, we need to assess whether they should use tokens or not. `Collapsible Section` is one of these components.

[2019-01-17 23:58] danmarshall commented on #7707
@mikewheaton - yes it is https://registry.npmjs.org/

[2019-01-17 23:59] khmakoto opened #7713 "Persona and PersonaCoin: add token support"
Now that Foundation components have been converted to use slots, we need to assess whether they should use tokens or not. `Persona` and `PersonaCoin` are part of these components.

[2019-01-18 00:01] khmakoto opened #7714 "Text: Add token support"
Now that Foundation components have been converted to use slots, we need to assess whether they should use tokens or not. `Text` is one of these components.

[2019-01-18 00:01] khmakoto commented on #7573
Creating separate issues for each component before closing this one:
- Accordion (#7710)
- Collapsible Section (#7712)
- Persona (#7713)
- PersonaCoin (#7713)
- Text (#7714)

[2019-01-18 00:02] #7573 closed

[2019-01-18 00:05] atneik commented on #7606
Here is a codepen which might help investigating the issue: https://codepen.io/atneik/pen/oJRROO

The problem seems to be in `contentInner` which changed in v6:

v5:
![capture-panel-old](https://user-images.githubusercontent.com/785361/51356969-88c8d300-1a71-11e9-9f79-f8d074f76ade.PNG)

v6:
![capture-panel](https://user-images.githubusercontent.com/785361/51356964-849cb580-1a71-11e9-8308-6fb23151b

[2019-01-18 01:14] KevinTCoughlin commented on #7425
We had another report of this issue. It _is not straightforward_ to apply an `aria-label` to a column when rendering the `IColumn`'s `name` is not desired. We should make this clearer either via documentation, refactoring code, or a run-time warning.

The diff I supplied as a workaround was:

[code]

I vote we add this to backlog to tackle at a later date.

[2019-01-18 01:54] dzearing commented on #7714
Can you update this bug with the tokens which will be added? We should discuss which tokens make sense globally.

[2019-01-18 01:57] dzearing commented on #7707
@samiyaakhtar @Raghurk can you please investigate here? We should be avoiding hotfix dependencies, can these be removed?

[2019-01-18 01:58] dzearing commented on #7707
@kenotron hmm, shouldn't errors like this fail our install on ci?

[2019-01-18 03:08] kenotron commented on #7707
This is likely an error in rush install somewhere. It doesn't verify these installs because those are not properly coming from npmjs.org. Those are github dependencies. Agreed with @dzearing, we really  should not have these in our repo, but they're added to an experimental package, so we had traditionally let it slide.

I believe I've pinged @samiyaakhtar before on this but hadn't heard back. I'v

[2019-01-18 03:13] kenotron commented on #7707
I cannot repro this anymore. This is probably due to github's less-than-stellar uptime. Further points to the fact that we need to move away from github commit version dependency.

When we do `rush install` / `npm install`, we always see this:

[code]

[2019-01-18 03:18] kenotron commented on #7707
This #5464 brought that change in. It looks like the fork was needed by @samiyaakhtar to bring in another drag API that wasn't available to `react-grid-layout`. One way to do this is to actually fork & publish to npmjs.org so we're not dependent on github.com's infra. But longer term, I would suggest submitting a PR to react-grid-layout to see if they would merge it - which would be the point of h

[2019-01-18 03:21] danmarshall commented on #7707
Thanks for looking into this @kenotron . I seem to be able to repro consistently. I'm on a fresh machine and I'm not able to set it up for dev contribution. 🥺

[2019-01-18 03:22] kenotron opened #7718 "Dashboard - get rid of github commit based dependency"
### Environment Information

- __Package version(s)__: @uifabric/dashboard@master
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

The problematic line in question: https://github.com/OfficeDev/office-ui-fabric-react/blob/55a1455c10f510902c08fc0ab0f5af162838815f/packages/dashboard/package.json#L13

We hav

[2019-01-18 03:32] kenotron commented on #7707
@danmarshall - Can you try going to here: https://codeload.github.com/samiyaakhtar/react-grid-layout/tar.gz/6ed4e54bcb5236f78bf181433ad36aea971e5891

Does it download anything for you in the browser on that machine?

[2019-01-18 03:34] kenotron commented on #7707
FYI, I fired up a docker instance which has no cache inside and `npm install` went okay... I'm thinking it might be a network issue on your end?

[code]

[2019-01-18 03:34] danmarshall commented on #7707
@kenotron - yes it does download. Perhaps it's a firewall issue with Node.js ??

[2019-01-18 03:38] kenotron commented on #7707
Some firewall issue could be related... it would be interesting to see if you can do these steps in a blank package:

[code]

My results:
[code]

[2019-01-18 03:43] danmarshall commented on #7707
The "testme" thing succeeded 👍
But still not in office-ui-fabric-react 🤷‍♂️

[2019-01-18 03:55] #7686 closed

[2019-01-18 04:33] dzearing commented on #7707
@danmarshall what npm version are you on? (npm -v)

[2019-01-18 04:35] dzearing commented on #7707
actually nevermind, that won't matter.

We will follow up asap on this particular dependency and see what we can do. Sorry for the friction, but there's something weird here with maybe your setup, maybe firewall, but certainly the dependency is abnormal and we might be able to address that.

[2019-01-18 07:45] RaulRG commented on #5759
This sounds very good!! Keep us informed, please. For us IE11 is not an issue as we already decided to drop support for it. The limitations are too big to use anything "modern", but I understand if it is a requirement for fabric.

[2019-01-18 10:07] TheLarkInn commented on #7581
I think you are missing the point here. This lib isn't meant to be bundled. It's less efficient to do so. The format currently is optimized for an app (bundled with webpack 4+) _consuming_ this lib.

What you've showed is applying tools against the lib itself which accomplishes more bloat vs. less.

[2019-01-18 11:05] #7713 closed

[2019-01-18 15:17] KeiraYang opened #7722 "How to separately set the direction of coach mark and teaching bubble?"
Hi team,
Thank you for your great efforts on build this good coach mark component. I need some help from you.
I'm encountered an issue that I have a coach mark and when hover mouse to it, the teaching bubble will be expanded. I want to set the DirectionalHint of coach mark and teaching bubble for different way. But I cannot set it by pass the a DirectionalHint to Coachmark positioningContainerProp

[2019-01-18 16:16] #7701 closed

[2019-01-18 16:46] mikewheaton commented on #7707
I had this same error a couple weeks back. Tried everything I could think of with no luck, eventually had to remove the `dashboard` package from my build. Then a few days later I made a fresh clone and it worked.

[2019-01-18 17:47] dzearing commented on #7707
Almost certain it's either an old node.js (or possibly too new), or somehow, corrupt package cache.

I don't think firewall theory makes sense if @danmarshall was able to add that package in isolation.

[2019-01-18 18:10] #7596 closed

[2019-01-18 18:32] mikewheaton commented on #7722
Could you create a CodePen showing the issue? https://aka.ms/fabricpen

[2019-01-18 18:44] danmarshall commented on #7707
@dzearing I'm on Windows 10, Node v10.15.0, npm 6.4.1

[2019-01-18 21:33] yumikohey commented on #7707
I encountered into this issue since Monday. Not able to fix yet.
Windows 10, node v8.11.3 npm 4.5

[2019-01-18 21:37] khmakoto commented on #7714
@dzearing Yeah, it would probably be good to have this discussion.

CCing @natalieethell since she is promoting `Text`.

[2019-01-18 22:17] haonliu commented on #7679
@dzearing Thanks for the details explanation. Our actual usage scenario is that we are using a details list to list a bunch of items, and in each row of the list there is a choice group. Since Details list has FocusZone inside, the choice end up living inside the focus zone.

[2019-01-18 22:19] yumikohey commented on #7707
I did the same. It work in `testme`, but NOT in `office-ui-fabric-react`.

@kenotron

[2019-01-18 22:20] dzearing commented on #7679
@haonliu Ah thank you! I was nervous it was that combo. We will see how we can address.

[2019-01-18 22:45] bigbadcapers opened #7725 "fluent breadcrumb aggressively truncates"
### Environment Information

- __Package version(s)__: current + fluent theme
- __Browser and OS versions__: all browsers

#### Actual behavior:
![image](https://user-images.githubusercontent.com/20586907/51416618-2a622a00-1b2f-11e9-8462-31370dc6a69b.png)

![image](https://user-images.githubusercontent.com/20586907/51416643-42d24480-1b2f-11e9-8a7c-a26234d8d1ba.png)

in both breadcrumbs, there is r

[2019-01-18 23:36] dzearing commented on #7707
Have you tried on a different computer or network? I just tried on Windows 10, Node v10.15.0 and npm 6.6.0 and installed with no issues.

[2019-01-18 23:36] dzearing commented on #7707
Also, is anything funny about your `.npmrc`? Do you have npm pointed at a private registry by default for example?

[2019-01-18 23:51] Jahnp commented on #7702
I think #6780 captures this but suggests moving the content to a separate repo. I'm not sure if there are any pros/cons to keeping it in this repo or another one, just wanted to point out the spirit of this has been captured elsewhere.

[2019-01-18 23:53] dzearing commented on #7702
Dupe of #7183

[2019-01-18 23:53] #7702 closed

[2019-01-18 23:53] dzearing commented on #7702
Thx @Jahnp !

[2019-01-18 23:55] danmarshall commented on #7707
I don't have an `.npmrc` file in this clone or in my user folder. 👻

[2019-01-19 00:02] danmarshall commented on #6989
Hello, not sure if this is the right place to ask for a feature, but I'd like to be able to support changing the theme at runtime, to support both a Light and a Dark theme.

[2019-01-19 00:09] ecraig12345 commented on #4613
To clarify, we've worked around the immediate BaseComponent issue in #7393 by removing its usage of `componentWillReceiveProps`.  Moving away from BaseComponent is still something we could consider, but it would probably be best to have that discussion on a separate issue given that this one is already rather overloaded.

[2019-01-19 00:14] anubhavaggarwal22 commented on #6525
@KevinTCoughlin  we have a blocker accessibility bug (https://msazure.visualstudio.com/One/_queries/edit/3571922/?triage=true) on flow team because of this  bug, is there a ETA when this will be fixed?

[2019-01-19 00:22] dzearing commented on #7707
Talked with @Raghurk offline. We will temporarily disable dashboard from rush.json, and he will separately repair the dependency. This should unblock. Let me get that rolling.

[2019-01-19 00:57] haonliu opened #7726 "ContextualMenu accessibility - lists are not structured correctly"
### Environment Information

- __Package version(s)__: 6.127.0
- __Browser and OS versions__: win10 chrome
### Please provide a reproduction of the bug in a codepen:
 https://codepen.io/anon/pen/yGmBpJ
#### Actual behavior:
the native role of the li items are being suppressed by using role to presentation. Hence the li elments are ignored by the screen readers and their child menuitems are exposed

[2019-01-19 01:07] danmarshall opened #7728 "Cannot load theme when using Parcel as bundler"
Hello, when using [Parcel](https://github.com/parcel-bundler/parcel) as my bundler, I am not able to call `loadTheme`.

Here is a sample repo to show my setup:
https://github.com/danmarshall/office-ui-button

### Environment Information

- __Package version(s)__: 6.128.0

### Please provide a reproduction of the bug in a codepen:

[code]

Hopefully I am calling this correctly, if not please let me

[2019-01-19 01:10] dzearing commented on #7726
Having a difficult time what component you're referring to. Can you add more details on component and maybe a codepen?

[2019-01-19 01:13] haonliu commented on #7726
the component is the contextual menu as shown in this codePen: https://codepen.io/anon/pen/yGmBpJ

[2019-01-19 02:34] KevinTCoughlin commented on #6525
@anubhavaggarwal22, I don't recommend linking to internal boards on a public forum. Let's start an internal thread to discuss. I am not an expert in this area and have been unable to solve myself.

Have you considered a work around such as using [aria-live](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Live_Regions) region(s) to announce the selection state while we arrive o

[2019-01-19 02:43] KevinTCoughlin commented on #7726
My understanding of @haonliu's report is that the following DOM:

![image](https://user-images.githubusercontent.com/706967/51421215-fcd9a880-1b4f-11e9-8ca2-a9e8c64ef43e.png)

results in an accessibility tree which omits `role="listitem"` elements under the parent `role="list"`:

![image](https://user-images.githubusercontent.com/706967/51421222-1975e080-1b50-11e9-96a2-15a8ccb82fe5.png)

The `role

[2019-01-19 03:00] #7544 closed

[2019-01-19 03:51] Vitalius1 commented on #6116
Closed in #6739

[2019-01-19 03:51] #6116 closed

[2019-01-19 03:56] #7108 closed

[2019-01-19 03:57] #7284 closed

[2019-01-19 04:56] ecraig12345 commented on #7183
I see
[code]

I'm confused, am I supposed to

Copying in @dzearing's description from #7702:

[2019-01-19 04:58] ecraig12345 commented on #7183
I don't understand why we'd want to put the docs in a separate repo, as opposed to just a folder in OUFR?

Noticed we already have a `ghdocs` folder at the root of the repo, but that just has a readme saying:
[code]

Would it make sense to move the docs back into this folder, then (like @dzearing  suggested in #7702) set up a nightly job to copy the changes to the wiki?

[2019-01-19 05:15] danmarshall commented on #7707
Tried on a different machine, and it worked without error. 🤔

[2019-01-19 05:45] danmarshall commented on #7728
This could possibly be a bug in Parcel, which seems to trigger only when `loadTheme` is added.

[2019-01-19 06:12] Shobhit1 commented on #7425
This is the exact workaround I did to make sure that there is some `ariaLabel` on the column header.

[2019-01-19 11:40] ehmPlankje opened #7729 "Autofill input element of ComboBox does not inherit tabIndex"
### Environment Information

- __Package version(s)__: 6.122.0
- __Browser and OS versions__:  Windows 10, Chrome 71, Internet Explorer 11

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/roXLXP

#### Actual behavior:

When setting a tabIndex property of -1 on a ComboBox, it will still be tabbable. This is caused by the autofill input element not inheriting

[2019-01-19 12:05] jayliang701 opened #7730 "use "loadTheme" method will include the whole "office-ui-fabric-react" lib"
I try to change theme following official doc, likes:
`import { loadTheme as setup } from 'office-ui-fabric-react';`

But this line will make the whole "office-ui-fabric-react" lib bundled by webpack. My app.js file is up to 3MB+.

Can I improve this? What is the best way to do it?

[2019-01-19 17:34] canmenekse opened #7731 "DetailsList Columns Do Not Align When Scrolling Horizontally With A Sticky Header"
### Environment Information

- __Package version(s)__: 6.128.0
- __Browser and OS versions__: Chrome/Edge/Firefox

### Please provide a reproduction of the bug in a codepen:
 Similar to #7059
[https://codepen.io/anon/pen/REXVOd](https://codepen.io/anon/pen/REXVOd)

1. Make the window small enough so vertical scrollbars are enabled
2. Scroll down
3. Make the window small enough so horizontal scroll

[2019-01-19 20:09] dzearing commented on #7183
@ecraig12345 Do what I mentioned in the other bug. We went back and forth on the right thing here, and keeping the wiki inside the same repo helps with discoverability. So, expected outcome here is:

Move wiki into oufr repo, under /wiki folder.
Add a regular job (maybe it can be triggered on /wiki modifications in master) which reflects the updates to the wiki.git

[2019-01-19 20:11] dzearing commented on #7183
updated original description.

[2019-01-19 22:32] canmenekse commented on #3608
I am having the same issue too, though a little bit different :

1. Does happen rarely in Chrome , it happens more frequently in Edge/Firefox
2. Does not happen if the vertical scrollbar is there at the beginning , only happens when
   1-) you don't have a vertical scrollbar since list does not need one yet
   2-) items get added and the list displays a vertical scrollbar
   3-) suddenly horizonta

[2019-01-20 17:12] ConnorChristie commented on #7541
@Vitalius1 Is the source for the https://fluentfabric.azurewebsites.net website public anywhere? I would love to learn how that layout is put together as I don't see any examples of that sidebar or header anywhere

[2019-01-20 18:35] russgove opened #7732 "Cannot Disable CommandBar Items on modern page"
Expected or Desired Behavior
Setting the disabled attribute of an IContecutalMenuItem should render the item in a disabled state

Observed Behavior
Setting the disabled attribute of an IContecutalMenuItem renders the item in an enabled statestate

Steps to Reproduce
build a react webpart and add this to the render method:
let itemsNonFocusable: IContextualMenuItem[] = [
{
key: "Disabled",
name: "D

[2019-01-21 07:33] Vitalius1 commented on #7541
@ConnorChristie best one to answer you would be @mikewheaton.

[2019-01-21 09:44] lijunle commented on #5326
I had an discussion with @dzearing and made [an interesting experiments](https://codepen.io/lijunle/pen/bzbBRZ?editors=0011).

In the codepen, the `MyComponent`'s `setState` is changing the value and set back. The setting value is different from the controlled component's internal state one. However, the controlled component always respect the passed in value.

Another interesting point is, the in

[2019-01-21 10:55] shagra-ms commented on #7482
Thanks for looping me in @dzearing. We have picked up this item.

It is interesting to note that with HTML 5 Drag-Drop support - all browsers already support autoscroll. In fact I can drag any image and the IE window does auto scroll in any direction (just to prove that no code is required to enable this). I remember we tested this when we first worked on enabling this scenario. _So this may be a

[2019-01-21 13:44] hemure opened #7735 "GroupedList forgets current toggle state when re-rendering"
###
Chrome : 71.0.3578.98 (Official Build) (32-bit)
FabricUI react : 6.114.0

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
 I'm updating the groups and/or items arrays and calls forceUpdate().
The component updates the content, but collaps all groups in the process.

#### Expected behavior:
It should retain the current state of collapsed and open groups.
Prefer

[2019-01-21 18:50] canmenekse commented on #7731
Ah never mind After I saw the [https://developer.microsoft.com/en-us/fabric#/components/scrollablepane](https://developer.microsoft.com/en-us/fabric#/components/scrollablepane) I resolved my issue.

For anyone wondering, adding the following props to the DetailsList seems to fixed the issue:
` constrainMode={ConstrainMode.unconstrained}`
 ` layoutMode={DetailsListLayoutMode.fixedColumns}`

[2019-01-21 20:00] #7634 closed

[2019-01-21 22:00] #7639 closed

[2019-01-22 06:00] warmsea opened #7740 "The content of /packages/dashboard/README.md is wrong"
### Environment Information

- __Package version(s)__: uifabric/dashboard v0.44.0

#### Actual behavior:

The "/packages/dashboard/README.md" file is with the wrong content. It is the content for "dashboard-grid-layout", not for the dashboard package.

#### Expected behavior:

A proper content for the dashboard package.

[2019-01-22 13:09] hrc7505 opened #7742 "Sticky header in details list not moving with scroll"
### Environment Information

- __Package version(s)__: (6.129.0)
- __Browser and OS versions__: (Chrome  71.0.3578.98 - Windows 10)

### Please provide a reproduction of the bug in a codesendbox:
 <a href="https://codesandbox.io/s/vm56j1qx80">
  <img alt="Edit DetailsList - compact" src="https://codesandbox.io/static/img/play-codesandbox.svg">
</a>

#### Actual behavior:
 Sticky header is not movi

[2019-01-22 13:17] MartyMaro commented on #3469
Has this been released, already? I initialised a new spfx webpart two weeks ago and it seems the search box of still does not trigger the onSearch event when I press enter with an empty textbox.

my sp dependencies are

[code]

[2019-01-22 14:37] KeiraYang commented on #7582
Hi. I also encountered with this issue. When I invoke the ref callback in componentDidMount, I'll get the ref under div with attribute data-automation-id="visibleContent", which is the right one for commandbar button. But if I invoke the ref callback in componentDidUpdate, I'll get the ref under div with style="position: fixed; visibility: hidden;". So I always get null.

When I debug, I got this

[2019-01-22 15:21] cslecours commented on #3469
@MartyMaro

The fix is in the latest version (6). spfx is using version 5.120-ish.

See : https://github.com/OfficeDev/office-ui-fabric-react/blob/5.0/packages/office-ui-fabric-react/src/components/SearchBox/SearchBox.base.tsx#L201

You could install the latest version of office-ui-fabric-react, but I'm not sure how well it will be supported : https://docs.microsoft.com/en-us/sharepoint/dev/spfx/o

[2019-01-22 15:50] mikewheaton commented on #7541
@ConnorChristie That project isn't public, as it's just temporary until the Fluent styles are rolled into the general release of Fabric. The sidebar and header are both custom for the site and not part of Fabric React.

[2019-01-22 16:13] mikewheaton commented on #7726
This makes the most sense to me, too.

[2019-01-22 16:35] #7699 closed

[2019-01-22 16:41] MartyMaro commented on #3469
@cslecours Thank you for informing me. We prefer stability, so I bypassed the issue, by also taking actions on the blur event when the text field is empty. It feels inconsistent, but it fine for now.

Is there any roadmap where I can see when fabric is updated in spfx?

[2019-01-22 17:11] ThomasMichon opened #7744 "[Cleanup]: Fix event lifecycles in DragDropHelper"
This is to track TODO issues recorded in this PR #7738.

In React, event listeners should only be registered in `componentDidMount` or `componentDidUpdate` within the lifecycle of a `React.Component`. However, the components which consume `DragDropHelper` create instances in the `constructor` (bad since it may never get mounted) or in `render()` (bad since compnents should never mutate state or re

[2019-01-22 17:33] ConnorChristie commented on #7541
@mikewheaton So it wouldn't be possible to get access to those layouts or styles? I'm mainly asking because first off, it looks amazing, and secondly we are working on a blockchain POC which uses Azure's blockchain services and would like to try and get an Azure themed template to go with it 😄

[2019-01-22 17:53] mikewheaton commented on #7541
@ConnorChristie I'm hesitant to push it to GitHub in case anyone takes a dependency on it or thinks it's an official project, but there's nothing proprietary in there so I'll email you a ZIP you can dig into as a reference. :)

[2019-01-22 18:08] flyingUnderTheRadar commented on #7679
Any update on this @dzearing

[2019-01-22 18:40] micahgodbolt commented on #7561
this feature is already being tracked in #6030. Going to close this issue down.

[2019-01-22 18:40] #7561 closed

[2019-01-22 19:04] yumikohey commented on #7718
I couldn't have it build successfully for the past whole week; need this to be fixed asap. Thank you.

[2019-01-22 19:10] yumikohey commented on #7707
@dzearing  I tried with another laptop, it works. Windows 10, node v8.11.3 npm 4.5. Didn't have npm pointed to any private registry. It used to work.

[2019-01-22 19:21] leddie24 commented on #7735
Hi @hemure , thanks for submitting an issue.  Could you please submit a codepen demonstrating the bug?  I'm having difficulty reproing this on our documentation page.  Thank you!

[2019-01-22 19:44] cslecours commented on #7730
You should use :
`import { loadTheme } from 'office-ui-fabric-react/lib/Styling';`

Source : https://github.com/OfficeDev/office-ui-fabric-react/blob/master/apps/fabric-website-resources/src/components/pages/ColorsPage.tsx#L5

[2019-01-22 19:46] leddie24 commented on #7730
Thanks for chiming in @cslecours.  This should fix your issue @jayliang701, feel free to re-open the issue if it doesn't.

[2019-01-22 19:46] #7730 closed

[2019-01-22 19:59] leddie24 commented on #7731
Looks like you found the solution, thanks for submitting it!  Closing the issue now.

[2019-01-22 19:59] #7731 closed

[2019-01-22 20:06] benkaiser opened #7750 "Coachmark hover/click support not working on demo site"
### Environment Information

Tested Chrome and Firefox on Windows 10.

### Please provide a reproduction of the bug in a codepen:

Attempted to repro with most recent versions on:
https://aka.ms/fabricdemo however I can only repro this issue on the example website here:
https://developer.microsoft.com/en-us/fabric#/components/coachmark

#### Actual behavior:

Viewing the documentation for coachmar

[2019-01-22 20:07] leddie24 commented on #7742
Hi @hrc7505 , thanks for submitting an issue.  You can solve this by adding these props to the `DetailsList` component.
[code]

I've forked your codepen to demonstrate it in effect.

https://codesandbox.io/s/lx8n8vz55z

[2019-01-22 20:07] #7742 closed

[2019-01-22 20:08] mikewheaton commented on #7718
@samiyaakhtar Are you aware of this issue?

[2019-01-22 20:10] karanbirsingh opened #7751 "DetailsList GroupHeader checkbox is missing aria-label"
This is the same issue as #5986 which was closed with a different solution. I think we may still want the aria-label.

### Environment Information

- __Package version(s)__: 6.129.1
- __Browser and OS versions__: Chrome (Windows 10) Version 71.0.3578.98 (Official Build) (64-bit)

### Please provide a reproduction of the bug in a codepen:

Reusing this [codepen ](
https://codepen.io/peterliumich/pe

[2019-01-22 20:36] leddie24 commented on #7732
Hi @russgove , thanks for submitting an issue.  Unfortunately, it's really difficult for us to repro bugs on SharePoint;  can you please submit a codepen that demonstrates the issue?  If we can isolate the problem to fabric react, then we can rule out any possible differences that may be there between a Modern and Classic environment.

[2019-01-22 20:48] rborosak commented on #6727
@JasonGore  I know this issue is closed but this approach of adding "-label" internally is in my opinion wrong.
I'm using DatePicker with Formik. In order for Formik to know which value to update I need to pass "name" or "id" attribute to my input. Since DatePicker does not contain "name" prop I'm left with id which in my case is worthless because the component adds a '-label' suffix. Is there any

[2019-01-22 21:00] #5424 closed

[2019-01-22 21:08] iamrafan commented on #7612
Related: https://github.com/w3c/wcag/issues/567

[2019-01-22 21:15] mikewheaton commented on #7722
I've taken a closer look at this. Unfortunately, I don't see a simple way to position the Coachmark differently than the TeachingBubble. The Coachmark actually animates to become the frame of the TeachingBubble, so they are both contained in the same PositioningContainer. TeachingBubble doesn't have any positioning logic of its own.

Could you provide some more details on why you need the content

[2019-01-22 22:05] phkuo commented on #7585
Focus state tends to be just an outline, or an outline in combination with the control's hoverstate, so a separate focus set of classes isn't necessary. Active is a state that we do want to support.
I don't remember where ColorClassName came from, you'll have to review that with the Fabric team about how and where it's meant to be used.

[2019-01-22 22:10] phkuo commented on #6575
I mean that it should be removed anywhere it is being consumed in Fabric components, but remain in place in the theming infrastructure code. i.e. deprecated but still technically supported

[2019-01-22 22:41] leddie24 commented on #7750
Thanks for catching this bug @benkaiser! I'll come up with a proper fix in the upcoming week(s).

[2019-01-22 23:41] ecraig12345 opened #7753 "Codepen examples should be built per-package"
Currently, the `build-codepen-examples` build step uses an overenthusiastic glob which builds *all* examples in the entire repo, instead of only the examples in the currently-building project. This is especially bad for build times since the codepen step has to be explicitly disabled for packages which don't need it.

Instead, we ought to only build the examples for the currently-building project.

[2019-01-23 00:00] SudharsanSukumar commented on #7110
Any updates on this issue?

[2019-01-23 00:24] dbjorge opened #7758 "Panel should be hidden from screen readers during transition animations"
When a `Panel`'s `isOpen` prop is set to false, the Panel currently remains visible to screen readers as it goes through its close animation, which results in spurious notifications when child elements of the panel change to support the panel closing (eg, disabling buttons during the close animation) in ways that a screen reader would normally read.

The motivating example in our particular repro

[2019-01-23 00:33] leddie24 commented on #7728
Hey @danmarshall, thanks for submitting an issue.  I can repro this with your github repro.  I'm not sure why there's a TypeScript error that occurs (especially with the random component of ChoiceGroupOption), but I found that importing `loadTheme` from `office-ui-fabric-react/lib/Styling` instead of from the root of `office-ui-fabric-react` has solved the issue for me.  Can you try that and see i

[2019-01-23 00:33] #7728 closed

[2019-01-23 00:39] aneeshack4 commented on #6514
![image](https://user-images.githubusercontent.com/4161791/51574739-f145f480-1e63-11e9-8697-f8d5909bf2a4.png)
This was tested on windows version 1809 OS build 17763.253
As you can see in this image, Narrator does convey the right information on the "Standard checkbox" control - it repeats the word checkbox twice simply because that's the label (bug 1). And, in scan mode, there's only one focus rec

[2019-01-23 00:52] aneeshack4 commented on #6514
Some more notes on Bug 2: I do see that Narrator in scan mode, if you press "space" to select a checkbox and then use the down arrows the navigate, the focus stays on the control & the focus rects go to the label instead of the checkbox below. But this seems to be how Narrator handles focus... not sure if we can do anything on our end to change this such that the focus immediately goes to the next

[2019-01-23 00:56] danmarshall commented on #7728
Fantastic! Thanks you @leddie24 ! 🥇

[2019-01-23 01:15] #7650 closed

[2019-01-23 02:00] #7663 closed

[2019-01-23 02:10] KyleMcNutt commented on #5759
Just to throw out another approach. I decided to play around with [Angular Elements](https://angular.io/guide/elements), which takes Angular Components and creates a Web Component out of it (with some additional bridging), and it yielded good results in general.

I basically created Angular Components that wrap the Fabric React Components, then used Angular Elements to output that into a Web Compo

[2019-01-23 04:18] TestAccessibilityGIT opened #7761 "OverflowSet A11y Pass"
Tracking all of the issues brought up with the 1/22 accessibility pass on OverflowSet control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Be4af1f95-30ff-43e8-9dfc-09de1866ce7f%7D&action=default&uid=%7BE4AF1F95-30FF-43E8-9DFC-09DE1866CE7F%7D&ListItemId=1700&ListId=%7B395E1ECB-5002-

[2019-01-23 05:54] TestAccessibilityGIT opened #7762 "MessageBar A11y Pass"
Tracking all of the issues brought up with the 1/22 accessibility pass on MessageBar control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8f6b9510-2d32-45ba-bc39-37aa879c7eba%7D&action=default&uid=%7B8F6B9510-2D32-45BA-BC39-37AA879C7EBA%7D&ListItemId=1676&ListId=%7B395E1ECB-5002-4

[2019-01-23 07:48] Nimelrian opened #7763 "[merge-styles / Checkbox]: generated css rule targets wrong class name when using $-references"
merge-styles seems to resolve $-references incorrectly. I found this issue when trying to override the Checkbox's checkmark element's style when the root element was hovered. The css rule inserted into the
merge-styles stylesheet references a different class than the one which is applied to the checkmark element.

### Environment Information

- __Package version(s)__: OUFR: 6.129.1

### Please pro

[2019-01-23 10:06] basovic88 opened #7764 "Create an Expander component: Extract GroupHeader functionality from Nav and DetailsList"
Currently, in both Nav and DetailsList an Expander-like component is integrated. In the DetailsList it is used to group rows. The group header is clickable and is used to show or hide a collection of rows. This is supported by a nice animation of both the chevron icon and the content. Likewise, the same functionality is available in the Nav component to show/hide/group a collection of links.

I wo

[2019-01-23 10:07] Nasicus commented on #7426
Any updates on this?

[2019-01-23 16:04] mikewheaton commented on #7722
Ah, I see the issue here. There is an `isPositionedForced` prop on Coachmark that will prevent it from going out of view or being too narrow. Would that meet your needs? Here's what it looks like:

![image](https://user-images.githubusercontent.com/1382445/51619578-863d0200-1ee5-11e9-9199-da24e4d6d137.png)

[2019-01-23 16:06] #7740 closed

[2019-01-23 16:17] mikewheaton commented on #7641
@Jahnp Has there been any response?

[2019-01-23 16:47] mikewheaton commented on #7722
Glad to hear it!

[2019-01-23 16:47] #7722 closed

[2019-01-23 17:00] #7669 closed

[2019-01-23 17:46] #7750 closed

[2019-01-23 18:39] soorajcodehub commented on #7606
does Aniket's codepen help? Thanks!

[2019-01-23 19:36] dbjorge commented on #7758
https://codepen.io/dbjorge/pen/gqpwep has an example that applies an `aria-hidden={!this.state.isPanelOpen}` prop explicitly to the panel, which we've confirmed appears to have the desired behavior of suppressing the spurious notifications in both jaws and nvda.

[2019-01-23 20:13] leddie24 commented on #7758
Thanks @dbjorge for finding this and your suggestion for a fix as well.  I'll submit a PR for this soon!

[2019-01-23 20:29] canmenekse opened #7772 "Details List Unnecessary Horizontal Scrolling Bar"
### Environment Information

- __Package version(s)__: 6.129.1
- __Browser and OS versions__: Edge/Firefox

### Please provide a reproduction of the bug in a codepen:
similar to: #3608
   **case 1 :**  overflow in the header is hidden, if you scroll horizontally the header gets cut off, but we don't see unnecessary horizontal scrolling bar. there is the actual horizontal bar that  because content

[2019-01-23 20:36] #7726 closed

[2019-01-23 20:49] dzearing commented on #7585
I don't think `ColorClassNames` is what we want here. Nothing at least in Fabric uses it, and as we've moved on to css in js and theming, it has become far less important. Tokens is how we'd answer this.

[code]

I don't think we *need* to support calculated token values here to support the scenario, as you could generate the classnames in your token calculation using helpers if needed.

[2019-01-23 20:49] tabrumle opened #7773 "Facepile: Descriptive Overflow text is slightly off-centered"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/tabrumle/pen/MLwbKB

#### Actual behavior:

Descriptive overflow text is slightly off-centered for the Facepile

#### Expected behavior:

Descriptive overflow text is centered

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Low

Products/sites affected: Office Online

[2019-01-23 21:02] kkjeer commented on #7606
By adding `flex-grow: 1` to .ms-Panel-contentInner, v6 and v5 look the same in the codepen: https://codepen.io/kkjeer/pen/bzdqwV

Without a codepen demonstrating your scenario, I don't know if this would fix the issue you're seeing. Could you please either:
1. Create a codepen that reproduces your issue, or:
2. Try adding `flex-grow: 1` to .ms-Panel-contentInner in your styles and see if that fixe

[2019-01-23 21:15] leddie24 commented on #7773
Hi @tabrumle, thanks for submitting your issue.  Is this a horizontal or vertical alignment that you're noticing?  I changed the text from `+8` to `TT` and it looks pretty centered horizontally and vertically.  I can see it's a bit off center horizontally when it's using the original text of `+8`, but that's more of an issue with the font family rather than our styling.

![image](https://user-imag

[2019-01-23 21:38] tabrumle commented on #7773
Its vertical alignment that im noticing. It appears that the spacing between the top and bottom of the text to the coins outter circle differs. Specifically 38px for the top vs 33px for the bottom.
![coincentering33](https://user-images.githubusercontent.com/42159057/51638747-11cd8780-1f14-11e9-9165-5e7346cd5023.PNG)
![coincentering38 2](https://user-images.githubusercontent.com/42159057/51638719-

[2019-01-23 22:46] dzearing commented on #7367
Because this is in a test, validly testing that old context works with layers based on portals, we should just keep it for now.

[2019-01-23 22:46] #7367 closed

[2019-01-23 23:14] khmakoto commented on #7585
@ethanroday Just to be completely sure here, can you clarify what is the expected behavior on the pressed button? Is it a red background color with a dark red border color?

[2019-01-23 23:42] Vitalius1 commented on #7585
@khmakoto I think it's not as much the color being the ask here as more the better alternative to easily style a component (button here just being an example). @ethanroday was using `ColorClassNames` from the `styling` package and was wondering if there could be an easier way with less boilerplate. Also, there were some issues with the `active` state color not being present in the `ColorClassNames

[2019-01-24 00:43] leddie24 commented on #7763
@dzearing, do you have any suggestion regarding this?  Here's a codepen (copied from this issue [#4138] and modified a bit)

https://codepen.io/leddie24/pen/zeGEEQ?editors=1011

mergeStyles doesn't seem to cooperate that well with subComponents.  In the codepen above, it works fine with $a, $b, but not $c, which is under a SubComponent, which is a similar situation for the `Checkbox` component ($c

[2019-01-24 00:54] natalieethell commented on #7560
I played around with this issue a little more and it looks like it may require a deeper investigation of the role hierarchy of DetailsList. I should be able to get back into this next week.

[2019-01-24 01:04] bowenqiang opened #7781 "Issue with slider and toggle components in Narrator Scan mode"
### Environment Information

- __Package version(s)__: 5.52.0
- __Browser and OS versions__: Edge, windows 10 1809, Narrator

### Please provide a reproduction of the bug in a codepen:
Use Fabric UI official example pages
https://developer.microsoft.com/en-us/fabric#/components/slider
https://developer.microsoft.com/en-us/fabric#/components/toggle

### Repro Steps:
1. Open the link, Turn on window

[2019-01-24 02:06] KevinTCoughlin commented on #7735
@hemure, would it be possible to isolate this repro in a Codepen? You may fork this `GroupedList` starter template if you find that helpful, https://codepen.io/kevintcoughlin/pen/zeGpZp?&editable=true/.

It will help us debug and provide a fix. Thank you for the report!

[2019-01-24 02:47] #7674 closed

[2019-01-24 04:46] dzearing commented on #7707
I will close down the PR to disable dashboard from rush.json, as it sounds like we've identified that the issue is machine specific, and also we have a real fix in the pipeline.

[2019-01-24 10:23] sonimishra opened #7786 "[Screen Reader - Power Apps Admin - Projects Tab - Sorting] Narrator is not announcing the sorting functionality information on the column header of the table under Select a Template blade."
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

*User Experience:*
If, the Screen reader is not announcing the sorting functionality information on the column header of the table, then the users who depends upon Screen reader for navigation might get affect

[2019-01-24 15:55] #7729 closed

[2019-01-24 16:44] #7758 closed

[2019-01-24 16:45] #6867 closed

[2019-01-24 17:04] kenotron commented on #7707
@yumikohey and @danmarshall - can you try this on the problematic machine & repo:

[code]

This will clear the `pnpm` cache. If that works, that means `pnpm` was caching something bad. If it still fails, try to "nuke" everything by:

[code]

This will restore your repo back to the way it was right after you cloned, basically. If that installs fine, that means something else gummed up the installat

[2019-01-24 18:09] leddie24 commented on #7773
This issue is a bit tricky.  It's difficult to vertically align text, especially since it seems to work fine at smaller persona sizes.  We want to avoid creating one-off rules for the larger size100 Persona.  The span that contains the text itself is centered properly.  If a consumer were to ever change the font with this component, then the vertical alignment would differ from font to font.  @bet

[2019-01-24 18:20] Jahnp commented on #7641
Apologies for the delay! I fell sick shortly after initially reaching out, and forgot to follow up here. My bad.

They did reply, but it turns out there's a different team for handling requests like this (e.g. adding HTTPS support to redirect rules). I just filed a ticket to get this resolved; that should take 1-4 days. Will follow up when I hear back.

[2019-01-24 19:00] #7689 closed

[2019-01-24 19:09] danmarshall commented on #7707
@kenotron - ok I tried but was immediately shut down, as I don't have `rush` installed globally.

[2019-01-24 19:09] jhellesen opened #7789 "FocusTrapZone / isElementTabbable broken by div button"
FocusTrapZone fails to trap keyboard focus when the first or last element within the FocusTrapZone is a div, with role="button" and without a tab index.  This happens because the getLastTabbable and getFirstTabbable functions used by FocusTrapZone return the non-tabbable element and when the FocusTrapZone tries to focus on a non-tabbable element, the focus bounces out of the FocusTrapZone.

The fu

[2019-01-24 20:55] #7426 closed

[2019-01-24 21:18] dzearing commented on #7763
Let me dig in.

[2019-01-24 21:33] #7707 closed

[2019-01-24 21:34] kenotron commented on #7707
I've removed the dep, @danmarshall & @yumikohey can you try again after `git pull`?

[2019-01-24 21:52] danmarshall commented on #7707
Much success! Thank you to the team for your responsiveness!

[2019-01-24 21:54] donpinkus opened #7792 "[QUESTION] Use React-Devtools with Office add-in"
Apologies for posting this question to the _fabric-react repo_, but it seems like the only possible communication channel where I'll get a quality answer. (Also posted on StackOverflow a few days ago).

How can you use React DevTools while developing a Microsoft add-in? Has anyone done this successfully?

[2019-01-24 21:54] dzearing commented on #7707
Thank you @kenotron and @sikrishn for the help, thanks for reporting @danmarshall and @yumikohey !

[2019-01-24 23:03] leddie24 commented on #7789
Hey @jhellesen, can you verify that you posted the right codepen? I don't see any usage of `FocusTrapZone` within it.  Thanks!

[2019-01-24 23:52] leddie24 commented on #7792
Hey @donpinkus, I don't have extensive experience with React DevTools.  I believe if your app can be developed in a browser, the you can simply debug with it in Chrome.  I can ask around my team and try to connect you to the right people in Office Add-Ins

[2019-01-24 23:57] Jahnp commented on #7792
@Rick-Kirkham , is there someone in the extensibility team who'd be able to help here?

[2019-01-25 00:10] donpinkus commented on #7792
@leddie24 - thanks for the quick reply!

Being connected to someone on your team who can answer questions about debugging React in Microsoft Add-ins would be great. I'd happily help write a blog post / update GitHub Readme's with the info once we figure it out. I'm sure debugging React in add-in's is a common enough task ;)

We're building a Word add-in, so unfortunately the app can't be built in

[2019-01-25 04:20] arun-cm opened #7799 "React Router support for Command Bar items"
**Add [*react-router-dom*](https://github.com/ReactTraining/react-router/tree/master/packages/react-router-dom) support for Command Bar component**

**What component or utility would this be added to**
1) Command Bar
2) Nav
3) Pivot
4) Breadcrumb
5) OverflowSet

**Or please provide a workaround to implement the same**

[2019-01-25 04:46] dzearing commented on #7679
I believe I have a fix ready for you. In PR now. Need to cycle with @JasonGore on why `data-is-focusable` was originally added.

[2019-01-25 04:51] KevinTCoughlin commented on #6657
Glad that you all are unblocked. We will continue to better surface this requirement and evolve the API. Certainly not the first time we've had to field the question even with the examples using it.

[2019-01-25 04:51] #6657 closed

[2019-01-25 04:51] dzearing commented on #7789
You can add `data-is-focusable="true"` to elements which should be considered focusable. Possible we could also alter that function to respect role="button".

[2019-01-25 14:54] jayliang701 commented on #7730
Thank you guys!

[2019-01-25 15:17] aminezemzemi commented on #7669
@mikewheaton Thank your for your help, did you know if we can set add required property like ChoiceGroup Component.

[2019-01-25 17:14] ThomasBarnekow commented on #616
@dzearing Would love to use UI Fabric with Next.js but somehow can't make it work without this feature. Is there any ETA of this updated SSR support?

[2019-01-25 17:37] micahgodbolt commented on #7764
We already have this in experiments as CollapsibleSection. We're hoping to graduate it once we get some other foundational work done (slots, createComponent etc).

[2019-01-25 18:22] JasonGore commented on #7679
`data-is-focusable` was added in #5842 as a resolution for #5160 for this reason:

[2019-01-25 18:47] TestAccessibilityGIT opened #7803 "Nav A11y Pass"
Tracking all of the issues brought up with the 1/25 accessibility pass on Nav control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8b59713f-87bb-4a5e-ad92-2b7b3a0ef589%7D&action=default&uid=%7B8B59713F-87BB-4A5E-AD92-2B7B3A0EF589%7D&ListItemId=1721&ListId=%7B395E1ECB-5002-440E-81C

[2019-01-25 21:41] dzearing commented on #7469
Are there specific violations of aria specifications we're doing here? Is Narrator correct or is Jaws correct?

We should follow up with the Narrator team here. (and see if we can get a github contact we can ping here.)

[2019-01-25 21:42] dzearing commented on #7469
If we are following spec and Jaws can't read it we should not change anything here.

[2019-01-25 21:48] leddie24 commented on #7781
Hi @bowenqiang.  I'm not sure how to repro this issue.  I've done a screen recording (linked below) with Narrator turned on and in Scan Mode and it seems to skip over the Slider components.  The only way I can get to them is via tabbing, which I believe is the intended behavior.  Can you show a video demonstrating the repro on your machine please?

https://streamable.com/lbba2

[2019-01-25 22:06] elegault opened #7808 "DetailsList renders all checkboxes in some hosts"
I have a repro of an issue where all of the checkboxes suddenly appear in every list item row when an item is selected/checked.  This only occurs in Chrome and in Safari on iOS (not sure about Android).  I have a post about this on StackOverflow: https://stackoverflow.com/questions/54295228/office-ui-fabric-detailslist-checkboxes-rendered-incorrectly-on-mobile-devices/54354947#54354947.

You can a

[2019-01-25 22:08] dzearing commented on #5400
This will be investigated along with the intersectionobserver work.

[2019-01-25 22:09] dzearing commented on #5557
This should encompass using IntersectionObserver.

[2019-01-25 22:18] dzearing commented on #7260
@aftab-hassan any update?

[2019-01-25 22:20] dzearing commented on #7270
@aftab-hassan @JasonGore any recommendations here on what to do?

[2019-01-25 22:39] dzearing commented on #6873
@JasonGore @lorejoh12 Looks like this bug fell off the radar; any updates here?

[2019-01-25 22:45] dzearing commented on #6392
@stanleyymsft is this important to resolve? what is the effect of this on SharePoint?

[2019-01-25 22:56] bowenqiang commented on #7781
Dear Liu
Here are the videos are you asking.
https://jumpshare.com/v/RN9Jcypxw6rW8QcucySg   toggle

https://jumpshare.com/v/uLZZ9XqB5IJ3nkOlZ8Om      slider

Wenqiang

Sent from my iPhone

On Jan 25, 2019, at 1:48 PM, Eddie Liu <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @bowenqiang<https://github.com/bowenqiang>. I'm not sure how to repro this issue. I've done a screen

[2019-01-25 22:58] bowenqiang commented on #7781
Make sure you turn on the scan mode.

Sent from my iPhone

On Jan 25, 2019, at 1:48 PM, Eddie Liu <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @bowenqiang<https://github.com/bowenqiang>. I'm not sure how to repro this issue. I've done a screen recording (linked below) with Narrator turned on and in Scan Mode and it seems to skip over the Slider components. The only way I

[2019-01-25 23:36] BrendanMcK opened #7811 "picker selection not correct in Windows high contrast mode"
### Please provide a reproduction of the bug in a codepen:

Visit [PeoplePicker](https://developer.microsoft.com/en-us/fabric#/components/peoplepicker) or [BasePicker](https://developer.microsoft.com/en-us/fabric#/components/pickers) demo pages in Fabric docs, using MSFT Edge, with Windows High Contrast mode enabled.

Type in some text to get the popup, and use keyboard arrows to highlight an item

[2019-01-25 23:56] JasonGore commented on #7781
This also appears to happen with the [ARIA slider reference](https://www.w3.org/TR/wai-aria-practices/examples/slider/slider-1.html) and thus doesn't seem to be particular to Fabric. This indicates it could be a Narrator or Edge issue.

![slider](https://user-images.githubusercontent.com/26070760/51779034-c94fce80-20b9-11e9-95e9-e9d845706893.gif)

[2019-01-26 00:04] #7753 closed

[2019-01-26 00:14] leddie24 commented on #7781
Yeah, I'm not sure this is a bug on our end.  Like Jason mentioned, this is likely an issue with Narrator and/or Edge.  Here's a log from my narrator that logs what it's saying.  I ensure that scan mode was turned on, but it skipped over the slider.

[code]

[2019-01-26 00:29] waabid opened #7813 "Details List: column always has aria-expanded property even when not necessary"
![image](https://user-images.githubusercontent.com/32555133/51779770-31081880-20be-11e9-99fe-dfe9d3904c21.png)

https://developer.microsoft.com/en-us/fabric#/components/detailslist

### Environment Information

Using NVDA with Chrome

#### Actual behavior:

Has aria-expanded attribute that is read out by screen reader.

#### Expected behavior:

Should not have aria-expanded attribute when there is

[2019-01-26 00:42] waabid opened #7814 "Details list: you should be able to pass button props for the header OR render the header entirely"
**Describe the feature that you would like added**

In details list, it is possible to set the icon for the button but not do anything more. It would be ideal to pass in properties for the button in the header in the case where the icon may represent something else, like a checkbox or a toggle or some other control. This would allow us to set our own properties for the button be fully accessible.

[2019-01-26 03:50] KevinTCoughlin commented on #7813
Thanks for the report @waabid. I believe this is the line-of-code in question above:

https://github.com/OfficeDev/office-ui-fabric-react/blob/cb4c10bf66aa74f02ce1b19adf3274846337ef85/packages/office-ui-fabric-react/src/components/DetailsList/DetailsColumn.base.tsx#L101

Recently modified in https://github.com/OfficeDev/office-ui-fabric-react/pull/7646 by @ahackettms as FYI. Unsure if this problem

[2019-01-26 12:06] Edelf opened #7815 "How to register all fontawesome icons?"
I need to implement a feature where the user can pick a FontAwesome icon to be shown on a button, by typing the icon name, e.g. "fab fa-microsoft".

In the [documentation](https://github.com/OfficeDev/office-ui-fabric-react/wiki/Using-icons) it is shown how to register specific icons:
[code]
But I need to be able to use/register all available fontawesome icons.

TL;DR: How can i register all fonta

[2019-01-26 17:38] leddie24 commented on #7781
I'm going to close this issue for now.  I don't believe it's something that is reproducible on our end, nor specific to Fabric React.

[2019-01-27 10:41] lyptt opened #7817 "DetailsList - Selection requires setting undocumented prop to work properly"
### Bug Report

- __Package version(s)__: 6.129.4
- __Browser and OS versions__: FF 64.0.2

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No - prevented due to contractual reasons

Requested priority: Normal

Products/sites affected: N/A

#### Describe the issue:

I've noticed with DetailsList that you need to set the `setKey` prop

[2019-01-28 01:06] #7813 closed

[2019-01-28 09:44] duffysp opened #7819 "Documentation Update - React UI Fabric Dropdown Control"
Not really sure where I should file this but can selectedKey and defaultSelectedKey be added to the documentation for the React Dropdown Control:
https://developer.microsoft.com/en-us/fabric#/components/dropdown#Implementation
They seem to be missing from the Optional Members section despite having examples of it in the code; Lost a little bit of time on this.

Never filed one of these before so a

[2019-01-28 12:29] kmrrakesh opened #7820 "ESC keypress is re-opening 'TeachingBubble' rather than closing it"
### Bug Report

- __Package version(s)__: (6.129.4)
- __Browser and OS versions__: (Edge and Windows 10)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (No)

Requested priority: (Normal)

Products/sites affected: (OfficeFabric)

#### Describe the issue:

ESC keypress is re-opening 'TeachingBubble' rather than closing it in edge browser, while in chrome working fine

#

[2019-01-28 13:12] gasharm opened #7821 "Column header content moves up by 1px after Drop"
### Environment Information

- __Package version(s)__: Latest
- __Browser and OS versions__: All

### Please provide a reproduction of the bug in a codepen:

Referring to the column drag drop on Detailslist demo available on https://developer.microsoft.com/en-us/fabric#/components/detailslist/draganddrop

Things are working fine on the demo, but the column header text can be seen moved by 1px afte

[2019-01-28 16:55] JasonGore commented on #7781
I'm going to reopen this issue to give the reporter a chance to respond. @leddie24 please check Toggle too.

[2019-01-28 17:03] dzearing opened #7824 "SpinButton: keeps resetting when used as uncontrolled component."
https://codepen.io/dzearing/pen/exzyMm?editors=1011

#### Actual behavior:

SpinButton can't be used as an uncontrolled component.

1. It keeps resetting on a re-render of the parent.
2. It does not have a "value" getter to read the current value.

#### Expected behavior:

1. It does not reset value on a re-render of the parent.
2. You can read the value at any time.

Are you willing to submit a P

[2019-01-28 17:05] dzearing commented on #7824
Please follow up here once fixed:

https://stackoverflow.com/questions/54398691/how-can-i-get-the-value-of-an-office-ui-fabric-spinbutton

[2019-01-28 17:50] dzearing commented on #7763
The scenario in your codepen isn't supported. In fact the whole `$` support in merge-styles is deprecated (and docs have been updated.) There was  a perf issue with it, because `$` selectors would need to be re-registered if the targeted part's class were to mutate.  To avoid the perf concern, you can use global class names (or dynamic generated ones that are static):

Also in your codepen, you're

[2019-01-28 17:59] micahgodbolt commented on #7808
Dug in a little on this quick. Seems the visibility of the check is based on opacity, and in the emulation example the opacity is incorrectly set to 1, so it's not some odd style issue, but rather state is set incorrectly, or styles calculated wrong.

[2019-01-28 18:00] micahgodbolt commented on #7808
![image](https://user-images.githubusercontent.com/1434956/51856046-8bce8980-22e3-11e9-8592-3c114d4cbde4.png)

[2019-01-28 18:36] dzearing commented on #1655
Do we have concrete scenarios to consider here where Callout would be used without any focusable content? And, in those scenarios, what SHOULD the screenreader read?

This sounds to me like a TeachingBubble scenario perhaps, but even then, I think TeachingBubbles have focus targets. The only scenario without a focus target I can come up with is Tooltip, but we surely would not want the content rea

[2019-01-28 18:37] natalieethell commented on #7817
Hey @lyptt thanks for opening this issue! While looking at the reference documentation, I actually noticed that not all of the properties of IDetailsListProps seem to render on first page load. It leaves a huge gap below, where all of the props that come after `onRenderDetailsHeader` alphabetically should be, including `setKey`.

<img width="1147" alt="screen shot 2019-01-28 at 10 22 15 am" src="h

[2019-01-28 18:38] natalieethell commented on #7817
For now I'll tag this with "documentation", as I believe there are improvements we can make in that area and I'll track the Fabric website issue (seems to be a DetailsList issue, actually) separately.

[2019-01-28 18:39] dzearing commented on #1655
@cschlechty Just fyi here. Callout without focused content? Not sure the Callout itself is responsible for this scenario, but our options are: Make the container focusable? (Bad) Steal focus? (Bad) announce something? (please no)

[2019-01-28 18:44] leddie24 commented on #7781
Hey @JasonGore, I couldn't find a simple clear-cut example on the w3.org site, but I found this Codepen demonstrating Toggle.  Using scan mode, the toggle highlights itself when traversing down, but not on the way back up.

https://codepen.io/SaraSoueidan/full/jpBbrq

[2019-01-28 18:44] lyptt commented on #7817
Hey @natalieethell, that did the trick, thanks! I was searching with Cmd+F which won't work when the props list is virtualised, so that was half of the issue. The other half was as you described - some props were rendered as blank space until I resized the browser.

Looking at the documentation for that key, it seems fairly innocuous, but the underlying issue I describe above leads me to believe i

[2019-01-28 18:50] bowenqiang commented on #7781
It seems to be a bug with narrator or edge. Maybe the coming windows 19h1 will fix it.

[2019-01-28 18:50] #7781 closed

[2019-01-28 19:00] natalieethell commented on #7819
Hey @duffysp! I do see `defaultSelectedKeys` and `selectedKeys` documented in the Implementation section you linked

<img width="1129" alt="screen shot 2019-01-28 at 10 57 22 am" src="https://user-images.githubusercontent.com/14134000/51859267-92f99580-22eb-11e9-8cce-0209a408a5b9.png">
<img width="1131" alt="screen shot 2019-01-28 at 10 57 34 am" src="https://user-images.githubusercontent.com/1413

[2019-01-28 19:02] natalieethell commented on #7817
@lyptt agreed that the prop's importance should be better highlighted. I'll keep this tracked under "documentation", then. Thank you for bringing this to our attention!

[2019-01-28 19:15] duffysp commented on #7819
Hi Natalie, thanks for getting back.
Although defaultSelectedKeys and selectedKeys (used for multi-select dropdowns) are on the documentation, defaultSelectedKey and selectedKey (used in single choice dropdowns) are both missing.
EG:
![image](https://user-images.githubusercontent.com/45501139/51860200-ee01ab80-2330-11e9-828c-956e2ea03103.png)
Example:
![image](https://user-images.githubusercontent

[2019-01-28 19:24] Nimelrian commented on #7763
Ok, looks like I'll have to do another migration pass over my codebase again if that is the case.

Closing.

[2019-01-28 19:24] #7763 closed

[2019-01-28 19:40] mslonli opened #7826 "Panel: Panel header text shows multiple times on screen reader"
<img width="505" alt="1548704596 1" src="https://user-images.githubusercontent.com/29870938/51861784-ef5fb380-22f1-11e9-8fa7-c8dbab235038.png">

<img width="505" alt="1548704060 1" src="https://user-images.githubusercontent.com/29870938/51861792-f25aa400-22f1-11e9-9b12-e59ee31ed9ba.png">

### Environment Information

Using NVDA with Chrome

### How to reproduce
https://developer.microsoft.com/en-u

[2019-01-28 20:53] leddie24 commented on #7808
This is by design, at least from my conversation with @ThomasMichon.  @betrue-final-final, can you take a look at this as well?

The code for it looks intentional as well (with `anySelected` being added).

[code]

The idea is that on a touchscreen device, it shows you the checkboxes so you know what can and can't be selected (contrary to a mouse controlled device where they have the option to hove

[2019-01-28 20:59] betrue-final-final commented on #7773
Yes, @leddie24 is correct. If we only use one font, then we can center it based on caps only, but descender lengths and diacritical spacing varies font to font. If there is some magic to do that then I would love it, but if not, this is the best we can do.

[2019-01-28 21:41] brandonthomas opened #7827 "Globals with multiple selectors are not represented properly"
Regression caused by https://github.com/OfficeDev/office-ui-fabric-react/commit/034ac9dad6f8687da78fb358db9da0c43d976fbc#diff-3a392abb2f69786b5a705929314c2557

- __Package version(s)__: all  merge-styles > 6.15.1

Reduction: https://codepen.io/anon/pen/ErydBR

#### Actual behavior:
 the CSS output includes ":global" instead of the class name. Essentially this regresses https://github.com/OfficeDev

[2019-01-28 21:53] natalieethell commented on #7819
Ah I see, thank you for clarifying! We definitely want those documented!

Luckily, this should actually be fixed pretty soon with the work I've been doing to re-vamp the documentation (tracked [here](https://github.com/OfficeDev/office-ui-fabric-react/issues/6780)). It looks like these props, and others, are missing because our current documentation doesn't show what an interface "extends". Those

[2019-01-28 21:56] natalieethell commented on #6780
Updated the description to include a link to an issue that highlights the importance of documenting inheritance (#7819)

[2019-01-28 22:30] brandonthomas commented on #7827
There's no good work around for this if you use the aliased modules in office-ui-fabric-react since OUFR uses a ranged version. It always pulls the latest between 6 and 7 so I'm stuck with this bug until a new version comes out. My only other recourse is to update 200+ files to pull from @uifabric/merge-styles which isn't feasible either.

[2019-01-28 22:32] elegault commented on #7808
That makes sense - thank you @leddie24!

[2019-01-28 22:48] kkjeer commented on #7606
@atneik I'm not sure whether `flex-grow: 1` would fix this issue. I can try it and if it doesn't cause any other breaking changes to our existing tests, we can check it in and see if that fixes this issue. Otherwise, I would say that v5 to v6 is a breaking change for Panels.

[2019-01-28 22:58] #7808 closed

[2019-01-29 01:33] natalieethell commented on #7820
Hey @kmrrakesh good catch! It looks like the function passed into `onDismiss` in the TeachingBubble examples are all flipping the value of `isTeachingBubbleVisible`, however, that gets called twice when the ESC key is pressed: once in TeachingBubbleContent, once in Popup, which is rendered within a TeachingBubble. So, the value gets flipped once to false and then once to true.

It's interesting th

[2019-01-29 01:52] natalieethell commented on #7820
Just spoke with @leddie24 offline and we agree that we can probably remove the key code escape logic from TeachingBubbleContent since it already exists in Popup. I'll tag this as a bug and get a PR out soon!

[2019-01-29 02:12] bigbadcapers commented on #7725
the original screenshot is from ODB but I think your screenshot shows the requested improvement equally well @mikewheaton , in the first fragment you showed, the middle node is being unnecessesarily and too aggressively truncated even though the window was very likely to show more of the folder's name after the letter "C".   The "max-width: 160px" rule is too aggressive and when there is room for

[2019-01-29 04:56] #7606 closed

[2019-01-29 06:02] dzearing commented on #7827
This unit test repros. This might be Ken's bug, or perhaps Mark, or perhaps both. Not sure. @Markionium can you maybe take a look?

Here is a unit test that repros for `stylesToClassName.test.ts`:

[code]

[2019-01-29 06:04] dzearing commented on #7827
@kenotron just a heads up here. I looked at the issue and it might be that yours and Mark's fixes are colliding.

[2019-01-29 06:47] Markionium commented on #7827
I'm taking a look at fixing this

[2019-01-29 06:51] kenotron commented on #7827
Right, any fixes here that doesn't include an honest to goodness selector parser is probably going to be a bandaid at best. Brandon told me he has a work around LOCALLY by changing how he writes the `:global()` selector - basically copy & pasting ...

[2019-01-29 07:22] TestAccessibilityGIT commented on #6514
Bug_02: [Accessibility][Screen reader]: Two scan mode focuses encountered on checkboxes when user first time selects them.
**Regression status :** Still repro. Now three scan mode focuses has provided on all check box controls. PFA. This issue does not repro with NVDA so we can mark it as usable and pass to narrator team. Please find attached video attachment.

**Bug_05:** [Accessibility][Supporti

[2019-01-29 07:47] Markionium commented on #7827
The fix i'll be doing will definitely be a bandaid. Since i'm traveling at the moment i won't have enough time to invest in exploring the options for a parser.

[2019-01-29 08:19] Markionium commented on #7827
Found some that reverting the PR mentioned won't work as the selector in the Brandon's example would still not be correct.

When changing to the version before the fix in the codepen
[code]

The css output will not have the correct classes and there is an invalid `)`
[code]

[2019-01-29 08:47] fc73 opened #7832 "Modal doesn't work in a onRender function"
Hi all,
I am new to ui-fabric-react, recently I met a problem on using modal. Here is the detail info for the problem:

I render a list in a pivot, and I want  to render modals for each element of the list. I have already binded the showmodal and closemodal function. It works well if I render the modal directly in the pivot. But it doesn't work when I render it in the list.

Any help on this would

[2019-01-29 08:48] fc73 commented on #7832
The error message is : TypeError: Cannot read property '_showModal' of undefined

[2019-01-29 13:19] Koniksan opened #7835 "Disable items in <Nav /> component"
Add please in <Nav /> component possibility to add 'disable' property for link, specifically in INavLink props
Thanks

[2019-01-29 17:36] dzearing commented on #7827
Ah so I think this really was introduced by Ken's comma split. But thank you for stepping up anyway, even on your vacation!!!

[2019-01-29 17:39] kenotron commented on #7827
@Markionium thanks for fixing while traveling! Was gonna take a look today, but you already fixed it :P

[2019-01-29 17:40] #7827 closed

[2019-01-29 18:43] natalieethell commented on #7835
This sounds like a reasonable ask to me! @betrue-final-final what do you think? Have we thought about allowing links in a Nav to be disabled?

[2019-01-29 18:43] jhellesen commented on #7789
Sorry - the Modal implicitly uses the FocusTrapZone.  Here is an more explicit example directly using the FocusTrapZone:

https://codepen.io/anon/pen/zeKMjJ

[2019-01-29 18:56] micahgodbolt commented on #7786
@betrue-final-final - would this be an Announced component types of situation? This is firing off an announcement due to an event. @natalieethell do we have a general idea when this control will be available?

[2019-01-29 18:57] micahgodbolt commented on #7744
@KevinTCoughlin are you the best person to assign here?

[2019-01-29 19:01] TestAccessibilityGIT opened #7838 "ActivityItem A11y Pass"
Tracking all of the issues brought up with the 1/28 accessibility pass on ActivityItem control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bed372507-302b-45e2-8c85-8bfcfd546a48%7D&action=default&uid=%7BED372507-302B-45E2-8C85-8BFCFD546A48%7D&ListItemId=1716&ListId=%7B395E1ECB-5002

[2019-01-29 19:35] leddie24 commented on #7786
@micahgodbolt @ThomasMichon @dzearing , do you know if there's a reason why we use this approach instead of `aria-sort`?

https://www.w3.org/WAI/PF/aria/states_and_properties#aria-sort

@micahgodbolt, is this something I should try to fix in my remaining days as secondary, or does this require some discussion?

[2019-01-29 19:37] Jahnp commented on #7641
We're now expecting this to be completed by end of week.

[2019-01-29 19:54] micahgodbolt commented on #7786
@leddie24 if we go the 'Announced' route, we'll need to block this until that control is ready. If you find another solution (aria-sort sounds interesting) try to drive that to finished this week. i.e. drive the conversation, try to come up with a solution.

[2019-01-29 19:54] natalieethell commented on #7786
@leddie24 we actual already have aria-sort in the DetailsHeader, but that doesn't help. As @KevinTCoughlin  mentions in the description for number 3 in this [DetailsList A11y Pass](https://github.com/OfficeDev/office-ui-fabric-react/issues/6646), the official ARIA example with aria-sort actually doesn't even announce by screen reader.

The Announced component seems like a good option here, as I me

[2019-01-29 20:01] leddie24 commented on #7786
Ahh, ok, I see. I was mistaken.  I saw this example:

https://dequeuniversity.com/library/aria/tables/sf-sortable-grid

And didn't see that the narrator does the sorting announcement using an `aria-live` attribute on a separate `div` element.  It makes sense to wait to use the `Announced` component then rather than make a hacky solution in the interim.

[2019-01-29 21:02] brandonthomas commented on #7555
Forgot to reply to this but looks like there are only four style locations exposed for DetailsList through the styles prop and IColumn doesn't have one. In our case we need to programmatically set the header style of a specific column based on sorting/filtering rules applied. HeaderClassName was the only option I am aware of to solve this case.

[2019-01-29 22:00] #7732 closed

[2019-01-30 00:04] yumikohey commented on #7718
@mikewheaton I think we can close this ticket now?
https://github.com/OfficeDev/office-ui-fabric-react/issues/7707

[2019-01-30 00:35] natalieethell commented on #3455
@micahgodbolt I think it's fair that the user would want to control the aria-live region and I agree that the "focus" logic should stay out of the MessageBar component.

It might be best to mix in native props as David mentioned above, as I'm not sure that this would be the right scenario for the Announced component. The only props that Announced take in are `id` and `message`, which is the messag

[2019-01-30 01:04] natalieethell commented on #7838
It looks like the green color (#00a300) in PersonaInitialsColor is too light to go against the neutralPrimary (#ffffff) background.

https://github.com/OfficeDev/office-ui-fabric-react/blob/c76f02eed90b0c39812451d5a7f947f3bb902628/packages/office-ui-fabric-react/src/components/Persona/PersonaInitialsColor.ts#L59-L60

I'll speak to @betrue-final-final about a potential color change.

[2019-01-30 01:13] dzearing opened #7844 "Move focus styling into ITheme.effects"
Today the `@uifabric/styling` package has `getFocusStyle` helper.

Focus styling should be provided by `ITheme` instead, which would allow theme designers to refine how focus rectangles show up globally via theme.

I believe the api should be called `getFocus`, and should take in an optional options bag (rather than individual parameters.)

Overall we should disect the styling package into:

theme

[2019-01-30 01:23] #7718 closed

[2019-01-30 01:46] BrendanMcK commented on #7811
Sure - I'm using theme "High Contrast #1":

![image](https://user-images.githubusercontent.com/1754373/51952558-cf151f00-23ed-11e9-89c7-b56406171e87.png)

[2019-01-30 05:09] dzearing commented on #5326
Adding @aneeshack4 .

Uncontrolled sounds good to me.

Minor thought on controlled;

when the user is editing and has not committed the change, and the parent re-renders for whichever reason, If they pass in the exact same value as previous, do nothing. Let the user proceed to edit.

If they pass in a different value, apply the new value and reset the "editing" state to be committed.

The reason i

[2019-01-30 05:10] dzearing commented on #5326
@aneeshack4 has a similar bug which is that uncontrolled just doesn't work. This component needs work.

[2019-01-30 05:20] juliomenendez commented on #616
Any updates on the updated SSR support? Getting errors with generated ids when using with Next.js:

```Warning: Prop `id` did not match. Server: "id__3" Client: "id__0"```

[2019-01-30 06:01] KeiraYang opened #7846 "TeachingBubble component will not move when target element is moving."
Hi,
I'm using TeachingBubble component but met with an issue.
Codepen to repro:
[https://codepen.io/keirayang/pen/XONNwg](https://codepen.io/keirayang/pen/XONNwg)
Click button to show teaching bubble, scroll down the page, the teaching bubble will not follow the target.
My situation is not exactly this one but similar with this situation. I have a page, the target element will be mounted in the pa

[2019-01-30 07:30] gasharm opened #7847 "DetailsList: Inappropriate column width after column header drag drop"
### Environment Information

- __Package version(s)__: Latest
- __Browser and OS versions__: All OS/Browsers

### Please provide a reproduction of the bug in a codepen:

In the demo provided at https://developer.microsoft.com/en-us/fabric#/components/detailslist/draganddrop . Change number of frozen columns to 0 and then try dragging any column at very first index.

#### Actual behavior:

Assuming

[2019-01-30 07:41] gasharm commented on #7847
@shagra-ms

[2019-01-30 08:44] fc73 commented on #7832
Hi @natalieethell  I've written some sample code in CodePen. Could you please check it for me?

Here's the link: [https://codepen.io/fc73/pen/gqLgep]

[2019-01-30 11:59] jimmywim opened #7848 "HoverCard - Card still dismisses on mouse out when 'sticky' prop set to true"
### Environment Information

- __Package version(s)__: Whatever comes with SPFX 1.7.0
- __Browser and OS versions__: Chrome & Windows 10

CodePen: https://codepen.io/anon/pen/WPoXzo

#### Actual behavior:

HoverCard dismisses as usual

#### Expected behavior:

HoverCard remains open

Requested priority: Normal

[2019-01-30 16:26] dzearing commented on #5326
BTW one think I want to make clear;

if the user starts typing and clears it out, we do not replace their text with a "valid value". That is, if they delete everything, it should not replace the text with "0". It's a confusing and annoying behavior. This is what's happening in the codepen you linked to. But it's pretty easy to make sure that's not the case, assuming we have a "non-committed" mode

[2019-01-30 18:39] #6514 closed

[2019-01-30 19:21] khmakoto commented on #7714
Per discussions with @dzearing and @natalieethell we have determined that there aren't any tokens we should add to `Text`, unless we decide on the approach of a core set of tokens for all components.

Will be closing the issue now.

[2019-01-30 19:21] #7714 closed

[2019-01-30 19:59] mikewheaton commented on #7725
@bigbadcapers ODB looks to be using the same Knockout component as ODC. So this isn't something we can fix in Fabric React. I'm not sure who the best contact is on the engineering team to look into making a fix for ODB/ODC.

[2019-01-30 20:04] brandonthomas commented on #7827
Thanks @Markionium!!! I thought I had it rooted to your change but my mistake! Really appreciate the quick turn around!

[2019-01-30 21:50] TestAccessibilityGIT opened #7852 "Icon A11y Pass"
Tracking all of the issues brought up with the 1/30 accessibility pass on Icon control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B164d2d05-98d3-4f57-82f0-17c7345061ff%7D&action=default&uid=%7B164D2D05-98D3-4F57-82F0-17C7345061FF%7D&ListItemId=1724&ListId=%7B395E1ECB-5002-440E-81

[2019-01-30 21:51] aneeshack4 commented on #6758
Spoke with the Narrator team and learned that they recently made a change get "n of m" added to the end of every element's announcement if that element supports posinset and sizeofset. This change hasn't been released publicly yet though so once that happens, this issue should be checked again. Closing for now.

[2019-01-30 21:51] #6758 closed

[2019-01-30 22:55] tharshada opened #7853 "ScrollablePane: Horizontal scrollbar"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
  If ScrollablePane content-container has a horizontal overflow only when a sticky component is in non-sticky state, when this component becomes sticky, it is no more inside content-conta

[2019-01-30 23:22] tharshada commented on #7853
@natalieethell @leddie24 can you help with the fix?

[2019-01-31 00:50] natalieethell commented on #7846
@KeiraYang thanks for submitting this issue!

@micahgodbolt it looks like in PR https://github.com/OfficeDev/office-ui-fabric-react/pull/870 @mdahamiwal added functionality to dismiss the Tooltip on scroll.

Does it make sense for TeachingBubble to have the same behavior? Should it also dismiss on scroll?

[2019-01-31 02:00] #7585 closed

[2019-01-31 03:12] KeiraYang commented on #7846
Yes, there is an interface to set the preventDismissOnScroll as false, it can dismiss the teaching bubble when scroll page. But this doesn't fix this issue when I don't want to dismiss the teaching bubble when scroll the page.

[2019-01-31 03:42] KevinTCoughlin commented on #7821
Wow, Nice find @gasharm and thanks for providing a fix for review!

[2019-01-31 04:00] #7735 closed

[2019-01-31 04:39] KevinTCoughlin commented on #7744
Not if this needs to be done within the next week or two. And even then, I think the horizontal scroll fixes we have in mind are higher priority.

I'm unsure of the scope of the refactor and verification. @natalieethell is currently on shield if that is a consideration.

[2019-01-31 04:48] micahgodbolt commented on #7846
typically tooltips and other floating elements are placed on a layer at the root of the document so that you don't have to worry about clipping that might occur if the tooltip was placed in a overflow: none scenario.

unfortunatly, due to this placement there isn't a way for the tooltip to travel with the parent, we only use the parent for initial placement. you can display tooltips inline, which

[2019-01-31 05:57] KevinTCoughlin commented on #7847
Interesting.. I'm not sure we've considered this behavior before cc: @aditima.

[2019-01-31 06:03] KevinTCoughlin commented on #7835
The implementation seems to be a `<button />`. If that's the case, then I think this request makes sense. Perhaps another use-case for `getNativeProps` if it'll solve similar cases. Only glanced at the source though.

[2019-01-31 06:44] shagra-ms commented on #7847
One more observation - if the column has been resized before moving it around, it retains it's width.

[2019-01-31 06:47] gasharm commented on #7847
@KevinTCoughlin Not sure about the rational of existing behavior. But, whenever a user is increasing the column width, it's because of the **more width demand** of data content of that column. When we rearrange the column by drag drop, I don't think that demand changes and that's why I suggest we should retain the column width even after rearrangements.

For design sign-off, I think @betrue-final-

[2019-01-31 10:42] Magendiran commented on #7141
**Somebody really needs to look at Icon namings...**
Found so many issues with Icon naming and it's completely irrelevant to the way its tagged

**Few of Icons with wrong names**
https://developer.microsoft.com/en-us/fabric#/styles/icons#icons

1. Location (Radio Button)
2. Focal Point (Landscape)
3. AspectRatio (Looks like Drang and Drop)
4. Annotation (Cut)
5. AutoEnhanceOff / AutoEnhanceOn (Nam

[2019-01-31 11:56] shagra-ms commented on #7847
CC: @naveedahmed

[2019-01-31 18:19] bigbadcapers commented on #7725
If the fix is localized to the file surfaces that are using ItemScope, that is acceptable, because we are aggressively replacing all the Knockout stuff with ItemScope.

Doclibs inside teamsites are already using ItemScope. Are those powered by the Fabric React control? If so, that's the right place for this fix.

[2019-01-31 18:21] natalieethell commented on #7846
@KeiraYang based on Micah's response above/the control's implementation, it sounds like this is expected behavior. Let us know if we can answer any other questions for you, though!

[2019-01-31 18:46] natalieethell commented on #7832
Hey @fc73 thanks for the CodePen! It looks like the issue here is that `onRenderCell` will only be called for certain events, such as a window resize. If you look at your example, click on one of the "Open Modal" buttons, and then resize, you'll see that the `onRenderCell` is called and the state is reflected in that cell.

Since you are maintaining your state globally, one way to do this is by fo

[2019-01-31 18:46] dzearing commented on #5326
@lijunle Make sense? Any concerns?

[2019-01-31 18:49] ethanroday commented on #7585
Apologies for the delay in responding here. I will go with `ColorClassNames` for now but switch to tokens when they're available. Thanks!

[2019-01-31 19:46] natalieethell commented on #7835
Spoke to @betrue-final-final offline about this request, and we agree that it sounds reasonable! I'll try to create a PR with the changes today or tomorrow.

[2019-01-31 21:22] jeffersoneagley commented on #900
This seems to not work still. The tooltiphost is not focusable unless there's something I missed.

[2019-01-31 21:42] gnanavelum opened #7858 "OverflowSet onRenderItem prop is required but never gets called. what is the use of it, make it optional?"
....

 <OverflowSet onRenderItem={this.onRenderItem} overflowItems={contextMenus} onRenderOverflowButton={this.onRenderOverflowButton} className={styleSet.overflowSet} />;

  ....

  // This is public to help code coverage :( or it needs to goto helper.
  // This function is never called or used by fabric overflowset control but a required prop, bug to fabric
  public onRenderItem = (item: IOverfl

[2019-01-31 22:13] jeffersoneagley commented on #900
I found some of the docs that use an html button around the children to make it selectable, then give that button an `aria-describedby`:
[code]

[2019-02-01 00:46] Adjective-Object opened #7860 "Confusing docs on ExtendedPicker"
https://github.com/OfficeDev/office-ui-fabric-react/blob/1b9405b3b64839975e16ee1fad04d7868d9e3b99/packages/office-ui-fabric-react/src/components/ExtendedPicker/docs/ExtendedPeoplePickerDonts.md

The don'ts for this component say:

Which looks like a contradiction to me. Is it kosher to use the picker for items that aren't people or not?

[2019-02-01 01:00] KevinTCoughlin commented on #7860
Hey @Adjective-Object! I can see how the wordage here is confusing. My read of it is that one should avoid using `ExtendedPeoplePicker` to _only_ display people without providing a way to un/select them.

We accept contributions to the documentation and would be happy to review one which clarifies intent here.

[2019-02-01 01:00] natalieethell commented on #7815
Hey @Edelf from what I can see, I don't believe that Font Awesome has an API that loads all of the icons and/or icon names at once (correct me if I'm wrong).

Since you must pass in each Font Awesome icon name, in order to register all of the icons, it looks like you may have to loop through all of the names one by one.

The `registerIcons` function takes in property `icons`, which is a dictionary

[2019-02-01 01:25] k8rl opened #7861 "tagpicker auto-selects first list option"
### Environment Information

- __6.129.1)__: (fill this out)
- __IE11, Win10__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

There are two issues:

1) When text has been entered and a suggestion returned, clicking away from the form selects the top suggestion, even though the user did not select anything.

2) After text has been en

[2019-02-01 01:43] kelseyyoung opened #7862 "FocusTrapZone does not work as expected in Safari"
### Environment Information

- __Package version(s)__: Latest published (Used demo site)
- __Browser and OS versions__: Safari, tested with 12.0

### Please provide a reproduction of the bug in a codepen:

See below GIFs, can reproduce on demo site

#### Actual behavior:

Pressing tab inside a FocusTrapZone does not go to the next expected element (the hyperlink), instead it goes all the way down

[2019-02-01 04:48] qianghuang94 opened #7863 "Update typing of react/react dom to latest one"
**Describe the feature that you would like added**
Update typing of react/react dom to latest one. So that it will not have conflicts with consumer projects are using latest typing.
**What component or utility would this be added to**
Nope

[2019-02-01 06:01] piyumi25 opened #7864 "Preselect all the checkboxes when loading"
I need to check all check boxes when loading the list first time. How do I do this?

[2019-02-01 07:36] naveedahmed commented on #7847
I second @betrue-final-final

[2019-02-01 07:45] KeiraYang opened #7865 "Is there a codepen example for how to use the new component under dashboard file?"

[2019-02-01 08:02] basovic88 commented on #7764
OK. I will check out this experiments/ColapsibleSection component. Thanks for your reply.

[2019-02-01 08:02] #7764 closed

[2019-02-01 13:45] redoz opened #7867 "Input component labels have inconsistent appearnce when disabled"
### Environment Information

- __Package version(s)__: 6.132.0
- __Browser and OS versions__: All

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
TextField:
![image](https://user-images.githubusercontent.com/1670030/52126418-98c6e200-262f-11e9-8ae2-b34c29995cec.png)

ComboBox:
![image](https://user-images.githubusercontent.com/1670030/52126427-a1b7b380-262f-11e9-

[2019-02-01 13:53] HeinPauwelyn opened #7868 "Selecting a date in 2nd date picker clears the 1st date picker"
- __Package version(s)__: 1.7.1
- __Browser and OS versions__: Chrome on Windows 10

-----

I'm making a SPFx webpart and I've 3 date pickers. See code and result on link below. this are my steps:

1. First I start with 3 empty date pickers _(oké they looks good)_
2. Then I select a date in the 1<sup>st</sup> field _(no problems so far)_
3. Then I select a date in the 2<sup>nd</sup> field but when

[2019-02-01 14:11] HeinPauwelyn commented on #7868
Sorry, I needed to add this:

[code]

[2019-02-01 14:11] #7868 closed

[2019-02-01 16:46] natalieethell commented on #7846
@KeiraYang no problem! Yes, that should be expected behavior, because clicking outside the TeachingBubble moves focus outside the TeachingBubble. Does that make sense?

[2019-02-01 16:54] Adjective-Object opened #7871 "Sensible defaults for ExtendedPeoplePicker"
**Describe the feature that you would like added**

The only example for ExtendedPeoplePicker is 300 lines of what mostly looks like boilerplate and state management code.

I'm currently working on PR to add some more simple examples. I feel like having sensible defaults (e.g. for the headers / footers) could make component consumption easier to read/understand/adopt.

**What component or utility

[2019-02-01 17:04] mikewheaton commented on #7725
It turns out that a SharePoint document library, like on our ODSP Design team site, *is* using the Fabric React Breadcrumb.

I've tried removing the maximum width and it seems to work fine without it. It will show as many full items as possible, and then place anything that doesn't fit into the overflow menu. See below.

With max width:
![image](https://user-images.githubusercontent.com/1382445/52

[2019-02-01 17:05] bigbadcapers commented on #7725
This looks promisiiiiiiiing :)

[2019-02-01 17:10] Adjective-Object opened #7872 "Discussion: ExtendedPeoplePicker & Component Composition"
**Describe the feature that you would like added**

Right now extended people picker has renderprops that are rendered unconditionally.
This encourages boilerplate private functions [in order to avoid forced re-renders from lambdas](https://medium.freecodecamp.org/why-arrow-functions-and-bind-in-reacts-render-are-problematic-f1c08b060e36?gi=adbcd081d75a)

See the extended people picker docs for [a

[2019-02-01 17:17] tharshada commented on #7853
I think using a placeholder for width is not the right solution. When a component becomes sticky it's scrollWidth may increase or decrease depending on css styles for stickyClassName prop. If we can've some assumptions and best practices which say that the sticky component's scrollWidth shouldn't be greater than it's scrollWidth when it is in non-sticky state then this solution looks acceptable.

[2019-02-01 17:19] Adjective-Object commented on #7872
ah I see, the floating pickers are mounting relative to a ref that the ExtendedPeoplePicker controls, so they need to pass down the ref into the render of the component.

Personally, I still think this leaves us with a messy API and a lot of boilerplate & I'd still like to try to tackle this somehow.

[2019-02-01 17:21] Adjective-Object commented on #7872
It's also curious why the rest of the props need to go from the parent, into the child, and then back up into the parent for render if the only thing we need is the component ref

[2019-02-01 17:26] KeiraYang commented on #7846
`if (
      !preventDismissOnLostFocus &&
      ((!this._target && clickedOutsideCallout) ||
        (ev.target !== this._targetWindow &&
          clickedOutsideCallout &&
          ((this._target as MouseEvent).stopPropagation ||
            (!this._target || (target !== this._target && !elementContains(this._target as HTMLElement, target))))))
    ) {
      this.dismiss(ev);
    }`

As the logi

[2019-02-01 17:38] micahgodbolt commented on #7725
@dzearing did the last refactor. You might see if that is just legacy styles from previous conversions or something he added.

[2019-02-01 17:57] natalieethell commented on #7846
I'm not sure if I entirely understand your question, so do let me know if this doesn't answer it, but the condition above will only be true if `clickedOutsideCallout` is true, where `clickedOutsideCallout` is

[code]

So, as you can see on the TeachingBubble demo page, if you click inside a TeachingBubble, `_dismissOnLostFocus` of CalloutContentBase does not call `this.dismiss(ev)`.

[2019-02-01 17:59] micahgodbolt commented on #900
Should narrator even be reading tooltips? Or should information in the tooltip be available via aria tags on the host element? Is a tooltip just a visual representation of the data already there? Tooltips are often used when text is truncated. Narrator would simply just read the text as it is in the DOM.

[2019-02-01 18:06] natalieethell commented on #7858
Hey @gnanavelum! I do see the `onRenderItem` prop getting used here:

https://github.com/OfficeDev/office-ui-fabric-react/blob/af108d4db1db03c0497f477054743e3bac52070a/packages/office-ui-fabric-react/src/components/OverflowSet/OverflowSet.base.tsx#L145-L156

Am I missing something?

[2019-02-01 18:29] dlannoye opened #7874 "Can't set children on Modal using TypeScript 3.3.1"
### Environment Information

- __Package version(s)__: 6.132.0

### Please provide a reproduction of the bug in a codepen:
Try to compile the following code using Typescript 3.3.1
[code]

#### Actual behavior:

Compile error
[code]

#### Expected behavior:

No compile error

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites aff

[2019-02-01 18:46] nuh1234 opened #7875 "Sticky: Loses focus on scroll"
### Environment Information

- __Package version(s)__: (Current)
- __Browser and OS versions__: (Any)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

When tab focused on a sticky element upon scroll the focus gets lost. This is because Sticky is actually creating a new phantom element and therefore needs to put focus on that element

#### Expected behavior:

Whe

[2019-02-01 18:52] HalcyonPride commented on #7875
N.B. This is causing an Accessibility Bug in ODB.

[2019-02-01 19:37] natalieethell commented on #7861
Hey @k8rl thanks for submitting an issue and making your question very readable, much appreciated. I just spoke with @joschect who owns Pickers and it seems like both of those behaviors are intentional.

You can see number 1, specifically, in action on these lines of code:

https://github.com/OfficeDev/office-ui-fabric-react/blob/af108d4db1db03c0497f477054743e3bac52070a/packages/office-ui-fabric-r

[2019-02-01 20:01] lorejoh12 commented on #6873
Sorry about that! We actually fixed this quite a while ago, looks like we forgot to link this bug to the PR.

commit: 6ec50ae10f305a68c60220764745e8d971af28d7 #6938

[2019-02-01 20:02] #7860 closed

[2019-02-01 20:09] thmaur opened #7878 "ColorPicker resets to red when dragged to edge"
### Environment Information

- __Package version(s)__: 6.126.2
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

See demo page:

https://developer.microsoft.com/en-us/fabric#/components/colorpicker

#### Actual behavior:

When using the color picker and dragging around in the color square, the hue slider slightly changes/there i

[2019-02-01 20:14] dzearing commented on #6873
Closing the issue; @amygl let us know if you run into this again. :)

[2019-02-01 20:14] #6873 closed

[2019-02-01 21:11] Jahnp commented on #7655
Thanks for the insight Eddie. Sounds like it might be good for us to confirm with the Edge team if this is expected behavior for scroll handling, if there's a planned fix, why identical code produces different results, etc. As you pointed out, when we implemented parallax animations in SharePoint, we ended up having to disable them in Edge due to this.

Let's commit to figuring out a path here in

[2019-02-01 21:34] natalieethell commented on #7862
Hey @kelseyyoung! Interesting, I just tested this out in Safari 12.0.1 and saw the behavior you have in the Chrome gif.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/14134000/52150803-eb9b9c00-2625-11e9-89c8-ba6cdf4fbc6f.gif)

Do you have "Press tab to highlight each item on a webpage" set in Safari preferences?

<img width="772" alt="screen shot 2019-02-01 at 1 02 14 pm" sr

[2019-02-01 21:35] natalieethell commented on #7838
Currently working with designers on color changes for the PersonaCoin.

[2019-02-01 21:53] dzearing commented on #5219
Codepen here:

https://codepen.io/dzearing/pen/ErWKdK

[2019-02-01 21:53] micahgodbolt commented on #5219
@PriyankaPuranik1 Do you have any designs that describe how this interaction should work?

[2019-02-01 22:34] #6903 closed

[2019-02-01 22:36] aneeshack4 commented on #7096
@TestAccessibilityGIT I revisited this & was able to get it to stop doing the "no item in view" nonsense and actually get some repros. I'm able to repro all of the issues except 1 & 3. I didn't notice any scroll up during scan mode & as you can see in the narrator buddy output, the label of the rating stars is clearly stated.
![image](https://user-images.githubusercontent.com/4161791/52153009-3d93

[2019-02-01 23:01] mikewheaton commented on #7725
I found the same max-width in the previous SCSS styles. This also matches what's in the Knockout control, so I'd say we brought this over from the previous Fabric components. At the time we didn't have `OverflowSet` or any logic for moving the items into the overflow. So I think we just set it to show a maximum of 4 items with a 160px max for each to prevent it from getting too wide.

Now that we

[2019-02-01 23:13] kelseyyoung commented on #7862
@natalieethell thanks for taking a look. You're right that option seems to fix it, however I tested on 3 different Mac machines and this option is off by default. Is this known? (in terms of how Safari functions, I have a Mac laptop at home but obviously I mostly work on Windows machine) Also, if you turn that option off do the repro steps work for you? (Just to verify that it is indeed that optio

[2019-02-01 23:32] natalieethell commented on #7862
@kelseyyoung just doing a quick search, it looks like a couple people have started discussions online about this strange default. I don't get the same behavior as you, but something just as strange - I'm actually not able to tab outside of the TextField at all.

Even when rendering two native HTML button elements, they are not tabbable in Safari unless that option is on, as you can see in this Cod

[2019-02-01 23:32] natalieethell commented on #7862
If you have any other questions, let us know! Otherwise, feel free to close this issue.

[2019-02-01 23:35] #7862 closed

[2019-02-01 23:42] #7751 closed

[2019-02-01 23:45] natalieethell commented on #7864
Hey @piyumi25! We kindly request that all questions be directed to [StackOverflow](https://stackoverflow.com/questions/tagged/office-ui-fabric). We'd like to keep issues limited to feature requests and bugs. Thank you!

[2019-02-01 23:45] #7864 closed

[2019-02-01 23:50] natalieethell commented on #7865
Hey @piyumi25! For future reference, we kindly request that all questions be directed to [StackOverflow](https://stackoverflow.com/questions/tagged/office-ui-fabric). We'd like to keep issues limited to feature requests and bugs.

I'm not aware of any CodePen examples, but you can find examples of how to use components in the `@uifabric/dashboard` package by cloning the office-ui-fabric-react pack

[2019-02-01 23:50] #7865 closed

[2019-02-01 23:58] natalieethell commented on #7878
@thmaur whoa weird, thanks for reporting this! Definitely a bug, we'll look into it.

[2019-02-02 00:21] dzearing commented on #7679
Just an update here, still looking at the right fix. I tried the repo from the old issue and see that this will introduce a different break.

[2019-02-02 00:33] karanbirsingh opened #7884 "semantic text colors do not affect Nav text"
I'm having trouble getting a NavLink to use different text theme colors:

### Environment Information

- __Package version(s)__: 6.132.0
- __Browser and OS versions__: Win10, Microsoft Edge 44.17763.1.0

### Please provide a reproduction of the bug in a codepen:

[codepen](https://codepen.io/anon/pen/mvmEBj
)
#### Actual behavior:

The text is not white.

#### Expected behavior:

I'm hoping one of

[2019-02-02 00:59] k8rl commented on #7861
Hi @natalieethell , thanks for the fast response. Yes I can see how the first issue may make sense (and is intentional), and a user can at least clear the selection if needed.

However, point 2 doesn't seem to make a lot of sense for a user - once an entry has been cleared, surely it shouldn't then return when clicked away? Anyway, see what the discussion returns. Thanks!

[2019-02-02 06:14] riosn-n opened #7886 "TeachingBubble: Incorrect position if targetElement is inside an IFrame"
### Environment Information

- __Package version(s)__: (6.132.0)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/VgbPdx

#### Actual behavior:

The TeachingBubble's position is off.

#### Expected behavior:

The TeachingBubble positions itself properly in relation to the target element.

#### Priori

[2019-02-02 11:06] iclanton opened #7888 "Deep-linking on the developer.microsoft.com OUIFR site doesn't work."
Copy+paste+sending a deep link to a page/subpage on the fabric website renders a blank page. For example, visit https://developer.microsoft.com/en-us/fabric, select Components --> Colors --> Themes --> Output, copy the URL in the address bar (https://developer.microsoft.com/en-us/fabric#/customizations/colors#Output), open a new tab, and navigate to that URL.

#### Actual behavior:

A blank page i

[2019-02-02 20:50] philippe-entringer opened #7889 "Redirect when selecting a Dropdown item"
I 'm using the Dropdown example but I would like to handle href link
Whe a user clicks on a item, How could we redirect to the href link  ?

 `<div className="docs-DropdownExample">
        <Dropdown
          placeholder="Select an Option"
          label="Basic uncontrolled example:"
          id="Basicdrop1"
          ariaLabel="Basic dropdown example"
          options={[
            { key: 'H

[2019-02-03 15:59] johnholliday commented on #7549
I'm seeing it fail completely with yarn.

Detail from Error Log:

[2019-02-04 10:38] ThreadPitt commented on #6951
Same issue here, is this going to be fixed? ETA? Is this still maintained? Or is it dead like Fabric.js?

This came up as early as may 2018 (brendenseidel commented on May 23, 2018). And MS wants us to use this in enterprise software!?
Thx!

[2019-02-04 14:05] redoz opened #7890 "DatePicker styling lacks subComponentStyles for internal TextField and Callout"
**Describe the feature that you would like added**
I'd like to be able to style the DatePicker properly.

**What component or utility would this be added to**
DatePicker

**Have you discussed this feature with our team, and if so, who**
No.

**Additional context/screenshots**
I'm currently trying to style the error state of the DatePicker component but it's turning out to be quite challenging as t

[2019-02-04 16:02] jhholm opened #7891 "Unable to check a checkbox within a Panel with scrollable content"
Not sure if a bug or "works as intended", but I've noticed an issue with FocusTrapZone with Panel component when I upgraded to the latest version. Could not reproduce issue with 6.37.1, which was the version I was upgrading from. You need to explicitly set focusTrapZoneProps.forceFocusInsideTrap to false to be able to check a Checkbox within a scrollable panel. Is this a bug or an intended feature

[2019-02-04 16:32] Edelf commented on #7815
Hi @natalieethell, thank you for the reply.
Fontawesome allows us to add their collection like this:

[code]

I was hoping that fabric would allow something similar to:
[code]
Or similar with the same outcome.

[2019-02-04 17:52] #3455 closed

[2019-02-04 18:04] micahgodbolt opened #7892 "Automate testing Fabric consumption"
Make sure controls can be consumed in various modes and Typescript versions.

[2019-02-04 18:06] micahgodbolt commented on #7892
create react app
TS range
AMD

[2019-02-04 18:44] ecraig12345 commented on #7878
Good catch here... I suspect the hue slider wobbles because the color picker converts the chosen color to the closest hex color code (which is a lot less precise than an RGB color). That may actually be causing the issue with snapping back to red too, or closely related. Ideally we should be *displaying* the closest hex code, but not actually forcing the selected color to conform to a hex code unl

[2019-02-04 19:05] kenotron commented on #7886
This is actually issue with `Callout` I believe. Will investigate how we can support this.

[2019-02-04 19:17] dzearing commented on #3881
This is really a timing issue because of the file-scoped side effect registration code. This caused us to invent the `FabricConfig` method, to avoid registering fontFace definitions that pointed to the wrong location.

I *suspect* that if even if we do register "Segoe UI" to map to "SharePoint cdn", and you call `registerDefaultFontFaces` to register font faces to a new base url before rendering t

[2019-02-04 19:17] kenotron commented on #7886
Ah, so all the calculations do not currently respect separate frames like this. This is actually a feature request in disguise. I'm gonna see if I can add support without adding a lot of bloat.

[2019-02-04 19:59] #6576 closed

[2019-02-04 20:14] kenotron commented on #7886
This isn't a simple fix, unfortunately. I'm going to assign this one to Mark to see what can be done.

[2019-02-04 20:45] kenotron commented on #7888
This is caused by the lack of a trailling slash. I've fixed this on the github.com description.

This works, for example.
https://developer.microsoft.com/en-us/fabric/#/components/colorpicker

[2019-02-04 21:48] kenotron commented on #7889
I'm working on this at this codepen: https://codepen.io/anon/pen/GzvqWv

[2019-02-04 21:53] kenotron commented on #7889
Basically you just need to add a `onChange`:

[code]

BTW, there's an internal MSFT Teams chat that can help you with this sort of question a lot quicker. Just search for Fabric team in the org.

[2019-02-04 21:54] kenotron commented on #7889
I believe this should answer your question here. Feel free to close at your convenience.

[2019-02-04 22:32] natalieethell commented on #7878
I was trying to debug a bit and found some weirdness. It looks like commenting out `_updateColor` in the basic example fixes the issue.

https://github.com/OfficeDev/office-ui-fabric-react/blob/900176501c2744491375d31ed46deec0e99e9abb/packages/office-ui-fabric-react/src/components/ColorPicker/examples/ColorPicker.Basic.Example.tsx#L35-L37

This function is passed into `onColorChanged` of ColorPick

[2019-02-04 23:44] kenotron commented on #7891
@dzearing - I just did a bunch of back versioning with the reported codepen. Looks like it started "failing" after 6.132.0 (6.131.0 still worked) which coincides with that focus change that you did here:

https://github.com/OfficeDev/office-ui-fabric-react/pull/7818/files

Can you take a look?

[2019-02-05 01:34] natalieethell commented on #7884
Hey @karanbirsingh thanks for providing a CodePen! Unlike a composite link, the text in a normal Nav link doesn't get its color from a semantic color.

Here's the styling for a composite link:
https://github.com/OfficeDev/office-ui-fabric-react/blob/d388ff7cb8b3e51aa79ee2fc3010f2053f0ee94f/packages/office-ui-fabric-react/src/components/Nav/Nav.styles.ts#L85-L94

As you can see, it uses `semanticCo

[2019-02-05 02:01] Vitalius1 commented on #7198
@betrue-final-final I have a couple of questions before merging the PR regarding some details. Let's talk in the AM tomorrow.

[2019-02-05 05:13] SpencerLynn commented on #7848
After some debugging, it appears that it's actually the card is closing because of the mouse leave event from the `ExpandingCard` or `PlainCard` rendered by the `HoverCard`.

I'm not sure expectation here. If the card is marked as `sticky`, when does it dismiss?

We can create a wrapper function to handle the `onLeave` callback passed to the card and only execute a dismiss if the `sticky` prop is

[2019-02-05 05:43] SpencerLynn commented on #7848
One approach could be to only *not* dismiss the card when the `onLeave` callback fires if the event is a `mouseleave` MouseEvent event. Will be opening a PR shortly with this fix. If this fix breaks something else or is invalid for some other reason, please let me know!

[2019-02-05 06:48] ecraig12345 commented on #7653
@micahgodbolt Since you removed the backlog review tag, does that mean you have an idea of if/when you'd like it to happen? Even though I opened the issue and think it would be nice to have, it could be challenging, and probably other things are higher priority.

[2019-02-05 14:54] sadomovalex opened #7900 "Icons disappeared from SPFx web parts on classic Sharepoint sites"
### Environment Information

- __Package version(s)__: 5.131.0

#### Actual behavior:

This morning (5 Feb 2019) UI fabric icons which are used inside office-ui-fabric-react components (e.g. inside SearchBox) disappeared from SPFx web parts running on classic Sharepoint sites. On modern sites icons are still shown.

The issue is reproduced on all tenants where we use SPFx web parts on classic page

[2019-02-05 14:55] redoz opened #7901 "Stack.Item doesn't allow for conditional rendering with logical &&"
### Environment Information

- __Package version(s): @uifabric/experiments 6.54.2 (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
[code]
Produces this error:
[code]

#### Expected behavior:
I expected `<Stack.Item>` to be able to hold all children items that react allows for.
It seems the

[2019-02-05 16:51] SanjivKrSharma1 commented on #7900
We are also facing same issue.  Applied the work-around provided in this thread an it is working now.

Thanks @sadomovalex

[2019-02-05 16:57] asmundg commented on #7874
Looks like TS 3.3's TSX checks that it can pass children as part of the component props (the output js passes everything in createElement's props argument).

This probably means that functional components need to include children in their props interface (IModalProps in this case).

The FunctionComponent in newer @types/react versions explicitly adds children to the accepted props:
[code]

[2019-02-05 18:00] kenotron commented on #7900
I'm pretty sure this is caused by this change:
https://github.com/OfficeDev/office-ui-fabric-react/blob/5.0/packages/office-ui-fabric-react/CHANGELOG.md#5150

This change from Fabric over a year ago. @sadomovalex - would you mind filing a bug here instead: https://github.com/SharePoint/sp-dev-docs/issues

I don't believe we will revert this change since it's been live for the 5.x branch for such a

[2019-02-05 18:03] kenotron commented on #7901
@khmakoto - this component is STILL experimental, but there seems to be some typing issues. Can you take this on?

[2019-02-05 18:20] karanbirsingh commented on #7884
Thanks @natalieethell for the help! To summarize my understanding then, semantic slots should be used wherever possible, but should be thought of as scoped changes rather than a full replacement for the underlying palette colors - e.g. a fully-styled theme will most likely have defined palette colors as well as semantic colors where applicable. Is that a fair way to think about it?

[2019-02-05 18:34] natalieethell commented on #7884
@karanbirsingh no problem! Yes, I think you have the right idea. We're trying to move towards semantic colors wherever possible, but still do use palette colors in certain scenarios. @phkuo @mikewheaton correct me if I'm wrong.

[2019-02-05 19:48] prandall1122 commented on #5578
I was also facing this issue and am able reproduce this issue using a plain html table.

https://s.codepen.io/prandall1122/debug/MLEaQL/DqkDdKzpENGk

[2019-02-05 20:20] khmakoto commented on #7901
This does seem like a bug, will discuss with @dzearing what's the correct approach to take here.

[2019-02-05 20:52] kenotron commented on #7892
I'm wrestling whether to have this be a PR gate or a post publish & notify on break kind of thing

[2019-02-05 20:56] micahgodbolt commented on #7892
Yeah, at least for now we don't need this to break builds, but we should be aware of it happening as soon as possible.

We can at least break publishing so that we have time to look back and fix the problem before a release.

[2019-02-05 21:51] natalieethell commented on #7846
@KeiraYang ah yes, I understand! Thanks for clarifying.

Usually, to display and/or dismiss a teaching bubble, you need the target element to change the state. I would recommend doing what it looks like you have in your CodePen, which is setting the onClick method of the DefaultButton (target button) to flip the `isTeachingbubbleVisible` boolean. That's what we have in our examples on the [Teachin

[2019-02-05 21:54] natalieethell commented on #7861
@k8rl No problem! So, I spoke with @betrue-final-final offline and it sounds like this ESC key behavior is expected and something we want to keep. ESC should dismiss the menu, and leave the text in the box, that’s it. Clicking away would just leave it.

[2019-02-05 22:03] kenotron commented on #7890
Looks this already addresses this issue without resorting to subcomponentstyles:
#7849, I'm going to close my PR in favor of that.

[2019-02-05 22:15] phkuo commented on #7884
@karanbirsingh A theme from the styling package will ALWAYS have all palette and all semantic colors defined. When you call loadTheme with a IPartialTheme, it gets fleshed out into a fully defined ITheme before being exposed to everything else on the page.

But yes, we're still in the process of moving things over to use semantic slots in our components, thanks for the catch here!

[2019-02-05 22:33] ecraig12345 commented on #7653
Yeah I'm not actively working on this, so it should stay in the backlog.

[2019-02-05 22:35] kenotron commented on #7891
Correction, from more digging, it's probably this:
https://github.com/OfficeDev/office-ui-fabric-react/commit/ba23368320b3922a98956ca3f2acf0cb1de9480c

[2019-02-05 22:39] #7884 closed

[2019-02-05 22:53] engineersamuel opened #7907 "[Discussion] Example coding conventions"
I would like to update the coding conventions in all Office Fabric React examples to both leverage language features, use best practices, ect..

Here is a list of proposals:
* Avoid arrow functions in component renders if possible
* Don't export Props or State unless imported elsewhere (rare)
* Don't use ternary if no second condition output, use `&&`
* Don't define a constructor unless necessary

[2019-02-05 23:49] kenotron commented on #7907
This is great! I actually think that doing it piece meal is okay (actually preferred). We need take care in testing whether these example changes affect the really touchy codepen code transformer so that we don't break those examples as exported to codepen. I think maybe some of that transform logic relies on exports maybe...

Another thought is whether you can point to some additional tslint rule

[2019-02-05 23:56] engineersamuel commented on #7907
Most of these are practices I've adopted over the years and I don't think they can be linted.   That said, when I start implementing I'll look into if I can enable linting for any of these.  But for example not exporting an interface that isn't imported would require something more complicated than linting most likely.

As for verifying changes don't break codepen, is there a way I can do that loc

[2019-02-06 00:10] #6944 closed

[2019-02-06 00:52] engineersamuel commented on #7907
Excellent, I'll test that tomorrow and let you know if I have any issues.  It's absolutely my pleasure, I'm very happy to contribute as I am a heavy user of this lib and C&P examples all the time :)

[2019-02-06 01:03] engineersamuel commented on #7907
@cliffkoh @kenotron btw do either of you have an opinion on using interfaces vs. types for Props and State.  I used to use interfaces now I use types exclusively.  There are a few blogs out there on why it makes sense, some referred to @ https://stackoverflow.com/questions/37233735/typescript-interfaces-vs-types  And especially when working with redux the following just feels right: `type Props =

[2019-02-06 03:53] kenotron commented on #7907
Are you talking about `React.Component<P, S>`? For now we go with interfaces because that's just the convention in the codebase. In a greenfield project maybe we can do something different. Most important being consistency as you've suggested for the example even :)

[2019-02-06 03:58] ecraig12345 commented on #7907
Responding to a few of the points...

**Not exporting props and state interfaces**: Unfortunately those have to be exported if the component is exported--and the example components have to be exported to make doc page scenarios work. So we're stuck with that for now.

**Not defining return types**: I'm not sure why leaving return types implicit would be considered good practice? Though of course i

[2019-02-06 04:00] ecraig12345 commented on #7907
One more: if I remove `import * as React from 'react'`, I get compile errors (at least with our build setup). So it also seems that one needs to stay for now.

[2019-02-06 04:04] kenotron commented on #7907
I personally would have preferred if we adopted something like `import React from 'react'` with the `esModuleInterop: true` flag of `tsconfig.json`...

[2019-02-06 06:58] #7891 closed

[2019-02-06 08:11] sadomovalex commented on #7900
I can post the bug to the mentioned page also but it is still not clear why the issue has appeared yesterday without any actions from our side. And today on some environments icons appear again without applying mentioned fix with explicit call of initializeIcons() method. Something went wrong yesterday - but what was that? If this minor mentioned fix was done about 1 year ago - why it appeared onl

[2019-02-06 09:21] rog1fly commented on #7900
Thanks, I'll try to find and define some ends to deads wisdow. guess i'll
no when or what appears best . roger

On Wed, Feb 6, 2019 at 3:11 AM Alexey Sadomov <notifications@github.com>
wrote:

[2019-02-06 11:27] tpanpalia commented on #7438
Is there any possibility to support JAWS behaviour with Right arrow key to navigate through different grid headers, down arrow to navigate to each row and right arrow key to navigate through accessible column elements?

[2019-02-06 12:24] artxach opened #7909 "Make ScrollablePane work with only maxHeight from parent element"
### Environment Information

- __Package version(s)__: 5.131.0
- __Browser and OS versions__: Windows 10, Edge

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
[code]
 The details list is not rendered, and actual height of scrollable pane is 0. Nothing is rendered.
#### Expected behavior:
 The details list should take its content height automatically, and if it ex

[2019-02-06 15:14] sumboxcar182 opened #7910 "Picker input is pushed to next line when tag picker goes multiline"
### Environment Information

- __Package version(s)__: 6.124.2
- __Browser and OS versions__: Not relevant i believe, but windows 10, chrome

### Please provide a reproduction of the bug in a codepen:

The codepen is below and note that i was testing on a 1920x1080 screen, and the second row of items was about half way into the input.
https://codepen.io/sumboxcar182/pen/KJXOqj

#### Actual behavio

[2019-02-06 15:20] engineersamuel commented on #7907
@ecraig12345 Good to know on the exports!  As for return types, I'd always advocate for return types on user created functions, but for library functions, like React Component Render, they are already defined by the library, so no reason to re-define those in the implementing subclass as the return type can't change, and is ReactNode.

I'll look into the semicolons with the private functions and w

[2019-02-06 17:20] kenotron commented on #7909
You're actually describing the intended behavior of the `ScrollablePane` itself. Rather than taking the height of the content and using that to decide the height. It uses the height of the parent to determine the height (using the `position:absolute;top:0;left:0;right:0;bottom:0` trick). I've made a really simplified version of this scrollable pane and what it actually uses for styling:

https://c

[2019-02-06 19:22] #7821 closed

[2019-02-06 22:03] corriespondent opened #7911 "Fabric panel does not close when clicking overlay"
On the Office UI Fabric Panel description from https://developer.microsoft.com/en-us/fabric#/components/panel

"Panels are paired with the Overlay component, also known as a Light Dismiss. The Overlay blocks interactions with the app view until dismissed either through clicking or tapping on the Overlay or by selecting a close or completion action within the Panel."

However, clicking the Overlay

[2019-02-06 22:05] ecraig12345 commented on #7907
I think prettier only adds semicolons after private functions defined using lambdas:
[code]

[2019-02-06 22:25] Adjective-Object opened #7912 "Custom rendered Seletion items in FloatingPeoplePicker push the remove button out of view"
### Environment Information

- __Package version(s)__: 6.135.0
- __Browser and OS versions__: All browsers? (tested on FF 64 and Chrome 71 on Windows)

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/adjective-object/pen/MLOmqv

Search "An" in personas on this pen

#### Actual behavior:

Wide rendered custom item buttons push the close button out of the picker

https

[2019-02-06 22:43] Adjective-Object opened #7913 "Remove button on FloatingPeoplePicker is not keyboard accessible"
### Environment Information

- __Package version(s)__:  6.135.0

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/adjective-object/pen/YBEQry

Focus to the button and press tab a few times. Contrast with hovering

#### Actual behavior:

Keyboard-only users should be able to press the Remove buttons

#### Expected behavior:

The only way to access the remove button is

[2019-02-06 23:00] #7773 closed

[2019-02-06 23:26] engineersamuel commented on #7907
@cliffkoh I have instructions for manually testing examples in codepen, however, I have to imagine there is a better way.  This way works, but it wouldn't scale well to manually verify that each example works in codepen.  Furthermore, it appears the majority of the examples don't even link to codepen only a handful.  What is the guidance here?

Here are my instructions:

- cd packages/office-ui-fa

[2019-02-06 23:33] engineersamuel commented on #7907
@ecraig12345 Can you detail a bit more on why the state would need to be exported?  State is internal to the component and is not passed in, so why would it need to be referenced by a different module?

[2019-02-07 00:04] ecraig12345 commented on #7907
If you have this:
[code]
It will cause a compile error since `Foo` is exported but `IFooProps`/`IFooState` aren't.

[2019-02-07 00:49] makopch-ms opened #7918 "Checkbox doesn't accept 'Enter' as an input only spacebar"
### Environment Information

- __Package version(s)__: 6.122.0
- __Browser and OS versions__: all

### Please provide a reproduction of the bug in a codepen:

https://fabricweb.z5.web.core.windows.net/oufr/6.122.0/#/examples/checkbox

#### Actual behavior:

Pressing 'Enter' when the checkbox as keyboard focus doesn't do anything.

#### Expected behavior:

Pressing 'Enter' toggles the state of the

[2019-02-07 01:00] micahgodbolt commented on #7911
Light dismiss needs to be enabled to make this work

![image](https://user-images.githubusercontent.com/1434956/52384052-afef4080-2a30-11e9-8cd8-560bb69c0f55.png)

This above example is working for me. If it isn't working for you, can you tell me the os/browser you are on?

[2019-02-07 01:03] micahgodbolt commented on #7918
Ah, seems that regression came in when we changed checkbox back to using an input (rather than a button).

It works here https://fabricweb.z5.web.core.windows.net/oufr/6.81.0/#/examples/checkbox

Here's the PR #7521

Need to make sure and add a test to ensure that 'enter' still triggers this.

[2019-02-07 01:05] micahgodbolt commented on #7918
Ah, taking 1 more look at the PR it appears that this change was noticed

![image](https://user-images.githubusercontent.com/1434956/52384220-5d625400-2a31-11e9-9050-2d5bc48997c9.png)

[2019-02-07 01:05] micahgodbolt commented on #7918
As he said, this is the 'right', as in to spec, behavior

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox

[2019-02-07 01:47] makopch-ms commented on #7918
@jspurlin did have a discussion @dzearing .  The email conversation sort of ended that we needed to continue that discussion and figure out what the best path is going forward and where we are to align.  So that was the purpose of opening this item to track it.

Our team did do a workaround checking for the Enter during onKeyUp, but it is hacky and not something we want to keep.

[2019-02-07 02:43] Vitalius1 opened #7920 "Panel: Fluent theme"

[2019-02-07 03:01] engineersamuel commented on #7907
@ecraig12345 Definitely, however, it looks like there are are 98 instances of exported interfaces in the examples and I can't imagine that any of them are imported anywhere, so no reason to export them.  For example: https://github.com/OfficeDev/office-ui-fabric-react/blob/79997dce09/packages/office-ui-fabric-react/src/components/Button/examples/Button.Toggle.Example.tsx yet the state is not impor

[2019-02-07 05:27] ecraig12345 commented on #7907
The examples themselves need to be exported, which means that the state interfaces must also be exported. Otherwise it will cause compile errors (even if no one ever tries to import the interfaces).