[2019-06-12 20:53] natalieethell commented on #9418
So there is actually an ongoing discussion within the team about converting all of the palette colors to semantic slots. As you'll see, ActionButton doesn't currently use any semantic slots. There are still some things to work out before moving forward with this for all of the controls, but we definitely have it on our backlog! @aneeshack4 just opened an issue to track this work here: https://gith

[2019-06-12 21:16] KevinTCoughlin commented on #9430
Thanks for reporting this @rcasto, the team will take a look! I wonder #9343 might help this by chance...

[2019-06-12 21:55] joschect commented on #9376
@oleg-mtr We could add the ability for you to pass your own suggestions through as a prop, making the picker more controlled than it already is, but that would mean that the parent component would need to control a lot more than it already does. The pickers are, unfortunately, pretty tightly connected to the resolveSuggestions callback and changing that will likely have to wait until we refactor t

[2019-06-12 22:12] oleg-mtr commented on #9376
@joschect I don't ask for refactor and new props. Why is adding this method is such a big deal?

[code]

[2019-06-12 22:30] HalcyonPride commented on #7991
Hi @JasonGore, could you please help me remove the "Needs: Attention" tag? 😅

[2019-06-12 22:31] HalcyonPride commented on #8608
Hi @kkjeer, could you please help me remove the "Needs: Attention" tag as well? 😅

[2019-06-12 22:44] joschect commented on #9376
@oleg-mtr I am hesitant to add more methods. React wants props to flow down, rather than interact via refs. IMO the correct fix for this would be to move state to a higher level and have the suggestions be passed in via prop rather than by updating the pickers state.

Outside of the workaround that I provided above, you have another option that will work.

While we are currently working to refacto

[2019-06-12 23:23] dylankil commented on #8930
@atneik Tried the aria-hidden work-around within the scope of the Immersive Reader application React business logic and it didn't work. Voice Over fails to focus on the Callout element.

[2019-06-12 23:48] prashkan90 commented on #9345
@aneeshack4 Looks like I was using an older version of IE. Thanks for checking. I'll close the issue.

[2019-06-12 23:48] #9345 closed

[2019-06-12 23:50] dbjorge opened #9435 "WCAG 2.1: 1.4.13: Tooltip component is not keyboard-dismissable"
Migrated from https://github.com/microsoft/accessibility-insights-web/issues/777

## Codepen demonstrating the issue

https://codepen.io/dbjorge/pen/QXbvzN (this is just an export of the default Tooltip example from https://developer.microsoft.com/en-us/fabric#/controls/web/tooltip as of writing)

## Actual behavior:

* Go to the codepen
* Click the "Hover Over Me" element
* Press "Tab" then "Shif

[2019-06-13 06:58] jchn-codes commented on #616
Any news on SSR support? We're using Fabric with Next and running in the same issues as described above.

[2019-06-13 08:10] vcgupta opened #9442 "Selected Rows are removed On clicking outside"
### Environment Information

Current Version of Fabric on Chrome

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/vcgupta/pen/PrqBdG

#### Actual behavior:

* select few rows (or single row)
* Click outside the DetailsList component (on heading)
* selected rows or auto deselected

#### Expected behavior:

Selected rows should persist, even after clicking anywhere out

[2019-06-13 08:12] vcgupta commented on #9442
Please close, if https://github.com/OfficeDev/office-ui-fabric-react/issues/9408 PR fixes this.

[2019-06-13 08:24] AnjaniChallamcherla commented on #9147
I am having the same issue.
![image](https://user-images.githubusercontent.com/42473451/59416289-00025900-8dbd-11e9-9eed-c4a826c9e0c1.png)

@kenotron I added the same line of code you mentioned above, but still getting the same error. Do I need to install anything more?

[2019-06-13 08:28] vcgupta commented on #9442
I've found that `selectionPreservedOnEmptyClick` prop needs explicitly to be `true`. I think default value of this should be set to `true`.

[2019-06-13 08:34] AnjaniChallamcherla opened #9443 "Missing "IDetailsRowStyles" in office fabric"
When I try to use "DetailList" in office fabric, everything is working fine except "IDetailsRowStyles".
Getting the below error, kindly suggest
![image](https://user-images.githubusercontent.com/42473451/59417019-5f149d80-8dbe-11e9-9124-5fc375aaa504.png)

[2019-06-13 13:31] oleg-mtr commented on #9376
I will continue using my hack. If you will release a major update I will adapt my code. I will not bother you anymore with this feature request. Thanks

[2019-06-13 13:31] #9376 closed

[2019-06-13 14:19] bramdejager opened #9444 "Missing icons from Fabric MDL2 external icon font"
### Bug Report

- __Package version(s)__: WebFluentFonts_1905 (download from https://aka.ms/WebFluentFonts)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Windows Fonts directly impacting Office Apps on Desktop

#### D

[2019-06-13 14:38] Toonshorty commented on #9444
The Fabric UI icons website (https://uifabricicons.azurewebsites.net) indicates the current web font version is FabMDL2 v3.35, while the desktop font is on v2.48i.

![image](https://user-images.githubusercontent.com/7429318/59441675-de22c980-8df0-11e9-9941-40d2c0add996.png)

I don't know if these two numbers both represent the font version, but if so would likely explain why a number of icons are

[2019-06-13 15:59] micahgodbolt commented on #8698
we've moved datepicker to date-time package, so this is moot.

[2019-06-13 15:59] #8698 closed

[2019-06-13 16:42] #9408 closed

[2019-06-13 17:15] natalieethell commented on #9422
Hey @pkabadeI thanks for opening this issue! I'm not able to reproduce your issue in the PeoplePicker example on the [Fabric site (v.5)](https://developer.microsoft.com/en-us/fabric#/components/peoplepicker). After glancing at your screenshot of the DOM, it looks like you have two extra aria labels I'm not seeing on our example. Are those there by default for you?

If you could provide a CodePen r

[2019-06-13 17:20] KevinTCoughlin commented on #9443
Sorry for the friction @AnjaniChallamcherla. Which version of OUFR are you using? I see the symbol publicly exported in our API file:

[code]

https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/etc/office-ui-fabric-react.api.md

[2019-06-13 17:23] KevinTCoughlin commented on #9442
That prop is the correct solution. However changing the default would break partner teams who rely on existing behavior. Perhaps we can improve the documentation to make it more clear if it is non-obvious.

[2019-06-13 17:26] KevinTCoughlin commented on #9421
cc: @Vitalius1

[2019-06-13 17:35] aneeshack4 opened #9446 "Coachmark: in example page Bottom position ones get cut off"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

The teaching bubble that opens gets put behind the Implementation card and is not visible:
![image](https://user-images.githubusercontent.com/4161791/59454378-c1719c00-8dc6-11e9-971b-710

[2019-06-13 17:38] natalieethell commented on #9426
Hey @wutonghao thanks for opening an issue! Looking into it.

[2019-06-13 17:50] natalieethell commented on #9422
Here's a CodePen to get you started! https://codepen.io/slimemold/pen/mZerwW (thanks @joschect!)

[2019-06-13 18:00] #9420 closed

[2019-06-13 18:22] marygans commented on #6710
### Fluent Updates Needed:
**Add slider pressed state:**
- Current behavior: Hover and Pressed states are exactly the same (#0078d4)
-  Expected (based on toolkit): Pressed state should be a darker blue (#106ebe) than hover state (#0078d4)

[2019-06-13 19:00] marygans commented on #6712
### Fluent Updates Needed:

**Add focus to entire toggle element**
- Current: Focus is only on the toggle switch
- Expected: Focus should be on the toggle switch + label

 **Update border color on hover Toggle OFF**
- Current: #323130
- Expected: #201f1e (this will match the toggle thumb color)

**Label on top**
- Current: No property exist in code
- Toolkit: property exists

**Addressable existin

[2019-06-13 19:27] natalieethell commented on #9430
@rcasto looks like it's working on latest now! It could have been fixed be @KevinTCoughlin's PR referenced above. Here's a screenshot from Edge. Let me know if you're seeing something different.

![image](https://user-images.githubusercontent.com/14134000/59461418-2ed8f900-8dd6-11e9-8027-246f3f162940.png)

@KevinTCoughlin should we backport your changes into 6.0?

[2019-06-13 19:29] KevinTCoughlin commented on #9430
Yea, I plan to once merges into `6.0` branch are working. I'm watching https://github.com/OfficeDev/office-ui-fabric-react/pull/9437 as a reference...

[2019-06-13 19:34] mmichaelbiz commented on #533
Can this be revived? Would be a nice addition to the Fabric 7 launch. Also related #1565.

[2019-06-13 19:34] natalieethell commented on #9435
Hey @dbjorge thanks for submitting this issue and providing a CodePen for us! We're looking into it.

[2019-06-13 19:45] #9446 closed

[2019-06-13 19:58] micahgodbolt commented on #533
This is really a design driven effort, not an engineering one. Until there is some design momentum to solving this with a new component, I don't believe we have any plans to create it.

[2019-06-13 20:00] #9358 closed

[2019-06-13 20:02] Jahnp commented on #9444
Hey @bramdejager , thanks for reporting this. Indeed, the installable Fabric External MDL2 file isn't updated as frequently as the Fabric icons tool that @Toonshorty linked. There's a manual code-signing process that means we only make updates occasionally.

However, as you can see, quite a few icons have been added since the last update of the font, so we'll get the update process started. I'll k

[2019-06-13 20:09] rcasto commented on #9430
Yup, just checked and it does in fact seem to be working in Edge now. I'll wait for an updated 6.0 package and integrate from our side. Thanks guys!

[2019-06-13 20:11] natalieethell commented on #9442
Hey @vcgupta thanks for opening this issue. PR #9408 dealt with a slightly different issue. As Kevin mentioned above, changing the default value for `selectionPreservedOnEmptyClick` would break teams relying on existing behavior. I'll label this as by design, but is there any way we can make this more apparent?

Here's what we have under the documentation for `selectionPreservedOnEmptyClick`

![im

[2019-06-13 20:12] #9384 closed

[2019-06-13 20:16] natalieethell commented on #9430
We'll make sure to tag this issue in Kevin's PR targeting `6.0`

[2019-06-13 20:26] marygans commented on #6701
### Fluent Updates
**Update line height for text**
- **Current**: Font size / Line-height: 18px / 36px
- **Expected (based on toolkit):** 18px / 24px
- **ContexualMenu dropdown:**
    - Current: Font Size / Line height: 14px / 36px
    - Expected: Font Size / Line height: 14px / 20px

**Toolkit states/variants missing (exists on site):**
- Hover/Focus/Pressed states
- Breadcrumb with blue links
-

[2019-06-13 20:35] Rajeev-K commented on #9393
@pandey11 after investigating this issue, it looks like the Picker is correctly implemented. Picker sets the role="alert" attribute on the popup which should result in Narrator reading the text. However it looks like there is currently an Edge bug that is causing the text to not be read aloud. See https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/21900325/ When that bug is fixed

[2019-06-13 20:45] marygans commented on #6749
### Fluent Updates found in Breadcrumb
ContexualMenu dropdown:
Current: Font Size / Line height: 14px / 36px
Expected: Font Size / Line height: 14px / 20px

[2019-06-13 20:54] Jahnp commented on #9090
Great! Closing this now as I think we're good to go since Fabric 7 is out with the new icons.

[2019-06-13 20:54] #9090 closed

[2019-06-13 21:16] marygans commented on #6711
@betrue-final-final can't seem to find a specific toolkit file for Label, let me know if I missed something!

[2019-06-13 22:31] marygans commented on #6745
### Fluent Updates Needed
**Update star icon rest state color**
- Current: #a19f9d
- Expected (based on toolkit): #605e5c

**Update on hover outline to fill (see screenshot below)**
- Current: star outlined with #0078d4
- Expected(based on toolkit): fill star icon with #0078d4

**Add label for Rating component (see screenshot below)**
- Current: There is no label to indicate the rating level
- Exp

[2019-06-14 00:15] j-te commented on #9068
The elements within `ms-Panel-contentInner` cause issues with fabric's `@media screen` padding styles.
`!important` cannot be put into styles attributes to override.

Panel serves well as an overlay, I like the onRender override props but I feel there's one missing:
`onRenderContentInner`

A simple base component that does not implement flex would allow cleaner UI design.

[2019-06-14 03:21] KevinTCoughlin commented on #9430
Fixed and available in `office-ui-fabric-react@v6.190.0`! Going to close as resolved. @rcasto, if not please open a new issue. Thanks!

[2019-06-14 03:21] #9430 closed

[2019-06-14 06:02] durunvo commented on #8755
I think I found the solution to this, please see my answer in Stackoverflow and let me know.

https://stackoverflow.com/a/56592238/1802735

[2019-06-14 06:23] Xizt commented on #9421
Any updates on this?

[2019-06-14 06:34] Vitalius1 commented on #6749
@marygans I believe the line height is there to keep the total heigh of the contextual menu item. Same was done I think in Breadcrumb..., but I will be happy to review the changes you would make to fix this. It might not be worth it if it brings more complexity to styles because if you make the line height smaller you'll have to deal with centering the text. Let me know and we can take a look toge

[2019-06-14 06:48] Vitalius1 commented on #6745
On the color issue make sure you get some context from #8246 and #7955  and the issue that these PRs were fixing. It might be that the toolkit was not updated or something. Definitely check with Ben.

On the label issue... good question 🤔 . Perhaps Ben can vote on that one.

[2019-06-14 08:42] luckyrass opened #9463 "LineChart does not show the last point"
### Environment Information

- __Package version(s)__: (@uifabric/charting 0.131.1)
- __Browser and OS versions__: (All browsers)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

![image](https://user-images.githubusercontent.com/12230173/59496072-42ae5900-8ec3-11e9-946f-d2b56bab6674.png)

#### Expected behavior:

LineChart shows all data points

#### Priorities

[2019-06-14 08:50] bramdejager commented on #9444
Thanks to both of you @Toonshorty and @Jahnp. Great that this is picked up! Any indication on when we can expect this?

[2019-06-14 09:42] TomekPi opened #9464 "ToolTipHost closes when content hovered"
### Environment Information

https://fabricweb.z5.web.core.windows.net/oufr/6.189.4/#/examples/Tooltip

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

The Tooltip closes even if mouse is over tooltip content. The `closeDelay` doesn't help, the tooltip is closed after that time.

#### Expected behavior:

The Tooltip stays opened when hovering the content accordin

[2019-06-14 10:05] Harish9450 opened #9465 "[Details List] - In scan mode, extra navigation step is encountered while navigating from checkbox to header name"
### Environment Information

- __Package version(s)__: Office-fabric v6.40.1
- __Browser and OS versions__: Edge & Win-10

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/v-harc/pen/RzWdjz

#### Actual behavior:
In scan mode, extra navigation step is encountered while navigating from checkbox to column name. When narrator focus is on check box and user press down arro

[2019-06-14 10:12] Harish9450 opened #9466 "[Details List]- User is not able to access the 'checkbox' control while navigating using narrator."
### Environment Information

- __Package version(s)__: Office-fabric v6.40.1
- __Browser and OS versions__: Edge & Win-10

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/v-harc/pen/RzWdjz

#### Actual behavior:
User is not able to access the 'checkbox' control while navigating using narrator. When narrator focus is on '`Item 0` Check box and press enter/space key, ch

[2019-06-14 10:51] AnjaniChallamcherla commented on #9443
I am using OUIF version 1.8.1

[2019-06-14 14:56] Jahnp commented on #9444
I've reached out to the designers who help us with this, but they're OOF on vacation until next Tuesday. I'd expect end of next week at the earliest, possibly into the following week, but likely no later than that.

[2019-06-14 16:23] marygans commented on #6745
@Vitalius1 thanks for referencing those PRs, it helped a lot with context!  It seems like the accessibility issue came from the previous design with grey unchecked state. Since this change is just a matter of changing the hover state from a border outline to a fill,  it might be safe to assume that the color used has been checked and passes accessibility, I'll confirm/deny with Ben!

[2019-06-14 16:30] marygans commented on #6749
Thanks @Vitalius1 for providing further context on this! I agree that we shouldn't be adding complexity to styles. I believe @maximus12793 will be working on this item for Fluent updates. Either way, we'll make sure you're looped in.

[2019-06-14 17:22] Rajeev-K commented on #9421
@Xizt thank you for reporting the issue. We are investigating.

[2019-06-14 17:30] natalieethell commented on #9443
You are using office-ui-fabric-react version 1.8.1? We currently are on Fabric 7 - you may want to consider upgrading to version 6 or 7.

[2019-06-14 17:40] KevinTCoughlin commented on #9443
@AnjaniChallamcherla, I believe that version is your SPFx version. Can you run the following command in your repository which should tell us the version of `office-ui-fabric-react` your project is dependent on: `npm list office-ui-fabric-react`

Here is example output from a test repo:

[code]

[2019-06-14 17:51] natalieethell commented on #9464
Hey @TomekPi thanks for opening an issue! We're taking a look.

[2019-06-14 17:55] Dangerous-Mind commented on #9300
I had some compiling errors at the time
But I managed to get it to compile

[2019-06-14 18:32] natalieethell commented on #9464
@TomekPi is it the "Tooltip with a closing delay" where you're seeing this weird behavior? What browser are you using?

[2019-06-14 19:01] natalieethell commented on #9426
Hey @wutonghao just to confirm, you want `onChanged` instead of `onChange` because you only want the Slider value after the user is done changing it? Instead of while the value is changing?

[2019-06-14 19:46] askast opened #9469 "Styling not being applied to Text component in Fabric 7"
- __Package version(s)__: 7.2.0
- __Browser and OS versions__: Chrome/Edge

https://codepen.io/askast/pen/ydegaa
This shows the Text being rendered with the wrong font.

 https://codepen.io/askast/pen/rExjNj
It shows the expected behavior - Font being rendered properly, with version 6.174.0

Its an issue that I noticed first with v7.0.0

[2019-06-14 20:00] #9364 closed

[2019-06-14 20:31] Rajeev-K commented on #9465
@Harish9450 thank you for reporting the issue. Can you confirm the hidden label you mention is the one with the text "Toggle selection for all items"?

[2019-06-14 20:34] aneeshack4 commented on #9264
@leddie24 @brandonhorn I believe this should be a variant of Slider. I understand the use case for a two thumb slider but I don't see the need for an optional max range width - @brandonhorn, what is the use case you had in mind for restricting the distance between the two thumbs?

[2019-06-14 20:46] natalieethell commented on #9469
Hey @askast thanks for reporting an issue! From what I'm seeing, it looks like the Fluent styles are actually now being applied to the Text control, which is expected. In Fabric 7, Fluent styles are applied by default to all controls. So now, the mega text variant has font size 68px and font weight 600, whereas before it had font size 72px and font weight 100. It looks like the correct font family

[2019-06-14 20:47] natalieethell commented on #9469
You can see the new default font styles defined here: https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/styling/src/styles/fonts.ts#L71

[2019-06-14 20:48] natalieethell commented on #9463
Thanks for reporting this issue, @luckyrass! @Raghurk will take a look.

[2019-06-14 21:02] natalieethell commented on #9466
Hey @Harish9450 thank you for opening an issue and providing a CodePen. I'm not currently able to reproduce the behavior you're seeing, but I may be missing something.

In going through your CodePen in Scan Mode, I'm able to navigate through each cell of the DetailsRow using arrow keys and select the row when focused on the checkbox using space/enter. With Scan Mode off, I'm able to navigate throu

[2019-06-14 21:08] wutonghao commented on #9426
@natalieethell Yes. In our project, we only want to send API request to process the new value when the user is done changing. If we send API request in every onChange call while value is changing, there will be too many requests for our server to process. That's why we need onChanged to be fired on KeyUp, just like on MouseUp.

[2019-06-14 22:02] aneeshack4 commented on #9379
@JoshuaLamusga I dug into this quite a bit and spoke about it with the component owner & another engineer who's contributed a bunch to Modal. Here are my findings: the reason you're not able to close the dialog with ESC after click/selecting the text in the modal is because text is not selectable by keyboard, only by mouse. Once you keyboard/tab after opening the modal, focus will go to the first

[2019-06-14 22:03] #9379 closed

[2019-06-14 23:09] natalieethell commented on #9426
@wutonghao got it, thanks for confirming. The team will discuss a potential change here.

[2019-06-14 23:39] chryw commented on #9444
@Jahnp You've probably told me before, but which one reflects what's available in the latest public package?
1. https://developer.microsoft.com/en-us/fabric#/styles/web/icons
2. https://uifabricicons.azurewebsites.net
3. https://fabricicons.azurewebsites.net

Thanks!

[2019-06-15 05:15] askast commented on #9469
Ok. That makes sense. But the font didn't have the 600 weight by default when i used Fluent Customization with a Customizer in version 6. Which is why i was confused.

[2019-06-16 05:40] pandey11 commented on #9393
verified. I'm not able to repro only in chrome. Thanks

[2019-06-17 02:12] joechung-msft opened #9478 "Placeholder text color not honored in Edge"
### Environment Information

- __Package version(s)__: 6.190.0
- __Browser and OS versions__: Edge 44.18362.1.0, Windows 10.0.18362.175 (May 2019 Update)

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/joechung-msft/pen/vqGJGo

#### Actual behavior:

Placeholder text styles are not applied in Edge.

![image](https://user-images.githubusercontent.com/26208574/5957427

[2019-06-17 04:00] #9247 closed

[2019-06-17 04:38] v-dhiraj commented on #8855
@joschect Could we have a update on this ?

[2019-06-17 09:10] AnjaniChallamcherla commented on #9443
@KevinTCoughlin Yes Kevin, That was my SPFx version. My OUIF version is 5.13.0

[2019-06-17 10:46] saini-ankish commented on #9148
@marygans I've just attached a gif for more clarification on this, i don't think it's a browser issue.
It's like tooltip is not visible on arrow keys. And yes it's a browser tooltip.

![FocusZOne](https://user-images.githubusercontent.com/44394750/59598754-923a9200-911a-11e9-940f-23426b045731.gif)

[2019-06-17 11:11] Harish9450 commented on #9465
![MAS4 2 10_Extra-navigation-step](https://user-images.githubusercontent.com/38786340/59600317-7a650d00-911e-11e9-837b-d4417b49eb0c.gif)

[2019-06-17 12:15] patrikmolsson opened #9481 "Issue resolving @uifabric/foundation"
### Environment Information

- __Package version(s)__:  "office-ui-fabric-react": "7.0.2"
- __Browser and OS versions__:

#### Actual behavior:

In https://github.com/OfficeDev/office-ui-fabric-react/pull/9433 the package now tries to resolve @uifabric/foundation ^0.109.0, which cannot be resolved (there is no matching version in https://www.npmjs.com/package/@uifabric/foundation)

Previously, yar

[2019-06-17 15:11] #9301 closed

[2019-06-17 15:21] lalicari commented on #5191
What is the work around for people who use CRA? `moduleNameMapper` unfortunately isn't supported. Also, this issue is almost from a year ago and we're running into this. What is the status of moving away from Sass?

[2019-06-17 16:44] natalieethell commented on #9469
No problem! Let me know if you have any other questions, otherwise feel free to close this issue.

[2019-06-17 16:48] aneeshack4 commented on #9340
@Markionium @mtennoe Just following up on this since there hasn't been activity for a couple days - are y'all planning on implementing this change that Micah's suggesting?

[2019-06-17 16:51] aneeshack4 commented on #9361
@cikuITreti It looks like this property isn't implemented on any browser yet so it doesn't seem worth it add it IRawStye right now - why do you need this property/where is it working?
![image](https://user-images.githubusercontent.com/4161791/59621986-47525780-90e5-11e9-97d1-3bd940e42257.png)
https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/text-anchor#Browser_Compatibility

[2019-06-17 16:52] aftab-hassan commented on #9481
@patrikmolsson Thank you for reporting. This was fixed in https://github.com/OfficeDev/office-ui-fabric-react/pull/9467 after the PR you pointed us to.

[Here](https://github.com/OfficeDev/office-ui-fabric-react/blob/d164d2e534af19676ca6b846feb067dfd5e4fe6f/packages/experiments/package.json#L60) is the version on master
`"@uifabric/foundation": "^7.0.1",`

If you could update to the latest release

[2019-06-17 16:59] micahgodbolt commented on #5191
What version of Fabric are you using? We've almost completed removed Sass now.

[2019-06-17 17:09] lalicari commented on #5191
`^6.190.0`

[2019-06-17 17:17] Rajeev-K commented on #9393
Since we have verified that this is an Edge bug, we'll close this issue, but if you are experiencing any other problems, feel free to open another issue.

[2019-06-17 17:17] #9393 closed

[2019-06-17 17:23] aftab-hassan commented on #9478
@joechung-msft Thank you for reporting this. I can see the placeholder text not adhering to styles in `Edge`.

In the latest `Edge Dev` version, however, the placeholder text does show styles as expected. I am using `Version 76.0.182.6 (Official build) dev (64-bit)` of `Edge Dev`.

@micahgodbolt would this be a fix from the fabric side, or one for the `Edge` team ?

[2019-06-17 18:23] micahgodbolt commented on #9478
Nah, this is a legit bug.

IE11 uses `:ms-input-placeholder` and Edge uses `::ms-input-placeholder`

With both of those browsers in our support matrix, we need to output both it seems.

[2019-06-17 18:28] micahgodbolt commented on #9478
also note that edge supports ::webkit-input-placeholder.

[2019-06-17 18:30] mm90849491 opened #9485 "Summary field for SearchBox result"
**Describe the feature that you would like added**
A place holder to display search result information upon search text change or after search.
It could be a short text, such as a result count, or a complex component showing a preview of search items.

**What component or utility would this be added to**
SearchBox

**Have you discussed this feature with our team, and if so, who**
No

**Additional

[2019-06-17 18:33] maxwellred commented on #7121
### Fluent Updates

**Diffs between Toolkit (TK) and Live**

-**Border Width:** Live = 1.5px / TK = 2px
-**Border Color:** Live = #C7E0F4 / TK = #CDE6F7
-**Label Font Size:** Live = 14px / TK = 12px
-**Label Spacing:** Live = 10px / TK = 8px

@betrue-final-final please let me know which of these changes are required

[2019-06-17 18:41] schemburkar opened #9486 "Issue with sticky element in scrollable pane that has animations"
### Environment Information

- __Package version(s)__: 6.189.x - 7.0.0
- __Browser and OS versions__: Seen on Chrome

### Please provide a reproduction of the bug in a codepen:

Have a Scrollable pane with Sticky element. The sticky element ( e.g. in this case a button) has animations.
On scrolling the scrollable pane, the animation occurs mutiple times.

Confirmed that render is not called multip

[2019-06-17 18:41] aftab-hassan commented on #9478
@micahgodbolt noticed that too, and tested that the additional colon fixes for all browser. I'll have a PR out for this.

[2019-06-17 18:58] #9469 closed

[2019-06-17 19:21] aftab-hassan commented on #9485
Hey @mm90849491 thanks for opening this issue!

I'd like to get some more clarity on the feature you are requesting. Upon change of text on the `SearchBox` , were you intending to see a short text such as "Found 4 items", or a `DetailsList` result of the items found upon search?

Could you provide us a screenshot or a design of the component you'd like to see ?

[2019-06-17 19:22] gggjtgxing commented on #9132
Hi, we have more people complain about the card jump issue, it's very obvious and kind of annoying,
@sopranopillow  I saw you closed that PR, are you going to have a another fix ?

[2019-06-17 19:26] aftab-hassan commented on #9486
@schemburkar Thanks for opening the issue.

The codepen you provided does not display anything. Could you please confirm if the link works for you?

[2019-06-17 20:22] KevinTCoughlin commented on #9427
@daveparslow, we'd be open to a backwards-compatible PR for Fabric 7 (and perhaps 6) if you wish to make one. If the type change is not backwards-compatible then we may need to consider deferring until we can cherry-pick into an `8.0` branch.

If you create a PR please tag me in it so I can review with the team. Thanks!

[2019-06-17 20:36] mm90849491 commented on #9485
Hi aftab-hassan,

Thanks for the fast response!
I attached two of my current design which are for Excel task-pane size. Your fabric-react/fluent team usually has a better design than my own implementation so I was intended to leave the idea more open.
 If it is not so hard to maintain, leaving the content as a customisable field would be great (like how Callout or Modal components work).

![defaul

[2019-06-17 20:42] #7233 closed

[2019-06-17 21:06] aftab-hassan commented on #9485
@mm90849491 thank you for providing a design! It helps ensure we are on the same page regarding what the feature should do.

I'll discuss with the team to get their thoughts on this feature, and report back here.

[2019-06-17 21:44] natalieethell commented on #9465
So one way of improving this experience would potentially be to add `aria-hidden=true` to that label element in that extra navigation step. In some initial testing, it seems like the label, "Toggle selection for all items", is still read out when focused on the checkbox (good) and I am able to navigate directly to the first column header without stopping at the label. We'll do some more investigat

[2019-06-17 21:57] maxwellred commented on #7156
### Fluent Updates

**Diffs between Toolkit (TK) and Live**

-**Title Font Size:** Live = 21px / TK = 20px
-**Title Font Weight:** Live = 300 / TK = 600
-**Line Height:** Live = N/A / TK = 22px
-**Padding Top:** Live = 18px / TK = 17px
-**Padding Bottom:** Live = 20px / TK = 17px
-**Padding Left / Right:** Live = 24px / TK = 28px
-**Height :** Live = 165px / TK = 172px
-**Width:** Live = 300px / T

[2019-06-17 22:07] joschect commented on #8855
@v-dhiraj I think I'll be able to get a fix in this week. I had gotten pulled away on some things but I've got a good idea on how to complete this.

[2019-06-17 23:24] maxwellred commented on #7157
### Fluent Updates

**Diffs between Toolkit (TK) and Live**

-**Box Shadow:** Live = effects.elevation16 / TK = effects.elevation8
-**Line Height:** Live = N/A / TK = 16px (looks right though)

@betrue-final-final please let me know which of these changes are required

[2019-06-18 04:32] #9421 closed

[2019-06-18 04:43] dzearing commented on #5191
@lalicari It seems like you're not using the jest serializer for the class names.

Did you try this?

https://www.npmjs.com/package/@uifabric/jest-serializer-merge-styles

[2019-06-18 07:01] mtennoe commented on #9340
@aneeshack4 - Yup, we will handle it!

[2019-06-18 09:34] nishantverma-nagarro opened #9492 "Large bundle size of Office Fabric UI React web parts in SPFx"
Hi,

I am creating web parts that will go on a same page. The web part count can be from 10-15. I am using SPFx with React and have added Office Fabric UI React to the web parts as recommended in MSDN. Now when I bundle the web parts the size of the bundled files are large. For example, the smallest file is of 104 KB. So now if add 10-15 web parts on the same page, my page will be very slow.
I nee

[2019-06-18 09:53] Harish9450 commented on #9466
Repro Steps-
1- Open code pan
2- Go to the first row by tab key
3- Enable scan mode
4- Press Enter/Space key and observe the problem (i.e Checkbox is not getting checked/unchecked by pressing Enter/Space key in scan mode).

![bug](https://user-images.githubusercontent.com/38786340/59672059-6da6ee80-91dc-11e9-9d79-ad1b7a3810d6.png)

[2019-06-18 10:01] Harish9450 commented on #9465
Yes, focus is moving on hidden label i.e "Toggle selection for all items"

[2019-06-18 11:06] AnjaniChallamcherla commented on #9443
I downgraded my SPFx to 1.6.0 and I have my OUIF 5.120.0

Now I am not getting any errors. Was the issue because of my SPFx version as 1.8.1?

This is my package.json
`{
  "name": "search",
  "version": "0.0.1",
  "private": true,
  "engines": {
    "node": ">=0.10.0"
  },
  "scripts": {
    "build": "gulp bundle",
    "clean": "gulp clean",
    "test": "gulp test"
  },
  "dependencies": {
    "@m

[2019-06-18 14:06] TomekPi commented on #9464
@natalieethell , yes, "Tooltip with a closing delay" should stay opened while I'm hovering the tooltip content but it doesn't, it just closes after `closeDelay` time.
For me it occurs on all browser (Firefox, Chrome, Edge, IE).

[2019-06-18 14:27] aftab-hassan commented on #9492
@nishantverma-nagarro Thanks for opening an issue. Having 10-15 web parts, with each file being ~100 kB in size would be detrimental to page load time.

I shall discuss this with the team, and possibly with someone  from SPFx and reply back here, later today.

[2019-06-18 15:14] schemburkar commented on #9486
@aftab-hassan I can see the codepen (its full screen view link). Here is another link for the same
https://codepen.io/shubhan/pen/ydNORg

Code details

***References***
office-ui-fabric-react.js
fabric.min.css

***UI***
[code]
**See Attached gif**
On scroll, the sticky button blinks.

![OfficeFabricIssue](https://user-images.githubusercontent.com/3159347/59696517-c50f8380-9209-11e9-95b9-f4b8e65bae

[2019-06-18 15:18] glennflanagan opened #9493 "CommandBar with item set as `iconOnly` and `name` causes UI crash on hover (issue with DelayedRender created by TooltipBase) - 7.4.0"
CommandBar with item set as `iconOnly` and `name` causes UI crash on hover (issue with DelayedRender created by TooltipBase)

![image](https://user-images.githubusercontent.com/5485364/59696813-a3e86c00-91e4-11e9-8bcf-3d7664f8644c.png)

### Environment Information

- 7.4.0
- MacOS - Chrome 75.0.3770.90, Firefox 66.0.5

### Please provide a reproduction of the bug in a codepen:
 [Codesandbox Link h

[2019-06-18 15:27] aftab-hassan commented on #9486
@schemburkar, thank you for providing the codepen and the gif, I see it now. I'll take a look and respond back here.

[2019-06-18 15:32] glennflanagan commented on #9493
Also occurs in 7.3.0 https://codesandbox.io/embed/fancy-http-7sikw

[2019-06-18 15:35] aftab-hassan commented on #9493
@glennflanagan Thanks for reporting the issue and providing a codesandbox link of the issue. I can see UI crashing upon mouse hover. Marking as bug, and taking a look at it.

[2019-06-18 16:54] KevinTCoughlin opened #9494 "Add test exercising create-package script to avoid breaks"
The `create-package` script could use _some_ test coverage to avoid breaks that require fixes like https://github.com/OfficeDev/office-ui-fabric-react/pull/9491.

Deliverable: Add test coverage verifying the script can create new package "foo" without error. Consider handling trailing commas in `package.json` via `jju` as mentioned in https://github.com/OfficeDev/office-ui-fabric-react/pull/9491#d

[2019-06-18 17:05] natalieethell commented on #9464
Oh strange, I'm not able to repro the issue you're seeing on Firefox, Chrome, Edge, or IE with that link you provided (https://fabricweb.z5.web.core.windows.net/oufr/6.189.4/#/examples/Tooltip). Here's what I'm seeing on all browsers:
![TooltipWithClosingDelayEdge](https://user-images.githubusercontent.com/14134000/59703441-bfd11b00-91ae-11e9-97bf-a355be66df45.gif)

Are you by change using a diffe

[2019-06-18 17:12] aneeshack4 commented on #9321
#9341 is reverted with #9495 so opening this back up.

[2019-06-18 17:27] moizgh commented on #8359
@khmakoto
Any updates on this?

[2019-06-18 17:31] Jahnp commented on #9444
Ok @bramdejager , good news! We got a new cut of the installable icon font early, and I've updated https://aka.ms/WebFluentFonts with it. You should be able to access it now—please give it a try and let me know what you think.

@chryw , 2 and 3 are near-identical; 2 is public and 3 is internal MS. Both represent the most up-to-date icon sets that we update each week, but don't reflect what's avail

[2019-06-18 17:41] lynamemi opened #9497 "Website: Point to Fabric 7"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

Right now the fabric website is pointing to Fabric 6. It should be updated to point to Fabric 7.

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) No

[2019-06-18 17:58] #9169 closed

[2019-06-18 18:11] khmakoto commented on #8359
@moizgh I was able to recreate the selector but not override it. There was some discussion with @Jahnp about this which mostly concluded in communicating with the team managing the headers iirc to get to a solution but it certainly seemed that it would take some time, especially with all the changes that were ongoing on the website.

@Jahnp do you know what the next steps are for this problem?

[2019-06-18 18:43] KevinTCoughlin commented on #9390
I think we should keep this issue open as it seems like a legitimate bug. Adding backlog tag for now. @vcgupta you are welcome to raise a PR in the meantime.

[2019-06-18 18:51] JoshuaLamusga opened #9498 "No keypress equivalent to column header click on detailslist"
## Actual behavior:
Some browsers allow the enter button to trigger onColumnClick in DetailsColumn.base.tsx when focus is on a column header in a DetailsList, e.g. Chrome. (ev.button is undefined because no mouse button was used to trigger it.)

## Expected behavior:
All browsers should have this behavior explicitly, to support accessibility. This is currently implicitly occurring and there is no

[2019-06-18 19:46] mattgriffin94 opened #9499 "Clicking into Text Field while Menu is open makes keypresses not register"
### Bug Report
- __Browser and OS versions__: IE/Edge

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No
Requested priority: Normal

#### Describe the issue:

Internet Explorer / Edge bug only: Open up Menu and click into a TextField on IE and your keypresses get eaten.  For example, on https://developer.microsoft.com/en-us/fabric#/c

[2019-06-18 19:59] dirkesquire commented on #915
So I don't know why this issue is closed.

The linkAs works very well as you can see in this [example](https://codepen.io/anon/pen/dEmrjr?editors=1111).

However it does not render the NavLink with the correct css styling that the FabricUI Nav uses, so it looks terrible. Font is different and indenting is non-existent. We still need to see an actual example where Fabric UI Nav renders traditional

[2019-06-18 20:07] natalieethell commented on #9493
Hey @glennflanagan thanks for opening an issue! We reverted the change that was causing this issue, so it should be fixed in Fabric v7.4.1. Let us know if that works for you!

[2019-06-18 20:21] aftab-hassan commented on #9493
@natalieethell thanks natalie

@glennflanagan this was fixed in this [PR](https://github.com/OfficeDev/office-ui-fabric-react/pull/9495) You should not be hitting the issue now, if you could move to `7.4.1`.

[2019-06-18 20:21] #9493 closed

[2019-06-18 20:38] aftab-hassan commented on #9499
@mattgriffin94 Thanks for posting the issue.

I am able to reproduce the behavior you posted. However, I see the same on `Chrome` and `Firefox` as well. I shall reply back on the issue when I have a fix for this. Marking as `bug`

[2019-06-18 21:35] aftab-hassan commented on #9498
@JoshuaLamusga Thanks for reporting the issue. I am able to see this, and looks like an `Accessibility` bug. We are looking into it and will report back.

[2019-06-18 21:38] mmichaelbiz commented on #533
Shame. A good time and timestamp selector is useful.

[2019-06-18 21:47] JoshuaLamusga commented on #9498
To test, use IE and go to https://developer.microsoft.com/en-us/fabric#/controls/web/detailslist, then tab to the column called Name and press enter. Nothing will happen, though you can click the column to sort it / change sort direction.

[2019-06-18 21:50] sopranopillow commented on #9132
Hi, sorry about taking long. I found a fix and will do a PR for it. This should fix it.

[2019-06-18 22:19] Rajeev-K commented on #9427
This is a large change that touches multiple components, so moving to backlog. Internally DetailsList uses List and GroupedList, so they have to be updated. For consistency columns and groups props should also be readonly arrays. We should also make this change holistically for consistency. We may also want to wait till we move TypeScript minbar to 3.3 so that we can take advantage of "readonly an

[2019-06-18 23:05] aftab-hassan commented on #9492
@nishantverma-nagarro

Spoke with the team and we have a couple different options that could help with reducing the bundle size.

You could use `react` as an external global dependency. [Here](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/web-parts/basics/add-an-external-library#load-a-library-that-has-a-dependency-on-another-library
) is some guidance.
You could try adding a field in the `

[2019-06-18 23:15] aftab-hassan commented on #9485
@micahgodbolt wanted to get your thoughts here. Is this a feature request we have previously received for `SearchBox` ? Are we good with adding this to `Backlog review` ?

[2019-06-19 01:00] #9411 closed

[2019-06-19 02:39] aftab-hassan commented on #9499
@mattgriffin94, I'd like to clarify to be sure we are on the same page, especially since you mentioned, `Internet Explorer / Edge bug only`, whereas, I was able to reproduce, what I believe is the issue, on all supported browsers.

Is the issue that upon clicking the tab to bring up the menu, first keypress gets eaten, and you are having to keypress the `TextField` a second time, to place focus an

[2019-06-19 07:00] #9413 closed

[2019-06-19 07:07] Leif-Frederiksen commented on #8858
I see the problem as well. The CodePen provided by @KevinTCoughlin shows the problem on both simulator and actual iPad.

However, it works on my Samsung S8 in both Chrome and the native Samsung browser.

My project is based on newest SPFx version as per today - version 1.8.2
React version is 16.7.0 and office-ui-fabric-react is 6.143.0

[2019-06-19 07:54] TomekPi commented on #9464
@natalieethell , you misunderstood me. If I understand correctly, the tooltip should stay opened when you're interacting with it so e.g. hovering it's content (tooltip content, not the element, so text "This is the tooltip"), but it doesn't:

![TooltipRec](https://user-images.githubusercontent.com/13480993/59746948-31c16700-9278-11e9-965b-965209e1e2d4.gif)

[2019-06-19 08:05] glennflanagan commented on #9493
Amazing! Thank you so much for the speeeeeeed!

[2019-06-19 08:26] vitthalr commented on #6014
Is there any ETA for this?

[2019-06-19 11:37] vivekbrnl commented on #5219
@micahgodbolt

I am vivek, working for project team(MS). Can you please provide some update on it?

[2019-06-19 12:49] jacksonv1lle opened #9507 "Is it possible to control the Context Menu with component state?"
Hi there,

I am trying to control the show/hide of the context menu using component state and the 'hidden' property of the IContextualMenuProps but this is not working for me.

Please see this [CodePen](https://codepen.io/ijackson/pen/orYbdP) example.

[2019-06-19 12:59] asith-w opened #9508 "Can not close Fabric 7 multi select dropdown when screen size is set to mobile size"
## Codepen demonstrating the issue

https://codepen.io/anon/pen/ydVOLo
## Actual behavior:
when i resize the screen to mobile view, there is no way to close the panel. dropdown menu takes full width of screen where fabric ui 6 dropdown menu (mobile view )only takes percentage and able to dismiss the menu
## Expected behavior:
there are should be close button or additional space to dismiss the drop

[2019-06-19 16:09] micahgodbolt commented on #5219
@vivekbrnl, nothing at the moment. @joschect does most of our work on pickers, and he's got a pretty long queue of issues he's already working on.

For clarity, what branch of Fabric are you currently on? This original issue mentioned the 5.x branch which is now N-2 versions old.

Secondly, is this work that you are interested in contributing? As an open source framework, if this feature is blocki

[2019-06-19 16:16] micahgodbolt commented on #9485
So it looks like the ask here is to support suffix in search, just like the Textfield is doing. My only hesitation here is that our current design for search includes an X at the far right to clear the search contents. Adding this would certainly remove that clear button, and this might cause accessibility issues.

i.e. this isn't an unreasonable ask, but I'd want to make sure this change was desi

[2019-06-19 17:00] #9416 closed

[2019-06-19 17:51] aftab-hassan commented on #9508
@asith-w, thank you for posting the issue and providing a codepen.

 I verified that the issue occurs in `Fabric 7` and does not in `Fabric 6` (Tested using `6.190.0`). We are looking into it.

[2019-06-19 18:15] natalieethell commented on #9464
@TomekPi oh gotcha! So it looks like what's happening is the delay countdown starts once you leave the TooltipHost. If you look at the Default Tooltip example, it does the same thing.

![DefaultTooltipClosing](https://user-images.githubusercontent.com/14134000/59789357-9d103680-9282-11e9-8d1b-018ea62c9670.gif)

If you, however, go straight over the Tooltip from the TooltipHost, the Tooltip does no

[2019-06-19 18:24] aftab-hassan commented on #9507
Thank you for posting the issue @jacksonv1lle

We see the issue, but would need to look at it a bit deeper. Marking as `bug` for now, and looking at it. Please check back here for updates.

Thanks for the codepen!

[2019-06-19 18:26] micahgodbolt commented on #9464
Yeah, the original PR #4364 added this feature in. I'd assume that hovering over the tooltip itself (even if you left the tooltip) would reset the timer. Not sure if this was a regression or error in the original work, but I'd expect it to work that way. It'd be worth looking at the logic added in that PR and make sure it supports resetting the dismiss timer anytime the tooltip is hovered.

[2019-06-19 18:45] natalieethell commented on #9464
@micahgodbolt cool, sounds good. Thanks for the clarification! I'll look into it. Thanks @TomekPi for bringing this to our attention!

[2019-06-19 18:47] #9465 closed

[2019-06-19 20:00] #9312 closed

[2019-06-19 20:11] aftab-hassan commented on #9507
@jacksonv1lle [Here](https://codepen.io/aftab-hassan/pen/mZOXvE?editors=0010) is an updated codepen which would solve your issue.

Here are the diffs from your codepen
1. If `menuProps` are passed in, then we end up [invoking](https://github.com/OfficeDev/office-ui-fabric-react/blob/d4e05a01bc75ed3ce8d4522734e822810ba356bf/packages/office-ui-fabric-react/src/components/Button/BaseButton.tsx#L652)

[2019-06-19 20:21] natalieethell commented on #9464
Alright found the lines of code causing this behavior:

https://github.com/OfficeDev/office-ui-fabric-react/blob/abd449b2323831dd5c636fa6a196818a78f0585c/packages/office-ui-fabric-react/src/components/Tooltip/TooltipHost.base.tsx#L159-L162

It looks like this was added in the following PR: https://github.com/OfficeDev/office-ui-fabric-react/pull/6211. We'll see if there's a way to keep those chang

[2019-06-19 20:40] jacksonv1lle commented on #9507
Hey. Thanks for your help. I didn't see the `onMenuClick` function so now that's allowing me to invoke my click handler as expected.

But the context menu is still not controlled by the state. If you open the menu and then click away, the menu will close but the state will not change.

[2019-06-19 21:00] micahgodbolt commented on #9508
Seems the @6 version had the panel only come half way out
![image](https://user-images.githubusercontent.com/1434956/59800091-942b5f00-929a-11e9-8650-205fe2657f4c.png)

[2019-06-19 21:02] micahgodbolt commented on #9508
appears that his media query is not firing
![image](https://user-images.githubusercontent.com/1434956/59800206-d785cd80-929a-11e9-90eb-de71c5d98b54.png)

[2019-06-19 21:05] BenedictRasmussen commented on #3011
I had this issue while using `"office-ui-fabric-react": "6.187.1"`. I also could not get the `onChange` vs `onChanged` workaround to work. I solved the issue by updating to `"office-ui-fabric-react": "^7.4.2"`

[2019-06-19 23:18] eveleens commented on #6441
Any traction on this one? We have the same bug.

[2019-06-19 23:40] cvirendra opened #9521 "Bidirectional FocusZone with checkForNoWrap not working correctly."
There's a bug in FocusZone where if _active element is the left most element in any row (except top row)_ **AND** _the top row is not in scroll view_, pressing left arrow button moves focus to first element in the top row rather than doing nothing.

This works fine when all the elements are visible on the screen.

You can see this in action here. Click on 1st item in the 4th row and press left arr

[2019-06-19 23:45] eveleens commented on #8224
This was completed, right?

[2019-06-19 23:47] cvirendra commented on #9521
Replacing x.toFixed(3) with parseFloat(x.toFixed(3)) in FocusZone.tsx seems to fix this issue.

[2019-06-20 00:36] KevinTCoughlin commented on #8224
Looks like in `office-ui-fabric-react@6.188.0` per https://github.com/OfficeDev/office-ui-fabric-react/pull/9270#issuecomment-498234765.

@eveleens can you confirm?

[2019-06-20 01:27] eveleens commented on #8224
Yup! Confirmed!

[2019-06-20 01:43] #8224 closed

[2019-06-20 01:44] KevinTCoughlin commented on #7651
Closing as this should have been resolved with the above linked PRs which contain the updated snapshot files.

[2019-06-20 01:44] #7651 closed

[2019-06-20 04:05] aftab-hassan commented on #9521
@cvirendra thank you for reporting the issue and providing a codepen.

@JasonGore @natalieethell, does the suggested solution sound reasonable ?

[2019-06-20 04:07] aftab-hassan commented on #9521
@cvirendra thank you for reporting the issue and providing a codepen.

@JasonGore @natalieethell, wanted to get your thoughts here. Does the suggested solution sound reasonable ?

[2019-06-20 04:50] aftab-hassan commented on #9508
This was fixed in this [PR](https://github.com/OfficeDev/office-ui-fabric-react/pull/8937/files) but we lost these changes when moving to `Fabric 7`. Don't see a history of when this was removed.

The fix would be to bring back this change.

[2019-06-20 07:40] mtennoe commented on #9340
How urgent do we believe this is btw? Considering capacity in my team, can we wait until next week? (considering how long this has been there, I would say yes)

[2019-06-20 09:39] realhoffi opened #9522 "Textbox Component OnChange called twice + this._async.debounce not working"
nice breaking change...

What is not working anymore:

- Async on "OnChange"
- Onchange is called twice without the Async Function...

[code]

[2019-06-20 12:36] AnjaniChallamcherla opened #9523 "Missing 'ScrollbarVisibility'"
When I try to use 'ScrollbarVisibility' in my SPFx web part, I am getting below error:
![image](https://user-images.githubusercontent.com/42473451/59849616-074ad900-9360-11e9-9d7b-875ae9d47606.png)

### Environment Information
[code]
![image](https://user-images.githubusercontent.com/42473451/59849667-382b0e00-9360-11e9-9a9d-55e570a3642f.png)

Do I need to install OUIF exclusively, if so, please p

[2019-06-20 12:51] AnjaniChallamcherla commented on #9523
Closing this issue because I was able to use "ScrollablePane" with out "ScroollbarVisibility"
Below is my code:
 <div style={{ height: '500px' }}>
          <ScrollablePane>
            <Sticky stickyPosition={StickyPositionType.Header}>

                <DefaultButton iconProps={{ iconName: 'Edit' }} onClick={this.editRow.bind(this)}/>
            </Sticky>
            <DetailsList

[2019-06-20 12:51] #9523 closed

[2019-06-20 15:31] micahgodbolt commented on #9340
Yeah, there are workarounds, so it's not blocking.

[2019-06-20 16:06] citelao commented on #9521
I'm seeing another issue here where left and right arrow keys do not work in the top row no matter what (same CodePen). Is that related?

Happy to file another bug.

[2019-06-20 16:18] marygans commented on #7089
### Fluent Updates

**Update bar indicator small label description font size**
- Current: font size: 10px
- Expected(based on toolkit):font size: 12px

[2019-06-20 16:31] marygans commented on #7009
### Fluent Updates

**Update selected hover state**
- Current: no change in background hover color; border animation in place currently.
- Expected(based on toolkit): background color #f3f2f1

[2019-06-20 17:09] #7070 closed

[2019-06-20 18:47] aftab-hassan commented on #9521
thanks @citelao, I noticed the same. We'll just track it here. Wanted to get more input from the team on the behavior of `checkForNoWrap` before we file another issue for the same.

[2019-06-20 19:00] #9422 closed

[2019-06-20 19:37] aftab-hassan commented on #9507
@jacksonv1lle, thanks for pointing that out. Another issue to add to the one you mentioned is that the default state of `isHidden` is set to false, but the `ContextualMenu` still shows up.

@joschect is currently investigating this (took a brief look and feels it could be related to having to set `state` in  `onMenuOpened` and `onMenuClosed`).

[2019-06-20 19:55] aftab-hassan commented on #9499
The root cause for this issue is that the `TextField` does get focus, however, the `Dropdown` gets the focus back. This qualifies as a `Dropdown` focus issue. The same behavior can be seen on other controls also such as `ComboBox` and `SearchBox` when used with `Dropdown`

Spoke offline with @joschect. He is investigating this.

[2019-06-20 19:57] natalieethell commented on #9466
@Harish9450 thanks for the clarification! I see your issue. We'll take a look.

[2019-06-20 20:13] natalieethell commented on #9466
@Harish9450 so we're going to check with the Narrator/Edge team to see if they have an idea as to what's going on here. We'll report back once we get an answer from them!

[2019-06-20 20:15] maxwellred commented on #6749
### Fluent Updates

**Diffs between Toolkit (TK) and Live**

-**List Item Split Button:** When primary button of split button checked, hover no longer results in background color change. Intended functionality?
-**List Item Split Button:** Hover State highlights entire list item. Would you rather it mimic the split button variant of the button component where the primary button is the only compone

[2019-06-20 20:31] micahgodbolt commented on #9507
The button maintains it's own state by default to simplify creating a contextual menu button. If you want to simply own state, and show/hide a separate contextual menu, you are certainly welcome to. This is how you'd do it if we hadn't baked menu into the button.  i.e. the only reason to use the internal button contextual menu is to avoid having to set state yourself.

[2019-06-20 20:53] natalieethell commented on #9463
I'll just note that it looks like all the points are being plotted, but the Callout values for the last data point are wrong.

[2019-06-20 20:56] pmcgannon22 opened #9531 "ResizeGroup throws TypeError: lib.b.getInstance(...).onReset is not a function"
### Bug Report

- __Package version(s)__: @uifabric/utilities v6.41.2
- __Browser and OS versions__: all

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Potentially High. We can use an older package, but this may be affecting others.

#### Describe the issue:

TypeError: lib.b.getInstance(...).onReset is not

[2019-06-20 21:25] ecraig12345 commented on #9522
Thanks for reporting this. For debugging, it would be helpful if you could provide a codepen reproducing the issue. You can start from the template at http://aka.ms/fabricpen or by clicking "Export to CodePen" on one of the [TextField examples](https://developer.microsoft.com/en-us/fabric#/controls/web/textfield).

[2019-06-20 21:31] aftab-hassan commented on #9531
@pmcgannon22, thanks for raising your first issue, and willing to contribute.

Would you mind providing a stable `repro` as part of your pull request for this issue ?

We'd be happy to have it reviewed by one of the `codeowners`.

Here are some Contributing guidelines to get you started: https://github.com/OfficeDev/office-ui-fabric-react/wiki/Contributing

[2019-06-20 21:33] aftab-hassan commented on #9522
Thanks for noticing this and taking a look, @ecraig12345 !

[2019-06-20 21:41] #9435 closed

[2019-06-20 22:00] #9442 closed

[2019-06-20 22:13] aftab-hassan opened #9535 "Clean up Contextual Menu examples"
Examples in ContextualMenu. possibly other components as well, can benefit from cleanup.

Specifically, I see

1. Unused state variables, like for example, [this](https://github.com/OfficeDev/office-ui-fabric-react/blob/659b57cc432a37173324eb06f22ea7a918ecff36/packages/office-ui-fabric-react/src/components/ContextualMenu/examples/ContextualMenu.Basic.Example.tsx#L10) one
2. Unnecessary class compo

[2019-06-20 22:16] aftab-hassan commented on #9522
@realhoffi also, if you could kindly confirm the version, whether `Fabric 6` or `Fabric 7`, that would be useful too.

[2019-06-20 22:21] KeiraYang commented on #9312
Hi @aneeshack4 , with the role passed, it doesn't read the role still. I think something should be fixed. As I tested the alert dialog as W3C given, https://w3c.github.io/aria-practices/examples/dialog-modal/alertdialog.html. It will read the alert dialog. We just wants to get the alert dialog rule to be read when dialog is opened but without customize the string. I also tested the callout compone

[2019-06-20 22:30] natalieethell commented on #9521
@cvirendra thanks for letting us know about this and proposing a fix! I do see that adding `parseFloat` fixes the issue, but I can't seem to figure out why... Do you have a good explanation of as to why? I'm just curious - it's awesome that it fixes it.

If we did go with this approach, we'd also want to make sure we do the same for `_moveFocusRight` and the RTL cases in both `_moveFocusLeft` and

[2019-06-20 22:30] natalieethell commented on #9521
@citelao it looks like adding `parseFloat` fixes those other weird issues you're seeing, too

[2019-06-20 22:31] #9464 closed

[2019-06-20 22:44] natalieethell commented on #9443
@AnjaniChallamcherla in your previous comment, I see errors from the `@uifabric/merge-styles` package. I also see that in your package.json, you're using rush-stack-compiler-2.7. Try upgrading to rush-stack-compiler-2.8 and let me know if that fixes it for you!

[2019-06-20 23:11] micahgodbolt commented on #9312
In that dialog example, upon clicking "discard" narrator simply reads the "Confirmation" string because the alertdialog is labelledby that H2 tag

[code]

These are all values provided by the user, its nothing we bake into the control.

[2019-06-20 23:51] cliffkoh commented on #9535
cc @ecraig12345 @joschect

[2019-06-21 01:32] ecraig12345 commented on #9535
Aftab talked to me about this and said he was planning on working on it.

[2019-06-21 02:32] cvirendra commented on #9521
@natalieethell `toFixed` [returns string](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/toFixed). So without using `parseFloat`

`topBottomComparison = targetRect.top.toFixed(3) < activeRect.bottom.toFixed(3);`

is comparing strings and may not always get us the desired result.

You're correct about making this change everywhere `toFixed` is used in `Focus

[2019-06-21 02:44] DanteMustDie opened #9540 "Panel component's root is missing."
The root is missing:
![image](https://user-images.githubusercontent.com/21332987/59893864-f4441180-9410-11e9-9432-2399c335ce1a.png)

After I changed the max-height of ms-Panel-main to 100%:
![image](https://user-images.githubusercontent.com/21332987/59893936-556be500-9411-11e9-983d-ab27d2581781.png)

Not sure if this is reported or fixed.

[2019-06-21 03:25] #9426 closed

[2019-06-21 04:15] aftab-hassan commented on #9521
@cvirendra, thank you for the explanation and great to know you have a local enlistment working as well. The string comparison makes sense.

Would you be interested in submitting a `PR` for this? We can have a codeowner take a look at it.
Here are some Contributing guidelines to get you started: https://github.com/OfficeDev/office-ui-fabric-react/wiki/Contributing

[2019-06-21 05:01] KevinTCoughlin commented on #9427
[code]

Would these public API changes in `office-ui-fabric-react.api.md` be considered backwards-compatible? Seems to be looking at existing examples after the change.

[2019-06-21 05:03] nishantverma-nagarro commented on #9492
Hi,

The first option looks tricky because I have to create interface that maps all the functions in both Office fabric UI React and React itself. Hope this is what you meant. And also it is not recommended and hence it will not go down well with our clients.

For the second option as well we cannot use it because it is still in preview and so we cannot use it in production web parts. We will be w

[2019-06-21 05:33] realhoffi commented on #9522
hi, it is Version 7.4.2

[2019-06-21 05:43] KeiraYang commented on #9312
I get your idea. But I cannot add the id reference to teaching bubble title and content. Thus I'm trying to add "Alert dialog" to ariaLabel in calloutProps which could work. Thank you for help!

[2019-06-21 06:45] Vitalius1 commented on #9486
@tharshada , you've done some extensive work in `ScrollablePane` and `Sticky`... could you please take a look at this issue as you probably have more context with it. Thanks.

[2019-06-21 07:07] aftab-hassan commented on #9540
@DanteMustDie thanks for opening an issue.

Can you provide us with a few more details or provide us a codepen so we can better understand the issue.

1. Do you mean the `footer` is missing ? Could you elaborate on what you mean by _root is missing_ ?
2. What is the version of `Fabric` being used here?
3. What browser are you running this on?

We have a few examples of `Panel` [here](https://devel

[2019-06-21 07:51] janjachacz commented on #8783
@KevinTCoughlin, this workaround [#8783 (comment)](https://github.com/OfficeDev/office-ui-fabric-react/issues/8783#issuecomment-485930695) only covers the mouse over effect, not the focus management which is very important for a11y.

[2019-06-21 09:29] PavanJagini opened #9543 "Office fabric Modal component - Call out the text in ariaLabel when popup opened"
## Codepen demonstrating the issue

## Actual behavior:
Office Fabric Modal does not callout the text given in ariaLabel when popup is opened

## Expected behavior:
Office Fabric Modal should callout the text given in ariaLabel when popup is opened.
- Our project Bug reference for understanding:
_(removed)_
- Issue identified in tools:  Keros, NVDA

## Documentation describing expected behavior

[2019-06-21 11:13] DanteMustDie commented on #9540
@aftab-hassan thanks for your quick reply.

Actually the footer is not missing. It is rendered outside of the bottom of window in our page. And I found the cause why it works well in examples.

In our page, here is a header following by the content. The header's height is 50px, and the content area's height is 1079px. Window.innerheight is 1129px. But ms-Panel-main 's height is 1129px. So 50px is

[2019-06-21 15:39] unindented commented on #4613
We're seeing this didn't get addressed with the release of Fabric 7. Is anybody actively working on it?

[2019-06-21 15:47] ghost opened #9544 "Calendar component incorrect display"
### Environment Information

- __Package version(s)__: Fabric React 6
- __Browser and OS versions__: Internet Samsung and Android Pie

### Please provide a reproduction of the bug in a codepen:

 The majority of codepen sources available here: https://developer.microsoft.com/en-us/fabric#/controls/web/calendar

#### Actual behavior:

Go to today positioned behind the day numbers and an unexpected

[2019-06-21 15:55] gavinbarron opened #9545 "Web DatePicker: Time selection"
I would like a web implementation of a time picker.

I believe that this would be an expansion of the current web DatePicker as the iOS and Android controls are DateTimePickers.
https://developer.microsoft.com/en-us/fabric#/controls/web/datepicker

No, I have not discussed this with the team.

**Additional context/screenshots**
https://developer.microsoft.com/en-us/fabric#/controls/ios/date-time-p

[2019-06-21 16:00] JoshuaLamusga opened #9546 "How to fix "You have changed the public API signature for this project""
I have forked office fabric and added this repo as upstream, from which I rebase, so my master is up-to-date with the latest here. After making changes, build usually starts failing locally with this message:

13 of 21: [@uifabric/foundation] skipped
[office-ui-fabric-react] started
Warning: You have changed the public API signature for this project. Please copy the file "temp/office-ui-fabric-rea

[2019-06-21 16:02] JoshuaLamusga commented on #9546
Adding that I did not find this information in the readme or in Wiki under github when looking around for it, so I'm not sure about the messsage "See the Git repo documentation for more info" being honest.

[2019-06-21 16:26] #9546 closed

[2019-06-21 16:36] micahgodbolt commented on #9312
If all we need is titleProps that's an easy fix. I think it might be worth while to look into making that association automatic, but adding those props is an easy fix we can do today. @Ben Truelove<mailto:betrue@microsoft.com> what do you feel about teaching bubbles always using
role="alertdialog" and the title being the described by? Is that a good default? Or too noisy and should be set up on a

[2019-06-21 17:31] betrue-final-final commented on #7157
I'm seeing an elevation of 16 in the toolkit. Also 16px line height works.

[2019-06-21 17:38] betrue-final-final commented on #7156
Here's what we want:
-Title Font Size: 20px
-Title Font Weight:  600
-Line Height:  22px
-Padding Top:  18px
-Padding Bottom:  18px
-Padding Left / Right: 28px
-Height :  172px
-Width:  293px (not including beak)
-CommandBar Separator:  width:256px, height: 1px, color: #EDEBE9

In toolkit only

-Callout with quick actions: Title Color = #323130

[2019-06-21 18:00] aftab-hassan commented on #9545
@gavinbarron thank you for submitting a feature request. `TimePicker` is an ask we have been receiving recently. We will add it to our backlog review, and discuss it within the team. Please feel free to check back here or post a comment.

cc: @micahgodbolt @lorejoh12 (coming from the Teams thread where we discussed a _Calendar input with time input included_ : FYI

[2019-06-21 18:08] betrue-final-final commented on #7121
-Border Width:  2px
-Border Color:  #CDE6F7
-Label Font Size: 12px
-Label Spacing:  8px

[2019-06-21 18:16] ps-from-md commented on #9492
I have been struggling with a similar issue with bundle sizes.  My assumption was that if I correctly used imports (import {Button} from 'office-fabric-ui-react') that when webpack ran, it would only include the items I referenced.  However, each time I run webpack analyzer I can see that many components are included that are not referenced and my bundle size is pushing 3 MB (yes, MB).

So, I conf

[2019-06-21 18:22] betrue-final-final commented on #6749
-List Item Split Button: When primary button of split button checked, hover no longer results in background color change. Intended functionality? **This is correct.**
-List Item Split Button: Hover State highlights entire list item. Would you rather it mimic the split button variant of the button component where the primary button is the only component highlighted? **Yes, and I'll correct the tool

[2019-06-21 18:25] betrue-final-final commented on #6711
Label is so not a standalone thing for toolkits. However there is a symbol under textfield. It should be #323130, and the site looks good.

[2019-06-21 18:34] betrue-final-final commented on #6701
Generally Vitalie's changes were based on the realities of code, and are meant to reflect what we want visually.
Update line height for text
Font size / Line-height: 18px / 36px

ContexualMenu dropdown:
Current: Font Size / Line height: 14px / 36px

Toolkit Hover/Focus/Pressed states tracked here: https://tasks.office.com/microsoft.onmicrosoft.com/en-US/Home/Task/_EMm1z7E6UGbUiMHCBpYz5UAMt-h?Type=

[2019-06-21 18:40] betrue-final-final commented on #6745
Update star icon rest state color: #605e5c

Update on hover outline to fill (see screenshot below)
Star outlined with #0078d4 - Will fix toolkit. https://tasks.office.com/microsoft.onmicrosoft.com/en-US/Home/Task/-n1dHizaYE6sMqHMnojaS5UAFZfS?Type=TaskLink&Channel=Link&CreatedTime=636967391979245044

Will remove label for Ratings in toolkit.

[2019-06-21 18:54] betrue-final-final commented on #6747
Current code is actually correct, and from our last meeting we agreed that we didn't need an error hover or focus state.

[2019-06-21 19:19] betrue-final-final commented on #7089
Yes please. Make small label description 12px.

[2019-06-21 19:22] betrue-final-final commented on #7009
Yes, that is correct. Background color should be Gray20 (#f3f2f1)

[2019-06-21 19:38] aftab-hassan commented on #9544
@enriquejr99 thanks for posting an issue.

Could you please provide us a codepen or a screenshot of the issue you are seeing. I am looking at the examples page you linked to, but am unable to see the vertical line you mention.

Also, what browser are you on? I tried looking at it in all of the supported browsers, but I might be missing something here; a codepen would be really useful.

[2019-06-21 19:54] enriquejr99 commented on #9544
@aftab-hassan here you have a codepen example: https://codepen.io/enriquejr99/pen/PrpRZz?&editable=true

I'm using the default web browser that comes pre-installed with all Samsung phones (Samsung Internet Browser 9.2.10.15). You can find it on the Google Play Store. I can also attach a screenshot if you are still unable to reproduce it.

[2019-06-21 19:58] enriquejr99 commented on #9544
I can also confirm this happens on mobile Chrome 74.0.3729.157.

[2019-06-21 20:15] aftab-hassan commented on #9543
@PavanJagini thank you for posting an issue.

I followed the steps in the work item you linked to. However, I wasn't able to reproduce the issue since I don't have anything under _Pending Actions_.

Could you kindly provide us a codepen so we can better understand the issue ?

Also, I have made a note of the `PBI` you have open for this (and stays on GitHub comment history as well). We recommend n

[2019-06-21 20:27] daveparslow commented on #9427
Isn't ReadonlyArray<any> exactly the same semantically as readonly any[] in TypeScript 3.3?

![image](https://user-images.githubusercontent.com/8826580/59949564-565c4100-9428-11e9-98a8-dc632142359d.png)

[2019-06-21 20:56] aftab-hassan commented on #9544
@enriquejr99 thank you, we see it.

<img width="191" alt="calendar-bug" src="https://user-images.githubusercontent.com/8922176/59950961-49d9e780-942c-11e9-8fa4-c11df79e1eac.PNG">

Marking as `bug`. We are working on a fix for this. Thank you for providing a codepen!

[2019-06-21 21:16] lancegliser commented on #8755
@durunvo, I'm hesitant to force my team into the management of all configs as that intends. It's impossible to know what's going to be an issue in the future as it falls out of sync. I'm content to wait on @kenotron for a bit longer.

I took another crack at this today using https://github.com/kenotron/create-react-app-uifabric for guidance. I was able to get everything running and testing for the

[2019-06-21 21:33] ecraig12345 commented on #9522
Could you provide a codepen (instructions in previous comment) reproing the issue? Without a repro, I'm not sure what you mean about `onChange` getting called twice--just the fact that we use the object version of setState instead of the callback version shouldn't cause that.

[2019-06-21 22:36] #9508 closed

[2019-06-21 22:39] ecraig12345 commented on #4613
Are there some particular fixes you're interested in that haven't been done yet? @jdhuntington made some fixes as part of Fabric 7.

[2019-06-21 22:43] KevinTCoughlin commented on #8783
@janjachacz can you clarify the above? Should focus not occur when `selectionMode === 'none'`?

Is the expectation that a user only read the row content in scan mode then?

Note that we still have the `onItemInvoked` callback that can be issued when selection is disabled which modifying focus behavior would break.

[2019-06-21 23:07] KevinTCoughlin commented on #4613
List's changes had to be reverted due to runtime errors in dogfood.

https://github.com/OfficeDev/office-ui-fabric-react/issues/7690#issuecomment-470700884

[2019-06-21 23:14] unindented commented on #4613
@ecraig12345 we were looking forward to wrapping our whole app in `StrictMode` to get ready for `AsyncMode`, but in order to do that we need all components to be clean of deprecated lifecycle methods.

[2019-06-21 23:24] aftab-hassan commented on #9492
@nishantverma-nagarro We understand this is a major issue and affects page load time and performance.

The `SPFx Library component` will be `GA` in the near future. Please try using it when `GA` and let us know if it was helpful in your scenario. Also, please feel free to post your questions with an `SPFx` label on `stack overflow` as well since this page tracks mainly `Fabric` issues, and you mig

[2019-06-22 03:12] aftab-hassan commented on #9492
@ps-from-md thanks for commenting on this issue. I don't have an answer to your question right away, but will come back once I have something to share.

[2019-06-22 03:51] aftab-hassan commented on #9540
@DanteMustDie thank you for your explanation. That explains why you are hitting an issue, which is not seen in the examples.

@kkjeer, On windows devices, having a header pushes the Panel down and is rendered outside the bottom of the page.

Could it be due to changes introduced in this `PR` https://github.com/OfficeDev/office-ui-fabric-react/pull/9351. The version number seems to be the same, `6.

[2019-06-22 06:24] PavanJagini commented on #9543
Sure, will get back to you with the details in sometime

[2019-06-22 20:06] aftab-hassan commented on #9543
Sounds good, thank you!

[2019-06-22 20:12] aftab-hassan commented on #9498
I am still looking in to this.

I believe the root cause is that, in this line, `IE` does not detect keyboard press as a `MouseEvent`, whereas, other browsers do. I will look for a way to invoke this function on both `KeyBoard` as well as `MouseEvent`, and not break the behavior on other browsers.  https://github.com/OfficeDev/office-ui-fabric-react/blob/7fb25fe44a8b5d35f08ffd2384921f006cbf170d/pa

[2019-06-24 07:35] cnamal commented on #8783
We have a guideline that non actionable items shouldn't be focusable. Therefore, like you said, screen reader users would only be able to read the table through scan mode.
However, I wasn't able to find a WCAG/MAS rule associated with that guideline. Let me get back to you after talking with some SME.

[2019-06-24 08:47] bramdejager commented on #9444
@Jahnp I have downloaded the new package 1906. I have good and bad news. I see new icons popping up like the unicode EE0F. That's the good news!
![image](https://user-images.githubusercontent.com/13313123/60004550-2356bf00-966d-11e9-91bc-24269ec8761e.png)
Sadly I have some bad news too, it looks it is missing icons (at least 1 specific icon). The unicode F44D is missing from the font set. The unic

[2019-06-24 09:25] vibaranw commented on #5219
Its vivek, i am writing from my microsoft mail account.
@micahgodbolt
we are on 6.150.0 version. I will be happy to contribute. But, I am not familiar with the code. Not sure, where should i make the changes. Could you please help me with that?

[2019-06-24 12:26] lalena205 opened #9556 "Persona component displaying blank images"
### Environment Information

- __Package version(s)__: 7.4.3
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

We ( https://to-do.microsoft.com ) are trying to use Persona component for displaying members of a shared list. These are all users with an exchange mailbox. The avatar URL is set on the Service side, and it seems that

[2019-06-24 12:35] sthada opened #9557 "Issue with breadcrumb"
Issue faced:

My state variable is:

[code]

[code]

I want to remove all the elements coming after the clicked one (e.g. if I click on breadcrumb with key 'f1', the breadcrumb to be displayed must be with keys 'f0' and 'f1' and the breadcrumb NOT to be displayed are with keys 'f2' and 'f3' ).

Apart from it i am not able to set State in `_onBreadcrumbItemClicked` event as i want to navigate and r

[2019-06-24 12:57] sureshnote commented on #7289
Hi kkjeer, I have the scenario. That I have created a DatePicker dynamically. That case its not working. Please suggest me on this.
this._myFields.push(<DatePicker label={field.Title} value={this.state['Approved Date'] !== undefined ? this.state['Approved Date']['value'] : ''}  onSelectDate = {this.setInputValue.bind(this,field.Title,field.TypeAsString , field.InternalName)} isRequired={field.Requ

[2019-06-24 14:04] ps-from-md commented on #9492
@aftab-hassan @nishantverma-nagarro

So, I spent a couple hours on this last Friday trying to figure out there was anything in our code-base that could be causing issues.  I tried many different changes, but nothing seemed to work... except one.

When I updated the imports to reference the items in the lib, the package shrunk significantly.  In the WebStorm IDE, when you have multiple imports that

[2019-06-24 15:51] #9521 closed

[2019-06-24 15:59] micahgodbolt commented on #9556
I did a quick reduced test case (your example won't work in codepen as is). The persona is working properly if you pass in an invalid image URL

https://codepen.io/micahgodbolt/pen/dBRNxy?editors=0010

![image](https://user-images.githubusercontent.com/1434956/60033878-47f76a80-965e-11e9-939b-fc645d8882ee.png)

We'd be happy to try and figure out what's going wrong, but I don't believe it is the p

[2019-06-24 16:00] KevinTCoughlin commented on #9556
Thanks @micahgodbolt. To add to the above, the relevant LoC is: https://github.com/OfficeDev/office-ui-fabric-react/blob/cceec3b0ad44e2a5d47db0b55c6ca898c6413235/packages/office-ui-fabric-react/src/components/Persona/PersonaCoin/PersonaCoin.base.tsx#L96

[2019-06-24 16:25] aftab-hassan commented on #9492
thanks @ps-from-md. Glad to know that pointing to the specific control helps reduce bundle sizes.

[2019-06-24 16:47] aftab-hassan commented on #9531
@pmcgannon22, there is a new release of `@uifabric/utilities v6.41.3` where the issue you reported should be handled.

Could you try upgrading to the newest release and let us know if you are still facing issues ? https://github.com/OfficeDev/office-ui-fabric-react/releases/tag/@uifabric/utilities_v6.41.3

[2019-06-24 16:48] #9492 closed

[2019-06-24 17:12] joschect commented on #5219
@vibaranw and @micahgodbolt I think that this is a good ask. I'm not quite sure the right way to go about implementing it though. The picker code is a bit complicated and implementing something like this might be touch a few areas. I'll take a look when I get some time and see if I can provide more guidance.

[2019-06-24 17:48] KevinTCoughlin commented on #9557
Before I explore your ask I'd like to make sure I fully understand it. My understanding is:

You would like an example showing how to hide `Breadcrumb` options after an option is selected. In this case hiding / removing the options which have a key that comes after the option selected.

Is the above correct?

Have you tried recreating the `items` array after a user action?

[2019-06-24 17:58] dliu120 opened #9561 "GroupedList : 'Show All' does not work"
### Environment Information

- __Package version(s)__: 6.187.0

### Please provide a reproduction of the bug in a codepen:

'Show All' does not appear to work for GroupedList
https://codepen.io/anon/pen/gNmKWJ?editors=0010

#### Actual behavior:

Clicking 'Show All' does not expand the list.

#### Expected behavior:

It should expand the list

#### Priorities and help requested:

Are you willing t

[2019-06-24 18:00] #9481 closed

[2019-06-24 18:00] #9361 closed

[2019-06-24 18:19] KevinTCoughlin commented on #9561
Hrmm thanks for the report @dliu120, this should most definitely work. We'll take a look and circle-back.

[2019-06-24 18:28] micahgodbolt commented on #9485
I think for now, if the Textfield is working properly, they should stick with that solution. Our searchbox doesn't leave room for that suffix, and removing the "X" would have negative accessibility impact.

i.e. it's a good idea for the backlog, but not something we'd prioritize right now.

[2019-06-24 19:49] efrack opened #9562 "Announced - Quick Actions demo does not read for consecutive renames/deletes"
## Codepen demonstrating the issue
The demo on:
https://developer.microsoft.com/en-us/fabric#/controls/web/announced/quickactions

## Actual behavior:
Narrator reads the first delete/rename action in a row and does not read anything if the same action type is repeated consecutively, even after long waits.

## Expected behavior:
If the user deletes multiple times in a row, it would announce each de

[2019-06-24 19:52] lalicari commented on #5191
Ah, that's it, thanks!

[2019-06-24 20:36] kkjeer commented on #7289
Hi @sureshnote, could you please create a CodePen that shows the behavior you're observing? Please feel free to fork my CodePen above (https://codepen.io/kkjeer/pen/wQZwQv) as a starting point that uses the DatePicker component. Thanks!

[2019-06-24 20:39] citelao opened #9563 ""Skip to content" link does not work on Fabric documentation page"
## Reproduce

1. Open [a page of Fabric component documentation](https://developer.microsoft.com/en-us/fabric#/controls/web/focuszone)
1. On page load, tab once until you see the "skip to main content" section appear.
1. Press enter.

## Actual behavior:

1. Navigates to a 404 page.

## Expected behavior:

1. Page scrolls to (& focus starts at) content.

[2019-06-24 20:39] citelao commented on #9563
I could not find the repo for the documentation webpage :).

[2019-06-24 23:47] KevinTCoughlin commented on #9563
Thanks for the report @citelao. We'll take a look and provide a fix!

Can repro via https://developer.microsoft.com/en-us/fabric#mainContent

[2019-06-25 06:11] sthada commented on #9557
yes @Kevin i tried that and the above is correct. I am not able to call function or use setState inside **onReduceData={this.navigateThrough}** or **_onBreadcrumbItemClicked** .

Apart from this i can not redirect the page or use routing inside any method.
i am trying with this.props.history.push('/page1');

[2019-06-25 07:09] MarcOne68 opened #9567 "latest version on npm is 5.135.1"
HI, why the latest version on npm is 5.135.1 ?

[2019-06-25 07:44] lalena205 commented on #9556
Sorry, my bad in having investigated better & reporting proper repro steps. It seems that the url is not broken,  as you can see by checking this one (this is one of the failing ones)
https://storage.live.com/users/0x1EAA72BE25A4BBE5/myprofile/expressionprofile/profilephoto:UserTileMedium/avatar?ck=1&ex=1&fofoff=1
What happens is that it resolves by returning a 1x1 gif. Making a HEAD request previ

[2019-06-25 09:13] vmary2014 opened #9568 "ShimmerDetailsList - onRenderMissingItem doesn't fire."
- __Package version(s)__: 7.5.0

Hi

I recently updated my project to use Office React package 7.5.0 from 6. One thing we had is we used a DetailsList component with infinite scrolling and enabling of the shimmer when data was being loaded. This was working fine.

However since version 7.0, Office React doesn't contain the shimmer properties on the DetailsList anymore and so I tried to update usin

[2019-06-25 09:44] jacksonv1lle commented on #8494
This would be a nice feature. I am currently using the calendar as a search filter where the user can select a date range. I am using minDate and maxDate to specify the range but I would also like to highlight the min and max dates after the user has selected them.

[2019-06-25 10:31] vmary2014 commented on #9568
Looking further and taking the source code of the office react project, I looked at the tests for the DetailsList and ported one test to the ShimmerDetailsList as follow :

`it('shimmerDetailsList invokes optional onRenderMissingItem prop once per missing item rendered', () => {
    const onRenderMissingItem = jest.fn();
    const items = [...mockData(5), null, null];
    mount(<ShimmeredDetailsLi

[2019-06-25 13:39] qqli1209 commented on #8862
Hi @lorejoh12 , the old calendar still has a great many users. And we should keep the component downward compatible. Could you please also update the old one? Thanks!

[2019-06-25 14:41] cnamal commented on #8783
@KevinTCoughlin confirmed with a11y experts.

[2019-06-25 15:36] sureshnote commented on #7289
Hi kkjeer, this issue exists in my current dev environment. I'm unable to reproduce the issue in the codepen.
https://codepen.io/sureshnote/pen/XLgxZj. Anyway thanks for your support.

[2019-06-25 16:12] #9478 closed

[2019-06-25 16:17] KevinTCoughlin commented on #9568
Thanks for your detailed report @vmary2014. We'll take a look and get back to you soonest!

[2019-06-25 16:20] KevinTCoughlin commented on #9567
@MarcOne68 I see latest on NPM listed as `7.5.2`:

![image](https://user-images.githubusercontent.com/706967/60115231-56ab5380-972a-11e9-964c-92e9904730aa.png)

https://www.npmjs.com/package/office-ui-fabric-react

[2019-06-25 16:23] KevinTCoughlin commented on #9562
@natalieethell, seeking your guidance regarding the above issue -- thank you!

[2019-06-25 17:59] ecraig12345 commented on #9563
@Jahnp @jordandrako @kenotron FYI (add this to the list of reasons for moving to our own site...)

[2019-06-25 18:09] kkjeer commented on #9540
@DanteMustDie @aftab-hassan thanks for reporting this! I'm currently investigating possible fixes.

[2019-06-25 19:32] Pangamma opened #9574 "Ability to toggle DetailsList row and not deselect other rows when clicking"
**Describe the feature that you would like added**
https://stackoverflow.com/questions/56692224/how-to-toggle-office-ui-fabric-detailslist-row-selection-using-the-entire-row-as

**What component or utility would this be added to**
DetailsList
https://developer.microsoft.com/en-us/fabric#/controls/web/detailslist

**Have you discussed this feature with our team, and if so, who**
I have not.

**Addi

[2019-06-25 21:48] riosn-n opened #9576 "[Panel] Header text doesn't gracefully handle long texts with no spaces"
### Environment Information

- __Package version(s)__: (7.5.2)

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/PrKaje

#### Actual behavior:

Scrollbar appears.

#### Expected behavior:

Title is broken into multiple lines.

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes)

Requested priority: (Normal)

Products/sites affect

[2019-06-25 22:07] kkjeer commented on #9540
Hi @DanteMustDie, I have a potential fix that involves removing `height: windowHeight` from the Panel's `main` div. So that I more fully understand your scenario (and can more comprehensively test my fix), could you tell me how you are achieving the styles that put the Panel component underneath your header? (Does the Panel have a custom style that involves `margin` or `top`, is the Panel inside a

[2019-06-25 22:51] aftab-hassan commented on #9540
thanks @kkjeer !

[2019-06-25 22:52] leddie24 commented on #9486
Hey @aftab-hassan, did some digging around here.  This is a little bit of a tricky issue, not entirely sure what the best solution would be.  This is happening because ScrollablePane/Sticky moves the element from stickyAbove container to the scrollableContent region (and vice versa) upon being sticky/unsticky'd. Whenever this happens, any css animations will trigger again.

One solution comes to m

[2019-06-25 23:35] KevinTCoughlin commented on #9574
Thanks for your question @Pangamma. I believe this is possible with current code albeit not straight forward. I will try to provide a solution and if successful document it on our wiki or similar. If not then we can figure out a design for the feature.

[2019-06-25 23:37] KevinTCoughlin commented on #9576
Thanks for your report @riosn-n! I think your ask can be supported using styles for the header element. I will attempt to do that and provide an example to you. Then we can consider if those styles should be default behavior or better documented.

[2019-06-25 23:59] KevinTCoughlin commented on #9576
Oh I just fully read your report where you note that this is possible i.e. https://codepen.io/kevintcoughlin/pen/XLaPVO.

Can you clarify your ask @riosn-n? Is it that these styles be the default for `headerText`?

That seems reasonable, but I'd have to check with @kkjeer if there are any cases where that would break existing partners.

[2019-06-25 23:59] riosn-n commented on #9576
Thanks, @KevinTCoughlin. As you mentioned, styling the header element eliminates the problem. See above the list of style rules I'm using to fix it. The reason for opening this issue is not to unblock myself, but to call out that the Panel doesn't behave the same when there are spaces and when there are no spaces in a long title. IMO we should consider adding those styles by default.

[2019-06-26 00:04] KevinTCoughlin commented on #9576
@kkjeer do you know if the handling of long text with and without spaces is intentional? Should we normalize the behavior to overflow ellipsis as suggested by @riosn-n?

We can discuss offline if need be.

[2019-06-26 02:11] aftab-hassan commented on #9486
@leddie24 thanks for taking a look. We don't seem to have a codeowner for either of these components. @tharshada @dzearing, would you have any thoughts on @leddie24's proposed solution ?

[2019-06-26 02:12] aftab-hassan commented on #9498
Update on this. This is failing at
![image](https://user-images.githubusercontent.com/8922176/60145779-fa711f80-977b-11e9-9490-b05173fa4354.png)

at this line
https://github.com/OfficeDev/office-ui-fabric-react/blob/bf912f0679f7c54bfd6864c6e8b7a9dfc2de128b/packages/utilities/src/dom/raiseClick.ts#L3

because the `Event()` constructor is [not supported](https://developer.mozilla.org/en-US/docs/Web/

[2019-06-26 06:49] Xannic commented on #8269
Any progress on this? I would love to use the searchbox with suggestions in my project but I don't get how those suggestions can be rendered.

[2019-06-26 10:59] x73x63 opened #9581 "document Panel - Navigation example bug"
### Environment Information

- __Package version(s)__: 7.5.2
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

1. Copy Panel - Navigation code to PanelNavigationExample.tsx

2. import use PanelNavigationExample component

3. Failed to compile

 Type '(props: IPanelProps, defaultRender: IRenderFunction<IPanelProps>) => Element' i

[2019-06-26 12:45] cnamal commented on #8783
I noticed, I didn't respond to this part:

That is tricky indeed. You could add the `FocusZone`/`data-is-focusable` only if `selectionMode!==SelectionMode.none || onItemInvoked`, though I admit it's not great :/ (and I'm probably missing some use cases)

[2019-06-26 12:51] cnamal opened #9582 "[Narrator] Can't invoke DetailsList items in scan mode"
Go to https://developer.microsoft.com/en-us/fabric#/controls/web/detailslist
Start Narrator
Tab until you get to the first item _Lorem ipsum.accdb_
Hit Enter-> alert is opened saying `Item invoked: Lorem ipsum.accdb`
Hit Enter to close the dialog
Start Scan Mode
Hit Enter
**Expected:** alert is opened like in normal mode
**Actual:** nothing happens

[2019-06-26 13:26] Toonshorty commented on #9567
@KevinTCoughlin I can vouch that when I checked yesterday the latest version was 5.135.1, this had overwritten the 7.5.1 release as the latest. It looks like the 7.5.2 release has resolved this though.

[2019-06-26 15:12] KevinTCoughlin commented on #9581
Thanks for your report @x73x63. Do you mind sharing what version of TypeScript you were using when you saw the above compiler error?

[2019-06-26 15:41] KevinTCoughlin commented on #9567
As always we appreciate the report and will keep an eye out. I'm not sure what happened there. I'm going to close since this seems to be resolved from our end.

[2019-06-26 15:41] #9567 closed

[2019-06-26 16:00] unindented commented on #9214
@kenotron where should we discuss this? We're seeing heavy Flash of Invisible Text when using Fabric in our app.

[2019-06-26 18:31] KevinTCoughlin commented on #9576
Started a thread, let's see what the conclusion is. I'm in favor of adding the styles by default. The justification makes sense.

[2019-06-26 20:08] rcasto opened #9588 "Can't have placeholder with a multiline TextField"
### Environment Information

- __Package version(s)__: 6.190.0
- __Browser and OS versions__: Chrome

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/anon/pen/BgwVMO?&editable=true

#### Actual behavior:
 It appears a multiline TextField cannot have a placeholder

#### Expected behavior:
A multiline TextField should render with a placeholder, if specified.

#### Prior

[2019-06-26 20:16] KevinTCoughlin commented on #9588
This seems like a reasonable request. @ecraig12345 do you have any concerns regarding the above before I work on an implementation?

[2019-06-26 20:35] ecraig12345 commented on #9588
The placeholder is just a native prop which we pass through to the `<input>` or `<textarea>`, but apparently for `<textarea>` (multiline) it [should be supported](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/textarea) but isn't getting passed through because `placeholder` is missing from `textAreaProperties` in `packages/utilities/src/properties.ts`. (Thanks @rcasto for including a co

[2019-06-26 20:56] #9373 closed

[2019-06-26 21:07] wkuna opened #9591 "Need for component isolation via ShadowDOM or iFrame."
**Problem faced**

We have conflicting styles when loading a fabric UI component from a content script.
When using components such as Callout, Compound Button, etc., we see global styles being inherited, thus we are facing unpredictable style rendering across websites.

**Proposed solution**

We need component isolation in order to incapsulate all the style definitions.
We've identified two possib

[2019-06-26 21:19] JoshuaLamusga opened #9592 "Keyboard key to open suggestions in base picker"
Follow-up to pull request #9547

## Actual behavior:
There is no way to open picker suggestions by keyboard without affecting the input in the textbox.

## Expected behavior:
There should be an easily-discoverable keyboard action that shows picker suggestions as its only side effect. Users that have closed picker suggestions currently type to open it again, which may be slightly inconvenient.

##

[2019-06-26 22:46] HalcyonPride opened #9597 "ScrollablePane-Accessibility: Narrator can't read the Sticky headers in Scan Mode"
## Codepen demonstrating the issue
https://developer.microsoft.com/en-us/fabric#/controls/web/scrollablepane
See Default example under 'Usage'.

## Actual behavior:
In Scan Mode, Narrator skips the header and reads the content immediately instead.

## Expected behavior:
In Scan Mode, Narrator reads the header and then the content.

## Documentation describing expected behavior
The actual non-Stick

[2019-06-26 23:57] jaimereyesmx opened #9598 "Fabric UI DetailsList should allow me to change circle check boxes to square check boxes"
**Describe the feature that you would like added**
I can't easily change circle check boxes in a Detailslist to be square check boxes.

**What component or utility would this be added to**
DetailsList

**Have you discussed this feature with our team, and if so, who**
First time reporting this issue, didn't find any documentation on how to change the circle check boxes

**Additional context/screens

[2019-06-27 01:13] x73x63 commented on #9581
Thank you for your help, Has nothing to do with TypeScript vsrsion, The problem is compiler-options.

create-react-app --typescript default tsconfig.json
`{"strict": true,}`

strict": true //Failed to compile

strict": false //OK

[2019-06-27 01:30] #9214 closed

[2019-06-27 02:08] x73x63 commented on #9581
strictFunctionTypes": true  //Enable strict checking of function types.  Failed to compile

[2019-06-27 02:10] KevinTCoughlin commented on #9581
Thank you, that is useful information as part of the issue report :). I will discuss with the team and get back to you soonest.

[2019-06-27 02:25] mdtauk commented on #7244
Right To Left should have the direction reversed.

Also there could be a Starting Angle if there is a need to change that.

[2019-06-27 04:36] sureshnote commented on #7289
npm install office-ui-fabric-react@5.124.0 --save (Going back to the older version of this resolves the issue). :-(

[2019-06-27 04:37] #9576 closed

[2019-06-27 05:28] aftab-hassan commented on #9543
@PavanJagini  and I spoke offline. The request is to be able to have the screen reader read out a string such as "Justification popup opened" passed in as a prop to `Modal`, upon opening the `Modal`.

Thank you for walking me through the desired behavior. We are looking in to this.

[2019-06-27 07:27] pandey11 opened #9601 "Narrator is not reading role of Text Field, ComboBox, TagPicker"
### Bug Report
Requested priority: Medium
#### Describe the issue:

Narrator is not reading type of control of Text Field, Combo Box, Tag Picker

#### Actual behavior:
It's reading Label, editable or not but not type of control

#### Expected behavior:
screen reader should narrate the role as Text field

### If applicable, please provide a codepen repro:
Not needed

[2019-06-27 10:36] AnjaniChallamcherla commented on #9443
@natalieethell Sorry for late reply
I upgraded rush-stack-compiler to 2.8
Still couldn't fix the error.
My OUIF version: 6.143.0

Below is my package.json:
`{
  "name": "rw-projects",
  "version": "0.0.1",
  "private": true,
  "engines": {
    "node": ">=0.10.0"
  },
  "scripts": {
    "build": "gulp bundle",
    "clean": "gulp clean",
    "test": "gulp test"
  },
  "dependencies": {
    "@microso

[2019-06-27 11:40] Markionium commented on #9556
In LPC (LivePeopleCard) we have the same problem with the 1x1 picture. We have written some logic around the Persona that checks if the image is 1x1 in size and not pass in the URL.

We basically load the image in an off screen `Image` and onload check if it is a 1x1 image. If not we set the imageUrl on the `<Persona />`.

I think that this is more of an issue of strange behaviour by the image end

[2019-06-27 15:47] micahgodbolt commented on #9556
Thanks @Markionium, I agree that it's odd how instead of a 404 you're getting a valid 1x1 image. Sounds like the solution for now is to validate that you have an actual image before setting that image URL on the persona.

[2019-06-27 17:55] KevinTCoughlin commented on #9598
Hey @jaimereyesmx, thank you for raising this issue. IIRC there is a way to customize the checkbox in the way that you desire, but it is a bit involved. I will try to put together an example and get back to you. If it works we should document it.

One of the issues is selection behavior needs to be handled if not using the default check render, but I think that is solvable last we tried this.

[2019-06-27 18:02] rcasto commented on #9588
Just curious, would this fix get ported to a 6.x.x package release? Not sure exactly how that works

[2019-06-27 18:04] KevinTCoughlin commented on #9592
Makes sense. Do you plan to make a PR @JoshuaLamusga adding the keyboard command? cc: @joschect

[2019-06-27 18:05] KevinTCoughlin commented on #9591
@Rajeev-K is doing some exploration here regarding any limitations faced in using Fabric components within ShadowDOM. We'll circle-back at the conclusion of that work with next steps.

[2019-06-27 18:12] KevinTCoughlin commented on #9601
@pandey11 can you link to the ARIA spec for the above request? Ideally from https://www.w3.org/TR/wai-aria-1.1/.

It will help us triage and provide a solution.

I noticed while testing Narrator + native inputs that the _type of_ input is not announced, only that the element with focus is an "input".

Example: https://jsfiddle.net/Lz3op9se/

Narrator output:

[code]

Hence why it will be good to s

[2019-06-27 18:23] KevinTCoughlin commented on #9597
Seems like a legitimate accessibility issue. I will need to dig and see what would be involved to fix cc: @tharshada.

Will get back to you on this soonest.

[2019-06-27 18:27] ecraig12345 commented on #9588
Thanks so much for fixing this! Porting doesn't happen automatically, someone has to cherry-pick the change into a branch based on the `6.0` branch, then make a PR into `6.0`. If you don't mind porting the change, that would be great! Otherwise @KevinTCoughlin or I can do it.

[2019-06-27 18:27] ecraig12345 commented on #9588
I'll reopen this until the port is done.

[2019-06-27 18:33] #9498 closed

[2019-06-27 19:25] rcasto commented on #9588
Went ahead and tried my hand at porting to the `6.0` branch

[2019-06-27 21:11] #9531 closed

[2019-06-27 21:47] cschlechty commented on #8532
The command bar is a type of menu, with menu items, so all subsequent menus will be submenus, no?

[2019-06-27 21:48] natalieethell commented on #9443
@AnjaniChallamcherla in your package.json, I see office-ui-fabric-react version 5.135.0. Is that up to date?

[2019-06-27 21:53] aftab-hassan commented on #9543
@PavanJagini, we discussed this within the team, and feel that the `Modal` announcing a custom string is not a supported use case, and also not uniform with the rest of the components.

Instead, we recommend using the `Announced` component and embedding the announcement, as part of the inner content of the `Modal`. Here is the link to the documentation for `Announced` component.   https://develope

[2019-06-27 21:57] SavannahBourgeois opened #9615 "Expose onKeyDown for Dialogs"
**Describe the feature that you would like added**
It would be great if you could expose onKeyDown from the dialog props so we could listen to keydown events on the dialog.

**What component or utility would this be added to**
Dialog

**Have you discussed this feature with our team, and if so, who**
nope

**Additional context/screenshots**

[2019-06-27 22:06] maxwellred commented on #6742
### Fluent Updates

- I'm assuming all the dimension diffs are correct live but I thought i'd flag them for updating in the toolkit.

**Toolkit Issues**
- **Title Top Padding:** Live = 16px / TK = 14px
- **SubText Left/Right Padding:** Live = 24px / TK = 22px
- **SubText Bottom Margin:** Live = 20px / TK = 19px
- **Large Header Example:** Live but not found in toolkit
     - Live under "Dialog" >

[2019-06-27 22:07] KevinTCoughlin commented on #9615
@kkjeer thoughts on the above feature request before I approach implementation?

[2019-06-27 22:12] cschlechty commented on #9543
When AT encounters changes of context, like modals it'll often announce the entire contents of the modal region, similar to a fresh page navigation. Given this behavior and the ARIA standard, adding additional announcing would likely be a regressions. In your modal, are you shifting focus to it? If it is truly transient and doesn't require action, it should be some control other than modal (not ta

[2019-06-27 22:53] #9561 closed

[2019-06-28 00:27] #9540 closed

[2019-06-28 01:15] JoshuaLamusga commented on #9592
I don't if someone else can take it. The issue existed before my PR, though it became easier to identify as a missing scenario after my PR went in. I'm trying to keep my focus in one (different) repo for speed.

[2019-06-28 04:59] #7198 closed

[2019-06-28 06:39] ecraig12345 commented on #6075
Reopening since this isn't fully fixed

[2019-06-28 07:23] jmfrancois commented on #5582
We have used react-jsonschema-form during two years. One of the main issue we had with:
Data model drive the ui, so if you want to add a button in the middle of the form, or just add fieldset or tabs you must first change the payload.

At talend we have evalutate http://schemaform.io/ and port it to React
https://github.com/Talend/ui/tree/master/packages/forms/src/UIForm

After two years on it we

[2019-06-28 07:43] thangchung commented on #4357
+1 for the updating, because of Blazor has become the real project and needs to have a UI with Microsoft standard

[2019-06-28 08:55] pandey11 commented on #9601
@KevinTCoughlin
please refer below links for more details

https://www.w3.org/WAI/PF/GUI/roleTaxonomy-20060508.html
https://www.w3.org/TR/UNDERSTANDING-WCAG20/ensure-compat-rsv.html

[2019-06-28 09:38] AnjaniChallamcherla commented on #987
@muraray I had the same error
I ran `npm i lts office-ui-fabric-react`
and everything fixed
Hope it helps

[2019-06-28 09:46] AnjaniChallamcherla commented on #9443
Yes, its up to date

[2019-06-28 13:08] PavanJagini commented on #9543
- Hey @aftab-hassan & @cschlechty , Thanks a lot for your inputs. I shall try the options suggested by you and try to fix the issue.

- Coming to your point @cschlechty, the reason for going to modal box/ popup is to show the comments to admin which will have users explanation requesting why the user needs access to the application. Max length of this input is around 600 chars. Hence we had to opt

[2019-06-28 15:59] KevinTCoughlin commented on #9443
@AnjaniChallamcherla, the fix for this missing type is not available in `office-ui-fabric-react` versions `5.x`. However _it is available_ in versions `6.x` and greater. Looking at your `package.json` in https://github.com/OfficeDev/office-ui-fabric-react/issues/9443#issuecomment-506292596, your project has `office-ui-fabric-react` pinned to a version that does not contain the fix:

[code]

[2019-06-28 18:31] aftab-hassan commented on #9543
@PavanJagini , thank you and let us know how it goes.

[2019-06-28 18:38] KevinTCoughlin commented on #9592
OK, I'm going to have the component owners backlog review this item as it will require discussion re: the interaction pattern and key to be used.

[2019-06-28 21:52] KevinTCoughlin commented on #9615
@SavannahBourgeois would you mind explaining the use case a bit further before we make the change to support? We can follow-up offline if you wish.

[2019-06-29 15:47] x73x63 opened #9631 "Overlay component IOverlayProps interface add onOverlayDidMount and onOverlayWillUnmount properties"
**Describe the feature that you would like added**
IOverlayProps interface add onOverlayDidMount and onOverlayWillUnmount properties

**What component or utility would this be added to**
Allow parent component setting whether to hide the scroll bar

**Have you discussed this feature with our team, and if so, who**

**Additional context/screenshots**

[2019-06-29 15:52] pitric commented on #9522
Having the same issue. In the following simple example the forEach loop runs twice.

[code]

[2019-06-29 16:05] x73x63 opened #9632 "IPanelProps interface add overlayProps properties"
**Describe the feature that you would like added**
IPanelProps interface add overlayProps properties

**What component or utility would this be added to**
Optional props to pass to the Overlay component hosting the panel.

**Have you discussed this feature with our team, and if so, who**

**Additional context/screenshots**

[2019-06-29 21:00] #9499 closed

[2019-06-30 08:35] web-warrior opened #9633 "FocusTrapZone example page bug"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

the demo page breaks all links and left navigation when any o the trap zones have focus

#### Expected behavior:

#### Priorities and help requested:

Are you willing to submit a PR to f

[2019-06-30 12:55] alaatm opened #9634 "DatePicker - Custom Calendar System"
Are there any documentation on how to implement custom calendar system for DatePicker. For example to support Hijri calendar system.

[2019-06-30 18:21] sthada commented on #9557
Hi @KevinTCoughlin , let me rephrase what i am trying to do, i want to use routing or navigate to different page using breadcrumb, Can you suggest me how to do that.

[2019-07-01 01:36] #9543 closed

[2019-07-01 06:06] mirajp commented on #9557
@sthada when you say you aren't able to setState inside the `_onBreadcrumbItemClicked` function, do you mean you get an undefined error for `this.setState`? If you're getting an undefined reference error, you may need to bind the function in your parent Component/page class's constructor so that on click `this` scope is that of the parent React Component (or simply use an arrow function); refer to

[2019-07-01 07:37] adhithyar commented on #9118
@aneeshack4 Hey Aneesha!!! Sorry it took a long time for me to get back to this. I really appreciate your patience. I also really appreciate the fact that both @JasonGore and you are jumping in to help.

An update to my original bug report - Firefox is now not loading these fonts anymore. But, Chrome, Edge and IE are still loading these fonts everytime and these fonts are render blocking.

Regardi

[2019-07-01 11:52] rhublard opened #9636 "Buttons styling not using corresponding semanticColors"
### Environment Information

- __Package version(s)__: 7.6.2

### Please provide a reproduction of the bug in a codepen:

Here's an example in [Codepen ](https://codesandbox.io/s/button-styling-4v24g) with some attempt to underline what is updating the button styles and what is not. (I apologize for the choices of colors, I tried to make it relevant)

https://codesandbox.io/s/button-styling-4v24g

[2019-07-01 12:02] v-hegoel opened #9637 "[Accessibility][Screen-reader]: Narrator reading irrelevant information when user expand dropdown on panel."
## Codepen demonstrating the issue
<https://codepen.io/anon/pen/RzMWxV>

## Actual behavior:
Narrator reading irrelevant information when user expand dropdown on panel, which create confusion for screen reader user.
## Expected behavior:
Narrator should read relevant information when user expand dropdown on panel.
## Documentation describing expected behavior

[2019-07-01 12:43] v-doku opened #9638 "[ActivityItem-Screen reader] Narrator focus and Keyboard focus is not synchronized when Philippe Lampros control selected."
[ActivityItem-Screen reader] Narrator focus and Keyboard focus is not synchronized when Philippe Lampros control selected.

Actual Result:Narrator focus and Keyboard focus is not synchronized when Philippe Lampros control is clicked and dialog box opens
Expected Result :Narrator focus and Keyboard focus should be synchronized when Philippe Lampros control is clicked and dialog box opens

Detailed

[2019-07-01 17:15] khmakoto commented on #9631
Hi @x73x63, thanks for filing the issue!

@kkjeer this seems like an easy fix that I could tackle, but I wanted to ask you, as the code owner for `Overlay`, if you think it makes sense to add these properties?

[2019-07-01 17:22] khmakoto commented on #9632
Thank you for filing the issue @x73x63! This seems to be related to your recent issue #9631.

@kkjeer, same as with the other issue, just want to confirm if this is something we want to do before moving forward on making the fix.

[2019-07-01 17:27] khmakoto commented on #9633
@web-warrior thanks for filing this issue! I can confirm that this is indeed happening in the example page.

@JasonGore I know that this is intended behavior of `FocusTrapZone` given that we're using our own controls to create the website but it does appear to be a bug that the left `Nav` cannot be accessed when focus is trapped. Do you think this should be classified as a bug or that this is by d

[2019-07-01 17:30] khmakoto commented on #9634
Hi @alaatm! Thank you for filing this issue!

Unfortunately, I don't think this is currently possible with our implementation of `Calendar`/`DatePicker`. Can someone from @OfficeDev/uifabric-calendar confirm this?

[2019-07-01 17:32] caiomontei opened #9641 "ScreenReader does not announces the column and row values for the Months "MAY ,JUNE ..." correctly."
## Codepen demonstrating the issue
https://codepen.io/anon/pen/EBEvyg?&editable=true

## Actual behavior:
All months are being read as column one. (E.g. May is being announce as row 1 column 5)
## Expected behavior:
Months should be announced according to the table layout displayed in the screen (E.g. May should be announced as row 2 column 1)
## Documentation describing expected behavior
https://

[2019-07-01 18:18] qazizaahirah opened #9642 "Modal aria-hidden elements should not be focussable Accessisbility Issue"
## Actual behavior:
When running the fast pass on a page with the modal popup opened, we hit the 'aria-elements should not be focusable' error.
Title: WCAG 4.1.2: ARIA hidden element must not contain focusable elements (div[data-is-visible="true"][aria-hidden="true"]:nth-child(1))
Tags: Accessibility, WCAG 4.1.2, aria-hidden-focus

Issue: ARIA hidden element must not contain focusable elements (ar

[2019-07-01 18:40] web-warrior commented on #9633
I just wondered if this is by design or if in production code you would only disable certain appropriately by targeting... and if so dome discussion around how to target and be specific to context for better ‘control’ over control state.

Sent from Jenny McClaine's iPhone

[2019-07-01 18:41] jaimereyesmx commented on #9598
Hi @KevinTCoughlin,

I was wondering if you were able to come up with an example to customize the checkbox.

[2019-07-01 18:48] kwilkins commented on #7434
I'm seeing a similar interaction too. Currently we can reproduce this issue in our app but trying to build an isolated CodePen to share it works as expected. Will continue to try but thought I'd second seeing the issue with tabbing on Dialog+Pivot

[2019-07-01 19:36] cc0rk opened #9643 "DetailsList: Better auto-sizing for columns"
**Describe the feature that you would like added**
It'd be great if we could somehow specify that all columns should, by default, be given equal widths unless manually overridden. I know we can set the max-width to a specific number of  pixels, but it'd be nice to have all the columns dynamically sized so that they fill the entire width of the table AND retain that ratio when the viewport is resiz

[2019-07-01 19:59] KevinTCoughlin commented on #9588
This issue can be closed now that the port to `6.x` was completed in https://github.com/OfficeDev/office-ui-fabric-react/pull/9609.

[2019-07-01 19:59] #9588 closed

[2019-07-01 20:14] SavannahBourgeois commented on #9615
Thanks Kevin. I started thinking about this more and I am going to close this out because I don't think we want it. Initially I was trying to implement behavior where hitting "enter" when focused on dialog content would execute a default button. It turns out I only want the onKeyDown listener on the dialog content (I need to exclude the button area) so I don't think my request makes sense any more

[2019-07-01 20:14] #9615 closed

[2019-07-01 20:17] KevinTCoughlin commented on #9615
No worries, I'm glad you an agreeable solution and are unblocked!

[2019-07-01 20:21] khmakoto commented on #9636
Hi @rhublard! Thanks for filing this issue! There is indeed a lot of `palette` colors used on the `Button` component that should be updated to use `semanticColors`. I'll make a PR shortly to solve this issue.

[2019-07-01 20:29] khmakoto commented on #9637
Hi @v-hegoel! Can you provide more information on the issue you are encountering such as what irrelevant information is being said by the screenreader? When I try your codepen I don't hear any irrelevant information when expanding the `Dropdown` component.

This is what I hear: `"Select one, select 1, one of two, selected"`

[2019-07-01 20:53] brion-fuller commented on #9591
Interested in this issue too.

[2019-07-01 20:59] khmakoto commented on #9638
Hi @v-doku, it seems that I do not have permission to access your link and thus cannot check your issue. Can you please provide a link that I have access to or request to give me permission to access that link? Thanks!

[2019-07-01 21:06] khmakoto commented on #9641
Hi @caiomontei! Thanks for filing this issue!

I gather that the issue relates to months being read as all of them being part of a single row instead of three, correct? I think this is indeed a bug and I'll try to have a fix as soon as I can.

[2019-07-01 21:13] caiomontei commented on #9641
Hi,

Yes, exactly that. Thanks!

[2019-07-01 21:36] khmakoto commented on #9642
Hi @qazizaahirah, thanks for filing the issue! I'm not currently seeing this at least in our example page. I'll try to replicate this in a codepen to see how we move forward with this.

[2019-07-01 21:59] khmakoto commented on #9643
Hi @cc0rk! Thanks for bringing this up! This seems like it would require a substantial amount of work in order to be supported in the way you want. @micahgodbolt and @KevinTCoughlin, what are your thoughts on this? To me it seems like it is probably a backlog item given the engineering effort involved.

[2019-07-01 22:13] kkjeer commented on #9631
@khmakoto these seem like reasonable properties to add!

[2019-07-01 22:13] natalieethell commented on #9562
@efrack thanks for opening this issue! This is definitely a bug and your suggestion to reset the message seems like the best move. I'll work on something today/tomorrow!

[2019-07-01 22:14] kkjeer commented on #9632
@khmakoto makes sense to me; this seems similar to Panel's existing `focusTrapZoneProps` and `layerProps`.

[2019-07-01 22:21] maxwellred commented on #6748
### Fluent Updates

- Just a friendly reminder that per our conversation, I've done the code comparison off of the Dropdown toolkit

**Code diff Issues**

-**Border color in "-Focus" state:** Live = 0078d4 / TK = A19F9D
-**Text color in "-Focus" state:** Live = 323103 / TK = 201F1E
-**Border color in "-Hover" state:** Live = 000000 / TK = 0078d4
-**Text color in "-Pressed" state:** Live = 323130 /

[2019-07-01 22:30] beccaroskill opened #9644 "Text Field: error message shows for valid default values"
### Bug Report

- __Package version(s)__: 6.189.4
- __Browser and OS versions__: Chrome on Windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: (Low)

#### Describe the issue:

When using the defaultValue and errorMessage props together, an error message is displayed for a valid defaultValue.

#### Act

[2019-07-01 22:45] jdhuntington opened #9645 "office-ui-fabric-react package breakup"
In an effort to ensure maintenance and development in
office-ui-fabric-react continues to be sustainable, we are proposing
the task of breaking out controls into smaller packages within this
repo. These packages will be consumed and re-exported by
`office-ui-fabric-react` as to not change the API surface of
`office-ui-fabric-react` itself.

Doing this work has several benefits:
- Allow packages to

[2019-07-01 22:55] KevinTCoughlin commented on #9645
@jdhuntington should we rename the recently created `@uifabric/lists` package in #9106 as you have it above, `@uifabric/react-list`?

Luckily, we have deferred publishing and are free to perform a rename without penalty. Though I personally think it should be plural since it will contain a number of list components and helpers.

[2019-07-01 23:29] beccaroskill commented on #9644
Meant to refer to onGetErrorMessage rather than errorMessage

[2019-07-01 23:50] khmakoto commented on #9636
Hi @rhublard, I've started a PR on this that alleviates some of the issues. However, we are currently on an ongoing effort to overhaul our `semanticSlots` usage tracked in #9431. Until that gets finalized I'm afraid what I'm doing on my PR is probably the closest we'll get to having the correct set of `semanticColors` in the `Button` component.

[2019-07-02 01:15] adityapelluri opened #9653 "Primary button on click on mobile device is making the flyout to toggle in Split Button"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

https://developer.microsoft.com/en-us/fabric/#/controls/web/button#feedback

#### Actual behavior:

I tried to use the split button using an iPad. When i clicked on the primary button, it is toggling the flyou

[2019-07-02 01:16] adityapelluri commented on #9653
issue only reproduces on a touch device. Browser works fine

[2019-07-02 02:51] dzearing commented on #9645
Can we pivot on packages? I have a lot of feedback and its difficult to understand how many packages we're splitting up into.

| # | @uifabric/{package} | Components |
| --- | --- | --- |
| 1. | **react-inputs** | Button, Checkbox, ChoiceGroup, Dropdown, ComboBox, Slider, Rating, SearchBox, Slider, SpinButton, TextField, Toggle |
| 2. | **react-primitives** | Label, Link, Actionable, Text, Announc

[2019-07-02 07:23] v-doku opened #9657 "[Accessibility][Breadcrumb-Screen reader]: 'More option button' must have discernible text."
[Accessibility][Breadcrumb-Screen reader]:  'More option button' must have discernible text.

Detailed description of this issue can be found here [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/Documents/Fabric%20Control/Fabric%20Controls%202nd%20Phase/BreadCrumb/Fabric%20Control%20Bugs-Breadcumb.xlsx?d=w7b84a10d785d48448bac4e46e0610420&csf=1&e=EbZe3s)

[2019-07-02 08:08] v-hegoel commented on #9637
Hi **@khmakoto** when pressing the enter key on the dropdown. Then narrator read: page details, browser details, dropdown details.

[2019-07-02 08:53] rhublard commented on #9636
Hi @khmakoto, thank you for the quick fix! We will wait for your PR to be done then and look back at this when semantic slots overhaul is finalized.

[2019-07-02 09:42] cnamal commented on #9642
We used to have this issue (#8697) and it was solved by #9019.
Hope this helps

[2019-07-02 09:50] cnamal opened #9658 "Narrator sometimes stops on invisible element on DetailsList header"
Go to https://developer.microsoft.com/en-us/fabric#/controls/web/detailslist
**Export to CodePen**
In scan mode, navigate through the DetailsList's header.

Narrator stops on something:
![image](https://user-images.githubusercontent.com/9625284/60508190-39e2c300-9cca-11e9-8b5f-4ff1b107f602.png)

Looking with Inspect, I suspect it stops on the [label used for sorting](https://github.com/OfficeDev/o

[2019-07-02 10:15] v-doku commented on #9638
Provided the access for share point link. Sorry for inconvenience

[2019-07-02 11:41] cnamal opened #9659 "Narrator doesn't read expanded information on Dropdown"
Go to https://developer.microsoft.com/en-us/fabric#/controls/web/dropdown
Start Narrator
Tab until you get to the _Basic uncontrolled example_ dropdown.

Narrator doesn't convey the `aria-expanded` information.

I saw this [comment](https://github.com/OfficeDev/office-ui-fabric-react/issues/6326#issuecomment-493503894), however the linked W3 documentation doesn't use `aria-expanded`, so it's incom

[2019-07-02 11:51] codepunkt commented on #466
Microsoft has been a good open source citizen lately. What's preventing you from also open sourcing this font/the icons under a commonly usable OSS license?

[2019-07-02 11:56] PavanJagini commented on #9543
@aftab-hassan , Thanks for waiting. With tabindex as 1 and aria-label added to the popup heading content div, upon open of the div, screen reader readout mentioning the content.

**tabIndex="1" aria-label="Justification popup opened"**

[2019-07-02 12:37] fhljys opened #9660 "Remove the dependency on React library for @uifabric/icons"
I just want to use uifabric/icons library and I am not a React APP. There is an API named getIconClassName in '@uifabric/styling'. I can use it and I can render the icon successfully.
But to use it, I have to install React library as well.
Otherwise, build will fail with:

ERROR in ./node_modules/@uifabric/utilities/lib/styled.js
Module not found: Error: Can't resolve 'react' in 'D:\DataIntegratio

[2019-07-02 13:06] rhublard opened #9661 "DetailsList - "Cannot redefine property" when accessing "/lib/DetailsList" because of SelectionMode being exported at multiple places"
### Environment Information

- __Package version(s)__: 7.6.3

### Please provide a reproduction of the bug in a codepen:

It should fail display the failing message :
 https://codesandbox.io/s/libdetailslist-l79rv

#### Actual behavior:

After upgrading to version 7, we noticed that our `jest` (that uses babel) tests were failing when trying to access any component from `office-ui-fabric-react/lib

[2019-07-02 16:27] KevinTCoughlin commented on #9645
@jdhuntington will we be tracking build time as part of the success criteria of this modularization effort?

My hope would be that the modularization work results in a quicker inner dev loop or at the very least does not regress.

[2019-07-02 16:39] jdhuntington commented on #9645
@KevinTCoughlin Good question. I think that "not making the build slower" is an important goal, though I don't expect it to improve either. The main success criteria is to break circular dependency chains and enable more flexible versioning/release schemes in the future.

[2019-07-02 16:59] rcasto opened #9662 "Edge Specific: DetailsList does not resize to fill width or recompute width"
### Environment Information
- __Package version(s)__:  6.192.1
- __Browser and OS versions__: Edge

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/anon/pen/xojrMb

Click the `Toggle Sidebar` button to see whitespace formed in Edge from DetailsList not re-computing width

If you open the console in the codepen and execute:
`window.dispatchEvent(new Event('resize'))`

[2019-07-02 17:56] khmakoto commented on #9637
Hi @v-hegoel, after following your steps I can confirm that this is indeed what's happening. I'll investigate to see if it's a bug on our side, Narrator or Edge. Thanks again!

[2019-07-02 18:12] adityapelluri commented on #8497
@dzearing Is there a way that we can overwrite this behaviour? Like changing the target part only to the chevron and keep the primary button functionality as it is?

[2019-07-02 18:28] khmakoto commented on #9644
Hi @beccaroskill! Thank you for letting us know about this issue! Can you provide a reproduction of the bug? I tried reproing it in [this codepen](https://codepen.io/khmakoto/pen/NZMwmM?editors=0010) but I find that the error message is not displayed if the default value is valid according to its definition.

[2019-07-02 18:30] taparikh commented on #9411
Hi Kevin:

The following elements have role="presentation"
<div class="ms-DetailsRow-fields fields-269">

the DetailsList component does not contain any HTML Table elements.

I have attached a screenshot that shows the aria roles using the tools described in my original [post.](url
<img width="1560" alt="role_presentation" src="https://user-images.githubusercontent.com/51679982/60537172-c7b7b180-9

[2019-07-02 18:34] khmakoto commented on #9653
Hi @adityapelluri! I can confirm I was able to repro this issue when trying your scenario on my phone. I'll work on getting a fix as soon as possible. Thanks!

[2019-07-02 18:38] khmakoto commented on #9657
Hi @v-doku, I can confirm that this is indeed an issue and will be working towards getting a fix soon. Thanks!

[2019-07-02 18:40] adityapelluri commented on #9653
@khmakoto  Thank you for the response

[2019-07-02 18:40] KevinTCoughlin commented on #9411
It is OK to use `role="presentation" as long as the role is not present on semantic elements as per the web accessibility dev's guidance shared above.

I do not see any action for us to take based solely on the presence of `role="application" on an application page.

[2019-07-02 18:53] taparikh commented on #9412
Hi Natalie - it will be easier for me to demo it to you in our environment than create a codepen. This is because the modal is dependent on several dynamic parameters which cannot be replicated in a standalone codepen.
Can I set up some time today for a quick call? @natalieethell

[2019-07-02 20:34] #9636 closed

[2019-07-02 21:00] atneik commented on #9132
@sopranopillow I was wondering if the fix worked? Let me know if I could help

[2019-07-02 21:03] KevinTCoughlin commented on #9662
Hmm thought I fixed some of these. This happening in Edge is likely due to this area of code:

https://github.com/OfficeDev/office-ui-fabric-react/blob/044e13c2c8c391885693bbaa493e975fab35f3ea/packages/office-ui-fabric-react/src/utilities/decorators/withViewport.tsx#L83

Mainly due to `ResizeObserver` not being available in Edge -- https://caniuse.com/#feat=resizeobserver&search=resize.

If you ha

[2019-07-02 21:11] acoates-ms commented on #9645
The `react-commanding` package sounds like it has various heavy components, that people might want to avoid... and `ContextualMenu` which I assume even pretty light apps will need.  Maybe the code is more related than I might thing, but should ContextualMenu be more separate?

Also Nav is often big enough to be its own thing. -- (I'm not that familiar with the actual fabric controls... just some g

[2019-07-02 21:22] cliffkoh opened #9669 "We could really use more 🍌🍌🍌"

[2019-07-02 21:22] #9669 closed

[2019-07-02 21:37] KevinTCoughlin commented on #9568
@vmary2014, `ShimmeredDetailsList` overrides `onRenderMissingItem` to know to render the "shimmer" rows, relevant LoC:

https://github.com/OfficeDev/office-ui-fabric-react/blob/044e13c2c8c391885693bbaa493e975fab35f3ea/packages/office-ui-fabric-react/src/components/DetailsList/ShimmeredDetailsList.base.tsx#L66

I'm not sure what behavior we should support if we allow for overriding via prop in `Shi

[2019-07-02 21:48] soettl commented on #9645
@KevinTCoughlin I wonder whether it could make sense to use a more generic name for `react-lists`, like `react-collections`. Would allow us to add components in the future that don't use a row-based layout strategy.

[2019-07-02 22:26] taparikh commented on #9411
Thank you for clarifying this. We will mark this as a non-accessibility issue & share this thread with Luke Gaylor as well.

[2019-07-02 22:35] khmakoto commented on #9659
Hi @cnamal! Thanks for filing the issue! I can confirm that this is indeed happening. I'll take a look to see if this is our issue or an issue with Narrator. Thanks!

[2019-07-02 22:47] khmakoto commented on #9660
Hi @fhljys. I understand your ask and I think it is worth discussing. @dzearing @micahgodbolt what do you think about this? Is there something we can do in the short term? Who are the correct people to involve in this discussion?

[2019-07-02 22:48] vmary2014 commented on #9568
Hi. Thanks for taking the time to look into this.

So we initially were using the `DetailsList` with the `Shimmer` options. The `onRenderMissingItem` was used to fetch additional data when the last records were displayed when a user scrolls down. This is the technique that is shown in the advanced example of the `DetailsList` component.

However In recent updates of Office Fabric (I think 7.0) the

[2019-07-02 22:50] khmakoto commented on #9642
This seems to be a duplicate of #9412 and it appears that is already being tracked there. I'll close this for the time being. Thanks!

[2019-07-02 22:50] #9642 closed

[2019-07-02 22:51] natalieethell commented on #9412
Re-opening the issue as @taparikh and I synced up offline. We're seeing a similar error from Accessibility Insights on the Fabric website coming from the flight tools element on the right side of the page.

![image](https://user-images.githubusercontent.com/14134000/60551253-900e3100-9cdf-11e9-80aa-906a3f1a6f71.png)

Notice in the screenshot below that I'm able to interact with the flight tools wh

[2019-07-02 23:07] KevinTCoughlin commented on #9582
I'm unsure that all interactive behaviors need to be exposed when Narrator is in scan mode as the primary use-case (my understanding) of scan mode is to discover elements within a page. We have a thread offline discussing on where the line is w.r.t scan mode. I will reply once we have resolution on the thread.

[2019-07-02 23:19] weijia-ai opened #9672 "Set a date without `allowTextInput` and `parseDateFromString`"
**Set a date without `alowTextInput`**
I'm trying to change the date value of datepicker based on other options on page without enabling `alowTextInput`. I can somehow hack `parseDateFromString` but I don't want to do that.

Looks like setting `value` will only change the initial date of datepicker and it can't be changed after datepicker has been rendered.

**What component or utility would this

[2019-07-02 23:19] maxwellred commented on #7282
### Fluent Updates

**Diffs between Toolkit (TK) and Live**

- **ALL "Personas Colors" do not match any shown in TK**
- **ALL Presence colors do not match any shown in TK (except for OOF)**
- **ALL PersonaCoin initial font-weight:** Live = 400 / TK = 600
- **PersonaCoin initial font-size for size 16:** Live = 11px / TK = 10px
- **PersonaCoin initial font-size for size 24:** Live = 11px / TK = 10px

[2019-07-02 23:30] KevinTCoughlin commented on #9574
@Pangamma, sorry just getting back to this. The default selection behavior _does allow_ for one to toggle selection of an individual row when multiple rows are selected by holding down the `CTRL` or `CMD` key depending on OS. This mimics the Windows File Explorer behavior and is by design.

Relevant LoC:

https://github.com/OfficeDev/office-ui-fabric-react/blob/c86bab4c0cc6d73530a04cdf600b72c356ab

[2019-07-02 23:34] KevinTCoughlin commented on #9568
Going to add @Vitalius1 as an assignee who is most familiar with this area of code. We will work towards a solution when he is back in the office next week.

[2019-07-02 23:58] KevinTCoughlin commented on #9601
@pandey11, the components you mentioned above receive focus on their native `<input />` element and have their roles set as follows:

- `TextField`: has `type="text"` and does not require a role as per W3 ARIA guidance since it is being used as an input for text i.e.

- `ComboBox`: has `type="text"` and [role="combobox"](https://github.com/OfficeDev/office-ui-fabric-react/blob/53a29f6a88aa1339f2e7

[2019-07-03 00:09] KevinTCoughlin commented on #9601
Note that the Fabric controls with `role="combobox"`, `TagPicker` and `ComboBox`, announce _their roles_ as they do in their W3 ARIA example counterpart in Edge + Narrator:

**Fabric `ComboBox` announced in Edge + Narrator**

[code]

**Fabric `TagPicker` announced in Edge + Narrator**

[code]

**Compare with [W3 ARIA ComboBox example](https://www.w3.org/TR/wai-aria-practices/examples/combobox/aria

[2019-07-03 02:42] #9562 closed

[2019-07-03 05:17] v-doku opened #9681 "[Accessibility][Supporting the platform-Breadcrumb]: Visual focus indicator is not visible on more options menu's in high contrast black/white modes"
Detailed description of this issue can be found here [Sharepoint](https://microsoft-my.sharepoint.com/:x:/p/v-amaver/EQ2hhHtdeERIi6xORuBhBCAB4E7rh1br26nk886S5v-Idg?e=vABofb)

Component:Breadcrumb

[2019-07-03 06:31] Mhbuur commented on #9249
I'm facing the same issue. The CallOut content takes a moment to load (async) and meanwhile the callout has been positioned (in my case initially ok, near the bottom edge). When content comes in, the callout expands outside the viewport. I have tried a fixed finalHeight, but that doesn't seem to do any difference.

[2019-07-03 07:51] bramdejager commented on #9444
@Jahnp I was wondering if you have an update on this? I'm still missing some icons in the new update. Thanks.

[2019-07-03 08:06] B-Esmaili opened #9682 "Filter items in Combobox when user is searching."
Currently when we type in the Combobox input to search after items it doesn't filter items (doesn't remove unmatched items) to make it easy to pick from.

![demo](https://user-images.githubusercontent.com/9152515/60574290-97d8de80-9d8e-11e9-94e2-9456b2a763f6.jpg)

as you can see in the screenshot i have typed in 'Option A' but other options still appear in the list whereas they had to disappear to

[2019-07-03 09:09] Sbearlin opened #9683 "Panel closes if user swipes out of panel"
### Bug Report

- __Package version(s)__: SPFX & sp-office-ui-fabric-core - 1.7.1
- __Browser and OS versions__: Chrome, Internet Explorer tested. However I think it is all browsers

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: SharePoint Online - Modern View. Panels in gener

[2019-07-03 09:41] x73x63 opened #9684 "Modal component add Overlay props"
**Describe the feature that you would like added**
Modal component add Overlay props

**What component or utility would this be added to**
Optional props to pass to the Overlay component hosting the Modal.

#9631
#9670

**Have you discussed this feature with our team, and if so, who**

**Additional context/screenshots**

[2019-07-03 09:45] dollykumari5 opened #9685 "[Accessibility][Screen reader-Button]: Screen reader is reading information twice for "button" under default button controls"
Detailed description of this issue can be found here [SharePoint](https://microsoft-my.sharepoint.com/:x:/p/v-amaver/ES4u1n2IVNNPuoO2dU5gywIBdNy61RcmtbihpLEKSTfzyA?e=M7f2Dv)

Component:Button

[2019-07-03 09:46] dollykumari5 opened #9686 "[Accessibility][Supporting the platform-Button]:"Primary create account" button is not adopting the high contrast white\black modes under Compound button section"
Detailed description of this issue can be found here [Sharepoint](https://microsoft-my.sharepoint.com/:x:/p/v-amaver/ES4u1n2IVNNPuoO2dU5gywIBdNy61RcmtbihpLEKSTfzyA?e=M7f2Dv)

Component:Button

[2019-07-03 09:48] dollykumari5 opened #9687 "[Accessibility][Screen reader-Button]:There is no label associated with header element for 'Standard and Primary buttons' under default button section"
Detailed description of this issue can be found here [SharePoint](https://microsoft-my.sharepoint.com/:x:/p/v-amaver/ES4u1n2IVNNPuoO2dU5gywIBdNy61RcmtbihpLEKSTfzyA?e=M7f2Dv)

Component:Button

[2019-07-03 11:41] dollykumari5 opened #9688 "[Accessibility][Visual requirements-Breadcrumb]: 'Tooltip' is not defined for 'More option' control."
Detailed description of this issue can be found here [SharePoint](https://microsoft-my.sharepoint.com/:x:/p/v-amaver/EV9qaZLZ9jdLuBq0SHh4RogBXhHAlh6GdMFMhfgWcV9Xow?e=t5KcFg)

Component:Breadcrumb

[2019-07-03 12:11] dollykumari5 opened #9689 "[Accessibility][Screen reader-Bread Crumb]: In Scan mode user is not able to close the 'More options menu' using 'Esc key'"
Detailed description of this issue can be found here [Sharepoint](https://microsoft-my.sharepoint.com/:x:/p/v-amaver/EQDF8CVEaSVLgoImESsriiUBPXsgaMRfBvMKy_67oM_1Bw?e=yQiu5S)

Component:Breadcrumb

[2019-07-03 12:40] dollykumari5 opened #9690 "[Accessibility][Screen reader-Breadcrumb]: Narrator focus moves twice on the first element of context menu in scan mode."
Detailed description of this issue can be found here [SharePoint](https://microsoft-my.sharepoint.com/:x:/p/v-amaver/EY0Apc7qTg1Bj4Doi06KgiwBBuzA5wMGhmv4TtYpvrVTiw?e=4gUNmO)

Component:Breadcrumb

[2019-07-03 12:49] idijan opened #9691 "PersonaCoin initial colors are inconsistent due to differences between versions 6 and 7"
This is an issue observed in OwaReact SDF.

There are persona coins shown on the page, eg. email senders.
Hovering or clicking on them opens a profile card.
Profile card code comes from a separate package (LPC).

Until recently, both LPC and OWA were on Fabric React 6.
Then OWA upgraded to version 7. Due to changes in [#8905](https://github.com/OfficeDev/office-ui-fabric-react/pull/8905) that resu

[2019-07-03 15:15] micahgodbolt commented on #9507
This is probably something we should consider when looking at the new button as well, @khmakoto

[2019-07-03 15:31] micahgodbolt commented on #9660
100% worth discussing. Might be a question to pass to @Jahnp as well, if he's been considering this idea.

[2019-07-03 15:41] micahgodbolt commented on #9643
Yeah, nice feature for sure.

[2019-07-03 16:14] known-as-bmf opened #9693 "GroupedList incorrect value for parameter nestingDepth in onRenderCell"
To compute the nestingDepth passed as argument to `onRenderCell`, the GroupedList component only traverses the first (leftmost) "branch" of the group tree and uses this value for every item (every call to `onRenderCell`).

There are 2 problems here:
* all items share same depth
* depth of the leftmost branch is used

Maybe this code should somehow use the `level` property declared on the IGroup in

[2019-07-03 16:39] chrismohr opened #9694 "Tooltip Persists After Scrolling"
### Environment Information

- __Package version(s)__: > 6.184.0
- __Browser and OS versions__: Chrome 75.0.3770.100, macOS 10.14.5

#### Actual behavior:

I'm seeing 2 variations of this issue.

**With Tab Focus**
1. With tab focus on a tooltip host, scroll the page.
2. Observe that the tooltip continues to show until focus changes.
![tooltip_with_tab_focus](https://user-images.githubusercontent.

[2019-07-03 16:42] chriskuech commented on #9545
What about `DateTimePicker` ?

[2019-07-03 16:51] chriskuech opened #9695 "Generic form field"
**Describe the feature that you would like added**
I want all my components to have `label` and `description` props.  Many components support `label` but not `description` (ex: `DatePicker`).  I would assume `Label` exists to circumvent this issue, but `Label` lacks a `description` field.

**What component or utility would this be added to**
Perhaps add a `description` prop to `Label`

**Have you

[2019-07-03 17:52] khmakoto commented on #9658
Hi @cnamal! Thanks for filing this issue! I can confirm that this is indeed happening. I'll check if we can do something about it or if it is a Narrator issue, as scan mode's inherent function is to break out of author's intent when it comes to navigation and dictation.

[2019-07-03 17:59] KevinTCoughlin commented on #9658
_I think_ @natalieethell recently investigated something similar with `DetailsList`

[2019-07-03 18:00] khmakoto commented on #9672
Hi @weijia-ai, I'll make some tests to see if I can get this to work in a non-hacky way. In the meantime, can someone from @OfficeDev/uifabric-calendar take a look at this issue and confirm if this is possible?

[2019-07-03 18:02] natalieethell commented on #9658
Ah yes, this is because of the label elements. I recently added aria-hidden to the checkbox header label here: https://github.com/OfficeDev/office-ui-fabric-react/pull/9504. We could probably do the same thing for the other header labels!

[2019-07-03 18:15] khmakoto commented on #9661
Hi @rhublard, thanks for reporting this issue! I think this is happening because there are multiple places in `office-ui-fabric-react` that are re-exporting `utilities/selection/index`. I've tried this and have gotten the same error importing from:
- `office-ui-fabric-react/lib/DetailsList`
- `office-ui-fabric-react/lib/MarqueeSelection`
- `office-ui-fabric-react/lib/Selection`

I think, in order

[2019-07-03 18:23] khmakoto commented on #9658
Sounds good @natalieethell, I'll try a similar approach here. Thanks!

[2019-07-03 18:27] #9657 closed

[2019-07-03 18:31] khmakoto commented on #9681
Hi @v-doku, it seems that the Sharepoint link is incorrect since its the same as the one in #9657, which deals with something different from the issue described here. Can you update the link? Thanks!

[2019-07-03 18:34] khmakoto commented on #9682
Hi @B-Esmaili, thanks for filing this, seems like a great feature request! @joschect and @micahgodbolt, maybe something to think about adding in the long run?

[2019-07-03 18:50] khmakoto commented on #9683
Hi @Sbearlin, thanks for filing the issue!

I tried replicating it in [this codepen](https://codepen.io/khmakoto/pen/xozWKJ?editors=0010) and I found that `onOuterClick` is not even being called. @kkjeer, can you take a quick look at my codepen and confirm this behavior? I'll take a stab at fixing this issue once you confirm it.

[2019-07-03 18:55] khmakoto commented on #9684
Hi @x73x63, I see that this is a similar ask to the ones you filed yesterday. I'll have a PR shortly for this.

[2019-07-03 19:05] khmakoto commented on #9685
Hi @dollykumari5, thanks for filing the issue. This is not a bug per se given that Narrator is first reading the text inside the `Button` and then the actual type of control, which is `Button`. I'll make a PR to change the text so that it is not confusing.

[2019-07-03 19:11] micahgodbolt commented on #9682
Yeah, i think this is on our backlog of things to add.
This issue is a duplicate for #6565, but for the combobox.

The plan is to eventually merge the two controls as they overlap so much. That epic is #6030

[2019-07-03 20:24] brandonthomas opened #9698 "IRenderFunction should return ReactNode"
**Describe the feature that you would like added**
IRenderFunction is a pretty useful pattern but I find JSX.Element | null to be pretty restrictive. Can we change this to take React.ReactNode instead? This would allow for a lot more flexibility and be a patch level change

**What component or utility would this be added to**
IRenderFunction

**Have you discussed this feature with our team, and if

[2019-07-03 20:32] reli-msft commented on #7597
Hope a strong tree view can be there. The most complex example of a tree view may like this:

![image](https://user-images.githubusercontent.com/50213618/60623221-f5712900-9d96-11e9-9ab7-ab8e1a123e08.png)

You have:
 - (Optional) link lines
 - Rightmost buttons
 - Inline buttons

[2019-07-03 21:32] kkjeer commented on #9683
@khmakoto I am also able to see this behavior in your codepen, where `onOuterClick` is not called.

[2019-07-03 22:53] vasticles commented on #9111
Workaround for anyone facing the same issue:

Component:
[code]

Your loaded CSS:
[code]

[2019-07-03 23:16] dzearing commented on #9698
I think that is a fair change!

[2019-07-03 23:33] khmakoto commented on #9686
Hi @dollykumari5, I can confirm this issue is happening. I'll make a PR shortly to fix the issue. Thanks!

[2019-07-03 23:36] #9685 closed

[2019-07-03 23:36] khmakoto commented on #9687
This issue seems like it's going to be fixed by #9697, so I'll close this as a dupe of #9685.

[2019-07-03 23:36] #9687 closed

[2019-07-03 23:48] khmakoto commented on #9688
Hi @dollykumari5, thanks for filing this issue!

@micahgodbolt this seems like a reasonable request to me. If you're ok with it I can make a PR to fix this.

[2019-07-03 23:56] khmakoto commented on #9689
Hi @dollykumari5, thanks for filing this! I'll investigate the issue to see if this is something on our part, on Narrator's part or by design in scan mode given how it breaks from author's intent in dictation and navigation.

[2019-07-04 00:19] brandonthomas commented on #9698
Having compiler issues but still trying to get this working. I'll update!

[2019-07-04 01:36] brandonthomas commented on #9698
I've gotten a little bit further with React.ReactChild but still have an issue where if a consumer expected `JSX.Element | null` and we move to ReactChild or ReactNode there will be a type mismatch. With ReactNode it barfs at the inclusion of `{}` in the typings and with ReactChild it doesn't like `string`

[2019-07-04 01:37] brandonthomas commented on #9698
I'm hesitant to try to update all of our internal typings here as it would still be a breaking change for any partner teams. I was hoping doing `React.ReactNode | (JSX.Element | null)` would fix it but same result.

[2019-07-04 02:06] brandonthomas commented on #9698
What I'm trying to do might just be an intentional limitation https://github.com/Microsoft/TypeScript/issues/7230

[2019-07-04 03:20] gggjtgxing opened #9702 "HoverCard: Separate the 'anchor' for the card from the card's hover-target"
**Describe the feature that you would like added**
currently hover card has a `target` props to tag hover card on, focus/hover on any element within that target will trigger a `mouseenter` event and open the card. but in that target element we have some buttons that we don't want to launch the card if user hover on.

**What component or utility would this be added to**
HoverCard
**Have you discuss

[2019-07-04 03:26] jackiecorn opened #9703 "componentRef for Dialog does not return reference to component"
Dialog's componentRef is expected to return a reference to the component, but instead it is returning a current object of null.

[2019-07-04 05:10] micahgodbolt commented on #9688
This is probably going to be the same thing with command bar. The problem is that we don't intent to include strings in OUFR. We can certainly ensure that users can add their own string here, and update "dos and don'ts" to address that.

[2019-07-04 05:11] micahgodbolt commented on #9688
@betrue-final-final do we know what the guidance is for tooltips on breadcrumb, command bar, Facepile and other controls that have built in "see more" affordances? Do they all need tooltips? Should we use the Fabric tooltip?

[2019-07-04 09:17] Sbearlin commented on #9683
Hi @khmakoto
No problem!
I can see that the onOuterClick does not fire in your codepen example as well. However I can also see that the bug is not replicated in the example, which is interresting. Can it be that it is a newer version of UI Fabric which does not have the error with the "swipe"?
I know it is normally supposed to be codepen only, but you can also try and replicate this behavior in Sh

[2019-07-04 09:41] dollykumari5 opened #9704 "[Accessibility][Usable-Calendar]: In Scan mode screen reader focus is going to the calendar dates twice."
Detailed description of this issue can be found here [SharePoint](https://microsoft-my.sharepoint.com/:x:/p/v-amaver/ESSfG1C8NvtCuvClyF07xoEBH-1jHI3aSEtmIJudL3JEZw?e=N0g3Jo)

Component: Calendar

[2019-07-04 10:05] dollykumari5 opened #9706 "[Accessibility][Screen Readers-Calendar]: Information about the change of week is not narrated by screen reader whenever user press Enter on previous/next button"
Detailed description of this issue can be found here [SharePoint](https://microsoft-my.sharepoint.com/:x:/p/v-amaver/EfQzz15i5S1MuFJ1F1X9xDgBaNTpsu3jvO_wgE-gVh-6Eg?e=gE9Ij5)

Component: Calendar

[2019-07-04 10:33] Rtoribiog commented on #5322
hello @khmakoto  any update on this ? Thanks

[2019-07-04 11:07] dollykumari5 opened #9707 "[Accessibility][Keyboard Navigation-Calendar]: Upon Selecting the Go to Today control,focus moves to the arrow present in the click for calendar button"
Detailed description of this issue can be found here [SharePoint](https://microsoft-my.sharepoint.com/:x:/p/v-amaver/ET00KVncv5pEq3TJu4US4JYBePRo_bzAbI1O2f4oyOoi6w?e=cmfqyk)

Component: Calendar

[2019-07-04 11:23] dollykumari5 opened #9708 "[Accessibility][Usable-Calendar]: Role=Application is used for calendars."
Detailed description of this issue can be found here [SharePoint](https://microsoft-my.sharepoint.com/:x:/p/v-amaver/EakH150kSwRGpKnSl9WocPABBf8DajkaRRcue8qWxOiQmQ?e=ifeol6)

Component: Calendar

[2019-07-04 12:08] dollykumari5 opened #9709 "[Accessibilty][Functional]: Selection dates are not correct in 'selected dates' after selecting week header using keyboard"
Detailed description of this issue can be found here [SharePoint](https://microsoft-my.sharepoint.com/:x:/p/v-amaver/EdHxwDqb2apNkpVEGH4sgn8B_OwBxuij0MFeMR7iJzrPXw?e=dG5BiO)

Component :Calendar

[2019-07-04 12:18] omerquyyum12 opened #9710 "GridList bottom border line is disappearing on 90% zoom"
when we zoom browser page to 90% gridlist bottom border line is disappearing. you can check this behavior on this page [https://developer.microsoft.com/en-us/fabric#/controls/web/detailslist](https://developer.microsoft.com/en-us/fabric#/controls/web/detailslist)
![list](https://user-images.githubusercontent.com/52535075/60666106-af43c480-9e7f-11e9-9094-ab5f5a43ec44.PNG)

[2019-07-04 12:34] dollykumari5 opened #9711 "[Accessibility][Supporting the platform-Calendar]:Visual focus indicator is overlapping with button text 'Click for overlaid Day picker and Month picker without go to today button' at 400% zoom"
Detailed description of this issue can be found here [SharePoint](https://microsoft-my.sharepoint.com/:x:/p/v-amaver/ESYzqyYnjmxGvK-NFAUqol0B_kF4ayb343cRym6JMyKOZw?e=U1lU2b)

Component: Calendar

[2019-07-04 12:45] dollykumari5 opened #9712 "[Accessibility] Example card name is not visible properly when the page is resized at 400%"
### Environment information

OS: Version: 1903 (OS Build 18362.175)
Browser: Edge
Screen Reader: Narrator

### Repro steps

1. In Edge, resize the page to 400%
2. Open https://fabricweb.z5.web.core.windows.net/oufr/7.7.0/#/examples/calendar
3. Navigate to one of the Inline Calendar headings under Variants using tab key.

#### Actual behavior:

The example title is not fully visible

![image](https

[2019-07-04 13:10] dollykumari5 opened #9713 "Calendar: does not close with ESC key in scan mode"
Detailed description of this issue can be found here [Sharepoint](https://microsoft-my.sharepoint.com/:x:/p/v-amaver/ES972Zd6XgFOvx30t-qGtCEBHpiqyKiMF6t2Hi002BSjvg?e=VBwDJb)
Component: Calendar

[2019-07-04 15:15] adambowles opened #9714 "All dates selected before 1915-11-01 in the calendar return the previous day"
Playing around with the controls on the [demo site](https://developer.microsoft.com/en-us/fabric#/controls/web/calendar), any date selected before 1915-11-01 will return the previous day

### Environment Information

- __Package version(s)__: Whatever version is on the demo site
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

[2019-07-04 16:21] adambowles commented on #9714
Can't replicate it again 🤔

[2019-07-04 16:22] adambowles commented on #9714
Reloaded the page and it is indeed replicatable (on the "Calendar launched from a button" calendar)

[2019-07-04 17:00] #9556 closed

[2019-07-05 03:54] sylvain-hamel opened #9715 "DropdownBase : Cannot read property 'focusElement' of null"
### Environment Information

- __Package version(s)__: 7.5.0
- __Browser and OS versions__: Chrome 75.0.3770.100, Windows 10

### Please provide a reproduction of the bug in a codepen:

I have an e2e test that clicks a dropdown and clicks an item. Because this is automated, it happens very fast.

#### Actual behavior:

The test fails intermittently here in `DropdownBase`:

[code]

This line is not

[2019-07-05 04:45] paylord opened #9716 "Panel padding"
### Environment Information

- __Package version(s)__: 7.7.1
- __Browser and OS versions__: n/a

### Please provide a reproduction of the bug in a codepen:

See const sharedPaddingStyles line 157 in Panel.styles.ts

#### Actual behavior:

Using PanelType: smallFixedFar it is a fixed width of 340px.

As the screen size changes the padding changes from 32px to 40px.

It does not seem to make sense t

[2019-07-05 05:55] PooLP opened #9717 "@autobind and UI Fabric 7"
Hi,

@autobind decorator is removed from UI Fabric 7.
Is there a substitute or should we use the good old .bind (this)?

Thanks

[2019-07-05 13:09] TomekPi commented on #9522
Having the same issue, `onChange` event if fired twice on every key stroke.

Isn't that because it's pinned to both `input` and `change` native events which in react are actually the same (`change` event occurs immediately after element change, not after loosing focus)?

[2019-07-05 16:19] Vitalius1 commented on #9645
Here are my 5 centomments 😄

1. `Tooltip` should probably be classified as a surface.
2. Some controls are just utilities and could have their own package: `OverflowSet`, `ResizeGroup`, `Keytips` and some list utils maybe like `Selection`, `AutoScroll`.
3. `ContextualMenu` could easily be classified as a surface too.
4. If taking out `OverflowSet`, `ResizeGroup` and `ContextualMenu` from `react-co

[2019-07-05 17:00] #9443 closed

[2019-07-05 17:24] khmakoto commented on #9688
@micahgodbolt I was thinking maybe conditionally render a `Tooltip` using the text from `overflowAriaLabel` as the text for the `Tooltip` and not rendering a `Tooltip` otherwise. What do you think of this approach?

[2019-07-05 17:35] khmakoto commented on #5322
Hi @Rtoribiog, the `Card` component is in a state where we deem it ready to be promoted to our official package, but we've been having some difficulties doing that because of the work we're doing in #9645. In the meantime, if you want to try the production-ready component, you can import it from the `@uifabric/react-cards` package.

[2019-07-05 18:26] #8038 closed

[2019-07-05 18:26] #8040 closed

[2019-07-05 18:26] #8041 closed

[2019-07-05 18:26] #8042 closed

[2019-07-05 18:26] #8124 closed

[2019-07-05 18:26] #8622 closed

[2019-07-05 18:26] #9038 closed

[2019-07-05 18:26] #9207 closed

[2019-07-05 18:26] #9208 closed

[2019-07-05 18:26] #9243 closed

[2019-07-05 18:43] rohitrewa opened #9718 "Contextual menu does not dismiss on clicking in iframe"
### Environment Information

- __Package version(s)__: 7.4.3
- __Browser and OS versions__: All

#### Actual behavior:
Contextual meu remains open on clicking in an iframe

#### Expected behavior:
Contextual menu should dismiss on clicking anywhere outside the contextual menu

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, H

[2019-07-05 18:54] IAmHopp commented on #5759
Would just like to add that, although I obviously get where this concern is coming from, it does highlight a major motivation to get this working:

Right now, Fabric is a luxury for React users. Only those who choose to use React, get to use Fabric. Which actually stops a bunch of users who just want to use Fabric.

I'm not even an advocate for web components in particular, I'd just like to highli

[2019-07-05 19:04] guptarajesh001 opened #9719 "Still clueless, how can we implementation of ITheme style in the react project?"
Still clueless, how can we implement ITheme style in the SPFx framework project, using React? It would be great, if you share with us any sample of using Theme for above project.
Another question, will it support classic SharePoint Online site?

[2019-07-05 19:09] HarryGifford opened #9720 "Cannot use different versions of office-ui-fabric-react together in Rush"
### Environment Information

- __Package version(s)__: ^5.113.1, ^7.6.3, probably 6.x too.
- __Browser and OS versions__: Windows

### Please provide a reproduction of the bug in a codepen:

1. Not a codepen, but a git repo. Check out [RushWithMultipleFabricVersions](https://github.com/HarryGifford/RushWithMultipleFabricVersions).
2. Run `rush install`.
3. Run `rush build`.

#### Actual behavior:

[2019-07-05 19:31] khmakoto commented on #9691
Hi @idijan! I see that you have a PR up for fixing this issue. Thanks a lot!

[2019-07-05 19:37] khmakoto commented on #9690
Hi @dollykumari5, thanks for filing this! I'll investigate the issue to see if this is something on our part, on Narrator's part or by design in scan mode given how it breaks from author's intent in dictation and navigation.

[2019-07-05 19:44] khmakoto commented on #9693
Hi @known-as-bmf, thanks for filing the issue! Could you elaborate on how the margins are wrong in the codepens? I'm not as familiar with the `GroupedList` component, so I'm failing to see what is wrong and what you expect from the control.

[2019-07-05 19:49] khmakoto commented on #9694
Hi @chrismohr, thanks for filing this issue! I can confirm both cases are indeed happening.

@micahgodbolt any idea why this might be happening? I'm going to get to this next week, but I figured I might as well ask for guidance before diving into the issue.

[2019-07-05 19:52] khmakoto commented on #9695
Hi @chriskuech, thanks for requesting this feature!

@micahgodbolt and @cliffkoh, do you think it makes sense to add a `description` prop to the `Label` component? It is an easy PR to make but I'd definitely want your approval before making it.

[2019-07-05 19:58] khmakoto commented on #9702
Hi @gggjtgxing, thanks for filing this issue. I don't know if this will solve your issue but an idea that occurs to me is to use `ev.stopPropagation()` on those three buttons when they detect a `mouseenter` so that it is not passed propagated to the entire name field. I'm not entirely sure how it would behave if you had already entered then name field though. Could you try this approach and come b

[2019-07-05 20:15] khmakoto commented on #9703
Hi @jackiecorn, thanks for filing this issue! I'll try to repro it in a codepen to start investigating what's happening.

[2019-07-05 20:20] khmakoto commented on #9704
Hi @dollykumari5, thanks for filing this issue! This seems to be a duplicate of Bug 3 in #8349, so I'll be closing this since the issue is already being tracked there. Thanks again!

[2019-07-05 20:20] #9704 closed

[2019-07-05 20:21] khmakoto commented on #9706
Hi @dollykumari5, thanks for filing this issue! This seems to be a duplicate of Bug 5 in #8349, so I'll be closing this since the issue is already being tracked there. Thanks again!

[2019-07-05 20:21] #9706 closed

[2019-07-05 20:27] khmakoto commented on #9707
Hi @dollykumari5, thanks for filing this issue! I don't seem to be able to repro this on our website, can you try again and check if you're still encountering this scenario or if it's been solved already? Thanks!

[2019-07-05 20:28] khmakoto commented on #9708
Hi @dollykumari5, thanks for filing this issue! This seems to be a duplicate of Bug 10 in #8349, so I'll be closing this since the issue is already being tracked there. Thanks again!

[2019-07-05 20:28] #9708 closed

[2019-07-05 20:37] khmakoto commented on #9709
Hi @dollykumari5, thanks for filing this issue! The behavior in this case is by design because that example is restricting the selected dates to those established by `workWeekDays`, which runs from Tuesday to Saturday.

I'll be closing this issue for that reason. Thanks!

[2019-07-05 20:37] #9709 closed

[2019-07-05 20:43] khmakoto commented on #9711
Hi @dollykumari5, thanks for filing this issue! I can confirm that I can repro this but that it seems to be more of a problem with multiline `Buttons` than with the `Calendar` component. I'll work towards a fix for this issue. Thanks!

[2019-07-05 20:46] khmakoto commented on #9712
Hi @dollykumari5, thanks for filing this issue! I can confirm this is indeed happening, though it is not specific to the `Calendar` component and seems to be more of a website spread issue. I'll take a look at it next week.

cc'ing @ecraig12345 so that you're aware of the issue.

[2019-07-05 20:46] khmakoto commented on #9713
Hi @dollykumari5, thanks for filing this issue! This seems to be a duplicate of Bug 12 in #8349, so I'll be closing this since the issue is already being tracked there. Thanks again!

[2019-07-05 20:58] khmakoto commented on #9710
Hi @omerquyyum12, thanks for filing this! I don't seem to be able to replicate this issue.

On Edge:

![image](https://user-images.githubusercontent.com/7798177/60744908-e8863e00-9f2c-11e9-9470-ac7ae7224cd0.png)

On Chrome:

![image](https://user-images.githubusercontent.com/7798177/60744912-f1770f80-9f2c-11e9-8274-c79b5a292c27.png)

Can you try again and check if this is still happening to you? T

[2019-07-05 21:09] khmakoto commented on #9714
Hi @adambowles, thanks for filing this issue! I can confirm that I can repro this on our webpage. This seems like a really weird bug. Can someone in @OfficeDev/uifabric-calendar take a look at this?

[2019-07-05 21:17] khmakoto commented on #9715
Hi @sylvain-hamel, thanks for filing this issue!

@joschect what do you think about this? I think it is a reasonable request since the value of `current` could become `null` while we wait for the callback inside `requestAnimationFrame` to be called. Just wanted to run this by you before fixing it.

[2019-07-05 21:24] khmakoto commented on #9716
@paylord thanks for filing this issue!

@kkjeer @micahgodbolt @Jahnp what do you think about this? Seems like something reasonable but I would like to know what was the original reasoning for this before making any changes.

[2019-07-05 21:26] khmakoto commented on #9717
Hi @PooLP, thanks for filing this issue!

@jdhuntington do you know why this was removed from Fabric 7 and what can we use as a substitute?

[2019-07-05 21:28] khmakoto commented on #9718
Hi @rohitrewa, thanks for filing this issue!

I'll start investigating to find a fix as we want as many people as possible to move to Fabric 7. @joschect do you happen to have an idea right off the top of your mind as to what might have caused this regression?

[2019-07-05 21:29] khmakoto commented on #9719
Hi @guptarajesh001, thanks for filing this issue!

@Jahnp @Vitalius1 is this related to the `MDL2` theme effort that is ongoing right now?

[2019-07-05 21:31] khmakoto commented on #9720
Hi @HarryGifford, thanks for filing the issue!

I do believe phantom dependencies are the problem here because of how rush symlinks them. @kenotron do you have any idea on how to circumvent this issue?

[2019-07-05 21:56] khmakoto commented on #9638
Hi @v-doku, this is a bug with Edge's alert and not our controls. I'll be closing this down as external since it is not a bug with Fabric.

[2019-07-05 21:56] #9638 closed

[2019-07-05 22:02] taparikh commented on #9412
@natalieethell any status update on this issue ?

[2019-07-06 01:53] Vitalius1 commented on #9719
@khmakoto doesn't look like it is.

@guptarajesh001, can you you be more specific to what you are referring, please? What do you mean when you say: _...implement ITheme style..._? Is the question about using custom styling for Fabric components through `styles` prop and CSS-in-JS approach or something else?

Also, you might wanna consult these resources:
1. SPFx dev docs have several pages related

[2019-07-06 01:54] gggjtgxing commented on #9702
https://github.com/OfficeDev/office-ui-fabric-react/pull/9723/files
![hovercard_target](https://user-images.githubusercontent.com/17696563/60749948-5c890c00-9f56-11e9-9c30-7c7a9b264174.gif)

[2019-07-06 08:19] rohitrewa opened #9724 "Nav control focus invisible in high contrast mode"
### Bug Report

- __Package version(s)__: 7.7.1
- __Browser and OS versions__: IE

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) Accessibility bug -> High

Products/sites affected: (if applicable) Microsoft Visio Data Visualizer

#### Describe the issue:

Invisible focus on Nav bar in high contrast mode

#### Expected behavior:

Nav bar shou

[2019-07-07 07:29] redraushan commented on #9694
Hi @chrismohr,
Thanks for reporting. I believe there could be two ways to fix the issue:
1. Tooltip scrolls along with the host element and stays glued together.
2. Tooltip gets closed as soon as scrolling starts.

I can take this one if we are clear about expected behaviour.
Thanks

[2019-07-08 05:46] dzearing commented on #9717
Don't use `autobind`. Instead, use lamdas:

[code]

The `autobind` decorator is not necessary anymore and just adds overhead to the bundle. Using oldschool `bind` also is not recommended as it makes the code messy.

[2019-07-08 05:47] dzearing commented on #9717
Let us know if we can help further, feel free to close otherwise. :)

[2019-07-08 05:49] dollykumari5 commented on #9713
Hi @khmakoto we will be closing the parent bug [#8349](https://github.com/OfficeDev/office-ui-fabric-react/issues/8349) and logging individual bug in GitHub as advised by @micahgodbolt.

@awalia13 for tracking.

[2019-07-08 05:49] dzearing commented on #9717
BTW @khmakoto this is mentioned in the coding guidelines wiki; I double checked to make sure we have it covered:

https://github.com/OfficeDev/office-ui-fabric-react/wiki/TypeScript-Guidelines#use-arrow-functions-instead-of-bind

[2019-07-08 05:54] dzearing commented on #9715
Calling RAF means async code is being called which isn't being canceled on unmount. We should be using `safeRequestAnimationFrame` instead. And probably adding a tslint rule to warn against using RAF, setInterval, or setTimeout directly in code.

@khmakoto Please fix this correctly by canceling the async running operation using the safe* methods in `@uifabric/utilities`.

[2019-07-08 05:56] dzearing commented on #9703
The `IDialog` interface which componentRef returns is empty. Technically componentRef should be removed. What are you trying to access?

[2019-07-08 05:58] jackiecorn commented on #9703
A reference to the Dialog component element, similar to that of the Panel component.

[2019-07-08 05:58] dzearing commented on #9694
The tooltip technically is supposed to dismiss on scroll. Something is preventing it in these cases. Why are these scenarios special? That's what we need to dig into.

[2019-07-08 06:00] dzearing commented on #9703
`componentRefs` are designed to return a specific, limited interface. Like exposing a "focus" method to focus a button.

What on the Dialog component are you trying to access? Returning you IDialog would be returning you an empty object.

[2019-07-08 06:03] dzearing commented on #9695
I don't understand the use case. What is meant by "description" exactly? Are we talking about an aria label? Or a second line of visible text with specific css styling in mind?

Other than a few experiment components, I do not see a single component which takes `description`.

[2019-07-08 06:10] jackiecorn commented on #9703
I was trying to render the Dialog's HTML element(minus the overlay background and absolute positioning) in a specific div on the page (think of it as a preview of what the dialog would look like when opened). I wanted to use the componentRef to access the dialog element so when there were more than one dialogs on the page I'd have a way to differentiate and render them separately.

[2019-07-08 06:23] dzearing commented on #9703
I believe you could use a `ref` to access the component itself. However, maybe another solution would be better.

The Dialog can be rendered in a specific div on the page:

https://codepen.io/dzearing/pen/MMPBww

The important part is:

[code]

You can also provide a classname on the modal to replace the position fixed with static. Not perfect, but maybe that's what you're trying to achieve.

[2019-07-08 06:24] PooLP commented on #9717
Thanks for response. I close this issue.

[2019-07-08 06:24] #9717 closed

[2019-07-08 06:29] jackiecorn commented on #9703
Yes that does it for me.
I just wanted to point out that the componentRef doesn't return anything useful.
If it was not intended to have a componentRef prop, please remove it from the docs to avoid confusion.
Thanks!

[2019-07-08 06:29] #9703 closed

[2019-07-08 07:13] srungta commented on #8491
Hi @JasonGore ,
I am using layerprops for now, but would like to understand the side effects you mention above in detail. Do you have any link / code file/ reference material that i can study?

[2019-07-08 07:39] omerquyyum12 commented on #9710
Hi @khmakoto  this issue is only producing on standard laptop screen 1920x1080 resolution.
![list](https://user-images.githubusercontent.com/52535075/60791587-66d91f00-a17d-11e9-8c2f-c64467416931.PNG)

[2019-07-08 09:54] Ashikpaul opened #9726 "Only Month and Date in Date Picker"
A date picker where current year is the default and only be able to select Month and Date.
Eg : IsYearPickerVisible: false

[2019-07-08 10:19] jacksonv1lle commented on #9249
I agree that the callout should not watch for changes to the content. It would be good to have a `forceUpdate` feature similar to the DetailsList so that the position could be recalculated programmatically.

[2019-07-08 10:45] jacksonv1lle commented on #9249
@SpencerLynn I had a similar issue where the callout was not updating when the page content changes. I was able to resolve it by specifiying the `hostId` in the layerProps to the id of the callout's parent element. That will allow you to render the callout within the parent element instead of rendering it at the end of the body.

[2019-07-08 10:47] flipswitchingmonkey commented on #7728
Has anyone ever worked out whether this is an issue with Parcel or Fabric? The workaround works, but who knows what other side effects this may end up having?

[2019-07-08 12:37] known-as-bmf commented on #9693
here are two images to illustrate the issue:

* On the right is the group "tree" of the GroupedList and on the left is the result
* Red line is the computed nesting depth (for all nodes of the GroupedList)
* Green line is the expected depth for specific rows

![image](https://user-images.githubusercontent.com/11721166/60810475-84ae8000-a18d-11e9-93ad-bec9aaf9410b.png)

![image](https://user-images

[2019-07-08 14:54] micahgodbolt commented on #9713
Last time we chatted, I thought the tagging limitation of GitHub meant that you were going to be logging these bugs internally for better tracking. Is that not still the case?

[2019-07-08 14:55] micahgodbolt commented on #9713
Also, if we do log the bug here in github, we need to have a much better description in github itself. bug description, repro steps etc. That should all be public as the repro should be on our own site.

[2019-07-08 14:57] micahgodbolt commented on #9716
@khmakoto the main question is if we are to spec with our designs or not. If we are to spec, then it's a design question if they want to make that change. If we aren't to spec, we want to align. Ping me if you need the link to figma.

[2019-07-08 15:50] JasonGore commented on #9645
My comments:
1. I'm curious if component size should really be a determining factor for splitting packages. Is tree shaking something not available in React Native solutions? If it is a factor, it's going to have knock off effects on Fabric package hierarchies, as well. (No sense in splitting out ContextualMenu if most of the other packages use it, for example.)
2. `Omit` is just a type helper tha

[2019-07-08 15:55] guptarajesh001 commented on #9719
Thanks for explanation, however, we want to implement theming of SPFx webpart in the classic as well as modern pages of SharePoint online.

[2019-07-08 16:13] Vitalius1 commented on #9724
@betrue-final-final what is the expected color to be used in HC mode when focusing a nav item?

[2019-07-08 16:16] JasonGore commented on #9633
This is by design. `FocusTrapZone` traps focus for the entire page, and even prevents using keyboard navigation to access browser menus. Ideally browsers would support a method for trapping focus that doesn't exclude browser menus, but until they do, we will use `FocusTrapZone` to approximate.

We've modified the content to try and make this more clear:
![image](https://user-images.githubuserconte

[2019-07-08 16:18] betrue-final-final commented on #9724
The problem here is that there are boxes around all the items. There should be no boxes around them, and the focus rectangle should be color_WindowText (white in HC Black)

[2019-07-08 17:08] dzearing commented on #9703
Totally agreed, it should have been deprecated. Thank you @jackiecorn!

[2019-07-08 17:08] JasonGore commented on #8491
Yeah, there's a [Layer wiki](https://github.com/OfficeDev/office-ui-fabric-react/wiki/Layer-&-Portals) describing behavior. It appears that the `dragenter` and `dragleave` events will also need some special exceptions like `mouseenter` and `mouseleave` events do now.

[2019-07-08 17:19] adityapelluri commented on #9653
@khmakoto  Is there any update regarding the fix of this ?

[2019-07-08 17:22] khmakoto commented on #9653
I'm still investigating the issue. Still don't know why this is happening only on touch devices.

[2019-07-08 17:38] #8743 closed

[2019-07-08 17:38] #9057 closed

[2019-07-08 17:38] #9152 closed

[2019-07-08 17:59] #8870 closed

[2019-07-08 18:07] Pangamma commented on #9574
https://stackoverflow.com/questions/56692224/how-to-toggle-office-ui-fabric-detailslist-row-selection-using-the-entire-row-as/56785728#56785728

Alternative answer found... works pretty well

[2019-07-08 18:07] #9574 closed

[2019-07-08 18:13] #9632 closed

[2019-07-08 18:21] #9340 closed

[2019-07-08 18:29] #9684 closed

[2019-07-08 18:31] khmakoto commented on #9633
@web-warrior if there's anything else we can help you with please let us know. If not, feel free to close this issue. Thanks!

[2019-07-08 18:33] betrue-final-final commented on #7089
Is there a PR associated with this @marygans?

[2019-07-08 18:43] atneik commented on #9702
@gggjtgxing I'm curious, why does text field changes its size upon hover? Is that a feature?

[2019-07-08 18:47] kelseyyoung commented on #9645
I'm up for any categorization of keytips really; out of the ones listed in the original table I think it mostly fits in react-commanding because it gives a way to trigger executable controls through keyboarding; the Keytip component itself is just a visual way to show that. However, as Jason mentioned, because it's used by many components perhaps it does need its own package

[2019-07-08 18:47] web-warrior commented on #9633
Ok, good to know that is intended behavior!  Thank you for the additional explanation.

Sent from Jenny McClaine's iPhone

[2019-07-08 19:01] khmakoto commented on #9715
@dzearing looking at the code, it seems to be using `safeRequestAnimationFrame`, since `_requestAnimationFrame` is defined in line 70 as

[code]

So it seems there's some other weird thing happening here.

[2019-07-08 19:11] gggjtgxing commented on #9702
because hero buttons on the right side only show up upon mouseOver
![image](https://user-images.githubusercontent.com/17696563/60835961-5030c900-a179-11e9-9204-278809ebb81d.png)

![image](https://user-images.githubusercontent.com/17696563/60836015-722a4b80-a179-11e9-9a89-badbd9ea978f.png)

[2019-07-08 20:10] ecraig12345 commented on #9712
@dollykumari5 For future issues, please include the relevant info inline rather than linking (and don't delete the issue template). This is way more helpful both for the person investigating the issue and anyone else from the community (outside Microsoft) who might encounter a similar issue. I'm updating the issue body to include this info.

[2019-07-08 20:19] ecraig12345 commented on #9712
@jordandrako Do you have a suggestion for how to fix this issue with the example cards?

[2019-07-08 20:31] KevinTCoughlin commented on #9719
@guptarajesh001 which version of `office-ui-fabric-react` does your web-part depend on? Our theming solution depends on the version of our library you are pinned to.

Once the above is provided, I should be able to provide guidance for you. Thanks!

[2019-07-08 20:36] jordandrako commented on #9712
Could we use a CommandBar and put those dropdowns in an overflow menu?

[2019-07-08 20:44] Vitalius1 commented on #9726
Hi @Ashikpaul , thanks for submitting this feature request. We will take a look into this and discuss the feasibility of adding this to the control.

[2019-07-08 20:44] khmakoto commented on #9633
I'll still make a PR to make this obvious on the component overview that should hopefully help with this confusion.

[2019-07-08 20:47] rlanda-msft opened #9731 "Suggestions in BasePicker should not specify empty string for ref"
When rendering the Suggestions list on a people picker, a single item will either get a ref object prop, or have it set to empty string. The code in question is the ref prop below:

[code]

in https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/pickers/Suggestions/Suggestions.tsx

This causes as issue with multiple react roots and react th

[2019-07-08 20:47] Vitalius1 commented on #9726
@lorejoh12 any thoughts on adding this feature to the Calendar of having a prop toggling the year picker part of it and default it to the current year?

[2019-07-08 20:53] weijia-ai commented on #9672
@khmakoto Thank you Khmakoto! Feel free to ping me if you need any details

[2019-07-08 21:03] khmakoto commented on #9716
@micahgodbolt if you could share those figma files with me it would be great. Thanks!

[2019-07-08 21:11] JasonGore commented on #8491
I took another look at this again and With just a [slight tweak to the provided examples](https://codesandbox.io/s/layer-drag-8491-8uyed), I do get the drag callbacks called as expected:

[code]

![Dropzone](https://user-images.githubusercontent.com/26070760/60842604-56c73c80-a189-11e9-99d4-f5f0eadf6b50.gif)

It seems the issue is actually within React Dropzone somehow. The change I made above see

[2019-07-08 21:30] JasonGore commented on #9731
This also seems like it could be an issue in `SuggestionControl`, `SuggestionsCore` in both `FloatingSuggestions` and `FloatingPicker` components.

[2019-07-08 23:00] JasonGore commented on #7999
I'm not seeing an easy way to fix this without major interface changes to `TeachingBubble` and/or `PrimaryButton`. @khmakoto Could you double-check? Do you see any easy fixes now and/or with new `PrimaryButton`?

Things I've considered:
1. Temporary `not` `HighContrastSelector` in `TeachingBubble.styles`. This approach [doesn't seem to be supported in MS Edge](https://developer.mozilla.org/en-US/d

[2019-07-08 23:51] khmakoto commented on #9683
Hi @Sbearlin, do you know which version of Fabric is SharePoint Online using? That could help with both replicating the issue and getting a fix for it.

[2019-07-09 01:34] Vitalius1 commented on #9731
@JasonGore I have a PR up just for `Suggestions` in pickers folder. I looked over the other 2 files you suggested but in there the ref is handled by `_resolveRef` coming from `BaseComponent` that receives only a string type argument and then handles it by returning an empty object in case the string is empty. So perhaps there needs to be a dipper fix. For now we need to unblock the product rollout

[2019-07-09 02:04] guptarajesh001 commented on #9719
@KevinTCoughlin, Kindly find versions we have used in our project:

NodeJs - v8.14.1
npm -6.4.1
@types/react - ^16.8.18
@microsoft/sp-office-ui-fabric-core- ^1.8.0
office-ui-fabric-react - ^6.176.3

[2019-07-09 05:01] jackiecorn opened #9740 "onIncrement and onDecrement don't work on SpinButton"
`onIncrement` and `onDecrement` don't work on SpinButton, even when returned a string value.

e.g. adding this prop stops the value from updating on pressing the up key:
`onIncrement={value => value}`

[2019-07-09 05:02] dzearing commented on #9715
oops, sorry about that. Hmm. Not sure why RAF callback would be called when ref is nulled.

[2019-07-09 05:24] shivasai09 opened #9741 "onKeydown dosen't work on columnHeader in DetailList, only in IE11"
### Environment Information

- __Package version(s)__:latest version
- __Browser and OS versions__: IE11 windows 10

### Please provide a reproduction of the bug in a codepen:

 https://developer.microsoft.com/en-us/fabric#/controls/web/detailslist
#### Actual behavior:
 when we try to sort the detail list with keyboard stroke on the column header , the list is not getting sorted. Only in IE11

wh

[2019-07-09 05:57] Vitalius1 commented on #9740
Hi @jackiecorn, I put together a [codepen](https://codepen.io/vitalius1/pen/QXJJWY) real quick based on the example called `Stateful SpinButton` we have on our [documentation website](https://developer.microsoft.com/en-us/fabric#/controls/web/spinbutton) and it looks like everything is working as it's supposed to.

Let me know if you have any other questions or I am missing something.
Also, could

[2019-07-09 06:09] jackiecorn commented on #9740
I only realized the value passed into the callback function was the value BEFORE the increment/decrement and not after the increment/decrement.
I had never thought I'd have to do the math inside the function, basically bypassing the step prop and return the calculated value as a string.
Now I see it's not really a bug so feel free to close this. However I wish the documentation was more clear on t

[2019-07-09 08:45] thomasgassmann opened #9742 "Allow rendering modals and other components in another document"
**Describe the feature that you would like added**
Office UI Fabric currently renders Modals and all other components in the [current document](https://github.com/OfficeDev/office-ui-fabric-react/blob/6ff7873e60436513ce7c3e4f39982a461fa5c86f/packages/utilities/src/dom/getDocument.ts). In some cases you might want to render a modal dialog not in the current document, but in another one. For example

[2019-07-09 10:10] Sbearlin commented on #9683
As far as I can see in my package.json the module: `"@microsoft/sp-office-ui-fabric-core": "1.7.1"` is the one responsible for getting Office UI Fabric. And when I reference a React component, like the panel, the library of `office-ui-fabric-react` is referenced.
When looking into the node_modules folder the package.json for office-ui-fabric-react is noting following version: `"version": "5.131.0"

[2019-07-09 12:12] rohitrewa commented on #9718
@khmakoto For planning purpose, we would like to understand when can we see this fix in npm.

[2019-07-09 12:13] rohitrewa commented on #9724
@Vitalius1 @betrue-final-final For planning purpose, we would like to understand when can we see this fix in npm.

[2019-07-09 13:08] j-te commented on #6052
This feature may encourage non-responsive design, how would a mobile device see this?

You can anchor TooltipHost to any element, may I suggest rendering an IconButton that opens the Tooltip, or style your text in a way that encourages interaction.

[2019-07-09 13:47] Tinathnath opened #9744 "ChoiceGroup label style does not follow disabled state"
### Environment Information

- __Package version(s)__: current

### Please provide a reproduction of the bug in a codepen:

[Codepen](https://codepen.io/anon/pen/ZdVOJG?&editable=true)

#### Actual behavior:

The ChoiceGroup main label (at the thop) does not follow disabled state like other components (like Textfield) do.

#### Expected behavior:

Main label to follow disabled state.

#### Priorit

[2019-07-09 14:23] gioce90 commented on #2195
This would be an interesting feature. You have some news?

[2019-07-09 15:44] chriskuech commented on #9695
Most of my form components are [`TextField`s](https://developer.microsoft.com/en-us/fabric#/controls/web/textfield) which have both `label` and `description` props.  I would like all my form components to have a consistent look and feel, using the `description` to provide more information to the user about what data to enter.  Currently my `TextField`s effectively provide this information, but my

[2019-07-09 15:52] micahgodbolt commented on #9695
I believe our approach is going to be creating an abstraction to wrap around our existing form fields to give them consistent labels, descriptions, error text etc. I agree our form fields are inconsistent. This work is already being tracked in #5582.

[2019-07-09 15:54] micahgodbolt commented on #5582
I think schema driven forms have a ton of value (especially in our org). I agree that special cases will pop up where a hand crafted form is better. I'd like to imagine a form element could handle either scenario.

[2019-07-09 16:32] chriskuech commented on #9695
While I like the idea of a `Form` component, I think this proposal is substantially simpler and could just be done by adding a `description` field to the existing `Label` component.  I believe the `Label` component already exists for this scenario (adding form-field-like styling to a component ad hoc).  Is there any issue with that approach?  I would even imagine a `Form` component implementation

[2019-07-09 16:56] Vitalius1 commented on #9724
@rohitrewa , I am running the CI on the PR again and as soon as it's merged into master next day's morning we will have a release containing the fix. You will be also be notified in the thread of this issue when that happens and what version to use to have it available in your app.

[2019-07-09 17:46] JasonGore commented on #9096
Should be fixed with #9396 (I'm not sure why this issue didn't autoclose)

[2019-07-09 17:46] #9096 closed

[2019-07-09 17:49] #9731 closed

[2019-07-09 17:50] #9724 closed

[2019-07-09 18:15] Vitalius1 commented on #9726
@Ashikpaul, can you please provide a mock of how you expect it to look? From a first look there will be some aligning to adjust when we hide the year picker and this will require a designer input.
Also, if the reason for this ask is to be able to restrict the user to change the year, you could consider setting some date boundaries through `minDate` and `maxDate` props. We would appreciate you prov

[2019-07-09 18:45] micahgodbolt commented on #9694
This repros in the current release as well:

https://fabricweb.z5.web.core.windows.net/oufr/7.8.0/#/examples/tooltip

Lots of broken logic in there. Tooltip should automatically dissapear on scroll (removing any delay). There is also a bug where if you hover over the tooltip and scroll, the events are eaten up.

[2019-07-09 19:51] Vitalius1 commented on #9741
@shivasai09 I tried to follow your repro steps and everything is working on my end. I can press `enter` while having focus on a column header and the sort logic gets triggered.

[2019-07-09 20:00] #9644 closed

[2019-07-09 20:27] #9633 closed

[2019-07-09 20:44] ebouJ commented on #987
+1

[2019-07-09 20:57] Vitalius1 commented on #9744
@Tinathnath thanks for submitting the issue. I have looked into it and indeed there is no scenario on how to disable the main top label. This is a quick fix and a PR will follow shortly

[2019-07-09 21:03] Vitalius1 commented on #9744
@betrue-final-final, do we mark the top label on a disabled `ChoiceGroup` as also disabled? Here is the before and after:
### Before:
![Screen Shot 2019-07-09 at 14 02 17](https://user-images.githubusercontent.com/29514833/60922733-3c0cca80-a252-11e9-9d1d-8706fb54e287.png)

### After:
![Screen Shot 2019-07-09 at 14 02 30](https://user-images.githubusercontent.com/29514833/60922743-44650580-a252-11

[2019-07-09 21:04] Tinathnath commented on #9744
@Vitalius1 Thanks for the reply. For our current project we did a quick css hack but I'll have a look at the PR for the proper fix :)

[2019-07-09 21:27] micahgodbolt commented on #9688
we want to make it consistent as much as we can. What are other controls doing that automatically show a tooltip?

[2019-07-09 21:39] betrue-final-final commented on #9744
Marking the label as disabled makes sense.

[2019-07-09 21:43] betrue-final-final commented on #9744
Looks like dropdown, slider and spin button also have this issue.

[2019-07-09 21:55] #9686 closed

[2019-07-09 22:04] micahgodbolt commented on #6390
@khmakoto the command bar "more" button has the same issue as the breadcrumb. We need to figure out a way to address both (though the change probably comes from overflow set)

[2019-07-09 22:29] kenotron commented on #9720
I've seen some goober from the pnpm / rush combo getting written into shrinkwrap.yml file. This is the source of the issue. Without having to manually modify the shrinkwrap file, I'm not sure how to clear it all. When we blew away shrinkwrap and re-rush-install at the beginning of 7.x branch, we had a clean set of deps. Maybe we can do a blow away & recommit exercise here again.

[2019-07-09 23:01] octogonz commented on #9720
This issue isn't Rush-specific or PNPM-specific.  Phantom dependencies will be a problem for /any/ package manager that's installing side-by-side versions:  If the package.json doesn't declare what version of the typings it needs, then there will always exist scenarios where it will get the wrong version.

People commonly disregard phantom dependencies because, in their simple setup, they don't us

[2019-07-09 23:23] octogonz commented on #9720
In case it wasn't clear, the fix is to change this:
[code]
...to something like this:
[code]

This is needed for all packages that export TypeScript signatures that refer to `@react/` typings.

[2019-07-09 23:24] khmakoto commented on #9715
I think they are separate issues, because, based on my understanding, RAF callback only checks for safety on `this` whereas this issue is dealing with safety on `this._focusZone.current`, which I think can be null.

[2019-07-09 23:57] khmakoto commented on #9631
@x73x63 Do you think Kevin's approach in #9670 might work for you?

[2019-07-10 01:00] #9557 closed

[2019-07-10 02:00] #9601 closed

[2019-07-10 03:36] alirobe opened #9753 "color: shades class has clamp function commented out, with no reason stated?"
### Environment Information

- __Package version(s)__: master, commit 9c95e9b
- __File__: `packages/office-ui-fabric-react/src/utilities/color/shades.ts`

### Issue

- The clamp function is commented out, with no reason stated. This might result in negative, or impossible values.

### Suggested fix

- Suggest a quick git blame to contact the author so the the function can be removed, or fixed, or

[2019-07-10 04:51] Vitalius1 commented on #9753
@phkuo I believe the author is referring to this line:
https://github.com/OfficeDev/office-ui-fabric-react/blob/e8bbf18a4b8fd9b3ce378f92bb9f5274cba76fdd/packages/office-ui-fabric-react/src/utilities/color/shades.ts#L78

Do you know what action should be taken with that comment? Do we need to cleanup the extra 2 arguments of the function and remove the commented part?

[2019-07-10 05:26] shivasai09 commented on #9741
Hello @Vitalius1  i have a gif for the repro, i am able to repro it. It happens only in IE11

![detaillist](https://user-images.githubusercontent.com/33802398/60942699-34f0c580-a301-11e9-8e01-92c75255d775.gif)

[2019-07-10 07:00] #9740 closed

[2019-07-10 09:32] makafsal commented on #6476
Same issue when using onDismiss(). Because when clicking outside the panel area, it will dismiss.

`<Panel
        isOpen={true}
        type={PanelType.large}
        isLightDismiss={false}
        hasCloseButton={false}
        onRenderNavigationContent={this._onRenderHeaderContent}
        focusTrapZoneProps={{
          forceFocusInsideTrap: false
        }}

[2019-07-10 10:25] Hardhik commented on #7762
Please add the following issue on Message w.r.t. Screen Reader
When we navigate to the MessageBar while using Narrator with Caps Key + Arrow, it announces as "Status" and we have to click Caps Key + Arrow once again to read the text.

For example
Narrator reads the following for the example in https://developer.microsoft.com/en-us/fabric#/controls/web/messagebar

`Show code, button,
Info/Default M

[2019-07-10 13:06] withgallantry opened #9754 "selectionPreservedOnEmptyClick property not working in 7.6.0 on DetailsList"
### Environment Information

Package version: 7.6.0

### Please provide a reproduction of the bug in a codepen:

Between version 7.5.0 and 7.6.0 the selectionPreservedOnEmptyClick does not work correctly.
On 7.6.0 when clicking outside of the list, the selection is undone.

Occurs on version 7.6.0 on DetailsList with selectionPreservedOnEmptyClick property. In the example below if you enable modal

[2019-07-10 14:02] srinidhiprabhu96 opened #9755 "[Dropdown] onRenderLabel method for dropdown component"
**Describe the feature that you would like added**
Having an onRenderLabel method for the dropdown component.

**What component or utility would this be added to**
Dropdown

**Have you discussed this feature with our team, and if so, who**
No

**Additional context/screenshots**
The onRenderLabel method would help in customizing the label of the dropdown. This would be needed if, for example, an in

[2019-07-10 15:19] idijan commented on #9691
The new colors in Fabric 7 were part of wide improvements and adherence to fluent theme.
Therefore, we're not going to regress them back to old palette from v6.

I'll close this issue.
The inconsistency in the specific apps will be solved within them, by passing the color using initialsColor property.

[2019-07-10 15:19] #9691 closed

[2019-07-10 15:31] rake93 opened #9756 "Table/Grid component implementation with dropdown values"
**Describe the feature that you would like added**
I have a requirement where I need to create a Table/Grid with dropdown values using Office UI fabric React library. I have gone through the Microsoft office UI documentation and I don't find any component to achieve it.
**What component or utility would this be added to**
Grid or Table
**Have you discussed this feature with our team, and if so, wh

[2019-07-10 15:53] aslanovsergey opened #9757 "DetailsList building errors"
- __Package version(s)__: (6.143.0)

#### Describe the issue:

I use webpack to bundle my app. In project I use typescript 3.1.6.

When run build I get following errors:

`
ERROR in [at-loader] ./node_modules/office-ui-fabric-react/lib/index.d.ts:77:1
    TS2308: Module './DetailsList' has already exported a member named 'IObjectWithKey'. Consider explicitly re-exporting to resolve the ambiguity.

[2019-07-10 17:55] KevinTCoughlin commented on #9757
I believe this is related to #9661

[2019-07-10 18:06] aslanovsergey commented on #9757
Thanks @KevinTCoughlin is there any workaround until it's fixed?

[2019-07-10 18:43] xxhice opened #9761 "Narrator is not reading text on using Caps+right arrow in scan mode"
## Codepen demonstrating the issue

https://codepen.io/xxhice/pen/NZzERb
 Start Narrator and enable scan mode
 Using Caps+right arrow navigate to Toggle button and text next to it
 Verify whether narrator is reading the text on the first time, it will focus on the label again and read on another Caps+right

## Actual behavior:
Narrator is not reading text on using Caps+right arrow in scan mode for