[2019-03-25 22:13] brandonthomas commented on #7085
It is but it's just sitting on my backlog :S I've been doing tons of control refactors lately (fixing functional bugs and accessibility) so I'm pretty slammed there. If someone else wants to take it I'm not attached to it but I don't want to close it.

[2019-03-25 22:28] Jahnp commented on #6182
@mdmdakbar Apologies for the delay, it seems this fell off the radar for a bit. Can you confirm if this still repros for you? I'm not able to repro on my iOS device at the moment, and won't be able to test on an Android until at least tomorrow.

cc @kkjeer who authored #5423 and may have thoughts here.

[2019-03-25 22:31] Jahnp commented on #4997
@suztocco is this still an issue for you? We're revisiting component styles with the Fluent updates and I wonder if we can address any issues here as a part of that work.

cc @Vitalius1 @betrue-final-final for visibility and who may know more about the issues involved (I don't have the toolkit in front of me)

[2019-03-25 22:35] Vitalius1 commented on #4997
We have all the states in the toolkit. I think this is a valid bug that needs to be fixed with the fluent work I do. We might wanna then port them to the current master for users on Fabric 6.

[2019-03-25 22:38] nshoes commented on #8464
Cool! I think I'll create PR's as we go through using different components and spot these specific selectors. Closing out 📕

[2019-03-25 22:38] #8464 closed

[2019-03-25 22:40] Jahnp commented on #4997
That's great, thanks Vitalie--makes sense to me. We can prioritize the Fluent work and plan to do a backport separately. I'll assign this to you for now and we can talk about transferring if it makes sense.

[2019-03-25 23:01] Vitalius1 commented on #8456
So I did a little bit of investigation and it looks like if following the chain of props below you can still pass the `splitButtonAriaLabel` prop to the command bar items.
`CommandBarItem` is of type `ICommandBarItemProps` which extends from `IContextualMenuItem` interface. This interface, in turn, has this:
https://github.com/OfficeDev/office-ui-fabric-react/blob/ae66c05a20ddf23c37fd92a1d3528815e

[2019-03-25 23:11] KevinTCoughlin commented on #8406
It is not clear to me how the `role="radio"` would work for one of the default scenarios `DetailsList` supports which is multiple-selection. This control is used in document libraries across OneDrive & SharePoint so supporting this is crucial.

Note that the W3 ARIA spec states the following re: `role="radio"`:

Similarly, `role="radiogroup"` has the same single-selection limitation as per spec:

[2019-03-25 23:18] KevinTCoughlin commented on #8410
@bryanchen-d, the W3 ARIA specification states that child elements with either `role="row"` or `role="rowgroup"` are acceptable "Required Owned Elements" under `role="grid"`, see https://www.w3.org/TR/wai-aria-1.1/#grid.

Looking at the default `GroupedList` example, we seem to have that hierarchy:

![image](https://user-images.githubusercontent.com/706967/54960323-4d3b0100-4f19-11e9-926f-3c03412f

[2019-03-25 23:18] atneik commented on #8361
@Vitalius1 and I were talking about this one. He might be better positioned for it as he has more context about HoverCard atm. Does that sound fine @Vitalius1?

[2019-03-25 23:19] KevinTCoughlin commented on #8410
@bryanchen-d it would be awesome if you were able to provide a Codepen repro of the issue to help us debug and triage more efficiently :).

[2019-03-25 23:24] KevinTCoughlin commented on #8374
Announcing the header row as part of the row count is intended behavior and to specification _to my knowledge_.

As reference, see **Example 2** on the W3 ARIA official data grid example which announces the table header row as "Row 1" at https://www.w3.org/TR/wai-aria-practices/examples/grid/dataGrids.html.

**Narrator output**

[code]

[2019-03-25 23:39] micahgodbolt commented on #8466
What browser are you on? I only see one (or am I just not seeing it right)

![image](https://user-images.githubusercontent.com/1434956/54961065-790bb600-4f1c-11e9-8512-3052cecef2a4.png)

[2019-03-25 23:46] KarthikJeyabalan commented on #8466
Seems like you have clicked on the "label" part of checkbox.  Please click on the checkbox itself.
I have tried it on edge, chrome, new edge.

[2019-03-25 23:49] micahgodbolt commented on #8466
ah! Thanks. Got it. Also good to note for troubleshooting that the behavior only happens when clicking directly on the check box.

[2019-03-25 23:54] ruoxi-lyu commented on #8406
@KevinTCoughlin  if you decide to keep `role="checkbox"`, the expected keyboard navigation for checkbox should be:
 use tab/arrow keys to just get focus on to an element. thenpress space to check/uncheck, so that the user can use pure keyboard navigation to select single/multiple elements.

However, the keyboard navigation behavior for the [detailslist on the basic example](https://developer.micro

[2019-03-26 00:14] natalieethell commented on #8406
@ruoxi-lyu If you hold down the "Shift" key while navigating through the rows with up and down arrows, you should be able to select multiple elements. I believe this is the expected behavior, but correct me if I'm wrong @KevinTCoughlin @betrue-final-final.

Here's an example:

![DetailsListSelectMultipleRows](https://user-images.githubusercontent.com/14134000/54962260-5a5bee00-4f21-11e9-8eda-57ca0

[2019-03-26 00:41] jspurlin commented on #8456
Since the whole splitButton is the focusable button, it's not required that the nested controls have a label. This should like something that should be followed up with the keros/insights team

[2019-03-26 03:12] DhirajKhot commented on #8415
Hello @khmakoto
Thanks for your info. I can see that the Narrator does read out well in scan mode off.

As you said this has now only the issue of narrator reading the dates as editable. This should be fixed.

[2019-03-26 03:48] dzearing commented on #8466
This is the browser generating the extra click from the label click. For example, this markup also generates 2 clicks:

[code]

You can see for yourself in this codepen:
https://codepen.io/dzearing/pen/RdOGLL

But also, this isn't really the right way to listen for state changes on the checkbox. A better approach would just to be to listen to the onChange event. What exactly are you trying to do w

[2019-03-26 03:54] dzearing commented on #8463
@ecraig12345 bug1 seems straightforward, correct me if I'm wrong. Bug2 sounds like it could be a Narrator issue? Is this something we need to escalate?

[2019-03-26 04:22] ecraig12345 commented on #8463
Thinking about it more, fixing bug 1 may only make sense if we fix #8012--correct me if I'm wrong, but I'm not sure how useful it is to read the sliders if the user can't interact with them. Otherwise we should just make the sliders hidden from the screen reader (aria-hidden and/or role=presentation?).

I also question how important it is to fix #8012, at least for screen reader users (sighted pow

[2019-03-26 05:06] cliffkoh commented on #8466
Fixed a minor typo in David's codepen over here: https://codepen.io/anon/pen/pYBNBP

[2019-03-26 05:25] dzearing commented on #7852
I'm not sure bug 1 true. Icons I believe should be role=presentation in most cases. The outer container rendering them should have the properly descriptive aria tags.

Bug 2 is not a real issue either. Icon is a graphical glyph to be used within an interactive element that has the right ariaLabels.

[2019-03-26 05:26] dzearing commented on #7852
@TestAccessibilityGIT if you disagree, please let us know. @cschlechty I think would agree here, but correct me if not.

[2019-03-26 05:27] dzearing commented on #8406
Yes @natalieethell this is correct. Also holding ctrl down and up/down arrowing I believe moves focus without selecting, as per windows explorer keyboard accessibility.

[2019-03-26 05:30] dzearing commented on #8406
@betrue-final-final @ThomasMichon @cschlechty @KevinTCoughlin Do you folks have an opinion here?

My take here is that this is by design. Arrowing up/down should move selection. Ctrl up/down should move focus without selection. Shift up/down should change selection. Pressing space bar should toggle the currently focused element.

[2019-03-26 08:47] FullStackRafik commented on #8455
I agree with you and I believe that we can translate the grouping that we need with multiple great features like caching ....but I think it would be also great if we have for example a list items as below :
 this._MockData= [
    {
      Name: 'test1',
      Group:"Group1"

    },
    {
     Name: 'test2',
     Group:"Group2"

    },
    {
      Name: 'test3',
      Group:"Group1"

    },
    {

[2019-03-26 10:32] saini-ankish commented on #8456
@Vitalius1 Passing `splitButtonAriaLabel` resolves it

[2019-03-26 12:39] frevds opened #8470 "Fixing the modal Panel OuterClick issue"
Test: https://codepen.io/frevd/pen/YgMJze

I want to be able to open a modal Panel, for which I set isBlocking to true (so that it shows an outer layer above the rest of the page for that the user cannot interact with it).

If isBlocking=true, the panel dismisses automatically whenever the user clicks on a foreign element (such as a dialog opened ontop, or another panel, anything that is not direc

[2019-03-26 16:14] KevinTCoughlin commented on #8406
As far as I'm aware this navigation is by design. I'm assuming OneDrive / SharePoint document libraries have passed accessibility validation w.r.t keyboard navigation.

[2019-03-26 16:37] fildahui opened #8471 "GetNativeProps "missing" on some components"
Some components (for example the `DatePicker`, or `Button`) use the `getNativeProps` function which basically allows me to pass down native props (like the `id`) and have them rendered in the final html (even though there's no reference in the documentation).

On the other hand, some components do not use `getNativeProps` function (`Dialog`, for example) so if I set one of the props on these compo

[2019-03-26 16:39] khmakoto commented on #8415
Thanks for checking! The PR above is aiming to fix the dates being read as editable.

[2019-03-26 16:40] cschlechty commented on #8406
The row itself isn't a checkbox, which is the thing changing. As a result
of moving selection to a row, the checkbox may or may not change state. It
should be fine as-is.

On Tue, Mar 26, 2019 at 9:15 AM Kevin Coughlin <notifications@github.com>
wrote:

[2019-03-26 17:16] KarthikJeyabalan commented on #8466
In the same code above two clicks are generated when clicked on the label, while clicking on the checkbox generates just one.

However, in the example I presented, two clicks are generated when click on the actual checkbox and just one click event when clicking on the label.

[2019-03-26 17:17] khmakoto commented on #8350
Hi @KeiraYang, after some back and forth I've confirmed that this is the expected behavior for Narrator in this situation. When you open the `Dialog`, focus goes to the new surface's first focusable element and it reads the `Dialog` title (to indicate that you are in a new surface) and then the name of the `TextField`. Since the `TextField` is associated with the label, that label becomes the name

[2019-03-26 17:17] khmakoto commented on #8361
I'll remove my assignment of this issue as I see that @Vitalius1 has also been assigned to it.

[2019-03-26 17:26] #8353 closed

[2019-03-26 18:14] Vitalius1 commented on #8456
@jspurlin, @dzearing looking at the design toolkit I see that the splitMenuButton is focused separately:
![Screen Shot 2019-03-26 at 11 04 18 AM](https://user-images.githubusercontent.com/29514833/55022010-f257e700-4fb6-11e9-8158-5ad10607a6d3.png)
What is the correct behavior?

[2019-03-26 18:16] Vitalius1 commented on #8361
Will take look into this and see what I can do later today.

[2019-03-26 18:22] jspurlin commented on #8456
No, this does not align with the current behavior, which is:
- only the whole splitButton is focusable
- ENTER/SPACE executes the primary button
- ALT+DownArrow executes the secondary button (e.g. expands the menu)

[2019-03-26 18:29] khmakoto commented on #8456
@Vitalius1 given that you said `splitMenuButton` instead of `splitButton` you might be looking at the one in `experiments`. In that case I should say that none of the `Buttons` in the `experiments` package are fully optimized for accessibility yet.

[2019-03-26 18:40] Vitalius1 commented on #8456
@jspurlin I guess this means we need to communicate this to designers so that they don't put an incorrect behavior in the toolkit.

Also, do we just need a PR with fixing the examples for the CommandBar by including these aria-labels? Even if we add them from my understanding they will not be read by a screen reader because we can not tab to them so this feels like just making Keros stop complaini

[2019-03-26 18:42] Vitalius1 commented on #8456
@dzearing would love to hear your opinion too as to how to proceed with this issue.

[2019-03-26 18:55] msdhana opened #8473 "DetailsList groupProps : IsAllGroupedCollapsed issue"
### Environment Information

- __Package version(s)__: 6.117.2
- __Browser and OS versions__: Edge an Chrome

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

Grouped details  component with **isAllGroupsCollapsed** show always with expand mode after changing the property value

https://codepen.io/vitalius1/pen/QoRbqW

#### Expected behavior:
It should behave base

[2019-03-26 18:57] dzearing commented on #8406
Closing as by design.

[2019-03-26 18:57] #8406 closed

[2019-03-26 19:07] Vitalius1 commented on #8473
@KevinTCoughlin I discussed this issue with @msdhana offline and when trying to use `isAllGroupCollapsed` prop on the `DetailsList` set to true from the very beginning all we see is the collapse all chevron button in the header is in a collapsed position, but no effect over the groups. Looking into the interfaces where it's defined it looks like it's in `IGroupRenderProp` interface. Are we trying

[2019-03-26 19:10] Vitalius1 commented on #8471
I would defer to what @dzearing or @micahgodbolt can answer to this question.

[2019-03-26 19:12] dzearing commented on #8466
The "box" part of the checkbox is part of the label styling, rather than the input box.

I believe changing the styling could let you do what you're talking about.

I also think an even simpler solution would be to push onClick prop to the input element itself. This would generate one click and perform a little more intuitively.

[2019-03-26 19:15] dzearing commented on #8466
There is a way to do this already though it's less intuitive, but your case is pretty special.

https://codepen.io/dzearing/pen/RdOGLL?editors=1111

Basically use `inputProps` to move the onClick to the input element:

[code]

This should achieve what you want. Would this be ok?

[2019-03-26 19:18] dzearing commented on #8457
@tharshada If you'd like to dig into perf around the animation to make it work better for your environment, please do and suggest some fixes.

Otherwise, I don't see a way for us to conditionally remove the animation based on system perf.

There are some tangential changes coming in the pipeline that could reduce some of the work being done in the script execution, but looking at your flame graph,

[2019-03-26 19:41] micahgodbolt commented on #8471
I agree this should be more consistent and intuative. One challenge specifically with Dialog is: what do you consider the outermost part of the control? Is it the visable modal? Or is it the wrapping divs that give it position.

One of our current goals is to propagate the idea of "slots" to all of our controls. This will establish a root slot for each control which WILL allow any component to tak

[2019-03-26 19:48] dzearing commented on #8456
hmm.

[code]

Disables type safety. It helps in some cases but basically makes it easy to have bugs. That said, it's the only way I know of to allow `data-*` attributes to be passed along.

[2019-03-26 19:54] KevinTCoughlin commented on #8473
This could be a bug. I remember a recent issue or PR recently about this functionality. Let me take a look thru the archive and get back to you soonish.

[2019-03-26 20:00] #8354 closed

[2019-03-26 21:04] #8415 closed

[2019-03-26 21:13] mattmazzola commented on #8264
Following up with discussions elsewhere so other people can see.

- Confirmed using 6.x version does fix the issue.
- Seems to be fixed in this release: https://github.com/OfficeDev/office-ui-fabric-react/releases/tag/office-ui-fabric-react_v6.43.0
- From this PR: https://github.com/OfficeDev/office-ui-fabric-react/pull/5351

The fix/bug was related to how the hierarchy of modals affected focus tr

[2019-03-26 21:13] #8264 closed

[2019-03-26 21:24] frevds commented on #8470
In case anybody needs a workaround right away, I had to make one because I need to display a modal panel and ontop of it a modal dialog with textboxes in it. If the user clicks in the dialog (or on its modal layer), the modal panel behind it closes. Specifying an OnOuterClick handler on the panel is not a solution, because this will cancel all mousedown-events, and users cannot use the mouse in th

[2019-03-26 21:57] dzearing commented on #8264
Thank you for the followup @mattmazzola!

[2019-03-26 22:18] Vitalius1 commented on #8470
@frevds Thak you for submitting the issue along with a very detailed description of the problem and even better codepen demo.
@kkjeer you are listed as the code owner of the Panel, can you please take a look at the issue described by the author and see if it makes sense for the proposed solution?

[2019-03-26 22:53] OutlawAndy opened #8481 "npm install fails with E404 on @uifabric/set-version"
running `npm install --save office-ui-fabric-react` fails with the following output

    npm ERR! code E404
    npm ERR! 404 Not Found - GET https://registry.npmjs.org/@uifabric%2fset-version - Not Found
    npm ERR! 404
    npm ERR! 404  '@uifabric/set-version@>=1.1.3 <2.0.0' is not in the npm registry.
    npm ERR! 404 Your package name is not valid, because
    npm ERR! 404  1. name can only co

[2019-03-26 22:56] Vitalius1 commented on #8481
@kenotron @ecraig12345 you would probably have more context here. Thanks!

[2019-03-26 23:00] #8317 closed

[2019-03-26 23:00] ecraig12345 commented on #8481
Strange...`@uifabric/set-version@1.1.3` is on the [npm registry](https://www.npmjs.com/package/@uifabric/set-version). Maybe @kenotron or @dzearing will have a better idea of what's going on.

[2019-03-26 23:07] OutlawAndy commented on #8481
I'm not sure it's `set-version` specifically.  Running the command several more times and it occasionally fails on `@uifabric/foundation@>=0.7.2 <1.0.0` with the same message

[2019-03-26 23:08] ArrayKnight opened #8482 "MaskedTextField doesn't update with a controlled value"
### Environment Information

- __Package version(s)__: 6.161.0

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/LaoWzG

#### Actual behavior:

Value is not properly updated when being externally controlled.

#### Expected behavior:

Value is updated

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: Blocking

[2019-03-26 23:26] Vitalius1 commented on #8456
@saini-ankish is this issue manifesting somewhere on our website? Our `CommandBar` examples are not using the `SplitButton` so I am confused where this issue is manifesting.

[2019-03-26 23:49] Vitalius1 commented on #8482
@ArrayKnight thanks for submitting the issue and looks like you have a solution for it ready. You mentioned that you are willing to submit a fix. Thanks for this too 😄 . Let us know if you need any help with submitting the PR 👍 . We will be happy to review it when you have it put together.

@lambertwang FYI

[2019-03-26 23:54] ArrayKnight commented on #8482
@Vitalius1 What's the possiblity/timeline of your team being able to make this update? I'm willing to do the PR, but would like to stay focused on my project if possible.

[2019-03-27 00:00] #8235 closed

[2019-03-27 00:13] dzearing commented on #8481
@OutlawAndy this could be on your end. Do you have another box to try from?

It could be something in your .npmrc that is redirecting the default registry location.

[2019-03-27 00:16] dzearing commented on #8481
fwiw no repro here, npm 6.4.1, node 10.15.0. I noticed you're not on node LTS. It's possible that could be it and there's something foul with the edge build. You could try installing LTS.

![image](https://user-images.githubusercontent.com/1110944/55041569-d40bde80-4fea-11e9-8926-99fc62226a92.png)

[2019-03-27 00:18] Vitalius1 commented on #8482
We can certainly have a fix quite soon. We will need to test the change first and make sure we have a unit test in place to prevent regression. Will work on a PR soon and tag you when ready.

[2019-03-27 01:00] #7560 closed

[2019-03-27 01:00] #8333 closed

[2019-03-27 01:01] KarthikJeyabalan commented on #8466
That works. thx.

[2019-03-27 01:01] #8466 closed

[2019-03-27 02:11] bmckilligan commented on #8347
@KevinTCoughlin
Thanks for the solution, I had to make the following changes to  _onSelectionChange and _getDeltaItems  before things would work,   I have pre selected items that I want to show aschecked   and I  needed to call
`this._selection.setKeySelected`
in the render function, also this is needed if all items are toggled off and on off

[code]

in addition there was a nasty render loop that

[2019-03-27 03:32] dzearing commented on #8482
@Vitalius1 you got this? LMK if you need assist

[2019-03-27 03:32] awalia13 opened #8489 "SwatchColorPicker A11y Pass"
Tracking all of the issues brought up with the 3/25 accessibility pass on SwatchColorPicker control
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B1b786f74-e05c-4c5c-b2db-4e7182cde7b6%7D&action=default&uid=%7B1B786F74-E05C-4C5C-B2DB-4E7182CDE7B6%7D&ListItemId=1902&ListId=%7B395E1ECB

[2019-03-27 03:35] Vitalius1 commented on #8482
@dzearing I wouldn't mind some help as I am working on a HoverCard issue. The author provided the solution but it needs to be tested. Also, I wanted to tackle #7580 within the same PR but have no Windows environment to test 😄.

[2019-03-27 03:37] dzearing commented on #8482
@Vitalius1 no sweat :)

[2019-03-27 03:52] dzearing commented on #8455
Great suggestion, though if we baked that into DetailsList, it would mean everyone would pay a bundle size cost regardless of usage. Maybe a simple HOC wrapper would suffice:

[code]

[2019-03-27 03:58] dzearing commented on #8455
At the moment we likely aren't going to add this directly as it would not be a recommended pattern. Best to have items in the correct order as early as possible to avoid client side sorting. But I think the HOC wrapper could be something you add on your end.

[2019-03-27 04:01] dzearing commented on #8489
@awalia13 Why?

Could you please indicate whether you see something wrong with the markup or if you feel this is a Narrator issue? It costs a tremendous amount of time for us to investigate these, which we're always willing to do, but it would really help a lot for these reports to be very explicit about what is missing in the component causing the problem, OR, if the screen reader simply isn't be

[2019-03-27 04:55] KevinTCoughlin commented on #8473
I'm not saying this is the _correct fix_, but one "solution" is at the `GroupListSection` layer:

[code]

The problem here is that the `isAllGroupsCollapsed` flag is only used to determine chevron state. The `GroupedList` and its inner component `GroupListSection` only check `group.isCollapsed` to determine what to render, see:

https://github.com/OfficeDev/office-ui-fabric-react/blob/0c04b004f696

[2019-03-27 07:14] v-doku commented on #8489
@dzearing We have verified this issue on our end with other Screen reader and platform combination(Chrome+NVDA) and it works fine there. Therefore, we have logged this bug as Narrator specific only from our end.

[2019-03-27 08:03] saini-ankish commented on #8456
@Vitalius1 not actually on fabric website i faced this issue in my project.

[2019-03-27 09:22] claudiuchetan opened #8491 "Unable to use a react-dropzone component inside a Fabric Dialog"
### Environment Information

- __Package version(s)__:  6.158.0
- __Browser and OS versions__:  All

### Please provide a reproduction of the bug in a codepen:
 https://codesandbox.io/s/0m31n02ozl
(not Codepen, but still useful)

#### Actual behavior:
The dragEnter and Drop events are not triggered when the dropzone is used inside the Dialog component. The isPropagationStopped property of the even

[2019-03-27 09:54] craigdcorrea25 commented on #8374
If this is expected behaviour, then you can go ahead and close this bug.
Thanks a ton.

[2019-03-27 10:16] honb opened #8492 "MaskedTextField - Is it possible to allow positive numbers only and prefix $?"
I'm trying to use MaskedTextField as a number field (positive numbers only), looks like "mask" property does not support.
Is there a way for me to do this with MaskedTextField?

Thanks in advance!

[2019-03-27 10:28] SriNandiniG opened #8493 "User is not informed if there is a clickable element in the cells of detailslist component while using narrator/nvda."
## Codepen demonstrating the issue
 https://codepen.io/srinandini/pen/EMzMZE ## Actual behavior:

## Expected behavior:
The narrator/nvda has to inform the user if there is clickable element in the detailslist

## Documentation describing expected behavior

In the codepen demonstation, there is a dialog box that shows up upon clicking elements in the detailslist. The narrator/nvda does not mention

[2019-03-27 11:35] paddymccallan opened #8494 "Highlight multiple dates at once."
**Describe the feature that you would like added**
Property like "highlightMultipleDates" and it accepts a value of array[] - The use case for this is to highlight a timeline of dates where a specific highlighted date may indicate a past event via different colour highlight.

**What component or utility would this be added to**
Calendar

**Have you discussed this feature with our team, and if so,

[2019-03-27 11:52] OutlawAndy commented on #8481
Thanks.  I do not have access to a different box.  I realize this is likely an issue with my environment. I'm open to suggestions on how I might isolate it.

Using the versions you suggested, I get a slightly different error, same package. Here is the full log output:

[code]

[2019-03-27 12:11] mdmdakbar opened #8496 "NVDA reads Details List non-actionable headers as Clickable."
NVDA reading details list non-actionable header as Clickable in scan mode.

Browsers affected: Chrome, Firefox

Also Narrator has somewhat similar issue with Edge: https://github.com/OfficeDev/office-ui-fabric-react/issues/4848

Impact:
User with visual impairments will not be able to know that the headers are non interactive elements

Actual behavior:
NVDA should not announce the header as clicka

[2019-03-27 12:26] craigdcorrea25 opened #8497 "Split button not clickable in Mobile View"
Greetings.
Basically in a split button there are 2 clickable parts to the button.
Either clicking on the main button, or clicking on the arrow besides the button.

While testing the split button in Mobile View, I am not able to click on the main button. The arrow besides the button works fine.

I have reproduced this issue on the office fabric site in the [Buttons](https://developer.microsoft.com/

[2019-03-27 13:58] nickersd commented on #8341
Thanks, I've added the styles prop (had to upgrade to latest for that) but I'm still facing the issue.  I've attached a screenshot.  Note the "Manually tag the element" dialog on the right (with a bunch of x's to show that the title is wrapping.)  I have to create some more dialog's (not in the screenshot)  that will need more real estate.
![dialogSS](https://user-images.githubusercontent.com/4313

[2019-03-27 14:24] dzearing commented on #8481
Clear NPM cache:

[code]

Any difference?

[2019-03-27 15:23] dzearing commented on #8489
@v-doku Thanks; please do follow up with the Narrator folks to make sure they are tracking the issue. I will close this one.

[2019-03-27 15:23] #8489 closed

[2019-03-27 15:25] dzearing commented on #8497
This is, I believe, by design. @jspurlin for FHI.

As I understand, in touch, the "split" part can be a very small hit target; so the design across applications has been for touch devices to simply resort to the menu. The "action" portion of the split should always be accessible in the menu.

[2019-03-27 15:30] dzearing commented on #8496
@mdmdakbar Why is this the case? Many screen reader issues are due to the screen reader reading things poorly, rather than the component rendering the wrong attributes (or missing them.)

Is there a particular DOM change we should be changing that is causing this? Or is this a screen reader issue?

@cschlechty @ThomasMichon @KevinTCoughlin fyi

[2019-03-27 15:45] OutlawAndy commented on #8481
no difference..

However, I was able to download the tarball directly for the 2 packages that were giving me problems (set-version & foundation) and then `npm i /local/path/to.tgz`

with those 2 already in `./node_modules`, `npm install --save office-ui-fabric-react` finally succeeded. 🍻

Thanks for your help.

[2019-03-27 15:46] #8481 closed

[2019-03-27 16:32] FullStackRafik opened #8498 "Detailslist and Promise function"
I get this error when I fill my Detailslist from a promise function:
Uncaught (in promise) typeerror cannot read property 'length' of undefined.
Any suggestions please?

Thanks

[2019-03-27 16:38] FullStackRafik commented on #8455
Thanks for your answers, I'll try to do that.

[2019-03-27 17:01] khmakoto commented on #8374
Thank you @craigdcorrea25!! I'll close the bug then!

[2019-03-27 17:01] #8374 closed

[2019-03-27 18:32] JoshuaLamusga opened #8500 "It's possible to select the same person multiple times in people picker"
### Environment Information

- __Package version(s)__: The version used on the Office Fabric React page.

#### Reproduction steps

1. Go to the [Office Fabric React demo page](https://developer.microsoft.com/en-us/fabric#/components/peoplepicker).

2. Click on the people picker text field and type Annie lindquest.

3. Tab to the first suggested item (there should only be one).

4. Press enter repe

[2019-03-27 19:00] #8213 closed

[2019-03-27 19:16] Vitalius1 commented on #8492
Hi @honb, it would really help to have a starting playground like a codepen where you are demoing what exactly you are trying to achieve and where it fails. Here is a [codepen](https://codepen.io/vitalius1/pen/GebvKp) to start with.

[2019-03-27 20:04] Vitalius1 commented on #8493
@KevinTCoughlin @natalieethell you both dealt with some Narrator issues in DetailsList and I was wondering if any practical knowledge from that can be used in debugging this issue 😄

[2019-03-27 20:05] natalieethell commented on #8473
@KevinTCoughlin what if we put the logic in GroupedList.base instead? We could add the following logic:

[code]

[2019-03-27 20:07] Vitalius1 commented on #8494
@lorejoh12 is this a feature that was ever discussed or implemented in Calendar?

[2019-03-27 20:11] KevinTCoughlin commented on #8493
@SriNandiniG what should the rows announce? Note that we focus on Narrator + Edge compatibility.

Does the same issue occur with that combination?

Also might be worth noting that in your example the dialog box only occurs on 'click'. Keyboard invocation invokes `window.alert`.

[2019-03-27 20:21] Vitalius1 commented on #8491
@JasonGore can this be related to the event filtering in `Layer`? You are much more familiar with that area 😄 . Would you mind taking a look?

[2019-03-27 20:29] Vitalius1 commented on #8498
DetailsList has a required prop `items` which is, of course, the array of the items to be rendered.   During its initial render and then through updating the component it's doing a bunch of checks on items.length. So the question to you would be if there is a case when you are not passing at least an empty array?

[2019-03-27 20:35] arunarokk opened #8502 "[Accessibility]TextField - extra tab with keyboard navigation on textfield file control"
## Codepen demonstrating the issue
https://codepen.io/arunarokk/pen/rREGJx

## Actual behavior:
while navigating with keyboard , focus goes two times on this control, one for whole control and another on browse button. It repro's only on Edge, works fine on Chrome
## Expected behavior:
while navigating with keyboard, focus should go to browse button only.
## Documentation describing expected behav

[2019-03-27 20:47] Vitalius1 commented on #8500
![2019-03-27 13 35 30](https://user-images.githubusercontent.com/29514833/55111114-d9266780-5096-11e9-899e-c7d2be27c4b0.gif)

[2019-03-27 20:48] Vitalius1 commented on #8500
Bug verified and indeed is something needs to be fixed. Will take a stab at it. @joschect any pointers where to start looking 🤔 ?

[2019-03-27 20:54] khmakoto commented on #8428
Just checked and TS3.3 in the fabric 7 branch does not catch this issue.

[2019-03-27 20:54] Vitalius1 commented on #8500
@JoshuaLamusga Thanks for submitting the issue and we will have a fix shortly. At the same time will be closing the issue in favor of #8451 as it's a duplicate of that one. You can subscribe for notifications on the issue mentioned to know when a release with the fix will be ready for you to use.

[2019-03-27 20:55] Vitalius1 commented on #8451
@JoshuaLamusga FYI

[2019-03-27 20:55] Vitalius1 commented on #8451
![2019-03-27 13 35 30](https://user-images.githubusercontent.com/29514833/55111596-03c4f000-5098-11e9-957e-f447b10803b8.gif)

[2019-03-27 20:56] #8500 closed

[2019-03-27 20:56] caiomontei opened #8503 "DetailsList focus lost"
Hi, I have a question about the DetailsList component.

Let's say I am interacting with the headers of the list, like dragging the headers and changing the order of the columns.

When doing so in chrome, even if a render occurs at the page, the focus/tab position is preserved and we can continue keyboard navigation from where it was before. While in Edge, the tab position is lost and keyboard navi

[2019-03-27 20:57] Vitalius1 commented on #8050
@joschect any progress on this?

[2019-03-27 21:42] JasonGore commented on #8491
`Layer` doesn't bubble events by default because it can cause unwanted behavior. Our [Layer & Portals page](https://github.com/OfficeDev/office-ui-fabric-react/wiki/Portals#overview) provides more of a background.

In this case we can allow events to propagate by passing in `eventBubblingEnabled` to the `Layer` component:

[code]

I [modified the CodeSandbox](https://codesandbox.io/s/loo8oq93z) to

[2019-03-27 22:15] khmakoto commented on #8351
Hi @raghavendra-kodimala, after checking with the Narrator team they tell me that, when a menu is opened the expectation is for the first item to be selected and, because focus goes out of the menu, the state of the menu is no longer read (which is expected behavior).

Regarding access to menu items when `shouldFocusOnMount` is set to `false`, this might be a bug on our side. @dzearing what are yo

[2019-03-27 22:20] JasonGore commented on #8491
I do think, however, that drag & drop events should work within `Layer` without having to use `eventBubblingEnabled`. While `eventBubblingEnabled` can be used for now, I think we need to take a closer look at `Layer` and see if we're blocking a capture event that's preventing drag and drop events from being used within `Layer` content.

When making changes to `Layer`, I found that I could not trus

[2019-03-27 22:26] Vitalius1 commented on #8502
It seems to me that this is a browser specific implementation. Different browsers are implementing the input of type file in different ways. As an example, this is how it looks in in Chrome:
![Screen Shot 2019-03-27 at 3 20 07 PM](https://user-images.githubusercontent.com/29514833/55116316-13e2cc80-50a4-11e9-8625-ee91b5c74e70.png)

They basically recreate the input as being an input of type button

[2019-03-27 22:33] Vitalius1 commented on #8502
Also, here is a [codepen](https://codepen.io/vitalius1/pen/NJZyoZ) with the native input doing the exact same thing in Edge. It first focuses on the input as a whole and then on the button. But it looks like there is no way to dissect it in the developer tools.

[2019-03-27 22:34] Vitalius1 commented on #8502
@ecraig12345 you are listed as code owner on TextField. Any ideas?

[2019-03-27 22:40] Vitalius1 commented on #8502
A suggestion would be to create a custom input of type file that will have the same behavior but styled from the ground by us so it looks the same for every browser.

A few simple styling approaches would be demoed here:
http://css-workshop.com/css-custom-input-file-in-internet-explorer-chrome-and-firefox/
https://css-tricks.com/snippets/css/custom-file-input-styling-webkitblink/

[2019-03-27 22:50] Vitalius1 commented on #8491
@JasonGore what is the resolution of this issue? Is there anything else you wanna investigate with `Layer` drag and drop events and make a fix as part of this issue or should this be a separate issue to tackle later?

[2019-03-27 23:00] #8377 closed

[2019-03-27 23:01] ecraig12345 commented on #8502
I was just recently added as the codeowner for TextField, so no ideas offhand, sorry.

[2019-03-27 23:12] dzearing commented on #8502
This is a browser quirk. Not a Fabric issue.

[2019-03-27 23:12] #8502 closed

[2019-03-27 23:13] Vitalius1 commented on #8491
@claudiuchetan is the solution provided by @JasonGore working for your scenario? I recommend going through the [Layer & Portals Page](https://github.com/OfficeDev/office-ui-fabric-react/wiki/Layer-&-Portals) and be aware of the possible side effects of using `eventBubblingEnabled`.

[2019-03-27 23:37] Vitalius1 commented on #8503
@caiomontei thanks for filing an issue.
I tried to reproduce in this [codepen](https://codepen.io/vitalius1/pen/WmqzVp) the issue you are seeing and could not see it happening. The selection is preserved and I am able to tab further from where I left. Can you try and repro it in the codepen I gave you and then get back to us with the exact steps to repro so we can look into it? Thanks!

[2019-03-27 23:48] KevinTCoughlin commented on #8473
Also a valid solution! I'm honestly unsure which solution to advise. My only concern is how `groupProps` is passed thru each layer down to `GroupedListSection`.

[2019-03-27 23:50] #8174 closed

[2019-03-28 01:03] joschect commented on #8050
@Vitalius1 Hey! This had fallen off my radar. I think I can get a fix in by eod tomorrow.

[2019-03-28 01:23] Vitalius1 commented on #8473
Agree on that top-most level is best with the current code, but with that said this is something that needs to be cleaned up as from what it looks like to me it's a pattern of prop mutation which might hide some other issues underneath.

[2019-03-28 02:23] KevinTCoughlin commented on #8473
Indeed.. we both were unable to come up with a solution given the current code that does not mutate props without breaking backwards compat. Open to ideas!

[2019-03-28 04:20] honb commented on #8492
Thanks @Vitalius1 . The mark what I tried is "$ ^[0-9]" (I'm not sure about this mark format). because I don't want underline in textbox & no max value there. Just like a normal textbox, something like NumberTextField

[2019-03-28 04:46] SriNandiniG commented on #8493
Hi Kevin,

I have checked in issue in Narrator + Edge combination. The narrator announces the text present in the cells. I wanted to check with you if it’s possible for the user to know that the elements in cells are clickable.
Since the role of the elements in the cells, is set automatically for all the cells in details list, the narrator is not informing the user regarding the on click function

[2019-03-28 04:55] Vitalius1 commented on #8492
@honb https://codepen.io/vitalius1/pen/GebvKp is this what you are looking for? The second field is replacing the underline with a space char. Also, note that you would want to limit how many numbers a user is allowed to type in case that number will be used in some calculations and exceeds the JS max safe number.
Let me know if you meant something different and I will be willing to help as long a

[2019-03-28 05:32] v-khkuma commented on #8377
Hi @khmakoto , When i enter the dropdown, it should be narrated as "Menu".

[2019-03-28 06:03] Vitalius1 commented on #8493
Here is an updated [codepen](https://codepen.io/vitalius1/pen/OqerJN) which would help to debug what Narrator is announcing. (need to setup my Windows environment first 😄 )
I can see 3 scenarios:
1. When tabbing to the entire row because we have an `onItemInvoked` prop on it it looks like the row it's actionable so I would expect the Narattor to let the user know about that.
2. When tabbing to the

[2019-03-28 06:12] Vitalius1 commented on #8492
@honb I updated the codepen to have the `$` prefix. From your thumbs up reaction, I get that it solved your issue. If that is the case feel free to close the issue or you can leave it as is and our bot will soft close it in about a week or so.

[2019-03-28 06:16] SriNandiniG opened #8514 "detailslist checkbox"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

#### Expected behavior:

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected

[2019-03-28 06:16] #8514 closed

[2019-03-28 07:14] honb commented on #8492
Thank you!
I think thats enough for me. It would be nice if there is an option for minValue and no max value

[2019-03-28 08:00] FullStackRafik commented on #8498
There is no case we I'm not passing at least an empty array, I'm always passing an array filled or empty, the problem came from the promise function.
Do you think that this compenent (DetailsList) manage the case where items are filled from a promise function, here is my DetailsList:

        <Fabric.DetailsList onItemInvoked={this._onItemInvoked}  isHeaderVisible={false}
           items={ this.s

[2019-03-28 08:13] FullStackRafik commented on #8498
Just for information:
The DetailsList display the items correctly, but I can see the error on the console.

[2019-03-28 08:29] FullStackRafik commented on #8498
groups={this.groupBy()} also throw an error as the items are filled by a promise function.

[2019-03-28 08:34] FullStackRafik commented on #8498
But when I fill the items without the promise function :
this._MockData=[
    {
      title: 'test1',
      group:"Grp1"
    },
    {
        title: 'test2',
        group:"Grp2",
    },
    ]
I get no errors and everything works totally as expected.
Any suggestions please?

[2019-03-28 08:36] FullStackRafik commented on #8455
Finally, I get the group by results with a custom function.

[2019-03-28 08:36] FullStackRafik commented on #8454
I resolved the issue.
Thanks.

[2019-03-28 11:59] larnera commented on #8491
I had this same issue and it just so happen that @claudiuchetan faced it at the same time.

Thanks everyone for your help in resolving this issue, and so quickly too.

Cheers.

[2019-03-28 15:56] JasonGore commented on #8491
Rather than a documentation update, I do believe drag and drop events should work within Modal content without the need for `eventsBubbleEnabled`, so this is something we should look into. I'll reopen this assigned to me for further investigation.

[2019-03-28 16:03] Vitalius1 commented on #8492
@honb I will close the issue then. Thanks for posting the question as it might help someone searching for the same answer.

With that said, we do have a [SpinButton](https://developer.microsoft.com/en-us/fabric#/components/spinbutton) component which is more suitable for handling numbers in comparison to TextField. It can handle minVal and maxVal.

[2019-03-28 16:03] #8492 closed

[2019-03-28 16:09] Vitalius1 commented on #8498
@dzearing, @KevinTCoughlin would appreciate your input here.

[2019-03-28 17:16] kkjeer commented on #8470
@Vitalius1 I don't see any problems with the proposed solution!

[2019-03-28 17:58] natalieethell commented on #8493
@SriNandiniG so to clarify, you'd like for Narrator to announce when something has an onclick event? As Kevin touched on above, folks who use Narrator typically use keyboard navigation and not a mouse so I'm just a little confused as to the use case here.

I might be missing something - is there a scenario in which someone using Narrator would use a mouse? Or is the solution here informing the use

[2019-03-28 20:05] Vitalius1 commented on #8470
@frevds I remember the PR that introduced this behavior (#5422). Also, there was a similar issue as yours discussed in #7225 with an attempt to fix it in #7332. It was eventually agreed that the current behavior is somewhat correct and the proposed solution was to move the Dialog/Modal/Panel to be a child of `Panel`. Here are some comments in regards to this: [Comment1](https://github.com/OfficeDe

[2019-03-28 20:46] cmeks opened #8518 "Remove the nodejs requirement when running npm install"
having a requirement for nodejs to be part of *previous* versions is stupid. Leave it up to the developer to decide which nodejs version is correct to run npm install. By the way, this reasoning posted on the rush.json file is *not* a good reason to force developers to downgrade nodejs just to run the office-ui-fabric-react application locally.

[2019-03-28 20:59] #8361 closed

[2019-03-28 21:28] frevds commented on #8470
@Vitalius1 - thanks for all the research.

If I could only control all the foreign elements the user can potentially click on, but I can not in general. Any page element that happens to show up above the panel but is not a child of it (maybe its from an unrelated or external component) kills the modal panel, so effectively the modal panel is not really modal. Now I am forced to handle outside clic

[2019-03-28 21:41] JoshuaLamusga opened #8520 "Detail Panel: Escape does not trigger dismiss props"
The prop **onDetailPanelDimiss** for detail panel has no light dismiss handling. It also has a typo in the name. The panelSettings prop does include a light dismiss handler, but it's not available to the detail panel, so it doesn't get used.

This is a problem in my app because I manage my state with redux and I set the flyout closed state when onDetailPanelDimiss fires, but it never does for ligh

[2019-03-28 21:43] JoshuaLamusga opened #8521 "Detail Panel: Two onPivotLinkClick areas"
There are two places you can have onPivotLinkClick. You can define it in mainContent and as a direct prop to <DetailPanel />. It looks like the intent was to omit it from mainContent props and define it directly under DetailPanel because it’s an important prop, In this case the mainContent’s typescript interface should Omit<> the onPivotLinkClick prop. We depend on it in M365 and maybe external us

[2019-03-28 21:51] JoshuaLamusga opened #8523 "Detail Panel: IActionButton doesn't take a prop for being disabled"
The IActionButton interface that's related to the onGetL2ActionBar prop passed into DetailPanel doesn't define a disabled prop, so it doesn't allow for disabled buttons. This is relevant for the primaryButton prop in IActionButton that acts as a save button. It's a very important scenario that the save button may be disable-able.

Without this, I wouldn't be able to use the DetailPanel's sub-flyou

[2019-03-28 22:13] Vitalius1 commented on #8518
@kenotron, @ecraig12345, @dzearing this looks like your area to decide 😄

[2019-03-28 22:18] Vitalius1 commented on #8520
@Raghurk this looks like it's about the dashboard package. Feel free to assign the issue to whoever is going to look into it. Thanks!

[2019-03-28 22:24] Vitalius1 commented on #8521
@Raghurk another one for dashboard package.

[2019-03-28 22:29] Vitalius1 commented on #8523
There are 3 issues in regards to the `dashboard` package. @Raghurk I assigned them to you as area code owner and leave it up to you to triage. Thanks!

[2019-03-28 22:38] khmakoto commented on #8441
This is not an issue, what happened was that you wrote `overflowButtonProps` twice, which made the component break. [This codepen](https://codepen.io/khmakoto/pen/jJgGmX?editors=1010) shows it rendering correctly with `menuProps` passed.

[2019-03-28 22:48] micahgodbolt commented on #8441
Ahh, I remembered the issue was that you HAVE to pass through items if you pass through menuProps. So this works

https://codepen.io/micahgodbolt/pen/MxZZoe?editors=1010

[2019-03-28 22:48] micahgodbolt commented on #5132
Seems this fixes the issue https://codepen.io/micahgodbolt/pen/MxZZoe?editors=1010

[2019-03-28 22:49] ecraig12345 commented on #8518
The idea of restricting to LTS versions was that it prevents developers from hitting build issues which are actually due to an unstable new Node version, not inherent to our build system.

The person from a partner team who suggested that we restrict to LTS seemed to be aware of specific instances where people working in their repo had issues due to non-LTS Node bugs (and generally seemed to view

[2019-03-28 23:00] cmeks commented on #8518
Rush already gives a warning about using a non-LTS nodejs worded like so: "Your version of Node.js (11.6.0) has not been tested with this release of Rush. The Rush team will not accept issue reports for it. Please consider upgrading Rush or downgrading Node.js."

If build errors were to occur when running the build, a developer can already make a guess that it could be related to Node.js.

[2019-03-29 02:13] vivekmogalapalli opened #8530 "Facepile persona coin image shifts after load"
### Environment Information

- __Package version(s)__: Latest
- __Browser and OS versions__: Chrome, Edge (Windows 10 and Windows Server 2016, didn't test  the others)

### Please provide a reproduction of the bug in a codepen:

The bug can be reproduced at Fabric's official page:
https://developer.microsoft.com/en-us/fabric#/components/facepile

In the Variant section of Facepile's official page,

[2019-03-29 02:48] Vitalius1 commented on #8044
@jdhuntington I am having an issue with a controlled MaskedTextField which I do believe is tracing all the way to TextField. Here is a [codepen](https://codepen.io/vitalius1/pen/drEWWJ) demoing it. Try to change the second input 😢 . I wonder if you already started looking into improving the controlled behavior and if this is something you encountered already.

[2019-03-29 03:00] #8456 closed

[2019-03-29 03:51] v-khkuma opened #8532 "[Accessibility]In case if the Menu item in Commandbar is a drop down (having submenuprops), then it is narrated as "Submenu". It should be narrated as "Menu""
Bug Report

-Package version(s): https://developer.microsoft.com/en-us/fabric#/components/commandbar

Browser and OS versions: Chrome+NVDA
Actual Behaviour:
In case if the Menu item in Commandbar is a drop down (having submenuprops), then it is narrated as "Submenu"

Expected:
If the Menu item in Commandbar is a drop down (having submenuprops), then it is narrated as "Submenu".
It should be narrat

[2019-03-29 06:05] KevinTCoughlin commented on #8518
Genuinely curious, does anyone have a summary of what we're currently missing out on outside the range `>=8.9.0 <9.0.0 || >=10.9.0 <11.0.0`? Perhaps we can at least consider modifying the range.

https://node.green/

[2019-03-29 06:24] #8453 closed

[2019-03-29 10:31] artxach commented on #7909
hi. any updates on this?

[2019-03-29 13:19] dzearing commented on #8530
Thanks for the report, will investigate asap.

[2019-03-29 16:00] #8454 closed

[2019-03-29 16:14] brwatt opened #8533 "FocusZone: make "park" behavior opt in"
If there are no commands provided for the CommandBar component, then is should not be accessible. Being able to focus an empty menubar can be confusing. The FocusZone, role attribute, and aria label should all be removed if there are no commands provided.

## Codepen demonstrating the issue
https://codepen.io/brwatt/pen/KYPMXp

## Actual behavior:
When empty, the commandbar is still visible, focus

[2019-03-29 16:15] #8441 closed

[2019-03-29 16:17] dzearing commented on #8533
I'm going to repurpose this issue to make the "focus parking" feature an opt in. Right now it's a baked in behavior but clearly there are cases where it does not make sense.

@ThomasMichon as an fyi

[2019-03-29 16:51] dzearing commented on #8482
ah you got it already, thank you @Vitalius1 !

[2019-03-29 17:37] dzearing commented on #8351
I am confused why down arrow is not moving focus to the first item. That seems like a bug.

If you're in scan mode, which takes over arrowing, I am not sure how to fix that.

https://www.w3.org/TR/wai-aria-practices/examples/menu-button/menu-button-links.html

Spec indicates down arrow should expand the menu and move focus to the first item.

[2019-03-29 17:41] khmakoto commented on #8351
I'll work on a fix for this on non-scan mode scenarios. Thanks!

[2019-03-29 17:44] lutherdexter commented on #6951
Chaps,
I'm having this issue and we are using 6.157.0. Any fixes?

[2019-03-29 17:49] JasonGore commented on #6951
The previous CodePens I've posted as well as [one specifically targeting v6.157.0](https://codepen.io/jasongore/pen/RObKgB) seem to be working as expected.

[2019-03-29 17:51] raghavendra-kodimala commented on #8351
it should be fixed for scan mode and non-scan mode also

[2019-03-29 17:58] khmakoto commented on #8351
@raghavendra-kodimala the thing is that the inherent purpose of scan mode is to break out of author's intent when it comes to navigation and dictation. Given that, the fix we provide via arrowing up and down might not work as expected in scan mode.

[2019-03-29 17:59] awalia13 opened #8534 "Spinner A11y Pass"
Tracking all of the issues brought up with the 3/26 accessibility pass on Spinner control
Details on individual bugs can be found on[Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B22781383-a835-4d88-b37d-79bf5cf01248%7D&action=default&uid=%7B22781383-A835-4D88-B37D-79BF5CF01248%7D&ListItemId=1905&ListId=%7B395E1ECB-5002-440E-

[2019-03-29 18:00] lutherdexter commented on #6951
@JasonGore - something isn't quite right with the onChange property definition for DDL. I replicated your CodePen and still have the same issue.

[2019-03-29 18:04] JasonGore commented on #6951
What is DDL? Can you share your CodePen with the issue? If we can't repro it in a CodePen I'm not sure we can address the underlying issue.

[2019-03-29 18:06] dzearing commented on #6849
I think I have a fix for this, testing.

[2019-03-29 18:09] Dangerous-Mind commented on #7054
@bva999

Version SPFx 1.8
Same problem:

[code]

[2019-03-29 18:10] awalia13 opened #8536 "Shimmer A11y Pass"
Tracking all of the issues brought up with the 3/29 accessibility pass on Shimmer control
Details on individual bugs can be found on[Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B4c64e020-7be8-40cb-bcb8-8d0c27cb6cbc%7D&action=default&uid=%7B4C64E020-7BE8-40CB-BCB8-8D0C27CB6CBC%7D&ListItemId=1912&ListId=%7B395E1ECB-5002-440E-

[2019-03-29 18:13] raghavendra-kodimala commented on #8351
@khmakoto Navigation to menu items is done through Narrator key (Caps Lock/Insert) + Right/Left arrows normally in scan mode, when expanded. This is expected behavior .

[2019-03-29 18:20] awalia13 commented on #8489
@dzearing and @micahgodbolt   - As a best practise we used to log the bug at both places (Product database and Narrator database) and mentioned Narrator Bug# in Product Team database and keep product database bug open till the time narrator team will not fix the bug. Once Narrator bug closed we validate the bug logged in product team and then close the Product Team database bug.It will be helpful

[2019-03-29 18:20] Vitalius1 commented on #7580
@ecraig12345 tagging for FYI

[2019-03-29 18:27] baywet commented on #7054
@Dangerous-Mind your log shows you're still on typescript 2.7.2. Read the blog post @coreyroth pointed and switch to rush stack 3.0 or higher, this should solve your issue :)

[2019-03-29 18:56] patmill commented on #7054
Or use version 5.132.0 of office-ui-fabric-react

[2019-03-29 19:01] jnavaskhan commented on #7858
Here are scenario:

I have used overflow set like as follows:
[code]

where onRenderItem defined like as follows:

[code]
In this case, onRenderItem never gets called. Note, I did not specified `Items` props as Items is optional and as I want to render only overflow items.

In this case, why we have onRenderItem can be optional.

I think, this is the scenario @gnanavelum  also refering too.

[2019-03-29 19:11] dzearing commented on #8489
@awalia13 I think logging bugs in both places make sense.

If you know that the issue has a fix to be made in the product, please keep it open and indicate in the bug what we're doing wrong.

If you know that the issue is not in the product but rather in the screen reader, you should log it but probably close it immediately, so that devs over here don't spend time investigating to reach the same c

[2019-03-29 19:11] lutherdexter commented on #6951
@JasonGore ,

**D**rop**D**own**L**ist.

See codepen [here](https://codepen.io/lutherdexter/pen/oOvBKP)

[2019-03-29 19:14] dzearing commented on #8536
Shimmer is a presentational non-focused component. It is up to the parent element to provide localized label indicators if needed. It would be irritating for a blind user to have this be a stop.

[2019-03-29 19:14] #8536 closed

[2019-03-29 19:37] ecraig12345 commented on #1350
If anyone finds this issue and wants a fix for it before 7.0, here's something you can do (assumes your field's value is stored in `this.state.value`):
[code]

[2019-03-29 20:02] JasonGore commented on #6951
DropDownList is not a component anywhere in Fabric, thus my confusion.

Your CodePen wasn't running correctly so I [updated it here](https://codepen.io/jasongore/pen/NmKgXQ). I see `changeState` getting called. Can you elaborate on the issue you're seeing?

[2019-03-29 20:44] Vitalius1 commented on #8530
@dzearing I looked real quick at this issue and it appears this has something to do with the FadeIn animation in the `Image` component. If removing the animation the issue goes away. I tested moving the FadeIn animation on the wrapping element of the <img> tag and it looks like the bug goes away and we still keep the fade in effect.

[2019-03-29 20:44] JoshuaLamusga opened #8541 "Detail Panel: No way to pass props to detail panel's pivot"
In DetailPanelPivotBody.tsx, no generic set of props is passed to the pivot it renders. This is the file used by detail panel, so I can't style the pivot individually.

[2019-03-29 20:47] eveleens opened #8543 "DetailsList - in SelectionMode.none - able to select row using mouse, unable to using keyboard"
## Codepen demonstrating the issue
Turn off modal selection in: https://developer.microsoft.com/en-us/fabric#/components/detailslist

## Actual behavior:
You can use your mouse to make a row selection. You can NOT push space or enter to make a row selection.

## Expected behavior:
Unclear, but it should be consistent.

I have a case where I'd like to be able to select without showing the checkmark

[2019-03-29 20:58] lutherdexter commented on #6951
Thanks for updating the code, I can see it works in codepen.  I tried your updated version in my environment and the issue remains.

The issue is simple: **nothing happens when you click the chevron**. You can scroll through options with the up/down arrow keys when the drop down is in focus.

[2019-03-29 20:58] JoshuaLamusga commented on #8543
I can confirm this behavior is occurring.

[2019-03-29 20:59] KevinTCoughlin commented on #8543
@betrue-final-final, is it a bug that `DetailsList` allows for item selection via "Click" while modal selection is set to "none"? The behavior is exhibited at https://developer.microsoft.com/en-us/fabric#/components/detailslist.

[2019-03-29 21:00] #8455 closed

[2019-03-29 21:04] betrue-final-final commented on #8543
A keyboard user MUST be able to use space to select an item. This is definitely a bug.

[2019-03-29 21:08] JasonGore commented on #6951
Please define "nothing". What do you expect to happen when you click on the chevron? It's expanding for me and acting as expected.

This issue specifically is about onChange not being called. I do see onChange being called when an option is selected. onChange won't be called as you're scrolling through options as that would cause a lot of undesired callback activity when a user hasn't made a selec

[2019-03-29 22:25] nealYangVic opened #8544 "detaillist Cannot read property 'current' of undefined"
1. when trying to rerender the detaillist with different dataset and column

Uncaught TypeError: Cannot read property 'current' of undefined
    at List../node_modules/office-ui-fabric-react/lib/components/List/List.js.List._measurePage (List.js:507)
    at List../node_modules/office-ui-fabric-react/lib/components/List/List.js.List._updatePageMeasurements (List.js:496)
    at List.<anonymous> (Lis

[2019-03-29 22:31] KevinTCoughlin commented on #8544
@nealYangVic it would be helpful for triage to know the version of `office-ui-fabric-react` you are encountering this runtime error on as per our Bug Report Template: https://github.com/OfficeDev/office-ui-fabric-react/issues/new?template=bug_report.md

Last we saw this was in versions prior to `6.153.0` which includes a revert of faulty logic: https://github.com/OfficeDev/office-ui-fabric-react/p

[2019-03-29 22:32] nealYangVic commented on #8544
@KevinTCoughlin  this is really helpful, I update the version from 6.130 to 6.163 make this issue disappear

[2019-03-29 22:33] #8544 closed

[2019-03-29 22:38] KevinTCoughlin commented on #8543
After chatting with @betrue-final-final, it seems like we at least want parity with keyboard & mouse in the `SelectionMode === None` case.

Currently in that case, users can only "click" and select _a single_ item. Keyboard users cannot. We'll need to chat with @ThomasMichon to see do we either:

1) Disable single selection entirely in this mode

OR

2) Keep "click" behavior and allow for `SPACE`

[2019-03-29 22:59] Vitalius1 commented on #8541
@Raghurk there are a couple of issues filed regarding the `dashboard` package. Assigning to you for triage. Thanks!

[2019-03-29 23:58] #8482 closed

[2019-03-30 01:58] Vitalius1 commented on #8530
Hmm... I tried setting the animation on the parent element and the issue didn't really go away. So far I pinpointed that it has something to do with the fade in animation: You can see it from this gifs:
![2019-03-29 18 57 49](https://user-images.githubusercontent.com/29514833/55269798-a9bd5980-5254-11e9-80d9-66c3fef06b2b.gif)
![2019-03-29 18 58 13](https://user-images.githubusercontent.com/2951483

[2019-03-30 02:04] Vitalius1 commented on #8530
Adding `backfaceVisibility: hidden` on the image helped but at the same time blured the image adn could not find a solution to fix it. Maybe all this findings might help you give it a try.

[2019-03-30 02:53] Vitalius1 commented on #8470
@dzearing I would appreciate your input before proceeding with a PR. Thanks!

[2019-03-30 07:03] lutherdexter opened #8547 "Office UI Fabric Dropdown not displaying options list"
Environment:
My dev environment:
-  TypeScript React 3.3.3
- Office UI Fabric 6.157.0
- Node.js
- Browser - IE11, Google Chrome Version 73.0.3683.86 and Edge

- Visual studio code

I haven't been able to reproduce the behaviour in codepen, see the same working as expected  [here](https://codepen.io/lutherdexter/pen/oOvBKP).

#### Actual behavior:

The chevron in the Office fabric UI dropdown contr

[2019-03-30 07:05] lutherdexter commented on #6951
Thanks @JasonGore - I've created an issue for it here #8547

[2019-03-30 12:05] Dangerous-Mind commented on #7054
Yeah. I had done what @coreyroth sugested and partialy solved the problem. I then got a error saying that there was no typescript.
Npm Install installed the v3 typescript but it didn't worked.
I solved by npm i @microsoft/rush-stack-compiler-3.0

The question is that all of this should be working from the start.

SPFx 1.8 installes office-ui-fabric-react 6 and typescript 2.7.2 that doesn't work wi

[2019-03-30 12:11] peterremote1980 commented on #8458
now i am using:

"extends": "./node_modules/@microsoft/rush-stack-compiler-3.3/includes/tsconfig-web.json",

and

"@microsoft/rush-stack-compiler-3.3": "0.1.17",

But it produce me a new errors:

[20:10:36] Error - [tsc] src/webparts/album/DocLibPickerDialog.tsx(70,11): error TS2322: Type '{ children: any[]; title: string; subText: string; onDismiss: () => void; showCloseButton: true; }' is not as

[2019-03-30 18:33] schemburkar commented on #6182
Similar issue is occurring for me on Android for both Edge & Chrome.
The footer does not show up at all and if footer is not specified the scrolling content gets clipped.

iOS Safari seems to work fine.

"office-ui-fabric-react": "^6.163.0",
"react": "^16.8.6",

[2019-03-30 19:28] wonderplayer opened #8548 "DetailsList virtualization not working in Modal"
### Environment Information

- __Package version(s)__: Codepen?
- __Browser and OS versions__: Mozilla Forefox 66.02, Windows 10

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/wonderplayer/pen/MRWgwX

#### Actual behavior:

DetailsList doesn't render elements on scroll when in modal component.

#### Expected behavior:

Items are being rendered on scroll

#### Priori

[2019-03-30 22:14] rexkenley commented on #7056
Sorry, got busy with work and have need done a pull request before.

[2019-03-31 06:58] schemburkar commented on #6182
Hey @Jahnp , @kkjeer I have repo this issue using https://repl.it/repls/SkeletalSilverParser. The output is at https://skeletalsilverparser--five-nine.repl.co/

The footer is clipped on chrome and edge on android.

See below the renders on Android, iOS

Chrome_Android

<img src="https://user-images.githubusercontent.com/3159347/55285722-eac98100-53ae-11e9-8811-b97aafa0a011.png" width="250" />

Edg

[2019-03-31 17:29] denkristoffer commented on #7728
This seems to happen with every named import from Fabric when using Parcel, not just `loadTheme`. Is this a bug in Parcel or in Fabric?

[2019-03-31 21:12] Paul-Colucci commented on #8458
I'm in the same boat.  I have tried about a dozen solutions.  upgraded tons of packages, changed tons of config, tried everything under the sun and there is NO WAY to get this to work.  Does anyone even check this stuff before it goes out the door?  This should work out of the gate.

[2019-03-31 21:51] Paul-Colucci commented on #8458
OK, I was just able to work it out. The problem is with the rush-stack-compiler-3.3 The only version that works is 0.1.6 so if you install the latest version it will fail. You also need to explicitly install typescript. To get it working i did the following:

1 - Delete node_modules and pacakge-lock.json

2 - run the following command:
npm install @microsoft/rush-stack-compiler-3.3@0.1.6 typescrip

[2019-04-01 09:25] levybeedev commented on #616
@juliomenendez Hi Julio, I checked out your repository but I still can notice some flickering of the component (button) when page loads (due the style loading). Am I doing something wrong or there are some more work need to do on this? Thanks.

[2019-04-01 13:19] jleck commented on #616
@levybeedev You need to configure the styles for SSR:

https://github.com/OfficeDev/office-ui-fabric-react/wiki/Server-side-rendering-and-browserless-testing

Hope that helps! :)

[2019-04-01 13:26] nikita0905 commented on #8315
@KevinTCoughlin Could you share an update on this?

[2019-04-01 13:27] nikita0905 commented on #8315
Could someone share an update on this?

[2019-04-01 13:27] nikita0905 commented on #8314
Could someone share an update on this?

[2019-04-01 14:18] #6849 closed

[2019-04-01 15:37] FullStackRafik opened #8550 "DetailsList : navigate between items and invoke them outside the component"
Do you have any good suggestion to navigate between items and invoke them outside the component, from a button for example.

Thanks

[2019-04-01 16:19] cnamal opened #8551 "FocusZone can sometimes not set tab-index"
Hey folks,

In some cases, I noticed that the `FocusZone` doesn't set the `tab-index` to 0 correctly, as in this simple repro: https://codepen.io/namal-ms/pen/pBzbbo

Here's a summary of my investigations:

- When the children of `FocusZone` isn't initially rendered, eg by using a `List`, `FocusZone` relies on a handler it sets on the whole `window` to capture `TAB` and update the `tab-index`es.
-

[2019-04-01 16:45] dzearing commented on #8470
We discussed offline, and believe that FocusTrapZone should have stopped propagation, but isn't getting a chance because Panel's `_dismissOnOuterClick` callback is listened with the "capture" bool. @Vitalius1 is testing the theory of getting rid of this so that FTZ can do the work correctly.

[2019-04-01 16:52] tharshada commented on #8457
I'll get back with more details.

[2019-04-01 17:01] caiomontei commented on #8503
Hi @Vitalius1 . Yes, your codepen works as expected. We are trying to repro the issue in the codepen and will let you know if we manage to sucdeed.

Thanks for the help

[2019-04-01 17:01] #8503 closed

[2019-04-01 17:04] kkjeer commented on #8547
Hi @lutherdexter, if the behavior is not replicable in a CodePen, then that unfortunately makes it difficult to debug the underlying issue. I forked your CodePen [here](https://codepen.io/kkjeer/pen/yryzEE) (I had to add React scripts in order for the pen to render), and I'm seeing the expected behavior (the options are shown when I click on the chevron). If Dropdown behaves as expected in the Cod

[2019-04-01 17:05] dzearing commented on #8457
@tharshada Thank you :)

[2019-04-01 17:06] dzearing commented on #8543
When `SelectonMode === None`, selection should not work, period.

[2019-04-01 17:09] dzearing commented on #8458
Thanks @Paul-Colucci for the followup!

[2019-04-01 17:09] #8458 closed

[2019-04-01 17:17] dzearing commented on #8547
Same here, did the same thing https://codepen.io/dzearing/pen/QPwOGZ?editors=1010

[2019-04-01 17:19] #8497 closed

[2019-04-01 17:39] ArrayKnight commented on #8482
@dzearing @Vitalius1 Thank you for the quick turn around

[2019-04-01 17:46] kkjeer commented on #8550
Hi @FullStackRafik, I'm afraid I'm not sure what you're asking. Could you provide more detail, or ideally a CodePen that illustrates what you're trying to accomplish? Thanks!

[2019-04-01 17:46] KevinTCoughlin commented on #8550
Hey @FullStackRafik, this question may be better fielded on the SharePoint Developer Documentation repository: https://github.com/SharePoint/sp-dev-docs/issues since it involves webparts and routing.

[2019-04-01 17:52] #8473 closed

[2019-04-01 18:09] juliomenendez commented on #616
@jleck thanks for that! I'm going to update my Next.js example to reflect it. @levybeedev try that, hopefully it helps.

[2019-04-01 18:11] KevinTCoughlin commented on #8458
+ @iclanton as FYI

[2019-04-01 18:25] cnamal opened #8552 "Modal's FocusTrapZone, with FocusTrapCallout child, not behaving as expected"
Hi folks,

We have a `FocusTrapCallout` inside a `Modal`, similar to what's in the following codepen: https://codepen.io/namal-ms/pen/LvEOOb

As you can see, the `FocusTrapZone` of the `Modal` doesn't work as expected, and tab focus doesn't cycle through the couple buttons in the modal, and you can get to the background button.

Is this normal? The "Dialog nested in a Panel" example in the `FocusT

[2019-04-01 19:13] amyngu commented on #8123
@micahgodbolt @leddie24 Is there and update on this? It's been a month with no traction.

[2019-04-01 19:26] #6045 closed

[2019-04-01 19:27] KevinTCoughlin commented on #8498
Here's a `DetailsList` example that asynchronously fetches data from an API and updates the control's items, https://codepen.io/dzearing/pen/EgqMZq?editors=1010.

@FullStackRafik, a full code repro / sample would help debug the issue. It seems like you are returning or trying to access a non-Array type hence the exception.

The DetailsList `items` property expects an Array-like value, see https://

[2019-04-01 19:27] kkjeer commented on #8548
@wonderplayer thanks for reporting this! This definitely seems like a bug in Modal; I'll keep digging to hopefully find a fix.

[2019-04-01 19:29] KevinTCoughlin commented on #8496
Some of the header elements are actionable, particularly the "Select all" first column if selection is enabled. The other header elements are actionable for sorting if enabled. This is probably why they are currently interactive.

[2019-04-01 19:30] dzearing commented on #8551
@cnamal Thank you for the report! Investigating immediately.

[2019-04-01 19:31] KevinTCoughlin commented on #7963
This is currently in PR https://github.com/OfficeDev/office-ui-fabric-react/pull/8469. Working to resolve review comments and merge.

[2019-04-01 19:31] kkjeer commented on #6182
Hi @schemburkar, I am also able to repro this on Android. I will continue investigating to find a fix.

[2019-04-01 19:53] brettinternet commented on #616
The SSR example doesn't seem to solve the issue. I haven't been able to explore `configureLoadStyles` yet but I'm assuming the issue is in there.

Unless there's an implementation issue? Here's a CodeSandbox example with NextJS: https://codesandbox.io/s/xvkrn5wx2p

Try the full screen preview upon refresh to demonstrate the delay while mergeStyles injects the styles: https://xvkrn5wx2p.sse.codesan

[2019-04-01 20:33] FullStackRafik commented on #8550
@kkjeer : Here is what I want to do:
DetailsList component and button, I need when I click button I can navigate between the items of the DetailsList.
@KevinTCoughlin : It's not related to Webpart and routing(please forget about that), it's related to the Fabric UI DetailList componenet and if there is a property that can set the current index like for example "initialFocusedIndex".

[2019-04-01 21:06] KevinTCoughlin commented on #8550
@FullStackRafik, if you need to programmatically set selection similar to `initialFocusedIndex` (I'm assuming given your response above) then you'll need to look at the `selection?: ISelection` prop of `DetailsList`:

https://github.com/OfficeDev/office-ui-fabric-react/blob/ce9d7d57c847078fbc0c97deb89f1c71299739ff/packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.types.ts#L92

[2019-04-01 21:56] dzearing commented on #8551
I believe i have a fix, but setting up a test to try and repro before i get this checked in.

[2019-04-01 22:00] #8245 closed

[2019-04-01 22:00] #8244 closed

[2019-04-01 23:00] trevorkoch commented on #6951
I experience the same problem in my SPFX project.  When the dropdown selection changes, the onChange event doesn't fire.  When I change "onChange" to "onChanged" it does work but I had to use // @ts-ignore.

[2019-04-02 00:15] eveleens commented on #8548
I got this to work by adding:
[code]
https://codepen.io/anon/pen/pBvqrg

[2019-04-02 01:00] #8410 closed

[2019-04-02 01:19] #8530 closed

[2019-04-02 01:53] dzearing commented on #8551
Validated both with a test and with your codepen. Thanks again. Will be published tonight.

[2019-04-02 01:53] #8551 closed

[2019-04-02 05:17] v-khkuma commented on #8532
Any updates on this issue?

[2019-04-02 06:33] Vitalius1 commented on #8496
@mdmdakbar, the link you provided where to repro the behavior you stated above is actually behaving as it should be because of all the headers are actually having the sorting enabled on them.

[2019-04-02 07:00] #7852 closed

[2019-04-02 07:01] sudharsank commented on #7054
Corey has mentioned the file name wrongly in his article. The file that has to be changed is the tsconfig.json, not the tslint.config file.

[2019-04-02 07:24] alex3683 opened #8562 "Add some kind of opened / transitionend event to layer / panel / ..."
**Describe the feature that you would like added**
I'd like to have an event, that fires in case a Layer (for example of a Panel) has finished its opening transition and is visible in a stable state (e.g. *onLayerOpened*). The reason is, that opening a Panel with some complex content opens with long delay and choppy in some older browsers (actually it's IE11 ...), because rendering runs in paralle

[2019-04-02 07:48] FullStackRafik commented on #8550
Thanks for your answer, can you please give me an example about using that?

[2019-04-02 09:26] rhublard opened #8564 "DatePicker accessibility with custom Label"
When using `DatePicker` component with a custom label component based on `office-ui-fabric-react`.

For accessibility reason, when using a given identifier to set DatePicker `id` prop and the label `for` attribute, the component gets rendered with two different ids : `id-example-label` for DatePicker and `id-example` for the label.

We were wondering if there was a workaround possible not implying

[2019-04-02 09:28] cnamal commented on #8551
Awesome! Thanks @dzearing for the quick fix :)

[2019-04-02 11:03] piyumi25 opened #8565 "Change the CSS of callout request"
I am using a callout as a dropdown . The callout is shown when click on the target div element. I need to remove the css of root element. How do I do that? I tried by putting styles. but not successful.
![callout](https://user-images.githubusercontent.com/33615108/55397936-fa8ac600-5564-11e9-8a47-de49a46e1288.png)

[2019-04-02 12:17] sonimishra commented on #6390
As checked , issue is fixed now..
In Narrator scan mode, focus does not moves to add image under Data Integration tab item
URL : https://preview.web.powerapps.com
Build version : 1809(OS build 18309.1000)​
Closing this bug

[2019-04-02 13:11] FullStackRafik commented on #8550
@KevinTCoughlin
Butr this method doesn't trigger "_onItemInvoked".

[2019-04-02 14:14] coreyroth commented on #7054
@sudharsank good catch on tsconfig.json.  I've updated my post.

[2019-04-02 16:13] wonderplayer commented on #8548
@eveleens Thanks for this workaround! Will save it as possible solution :)

[2019-04-02 17:12] KevinTCoughlin commented on #8550
`_onItemInvoked` is only invoked on keyboard event as per its doc comment:

[code]

Since you're programmatically controlling selection, can you also programmatically invoke `_onItemInvoked` or whichever method you need?

[2019-04-02 17:19] KevinTCoughlin commented on #8548
@eveleens, until the `DetailsList` does not leverage scroll event listeners for virtualization, this is expected of the consumer. This is because the `DetailsList` needs to know the container that is `overflow-y: scroll` so that on scroll it de/materializes virtualized content properly.

Even once we move away from scroll event listeners, we'll likely have an API that requests the scrollable conta

[2019-04-02 18:09] #8351 closed

[2019-04-02 18:16] JasonGore commented on #8552
This looks like a recent regression with `FocusTrapZone` changes. [v6.142.0](https://codepen.io/jasongore/pen/wZaOPp) seems to work as expected.

[2019-04-02 18:25] kkjeer commented on #8565
Hi @piyumi25, the CSS `style` property on the root div sets the `top` and `left` attributes based on the position of the Callout relative to its target element. It is not intended to be changed via CSS or the `styles` property, but if you truly need to override it, you can try something like this:

[code]

If this doesn't work for you, please create a CodePen to help us debug.

[2019-04-02 18:30] shaipetel commented on #8079
this example changes all radios on the page.
You might want to create a custom css class for horizontal ones, or if you want to set it to a specific control without using CSS:

1. set the flexContainer style to display:flex.
2. you will notice a space might be needed at the end of the options, I added a non-breaking space as \u00A0

[code]

done!

[2019-04-02 18:50] kkjeer commented on #8548
@KevinTCoughlin thanks for the clarification. I have a possible fix for Modal that should mitigate the need for some of these workarounds. This is what I've found while investigating/debugging:

In order for virtualization to work, DetailsList needs a parent div that meets these conditions:
1. The `data-is-scrollable` HTML attribute must be set to `true`
2. The div must have `overflowY: auto` or `

[2019-04-02 20:00] #8350 closed

[2019-04-02 20:00] kkjeer commented on #8562
Hi @alex3683, would the layer prop `onLayerDidMount` work for your use case? I made a CodePen showing a simple usage of the prop (when the Panel is opened, you should see "Layer opened!" in the console). https://codepen.io/kkjeer/pen/MRwMPR

The relevant prop is passed to the Panel through its `layerProps` property:
[code]

with the `_onLayerOpen` just making the console.log call:

[code]

[2019-04-02 21:02] #8050 closed

[2019-04-02 21:10] kkjeer commented on #8564
@rhublard thanks for reporting this; I've started an internal discussion to determine the best approach here.

[2019-04-02 21:11] aneeshack4 opened #8569 "Fabric Palette Slots card"

[2019-04-02 21:11] aneeshack4 opened #8570 "Accessibility Checker card"

[2019-04-02 21:11] aneeshack4 opened #8571 "Implement ColorPicker on hover in the Color card."

[2019-04-02 21:17] aneeshack4 opened #8572 "Semantic Slots card"

[2019-04-02 21:18] aneeshack4 opened #8573 "use mergeStyles for all the styling as much as possible."

[2019-04-02 21:24] Jahnp commented on #7269
Update: This has been launched!

You can now access Fabric v5 docs from the [Fabric homepage](http://uifabric.io):
![image](https://user-images.githubusercontent.com/307118/55436526-65ca9d00-5551-11e9-9c38-3ae81e1a60df.png)

Please give this a spin and let us know if you have any issues or questions. We do know that there are some visual bugs in the left nav--we'll track those in a separate issue

[2019-04-02 21:28] KevinTCoughlin commented on #8295
This will be resolved in `7.0` as the fix introduced a non-backwards compatible API change. It has been merged (see above).

Letting the bot soft-close. Thanks all!

[2019-04-02 21:33] KevinTCoughlin commented on #7963
Somewhat related customization ask: https://github.com/OfficeDev/office-ui-fabric-react/issues/7938

[2019-04-02 21:43] KevinTCoughlin commented on #8543
I have a fix for this, just need to add tests and communicate the change.

[2019-04-02 21:49] Jahnp commented on #7269
Also, massive kudos to @leddie24 for enabling the bulk of this feature!

[2019-04-02 21:53] jdhuntington opened #8576 "Fix up slider component"
- [X] Should be consistently controlled (#8596)
- [x] ~Should use createComponent~
- [X] Remove all deprecated portions (#8596)

[2019-04-02 21:54] jdhuntington commented on #8044
High-level details exist at https://github.com/OfficeDev/office-ui-fabric-react/wiki/Component-Status , and will be used to create new work items.

[2019-04-02 21:54] #8044 closed

[2019-04-02 22:22] ArrayKnight opened #8577 "Make Toggle text clickable"
**Describe the feature that you would like added**

I (and several team members and test users) keep expecting to be able to click on the label of the Toggle element, as you would a radio button or checkbox. It would be great if this was the default behavior or at the very least an onRenderLabel entry point so as to be able to implement this ourselves. (similar to the onRenderHeader/Title on the G

[2019-04-02 22:33] kkjeer commented on #8564
Hi @rhublard, this is intended behavior. The DatePicker has multiple child components, including TextField. We cannot have duplicate ids within the component, but we also want to respect whatever you pass in as the DatePicker's `id` prop. We can't simply use the `id` prop on the TextField as well as the DatePicker's root element, since that would result in two elements in the DOM with the same id.

[2019-04-02 22:45] gnanavelum commented on #7010
any updates on the Fluent Nav?

[2019-04-02 23:00] kkjeer commented on #8577
Hi @ArrayKnight, clicking on the Toggle label currently changes the state of the Toggle. However, clicking the on or off text does not.

Example where clicking on the Toggle label ("Enabled and checked") toggles the Toggle:
![toggle-label](https://user-images.githubusercontent.com/6687333/55441233-f360b980-555e-11e9-9b1e-02f1a929121a.gif)

Here is a potential change where clicking on the On/Off te

[2019-04-02 23:23] gnanavelum opened #8582 "Nav: INavLinkGroup.collapseByDefault is not fully applied as expected to existing groups"
collapseByDefault state is cached by the Nav control, doesn't always reflect what the props collapseByDefault state.

please ping me if you need a repro, I can show in the product.

look at the screenshot red highlighted comment, (question to that comment, wondering why there is a cache(isGroupCollapsed) in place? and why it is only take state changes for new groups, what about existing groups? my

[2019-04-02 23:24] ArrayKnight commented on #8577
@kkjeer Sorry for the incorrect terminology (label vs text), but I'm glad you understand what I was getting at.

This seems like a good potential solution, except that I don't believe I would have access to this._id outside of the component. Maybe with some sort of ref workaround, but that would be a hassle.

And you might run into an issue with multiple competing things being the "for", but I'm e

[2019-04-03 00:14] jdhuntington commented on #8582
Thanks @gnanavelum  - agree that this is odd behavior.

I don't believe there is any longer a good reason for this. Removing the caching on component initialization seems like a great approach to fixing.

[2019-04-03 00:19] kkjeer commented on #8582
Thanks @jdhuntington! @gnanavelum if you're willing to submit a pull request with your fix, please take a look at the guidelines for cloning, building, and testing Fabric: https://github.com/officedev/office-ui-fabric-react#building-the-repo and let us know if you have any questions!

[2019-04-03 00:34] Vitalius1 opened #8584 "Dropdown and ComboBox in multi-select mode option keyboard navigation not aligning to designs"
### Environment Information

- __Package version(s)__: latest
- __Browser and OS versions__: all

### Bug description
Dropdown: https://developer.microsoft.com/en-us/fabric#/components/dropdown
When navigating inside a Dropdown callout when in multi-select mode (with checkboxes) we have the focus rectangle rendering just around the checkbox and its label.
![2019-04-02 17 01 26](https://user-images

[2019-04-03 00:56] JasonGore commented on #6905
It looks like TypeScript 3.0 will allow us to resolve this issue: https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-0.html#support-for-defaultprops-in-jsx

[2019-04-03 03:43] piyumi25 commented on #8565
Thank you for your reply. when I am going to use styles I got this error.

![callout-styles](https://user-images.githubusercontent.com/33615108/55451478-b218ea00-55f0-11e9-96cb-d19ac9362436.png)

[2019-04-03 03:59] kkjeer commented on #8565
@piyumi25 which version of Fabric are you using? The `styles` Callout prop has been available since pull request #4844, version [6.0.0-beta3](https://github.com/OfficeDev/office-ui-fabric-react/releases/tag/office-ui-fabric-react_v6.0.0-beta3)

[2019-04-03 04:07] piyumi25 commented on #8565
I am using this version - 5.128.2

[2019-04-03 05:03] kkjeer commented on #8565
Can you update to the latest version (or at least 6.0?)

[2019-04-03 06:09] piyumi25 commented on #8565
Hi, I am creating outlook addin using office ui  fabric react. I used yeoman generator to create the addin. The default version is 5.128.2 and when I am trying to update the version using "npm update office-ui-fabric-react@latest --save" I got lot of errors. Can you help me to get rid of this?

[2019-04-03 06:58] sonimishra opened #8586 "[Screen Reader - PowerApps - Recent Apps] In scan mode, Multiple navigation steps appears on image control under home pane"
User Experience:
User depending on screen reader might get affected as he would face difficulty while navigating and it would take time to navigate all the controls on blade if focus remains on same control also which could confuse the user about the desired elements .

Re-pro Steps:
1. Open URL: https://preview.web.powerapps.com and login using valid credentials.
2. Power Apps Homepage opens, nav

[2019-04-03 07:44] SriNandiniG commented on #8493
Hi,

Since the dialog box opens when we navigate to the row with keyboard (and press enter key), If the narrator mentions the role like link/cickable element etc, so  the user would know that there is a dialog box which opens on pressing enter when we reach the row.

Thanks,
Nandini

From: Natalie Ethell <notifications@github.com>
Sent: Thursday, March 28, 2019 11:28 PM
To: OfficeDev/office-ui-fab

[2019-04-03 07:44] FullStackRafik commented on #8550
Here is my navigate function:
 navigate(direction:string)
 {
   if (direction=="up" && this.state.lastSelected<this.state.items.length) {
     this.state.lastSelected=this.state.lastSelected+1
     // alert(this.state.lastSelected)
   }
   else  if (direction=="down" && this.state.lastSelected>0){
        this.state.lastSelected=this.state.lastSelected-1
      // alert(this.state.lastSelected)

[2019-04-03 08:32] alex3683 commented on #8562
Hi @kkjeer , I already tried that, but it fires to early. The event already occurs when the layer is mounted but still invisible. What I need is an event, that occurs when the layer is mounted and the opening animation of the layer has finished.
Your example is too simple to reproduce this, even for IE ;-)

[2019-04-03 08:56] rhublard commented on #8564
Hi @kkjeer ,
It makes sense, we will use `htmlFor={id + '-label'}` then. We wanted to make sure before deciding anything on our side.

Thank you for your help.

[2019-04-03 09:00] piyumi25 commented on #8565
OK thank you

[2019-04-03 09:10] ThreadPitt commented on #7457
Yes, this is really needed...

[2019-04-03 11:12] FullStackRafik commented on #8498
@KevinTCoughlin
Thanks for your answer, but I've already implemented an asynchronous fetches data with success, but the error was due just to the fact that items wasn't initialized, that's why I get the error.
Now it's resolved, I had just to initialize items like that:
   this.state = {
   items: [],
  };

Thanks anyway for your inputs.

[2019-04-03 12:02] DanteMustDie opened #8587 "Add support for style in SetupBanner's props."
I am using SetupBanner to implement a frontend user experience. I found that not like other components, SetupBanner does not have a "style" in its props and it makes me hard to set my own styles. Hope it can support style in props.

[2019-04-03 12:41] cnamal opened #8588 "In high contrast, Panel isn't distinguishable from the background"
Hi folks,

When in high contrast, it appears that the Panel isn't distinguishable from the main content.

Expected:
![image](https://user-images.githubusercontent.com/9625284/55479174-ccb58800-561d-11e9-94d9-ece2d6ee9a43.png)
(image taken from https://github.com/OfficeDev/office-ui-fabric-react/pull/7155)

Actual:
![image](https://user-images.githubusercontent.com/9625284/55479256-f79fdc00-561d-11

[2019-04-03 12:41] rhalaly commented on #8050
Thank you!

[2019-04-03 14:18] dzearing commented on #8573
Rather than 1 issue per section of the ui you're building, please just open a single tracking issues with checkboxes so that there are fewer things to track.

Also please provide descriptions in issues on the intent.

[2019-04-03 14:18] #8573 closed

[2019-04-03 14:19] dzearing commented on #8572
Rather than 1 issue per section of the ui you're building, please just open a single tracking issues with checkboxes so that there are fewer things to track.

Also please provide descriptions in issues on the intent.

[2019-04-03 14:19] #8572 closed

[2019-04-03 14:19] dzearing commented on #8570
Rather than 1 issue per section of the ui you're building, please just open a single tracking issues with checkboxes so that there are fewer things to track.

Also please provide descriptions in issues on the intent.

[2019-04-03 14:19] #8570 closed

[2019-04-03 14:19] dzearing commented on #8569
Rather than 1 issue per section of the ui you're building, please just open a single tracking issues with checkboxes so that there are fewer things to track.

Also please provide descriptions in issues on the intent.

[2019-04-03 14:19] #8569 closed

[2019-04-03 14:37] FullStackRafik commented on #8498
@KevinTCoughlin
Thanks for your answer, but I've already implemented an async fetches data with success, although the error was due to the fact that items object wasn't initialized, that's why I get the error.
Now it's resolved, I had just to initialize items like that:
this.state = {
items: [],
};

Thanks anyway for your inputs.

[2019-04-03 14:44] sealightPT opened #8589 "A DetailsList or ShimmeredDetailsList inside a ScrollablePane has unnecessary horizontal scrolling bar"
### Bug Report

- Office-ui-fabric-react 6.162.1
- Google Chrome Version 73.0.3683.86
- Windows 10 version 1809

#### Priorities and help requested

Are you willing to submit a PR to fix? No
Requested priority: High
Products/sites affected:

#### Describe the issue:

A DetailsList or ShimmeredDetailsList inside a ScrollablePane has unnecessary horizontal scrolling bar.

#### Actual behavior:

The

[2019-04-03 14:56] sealightPT commented on #8589
PS: In some conditions this scss hack works:
.ms-DetailsList {

		max-width: 100px;
	}
}

[2019-04-03 15:02] Vitalius1 commented on #8498
Thanks for getting back to us with a resolution!

[2019-04-03 15:52] Jahnp commented on #4066
I believe the expected behavior would be for Pivots to scroll horizontally once they've exceeded their container's width. That's the pattern I've seen most frequently for this kind of behavior. @betrue-final-final , would be curious to hear if you have different thoughts.

[2019-04-03 16:31] aneeshack4 commented on #8572
@dzearing sounds good I'll do that from now on!

[2019-04-03 16:42] cnamal commented on #8588
@betrue-final-final maybe the thicker border you mentioned in https://github.com/OfficeDev/office-ui-fabric-react/pull/7155#issuecomment-479558719 could be done as part of the fix for this bug? Not a hard requirement, just an FYI :)

[2019-04-03 16:49] kkjeer commented on #8587
Hi @DanteMustDie, could you clarify which Fabric component you're using? I don't see a SetupBanner component in our documentation (https://developer.microsoft.com/en-us/fabric#/components). Thanks!

[2019-04-03 16:56] natalieethell commented on #8493
@SriNandiniG thanks for the clarification!

So it looks like now, when you navigate within a row to the gridcell that has a button, Narrator will announce "button". The dialog only opens when focused on that button, not on the row itself—right?

When you navigate to the row itself, it reads out each cell value, but not the role/type of each cell. Here's an example from Vitalie's [CodePen](https://

[2019-04-03 17:08] cliffkoh commented on #8564
Please feel free to close the issue if you feel your question has been resolved satisfactorily. :)

[2019-04-03 17:12] kkjeer commented on #8562
@alex3683 thanks for the clarification. I'll keep investigating.

[2019-04-03 17:19] kkjeer commented on #8565
Let me know if the update doesn't work for you, or please feel free to close the issue if updating fixes the problem!

[2019-04-03 17:34] #8564 closed

[2019-04-03 17:47] paddymccallan opened #8592 "Callback for changing month when both DayPicker & MonthPicker is visible"
**Describe the feature that you would like added**
When the DayPicker and MonthPicker are both set to visible; the DayPicker has priority for the callback onSelectDate. Selecting the month when DayPicker is not visible triggers the callback successfully. Feature would be to have a callback that is triggered when either one is selected.

**What component or utility would this be added to**
Calendar

[2019-04-03 18:34] micahgodbolt commented on #8123
Hey @amyngu, neither eddie or I were able to repro this issue with our out of the box command bar in Mojave/Safari.

![image](https://user-images.githubusercontent.com/1434956/55503775-3aed5100-5604-11e9-88b5-ced9dd58377d.png)

Do you want to schedule some time to pair and take a look at your curent code? There are situations where command bar will colapse if a sibling element is greedily taking u

[2019-04-03 18:36] nealYangVic opened #8593 "reselect row with onActiveItemChanged detaillist"
How to reselect a row with onActiveItemChanged , for example I want to open a model again. What's the best way to do it?

[2019-04-03 18:42] micahgodbolt commented on #8123
i see that your command bar is a flex item next to a 100% width element. This means that if the command bar shrinks, the parent will take up the extra space, which means that if you then make your window wider the command bar won't reappear because the sibling is taking up all of the space.  You might be able to resolve this with a flex-shrink:0 on the command bar. If this doesn't work, you can co

[2019-04-03 18:47] nealYangVic commented on #8593
Basically after you click a row with onActiveItemChanged, the row get focused, you cannot use onActiveItemChanged to trigger the same row again.

For example, I want to open a modal when click specific row, after click it once, open modal, close modal. I cannot click that row to trigger onActiveItemChanged again

[2019-04-03 18:52] YaokaiYang-assaultmaster opened #8594 "Create the same grey color for both Dropdown and PeoplePicker"
**Describe the feature that you would like added**
Make the disable grey color the same for Dropdown and PeoplePicker by default.

**What component or utility would this be added to**
Dropdown and PeoplePicker

**Have you discussed this feature with our team, and if so, who**
Not yet.

**Additional context/screenshots**
The first cell is Dropdown and the second cell is PeoplePicker. Both are disab

[2019-04-03 19:34] cliffkoh commented on #8594
@betrue-final-final @joschect @phkuo do you know which one of the two has an incorrect/buggy disabled color at the moment?

[2019-04-03 19:55] kkjeer commented on #8594
It looks like Dropdown currently uses `semanticColors.disabledBackground` ([see in file](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.styles.ts#L195)) and PeoplePicker uses a hardcoded color: `const disabledOverlayColor = 'rgba(218, 218, 218, 0.29)';` ([see in file](https://github.com/OfficeDev/office-ui-fabric-rea

[2019-04-03 20:12] kkjeer commented on #8586
Hi @sonimishra, we can't use powerapps to debug. Could you create a CodePen that demonstrates the behavior you're seeing on the affected Fabric component(s)? Thanks!

[2019-04-03 20:21] kkjeer commented on #8588
Thanks for reporting this @cnamal. This seems to be a recent regression; I'll follow up to look for a fix.

[2019-04-03 21:17] leddie24 commented on #8132
Hey @denniscoh  thanks for submitting this issue.  After doing some investigation, it looks like this is more of a JAWS specific issue rather than an issue with our control.  I will get in touch with a contact on the JAWS team to see if they can triage and fix this issue on their side.

[2019-04-03 21:22] leddie24 commented on #8133
Hey @denniscoh thanks for submitting this issue. After doing some investigation, it looks like this is more of a JAWS specific issue rather than an issue with our control. I will get in touch with a contact on the JAWS team to see if they can triage and fix this issue on their side.

[2019-04-03 21:23] leddie24 commented on #8135
Getting in touch with the right contacts on JAWS team to file and triage this issue on their end currently.

[2019-04-03 21:29] kkjeer commented on #8594
Hi @YaokaiYang-assaultmaster, could you please confirm two things:
1. The version of Fabric you're using, and
2. The background color of the PeoplePicker in your screenshot?

On our [documentation site](https://developer.microsoft.com/en-us/fabric#/components/peoplepicker), the disabled PeoplePicker has a background color of rgba(218, 218, 218, 0.29) or #dadada (note the hex color does not include

[2019-04-03 22:59] nealYangVic commented on #1483
I think even I pass immutable array to it, when I copy array and change the data inside, detaillist won't auto rerender, I need scroll and see the new data

[2019-04-03 23:35] KevinTCoughlin commented on #1483
Passing a new array via `items` prop should trigger a re-render since `List` does a referential equality check as noted in https://github.com/OfficeDev/office-ui-fabric-react/pull/8201/files.

@nealYangVic if you're still experiencing problems, can you open a new issue and tag me in it? It would be _most_ helpful to have a Codepen repro'ing the problem or similar so I can debug.

[2019-04-03 23:36] kkjeer commented on #8577
Hi @ArrayKnight, in case you're curious, my proposed fix (in pull request #8597) is to add the "for" attribute to the text as described. Having both the label and the text be "for" the same Toggle button initially produced some undesired screen reader behavior since the on/off text was read instead of the label. I mitigated this by adding "aria-labelledby" to the Toggle button to ensure that scree

[2019-04-03 23:46] KevinTCoughlin commented on #8593
@nealYangVic Codepen repros as per our issue template help us triage and unblock you. Can you provide one perhaps by forking this DetailsList example: https://codepen.io/kevintcoughlin/pen/MxByGw

I need to understand your scenario better before recommending a solution. Specifically what your intent is by triggering `onActiveItemChanged` a _second time_. Perhaps that is not the correct method to u

[2019-04-04 01:03] YaokaiYang-assaultmaster commented on #8594
@kkjeer Hi, the Fabric version I am using is `6.164.1`.  The browser I am using is Chrome Version 72.0.3626.121. The disabled PeoplePicker in my browser also have a background color of rgba(218, 218, 218, 0.29), the same as yours. As shown in the following graph.

![image](https://user-images.githubusercontent.com/18135477/55522651-b0741400-563a-11e9-9dbf-be05495158cc.png)

[2019-04-04 01:40] DanteMustDie commented on #8587
Hi @kkjeer, it is under office-ui-fabric-react/packages/dashboard/src/components/SetupBanner/

[2019-04-04 02:23] nealYangVic commented on #8593
@KevinTCoughlin here we go, https://codepen.io/nealyangvic/pen/KYVmWV
I use onActiveItemChanged to control the panel,

current behavior: when I click one item like item 2 to open the panel, then close panel, then click item 2, cannot open the panel or trigger onActiveItemChanged again.

expect behavior: after close panel and click item 2, panel should reopen (onActiveItemChanged should be triggere

[2019-04-04 02:25] nealYangVic commented on #8593
I feel like this should be very normal behavior for a grid, when I click a row I want to open a modal

[2019-04-04 02:35] nealYangVic commented on #1483
@KevinTCoughlin  thanks, I use slice() which is shallow copy, should use spread,thanks

[2019-04-04 03:32] piyumi25 commented on #8565
I able to fix the problem after updating the office ui fabric react package. Thank you for your help.

[2019-04-04 03:32] #8565 closed

[2019-04-04 03:42] KevinTCoughlin commented on #8543
@eveleens, I've provided a potential solution and alternative in https://github.com/OfficeDev/office-ui-fabric-react/pull/8605. Thanks for raising awareness to this issue.

The scope of the proposed fix impacts `SelectionZone` across OUFR cc: @betrue-final-final @dzearing

[2019-04-04 07:06] tabansal opened #8606 "ComboBox: Add prop to provide custom behavior on input change in ComboBox"
Currently we don't have a way to provide custom behavior for what happens when user types in Combo Box. For example if you want to filter the list of options displayed based on input, we can't do this. Can you please add a prop which allows us to add a customer behavior when user types?

Also can you add a prop which controls if menu should be displayed when user focus in combo box input. Currentl

[2019-04-04 08:41] lijunle commented on #8244
@dzearing I was heard that, v7 is going to release. What is the plan on the CSS related tech?

Are we continuing to support `className` and `styles` (CSS in JS) in component? With adding more and more *supporting* features, the style calculation becomes more and more complex.

[2019-04-04 08:44] sonimishra commented on #8586
codepen sample can be  https://developer.microsoft.com/en-us/fabric#/components/detailslist.

[2019-04-04 12:30] FullStackRafik commented on #8550
I resolved the first issue, now I can navigation between items by clicking a button (up and down), but I still don't know how can I get the item to trigger it.

[2019-04-04 12:33] raghavendra-kodimala opened #8607 "[RTL - CommandBar] Items and overflow menu is not showing in reverse direction and all items in RTL for some languages"
### Environment Information

- __Package version(s)__: (5.122.3)
- __Browser and OS versions__: (Chrome: 72.0.3626.121 (Official Build) (64-bit), Microsoft Edge: 44.17763.1.0, Microsoft Windows 1809)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
 CommandBar Items is not displayed in reverse direction in Hebrew language and some of the items are moved to overflo

[2019-04-04 12:38] FullStackRafik commented on #8550
I resolved my issues, now I can navigation between items by clicking a button (up and down), and I triggered programmatically _onItemInvoked method.

[2019-04-04 16:00] #8498 closed

[2019-04-04 16:26] JoshuaLamusga commented on #8520
Updating to high priority for myself. It's blocking me at the moment.

[2019-04-04 16:48] kkjeer commented on #8587
@DanteMustDie thanks for the clarification. I'll reach out to dashboard developers to see if there is a plan to support styled components. In the meantime, could the `className` property be useful for your scenario? Something like:

[code]

[2019-04-04 16:51] kkjeer commented on #8550
@FullStackRafik glad to hear it! If you don't have any other questions, please feel free to close this issue. Thanks!

[2019-04-04 16:52] kkjeer commented on #8562
@JasonGore is this something that would make sense to add to the Layer component?

[2019-04-04 16:57] #8550 closed

[2019-04-04 17:28] kkjeer commented on #8606
Hi @tabansal, can you use the `onPendingValueChanged` property for your first question? In our example from the documentation site, we have:

[code]

When you type something in the ComboBox, you should see "Preview value was changed. Pending index: undefined. Pending value: (what you have typed goes here)."

[2019-04-04 17:42] kkjeer commented on #8606
For you second question, I have a CodePen https://codepen.io/kkjeer/pen/xeVVPX that demonstrates what I think is your desired behavior: when the user focuses on the ComboBox, the menu is opened.

This type of solution is also on our documentation page https://developer.microsoft.com/en-us/fabric#/components/ComboBox (in the button the opens the ComboBox when clicked):

[code]

[2019-04-04 18:35] HalcyonPride opened #8608 "Checkbox: Hitting <Enter> doesn't toggle it"
### Environment Information

- __Package version(s)__: Whatever's the latest
- __Browser and OS versions__: Tested in Chrome and Edge

### Please provide a reproduction of the bug in a codepen:
https://developer.microsoft.com/en-us/fabric#/components/checkbox

#### Actual behavior:
Hitting `Enter` does nothing.
#### Expected behavior:
Hitting `Enter` should toggle the Checkbox.
#### Priorities and

[2019-04-04 18:36] kkjeer commented on #8593
Hi @nealYangVic, this codepen (https://codepen.io/kkjeer/pen/WWwxqX) shows a workaround using a function that renders each row with an `onClick` handler to open the Panel when a row is clicked. We're investigating a modification to DetailsList that would enable this behavior by default, but hopefully this is an acceptable workaround in the meantime.

[2019-04-04 18:36] HalcyonPride commented on #8608
I could've sworn this used to work... It might be a regression.

[2019-04-04 18:38] KevinTCoughlin commented on #8608
Possibly, tho its worth mentioning that native `input type="checkbox"` only toggles on `SPACE` not `ENTER`, https://jsfiddle.net/kevintcoughlin/ry8tc2ks/.

[2019-04-04 18:47] kkjeer commented on #8594
Thanks for confirming @YaokaiYang-assaultmaster. @betrue-final-final can you please confirm the correct disabled color for PeoplePicker?

[2019-04-04 18:54] nealYangVic commented on #8593
@kkjeer Thanks for the answering, based on this answer I look document more, find out onRenderRow maybe more appropriate for this, because onRenderItemColumn could be rewritten by detail render https://codepen.io/nealyangvic/pen/yrOVYL

Thanks!

[2019-04-04 19:29] cliffkoh commented on #8608
Hitting enter to toggle checkbox is non-standard and in particular, the behavior in the prior checkbox was a source of bugs like https://github.com/OfficeDev/office-ui-fabric-react/issues/6811.

If it is important to support the enter key, here are some codepens with examples of how you can re-introduce it: https://codepen.io/dzearing/pen/PVEpye?editors=0010

[2019-04-04 19:33] cliffkoh commented on #8608
p.s. the fact that the checkbox used to be able to be toggled with enter key was an unintentional side-effect of the checkbox previously being implemented via a button. A button was initially chosen for the implementation purely because it was deemed to be more stylable.

It turned out to be a poor choice however as it resulted in a bunch of intractable bugs with the accessibility and behavior bec

[2019-04-04 20:04] kkjeer commented on #8589
@KevinTCoughlin @aditima as the code owner and author of DetailsList, could you take a look at this? Thanks!

[2019-04-04 21:00] #8593 closed

[2019-04-04 21:15] JasonGore commented on #8562
I'm not sure. Layer itself doesn't have any animations. If there needs to be a distinction between knowing when children are mounted and when animation ends, it may not make sense for Layer to have this capability.

@alex3683 Is it possible to render a placeholder child and tell when it's mounted and trigger off that?

[2019-04-04 21:21] micahgodbolt commented on #8607
Is it possible to use the new 6.0 command bar? It was completely refactored and should better support RTL.

[2019-04-04 21:22] micahgodbolt commented on #8592
@lorejoh12 Is this something you've considered or come across?

[2019-04-04 22:15] KevinTCoughlin commented on #8589
Regarding the original issue report, I don't see it _quite as pronounced_ in Chrome Version 73.0.3683.86

![image](https://user-images.githubusercontent.com/706967/55592071-33a17280-56ec-11e9-862d-39c2c277fcc2.png)

I _do see_ the unnecessary flash of horizontal scrollbar as reported in #7772.

@sealightPT, can you offer any assistance on how to get it to repro as you captured above? Meanwhile, I'

[2019-04-04 22:20] dzearing commented on #8534
I think bug1 is real. We have both a label, but there is also this polite aria-live section which is causing the duplication.

[2019-04-04 23:08] micahgodbolt opened #8612 "Dialog's high contrast outline breaks PDFs being displayed in Edge"
#### Actual behavior:

Oddly enough, the transparent border added to the Dialog in [this commit](https://github.com/OfficeDev/office-ui-fabric-react/pull/7523/files#diff-be662ec8054b3fc7f3c5b183b8e7d741R19) causes a strange bug in Edge when trying to display a PDF. For some reason, the outline-style: none causes the entire PDF to go blank.

The outline was added for high contrast mode, so simply s

[2019-04-04 23:16] micahgodbolt commented on #8612
debating on the proper solution here. Moving it to high contrast won't hurt anything, but it only solves the PDF issue in non-high contrast modes.

[2019-04-04 23:26] #8282 closed

[2019-04-04 23:26] #8543 closed

[2019-04-04 23:27] #8548 closed

[2019-04-04 23:41] kkjeer commented on #8562
@alex3683 does @JasonGore's suggestion work for you? Otherwise, I can look into adding props like `onOpen` and `onOpened` to Panel (analogous to the existing `onDismiss` and `onDismissed`.

[2019-04-04 23:53] #8577 closed

[2019-04-04 23:55] kkjeer commented on #8594
Spoke offline with @betrue-final-final who confirmed that rgba(218, 218, 218, 0.29) is the correct disabled color for PeoplePicker.

[2019-04-05 00:01] KevinTCoughlin commented on #8589
Note that this style _only_ works if you do not need to support horizontal scrolling to view additional columns.

[2019-04-05 05:38] awalia13 opened #8616 "Callout A11y Pass"
Tracking all of the issues brought up with the 04/02 accessibility pass on Callout control
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B6ca2ab89-695a-49ad-a4b8-3eae316c2987%7D&action=default&uid=%7B6CA2AB89-695A-49AD-A4B8-3EAE316C2987%7D&ListItemId=1922&ListId=%7B395E1ECB-5002-440

[2019-04-05 07:47] jleck commented on #616
@brettinternet I haven't looked into it yet, but I couldn't get the callback to fire at all last time I checked. That was on my list to check.

[2019-04-05 08:04] alex3683 commented on #8562
@JasonGore @kkjeer I guess (and confirmed by testing it) a child component is mounted as soon as the Panel is starting to open, hence at the start of the opening animation. This is also true for the props `onLayerDidMount` and `onLayerMounted` of the layer. So this won't help me in this case.

I like the idea of the `onOpen` and `onOpened` props, since they should solve my problem and they are fit

[2019-04-05 08:14] tabansal commented on #8606
onPendingValueChanged is getting triggered multiple times. Apart from input text change it also getting triggered when user hovers over the menu items and also when we change the props of combobox (when we update the comboBox with filtered options). Since it is getting called multiple times & mostly with empty value it reset the filtered options in my case.

Second problem is resolved using onFocu

[2019-04-05 09:30] diduanand opened #8618 "To get control of the FocusZone in the Breadcrumb"
We do not have any control to change the Breadcrumb's FocusZone. So we are using breadcrumb in our product where it is not required to make it focusable every time. But there is no way to achieve this. Just for a work around we have written a wrapper for this and set the "data-is-focusable" property to false manually. But that is a hacky way. There should be a proper way of doing this.

Thanks,
An

[2019-04-05 11:47] kiefergrylls commented on #2431
Any news about this feature ? Or a way to do a FilePicker like in an Office style ?

[2019-04-05 14:39] KevinTCoughlin commented on #2431
We have two libraries for adding File Picker support to an application, they are:

1) [OneDrive File Picker](https://docs.microsoft.com/en-us/onedrive/developer/controls/file-pickers/js-v72/?view=odsp-graph-online) - For a popup select file(s) work flow
2) [@microsoft/file-browser](https://www.npmjs.com/package/@microsoft/file-browser) - Embeds the same file / document library experience SharePoin

[2019-04-05 14:44] dzearing commented on #8532
@v-khkuma is there an incorrect role? I'm not exactly sure what causes NVDA to distinguish this.

[2019-04-05 14:48] sealightPT commented on #8589
@KevinTCoughlin, from a blank CRA app we can reproduce the behaviour you mentioned on Chrome: The horizontal scrollbar is visible for a second and then it is hidden
However on Edge (Microsoft Edge 44.17763.1.0; Microsoft EdgeHTML 18.17763) the scrollbar is never hidden.

Steps:
[code]
Add ScrollablePane.DetailsList.Example.tsx to the project

I then had to comment the following lines for it to com

[2019-04-05 14:51] mathisGilliot opened #8620 "DetailsList Locked Header: List does not scroll to the top with up arrow"
### Environment Information

- __Package version(s)__: **6.164.2**
- __Browser and OS versions__: **Chrome v73.0.3683.86**

### Repro steps:

From the **DetailsList Locked Header** example described here: https://developer.microsoft.com/en-us/fabric#/components/scrollablepane

You can export it to _CodePen_.

Scroll down to hide first element.

Set focus on a visible element in the list.
**Use key

[2019-04-05 15:43] ArrayKnight commented on #8577
@kkjeer Thank you for getting this taken care of so quickly and easily

[2019-04-05 15:49] Jahnp commented on #7269
Closing this for now as a working version of this is complete. We'll continue to invest in more robust version-switching over time.

[2019-04-05 15:49] #7269 closed

[2019-04-05 16:26] micahgodbolt commented on #8612
yeah, lets leave this as is actually. For situations where the Edge/PDF bug crop up, simply turn off the outline. Moving it to high contrast would increase specificity and make it harder to override.

So, if you hit this same bug do the following for PDF viewing modals

[code]

[2019-04-05 16:26] #8612 closed

[2019-04-05 16:43] kkjeer commented on #8618
Hi @diduanand, I'm not sure what you're asking. Could you clarify why exactly you need control of the Breadcrumb's FocusZone (to disable it, replace it, etc.)? Also, it would be great if you could provide a CodePen that demonstrates the issue you're seeing. Thanks!

[2019-04-05 17:21] kkjeer commented on #8562
@alex3683 thanks for testing and for looking at the Dialog props (appreciate your calling attention to this!) The reason the Dialog's `onDismissed` property is deprecated is that it was replaced with `modalProps.onDismissed` (so you can still pass an `onDismissed` callback to Dialog, it's just passed as part of the Dialog's `modalProps` property now).

[2019-04-05 17:40] kkjeer commented on #8606
Hi @tabansal, I have a CodePen https://codepen.io/kkjeer/pen/xeVVPX which demonstrates the use of `onPendingValueChanged` to filter the options based on what the user types. The key is to not do anything if the value is undefined, which is the case when the user hovers over the menu items. Please let me know if this does not work for you.

[2019-04-05 18:20] tabansal commented on #8606
Hello @kkjeer, In your codePen is user deletes all the input text from comboBox it doesn't reset to display all options.

[2019-04-05 18:28] jdhuntington opened #8622 "Fix deprecation warning"
[code]

[2019-04-05 18:28] JasonGore commented on #8552
Ok, I've done more investigation and have a clearer picture of what's going on here.

There are basically two FocusTrapZones active in the provided CodePen: one in `Modal` and one in `FocusTrapCallout`. In this case, `FocusTrapCallout` has no content, so it's trying to grab focus but has no content to put focus on. As a result, both versions _appear_ to act oddly: OUFR v6.142.0 focus falls back fr

[2019-04-05 18:36] #8588 closed

[2019-04-05 19:04] YaokaiYang-assaultmaster commented on #8594
@kkjeer Thanks! Let me try to change it with the styles property. However I was wondering why are the two components have different background color by design tho?

[2019-04-05 19:11] cnamal commented on #8552
Apologies for not providing a good enough example :(. Here is a closer example to what we have: https://codepen.io/namal-ms/pen/QPEdbj

In our code, a button of the `Modal` triggers the `hidden` prop of the `Callout`

[2019-04-05 19:26] rslavey opened #8625 "Non-blocking Panel is blocking text from being entered into search box"
### Environment Information

- __Package version(s)__:

- __Browser and OS versions__: Chrome / Windows 10

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/randyslavey/pen/mgERoy

#### Actual behavior:

When isBlocking is set to false on a Panel, expected behavior is to be able to interact with elements in page. While buttons are clickable, entering text in a search

[2019-04-05 19:47] cnamal commented on #8552
Here's a repro that's even closer to our code: https://codepen.io/namal-ms/pen/xeOgyy

[2019-04-05 20:06] jdhuntington opened #8626 "Create legacy components package"
For components that are still utilized.

[2019-04-05 20:07] jdhuntington opened #8627 "Move Nav to legacy components package"

[2019-04-05 20:23] JasonGore commented on #8552
Hmm, I think this may be an issue with `FocusTrapCallout`. If it is `hidden`, it is still rendering the `FocusTrapZone`, which causes the breaking behavior we're seeing. I don't think `FocusTrapCallout` should be rendering the `FocusTrapZone` when `hidden` is `true`.

I've modeled how this should really behave [in this CodePen](https://codepen.io/jasongore/pen/PgzprE) where I just prevent the enti

[2019-04-05 20:38] atneik commented on #8552
@JasonGore I don't think I considered this case. I don't see any issue if we prevent rendering `FocusTrapZone` if `hidden` is set to `true`

[2019-04-05 21:34] Rick-Kirkham opened #8631 "Flexbox settings don't work in List component. Seems to not fill the available container vertically."
The List component ignores flexbox settings when rendering child items. Notice in the CodePen below:
(1) although both `justifyContent` and `alignItems` are set to `align-end`, the items are not in the lower right of the container as they should be. Setting them to `center` does not center the items.
(2) Although the List is set to `flex: 1` it does not fill up the container vertically with red. I

[2019-04-05 22:42] micahgodbolt commented on #8631
the style tag is applied to the root element. The children are placed into another child div. I THINK you should be able to use `getPageStyle` to apply styles in this case. We could certainly make this easier and more consistent using slots.

[2019-04-05 22:53] timtong1982 commented on #8520
Thanks Joshua,

https://github.com/OfficeDev/office-ui-fabric-react/pull/8632
here the PR to fix the typo

for light dismiss, this is already supported in today's version, please use
[code]
I've updated the example file

[2019-04-06 06:23] KevinTCoughlin commented on #8586
@natalieethell has had similar feedback about column header and assistive technology navigation. I wonder if this is related?

How does this map to the [W3 ARIA spec](https://www.w3.org/TR/wai-aria-1.1/)? I want to fix this if its blocking users.

[2019-04-06 16:50] lutherdexter commented on #8547
Hi @kkjeer,

Thanks for coming back to me.

Which react scripts did you have to add to get it to work? That's probably what I'm missing in my environment...The chevron icon in my dropdown control doesn't work  and appears somewhat distorted in positioning when my app is on desktop form factor but it does when I resize my browser to a mobile/tablet size. This behaviour is consistent for all the dro

[2019-04-06 23:29] dzearing commented on #8547
Are you importing from `/lib/` folders? If so, icons don't get automatically added to your bundle.

Can you add this to your app?

[code]

This will pull full icon support into your bundle. More details here:

https://github.com/OfficeDev/office-ui-fabric-react/wiki/Using-icons

[2019-04-06 23:30] dzearing commented on #8547
@lutherdexter also you can take a look at my codepen above, which added these:

[code]

[2019-04-06 23:30] dzearing commented on #8547
(I highly recommend using the latest react build, at least 16.8.1 or greater.)

[2019-04-07 00:46] dzearing commented on #8244
`className` will always be supported, for various purposes. The `styles` prop is very useful and we don't plan to change any of that for 7. That said, we want to improve the styling story altogether to bring it closer inline with styled-components or emotion.

The `styles` prop has one downside; it is very difficult to use. Easy to get access to the parts of a component as well as the state, but d

[2019-04-07 04:16] lutherdexter commented on #8547
Thanks David. Yes I'm importing and initialising the icons. I was however doing these on my apps.tsx file as opposed to importing in every component file where I use fabric controls.

I'm using react build 16.8.3

I'll try importing & initialising from one of my component files and will let you know if the issue persists.

Do I need to reference those scripts in your codepen?

[2019-04-07 04:19] dzearing commented on #8547
oh no i did mean just do that once in your app.tsx. If you are already doing that and icons aren't showing up, check network traffic in debug tools and see if there are any failures to download.

If you're building with react, you should be good to go. If you put your project on a github location, I'm happy to clone to see what you're seeing.

[2019-04-07 04:26] lutherdexter commented on #8547
I can see the chevron icon in the dropdown control. The icon just appears distorted and the control reveal dropdown options when I click it on a desktop. The only scenario where the dropdown options appear is when I resize the browser to a mobile screen size

[2019-04-07 04:26] lutherdexter commented on #8547
its on github

[2019-04-07 04:27] dzearing commented on #8547
Do you have a link to the repo?

[2019-04-07 04:37] lutherdexter commented on #8547
here [https://github.com/lutherdexter/kats/invitations](url)

[2019-04-07 04:38] lutherdexter commented on #8547
just shared access with you

[2019-04-07 04:45] dzearing commented on #8547
Ran `npm install` and `npm start` in the kats folder, and got:

[code]

[2019-04-07 04:45] dzearing commented on #8547
if you have a fix, lmk and i'll pull

[2019-04-07 05:05] lutherdexter commented on #8547
just fixed it. You are going to need use dummy data for the dropdown controls

[2019-04-07 05:16] dzearing commented on #8547
pulled, now i see this:
[code]

![image](https://user-images.githubusercontent.com/1110944/55679076-98f68e80-58b9-11e9-8f28-cf48f6714fed.png)

[2019-04-07 05:58] dzearing commented on #8631
This `List` component is for rendering virtualized content; it will divide the rendered items up into pages. Are you trying to position the `List` itself, or the items it renders?

You can always use flexbox on each individual cell. Or, if you're not rendering many items, just use a `forEach` loop instead of a `List` to have a more fixed DOM structure without the pages inbetween the container and

[2019-04-08 02:56] nguyentoantuit commented on #2431
I implemented a custom filepicker using react-dropzone and office fabric UI. If you want to know the detailed implementation, pls see my post here  https://nguyentoanuit.wordpress.com/2017/11/12/react-dropzone/
Source code is in here https://github.com/nguyentoantuit/samples/tree/react-dropzone

[2019-04-08 04:49] v-khkuma commented on #8532
No there is no role assigned. Although if we are passing role to the CommandBar, then it should be aasigned to all of them and not only first Menu.
It is behaving same in the official site as well.
https://developer.microsoft.com/en-us/fabric#/components/commandbar

[2019-04-08 06:51] Kumaraswamy9096 opened #8634 "The color contrast ratio for the list items under the card name should be at least 4.5:1"
<img width="812" alt="Color contrast issue" src="https://user-images.githubusercontent.com/48794043/55778916-d7f73080-5ac1-11e9-824b-ffed400e06ee.PNG">
### Environment Information

- __Package version(s)__: (6.117.0)
- __Browser and OS versions__: (Microsoft Edge(40.15063.674.0) and 1703)

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/Kumaraswamy9096/pen/JVRBbr?&edi

[2019-04-08 08:47] cnamal commented on #8552
@JasonGore that is indeed the workaround we are trying to implement currently, but it causes our UI tests to fail, for some obscure reason.

Could this have performance issues? In our code, the callout has a list of elements, which in theory should be short, but the user can potentially have a very long list.

[2019-04-08 10:04] v-doku commented on #7926
@kenotron For Bug1 We are still getting error if we run Keros. The value which is used for aria-labelledby should match the value used for id attribute.

Please find screenshot below.
![image](https://user-images.githubusercontent.com/47735112/55715999-885a2b80-5a13-11e9-9e9c-1ec193b707f4.png)

And for Bug2 Screen reader is now reading the tooltip but not the name of button. It should read both wh

[2019-04-08 10:23] lijunle opened #8636 "The screen reader says nothing when navigate inside people picker suggestion list"
## Codepen demonstrating the issue

Use the official web site can repro the issue, no need the codepen: https://developer.microsoft.com/en-us/fabric/#/components/peoplepicker

Steps:

1. Open the above page.
2. Launch Narrator.
3. Focus on the people picker, there will be a suggestion list pop up

![image](https://user-images.githubusercontent.com/1296500/55716840-8e0f3b80-5a2a-11e9-999c-7d1089dfe

[2019-04-08 11:14] FullStackRafik opened #8637 "Fabric UI react upgrade issues"
When I upgrade the package to the latest versions:
npm i office-ui-fabric-react@latest
 I get some errors like:
DefaultButton doesn't have properties: id, style, onClick...

[2019-04-08 13:24] DanteMustDie commented on #8587
@kkjeer thanks for your reply. I will try. Only using className will not cover all the inside divs if the css selector is limited to classname selector.

[2019-04-08 13:24] #8587 closed

[2019-04-08 15:00] JasonGore commented on #8552
We would have to implement this in a way where perf is not impacted, similar to base `Callout`. If we can't remove `FocusTrapZone` entirely without affecting perf, then we have to investigate another method for `FocusTrapCallout` to use, such as trying to disable `FocusTrapZone` via props when `hidden` is `true`.

[2019-04-08 17:05] kkjeer commented on #8606
@jspurlin can `onPendingValueChanged` be used to detect when the user clears the pending value in the ComboBox? The issue here is that `onPendingValueChanged` is called in scenarios other than the user typing, e.g. when the user hovers over an item. It is continually called with `undefined, undefined, undefined`, but so far I can't find a way to determine if the pending value is empty.

[2019-04-08 17:10] jdhuntington commented on #8634
Hi @Kumaraswamy9096 - thanks for reporting this issue. Would you be willing to add a screenshot to highlight the issue? Afraid I didn't notice the contrast ratio you mention when looking. Thanks!

[2019-04-08 17:12] jdhuntington commented on #8637
Hi @FullStackRafik - Sorry you're running into this issue. Would you be willing to share the details of your project, specifically:
 - Typescript version from `package.json`
 - Which version of office-ui-fabric-react was installed (again from `package.json`) and which version you were previously using
 - The import statement you are using for `DefaultButton`

Thanks!

[2019-04-08 17:20] jdhuntington commented on #8636
@lijunle Thanks for reporting!

[2019-04-08 17:23] jdhuntington commented on #8636
#6259

[2019-04-08 17:44] kkjeer commented on #8594
@YaokaiYang-assaultmaster PeoplePicker needs the transparency in its disabled background color.

[2019-04-08 18:51] kkjeer commented on #8631
Hi @Rick-Kirkham, I forked your CodePen (https://codepen.io/kkjeer/pen/pBNPBm) and changed some of the styles. In the screenshot below, the List has its items in the lower right corner, and it expands to fill the height of its parent div (I set the height of the parent div to 400px).

<img width="870" alt="list-codepen" src="https://user-images.githubusercontent.com/6687333/55748791-6309f500-59f4-

[2019-04-08 19:00] #8457 closed

[2019-04-08 19:19] KevinTCoughlin commented on #8620
Definitely looks like a bug with how `ScrollablePane` is handling scroll position in the nested `DetailsList` scenario. The behavior is unpredictable. Sometimes scroll is kept in-sync (slightly delayed) with row focus navigation, but more often scroll is behind by a step or two by the time focus shifts to the sticky header.

cc: @leddie24

[2019-04-08 19:24] lijunle commented on #8636
@jdhuntington I saw that page but don't find out which one is pointing to this issue. I suppose this is a regression.

[2019-04-08 19:29] KevinTCoughlin commented on #8589
@sealightPT, yea I agree that it happens in the default case. From my prior debug sessions it looks to be a stale width measurement as part of the component's lifecycle. I'm still in search of a fix.

[2019-04-08 19:35] KevinTCoughlin commented on #8634
Is the issue here that the _example_ list item contents do not achieve a standard contrast ratio on the production website? It would be great to see the actual validation error text to help triage.

[2019-04-08 19:52] kkjeer commented on #8625
@rslavey thanks for reporting; this definitely seems like a bug. I'll keep investigating to see if I can find a fix.

[2019-04-08 19:55] #8534 closed

[2019-04-08 20:31] jdhuntington commented on #8636
@lijunle - sorry, should have clarified. The linked issue is just a cross-reference to other accessibility work that's ongoing for this control.

[2019-04-08 20:59] #8625 closed

[2019-04-08 21:03] natalieethell commented on #8586
@KevinTCoughlin ah, I haven't seen any issues like this one brought up before. The column header bugs I've seen are a little different.

Looking into it a bit, though, it seems like this behavior might be a result of the screen reader.

This [data grid example on the W3C site](https://www.w3.org/TR/2017/NOTE-wai-aria-practices-1.1-20171214/examples/grid/dataGrids.html) has similar behavior for the

[2019-04-08 21:51] kkjeer commented on #8606
@tabansal I updated my codepen (https://codepen.io/kkjeer/pen/xeVVPX) with a potential local fix. Please let me know if this does not solve your issue; otherwise, I can create a PR with the fix.

[2019-04-08 22:16] ecraig12345 commented on #8626
Proposed additions to the list of things to move:
- ComboBox/Dropdown
- Some pickers?
- MaskedTextField

[2019-04-08 22:17] ecraig12345 commented on #8622
I tried to look into this and couldn't track down where it was coming from. Unless you can figure it out, I wonder if adding an "ignorable warnings" option to Rush would be the most practical path forward?

[2019-04-09 00:00] #8576 closed

[2019-04-09 00:01] jdhuntington commented on #6905
Removing the _fabric 7_ label; still desirable, but not a ship blocker for 7.

[2019-04-09 00:17] maalwa opened #8648 "Upgrading to office-ui-fabric-react (6.164.3) throws Javascript heap out of memory error"
I am upgrading the package to use Stack component.

Error:

1>  Unknown output: FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory (TaskId:38)
1>  Unknown output:  1: 00150BEE  (TaskId:38)
1>  Unknown output:  2: 004378B2  (TaskId:38)
1>  Unknown output:  3: 0042E746  (TaskId:38)
1>  Unknown output:  4: 00435C1E  (TaskId:38)

Control: (almost t

[2019-04-09 00:36] #8279 closed

[2019-04-09 00:57] brandonthomas opened #8649 "Support null value for onRenderHeader in Panel (or other render functions)"
This is mostly about dev experience so I understand if you guys won't fix it. Ideally, if I don't want to render an area of a component it would be great if I could simply pass in null as a value. The current behavior requires a function that returns null.

**What component or utility would this be added to**
Panel brought this up but I could see other features using this.

**Have you discussed th

[2019-04-09 04:55] joschect commented on #8636
@lijunle This is definitely a bug. I'll look into it. As far as I can tell, at least according to the [aria specs] (https://www.w3.org/TR/wai-aria-practices/#combobox), everything is correct and narrator should read it out. My best idea currently is that it might be a timing issue of when id's are put onto the page.

[2019-04-09 05:02] tabansal commented on #8606
@kkjeer It still doesn't work as onPendingValueChanged is not called with empty value on clearing of input.
Thanks for the quick work on PR. I'll wait for the merge.

[2019-04-09 05:24] fengyue1013 opened #8650 "DatePicker(disableAutoFocus=true) doesn't auto move focus to calendar when triggering out calendar manually"
## Codepen demonstrating the issue
https://codepen.io/yudma/pen/Pgbxpy

## Actual behavior:
when setting `disableAutoFocus=true`, opening the calendar manually by pressing enter, user need to press tab again to move focus into the calendar pop up.
## Expected behavior:
![image](https://user-images.githubusercontent.com/12523937/55774805-4a1f4380-5ac9-11e9-9431-eb6e224a9b2a.png)
When pressing enter

[2019-04-09 06:55] FullStackRafik commented on #8637
Hi @jdhuntington
Here is the package.json:
{
  "name": "Crud-Solution",
  "version": "0.0.1",
  "private": true,
  "engines": {
    "node": ">=0.10.0"
  },
  "scripts": {
    "build": "gulp bundle",
    "clean": "gulp clean",
    "test": "gulp test"
  },
  "dependencies": {
    "@microsoft/sp-core-library": "~1.1.0",
    "@microsoft/sp-lodash-subset": "~1.1.0",
    "@microsoft/sp-office-ui-fabric-

[2019-04-09 08:00] #8496 closed

[2019-04-09 09:18] adidwania opened #8651 "To get control of the FocusZone in the Breadcrumb"
We do not have any control to change the Breadcrumb's FocusZone. So we are using breadcrumb in our product where it is not required to make it focusable every time. But there is no way to achieve this. Just for a work around we have written a wrapper for this and set the "data-is-focusable" property to false manually. But that is a hacky way. There should be a proper way of doing this.

Thanks,
An

[2019-04-09 09:20] #8618 closed

[2019-04-09 09:22] adidwania commented on #8651
So the breadcrumb button is be default focusable. But we are using the breadcrumb inside another component which is focusable after user hit enter and goes inside this component to navigate through this. But because breadcrumb is always focusable, it is coming always in the tab order. There should be some way to control the tab order of the breadcrumb.

[2019-04-09 12:23] shivasai09 opened #8653 "Scroll bar is appearing for More actions available for groups in IE11 browser only"
### Environment Information

- __Browser : IE11 only
- __office-ui-fabric-react :"^6.164.2"

### reproduction of the bug:

1. Login to WUS portal https://wusportalprv.office.com/adminportal/home#/groups
2. Go to Groups
3. Select any group
4. Click More action(3 dots) and notice

#### Actual behavior:

Scroll bar is appearing for More action

#### Expected behavior:

Scroll bar should not appear

#

[2019-04-09 15:54] jdhuntington commented on #8648
Sorry to hear you're running into this issue!

Would you mind sharing the package versions you are using of the following packages? Will help us reproduce locally and figure out next steps.
 - react
 - react-dom
 - typescript
 - @types/react
 - @types/react-dom

[2019-04-09 15:58] JasonGore commented on #8649
I worry that `null` values aborting default render behavior is subtle and not easily distinguishable from `undefined` values that don't abort default render behavior. We've had partners in the past passing in `null` in a similar manner to `undefined` and I think this could lead to subtle insidious bugs.

Could you define a helper that returns null and just pass that in? That'll avoid the need of y

[2019-04-09 16:14] KevinTCoughlin commented on #8648
@maalwa while we investigate, have you tried to bump the node process' heap size as a workaround?

`node --max-old-space-size=<size> <command>`

Also, what version of Node are you running?

[2019-04-09 17:20] awalia13 opened #8654 "FocusTrapZone A11y Pass"
Tracking all of the issues brought up with the 04/08 accessibility pass on FocusTrapZone control
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Be4f70d4a-6e63-4d92-b26f-6749296572fb%7D&action=default&uid=%7BE4F70D4A-6E63-4D92-B26F-6749296572FB%7D&ListItemId=1932&ListId=%7B395E1ECB-50

[2019-04-09 17:28] awalia13 opened #8655 "Pickers A11y Pass"
Tracking all of the issues brought up with the 04/08 accessibility pass on Pickers control
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B4b0ae7d5-d7f3-4ce3-bdf4-0c363fedbdb3%7D&action=default&uid=%7B4B0AE7D5-D7F3-4CE3-BDF4-0C363FEDBDB3%7D&ListItemId=1948&ListId=%7B395E1ECB-5002-440

[2019-04-09 17:38] peterremote1980 commented on #8458
Thanks @Paul-Colucci , but i still fail, so sad.

[2019-04-09 18:05] joschect commented on #8651
@adidwania let me make sure that I understand your scenario correctly. It seems like you have the following situation:

You have a breadcrumb which should only be focusable if the user presses enter while the containing component has focus. The current behavior is that the breadcrumb can receive focus before the user presses enter because it is always focusable. Is that the case?

I believe that t

[2019-04-09 18:21] JasonGore opened #8656 "Code Sandbox Errors when using OUFR as Implicit Dependency"
### Environment Information

- __Package version(s)__: 6.164.8 (@uifabric/experiments 6.70.0)
- __Browser and OS versions__: n/a

### Please provide a reproduction of the bug in a codepen:

 https://codesandbox.io/s/8nqy90rl92

#### Actual behavior:

Code Sandbox fails to use @uifabric/experiments (and OUFR package implicitly as a dependency of @uifabric/experiments) starting around v6.67.0 with t

[2019-04-09 18:25] dcowen91 commented on #8173
Hi, Just curious if this issue has been scheduled? There are a ton of issues found by the [fastpass tool](https://accessibilityinsights.io/) even just opening a panel on the [fabric demo site](https://developer.microsoft.com/en-us/fabric#/components/panel), but I'm not sure if they are all enumerated here.

[2019-04-09 18:33] joschect commented on #8637
@FullStackRafik it looks like you're not depending directly on office-ui-fabric-react, instead you're depending on sp-office-ui-fabric-core which is a bundled subset of office-ui-fabric-react, do you know which version that is on?

[2019-04-09 18:46] joschect commented on #8637
@FullStackRafik Actually I don't think that oufr is included in that core bundle, do you know where it is being included from?

[2019-04-09 18:54] brandonthomas commented on #8649
Yah, at the moment that's essentially what we're doing. We need to move ours to a central place and then evangelize it. To me making sure everyone knows that there is a central one is the hardest part. Whereas `null `is pretty well known (I'd hope). I understand that many folks don't understand the nuances between `undefined `and `null `though so that's a valid point.

[2019-04-09 19:05] #8562 closed

[2019-04-09 19:54] rhalaly commented on #7110
@fabricteam can you please assist with BTC-Bradley issue. I'm also facing it...

[2019-04-09 21:13] micahgodbolt commented on #3250
this was fixed by #8439

[2019-04-09 21:15] micahgodbolt commented on #3250
![date](https://user-images.githubusercontent.com/1434956/55835931-e9483900-5ad1-11e9-9dd8-14b24d50edb4.gif)

This appears to be working for datepicker now, but not the calendar. Is the calendar issue related or something different?

[2019-04-09 21:21] joschect commented on #8650
@fengyue1013 thanks for submitting this and including the codepen! This definitely seems like a case of improperly described props and things not working as expected. I'll start working on a fix.

Just to ensure that I'm understanding correctly the expected behavior is that the calendar shouldn't automatically open (that's working as expected) but that it should receive focus automatically.

[2019-04-09 21:27] lorejoh12 commented on #3250
The Calendar issue is something different.

Issue #2, identified above and fixed by David, was that after the DatePicker first opens up and sets focus to the selected day, arrowing up or down did not go to the correct days.

The issue in your GIF above is with initial focus, before we even start arrowing. In the base Calendar component, when you tab from the navigation arrows to the grid, we don't

[2019-04-09 21:28] joschect commented on #8653
@shivasai09 Thanks for submitting this! Do you know if this happens to all callouts in IE, or only in this specific instance?

[2019-04-09 21:36] kkjeer commented on #8584
This could be added to the work involved in #6030

[2019-04-09 22:18] lorejoh12 commented on #8592
We've never had a use case for this. The Calendar component was designed such that if both the month picker and day picker are visible, the user is trying to select a specific day. If they select a month, that's more of an internal navigation- it'll change the date range shown inside the Calendar, but you haven't actually "selected" a specific date yet, so no callbacks fire.

When in month picking

[2019-04-09 23:00] #8295 closed

[2019-04-09 23:28] KevinTCoughlin commented on #7077
This polyfill will be necessary for IE11 consumers once `VirtualizedList` is hoisted to OUFR proper.

[2019-04-09 23:33] joschect commented on #8653
Also @shivasai09 could you reproduce this in a codepen?

[2019-04-10 00:13] hkhamm commented on #7110
I still have this exact issue using "office-ui-fabric-react": "^6.164.8". The only fix that works is to remove the const.

[2019-04-10 00:36] joschect commented on #8649
@brandonthomas Thanks for the input! It's a good idea that's worth considering. For the short term I don't think that we're going to switch over as it would require a lot of changes to different components. We're also looking into [slots](https://github.com/OfficeDev/office-ui-fabric-react/pull/7308) which will possibly replace the onRenderMethods in the future.

[2019-04-10 00:42] BTC-Bradley commented on #7110
@rhalaly @hkhamm -

The @fabricteam has marked the enum as deprecated and I've been told it is set to be removed in the next major release 7.0.

Until then, I have been using a simple (kinda hacky) script in my React app to automatically remove the const before building/starting.  Sharing here in case anyone finds it useful:

**Add [replace-in-file](https://www.npmjs.com/package/replace-in-file) t

[2019-04-10 00:51] ecraig12345 commented on #7077
I just added this to the list of things to consider for the 7.0 release. We might also want to consider adding or recommending a promise polyfill (thanks @KevinTCoughlin for making the connection between #8667 and this issue).

[2019-04-10 03:33] mackcheung opened #8670 "after the dialog pop-up window in IE, I don't do anything and then close it, the page is completely white."
here is the error message:

![error](https://user-images.githubusercontent.com/4032031/55849720-43093b80-5b84-11e9-871d-c733a82ceca7.jpeg)

[2019-04-10 06:51] FullStackRafik commented on #8637
@joschect said:

1.4.1

@joschect said

What do you mean by your question?

Knowing that I'm using SP2016 on-premises, What package I should use in this case?

Thanks

[2019-04-10 07:31] SriNandiniG commented on #8493
Hi,

Based on the CodePen<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fcodepen.io%2Fvitalius1%2Fpen%2FOqerJN&data=02%7C01%7Cv-srigan%40microsoft.com%7Cda9150fda03e4446c0e408d6b85556ef%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C636899074003785119&sdata=M1SIrTfejCX4GZr5kb595vMQzQzUa21c1dIFXVExiaA%3D&reserved=0> you have given, now the dialog opens only when focused on the butt

[2019-04-10 08:42] SriNandiniG opened #8673 "Name of the dialog is read twice upon opening the dialog box"
## Codepen demonstrating the issue

## Actual behavior:
Dialog box name must be read only once
## Expected behavior:
Currently, the name of the dialog is read twice please refer to the code snippet mentioned.
Its reading dialog box name twice followed by close button button close
[DialogBoxSnippet.txt](https://github.com/OfficeDev/office-ui-fabric-react/files/3062877/DialogBoxSnippet.txt)

## Docu

[2019-04-10 09:45] lfastrup commented on #7054
Moving to @microsoft/rush-stack-compiler-3.0 yielded a bunch of other strange errors for me. I'm using SPFX 1.8.0 and React 16. But the compiler version 2.9 worked fine for me:
1. npm i @microsoft/rush-stack-compiler-2.9
2. Update the extends line in tsconfig.json to "extends": "./node_modules/@microsoft/rush-stack-compiler-2.9/includes/tsconfig-web.json"

[2019-04-10 10:55] adidwania opened #8674 "To open breadcrumb link in a new tab"
So by default if the breadcrumb item is clickable, it opens in the same tab. I want to open it in a new tab. Is there any props or something which I can pass and achieve this.

[2019-04-10 11:14] jamilihari opened #8675 "DetailsList checkbox column not reading"
### Bug Report

Are you willing to submit a PR to fix?  Yes

Requested priority: Normal

Products/sites affected: NA

#### Describe the issue:

Here we used Fabric.DetailsList Grid, In that Grid we have checkbox in first column which is not reading by Narrator/NVDA but in the sample given in Fabric.DetailsList it is reading the checkbox in the first column.

please check the my attached code snipp

[2019-04-10 11:27] adidwania commented on #8651
Yes this seems to be the similar issue which I am trying to say. But it looks like the work around is not working in my case. To get the exact idea of the issue, go to "https://microsoft.sharepoint-df.com/_layouts/15/sharepoint.aspx" search for "tws" or some query which gives this type of result.
![image](https://user-images.githubusercontent.com/49435376/55874893-5252ae00-5bb1-11e9-837c-6b4379d29

[2019-04-10 11:43] shivasai09 commented on #8653
@joschect  , as far as my knowledge it is only happening at that specific instance.
as you asked here's a codepen:-  https://codepen.io/anon/pen/eovvyW

**note**: codepen will not work properly in IE , though it shows the output. so to see the the code which i have written, open the above url in the browser other that IE. and also note that i have made some css changes , to replicate the exact sce

[2019-04-10 13:19] jamilihari opened #8676 "DetailsList column header sorting order is not Reading in NVDA"
### Description

Here we used Fabric.DetailsList, the sorting order is not mentioning for every click of space on column Headers of DetailsList in NVDA Screen Reader.
I attached code snippet, please check it,.

#### Actual behavior:

For Fabric.DetailsList we have columns when we navigate to each column header through clicking on Tab button ,once Tab entered to the DetailsList  then i used down Ar

[2019-04-10 13:46] michaelmaillot commented on #7054
Hi,

Thanks @coreyroth for this information. I couldn't make it work with the 3.0 version (I got a tslint error), but I made it work with the 3.2 version (also thx to @estruyf its blog post : eliostruyf.com/using-the-full-potential-of-react-in-sharepoint-framework-1-8-0/).

Anyway, I think that for the moment we should wait for a stabilized compatibility between SPFx 3.x TypeScript projects and 6.

[2019-04-10 15:42] micahgodbolt opened #8677 "Calendar tab focus does not start on current date"
**Describe the feature that you would like added**

When tabbing into the date region of the calendar, focus starts at the top left date of the month. I'm suggesting we change this behavior to start initial focus on the current date. This is the current experience in the DatePicker, so I don't see any reason why the calendar should be different.

__Calendar__

![date](https://user-images.githubuse

[2019-04-10 15:42] micahgodbolt commented on #3250
Moved issue to #8677 and will close this one down.

[2019-04-10 15:42] #3250 closed

[2019-04-10 16:54] abhishek1214 opened #8678 "Dropdown: flag to override mobile layout"
**Describe the feature that you would like added**

**What component or utility would this be added to**
Dropdown

**Have you discussed this feature with our team, and if so, who**
Mica Godbolt
**Additional context/screenshots**

I think there should be a way to opt out of this layout if required in mobile for a dropdown. We are catering to group of audience who are to computing and this layout ma

[2019-04-10 17:21] maalwa commented on #8648
Yes. I tried the increasing heap size which has unblocked me.

Below is the package,json in case you need to investigate.

{
    "name": "",
    "private": true,
    "version": "2.0.0",
    "scripts": {
        "webpack": "webpack --mode=development --config webpack.config.js --progress",
        "webpack:watch": "webpack --watch --mode=development --config webpack.config.js --progress",
        "

[2019-04-10 17:56] joschect commented on #8648
@maalwa Hey! Thanks for responding. One other question is, what version of node were you using? We'll look into it!

[2019-04-10 17:59] joschect commented on #8653
@shivasai09 thanks for adding the codepen! However, when I open it in codepen it works as expected, I don't see a scrollbar. (See screenshot) https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fcodepen.io%2Fanon%2Fpen%2FeovvyW&data=02%7C01%7Cjoschect%40microsoft.com%7C47a8df120e4746b0b14b08d6bda9c095%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C636904934110924206&sdata=qO%2BEygfAkknt

[2019-04-10 18:01] micahgodbolt commented on #8674
This isn't really an issue, it's simply a question. Please direct questions to stack overflow or Teams if you are a microsoft employee.

[2019-04-10 18:05] maalwa commented on #8648
v8.9.4

[2019-04-10 18:08] joschect commented on #8670
@mackcheung Thanks for submitting this issue. I created a [codepen](https://codepen.io/slimemold/pen/qwrQxa?&editable=true) and I can't reproduce the issue in IE 11. Could you fork the codepen and see if you can reproduce this issue? You'll need to edit it in a browser other than IE since IE is not supported by codepen, even though the code runs.

[2019-04-10 18:32] joschect commented on #8675
@jamilihari Thanks for submitting this, while we look into this could you create a codepen that demonstrates this?

[2019-04-10 18:34] joschect commented on #8676
@jamilihari Hey! Thanks for submitting this issue. Would you be able to make a codepen that demonstrates this? If you want one codepen could be used for this issue and #8675 so you don't have to make 2 separate ones. It would help us investigate!

[2019-04-10 18:47] joschect commented on #8673
@SriNandiniG thanks for including the code snippet! Would you mind putting it into a codepen to help our investigation? Thanks!

[2019-04-10 18:48] joschect commented on #8673
I've tried to reproduce it in a basic [codepen](https://codepen.io/slimemold/pen/qwrQxa) and I was unable to reproduce the issue.

[2019-04-10 22:19] maalwa commented on #8648
I dont know if this will help narrow down your investigation, but here are more details:
I found that in the .csproj file, if I run "tsc" as a command rather than compiling using targets from Microsoft.Typescript.MSBuild.targets, fixed the issue in VS2017 as well as VSCode.

![image](https://user-images.githubusercontent.com/47611256/55907665-3be62b80-5b8c-11e9-9dd6-d002700981b7.png)

It did solve

[2019-04-10 22:22] kharenzze commented on #7549
Try `yarn add office-ui-fabric-react --network-timeout 1000000000`

[2019-04-10 22:25] Dalimil opened #8681 "SwatchColorPicker hover issue for ColorPickerGridCell"
In the current SwatchColorPicker, hovering over the exact border between the color and the background makes it flicker between selected/unselected states very fast.

I believe this might be due to the fact that each cell is a border-box with 50% border radius. Adding padding + border on hover makes it relayout itself and this causes the sudden flicker between the selected-unselected states.

Can b

[2019-04-10 22:38] joschect commented on #8681
@Dalimil Thanks for submitting this! It's pretty clearly a bug. Since you're being awesome and working on a fix I'll go ahead and assign it to you! Thanks a bunch!

[2019-04-10 22:41] micahgodbolt commented on #8678
Thanks for logging this! We'll take a look at the work involved here. If it's something we can quickly tackle we will, otherwise we'll get it on our backlog and get a dev asigned to it for future development.

[2019-04-10 22:53] joschect commented on #8648
@maalwa what are you running when this fails? Is this during npm install? Npm run?

[2019-04-10 22:53] joschect commented on #8648
I tested just npm run locally with the package.json that you provided and it installed without issue.

[2019-04-10 23:00] #8132 closed

[2019-04-10 23:00] #8133 closed

[2019-04-10 23:03] maalwa commented on #8648
We have .csproj as shown below. (remove file names !)
This is the only project file in the solution on which msbuild is run on Azure DevOps. Hope it clarifies a bit. Note the typescript target included !

[code]

[2019-04-10 23:28] joschect commented on #8654
@awalia13 thanks for submitting this! We'll add this to our backlog and make sure that the right dev's take a look at it.

[2019-04-10 23:29] joschect commented on #8655
@awalia13 thanks for submitting this! We'll add it to our backlog and make sure that the right people look into it.

[2019-04-10 23:42] joschect commented on #8678
@abhishek1214 It looks like we should already have a property that can handle this. The dropdown supports `responsiveMode` as a prop and the description has it as being able to override the default behavior. However it doesn't look like it's working as designed. I think we need to put a fix in and then you should be able to just use that to achieve the same effect!

[2019-04-10 23:44] joschect commented on #8678
Here's the [codepen](https://codepen.io/slimemold/pen/BERBYQ?editors=1111) which demonstrates how the prop should work and how it doesn't seem to work as commented.

[2019-04-10 23:48] joschect commented on #8637
I think that you want office-ui-fabric-react-bundle but I'm not sure. Someone on your team more familiar with sp-client might be able to give you a better idea.

[2019-04-10 23:59] micahgodbolt commented on #8678
reponsiveMode :D

![image](https://user-images.githubusercontent.com/1434956/55921514-fd636780-5bb1-11e9-853b-9b824a1d09f1.png)

The bottom one works.

[2019-04-11 00:00] joschect commented on #8678
@micahgodbolt do I not know how to spell? lol

[2019-04-11 00:04] joschect commented on #8678
@abhishek1214 `responsiveMode={2}` is the equivalent of `responsiveMode={ResponsiveMode.large}` when using the ResponsiveMode enum.

[2019-04-11 00:18] natalieethell commented on #8493
@SriNandiniG got it, thanks for the clarification!

So, to obtain the behavior you're looking for, it seems like a fix needs to be implemented in the screen reader, not in the DetailsList control.

When focused on a row, the screen reader just reads out the content (text) in each gridcell in that row. In order to find out more information about each cell, you'll need to navigate to each individual

[2019-04-11 05:01] adidwania commented on #8674
Thanks

[2019-04-11 05:01] #8674 closed

[2019-04-11 05:51] shivasai09 commented on #8653
hey @joschect  i will share you the diff file instead of codepen. hope this will help you.

[code]
**SCREEN CAPTURE**

![scroll](https://user-images.githubusercontent.com/33802398/55933689-d9546480-5c4b-11e9-9a3f-6f077e8de0fd.gif)

[2019-04-11 06:22] frikkf opened #8691 "Merge-styles: Ability to add plugin-like functionality to override css selector rules"
Hoping to use Fabric React on Sharepoint 2013 and Sharepoint 2016 on premises, we see there is a specificity issue when Fabric css is added alongside the corev15.css provided by default by sharepoint.

The issue resolves in css selectors that look like this: input[type="text"], input[type="search"] {...}

We have been using Material UI with success, but as Fabric gives us a more complete styling i

[2019-04-11 06:48] FullStackRafik commented on #8637
@joschect I'm the technical lead of the project that's why I'm asking about that.

[2019-04-11 07:01] FullStackRafik commented on #8637
I installed  office-ui-fabric-react, here is my **package.json**:
[code]
But I have always the same problems.
Any help please?

[2019-04-11 07:46] Taerarenai opened #8693 "Dropdown onChange firing on focus (when component is inside a Dialog)"
### Environment Information

- __Package version(s)__: 6.164.8
- __Browser and OS versions__: Chrome & Latest version

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/esgdante/pen/ROpMMj

#### Actual behavior:

The issue first showed up in a previous version of Fabric UI. I have a form inside my modal and the first field in my form is a Dropdown. If the dialog is set

[2019-04-11 08:07] ms-qinyang opened #8694 "Can't interact with Tooltip which has closeDelay"
### Environment Information

- __Package version(s)__: 6.165.0
- __Browser and OS versions__: Chrome 73.0.3683.103 & Windows 10 1809

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/anon/pen/ROVKBZ

#### Actual behavior:
Can't interact with tooltip like selecting text. Tooltip auto closes after 500ms no matter mouse is hovering or not.

#### Expected behavior:
Tooltip

[2019-04-11 10:11] frevds opened #8695 "PivotBase item null check bug"
There is a bug here:

![image](https://user-images.githubusercontent.com/5341447/55949295-8df18480-5c52-11e9-9a10-9ac7f15cb17b.png)

If a PivotItem is null instead of undefined (e.g. by using conditional statement such as the following), a runtime NullReferenceException occurs, because typeof(null) === "object" by definition.

![image](https://user-images.githubusercontent.com/5341447/55949450-eae

[2019-04-11 10:56] pk091990 opened #8696 "ChoiceGroup not maintaining checked values across pages after migrating to spfx 1.8 with office-ui-fabric-react version 6.143.0"
Hi Team,

Recently I've migrated my custom webpart to SPFX 1.7.1 to 1.8 with office-ui-fabric-react 5.131.0 to 6.143.0, react 16.7.0 and typescript 3.3.4. It seems that ChoiceGroup is not maintaining selected radiobutton values across pages.

In the below image, Suppose this is my 1st Question , If I'll select any option(Yes/No) of the 1st Question, click Next button. Select any option of 2nd ques

[2019-04-11 11:20] FullStackRafik commented on #8637
I think that the the latest stable versionof oufr is v5.122.1 and in this case compatible with React 15 which is what SPFx uses.

[2019-04-11 12:48] cnamal opened #8697 "Accessibility issue in FocusTrapZone"
[Accessibility insights](https://accessibilityinsights.io/docs/en/web/overview/) shows the following error with `FocusTrapZones`:

I believe the issue is on the following line:
https://github.com/OfficeDev/office-ui-fabric-react/blob/24937f2580a0bd608c7114d1afd43b4536f8c74d/packages/office-ui-fabric-react/src/components/FocusTrapZone/FocusTrapZone.tsx#L74

I don't think the `aria-hidden` is necess

[2019-04-11 16:17] micahgodbolt opened #8698 "Update Datepicker to use date-time calendar in 7.0 branch"
In 7.0 the new css-in-js calendar will be the default calendar. The old calendar will be deprecated and still available for use in datepicker via 'calendarAs' prop.

This work should also include verifying the new palette that the calendar will consume, and adding any other necessary style affects to match the new fluent styles.

[2019-04-11 16:48] peterremote1980 opened #8699 "TextField has no onKeyDown event? how to detect enter key"
Hi
   TextField has no onKeyDown event? how to detect enter key
thanks
Peter

[2019-04-11 17:03] joschect commented on #8691
@frikkf Thanks for your request. Let me clarify the use case of this feature request. It sounds like you want to increase the specificity of the inline styles classnames/selectors so that they will take precedence over global styles, is that correct?

[2019-04-11 18:15] dcowen91 opened #8701 "Panel OnDismiss is called twice"
### Environment Information

- __Package version(s)__: Latest (6.165.1)
- __Browser and OS versions__:  Chrome 73, Windows 10

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/vMmoJR?&editable=true

#### Actual behavior:

When closing a panel, the onDismiss function is called twice. Once before dismissing and once after.

#### Expected behavior:

OnDismiss is

[2019-04-11 18:31] joschect commented on #8637
@FullStackRafik I did a local install with the packages that you provide. In the package.json.lock I noticed that there are a bunch of different versions of office-ui-fabric-react being loaded. It looks like some are coming from microsoft/sp-webpart-workbench and @microsoft/office-ui-fabric-react-bundle and the version that's required is 2.31.0 which is really low. There are a few other places tha

[2019-04-11 19:04] joschect commented on #8701
@dcowen91  Thanks for submitting this issue and for including the codepen! This looks like it's a problem, I'll dig into a bit more and see if I can figure out why!

[2019-04-11 19:08] joschect commented on #8699
@peterremote1980 thanks for your question! Textfield does support onKeyDown, it passes the native events through automatically. It doesn't show up in the documentation but you can use it. See this [codepen](https://codepen.io/slimemold/pen/VNWwvL?editors=1111) as an example!

[2019-04-11 19:11] joschect commented on #8697
@cnamal Thanks for submitting this ticket! I'll take a look and see if I can figure out why that got added in the first place.

[2019-04-11 19:14] joschect commented on #8701
Looks like it was introduced in #8274

[2019-04-11 19:14] joschect commented on #8697
Looks like this was added in #8274

[2019-04-11 19:17] joschect commented on #8694
@ms-qinyang Thanks for submitting this! To help clarify, what is the expected use case for this? Are you looking to allow users to copy and paste information from the tooltip?

[2019-04-11 19:24] joschect commented on #8696
@pk091990 Hi, can you clarify a little bit more about what you mean when you say "pages"? Is that using something in react? Or a different custom component. Could you add a codepen that includes a reproduction of this?

There have been a lot of changes to ChoiceGroup since 5.131.0.

[2019-04-11 19:28] joschect commented on #8695
@frevds Thanks for submitting this issue! I'm currently unable to reproduce this in a [codepen](https://codepen.io/slimemold/pen/QPgWqr?editors=1111). Would you mind taking a look and trying to repro it?

To help with our investigation could confirm what version of office-ui-fabric-react  you're using?

[2019-04-11 19:30] joschect commented on #8693
@Taerarenai Thanks for submitting this issue and including a codepen! That's an interesting bug that does seem like unexpected behavior. We'll investigate but this seems like a bug.

[2019-04-11 20:04] swese44 opened #8702 "VerticalDivider is not themeable via context"
### Environment Information

- __Package version(s)__: 6.153.0

### Please provide a reproduction of the bug in a codepen:

VerticalDivider uses global `getTheme()` instead of customizable. If an app uses Customizer to set theme via React Context then the VerticalDivider is unable to pick up the app's theme.
https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-

[2019-04-11 20:13] rocketraman opened #8703 "SearchBox onSearch popup action blocked by IE11 popup blocker"
### Environment Information

- __Package version(s)__: 6.165.1
- __Browser and OS versions__: IE11, Windows 10

### Please provide a reproduction of the bug in a codepen:

This is only a problem on IE11. Here is the codepen:

https://codepen.io/anon/pen/qwjERm?editors=1111

#### Actual behavior:

When typing something into the search box and hitting enter, the IE11 popup blocker triggers.

In Chro

[2019-04-11 20:54] frevds commented on #8695
@joschect - Yes, in the latest Fabric this issue does not happen, because the children are filtered out earlier.

In _getPivotLinks, in my (older) version I find this line, iterating over the children directly:
```    React.Children.map(props.children, (child: any, index: number) => {```

The latest codebase reads like this instead:
```    React.Children.map(React.Children.toArray(props.children),

[2019-04-11 20:59] frevds commented on #8695
PS: I'm using the version that comes with SharePoint Framework SPFx 1.8.0, so others might run into that problem. Anyhow, it is apparently fixed, so I'm closing the issue. Thanks though for your reply.

[2019-04-11 20:59] #8695 closed

[2019-04-11 21:08] lorejoh12 opened #8704 "ExtendedPeoplePicker loses keyboarding when hitting itemLimit"
### Environment Information

- __Package version(s)__: latest (codepen will be from 6.165.1)
- __Browser and OS versions__: Edge and Chrome at least

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/oOwjvK?&editable=true
took the controlled ExtendedPeoplePicker from https://fabricweb.z5.web.core.windows.net/oufr/6.165.1/#examples/extendedpeoplepicker, and add

[2019-04-11 22:30] joschect commented on #8648
@maalwa This seems like isn't a fabric specific problem and is related to the build system that is being used. Since this isn't an oufr bug I would seek help in the Fabric team chat or [stackoverflow](https://stackoverflow.com/questions/tagged/office-ui-fabric) .

[2019-04-11 23:08] joschect commented on #8704
@lorejoh12 Thanks for submitting this and including a codepen! This definitely repro's, we'll get it into our backlog and take a look at it.

[2019-04-11 23:21] joschect commented on #8702
@swese44 thanks for submitting this! This is definitely a good request, we'll get it added to our backlog since the divider should be themeable.

[2019-04-11 23:50] micahgodbolt opened #8706 "Vertical OveflowSet keyboard navigation sticks on the overflow"
### Environment Information

- __Package version(s)__: current
- __Browser and OS versions__: all

### Please provide a reproduction of the bug in a codepen:

https://developer.microsoft.com/en-us/fabric#/components/overflowset

#### Actual behavior:

arrowup and down in vertical overflow set, once you put focus on the overflow '...' you can't go back up

[2019-04-11 23:52] joschect commented on #8706
@micahgodbolt  Thanks for submitting this, we'll get it added to our backlog and taken care of!

[2019-04-12 00:29] joschect commented on #8653
@shivasai09 is the issue with ContextualMenu or callout? The example you have is modifying contextualmenu.

[2019-04-12 01:00] #8678 closed

[2019-04-12 02:31] ms-qinyang commented on #8694
A very common use case is copy/parse long text from the tooltip.

![image](https://user-images.githubusercontent.com/25601395/56007741-492a2400-5d0c-11e9-8a2a-0dcdad79d2ad.png)

And in the [tooltip document](https://developer.microsoft.com/en-us/fabric#/components/tooltip#Implementation) `closeDelay` property, it says that

 the user has time to hover over the tooltip and interact with it. __Hover

[2019-04-12 02:31] joschect commented on #8653
@shivasai09 I can reproduce this problem using the code that you pasted in, however, I'm still investigating to get to the root of the issue. I'm not sure if the problem is in the buttons, the menu, or in the way that they're being combined.

[2019-04-12 03:00] #8607 closed

[2019-04-12 05:13] adidwania commented on #8651
@micahgodbolt  So are you planning to provide this functionality.

[2019-04-12 05:46] joschect commented on #8651
@adidwania Sorry for the slow response!

I think that we can enable you to pass through a tabindex, however, I believe that the solution will still ultimately be nested focus zones, at least that seems to be the best solution to having a breadcrumb that is focusable only on enter.

Can you also clarify the issue that you're having with keyboard accessibility? In order to fix it you would need to h

[2019-04-12 06:00] shivasai09 commented on #8653
@joschect  may be this link might just help you.
https://github.com/philipwalton/flexbugs

[2019-04-12 06:30] adidwania commented on #8651
@joschect So we dont like the full breadcrumb to be focusable. Which will be there if I use nested FocusZone. Since there are no other clickable items other than the ellipsis, it does not make sense to make whole breadcrumb to be focusable. In this case it seems good if you can pass through the tabIndex and we can control it from our side.

[2019-04-12 06:48] FullStackRafik commented on #8637
@joschect said:

Yes, I know that is about packages versions, but I need to know which packages are causing the issue.

@microsoft/sp-webpart-workbench and @microsoft/office-ui-fabric-react-bundle are created byt SPFx when I generate the project in the first time.

[2019-04-12 16:40] #7106 closed

[2019-04-12 17:17] joschect commented on #8637
@FullStackRafik this isn't an issue with office-ui-fabric-react. Rather it's a problem with upgrading in  SPFx since it relies on packages that depend on older versions of office-ui-fabric-react. Those dependencies will need to get upgraded to the latest version of office-ui-fabric-react if you want the entire package to use latest. You can go through and find those packages by looking through som

[2019-04-12 18:41] frikkf commented on #8691
@joschect yes.
AS per now I cannot find a way to increase the specificity using the css in js feature fabric provides. When working with Sharepoint 2013 which has a lot of high specificity styles, it would be more clean to increase the specificity of all css in jss styles instead of providing css overrides in an extra css stylesheet. Material UI supports it due to JSS.

[2019-04-12 19:03] #8634 closed

[2019-04-12 20:15] ZacharyBabbitt opened #8716 "Icons not updating when sent from Script#"
### Environment Information

- __Package version(s)__: 6.159.0

### Please provide a reproduction of the bug in a codepen:

Due to Script# nature of this bug, I am not sure how to create a repro in codepen

When sending icons in the data parameter from Script#, combo boxes won't update their icons correctly. This is due to shallowCompare not returning true when the icons are updated and therefore

[2019-04-12 20:29] joschect commented on #8716
@ZacharyBabbitt Thanks for submitting a pr and this issue! Since it seems like you're on top of this I went ahead and assigned it to you.

[2019-04-12 21:40] dsteffee commented on #5128
Running into the same issue. Could we add an option to Selection to retain memory of previously seen, selected items, and then choose when we want to clear that memory?

[2019-04-13 00:40] mattjohnsonpint opened #8722 "DetailsList initialFocusedIndex doesn't work past first virtualized page"
### Environment Information

- __Package version(s)__: office-ui-fabric-react 6.166.0
- __Browser and OS versions__: Chrome 73 / Windows 10

### Please provide a reproduction of the bug in a codepen:

Starting with the existing example at
https://developer.microsoft.com/en-us/fabric/#/components/detailslist/basic

I added one prop to the `DetailsList` component: `initialFocusedIndex={100}`
[Repo p

[2019-04-13 02:03] Paul-Colucci commented on #7874
I am also experiencing this issue.  How do I resolve this?

[2019-04-13 02:39] #7939 closed

[2019-04-13 03:12] j-te commented on #4733
There's another variation to @aditima's solution. Using CSS was messy so I avoided it:

- Create a dummy `<input />` item next to your Upload button item and set `display: "none"`:
[code]
[code]
Note: create a reference in the constructor: `this.fileUploadRef = React.createRef();`

[code]

[2019-04-13 03:57] Paul-Colucci commented on #7874
Updating to the latest version of  office-ui-fabric-react  (v6.166.0) worked for me

[2019-04-13 04:31] chuanqisun commented on #7728
Hitting the same error when I call `import { Customizer } from "office-ui-fabric-react";`. Is there a similar workaround?

[2019-04-13 04:31] #8716 closed

[2019-04-13 11:44] denkristoffer commented on #7728
@chuanqisun This is what I ended up doing to use the fluent theme mentioned in the README with Fabric 6:

[code]

[2019-04-13 22:09] chuanqisun commented on #7728
Thanks for the tip! So I guess the work around is to drill all the way into the origin of the export.

[2019-04-15 02:25] danmarshall commented on #6989
@JasonGore - thanks! I am able to use loadTheme successfully. My question is can I call it again later to change the theme afterwards. I'll experiment with calling loadTheme a second time.

[2019-04-15 15:35] #8650 closed

[2019-04-15 16:59] #5525 closed

[2019-04-15 18:06] mattmazzola commented on #8178
Any update on this?

[2019-04-15 18:18] #7963 closed

[2019-04-15 18:26] aftab-hassan commented on #8178
@mattmazzola I can take a look later this week. Please check back for updates.

[2019-04-15 19:00] #8594 closed

[2019-04-15 20:00] #8631 closed

[2019-04-15 21:00] #8547 closed

[2019-04-15 21:01] ecraig12345 commented on #8722
Thanks for reporting this! @KevinTCoughlin Can you help make a recommendation for the fix here?

[2019-04-15 21:07] KevinTCoughlin commented on #8722
The virtualization logic was supposed to accommodate this scenario, but perhaps it isn't.

If we were to solve, we'd need to materialize the page containing the specified index if either of these props are used. It will be expensive w.r.t performance since it invokes the costly virtualization call flow that in turn invokes [getBoundingClientRect](https://developer.mozilla.org/en-US/docs/Web/API/El

[2019-04-15 21:24] KevinTCoughlin commented on #8620
It looks like there's a disparity between when `Sticky` thinks the container has reached the top of the container and where the container's scroll position currently is. See below where on `syncScroll` I'm printing the `container.scrollTop` value:

[code]

Initially it is `10px` off, later `53px`, etc. Sometimes, if you scroll slowly via keyboard the focus will traverse properly to the fixed heade

[2019-04-15 21:53] JoshuaLamusga commented on #8520
I tried again, but it still fails.

![image](https://user-images.githubusercontent.com/30244654/56167795-01b2ca80-5f8e-11e9-8953-7e0377d9ab93.png)

I only get 'DISMISS CALLED' when clicking away or closing the flyout via the X button. If I try to press escape, I don't get an alert. That means this issue isn't about light dismiss not working, but more specifically escape not counting as a light dis

[2019-04-15 22:03] ecraig12345 commented on #5326
@lijunle Thanks for all your work on this, and sorry we weren't quicker to review the PR. Before making another PR targeting Fabric 7, would you mind outlining the desired behavior in the Fabric 7 SpinButton? (Basically a summary of the issues discussed here and on the PR, keeping in mind that the major version allows us to remove broken/odd behaviors.) Also any props we might want to consider dep

[2019-04-15 22:08] ecraig12345 commented on #8722
I think even if materializing the relevant page is expensive, it's the right thing to do.

Would calling `scrollToIndex` automatically materialize the relevant page?

[2019-04-15 22:19] KevinTCoughlin commented on #8722
Unsure without testing and I'm a bit behind my queue right now. I would hope that it does.

[2019-04-15 23:48] #8701 closed

[2019-04-15 23:56] Vitalius1 commented on #8520
@Raghurk due to `dashboard` package being moved out of this repo, can you please close all the issues related to it and point the authors to the new location and the process of filing an issue there? Thanks!

[2019-04-16 00:00] #8586 closed

[2019-04-16 00:35] joschect commented on #8703
@rocketraman I have tested this out locally and I cannot reproduce this issue. I wasn't able to get codepen to show the searchbox in ie so I used npm start. Is it still reproing for you? Most browser have a way to allow popups from known sites.

[2019-04-16 01:24] rocketraman commented on #8703
@joschect Ok, this is so weird... now that I try it again, with exactly the same code, it is working fine. The only thing that changed is that I applied a bunch of Windows updates. Super-weird. In any case, I'll go ahead and close this, and re-open if it happens again. Sorry for the noise.

[2019-04-16 03:38] ms-qinyang commented on #8694
@joschect Any update?

[2019-04-16 06:33] SriNandiniG commented on #8493
Thanks for your efforts! I have raised the same issue to NVDA, to check if the ask is possible

[2019-04-16 07:50] v-doku commented on #6390
@khmakoto you can find the color contrast analyzer tool [here.](url)

[2019-04-16 13:31] ijxsid commented on #8451
The main cause of this issue seems to be in the BasePicker Component. `onKeyDown` executes whenever there is a key press event, but the function that updates the suggestions list `_onResolveSuggestions` is a debounced. Therefore, for sometime when the suggestion list is not updated, you can keep selecting the same thing.

Possible Solutions:

1. Hiding the suggestions component in `keyDown` functi

[2019-04-16 14:51] JoshuaLamusga commented on #8451
Maybe if (!pendingKeyDownAction) { pendingKeyDownAction = true; /* normal keyDown logic here */ } and reset the value of pendingKeyDownAction to false when suggestions are ready to be taken again. Then you're not impacting performance by managing the selection (i.e. iterating over it to ensure no duplicates) or affecting the UI.

[2019-04-16 14:51] Anschur commented on #8034
Is there any progress on getting this fixed?

[2019-04-16 16:03] tenzin-copart commented on #5322
@khmakoto - Is this component ready?

[2019-04-16 16:08] Anschur opened #8736 "The month buttons in the year grid table of the Date picker under "Date' filter is announced as 'read-only' by narrator(but that are actionable)."
## Codepen demonstrating the issue

1. Go to: https://developer.microsoft.com/en-us/fabric#/components/datepicker
2. Navigate to a date picker and activate it and in the year grid table, navigate to the months(Jan, Feb , Mar, Apr, etc.)
3. Listen to the narrator announcement for the months in the year grid table.

## Actual behavior:
Narrator announces the month columns(Jan, Feb , Mar, Apr, etc.)

[2019-04-16 16:15] joschect commented on #8451
@ijxsid thanks for digging into this!

Hiding the suggestions is definitely the right way to go IMO. There are some problems with that though regarding the way that it's linked to state. I think @Vitalius1 had suggested debouncing the onKeyDown function as a way to help solve this as well. I'll take another look too.

[2019-04-16 16:24] joschect commented on #8694
@ms-qinyang I've taken a look at the code a bit more and it looks like this behavior should already be supported. There is a closeDelay property and the callout does have an onMouseEnter/onMouseLeave proper passed in. I believe that this is actually a bug. I'm working on a fix now.,

[2019-04-16 16:47] khmakoto commented on #5322
Hi @tenzin-copart we have a prototype in its own `@uifabric/react-cards` package if you want to try out today and it's close to be finished. We hosted an API review last Friday which surface some extra work we need to do but you can play with it for now if you're interested in checking it out.

[2019-04-16 16:54] #8241 closed

[2019-04-16 17:42] joschect commented on #8694
@ms-qinyang I talked with @micahgodbolt about this and as it turns out this is all expected behavior. The tooltip is not supposed to be interacted with, much in the same way that browser tooltips are not able to be interacted with.

A way that you can achieve this behavior would be to use the tooltip component, ratherthan tooltip host, and control it's opening and closing yourself.

[2019-04-16 17:57] natalieethell commented on #6780
Added #7309 and #6010 to the table above

[2019-04-16 19:02] joschect commented on #8706
@micahgodbolt interestingly this is a problem with button, not with overflow. Button has some logic to detect when it should open a menu which calls [preventDefault and stopPropagation](https://github.com/OfficeDev/office-ui-fabric-react/blob/7fd3dad18e743eca3bb582b1e24f8287c323e53d/packages/office-ui-fabric-react/src/components/Button/BaseButton.tsx#L688) This is a complicated fix because the but

[2019-04-16 19:30] micahgodbolt commented on #8706
So we can't put buttons in vertical focus groups? Aren't there vertical menus that are just a collection of buttons? Do we simply need to render our buttons in list items to avoid this issue?

[2019-04-16 20:10] joschect commented on #8706
No, we can, it's just a question of how buttons should behave. If there are menuprops in the button then normally pressing down or up will open the menu, however in the case of a vertical menu up or down should move through the items. So it might be that we need to allow for different buttons to open the menu. Or we should only allow enter to open the menu.

[2019-04-16 20:34] micahgodbolt commented on #8706
pressing down on a button doesn't do anything. "alt + down" will open the sub menu of buttons.

[2019-04-16 20:38] joschect commented on #8706
Huh, then button is broken lol. I'll get a fix going.

[2019-04-16 20:38] joschect commented on #8706
Or I should say, it shouldn't prevent default on a down press if alt isn't already currently pressed.

[2019-04-16 20:41] joschect commented on #8736
@Anschur this is currently working as expected! Readonly just means that you can't edit the content but that you can still operate on it. Check out the https://www.w3.org/TR/wai-aria-1.1/#aria-readonly specs.

Also in the pr that introduced change https://github.com/OfficeDev/office-ui-fabric-react/pull/6664 you can see it was an intentional change since grid will always read as editable, even tho

[2019-04-16 20:41] joschect commented on #8736
Let me know if you have any questions!

[2019-04-16 21:00] #8123 closed

[2019-04-16 21:33] KevinTCoughlin opened #8740 "List: Window as scrollable container causes reflow due to cache miss"
### Environment Information

- __Package version(s)__: Since https://github.com/OfficeDev/office-ui-fabric-react/pull/1866/
- __Browser and OS versions__: All

### Please provide a reproduction of the bug in a codepen:

Local dev example at http://localhost:4322/#/tests/detailslistbasicexample

#### Actual behavior:

When the scrollable element is the `Window`, the List's `measurePage` cache misse

[2019-04-17 00:42] jdhuntington opened #8743 "Fix deprecated lifecycle methods"
- [ ] apps/fabric-website/src/components/App/App.tsx
- [ ] date-time/src/components/Calendar/Calendar.base.tsx
- [ ] date-time/src/components/Calendar/CalendarDay/CalendarDay.base.tsx
- [ ] experiments/src/components/Chiclet/Chiclet.base.tsx
- [ ] experiments/src/components/Shimmer/Shimmer.base.tsx
- [ ] experiments/src/components/Tile/Tile.tsx
- [ ] experiments/src/components/TilesList/TilesList.

[2019-04-17 01:44] Vitalius1 commented on #8702
@swese44, you might wanna try and see if the `Separator` [component](https://developer.microsoft.com/en-us/fabric#/components/separator) can replace the `VerticalDivider` for your use case. It uses the proper theme color and it offers you more features if needed 😄

[2019-04-17 01:45] sachin9996 opened #8745 "Dropdown renders a scrollbar in high contrast mode"
### Bug Report

- __Package version(s)__: office-ui-fabric-react 6.124.2
- __Browser and OS versions__: Windows 10/Edge 44.17763.1.0

Are you willing to submit a PR to fix? No

Requested priority: Low

Products/sites affected: Power Query Online

#### Describe the issue:

In high contrast mode, the Dropdown component renders an unnecessary scrollbar when navigating to the last element via keyboard

[2019-04-17 02:00] #8649 closed

[2019-04-17 03:03] KevinTCoughlin commented on #8740
The larger problem here is that `findScrollableParent`'s return type is not correct. It can return `Window | HTMLElement | null`, but is currently being cast:

https://github.com/OfficeDev/office-ui-fabric-react/blob/970839834096da3b74aa676a4462cce7c798adbb/packages/utilities/src/scroll.ts#L184

[2019-04-17 04:45] octogonz commented on #8622
Does anyone have some simple steps for reproing this warning?

[2019-04-17 04:48] rocketraman commented on #8703
@joschect  Reopening, as I can reproduce. When you tried your repro, were you typing into the search box and hitting enter to search and were you running against a real host instead of localhost?

I have attached a repro project you can run with `npm start`. Note that it doesn't block popups when running against `localhost:3000`, so you need to map that to a real host name. A fast way to do that i

[2019-04-17 04:59] KevinTCoughlin commented on #8622
@ecraig12345, have we tried invoking `common/scripts/install-run-rush.js` with Node's [--trace-warnings](https://nodejs.org/api/cli.html#cli_trace_warnings)?

[2019-04-17 05:06] adidwania opened #8746 "Accessibility issue with DatePicker"
When there is more than one DatePicker (i.e. - From and To) used in a ContextualMenu, then after choosing a date from one date picker (use keyboard) and then press 'tab', it should go to the second date picker But it closes the dropdown and control goes to the top of the page.

You can repro it here:
https://codesandbox.io/s/k2yv5rq93o

![image](https://user-images.githubusercontent.com/5864305/56

[2019-04-17 06:47] KevinTCoughlin commented on #8703
@rocketraman, in the Codepen above, the code is using `window.open` which causes a location change on the host frame (browser tab) that IE11 blocks. Is that correct?

If so, that code invoking `window.open` is in the application layer not the UI library. I'm unsure how we can resolve this.

[2019-04-17 09:04] ThreadPitt commented on #7636
Yes, that is something that makes it quite hard for us devs to work with it, e.g. I'd expect to be an "errorMessage" on all components, etc. Especially, if you use something like yup to roll your validation logic and you have no consistent way to set an error message across all controls.

**Nonetheless, keep up to good work, guys!**

[2019-04-17 13:26] rocketraman commented on #8703
@KevinTCoughlin yes, that's right. It is possible this is a bug in IE and not in Fabric. The way a browser pop-up blocker is supposed to work is that it is supposed to allow the action if it is in direct response to a user action. And in fact, in Chrome that is exactly the way it works. Clicking either the button, or tapping Enter, are both user actions, and thus Chrome allows the window to open w

[2019-04-17 14:33] speray opened #8747 "Selection count is undefined by default"
### Environment Information

- __Package version(s)__: 6.167.1

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/BEYmwE

#### Actual behavior:

[code]

#### Expected behavior:

count is 0.
If this is expected, typescript definition should report count as number | undefined.

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Reque

[2019-04-17 16:38] rihorn2 opened #8748 "dropdown callout scrolls randomly on mouse enter"
### Environment Information

- __Package version(s)__: 6.162.1
- __Browser and OS versions__: Chrome

### Please provide a reproduction of the bug in a codepen:

repro: https://codepen.io/anon/pen/PgQeXG?&editable=true

#### Actual behavior:

scrolling in the dropdown callout works, however moving the mouse within the callout, or inside and outside the callout leads to the view being scrolled in r

[2019-04-17 17:00] #8592 closed

[2019-04-17 17:14] micahgodbolt commented on #8745
It appears to only happen when focusing on the last item, which means it's probably the additional border/outline that is pushing the child to be larger than the parent, causing scrollbars.

[2019-04-17 17:20] micahgodbolt commented on #8745
Adding overflow: hidden to the ms-Callout-main appears to resolve this.

[2019-04-17 17:20] micahgodbolt commented on #8746
@lorejoh12 is this something you can take a look at? Curious if you have similar UI's in calendar.

[2019-04-17 17:22] ArrayKnight commented on #8339
This seems related to:
https://github.com/OfficeDev/office-ui-fabric-react/issues/8470

Would it be sufficient to simply not close the panel on blur if the isLightDismiss equals false?

[2019-04-17 17:26] ArrayKnight commented on #8470
This seems related to: https://github.com/OfficeDev/office-ui-fabric-react/issues/8339

Would it be sufficient to simply not close the panel on blur if the isLightDismiss equals false?

[code]

[2019-04-17 17:26] micahgodbolt commented on #8747
This is the interface the OP is refering to:

https://github.com/OfficeDev/office-ui-fabric-react/blob/e4e90ac74e1eb66844765437438bfb7cfa0df03c/packages/office-ui-fabric-react/src/utilities/selection/interfaces.ts#L14

Selection implements ISelection. So we either need to change this to number | undefined, or have some starting value for count.

![image](https://user-images.githubusercontent.com/1

[2019-04-17 17:31] ArrayKnight commented on #8470
Also, is it possible to up the priority of this issue, please? This is creating a blocking bug for my MS project.

[2019-04-17 18:08] ecraig12345 commented on #8747
This seems like a bug--I see no reason count shouldn't be initialized to 0. My only question (since I'm not familiar with Selection) is whether there's any case where items can be initially selected when the Selection is created, and therefore count should be > 0.

[2019-04-17 18:37] micahgodbolt commented on #8746
Chatted with @ecraig12345 quick and she reminded me that this is not really a contextual menu (used for selecting items from a dropdown). This should simply be a callout, which doesn't have the same functionality.

I understand the reason for using contextual menu might be because it's what buttons give you out of the box. I've updated the sandbox to use the 'menuAs' prop to render a custom callou

[2019-04-17 18:39] ecraig12345 commented on #8748
Thanks for reporting this! Clarifying the repro steps a bit:
1. Open the dropdown
2. Scroll down in the dropdown menu
3. Move the mouse around within the dropdown menu

Expected: Menu either doesn't scroll, or only scrolls when the mouse reaches the very top/bottom

Actual: Menu jumps up and down a lot

Seems like mainly an issue with Dropdown and/or ContextualMenu's mouse move handling: I'm guess

[2019-04-17 19:05] KevinTCoughlin commented on #8747
It seems like Selection initializes the selected items array as an empty array:

https://github.com/OfficeDev/office-ui-fabric-react/blob/e4e90ac74e1eb66844765437438bfb7cfa0df03c/packages/office-ui-fabric-react/src/utilities/selection/Selection.ts#L55

So zero _should be_ a safe value to initialize as. cc: @ThomasMichon

[2019-04-17 19:43] rihorn2 commented on #8748
Thank you for replying! The jumping was how I first noticed it in my application, which does not have any duplicate keys. So the jumping does still occur with unique keys, I just threw together a codepen quickly but the behavior exactly mirrors what I see in a real application. As a workaround, I've just styled the ComboBox to act like a dropdown.

[2019-04-17 19:47] edglas1 opened #8749 "Better screen reader support in DetailsList"
Environment Information
OS: Windows 10
Version: 1809(OS Build 18298.1000)
Browser: Google Chrome Version 73.0.3683.103 (Official Build) (64-bit)
Screen Reader: Narrator

Reproduction of the bug:

### User Experience:
As the screen reader reads through a row in the DetailsList, header information nor row number is not read out, so the customer cannot differentiate what data is in which column. In E

[2019-04-17 19:54] leddie24 commented on #8620
@mathisGilliot, thanks for submitting this issue.  After some investigation, it looks like this is an issue with FocusZone and ScrollablePane not being able to scroll the content container further than it should.  @kkjeer, this will probably take some digging into with FocusZone and/or ScrollablePane to solve; not sure if I have the bandwidth at the moment, should we put this on backlog review in

[2019-04-17 20:00] #8675 closed

[2019-04-17 20:00] #8673 closed

[2019-04-17 20:00] #8670 closed

[2019-04-17 20:13] kkjeer commented on #8620
@leddie24 thanks for investigating! I can add this to backlog review (@micahgodbolt fyi).

[2019-04-17 20:36] ruoxi-lyu opened #8750 "People picker accessibility regression: aria-valid-attr-value: ARIA attributes must conform to valid values"
## Codepen demonstrating the issue
https://developer.microsoft.com/en-us/fabric#/components/peoplepicker
## Actual behavior:
Kero scan reveals aria-valid-attr-value issue. We found this issue after upgrade the office-ui-fabric-react package to 6.165.0.

## Expected behavior:
There should not be any accessibility issues from the people picker control
## Documentation describing expected behavior
Sc

[2019-04-17 20:42] ecraig12345 commented on #8750
This is actually just an issue with the documentation site, not the PeoplePicker control itself. But it's still something we should fix.

[2019-04-17 20:44] KevinTCoughlin commented on #8648
@maalwa, SPFx team has had _some_ success updating Webpack to `>= 3.12.x` when using `office-ui-fabric-react@6`. It might be worth a try on your end to see if it unblocks you. In parallel they are exploring updating the SPFx tooling to mitigate this.

I have not yet looked at Webpack's changelog to see if there was a memory issue resolved in that release.

[2019-04-17 20:45] ruoxi-lyu commented on #8750
Looks like this was the pr that broke the behavior: #Pickers: conditionally render the list of selected items. (#8516)

@ecraig12345  I think the problem is more universal than just the documentation site. There was no accessibility issue in the people picker component we used before we upgraded the office-ui-fabric-react package to 6.165.0. Please drive the fix accordingly.

[2019-04-17 21:16] joschect commented on #8748
@rihorn2 and @ecraig12345 this is pretty weird, it looks like this is caused because of the mouseenter event, it calls element.focus(), but the odd thing is that it doesn't look like it's been touched in quite a while. I'll keep looking.

[2019-04-17 21:21] ecraig12345 commented on #8750
That PR just happened to be released shortly before #8610, which is the one that actually introduced this issue--it repros on all component pages, not just PeoplePicker. And the issue is definitely scoped to the documentation site, because the IDs and markup referenced in the error are from a component hierarchy that only exists in the doc site.

As I mentioned earlier, even though the issue is sc

[2019-04-17 21:23] ecraig12345 commented on #8748
Minor update, turns out I was wrong about Dropdown using ContextualMenu. But Jon is still investigating.

[2019-04-17 21:41] ruoxi-lyu commented on #8750
@ecraig12345  the first 4 in the screenshots are indeed as you said, specific to the documentation page. However, we are seeing the 5th issue on our end, powerBI sharing workspace page, and the documentation page.
![image](https://user-images.githubusercontent.com/44412540/56322811-df03eb80-611e-11e9-8f4e-aa29117ec065.png)

Please investigate further.

[2019-04-17 22:32] joschect commented on #8750
@ruoxi-lyu Hey! Thanks for submitting this. To help us get a better idea about exactly what broke could you paste the entire error rather than just a screenshot? It's pretty difficult to tell what the exact error is. Thanks for your help!

[2019-04-17 22:52] ruoxi-lyu commented on #8750
@joschect Let me list down the detailed repro step:

1. install [accessibility insight extension](https://chrome.google.com/webstore/detail/accessibility-insights-fo/pbjjkligggfmakdaogkfomddhfmpjeni?hl=en) on chrome
2. Go to Office ui fabric react component [People Picker page](https://developer.microsoft.com/en-us/fabric#/components/peoplepicker), and run "fast pass" mode with the accessibility i