[2016-07-21 22:56] mike-morrison opened #1 "How to use a primary button with an icon?"
If I am reading the documentation right, I can only add an icon to hero or command buttons.  So this is likely by design.  Is there a way I can have the ButtonType.primary button look and have an icon?

I tried this:

[code]

[2016-07-22 00:46] dzearing commented on #1
Thanks for reporting.

So my 2c here is that we should really not have an Icon button, but instead just make the icon work with any button style. I think that's what you were expecting. We can fix that. We are going to go through a gutting of the Fabric component css, and in that process can re-evaluate the styling that's causing problems (I tried your scenario, and the icon is being hidden somewh

[2016-07-22 15:21] mike-morrison commented on #1
@dzearing Thank you for the rapid response. Yes, that is what I was expecting at first glance, that I could just add an icon to any button.  Would definitely like to see it work that way.

Thanks for providing the sample.  That works great!

[2016-07-23 15:54] mike-morrison opened #4 "Multiple warnings with React/React-Dom 15.2.1"
There appears to be issues when trying to use the library with 15.2.1.  I was getting a bunch of warnings in my app that were not appearing in the demo (gulp serve) app.  I bumped up the version of react and react-dom the demo is downloading from the CDN from 0.14.7 to 15.2.1 and the demo app started throwing the same warnings.

![image](https://cloud.githubusercontent.com/assets/6625993/17078768/

[2016-07-23 16:10] mike-morrison commented on #4
Also a big :-1: on React showing me warnings in red.  I was having an issue and thought these were errors, so I started troubleshooting.  My eyes skipped the word Warning and went right for the error message.  So really my fault for not reading, but I am hard-coded to make red go away as soon as I see it.

Turned out I had my TextField trying to use the onchange event instead of onchanged.  Onchan

[2016-07-27 00:09] jakeaaronson opened #15 "ChoiceGroup: Add a way to provide icons (or other content) to render for individual items."
The  ChoiceGroup has an optional  imageSrc string parameter. How can I give it a Icon like the one below.
`<i className='ms-Icon ms-Icon-star' />
`
let me know if the question is not clear.

[2016-07-27 23:14] jakeaaronson opened #20 "question about datepicker"
regarding the date-picker
I can pragmatically change the value of the date picker by changing the value prop. Intuitively I would think I could set it to blank by giving it a null date. However this does not seem to make it blank. Is there a way to pragmatically reset the date-picker and make it blank.

[2016-07-28 16:13] dzearing commented on #4
Thanks for the heads up. We will keep this open to track. Right now we have been testing against 0.14.7 because we initially saw some performance concerns with 15.0.1. We will re-evaluate and address the warnings.

[2016-07-28 16:44] mikewheaton opened #23 "Remove z-indexes from components"
Many of the components have `z-index` values baked in, which might work relative to other Fabric components but are often wrong for fitting into an existing app. I haven't dug into the Layer component but I understand it is an alternative to this. If not, we should at least provide an interface to every `z-index` so that developers can stack the components however their app requires.

[2016-07-28 16:47] mikewheaton commented on #15
The `imageSrc` parameter is to specify a URL with an image to display, and doesn't support an icon element right now. It looks like the image area is always 50x50, so an icon option could be added. I'll mark this as a feature request that we can look into supporting.

[2016-07-28 17:50] dzearing commented on #23
thanks for adding this!

[2016-08-02 00:52] cliffkoh opened #44 "Fabric Button is adding unsupported props to HTMLButton element"
![image](https://cloud.githubusercontent.com/assets/1003246/17313452/8d5b4086-5810-11e6-92ee-24f28cc9462a.png)

See screenshot.

[2016-08-02 19:31] mike-morrison opened #47 "Text is required on Checkbox"
The text field should be optional.  If I get some time, I will submit a PR, but customers are keeping me busy.

I am doing ````<Checkbox text="" />```` as workaround.

[2016-08-02 19:51] mikewheaton commented on #47
Can you provide a screenshot to show where you're using a checkbox without a label?

[2016-08-02 20:45] cliffkoh commented on #44
Fixed with #46

[2016-08-02 22:29] mike-morrison commented on #47
![image](https://cloud.githubusercontent.com/assets/6625993/17347472/b8e67264-58d5-11e6-868d-eb18d3c08d3d.png)

Like that with better alignment..

[2016-08-02 22:55] cschlechty commented on #47
Rather than having no text, should we allow passing a label equivalent
instead so we can assure these controls are associated correctly?

On Tue, Aug 2, 2016 at 3:29 PM, Mike Morrison <notifications@github.com>
wrote:

[2016-08-02 22:59] mikewheaton commented on #47
@cschlechty: That's my concern as well. If no label is provided, how do we make sure that whatever control is used (in this case, a text field) is associated correctly with the input?

What we're seeing for "Print images" is the ability to edit the text of a task? Or create a new one? It's not clear how to get into that state or commit the change.

[2016-08-02 23:09] mike-morrison commented on #47
It is trying to mimic the [todomvc](http://todomvc.com) examples.  With this, double clicking a checkbox label, should change the label into a edit box with the current value.  Hitting enter should commit the change.  I just noticed there is a todo example in the source of this project, so I am going to check that out.

[2016-08-03 01:18] luhu commented on #20
This should be an issue. The PR to fix it is here and needed approval: https://github.com/OfficeDev/office-ui-fabric-react/pull/35

[2016-08-03 19:17] kmees opened #54 "Input component issues"
There are some issues with the input components which make them awkward to use in my opinion, especially when used in combination with form libraries like `redux-form` or `react-forms`.

In my opinion, the components should be as dump as possible and the api/functionality of the input controls should a superset of the native`<input />`, `<textarea />` and `<select />` controls.
### Checkbox
- Comp

[2016-08-03 19:34] atneik opened #55 "Dropdown: List appears on top right corner for width < 480px"
Repro steps:

1. Reduce width of screen < 480px
2. Open a dropdown
3. Dropdown list appears in top right corner

<img width="480" alt="screen shot 2016-08-03 at 12 22 22 pm" src="https://cloud.githubusercontent.com/assets/785361/17379047/64544816-5975-11e6-92cb-8b61addc570f.png">

[2016-08-03 19:37] atneik opened #56 "ContexualMenu: Appears in top left corner upon keyboarding"
Repro steps:
1. Keyboard to a interaction that brings up ContexualMenu
2. Hit Space/Enter
3. ContexualMenu appears in top left corner

<img width="1051" alt="screen shot 2016-08-03 at 12 23 05 pm" src="https://cloud.githubusercontent.com/assets/785361/17379322/b7e17142-5976-11e6-8850-b02f5f00f831.png">

[2016-08-03 20:27] mikewheaton opened #57 "Button: Hero variant should be removed"
The hero button is no longer part of the design language, and should be removed.

[2016-08-03 20:34] mikewheaton opened #58 "Button: Disabled icon button colors are wrong"
Here is the current disabled state of the icon-only button:

![image](https://cloud.githubusercontent.com/assets/1382445/17381020/ce974454-597e-11e6-8876-25efd1d8ddd3.png)

It should instead use neutralTeriaryAlt (#C8C8C8) for the icon color, and have no background color. There should also be no change to the button's background color when hovering over a disabled button.

[2016-08-03 22:08] dubunin commented on #58
Pretty sure I already fixed this. https://github.com/OfficeDev/office-ui-fabric-react/pull/13

[2016-08-04 00:00] dzearing commented on #54
Thanks for the feedback, it's helpful to get another pair of eyes on this. I agree with pretty much all of your feedback. A couple of things here:

Regarding "as dumb as possible" 100% yes. We are learning this with many of the controls to extract out dumber sub components; there are a lot of changes coming to reduce/refactor some of these to make cleaner implementations. In some cases we can get

[2016-08-04 02:21] atneik opened #64 "ContexualMenu, Callout Example: Direction issue during RTL"
ContexualMenu doesn't change it's direction when in RTL

**Left to Right, Right Center**
Excepted: Right Center
<img width="932" alt="screen shot 2016-08-03 at 7 13 43 pm" src="https://cloud.githubusercontent.com/assets/785361/17388113/a993b180-59ae-11e6-8fc5-b506fe91f04b.png">

**Right to Left, Right Center**
Expected: Left Center, but it's Right Center
<img width="752" alt="screen shot 2016-08-0

[2016-08-04 02:22] atneik commented on #55
This issue is not reproducing in MDL2 fixes

[2016-08-04 10:21] kmees commented on #54
Thanks for the response. Good to hear that you are dropping the naming/coding conventions in favour of HTML conventions 👍.

Regarding the components, you can have look at my components (https://github.com/react-fabric/react-fabric/tree/development/src), they're all completely dump and rely only on props (expect SearchBox because the css needs a hover state). I'm also thinking about deprecating the

[2016-08-04 21:12] atneik opened #67 "Callout: Out Of the Box Experience (OOBE), Close button, Peek"
- This Callout could be used to draw attention to one aspect of the application during a product tour.

<img width="268" alt="screen shot 2016-08-04 at 2 05 34 pm" src="https://cloud.githubusercontent.com/assets/785361/17418364/0d575624-5a4d-11e6-8710-78b23bcbdea1.png">

- Peek: A small callout for action
- Close button to bring parity

[2016-08-04 22:07] ThomasMichon opened #68 "Add 'virtual' parent property to DOM elements for use with layering"
The `<Layer>` component is useful for ensuring that child content displays 'over top' of all other content. However, since the layer DOM is rendered elsewhere on the page, it plays havoc with normal eventing behaviors which are useful for tracking focus and handling dismissal of popups via 'outside' clicks.

Ideally, one should be able to define a `<ChildFocus>` component which detects whether chi

[2016-08-04 22:12] ThomasMichon opened #69 "Provide a way to override the default layer host for integration with other frameworks"
Presently, `<Layer>` relies on a default, static implementation of a `<LayerHost>` in order to render layers. This ensures that all layers are rendered in a `<div>` at the end of the DOM.

However, the frameworks in host applications may already provide a layering mechanic. In which case, `office-ui-fabric-react`'s layering mechanic will interfere because it cannot interleave layers with the ones

[2016-08-04 22:29] ThomasMichon opened #70 "Define some baseline encapsulation for value update callbacks"
Many components in `fabric-react` consume `props` which have initial values as well as callbacks for when those values change. However, since these are all passed separately the relationships are not always crystal clear.

For example:

[code]

I propose that we adopt a loose concept for subscribable values, such as `IValueHandler<T>`:

[code]

Then, `props` nicely clean up to this:

[code]

One c

[2016-08-04 22:38] ThomasMichon opened #71 "ContextualMenu: Factor out a Menu component"
The `<ContextualMenu>` class has more responsibilities than it should. In addition to taking a command list and rendering a callout, it also handles the interaction with the command list and rendering of menu items.

Ideally, `<ContextualMenu>` should just be a compositional component that wraps a `<Callout>` around a `<Menu>` component. The `<Menu>` component would render a veritically-navigable

[2016-08-04 22:44] aygarg opened #72 "Context Menu - Need to override the z-index value"
Currently ContextMenu control does not provide a way to override the z-index of the main div inside of the context menu control causing it to be overlapped by other components in our application. Please provide a way similar to what we did for the dialog. (Refer Pull Request #16 )
![contextmenu](https://cloud.githubusercontent.com/assets/16211561/17420853/5da584fe-5a5a-11e6-970a-fb6f41756677.png)

[2016-08-04 22:50] ThomasMichon opened #73 "Factor out a 'light-dismiss' wrapper component"
In general, layered components have a 'light-dismiss' mechanic by which user action outside the layer content should trigger a dismissal of the layer, either immediately or after a short period of time.

At present, each `fabric-react` component implements this mechanic independently, preventing standardization of this behavior as well as making it more difficult to handle issues such as 'virtual'

[2016-08-05 09:36] cvoijen opened #78 "CommandBar: arguments missing when calling the onClick callback"
The CommandBar components does not apply the clicked item and event as the arguments to the onClick callback. Currently the ``_onItemClick`` function is:
[code]
while it should be
[code]
to match the definition in ``IContextualMenuItem``
[code]

[2016-08-05 12:49] HeToC opened #79 "document is not defined"
Just created sample react+redux app using yo aspnetcore-spa  and added office-ui-fabric-react
And ive occured with a strange problem after adding a button from the sample
import { Button } from 'office-ui-fabric-react/lib/Button';
<Button>Office UI Fabric button</Button>

Exception: Call to Node module failed with error: ReferenceError: document is not defined
at registerStyles (C:\Projects\IMS\no

[2016-08-05 16:01] kmees opened #82 "Single vs double quotes for jsx attributes"
Is there a reason that jsx attributes use single quote marks? I haven't seen any other React library that does it that way (and it looks weird :)). Guess that is also a problem of coding conventions vs HTML conventions?

The [tslint rule](http://palantir.github.io/tslint/rules/quotemark/) supports different rules for jsx attributes and string literals.

[2016-08-05 16:16] dzearing commented on #82
We just care about being consistent. There are nits with rules and various people will have strong different opinions on.

Primarily we are trying to stay consistent in the code throughout: use single quotes, or back tick, unless absolutely required to use double quotes (json files). It's good to know there is a lint rule to special case it for JSX content.

There are a few rules we've stuck with.

[2016-08-05 16:21] dzearing commented on #79
Hmm... is this code running in Node? or in a browser?

[2016-08-05 16:24] dzearing commented on #78
Good catch! I've patched it.

https://github.com/OfficeDev/office-ui-fabric-react/pull/83

[2016-08-05 16:32] dzearing commented on #70
Say that I wanted to use a TextField. Is this what you're suggesting?

Before:

[code]

After:

[code]

[2016-08-05 17:13] ThomasMichon commented on #70
Yes.

From a data-flow perspective, there is no difference. But from an organization and comprehension perspective, it becomes clear that `onChange` is for that value only, not other properties.

[2016-08-06 01:26] atneik opened #86 "Dialog: Add animations"
Add animations to Dialog similar to that of Panel

[2016-08-06 01:29] atneik opened #87 "Dropdown: Should use a beakless Callout"
For rendering the list items a Dropdown should use a Callout component.

This will also fix the issue where it currently does not dismiss when clicked outside of the component.

[2016-08-06 22:16] dzearing commented on #78
This is now resolved.

[2016-08-06 22:16] #78 closed

[2016-08-07 12:03] kmees commented on #82
Fair enough, also as it doesn't leak into the public api it doesn't really matter. It's just that muscle memory is a bitch :D

[2016-08-07 12:03] #82 closed

[2016-08-08 09:32] HeToC commented on #79
Im using AspNetCore and Visual Studio 2015 to start the server on iisexpress i guess.

[2016-08-08 16:58] ThomasMichon commented on #72
We should really fix the issue where a `<Layer>` cannot be used inside of another `<Layer>`. That would be preferable to any `z-index` workarounds.

[2016-08-09 01:14] atneik opened #94 "CommandBar: Make it composition of Components"
Proposal to use SearchBox component in CommandBar instead of its own implementation.

[2016-08-09 02:35] dzearing commented on #94
+1. And also to split out a couple extra components:

CommandList - a collapsable list of command buttons
CommandButton - a button styled for a command bar with an optional dropdown

CommandBar should be a composite of:
* Searchbox
* CommandList for near commands
* CommandList for far commands

That's about it. It should be very little code.

[2016-08-10 01:21] atneik opened #110 "Toggle: High contrast mode issue"
On and Off states are not distinguishable in high contrast mode (black and white)

<img width="207" alt="screen shot 2016-08-09 at 2 29 46 pm" src="https://cloud.githubusercontent.com/assets/785361/17538818/d3e0eee0-5e5d-11e6-847f-e50ebd2b1e5a.png">

Should be as it is in Fabric-JS:

<img width="272" alt="screen shot 2016-08-10 at 11 09 07 am" src="https://cloud.githubusercontent.com/assets/785361

[2016-08-10 13:03] kmees commented on #70
The react 'standard' is `value`/`onChange` props. If you have multiple properties its either additional `color`/`onColorChange` props or `value` becomes complex type, i.e `{ color: '#ffffff', other: 1 }`.

Having the `onChange` handler defined on the `value` is really unintuitive and no other react component framework does it like that. The props should be consistent across all (input) components

[2016-08-10 15:20] dzearing commented on #70
This is my concern. It seems pretty non standard and id like to strive for ergonomics and predictability as much as possible.

[2016-08-10 22:55] #44 closed

[2016-08-11 01:47] dzearing commented on #4
All warnings from Button, Checkbox, and FocusZone have been addressed. We still have TextField left.

[2016-08-11 01:48] dzearing commented on #94
Recommend we split out a CommandList, but just remove Searchbox from command bar completely.

[2016-08-11 07:22] mtringuyen opened #125 "People picker component cannot search on IE 11"
- Go to the People picker component demo page
- Type any name on the control.
- Click on **Search contact & directory**
  => it doesn't show Searching indicator!

[2016-08-11 22:52] aygarg opened #127 "Need a way to control Dialog Visibility"
I am using the react fabric dialog control inside which we load an iframe to render a web page. I am setting isOpen to false as I want the dialog to be invisible. When an event occurs I want the dialog to be visible which will get hidden again when another event occurs.

The issue is that setting isOpen to false does not render the child components. I looked at the code of the control and it looks

[2016-08-11 23:48] kmees commented on #127
Wrapping the dialog in a div and hiding that does not work? Or moving it outside of screenspace?

[2016-08-12 00:03] cschlechty commented on #127
This really isn't a thing you would want to hack like this. What you're
after is a place to run code in the background, and occasionally show a
dialog, right? Dialogs by nature are modal, so trying to leave one up
permanently is going to cause more issues. You should look at creating a
new component instead.

On Thu, Aug 11, 2016 at 4:48 PM, Kevin Mees <notifications@github.com>
wrote:

[2016-08-12 00:28] dzearing commented on #127
Can you just conditionalize rendering?
[code]

[2016-08-15 17:49] atneik commented on #110
Fixed: PR #131

[2016-08-15 17:49] #110 closed

[2016-08-16 00:45] aygarg commented on #127
@dzearing and @kmees - I already tried doing what you suggested but it causes a re-render of the child component.

Out requirement is to render the child component even when the dialog is hidden. I tried hacking this around by copying the full dialog code and changing the following things in it:
1. making isOpen just change the visibility of the div and nothing else:
[code]
2. In the parent Div I

[2016-08-16 18:04] dzearing opened #143 "TextField needs to be simplified and refactored."
It's way too complex for a simple TextField. We need to factor out a simple textfield and clean this up.

Right now it has added all of this async validation logic, which delays the change events unnecessarily by default, and when you set delays to 0 it stops firing change events. This is all totally unnecessary. It needs to be slimmed down and a new component for validation should be layered on t

[2016-08-17 04:18] mikewheaton opened #146 "DetailsList: Include documentation of SelectionMode options"
The documentation for DetailsList doesn't include the values for SelectionMode.

[2016-08-17 04:23] mikewheaton opened #147 "DetailsList: Rows are selectable when using SelectionMode.none"
When a DetailsList is given `SelectionMode.none`, should it still render FocusZones around the rows? I'm attempting to use it for a simple, non-interactive table and the rows have a focus state:

![image](https://cloud.githubusercontent.com/assets/1382445/17724519/9834d2cc-63f7-11e6-877e-5f357bbd4563.png)

[2016-08-17 04:35] mikewheaton commented on #125
I think the design for this component is changing, so that it no longer has a spinning indicator. Let's check with the designers on this before fixing it.

![image](https://cloud.githubusercontent.com/assets/1382445/17724704/36cb6436-63f9-11e6-83bd-6b09e87289eb.png)

[2016-08-17 21:16] dzearing commented on #147
Yes it should have focus rectangles (we don't remove the keyboarding accessibility when selection mode is none.) And you should wrap in ms-Fabric to make them look better. :)

[2016-08-17 21:20] #147 closed

[2016-08-22 12:40] kmees commented on #143
@dzearing i can do a proposal if no one started working on this yet

[2016-08-22 16:51] dzearing commented on #143
@kmees Sounds good!

Here are my notes on it:

First I wonder if we should really split out some root base atomic components with no fluff. InputText and TextArea maybe? They don't have a label or anything fancy; we may have InputType enum so that we can render the different variations.

For these atomic components, maybe THESE should be the ones that get the props mixed in, like you were advocati

[2016-08-23 08:28] kmees commented on #143
What benefit does an InputText or TextArea component have over `<input />` if there is no fluff? Some styles 'require' a label (i.e. underline) and I can't think of much other stuff to put into those atomic components.

I'll just tinker around a bit end of week and do a PR with a proposal.

Also, what was the verdict on the rootProps discussion? I was on holiday and didn't really follow it.

[2016-08-23 23:18] atneik opened #189 "ContextualMenu: Custom ClassName not being applied"
In ContextualMenu customization example the class Charm-list is not being applied to the item's ContextualMenu.

Repro steps:
1. Go to ContextualMenu customization example
2. Click on button to get the parent ContextualMenu, and then on Charm.
3. Notice charms not is center aligned, as `.Charm-List` is not applied to charm item's context menu.

<img width="582" alt="screen shot 2016-08-23 at 4 11

[2016-08-24 14:52] cvoijen opened #194 "Panel: animation not triggered when setting isOpen property to false"
When setting the `isOpen` property to `false` the animation is not triggered because the actual panel will not be rendered anymore.

This piece of code in `componentWillReceiveProps`

[code]

should read

[code]

which prevents the panel from closing immediately and triggers the closing animation instead. The `_onAnimationEnd` handler will take care of setting `isOpen` to `false`.

[2016-08-30 00:54] dzearing opened #213 "Spinner: the layout space consumed is really weird."
![image](https://cloud.githubusercontent.com/assets/1110944/18072264/98272392-6e11-11e6-8ae0-807bbd42a376.png)

The red area is the layout space consumed. It doesn't actually flow around the content with the text, causing alignment issues if you try to center it.

[2016-08-30 18:38] dzearing opened #220 "GroupedList: onRenderHeader props type should be IGroupedHeaderProps"
For some reason the onRenderHeader callback in groupedList takes in IGroup, rather than the component props.

This prevents partners from implementing their own headers that have a select group button.

[2016-08-31 22:02] dzearing opened #228 "Dropdown: Enable a way to have icons for items"
Dropdown can't render icons with items. We had an ask to support this.

At a bare minimum we should enable the component to allow custom item renderers to be provided.

[2016-08-31 22:47] abettadapur opened #229 "DatePicker: Using a datepicker in a panel causes unexpected dismissal behavior"
The DatePicker does not dismiss properly when used in a Panel (and possibly other layer host components)
1. User clicks datepicker field, datepicker opens
2. User selects date, onSelected is successfully called
3. User clicks anywhere in the layer host, onSelected is called again with a null value
4. Date in datepicker field is reset to today

[2016-09-01 23:47] abettadapur opened #235 "Updating to React 15 causes errors when using TextFields"
ERROR: 'Warning: TextField contains an input of type text with both value and defaultValue props. Input elements must be either controlled or uncontrolled (specify either the value prop, or the defaultValue prop, but not both). Decide between using a controlled or uncontrolled input element and remove one of these props. More info: https://fb.me/react-controlled-components'

[2016-09-02 00:32] dzearing commented on #229
Merged! thanks!

[2016-09-02 00:32] #229 closed

[2016-09-02 00:33] dzearing commented on #235
Duplicate of https://github.com/OfficeDev/office-ui-fabric-react/issues/4

[2016-09-02 00:33] #235 closed

[2016-09-06 21:22] abettadapur opened #252 "DatePicker: Accept default props to be mixed into the primary element (for tabindex support as an example)"
Cannot set tabindex on DatePicker, meaning that its use in forms becomes difficult. DatePickerProps should extend from HTMLProps

[2016-09-06 22:35] mikewheaton opened #254 "Create standalone fabric-react package to be used in a codepen."
Could we provide a build of Fabric React that can be used directly in a simple app, without any NPM dependencies, build process, etc? I'm anticipating that we'll get questions like this from developers who are working on simple add-ins and want to just drop a reference in and start using it.

[2016-09-07 22:33] dzearing opened #260 "withViewport: if content is initialized hidden, it is never rendered when shown."
If you render the DetailsList in a hidden DIV, and then do something that causes the DIV to become visible, the withViewport decorator is never made aware of the change, so it doesn't re-render.

Consider a solution like:

https://www.npmjs.com/package/element-resize-event

[2016-09-07 22:35] dzearing commented on #254
I think this is just bundling work. It wouldn't be difficult to export all the stuff in a global namespace so that we can just load from cdn in a codepen.

[2016-09-08 15:32] kmees commented on #254
The [webpack.lib.config](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/webpack.lib.config.js) is already configured for library output but it doesn't work (`ReactFabric` isn't globally available for whatever). The externals declaration is also kinda weird (declaring itself as an external dependency?)

Anyway, [this is the config](https://github.com/react-fabric/react-fabric/blob/

[2016-09-08 18:29] aygarg commented on #127
@dzearing @kmees @cschlechty Ping! We really need this to work as we plan to ship in few weeks. Please look into this on an urgent basis.

[2016-09-09 15:08] vvolodin opened #267 "Support input type="number""
Are there any plans to add support for `<input type="number"/>?`

[2016-09-09 21:15] dzearing opened #269 "Icon-only Button has misaligned padding."
...because it uses padding-right when it should use symmetrical padding.

Please fix. There are a variety of scenarios we have with icon only buttons. We should be using <Button icon='foo' /> and it should look correct.

[2016-09-12 20:35] junchen1 opened #271 "Button: Give the CSS passed in className higher priority"
<Button
                         buttonType={ButtonType.icon}
                         onClick={this.onClickAttachmentButton}
                         icon='attachment'
                         className={classNames(['ms-icon-font-size-22', 'ms-bg-color-neutralLight-hover', 'ms-font-color-white'])}/>

Currently all the three ms symbols are ignored due the conflicting css from ms-Icon\ms-button-Ico

[2016-09-12 21:32] mikewheaton commented on #271
The order of classes within the attribute is irrelevant: `<button class="button big">` is identical to `<button class="big button">`.

The issue here is that the `className` prop adds a class name onto the root element of the button. It generates output something like:

[code]

I believe what you're attempting to do is set the font size with a custom class like this:

[code]

The problem is that t

[2016-09-13 19:32] mikewheaton opened #276 "SearchBox: Clearing the field should fire onChanged event"
When clearing the SearchBox using the X button, the `onChanged` event should be called so that the app can respond to the change in text.

[2016-09-14 19:40] dzearing commented on #276
onChange should not be past tense as well..

onChange(...)

[2016-09-15 20:46] rickyp-ms opened #283 "Large dialogs do not scroll"
In our application we have several very large dialogs of which on small windows would require scroll bars (vertical mainly as we try to have the contents variable up to 250px).

Seems the current instance of the dialog as of ^0.47.0 doesn't support scrolling dialogs.

![dialognotscrolling2](https://cloud.githubusercontent.com/assets/22225666/18566907/b24c4a86-7b4a-11e6-899a-0e5ac13f790a.png)

[2016-09-15 20:46] rickyp-ms commented on #283
Note this is in all current browsers

[2016-09-15 20:51] rickyp-ms opened #284 "Large dialog starts in the middle of the page"
IE 11 bug only (all other browsers fail much more gracefully it seems)

With a large dialog that would usually require a scroll bar, it seems that due to IE 11's poor implementation of flex-box the dialog is always centered in the middle which means the top and bottom of the dialog get cut off.

This is in ^47.0.0

![dialogstartsinmiddle](https://cloud.githubusercontent.com/assets/22225666/1856707

[2016-09-15 20:53] rickyp-ms commented on #284
Looks like the fix is to possibly remove the following css values:
.ms-Dialog {
   display: flex;
   align-items: center;
}

and replace it with this:
.ms-Dialog {
   display: block;
}

All other values in that css style should stay the same.

[2016-09-15 20:57] rickyp-ms commented on #228
Our application would greatly appreciate this functionality! Adding this comment here so I get notifications about this issue.

[2016-09-15 21:51] rickyp-ms opened #285 "Remove Textfield's min-width of 180px and/or make the min-width a public variable"
Looks like the css class ms-TextField-field has a min-width of 180px. This is slightly annoying for those of us who have slim controls who may need a much smaller space (e.g. a numerical input box which only goes up to 99).

The other issue is to make the min-width value public. In my code I have 4 fields, some dropdowns and some text inputs. I want them all to be the exact size so I used flexbox.

[2016-09-15 22:58] rickyp-ms opened #286 "Datepicker not resizing when isMonthPickerVisible = false"
It seems that when isMonthPickerVisible = false it doesn't render very well. This is a screenshot from IE 11 and ^47.0.0.

It would be great if it only took up the smallest amount of space it needs to and didn't have the white space to the right.

![datepicker size issue](https://cloud.githubusercontent.com/assets/22225666/18570239/1ffb74a0-7b5d-11e6-9ec6-f2ce06d53bec.png)

[2016-09-18 16:30] dzearing commented on #220
I've been working on this change list and it's rather involved. The props for GroupedList evolved before we could scrub it deeply and I've discovered a bunch of issues.

First, the contracts are very unclear. We need to make this straightforward.

Second, state management is mutating the values passed in.

Third, nesting subgroups means you can mix items and groups; a group can only have either it

[2016-09-18 17:46] mikewheaton opened #294 "Link should inherit the font-size of its parent"
The link is smaller than the surrounding text, when it should be the same size:

![image](https://cloud.githubusercontent.com/assets/1382445/18617782/04db119e-7d8d-11e6-8e6c-62f1a91ea900.png)

[2016-09-18 20:07] dzearing commented on #294
Ha! I ran into this this morning as well. I added this to Link.scss in my changelist. Feel free to submit a smaller PR for just this.

[code]

[2016-09-21 02:03] luisrudge opened #310 "publish current docs somewhere"
it'd be nice to have this published to gh-pages or something like that.

BTW, this is awesome! Thanks! ❤️

[2016-09-22 16:27] ericthompson commented on #310
An all-new [Fabric site](http://dev.office.com/fabric) is coming very, very soon which will have tons of great info 😄

Glad to hear the project is helpful - please file issues/contribute as you work with it!

[2016-09-22 22:31] #276 closed

[2016-09-23 00:39] dzearing commented on #310
@luisrudge

Check out http://dev.office.com/fabric

Looks like it's live. :)

[2016-09-23 00:39] #310 closed

[2016-09-23 00:41] luisrudge commented on #310
Holy crap. That's awesome!

[2016-09-23 17:39] cliffkoh opened #321 "Regression: Unsupported tag leakage in Overlay in fabric-react"
[code]

[2016-09-24 18:22] mikewheaton commented on #87
This would also fix a related issue. In the screenshot below you can see the Dropdown inside of a container with `overflow: hidden` set. The Dropdown is cut off, because it's contents haven't been lifted out via the LayerHost that Callout and other components use.

![image](https://cloud.githubusercontent.com/assets/1382445/18810355/f2bea23a-8248-11e6-966d-9ca2410f603e.png)

[2016-09-24 18:26] mikewheaton opened #328 "MessageBar: Doesn't match design"
At a quick glance, it looks like the padding and button colors are off.

![image](https://cloud.githubusercontent.com/assets/1382445/18810396/ae5adf4a-8249-11e6-94a1-26af0e51d4d2.png)

[2016-09-24 20:55] PhantomPayne opened #331 "DatePicker: convert to use a Callout like Dropdown so that it has same positioning behavior"
The DatePicker doesn't popup when near the bottom of the screen.  I did some digging and it looks like if the DatePicker is near the bottom of the screen focusing it will scroll the popup into view, but the DatePicker dismisses on scroll so it looks like it's doing nothing.

Removing `this._events.on(window, 'scroll', this._dismissDatePickerPopup);` from `componentDidMount()` seemed to fix it for

[2016-09-24 22:57] mikewheaton opened #332 "Panel: Break types into separate props for simplicity and greater control"
Currently, there are 7 types of panel:
- small
- smallFixedFar
- smallFixedNear
- medium
- large
- largeFixed
- extraLarge

As you can see from the names, these mix sizes (small, medium, and large) with behaviors (fixed, fluid) and positions (near, far). It's more complex than necessary and prevents us from making additional panel types that should be valid. For example, a medium panel on the left

[2016-09-25 20:16] luisrudge opened #333 "Dropdown: Add type-ahead keyboard support"
Steps to reproduce:
- go to http://www.w3schools.com/tags/tryit.asp?filename=tryhtml_select
- click the `<select>` element
- type the first letter of an option ('s', for example)
- the `Saab` option will be selected
- go to http://dev.office.com/fabric#/components/dropdown
- click the first `Dropdown` component
- type the first letter of an option ('o', for example)
- nothing happens

[2016-09-26 22:11] justinmwarner opened #336 "Layers: Support a way to ensure some layered components go above other layered components."
If a Dialog is added to the LayerHost, and a Panel afterwards, the Panel will appear on top of the Dialog.

As discussed on Slack, a potential solution would be to have two LayerHosts, one for Popup/Callout/Panel/etc. and another specifically for ModalDialog

Potential problem(s):
If a Callout is rendered on a Dialog, the Callout should share the LayerHost as the Dialog.
A Callout rendered from a

[2016-09-27 05:52] aksingh commented on #67
It would be great to have this particular component for building product tours conforming to a common design language!

[2016-09-28 17:33] crossan007 opened #347 "Charting"
A single set of themed / styled charts (simliar to https://learn-powershell.net/2016/09/18/building-a-chart-using-powershell-and-chart-controls/) would be neat to have in the Office Fabric.

Maybe integration / sharing with the PowerBI team

[2016-09-28 19:19] Supaibo opened #349 "New Component: Pagination"
Hi all,

I would like to implement react fabric pagination component but actually we haven't. Could you implement this control ?

It would be great if we could have this option directly on the list component or just the HTML tag with CSS class in order to integrate in our custom component.

Thank you

[2016-09-28 19:49] rbtkoz opened #350 "SearchBox component not rendering properly"
[code]

<img width="790" alt="screen shot 2016-09-28 at 3 48 41 pm" src="https://cloud.githubusercontent.com/assets/1192312/18929584/17276ff6-8593-11e6-9ec8-625af71de6b9.png">

<img width="801" alt="screen shot 2016-09-28 at 3 48 48 pm" src="https://cloud.githubusercontent.com/assets/1192312/18929590/1d098d00-8593-11e6-9226-f80fef613bb9.png">

[2016-09-28 20:13] dzearing commented on #350
Does your html tag have a `dir="ltr"` attribute? I believe this may be because this is missing.

If you wrap your app content in the "Fabric" component, it will address this for you. It will also show/hide keyboard focus rect styling when the user interacts with the keyboard navigation keys.

[2016-09-28 20:18] dzearing opened #351 "The Fabric component should be well documented."
We should have documentation for the Fabric component which will:
- Ensure DIR attribute is populated
- Add ms-Fabric-isFocusVisible classname

We should make is super clear to the user that it is a requirement that they use the Fabric wrapper, or that at minimum they have DIR populated, because otherwise components will look broken when they first try it.

[code]

[2016-09-29 01:14] #286 closed

[2016-09-29 01:15] rickyp-ms commented on #286
Looks like this is not reproing on the current master

[2016-09-29 02:01] rickyp-ms opened #355 "Dropdown, Datepicker and other components that pop out a window should use the same framework as callout"
Imagine the following scenario:

[code]

What currently happens is the date picker is cut off at the bottom.

Now take the following code:

[code]

The callout isn't cut off like the date picker.

I would prefer any control that pops out like this (callout, datepicker, dropdown, etc) to work similarly to callout.

[2016-09-29 09:14] pablonete opened #357 "ContextualMenu generating onLayerMounted unknown prop in <div>"
I'm using FabricReact 0.52.3 with React 15.3.1.

Just rendering a ContextualMenu I get 2 warnings.

[code]

If we use onRender in items, the second warning goes away.

[code]

[2016-09-29 15:52] mikewheaton commented on #254
That would be very helpful, @kmees!

[2016-09-29 16:47] rbtkoz commented on #350
Thanks that works. Would be great if that were in the documentation ;)
Also a requirement is to link the fabric.css file otherwise none of the <i> icons render.

[2016-09-29 16:47] #350 closed

[2016-09-29 17:42] dzearing commented on #355
Yup agree 100%. @joschect  is going to take on the Dropdown update, hopefully this weekend.

[2016-09-29 17:45] dzearing commented on #347
I would love this. :) But...before we add more and more components to an already massive library, we'll probably need to tackle splitting the package into sub packages where each can version independently. Will keep this open so that we can add to our internal backlog and address if time permits.

[2016-09-29 18:26] dzearing commented on #351
Additionally, none of the icons will work out of the box, without either:

1. Including fabric.css
2. Using the sass import and bundling fabric with it.

These also need documentation!

[2016-09-29 18:28] dzearing commented on #336
This is definitely something we should consider. Another simple fix would be that Layer elements can have an isModal flag, false by default. Dialogs turn it on. LayerHost orders layers in order of injection, but sorted by isModal (pushing modal above non modal layers.)

[2016-09-29 18:32] dzearing commented on #350
Cool. Thanks for letting us know.

Covered both issues here: https://github.com/OfficeDev/office-ui-fabric-react/issues/351

[2016-09-29 18:33] dzearing commented on #220
This is now checked in.

[2016-09-29 18:33] #220 closed

[2016-09-29 19:00] luisrudge commented on #347
Victory is a super nice chart library! https://formidable.com/open-source/victory/

[2016-09-29 19:23] mikewheaton opened #358 "Overlay: Add example of dark variant"
There are light and dark Overlays, but currently the website only shows an example of a light one.

[2016-09-29 19:38] mikewheaton commented on #351
I thought we already included fabric.css, so that all of the Fabric Core classes are available on a page using Fabric React. Or are we just importing it to reference variables and mixins with no output classes?

[2016-09-29 21:00] mikewheaton opened #360 "ExampleCard: Some code examples are causing errors"
I've been trying to get the example code showing for the dark variant of the Overlay. It builds fine, and then the site won't render and the console gives this error:

*react.js:20145Uncaught Invariant Violation: Objects are not valid as a React child (found: object with keys {}). If you meant to render a collection of children, use an array instead or wrap the object using createFragment(object)

[2016-09-30 12:37] justinmwarner commented on #336
I don't think the proposed solutions will work 100% of the time.

We're currently breaking up one of our Panels into sub-components.  While doing so, the render order on our side is effectively the same, however the ContextMenu is being rendered under the Panel.

Another proposed solution:
App-level: Dialog, Panel
Contextual: Generally everything else (Callout, Teaching, ContextMenu, etc.)

Each A

[2016-09-30 20:27] #358 closed

[2016-10-04 13:59] arheom opened #369 "Button component should have a type="button" attribute by default"
I am having lots of problems with the Button component (mostly indirect usages). I am developing SPFx web part in React (to be used inside SharePoint Online).

The main problem is the following: the button renders the markup without the type="button" attribute, so it will automatically make a post-back (I suppose has by default the behavior of type submit).

This makes lots of components behave in

[2016-10-04 14:11] arheom opened #370 "SearchBox component cannot be used in non find on type scenarios"
I am developing some SPFx web parts for SharePoint Online and I am using now the SearchBox component.

I have some troubles to integrate it with the solution we have because only supports find on type scenarios. The component has one handler: onChange -> which will give the new value added in the search box and nothing else. Unfortunately we cannot implement find on type in this solution, cos will

[2016-10-05 14:17] TBag opened #373 "CommandBar: First Item In List Always Appears As Selected Item"
Issue:
Implement a command bar and add more than one child item to a top level item.  Click the top level item and then select the second child item.  Click the top level item again and observe the **first** child item shows it was selected.

Expected behavior:
Implement a command bar and add more than one child item to a top level item.  Click the top level item and then select the second child i

[2016-10-05 14:19] TBag opened #374 "CommandBar: Scrollbar appears for child items"
Issue:
Implement a command bar and add more than one child item to a top level item. Click the top level item and **observe a scrollbar** next to the child items.

Expected behavior:
Implement a command bar and add more than one child item to a top level item. Click the top level item and **observe no scrollbar** next to the child items.

Code to replicate issue:

[code]

<img width="177" alt="com

[2016-10-05 14:52] TBag opened #375 "CommandBar: Using new commands with old fabric-core causes missing font icons"
Issue:
Implement a command bar that includes child items and view it in the Google Chrome browser.  Notice the empty boxes that appear next to the top level items in the command bar.  This issue does not occur in IE, Edge, or FireFox.

Expected behavior:
The Empty box does not appear in the Google Chrome browser.

Code to replicate issue:

[code]

Style to add to fix issue:

[code]

<img width="12

[2016-10-05 17:50] abettadapur commented on #321
I see the same behavior in other components.
[code]

And
[code]

[2016-10-05 23:51] leddie24 commented on #360
Hey Mike just made a PR for this at #379.  I can't seem to repro the bug you described though.  Is it happening when you pull from my branch also?

[2016-10-06 05:36] dzearing commented on #375
Hey @TBag what version of fabric core css are you using on your page? This seems like a compat issue with the font icon rather than the command bar. Can you update the fabric core css?

[2016-10-06 05:37] dzearing commented on #374
@joschect can you take a look here

[2016-10-06 05:42] dzearing commented on #370
It is incredibly easy for you to add your own debouncing. It is not so easy to "remove" debouncing from one we'd inject.

Maybe something like this would help your scenario, if you didn't want to implement your own solution:
https://github.com/bvaughn/debounce-decorator

Then the event can be fired as many times as necessary, but your code will only execute once every X milliseconds.

[2016-10-06 05:42] #370 closed

[2016-10-06 10:16] kollster opened #382 "Not compatible with TypeScript 2 typings of React (@types/react)"
office-ui-fabric-react is not compatible with TypeScript 2 typings for React. When you use TypeScript 2 and install the typings for React (`npm install --save-dev @types/react`) you get a lot of errors. The errors I have found are because office-ui-fabric-react uses old typings for react. A lot of the react events and event handlers use generics in the new typings.

For an example, when you import

[2016-10-06 17:11] joschect commented on #374
@dzearing this should be resolved with the changing of padding to margin which I just put in yesterday and I think is in 56.1. @TBag could you update to the latest version and try again?

[2016-10-06 17:22] #360 closed

[2016-10-06 17:53] #58 closed

[2016-10-06 18:34] junchen1 opened #386 "Disabled command button still shows hand cursor when user hovers over it"
I'm using react fabric version 56.0.

[2016-10-06 18:55] TBag commented on #374
Thanks, @joschect

It looks like 56.1 introduced some breaking changes for IContextualMenuItem.  Once I get it sorted out I'll let you know if this fixed the scroll bar issue.

[code]

[2016-10-06 18:58] joschect commented on #374
@TBag What version were you using before? In 53 there was a breaking change introduced that changed the onclick parameter order. https://github.com/OfficeDev/office-ui-fabric-react/releases/tag/v0.53.0

[2016-10-06 19:07] TBag commented on #374
@joschect We were using 0.36.0.  Thanks for sending me the link to the release notes.  This is a simple fix and I'm going to test it now.

[2016-10-06 19:12] TBag commented on #374
@joschect The scrollbar still appears and a new issue now occurs.  When I click the top level item the command bar the page refreshes.  I need to sort out the code on our end to determine what else has changed and how we need to handle the click event for the top level item so it doesn't refresh the page, and instead allows us to select the child items.

[2016-10-06 19:19] joschect commented on #374
@TBag When you click the top level item in the contextual menu or in the command bar?

In regards to the scroll bar, are you adding any css or rendering custom items?

[2016-10-06 19:25] TBag commented on #374
@joschect Top level item in the command bar.  The items we are rendering can be seen in the code sample above.  Is that what you consider a custom item?  We are not adding any CSS to them except for the style that we used to fix the empty box from appearing.  That style is shown in the code sample above as well.  If you would like to pair on this or would like the source code let me know.

[2016-10-06 19:30] joschect commented on #374
@TBag I missed the code sample! My bad. That should be good enough, I'll take a look.

[2016-10-06 19:44] joschect commented on #374
TBag I'm unable to replicate this problem. What do you mean by "fix the empty box from appearing?"

[2016-10-06 19:57] TBag commented on #374
@joschect Hmm, maybe I should send you the code sample.  Are you testing in Google Chrome?  Issue #375 describes the empty box.

[2016-10-06 20:43] joschect commented on #374
@TBag Yeah I'm using chrome. I don't think you need to send me the code sample just yet. Have you guys upgraded to the lastest styles? You'll need to make sure that you upgrade your dependency to use office-ui-fabric-core 4.0.0 instead of office-ui-fabric 2.6.0.

[2016-10-06 21:00] TBag commented on #374
Upgrading to 4.0.0.0 eliminated the scroll bars!  The issue where clicking the top level item in the command bar causes the page to refresh still occurs.  Should we close this issue and open a new one for that?

<img width="267" alt="scroll-bar-gone" src="https://cloud.githubusercontent.com/assets/1407310/19170353/0a941a74-8be6-11e6-99e7-6b43e19f62bc.png">

[2016-10-06 21:10] joschect commented on #374
Good to hear! I think you should probably open a different issue for the page refresh as that sounds to be unrelated to the scrollbars!

[2016-10-06 21:41] unindented commented on #382
Same here, encountered this while going through the [Get started](http://dev.office.com/fabric#/get-started#react) example:

[code]

[2016-10-06 23:01] dzearing commented on #382
Thanks guys. We have done the work already to move to TS2, but we found a few breaking changes slowing our move down. E.g. TS2 introduces readonly attributes in the d.ts files which TS1 can't understand. But we aggressively want to move to TS2 so this will happen very soon and this will be cleaned up. I'll assign to myself to ensure we're not blocked.

[2016-10-06 23:01] dzearing commented on #386
I don't repro this.

Can you trace down the css style causing the issue you're seeing and make a PR?

[2016-10-06 23:20] dzearing commented on #369
technically you can do this right now. But it is not ergonomic.

[code]

Instead I'm eager to move back to just taking in native button props and directing them to the right place.

[code]

I have a change list to deprecate rootProps and move to this model. Sound good?

[2016-10-06 23:43] junchen1 commented on #386
Please login you ms account using:https://outlook-sdf.office.com/owamail/?branch=junchen2016-junchen-react3

Find an email with two attachments & see the label button under two attachments

[2016-10-06 23:51] dzearing commented on #386
So i used chrome, inspected it, and it seems there is this rule somewhere:

[code]

This is defined in `https://owamail.blob.core.windows.net/owamail-branch/junchen2016-junchen-react3/resources/styles/style.min.css`

I see only 1 single "!important" in all the fabric-react css in MessageBar. (And that should be removed!)

I suspect this is somewhere in your product code. Can you search for "!impor

[2016-10-07 11:55] TBag commented on #375
@dzearing Upgraded to 4.0.0.0 yesterday and I still see the empty boxes in Google Chrome.

<img width="272" alt="empty boxes" src="https://cloud.githubusercontent.com/assets/1407310/19188979/72eb4be2-8c63-11e6-8a9e-1de1c40eeefd.png">

[2016-10-07 12:02] TBag commented on #374
@joschect Thanks again!  Scrollbar issue is fixed.  Closing Issue.

I will open a new issue for the refresh issue.

[2016-10-07 12:02] #374 closed

[2016-10-07 12:08] TBag opened #392 "CommandBar: Clicking Top Level Item In List Refreshes The Page"
Issue:
Implement a command bar and add more than one child item to a top level item. Click a top level item in the command bar and see the child items appear, then the the page immediately refreshes.

Expected behavior:
Implement a command bar and add more than one child item to a top level item. Click a top level item in the command bar and see the child items appear.

Fabric Core version:  4.0.0

[2016-10-07 12:08] TBag commented on #392
@joschect Here's the new issue for the page refresh issue we discovered yesterday.

[2016-10-07 18:02] MLoughry opened #393 "DatePicker: Use ECMAScript Internationalization API to localize DatePicker strings"
Rather than have the consumer provide a whole host of strings for the DatePicker, it can all be done with ECMADate.toLocaleString. Then, the consumer need only provide the 'goToToday' string and the locale.

http://stackoverflow.com/a/18648314
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleString

[2016-10-07 20:47] lavanyasiv opened #394 "Docs use refs in render code"
For one ContextualMenuItem example, the targetElement property is defined using refs in the "render" function, which is advised against.

![image](https://cloud.githubusercontent.com/assets/22689654/19204970/81f3b9ea-8c94-11e6-9cf0-523cdb5674fa.png)

[2016-10-07 20:51] #394 closed

[2016-10-07 20:52] lavanyasiv commented on #394
Sorry, misunderstood usage in the docs. I've closed this issue.

[2016-10-08 01:30] lavanyasiv opened #395 "Strange tab positioning issues when focused and arrowing"
Deployed the documentation locally, and saw this keyboard behavior (in chrome)

![reacttabs](https://cloud.githubusercontent.com/assets/22689654/19209287/0b732f9e-8cbc-11e6-909f-3ceaf18228ab.gif)

[2016-10-09 14:40] TBag commented on #392
@joschect Notice the two parameters of the onClick event in the screenshot below, the definition of the event is “(ev?: React.MouseEvent, item?: IContextualMenuItem) => void”,  but actually the sequence is opposite as we fixed it in the second screenshot.  It works after our fix but it doesn’t make sense that the input parameter type is different from the interface definition.  Is this a bug in th

[2016-10-10 00:01] joschect commented on #392
@TBag Hey! This isn't a bug, although it is confusing and probably needs some cleanup. The ContextualMenuItems are different from the command bar items. The code you javascript snippet you posted from the developers console is on the [CommandBar](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/src/components/CommandBar/CommandBar.tsx). The onClick function you posted below that goe

[2016-10-10 02:01] TBag commented on #392
@joschect Gotcha.  Thanks for explaining it.  Do you think you will make them both the same in the future?  I think we can close this issue now.  Do you agree?

[2016-10-10 15:47] Solwo opened #397 "Layer: Preserve React context from parent to projected layer"
**Scenario:**
React application uses some library like  [react-router](https://github.com/ReactTraining/react-router)
The library initializes useful objects in the [React Context](https://facebook.github.io/react/docs/context.html) for using in child controls.

I want to implement [Dialog](http://dev.office.com/fabric#/components/dialog) control and put some buttons in the dialog footer. The butto

[2016-10-10 21:02] ghempton opened #400 "Toggle not rendering correctly"
On Chrome 53.0.2785.143 (64-bit) and version `0.56.2` of this package, the `<Toggle>` component shows strange rendering behavior:

![image](https://cloud.githubusercontent.com/assets/8994/19251012/19d8318c-8ef2-11e6-8a6f-183e7f69fe46.png)

![image](https://cloud.githubusercontent.com/assets/8994/19251016/1e8c6496-8ef2-11e6-963e-6e76336f8ea0.png)

[code]

I am using browserify (via Systemjs) to con

[2016-10-10 21:39] dzearing commented on #400
Do you have DIR='ltr' on your html element?

We require a dir attribute to be specified and to have either 'ltr' or 'rtl' specified to support left-to-right or right-to-left languages.

[2016-10-10 21:40] dzearing commented on #400
Alternatively, import the "Fabric" component and wrap your app in that. That would be the recommended approach and will ensure the dir is provided.

https://github.com/OfficeDev/office-ui-fabric-react/issues/351

[2016-10-10 21:51] junchen1 commented on #386
Thanks a lot for catching it! Yep, it is caused by a wrong global css. I'll remove it.

[2016-10-10 21:51] #386 closed

[2016-10-10 22:22] ghempton commented on #400
That worked. Thanks, 👍 on more docs.

[2016-10-10 22:22] #400 closed

[2016-10-11 18:01] joschect commented on #392
@TBag Yes, I think it is likely that we will try to make them the same in the futre. I do think that we can close this issue!

-Jon

[2016-10-11 18:24] joschect commented on #392
@TBag I was mistaken, since it's an internal onClick that's being called it won't always be of the form ev, item. It's only for outward facing onClicks (like in props) that we'll always have ev, item.

-Jon

[2016-10-13 13:52] HeToC commented on #79
Well guys ive solved this problem month ago but was a little bit lazy to post workaround here
finally...
the problem was with enable server side prerendering feature, so i have to disable it. ofc this is not a good solution just a simple workaround.

[2016-10-13 16:45] dzearing commented on #79
There are teams requesting ssr support, so it is something we are investigating, but currently is not being actively validated.

Thanks for the followup!

[2016-10-13 16:45] #79 closed

[2016-10-13 17:12] vivmaha opened #406 "Unable to turn off checkbox column on DetailsList"
I would like to use the DetailsList, but I do not want the checkbox column (especially for my single item selection).

Can this column be optional?

[2016-10-13 23:55] Gustavogbs opened #407 "React Image never calls onLoad event handler"
I am passing a handler and it never gets called after the image gets loaded

[2016-10-14 08:29] Djemel commented on #382
Is there a temporary workaround for this issue ?

[2016-10-14 12:33] fengyue1013 opened #409 "Fabric React Button a11y: color contrast is not high enough between focus border and background of primary button"
![primary button contrast](https://cloud.githubusercontent.com/assets/12523937/19387458/dd6a2738-924c-11e6-9820-7ed062000a29.png)

The screen shot is taken from the fabric-react demo page.
When primary button is focused, the background color is `themeDark` and border is gray.
When theme is blue, we can see that the contrast is not high enough.
It is not friendly in terms accessibility.

I haven't

[2016-10-14 18:25] micahgodbolt commented on #94
After a little tinkering I'm noticing that the search component is a different fixed height than the fixed height of everything in the CommandBar. I'm wondering why we're messing with fixed heights at all, so this is my proposition. Would like some feedback before putting too much work into this.

__Proposed Set of Changes__

1. Move to flexbox based layouts
2. Update search and CommandBar Icons t

[2016-10-14 21:43] MLoughry opened #412 "Dialog doesn't handle null children the way that React does."
If you have a Dialog element with a null child (such as '<Dialog>{foo}</Dialog>' where foo is null), the Dialog gets a TypeError when it tries to dereference it for its type.
If the child is falsey, the Dialog should simply ignore it.
https://facebook.github.io/react/tips/false-in-jsx.html

[2016-10-14 22:14] micahgodbolt commented on #94
Got a jump on this today. Was able to do 1, 2 and 3. Seems the overflow is already set up in the list, so 4 is kinda working as expected.

I got a start on pulling the CommandList out, but there are tons of things I don't know if they belong to the list or the Bar. @dzearing if you wanted to take a look, I'm sure you could seperate the chaff from the wheat much faster.

https://github.com/micahgod

[2016-10-14 22:55] #412 closed

[2016-10-15 00:41] betrue-final-final commented on #94
Let's talk about this next week.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Micah Godbolt <notifications@github.com>
Sent: Friday, October 14, 2016 11:25:09 AM
To: OfficeDev/office-ui-fabric-react
Subject: Re: [OfficeDev/office-ui-fabric-react] CommandBar: Make it composition of Components (#94)

After a little tinkering I'm noticing that the search compone

[2016-10-18 03:56] fengyue1013 opened #417 "request for shipping out "focus-border" mixin"
Sometimes in our project we want to use the `focus-border` mixin in file`office-ui-fabric-react/src/common/_focusBorder.scss`. Could you consider ship it out?

[2016-10-18 07:38] tonymobster opened #418 "Icons not showing"
I followed the getting started tutorial for the documentcardbasic-demo which works fine, however icons are not showing up for a few additional components I added, specifically CommandBar, CommandButton, IconButton and an icon.

I've referenced the fabric css and added the dir tag to my html element as stated in the documentation. I've wrapped my app component in a Fabric component yet still no dic

[2016-10-18 08:51] maxali commented on #54
As @kmees mentioned, the standard `onChange: (e:React.InputEvent) => void` callback implementation is important. There is no way we can reference the changed element without `event: React.InputEvent` (or let me know if there is a way).

[2016-10-18 11:36] kmees commented on #397
You need to define the context types on the components that require them, i.e.
[code]

This has nothing to do with the components being placed "inside" the Dialog component (or any other component for that matter). Also make sure that the `this` inside your onClick handler is actually the component instance and not the button that was clicked (by binding it to this)

[2016-10-18 12:51] Solwo opened #419 "The DropDown control lost 'disabled' state on refresh."
Scenario: The DropDown contol has a property 'disabled={false}'.
When a page loaded first time, the control disabled. Next time, when something changed on the page, the DropDown do re-render itself and becomes active.

However, when I use old-style property  isDisabled={false},  the DropDown works as expected.

It seems, the componentWillReceiveProps has a bug, it propagates only isDisabled proper

[2016-10-18 16:24] micahgodbolt commented on #94
My todos

- v align of icons
- remove ... from search
- white bg of search box
- remove 'info' from (i)
- Change grid view to tile view

[2016-10-18 16:43] betrue-final-final commented on #94
☺

From: Micah Godbolt [mailto:notifications@github.com]
Sent: Tuesday, October 18, 2016 9:25 AM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Ben Truelove <betrue@exchange.microsoft.com>; Comment <comment@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] CommandBar: Make it composition of Components (#94)

My todos

  *   v align of icons

[2016-10-18 16:57] dzearing commented on #419
I investigated your issue and made a small patch. Will be published today. Thanks for reporting!

[2016-10-18 16:58] dzearing commented on #419
https://github.com/OfficeDev/office-ui-fabric-react/pull/420

[2016-10-18 17:18] dzearing commented on #419
Now published in 0.59.0. Thanks again.

[2016-10-18 17:18] #419 closed

[2016-10-18 17:22] dzearing commented on #418
what version of fabric css? you need 4 I believe

[2016-10-18 17:23] dzearing commented on #409
@betrue-final-final

[2016-10-18 17:24] dzearing commented on #395
Could you provide info on browser/os/version of fabric-react?

[2016-10-18 17:26] tonymobster commented on #418
I was just about to close this. I fixed the issue.

The bundled css '../node_modules/office-ui-fabric-react/dist/css/fabric.min.css' worked, whereas the linked one in the tutorial 'https://appsforoffice.microsoft.com/fabric/2.2.0/fabric.min.css' didn't.

[2016-10-18 17:32] dzearing commented on #395
Nevermind, repro'd, found it, fix is now checked in and will be published on the next bump > 0.59.0

[2016-10-18 17:32] #395 closed

[2016-10-18 17:33] lavanyasiv commented on #395
Great, thank you David!

From: David Zearing [mailto:notifications@github.com]
Sent: Tuesday, October 18, 2016 10:32 AM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Lavanya Sivakumar <lsiva@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] Strange tab positioning issues when focused and arrowing (#395)

Neverm

[2016-10-18 17:38] #418 closed

[2016-10-18 18:41] micahgodbolt commented on #67
This is a teaching bubble and has just recently been merged in #278

[2016-10-18 18:41] #67 closed

[2016-10-18 20:11] yaananth commented on #357
+1

[2016-10-18 20:36] joschect commented on #357
@pablonete @yaananth  Hey,

It looks like this was fixed in this https://github.com/OfficeDev/office-ui-fabric-react/commit/9bd5bb66fb855306ce7eb9a981b50f3635b34cf9 commit. I believe that the fix should be in version .53 . Please let me know if that is not the case!

[2016-10-19 08:58] Trickass opened #423 "Error in documentation of Button component"
In the Office UI Fabric documentation for Buttons, there is a wrong code sample included for the "Button Like Anchor" button.
The code snippet linked to that buttons is that of the Icon Button instead.

http://dev.office.com/fabric#/components/button

[2016-10-19 21:51] stephenzsy opened #426 "DetailsList {selectionMode={SelectionMode.none} bad first column width"
The first column width is to fit the content instead of a fixed width column when DetailsList has SelectionMode.none. Please fix.

[2016-10-20 09:26] Mustachoman opened #428 "List/DetailsList: support rendering some content in hidden scenarios."
I am trying to use the Details list from the [Fabric UI test component](http://dev.office.com/fabric#/components/detailslist) however I noticed that the onRenderItemColumn is never called.

After playing with the inspect method suddenly the list appeared.

I can now recreate this by just loading the page where the list is supposed to render and then opening and/or closing the inspect function.

Wa

[2016-10-20 22:37] v-chloc opened #430 "Possible commandBar Issues"
It looks like the drop down on the commandBar displays a carrot and the icons within the drop down differ in color from the ones in the main bar. Is this by design? Attached is a screenshot of the issue.

![cmdbardropdown](https://cloud.githubusercontent.com/assets/19228849/19580422/f7864498-96da-11e6-9068-076d5b2dde23.JPG)

[2016-10-21 08:19] unindented commented on #382
@dzearing how is progress looking? Anything we can do to help?

[2016-10-21 19:53] dzearing commented on #430
Yes the dropdown has a beak by design.

I'm not 100% sure about the icons not matching. I think that's a good question.

@betrue-final-final or @Jahnp can you help confirm if this is a bug?

[2016-10-21 19:55] dzearing commented on #428
Adjusting the title to be specific to DetailsList.

Are you rendering the list in a hidden element? The DetailsList requires being rendered in a visible container so that it can measure which columns should be rendered.

[2016-10-21 19:58] dzearing commented on #430
Talked with @betrue-final-final on this and confirmed contextualmenu icons should be theme primary. Jon can you please fix?

[2016-10-21 20:39] joschect commented on #430
@betrue-final-final @dzearing Yes, I can definitely do that.

[2016-10-21 20:45] ericthompson commented on #417
@fengyue1013 - do you mean to place it in [Fabric Core](https://github.com/OfficeDev/office-ui-fabric-core)? Just trying to make sure we understand what you mean by shipping it out.

[2016-10-21 20:52] ericthompson commented on #373
I'd love to get a Designer's input here and see if this is intended.

[2016-10-21 21:04] ericthompson commented on #373
@betrue-final-final (our Design guru in this case) states that the design intent is that the first item *should not be in focus* when it opens... let's look into this.

[2016-10-21 21:06] dzearing commented on #426
I definitely repro'd issues with the advanced example, which i will fix, but when i set selectionmode none, i don't see a bad first column width.

Is there a small isolated snippet you could provide? E.g. maybe modify one of the examples in the project.

[2016-10-21 21:07] #423 closed

[2016-10-21 21:08] stephenzsy commented on #426
I think what I encountered is if I only set the minWidth but not maxWidth, I get the width of individual cells = max(content width, minWidth), instead of all cells in the column have the same width.

[2016-10-21 21:10] dzearing commented on #417
I am not 100% convinced it's a good idea to expose this yet. We need to have a clear stance on how to generally support focus rectangles correctly (because it's nuanced), but the issue i'm nervous on is how the mixin works. Some things i don't like:

* It messes with the element position to get the positioning of the rectangle correct. Unpredictable.
* It is a very specific rule that it creates, s

[2016-10-21 21:59] dzearing commented on #407
I beleive the expectation is that we mix in img element props into the img element. Fixed, updated one of the examples to log to console on load.

https://github.com/OfficeDev/office-ui-fabric-react/pull/437

[2016-10-21 22:01] dzearing commented on #406
It's a feature request we can consider. We do turn it off when selection mode is none. Really what you want is "single selection with no check boxes".

[2016-10-21 22:06] joschect commented on #430
I have a pr to fix this https://github.com/OfficeDev/office-ui-fabric-react/pull/438 . See screenshot for local preview.

![image](https://cloud.githubusercontent.com/assets/20801176/19613182/e1f08bf0-979f-11e6-952f-4208d659227e.png)

[2016-10-21 22:11] dzearing commented on #407
This fix has been merged and will be published in the next build >0.60.0

[2016-10-21 22:11] #407 closed

[2016-10-22 01:17] vivmaha commented on #406
@dzearing Please note that I do not need this anymore. I was under the false impression that i needed to turn on selection to get keyboard navigation. Since I do not need to turn on selection, I do not have this checkbox column. Hope this helps with triage.

[2016-10-22 05:07] dzearing commented on #406
Good to hear. Thanks for the heads up @vivmaha

[2016-10-24 10:02] Mustachoman commented on #428
Sorry for the late reply.

It is indeed in a panel which is hidden. Will try to add it to a visible page.

Update coming today then. ;)

[2016-10-24 11:43] arheom commented on #369
Does this work also with components using the button? Cos I am using this for the buttons I am adding to the components, But buttons already added in built in components (like SearchBox) does not have this. So my problem is really with the SearchBox component (might also be in other components I am not aware, so thats why I opened the bug with Button).

[2016-10-24 11:47] TBag commented on #373
Any action needed on my end?

[2016-10-24 13:10] Mustachoman commented on #428
Okido, so as @dzearing said, the list renders on visible object only.

Don't know if it is used much but lists do not work in things like panels then? Because the panel is not visible when loading the app?

[2016-10-24 13:22] yaananth opened #442 "ContextualMenu: add ability to support icon URL's (onRenderItem for items to render inside button )"
Hello,

The contextual menu (components/ContextualMenu/ContextualMenu) allows a list of items (IContextualMenuItem) to be sent.
An item takes property "icon", which by deefault is considered as a className, but there could be some cases where "icon" is a complete url for the image.
In which case, we should be rendering img tag.

In short:

[code]

Creating this issue as a feature ask, I will look

[2016-10-24 18:02] dzearing commented on #382
PR is here.
https://github.com/OfficeDev/office-ui-fabric-react/pull/443

[2016-10-24 18:37] dzearing commented on #397
I think this very well is a bug. The Layer component is not propagating the context to the rendered content. So say that you have a `<SmartPeoplePicker />` that internally accesses context. If you render it without `Layer`, you can access context. If you wrap it in a Layer (like what `Dialog` does), it suddenly can't access the context.

You can work around it by wrapping the Dialog (outside of th

[2016-10-24 18:39] dzearing commented on #393
The blocker on this one is that these aren't supported below IE11. We *could* provide a HOC that derives values and prepops the DatePicker's string callbacks so that if your minbar is IE11 it's easier.

[2016-10-24 18:41] #392 closed

[2016-10-24 18:43] dzearing commented on #442
I believe the items have an onRender. it's possible you could avoid the whole thing by rendering custom items with onRender and injecting img, svg or whatever you want.

[2016-10-24 18:45] yaananth commented on #442
But can we call default onRender somehow? I don't want to loose click bindings etc.,
may be expose something like buildItems or something...

[2016-10-24 18:46] dzearing commented on #373
@TBag can you try this:

Wrap your app in a `Fabric` component.

[code]

It *should* be focused, but you should only see the focus rect if you use the keyboard. This is globally controlled by the `ms-Fabric.is-focusVisible` class that the `Fabric` component adds at the right time (when the user is naving with the keyboard.)

[2016-10-24 18:48] dzearing commented on #47
I believe this has been resolved. There is no `text` property; only an optional `label`.

[2016-10-24 18:48] #47 closed

[2016-10-24 18:50] dzearing commented on #55
I believe this has been fixed.

[2016-10-24 18:50] #55 closed

[2016-10-24 18:53] dzearing commented on #127
@aygarg If you have urgent changes, we accept PRs if they're reasonable.

[2016-10-24 18:54] dzearing commented on #87
Yes please.

[2016-10-24 18:55] dzearing commented on #87
Micah - if you can find time for this, it's low hanging fruit!

[2016-10-24 18:59] dzearing commented on #267
Not at this time. If you'd like to contribute one, please do.

[2016-10-24 18:59] #267 closed

[2016-10-24 19:00] dzearing commented on #285
This has been resolved.

[2016-10-24 19:00] #285 closed

[2016-10-24 19:01] dzearing commented on #57
@ericthompson can you find someone to remove it if it's the case?

[2016-10-24 19:02] dzearing commented on #283
this has been resolved.

[2016-10-24 19:02] #283 closed

[2016-10-24 19:02] dzearing commented on #284
I believe this was resolved.

[2016-10-24 19:02] #284 closed

[2016-10-24 19:08] dzearing commented on #357
I still see the layer one in there. I'll fix that.

[2016-10-24 19:10] dzearing commented on #357
Will be resolved completely in the next publish > 9.61.0

[2016-10-24 19:10] #357 closed

[2016-10-24 19:12] dzearing commented on #369
No doesn't work for searchbox. I will change the title and mark as a feature request.

[2016-10-24 19:17] dzearing commented on #20
This was merged. Should be fixed, please open a new issue if you're still having issues.

[2016-10-24 19:17] #20 closed

[2016-10-24 19:19] dzearing commented on #321
This has been resolved.

[2016-10-24 19:19] #321 closed

[2016-10-24 19:32] dzearing commented on #442
You won't... see the ContextualMenu customization example for reference.

It will render content within the button. The "charms" sample renders custom icons.

[code]

Note that the charms still have hover/clicks.

[2016-10-24 19:37] dzearing opened #444 "Selection: support isGroupSelected and passing in IGroup[] info."
Right now because selection doesn't track grouping along with items, it's not efficient to know if items are selected or not.

If selection had grouping information, we could easily track group selection state.

This is blocking the scenario where in a grouped DetailsList if you select all items in a group individually, the group doesn't light up as selected.

[2016-10-24 19:40] yaananth commented on #442
but would that also have submenu items and all that good stuff? I remember doing that, but click binding was gone.
I believe that's because it does this -

[code]

so I would miss other bindings if i have my own onRender isn't it?

[2016-10-24 19:42] dzearing commented on #442
You're right! Oops.

I'm going to label as a feature request. We want onRenderItem that renders content inside the button.

[2016-10-24 19:43] dzearing commented on #442
If you need this urgently, please do submit a PR. I've assigned to @joschect but he may not get to it soon.

[2016-10-24 19:46] yaananth commented on #442
We have hack code that manipulates DOM to do the job for now, but I definitely would like to see this working, adding onRenderItem is probably the right feature ask here other than asking to support Icon URL's, I will edit the issue to be accurate, will get to this when I can.
Thanks!

[2016-10-24 19:46] aygarg commented on #127
@dzearing We were able to work around this by using the className property added in later builds. We provide a display:none value to className to keep the dialog hidden and setting the rest of the properties the right way makes it work smoothly for us today.

I can close this issue if you want, had left it open originally in case you want to consider providing a more explicit way to achieve this.

[2016-10-24 19:48] dzearing commented on #127
I will leave it opened. Thanks!

[2016-10-24 19:56] dzearing commented on #428
Yeah it's an unfortunate limitation. It's possible we could tweak the logic to say something like "if we are hidden, at least render 1 page of items". We may have this need for supporting SSR scenarios where you have nothing to measure.

I will change this to a feature request for List in general.

[2016-10-24 19:58] dzearing commented on #428
The major problem we have is that we don't have a clean way to detect when the div becomes visible, so if we render not enough content to cover the screen, we don't get an opportunity to evaluate that so we end up a bit buggy.

Maybe something like this could be of use.

https://www.npmjs.com/package/element-resize-event

[2016-10-24 19:59] Mustachoman commented on #428
@dzearing Awesome! Thanks for the help! :)

[2016-10-24 20:01] dzearing commented on #428
Related bug: https://github.com/OfficeDev/office-ui-fabric-react/issues/260

[2016-10-24 20:01] dzearing commented on #428
Actually i'll close this one and track with https://github.com/OfficeDev/office-ui-fabric-react/issues/260

[2016-10-24 20:01] #428 closed

[2016-10-24 20:02] dzearing commented on #260
...or have an option in List/DetailsList to at least render some content in scenarios that can't be measured (hidden div, server side rendering, etc)

[2016-10-24 20:16] rbtkoz opened #445 "Modifying CSS style of imported Fabric components"
Hi Guys,
I am importing a component
`import { TextField } from 'office-ui-fabric-react/lib/TextField';`

in the return(
`<TextField className={ searchInputCSS['search-textfield'] }
            placeholder="I want to know how to..."
            ariaLabel="Enter search text"
            value={ this.state.searchText }
            onChanged={ this.autosuggestHandler }
            onKeyPress ={ this._

[2016-10-24 21:03] dzearing commented on #445
can you define your rule as:

[code]

[2016-10-24 21:03] micahgodbolt commented on #87
I actually already took a first crack at this. Let me see where it's at and push up a PR for review.

[2016-10-24 21:06] dzearing commented on #445
BTW I don't like this answer but css specificity is fighting us here. Open to suggestions.

I really, really don't want people to fallback to !important...

Inline styles would solve it, but I don't really want to go in that direction.

[2016-10-24 21:37] rbtkoz commented on #445
@dzearing I hear you.
Had tried increasing specificity but actually the component hides the input field which needs to be targeted to change the font size.
In this case had to go target <input> specifically by referencing parent class and increasing specificity that way.
This works(even if a bit ugly)
[code]

[2016-10-24 22:06] dzearing commented on #445
We can always add more classNames to props to pass through. Or things like "inputProps" so you can pass through additional things targeted for specific places.

[2016-10-24 22:09] micahgodbolt commented on #87
#446 is my initial PR. I've moved over to using the callout, but there are several issues I still need to overcome.

1. Because it is on a different layer, the width cannot be assumed. Need to determine best way to measure this.
2. Due to multiple ways to close the dropdown (click on input and regular callout scroll/click outside etc) the dropdown isn't closing properly when you click the input bo

[2016-10-24 22:10] micahgodbolt commented on #87
I'm trying to wrap up the tooltip, so rather than going down this rabbit hole, I'm going to leave it here until I'm done. If someone else wants to finish up, feel free.

[2016-10-24 22:15] joschect commented on #430
@betrue-final-final @v-chloc @dzearing do we still need this open or can I close it since the fix went in?

[2016-10-24 22:31] dzearing commented on #382
Merged, published as 0.62.0. @unindented @kollster let me know if you see any issues.

[2016-10-24 22:31] #382 closed

[2016-10-24 23:14] dzearing commented on #444
Needed for MileIQ.

[2016-10-24 23:44] dzearing commented on #351
@mikewheaton If you import the Dropdown, which references an animation class like ms-animateDown60 or whatever, that is not defined unless you add the fabric css or you import the sass definition.

[2016-10-25 14:35] rbtkoz commented on #445
something like inputProps sounds pretty good. If standardized it would mean easy overrides.

[2016-10-25 15:58] ronaldborman opened #448 "Error when DialogFooter contains exactly one child."
When I use a DialogFooter component with exactly one button:
`<DialogFooter>`
  `<Button>Ok</Button>`
`</DialogFooter>`
I receive the error "Object doesn't support property or method 'map'". When using two or more children there is no problem.

Looking at https://github.com/OfficeDev/office-ui-fabric-react/blob/master/src/components/Dialog/DialogFooter.tsx I think the problem is that this.props.ch

[2016-10-26 13:26] ronaldborman commented on #397
I had the same problem trying to use a Redux Form component (which needs a Redux store object from the context) inside a Dialog. In this case you can't pass the store as a prop, because Redux Form expects that it is on the context.

My workaround was to get the store from the context explicitly in a custom component (using the static contextTypes property of the component), inside the render metho

[2016-10-26 14:54] unindented commented on #382
@dzearing this is working fine for me. Thank you very much for your hard work! 😄

[2016-10-26 14:59] dzearing commented on #444
I have resolved this by instead fixing GroupedList to memoize the group selection state, derived from the Selection store, within the section state.

[2016-10-26 14:59] #444 closed

[2016-10-26 15:05] dzearing commented on #426
Could you just pass in max being the same value?

The justified rendermode tries the size all the columns to fit in the visible space. So i believe passing in no max will stretch the columns to fit in the given space, and try to drop off columns if they cant fit.

If you would like something fixed here please provide some more detail. Repro steps, and a screenshot of what you're seeing would help.

[2016-10-26 15:07] dzearing commented on #213
This was fixed.

[2016-10-26 15:07] #213 closed

[2016-10-26 16:20] yaananth commented on #406
I think the checkmark should be there for accessibility... color-blind people should be able to say that a row is selected, checkmark would help in that regard.

[2016-10-26 16:25] betrue-final-final commented on #406
Yaanath is correct, we need to be able to indicate to people besides color that an item is selected. David, I have some thoughts which we can discuss around single select.

[2016-10-26 16:33] yaananth opened #454 "Selection: For single selection mode, clearSelection doesn't work if items are updated for same selection instance"
For single page navigation,
using our own [selection ](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/src/utilities/selection/Selection.ts)  instance for [DetailsList](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/src/components/DetailsList/DetailsList.tsx)...
as user navigates, we change the items, so `setItems` is being called on `Selection`.
Since we set the m

[2016-10-26 17:00] dzearing commented on #454
@yaananth are you on an older version? In the current bits we did fix this:

selection.ts:
[code]

[2016-10-26 17:01] dzearing commented on #454
If there is a current bug, can you find it in the code and maybe make a PR?

We have selection.test.ts as well and can add a test around the area if it's missing.

[2016-10-26 17:03] dzearing commented on #448
@micahgodbolt when you get a chance can you take a look?

[2016-10-26 18:04] rickyp-ms commented on #445
Another possible option would be to load your customized css file after any component using a fabric component. This should theoretically put your css override after the fabric component css which means as the browser computes it the override would now win.

My guess is that the overrides file is currently before the component.

Of course all this depends on how your overrides file is being consum

[2016-10-26 18:06] rickyp-ms commented on #355
@joschect what's the status on this?

[2016-10-26 18:31] joschect commented on #355
@rickyp-ms hey! @micahgodbolt ended up fixing this. It's in master, you can see the pr here https://github.com/OfficeDev/office-ui-fabric-react/commit/61b5f585273152c442a0b069649195d6cc1d6bac

[2016-10-26 19:53] yaananth commented on #454
ah, yes we are using older version, then it's probably fixed in new versions, we are from VSTS (Visual studio team services), hopefully soon we will update react in our web platform code. Thanks for the info!

[2016-10-26 19:53] #454 closed

[2016-10-26 20:44] dzearing commented on #406
I will close this for now then.

[2016-10-26 20:44] #406 closed

[2016-10-26 20:46] dzearing commented on #294
I believe this has been resolved.

[2016-10-26 20:46] #294 closed

[2016-10-26 20:50] dzearing commented on #228
This is. Ow resolved with onRenderItem.

[2016-10-26 20:50] #228 closed

[2016-10-26 22:13] micahgodbolt commented on #448
@dzearing and @ronaldborman - yup, can't do .map on an object. Instead of splitting the logic and having 2 different returns I just made sure that children is always an array, even if just an array of 1 object.

[2016-10-27 01:14] dzearing commented on #64
I'm not sure this is a bug. @atneik Maybe a better naming convention would be near/far. Then we could flip it automatically. It's possible we could add those, so if you say left, you mean LEFT, but if you say near, you mean left/right in ltr/rtl.

[2016-10-27 01:14] dzearing commented on #72
I believe this is now fixed. Please re-open if you are still experiencing issues.

[2016-10-27 01:14] #72 closed

[2016-10-27 01:15] dzearing commented on #87
This is now checked in.

[2016-10-27 01:15] #87 closed

[2016-10-27 01:17] dzearing commented on #328
@ericthompson this has been open for a while; could you maybe assign to someone on your team?

I don't think it would be very difficult.

[2016-10-27 01:17] dzearing commented on #328
Or, @justinmwarner maybe you could address.

[2016-10-27 16:40] dzearing commented on #375
@Jahnp can you provide instructions here on using the old chevron icon set with new controls (just need the CSS snippet) and then close this issue?

[2016-10-27 16:41] dzearing commented on #373
@TBag ping; i'd like to make sure this solved your issue before closing.

[2016-10-27 16:55] Jahnp commented on #375
Sure. @TBag, I'm assuming from the screenshots that you're using the icons from before Fabric-Core 4.0.

In this case, the general gist is to map the Unicode values from the old Fabric icon set to the new icon class names. This looks something like this:

[code]

Please let us know if this helps resolve your issue here!

[2016-10-27 16:55] dzearing commented on #375
I think he’s complaining about the missing down chevrons

From: Peter Jahn <notifications@github.com>
Reply-To: OfficeDev/office-ui-fabric-react <reply@reply.github.com>
Date: Thursday, October 27, 2016 at 9:55 AM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: David Zearing <dzearing@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/

[2016-10-27 16:59] dzearing commented on #375
I dug around the pre-mdl2 code and see "ms-Icon--chevronDown" is probably the missing one.

[2016-10-27 17:02] Jahnp commented on #375
Yes--I was explaining the general technique of mapping old icons to new names since the screenshot isn't using the new icons. @TBag did you intend to use the new icons or the old icons? If you want to use the old icons with the new markup, it'd be something like:

[code]

[2016-10-27 18:06] TBag commented on #373
@dzearing I have not had time to test it out but it's on our list.  I'll let you know as soon as we try it out.  Thanks for the suggestion to fix it.

[2016-10-27 18:07] TBag commented on #375
@dzearing Yes, that is the missing icon.  @Jahnp Thanks for your suggestions on how we can fix this. We have not had time to test it out but it's on our list.  I'll let you know as soon as we try it out.

[2016-10-28 19:02] #448 closed

[2016-10-28 20:16] Solwo opened #462 "DetailsList component do postback when clicking on selection checkbox."
It seems related to #369, the DetailsList has a pretty checkbox column implemented as `<button>` tag. This button have 'submit' behaviour.  When I click on the checkbox, the page submits to the server. Clicking on the rest space in the row works as excepted, the row become selected and event raised.

[code]

My dirty and temporary workaround: wrap control with form and catch the submit event. The

[2016-10-28 20:45] chripi opened #463 "IContextualMenuItem isDisabled state is not enforced in CommandBar"
We should be able to enforce it as it is a property that we expose in that object.

[2016-10-29 04:06] malekpour opened #466 "Checkbox and FabricMDL2Icons dependency"
Currently Checkbox is using tick glyph form [office-ui-fabric-core](https://github.com/OfficeDev/office-ui-fabric-core) which itself depends on `FabricMDL2Icons` font. Due to https://github.com/OfficeDev/office-ui-fabric-core/issues/807 the font is proprietary and has to be loaded from the designated website.

So far this is the only hard dependency to `office-ui-fabric-core` project and would be

[2016-10-29 19:47] mikewheaton commented on #466
All of the icons in Fabric React come from Fabric Core, along with the web fonts and variables for type ramp, colors, etc. It's dependent on Core and that's intentional. Are you having problems with the CDN?

[2016-10-29 22:16] malekpour commented on #466
This is more licencing issue. Dependency on `office-ui-fabric-core` is fine since it's licence is MIT but the font's licence makes thing complicated.

Currently you can create an offline electron package with `office-ui-fabric-core` and `office-ui-fabric-react` but the font has to be downloaded as far as I understand.

[2016-10-29 23:09] mikewheaton commented on #466
Yes, this is an unfortunate consequence of how our web fonts (both Segoe UI and the icon font) are licensed. @ericthompson may have some more insight here but my understanding is that they can't be download or hosted elsewhere without violating the license terms.

Is it really just the checkmark icon that you're needing? If so, you could substitute it with another icon font (e.g. [Font Awesome](ht

[2016-10-30 00:01] ericthompson commented on #466
@mikewheaton is correct - licensing prevents us from making the font available outside the CDN. I would definitely look into some alternatives if the system Fabric provides won't suit you. Font Awesome would probably do the job.

[2016-10-30 02:36] malekpour commented on #466
Other than Fabric Core icons, [src/components/Checkbox/Checkbox.scss#L75](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/src/components/Checkbox/Checkbox.scss#L75) is the only location this project using the font. Even for online web projects doesn't seem optimal to depend on a 67KB font only for a check mark.

I will override the style likely with an svg alternative in my project

[2016-10-30 17:08] lijunle commented on #417
Hi, @ericthompson We want to consume the useful [`focus-border` mix-in](https://github.com/OfficeDev/office-ui-fabric-react/blob/b99a5cfa9b3bcb00520f95a639c8cc5181d29381/src/common/_focusBorder.scss#L3) in our project. We do not care about where they are placed.

From my understand, there are two ways to expose it:

1. Move it to fabric-core project.
2. Expose SASS files from fabric-react project.

[2016-10-30 18:19] dzearing commented on #426
Closing this issue. Please re-open there is a specific bug that should be addressed and include more information (screenshots, repro).

[2016-10-30 18:19] #426 closed

[2016-10-31 16:40] #466 closed

[2016-10-31 19:52] atneik commented on #417
I think it makes sense in Fabric-core and as Fabric-react already distributes fabric-core's sass/css it will be available to consume in projects.

[2016-11-02 01:22] eliblock12 opened #472 "Panels should trap keyboard focus"
Currently when tabbing through a Panel, focus does not stay within the Panel overlay and moves outside the modal UI into the rest of the page. Panels should use a FocusTrapZone to keep the focus constrained, as in other modal UI like Dialogs.

[2016-11-02 03:37] dzearing commented on #472
That's not always true... it would depend on the type of panel.

[2016-11-02 03:38] dzearing commented on #472
As a consumer you can always use a trap zone

[2016-11-02 03:38] dzearing commented on #472
Maybe "overlays" should. and if a panel uses the overlay, then it would be weird to have focus behind the overlay.

[2016-11-02 04:50] dzearing commented on #254
This is now complete. I've adjusted the bundle to export Fabric variable, so that you can make codepens like this one:

http://codepen.io/dzearing/pen/EgqMZq?editors=0110

[2016-11-02 04:50] #254 closed

[2016-11-02 15:09] justinmwarner opened #476 "DialogFooter fails to render when it only has one child."
Simple test:

In Dialog.Basic.Example.tsx, remove:

`<Button onClick={this._closeDialog.bind(this)}>Cancel</Button>`

In gulp serve, notice how none of the Dialog examples work.

When only one child is given, this.props.children is equal to that object, not an array.  So .map doesn't work.

Possible solutions:

1.
[code]

Not as performant, but only slightly.

2.
[code]

3.
[code]

I'll be doing a

[2016-11-02 17:51] Gustavogbs opened #478 "Image: portrait/landscape size toggling with ImageFit.contain should adjust centering"
I have implemented an image viewer using ImageFit.contain, with left and right arrows where I refresh my main component when the source of the image is changed. The problem is that after my 1st image, my current displayed image has always the CSS (ms-Image-image--landscape or ms-Image-image--portrait) of my previous image, then when I change the image the CSS changes to the right one, but then at

[2016-11-02 19:14] wescravens opened #479 "Pivot: add selectedKey so that consumers can control which pivot is selected."
Not sure if this was a functional decision for the Pivot component, but updating the `initialSelectedKey` prop does not change the selected PivotItem.  It looks like this prop only matters when the class is constructed, but if I update the prop and re-render, it does not pick up on the new value.  I am trying to be able to switch tabs with the click of a button that is within the `PivotItem` to ad

[2016-11-02 20:01] eliblock12 commented on #472
Panels always have overlays just like dialogs. Consumers can't use trap zones because it prevents focusing on the Panel's close button or optional command bar.

[2016-11-02 20:32] #476 closed

[2016-11-02 20:42] dzearing commented on #476
I think this does work... can you modify this codepen to repro?

http://codepen.io/dzearing/pen/NbKwwy

[2016-11-02 21:50] dzearing opened #480 "All mentions of isDisabled and isChecked should be deprecated."
These should follow the html attribute convention "disabled" and "checked".

`ContextualMenu` is one example.

https://github.com/OfficeDev/office-ui-fabric-react/blob/master/src/components/ContextualMenu/ContextualMenu.Props.ts

We need to find all of these and fix them and deprecate the old.

[2016-11-02 22:36] Solwo opened #481 "Infinite loop on focusing input control inside of Dialog control"
The 'Uncaught RangeError: Maximum call stack size exceeded.' exception  raised when I put some text input control inside of Dialog control.

Chrome 54.0.2840,   "office-ui-fabric-react": "^0.65.1"   (reproduced on 0.63.3)
[code]

   It seems the source, the FocusTrapZone.focus method calls _firstFocusableChild.focus(); and then both functions FocusTrapZone.prototype._forceFocusInTrap and FocusTrap

[2016-11-02 23:38] mikewheaton commented on #332
This was reviewed in a Fabric Design Council meeting today. There were no major concerns, I just need to demonstrate how all of the existing panel behaviors can be accomplished using this system.

[2016-11-03 21:33] dzearing opened #486 "All components should be able to receive data attributes."
Makes it so you can write automation and identify elements.

[2016-11-03 21:48] eliblock12 commented on #472
#485 Added PR with fix.

[2016-11-03 23:17] #472 closed

[2016-11-04 00:16] dzearing commented on #481
I'm trying to repro your issue... can you try and modify this codepen?

http://codepen.io/dzearing/pen/jVOMgO

[2016-11-04 00:19] dzearing opened #489 "SearchBox: the "clear" button does weird things."
http://codepen.io/dzearing/pen/jVOMgO

1. it should not cause the searchbox to grow and shrink.
2. if you press tab while in the searchbox, it goes to a mystery location.

[2016-11-04 10:47] fabianhussl opened #490 "TextField type="password""
Hi,
we are starting with office ui fabric react and want to realize a login-screen (user & password).
How can I get a TextField like <input type="password" />?

Regards,
Fabian

[2016-11-04 19:55] dzearing commented on #490
Hi @fabianhussl i played with it here:

http://codepen.io/dzearing/pen/ZBEVzw

And realized passing through type doesn't work. So I made a PR here:

https://github.com/OfficeDev/office-ui-fabric-react/pull/492

Will be published with the next build.

[2016-11-04 20:41] dzearing commented on #489
Eddie maybe you can take a look?

[2016-11-04 20:45] amygl opened #493 "Datepicker variant - No input text box"
Need a datepicker variant that will launch the datepicker when clicking on a button. This is in a scenario where there isn't space for the input box.

Something like below:
![image](https://cloud.githubusercontent.com/assets/10605976/20021810/cc185a88-a294-11e6-853e-58a25cf316e3.png)

[2016-11-04 22:24] dzearing opened #496 "Dialog: missing an animate in style."
It should be animating in but is missing the animation.

[2016-11-04 22:27] dzearing commented on #490
This has been merged.

[2016-11-04 22:27] #490 closed

[2016-11-04 22:42] dzearing commented on #493
I agree. I don't think it would be a difficult refactor but it makes sense to me. If you'd like to take a stab at a PR we'd gladly take a look.

[2016-11-05 12:58] Solwo commented on #481
Hmm, for now I can't reproduce this issue, even on the original project. It seems, it depends on some timings. Let's close this issue for now. In case when I reproduce this issue in minimalist environment, I'll post details.
    I've used the 'redux' and react-routing libraries. The page hosted on the SharePoint web part. Typing in the SearchBox control should immediately update the redux store wh

[2016-11-07 05:17] vashitaArora opened #498 "Dropdown remains open even if i click outside it"
for all browser except IE, dropdown does not lose focus even if i click outside of dropdown (somewhere in the same window)
it collapses only if i click outside the current window.

Expected behavior: as soon as i click outside the dropdown, it should lose focus
Reason: currently dropdown collapse is bind to focus out event of window

[2016-11-07 05:18] #498 closed

[2016-11-07 05:19] vashit opened #499 "dropdown does not lose focus even if i click outside"
for all browser except IE, dropdown does not lose focus even if i click outside of dropdown (somewhere in the same window)
it collapses only if i click outside the current window.

Expected behavior: as soon as i click outside the dropdown, it should lose focus
Reason: currently dropdown collapse is bind to focus out event of window

[2016-11-07 08:05] fabianhussl commented on #490
hi @dzearing,
thank you for your quick reaction!
If I set package.json dependecies to `"office-ui-fabric-react": "=0.66.0"` it still don' work with `<TextField type='password' />`.

I do not know myself so well, but can it be that this change is not yet included in the npm package?

[2016-11-07 18:59] dzearing opened #501 "ContextualMenu, Callout, etc: add targetSelector"
Right now it's a royal pain to use "targetElement" to target a contextual menu at something. Instead please support "targetSelector" so we can do stuff like:

[code]

[2016-11-07 19:01] dzearing opened #502 "DetailsList: small amount of horizontal scrolling visible in default rendering."
There should be no extra horizontal scroll bar by default using justified layout, but there's about 2 px extra.

[2016-11-07 19:31] joschect commented on #501
Hey,

I think I'm going to just change the targetElement property to accept types of either HTMLElement or string so that we can reduce prop clutter.

[2016-11-07 19:38] dzearing commented on #462
To distill this:

1. Clicking on check buttons acts as a form post when details list inside a form. This is because the event isn't being canceled even though it is handled. Repro here:
http://codepen.io/dzearing/pen/WovrqY?editors=0010

2. In single selection mode, clicking on the checkboxes still allows multiple selection.

3. Also noticed that pressing space bar isn't canceling the event.

I be

[2016-11-07 19:41] dzearing commented on #375
@TBag I would like to close this issue. If you have a bug or feature request, please feel free to re-open.

[2016-11-07 19:41] #375 closed

[2016-11-07 19:50] dzearing commented on #373
Please let us know if there is an issue you're seeing.

For now I've created a codepen to illustrate the command bar usage. If you can repro the issue there  that would be helpful.

http://codepen.io/dzearing/pen/ENjKPy

[2016-11-07 19:50] #373 closed

[2016-11-07 19:52] dzearing commented on #499
you need to implement `onDismiss` and remove/hide it.

Example here:

http://codepen.io/dzearing/pen/WovrbX

If you're still having issues, feel free to alter the codepen for the repro. Or if you have a suggestion feel free to re-open this issue with a feature request.

Thanks!

[2016-11-07 19:52] #499 closed

[2016-11-07 19:54] TBag commented on #375
@dzearing We have not had time to test it out but it's on our list. I'll let you know as soon as we try it out.

[2016-11-07 19:55] dzearing opened #503 "DirectionalHint: should have near/far values, ContextualMenu default should be bottomNearEdge"
It is a burden to have every scenario check RTL flags to do the right thing, so we should have near/far values rather than left/right.

Also, ContextualMenu defaults to `rightCenterEdge` which is totally wrong and should default to `bottomNearEdge` or `bottomAutoEdge`.

[2016-11-07 23:08] dzearing opened #506 "Link: ms-Link font-family should "inherit" rather than define any font details."

[2016-11-07 23:13] dzearing opened #507 "DetailsList: Select All icon doesn't show background color in some cases"
Repro
Get a detailsList with just a few items
Click first row to select it
shift-click last row to select all

Expected:
Select all icon background is theme colored like this:
![image](https://cloud.githubusercontent.com/assets/1110944/20080052/81160322-a4fc-11e6-9443-ac5887ea32ef.png)

Resulted:
Select all looks like this:
![image](https://cloud.githubusercontent.com/assets/1110944/20080075/9ee9a

[2016-11-07 23:13] mikewheaton commented on #506
Right now all of the components apply the `ms-baseFont()` mixin, defined [here in Fabric Core](https://github.com/OfficeDev/office-ui-fabric-core/blob/21d51b669673631272dcd5eac56c242657edf350/src/sass/_Fabric.Typography.Mixins.scss). The problem is that these aren't localized, so changing an app's language will only affect classes like `ms-font-m` and not the components.

A solution is to only set

[2016-11-07 23:13] dzearing commented on #507
Eddie I think this may have something to do with the changes you were making to the checked icon. Im not quite sure. Could you take a look?

[2016-11-08 03:31] dzearing commented on #506
The `.ms-Fabric` class already does add the definition. DetailsList relies on this, for example, so if you don't wrap it in Fabric, then you get a Times New Roman styled list. But if you use a `Link` in a `DetailsList`, it will pick up the baseFont one. So ... if we just remove the Link's hardcoded font styling, it can behave consistently.

[2016-11-08 06:32] dzearing opened #510 "Breadcrumb: Focus rect is wrong"
When you click on an item in breadcrumb, it shows a focus rectangle, when it should only be doing this if the keyboard is pressed (it is not using the mixin)

![image](https://cloud.githubusercontent.com/assets/1110944/20089173/ec502b80-a539-11e6-85f2-f17dfeee594f.png)

If you arrow left/right, it shows a weird fat 2px focus rectangle:

![image](https://cloud.githubusercontent.com/assets/1110944/2

[2016-11-08 06:34] dzearing opened #511 "Breadcrumb: if an item doesn't have an onClick it still looks clickable."
We should be rendering non-clickable entities as non-clickable. Instead it has a hover state and cursor treatment.

[2016-11-08 06:36] dzearing opened #512 "Breadcrumb: Hover states don't match OneDrive"
Hover state:
![image](https://cloud.githubusercontent.com/assets/1110944/20089273/8ce9a116-a53a-11e6-954c-4ce26552b169.png)

OneDrive hover:
![image](https://cloud.githubusercontent.com/assets/1110944/20089286/9fd6beda-a53a-11e6-81bf-5b55109c2a37.png)

[2016-11-08 06:40] dzearing opened #513 "Nav: selection state can't be controlled by the consumer"
The Nav control has no way to control selection state from the consumer's perspective. All of the hash change logic in the Nav should either be removed or overrideable.

Take this codepen example:
http://codepen.io/dzearing/pen/ZBGNQg

Click on an item. Then click another. Then another. Notice selection state is changing. Why? I don't know. I didn't change anything.

We should allow the consumer t

[2016-11-08 06:41] dzearing commented on #513
@cmalonzo fyi

[2016-11-08 06:45] dzearing opened #514 "ContextualMenu: No way to make icons colored."
Expected:
`iconProps` on `IContextualMenuItem`

Resulted:
no way to colorize icons without onRender

[2016-11-08 06:55] vashit commented on #499
re-opening as the original bug was that dropdown should also lose focus when clicked anywhere else in the window.

[2016-11-08 07:11] dzearing commented on #499
Did you try to repro your issue in the codepen?

[2016-11-08 07:17] dzearing commented on #499
Sorry I misunderstoond and was thinking `ContextualMenu`. Here's the Dropdown example:

http://codepen.io/dzearing/pen/xRGXaL

The latest build has this fixed. Can you make sure you're on the latest build?

[2016-11-08 07:23] dzearing opened #516 "ContextualMenu: onDismiss not called on touch event outside of menu."
Open on iphone.

http://codepen.io/dzearing/pen/WovrbX

Tap on button to expand
Tap anywhere outside of menu/button

Expected:
onDismiss called

Resulted:
nothing

[2016-11-08 07:43] vashit commented on #499
i was able to rero this on the demo site: https://fabricreact.azurewebsites.net/fabric-react/master/#/examples/dropdown
but not on code-pen.
commit da3cd079fe15cdd6263947784385725055e25ef5 seems to be the fix which is not yet reflected for me on the demo site

[2016-11-08 10:13] pablonete opened #517 "DetailsList: Allow resizing columns in justified layout"
DetailsList switches to fixedColumns layout when any column is resized, regardless of the layoutMode prop. Culprit is this line: https://github.com/OfficeDev/office-ui-fabric-react/blob/master/src/components/DetailsList/DetailsList.tsx#L591

This may be seen like a bug. Instead, I would expect the new size to be respected and the rest of columns to adapt themselves in order to keep the justified o

[2016-11-08 15:04] DariuS231 opened #518 "SearchBox component causes page reload on clear input button click"
In some cases, when the the clear input button is clicked, the page gets reloeaded

[2016-11-08 18:10] dzearing opened #520 "Foundational: Move to css modules."
Recommendation:

Instead of outputing `ms-Link` class, we enable css modules to obfuscate the classes.

That way if a downstream dependency defines ms-Link, we don't collide. This also potentially enables side by side versioning where we have 2 copies of a component on the same page.

The downside is that it really removes some of the configurability of a component. For example, a `ContextualMenuI

[2016-11-08 18:12] dzearing opened #521 "Foundational: Restructure the repo to use NPMX for supporting smaller packages."
Currently the entire repo is one giant package with top-level entry points. We want to break this down into smaller packages.

In order to support smaller packages, we need tooling to be updated so that we can support npm installing in many directories quickly. We also need the tooling to automate building many things in the right order, and also to automate publishing new updates.

NPMX will help

[2016-11-08 18:17] dzearing commented on #518
Definitely a bug when nesting in a form. Repro here:

http://codepen.io/dzearing/pen/WovWLy

[2016-11-08 18:38] dzearing opened #522 "Nav: does not support adding className to root"
Can't easily style the nav via a `className` or `style`.

[2016-11-08 19:32] dzearing commented on #518
In PR.

[2016-11-08 21:49] yaananth commented on #481
+1 to the issue. Can we reopen it?
Setting breakpoints as you said will make the issue not repro :(

This is what I did...
Launch a dialog from another dialog, then close the launched one.

![image](https://cloud.githubusercontent.com/assets/12280011/20118555/eecceeb8-a5d2-11e6-8711-7767453b04e9.png)

![image](https://cloud.githubusercontent.com/assets/12280011/20118569/fcd7f11a-a5d2-11e6-875c-ca0

[2016-11-09 00:02] dzearing commented on #481
I've re-opened. I will ask the devs who worked in this area to take a look.

If you see an obvious fix here, feel free to submit a PR to speed up the process.

[2016-11-09 00:09] dzearing commented on #518
This is now resolved and published, along with a number of other searchbox issues. Please let us know if you see any additional issues.

[2016-11-09 00:09] #518 closed

[2016-11-09 11:54] DariuS231 commented on #518
Awesome!!! Thank you, I haven't been able to test it in my environment though.

I'm having some issues after upgrading the package version from 0.60.0 to 0.68.0. Was there a mayor dependency change on version 0.61.0 that I need to apply on mi project as well??

[2016-11-09 16:01] dzearing commented on #518
Typescript 2 compiler.

[2016-11-09 18:30] mikewheaton commented on #506
Nice, I didn't realize that was implemented in the base `ms-Fabric` component. 😄  So we should remove `baseFont()` from all of the components, right?

[2016-11-10 20:22] rickyp-ms commented on #86
This looks similar to https://github.com/OfficeDev/office-ui-fabric-react/issues/496... possible duplicate?

[2016-11-10 20:28] dzearing commented on #496
Duplicate of #86

[2016-11-10 20:28] #496 closed

[2016-11-10 20:28] dzearing commented on #86
Closing other bug. Assigning this to Mike. Hope you can get this fixed soon. :) It's really jarring.

[2016-11-11 01:45] cliffkoh opened #531 "Documentation: Components should indicate if they take native props"
https://fabricreact.azurewebsites.net/fabric-react/master/#/examples/label#Implementation

Looks really weird for instance and almost looks like it takes no props at all.

[2016-11-11 04:31] #86 closed

[2016-11-11 12:38] Parataku opened #533 "TimePicker Component"
I would like to request some kind of TimePicker, or maybe a TimePicker mode for the DatePicker.

[2016-11-11 16:48] mikewheaton commented on #533
I've added this to our [Trello board](https://trello.com/c/PTliciJ8), where we track requests for features and components.

[2016-11-11 16:48] #533 closed

[2016-11-11 17:43] dzearing commented on #517
Given the current "justified layout" algo, there are a bunch of really unexpected user experiences created by this. For example because of min/max values, resizing something towards the right to give more room on the left could result in columns on the right getting smaller. Or resizing something smaller suddenly gives more room for an extra column (we "drop off" columns that can't fit) so we sudd

[2016-11-11 17:45] dzearing commented on #531
I would also want the ui to expose if the interface extends another interface.

[2016-11-11 17:47] dzearing commented on #511
I think non clickable things should render as divs/spans or whatnot, rather than buttons. Clickable things should be buttons.

[2016-11-11 17:48] dzearing commented on #486
Maybe @eliblock12 you could help with this. i think it will be needed.

[2016-11-11 17:50] dzearing commented on #481
ping.

[2016-11-11 17:51] dzearing commented on #479
We need `selectedKey` as an input which, if provided, is used as the truth of the state. Right now there is no way to change `selectedKey` externally which is a pretty ugly oversight.

[2016-11-11 18:00] dzearing commented on #478
Repro:
http://codepen.io/dzearing/pen/ENPzYM

[2016-11-11 18:02] dzearing commented on #478
@yiminwu May affect some of your scenarios. Could you investigate?

[2016-11-11 18:15] dzearing commented on #269
http://codepen.io/dzearing/pen/woMbgP

Looks fixed. Closing.

[2016-11-11 18:15] #269 closed

[2016-11-11 18:15] dzearing commented on #189
@atneik is this fixed now?

[2016-11-11 18:21] justinmwarner commented on #328
@mikewheaton and @dzearing

The buttons are specified by the consumer.  It's not something we specify in the MessageBar.

Also, in the redlines given, it says "Uses standard button".  I'm not sure what this means.  What is a standard button if not the default button Fabric uses?

As for padding, I'll look into this.

[2016-11-11 19:03] jhsu opened #536 "How are styles loaded and overwritten?"
I see that scss files are imported in their corresponding components, but how does `loadStyles` from `load-themed-styles` get called to apply overrides on top of the styles? can this happen at render time or only when something like webpack is used to build the bundle?

thanks!

[2016-11-11 19:44] ericthompson opened #537 "Add icon looks terrible at 14px but ok at 15px within ContextualMenu and CommandBar"
Comes from [this closed issue in Fabric Core](https://github.com/OfficeDev/office-ui-fabric-core/issues/835):

**Filed by @dzearing on November 7th, 2016**

ContextualMenu and CommandBar seem to use 14px, which looks like this:
![image](https://cloud.githubusercontent.com/assets/1420854/20228006/1a23bb68-a804-11e6-93ca-d47c30885055.png)

If I bump it to 15px (or 17 or 19 but not 13) it is clear:
!

[2016-11-11 20:44] ericthompson commented on #517
Can we see a demo of the behavior we're seeing currently?

[2016-11-11 20:45] ericthompson commented on #512
Yep - this isn't right. Looking into it.

[2016-11-11 20:46] ericthompson commented on #511
Could we get a screenshot?

[2016-11-11 20:46] ericthompson commented on #510
Waaaayyyy too big!

[2016-11-11 20:51] ericthompson commented on #493
@amygl - could we get a screenshot showing the whole view? We're just trying to get a sense of the context.

[2016-11-11 22:08] dzearing commented on #511
Just try it. Here's a bunch of breadcrumbs that don't have onClicks.

http://codepen.io/dzearing/pen/QGNLVZ?editors=0010

[2016-11-11 22:16] dzearing commented on #517
@ericthompson I can show you in person what he means.

[2016-11-12 00:11] dzearing commented on #536
@jhsu, if you take a look at any of the .scss.js files that get produced in lib, they do this:

[code]

So, if you use webpack and bundle the Button, it will pull in the scss module and load the css on load. So we will only load what you bundle.

[2016-11-12 18:23] tleunen commented on #536
Does it mean that all sass variables are transformed into the specific format for `load-themed-styles`?

I wonder, it's more a question for the themed-styles than for fabric-react, but, is it possible to create an external css file with this solution?

[2016-11-14 10:16] candril opened #541 "DatePicker: Null or empty values produce two react warnings in the console log"
I have a DatePicker component where I'm setting the date conditionally:

[code]

If `publishingDate` is null I get the follwing two react errors/warnings in the console:

[code]

[The problem is that we are setting `null` as value for the underlying textbox:](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/src/components/DatePicker/DatePicker.tsx#L69)

An empty string shoud be used

[2016-11-14 23:11] MLoughry opened #542 "Checkmark icon can cause ContextualMenu to get a scrollbar"
When the last item in a ContextualMenu has a checkmark icon, it can cause the menu to gain a scrollbar when it shouldn't have one.

![image](https://cloud.githubusercontent.com/assets/20823465/20286631/9756e040-aa7c-11e6-819b-68cc4c0d5171.png)

[2016-11-15 12:21] serkan-inci commented on #514
It would also be great if making coloring was optional. We have our own icons where some of them specify their own colors using css. However, this styles are overridden by the blue color specified by ```ms-ContextualMenu-icon```.

[2016-11-15 17:22] dzearing commented on #514
Turns out that this is doable:

http://codepen.io/dzearing/pen/WovrbX

However it's fragile and I don't think I'd recommend this as the recommended pattern.

You can add classNames to individual items and target the icon like so:

[code]

[2016-11-15 20:21] serkan-inci commented on #514
Your suggestion wouldn't work for us because we already have a lot of icons defined like:

    .icon-add { color: green; }
    .icon-delete, .icon-cancel { color: red; }
    ...

I can add !important to all of them but this is not what I want to do. Anyway, I'll think more to see what can be done here.

[2016-11-15 20:32] dzearing commented on #514
I see, yes you really want `iconProps` like i suggested above. It's not hard to add! Feel free to make a PR if you want it in relatively soon. We can get it published same day.

[2016-11-15 20:33] joschect commented on #514
Hey, I've started on a PR already, will you need anything otherthan style for the icon? It seems like most of the other props would be unnecessary for now.

[2016-11-15 20:35] dzearing commented on #514
I think it would make sense if you're adding an `Icon` component, which uses `IIconProps`, then we just let you pass that through here. That would ensure that if we add other icon props in the future it extends here.

[2016-11-16 00:57] leddie24 commented on #489
Hey @dzearing,

1.  Looks like .ms-Dialog-main has a min-width and max-width set, but not an explicit width set if the window width is > 480px.  This allows .ms-SearchBox-field to grow/shrink with the extra (LTR) padding on focus.  I I think our 2 solutions are either set a width on .ms-Dialog-main for window width > 480px, or (the less ideal solution) remove the LTR padding.  I'll try to find ano

[2016-11-16 01:48] #542 closed

[2016-11-16 01:49] dzearing commented on #537
I'm not really sure this makes sense to track here since there's nothing to change at this layer. Could we keep the issue tracked in core? (If we want to track.)

[2016-11-16 01:50] dzearing commented on #514
This is now published in 0.70.0. You can now pass in iconProps in contextualmenuitems. Thanks @joschect !

[2016-11-16 01:50] #514 closed

[2016-11-16 01:56] joschect commented on #514
@serkan-inci Hey! quick note too, since icon is now deprecated, you should use iconName in IconProps to specify which icon you want to use. Definitely let me know if you run into any issues!

[2016-11-16 01:58] kkzhang opened #549 "Datepicker should be clearable"
When user select date by Datepicker, there's no way to clear input. Due to an date field may be optional, it is better to provide some approach to clear that.

[2016-11-16 03:33] kkzhang opened #550 "Dropdown label existed even didn't assign it"
Dropdown's label behave differently compare to TextInput.
When no "label" provide to TextInput, label element is disappeared, but dropdown still preserve an empty label element, which take some spaces.

[2016-11-16 04:33] dzearing commented on #550
Addressed in PR https://github.com/OfficeDev/office-ui-fabric-react/pull/551

[2016-11-16 05:33] dzearing commented on #541
Fixed in PR https://github.com/OfficeDev/office-ui-fabric-react/pull/553

[2016-11-16 06:20] dzearing commented on #549
Addressed in PR: https://github.com/OfficeDev/office-ui-fabric-react/pull/553

[2016-11-16 06:28] dzearing commented on #536
yes that's right. They are transformed into an array of strings/objects (as a performance optimization for processing them).

In part it was done because we have theming capabilities at that layer that we plan to refine and extend so that it's really easy for partners to create custom themes.

The other reason was because it removes depending on webpack loaders to process the scss.

We've evaluate

[2016-11-16 06:45] dzearing commented on #521
Complete.

[2016-11-16 06:45] #521 closed

[2016-11-16 06:46] dzearing opened #554 "DatePicker: should work without props"
[code]

doesn't work.

[2016-11-16 06:48] dzearing opened #555 "Dialog: should render without having to transition from hidden to visible."
Repro with latest build here:

http://codepen.io/dzearing/pen/jVOMgO

[2016-11-16 06:48] dzearing commented on #555
I believe this was busted with the fade in changes.

[2016-11-16 11:21] iliesalex89 opened #556 "NormalPeoplePicker unique key"
Hello. I'm using "NormalPeoplePicker" component and after selecting an item from suggestions list, I receive this common react warning:

Warning: Each child in an array or iterator should have a unique "key" prop. Check the render method of `NormalPeoplePicker`. See https://fb.me/react-warning-keys for more information.
    in Unknown (created by NormalPeoplePicker)

Let me know please if there is

[2016-11-16 15:09] gabrielruss opened #557 "SharePoint classic page: css in classic adds extra space to BUTTON and other elements, which breaks fabric-react styling."
Hello, I am new to React so this could just be an issue with my code but I am seeing an issue with the spacing on the ContextualMenu when adding a href vs a onClick property to the menu items.

![image](https://cloud.githubusercontent.com/assets/8887997/20352192/6e37abf4-abe4-11e6-865a-1c2a3851cf62.png)

And here is the code snippet from my component.

![image](https://cloud.githubusercontent.com/

[2016-11-16 15:59] gabrielruss commented on #557
Ok I found the culprit...still not sure why it is doing this though.

![image](https://cloud.githubusercontent.com/assets/8887997/20354274/9b7da54e-abeb-11e6-82af-80ce423ce100.png)

SharePoint's css is placing a margin-left: 10px.

Is this something I will need to manually style back into place?

[2016-11-16 16:12] kevin-work opened #558 "Angular 2"
I was wondering if it is possible to use React with Angular 2 at the moment?

[2016-11-16 16:56] amygl commented on #493
Here's a screenshot of the existing view using jquery datepicker. We are working on migrating over to using Office Fabric React. We have a quick date picker that can quickly launch from a card and want to use fabric's date picker here.  The full date picker (with input box) is seen on a details pane.
![image](https://cloud.githubusercontent.com/assets/10605976/20356721/4218b46e-abda-11e6-9097-5873

[2016-11-16 20:39] dzearing commented on #558
Have you tried this?

https://www.npmjs.com/package/angular2-react

[2016-11-16 22:44] halallahh opened #564 "NavBar component?"
No Navbar component?

[2016-11-16 22:55] mikewheaton commented on #564
The [CommandBar](http://dev.office.com/fabric#/components/commandbar) can be used for both navigation and commanding. Does this suit your needs?

[2016-11-16 23:40] #555 closed

[2016-11-17 00:10] phkuo commented on #557
Hey there,

It looks like you're trying to use our controls in Classic SharePoint, not the Modern experience. In Classic SharePoint, we have a lot of CSS to override browser defaults. That means, if you drop a button on the page, it will automatically be styled to look like all other SharePoint buttons. Fabric React uses a different philosophy, where we don't want to affect anything else on the pa

[2016-11-17 02:13] joschect commented on #556
@iliesalex89 Hey! Thanks for pointing this out. I have a pr in now that will fix this. It should be in the next version.

[2016-11-17 02:16] kkzhang opened #567 "Dropdown on changed keep initial selection when call setState() in parent component"
A component like this:

                    <Dropdown onChanged={this.onContentChange.bind(this, 'operator')}
                        options={
                            [
                                {key: "", text: "请选择"},
                                {key: "dianxin", text: "电信"},
                                {key: "liantong", text: "联通"},
                                {key: "yidong

[2016-11-17 03:50] kkzhang opened #568 "Datepicker: Warning: `value` prop on `input` should not be null"
When click Datepicker component, an warning shows:

version: "office-ui-fabric-react": "^0.70.0"

[2016-11-17 05:21] mihaelams1 commented on #463
@chripi - by "not enforced" do you mean that the IContextualMenuItem is being styled as enabled regardless of the value of the isDisabled prop? Because this is what I noticed today, even down to the pointer cursor. I would label this as a bug, if you don't mind.

[2016-11-17 05:30] dzearing commented on #550
Published.

[2016-11-17 05:30] #550 closed

[2016-11-17 05:30] dzearing commented on #549
Fixed and published.

[2016-11-17 05:30] #549 closed

[2016-11-17 05:30] dzearing commented on #541
Published.

[2016-11-17 05:30] #541 closed

[2016-11-17 05:30] dzearing commented on #556
Published.

[2016-11-17 05:30] #556 closed

[2016-11-17 05:31] dzearing commented on #537
Closing this one.

[2016-11-17 05:31] #537 closed

[2016-11-17 05:31] dzearing commented on #558
Let us know if you have any more questions, thanks.

[2016-11-17 05:31] #558 closed

[2016-11-17 05:34] dzearing commented on #567
http://codepen.io/dzearing/pen/RoowBg?editors=0010

[2016-11-17 05:35] dzearing commented on #567
@eliblock12  I just made a quick repro linked above. Can you take a look?

Hint; change the CDN url to fabric react to point to localhost:4321/dist/ and you can see if your fix addresses :)

[2016-11-17 05:42] chripi commented on #463
Yes, a bug is fine too :)

[2016-11-17 05:44] dzearing commented on #463
Should be `disabled` flag.

[2016-11-17 05:46] dzearing commented on #568
This was fixed in today's published bits.

[2016-11-17 05:46] #568 closed

[2016-11-17 05:48] dzearing commented on #568
See issue https://github.com/OfficeDev/office-ui-fabric-react/issues/541
See PR: https://github.com/OfficeDev/office-ui-fabric-react/pull/553

published in 70.1 and above. :)

[2016-11-17 06:49] kkzhang commented on #568
@dzearing
After upgraded to 70.1, error messages were disappeared, but a new bug comes out. TextField in Datepicker didn't show current selectd value, looks like a same symptom of #567

[2016-11-17 11:12] serkan-inci commented on #514
@dzearing @joschect

This is a nice improvement but still doesn't solve our issue because ContextualMenu still dictates the blue color for the icons. We have a lot of icons where we display custom color for them through css which are global css entries.

I came up with something in my mind which may probably solve this issue. Please let me know if that does not make any sense.

Here is the commit:

[2016-11-17 17:01] mihaelams1 commented on #463
Just found the place where the IContextualMenuItems are rendered in the CommandBar, and neither `disabled` nor `isDisabled` are being used. See `_renderItemInCommandBar()` from CommandBar.tsx.

[2016-11-17 17:19] joschect commented on #463
Disabled does translate correctly onto the command bar item, however there is no css styling to indicate that the button is disabled. getNativeProps will pick up disabled as it is a native property to button.

[2016-11-17 21:25] willtrking commented on #564
I would imagine the component is closer to a Panel which floats left, and can be minified depending on screen size, and doesn't force every click externally to the panel to highlight the close button.

[2016-11-17 21:42] willtrking opened #570 "Panel: isBlocking attribute doesn't remove overlay"
As the title states the isBlocking Panel attribute doesn't correctly remove the overlay. It looks like the overlay is hardcoded into the render function of the Panel, even though a few lines above there is a check for the blocking attribute.

https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/Panel/Panel.tsx#L114

From there you can see t

[2016-11-18 00:42] pradeepna opened #574 "TextField control does not support password type"
We use TextField in our web application and we have a requirement to represent an input that accepts passwords. However, the latest implementation of the text field does not allow to set that property.

The office fabric version we are using is 0.66.0.

[2016-11-18 00:46] pradeepna opened #575 "SearchBox should clear when 'Escape' key is hit while searching"
The user should be able to clear the search box by using 'escape' key when typing a term in the search box.

[2016-11-18 00:54] dzearing commented on #575
What version are you using? this was fixed recently.

http://codepen.io/dzearing/pen/WovWLy

[2016-11-18 00:54] #575 closed

[2016-11-18 00:59] pradeepna commented on #575
Super.  Thanks for the super quick reply. We are using 0.66.

Regards,
Pradeep

[2016-11-18 01:03] dzearing commented on #68
This is done.

[2016-11-18 01:03] #68 closed

[2016-11-18 01:03] dzearing commented on #1
There is now an icon button.

[2016-11-18 01:03] #1 closed

[2016-11-18 01:03] dzearing commented on #4
These have been resolved.

[2016-11-18 01:03] #4 closed

[2016-11-18 01:04] dzearing commented on #23
I think for the most part this has been done.

[2016-11-18 01:04] #23 closed

[2016-11-18 01:05] dzearing commented on #56
This has been resolved

[2016-11-18 01:05] #56 closed

[2016-11-18 01:07] dzearing commented on #347
For now we are going to close this. We have feature requests archived so as we grow the library, we will consider this in our backlog.

[2016-11-18 01:07] #347 closed

[2016-11-18 01:09] dzearing commented on #575
no problem :)

[2016-11-18 01:11] dzearing commented on #127
We have an isOpen flag now (which should be renamed to `hidden`, as the default value should be true.)

[2016-11-18 01:11] #127 closed

[2016-11-18 01:12] dzearing commented on #557
I've notified the sharepoint folks in chart of the modern webparts integration in classic pages, and they will evaluate how this can be generally avoided on our end.

Thanks.

[2016-11-18 01:12] #557 closed

[2016-11-18 01:17] dzearing commented on #369
This is now resolved and you can provide `type` as an option in `button`.

[2016-11-18 01:17] #369 closed

[2016-11-18 01:26] pradeepna commented on #520
@dzearing, this is going to impact us hard. What is the level of configurability we can expect here? We have overridden a few styles using class names now and we need to react to this at the earliest.

Regards,
Pradeep

[2016-11-18 01:36] Jahnp commented on #520
It would be great if we could identify some way to support both moduled and non-moduled CSS scenarios. There are significant pros and cons to each approach, and really address different audiences. While CSS classes are a brittle contract, they simply are the way deep visual UI configurability is achieved without overloading props for child elements/components.

[2016-11-18 02:09] dzearing commented on #574
http://codepen.io/dzearing/pen/ZBEVzw?editors=0010

Just add `type=password`. Please use the latest builds, this was also fixed recently.

[2016-11-18 02:09] #574 closed

[2016-11-18 02:10] dzearing commented on #480
I believe this has been fixed.

[2016-11-18 02:10] #480 closed

[2016-11-18 02:11] dzearing commented on #536
Please free to ask additional questions, I'll close this one for now.

[2016-11-18 02:11] #536 closed

[2016-11-18 02:13] #328 closed

[2016-11-18 02:14] dzearing commented on #125
This has been significantly revamped. I believe it should be much better now.

[2016-11-18 02:14] #125 closed

[2016-11-18 02:22] dzearing opened #576 "Choicegroup: missing defaultSelectedKey and selectedKey"
We should have the ability to provide one of these, mutually exclusive.

[2016-11-18 02:24] dzearing commented on #568
I believe this is tracked in a separate bug I opened. We'll sort this out.

[2016-11-18 03:33] dzearing commented on #69
This was done.

[2016-11-18 03:33] #69 closed

[2016-11-18 03:34] dzearing commented on #70
Closing for now. We will stick with the standard.

[2016-11-18 03:34] #70 closed

[2016-11-18 03:35] dzearing commented on #64
This works as intended.

[2016-11-18 03:35] #64 closed

[2016-11-18 03:36] dzearing commented on #189
Fixed.

[2016-11-18 03:36] #189 closed

[2016-11-18 03:39] dzearing commented on #463
published 0.71.1

[2016-11-18 03:39] #463 closed

[2016-11-18 03:47] mihaelams1 commented on #463
Thank you for addressing it so fast! :)

[2016-11-18 23:26] ericthompson commented on #564
@willtrking - I think [this nav component](http://dev.office.com/fabric#/components/nav) may encompass what you're thinking of.

@halallahh - would that suit your needs?

[2016-11-18 23:40] dzearing commented on #417
I believe this was exposed in fabric-core.

[2016-11-19 00:07] mikewheaton commented on #417
It hasn't been moved to Fabric Core yet. This mixin is still only in Fabric React.

[2016-11-19 08:55] halallahh commented on #564
I think CommandBar suit what I need now just confused about the name. Thanks all.

[2016-11-19 18:10] mikewheaton commented on #564
Glad to hear that, @halallahh – I'll close this issue. 😄

[2016-11-19 18:10] #564 closed

[2016-11-19 18:27] pablonete opened #581 "DetailsList: Wrong width of last column header with CheckboxVisibility hidden"
### Bug Report

- __Package version(s)__: 0.69.0
- __Browser and OS versions__: N/A

#### Describe the issue:

With CheckboxVisibility.hidden, the last column header in a DetailsList doesn't get all the available space. There's a gap at the right end.

### Codepen repro:

http://codepen.io/pablonete/pen/dONmzy

[2016-11-19 18:49] mikewheaton commented on #581
It looks like [line 532 of DetailsList.tsx](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.tsx#L532) looks for a `none` value for the `SelectionMode` prop, but doesn't check the `checkboxVisibility` prop. @dzearing, should it check for both conditions?

[2016-11-19 22:48] guzmonne opened #582 "Slider: use type='button' on thumb to avoid form submits."
### Bug Report

- __Package version(s)__: ^0.69.0

#### Describe the issue:

The Slider component uses a button tag to encapsulate the different elements that compose the slider. By default, this component does not have set its type, which means that it takes the default value: submit.

This behaviour generates problems inside of my forms (built using react-redux) because every time a change event

[2016-11-21 07:56] pablonete opened #583 "ChoiceGroup: disabled attribute does nothing (options' does)"
### Bug Report

- __Package version(s)__: CDN latest (?) see codepen
- __Browser and OS versions__: N/A

#### Describe the issue:

Options can be disabled individually in ChoiceGroup, but `disabled` attribute doesn't work in order to disable the entire component. My use case is to disable all components in a view while saving, and doing at the component level would be cleaner than doing it per opt

[2016-11-21 16:29] chatdanai opened #584 "use office-ui-fabric-react as external js lib"
(Question)
Hi,

I'm newbie in React and and Fabric.
I create a small type script project and I want to use Fabric as external js.

In webpack.config.js

    externals: {
        "react": "React",
        "react-dom": "ReactDOM",
        "office-ui-fabric-react": "Fabric"
    }

react, and react-dom not include in my final js file.
but Fabric still in my js.

What wrong with my webpack.config.js?
P

[2016-11-21 16:47] pablonete opened #585 "Cannot disable button in CommandBar"
### Bug Report

- __Package version(s)__: CDN latest

#### Describe the issue:

`isDisabled` property is ignored by CommandBar. It works in ContextualMenu.

#### Actual behavior:

Button with `isDisabled` property shows up enabled.

#### Expected behavior:

It shows up disabled.

### codepen repro:

http://codepen.io/pablonete/pen/pNeWWg?editors=0010

### Side question
Should `IContextualMenuItem.

[2016-11-21 18:37] dzearing commented on #585
1. It IS renamed to disabled.
2. It does respect the flag. It was recently fixed. the CDN latest isn't updating as fast as publishing is, which is a bit of a misleading issue. You can always repoint a codepen url to `localhost:4321/dist/...` and gulp serve to see the latest in action. But @joschect just fixed it and I just tested it. :)

[2016-11-21 18:37] #585 closed

[2016-11-21 18:42] dzearing commented on #584
My suggestions:

1. Don't externalize fabric.
2. In your imports, use the top-level imports to keep your bundle size small. For example:

[code]

This works for babel or typescript setups.

We are working on separating out smaller packages so that you can just import smaller packages, as loading the entirety of fabric-react is large and understanding which top level imports to address requires tha

[2016-11-21 18:44] dzearing commented on #583
@joschect can you check

[2016-11-21 18:55] joschect commented on #583
@dzearing Yep, this is a bug, should be a pretty easy fix I think.

[2016-11-21 20:18] dzearing commented on #581
Yes! good catch.

[2016-11-21 20:20] dzearing commented on #570
I'm not 100% sure what the expectation here is. I looked at the code mentioned and am confused by it. Matt could you maybe take a look?

[2016-11-21 21:20] pablonete commented on #585
Thank you, @dzearing!

Another side question: can you guys add a version comment at the beginning of the CDN js file, so we can check which version `latest` is? For reference see react.js, even the min.js displays the version number first thing on the file.

[2016-11-21 23:10] dzearing commented on #489
This is fixed.

[2016-11-21 23:10] #489 closed

[2016-11-21 23:33] #584 closed

[2016-11-21 23:42] dzearing commented on #582
This is now resolved and will be published today.

[2016-11-21 23:42] #582 closed

[2016-11-22 01:11] dzearing commented on #507
May be mac specific. It repros in products. (Select all, notice the background of select all box doesn't show up until hover...) Doesn't repro on windows.

[2016-11-22 01:21] guzmonne opened #593 "Typo inside Popup.tsx"
### Bug Report

There is a typo on the following file:

office-ui-fabric-react/packages/office-ui-fabric-react/src/components/Popup/Popup.tsx

Specifically the #66 line

https://github.com/OfficeDev/office-ui-fabric-react/blob/afd7c7d644a0674f69a6598d151f1dc3b5375a53/packages/office-ui-fabric-react/src/components/Popup/Popup.tsx#L66

This typo on the Panel `render` method makes React throw an erro

[2016-11-22 01:21] dzearing commented on #478
This is now merged and will be published shortly.

[2016-11-22 01:21] #478 closed

[2016-11-22 01:25] dzearing commented on #593
http://codepen.io/dzearing/pen/qqWXYP

I see the warning... new in 15.4.0 of React. Confused, because this is a valid attribute.

[2016-11-22 01:32] dzearing commented on #593
This is now fixed and will be published in the next batch of changes. Good catch.

https://github.com/OfficeDev/office-ui-fabric-react/commit/b20c82d2af8e8defadadeac42f8e23ca71025703

[2016-11-22 01:32] #593 closed

[2016-11-22 01:34] dzearing commented on #570
This should be resolved in the next publish.

[2016-11-22 01:34] #570 closed

[2016-11-22 03:53] chatdanai commented on #584
Thank @dzearing .

I changed import statement to

import * as Fabric from 'office-ui-fabric-react';

or

import { Button } from 'office-ui-fabric-react;

It works now.

[2016-11-22 06:16] iashishmittal opened #594 "Textfield's is not calling method passed for onGetErrorMessage prop for every re-render"
### Bug Report

- __Package version(s)__: 0.66.0
- __Browser and OS versions__: Chrome(latest) and Windows 10

#### Describe the issue:

I am using office fabric text box for displaying variable names.

![image](https://cloud.githubusercontent.com/assets/16335581/20512814/e5cb23d6-b0a7-11e6-8deb-bcc48aeb1175.png)

For my case, both variable name cannot be same. So if the variable names are duplica

[2016-11-22 16:45] serkan-inci opened #595 "Toggle: No way to specify class name for top level DOM element"
### Bug Report

- __Package version(s)__: 0.74.0
- __Browser and OS versions__: Any browser, Windows 10

#### Describe the issue:
Class name you specify for a component usually applies to top level DOM element but for Toggle, it's applied to inner button.

This makes overriding styles difficult where we now need to have something like below in our css which seems fragile (once you switch to css mo

[2016-11-22 16:48] serkan-inci opened #596 "Toggle: Make label optional"
We don't want to have any label and specify empty string. However, an empty DOM element still added to the tree and it takes up some space too.

It would be great label was optional.

I can work on this if you're OK with this feature request.

[2016-11-22 16:51] mikewheaton commented on #596
The label is optional for other form components like [TextField](http://dev.office.com/fabric#/components/textfield) and [ChoiceGroup](http://dev.office.com/fabric#/components/choicegroup), so it seems reasonable to make it optional on Toggle as well.

And yes, we're always happy to receive pull requests. 😄  If you follow the example of TextField and ChoiceGroup it should be no problem to get it i

[2016-11-22 18:21] dzearing commented on #596
I thought this was already there! I fixed it for ya and added some tests to validate.

The test forced me to realize that label is a required param (and then re-read your comments, which you stated that) so I fixed that too. Yay tests!

PR: https://github.com/OfficeDev/office-ui-fabric-react/pull/597

[2016-11-22 18:54] dzearing commented on #595
Also fixed this. 100% agree with the thought, it seems like a bug that className isn't on the container.

[2016-11-22 18:55] dzearing commented on #596
Will be published shortly.

[2016-11-22 18:55] #596 closed

[2016-11-22 18:55] dzearing commented on #595
Fix will be published shortly.

[2016-11-22 18:55] #595 closed

[2016-11-22 18:56] dzearing commented on #583
Fix is published.

[2016-11-22 18:56] #583 closed

[2016-11-22 23:14] MLoughry opened #599 "DatePicker's Calendar callout gets scrollbars in February 2015"
### Bug Report

- __Package version(s)__: 0.76.0

#### Describe the issue:

In the DatePicker, the Calendar Callout gets scrollbars when you navigate to February 2015, or any other February that falls wholly within 4 weeks.

![image](https://cloud.githubusercontent.com/assets/20823465/20545843/4faa1af0-b0c6-11e6-939a-3e432e0d3a7e.png)

#### Actual behavior:

Scrollbars appear in the callout

####

[2016-11-22 23:37] MLoughry opened #600 "Cannot override FocusZone direction in ContextualMenu for custom rendered items"
Currently, the FocusZoneDirection is locked to `vertical` for all ContextualMenus, even if the menu items are custom rendered. For example, see the `ContextualMenu customization example` on the demo page.

Ideally, a user would be able to override this default in cases where the menu items are custom-rendered.

[2016-11-22 23:41] dzearing commented on #493
This is now available as the `<Calendar />` component.

[2016-11-22 23:41] #493 closed

[2016-11-22 23:42] dzearing commented on #331
This is now complete.

[2016-11-22 23:42] #331 closed

[2016-11-22 23:42] MLoughry commented on #600
I have a branch `contextualMenu/focus` with the fix. However, I'll additionally add tests during/after the holidays to be more diligent before submitting for PR.

[2016-11-22 23:42] dzearing commented on #355
I believe this is all done.

[2016-11-22 23:42] #355 closed

[2016-11-23 02:32] cliffkoh opened #601 "TextField throws Textarea react warning in React 15.4.0"
### Bug Report

- 0.64.0

#### Describe the issue:

When `TextField` component is used to render a Textarea, the following warning occurs in console EVEN if a `defaultValue` was passed to `TextField`.

#### Actual behavior:
react-dom.js:18109 Warning: Textarea elements must be either controlled or uncontrolled (specify either the value prop, or the defaultValue prop, but not both). Decide between

[2016-11-23 06:02] dzearing commented on #601
Confirmed. Probably an easy fix.

http://codepen.io/dzearing/pen/ZBEVzw

[2016-11-23 10:25] kmees opened #603 "Callout: Anything using Callout will auto dismiss if positioning is offscreen and focus is set within"
### Bug Report

- __Package version(s)__: 0.76.0
- __Browser and OS versions__: Chrome 54 / OS X

#### Describe the issue:

When clicking a dropdown while the page is scrolled, the page will scroll to center the dropdown but not show any items

*scrolled*:
![scrolled](https://i.gyazo.com/7c65076e1b5e168d95517fc5c64613dd.gif)

*not scrolled* (removed all dom elements above with dev tools):
![not sc

[2016-11-23 15:28] tonymobster commented on #397
@Solwo just curious since you're using react-router, are you using it together with the Nav component? Is there any guidance on how to use the Nav together with react-router? I'm trying to use the two together but I get full page reloads. I also can't use IndexRoute, etc.

CC/ @dzearing @kmees

[2016-11-23 17:48] dzearing commented on #603
that's funny...

It seems related to nesting overflow areas inside each other.

[2016-11-23 19:15] dzearing commented on #603
I'm changing the title of this bug because it's a more general issue with Callout, which affects many things. If we set focus to something within callout, and the callout is rendered offscreen, a scroll event is generated which causes dismiss to be called.

[2016-11-23 19:24] dzearing commented on #603
Isolated repro
http://codepen.io/dzearing/pen/xRGXaL

[2016-11-23 19:25] dzearing commented on #603
The issue is that LayerHost is not being position fixed, but it seems the positioning code assumes that.

[2016-11-23 22:35] #603 closed

[2016-11-23 23:55] dzearing commented on #417
Opened fabric-core issue to track there https://github.com/OfficeDev/office-ui-fabric-core/issues/853

[2016-11-23 23:55] #417 closed

[2016-11-24 00:10] #601 closed

[2016-11-24 00:10] dzearing commented on #462
Fixed.

[2016-11-24 00:10] #462 closed

[2016-11-24 00:18] joschect opened #608 "Callout Dismiss does not pass through event that caused dismiss."
Callout dismiss does not pass through event that caused dismiss.

[2016-11-24 01:03] #608 closed

[2016-11-24 01:06] dzearing commented on #445
I've added inputClassName on TextField to push a specific class to the input element. That will help with the specific scenario.

[2016-11-24 01:06] #445 closed

[2016-11-24 02:47] dzearing commented on #567
Will be published in next batch.

[2016-11-24 02:47] #567 closed

[2016-11-24 02:48] fengyue1013 commented on #417
Thank you, David

[2016-11-24 19:30] mikewheaton opened #610 "Replace focus-border() mixin with Fabric Core's focusBorder()"
The `focusBorder()` mixin is being added to Fabric Core via [PR #854](https://github.com/OfficeDev/office-ui-fabric-core/pull/854). Once that has merged in and been released (most likely in Fabric Core 5.1.0) the `focus-border()` mixin within Fabric React can be removed.

Steps to take:
* Remove the `common/_focusBorder.scss` file and any references to it.
* Replace all calls to `focus-border()` w

[2016-11-25 08:48] mibes commented on #603
Build 0.77.1 fixes this issue on Chrome (54.0.2840.98) and Firefox (50.0) on OSX.

Unfortunately Safari (10.0.1) still demonstrates the same behaviour. The same is true for the embedded browser in Word.

[2016-11-25 13:42] twaddell opened #611 "Dropdowns do not open list of items"
- Firefox 50.0 Windows 10
- Chrome 54.0.2840.99 Windows 10

When clicking on a Dropdown component the list of items does not display.
Keyboard up/down still functions correctly and allows scrolling through items.

This is also occurring on the [Dropdown example page](http://dev.office.com/fabric#/components/dropdown)

[2016-11-25 14:25] biogenez commented on #611
same problem in IE & Edge

[2016-11-25 15:16] biogenez opened #613 "changing 'disabled' prop doesn't changed the state of Dropdown."
### Bug Report
#### Describe the issue:
changing 'disabled' prop doesn't affect to the component (after the first render).

There is no check for the new value of property **disabled** (only for deprecated **isDisabled**) in the func **componentWillReceiveProps**:

     if (newProps.isDisabled !== this.props.isDisabled) {
      this.setState({
        isDisabled: newProps.isDisabled !== undefined

[2016-11-26 20:51] dzearing commented on #611
This has been fixed in the latest build. The issue wasn't related to dropdown, but manifested from LayerHost not being positioned correctly at 0, 0 fixed, which was causing layered content to scroll the page up, which would in turn cause onDismiss to fire.

It's pretty simple to work around; you can either update to the latest build, or just add the style on your page:

[code]

The site will be pa

[2016-11-26 22:06] mikewheaton opened #615 "Button: Do not combine modifier with component class"
### Bug Report

- __Package version(s)__: 0.77.1
- __Browser and OS versions__: All

#### Describe the issue:

The Button component has various modifier classes (e.g. `.ms-Button--icon`) that are used for the button types. The way that these selectors have been written creates more specificity than is necessary, which makes it hard to style the buttons by passing in a `className` prop.

Below you

[2016-11-26 22:07] dzearing commented on #615
thx!

[2016-11-26 22:23] ryancole opened #616 "Refine and update server side rendering support"
I'm checking out Fabric in a project of mine. My project uses server side rendering. I've just spent the last hour or so plugging together some code and encountered the following error. This makes me thing that server side rendering is not yet supported. Is this something planned? I can't abandon server rendering, and it's looking like I may have to abandon Fabric. :(

[code]

[2016-11-26 22:27] dzearing commented on #616
There is a workaround here. On the server:

[code]

Can you try that?

[2016-11-26 22:29] dzearing commented on #616
Missing docs here. We'll need to include a blurb about SSR setups.

[2016-11-26 22:31] ryancole commented on #616
I'm not explicitly doing anything with the styles, yet. I'm just simply trying to render a `TextField` with whatever the defaults are.

Would I need to load these styles, and then somehow use them, everywhere that I use a Fabric component? Or is this something I do, once, prior to rendering on the server?

[2016-11-26 22:39] dzearing commented on #616
Say that you load 5 `Button` components and a `TextField`. This function will be called 2 times, for each unique component css that needs to be loaded.

You just need to take the strings and inject it into a `<style>` element on your page. That way the components will show up styled correctly and you won't be looking at a broken page while waiting for some CSS to load.

[2016-11-26 22:47] ryancole commented on #616
Hmm, OK I think I'm understanding. Before I proceed with what I think I'm understanding (lol), would you mind clarifying something that I just came across. I came across this test file that looks related to SSR. It uses a function that I'm not using, yet.

https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/ssr-test.js#L17

[code]

Is this required?

[2016-11-26 22:49] dzearing commented on #616
Nope. It's specifically for testing ssr cases. In some circumstances we need to tell our helpers that window and document are undefined to simulate an ssr environment. We should probably have named it `__setSSRTestingMode` to be way more clear! :)

[2016-11-26 23:08] ryancole commented on #616
No worries, thanks for explaining.

So based on your prior answer about the styles, and skimming the code, it sounds like Fabric is not using inline styles but is attempting to inject styles into a `style` element at run time? This means my current configuration is failing while rendering on server because the code trying to reference `document` is failing with the above message.

So, the fix is t

[2016-11-26 23:22] dzearing commented on #616
Correct, for the components we're not using inline styles. Instead we convert our sass output into commonjs modules that inject `style` elements at runtime efficiently on demand.

Answers to questions:

If you provide a function callback that burns on the styles, the components you render on server will be styled correctly.

I don't think you will want to create a static stylesheet. It defeats the

[2016-11-26 23:33] ryancole commented on #616
Got it. I think here's my last question now that I'm understanding how this works ...

In your initial explanation regarding multiple `Button` and a `TextField`, that sounds like a pretty simple example where you have all of those within the same React component and know that you only need those 2 Fiber components' styles there, right? What about a real world scenario where I will have many React

[2016-11-27 00:11] jaygazula27 opened #618 "How can I avoid usage of fonts which have an MIT license?"
I'm really liking this collection of components, but I do have a quick question about the fonts license.

In the README, it says that the files in this repo are subject to the MIT license. But it also goes on to say that the fonts referenced in these files have a different license.
How can I make use of these components but at the same time not accidentally make use of the fonts with the other lic

[2016-11-27 00:18] ryancole commented on #616
Alright, well, after messing around with your suggestion I've got the application rendering on the server. I literally don't think it's doing anything, but it appears to be tricking the Fabric code, on the server, into not touching `document`, which allows the server rendering to proceed.

I'm not creating any `style` elements or anything. I'm simply printing the styles out, to stdout, using `cons

[2016-11-27 01:33] mikewheaton commented on #618
As you've seen, usage of the Segoe UI web font (as well as icons, brand logos, etc.) is subject to the [Fabric assets license](https://static2.sharepointonline.com/files/fabric/assets/license.txt).

A new version of this license will be released shortly but the basic premise is the same: you may only use these fonts and icons for projects that "extend the Office User Experience including: Office A

[2016-11-28 02:32] jaygazula27 commented on #618
@mikewheaton Thank you so much for your response!
I think it would be best if I just stay on the safe side for now. I'm afraid that it might be too easy for me to miss an override which results in me breaking the license.

I can only hope that the open source alternatives are used. But nonetheless, I've loved these components thus far!

[2016-11-28 02:33] #618 closed

[2016-11-28 04:40] dzearing commented on #613
Fixed, will be published tomorrow.

[2016-11-28 04:40] #613 closed

[2016-11-28 10:30] twaddell commented on #611
Still occurs on 0.77.1

I use the following code snippets on my page:
`import { Dropdown } from "office-ui-fabric-react/lib/Dropdown"`

`<Dropdown
label='Basic example:'
options={
  [
    { key: 'A', text: 'Option a' },
    { key: 'B', text: 'Option b' },
    { key: 'C', text: 'Option c' },
    { key: 'D', text: 'Option d' },
    { key: 'E', text: 'Option e' },
    { key: 'F', text: 'Option f' },

[2016-11-28 17:35] dzearing commented on #616
I think I understand what you're hitting. I haven't touched SSR on my end, but I have colleagues that are dealing with this right now and will get their take on how they are approaching this.

If I'm understanding correctly, what may be getting in the way here is that the styles are only injected on initial load when the module graph is parsed. That means on subsequent server renders, where the co

[2016-11-28 18:39] joschect commented on #442
@yaananth Hey, this was added recently. Instead of using icon, you can use iconProps to pass in any HTMLElement props to the icon. For icon name you'll want to pass in IconName.None and then you should be able to pass in styles as well which would include your iconurl. For example: `items=[{
                  key: 'newItem',
                  iconProps: {
                    iconName: IconName.Non

[2016-11-28 19:25] yaananth commented on #442
cool!! thanks, I will close this, I will verify later and reopen if there any issues. Thanks!

[2016-11-28 19:25] #442 closed

[2016-11-28 21:06] kchiragowni opened #620 "Searchbox usage in CommandBar"
### Bug Report
No documentation on how to hook SearchBox events in CommandBar.

#### Describe the issue:
Nothing happens when text is entered or hit enter in SearchBox in CommandBar.

#### Expected behavior:
Hooks callbacks to SearchBox events

[2016-11-28 21:12] joschect commented on #501
This has been completed.

[2016-11-28 21:12] #501 closed

[2016-11-28 22:09] yaananth opened #621 "Contextual Menu won't dismiss on loosing focus"
### Bug Report

- __Package version(s)__: 0.74.0

#### Describe the issue:

Contextual Menus won't dismiss when user clicks anywhere in the window (other than the items on the menu)

#### Actual behavior:

Menu just stays

#### Expected behavior:

Menu should dismiss

#### Info:

I think it’s this change

Before:
[code]
Now:

[code]
`this._target.stopPropagation`
That’s probably stopping further e

[2016-11-29 06:38] dzearing commented on #611
It is supposed to render the content at the end of your DOM within the layerhost element. If you inspect BODY's last child, it should be in there. I'm not reproing in any of our environments so an isolated repro would be useful.

[2016-11-29 07:37] mibes commented on #611
This pen demonstrates the dropdown issue: http://codepen.io/mibes/pen/PbJQRK
It uses build 0.78.1.

The issue only manifests itself (for me) when the dropdown is near the bottom of the page. The fix that was included in build 0.77 works on both Chrome (v.54.0.2840.98) and Firefox (v.50.0), but the issue remains on Safari (v.10.0.1) -- all on OSX.

[2016-11-29 08:39] mibes commented on #611
Not sure if this is useful, but if you disable closing the dropdown in `onDismiss` in the Dropdown.js it shows the different behaviour in Safari:

` Dropdown.prototype._onDismiss = function () { `
`        // this.setState({ isOpen: false }); `
` };`

With this function disabled: in Safari when you click a Dropdown near the bottom of the page, it scrolls to the top of the page and then shows the D

[2016-11-29 10:03] twaddell commented on #611
My appologies, although I had updated fabric-react I was linking to an old version of the fabric css. I have updated the css to 5.0.1 and all is working for me now with build 0.78.1

[2016-11-29 10:04] #611 closed

[2016-11-29 10:10] mibes opened #624 "Dropdown/DatePicker are not working on Safari when near the bottom of the page"
Follow-up on #603

This pen demonstrates the dropdown issue: http://codepen.io/mibes/pen/PbJQRK
It uses build 0.78.1.

The issue only manifests itself (for me) when the dropdown is near the bottom of the page. The fix that was included in build 0.77 works on both Chrome (v.54.0.2840.98) and Firefox (v.50.0), but the issue remains on Safari (v.10.0.1) -- all on OSX.

### Additional detail
If you di

[2016-11-29 16:47] dzearing commented on #621
@joschect can you take a look?

[2016-11-29 17:04] arheom opened #625 "DocumentCard component crashes the browser with infinite loop"
### Bug Report

- __Package version(s)__: 0.72.1
- __Browser and OS versions__: Chrome 54.0.2840.99 m and Windows 7

#### Describe the issue:

I have on one SharePoint Online page few client side web parts, 2 of them having a list of DocumentCard elements. They are integrated using Redux with another component which searches in both of them (SearchBox). The document cards are simple, looks like:
[

[2016-11-29 17:14] mikewheaton commented on #625
Could you try this with the `shouldTruncate` prop set to `false`? I think that's the only function that loops within the DocumentCard.

[2016-11-29 17:18] sompylasar opened #626 "Dropdown: Does not open in Chrome on Fabric React website, the page scroll position jumps to the top and back down"
### Bug Report

- __Package version(s)__: 0.69.0 (from fabric-website)
- __Browser and OS versions__: Chrome 54.0 on Android 6.0, Chrome 54.0 on macOS 10.12

#### Describe the issue:

Dropdown does not open when I tap (touchscreen) or click (desktop) on it.

#### Actual behavior:

The page scroll position jumps to the top and back down.

#### Expected behavior:

The dropdown opens, the items are v

[2016-11-29 17:21] mikewheaton commented on #626
Thanks for reporting this, @sompylasar. It should be fixed by a new release of Fabric React, which will contain PR #605. An updated website using this latest version should be online within the next few days. I'll leave this issue open and assigned to myself until we've verified the fix.

[2016-11-29 17:22] sompylasar commented on #626
Okay, thanks! 👍

[2016-11-29 17:25] arheom commented on #625
Looks like this is the problem. After setting the `shouldTruncate `prop to `false`, it works well.

[2016-11-29 17:46] dzearing commented on #611
Awesome, glad to hear.

[2016-11-29 19:05] rickyp-ms opened #629 "New Component: File Picker"
I was just curious if there were any plans to make a shared file picker control that would integrate into 3rd party services (data provided through props so it's just focusing on the UI).

We are already debating making something as OneDrive's file picker isn't React based, it's slow and also doesn't scale down to 300px making it hard to use on mobile sites. Just a question of should we put it her

[2016-11-29 20:56] gabrielruss commented on #54
I am currently trying to implement a TextField and I can't figure out how to reference the current element when updating the appropriate values in the state. The old way, like mentioned above, was to use onChange and event.target.name. What is the current workaround for this?

[2016-11-29 21:35] yaananth commented on #442
I can confirm, that change made life easier. (Added backgroundImage, but added a css class name instead to handle other styles)

[2016-11-29 21:51] dzearing commented on #624
Found the issue. It seems we're setting focus before the callout is positioned.

The callout positioned in an offscreen location first, and then sets the correct positioning and size. We need to delay focus setting until this is complete. This avoids the scroll.

Additionally if scroll events do occur before positioning is complete, we shouldn't ever try to dismiss.

I have this fixed and will be

[2016-11-29 22:04] chiubacca opened #630 "Slider Control UI element off my 2px"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__:
Safari, Chrome, MacOS El Capitan/Sierra

#### Describe the issue:

Circular slider control is too far up by 2px
https://dev.office.com/fabric#/components/slider

#### Actual behavior:

![slider](https://cloud.githubusercontent.com/assets/7328988/20730845/82897120-b63c-11e6-84b0-08d7f8d2a929.png)

#### Expected

[2016-11-30 01:51] dzearing commented on #630
I'm not reproing it here:
http://codepen.io/dzearing/pen/GNZMgq

[2016-11-30 01:51] dzearing commented on #630
Is your browser zoomed?

[2016-11-30 03:32] mikewheaton opened #632 "Dropdown: No `className` prop available"
The [Dropdown component](http://dev.office.com/fabric#/components/dropdown) does not have a `className` prop for adding a custom class name to the rendered element, as most of the other components do. This makes it more difficult to customize its appearance.

[2016-11-30 03:44] dzearing commented on #507
Fixed. visibility hidden to visible was not triggering a repaint. odd browser quirk. changing to opacity fixed it.

[2016-11-30 03:44] #507 closed

[2016-11-30 03:46] dzearing commented on #621
@yaananth Right now we have a workitem to auto pop the CDN with the fabric react, so if the codepen is configured to "latest" version in the url, we'll use the last bits published to NPM. Hope to have that on in the next couple weeks.

[2016-11-30 04:48] willtrking opened #633 "Don't select DetailsList row on click"
Is it possible to ONLY allow a DetailsList row to be selected by clicking on the selection checkbox, and not on the entire row? Or perhaps prevent the selection if the click is in a certain column? This would be useful to prevent row selection when entering data into a TextField or clicking a Button in the DetailsList

Thanks!

[2016-11-30 05:06] dzearing commented on #633
It's possible we could add a `data-selection-disabled={true}` attribute support. Then you could render a custom column where if the focus is within there, selection doesn't react to input.

Would that solve your problem?

[2016-11-30 05:20] willtrking commented on #633
Yes, that would be extremely helpful!

[2016-11-30 05:27] dzearing commented on #633
I've created a PR to support this, will talk with folks tomorrow to get it in.

[2016-11-30 10:43] mibes commented on #624
Great! I can confirm the dropdown issue has been fixed in build 0.79 in Safari and the embedded browser in Word (v15.28).

Unfortunately the fix did not address the DatePicker that had the same behaviour. (I should have mentioned that). Not sure if there are other components that use the same Callout.

I'll update the code pen to use build 0.79 and include a DatePicker.

With regards to dismiss be

[2016-11-30 21:29] biogenez opened #635 "Some styles are not applied for button types"
Button's type specific css styles are not works after the changeset:
[Reduce specificity of button modifiers](https://github.com/OfficeDev/office-ui-fabric-react/commit/e20fd424fb278fa090cddb6417915a47a83024cf)
They are overriden by ms-Button class
![7e69c8e4-b72a-11e6-9a8b-5b067f955427](https://cloud.githubusercontent.com/assets/4600781/20772105/ddf95926-b754-11e6-8d47-06254d3bf0ca.PNG)
.

[2016-11-30 22:15] mikewheaton commented on #635
Thanks for catching this, @biogenez. I'll go in and fix the hover states for the buttons.

[2016-11-30 22:50] DianeD opened #637 "Slight outline around PeoplePicker image if Persona.initialsColor is also set"
### Bug Report

- __Package version(s)__: 0.78.0

#### Describe the issue:

I'm making two calls to get people and pics for the PeoplePicker.

1. The first call gets the user collection with users' metadata. Then I set Persona attributes, including Persona.imageInitials and Persona.initialsColor in case there's no profile pic or a problem retrieving it.
2. The second call gets each user's profile

[2016-12-01 00:32] dzearing commented on #633
This has been checked in and will be published tonight.

[2016-12-01 00:32] #633 closed

[2016-12-01 00:33] dzearing commented on #635
This has been merged and will be published tonight.

[2016-12-01 00:33] #635 closed

[2016-12-01 01:48] dzearing commented on #630
Nope nevermind, I've repro'd it *only on the Fabric site*, because the site is added some global box-sizing: border-box rules that affect this. This is not apparent when actually using the slider.

[2016-12-01 01:55] dzearing commented on #630
Closing issue, change will be published in the next build of fabric-react and will be picked up by the docs site next week.

[2016-12-01 01:55] #630 closed

[2016-12-01 05:45] #600 closed

[2016-12-01 08:48] mibes commented on #624
A quick work-around to resolve the DatePicker issues, is to change line 135 in `DatePicker.tsx`. Change `shouldFocusOnMount={ true }` to `shouldFocusOnMount={ false }`. This fixed the DatePicker not opening issue for me on Safari. Chrome and Firefox seemed fine as well.

[2016-12-01 17:04] dzearing commented on #624
Thanks, will be fixed today.

[2016-12-01 18:52] biogenez opened #639 "Bug: SelectionZone infinity while loop"
**Bug**
If the height of the body element is less then a page height, any click on the area outside of the body element (for example: at the bottom of the page) causes an infinite loop.

File: [SelectionZone.tsx](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/utilities/selection/SelectionZone.tsx)

Wrong code:

`private _isNonHandledClick(elemen

[2016-12-01 18:56] mikewheaton commented on #639
Thank you for the bug report and tracking down where this issue is coming from. We'll take a look.

[2016-12-01 18:58] biogenez commented on #639
Example:
![capture](https://cloud.githubusercontent.com/assets/4600781/20807787/f2156846-b808-11e6-878f-c2746ccf3c51.PNG)

[2016-12-01 21:20] dzearing commented on #639
Will be fixed and published today.

[2016-12-01 22:00] dzearing commented on #639
Merged. Published 8pm PST tonight.

[2016-12-01 22:00] #639 closed

[2016-12-01 22:32] MLoughry opened #641 "Persona control is wider than it needs to be on Safari."
### Bug Report

- __Package version(s)__: 0.72.1
- __Browser and OS versions__: Mac OSX, Safari

#### Describe the issue:

Because of the `width: 100%` property on `.ms-Persona-details`, the `Persona` control takes up more space than is needed on MacOS Safari. This is particularly glaring if the control is hosted within a `Layer`.

#### Actual behavior:

![image](https://cloud.githubusercontent.co

[2016-12-02 00:36] MLoughry commented on #641
#642

[2016-12-02 00:42] MLoughry commented on #641
Fix was reverted in #644

[2016-12-02 09:36] mibes opened #647 "TextField: Fix positioning of icon within the field"
### Bug Report

- __Package version(s)__: 0.80
- __Browser and OS versions__: Safari (10.0.1), Firefox (50.0.1), Chrome (54.0.2840.98) on OSX

#### Describe the issue:

When a long label is used on the DatePicker the calendar icon is not properly aligned vertically. Long meaning a label that wraps within the div.

#### Actual behavior:

Calendar icon is positioned north of the DatePicker box.

###

[2016-12-02 16:16] Squiggle commented on #397
Same issue with Yahoo's `react-intl` library: `Uncaught Error: [React Intl] Could not find required 'intl' object. <IntlProvider> needs to exist in the component ancestry.`

Will implement the suggested `context` work-around for now.

[2016-12-02 16:47] mikewheaton commented on #647
The icon is absolutely positioned with a `top` position, which only works when the label text doesn't wrap to multiple lines. A quick fix would be to use `bottom` instead, as the field itself is always the same height and at the bottom.

[2016-12-03 00:21] cschleiden opened #648 "SearchBox focus styling is different from other controls"
Text fields have a dark border by default, and become blue when focused:

![image](https://cloud.githubusercontent.com/assets/2201819/20854692/cd423420-b8aa-11e6-8fbc-e198280497d3.png)

The `SearchBox` behaves the other way around:

![image](https://cloud.githubusercontent.com/assets/2201819/20854701/dd0ab95e-b8aa-11e6-9d2b-632103cc3290.png)

Is this by design?

[2016-12-03 08:13] pablonete opened #649 "List: scroll to row"
### Feature request

We need some nice way to scroll List and DetailList to the selected item. Something like scrollToIndex prop in react-virtualized: https://bvaughn.github.io/connect-tech-2016/#/26/3

We are working around this by using refs and DOM scrollToView. Is there a better approach that we may be missing? Or is there something in the backlog to add this functionality?

[2016-12-03 09:48] mibes commented on #624
Fixed in v0.81. Thanks!

[2016-12-03 09:48] #624 closed

[2016-12-03 09:56] mibes commented on #647
Looks good.

For people who want to have a quick intermediate fix. Add this to your CSS:

[code]

[2016-12-04 00:39] #615 closed

[2016-12-04 01:06] mikewheaton opened #650 "TextField: Fix positioning of icon"
The TextField has an option to specify an `iconClassName`, which looks like this with a standard icon:

![image](https://cloud.githubusercontent.com/assets/1382445/20863277/6b1e02bc-b97a-11e6-9dd7-ae48baf6ca71.png)

That doesn't look terribly useful. In the [DatePicker](http://dev.office.com/fabric#/components/datepicker) we've added additional styles to make the icon look like this:

![image](htt

[2016-12-04 01:07] mikewheaton commented on #647
Waiting for an answer to #650 before fixing. If TextFields should support an icon on the right side like this then I will build it into the TextField itself, otherwise we should remove the icon from TextField and create/position the icon only within DatePicker.

[2016-12-04 01:23] mikewheaton commented on #625
@arheom: I've set up a [CodePen with multiple DocumentCards on the page](http://codepen.io/mikewheaton/pen/vydRJX?editors=0010) and am not able to repro the issue. Truncation looks to be working on each of them.

[2016-12-05 13:13] biogenez opened #652 "Limit items in PeoplePicker (& Picker)"
How can I limit max number of the added items in PeoplePicker (or Picker)?

[2016-12-05 17:55] mikewheaton commented on #648
It turns out that the designs for SearchBox _do_ call for it to have a blue border by default. We're investigating the history here, with our assumption being that it was to give search more prominence on the page.

Could you include a screenshot of where you're including the SearchBox? I'm guessing it's alongside other form fields and that's why it's sticking out. We should probably have the defa

[2016-12-05 19:58] dzearing opened #653 "DetailsList: selection clears when clicking on tabIndex=0 or role=button elements."
### Bug Report

- __Package version(s)__: 0.81.0

- __Browser and OS versions__: All

#### Describe the issue:

When clicking on an element marked with `tabIndex=0` or `role=button`, the selection in `DetailsList` is cleared.

#### Expected behavior:

It should not clear when clicking on these issues.

[2016-12-05 21:29] cschleiden opened #655 "No space between item count and title on PivotItem"
### Bug Report

- __Package version(s)__: master

#### Describe the issue:

When using `itemCount` on PivotItems there is no space between pivot title and the count element, unless the `large`modifier is used.

#### Actual behavior:
Behavior without `large` modifier, no space between title and count:

`Links(1)`

![image](https://cloud.githubusercontent.com/assets/2201819/20902946/4e10f7ea-baee-11

[2016-12-05 21:34] mikewheaton commented on #655
There should definitely be a space there, either using `margin` or by adding a space with `{' '}`.

[2016-12-05 23:03] cschleiden opened #657 "Pivot: RTL support for count text"
### Bug Report

- __Package version(s)__: master

#### Describe the issue:

Pivot with a count like this:

![image](https://cloud.githubusercontent.com/assets/2201819/20904424/534ffe4e-baf4-11e6-9aca-7af897d01bd8.png)

will show up like this with `dir=rtl`:

![image](https://cloud.githubusercontent.com/assets/2201819/20904435/615facd2-baf4-11e6-9202-48e80ad1c10e.png)

Not sure if maybe we should a

[2016-12-05 23:16] aaronyzhou opened #658 "DetailsList: drag and drop onDrop event not firing"
### Bug Report

- __Package version(s)__: master

#### Describe the issue:

I'm trying to implement drag and drop on a details list and there is no onDrop event being fired.
I don't see any code that calls the onDrop method of the callback.

https://github.com/OfficeDev/office-ui-fabric-react/search?utf8=%E2%9C%93&q=onDrop&type=Code

[2016-12-05 23:18] mikewheaton commented on #657
That is so strange that it moves the last round bracket to the beginning of the line in RTL. Just to confirm, this is a common issue and nothing specific to what we're doing as this [StackOverflow issue](http://stackoverflow.com/questions/5741522/brackets-displays-wrongly-for-right-to-left-display-style) shows.

So yes, the correct fix seems to be to add the `&lrm;` [left-to-right mark](https://en

[2016-12-05 23:23] dzearing commented on #657
hmm not sure that localizes well. You don't want to do that in RTL languages, right?

[2016-12-05 23:28] mikewheaton commented on #657
The `&ltrm;` should exist after the count, for both LTR and RTL users. It tells the browser not to do anything funky with the round brackets. The actual string (e.g. 'Recent' or 'My Files') that needs to be localized is separate.

[2016-12-05 23:31] cschleiden commented on #657
But do we want to move the whole number string to the left/right? Like
ltr: `Recent (42)`
rtl: `(42) Recent`?

[2016-12-05 23:36] dzearing commented on #657
What I think is a better approach is that the tab content renders 2 `span` elements and maybe they're inline-blocked. Then it renders like so:

![image](https://cloud.githubusercontent.com/assets/1110944/20907047/8cb178be-bb00-11e6-9077-abd9a34b4ccd.png)

So the real requirement here I think is that the consumer can render custom content in the pivot headers.

[2016-12-05 23:38] mikewheaton commented on #657
But is **(12) My Files** correct, or should it be **My Files (12)**? My assumption was that the badge is part of the string and shouldn't be re-arranged, but I'm not certain on that.

[2016-12-06 14:47] biogenez opened #660 "DetailsList: Column widths not calculated correctly, if property maxWidth not specified."
### Bug Report
- __Package version(s)__: 0.81.2
- __Browser and OS versions__: All

#### Describe the issue:
Column widths not calculated correctly, if property **maxWidth** not specified.
Since  the property **maxWidth** is not required, there is a wrong calculation in the code below
(file [DetailsList.tsx):](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabri

[2016-12-06 18:23] dzearing commented on #660
Easy fix. I'll fix it if someone doesn't beat me to a PR.

[2016-12-06 18:46] #655 closed

[2016-12-06 18:46] #657 closed

[2016-12-06 19:08] dzearing commented on #658
Investigated. Will work with people on our end to get it fixed.

[2016-12-06 19:23] dzearing commented on #658
We will add:

1. A sample illustrating drag/drop support.
2. Fix for the missing onDrop callback.
3. Add some tests.

[2016-12-06 19:24] dzearing commented on #653
Resolved.

[2016-12-06 19:24] #653 closed

[2016-12-06 19:25] dzearing commented on #649
This has been implemented before but we haven't needed it and I may have removed this code. I'll look into adding it back.

[2016-12-06 20:39] rickyp-ms opened #661 "How high level is this library supposed to get?"
Most of the stuff in this library is pretty low -> medium level (dialogs, dropdowns, etc).

Across newer office applications there are some other commonalities such as (what we call) TopHeader
![topheader](https://cloud.githubusercontent.com/assets/22225666/20942404/1c5fe842-bbb0-11e6-8b35-8d1c0d996089.png)

It's currently in use in Skype and will be in Planner with the next iteration.

Would this

[2016-12-06 21:34] cschleiden opened #662 "TextField: Add clear button and icon support, deprecate SearchBox"
`TextField` supports a `focus` method which sets focus to the wrapped input element, `SearchBox` is missing such functionality.

[2016-12-06 22:14] mikewheaton commented on #661
We're generally looking for components that could be included in a wide variety of apps. We want to avoid the confusion of having multiple components that serve similar purposes, but which originally came from different apps. Having more broadly-applicable components also means more usage, more developers, more issues files, and more bug fixes.

That said, if you have any components you'd like to

[2016-12-06 22:14] #661 closed

[2016-12-06 23:05] willtrking opened #664 "DetailsList: when grouped onToggleSelectGroup does nothing"
### Bug Report

- __Package version(s)__: 0.81.0

#### Describe the issue:

```onToggleSelectGroup``` is never called when passing it through the ```groupProps``` of a ```DetailsList``` like so
[code]

It looks like this stems from GroupedList on the following line
https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/GroupedList/GroupedList

[2016-12-06 23:54] #641 closed

[2016-12-07 01:21] dzearing commented on #662
Funny you brought that up. We're considering collapsing `SearchBox` into `TextField`. They really aren't THAT different. If TextField had an optional clear button and an info icon, they'd be identical. So we are considering just deprecating it all together and adding a few features to TextField.

What do you think? Also can you provide some use cases where you're using `SearchBox`? (A screenshot w

[2016-12-07 01:23] dzearing commented on #650
I think `TextFields` should support a standard icon and also a clear button and we should remove `SearchBox`.

[2016-12-07 01:27] cschleiden commented on #662
Yep, that would make perfect sense for us.

Right now we are looking at a scenario where we use either `SearchBox` or `TextField` depending on the type of a field being edited, and instead of switching between the two controls, I could see us just changing placeholder/icon.

Some *very* early explorations in that direction:
![image](https://cloud.githubusercontent.com/assets/2201819/20951115/c2d25

[2016-12-07 16:50] mikewheaton commented on #650
We'll have to discuss more with the designers. It seems like there might be a case for a searchable TextField being different than a SearchBox, if the SearchBox has a distinct appearance and entirely different use cases.

Regardless of what happens with SearchBox, we should fix TextField so that it positions the icon similar to DatePicker. I'm not so sure on the clear button because it seems like

[2016-12-08 00:32] mikewheaton commented on #650
After discussing with design, the outcome is to:

- Leave the SearchBox component as-is for now. There will be updated designs coming next month.
 - Support an (optional) icon in any TextField, which will be positioned on the right side. This can be used to create a searchable TextField, which is just a typical TextField with a search icon and no differences in behavior.
 - Not add a 'clear' icon

[2016-12-08 03:45] ipip2005 opened #665 "Slider should be more a11y"
Slider should follow the best practice to support up and down arrow keys.
use up key to increase, down key to decrease the value.
Like windows controls (they both support all arrow keys):
![image](https://cloud.githubusercontent.com/assets/7711735/20996873/c47ab2b4-bd3b-11e6-935d-6182cddb084c.png)

[2016-12-08 08:25] biogenez opened #666 "DetailsList: Horizontal scroll always visible if SelectionMode.single"
### Bug Report
- __Package version(s)__: 0.81.3

#### Describe the issue:
The button "Select all" is hidden if SelectionMode is *single*.
The css rule added left padding in the DetailsHeader, to correctly show headers.
But this css rule added horizontal scroll

**Css rule**
![image](https://cloud.githubusercontent.com/assets/4600781/21002495/df17cd8a-bd2e-11e6-9b9f-0c9908a09907.png).

**Issue**
![

[2016-12-08 18:13] lijunle opened #667 "Dropdown is not correctly set data-is-focusable attribute"
### Bug Report

- __Package version(s)__: As of 0.78.0
- __Browser and OS versions__: whatever

#### Describe the issue:

There is an issue about Fabric-React dropdown `data-is-focusable` attribute. [The current implementation](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.tsx#L84) is not right:

[code]

Which shoul

[2016-12-08 19:03] MLoughry opened #669 "IconName class does not include all MDL2 icons"
### Bug Report

- __Package version(s)__: 0.78.1

#### Describe the issue:

With the change for `CommandBar` to use the `Icon` component, several previously supported icons in the `CommandBar` no longer work. As the component references the `IconName` collection, it converts any icon not present there to `undefined`.

Non-exhaustive list of icons this affects: `Read`, `Send`, `Package`

#### Actua

[2016-12-08 19:07] joschect commented on #669
@MLoughry Hey, I just put in a pr to add package, I'll also add read and send. If you hear of any others please let me know!

[2016-12-08 19:08] mikewheaton commented on #669
I didn't realize we had enums for icon names. It turns out these are in `src/components/Icon/IconName.ts`. The icons come from [office-ui-fabric-core](https://github.com/OfficeDev/office-ui-fabric-core) and we have a JSON file in there, but no enums. So we'll either want to add this enum file to Fabric Core, or update the enum within Fabric React every time we update the version of Fabric Core use

[2016-12-08 19:08] MLoughry commented on #669
Should there be some sort of build-verification?

[2016-12-08 19:11] joschect commented on #669
@mikewheaton They're pretty new. It would be cool if they were part of core.

@MLoughry I'll alter the contextualmenu to properly respect icons if there is no enum in the meantime.

[2016-12-08 19:29] joschect commented on #669
@MLoughry  and @mikewheaton could you confirm real quick that this is the correct icon list? https://github.com/OfficeDev/office-ui-fabric-core/blob/dd2aeb55b6ebe10fe633430042583b0da3e49de5/src/data/icons.json

[2016-12-08 19:40] joschect commented on #669
@mikewheaton random thing I noticed, the mdl2 icons have a duplicate of "snow"

[2016-12-08 19:45] mikewheaton commented on #669
@joschect: Yes, that JSON file is always updated with the latest icons in Fabric Core. So we'll want the enum to match.

And Snow is in there twice, which is odd. I'll look into that. ❄️

[2016-12-08 20:09] mikewheaton commented on #669
Turns out that there are two different snow icons with the same name. We'll have this corrected in the next version of the icon font.
![screen shot 2016-12-08 at 12 08 08 pm](https://cloud.githubusercontent.com/assets/1382445/21025905/2c3081b0-bd3f-11e6-8a3c-b502ddff646f.png)
![screen shot 2016-12-08 at 12 08 36 pm](https://cloud.githubusercontent.com/assets/1382445/21025908/2d6a10c8-bd3f-11e6-96b

[2016-12-09 01:45] dzearing commented on #397
Resolved, published later tonight.

[2016-12-09 01:45] #397 closed

[2016-12-09 02:27] dzearing commented on #665
Resolved and will be in tonight's publish.

[2016-12-09 02:27] #665 closed

[2016-12-09 02:45] dzearing commented on #667
Now resolved and will be published in the next build.

[2016-12-09 02:45] #667 closed

[2016-12-09 07:26] gggjtgxing opened #674 "Slider: Use up and down arrow keys to change number of slider should also work (blind user can’t see that the control is horizontal)."
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Describe the issue:

 Slider: Use up and down arrow keys to change number of slider should also work (blind user can’t see that the control is horizontal).

#### Actual behavior:

User can only use left and right arrow keys to change number of Slider,

#### Expected behavior:

[2016-12-09 08:01] gggjtgxing opened #675 "Dropdown: When the list box is closed, use the arrow key to pick option, the option text isn’t read aloud."
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Describe the issue:

When the list box is closed, use the arrow key to pick option, the option text isn’t read aloud.

#### Actual behavior:

list box is opened: read aloud selected option text when use the arrow keys to pick
list box is closed: read nothing when use the arrow

[2016-12-09 17:28] dzearing commented on #674
This was published in 0.82.0.

[2016-12-09 17:28] #674 closed

[2016-12-09 17:30] dzearing commented on #675
@eliblock12 can you check this? You added focus support I believe for screenreader accessibility when the dropdown is expanded, but it seems it's not working when not expanded. I thought this was.

[2016-12-09 17:31] dzearing commented on #669
Can we at least get them in sync for now? Is there someone that can update the list asap?

[2016-12-09 17:32] dzearing commented on #666
i can investigate.

[2016-12-09 17:32] dzearing commented on #664
I can investigate.

[2016-12-09 17:33] dzearing commented on #662
Renaming the item to replace SearchBox with TextField so there is way less inconsistency and confusion.

[2016-12-09 17:34] dzearing commented on #652
Needs guidance or possibly a feature add.

[2016-12-09 17:36] dzearing commented on #620
The

[2016-12-09 17:48] MLoughry opened #678 "Button (primary style) has incorrect styling on focus"
### Bug Report

- __Package version(s)__: 0.82.0

#### Describe the issue:

The primary-style `Button` has black text on focus, which looks wrong

#### Actual behavior:

![image](https://cloud.githubusercontent.com/assets/20823465/21058785/7f610a20-bdf4-11e6-8e89-bc538df72cd3.png)

#### Expected behavior:

![image](https://cloud.githubusercontent.com/assets/20823465/21058798/92072a1a-bdf4-11e6-9b3

[2016-12-09 18:38] mikewheaton commented on #669
Sure thing, I'll get these updated today. 😄

[2016-12-09 19:45] dzearing commented on #620
Closing this one and using #662 to track deprecating SearchBox in favor of TextField to promote consistency.

[2016-12-09 19:45] #620 closed

[2016-12-09 19:55] #678 closed

[2016-12-09 20:56] willsmythe commented on #621
@dzearing - do you know if this problem has been fixed by any of the recent changes that have been made around callout dismissal? We have a few teams hitting this problem (our teams are still using 0.74, but are planning to upgrade regardless).

[2016-12-09 23:45] dzearing commented on #621
Hmm we are unable to repro and we're using contextual menu right now. @joschect this should be closed right?

[2016-12-09 23:54] joschect commented on #621
@dzearing @willsmythe This should be fixed. The this._target.stopPropagation wouldn't stop propagation either. stopPropagation is a function so when used like this._target.stopPropagation it's checking to see if the target has that function, which confirms that it's an event rather than an htmlelement.

[2016-12-10 00:43] mikewheaton commented on #669
The only icon I've found that doesn't match the font is "CustomIcon". @joschect, ContextualMenu looks to be the only component that uses this. How does it work? Seems like it would output `ms-Icon--CustomIcon` but there's no corresponding CSS class for that.

[2016-12-10 01:43] dzearing commented on #648
Closing this and tracking in #662

[2016-12-10 01:43] #648 closed

[2016-12-10 01:45] dzearing commented on #629
It isn't something that we've been focused on but i think it would be a really good project.

[2016-12-10 01:46] dzearing commented on #626
This has been resolved.

[2016-12-10 18:52] mikewheaton commented on #662
Flagging as 'needs-design' to make sure we discuss this in a future design meeting. As far as the designers are concerned, TextField (even with a search icon and used in a search experience) is distinct from SearchBox. How this gets implemented is up to us, so we might have a TextField variant or use TextField within SearchBox, but we need to find out more about the requirements before making any

[2016-12-10 18:54] mikewheaton commented on #626
The bug in Fabric React has been resolved, but I've been keeping this open to verify the fix on the live site. That hasn't been deployed yet and is still broken on [the dropdown page](http://dev.office.com/fabric#/components/dropdown).

[2016-12-10 19:35] mikewheaton commented on #625
Unable to repro so I'm going to close this for now.

[2016-12-10 19:35] #625 closed

[2016-12-10 19:52] mikewheaton commented on #626
Actually yes, let's close the issue. The work is done and the fix has been verified in a test build of the Fabric website (deployed to a server, not locally). It's fixed and should go live sometime this week. 😄

[2016-12-10 19:52] #626 closed

[2016-12-10 20:32] cschleiden opened #683 "DetailsList: onRenderRow is never passed defaultRender"
### Bug Report

- __Package version(s)__: master

#### Describe the issue:

`onRenderRow` is defined as

[code]

in the .props file. `defaultRender`, however, is never passed at [runtime](https://github.com/OfficeDev/office-ui-fabric-react/blob/5332954b1127f5d1528eac95b5efaf8094fcb91f/packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.tsx#L348).

Either we should pass `defaultR

[2016-12-10 21:56] dzearing commented on #683
100% agree. We'll fix the example as well here.

[2016-12-10 23:08] kchiragowni commented on #620
Thanks @dzearing for forking this into #662

[2016-12-11 16:24] biogenez opened #685 "DatePicker: infinity loop if set InvalidDate value"
#### Describe the issue:
Infinity loop occurs, if set Invalid Date as value for DatePicker.

**Example**
[code]

**Bug row**
https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/Calendar/CalendarDay.tsx#L180

**Infinity loop**
[code]
date.getDay() is NaN

**Check if date is invalid**
[code]

[2016-12-11 17:22] dzearing commented on #685
@amygl or @MLoughry could one of you take a quick look

[2016-12-12 02:51] gggjtgxing opened #686 "Pivot: adding 'space' key to select pivot item."
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Describe the issue:

It has to hit Enter to select pivot item, space bar should also work.

#### Actual behavior:

#### Expected behavior:

### If applicable, please

[2016-12-12 08:44] ipip2005 opened #687 "New Component: Screen Reader Alert"
# Feature request
Add a component which

1. implements [live region](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Live_Regions)
2. has cross-browser and cross-screen-reader support, dev don't need to understand hacks for making screen reader working correctly.

[2016-12-12 14:47] luhu opened #688 "Link: Focus border doesn't wrap properly for links that span multiple lines"
### Bug Report

- __Package version(s)__: (0.78.2~latest)
- __Browser and OS versions__: (Chrome, IE 10+, Edge, FF)

#### Describe the issue:

The focus border of the link can't wrap all text of the link if the text of the Link displays more than 1 line.

#### Actual behavior:

The focus border wraps part of the link text.
![link-focus-issue](https://cloud.githubusercontent.com/assets/781143/21103

[2016-12-12 17:06] mikewheaton commented on #688
The [`focus-border()` mixin](https://github.com/OfficeDev/office-ui-fabric-react/blob/78e462bc936350fee2806ee0e70d523e8deee9b5/packages/office-ui-fabric-react/src/common/_focusBorder.scss) uses absolute positioning for the border, but this requires a block or inline-block element. Links are `display: inline` by default.

It works if the link is `display: inline-block`: http://codepen.io/mikewheato

[2016-12-12 17:51] MLoughry commented on #685
I'll take it

[2016-12-12 22:06] cschleiden commented on #649
We have a similar requirement. Due to virtualization, refs and `scrollIntoView` is not an alternative, unfortunately.

Do we still have that old code anywhere? Could help to bring it back.

[2016-12-13 02:18] MirandaGe commented on #688
### inline multiple link unexpected behavior
I also realized there may be some case that we just want to show an inline link, and would like to add some additional information here:

* Actual behavior:
the focus border warps part of the link text:
![image](https://cloud.githubusercontent.com/assets/16030290/21124864/6753c6ae-c11c-11e6-9204-1e6a88d5d2d0.png)
* Expected behavior:
This is the default

[2016-12-13 07:41] ipip2005 opened #690 "JAWS 18 read confusing instruction for choiceGroup"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: IE with JAWs 18

#### Describe the issue:

The input of choicegroup use "aria-describedby" to read the text. So JAWS will read
**_"Use JAWs key + Alt + R to read descriptive text."_**
For me, the text of each option is actually the label of input. We should use aria-labelledby instead of aria-describedby.

#### Actual

[2016-12-13 10:15] luhu opened #691 "JAWS 18 read confusing instruction for Dropdown"
### Bug Report

- __Package version(s)__: (latest)
- __Browser and OS versions__: (IE 11 and JAWS 18)

#### Describe the issue:

When focusing Dropdown in IE 11 with JAWS 18, the screen reader reads out "Use JAWS key + Alt + m to move to control element. To change the selection, use the arrow keys".

The message "Use JAWS key + Alt + m to move to control element" is confusing.

#### Actual behavio

[2016-12-13 15:00] gabrielruss opened #692 "TextField: onGetErrorMessage triggers on form load"
- __Package version(s)__: 0.82.1

For a TextField, is there a way to have onGetErrorMessage only trigger when onFocus or onBlur fire?

[2016-12-13 15:51] mikewheaton commented on #688
Very good point. I think the best solution here is to not use the `focus-border()` mixin for the Link component. Instead, we can use the standard `outline` property to get this result:

![image](https://cloud.githubusercontent.com/assets/1382445/21147180/f7915d94-c108-11e6-85f4-db3584e98e37.png)
[CodePen demo](http://codepen.io/mikewheaton/pen/BQqQLd)

[2016-12-13 18:43] mikewheaton opened #693 "GroupedList: Rows don't extend to full width"
### Bug Report

- __Package version(s)__: 0.69.0
- __Browser and OS versions__: Chrome on MacOS

#### Describe the issue:

The rows in GroupedList don't extend to the full width of the list. This is most noticeable when hovering across the list.

#### Actual behavior:

![image](https://cloud.githubusercontent.com/assets/1382445/21153775/cddb88ae-c120-11e6-968f-4422f9c67bf9.png)

#### Expected beha

[2016-12-14 07:44] AbhinavSTeotia opened #694 "Image: Does not handle loaded event correctly in Edge"
### Bug Report

- __Package version(s)__: "0.74.0"
- __Browser and OS versions__: Edge on Win10

#### Describe the issue:

ChoiceGroup options accepts imageSrc. In one of the cases imageSrc is CDN url.

The the image is never shown on first load, this happens only in following condition
1. Browser is edge. Works fine on chrome/FF
2. Hard refresh(ctrl+f5) is done (browser cache off)

#### Actual be