[2019-08-02 20:15] #7670 closed

[2019-08-02 20:30] eveleens commented on #9945
Oh awesome. Thanks Natalie! I didn't see the other bug, and it looks like there was already a full on discussion on this. I'll try this out.

[2019-08-02 20:30] #9945 closed

[2019-08-02 20:32] eveleens commented on #9925
Sounds good. I'll bring this back to the accessibility team for reconsideration. Thanks Elizabeth and John!

[2019-08-02 20:32] #9925 closed

[2019-08-02 20:34] JasonGore commented on #9961
I don't think the first CodePen is working. It seems to use keywords CodePen can't handle, like `export`, but I also believe some of the imports won't work correctly without package specs. Can you verify the CodePen is working?

[2019-08-02 21:00] JasonGore commented on #9944
I'm seeing exactly what @eveleens reported. Since [reference example](https://a11y-guidelines.orange.com/web_EN/exemples/check-listbox/index.html)s appear to work as expected, I'm triaging this as a bug either against `DetailsList`.

[2019-08-02 21:04] JasonGore commented on #10014
What is the behavior with Narrator and Edge? Narrator's functionality tends to be much more limited in other browsers and differences of behavior tend to be issues with Narrator and not Fabric.

[2019-08-02 21:06] aneeshack4 commented on #9957
@suchk I tried VoiceOver on iOS on both of these codepens and they have the same behavior on close - as in the focus rect returns to the last element that was focused. Are you sure you're on the latest version of iOS? I tried this on Safari - are you on a different browser?

[2019-08-02 21:06] JasonGore commented on #10014
Actually it is unclear to me in the original description for which screen reader and browser this is being reported against. Can you please clarify?

[2019-08-02 21:29] kisiebel commented on #10014
Sorry - the Narrator behavior that I described was in Edge. It repros with Voiceover and Safari as well (although what exactly is read is slightly different).

[2019-08-02 21:36] suchk commented on #9957
Sweet, I updated to iOS 12.4 and wasn't able to repro either. I tried in both Safari and Chrome and it worked. Thanks Aneesha.

[2019-08-02 21:36] #9957 closed

[2019-08-02 22:00] aneeshack4 commented on #10014
@kisiebel With Voiceover & Safari, are you on the latest version of iOS? Another voiceover issue on fabric just got resolved with updating.

[2019-08-02 22:18] kisiebel commented on #10014
Sorry that's Voiceover and Safari on Mac. I'm not on the latest version of Mac OS, so maybe the issue is fixed on Voiceover on that one. I'll update and see if I can repro. But the bug definitely still repros with Narrator and Edge.

[2019-08-02 22:53] natalieethell commented on #9944
Got it, thanks for walking through it @eveleens! I definitely see that, too. My initial thought is that Narrator might be focusing on both of the following divs separately in the checkbox

![image](https://user-images.githubusercontent.com/14134000/62402618-74e04c80-b53d-11e9-9ba6-037ac5b0cba0.png)

particularly since it only announces whether the checkbox is checked after pressing the arrow key a

[2019-08-02 23:11] marygans commented on #10038
Hi @HalcyonPride, thank you for submitting this issue! I believe I was able to repro this using Accessibility Insights for Web but I got a different result (see below). However, I used automated tests. Can you specify which automated tests you used so I can use the same one?
<img width="910" alt="Screen Shot 2019-08-02 at 4 07 03 PM" src="https://user-images.githubusercontent.com/38991459/62403130

[2019-08-02 23:58] khmakoto commented on #9661
@rhublard @yury-stepanov @sushruth Please let us know if this fixes the issues you've been having.

[2019-08-03 00:17] marygans commented on #10035
Hi @chenxinyanc, thanks for submitting this issue!

For clarity, are you trying to use the `ContextualMenuItemType.Divider` as a horizontal divider in your menu without any text content?
Also, this doesn't seem to be a regression since the #2749 wasn't merged. If you're looking to use a vertical divider similar to the closed PR maybe try [VerticalDivider](https://fabricweb.z5.web.core.windows.net/

[2019-08-03 02:00] #9896 closed

[2019-08-03 19:39] Ralms opened #10046 "DetailsList - With SelectionMode.multiple, unable to select row text"
#Environment Information

- **Package version(s)**: 7.19.0

### Please provide a reproduction of the bug in a codepen:
https://fabricweb.z5.web.core.windows.net/oufr/7.19.1/#/examples/detailslist/basic

#### Actual behavior:

When selectionMode is set to SelectionMode.multiple, we are unable to select the text on the list rows.
This is verified all examples of Detailed list.

#### Expected behavio

[2019-08-03 20:27] statm opened #10047 "CollapsibleSection: Incorrect focusing behavior when inner TextField receives left keypress"
### Environment Information

- **Package version(s)**: `office-ui-fabric-react@7.19.1`, `@uifabric/experiments@7.10.0`
- **Browser and OS versions**: Chrome 75.0.3770.142

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/statm/pen/ZgXMdb

#### Actual behavior:

In the codepen above, click inside the TextField to edit its content, then press <kbd>←</kbd>. After first p

[2019-08-03 22:36] paylord commented on #9716
Awesome - thanks all :)

[2019-08-04 12:45] rhalaly opened #10049 "PeoplePicker select people on blur"
### Environment Information

- **Package version(s)**: latest
- **Browser and OS versions**: Edge beta 77.0.237.0 and latest Chrome on Windows 10

### Please provide a reproduction of the bug in a codepen:

https://fabricweb.z5.web.core.windows.net/oufr/7.19.1/#/examples/peoplepicker

1. Type 'A' in the people picker
2. Blur the people picker by clicking with the mouse anywhere.

#### Actual behav

[2019-08-05 04:48] shivasai09 commented on #9971
hello @micahgodbolt if are using single button then we can add some css to the button from the app.
what happens to the other buttons such as commadbar buttons, there will be multiple types of buttons in the commadbar, so adding css for each button in the commandbar will be a overhead task.

can we just add overflow:visible in basebutton.styles.ts sent out the pr. is that a good idea?

[2019-08-05 05:02] chenxinyanc commented on #10035
I'm using `ContextualMenuItemType.Divider` because [`ICommandBarItemProps`](https://github.com/OfficeDev/office-ui-fabric-react/blob/27aa28f0bc898794482d55d6eed26d79217b6924/packages/office-ui-fabric-react/src/components/CommandBar/CommandBar.types.ts#L129) accepts [`itemType`](https://github.com/OfficeDev/office-ui-fabric-react/blob/27aa28f0bc898794482d55d6eed26d79217b6924/packages/office-ui-fabr

[2019-08-05 05:02] qianghuang94 opened #10050 "Tooltip is not working well in IE 11"
### Environment Information

- **Package version(s)**: latest
- **Browser and OS versions**: IE 11
![image](https://user-images.githubusercontent.com/15025186/62440090-17d4d880-b781-11e9-894d-e9b1934668ac.png)

### Please provide a reproduction of the bug in a codepen:
Go to:
https://developer.microsoft.com/en-us/fabric#/controls/web/tooltip

Click on

![image](https://user-images.githubuserconten

[2019-08-05 07:00] #9886 closed

[2019-08-05 08:00] #9906 closed

[2019-08-05 08:28] rake93 opened #10051 "Dropdown Items wrapper issue in Office Word add-in"
I'm facing Drop down items wrapper issue in Office Word-addin even the values are lesser OR more. Dropdown values are not properly aligning when I tried to expand it.  Options are displaying as in the attached Actual results snapshot, even-though I applied the following style,.
[code]
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: No browser,

[2019-08-05 09:06] sapallie commented on #9264
@aneeshack4
Here’s a little mock-up of what Benn was talking about: Min and Max value displayed on the ends of the slider while the values of the range are displayed underneath the slider:
![Screenshot 2019-08-05 at 10 04 39](https://user-images.githubusercontent.com/52008570/62452628-8194b880-b768-11e9-8e46-f2774763fda2.png)

[2019-08-05 12:07] chadcampbell commented on #4357
To those watching this issue, I wanted to raise awareness that I've opened a new request related to this issue since this one had been closed. For reference, the new issue is [10036](https://github.com/OfficeDev/office-ui-fabric-react/issues/10036).

[2019-08-05 13:13] vasticles commented on #1847
@dzearing
Sorry to open an old issue. I'm struggling to get hover working on a specific column cell. I need the cell to render when its row is hovered on, otherwise render nothing. Is that achievable?

[2019-08-05 13:32] webdes03 commented on #8783
Another vote for this. We're using the DetailList control in a teams app and I've been racking my brain trying to figure out why rows are still receiving hover treatment even though they're not selectable. The way this control currently works is counter intuitive as from a UI perspective as a user should expect that something happens or can be done when the appearance of the row physically changes

[2019-08-05 15:30] micahgodbolt commented on #9971
yeah, sorry. I wasn't trying to provide a solution for you to apply. I was simply trying to diagnose the problem to make it easier for @marygans to work on this. Next question is, what can we do?

I don't like the idea of adding overflow visibile just to fix an IE11 bug. I"m 99% sure that a change of that scope would break a ton of partners. On the plus side, this only affects Fabric 6 (not 7), so

[2019-08-05 15:33] #10047 closed

[2019-08-05 15:39] pandey11 commented on #9965
@ecraig12345 @marygans  any update on this ??

[2019-08-05 15:46] marygans commented on #9965
Hi @pandey11 my apologies on the delay here! I was able to view the video and was not able to repro the bug you see on the ms referral site locally. I will share the video repro with my colleagues and get back to you shortly!

[2019-08-05 15:50] micahgodbolt commented on #9971
Took a quick look to confirm, but buttons are by default overflow: visible.....at least in modern edge

![image](https://user-images.githubusercontent.com/1434956/62476839-9ff4b700-b75c-11e9-9437-d31ad92792aa.png)

But in IE11 they are defaulted to hidden. Problem is, we never saw the issue on our website because MWF normalizes buttons like this:

![image](https://user-images.githubusercontent.com

[2019-08-05 16:58] NeerajaGarigipati opened #10053 "GroupedList groups get disapper as cells inside group exceeds some height"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

#### Expected behavior:

### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected:

[2019-08-05 16:58] JasonGore commented on #9944
I did some [exploring with a codepen](https://codepen.io/jasongore/pen/MNEbje) just using a raw HTML table and seeing the same behavior. This may be an issue with MS Edge or Narrator.

[2019-08-05 17:03] jdhuntington commented on #10049
Hi @rhalaly - thanks for the report.

I'm afraid the existing behavior of the people picker is the intended behavior. Though using some of the callbacks the PeoplePicker provides, it should be possible to achieve the behavior you would like instead.

Can you tell me more about how you are using the picker? I might be able to offer more useful workarounds if so. Thanks!

[2019-08-05 17:04] marygans commented on #10037
Hi @eveleens, thanks for submitting this issue. It looks like this behavior is expected as  the tooltip show show on focus. An alternative for your specific scenario could be to set the focus on a different element besides the close button when the modal is triggered?

[2019-08-05 17:16] jdhuntington commented on #10051
Hi @rake93 - Unfortunately I'm not able to assist with Word add-ins in this project, only Fabric itself. However, if this issue exists in Fabric and we can make it happen in a codepen I'm more than happy to take a look!

[2019-08-05 17:27] micahgodbolt commented on #9971
@shivasai09 since the problem here is a difference in default behavior between IE11 and modern Edge, the easiest solution on your side, with least chance of causing a break, is to add that above normalize code to your application (can even limit the loading to only IE11).

Another option is to use CSS normalize, which is used for this exact problem. https://github.com/necolas/normalize.css/blob/ma

[2019-08-05 17:35] jdhuntington opened #10054 "this is a test"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

#### Expected behavior:

### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected:

[2019-08-05 17:35] jdhuntington commented on #10054
lorem ipsum

[2019-08-05 17:36] #10054 closed

[2019-08-05 17:58] Vitalius1 commented on #9757
@aslanovsergey after many discussions and investigations on possible breaking some partners it appears that your issue should be resolved with #10024 . According to @jdhuntington’s [comment](https://github.com/OfficeDev/office-ui-fabric-react/issues/9661#issuecomment-517813749) the fix should be available from the release 7.19.1 and up. Can you please verify and confirm that it indeed solved your

[2019-08-05 18:00] #9966 closed

[2019-08-05 18:18] KevinTCoughlin commented on #10012
@elmarsto, is [strictFunctionTypes](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-6.html#strict-function-types) enabled for your TSC?

If so, this is possibly another instance of https://github.com/OfficeDev/office-ui-fabric-react/issues/9581.

[2019-08-05 18:19] kisiebel commented on #10014
It repros for me on Safari with Voiceover even after updating to the latest version of MacOS.

[2019-08-05 18:31] micahgodbolt commented on #10036
Hey @chadcampbell. While this sounds like it'd be an amazing project, it is not within the scope of the UI Fabric React project. We'd love to build out Angular, Vue, Web Component and Blazor versions of all of our controls, but that is far outside of our current charter, and wouldn't have the resources needed to do that work.

So while the focus of this repo will remain on React for the foreseeabl

[2019-08-05 19:00] #9969 closed

[2019-08-05 19:02] rhalaly commented on #10049
Hi,

I'm actually Microsoft employee and I'm working on 1st party app. Our customers report this issue. They reported that this behavior causing them some unexpected issues that they add peoples in this way by mistake. After I tested it manually I also saw that this is the behavior of the PeoplePicker, and it is really very confusing - the user dose not expect that this behavior will select people

[2019-08-05 19:17] kisiebel commented on #10014
I just submitted a PR with a fix: https://github.com/OfficeDev/office-ui-fabric-react/pull/10059.

[2019-08-05 19:27] Vitalius1 commented on #9757
Also, in regards to your [stack-overflow question](https://stackoverflow.com/questions/57349218/dialog-scrolls-when-open) I would recommend opening an issue here as it feels like a bug that needs to be fixed.

[2019-08-05 19:47] jdhuntington commented on #10046
Hi @Ralms - at the moment, the selection behavior that exists when multi select is true is intentional in favor of selecting rows. Would a work-around work for your use-case? I put together this example that shows how to override this particular property when rendering at https://codepen.io/jdh-msft/pen/BXJjdw

The important lines are:

[code]

[2019-08-05 19:50] jdhuntington commented on #10053
Thanks for the report @NeerajaGarigipati . Are you willing to share an example on codepen of what's happening?

[2019-08-05 19:50] micahgodbolt commented on #9965
I put together a quick codepen and trying to simulate your issue, but so far no luck:

https://codepen.io/micahgodbolt/pen/aeEdEo?editors=0011

While i see there is a suggestedDisplayValue

![image](https://user-images.githubusercontent.com/1434956/62490984-96c91180-b77f-11e9-897b-f547d8d7d58f.png)

As soon as I select an option via keyboard, that state is removed. Can you fork this Pen and try to

[2019-08-05 19:54] NeerajaGarigipati commented on #10053
Sure. @jdhuntington please go through these two samples.
https://codepen.io/anon/pen/BXZLea?editors=1010,
https://codepen.io/NeerajaG/pen/gVRLzr

expand the groups and scroll up and down. You will see GroupedList is flickering and some of the groups gets disappears. When group is expanded and cell occupies more space then it is not showing other groups under that one.

[2019-08-05 19:55] jdhuntington opened #10060 "SSR tests failing"
The SSR tests fail on current `master`

[2019-08-05 19:57] jdhuntington opened #10061 "SSR tests fail, but build does not fail like it should"
.

[2019-08-05 20:43] danmarshall opened #10062 "Trigger DropDown expansion"
#### Describe the feature that you would like added

Have a dropdown be expanded from an external event.

#### What component or utility would this be added to

Drowdown

#### Have you discussed this feature with our team, and if so, who

No

#### Additional context/screenshots

We have text rendered in WebGL, when clicked we would like to present the list of items in a dropdown, already dropped d

[2019-08-05 20:45] marygans commented on #9978
Hi @eeccker thanks for submitting this. I played around with your[ codepen](https://codepen.io/gwiz0210/pen/wVpGZV?editors=1010) and you have to add the `iconName` prop (and a valid `iconName`) to have the functions trigger. It is intended behavior for the empty column to not click without a name or icon present.

[2019-08-05 20:49] danmarshall commented on #10062
Possibly related to #6348

[2019-08-05 21:21] marygans commented on #10035
@chenxinyanc I'm glad `VerticalDivider` worked for you. I do agree that it wasn't clear that onRender function needed to be used to pass the `VerticalDivider`. I can see a few different alternatives being suitable for this scenario in the future, thanks for your feedback :)

[2019-08-05 21:59] khmakoto commented on #9707
I finally got a response from the Narrator team and this seems to be a bug on Edge because, even with Narrator off, the system focus moves to the arrow. I've filed a bug to Edge so they can take care of this. Given that, I'll mark this as `Resolution: External` for now. Thanks!

[2019-08-05 22:00] #9854 closed

[2019-08-05 22:31] HarryGifford commented on #10015
Is there some action needed from me?

[2019-08-05 22:37] marygans commented on #10015
Not at the moment!

[2019-08-05 22:52] Ralms commented on #10046
Hi @jdhuntington,

I apreciate the work-around, however I'm getting this error on "onRenderRow" property from Typescript:
[code]
Do you know why this could be happening?

Have you tried this css override?
[code]
I found this simple override to allow text to be selectable and preserves all funcionality.
I'm able to select with mouse, keyboard and even use MarqueeSelection.
Tested with Opera 62.0.33

[2019-08-05 23:10] KevinTCoughlin commented on #10046
@Ralms, do you have `strictFunctionTypes` enabled in your `tsconfig`?

The above compiler error is letting you know the signature does not match `IRenderFunction`'s API: https://github.com/OfficeDev/office-ui-fabric-react/blob/22ee7d15235c177a2a549c1387b07aa847d6fc9f/packages/utilities/src/IRenderFunction.ts#L7

You'll need to handle the `undefined` case(s). That error should then go away.

Let's

[2019-08-05 23:21] Ralms commented on #10046
Hi @KevinTCoughlin,

I feel I'm being miss understood, I never claimed the error I mentioned on my previous to be a bug.
I simply reported back what I'm getting from a work-around provided by a Collaborator of this repository. And the reason I did was because I don't understand where is the possibility of the function returning undefined, the function never seems to do so.

Eitherway, I'm more con

[2019-08-06 00:49] jdhuntington commented on #10062
Hi @danmarshall - there's an example on https://fabricweb.z5.web.core.windows.net/oufr/7.20.0/#/examples/dropdown showing how to trigger this event - look for the heading `Required Dropdown` that shows how to invoke the dropdown programatically.

[2019-08-06 00:51] thuy-n-lu opened #10066 "TextField: Does not render tooltip "Please fill out this field." on hover in IE/Edge"
### Environment Information

- **Package version(s)**: (fill this out)
7
- **Browser and OS versions**: (fill this out if relevant)
IE11/Edge

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/anon/pen/mNpRpN
#### Actual behavior:
When a TextField with the required property is hovered over in IE11/Edge, a tooltip that says 'Please fill out this field.' does not show, un

[2019-08-06 02:09] AndrewCraswell commented on #9993
Can you speak a little bit more about the convergence with Stardust UI? Is there a list of components that are being migrated, and any preliminary timeline suggested? My team is currently planning to build some Teams apps and we had been eyeing Stardust UI because it has some components that do not exist in UI Fabric. Would be nice to know if some of the components our early concept designs call f

[2019-08-06 02:46] jdhuntington commented on #10053
Thanks for the examples! I'm afraid I'm not seeing any flickering occur though -- it seems to render as I would expect. Are you able to share what browser/OS you are using?

[2019-08-06 04:17] pandey11 commented on #9965
Hi @micahgodbolt please try this https://codepen.io/anon/pen/XvVaNo?editors=0011
 `onClick={() => {
              if (_basicComboBox.current) {
                setKey(null);
                // _basicComboBox.current.focus(true);
  }`
defining callback function inline somehow re-render the and component and cause performance issue.

[2019-08-06 04:19] pandey11 commented on #9965
Repro step:
1. expand combo box.
2. press d key of keyboard.
3. move you cursor outside of options pen so that combo box collapse.
4. Now hit reset combo box and check console

[2019-08-06 06:04] gokuldhanvanthri commented on #5582
Hi,
What is the status of this issue? Do we have the schema driven forms or anything similar to that which can be used?

[2019-08-06 06:33] Hardhik opened #10068 "Rating control reading out incorrectly when using Edge + Narrator"
### Environment Information

- **Package version(s)**: Latest ( @7)
- **Browser and OS versions**: Edge, Chrome
- **Screen reader(s)**: Narrator

### Describe the issue:
Incorrectly reading the Rating component in read only setting

### Please provide a reproduction of the issue in a codepen:
https://codepen.io/anon/pen/LweeLY

#### Actual behavior:

Pasting from Narrator buddy:

Large Stars:
Rati

[2019-08-06 10:36] edoai commented on #9231
@kenotron hi, any progress with this issue?

[2019-08-06 15:57] micahgodbolt commented on #9965
Ok I see. Repro is even easier. If you open the dropdown and then close it by clicking outside of the dropdown, setting the 'selectedKey' to null does not change the value.

![combo](https://user-images.githubusercontent.com/1434956/62555636-275b2c80-b828-11e9-8340-081f55e3746c.gif)

[2019-08-06 17:19] pandey11 commented on #9965
This is creating illusion to user that required field is provided and but application is blocks to proceed.it's a high severity issue for our application

[2019-08-06 17:24] micahgodbolt commented on #9965
@pandey11 our shield devs are balancing a number of incoming issues. We'll take a look into as soon as we can. As an open source project, if you are able to find the offending logic (probably in the onDismiss callback) and create a PR, we'd be happy to review and get it merged ASAP

[2019-08-06 17:42] jdhuntington commented on #10068
Hi @Hardhik - thanks for the report. I'm afraid I'm not seeing the same behavior when using edge and narrator; I'm only hearing the count of stars read a single time. I've tried in 3 browsers (ie11, edge, edge dev) and all exhibit the correct behavior. Are there other steps you may have taken to jump into a different mode?

[2019-08-06 17:45] kelseyyoung commented on #10038
How does this tool work? When you inspect the DOM manually you'll see the elements with the IDs at the very bottom in a Layer (this is right after a page reload)

![image](https://user-images.githubusercontent.com/4252452/62563101-1d8cf580-b837-11e9-8c75-5fccbbf6295a.png)

[2019-08-06 18:00] #10037 closed

[2019-08-06 18:04] rhublard commented on #9661
Hi, it solved our issue, we were able to run jest.

Thank you for the fix!

[2019-08-06 18:04] #9661 closed

[2019-08-06 18:31] jdhuntington commented on #10066
Hi @thuy-n-lu - I believe the behavior you are seeing is built in to the browser and shows on any required text field. It looks like IE/Edge does not include this functionality, which is why you aren't seeing it there.

It would be possible to include the Fabric tooltip control on a required field yourself, but it's not an out-of-the-box feature of the text field.

[2019-08-06 18:41] jdhuntington commented on #9645
Putting this on hold, as it would mean several major changes across consuming codebases.

[2019-08-06 18:41] #9645 closed

[2019-08-06 19:09] jdhuntington commented on #10049
There are 2 examples at https://codepen.io/jdh-msft/pen/vodXwy?editors=0011

The `NormalPeoplePicker` doesn't auto-select on blur out of the box, the behavior was a side effect of some of the options used in the example.

Another option to consider is the `FloatingPeoplePicker`, which provides much more customizability.

[2019-08-06 19:09] #7416 closed

[2019-08-06 19:12] lorejoh12 opened #10072 "Shimmer doesn't remove when data is loaded"
### Environment Information

- **Package version(s)**: latest (7.20.1)
- **Browser and OS versions**: all

### Please provide a reproduction of the bug in a codepen:

Tried reproing in the codepen but the timings seem fine there.

#### Actual behavior:

The Shimmer is not removing the shimmerWrapper div once the content is loaded.

I'm relatively sure this behavior was introduced during the recent

[2019-08-06 20:27] danmarshall commented on #10062
thanks @jdhuntington ! I will take a look and see if that works for my use case 👍

[2019-08-06 20:28] cc0rk opened #10073 "DetailsList's checkboxes look like radio buttons"
### Environment Information

- **Package version(s)**: Current
- **Browser and OS versions**: Irrelevant
- **Screen reader(s)**: Are probably better off

### Describe the issue:

The checkboxes in the detailslist component look like radio buttons. The checkboxes used in this component don't look like the checkboxes in the checkbox component, which is unintuitive and *super* weird.

### Please prov

[2019-08-06 20:39] mm90849491 opened #10074 "Scroll bar of ScrollablePane is missing on Excel task-pane"
### Environment Information

- **Package version(s)**: "office-ui-fabric-react": "^7.10.0"
- **Browser and OS versions**: Windows 10 (ver. 1903) & Excel 365 (ver. 1907)

### Please provide a reproduction of the bug in a codepen:
I put your documentation page (https://developer.microsoft.com/en-us/fabric#/controls/web/scrollablepane) in Excel, and the following screen-shot is the result:
![2019-08-

[2019-08-06 20:43] AndrewCraswell commented on #9008
Out of curiosity, is there a way to just render a `Tag` component outside of the `TagPicker`? I don't see any documentation on the Tag component, and a quick try had it rendering incorrectly...

[2019-08-06 21:11] kelseyyoung commented on #10038
As you can see I've linked a PR which I think was the root of the problem; the demo page itself didn't work correctly because those elements weren't present. After this gets merged, can you re-run your tool again?

[2019-08-06 22:00] #10035 closed

[2019-08-06 22:02] #10014 closed

[2019-08-06 22:23] #10038 closed

[2019-08-06 23:26] jdhuntington commented on #10074
Hi @mm90849491 - thanks for reporting this issue. Unfortunately we're not able to help with office add-ins in this repo. If you can recreate this same issue in a standalone context (such as in codepen) I'm more than happy to take a look though!

[2019-08-06 23:39] jdhuntington commented on #10073
I will dig into #8047 and see what I can do there. Also tagging @betrue-final-final in case he has comments on the specific design.

[2019-08-06 23:40] KevinTCoughlin commented on #10073
@jdhuntington, you _may_ find the following useful https://github.com/OfficeDev/office-ui-fabric-react/issues/9598#issuecomment-511618122.

[2019-08-06 23:42] mm90849491 commented on #10074
Hi @jdhuntington , thank you for the reply. I understand the problem is more of Excel's team's responsibility, as it only happens in a specific version of Excel. I was hopping there is a little chance you guys know the setup of embedded browser of Excel and can tweak it.
I guess I will report to Office.JS repo and see if they want to investigate this thing.

[2019-08-06 23:42] #10074 closed

[2019-08-07 00:01] Pangamma commented on #5280
Just want to say... resizing columns for DetailsList is a huge headache right now. Doesn't make any sense, doesn't work right. Whole thing is unusable. What the hell are these width units? Percentages? Inches? Probably inches!

[2019-08-07 00:10] KevinTCoughlin commented on #5280
They are absolute pixel values on resize, see:

![image](https://user-images.githubusercontent.com/706967/62585247-b9852400-b86c-11e9-93e1-0cb73ada76b1.png)

@Pangamma, can you elaborate on what is unusable and does not work correctly?

Are you referring to the same issue reported above? If not, do you have an isolated repro of what you are experiencing?

[2019-08-07 00:34] XpRv opened #10079 "DetailsList useReducedRowRendering feature causes row render when props have not updated"
### Environment Information

- **Package version(s)**: latest
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

With useReducedRowRendering  enabled, row rendering still occurs even if props do not update. Additionally, features like drag&drop and column re-sizing no longer work.

#### Expected behavior:

[2019-08-07 02:00] #10072 closed

[2019-08-07 03:19] cherrycaol opened #10082 "spin button value"
For _how-to_ questions and other non-bugs, please use StackOverflow instead of Github issues. You can tag your questions with [office-ui-fabric](https://stackoverflow.com/questions/tagged/office-ui-fabric).

If you are a Microsoft employee you can also join the Microsoft UI Fabric teams channel.

[2019-08-07 07:06] TestAccessibilityGIT commented on #6514
- [x] Bug 2: [Accessibility][Screen reader]: Two scan mode focuses encountered on check boxes when user first time selects them.
Bug 2 is still not fixed.

Verified it on test environment:
OS: Version: 1903 (OS Build 18362.239)
URL: https://fabricweb.z5.web.core.windows.net/oufr/7.19.0/#/examples/checkbox

[2019-08-07 07:31] aslanovsergey opened #10083 "Dialog scrolls to the top when open"
### Environment Information

- **Package version(s)**: 6.195.5
- **Browser and OS versions**: Windows 10, Chrome (Latest)

#### Actual behavior:

I don't understand what causes Dialog to scroll to the top if I'm opening an item from below of a list.

To better understand what I mean the last example(called Modeless Dialog) on Office UI Fabric library site shows exactly this thing. https://develope

[2019-08-07 08:40] eveleens commented on #10009
Can you link me to some previous issues?

[2019-08-07 08:48] abheyhanda opened #10084 "Facepile control is throwing color contrast is not sufficient"
### Environment Information

- **Package version(s)**: 6.190.1
- **Browser and OS versions**: chrome  76.0.3809.87 and windows 10
- **Screen reader(s)**: using keros chrome extension

### Describe the issue:

To repro the issue we can use chrome extension KEROS and its quick fast pass options
When you run the tool, for facepiles we are given issues related to contrast ratio in it.
One of the examp

[2019-08-07 13:18] shivasai09 commented on #5360
hellow @jspurlin  this is also repro in fabric website itself. below is the link for the video
https://drive.google.com/file/d/1cZ4watT8LJSHjBuW2NAnOjZ1aglhMt3o/view?usp=sharing

[2019-08-07 13:19] shivasai09 commented on #9971
@micahgodbolt  i will check it and let you know.

[2019-08-07 14:03] MdAmeerMind opened #10087 "Accordion: animation not triggered when setting isOpen property to false"

[2019-08-07 14:10] anushkumarkorukonda commented on #9970
@micahgodbolt  I have created two code pens one with list and one without list.

Context Menu with List: https://codepen.io/anush9625/pen/pMpGdM
Conext menu without list: https://codepen.io/anush9625/pen/mNELpm

I am able to repro this issue in first link and the same can be reproduced consistently with the integration in our application.

![ezgif com-video-to-gif](https://user-images.githubuserco

[2019-08-07 14:15] #10087 closed

[2019-08-07 14:40] zenaidura commented on #9698
onRenderSubMenu <IContextualMenuProps>: Method to call when trying to render a submenu.
This method never gets called within the subMenuProps interface. I want to render my own Callout on rendering sub menu items.

[2019-08-07 14:55] zenaidura opened #10088 "onRenderSubMenu"
### Environment Information

- **Package version(s)**: 7.5.3
React: 16.8.0
SPFx: 1.8.2
- **Browser and OS versions**: Chrome / Windows 10

#### Actual behavior:
According to the docs **onRenderSubMenu <IContextualMenuProps>: Method to call when trying to render a submenu.**

This method never gets called within the subMenuProps interface. I want to render my own Callout on rendering sub menu items

[2019-08-07 15:23] #10082 closed

[2019-08-07 16:21] jdhuntington commented on #10083
Hi @aslanovsergey - The scrolling behavior is related to the dialog being `modeless`. If the dialog is modeless, the dialog is absolutely positioned and the browser is scrolled to that location. Otherwise an overlay is used and no scrolling is required. This demo shows an example of a dialog with and without `isModeless` set: https://codepen.io/jdh-msft/pen/QeQXab?editors=0010

Does that mirror wh

[2019-08-07 16:37] jdhuntington commented on #10088
Hi @zenaidura - Sorry you're hitting this issue! Are you able to share a larger snippet of how you are passing these props? I was able to put together an example that shows `onRenderSubMenu` being called at https://codepen.io/jdh-msft/pen/jgZgEy?editors=0011 , but it might be failing in your specific context.

[2019-08-07 16:40] jdhuntington commented on #10084
Thanks for the report @abheyhanda . Are you able to share the specific context in which you saw this issue? I ran a report against https://fabricweb.z5.web.core.windows.net/oufr/7.21.0/#/examples/facepile (the most recent version of the facepile) and see no warnings about the control itself.

[2019-08-07 17:13] rohitrewa commented on #9879
@ecraig12345 I have a release blocker bug on my product due to this. Can you please update the current status on this.

[2019-08-07 17:18] jspurlin commented on #5360
@shivasai09 this doesn't align with what I was seeing before. Seems like it's a bug in Narrator. Chrome/NVDA does not repro this problem. I feel like the next steps would be to follow up with the Narrator team

[2019-08-07 17:27] shivasai09 commented on #5360
@jspurlin the narrator is not working only for the comboBox's where it's prop allowFreeform is set to false.
in the above video you can observe that it worked properly for other combobox, because it's allowFreeform is set to true.
if it was a narrator bug then it should behave same for all the combobox, but it din't , i strongly believe that it has to do something with allowFreeForm prop.

[2019-08-07 17:38] jspurlin commented on #5360
I think it has to do with how Narrator is handling comboboxes differently depending on if allowFreeform is true or false (e.g. if the input on combobox has readonly or not), not how the combobox itself is behaving. This is backed up by the fact that Chrome (or chromium edge) + NVDA work as expected

[2019-08-07 17:46] micahgodbolt commented on #9970
ok, wow. I was able to repro.

It seems that IE11 has a bug where the hover pseudo selector gets stuck

![image](https://user-images.githubusercontent.com/1434956/62645152-80968f00-b900-11e9-9fc6-ec0c24326aec.png)

tbh, i don't think this is a fabric bug. These aren't fabric controls that are failing.

[2019-08-07 17:47] joschect commented on #9879
@rohitrewa I was just able to reproduce this. Taking another look now.

[2019-08-07 17:53] aslanovsergey commented on #10083
@jdhuntington Thanks a lot for the example but in my product it doesn't work for some reasons, I will try to build a demo

[2019-08-07 17:55] joschect commented on #9879
@rohitrewa I need to confirm but I'm pretty sure this is working as intended. The reason this is occurring is that there is a title on the button so that a tooltip will display if a user hovers over it. The tooltip needs to be there in the case that there is a long name that gets truncated (see image)
![image](https://user-images.githubusercontent.com/20801176/62645794-cd2e9a00-b901-11e9-80cc-a43d

[2019-08-07 18:04] jdhuntington commented on #10046
@Ralms I believe you're seeing a typescript error due to strict mode. This function (in place of the previous) should handle the undefined case.

[code]

What text selection mode are you hoping to get working? Is MarqueeSelection `on` a requirement?

[2019-08-07 18:04] rohitrewa commented on #9879
A few points here

I do not see consistency in control’s behaviour for different versions of IE. Can you please refer shared Video in the mail. (Bad part is its happening in newer version)

Also in my opinion and as per the accessibility bug which I have a nav item should be read only once so that its not confusing to the listener. Please note that in other browsers the nav items are being read on

[2019-08-07 18:08] #10060 closed

[2019-08-07 18:08] #10061 closed

[2019-08-07 18:09] joschect commented on #9879
@rohitrewa I've confirmed that fabric is working as intended. There is a bug either in IE or Narrator. Theoretically the narrator should be smart enough to only read out the text once if they're identical and that's likely why this doesn't repro in edge.

Here's a very similar issue that we fixed #7052 and you can see in the discussion about how it is necessary to have the tooltip/title there for

[2019-08-07 18:53] zenaidura commented on #10088
Thanks @jdhuntington for a quick reply. I can see how you have bound onRenderSubMenu. My requirements are a bit more  complicated.
I am using CommandBar and passing the items with subMenuProps with a 3rd level subMenuProps. I want to render a 3rd level items as Mega-Menu.

`    private getCommandBarItems(): ICommandBarItemProps[] {
        let commandItems: ICommandBarItemProps[] = [];

        co

[2019-08-07 19:44] #10079 closed

[2019-08-07 21:19] joshualamusga1 opened #10092 "Improve typedefs for icon names"
#### Describe the feature that you would like added
It would be nice to have strongly-typed icon names. It's added type-safety and helps us find icons. There are no downsides beyond whatever maintenance is required.

#### What component or utility would this be added to
A new type definition should be added. It should look something like this:
[code]

The type definitions where an icon name would

[2019-08-07 22:03] natalieethell opened #10094 "DetailsList: DetailsRow isSelected styling not working"
### Environment Information

- **Package version(s)**: office-ui-fabric-react v7.21.0
- **Browser and OS versions**: N/A

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/naethell/pen/WVzQwq

In the CodePen, I attempt to set the color of text in a details row to red when the row's `isSelected` style prop is true. That style is not applied on the row until a resize eve

[2019-08-07 22:33] JllyGrnGiant commented on #10002
Hi @marygans I can confirm that between Narrator+Edge/Chrome and NVDA+Chrome I only experience this issue with NVDA.

Is there an issue in NVDA you'd be able to point me to?
Our team has to point to external issues in order to resolve our team's accessibility bugs as external.

[2019-08-07 23:15] JllyGrnGiant commented on #7217
Hi @aneeshack4
Do you have a link to an external bug/issue filed on the Microsoft Edge team for bug 5?
Our team has an accessibility bug assigned to us for our use of the Office Fabric spin button and we cannot resolve it as an external issue without linking an external issue/bug.

Thanks!

[2019-08-07 23:19] aneeshack4 commented on #7217
@JllyGrnGiant I'll Teams you the internal stack overflow link.

[2019-08-07 23:26] JllyGrnGiant commented on #7217
Thank you!

[2019-08-07 23:31] jdhuntington commented on #10088
I do think I've found an issue in not being able to override the submenu for the top level menu, but for lower level menus I do believe there's a solution.

It looks to me like the types we provide are off and suggest that `onRenderSubMenu` belongs at a place it doesn't, but in this example I was able to make the callbacks work. This works for the 2nd/3rd/4th level menus: https://codepen.io/jdh-ms

[2019-08-07 23:47] jdhuntington commented on #10092
@joshualamusga1 This is a good idea; thank you! I will figure out where this can go on our roadmap.

[2019-08-07 23:49] jdhuntington commented on #10092
The one wrinkle I'm not immediately sure how to solve is the presence of custom icons ( https://github.com/OfficeDev/office-ui-fabric-react/wiki/Using-icons#registering-custom-icons ). I'm sure there's a good solution though.

[2019-08-08 00:04] #9880 closed

[2019-08-08 00:12] caiomontei opened #10098 "Breadcrumbs defined as buttons instead of links"
### Environment Information

- **Package version(s)**: 6.190.0
- **Browser and OS versions**: Chrome or Edge, Windows 10
- **Screen reader(s)**: Narrator

### Describe the issue:

Breadcrumb items are defined as HTML buttons instead of links

### Please provide a reproduction of the issue in a codepen:
https://codepen.io/caiomontei/pen/ymKexK?&editable=true

#### Actual behavior:

Breadcrumb items

[2019-08-08 00:41] jdhuntington commented on #10098
Thanks @caiomontei  - I agree with your assessment. Do you have an interest in submitting a PR for this change?

[2019-08-08 03:49] HalcyonPride commented on #10038
Hi @kelseyyoung and @marygans: Ahh, yeah, that was it 😅 thank you so much for the quick fix!

[2019-08-08 03:51] HalcyonPride commented on #10038
How can I remove the "Needs: Attention" and "Needs: Author Feedback" tags? 🤔

[2019-08-08 05:19] AndrewCraswell commented on #8359
I just came across this issue as the same was flagged on our site during accessibility review. Two things here:

1. As noted above, the documentation site has MWF styles overriding Fabric styles which made it hard to identify the root issue.
2. I created a [Codepen](https://codepen.io/andrew-craswell/pen/JgLRLz?&editable=true) with the buttons without the MWF code and can still see some issues. On

[2019-08-08 06:01] zhr1130 commented on #5326
Any update on it?

[2019-08-08 07:38] anushkumarkorukonda commented on #9970
@micahgodbolt Can you please help how can we proceed forward on this issue?

[2019-08-08 10:52] pandey11 commented on #9869
@joschet This is not working for my application as well although 'aria-expanded' is toggling properly.
@cnamal @joschect do we need to set aria-expanded text explicitly or is there any prerequisite to make it work

[2019-08-08 13:05] anushkumarkorukonda commented on #9970
@micahgodbolt  Can you please suggest how can be proceed further on this issue?

[2019-08-08 16:55] caiomontei commented on #10098
Yeah, sure. I can do that.

[2019-08-08 17:09] marygans commented on #10038
I can remove them :)

[2019-08-08 17:11] #10015 closed

[2019-08-08 17:14] marygans commented on #10015
Hi @HarryGifford the PR referenced should solve this issue you submitted. Please let me know if you have further questions!

[2019-08-08 18:00] #9637 closed

[2019-08-08 20:23] taranlabana opened #10099 "Panels: how to display panels side by side"
Hi, I am looking for a way to show two panels side by side.
the first panel opens from right. and on click of a button, the 2nd panel opens on the left of 1st.

The following pic should make it clear:
![image](https://user-images.githubusercontent.com/41966566/62735168-95eee480-b9f8-11e9-9862-1f276bef0a56.png)

Can you please suggest a way to implement it using fabric react panel?

[2019-08-08 21:00] #9936 closed

[2019-08-08 21:26] jdhuntington commented on #10099
Hi @taranlabana - thanks for the question. I'm afraid the Panel control isn't built to be used side-by-side. There are several decisions made in the styling that depend on only 1 panel existing (most of these relate to smaller screen sizes, eg for phones).

It might be possible to use the `Overlay` control that Fabric exports and create your own that would accommodate your design, but unfortunatel

[2019-08-08 21:40] marygans commented on #10001
Thanks @eveleens and my apologies for the delay.  @lorejoh12 do you have any insights into what the expected behavior should be based on the accessibility bug filed?

My initial thinking was that this was intentional to provide more context to the user that the calendar is in a table format and they can move up, down, left, or right to span the calendar..

[2019-08-08 22:26] marygans commented on #10010
Hi @caiomontei `closeButtonAriaLabel="Close"` needs to be added for the tooltip and aria label to be shown/read as you can see in the example [here](https://codepen.io/gwiz0210/pen/eqradj). I will make sure the `Teachingbubble` examples include that.
Thanks :)

[2019-08-08 22:48] caiomontei commented on #10010
hi @marygans,

Thanks for the info. Unfortunately, this just solves the problem partially, since the tooltip just appears on mouse hover. If the user is using keyboard and focus on the icon, nothing appears.

Thanks

[2019-08-08 23:00] #9921 closed

[2019-08-08 23:57] marygans commented on #10010
I see. In Edge, tooltip on focus is a default behavior, but not for other browsers and thats intended behavior for this component.

Can I suggest using the [tooltip ](https://developer.microsoft.com/en-us/fabric#/controls/web/tooltip) component for that specific behavior? which is a more intentional activation of a tooltip on focus.

[2019-08-09 05:46] rohit-cyclotron commented on #8494
Is this feature implemented ?

[2019-08-09 09:32] Hardhik commented on #10068
Hi @jdhuntington thanks for looking into this.

I just tried it again and I see the behavior mentioned in the bug report. ( Microsoft Edge 44.18362.267.0 + Narrator ( I couldn't find the exact version number of Narrator other than "Released in 2019)

Here's a screenshot of the Narrator settings page:
![image](https://user-images.githubusercontent.com/2673006/62769377-74543280-bab6-11e9-9874-b5a405

[2019-08-09 11:30] SumitKanchan4 opened #10110 "Pivot Control not following Microsoft guidelines for navigation (Responsiveness Issue)"
Hi,

As per the guidelines by Microsoft on https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/navigationview

Pivot control is not responsive and following the guidelines. As I can see in the examples as well these are not responsive.

### Environment Information

- SharePoint Online
- Using in SPFx with version "office-ui-fabric-react": "6.143.0",

### Please provide a repr

[2019-08-09 11:32] SumitKanchan4 commented on #10110
Code:

 <div className={styles.grid}>
            <div className={styles.row}>
              <div className={`${styles.tabHeader}`}>
                {
                  <Pivot headersOnly={true} onLinkClick={(item) => this.tabClicked(item)} selectedKey={this.state.selectedTab}>
                    {
                      Object.keys(tabInfo).map(name => (
                        <PivotItem key={`p

[2019-08-09 17:25] jdhuntington commented on #10110
Hi @SumitKanchan4 - thanks for the issue!
You're right that the pivot control is not responsive. We are tracking this issue at #4066 , though unfortunately it's not in active development at the moment.
If the current behavior of the pivot is blocking, I would recommend detecting when the screen size changes below the threshold you are interested in and swap to another style of component at that po

[2019-08-09 17:38] marygans commented on #10009
Hi @eveleens, Here is an example: #9887

[2019-08-09 18:00] jdhuntington commented on #10068
Thanks @Hardhik - I still don't hear narrator reading through all the star values on load. I *do* hear things like "3 of 5 stars selected" after selecting a different rating manually on non-read-only controls, but it requires interaction.

Are you able to share a screen capture of what you're hearing?

[2019-08-09 18:27] zenaidura commented on #10088
Adding Sohail.
I tried the code and its working for you but same way my code is not
working.

On Wed, Aug 7, 2019 at 6:31 PM JD Huntington <notifications@github.com>
wrote:

--
Ashar Khan

LinkedIn: http://linkedin.com/in/ashar
Website: http://www.ashark.net

[2019-08-09 18:44] joschect commented on #9592
@JoshuaLamusga I'm a bit late with my response but my suggestion would be to use the floating picker. It gives you a lot more control over what you can do. The current picker is much more opinionated in the way that things should be done. Here is a [codesandbox](https://codesandbox.io/s/floating-picker-opens-with-key-press-idg4l) with a floating picker that opens on down arrow key pressed.

[2019-08-09 23:10] marygans commented on #10002
Hi @JllyGrnGiant!

Here is a link to a previous [issue](https://github.com/OfficeDev/office-ui-fabric-react/issues/9887).

I'd suggest submitting an issue with NVDA [here](https://github.com/nvaccess/nvda/issues).

[2019-08-09 23:18] caiomontei commented on #10098
hi @jdhuntington ,

I have just created a PR for fixing this issue. https://github.com/OfficeDev/office-ui-fabric-react/pull/10113

Thanks

[2019-08-09 23:35] martellaj opened #10114 "No margin being applied to Pivot text (with Icon)"
### Environment Information

- **Package version(s)**: 7.22.1

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/jdh-msft/pen/EqdPoK?&editable=true (link fixed)

#### Actual behavior:
No spacing between icon and label for Pivot component.

#### Expected behavior:
Spacing between icon and label for Pivot component.

### Priorities and help requested:

Are you willing to

[2019-08-09 23:35] martellaj commented on #10114
Offending change: https://github.com/OfficeDev/office-ui-fabric-react/commit/7f9f9ee1a7984a98a4a65c5f1eec392a4e1946ff#diff-4714de560076bfda4e0b0272d915f1ad

[2019-08-10 00:20] jdhuntington commented on #10114
@martellaj Thanks for reporting! Looks like your codepen link didn't come through -- are you seeing the same things as this codepen? https://codepen.io/jdh-msft/pen/EqdPoK?&editable=true

[2019-08-10 01:44] martellaj commented on #10114
@jdhuntington Woops. Yep, your link is the right one. Note how there's no spacing between the icon and the text.

[2019-08-10 04:38] JllyGrnGiant commented on #10002
Thanks, @marygans.
Filed an issue with NVDA.
https://github.com/nvaccess/nvda/issues/10066

I'm not yet confident the issue lies with them since regular tables don't seem to exhibit this behavior with NVDA, but we'll see what they say.

Thanks again!

[2019-08-10 09:00] #10031 closed

[2019-08-10 09:00] #10004 closed

[2019-08-10 09:00] #9962 closed

[2019-08-10 09:00] #9941 closed

[2019-08-10 16:38] mahesh2005 opened #10117 "Nav control - How do i cancel the link navigation"
I am using the Nav control in SharePoint Framework web part to display a hierarchy of links. I would like to capture the click event and pass the item url to parent component and prevent the link navigation i.e. i dont want the user to be navigated to the URL.
I have an onLinkClick function and i am using stop propagation but it does not seem to work. The call back function gets invoked and then t

[2019-08-10 17:16] #10099 closed

[2019-08-11 05:54] deepthitalasila opened #10118 "Unable to apply custom classes to fabric components using JSX"
Is there any way to acheive the below in JSX , i am unable to apply the styles and create compoundbutton in JSX

[code]

[2019-08-11 13:42] bhuvan-iyer opened #10119 "Commandbar elements within detailslist not accessible"
### Environment Information

- **Package version(s)**: 7.20.1
- **Browser**: Chrome, Edge
### Describe the issue:

Commandbar elements when within detailslist is not accessible using tab stops or arrow keys. But a button inside detailslist is accessible.

#### Expected behavior:

Commandbar elements when within detailslist should be accessible using tab stops or arrow keys.

### codepen repro:

ht

[2019-08-12 02:08] micahgodbolt commented on #9970
log a bug with the IE team

[2019-08-12 04:48] nguyentoantuit opened #10121 "TextField will be readonly if there is no onChange and onBlur defined"
We have a strict like bellowing:
You provided a 'value' prop to a TextField without an 'onChange' handler. This will render a read-only field. If the field should be mutable use 'defaultValue'. Otherwise, set 'onChange' or 'readOnly'.

Sometimes I use onBlur instead of onChange to increase performance. Can we support both onChange and onBlur? So the textfield will be readonly if there is no onChan

[2019-08-12 07:01] tenaciousd93 opened #10123 "Fabric component cause re-rendering"
### Environment Information

- office-ui-fabric-react: **^7.22.1**
- react: **^16.9.0**
- react-dom: **^16.9.0**
- react-router-dom: **^5.0.1**
- react-scripts: **3.1.0**

### How to reproduce:
* Create a new react project and install fabric UI:
[code]

* Open App.js and add the Fabric component:
[code]
#### Descriptinon:

Open Chrome developer tools, got o React tab (Need React developer tools: h

[2019-08-12 08:19] ashitvora opened #10124 "Allow TextField errorMessage field to remain aways in DOM to avoid Flickering Effect"
#### Describe the feature that you would like added
Currently, errorMessage property adds a span with an error message if something is set in the error messages property otherwise removes it from the DOM causing a flickering error. It would be nice to have the element in the DOM always to avoid such an annoying effect.

#### What component or utility would this be added to
All Input components lik

[2019-08-12 08:23] ashitvora opened #10125 "Allow Color Picker to be trigged by some other element like Button, Icon or have an extra icon in Swatch for Custom Color Picked from ColorPicker"
#### Describe the feature that you would like added
At the moment, ColorPicker is added inline into the DOM. Would be nice if it can be opened in a popup when clicked on a button or an icon. There no mention in the document on how to show ColorPicker in a Pop-up rather than inline in the DOM. The way I am trying to mimic Popup is by wrapping it around a Callout Component.

The problem is, ColorPic

[2019-08-12 09:30] Hardhik opened #10126 "Rating Star component losing tabindex once tabbed out of it in readonly mode."
### Environment Information

- **Package version(s)**: (latest @7)
- **Browser and OS versions**: (Chrome 76.0.3809.100, Win10)

### Describe the issue:

The Rating Star component in readonly mode, sets the tabindex = 0 for the rendered component. But when you are tabbing through it, after the first time it receives focus, the tabindex attribute is removed.

### Please provide a reproduction of th

[2019-08-12 15:14] JasonGore commented on #10119
I see the behavior described, thanks for the CodePen! Both `CommandBar` and `DetailsRow` contain a `FocusZone` which makes this a nested scenario. There could either be an issue with nested `FocusZones` or a configuration issue.

[2019-08-12 15:28] zenaidura commented on #10088
The code I have posted above does not hit he onRenderSubMenu function. But I saw that you have overridden the same method and it works at the same level which is subMenuProps.

I think the problem is with the binding of onRenderSubMenu using the object variable. If you see the code carefully you will find that I have command and commandItem objects that I use to set properties and methods. There i

[2019-08-12 15:32] dzearing commented on #10114
It seems like our screener tests don't validate this. We need to make sure they do.

[2019-08-12 15:37] JasonGore commented on #10117
I think React Router has a similar use case. Can you review [this issue](https://github.com/OfficeDev/office-ui-fabric-react/issues/915#issuecomment-429488589) and see if it addresses your question? You can also check Stack Overflow and ask the question there. Thanks!

[2019-08-12 15:48] JasonGore commented on #10118
I'm not sure what you mean by `in JSX` since your example is using JSX. Your example appears technically correct, but I'm not sure why would have two separate classnames for the same element. Are you applying the classNames to the right element? You can do something obvious like change background color to confirm application of the classname, as well.

Another key component missing here is [the us

[2019-08-12 16:06] JasonGore commented on #10121
A `TextField` can be used in both *controlled* and *uncontrolled* scenarios.

A *controlled* scenario means you control exactly what is shown in the `TextField`, including any changes made by the user that you want to reflect. In order for this to work you need to provide both `value` and `onChange` props.

An *uncontrolled* scenario means you want the `TextField` to automatically update its inter

[2019-08-12 16:42] JasonGore commented on #10123
I've created [a CodePen](https://codepen.io/jasongore/pen/KOjwez) that's similar to your example. You may have to fork it and choose `Change View` => `Debug mode` to see highlights (or try [this link](https://s.codepen.io/jasongore/debug/KOjwez/xnMabZodxQxr).)

As you said, React is highlighting updates on the `Fabric` component because `Fabric` has an `onMouseDown` handler that changes internal s

[2019-08-12 17:01] JasonGore commented on #10124
I'm not sure what you mean by `flickering error`. Do you mean the error message should take up space in the DOM, even when not present?

[2019-08-12 17:16] #10114 closed

[2019-08-12 17:16] Renive opened #10128 "Deprecations warnings in React 16.9"
### Environment Information

- **Package version(s)**: (latest, v7)
- **Browser and OS versions**: (fill this out if relevant)

### Describe the issue:

React 16.9 introduced new warnings if you use deprecated methods -  https://reactjs.org/blog/2019/08/08/react-v16.9.0.html

Using Fabric UI components cause spam of those warnings. Those lifecycle methods are used in most of the components in this

[2019-08-12 17:42] JasonGore commented on #10125
I did a [CodePen](https://codepen.io/jasongore/pen/bXPwmN) that displays a `ColorPicker` within a `Callout`. Is this what you are looking for?

[2019-08-12 17:55] JasonGore commented on #10126
Thanks for the repro links and root cause analysis. It does appear to be a bug.

[2019-08-12 18:01] NeerajaGarigipati commented on #10053
Please try to scroll up and down. If you go through first example there are three groups under the grouped list but you will see only one because of the group height if you collapse one of the groups then only you will see other groups and while you scroll down you can see flickering.

[2019-08-12 18:13] mahesh2005 commented on #10117
I changed the "url" of INavLink to "#" and used a custom property called "customUrl" to pass around the actual URL. That seems to have resolved the issue.

[2019-08-12 18:13] #10117 closed

[2019-08-12 18:20] JasonGore commented on #10128
We do have plans to eventually remove these methods and have already started as documented in #8743. I believe that issue should be reopened and I'm looking into it.

However, these warnings only occur when using React in development mode and should not impact production mode usage as [this CodePen](https://codepen.io/jasongore/pen/mNNjZM) shows.

[2019-08-12 19:09] taparikh commented on #9961
Hi @JasonGore  unfortunately I am not able to replicate my local dev code onto codepen due to the heavy data dependency. I would request that we hop on a teams call where I can demo this to you

[2019-08-12 19:12] JasonGore commented on #9961
This doesn't seem like an issue that would need a lot of data to replicate. We need some kind of repro to root cause and verify a fix works.

[2019-08-12 19:15] HarryGifford opened #10132 "Spin button labels don't align vertically with other control types"
### Environment Information

- **Package version(s)**: 7.22.1
- **Browser and OS versions**: Chrome 76.0.3809.100 (Official Build) (64-bit), Windows 10.

### Please provide a reproduction of the bug in a codepen:

Go to https://codepen.io/hegi/pen/OKBMRv and observe the alignment.

#### Actual behavior:

The alignment of the Spin Button is a couple of pixels out of alignment with other fields.

##

[2019-08-12 19:16] taparikh commented on #9961
As described in the description of this github issue we did test it out on the Office UI Fabric Persona Coin on the official website and saw the same error. Hence the issue is not with our development but rather in the persona coin compoenent

[2019-08-12 19:17] taparikh commented on #9961
Id be happy to replicate the Office Ui Persona Coin in a separate codepen (based off the codepen that is already present on the office ui fabric website) and share it with you

[2019-08-12 19:21] HarryGifford commented on #10132
I should clarify that the vertical alignment is the issue, not the horizontal alignment.

[2019-08-12 19:47] JasonGore commented on #9961
That's fine, if the Fabric link is sufficient for show the entire issue, I'll take another look at that. Thanks.

[2019-08-12 19:49] jspurlin opened #10133 "FocusZone: Focus should wrap consistently with ms-wide defined behaviors"
### Environment Information

- **Package version(s)**: 7.22.2

### Please provide a reproduction of the bug in a codepen:

Load the following codepens (resize the window so that you have multiple rows of controls, if needed) and either put focus on the first row or last row and press up/down arrow (relatively speaking).

Base FocusZonePen:
https://codepen.io/jspurlin/pen/xxKbGVR?&editable=true

Fo

[2019-08-12 20:03] jdhuntington commented on #10088
When I run this sample I see this output in the console when rendering the last submenu:
`render sub menu using variable [object HTMLButtonElement]`

Are you expecting something else?

[2019-08-12 20:06] JasonGore commented on #10128
The actual issue is #4613.

[2019-08-12 20:07] JasonGore commented on #8743
Replaced by #4613.

[2019-08-12 20:09] ecraig12345 commented on #10121
The TextField intentionally doesn't do internal state tracking when controlled, so it's not possible to make `onBlur` work with `value` the way you want. This mirrors the behavior of React's built-in `input` elements.

If you want to use only `onBlur` to track changes, there are a couple possible approaches:

1. Use the `defaultValue` prop rather than `value`, so the TextField will be uncontrolled

[2019-08-12 20:15] NickVarnado commented on #2725
I agree.

[2019-08-12 20:25] JasonGore commented on #10128
As an interim fix I think we can do a find-replace to `UNSAFE_` in the Fabric repo to minimize warnings for end users.

[2019-08-12 20:29] jdhuntington commented on #10098
@caiomontei Thanks very much for the fix!

[2019-08-12 20:29] #10098 closed

[2019-08-12 20:30] JasonGore commented on #10121
@nguyentoantuit Does this feedback help? Please let us know if you have any other questions.

[2019-08-12 20:36] JasonGore commented on #10132
Yep, I can see it. Thanks for the CodePen!

![image](https://user-images.githubusercontent.com/26070760/62896572-2f263f80-bd06-11e9-876f-556a8263942f.png)

[2019-08-12 20:56] JasonGore commented on #10132
@marygans noticed this while working on the other issue and was seeking design input. She offered to take this one over. Thanks!

[2019-08-12 21:02] Renive commented on #10128
If you want, in my link ( https://reactjs.org/blog/2019/08/08/react-v16.9.0.html ) there is a code mod to do exactly that. Just need to do npx react-codemod rename-unsafe-lifecycles in project. But that way there is less pressure to modernize the framework. :P

[2019-08-12 21:05] JasonGore commented on #10128
Yep, that is exactly the codemod I'm using now. We fully intend on always adapting and removing deprecated features and have #4613 open to do just that. I think it's also worthwhile doing this interim codemod step to reduce the noise for end users in the interim.

[2019-08-12 21:17] JasonGore commented on #10133
To clarify, both CodePens have an issue with columnar navigation. Row major keyboard navigation is fine in both cases, but the columnar navigation is incorrect in both cases. This diagram helped me understand the disparity in behavior between row and column navigation:

![image](https://user-images.githubusercontent.com/26070760/62899080-dc4f8680-bd0b-11e9-8093-dfca34be1ac3.png)

[2019-08-12 21:17] swshenoy opened #10134 "MessageBarButton does not render button text correctly"
### Environment Information

- **Package version(s)**:  **7.9.0**
- **Browser and OS versions**: Google Chrome

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/sshenoy291988/pen/oNvXJxO?&editable=true

#### Actual behavior:
The messageBarButtom has a hard-coded width value because of which any longer button text does not render correctly . Eg - Changing the text from

[2019-08-12 21:52] JasonGore commented on #10134
I can check with the designers and see if there's a good reason to constrain this.

However the actual button implementation is passed in by each one of these examples and you have full access to what's actually displayed. If you want an immediate fix, you can render whatever button you'd like, or override the default styles like so:

[code]

[Here's a CodePen](https://codepen.io/jasongore/pen/gOY

[2019-08-12 22:56] JasonGore commented on #9961
Ok, I have reproduced this on Chrome and Firefox. The key is to have the `Web Developer` extension and enable `Miscellaneous` => `Linearize Page`.

I have verified this issue is specifically caused by these [`:before`](https://github.com/OfficeDev/office-ui-fabric-react/blob/fb69c12d1de5b2fe70afe7062c47906577529c57/packages/office-ui-fabric-react/src/components/Persona/PersonaPresence/PersonaPrese

[2019-08-13 00:16] caiomontei commented on #10010
hi @marygans,

What do you mean by using the Tooltip component? Completely replace the teaching bubble with a Tooltip, or somehow use the tooltip component inside the teaching button for the close icon.

If it is the latter, I could not find any callbacks where I can provide my custom close icon implementation.

thanks

[2019-08-13 02:06] dzearing commented on #9808
It sounds like this issue has been resolved. @lavanya-kuda can you please close the issue once you've confirmed? Or, provide additional information on anything that you still feel is pending.

[2019-08-13 02:19] Lijing29 commented on #9885
@joschect Sorry for the late respond. When I use

[2019-08-13 02:22] Lijing29 commented on #9885
Could we reactive this bug as it is not fixed yet!

[2019-08-13 02:48] cliffkoh commented on #9300
cc @aditima @KevinTCoughlin

[2019-08-13 02:55] callmedhh opened #10136 "GroupedList content will disappear when scroll."
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

Go to this code pen link https://codepen.io/callmedhh/pen/eYOpEGr

Change the height of the embed result window to about half of the screen. Scroll down.
#### Actual behavior:
The list should scroll right.

##

[2019-08-13 03:01] nguyentoantuit commented on #10121
Using defaultValue and key to force it re-create new instance seems work for me.
The reason I don't want to use onChange because I don't want to update the same for single change, I just want to update state of my component when use finish typing data.
Thanks for your info and suggestion @JasonGore @ecraig12345

[2019-08-13 04:44] dzearing commented on #9993
@AndrewCraswell we will have more details over the next month, but could you provide details of what you like in stardust? That could help us prioritize things especially if we merge things over multiple iterations.

[2019-08-13 05:02] ashitvora commented on #10124
Oops! I meant, flickering effect.
And yes, that's what I meant - error message should take up DOM even when not present. Of at least have an option to get that behavior.

[2019-08-13 06:56] ashitvora commented on #10125
Yes. I did exactly that. Except that for me, callout does not appear right next to the Button as intended but appears on the top left corner of the window. It calculates the incorrect value of top and left position.

[2019-08-13 07:24] enriquin commented on #2725
@micahgodbolt The issue was closed, is this abandoned?

I think it is a really easy to fix usability problem. Even in the website examples you have to insert an additional clear date button ;)

Thanks!

[2019-08-13 07:37] AndrewCraswell commented on #9993
Specifically at the moment, the Accordion component. I see the `Accordion` and `CollapseExpand` are already being worked on and currently in the experiments package. MWF and Stardust UI were the only libraries that had these components, and if I recall, MWF retracted the React component package and pulling down Stardust UI and trying to use their Accordion just threw a bunch of errors.

[2019-08-13 07:54] mtennoe commented on #9961
@JasonGore - That's curious. @Markionium - You added these as part of adding dual presence, do you have any quick ideas? Either way, I kind of like the idea of creating icons for these though

[2019-08-13 09:34] abheyhanda commented on #10084
We are using version # 6.190.1 which has these colors, some sample like 00aba9, 99b433, 2D89EF.
In latest versions have new set of colors so the issue might is not reproing on those.

Can we back port the new colors to #6 or atleast fix the colors which cause contrast issue?

[2019-08-13 10:00] #10051 closed

[2019-08-13 10:00] #9757 closed

[2019-08-13 10:00] #9707 closed

[2019-08-13 12:50] savkelita commented on #8830
Is there any temporary solution to change default `Chevron Icon` without overlapping? Thanks.

[2019-08-13 13:46] Ralms commented on #10046
Hi @jdhuntington,

Yes I do have strict on.
Thank you for helping out with the workaround and getting it to work with strict mode.

As this is clearly not considered an issue to the Office Fabric team, I will proceed and close it.

[2019-08-13 13:46] #10046 closed

[2019-08-13 14:13] frevds commented on #8830
Yes, my hack should do that:
https://github.com/OfficeDev/office-ui-fabric-react/issues/8830#issuecomment-486025019

[2019-08-13 14:35] savkelita commented on #8830
@frevds i mean to replace current icon with new one

[2019-08-13 15:13] JasonGore commented on #10125
Do you have a Callout issue or question now? I'm not sure how to assist. You can check the Callout documentation and Stack Overflow and maybe enter another issue if you find a Callout issue. If you are satisfied there is no ColorPick issue, though, please close this issue. Thanks!

[2019-08-13 15:17] JasonGore commented on #10121
If you are satisfied and don't have any other question or issue, please close the issue. Thanks!

[2019-08-13 15:30] zenaidura commented on #10088
It is the expected outcome.
It is to test that onRenderSubMenu is triggered in your code but it does not for me. However way I try.

I wrote this code recently as well and it never comes inside the code

`
    private getPersonalizedItems(): ICommandBarItemProps[] {
        let commandItems: ICommandBarItemProps[] = [];

        commandItems = [
            {
                key: "apps",

[2019-08-13 16:11] micahgodbolt commented on #2725
This was closed some time ago by an overly aggressive stalebot. This is a valid question to bring up. I'll ping @lorejoh12 about if it's on the calendar team's roadmap (or if they have other suggestions)

[2019-08-13 16:26] JasonGore commented on #10136
I initially had trouble seeing an issue with the CodePen but eventually the content just disappears entirely leaving a white page. This happens both with the embedded CodePen window and with CodePen in Debug Mode. The initial page load seems to take very long, as well, with the scrollbar moving while not showing any content.

@KevinTCoughlin Is GroupedList practical for large data sets like this?

[2019-08-13 17:13] marygans commented on #10002
Awesome, I will soft close the issue with `Not an issue` label. If you have more questions, feel free to to ask and I will reopen it. Thanks for submitting the issue!

[2019-08-13 17:20] frevds commented on #8830
@savkelita Not sure what you mean with current icon. If you don't assign the icon property for a INavLink item then it shows no icon unless it has child items in which case it shows a chevron. If you assign an icon it shows both, the chevron and the icon, but on-top of each others (that's the bug). My workaround is a CSS hack to put additional margin to separate the two icons, but it is limited (e

[2019-08-13 17:50] JasonGore commented on #10124
I chatted a bit with @betrue-final-final about this issue. Our best practices around components and `TextField` is to conserve space wherever possible. Also, there is metadata and accessibility information contained within the error message, so making it part of the DOM when it does not having meaningful information will introduce other issues.

I think in this case if you have a requirement to pr

[2019-08-13 18:12] lorejoh12 commented on #10001
The table structure was created before I took ownership of the control, so I can't speak to the reasoning that the semantics for announcing row/column were originally used. However, it is certainly convenient that we announce the table structure the way that we do, because it tells you about the navigation information, as well as announcing what row/column you're in only when it changes. For insta

[2019-08-13 19:00] eveleens commented on #10009
I could see this being an NDVA issue, but I also want to say that #9887 you linked doesn't have anything similar to this issue other than it's also an NVDA issue.

That being said, I can file a bug with NVDA for this.

[2019-08-13 19:00] #10009 closed

[2019-08-13 20:00] #10066 closed

[2019-08-13 20:48] jdhuntington commented on #8047
The root cause is the combination of a few things:
 - `SelectionZone` listens to all events
 - When a `label` that's tied to an `input` element is clicked, the browser fires 2 events: one for the `label` and one for the `input`. ( https://codepen.io/jdh-msft/pen/NWKxMvN?editors=1111 for a demo)
 - The `Checkbox` UI is a check icon inside of a `label` that triggers a hidden `input`, meaning 2 event

[2019-08-13 20:50] jdhuntington commented on #10073
@cc0rk There's a workaround for the custom render function at https://github.com/OfficeDev/office-ui-fabric-react/issues/8047#issuecomment-521003228 . Let's keep this issue open to discuss the design question though.

[2019-08-13 20:52] JasonGore commented on #10134
It appears the fixed width was added in #8779.

[2019-08-13 21:00] #10049 closed

[2019-08-13 21:21] jdhuntington commented on #10088
Sorry @zenaidura, I'm having a hard time picking the right values for `getMyMenu` and such. Is it possible to put this into a codepen example that I can debug?
Thanks!

[2019-08-13 22:00] #9978 closed

[2019-08-13 22:14] JllyGrnGiant commented on #8349
Is there any information about what the fix for Bug10 (role=application) would entail? It isn't clear to me what is supposed to be done instead besides removing the role, which, from what I can tell (I could be mistaken), would make screen readers switch to scan/browse mode when they reach the table.

[2019-08-13 22:47] atneik opened #10138 "Inconsistent link hover behavior in Breadcrumb"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/atneik/pen/JjPGZzY

Items with no link (no `onClick`), behave differently when collapsed as compared to not collapsed.

#### Actual behavior:

When `onClick` is not defined in an item of Brea

[2019-08-13 23:20] taparikh commented on #9880
@joschect  Hi Jon - I updated to the version you mentioned which has the fix - but I am still facing the issue. The DatePicker does not have an accessible name

[2019-08-13 23:41] taparikh commented on #9880
I see that the datepicker component does have an accessible name when checked in the inspect element. However the accessibility insights tool is still flagging them as an error.

![image](https://user-images.githubusercontent.com/51679982/62984750-3a05d080-bde9-11e9-9112-3b480671dc43.png)

[2019-08-13 23:48] jdhuntington commented on #10084
Opened #10139 with the requested change; want to sync with designers first and make sure this doesn't violate any promises with the theme shipped in v6.

Alternatively, is there anything blocking you from upgrading to 7?

[2019-08-14 00:45] jdhuntington commented on #10053
I was able to repro after a bit of window resizing. We are looking at a fix, but in the immediate term, is it an option for you to use `  onShouldVirtualize={() => false}` in the invocation of the `GroupedList`? In the case I was able to repro, this solved the flickering issue.

[2019-08-14 00:45] #9901 closed

[2019-08-14 03:37] micahgodbolt commented on #9819
@joschect i see that we decided to move forward with the new colors in Fabric 7. Since we're having contrast issues with the Fabric 6 colors, would it make sense to port those color changes back to 6 as well?

[2019-08-14 09:52] x73x63 opened #10144 "Referencing child elements within the mergeStyleSets scope failed"
### Please provide a reproduction of the bug in a codepen:
[https://codepen.io/x73x63/pen/GRKoeBX?editors=0010](https://codepen.io/x73x63/pen/GRKoeBX?editors=0010)

#### Expected behavior:
[Reference wiki](https://github.com/OfficeDev/office-ui-fabric-react/wiki/mergeStyles#referencing-child-elements-within-the-mergestylesets-scope)
when the parent is hovered, change the background of the child el

[2019-08-14 11:33] ymihir commented on #9936
Not only checkbox, even styles are not applying for modal dialogs. This is really disappointing. What should I do for my requirement? I need to stop using SPFx with react?

[2019-08-14 12:20] sophieH29 opened #10145 "[FocusZone] Bidirectional: U/D Arrow key navigation bug when hitting grid edge"
### Describe the issue:

When navigating UP and I reach the end of the grid, the focus moves LEFT as expected (same behavior with DOWN moving RIGHT). However, after reaching the edge of the grid and UP causes me to navigate further LEFT, behavior of the DOWN key is wrong. I do not end up one space below my current position. Instead, I end up one space down from the last valid UP movement.

### Ple

[2019-08-14 15:07] cc0rk commented on #10073
Thanks @jdhuntington!

[2019-08-14 15:43] JasonGore commented on #10145
I see the behavior you describe. This is somewhat related to #10133 and a fix should address both issues. The issue here is just different enough from #10133 that I will leave both open for resolution.

[2019-08-14 15:44] JasonGore commented on #10133
A fix for this issue should also address #10145.

[2019-08-14 16:55] JasonGore commented on #10144
The wiki is out of date. Using this method is deprecated and has recently been removed. [This is the current recommended method.](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/merge-styles/README.md#referencing-child-elements-within-the-mergestylesets-scope)

I've [updated your CodePen](https://codepen.io/jasongore/pen/QWLNwev) to show the recommend method.

I will resol

[2019-08-14 17:19] ecraig12345 commented on #9997
Noticed this issue since I'm also working on some Icon changes (#9884). I'm not sure that hoisting `aria-*` attributes from `imageProps` to the icon root makes sense. If you want those attributes applied to the root, you can apply them there directly (see https://codepen.io/ecraig12345/pen/WNewvMd?editors=0010). Is there a case where you're not able to apply the attributes to the root for some rea

[2019-08-14 17:53] gsbelarus opened #10148 "[DetailsList] is it possible to set selected rows programatically?"
I know there is a similar question on StackOverflow, but it is not answered for a two years now.

Is it possible to set selected items for `DetailsList` programmatically? I try to call `selection.setKeySelected(...` or `selection.setIndexSelected(...` but `DetailsList` doesn't reflect the changes, i.e. selection check boxes are not drawn according to the new selected state of rows.

[code]

[2019-08-14 18:00] #10002 closed

[2019-08-14 18:00] #8532 closed

[2019-08-14 18:18] #10128 closed

[2019-08-14 18:27] JasonGore commented on #10138
I chatted with @atneik to verify that this is an issue with the component against its Fluent design spec. I will triage as a bug.

[2019-08-14 20:00] #10083 closed

[2019-08-14 20:00] #9879 closed

[2019-08-14 20:08] LukeGaylor13 commented on #10021
@micahgodbolt the problem here is that this is a accessibility issue for anyone using this particular feature. This should be considered a bug and of high priority.

[2019-08-14 20:41] ecraig12345 commented on #10125
@ashitvora Be sure you're setting the `target` prop of the callout correctly. You can either give the button an ID (say `myButtonId`) and pass a selector to the callout (`target="#myButtonId"`), or use a ref to get a reference to the button's DOM element and pass that as the target.

[2019-08-14 21:25] apneer opened #10150 "Fabric 7.23 is adding ~1.3kB to Checkbox"
Pr responsible for size increase: https://github.com/OfficeDev/office-ui-fabric-react/pull/9815
This seems to be a big increase for an extra feature.

### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites affected: OutlookWeb fabric updates

[2019-08-14 21:55] micahgodbolt commented on #10021
i understand that it fails a particular validator test, but can you point to an accessibility issue that it actually causes? Are screen readers affected?

[2019-08-14 21:56] micahgodbolt commented on #10021
it appears that buttons can take 'phrasing' content. So is changing all of the divs to spans an effective way to resolve this?

[2019-08-14 22:23] JasonGore commented on #10148
I do see [answers in the Stack Overflow issue](https://stackoverflow.com/questions/43281002/how-to-set-checked-on-item-in-detailslist-control) that address this question. I think the issue with the code you provided is that you are making a new `Selection` on every render. I've created [a CodePen](https://codepen.io/jasongore/pen/mdbPExx) which seems to work fine, the primary difference being that

[2019-08-14 22:26] taparikh commented on #9880
@joschect  Wanted to confirm that this fix solves our accessible issue. Thanks!

[2019-08-14 22:36] sampascal opened #10153 "Picker Border color issue"
### Environment Information

- **Package version(s)**: (fill this out)
Latest version, the issue persists on Fabric documentation as well
- **Browser and OS versions**: (fill this out if relevant)
Chrome, Win10

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

When adding items to the picker, the bottom border will display a different color (or different weight) w

[2019-08-14 22:50] joschect commented on #10153
@sampascal Could you clarify which picker you're referring to? And if possible provide a screenshot? I tested and wasn't able to get what I saw as a repro.

[2019-08-14 22:57] sampascal commented on #10153
@joschect
![pickerColor](https://user-images.githubusercontent.com/5790129/63062033-3be49800-beac-11e9-8a91-7690b29b87ec.JPG)

[2019-08-14 23:10] #10144 closed

[2019-08-14 23:30] joschect commented on #10153
@sampascal I can reproduce this, it seems to be related to screen dpi. There are some screens where it does not reproduce.

[2019-08-14 23:37] joschect commented on #10153
@sampascal it also seems to be related to the browser as I cannot reproduce it using safari.

[2019-08-14 23:39] #4971 closed

[2019-08-14 23:39] #9898 closed

[2019-08-14 23:53] HalcyonPride commented on #9997
@ecraig12345, I can't say - I'm just basing my comments off what's already written in Icon.base.tsx:
![image](https://user-images.githubusercontent.com/8681794/63064007-0fcd1500-beb4-11e9-9632-bed9c0120039.png)

[2019-08-14 23:55] denniscoh opened #10155 "Panel component calling render() twice upon launch"
We're upgrading Shifts Web from Fabric 6.182.1 to 7.23.0, and we're seeing Panel now calling its render() twice upon launch.  Previously this would only get called once.

Jason Gore did some initial investigation and thinks there might be a change in 6.74 that caused this.

Here's a sandbox with Panel on 7.23.0 - render() called twice:
https://codesandbox.io/s/office-ui-fabric-react-ts-jx9eu

And

[2019-08-15 01:25] blgrossMS opened #10156 "When using symlinked library that uses Stack type in office fabric react, React throws an exception"
### Environment Information

- **Package version(s)**: 7.20.1
- **Browser and OS versions**: Windows 10 17763.615; Chrome 75.0.3770.142

### Please provide a reproduction of the bug in a codepen:

Contact blgross for location of repro

#### Actual behavior:

When a symlinked shared package is used inside another project this exception gets thrown by React:
[code]

#### Expected behavior:

Exceptio

[2019-08-15 01:31] v-sole opened #10157 "Add new icon for School Data Sync"
Hi, I work with O365 Admin team, we're using a lot of Fabric icons. We have a client School Data Sync that has a specific Icon that I need to show along with other Fabric icons. I just have a png file but it'd be great to be able to use from Fabric library. I've attached the icon. The person to reach out for more detail is Amisha(amisha@microsoft.com) or Venkat(Venkat.Narayanan@microsoft.com). Tha

[2019-08-15 01:53] blgrossMS commented on #10156
Reread this doc again: https://reactjs.org/warnings/invalid-hook-call-warning.html Overlooked the third issue. Symlinking the react-dom from the shared component node-modules fixed it.

[2019-08-15 01:53] #10156 closed

[2019-08-15 02:25] #10134 closed

[2019-08-15 03:13] ecraig12345 commented on #9997
All that's doing is determining whether the container should be `aria-hidden` based on the provided `imageProps`. It's not directly passing any props through.

[2019-08-15 03:15] #9522 closed

[2019-08-15 03:19] #10010 closed

[2019-08-15 04:22] abheyhanda commented on #10084
We are close to our planned release and changing a major version at this stage, may bring up more issues. So we need the fix in version 6 for now.

We would later have plan to upgrade fabric version in our product

[2019-08-15 05:36] dzearing commented on #10150
This I believe was due to indeterminate state support being added.

https://github.com/OfficeDev/office-ui-fabric-react/pull/9815/files

Of the 1.3k added, i am estimating (looking at the size auditor report) about 800 bytes were from the .styles update, and 500 were from the .base update.

I think the feature of supporting indeterminate is important for a number of scenarios. Do you see ways to r

[2019-08-15 05:40] dzearing commented on #10150
Paging @maxwellred  :)

I could see a few bytes savable in the styling:

[code]

I believe these redundant selectors could just be collapsed:

[code]

I see a number of redundant classes.

[2019-08-15 06:32] bt-88 opened #10158 "Question: How do I view the @uifabric/experiments demo app?"
Can I view the @uifabric/experiments demo app somewhere online?

Or can I perhaps build the repository on my machine? If yes, how?

(Perhaps, we can add this information to the readme page on @uifabric/experiements)

[2019-08-15 07:01] gsbelarus commented on #10148
Thank you! Now it works as expected.

[2019-08-15 07:01] #10148 closed

[2019-08-15 07:09] #10028 closed

[2019-08-15 08:58] x73x63 commented on #10158
1. git clone https://github.com/OfficeDev/office-ui-fabric-react.git
2. cd packages/experiments
3. npm install && npm start

[2019-08-15 09:17] bt-88 commented on #10158
`npm install` returns the following error:

[code]

[2019-08-15 09:17] cliffkoh commented on #9885
Hi @Lijing29, @ecraig12345 has checked in a workaround that will unblock you on this scenario, if you're optimizing for VoiceOver. The fix should be consumable in less than 3 hours :)

[2019-08-15 09:18] sophieH29 commented on #10145
@JasonGore we use `FocusZone` for [Stardust](https://github.com/stardust-ui/react) Microsoft library. I debugged the issue and found out that left alignment is not updated in a case when pressing the UP button on the edge and focus moves to the left (same when pressing DOWN and focus moves to the right). I introduced the fix on our side in this PR https://github.com/stardust-ui/react/pull/1794

[2019-08-15 09:21] cliffkoh commented on #10158
Can you try using `yarn install`? I'm not sure if we actually support `npm install` (@jdhuntington  or @ecraig12345 , do you know?)

[2019-08-15 09:22] cliffkoh commented on #10157
Please reach out to @Jahnp offline!

[2019-08-15 09:24] cliffkoh commented on #10155
cc @kkjeer in case she has context

[2019-08-15 09:26] cliffkoh commented on #10150
@dzearing wouldn't collapsing those selectors make it that much harder/nigh impossible to say, just overwrite just the hover style border color? You will have to resort to specificity/`!important`

[2019-08-15 12:03] jacksonv1lle commented on #9373
I would like for the suggestions to only appear when the user types. Is it possible to prevent the callout from appearing on click?

[2019-08-15 12:52] dirkesquire commented on #9150
Please could you let me know if we have gotten any further with this?
Out team is struggling to test any react components that use @uifabric/fluent-theme inside of them.

I've tried this:
[code]

Jest still errors out with the identical error listed in the first post.

We are using react-scripts which uses jest and we are using Typescript.
Any advice please?

[2019-08-15 15:07] JasonGore commented on #10150
I have been talking to @apneer about this on the side to determine possible resolutions. This is a core feature since [native input supports indeterminate](https://developer.mozilla.org/en-US/docs/Web/CSS/:indeterminate), so I was going to look at methods for reducing the implementation size.

In addition to the things you pointed out, there seems to be both redundant logic and styling `indetermin

[2019-08-15 15:18] JasonGore commented on #10156
I ran into this issue when I minbared React to 16.8 in Fabric. 😄

[2019-08-15 15:40] JasonGore commented on #10158
Fabric recently [switched over to yarn](https://github.com/OfficeDev/office-ui-fabric-react/wiki/Build-Commands) for building.

The commands are:
1. git clone https://github.com/OfficeDev/office-ui-fabric-react.git
1. [yarn](https://github.com/OfficeDev/office-ui-fabric-react/wiki/Build-Commands#yarn-install)
1. [yarn buildto experiments](https://github.com/OfficeDev/office-ui-fabric-react/wiki/Bu

[2019-08-15 15:44] JasonGore commented on #10155
The change I mentioned about 6.74 couldn't apply here since you didn't see this behavior in 6.182.1.

[2019-08-15 16:43] ethanroday commented on #5660
Just wanted to resurface this - it would be great if autocomplete were included as a part of the SearchBox component.

[2019-08-15 16:49] xWiiLLz commented on #10021
Also facing this issue as part of our compliance process (W3C HTML validator). I believe that changing `div`s to `span`s will fix the problem, as they are proper [Phrasing content](https://html.spec.whatwg.org/multipage/dom.html#phrasing-content-2).

[2019-08-15 16:52] ethanroday opened #10160 "Add clear button to TextField; add "clearable" to TextField and SearchBox"
#### Describe the feature that you would like added
Two closely related requests (I can create a separate issue if desired):
1. Like `SearchBox`, it would be great if `TextField` had a clear button (that only showed up when there was text in the box). It could potentially take precedence over `iconProps` or maybe just show up to the right of the icon if it's there.
2. The clear button should be op

[2019-08-15 19:26] HalcyonPride commented on #9997
Yes, but it's implying that `aria-labelledby` etc. is passed via `imageProps`. Otherwise, why is it trying to read those attributes from `imageProps`?

Conversely, this code needs to be updated if we expect `aria-*` attributes to be passed via the icon root instead.

[2019-08-15 20:29] micahgodbolt commented on #9184
hmm, i'm not sure. looking again at figma and our design they seemed to be pretty well aligned

Us:

![image](https://user-images.githubusercontent.com/1434956/63124660-a2c38900-bf60-11e9-832d-1b32be015fb1.png)

Figma:

![image](https://user-images.githubusercontent.com/1434956/63124681-ad7e1e00-bf60-11e9-84d5-386e174d538f.png)

[2019-08-15 20:30] micahgodbolt commented on #9184
height appears to match up as well. we might be able to close this. @Vitalius1  anything you can think of we need here

[2019-08-15 20:40] sampascal commented on #10153
ok, I am using Chrome and win10, screen resolution is 3840*2160.

Do you think you can fix this issue so that all browsers and dpi can see the same correct picker?

Thanks!

[2019-08-15 21:15] Vitalius1 commented on #9184
I would defer this to @betrue-final-final decision because when I did some fluent updates on this the specs I got were in different abstract toolkit I got for a designer on another team and not sure if  they are up to date with the fluent toolkit. He has the final decision.

[2019-08-15 21:33] marygans commented on #9184
Current UI has a border color of neutralTertiaryAlt(#c8c6c4) while in both toolkits its neutralSecondaryAlt (#8a8886).
<img width="1294" alt="Screen Shot 2019-08-15 at 2 24 16 PM" src="https://user-images.githubusercontent.com/38991459/63128033-d30f2580-bf68-11e9-998c-321829912564.png">

I will check with Ben for the correct value

[2019-08-15 21:53] JasonGore commented on #10155
I've done more investigation. I set up [a CodePen](https://codepen.io/jasongore/pen/VwZaXEr) with various React and Fabric versions that renders a `Panel` with a button.

This CodePen shows there have been multiple renders for some time with `Panel` when it is added to the DOM dynamically, stretching as far back as v6.4.

It does seem, however, that #6680 (introduced in v6.84.1) added a third rend

[2019-08-15 22:35] zenaidura commented on #10088
Hi @jdhuntington I apologize for writing late on this.
I have resolved the problem by following your example and also had premier support helped me figure out how the mechanics of ContextualMenu works. Basically the onRenderSubMenu callback is triggered if the item has children using subMenuProps and the child menu of an item is about to render.

This code helps understand the above. In this examp

[2019-08-15 22:35] #10088 closed

[2019-08-15 22:38] JasonGore commented on #10160
Regarding point 1, an `input` only has a clearable indicator when its `type` is `search`. I think in this case `TextField` is analogous to a `text` input. `SearchBox` is more analogous to an `input of `type` `search`. I think in special cases where an input with a clear button is desired, `SearchBox` should be used, or a simple composed component making use of `TextField` could add clearable.

I s

[2019-08-15 23:00] #10012 closed

[2019-08-16 03:26] t-zeche opened #10166 "Different behaviors of tooltip in IE and Chrome"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

![image](https://user-images.githubusercontent.com/53205695/63141501-7c612480-c018-11e9-9cbd-d2ff1d8b02c7.png)
**This only happens in IE**

#### Expected behavior:

![image](https://user

[2019-08-16 05:20] dzearing commented on #10150
@cliffkoh Having a comma delimited selector does not increase specificity; but I don't think that's what you meant. I think you meant overriding the exact selector is now harder.

Honestly I don't expect a developer to be overriding these, and if they are, just use !important, because assuming that you can override a selector with 2 levels of specificity is just too fragile to design around (espec

[2019-08-16 07:40] hamedy opened #10167 "opening Panel hides scrollbar on the main page and shifts content"
### Environment Information

- **Package version(s)**: (6.199.0)
- **Browser and OS versions**: (Chrome, Win10)

#### Actual behavior:

when you open Panel, a css class (seen different ones so it's kind of random, css-0, css-32 for example) is added to the body with following css:
`
overflow: hidden !important;
`
if you happen to be on a page that has a scrollbar, it makes the scrollbar go away, w

[2019-08-16 10:00] #10157 closed

[2019-08-16 10:02] kiranmayee18 opened #10168 "DetailsList Screenreader Narrator"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Describe the issue:
The sort order of a column header is not announced by the narrator screenreader on edge. (It is announced in NVDA+chrome)

#### Actual behavior:

Narrator does not announce any information about the sorting order of a column header.

#### Expect

[2019-08-16 10:08] j-te commented on #2725
This is my dirty work-around for implementing a clear button. It may give @lorejoh12 some ideas for styling. I feel the default calendar icon is confusing on the right-side as typically within an input: a controllable button is on the right. So I flipped it.

![image](https://user-images.githubusercontent.com/34647206/63160441-b11fac80-c015-11e9-8e8b-ec69f43cf1b5.png)

[code]

[2019-08-16 10:32] Hardhik opened #10169 "Grouped List accessibility: NVDA + Chrome"
### Environment Information

- **Package version(s)**: office-ui-fabric-react@7
- **Browser and OS versions**: Chrome 76.0.3809.100, Win10
- **Screen reader(s)**: NVDA 2016.4

### Describe the issue:

When using NVDA, it reads out the whole of the hierarchy of DOM elements especially noticeable when there's nested Grouped Lists.
For example, in the codepen link provided, when we tab to the button,

[2019-08-16 10:34] j-te commented on #6636
I think Wrapping a form component could work well IE new component `<Validate>` looks at its children:

[code]

This way we can have one component that can check a group of inputs, helps reduce re-rendering/unnecessary duplication.

`isError` & `errorType` props could be passed down to it's children, so that further styling could be applied (example, colour shadow highlight on error type).

I find

[2019-08-16 13:41] Kesshi commented on #10128
Just found a warning that is raised from the Nav component. It would be nice if this could be fixed also.

[2019-08-16 14:31] JasonGore commented on #10128
If you see anything else related to deprecated React methods please feel free to add it to #4613.

[2019-08-16 14:48] JasonGore commented on #10166
Please provide a CodePen as the template asks for. That will help ensure this isn't a version-specific or implementation detail. It also helps confirm we've fixed the specific usage scenario. Thanks!

[2019-08-16 15:17] JasonGore commented on #10167
Have you tried the `isBlocking` prop? I did a [quick CodePen](https://codepen.io/jasongore/pen/rNBLVMv) to demo the difference. If `isBlocking` is false, Panel shouldn't prevent scrolling.

[2019-08-16 16:05] JasonGore commented on #10168
The [ARIA reference example](https://www.w3.org/TR/wai-aria-practices/examples/grid/dataGrids.html) also does not announce sorting order.

This is a known and open issue in Narrator.

Related Issues (some duplicates): #6646, #6011, #8676, #9092

[2019-08-16 17:08] x73x63 commented on #10167
I have the same need. isBlocking prop unable to meet demand
If isBlocking = true, Panel cannot be closed on outer click.

OverlayBase.tsx, Parent component should be allowed to set overlay props
[code]

My suggestion a month ago.
1. Panel Modal component add overlayProps.    #9668  #9696

2. Overlay component add onOverlayDidMount and onOverlayWillUnmount  #9670
    //state: Closed

3. Overlay com

[2019-08-16 17:20] JasonGore commented on #10167
@x73x63 If I read your post correctly #9784 is the only outstanding issue. It is still open and you can add comments there. I can also follow up. I would like to leave the scope of this issue as originally reported for clarity and resolution.

[2019-08-16 18:02] x73x63 commented on #9784
@JasonGore I need your help
Add bodyScroll props allow the parent component(Panel Modal Dialog)  to set whether to display the body scrollbar

IOverlayProps add
`
  bodyScroll?: boolean;
`

change Overlay.base.tsx
`
export class OverlayBase extends BaseComponent<IOverlayProps, {}> {
    public static defaultProps: IOverlayProps = {
        bodyScroll: true,
    };

  public componentDidMount(): vo

[2019-08-16 18:04] JasonGore commented on #9784
@x73x63 We have this currently labeled as a feature request. Do you want to take a stab at a PR?

[2019-08-16 18:45] jdhuntington commented on #10094
Hi @natalieethell - It looks like the issue is occurring due to the specificity of the rules that govern the colors when the row is highlighted or selected. I was able to modify your codepen to make the colors change on selection without a redraw.

https://codepen.io/jdh-msft/pen/bGbeppe?editors=0010

Question: Does this work for you? Do you feel like the original code should work as-is without th

[2019-08-16 19:00] #10110 closed

[2019-08-16 19:49] KevinTCoughlin commented on #10094
Thanks for figuring out the root cause @jdhuntington.

Having to write the following code:

[code]

Seems non-intuitive and not something that folks without intimate knowledge of the code would be able to supply. The specificity issue seems like something worth fixing if trivial.

cc: @natalieethell

[2019-08-16 20:00] #10068 closed

[2019-08-16 21:09] bhedayatian opened #10175 "how to access input DOM in people picker?"
how to access input DOM in peoplepicker? I need to clear what user has entered and change the behaviour of people-picker when user past or type in the people-picker. can you please share some code in react ( not typescript)

[2019-08-16 21:22] JasonGore commented on #10169
Ok, I did a fair amount of investigation and this problem appears to be multi-faceted.

The design of GroupedList makes this a region of role type `grid` introduced with #7063. This will cause accessibility information to be read out, even when you only have one line of info. Inherently, GroupedList is a group of lists, so I think hearing accessibility information in this instance should be expect

[2019-08-16 21:35] joschect commented on #10175
@bhedayatian I think that the floating picker is probably a better fit for what you want to do. The people picker is an all in one solution, the floating picker gives you a lot more control over the input and what it's doing at any given moment.

Here's a [codesandbox](https://codesandbox.io/s/basic-floating-picker-w8je2) to help you get started with it!

[2019-08-16 22:42] JasonGore commented on #9944
Taking another look at this, I'm starting to think this is expected behavior. I've modified the CodePen I posted previously to show that the narration is consistent.

The first cell in each row has a consistent number of stops for each ARIA role:
* `row`
  * `gridcell`
    * `input`

This consistency is shown in the [CodePen](https://codepen.io/jasongore/pen/MNEbje). Even rows that just have text

[2019-08-16 22:46] JasonGore commented on #9944
Unless @natalieethell chimes in and sees a possibility of `gridcell` being made `presentational` somehow, I think this is not an issue.

[2019-08-16 23:01] bhedayatian commented on #10175
is floating picker part of fabric ui 5.39.1??

[2019-08-16 23:44] joschect commented on #10175
Yep! It is. Github's file search is pretty good and if you go to the 5.0 branch you can find it pretty easily. https://github.com/OfficeDev/office-ui-fabric-react/find/5.0.

Here's the file as well https://github.com/OfficeDev/office-ui-fabric-react/blob/5.0/packages/office-ui-fabric-react/src/components/FloatingPicker/BaseFloatingPicker.tsx

[2019-08-16 23:48] JasonGore commented on #10175
That said 5.39.1 is 2 major versions old and nearly 2 years old. If you can use a newer version of Fabric, you'll get the benefit of many fixes and updates. 😄

[2019-08-17 02:38] richardtagger opened #10181 "Support `loading` on <Image />"
#### Describe the feature that you would like added

Google have shipped [loading](https://github.com/scott-little/lazyload) for `img` in Chrome 76. Firefox have an [open issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1542784) tracking it.

#### What component or utility would this be added to

Image

#### Have you discussed this feature with our team, and if so, who

No

#### Additional cont

[2019-08-18 11:20] frevds commented on #8470
It seems as if this issue has been silently solved, at least in _my_ codepen the panel does not close not any more when clicking on external elements (however, it still seems to do so in the other codepen in the related ticket #8339).

I'm using office-ui-fabric-react@6.189.2 (for SPFx 1.9.1) now in my app and now the above mentioned code looks like this:

[code]

[2019-08-18 11:39] frevds commented on #8470
(I deleted my earlier comment from today about the issue having been solved - it is not)

The panel does not close when using the onOuterClick, that's fine, but if the foreign GUI contains an input field then the code in PanelBase eats the mouse event and one cannot click into the input field.

My workaround is to override this PanelBase method. For newer versions of Fabric (where this.state.isOpe

[2019-08-18 15:31] szmarci opened #10182 "Controlled TextField component not accepting same (one character) input after clearing it"
### Environment Information

- **Package version(s)**: 7.25.0
- **Browser and OS versions**: Chrome (latest)

### Please provide a reproduction of the bug in a codepen:

codesandbox reproduction:
[https://codesandbox.io/embed/nice-kirch-rldpx](https://codesandbox.io/embed/nice-kirch-rldpx)

#### Actual behavior:

When typing one character to the (controlled) input field and then hitting the button

[2019-08-18 16:31] #10121 closed

[2019-08-19 05:13] ashitvora commented on #10125
@ecraig12345 , I am using `ref` and it's not working.
See the screenshot below...
![Image 19](https://user-images.githubusercontent.com/140315/63240625-1d94e880-c26e-11e9-9477-ebdaf27c86d6.png)

[2019-08-19 05:44] Kesshi commented on #4613
I found a warning that is raised from the Nav component. It would be nice if this could be fixed also.

[2019-08-19 07:15] bt-88 commented on #10158
Hmm, this isn't working. See the output below.

[code]

Which refers to 'getAllPackageInfo.js':

[code]

[2019-08-19 07:20] Lijing29 opened #10185 "JAWs + Edge: Doesn`t Support Checkbox in Table"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)
- **Screen reader(s)**: (fill this out if applicable)

### Describe the issue:

### Please provide a reproduction of the issue in a codepen:
https://codepen.io/lijinglin29/pen/NWKrmyQ

#### Actual behavior:
![image](https://user-images.githubusercontent.com/50400285/63245836-b4c067

[2019-08-19 08:29] j-te commented on #9247
@gioce90 Seems to be working on ver 7.25.0. Happy to help if you can show us your code.

[2019-08-19 09:36] t-zeche commented on #10166
Codepen Link: https://codepen.io/zeche/pen/MWgjWzd
It seems codepen can not run in IE.

[2019-08-19 09:37] t-zeche commented on #10166
I've tried to export code to codepen from this link:https://developer.microsoft.com/en-us/fabric#/controls/web/tooltip
Tooltip doesn't perform properly as well.

[2019-08-19 14:09] LarsLiden commented on #4601
I'm using 7.25.0 and still seeing this issue  (@elliottsj / @jordandrako )

[2019-08-19 14:44] avenezia opened #10186 "PageUp / PageDown do not update focused element in List"
### Environment Information

- **Package version(s)**: 6.191.0
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/avenezia/pen/MWgjyym

#### Actual behavior:

Pressing PageDown in a List with multiple pages causes the List to render the next page, but the focus stays on the previously focused element of the prev

[2019-08-19 15:27] JasonGore commented on #10158
Which version of Node do you have installed?

`node --version`

[2019-08-19 15:40] bt-88 commented on #10158
v10.4.1

[2019-08-19 15:46] JasonGore commented on #10158
Actually I realized I missed a step, `cd office-ui-fabric-react` (edited comment above.) You have to run all of the commands from inside the repo after cloning. Can you confirm that's where you're running the commands from? Thanks.

[2019-08-19 15:48] JasonGore commented on #10158
Actually I see that you are. I'm thinking `findGitRoot` may be failing here but I will need @kenotron to help figure out why.

[2019-08-19 16:00] #10062 closed

[2019-08-19 16:10] kenotron commented on #10181
Looks like this is tied to the interface from `@types/react` for their img attributes:

[code]

We will have to update the `utilities/properties.ts` it looks like. I'm leaving this note because this is not widely implemented just yet:

https://caniuse.com/#search=img%20loading

[2019-08-19 16:11] bhedayatian commented on #10175
Thank you for your quick reply.  The example was very helpful.
- is it possible to use inputElement property with NormalPeoplePicker? the look and behaviour of floating picker is a bit different than what i need.

- I understand that in the github floating picker is part of branch 5, but when i installed  "office-ui-fabric-react": "5.39.1" as part of dependendies in the package.json, i cant find f

[2019-08-19 16:13] kenotron commented on #10158
@bt-88 - not sure about what the exact issue is with build. However, to answer your original question, you can reach a master copy of the exp site here:

http://fabricweb.z5.web.core.windows.net/pr-deploy-site/refs/heads/master/experiments/dist/index.html

[2019-08-19 16:25] kenotron commented on #10182
There is a bug in the intricate interaction with the `_lastChangeValue` member. @ecraig12345 knows most about this, so I'm assigning to her.

[2019-08-19 16:54] kenotron commented on #10186
I believe this is behaving as expected.

[2019-08-19 17:00] #10118 closed

[2019-08-19 17:03] kenotron commented on #10185
This reads okay on Narrator + Edge which is our platform that we support:
https://github.com/OfficeDev/office-ui-fabric-react/wiki/Accessibility-Troubleshooting

The bug is likely external to JAWS

[2019-08-19 17:16] JasonGore commented on #10166
Yes, I can see the differences at https://developer.microsoft.com/en-us/fabric#/controls/web/tooltip:

IE:
![image](https://user-images.githubusercontent.com/26070760/63285303-45824d00-c26a-11e9-94ea-da2fef5d5442.png)

Chrome:
![image](https://user-images.githubusercontent.com/26070760/63285339-5468ff80-c26a-11e9-89b5-5f57ccf5108c.png)

IE:
![image](https://user-images.githubusercontent.com/260707

[2019-08-19 17:27] joschect commented on #10175
@bhedayatian It cannot be used with the NormalPeoplePicker. The floating picker can be styled so that it matches the people picker. For example take a look at the [ExtendedPeoplePicker](https://github.com/OfficeDev/office-ui-fabric-react/blob/5.0/packages/office-ui-fabric-react/src/components/ExtendedPicker/PeoplePicker/ExtendedPeoplePicker.tsx) which extends the [ExtendedPicker](https://github.co

[2019-08-19 17:30] kenotron commented on #5874
We should be supporting this in the theming discussion I think.

[2019-08-19 17:30] kenotron commented on #8411
disableAnimations sounds pretty good - not sure that I want a one off now that I'm on the team. I think a general solution related to theming would be a better bet. I'm closing this one.

[2019-08-19 17:30] #8411 closed

[2019-08-19 17:34] kenotron commented on #7255
@KevinTCoughlin - sorry dropped the ball in answer to your questions. Do you still want to create a PR with that your branch?

[2019-08-19 17:36] natalieethell commented on #9944
@JasonGore your logic makes sense to me!

[2019-08-19 17:36] kenotron commented on #7160
@KevinTCoughlin - this one is tough! I am not sure how to exclude certain rules in tslint for subset of files. We can only do tslint:disable for those. It seems kind of excessive at this point. I'm thinking of just closing this issue. What do you think?

[2019-08-19 17:38] #10050 closed

[2019-08-19 17:42] bhedayatian commented on #10175
cool. i will try that. does this mean that using NormalPeoplePicker I can NOT access the input itself and clear the text user has entered in any way?

[2019-08-19 17:44] kenotron commented on #6154
Not sure if we need it anymore.

[2019-08-19 17:44] #6154 closed

[2019-08-19 18:00] #10123 closed

[2019-08-19 18:03] natalieethell commented on #10169
@JasonGore I agree that I think the move here is to correct the list to say "1 row 1 column". I believe we need the proper roles, `row` and `gricell`, to achieve this. I made slight changes to the CodePen here that add both of those attributes and the proper roles: https://codepen.io/naethell/pen/gOYwgEo. Narrator + Edge and NVDA + Chrome should now be reading out "1 row 1 column" now, but let me

[2019-08-19 18:04] jdhuntington opened #10189 "TooltipHost: Default display to inline-block"
On https://developer.microsoft.com/en-us/fabric#/controls/web/tooltip , we state that:

Depending on the most common use-cases for a tooltip, it seems that defaulting to `inline-block` is a sensible choice, given that things like buttons are typically inline block.

Alternately, is it worth the effort to try and detect the display property of the children and choose a display to match?

This featu

[2019-08-19 18:04] kenotron commented on #9231
I think this is external - Parcel doesn't support the "module" field so there's little we can do other than having to publish duplicates (oufr-esm and a oufr-commonjs) package which we likely wouldn't do.

[2019-08-19 18:38] ecraig12345 commented on #4613
@Kesshi Good catch--could you open a separate bug about that? It will be easier to track and get fixed more quickly that way.

[2019-08-19 18:47] ecraig12345 commented on #10158
I've successfully used the experiments demo app recently, so I'm not sure why it wouldn't work for you. This is the full series of steps:
[code]

[2019-08-19 19:09] kenotron commented on #10158
`npm install` was supposed to error out but with an error message telling you to use yarn if this is the master branch. Not sure what the state of your repo is at this point. I'd recommend you to just use the URL I gave for experiment site as a reference.

[2019-08-19 19:19] jeremy-coleman commented on #9231
not the cause of this problem, but this file causes es builds to fail because the load themed styles package is published incorrectly. should just copy and paste it into the folder (and delete const enums) to fix the problem.
https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/styling/src/styles/theme.ts

[2019-08-19 19:23] ecraig12345 commented on #10158
We should potentially also have a script for helping clean up people's repos that are in a bad state--normally I'd say just commit/stash any changes then run (from the root) `git clean -fdx`, but that has bad results if there are any symlinks hanging around from `rush link`.

[2019-08-19 19:51] natalieethell commented on #10169
Jason and I spoke offline a little more and we agree that we might actually want to make some kind of change to the List code itself. We might want to enforce a role on the cell (or row) element so that folks using a custom `onRenderCell` don't have to specify one themselves.

[2019-08-19 20:47] bhedayatian commented on #10175
how to add functions for onPaste and onKeyUp events? i added them as part of suggestionProps but didnt work. do you have an example?

[2019-08-19 21:22] Suresh-Lakum commented on #9162
Thanks @bt-88 it worked.

[2019-08-19 22:57] micahgodbolt opened #10191 "IconButton has fixed width which breaks contextual icon buttons"
### Environment Information

- **Package version(s)**: (current)

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/micahgodbolt/pen/YzKGxJv?editors=0010

![image](https://user-images.githubusercontent.com/1434956/63304995-07048680-c29a-11e9-91ec-2f02252d6eb5.png)

#### Actual behavior:

Button width is fixed to 32px

#### Expected behavior:
Button width should flex to

[2019-08-19 23:15] smoak opened #10192 "Issue with CommandBar and the commandBarButtonAs prop."
It seems that if CommandBar is re-rendered, the commandBarButtonAs gets re executed which might be replacing the dom node. This means that click events to the commandBarButtonAs component get dropped the very first time. I created a codepen to illustrate this issue, just focus on the textarea and click on the button. The expected behaviour is that "weee" is alerted, however this does not happen un

[2019-08-19 23:30] betrue-final-final opened #10193 "Buttons should be right aligned in Teaching Callouts"
We've had a coherence change where we are right aligning all buttons in callouts, dialogs and panels.
![image](https://user-images.githubusercontent.com/20363037/63306211-86945480-c29e-11e9-9347-436df75709db.png)

Teaching callouts still have left aligned buttons
![image](https://user-images.githubusercontent.com/20363037/63306245-a88dd700-c29e-11e9-9255-1e7e24ce0e02.png)

[2019-08-20 00:35] reli-msft opened #10195 "Color picker shows nothing instead of zero for channels being zero"
To reproduce:

- Create a color picker.
- Set color to black.
- "Red", "Green" and "Blue" channels shows empty. Correct value should be `0`.

![image](https://user-images.githubusercontent.com/50213618/63308473-b4ca6200-c2a7-11e9-877a-a1ad20d1ab0f.png)

[2019-08-20 00:40] reli-msft commented on #10195
The following code in ColorPickerBase.ts doesn't properly process `0` value for color components.

[code]

[2019-08-20 03:41] kenotron commented on #10195
@ecraig12345 - since you pinged offline to take this, here ya go :)

[2019-08-20 04:00] #9808 closed

[2019-08-20 04:44] bhedayatian commented on #10175
Can floating picker accept multi values (separated by comma for example)?

[2019-08-20 05:14] chenxinyanc opened #10199 "getParent returns non-HTMLElement values"
### Environment Information

- **Package version(s)**: 7.21.0
- **Browser and OS versions**: Edge 78.0.244.0 Dev on Windows 10

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/xinychen/pen/qBWaxry

#### Actual behavior:
![image](https://user-images.githubusercontent.com/50703224/63319297-2f4cbd80-c34c-11e9-8a0e-f1cf8b02fb76.png)

#### Expected behavior:
We should not

[2019-08-20 05:35] Lijing29 commented on #9885
I have tested it using v7.25.0. If I set the title of the dropdownOption to emprt string, it would read "Apple, text". Here, Apple if the value of the option. Is this what we want? I don`t think we want it read the word "text". I have updated the [codepen](https://codepen.io/lijinglin29/pen/EqVPpw) and you could test it using VoiceOver + Safari.

[2019-08-20 06:03] bt-88 commented on #10158
Thanks a bunch.

[2019-08-20 06:03] #10158 closed

[2019-08-20 06:27] ashitvora commented on #10125
I got it working by using ID.
Ref thing still does not work. Not sure why.

Closing this issue.

[2019-08-20 06:27] #10125 closed

[2019-08-20 06:59] Kesshi opened #10201 "React "javascript:" warning using Nav component"
Using the forceAnchor option of the Nav component results in the follwing react warning:

Moved to separate issue from: https://github.com/OfficeDev/office-ui-fabric-react/issues/4613#issuecomment-522421471

### Environment Information

- **Package version(s)**:
  - office-ui-fabric-react 7.25.0
  - react 16.9.0

### Please provide a reproduction of the bug in a codepen:
https://jsfiddle.net/n7hu5

[2019-08-20 07:07] tharshada opened #10202 "Resizing DetailsList columns"
### Environment Information

- **Package version(s)**: 7.25.0
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

[Codepen](https://codepen.io/itisanalias/pen/gOYwWJr)
[Repro Steps](https://microsoft-my.sharepoint.com/:v:/p/hatrived/EboqHguhTUxEh5PYZ5HZae4BVzoJ1zUvCJClKC2OWUdFIA?e=WfUhhv)
1. Resize column 'V

[2019-08-20 07:53] avenezia commented on #10186
As an example, UI Fabric behavior
![fabric](https://user-images.githubusercontent.com/6376952/63328305-382f9600-c330-11e9-8162-af78f8b35dfa.gif)

is different to the one of Excel.
![xl](https://user-images.githubusercontent.com/6376952/63328333-454c8500-c330-11e9-9452-4919b0dc1e9d.gif)

[2019-08-20 08:17] hamedy commented on #10167
well that's not ideal, I'd rather use isBlocking to manage blocking. Also, having two scrollbars right next to each other is bad practice. I think hiding the scrollbar is fine, we just need some extra css and js to avoid shifting of content.

[2019-08-20 12:39] rhalaly opened #10203 "Cards CodePen example doesn't work"
### Environment Information

- **Package version(s)**: Latest
- **Browser and OS versions**: Chrome, Edge, Edge Beta. Windows 10

### Please provide a reproduction of the bug in a codepen:
https://developer.microsoft.com/en-us/fabric#/controls/web/card

#### Actual behavior:

The examples in CodePen are empty

#### Expected behavior:

The examples should appear

### Priorities and help requested:

[2019-08-20 14:50] JasonGore commented on #10167
If this example is showing two scrollbars, it's because the CodePen view window was very short. View port height would be a consideration in all `Panel` non-blocking cases.

This isn't just a matter of hiding or showing the scrollbar. The blocking cases also prevents users from scrolling the page, which is why the scrollbar disappears. Do you want users to be able to scroll the page in your use ca

[2019-08-20 15:56] kenotron commented on #10192
Indeed weird!

@joschect is area owner FYI. I'm going to take a quick peek to see if it's something pretty easy to fix - if not I'll contact you for some help.

[2019-08-20 16:45] kenotron commented on #10203
@khmakoto - can you take a look?

[2019-08-20 17:15] khmakoto commented on #10203
It makes sense that the codepen examples are not rendering, because the generated code is trying to import the `Cards` from the `office-ui-fabric-react` package. [Here is a link](https://codepen.io/khmakoto/pen/VwZKowP?&editable=true) to the vertical cards example working on a codepen.

I'll take a look to see if this is something easily fixable or if we should disable the export to codepen functi

[2019-08-20 17:17] kenotron commented on #10203
I think we should disable the codepen link for now like you said...

[2019-08-20 17:24] hamedy commented on #10167
No actually I want the scrollbar to disappear and bring the focus to the Panel content. Imagine a page full of responsive components, News web part with pictures and lots of other things. Almost every component's width is in percentage relative to the width of the browser view.

Now you want to read one of the news items, it opens in a Panel. which covers lets say half of your display, you still s

[2019-08-20 17:25] marygans commented on #7108
### Updates:

**Title:**
Current: font-size: 18px; font weight: regular
Expected(based on toolkit): font-size: 16px ; font weight: semibold
Secondary title variant exists in code but not toolkit - Need new secondary font size value in code with this update.

**Card width:**
Current: 320px
Expected(based on toolkit):254px

box shadow:
Current: none
Expected(based on toolkit):4px elevation

OnHover:

[2019-08-20 17:40] JasonGore commented on #10167
Do you have a fix for `Panel` in mind? Rather than change your source, we could consider adding optional styling to `Panel` to account for the space taken by scroll bar. The primary issue I see is knowing when the scrollbar is present and how much space it takes up.

[2019-08-20 17:41] joschect commented on #10175
@bhedayatian Correct, the normal people picker is not supposed to enable access to the input itself.

I do not have an explicit example of the floating picker accepting multiple suggestions, but I know that it's been used to accomplish behavior like that. It really depends on how you're implemented search function works. Since the floating picker takes a list of suggestions in you can control what

[2019-08-20 17:44] hamedy commented on #10167
I don't think pure css would be enough. As you said we need to find out if we have a scrollbar or not and how wide it is so we need some JavaScript code.

[2019-08-20 17:48] JasonGore commented on #10167
I didn't say css, when we use the word 'styling' it's typically referring to JS styling along with the JavaScript required to support it. Is this a PR you'd like to take a stab at?

[2019-08-20 17:58] hamedy commented on #10167
yeah I'm absolutely in for writing the code, I just have no idea about the process.

[2019-08-20 18:01] kenotron commented on #10199
@maxwellred - please confirm that this behavior is indeed NOT desired with people who wrote it (look up git blame) and then follow up with them if you're actually making a behavior change. You may also decide that this isn't a desired behavior change because of risk, etc.

[2019-08-20 18:06] kenotron commented on #10193
@betrue-final-final - please look at this PR for the change: https://github.com/OfficeDev/office-ui-fabric-react/pull/10206

[2019-08-20 18:07] kenotron commented on #10201
I think we can replace this with `href="#"` and an onclickhandler, but not sure if that's the best strategy. Alternatively we can generate this html bit with the "dangerouslySetInnerHTML" prop.

[2019-08-20 18:07] JasonGore commented on #10167
We have a [document regarding contributing](https://github.com/OfficeDev/office-ui-fabric-react/wiki/Contributing). If you have more specific questions not addressed here feel free to contact me outside of GitHub. If you are an MS employee, please consider associating your account with MS so others can see your alias.

[2019-08-20 18:10] hamedy commented on #10167
Ok great, I'll read the documentation and bother you if still was unsure of something. I work for a private firm that is a MS Gold partner but other than that not associated with MS.

[2019-08-20 18:11] joschect commented on #10192
@smoak I think that this is working as intended, in your codepen the "as" function that you pass in, is located within the Functional component render, that means it gets recreated when the state changes and so react thinks it's a new component and does appear to replace the dom.

Here is a [codepen fork](https://codepen.io/slimemold/pen/ExYgqOZ?editors=0011) where it's take out and made a const,

[2019-08-20 18:15] joschect commented on #10192
@smoak I spoke a bit too soon, it works better but not all the way, I'll keep checking.

[2019-08-20 18:20] joschect commented on #10192
@smoak Okay, it's working as expected now. For some reason react treated the change from string to number oddly, ensuring that setS contains a string at all times causes it to work as expected.

[2019-08-20 20:00] #10001 closed

[2019-08-20 20:54] kenotron commented on #10202
Fairly certain this is actually by design. @KevinTCoughlin - can you confirm this? The question here is that when resizing a column in the middle with cell sizer whether this is expected to push the remaining column off screen

[2019-08-20 21:28] KevinTCoughlin commented on #10202
To my knowledge, the existing behavior reported above is expected when `layoutMode={DetailsListLayoutMode.justified}`, see:

The control attempts to fit the columns within the viewport based on some heuristics mentioned above.

[2019-08-20 21:30] bhedayatian opened #10210 "Errors when i upgraded office-ui-fabric-react to ^5.39.1"
Hello.
i just upgraded office-ui-fabric to  "^5.39.1" ( I know its still an older version)
and i get these errors. can you please help?

ERROR in ./~/@uifabric/utilities/lib/index.js
Module build failed: Error: ENOENT: no such file or directory, open '/workspace/bt-outlook-365-integration/node_modules/@uifabric/utilities/lib/index.js'
 @ ./~/office-ui-fabric-react/lib/Utilities.js 4:21-61

ERROR i

[2019-08-20 22:13] #10182 closed

[2019-08-20 22:56] #10195 closed

[2019-08-20 23:03] #10210 closed

[2019-08-20 23:15] philipzloh commented on #9989
I'll take the contrarian view here and ask why. If a team needs a checkbox, they should use a checkbox?

[2019-08-20 23:25] phkuo commented on #9989
@philipzloh by that argument we shouldn't have a toggle component, and only provide a checkbox. Both fulfill the same function of providing a binary input. So the answer to your question is that it's a matter of aesthetics. But we need to make sure aesthetics does not interfere with functionality (in this case for accessibility software).

I AM curious, though, as to why "switch" is insufficient a

[2019-08-20 23:29] bhedayatian commented on #10175
I am not able to upgrade to the latest fabric-ui-react ( can't start the app and there is no error messages) I was able to use floating picker from this fabric-ui-react 5.86.0 but I get this error:

MaskedTextField.js:7 Uncaught Error: Cannot find module "@uifabric/utilities/lib/inputMask"
(its intermittent thought)
I thought this was fixed in version  5.86.0???

what's the first stable build for

[2019-08-20 23:41] tomasro27 opened #10214 "[question/maybe bug] ariaLabel property in CommandBarButton is setting the same aria-label property in both the div wrapper of the split button and the inner button element"
### Environment Information

- **Package version(s)**: 7.24.0
- **Browser and OS versions**: chrome 75.0.3770.100 64-bit

### Describe the issue:

I'm not as familiar with accessibility so I'm not sure if this is a bug or it is the actual expected behavior.
This repros with `DefaultButton` and `CommandBarButton` when the property `split={true}`. So on any "Split Button".
The `ariaLabel` property i

[2019-08-21 00:49] bhedayatian commented on #10175
I am getting the following error using @5.135.1

 Uncaught TypeError: newProps.componentRef is not a function
    at FloatingPeoplePicker.BaseComponent._updateComponentRef (BaseComponent.js:163)
    at FloatingPeoplePicker.BaseComponent.componentDidMount (BaseComponent.js:53)
    at FloatingPeoplePicker.obj.<computed> [as componentDidMount] (BaseComponent.js:217)
    at commitLifeCycles (react-dom

[2019-08-21 05:24] bhedayatian opened #10215 "SyntaxError: Unexpected token: string (./components/Spinner/index)"
I recently upgraded office-ui-fabric-react to @7.25.1
webpack version is: ^1.13.1

I am getting this error when tried to run this
webpack --config webpack.config.production.js && gulp compile

ERROR in ./build/app.build.js from UglifyJs
SyntaxError: Unexpected token: string (./components/Spinner/index) [./~/office-ui-fabric-react/lib/Spinner.js:1,0]

[2019-08-21 06:30] bhedayatian opened #10217 "upgrade to office-ui-fabric-react v 7.25.1 I get Uncaught SyntaxError: Unexpected token export in app.build.js"
after upgrading to the new office-ui I get this error in the console:
Uncaught SyntaxError: Unexpected token export in app.build.js

it happens on this line:

/***/ (function(module, exports) {

	export * from './components/MessageBar/index';
	//# sourceMappingURL=MessageBar.js.map

[2019-08-21 10:31] j-te commented on #10160
If devs want a simple _clearButton_ prop then it may be ok to conditionally create a component but this edges away from keeping TextField component simple.

It's [not difficult](https://github.com/OfficeDev/office-ui-fabric-react/issues/2725#issuecomment-521959206) to add a clear button yourself using `onRenderSuffix`, maybe an example in docs would help.

If anything should change in regard to th

[2019-08-21 10:34] szmarci opened #10220 "Callout beak disappears after re-render (when target is inside CommandBar)"
### Environment Information

- **Package version(s)**: 7.25.0
- **Browser and OS versions**: Chrome (latest)

### Please provide a reproduction of the bug in a codepen:

codesandbox:
https://codesandbox.io/s/youthful-minsky-i0082?fontsize=14

#### Actual behavior:

When the callout target is inside CommandBar as a custom rendered CommandBarButton, the beak for the callout disappears in subsequent

[2019-08-21 10:52] szmarci commented on #10220
Just updated the codepen with another scenario.
After any re-render, the beak and both the position of the callout is lost.

1. First hit re-render in the updated codepen.
2. Then click Save.
3. Now beak and position is lost.

[2019-08-21 11:25] andrezo opened #10222 "Breadcrumb render performance issues"
### Environment Information

- **Package version(s)**: Latest
- **Browser and OS versions**: All

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/andrezo/pen/yLBVXep

Alternatively, go to [office.com](https://office.com) or your-tenant.sharepoint.com and issue a query that return mostly file results since file results are shown with a breadcrumb component containing

[2019-08-21 11:58] onlyann commented on #5582
May I suggest to look at https://github.com/final-form/react-final-form for inspiration, as the author suggests in the [introduction of redux-form](https://github.com/erikras/redux-form/#%EF%B8%8F-attention-%EF%B8%8F) ?

[2019-08-21 13:34] ishanisuchak opened #10223 "DetailsList does not render when placed inside nested React components"
### Environment Information

- **Package version(s)**: 6.143.0
- **Browser and OS versions**:
Browser : Google Chrome Version 76.0.3809.100
OS : Windows 10

#### Actual behavior:

Details list does not render when it is called from another tsx file. If nested inside a react component it only renders as follows:

`<div class="ms-Viewport" style="min-width: 1px; min-height: 1px;"></div>`

#### Expec

[2019-08-21 14:13] rhalaly opened #10224 "Microsoft suite header/navbar component"
## Component details

### Description

The standard Microsoft black Navbar component.
![image](https://user-images.githubusercontent.com/8597700/63438731-7ebae880-c435-11e9-9411-038748d099d6.png)

### Which product teams/scenarios need this control

I think that each Microsoft product can use that thing instead of implement it from scratch.

### Design assets

Standard Microsoft Navbar component
!

[2019-08-21 14:34] kenotron commented on #10222
Haven't looked at the code just yet but this looks like something needed to be placed inside a renderAnimationFrame or something... basically it sounds like spending enormous amount of time measuring width or something. I'm putting this on as a "bug" because this is really egregious perf

[2019-08-21 14:36] kenotron commented on #10202
Awesome! Thanks, @KevinTCoughlin for the explanation. This looks to be by design, so I'll mark it as such.

[2019-08-21 14:58] kenotron commented on #10214
This looks like it potentially an issue, but since the label are actually just duplicated, it's not causing immediate issues with screen readers. I'll put this as a feature request.

[2019-08-21 15:03] kenotron commented on #10215
Several things:

1. webpack 1.x is pretty old - you should really use webpack 4 these days as we've moved to ESM which I'm not sure if webpack 1.x supported
2. it would be much more helpful if you can provide a minimal repro as it is impossible for us to know what the root cause here is without that

I'm fairly certain at this point that your problem is in the use of an old webpack version. I'll b

[2019-08-21 15:04] kenotron commented on #10217
The root cause is the same as #10215

[2019-08-21 15:04] #10217 closed

[2019-08-21 15:06] kenotron commented on #10223
Please provide a codesandbox that illustrates this issue.

[2019-08-21 15:07] Adjective-Object commented on #10175
Looks like there's a mismatch between the expected types of componentRef in [BaseFloatingPickerProps](https://github.com/OfficeDev/office-ui-fabric-react/blob/61ffe7ba8a1f40a61a8335ac9ef9fb6e4dc30fd7/packages/office-ui-fabric-react/src/components/FloatingPicker/BaseFloatingPicker.types.ts#L36) and [BaseComponent](https://github.com/OfficeDev/office-ui-fabric-react/blob/1b9405b3b64839975e16ee1fad04

[2019-08-21 15:08] kenotron commented on #10224
I'm sure we have a need for this, and it's been brought up multiple times at least internally. I am placing this as a feature request / backlog review.

[2019-08-21 15:18] JasonGore commented on #10160
You should be able to control the suffix background styling via TextField's `suffix` style property.

[2019-08-21 16:52] joschect commented on #10175
@Adjective-Object Base component was first created before we started using React.Ref, I think. Plus we don't support 5.0 any more. The current version of [BaseComponent](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/utilities/src/BaseComponent.types.ts#L10-L12) does implement IRefObject.

@bhedayatian I am not sure why you're experience that error. Based on what @Adjecti

[2019-08-21 16:55] dzearing commented on #5360
@aneeshack4 is there someone here we can tag from the Narrator team to confirm?

[2019-08-21 17:01] joschect commented on #9820
@PavanJagini there are lots of ways that you can implement that. You don't need to autofocus the the details list. You could use an aria-live region to announce the filtered results, or to announce that the results have been filtered.

[2019-08-21 17:26] micahgodbolt commented on #10155
OH here's part of the challenge. This onRender has a different signature (and used differently) than all of our other onRenders

https://github.com/OfficeDev/office-ui-fabric-react/blob/fb8d01cccc8773da2617450e9522df7b3cc984b8/packages/office-ui-fabric-react/src/components/Panel/Panel.types.ts#L237

Due to this approach, it appears that the function is getting called a few times to generate the fi

[2019-08-21 17:29] JasonGore commented on #10155
#6680 seems to have added an additional call. Do you expect that to be the case?

[2019-08-21 17:50] joschect opened #10226 "Compile using strictFunctionTypes: true"
#### Describe the feature that you would like added

Office-ui-fabric-react should compile with the typescript option strictFunctionTypes set to true. This would add additional type safety and help prevent potential issues with functions.

Issues requesting fix/examples of friction:

#9581
#10046

#### What component or utility would this be added to

Enable strictFunctionTypes in the ts compiler

[2019-08-21 17:51] joschect commented on #9581
@x73x63 I've submitted a fix for the problem with Panel Navigation Example, I've also made an issue that's just focused on enabling strict type checking, we'll discuss it there and decide where to go next. #10226

[2019-08-21 18:06] kokuda opened #10228 "Scrolling <List> with the keyboard stops if no item is selected"
### Environment Information

- **Package version(s)**: 6
- **Browser and OS versions**: Chrome 75.0.3770.142 Windows 10 (does not occur on Edge)

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/kokuda/pen/VwZmxBM?editors=1111

#### Actual behavior:

* Create a List component inside of a scrollable container
* Add enough items in the list to create many pages to scrol

[2019-08-21 18:18] kenotron commented on #10220
There's some timing funkiness here. The ref is set when onRender is called inside commandbar, so it's .current doesn't have the right element when the focustrapcallout is rendered... you should be able to to pass in the actual ref instead of the current snapshot of the ref to callout per the work done in #9666

@joschect and I were looking at this, and he suggested you can use an id as a workaroun

[2019-08-21 18:21] kenotron commented on #10226
adding some relevant folks to discussion

[2019-08-21 18:46] kenotron commented on #10228
Okay I couldn't repro this on Mac, but is an issue with Windows. It is a timing issue I think...

[2019-08-21 19:00] #10124 closed

[2019-08-21 19:18] szmarci commented on #10220
@kenotron This solution works for me, thank you for the investigation.

[2019-08-21 19:18] #10220 closed

[2019-08-21 19:30] kokuda commented on #10228
Lol.  It was fixed with the Chome update I got just after I posted the issue.  We implemented an external workaround for this issue weeks ago (by forcing the focus to the parent component onClick), I just hadn't posted it until today.  Le sigh.

[2019-08-21 19:33] kenotron commented on #10228
Would you mind closing this one?

[2019-08-21 19:36] #10228 closed

[2019-08-21 19:42] maxwellred commented on #10199
@chenxinyanc Thank you for opening the issue about the getParent() function returning the document object! Since getParent() isn't part of the public API we are going to leave it as is. You can reach me on Teams to discuss further what you are trying to accomplish if you'd like? You can access the DOM element's parentNode through myRef.current.parentNode if that helps. An interesting note is that

[2019-08-21 19:47] kenotron commented on #10222
We can't do first paint of that component without measurement as that's what ResizeGroup does for you... if you can forego the ellipsis, then I would think we can come up with a version of breadcrumb that doesn't do measurements - I think "afterComponentRendered" is a misnomer.. it is the rendering of the component inside an invisible measurement to see whether this item should be rendered or not.

[2019-08-21 19:55] kenotron commented on #10222
This is a kind of solution but doesn't do the resizegroup thing where entire items are not rendered... just uses CSS to turn things into ellipses:

https://codepen.io/shippin/pen/YrwrYa

Would that work?

[2019-08-21 20:00] #9971 closed

[2019-08-21 20:14] #9831 closed

[2019-08-21 20:15] kenotron commented on #10222
@jdhuntington - hey would you mind chiming in how we can maybe address the perf issue? I really think for a simple use case like the office.com, we should maybe avoid resizegroups maybe...

[2019-08-21 20:27] joschect commented on #10166
@t-zeche This might have been just an issue with the examples. It looks like @jdhuntington fixed it in #10178

[2019-08-21 20:28] JasonGore commented on #10166
This issue is a duplicate of #10050. I missed that during triage.

[2019-08-21 21:12] andrezo commented on #10222
I see that even the Fabric React documentation warns against using ResizeGroup in certain cases:

[resizegroup](https://developer.microsoft.com/en-us/fabric#/controls/web/resizegroup)

It would be good if there was a new prop on the Breadcrumb component that switches to a simpler/pure-CSS based solution if enabled. Alternatively, introduce a new separate Breadcrumb component.

If it makes more sen

[2019-08-21 21:17] #9581 closed

[2019-08-21 21:20] kenotron commented on #10222
I would say you really should have max of 1 or 2 of these resize groups in your UI. If you find yourself in a list situation, I would think we should do something with CSS. The one I linked has a pretty good solution. Ideally we can keep this stuff in Fabric, we are definitely cool with accepting new components. I wonder if you can implement your own component in a way that can later be placed ins

[2019-08-21 21:42] joschect commented on #10226
I personally think that this can't hurt to add, if no one has objects I'll explore how much work it would be to enable it.

[2019-08-21 21:48] KevinTCoughlin commented on #10226
The question is should we fix some typings that lead to incompatibility with `strictFunctionTypes` such as `IRenderFunction`. And if that's the case, would it best be done leading into a major release. At least those were the questions I had when investigating this.

[2019-08-21 23:52] juliosaenz commented on #1945
how come this was closed?
the documentation's best practices still says we should do auto suggests, but has no indication on how to do it.
Seems like this would be a basic functionality that a searchbox would provide.

[2019-08-22 02:00] #10203 closed

[2019-08-22 03:20] Lijing29 opened #10232 "Checkbox: Miss Click in Edge and IE"
### Environment Information

- **Package version(s)**: V7
- **Browser and OS versions**: Microsoft Edge 44.18362.267.0 & Internet Explorer 11.295.18362.0

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/lijinglin29/pen/NWKrmyQ

#### Actual behavior:
In Edge and IE, clicking checkbox misses some of the clicks. The performance of the Checkbox component is worse than tha

[2019-08-22 04:08] #10193 closed

[2019-08-22 04:47] dzearing commented on #10153
@joschect I can repro on my 4k monitor. It's certainly a dpi chrome thing. I was able to work around it by assigning `background: transparent` to the input element.

Current:
![image](https://user-images.githubusercontent.com/1110944/63486633-344d6200-c45d-11e9-8dda-7fc34f2c3f55.png)

With transparent bg;
![image](https://user-images.githubusercontent.com/1110944/63486658-4c24e600-c45d-11e9-8486-5

[2019-08-22 04:55] kenotron commented on #10232
This "misses" the input during an animation for Edge and IE. I think this is an external issue for Edge... not sure if it's worth pursuing as Edge on Chromiumn is coming very fast (on beta). I'll mark this a perf feature to investigate.

[2019-08-22 07:05] lukasbash commented on #10121
From what I got from the discussion above, the behavior of being readonly is intended.
But why did it work in a previous version? Was it a bug then?

I remember having it working with something like 6.192.0.

[2019-08-22 07:06] oaltun opened #10234 "Add `onRenderLabel` prop to the input components that does not have it."
#### Describe the feature that you would like added

Have an onRenderLabel prop on all the input components

#### What component or utility would this be added to

SpinButton and other input components

#### Have you discussed this feature with our team, and if so, who

No.

#### Additional context/screenshots

This would enable having an info button next to the label for all inputs. Currently som

[2019-08-22 07:15] ecraig12345 commented on #10121
Yes, it was a bug--see #1350.

[2019-08-22 07:18] lukasbash commented on #10121
@ecraig12345 Thank you for the fast response! And many thanks for clarifying it!

[2019-08-22 07:25] #10201 closed

[2019-08-22 09:09] zhr1130 opened #10235 "Invalid ARIA attribute value: aria-describedby for PrimaryButton component"
- **Package version(s)**: 7.26.0
- **Browser and OS versions**: Chrome

### Describe the issue:

Invalid ARIA attribute value: aria-describedby="id__86" for PrimaryButton

#### Actual behavior:

Invalid ARIA attribute value: aria-describedby="id__86" for PrimaryButton

#### Expected behavior:

Valid aria-describedby

### If applicable, please provide a codepen repro:
https://codepen.io/zhr1130/pen

[2019-08-22 09:43] shivasai09 opened #10236 "support for color '#6BB700' in semantic slots"
currently in fabric 6.186.1, there is no semantic slots for the color '#6BB700'.

The above mentioned color can be useful many place, one such scenario is posted below
![image](https://user-images.githubusercontent.com/33802398/63504328-eda84800-c4ee-11e9-97e8-4cea5b643693.png)

**Actual behavior**
currently there is no semantic slot in theme for above mentioned color

**Expected behavior**
There

[2019-08-22 12:59] chenxinyanc commented on #10199
I need to find the logic ancestor of a drop-down item from DOM tree (i.e. given a DOM item in the drop-down list, I want to find its owner), and using `getParent(..., true)` makes such traversal possible. Since this function returns `document` node, perhaps declaring returning `Node` instead of `HTMLElement` might be more accurate.

I think keeping this function untouched won't affect me that much

[2019-08-22 14:18] ardallie opened #10237 "DetailsList drop hints and the gripper bars displayed for all columns if reorder is enabled"
### Environment Information

- **Package version(s)**: 7.25+ (incl. 7.27)
- **Browser and OS versions**: (fill this out if relevant) Win 10, Chrome, Firefox

### Please provide a reproduction of the bug in a codepen:
The issue can be observed in the demo provided with the official documentation.
Is this working as intended?

[https://developer.microsoft.com/en-us/fabric#/controls/web/detailslist/d

[2019-08-22 15:58] KevinTCoughlin commented on #10237
This is a bug possibly introduced by https://github.com/OfficeDev/office-ui-fabric-react/pull/10120 cc: @svaibhav @aditima.

I didn't see this when reviewing the code but perhaps I used a different example. We'll have to take a look and fix it. The hints shouldn't _always_ be shown.

[2019-08-22 16:25] kenotron commented on #10234
I'm pretty sure the solution to this will be through slots which will come about in a big way. I think this is exactly the kind of problem slots solves. We'll be implementing this in the upcoming releases so I'm going to put this in a backlog to make sure we still have it around.

[2019-08-22 16:51] kenotron commented on #10235
Indeed a bug. Though, the use case is invalid really - PrimaryButton or DefaultButton do not render anything in secondaryText (or description). That's a prop only valid for CompoundButton.

[2019-08-22 17:00] kenotron commented on #10236
Hey @Jahnp - do we want to add this in semantic slot color? If so, what would this be called?

[2019-08-22 17:02] kenotron commented on #10237
@KevinTCoughlin - would you mind assigning to the person to address this issue?

[2019-08-22 17:54] #10235 closed

[2019-08-22 18:09] bhedayatian opened #10239 "Uncaught TypeError: Cannot read property 'getSuggestions' of undefined at FloatingPeoplePicker.BaseFloatingPicker.renderSuggestions (BaseFloatingPicker.js?"
I get this error when i use floatingPicker in my react page. the page loads first but then any event on the picker ( focus or enter) throws this error:

Uncaught TypeError: Cannot read property 'getSuggestions' of undefined
    at FloatingPeoplePicker.BaseFloatingPicker.renderSuggestions (BaseFloatingPicker.js?dcbe:200)

i have tried both
class MyComponent extends BaseFloatingPeoplePicker

class M

[2019-08-22 19:04] cathymc commented on #7425
Our team is also having trouble with aria-label being read by both JAWS and Narrator, most likely due to this priority issue. We are using the aria-label to announce whether the column is filtered or not filtered, so the work around of using the 'name' attribute may not work for us.

Any ideas for another work around or added more accessibility with column filters?

[2019-08-22 19:04] DmitryEfimenko commented on #3359
I still get the same error
https://stackblitz.com/edit/react-ts-8givce?embed=1&file=index.tsx

[2019-08-22 19:16] svaibhav commented on #10237
@KevinTCoughlin While I was reviewing my changes, I found the following change:
https://github.com/OfficeDev/office-ui-fabric-react/pull/9884/files#diff-594035b9050cc429a57f0fceb24e63ba
Can this be because of this change? (using _display: 'inline-block'_ in Icon.styles.ts)

[2019-08-22 19:37] bhedayatian commented on #10175
@joschect
Can you please give more tips how to reuse PeoplePicker styles in my component that uses floatingPicker? I am a newbie in react and not very familiar with typescript.
Thank you

[2019-08-22 19:42] jlukosky opened #10240 "Tooltip: moving hover from tooltip back to trigger closes tooltip"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:
When moving hover from tooltip back to trigger the tooltip closes. The trigger shouldn't close the tooltip, it's behavior should be consistent. As it is the trigger is serving as a show/hide toggle.

### Please provide a reproduction of the issue in a codep

[2019-08-22 20:22] mmcelroy90 opened #10241 "Add errorMessage property to SpinButton"
#### Describe the feature that you would like added

errorMessage (see errorMessage on TextField) property to be added to the SpinButton

#### What component or utility would this be added to

SpinButton

#### Have you discussed this feature with our team, and if so, who

N/A

#### Additional context/screenshots

N/A

[2019-08-22 20:25] #10191 closed

[2019-08-22 20:26] kenotron commented on #10239
jsx is fine, but it really would help if you can create a codepen for me to look at.

[2019-08-22 20:28] kenotron commented on #10241
Adding a errorMessage doesn't make sense in a Spin Button control. If you wanted to display an error message, I suggest using a separate label of some sort to display that. SpinButton is just a input field with a couple of buttons going up and down.

[2019-08-22 20:43] maxwellred commented on #10240
Hi @jlukosky . Thanks for opening this issue about Tooltip and congratulations on this being your first in UI Fabric React! I have contacted the code owner in regards to this behavior and will be attending to it shortly.

[2019-08-22 20:48] kenotron commented on #10236
@phkuo - ping if you have some opinion about this

[2019-08-22 20:48] KevinTCoughlin commented on #10237
It looks like this isn't related to any of our individual changes, but rather styles cascading from the "unified header" on the production documentation page.

![image](https://user-images.githubusercontent.com/706967/63548626-77eaaf00-c4e3-11e9-9a24-48173cc81c53.png)

cc: @micahgodbolt

[2019-08-22 20:48] maxwellred commented on #10236
Hi @phkuo we were wondering if you had some input on this semantic color proposal, thanks!

[2019-08-22 21:08] phkuo commented on #10236
I'd recommend:
https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/styling/src/interfaces/ISemanticColors.ts#L159
(which is partially transparent)

Or:
https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/styling/src/interfaces/IPalette.ts#L250
But then you'd have problems finding the appropriate slot to use as text on top of it.

[2019-08-22 21:11] phkuo commented on #10236
So I would also caution, you should not approach this with the attitude "I need to find a slot whose hex value is exactly #6BB700" but instead "what already exists that fulfills the same intention as this?" We seek coherence, so when you have a new color that isn't used anywhere else, you should try to align with what already exists, instead of adding a yet another new option to the existing optio

[2019-08-22 21:14] kenotron commented on #10236
I agree with @phkuo as well here. We're unlikely to add a brand new semantic color here. I'm marking this resolution: by design. Please close this at your earliest convenience.

[2019-08-22 22:00] aditima commented on #10237
Adding @Jahnp

[2019-08-22 22:37] mmcelroy90 commented on #10241
We have had to write a wrapper around TextField to act as a NumericField, and this has caused us a lot of headaches over the past couple of months. We have a min and max value for all of the fields we use, but we want to display an error such as 'Value cannot be greater than $2620' while leaving their input alone and just disabling the form if there are any validation errors.

Most of the things w

[2019-08-22 22:37] Jahnp commented on #10237
To @KevinTCoughlin's point, this looks like the result of conflicts from `ms-Icon` definitions, one of which is in one of the external portals CSS (not technically UHF but also part of page infrastructure).

The second one stems from the copy of Fabric Core bundled with the site, invoked on this line:
https://github.com/OfficeDev/office-ui-fabric-react/blob/6ff7873e60436513ce7c3e4f39982a461fa5c86f

[2019-08-22 22:41] bhedayatian commented on #10215
it's resolved. thanks

[2019-08-22 22:41] #10215 closed

[2019-08-22 22:42] bhedayatian commented on #10239
I figured it out. thank you doe your help.

[2019-08-22 22:42] #10239 closed

[2019-08-22 23:08] micahgodbolt commented on #10240
Having tooltips be sticky when hovered isn't a 100% normal HTML experience, so we rely on our designers to inform us on how it should work. The fix shouldn't be too hard to do, but I want to first confirm that this is the correct design choice before doing the work.

@betrue-final-final do you have any context on if tooltip should stay open after hovereing over the tooltip and then back onto the b

[2019-08-22 23:12] aneeshack4 commented on #5360
@dzearing contacted them over email yesterday & cc'd you - hoping to get them on Github

[2019-08-23 01:01] t-zeche commented on #10166
Thanks!

[2019-08-23 01:12] jspurlin commented on #10240
I know in the desktop apps, the user can hover over the tooltip and then back over the button (but windows and native tooltips in the browser don't do that). This sounds like a feature request that should be vetted with designers.

[2019-08-23 01:15] kenotron commented on #10241
I don't agree that we would add one off error message for every single input type. It would bloat our code a lot. A better approach is have a Form / decorator combo (much like what is happening here:
https://ant.design/components/form/).

I'm putting this whole thing as a feature request

[2019-08-23 03:04] ecraig12345 commented on #9961
Ping @Markionium -- any ideas for ways to render the open circle and blocked presences without these `:before`/`:after` elements which apparently cause accessibility issues?

[2019-08-23 03:08] ecraig12345 commented on #7653
Closing this because we're close to having a full example editor instead. :)

[2019-08-23 03:08] #7653 closed

[2019-08-23 03:30] ecraig12345 commented on #8755
Belatedly coming back to this (sorry)--between the time this was opened and now, I had to deal with a related issue trying to integrate a 3rd-party library into our tests, so now I have a better idea of what's going on.

The root issue is that the files Fabric publishes under `lib` are ES modules, and [Jest still doesn't support ES modules](https://github.com/facebook/jest/issues/4842) for some re

[2019-08-23 04:43] #10022 closed

[2019-08-23 07:12] cliffkoh commented on #6252
This work is completed by @natalieethell

[2019-08-23 07:12] #6252 closed

[2019-08-23 07:16] #9934 closed

[2019-08-23 07:29] andrezo commented on #10222
Yes, we can probably start out by creating the component on our side and consider moving it into Fabric later.

[2019-08-23 08:29] gayathrisns opened #10249 "Can we have a drop functionality after last index included as part of basic implementation?"
#### Describe the feature that you would like added

In the basic component shown,an item could not be dropped at the last (or after the last index).Can we have that included or is it deliberately excluded?

#### What component or utility would this be added to

DetailsList DragAndDrop
#### Have you discussed this feature with our team, and if so, who

No
#### Additional context/screenshots

[2019-08-23 14:47] JasonGore commented on #10166
If you are happy with the resolution please close the issue. Thanks!

[2019-08-23 15:54] lanzhenw commented on #10136
@JasonGore I encountered a similar issue when I use grouped DetailsList. if the content is longer than the page frame, it automatically closes the expanded list.

[2019-08-23 17:10] Adjective-Object commented on #10175
Is this ![image](https://user-images.githubusercontent.com/1174858/63610081-652cb480-c58d-11e9-84c5-92f04178280c.png) what you're asking how to render? (I've usually heard them called pills before).

If so, you could reach into ExtendedSelectedPeopleList to render its pill component in your consumer:
https://github.com/OfficeDev/office-ui-fabric-react/blob/c4a87826fbb9e3d85cba04be9b829d179b1e7af7/

[2019-08-23 17:35] mshindal opened #10251 "Is this library intended to be used by non-Office apps?"
I'm confused by the direction of this project and what it's supposed to be used for. The README describes it as "The React-based front-end framework for building experiences for Office and Office 365." But the components seem to be usable outside of the Office ecosystem.

So my question is, even if it's technically possible to use these components in a standalone app, is that the intended use for

[2019-08-23 17:41] kenotron commented on #10249
That code you're referring to is actually inside the example. To get that effect you want, you'll actually need to modify the dragdropevents prop. Here's a modified example (note the onDrop event fires this `_insertBeforeItem()`):

https://codepen.io/kenotron/pen/ZEzLmQJ?editors=1111

[code]

[2019-08-23 17:42] kenotron commented on #10249
this should illustrate how to do this - please close this issue if it addresses your question

[2019-08-23 17:43] kenotron commented on #10251
We're actually in the middle of working with MSFT marketing team to somehow change this to not be branded as Office only. We are trying to become the primary way to create React (web) applications with the Fluent design language.

[2019-08-23 17:44] kenotron commented on #10251
If this answers your question, please close this issue.

[2019-08-23 17:46] mshindal commented on #10251
Thanks.

[2019-08-23 17:46] #10251 closed

[2019-08-23 18:00] #10168 closed

[2019-08-23 18:26] isabelacmor commented on #1117
Is there an update on this? Is this feature on the roadmap?

[2019-08-23 18:33] kelseyyoung commented on #10191
Was replacing width with min-width really the best fix here? Now all of our IconButtons (e.g. in ComboBoxes) are 32px because we hadn't overridden the min-width property...(after bumping to 7.27.1)

[2019-08-23 19:36] kenotron opened #10254 "Local builds sometimes gets stuck when there's a task failure"
Reported by @KevinTCoughlin:

 master build is consistently failing for me on my workstation with yarn build. The failures occur with a11y-tests. I have not been able to build master successfully since lerna migration. Yesterday I observed that "zombie" processes are leftover for the OS to kill after some time. Those processes pin my CPU to 100%.

![image](https://user-images.githubusercontent.com

[2019-08-23 20:09] micahgodbolt commented on #10191
ComboBox seems to be working fine with this style change. Are you seeing any issues?

![image](https://user-images.githubusercontent.com/1434956/63620780-1e4bb880-c5a7-11e9-8473-fb28bff72ceb.png)

![image](https://user-images.githubusercontent.com/1434956/63620793-2572c680-c5a7-11e9-9ad1-66f41acf7321.png)

[2019-08-23 20:26] #10150 closed

[2019-08-23 20:49] micahgodbolt commented on #10241
This is a duplicate of a long standing need to unify our error messages #3620 which is also captured in this meta issue #7636

We'd like ALL form controls to have consistent labels, error messages etc, and would rather not do 1 off fixes.

[2019-08-23 21:21] kenotron commented on #10254
I'll attempting to repro - this is run inside an admin powershell window... i'll try that

It would help if get more info - puppeteer seems to have issues getting to communicate with chrome. It would help to see if this occurs on the same machine on a clean clone on a normal cmd.exe window.

[2019-08-23 21:22] marywang-office opened #10255 "Dropdown control always set the selected index to 0 in _onFocus if the current selection isn't in the options"
### Environment Information

- **Package version(s)**: (all versions)
- **Browser and OS versions**: (all browsers and OS)

### Please provide a reproduction of the bug in a codepen:
We have a Dropdown control with 4 options. In some scenarios, when the Dropdown associated object doesn't have valid option and sets the initial selected index to 5. The Dropdown shows blank which means nothing is sel

[2019-08-23 21:37] SuperJade opened #10256 "Teaching Bubble has no visible focus indicator in Windows 10 High Contrast in Firefox"
### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

[2019-08-23 21:47] SuperJade commented on #3800
My team is encountering the same problem with buttons in high contrast Firefox. Any chance you will reopen?

[2019-08-23 21:57] kenotron commented on #10254
Notes from @KevinTCoughlin:

repro steps:

clone master OUFR
introduce a lint break in one of the packages
run yarn build
watch ProcExp

[2019-08-23 22:09] maxwellred commented on #10256
Hi @micahgodbolt - could you take a look at this issue

[2019-08-23 22:24] micahgodbolt commented on #10256
Does this work in High Contrast on edge?

[2019-08-23 22:28] kelseyyoung commented on #10191
It's just for anyone wanting to override that style. Previously if you wanted to make it smaller you'd set the width property. Now however you have to set the min-width as well.

https://codepen.io/kelseyyoung/pen/PoYWLdz

Changing styling is part of using Fabric, but what I'm really asking if this was the -best- option given the issue (or least intrusive)

[2019-08-23 22:38] micahgodbolt commented on #10256
When you focus on the the close button you do get this:

![image](https://user-images.githubusercontent.com/1434956/63627328-18ac9d80-c5bc-11e9-8418-d4fefa4dfc39.png)

[2019-08-23 23:00] KevinTCoughlin commented on #10254
Thanks Ken, I'll try to get a repro branch for you. I have seen this when any individual project build fails (returns a non-zero exit code).

[2019-08-23 23:01] KevinTCoughlin commented on #1117
Yes, this is supported by `DetailsList` in both Fabric 6 & 7.

[2019-08-23 23:53] micahgodbolt commented on #10191
I believe a fixed width on the IconButton to be a bug. All other buttons are min width, and will scale to fit their content. I believe our problem was that we didn't give devs an easy way to change button width that wouldn't break if we needed to change something. That's the idea behind component tokens.

[2019-08-23 23:58] kelseyyoung commented on #10191
Alrighty, thanks for the explanation

[2019-08-24 03:00] wisconsinsara commented on #10256
It works in Windows 10 High Contrast IE and Edge, but not Firefox.

[2019-08-24 03:06] SuperJade commented on #10256
When I focus on the close button in high contrast Firefox, there is no outline/border around the teaching bubble.

[2019-08-24 17:00] bhushan2511 opened #10260 "Changing the column header in Details list dynamically base on Inputs"
#### Describe the feature that you would like added

I'm using Office UI fabric Detail List component (https://developer.microsoft.com/en-us/fabric#/controls/web/detailslist). Is it possible to change the Column header name based on inputs to the Detail List?

I found a way to change the Footer(https://developer.microsoft.com/en-us/fabric#/controls/web/detailslist/customfooter) but not Header sinc

[2019-08-24 22:58] bhedayatian commented on #10175
@Adjective-Object Yes, I am trying to use the pill component in floatingPicker. I was originally using normalPeople Picker. my use case is about handing multiple email addresses entered by user from copy/paste and I need to access the input DOM itself. @joschect suggested to use floatigpicker ( Indicating we can't access the input DOM in peoplePicker).  the look in floatingPicker is different when

[2019-08-25 10:05] michaelspeed commented on #9022
we could really use some of the components for react native

[2019-08-25 12:13] robert1826 commented on #8830
I guess you can use this: https://stackoverflow.com/questions/49542450/override-officeui-nav-chevron-icon?rq=1

[2019-08-25 15:37] ramanova opened #10261 "a11y minor issues on developer.microsoft.com"
# Environment Information

- **Package version(s)**: (the current one on developer.microsoft.com demo)
- **Browser and OS versions**: (MacOS, Chrome Version 76.0.3809.100 (Official Build) (64-bit))

### Describe the issue:
A list of elements that have minor A11y issues according to Keros testing tool:

  https://developer.microsoft.com/en-us/fabric#/controls/web/combobox Disabled
ComboBox (Element

[2019-08-25 18:16] #10021 closed

[2019-08-25 18:20] dzearing commented on #10021
We have agreed to merge this fix in current v7 builds, but will avoid a backport to v6, as this may be a disruptive change for many.

[2019-08-26 00:25] Lijing29 commented on #10185
JAWs + IE works well on the first checkbox which is created by input tag. However, it doesn`t work on the second Checkbox which is created by Fabric UI Component. It seems it is an issue in Fabric UI Component.

[2019-08-26 07:42] avenezia commented on #10186
Hi @kenotron,
taking as example / reference Excel, UI Fabric behavior is not equal, so I would like to understand if an improvement is possible here.

Thanks,
Alessandro

[2019-08-26 11:12] Accessibility56 opened #10265 "A11y_Dynamics for Microsoft_Quick Create: Labor Entry_Screen Reader: Narrator is not reading the previous and next buttons in the calendar properly"
[Check out Accessibility Insights!](https://microsoft.sharepoint.com/teams/msenable/Pages/accessibility-tools.aspx) - Identify accessibility bugs before check-in and make bug fixing faster and easier

**Environment Details:**
**URL:**  https://cs-labor-test.crm.dynamics.com/main.aspx
Server version: 9.1.0000.6228
Client version: 1.3.1948-190626-193951
OS: Windows 10 , Version 1903 , OS Build 18362

[2019-08-26 12:05] alekkowalczyk commented on #5733
Having same issue as @RuneHanssens were you able to solve it?

[2019-08-26 14:23] dzearing opened #10266 "RFC: Remove I-prefix from TypeScript interfaces and types"
## Overview

All existing interfaces and types in all v7 packages are currently prefixed with I. All interfaces and types in v0 packages are not. Let's choose one path.

### Reasons for prefixing

1. Seeing an I prefix gives the developer ease of mind that adding the graph edge will not impact bundle size.
2. Avoids common naming collisions. E.g. the interface for an `IThing` could be implemented

[2019-08-26 17:33] zenaidura opened #10267 "DetailsList not loading all items but only first 99 when loaded from SharePoint list using Rest API"
### Environment Information

- **Package version(s)**: 7.22.2
- **Browser and OS versions**: Chrome / Windows 10

#### Actual behavior:

When loading more than 99 items in the DetailsList using PnP, the DetailsList component doesnt load all the items. When I scroll through the list, it has the space for more items but nothing is visible. When I hit F12 for developer tools, it loads the next chunk

[2019-08-26 18:25] mibadget opened #10268 "DetailsList with Narrator + Edge when using Browse mode does not read row info."
### Environment Information
URL: https://developer.microsoft.com/en-us/fabric#/controls/web/detailslist
Browser: Edge
OS: Windows Version 10.0.18362 Build 18362

### Describe the issue:
Using the Details List component, when focus is on a row in the details list, no information is read by narrator pertaining to the row information such as which row the focus is on. Sighted users can see screenshot

[2019-08-26 19:27] micahgodbolt opened #10269 "Split button focus rectangle not visible on standard button"
Split button focus rectangle not visible on standard button

https://fabricweb.z5.web.core.windows.net/oufr/7.28.0/#/examples/button

rest:

![image](https://user-images.githubusercontent.com/1434956/63717282-b4c4e780-c7fc-11e9-8c3f-af2a791e21cb.png)

focus:

![image](https://user-images.githubusercontent.com/1434956/63717293-bc848c00-c7fc-11e9-85a2-43afd16ceda1.png)

focus standard (non split)
![

[2019-08-27 01:48] #10185 closed

[2019-08-27 03:05] svaibhav commented on #10237
Yeah... Kevin explained that earlier, I was just exploring other piece of code :)

[2019-08-27 10:15] avenezia commented on #10186
Hi @kenotron,
sorry, the example from Excel was not the right one.
If I use Outlook online I get the behavior that is described in this bug, I guess because UI Fabric List is used there.
But, if I use Outlook Desktop, hitting PageUp / PageDown updates the selection
.
![image](https://user-images.githubusercontent.com/6376952/63763081-4c413d80-c8c4-11e9-8708-89893fa88d0f.png)

And this seems the ge

[2019-08-27 18:56] HalcyonPride opened #10286 "Breadcrumb: Make the last item a Heading, for Accessibility?"
#### Describe the feature that you would like added

- Option to make the last item a heading.

#### What component or utility would this be added to

- Breadcrumb

#### Have you discussed this feature with our team, and if so, who

- No, but I'll actively participate in this thread.

#### Additional context/screenshots

- I'm willing to make the code changes, but I'd like to consult y'all first.

[2019-08-27 20:57] emkessle opened #10288 "[DetailsList] ariaLabelForSelectAllCheckbox but no ariaLabelForDeselectAllCheckbox"
I noticed that there is an ariaLabelForSelectAllCheckbox property but there isn't an ariaLabelForDeselectAllCheckbox which would access the isAllSelected state and choose between the two. Is there another workaround for doing this? I don't think a general aria label for "Select or deselect all" would be that useful.

[2019-08-27 21:00] dsosby opened #10289 "Dropdown focus method does not honor negative tabindex"
### Environment Information

- **Package version(s)**: latest
- **Browser and OS versions**: All

### Describe the issue:

1) Create a Dropdown component with tabIndex of -1
2) Use componentRef to access the IDropdown component
3) Call IDropdown.focus()
Expected:
Dropdown component to receive focus
Observed:
Dropdown component ignores programmatic focus request. There is a condition in Dropdown.ba

[2019-08-27 22:31] bhedayatian opened #10290 "styles of the coin component in floater picker is not right"
I upgraded office-ui-fabric to the latest version (7.x.x) and now my styles of the selected items in floater picker (coin components) are not shown properly. please see the attachment.[
<img width="710" alt="Screen Shot 2019-08-27 at 3 27 15 PM" src="https://user-images.githubusercontent.com/17915337/63812608-c0d5a580-c8df-11e9-93af-95093cde737d.png">
](url)

[2019-08-27 23:30] bhushan2511 opened #10291 "Whats the purpose of SelectionDirection in Iselection interface?"
https://github.com/OfficeDev/office-ui-fabric-react/blob/495d5291eed73e6578a8b62129b032bed61fc9b3/packages/utilities/src/selection/Selection.types.ts#L73

SelectionDirection ENUM is not being used anywhere, whats the purpose of having it here?

Also, selection :Iselection props is provided in DetailList, I assumed that if I set selectionDirection.vertical will enable column selection but Iselectio

[2019-08-28 02:27] mcdream331 opened #10292 "Slider onChanged not triggered for Keyboard Event"
### Environment Information

- **Package version(s)**: 6.202.1
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:
Slider onChanged not triggered for Keyboard Event - https://codepen.io/mcdream331/pen/yLBbEpd

#### Actual behavior:

In the console, if a mouse event trigger the value change, the mouse event will get logged. But when

[2019-08-28 07:24] bhedayatian opened #10293 "How to call removeItem from a FloatingPicker"
I am using FloatingPicker and ExtendedSelectedItem and need to overwrite the remove item method with a custom method. can you please help?

[2019-08-28 08:28] #10199 closed

[2019-08-28 16:38] Terverok opened #10295 "GroupedList - linter says that isSelected is depreciated, but using selected in custom group header doesn't work"
### Environment Information
- **Package version(s)**: 7.14.0

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/media-press/pen/QWLgwYQ

#### Actual behavior:
GroupedList, custom header render
Linter tells me that `isSelected` is depreciated, but using only `selected` prop does not work

#### Expected behavior:

Using only `selected` prop supplied to `onRenderHeader` sh

[2019-08-28 19:34] SpencerLynn opened #10297 "Fabric Version Not Updated Since 6.185.0"
### Environment Information

- **Package version(s)**: 6.185.0 and newer
- **Browser and OS versions**: N/A

### Please provide a reproduction of the bug in a codepen:
The [version.ts](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/version.ts
) file in the office-ui-fabric-react package doesn't appear to have been updated since 6.185.0.

I've al

[2019-08-28 20:13] micahgodbolt opened #10299 "SplitButton borders and divider & PrimaryButton Focus not visible in high contrast/Edge"
Standard Split button divider is not visible in high contrast mode.
Primary Split button 'split' button border is not visible in high contrast mode

Edge browser.
https://fabricweb.z5.web.core.windows.net/oufr/7.28.1/#/examples/button

![image](https://user-images.githubusercontent.com/1434956/63889171-5121f200-c995-11e9-889d-a8d5f2df19b6.png)

Should be like this:

![image](https://user-images.gi

[2019-08-28 21:23] ecraig12345 commented on #8882
You need to use a ref to access the ComboBox itself.
https://codepen.io/ecraig12345/pen/eYORzJZ?editors=0011

[2019-08-28 21:25] maxwellred commented on #10299
@micahgodbolt Thanks, I'll look into the high contrast selectors now.

[2019-08-28 21:34] orokanasaru opened #10302 "Teaching bubble close button no longer supports RTL"
#### Actual behavior:

Currently looks like this in RTL:

![image](https://user-images.githubusercontent.com/5751627/63894085-a1528180-c9a0-11e9-906d-0fd36a7ee84f.png)

#### Expected behavior:

Just as it was after #453, it should look like:

![image](https://cloud.githubusercontent.com/assets/1434956/19732983/73c6d182-9b57-11e6-8668-513bcae46313.png)

### Priorities and help requested:

Are you w

[2019-08-28 21:37] orokanasaru commented on #10302
The header also shouldn't have `margin-right: 10px` in RTL.

[2019-08-28 21:42] AndrewCraswell commented on #8359
No, I'm saying that in the codepen even without MWF, the VFI can't be seen.

[2019-08-28 21:49] ellonimo opened #10303 "onClick is not available for Buttons"
### Environment Information

- **Package version(s)**: 5.135.3
- **Browser and OS versions**: Win 10 x64, Chrome latest. Used in SPFx solution for SharePoint On-Prem 2016

### Please provide a reproduction of the bug in a codepen:

import { DefaultButton } from 'office-ui-fabric-react/lib/Button';
...
<DefaultButton text='Cancel' onClick= { somefunction } />

#### Actual behavior:

Property 'onCli

[2019-08-28 21:51] orokanasaru opened #10304 "Coachmark and TeachingBubble anchors don't handle page resizing"
#### Actual behavior:

At initial zoom, coachmark looks like:

![image](https://user-images.githubusercontent.com/5751627/63895173-3eaeb500-c9a3-11e9-8560-9d63d3c698b9.png)

After zooming out, coachmark looks like:

![image](https://user-images.githubusercontent.com/5751627/63895163-348cb680-c9a3-11e9-999e-192c1fd9cd31.png)

Similar results occur for TeachingBubble.

#### Expected behavior:

Callo

[2019-08-28 22:06] lorejoh12 commented on #10265
Hmm. We have a property on Calendar component, `strings: ICalendarStrings`, which has properties on it for the previous and next month/year buttons. But those buttons have defaults if not defined, which default to the English 'Go to previous month' etc., defined here: https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/date-time/src/components/Calendar/Calendar.base.tsx

The f

[2019-08-28 22:34] maxwellred commented on #10295
@Terverok Thank you for the issue an I'll look into it shortly!

[2019-08-28 23:00] mcdream331 commented on #10292
Looks like only 6.x has this issue. 7.x added support for keyboard event.

[2019-08-28 23:18] maxwellred commented on #10303
Hi @ellonimo I can't seem to repro the issue in my code or in a [codepen](https://codepen.io/CodeMax/pen/abowmma). From what I can see in the code you've provided you perhaps aren't importing in the IButtonProps in your actual code?

[2019-08-28 23:56] micahgodbolt commented on #10292
good catch. do you need that in 6.x? if so you're welcome to cherry pick it back if needed.

[2019-08-28 23:58] maxwellred commented on #10302
Hi @orokanasaru Thanks for the issue! I'll take a look and get back to you soon.

[2019-08-28 23:58] micahgodbolt commented on #8359
@AndrewCraswell can you provide a codepen that repros the issue. From @khmakoto's comment, it works fine in codepen but is broken on our site (which is caused by MWF styles).

[2019-08-29 00:37] maxwellred commented on #10302
Hi @orokanasaru Could you please let me know what specific version of Fabric you are on because i can't repro this in 7 or 6, thanks!

[2019-08-29 06:49] ellonimo commented on #10303
Hi @maxwellred I don't see onClick method in IButtonProps interface in Button.types.d.ts at all. I see your example, but I still have the same error. What information can I provide you for further investigation?

[2019-08-29 07:37] reshampal2010 opened #10311 "Nav control is highlighting two link while clicked links are within the page"
we have configured Url in nav control for same page , while clicking on current link the previously clicked link is also highlighting. The Expected functionality should highlight only currently clicked link.
please find below details to reproduce the issue
configure links on page with url pointing  within same page like bookmarks, these will be pointing to that bookmark (section of the page)-
![Na

[2019-08-29 09:15] gioce90 commented on #5128
This is really a good answer, @vgrem. I used that for a while, but I noticed that the problem is elsewhere. The problem doesn't appears if the key of the viewItems is named exactly 'key'.
I use the version "6.202.0" of Fabric.

In my implementation, the constructor contain this:
[code]

In the render() now I don't use ViewSelection nor MarqueeSelection:

<DetailsList
	componentRef={this.detailsLis

[2019-08-29 12:43] alekkowalczyk commented on #8494
Yup, would be general useful to somehow style provided days or highlight them.

[2019-08-29 13:30] patrickeibl commented on #8882
Appreciated, thanks!

[2019-08-29 15:41] bhedayatian commented on #10293
@joschect @Adjective-Object any tips? I am stuck!

[2019-08-29 16:41] maxwellred commented on #10311
Hi @reshampal2010 I've attempted to repro the issue using the code provided in Codepen but don't seem to be getting a dual link highlight issue. Perhaps there's more code potentially causing this issue that hasn't been shared? Here's the [codepen](https://codepen.io/CodeMax/pen/GRKEXWR).

[2019-08-29 16:43] maxwellred commented on #10304
Thanks @orokanasaru I'll take a look at this shortly!

[2019-08-29 17:49] maxwellred commented on #10304
Hi @orokanasaru I've attempted to repro this issue by manipulated the [Fabric Site](https://developer.microsoft.com/en-us/fabric#/controls/web/coachmark) as well as creating a [codepen](https://codepen.io/CodeMax/pen/QWLgVJq) to try different Fabric versions but don't seem to be able to repro it. Could you take a look at the codepen and add any code that maybe contributing to this issue? Could you

[2019-08-29 17:53] maxwellred commented on #10293
Hi @bhedayatian Sorry for the delayed response. I'll take a look at this and get back to you.

[2019-08-29 18:00] kenotron commented on #10297
Feel free to assign to me, I have to fix this likely, but it has several components to the fix (there might be a build job definition fix too)

[2019-08-29 18:08] bhedayatian commented on #10293
Yaaay! Thanks Max

[2019-08-29 18:13] maxwellred commented on #10297
Thanks, @kenotron !

[2019-08-29 19:09] matprzybyla opened #10312 "DatePicker - unable to set textfield styles/colors"
### Environment Information

- **Package version(s)**: 7.27.1
- **Browser and OS versions**: Windows 10 Chrome 76.0.3809.100

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/matprzybyla/pen/LYPLXwB

#### Actual behavior:

When using DatePicker component I want to set its text field background setting style on `textField` area to `some color` to warn user if selected

[2019-08-29 19:15] maxwellred commented on #10293
Hi @bhedayatian I got a [codepen](https://codepen.io/CodeMax/pen/LYPLMZX) started with FloatingPeoplePicker but was hoping you could add some of the code to it that you are having trouble with in order to troubleshoot better? Also, are you speaking about the `public removeItem` method found in BaseSelectedItemsList.tsx?

[2019-08-29 19:25] maxwellred commented on #10312
@matprzybyla Thank you for the issue and the codepen repro! I'll look into this shortly and get back to you.

[2019-08-29 19:34] orokanasaru commented on #10302
This was done on 7.10 on our site, and whatever version is running on https://developer.microsoft.com/en-us/fabric.

Further testing shows that this only happens when direction is changed to RTL after the package loads (though before the element is created/shown).

This is probably not a common scenario outside of testing, so this can probably be changed to low priority or even closed outright.

[2019-08-29 19:56] orokanasaru commented on #10304
I've repro'd it on https://developer.microsoft.com/en-us/fabric#/controls/web/coachmark with Chrome, Edge, and Firefox.

Show coachmark at 100%, and start zooming out.
It'll start shifting around 70%, and be disconnected from the button entirely around 40%.

The behavior does not appear in your codepen, so I'll continue looking for a minimal repro to help diagnose.

[2019-08-29 20:00] maxwellred commented on #10302
@orokanasaru Ah alright, well I took a look further into how the locally spun up repo handles RTL and after you select RTL it fires location.reload() so maybe implementing page reload into your testing suite will grab the changes? Let me know if this helps and if this resolves your issue could you close the issue, thanks!

[2019-08-29 20:09] bhedayatian commented on #10293
@maxwellred I used something like this and it works.. thanks for your help

{
    this.state.selectedUsers.map((user, index) =>
     <ExtendedSelectedItem key={`esi-${index}`} index={index} item={user}
         onRemoveItem={() => this._onItemDeleted(user)}
        />)
  }

[2019-08-29 20:11] #10302 closed

[2019-08-29 20:18] orokanasaru commented on #10304
Here's an easy repro: https://codesandbox.io/s/funny-dew-eihn2

[2019-08-29 20:29] maxwellred commented on #10304
Thank you @orokanasaru for the repro! I see it now and I'll check to see how Coachmark is calculating positioning and get back to you.

[2019-08-29 20:30] Arknev opened #10313 "getTheme() Does Not Return Current SharePoint Online Site Theme Colors"
I have searched extensively for solutions to the issue in this question:
https://stackoverflow.com/questions/54768206/how-to-get-the-current-theme-in-a-spfx-webpart-using-the-new-ts-based-styling-ap

I've been following the guidance here:
  https://developer.microsoft.com/en-us/fabric#/styles/web/colors/theme-slots
and here:
  https://github.com/OfficeDev/office-ui-fabric-react/wiki/Component-Styl

[2019-08-29 20:33] orokanasaru opened #10314 "Coachmark animation in RTL does odd things"
### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/charming-bird-4wxid

#### Actual behavior:

![RTL-Coachmark](https://user-images.githubusercontent.com/5751627/63974261-5ba9bd80-ca61-11e9-84c7-adccb1183d5c.gif)

#### Expected behavior:

Animation stays over the beacon.

### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested prio

[2019-08-29 20:48] khmakoto commented on #10303
Hi @ellonimo, you can see that `IButtonProps` extends `React.AllHTMLAttributes`. That's where we get `onClick` from.

[2019-08-29 21:13] KevinTCoughlin commented on #10303
More specifically the typing comes from: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/b4d70e1e77503b36d26ca5e0f35ea433c6b8bd29/types/react/index.d.ts#L1337

[2019-08-29 21:23] maxwellred commented on #10313
Thank you for the issue @Arknev! I'll look around and get back to you.

[2019-08-29 21:27] maxwellred commented on #10314
@orokanasaru Thanks again and sorry you're having some trouble. Thank you for the repro. I'll take a look.

[2019-08-29 22:16] maxwellred commented on #10293
@bhedayatian I'm glad you were able to get what you needed! I was hoping you could close the issue if there's nothing left you need from me, thanks!

[2019-08-29 22:18] jamesedjac commented on #8134
@leddie24 can we consider reopening this issue?

While it is true that the ARIA spec does state that aria-modal="true" should trap focus, this has been the case for a while, and I am not aware of a browser screen reader combination that has implemented it successfully.

To make sure I am up to date on support for this property, I tested it with a variety of screen readers and browsers and the only

[2019-08-29 22:31] maxwellred commented on #10286
@HalcyonPride My mistake on the applying styles to give the affect of headings. @betrue-final-final Is there any design considerations that need to be made incorporating Headers into the breadcrumb component?

[2019-08-29 22:59] #10293 closed

[2019-08-29 23:00] #10236 closed

[2019-08-29 23:13] jamesedjac commented on #6326
Can we get an update on bug 19?

[2019-08-29 23:31] micahgodbolt commented on #6326
Nothing right now. Scan mode is a really difficult mode to work in when it comes to interaction. If you have any ideas, or working examples of closing menus with scan mode, we'd love to see them.

[2019-08-30 00:15] maxwellred commented on #10312
Hi @matprzybyla I was able to get customizations to work in this [codepen](https://codepen.io/CodeMax/pen/mdbwaWb). Please let me know if this helps out and if it does it'd be great if you could close the issue, thanks!

[2019-08-30 01:00] #5360 closed

[2019-08-30 02:22] AndrewCraswell commented on #8359
I might have read the original issue incorrectly. What I was saying is that the Visual Focus Indicator does not display in Black/White high-contrast mode, which is what my [Codepen](https://codepen.io/andrew-craswell/pen/JgLRLz?&editable=true) above showed.

[2019-08-30 05:01] cliffkoh opened #10317 "Merge-styles auto-rtl does not RTL-ify translate/translateX"
### Environment Information

- **Package version(s)**: 7.28.2

### Please provide a reproduction of the bug in a codepen:

Codepen repro: https://codepen.io/pen?template=rEjZeV

#### Actual behavior:

![image](https://user-images.githubusercontent.com/1003246/63994093-2eccc900-caa8-11e9-9c7f-6c9e162218fd.png)

#### Expected behavior:

![image](https://user-images.githubusercontent.com/1003246/6399

[2019-08-30 05:02] cliffkoh commented on #10313
cc @phkuo who likely knows...

[2019-08-30 05:03] cliffkoh commented on #10313
@Arknev can you please provide the SPFx version and UI Fabric version you're using?

[2019-08-30 05:09] cliffkoh commented on #10266
I still keep `I` to be consistent with OUFR but drop `I` in all type aliases (very simply because type aliases are not interfaces).

I'm not sure if it is worth the massive churn (including downstream) to change at this point. We could possibly export both but then that raises a 2nd question: do we then always export two versions for all new interfaces as well?

[2019-08-30 05:44] cliffkoh commented on #10289
I've done some research on the origin of this line and it was implemented in the same PR that introduced the `focus()` method and has not changed since. I sincerely do believe this is a bug as opposed to being intentional about fixing some scenario.

All unit tests pass after removing this line.

[2019-08-30 05:55] chenxinyanc opened #10318 "Dropdown box with AzureCustomizationsLight shows incorrect selection color"
### Environment Information

- **Package version(s)**: 7.28.2
- **Browser and OS versions**: Edge 78.0.249.1 dev

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/xinychen/pen/qBWjeog

#### Actual behavior:
![temp](https://user-images.githubusercontent.com/50703224/63996194-89f4cf00-cb2d-11e9-87c3-a14d61e59f11.gif)

#### Expected behavior:
The selected item in the drop

[2019-08-30 07:48] matprzybyla commented on #10312
Hi @maxwellred. Thanks for addressing it.

This allowed to solve the issue.
Updated original codepen with comment - added the following - now it has background colored if anyone needs it.

[code]

[2019-08-30 07:48] #10312 closed

[2019-08-30 08:16] Lijing29 opened #10320 "Checkbox doesn't Show Focus Indicator"
### Environment Information

- **Package version(s)**: v7
- **Browser and OS versions**: Chrome + Edge

### Describe the issue:

### Please provide a reproduction of the issue in a codepen:
https://codepen.io/lijinglin29/pen/VwZzwMX

#### Actual behavior:

The focus indicator is not shown when using tab to navigate the checkbox.

#### Expected behavior:

Show focus indicator

[2019-08-30 08:57] Keith-CY opened #10321 "The style of selected page in Experimental Pagination is incorrect"
### Environment Information

- **Package version(s)**: `@uifabric/experiments@7.10.0`
- **Browser and OS versions**: no related

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

![image](https://user-images.githubusercontent.com/7271329/64006895-c59b9300-cb45-11e9-85eb-33755c91ed8b.png)

The `Page 2` button shouldn't have the style of a clickable link while the `P

[2019-08-30 09:10] reshampal2010 commented on #10311
Hi @maxwellred  I am using this code in SPFx webpart.same code is having highlighting issue in SPFx webpart code.

[2019-08-30 10:49] matprzybyla opened #10322 "DatePicker/Calendar: ability to inform when month was changed"
#### Describe the feature that you would like added

Callback function to execute when changing months like 'onMonthChanged' or similar

#### What component or utility would this be added to

DatePicker/Calendar

#### Have you discussed this feature with our team, and if so, who

Not yet, asked on stackOverflow but no responses yet. https://stackoverflow.com/questions/57711454/fabricui-datepicker-

[2019-08-30 10:56] matprzybyla opened #10323 "DatePicker/Calendar - onRenderDay"
#### Describe the feature that you would like added

It would be great if DatePicker/Calendar had options similar to some other components from Fabric React package. For example Dropdown allows for `onRenderTitle, onRenderLabel, etc.`
In DatePicker/Calendar `onRenderDay` whould be called to allow customization of rendered day cell

#### What component or utility would this be added to

DatePicker/

[2019-08-30 12:11] Arknev commented on #10313
I think this is what you are looking for:

npm list office-ui-fabric-react
+-- @microsoft/sp-property-pane@1.8.2
| +-- @microsoft/office-ui-fabric-react-bundle@1.8.2
| | `-- office-ui-fabric-react@6.143.0
| `-- office-ui-fabric-react@6.143.0
+-- @microsoft/sp-webpart-base@1.8.2
| +-- @microsoft/sp-loader@1.8.2
| | `-- office-ui-fabric-react@6.143.0
| `-- office-ui-fabric-react@6.143.0
+-- @microso

[2019-08-30 16:29] maxwellred commented on #10321
Hi @Keith-CY thank you for the great find and offering to submit a PR, please let me know if there's anything you need from my end!

[2019-08-30 16:31] maxwellred commented on #10320
Thank you @Lijing29 I see the issue and will look into it shortly!

[2019-08-30 16:32] maxwellred commented on #10318
Hi @chenxinyanc What a great find and thank you for offering to submit a PR! Please let me know if you need anything from my end, thanks!

[2019-08-30 17:15] micahgodbolt commented on #10299
While you're looking at high contrast, check out the focused state of the primary button. It looks like the internal focus ring is getting covered up by the background.

[2019-08-30 17:16] micahgodbolt commented on #8359
Ok, I noted this specific problem about focus in high contrast here #10299.

I'm going to close this issue down because the original issue is caused by 3rd party css on the page, and this discussion is getting a bit fragmented.

[2019-08-30 17:16] #8359 closed

[2019-08-30 18:01] maxwellred commented on #10323
Hi @matprzybyla Ill look into to this and the other issue regarding DatePicker, thanks!

[2019-08-30 18:14] khmakoto opened #10326 "Add slots to IComponent, move away from getSlots"
We should move the `slots` definition into `IComponent` so that they can be passed as a prop to `composed` instead of having to rely on calling `getSlots` on the component views, which seems counter-intuitive.

[2019-08-30 18:14] maxwellred commented on #10320
Actually I was able to focus and select (with spacebar) the checkboxes in both chrome and edge. Is there maybe something in the repro I missed?

![Screen Shot 2019-08-30 at 11 12 27 AM](https://user-images.githubusercontent.com/13246181/64042610-1647c780-cb17-11e9-9ede-3f1741dbf9f1.png)

![Screen Shot 2019-08-30 at 11 12 00 AM](https://user-images.githubusercontent.com/13246181/64042595-07611500-c

[2019-08-30 18:26] lorejoh12 commented on #10323
This is a good feature request. Right now there's no way to customize styles for days that aren't restricted or "today", if the consumer wants to highlight specific days, for example. It also would not be that difficult to add, just have a new prop for onRenderDay that gets passed all the way down.

Are you willing to submit a PR for this? I'm in favor of adding it and it's not changing the defaul

[2019-08-30 18:29] BrianD91 opened #10327 "DetailsList onClick event for each row (sans checkbox)"
#### Describe the feature that you would like added

I want to be able to click on any part of a row of DetailsList component, except for the checkbox on the far left and have it trigger an event.

#### What component or utility would this be added to

DetailsList

#### Have you discussed this feature with our team, and if so, who

No.

#### Additional context/screenshots

Think of this like how m

[2019-08-30 18:32] lorejoh12 commented on #10322
This is a good suggestion that I've been meaning to get to. I actually did add that callback for the WeeklyDayPicker control because it's useful, just haven't gotten around to doing it for Calendar and DatePicker yet. This also isn't too much work to add, because we already have the internal function that gets called, would just need to expose that and test to make sure it's getting called in all

[2019-08-30 19:00] #10249 closed

[2019-08-30 19:00] #10167 closed

[2019-08-30 20:09] maxwellred commented on #10292
Hi @mcdream331 would you be willing to cherry pick these changes in a PR?

[2019-08-30 20:21] maxwellred commented on #10327
@BrianD91 Thank you for the feature request! I'll investigate and get back to you.

[2019-08-30 20:42] #10326 closed

[2019-08-30 22:07] maxwellred commented on #10317
Thanks @cliffkoh I'll reach out to David in regards to this!

[2019-08-30 22:54] matprzybyla commented on #10322
Hi @lorejoh12
Thanks for fast feedback and some inspiration to try.

Added some changes to address this issue on my fork of office-fabric-react.
Here is the PR: https://github.com/OfficeDev/office-ui-fabric-react/pull/10329

This is my first try to contribute here and I got some issues. Was not able to get change file using steps described in Development-Workflow and Setup wiki documents. Will app