[2018-10-22 21:09] gbminnock opened #6794 "CustomizedFabric causing issue for redux store"
Hi,

I am adding redux to my stack but am finding problems with panels in that they say that they are rendered outside of root component. When I examine I see that the particular component is outside of the current tree usually in a
`<CustomizedFabric className="ms-Layer-content cont-97>...</CustomizedFabric> `
component.

Is there a workaround for this?

possible a duplicate of: #5123

tks.

[2018-10-22 21:49] micahgodbolt commented on #6399
i'm certainly a fan of adding public methods that replace the need for custom functionality. seeing as the component already tracks what is selected, being able to retrieve it should be easy enough to add

[2018-10-22 21:51] betrue-final-final commented on #6733
The separation is a specifically visual organization construct. I would continue to read it as one menubar, and the count should include both left and right items.

[2018-10-22 21:57] betrue-final-final commented on #6733
The reason I take this stance is that having two menu bars creates friction for the blind user that a sighted user doesn't get from the visual organization.

[2018-10-22 23:17] JasonGore commented on #6691
In order to help troubleshoot root cause we need some additional information implementation regarding the specific Fabric components used. Can you provide a CodePen that reproduces the issue? Thanks!

[2018-10-22 23:36] caradong opened #6796 "Icon for android"
Could we add an icon for Android? It is a very commonly used icon but fabric does not have one yet.

[2018-10-22 23:57] JasonGore commented on #6727
@realhoffi I took a look at this but I'm not sure how `DatePicker` supports a custom label. I see a hardcoded `Calendar` icon but I'm not sure how you're using a label to replace it. I'm also not sure how the default label exposes a ref as I don't see anything like that.

Could you create a CodePen that shows an example of what you're looking for? An example of one that works (using default) and o

[2018-10-23 00:50] cliffkoh commented on #6796
@Jahnp do you know who can consider such requests?

[2018-10-23 00:52] cliffkoh commented on #6794
What version of Fabric are you using? Latest Fabric Panel uses React Portals.

[2018-10-23 00:55] cliffkoh commented on #6792
Regarding styled-components, see https://github.com/OfficeDev/office-ui-fabric-react/issues/5328.

@dzearing and @JasonGore are driving the story around theming and would be best equipped to answer your question.

[2018-10-23 00:58] cliffkoh commented on #6790
Co-assigning @khmakoto because this might be a good one for him to investigate and work on as well.

[2018-10-23 01:04] eveleens commented on #6576
This bug still exists when you're in the "single" select mode in the DetailsList. A user can't take any action there, but it should still read the column header (checkboxes).

[2018-10-23 01:36] Jahnp commented on #6796
There actually is an icon for Android in the internal version of the Fabric font, but we aren't allowed to redistribute it externally as the copyright does not belong to Microsoft. We have to do the same with all non-Microsoft brands, e.g. Facebook, Twitter, etc.

[2018-10-23 07:13] SibeeshVenu commented on #6379
@PSchicht I am also trying to add a print functionality but it seems to be not working. Do you mind sharing what worked for you? Are you using any custom packages?

[2018-10-23 08:02] rachidaoudi commented on #6399
Alright thanks guys @KevinTCoughlin @micahgodbolt 👍

[2018-10-23 08:13] gbminnock commented on #6794
@cliffkoh
I am using spfx version 1.5.1 (seems to be not released that long). I believe Portals is not supported.

Anyway the versions I have are as follows:

- @microsoft/sp-core-library@1.5.1
- @microsoft/sp-lodash-subset@1.5.1
- @microsoft/sp-office-ui-fabric-core@1.5.1
- @microsoft/sp-webpart-base@1.5.1
- office-ui-fabric-react-bundle@1.5.1
- office-ui-fabric-react@5.83.0
- office-ui-fabric-co

[2018-10-23 09:37] echarles commented on #6792
Thx @cliffkoh, #5328 discussion on the `css-in-js` is very instructive.

Fyi, I made a choice for office-ui-fabric-react 1 year ago based on its widget richness and its typescript support - Very happy about this choice! Now I reevaluating for a toolkit that also brings strong dynamic theming support.

Btw, as a user, when I see people from Microsoft contributing to stardust-ui, I am wondering if M

[2018-10-23 09:44] saini-ankish opened #6800 "Focus going to background elements of "Panel" with scan mode in Narrator"
Can see the **screen shots** here, same issue found in **[Fabric website](https://developer.microsoft.com/en-us/fabric#/components/panel)** itself
![screenshot 2](https://user-images.githubusercontent.com/44394750/47351378-75f26c80-d6d5-11e8-9c2a-da7c17b31c85.png)

**Bug Report**
Package version(s): ">= 6.0.0 < 7"

**Browser and OS versions**: Edge and Windows 10

**Describe the issue:**
Focus goi

[2018-10-23 11:12] veloiya opened #6801 "ChoiceGroup: accessibilty bug for radio button toggle pattern"
### Bug Report

- __Browser and OS versions__: Edge

#### Priorities and help requested (not applicable if asking question):

Products/sites affected: Azure devops

#### Describe the issue:

Application: MicrosoftEdgeCP.exe has the following accessibility issue that needs investigation.

![18c488d7-b0e1-4060-8169-0868c6ce4934](https://user-images.githubusercontent.com/30428533/47356635-472ec300-d6

[2018-10-23 13:51] betrue-final-final commented on #6701
It looks like we now have an underline, because of the change to Link. Is there any way to suppress that here?
![image](https://user-images.githubusercontent.com/20363037/47365115-b4fdcf00-d68f-11e8-8813-2bd7c867307d.png)
Also note that at the small breakpoint the text weight is reduced to 300, which is in effect semilight, and the size doesn't seem to change from 18px.
![image](https://user-image

[2018-10-23 14:08] lampropoi opened #6803 "Moving the mouse outside the dropdown container, the drop down list autoscrolls"
I have a list with many options and I render it by using the `Dropdown` component.

When, I have the drop down list open then scroll down and afterwords hover on the `.ms-Dropdown-title` item or at the bottom of the container, the list auto-scrolls so as any item that is half visible, to be displayed.

There are also times that the list auto-scrolls almost half the options' container height. This

[2018-10-23 14:18] betrue-final-final commented on #6747
Hey, looks good, but these few things:

1. Placeholder looks like it's the wrong color. Should be #605E5C.
 ![image](https://user-images.githubusercontent.com/20363037/47366778-3a36b300-d693-11e8-8a29-eeffb30567e2.png)
2. Border color on hover should be #323130

[2018-10-23 14:32] betrue-final-final commented on #6412
Looks good!

[2018-10-23 14:32] #6412 closed

[2018-10-23 14:34] lampropoi commented on #6803
Cool, I found the solution :D
I had to override the styling of the class `.ms-Callout-main`

Closing the issue!

[2018-10-23 14:39] assafushy opened #6804 "Making a group header a row"
Hi all,
i am implementing groupList  in my app(vsts extension).
is there a way to make the group header, a regular row like the vsts lists.

![image](https://user-images.githubusercontent.com/7502687/47368544-82cd8b00-d6ea-11e8-94e4-5278d1ac95c9.png)

[2018-10-23 14:40] betrue-final-final commented on #6712
This looks good, except is there some way to skooch the thumb a little closer so it looks less uneven on the right or left edge? It might just be the pixels don't work out that way, but checking.
![image](https://user-images.githubusercontent.com/20363037/47368706-f47be980-d696-11e8-9133-3d3a1a84e87c.png)

[2018-10-23 14:45] levithomason commented on #6792
I work with Zearing every week to move Stardust UI and Fabric toward convergence on theming.  What you see in Stardust UI is the collaboration [Semantic UI React](https://github.com/Semantic-Org/Semantic-UI-React) (Semantic) and Fabric to bring about an ideal future component.  One that allows consumers to fully manage state, styles, and accessibility while providing sane defaults.

Stardust UI ai

[2018-10-23 16:12] echarles commented on #6792
Thx for confirmation @levithomason, this is what I interpreted from the outside. I guess going to fabric, semantic... is my solely decision, I am just trying to anticipate what those frameworks will be in a few months once the foundations will have evolved.

[2018-10-23 16:12] petercutting opened #6805 "DetailsList documentation does not mention onRenderItemColumn"
I am looking here
https://developer.microsoft.com/en-us/fabric#/components/detailslist#Implementation

[2018-10-23 16:37] mikewheaton commented on #6712
This is tricky because there is variation between browsers/platforms and so much depends on the resolution of the display. Here's what it looks like for me at 4px and 3px:

![image](https://user-images.githubusercontent.com/1382445/47376323-2b59fb80-d6a7-11e8-8be0-cb722b8cfe16.png)

[2018-10-23 16:52] caradong commented on #6796
@Jahnp are you allowed to point me to it in the Fabric codebase?

[2018-10-23 16:56] caradong commented on #6796
@Jahnp  @cliffkoh I had a quick look, open source project like 'fontawesome' does include android, facebook and all kinds of brands icon. Is there something similar we can do to have those icons? They are used very often and it would be great if fabric can include them.

[2018-10-23 17:22] mikewheaton opened #6806 "ComboBox: Convert to new CSS-in-JS pattern"
**Describe the feature that you would like added**
ComboBox currently uses the `@customizable` decorator, instead of the new `styled` function with a `ComboBox.base.tsx` file. I'm going to convert it to the new pattern so that it can be overridden with the Fluent theme in #6748.

**What component or utility would this be added to**
ComboBox

[2018-10-23 17:35] cliffkoh commented on #6796
@caradong Based on what @Jahnp said, these are not available in our OSS repos. If you're a Microsoft employee, you can contact @Jahnp offline to get access. If not, I do not think there is otherwise anything we can do for you here.

[2018-10-23 17:46] mikewheaton opened #6807 "SpinButton: Fluent experiment"

[2018-10-23 17:47] realhoffi commented on #6727
The DatePicker supports the custom label by using the "label" property of your control :)

<DatePicker
          label="testlabel"
          key={this.props.inputKey}
          showWeekNumbers={true}
          firstDayOfWeek={DayOfWeek.Monday}
          value={this.state.currentValue}
          onSelectDate={this.onSelectKuendigungsdatum}
          formatDate={this.onFormatDate}
        />

[2018-10-23 17:48] mikewheaton opened #6808 "SpinButton: Convert to new CSS-in-JS pattern"
**Describe the feature that you would like added**
SpinButton currently uses the `@customizable` decorator, instead of the new `styled` function with a `SpinButton.base.tsx` file. It needs to be converted to the new pattern so that it can be overridden with the Fluent theme in #6807.

**What component or utility would this be added to**
SpinButton

[2018-10-23 18:04] #6487 closed

[2018-10-23 18:05] JasonGore commented on #6727
It's not, however, exposing a ref, which is what I'm confused on. Again, a CodePen would really help clarify what you're looking for here (and help make sure it gets resolved.) [Here](https://codepen.io/dzearing/pens/public/?grid_type=list) are a bunch of sample CodePens to help. Thanks!

[2018-10-23 18:06] cliffkoh commented on #6805
I see it here:
![image](https://user-images.githubusercontent.com/1003246/47381036-bc36d400-d6b3-11e8-9c53-a6721e2683d7.png)

[2018-10-23 18:09] joschect commented on #6790
@cliffkoh I got this one, I already fixed in 5.0 and I'll fix it here too.

[2018-10-23 18:10] cliffkoh commented on #6794
Yes, you would have to stay with Fabric 5 as SPFX does not support Fabric 6 yet.

Unfortunately, I'm not sure what we can do here in Fabric. Portals is a React 16 feature and there is no way for us to backport this to Fabric 5. The only way would be for SPFX to upgrade to React 16 and adopt/unblock the adoption of Fabric 6.

[2018-10-23 18:11] realhoffi commented on #6727
@JasonGore  i'll try actually codepen :) it's not that simple for the first time ^^

[2018-10-23 18:12] micahgodbolt commented on #6804
If you have access to teams, look for Microsoft UI Fabric team, that's a great place for question as well. 1000+ people in there. Feel free to ping me there if you post the question. I have a few followup questions of my own.

As cliff mentioned, our issue queue is focused on bugs and feature requests.

[2018-10-23 18:17] KevinTCoughlin commented on #5703
@kadevu I'm unable to get this working as you've described in `office-ui-fabric-react@6.1.2`. Here's a Codepen using OUIFR **6.1.2**: https://codepen.io/kevintcoughlin/pen/QZZNRv?editors=1010.

Can you fork that Codepen and add the code you were using to get the tooltip to work `office-ui-fabric-react@6.1.2`? It would greatly help me track-down the regression and understand the default behavior. I

[2018-10-23 18:21] #6804 closed

[2018-10-23 18:46] mikewheaton opened #6809 "MessageBar: Update semantic colors"
### Bug Report
- __Package version(s)__: Latest
- __Browser and OS versions__: All

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: Low

#### Describe the issue:

The MessageBar component uses semantic colors. Currently, these values are [hard-coded in theme.ts](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/styling/src

[2018-10-23 19:32] daweffe opened #6811 "[Checkbox] - key repeat allows rapid update of control"
### Bug Report

- __Package version(s)__: 6.55
- __Browser and OS versions__: all

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: High

Products/sites affected: Planner

#### Describe the issue:

When the checkbox is selected, holding down the enter key results in rapid updates of the control. In Planner, thi

[2018-10-23 19:42] sboyd commented on #5985
I had this issue too, what I ended up having to do was use the office-ui-fabric-react lib that comes bundled with SPFx. It happens to be an older version of the that library too. Unfortunately the release of SPFx 1.6 doesn't support react 16+ so installing office-ui-fabric-react directly via npm will not work.

[2018-10-23 19:44] Vitalius1 commented on #6701
@betrue-final-final
I fixed the underline and the font-weight. But I remember we discussed offline about font-size not changing from 18px after you talked with Christopher. Let me know if this changed as I have the breakpoints in place to make the scaling work.

[2018-10-23 19:53] assafushy commented on #6804
thnks guys....
posted on stackoverflow if you can help i will appricate it:

https://stackoverflow.com/questions/52955902/react-fabric-ui-grouplist-component-getting-the-header-to-look-and-act-like-r

[2018-10-23 20:09] JasonGore commented on #6727
Perfect! That shows the issue perfectly, thanks.

[2018-10-23 20:50] gbminnock commented on #6794
@cliffkof I managed to get it to work by passing the store down via props and then using "ownProps" in mapStateToProps. Bit messy but will do until SPFx upgrade.
Tks.

[2018-10-23 20:50] #6794 closed

[2018-10-23 21:00] dzearing commented on #6811
This looks due to Checkbox rendering using a native `button` rather than `input type='checkbox'`. The `button` default supports rapid fire `onClick` calls, whereas `input` elements do not react to the enter key.

[2018-10-23 21:00] betrue-final-final commented on #6712
3px looks better. Do you agree?

[2018-10-23 21:14] mikewheaton opened #6813 "Buttons: Fluent experiment"
The design is ready in the latest toolkit. I'm putting these two components into one issue because they are treated as variants of a single component by the designers.

[2018-10-23 21:15] mikewheaton opened #6814 "CompoundButton: Fluent experiment"
This design is ready in the latest toolkit.

[2018-10-23 21:16] daweffe commented on #6811
So should I change to input type='checkbox'? We probably still want the enter key to work, just only once per press.

[2018-10-23 21:17] mikewheaton opened #6815 "CommandBarButton: Fluent experiment"
This design is ready in the latest toolkit as "Command Buttons".

[2018-10-23 21:18] mikewheaton opened #6816 "SplitButton: Fluent experiment"
This can be found in the latest toolkit within "Command Buttons".

[2018-10-23 21:18] mikewheaton opened #6817 "IconButton: Fluent experiment"
This can be found in the latest toolkit within "Command Buttons".

[2018-10-23 21:19] mikewheaton opened #6818 "ActionButton: Fluent experiment"
Design is ready in the latest toolkit.

[2018-10-23 21:32] daweffe commented on #6811
Hmm, doing that breaks a lot of behavior we get for free with button.

[2018-10-23 21:45] JasonGore commented on #5635
Sure, here's a method I was able to use with a theme and `Customizer`:
[code]
In the render function:
[code]

[Here is a CodePen](https://codepen.io/jasongore/pen/ReegZa) making use of this theme to make the various backgrounds transparent. I wrapped the whole example in a div with a red background, so if you comment out any of the theme lines or remove the `Customizer`, you can see the non-transp

[2018-10-23 21:46] JasonGore commented on #5635
I'm sorry, I totally missed that this was a Fabric 5 issue until I saw the comment further down below.

[2018-10-23 21:58] JasonGore commented on #5635
The PR referenced above was created against officedev when it was 6.0, however, so I'm a bit confused. @paul-otten is this of any help for your question?

[2018-10-23 22:12] #4892 closed

[2018-10-23 22:38] Xander667 opened #6823 "[A11y] Accessibility Bug on Dropdown in Safari, options are read out followed by "you are currently on a text element, inside of a list box.""
### Please provide a reproduction of the bug in a codepen:

To repo go to the Fabric demo component sites and open any dropdown on Safari with VoiceOver turned on. As you tap up or down and move through the dropdown options wait for the voicerover to read everything.

### Bug Report

- __Package version(s)__: Even the latest I could find.
- __Browser and OS versions__: (fill this out if relevant)

[2018-10-23 22:42] Vitalius1 commented on #6747
@betrue-final-final
The color of the placeholder is correct to be #605E5C. It's just the way you are inspecting will not show you the placeholder as it's part of the Shadow DOM.
![screen shot 2018-10-23 at 3 21 17 pm](https://user-images.githubusercontent.com/29514833/47394323-552b1680-d6d7-11e8-87b0-15e9a548b221.png)

Thanks for catching the borderColor. Fixed in #6824

[2018-10-23 22:48] Jahnp commented on #5469
I will be tackling this next week as part of Fix, Hack, Learn week.

[2018-10-23 22:50] cliffkoh commented on #6801
This does not repro on Keros for Web but I can sort of repro on Keros for Desktop (actually, all the choice groups in the page have the same warning).

It seems to be complaining about the fact that the element has ToggleState property on it, but that is a property that came inherently from it being a `<input type="radio" />`.  This might require some following up as to what, if anything is actual

[2018-10-23 23:00] JasonGore opened #6827 "☂TextField: Issues to consider in converged approach"
## Component Details

The current implementation of `TextField` is complex with the mixing of controlled vs. uncontrolled state logic  as well as the state logic's mixture with view output. In addition, `TextField` has had multiple issues with controlled vs. uncontrolled behavior such as #1350 and #5518, some of which is still present. And fixing issues like #1350 will be perceived as a "breaking"

[2018-10-23 23:02] JasonGore commented on #1350
I've confirmed this is [still an issue](https://codepen.io/jasongore/pen/NOOaQb) and, as mentioned earlier, a resolution to this issue will also be perceived as a breaking change by some. For these reasons I've created #6827 as a resolution and will mark this issue blocked on that one.

[2018-10-23 23:05] cliffkoh commented on #6801
Synced with @aneeshack4. She will be investigating this.

[2018-10-23 23:19] brandonthomas opened #6828 "className prop is duplicated in DOM when applied to CommandBar"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/xyyPRB

### Bug Report

- __Package version(s)__: current

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes if needed

Requested priority: Normal

#### Describe the issue:

If I apply a className on CommandBar it renders the className's application in the DOM to multiple DIVs.
![i

[2018-10-23 23:20] brandonthomas commented on #6487
File the following issue for the duplicate classNames:
https://github.com/OfficeDev/office-ui-fabric-react/issues/6828

[2018-10-23 23:47] paul-otten commented on #5635
This was originally opened when fabric was in 6.0, but the question was to see if we could backport similar functionality to fabric 5. I think we can close this issue though since I have found a work around until we upgrade to fabric 6 soon.

[2018-10-23 23:47] #5635 closed

[2018-10-23 23:50] JasonGore commented on #5635
Ok, thanks for following up. If you could provide a description of your workaround, I think it may be helpful if anybody else is searching for a resolution to this issue and comes across this one. Thanks!

[2018-10-23 23:56] paul-otten commented on #5635
The (fairly hacky) workaround was to create a CSS class that set the background to transparent and apply it to the parent element of the DetailsList. The CSS class was created in a way that it would have a high specificity and would over-write the background for any child elements. I did this by using the !important flag and by using some arbitrary CSS selectors to give it a high enough specificit

[2018-10-24 00:04] TestAccessibilityGIT commented on #6514
Hey Arvind,

Apologies for the delay in response. I've been busy with a couple other tasks on my plate.

Thank you for providing me the recordings - it's clear that how they're reproing on your end. I'm able to repro the HC bug - I was missing the repro step of first navigating using the keyboarding then using mouse but I see it now and I'll work on fixing it.

But I'm still unable to get a repro

[2018-10-24 00:28] KevinTCoughlin commented on #6027
Thanks for the Codepen @hrc7505, that helped me debug this much more easily. In my testing `DetailsList` invokes `onRenderMissingItem` as expected even when the `DetailsList` contains `groups`. Here's an example Codepen demonstrating this behavior: https://codepen.io/kevintcoughlin/pen/Zqqvpg?editors=0010

I believe the bug may be with your implementation of `getGroupList` and perhaps the removal

[2018-10-24 00:34] KevinTCoughlin commented on #6801
FYI @aneeshack4 @cliffkoh I commented on what I _think_ is a related PR earlier today, please see #6785

[2018-10-24 00:36] KevinTCoughlin commented on #6805
Same

[2018-10-24 00:39] KevinTCoughlin commented on #6811
As a workaround is it possible for the implementer to _throttle_ the callback?

[2018-10-24 00:56] changsi-an opened #6830 "Regression in Panel footer button behavior"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/oaapVo
### Bug Report

- __Package version(s)__: 6.70.0
- __Browser and OS versions__: Not relevant

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) High

Products/sites affected: (if applicable) PowerApps

#### Describe

[2018-10-24 00:59] changsi-an commented on #6830
Something I noticed new in 6.70.0 is under `<div class="ms-Panel-main" />` there is also a `<div class="ms-Panel-scrollableContent " />` . In previous version, there was no such element.

[2018-10-24 01:48] #6759 closed

[2018-10-24 02:13] dzearing commented on #6811
Yes @daweffe you should work around this by just debouncing your API call for sure. I'm not sure we should fix the checkbox here; it could potentially break partners.

You're free to use `Async.debounce` in `@uifabric/utilities` to create a debounce callback.

[2018-10-24 02:15] dzearing commented on #6811
It's possible we could change to an `input` but it's pretty risky.

[2018-10-24 04:00] #5860 closed

[2018-10-24 04:51] dzearing commented on #6800
This is a duplicate of https://github.com/OfficeDev/office-ui-fabric-react/issues/6422.

[2018-10-24 05:12] dzearing commented on #6792
One q @echarles: where are you seeing scss fluent work? I'm not aware of active scss work. We do have some work building a set of Fluent customizations. And if you look at PR deploy links, you'll see theme switchers (which aren't exposed on the public doc site.)

As Levi mentioned, we're converging on common theming here. We have 2 different css in js solutions in Fabric and Stardust; we need to e

[2018-10-24 06:19] TestAccessibilityGIT commented on #6514
Hi Aneesha,
Please find inline.

Regards,
Arvind
From: Aneesha Kommineni <Aneesha.Kommineni@microsoft.com>
Sent: Tuesday, October 23, 2018 5:04 PM
To: Arvind Prakash (HCL America Inc) <v-arvpra@microsoft.com>; OfficeDev/office-ui-fabric-react <reply@reply.github.com>; OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Mention <mention@noreply.github.com>; Micah Godbol

[2018-10-24 06:31] KevinTCoughlin commented on #6823
@Xander667 which version of Safari? Perhaps there was a regression with the release of Mojave? If not, strange it would only surface in Safari.

Thank you for the report.

[2018-10-24 06:37] KevinTCoughlin commented on #6830
I can't seem to find a reference to `footerButtons` in code or on the API reference site. Was this a prop we supported?

[2018-10-24 06:48] petercutting commented on #6805
Yes I see it now in FireFox but for some reason its not appearing in Chrome

[2018-10-24 06:48] #6805 closed

[2018-10-24 06:51] cliffkoh commented on #6823
Hi Xander, because behavior of screen readers can vary wildly due to factors completely beyond our control (including bugs/varying behavior between different versions of the same screen reader, as well as with the browser), our commitment in Fabric is that we will be compliant with W3C accessibility standards. We are only able to take action if you can identify a specific way that we are not adher

[2018-10-24 06:52] KevinTCoughlin commented on #6805
If you run into it again please let us know. Perhaps it is a regression in the browser. Chrome `Version 69.0.3497.100` rendered it OK for me.

We appreciate the report @petercutting 👍.

[2018-10-24 07:11] cliffkoh commented on #6803
Hi Lampropoi, I cannot repro the behavior you describe. Could you please provide more information including the browser, operating system as well as providing a GIF which captures the behavior you're seeing?

[2018-10-24 08:03] echarles commented on #6792
I was just referring to the Fluent customizations.

From your inputs, I am not sure if I need to define the variables, build and can not change them, or if I can override live the theme' variables like the stardust ui screenshot at the beginning of this issues. I am looking to the ability to change/build new themes on a programmatic way while the user is browsing, a kind of "mutating themes".

[2018-10-24 08:39] sonimishra opened #6831 "[Screen Reader - Power Apps Admin - Select a template] Narrator in scan mode announcing the incorrect information of the column header associate with the 'Abcd' cell on the table Under Select a template."
### Bug Report

User Experience:
If, the Screen Reader is announcing incorrect information of the column header associated with the cell in a table, then the users who depends upon Screen Reader for navigation in a table might get confuse and does not able to get proper information about the associated column header with the cell.

MAS Ref:
MAS 4.2.3 - Row, Column, and Headers (33C)

Check out Ker

[2018-10-24 09:50] lijunle commented on #3860
Try to repro this issue in newest version: https://codepen.io/lijunle/pen/PyyvJv?editors=0010

This has been fixed. Thanks for @joschect 's https://github.com/OfficeDev/office-ui-fabric-react/pull/5981

[2018-10-24 10:33] realhoffi commented on #6727
no problem )

[2018-10-24 15:20] mikewheaton commented on #6397
Closing this, as the updates will be made in the Fluent theme for issue #6818.

[2018-10-24 15:20] #6397 closed

[2018-10-24 15:31] betrue-final-final commented on #6712
Looks good!

[2018-10-24 15:31] #6712 closed

[2018-10-24 15:37] daweffe commented on #6811
Yeah I could probably do that. It's not great, but I understand how risky this change could be. Could we update documentation to indicate that the onChange callback should be debounced? We could also consider debouncing it here in fabric.

[2018-10-24 15:44] betrue-final-final commented on #6710
Looks good.

[2018-10-24 15:44] #6710 closed

[2018-10-24 15:49] echarles commented on #6792
Just running `npm start` in the `packages/experiment` folder and the Theming section demonstrates what I was expecting for this dynamic/mutating themes. Great work!

[2018-10-24 16:06] dzearing commented on #6792
@echarles not css variables. CSS in JS. You can absolutely change things via code, go here, choose some colors, press the codepen button to see an example.

https://developer.microsoft.com/en-us/fabric#/customizations/colors

We have the architecture to load new themes dynamically.

[2018-10-24 16:16] micahgodbolt commented on #6811
Sorry...jumped the gun on the title rewrite. Should this simply be docs, or do we want to consider adding debounce to the component?

[2018-10-24 16:39] mikewheaton opened #6833 "ActionButton: Add primary variant"
**Describe the feature that you would like added**
The designs for ActionButton call for a Standard and Primary variant, as well as two different sizes of icon:

![image](https://user-images.githubusercontent.com/1382445/47446704-a3402880-d770-11e8-89cc-314d1af257cb.png)

**What component or utility would this be added to**
ActionButton

**Have you discussed this feature with our team, and if so,

[2018-10-24 16:40] msadahiro opened #6834 "onFocus not focusing on Dropdown"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/michaelsadahiro/pen/oaaede

### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)
 Yes
Requested priority: (Blocking, High, Normal, Low)
High

Products/sites affected: (if

[2018-10-24 16:59] Xander667 commented on #6823
@KevinTCoughlin  thanks for the reply. I'm not sure if this is a regression or normal behavior. I am using version 9.1.2 of Safari when I see this.

@cliffkoh  When I debugged the issue I noticed within the dropdown, Button elements are used for the dropdown options. When I change the aria-role on those Buttons from "option" to "listitem" on Safari the secondary description is not longer there.
Wi

[2018-10-24 17:00] #6708 closed

[2018-10-24 17:15] dzearing commented on #1605
Kevin can you take a look when possible?

[2018-10-24 18:14] be5invis commented on #6713
@KevinTCoughlin Well I do want to manually blur a text field, mainly a search box: after you hit "enter", it releases the focus.

[2018-10-24 18:28] changsi-an commented on #6830
And sorry for having "footerButtons" prop mentioned. I got that part wrong.

[2018-10-24 19:10] Vitalius1 opened #6835 "Rating component styles are not in concordance with the toolkit"
### Bug Report

Rating component is out of design specs when it comes to `line-height` and `padding` around the star. The issue was discovered during fluent work

- __Package version(s)__: latest
- __Browser and OS versions__: all

#### Priorities and help requested:

Are you willing to submit a PR to fix? yes

Requested priority: Normal

#### Describe the issue:

When focusing a star the outline

[2018-10-24 19:10] dzearing commented on #6085
@aneeshack4 could you take a look and determine if this is a bug or not?

[2018-10-24 19:49] mikewheaton opened #6837 "Button: Add support for style props/functions"
**Describe the feature that you would like added**
@Vitalius1 and I have been investigating adding button styles to the Fluent theme. These styles need to use colors from the theme palette, which is being applied via a Customizer.

Most components have a `styles` prop of type `IStyleFunctionOrObject<IComponentStyleProps, IComponentStyles>`. This allows us to provide a function to override the comp

[2018-10-24 20:00] #6677 closed

[2018-10-24 20:13] aneeshack4 commented on #6085
@dzearing yup!

[2018-10-24 20:28] JasonGore opened #6838 "CommandBar: Root style section not applied to root component"
### Please provide a reproduction of the bug in a codepen:

This [CodePen](https://codepen.io/jasongore/pen/ePQVoE) highlights the application of className prop and `root` section at different levels, highlighted in the image below.

![cb](https://user-images.githubusercontent.com/26070760/47458926-b44c6200-d78f-11e8-854e-2ed1a0abe138.png)

### Bug Report

- __Package version(s)__: 6.92.0
- __Brow

[2018-10-24 20:32] donschaefer opened #6839 "Local Copy of Fabric Core Styles Not Loading Icons"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/NOEymG

### Bug Report

- __Package version(s)__:
[code]
- __Browser and OS versions__:
(not relevant)

#### Priorities and help requested:

**Are you willing to submit a PR to fix?**
No

**Requested priority:**
Normal

**Products/sites affected:**
Any

#### Describe the issue:

**Preface:**
Ultimately, my goal

[2018-10-24 20:36] micahgodbolt opened #6840 "New Component: Editable Table"
## Component Details

A component for laying our rows of table'like data. In the past devs often reached for DetailsList when all they wanted was to display rows of data/form elements. A Table, TableList, GridList (whatever) component would be a lighter weight list view without all the row selection functionality.

It's possible that this could become an abstraction for the details list, moving al

[2018-10-24 20:57] cliffkoh commented on #6386
There may be reasons for us to use const enums internally. One thing we can do is do what the TS team does - which is using const enum, combined with `preserveEnums`, then scurbbing the .d.ts files as a post-build step of all const enums.

This should be a good way to benefit from const enums without having an adverse impact on our downstream consumers.

[2018-10-24 20:59] #6828 closed

[2018-10-24 21:00] cliffkoh commented on #6839
Hey, is there a reason you're on Fabric 5? Fabric 5 is not being actively worked on and is only being serviced for high priority bugs.

Does this repro if you're on Fabric 6?

Nevertheless, cc-ing @Jahnp as this is an issue with icons.

[2018-10-24 21:07] donschaefer commented on #6839
@cliffkoh - I'm not aware of a specific reason other than to say I'm part of a larger team working on a project that we've been in development on for the larger part of the year & we haven't been in a hurry to introduce potential new variables into the project by switching/upgrading to a new major version. If that ultimately is determined to be the root of the issue though, I'm sure we'll weigh th

[2018-10-24 21:15] davallen opened #6842 "Cant find property on ComboBox to cause menu to open"
I am trying to get the menu to open when user puts focus in the combobox. I see an interface set focus and provide a Boolean to determine if menu should be opened. But looking for some property to set that will cause the menu to open.

[2018-10-24 21:17] JasonGore commented on #5288
`ComboBox._onBlur` seems to have a workaround for this type of issue, duplicated here:

[code]

[2018-10-24 21:37] TestAccessibilityGIT opened #6844 "ChoiceGroup A11y Pass"
Tracking all of the issues brought up with the 10/23 accessibility pass on ChoiceGroup  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B79a468c4-6973-4d37-aa26-0e916c22648d%7D&action=default&uid=%7B79A468C4-6973-4D37-AA26-0E916C22648D%7D&ListItemId=1487&ListId=%7B395E1ECB-500

[2018-10-24 21:39] cliffkoh commented on #6839
Hi @donschaefer, thanks for the info. Just as a general principle, I would encourage trying to see if you can repro the issue if you upgrade to Fabric 6 stack. That is the way for us to be most in a position to help.

Having said that, @Jahnp is the expert here and is best in the position to offer advice, if any, beyond upgrade to Fabric 6.

[2018-10-24 21:46] jeremy-coleman commented on #6776
Please do. You should also look at your lib-commonjs folder, its importing from the lib folder causing duplication and runtime errors. i have to manually delete the lib commonjs folder and manually change main in the pkgjson When using any bundler other than webpack. You also are importing unresolved scss in several components

Imo you should delete all the junk in the core lib and put an actual c

[2018-10-24 22:06] KevinTCoughlin commented on #1605
Should be tracked via #6318 and requires engineering work. It looks like the spec is:

I will expand on Jason's work and see if a solution is possible.

Should be closed by #6843. Will review and confirm.

Keeping this issue open in the meantime.

[2018-10-24 22:29] KevinTCoughlin commented on #6027
Another thanks, as this issue led to adding some basic unit test coverage for the optional `onRenderMissingItem` prop via #6845. 🎉

[2018-10-24 22:37] KevinTCoughlin commented on #6840
We've had a few folks ask for editable cell support [#5329]. Do you think that would align well with this new component?

[2018-10-24 23:52] JasonGore commented on #6392
Ok, I've looked at this for a bit and I think I know what's going on. The `_onBlur` handler is bound to the `Autofill` component, which means it can only trap blur events from that subtree. This subtree does not include the `Callout` component nor any of its elements. That means that `onBlur` events from the `Callout` can't be blocked or filtered as `ComboBox` is currently written.

Additionally,

[2018-10-25 00:00] donschaefer commented on #6839
@cliffkoh the bug/codepen that I provided uses Fabric 6, but I just realized this was probably the wrong place to post it since the root of the bug I was trying to address with this was with Fabric Core rather than Fabric React. It wasn't my intention to use this thread to troubleshoot the issue I've outlined on StackOverflow, but rather to just troubleshoot the specific bug I had experienced when

[2018-10-25 00:43] #6027 closed

[2018-10-25 03:41] cliffkoh commented on #6823
Thanks Xander for the info. I will dig into this shortly and give you an update.

[2018-10-25 03:54] micahgodbolt commented on #6840
not sure if they are the same thing, but editable cells could be built off of this

[2018-10-25 06:00] cliffkoh commented on #6653
Ping @dzearing

[2018-10-25 09:36] amitkumariiit opened #6848 "Narrator announces the ContextualMenu separator"
### Please provide a reproduction of the bug in a codepen:

Please check the developer site for the contextualMenu
https://developer.microsoft.com/en-us/fabric#/components/contextualmenu

### Bug Report

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Low

Products/sites affected: (if applicable)

#### Describe the issue:

The separator of the co

[2018-10-25 11:56] pviotti opened #6849 "Event.target.id for Dropdown onChange callback is inconsistent"
### Bug Report

- __Package version(s)__: 6.92
- __Browser and OS versions__: Chrome, Firefox

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

#### Describe the issue:

I have a Dropdown component and a `handleChange(event, value)` callback associated to the `onChange` event. I expect to be able to retrieve the id of the Dropdown from `ev

[2018-10-25 13:07] jspurlin commented on #6392
Not sure why an onBlur is firing on hover, the autofill should already be focused... In general the autofill needs to continue to have focus when hovering over elements so that the user can continue to type in the input. When the user hovers we keep track of which item is hovered so that the user (if they just hover over an items) can press ENTER and it will select the hovered item.

Having onBlur

[2018-10-25 14:00] #6694 closed

[2018-10-25 16:08] gbminnock commented on #4050
@aditima adding the null entity worked for me in the end allowing me to use infinite scroll  - works extremely well.
tks

[2018-10-25 16:44] JasonGore commented on #6392
Just to clarify, when you click on the scroll bar to scroll items in the `Calout`, it grabs focus from the `Autofill`. Then a hover event over a callout item causes focus to go back to `Autofill`, which fires an `onBlur` event (originating from `Callout`) to the consumer.

The current `_onBlur` can only trap events when `Autofill` loses focus (if the focus moved TO `Callout`) but not when `onBlur`

[2018-10-25 17:18] Xander667 commented on #6823
@cliffkoh  Thank you for the swift investigation and conclusion. I brought your info to my test team and got an exception to get through accessibility.

All the best,
Xander

[2018-10-25 17:18] #6823 closed

[2018-10-25 17:41] KevinTCoughlin commented on #6848
Thanks for the report @amitkumariiit. Do you think the above issue will be resolved if the following from issue #6360 is addressed:

It seems to me that the separator shouldn't receive focus _at all_. So if that is addressed the element should not be announced by Narrator.

[2018-10-25 18:01] #5751 closed

[2018-10-25 18:57] jamesedjac commented on #6600
Has any action been taken on this bug? This seems like a simple fix

[2018-10-25 20:39] KevinTCoughlin commented on #6657
Let's keep this open @uifabric-bot

[2018-10-25 21:16] aneeshack4 commented on #6801
![image](https://user-images.githubusercontent.com/4161791/47530778-694e4f80-d860-11e8-9579-c65e3e5f2f4c.png)
keros test results file type not supported in github comments but above screenshot shows no failures...

[2018-10-25 21:33] JasonGore commented on #6392
I don't think there's a way to keep focus on `Autofill` currently. The way `ComboBox` is architected now I think `Callout` would somehow have to be a child of `Autofill` to make that possible, but I don't think `Autofill` can take children that way... did you have an idea in mind for that?

[2018-10-25 22:16] #6835 closed

[2018-10-25 22:43] KevinTCoughlin commented on #6713
Change was easy enough so I raised a PR #6856 which adds support for programmatic `blur`. Would like to add a unit test prior to merge, but otherwise should fulfill your needs.

[2018-10-25 23:07] jspurlin commented on #6392
Nope, but in my mind I think that the `ComboBox` should be the own driving focus retlated things all up for itself

[2018-10-25 23:33] #6413 closed

[2018-10-25 23:44] KevinTCoughlin commented on #6848
Is there a better way to address this than the following?

1. Add [aria-disabled](https://www.w3.org/TR/wai-aria-1.1/#aria-disabled) to the divider
2. Add `tabindex="-1"` to the divider

[2018-10-25 23:46] KevinTCoughlin commented on #6525
Also related #6469

[2018-10-25 23:52] KevinTCoughlin commented on #6304
@rachidaoudi can you expand on the use-case for this feature a bit more? What sort of interaction are you trying to support that requires persisting the row?

[2018-10-26 00:05] natalieethell commented on #6362
Bug **7** is actually a dropdown bug that's already reported in the dropdown a11y pass as bug 19: https://github.com/OfficeDev/office-ui-fabric-react/issues/6326. I'll cross it out here.

[2018-10-26 00:46] chillwinston opened #6858 "Component Documentation?"
**Describe the feature that you would like added**
I'm not able to see component level documentation of individual components.  Documentation in general seems a little light, including within the code itself.

For example the "docs" directory for Combobox has a sum total of 8 lines of text across 3 files.  I'm frankly confused as to where the documentation either

- Is contained
- Or if it truly h

[2018-10-26 00:56] cliffkoh commented on #6848
I cannot repro if I am not in scan mode, so this looks like a scan mode only issue.

[2018-10-26 01:04] cliffkoh commented on #6848
I'm going to close this as a duplicate of #6360.

[2018-10-26 01:18] cliffkoh commented on #6849
Codepen repro: https://codepen.io/cliffkoh-the-styleful/pen/LgMoPR?editors=0011

[2018-10-26 01:29] cliffkoh commented on #6858
Are you aware of the official website at https://developer.microsoft.com/en-us/fabric which has pretty extensive documentation?

[2018-10-26 02:47] chillwinston commented on #6858
Yes - I did reasonable research before making this feature request.   The core information / documentation I'm after is the React components and their documentation.  The website you reference has a 'components' page here: https://developer.microsoft.com/en-us/fabric#/components.    This has a few short code examples of components but no documentation of the level I reference above for Windows For

[2018-10-26 02:51] cliffkoh commented on #6848
Adding this to Fabric shield since it seems like a pretty low-hanging fruit to add `aria-hidden` on the separator...

cc: @aneeshack4 @JasonGore @cschlechty

[2018-10-26 02:56] cliffkoh commented on #6858
Hmm.. I'm genuinely confused. https://developer.microsoft.com/en-us/fabric#/components/button

How is this documentation not of the level of the comparable "Button" class in Win forms: https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.button?view=netframework-4.7.2

Note that all the examples come with complete code examples as well, and are interactive.

All properties are document

[2018-10-26 02:57] cliffkoh commented on #6858
Could you clarify what is it exactly you find lacking? What is the information you're looking for that is missing?

[2018-10-26 03:47] #6834 closed

[2018-10-26 04:55] veloiya commented on #6801
I can still see the error on https://developer.microsoft.com/en-us/fabric#/components/choicegroup.
It shows the error for all the choiceGroups on the page on running test for entire app by Shift+F8.
![image](https://user-images.githubusercontent.com/30428533/47545344-6f4c3b00-d909-11e8-9b45-5243ca5a69ed.png)

[2018-10-26 06:37] echarles commented on #6792
Closing, answers have been provided. Thx!

[2018-10-26 06:37] #6792 closed

[2018-10-26 06:54] cliffkoh commented on #6831
Thanks, I am able to repro this issue.

[2018-10-26 07:11] cliffkoh commented on #6831
Although I can repro the issue, I was not able to identify what was incorrect with the DetailsList.

![image](https://user-images.githubusercontent.com/1003246/47550205-5ca71700-d8b3-11e8-8460-3f543cafda7e.png)

Despite seemingly correct markup, it reads the column header as "Value" instead. Is this potentially a Narrator bug?

A secondary shield might want to validate the my triage to see if I mi

[2018-10-26 07:18] cliffkoh commented on #6637
I am able to repro this. Closing in favor of #6525. Thanks Eveleens.

[2018-10-26 07:44] #6637 closed

[2018-10-26 07:47] cliffkoh commented on #6525
It is actually possible to reach the checkbox via scan mode, and in this case the toggle of the state does read the change in state, in Narrator.

[2018-10-26 07:51] cliffkoh commented on #6525
@KevinTCoughlin Actually, I think we want `aria-checked` instead. Putting `aria-checked` on the row (in addition to the checkbox) seems like it would work and would be reasonable given that when not in scan mode, keyboarding would have you move up and down the rows.

[2018-10-26 07:51] cliffkoh commented on #6637
I added some investigation notes to #6525.

[2018-10-26 08:15] joerneu commented on #6657
@micahgodbolt : Yes, being able to replace "contentInner" is a good idea. This would enable getting rid of the CSS-"Hacks" from my Codepen sample.

I believe there was another issue where it was discussed if the Panel Header or Footer should scroll as well. My answer would be "It depends" and having a blank Panel would give the choice to the developer if required. Perfect!

(Sorry for the late rep

[2018-10-26 10:13] sonimishra opened #6860 "[Functional- Power Apps Admin - Table] No horizontal scroll bar is present to scroll page horizontally with mouse on DATA integration screen."
### Bug Report

User Experience:
Mouse user will not be able to scroll horizontally if there is no horizontal scroll bar present. Hence mouse user will not be able to access complete information on the table.

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)  Blocking

Products/sites affected: (if applicable)

[2018-10-26 10:28] sonimishra opened #6862 "[Usable - Power Apps Admin - Project Tab - Context Menu - Save as Template] Under Save Project as Template, Narrator is announcing the value information twice on Template name edit box."
### Bug Report
 User Experience:
If, the narrator announcing the information of any value twice on edit box then the users who depends upon narrator will get confuse and does not able to perform its function properly on the edit box.
- __Browser and OS versions__: (fill this out if relevant)
Test Environment:
OS version: Version 1803 (OS build 17134. 228)
Browser: Edge
Screen Reader: Narrator

 ##

[2018-10-26 10:35] sonimishra opened #6863 "[Functional- PowerApps Admin- Scheduling]: Calendar pop-up gets open after pressing tab key on Frequency unit control under 'Recur every' screen"
### Bug Report

User Experience:
User's will be impacted if application does not perform its functionality properly. If,calendar pop-up gets open after pressing tab key this would be confusing for screen reader user also.

- __Browser and OS versions__: (fill this out if relevant

Test Environment:
OS version: Version 1803 (OS build 17134.228)
Browser: Edge, Chrome

#### Priorities and help reques

[2018-10-26 10:37] pablonete opened #6864 "Chrome android: keyboard focus in Callout causes scroll from keyboard, which dismisses Callouts"
### Codepen

https://codepen.io/pablonete/pen/zmeBRR?editors=0010

### Bug Report

We have a dropdown list with a filter input inside the callout. When used in Chrome for Android, clicking on the TextField makes the on-screen keyboard to show up, which in turn dismisses the callout. So the dropdown is unable to use.
- __Package version(s)__: Latest
- __Browser and OS versions__: Chrome on Android

[2018-10-26 13:59] dzearing commented on #6655
Sorry for the slow response; yes `data-is-scrollable` is a performance optimization to look for the scrollable parent. Otherwise we'd have to getComputedStyle to figure this out, which is really slow. I'll see about adding some content to List documentation.

[2018-10-26 14:14] dzearing commented on #6655
Updated the readme.

[2018-10-26 14:52] bva999 commented on #4050
@gbminnock  what you mean "adding the null entity"? could you show your sample code please?

[2018-10-26 15:29] rachidaoudi commented on #6304
@KevinTCoughlin I've put the details lists in some tabs (not Pivot) that persist their content ( they set display to none instead of not rendering at all ), so when I navigate between the tabs, the content should already be there, the user sees an empty table for a second (or even a couple seconds in case of big data) which is bad for UX, it seems to the users that  there is a network request each

[2018-10-26 16:18] mikewheaton opened #6867 "DefaultButton: Styles don't apply correctly when 'primary' prop is used"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: All

#### Priorities and help requested:

Are you willing to submit a PR to fix? Maybe

Requested priority: Normal

Products/sites affected: Fluent theme

#### Describe the issue:

In the examples we create a primary button like so:

[code]

This usually gives the same result as using the `PrimaryButton` component. How

[2018-10-26 16:45] petewu100 opened #6868 "Windows Narrator says that the Checkbox selection state has changed when visually the checkbox state doesn't change - should use <input> with type=checkbox"
Bug Report
Package version(s):
6.21.0
Browser and OS versions:
Windows server 2016: Version 1607 OS Build 1493.2339
Internet Explorer 11: Version 11.2239.14393.0

Priorities and help requested:

Are you willing to submit a PR to fix?
Yes

Requested priority:
High

Describe the issue:
Windows narrator will not say whether or not the color is selected when selecting the color.

Reproduction steps:
1

[2018-10-26 17:01] mikewheaton commented on #6837
I've run into this issue again for `CompoundButton`, where I want to apply styles specific to the case where the `primary` prop is `true`. My workaround for now is to use selectors to target the modified class name, but we should have a way to do this without targeting class names.

Here's a repro: https://codesandbox.io/s/n079nl6vl0

[2018-10-26 17:23] mikewheaton opened #6869 "MergeStyles: Selectors are not being merged"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: All

#### Priorities and help requested:

Are you willing to submit a PR to fix? Maybe

Requested priority: Normal

Products/sites affected: Fluent theme

#### Describe the issue:

I'm using `getFocusStyle` within a theme to set a custom focus inset for CompoundButton:
[code]

As expected, this produces a focus style w

[2018-10-26 17:30] mikewheaton commented on #6869
Actually, maybe this is expected.

`...getFocusStyle` is producing a `selectors` identifier, and it's not valid to have two identical identifiers in an object. So of course the second one replaces the first! Here's a [CodeSandbox showing that](https://codesandbox.io/s/1o999jynx3).

[2018-10-26 17:31] #6869 closed

[2018-10-26 17:32] KevinTCoughlin commented on #4050
I believe this is a reference to a workaround mentioned by @aditima above

So it seems that the suggestion is to push a `null` value onto the Array of items.

[2018-10-26 18:28] cliffkoh commented on #6867
Assigning to @dzearing as he most recently took stock of the state of the buttons and rewrote buttons in experiments.

[2018-10-26 19:00] #6655 closed

[2018-10-26 19:15] cliffkoh commented on #6868
The suggestion from @petewu100 is to change the implementation of Checkbox to utilize HTML `input` instead of a `button`.

[2018-10-26 19:17] KevinTCoughlin commented on #6416
Thanks for the detailed report @Nimelrian. I was able to modify your Codepen to avoid this bug, by applying the following diff:

[code]

Here's a Codepen showing the removal of the above prop and the behavior working as expected: https://codepen.io/kevintcoughlin/pen/NOoPZB. The `selectionMode` is still configured via prop on `DetailsList` so single selection mode is maintained.

Though the prop i

[2018-10-26 19:29] cliffkoh opened #6872 "Checkbox: Refactor to use <input>"
Checkbox uses a `<button>` for its underlying implementation atm which causes a bunch of subtle quirks.

### Known issues:
* There is #6868 and #5425 (accessibility and buggy behavior in IE 11)
* There has been complaints where hitting enter on the checkbox causes the checkbox to toggle on and off repeatedly (which is not the expected behavior of a checkbox) #6811
* There are other differences in

[2018-10-26 19:31] cliffkoh commented on #6868
Hi @petewu100, I'm not sure when or why Fabric started to use `<button>` instead of using `<input>`, but from what I gathered, there are significant challenges to using `<input>` and making it look correct.

Roughly:
* Styling options are supposedly really limited on input
* Styling focus border to look right when it is an input, and ensuring it is correct in high contrast mode as well.

I've open

[2018-10-26 20:36] cliffkoh commented on #6864
I was unable to repro on devices running Android 7 and Android 8 (I believe it was a Motorola and a Samsung Galaxy).

Could you please test on a few other devices and provide some information on how widespread you think this problem is?

[2018-10-26 21:01] amygl opened #6873 "Calendar - "Go to Today" button doesn't do anything when on current month"
### Environment Information

Repro:
https://fabricweb.z5.web.core.windows.net/oufr/6.93.0/#/examples/calendar

#### Actual behavior:

If on a different month the "Go to Today" button will navigate calendar to current month. But if on the month that contains today, clicking the button will do nothing.

This came up during an accessibility test pass. Narrator announces the "Go to Today" as a button

[2018-10-26 21:58] betrue-final-final commented on #6701
Nice work.

[2018-10-26 21:58] #6701 closed

[2018-10-26 22:44] xyz92 opened #6875 "Blur UI on showing spinner"
When a panel is open, the focus will be on the panel. The remaining UI outside the panel gets blurred. Similarly, if I need to show a spinner on the page, how do I keep the UI except spinner blurred?
Please let me know. Thanks! (Posting here as I didn't get a response to my Stack Overflow Question. Apologize for any inconvenience.)

[2018-10-26 23:33] #6848 closed

[2018-10-26 23:34] #6727 closed

[2018-10-26 23:41] JasonGore commented on #6727
The PR has been merged, so [this CodePen](https://codepen.io/jasongore/pen/GYwved?editors=1010) should start working after the next release after 6.93.0. I wanted to provide an example to show that when you specify `htmlFor` you have to append `-label` to whatever `id` you pass in to `DatePicker`.

[2018-10-27 02:54] cliffkoh commented on #6875
@xyz92 Unfortunately we're really unable to help with questions like yours. We try our best and even then, we're barely able to keep up with all the incoming bug reports and pull requests. Your question in particular seem to be asking how you might accomplish something in React that is not innately part of our component feature set as well.

Stack Overflow is likely your best resource for getting

[2018-10-27 02:54] #6875 closed

[2018-10-27 09:31] Rafaelki opened #6877 "Slider step calculation is wrong"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/rafaelki/pen/QZoWRG

#### Actual behavior:

Min, Max and Step values being ignored when Step is not is not a multiple of Max, even if Step is multiple of (Max - Min).

In the codepen example, the attributes are Min=18, Max=48, Step=10 but the control renders a minimum of 20 (thumb is not in the left border) and maximum

[2018-10-27 18:00] #5917 closed

[2018-10-27 21:00] #6770 closed

[2018-10-27 22:00] #5992 closed

[2018-10-27 23:49] chillwinston commented on #6858
Somehow I've managed to miss the contents of the documentation you mention, which actually seems quite good, hence this request can be closed with my apologies.

That being said - I'm used to in-editor support for method signatures and these simply aren't arriving with either VS Code or Visual Studio 2017.  VS Code seems to have better support in general for Fabric.

The issue relates to the Visua

[2018-10-28 08:25] ravikiranvs opened #6878 "DetailList: isCollapsable is not working"
### Environment Information
- __Package version(s)__: 6.92.0
- __Browser and OS versions__: Chrome 69, Windows 10

### Please provide a reproduction of the bug in a codepen:
[Codepen Link ](https://codepen.io/ravikiranvs-the-typescripter/pen/jeJZMv)

#### Actual behavior:

Columns marked `isCollapsable=false` are not seen while columns marked `isCollapsable=true` are seen

#### Expected behavior:

[2018-10-29 08:03] pablonete commented on #6864
Thank you @cliffkoh. Discussed with @micahgodbolt it seems to be caused by custom Android keyboards. I confirmed the bug in my Huaway P8 with both SwiftKey and GBoard. I couldn't find a way to test with the built-in keyboard.

[2018-10-29 09:52] veloiya opened #6880 "Narrator does not announce choice group is selected on navigating using Caps and arrow key"
### Environment Information

- __Browser and OS versions__: Edge + narrator

#### Actual behavior:
1. Go to https://developer.microsoft.com/en-us/fabric#/components/choicegroup.
2. Navigate to an unselected choice group with Caps + arrow keys.
3. Select the choice group with Caps + Enter.

Narrator does not announce that the choice group is selected.

#### Expected behavior:

Narrator should annou

[2018-10-29 10:38] amitkumariiit commented on #6848
thanks @KevinTCoughlin for taking taking bug. I see that the fix is merged.

[2018-10-29 10:40] abdulkhaliquem9 commented on #3011
Please update this in documentation, As the onChange is not working for controlled Dropdown for "office-ui-fabric-react": "^6.27.0",.
I am making use of the deprecated  onChanged() callback currently. It is working fine.

[2018-10-29 13:04] vbjay commented on #6864
https://developercommunity.visualstudio.com/content/problem/341264/mobile-repository-dropdown.html.

I raised this issue and the codepen does not exhibit the issue in that issue. I can try altering it to make it happen.

[2018-10-29 16:15] #6713 closed

[2018-10-29 17:10] cliffkoh commented on #6858
Hi @chillwinston, are you using the same version of Fabric that corresponds to the website? If an entire method is missing, you likely are using an older version.

Are you doing development within SPFx?

[2018-10-29 17:14] cliffkoh commented on #6864
Hi @pablonete, like @vbjay, I am unable to repro on with the SwiftKey keyboard either.

[2018-10-29 17:16] micahgodbolt commented on #6860
@sonimishra can you ping me in teams? my Alias is mgodbolt.

[2018-10-29 17:42] KevinTCoughlin commented on #6525
Regarding this approach, I'm unsure that `aria-checked` will be valid given the row's `role="row"`.

Characteristic | Value
-- | --
Used in Roles | checkbox option radio switch
Inherits into Roles: | menuitemcheckbox menuitemradio treeitem
Value: | tristate

https://www.w3.org/TR/wai-aria-1.1/#aria-checked

[2018-10-29 17:52] #6747 closed

[2018-10-29 18:33] JasonGore commented on #6880
The behavior appears to be the following:
1. When using `CAPS + arrow` navigation, elements are announced both when radio button and text are highlighted.
2. When hitting `CAPS + enter`, you here a selected tone, but no announcement of selected or unselected.

However, I've also found [several](https://www.w3.org/TR/wai-aria-practices/examples/radio/radio-2/radio-2.html) [examples](https://www.w3.

[2018-10-29 18:33] #6880 closed

[2018-10-29 20:38] micahgodbolt commented on #6875
If you are able to create a codepen to repro your situation, you'll probably get a better response. I'm not following very well.

[2018-10-29 21:30] JasonGore commented on #6878
It appears the issue here is when `isCollapsable=true` columns appear before `isCollapsable=false` columns.  Columns marked `isCollapsible` in this case never appear to collapse, causing `isCollapsible=false` columns to eventually be hidden offscreen. Meanwhile `isCollapsable=true` columns marked to the right of `isCollapsable=false` columns will collapse as expected.

This can be seen by [tweakin

[2018-10-29 21:49] JasonGore commented on #6877
Well, that certainly was easy to repro, thanks for the CodePen!

[2018-10-29 22:03] natalieethell opened #6882 "Calendar: Update Example Descriptions"
Update the Calendar example descriptions to account for the addition of the year picker in this PR: https://github.com/OfficeDev/office-ui-fabric-react/pull/6725.

Perhaps something like the following:

a. Inline Calendar with month picker and with overlaid year picker when month header is clicked
b. Inline Calendar with week selection and with overlaid year picker when month header is clicked
c.

[2018-10-29 23:30] khmakoto commented on #6294
@KevinTCoughlin tracking it down in the debugger, I see that `child.type` evaluates to a `PivotItem` function and PivotItemType does the same thing. Actually, adding `toString()` at the end of both fixes the rendering issue.

Judging from this, it appears they are referencing two different equivalent functions, which evaluates to false in JavaScript. Do you have any idea why this may be happening?

[2018-10-29 23:47] KevinTCoughlin commented on #6525
_Still_ debugging the root cause. I noticed two issues while debugging this today:

1. The Narrator read-out can fall out-of-sync with the UI re: `aria-selected` state. I'm still not sure what the exact steps are. Howeverful, a few times I was able to multi-select, then unselect individual items, and Narrator would read-out the inverse of their correct state.
2. Narrator reads out `aria-selected`

[2018-10-30 00:12] dagoff opened #6888 "Panel shadows are shorter than the panel itself"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

You can see this just by going to https://developer.microsoft.com/en-us/fabric#/components/panel

#### Actual behavior:

The box-shadow is: -30px 0px 30px -30px

The -30px on the end is making it too short, I

[2018-10-30 05:51] BrendanMcK opened #6891 "Invalid aria-role nesting in picker"
### Environment Information

- __Package version(s)__: (fill this out) 6.86.0
- __Browser and OS versions__: (fill this out if relevant) n/a

#### Actual behavior:

Inspect the structure of any of the [first two Topic pickers in the Fabric docs page](https://developer.microsoft.com/en-us/fabric#/components/pickers):

* One element is a `div` with `role=list`
* This has a child `input` with `role=c

[2018-10-30 07:25] sulabh-msft opened #6892 "Dropdown: Narrator does not announces the Role of the Combo box in Fabric Dropdown component"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:
 Bug Description:
Check out Keros! - Identify accessibility bugs before check-in and make bug fixing faster and easier.

#### Repro Steps:
1. Launch application using above URL. (https://fabricweb.z5.web.core.w

[2018-10-30 08:12] sonimishra commented on #6860
+Prateek

From: Micah Godbolt <notifications@github.com>
Sent: Monday, October 29, 2018 10:50 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Soni Mishra (HCL America Inc) <v-misoni@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] [Functional- Power Apps Admin - Table] No horizontal scroll bar is present to

[2018-10-30 09:31] hrc7505 commented on #6546
I am facing the same issue. A detailslist working fine with chrome but in edge and firefox it is getting the horizontal scrollbar.

[2018-10-30 11:12] NZainchkovskiy commented on #5929
Any updates on this and related issues?
Combobox is broken in many scenarios, and it's lasting a few months now.
This component is not supported any more?

[2018-10-30 15:06] micahgodbolt opened #6893 "New Component: Carousel"
## Component Details

A placeholder for details and discussion around a carousel component.

### Imports

### Exports/ Component Breakdown

### Intended Package

### Code mockup/example

__Code Sample__

[code]

__Types__

| Name      | Type     | Default Value | Description |
|-----------|----------|---------------|-------------|
| className | string   |               | Optional class name to be

[2018-10-30 16:18] cliffkoh commented on #6888
Looks really straightforward :)

[2018-10-30 16:31] JasonGore commented on #6891
This bug can also be verified by running accessibility checkers against the provided link.

[2018-10-30 16:46] martellaj opened #6894 "[Pivot] Log warning, throw error, and/or add documentation that Pivot children must be PivotItem"
#### Actual behavior:

If `Pivot`'s children aren't of type `PivotItem`, nothing is rendered. There's no warning or explanation in the console, and no note about this requirement in the docs.

#### Expected behavior:

I'm not arguing the requirement that `Pivot`'s children must be of type `PivotItem`, but some documentation or warning (preferably warning in the console) can go a long way here. A c

[2018-10-30 16:59] micahgodbolt commented on #6888
@betrue-final-final do you have any background on why this specific shadow was chosen?

[2018-10-30 17:06] JasonGore commented on #5929
We need to revisit ComboBox holistically as there are numerous issues with it combined with the context of #5205, so I'll mark this blocked for now.

[2018-10-30 17:21] Jahnp commented on #5292
@LeonidasFettikus checking in here, are you still seeing this issue?

[2018-10-30 17:44] JasonGore commented on #6888
Just confirmed with @betrue-final-final that this wasn't intentional. It's ok to make this fix assuming Panel can continue to be overridden by styles functions.

[2018-10-30 17:54] khmakoto commented on #6294
@v-sosah Can you confirm if this is still happening? I cannot repro it anymore when using the latest office-ui-fabric-react version.

[2018-10-30 17:58] micahgodbolt opened #6898 "Add onItemClick to ComboBox"
Teams has a request to be able to evoke a callback when an item is clicked, regardless of if the selected value actually changes (onChange only fires if value changes).

An onItemClick would allow user to add callback to any click on the menu, and even disable the default behavior under particular conditions.

**What component or utility would this be added to**

ComboBox

**Have you discussed thi

[2018-10-30 18:09] JasonGore commented on #6894
I think this is a reasonable request. We don't typically throw in cases like these, but I think it's ok to log a warning and update the documentation. Could possibly be addressed alongside the fix for #6294.

[2018-10-30 18:09] dzearing commented on #6753
This looks by design.

[2018-10-30 18:16] JasonGore commented on #6806
In light of #5205, consider merging ComboBox and Dropdown to resolve this issue.

[2018-10-30 18:31] #6882 closed

[2018-10-30 18:33] JasonGore commented on #6892
I'm going to mark this as a dupe of #6326 and have added a reference to this issue there.

[2018-10-30 18:33] #6892 closed

[2018-10-30 18:43] aneeshack4 commented on #6801
(deleted keros screenshots bc it's not public yet)

[2018-10-30 19:01] #6786 closed

[2018-10-30 19:55] Vitalius1 commented on #6808
Adding to the pile of conversion some other issues I noticed when I fuentized the component in #6890:

This one is odd too, as it's also present in the default styles and decided not to risk breaking an edge case this calc was possibly introduced in the first place.

Personally, I consider the default styles badly need some refactoring for a couple reasons:

1. There almost no className hooks for

[2018-10-30 20:03] martellaj commented on #6894
@JasonGore That'd be awesome! Thank you, Jason.

[2018-10-30 20:13] micahgodbolt commented on #6693
Spoke with author today, and they said they were working on codepen repros for this and other related bugs.

[2018-10-30 21:43] khmakoto commented on #6294
@v-sosah can you try reproducing the bug using the latest version of Fabric? I was able to repro it at the beginning using the example @Vitalius1 kindly gave us. However, when using the latest version of Fabric I couldn't repro it anymore. For reference, [THIS](https://github.com/khmakoto/react-hot-loader-bugrepro) is the same example @Vitalius1 provided while using the latest version.

[2018-10-30 21:48] RituChawla opened #6902 "DetailsList- Nested Detail List possible?"
I need to create a nested Detail List Ui for the following scenario:

Detail List 1 items- product name, product price, product rating

Detail List2 items - for each product in first DetailList, on click of the row, show product feedback title and feedback description, on the next row

- product 1 ( on click expand rows for feedback)
- product 1 feedback 1
- product 1 feedback 2

- product 2
- pro

[2018-10-30 21:51] natalieethell commented on #6605
Hey thanks for submitting this issue @mowei8! Digging into this, I found something interesting. When the `multiSelect` prop is set to true, "disabled" is read out by the screen reader. When it's not set, it defaults to false and "disabled" is not read out. I'm going to investigate this more.

[2018-10-30 21:53] micahgodbolt opened #6903 "Package Organization: Experiments, Pre Releases, Alpha Release etc"
We want to make it 100% clear to our users if the component they are taking a dependency on is API locked and will have no breaking changes within major releases.

## Current Situation

We currently have these 4 component packages, and their associated versions

- OUFR 6.95.0

Our main package states in the readme that we follow semantic versioning and won't break existing functionality without a

[2018-10-30 21:58] JasonGore commented on #6653
@ipip2005 I'm curious about one thing: if you don't know which components will be added by developers to property pane, how can you reach in even further to select a particular child of it (in this case a specific ChoiceGroup)? If you can select an element of the ChoiceGroup , can't you select the ChoiceGroup parent itself?

[2018-10-30 22:05] mikewheaton opened #6904 "Fluent: Depth 64 uses incorrect colors"
This line has an issue: https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/fluent-theme/src/fluent/FluentDepths.ts#L6

The opacity of the shadows for Depth64 should match that of the others.

[2018-10-30 22:07] mikewheaton commented on #6753
@betrue-final-final had said that the text (e.g. On/Off) _should_ be a hit target, so we have a bug here.

[2018-10-30 22:50] chuanqisun commented on #6904
Thank you Mike for opening this up. I just noticed **both** layers of the depth 64 shadow are using a different opacity. `rgba(0, 0, 0, 0.22)` and `rgba(0, 0, 0, 0.18)`, instead of `rgba(0, 0, 0, 0.132)` and `rgba(0, 0, 0, 0.108)`. Maybe it was intentional, maybe not. I'm really curious about the design behind.

[2018-10-30 23:14] betrue-final-final commented on #6904
Actually this is by design. There's a ramp up of opacity 32px and up.

[2018-10-30 23:14] #6904 closed

[2018-10-30 23:14] natalieethell commented on #6605
It looks like `aria-activedescendant` may be the culprit here.

[2018-10-30 23:18] JasonGore opened #6905 "Type Safety: `defaultProps` and Non-null Assertion Operator Usage"
#### Describe the issue:

DefinitelyTyped does not recognize `defaultProps` as ensuring that optional properties have guaranteed values. As a result, Fabric developers have to use the non-null assertion operator (e.g. the `!` in `step!.toString()` on these properties. The concern is that the use of the non-null assertion operator creates a fragile binding and potentially insidious source of bugs i

[2018-10-30 23:34] natenovielli opened #6907 "Persona - Descenders are clipped on size28 32 40"
### Environment Information

- __Package version(s)__: 6.74.0
- __Browser and OS versions__: Firefox and Edge on Windows 10.  Chrome at certain DPIs

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

In the Persona component, when secondary text is shown, the primary text character descenders are clipped on size 28, 32, and 40.  Repros on latest Firefox and Edge, a

[2018-10-30 23:49] JasonGore commented on #6902
There may be two possible options here:
1. [Custom Group Headers example](https://developer.microsoft.com/en-us/fabric#/components/detailslist/customgroupheaders) supports headers that may be useful for product info
1. [GroupedList](https://developer.microsoft.com/en-us/fabric#/components/groupedlist) may also be of use here

Can you take a look and let me know if either of these look like a good

[2018-10-31 00:39] martellaj opened #6910 "Misspelled ARIA label in DatePicker component"
Source: https://github.com/OfficeDev/office-ui-fabric-react/blob/a955641b06159f6a3e3113019d1d9cb70bfd2935/packages/office-ui-fabric-react/src/components/DatePicker/DatePicker.base.tsx#L65

Expected: "Calendar"

Actual: "Calender"

[2018-10-31 01:01] hemao612 commented on #1814
i meet the same problem, are there any solution now?

[2018-10-31 04:33] micahgodbolt commented on #5615
@natalieethell can you update this issue with the current status of this component?

[2018-10-31 05:49] Jahnp commented on #6893
This is great! Thanks for getting this started, @micahgodbolt! I'm happy to help push this along here.

[2018-10-31 05:53] KevinTCoughlin commented on #6898
Ack!

[2018-10-31 10:50] pablonete commented on #6864
I have a consistent repro on my Huawai P8 Lite with custom layer EMUI 8.0 on Android 8.0. I click on Show callout, then when I click on any of the 2 inputs, callout quickly dismisses. These are the 2 events that I'm seeing in quick sequence, both firing through onDismiss, see updated codepen.

[code]

It seems we have a window resize, and then focus is set to the page button. Does it make sense?

[2018-10-31 11:23] vbjay commented on #6864
When I click button on codepen and tap text field keyboard shows and
drop-down does not hide. I have to tap in page to hide the keyboard. This
is what I see in the log when I do so.

The difference I see is on the devops site the keyboard shows as soon as I
drop down the repo select.

Events
{
".ctor": "MouseEvent",
"isTrusted": true,
"screenX": 255,
"screenY": 451,
"clientX": 510,
"clientY": 33,

[2018-10-31 11:30] pablonete commented on #6864
Thanks @vbjay. You may want to try autofocus={true} on TextField or input, I left it out because it's not needed for my minimal repro.
It seems clear to me that showing the keyboard is resizing the viewport in some cases, and this resize event hides the popup.

[2018-10-31 12:01] Rafaelki opened #6914 "Use Grid to lay out swatch color picker"
#### Actual behavior:

The buttons are wrapped in a table element. **Tables should not be used for layout.**

![image](https://user-images.githubusercontent.com/24438807/47786681-6e9a1700-dd04-11e8-9b7f-64bdf991bc44.png)

#### Expected behavior:

The markup could be for example a div using flex or grid display.

#### Priorities and help requested:

Requested priority: Low

[2018-10-31 13:41] micahgodbolt commented on #6898
Yeah....I thought we solved the linting issue last week. Wasn't sure if it was an issue with my new dev setup, or needing to build certain projects or what.

[2018-10-31 14:52] shivam-dev opened #6915 "Unable to apply fluent theme & typography"
I am not able to apply fluent theme with office fabric as code below.

Fluent theme is not working for me.

[code]

[2018-10-31 15:20] micahgodbolt commented on #6915
Can you put this into a codepen so that we can fork and attempt to resolve?

aka.ms/fabricpen

[2018-10-31 15:25] micahgodbolt commented on #6914
Grid support in IE11 is a little rough. It'd take a lot of code to layout an indefinitely large list of swatches. Maybe if we finish the #5418 we'd be able to apply a grid system that was grid support aware.

I agree though that this isn't tabular data and a style refactor wouldn't hurt.

[2018-10-31 15:26] micahgodbolt commented on #6914
@betrue-final-final do you have any background on why a table was used here? Should we consider this a bug?

[2018-10-31 15:28] micahgodbolt commented on #6837
This issue is already part of the button refactor that @dzearing is working on. #6134

[2018-10-31 15:28] #6837 closed

[2018-10-31 15:30] micahgodbolt commented on #1329
This appears to be done. If it is not, tell me and I'll reopen.

[2018-10-31 15:30] #1329 closed

[2018-10-31 15:41] betrue-final-final commented on #6914
I have no idea what they did in code, but a grid like this should be navigated via arrows.

[2018-10-31 16:12] Markionium commented on #1329
@micahgodbolt This is done. We are using this feature and it works fine :)

[2018-10-31 16:14] JasonGore commented on #6915
I thought it'd be a good idea to set up CodePen using the new `fluent-theme` package, so I [created one](https://codepen.io/jasongore/pen/mzZoZX). As you can see here, `FluentCustomizations` are applying as expected.

If you replace `Main` with a `Toggle` as I have in the CodePen above, you should see the customizations applying. In the code you pasted, I suspect the issue may be some other stylin

[2018-10-31 16:14] #6915 closed

[2018-10-31 16:46] msadahiro opened #6916 "Dropdown on re-rendering correct new items."
### Environment Information

- __Package version(s)__: 6.93.0
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/michaelsadahiro/pen/oaRVqW

#### Actual behavior:

In the CodePen, when we add a user, we are adding the user at the BEGINNING of the array. We are giving the new user a random default key. When we a

[2018-10-31 17:54] JasonGore commented on #6873
This bug needs action but we need to determine whether the resolution is to disable or hide the button. Chatting with @lorejoh12 for the Calendar designers to determine whether the resolution is to hide or disable the button.

[2018-10-31 17:56] mikewheaton opened #6918 "Text: Should Text support palette colors?"
The Text component (in experiments) has an interface that says it supports both palette and semnatic colors:

![image](https://user-images.githubusercontent.com/1382445/47808346-6ab5c700-dcfb-11e8-8c87-34afdc204181.png)

However, in the code it only checks semantic colors for the value:

![image](https://user-images.githubusercontent.com/1382445/47808334-62f62280-dcfb-11e8-9521-c96f5858819c.png)

[2018-10-31 17:58] natalieethell commented on #5615
Definitely! We have the initial prototype and documentation checked into the experiments package. It contains 3 scenario examples. @betrue-final-final and I are working on finalizing the documentation. Once we have that, I anticipate that the examples will be updated, and soon after a design/accessibility review we will port the component to the office-ui-fabric-react package.

I'm not sure yet wh

[2018-10-31 18:05] dzearing commented on #6918
This was intentional. Palette colors have no meaning for text but semantic colors do. Let's chat through this

[2018-10-31 18:07] #6894 closed

[2018-10-31 18:12] jumpmanjay commented on #6772
I set some css to override-

`.root-59 .main-103 {
  width: 500px;
}`

But it's a bit janky as the animation isn't smooth. A proper fix would be great.

[2018-10-31 18:22] ipip2005 commented on #6653
We use method like `getFirstFocusableChild` to get the first focusable html element in the property pane. I guess what you meant about "ChoiceGroup parent itself" is the React component right? However, in our infrastructure, we don't even know if the component rendered inside is react component or not.

[2018-10-31 18:29] dzearing commented on #4800
@kelseyyoung I'd like to assign this to you as you opened it; would you have time to address? If not, we should consider closing unless you feel like this will add some value.

[2018-10-31 18:50] JasonGore commented on #6653
OK, that makes sense. What is the implementation of `getFirstFocusableChild` and how is it determining an element is focusable?

Within `ChoiceGroup` (and many of our components), we use an attribute called `data-is-focusable` to determine if an element is focusable. For the first element in your example, this attribute is false. I'm curious if one option is for your `getFirstFocusableChild` eleme

[2018-10-31 18:57] JasonGore commented on #6916
I spent some time modifying the provided example to make sure that there isn't any issue with the example itself, particularly with using numeric keys and random/floor numeric usage. I've [created a new CodePen](https://codepen.io/jasongore/pen/VEJomQ) that's added a number of working and non-working examples, but I feel all should be working correctly:

[code]

There is definitely something odd g

[2018-10-31 19:16] dzearing commented on #6914
@jspurlin Any thoughts?

[2018-10-31 19:21] dzearing commented on #6914
Is this actually causing a bug with screen reading? Or, is this just code cleanup?

[2018-10-31 19:48] jspurlin commented on #6914
The grid does allow for arrow key navigation. A `grid` must contain `row`s which must contains `gridcell`s so we needed to dom structure to put the correct roles and a table made sense to use

[2018-10-31 19:49] dzearing commented on #6903
We should think about package naming and path conventions.

Couple of questions in my head:

Should packages be granular or grouped? (1 package per component vs component groups)

Should platform be in the package name? (e.g. react vs reactnative vs vue)

It was suggested that team ownership could be in the package name (e.g. outlook-people-picker). I would really not want to do this. I'd like thi

[2018-10-31 19:52] TestAccessibilityGIT opened #6920 "ComboBox A11y Pass"
Tracking all of the issues brought up with the 10/30 accessibility pass on ComboBox  control
Details on individual bugs can be found on [Updated Spreadsheet with Jeremy and Arvind's notes](https://microsoft-my.sharepoint-df.com/:x:/p/mgodbolt/EWp6C5th0sZMgOON89z0g4kBPi12LZ_vfhZQk6gfyc81nw?e=iu0nhL)

- [ ] Bug 1: [Accessibility][Programmatic access]: IDs used in ARIA and labels must be unique.
- [

[2018-10-31 20:24] jalo-ms opened #6921 "TagPicker items stack vertically rather than flowing to end of line"
### Environment Information

- __Package version(s)__: 6.92.1
- __Browser and OS versions__: N/A

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/GYVRvE

#### Actual behavior:

TagPicker items are all individually on their own line.

#### Expected behavior:

TagPicker items should flow to the end of the TagPicker control and then wrap to the next line.

![im

[2018-10-31 21:08] chang47 opened #6922 "MergeStyle problems with IContextualMenuClassNames"
### Environment Information

- __Package version(s)__: 6.96.0

### Please provide a reproduction of the bug in a codepen:

I see that in the PR: https://github.com/OfficeDev/office-ui-fabric-react/commit/1882ecb9c772a19ab6c75bdddc1ca539c932e9c4 we added subComponentStyles to IContextualMenuClassItems, however when I tried to update my codebase to use the more recent fabric version, I run into prob

[2018-10-31 21:08] chang47 commented on #6922
@Vitalius1 @cliffkoh

[2018-10-31 21:14] mikewheaton commented on #6918
Then the interface should be updated, right? It autocompletes values from the palette but then those doesn't work at runtime.

@leddie24 and I are building a new component in the experiments package and wanted to try out the Text component. The designers haven't specified which semantic slots should be used, and it's possible that new semantic slots would need to be created. So I had been hoping t

[2018-10-31 21:17] Vitalius1 commented on #6922
@chang47 what prop do you use to pass in the styles?

[2018-10-31 21:19] mikewheaton commented on #6904
@betrue-final-final The Fluent toolkit has these documented wrong:
![image](https://user-images.githubusercontent.com/1382445/47819510-f63d5100-dd17-11e8-8172-f88950717211.png)

The shadow itself is correct though. :)

[2018-10-31 21:21] DiandianWendy opened #6923 "How to restyle DetailsList?"
I am using DetailsList component, but find that it is hard to restyle it, as styles property is not available . Currently I directly override some ms-* class in css file as a work around. Is there any other solutions?

Thanks,

[2018-10-31 21:22] mikewheaton commented on #6808
@Vitalius1 Do you want to open a new issue for that? This original issue was opened because I misunderstood the old `@customizable` pattern and thought that we couldn't apply style overrides with the Fluent theme. We can, so there's no need to update it for this project.

[2018-10-31 21:23] mikewheaton commented on #6806
I'm going to close this issue, as it was opened because I mistakenly thought that components using `@customizable` couldn't be overridden with the Fluent them. They can, so there's no need to convert it as part of this project.

[2018-10-31 21:23] #6806 closed

[2018-10-31 21:55] JasonGore commented on #6921
Also reproes on Pickers example. TagPicker [before](https://fabricweb.z5.web.core.windows.net/oufr/6.52.0/#/examples/pickers) and [after](https://fabricweb.z5.web.core.windows.net/oufr/6.53.0/#/examples/pickers) appears to confirm this regression was introduced by #5981.

@joschect Do you see an easy fix? Thanks.

[2018-10-31 22:10] JasonGore commented on #6923
DetailsList does have a [`styles` property](https://developer.microsoft.com/en-us/fabric#/components/detailslist) available. Can you check and see if it has what you need? What exactly are you trying to style?

[2018-10-31 22:43] cliffkoh commented on #5670
This has been done :)

[2018-10-31 22:44] cliffkoh commented on #5670
This has been done :)

[2018-10-31 23:03] DiandianWendy commented on #6923
Ok. I will update the package to see if I could use styles property.
Thanks,
Wendy

From: Jason Gore <notifications@github.com>
Sent: Wednesday, October 31, 2018 3:11 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Wendy Wan <Wan.Xin@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] How to restyle DetailsList?

[2018-10-31 23:07] JasonGore commented on #6923
I will close this issue for now. If you have any questions regarding styling please feel free to continue commenting and posting to this thread. Thanks!

[2018-10-31 23:07] #6923 closed

[2018-10-31 23:12] kkjeer commented on #5670
Please close this issue.

[2018-10-31 23:12] cliffkoh commented on #5670
That sounds logical.

[2018-10-31 23:31] cliffkoh commented on #5670
Test

[2018-11-01 00:02] betrue-final-final commented on #6904
Thanks. I will correct that

[2018-11-01 00:03] Vitalius1 commented on #6808
@mikewheaton I was able to override with fluent theme here because of the way it has the styles are applied in here. But I was still not able to use the theme and it's palette because the styles prop is not a style function or object as for the most components. So I think the issue still needs to be open and the info I gave is just an bonus upgrade that needs to be done. If you feel that this issu

[2018-11-01 00:05] #5670 closed

[2018-11-01 00:16] chang47 commented on #6922
Here's a codepen that I made that gives an example of what I'm doing [codepen](https://codepen.io/JoshChang47/pen/vVoGBb)

One thing I note is that the code actually works just fine, I think that's because in runtime it is not a problem, however in terms of type checking, there's a problem.

You'll have to put a breakpoint on getContextualMenuClassNames() to see what gets created.

[2018-11-01 00:57] dzearing commented on #1012
This was apparently fixed with the merges above. Closing.

[2018-11-01 00:57] #1012 closed

[2018-11-01 01:11] Vitalius1 commented on #6922
@cliffkoh Not sure if this is an issue with `mergeStyleSets` or the type I used on `IContextualMenuClassNames` for `subComponentStyles`. Also, I noticed that @chang47 is still using the deprecated prop `getMenuClassNames`.

[2018-11-01 01:16] Vitalius1 commented on #6922
https://codepen.io/vitalius1/pen/rqXWaz here is codepen using the styles prop.

[2018-11-01 04:41] changsi-an opened #6930 "Double popup on <TooltipHost>"
### Environment Information

- __Package version(s)__: 6.92.0
- __Browser and OS versions__: Windows

### Please provide a reproduction of the bug in a codepen:
 https://codepen.io/anon/pen/oaapVo

#### Actual behavior:

Move to "Some Rather pretty Long name" and see a pop up, move to the "Pretty..." above to see another popup.

#### Expected behavior:
 There is only 1 pop up.

#### Priorities and

[2018-11-01 04:58] changsi-an commented on #6930
This seems to have something to do with this code:

https://github.com/OfficeDev/office-ui-fabric-react/blob/a19b4559d8c8daf16f80e31d95d3eb7c82a28b4d/packages/office-ui-fabric-react/src/components/Tooltip/TooltipHost.base.tsx#L134

By examining the React virtual dom, I can see that any descendent text section within a <TooltipHost> are converted to a <TooltipHostBase>, so each descendent text sect

[2018-11-01 09:00] #6803 closed

[2018-11-01 12:35] neeraj-khanna opened #6931 "Datepicker:[Keros bug]:ARIA attributes must conform to valid values"
### Environment Information

- __Package version(s)__: 6.92.0
- __Browser and OS versions__: chrome version 69.0.3497.100 and OS version windows 10

### Please provide a reproduction of the bug in a codepen:

Bug repro URL: <https://developer.microsoft.com/en-us/fabric#/components/datepicker>
![4979cdb8](https://user-images.githubusercontent.com/14049149/47851958-3546d180-de00-11e8-9f16-8a94a0b7ba

[2018-11-01 12:52] neeraj-khanna opened #6932 "Picker:[Keros bug]: Certain ARIA roles must contain particular children"
### Environment Information

- __Package version(s)__:  6.92.0
- __Browser and OS versions__:  chrome version 69.0.3497.100 and OS version windows 10

Bug repro URL: <https://developer.microsoft.com/en-us/fabric#/components/pickers>
![34037f8](https://user-images.githubusercontent.com/14049149/47852711-a6878400-de02-11e8-94ab-e8434360eab5.PNG)

#### Actual behavior:

Keros issue : Certain ARIA rol

[2018-11-01 14:09] micahgodbolt commented on #6914
Yeah, I believe this is in the same case as the calendar. A grid of elements that can be navigated through via keyboard. I believe the 'not using grid for layout' probably refers more to page layout, and not interactable elements.

@Rafaelki do you feel these reasons are sufficient to keep the control as is? If we had better support for css grid, I think we could make an argument for that, but any

[2018-11-01 14:13] shivam-dev opened #6933 "getting accessibility issues in nav and facepile component"
i am testing accessibility using keros for web as chrome extensions.

i am getting issues in facepile and nav component as below

![image](https://user-images.githubusercontent.com/8074205/47856908-531b3300-de0e-11e8-82e0-3d6a3752f639.png)

![image](https://user-images.githubusercontent.com/8074205/47856933-61694f00-de0e-11e8-97e8-6e8428fc56ba.png)

[2018-11-01 14:50] dzearing commented on #6933
@shivam-dev it would be nice to at least include a screenshot of what its pointing at.

[2018-11-01 16:07] JasonGore commented on #6931
Duplicated on [OUFR v6.97.1](http://fabricweb.z5.web.core.windows.net/oufr/6.97.1/#/examples/datepicker) and issue doesn't seem to be covered by existing DatePicker a11y Pass.

[2018-11-01 16:10] JasonGore commented on #6932
Closing as duplicated of #6891.

[2018-11-01 16:10] #6932 closed

[2018-11-01 16:16] chang47 commented on #6922
Thanks for the suggestion, that'll probably in the list of things that we need to do.

However so we're on the same page, the problem isn't because I'm using `getMenuClassNames` it's because when I use `mergeStyles` with a expected return type of `IContextualMenuClassNames`, the `subComponentStyles` is not the correct type(?)

[2018-11-01 16:41] mikewheaton commented on #6808
@Vitalius1 You're right, it makes sense that this is still an issue. It's just not quite as urgent as I had first thought.

[2018-11-01 17:04] gabrielaalfaro commented on #5162
I used both required, and aria-required, but fot he Dropdown component the narrator do not read REQUIRED
I have to remove the label property, only in that case it works, but that property is a must to have to me.

[2018-11-01 17:31] betrue-final-final commented on #6914
The existing control seems to make sense to me, but @jamesedjac might know more.

[2018-11-01 17:34] betrue-final-final commented on #6807
Looks good.

[2018-11-01 17:34] #6807 closed

[2018-11-01 17:43] natalieethell commented on #6695
Hey @nishila2 thanks for submitting this issue! I'm having trouble reproducing the behavior you're describing. Here's a [CodePen](https://codepen.io/naethell/pen/EdqBLq) with a Grouped DetailsList. I'm able to collapse all nested groups by just collapsing the first level.

I'll close this issue but feel free to re-open it if you're still experiencing this issue.

[2018-11-01 17:43] #6695 closed

[2018-11-01 17:45] JasonGore commented on #6930
Pretty easy to see the repro with the provided CodePen. I don't see anything obviously wrong with the CodePen example itself, so I agree this appears to be a TooltipHost issue. Thanks!

[2018-11-01 17:50] JasonGore commented on #4800
Based on comments and agreement that files can be kept as-is, I will close this issue for now.

[2018-11-01 17:50] #4800 closed

[2018-11-01 18:04] dzearing commented on #3835
Moving off aditi; Kevin as you're looking at DetailsList accessibility, is this a dupe?

[2018-11-01 18:22] JasonGore commented on #6922
I'll assign to @Vitalius1 for initial triage based on recent changes for now. Thanks!

[2018-11-01 18:28] cliffkoh commented on #5162
Hi @gabrielaalfaro, the issue was closed based on what @arunarokk said above. I'll reopen so this issue can be triaged with a conclusion properly.

[2018-11-01 18:42] dzearing commented on #5162
https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-required_attribute

Perhaps we need to add aria-required?

[2018-11-01 18:48] JasonGore commented on #6916
After chatting with Michael for a bit I realized this example works when newly rendered `Dropdowns` have a different `defaultSelectedKey` as opposed to changing the `defaultSelectedKey` on `Dropdowns` already rendered. That let me to realize it was an issue with `div`'s `key` value preventing existing `Dropdowns` from being rerendered with their newly changed `defaultSelectedKey` prop.

In [anothe

[2018-11-01 18:48] #6916 closed

[2018-11-01 19:11] dzearing commented on #6864
Yeah this makes sense to me; the callout will dismiss on scroll unless you tell it not to. You can certainly tell it to avoid dismissal using `preventDismissOnScroll` prop.

[2018-11-01 19:22] dzearing commented on #6864
I'd clearly love to just do the right thing by default here. Do you have suggestions?

There isn't a way to differentiate between a keyboard soft scroll and a normal scroll, afaik. https://stackoverflow.com/questions/27132796/is-there-any-javascript-event-fired-when-the-on-screen-keyboard-on-mobile-safari

Just a rough idea. If focus is placed within a layer and a scroll occurs in a short timefram

[2018-11-01 19:35] cliffkoh commented on #6922
I've spent some time trying to repro this and I got really confused (while still failing to get a repro). A big part of the problem is that ContextualMenu does not conform to just about every other Fabric component.

While not evident in the Codepen repro, the IContextualMenuClassNames is not even an exported interface (it is not part of our [API surface](https://github.com/OfficeDev/office-ui-fab

[2018-11-01 19:39] cliffkoh commented on #6922
I've tested both on TypeScript 2.8.4 and TypeScript 3.1.3.

I *highly recommend* using the updated `styles` prop API instead (which will avoid the need to manually call `mergeStyleSet` or `concatStyleSet`).

[2018-11-01 19:40] dzearing commented on #3455
hmm, why wouldn't we just mix in native props provided the user, so aria-* and such can be mixed into the component root? That way if the caller provides `aria-live=""` that can effectively blank it out or use something else? And support any other container attribute we need to add?

[2018-11-01 19:40] gabrielaalfaro commented on #5162
i used the aria required attribute but is not fixing the problem

[2018-11-01 20:44] JasonGore commented on #6916
Just wanted to add a bit more background here to this onion of a problem with multiple layers.

`defaultSelectedKey` prop can't changed after its initial value. `Dropdown` will absorb the initial value on construction and store it in its state as the selected value.

The original CodePen was changing `defaultSelectedKey` prop values on `Dropdowns` that were already rendered, which is why they were

[2018-11-01 20:48] #5288 closed

[2018-11-01 20:48] #6790 closed

[2018-11-01 20:48] #6921 closed

[2018-11-01 20:51] natalieethell commented on #5162
I'm wondering if aria-required is only read out if it's placed on an input element. I'm having no trouble hearing Narrator on Edge read out "required" when adding it to an input element, but it's not read out on a div element (yet other aria attributes are read out by Narrator for the div element). Here's a CodePen demonstrating this behavior: https://codepen.io/naethell/pen/pQzzZw.

Adding a requ

[2018-11-01 20:53] chang47 commented on #6922
Hmm okay, I'll look into migrating our code then since I'm not sure what's happening either. We're using TS 3.1.5.

Is using the styles prop as easy as just adding whatever we had before and putting it in directly?

[2018-11-01 20:59] cliffkoh commented on #6922
I don't have very deep context of ContextualMenu (pun not intended :)) but in theory it should be :)

[2018-11-01 21:00] natalieethell commented on #5162
Similarly, the `required` attribute works well on input elements (in the TextField case), but not on div elements.

[2018-11-01 21:05] dzearing commented on #1701
I don't think we plan on doing anything here. I don't know of any mobile apps that use marquee selection. Typically there is a selection model of press and hold to enable and tapping things to select.

[2018-11-01 21:05] #1701 closed

[2018-11-01 21:08] Vitalius1 commented on #6922
@chang47 in the codepen I provided it shows that you just pass the styles to the styles prop and no need of mergeStyleSets as it does everything for you. It's a lot more simpler and cleaner code.

[2018-11-01 21:15] cliffkoh commented on #5162
I took a look at @natalieethell's codepen and verified that Edge does not do anything with the `aria-required` attribute on <div>. As such, Narrator would not read it as being required.

The spec for `aria-required` does not indicate what elements should support it - all examples are of `<input>`, as far as I can tell.
https://www.w3.org/TR/WCAG20-TECHS/ARIA2.html

[2018-11-01 21:16] dzearing commented on #2863
I believe you can do this by stopping propagation on focus.

The reason that it occurs before your click handler is that focus events occur first. That's the one keying off the `onActiveItemChanged` event. If you stopPropagation for focus, it won't fire.

Example here:

https://codepen.io/dzearing/pen/GwKpNq?editors=1011

I *think* we can close this, but if you have a better suggestion, please let

[2018-11-01 21:47] dzearing commented on #6864
Marking as a bug, as I don't feel like this is the ideal. Any time a callout appears, anything which shifts scroll will dismiss it, when really just adjusting position would be good enough.

[2018-11-01 22:00] dzearing commented on #3715
@natalieethell @aneeshack4 @joschect Can you guys look at this and come up with some sort of clear expectation for partners?

Also this might be a dupe. I'd like to make sure we kill all picker accessibility concerns. Jon I would assume SharePoint is either doing something specific or has a critical accessibility issue here. Aneesha can help if you need it, but we need this addressed.

[2018-11-01 22:04] dzearing commented on #3715
Just pinged @joschect offline who's checking up.

[2018-11-01 22:04] cliffkoh commented on #6864
@dzearing should this be added to shield board too?

[2018-11-01 22:07] joschect commented on #3715
This has been fixed. It now announces when it's loading, when new suggestions are available and when one is selected it announces the amount in the list. For instance, it will say "Blue selected, 1 of 3"

[2018-11-01 22:07] #3715 closed

[2018-11-01 22:09] JasonGore commented on #5286
I seem to be able to navigate across items using keyboard navigation now. There are a variety of other issues but they seem pretty well covered by #6259. I will close this issue as a duplicate.

[2018-11-01 22:09] #5286 closed

[2018-11-01 22:11] JasonGore commented on #4816
Covered by bug 16 of #6259. Closing as duplicate.

[2018-11-01 22:11] #4816 closed

[2018-11-01 22:12] JasonGore commented on #5287
Covered by bug 13 of #6259. Closing as duplicate.

[2018-11-01 22:12] #5287 closed

[2018-11-01 22:29] dzearing commented on #4178
@jspurlin @christiango This is particularly gross and probably should be revisited.

Could we not do this? At *least* for macos command key. I 100% agree with the comments above; this feels overreaching.

[2018-11-01 22:29] dzearing commented on #4178
I've assigned to you @aneeshack4 but first lets get consensus before addressing anything here.

[2018-11-01 22:32] JasonGore commented on #5597
This is due to a missing `npm install` step. I've updated [the wiki](https://github.com/OfficeDev/office-ui-fabric-react/wiki/Sample-App) to address.

[2018-11-01 22:32] #5597 closed

[2018-11-01 22:38] #6922 closed

[2018-11-01 22:43] #6877 closed

[2018-11-01 22:45] Vitalius1 commented on #6922
@chang47
We have a fix merged in master in #6936 which should fix the errors you were facing. With that said... we highly recommend updating your code using the `styles` prop as it makes your code much cleaner and should not require you to do many changes (consider it more as a cleanup), and it also prevents you having a surprise breaking change to fix in a hurry when we finally remove the depreca

[2018-11-01 22:51] dzearing commented on #6864
@cliffkoh I think we want to retire the shield board. I think we need to just distribute bugs to area owners but shield could do some experiments.

I'd like to at least have a clear goal here though first. We could certainly experiment with avoiding the dismissal on "scroll from focus of element within callout". I'm not sure if this will cause additional issues, so I think the goal would be see if

[2018-11-01 23:08] #6898 closed

[2018-11-01 23:16] Rafaelki commented on #6914
As you said this isn't tabular data so it is incorrect for me.
A calendar can be considered tabular data.
I understand the grid layout brings problems in ie11. What about display:flex or even display:table?

[2018-11-01 23:29] dzearing commented on #6914
@Rafaelki is there a screen reader issue or are you just saying when you f12 the dom and see a table you don't like it?

[2018-11-01 23:33] canmenekse opened #6940 "Grouped DetailsList Uses Group Name as a key Instead of the Provided key"
Codepen Reproduction :
[Codepen Link](https://codepen.io/anon/pen/jQNWdO)
#### Actual behavior:
 Grouped List creates divs where it uses the name of the groups as keys. It throws duplicate key errors in the console ( it happens in the codepen provided too)

#### Expected behavior:
 Grouped List should use the key provided to the group as the key
#### Priorities and help requested:

Are you willing

[2018-11-01 23:42] JasonGore commented on #5289
As other comments have indicated, I am able to select items so I'm going to mark this as can't repro. We do have another issue (#6920) that highlights some other keyboard navigation issues, so I will close this one for now.

[2018-11-01 23:42] #5289 closed

[2018-11-01 23:52] #6506 closed

[2018-11-02 00:01] JasonGore commented on #6940
The source of the problematic key is `_getPageSpecification()` in `GroupedList.base.tsx` which only uses `pageGroup.name` to generate the key. A potential fix is to use `pageGroup.key` if present and only fall back to `pageGroup.name` if key is not present.

[2018-11-02 00:08] dzearing commented on #4440
I would prefer to keep this out of the TextField, honestly. Reasoning is that the author is free to implement status around TextField to render anything they want. Even in the Save example above, it has a green icon next to blue text. Is that the design for every status message?

All that said, we are going to refactor TextField to simplify and provide layered abstractions for this behavior in #68

[2018-11-02 00:08] #4440 closed

[2018-11-02 00:44] dzearing commented on #4500
Unfortunately at this time we don't have plans to release JavaScript-only usage examples. There is nothing prohibiting pure JavaScript usage, though you would need a babel setup to consume it.

Everything already does use jsdoc comments, so that should not be an issue AFAIK. The real concern might be not using `PropType` declarations.

If you use create-react-app and npm install Fabric, it should

[2018-11-02 00:44] #4500 closed

[2018-11-02 00:49] BrendanMcK opened #6944 "Link: Focus outline prone to clipping; also poor visibility when wrapping images"
### Environment Information

- __Package version(s)__: 6.96.0
- __Browser and OS versions__: any

### Please provide a reproduction of the bug in a codepen:

Can repro both issues with [this codepen](https://codepen.io/micahgodbolt/pen/bOBXbP)

#### Actual/Expected behavior:

There's two issue with the current focus outline styles here -they're closely related, so reporting as a single issue - unl

[2018-11-02 01:12] dzearing commented on #5759
Unfortunately at this time we just aren't staffed to support every framework or mechanism.

We have many partners which use React; not all of them do. Many use Angular. Some are still on Knockout. Some on Vue. We just can't afford to build out components in all flavors.

We also have partners which use React Native, and have plans to expand the components to other platforms beyond the web. That's

[2018-11-02 01:13] dzearing commented on #5759
Let me talk amongst the community to get a sense of what this could look like.

[2018-11-02 01:30] dzearing commented on #6827
Just drawing attention to #4440 here; it would be ideal to have an Input that's simple and has no validation logic. Then layer on that something like a StatusInput, which can render optional "status" below the input based on callback criteria. It was called out in the bug that not all status is "error" and that we should consider warning/success styling as well. But let's discuss the right solutio

[2018-11-02 01:42] dzearing commented on #4571
This component is a bit of a mess; it's rendered as a div ...rather than a button when its interactive. But why not a hyperlink ever?

My preference would be for it to use the "button" as a root type and extend button props. Button itself should have "as" support. But I would wait on our button refactor first there.

So...short term? add focus support. It would take about 5 minutes to resolve this

[2018-11-02 03:37] Jahnp commented on #6782
Apologies for the delay here. The bug is a result of MWF styling bleeding into that specific button, which happens to be on every control page 😊 I've sent mail to the developer.microsoft.com team asking for a fix. I'll follow up when I learn more.

[2018-11-02 03:49] nishila2 commented on #6695
What I meant was, when we expand/collapse the DetailsList by clicking the expand or collapse button at the top left it will only open the First level of the tree. I am expecting it will open all child tress too. not only the first level. that means if click that button it will open all the groups. is it clear for you @natalieethell? please re-open this issue.

[2018-11-02 04:34] dzearing commented on #4665
this suggestion would be a breaking change. I'd like us to rethink this certainly but we should track as a cleanup item for a major release.

[2018-11-02 04:41] dzearing commented on #6944
@aneeshack4 Let's see what we can do here. We can sync on the area and I can help you :)

[2018-11-02 10:18] stues opened #6946 "Dialog/Modal: Unable to set Layer:eventBubblingEnabled"
### Environment Information

- __Package version(s)__:  6.97.0
- __Browser and OS versions__: Chrome@70.0.3538.77, Windows 10

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/stues/pen/rQBJJG

#### Actual behavior:
All events which are triggered from a Component which is rendered within a Dialog get swallowed by the Layer Component which is created by the Dialog.

If

[2018-11-02 10:44] espenmadsen opened #6948 "Fabric Modal: Disable focus on the first focusable, or configured, child in focus trap zone"
I have a use case where i have a ChoiceGroup  component inside a modal where the first radiobutton gets  focus. Is it possible to override the focus set by Fabric?

[2018-11-02 11:02] StfBauer commented on #4440
Perfect. Sounds great to me.

[2018-11-02 11:52] Rafaelki commented on #6914
lol! that question is priceless, especially the original one! I guess I when I press f12 and see that table I don't like it. Do you guys like it? Do you think it is SEMANTICally correct?

[2018-11-02 14:40] rlocus opened #6949 "DatePicker: No validation after Enter pressing in pop up"
<!-- 🚨 STOP 🚨 𝗦𝗧𝗢𝗣 🚨 𝑺𝑻𝑶𝑷 🚨
In case when I type any custom date string to input
my date is not applied in the calendar popup, only if I change the focus (on blur) it will be changed with new date value

[2018-11-02 15:36] betrue-final-final opened #6950 "Pane needs a minimum width"
Creators need to be aware that they need to set a minimum width on the containers for panes. Minimum width in the toolkit is 340px. We'll want to add this to the documentation.

[2018-11-02 15:42] natalieethell commented on #6695
@nishila2 is the top left expand/collapse button in the CodePen repro not expanding and collapsing all groups for you like this? Are you expecting other behavior?
![detailslist groups expand collapse](https://user-images.githubusercontent.com/14134000/47924928-2ef53b80-de7a-11e8-913b-6987eb44046f.gif)

[2018-11-02 15:48] ravick4u opened #6951 "Office UI Fabric Dropdown event onChange not working"
I am creating SPFx component with React framework. For UI I am using Office UI Fabric controls.

During my development I have found that "Dropdown" control's onChange event is not firing

Based on documentation on "https://developer.microsoft.com/en-us/fabric#/components/dropdown" site, I created below react component with a dropdown. When I look at browser console only two events are firing "onFo

[2018-11-02 16:02] #6888 closed

[2018-11-02 16:15] lynamemi commented on #6782
Yeah, previously I was adding specific selectors to every link on the website, which is not ideal in the least! Hopefully they'll finally get a fix for you.

[2018-11-02 16:32] JasonGore commented on #6946
I think this is a sensible request. It looks like it only needs to be exposed in `Modal` and then it will also be accessible in `Dialog` via the `modalProps` prop. This could be considered a feature but is fairly simple to implement so I will add to Shield board.

[2018-11-02 16:33] khmakoto commented on #6294
Closing this as I cannot repro the bug and have received no answer from original poster regarding if they are still having the issue.

Please reopen if this surfaces again.

[2018-11-02 16:33] #6294 closed

[2018-11-02 16:36] JasonGore commented on #6948
Where do you want focus set to? Can you set up a CodePen showing your desired scenario?

[2018-11-02 16:42] JasonGore commented on #6951
I copied your code into [this CodePen](https://codepen.io/jasongore/pen/XyrQVb) and I do see `onChange` firing whenever a Dropdown item is selected. I will close this issue as no repro for now, but feel free to comment if you find any other issues. Thanks!

[2018-11-02 16:57] JasonGore commented on #6949
We have an issue template, please fill it out. We use this information to triage and resolve. Thanks!

[2018-11-02 17:34] JasonGore commented on #6950
Ben and I discussed this and this issue will change from a code resolution to a documentation resolution (issue to be updated.)

[2018-11-02 18:14] micahgodbolt commented on #6920
@jspurlin left some notes in the linked excel file. Check into those before attempting any triage here.

[2018-11-02 18:20] dzearing commented on #4808
@joschect just fyi

[2018-11-02 18:30] dzearing commented on #6949
Please feel free to reopen a new issue which follows the template. The details are super useful. E.g. codepen? What validation/behavior were you expecting?

[2018-11-02 18:30] #6949 closed

[2018-11-02 18:31] natalieethell commented on #6930
Hey @changsi-an! Have you tried using the `onRenderPrimaryText` prop? The logic of the Persona component includes a tooltip for any text that overflows here:

https://github.com/OfficeDev/office-ui-fabric-react/blob/af3ca4d877de3b225819ba0607c9bf0f8f1a663a/packages/office-ui-fabric-react/src/components/Persona/Persona.base.tsx#L146-L159

If you want to override that, you can write a custom render

[2018-11-02 18:38] canmenekse opened #6953 "Grouped DetailsList Blinking When Scrolled to the End too Fast"
### Environment Information
 Chrome only, works fine on edge and firefox

### Please provide a reproduction of the bug in a codepen:
[Codepen Repro](https://codepen.io/anon/pen/vQBbGz)

#### Actual behavior:
When all of lists are expanded. If scrolled fast to the bottom( either scroll down fast with the mouse wheel or drag the scrollbar to the end really fast). The list just keeps blinking/flashin

[2018-11-02 18:57] dzearing commented on #6914
Well.. I mean... seeing a table in this component does not keep me up at night, like many of the other issues do. :)

My thought is that even a DIV itself is not "semantically correct", really. It represents a "box" which seems pretty meaningless. Well... table cells are also boxes. Does it make the experience any different? I think this is really why `role` and other aria related attributes exist

[2018-11-02 18:59] Jahnp opened #6955 "Website: Left nav is innaccessible by keyboard on component pages"
### Environment Information
- __Package version(s)__: OUIFR@6.96.0; @uifabric/fabric-website@6.7.1
- __Browser and OS versions__: All

### Please provide a reproduction of the bug ~~in a codepen~~ on the livesite:
 Go to any component page on the website (e.g. [Button](https://developer.microsoft.com/en-us/fabric#/components/button)). Attempt to tab to the left nav to filter or visit another page.

[2018-11-02 19:12] dzearing commented on #4947
@peterdur-msft @ThomasMichon mentioned above that it was an odd experience to make the "splitter" area focusable. That is, starting with col1, pressing right arrow would move focus like so:

col1 > splitter > col2 > splitter > col3 > splitter

...which ends up confusing users, especially when some columns can be resized and others can't.

So @betrue-final-final what is the design here?

My prefere

[2018-11-02 19:14] dzearing commented on #4941
I'm not totally sure this is true. You can have more than one callout on the page.

If you want to set focus to something within the callout, why not manage it within the content?

[2018-11-02 19:29] JasonGore commented on #6953
Definitely easy to see the issue with your CodePen. Thanks!

[2018-11-02 19:34] kalyany1 opened #6957 "dropdown onchange"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

#### Expected behavior:

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected

[2018-11-02 19:35] #6957 closed

[2018-11-02 19:39] JasonGore commented on #6578
Is there any way you could share an Excel spreadsheet that exhibits this behavior? This would help us triage the issue quite a bit. Thanks!

[2018-11-02 19:55] kenotron commented on #5227
Okay, so here's my thoughts on this one - upgrading the package manager client isn't in the scope of this bug. I just wanted to make sure the bootstrapping package manager isn't busted on Windows + npm 6.x. It seems like @KevinTCoughlin has given confirmation on this. So I think security / vulnerability issues aside, we should really just close this one. We'll probably investigate the use of pnpm

[2018-11-02 19:55] #5227 closed

[2018-11-02 20:13] Rafaelki commented on #6914
Well... a `div` does NOT represent a box. The `div` element is a non-semantic element. If you want to use a semantic element probably UL is the one to choose, as it looks to me like a list of colours.

NOTE that I DIDN'T say that you HAVE TO TO use semantic elements, but when you use them you should not choose the wrong ones.

In your example, using a `div` or `span` as a `button` is semantically

[2018-11-02 20:56] JasonGore commented on #6600
I've created [a simple CodePen](https://codepen.io/jasongore/pen/rQNaZO) for reference. In your image it concerns me that `aria-labelledby` has no value, but I do not see that in this CodePen (image below.)

These ARIA values aren't invalid, they are pointing to other subcomponents of ComboBox. They're provided as a self-contained [combobox role](https://www.w3.org/TR/wai-aria-1.1/#combobox) ident

[2018-11-02 22:51] JasonGore commented on #6525
I just did some analysis as part of #6478 with regards to `DetailsList` role hierarchy and how `row` must be owned by a particular element that `DetailsList` appears to violate. I wonder if this role violation could be causing confusion with screen readers.

[2018-11-02 23:03] KevinTCoughlin commented on #6525
I think you're onto something. In my testing earlier this week, if I swapped the `role="list"` on the inner `List` sections used for pagination with something like `grid` it seemed to announce correctly. I was using `tablist` and `tab` for debug since the w3 example for `aria-selected` used them.

[2018-11-02 23:09] #6726 closed

[2018-11-02 23:18] micahgodbolt opened #6961 "MessageBar Codepen link isn't working"
### Environment Information

- __Package version(s)__: 6.98.1
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

The message bar codepen link does not produce working code

https://developer.microsoft.com/en-us/fabric#/components/messagebar

[2018-11-02 23:41] TestAccessibilityGIT opened #6962 "Label A11y Pass"
Tracking all of the issues brought up with the 11/02 accessibility pass on label  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7b8a57405f-1c87-4e2d-8c24-5f15d53276a8%7d&action=edit&activeCell='Bugs'!L3&wdInitialSession=e7ad14f3-cb60-478f-bca2-be595d14abee&wdRldC=1)

- [x] Bu

[2018-11-03 00:37] #6910 closed

[2018-11-03 02:04] kkjeer opened #6964 "Add code owners for API files"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

API files for packages have no code owners.

#### Expected behavior:

API files have Fabric Tactical members as code owners.

#### Priorities and help requested:

Are you willing to subm

[2018-11-03 02:13] liang2zhu1 commented on #5175
@aditima If I just want to apply the style unconditionally what should I do? I have following code working but I'm looking for a way to avoid having selectors because I just want to add styling at root level, thoughts?

[code]

[2018-11-03 08:35] wonderplayer opened #6965 "Fabric React Tutorial not working"
### Environment Information

- __Package version(s)__: office-ui-fabric-react@6.98.1
- __Browser and OS versions__: Google Chrome 70.0.3538.77, Windows 10 Pro 64-bit

### Please provide a reproduction of the bug in a codepen:

Can't reproduce in codepen. I'm trying to follow just basic tutorial for fabric react in here: https://developer.microsoft.com/en-us/fabric#/get-started#core. Tutorial is fo

[2018-11-03 18:39] Jahnp commented on #6965
Thanks for reporting this @wonderplayer! I'll take a run through of this myself to see if I can sort out the issue and solution.

I know the TypeScript option for Create React App was [just recently added](https://github.com/facebook/create-react-app/releases/tag/v2.1.0), so it's possible there're some kinks there that haven't been worked out yet.

[2018-11-03 19:37] Jahnp commented on #6386
That's an interesting idea @cliffkoh . There are some cases where we expose `const enums` externally for Intellisense/quality of life (e.g. [`IconNames` in @uifabric/icons](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/icons/src/IconNames.ts)).

In cases like those, it's very convenient to be able to have type-safety of a large item set without the overhead of importing

[2018-11-03 19:48] Jahnp commented on #6965
Ok, did a bit of digging.

It turns out this is related to a known issue in Fabric (#6386) that I was not aware of when writing this tutorial.

Essentially, Fabric exposes a number of `const enum`s like the one you got in your error message, which Create React App's new TypeScript option [does not support](https://facebook.github.io/create-react-app/docs/adding-typescript):
![image](https://user-i

[2018-11-03 22:00] #6868 closed

[2018-11-04 00:43] KevinTCoughlin commented on #5175
### Question

### Answer

To address @liang2zhu1's question above:

Currently, in order to customize the Dialog's width, you _must_ specify styles for the Dialog's media query selector as @aditima did in the Codepen above. Here's another Codepen example: https://codepen.io/kevintcoughlin/pen/bQGQpp.

[code]

### Why?

Currently, the following media query is overriding `minWidth` and `maxWidth` sty

[2018-11-04 00:46] KevinTCoughlin commented on #5175
To answer @charliemidtlyng's original question, min and max width can still be overridden using the `minWidth` and `maxWidth` props of `Dialog` in my testing.

Codepen: https://codepen.io/kevintcoughlin/pen/VVwVeR

[code]

[2018-11-05 04:43] omidnavy commented on #3692
Hi
Having the same issue , the warning is this:
`Warning: Prop `id` did not match. Server: "TextField10" Client: "TextField0"`
The problem that i got is the styles not applying to the components.

[2018-11-05 08:38] Mhbuur commented on #6658
Same issue here, only the wanted behaviour is resizing of the content area instead of hidden overflow (clipping).

In lack of a flexible select drop down I'm using react-select with ui fabric. React-selects drop down expansion area was clipped by the panel.

I had to use this style override in order to stop the clipping:

[code]

[2018-11-05 08:43] rlocus commented on #6949
I mean when I use parseDateFromString property and then I type any value to text input the callback expected, but it happens only on blur event

[2018-11-05 11:15] rohitrewa opened #6972 "How to change the different style properties of Nav"
I am trying to change the background color and on select color for the Nav items. Can someone please share a code snippet.

`<Nav
    onLinkClick = {(ev, item) => this.onLinkClick(ev, item)}
    groups={[
        {
            links: [
                { name: 'Home', key: 'Home', url: '' },
                { name: 'Activity', key: 'Activity', url: '' },
                { name: 'News', key: 'News',

[2018-11-05 15:24] #6605 closed

[2018-11-05 15:28] natalieethell commented on #6930
@mtennoe makes sense. @changsi-an given what Marius said, it seems that the tooltip on overflow is by design and I would recommend using `onRenderPrimaryText`, `onRenderSecondaryText`, `onRenderTertiaryText`, and/or `onRenderOptionalText` to custom render your text without a tooltip. I'll close this but feel free to re-open it if you have any other concerns.

[2018-11-05 16:16] Rafaelki opened #6973 "DetailsList: column width as a percentage"
**Describe the feature that you would like added**
For the DetailsList component, be able to specify column width as a percentage, so it resizes nicely.

**Have you discussed this feature with our team, and if so, who**
No

[2018-11-05 16:44] kenotron commented on #5849
Since @samiyaakhtar hadn't had a chance to look at this since so long ago, and I'm on this week's shield rotation, I'm going to propose a change inside our code to address this.

@obiwan007, the workaround is sad, but it is workable in webpack.config. You can have a SEPARATE css rule that includes only @uifabric/dashboard, and you'll have to add an exclude on your existing css rule to exclude @uif

[2018-11-05 17:49] mikewheaton opened #6975 "How should merge-styles handle commas in selectors?"
When using selectors in merge-styles, the selector is usually appended to become a child selector:

[code]

[code]

However, when a comma is used in the selector it produces both a child selector and a global style:

[code]

[code]

Is this by design? It was not what I expected to happen. It should be difficult (impossible?) to create a global selector from within a component's styles as this coul

[2018-11-05 18:01] kenotron commented on #6973
Here's how you can accomplish this with mergeStyles with DetailsList without Fabric changes:
https://codepen.io/anon/pen/YRXPBN?editors=0011

[2018-11-05 18:17] kenotron commented on #6972
I would refrain from creating a one-off background color changes in your app. I would recommend you to work through the theming system to do the background color changes. These are achieved through theming with these colors:

[code]

You can create a theme with code provided on our theme generator page:
https://developer.microsoft.com/en-us/fabric#/styles/themegenerator

There you would copy and p

[2018-11-05 18:29] khmakoto commented on #6844
**Bug 2**

Hi @TestAccessibilityGIT can you provide more detail on what do you mean by "focus order not being correct". What are your expectations for the focus order while navigating "ChoiceGroup with dropdown" radio buttons.

[2018-11-05 18:38] KevinTCoughlin commented on #6546
Thanks for the repro. This _does_ look like a bug with `DetailsList` when its width is decreased in Edge / Firefox. We'll work on providing a fix.

[2018-11-05 18:40] khmakoto commented on #6844
**Bug 3**

Hi @TestAccessibilityGIT, can you tell me what exactly do you mean by "'Required' text not visually present"?

[2018-11-05 18:43] khmakoto commented on #6844
**Bug 4**

Hi @TestAccessibilityGIT, just wanted to check if you meant that for the "label" and "aria-label" attributes in the dropdown were not set when you say "name of dropdown under 'ChoiceGroup with dropdown' section is not provided".

[2018-11-05 18:43] changsi-an commented on #6930
Thanks for the feedback. But I don't think this is ideal: it does not provide a way to always show the tooltip. It puts unnecessary burden on the consumer side to consider how to implement `onRenderPrimaryText`

@mtennoe @natalieethell

[2018-11-05 18:47] dzearing commented on #6944
https://codepen.io/dzearing/pen/xyQJvo

[2018-11-05 18:50] kenotron commented on #6973
Re-open and adding a label for author feedback - making sure author has a chance to respond.

[2018-11-05 18:51] kenotron commented on #6973
Feel free to close @Rafaelki if this solves your issue.

[2018-11-05 18:52] kenotron commented on #6972
Feel free to commend if you have further questions, @rohitrewa

[2018-11-05 18:53] kenotron commented on #6975
This is not expected, but is actually a feature request since the mergestyles didn't handle it before. I've got a local change that will address this. However, I'll need to test it out a bunch since it's such a core piece of logic. PR forthcoming

[2018-11-05 18:59] khmakoto commented on #6844
**Bugs 5 and 6**

Hi @TestAccessibilityGIT  can you please tell me which steps to follow to repro bugs 5 and 6?

[2018-11-05 19:07] dzearing commented on #6944
Hey @BrendanMcK I see 2 problems here;

1. The link you're truncating is not stretching to the container. This makes it unpredictable to render a border. It needs to be `display: block` or `inline-block`, so that `maxWidth` can be specified.

2. The parent is clipping the link border, which is rendered outside of its "owned" layout space. The only fixes I see are:

a. Render the border ON TOP of t

[2018-11-05 19:22] KevinTCoughlin commented on #5703
Re-opening as this is _still_ occurring. The tooltips should render for both the "Select all" column header cell AND other data field column header cells. It _currently_ only renders when provided for the "Select all" column header cell using the diff mentioned above.

[2018-11-05 19:46] kenotron commented on #6973
Ah, going back to this bug, I realized that this is requesting Column Width. Not the whole list. This is not supported because we have column resize feature, etc. So this is a "by design" for now. We'll be working on a data table feature in the future that would probably support what you want (but it'd be less featureful probably). Hopefully that could address your needs in the future.

[2018-11-05 19:49] KevinTCoughlin commented on #6940
Thanks @JasonGore, made implementing the fix super easy 👍. Adding unit tests now and will PR.

[code]

[2018-11-05 20:00] JasonGore commented on #6525
I mixed up `DetailsList` with `GroupedList` in my comment but I feel like `DetailsList` could have similar issues. I'll edit my comment to correct.

[2018-11-05 20:34] Rafaelki commented on #6973
Haha, that explains why the codepen was not working for me. Thank you very much!! That new component less featureful is exactly what I am looking for!! Hopefully markup with the `table` element.

In the meantime I did my own one - less less less featureful, hehe:

[code]

[2018-11-05 20:34] #6973 closed

[2018-11-05 21:06] BrendanMcK commented on #6944
Back when I was initially looking at the focus outline clipping issue, I did briefly explore the option of adding padding to avoid this; but our CSS back then was sufficiently complex that I quickly realized it was not a viable approach: it's often not an immediate parent that's doing the clipping, but some higher-up ancestor (or, often, multiple ancestors). And adding padding somewhere also means

[2018-11-05 21:09] dzearing commented on #6386
I'd love to get this closed out. It creates friction in random places.

[2018-11-05 21:10] JasonGore opened #6978 "Theming: Convergence"
This is a blanket issue for discussing how we can converge ongoing theming initiatives.

The current list of actions we can take to help converge include:

| Action | Rationale | Issue |
|--------|-----------|------|
| Theming Terminology | Quantify and define terminology to reduce ambiguity and encourage consistency. | #6980 |
| Investigation | Transform unknowns into knowns affecting HLFs. | #70

[2018-11-05 21:33] #6965 closed

[2018-11-05 21:35] Jahnp commented on #6965
Hey @wonderplayer , my PR #6967 auto-closed this issue, but to summarize here: since CRA's `--typescript` option doesn't support Fabric's `const enum`s out of the box, we recommend using `react-scripts-ts` instead. I've updated the tutorial to reflect this. Thanks again for reporting this!

[2018-11-05 21:42] JasonGore opened #6980 "Theming: Terminology"
This issue defines theming terminology to reduce ambiguity and encourage consistency. Terms should conform to widely accepted existng terms as much as possible, such as [style guide resources](http://styleguides.io./).

| Term | Definition | Comment |
|-------|------------|------------|
| Component | Atomic element with self-contained styling, theming, state and view associated with and required t

[2018-11-05 21:56] TestAccessibilityGIT commented on #6844
**Bug 2**
Hi @khmakoto when we have selected "Option B" under "ChoiceGroup with dropdown" then on tabbing, focus should land on "Option B". But here focus is landing on "Mark displayed items as read after 5 seconds" which doesn't seems to be logical.

[2018-11-05 21:56] kenotron commented on #6961
Apparently this applies to the Label component as well.

[2018-11-05 22:01] kenotron commented on #6386
Typescript team uses this to scrub it out: https://github.com/Microsoft/TypeScript/blob/576fdf98d79a2bd91ad6a4574d40bd9831690043/Jakefile.js#L871

[2018-11-05 22:03] TestAccessibilityGIT commented on #6844
**Bug 3**
Hi @khmakoto, by "require/mandatory" field we mean "*" sign which generally displayed to show that it's mandatory/required to be field. "*" has been implemented for other choices but not in case of "Here is a custom label".

[2018-11-05 22:04] BrendanMcK commented on #6944
At a first glance, adding padding might be more viable than it was for us in the past:

* Previously, we had a *lot* of components that used `overflow: auto` or similar to 'fit-to-content'. This was the main issue that ended up causing clipping to happen at multiple ancestors in the tree, making adding padding non-trivial. However, most of these have now been replaced by flexbox or similar, which

[2018-11-05 22:16] TestAccessibilityGIT commented on #6844
**Bug 4**

Hi @khmakoto, here screen reader is reading the "Pick one" label which is actually the label for group of radio groups. In this case screen reader should read the name as "Mark displayed items as read after" then the selected options.

[2018-11-05 22:16] kenotron commented on #6478
@natalieethell this might be a bit more work than shield - feel free to unassign if it's pretty big.

[2018-11-05 22:19] TestAccessibilityGIT commented on #6844
**Bug 5 and 6**
Hi @khmakoto, please turn on screen reader in scan mode then follow the steps mentioned in bug report.
Please let us know if you still find any issue which reproducing this issue.

[2018-11-05 22:37] natalieethell commented on #6930
@mtennoe what do you think, should we leave this as is?

It sounds like one potential option would be to add another prop to control the tooltip. The default behavior would remain the same, but you could specify whether you want tooltips in your Persona.

[2018-11-05 23:50] #6961 closed

[2018-11-06 00:01] TestAccessibilityGIT opened #6986 "Link A11y Pass"
Tracking all of the issues brought up with the 11/02 accessibility pass on link  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B79cbb5ea-f595-415f-a56e-3d7d51c56f7a%7D&action=default&uid=%7B79CBB5EA-F595-415F-A56E-3D7D51C56F7A%7D&ListItemId=1530&ListId=%7B395E1ECB-5002-440E-

[2018-11-06 00:48] cliffkoh commented on #6949
Hi @rlocus, recommend you open an new issue that adheres to the issue template to ensure it is properly investigated. Thanks!

[2018-11-06 01:01] dzearing commented on #4178
Confirmed with @jspurlin that undoing this would be ok.

[2018-11-06 01:12] canmenekse commented on #6953
FYI: I think this is the same thing as the issue below, I did not see it when I was opening the issue
https://github.com/OfficeDev/office-ui-fabric-react/issues/5094

[2018-11-06 01:13] JasonGore opened #6989 "Theming: High Level Features"
| HLF | Rationale | Related Issues |
|------|-----------|-------|
| Icon theming | How do icons need to evolve? Will icons be part of theming? Can icons be defined contextually as needed? (there is a current need for this) Should this even be supported contextually or rather be supported through component props? Font, SVG, and other format support.
| Platform inheritance | Support inheriting theme

[2018-11-06 06:29] omidnavy commented on #2740
Hi
I got the same issue, the styles are applying after a delay . I also did the _document.js as you explained but that's only giving me a new error about different classnames on server and client which makes some components without styles at all.

I Use next.js v7.0.2 with costume express server v4.14 , react v 16.6 and fabric v6.93

[2018-11-06 07:32] mtennoe commented on #6930
Agree that overriding the inRenderText functions is fiddly and cumbersome, so we can definitely find a better solution for component consumers. It does introduce some complexity in the interface to the component, with need for backwards compatibility in the future etc, but this is something that can be added fairly easily with an optional boolen property (or similar), and I think will be worth it

[2018-11-06 08:47] rlocus opened #6992 "DatePicker: the calendar does not change value after input changing"
### Environment Information

- __Package version(s)__: 6.99.0
- __Browser and OS versions__: Chrome, Win10

### Please provide a reproduction of the bug in a codepen:
set allowTextInput property as true
type any date value and open the pop up calendar by Enter key

#### Actual behavior:
 the selected date is not changed in the calendar pop up

#### Expected behavior:
the selected date should be ap

[2018-11-06 11:18] dushajni opened #6993 "Controlled multi select ComboBox has very strange behavior"
### Environment Information

- __Package version(s)__: 6.99
- __Browser and OS versions__: All browsers, Windows

#### Actual behavior:

1. Controlled multi select ComboBox doesn't show preselected value at input bar. You have to click on combobox, then click somewhere else to show it.
2. It's not possible to select/deselect some option with clicking. Only way to select option is by typing value i

[2018-11-06 14:08] espenmadsen commented on #6948
The first radiobutton in the ChoiceGroup automatic gets focus when I open the Modal, is it possible to disable this focus when the modal opens ?

https://codepen.io/espenmadsen/pen/OaVKom

[2018-11-06 16:38] jescrich opened #6994 "MessageBar: Unable to identify the error message in High contrast black and white modes"
On Edge explorer MessageBar Unable to identify the error message in High contrast black and white modes.

Expected Result:
Error message should be in such a way that, user should be able to identity the message immediately. The color of message should different from other text.

User Impact:
Keyboard/Low vision users face difficulty in using application if error message is not highlighted.
![bug_1

[2018-11-06 16:40] kenotron commented on #6992
I'll try to recreate the repro on codepen now

[2018-11-06 16:52] kenotron commented on #6992
This needs a bit of discussion because it is actually a feature request. There always is a bit of logic to be discussed when going from a free-form input to a well structure data type (Date). So we can go about it several ways:

1. `new Date(textinput.value)`
2. find a library that can resolve text to date (e.g. 2 days ago) - but questions arise about locale, etc
3. use a third party service via a

[2018-11-06 17:04] kenotron commented on #6986
This scan failed due to CSS leaking from the main site. I don't think we should SHOULD prevent global CSS overrides like these:

![imgo](https://user-images.githubusercontent.com/34725/48080484-a1c82480-e1a2-11e8-9231-8891f23b5b1c.jpg)

To correct this I think we will have to contact the team behind the public site to see if we can prevent them from overriding all links or something. I'm putting "

[2018-11-06 17:07] kenotron commented on #6992
Looking at the actual implementation some more, (3) looks to ALREADY have been done:
`parseDateFromString` exists. I'm updating that codepen above to include this functionality to see if it works for you.

[2018-11-06 17:13] kenotron commented on #6992
I found another issue that you filed, @rlocus - #6949. The whole context is much clearer now. Basically the bug is that `parseDateFromString` is called onBlur, but not on Enter. Okay, so we can definitely address this! On it!

[2018-11-06 17:17] kenotron commented on #6994
I agree that the messagebar high contrast mode is not very easily spotted. I'm not an accessibility expert, however, so I'll defer the wisdom to our design team.

@betrue-final-final maybe can chime in?

Perhaps @jescrich, you have a suggestion of what it should look like? do we make it inverted or something? Or can we use another color?

[2018-11-06 17:18] kenotron commented on #6993
Codepen example to follow here...

[2018-11-06 17:29] kenotron commented on #6386
@cliffkoh & I spoke about this - we're coming with a plan to address this issue this way:

1. we'll write a script to SCRUB out the `const` in `const enum` using the same regex approach as Typescript team
2. create equivalent `keyof SomeEnumType` type alias to be exported for all instances of `const enum`s that we have exposed as public API - this will produce a set of string union types
3. promot

[2018-11-06 17:35] dushajni commented on #6993
I thought that codepen example is not needed since example on [fabric ui official web page](https://developer.microsoft.com/en-us/fabric#/components/ComboBox) for "Basic controlled ComboBox multi-select " doesnt work well.

[2018-11-06 17:47] yuanstanley commented on #5418
Hi, just wondering if there's a current ETA on this? @kkjeer @dzearing

[2018-11-06 17:47] kenotron commented on #6993
Wow, this bug is really bad, I'm adding higher priority to this than others. The component just isn't working!

[2018-11-06 17:59] kenotron commented on #6993
Okay this is a bug introduced here: #6927. I am going to consult with @KevinTCoughlin about what that bug fix was doing before proceeding ... https://github.com/OfficeDev/office-ui-fabric-react/pull/6927/files#diff-b60e1ee604d9b7cd364db34e3dd65befR1349

[2018-11-06 18:00] #6858 closed

[2018-11-06 18:04] mikewheaton commented on #6813
While there are several button components, they all inherit styles from the default button and need to be done at once. I'm going to close the related issues and use this to track all Fluent button styles.

[2018-11-06 18:05] mikewheaton commented on #6814
Closing, will use #6813 to track this.

[2018-11-06 18:05] #6814 closed

[2018-11-06 18:05] mikewheaton commented on #6815
Closing, will use #6813 to track this.

[2018-11-06 18:05] #6815 closed

[2018-11-06 18:05] mikewheaton commented on #6816
Closing, will use #6813 to track this.

[2018-11-06 18:05] #6816 closed

[2018-11-06 18:05] mikewheaton commented on #6817
Closing, will use #6813 to track this.

[2018-11-06 18:05] #6817 closed

[2018-11-06 18:07] mikewheaton commented on #6818
Closing, will use #6813 to track this.

[2018-11-06 18:07] #6818 closed

[2018-11-06 18:09] kenotron commented on #6978
Please add notes about React Hooks

[2018-11-06 18:28] kenotron commented on #6993
Warm handing off to @KevinTCoughlin - feel free to ask me to review PRs

[2018-11-06 18:30] #5469 closed

[2018-11-06 18:39] changsi-an commented on #6930
Thanks for looking into this again.

I think a Boolean/Enum flag might be a good idea. If `<ToolTipHost>` is allowed to have a `overflowMode`, it might equally justify that the `<Persona>` can have a `tooltipMode` as well.

[2018-11-06 18:45] kenotron commented on #6930
I think a better design is to have TooltipHosts be aware of its children (or that the children TooltipHosts are aware of its parent) whether or not a tooltip is currently shown in that subtree.

One way of tackling this is with context. We can have a state that is contextual for TooltipHosts only that would prevent showing double popups.

[2018-11-06 18:46] jspurlin commented on #4178
Just a note @dzearing, I'm fine with scoping this so that only option/alt can be used to expand/collapse menus. If we removed it completely, how would a user be able to expand a comboBox or splitButton?

[2018-11-06 18:49] natalieethell commented on #6930
@changsi-an of course, thanks for bringing this to our attention.

@kenotron that sounds like a good approach, and handles all other components that have tooltips rendered within them. I'll look into this.

[2018-11-06 19:34] natalieethell commented on #2820
@daweffe so sorry for the late response here. The PR referenced above might satisfy your request!

[2018-11-06 19:37] be5invis opened #7000 "API/Component of drag-drop"
The requested feature is something like [react-draggable](https://github.com/mzabriskie/react-draggable), that used the code for drag-drop in Fabric to help users to build an application that supports dragging/panning/pen.

Related UI interactions:
- Dragging
- Dropping
- Panning
- Scale or rotation
- Stylus (pen, etc)

Related devices:
- Mouse
- Touch screen
- Touchpad
- Pens
- Gamepad

[2018-11-06 19:48] KevinTCoughlin commented on #6993
Thanks for catching and reporting this @dushajni!

[2018-11-06 19:50] #6993 closed

[2018-11-06 20:02] JasonGore opened #7001 "Foundation & Theming: Documentation"
Theming Documentation

| Action | Description| Related Issues |
|--------|-----------|------|
| Icon Usage | Discuss how to customize icons from both a global perspective as well as a contextual and per-component perspective. Registering and using icons should be well documented in customization section on website. | |
| Theme Generators | Create tools to allow users to easily create themes coveri

[2018-11-06 20:04] dushajni commented on #6993
Even before this bug ComboBox was behaved very strange (I had issue with default selected value) Let's hope that all those bugs will be fixed with next release :)

[2018-11-06 20:57] #6955 closed

[2018-11-06 21:41] betrue-final-final commented on #6813
Looks good.

[2018-11-06 21:41] #6813 closed

[2018-11-06 21:49] JasonGore opened #7002 "Theming: Investigation"
| Item | Description | Issue | PR |
|--------|-----------|------|-----|
| React Roadmap | How do Hooks and other React features affect Foundation's current and future approach? | #7014 |
| Common App Playground | Create an app playground for using elements of all theming initiatives for analyzing feature completeness as well as a bridge towards converging common dependencies. | |
| Slot Investigat

[2018-11-06 21:59] JasonGore opened #7003 "Theming: Storage and Perf"
Current implementations of Customizer and Theme Provider reconstruct settings on every render pass, even if theme data and scheme do not change. This issue explores how perf can be optimized given an approach on theme access and storage.

* Should contextual theme data be stored in context or global store?
* ShouldCustomizer / TP memoize locally to optimize perf instead of referring to global stor

[2018-11-06 22:01] kenotron commented on #7000
Putting backlog review label tag on. @be5invis are you looking for some deeper integration that react-draggable itself cannot provide for you?

[2018-11-06 22:05] ecraig12345 commented on #5744
Looks like this was fixed for TextField by #5764.

[2018-11-06 22:48] JasonGore opened #7005 "Theming: Props Convention"
* Style Variables vs. Component Variables vs. Props.
* Variants vs. Types.
  * Should variants be mutually exclusive?
  * Mutually exclusive "type" approach vs. Button experiments separated `primary` and `circular` props.
* What can be themed? All props or only style variables?
  * Fields limits theming to `styles`, `theme` and `styleVariables` currently.
  * Does any solution allow arbitrary prop

[2018-11-06 22:55] mikewheaton commented on #6748
Looks like @Vitalius1 already made the style updates here and it's ready for design review.

[2018-11-06 22:57] mikewheaton opened #7007 "CommandBar: Fluent theme"

[2018-11-06 22:58] mikewheaton opened #7008 "SearchBox: Fluent theme"
Ben creating separate drawings in toolkits

ON REST:
1.) Color of magnifying glass icon mismatch- TOOLKIT: #106EBE; WEBSITE: #0078D4
2.) border color mismatch: TOOLKIT:#A19F9D; WEBSITE:#8A8886
3.) Close button mismatch: WEBSITE: #0078D4(blue) w/ hover background:#F3F2F1; TOOLKIT:#000 & no hover state;

ON FOCUS:
1.) Magnifying glass mismatch TOOLKIT: icon still visible; WEBSITE: icon disappears w/

[2018-11-06 23:00] #6831 closed

[2018-11-06 23:00] #6862 closed

[2018-11-06 23:00] #6863 closed

[2018-11-06 23:00] mikewheaton opened #7009 "Pivot: Fluent theme"

[2018-11-06 23:00] mikewheaton opened #7010 "Nav: Fluent theme"
explicitly call out changes to 3rd parties because we'll have gray and white themes

[2018-11-06 23:01] JasonGore commented on #5979
I've moved all unfinished items to children of #6978 (and specifically added Levi's comment to #6989), so I will close this issue as resolved.

[2018-11-06 23:01] #5979 closed

[2018-11-06 23:02] JasonGore commented on #6978
React Hooks added to #7002 .

[2018-11-06 23:12] mtennoe commented on #6930
@kenotron - Really like that idea as well!

[2018-11-06 23:13] kenotron commented on #6962
Got a confirmation that (1) above is by design.

(2) is addressed by the PR.

[2018-11-06 23:28] betrue-final-final commented on #6748
This looks good.

[2018-11-06 23:37] #1315 closed

[2018-11-06 23:45] micahgodbolt commented on #1315
I know this is a long time coming (especially for such a small change). But this codepen using React Router will work once the new release is pushed out tonight.

There are a few styling differences, but nothing too horrible. I'll try to update once the code is released.

https://codepen.io/micahgodbolt/pen/EOVXGQ?editors=1010

[2018-11-06 23:49] dzearing commented on #6603
cool beans

[2018-11-07 00:01] JasonGore opened #7012 "Theming: Slots"
* Should we adopt slots and slot props?
  * Can we eliminate styles interfaces?
    * Style interfaces are in many ways redundant with subcomponent structure. If we expose subcomponents via other props we should also introduce styles via those props and reduce interface friction by eliminating the styles interface.
  * What role would a `wrapper` prop play?
  * How would slots be used for Button e

[2018-11-07 00:23] JasonGore opened #7014 "Foundation: Finalize State & React Hooks"
# Foundation State

Finalize state approach in the context of React Hooks.
* How do we use hooks with Foundation? Does the Foundation API stay the same?
  - Can React Hooks exist as a "state" part for component?
    - Would the state typings allow a React Hook state-only function?
    - If this makes sense, then tighten the typings to view back up to only support functions. (Not classes)
* Revisit

[2018-11-07 00:38] micahgodbolt commented on #733
React Router support should be added with this PR

https://github.com/OfficeDev/office-ui-fabric-react/pull/7006

[2018-11-07 00:38] KevinTCoughlin commented on #5703
Thanks for raising this issue @kadevu. I've opened a PR to fix this regression.

[2018-11-07 06:37] #6940 closed

[2018-11-07 09:56] joerneu commented on #6657
Did not mean to close the issue.

[2018-11-07 12:14] gbminnock opened #7016 "Panel has z-index of 1000000, breaks tinymce editor"
Hi, I am using tinymce editor on a Panel component (basically I make the panel full screen). The panel overrides the z-index of the editor disabling menus on it. tinymce has z-index of 65535, 65536 & 65537.

**platform**: spfx with reactjs
**version information:**

- @microsoft/sp-core-library@1.5.1
- @microsoft/sp-lodash-subset@1.5.1
- @microsoft/sp-office-ui-fabric-core@1.5.1
- @microsoft/sp-web

[2018-11-07 15:57] kenotron commented on #7016
The codepen you're using is showing the usage of OUFR v6 + React 16 which both have very different characteristics: OUFRv6 might have had a fix applied - I'll have to investigate. React 16 + OUFRv6 also meant that we started using the new React portal feature... so we'll have to see if these have been the reason of the fix.

[2018-11-07 15:59] kenotron commented on #7016
@gbminnock If you don't mind, would you create a codepen with the exact versions of react + oufr and see if you can create a repro?

[2018-11-07 16:10] #5849 closed

[2018-11-07 16:33] #6992 closed

[2018-11-07 17:23] brkerr commented on #6809
I also noticed **infoText**, **infoBackground**, and **successText** used for message bars are defined [here](https://github.com/OfficeDev/office-ui-fabric-react/blob/5.0/packages/office-ui-fabric-react/src/common/_themeOverrides.scss) but are not part of the Pallete or SemanticColors objects so we can't override them for theming. Is this the same issue?

[2018-11-07 17:59] #6962 closed

[2018-11-07 18:51] JasonGore commented on #6948
I've [tweaked the CodePen](https://codepen.io/jasongore/pen/vQNGqR) a bit for analysis. `Modal` uses a `FocusTrapZone` which traps focus, inherently giving it to an item within its region. In this case it ends up being `ChoiceGroup`. However, what I'm not sure of is if there is a way for `FocusTrapZone` to "grab" focus without setting it to another item. I don't think it is, though.

@kenotron wha

[2018-11-07 19:06] kenotron commented on #6948
I just added a dummy thing to be focused and it allows you to disable focus...
https://codepen.io/anon/pen/NExjBB

[2018-11-07 19:08] kenotron commented on #7016
I've put together a 5.0 demo site locally and when I ran it, it has the same class list as what you listed above. I think what you have is more of an issue of dealing with css-loader rather than Fabric. If you can come up with a codepen repro, please list it here.

[2018-11-07 19:10] #6975 closed

[2018-11-07 19:41] JasonGore commented on #6948
@espenmadsen Does the solution of using `firstFocusableSelector` in Ken's CodePen work for you?

[2018-11-07 19:48] Vitalius1 commented on #6749
@betrue-final-final
I have a PR for ContextualMenu. I have a lot of tiny tweaks in the attempt to follow the toolkit so a very granular check would be much appreciated.
Also, if you look on the example page we have a couple ones that are not covered by the toolkit like `secondaryText`, the color of the item text if it has a subMenu and it's expanded, split button with a pipe divider. In case I nee

[2018-11-07 21:06] Vitalius1 commented on #6748
@betrue-final-final
@mikewheaton and I were just looking at ComboBox and it looks like it's not fluentized completely. We are pulling it from done and throw back on building column.

[2018-11-07 21:11] kenotron opened #7018 "[tslint rule] Add a rule to prevent the use of inline loader syntax in require or imports"
**Describe the feature that you would like added**
Recently, we had some `require()`'s that were checked in with an inline loader syntax. This unnecessarily tied the library consumers to a specific bundler and specific loaders for the file type.

**What component or utility would this be added to**
rule should be run across all packages

[2018-11-07 21:11] kenotron commented on #7018
@brandonthomas suggested offline to look at something like this: https://palantir.github.io/tslint/rules/no-implicit-dependencies/

[2018-11-07 22:01] gbminnock commented on #7016
@kenotron I've loaded the correct versions into the same codepen. I don't see the issue there either. The only difference is that I am using the ":global" syntax on my project which I believes for the overriding of ms styling.

Any ideas on how I can understand what the issue is locally?

[2018-11-07 22:30] #6950 closed

[2018-11-07 23:00] #6860 closed

[2018-11-07 23:19] phkuo opened #7021 "ChoiceGroupOption className prop overwrites default styles"
When using the className prop of a ChoiceGroupOption, not only does it overwrite the default classes that should be on there, it gets applied to the hidden radio button element, which is not useful.

https://codepen.io/anon/pen/QJyQJZ

Code:
[code]

The result will show the radio button which should be invisible.
This is because of this line of code:
https://github.com/OfficeDev/office-ui-fabric-r

[2018-11-07 23:20] #6422 closed

[2018-11-08 00:31] micahgodbolt opened #7023 "Fabric 7.0 Planning"
[Project: 7.0 Release](https://github.com/OfficeDev/office-ui-fabric-react/projects/29)

[View and try `fabric@next` builds on *Fabric React Demos*](https://fabricweb.z5.web.core.windows.net/oufr/7.0.0-alpha010/)

# Cross-project tasks

## Upgrades
* [X] Upgrade to React 16.8.3 - #8041
* [X] Upgrade to TypeScript 3.3.3 - #8040

## Theming
* [x] Default to Fluent theme - #8038 - In progress (27/42)

[2018-11-08 01:00] #6902 closed

[2018-11-08 01:31] natalieethell commented on #4747
Hey @caradong thanks for opening this issue! @mikewheaton I just tested out VoiceOver in Safari on DetailsList, and I was able to successfully use Control + Option + Up/Down Arrow and just Up/Down arrows to navigate the list. VoiceOver in Safari does seem to focus on the first cell instead of the entire row, but I don't think that's a behavior that Fabric can fix.

### **Incorrect Table Dimensions

[2018-11-08 01:32] natalieethell commented on #4747
So, my theory is that there's something on the demo page that's causing the VoiceOver in Safari to think there are more columns than there actually are, but I'm not sure what it is.

[2018-11-08 02:29] Vitalius1 commented on #7007
@mikewheaton Pausing on this one as more design discussion necessary around the height and lateral padding.

[2018-11-08 02:55] cliffkoh opened #7026 "Create-package script should not add to rush.json both versionPolicy and publish=false"
A rush project with `versionPolicy` of `lockedMajor` causes `shouldPublish` to be ignored. This results in a package publishing unintentionally which breaks the release build.

#### Actual behavior:

![image](https://user-images.githubusercontent.com/1003246/48174847-776b8980-e2be-11e8-9103-29afd5f612cf.png)

#### Expected behavior:

![image](https://user-images.githubusercontent.com/1003246/48174

[2018-11-08 07:11] espenmadsen commented on #6948
Great `firstFocusableSelector` solved my issue, thank you @kenotron  @JasonGore  :)

[2018-11-08 07:11] #6948 closed

[2018-11-08 07:18] rlocus commented on #6992
Greate job!

[2018-11-08 08:53] kadevu commented on #5703
Apologies for missing out on the earlier conversation, my outlook rules are messed up. Thank you @KevinTCoughlin for the fix.

[2018-11-08 10:33] dushajni commented on #6993
@KevinTCoughlin @kenotron Thnx for fix. But problem under number 1. from my first post is still present. I tried with selectedKey property. Option is preselected but if you want to see it in input bar, you have to click on it to show dropdown and to click somewhere else. It is also present at [official page - Basic controlled ComboBox multi-select example](https://developer.microsoft.com/en-us/fab

[2018-11-08 16:20] dzearing commented on #4178
Aneesha if you've already started on this, feel free to steel back, otherwise seems like a simple issue for @ecraig12345 to take a shot at.

[2018-11-08 16:54] phistuck opened #7029 "Split IconButton chevron is too close to vertical separator"
### Environment Information
- __Browser and OS versions__: Chrome 70, Edge 18

### Please provide a reproduction of the bug in a codepen:
Straight from the documentation -
https://developer.microsoft.com/en-us/fabric#/components/button
Look for "Custom Split Button".

#### Actual behavior:

![image](https://user-images.githubusercontent.com/184400/48212934-56ba3700-e385-11e8-9df6-9145463754a1.png)

[2018-11-08 16:59] micahgodbolt commented on #7029
There's also a messiness where this example is inside a file with the other split button code, so the example code shows WAY more than just this single IconButton.

[2018-11-08 17:02] betrue-final-final commented on #6742
Alright, change list:
Bottom margin > 24px
Left margin > 24px
Right margin for buttons > 24px
Right margin for Close X > 14px
Close X dimensions > 32x32px
Close X glyph color > PaletteColors.neutralSecondary
The color one might be an issue as it's using icon button I believe.

[2018-11-08 17:07] micahgodbolt commented on #7029
The divider is positioned absolute, so just tweaking the right value seems to work fine.
![image](https://user-images.githubusercontent.com/1434956/48214847-b5f05b00-e335-11e8-8755-51c8c743a4db.png)

[2018-11-08 17:34] kenotron commented on #6296
I think this is a router question, not a Fabric issue. Please contact the dev who implemented the router in your repo to get your question answered. Please feel free to close this issue if you agree with this assessment.

[2018-11-08 17:36] kenotron opened #7030 "[DevExp] Add declaration mapping so that F12 navigation from one pkg to another goes to the src"
**Describe the feature that you would like added**
Currently in VS Code, because we only do `declaration: true`, navigating code from one src file to another goes to the declaration even though we're all in a single monorepo. We should generate declaration map to navigation from src to src.

[2018-11-08 18:07] #7026 closed

[2018-11-08 18:45] dliu120 opened #7035 "SearchBox sometimes requires double clicking in IE for focus"
This one is easy to reproduce.

1) Open https://developer.microsoft.com/en-us/fabric#/components/searchbox
in IE.
2) In the *Searchbox with no animation*: Click between the icon and the placeholder text on the Searchox.
3) Observe that the icon disappears, the placeholder stays, but no focus is received. This behavior can sometimes be replicated in other search box, but consistently repros in the

[2018-11-08 19:10] kenotron commented on #7029
This is example code bug. The style comes from a "custom split button" - the style in the component itself is okay.

[2018-11-08 19:50] ConorWuertz opened #7039 "SpinButton accessibility issues with internal buttons"
### Environment Information

- __Package version(s)__: 6.47.0
I also see this issue present in the latest version of https://developer.microsoft.com/en-us/fabric#/components/spinbutton

#### Actual behavior:

The buttons for the up and down action within the SpinButton component do not have the correct accessibility attributes. They have tabindex = -1 but don't inform screen readers that they shou

[2018-11-08 20:00] #6653 closed

[2018-11-08 20:44] frevds opened #7040 "Please disableWarnings for icons by default to avoid 1000 pointless messages in the log on EVERY call to a SharePoint ClientSidePage (compromizing our ability to create professional solutions and making it extremely annoying to debug them)"
Please see this ticket:

https://github.com/SharePoint/sp-dev-docs/issues/2867

The solution (https://github.com/OfficeDev/office-ui-fabric-react/wiki/Using-icons) is NOT APPLICABLE, since the issue is SharePoint itself, not the extension, and nobody of the devs there seems to care (neither do they have a GitHub page, or do they).

![image](https://user-images.githubusercontent.com/5341447/4822612

[2018-11-08 20:58] #6671 closed

[2018-11-08 20:58] #4571 closed

[2018-11-08 21:11] ConorWuertz opened #7041 "Dropdown ariaLabel not handled correctly"
### Environment Information

- __Package version(s)__: 6.47.0
Also visible in the current source code in master

#### Actual behavior:

When we provide both a label and an ariaLabel prop to the Dropdown component, the rendered "listbox" role element includes the aria-label attribute and also contains an aria-labelledby attribute that refers to the label element.

#### Expected behavior:

The expec

[2018-11-08 21:41] #7029 closed

[2018-11-08 21:55] betrue-final-final commented on #6749
We'll definitely want an update for secondary text and for the split button case. The current Master has a misalignment for example:
![image](https://user-images.githubusercontent.com/20363037/48229764-e2b86880-e35d-11e8-82db-b198bd7e0c11.png)

[2018-11-08 22:21] brandonthomas commented on #7018
Might not actually work as things like css are typically not declared in package.jso

[2018-11-08 23:09] mikewheaton opened #7044 "ColorPicker: Fluent theme"

[2018-11-08 23:13] kenotron commented on #7039
@betrue-final-final - would you mind confirming this is indeed the right behavior?
@ConorWuertz  - would you mind submitting a PR for this?

[2018-11-08 23:20] aneeshack4 commented on #4178
I haven't gotten a chance to start on this so @ecraig12345, if you want go for it!

[2018-11-08 23:29] dzearing commented on #7040
The SharePoint page is calling `registerIcons` multiple times, causing this. The root cause is that, and that code should be ensuring this does not happen. That's the whole reason for the warning, to call this perf issue out. I've forwarded to leads over there to get someone digging in.

It is certainly possible to disable warnings but would hide the problem.

[2018-11-08 23:37] ConorWuertz commented on #7039
@kenotron I don't mind, I'll wait till @betrue-final-final weighs in

[2018-11-08 23:44] kenotron commented on #7030
Shoot, we don't minbar TS2.9: https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-9.html

We cannot do this until Fabric 7.0.

[2018-11-08 23:45] kenotron commented on #7041
@betrue-final-final - would you mind confirming this is indeed the right behavior?
@ConorWuertz - would you mind submitting a PR for this? Feel free to combine this with the other a11y bug

[2018-11-08 23:46] kenotron commented on #7039
Okay, I'll wait until ben weighs in.

[2018-11-09 00:10] abettadapur opened #7046 "DatePicker is not DST safe"
### Bug Report

- __Package version(s)__: Latest

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) Normal
#### Describe the issue:
DatePicker can return unexpected results over DST boundaries

1. Set Timezone to Brasilia (-3UTC)
2. Navigate calendar to the month of Novembe

[2018-11-09 00:30] betrue-final-final commented on #7009
Let me know if there's any way to do the sliding animation. Otherwise it looks good.

[2018-11-09 00:36] frevds commented on #7040
Very nice! It's great fun to see you guys in action. Many thanks for the fast solution.

[2018-11-09 00:50] cliffkoh commented on #7030
@micahgodbolt  @kenotron should this be added to some 7.0 milestone?

[2018-11-09 00:53] natalieethell commented on #6891
Spoke with Jon and James offline, and I think we've come up with an easy fix.

[2018-11-09 00:54] #7040 closed

[2018-11-09 01:16] kenotron commented on #7046
This is actually due to a flaw in JS date math itself depending on the system's timezone info. There are precedence here:
https://github.com/moment/moment/issues/2353

Unless we implement our own timezone aware date math, we will not be able to get around this. It seems out of scope in a quick fix, I'm going to put this in the backlog and assign to @lorejoh12 & @fpintos to give some input.

[2018-11-09 01:51] dzearing commented on #7040
@frevds Happy to help!

[2018-11-09 01:59] #7021 closed

[2018-11-09 03:02] Vitalius1 commented on #6748
@betrue-final-final

1. ComboBox does not have a way to know where it renders the callout, on top or below the input, so I rounded all 4 corners for now.
2. I noticed an issue with the shadow on ComboBox and Dropdown. If the callout is on top of the input, because the fluent shadow it's bigger at the bottom edge of the callout, you can see how it overlaps on the input. Don't know if this is an iss

[2018-11-09 03:50] #6891 closed

[2018-11-09 05:38] qqli1209 commented on #6600
@JasonGore  Thanks for your feedback. I can still see the invalid `aria-labeledby` and `aria-describedby` attributes  in our project. But in the [demo page](https://developer.microsoft.com/en-us/fabric#/components/ComboBox) of OUFR and your [code pen](https://codepen.io/jasongore/pen/rQNaZO), I cannot see the bug. It seems the version of OUFR in our project is too old. When we bump up to the lates

[2018-11-09 05:38] #6600 closed

[2018-11-09 06:58] lijunle opened #7052 "Narrator reads the text inside Nav component twice"
### Environment Information

- __Package version(s)__: 6.99.1 (newest)
- __Browser and OS versions__: Windows 10 + Edge + Narrator

### Please provide a reproduction of the bug in a codepen:

1. Open this page, https://developer.microsoft.com/en-us/fabric#/components/nav
2. Launch Narrator.
3. Tab to the links in the Nav component.
4. The link buttons read twice.

#### Expected behavior:

The text

[2018-11-09 07:12] lijunle commented on #7052
This is happening because `Nav` component pass the `link.name` to [`title` props](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/Nav/Nav.base.tsx#L128) as same as text. Narrator is reading the link text first, then the link title.

In a `title` attribute best practice, I think this is a wrong usage on the `title` attribute. I could su

[2018-11-09 12:11] be5invis commented on #7000
@kenotron `react-draggable` is more like dragging graphics around, rather than drag-drop data.

[2018-11-09 13:56] bva999 commented on #6126
I have the same problem but my version of react is 16 …. I use SharePoint Framework 1.7.0
[code]

[2018-11-09 14:04] bva999 opened #7054 "Error when use with SharePoint Framework 1.7.0"
- __Package version(s)__: 6.101.0
- __Browser and OS versions__: --

### Please provide a reproduction of the bug in a codepen:
1) Upgrade SFPX solution to version 1.7.0
2) Remove old office-ui-fabric-react (npm uninstall office-ui-fabric-react, npm uninstall @uifabirc/icons)
3) Install office-ui-fabric-react@lates
4) When trying to build (keep in mind SPFX uses TS 2.4.2) I get the following error

[2018-11-09 14:52] kenotron commented on #7054
SharePoint needs to use the latest 5.x release from OUFR. We are working with them to get this upgrade but it will take time in their part.

[2018-11-09 15:09] micahgodbolt commented on #7030
if it's a 2.9 minbar, I think 7.0 is definitely appropriate.

[2018-11-09 16:12] kenotron commented on #7054
Please feel free to close this bug if your question has been answered.

[2018-11-09 16:19] coreyroth commented on #6126
I just tried 6.101.0 and can confirm that this issue still persists.  Hopefully, now that SPFx supports React 16, we might be able to get this working soon.

[2018-11-09 17:10] micahgodbolt commented on #6980
Component Variable has always felt super verbose to me. Is there an opportunity for discussion on this term? Or is that used to align with stardust?

I have always used the term "token" for these types of data. Lightning Design System has used this term for a while. Sometimes tokens are global (similar to our palette/semantic colors) and sometimes they are per component.

[2018-11-09 17:18] micahgodbolt commented on #7002
I'm pretty curious about the playground. Will this replace what we see when we 'npm start'? Will it be used to replace our current public facing site?

As for solutions. ReactStyleGuideIst and Storybook come to mind. I know that Stardust has a pretty robust setup, so that'd be another great place to look. It'd be great to create a solution that will scale across anyone building React components in

[2018-11-09 17:18] JasonGore commented on #6980
A lot of these definitions will depend on the outcome of #7005 so I expect this list (or at least the definitions) to change. If "Component Variables" end up just being theming and styling for Fabric, I'll make sure to tighten up the definitions for clarity. Stardust is also making use of popularized terms from multiple systems so I think we should converge as much as possible, assuming the terms

[2018-11-09 17:19] jeremy-coleman opened #7055 "Change Sass file generation to support rollup, fusebox and browserify"
please fix this, it's been broken for months.

![image](https://user-images.githubusercontent.com/25135855/48277271-312a3d80-e418-11e8-9d16-4fa765f5ee79.png)

![image](https://user-images.githubusercontent.com/25135855/48277242-1f489a80-e418-11e8-946f-3d44c003427d.png)

[2018-11-09 17:20] rexkenley opened #7056 "Allow Surfaces to be attached to any dom element"
Similar to react-modal's parentSelector property, it would great if surfaces have this feature. Especially in Crm365 webresource development where we want to display dialogs but are currently limited to the frame where the webresource resides.  The dialogs should be rendered on the main Crm365 form window, thus graying out the entire form in the backgroud.

http://reactcommunity.org/react-modal/#c

[2018-11-09 17:34] kenotron commented on #7055
This issue needs more context. I cannot tell what is wrong with that import. It works as expected if you're using Webpack + the right loader configuration. These failures from the 1st screenshot looks like it came from the public website's theme generator... it works fine on my end:

https://developer.microsoft.com/en-us/fabric#/styles/themegenerator

Perhaps you could help by either putting up a

[2018-11-09 17:44] #6946 closed

[2018-11-09 17:50] micahgodbolt commented on #7054
To my understanding SPFX 1.7.0 is still not on React 16, and therefore does not support Fabric 6.x.

[2018-11-09 17:56] natalieethell commented on #6478
It looks like the issue is that GroupedList is mixing the structure of List and DetailsList. List and DetailsList, on their own, have an acceptable structure.

Here are the (rough) ARIA role hierarchies in each of the list components:

DetailsList

* `grid`
  * `row`
    * `gridcell`

List

* `list`
  * `listitem`

GroupedList

* `list`
  * `listitem`
    * `row` **<-- should be contained by a gri

[2018-11-09 18:17] rexkenley commented on #7056
This is what my webresource current looks like (it is a full html doc inside a frame)
![image](https://user-images.githubusercontent.com/10548251/48280285-2cb65280-e421-11e8-9ca9-64e12eaa6fe6.png)

I want it to look like this (within the Crm form). So the Dialog box would be "outside" the frame.
![image](https://user-images.githubusercontent.com/10548251/48280456-a5b5aa00-e421-11e8-9144-fcdb6405ed

[2018-11-09 18:18] mikewheaton commented on #7008
Turns out the design is not yet ready for this.

[2018-11-09 18:20] ecraig12345 commented on #4178
Could someone please clarify exactly what the requested fix is here? Is it to add a Mac-specific case where pressing Alt/Opt or Command (without down arrow or other keys) should *not* close the menu? Or to revert some/all of @jspurlin's change from #5207 (and if so, which parts)?

Also, if we're adding a Mac-specific case, how should the user agent check be handled? Currently the only place I see

[2018-11-09 18:38] coreyroth commented on #7054
SPFX 1.7 actually uses React 16 so that’s not the underlying issue any longer.

[2018-11-09 18:40] micahgodbolt commented on #7054
How have you confirmed this? Everyone I've spoken to is saying that they are still working on React 16 support, as well as TypeScript 2.7 support. Both of which are needed to properly use Fabric 6.x

[2018-11-09 18:49] coreyroth commented on #7054
I created a new project with the generator and the packages reference React 16.

[2018-11-09 18:56] micahgodbolt commented on #7054
Hmm, I'll check into that. Either my info is out of date, or the generator jumped the gun.

[2018-11-09 19:03] kenotron commented on #7052
I see this happening as well (though the issue is exacerbated by the fact that it also reads the GROUP which is potentially yet another duplication).

@betrue-final-final - can we simply get rid of title attrib unless a title prop has been passed in?

[2018-11-09 19:07] kenotron commented on #7016
All I can say is that it probably has to do with webpack configuration. Try starting by looking at whether your loader configuration is excluding or including the wrong options for those .css files. I really don't think this is a bug in Fabric - more a usage question for webpack configuration. I will let you close this issue to confirm.

[2018-11-09 19:21] ecraig12345 commented on #5872
@yanckst Actually I think the issue you described is closer to #5539 about supporting on-the-fly mask updates.

Is it okay with you if I close this issue in favor of #5539, since fixing that would provide another way to solve your problem? Although that one will also be a challenge to fix (and I can't guarantee how it will be prioritized), it's more feasible than supporting an arbitrary regex with

[2018-11-09 19:59] natalieethell commented on #6931
@aftab-hassan will take this one.

[2018-11-09 20:54] RupamSarkar opened #7059 "ScrollablePane Details List Header is not aligned with the List rows"
### Environment Information

- __Package version(s)__: 6.100.0
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

In ScrollablePane DetailsList example create a list with ~15-20 rows such that number of rows are just enough make the DetailsList Header sticky if we scroll down . Now -

- Scroll horizontally to some position .
- Th

[2018-11-09 20:55] jeremy-coleman commented on #7055
the line that is highlighted in the second picture importing a ./file.scss, but there's no scss file in the folder. it "works" if you use webpack, however breaks with fusebox , rollup and browserify or just tsc.

[2018-11-09 21:07] cliffkoh commented on #6126
The problem is that SPFx needs to be on TypeScript 2.8 as well to use the more recent versions of Fabric 6. The feedback has been passed on to them and my impression is that they're taking it seriously. I know for a fact they're working on officially adopting Fabric 6 as well over the coming weeks.

W.r.t. closed threads, we do strongly recommend opening a new issue and linking to the existing iss

[2018-11-09 21:30] ecraig12345 commented on #6437
I just joined the team and was assigned to look over all the open TextField bugs. Since this one is pretty simple, I made PR #7058 with a fix.

[2018-11-09 21:33] kenotron commented on #7055
I see, we would have to switch to Commons require statement in that case.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Jeremy <notifications@github.com>
Sent: Friday, November 9, 2018 12:55 PM
To: OfficeDev/office-ui-fabric-react
Cc: Ken Chau; Assign
Subject: Re: [OfficeDev/office-ui-fabric-react] fix style imports (#7055)

the line that is highlighted in the

[2018-11-09 22:06] DiandianWendy opened #7062 "How to set row hover styling?"
I am trying to use styles property to restyle the DetailsRow. But I have no idea how to restyle row when hovering. Could you help?
Thanks

[2018-11-09 22:33] ecraig12345 commented on #6578
We're happy to help, but without any way to reproduce this or any info about the affected version of Fabric, there's not much we can do here.

[2018-11-09 22:39] kenotron commented on #7062
You could do it this way. You could create a custom row render that wraps the defaultRender with a styles prop:

[code]

[2018-11-09 22:40] kenotron commented on #7062
Let me know if this answers your question. If yes, feel free to close this!

[2018-11-09 22:41] DiandianWendy commented on #7062
Great! I will try to do it in this way.

Thanks,
Wendy

From: Kenneth Chau <notifications@github.com>
Sent: Friday, November 9, 2018 2:40 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Wendy Wan <Wan.Xin@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] How to set row hover styling? (#7062)

You could do it t

[2018-11-09 22:49] DiandianWendy commented on #7062
It works!
Thank you so much!

Wendy

From: Wendy Wan
Sent: Friday, November 9, 2018 2:41 PM
To: 'OfficeDev/office-ui-fabric-react' <reply@reply.github.com>; OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Author <author@noreply.github.com>
Subject: RE: [OfficeDev/office-ui-fabric-react] How to set row hover styling? (#7062)

Great! I will try to do it in this way.

[2018-11-09 22:58] #5703 closed

[2018-11-09 23:00] #2863 closed

[2018-11-09 23:29] Vitalius1 commented on #6749
@betrue-final-final
Let me know when you have an update in the toolkit for the secondary text and for the the alignment you mentioned above (are we moving the chevron of the split button or the other ones?). I will submit a separate PR for it along with the fixes for Pivot animation timing.

[2018-11-10 01:50] phkuo opened #7065 "ChoiceGroup's className prop also gets applied to child label"
https://codepen.io/anon/pen/QJyQJZ

When you give ChoiceGroup a className, that class also gets applied to its child <label> element.

[code]

(low pri, non-blocking)

[2018-11-10 02:56] Vitalius1 opened #7066 "PeoplePicker: Fluent theme"
Blocked - uses sass styles and needs mergeStyles conversion which is tracked in #5411

[2018-11-10 03:02] Vitalius1 opened #7067 "TagPicker: Fluent theme"
Blocked - uses sass styles and needs mergeStyles conversion which is tracked in #5411

[2018-11-10 03:16] Vitalius1 opened #7068 "BasePicker: Fluent theme"
Blocked - uses sass styles and needs mergeStyles conversion which is tracked in #5411

[2018-11-10 03:43] Vitalius1 opened #7070 "DatePicker: Fluent theme"

[2018-11-10 04:00] Vitalius1 commented on #7070
This one seems is composed of a `TextField` which is already fluentized and a `Callout` holding a `Calendar`. So the most work should be done in fluentizing the `Calendar`.

[2018-11-10 04:02] Vitalius1 opened #7071 "Calendar: Fluent theme"
Used in `DatePicker`. Can also be used as a standalone UI component.

[2018-11-10 04:05] Vitalius1 commented on #7071
@mikewheaton to answer your question on this card in the fluent project whether if this is not the same as `DatePicker`: it's not 😄 . We have this component which is used to compose the `DatePicker`, but also can be used separate.

[2018-11-10 05:09] Vitalius1 commented on #7071
Blocked - uses sass styles and needs mergeStyles conversion which is tracked in #5307

[2018-11-10 05:12] Vitalius1 commented on #5307
@micahgodbolt Could you kindly check with Outlook team when this conversion is planned? It is blocking our fluent project on `Calendar` which is also used in `DatePicker`.

[2018-11-10 05:14] Vitalius1 commented on #5411
@micahgodbolt looks like we need to bump the priority back. Any idea when we can unblock our work in the fluent project?

[2018-11-10 06:18] RupamSarkar commented on #7059
@kenotron hi, I already raised a PR.

[2018-11-10 07:11] KevinTCoughlin commented on #5411
At a glance the Pickers look straightforward to convert. However, there are a number of inner components which I believe would need to be converted as well. The inner components' scss seems more involved than their containers.

I commented not to sign-up just yet, but to say that some of these seem like reasonable candidates for devs converting components to css-in-js for the first time.

[2018-11-10 21:00] #4941 closed

[2018-11-10 21:00] #6691 closed

[2018-11-10 21:00] #6692 closed

[2018-11-10 21:00] #6693 closed

[2018-11-10 22:44] darewreck54 commented on #5660
Hi, @bishwenduk029 I was wondering if you made any progress with this.  It's something that I'm looking interested in.  It seems that it's a common use case where whenever you do a search there is an associated auto suggestion.

It seems like it would be a merge of the picker logic into the search box.  Taking the logic that create the dropdown box from picker and all the associated actions. Perha

[2018-11-11 01:02] kalyany1 commented on #6951
onChange event is not firing while extending react.component. It looks weird.

https://sharepoint.stackexchange.com/questions/252011/office-ui-fabric-dropdown-event-onchange-not-working/252048#252048

[2018-11-11 13:30] jeremy-coleman commented on #7055
I should have specified, that is the office ui fabric folder inside the node_modules directory , not my workspace. You mentioned it was originally a *.scss.js file? Imo using multiple dots in a file name is a bad practice, it causes problems with mime type checking and behaves differently under different platforms/shells.

*unrelated*While on the subject of build tools, node is moving to a url que

[2018-11-11 18:09] yanckst commented on #5872
@ecraig12345 Yeah of course !

[2018-11-11 21:13] mikewheaton opened #7073 "ColorPicker: Opacity slider changing when used"
### Environment Information

- __Package version(s)__: Latest
- __Browser and OS versions__: All

### Please provide a reproduction of the bug in a codepen:
This bug can be seen on the Fabric website: https://developer.microsoft.com/en-us/fabric#/components/colorpicker

#### Actual behavior:
See [this GIF](https://duaw26jehqd4r.cloudfront.net/items/2V1Q0R1l1Y2U2o153s0D/Screen%20Recording%202018-11

[2018-11-12 06:45] seed-of-apricot commented on #915
@mj1856 It tells me "You should not use <Route> outside a <Router>". How do I solve this?

[2018-11-12 06:51] sonimishra opened #7075 "[Usable- PowerApps Admin- Select a template]: JAWS announces incorrect row, column count in tab mode under Select a template screen"
#### Actual behavior:
JAWS announces incorrect row, column count in tab mode. JAWS announces it as 'table  0 rows and 0 columns'.

#### Expected behavior:
JAWS should announce correct row, column count in tab mode. JAWS should announce it as 'table contains 26 rows and 7 columns'.

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking,

[2018-11-12 11:39] gabrielaalfaro opened #7076 "Narrator is not reading the current tab number & total no. of tabs present in pivot control"
Expected Result:
Narrator should read the current tab number & total no. of tabs present when the focus moves to the tab items

[2018-11-12 15:13] dzearing commented on #6441
@jspurlin Do you have any feedback here?

[2018-11-12 15:16] dzearing commented on #6665
@natalieethell were you working on this? I'm not sure if that behavior suggested is even right. May be good to chat with @jspurlin

[2018-11-12 15:17] bishwenduk029 commented on #5660
Hi, @darewreck54 I will continue working on the same, I got sidetracked assuming it is no longer needed, I think I understand what you are trying to implement, I will update ASAP...

[2018-11-12 15:31] dzearing commented on #4734
I think the pickers would be a better component for this. https://developer.microsoft.com/en-us/fabric#/components/pickers

[2018-11-12 15:31] #4734 closed

[2018-11-12 15:38] dzearing commented on #5206
I am going to assign to you, but we can consider closing this if it's covered by other things. Maybe there is some code to share here.

[2018-11-12 15:40] dzearing commented on #5501
Given this is fixed in fabric 6, I will close. The SPFX upgrading to Fabric 6 is a separate issue being tracked on the SPFX end. This requires the team to upgrade to a newer React (16.3.1 or above) and (more importantly) TypeScript version (2.8 or above)

[2018-11-12 15:42] dzearing commented on #5501
Actually; if we can pinpoint the exact fix that changed the behavior, we could potentially cherrypick it into version 5 and get an update sooner.

@natalieethell could you maybe see if you can pinpoint the fix that addressed, and see if it is something we can cherrypick?

[2018-11-12 16:18] natalieethell commented on #6665
Hey @dzearing I am not working on this. I just moved the card from “Ready for Engineering” to “In PR” because I noticed there was a PR opened for it.

[2018-11-12 16:32] dzearing opened #7077 "Documentation: IE11 polyfill recommendations"
Right now, IE11 has some polyfills we'd likely recommend:

* es6-promise - https://www.npmjs.com/package/promise-polyfill
* es6-weakmap - https://github.com/polygonplanet/weakmap-polyfill
* intersectionobserver - https://github.com/w3c/IntersectionObserver/tree/master/polyfill

We should come up with some guidance on this. Maybe we need a `@uifabric/ie11-polyfills` package which can be referenced

[2018-11-12 16:34] dzearing commented on #7077
Assigning to @kenotron to consider in the grand scheme of how partners should be supporting IE11. This pertains to bootstrap code as well (how can we ensure partners can dynamically load code in IE11 environments only?)

[2018-11-12 16:41] darewreck54 commented on #5660
It’s kind of a combination of the picker auto suggest but within search box and with debounce.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Bishwendu Kundu <notifications@github.com>
Sent: Monday, November 12, 2018 7:17:48 AM
To: OfficeDev/office-ui-fabric-react
Cc: Derek; Mention
Subject: Re: [OfficeDev/office-ui-fabric-react] SearchBox autocomplete (#5660)

[2018-11-12 16:43] dzearing commented on #6665
@natalieethell Ah oops I see it now :) thanks!

[2018-11-12 16:51] betrue-final-final commented on #7009
That should work fine.

[2018-11-12 16:51] #7009 closed

[2018-11-12 16:53] betrue-final-final commented on #6742
Looks good.

[2018-11-12 16:53] #6742 closed

[2018-11-12 18:44] #5872 closed

[2018-11-12 18:48] kenotron commented on #7077
I think our support story will HAVE to be different between 6.x and 7.x.

For 6.x, since we didn't require polyfills, so I would recommend that we do not add polyfill requirements for this release.

We should plan on 7.0 to maybe require reasonable polyfills and yes, maybe one of the following:

1. go with a @uifabric/ie11-polyfills - increases bundle size
2. create two versions of entry points, l

[2018-11-12 18:56] PPatBoyd opened #7079 "Callout/Popup onDismiss doesn't fire when removed from the react tree"
### Environment Information

- __Package version(s)__: 6.21.1 and earlier (long standing issue)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

 https://codesandbox.io/s/0x63pzx42n

This example uses the Hidden parameter for the Callout.  It could be created other ways, such as:

{showCallout &&
    <Cal

[2018-11-12 20:02] aneeshack4 commented on #7075
@sonimishra Hi Soni, which component are you seeing this issue on? If it's GroupedList or DetailsList, @natalieethell has already fixed this in this PR https://github.com/OfficeDev/office-ui-fabric-react/pull/7063#event-1958055742 and it'll be merged soon. If it's Facepile, I'm working on a fix for it and that issue's being tracked with https://github.com/OfficeDev/office-ui-fabric-react/issues/67

[2018-11-12 21:10] davallen opened #7080 "Add Ability to Style row styles (height, color, etc.) from props on DetailsList"
In order to change the height of a row (not using compact property) you need to style the root and cell of IDetailsRowStyles. Also, then you need to get a handle to selectors attribute of the IDetailsListStyles and override there also.

Component: DetailsList

Tagging: @KevinTCoughlin

[2018-11-12 21:16] KevinTCoughlin commented on #5400
Interesting that this only occurs in Chrome. I've also tested Firefox and Edge. No solution yet, but it does seem like a difference in browser behavior with how we programmatically focus when rendering virtualized content. Debugging that further with this trimmed down Codepen: https://codepen.io/kevintcoughlin/pen/mQOGxx?editors=0010.

[2018-11-12 21:55] aneeshack4 commented on #7080
@davallen Can you fill out the bug report please? Or provide a codepen or at least expected behavior vs. actual behavior? Thank you.

[2018-11-12 22:09] natalieethell commented on #5501
Thank you for your patience @aslanovsergey!

@dzearing It looks like it was this commit that updated ComboBox to allow for an empty string to be submitted: https://github.com/OfficeDev/office-ui-fabric-react/commit/491fb1b63c1c8b2554a9e5b5ccf4328e90e919e4. I just tried cherry picking it into v5, but got quite a few merge conflicts as there were several other changes made to ComboBox prior to this

[2018-11-12 22:39] #7073 closed

[2018-11-13 03:00] brandonthomas opened #7085 "Semibold font weight should be using Semibold font face instead of weight css property."
### Environment Information

- __Package version(s)__: 6.99

### Please provide a reproduction of the bug in a codepen:
Attempted to provide repro but CDN for react is dead so codepen is busted. Basically just render a calendar so you can see semi-bold fonts. Font-weight is used instead of a font face.

#### Actual behavior:

We programmatically impact the font weight. This results in closed shape

[2018-11-13 03:23] Vitalius1 opened #7086 "SwatchColorPicker: styles not following redlines"
### Environment Information

- __Package version(s)__: Latest
- __Browser and OS versions__: Chrome latest

### Please provide a reproduction of the bug in a codepen:
 The behavior present on the demo site

#### Actual behavior:
The default styles of the SwatchColorPicker are not following multiple redlines of the Fabric toolkit.
Here is how it roughly looks now on some different states:
![screen

[2018-11-13 03:40] Vitalius1 opened #7087 "SwatchColorPicker: onCellHovered breaks some styling"
### Environment Information

- __Package version(s)__: latest
- __Browser and OS versions__: noticed in Chrome (not tested in other ones)

### Please provide a reproduction of the bug in a codepen:

The issue can be seen on the demo website.

#### Actual behavior:

https://gyazo.com/bf1a39381baee5953c8b7ca551e5ef41

On the [example](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/p

[2018-11-13 16:43] mikewheaton opened #7089 "ProgressIndicator: Fluent theme"

[2018-11-13 16:45] mikewheaton commented on #7070
@Vitalius1, would you mind opening bugs in Azure DevOps for the toolkit issues above?

[2018-11-13 17:12] NikiSpassov commented on #2862
I have absolutely the same issue, has anyone dealt with this?

[2018-11-13 18:20] #4178 closed

[2018-11-13 18:41] Vitalius1 commented on #7007
@betrue-final-final do we have a decision on default height and lateral padding so that I can submit the changes for review?

[2018-11-13 19:50] ecraig12345 commented on #1350
I talked with @dzearing about this on Friday and he wants me to go ahead and make the change, which I'll start working on shortly. So I guess speak now if you have major objections? :)

Meanwhile, here's yet another repro pen I made while thinking through the issue.
https://codepen.io/ecraig12345/pen/xQgyMW

[2018-11-13 20:46] mikewheaton commented on #7007
If at all possible, we should avoid changing the outer dimensions of a component via the theme. This could potentially break layouts if assumptions were made around the size. How much different is the height in the toolkit than the current height?

[2018-11-13 20:51] betrue-final-final commented on #7086
Yes, that is correct. What she shows is accurate.

[2018-11-13 21:06] kenotron commented on #6386
Update: after some investigation and offline chats with @dzearing & @cliffkoh, I'm going to adjust my approach here:

1. I'll be converting the existing `const enum` of small number of values to simple const objects - this will have a minimal API impact (e.g. DirectionalHint)
2. I'll convert the IconNames enum that seem to be able to grow over time to small set of `export const SomeIconName = 'Som

[2018-11-13 21:19] Vitalius1 opened #7093 "Shimmer: Fluent theme"

[2018-11-13 21:40] betrue-final-final commented on #7052
Hmmm, well I'm more of an end user UX specialist and am a little fuzzy on the implementation details. @cschlechty would know more.

[2018-11-13 21:54] cschlechty commented on #7052
Title is needed in areas where there's text truncation. The reading of tooltips is a user preference in nearly all ATs.

[2018-11-13 22:37] ipip2005 commented on #7052
@cschlechty Shouldn't `aria-label` always be read instead of the truncated text?
I there is a text truncation, add `title` would read both the truncated text and the full text which doesn't make sense to me.
I suppose the proper behavior should be always assign text to `aria-label` which is supposed to be the name of the control instead of using `title` or `aria-description`

[2018-11-13 22:55] Vitalius1 commented on #7086
@aneeshack4 Talked to designers and will put this one on hold till next week as there is a need for some discussion on the white border sizing.

[2018-11-13 23:06] amygl opened #7095 "Panel: Overlay not transparent in high contrast mode"
### Environment Information
- __Package version(s)__: 6.103.0
- __Browser and OS versions__: Edge, Windows 10 High Contrast Black

### Please provide a reproduction of the bug in a codepen:
https://fabricweb.z5.web.core.windows.net/oufr/6.103.0/#/examples/panel

#### Actual behavior:
In high contrast mode the screen behind the panel is not visible
![image](https://user-images.githubusercontent.com

[2018-11-13 23:13] TestAccessibilityGIT opened #7096 "Rating A11y Pass"
Tracking all of the issues brought up with the 11/13 accessibility pass on Rating  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B46e7845f-6c01-46a3-80be-c474753aad6f%7D&action=default&uid=%7B46E7845F-6C01-46A3-80BE-C474753AAD6F%7D&ListItemId=1536&ListId=%7B395E1ECB-5002-440