[2019-10-15 20:08] jdhuntington opened #10835 "[Accessibility][Screen reader]: Narrator focus moves onto the separator line in scan mode. [#6876] (Bug 9)"
Tracking all of the issues brought up with the 08/24 accessibility pass on Contextual Menu  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bcef6201c-bd85-44b6-a2d3-3784248461e0%7D&action=default&uid=%7BCEF6201C-BD85-44B6-A2D3-3784248461E0%7D&ListItemId=1259&ListId=%7B395E1ECB

[2019-10-15 20:08] jdhuntington opened #10836 "ContextualMenu: Narrator focus moves out of the menu in scan mode."
Tracking all of the issues brought up with the 08/24 accessibility pass on Contextual Menu  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bcef6201c-bd85-44b6-a2d3-3784248461e0%7D&action=default&uid=%7BCEF6201C-BD85-44B6-A2D3-3784248461E0%7D&ListItemId=1259&ListId=%7B395E1ECB

[2019-10-15 20:08] jdhuntington opened #10837 "[Accessibility][Screen reader]: User is not able to access "Share w/split button " in scan mode. (Bug 11)"
Tracking all of the issues brought up with the 08/24 accessibility pass on Contextual Menu  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bcef6201c-bd85-44b6-a2d3-3784248461e0%7D&action=default&uid=%7BCEF6201C-BD85-44B6-A2D3-3784248461E0%7D&ListItemId=1259&ListId=%7B395E1ECB

[2019-10-15 20:08] jdhuntington opened #10838 "[Accessibility][Programmatic access]: id attribute value must be unique. (Bug 12)"
Tracking all of the issues brought up with the 08/24 accessibility pass on Contextual Menu  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bcef6201c-bd85-44b6-a2d3-3784248461e0%7D&action=default&uid=%7BCEF6201C-BD85-44B6-A2D3-3784248461E0%7D&ListItemId=1259&ListId=%7B395E1ECB

[2019-10-15 20:08] jdhuntington opened #10839 "[Accessibility][Programmatic access]: 'Hierarchy levels' are not defined for submenus. (Bug 13)"
Tracking all of the issues brought up with the 08/24 accessibility pass on Contextual Menu  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bcef6201c-bd85-44b6-a2d3-3784248461e0%7D&action=default&uid=%7BCEF6201C-BD85-44B6-A2D3-3784248461E0%7D&ListItemId=1259&ListId=%7B395E1ECB

[2019-10-15 20:08] jdhuntington opened #10840 "[Functional]: Some controls are not implemented properly in 'Charm' submenu window. (Bug 14)"
Tracking all of the issues brought up with the 08/24 accessibility pass on Contextual Menu  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bcef6201c-bd85-44b6-a2d3-3784248461e0%7D&action=default&uid=%7BCEF6201C-BD85-44B6-A2D3-3784248461E0%7D&ListItemId=1259&ListId=%7B395E1ECB

[2019-10-15 20:08] jdhuntington opened #10841 "[Accessibility][Usable]: Header/Label should be defined for 'Categories group' in 'Categorize submenu'. (Bug 15)"
Tracking all of the issues brought up with the 08/24 accessibility pass on Contextual Menu  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bcef6201c-bd85-44b6-a2d3-3784248461e0%7D&action=default&uid=%7BCEF6201C-BD85-44B6-A2D3-3784248461E0%7D&ListItemId=1259&ListId=%7B395E1ECB

[2019-10-15 20:08] jdhuntington opened #10842 "[Accessibility][Programmatic access]: Role of the categories is not appropriate as multiple selection of categories could be possible. (Bug 16)"
Tracking all of the issues brought up with the 08/24 accessibility pass on Contextual Menu  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bcef6201c-bd85-44b6-a2d3-3784248461e0%7D&action=default&uid=%7BCEF6201C-BD85-44B6-A2D3-3784248461E0%7D&ListItemId=1259&ListId=%7B395E1ECB

[2019-10-15 20:08] jdhuntington opened #10843 "[Accessibility][Usable]: Screen does not scroll down along with keyboard focus in back navigation. (Bug 17)"
Tracking all of the issues brought up with the 08/24 accessibility pass on Contextual Menu  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bcef6201c-bd85-44b6-a2d3-3784248461e0%7D&action=default&uid=%7BCEF6201C-BD85-44B6-A2D3-3784248461E0%7D&ListItemId=1259&ListId=%7B395E1ECB

[2019-10-15 20:08] jdhuntington opened #10844 "[Accessibility][Keyboard]: User is not able to delete 'NAN' value from 'Hover delay' edit box under 'ContextualMenu with submenus' after entering invalid values. (Bug 18)"
Tracking all of the issues brought up with the 08/24 accessibility pass on Contextual Menu  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bcef6201c-bd85-44b6-a2d3-3784248461e0%7D&action=default&uid=%7BCEF6201C-BD85-44B6-A2D3-3784248461E0%7D&ListItemId=1259&ListId=%7B395E1ECB

[2019-10-15 20:38] marygans commented on #9965
Closing this issue as I spoke with @pandey11 offline a few weeks regarding the issue in product application vs this repo. Feel free to re-open for any further questions

[2019-10-15 20:38] #9965 closed

[2019-10-15 20:50] khmakoto commented on #10774
@clmreimann no problem! Glad it helped!

[2019-10-15 20:58] joschect commented on #10753
@khmakoto and @ecraig12345 ITT the correct fix is on line (305)[https://github.com/OfficeDev/office-ui-fabric-react/blob/17e5b97a8246761a10717072096888a192811109/packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx#L305] and what it should become is

` isOpen && onRenderContainer({...props, onDismiss: this._onDismiss})`

onRenderContainer already gets onDismiss as a prop, it j

[2019-10-15 21:01] micahgodbolt commented on #10795
Not all websites do navigation via links and urls. I took a quick look at OneDrive and they use breadcrumbs as buttons and use a query string to change their view:

[code]

[2019-10-15 21:13] khmakoto commented on #10753
Thanks @joschect! I'll have a PR shortly and I'll make a similar change in `ComboBox` as we discussed offline.

[2019-10-15 21:21] phyllers opened #10846 "Tooltip for disabled DropdownOption"
#### Describe the feature that you would like added

I noticed that there is no tooltip support for DropdownOptions. We can use the title to show in the native browser rendering, but the disabled options don't show the title tooltips. I'd like this to be added.

#### What component or utility would this be added to

DropdownOption

#### Have you discussed this feature with our team, and if so, who

[2019-10-15 22:22] khmakoto commented on #10782
Hi @999-Dev, the Narrator team has replied back to me and this seems to be by design on Narrator and Edge because the calculation of bounding rectangles is an approximation.

You can read the full answer from the team below:

[2019-10-15 22:35] khmakoto commented on #10598
This issue does not reproduce anymore as of version 7.50.0 as can be seen below.

__In the black theme:__
![Nav high contrast black](https://user-images.githubusercontent.com/7798177/66874785-2863b500-ef61-11e9-979e-73193dc838f1.gif)

__In the white theme:__
![Nav high contrast white](https://user-images.githubusercontent.com/7798177/66874793-2e599600-ef61-11e9-903a-a70b8c87ecda.gif)

Given that i

[2019-10-15 22:35] #10598 closed

[2019-10-15 22:41] khmakoto commented on #10597
This issue does not reproduce anymore as of version 7.50.0 as can be seen below:

![image](https://user-images.githubusercontent.com/7798177/66875171-36fe9c00-ef62-11e9-9582-afd5fc8ae1bd.png)

The links with disabled text color are actually disabled. Given that it doesn't reproduce anymore I'll close out this bug.

[2019-10-15 22:41] #10597 closed

[2019-10-15 22:49] khmakoto commented on #10595
The section described in this is no longer existing in our examples page, so I'll close this bug accordingly.

[2019-10-15 22:49] #10595 closed

[2019-10-15 22:58] #6360 closed

[2019-10-15 22:58] aneeshack4 opened #10849 "ProgressIndicator: current position not clearly visible in high contrast."
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:

Bug1 of #8388: Current position in progress Indicator is not that much prominent and clear in High contrast modes.

### Please provide a reproduction of the issue in a codepen:
![image](https://user-images.githubusercontent.com/4161791/66875819-9e761500-ef

[2019-10-15 22:58] #8655 closed

[2019-10-15 22:59] aneeshack4 commented on #8388
Closing because 1 & 3 have been split into separate bugs.

[2019-10-15 22:59] #8388 closed

[2019-10-15 23:10] aneeshack4 opened #10850 "Persona: In Scan Mode,"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:

Bug1 of #7643: Narrator in scan mode doesn't announce the role and State of 'Include Persona Details' checkbox.

### Please provide a reproduction of the issue in a codepen:

Turn on the Narrator and set the scan mode.   1. Open https://uifabric-prod.azure

[2019-10-15 23:11] aneeshack4 commented on #10850
This no longer repros:
![image](https://user-images.githubusercontent.com/4161791/66876363-83a4a000-ef7f-11e9-945f-1abd48fe43ed.png)

[2019-10-15 23:12] #10850 closed

[2019-10-15 23:30] #10774 closed

[2019-10-15 23:35] aneeshack4 opened #10851 "Persona: Narrator should read out status. And should place focus on the Persona itse"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:

Bug 2 of #7643 Only colors are used to show the Persona's status and it's not interactable with Narrator.

### Please provide a reproduction of the issue in a codepen:
![image](https://user-images.githubusercontent.com/4161791/66877299-eea3a600-ef82-11e9-9

[2019-10-15 23:44] aneeshack4 opened #10853 "Persona: Alt of the image under Persona examples not descriptive."
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:

Alt of image under 'Rendering custom coin' section is not descriptive as reported by bug 3 of #7643 - looked at other Personas too on that page and some of them have empty strings for `alt`.

### Please provide a reproduction of the issue in a codepen:
![i

[2019-10-15 23:50] aneeshack4 opened #10854 "Persona: Icons should have better color contrast."
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:
Bug 4 of #7643: All the initial icons of 'Persona' don't have sufficient color contrast.

### Please provide a reproduction of the issue in a codepen:
![image](https://user-images.githubusercontent.com/4161791/66877763-cd43b980-ef84-11e9-880a-a964747e53d2.p

[2019-10-15 23:50] #10743 closed

[2019-10-15 23:50] aneeshack4 commented on #7643
Split up

[2019-10-15 23:50] #7643 closed

[2019-10-15 23:51] ecraig12345 commented on #10787
@soettl and @ThomasMichon are currently working on a new List implementation which should be much more performant, so I'm hesitant to invest much in the existing List right now. Do either of you have an idea of when the new lists will be available?

[2019-10-16 00:03] xugao commented on #10775
better codepen demoing the issue thanks for @ecraig12345 : https://codepen.io/ecraig12345/pen/NWWrxKR?editors=0010

[2019-10-16 00:19] jdhuntington opened #10855 "[Accessibility][Programmatic access]: Certain ARIA roles must be contained by particular parents. (Bug 1)"
Tracking all of the issues brought up with the 1/4 accessibility pass on Facepile control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bfd43fcc5-515d-47d8-946d-0d4862a56278%7D&action=default&uid=%7BFD43FCC5-515D-47D8-946D-0D4862A56278%7D&ListItemId=1647&ListId=%7B395E1ECB-5002-440E

[2019-10-16 00:19] jdhuntington opened #10856 "[Accessibility][Keyboard navigation]: User is not able to access all facepile controls using keyboard. (Bug 2)"
Tracking all of the issues brought up with the 1/4 accessibility pass on Facepile control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bfd43fcc5-515d-47d8-946d-0d4862a56278%7D&action=default&uid=%7BFD43FCC5-515D-47D8-946D-0D4862A56278%7D&ListItemId=1647&ListId=%7B395E1ECB-5002-440E

[2019-10-16 00:19] jdhuntington opened #10857 "[Accessibility][Usable]: In scan mode narrator doesn't announce role and state of the 'Overflow Button Type', 'Persona Size' list box. (Bug 3)"
Tracking all of the issues brought up with the 1/4 accessibility pass on Facepile control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bfd43fcc5-515d-47d8-946d-0d4862a56278%7D&action=default&uid=%7BFD43FCC5-515D-47D8-946D-0D4862A56278%7D&ListItemId=1647&ListId=%7B395E1ECB-5002-440E

[2019-10-16 00:19] jdhuntington opened #10858 "[Accessibility][Usable]: Narrator doesn't announce the slider value along with the control name while changing the 'Number of persona' slider using arrow keys. (Bug 4)"
Tracking all of the issues brought up with the 1/4 accessibility pass on Facepile control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bfd43fcc5-515d-47d8-946d-0d4862a56278%7D&action=default&uid=%7BFD43FCC5-515D-47D8-946D-0D4862A56278%7D&ListItemId=1647&ListId=%7B395E1ECB-5002-440E

[2019-10-16 00:19] jdhuntington opened #10859 "[Accessibility][Functional]: No option is given to remove the facepile control present under 'Facepile with face adding functionality' section. (Bug 5)"
Tracking all of the issues brought up with the 1/4 accessibility pass on Facepile control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bfd43fcc5-515d-47d8-946d-0d4862a56278%7D&action=default&uid=%7BFD43FCC5-515D-47D8-946D-0D4862A56278%7D&ListItemId=1647&ListId=%7B395E1ECB-5002-440E

[2019-10-16 00:19] jdhuntington opened #10860 "[Accessibility][Screen reader]: Narrator announces same position number for all facepile controls. (Bug 6)"
Tracking all of the issues brought up with the 1/4 accessibility pass on Facepile control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bfd43fcc5-515d-47d8-946d-0d4862a56278%7D&action=default&uid=%7BFD43FCC5-515D-47D8-946D-0D4862A56278%7D&ListItemId=1647&ListId=%7B395E1ECB-5002-440E

[2019-10-16 00:19] jdhuntington opened #10861 "[Accessibility][Usable]: Narrator scan mode focus is not visible on facepile controls as screen gets scroll down once user navigates on them. (Bug 7)"
Tracking all of the issues brought up with the 1/4 accessibility pass on Facepile control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bfd43fcc5-515d-47d8-946d-0d4862a56278%7D&action=default&uid=%7BFD43FCC5-515D-47D8-946D-0D4862A56278%7D&ListItemId=1647&ListId=%7B395E1ECB-5002-440E

[2019-10-16 00:19] jdhuntington opened #10862 "[Accessibility][Programmatic access]: Screen reader doesn't give any feedback while adding facepiles using 'Add friend' button. (Bug 8)"
Tracking all of the issues brought up with the 1/4 accessibility pass on Facepile control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bfd43fcc5-515d-47d8-946d-0d4862a56278%7D&action=default&uid=%7BFD43FCC5-515D-47D8-946D-0D4862A56278%7D&ListItemId=1647&ListId=%7B395E1ECB-5002-440E

[2019-10-16 00:20] jdhuntington commented on #7534
resolving as dupe, opened separate issues for each bug.

[2019-10-16 00:20] #7534 closed

[2019-10-16 00:51] marygans commented on #10846
HI @phyllers thank you for submitting this issue! The tooltip support for dropdown described above is using default browser title attribute. Are you requesting that the same default browser tooltip be applied to the disabled dropdown options? Or to have a [tooltip](https://developer.microsoft.com/en-us/fabric#/controls/web/tooltip) option for disabled dropdown options?

[2019-10-16 00:53] marygans commented on #10817
Hi @pagaur thank you for submitting this issue and a PR! 👍

[2019-10-16 01:28] JaneyJiang opened #10863 "Primary Button label missing in fluent theme with strong scheme"
### Environment Information

- **Package version(s)**: (6.207.0)
- **Browser and OS versions**: (tested in Edge/Chrome)

### Please provide a reproduction of the bug in a codepen:
It can be reproduced in https://fabricweb.azurewebsites.net/oufr/
for v6 and v7
for v6:
 choose version higher than (6.207.0) and select button, set Split Button by
Theme: fluent, Scheme: strong
![image](https://user-ima

[2019-10-16 03:14] MSYuanMei opened #10864 "Calendar is not closing after selected date with keyBoard"
### Environment Information

- **Package version(s)**: v7.50.0
- **Browser and OS versions**: win32/MacOS

### Describe the issue:

I can replicate this issue on https://developer.microsoft.com/en-us/fabric#/controls/web/calendar
page for the **Calendar launched from a button** example.

When I try to select a date with keyboard(enter key), it will not close the calendar.

### Please provide a rep

[2019-10-16 03:19] #10817 closed

[2019-10-16 04:13] HarkeshS commented on #10814
I have also tested using Narrator + Edge. It is reading two times of table details for first column and first time. for rest column it is ok.

[2019-10-16 05:50] #10753 closed

[2019-10-16 07:46] alex3683 opened #10865 "Documentation: Code Examples in Control-Documentation no longer scrollable using mouse wheel in Firefox"
### Environment Information

- **Browser and OS versions**: Firefox 69.0.3 (64-Bit) on Windows 10

### Please provide a reproduction of the bug in a codepen:

- Open for example https://developer.microsoft.com/en-us/fabric#/controls/web/pickers in Firefox.
- Under "Usage" -> "Tag Picker" click on "Show Code"
- Try scrolling in the code div using the mouse wheel

#### Actual behavior:

The code doe

[2019-10-16 08:40] cph11 commented on #10756
I've now managed to replicate the issue in codepen

Codepen debug view:  https://cdpn.io/cph11/debug/NWWGPYE/vPMKKedYNqxM
Codepen original:   https://codepen.io/cph11/pen/NWWGPYE?editors=0010

The issue occurs when the Nav component is also used.  If the Nav
component is commented out the checkboxes render correctly.

On Fri, Oct 11, 2019 at 1:11 AM Elizabeth Craig <notifications@github.com>
wrote

[2019-10-16 16:54] marygans commented on #10864
Hi @MSYuanMei thank you for submitting this issue. I have repro'd the issue and will get it fixed!

[2019-10-16 16:57] jlukosky commented on #10764
Firefox is not going to respect background colors in high contrast. Firefox supports Windows High Contrast so how is saying it's on Firefox helpful? If a method works for Microsoft browsers AND Firefox that's the successful solution.

[2019-10-16 17:49] joschect commented on #10614
@HarkeshS Per our documentation, we do not support Chrome and Narrator. A bug can be filed against Chrome since Narrator works as intended with edge.

[2019-10-16 18:34] marygans commented on #10865
Hi @alex3683 thank you for submitting this issue! I was also able to confirm this issue in Firefox.

It looks like this was an existing issue with the monaco editor as there was a recently closed issue [here](url). We will need to bump our [monaco version](https://github.com/OfficeDev/office-ui-fabric-react/blob/30384d21f414d50394e8ce1657c9bbc986f93c4c/yarn.lock#L10217)  `monaco-editor@0.17.1` to`

[2019-10-16 19:00] #10682 closed

[2019-10-16 19:00] #10680 closed

[2019-10-16 20:30] phyllers commented on #10846
I was suggesting that the tooltip be applied to disabled dropdown options, but I now realize why that might be a bad idea for accessibility. I will happily take a tooltip option for disabled dropdown options. If that's already possible, is there an example you can point me to?

[2019-10-16 21:29] ecraig12345 commented on #10865
At least last I looked at the latest monaco-editor version, bumping it introduced some other issue which would be impossible to work around (unfortunately don't remember what that was...). I'll have to check whether that's still the case. Either way I can deal with this one.

[2019-10-16 21:31] ptallett opened #10870 "Dropdown.selectedKeys doesn't work if array is mobx @observable"
### Environment Information

- **Package version(s)**: (fill this out)
Office Fabric React 7.32.0
Mobx 5.5.0
Mobx React 5.3.1
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

If the selectedKeys array is an @observable from mobx, then Dropdown doesn't allow selection.

@observable selectedKeys: string[];

      <Dropdown placeh

[2019-10-16 21:43] achang0406 opened #10871 "A11Y - @uifabric/experiments - pagination lose focus to the top of page in edge browser"
### Environment Information

- **Package version(s)**: @uifabric/experiments 7.0.0
- **Browser and OS versions**: Microsoft Edge 44.18362.387.0 - Microsoft EdgeHTML 18.18362
- **Screen reader**: NVDA

### Describe the issue:

When trying to navigate a table with multiple pages using the pagination component in Microsoft Edge using only the keyboard..
Whenever one click on the pagination arrow to n

[2019-10-16 21:54] cliffkoh commented on #10870
HI @ptallett, the Dropdown selectedKeys prop expect a very specific type and the `@observable` decorator has likely violated the "contract". We are not able to have all our components support MobX decorated types because our component library is meant to be data-flow agnostic and there are real costs (in bundle size) to adding framework specific support. We are therefore very unlikely to ever "fix

[2019-10-16 21:57] ptallett commented on #10870
You could trivially put the slice in the codebase.

From: Cliff Koh <notifications@github.com>
Sent: 16 October 2019 22:55
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: ptallett <paul_tallett@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] Dropdown.selectedKeys doesn't work if array is mobx @observable (#1087

[2019-10-16 22:00] #10492 closed

[2019-10-16 22:03] cliffkoh commented on #10870
Unfortunately, we need to be principled about things like this. A component library needs some amount of "coherence" in its API surface and it would simply not work for only one random prop to apply `slice()` while all our other props do not. There are also other considerations as well but hopefully this helps you understand a bit why we must decline adding `slice` into the component layer at this

[2019-10-16 22:46] dcowen91 opened #10874 "Component API for Fabric grid layout"
In order to use the [fabric grid layout](https://developer.microsoft.com/en-us/fabric#/styles/web/layout), you have to import the entire fabric css, and manually specify classnames on divs. Can a react component API be built to encapsulate this?

[code]

#### What component or utility would this be added to

New components for Grid,GridRow, GridCol.

[2019-10-16 23:32] cliffkoh commented on #10874
Pinging @pgills.

[2019-10-16 23:36] #7469 closed

[2019-10-16 23:40] khmakoto commented on #9989
@ArpitaGhattuMicrosoft I think there is no need for you to change the `role`. If you need to have the screenreader say that info you can just specify that via the `ariaLabel` prop. I've written an example of this in [this codepen](https://codepen.io/khmakoto/pen/PoozVBR?editors=0010) which would hopefully help you.

Let me know if there is anything else I can do to help!

[2019-10-16 23:58] ecraig12345 commented on #10756
I tried the codepen but the labels still print fine for me in that case, at least when printing to PDF (which is what I've used for all the other testing). In case it makes a difference, when you repro'd the issue with that codepen, was it with print to PDF or a real printer? And did you use "Microsoft Print to PDF" or something else?

[2019-10-17 00:10] marygans commented on #10871
Hi @achang0406 thank you for submitting this issue. Pagination component is not officially "supported" by the team since its in the [experiments package](https://github.com/OfficeDev/office-ui-fabric-react/tree/master/packages/experiments) and as a result, encouraged not to be used in product(See policy reference [here](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/exper

[2019-10-17 00:21] khmakoto commented on #8297
Hi @raghavendra-kodimala, apparently this is by default in Narrator+Edge.

From the information we got from the Narrator team:

Given that answer I'll be resolving this as `By Design` and `External`. Please let me know if there is anything else I can help with!

[2019-10-17 01:25] jieqiu0129 opened #10875 "[DetailsList] Could you add a prop to disable the select event on the specified column? Or recommand a workaround?"
#### Describe the feature that you would like added

In the single page website, when I render a link in the details list and then click on the link, it always trigger the onSelectionChanged event, then trigger the link click event.
For some perf reasons, I need: when I click link, it doesn't trigger onSelectionChanged event...

So could you add a prop to disable the onSelect event on the specifie

[2019-10-17 02:06] trevonmckay commented on #6527
We'd like to have a consistent experience for form validations. In one of our internal apps if a user clicks Submit before completing the fields they are presented with inline error messages per the screenshot. The Choice Group however does not have the inline error message but shows the required asterisk. It is my expectation that the Choice Group would too present a validation message below the

[2019-10-17 04:44] KevinTCoughlin commented on #10875
This may already be possible with the existing `SelectionZone` related props. Requires some testing.

[2019-10-17 06:20] DhirajKhot opened #10877 "Facepile Keros issue - ARIA input fields have an accessible name"
### Environment Information

- **Package version(s)**: 6.204.4
- **Browser**: Chrome

### Describe the issue:
Keros Fast pass reports an issue for Facepile component -
ARIA input fields have an accessible name

Refer the below image:
![image](https://user-images.githubusercontent.com/20378231/66982522-edce5980-f0d3-11e9-8114-519540ea9503.png)

The issue can be found on -
https://developer.microsof

[2019-10-17 06:36] jieqiu0129 commented on #10875
Thanks for the reply. I didn't find a prop can resolve this problem: https://docs.microsoft.com/en-us/javascript/api/office-ui-fabric-react/iselectionzoneprops?view=office-ui-fabric-react-latest#oniteminvoked
Could you tell me if you find? :)

[2019-10-17 07:13] cph11 commented on #10756
I tested used the Print Preview feature.  But using "Microsoft Print to
PDF" gives the same result (on page 2).

On Thu, Oct 17, 2019 at 12:58 AM Elizabeth Craig <notifications@github.com>
wrote:

[2019-10-17 09:52] pierre-moire opened #10878 "Is there a way to disable overflow/ellipsis of specific columns in a DetailsList?"
Hello,

Some columns may be more important than others and I would like to be sure they are not hidden partially (actions columns for instance). Is there a config setting for that? Otherwise can you add this functionality?

Thanks !

[2019-10-17 10:13] chce commented on #10363
We are using initialiseIcons with a server relative url with success in 7.5.0, but if we try to upgrade to the latest (7.51.0), it will load fabricmdl2icons from sharepointonline

[2019-10-17 15:25] gbminnock opened #10879 "ChoiceGroupOptioin with Icon"
### Environment Information

- **Package version(s)**: office-ui-fabric-react@16.189.2

codepen:
https://codepen.io/gbminnock/pen/zYYKKPa

#### Actual behavior:

When using ChoiceGroup with Icon and multiple text the text overflows and it cut off.
I tried resizing some stuff but it never come out correct.

#### Expected behavior:
Text not truncated

### Priorities and help requested:
Requested pri

[2019-10-17 15:54] betrue-final-final opened #10880 "Links in Message Bar do not respond to High Contrast"
This reproes in all High Contrast themes
![image](https://user-images.githubusercontent.com/20363037/67025805-7f7d9d00-f0bb-11e9-97be-edef3223f9e6.png)

You can repro at https://aka.ms/fabricdemo
Change to any high contrast theme, and go to MessageBar. Turn on one of them with a link and observe.

The color should use link color for the theme.

### Priorities and help requested (not applicable if

[2019-10-17 16:13] marygans commented on #10875
I believe @KevinTCoughlin is referring to the[ SelectionZone props](https://github.com/OfficeDev/office-ui-fabric-react/blob/1b9405b3b64839975e16ee1fad04d7868d9e3b99/packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.types.ts#L90) within DetailsList

[2019-10-17 16:42] marygans commented on #10877
Hi @DhirajKhot thanks for submitting this issue, I was able to repro this. Aria labels are missing from the `ul` tag. My tool also flagged an aria-hidden issue - "ARIA hidden element must not contain focusable elements". Which is interesting that only one of these is a button. I will look into it more.
![Screen Shot 2019-10-17 at 9 41 25 AM](https://user-images.githubusercontent.com/38991459/67029

[2019-10-17 16:58] marygans commented on #10879
Hi @gbminnock thank you for submitting this issue! I am getting some feedback from a designer on how to proceed with this margin issue. I will get back to you soon!

[2019-10-17 17:53] marygans commented on #10879
Have you tried adjusting the size of the `width` and `height` props in `imageSize`? like in this [codepen](https://codepen.io/gwiz0210/pen/ZEEpePR?&editable=true). That might help to get the text to fit for your use case. I do think the spacing be more flexible for users based on the the text.

[2019-10-17 18:45] ecraig12345 commented on #8463
Possibly going back on the aria-hidden thing now and adding full keyboard support instead...

[2019-10-17 18:46] marygans commented on #10878
Hi @pierre-moire, thank you for submitting this issue!

One thing I would suggest is utilizing [` minWidth ` ](https://github.com/OfficeDev/office-ui-fabric-react/blob/e41e8d4eb41455814412f0713c632da4ee511cfa/packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.types.ts#L361) to show the full content of your important columns. See it utlized in this example [here](https://codepen

[2019-10-17 20:42] mattmazzola opened #10884 "Disabled Picker uses transparent border instead of same color as input"
Minor - I believe this is a simple CSS fix.

For TextFields when it is disabled the grey color matches the input so the item doesn't change size.
However for Pickers the border goes to `transparent` which makes it look like it changes size.

Can be seen on the Office Fabric demo page, by toggling the checkbox:
https://developer.microsoft.com/en-us/fabric#/controls/web/pickers

![image](https://use

[2019-10-17 21:06] Jahnp commented on #10449
Apologies for the delay folks. While not the ideal fix (you **should** expect to be able to use Fabric Core + Fabric React and use icons interchangeably between them), this has been temporarily mitigated with https://github.com/OfficeDev/office-ui-fabric-core/pull/1195, which adds ~350 icons to Fabric Core and brings it up to parity with Fabric React.

That PR was incorporated in Fabric Core@11.0.

[2019-10-17 21:29] betrue-final-final commented on #10884
Yeah that's true. We should have a matching border with the background so it doesn't shrink

[2019-10-17 21:46] genevasun opened #10887 "ComboBox Cannot Navigate Dropdown When Narrator is ON"
### Environment Information

- **Package version(s)**: 6.207.0
- **Browser and OS versions**: Microsoft Edge 44.18362.387.0 Windows 10

### Describe the issue:

With Edge+Narrator, I cannot access the ComboBox dropdown with down-arrow key.
Also reproduced on https://developer.microsoft.com/en-us/fabric#/controls/web/combobox.

### Please provide a reproduction of the issue in a codepen:

https://c

[2019-10-17 22:07] khmakoto commented on #9592
@JoshuaLamusga please let us know if the fix @joschect provided above is good enough for you or if there is anything else we can do to help!

[2019-10-17 22:24] marygans commented on #10887
Hi @genevasun, thank you for submitting this issue!
I was able to test the issue using Edge + Narrator and I am able to repro in scan mode and wondering if you are experiencing this in scan mode as well?

If so, there was an [issue](https://github.com/OfficeDev/office-ui-fabric-react/issues/10689) recently closed related to this that I found related to this and was recently closed due to it potent

[2019-10-17 22:25] achang0406 opened #10890 "A11Y - ShimmeredDetailsList columns not being read when sorted on click"
### Environment Information

- **Package version(s)**: office-ui-fabric-react - 7.0.0
- **Browser and OS versions**: chrome Version 77.0.3865.90 (Official Build) (64-bit)

### Describe the issue:

Essentially when we click on a column to sort the data, the nvda fails to read the sorted column everytime.

NVDA can potentially successfully read when click to sort one column and potentiaily failed to

[2019-10-17 22:34] ecraig12345 commented on #10764
We appreciate the feedback, but unfortunately there isn't much we can do about this under the current web standards and our design constraints.

As documented on our [Accessibility wiki page](https://github.com/OfficeDev/office-ui-fabric-react/wiki/Accessibility), we can only guarantee high contrast will work on Edge in Windows. This is because currently, only Edge provides a way to use high contr

[2019-10-17 22:39] khmakoto commented on #7619
Hi @lukehumphrey this doesn't reproduce now on our supported scenario of Narrator+Edge. Can you check if you can still reproduce it in Jaws+Chrome and reply back here with your experience? Thanks!

[2019-10-17 23:01] brandonthomas opened #10891 "IRawStyleBase should include Ms* grid rules"
#### Describe the feature that you would like added
In order to properly support grid in IE11 many props need to use the proprietary CSS rules. Currently, we don't have the typings for this.

#### What component or utility would this be added to

IRawStyleBase

#### Have you discussed this feature with our team, and if so, who

Not yet

#### Additional context/screenshots

CSS Grid is super useful

[2019-10-17 23:03] brandonthomas commented on #10891
I'm currently using MsGridColumn, MsGridColumnSpan, MsGridRow,MsGridRowSpan, MsGridColumns but I know there are a few more. Additionally, I have to detect IE11 and then change my display rule based on that. I cannot provide two display rules like I normally would in CSS. If I TS ignore the double display it works in Chrome/FF but IE11 whines about duplicate keys in my object so conditionally const

[2019-10-17 23:20] mattmazzola opened #10892 "Picker `getTextFromItem` changes dismiss behavior"
### Environment Information
- 7.52.0
- Version 77.0.3865.120 (Official Build) (64-bit)

### Please provide a reproduction of the bug in a codepen:
Tried to reproduce here, but it doesn't work properly
https://codesandbox.io/s/picker-calling-onchange-incorrectly-dpwr0

Created video to demonstrate and walk through bug
https://microsoft.sharepoint.com/:v:/t/convsysresearch/ERMRSnt0UNRFuJ0h5uKdS8cBhX

[2019-10-17 23:25] unindented opened #10893 "Add support for `-ms-overflow-style` CSS property"
#### Describe the feature that you would like added

Support for [`-ms-overflow-style` CSS property](https://developer.mozilla.org/en-US/docs/Web/CSS/-ms-overflow-style).

#### What component or utility would this be added to

`merge-styles` `IRawStyleBase`

#### Have you discussed this feature with our team, and if so, who

Nope, hope to do it here.

#### Additional context/screenshots

I was fol

[2019-10-17 23:27] onlyann opened #10894 "Header and footer with Picker suggestions."
#### Describe the feature that you would like added

At the moment, the suggestions footer rendering is driven by the internal state of the `BasePicker` parent component.
While `Suggestions` exposes `resultsFooterFull ` and `resultsFooter`, it only  conditionally renders them once _Get More_ has been clicked.
As for the header, it is always rendered but only accepts a `headerText` string.

This do

[2019-10-17 23:38] marygans commented on #10890
Hi @achang0406 thanks for submitting this issue!

After taking a closer look, the [ W3 ARIA reference example](https://www.w3.org/TR/wai-aria-practices/examples/grid/dataGrids.html) also does not announce the sorting order and we are using `aria-sort` per the[ ARIA spec](https://www.w3.org/TR/wai-aria-1.1/#aria-sort).

One alternative is, you can utilize the [Annouced](https://github.com/OfficeDev

[2019-10-17 23:39] brandonthomas opened #10896 "IButtonProps should support string index sig"
#### Describe the feature that you would like added

Be able to pass arbitrary props such as data- and aria- to a Button through an object spread onto it. Currently you can only do this in JSX.

#### What component or utility would this be added to
IButtonProps

#### Have you discussed this feature with our team, and if so, who

Not yet

[2019-10-17 23:59] marygans commented on #10891
Hi @brandonthomas thanks for submitting this issue! We definitely will want this support as well as other things missing. We have similar open issues tracking the grid work and this has been coming up pretty frequently. FYI @paulgildea

[2019-10-18 00:18] genevasun commented on #10887
@marygans The issue you referred to seems to be the same issue. Can I have more information on the Narrator bug so I can track its progress? I did not find that information in the other issue.

[2019-10-18 00:48] marygans commented on #10894
Hi @onlyann thanks for submitting this feature request! Adding PM @paulgildea for visibility.

[2019-10-18 01:43] marygans commented on #10892
Hi @mattmazzola thank you for submitting this issue!
The functionality of having the suggested item picked by default after navigating outside of the picker is by design. Please refer to this [closed issue](https://github.com/OfficeDev/office-ui-fabric-react/issues/3349) for more details surrounding why it is by design as well as a [onDismiss callBack solution](https://github.com/OfficeDev/office-

[2019-10-18 04:17] ecraig12345 opened #10900 "ColorPicker: full RTL support?"
Right now the color sliders and rectangle don't make any RTL adjustments. While this is not ideal, it's also not too bad since the direction of color gradients is less meaningful from a user perspective than many other directional UI elements. (In the past the sliders and rectangle made *incomplete* RTL adjustments--a pretty broken experience which I removed in PR #10882.)

The adjustments which w

[2019-10-18 04:40] #10768 closed

[2019-10-18 06:15] 999-Dev commented on #6326
Bug 1 : [Accessibility][Keyboard navigation]: Tool tip of list items in drop down are not accessible with keyboard.
We observe that tooltip information and name of item is same and as discussed this is very low impact.
OS: Version 1903(OS Build 19005.1)
Browser: Edge
URL: https://developer.microsoft.com/en-us/fabric#/controls/web/dropdown
Hence closing the bug.

[2019-10-18 06:36] ecraig12345 commented on #10732
Finally got to look into this. It's actually behaving as expected, but the expectations are not well-documented.

If the styling causing the overflow is limited to **inside the children**, the TooltipHost won't detect that overflow. It only checks for overflow on the TooltipHost element itself (with `Self` mode) or on the TooltipHost's parent element (with `Parent` mode).

Here's a codepen demonst

[2019-10-18 06:41] 999-Dev commented on #6326
Bug 3 : [Accessibility][Programmatic access]: 'Error message' is not associated with the 'Error message example drop down'
We observe that UI has been changed now.
OS: Version 1903(OS Build 19005.1)
Browser: Edge
URL: https://developer.microsoft.com/en-us/fabric#/controls/web/dropdown
Hence closing the bug.

[2019-10-18 06:47] 999-Dev commented on #10600
[Accessibility][Programmatic access]: 'Error message' is not associated with the 'Error message example drop down'
We observe that UI has been changed because there is no "error message example dropdown".
**Build Details:**
OS: Version 1903(OS Build 19005.1)
Browser: Edge
URL: https://developer.microsoft.com/en-us/fabric#/controls/web/dropdown
Hence closing the bug.

[2019-10-18 06:49] 999-Dev commented on #10636
[Accessibility][Programmatic access]: 'Error message' is not associated with the 'Error message example drop down'
We observe that UI has been changed because there is no "error message example dropdown".
**Build Details:**
OS: Version 1903(OS Build 19005.1)
Browser: Edge
URL: https://developer.microsoft.com/en-us/fabric#/controls/web/dropdown
Hence closing the bug.

[2019-10-18 06:55] 999-Dev commented on #6326
Bug 2 : [Accessibility][Usable]: Narrator does not convey the 'Expand/Collapsed' state of 'Basic uncontrolled drop down'.
We observe that screen reader announces the collapse state of the dropdown control.

**Build Version:**
OS: Version 1903(OS Build 19005.1)
Browser: Edge
URL: https://developer.microsoft.com/en-us/fabric#/controls/web/dropdown

Hence closing the bug.

[2019-10-18 07:07] gbminnock commented on #10879
Hi @marygans, sorry I had assumed I needed to be using "image" for that to work. I can confirm that it does indeed work with "icon" also. Thank you.
Gary

[2019-10-18 07:07] #10879 closed

[2019-10-18 11:04] 999-Dev opened #10902 "Dropdown : The luminosity ratio is less than 4.5:1 for 'Disabled example with defaultSelectedKey' text."
**User Experience:**
Low vision user will face difficulty is luminosity ratio of text 'Disabled example with defaultSelectedKey' will be less then 4.5:1.

**Test Environment:**
OS: Version: RS5_Prerelease(1903 OS Build 19005.1)
URL: https://developer.microsoft.com/en-us/fabric#/controls/web/dropdown
Edge Browser Version:
Microsoft Edge: 44.19005.1.0
Microsoft EdgeHTML: 18.19005
Chrome Browser Vers

[2019-10-18 11:16] SyedRehmanRazvi opened #10903 "[Accessibility] Narrator is not announcing position when focus is on expanded elements in "Multi-select uncontrolled" dropdown"
**User Experience:**
Users who rely on screen readers are getting affected as narrator is not announcing position of the expanded elements

**Repro Steps:**
Step 1: Start Narrator
Step 2: Open Fabric UI URL in Edge browser.
Step 3: Navigate to "Multi-select uncontrolled" dropdown available in "Dropdown" page and activate it
Step 4: Verify whether narrator is announcing position (Ex: 1 of 5) when n

[2019-10-18 11:31] 999-Dev opened #10904 "Dropdown : Aria label is not defined for the elements under 'Required Dropdown' usages"
**User Experience:**
Screen reader uses might be face difficulty if aria label should be defined for the elements.

**Test Environment:**
OS: Version: RS5_Prerelease(1903 OS Build 19005.1)
URL: https://developer.microsoft.com/en-us/fabric#/controls/web/dropdown
Edge Browser Version:
Microsoft Edge: 44.19005.1.0
Microsoft EdgeHTML: 18.19005
Chrome Browser Version:
Chrome: 77.0.3865.120

**Usages:**

[2019-10-18 12:52] SyedRehmanRazvi opened #10905 "Panel content is not clearly visible in 400% zoom mode"
User Experience:
Users with low vision are getting affected as the elements in the panel are not clearly visible in 400% mode. Users will face difficulty in identifying the elements in the panel if they are not visible.

Repro Steps:
Step 1: Zoom the page to 400% zoom.
Step 2: Open Fabric UI URL in Edge browser.
Step 3: Navigate to Panel page and open any panel
Step 4: Verify whether all the panel

[2019-10-18 12:53] 999-Dev opened #10906 "Dropdown : Incorrect role is defined for control under the Dropdown pane in code."
**User Experience:**
Screen reader user will be confused if incorrect role is defined for the controls,

**Test Environment:**
OS: Version: RS5_Prerelease(1903 OS Build 19005.1)
URL: https://developer.microsoft.com/en-us/fabric#/controls/web/dropdown
Edge Browser Version:
Microsoft Edge: 44.19005.1.0
Microsoft EdgeHTML: 18.19005
Chrome Browser Version:
Chrome: 77.0.3865.120

**Usages:**
All

Repro

[2019-10-18 14:11] SyedRehmanRazvi opened #10908 "[Accessibility] Date pickers are not accessible using shortcut keys (PageUp, PageDown, Ctrl+PageUp & Ctrl+PageDown"
User Experience:

Users who rely on screen reader are getting affected as Date pickers should be accessible using  shortcut keys.

Repro Steps:
Step 1: Turn on narrator and Open latest fabric Ui URL in Edge browser.
Step 2: Navigate to Date picker page
Step 3: Navigate to any date picker control and verify whether shortcut keys are working.

Actual:
Date pickers are not accessible using  shortcut

[2019-10-18 15:24] mattmazzola commented on #10892
I don't understand your reply. Either I have the wrong `onDismiss` solution and didn't implement it correctly or you didn't watch the video as the item is picked even when using the "onDismiss soluton". The `onDismiss` function isn't called when it should be. Bug 2 listed.

#### What is the `onDismiss` solution you were referring to?
Both the links you provided went to the same issue which I didn'

[2019-10-18 15:44] Friedrikovic opened #10909 "Make pivot item support extra html attributes in props"
#### Describe the feature that you would like added

I'd like the PivotItem component to support custom attributes that would be added as html atttributes when not consumed by the react component. ex with the following data-automation-id attribute:

          <PivotItem
            headerText="My tab item"
            itemKey="key1"
            data-automation-id="automationID"

Many other UI fabr

[2019-10-18 16:11] SyedRehmanRazvi opened #10910 "[Accessibility] Narrator is not announcing values of "Multi-select uncontrolled" ComboBox"
User Experience:
Users who rely on screen readers are getting affected as narrator is not announcing values of "Multi-select uncontrolled" dropdown.

Repro Steps:
Step 1: Start Narrator
Step 2: Open Fabric UI URL in Edge browser.
Step 3: Navigate to "Multi-select uncontrolled" dropdown available in "Dropdown" page and activate it
Step 4: Select 2 or mode check boxes.
Step 5: Verify whether narrato

[2019-10-18 16:52] marygans commented on #10846
Hi @phyllers this is a browser issue due to the browser deciding to not show the native tooltip on disabled controls. Unfortunately, there isn't much we can do about changing that, but we do include the `title` attribute on the disabled dropdown.

[2019-10-18 17:06] #10893 closed

[2019-10-18 17:27] khmakoto commented on #9653
@adityapelluri I don't think we offer any workaround unfortunately.

[2019-10-18 17:53] jlukosky commented on #10795
Navigation elements should semantically be links, not buttons. If other sites are using buttons to navigate to another page or a place in the current page then perhaps they're not correct.

Coloring the buttons yellow indicates the intention that these function as links so why would they not use the correct syntax?

[2019-10-18 17:57] isabelacmor commented on #10732
This makes sense, thank you! The updated docs would be super helpful - it wasn't apparent to me that the overflow prop worked only on the context prop, not on any children nested under the component.

[2019-10-18 18:01] mitch726 commented on #4066
Just wondering whether there is any plan to implement this in the roadmap? We are looking for the same kind of functionality.

[2019-10-18 18:06] khmakoto commented on #10778
There's a lot more discussion about this subject in #8359. But the tldr is that the issue is caused by 3rd party css on the page (UHF styles like Elizabeth mentioned above) so there's not a whole lot we can do about it unless we move to another site.

[2019-10-18 18:18] khmakoto opened #10911 "Remove MWF styles from website"
UPDATE: There's now an option (in internal developer.microsoft.com bootstrap code) to remove MWF styles from the website. Pending a quick look over the site to ensure nothing breaks, we're going to enable this option to fix some current issues caused by MWF and prevent future breaks.

-----

*original text:*

This is a meta issue to track other issues indicating ~~UHF~~ MWF styles in our website m

[2019-10-18 18:19] khmakoto commented on #10911
FYI @Jahnp @kenotron @micahgodbolt

[2019-10-18 18:20] khmakoto commented on #10778
@999-Dev I've started a meta issue in #10911 tracking this type of bugs caused by UHF styles and included this one there. Hence I'll be closing this bug now. Thanks!

[2019-10-18 18:24] #10702 closed

[2019-10-18 18:24] #10820 closed

[2019-10-18 18:24] #10823 closed

[2019-10-18 18:31] shachau opened #10912 "DetailsList selection prop doesn't creates a new object on re render. Also, onSelectionChanged doesn't have access to latest state"
### Environment Information

- **Package version(s)**: "office-ui-fabric-react": "^7.47.0"
- **Browser and OS versions**: (Chromium - Windows 10 Enterprise 1903)

### Please provide a reproduction of the bug in a codepen:

CodePen:  https://codepen.io/akoltz/pen/MWWjoyW?editors=1111

#### Actual behavior:

1) DetailsList selection prop onSelectionChanged() doesn't have access to latest state.
I ha

[2019-10-18 18:38] marygans commented on #10902
Hi @999-Dev thanks for submitting this issue!

I have verified this issue. It looks like disabled `Labels` in general are slotted to `disabledText` in `semanticColors`, and is the cause of this issue. I will talk to designers to see how we will proceed with this.
Thanks!

[2019-10-18 18:46] marygans commented on #10902
Hi @999-Dev  according to accessibility guidelines:
"Text or images of text that are part of an inactive [user interface component](https://www.w3.org/TR/WCAG21/#dfn-user-interface-components), that are [pure decoration](https://www.w3.org/TR/WCAG21/#dfn-pure-decoration), that are not visible to anyone, or that are part of a picture that contains significant other visual content, have no contrast

[2019-10-18 18:59] joschect commented on #10892
@mattmazzola This is definitely an interesting scenario!

First, here is a [codepen](https://codesandbox.io/s/picker-calling-onchange-incorrectly-yne6t)  which does show the suggestions. I think something might have not been working with the filter but I didn't debug too much.

The reason why the second scenario doesn't behave as expected is that some javascript events don't respect preventDefault

[2019-10-18 19:00] #10789 closed

[2019-10-18 19:31] khmakoto commented on #10704
Hi @easy0924, this should be fixed in #10872, however accessibility insights will still flag that as an error as we commented [here](https://github.com/OfficeDev/office-ui-fabric-react/blob/e31ce85a3a128c53d72407af9b865e6fed4697d2/packages/office-ui-fabric-react/src/components/pickers/BasePicker.tsx#L256). Given that, I'll be resolving this as `External`. If there is anything else you want us to d

[2019-10-18 19:37] daxamin commented on #6840
Any updates on this feature?

[2019-10-18 19:48] marygans commented on #10903
@SyedRehmanRazvi thank you for submitting this issue!

I agree that Narrator should announce position when focus is on expanded elements in Multi-select uncontrolled" dropdown It should announce as “Apple checkbox checked/Not checked 1 of 4” the same way the controlled example does.

I have repro's it and will investigate.

Thanks!

[2019-10-18 20:27] marygans commented on #10905
Hi @SyedRehmanRazvi,  thanks for submitting this issue!

You mentioned the narrator's user experience on zoom. What is your expectation for that? It would be helpful as I am attempting to repro.

I was also unable to repro the zooming issue. Do you mind sharing the details of the environment you are experiencing this in?

Thanks!

[2019-10-18 20:42] mattmazzola commented on #10892
Thank you for looking into this.

Let me make sure I understand what you are saying.

1. Dismiss by clicking empty space
The reason it does NOT select the top tag is because the event that triggers dismiss is blurring which does respect `preventDefault()`

2. Dismiss by clicking button
The reason is DOES select top tag is because the event that triggers dismiss is of type "focus" which does NOT re

[2019-10-18 20:57] CharlesgdHill opened #10915 "TagPicker doesn't work well with narrator enabled."
### Environment Information

- **Package version(s)**: Current
- **Browser and OS versions**: Edge, Windows 10

### Describe the issue:
Picker

Issue is that with Narrator enabled on Edge, when you want to navigate the suggestions below the Picker, the narrator steals focus from the Picker text area and puts it into the suggestions drop down, but there's no way back into the Picker text area. You

[2019-10-18 21:01] brandonthomas commented on #4066
Yah we should get on this sooner than later. We need it for WCAG 2.1 compliance.

[2019-10-18 21:05] marygans commented on #10910
Hi @SyedRehmanRazvi  thank you for submitting this issue!

I was able to repro this issue. The selected options in the input box disappears on focus which is also not expected behavior. I will further investigate this issue.

Thanks again for submitting.

[2019-10-18 21:20] marygans commented on #10906
Hi @999-Dev thank you for submitting this issue!
I am unable to repro this using Narrator + Edge. When I focus on the dropdown this is what is announced: "Basic uncontrolled example. Apple Selected. Selection contains 7 items. "
When I expand the dropdown this is what is announced: "Basic uncontrolled example. Apple, 1 of 7 Selected."
I will share a recording for what I am experiencing momentarily

[2019-10-18 21:48] micahgodbolt commented on #4066
adding resizeGroup to this control would make it reasonably easy to achieve this, but it would also cause some issues for any pivot rendered in a flexible container

i.e. if the pivot parent only grows to be as big as the pivot, the resizable pivot will think it ran out of space and not try to grow.

For this reason, it's important that we make this change as an opt in prop for now.

[2019-10-18 21:52] brandonthomas commented on #4066
I'm ok with opt. Could we expose a prop of type ComponentType that renders as the wrapper? This way if someone wants some other component logic or behavior it's possible?

[2019-10-18 21:53] micahgodbolt commented on #4066
we can expose the resizeGroup props and allow people to change the logic of the resizing for sure. We already do that on command bar. If you want to remove icons first, then see if it fits, you can do that before pushing items into the overflow.

[2019-10-18 22:25] marygans commented on #10908
Hi @SyedRehmanRazvi thank you for submitting this issue!

I was able to repro this issue. Im assuming the expectation on behavior should match the [aria example](http://w3c.github.io/aria-practices/examples/dialog-modal/datepicker-dialog.html).

Will ensure this gets added, thanks!

[2019-10-18 22:30] KevinTCoughlin commented on #10766
This Codepen uses `DetailsList` with async data fetching on scroll: https://codepen.io/dzearing/pen/EgqMZq. It utilizes `onRenderMissingItem` prop to determine when to fetch additional items. It then updates the underlying `items` array providing a new object reference causing the List to re-render.

Will an approach similar to that not support the above scenario?

[2019-10-18 22:31] mitch726 commented on #4066
I have used the logic you have in command bar already and that works great so I would be happy to follow the same pattern here.

[2019-10-18 22:34] marygans commented on #10909
Hi @Friedrikovic thanks for submitting this issue!

I see that this is a dupe of this open issue: #10642. Feel free to ping the conversation with your perspective and insights!

Thanks!

[2019-10-18 22:34] #10909 closed

[2019-10-18 23:00] marygans commented on #10906
Below is the the Narrator output captured from Narrator Buddy. As you can see, the output is different from what you have expressed and the actual behavior is expected.

Output:

Basic uncontrolled example, Apple selected, selection contains <say-as interpret-as="spell">7</say-as> items,
Basic uncontrolled example, Apple, <say-as interpret-as="spell">1</say-as> of <say-as interpret-as="spell">7</s

[2019-10-18 23:19] marygans commented on #10915
Hi @CharlesgdHill, thanks for submitting this issue!
I am unable to repro this issue you mentioned of not having the ability to cancel the selection of an item. I am also able to move between tags (See below):
![tagpicker](https://user-images.githubusercontent.com/38991459/67133607-70cddd80-f1c2-11e9-8651-0889bb19d898.gif)

After activating the suggestions, the narrator moves focus back to the inp

[2019-10-18 23:27] marygans commented on #10904
Hi @999-Dev thank you for submitting this issue!

I was able to repro and confirm that this is correct - there should be an `aria-label ` present on the control even if there isn't a label present.

I will ensure this gets fixed.
Thanks!

[2019-10-18 23:50] marygans commented on #10912
Hi @shachau, thanks for submitting this issue!

I spoke to @KevinTCoughlin offline and he mentioned that every time a new object is created, components dependent on it will re-render as well. He is investigating what would be the best approach for this issue and will get back to you.

Thanks!

[2019-10-19 00:00] #10890 closed

[2019-10-19 00:00] #10003 closed

[2019-10-19 00:30] easy0924 commented on #10704
@khmakoto Thanks for the fix and the note.

[2019-10-19 01:00] #9999 closed

[2019-10-19 01:00] #9970 closed

[2019-10-19 19:00] #10902 closed

[2019-10-20 01:34] ecraig12345 commented on #10745
Looking at the styles, `min-width` of BasePicker is set to 180px.
https://github.com/OfficeDev/office-ui-fabric-react/blob/501065930ba3f51355f521857e01d921838ab370/packages/office-ui-fabric-react/src/components/pickers/BasePicker.styles.ts#L38

It's been that way for at least a couple years, but I'm guessing it was an intentional design decision at some point, and pickers are just not meant to be

[2019-10-20 01:35] ecraig12345 commented on #10744
Opened PR #10917 with the fix.

[2019-10-20 01:56] ecraig12345 commented on #10757
Reiterating the current behavior for how to access "Load all" with the keyboard:
- When there are *no* suggestions, press tab (from inside the text field)
- When there *are* suggestions...no way to get there (arrowing skips back to the first suggestion, and pressing tab completes a suggestion)

The solution that makes the most sense to me here is to make "Load all" focusable **only** using arrow k

[2019-10-20 10:58] Joouis opened #10918 "Panel can be embedded to parent container and inherit parent's height"
#### Describe the feature that you would like added

Hi, currently Panel component overlays the whole DOM and its top height is always the top of window, this does matter when we have dynamic message bars at top. We want the panel as part of content instead of whole page, but so it's diffcult to calculate and update the latest height of panel, just like this.

![image](https://user-images.githubus

[2019-10-21 05:31] 999-Dev commented on #10906
Hi, @marygans
Can you please refer the attachment which I have shared with you that what narrator announces when focus moves to the control. Still narrator announces the same.

[2019-10-21 05:39] 999-Dev commented on #10782
Hi @khmakoto,

Agreed, But this issue is repro'ing through out the controls or might be other Fabrics also. It will be good practice if narrator focus and announcement are in sync. Because here what we observe that focus is on text and narrator announces 'Close' button.

Thanks,

[2019-10-21 06:35] SyedRehmanRazvi commented on #10905
Hi @marygans, Its a typo error issue is not for the screen reader user but for low vision users who zoom the page. We have updated the bug accordingly.

Thanks in Advance

[2019-10-21 07:12] SyedRehmanRazvi commented on #10905
Hi @marygans We have validated the issue in the below URL:
https://fabricweb.z5.web.core.windows.net/oufr/7.53.0/#/examples/panel
Below is the test environment and display settings details:
Windows OS Version: Version 1903 (OS Build 19002.1002)
Browser: Edge
Edge Browser Version: Microsoft Edge 44.19002.1.0
Display resolution : 1366*768
We have also verified in the below resolution:
Display resolu

[2019-10-21 08:11] GayathriSNS123 opened #10919 "CommandBar items moving to overflow sometimes, working properly only on re render."
### Environment Information

- **Package version(s)**: ^6.208.0 || ^7.48.0
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

Menu items moving into overflow items when clicked again and again.
#### Expected behavior:

Menu items and overflow items should be separate
### Priorities and help requested:

Are

[2019-10-21 09:03] malmil opened #10920 "Multiple lines/description in ChoiceGroup"
#### Describe the feature that you would like added

It would be a really nice feature to have multiple lines on the radio group for use-cases where you need a description to the radio option. Personally I would prefer a solution where you can pass it with the options like this:

[code]

#### What component or utility would this be added to

ChoiceGroup

#### Have you discussed this feature with o

[2019-10-21 11:12] DikshaGargMS commented on #10877
Hi @marygans, Is there any ETA for this work item?

[2019-10-21 12:24] 999-Dev opened #10921 "Dropdown : 'Fruits' and same for 'Vegetables' not associated with the items under the combo box."
**User Experience:**
Screen reader users will face difficulty if labels are not associated with the items under combo box control.

**Test Environment:**
OS: Version: RS5_Prerelease(1903 OS Build 19005.1)
URL: https://developer.microsoft.com/en-us/fabric#/controls/web/dropdown
Edge Browser Version:
Microsoft Edge: 44.19005.1.0
Microsoft EdgeHTML: 18.19005
Chrome Browser Version:
Chrome: 77.0.3865.

[2019-10-21 13:02] 999-Dev opened #10922 "Dropdown : Screen reader focus is not visible while navigating items after activating the 'Basic uncontrolled example' control."
**User Experience:**
Screen reader users will be confused if focus will not be visible after activating the control and navigating by using up and down arrow keys.

**Test Environment:**
OS: Version: RS5_Prerelease(1903 OS Build 19005.1)
URL: https://developer.microsoft.com/en-us/fabric#/controls/web/dropdown
Edge Browser Version:
Microsoft Edge: 44.19005.1.0
Microsoft EdgeHTML: 18.19005
Chrome Br

[2019-10-21 16:00] jdhuntington commented on #10918
@Joouis This request makes sense. How urgent is this feature for you? Also, are you interested in submitting this feature as a PR?

[2019-10-21 16:10] jdhuntington commented on #10919
Hi @GayathriSNS123 - Thanks for the report. I created a codepen with your code here ( https://codepen.io/jdh-msft/pen/gOOgMmX?editors=0010#0 ), but unfortunately I was unable to reproduce your issue. Would you be willing to fork, edit, then send a link? Thanks!

[2019-10-21 17:05] jdhuntington commented on #10920
Hi @malmil - thanks for the request. This makes sense, and I think this would look good.

Are you interesting in submitting a PR which adds this feature?

Also cc'ing @betrue-final-final and @ecraig12345 for comments/context.

[2019-10-21 17:18] jdhuntington commented on #10921
Hi @999-Dev , thanks for the feedback. I agree that narrator does not mention the relation of "Apple" to "Fruits" in this example. I also checked the native controls with `select`, `option`, and `optgroup` and found narrator's behavior to be nearly identical.

What would you like to hear from narrator in this example?

[2019-10-21 17:23] cliffkoh commented on #10922
This looks like a regression, checking

[2019-10-21 17:28] khmakoto commented on #10782
@999-Dev I understand your point, but there is not a whole lot we can do here since there isn't anything in how we're developing the components that is causing this, but rather the behavior of Narrator on Edge itself. Hence the reason I'm classifying this as `External`.

[2019-10-21 17:52] joschect commented on #10892
@mattmazzola Your understanding of the preventDefault issue is correct. As far as I know it is not a browser bug and is expected behavior, albeit not very documented. I'm a little surprised but [wikipedia](https://en.wikipedia.org/wiki/DOM_events) seems to have a good list as to what's cancelable and what's not.

getTextFromItem is mostly for display purposes, but I'm not sure if it was being used

[2019-10-21 19:00] #10800 closed

[2019-10-21 19:00] #10796 closed

[2019-10-21 19:00] #10759 closed

[2019-10-21 19:02] mahajanchetnaC opened #10923 "In Multiline TextField screen reader not able to read the input text value"
Environment Information
It was repro at Chrome

Describe the issue:
In case of TextField is multiline, Narrator does not read textfield input value the way it reads in Basic TextFields

Repro Steps:
1. type any message and re-navigate on the text.
2. Verify the speech of screen reader when focus lands on the text should read the value
-->

Actual behavior:
In case of TextField is multiline, Narrat

[2019-10-21 19:31] joschect commented on #10757
@ecraig12345 It looks like there is a bug somewhere in suggestions. It should be selecting the "search for more" when you press arrow down but for some reason it isn't. I think having load all be focusable when you tab if there is nothing selected is alright behavior for now. The bigger problem is that you can't reach it by arrowing.

[2019-10-21 19:37] joschect commented on #10745
@ecraig12345 It was just a default value that was chosen. It can be overridden if the consumer wishes to have a smaller picker, but generally it needs a fair amount of space to fit both the tags and text field. This by design seeing as the user can change the styles to their liking.

[2019-10-21 19:43] joschect commented on #10745
@HarryGifford here is a [link to a codepen](https://codepen.io/slimemold/pen/WNNRpPw) that shows how you can limit the text fields size.

[2019-10-21 20:36] khmakoto commented on #10586
The section described in this is no longer existing in our examples page, so I'll close this bug accordingly.

[2019-10-21 20:36] #10586 closed

[2019-10-21 20:37] khmakoto commented on #10587
The section described in this is no longer existing in our examples page, so I'll close this bug accordingly.

[2019-10-21 20:37] #10587 closed

[2019-10-21 20:49] jdhuntington commented on #10923
Hi @mahajanchetnaC - Sorry you are encountering this issue. Unfortunately, I am unable to reproduce the behavior you are describing. I created this demo https://codepen.io/jdh-msft/pen/MWWJoKL and it seems that the native textarea and multiline text are behaving the same way. I've tried in both chrome and edge, and see consistent behavior.

If your scenario is different, would you be willing to fo

[2019-10-21 21:12] khmakoto commented on #10803
Hi @999-Dev, thanks for filing this issue! This is actually by design since we have specified that the `ChoiceGroup` is required, which leads to every radio button in the group to read the required prop. I hope this makes sense, but if it doesn't please let me know! In the meantime I'll be resolving this as `By Design`. Thanks again!

[2019-10-21 22:24] joschect commented on #10776
@ecraig12345 and @Zhephyr54 this is by design, the callout is really only supposed to be shown on screen. It defaults to positioning itself within the window. If you want to provide an alternative bounds to allow the callout to position outside of the visible window, you can through the bounds property. I modified your [codepen](https://codepen.io/slimemold/pen/PooWJww?editors=1111) to do that her

[2019-10-21 23:31] joschect commented on #10821
This no longer repros on the main page, the document picker does have a label now. Closing this as it is no longer relevant.

[2019-10-21 23:31] #10821 closed

[2019-10-22 00:31] #10744 closed

[2019-10-22 01:11] brandonthomas commented on #10891
@paulgildea or @marygans are there other issues you can point me to for tracking?

[2019-10-22 01:27] jieqiu0129 commented on #10875
Any update?

[2019-10-22 02:00] #10738 closed

[2019-10-22 02:35] dzearing commented on #9463
@Raghurk I'm going to assume this is a bug. I will remove the needs triage flag and replace with the right labeling. Feel free to adjust as needed.

[2019-10-22 02:36] dzearing commented on #10793
@lorejoh12 can you validate if this is a real issue/concern?

If so please adjust the labels accordingly. Thank you!

[2019-10-22 04:56] malmil commented on #10920
@jdhuntington
Thanks for the quick response!
I'll gladly make a PR for a suggestion for this

[2019-10-22 05:31] 999-Dev commented on #10921
Hi @jdhuntington,
I just want narrator should convey the information about the 'Fruits', So that user can easily understand that we are navigating the 'Fruits'. Same as for 'Vegetables'.

[2019-10-22 07:25] Joouis commented on #10918
Hi @jdhuntington, thanks for your reply. Our production is near public preview, probably this end of month. I know it's too hurry to support the feature, so I get top offset of a fixed parent for panel as a workaround, but it's not always working all time. Then I opened a issue here.

I do have interest in submitting this feature, but no buffer left recently. I can look into it in December if this

[2019-10-22 07:32] 999-Dev opened #10931 "Dropdown : Screen reader does not announce the error message is displaying after activating the 'Show error message' control"
**User Experience:**
Screen reader users will be confused if screen reader will not read the error message which is appeared after activating the 'Show error message' control.

**Test Environment:**
OS: Version: RS5_Prerelease(1903 OS Build 19005.1)
URL: https://developer.microsoft.com/en-us/fabric#/controls/web/dropdown
Edge Browser Version:
Microsoft Edge: 44.19005.1.0
Microsoft EdgeHTML: 18.190

[2019-10-22 09:52] 999-Dev opened #10932 "Dropdown : Value of combo box control for required fields automatically selected while navigating first time by using Tab key."
**User Experience:**
It will impact the functionality if the combo box if, required field value is selected automatically while navigating the control first time by using Tab key.

**Test Environment:**
OS: Version: RS5_Prerelease(1903 OS Build 19005.1)
URL: https://developer.microsoft.com/en-us/fabric#/controls/web/dropdown
Edge Browser Version:
Microsoft Edge: 44.19005.1.0
Microsoft EdgeHTML: 18

[2019-10-22 11:51] 999-Dev opened #10933 "Dropdown : After activating the 'Set Focus' button, focus moves to 'Required dropdown example' combo box."
**User Experience:**
User will be confused if after activating the 'Set Focus' button, focus directly moves to 'Required dropdown example'.

**Test Environment:**
OS: Version: RS5_Prerelease(1903 OS Build 19005.1)
URL: https://developer.microsoft.com/en-us/fabric#/controls/web/dropdown
Edge Browser Version:
Microsoft Edge: 44.19005.1.0
Microsoft EdgeHTML: 18.19005
Chrome Browser Version:
Chrome: 7

[2019-10-22 12:12] GayathriSNS123 commented on #10919
Sure, I will get back to you in couple of days.
Thank you!

From: JD Huntington <notifications@github.com>
Sent: Monday, October 21, 2019 9:41 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Gayathri SNS <Gayathri.SNS@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] CommandBar items moving to overflow somet

[2019-10-22 15:58] #10746 closed

[2019-10-22 16:14] jdhuntington commented on #10932
Hi @999-Dev - I understand that the dropdown does not automatically select an option when first focused via tab. However, it seems like selecting an option at random makes the experience worse for keyboard users. Can you point to prior art or similar components where this is the expected behavior?

[2019-10-22 16:19] jdhuntington commented on #10933
Hi @999-Dev - The purpose of the "Set Focus" button is to demonstrate how to control focus programatically. Thank you for the feedback, but this control is working as intended.

[2019-10-22 16:19] #10933 closed

[2019-10-22 16:52] mahajanchetnaC commented on #10923
Thank for responding back. And I agree in your codepen both of them are behaving same. But we have a bug opened in our part where the Text area screen reader should read the input value.
So  basically when you install JAWS screen reader on the machine and then go to below link:
https://developer.microsoft.com/en-us/fabric#/controls/web/textfield
Type text example "Test Screen Reader" in the standa

[2019-10-22 18:00] lorejoh12 commented on #10793
It's a minor one. Right now we have the buttons in the grid with role="gridcell". According to the w3c standards, https://www.w3.org/TR/wai-aria-practices/examples/grid/dataGrids.html, just by using role=grid on the table, we shouldn't need the gridcell role at all, but if we don't use it, Edge with Narrator will not read out which row/column the cell you focus is on.

With some limited testing, i

[2019-10-22 18:12] khmakoto commented on #10825
This issue does not reproduce anymore as can be seen in the screenshots below:

### High Contrast Black

__Before:__
![image](https://user-images.githubusercontent.com/7798177/67315977-80983b00-f4bc-11e9-923c-3c34ffb4923c.png)

__After:__
![image](https://user-images.githubusercontent.com/7798177/67315965-7c6c1d80-f4bc-11e9-8e39-4917be6d0dde.png)

### High Contrast White

__Before:__
![image](http

[2019-10-22 18:12] #10825 closed

[2019-10-22 18:17] jdhuntington commented on #10931
Thanks, I believe this needs an alert.

[2019-10-22 18:53] #10757 closed

[2019-10-22 20:15] jdhuntington commented on #10923
Thanks @mahajanchetnaC - in your original issue you mentioned Narrator as well; can you confirm if this issue exists in JAWS, Narrator, or both? Also, would you be willing to make an example on Codepen.io that exhibits the issue? There are several factors on developer.microsoft.com that make triangulating issues more difficult.

[2019-10-22 20:51] HarryGifford commented on #10745
Thanks for the work around. We can certainly override it in our code.

[2019-10-22 20:51] #10745 closed

[2019-10-22 20:59] dPJinjo opened #10936 "Toggle content can render outside of its bounds if label is unbreakable and long"
### Environment Information

- **Package version(s)**: "office-ui-fabric-react": "7.6.0"
- **Browser and OS versions**: Chrome Version 77.0.3865.120 (Official Build) (64-bit) - Windows 10 Enterprise 64-bit (10.0, Build 18363) (18362.19h1_release.190318-1202)

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/dPJinjo/pen/QWWpyGX

CSS
[code]

JS
[code]

Result
![image](ht

[2019-10-22 21:39] jdhuntington commented on #10936
Thanks for the concise repro @dPJinjo - will figure out the right way to resolve this.

[2019-10-22 21:55] varunch7 commented on #10449
Thanks @Jahnp  for the update! The icon parity should mitigate this issue. But right now, we get the Fabric core styles by importing `Fabric.min.css` using
`import 'office-ui-fabric-react/dist/css/fabric.min.css'`
This still points to v10.1.0 since the version bump to v11 does not seem to have been checked into master yet for it to be consumed.
There do not seem to be any issues tracking this as o

[2019-10-22 22:14] ecraig12345 opened #10937 "Live editor shows errors for some examples/in some browsers"
Some of the examples still aren't working in the live editor, primarily giving the [invalid hook call error](https://reactjs.org/docs/error-decoder.html?invariant=321) (example: [MessageBar](https://developer.microsoft.com/en-us/fabric#/controls/web/messagebar)).

I've also consistently seen "Unexpected usage" errors in Edge, which typically means there was an issue creating the web workers.

[2019-10-22 22:35] 104error opened #10938 "Callout unexpected behavior when use backdrop-filter attribute."
### Environment Information

- **Package version(s)**:  7.34.0
- **Browser and OS versions**:  Version 77.0.3865.120 (Official Build) (64-bit)
Windows 10

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/104error/pen/dyyvMzL

#### Actual behavior:

Click button and move mouse at same time. Some time the menu turns solid black.
I tested this  backdrop-filter attribute i

[2019-10-22 23:22] jdhuntington commented on #10938
Hi @104error - sorry you're hitting this issue. I am afraid I have been unable to reproduce in either Chrome or Edge.

Few questions:
- When you are clicking and moving the mouse at the same time, is the menu open or closed?
- Are you clicking menu items or the button itself?
- What browser are you using?

If you are able to post a short recording of the issue that would help as well.

[2019-10-22 23:49] 104error commented on #10938
Posting a gif

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: JD Huntington <notifications@github.com>
发送时间: Tuesday, October 22, 2019 4:22:39 PM
收件人: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
抄送: Bingyang Zhao <Bingyang.Zhao@microsoft.com>; Mention <mention@noreply.github.com>
主题: Re: [OfficeDev/office-ui-fabric-react] Callout un

[2019-10-22 23:50] bcoard opened #10939 "List items aren't announcing position in set"
### Environment Information

- **Package version(s)**: All
- **Browser and OS versions**: All

### Describe the issue:

List items don't announce where they are in the set. E.g. "2 of 10".

### Please provide a reproduction of the issue in a codepen:

1. Load any list. The one in the Fabric demo page will do.
2. Turn on Narrator.
3. Navigate to a list item.

#### Actual behavior:

Narrator doesn't

[2019-10-22 23:52] 104error commented on #10938
![demo4](https://user-images.githubusercontent.com/55766683/67344209-48a8ec00-f4ec-11e9-9ab8-f57def2d6cf2.gif)

[2019-10-22 23:54] 104error commented on #10938
Hi JD,
A gif is uploaded.

  1.  the menu is opened
  2.  the button itself
3. I was doing it in Chrome.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: JD Huntington <notifications@github.com>
Sent: Tuesday, October 22, 2019 4:22:39 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Bingyan

[2019-10-22 23:56] bcoard commented on #10939
Something I noticed, if you use narrator commands (e.g. CAPS + RIGHT) to navigate the UI you'll ultimately get to a point that announces the correct information. If you only use keyboard commands (e.g. UP or DOWN), though, that information is no longer announced.

My understanding is that screen reader users generally use keyboard commands more frequently than Narrator commands.

[2019-10-23 00:51] jdhuntington commented on #10938
Thanks for the gif - that's very helpful. I am able to repro in both chrome and edge beta.

Notes for myself: I am able to consistently repro by dragging across the button as if I am highlighting the text, then releasing while still on the button. I have discovered that the issue only exists when there is a `backdropFilter` specified; it does not appear to repro otherwise.
Next steps: See if there

[2019-10-23 01:14] 104error commented on #10938
I actually have several code pen testing in native DOM if you wanna reference to. With animation and changing display it appears to be pretty stable. Thats why I am curious if something special is happening in fabric.

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: JD Huntington <notifications@github.com>
发送时间: Tuesday, October 22, 2019 5:51:25 PM
收件人: OfficeDev/of

[2019-10-23 01:17] 104error commented on #10938
https://codepen.io/104error/pen/GRRNJwE

[2019-10-23 01:38] 104error commented on #10938
Posted my code pen for native DOM.
Another strange thing:
backdrop filter should work when set to callout root or calloutMain.
But if I put this to calloutMain which is a child to callout root and set root to be transparent.
It does not apply blur at all.
See it in:
https://codepen.io/104error/pen/dyyvMzL

[2019-10-23 03:51] dzearing commented on #10804
Is there any way we can reproduce it?

@anubhavagg147  It seems that perhaps there is some sort of race where tabindex is not set anywhere within the new detailslist. I'd inspect the dom in the good and bad case and see if tabindex is -1 in one case and 0 in another.

[2019-10-23 04:41] dzearing commented on #10804
I figured out the bug!

When the page loads initially, CommandBar is the first component to mount which contains a FocusZone. On FZ mount, there is this code:

[code]

This code basically hooks up the first "outer" zone to the tabindex fixing code. This is only applied to the first zone on the page.

When you navigate, the command bar gets unmounted, and the event handler is unhooked prematurely.

[2019-10-23 06:55] jtripathi226 opened #10942 "Dialog not closing on escape button press"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Describe the issue:

We have used dialog for recurrence and expect it to close when the user pressed escape. Currently escape in not handled in the component.

#### Actual behavior:
Dialog does not close on escape

#### Expected behavior:

Dialog should close on es

[2019-10-23 10:01] hilach70 opened #10945 "Limiting the title length of a dialog"
Hi!

Is there any possible way of limiting the width of the title and the content of a dialog with a different limit than the one for the entire dialog?

Thanks!

[2019-10-23 10:15] JandersonConstantino commented on #10874
Hi, this will go to be developed?

[2019-10-23 11:28] #10945 closed

[2019-10-23 11:29] hilach70 commented on #10945
In case someone else needs to solve this issue- it is possible to add a JSX element as the title, and then include the styling in the element.

[2019-10-23 12:28] sakulshr opened #10947 "Teams Brand icon not present in Fabric icons"
I see that there are brand icons for Word in fabric.css (.ms-BrandIcon--word.ms-BrandIcon--icon16). The same is true for Excel, PowerPoint, and Outlook. However, I do not find any Teams brand icons.

[2019-10-23 14:08] mYokha opened #10949 "Pickers should have a `placeholder` prop"
#### Describe the feature that you would like added

Add placeholder prop

#### What component or utility would this be added to

Pickers

[2019-10-23 15:18] dzearing commented on #10266
Just coming back to this. I tried not using I prefixes and run into naming concerns a bunch.

For example, we have `Button` component, and `IButton` imperative interface. We need a new convention for imperative interfaces. `ButtonAPI` ?

To me I keep thinking of the prefix as a private indicator. It expresses intent; don't use this thing as a new'able resource. It is the type safety that typescrip

[2019-10-23 16:33] jdhuntington commented on #10942
Hi @jtripathi226 - Sorry you're encountering this issue. I believe the Dialog does handle escape and dismiss (as seen on https://fabricweb.z5.web.core.windows.net/oufr/7.54.1/#/examples/dialog ). Are you able to put a small repro of the issue you're encountering together and host it on codepen.io?

[2019-10-23 18:07] #10804 closed

[2019-10-23 18:13] jdhuntington commented on #10947
Hi @sakulshr - Can you clarify if you are using office-ui-fabric-react and the react `<Icon>` control, or are you using fabric.css and pulling styles directly?

I believe the teams logo exists in the react package. If you are using fabric.css, it looks like that was recently added ( https://github.com/OfficeDev/office-ui-fabric-core/pull/1195 ), though it is developed in a different repository.

P

[2019-10-23 18:16] jdhuntington commented on #10949
Thanks for the request @mYokha . This is a good idea, though I'm not sure where it will fall on the list of priorities. Are you interested in sending a pull request which adds this prop?

[2019-10-23 18:18] jdhuntington commented on #10949
@joschect pointed me in the direction of this example https://codepen.io/slimemold/pen/LYYWMZW which uses the `inputProps` prop to target the placeholder property of the underlying input. Does this help accomplish what you are after?

[2019-10-23 18:28] CharlesgdHill commented on #10915
@marygans Hey, I was able to repro this in the codepen provided. I've included a gif with the on-screen keyboard. Can you look at it and see if this should be reopened?
![TagPicker](https://user-images.githubusercontent.com/44102734/67422882-2795d900-f588-11e9-9ad4-e6a89f565c39.gif)

[2019-10-23 19:02] HarryGifford opened #10950 "Fabric common-js files import es module files"
### Environment Information

- **Package version(s)**: office-ui-fabric-react 7.54.1
- **Browser and OS versions**: Not relevant.

### Please provide a reproduction of the bug in a codepen:

Not a codepen repro, but see this [repo](https://github.com/HarryGifford/FabricJestTestImports) to demo this issue.

#### Actual behavior:

common-js files reference modules which causes Jest and Node to fail

[2019-10-23 19:24] jgage176 opened #10952 "Office UI Fabric site does not work well in High contrast"
Switching to high contrast (I used the black one) the site had many accessibility issues, failing MS accessibility standards. Here are some of them I have seen and captured:

1. Pictures on left navigation for iOS and Android do not have enough color contrast:

![image](https://user-images.githubusercontent.com/29739628/67426580-3c299f80-f58f-11e9-9455-d183db68b08e.png)

2. Active and focus button

[2019-10-23 19:37] jgage176 opened #10953 "Dropdown keyboard selection in high contrast selection issues"
Dropdown support for high contrast, specifically for selecting using the keyboard to select items does not make the selection clear. Here are some examples:

On the main site (https://developer.microsoft.com/en-us/fabric#/controls/web/dropdown) selection and current focus look like this:
![image](https://user-images.githubusercontent.com/29739628/67427686-7005c480-f591-11e9-86a3-6754965d5e4a.png)

[2019-10-23 20:23] jdhuntington commented on #10939
@bcoard Thanks for the report. Will dig into this issue this week.

[2019-10-23 20:24] jdhuntington commented on #10950
Thanks for the concise repro. Will dig into this this week.

[2019-10-23 20:26] jdhuntington commented on #10952
Thanks for the report. Will dig into this this week.

[2019-10-23 20:27] jdhuntington commented on #10953
Thanks for the report. Will dig into this issue this week.

[2019-10-23 20:34] KevinTCoughlin commented on #10875
@jieqiu0129, the following _selectable_ `DetailsList` example does not invoke `onSelectionChanged` when an anchor link rendered in a column cell is clicked: https://developer.microsoft.com/en-us/fabric#/controls/web/detailslist/variablerowheights

Can you employ the same strategy for your use-case?

I'm not sure a prop for this is something we want or have the capacity to add right now. If the abo

[2019-10-23 21:45] romartinms opened #10955 "Extra call to onPendingValueChanged when making selection in combo box"
Issue can be seen from this:
https://codepen.io/romartin/pen/yLLMwpR

I found the behavior stated in version 7.32.0, changing reference to 7.31.0 fixes the issue.

We have some code that responds to onChange and onPendingValueChanged callbacks

What I am observing is that after making a selection we get the onChange callback, immediately followed by onPendingValueChanged. This is regression from p

[2019-10-23 22:59] jdhuntington commented on #10955
Thanks for the description and the repro. Will look at a fix straight away.

[2019-10-23 23:38] ecraig12345 commented on #10950
@kenotron did some work in #10561 which I think should have addressed this, but maybe it's not fully working?

[2019-10-24 00:32] ecraig12345 commented on #10874
Since CSS now has [first-class support for grid layout](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout), we're not likely to implement a component for applying the Fabric Core grid classes at this point.

However, we do have an issue #5418 for adding a component which encapsulates the built-in CSS grid. No current ETA for when we'll get that done, but it's definitely on our radar

[2019-10-24 00:32] #10874 closed

[2019-10-24 00:35] jdhuntington commented on #10955
Note for myself: the transition from 31 -> 32 sees the `onPendingValueChanged` callback still invoked, but just _before_ the `onChange` callback. Ideal to put it back the way it was.

[2019-10-24 00:36] ecraig12345 commented on #10891
The most closely related discussion to this one is on #8195 about adding some other properties related to CSS grid. I'm not sure if the arguments against adding those props would apply here. @phkuo or @dzearing would be better people to ask about that.

(We also have an issue #5418 for adding a component that encapsulates CSS grid, but that's of course much larger than just adding properties.)

[2019-10-24 00:46] ecraig12345 commented on #10905
This issue is actually about Panel, not Dialog (I've updated the title and description to reflect that). @marygans You may need to use a smaller window size to repro this--more like small/medium laptop screen size.

[2019-10-24 01:00] #9989 closed

[2019-10-24 01:06] phkuo commented on #10891
#8195 would be the one to refer to. It's up to @dzearing whether we want to do the short term solution now. @micahgodbolt as FYI.

[2019-10-24 02:00] #10870 closed

[2019-10-24 02:00] #8297 closed

[2019-10-24 02:04] ecraig12345 commented on #10908
It's probably best if @lorejoh12 or another calendar team member works on this, rather than taking it on ourselves. They would also be better able to answer whether it's something they intend to support.

[2019-10-24 03:29] ecraig12345 commented on #10778
I'm going to reopen this because I think it's worth fixing even if the fix is less universal than we'd like.

[2019-10-24 05:08] jgage176 commented on #10871
I didn't realize I was supposed to comment on this. This still is a bug. Can it be reopened?

[2019-10-24 08:42] mYokha commented on #10949
@jdhuntington Thanks a lot! The `inputProps` did do the trick.

[2019-10-24 08:56] naicky-whiterain commented on #6221
Hi there, any news?

[2019-10-24 09:41] Toonshorty opened #10958 "Theme Designer - Default text colours are incorrect"
When creating a new theme from the theme designer (https://aka.ms/themedesigner) the default text colour is set to #323130, but the other neutral colours are not being calculated correctly from this value.

#### Actual behavior:

If you create a new Fabric UI project and call the 'getTheme' function the following text colours are set by default:

[code]

When loading the theme builder, the default

[2019-10-24 10:52] Sandhya-aluri opened #10959 "Office fabric DetailedList is not loading inside Accordion body in IE 11 browser on expanding"
![IE-History](https://user-images.githubusercontent.com/48669559/67478742-4d9ba600-f67a-11e9-983d-e036cee2d2d1.png)

### Environment Information

- **Package version(s)**:  "office-ui-fabric-core": "^9.6.1",
				        "office-ui-fabric-react": "~6.162.1",
- **Browser and OS versions**: IE 11 and windows

### Describe the issue:
Office fabric DetailedList is not loading inside Accordion body in I

[2019-10-24 12:57] LukeOwlclaw opened #10960 "Separator in CommandBar missing for enabled actions"
### Environment Information

- **Package version(s)**: starting with office-ui-fabric-react@7.36.0
- **Browser and OS versions**: any

### Please provide a reproduction of the bug in a codepen:

Check out:
https://codepen.io/LukeO/pen/XWWRNXg

And load "office-ui-fabric-react@7.36.0" to see the difference.

#### Actual behavior:

Since office-ui-fabric-react@7.36.0 there is no separator/divider fo

[2019-10-24 13:16] LukeOwlclaw opened #10961 "Name of split item messes up CommandBar"
### Environment Information

- **Package version(s)**: 7.55.0 (latest)
- **Browser and OS versions**: any

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/LukeO/pen/Poombaw

#### Actual behavior:

Adding "Name" and "split: true" to an item of a CommandBar messes up layout.

#### Expected behavior:

All items should be in same row.

### Priorities and help requested:

[2019-10-24 14:38] jdhuntington commented on #10958
Thanks for the report; will get this sorted out.

[2019-10-24 15:25] jdhuntington commented on #10960
Thanks for the repro. Will take a look at this.

[2019-10-24 15:47] micahgodbolt commented on #6221
designs are done, but development is currently on hold.

[2019-10-24 16:31] cph11 commented on #10756
I'd sent a copy of the PDF produced by the "Microsoft Print to PDF" with my last comment, but I can't see it attached anywhere, so I'm including it here.

[codepen.pdf](https://github.com/OfficeDev/office-ui-fabric-react/files/3768580/codepen.pdf)

[2019-10-24 17:55] #10877 closed

[2019-10-24 18:52] KagamiChan commented on #10950
@ecraig12345
I can repro this bug with Create React App, it happends since version 7.54.0, last known good version for me was 7.53.1

[2019-10-24 18:52] KagamiChan commented on #10950
@ecraig12345
I can repro this bug with Create React App, it happends since version 7.54.0, last known good version for me was 7.53.1

[2019-10-24 20:00] #10878 closed

[2019-10-24 20:44] marioliu opened #10963 "Dropdown: Options panel of Dropdown not consistently scrollable on mobile"
### Environment Information

- **Package version(s)**: office-ui-fabric-react@7.52.0
- **Browser and OS versions**: Chrome, Windows/Android

### Please provide a reproduction of the bug in a codepen: [https://codepen.io/marioliu/pen/rNNygam](https://codepen.io/marioliu/pen/rNNygam)

#### Actual behavior:

When opening the Dropdown on a mobile browser (or in Chrome using the device toolbar) and try

[2019-10-24 22:27] jdhuntington commented on #10963
Hi @marioliu - Sorry you're hitting this issue.

I believe the intent of the dropdown is the left-align the flyout and not allow scrolling. The behavior on mobile is an issue that should be fixed, but I don't think we want it to be scrollable.

I'm currently investigating to see if it's possible to pass overrides to the dropdown that will allow rendering of multiline options.

[2019-10-24 23:00] #10764 closed

[2019-10-24 23:00] micahgodbolt opened #10965 "Narrator reads page title when dropdowns open inside of modal/dialog"
Not sure why, but when you open a dropdown inside of a modal or dialog, it first reads off the page title (Codepen - Fabric Example Pen) and then reads the focused element.

https://codepen.io/micahgodbolt/pen/oNNWdqw?editors=0010

[2019-10-25 00:00] #9592 closed

[2019-10-25 00:00] #7619 closed

[2019-10-25 00:52] sabintim opened #10966 "Toggle state is not read by screen readers in IE 11."
### Environment Information

- **Package version(s)**:  master
- **Browser and OS versions**: IE 11, Windows 10

### Describe the issue:

Toggle state (on, off, changes in state) is not read by screen readers in IE 11.

### Please provide a reproduction of the issue in a codepen:
https://developer.microsoft.com/en-us/fabric#/controls/web/toggle
To repro, open the fabric controls demo page in IE 11

[2019-10-25 01:41] ecraig12345 commented on #4613
## Deprecated method inventory

### OUFR
|Name|WRP|WM|WU|Notes|
|----|------------------|----------|-----------|-----|
|Autofill|y|||has special `updateValueInWillReceiveProps` prop…?|
|Calendar|y|||medium: use derived state but cache calculations|
|CalendarDay|y|||easy (use derived state)|
|CalloutContent||y|y|maybe hard|
|Coachmark|y|||maybe hard|
|PositioningContainer||y|y|maybe hard|
|ComboBox

[2019-10-25 01:42] ecraig12345 commented on #4613
Note that I'm not currently working on this, but wanted to share this info in case it's useful to others.

[2019-10-25 01:51] #7364 closed

[2019-10-25 01:58] ecraig12345 commented on #4613
Other categories of outstanding issues (which to reiterate, I'm not currently working on):

### Remove [unexpected side effects](https://reactjs.org/docs/strict-mode.html#detecting-unexpected-side-effects) from render phase lifecycles
Background (copied from earlier comment): Render phase lifecycles (`constructor`, `getDerivedStateFromProps`, `shouldComponentUpdate`, `render`, `setState` updater f

[2019-10-25 02:58] ecraig12345 commented on #10871
I've reopened the issue, but you'll still need to work with the component owner to get it resolved (since this is not one of our official supported components).

[2019-10-25 03:26] ecraig12345 commented on #10880
Related: #10493

[2019-10-25 03:42] NivedhaChellam opened #10968 "Extra empty div class added (which leaves the list with more white space below the last row)"
### Environment Information

- **Package version(s)**: ("office-ui-fabric-react": "^5.43.1",)
- **Browser and OS versions**: (Edge 44.19002.1.0and Chrome 77)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
Lots of white space before the button, which is happening due to the extra div
![image](https://user-images.githubusercontent.com/53238750/67541638-88173a00-f6

[2019-10-25 05:52] DikshaGargMS commented on #10877
Thanks @marygans for fixing the issue. Along with your default version, can you please release it to version 6 as well? We are using 6.204.4 version currently and do not wish to move to version 7 immediately.

[2019-10-25 09:27] LukeOwlclaw opened #10969 "Tooltip opens too late using Edge"
### Environment Information

- **Package version(s)**:  7.55.0
- **Browser and OS versions**: Edge 44.18362.387.0 and IE11

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/LukeO/pen/rNNmoXM

This problem also happens with IE11 (but CodePen does not support IE11)

#### Actual behavior:

Tooltip opens when panel is visible.

#### Expected behavior:

Tooltip should only

[2019-10-25 10:17] LukeOwlclaw commented on #10969
Workaround: Disabled delay: `delay={TooltipDelay.zero}`

[2019-10-25 15:20] micahgodbolt commented on #6840
not on our radar at the moment for core controls

[2019-10-25 15:38] betrue-final-final commented on #10624
The border should also be GrayText

[2019-10-25 17:01] kenotron commented on #10969
In my testing, this happens in a race condition. It is a bug, but a slight one since it is relatively difficult to repro (at least on Edge, maybe more pronounced on IE11). Also, it looks like there's a workaround.

If the workaround is not sufficient, feel free to keep the bug open. Otherwise, please close this issue.

[2019-10-25 17:03] kenotron commented on #10968
Can you please add a repro codepen here? The extra div is actually by design otherwise - to give scroll bar something to scroll to since this is a virtualizing list. If you do not need virtualization, simply render the items yourself without the List component.

[2019-10-25 17:26] kenotron commented on #10965
This appears to happen even without a dropdown (try replacing this codepen with a label and then focus on it)

[2019-10-25 17:44] micahgodbolt commented on #10965
hmm...in my example focusing on the dropdown is fine. it's opening the dropdown that reads the page title. is the focus set to the page momentarily before being placed onto the dropdown items?

[2019-10-25 17:45] kenotron commented on #10966
I've left some comments in the PR before we can accept the change.

[2019-10-25 18:00] #10846 closed

[2019-10-25 19:00] #9653 closed

[2019-10-25 20:24] #10740 closed

[2019-10-25 20:26] KevinTCoughlin commented on #10968
Alternatively, the `onShouldVirtualize={() => false}` prop on `DetailsList` should disable virtualization and remove the need for that DIV. We cannot remove that DIV otherwise as it is there by design for scrollbar height.

[2019-10-25 21:19] NivedhaChellam commented on #10968
Thanks Ken for the details. After Ken's explanation I ended doing the DOM  manipulation and it worked.

Thanks Kevin  `onShouldVirtualize={() => false}` worked well, no need to do the hack.
[code]

[2019-10-25 21:38] jgage176 commented on #10871
Sorry, I am still pretty new to GitHub and to collaborating on Office Fabric and don't know how to do things. How do I work with her except through this issue? I don't see any way to directly talk to her, Can I just tag her here?

@caradong, we have stared using this component in multiple of our projects - I assumed that this was going to progress to production and there was no alternatives for ha

[2019-10-25 21:41] paridhiverma opened #10971 "Grouped list - Need to show parent items with 0 children."
#### Describe the feature that you would like added

In a list there can be a scenario, where there is an item without a child node. Currently all such items are supposed to be grouped under one parent. This is adding one extra click + there is no logical groping possible for such items.

#### What component or utility would this be added to

Grouped list

#### Have you discussed this feature with

[2019-10-25 21:50] ecraig12345 commented on #10871
Usually tagging people should work, but I tried chat messaging her just now (to make sure she saw the tag) and turns out she's on maternity leave with no indication of when she'll be back. I'll try and find out if anyone else from her team can help and get back to you.

[2019-10-26 00:00] #10766 closed

[2019-10-26 15:46] darraghjones commented on #10036
+1

[2019-10-26 19:34] ecraig12345 commented on #10865
Looked into this and probably the issue I ran into before was [this one](https://github.com/microsoft/monaco-editor/issues/1623) (though it's misleadingly named). I submitted a fix (https://github.com/microsoft/monaco-typescript/pull/49) and also found a workaround which will let us upgrade our Monaco version in the meantime.

[2019-10-27 22:44] Katli95 commented on #10687
I too would very much like to be able to set styles on the wrapping div :) My use case is setting the position absolutely in order for the message bar to appear at the top of my container without displacing the other contents of said container.

I am however limited to v6.x as I am using the SharePoint Framework, so not sure if you guys will make the same update to that version. If you do, I'd be

[2019-10-28 08:34] LukeOwlclaw commented on #10969
I find it very easy to reproduce using Edge: Move cursor to button, immediately click, do not move mouse. Works every time for me.

The workaround is not sufficient for me. A slightly better workaround (even though I do not know what side effects it has): `calloutProps={{ doNotLayer: true }}`

But even with this workaround (and also without it) a related problem persists:

- Open https://codepen.i

[2019-10-28 15:40] taurheim opened #10974 "Official support for preact?"
#### Describe the feature that you would like added

Our team uses [preact](https://preactjs.com/) with office-ui-fabric-react which seems to work and drastically reduces our bundle sizes. It would be great to know if there was any plan to officially support preact as an alternative to React in office-ui-fabric.

#### What component or utility would this be added to

All components? Subset of comp

[2019-10-28 16:22] maxwellred commented on #10974
Hi @taurheim ! Thank you for your question and, to my knowledge, I don't believe there's anything in the works for opening support for other Libraries/Frameworks but let me see if there is anything that may not be officially on the roadmap.

[2019-10-28 17:42] maxwellred commented on #10974
Hello again @taurheim I have confirmed that we do not have plans to extend support to other libraries/frameworks. Thank you again for reaching out!

[2019-10-28 18:34] jdhuntington commented on #10971
Hi @paridhiverma - Do I understand correctly that you would like to support an additional group which contains no children?

If so, that does make sense as a feature, though I'm afraid I'm not sure when we would be able to prioritize it. However, if you were to submit a pull request, I'm certain that we would be happy to merge it. Would also be happy to discuss implementation detail.

[2019-10-28 19:00] #10922 closed

[2019-10-28 19:58] jdhuntington commented on #10939
Looking at the example for `List`, I do believe we are setting the proper `list` and `listitem` roles. (See screenshots below).

I can confirm that I am seeing inconsistent behavior (I suspect it is due to our focus zone), but when I put narrator into scan mode I find that the arrow keys narrate the position in set correctly.

Are you finding this behavior with scan mode off or on?

![Screen Shot

[2019-10-28 20:21] marioliu commented on #10963
That works for a desktop view, but not for mobile because the screen size is so limited. What about the scrolling bug? If left and right scrolling were implemented/fixed on mobile, that would solve the issue as well. But, if that can't be done and if it's non-trivial to implement multi-line options, then I guess we'll work on making our strings shorter so they'll fit in the Panel.

[2019-10-28 20:35] paridhiverma commented on #10971
Hi,
The scenario is where few items do not have any parent, but we do not want to group these “orphan” items under any parent.
Currently, the way it is implemented I have two options :
1. Group them under a generic group
2. Each item gets a dummy parent

What we need in this scenario is to have grouped and single items viewable in the same list. Please see the attachment for your reference.
[cid:i

[2019-10-28 20:35] bcoard commented on #10939
Thanks JD. We're expecting the user to mainly use keyboard commands (e.g. TAB, arrow keys, ENTER, etc.) to move around the UI, not Narrator commands (e.g. CAPS + RIGHT, CAPS + ENTER, etc). This has been our baseline for screen reader passes, even in win32.

When we do try using Narrator commands though, we default to scan mode off. This goes for win32 as well.

[2019-10-28 21:01] #10865 closed

[2019-10-28 21:01] #10937 closed

[2019-10-28 21:44] jdhuntington commented on #10939
Makes sense.
In web, list items are not focusable elements (by default). That's why they don't trigger under typical navigation. Scan mode is required to actually focus on the list element.

[2019-10-28 21:47] jdhuntington commented on #10959
Thanks @Sandhya-aluri !

[2019-10-28 21:47] #10959 closed

[2019-10-28 21:49] jdhuntington commented on #10968
Thanks for following up @NivedhaChellam - will close this issue; have a good one!

[2019-10-28 21:49] #10968 closed

[2019-10-28 21:51] #10961 closed

[2019-10-28 21:52] 104error commented on #10938
Ping

[2019-10-28 21:53] bcoard commented on #10939
I'm not sure I follow. Do we not expect users to be able to arrow through the list items? Even with Narrator off I'd expect the user to be able to arrow through the list items. If they can arrow through the items, they should also hear the right information when they get to those items.

[2019-10-28 22:07] maxwellred commented on #10960
@jdhuntington I can grab this one if you don't mind?

[2019-10-28 23:00] #10803 closed

[2019-10-28 23:00] #10782 closed

[2019-10-28 23:26] jdhuntington commented on #10965
@micahgodbolt Can you try loading the debug view and see if it still repros? If I let the iframe gain focus before triggering the popup, I don't hear the title read.

[2019-10-29 02:00] #10776 closed

[2019-10-29 04:29] marygans commented on #10915
@CharlesgdHill thanks for sharing! I will take another stab at reproing this

[2019-10-29 06:17] KagamiChan commented on #10950
Ping

BTW I think this should be a bug because it will block users using Jest or Create-React-App

[2019-10-29 18:28] ecraig12345 commented on #8463
Closing in favor of #8012.

[2019-10-29 18:28] #8463 closed

[2019-10-29 18:35] laiprorus opened #10982 "Panel, allowScrollOnElement on mobile issue."
### Environment Information

- **Package version(s)**: "office-ui-fabric-react": "^6.210.2"
- **Browser and OS versions**: Safari on IPhone

### Please provide a reproduction of the bug in a codepen
https://codepen.io/laiprorus/full/pooWjZw

#### Actual behavior:
The Panel and Overlay components use allowScrollOnElement function from https://github.com/OfficeDev/office-ui-fabric-react/blob/09d5abf

[2019-10-29 18:51] maxwellred commented on #10982
Thank you @laiprorus! I'll look into this shortly and get back to you.

[2019-10-29 19:05] trblandford4 opened #10983 "Multi-select Dropdown title not visible on hover."
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)
Chrome, Firefox, Edge, Safari

### Please provide a reproduction of the bug in a codepen:

Visible in UI Fabric component example: https://developer.microsoft.com/en-us/fabric#/controls/web/dropdown

Exported to codepen:  https://codepen.io/trblandford4/pen/qBBPboE

###

[2019-10-29 19:10] laiprorus commented on #10982
here screenshots of reproduced behavior
https://imgur.com/gallery/emLLZgi
1. zoomed out
2. zoomed in
3-4 red is area that has scrolled blocked, cant scroll vertically or horizontally with finger in this are. green works since this component allows touch events, but fabric code throws errors in console that it cant use e.preventDefault() on this one.

[2019-10-29 19:21] maxwellred commented on #10983
Thank you @trblandford4, I'll be reviewing this shortly!

[2019-10-29 20:07] dzearing commented on #10904
Just a ping on this. :) Seems like a simple example fix.

[2019-10-29 20:11] #10775 closed

[2019-10-29 20:53] #10132 closed

[2019-10-29 21:00] #10923 closed

[2019-10-29 21:47] whykushal93 opened #10985 "FocusZone is not resetting focus alignment when a descendant is set focus externally"
### Environment Information

- **Package version(s)**: Latest
- **Browser and OS versions**: Tested on Chrome, but I think will repro on all browsers.

### Please provide a reproduction of the bug in a codepen:

We have menus with` SwatchColorPicker`s inside them and we have seen weird keyboarding inside them recently. We only noticed it now because the bug is aggravated when we use persisted menu

[2019-10-29 22:00] #10919 closed

[2019-10-29 22:13] aneeshack4 commented on #10958
@Toonshorty I think I might have a fix for this - working on getting a PR out soon, thanks for reporting it!

[2019-10-29 22:31] maxwellred commented on #10985
Thank you, @whykushal93 ! I'll take a look and get back to you.

[2019-10-29 23:27] jamesedjac commented on #10352
@KevinTCoughlin and @lorejoh12 can we get an update on this, we still have an open bug to resolve?

[2019-10-29 23:28] danroth27 commented on #10036
For folks looking for a community solution, check out https://github.com/limefrogyank/BlazorFabric.

[2019-10-29 23:52] KevinTCoughlin commented on #10352
@lorejoh12 can you comment on how to address this issue based on the LoC impacted above in https://github.com/OfficeDev/office-ui-fabric-react/issues/10352#issuecomment-541858641?

[2019-10-30 00:50] ecraig12345 opened #10989 "Add lint-imports rule against root-level OUFR imports"
We should add a rule in the lint-imports script to prevent root-level OUFR imports like the one removed in #10988. The conditions of a "bad" import in this case are:
- File is in OUFR package proper
- File is not an example or test
- The import is `office-ui-fabric-react` alone

We should also consider whether to prevent root-level imports of other packages (and OUFR root imports in other packages

[2019-10-30 09:15] poonam0025 opened #10990 "Cursor is overlapping the combobox in browser zoom"
<!--

Repro steps :
1.Go to link   :  https://developer.microsoft.com/en-us/fabric#/controls/web/combobox.
2. Zoom the browser upto 200% and then minimize browser screen.

3. Click on combobox to see all available options. Now start typing in combobox. typing cursor
is overlapping with combo box option list.

![image](https://user-images.githubusercontent.com/37584638/67844207-5c270900-fb23-11e9-8

[2019-10-30 10:29] bhuvan-iyer commented on #10119
Hi,

What is the status of this bug. Is it fixed ?

[2019-10-30 13:21] KagamiChan commented on #10950
7.56.0 fixed the issue

[2019-10-30 17:38] jdhuntington commented on #10971
Thanks @paridhiverma - that use case makes sense. If you do start designing and implementing, please reach back out and we can discuss what props/API would make sense.

[2019-10-30 18:00] #10942 closed

[2019-10-30 20:09] attiqe commented on #8830
any update on this?

[2019-10-30 22:00] #10875 closed

[2019-10-30 22:23] micahgodbolt opened #10993 "Dropdowns/Combobox: Cannot scroll via touch when housed in Modal"
Due to the [disableBodyScroll](https://github.com/OfficeDev/office-ui-fabric-react/blob/2894062b1d0515055c29061dfc6f586f918ca41c/packages/office-ui-fabric-react/src/components/Overlay/Overlay.base.tsx#L9) called in Overlay, any component housed in a modal/Dialog will have trouble scrolling via touch.

Check out this example. Wheel scroll works, but change to mobile device in inspector and scroll w

[2019-10-30 22:38] gabosom opened #10995 "The Skype logo got replaced with the Skype for Business logo"
### Environment Information

- **Package version(s)**: latest
- **Browser and OS versions**:

### Describe the issue:

The Skype logo was replaced with the Skype for Business logo. We need this change reverted to what it was before.

#### Actual behavior:

Skype Logo

#### Expected behavior:

Skype for business logo

### If applicable, please provide a codepen repro:

### Priorities and help reque

[2019-10-30 22:43] joschect commented on #10993
@micahgodbolt this is the same problem as #8855 Both Katherine and I spent a fair amount of time investigating it and as far as we could tell there is no way to fix this without reverting the change that introduced it in the first place. At this point I think we should consider rolling back the change and allowing background scroll on ios. That seems to be the lesser of two evils in this case.

[2019-10-30 23:15] maxwellred commented on #10993
@micahgodbolt I've been coordinating with @joschect and @aneeshack4 on this #10982 issue and I feel it suffers from the same issue since Panel does not have touch scrolling either. I've noticed that when I change data-is-scrollable to false in the div surrounding the Panel's content (Panel.base.tsx), touch scrolling works.

`<div ref={this._allowScrollOnPanel} className={_classNames.scrollableCont

[2019-10-30 23:26] maxwellred commented on #10995
Hi @gabosom thanks for filing an issue and I'll look into it soon!

[2019-10-30 23:52] lorejoh12 commented on #10352
We need to add a string to the ICalendarStrings interface for "currentDateFormatString", much like the existing "weekNumberFormatString".

Then in CalendarMonth.tsx, we can have the aria-label be set as:
[code]

Two thoughts here.

"Selected date 2019" is pretty ambiguous here. We actually do have a concept of "selected date", when you actually click a day, and it highlights it blue by default. Ju

[2019-10-31 00:00] #10932 closed

[2019-10-31 00:03] KevinTCoughlin commented on #10352
@jamesedjac can you comment on the above as domain expert before we implement a fix?

[2019-10-31 00:29] MSYuanMei opened #10997 "dropdown callout with double scroll bar"
### Environment Information

- **Package version(s)**: v7.56.1
- **Browser and OS versions**:  win10
https://codepen.io/ymei/pen/qBBVdWd?&editable=true
I want to have a maxHeight for the dropdown callout,
when i set a maxHeight(heigher than the window) for the dropdownItemsWrapper, it shows a double scrollbar.

#### Actual behavior:
it shows a double scrollbar.
![image](https://user-images.githubu

[2019-10-31 00:32] maxwellred commented on #10995
Hello again @gabosom. I have spoken with an authority on the icon matter and have been told that the monochromatic monoline OR full color version of the Skype logo both represent Skype for consumer now

[2019-10-31 00:34] maxwellred commented on #10997
Hi @MSYuanMei thank you for filing the issue! I'll take a look at this soon and get back to you.

[2019-10-31 00:40] dzearing commented on #6259
@joschect ping.

[2019-10-31 00:57] maxwellred commented on #10997
Hi again, I simply removed the overflow-x/y (which generate scrollbars). That specific css rule, `dropdownItemsWrapper `, doesn't have those overflows originally so what happened is you added an extra scrollbar by doing the override.

[2019-10-31 01:12] dzearing commented on #10624
@ecraig12345 @micahgodbolt Is this resolved? It still says it needs triage.

[2019-10-31 02:00] #10947 closed

[2019-10-31 02:09] micahgodbolt commented on #10624
bot added needs triage after my self assign and tagging. cleaned up

[2019-10-31 03:53] poonam0025 commented on #10990
Hi Maxwell ,  Issue is repro in Edge browser . Below are steps for repro in code pen .
1. Go to link  `https://codepen.io/poonam0025/pen/MWWOKaO?&editable=true`  .  Zoom browser in 200% .
2. Now expand combo box  and also focus on to combo box for typing.   Combo box text cursor is overlapping with combo box options.

![image](https://user-images.githubusercontent.com/37584638/67917716-ecb32700-fb

[2019-10-31 04:19] ChristopherHaws commented on #6221
Azure DevOps also has a different menu for their Settings pages:
![image](https://user-images.githubusercontent.com/5934505/67918782-fe161800-fb5a-11e9-995e-dc9de5e18cde.png)

[2019-10-31 05:49] joschect opened #10998 "[Accessibility][Programmatic access] ARIA attributes must conform to valid values for 'People picker control'."

[2019-10-31 05:49] #10998 closed

[2019-10-31 05:51] joschect opened #10999 "[Accessibility][Programmatic access] ARIA attributes must conform to valid values for 'People picker control'."

[2019-10-31 05:51] #10999 closed

[2019-10-31 05:53] joschect opened #11000 "[Accessibility][Programmatic access] ARIA attributes must conform to valid values for 'People picker control'."
breakout of #6259

[2019-10-31 05:58] joschect opened #11001 "#!/bin/bash"
Breakout of #6259

[2019-10-31 05:58] joschect opened #11002 "input=$0"
Breakout of #6259

[2019-10-31 05:58] joschect opened #11003 "while IFS= read -r line"
Breakout of #6259

[2019-10-31 05:58] joschect opened #11004 "do"
Breakout of #6259

[2019-10-31 05:58] joschect opened #11005 "hub issue create --assign "joschect" -m "$line" -m "Breakout of #6259""
Breakout of #6259

[2019-10-31 05:58] joschect opened #11006 "done < "$input""
Breakout of #6259

[2019-10-31 05:59] #11001 closed

[2019-10-31 05:59] #11002 closed

[2019-10-31 05:59] #11003 closed

[2019-10-31 05:59] #11004 closed

[2019-10-31 05:59] #11005 closed

[2019-10-31 05:59] #11006 closed

[2019-10-31 06:00] #10724 closed

[2019-10-31 06:05] joschect opened #11007 "[Accessibility][Programmatic access] ARIA attributes must conform to valid values for 'People picker control'."
Breakout of #6259

[2019-10-31 06:06] joschect opened #11008 "[Accessibility][Programmatic access] Certain ARIA roles must contain particular children."
Breakout of #6259

[2019-10-31 06:06] joschect opened #11009 "[Accessibility][Functional] User should not be allowed to add invalid contacts in 'People picker control'. * Wont' fix"
Breakout of #6259

[2019-10-31 06:06] joschect opened #11010 "[Accessibility][Keyboard Navigation] When user navigates ahead from the 'People picker combo box' using tab key first contact in 'Suggested contact' list gets selected by itself."
Breakout of #6259

[2019-10-31 06:06] joschect opened #11011 "[Accessibility][Keyboard Navigation] Arrow key focus moves out of the 'Suggested Contacts' list window in forward and backward navigation."
Breakout of #6259

[2019-10-31 06:06] joschect opened #11012 "[Accessibility][Programmatic access] Role of the 'Process selection contacts' should be menu item."
Breakout of #6259

[2019-10-31 06:06] joschect opened #11013 "[Accessibility][Programmatic access] Narrator does not give any feedback when user selects or deletes any people contact from 'People picker combo box'."
Breakout of #6259

[2019-10-31 06:06] joschect opened #11014 "[Accessibility][Screen reader] Narrator does not convey 'People picker' label when first time user navigates on 'people picker combo box'."
Breakout of #6259

[2019-10-31 06:06] joschect opened #11015 "[Accessibility][Screen reader] When user searches any contact 'Suggested contact' list gets updated about which narrator does not convey anything."
Breakout of #6259

[2019-10-31 06:06] joschect opened #11016 "[Accessibility][Keyboard navigation] With Delay On, When user navigates on 'Suggested contact' using down arrow key focus does not go on first list item."
Breakout of #6259

[2019-10-31 06:06] joschect opened #11017 "[Accessibility][Programmatic access] Contact 'Remove button' does not have name."
Breakout of #6259

[2019-10-31 06:06] joschect opened #11018 "[Accessibility][Keyboard navigation] After Removing any contact from list, Keyboard focus jumps to the 'People picker' control."
Breakout of #6259

[2019-10-31 06:06] joschect opened #11019 "[Accessibility][Keyboard navigation] User is not able to delete contacts in 'People picker combo box' using 'Enter' key. [Duplicated by #5287]"
Breakout of #6259

[2019-10-31 06:06] joschect opened #11020 "[Accessibility][Form and validations] 'Click to Add a person' label is not associated with the first contact list item."
Breakout of #6259

[2019-10-31 06:06] joschect opened #11021 "[Accessibility][Keyboard navigation] After selecting last contact from 'Process selection contact' list, keyboard focus gets trapped somewhere and become invisible."
Breakout of #6259

[2019-10-31 06:06] joschect opened #11022 "[Accessibility][Keyboard navigation] 'Remove' button does not appear in 'Suggested contact list' window on keyboard focus and is also not accessible. [Duplicated by #4816]"
Breakout of #6259

[2019-10-31 06:06] joschect opened #11023 "[Accessibility][Functional] Incorrect label appears when no contacts available to add in 'People picker' combo box."
Breakout of #6259

[2019-10-31 06:06] joschect opened #11024 "[Accessibility][Supporting the Platform] 'Suggested contacts' does not adopt high contrast 'Selected text' setting."
Breakout of #6259

[2019-10-31 06:06] joschect opened #11025 "[Accessibility][Keyboard navigation] 'Selected Contacts' should remove on pressing one single enter key."
Breakout of #6259

[2019-10-31 06:06] joschect opened #11026 "[Accessibility][Usable] 'Auto complete values' gets saved in 'People picker combo box' even if user does not select any value."
Breakout of #6259

[2019-10-31 06:06] joschect opened #11027 "[Accessibility][Usable] Multiple focuses provided on single contact list item in scan mode."
Breakout of #6259

[2019-10-31 06:10] #11000 closed

[2019-10-31 06:10] #11007 closed

[2019-10-31 06:10] #11008 closed

[2019-10-31 06:10] #11010 closed

[2019-10-31 06:10] #11013 closed

[2019-10-31 06:10] #11014 closed

[2019-10-31 06:10] #11015 closed

[2019-10-31 06:10] #11016 closed

[2019-10-31 06:11] joschect commented on #6259
Broken out into smaller issues.

[2019-10-31 06:11] #6259 closed

[2019-10-31 06:27] sagar17sep opened #11028 "Screen reader is reading the "Delete" popup information in one go."
### Environment Information

- **Package version(s)**: 7.24.0
- **OS version:** 1903 (OS Build: 18326.295)
- **Browser:** Edge(Microsoft Edge 44.18362.267.0)

**User Experience:**
If screen reader is reading the entire pop up information in one go while navigating in scan mode, then end user who rely on narrator scan mode might get confused while navigating on popup and will face difficulties to u

[2019-10-31 07:33] sagar17sep opened #11029 "Screen reader is not reading the “Expanded state” for “New page” menu item."
### Environment Information

- **Package version(s)**: 7.24.0
- **OS version:** 1903 (OS Build: 18326.295)
- **Browser:** Edge(Microsoft Edge 44.18362.267.0)

**User Experience:**
If the Expanded  state is not defined for “New page” menu item than screen reader users will not be able to find out the state property of controls and will face difficulties while interacting with it.

**Repro steps:**

[2019-10-31 07:40] sagar17sep opened #11030 "Screen reader is reading the table information when focus is on edit fields but visually not appearing as table present under “text”pane."
### Environment Information

- **Package version(s)**: 7.24.0
- **OS version:** 1903 (OS Build: 18326.295)
- **Browser:** Edge(Microsoft Edge 44.18362.267.0)
- **Screen Reader:** Narrator.

**User Experience:**
If the screen reader is reading the table information while navigating on “Hex ,Red ,Green, Blue, Alpha” edit fields then screen reader dependent users might face difficulties to understand

[2019-10-31 07:46] sagar17sep opened #11031 "Keyboard user is unable to access the “Font color“ Sliders present under “text” pane."
### Environment Information

- **Package version(s)**: 7.24.0
- **OS version:** 1903 (OS Build: 18326.295)
- **Browser:** Edge(Microsoft Edge 44.18362.267.0)

**User Experience:**
If controls are not accessible with keyboard than keyboard user will not be able to access the control and will face difficulties while interacting with it.

**Repro steps:**
1. Open URL "https://make.test.powerapps.com"

[2019-10-31 07:49] neeraj-khanna opened #11032 "[ComboBox] Hidden options are visible using Up/Down keys for selection"
### Environment Information

- **Package version(s)**: latest
- **Browser and OS versions**: All browsers

### Please provide a reproduction of the bug in a codepen:
<https://codepen.io/neeraj-khanna/pen/WNNXxXv>

#### Actual behavior:
Set focus on ComboBox and use Down key to change values. You will find 10 options (Option A to Option J).

Now expand ComboBox using mouse and you will see only 6 o

[2019-10-31 07:53] sagar17sep opened #11033 "Keyboard user is unable to access the “More options“ button under "Pages" pane using tab navigation."
### Environment Information

- **Package version(s)**: 7.24.0
- **OS version:** 1903 (OS Build: 18326.295)
- **Browser:** Edge(Microsoft Edge 44.18362.267.0)

**User Experience:**
If controls are not accessible with keyboard than keyboard user will not be able to access the control and will face difficulties while interacting with it.

**Repro steps:**
1. Open URL "https://make.test.powerapps.com"

[2019-10-31 09:46] satish-singh commented on #8187
@aftab-hassan @msft-github-bot  I am suffering from the same issue while using react fabric. Is this fixed?

[2019-10-31 12:46] KeiraYang commented on #10738
@ecraig12345 Sorry I have to open the bug again. I've found the root cause why ComboBox cannot stop the 'esc' event propagation. I have no solution to fix it now which need your great help. The issue is, when the combobox menu is opened, the event target is not the callout but the input element. Thus the event will bubble to the parent -> ... -> body -> document. As there's event handler assocatie

[2019-10-31 12:49] KeiraYang commented on #10738
@ecraig12345 Are the issue is auto-closed. I cannot re-open it. Could you help reopen it if you can? Thank you

[2019-10-31 14:32] ThreadPitt opened #11034 "Fabric 7: Button hidden:true does not hide button in IE11"
Please see: #10419

It still doesn't work with the latest Fabric 7 version, and no I can't provide a CodePen- CodePen does not work with IE11 - it would work with Chrome but that is again the point of this issue!

I am pretty sure this is a real bug, it all works fine in Chrome but NOT in IE11 (exactly the same code).

Did anyone ever look into this or did you just close #10419???

[2019-10-31 15:00] #10036 closed

[2019-10-31 15:20] micahgodbolt commented on #10993
@joschect i am pretty certain this is a different issue. This one is related to the `disableBodyScroll` function that is called when Overlays are created.  `disableBodyScroll` adds some CSS to the body to hide all overflow (that's fine) but it also disables touchmove event (not good here).

I'd be curious what effect removing the touchmove restriction would have, and if there was a less intrusive

[2019-10-31 15:24] micahgodbolt commented on #10965
Yeah, in debug mode, as soon as I hit enter to open the dropdown, it reads "Codepen - Fabric example"

[2019-10-31 17:01] maxwellred commented on #11032
Hi @neeraj-khanna thank you for the codepen and I see the issue. I'll take a look into this and get back to you.

[2019-10-31 17:29] micahgodbolt commented on #10993
ok. updated #8855 with my findings. I can close this one down.

[2019-10-31 17:29] #10993 closed

[2019-10-31 17:53] maxwellred commented on #11029
Hi @sagar17sep , This issue involves a product, PowerApps, our team neither builds nor maintains. For issues related to our product you are welcome to submit an official issue [here](https://github.com/OfficeDev/office-ui-fabric-react/issues/new/choose) and supplying a codepen demo of the respective control found [here](https://developer.microsoft.com/en-us/fabric#/controls/web) accompanied with t

[2019-10-31 17:53] MSYuanMei commented on #10997
I add that is because I want to set a maxHeight of the dropdown callout(if too long then show the scrollbar), is there any other way to do it?
Because I cannot overwrite callout height/overflow as it is in "style" set by js

[2019-10-31 17:53] maxwellred commented on #11030
Hi @sagar17sep , This issue involves a product, PowerApps, our team neither builds nor maintains. For issues related to our product you are welcome to submit an official issue [here](https://github.com/OfficeDev/office-ui-fabric-react/issues/new/choose) and supplying a codepen demo of the respective control found [here](https://developer.microsoft.com/en-us/fabric#/controls/web) accompanied with t

[2019-10-31 17:54] maxwellred commented on #11031
Hi @sagar17sep , This issue involves a product, PowerApps, our team neither builds nor maintains. For issues related to our product you are welcome to submit an official issue [here](https://github.com/OfficeDev/office-ui-fabric-react/issues/new/choose) and supplying a codepen demo of the respective control found [here](https://developer.microsoft.com/en-us/fabric#/controls/web) accompanied with t

[2019-10-31 17:55] maxwellred commented on #11033
Hi @sagar17sep , This issue involves a product, PowerApps, our team neither builds nor maintains. For issues related to our product you are welcome to submit an official issue [here](https://github.com/OfficeDev/office-ui-fabric-react/issues/new/choose) and supplying a codepen demo of the respective control found [here](https://developer.microsoft.com/en-us/fabric#/controls/web) accompanied with t

[2019-10-31 19:16] laiprorus commented on #10982
i looked more into the issue. Panel applies allowScrollOnElement to its content. And Overlay, that is created by Panel component, calls Fabric.disableBodyScroll after being mounted. Both of these then create events that then block touch scrolling/paning/zooming on mobile devices.
My workaround from original post caused other issues, so i am now looking for something else. I will try to modify fabr

[2019-10-31 19:56] maxwellred commented on #10997
@MSYuanMei Using your example and setting only the maxHeight rule of the container to something very small, 100px, you can see that the component will add the scrollbar by itself in order to scroll the rest of the content.

<img width="241" alt="maxHeight_scrollbars" src="https://user-images.githubusercontent.com/13246181/67981379-bd131780-fbdd-11e9-8752-5074c7b50010.PNG">

[2019-10-31 20:03] maxwellred commented on #10997
@MSYuanMei Using your example and setting only the maxHeight rule, the component will automatically implement scrollbars whether the component's maxHeight and content are taller than the viewport or the maxHeight has been set smaller than the height of the combined content inside.

#### maxHeight smaller than content height
<img width="241" alt="maxHeight_scrollbars" src="https://user-images.githu

[2019-10-31 20:32] khowling commented on #10687
I'd also like to set root styles, my case is the width

[2019-10-31 21:04] KyleBastien opened #11039 "OverflowSet inside of CommandBar uses aria-orientation, even though role is set to 'presentation'"
### Environment Information

- **Package version(s)**: office-ui-fabric-react v7.42.0
- **Browser and OS versions**: Microsoft Edge v79.0.305.0

### Describe the issue:

CommandBar currently creates an OverflowSet and passes in the role of "presentation", you can see this [here](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/CommandBa

[2019-10-31 21:04] jamesedjac commented on #10352
Hi @lorejoh12 and @KevinTCoughlin

I think the core thing we are running into with the label has to do with its function as a button rather than making it clear the the year displayed is the current selection. It needs a label that makes it clear that pressing the button activates a mode that allows you to select the year. Something like "2019, select to change the year". The other controls would

[2019-10-31 21:10] maxwellred commented on #10990
Thank you for the codepen and repro instructions @poonam0025. I'll look into this issue and get back to you.

[2019-10-31 21:36] maxwellred commented on #11039
Thank you @KyleBastien! I'll look into this issue.

[2019-10-31 21:55] vasvi opened #11041 "Combobox: multi-select option cannot be selected by clicking the blank space next to the option"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
In multiselect combobox, the option is only selected if the cursor is directly over/clicks the text or the checkbox.

#### Expected behavior:
If the option is highlighted, the entire high

[2019-10-31 22:20] maxwellred commented on #11041
Thank you @vasvi! I'll take a look at this and let you know.

[2019-10-31 22:44] Rafaelki opened #11043 "DocumentCardActivity - descenders of characters are being cut off by 1 pixel"
### Environment Information

- **Package version(s)**: current
- **Browser and OS versions**: All browsers

### Please provide a reproduction of the bug in a codepen:
The issue is present even in the documentation of DocumentCard:
https://developer.microsoft.com/en-us/fabric#/controls/web/documentcard

#### Actual behavior:
One pixel of the characters g, j, q, p and y is missing both in the activi

[2019-10-31 22:49] maxwellred commented on #10982
Thank you @laiprorus! I'm still investigating this and other filed issues so PRs are always welcome!

[2019-10-31 22:54] maxwellred commented on #10990
Hi @poonam0025 , I've spoken with the codeowner and he suggests passing the "directionalHintFixed: true" value through the Combobox's "calloutProps" props to aid with Issue 2
`<Combobox ... calloutProps={{directionalHintFixed: true}} ... >`. As for the first issue regarding the cursor bleed through, I suggest raising the issue with the Edge team.

[2019-10-31 23:09] maxwellred commented on #11043
Thanks @Rafaelki ! I'm not seeing this issue on my devices (Dell monitors, Mac Book Pro, Surface Pro 3) or in different browsers. I've actually seen screens of varying resolutions and brands cause this type of text clipping or when zoomed in or out of the page.

![Screen Shot 2019-10-31 at 4 05 52 PM](https://user-images.githubusercontent.com/13246181/67992118-cf4e7f00-fbf8-11e9-8e6a-94bf2088a698.

[2019-10-31 23:14] ecraig12345 commented on #10738
Sorry but since mixing React and native events is not a scenario we really support, this is not something I can prioritize investigating or trying to fix. Though if you want to look at the ComboBox code yourself and submit a fix (without regressing the behavior in the primary scenario of React events only), you're welcome to do that.

[2019-10-31 23:55] #10781 closed

[2019-11-01 00:07] MSYuanMei commented on #10997
![image](https://user-images.githubusercontent.com/42685233/67994081-c3ff5180-fc00-11e9-9df3-ef346ce013c2.png)
https://codepen.io/ymei/pen/qBBVdWd
It shows blank with the changes. looks like there is no easy fix for it

[2019-11-01 00:56] #10737 closed

[2019-11-01 01:00] #10995 closed

[2019-11-01 03:06] alanlong9278 opened #11047 "MarqueeSelection: doesn't support horizontal scrolling"
### Environment Information

- **Package version(s)**:  `7.37.1`
- **Browser and OS versions**: Browser

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

When I try to select a bunch of nodes and they are off the screen, the selection doesn't 'scroll' to the right or left. It does allow scroll down, but not left or right.

#### Expected behavior:

It needs support

[2019-11-01 05:00] #10614 closed

[2019-11-01 09:29] ztytotoro opened #11051 "Error: Cannot use import statement outside a module"
### Environment Information

- **Package version(s)**: 7.56.2
- **Browser and OS versions**:

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
[code]
#### Expected behavior:
It can work with the version 7.52.0

I compared the difference between new and old `office-ui-fabric-react\lib-commonjs\components\FloatingPicker\BaseFloatingPicker.js`

There is a line newly a

[2019-11-01 15:35] Rafaelki commented on #11043
Thanks @maxwellred for your quick answer. I checked in different browsers and it was happening in all of them but today I have checked on my colleague's computer and there is no bug there. So definitely it is something in my machine.
Sorry to waste your time and thanks for your good work :)

[2019-11-01 15:35] #11043 closed

[2019-11-01 16:23] #10936 closed

[2019-11-01 16:31] maxwellred commented on #11047
Thank you @alanlong9278 I'll take a look!

[2019-11-01 16:36] maxwellred commented on #11051
Hi @ztytotoro Since you've updated the repo, I'm wondering if perhaps you need to re-install deps with `yarn` and re-build the project with `yarn builddemo` OR `yarn build` ?

[2019-11-01 17:35] #10955 closed

[2019-11-01 18:41] #10983 closed

[2019-11-01 18:41] #10958 closed

[2019-11-01 19:45] ecraig12345 commented on #10952
@jdhuntington Getting rid of the background gradient in high contrast might help fix some of these issues, and is something we should do regardless. The change is as follows (and you should probably do the same in `example-app-base` `_base.scss`)--the important part is the `@include high-contrast`.

[code]

[2019-11-01 20:57] #11032 closed

[2019-11-01 21:03] #10931 closed

[2019-11-01 21:07] jdhuntington commented on #10952
some of these issues tracked at #10911

[2019-11-01 21:08] dPJinjo opened #11053 "Toggle incorrectly states role is "button" and doesn't read on/off state in Chrome based browsers"
### Environment Information

- **Package version(s)**: 7.56.3
- **Browser and OS versions**: Edge 79.0.309.7 (and Chrome) + Narrator; Windows 18363.418

### Describe the issue:

Toggle incorrectly states role is "button" and doesn't read on/off state in Chrome based browsers. Does appear to work correctly in Edge v 44.18362.387.0. Observing UI tree with browser dev tools, it appears like all the c

[2019-11-01 22:15] maxwellred commented on #11053
Thank you @dPJinjo ! I'll look into this and get back to you.

[2019-11-01 22:27] hecerinc opened #11054 "TagPicker: Suggestion box footer (resultsFooter) in Picker (BasePicker) does not show after typing"
### Environment Information

- **Package version(s)**: 7.56.3
- **Browser and OS versions**: Firefox Nighty 71.0a1 on Windows 10

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/domicoh/pen/VwwyPWQ?editors=0011

#### Actual behavior:

Suggestion box footer appears on first mount + focus and then disappears as soon as I type something into the picker input and never c

[2019-11-01 23:38] rkalivarapu commented on #10003
We are also facing this issue, there is no property for "Panel" like titleAriaId that was exposed for Dialog.

Can we have this property exposed for Panel?

[2019-11-02 01:55] phkuo opened #11057 "Bug: flexBasis with Number disappears"
Using flexBasis with a Number doesn't throw an error, but it also doesn't show up in the output. It should default to pixels, like height and padding.

[2019-11-02 02:59] ztytotoro commented on #11051
Thanks for your reply!

I pulled down this repo just want to figure out where the import used and why, I'm not sure of solving this problem my self.

Actually this problem appears in my `next.js` app, I upgraded the packages recently and then it broked. You can find the source code [here](https://github.com/ztytotoro/Blog.Web)

[2019-11-02 15:24] Zoman commented on #2862
I'd appreciate some help on this too.

[2019-11-02 15:51] #8012 closed

[2019-11-02 22:59] khowling opened #11058 "Allow MaskedTextField to format IP address, requires optional feaure"
#### Describe the feature that you would like added

I would like to MaskedTextField to mask IP addresses and CIDRs.
This would need to allow a mask of 999.999.999.999, but also some are only 1or 2 digits, for example 192.169.0.10.  This user experience is currently not great, I cannot create a masks to allow for this range.  This would need support for a regex range quantifiers {}, for example '*

[2019-11-04 11:44] sagaranandani17 opened #11059 "COLOR PICKER - Screen reader is reading the table information when focus is on edit field(Hex,red,blue,green,alpha)s but visually not appearing as table present under “text”pane."
### Environment Information

- **Package version(s)**: 7.24.0
- **OS version:** 1903 (OS Build: 18326.295)
- **Browser:** Edge(Microsoft Edge 44.18362.267.0)
- **Screen Reader:** Narrator.

**User Experience:**
If the screen reader is reading the table information while navigating on “Hex ,Red ,Green, Blue, Alpha” edit fields then screen reader dependent users might face difficulties to understand

[2019-11-04 11:50] sagaranandani17 opened #11060 "COLOR PICKER - Keyboard user is unable to access the “Font color“ Sliders"
### Environment Information

- **Package version(s)**: 7.24.0
- **OS version:** 1903 (OS Build: 18326.295)
- **Browser:** Edge(Microsoft Edge 44.18362.267.0)

**User Experience:**
If controls are not accessible with keyboard than keyboard user will not be able to access the control and will face difficulties while interacting with it.

**Actual behavior:**
Keyboard user is unable to access the “Fo

[2019-11-04 12:03] sagaranandani17 opened #11061 "TREE CONTROL - Keyboard user is unable to access the “...“ button in "Tree" Control using tab navigation."
### Environment Information

- **Package version(s)**: 7.24.0
- **OS version:** 1903 (OS Build: 18326.295)
- **Browser:** Edge(Microsoft Edge 44.18362.267.0)

**User Experience:**
If Tree controls (...) is not accessible with keyboard than keyboard user will not be able to access the control and will face difficulties while interacting with it.

**Actual behavior:**
Keyboard user is unable to acce

[2019-11-04 13:08] tharshada opened #11062 "details list row columns are not resized when a details header column is resized for grouped details list"
### Environment Information

- **Package version(s)**: **7.57.0** (- 7.53.0), 6.x

https://fabricweb.z5.web.core.windows.net/oufr/7.53.0/#/examples/detailslist/customgroupheaders
and latest: https://fabricweb.z5.web.core.windows.net/oufr/7.57.0/#/examples/detailslist/customgroupheaders

https://fabricweb.z5.web.core.windows.net/oufr/6.209.0/#/examples/detailslist/customgroupheaders
- **Browser and

[2019-11-04 14:11] ThreadPitt commented on #11034
Here's the pen: https://codepen.io/ThreadPitt/pen/oNNEwLB

What I am seeing, that this also does NOT work in Chrome in the pen.

On the other hand, it does render the html with a hidden attribute:

<button type="button" role="menuitem" **hidden=""** class="ms-Button ms-Button--commandBar ms-Button--hasMenu ms-CommandBarItem-link root-57" data-is-focusable="true" aria-expanded="false" aria-haspopup

[2019-11-04 18:41] maxwellred commented on #11054
Hi @hecerinc I've tried this codepen on the latest Nightly Build (72.0a1) and regular Firefox (70.0.1) on Win10 and I don't appear to be having this issue. Perhaps this bug was resolved in the latest nightly release?

![TagPicker](https://user-images.githubusercontent.com/13246181/68147662-6401f700-feef-11e9-8110-3bb4a284635e.gif)

[2019-11-04 18:50] KevinTCoughlin commented on #11062
This regression is most likely related to https://github.com/OfficeDev/office-ui-fabric-react/pull/10845 & https://github.com/OfficeDev/office-ui-fabric-react/pull/10819

It looks like we missed a scenario.

cc: @ThomasMichon

[2019-11-04 20:11] ThomasMichon commented on #11062
I am taking a look at this. It's likely that the change to the new `version` prop isn't propagating through to all the rows, leaving some stale.

[2019-11-04 20:59] #11062 closed

[2019-11-04 21:01] JasonGore commented on #11057
I see `flex-basis` is explicitly excluded in [provideUnits.ts](https://github.com/OfficeDev/office-ui-fabric-react/blob/b1e230edd27c9dbbead34db6d47235015bc34788/packages/merge-styles/src/transforms/provideUnits.ts#L4). I checked with @dzearing to see if there are any subtle regressions, but we can't think of any. The fix is easy enough.

[2019-11-04 21:04] JasonGore commented on #11057
One possible styling regression is that a couple of components were using numbers (like [PeoplePicker](https://github.com/OfficeDev/office-ui-fabric-react/blob/2e9ee9fbd147196e970a1be19b8afbb5e17b6d87/packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/PeoplePickerItems/PeoplePickerItem.styles.ts#L127)). These currently have no effect but will take effect when `flex-basis` gets a d

[2019-11-04 21:13] JasonGore commented on #11058
This raises a lot of UI questions, like what happens when a number that's too high gets entered? Does the 8-bit value get cleared, stop allowing entry, or go to the next 8-bit value?

I think this is a bit too much to ask from the mask functionality. As you mentioned, it's more for masking out static values from a field, rather than adapting to dynamic ranges. I think a better UI experience would

[2019-11-04 21:22] JasonGore commented on #11061
There is no such Fabric control as Tree. We need more information and a CodePen to properly triage this against a specific Fabric control.

[2019-11-04 22:36] rwinj opened #11068 "Why are the details for the Nav element not aligned on the UI Fabric web page?"
I've been looking at Nav element details on the UI Fabric website (https://developer.microsoft.com/en-us/fabric#/controls/web/nav). The Nav element used on the left side of the UI Fabric site itself looks and behaves differently than the Usage example shown in the Nav article. (A blue bar and bold text used to show the current item in view in the Usage example. Also the expando chevrons are differ

[2019-11-04 22:36] KevinTCoughlin commented on #11062
Thanks for reporting @tharshada!

[2019-11-04 22:47] phkuo commented on #11057
Since flex-basis was doing nothing for these components, we should just remove it from them altogether.

[2019-11-04 22:51] ecraig12345 commented on #11059
The area with the text fields shouldn't be a table, but changing it at this point runs the risk of breaking consumers' styling or tests. I actually just fixed this two days ago in #10882 by setting a role on the table.

[2019-11-04 22:53] ecraig12345 commented on #11060
This was also fixed by #10882.

[2019-11-04 22:53] #11060 closed

[2019-11-04 22:53] #11059 closed

[2019-11-04 22:54] ecraig12345 commented on #11060
Also, this issue is a duplicate of #8012. Please be sure to search for existing issues before opening a new one.

[2019-11-04 23:01] JasonGore commented on #11068
The left nav on the UI Fabric site actually a custom implementationg using `CollapsibleSection`. We've previously identified need for a specific Sidebar/LeftNav control and have created [an issue](https://github.com/OfficeDev/office-ui-fabric-react/issues/6221) for it.

[2019-11-05 00:16] dan-lai opened #11071 "Request allow customized data field in ISelectableOption"
#### Describe the feature that you would like added

Enable ISelectableOption to have customized data field. For example, it allows me to add data-test-hook into the element.

#### What component or utility would this be added to

It is the ISelectableOption in FabricDropdown component.

#### Have you discussed this feature with our team, and if so, who

Not yet.

#### Additional context/screensho

[2019-11-05 01:20] taparikh opened #11072 "Pivot does not have an accessible name"
### Environment Information

- **Package version(s)**: 7.8.2
- **Browser and OS versions**: Chrome Version 77.0.3865.120 (Official Build) (64-bit)

### Describe the issue:
Pivot does not have an accessible name when tested using the Accessibility Insights tool under the Custom Wdgets > Design Pattern Test (Assessment) :: We see <no value>
When I check in the inspect element I do see the aria-label

[2019-11-05 01:47] hecerinc commented on #11054
Hi @maxwellred thanks for getting back. I actually can't see the footer in your example. Please see this image where the footer reads "**Hello world**"

![image](https://user-images.githubusercontent.com/7988472/68172105-26bb5a80-ff2b-11e9-8396-7a0495067abb.png)

[2019-11-05 05:42] sagaranandani17 commented on #11061
We are using Tree control from Business app fabric and it's url is - https://businessappfabric.azurewebsites.net/#component=id__16

[2019-11-05 10:28] chenxinyanc commented on #10353
After taking a look at BaseButton.tsx, I'm thinking about passing all the attributes specified on the CommandBar, filtered by [`getNativeProps`](https://github.com/OfficeDev/office-ui-fabric-react/blob/2e9ee9fbd147196e970a1be19b8afbb5e17b6d87/packages/utilities/src/properties.ts#L392), so all of the `aria-` and `data-` attributes will have a chance to pass through.

https://github.com/OfficeDev/of

[2019-11-05 11:06] chenxinyanc commented on #10569
Ping. I would be glad to propose a PR on this, but I need a decision first 😄

[2019-11-05 11:47] rhalaly opened #11075 "MessageBar `hidden` doesn't hide"
### Environment Information

- **Package version(s)**: latest
- **Browser and OS versions**: Chrome, Edge, Edge Beta, Windows 10

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/hraz/pen/JjjLjaE?editors=1010

#### Actual behavior:

The hidden message bar is still shown, only the text disappear.

#### Expected behavior:

The entire message bar should be hidden.

### P

[2019-11-05 12:03] rhalaly opened #11076 "PrimaryIconButton"
## Component details

Not sure if this is a new component or a feature. An icon button with the primary color.

https://developer.microsoft.com/en-us/fabric#/controls/web/button
### Description

But like the `DefaultButton` and `PrimaryButton`, just a `PrimaryIconButton` which should be an `IconButton` but with the `PrimaryButton` style.

### Which product teams/scenarios need this control

Intern

[2019-11-05 12:11] AviadGigi opened #11077 "Can't close contextual menu via KB (expected 'esc' to close the menu)"
### Environment Information

- **Package version(s)**: latest
- **Browser and OS versions**: chrome win10

### Describe the issue:

Can't close contextual menu with keyboard

### Please provide a reproduction of the issue in a codepen:

#### Actual behavior:

go to fabric site https://developer.microsoft.com/en-us/fabric#/controls/web/contextualmenu
using only the keyboard open a contextual menu,

[2019-11-05 15:07] JasonGore commented on #11061
You have linked a different repo. The [official Fabric repo](https://github.com/OfficeDev/office-ui-fabric-react) and [Controls docs](https://developer.microsoft.com/en-us/fabric#/controls/web) do not contain a Tree. We can help troubleshoot issues, but we need a CodePen repro using official Fabric code to know which Fabric controls are being used.

[2019-11-05 15:52] JasonGore commented on #11071
Unfortunately there [isn't really a way to specify patterns](https://github.com/microsoft/TypeScript/issues/6579) as part of an interface in TypeScript. TypeScript inherently supports `data-` attributes for components through compiler rules, but there is no way to explicitly specify them in types such as `ISelectableOption`.

You could get around this by typing, but there is no guarantee that comp

[2019-11-05 16:27] avenezia opened #11078 "Narrator does not read items properly in List component"
### Environment Information

- **Package version(s)**: 7.40.0
- **Browser and OS versions**: Edge 44.18362.387.0

### Describe the issue:
Focusing the first list item in the codepen, Narrator reads "group", and it does not read any information about the list item. I see that in the _onRenderCell method of the codepen, the main div has the data-is-focusable={true} attribute; if I use the DevTools t

[2019-11-05 17:01] kenotron commented on #11076
We're probably not going to add more variants of a button at this time. I believe you can achieve what you want by replacing the component from "IconButton" to "PrimaryButton". If you prefer having a nice "PrimaryIconButton" - you can create a wrapper component that passes on the `iconProps` for the consumers.

https://codepen.io/kenotron/pen/VwwXKNR

[code]

[2019-11-05 17:24] #11076 closed

[2019-11-05 17:28] kenotron commented on #11075
I do not see this prop at all as documented here: https://developer.microsoft.com/en-us/fabric#/controls/web/messagebar

To hide a messagebar, I suggest then to completely not render it at the parent component

[2019-11-05 17:32] JasonGore commented on #11072
The CodePen you linked seems to be a template.

However, I was still able to take a look at this and confirm what you are seeing. Even when the `Pivot` element containing the `role` of `tablist` has an `aria-label`, Accessibility Insights still shows `Accessible name: (no value)`. This means there isn't a fix I can identify from Fabric's side (at least not yet.) I suggest filing an issue with Acce

[2019-11-05 17:37] rhalaly commented on #11075
Hmm, yes that's what I did eventually. Maybe it is a leftover from Fabric 6. Thank you!

[2019-11-05 17:40] micahgodbolt commented on #11034
items with hidden attribute that also have a display property will use the display property value (per spec).

[2019-11-05 17:48] dPJinjo opened #11079 "ProgressIndicator : aria-valuetext isn't read by Narrator in scan mode"
### Environment Information

- **Package version(s)**: 7.56.0
- **Browser and OS versions**: Edge Version 79.0.309.11; Windows 18363.418; Narrator

### Describe the issue:

ProgressIndicator with ariaValueText attribute set doesn't narrate the string under Narrator. I couldn't get this to work with any version of Edge I have on my machine.

### Please provide a reproduction of the issue in a codep

[2019-11-05 17:50] micahgodbolt commented on #11034
hidden is not actually part of the current contextualmenu/commandbaritem interface. it gets passed through because we pass everything through, but we don't really have a commitment to support it.

What are you trying to use hidden for? Would adding 'display: none' to the hidden items do the same? or can you simply filter your own items array before passing it in?

I'm not a fan of the current code

[2019-11-05 17:59] JasonGore commented on #11079
Actually this appears to be a bit different from #7993. I'll take a closer look.

[2019-11-05 18:07] phtucker opened #11080 "Cannot select date from Calendar flyout of DatePicker on iOS when Voice Over is enabled"
Issue reproduces on current Fabric samples. Using an iPhone X running iOS 13 with Voice Over turned on days on the Calendar flyout of the DatePicker are not selectable. Tapping on a day on the Calendar flyout seems to activate elements below the Calendar flyout instead.

[2019-11-05 18:08] #11080 closed

[2019-11-05 19:16] maxwellred commented on #11054
@hecerinc Sorry about that! I've tested your supplied code in a locally spun up version of the repo (gif below) and don't see any problems making me think this is a bug with Codepen.

#### GIF Example
![TagPicker](https://user-images.githubusercontent.com/13246181/68236414-fb338100-ffb9-11e9-8037-bc7449c55b87.gif)

[2019-11-05 19:20] bcoard commented on #10939
@jdhuntington any update here? Let me know if you'd prefer to sync offline about my concerns.

[2019-11-05 19:58] micahgodbolt commented on #11077
problem is that contextual menu is passing down an event during onDismiss that already has 'preventDefault' set to true. I have a PR set up to remove that, while leaving stopPropegation, but need to figure out what effect that might have.

[2019-11-05 20:08] taparikh opened #11084 "Empty Details List Fails Fast-Pass for ARIA attributes must conform to valid values (div[role="grid"])"
### Environment Information

- **Package version(s)**: 7.8.2
- **Browser and OS versions**:  Chrome Version 77.0.3865.120 (Official Build) (64-bit)

### Describe the issue:
Automated Checks (Fast pass) fails when there is no rows in the details list.

### Please provide a reproduction of the issue in a codepen:
https://codepen.io/tanvi-parikh/pen/xxxWrgw

#### Actual behavior:
When the fastpass is

[2019-11-05 20:17] taparikh commented on #11072
Due to the heavy data dependency, I was unable to isolate the component and make it runnable on the codepen
Happy to hop on a quick call and showcase the issue to you for a deeper dive.

[2019-11-05 20:18] taparikh commented on #11072
@JasonGore   Can you take a look at our detailsList & Scrollpane snippet below and let us know if we are missing anything ?

`<div
          style={{
            height: "calc(100% - 60px)",
            width: "calc(100% - 300px)",
            position: "relative",
            overflow: "hidden",
            marginLeft: "20px"
          }}

          <ScrollablePane aria-label="scrollable pane lab

[2019-11-05 20:40] JasonGore commented on #11072
I'm pretty sure I duplicated what you found in the image I attached to the post above. It is still not identifying it by name, so at the very least, we'd need their guidance anyways (if it is in fact not an AI issue.)

[2019-11-05 20:41] sampascal opened #11085 "Fabric Hover card doesn't have accessibility support"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:

### Please provide a reproduction of the issue in a codepen:

#### Actual behavior:

The control is not focusable

#### Expected behavior:

The control should be focusable

### Documentation describing expected behavior

[2019-11-05 20:47] maxwellred commented on #11034
@ThreadPitt I believe the best course of action would be to, as Micah says above, filter items out of the items array before passing it into CommandBar. In any case, please have a look at the other questions he asks and please let us know, thanks!

[2019-11-05 21:42] JasonGore commented on #11079
I set up a [basic CodePen](https://codepen.io/jasongore/pen/dyymNYX) reproducing this issue with a simple `progressbar` without any Fabric controls. Narrator seems to violate [ARIA standards](https://www.w3.org/TR/wai-aria-1.1/#aria-valuetext) that say `aria-valuetext` should be dictated over `aria-valuenow` when provided. I've entered an issue in Narrator repo as well. I'll resolve this as extern

[2019-11-05 21:43] ChadiRachid opened #11086 "Office UI Fabric Developer Website Down"
### Environment Information

- **Package version(s)**: N/A
- **Browser and OS versions**: Edge, Chrome, Internet Explorer Firefox

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

The website for fabric UI https://developer.microsoft.com/en-us/fabric is not loading.

It appears the following linked scripts are not loading:
https://fabricweb.azureedge.net/fabric-we

[2019-11-05 21:50] JasonGore commented on #11086
Looks like this was caused by the most recent publish of the website almost 2 hours ago.

[2019-11-05 22:11] jdhuntington commented on #10939
@bcoard Sorry about the delayed followup; lost track of this issue. After looking at it further, I think you're right and there is something amiss here. I believe there's something that should be fixed; I will look and see how expensive it will be.

[2019-11-05 22:12] jdhuntington commented on #10969
Sorry for the late followup, I am looking at this.

[2019-11-05 22:42] JasonGore commented on #11086
We've rolled back so it should be working again now.

[2019-11-05 22:42] #11086 closed

[2019-11-05 22:47] jdhuntington commented on #10963
Sorry for the late followup.

We prefer to avoid horizontal scrolling in all cases, as that's not expected of a dropdown.

I believe these CSS directives might help longer options work for mobile; it allows them to word break in-place. In limited testing it seems to work reasonably well.

[code]

In action: https://codepen.io/jdh-msft/pen/pooLWYK

Does that help?

[2019-11-05 22:54] JasonGore commented on #11084
I tried your CodePen ([changing it to use Fabric 7.55](https://codepen.io/jasongore/pen/yLLKPOG)) and FastPass is not showing any failures. However, the CodePen doesn't seem to be rendering any output so I'm not sure if it's entirely valid.

I've also tried blanking out DetailsList Basic example on the Fabric website and I'm also not seeing any FastPass failures related to DetailsList.

The screen

[2019-11-05 23:01] JasonGore commented on #11084
`DetailsList` calculates `aria-rowcount` internally:
[code]

It's possible some other prop is causing `NaN`. In this case, maybe `items` is not an array? I'm not sure how the other values could cause `NaN`. However, this is all speculation without a repro.

[2019-11-05 23:11] JasonGore commented on #11085
The [HoverCard documentation](http://localhost:4322/#/examples/hovercard) covers accessibility considerations and provides an example. I am able to focus and navigation inside of the HoverCard as described by Example 2.

[2019-11-05 23:33] JasonGore commented on #11078
The [ARIA `list` role])(https://www.w3.org/TR/wai-aria-1.1/#list) does not have `aria-row` attributes, and therefore would not communicate row information. However, the `role` is available via `IList` props and can be changed to support the scenario you are looking for. Additional properties such as `aria-rowcount` and `aria-row` can be applied directly on `List` and in `onRenderCell`, as well.

I

[2019-11-05 23:46] jdhuntington commented on #10950
@KagamiChan Afraid this still requires a workaround. We plan to fix this out of the box, but haven't been able to prioritize fixing just yet.

For now, using common-js in jest requires modifying the `moduleNameMapper` directive of `jest.config.js`. This example from your example repo should do the trick:

[code]

[2019-11-06 01:29] jdhuntington commented on #10965
Which browser are you using?

[2019-11-06 02:22] ecraig12345 commented on #8755
In case anyone finds this later, there appears to be support in create-react-app now for adding a moduleNameMapper config.
https://github.com/facebook/create-react-app/pull/6055

[2019-11-06 07:32] ThreadPitt commented on #11034
Ok, thanks guys for the help! We already implemented the filtering as a work-around.

Basically, we need some sort of functionality to show/hide command bar button based on conditions, in our case user roles (admin sees all buttons, a regular user does not see all buttons etc.). In the long run, a hidden prop seems to make sense, especially since a disabled prop is already there (and working fine!

[2019-11-06 08:10] qianghuang94 opened #11090 "Fabric 7 force basepicker to hint something when click on the input area"
#### Describe the feature that you would like added
Add prop that can turn off this empty suggestions.  This is a breaking change compare to fabric 6.

#### What component or utility would this be added to
BasePicker

#### Additional context/screenshots
See code here: https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/pickers/BasePicker.t

[2019-11-06 09:48] sagaranandani17 opened #11092 "Dropdown: Screen reader is not reading the “Role and State” information for dropdown."
### Environment Information

- **Package version(s)**: 7.24.0
- **OS version:** 1903 (OS Build: 18326.295)
- **Browser:** Edge(Microsoft Edge 44.18362.267.0)

**User Experience:**
If the screen reader is not reading the “Role and State” for dropdown than screen reader users will not be able to find out the role and state  property of controls and will face difficulties while interacting with it.

[2019-11-06 10:33] KagamiChan commented on #10950
Thanks @jdhuntington. This configuration works.

A note for Create-React-App user: CRA only supports adding the config to the `package.json` file, and only adding the `moduleNameWrapper` will do the trick

[code]

[2019-11-06 14:13] mary92 opened #11093 "FocusZone should not have outline:none by default"
### Environment Information

- **Package version(s)**: not relevant
- **Browser and OS versions**: not relevant

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/marijacivovic/pen/JjjOLNO?editors=1111

#### Actual behavior:

The FocusZone element never has an outline when focused. This was introduced recently in PR https://github.com/OfficeDev/office-ui-fabric-react/pu

[2019-11-06 14:28] micahgodbolt commented on #11034
them HTML hidden attribute doesn't remove the element from the DOM, it only makes it not visible. This wouldn't be the best usecase for user roles necessarily as you might be exposing buttons and information to users that shouldn't be seeing that content.

Filtering your data and only displaying the content that is appropriate for that user is going to always be your best bet

[2019-11-06 17:50] JasonGore commented on #11092
The behavior of "Basic uncontrolled example" is the same as [this ARIA collapsible listbox example](https://www.w3.org/TR/wai-aria-practices/examples/listbox/listbox-collapsible.html).

The following information is read when focused:

Which is similar to the ARIA collapsible listbox example:

In both cases, role and state of `listbox` is not announced since the `listbox` is not expanded.

Then whe

[2019-11-06 17:56] #10353 closed

[2019-11-06 17:56] JasonGore commented on #11084
An [empty DetailsList example](https://codepen.io/jasongore/pen/pooVoKY) shows no Accessibility Insight errors.

[2019-11-06 18:05] JasonGore commented on #11093
`FocusZone` itself is not a focusable element, it is an invisible DOM element that manages focus of other focusable items. A `FocusZone` must contain focusable elements, and those elements would get focus and have outlines. A `FocusZone` with no focusable elements is an indeterminate scenario. I don't think there is a reason for `FocusZone` itself to ever have focus, and thereofre ever have an out

[2019-11-06 18:09] marioliu commented on #10963
Looks like that'll work. Thanks for your help!

[2019-11-06 18:09] #10963 closed

[2019-11-06 18:17] #10506 closed

[2019-11-06 18:20] JasonGore commented on #11093
I should have confirmed that if you want it to have a border, you certainly can. It's just not default behavior for the reasons I listed.

[2019-11-06 18:29] joschect commented on #10119
@bhuvan-iyer I don't believe that this is a bug any more. The commandbar really isn't supposed to be used within a detailslist. Per our earlier conversation there is [this codesandbox](https://codesandbox.io/s/keen-water-gtymy) that gives you all the benefits of a commandbar by implementing a composed version. It's relatively small and is your best bet moving forward.

[2019-11-06 18:51] OneCyrus commented on #4613
is someone else working on this? for us it‘s one of the very last library which is blocking us from react concurrent.

[2019-11-06 19:05] jdhuntington commented on #8996
Hi @fildahui - sorry for the late follow up. I do believe this was fixed with #9343 , which is included from v7.1.0 onwards. Sorry for not updating this thread; I had not realized that this PR fixed the scrollbar issue until I saw your comment.

[2019-11-06 19:31] qazaahir commented on #11084
Looks like the type of empty list was not correct. Changing the type to object to array fixed the error

[2019-11-06 20:43] ecraig12345 commented on #4613
Unfortunately not right now. We have a lot of major work underway in other areas. Specifically we are focusing on making sure all of our components meet a high standards of accessibility, as well as carefully planning a roadmap that will make strong use of hooks and react best practices going forward.

[2019-11-06 21:06] Oluchukwu96 opened #11098 "Toggle: Pointer styling area does not match clickable area"
### Environment Information

- **Package version(s)**: 7.31.2
- **Browser and OS versions**: Chrome

### Describe the Issue
Hovering over the toggle label doesn't display a cursor pointer even tho it triggers the component when clicked.

### Please provide a reproduction of the bug in a codepen:
The issue can be reproduced on the documentation site :  https://developer.microsoft.com/en-us/fabric#/

[2019-11-06 21:07] unindented commented on #4613
Moving everything to hooks would also fix this.

[2019-11-06 21:13] ecraig12345 commented on #4613
That's ideally the goal, but Fabric is a large library and changing all the components to be hooks-based will take time--especially doing it in a way that maintains decent functional parity and doesn't introduce too many API breaks (which is essential for many of our consumers).

[2019-11-06 21:33] unindented commented on #4613
The migration to FluentUI is going to be breaking anyways, so maybe that's the time to make those changes?

[2019-11-06 22:10] qazaahir commented on #11072
To add more context I see the same issue with other elements as well
![image](https://user-images.githubusercontent.com/57369169/68342263-14622d80-009f-11ea-9676-756997b442e9.png)

![image](https://user-images.githubusercontent.com/57369169/68342322-322f9280-009f-11ea-9483-80978e35437e.png)

[2019-11-06 22:14] #11090 closed

[2019-11-06 22:43] JasonGore commented on #11072
Accessible Name is not directly provided by the code, it is a [computed value](https://www.w3.org/TR/accname-1.1/) that browsers (and in this case, Accessibility Insights plugin) calculate. Per my previous posts, I think this is an issue that needs to be brought up to Accessibility Insights first. If there is something the Fabric page is doing incorrectly, it's not obvious to me and not being brou

[2019-11-06 23:09] jgage176 commented on #6362
On one of the websites I work on the A11y test pass (inside MS) where I am using this control filed a bug that the dialog does announce whether it is expanded or collapsed. It talks about a dialog and application, but not the expanded/collapsed state. Upon experimentation, clicking on and off of the different examples it I can sometimes get it to say collapsed and have a couple times heard it say

[2019-11-06 23:21] Pangamma opened #11102 "Dropdown control has no type-ahead. (Long lists are difficult to browse through)"
### Environment Information

- **Package version(s)**:  "office-ui-fabric-react": "7.46.0"
- **Browser and OS versions**: All browsers, Windows 10

### Describe the issue:

Dropdown control has no typeahead. When expanded, the expected behavior is that you should be able to start typing and the dropdown will skip ahead to matches that fit what you just started typing. Most drop downs with a lot of

[2019-11-06 23:24] sampascal opened #11103 "Accessibility for ChoiceGroup is not aligned with ARIA radio group"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:
Fabric Choicegroup doesn't support accessibility as ARIA intructed. https://www.w3.org/TR/wai-aria-practices/examples/radio/radio-1/radio-1.html

When focus changed from one choice to the other, the selection got changed as well.
The expected behavior descr

[2019-11-06 23:24] JasonGore commented on #11102
Covered by #6030. Duplicate of #6565.

[2019-11-06 23:35] JasonGore commented on #11103
The example you provided changfes selection when focus moves as well:
![RadioGroup](https://user-images.githubusercontent.com/26070760/68347108-ceab6200-00aa-11ea-9baf-f87f160eabb7.gif)

 `ChoiceGroup` appears to be following the [ARIA Radio Group design guidelines](https://www.w3.org/TR/wai-aria-practices/#radiobutton):

`ChoiceGroup` seems consistent with the ARIA Radio Group design guidelines,

[2019-11-06 23:50] sampascal commented on #11103
I think I saw

[2019-11-06 23:50] #11103 closed

[2019-11-06 23:51] brzimmer opened #11105 "Spinner not reading ariaLabel in Narrator"
### Environment Information

- **Package version(s)**: 6.193.0
- **Browser and OS versions**: Edge, Windows 10 Enterprise -- version 1903

### Describe the issue:
I have a `PrimaryButton` used for saving. When I navigate to the button to save the content on the panel, Narrator reads the label as I'd expect. When I press `Enter` to save the changes, I mount a `Spinner` as a child to the `PrimaryBut

[2019-11-06 23:53] sampascal commented on #11085
"When using the keyboard to tab to it, open the card with the hotKey and it will automatically focus the first focusable element in the card allowing further navigation inside the card."

What is the hotKey?

[2019-11-06 23:56] maxwellred commented on #11053
Hi @dPJinjo I have tested these controls and haven't be able to reproduce the Windows + Narrator combination (as in it reads them correctly as = "-label- toggle switch on/off"). However, I have observed this issue in the latest build of Chrome. Could you please re-test in the Windows + Narrator and confirm as an issue with Chrome + Narrator would be an issue to file with either the Narrator team o

[2019-11-07 01:04] rkalivarapu opened #11106 "No titleAriaId prop for Panel"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:

We have titleAriaId property exposed for Modal but not for Panel. Can we have this prop for Panel?
We need this prop as screen readers should read out the dialog title(if we override).

### Please provide a reproduction of the issue in a codepen:

#### Act

[2019-11-07 04:04] hjonasson opened #11108 "File type icons don't support all sizes suggested by design guidelines"
#### Describe the feature that you would like added

File type icons have design guidelines [here](https://developer.microsoft.com/en-us/fabric#/styles/web/file-type-icons). In the paragraph _Format and sizes_ it says that mobile experiences should have 24pxX24px available. Looking at the available formats in `getFileTypeIconProps.ts` however [here](https://github.com/OfficeDev/office-ui-fabric-re

[2019-11-07 06:27] davidnimmagadda opened #11109 "Panel medium size near"
#### Describe the feature that you would like added

Currently PanelType medium doesn't have near side render config.

#### What component or utility would this be added to

Panel

#### Have you discussed this feature with our team, and if so, who

no

#### Additional context/screenshots

[2019-11-07 08:08] lancelodliu opened #11110 "Textarea rendered in ChoiceGroupOption is unclickable"
### Environment Information

- **Package version(s)**: 6.167.3
- **Browser and OS versions**: Chrome Version 77.0.3865.120 (Official Build) (64-bit)

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/lancelod/pen/zYYjdYr

This is caused by the `100% height` of `input`.

#### Actual behavior:
I cannot select and edit in the textarea.

#### Expected behavior:

I can selec

[2019-11-07 09:39] anasakmsft opened #11111 "Legends in multi line chart not accessible using keyboard navigation in uifabric/charting version '0.28.13'"
### Environment Information

- **Package version(s)**: uifabric/charting = '0.28.13'
- **Browser and OS versions**: Chrome, Edge, Firefox/ Windows 10

### Describe the issue:
Legends in multi line chart not accessible using keyboard navigation

### Please provide a reproduction of the issue in a codepen:

Background:
We see that this issue has been fixed in https://github.com/OfficeDev/office-ui-f

[2019-11-07 11:45] ksdaniel commented on #8470
A week back we started receiving tickets that some of the forms in SPO, that we display in Panels (SPFX webparts), close as soon you click one of the controls.

Upon troubleshooting we noticed that regardless of where we click we trigger the outerclick handler.

I used the above workaround, and it fixed the issue - but I am a little bit worried, that I need to rewrite countless solutions now. Will

[2019-11-07 12:13] rhalaly opened #11113 "ContextualMenu for other components"
#### Describe the feature that you would like added

Add an ability to use `ContextualMenu`s outside a buttons, like in `Link`s.

#### What component or utility would this be added to

`Link`, `TextField` (for "mention" tagging)

#### Have you discussed this feature with our team, and if so, who

No

#### Additional context/screenshots

Honestly I would expect to get a standalone `ContextualMenu`

[2019-11-07 12:27] LukeOwlclaw opened #11114 "Accessibility issue of DatePicker in window with small width"
### Environment Information

- **Package version(s)**: 7.58
- **Browser and OS versions**: any

### Describe the issue:

When the browser window has very small width (smaller than DatePicker is wide), the important left part (day to choose) is hidden. The control is thus not usable.

#### Actual behavior:

![image](https://user-images.githubusercontent.com/2737900/68387213-1ccd6d80-015e-11ea-8246-

[2019-11-07 12:51] mary92 commented on #11093
Thanks for clarifying the reasoning behind this update.
We used FocusZone the following way - have the focus zone element receive focus and then have it's child elements receive focus with clicking enter/space, like a drill in experience. So if you can suggest another component that will enable us to have this or just have the outline:none setting configurable within the FocusZone?

[2019-11-07 14:26] ashbadami opened #11115 "Panel Fabric component always overlays the full browser window, cannot set parent"
#### Describe the feature that you would like added
Should be able to set the parent component for Fabric Panel. Eg. Top navigation bar.
So that the side panel doesn't overlap/cover certain parts of the page and its always accessible.

#### What component or utility would this be added to
Panel

#### Have you discussed this feature with our team, and if so, who
No

#### Additional context/screensh

[2019-11-07 16:36] nanivijay opened #11116 "Few icons are missing in office fabric 7 font"
### Environment Information

- **Package version(s)**: "office-ui-fabric-react": "7.58.0"
- **Browser and OS versions**: Chrome,Edge

### Describe the issue:

Few icons are missing eg.MapLayers

#### Actual behavior:

Few icons are missing eg.MapLayers

#### Expected behavior:

MapLayers should be present

### If applicable, please provide a codepen repro:

### Priorities and help requested (not a

[2019-11-07 16:38] JasonGore commented on #11105
[`aria-label`](https://www.w3.org/TR/wai-aria-1.1/#aria-label) is primarily used to describe an element rather than communicate a change in state. In this case, it is a `save button` and that element's label doesn't change, even if its state does. Assistive technologies don't expect this value to change spontaneously and therefore don't communicate it on change, rather only narrate it as the user

[2019-11-07 17:03] JasonGore commented on #11085
It's a prop value. In this case, the example has it configured as enter. If I tab to a row, hit the right arrow key to "hover" over the key, and then hit "enter", focus enters the HoverCard. I can update the docs to make this clearer.

[2019-11-07 17:06] #11116 closed

[2019-11-07 17:18] gsbelarus opened #11117 "When wrap and childrenGap simultaneously specified for Stack a horizontal scroll bar is shown"
office-ui-fabric-react: 7.58.0
browser: Firefox 70.0.1
os: windows 10

If `wrap` and `childrenGap` properties simultaneously specified for `Stack` component horizontal scroll bar is shown even if there is enough space to display all items:
[code]
![image](https://user-images.githubusercontent.com/5175764/68411267-33de8080-019b-11ea-8792-eff680c49d25.png)

If we omit either `childrenGap` or `wrap`

[2019-11-07 17:23] #10969 closed

[2019-11-07 17:30] JasonGore commented on #11106
Are you using `onRenderHeader` prop? It should be setting the same ARIA attributes in order for the header text to be read out.

[2019-11-07 17:38] JasonGore commented on #11109
This may be by design but I can check and see. In the meantime, you should be able to use `customNear` with `customWidth`.

[2019-11-07 17:49] JasonGore commented on #11108
I'm not sure whether the doc or the code is incorrect but we will clarify.

[2019-11-07 18:00] #11033 closed

[2019-11-07 18:00] #11031 closed

[2019-11-07 18:27] JasonGore commented on #11110
This isn't just a styling issue, `ChoiceGroup` has to manage focus as well. Even if you could click on the textarea, the keyboard navigation within `ChoiceGroup` is fundamentally broken. I think this has to be approached by rendering the textarea completely outside of the `ChoiceGroup`.

[2019-11-07 18:29] wxydesign opened #11118 "Figma file for lists shows table headers as regular font weight. The controls samples show table labels as bold. Which one is correct?"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

#### Expected behavior:

### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected:

[2019-11-07 18:44] JasonGore commented on #11111
Per our offline discussions, we can't change the publicly published version of 0.28.13 using the same version number. Hotfixes have to be specially consumed, typically by consuming or bundling a special branch like [these](https://github.com/OfficeDev/office-ui-fabric-react/branches/all?utf8=%E2%9C%93&query=hotfix).

[2019-11-07 19:00] #11030 closed

[2019-11-07 19:00] #11029 closed

[2019-11-07 19:00] #11028 closed

[2019-11-07 19:23] kenotron commented on #10950
I didn't enable it for fear that it'll break too many things. But maybe good to dig up now.

[2019-11-07 19:35] maxwellred commented on #11051
Hi @ztytotoro I have checked with colleagues and received this [workaround](https://github.com/OfficeDev/office-ui-fabric-react/issues/10950#issuecomment-550075330) you can apply to your jest.config.js. Give it a try and let me know, thanks!

[2019-11-07 19:54] JasonGore commented on #11113
There is a standalone `ContextualMenu` component, it's just not directly used in any of the [ContextualMenu examples](https://developer.microsoft.com/en-us/fabric#/controls/web/contextualmenu). Here is a [CodePen](https://codepen.io/jasongore/pen/Jjjvwgp) showing it applied to a link.

I think the example page could do with at least one example using `ContextualMenu` directly so I'll leave this is

[2019-11-07 20:00] rhalaly commented on #11113
Thank you! That's what I'm looking for!

[2019-11-07 20:17] JasonGore commented on #11114
I think the behavior you're looking for can be modified using `calloutProps.directionalHint`, which I did in [this CodePen](https://codepen.io/jasongore/pen/abbGMaz):

![image](https://user-images.githubusercontent.com/26070760/68424203-59966600-0158-11ea-84c4-9caeab179a6a.png)

Does that work for you?

I'm not sure if this is an actionable item from DatePicker's perspective. @lorejoh12 What do yo

[2019-11-07 20:43] dzearing commented on #10833
@joschect Is this resolved with your recent fix?

[2019-11-07 21:00] JasonGore commented on #11115
Do you intend for header content to be interactive even when Panel is displayed?

You can control the host for `Panel` as shown in [this CodePen](https://codepen.io/jasongore/pen/VwwxRob) and the ['Using Customizer to control the default layer behavior' Layer example](https://developer.microsoft.com/en-us/fabric#/controls/web/layer#ILayerProps). However you can see that the rest of the page can st

[2019-11-07 21:05] swese44 opened #11121 "SearchBox documentation describes unsupported autocomplete suggestions"
Docs here describe autocomplete behavior in the "Autocomplete suggestions" and "Do/Don't" sections, but that functionality isn't supported:
https://developer.microsoft.com/en-us/fabric/#/controls/web/searchbox

[2019-11-07 21:17] ecraig12345 commented on #11051
Actually I think we should remove that root-level import (and do a relative import instead)—we shouldn’t have root-level imports in component files for exactly this reason.

In addition, I recently made an issue about adding a lint-imports rule preventing more imports like this from being added. I could potentially just go ahead and add that, or walk @maxwellred through what to do if you have time

[2019-11-07 21:30] cliffkoh commented on #11051
Weird, I don't see
[code]

at https://unpkg.com/browse/office-ui-fabric-react@7.56.2/lib-commonjs/components/FloatingPicker/BaseFloatingPicker.js

[2019-11-07 21:35] khmakoto commented on #11117
Hi @gsbelarus, I can't seem to be able to reproduce this. [Here](https://codepen.io/khmakoto/pen/RwwymbE) is a simple codepen I've made where I use `horizontal`, `wrap` and `childrenGap` without this behavior triggering it.

Could you fork and modify it so that it reproduces your case? That way we might be able to fix whatever is not working as expected here. Thanks!

[2019-11-07 21:39] brzimmer commented on #11105
Thank you for getting back to me! I want to make sure it’s clear that the ariaLabel prop is included on the Spinner component which is being mounted during the save operation. The ariaLabel prop is not part of the Save button itself. Does that change any of your reasoning?

Thanks,
Brian

From: Jason Gore<mailto:notifications@github.com>
Sent: Thursday, November 7, 2019 8:38 AM
To: OfficeDev/offic

[2019-11-07 21:42] JasonGore commented on #11105
Unless the Spinner itself is focusable as an entity separate from the Button (which doesn't seem to make sense to me) then I don't think my reasoning changes. Even if it were a separately focusable entity, I don't think you could expect the screen reader to narrate it until it's focused.

[2019-11-07 21:53] JasonGore commented on #11093
It sounds like you want the capturing element to have focus itself, is that correct? Does it have an action associated with it when you hit space or enter? If it has no action associated with it, I think it may be confusing for users as focus is generally reserved for interactive elements.

Regardless, since FocusZone itself is not focusable, then you would need to have a div or other containing e

[2019-11-07 21:55] brzimmer commented on #11105
Gotcha, ok thanks for the help! Is there something you need me to do to mark this bug as closed?

From: Jason Gore<mailto:notifications@github.com>
Sent: Thursday, November 7, 2019 1:43 PM
To: OfficeDev/office-ui-fabric-react<mailto:office-ui-fabric-react@noreply.github.com>
Cc: Brian Zimmerman<mailto:Brian.Zimmerman@microsoft.com>; Author<mailto:author@noreply.github.com>
Subject: [EXTERNAL] Re:

[2019-11-07 21:57] JasonGore commented on #11105
Nope, you can just close it yourself if you are happy with the resolution. Thanks!

[2019-11-07 22:05] ecraig12345 commented on #11051
You're right, I don't see an import like that either in the source for that file (and the file hasn't been modified recently).
https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/FloatingPicker/BaseFloatingPicker.tsx

I think the issue is actually in SuggestionsControl, which *was* modified more recently:
https://github.com/OfficeDev/offic

[2019-11-07 23:41] #11108 closed

[2019-11-07 23:50] #11057 closed

[2019-11-07 23:52] nsksaisaravana opened #11123 "Add pagination to DetailsList, Base list"
#### Describe the feature that you would like added

Please add pagination to Details and base list, currently, we are missing this feature

#### What component or utility would this be added to

Basic List and Details List

[2019-11-08 00:08] JasonGore commented on #11123
I can mark this as a feature request, but I'm not sure if this would necessarily need to be part of DetailsList or if the feature will be added. I think a pagination component could be made to wrap DetailsList, managing paging info and showing subsets of data in a child DetailsList.

[2019-11-08 02:53] elly0t commented on #6527
While most components provided by this library have got the `errorMessage` field, it seems natural for `ChoiceGroup` to have the same consistent interface.

[2019-11-08 03:02] KeiraYang commented on #11111
@JasonGore Can you help cherry-pick to the latest version which require Fabric 6? We cannot directly upgrade to 0.137.0 version as we're still using Fabric 6. We can upgrade the @uifabric/charting to the one which consuming Fabric 6 with this fix on. Thanks in advance!

[2019-11-08 03:09] ztytotoro commented on #11051
Thanks, I didn't run any test just cannot start my react app. I checked the error info, as @ecraig12345 said, the code caused error is in:
[code]
I think the way of importing an es module in commonjs file makes the pack system broken. Maybe you should import it from the root `office-ui-fabric-react` instead of `office-ui-fabric-react/lib/Styling`, or use a relative path, thanks for your efforts ag

[2019-11-08 04:47] taurheim opened #11128 "Prefix all CSS styles to prevent style name conflicts"
#### Describe the feature that you would like added

Currently merge-styles generates styles with names like `.css-0`. This works very well if all the code on the page comes from one app, but in cases where (for example) a browser extension injects a component that uses fabric and the host page also uses fabric, the style names could conflict and cause unexpected and unpredictable behaviour.

I wo

[2019-11-08 06:09] LukeOwlclaw commented on #11114
Thank you @JasonGore! I missed [``calloutProps: ICalloutProps``](https://developer.microsoft.com/en-us/fabric#/controls/web/callout#ICalloutProps). Using `calloutProps.alignTargetEdge = true` I can achieve the desired behavior, shown in [this update of your CodePen](https://codepen.io/LukeO/pen/xxxzbrg).

I do not see any negative side effects of using `calloutProps.alignTargetEdge = true`. Maybe

[2019-11-08 06:42] dzearing commented on #11128
Does this work for you?

[code]

Example:

https://codesandbox.io/s/affectionate-http-gcrm4

[2019-11-08 06:42] KeiraYang commented on #11111
@JasonGore Sorry I missed the change log. @anasakmsft found the fix has been released in https://github.com/OfficeDev/office-ui-fabric-react/releases/tag/@uifabric/charting_v0.30.1. We're trying to update package and see. Thanks!

[2019-11-08 08:14] sagaranandani17 opened #11129 "Dropdown - In Scan Mode, Narrator Focus moves to “dropdown” twice"
### Environment Information

- **Package version(s)**: 7.24.0
- **OS version:** 1903 (OS Build: 18326.295)
- **Browser:** Edge(Microsoft Edge 44.18362.267.0)

**User Experience:**
If in scan mode, narrator focus moves twice on controls then user will face difficulties while navigating on the control as they expect a single focus on each control.

**Steps to reproduce**
1) Go to office fabric link(

[2019-11-08 13:09] popeadam commented on #6030
We have a page that allows people to use 10 drop-down menus to filter a library of hundreds of items. People's filtering behaviour can become complex, and though we have a 'clear filters' button that allows all 10 drop-downs to be cleared, we regularly get feedback that they'd like to just clear one of the drop-down menus.

Once a user has selected an item/items, can we work on the ability to easi

[2019-11-08 13:10] shsengar opened #11130 "DropDown: In Chrome+ NVDA, dropdown option selection causes NVDA to read title of page"
### Describe the issue:
Drop down component of office fabric starts reading title of home page after selecting option from dropdown.

### Please provide a reproduction of the issue in a codepen:
1)Open Google chrome
2) Go to https://developer.microsoft.com/en-us/fabric#/controls/web/dropdown
3) Start NVDA as screen reader on Customized DropDown section.

![record8](https://user-images.githubuserco

[2019-11-08 14:03] shsengar opened #11131 "DetailsList: Edge + narrator doesnot say anthing about the sortable detailslist column header"
#10957 # Describe the issue:
Edge+ Narrator is not providing info about the column header if it is sortable or not.

### Please provide a reproduction of the issue in a codepen:
1) Open Edge Browser.
2) Go to https://developer.microsoft.com/en-us/fabric#/controls/web/detailslist
3) Start narrator as screen reader.
4) Use Caps+Right Arrow key to navigate to "Name" Column Header(which is sortable).

[2019-11-08 14:24] gsbelarus commented on #11117
Strange, but I can't repeat it with CodePen. I have looked through CSS on the page. Horizontal scroll bar appears because of line `width: calc(100% + 4px);` in style `.ms-Stack-inner css-94`. Seems that this setting somehow interacts with overlying html elements and their styles.

As for now, I will subdue scroll bar specifying:
[code]
for the `Stack` component.

I will close the issue until I hav

[2019-11-08 14:24] #11117 closed

[2019-11-08 14:58] taurheim commented on #11128
That seems to work for most elements, but for some function calls (e.g. [disableBodyScroll](https://github.com/OfficeDev/office-ui-fabric-react/blob/09d5abf9a89b1f2ae31de5427e24279537eb9a4c/packages/utilities/src/scroll.ts)) they still end up creating styles like `css-0`.

https://codesandbox.io/s/naughty-shockley-5wm3q

[2019-11-08 16:14] jdhuntington commented on #8996
Closing as resolved.

[2019-11-08 16:14] #8996 closed

[2019-11-08 17:19] dzearing commented on #11128
Yep, it's a timing issue, which hopefully you can control through script loading. There is an alternative way to do this that can beat timing issues guaranteed, which is to burn a config on the page.

[code]

[2019-11-08 17:22] taurheim commented on #11128
Interesting, in that case it would prefix all instances of fabric in the page, right? (e.g. in the example with a browser extension, the extension would also use that namespace)

[2019-11-08 17:43] JasonGore commented on #11114
The fix seems easy enough, but I'm not sure if this is by design. I will let @lorejoh12 pick up the fix if he feels it is good, otherwise close this issue for now.

[2019-11-08 17:43] #11114 closed

[2019-11-08 18:00] #10990 closed

[2019-11-08 18:28] JasonGore commented on #11129
Dropdown uses `listbox` role. Similar [ARIA listbox examples](https://www.w3.org/TR/2017/WD-wai-aria-practices-1.1-20170628/examples/listbox/listbox.html) behave the same way when entered in scan mode:

Down arrow

Down arrow

This appears to be Narrator behavior and should be logged against Narrator if considered a defect.

[2019-11-08 19:03] angallison commented on #11098
Here's the design intent for the Toggle.

![Toggle](https://user-images.githubusercontent.com/14059817/68503280-53b38a00-0217-11ea-92b5-e3ac1bc1cd37.JPG)

- Labels shouldn't be actionable
- Focus should around the toggle and string
- The hand icon should appear for the string as well

[2019-11-08 19:41] JasonGore commented on #11130
This seems to only happen under very specific conditions. It only appears to happen when using 'enter' to select an item, and does not happen when using 'space' or the clicking with the mouse. It also only occurs with Chrome + NVDA. It does not happen with MS Edge + NVDA and Firefox + NVDA.

Given the specific nature of this issue, I think this should be reported against Chrome or NVDA.

[2019-11-08 19:47] JasonGore commented on #11131
Duplicate of #10168, #6646, and #6011. Please search for duplicates before creating issues.

[2019-11-08 19:47] #11131 closed

[2019-11-08 20:11] clearwaterstream opened #11132 "Nav with Position Indicator (it already exists and is being used on your site)"
#### Describe the feature that you would like added

Hi, look at https://developer.microsoft.com/en-us/fabric#/controls/web/button

See the menu on the right? It's the one titled "On this page". Notice how the menu auto-highlights the current section that you are on, as you scroll down?

#### What component or utility would this be added to

Nav

#### Have you discussed this feature with our team,

[2019-11-08 20:22] xbtsw commented on #11105
Hi @JasonGore, the spinner component actually render an `aria-live` region with delayed rendering. I think it suppose to trigger a narrator reading. But as you can see from the repro it is not triggering. We are not sure if this is a narrator issue or we are using the component incorrectly. Please help.

[2019-11-08 20:57] angallison commented on #11109
This is by design. The "Small, near side" panel is used for navs (invoked via hamburger menu) in breakpoints up to 1023px wide. In breakpoints 1024px and larger, we show the nav on the app canvas.
![large breakpoint_left nav](https://user-images.githubusercontent.com/14059817/68510000-430b1000-0227-11ea-9edf-8fac667bd875.JPG)
![xlarge breakpoint_left nav](https://user-images.githubusercontent.com/

[2019-11-08 21:50] e-gallis opened #11133 "[Icon Tool] Error 500 Internal Server Error"
### Environment Information
- **Browser and OS versions**: Win 10, Chrome 78.0.3904.97

### Describe the issue:
When trying to export the subset for a selection of icons in the Office UI Fabric Icons site, an error 500 is triggered after a while.

#### Actual behavior:
Error 500 is triggered.

#### Expected behavior:
Should generate the zip file.

### If applicable, please provide a codepen repro:

[2019-11-08 21:59] maxwellred commented on #10997
I'm sorry for the delay @MSYuanMei. I'll have to get back to you on this custom styling.