[2021-05-25 08:56] ling1726 opened #18318 "Menu: Update aria relationships if user manually sets `id` prop"
Currently `aria-labelledby` or `aria-describedby` relationships in `Menu` are automatic. The `useId` hook is used to generate ids. If a users uses their own `id` prop they must also set their own `aria` relationship with that id manually.

Expected result: If the user manually sets `id` prop then `aria` relationships that depend on it should update. This should not work in the reverse (updating `a

[2021-05-25 09:02] ling1726 opened #18319 "Menu: Focusing menu items on mouseenter"
For screen reader users, the mouse cursor can be anywhere on the page. If the `Menu` by chance opens into the mouse cursor it is confusing for screen reader users since it can:
* steal focus
* open a nested menu

The requirement that mouse hover and focus should have the same state in the menu. Figure out more a11y friendly ways to achieve this

[2021-05-25 10:12] gouttierre commented on #17517
@levymsft - thanks for filing this item and sharing the details around the accessibility issue.

@TristanWatanabe - Would you be able to confirm if this is a regression, or if this behavior is an accessibility issue?
cc @smhigley

[2021-05-25 10:16] gouttierre commented on #17519
@wrathofdon - thank for the suggestion. I’ve added this to our backlog for review but it’s low on our priority list as we’re likely not going to get to it immediately due to the fact we’re currently focused on larger coherence work items and enhancements to our performance.

[2021-05-25 10:25] LukeOwlclaw opened #18320 ""+" missing in Fabric UI icon AddFavoriteFill"
There seem to be missing a "+" on the filled version of AddFavoriteFill F0C9.

#### Actual behavior:

AddFavoriteFill is missing "+":
![image](https://user-images.githubusercontent.com/2737900/119482382-19a3cd80-bd54-11eb-9945-8e00e599276e.png)

#### Expected behavior:

"+" should be visible

### Steps to reproduce:

Go to https://developer.microsoft.com/en-us/fluentui?fabricVer=7#/styles/web/icon

[2021-05-25 10:29] gouttierre commented on #17530
@hoovercj - Thanks for filing this item with us and sharing your findings. I see you are willing to contribute to this issue? That is great to see - let me try get you UX guidance to require.

@TristanWatanabe / @ecraig12345 - Would either of you be able to provide the redlines/UX guidance?

[2021-05-25 10:35] gouttierre commented on #17537
@SummerCat200 -  Thank you for reaching out and providing context into the problem you are facing.
@TristanWatanabe - Would you be able to confirm if this is a regression, or if this behavior is an issue ?

[2021-05-25 10:48] gouttierre commented on #17550
@O-Boiko - Thanks for filing this item and sharing. I checked and did repo your findings and I see during the smaller view state that no horizontal scroll appears and the last column (File Size) is missing.

@TristanWatanabe - Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-05-25 10:53] gouttierre commented on #17552
@SagarThakurCSE - Thank you for your findings and repo steps.
@TristanWatanabe - Would you be able to confirm if this is a regression, or if this behavior is an issue with the dropdown controller?
cc @smhigley

[2021-05-25 10:55] layershifter commented on #17941
@AlexisGlez we support `nonce` configuration for Emotion renderer from 0.55.x, https://github.com/microsoft/fluentui/pull/17972. This should unblock you 😃

We are not going to bump Fela 11 soon as we are going to switch to Emotion as a default renderer.

[2021-05-25 10:55] #17941 closed

[2021-05-25 10:56] gouttierre commented on #17585
@miroslavstastny - Thank you for filing this item and the context into the issue.
@kolaps33 - Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-05-25 11:00] gouttierre commented on #17691
@davyrwoo - thanks for reaching out.  I was unable to confirm your issue. I se the divider between the rows in each of the themed states.
![image](https://user-images.githubusercontent.com/78806055/119486825-f891ab80-bd58-11eb-8431-945f3aaf463d.png)
![image](https://user-images.githubusercontent.com/78806055/119486892-06473100-bd59-11eb-8e0e-10a4cc416d34.png)
![image](https://user-images.githubuse

[2021-05-25 11:03] gouttierre commented on #17706
@KaygNas - Thanks for reaching out to us.
@kolaps33 - Would you be able to confirm if this is a regression, or if this behavior is an issue when using Safari? I checked on chrome and the behavior was correct.

[2021-05-25 11:07] gouttierre commented on #17692
@davyrwoo - Thank you for filing this item and sharing background context into the problem.
@kolaps33 -  Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-05-25 11:10] gouttierre commented on #17760
@spidershark - Thank you filing this issue.
@kolaps33 - Would you be able to confirm if this is a regression, or if this behavior is an issue? I see it is mentioned in the PR #18165.
cc @TristanWatanabe

[2021-05-25 11:15] gouttierre commented on #17575
@harlankoehn - thanks for reaching out. Have you taken a look at our documentation for the basic [DetailsList](https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist/basic)? You can start from one of the examples (click “Export to CodePen”) or https://aka.ms/fluentpen.

[2021-05-25 11:22] gouttierre commented on #17590
@FosterSamuel- Thank you for filing this item. I see the repo as stated. The borders / dividers do not behave consistently and shows as single dividers.
@TristanWatanabe - Would you be able to confirm this issue and perhaps review #16800 for the proposed fix provided?

[2021-05-25 11:25] gouttierre commented on #17578
@lezhang1 - Thanks for reaching out to us and providing context into your issue.

@TristanWatanabe - Would you be able to confirm if this is a regression, or if this behavior is an issue with the unchecked/checked rows?
cc @smhigley

[2021-05-25 11:29] gouttierre commented on #17587
@FeodorFitsner - Thank you for filing this item. I see you are willing to file a PR for this fix which is great to see - please do share it with us.

[2021-05-25 11:35] gouttierre commented on #17599
@ts-00 - Thanks for the item and suggestion. Have you reviewed our implementation API's for the [Calendar](https://developer.microsoft.com/de-de/fluentui#/controls/web/calendar)? There are similar properties, such as:
`dateRangeType` - The date range type indicating how many days should be selected as the user selects days.
`maxDate `- If set the Calendar will not allow navigation to or selection

[2021-05-25 11:54] gouttierre commented on #17612
@abhishek-raj - Thank you for filing this item and wanting to submit a PR for the fix. Please do share it with us and the team will review it when possible. Thank you

[2021-05-25 11:56] gouttierre commented on #17952
@hund030 - Thank you for the information to the issue you are experiencing.
@kolaps33 - Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-05-25 11:58] gouttierre commented on #18022
@tim-fluidity - Thank you for filing this item with us.
@kolaps33 - Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-05-25 12:06] gouttierre commented on #18077
@kolaps33 - Would you be able to confirm if we are using Brand Background color for the indicator?

[2021-05-25 12:07] gouttierre commented on #18085
@davyrwoo - Thanks for filing this item.
@kolaps33 - Would you be able to confirm if this is a regression, or if this behavior is an issue with MenuButton?

[2021-05-25 12:09] gouttierre commented on #18162
@avbhardwaj - Thank you for filing this item. Are you still experiencing the problem?
cc @kolaps33

[2021-05-25 12:15] gouttierre commented on #18065
@ling1726 : Thanks for the suggestions!

[2021-05-25 12:26] gouttierre commented on #18219
@felixSchober - Thanks for filing this item and the suggestion. I’ve added this to our fluent backlog for review but it’s lower on our priority list so we’re likely not going to get to it right away due to the fact we’re currently focused on larger coherence controls. Would you be willing to submit a PR for this enhancement?

@jurokapsiar / @kolaps33 - Would you know if there are immediate plans f

[2021-05-25 12:32] gouttierre commented on #17615
@pragya91  - Thank you for filing this item and the issue details.
@TristanWatanabe - Would you be able to confirm if this is a regression, or if this behavior is an issue with mergeStyles()?

[2021-05-25 12:35] gouttierre commented on #17946
@harshdamaniahd - Are you still facing this problem? If so, you’ll need to add a CodePen repro before we can help further. Thanks!

[2021-05-25 12:40] harlankoehn commented on #17575
Yes, I'm fully aware of the DetailsList. My issue still stands. How come the Basic List implies selection but doesn't actually support it? Also wondering why I had to wait two months for an unhelpful response like this.

[2021-05-25 12:40] gouttierre commented on #18291
@birla- Thank you for filing this suggestion. I’ve added this to our backlog for review but it’s low on our priority list as we’re likely not going to get to it for a while as we’re currently focused on larger coherence work items. What is the priority level for this request?

@jurokapsiar - Would you know by chance if there are any immediate plans to support Pivot within North-star?

[2021-05-25 14:24] u-can-miracle commented on #17288
Hello @khmakoto could you clarify is this issue in progress? I see it has been opened 3 weeks ago

[2021-05-25 14:32] gouttierre commented on #17626
@Sandhya-aluri - Thank you for filing this item.
@TristanWatanabe - Would you be able to confirm if color contrast ratio should be 3:1?

[2021-05-25 14:39] gouttierre commented on #17616
@kokuda - Thanks for reaching out and providing a repro. Did you manage to find a work around for your problem?

@TristanWatanabe - Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-05-25 14:48] gouttierre commented on #17630
@dantist1122 - Thank you for filing this item. I had a look at our updated docs for the [combobox](https://developer.microsoft.com/en-us/fluentui#/controls/web/combobox). I was unable to repro the problem - could you confirm you are still experiencing the problem?

[2021-05-25 14:52] gouttierre commented on #17638
@Raghurk - have you gotten any updates on this yet? thanks in advance.

[2021-05-25 15:40] tyveille commented on #18103
Before Spacing:
![image](https://user-images.githubusercontent.com/22622621/119526604-624b8e80-bd34-11eb-92f6-27f9b8ccf868.png)

After Spacing is applied:
![image](https://user-images.githubusercontent.com/22622621/119526670-71cad780-bd34-11eb-83a0-3a88eced5415.png)

Sometimes the chevron is completely hidden when expanded.

[2021-05-25 16:16] khmakoto commented on #17288
Hi @u-can-miracle, the PR seems to still be in progress!

[2021-05-25 16:19] khmakoto commented on #5815
Closing since we are not likely going to invest in the current implementation of `Nav` going forward.

[2021-05-25 16:19] #5815 closed

[2021-05-25 16:20] khmakoto commented on #6221
Closing since if/when we do approach a new `Nav` component the approach will probably be very different to what is discussed here.

[2021-05-25 16:53] FeodorFitsner commented on #17587
@gouttierre There was a PR that didn't pass a review and got closed as stale: https://github.com/microsoft/fluentui/pull/17589
Honestly, at this point I'm not sure what would be the acceptable way to fix that issue.

[2021-05-25 17:05] birla commented on #18291
@gouttierre That's great! We had a call with Microsoft a few weeks back where they asked us to use the Figma Teams UI Toolkit to design solutions for our customers. My company has multiple ongoing projects, app/bots for Teams, in nascent stages where we are deciding the react libraries to use. So we are in immediate need some direction from Microsoft to understand the libraries to use which are st

[2021-05-25 18:14] TristanWatanabe commented on #18313
This was intentionally done when `Checkbox` was updated by #18260 as having the the item's label be the fallback for the `aria-label` of the checkbox was bad practice. Multi-select `Dropdown` will now need to specifically pass an `ariaLabel` prop to `Checkbox` now though and I'll work on getting a PR out for that.

[2021-05-25 18:50] ecraig12345 commented on #4575
Closing since we are not likely going to invest in the current implementation of Nav going forward, due to focusing on converged components. (Though if anyone else would like to submit a PR with Nav perf improvements, I'd be happy to review it.)

[2021-05-25 18:50] #4575 closed

[2021-05-25 19:49] #15776 closed

[2021-05-25 19:51] ecraig12345 commented on #15475
Closing since this probably won't be a priority right away, and we can make a new tracking item when we come back to it.

[2021-05-25 19:51] #15475 closed

[2021-05-25 19:52] #14691 closed

[2021-05-25 19:53] #14692 closed

[2021-05-25 20:06] #15459 closed

[2021-05-25 20:13] ecraig12345 commented on #13336
Still an issue. https://codepen.io/ecraig12345/pen/jOBwarE?editors=0010

[2021-05-25 20:32] #18313 closed

[2021-05-25 21:33] #17288 closed

[2021-05-25 22:24] TristanWatanabe commented on #18287
Website is back up - will close this issue now.

[2021-05-25 22:24] #18287 closed

[2021-05-25 23:00] #18109 closed

[2021-05-25 23:01] swasun99 commented on #18109
Thank you for the codepen, I will try it and get back if need be.

[2021-05-26 03:03] JustSlone commented on #17217
We'll resurrect if it's relevant later

[2021-05-26 03:03] #17217 closed

[2021-05-26 03:06] #16650 closed

[2021-05-26 03:10] #16323 closed

[2021-05-26 03:19] JustSlone commented on #16130
Confirmed it's still an issue with narrator

[2021-05-26 03:38] #7623 closed

[2021-05-26 03:55] Kingwl commented on #17704
Sorry for the delay.

Actually, it's reported by telemetry. And I cannot repro this on as an MVP.

Does the team have seen this before? If not, It's okay to close this.

[2021-05-26 04:31] priaajais1 opened #18333 "Required ARIA child role not present: textbox showing up for Dropdown in accessibility insights fast pass"
### Environment Information

- **Package version(s)**: 8.14.15
- **Browser and OS versions**: Chrome, Windows 10(19043.985)

### Describe the issue:

Run accessibility insights tools for web on https://developer.microsoft.com/en-us/fluentui#/controls/web/dropdown
There are error identified by [Accessibility insights for web](https://chrome.google.com/webstore/detail/accessibility-insights-fo/pbjjk

[2021-05-26 07:17] nancy2681 commented on #18320
@TristanWatanabe I need an svg for the correct icon. So that we can replace that in AddFavoriteFillIcon.tsx

[2021-05-26 07:51] strwase commented on #17575
I'm very much wondering the same this as @harlankoehn. It is specifically mentioned in the documentation, but there does not seem to be any support of actual selection. Northstar on the other hand does have a selectable list component.

[2021-05-26 08:30] markdon commented on #17288
Thanks everyone involved. I appreciate your work!

[2021-05-26 10:21] Svudec opened #18336 "[DetailsList] group disappearing after expanding another group"
### Environment Information

- **Package version(s)**: 8.15.0 and earlier

### Please provide a reproduction of the bug in a codepen: [BUG EXAMPLE](https://codepen.io/svudec/pen/MWpoZdP)

#### Actual behavior:

When the first group is expanded, second group disappears. After collapsing the first group, second group reappears.

#### Expected behavior:

All groups should be visible at all times.

##

[2021-05-26 13:20] #18285 closed

[2021-05-26 13:45] reposman33 opened #18340 "Dropdown callout positions next to select"
### Environment Information

- **Package version(s)**: "office-ui-fabric-react": "7.100.0",
- **Browser and OS versions**: Firefox 88.0.1 (64-bit) Windows 10 Home v 20H2

### Please provide a reproduction of the bug in a codepen:
see attached screenshot below

#### Actual behavior:
When clicking a Dropdown component, if the callout (the list of options) is taller than the available space below it

[2021-05-26 18:28] hetanthakkar1 commented on #18340
@TristanWatanabe @ecraig12345 How about removing this part from Dropdown.base.tsx( Line 589-600)

isSmall ? (
      <Panel
        isOpen={true}
        isLightDismiss={true}
        onDismiss={this._onDismiss}
        hasCloseButton={false}
        styles={panelStyles}
        {...panelProps}

        {this._renderFocusableList(props)}
      </Panel>
    ) :

[2021-05-26 18:28] TristanWatanabe commented on #18035
@ankitakash2007: Unless I'm just not understanding the use case you're describing; it seems like you can use `collapseByDefault` prop to continually manipulate the collapsed/expanded state of the `Nav`. Here's a codepen that demonstrates this: https://codepen.io/tristanwatanabe/pen/qBrXZad

[2021-05-26 18:43] ecraig12345 commented on #18035
It's very weird (and arguably wrong) that changes to `collapseByDefault` are respected. I also noticed that it stops working if you manually expand or collapse the group. This is what the code is currently doing:
https://github.com/microsoft/fluentui/blob/918d2a8403d0bcb969aaec1eaffd87e031102efb/packages/react/src/components/Nav/Nav.base.tsx#L388-L394

It might make sense to add a property `isColl

[2021-05-26 18:44] #18141 closed

[2021-05-26 18:44] #18178 closed

[2021-05-26 18:57] TristanWatanabe commented on #18333
This is a duplicate of #17838 and #17981 which ended up being a an axe-core issue (details in : https://github.com/microsoft/fluentui/issues/17838#issuecomment-824442277). Will close this now.

[2021-05-26 18:57] #18333 closed

[2021-05-26 19:54] TristanWatanabe commented on #17517
@levymsft @gouttierre this is a duplicate of #17838 and is actually an issue with axe-core as further explained here: https://github.com/microsoft/fluentui/issues/17838#issuecomment-824442277

[2021-05-26 20:36] raharri opened #18346 "JAWS isn't reading onText and offText for Toggle"
### Environment Information

- **Package version(s)**: 8.15.0
- **Browser and OS versions**: Chrome 90.0.4430.212 for Windows 10

### Describe the issue:

When using Narrator, if a Toggle has onText and offText those are read when the Toggle state is changed, but for JAWS the only acknowledgement of the changed state is "on" or "off"

### Please provide a reproduction of the issue in a codepen:

h

[2021-05-26 21:58] tomi-msft commented on #17861
Hi @marc-hayek, apologies for the late reply. Unfortunately there isn't a generator for the svg files. They were probably pulled from IconCloud , and then wrapped in the react function component that are used in the react-icons-mdl2 package.

There is a tool called svgr that can be used to add and remove attributes from svgs, but that work would entail redownloading all the svgs, running the raw s

[2021-05-26 23:25] smhigley commented on #18035
@ecraig12345 I just took a trip down the Nav rabbit hole, and it gets even weirder. For the expanded state on `INavLink` (not `INavGroupLink`), we're actually _directly mutating isExpanded on the groups object passed in through props_ 😱:
https://github.com/microsoft/fluentui/blob/918d2a8403d0bcb969aaec1eaffd87e031102efb/packages/react/src/components/Nav/Nav.base.tsx#L301-L305

So the component is

[2021-05-27 01:31] ecraig12345 commented on #18340
@hetanthakkar1 No, that's the code used to render the options inside a panel on small screens.

This behavior is actually by design right now. If you want the callout to always display beneath the dropdown, you can set `IDropdownProps.calloutProps.directionalHintFixed` to `true` as shown here. https://codepen.io/ecraig12345/pen/mdWMWNE?editors=0010

[2021-05-27 02:17] dmichon-msft opened #18350 "Typings for callbacks on Fabric components posit that the component may omit them when invoking the callback"
### Environment Information

- **Package version(s)**: 7.0 latest
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

This issue occurs for nearly every callback in the repository, but to use a specific example, the DetailsList `onRenderItemColumn` callback typings (https://github.com/microsoft/fluentui/blob/7.0/packages/office-ui

[2021-05-27 02:17] ghassane23 opened #18351 "ProgressIndicator: ARIA progressbar nodes must have an accessible name"
### Environment Information

- **Package version(s)**: 8.14.5
- **Browser and OS versions**: Edge, Windows

### Describe the issue:

Accessibility insights for Web returns an error when rendering the ProgressIndicator without a Label or Description even though we provide an AriaValueText.

### Please provide a reproduction of the issue in a codepen:

Codepen link:
https://codepen.io/gadnani/pen/xx

[2021-05-27 04:38] vamshi9666 commented on #16984
could you provide your code snippet for this workaround

[2021-05-27 06:13] bharath3719 commented on #8589
Any fix/ workaround for this ?

[2021-05-27 08:05] KaygNas commented on #17706
Yes, the incorrect behavior only appear when using Safari, as I open the codepen  on my iPhone and it behave as the same as my description above.

[2021-05-27 08:55] hetanthakkar1 opened #18354 "Playground for documentation website"
#### Describe the feature that you would like added

It would be a great feature to implement a playground where you can tweak the code for the components(more specifically the props) and see the desired output on the website. I have worked on a similar kind of project in the past and I would be more than happy to work on this feature. I have researched the implementation detail for this feature a

[2021-05-27 09:44] reposman33 commented on #18340
@ecraig12345 Thanx, that's what I was looking for :)

[2021-05-27 09:44] #18340 closed

[2021-05-27 09:53] sankarkumar23 opened #18355 "TagPicker suggestions/item long text.. default tooltip text not showing up on hovering on ellipsis"
The default tooltip is not showing up on hovering on ellipsis if content is tool long. Ex: Selected a long text item in TagPicker. I do see tooltip in codepen samples of TagPicker. I am using Panel control and on top of it I added TagPicker. It seems tooltip is not working on any of the controls with long text. Any tips on how to troubleshoot this?

[2021-05-27 10:00] #17575 closed

[2021-05-27 10:20] layershifter opened #18357 "node packages within repo are required to be built first before using (blocking no-build dev loop mode)"
## Problem details

#18337 introduced Jest aliases to workaround build issues, but the problem was not **completely** solved. As #16889 is going to use Jest aliases too, we will have the same problem there:

[code]

We met the problem before with `babel-make-styles` (#18040) and there is a proposal how to solve it (#18144).

## Possible solutions
- use `@babel/register`/`ts-node`/`esbuild-register

[2021-05-27 10:21] reposman33 opened #18358 "Display label to the left of a TextField component"
I have a Textinput and Dropdown component. Both components have a label that is shown _above_ the component. I want the label to be displayed to the _left_ of the component.

Not sure how to do this.
- ```Dropdown.onRenderLabel``` allows me to return JSX that can contain the label but I cannot change the position using css
- the components style property allows me to assign css to the input compon

[2021-05-27 10:27] sankarkumar23 commented on #18355
I figured out when you have title attribute tooltip will show up.. but for me title is not being added automatically. I am using version 1.11.0

[2021-05-27 10:44] arpitBhalla commented on #18354
@hetanthakkar1 That's a great idea, I am in

[2021-05-27 13:32] ling1726 opened #18359 "Menu: remove confusing `menuPopup` slot"
## Current problem

Styling the popup that displays an opened menu is not very intuitive because it must be done through a `menuPopup` slot. This was done because the `Menu` does not actually render any DOM so the decision was made to use the slot instead.

[code]

## Proposal 1 - `Menu` should just represent the popup as a root slot

Even though the `Menu` does not actually render any DOM, it sho

[2021-05-27 14:09] HugoRomat opened #18360 "Accessibility issue when embeeding <SwatchColorPicker> into <ContextualMenu>"
### Environment Information

- **Package version(s)**: "office-ui-fabric-react": "^7.168.2",
- **Browser and OS versions**: Edge / Windows

### Describe the issue:

Impossible to navigate from the color Picker to the other items.
My goal was to navigate within the color using the arrows. And navigate between the menu items using the Tab key.
However, it doesn't work at all.

### Please provide a r

[2021-05-27 14:14] Drustus opened #18361 "DetailsList row remounts"
### Environment Information

- **Package version(s)**: "@fluentui/react": "8.14.0"

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/drustus/pen/zYZdMYr

#### Actual behavior:

When the list contains 10 elements, the element at position 9 starts to remount. In my code, the row contains a form so the remount causes information loss. The same occurs every 10 rows.

####

[2021-05-27 14:59] #16791 closed

[2021-05-27 15:28] ling1726 commented on #18359
@miroslavstastny @levithomason  any thoughts here from your experience in MeControl ?

[2021-05-27 16:08] marc-hayek commented on #17861
That would be great, thanks a lot!

[2021-05-27 16:55] ling1726 opened #18362 "Menu: Clicking anywhere dismisses the menu"
⚠⚠⚠ **Assumption was wrong**

Currently, clicking anywhere on the menu - event non invokable headers or dividers will close the menu.

Only clicking on menu items should close the menu

Following the example in most modern UIs, multiple selection (i.e. `MenuItemCheckbox`) should not dismiss the menu on click because the user can select might want to select more than one item.

[2021-05-27 17:03] smhigley commented on #18360
@HugoRomat it looks like you may want a Callout, not a ContextualMenu to contain the color picker.

Aside from the keyboard interaction, a ContextualMenu has `role="menu"` on it, and can only contain children with a role of `menuitem`, `menuitemcheckbox`, or `menuitemradio`. Callout is a more general-purpose popup, can contain any children, and does not manage focus between its descendants in the

[2021-05-27 17:14] smhigley opened #18363 "DetailsList header checkbox has prohibited ARIA naming attributes"
### Describe the issue:

When `SelectionMode` is `SelectionMode.Single`, the column header for the checkboxes ends up with a `<div>` that still has name and description attributes. This raises automated errors b/c those are prohibited on generic elements.

[2021-05-27 19:06] louiebert opened #18364 "Slider onChanged callback is using an outdated ref"
### Environment Information

- **Package version(s)**: @fluentui/react: 8.1.15
- **Browser and OS versions**: N/A

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/louiebert/pen/dyvzEWG

#### Actual behavior:

The controlled state value being modified within `onChange` is n-1 state values behind current when that state value is captured at the time that `onChanged` ex

[2021-05-28 00:14] winston-de opened #18370 "[Web components] Tree view item icon is rotated 45 degrees counter-clockwise more than it should be"
### Environment Information

- **Package version(s)**: @fluentui/web-components from UnPackage (0.21.2 I suppose)
- **Browser and OS versions**: Chromium Edge

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
Icon is rotated 45 degrees counter clockwise, so that it points north-east when collapsed and east when expanded.

Expanded state:
![image](https://user-image

[2021-05-28 04:00] #18212 closed

[2021-05-28 06:01] sankarkumar23 commented on #18355
Issue resolved for SelectedItem(s) after upgrading to version 1.12.1. Can we have tooltip text in suggested items drop down too? I have multiple long texts in suggested items having same value expect the ending part.. so its difficult to choose the correct item.

[2021-05-28 10:26] hetanthakkar1 commented on #18354
@TristanWatanabe @ecraig12345 What do you think!?

[2021-05-28 13:11] mohit406 commented on #18140
@ecraig12345

We have repro the issue on Fluent UI homepage and observed that issue is repro on the website
Please follow the below step to repro the issue:
1.Open the URL: https://developer.microsoft.com/en-us/fluentui#/controls/web/dropdown
2. Navigate to the Basic Dropdowns under Usage
3. Run the Accessibility Insight tool(https://accessibilityinsights.io/)
4. Verify the Elements with an ARIA r

[2021-05-28 15:47] yangster23 commented on #16982
Apologies, I misread the codepen that you sent. The behavior in the codepen is correct; however, I get a typescript error where Type '{ "data-is-focusable": false; }' is not assignable to type 'ButtonHTMLAttributes<HTMLElement | HTMLButtonElement>'.
  Object literal may only specify known properties, and '"data-is-focusable"' does not exist in type 'ButtonHTMLAttributes<HTMLElement | HTMLButtonEle

[2021-05-28 16:09] IshamMohamed opened #18375 "React northstar Embed component does not render PDF except demo site"
React northstar version: 0.56.0

I tried the following code in the demo [site](https://fluentsite.z22.web.core.windows.net/0.56.0/components/embed/definition).
[code]
This works nicely in the demo site:
![image](https://user-images.githubusercontent.com/2231923/120012321-ee4e0680-c011-11eb-8c87-7c14290c048a.png)

However the same code does not show the PDF in Teams client. Why is this behavior?

A

[2021-05-28 16:39] vamshi9666 commented on #16984
update :  there are `dismissMenu`, `dismissAll `  callback functions available from `onRender` render function.

You could call them to dismiss menu.

example:
[code]

[2021-05-28 17:04] MightySameerDesai commented on #16984
Hi Vamshi,

Apologies for the late response. I did use the dismissSubMenu callback. What I additionally had to do however was to have a componentRef associated with each menu item and onMouseEnter prop for the custom rendered menuitems. So when the mouse moved to these menuitems, I would use the associated componentRef to invoke dismissSubMenu for the menuitem.

[2021-05-28 21:25] timothyhoffmann opened #18377 "Dialog has too much white space below footer if no subText"
#### Describe the feature that you would like added

If a Dialog does not have a subText string then the white space below the DialogFooter is a bit too large.

#### What component or utility would this be added to

Dialog

#### Have you discussed this feature with our team, and if so, who

No

#### Additional context/screenshots
Dialog with text in the body of the dialog but no subtext
![image](h

[2021-05-28 21:32] #18145 closed

[2021-05-28 23:40] chrisdholt commented on #18370
Thanks @TristanWatanabe for the issue - I believe we’ve addressed this in our feature branch for cNext which should be releasing in the next week or so. If you can wait for that, awesome! If not, we’d be happy to take a PR or prioritize it into a release prior to v1.

[2021-05-29 00:20] Sylvenas commented on #18364
I  think this is the expected behavior,not a bug, u can use `useEffect` hook :
[code]

[2021-05-29 00:20] khmakoto opened #18379 "Need to remove outdated patterns in components inside of @react-button package"
There are a couple of patterns that were introduced in the `@fluentui/react-button` package when we first did an alpha released that are now outdated and should be removed. This is an issue to track that work item.

Related to #16746, #18135 and #18136.

[2021-05-29 00:29] raharri opened #18380 "azure-themes light mode has insufficient contrast in DetailsList"
### Environment Information

- **Package version(s)**: azure-themes 8.1.16
- **Browser and OS versions**: Chrome  91.0.4472.77 for Windows 10

### Describe the issue:

The color contrast between a Link element and the background of a selected row in a DetailsList is insufficient (ratio of #0179D4 to #F3F2F1 is 4:1 when it should be 4.5:1)

### Please provide a reproduction of the issue in a codepe

[2021-05-29 01:12] khmakoto opened #18381 "Callout: maxHeigth cannot be set by the user if !important is not set when using directionalHintFixed"
When using `directinalHintFixed` on a `Callout` the `maxHeight` is overridden even if the user is setting it, either through `styles`, `classname` or via the `calloutMaxHeight` prop.

[2021-05-29 11:43] hantatsang commented on #18224
I'm taking a look at the CodePen but the `<label>` has a `for` attribute that points to the slider `<div>` already, which satisfies the accessibility requirement, not sure why the `for` attribute doesn't know show up in your screenshot @cabillin ?

![2021-05-29 21_39_04-Fabric Slider with custom label + aria-labelledby - Brave](https://user-images.githubusercontent.com/11912225/120068937-90c7c180-

[2021-05-29 12:54] nancy2681 commented on #18377
I am working on this.

[2021-05-29 15:49] hetanthakkar1 commented on #18381
@ecraig12345 @khmakoto Will removing this line work!?: https://github.com/microsoft/fluentui/blob/25079ca410f149bb05f776112e827b60183de70f/packages/react/src/components/Callout/CalloutContent.base.tsx#L143

[2021-05-29 16:11] abhishek-raj commented on #17612
Okay. I will work on a PR. Thanks.

[2021-05-29 16:29] hetanthakkar1 commented on #18047
@TristanWatanabe @ecraig12345 I want to work on this

[2021-05-30 23:15] zhr1130 opened #18384 "[DetailList]: Screen reader doesn't associates the cell value with it's column header"
### Environment Information

- **Package version(s)**: 8.15.1
- **Browser and OS versions**: Windows 10 with Narrator

### Describe the issue:

Screen reader doesn't associates the cell value with it's column header

### Please provide a reproduction of the issue in a codepen:

https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist/compact

#### Actual behavior:

Screen reader do

[2021-05-31 03:00] kidokidozh commented on #18232
@ecraig12345 We are using `ScrollablePane` and `DetailsList` together to have a sticky header table. Do you have any suggestion on the best practices?

[2021-05-31 05:43] Renuka8796 opened #18385 "Narrator announces incorrect name in fabric control datepicker for “year 2021” instead it announces only “2021”"
**Environment Information**
Package version(s): "@fluentui/react": "^7.126.0",
Browser and OS versions: chrome and Windows 10
Describe the issue:
Narrator announces incorrect name for “year 2021” instead it announces only “2021”

Please provide a reproduction of the issue in a codepen:   https://developer.microsoft.com/en-us/fluentui#/controls/web/datepicker
**Actual behavior:**

Narrator announce

[2021-05-31 08:26] jurokapsiar opened #18386 "Carousel: No animation in controlled mode"
Changing activeIndex in carousel switches the slides, but does not cause the slides to be animated.

### Environment Information

- **Package version(s)**: 0.56
- **Browser and OS versions**: all

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/fluent-ui-example-forked-d5gn6?file=/example.js

[2021-05-31 08:35] Jaiganeshkumaran opened #18387 "ChoiceGroup doesn't look consistent with WinUI RadioButton"
Seems like ChoiceGroup is using the old design where the circle was inside the border which isn't consistent with WinUI's RadioButton control.

Fluent UI React CheckGroup:
![image](https://user-images.githubusercontent.com/45227503/120165542-4f93f680-c219-11eb-813a-8937bad0f290.png)

WinUI RadioButton:
![image](https://user-images.githubusercontent.com/45227503/120165584-59b5f500-c219-11eb-8feb-e5

[2021-05-31 10:43] miroslavstastny commented on #18359
Both proposal look better than the current state :+1:
I would vote for Proposal 2 - even though there is more to type, the JSX better represents the logical structure of the component, there are less surprises and being aligned with `Popover` is a great additional benefit.

[2021-05-31 11:58] mittaltanisha opened #18391 "Contextual Menu on mobile (Android) : Dismissing on resize"
### **Environment Information**

**Package Version** - office-ui-fabric-react" v7.170.1
**OS** - Android mobile devices

### **Describe the Issue**

We are adding a Search Box in our Contextual Menu. On mobile browser, when we tap on search box the keyboard appears in the bottom part of screen which triggers the resize event which in turn dismisses the Contextual Menu.
If I try to specify callout

[2021-06-01 01:40] nelsonwhyu commented on #3726
Hi, hope and seems having "Select All" option in dropdown/combobox multiSelect is the consensus. My firm is adopting fluent ui for software development and it's common than not that our dropdown will contain at least 20+ options and Select All becomes critical for user experience.

Seeing you have plan to overhaul dropdown/combobox, here are some features in my wish-list:

1. Option to Select All

[2021-06-01 07:31] pankaj-ch opened #18398 "Breadcrumb: issue in opening the collapsed menu when it renders inside other react portal component (e.g. modal)"
### Environment Information

- **Package version(s)**: 8.16.0
- **Browser and OS versions**: All latest browsers (Chrome, chromium based Edge, firefox)

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/fluentui-breadcrumb-inside-modal-issue-9sr50

#### Actual behavior:

![Bug-breadcrumb_inside_modal](https://user-images.githubusercontent.com/37103845/120283483-d

[2021-06-01 09:46] Drustus commented on #18361
Any update?

[2021-06-01 14:33] shepparddean commented on #17587
The handler gets called twice, and the event object is not sent into the handler.

[2021-06-01 17:00] #18219 closed

[2021-06-01 17:00] #17946 closed

[2021-06-01 17:00] #18162 closed

[2021-06-01 17:00] #17599 closed

[2021-06-01 17:02] avbhardwaj commented on #18162
@gouttierre : This issue has been resolved, thank you :-)

[2021-06-01 18:03] wutonghao opened #18405 "Narrator always announces '0' instead of the actual value for SpinButton with suffix"
### Environment Information
- **Package version(s)**: 8.16.0, also repos in older versions
- **Browser and OS versions**: Edge

### Describe the issue:
Narrator always announces '0' instead of the actual value for SpinButton with suffix.

### Please provide a reproduction of the issue in a codepen:
https://fabricweb.z5.web.core.windows.net/oufr/8.16.0/#/examples/spinbutton
See the SpinButton examp

[2021-06-01 18:49] HugoRomat commented on #18360
Thanks a lot! It works :)

[2021-06-01 18:49] #18360 closed

[2021-06-01 19:26] jeffersoneagley commented on #16787
I keep having similar sorting issues logged against my portals.

[2021-06-01 19:32] mbest commented on #18364
It's a regression from Fluent 7. `onChanged` is called from within a timeout. In Fluent 7 which used classes, it accessed the latest props, but new that it uses functions, it accesses the props from a previous render.

[2021-06-01 20:00] #17630 closed

[2021-06-01 22:39] jtbandes opened #18408 "Ability to configure Tooltip-specific Callout styles in theme"
#### Describe the feature that you would like added

Tooltip uses a Callout to render the popup, but `ITooltipStyles` doesn't seem to contain a `subComponentStyles` that allows you to set styles for its callout.

Specifically I want to configure the background color for the tooltip's beak/beakCurtain, and padding etc. (Not **all** Callouts...just the ones used for Tooltips.)

#### What component o

[2021-06-01 23:00] #16784 closed

[2021-06-01 23:38] hoale-mscom commented on #18176
@TristanWatanabe @ecraig12345 is this one considered approved and will be schedule ?

[2021-06-01 23:59] osfprieto commented on #18160
@TristanWatanabe - ping.

Has there been any discussion around this? Will this be considered?

[2021-06-02 05:09] rockcs1992 opened #18411 "Tooltip: Expose tooltip on/off state"
#### Describe the feature that you would like added
Currently tooltip component only exposes two methods to the users through `ITooltipHost` interface : `show` and `dismiss`. While these two are good to use to toggle the state of Tooltip, our team now has the need to execute some logic determined on the on/off state of the tooltip, which is not currently available to the users. We could maintain o

[2021-06-02 05:58] ZhehooMorgen opened #18412 "Customize the time delay between user stop input and call onGetErrorMessage of textfield or other components"
#### Describe the feature that you would like added

Customize the time delay between user stop input and call onGetErrorMessage of textfield or other components

#### What component or utility would this be added to

Text field

#### Have you discussed this feature with our team, and if so, who

No

#### Additional context/screenshots

No

[2021-06-02 06:22] ZhehooMorgen opened #18413 "Scrollable details list"
#### Describe the feature that you would like added

Make details list scrollable when having too many items while leaving the header and footer position fixed.

#### What component or utility would this be added to

details list

#### Have you discussed this feature with our team, and if so, who

no

#### Additional context/screenshots

no

[2021-06-02 09:56] piyumi25 opened #18416 "Load data to item list when scroll is happened"
I am using Basic DetailList to show search results for an Outlook Addin. I need to load data to the list when scrolling. I went through the documentation and I found that data list is re-rendering when scrolling but we have to load data initially. Is there a way to fulfill my requirement using DetailList?
https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist/basic

[2021-06-02 10:41] EYHN opened #18418 "Dropdown not work with TeachingBubble"
### Environment Information

- **Package version(s)**: 8.16.0
- **Browser and OS versions**: firefox macos

### Please provide a reproduction of the bug in a codepen:

demo: https://codepen.io/huaji/pen/BaWYpBQ

#### Actual behavior:

Unable to open drop-down box when TeachingBubble is visible.

#### Expected behavior:

The drop-down selection box should work fine.

### Priorities and help request

[2021-06-02 11:24] #18362 closed

[2021-06-02 16:15] mohitbagra opened #18422 "ComboBox: aria-labelledby is added to list container with non-existent label id, when no label prop is passed to combobox"
### Environment Information

- **Package version(s)**: 8.16.0
- **Browser and OS versions**: all

### Describe the issue:

When no label prop is passed to ComboBox, the dropdown list container still has `aria-labelledby` attribute with a non-existent id as value. There is no check in place for whether a label prop is passed or not when setting this attribute on the list container.
I have found 2 d

[2021-06-02 19:01] jtbandes opened #18423 "Not getting type checking or autocomplete for makeStyles in VS Code"
### Environment Information

- **Package version(s)**: `@fluentui/react`: 8.16.0
- **Browser and OS versions**: macOS 11.4, VS Code 1.56.2

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/goofy-microservice-2yftg?file=/src/index.tsx

I'm not getting autocomplete options for CSS keys or values inside of makeStyles:
<img width="363" alt="image" src="https://user-

[2021-06-02 19:18] khmakoto commented on #18423
Hi @jtbandes, I can see now why the autocomplete would break if you don't pass any type as the generic, I'll open a PR shortly to address the issue.

We do have `string` as a fallback for many CSS property values, I would suggest opening another issue for that problem though, as that is not exactly related to the other issue you are describing here.

[2021-06-02 19:21] tomsato-ms opened #18425 "targetWidthProportion on DetailsList is not properly working"
### Environment Information

- **Package version(s)**: latest version
- **Browser and OS versions**: Chrome

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/tomothehiro/pen/mdWXKev

#### Actual behavior:

targetWidthProportion is not taken into consideration when generating the width.

#### Expected behavior:

targetWidthProportion should distribute the width of the

[2021-06-02 19:25] tomsato-ms commented on #18425
Also, documentation has a typo in line 372, it should be `3/4` not `2/4`
[code]

[2021-06-02 19:36] jtbandes opened #18426 "Stricter CSS typing for IStyle/IRawStyleBase"
#### Describe the feature that you would like added

As a user of the component/style libraries, I would hope that any invalid CSS values would be caught by the TS compiler, meaning that IStyle should have stricter type annotations.

I also want the values to show up in intellisense/autocomplete suggestions by VS Code, which requires that the known values be included in the type, even if the type

[2021-06-02 19:36] jtbandes commented on #18423
Filed https://github.com/microsoft/fluentui/issues/18426 to discuss stricter CSS property typing

[2021-06-02 20:48] livthomas commented on #18035
I would also appreciate this feature. My use case is very simple. When a group is expanded, I need to collapse all other groups.

[2021-06-02 22:33] ecraig12345 commented on #16982
In that case you unfortunately just have to cast the `inputProps` object to `any`, because prior to typescript 4.1 there's no way to specify that an interface allows all props starting with `data-`.

[2021-06-02 22:38] ecraig12345 commented on #18140
This is a duplicate of #17838, #17981, and #18333, and it's a false positive from Accessibility Insights. See https://github.com/microsoft/fluentui/issues/17838#issuecomment-824442277 for details.

[2021-06-02 22:39] ecraig12345 commented on #18426
We actually used to have stricter type checking here, but it was removed sometime in the past year or so for reasons I don't recall. @dzearing could probably provide more details.

[2021-06-03 00:31] axhl commented on #17952
Any progress on this? I'm experiencing the same `height: 100%`-issue when using `<Card>` in `0.56.0` in Chrome. Thank you for investigating.

[2021-06-03 02:00] #15360 closed

[2021-06-03 02:05] pagaur opened #18433 "ContextualMenu missed invoking props.OnRestoreFocus if set"
### Environment Information
master branch packages/react/src/components/ContextualMenu/ContextualMenu.base.tsx
- _tryFocusPreviousActiveElement  used to invoke this.props.onRestoreFocus if set. But seems with merge into fluent codebase from react-internal package we missed this code.
- Refer: https://github.com/microsoft/fluentui/pull/15448/files#diff-d7d5a6bc69a7dc12c8a4c2112d49078c039523dc997654

[2021-06-03 05:58] jcdiocadiz opened #18435 "DetailsList components not able to assign tabIndex to its components and the onRender rows"
### Environment Information

- **Package version(s)**: latest
- **Browser and OS versions**: any browser

### Issue

The DetailsList Component has no parameter for assigning the tabIndex and when I tried looking at the Developer's Tool to see if the DetailsList component has tabIndex, it has none. As part of the accessibility testing, we need to ensure that each columns and row cells can be tabbed

[2021-06-03 07:27] Renuka8796 opened #18436 "Incorrect control type "group" is provided to all the check boxes present in the "DropDown" control in fabric when multiselect select dropdown expanded pop up"
**Environment Information:**
Package version(s): "@fluentui/react": "^7.126.0",
Browser and OS versions: chrome and Windows 10
**Describe the issue:**
Incorrect control type "group" is provided to all the check boxes present in the "DropDown" control in fabric when multiselect select dropdown expanded pop up

Please provide a reproduction of the issue in a codepen: https://developer.microsoft.com/

[2021-06-03 14:00] #13502 closed

[2021-06-03 14:33] Prasanthnb78 opened #18438 "Fluent Desktop Icon font or SVG not available for designer"
Fluent desktop icon font or SVG  not available for designers using Figma or Adobe software.

[2021-06-03 14:56] Rafaelki commented on #16566
I have the same request from several clients.
I have implemented the idea of @LukeOwlclaw in #14128 (replace an option with a search box) in this code pen: https://codepen.io/rafaelki/pen/VwpQoBr?editors=0010 - test writing "ap".
It doesn't look as neat as react-sementic or react-select but it seems to work.
I am having an issue with the focus when I have an option selected. While writing in the s

[2021-06-03 16:32] ecraig12345 commented on #18387
This is a duplicate of #16258.

[2021-06-03 16:32] #18387 closed

[2021-06-03 16:34] ecraig12345 opened #18440 "Add a test to ensure compatibility with TS 3.9"
Since our consumer TS min bar is 3.9 for `@fluentui/react` version 8, but our repo is compiling with TS 4.1, we need to ensure we don't introduce any TS 3.9-incompatible public APIs or .d.ts.

A "good enough" approach (may not catch all cases but is easy to implement):
- In a temp directory, scaffold a basic package with TS 3.9 and relevant fluentui deps (gzipped local versions, similar to project

[2021-06-03 16:36] ecraig12345 opened #18441 "Add type downleveling (typesVersions)"
A "good enough" initial solution to ensuring TS 3.9 compatibility is just banning type constructs introduced in 4.0+ (see #18440), but we may want to add actual downleveling in the future. [downlevel-dts](https://www.npmjs.com/package/downlevel-dts) could help. A bit more discussion on #16101.

[2021-06-03 16:40] ecraig12345 commented on #17321
Looking at this again, the issue is likely that you didn't build before running tests (this is required at the moment). The following should work; if not, please file a new issue with details.
[code]
(If you only want to run tests up to a certain project, you can add `--to project-name` to the build and test commands above.)

[2021-06-03 16:40] #17321 closed

[2021-06-03 16:40] #17229 closed

[2021-06-03 16:42] ecraig12345 opened #18442 "Update jest and ts-jest to 27"
We're currently on Jest ~~24~~ 26 (current: 27) and ts-jest ~~24~~ 26. Now that we've upgraded to TS 4.1, we're unblocked from upgrading these deps. Unfortunately this is likely to require a significant amount of work.

~~[Jest 25 release notes](https://jestjs.io/blog/2020/01/21/jest-25)~~
~~[Jest 26 release notes](https://jestjs.io/blog/2020/05/05/jest-26)~~
[Jest 27 release notes](https://jestjs

[2021-06-03 16:45] ecraig12345 commented on #12546
Closing this since we've switched to recommending a different starter based on Create React App. See [this page](https://developer.microsoft.com/en-us/fluentui#/get-started#start-a-new-fluent-ui-react-project) for details.

[2021-06-03 16:45] #12546 closed

[2021-06-03 16:47] ecraig12345 commented on #16949
@Hotell Should we close this now or repurpose to help track jest updates?

[2021-06-03 17:27] #18423 closed

[2021-06-03 18:08] ecraig12345 commented on #18413
This is already possible with existing props and some custom styling. There's an open PR #18249 adding an example of this to the website, and you can see a simplified live example here: https://codesandbox.io/s/18413-detailslist-scrollable-with-fixed-headers-fdepm?file=/src/index.tsx

[2021-06-03 18:09] #18413 closed

[2021-06-03 18:17] ecraig12345 commented on #18025
Closing in favor of individual tracking issues (linked in updated issue description).

[2021-06-03 18:17] #18025 closed

[2021-06-03 20:18] khmakoto opened #18445 "MenuButton: Integrate better with MenuTrigger contract"
We should update `MenuButton` so it integrates better with the `MenuTrigger` contract.

[2021-06-03 20:20] khmakoto opened #18446 "Scaffold @fluentui/react-menu-button package"
Scaffold @fluentui/react-menu-button package to house `MenuButton` and `SplitButton` components.

[2021-06-03 20:41] #18411 closed

[2021-06-03 21:50] gouttierre commented on #18133
@JustSlone would this issue then solve for #16360?

[2021-06-03 22:51] ecraig12345 commented on #18412
Have you tried using TextField's `deferredValidationTime` prop?

[2021-06-03 23:55] Jacqueline-ms opened #18448 "Master branch (8.0) azure-theme no longer being applied to storybook package"
### Environment Information

- **Package version(s)**: Master branch

#### Actual behavior:
None of the Azure style sheets are being applied to the controls in story book, nor are any new changes being seen. I expect this has to do with the vNext updates.

To reproduce:

In story book, you can see the azure-themes are not being pulled in.
<img src="https://user-images.githubusercontent.com/3080589

[2021-06-04 03:50] ZhehooMorgen commented on #18412
Sorry, missed this prop

[2021-06-04 03:50] #18412 closed

[2021-06-04 09:34] Hotell commented on #16949
let's keep it open, thx.

[2021-06-04 17:04] sopranopillow opened #18454 "Checkbox Convergence"
# Preparation:

- [x] Started prep
- [x] Open UI Research complete
  - Concepts: https://open-ui.org/components/checkbox.research.concepts
  - Findings: https://open-ui.org/components/checkbox.research.findings
  - Proposal: https://open-ui.org/components/checkbox
- [x] Comparison on v8 and v0 complete
- [x] Gather open GitHub issues related to component
- [x] react-\* package scaffolded
  - https

[2021-06-04 18:58] #18363 closed

[2021-06-04 19:07] ecraig12345 commented on #17445
The reason for using the delayed render is to help ensure that the contents of the MessageBar are announced by screen readers. The text announcement works more reliably if the live region (the element wrapping the MessageBar content) is present in the DOM before text is added.

However, I agree that it could be helpful sometimes to disable the delayed rendering by default, so I made a PR #18443 ad

[2021-06-04 20:40] ecraig12345 commented on #18354
Sorry for the delayed response, I was on vacation. We really appreciate your interest and willingness to help, but unfortunately this isn't good timing for adding that specific feature. There's work ongoing internally to replace the current website, and I think a playground like that is actually one of the features they're planning to include.

(On a related note, in case you weren't aware, it's a

[2021-06-04 20:49] #17861 closed

[2021-06-07 06:06] alexeystrakh opened #18458 "Update component state when Datepicker control new value selected"
What is the right way to update my state once a user selected a new value in Datepicker Fluent UI Northstar control? If I try to read target value from `onDateChange` event, it's undefined. I cannot also assign a React ref (React.createRef) for the Datepicker control as it's defined as a function component (correct me if I'm wrong, I'm getting `Function components cannot be given refs. Attempts to

[2021-06-07 08:41] mbedeker commented on #17510
any update on this?

[2021-06-07 10:03] YuanboXue-Amber commented on #17760
Hi, I tried to reproduce it but it works for me.
Here's a screen recording with example source code:
https://recordit.co/JxMVhvSbk9
Let me know if I missed anything :)

[2021-06-07 12:48] gouttierre commented on #17648
@mharnetiaux - thanks for reaching out

@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @smhigley

[2021-06-07 12:48] gouttierre commented on #17652
@mharnetiaux  - thanks for reaching out.

@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @smhigley

[2021-06-07 12:51] gouttierre commented on #17671
@yakkala1 - thanks for reaching out

@Raghurk - Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-06-07 12:52] gouttierre commented on #17953
@ms-khgo - thanks for reaching out.

@Raghurk - Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-06-07 12:53] gouttierre commented on #17728
@noasilberstein  - thanks for reaching out.

@Raghurk - Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-06-07 12:55] gouttierre commented on #17653
@mharnetiaux - thanks for reaching out.

@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @smhigley

[2021-06-07 12:58] gouttierre commented on #17688
@lisaharrylock - thanks for reaching out and sharing the repo steps.

@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @smhigley

[2021-06-07 12:59] gouttierre commented on #17747
@BrendanMcK - thank you for sharing the information into the issue you are experiencing.

@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @smhigley

[2021-06-07 13:04] gouttierre commented on #17661
@smhigley  - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @miroslavstastny

[2021-06-07 13:23] gouttierre commented on #17694
@jtbandes - thank you for suggestion in extending our Theme provider.
I’ve added this to our backlog for review but it’s low on our priority list as we’re likely not going to get to it immediately due to the fact we’re currently focused on larger coherence work items and enhancements to our performance. If you want to submit a PR for this feature request - please do so as we would love to see it.

[2021-06-07 13:27] gouttierre commented on #17695
@DayZeroLLC - thanks for sharing the code sandbox [url ](https://u.pcloud.link/publink/show?code=XZ61JsXZmuG7Apj9UfYgYnOwSYfnG4iK7Rgk).

@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @ecraig12345

[2021-06-07 13:29] gouttierre commented on #18375
@IshamMohamed - thanks for reaching out.

@kolaps33 - Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-06-07 13:30] gouttierre commented on #18386
@kolaps33 - Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-06-07 13:34] gouttierre commented on #17731
@FrankWeyand  - thanks for reaching out. I reviewed the details but am unable to follow your request.
Would be be able to provide more information (screen recording) into the issue at hand? Thanks

[2021-06-07 13:36] gouttierre commented on #17871
@sarioglu - thanks for reaching out and the background context around the issue.

@dzearing - any updates on this one?
cc @miroslavstastny

[2021-06-07 13:41] gouttierre commented on #17916
@Aishwaryathota - thank you for filing this item with us.

@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @smhigley

[2021-06-07 13:44] gouttierre commented on #17912
@somoo88 - Thanks for reaching out. At the moment our detailsList API has a getRowAriaDescribedBy which does not seem to answer your needs. I’ve added this to our backlog for review but it’s low on our priority list as we’re likely not going to get to it immediately due to the fact we’re currently focused on larger coherence work items and enhancements to our performance.

[2021-06-07 13:46] gouttierre commented on #17911
@somoo88 - thanks for filing this item and sharing the code pen.

@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @smhigley

[2021-06-07 13:51] gouttierre commented on #17944
@mattlking - thank you for reaching out to us and sharing the context into the issue you are facing.

@miroslavstastny - Could you confirm issue  #11873 where it resolved the mouse clicks, but the issue still happens if you to a select item using the keyboard?  Then confirm if this is a regression, or if this behavior is an issue? Thanks
cc @smhigley

[2021-06-07 13:54] gouttierre commented on #17959
@bartlomiejzuber - thank you for filing this item and sharing the repro steps. I see you are willing to submit a PR for this fix? Would you please mind sharing it with us?

cc @miroslavstastny

[2021-06-07 13:55] #18077 closed

[2021-06-07 13:56] gouttierre commented on #18000
@cabillin - thanks for reaching out to us and sharing the details into the repro.

@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @smhigley

[2021-06-07 13:59] gouttierre commented on #17975
@bmckilligan - thank you for reaching out to use and suggesting this feature request.  I’ve added this to our backlog for review but it’s low on our priority list as we’re likely not going to get to it immediately due to the fact we’re currently focused on larger coherence work items and enhancements to our performance. But if you are willing to submit a PR for this feature request we would love t

[2021-06-07 14:46] gouttierre commented on #17998
@kwak123 - thanks for reaching out and proving in depth information into the issue at hand. I see you are willing to submit a PR for this request? That is great to see - would you mind sharing it with us?

cc @miroslavstastny

[2021-06-07 14:52] gouttierre commented on #18261
@lucas-stanford - thanks for reaching out and I see  PR #18267 will help sort this out. We will keep this open until the linked PR is completed.

[2021-06-07 14:55] gouttierre commented on #18208
@kidokidozh - thank you for reaching out to us.

@smhigley  - Would you be able to confirm if this is a regression, or if this behavior is an issue with s check/uncheck checkboxes?
cc @miroslavstastny

[2021-06-07 14:58] gouttierre commented on #18207
@anowduru - Thanks for providing details into the issue you are experiencing.

@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @smhigley

[2021-06-07 15:58] janechu opened #18463 "Create definition files for Fluent UI web components"
### Describe the issue:

To leverage intellisense and other tooling that might take advantage of this information, the VS Code custom data format should be used to create `.json` files for each web components. This will allow users using the VS Code editor to gain intellisense of the web components and for other tooling, especially the tooling created by the FAST project, to generate UI for editin

[2021-06-07 16:46] #15499 closed

[2021-06-07 17:38] mbest commented on #17953
It is a regression. The "before:" above is using version 4.13.0

[2021-06-07 19:10] racheliWeiss opened #18465 "in DetailsList - Custom Item Columns, the function _renderItemColumn does'nt support in react typescript"
i am copying this code to react typescript and the function renderItemColumn  been red

Type '(item: IExampleItem, index: number, column: any) => Element' is not assignable to type '(item?: any, index?: number | undefined, column?: any[] | IColumn | undefined) => ReactNode'.
  Types of parameters 'index' and 'index' are incompatible.
    Type 'number | undefined' is not assignable to type 'number'

[2021-06-07 19:11] racheliWeiss commented on #18465
this code in fluent UI
https://developer.microsoft.com/de-de/fluentui#/controls/web/detailslist/customitemcolumns

[2021-06-07 19:33] racheliWeiss commented on #18465
I am sorry
i am Begins employee  that new  in web
i am found a solution  to my problem
https://codepen.io/atneik/pen/EGwLWM

[2021-06-07 19:52] khmakoto commented on #18135
To work in June:
- [ ] Adopt better contract with `Menu` in `@fluentui/react-menu`.
- [ ] Write spec and migration guide for `MenuButton` that follows the explorations we have been having.

[2021-06-07 19:52] khmakoto commented on #18136
To work in June:
- [ ] Adopt better contract with `Menu` in `@fluentui/react-menu`.
- [ ] Write spec and migration guide for `SplitButton` that follows the explorations we have been having.

[2021-06-07 19:52] khmakoto commented on #18379
This is expected to be done in June.

[2021-06-07 20:01] behowell commented on #16373
June goals:
* Replace old MDL2 icons with new Fluent icons
* Accessibility behavior tests
* Clean up spec to match current API

[2021-06-07 20:03] smhigley opened #18466 "Fluent accessibility and WCAG 2.1"
Tracking for general a11y bug fixes and updates to Fluent components based on new WCAG 2.1 criteria

[2021-06-07 20:08] t-oferl opened #18467 "Narrator announce ShimmeredDetailsList header twice"
### Environment Information

- **Package version(s)**: 7.165.2
- **Browser and OS versions**: Edge 91.0.864.41

### Describe the issue:

Narrator announce ShimmeredDetailsList header twice

#### Actual behavior:

when navigating to a ShimmeredDetailsListcolumn header, the Narrator announce it twice, it calls for the value one, and then the column header once

#### Expected behavior:

Narrator shou

[2021-06-07 20:24] scwood commented on #3726
For those wanting an example implementation of a custom "Select all" option, here's a small snippet.

[code]

If you use this, you'll most likely want to implement `onTitleRender`, since the value of the dropdown will be "All, Orange, Apple, Banana" when "All" is selected, but I'll leave that up to the reader.

[2021-06-07 20:37] ecraig12345 commented on #18131
For June:
- Research/spec
- MVP implementation

[2021-06-07 20:37] behowell commented on #16360
Covered by #18133

[2021-06-07 20:37] #16360 closed

[2021-06-07 20:59] Jacqueline-ms commented on #18380
Light theme: new selected row link color: #106EBE per design files. Same color for selected hover row link.

![image](https://user-images.githubusercontent.com/30805892/121085066-43b6b000-c796-11eb-8bfc-86b6df3020f2.png)

Contrast now passes accessibility at 4.7:1

![image](https://user-images.githubusercontent.com/30805892/121085377-9ee8a280-c796-11eb-846e-0c1c3236dc09.png)

Currently checking on

[2021-06-08 00:03] smhigley commented on #13826
I can't reproduce the issue originally raised, using Edge 91 and Narrator on Windows build 19043. I'd guess that whatever the original problem was, it was solved between in one of those updates.

@tylerthedeveloper for your example, reaching the radio and label text separately seems desired. You've put visible text on the page that is no longer labelling the radio, so of course Narrator should rea

[2021-06-08 00:08] khmakoto opened #18471 "Don't treat children as slot in `@fluentui/react-button` package"
We have been treating `children` as a slot in the `@fluentui/react-button` package, but this is wrong because `children` could be an array of children, a fragment, or plain text.

[2021-06-08 07:24] FrankWeyand commented on #17731
Hi,

In the attached video, you can see what I mean:

  1.  I drag a line downwards and reach the border
  2.  The list begins to scroll.
  3.  The area, that makes the list scroll is too small. Should start earlier.
  4.  As soon as I leave the list area while dragging, scrolling stops. This should keep scrolling.

We tested drag/drop with our customers. They did not notice, that the list scrolls

[2021-06-08 07:32] kidokidozh opened #18474 "DetailsHeader: empty column header should not be announced by screen reader"
### Environment Information

- **Package version(s)**: Fluent UI React 8.17.1
- **Browser and OS versions**: Microsoft Edge Version 91.0.864.41 (Official build) (64-bit)

### Describe the issue:

When `DetailsHeader` has `selectAllVisibility={SelectAllVisibility.hidden}`, an empty column header is defined in table. While navigating in table/scan mode using screen reader, focus will go to the empty

[2021-06-08 07:46] jurokapsiar opened #18475 "Text/error low luminosity in dark themes"
### Environment Information

- **Package version(s)**: 0.56
- **Browser and OS versions**: all

### Please provide a reproduction of the bug in a codepen:
Open Text component, error variant. Red color is wrong in V1 and V2 dark themes

To fix:
![image](https://user-images.githubusercontent.com/13742664/121144263-1d4c4f80-c83e-11eb-881f-bb2b42131741.png)

Verify also Alert/danger variant and HC the

[2021-06-08 08:50] ling1726 commented on #18445
#18415 introduces a TS interface which should make the contract explicit, for final home for this contract is still an open question

[2021-06-08 09:37] racheliWeiss commented on #18465
hi
I don't succeed to  fix the bug
I need that see as in the example
![table](https://user-images.githubusercontent.com/75696575/121160215-8e96fd00-c854-11eb-9ac5-a0c19c34c146.png)

I copy the code from fluent UI https://developer.microsoft.com/de-de/fluentui#/controls/web/detailslist/customitemcolumns
![bug in list](https://user-images.githubusercontent.com/75696575/121161064-4cba8680-c855-11eb-9

[2021-06-08 10:08] racheliWeiss commented on #18465
hi
I don't succeed to fix the bug
I need that see as in the example
![table24](https://user-images.githubusercontent.com/75696575/121167340-83df6680-c85a-11eb-90f6-6983079c9514.png)
I copy the code from fluent UI https://developer.microsoft.com/de-de/fluentui#/controls/web/detailslist/customitemcolumns
![bug in list](https://user-images.githubusercontent.com/75696575/121167389-9063bf00-c85a-11eb-9

[2021-06-08 10:21] WieserSoftware opened #18476 "Multiselect drop down retrieves incorrect selection in onChange"
### Environment Information

- **Package version(s)**: 8.1.7
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/WieserSoftware/pen/yLMqBLZ?editors=1111

#### Actual behavior:

The selections retrieved in onChange are out of date compared to what the change was.

#### Expected behavior:

The selectedOptions shoul

[2021-06-08 10:22] WieserSoftware commented on #18476
This worked correctly in office-fabric-react/7, and is a consequence of using hooks, I believe.

[2021-06-08 11:07] racheliWeiss commented on #18465
this code with bug
https://codesandbox.io/s/rough-cache-vgl3p?file=/src/DetailList.tsx

[2021-06-08 11:15] mwangi-njuguna opened #18477 "TooltipHost: add prop for setting the overflowing element"
#### Describe the feature that you would like added
Currently TooltipHost component exposes an overflowMode prop which accepts either `Self` or `Parent` mode. While this is sufficient for most use-cases, there is scenario where the 'overflowing' element is nested in another element i.e is a child element.
This presents some problems:
- One needs to hover on the exact overflowing element instead of

[2021-06-08 14:29] behowell commented on #16735
June goals:
- [ ] Replace onlyIfTruncated with onBeforeShow callback that allows clients to implement the truncated behavior if needed
- [ ] Update spec to match implementation changes
- [ ] (tentative) Add way to show tooltip through imperative API and controlled prop

[2021-06-08 15:12] lijunle opened #18484 "The role prop for button is assigned to <button> element and its wrapper"
### Environment Information

- **Package version(s)**: @fluentui/react 8.17.1
- **Browser and OS versions**: All Browser

### Describe the issue:

***Update:*** Sorry, I figured out, the `role` attribute is actually assigned with props spread here:

https://github.com/microsoft/fluentui/blob/e81620081c85eaf0224b3bc290bf15f589ca7281/packages/react/src/components/Button/BaseButton.tsx#L328

However,

[2021-06-08 15:41] sopranopillow commented on #18247
June goals:
- Merge implementation PR
- Change examples to native components
- Add VR tests
- Add accessibility tests

[2021-06-08 15:42] sopranopillow commented on #18454
June goals:
- Cemplete spec (Preparation section)
- Start implementation

[2021-06-08 18:54] paul-otten commented on #18484
I wanted to call out that I am also seeing this issue with CommandBarButton (which renders a BaseButton) despite setting role="none".

[2021-06-08 20:15] cbirts opened #18486 "Convert to hooks"
#### Describe the feature that you would like added

Details List Compact Example

#### What component or utility would this be added to

When will this example be converted to a function using hooks?

#### Have you discussed this feature with our team, and if so, who

no

#### Additional context/screenshots

[2021-06-08 22:50] ecraig12345 commented on #18126
Thanks for the repro and sorry for the delayed response! Unfortunately I think this is by design at the moment; TextField only supports updating its value via `props.value`, not by setting the value directly on the field. You could potentially make a wrapper like this to support setting the value: https://codesandbox.io/s/18126-textfield-with-value-setter-s5v49

[2021-06-09 01:12] Debml opened #18487 "Checked ContextualMenuItems don't have their position announced"
### Environment Information

- **Package version(s)**: @fluentui/react 8.17.1
- **Browser and OS versions**: Edge 91.0.864.41 (64-bit), Win 10 Enterprise Version 21H1 OS build 19043.985

### Describe the issue:

When rendering contextual menu items that can be checked (setting checked or canCheck props), screen readers don't announce the position of the menu items relative to other siblings.

When

[2021-06-09 01:16] tianyu94 commented on #18126
Thx :)

[2021-06-09 01:16] #18126 closed

[2021-06-09 04:09] jieqiu0129 opened #18488 "[ContextualMenu] Cannot open submenu when hover if the first menu item has submenu"
### Environment Information

- **Package version(s)**: 7.168.2 and 8
- **Browser and OS versions**: chrome, edge-chromium

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/jieqiu0129/pen/eYvjyVL

#### Actual behavior:

When open the context menu, then hover the parent menu item directly, the submenu cannot be shown. Only by clicking on the item or move out the mouse an

[2021-06-09 07:18] arshadshibli commented on #18286
Any updates on this please

[2021-06-09 07:53] bsunderhus opened #18489 "Integrate babel-make-styles to CI tests"
PR #18481 has disabled `babel-make-styles` plugin from VR tests due to untracked errors that were being emitted.

#### Describe the feature that you would like added

Re-integrate `babel-make-styles` plugin into the CI tests to ensure we're shipping it tested.

[2021-06-09 08:09] sarioglu commented on #17871
@gouttierre , @dzearing thank you for your response. To solve that, I've started to call `mergeStyleSets` in render function as it is advised here: https://github.com/microsoft/fluentui/blob/master/packages/merge-styles/README.md#optimizing-for-performance But I'm still not sure if calling it on every render is the correct way.

[2021-06-09 08:18] #18359 closed

[2021-06-09 12:05] davidmualem77 opened #18491 "Detailslist: Can't select text on multiple selection mode"
### Environment Information

- **Package version(s)**: latest
- **Browser and OS versions**:NA

### Please provide a reproduction of the bug in a codepen:

When configuring the Multi Select in the following demo: https://fabricweb.z5.web.core.windows.net/oufr/8.17.2/#/examples/detailslist/variablerowheights,
then the text in all of the cells isn't selectable and can't be copied.

#### Actual behav

[2021-06-09 12:19] Svudec commented on #18336
It seems that the problem is in `List` component. Specifically, in `_buildPages` function.
https://github.com/microsoft/fluentui/blob/8bcab19f6d50017d66e819e6aa741d7add877eff/packages/react/src/components/List/List.tsx#L899
When the first group is extended, this if condition is false for page which contains last group.

[2021-06-09 14:27] miroslavstastny commented on #18000
This does not seem to be a regression - I can repro in 7.170.1.

There are two props which you can set:
1. `dialogContentProps.titleId` (this is v7, it has been deprecated in v8 where you should use `dialogContentProps.titleProps.id`) - this prop sets `id` attribute on the `div` inside Dialog's header.
2. `modalProps.titleAriaId` - this prop sets `aria-labelledby` attribute on the `div[role="dialo

[2021-06-09 14:45] miroslavstastny commented on #18207
The behavior is consistent between v8 and v7 (7.170.3) - when no option is selected, forward navigation focuses the first enabled option, backward navigation focuses the last enabled option.

This is expected behavior.

[2021-06-09 14:47] miroslavstastny commented on #18207
Also consistent with native `<input>`.

[2021-06-09 14:47] #18207 closed

[2021-06-09 14:48] anowduru commented on #18207
This is not part of regression, We found it in accessibility testing.

[2021-06-09 15:03] miroslavstastny commented on #17648
Unfortunately this repo currently contains multiple `Dialog` components. From the report I cannot see which Dialog is broken.
It would be a huge help if you could share package name and version which you use and screenshot of the broken state. Thanks for understanding.

[2021-06-09 17:07] pragya91 commented on #16189
I can reproduce this issue partially. Narrator does not announce day of the week, like Monday, Tuesday etc..

[2021-06-09 17:09] martinchrzan opened #18493 "Cannot read property '__events__' of undefined"
Hi, I am trying to test my react components using jest + react-test-renderer

my test contains only this:

`const component = renderer.create(<ComponentContainingDialog />)`

However it throws an error when my component contais <Dialog> control

[code]

This is being thrown from <Modal> and <WithResponsiveMode> components

Any solution how to prevent this?

### Environment Information

- **Package

[2021-06-09 20:17] #12863 closed

[2021-06-09 21:45] syedinaqvi opened #18499 "Cursor jumps to the end on selecting and editing text on freeform combobox"
### Environment Information

- **Package version(s)**: 8.10.0, Also tried it on 8.15.0 and still repro.
- **Browser and OS versions**: (fill this out if relevant), not relevant, repro on Edge, Chrome and other browsers.

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/syedinaqvi/pen/abJaOyO

#### Actual behavior:

Go to codepen link here https://codepen.io/syedinaqvi

[2021-06-09 22:21] lijunle commented on #18484
There is another side of this issue. If the button is a split button, the `role` props is assigned twice - on the `div` wrapper element and the `button` element.

Repro here: https://codepen.io/lijunle/pen/BaWOjKj?editors=1010

![image](https://user-images.githubusercontent.com/1296500/121436923-46500b80-c936-11eb-965f-b05c14aee1a7.png)

It causes the issue that, the inner `role=menuitem` is not h

[2021-06-10 00:12] #16200 closed

[2021-06-10 02:00] #16982 closed

[2021-06-10 07:07] Ashwin-Nikam commented on #18222
@TristanWatanabe do we have any updates? Is this expected behavior or a recent regression?

[2021-06-10 07:48] Link631 opened #18510 "createTheme() and a following loadTheme should not resiult in warnings"
I am using latest react with latest fluent ui.

#### Actual behavior:
const theme = createTheme();
loadTheme(theme);

result in log:
couple of warnings, telling that theming values are not provided telling, that they will use a fallback.

#### Expected behavior:
When i create a theme via createTheme and then load this theme, there should no warnings be written into the log, even not when it is wit

[2021-06-10 14:08] Svudec commented on #18336
After looking into it more, I think I've found a solution. The problem is in `GroupedList` base. `getGroupHeight` function returns wrong height if the group has children.
I've made a fix and after some more testing I'll create a pull request.

[2021-06-10 14:58] Hotell opened #18514 "migrate react-components to use new storybook configuration (DX)"
### Describe the issue:

#### Actual behavior:

`react-components` is being build via `just` scripts and customised storybook machinery that lives within `react-examples`.

This disables any kind of functionality provided by colocated story setup:

- common setup for parameters/decorators
- generating controls from TS metadata (argTypes need to be specified by hand)
- performance/speed to build

#

[2021-06-10 16:11] gouttierre commented on #18103
@tyveille - thanks for providing the extra information. May i ask you to confirm the Fluent version you are viewing in the site? There are various versions. but you can confirm as shown below.
![image](https://user-images.githubusercontent.com/78806055/121559800-378d5580-ca17-11eb-866c-8a77839f1d32.png)

@miroslavstastny - proving the version is confirmed would you be able to confirm if this is a

[2021-06-10 16:17] gouttierre commented on #18104
@tyveille -Thanks for filing an issue, but could you provide more details? Some screenshots and possibly the fluent version would help us out. Thanks

[2021-06-10 16:21] gouttierre commented on #18122
@omerquyyum12  - Thanks for filing this, but you’ll need to add a CodePen repro before we can help. You can start from one of the [Web ](https://developer.microsoft.com/en-us/fluentui#/controls/web) examples (click “Export to CodePen”) or https://aka.ms/fluentpen.

[2021-06-10 16:43] gouttierre commented on #18149
@dwootton - Thanks for filing this issue and I see you are willing to help submit a PR for the fix (if confirmed) -  providing we give  guidance - That is great to hear!

@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @smhigley

[2021-06-10 16:49] gouttierre commented on #18273
@jendowns - thank you for reaching out and providing details into the issue you are experiencing.

@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @smhigley

[2021-06-10 16:50] gouttierre commented on #18271
@sysofwan - thanks for filing this issue. and providing the codepen and version details.

@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @smhigley

[2021-06-10 17:08] tyveille commented on #18103
I was able to reproduce this in v8.17.4

![image](https://user-images.githubusercontent.com/22622621/121567783-d2644080-c9d3-11eb-9fcc-38eeb3c6956e.png)

[2021-06-10 17:12] tyveille commented on #18104
Choose any component with a long name and zoom to 400%. You will see the header get truncated with no way to view the entire text.
![image](https://user-images.githubusercontent.com/22622621/121568192-4acb0180-c9d4-11eb-9bb0-3149345311d0.png)

[2021-06-10 17:38] miroslavstastny commented on #18484
After testing and talking to @lijunle, this is the issue.
Repros both in 7.170.3 and 8.17.4.

@smhigley could you please check and share your opinion?

[2021-06-10 18:29] ecraig12345 commented on #11763
This seems to be working properly now, at least in version 8. If anyone is still seeing problems, please file a new issue with updated codepen.

[2021-06-10 18:29] #11763 closed

[2021-06-10 18:30] ecraig12345 commented on #9264
Closing since this has now been implemented.

[2021-06-10 18:30] #9264 closed

[2021-06-10 18:44] thure opened #18518 "Escape key does not work with `gridCellMultipleFocusableBehavior`"
### Environment Information

- **Package version(s)**: `@fluentui/react-northstar@0.56`
- **Browser and OS versions**: Chrome 91

### Describe the issue:

When a GridCell is given the behavior `gridCellMultipleFocusableBehavior`, users should be able to return focus to the parent GridCell by pressing Escape after pressing Enter to focus on elements within the cell. Instead, nothing happens.

### P

[2021-06-10 19:20] kejatura opened #18520 "JAWs not reading tooltip content when tooltip is wrapped around icon/button"
### Environment Information

- **Package version(s)**: v7/v8
- **Browser and OS versions**:  Edge Chromium

### Describe the issue:

After adding `aria-live= {"assertive}`, JAWs screen reader is not announcing tooltip content when TooltipHost wraps around child components (i.e Icon, or IconButton). But this works for NVDA and Narrator.

### Please provide a reproduction of the issue in a codepen:

[2021-06-10 19:56] miroslavstastny commented on #18149
Even though the original report says @dwootton noticed the issue in v7, I am not able to reproduce it there, but can reproduce in 8.17.4.
-> Regression in v8

[2021-06-10 20:40] miroslavstastny commented on #18149
The bug is in `PositioningContainer.tsx` - `dismissOnScroll` is called but it does not reposition as `positions` is undefined.

The reason is the event listener for scroll is added only on mount with `dismissOnScroll` having `positions` in its closure:
https://github.com/microsoft/fluentui/blob/47b42efbbe9e869864973f3b2cb717e6112b8106/packages/react/src/components/Coachmark/PositioningContainer/Po

[2021-06-11 02:00] #16179 closed

[2021-06-11 04:39] Hirse opened #18522 "[fluentui/react-icons-northstar] filled EmojiIcon is actually EmojiSurprisedIcon"
### Environment Information

- **Package version(s)**: `"@fluentui/react-icons-northstar": "0.56.0"`
- **Browser and OS versions**: All

### Please provide a reproduction of the bug in a codepen:
![Comparison of EmojiIcon and EmojiSurprisedIcon](https://user-images.githubusercontent.com/2564094/121631375-d922a000-ca33-11eb-9507-0621bc1b973f.png)

https://codesandbox.io/s/fluent-ui-0560-emojiicon-k

[2021-06-11 07:24] UmamaheshwariGolla opened #18523 "fluent ui add icon text below icon of button"
For _how-to_ questions and other non-bugs, please use StackOverflow instead of Github issues. You can tag your questions with [office-ui-fabric][fluentui-react] [fluentui](https://stackoverflow.com/questions/tagged/office-ui-fabric).

If you are a Microsoft employee you can also join the "Fluent UI Community" Teams channel.

[2021-06-11 08:11] ling1726 commented on #7162
`@fluentui/react-positioning` provides a helper function [createVirtualElementFromClick](https://github.com/microsoft/fluentui/blob/master/packages/react-positioning/src/createVirtualElementFromClick.ts) which creates a virtual anchor element from a mouse event.

This virtual anchor pattern is compatible with any of our components that use `usePopper` which will be used across v9. This is already

[2021-06-11 17:41] claire-MSFT commented on #17886
@tomi-msft Any ETA in regards to when this bug will be fixed? We have a dependency on this bug and would love to have this resolved sooner per accessilbity requirements.

[2021-06-11 18:54] ecraig12345 commented on #18103
Looks like this is in the legacy demo app (`@fluentui/react-docsite-components`, formerly `@uifabric/example-app-base`) which you can see by picking a version from https://aka.ms/fluentdemo. PR #18529 should fix the issue (no further investigation needed).

[2021-06-11 18:58] #18336 closed

[2021-06-11 19:10] lynamemi opened #18531 "ThemeProvider from react-theme-provider: Object is not a function"
### Environment Information

- **Package version(s)**: @fluentui/react-theme-provider 0.18.7
- **Browser and OS versions**: Mac Big Sur, Edge chromium

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

I've been testing `ThemeProvider` from `@fluentui/react-theme-provider` in product. It seems to work seamlessly in one repo, but in another repo, I consistently get

[2021-06-11 19:12] ademkikaj opened #18532 "INavStyle Group not updating text color"
I have this particular style that I am adding to a Nav element.
[code]
This piece of code does indeed adds a margin-bottom between groups but it does not update the color of the Group Header. My current workaround is:

[code]
Edit: When I edit the `INavStyleProps.groupHeader` with the current workaround it loses all the functionality such as Chevron Icon and its nested links. I get plain `<span>`

[2021-06-11 20:15] sysofwan commented on #15971
@ThomasMichon Thanks for the fix! The issue is also in v7 branch. Can you help cherry-pick the fix?

[2021-06-11 20:38] syedinaqvi opened #18535 "aria-haspopup value should be set to listbox for BaseExtendedPicker"
### Environment Information

- **Package version(s)**: 8.10.0
- **Browser and OS versions**: (fill this out) Edge with Windows Narrator

### Describe the issue:

Bug does repro on Controlled People Picker example here https://developer.microsoft.com/en-us/fluentui#/controls/web/peoplepicker. Setting focus on the combobox field narrator announces name of the field fallowed by combo edit, collapsed

[2021-06-11 22:48] VasimPatel commented on #16787
Hello, I noticed the resolution:external tag, any recommended workaround or new info on this? I am facing the same issue.

[2021-06-11 23:55] ecraig12345 commented on #18532
I think it would be reasonable to add `INavStyleProps.groupHeader` (with no styling by default) to allow style overrides of the group headers. This isn't something our team is likely to get to any time soon due to other priorities, but if anyone is interested in contributing it, I'd be happy to provide more detailed guidance if needed and review a PR.

[2021-06-11 23:56] ecraig12345 commented on #18531
What versions of `@fluentui/react-theme-provider` and `@fluentui/react` (or `office-ui-fabric-react`) are you using in the repo where you see this error?

[2021-06-11 23:59] ecraig12345 commented on #18531
Also note that if you're using `@fluentui/react` version 8, you should be importing ThemeProvider directly from `@fluentui/react` and **not** using `@fluentui/react-theme-provider`. This happened because of some direction changes between when we initially introduced the package and when we released version 8. I know that's confusing and way less than ideal, so we really ought to update `office-ui-

[2021-06-12 00:04] ecraig12345 commented on #18491
This is a duplicate of #16174 and currently by design; see https://github.com/microsoft/fluentui/issues/16174#issuecomment-749685645 for a workaround and more details on the reasoning behind the current behavior.

[2021-06-12 00:06] ecraig12345 commented on #18486
This is not something our team plans to address in the near future due to other priorities. But if you'd like to submit a PR converting this example to use hooks, we'd be happy to review it.

[2021-06-12 00:10] ecraig12345 commented on #18320
@tomi-msft Can you help find the right person from design to look into fixing this issue? (it's an MDL2 font icon)

[2021-06-12 00:13] ecraig12345 commented on #18294
Typically the recommended pattern in `@fluentui/react` is to use TextField's `label` prop, like this ([full example](https://codepen.io/ecraig12345/pen/PopyEKY)):
[code]

If you need to further customize how the label is rendered, you can use TextField's `onRenderLabel` prop.

[2021-06-12 01:21] YF1999 opened #18543 "How to use pseudo class `:not(:first-child)` by @fluentui/react-make-styles?"
### Environment Information

- **Package version(s)**: @fluentui/react at v8.18.0
- **Browser and OS versions**: windows 10 20H2 19042.985

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

I use `makeStyles` to  create a style:
[code]

And apply the class name `list` to a `div`, but `:not(:first-child)` does not apply to the children of the `div`.

codepen: https:

[2021-06-12 02:00] #14371 closed

[2021-06-12 02:08] #17445 closed

[2021-06-12 02:26] ecraig12345 opened #18546 "react-northstar published package is missing a readme"
`@fluentui/react-northstar` as published to npm has no readme. 😢  https://www.npmjs.com/package/@fluentui/react-northstar

There's a readme under https://github.com/microsoft/fluentui/blob/master/packages/fluentui/README.md so maybe that could be moved to the northstar package, or copied in pre-publish or something?

[2021-06-12 04:53] hetanthakkar1 commented on #18486
@ecraig12345 I am on it

[2021-06-12 07:52] nancy2681 commented on #18261
@ecraig12345 Can you please review my PR?

[2021-06-12 08:15] DL444 commented on #12488
If the SVG icons are fully MIT licensed, then we should probably remove the last line of that license that states:

I agree with @sprocketc that this added note is confusing, and it is arguable whether a modified MIT is still MIT at all.

[2021-06-13 09:24] davidmualem77 commented on #18491
Thanks for the help!

[2021-06-13 09:24] #18491 closed

[2021-06-13 11:00] jurokapsiar commented on #18291
Hi, please check "Menu as tab list" example: https://fluentsite.z22.web.core.windows.net/0.56.0/components/menu/definition?showCode=true&showRtl=false&showTransparent=false&showVariables=false#usage-tab-list

[2021-06-13 18:59] wKich commented on #17482
@khmakoto, hi. I tried to investigate how you use storybook. But I couldn't start storybook dev server. It looks like you are using different storybook configs for each package. And it will not be so trivial to add Creevey for visual testing in such setup

[2021-06-14 05:20] Manjunatha123 opened #18547 "Tooltip - Scrollbar inside tooltip is not draggable via mouse whereas content inside tooltip is scrollable using touchpad and mousewheel"
### Environment Information

- **Package version(s)**: ( "office-ui-fabric-react": "^6.189.2")
- **Browser and OS versions**: (fill this out if relevant)

### Describe the issue:

Hi,
We are using "office-ui-fabric-react": "^6.189.2" in our project. We have tooltips that have content of more than a paragraph like >30 lines. When the content overflows it is scrollable via touchpad. If mouse is conn

[2021-06-14 07:28] #18314 closed

[2021-06-14 08:27] #18543 closed

[2021-06-14 09:33] miroslavstastny commented on #18499
I can confirm this is a regression in v8 (repros in 8.18.0)!

[2021-06-14 10:18] Prasanthnb78 commented on #18438
Any updates?

[2021-06-14 11:44] hetanthakkar1 commented on #18546
@ecraig12345 Can i add the readme!?

[2021-06-14 12:56] miroslavstastny commented on #18499
@microsoft/cxe-red, @ecraig12345 - may I ask you for your help here?

[2021-06-14 14:03] miroslavstastny commented on #17652
Not a regression, I see the same behavior in OUIFR 7.155.3:
![image](https://user-images.githubusercontent.com/9615899/121905020-fef8bf00-cd29-11eb-94db-480be37173a7.png)

The same behavior is in `ContextualMenu` which is used inside `Breadcrumb` - there is neither `width` nor `min-width` defined on the popover, therefore the menu items expand to fit their content.

For `ContextualMenu` it is poss

[2021-06-14 14:16] miroslavstastny commented on #17653
The same root-cause as in https://github.com/microsoft/fluentui/issues/17652#issuecomment-860710761.

[2021-06-14 14:49] miroslavstastny commented on #17688
Not a regression, I see the same behavior in OUIFR 7.155.3 (from Dec 2020).

The reason is the `ChoiceGroupOption` renders a `label` with the content and a `input type=radio` which is absolutely positioned to cover the whole label and capture the clicks.

After setting the `zIndex`, the link is clickable but not sure accessibility is correct - the whole choice group is a single tab stop with up/do

[2021-06-14 16:44] lynamemi commented on #18531
Thank you for the response @ecraig12345! We are on: `"office-ui-fabric-react": "7.165.1"` and so that's why I was testing out importing `@fluentui/react-theme-provider`. Admittedly the multiple ThemeProviders is a little confusing but we're starting to make sense of it all!

Both projects, the one where ThemeProvider throws an error and the one that doesn't, use the same `office-ui-fabric-react` v

[2021-06-14 17:00] #17959 closed

[2021-06-14 17:10] Bhavana-Nimma opened #18555 "[Dialog] - Automated check failure of "An element of the given ControlType must support the text pattern""
### Environment Information

- **Package version(s)**: 8.18.0
- **Browser and OS versions**: Microsoft Edge, Windows 10

### Describe the issue:

In the page where dialog is opened, when automate checks are ran using "Accessibility insights for windows", there is a failure saying "An element of given ControlType must support the text pattern" for "document" section.

### Please provide a reproduct

[2021-06-14 17:16] cbirts commented on #18486
Thank you.

[2021-06-14 17:56] khmakoto commented on #17482
Hi @wKich, thanks for investigating. I agree that this is not such a trivial task so if we do take it into account to do ourselves it would be later down the line. If you need any pointers to continue your investigations please let us know!

[2021-06-14 19:29] ecraig12345 commented on #18546
@hetanthakkar1 Thanks but it's probably best to let @miroslavstastny or another member of the northstar team handle this, since they'll have a better idea of what content should be there.

[2021-06-14 19:30] ecraig12345 commented on #17653
I think this should be closed as a duplicate of #17652 since it's the same root cause.

[2021-06-14 19:30] #17653 closed

[2021-06-14 19:37] ecraig12345 commented on #18499
Maybe @czearing can help look into this?

[2021-06-14 22:30] czearing commented on #18499
@ecraig12345 Sure! I'll take a look

[2021-06-14 23:00] #17648 closed

[2021-06-14 23:02] KAnder425 commented on #18499
@czearing, I looked into this same issue a week ago, but was unable to repro it until this weekend when I realized that the problem does not repro if you use the backspace key or either of the arrow keys before typing into the combobox.  Either of those actions disables autofill in the combobox and allows the freeform entry to continue as expected.

In the repro case, the user begins typing into t

[2021-06-14 23:14] jamesdeancalhoun opened #18562 "Contrast ratio for focused button in TeachingBubble fails contrast ratio"
### Environment Information

- **Package version(s)**: 8.18.0
- **Browser and OS versions**: Edge 91.0.864.41, Windows 10 Enterprise 19043.1052

### Describe the issue:

The contrast ratio (when keyboard focused) doesn't meet required minimum contrast ratio. It's 4.46 contrast ratio between the text and background of the button.

#e7efff background color
#2266e3 text color
![image](https://user-im

[2021-06-15 00:23] #18103 closed

[2021-06-15 01:03] samlh opened #18564 "Modal ignoreExternalFocusing prop doesn't work (round 2)"
### Environment Information

- **Package version(s)**: "@fluentui/react": "^8.15.0",
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

[code]

[code]

#### Actual behavior:

Focus is reset to the previously focused element, even with ignoreExternalFocusing set

Note: This appears to be caused by Popup completely ignoring shouldR

[2021-06-15 01:05] samlh commented on #18564
A previously reported bug with the same symptom: https://github.com/microsoft/fluentui/issues/11514

Unfortunately, it looks like the fix from that bug has regressed.

[2021-06-15 01:06] ecraig12345 commented on #18499
@KAnder425 Thanks for the investigation notes; that should help!

My first guess was that this was related to ComboBox being refactored from a class component to a function component as part of version 8 (also Autofill was modified to get rid of componentWillReceiveProps), but looking at the history, there was a more recent change #17475 which modified the cursor behavior. It looks like @TristanWa

[2021-06-15 07:33] mgwojciech commented on #17463
I have the same problem. Is there some work-around we could apply

[2021-06-15 07:45] ling1726 commented on #16334
closing since there is only one linked issue in the description which I replied to and the spec for the `Menu` is already reviewed and maintained in the repo

[2021-06-15 07:45] #16334 closed

[2021-06-15 08:43] miroslavstastny commented on #18562
@smhigley could you please check?

[2021-06-15 11:26] #18316 closed

[2021-06-15 12:15] AkiraVoid opened #18568 "Disable a HoverCard"
#### Describe the feature that you would like added

In some situations, such as I want to make a HoverCard disabled until I've got the data in this HoverCard, this feature should be useful, but as I know, the HoverCard seems haven't implemented this feature yet.

#### What component or utility would this be added to

HoverCard in web.

#### Have you discussed this feature with our team, and if so

[2021-06-15 12:16] AkiraVoid commented on #18568
I tried to set the styles of HoverCard, like: `visibility: hidden`, but the shadow will be left.

[2021-06-15 13:20] gouttierre commented on #18183
@jazzAlston - thank you for filing this item and providing the codepen.

@miroslavstastny / @smhigley - Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-06-15 13:26] gouttierre commented on #18111
@YF1999 - thanks for reaching out.  I’ve added this to our backlog for review but it’s low on our priority list as we’re likely not going to get to it immediately due to the fact we’re currently focused on larger coherence work items and enhancements to our performance. Unless you wish to submit a PR for this request - we always encourage contributions.

[2021-06-15 13:29] gouttierre commented on #18160
@osfprieto  - thank you for reaching out. I’ve added this to our backlog for review but it’s low on our priority list as we’re likely not going to get to it immediately due to the fact we’re currently focused on larger coherence work items and enhancements to our performance. However, if you have a solution and are able to submit a PR for this request? We would love to see it.

[2021-06-15 14:27] gouttierre commented on #18253
@ZhehooMorgen  - thank you for reaching out and providing details into the problem you are facing. Also, thanks for showing a willingness to submit a PR for this fix. Would you mind sharing it with us?

cc @miroslavstastny

[2021-06-15 14:29] gouttierre commented on #18164
@hatpick  - thanks for reaching out. I’ve added this to our backlog for review but it’s low on our priority list as we’re likely not going to get to it immediately due to the fact we’re currently focused on larger coherence work items and enhancements to our performance.

[2021-06-15 14:32] gouttierre commented on #18204
@molinger - thank you for filing this issue along with the details into the problem.

@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @smhigley

[2021-06-15 14:35] gouttierre commented on #18218
@Prudhvikoganti - thank you for filing this issue and providing the required repro information into the problem.

@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @smhigley

[2021-06-15 14:45] #17585 closed

[2021-06-15 14:50] gouttierre commented on #18184
@lucas-stanford - thank you for proving details into the issue you are facing with the DatePicker.

@miroslavstastny / @smhigley   - Would you be able to confirm if this is a regression, or if this behavior is an issue? I am not sure if you will require to revisit item #16673.

[2021-06-15 14:53] gouttierre commented on #18185
@ecraig12345 - adding this to the backlog unless you or Tristan want to pick it up for the next months planning?

cc @miroslavstastny

[2021-06-15 14:55] gouttierre commented on #18176
@hoale-mscom - thank you for reaching out and suggesting this change.  I’ve added this to our backlog for review but it’s low on our priority list as we’re likely not going to get to it immediately due to the fact we’re currently focused on larger coherence work items and enhancements to our performance. However, if you have an idea on the implementation and wish to submit a PR for this to help sp

[2021-06-15 15:05] gouttierre commented on #18222
@Ashwin-Nikam - thanks for filing this issue and sharing the details into the problem.

@miroslavstastny / @smhigley - Would you be able to confirm if this is a regression, or if this behavior is an issue? Thanks

[2021-06-15 15:09] gouttierre commented on #18227
@PatoBeltran - thanks for reaching out to us with this issue.

@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @smhigley

[2021-06-15 15:12] gouttierre commented on #18191
@Bhushan12986 - thanks for reaching out to us. I wanted to confirm if you are using fabric-react": "6.214.0"?  If so, have to tried the latest version out to see if you still experiencing the problem?

[2021-06-15 15:19] gouttierre commented on #18280
@kemusag - thanks for reaching out - i retested this issue on v7 and was not able to [repro](https://developer.microsoft.com/en-us/fluentui?fabricVer=7#/controls/web/button).
![image](https://user-images.githubusercontent.com/78806055/122079368-a1ce3d80-cdfd-11eb-9d7c-87345ffc5c1c.png)

cc. @miroslavstastny

[2021-06-15 15:21] gouttierre commented on #18228
@molinger - thanks for reaching out and suggesting this request. I’ve added this to our backlog for review but it’s low on our priority list as we’re likely not going to get to it immediately due to the fact we’re currently focused on larger coherence work items and enhancements to our performance. However, if you got an idea on the implementation - please feel free to share it with us.

[2021-06-15 15:26] gouttierre commented on #18220
@Link631 - thanks for suggesting this request to add a Tree component  to the stack.  We have no immediate plans to implement this as yet - But I’ve added this to our backlog for review but it’s low on our priority list as we’re likely not going to get to it for a while as we’re currently focused on larger coherence work items and enhancements to our performance.
I

[2021-06-15 15:28] gouttierre commented on #18405
@wutonghao - thanks for filing this issue with us and providing details to the problem.

@miroslavstastny /  @smhigley - Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-06-15 15:31] gouttierre commented on #18309
@FosterSamuel - thank you for filing this issue and sharing the repro details.

@miroslavstastny / @smhigley - Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-06-15 16:30] #18302 closed

[2021-06-15 17:13] sailakshmi1711558 opened #18572 "From peoplepicker which user is removed on click of remove (X) icon after selection of user"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
From peoplepicker which user is removed on click of remove (X) icon after selection of user
![image](https://user-images.githubusercontent.com/66770444/122095470-0d7acf80-ce2b-11eb-902a-0

[2021-06-15 17:17] JamesBurnside opened #18573 "Add `"sideEffects": false` for `@fluentui/react-icons`. Reduced our build time from 78s to 17s"
#### Describe the feature that you would like added

Add `"sideEffects": false` to the react-icons package.json
![image](https://user-images.githubusercontent.com/2684369/122095361-226f4880-cdc2-11eb-81d4-8efc5e539c42.png)

#### Why

This tells bundlers&transpilers that they can ignore non-imported modules
https://webpack.js.org/configuration/optimization/#optimizationsideeffects

I believe this t

[2021-06-15 17:20] pagaur opened #18574 "Focus Restore call on previous Focused element from ContextualMenu/SubMenus is not correct"
### Environment Information

- **Package version(s)**: V8

### Please provide a reproduction of the bug in a codepen:
a) https://codepen.io/pagaur/pen/NWpMGbb

b) **WithoutSubMenu:** https://codepen.io/pagaur/pen/rNyvzPa

#### Actual behavior:
I see two issues here:
1) In #a and #b after click on submenu item 'move focus on click', I see focus call happening on SearchBox in _tryFocusPreviousActive

[2021-06-15 17:21] pagaur commented on #18574
FYI @ecraig12345

[2021-06-15 17:54] mirestom opened #18575 "Fluent UI V8 - Checkbox\Toggle component checked state cannot be set if initial checked value is undefined"
I have a scenario that broke when updating from Fabric v7 (7.165.1) to Fluent UI v8 (8.14.7).

 In Fluent UI v8, in the Checkbox component, if you start with an “undefined” value for the “checked” prop and then you try to set its value to “true”, the Checkbox component never changes its UI rendering to be in a checked state. This is breaking some of our scenarios where our developers assumed that

[2021-06-15 18:09] smhigley commented on #18484
Yup, the nested `menuitem` roles is a known issue with SplitButton that we can't really fix without introducing breaking changes (a lot of the discussion around the keyboard behavior and structure of vNext SplitButton was to fix this problem there).

The incorrect nested button/menuitem roles on SplitButton are tied to the current keyboard behavior, which treats it as a single tab stop, but it sti

[2021-06-15 18:47] Shannon-Ke opened #18576 "DatePicker should have ability to show in UTC time or other time zones"
#### Describe the feature that you would like added

There should be a control where developers can set a DatePicker to show dates in different timezones.

#### What component or utility would this be added to

This would probably be a prop on the DatePicker where we could set a timezone type.

[2021-06-15 21:02] davyrwoo commented on #17692
Any updates on this issue?

[2021-06-15 21:29] benkaiser commented on #18484
@smhigley are you sure this cannot be fixed in a backwards-compatible way? Could we add an additional prop to override the nested roles?

It's important that we fix this issue for v7 (which we consume) rather than resorting to hacky workarounds.

[2021-06-16 02:00] #13826 closed

[2021-06-16 04:49] YF1999 commented on #18111
Thanks for your reply, I will try to submit a PR.

[2021-06-16 07:15] kemusag commented on #18280
@gouttierre Thanks for retesting. Strange! I can still easily reproduce it by simply going to the button demo page, disable the buttons and then enable them again:
![image](https://user-images.githubusercontent.com/77784146/122168395-82c2c080-ce7c-11eb-8778-8100fb97b054.png)

I am now on Safari 14.1.1
However, I just noticed that the devtools are showing the color correctly. It seems like the colo

[2021-06-16 08:30] #18315 closed

[2021-06-16 08:31] ling1726 commented on #18315
Closed by #18565

[2021-06-16 10:12] Hotell opened #18579 "migration: migrate converged packages to new DX (1st stage)"
# Preparation:

- [x] nx migration generator implementation #18421

# What is new DX (1st stage) ?
- **Tooling:** only source of truth for package resolution/mapping is `tsconfig.base.json`, that uses TSpath aliases
- **TypeScript:** go to definition goes to actual source instead to generated declaration files
- **Plug n play:** clone/update your local copy and start working without need to build

[2021-06-16 10:30] Hotell commented on #18357
discussed during vbuild sync and it looks like we are gonna go with babel-register approach -> #18144

- this has various prerequisites:
  - #18579
  - post processing package.json when executing production builds -> `dist/**` in the root for convergence

[2021-06-16 13:52] assuncaocharles commented on #18386
Can't reproduce it, animation happens when activeIndex is controlled changed.

[2021-06-16 13:52] #18386 closed

[2021-06-16 14:29] shockoe-hatch opened #18588 "Textfield with Type Time not working on Safari"
There seems to be an issue with Textfield with type Time in safari.

### Environment Information

- **Package version(s)**:  v7.146.2
- **Browser and OS versions**: Safari v14.1

Isolated issue
[code]

#### Actual behavior:
This is the error I get in code pen
``
"The above error occurred in the <t> component:
    in t (created by Styledt)
    in Styledt (created by Content)
    in div (created by

[2021-06-16 20:16] Link631 commented on #18220
Maybe it would be a good Idea to encapsulate the tree szenario and use under the hood the current grouped list...
Thats what I will start doing for now for my current Project I think.

[2021-06-17 08:50] Hotell opened #18594 "lint: add imports auto/alphabetical ordering"
### Describe the issue:

#### Actual behavior:

- we have no imports auto ordering in place
- comments like this occur on PR's which should be mitigated by tooling:
   - `nit: Keeping the imports alphabetically ordered` https://github.com/microsoft/fluentui/pull/18571#discussion_r653003111

#### Expected behavior:

- lint rules in place with autofixers for whole codebase

[2021-06-17 08:56] Promhize opened #18595 "https://developer.microsoft.com/en-us/fluentui#/controls/web is not loading"
### Environment Information

- **Package version(s)**: (https://developer.microsoft.com/en-us/fluentui#/controls/web)
- **Browser and OS versions**: (Brave 1.25.70 and Edge 91.0.864.37)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

  * Go to https://developer.microsoft.com/en-us/fluentui#/controls/web
  * Documentation does not load

[2021-06-17 10:41] creage commented on #17413
Can we bump this please? This issue is really blocking.

[2021-06-17 11:56] huxiasusan1989 opened #18596 "Navigation not working in DatePicker using preact."
### Environment Information

- **Package version(s)**:  FluentUI 8
- **Browser and OS versions**: Any
- **framework**: preact

### Describe the issue:

Navigation not working in DatePicker using preact.

### Please provide a reproduction of the issue in a codepen:

In preact framework, include datepicker on page, navigation not work.

#### Actual behavior:

Navigation not working using left/right/

[2021-06-17 14:13] aubreyquinn opened #18598 "Dropdown component: ARIA attribute element ID does not exist on the page: aria-labelledby="downshift-6-label" error"
[code]

I am using the Dropdown component in my project: [Fluent UI - Dropdown (windows.net)](https://fluentsite.z22.web.core.windows.net/0.53.0/components/dropdown/definition?showCode=true&showRtl=false&showTransparent=false&showVariables=false#types-search-multiple)

I want to use the component for searching and selecting out of multiple items.
I tried to use the example provided:
[code]

When I

[2021-06-17 14:54] aubreyquinn opened #18599 "Dialog Component Accessibility Issue"
I am using this framework: "@fluentui/react-northstar": "^0.53.0"

I am using the Dialog component. [Fluent UI - Dialog (windows.net)](https://fluentsite.z22.web.core.windows.net/0.53.0/components/dialog/definition)

When I run storybook, it fails the accessibility tests due to the Dialog triggering button.

Even when I use the "trapFocus" prop it does not pass.

My trigger button is causing the a

[2021-06-17 16:34] tomi-msft commented on #18573
PR in fluent-system-icons repo that adds this flag: https://github.com/microsoft/fluentui-system-icons/pull/282

[2021-06-17 17:24] ecraig12345 commented on #18153
@jtbandes Sorry for the delayed response! Answering some of your questions:

I think right now, SpinButton is not intended to allow an empty value. This one would be worth filing a separate issue to discuss further (please tag me if you do that).

`ISpinButtonProps` extends `React.HTMLAttributes`, which for some reason includes `placeholder` and various other form field props (`defaultValue`, `def

[2021-06-17 19:30] ling1726 commented on #18319
So after a bit of consideration I can come to the conclusion that determining a coherent behaviour for both keyboard+mouse users is incredibly difficult since there are so many factors to verify if a user is completely or partially using a keyboard.

Looking at the progress the WAI are having with their Menu implementation:
* w3c/aria-practices#598
* w3c/aria-practices#593

The same conclusion has

[2021-06-17 20:21] joaojmendes opened #18605 "Errors on Server Side Render in Some Components in NextJS -"
react-dom.development.js?61bb:67 Warning: Prop `className` did not match. Server: "ms-Image-image ms-Image-image--portrait is-notLoaded is-fadeIn server-image-7" Client: "ms-Image-image ms-Image-image--portrait is-notLoaded is-fadeIn image-97"
    at img
    at div
    at eval (webpack-internal:///./node_modules/@fluentui/react/lib/components/Image/Image.base.js:61:59)
    at eval (webpack-interna

[2021-06-17 20:43] CheerfulSatchel commented on #9545
Greetings, I hope you are all doing well!

For those that are still interested in this control, <a href="https://github.com/microsoft/fluentui/pull/18556">this PR</a> creates the preliminary TimePicker control.

Thank you and have a wonderful day!

[2021-06-17 21:59] PatoBeltran opened #18608 "SSR keyframe names clash with animation name on production builds"
### Environment Information

- **Package version(s)**:  FluentUI React latest (8.19.1)

### Please provide a reproduction of the bug in a codepen:

I was able to create a new nextjs app to repro this issue. Our product  currently doesn't use nextjs and it's getting the same behavior, so it's not an issue with the framework (we use plain node/express setup for our SSR, nextjs was used here for conv

[2021-06-17 22:11] mcmelton opened #18609 "Northstar Tooltip does not stay with triggering element"
### Environment Information

- **Package version(s)**: 0.52.2
- **Browser and OS versions**: Version 91.0.864.48

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/fluent-ui-example-forked-e22jo?file=/tooltip-rerender-bug.tsx

The tooltip triggered by an element does not stay with the element when a separate action causes the Tooltip's element to move. The Toolti

[2021-06-17 23:05] lifwan opened #18611 "DetailsList: when selectionMode == none, remove focusability from row"
### Environment Information
- **Package version(s)**:@fluentui/react 8.17.1
- **Browser and OS versions**: Edge 91.0.864.41 (64-bit), Win 10 Enterprise Version 21H1 OS build 19043.985

### Describe the issue:

When rendering DetailsList with `selectionMode` is none, the list rows are still focusable.

### Please provide a reproduction of the issue in a codepen:

https://codepen.io/lifwan/pen/WNpmx

[2021-06-18 08:02] harshika-kashyap opened #18616 "Fluent UI TagPicker: Screen reader does not read the status as tag removed after tag removal"
### Environment Information

- **Package version(s)**: 7.126.0
- **Browser and OS versions**: Chrome/Edge Windows10
- **Screen reader**: NVDA/Narrator

### Describe the issue:

### Please provide a reproduction of the issue in a codepen:

Codepen link: https://codepen.io/harshika123/pen/gOmERZm

![image](https://user-images.githubusercontent.com/26279056/122527696-32449200-d039-11eb-94f4-53ce26123

[2021-06-18 08:12] grnkvch opened #18617 "Search dropdown with duplicated items"
If pass to search dropdown multiple same values it breakes dropdown list behavior, duing the search.

![image](https://user-images.githubusercontent.com/43145804/122528140-afb1d780-d024-11eb-957d-d68edb21bdbe.png)

![image](https://user-images.githubusercontent.com/43145804/122528430-fc95ae00-d024-11eb-811f-9accaaf8e134.png)
![image](https://user-images.githubusercontent.com/43145804/122528483-0d4

[2021-06-18 11:53] Hotell opened #18622 "tools: nx migration generator creates `start` npm script that doesn't work"
# Bug report

#### Actual behavior:

After running nx migration generator on converged package via `yarn nx workspace-generator migrate-converged-pkg --name='@fluentui/<package-name>'` -> executing `yarn workspace @fluentui/<package-name> start` will throw error

#### Expected behavior:

`start` should work

#### Fix

`start` needs to include `yarn storybook` to properly call local `storybook` npm

[2021-06-18 12:16] #18319 closed

[2021-06-18 14:09] hetanthakkar1 commented on #18617
I am trying to solve this

[2021-06-18 14:18] grnkvch commented on #18617
The problem can be solved by specifying `renderItem` prop, and explicitly pass some unique `key` prop for dropDownItem, but I think it's too mach hacky way to handle such simple case

[2021-06-18 14:30] hetanthakkar1 commented on #18617
@ecraig12345 What do you think about this approach

[2021-06-18 16:36] sysofwan commented on #18271
This is not a regression. It's a feature request to enable overriding the role attribute, so the control can work in different context (CommandBar in this case).

[2021-06-18 17:57] shandysulen opened #18629 "Center DirectionalHint renders TeachingBubble too far to one side"
### Environment Information

- **Package version(s)**: >= 8
- **Browser and OS versions**: Windows 10 Version 21H1 (OS Build 19043.1052), Edge Version 91.0.864.48

### Repro:

It looks like I can reproduce this with any of the Fluent UI 8 package versions, including the [8.20.0 demo site](https://fabricweb.z5.web.core.windows.net/oufr/8.20.0/).

1. Scroll down to the _Coachmark position_ dropdown

[2021-06-18 19:34] aurelien-boubennec commented on #14208
Is there a workaround to avoid that behavior? Thanks.

[2021-06-18 19:45] beark opened #18630 "Narrator reads list items twice when there are two columns/divs per item"
### Environment Information

- **Package version(s)**: 8.20.0
- **Browser and OS versions**: Windows 10, Edge 91.0.864.48

### Describe the issue:

When an item in a `List` has two simple text divs, Narrator will read the text of the later one twice. Remove the first div, and the issue no longer reproduces. It might also only occur for items that are visible on load, ones below the scroll line see

[2021-06-19 00:49] #17722 closed

[2021-06-19 05:00] #18294 closed

[2021-06-19 14:44] khowling opened #18634 "React 18 Readiness for fluentui renderStatic"
#### Describe the feature that you would like added

React18 is getting SSR & Suspense support, ```ReactDOM.renderToString``` is changing to the stream-based response ```pipeToNodeWritable``` [here](https://github.com/reactwg/react-18/discussions/22). Its very early alpha, but is it possible to provide any guidance (or an alternative API) to use fluentui ```renderStatic``` with the new ```pipeToNo

[2021-06-19 20:00] #16038 closed

[2021-06-20 00:00] #11480 closed

[2021-06-20 17:00] #18291 closed

[2021-06-21 00:00] #5328 closed

[2021-06-21 08:39] RanaKh1 opened #18638 "ContextualMenu internal item role does not appear in dom"
### Environment Information

- **Package version(s)**: @fluentui/react 8.17.2 and up (all versions)
- **Browser and OS versions**: all (tested on chrome)

### Describe the issue:

Although the item specified (in IContextualMenuProps) is defined with role='link', the role 'link' does not appear in dom and this affects the screen reader experience as Narrator does not announce that the item is a lin

[2021-06-21 09:07] #8782 closed

[2021-06-21 13:09] goamn commented on #17413
This is also affecting us, can this be looked at? Is there a workaround until it's fixed? @parwejp did you manage to find a workaround for this?

[2021-06-21 17:40] imdavidmin opened #18643 "Documentation / TypeScript checking for Overlay's onClick prop"
[Official documentation site](https://developer.microsoft.com/en-us/fluentui#/controls/web/overlay)

Documentation says onClick has type `()=>void`. However the onClick event does generate an event object, and documentation should reflect `(e)=>void`. This MouseEvent, wrapped up in a React SyntheticBaseEvent can be useful in determining if a user clicked on the empty overlay, or onto a component w

[2021-06-21 17:43] imdavidmin commented on #17974
Is this issue being deprioritised for convergence work? Would have expected a production issue to be resolved within this leisurely time frame of 2 months... If someone could give an insight on this, would be much appreciated! Thanks.

[2021-06-21 18:23] srinidhiprabhu96 opened #18644 "Slider bar is moving even after moving mouse cursor outside the slider."
### Environment Information

- **Package version(s)**: 7.164.0(fill this out)

### Describe the issue:
Click the mouse on the slider. Without releasing the mouse click, moving the mouse changes the value in the slider even if the mouse is outside the slider.

#### Expected behavior:
Slider value should change only if the mouse is over the slider. This was raised as an accessibility bug by an acces

[2021-06-21 22:46] dewcatpaint1 commented on #15418
Can we get an update on this item? Has the fix been scheduled? @smhigley @tomi-msft @paulgildea This item has had no update since March.

[2021-06-21 23:41] lifwan opened #18647 "NVDA shortcut Ctr+Alt+Arrow not working on table"
### Environment Information

- **Package version(s)**: 7.170.2
- **Browser and OS versions**:  Edge 91.0.864.41 (64-bit), Win 10 Enterprise Version 21H1

### Describe the issue:

NVDA's table shortcut "Ctr+Alt+Arrow" keys to navigate through table elements is not working for items cells.

### Please provide a reproduction of the issue in a codepen:

You can see this issue in the fabric DetailsList

[2021-06-21 23:57] ecraig12345 commented on #17974
In an ideal world we'd like to fix all the issues with all components, but we simply don't have enough resources or time, so we have to prioritize fixing issues vs. other work, such as converged components. This one didn't get prioritized when it was filed because while it's clearly not great, it's a visual-only issue (doesn't affect functionality) in a lower-usage component.

I looked at https://

[2021-06-22 00:17] ecraig12345 opened #18648 "Re-introduce old Card package"
Since the removal of the experimental Card (formerly from `@uifabric/react-cards`)  in version 8 was pretty sudden and some teams are still using it, we're going to re-introduce it as deprecated to avoid breaking people.

(Each of the top-level items should be a separate PR.)

- [x] Rename converged-WIP Card implementation to `@fluentui/react-card` (singular)
  - Done #18690
- [ ] Add back package

[2021-06-22 00:23] ecraig12345 commented on #18576
You can already customize the date display using DatePicker's `formatDate` and `dateTimeFormatter` props. Implementing more detailed time zone handling is highly complex, so it's not something we plan to support in the library itself.

[2021-06-22 00:23] #18576 closed

[2021-06-22 00:51] ecraig12345 commented on #18575
The issue here is that in version 8, we switched some components to use the `useControllableValue` hook, which currently determines whether the component is controlled or uncontrolled on first render and doesn't allow that to change. If the initial value is `undefined`, the component is assumed to be uncontrolled (React makes this assumption as well), so changing it to be controlled is an error.
h

[2021-06-22 01:04] inateeg opened #18650 "Contents inside DocumentCardTitle is getting overlapped or clipped after applying the text spacing in the page."
![textspaceOnDocumentCard](https://user-images.githubusercontent.com/20802350/123039770-95bb2080-d3a7-11eb-8a25-5e5fd8be2feb.JPG)
If one use Fabric DocumentCardTile to render the card title values inside the DocumentCard, it renders fine in normal mode but if apply text spacing on the page, the title area height may fix 2 lines of text anymore.  Should fabric component either use ellipse to shorte

[2021-06-22 01:16] mpowney commented on #17463
In the [docs quick-start page](https://fluentsite.z22.web.core.windows.net/0.56.0/quick-start), there's a note about React Context is used to provide the style renderer.

Without knowing a lot about React Context and its usage, is it possible to 'get' the context from one solution, and pass it to another solution?

[2021-06-22 04:43] SagarThakurCSE commented on #17552
@gouttierre, @TristanWatanabe : Any update on this bug?

If there's no immediate fix, could you please suggest an alternative

[2021-06-22 06:36] nancy2681 commented on #18650
@inateeg Can you please provide codepen link or screenshot

[2021-06-22 09:22] imdavidmin opened #18654 "Overlay componentRef / ref should return the DOM element, not React Component"
#### Describe the feature that you would like added

`<Overlay ref={r => overlayRef = r} />` will give a React virtual component to the variable `overlayRef`, as opposed to the `div` element that the Overlay is represented as in the DOM. This is inconsistent with other components, such as SearchBox, where the `div` is returned.

Returning the DOM element will make it easier to work with when passi

[2021-06-22 10:27] naksenzh commented on #13705
Hi Team, @behowell , please share the ETA for this bug

[2021-06-22 10:34] naksenzh commented on #18422
Hi Team, @miroslavstastny , please share the ETA for this bug.

[2021-06-22 10:35] naksenzh commented on #18183
Hi Team, @TristanWatanabe please advise what is the ETA for this bug?

[2021-06-22 11:37] Renuka8796 opened #18657 "Unnecessary column markup announced for DetailsList by Narrator screen reader."
**Environment Information**
Package version(s): "@fluentui/react": "^8.18.0",
Browser and OS versions: Dev edge and Windows 10

**Describe the issue:**
In DetailsList fabric control, narrator announces first column as column 2  and second column as column 3 and so on.
For example :
When we navigate to the table the narrator announces ", 6 by 9 group, Column Header, Row 1 of 6 Column 1 of  9" but v

[2021-06-22 12:17] Hotell opened #18658 "tools: nx migration won't generate api.extractor.json when missing"
#### Actual behavior:

if migrated converged component doesn't have `<package-name>/config/api.extractor.json` it won't be created thus creating a build that will not work

#### Expected behavior:

migration creates `<package-name>/config/api.extractor.json` if missing

[2021-06-22 12:23] Hotell opened #18659 "tools: nx migration defines wrong `--output` path for `node normalize-import`"
### Describe the issue:

output option specifies path that doesn't exist -> `node ../../scripts/typescript/normalize-import --output dist/packages/react-menu/src`

This might been caused by TS changes as those mechanism have been implemented prior to our TS 4 migration.

With current TS used within our repo `tsc -p . --module esnext --emitDeclarationOnly` will generate `dist/<package-name>/src` th

[2021-06-22 12:27] naksenzh commented on #13245
Hi team, @ecraig12345 could you please share so ETA for this bug, it's impacting our Marketing app compliance.

[2021-06-22 14:10] naksenzh commented on #13926
Hi Team @smhigley Thsi bug is our out compliance for Dynamics Marketing app, we need an eta, please

[2021-06-22 14:13] naksenzh commented on #17625
Hi Team, any ETa for this bug please? @smhigley

[2021-06-22 14:17] beckerrobin opened #18662 "CRA template is broken with npm 7"
When executing the create-react-app npx command with the [fluentui-template ](https://www.npmjs.com/package/@fluentui/cra-template) per the [Microsoft official documentation](https://developer.microsoft.com/en-us/fluentui#/get-started/web#fluent-ui-react) npx shows an "unable to resolve dependency tree"-error:

`npm ERR! code ERESOLVE

npm ERR! ERESOLVE unable to resolve dependency tree

npm ERR!

[2021-06-22 15:43] ecraig12345 commented on #18662
What's the specific command that you ran, and the full output? I just tried `npx create-react-app my-app --template @fluentui/cra-template` and it works fine for me.

[2021-06-22 15:44] beckerrobin commented on #18662
That's the exact command I used.

tis 22 juni 2021 kl. 17:43 skrev Elizabeth Craig ***@***.***>:

[2021-06-22 15:46] ecraig12345 commented on #18654
This is by design at the moment because Overlay is still a class component, so `ref` is expected to return a class instance. (`componentRef` is always intended to return a class instance or imperative API, regardless of component type.)

If you need access to the element itself, in some scenario where assigning an `id` or `className` to the Overlay wouldn't work, we can consider temporarily adding

[2021-06-22 15:49] ecraig12345 commented on #18657
@Renuka8796 Can you please provide a repro of the issue? Either use one of the [examples from the website](https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist) (look in the left nav for more examples), or click "Export to CodePen" on one of the examples and modify it to be more like your scenario.

[2021-06-22 15:51] ecraig12345 commented on #18595
Can you try loading it again? It's working for me now, so maybe it was an intermittent issue.

If it's still not working for you, can you check the console for any script or network errors?

[2021-06-22 15:54] ecraig12345 commented on #18493
You'll need to add a mock like this:
[code]

[2021-06-22 15:55] omri08 opened #18667 ":not() pseudo-class not detecting class names using makeStyles"
### Environment Information

- **Package version(s)**:  8.20.2
- **Browser and OS versions**: Windows Chrome,

### Please provide a reproduction of the bug in a codepen:
expected result with sass only:
https://codesandbox.io/s/bold-dew-qyq3m?file=/src/styles.scss
unexpected result with fluent UI using makeStyles
https://codesandbox.io/s/basic-demo-forked-xg5vt?file=/src/index.js
![image](https://u

[2021-06-22 16:01] imdavidmin commented on #18654
Thanks - I can use the `className` method for now as it works for me in my use case, will just need to make sure the name is unique. I'm happy to wait until this is moved to a functional component at a future stage.

[2021-06-22 16:01] #18654 closed

[2021-06-22 16:03] ecraig12345 opened #18668 "Codesandbox CI not working properly"
~~Codesandbox CI has been broken for awhile because the settings need to be updated to include `"node": "12"` in `.codesandbox/ci.json`.~~ this part was fixed by #18536

I made a PR #18545 with this change, but after a [successful build](https://ci.codesandbox.io/status/microsoft/fluentui/pr/18545/builds/139219), I noticed that the only sandbox working was the button one, which used [another sandb

[2021-06-22 16:05] ecraig12345 commented on #18662
That's very strange. Can you paste the full output?

Also, what Node and npm versions are you using?

[2021-06-22 17:09] #18658 closed

[2021-06-22 17:09] #18659 closed

[2021-06-22 17:37] ecraig12345 commented on #18261
@lucas-stanford Just FYI in case this comes up again, in most cases you can manually add a style override setting `overflowWrap: 'break-word'` if it's not already present. In this case it would go under `ITeachingBubbleProps.styles.headline`. https://codepen.io/ecraig12345/pen/OJpYGax?editors=0010

[2021-06-22 19:51] zoarif commented on #15418
I am also using this control and seeing the same issue. Is there an update on this?

[2021-06-22 20:00] sprocketc commented on #12488
@ecraig12345 Thanks for the clarification!

Although this is good news, people still face a lot of font related issues when they try to use this framework
- The document [here](https://developer.microsoft.com/en-us/fluentui#/styles/web/icons) states that the Fluent UI font-based icon set is released under the Microsoft Fabric Assets License. Since the documentation suggests using the `iconName` pr

[2021-06-22 21:29] #18379 closed

[2021-06-23 05:18] inateeg commented on #18650
if you go to DocumentCard sample page, toggle on text spacing you can see some of those view messed up.  Also in Email card case all depend on title text lenght or truncate or not.

[2021-06-23 06:46] Renuka8796 commented on #18657
We observed the same behaviour in fabric ui, Details list control. Please find the below link to repro the issue.

https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist/basic

[2021-06-23 07:22] beckerrobin commented on #18662
Currently using LTS (node@14.17.1 and npm@7.18.1) but tried it with the latest branch as well.

Full log attached.

[2021-06-23T07_16_06_211Z-debug.log](https://github.com/microsoft/fluentui/files/6699806/2021-06-23T07_16_06_211Z-debug.log)
y conflict, or retry

[2021-06-23 09:08] valeryV99 commented on #17413
++

[2021-06-23 09:09] hmnzr commented on #17413
We're facing the issue as well, have to build some workarounds in order to control the value.

[2021-06-23 09:45] shail15 opened #18674 "'Disabled item' font color in contextual menu has color contrast ratio of 2.6:1."
### Environment Information

- **Package version(s)**: ( "fluentui/react": "^8.17.3",)
- **Browser and OS versions**: (Windows OS: Version Dev (Build 21390.2025)
Microsoft Edge Dev: Version 93.0.916.1 (Official build) dev (64-bit))

### Describe the issue:

The text *'Disabled item'* has a color contrast ratio 2.6:1, which is less than minimum color contrast ratio of 4.5:1.

*Expected Results:*

T

[2021-06-23 09:49] layershifter opened #18675 "tools: after nx migration build:local does not work"
### Repro steps

- clone #18673 or run `yarn nx workspace-generator migrate-converged-pkg --name='@fluentui/make-styles'` (in a case of command please modify `tsconfig.json` as in PR)
- it will add `build:local` to `packages/make-styles/package.json#scripts`
- try to run `yarn workspace @fluentui/make-styles build:local`, a command will fail ❌

[code]

- notice that for other packages, for example

[2021-06-23 09:49] sushruth opened #18676 "NormalPeoplePicker with itemLimit = 1 causes a focus bug"
### Environment Information

- **Package version(s)**: 7.172.1
- **Browser and OS versions**: Edge Canary on Windows 10
### Describe the issue:

### Please provide a reproduction of the issue in a codepen:

https://codepen.io/sushruthsastry/pen/poeXRNy

When `itemLimit={1}` is used on a `NormalPeoplePicker` component, selecting a user and then clicking away from the field does not seem to remove t

[2021-06-23 11:41] layershifter commented on #18489
I debugged the problem, it's related to a fact that we evaluating too much code. The minimal repro is:

[code]

[code]

And it's valid because `storiesOf` contains only:

[code]

---

We should integrate `@linaria/shaker` to improve performance and avoid such issues.

[2021-06-23 11:43] Gargi1810 opened #18677 "Focus not visible in checkbox when used inside shadow dom."
### Environment Information

- **Package version(s)**: "7.117.4"
- **Browser **: Chrome

### Describe the issue:
Focus not visible in checkbox when used inside shadow dom. Without shadow dom it is working though.
When tabbing to the checkbox the focus/focus-visible classes are not working and there is no focus indication.

#### Actual behavior:

Focus is not visible on tabbing.

#### Expected beha

[2021-06-23 11:57] #18067 closed

[2021-06-23 13:21] sheenm opened #18679 "Dropdown doesn't work in desktop view when there's teaching bubble attached to it"
### Environment Information

- **Package version(s)**:
- fluentUi/react@8
- also, office-ui-fabric-react 7.109.0

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/ambp1lak/pen/mdWZwjY?editors=1000
#### Actual behavior:
1. Click on the button, to open a teaching bubble.
2. Click on the dropdown. See that it gets automatically closed
#### Expected behavior:

As I underst

[2021-06-23 16:05] ling1726 opened #18682 "API extractor warns ES5 incompatible features in react-popover but not react-menu"
#18399 Modified the tsconfig of `react-popover` to use `lib: [ES2015]` because api extract would on proxy usages in `make-styles`:

![image](https://user-images.githubusercontent.com/20744592/123130867-6f4fc080-d44d-11eb-9b98-cf9467c75498.png)

This actually does make sense becuase proxy should not be supported in ES5. The warnings don't happen from TS build, and are only triggered on api extracto

[2021-06-23 16:15] libjosep opened #18683 "How to show all the directional icons in rtl?"
I am using fluentui react. If my page uses rtl direction, how can I show all the directional icons in the page in rtl form? I see that fabric core automatically do this(https://developer.microsoft.com/en-us/fluentui#/styles/web/localization). Is it possible in fluentui-react?
CodePen: https://codepen.io/libinpjoseph/pen/yLMdveZ?editors=0010

[2021-06-23 16:57] ecraig12345 opened #18685 "CRA template test is using wrong library version"
~~Two closely related problems:~~
~~- `packages/cra-template/template.json` is still specifying a dep on `@fluentui/react@7`. We should bump this, and bump the template package's version to 8 (this should have happened in the initial publish).~~ Turns out to be the root cause of #18662, so tracking it there.

`packages/cra-template/scripts/test.ts` is not using the local versions of dependencies,

[2021-06-23 16:58] ecraig12345 commented on #18685
@miroslavstastny If you have time to fix this as part of shield, that would be really great--it's a pretty straightforward fix (both the immediate fix and the test, since the test code already exists elsewhere) and high impact for new library users. If not I'll try to make time or see if anyone from the build team has time.

[2021-06-23 17:00] Bhavana-Nimma opened #18686 "[DatePicker]- Disabled state of up/down arrow buttons can not be visually identified in High Contrast mode"
### Environment Information

- **Package version(s)**: 8.20.2
- **Browser and OS versions**:  Microsoft Edge, Windows 10

### Describe the issue:

In High Contrast Black mode and in High Contrast White mode, the disabled state of  up/down arrow buttons i.e., previous/next arrow buttons can not be visually identified

#### Actual behavior:

The below images show the same datepicker in all the three

[2021-06-23 18:07] ecraig12345 commented on #18662
The root cause is that the template is still using `@fluentui/react` version 7 (which specifies a dep on `@types/react` < 17), when it should be using version 8.

In the meantime, as a workaround you could create a generic app and add `@fluentui/react` as a dep. Or run the template creation command with npm 6 or yarn, and then update the version of `@fluentui/react` in the generated package.json t

[2021-06-23 18:19] aplum opened #18688 "Controlled DatePicker with nullish initial value"
### Environment Information

- **Package version**: @fluentui/react@8.20.2
- **Browser and OS versions**: Not relevant

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/_aplum/pen/gOmNOYZ

#### Actual behavior:

When using DatePicker as a controlled component (i.e. providing the `value` prop), using a nullish initial value doesn't seem to be fully supported.

If the in

[2021-06-23 18:42] ecraig12345 commented on #18685
Actually I made a PR to fix the issue itself, and fixing the test can be done later.

[2021-06-23 19:02] Ashwin-Nikam commented on #18222
@gouttierre @miroslavstastny @smhigley Do we have any updates on this? Please let me know if this is the expected behavior and there is a workaround for this or if its a regression. Thank you.

[2021-06-23 20:31] Hotell commented on #18675
thanks for excellent report! you find one corner case we didn't think of when implementing hehe

yeah that's the reason. All of this will be mitigated once we start building  into root `/dist` within monorepo

[2021-06-23 20:36] alexeystrakh commented on #18458
Turned out that Datepicker sends the second parameter to the `onDateChange` method which has the required date. [The documentation](https://fluentsite.z22.web.core.windows.net/0.56.0/components/datepicker/definition?showCode=true&showRtl=false&showTransparent=false&showVariables=false#variations-standalone-calendar-input) completely skipping this fact but it works:

[code]

[2021-06-23 20:36] #18458 closed

[2021-06-23 22:53] Sanankh commented on #13705
Hi Team, @behowell , please share the ETA for this bug

[2021-06-24 07:09] lijunle commented on #18484
@smhigley @benkaiser

While I am making the changes, I do think this is **not** a breaking change. The change only touches the split button and nobody could *expect* there are two roles in a split button. We should consider this as a patch fix instead of a breaking change.

Here are the PR to fix the issues in v7 and v8.

- v8: https://github.com/microsoft/fluentui/pull/18697
- v7: https://github.

[2021-06-24 10:17] layershifter commented on #18675
@Hotell thanks for suggestions, I applied them in #18673 🚀

[2021-06-24 11:16] #18475 closed

[2021-06-24 11:30] kolaps33 opened #18703 "Dropdown > aria-labelledby points to no existing ID"
We got reported following bug:

![image](https://user-images.githubusercontent.com/22620150/123255570-492f2c80-d4f0-11eb-869d-9c1ddfb25056.png)

What is going on?:

for search dropdown there is aria-labelledby attribute with given ID.
ID point into some element.
But any element has the given ID.

[2021-06-24 11:34] kolaps33 commented on #18703
this bug is duplicate of:
https://github.com/microsoft/fluentui/issues/18598

[2021-06-24 11:34] #18703 closed

[2021-06-24 11:53] layershifter opened #18706 "tools: options in jest.config.js should be added on demand"
Currently `migrate-converged-pkg` adds `snapshotSerializers` & `setupFilesAfterEnv` to `jest.config.js`:

https://github.com/microsoft/fluentui/blob/8e98ad375d22628a00a2f0c0916d657dcfe7f831/tools/generators/migrate-converged-pkg/index.ts#L132-L133

As was discovered in #18673 these options may be redundant for some packages.

### `snapshotSerializers`

This option should be added only if `@fluentu

[2021-06-24 12:38] RishabhPokharna opened #18707 "DatePicker placeholder text appears disabled in High contrast mode"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: Microsoft Edge (Chromium based), OS: Windows 10
- **Tool**: High contrast mode in Windows 10

### Describe the issue:
The Placeholder text in DatePicker component suggests that the field is disabled in High contrast mode. In normal mode, it has the same color as any date value (after date selectio

[2021-06-24 12:52] lsurma commented on #16986
Hi,

@davvit in case you didn't resolve your issue already, here is link to codepen with working example of checkbox checked state: https://codepen.io/lsurma/pen/eYvqNWw
It is based on your code.

According to docs: https://developer.microsoft.com/en-us/fluentui#/controls/web/checkbox
In onChange callback, there is a second value passed down to your function. You can use it for determining if the

[2021-06-24 13:33] ling1726 commented on #18599
@kolaps33  AFAIK `FocusTrapZone` will apply `aria-hidden` on all non-trapped content. This is expected since, other content shouldn't be visible to the virtual cursor.

We could use `aria-modal` for this, but it's not well supported https://caniuse.com/?search=aria-modal

[2021-06-24 13:50] YuanboXue-Amber opened #18708 "Northstar Tooltip component should have the ability to be configured similar to HTML title"
#### Describe the feature that you would like added

Currently @fluentui/react-northstar component has 2 behaviors that are different from classic HTML title.
1. mouse over tooltip content does not close tooltip.
    This is useful when there's need to copy text inside tooltip:
   <img width="172" alt="Screenshot 2021-06-24 at 15 39 45" src="https://user-images.githubusercontent.com/28751745/12327

[2021-06-24 13:51] YuanboXue-Amber commented on #18708
Removing Triage label as this has already been discussed internally

[2021-06-24 13:57] assuncaocharles commented on #17691
I don't think it's actually an issue, adding specific height to the divider or to the parent ( the `Flex` in the example ) will do the work. The problem here is actually the divider has height 100% but no reference of height in the parent.

[2021-06-24 21:13] soryy708 opened #18712 "Rounded corners"
#### Describe the feature that you would like added

The Windows 11 announcement brings rounded corners to elements of its user interface, which implies that rounded corners become a thing in it's design language (Fluent). Are there plans for Fluent UI to support rounded corners?

#### What component or utility would this be added to

A lot of them, probably through styling.

#### Have you discuss

[2021-06-24 23:00] #12345 closed

[2021-06-24 23:15] JustSlone commented on #13705
Hi, the issue here is that in the sample there is no label for the combobox nor is there an ariaLabel provided.

[code]
or
[code]

Will resolve the error

[2021-06-24 23:16] justinforlenza commented on #18712
Looks like the new "2020" Fluent UI elements are in the northstar package, which is still a beta product.

You can check it out here [./packages/fluentui/react-northstar](https://github.com/microsoft/fluentui/tree/master/packages/fluentui)

[2021-06-24 23:30] JustSlone commented on #13525
This is an actual issue, reopening

[2021-06-24 23:38] JustSlone commented on #13525
Updated issue description with fixed codepen and additional screenshot

[2021-06-25 00:00] lucas-stanford opened #18714 "[SearchBox][Regression] onChanged silently broke with the v8 upgrade"
### Environment Information
- **Package version(s)**: 8.19.1

### Please provide a reproduction of the bug in a codepen:

It repro's here: https://developer.microsoft.com/en-us/fluentui#/controls/web/searchbox
switch the last example to use onchanged, test in 7 vs 8

#### Actual behavior:

it silently fails

#### Expected behavior:
if deprecated, please remove from the definition file.

### Priori

[2021-06-25 00:38] ecraig12345 commented on #18350
In general the most common reason for this to happen was if params were added to a callback within a major version. I'm not sure why that particular callback would have the params as optional though, since it seems like they should all have been present from the start (blind pattern-following maybe?).

Unfortunately we probably won't be able to fix this outside of a major version, because I'm pret

[2021-06-25 01:39] ishaisagi commented on #12420
I have the same problem in SharePoint, showing a dialog where content overflows, we get two scrollbars.

The dialog components looks something like this:
 var feedbackDialogProps: IDialogContentProps = {
            showCloseButton: true,
            title: "Comment on " + this.props.DisplayName,
            type: DialogType.close,
        };
var modalProps: IModalProps = {
    containerClassName:

[2021-06-25 05:08] Frikki commented on #16410
Did this stall?

[2021-06-25 10:52] Hotell commented on #18706
Agreed

That makes sense as well. Although I'd like us to have consistent setting within all packages. Meaning if someone wan't to set this up, one will know where it should be done as that scaffolding is already created. WDYT?

[2021-06-25 11:15] layershifter commented on #18706
So always have `setupFilesAfterEnv` and create `./config/tests.js` if it is missing, is my understanding correct?

[2021-06-25 11:35] Hotell commented on #18706
yesir 🙌

[2021-06-25 11:50] #18675 closed

[2021-06-25 11:54] sandeepvootoori opened #18718 "Textfield's maxLength property doesn't work when the type is 'number'"
### Environment Information

- **Package version(s)**: 8.14.14
- **Browser and OS versions**: Chrome

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

Textfield's maxLength property doesn't work when the type is 'number'

#### Expected behavior:

maxLength property should work independent of the type of field

[2021-06-25 12:01] mokshithpyla commented on #8187
In case of dynamically changing breadrumb items, if any item exceeds the initial width of the complete breadcrumb, all items are being collapsed. Can this issue be prioritised?

[2021-06-25 13:38] #17691 closed

[2021-06-25 14:39] RishabhPokharna opened #18722 "ComboBox options cannot be selected via Keyboard in Scan Mode with Narrator on"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:
This issue was raised earlier, but closed automatically due to no activity. Here' s the link:
https://github.com/microsoft/fluentui/issues/15139

### Please provide a reproduction of the issue in a codepen:

https://codepen.io/rishabhpokharna/pen/mdWNGoV

*

[2021-06-25 15:28] xperiandri opened #18724 "XAML Styles for Teams Fluent Theme"
#### Describe the feature that you would like added

I want to build my Teams app using Uno Platform which is UWP code running on WASM.
So that I need UWP XAML Styles of Teams Fuent Theme to make the same look and feel.

Are they available?
Can you make such styles?

[2021-06-25 15:54] tabrumle opened #18725 "Support Custom Right Click Menus Within Menus"
#### Describe the feature that you would like added

Currently if you try to do a custom right-click menu within a contextualMenu, you have two big issues you run into. One is that all of our menus share the same zIndex, so if we want to guarantee that the right click menu is above the contextual menu, we need to have its zIndex be greater than our set layer index of 1,000,000. The issue is that o

[2021-06-25 20:43] miroslavstastny commented on #17695
I see the same problem in both v7 and v8. Next v10 compilation fails whenever deep imports are used:
[code]

But that's what docs recommend: https://github.com/microsoft/fluentui/wiki/Server-side-rendering-and-browserless-testing.

I propose to update the documentation to import directly from `office-ui-fabric-react` (v7) or `@fluentui/react` (v8). @ecraig12345, @layershifter would you agree?

[2021-06-25 20:53] brandonthomas commented on #15420
I just looked at this again @smhigley and native sliders work appropriately with Narrator in scan mode (left and right increment and decrement). One way I've fixed these types of issues in the past is to render a native input control and only use supplemental DOM to show visuals. The interaction is purely native as far as AT can tell though.

I'm curious if rebuilding with <input type="range"/> wo

[2021-06-25 23:00] #14614 closed

[2021-06-26 03:53] #9545 closed

[2021-06-26 05:37] #18714 closed

[2021-06-26 07:31] #17974 closed

[2021-06-26 07:34] pedroldk opened #18736 "Datepicker crashes after selecting first day of the week"
### Environment Information

- **Package version(s)**: The one used on the Fluent UI website
- **Browser and OS versions**: Edge, Chrome, Firefox (latest versions)

#### Actual behavior:
Cannot test the datepicker, it crashes when selecting the first day of the week. Can see that there is something wrong on that page in the console.

![Animation](https://user-images.githubusercontent.com/480413/12

[2021-06-26 13:17] Jonasdoubleyou commented on #17959
Hi, I can reproduce this both on MacOS with Safari 14.0.1 as well as on an iPhone 12 Pro. I cannot reproduce this on any other browser or on Chrome on MacOS. Here is a stacktrace including source lines:

![WhatsApp Image 2021-06-25 at 22 31 09](https://user-images.githubusercontent.com/23138527/123514116-736c2000-d691-11eb-9693-41c14c51e97c.jpeg)

For me the crash occurs in various cases on mount

[2021-06-26 21:24] #18261 closed

[2021-06-27 04:17] hetanthakkar1 commented on #18736
@pedroldk Can i work on this or you're working on it currently?

[2021-06-27 06:56] pedroldk commented on #18736
I won't be able to pick it up until tomorrow so please go ahead :)

[2021-06-27 13:29] hetanthakkar1 commented on #18736
@pedroldk Thanks I am on it

[2021-06-27 13:30] hetanthakkar1 commented on #18736
@pedroldk Not only datepicker but the whole website crashes

[2021-06-27 17:09] Alex1100 commented on #15073
This is also an issue when we click on the item row. It seems like unless you specifically click on the checkbox this will cause all other selected items to be unchecked.

Could we please not have that be the case. If we jus enable the inverse to be the default behavior it will fix the A11y issue and the onClick issue that I am sure many others such as myself face quite often.

[2021-06-28 08:50] Hotell opened #18742 "tools: "test:watch" is not handled by a generator"
It looks that "test:watch" removal within `package.json#scripts` is not handled by generator, I deleted this line manually as it's a single package in converged that has such script.

_Originally posted by @layershifter in https://github.com/microsoft/fluentui/pull/18673#discussion_r657815978_

[2021-06-28 10:19] layershifter commented on #17695
Deep imports are not compatible with Next.js because Next.js will run code in Node environment for SSR while `/lib/**/*` files contain only ESM. I see multiple options to solve "deep imports" problem:

#### Option 1

Is to configure something like [`babel-plugin-transform-imports`](https://www.npmjs.com/package/babel-plugin-transform-imports) directly on Webpack loader in `next.config.js`: it will

[2021-06-28 10:28] kolaps33 commented on #18598
I was investigating it and it appears as well on our fluent ui doc site.
Duplicate bug was reported here:
https://github.com/microsoft/fluentui/issues/18703

But as there is placeholder then screen reader narrate properly the placeholder.

So definitely it is bug which we should fix, but I wouldn't consider it as high priority.

[2021-06-28 10:48] kolaps33 commented on #18599
I am already in the call with Aubrey and figure out that aria-hidden=true is hiding the trigger button.
But this is apply only when dialog is open. This is expected implementation of dialog coming from Fluent UI.
Explanation: we set aria-hidden=true on other elements outside the dialog, to disable Virtual Cursor navigation outside the dialog...
We verified that aria-hidden=true is removed once dia

[2021-06-28 10:48] #18599 closed

[2021-06-28 11:10] layershifter commented on #18706
Cool, I updated the issue 👍

[2021-06-28 11:32] gouttierre commented on #18250
@RichardSunMS - thank you for reaching out. Have you taken a look at our documentation for the [ComboBox](https://developer.microsoft.com/en-us/fluentui#/controls/web/combobox). See if that works for you? Else - feel free to reach out to us again, providing you supply a CodePen with your question.

[2021-06-28 11:40] arunvenu87 opened #18744 "onScroll event of ScrollablePane is not fired while running on react version 17.0.2"
### Environment Information

- **Package version(s)**: 8.20.2
- **react**: 17.0.2

### Describe the issue:

#### Actual behavior:

The `onScroll` event of  `ScrollablePane` is not fired while using `react` version 17 .

#### Expected behavior:

The `onScroll` event of  `ScrollablePane` should be fired.

### If applicable, please provide a codepen repro:
It is working when `react` version 16.8.6 is

[2021-06-28 11:41] gouttierre commented on #18283
@Dan86de - thank you for reaching out and providing the codepen for repro.

@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @smhigley

[2021-06-28 11:44] gouttierre commented on #18286
@arshadshibli - thank you for reaching out and your question.

@miroslavstastny - I know you were working recently with Coachmark - would you able to share any guidance in utilizing a ribbon without opening a panel/dialogue

[2021-06-28 11:45] layershifter commented on #17463
Yes, can you please try to use Emotion renderer? As it generates deterministic classes even if they are inserted twice they will not collide.

[code]

[2021-06-28 11:51] arunvenu87 commented on #18744
This behavior might be related to [this ](https://github.com/facebook/react/pull/19464)breaking change.

[2021-06-28 12:01] gouttierre commented on #18288
@cabillin - Thank you for filing this item and sharing the codepen with repro details.
@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-06-28 12:05] mgwojciech commented on #17463
@layershifter - thank You so much.
I'm on 0.51.4 and I had to use
<RendererContext.Provider value={() => createEmotionRenderer(document)}> but works as expected

[2021-06-28 12:06] gouttierre commented on #18293
@zhr1130 - thanks for filing this issue with us.

@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @smhigley

[2021-06-28 12:07] layershifter commented on #17463
@mgwojciech On 0.51.4 you can use just `<RendererContext.Provider value={createEmotionRenderer}>` 😉

[2021-06-28 12:11] gouttierre commented on #18306
@G00golplex - thank you for reaching out and showing a willingness to submit a fix for the PR. Are you aware of a solution at hand? if so, could you share it with us or you can submit a PR for our team to review? Thank you

[2021-06-28 12:12] gouttierre commented on #18320
@LukeOwlclaw - thanks for filing this request.
@tomi-msft - do you have any updates on this particular item? Thanks in advance.

[2021-06-28 12:16] gouttierre commented on #18346
@raharri - thank you for filing this issue with us and sharing the codepen repro details.
@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @smhigley

[2021-06-28 12:24] mgwojciech commented on #17463
Good point :D

[2021-06-28 12:25] gouttierre commented on #18350
This issue will be scheduled for a review at a later stage.

[2021-06-28 12:48] gouttierre commented on #18351
@ghassane23 - Thanks for filing this issue with us and sharing the details into the problem.

@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @smhigley

[2021-06-28 12:53] gouttierre commented on #18354
This issue will go to the backlog.

[2021-06-28 13:00] gouttierre commented on #18355
@sankarkumar23  - thank you for reaching out - I see the issue resolved for SelectedItem(s) after upgrading to version 1.12.1.
For your request on having a tooltip text in suggested items drop down too - this will have to be reviewed at a later stage as we’re currently focused on larger coherence work items and enhancements to our performance. Unless, you have an idea on the implementations for th

[2021-06-28 13:02] gouttierre commented on #18358
@reposman33 - Thanks for filing this, but you’ll need to add a CodePen repro before we can help. You can start from one of the [TextField ](https://developer.microsoft.com/en-us/fluentui#/controls/web/textfield) examples (click “Export to CodePen”) or https://aka.ms/fluentpen.

[2021-06-28 13:04] gouttierre commented on #18361
@Drustus - thanks for filing this issue with us.
@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-06-28 13:04] hetanthakkar1 commented on #18354
No thank you!

[2021-06-28 13:07] gouttierre commented on #18377
@timothyhoffmann - thanks for filing this request. I’ve added this to our backlog for review but it’s low on our priority list as we’re likely not going to get to it immediately due to the fact we’re currently focused on larger coherence work items and enhancements to our performance.

[2021-06-28 13:11] gouttierre commented on #18384
@zhr1130  - thanks for filing this issue.

@smhigley - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @miroslavstastny

[2021-06-28 13:13] gouttierre commented on #18385
@Renuka8796  - thanks for filing this issue with us and the details into the problem.

@smhigley - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @miroslavstastny

[2021-06-28 13:16] gouttierre commented on #18391
@mittaltanisha -Thanks for filing this, but you’ll need to add a CodePen repro before we can help.

[2021-06-28 13:27] gouttierre commented on #18418
@EYHN - thank you for filing this issue and great to see that you are willing to submit a PR for the fix!

@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue?
If confirmed, would be able to guide @EYHN on the implementations for a fix? Thank you

[2021-06-28 13:36] #18742 closed

[2021-06-28 13:52] Hotell opened #18747 "new dx (1st stage): api-extractor issue for node packages"
## `api-extractor` issue

There is a problem with inconsistency in commands 👇

#### `yarn workspace @fluentui/jest-serializer-make-styles build:local`

Will create `jest-serializer-make-styles/etc/jest-serializer-make-styles.api.md`

#### `yarn workspace @fluentui/jest-serializer-make-styles build`

Will **not** create `jest-serializer-make-styles/etc/jest-serializer-make-styles.api.md`.

---

As

[2021-06-28 13:54] Hotell commented on #18747
I'd keep it consistent for new DX no matter what kind of package is it (node/web/any).

**Action point:**
- Let's discuss this on vbuild or tech sync meeting.

[2021-06-28 14:59] tsinghammer opened #18750 "DetailsList does not apply CSS class onDragEnter"
### Environment Information

- **Package version(s)**: 8.20.2

### Please provide a reproduction of the bug in a codepen:

This is a duplicate of [#14413](https://github.com/microsoft/fluentui/issues/14413) which has been closed 5 days ago. Unfortunately I'd now need this feature.

https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist/draganddrop

Actual behavior:
Styles provide

[2021-06-28 15:46] Hotell opened #18752 "migration(react-examples): remove `react-make-styles` from dependencies"
### Describe the issue:

When migrating `react-make-styles` to new DX, CI is failing on lint error
![2021-06-28 at 17 46](https://user-images.githubusercontent.com/1223799/123665652-c46a4880-d838-11eb-95b6-844835bb2cb3.png)

#### Actual behavior:

Non migrated converged packages within `react-examples` are using `react-make-styles`
- tooltip
- avatar
- react-components

![2021-06-28 at 17 40](http

[2021-06-28 16:46] smhigley commented on #18346
@raharri thanks for filing the issue! I think this is a good example of where we could improve our documentation to include better accessibility guidance -- currently our docs have some recommendations for the on/off text, but not accessibility-specific information.

What we *should* say in the guidance is this: while the on/off text can be made more specific, it should always be redundant to the

[2021-06-28 17:01] smhigley commented on #18184
Narrator's not really wrong here in announcing it as readonly, because it's not editable. The basic issue essentially centers around poor spec definitions for how grid interactivity works, and the resulting variations in implementation between screen readers.

If we don't explicitly mark gridcells readonly, NVDA will incorrectly announce them as "editable", and if we do mark them readonly, Narrato

[2021-06-28 17:03] smhigley commented on #18184
I'm closing the issue now, but feel free to re-open if you think there's something I've missed! :)

[2021-06-28 17:03] #18184 closed

[2021-06-28 17:10] smhigley commented on #18385
@Renuka8796 we need some more information to investigate this, specifically:
- Which control do you think should be named "year 2021" instead of "2021"?
- Why do you believe the accessible name should include the word "year"?

thanks!

[2021-06-28 17:15] smhigley commented on #18384
@zhr1130 I can't reproduce with either NVDA or Narrator in Firefox, Chrome, or Edge. The column headers are read correctly for me in the linked example when navigating with standard table navigation.

Could you provide information on what commands you're using to navigate the table, and what output you're getting? Windows lets you record screen reader audio through the game bar if a video would be

[2021-06-28 17:23] smhigley commented on #18351
@ghassane23 the `ariaValueText` component prop will set the `aria-valuetext` DOM attribute, which is unrelated to the accessible name. The `aria-valuetext` attribute provides a custom text alternative to the current *value* of the progressbar, similar to the value of any other form field.

To give the progressbar an accessible name, you can use the `label` prop. If needed, you could style it to be

[2021-06-28 17:32] smhigley commented on #18271
@sysofwan overriding the role of `searchbox` would be much, much worse than the current experience. A `menuitem` cannot be typed into, and a textbox is prohibited from having the role of `menuitem` (for good reason, it would completely trash the screen reader experience).

Our current role structure is far from ideal, and actually fairly broken in the sense that a menuitem cannot contain additiona

[2021-06-28 17:44] smhigley commented on #18293
This is an issue with our example implementation rather than DetailsList itself, since the filter input isn't built into the component.

To do this right, we'd need to set up a timeout to debounce updates while typing, and only fire a live region with the number of updated results after about a half second of inactivity. I'll defer to @miroslavstastny on whether we should implement that in this ex

[2021-06-28 17:47] smhigley commented on #18183
This was fixed in #18472

[2021-06-28 17:47] #18183 closed

[2021-06-28 18:52] cbirts commented on #18486
I am requesting that this issue be closed. Looking for an alternate route and examples.

[2021-06-28 18:52] #18486 closed

[2021-06-28 19:14] PoojaOtari opened #18753 "NVDA is not announcing Selected state for the option from drop down"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:

### Please provide a reproduction of the issue in a codepen:

#### Actual behavior:

#### Expected behavior:

### Documentation describing expected behavior

[2021-06-28 20:33] cabillin commented on #18224
@TristanWatanabe I'll try :)
@hantatsang The problem is that I want to render my own label & pass in aria-labelledby. The label with the `for` attribute is the default label (notice it is empty).

[2021-06-28 22:18] smhigley commented on #14906
Reopening w/ the following proposed fix:

We'll need to modify the DOM for Combobox slightly to insert a `<div role="group">` wrapper around each group of options under a header, but I discussed it w/ @JustSlone, and that should be OK to add in V8. We should essentially do the same thing as Dropdown's `_onRenderList` in Combobox's `_onRenderList`.

[2021-06-29 04:42] Renuka8796 commented on #18385
Hi smhigley,
The issue is with the date picker control, when the calendar was opened and while changing the year in the calendar, the narrator should announce the year as "year 2021" instead of "2021".

[2021-06-29 05:00] #18253 closed

[2021-06-29 05:01] prram commented on #17587
any update on this?

[2021-06-29 07:53] #18674 closed

[2021-06-29 07:54] shail15 commented on #18674
We confirmed using Accessibility Insights tool, disabled items are an exception and no minimum standards apply for color contrast.

[2021-06-29 08:13] #17760 closed

[2021-06-29 11:04] gouttierre commented on #18467
@t-oferl - Thanks for filing this issue. I tested your stated problem with our [latest fluent version 8](https://developer.microsoft.com/en-us/fluentui?fabricVer=8#/controls/web/shimmer) and was unable to repro your problem. Could you confirm using our latest version? Thanks

cc @smhigley, @miroslavstastny

[2021-06-29 11:06] gouttierre commented on #18398
@pankaj-ch - Thank you for reaching out and submitting this issue with the detailed repro. I see you are willing to submit a PR for this fix? If you have a solution in mind would you mind sharing it with us? Thanks in advance.

cc @miroslavstastny

[2021-06-29 11:12] gouttierre commented on #18408
@jtbandes - thanks for filing this request. I’ve added this to our backlog for review but it’s low on our priority list as we’re likely not going to get to it immediately due to the fact we’re currently focused on larger coherence work items and enhancements to our performance. However, in the interim if you have an idea on the implementation and would like to contribute - please fee free to submi

[2021-06-29 11:34] gouttierre commented on #18422
@mohitbagra - thank you for reaching out and providing the reproduction details.

@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue?
cc @smhigley

[2021-06-29 11:38] gouttierre commented on #18425
@tomsato-ms - thanks for filing this issue and providing the details for the repro.

@miroslavstastny - Would you be able to confirm if this is a regression, or if this behavior is an issue? Also, could we confirm the documentations is correct as pointed out by @tomsato-ms. Thanks

[2021-06-29 11:41] gouttierre commented on #18426
@jtbandes - thanks for filing this request. I’ve added this to our backlog for review but it’s low on our priority list as we’re likely not going to get to it immediately due to the fact we’re currently focused on larger coherence work items and enhancements to our performance.

@dzearing - Do you have any information you could possibly share? Thank you

[2021-06-29 11:48] gouttierre commented on #18568
@AkiraVoid - thanks for filing this request. I’ve added this to our backlog for review but it’s low on our priority list as we’re likely not going to get to it immediately due to the fact we’re currently focused on larger coherence work items and enhancements to our performance. But if you manage to come up with a solution in the interim - please feel free to submit a PR for the request and our te

[2021-06-29 11:58] gouttierre commented on #18416
@piyumi25  - Thanks for reach out to us.
Have you taken a look at our [FAQ's ](https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist) section that talks about scrollable content? i.e.
`My scrollable content isn't updating on scroll. What should I do?`

Also, we recommend you review our implementation API for the DetailsList and if you still need assistance - please reach out to

[2021-06-29 15:02] Hotell opened #18757 "migration(babel-make-styles): after migrating via nx generator, tests don't work"
### Describe the issue:

After migrating `babel-make-styles` to new dx via `nx workspace-generator migrate-converged-pkg`, tests will fail to pass.

**Issue:** Looks like code within `__fixtures__` is not being transpiled, thus throwing an error:

![2021-06-29 at 16 58](https://user-images.githubusercontent.com/1223799/123820961-48850480-d8fb-11eb-8712-8538405d41b8.png)

Previously it relied on ru

[2021-06-29 15:54] layershifter commented on #18757
`babel-make-styles` uses [`babel-plugin-tester`](https://github.com/babel-utils/babel-plugin-tester), unfortunately it does not have any filters to run a single fixture 😥

- I went to `packages/babel-make-styles/__fixtures__` and deleted all folders except
- `yarn workspace @fluentui/babel-make-styles test --no-cache`, errors now are less cryptic:

[code]

In previous config we had `json` in `modu

[2021-06-29 16:16] ling1726 opened #18760 "PopoverSurface not applying styles correctly"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Describe the issue:

`PopoverSurface` is applying the user `className` before internal styles, which means that `mergeClasses` always deduplicates user className properties if they clash with internal styles.

#### Actual behavior:

`PopoverSurface` padding can't b

[2021-06-29 16:42] sysofwan commented on #18271
@smhigley thanks for clarifying. I agree, there is no guidelines for editable text fields in the wai-aria spec for menubars.

However, looks like both NVDA and Narrator is handling it pretty well. For example,  NVDA will read "Search editable 4 of 5 blank" in this situation, which is better than "Search edit blank". You can test this by manually changing role="search" -> role="menuitem" in [this c

[2021-06-29 17:00] #18736 closed

[2021-06-29 17:06] dzearing commented on #18426
The issue is that the css objects can contain selectors:

[code]

...which means that in order to satisfy typings, the key must be `[key: string]: IRawStyle`.

I believe that there are types that say "background should be a string", so providing a number gives you an error. But that's the background.

[2021-06-29 17:08] dzearing commented on #18426
FWIW we started the API off by grouping selectors under a `selectors` property, which allowed for more typing strictness. Unfortunately this is different than every other styling library which allow for selectors within the object, and adds typing friction and bundle bloat.

[2021-06-29 17:27] #18760 closed

[2021-06-29 19:08] areyesms opened #18763 "ComboBox is dismissed / closed as keyboard opens on mobile (Android)"
### Environment Information

- **Package version(s)**: 8.21.1 (latest)
- **Browser and OS versions**: Google Chrome - Android 11

### Please provide a reproduction of the bug in a codepen:
This reproes out of the box by simply navigating to the ComboBox demos:
[Fluent UI - ComboBox](https://developer.microsoft.com/en-us/fluentui#/controls/web/combobox)
[Fluent UI React 8.21.1 - ComboBox](https://f

[2021-06-29 19:15] tomi-msft commented on #17886
Hi @mohit406, thanks for filing the issue. After some initial investigation, I was unable to repro the bug in Narrator, I believe the column headers are announcing as expected. Here are the steps I followed:

- Turned on Narrator (WinKey + Ctrl + Enter)
- Made sure Narrator is in Scan Mode (CAPS LOCK + SPACE)
- Navigate to the Review Settings tab in Elixir
- Navigate to the nearest table (T)
- Nav

[2021-06-29 19:50] Kitwradr commented on #17406
Is there any other way to style the cells? @gouttierre

[2021-06-29 20:00] #18595 closed

[2021-06-29 20:00] #18493 closed

[2021-06-29 20:06] #18354 closed

[2021-06-29 20:27] #18662 closed

[2021-06-29 22:00] smhigley opened #18767 "TeachingBubble beak doesn't align correctly when zoomed"
### Describe the issue:
This repros on the main docs site: https://developer.microsoft.com/en-us/fluentui#/controls/web/teachingbubble

When you zoom to 200% or more, the beak points off to the left instead of up at the trigger (assuming the bubble was opened below the button).

![screenshot showing the beak pointing to the left at high zoom](https://user-images.githubusercontent.com/3819570/12387

[2021-06-29 23:36] ecraig12345 commented on #18232
@kidokidozh The second example on this page shows one possible approach. https://fabricweb.z5.web.core.windows.net/oufr/8.21.1/#/examples/scrollablepane

[2021-06-30 00:05] ecraig12345 opened #18769 "Intermittent northstar dts error in bundle:storybook for v8"
There's been a recurring intermittent error in `bundle:storybook` for `@fluentui/react` ([example](https://uifabric.visualstudio.com/fabricpublic/_build/results?buildId=205610&view=logs&j=be0e6c0b-16d6-5408-4b39-461952619dc9&t=207817a2-9dbe-5352-063c-e824a013c3bb&l=3742)):

This build step shouldn't be reading northstar build output, which implies a config issue. Intermittency may be due to differ

[2021-06-30 02:10] jieqiu0129 commented on #18488
Anyone could help look at this issue?

[2021-06-30 07:45] ling1726 opened #18773 "Menu: MenuTrigger opens `Menu` with ArrowDown inside MenuList"
### Environment Information

- **Package version(s)**: v9

### Please provide a reproduction of the bug in a codesandbox:

https://codesandbox.io/s/jovial-tree-is89l?file=/src/App.js

#### Actual behavior:

When using `MenuTrigger` inside a `MenuList` the nested menu opens with ArrowDown which breaks arrow key navigation inside the `MenuList`

#### Expected behavior:

When using `MenuTrigger` insi

[2021-06-30 08:39] makislev commented on #15971
Is there any update on the cherry pick to v7 branch? we are waiting on this fix as blocker to open a new feature to customers

[2021-06-30 08:43] yupasz commented on #11842
+1. Resize the page to 400% and change the display resolution to 1280*1024, the search box and the change view button will not be visible
![image](https://user-images.githubusercontent.com/69033452/123930327-391cbe80-d9c2-11eb-881c-bcf123428db2.png)

[2021-06-30 09:16] hetanthakkar1 commented on #18611
@lifwan I am on it

[2021-06-30 10:39] #18757 closed

[2021-06-30 12:12] sumitmodi84 opened #18774 "CDN of fluentui-react or npm package for office plugins"
I am developing a plugin for outlook js addin, where i have included fluentui-react via npm package. I am assuming that office js, itself uses the fluentui. So, i should not be shipping the fluent ui with my addin. rather refer to the location of CDN which office js uses. This will help in loading the page much faster as the js will be already loaded by outlook.
I could not find any documentation

[2021-06-30 12:45] ling1726 opened #18775 "babel-make-styles is being used in co-located storybooks"
### Environment Information

- **Package version(s)**:  vNext DX packages

### Describe the issue:

The babel-make-styles plugin should not be used in storybook since it requires the package to be rebuilt (#18357). The migration to new colocated storybooks will always use the `babelrc.json` in vNext packages which which will run the plugin. This was not  a problem with the old DX since the main st

[2021-06-30 12:47] pavanAryan opened #18776 "how to represent options horizontally"
#### Describe the feature that you would like added

#### What component or utility would this be added to

#### Have you discussed this feature with our team, and if so, who

#### Additional context/screenshots

[2021-06-30 13:03] Hotell commented on #18775
the proposed solution is not necessary IMO, we can use what SB suggests

![2021-06-30 at 15 01](https://user-images.githubusercontent.com/1223799/123964847-2c916980-d9b4-11eb-96bf-de827811c2dc.png)

thus overriding babel config for particular context -> in our case storybook

[2021-06-30 13:21] ling1726 commented on #18775
@Hotell  we tried what is [described in docs](https://storybook.js.org/docs/riot/configure/babel)

Adding a custom .babelrc.json without babel-make-styles
[code]

Got these kinds of errors:
[code]

Seems like the custom babel config needs to contain all the presets

[2021-06-30 13:27] Hotell commented on #18775
right it won't merge, doesn't work if `overrides` are used as well ( I guess it works only if babelrc is a js file )....

[2021-06-30 13:28] ling1726 commented on #18775
We also tried to create `babel.config.js` using [storybook's default config](https://github.com/storybookjs/storybook/blob/e31c79277b55fb62cbccff4b80cb2b1fb59746ed/lib/core-common/src/utils/babel.ts#L50)

The result was:

![image](https://user-images.githubusercontent.com/20744592/123968475-89daea00-d9b7-11eb-8b40-e32a4bade1d1.png)

It is still looking for the babel-make-styles plugin.

<details>

[2021-06-30 13:29] Hotell commented on #18775
as I mentioned I'd prefer to use instead environment configuration. Why do we need to exec all these babel optimizations for dev anyways?

[2021-06-30 13:29] Hotell commented on #18775
that config file should be used solely for monorepo root

[2021-06-30 13:35] ling1726 commented on #18775
There is already a [babel.config.js file in the monorepo root](https://github.com/microsoft/fluentui/blob/master/babel.config.js) which does not include the babel-make-styles plugin. I'm not sure what I should be doing here ?

would you like me to try the default storybook `babel.config.js` in root .storybook folder ?

[2021-06-30 13:51] MahmudX opened #18777 "Please add native support for ASP.Net"
#### Describe the feature that you would like added

Native support for Asp.net

#### What component or utility would this be added to

All of it.

#### Have you discussed this feature with our team, and if so, who

No.

#### Additional context/screenshots

FluentUI is one of the great UI sets out there, but sadly there is no native support for Microsoft's own ASP.NET and Blazor, as well as Xamari

[2021-06-30 13:57] ling1726 commented on #18775
@Hotell  Added extra solutions, reflects your suggestion of using environment configs

[2021-06-30 16:59] ecraig12345 commented on #18774
Office and Outlook use Webpack to bundle only the parts of Fluent UI that they use, so it's unfortunately not set up for add-ins to consume the same copy.

[2021-06-30 17:34] makopch-ms opened #18782 "SpinButton's onChange prop fires differently than in v7"
v7: https://codepen.io/makopch/pen/xxdbyKW
v8: https://codepen.io/makopch/pen/bGWNmGd
(See console for output difference)

#### Actual behavior:
In v8, onChange only fires when the user presses KeyDown or moves focus away (blur)

#### Expected behavior:
In v7, onChange fires for every keystroke of the user.

Is this a design change in v8, that onChange was too chatty?

In our user scenario, as soo

[2021-06-30 17:36] ecraig12345 commented on #18718
This must be a built-in browser behavior, because both `type="number"` and `maxLength` are built-in `<input>` properties that TextField just passes through. So we're not going to add special handling for this case.

The best workaround would be to use a TextField with the `value` and `onChange` props, and in the change handler, only update the value if it's below the length you wanted. https://cod

[2021-06-30 17:37] ecraig12345 commented on #18776
It's not clear from the issue description what you're trying to do. Can you please add more details of your scenario?

[2021-06-30 19:29] Agalin opened #18784 "AreaChart: Support finer date time granularity"
#### Describe the feature that you would like added

Currently AreaChart converts dates on the x axis to locale date string. It means that it's unsupported to chart data with finer time granularity. If you try you'll end with an ugly error about value at index being undefined.

This limitation seems to be completely arbitrary and this view is supported by chart working perfectly fine if date's `to

[2021-06-30 19:31] vasanthkumar258 opened #18785 "Split Button -Accessibility - FastPass Issues -Nested interactive controls are not announced by screen readers"
### Environment Information

- **Package version(s)**: Latest version
- **Browser and OS versions**: Chrome

### Describe the issue:

Run accessibility Fastpass , issue with Split button https://dequeuniversity.com/rules/axe/4.2/nested-interactive?application=msftAI

### Please provide a reproduction of the issue in a codepen:
This can reproduced with split button variants examples at
https://fabr

[2021-06-30 19:33] tianbli commented on #17916
same as https://github.com/microsoft/fluentui/issues/16277 Are you going to change this at this moment?

[2021-06-30 19:49] Agalin opened #18786 "LineChart: support more than 11 points for 12+ series chart or document the limitation"
#### Describe the feature that you would like added

As described in #17686 LineChart doesn't work well when there are more than 11 series with more than 11 points each. Reportedly it's a design choice not to support more than 8 data points per series.

This arbitrary limitation should either be dropped (seems to only need a few lines changed with no functional difference) or documented in the Lin

[2021-06-30 19:52] tianbli commented on #16277
I got the exact same issue as an accessibility bug. Do you have update on your plan to solve this?
@smhigley @khmakoto @gouttierre

[2021-06-30 21:06] ecraig12345 commented on #18782
Thanks for the codepens! In the (long) discussion on the feature request for `onChange` (#5326), it was decided that `onChange` should only be called when the value is "committed": on blur, enter, or spin. This was partly because validation only runs on "commit." We didn't think about the fact that `onChange` could already be applied to the root `div` through native props spreading (or that it wou

[2021-06-30 23:28] smhigley opened #18788 "keyboard access for resizing and reordering columns for DetailsList"
## Problem:

DetailsList provides drag to resize and reorder columns, but doesn't provide a way to perform those actions with the keyboard, or with a pointer without drag/drop (so failing [pointer gestures](https://www.w3.org/WAI/WCAG21/Understanding/pointer-gestures.html) and [keyboard](https://www.w3.org/WAI/WCAG21/Understanding/keyboard.html)).

There aren't currently any well-established patte

[2021-06-30 23:36] smhigley commented on #18484
The backwards-compat issue is with changing the keyboard behavior, not with changing the roles. However, we can't get rid of the wrapper's role without changing the keyboard behavior, since that's the element that actually gets focus.

The only thing we could feasibly do is make both inner elements presentational/not menuitems, but that is actually likely to degrade the experience with virtual cur

[2021-07-01 01:39] #13525 closed

[2021-07-01 07:48] ling1726 opened #18793 "Popover closes when content updates after click"
### Environment Information

- **Package version(s)**: v9 alpha

### Please provide a reproduction of the bug in a codesandbox:

https://codesandbox.io/s/ecstatic-brahmagupta-bbvo8

#### Actual behavior:

When the content of the `Popover` changes after click, the popover closes.

#### Expected behavior:

The content of the `Popover` should change but the `Popover` should stay open

### Priorities

[2021-07-01 08:19] shujathkhan commented on #14199
@JustSlone First time contributor here. I can look into this issue, if its still up for grabs. I feel to provide more support for this component, we can approach this in two ways,
- Expose an optional prop for the iconName in the PickerComponent as @Augani mentioned.
- Expose the icon as a optional component prop, as developers might want to hook up the component with third-party icons as well and

[2021-07-01 08:47] ImranAlliKhan opened #18795 "NVDA is unnecessarily announcing clickable when focus goes on non actionable column headers of the DetailsList."
Environment Information
Package version(s): "@fluentui/react": "^8.18.0",
Browser and OS versions: Chrome Version: 89.0.4389.90 (Official Build) (64-bit) and Windows 10
Screen Reader: NVDA(2020.4)

Describe the issue:
In DetailsList fabric control, unnecessarily announcing "**clickable**" when focus goes on non actionable column headers.
![image](https://user-images.githubusercontent.com/27187973/

[2021-07-01 11:45] aubreyquinn opened #18797 "[Menu Button] - focus does not return to the trigger button after a selection has been made"
I am using Fluent UI @ 0.54.0.

Here is the code sandbox: https://codesandbox.io/s/jk3pb?module=/example.js

Bug: the tab focus does not return to the trigger button after a selection has been made.

Steps to reproduce:

1. Tab to the trigger button, click the enter key.
2. Use the up/down arrow keys to navigate through the drop down list.
3. Make a selection and press the enter key.
4. Notice tha

[2021-07-01 14:35] layershifter commented on #18489
#18680 solved the issue described above (https://github.com/microsoft/fluentui/issues/18489#issuecomment-866764198), but unfortunately it's not the last problem related to enabling plugin.

---

- I reverted locally change from #18481 (i.e. enabled plugin back)
- Removed `apps/vr-tests/node_modules/.cache/storybook` (to ensure that cache for `babel-loader` is clear)
- Removed `packages/react-tabst

[2021-07-01 15:24] odhanson commented on #18280
Hi. This is also affecting our product. It seems to have happened since we upgraded MacOS to 11.4

[2021-07-01 16:09] gouttierre commented on #18435
@jcdiocadiz  - Thanks for filing this and providing details into the issue, but you’ll need to add a CodePen repro before we can help. You can start from one of the [DetailsList ](https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist) examples (click “Export to CodePen”) or https://aka.ms/fluentpen.

[2021-07-01 17:14] #18773 closed

[2021-07-01 17:25] justinlee12 opened #18799 "DetailsList in Dialog - Not virtual scrolling"
### Environment Information

- **Package version(s)**: FluentUI/react 8.22.0
- **Browser and OS versions**: Tested with Chrome on Windows 10.

CodePen:  [codepen](https://codepen.io/plieqawn-the-bold/pen/bGWdWgV)

If you put a DetailsList with a set height in a Dialog, the virtual scrolling does not work. When you scroll down, it only shows the initial set of rows, with white space below.  (see co

[2021-07-01 18:51] tianbli commented on #16277
@benkaiser Ben, this is the cause of one WEX accessibility issue

[2021-07-01 19:20] rachelgshaffer opened #18800 "Cannot set role of Toggle component to "button""
### Environment Information

- **Package version(s)**:
8.20.0
- **Browser and OS versions**:
Windows 10 Enterprise Version 21H1 OS Build 19043.1052
Microsoft Edge Version 91.0.864.59

### Describe the issue:

Not able to set the aria role for a Toggle component to 'button'; type error.

### Please provide a reproduction of the issue in a codepen:

#### Actual behavior:

Type '"button"' is not assi

[2021-07-01 19:38] hetanthakkar1 opened #18801 "Build Fails when I execute yarn build --to @fluentui/react-examples"
![image](https://user-images.githubusercontent.com/38756320/124180582-03ff9180-dad2-11eb-8917-229a1944e8f0.png)

[2021-07-01 20:22] ecraig12345 commented on #18788
For what it's worth, I don't think this ought to be baked in (unless there's a particularly compelling reason), but we could definitely add an example with a column header menu that does all this stuff.

[2021-07-01 21:27] sopranopillow commented on #18454
July goals:

[] Finish implementation
[] Finish unit and VR tests
[] Agree on input pattern RFC

[2021-07-01 22:31] rachelgshaffer commented on #18351
Adding my two cents: I like the idea of adding `ariaLabel` prop

[2021-07-02 01:03] ecraig12345 commented on #18712
@justinforlenza `@fluentui/react-northstar` is a separate older library used primarily in Teams. We're currently working on a "converged" library `@fluentui/react-components` which incorporates learnings from both `@fluentui/react` and `@fluentui/react-northstar`, as well as design updates including rounded corners.

You can see a demo of the components that we have so far at https://aka.ms/fluent

[2021-07-02 01:09] ecraig12345 commented on #18800
What's the scenario where you need the toggle to have role=button?

[2021-07-02 01:11] ecraig12345 commented on #18801
I got a report of this internally as well. @Hotell, @layershifter, or @ling1726 can you help investigate?

@hetanthakkar1 Just to confirm, did you run `yarn` after updating from master and before running `yarn build`? Also, what happens if you run `yarn scrub` (be sure to commit or stash any changes first) followed by `yarn` and building?

[2021-07-02 01:18] justinforlenza commented on #18712
Ah okay, thanks for the clarification, it was the only thing I could find with something that resembled rounded styling.

[2021-07-02 01:19] ecraig12345 commented on #18682
It should be okay/desirable to change to ES2015 (or later) throughout our build once we confirm IE 11 support policy, right?

[2021-07-02 01:25] ecraig12345 commented on #18644
This is the intended behavior. This matches the native behavior in browsers as seen [here](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range). And it's actually better for accessibility, because requiring that the user's mouse stay positioned over the slider (a very narrow area) would require higher dexterity.

[2021-07-02 01:27] ecraig12345 commented on #18596
We don't officially support Preact, so unfortunately we can't invest in fixing this issue. And even if there was a feasible fix and someone was willing to contribute it, there would be no guarantee that it would continue working in the future since we don't test against Preact. Sorry we can't be more helpful with this.

[2021-07-02 01:37] ecraig12345 commented on #18712
It's okay, I agree that our documentation in this area needs a lot of clarification/expansion, it's just been hard to find the time.

[2021-07-02 02:00] #15927 closed

[2021-07-02 03:32] JustSlone commented on #14199
Awesome @shujathkhan!

Since there is already a means to provide custom icons via [`registerIcons`](https://github.com/microsoft/fluentui/wiki/Using-icons#registering-custom-icons) let's go with smaller change to provide an iconName other than 'Cancel'.

[2021-07-02 07:29] jurokapsiar commented on #18797
This is by design - MenuButton is meant to execute an action and it is consumer's responsibility to place focus accordingly depending on what the user would need to interact with after the action has been executed.

[2021-07-02 07:29] #18797 closed

[2021-07-02 07:32] ling1726 commented on #18801
Can't repro this error after I:
* Cloned fresh repo
* `yarn`
* `yarn build --to @fluentui/react-examples`

[2021-07-02 07:59] hetanthakkar1 commented on #18801
@ling1726 I get an error running yarn scub
![image](https://user-images.githubusercontent.com/38756320/124241535-76578c80-db39-11eb-891b-f5813cd00857.png)

[2021-07-02 08:07] #18209 closed

[2021-07-02 08:42] #18793 closed

[2021-07-02 08:45] ling1726 commented on #18801
@hetanthakkar1 `git clean -fdx` is probably a better option. that `scrub` command is a bit of legacy and I think @Hotell  and I even considered removing it at some point

[2021-07-02 08:46] hetanthakkar1 commented on #18801
I am trying that

[2021-07-02 09:45] layershifter commented on #18801
Build passes on fresh clone (on WSL) ✅

[code]

[code]

---

Build fails on existing repo (on Windows) ❌

[code]

[code]

[2021-07-02 09:54] nancy2681 commented on #18801
I am getting this error when i execute yarn build --to @fluentui/react-examples
![image](https://user-images.githubusercontent.com/74231481/124256911-72cc0180-db49-11eb-9275-8cc07f3875a9.png)

[2021-07-02 10:08] layershifter commented on #18801
Please ensure that your branch is up to date, this file is not present in `master` anymore: https://github.com/microsoft/fluentui/tree/master/packages/make-styles/src/runtime/utils

[2021-07-02 10:19] hetanthakkar1 commented on #18801
@layershifter Is there a way to make it work on windows?

[2021-07-02 10:20] hetanthakkar1 commented on #18801
Actually I have solved an issue and I cant submit that issue before ensuring that this command runs perfectly on my changes so I cant file a PR that's why I am troubling you guys

[2021-07-02 10:24] layershifter commented on #18801
Build fails on fresh clone (on Windows) ❌

[code]

I will create a PR to disable `@linaria/shaker` and will create a bug report.

[2021-07-02 10:25] hetanthakkar1 commented on #18801
Yep The build fails on the fresh clone. Thanks for acknowledgement

[2021-07-02 10:37] layershifter opened #18810 "Enable back @linaria/shaker"
We integrated `@linaria/shaker` to archive better performance and some issues related to non-runtime code. However, as was reported (#18801) it caused build issues on Windows.

`@linaria/shaker` was disabled in #18809, but we should enable it back once the problem will be solved in the package.

- [x] report the issue in Linaria repo, https://github.com/callstack/linaria/issues/796

[2021-07-02 10:39] layershifter commented on #18801
PR that disables `@linaria/shaker` #18809.

@hetanthakkar1 once it will be merged to `master`, you will need to pull latest changes and build will pass:

[code]

[2021-07-02 10:47] hetanthakkar1 commented on #18801
@layershifter Thank you so much! Waiting for merge

[2021-07-02 10:49] shujathkhan commented on #14199
Thanks @JustSlone I am ready with a PR, I wanted to confirm whether this change would also be made towards the PeoplePicker component and also, whether the Tag Picker and the People Picker have a story describing this prop ?

[2021-07-02 11:00] #7327 closed

[2021-07-02 11:17] gouttierre commented on #18436
@Renuka8796 - thanks for filing this issue with us and providing background context.

@ling1726 -  Would you be able to confirm if this is a regression, or if this behavior is an issue?

[2021-07-02 11:19] ling1726 commented on #18682
Yeah, I will find some time during my shield rotation to make the IE11 support official (RFC)

[2021-07-02 11:23] gouttierre commented on #18438
@Prasanthnb78 -  thanks for filing this request.

I’ve flagged this as "requires design" but it’s low on our priority list as we’re likely not going to get to it for a while as we’re currently focused on larger coherence work items and enhancements to our performance. However, if you have a proposal on the solution design and would like to contribute please do so and submit a PR for our team to re

[2021-07-02 11:26] gouttierre commented on #18448
@Jacqueline-ms - thank you for filing this issue and showing willingness to contribute to the solution.

@ling1726 -  Would you be able to confirm if this is a regression, or if this behavior is an issue? Depending on the outcome of your investigations could guide @Jacqueline-ms on the PR? Thanks in advance.

cc @miroslavstastny -- (storybook)