[2018-05-18 02:00] IASamoylov commented on #4903
@oengusmacinog  Yes, you right. But i'm say about another case. I'm expected behavior of version 5.97.0

[5.96.0](https://jsfiddle.net/Lo26dkfm/1)

| User action                   | Behavior of component     |
|-------------------------------|---------------------------|
| look to input                 | Error message is hidden   |
| typing incorrect value        | Error message is hidden   |
| in

[2018-05-18 05:48] AkshanshSrivastava03 commented on #4191
@KevinTCoughlin The code pen which you have attached has the repro. After radio button focus, tab should take me to the close button of the panel and not to the address bar.
Get the focus on radion button "a", then press tab the focus goes to address bar (which is incorrect behavior). If you select "b", then the focus remains to move inside panel only (which is correct behavior)

[2018-05-18 06:58] AkshanshSrivastava03 opened #4912 "Fabric Panel focus order is improper with choice group in the panel"
### Bug Report

- __Package version(s)__: 5.55.1002
- __Browser and OS versions__: Chrome

#### Describe the issue:
Panel focus order is improper when choice group is rendered within the Panel.

#### Actual behavior:
Suppose you have choice group with options "a" and "b" in the panel.

The focus first goes to cross button of the panel, then the choice group option "a", then tabbing will make you f

[2018-05-18 08:42] petercutting commented on #4650
I dont need examples of the API call but I do need to know where to put the
data that comes back from the API call. AFAICS it s not documented. Can you
point me to the documentation that I am not seeing

On Thu, 17 May 2018 at 22:05, Brian Garland <notifications@github.com>
wrote:

--
Peter Cutting
work    +46 40 105858 (ring this number)
work    +46 705 505806 (SMS)
private +46 708 565056 (not cu

[2018-05-18 08:58] HeToC commented on #3010
up

[2018-05-18 11:26] jameslaquinta90 opened #4913 "Custom icon fonts"
#### Describe the issue:

I am creating a web app which is not related to any Microsoft products, so as I understand, I cannot use the Office UI Fabric icon fonts (https://developer.microsoft.com/en-us/fabric#/styles/icons). I think its awesome that you've made Selawik available as an easy replacement for Segoe UI, and I am wondering if there is also an easy way to replace the icon fonts with some

[2018-05-18 12:16] enriquin commented on #4887
A question: Why collapse the left items first? I think that the right ones are less important. I mean, it's ok to make all buttons icon only, but the ones in the right should be the first to overflow. What do you think about it?

It would be great if we could adjust something like "button priority" to stablish an order to collapse the buttons. Maybe is a bit "sci-fi" at the moment.

Also in the ca

[2018-05-18 15:06] betrue-final-final commented on #4887
We must be missing each others meanings. Did you read my previous reply? Those are two sets of commands.

Part of the reason is that we don't want the view commands to go away because that controls so much of the content viewing.

[2018-05-18 16:36] enriquin commented on #4887
So, the left ones are more "items oriented" and the left ones more "view oriented", right?

[2018-05-18 16:45] micahgodbolt commented on #1383
This appears to be complete

![image](https://user-images.githubusercontent.com/1434956/40247117-2ff69d22-5a80-11e8-9e61-309742c50829.png)

Feel free to reopen if the current design doesn't meet your needs.

[2018-05-18 16:45] #1383 closed

[2018-05-18 16:46] enriquin commented on #4887
Oops I accidentally closed the issue and reopened it later!

@betrue-final-final I got it thanks :), I only stated that _in my opinion_ the view commands should be the first ones to go to a overflow menu (the menu with the 3 dots) to save screen real state. I think the users will feel lost if when they access a listing using a mobile device they can see how to set the order of the items, or change

[2018-05-18 16:48] micahgodbolt commented on #1458
we currently support the following
[code]

Looks like this one can be closed up

[2018-05-18 16:48] #1458 closed

[2018-05-18 16:48] betrue-final-final commented on #4887
Actually the Create new should almost always be the first item.

[2018-05-18 17:52] daweffe opened #4915 "[DetailsList][Accessibility] aria-rowindex property is zero-based, which is not supported"
### Bug Report

- __Package version(s)__: 5.54.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: wasabi

#### Describe the issue:

The details list rows have the aria-rowindex property filled out with 0-based indices. According to the WAI-ARIA spec:

Authors MUST set the value

[2018-05-18 18:07] #1280 closed

[2018-05-18 18:07] #1301 closed

[2018-05-18 18:07] #1728 closed

[2018-05-18 18:07] #1230 closed

[2018-05-18 18:07] #2195 closed

[2018-05-18 18:07] #2818 closed

[2018-05-18 18:07] #2038 closed

[2018-05-18 18:07] #1259 closed

[2018-05-18 18:07] #1258 closed

[2018-05-18 18:07] #1366 closed

[2018-05-18 18:07] #1400 closed

[2018-05-18 18:07] #1382 closed

[2018-05-18 18:07] #1421 closed

[2018-05-18 18:07] #1436 closed

[2018-05-18 18:07] #1432 closed

[2018-05-18 18:07] #1473 closed

[2018-05-18 18:07] #1536 closed

[2018-05-18 18:07] #1549 closed

[2018-05-18 18:07] #1575 closed

[2018-05-18 18:07] #1522 closed

[2018-05-18 18:24] j-te opened #4916 "DatePicker does not allow for the timezone offset"
### ~~Bug Report~~ Issue Report

- __Package version(s)__: 5.103.0
- __Browser and OS versions__: Chrome 65.0

#### Describe the issue:

This outlines a potential issue of the default value format.

I believe the datetime value returned should have the correct regional offset applied. This is because js/moment date functions will convert to an incorrect date (misleading).

Of course it should be e

[2018-05-18 18:30] sadomovalex opened #4917 "SearchBox's clear icon doesn't work when input has a focus"
### Bug Report

- __Package version(s)__: 5.21.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

#### Describe the issue:

When input element of SearhcBox has focus onClear event is not triggered. As result SearchBox is not cleared. Here is the possible reason of this behavior:
when focus is not in inp

[2018-05-18 18:33] JasonGore commented on #4715
It turns out this is a more complicated issue requiring a refactor due to IChoiceGroupOption  "output" props labelId, checked, and id which are documented as being maintained by the component. Props should be inputs to components only and any required outputs should be passed through prop callbacks.

Since this is a more complicated change I will create a new issue and close this one.

[2018-05-18 18:33] #4715 closed

[2018-05-18 18:34] lynamemi commented on #4285
I have a PR out for this fix - #4837 . Waiting for the conversion of CG to js styling to complete before making further progress.

[2018-05-18 18:42] JasonGore opened #4918 "ChoiceGroup has "output" props"
### Bug Report

- __Package version(s)__: 5.106.1
- __Browser and OS versions__: n/a

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
Yes

Requested priority: (Blocking, High, Normal, Low)
Normal

Products/sites affected: (if applicable)

#### Describe the issue:

IChoiceGroupOption (and IChoiceGroupOptionProps as of #4852)

[2018-05-18 19:07] #1685 closed

[2018-05-18 19:07] #1688 closed

[2018-05-18 19:07] #1677 closed

[2018-05-18 19:07] #1723 closed

[2018-05-18 19:07] #1215 closed

[2018-05-18 19:07] #1790 closed

[2018-05-18 19:07] #1789 closed

[2018-05-18 19:07] #1794 closed

[2018-05-18 19:07] #1637 closed

[2018-05-18 19:07] #1856 closed

[2018-05-18 19:07] #1895 closed

[2018-05-18 19:07] #1896 closed

[2018-05-18 19:07] #1889 closed

[2018-05-18 19:07] #1882 closed

[2018-05-18 19:07] #1252 closed

[2018-05-18 19:07] #1253 closed

[2018-05-18 19:07] #1294 closed

[2018-05-18 19:07] #1871 closed

[2018-05-18 19:07] #1917 closed

[2018-05-18 19:07] #1957 closed

[2018-05-18 19:07] #1965 closed

[2018-05-18 19:07] #1963 closed

[2018-05-18 19:07] #2032 closed

[2018-05-18 19:07] #2016 closed

[2018-05-18 19:07] #1862 closed

[2018-05-18 19:07] #2057 closed

[2018-05-18 19:07] #2039 closed

[2018-05-18 19:07] #2027 closed

[2018-05-18 19:07] #2021 closed

[2018-05-18 19:07] #2074 closed

[2018-05-18 20:07] #2144 closed

[2018-05-18 20:07] #2155 closed

[2018-05-18 20:07] #2169 closed

[2018-05-18 20:07] #2165 closed

[2018-05-18 20:07] #2084 closed

[2018-05-18 20:07] #2166 closed

[2018-05-18 20:07] #2134 closed

[2018-05-18 20:07] #2107 closed

[2018-05-18 20:07] #2215 closed

[2018-05-18 20:07] #2121 closed

[2018-05-18 20:07] #2225 closed

[2018-05-18 20:07] #2242 closed

[2018-05-18 20:07] #2188 closed

[2018-05-18 20:07] #2263 closed

[2018-05-18 20:07] #2274 closed

[2018-05-18 20:07] #2287 closed

[2018-05-18 20:07] #1814 closed

[2018-05-18 20:07] #2308 closed

[2018-05-18 20:07] #2300 closed

[2018-05-18 20:07] #1621 closed

[2018-05-18 20:07] #2113 closed

[2018-05-18 20:07] #2381 closed

[2018-05-18 20:07] #2448 closed

[2018-05-18 20:07] #2458 closed

[2018-05-18 20:07] #2326 closed

[2018-05-18 20:07] #2285 closed

[2018-05-18 20:07] #2487 closed

[2018-05-18 20:07] #2303 closed

[2018-05-18 20:07] #2485 closed

[2018-05-18 20:26] JasonGore commented on #4915
This was resolved by #4515 which is merged into [v5.82.0.](https://github.com/OfficeDev/office-ui-fabric-react/releases/tag/office-ui-fabric-react_v5.82.0)

[2018-05-18 20:26] #4915 closed

[2018-05-18 20:56] micahgodbolt commented on #3308
going to put this off until 6.0 release. We need to decide how we want to style sub components with mixed state. There's also a distinct possibility redoing the styles means making a brand new button. There's SO much debt to resolve. A new button would keep the old broken-but-working button around, while we were able to create something new internally.

[2018-05-18 21:01] nali opened #4920 "backgroundSize property missing from the IRawStyleBase interface"
### Bug Report

- __Package version(s)__: 5.106.1

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: OWA

#### Describe the issue:

[`backgroundSize`](https://developer.mozilla.org/en-US/docs/Web/CSS/background-size) is missing from the [IRawStyleBase type definition](https://git

[2018-05-18 21:07] #2473 closed

[2018-05-18 21:07] #2472 closed

[2018-05-18 21:07] #2534 closed

[2018-05-18 21:07] #2504 closed

[2018-05-18 21:07] #2544 closed

[2018-05-18 21:07] #2555 closed

[2018-05-18 21:07] #2566 closed

[2018-05-18 21:07] #2645 closed

[2018-05-18 21:07] #2484 closed

[2018-05-18 21:07] #2685 closed

[2018-05-18 21:07] #2673 closed

[2018-05-18 21:07] #2671 closed

[2018-05-18 21:07] #2665 closed

[2018-05-18 21:07] #2633 closed

[2018-05-18 21:07] #2628 closed

[2018-05-18 21:07] #2782 closed

[2018-05-18 21:07] #2791 closed

[2018-05-18 21:07] #2796 closed

[2018-05-18 21:07] #2882 closed

[2018-05-18 21:07] #2436 closed

[2018-05-18 21:07] #2947 closed

[2018-05-18 21:07] #2256 closed

[2018-05-18 21:07] #2740 closed

[2018-05-18 21:07] #2844 closed

[2018-05-18 21:07] #2987 closed

[2018-05-18 21:07] #2921 closed

[2018-05-18 21:07] #2864 closed

[2018-05-18 21:07] #2797 closed

[2018-05-18 21:07] #2924 closed

[2018-05-18 21:30] oengusmacinog commented on #4650
Again, we don't have any examples of API interfacing specifically, so you are not missing it.  Fabric components are the UI layer only, so there is a **Callout** component that could hold your live search suggestions using whatever elements you like inside the
[code]
There are no restrictions on how you can display the inner content, and you can trigger said Callout using the onChange prop of the

[2018-05-18 21:46] petercutting commented on #4650
Hi
thanks for the info. I find the documentation very confusing here. I go to
the SearchBox doc and read:-

"As the user enters a query string, they are provided with a dropdown of
autocomplete suggestions or disambiguation options."

So I naturally expect SearchBox has this functionality. Turns out I am
wrong. I have to combine SearchBox with Callout. The SearchBox doc does not
mention that I nee

[2018-05-18 22:07] #1659 closed

[2018-05-18 22:07] #1225 closed

[2018-05-18 22:07] #1623 closed

[2018-05-18 22:07] #2178 closed

[2018-05-18 22:07] #1407 closed

[2018-05-18 22:07] #798 closed

[2018-05-18 22:07] #1800 closed

[2018-05-18 22:07] #1911 closed

[2018-05-18 22:07] #1598 closed

[2018-05-18 22:07] #1609 closed

[2018-05-18 22:07] #1604 closed

[2018-05-18 22:07] #1602 closed

[2018-05-18 22:07] #1600 closed

[2018-05-18 22:07] #1599 closed

[2018-05-18 22:07] #2064 closed

[2018-05-18 22:07] #2434 closed

[2018-05-18 22:07] #2457 closed

[2018-05-18 22:07] #2554 closed

[2018-05-18 22:07] #1117 closed

[2018-05-18 22:07] #1200 closed

[2018-05-18 22:07] #1203 closed

[2018-05-18 22:07] #1426 closed

[2018-05-18 22:07] #2150 closed

[2018-05-18 22:07] #2506 closed

[2018-05-18 22:07] #989 closed

[2018-05-18 22:07] #1275 closed

[2018-05-18 22:07] #993 closed

[2018-05-18 22:07] #1262 closed

[2018-05-18 22:07] #393 closed

[2018-05-18 22:12] arunarokk commented on #4870
@JasonGore ,
 https://developer.microsoft.com/en-us/fabric#/components/detailslist   if you verify first detailslist in this link with narrator on, instead of using tab if you use CapsLock + right arrow , the focus goes to  div of the Name column header where the aria-sort attribute is defined, narrator announcing the sort order ascending / descending. I guess we need to correct the tab index here

[2018-05-18 22:16] micahgodbolt commented on #4920
give me a shout if you want a hand with this PR.

[2018-05-18 22:30] micahgodbolt commented on #4917
can you try this with a more recent version of Fabric? I don't seem to have any problems in this codepen (unless you can explain repro steps)

https://codepen.io/micahgodbolt/pen/GQpPGx

[2018-05-18 22:30] oengusmacinog commented on #4650
@petercutting that is a good point.  That whole section I can tell was meant to be under best practices for design implementation.  I will correct that. Thanks for pointing that out.

[2018-05-18 22:33] micahgodbolt commented on #4913
@Jahnp this would be a cool demo if possible

[2018-05-18 22:54] #4650 closed

[2018-05-18 22:56] Jahnp commented on #4659
Closing the loop here as this has been resolved in #4872. See [here](https://github.com/OfficeDev/office-ui-fabric-react/pull/4872/files#diff-8114584ae8cbf6d2d4f10b168284dabaL128). We added an [alias for the old OneDrive icon](https://github.com/OfficeDev/office-ui-fabric-react/pull/4872/files#diff-b36e4a5648e686196a6b7cffe458405cR4) to ensure existing users can carry forward unbroken.

[2018-05-18 22:56] #4659 closed

[2018-05-18 23:07] #1344 closed

[2018-05-18 23:07] #1984 closed

[2018-05-18 23:07] #2035 closed

[2018-05-18 23:07] #1928 closed

[2018-05-18 23:07] #2332 closed

[2018-05-18 23:07] #2246 closed

[2018-05-18 23:07] #2333 closed

[2018-05-18 23:07] #2486 closed

[2018-05-18 23:07] #2490 closed

[2018-05-18 23:07] #1324 closed

[2018-05-18 23:07] #2468 closed

[2018-05-18 23:07] #2289 closed

[2018-05-18 23:07] #2311 closed

[2018-05-18 23:07] #2217 closed

[2018-05-18 23:07] #2013 closed

[2018-05-18 23:07] #1547 closed

[2018-05-18 23:07] #1540 closed

[2018-05-18 23:07] #2480 closed

[2018-05-18 23:07] #1932 closed

[2018-05-18 23:07] #2481 closed

[2018-05-18 23:07] #2232 closed

[2018-05-18 23:07] #1720 closed

[2018-05-18 23:07] #2570 closed

[2018-05-18 23:07] #2491 closed

[2018-05-18 23:07] #2536 closed

[2018-05-18 23:07] #2512 closed

[2018-05-18 23:07] #2503 closed

[2018-05-18 23:07] #2579 closed

[2018-05-18 23:07] #2505 closed

[2018-05-18 23:07] #954 closed

[2018-05-18 23:30] jameslaquinta90 commented on #4913
Not knowing how to integrate Font Awesome (or some other icon fonts) with Fabric React is the only thing stopping me and [others](https://stackoverflow.com/questions/45009109/how-can-i-use-font-awesome-icons-in-an-office-ui-fabric-react-icon-button-compon?rq=1) from using this library. A demo/  integration guide would make Fabric React much more approachable.

[2018-05-19 00:32] Jahnp commented on #4913
This is definitely doable. All controls that render icons, such as `CommandBar` or `ContextualMenu`, have an optional `onRenderIcon` that allows you to pass in whatever icon you'd like. I put together a quick CodePen [here](https://codepen.io/jahnp/pen/GdPOQx), but the code looks like this:

Add font awesome's CSS to the `head` (grabbed from [here](https://fontawesome.com/get-started)):
[code]

Th

[2018-05-19 02:17] jameslaquinta90 commented on #4913
Thank you so much for the demo, that was incredibly helpful!

[2018-05-19 02:33] somecoder2019 opened #4925 "How to inline edit and add action icons to nav items?"
I am trying to show a list of files in Nav. I want to provide functionality for users to edit the names and delete the files. I want the below behavior (taken from the nav example https://developer.microsoft.com/en-us/fabric#/components/nav).

Is there an easy way to add the icons (delete icon in this case) when user hovers the mouse over an item? Also want a way to edit the item.

![capture](http

[2018-05-19 14:57] StfBauer opened #4926 "Wrong custom class order on Primary Button and maybe other components too"
### Bug Report

Package version(s): 5.21.0

#### Priorities and help requested (not applicable if asking question):
Are you willing to submit a PR to fix? No
Requested priority: Normal

#### Describe the issue:
I created the following react component:

[code]

The TextField uses the custom className 'n8d-searchbox' to apply some additional properties.
The PrimaryButton uses the custom className 'n

[2018-05-20 02:58] dzearing commented on #4913
I also wanted to provide another way to do this using the default `Icon` registration system. If you're following the fontawesome for react docs, you may be using something like `FontAwesomeIcon`.

FontAwesome requires you use their initialization system to register the icons you want (`fontawesome.library.add`.). If you're already doing this, you can pretty easily also pipe that mapping to the Fa

[2018-05-20 20:31] StfBauer commented on #4440
Well honestly I don't know which component you are referring to:

Like mentioned in the Title I refer to TextField as shown in the documentation:
https://developer.microsoft.com/en-us/fabric#/components/textfield

[2018-05-21 05:42] #4822 closed

[2018-05-21 08:16] sadomovalex commented on #4917
In those version which is used in codepen example the issue is not reproduced: clear button works when input field has a focus. So issue may be closed.

[2018-05-21 08:16] #4917 closed

[2018-05-21 13:58] ascot31 commented on #4789
+1 I am using this with Next.js but having same problem with

Package version:

next 6.0.6
office-ui-fabric-react 5.106.1

[2018-05-21 16:18] JasonGore commented on #4870
That behavior is the same as for the ARIA grid reference I posted above as well as this one here: https://www.w3.org/TR/2017/NOTE-wai-aria-practices-1.1-20171214/examples/grid/dataGrids.html. Even following ARIA spec, the behavior is as you mentioned.

I've gotten confirmation that this is an issue from the Narrator team in that `aria-sort` does not map to a UIA property and, as a result, Narrator

[2018-05-21 16:54] CaptainSadaf commented on #4885
@dzearing thanks, it's working fine now...

[2018-05-21 17:01] CaptainSadaf opened #4928 "Overide default size of Fabric UI components"
I have been working with Fabric UI and i have tried to set the 12px font size to ms-fabric class but it does not applied to all nested components.

I have override the font size of ms-Command Bar by using .ms-CommandBar class and it's working but margin and padding is not working fine.
Do i need to copy all fabric css classes and then override all nested level classes or is any other optimal solut

[2018-05-21 18:34] #3691 closed

[2018-05-21 19:49] #4888 closed

[2018-05-21 19:54] cliffkoh commented on #4926
This might be fixed in 6.0 - but Jason is confirming. @micahgodbolt for FYI.

[2018-05-21 21:13] JasonGore commented on #2786
ARIA has an [`aria-sort`](https://www.w3.org/TR/wai-aria-1.1/#aria-sort) property defined for this purpose. DetailsList makes use of this property and has for some time.

[2018-05-21 21:14] JasonGore commented on #2786
It's not clear how much of this issue is related to Accessibility vs. UI concerns but I do believe this addresses the Accessibility portion. If there is a UI concern I think the best thing to do at this point is create a new issue.

[2018-05-21 21:14] #2786 closed

[2018-05-21 21:22] jdrush89 opened #4930 "Breadcrumb: allow FocusZone to be removed through slots"
Feature Request:

I'd like to be able to pass an optional prop into a breadcrumb to allow me to manage focus myself instead of using a FocusZone.  I have items surrounding the breadcrumb I'd like to be able to get to via the arrow keys instead of having to tab into a separate zone.

I would be happy to make this change if it sounds like a good suggestion.  I'm currently blocked by this.

[2018-05-21 23:29] rakeshmasabattula opened #4933 "Calendar Fabric control doesn't let u pick date in a month, it defaults the current date for the selected month"
### Bug Report

- __Package version(s)__: (fill this out)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: High

Products/sites affected: OWA React

#### Describe the issue:
In Calendar fabric control, when I click on the month in month picker mode, it selects the date instead of showing the month view o

[2018-05-22 10:32] adimittal91 opened #4936 "Close button for the Message Bar is not visible properly in the High Contrast Black mode."
### Bug Report

- __Package version(s)__: 5.76.0
- __Browser and OS versions__:
OS Version: 1803 (Build 17666.1000)
Browser: Internet Explorer 11.1000.17666.0, Edge 42.17666.1000.0
AT: High Contrast Black

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)
Normal

Products/site

[2018-05-22 10:51] anjali2408 opened #4937 "Navigation through Tab key does not go to to disabled UI controls"
### Bug Report

- __Package version(s)__: 5.76.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable) Power BI Visio Visual

#### Describe the issue:

Navigation through Tab key does not go to to disabled UI controls.

#### Actual

[2018-05-22 11:00] ssingh28 opened #4938 "ChoiceGroup: Focus order in Fabric Panel is not working with Narrator on"
- __Package version(s)__:
microsoft/sp-core-library: ~1.4.1
  office-ui-fabric-react: ^5.86.0
        react:^15.6.2
react-dom: ^15.6.2
- __Browser and OS versions__: Win 10, Microsoft Edge version 41.16299.402.0

Requested priority: (Blocking, High, Normal, Low) : High

Products/sites affected: (if applicable)

#### Describe the issue:
If i keep the narrator running and try to shift focus between

[2018-05-22 11:11] ssingh28 opened #4939 "Developer tools in chrome gets hanged while debugging for dropdown on panel"
### Bug Report
microsoft/sp-core-library: ~1.4.1
  office-ui-fabric-react: ^5.86.0
        react:^15.6.2
react-dom: ^15.6.2
- __Browser and OS versions__: Win 10, Chrome Version 66.0.3359.181 (Official Build) (64-bit)

Requested priority: (Blocking, High, Normal, Low) : High

#### Describe the issue:

If i have a drop down on panel and i open developer tools in chrome and set a debug point in rend

[2018-05-22 11:15] anjali2408 opened #4940 "ColorPicker: No support for adding aria text to the text boxes"
### Bug Report

- __Package version(s)__: 5.76.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable) Power BI Visio Visual

#### Describe the issue:

Colorpicker: No support for adding aria text to the color text boxes. The user

[2018-05-22 11:31] anjali2408 opened #4941 "Callout: Focus does not go to the complete callout but only goes to the smaller controls inside the callout eg: button, links"
### Bug Report

- __Package version(s)__: 5.76.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable) Power BI Visio Visual

#### Describe the issue:

Callout: Focus does not go to the complete callout but only goes to the smaller

[2018-05-22 11:44] fexdev opened #4942 "Dropdown: Doesn´t open in top direction if not enough space"
### Bug Report

- __Package version(s)__: 5.74.0
- __Browser and OS versions__: Windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Low

#### Describe the issue:

If there is no space underneath the dropdown, the callout gets opened in top direction, which is correct. If however there is a little bit sp

[2018-05-22 11:58] kmrrakesh opened #4943 "ARIA attribute "aria-checked", in contextual menu is getting attached, causing keros issue"
**Bug Report**
**Describe the issue :**
ARIA attribute, in contextual menu is getting attached, as aria-checked="false" for button tag

It is happening in the latest fabric ui, just click at "chevron"(for asc/desc) icon at DetailsList column, and run keros to replicate it.
It complains as "Keros error: Elements must only use allowed ARIA attributes"

**Actual behavior:**
Contextual menu list item

[2018-05-22 12:30] kmrrakesh opened #4944 "Checkbox: ARIA attribute "aria-describedby" is getting attached without any reference value in 5.x"
Bug Report
Describe the issue :
ARIA attribute, "aria-describedby" for checkbox is getting attached, without any reference value

It is happening in the latest fabric ui, for all chekbox with/without associated label, and run keros to replicate it.
It complains as "ARIA attributes must conform to valid values"

Actual behavior:
Checkbox is associating an attribute as "aria-describedby" without val

[2018-05-22 12:39] lovakumar opened #4945 "Keyboard focus is overlapping with content of the link"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__:
OS: Windows 10 RS3
OS version: build 16299.371
Browser: Microsoft edge browser
Edge version: Microsoft Edge 41.16299.371.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: (Normal)

Products/sites affected: (if applicable

[2018-05-22 13:36] Lovakumar opened #4947 "DetailsList: make column resizability keyboard accessible"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__:
OS: Windows 10 RS3
OS version: build 16299.371
Browser: Microsoft edge browser, IE11 browser
Edge version: Microsoft Edge 41.16299.371.0
Firefox version: 60.0(32-bit)
VSTS Version: 20180510T050959/_cssbundles/Default
                       20180512T183414

#### Priorities and help requested (not applicable if

[2018-05-22 15:00] betrue-final-final commented on #4937
@dzearing, @jspurlin, @Jahnp, @aditima, @michaelangotti this relates to our current discussion. I'll set up a meeting next week with Peter so we can decide on the course of action.

[2018-05-22 15:40] #4920 closed

[2018-05-22 15:46] adimittal91 commented on #4936
![high contrast closebutton](https://user-images.githubusercontent.com/13768392/40373817-5db9695a-5e05-11e8-99e9-a5dcb47f548e.png)

[2018-05-22 16:15] betrue-final-final commented on #4936
Thanks! @lynamemi, I suspect that the close X needs some love. It should be white.

[2018-05-22 16:32] Netbah commented on #3010
up

[2018-05-22 17:30] jspurlin commented on #4937
@betrue-final-final I believe @dzearing and is currently working with an engineer on this for buttons.

[2018-05-22 17:53] joschect commented on #3625
This was fixed when an aria label was added to the tag picker item

[2018-05-22 17:53] #3625 closed

[2018-05-22 18:39] ericajlin opened #4951 "CommandButton: Incorrect State OFF defined"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__:
 OS: Win 10 RS3 1709
Build: OS Build 16299.248
Platform: Edge + Narrator

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: (Normal)

Products/sites affected: (if applicable)

#### Describe the issue:
Incorrect state 'OFF'

[2018-05-22 19:06] JasonGore commented on #4926
The ordering of the class names shouldn't matter. At the same level of specificity, it's the order of styling that matters.

To try and clear this up a bit more, I've created a [Codepen ](https://codepen.io/jasongore/pen/MGxgVr) which shows button styling in the CSS. Since `background-color` is specified in the default theme, increased specificity is required to override it. However, `box-shadow`

[2018-05-22 21:42] natalieethell commented on #3667
Hey Dylan, thanks so much for submitting this issue! A question for you. So right now, the ChoiceGroup seems to have the following behavior:

1. If we already have an option selected.
I can tab (or shift + tab) through the page, which lands me on the selected option. From there, I can use the arrow keys to shift focus and select an option at the same time.

2. If no option is selected yet.
I can t

[2018-05-22 21:50] dylankil commented on #3667
We’d prefer that if an unselected option is focused the enter key should select it, using the arrow keys in this scenario adds unnecessary clicks for People With Disabilities.

From: natalieethell <notifications@github.com>
Sent: Tuesday, May 22, 2018 2:43 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Dylan Kilgore <dylankil@microsoft.com>; Author <author@

[2018-05-22 23:49] phkuo opened #4955 "MarqueeSelection test snapshot is too verbose and thus fragile"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No: no time to investigate right now, not familiar with the APIs here, someone more familiar could probably fix it in a tenth of the time

Requested priority: Normal

#### Describe the issue:

The MarqueeSelection test is too fragile.

https://github.com/OfficeDev/office-ui-fabric-react/

[2018-05-23 04:45] #3872 closed

[2018-05-23 07:07] StfBauer commented on #4926
Thank you @JasonGore somehow it works now. When I created the issue the specificity of the class always got overwritten by the last class in the browser and the auto-generated `css-108` from the screenshot above was empty.
Now all CSS declarations get correctly consolidate in this class. Seems to be a loading issue more than an Office UI Fabric React issue.

I will keep an eye on this behaviour.

[2018-05-23 07:07] #4926 closed

[2018-05-23 07:33] CaptainSadaf commented on #4928
@dzearing please would you like to help me ?

[2018-05-23 09:39] qianghuang94 opened #4960 "Let BaseComponent._Async.throttle Become Cancelable like lodash did"
Hi Team,
Recently i am try to use the throttle function that provided by this._async inside BaseComponent, the [code link](
https://github.com/OfficeDev/office-ui-fabric-react/blob/3d06688daa90a5f2b037cef48539ccc3b9176a15/packages/utilities/src/Async.ts#L251)

Is there any plan to add cancelable to the throttle function like lodash did?

Thanks,
Qiang

[2018-05-23 13:29] pawelmod opened #4961 "reactxp and office-ui-fabric-react ?"
Hello,
Is [reactxp](https://github.com/Microsoft/reactxp/issues/new) compatible with [office-ui-fabric-react](https://github.com/OfficeDev/office-ui-fabric-react#advanced-usage)?
In other words: do we have out-of-the-box Android and iOS views for mobile and "office look" for Windows / Web?

If not: could it be **future request** to have it compatible?

[2018-05-23 16:44] brendenseidel commented on #54
The above workaround does the job. This is a littler clearer:

[code]

[2018-05-23 17:13] rpsenski commented on #4778
I'm working on submitting a pull request for this bug. I'll add @joschect

[2018-05-23 18:55] lambertwang commented on #4883
After testing, it looks like the behavior is inconsistent across browsers.
![multiline anchor element](https://user-images.githubusercontent.com/6496608/40442276-fee18c64-5e77-11e8-8787-51d8a4638b41.png)
On IE11 and Chrome, the link outline is broken in the same way. On Firefox, the outline no longer obscures text, but it still doesn't work quite as intended.

One fix we could try is to add `displ

[2018-05-23 19:47] suztocco opened #4966 "Context menu lacking customizable tooltips"
### Bug Report

- __Package version(s)__: Current
- __Browser and OS versions__:

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? NO

Requested priority: LOW

Products/sites affected: CALENDAR/MAIL

#### Describe the issue:

I was told by the fabric designers that we should only show a tooltip "if" text is truncated and we needed a wa

[2018-05-23 19:53] somecoder2019 opened #4967 "Changing command bar color"
Hi,

How do I change the command bar color from default?

I am following the documentation for command bar. I do not want to change the theme overall (I saw some examples for this). I want to render the main command bar in blue color and white text (like the outlook email for example)

I can simply add override colors, but the text color seems to not change accordingly.

https://developer.microsof

[2018-05-23 20:45] michaelangotti commented on #4480
@Jahnp @phkuo Just getting this back on your radars so we can (hopefully) resolve.

[2018-05-23 20:52] BrendanMcK commented on #4883
Changing display to inline-block though ends up looking really ugly from a design POV. I'm not at all convinced that this is the correct fix.

My take is that there may really be two different use-cases here - inline-links, and non-inline links - and they may need different approaches. Inline links *should* wrap - but will need some other form of focus outline since the positioned overlay block wo

[2018-05-23 21:32] michaelangotti commented on #4808
@jimlamb Can you provide a little be more background on this request? A use case or example would be helpful. Thanks!

[2018-05-23 21:34] michaelangotti commented on #4750
@Cazeu64 Did updating the version solve your issue? If so, we'd like to close this one.

[2018-05-23 21:37] michaelangotti commented on #4735
@blandine Did the calendar component solve your issue? If so, we'd like to close this one for now.

[2018-05-23 21:41] michaelangotti commented on #4734
@dzearing @Jahnp Thoughts on this one?

[2018-05-23 21:45] michaelangotti commented on #4689
@KevinTCoughlin Jiggling the chain on this one so we can keep things moving along. :) Can you respond to @AsishP 's query above? Thanks!

[2018-05-23 21:48] michaelangotti commented on #4684
Hi @thebetterjort. Is this still an issue? We haven't seen any response or additional information from you. We will close unless we hear from you in the next few days. Thanks.

[2018-05-23 21:50] michaelangotti commented on #4674
@OskarSol Checking in on this one since it's been almost a month. Can you provide a codepen/example on the above?

[2018-05-23 21:52] thebetterjort commented on #4684
Well I’m trying to render a button as a string and nextJS just errors.

[2018-05-23 22:01] michaelangotti commented on #4453
@sidroopdaska Checking in on this one. Is there a solution or can you please open a PR for it? Thanks!

[2018-05-23 22:07] michaelangotti commented on #4437
@angallison @dzearing Shaking the tree on this one. What are the next steps?

[2018-05-23 22:11] michaelangotti commented on #4397
@lorejoh12 Can you look into this one?

[2018-05-23 22:13] michaelangotti commented on #4396
@ThomasMichon Can comment on the above query? Thanks!

[2018-05-23 22:19] michaelangotti commented on #4024
@Khushveerkaur Is this still an issue? If so, please provide a repro so we can investigate further. If not, we will close this in a few days since there hasn't been any response. Thanks!

[2018-05-23 22:20] michaelangotti commented on #4003
@martellaj Checking in on this one. Are you still willing to open a PR?

[2018-05-23 22:25] natalieethell commented on #3669
Hey Dylan! The current behavior of the Callout is to dismiss on resize. In this case, rotating is the same idea, as the window resizes in that scenario. Thus, I think this issue would be a question of design. @betrue-final-final what do you think? Should we maintain the current behavior or maybe overhaul the dismiss logic?

[2018-05-23 22:31] michaelangotti commented on #3438
@veloiya Poking this issue one more time. Is this still needed? If not, we will close in a few days since there hasn't been any activity. Thanks.

[2018-05-23 22:33] michaelangotti commented on #3418
@salehaHussain @mdahamiwal There hasn't been any momentum on this one. Is this still needed? Was the Edge team able to provide additional info/fix?

[2018-05-23 22:35] michaelangotti commented on #3401
@angallison Can you look into or comment on this one?

[2018-05-23 22:36] michaelangotti commented on #3191
@MirandaGe Is this still an issue?

[2018-05-23 22:39] michaelangotti commented on #3024
@utrolig Has this been resolved or do we need additional investigation?

[2018-05-23 23:17] dylankil commented on #3669
Hi, Natalie.

We’re using the Callout for the FRE of the Immersive Reader application, with this UX as a consideration it’s probably bad to dismiss on resize?

From: natalieethell <notifications@github.com>
Sent: Wednesday, May 23, 2018 3:26 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Dylan Kilgore <dylankil@microsoft.com>; Author <author@noreply.github.

[2018-05-24 00:10] JasonGore commented on #4918
Resolved in [v6.0.0-beta6](https://github.com/OfficeDev/office-ui-fabric-react/releases/tag/office-ui-fabric-react_v6.0.0-beta6).

[2018-05-24 00:10] #4918 closed

[2018-05-24 00:35] jberu624 commented on #4689
@AsishP I pulled your fix and fixed my issue. I'm not really sure what to do next.

[2018-05-24 05:25] AsishP commented on #4689
Thanks @jberu624. Sorry I don't have merge rights. @michaelangotti, can we merge the code or wait for @KevinTCoughlin reply?

[2018-05-24 06:15] twarzo opened #4971 "FocusZone: Issue with role=presentation"
### Bug Report
- __Browser and OS versions__: Firefox

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: VSTS

#### Describe the issue:

I have a react component which includes some labels and input box. There are two modes: read and edit mode. With FF and N

[2018-05-24 07:15] Cazeu64 commented on #4750
Yeah, sorry, I thought I already reply there, but I was wrong. I was using 5.21 versions. Updating the version fixed the issue.

Can be close, thanks !

[2018-05-24 07:15] #4750 closed

[2018-05-24 08:44] Khushveerkaur commented on #4024
@michaelangotti We are using the component: https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.tsx
and on pressing tab inside the list, it never comes out, it keeps looping inside.
If you see the attached image, you will see pressing tab takes you to the first item, then second, third and fourth. After fourth

[2018-05-24 08:56] mdahamiwal commented on #3418
Sorry for the delayed response here. With RS4 windows release there have been improvements in Edge for focus out announcements. We confirmed with the internal a11y testing team and they did sign-off on the current experience. I am closing the issue, please feel free to re-activate if required.

[2018-05-24 08:56] #3418 closed

[2018-05-24 08:57] stianbakken commented on #3024
@michaelangotti This has been resolved. Thank you.

[2018-05-24 15:42] JoshuaKGoldberg opened #4973 "Allow custom sizes of Spinner"
https://developer.microsoft.com/en-us/fabric#/components/spinner

The large size is 28x28px. If you manually change the element's style to custom width and height, it looks fine:

![image](https://user-images.githubusercontent.com/3335181/40495527-b5546b74-5f77-11e8-99b9-bb4d652555e3.png)

What is the recommended way to have a custom size spinner? Is it just passing width & height to `ISpinnerStyl

[2018-05-24 15:58] preetriti opened #4974 "Title from dropdown items are removed"
### Bug Report

- __Package version(s)__: 5.91.0
- __Browser and OS versions__: any

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Blocking

Products/sites affected: LogicApps

#### Describe the issue:

Title text from dropdown items are removed and it blocks us from using very long item names which we used

[2018-05-24 17:37] michaelangotti commented on #3024
@stianbakken Glad to hear! I will close this issue.

[2018-05-24 17:37] #3024 closed

[2018-05-24 17:49] jordandrako commented on #4911
In 6.0 beta, the min bar for Fabric React will be React 16.3, so once that is released stable, we'll update our layers to use React Portals which should be compatible with the new context API.

[2018-05-24 17:54] michaelangotti commented on #4912
Closing this one as it is a dup of #3666

[2018-05-24 17:54] #4912 closed

[2018-05-24 18:08] SpencerLynn commented on #2437
This issue needs to be re-opened, as the PR that fixed this issue was reverted.

[2018-05-24 18:11] michaelangotti commented on #4689
@natalieethell Can you help move this one along in @KevinTCoughlin's absence?

[2018-05-24 18:22] natalieethell commented on #4689
@michaelangotti Definitely. The change looks good on my end. I'll go ahead and merge it.

[2018-05-24 18:23] #4689 closed

[2018-05-24 20:22] suztocco opened #4978 "Split button options not accessible via keyboard"
### Bug Report

- __Package version(s)__: Current
- __Browser and OS versions__:

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Blocking

Products/sites affected: Calendar, People, VSO

#### Describe the issue:

I cannot use the keyboard to access the options for a split button. It puts focus around the entir

[2018-05-24 20:54] angallison commented on #4437
@michaelangotti - It sounds like this is related to the ARIA role and is a code issue and no design is work needed.

[2018-05-24 20:55] rpsenski opened #4979 "BaseButton: checks for text are not consistent between _onRenderTextContents and _onRenderText"
### Bug Report

- __Package version(s)__: 5.110.0
- __Browser and OS versions__: Not relevant

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Low

Products/sites affected: Purely a code maintainability issue

#### Describe the issue:

The branching logic of _onRenderTextContents does not match that of _onRend

[2018-05-24 21:23] satbai opened #4980 "[DetailsList] ariaLabelForSelectAllCheckbox adds an aria-describedby instead of a aria-label - which results to the select all checkbox to not have a name property"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: all

#### Priorities and help requested (not applicable if asking question):
Are you willing to submit a PR to fix? No
Requested priority: Normal

#### Describe the issue:
Adding ariaLabelForSelectAllCheckbox on the DetailsList component will actually add an aria-describedby instead of aria-label, therefore the name pr

[2018-05-24 21:59] betrue-final-final commented on #4024
This is by design and expected behavior for menus since the dawn of Windows. Try it out!

[2018-05-24 21:59] #4024 closed

[2018-05-25 00:49] #4778 closed

[2018-05-25 02:20] BrendanMcK commented on #4883
For what it's worth, the approach we've been using with links in Yammer so far is that for inline text links, we use an inset box shadow to get a thin outline that's consistent across browsers, and which works nicely with wrapping, and avoids the focus clipping that often happens with the default focus on webkit browsers. It also picks up the natural text color, so gets us good contrast. (IIRC, we

[2018-05-25 02:58] BrendanMcK commented on #4883
Another side-effect of using the overlay-style focus on inline links is that it can obscure some of the text at the start/end - see related (issue 4945)[https://github.com/OfficeDev/office-ui-fabric-react/issues/4945]. Box inset works a touch better here.

[2018-05-25 03:12] BrendanMcK commented on #4971
@twarzo  - curious, how are you using the FocusZone? Are you passing in something for the `elementType` prop? `role=presentation` should be harmless when used on `div`, which is the default for this prop. (But I'm then wondering why it's even there in the first place.)

@ThomasMichon  - any idea why it was added here? It looks like this was added back in #90ef0576 - but back then, the element type

[2018-05-25 03:17] BrendanMcK commented on #4936
Note that while it should likely be white in the Black HC theme, the color to use depends on the specific HC theme: so it may need to be a different color in some of the other HC theme modes.

[2018-05-25 03:18] BrendanMcK commented on #4875
I'm seeing similar - and noting that the job title text is also not reflecting the HC selected text color. This is using a repro from the Fabric site:

![image](https://user-images.githubusercontent.com/1754373/40524505-a9bc8040-5f8f-11e8-82e5-25016b8fcc2c.png)

[2018-05-25 05:53] dzearing commented on #4978
@suztocco @jspurlin @betrue-final-final

This is an example of confusion.

@suztocco Per accessibility team suggestions (Jeremy, Ben above can chime in), they have recommended to have one single focus target with alt-down arrow to expand the menu.

[2018-05-25 07:11] AkshanshSrivastava03 opened #4985 "Checkbox accepting null ariaDescribedBy and creating an attribute without value"
#### Describe the issue:
When we pass ariaDescribedBy as null in Checkbox, the renderer renders aria-describedby attr without any value causing Keros failure (Accessibility)

#### Actual behavior:
The renderer renders aria-describedby attr without any value causing Keros failure (Accessibility)

#### Expected behavior:
Control should handle that null pass of ariaDescribedBy should not even create

[2018-05-25 07:54] PooLP opened #4986 "the JSON variables output of the Theme Generator is not ISO with loadTheme palette interface"
### Bug Report

- __Package version(s)__: office-ui-fabric-react : 5.107.0 and office-ui-fabric-core : 9.6.0
- __Browser and OS versions__: All and All

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: (High)

#### Describe the issue:

the JSON variables output of the Theme Generator is not ISO with loadTheme pa

[2018-05-25 08:06] PooLP opened #4987 "The recommended way to use a custom font ?"
Hi,

What's the recommended way to use a custom font ? by React/Typescipt (loadTheme), SASS, another way ?

Thanks.

[2018-05-25 09:45] qazqwertish opened #4988 "TagPicker: onEmptyInputFocus not working in IE"
### **Bug Report**

- Package version(s): ^5.76.0 (Tested also with 5.111.0)
- Browser and OS versions: Internet Explorer 11

**Describe the issue:**

We use the function "onEmptyInputFocus" to show all the possible options when clicking on the input. It works perfect in Chrome but not in IE.

When debugging we see that the function is called, and it returns all the values, but then it gets stuck

[2018-05-25 10:33] ishanisuchak opened #4989 "Build failing with npm install error - ENOENT: no such file or directory, open"
### Bug Report

- __Package version(s)__: 5.101.1
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

Error extracting C:\NPM\Cache\office-ui-fabric-r

[2018-05-25 12:19] daniel-stoll opened #4990 "Callout doesn't close if loaded within iframe and when clicked outside of iframe"
### Bug Report

- __Package version(s)__: ^5.87.0
- __Browser and OS versions__: Firefox 60.0.1 (64-Bit) and Chrome 66.0.3359.181, windows 10

#### Describe the issue:

If a page inside of an iframe uses a callout, the callout doesn't close if clicked outside the iframe.

#### Actual behavior:

see codepen below, open a callout and click outside of the iframe

#### Expected behavior:
In firefox an

[2018-05-25 12:33] betrue-final-final commented on #4936
Thanks @brendanmck, we will use windowtext color for it. "White" was just short hand between @lynamemi and I.

[2018-05-25 12:57] betrue-final-final commented on #4883
@lynamemi?

[2018-05-25 14:41] LizhangX commented on #4989
We have the same error in linux for the exact version.
`15:10:49 npm ERR! Linux 3.10.0-514.2.2.el7.x86_64`
`15:10:49 npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install"`
`15:10:49 npm ERR! node v6.14.2`
`15:10:49 npm ERR! npm  v3.10.10`
`15:10:49 npm ERR! code EREADFILE`
`15:10:49 `
`15:10:49 npm ERR! Error extracting /root/.npm/office-ui-fabric-react/5.101.1/package.tgz archive: EN

[2018-05-25 16:34] JasonGore commented on #4870
I have received acknowledgement from the Narrator team that this is a Narrator bug and have entered a bug for it, so I will close this issue. (Narrator is only promoting sorting order when the element is highlighted, as arunarokk described, which is a Narrator bug.)

[2018-05-25 16:34] #4870 closed

[2018-05-25 16:36] suztocco commented on #4978
@dzearing @jspurlin  @betrue-final-final

I did not know about tthe Alt arrow down command. I just saw this control and tested it and it seemed to "me" non accessible because I assumed I would use the arrow to get to it.

I also saw on the People workload that you "Could" get to the chevron using the arrow
![image](https://user-images.githubusercontent.com/20954039/40555758-fb103332-5ffe-11e8-8ed5

[2018-05-25 16:47] arunarokk commented on #4870
@JasonGore , Thanks for the update, could you please let us know the Narrator bug reference?

[2018-05-25 17:03] suztocco opened #4992 "Combobox checked state applied when checked, or when hovered"
### Bug Report

- __Package version(s)__: Current

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? NO

Requested priority: High

Products/sites affected: CALENDAR

#### Describe the issue:

There should be a visual difference between a selected menu item and a menu item that has been hovered on.

#### Actual behavior:

The "selected"

[2018-05-25 17:08] JasonGore commented on #4870
@arunarokk Who is us? I cannot tell if you work at MS. This is a public forum and the Narrator issue is internal.

[2018-05-25 17:11] betrue-final-final commented on #4978
Alt + Down is a common shortcut to invoke a menu. It also works that way in this Angular example https://www.telerik.com/kendo-angular-ui/components/buttons/splitbutton/

We had a really long discussion around this with a number of accessibility drivers from OXO and around OPG, and decided on this pattern. Note this works like that in the Ribbon as well.

[2018-05-25 17:20] suztocco opened #4993 "Dropdown menu lacking customizable tooltips"
**Bug Report**
**Package version(s):** Current
**Browser and OS versions:**

**Are you willing to submit a PR to fix?** NO

**Requested priority:** LOW

**Products/sites affected:** CALENDAR/MAIL

**Describe the issue:**
I was told by the fabric designers that we should only show a tooltip "if" text is truncated and we needed a way to show full text. Not to show a tooltip on text that is visible w

[2018-05-25 17:36] suztocco commented on #4978
Ok, confusion on my part then. If it is accessible, I am clear to launch it in our product.

From: Ben Truelove <notifications@github.com>
Reply-To: OfficeDev/office-ui-fabric-react <reply@reply.github.com>
Date: Friday, May 25, 2018 at 10:11 AM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Suz Tocco <suzto@microsoft.com>, Mention <mention@noreply.github.com>

[2018-05-25 17:41] jspurlin commented on #4978
// started writing this and stepped away for a few mins, but adding to what @betrue-final-final is saying

@suztocco Alt+DownArrow is a standard way for opening components that have menus (splitButton, contentualMenuButton, comboBox, dropdown, etc...), if you do a quick search you will be able to find a lot of results describing this behavior (including Microsoft, IBM, and many others).

SplitButo

[2018-05-25 17:57] dcowen91 opened #4994 "Cursor location is incorrect for textfields with multiline placeholder in Edge"
### Bug Report

- __Package version(s)__:  5.111.1
- __Browser and OS versions__: Microsoft Edge 42.17134.1.0

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Workplace Analytics

#### Describe the issue:

In Edge Browser, the cursor location when focusing into a multi-line Textfield with multi-line placeholder is incorrect.

#### Actual behavior:

T

[2018-05-25 18:53] suztocco opened #4997 "Split button control not to spec"
### Bug Report

- __Package version(s)__: Not sure but referencing this PR https://github.com/OfficeDev/office-ui-fabric-react/pull/4922

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? NO

Requested priority: NORMAL

Products/sites affected: CALENDAR, PEOPLE, probably others

#### Describe the issue:

The split button does not seem t

[2018-05-25 19:28] BrendanMcK commented on #4936
Given that it's interactive, is WindowText the correct value? This is a button, right?

[2018-05-25 20:05] betrue-final-final commented on #4936
In non-high contrast, the icon is grey, just like the text in the message bar. Therefore, it should be windowText.

[2018-05-25 20:50] dzearing commented on #4978
Thanks guys. Closing the issue.

[2018-05-25 20:50] #4978 closed

[2018-05-25 21:01] dzearing commented on #4993
I already have a PR out for this! :)

[2018-05-25 21:01] dzearing commented on #4993
https://github.com/OfficeDev/office-ui-fabric-react/pull/4983/files

[2018-05-25 21:02] dzearing commented on #4993
#4974 Tracking. Resolving dupe.

[2018-05-25 21:02] #4993 closed

[2018-05-25 21:15] #4480 closed

[2018-05-25 22:55] karthikb87 opened #5002 "Onclick event not invoked for contextual menu item with href"
### Bug Report

- __Package version(s)__: (5.97.0)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes)

Requested priority: (High)

Products/sites affected: (ContextMenu)

#### Describe the issue:

With #4741 , the behavior of the context menu is regressed, If you have both onclick with preventdefault and href of the context menu i

[2018-05-25 23:33] suztocco commented on #4993
Nice, does that affect the Context menus as well?

From: David Zearing <notifications@github.com>
Reply-To: OfficeDev/office-ui-fabric-react <reply@reply.github.com>
Date: Friday, May 25, 2018 at 2:01 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Suz Tocco <suzto@microsoft.com>, Author <author@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-re

[2018-05-26 01:43] brodyberg commented on #1701
Rough, I just belatedly discovered this. Is there something I can do to help?

[2018-05-26 03:47] harshdamaniahd commented on #3373
Does anyone has a sample for collapsing navigation when width is less than 640px

[2018-05-26 05:39] pchandoria opened #5006 "Types extending React.Props have direct dependency on Components causing large bundle size"
### Bug Report

Are you willing to submit a PR to fix? Yes, already submitted

Requested priority: Normal

Products/sites affected: Any consumer using this library might be impacted depending upon usage scenario

#### Describe the issue:

If any component depends merely upon the types exported from fabric, it causes hard dependency on corresponding Component class due to extend React.props<Compone

[2018-05-26 07:56] amithegde opened #5008 "Is there a nuget package?"
We don't use npm for internal projects, instead we use nuget. Is there a nuget package for Fabric React (core and components)?

[2018-05-27 13:44] harshdamaniahd opened #5009 "How can we modify a control's CSS for eg : CommandBar"
I am using CommandBar as global Navigation in SharePoint Modern Site :
I need to customize CSS to meet branding needs
![image](https://user-images.githubusercontent.com/11780473/40586602-ff242fe8-61e1-11e8-993d-2591199605b7.png)

Now if i modify one css it affects the other CommandBar on page on page : For eg I may require to change text color, hover background color etc
![image](https://user-imag

[2018-05-27 18:07] AdrianM20 opened #5010 "How can I change Persona text color"
Hello! I wanted to use the Persona component in my page header so it would be an entry point to a users profile and at the same time show the logged in person but for almost 4 days now, I;m struggling changing the Persona text color. Can anyone tell me how can I do it? I tried assigning CSS classes to the component using className but they only apply to the top level HTML Element containing the Pe

[2018-05-28 04:30] twarzo commented on #4971
@BrendanMcK I'm not using _elementType_ prop.

[2018-05-28 06:52] CaptainSadaf opened #5011 "How to use Selawik which an open source drop-in substitute for Segoe UI."
There is no CDN avaiable of Selawik library so how we can replace it with Segoe and there is no proper documention and npm package available of Selawick.
So how i can apply font family selawick , while i have applied Open Sans which is working because CDN and npm package is available of it but how Selawick could be applied?

[2018-05-28 09:40] b-priyank opened #5012 "Dialog jumps abruptly when content changes dynamically"
### Bug Report

- __Package version(s)__: office-ui-fabric-react v5.111.1
- __Browser and OS versions__: any

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: (Normal)

Products/sites affected: (visualstudio.com)

#### Describe the issue:

We've a case where we want to show some description based on the option

[2018-05-28 11:42] prmittal opened #5013 "[MessageBar][ContrastRatio] Dismiss button for error message bar fails contrast ratio check"
#### Describe the issue:
Error message bar dismiss button is not following contrast ratio guidelines

#### Actual behavior:
![image](https://user-images.githubusercontent.com/11937034/40612959-4154cf7c-629a-11e8-8ea6-b42ef040ecf9.png)

![image](https://user-images.githubusercontent.com/11937034/40612770-76b5ebd4-6299-11e8-994c-a90afc1aae17.png)

#### Expected behavior:

Contrast ratio should be at

[2018-05-28 13:26] SumiranAgg opened #5014 "Focus lost when item disabled in CommandBar"
### Bug Report
OS: Windows 10 RS3
OS version: build 16354.1001
Browser: Microsoft edge browser
Edge version: Microsoft Edge 41.16354.1001.0
Version:20180418T183508

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
No

Requested priority: (Blocking, High, Normal, Low)
Normal

Products/sites affected: (if applicable)
VSTS

####

[2018-05-29 00:40] dzearing commented on #5008
There are no current plans to publish a Nuget package. If there is enough need, we could consider it. But given even React 16 itself is nowhere to be found there, we would have to first address that.

https://www.nuget.org/packages/react.js/
https://www.nuget.org/packages/react

[2018-05-29 00:40] #5008 closed

[2018-05-29 00:46] dzearing commented on #4994
This has nothing to do with UI Fabric. This is an Edge bug.

https://codepen.io/dzearing/pen/dKbaOG?editors=0010

[2018-05-29 03:27] dcowen91 commented on #4994
Ah, you are right. Closing.

[2018-05-29 03:27] #4994 closed

[2018-05-29 09:20] hrc7505 commented on #1370
Any updates regarding `onSearch()`?

[2018-05-29 11:27] hrc7505 opened #5015 "custom panel width alignment issue"
### Bug Report

- __Package version(s)__: ^5.101.2-hotfix.1
- __Browser and OS versions__: Chrome with  66.0.3359.181 having windows 10 Pro

#### Describe the issue:
I have tried the customWidth=500px but when browser width is less then 1024px panel getting aligned to left side. this is not a nice behavior and this is happening because of following media query where `left:auto` is override by `lef

[2018-05-29 12:57] justinmwarner commented on #3931
This is a no-op. It works as expected in the current version and an example is also checked in of it working. Not sure why we couldn't get it working before. Closing.

[2018-05-29 12:57] #3931 closed

[2018-05-29 15:53] betrue-final-final commented on #5013
Good catch. The background changed to work with dark themes as well. We should change this to neutralPrimary.

[2018-05-29 15:53] betrue-final-final commented on #5013
@phkuo, knock on effect of changing the color. Can you fix this?

[2018-05-29 18:49] #5002 closed

[2018-05-29 20:49] oengusmacinog commented on #4903
Hi @IASamoylov.  After talking with our design team, we have decided the new functionality is the best and most consistent UX option.  By default, the **TextField** component will validate when you stop typing so it is a more consistent experience to not clear out the error message until valid input is entered in the field.  If you are choosing to utilize the `validateOnFocusOut` prop to only vali

[2018-05-29 20:49] #4903 closed

[2018-05-29 21:14] billytrend opened #5019 "Changing css display on element containing detailsview causes detailsview not to render"
### Bug Report

- __Package version(s)__: 5.90.0
- __Browser and OS versions__: chrome macOs

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: (if applicable)

#### Describe the issue:

DetailView does not render content if it is in a div which had display: none and is changed t

[2018-05-29 22:14] philipzloh opened #5021 "Toggle: Fabric Example has bad examples for aria metadata; in fact onAriaLabel and offAriaLabel should not even exist"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes
Requested priority: Normal

Products/sites affected:

https://github.com/OfficeDev/office-ui-fabric-react/pull/3421 introduced a bad example of aria-labels in Toggle.

[2018-05-29 22:30] machineloop commented on #1012
We're seeing some similar accessibility issues with PeoplePicker:

- it doesn't announce when a user is selected/added
- doesn't announce when a user is removed/deleted
- doesn't announce when the list gets updated
- doesn't announce when there's no results found.

This is with EDGE+Narrator; seeing similar w/ JAWS+IE11. Should I create a new issue, or are these closely enough related to fall unde

[2018-05-29 23:06] betrue-final-final opened #5025 "Searchbox: Clear button has no label"
Repro:
Launch Narrator
Go to the Search component
Tab into the search box
Right arrow to the clear X button

Result: Narrator says "button"
Expect: Narrator should say "Clear text button"

[2018-05-29 23:40] natalieethell commented on #3666
Hey Dylan, thanks for submitting this issue! This should definitely be fixed. Here's a repro I've created in CodePen for visibility: `https://codepen.io/anon/pen/ERxeEL`. As you can see when hitting tab, the focus escapes the Dialog. Focus also escapes the Dialog (focus trap zone) when a ChoiceGroup is the first element and I try hitting shift+tab.

Something else we should consider looking into i

[2018-05-30 01:09] dzearing commented on #4994
@dcowen91 Just an fyi! I cycled with the Edge team. They are aware of the issue and are tracking a fix. Thought I'd pass along.

[2018-05-30 02:21] samyaktelsang opened #5029 "Enable localization support for File Picker"
In lieu of an effort to improve globalization/localization of the products that we build, 0365 and SharePoint enable us to localize our files and custom fields.

However, while using a FilePicker class, there isn't an option to provide the button's display name. It resorts to a default text such as "Choose File" in Chrome or "Upload" on Edge.
I find that this makes it hard for developers to locali

[2018-05-30 02:47] it950 opened #5030 "Disable a PivotItem issue a http request"
#### Describe the issue:
When we click a pivotitem,we find that it will issue a http request,and rerender it content,

#### Example:
https://developer.microsoft.com/en-us/fabric#/components/pivot,the **"Rendering nested components within the Pivot" section,**
you switch to the Persona tab,**uncheck the "Include persona details",** and then chang to other tab,
when you return to,you can find the st

[2018-05-30 08:21] ecoukraine commented on #3788
Hi guys,

I've try the latest "office-ui-fabric-react": "5.106.1-hotfix.1" - result the same:
![image](https://user-images.githubusercontent.com/11150186/40708204-88b93c60-63fb-11e8-83a8-5adbcee58a56.png)

Could you please suggest what should I do to successfully upgrade my React to 16.x?

Thank you

[2018-05-30 08:33] ecoukraine commented on #4535
Hi guys,

I see it's the same issue I have #3788 - it's marked as closed but I still have no luck with it.
![image](https://user-images.githubusercontent.com/11150186/40708882-402d9a0c-63fd-11e8-89eb-279c8bcbcd52.png)

Would you be kind to help with this one

Thank you

[2018-05-30 09:47] qazqwertish commented on #4988
Found what generates this behavior: the placeholder. **If you set the placeholder in the inputProps it will make this error appear in IE for the TagPicker.**

Removing the placeholder can be a workaround, but I think it is something that worth to check for future releases.

[2018-05-30 09:54] satishkumaragarwal commented on #4966
I think the Command Bar component needs to expose a interface to customize the tooltip.

[2018-05-30 12:43] Xannic opened #5032 "Feature Request: Underlined option for DatePicker"
Would be nice to have an underlined option for DatePicker. Like the one TextField has.

[2018-05-30 13:12] satishkumaragarwal opened #5033 "Persona component onRenderCoin property not working"
### Bug Report

- __Package version(s)__: Current
- __Browser and OS versions__:

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: Calendar/Mail

#### Describe the issue:

Persona component provides **onRenderCoin** property to override the default initials coin. But when a cust

[2018-05-30 16:19] micahgodbolt commented on #3719
added this to our backlog. Will try to get some dev resources on it once the 6.0 work settles down.

[2018-05-30 17:43] AdrianM20 commented on #5010
Thank you a lot! This really helped me :D I wish you the best of luck in further development. This UI library is extraordinary. Looking forward for all the docs :D.

[2018-05-30 18:17] natalieethell commented on #3667
Hey Dylan, I've been looking into this issue a little more.

It looks like most other places use arrow keys to change focus and selection on options within the radio button group: [w3.org](https://www.w3.org/TR/2017/NOTE-wai-aria-practices-1.1-20171214/examples/radio/radio-1/radio-1.html), chrome://settings/

However, hitting enter to select the currently focused (but unselected) option in a radio

[2018-05-30 18:48] betrue-final-final commented on #3667
Arrow should only move focus, and space and optionally enter should select/deselect.

Otherwise it will be difficult to control selection.

This is how the control has worked for decades.

[2018-05-30 19:05] dzearing opened #5035 "Update the theming documentation for providing fonts, sizing, colors and styling"
Problem:

A customer wants to use their own font face, redefine font sizes, adjust colors, tweak sizing. We will do a few work items here:

1. Introduce a `Text` component which respects fonts defined in the theme.
2. Update all components to use the `Text` component.
3. Ensure you can provide contextual theming in all things (finish the css in js conversion.)
4. Update the documentation to docume

[2018-05-30 19:13] dzearing commented on #4987
Right now, we are in a half and half state. We are closely tracking this however and will have this resolved shortly once 6.0 ships, as customizability is our #1 ask.

Tracking in #5035

[2018-05-30 19:13] #4987 closed

[2018-05-30 19:22] natalieethell commented on #3667
Hm, it looks like everywhere I've seen has arrows moving selection. I cannot seem to find an example where arrows only move focus. Do you have a good example?

[2018-05-30 19:34] jimlamb commented on #4808
Sure @michaelangotti. Here's a screenshot of a view that illustrates the issue:

![image](https://user-images.githubusercontent.com/82873/40743085-90c40eda-641e-11e8-821b-037ccd3a5226.png)

The tags are shown in a TagPicker with the border hidden when it doesn't have the input focus. We'd like to constrain the height of the component to 1 or 2 rows of tags when it doesn't have the focus with some

[2018-05-30 20:01] dylankil commented on #3667
Sorry for the misunderstanding. The bug that was filed by our test team is specifically when shift tabbing from a different component. Arrow keys should shift focus and select, however, the user should be able to use the enter or space key to select the last option as this is the option focused when shift tabbing from a focusable element that appears after the ChoiceGroup.

Is there any further cl

[2018-05-30 20:07] natalieethell commented on #3667
Hey @dylankil no worries! I think I understand what you're looking for, thank you for the clarification. :)

@betrue-final-final Here's an example of what I'm seeing on w3.org and Chrome, where arrow keys do change selection, not just focus.
![radio buttons w3](https://user-images.githubusercontent.com/14134000/40744713-4a8f0438-640a-11e8-8fd6-0825aa4acea9.gif)
![radio buttons chrome](https://user

[2018-05-30 20:09] fexdev commented on #3719
Cool thanks!

[2018-05-30 20:12] natalieethell commented on #3669
Hey Dylan, for clarity, what is the FRE of the Immersive Reader application? Sorry, I'm not too familiar with it. Would you be able to provide a screen capture? Thanks!

[2018-05-30 20:39] dylankil commented on #3669
Hello, Natalie.

Please find the attached.

If you’d like to check out the first run experience please visit https://onenote.com/learningtools

[cid:image001.png@01D3F81B.8E1850C0]

From: natalieethell <notifications@github.com>
Sent: Wednesday, May 30, 2018 1:13 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Dylan Kilgore <dylankil@microsoft.com>; Author <

[2018-05-30 20:41] betrue-final-final commented on #3669
A screenshot would be great.

[2018-05-30 20:51] natalieethell commented on #3669
Thanks, Dylan! Here's a screen capture of the Callout disappearing on resize for visibility.
![immersive reader resize](https://user-images.githubusercontent.com/14134000/40746917-911cf936-6410-11e8-8b69-15d3292c3364.gif)

[2018-05-30 20:54] dylankil commented on #3669
Yes, in this case it behaves as expected, unfortunately not so good of a first run user experience, would be nice to have the option not to dismiss on resize in some scenarios.

From: natalieethell <notifications@github.com>
Sent: Wednesday, May 30, 2018 1:52 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Dylan Kilgore <dylankil@microsoft.com>; Author <auth

[2018-05-30 23:42] dcowen91 commented on #4994
Awesome, good to know. I appreciate the FYI, Thank you!

[2018-05-30 23:51] joschect commented on #4665
@dzearing what is the plan for IRenderFunctions? Are we going to move to using the "As" pattern? Are IRenderFunctions going to continue?

[2018-05-31 00:34] betrue-final-final commented on #3669
Fallouts like menus, are meant to be light dismiss objects, so maybe you should consider another surface for this if it needs to stay up. However I'm not sure that someone would invoke this callout, then resize the window before reading it. That's not how people do things unless you require someone to do it for some reason?

[2018-05-31 01:07] dzearing commented on #4665
"As" pattern is far better. We need to consider how to roll that out though and what the implications are

[2018-05-31 01:45] dylankil commented on #3669
On devices users may tilt to portrait or landscape. This is a common scenario we should probably support. I’d be happy to introduce you to the Learning Tools design lead for a better explanation. The answer may be to use a dialog with pivots on small screens, but this is what we are using at the moment until we make further changes.

We hacked-together our own solution for now, but it would be bet

[2018-05-31 01:57] #5013 closed

[2018-05-31 03:27] betrue-final-final commented on #3669
That would be great. I'm interested in ensuring we have the best platform, so I would like to know their thinking.

[2018-05-31 03:47] tavish-fostermoore opened #5041 "Is there a timeframe for Forms to graduate from experiments?"
Hi,

Happy fabric user here! We're stoked with how easy it is to use fabric for our new-build app for a government client.

As a new project, we've been fumbling around a bit for the best way to handle forms. The current approach we're using doesn't seem to work that well. We noticed the fabric forms "experiment": https://github.com/OfficeDev/office-ui-fabric-react/tree/master/packages/experiments

[2018-05-31 03:56] betrue-final-final commented on #3667
It appears that the web standard is different than I recall for Win32. There is a subtlety in tabbing into the control does not select the control, until the arrow key is used. https://www.w3.org/wiki/RadioButton
Space does seem to toggle selection.
Focus can move to a radio group via:

- The Tab key
- An Access Key or mnemonic targeting the label
- Activation of the label (through Assistive Techn

[2018-05-31 05:56] wobba commented on #1788
It's quite easy to add the search box component manually as well.

[2018-05-31 06:02] ipip2005 commented on #4214
@dzearing I'm bit confused that as long as Persona can accept native HTML props, why it can't be directly focused? HTML div element also has `.focus()` function isn't it?

Wrapping a button looks like a work around for me which means i have to assign a11y attributes to the button instead of Persona like below.
      <Persona
        aria-label={this._ariaLabel}
        aria-posinset={this.props.in

[2018-05-31 06:09] PooLP commented on #4987
Thanks for response, it's a good news !

[2018-05-31 06:13] ipip2005 commented on #4398
@natalieethell  we also had workaround by below overwritten:
[code]
We hope it can be fixed from component level so we don't need to hack everywhere using Panel

[2018-05-31 07:02] shyama1208 opened #5042 "Tag picker has invalid aria-attribute value"
TagPicker has invalid ARIA attribute value (aria-controls) causing Keros failure.

![image](https://user-images.githubusercontent.com/26054709/40766863-85e87068-64ce-11e8-862b-b5d5dc2fe1e6.png)

Repro:
Run Keros for Chrome for Tag picker.
You can use the below link .
https://developer.microsoft.com/en-us/fabric#/components/pickers

Simply run keros on the above page.

[2018-05-31 09:43] SumiranAgg opened #5043 "Complete rectangle focus not visible in panel content."
### Bug Report

OS: Windows 10 RS3
OS version: build 16299.371
Browser: Firefox
Firefox version: 59.0.2 (32-bit)
Version:20180413T115929

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
No

Requested priority: (Blocking, High, Normal, Low)
Normal

Products/sites affected: (if applicable)
VSTS

#### Describe the issue:

Compo

[2018-05-31 10:55] ankitk94 opened #5044 "[Keros][TagPicker] aria-valid-attr-value failing"
#### Describe the issue:
Keros for web fails aria-valid-attr-value check for TagPicker

#### Actual behavior:

Error shown:
Invalid ARIA attribute value: aria-controls="selected-suggestion-alert"

In BasePicker.tsx, aria-controls is currently being set as 'selected-suggestion-alert'.

Result of running Keros for Web:
![image](https://user-images.githubusercontent.com/6390909/40778506-03c0b05c-64ef

[2018-05-31 11:16] SumiranAgg commented on #4191
+1

[2018-05-31 12:05] vamsi981 opened #5045 "Page automatically reloading when clicked on context menu in command Bar"
#### Priorities and help requested (not applicable if asking question):
Requested priority: (High)

Products/sites affected: (if applicable)
**office365**

#### Describe the issue:
We have build a custom Application and using fabric Command bar in the classic page when we click on new dropdown the page Automatically redirecting, due to button type is not defined and in classic pages form automatic

[2018-05-31 12:56] Perneel opened #5046 "Property 'isSearchBoxVisible' does not exist on type 'IntrinsicAttributes & ICommandBarProps'."
### Bug Report

- __Package version(s)__: 6.1.2

#### Describe the issue:

Properties missing from ICommandBarProps

[code]

#### Actual behavior:

react\containers\ActionBar\ActionBar.tsx(161,25): error TS2339: Property 'isSearchBoxVisible' does not exist on type 'IntrinsicAttributes & ICommandBarProps'.

`isSearchBoxVisible, searchPlaceholderText, elipisisAriaLabel` are not defined in CommandBar

[2018-05-31 13:47] Perneel commented on #5046
Ok, after going through the release notes, version >6 has CommandBar revamped. Is there any information/examples on how to use it now?

[2018-05-31 14:59] micahgodbolt commented on #4937
@betrue-final-final has a meeting been set up for this yet, and if not can I join. I'm created a backlog item in VSTS to track this work. I believe this should be a larger effort to support this functionality across many components.

[2018-05-31 15:22] betrue-final-final opened #5047 "Nav - Expand arrow is unlabeled"
Repro:

1. Use Narrator
Go to the Nav component page
Tab to the component

Result: Button is unlabeled and just says "Button expanded"
Expect: Should say "Expand or collapse <item name>, <state>"

Existing VSTS bug: 1759152. Link to follow.

[2018-05-31 16:54] micahgodbolt commented on #1788
You can use an item's onRender to add any component you want. Might require a little styling to make it fit properly, but that's pretty straight forward as well.

https://codepen.io/micahgodbolt/pen/zaGwee?editors=1010

[2018-05-31 16:55] micahgodbolt commented on #1788
Closing this issue as we now have a straightforward way to add a fully functional searchbox to the current release of Fabric.

[2018-05-31 16:55] #1788 closed

[2018-05-31 17:03] natalieethell commented on #3667
@betrue-final-final To me, it sounds like it might be good to stick to the W3C standard on this one and maintain the current behavior. What do you think?

[2018-05-31 17:07] micahgodbolt commented on #4992
Just to clarify, this is not an issue of a missing state, but rather the color for the selected state is incorrect.

If that is the case, can you supply us with the color that the selected state bg should be

[2018-05-31 17:26] micahgodbolt commented on #4967
Not sure if this was already discussed via email, but here is an example of being able to style the commandbar bg in our new 6.0 release

https://codepen.io/dzearing/pen/zzOzKZ

[2018-05-31 17:26] #4967 closed

[2018-05-31 17:31] #4873 closed

[2018-05-31 17:33] oengusmacinog commented on #4988
Hi @qazqwertish! Could you please provide a repro of the issue using [codepen](https://codepen.io/) or something similar?

[2018-05-31 17:38] michaelangotti commented on #5010
Closing since question has been answered. Thanks!

[2018-05-31 17:38] #5010 closed

[2018-05-31 17:44] michaelangotti commented on #5015
@hrc7505 Can you provide a codpen?

[2018-05-31 17:46] michaelangotti commented on #5019
@billytrend It would be great if you could open a PR. Let us know if you need help.

[2018-05-31 17:50] billytrend commented on #5019
@michaelangotti I opened a PR #5020 but unfortunately it relies on a feature only available in chrome right now ([https://caniuse.com/#feat=resizeobserver](https://caniuse.com/#feat=resizeobserver)). Would you suggest implementing with a check for this feature and thereby fix the bug for only chrome users? I can't think of an alternative without looking deeper into the code

[2018-05-31 18:03] #4985 closed

[2018-05-31 18:25] chaofeng2014 opened #5049 "Hover card first focus is auto set"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

When hover card is opened by hover behav

[2018-05-31 18:25] joerneu opened #5050 "GroupedList with showEmptyGroups does not display sub-levels"
### Bug Report

- __Package version(s)__: 5.96.0
- __Browser and OS versions__: Chrome v66, Edge

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: (Blocking)

#### Describe the issue:

`showEmptyGroups` only works with the first level. Sub-levels are blank.

#### Actual behavior:

Screenshot:

![emptygroups](h

[2018-05-31 18:32] micahgodbolt commented on #4992
ok, looks like it's #dadada
![image](https://user-images.githubusercontent.com/1434956/40800849-4ff42450-64c6-11e8-80a6-f04a5e570ff4.png)

[2018-05-31 18:34] betrue-final-final commented on #4992
Yes, which is currently neutralQuaternaryAlt

[2018-05-31 18:34] micahgodbolt commented on #4992
@suztocco is this something you'd be comfortable changing? Should be tracking down the selected bg color and changing it to neutralQuartenaryAlt

![image](https://user-images.githubusercontent.com/1434956/40800928-86e78c90-64c6-11e8-9dba-cf14a4dc9369.png)

[2018-05-31 18:35] betrue-final-final commented on #4992
@suztocco isn't an engineer. Maybe if she wants to dabble she can try it, but she'd have to get set up.

[2018-05-31 18:40] micahgodbolt commented on #4992
@betrue-final-final oh yeah! Totally forgot. This might be an interesting exercise to get set up and attempt to make the change herself. but for the sake of efficiency we can take care of it.

Last big question, can we target the 6.0 release? Or does this work have to be done in 5.x? Doing 5.x will mean twice the work (PRs for both branches).

[2018-05-31 20:02] natalieethell commented on #3667
@dylankil It looks like we will maintain the current behavior of the radio buttons, which aligns with the W3C standard. I will close this issue.

[2018-05-31 20:02] #3667 closed

[2018-05-31 23:12] michaelangotti commented on #5019
@micahgodbolt Can you chime in on this one? Should @billytrend still move forward with the fix or should we look into this issue more?

[2018-05-31 23:15] micahgodbolt commented on #5019
will forceUpdate work?
![image](https://user-images.githubusercontent.com/1434956/40813054-d415d50e-64ed-11e8-91cd-4e2f2fb0b097.png)

[2018-05-31 23:27] micahgodbolt commented on #5014
once #4716 is merged, this should provide support for the 6.0 commandBar to support this feature.

[2018-05-31 23:28] billytrend commented on #5019
forceUpdate might work but it seems to be more a question of how it's triggered: it needs to be triggered when the containing div is resized not just when the window is resized.

[2018-05-31 23:33] dzearing commented on #5006
This is not true.

As mentioned in mail, using a component purely as a typing does not impact bundle size whatsoever.

Please check `lib/Button.types.js` as an example. The TypeScript version refers to `ContextualMenu` as a type, but no imports actually import code in the produced javascript.

[2018-05-31 23:33] #5006 closed

[2018-05-31 23:41] micahgodbolt commented on #5019
Your example was when changing from display none to display block, so I assumed you were doing that via some event handler (which could also trigger the forceUpdate). Is your scenario more complicated than this?

[2018-05-31 23:44] billytrend commented on #5019
No you're right that's exactly my scenario. My work around for now is to trigger the window resize event from my event handler since it would be a pain to get a reference to the DetailsList into my event handler. It would be nice to not require direct access though.

[2018-05-31 23:45] aditima commented on #3360
Hopefully that answers your question. Closing due to no recent activity.

[2018-05-31 23:45] #3360 closed

[2018-05-31 23:45] billytrend commented on #5019
I'm also not 100% sure how compatible this hack is

`
if (Event) {
      window.dispatchEvent(new Event("resize"));
}
`

[2018-05-31 23:46] aditima commented on #3685
As I noted before, I wasn't able to repro this. Please reopen with a repro if you are still seeing this.

[2018-05-31 23:46] #3685 closed

[2018-05-31 23:53] aditima commented on #4205
@leddie24 - you are already working on something very similar. Maybe this will be taken care of by your new fix?

[2018-05-31 23:54] aditima commented on #4502
@micahgodbolt - Micah, I think this is a fair ask, and one to add to our backlog.

[2018-05-31 23:59] aditima commented on #4654
@micahgodbolt - another feature request that needs us to revisit and rationalize our *Card components. Good candidate to add to our backlog I think.

[2018-06-01 01:37] vivianhoang opened #5054 "ComboBox dropdown doesn't float to top when there is not enough space below it"
### Bug Report

- __Package version(s)__: 5.106.1
- __Microsoft Alias__: vihoang

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Low

Products/sites affected: (if applicable)

#### Describe the issue:
My team is currently using the ComboBox component - it has almost 100 options to select from and it's difficul

[2018-06-01 02:44] suztocco commented on #4992
Sorry have been on a firedrill this week. I’d love to get set up someday though!
When is the 6.0 release?

From: Micah Godbolt <notifications@github.com>
Reply-To: OfficeDev/office-ui-fabric-react <reply@reply.github.com>
Date: Thursday, May 31, 2018 at 11:40 AM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Suz Tocco <suzto@microsoft.com>, Mention <mention@no

[2018-06-01 03:02] micahgodbolt commented on #4992
6,0 was just released this week.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: suztocco <notifications@github.com>
Sent: Thursday, May 31, 2018 7:44:49 PM
To: OfficeDev/office-ui-fabric-react
Cc: Micah Godbolt; Assign
Subject: Re: [OfficeDev/office-ui-fabric-react] Combobox missing selected state (#4992)

Sorry have been on a firedrill this week. I’d love

[2018-06-01 03:39] suztocco commented on #4992
Not following the timeline for this then if 6.0 was already released. What are the timing options here?

From: Micah Godbolt <notifications@github.com>
Reply-To: OfficeDev/office-ui-fabric-react <reply@reply.github.com>
Date: Thursday, May 31, 2018 at 8:02 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Suz Tocco <suzto@microsoft.com>, Mention <mention@norep

[2018-06-01 04:41] hailiu2586 opened #5056 "v6.1.2 commonjs module entry is now under lib-commonjs, doc/sample code still pointing to lib"
ts-jest breaks with 'unknown token export' when

[code]

work around by

[code]

[2018-06-01 06:12] NavaneethaDev commented on #3688
Hello @nero120 @vertonghenb @vamsi981 could you please share some links for validation of Office UI Fabric react components.

I have components like Text Field , DropDown, Date Picker. Could you please tell me how to perform validation on click on submit button.

I am also using TaxonomyPicker. Please let me know how to make mandatory and perform validation thanks!
https://github.com/SharePoint/sp

[2018-06-01 08:17] qazqwertish commented on #4988
Hello @oengusmacinog, here I created a basic example with 2 TagPickers. As you can see the one on the bottom has a placeholder and in IE11 does not show the suggestions with the OnEmptyInputFocus.

[https://codepen.io/qazqwertish/pen/BVNMeW](https://codepen.io/qazqwertish/pen/BVNMeW)

[2018-06-01 08:18] prmittal opened #5058 "CheckBox: Multiple keros scan failures"
Keros for chrome scan on CheckBox component is giving multiple errors.

Scanned component: https://developer.microsoft.com/en-us/fabric#/components/checkbox
![image](https://user-images.githubusercontent.com/11937034/40826106-524b2b46-6597-11e8-944a-23b3b0af3b92.png)

#### Actual behavior:

The following rules fail:

- keros-redundant-labels-instructions
- keros-redundant-cues
- aria-valid-attr-va

[2018-06-01 08:29] prmittal opened #5059 "[ChoiceGroup] keros-redundant-labels-instructions failure"
Keros for chrome scan on ChoiceGroup component fails for the keros-redundant-labels-instructions rule

Scanned component: https://developer.microsoft.com/en-us/fabric#/components/choicegroup
![image](https://user-images.githubusercontent.com/11937034/40830342-cbbac3e0-65a3-11e8-8eb7-48da297fac5f.png)

#### Actual behavior:

![image](https://user-images.githubusercontent.com/11937034/40830390-ef9e4

[2018-06-01 08:33] mdahamiwal opened #5060 "[Regression]Datepicker: unnecessary scrollbars"
### Bug Report

- __Package version(s)__: latest master
- __Browser and OS versions__: all
- __Microsoft Alias__: manishda

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites affected: VSTS

#### Describe the issue:

Datepicker has unnecessary scrollbars. Looks like a regression introduced due

[2018-06-01 09:02] prmittal commented on #5059
Code snippets:
`<input type="radio" id="ChoiceGroup14-A" class="ms-ChoiceField-input input_6c0d9a01" name="ChoiceGroup14" required="" aria-labelledby="ChoiceGroupLabel15-A" data-automation-id="auto1" value="on">`
`<label for="ChoiceGroup14-A" class="ms-ChoiceField-field field_6c0d9a01"><span id="ChoiceGroupLabel15-A" class="ms-Label">Option A</span></label>`

[2018-06-01 09:06] quangleminhvn commented on #2165
Hi guys
Any update for this ?

[2018-06-01 16:31] suztocco commented on #4992
@micahgodbolt  I am checking with our devs now. We launch to MSIT in a month and go live to consumers in like Sept. So it sounds like it is mainly up to our devs as to when they can upgrade right? So if you make this fix soon we can get it when they upgrade, otherwise you would have to push it to an earlier "branch". Correct?

[2018-06-01 16:33] suztocco commented on #4992
@micahgodbolt  All good for 6.0! The devs are working on this now. Thanks so much!

[2018-06-01 16:36] micahgodbolt commented on #4992
Awesome! Thanks for getting that info. Let me take a look at fixing this in the main 6.0 branch. __Should__ be a quick fix.

[2018-06-01 16:53] leddie24 commented on #4205
This is fixed from #4491

[2018-06-01 16:53] #4205 closed

[2018-06-01 18:48] #801 closed

[2018-06-01 18:48] #1945 closed

[2018-06-01 19:08] micahgodbolt commented on #5054
Added to vsts backlog...thanks for pointing this out!

[2018-06-01 19:16] micahgodbolt commented on #4654
We try to steer clear of adding app specific UI to Fabric. But we do want to do is make your implementation of a 'card' be nothing but Fabric components combined together.

What is it that you are suggesting we add to Fabric to make your UI easier to create?

[2018-06-01 19:19] micahgodbolt commented on #4502
It's a feature worth considering for sure. Would require a bit of design first to determine the correct approach. I'll add it regardless to track.

[2018-06-01 19:29] micahgodbolt commented on #5019
with your example I noticed that after you change the width of the window the hide/show button works fine. Could you allow the component to mount before you hide it?

[2018-06-01 19:37] micahgodbolt commented on #4986
@phkuo looks like primaryBackground/primaryText had a todo to say remove. Are these ready to be removed from the theme generator?

[2018-06-01 19:45] micahgodbolt commented on #4979
we want to support button text from either the text property, or if a string is passed in as a child.

So the first check is to see if there is a string in text, children, or secondaryText….if so, we should render out the text.

The second test checks if there is no text property AND the child is a string. Then it sets text as that child string.

The two tests are different because they accomplish

[2018-06-01 19:53] micahgodbolt commented on #4973
Yeah,  you can just change height/width of the circle to get any size that you want. I agree though that we could make this a single, simple prop rather than making someone dive in.  I'll add it to our backlog, otherwise here's a pen showing how you can do it.

https://codepen.io/micahgodbolt/pen/bKVgPx?editors=0010

[2018-06-01 19:53] #4973 closed

[2018-06-01 20:20] #4812 closed

[2018-06-01 22:49] micahgodbolt commented on #4961
No specific plans yet for an 'out of the box' Android/iOS compatible Fabric, but it's certainly something we're discussing. We'll take a peak at reactxp as well! Thanks for the tip.

[2018-06-01 22:49] #4961 closed

[2018-06-01 22:50] #4974 closed

[2018-06-02 16:12] partnerinflight commented on #5056
Not just loadTheme. All lib imports need to be changed to lib-commonjs.

[2018-06-02 19:12] dzearing commented on #5056
Sorry for any friction this could have caused, but this is a known and documented issue here:

https://github.com/OfficeDev/office-ui-fabric-react/blob/master/6.0_RELEASE_NOTES.md#lib-commonjs

The gist is that because existing partners, using webpack4 and already using /lib exports, want tree shaking out of the box, we need to default /lib to es6.

This however conflicts with node.js processes li

[2018-06-02 19:13] dzearing commented on #5056
@hailiu2586 and @partnerinflight can you confirm if this works for you? (Please feel free to close the bug if so!)

[2018-06-02 19:44] #4936 closed

[2018-06-03 10:08] ipip2005 commented on #4793
I observed same issue in "List" component when rendering items with same size

[2018-06-03 13:46] prabhat9999 opened #5071 "when i am implementing office ui fabric react people picker the suggestions are coming on the top left corner?"
![40847204-0552153c-65bc-11e8-8888-2e0e804b537b](https://user-images.githubusercontent.com/36052078/40887204-41b093e8-6745-11e8-917f-5bf845d772e2.png)

[2018-06-03 14:27] Markionium commented on #5071
This looks like a bug.

Could you share a minimal repro that you have already or create one using codepen?

You could fork this codepen template to get started https://codepen.io/mpolak/pen/PebaGo

[2018-06-03 23:03] dzearing commented on #5071
@joschect as any FYI.

@prabhat9999 please try and get it reproing in a codepen.

[2018-06-04 00:14] natalieethell commented on #3666
@bworline seems to be working on a fix for this more general bug here: https://github.com/OfficeDev/office-ui-fabric-react/pull/4898

[2018-06-04 09:10] gaurav42 opened #5074 "IconButton: does not follow high contrast standards on Edge"
### Bug Report

- __Browser and OS versions__: Windows 10 RS3
- __Microsoft Alias__: gdesh

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
No

Requested priority: (Blocking, High, Normal, Low)
Normal

Products/sites affected: (if applicable)
VS marketplace

#### Describe the issue:
IconButton is not following high contrast

[2018-06-04 09:19] hxltinh opened #5075 "multi-line Textfield show redundant empty bottom space on IE 11."
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: Window - IE11

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes)

Requested priority: (Normal)

#### Describe the issue:

redundant empty bottom space appear on IE11

#### Actual behavior:

It shows empty bottom space on IE11 (seem like it happens when

[2018-06-04 11:33] shyama1208 opened #5076 "Color-contrast ratio is below 4.5:1 for DetailsRow checkbox in DetailsList"
Color-contrast ratio is below 4.5:1 for checkbox for the row.
This causing Color test failure in Keros for Chrome.

![image](https://user-images.githubusercontent.com/26054709/40915311-325e93ca-6819-11e8-9e67-b0d22aa89e41.png)

[2018-06-04 12:54] laxmikankanala opened #5077 "DragDropHelper: minimum pixel and manual events issues"
Issues in DragDropHelper:
1. Current logic of minimum pixel to start the drag is not working if we set it to a high value, as the browser start the drag events regardless of this check. And once drag events start coming, we will not be getting any mouse move events from browser.
2. Currently, in mousemove event we start the drag(call to onDragStart), but in few cases browser start the drag event w

[2018-06-04 13:53] betrue-final-final commented on #5076
For scan #1, that's hover and there should be a circle of #666666.

The second scan is incorrect  and a limitation in automation. The white outline it's registering as noncompliant is for the visibility against the blue fill, but Keros is comparing it against the grey. One must always use human judgment when using automation tools.

[2018-06-04 15:10] arunnagar15 opened #5079 "when screen reader is on Focus is not moving to Office Farbic Search box control using Tab"
**Bug Report**
**Describe the issue:**
**Focus in not going to Search box control :**
I have used the Office Fabric Search Box control and did accessibility testing on it using Screen Reader and found the following issue:
**Issue Details:**
When Screen Reader is on and focus is moved using tab , focus is not going to this control , focus is moving to every other control of component apart from thi

[2018-06-04 15:10] partnerinflight commented on #5056
@dzearing in my case I'm not using jest at all. I'm a noob to the JS world; I'm using https://skellock.github.io/typescript-with-electron-react-kit/#/ with all jest-related modules removed. (I was trying to get to bare minimum.) Not sure what I should be configuring, given that.

[2018-06-04 15:29] MobileAppVault opened #5081 "Grid system for react is missing in the new documentation!"
Hi,

you forgot to add sample code about the grid system and how to use it with react in your new documentation.

Could you please add this information to the documentation?

Many Thanks!
Marcus

[2018-06-04 15:32] qazqwertish opened #5082 "TagPicker: onResolveSuggestions re-rendered after selecting item in IE11"
### Bug Report

- Package version(s): ^5.76.0 (Tested also with 6.3.0)
- Browser and OS versions: Internet Explorer 11

**Describe the issue:**

We selecting an option from the suggestions picker it executes again the method "onResolveSuggestions" and it makes the suggestions appear again.

Can be checked here: [https://codepen.io/qazqwertish/pen/BVjeVB](https://codepen.io/qazqwertish/pen/BVjeVB)

[2018-06-04 16:12] mikewheaton commented on #3017
This is still a valid issue, Stalebot.

[2018-06-04 16:13] mikewheaton commented on #3016
This is still a valid issue, Stalebot.

[2018-06-04 18:17] lynamemi opened #5084 "CommandBar page: Remnant FabricJS reference"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)
- __Microsoft Alias__: (if you are a Microsoft employee)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

####

[2018-06-04 18:44] peterdur-msft commented on #4947
This also came up in the Wipro accessibility test pass on Keros for Web. We look forward to picking up the fix.

[2018-06-04 19:37] michaelangotti commented on #5077
I can't repro in Edge or IE (both work as expected), but Chrome does repro the issue noted above.

[2018-06-04 19:42] #5084 closed

[2018-06-04 19:46] rpsenski opened #5088 "SpinButton doesn't validate on blur when text is cleared"
### Bug Report

- __Package version(s)__: All (I believe). We're looking at 5.112.0
- __Browser and OS versions__: All
- __Microsoft Alias__: rpsenski

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: Office online apps: (Word, PowerPoint, et al)

#### Describe the issue:

Clear

[2018-06-04 19:52] somecoder2019 commented on #4967
Thanks @micahgodbolt, this worked.

[2018-06-04 19:55] somecoder2019 commented on #4925
Hi,

Any help on this? This is a fairly common scenario. For example, in VSTS I see the three dotted extended menu.

![capture](https://user-images.githubusercontent.com/38018965/40938349-82c0a18c-67f6-11e8-9112-6c2e94d43ac0.PNG)

[2018-06-04 21:19] phkuo commented on #4986
@micahgodbolt unfortunately not, large portions of sp-client copied-and-pasted a bunch of old code and they're using that in a lot of places. Now that I've got SASS variables exporting from here, I've asked them to update the copied code to reference the exports instead, which will get them off the old slots.

@PooLP what error is VSCode giving you? ```palette``` just implements IPalette, so it sh

[2018-06-04 21:51] natalieethell commented on #5025
Hey @betrue-final-final it looks like for several buttons in other components, we use an optional prop. As an example, in SpinButton, we have the following two optional label texts:

[code]

In Breadcrumb, we have something similar:

[code]
Would we like to follow this pattern or just use the string literal 'Clear text button'? Thanks!

[2018-06-04 22:29] JasonGore commented on #4938
Narrator seems to be working fine and vocalizing the ChoiceGroup options correctly. The navigation conforms to the [ARIA spec](https://www.w3.org/TR/wai-aria-practices-1.1/#radiobutton). Here is an [ARIA radio group reference example](https://www.w3.org/TR/2017/WD-wai-aria-practices-1.1-20170628/examples/radio/radio-1/radio-1.html) that may help serve as a reference point for navigation and Narrat

[2018-06-04 23:16] michaelangotti commented on #5045
@vamsi981 Are you able to provide us with a Codepen or Repro so we can investigate further? Also, please let us know what Fabric version and browser you are using. Thanks!

[2018-06-04 23:22] #5088 closed

[2018-06-04 23:29] JasonGore commented on #4925
The only way to do this with Nav currently is to make use of the `onRenderLink` , but that requires you to provide the content for the entire row. This is most likely what VSTS is doing. I did a super basic CodePen here (without justification): https://codepen.io/jasongore/pen/XYdKXE

We are currently working on a newer, more composable version of Nav starting with [CollapsibleSection,](https://gi

[2018-06-04 23:29] #4925 closed

[2018-06-04 23:30] elliottsj opened #5094 "Grouped DetailsList has unexpected scrolling bevaviour when virtualized"
### Bug Report

- __Package version(s)__: office-ui-fabric-react@6.4.0
- __Browser and OS versions__: Chrome 67 on macOS
- __Microsoft Alias__: spelliot

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: OneDrive web

#### Describe the issue:

When rendering many (hundreds) of it

[2018-06-04 23:37] michaelangotti commented on #5041
@tavish-fostermoore We're happy to hear you're stoked with Fabric. Tagging @dzearing who might be able to answer your question and look into this crystal ball on the future of Forms.

[2018-06-05 04:59] B-Esmaili opened #5097 "Namespace 'React' has no exported member 'AllHTMLAttributes' when using with asp.net core"
Hi pros.
I know this question has been answered already here but none worked for me.As the title says i am getting following list of errors when using this library :

[code]

following is my packages.json file :

[code]

any solution please?

[2018-06-05 05:09] code-mage opened #5098 "TagPicker: does not read out the delete option of selected tag in edge"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: Edge

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: High

Products/sites affected: VSTS

#### Describe the issue:

Tag Picker does not read out the delete option of selected tag in edge

#### Expected behavior:

Along with

[2018-06-05 06:00] PooLP commented on #4986
I have this error :
[code]
I think that the JSON theme generator should be the right one, we should not have to add additional members, even if it's possible.

[2018-06-05 07:18] hrc7505 commented on #5015
yes you can check this pen, [Panel with custom width](https://codepen.io/hardik-chaudhary/pen/ZRWXjL).

[2018-06-05 12:26] PascalSenn opened #5101 "[bug] - Pivot onLinkClick"
### Bug Report

- __Package version(s)__:  5.107.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:

onLinkClick is not triggered.

I guess it's caused by react-hot-loader, but I'm not sure. It could also be caused by an extension.

Anyway, the problem is this comparison
https:

[2018-06-05 13:41] #5079 closed

[2018-06-05 13:58] betrue-final-final commented on #5098
@lynamemi

[2018-06-05 17:55] michaelangotti commented on #5094
@elliottsj Thanks for bringing this to our attention. I also tested in IE and Edge and, while it doesn't go into a re-render loop in those, the scroll bar does perform erratically.

[2018-06-05 20:14] natalieethell commented on #3666
Hey Dylan, looks like the issue was fixed with @bworline 's changes! Here is the new behavior:
![choicegroup in focustrapzone working](https://user-images.githubusercontent.com/14134000/41000264-4bda36b6-68c2-11e8-9619-a2c9ce1eefcb.gif)

I'll go ahead and close this issue.

[2018-06-05 23:31] natalieethell commented on #4398
Hey @seriewe could you link a repro of this issue or perhaps a screen capture? And is your question regarding why the CSS style "-webkit-overflow-scrolling: touch" is specifically in the body tag, or why it's used at all?

@ipip2005 Good catch. It's such an odd bug. I'll investigate this further to check that your proposed change doesn't break anything else and see if that's something we can add.

[2018-06-06 06:07] #5060 closed

[2018-06-06 06:55] gaurav42 opened #5110 "Accessibility: Narrator: When focus is on dropdown, its role is not announced"
### Bug Report

- __Browser and OS versions__: Windows 10 RS3
- __Microsoft Alias__: gdesh

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
No

Requested priority: (Blocking, High, Normal, Low)
Normal

Products/sites affected: (if applicable)
VS marketplace

#### Describe the issue:
When narrator is enabled and keyboard focu

[2018-06-06 07:26] pKalaga opened #5111 "onRenderText methods in Persona doesn't provide/honor a defaultRender function passed in parameters"
### Bug Report

- __Package version(s)__: current
- __Browser and OS versions__: All

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: High

Products/sites affected: SharePoint Sites and Lists

#### Describe the issue:

onRenderPrimaryText / onRenderSecondaryText in Persona are of IRenderFunction Type but donot

[2018-06-06 14:20] arunnagar15 opened #5113 "In Grouped List chevron icon aria label is not defined"
**Bug Report**
**Describe the issue:**
**Grouped List chevron aria label is not defined:**
I have used the Grouped List , its ariaLabel is not defined which is causing Keros bug saying "button must have described text"

**Issue Details:**
Used Grouped List and its causing keros bug saying "button must have described text"

Actual behavior:
Keros Bug is visible using grouped list.
Expected behavior

[2018-06-06 15:51] betrue-final-final commented on #5110
@michaelangotti and @lynamemi this is confirmed. I thought there was a big kerfuffle about what role this should be from before, so it's odd that it doesn't have one announced. Shouldn't this naturally have a role as semantic html?

[2018-06-06 15:58] JasonGore opened #5115 "DetailsList Accessibility Issues"
### Bug Report

- __Package version(s)__: OUFR v6.5.0
- __Browser and OS versions__: n/a

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: (if applicable)

#### Describe the issue:
DetailsList does not follow ARIA spec in a few areas and does not observe the `ariaLabel` prop.

#

[2018-06-06 16:15] luckyyd opened #5116 "ScrollablePane with DetailsList cannot scroll fixed header with list content"
### Bug Report

- __Package version(s)__: 5.106
- __Browser and OS versions__: Chrome, Windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
No
Requested priority: (Blocking, High, Normal, Low)
High
Products/sites affected: (if applicable)

#### Describe the issue:

When using DetailsList within Scrollable Pane, if the

[2018-06-06 18:29] jakobpn opened #5118 "ContextMenu component is throwing an 'unknown function' exception"
### Bug Report

- __Package version(s)__: 5.101.2
- __Browser and OS versions__:  Internet Explorer 11

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable) Office add-ins using Fabric React and ContextMenu component

#### Descr

[2018-06-06 20:54] trsvax opened #5123 "New React Context API vs Panel"
I created a Help component that provides context to Guide components that allows guided help in an application. The Help component provides an isHelping context to let the Guide components know when to turn on and off. I used the new React 16.3 context api to do this and it works fine except there is no context inside the Panel component. For example

<Help>
<Guide><button/>/Guide> works
<Panel>
<

[2018-06-06 21:46] aditima commented on #4733
@mubash7 - there is no File input control in Fabric. But in many scenarios, people overlay a div or a button on top of the input element to look more consistent. The 'Upload' menu items in the SP doclib is a good example.

Here's a code snippet for the 'Upload' menu item:
![image](https://user-images.githubusercontent.com/20650481/41066813-26c96212-6998-11e8-8f31-17d68f24dd41.png)

Notice how the

[2018-06-06 21:46] #4733 closed

[2018-06-06 22:00] natalieethell commented on #4027
Hey @Khushveerkaur thanks for submitting this issue! Just to clarify, when touch scrolling through a DetailsList, the expected behavior is to just pan the results list, but the actual behavior is that on touch, the item in the DetailsList is immediately focused, and in the case of VSTS, it navigates to the item. (by looking at the VSTS link, it looks like you've swapped the Actual and Expected beh

[2018-06-07 01:03] dzearing commented on #5118
@joschect I'm a bit unsure here. I don't know what setActive is doing.

@lambertwang did you add this? I see your name on the blame but a little unsure.

[2018-06-07 01:12] joschect commented on #5118
@dzearing Lambert did this as a fix because IE11 doesn't always handle focus right.

I believe that this was so focus would be kept within the contextualmenu with hovering focus, so that when the mouse moves out focus is "lost" but kept within the menu.

This setACtive began throwing errors in ie11 due to a recent change that made the tabindex on this._host conditional. setActive is "smart" enough

[2018-06-07 03:34] pschaeflein commented on #4654
I think the thread is clear about what I was looking for. At this point, it seems I need to inject CSS to force a DocumentCardTitle to have a non-white background, and DocumentCardLogo + DocumentCardActions with a higher z-index and positioning attributes to put them over the styled DocumentCardTitle.

[2018-06-07 05:51] NigelWit opened #5128 "DetailsList - Selection does not stick to item when filtering"
### Bug Report

- __Package version(s)__: ^7.3.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

#### Describe the issue:

When using a DetailsList with filtering as per the Office Fabric React components page examples, the selection of an item does not "stick" when the list is filtered. Ideally I woul

[2018-06-07 17:16] PriyankaPuranik1 commented on #4725
Hi,
Do I need to reactivate the earlier bug? The fix is not fixing letting the suggestions being displayed based off defaultVisibleValue value?

Thanks,
Priyanka

From: Priyanka Puranik
Sent: Thursday, May 3, 2018 12:56 PM
To: 'OfficeDev/office-ui-fabric-react' <reply@reply.github.com>; 'OfficeDev/office-ui-fabric-react' <office-ui-fabric-react@noreply.github.com>
Cc: 'Author' <author@noreply.gith

[2018-06-07 17:29] aditima commented on #5101
Thanks for the PR @PascalSenn.

[2018-06-07 17:39] aditima commented on #5077
@ThomasMichon - could you please look at this?

[2018-06-07 17:41] michaelangotti commented on #5074
Firefox does not support High Contrast modes or does so inconsistently. We only support the high-contrast mode on IE/Edge. Closing this issue.

[2018-06-07 17:44] suztocco commented on #4992
@micahgodbolt - Just wanted to check in on this. Any movement?

[2018-06-07 17:44] PascalSenn commented on #5101
My pleasure.
The build is somehow failing though.

[2018-06-07 17:50] michaelangotti commented on #5076
@Jahnp Can you assign this to one of your designers?

[2018-06-07 17:59] michaelangotti commented on #5049
@micahgodbolt Do we want to support this feature?

[2018-06-07 18:06] micahgodbolt commented on #5049
this sounds reasonable. We should consult with design on preferred default behavior, and allow a prop to override/optout of that behavior.

[2018-06-07 18:06] Jahnp commented on #5076
@michaelangotti @betrue-final-final sorry, what's the action needed here?

[2018-06-07 18:11] betrue-final-final commented on #5076
We just need to update the check circle to be neutralSecondary (#666666) instead of neutralTertiaryAlt (#c8c8c8).

The other issue is an incorrect assessment by Keros due to how the check is drawn.

[2018-06-07 18:29] v-kanuli opened #5131 "Disable Selection and Hover on Details List Header and Rows"
#### Describe the issue:

I want to be able to disable the selection of items in the row and also disable the hover effect in both the header and row items in the Details List. How can I accomplish this?

[2018-06-07 18:30] v-kanuli opened #5132 "Applying new css rules in overflow set"
I want to apply custom css for the overflow set ellipse icon that is provided by the overflow set. How can I accomplish this?

[2018-06-07 18:31] betrue-final-final commented on #5110
We should check in with them. Do you have a contact @aditima ?

[2018-06-07 21:13] wygoodin commented on #4676
I've started work on moving towards the way it's being done in the given w3 link.

[2018-06-07 23:47] natalieethell commented on #3613
Hey @abettadapur, just wondering in what scenario you're hoping to have a wider Callout when `useComboBoxAsMenuWidth` is unspecified? Would it be possible for you to pass in true to the `useComboBoxAsMenuWidth` prop?

There are some consumers that expect the menu to not be the width of the ComboBox when `useComboBoxAsMenuWidth` in undefined.

[2018-06-07 23:54] abettadapur commented on #3613
We can close this bug if it's by design, but I would expect the width to match the combobox as the default behavior

[2018-06-08 00:16] natalieethell commented on #3613
I just discussed this a bit with @jspurlin offline and we've decided to maintain the current behavior. Users can get either behavior with the right props, and this new change may break some consumers that don't expect that menu to be the width of the ComboBox. Feel free to open this issue again if you have any other concerns, but I'm going to go ahead and close it.

[2018-06-08 00:16] #3613 closed

[2018-06-08 02:05] phkuo commented on #4986
Theoretically the theme generator is agnostic of the slots we choose to use for the Fabric theme. It's supposed to be extensible to anyone to define their own slots and make their own rules. In practice, it's really only used for Fabric theming. I've removed non-IPalette members (see attached PR), I'll keep this discussion in mind going forward about how practical/useful it is to keep it separate

[2018-06-08 03:40] gaurav42 commented on #5074
@michaelangotti sorry that my issue description said Firefox browser. The issue is also in Edge browser as the title mentions. I have updated the issue description to mention Edge browser.

Can you please reopen the issue or shall I open a new issue?

[2018-06-08 05:57] dzearing commented on #5056
@partnerinflight can you simply adjust your tests to import from `office-ui-fabric-react` or `office-ui-fabric-react/lib-commonjs`?

The example code pointing to `lib` is not a bug. It's perfectly fine, assuming you webpack things.

[2018-06-08 05:58] dzearing commented on #5056
@hailiu2586  you can also just remove the path in the import and just import from 'office-ui-fabric-react'

[2018-06-08 06:27] arunkumarperumal opened #5144 "Pivot -> PivotItem editing of content seems to be caching"
### Bug Report

- __Package version(s)__: 5.103.0
- __Browser and OS versions__: Chrome, Windows
Other Details : SPFx React WebPart
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Blocking

Products/sites affected: (if applicable)

#### Describe the issue:

We are using tinymce editor for enabling editing of co

[2018-06-08 10:11] nguyentoantuit opened #5145 "People picker unable to select multiple persons without leaving"
Hi all,

It is not possible to select multiple person without leaving the field first (click outside of field).
Do you have any idea or workaround solution for this issue?

Thank in advance,
Toan

[2018-06-08 14:54] PascalSenn opened #5146 "[bug] - Textfield not empty if value undefined"
### Bug Report
Package version(s): 5.107.0
### Priorities and help requested (not applicable if asking question):
Requested priority: Normal

#### Describe the issue:
render gets not triggered when value changes to undefined

https://github.com/OfficeDev/office-ui-fabric-react/blob/3ccea373457639519f55d9762c862d44ae4da36c/packages/office-ui-fabric-react/src/components/TextField/TextField.tsx#L125

[2018-06-08 15:28] PascalSenn commented on #5146
i guess on null and undefined textfield reset should be triggered

[2018-06-08 16:04] davidleacy commented on #4565
Polite bump @lynamemi @jordandrako

[2018-06-08 16:43] amyngu opened #5148 "Callout directionalHintForRtl"
### Bug Report

- __Package version(s)__: 6.6.0
- __Browser and OS versions__: Chrome, Edge were tested

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)  High

Products/sites affected: (if applicable) All sites using callout with RTL

#### Describe the issue:
Callout is not

[2018-06-08 19:30] michaelangotti commented on #4836
@FalseLobster @arunarokk Can this be closed?

[2018-06-08 19:30] michaelangotti commented on #4800
@kelseyyoung Can this be closed?

[2018-06-08 21:32] anushkumarkorukonda opened #5153 "DetailsList focusToIndex scroll is even happening if the focusable Index is in viewport"
### Bug Report

- __Package version(s)__: 5.111.2
- __Browser and OS versions__: Chrome/FireFox

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)  High (A kind of Blocker)

Products/sites affected: (if applicable)

#### Describe the issue:

 I am having a details list with so

[2018-06-08 22:43] FalseLobster commented on #4836
AFK right now, but yea feel free to close. I addressed with my getStyles PR

Alicia
________________________________
From: Michael Angotti <notifications@github.com>
Sent: Friday, June 8, 2018 12:30:21 PM
To: OfficeDev/office-ui-fabric-react
Cc: Alicia Drummond; Mention
Subject: Re: [OfficeDev/office-ui-fabric-react] ChoiceGroup - aria-labelledby="" is getting added even if there no group label. (

[2018-06-08 23:05] #4836 closed

[2018-06-08 23:14] russgove commented on #4204
Hi,
I'm having a similar issue. I am using a DetailsList  in an SPFX  ListView CmmandSet. The DetailsList does not render until I resize the window.  I tried adding
  onShouldVirtualize = { () => false}

but it did not help.
I am using office-ui-fabric-react@5.41.2

any ideas?

[2018-06-08 23:45] natalieethell commented on #4813
Hi @arunarokk thanks for submitting this issue! Here's a screen capture for visibility:

![detailslist can t focus on columns](https://user-images.githubusercontent.com/14134000/41185210-f45dc2ce-6b3a-11e8-80a0-0fb144e11913.gif)

It looks like we have two options for a fix. In single selectionmode, either we can make the "check all" checkbox focusable, but not selectable or we can just not make th

[2018-06-09 08:00] robpearmain commented on #4398
@ipip2005

Where in the webpart scss do I put

  .ms-Layer-content > div {
    overflow-y: visible !important;
  }

It seems dialogs are not showing on Sharepoint webparts on iOS either

[2018-06-09 08:04] robpearmain opened #5156 "Dialog is not visible on iOS device and blocks user input"
### Bug Report

- __Package version(s)__: 1.4.1
- __Browser and OS versions__: 11.4

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: (Blocking, High, Normal, Low)

Blocking

Products/sites affected: (if applicable)

Sharepoint Framework on Sharepoint online

Dialog does not show, and the user can no longer inte

[2018-06-09 12:00] #2431 closed

[2018-06-09 23:54] #4986 closed

[2018-06-11 03:11] nguyentoantuit commented on #5145
I have check the source code in BasePicker.tsx and realize that onSuggestionClick we force close suggestion list:
`  @autobind
  protected onSuggestionClick(ev: React.MouseEvent<HTMLElement>, item: any, index: number) {
    this.addItemByIndex(index);
    this.setState({ suggestionsVisible: false });
  }`
Can we provide a prop to keep the suggestion list still open when an item is selected?

[2018-06-11 06:00] prabhatmuroor opened #5159 "Support custom search icons in SearchBox"
### Bug Report

- __Package version(s)__: 5.106.1002
- __Browser and OS versions__: Chrome/All

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: High

#### Describe the issue:
Office fabric searchbox, lets us change the icon, by ISearchBoxStyles here: https://developer.microsoft.com/en-us/fabric#/components/sea

[2018-06-11 06:14] SumiranAgg opened #5160 "ChoiceGroup: focus is wrong when using ChoiceGroup inside of Panel"
### Bug Report

OS: Windows 10 RS3
OS version: build 16299.371
Browser: Microsoft edge browser
Edge version: Microsoft Edge 41.16299.371.0
Firefox version: 59.0.2 (32-bit)
Version:20180413T115929

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
No

Requested priority: (Blocking, High, Normal, Low)
Normal

Products/sites affe

[2018-06-11 06:16] SumiranAgg commented on #5160
Aware that this is duplicate for https://github.com/OfficeDev/office-ui-fabric-react/issues/4191.
Was closed without resolution hence re-opening.
PLEASE DO NOT CLOSE AS DUP.

[2018-06-11 07:25] micnyk opened #5161 "How to get search box in `CommandBar` after update to Fabric 6"
I've updated Fabric to version 6.6.1 and noticed that property `isSearchBoxVisible` is missing in `CommandBar` component.

How to substitute it? I widely use it in my app.

[2018-06-11 09:08] v-neetsi opened #5162 "Dropdown: Field 'Required' is not read by screen reader"
Bug Report:
Package version(s): (5.66.0)
Browser and OS versions: Edge, Screen Reader(Narrator)
Priorities and help requested (not applicable if asking question):
Are you willing to submit a PR to fix? (No)
Requested priority: ( Normal)
Products/sites affected: (if applicable)

Describe the issue:
For implementation of 'Dropdown' using 'required' prop with 'label' prop, dropdown label is showing t

[2018-06-11 10:23] arunnagar15 opened #5163 "DetailsList: In scan mode, Narrator is not reading "row selected" or "row unselected" on pressing Space"
### Bug Report

- __Package version(s)__: (5.98.0)
- __Browser and OS versions__: ( browser- chrome, edge and windows 10 )

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: (High)

Products/sites affected: (Powerapps, cds-portal and BAF)

#### Describe the issue:

I have used the Details List did accessibility

[2018-06-11 10:59] kmrrakesh opened #5164 "In Scan Mode, Screen Reader is not reading the DetailsList's column header information associated with the cells correctly."
### Bug Report

- Package version(s) : (5.98.0)
- Browser and OS versions : (browser- chrome, edge and windows 10)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: (High)

Products/sites affected: (powerapps, cds-portal and BAF)

#### Describe the issue:

When selectionmode is single for the detailslist, scre

[2018-06-11 12:45] wongJonathan opened #5165 "Using Customizer with Nav Component"
### Bug Report

- __Package version(s)__: 6.8.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
No
Requested priority: (Blocking, High, Normal, Low)
Normal
Products/sites affected: (if applicable)

#### Describe the issue:

I'm trying to use the customizer to edit the styles of the Nav components. Currently I'm not sure if

[2018-06-11 13:59] kirankumarmanku commented on #5116
Hi,
I am also facing the similar issue with DetailsList with ScrollablePane. Is there any temporary workaround for this?

[2018-06-11 15:04] kirankumarmanku commented on #5116
Hi,
Following fix worked for me. I have added onScroll event for the div containing ScrollablePane and attached the following method.

[code]

I am returning following element.
[code]

[2018-06-11 16:37] dzearing commented on #3719
@joschect Is this a regression?

[2018-06-11 18:07] brettinternet commented on #1146
If you're following the `DetailsList` example from [ScrollablePane](https://developer.microsoft.com/en-us/fabric#/components/scrollablepane), I recommend you use a `position: fixed` on the sticky component via the provided `stickyClassName`. Otherwise, you'll get a scrollbar on the header that doesn't scroll in `overflow-x` with the rest of the `DetailsList` component.

[2018-06-11 18:26] prabirshrestha commented on #1146
Here is how I have implemented stick headers in detail list.

[code]

[2018-06-11 18:33] smoak opened #5167 "Webpack stuck at 95% emitting"
### Bug Report

- __OS version__: macOS 10.13.3
- __Node version__: 8.11.2
- __Npm version(s)__: 5.6.0, 6.1.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Don't know the fix

Requested priority: Blocking

Products/sites affected: N/A

#### Describe the issue:

Following the README:

1. `git clone https://github.com/OfficeDev/offic

[2018-06-11 19:44] LarsLiden commented on #3423
Any progress on this one?  Still posing an issue for us.

[2018-06-11 20:13] smoak commented on #5167
If I comment out `WebpackNotifierPlugin` here https://github.com/OfficeDev/office-ui-fabric-react/blob/16109440946077583269fe7bda0274d8703b9ffe/scripts/tasks/webpack-resources.js#L150 it works for me.

[2018-06-11 21:14] paterasMSFT commented on #3812
I ran into this today. Had to manually run "npm install @microsoft/load-themed-styles@latest" against a fresh clone to get "npm install" to complete.

[2018-06-11 21:44] elliottsj commented on #5094
I'm going to start working on a fix for this today

[2018-06-11 21:49] lynamemi commented on #1614
This is a WIP

[2018-06-11 23:08] aneeshack4 opened #5171 "Add support for high contrast in firefox"
WAC & Office Online supports Firefox but Fabric doesn't so it'd be good to add support for Firefox in high contrast scenarios.

[2018-06-12 02:08] vivianhoang opened #5173 "ComboBox: ellipsis needed for text that is too long for dropdown items AND/OR width should automatically increase."
### Bug Report

- __Package version(s)__: 5.106.1002
- __Browser and OS versions__: Chrome

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Low

Products/sites affected: VSTS Analytics Views

#### Describe the issue:

There is a similar issue here #1589 that was fixed recently for Dropdown. The text in the drop

[2018-06-12 07:22] qingbolove opened #5174 "npm is failing to install in Fabric (Sub-module)"
### Bug Report

- __Package version(s)__: 1.0.0(fabric latest version)
- __Browser and OS versions__: windows server 2012R2

#### Describe the issue:

npm install always have issues, have tried in several machines.

#### Actual behavior:

![image](https://user-images.githubusercontent.com/10628904/41275632-171b77a4-6e54-11e8-8aa4-aa9ebd4cdc03.png)
have tried to update npm and node version
npm: 6.1

[2018-06-12 08:05] harshdamaniahd commented on #4492
any updates ?

[2018-06-12 08:18] charliemidtlyng opened #5175 "Unable to customize Dialog width"
### Bug Report

- __Package version(s)__: 6.9.0
- __Browser and OS versions__: Chrome / Linux

#### Describe the issue:

I am unable to change minWidth and maxWidth for Dialogs. I have tried sending props, modalProps, dialogContentProps and styles - but none of them will be used in dialog.styles and are therefore useless?

#### Actual behavior:
https://github.com/OfficeDev/office-ui-fabric-react/b

[2018-06-12 09:04] ja3bhende commented on #3189
I am looking for sub-menus showing on mouse hover instead of click. It does show 3rd level menus on mouse hover, but we have to click header menu for viewing 2nd level menu. This is so inconsistent. Please help

[2018-06-12 10:08] Basek opened #5176 "[DetailsList] Horizontal scroll appears with vertical one"
### Bug Report

- __Package version(s)__: 5.112.0
- __Browser and OS versions__: Google Chrome  Version 66.0.3359.181 (Official Build) (64-bit)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

#### Describe the issue:

Horizontal scroll appears with vertical one

#### Actual behavior:

Horizontal scroll

[2018-06-12 14:16] b-priyank opened #5177 "[Feature Request] Dropdown: It should have a property to show min no of menu items"
Height of Dropdown - "menu items callout" keeps shrinking when enough space is not available below it. Even though, space is available on the top, it open downwards.

Feature Request:
Dropdown should have a property which takes how many minimum number of options we need to show. If enough space is not available below the dropdown then it should open "menu items callout" above the Dropdown. Currenl

[2018-06-12 14:17] sitepodmatt commented on #2705
This issue still remains

[2018-06-12 16:40] micahgodbolt commented on #3719
@dzearing this was an intentional change, though not fully thought through.

It appears that default browser behavior for selects is to either render above (firefox/chrome) if there isn't enough space,
![image](https://user-images.githubusercontent.com/1434956/41304311-a19b722e-6e24-11e8-9d14-2c9720867120.png)

or to render on top of the select (Edge) with the bottom edge at the bottom of the page

[2018-06-12 16:41] micahgodbolt commented on #3719
So before making this change, we need to determine what is the correct behavior we want to model.

[2018-06-12 16:47] micahgodbolt commented on #4992
Not yet unfortunately. This bug appears larger than a simple color tweak. We have in our backlog a story to overhaul this component, converting it to CSS in JS. That will be a good opportunity to resolve this theming issue as well.

[2018-06-12 16:50] micahgodbolt commented on #4960
adding to our VSTS backlog. I'll close this issue for now, but will update if/when we have updates.

[2018-06-12 16:50] #4960 closed

[2018-06-12 16:58] micahgodbolt commented on #4966
this is as much the contextual menu as it is the command bar. I agree that any truncated item should automatically get a tooltip, and that we should provide a way to specify tooltip props.

[2018-06-12 16:59] peterremote1980 opened #5178 "sharepoint webpart upgraded to 6.9.0 then has error"
sharepoint webpart upgraded to 6.9.0 then has error if i add <DefaultButton> to it.

[code]

<img width="995" alt="screen shot 2018-06-13 at 12 58 21 am" src="https://user-images.githubusercontent.com/36571333/41305281-08b3fbcc-6ea5-11e8-9a3c-c3fc5f502da8.png">

<img width="1099" alt="screen shot 2018-06-13 at 12 55 50 am" src="https://user-images.githubusercontent.com/36571333/41305253-f1e24318-6

[2018-06-12 17:29] micahgodbolt commented on #4955
added to backlog with reference back to this issue.

[2018-06-12 17:42] natalieethell commented on #5025
Spoke offline. We'll use the string literal.

[2018-06-12 17:51] peterremote1980 opened #5181 "another spfx with latest office-ui-fabric-react issue"
If i delete <DefaultButton text="Button" />, everything back to work.

[code]

[code]

Error:
[code]

[2018-06-12 17:54] micahgodbolt commented on #4930
I believe the proper approach here would be to allow the focus zone in breadcrumb to be turned off so that you could handle focus yourself, right? We already do something like this in overflowSet (though I think the prop name is a bit verbose).

Is this an approach that't work for you?

[2018-06-12 18:03] natalieethell commented on #4813
Spoke offline. We will make the "check all" checkbox non-focusable in single selectionmode.

[2018-06-12 18:28] kelseyyoung commented on #4800
@michaelangotti the work hasn't been done yet, it was spun off from that PR referenced

[2018-06-12 18:29] kelseyyoung commented on #4550
@KevinTCoughlin since #4712 is now resolved, what's the status on this?

[2018-06-12 18:32] natalieethell commented on #5025
Discussed further with @aditima . It makes more sense to add the aria label string as an optional prop and maybe fallback to the English text. It would be strange to see this aria label show up in en-us if, say, the rest of a webpage is rendering in German.

[2018-06-12 18:36] betrue-final-final commented on #2654
This still reproes:

1. Open the component page in Edge
2. Start Narrator
3. Press caps lock + space to turn off scan mode
4. Keyboard to dropdown
5. Arrow down

Result: Value changes, but nothing is said, and the control says it has zero items.
Expect: Control to say how many items it has, and announce the value change.

[2018-06-12 18:41] betrue-final-final commented on #1614
This is not stale. Emily is working through it.

[2018-06-12 20:24] betrue-final-final commented on #3189
It appears that this is a no repro for contextual menu on the Fabric site. It does show all submenus on hover, but it is SLOW. Sounds like a perf issue.

[2018-06-12 22:59] samiyaakhtar commented on #5174
+1, having the same issue

[2018-06-12 23:15] BrendanMcK opened #5183 "Tabbing/scrolling issues in dialog containing choicegroup example"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: Chrome on Mac, EDGE on PC

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Unknown; issue repros on Fabric demo site

#### Describe the issue:

Visit Fabric dialog page here:
https://developer.micros

[2018-06-13 15:15] dome4 commented on #5174
+1, same issue

[2018-06-13 17:40] natalieethell commented on #5164
Hey thanks for submitting this issue! This seems to be related to issue #4813 . I'll send out a PR today that should fix both.

[2018-06-13 20:04] jandramila opened #5191 "Hashed classNames mismatch on snapshot tests"
### Bug Report

- __Package version(s)__: 5.98.0

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Blocking

#### Describe the issue:

Fabric UI React components seem to give different hashed classNames to underlying HTML when changing from one environment to another.

#### Actual behavior:

I'm getting different classNames for Fabric UI Component

[2018-06-13 21:33] pseidel commented on #5174
+1 Same issue here, I saw a Stack Overflow thread where a user stated it may be because Watchman is not installed?? https://stackoverflow.com/questions/30744964/what-does-the-elifecycle-node-js-error-mean

Did not see Watchman as a pre-req for running this.

[2018-06-13 21:37] #5116 closed

[2018-06-13 22:09] leddie24 commented on #4890
Closed via #5169

[2018-06-13 22:09] #4890 closed

[2018-06-13 23:29] aditima commented on #4704
Hi @prakashchetan001 - I tried out a codepen example to render a partially fetched set of items in a grouped list, then click on 'Show All' link to fetch remaining items and update the list:
https://codepen.io/aditima/pen/WyOWrY

Hopefully this will help you. Thanks!

[2018-06-13 23:32] phkuo opened #5194 "neutralSecondaryAlt has been deprecated for a while and should be removed"
### Bug Report

- __Package version(s)__: all

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Partially... each individual control owner should fix it

Requested priority: High

Products/sites affected: SPList

#### Describe the issue:

neutralSecondaryAlt was deprecated several months ago, we should remove any instances of it.

####

[2018-06-14 02:33] lling1105 commented on #5181
i encountered the same issue :(

[2018-06-14 08:20] Au8ust commented on #5178
Same issue here with v6.x

[2018-06-14 09:54] harshdamaniahd commented on #4250
Yes i can confirm , this is not working

[2018-06-14 13:33] paterasMSFT opened #5198 "FocusZone gets stuck in a disabled ComboBox"
\### Bug Report

- __Package version(s)__: 6.9.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: TFS

#### Describe the issue:

Users cannot use the arrow keys to escape a disabled ComboBox (or theoretically any readOnly input) within a FocusZone.

#### Actual behavior:

Press

[2018-06-14 15:37] keydoubleu opened #5199 "NPM is not installing latest version of office-ui-fabric-react"
- __Package version(s)__: 5.112.0
- __Browser and OS versions__: Windows 7

Are you willing to submit a PR to fix? No
Requested priority:  Low

#### Describe the issue:

When I run the command **npm install office-ui-fabric-react**, it installs package version 5.112.0 instead of the latest version (v6.9.0).

#### Expected behavior:

**npm install office-ui-fabric-react** should install the latest

[2018-06-14 15:56] dzearing commented on #5199
[code]
I am seeing latest marked as 6.9.0. I ran locally just to validate, and indeed see 6.9.0 installed.

If you run into this you could have:

1. A lockfile forcing you to a specific version.
2. Something wrong in your npm cache perhaps.
3. Or, we really do have a package tagging problem!

Just to rule out #3, run the `npm dist-tag ls office-ui-fabric-react` command from above. It will tell you

[2018-06-14 15:56] #5199 closed

[2018-06-14 16:00] dzearing commented on #5198
@jspurlin I see `data-is-interactable` on the ComboBox. Shouldn't this be `data-is-focusable="false"`?

This would allow focuszone to skip over it. That may or may not be the expectation.

Alternatively, we could modify FocusZone to skip over `readonly` elements.

[2018-06-14 16:05] jspurlin commented on #5198
No, the comboBox should still be focusable when disabled to allow for users to be able to copy the content in the input (font name, for example). The FocusZone can move out of the input with TAB, although I think the FocusZone may need handleTabKey set to FocusZoneTabbableElements.inputOnly

[2018-06-14 16:06] yanckst commented on #2431
+1

[2018-06-14 16:08] paterasMSFT commented on #5198
We still want the combobox visitable so screen readers can read its contents.

I was thinking we could [whitelist the arrow keys on disabled ComboBoxes](https://github.com/OfficeDev/office-ui-fabric-react/blob/d2edbbc6c069f8cb8d2936a8d982aa50be0613e1/packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx#L1482), and [always have readOnly inputs ready to lose input](https://github.com

[2018-06-14 16:36] jspurlin commented on #5198
Not sure if I agree with that, it makes the way a user interacts with comboBoxes different depending on if they are disabled or not which breaks consistency in the overall navigation model.

[2018-06-14 17:29] elliottsj commented on #5094
After some investigation, my understanding is that this bug is due to the way the virtualized List component works at a fundamental level.

At a high level, List works by first rendering its items, then once they're rendered to the DOM, it measures the actual heights of its children within the viewport and _re-renders_ as necessary until all of the items which can fill the viewport are materialize

[2018-06-14 17:31] elliottsj commented on #5094
I have a fix over at #5204. It's not a complete fix since it requires that users pass in a `getGroupHeight` prop, but it at least prevents this issue in cases where group heights can be calculated based on the `IGroup`.

[2018-06-14 17:35] michaelangotti commented on #5145
@betrue-final-final Can you advise if this is something we want to add?

[2018-06-14 17:38] michaelangotti commented on #5148
@joschect IS this expected?

[2018-06-14 17:42] michaelangotti commented on #5156
Known issue 4398. Will close this dup.

[2018-06-14 17:42] #5156 closed

[2018-06-14 17:49] micahgodbolt commented on #5161
You can use an items 'onRender' to add any components you want, including a searchbox https://codepen.io/micahgodbolt/pen/zaGwee

[2018-06-14 17:49] #5161 closed

[2018-06-14 17:49] JasonGore commented on #5160
#4938 possible related. I will take a look at soon.

[2018-06-14 17:55] jspurlin opened #5205 "Investigate removing dropdown since comboBox is a super-set of dropdown functionality"
### Bug Report

- __Package version(s)__: 6.9.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: Normal

Products/sites affected: (if applicable)

#### Describe the issue:
Right now comboBox and dropdown both exist but comboBox contains all the functionality (and more) that dropdown does. The result are

[2018-06-14 17:55] michaelangotti commented on #5173
@dzearing Assign appropriately.

[2018-06-14 17:58] jspurlin opened #5206 "Investigate using ContextualMenu for the menus in the dropdown and comboBox components"
### Bug Report

- __Package version(s)__: 6.9.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: Low

Products/sites affected: (if applicable)

#### Describe the issue:
Currently when menu behavior (like keyboarding and focus) is updated ContextualMenu, Dropdown, and ComboBox all must be updated to be co

[2018-06-14 18:09] micahgodbolt commented on #5144
We don't specifically support TinyMCE in our components, but if you've found a reproducable bug, we'd be happy to take a look at it. Are you able to repro the bug without TinyMCE?

Here's a Codepen Template you can use to repro. https://codepen.io/FabricReact/pen/NvBvWx

[2018-06-14 18:14] micahgodbolt commented on #5205
Dropped this into our backlog as well. Would love to see this happen.
https://uifabric.visualstudio.com/UI%20Fabric/_workitems/edit/256

hope that link works.

[2018-06-14 18:15] joschect commented on #5145
@nguyentoantuit Do you mean that you want to allow for multiple selections while suggestions is open? I just want to make sure that there isn't a bug that prevents you from selecting more than one person in general in the picker.

[2018-06-14 18:20] micahgodbolt commented on #5132
if you are running an older version of Fabric, you can always target ms-OverflowSet-overflowButton
![image](https://user-images.githubusercontent.com/1434956/41430375-ae971be4-6fc4-11e8-991e-2bf7b2cee5a5.png)

In the most recent versions of Fabric (6.x) you can target it via the styles prop.

<OverflowSet styles={{overflowButton: {background: 'green'}}} />

[2018-06-14 18:20] #5132 closed

[2018-06-14 18:22] cliffkoh commented on #5194
@phkuo  Looks like only 3 components are reproing this? Pivot/DocumentCard/DetailsList.

It feels like this isn't per se so much a fix for codeowners, but more requiring design signoff for what the right color should be (and in turn, @betrue-final-final to approve the changes in screener).

[2018-06-14 19:29] anushkumarkorukonda opened #5213 "MessageBar: has role="status" twice in case if multiLine property is enabled"
### Bug Report
I am using Messagebar component.  If multiline props is enabled this role="status" is use two times one is on top most div and other is on innerText div. If multiline props is not enabled role="status" is used once on the inner text div. In case of multiline from accessibility point of view since narrator is announcing this role="status" twice since it is defined twice.

- __Package

[2018-06-14 19:47] jordandrako commented on #5174
Same here. Here my debug log https://gist.github.com/jordandrako/594978665d62704d33395b6760fe68ae

[2018-06-14 20:34] kenotron commented on #5174
Any chance you could record your git, npm and node versions? I'm having a tough time repro'ing it on a clean clone.

[2018-06-14 20:42] cliffkoh commented on #5181
@SriDeshpande can you take a look at this?

[2018-06-14 20:46] jordandrako commented on #5174
@kenotron My comment above is edited with more info.

[2018-06-14 20:51] kenotron commented on #5174
@jordandrako I'm having a tough time to get my windows machine to upgrade to npm 6.1.0 - but I noticed that things work when I had node 8.x and npm 5.x... nothing in our direct deps uses "submodule" so I'm trying to repro it on my box as best as I can.

[2018-06-14 20:52] kenotron commented on #5174
Also - how do you have both of these versions installed on your machine?
Node: v8.11.2 & v8.11.3
npm: v5.6.0 & v6.1.0

Chocolatey or WSL, etc? I am trying to get a repro...

[2018-06-14 20:57] aditima commented on #5160
@JasonGore - this PR by @bworline fixed something very similar: https://github.com/OfficeDev/office-ui-fabric-react/pull/4898 . Could you please check if this is already fixed?

[2018-06-14 21:07] kenotron commented on #5167
I believe this is already fixed with the exact fix that @smoak suggested here.

[2018-06-14 21:07] #5167 closed

[2018-06-14 21:18] arunarokk opened #5216 "SearchBox: with Narrator scan mode, focus is not going inside of the search box text field to enter text"
### Bug Report

- office ui fabric react Package version(s) 5.118.0
-Edge  Win 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: (Normal)

Products/sites affected: (if applicable)

#### Describe the issue:

when using narrator in scan mode ( up , down arrow keys), focus goes to searchbox, narrator announces

[2018-06-14 21:18] jordandrako commented on #5174
I just mean that I tried with both versions. To upgrade to npm 6.1.0, run npm i -g npm.

[2018-06-14 21:52] jordandrako commented on #5174
I just tried vanilla cmd and a fresh clone again and it worked. Not sure what the deal is with the other tools...

[2018-06-14 22:25] PriyankaPuranik1 opened #5219 "TagPicker: does not show suggestions using defaultVisibleValue"
### Bug Report

- __Package version(s)__: 5.95.0-
__Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: High
Products/sites affected: Project, CRM grid
#### Describe the issue:
Fix for https://github.com/OfficeDev/office-ui-fabric-react/issues/4725 did not ad

[2018-06-14 22:36] aditima commented on #5175
Hi @charliemidtlyng - I modified your codepen slightly to make this work using the new styles callback prop: https://codepen.io/aditima/pen/oyePwB
Hope this helps!

[2018-06-14 22:36] aditima commented on #5175
Closing this now. Please re-open if you have more questions.

[2018-06-14 22:38] aditima commented on #4704
Hi @prakashchetan001 - Closing this now. Please reopen if you have more questions. Thanks!

[2018-06-14 22:38] #4704 closed

[2018-06-14 23:01] kenotron commented on #5174
I think I got it, it is a combination of several unfortunate events. When someone did a rush generate, it upgraded screener-runner to a version that included this change:

https://github.com/screener-io/screener-runner/commit/df40d6df7b01524f3a51b8794fa69dbdd03bc08b

And it somehow doesn't work well with npm 6.1.0 (I think). I'm trying to verify on my end whether a locked older version of screener

[2018-06-14 23:37] BrendanMcK opened #5221 "Initial focus not visible on dialog contianing choicegroup"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: Current Chrome on Mac, EDGE on Win10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: ?

Products/sites affected: ?

#### Describe the issue:

* Visit the Fabric Dialog page - https://developer.microsoft.com/en-us/fabric#/c

[2018-06-15 00:01] #4398 closed

[2018-06-15 04:17] nguyentoantuit commented on #5145
@joschect I mean that the suggestions is only closed if click to next elements or another area. Currently, the suggestion list is closed immediately when I select a person. If I want to select multiple persons I need to follow these steps:
1. Click on people picker
2. Suggestion list is opened, select a person
3. Suggestion list is closed immediately, the focus is still in people picker
4. To make

[2018-06-15 09:46] gosiaborzecka commented on #5181
I have the same issue - OfficeUIFabricReact not working with SPFx 1.5.0 :(

[2018-06-15 10:48] ipip2005 opened #5223 "TooltipHost: Renders in wrong position in IE11 and can be dismissed unexpectedly"
### Bug Report

- __Package version(s)__: Last
- __Browser and OS versions__: IE11

#### Priorities and help requested (not applicable if asking question):

Requested priority: (Normal)

Products/sites affected: (Modern web parts)

#### Describe the issue:

Go to [Tooltip demo page](https://developer.microsoft.com/en-us/fabric#/components/tooltip) and hover on the "Hover over Me" button.
Tooltip r

[2018-06-15 11:12] chshrikh opened #5224 "Dropdown: [Zoom 200% with 1024 X 768] with multi-select do not truncate the long text values"
Bug -

Zoom 200% with 1024 X 768 resolution

Dropdown using the multi-select option do not truncate the long text. With 200% zoom (1024 X 768 resolution), selection of the text does not get highlighted properly. Without multi-select option things are working fine.

Repro - Use the sample code form
                       https://developer.microsoft.com/en-us/fabric#/components/dropdown,
increase th

[2018-06-15 13:11] betrue-final-final commented on #5145
The current behavior is consistent with other people picking controls such as in Outlook.

What you're suggesting is a new feature more like the experience when you click the "To" button in Outlook.

The people picker is meant to be a lighter experience in the midst of complex UX.

[2018-06-15 14:47] botbrix commented on #3186
I experience this same issue in offline environments.   Seems to be reproducible whenthe  pixel ratio is changed using zoom.  Pulled the latest file icons down to the baseurl path on my server.  Confirmed that it I'm passing in the baseurl to the initializeIcons().  Fabric fonts are rendering consistently on the other components, just not the file icons.

[2018-06-15 17:09] kenotron commented on #5174
I'll have to open a new issue to address npm 6.1.0 compatibility. I've verified that moving my Windows machine back to npm 5.6.0 fixes the issue. Or, if you want to stay on npm 6.1.0, do use "rush install" instead.

For some reason, rush install run from the npm scripts will fail with the submodule.

[2018-06-15 17:10] #5174 closed

[2018-06-15 17:16] kenotron opened #5227 "Make 'npm install' work with npm 6.1.0 on Windows"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: Windows

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low)  Low

Products/sites affected: (if applicable)

#### Describe the issue:

On the Windows platform, if developer elected to up

[2018-06-15 17:17] kenotron commented on #5174
I've created #5227 to address this issue in a more holistic way.

[2018-06-15 17:50] paterasMSFT commented on #5198
Because the ComboBox will scroll its parent? That seems to be the only impact.

If that's a dealbreaker, how do we address the FocusZone issue?

[2018-06-15 17:56] kkjeer commented on #4869
@arunnagar15 could you please provide a CodePen for this issue?

[2018-06-15 18:13] #4940 closed

[2018-06-15 18:19] joschect commented on #5148
The callout should flip, it's in it's positioning logic. That is not expected behavior. I'm having trouble building 6.0 but I can't reproduce this in a slightly older version.

[2018-06-15 18:43] NidhiSinghala commented on #4535
I have the same issue with the dropdown component.  I am using version Office-ui-fabric-react version 6.13.2

[2018-06-15 19:16] jspurlin commented on #5198
No, because arrow keys will leave the comboBox in one case and will not in the other case

[2018-06-15 19:40] licythom commented on #4535
I had no luck with using dropdown. I used ComboBox instead and it worked fine!

[2018-06-15 19:40] paterasMSFT commented on #5198
Only if they're in a FocusZone. If it's not, disabled ComboBoxes will remain the same as other controls when you press the arrow keys. It scrolls its parent container, but remains focused.

You can see the behavior in action if you build and run [this branch](https://github.com/paterasMSFT/office-ui-fabric-react/tree/DisabledComboBoxExample), if you want. Just go to the ComboBox page, I added a fe

[2018-06-15 20:54] #5025 closed

[2018-06-15 20:58] micahgodbolt commented on #4535
do you have an example of the code you are using to render the Dropdown? Can you possible put it in a CodePen? https://codepen.io/FabricReact/pen/NvBvWx

[2018-06-15 21:40] suztocco opened #5231 "TextField: Placeholder (Hint) text color not correct"
### Bug Report

- __Package version(s)__: Current

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites affected: All OWA

#### Describe the issue:

The color of the placeholder text for inputs (textfield, combobox, etc) is not to design spec.

#### Actual behavior:

Color is too light

#### Exp

[2018-06-15 21:48] #4943 closed

[2018-06-15 21:51] #4455 closed

[2018-06-15 22:54] helenanderson opened #5234 "Pivot: IPivotProps style function never gets applied"
### Bug Report

- __Package version(s)__: 5.112.0
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? TBD

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

The Pivot component has a `styles` prop (or `getStyles

[2018-06-16 00:01] waabid opened #5235 "DetailsList: toggling selection does not mention state for screen-readers"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
No
Requested priority: (Blocking, High, Normal, Low)
Normal
Products/sites affected: (if applicable)
VSTS
#### Describe the issue:

The toggle/checkbox controls

[2018-06-16 02:41] cobbs-totem commented on #5123
Identical to the issue I opened and it was being addressed post 6.0:

https://github.com/OfficeDev/office-ui-fabric-react/issues/4911#issuecomment-391802328

[2018-06-16 03:30] countvm commented on #5181
Same issue with spfx 1.5.0

[2018-06-16 08:47] peterremote1980 commented on #5181
spfx is not well tested version

[2018-06-16 09:34] Gmulti opened #5236 "Unexpected token export on NextJS SSR rendering"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: Chrome
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Blocking

#### Describe the issue:

I try to use this package with SSR Rendering on NextJS

#### Actual behavior:

[code]

#### Expected behavior:

No bug :)

[2018-06-16 22:45] SvenLauterbach commented on #5181
I don't know if this is a Office UI Frabric React, SPFX or Office Online problem.

The problem is  Office 365 loads an "spofiles_mini.js" file, which includes an old version of the [mergeStyle](https://github.com/OfficeDev/office-ui-fabric-react/tree/master/packages/merge-styles) module.

In this module there is a function "getInstance()" in the [Stylesheet.ts](https://github.com/OfficeDev/office-

[2018-06-18 04:39] chshrikh commented on #5224
I used chrome browser to repro this

[2018-06-18 04:42] chshrikh opened #5238 "DropDown: Keyboard focus is not visible when High Contrast mode is enabled."
**Test Environment Details:**
OS: Windows 10 RS3
OS version: build 16299.371
Browser: Firefox
Firefox version: 60.0(32-Bit)
Version: v/20180515T155752

**Steps to reproduce:**
1. Open https://developer.microsoft.com/en-us/fabric#/components/dropdown
2. Navigate to different drop downs with keys

**Expected Behavior:**
Active keyboard focus should be highlighted by dotted lines/Solid lines.
While n

[2018-06-18 05:03] ajinkya599 opened #5239 "Accessibility issue: In DetailsList, splitter is not accessible by keyboard while it can be accessed using mouse"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Products/sites affected: vsts pages which are using DetailsList - Library, Task Groups, Deployment Groups, Work Items etc.

#### Describe the issue:

Accessibility Issue:
DetailsList- Splitter is not accessible by keyboard

There are multiple pages in vsts, which are using DetailsLis

[2018-06-18 10:54] dmitrydyachenko commented on #5181
I am experiencing the issue with "office-ui-fabric-react": "^6.9.0".

[2018-06-18 12:20] smirnowld opened #5240 "Broken link to advanced documentation"
### Bug Report

Not an issue with this repository per se, but the link to advanced documentation from https://developer.microsoft.com/en-us/fabric#/get-started is broken.

The link under paragraph **Other ways to get Fabric React** takes you to https://github.com/OfficeDev/office-ui-fabric-react/blob/master/ghdocs/ADVANCED.md which doesn't seem to exist. I believe the correct target for the link s

[2018-06-18 13:06] betrue-final-final commented on #5239
Legit issue. I saw at an assistive technology conference where they used slider functionality to make this happen. @lynamemi, we should talk about this one!

[2018-06-18 13:49] martinoss commented on #5236
I have the same problem with create-react-app (react-scripts-ts) after using a button from fabric in my app:

 Test suite failed to run

[code]

[2018-06-18 14:03] Fensterbank commented on #3312
@fidabhittani You can use `registerIcons` to override the default icons.
I did not test it with your example, but I think this would also effect the icons used by DatePickers etc.

With FontAwesome it could look like this:
[code]

[2018-06-18 18:37] micahgodbolt commented on #5240
This was fixed just a few days ago. The website doesn't auto publish, so the changes aren't live yet. https://github.com/OfficeDev/office-ui-fabric-react/pull/5203

[2018-06-18 18:37] #5240 closed

[2018-06-18 18:39] micahgodbolt commented on #5239
duplicate of #4947

[2018-06-18 18:39] #5239 closed

[2018-06-18 18:58] natalieethell commented on #4990
Hey sorry for the delay! Just want to double check that you want this change in FabricReact? I would assume so given the version number you list, but your codepen uses FabricJS. Thanks!

[2018-06-18 19:03] micahgodbolt commented on #4387
hasn't there been work done on this? Is there a more holistic approach we need to take?

[2018-06-18 19:16] betrue-final-final commented on #4387
I need to set up an actual meeting again to see pull in other stakeholders to make sure were doing the right thing. I thought we had closure but it keeps coming back.

[2018-06-18 20:20] vivianhoang opened #5245 "ComboBox active option does not have a boarder like Dropdown which makes it difficult to see what's selected"
### Bug Report

- __Package version(s)__: 5.112.0

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Low

Products/sites affected: VSTS

#### Describe the issue:

Selecting an option via keyboard is difficult to see without a border, especially for those with sight disabilities. ComboBox should have a border or another visible indication that it is

[2018-06-18 20:40] lynamemi commented on #5245
Closing as dupe of https://github.com/OfficeDev/office-ui-fabric-react/issues/3472

I agree, we should really fix this! Maybe someone with more JS styling expertise can help figure out why the focus styles aren't getting applied for ComboBox options. @cliffkoh @JasonGore

[2018-06-18 20:40] #5245 closed

[2018-06-18 21:04] natalieethell commented on #3669
Hey @dylankil just wanted to see if you had any updates on this? Thanks!

[2018-06-18 21:37] micahgodbolt commented on #2156
this no longer repros in our example page

[2018-06-18 21:37] #2156 closed

[2018-06-18 21:47] micahgodbolt commented on #879
this has been fixed in the 6.0 version. Clicking on a dropdown doesn't set the first item as infocus. This is consistent with windows UI.

![image](https://user-images.githubusercontent.com/1434956/41564071-8fa663a8-7306-11e8-9680-5789bdc3dfe1.png)

[2018-06-18 21:47] #879 closed

[2018-06-18 22:05] micahgodbolt commented on #4916
Added to calendar team's backlog

[2018-06-19 02:31] cliffkoh commented on #5181
Hi all, @srideshpande has investigated and is exploring a long-term solution for the issue encountered. His recommendation for the time being is to use the same version of office-ui-fabric-react that SPFX is using, which is 5.112.0 as a workaround (alternatively, anything before 6.8.0 might work as well).

[2018-06-19 05:40] b-priyank commented on #5012
@betrue-final-final : Is there any update on this issue ?

[2018-06-19 06:09] cliffkoh commented on #5178
Fixed in #5253.

[2018-06-19 06:09] #5178 closed

[2018-06-19 06:10] cliffkoh commented on #5181
This is fixed in #5253.

[2018-06-19 06:10] #5181 closed

[2018-06-19 06:17] dzearing commented on #5181
Will be published tonight, sorry for the friction.

[2018-06-19 07:19] Fensterbank opened #5254 "Nav: Add onRenderIcon"
**Describe the feature that you would like added**
In most cases it is possible to use custom icon libraries e.g. by using `onRenderIcon` methods or overwrite default icons with `registerIcons`.
In our project we are rendering a dynamic NavMenu (based on a service's json response) with dynamic icons while using FontAweseme icons.

Since `NavLink` does not contain an `onRenderIcon` method, the only

[2018-06-19 08:02] daniel-stoll commented on #4990
Yes, the changes are for fabric-react :)
Just needed an online version to demonstrate the issue and used the first thing i stumbled upon.
Thanks a lot for working on the issue.

[2018-06-19 12:15] betrue-final-final commented on #5012
Thank you for the note, @b-priyank, you are correct. @lynamemi, is this something you can check out?

[2018-06-19 15:21] micahgodbolt commented on #4207
@rebeccaballantyne does your PR resolve this issue?

[2018-06-19 15:52] dzearing commented on #5181
The fix is now published in 6.16.0 and dependencies. Again apologies for the nullref, we've addressed the check and we're looking at a more comprehensive solution to avoid it in the future.

[2018-06-19 16:33] paterasMSFT commented on #5198
Thoughts? We're blocked on this.

[2018-06-19 16:52] dzearing commented on #3423
@LarsLiden So sorry for the delay here.

Hmm weird, so I did this in Panel:

[code]

And now it works as expected... I haven't dug into why but I was playing with the code and hit this. Can you verify? I saved my example here:

https://codepen.io/dzearing/pen/Rxxber?editors=0010

@oengusmacinog fyi

[2018-06-19 17:33] jspurlin commented on #5198
I think at most it should be a prop to allow arrow keys to leave when disabled. Focus zone has a callback `shouldInputLoseFocusOnArrowKey` where the builder can control when arrow keys should leave... That's another alternative for this scenario.

Also, can you go into more details on what the scenario is?

[2018-06-19 17:42] micahgodbolt commented on #5191
Are you using Jest for snapshotting? We've created a utility to convert those hashed classes into the actual styles passed into them.

https://www.npmjs.com/package/@uifabric/jest-serializer-merge-styles

[2018-06-19 17:56] micahgodbolt commented on #5177
we already have plans to make dropdown act more like the windows UI, displaying above input when there isn't enough room below. But the idea of min no of items is creative as well. I'll add it to our backlog item.

#3719

[2018-06-19 17:56] #5177 closed

[2018-06-19 18:07] lynamemi commented on #3218
I'm pretty sure has been released! @Jahnp what's the official external link?

[2018-06-19 18:11] Jahnp commented on #3218
I was just going to respond myself! This has indeed been released, and can be access at https://aka.ms/uifabric-icons (resolves to https://uifabricicons.azurewebsites.net).

[2018-06-19 18:12] Jahnp commented on #3218
Since this tool has been released, I'm going to go ahead and close this.

[2018-06-19 18:12] #3218 closed

[2018-06-19 18:17] dzearing commented on #4674
Closing.

[2018-06-19 18:17] #4674 closed

[2018-06-19 18:21] mattmazzola commented on #3423
I added this change to our app and it fixed a few of the cases I tested.  There are a few more cases that only reproduce under error conditions that I didn't test yet, but it's still good news! Thanks.

[2018-06-19 18:44] natalieethell commented on #5146
While debugging, it seems that neither `onChange` nor `onInput` is triggered when TextField's value is changed to undefined, which is what would call `_onInputChange` and as a result, set the state. I'll investigate these events a little more and see if there's a good workaround for this.

[2018-06-19 19:21] rebeccaballantyne commented on #4207
Yes.

On Tue, Jun 19, 2018 at 8:21 AM, Micah Godbolt <notifications@github.com>
wrote:

[2018-06-19 19:46] #4207 closed

[2018-06-19 20:06] paterasMSFT commented on #5198
I do not believe shouldInputLoseFocusOnArrowKey will help, as [_shouldInputLoseFocus](  private _shouldInputLoseFocus(element: HTMLInputElement, isForward?: boolean) {) does not get called when the ComboBox is disabled.

Our secenario is simply that there's a button in a FocusZone that cannot be reached via keyboard if a ComboBox is disabled. In the [aforementioned branch](https://github.com/pater

[2018-06-19 21:20] IanVS commented on #3218
This is great news!  Thanks for sharing.

[2018-06-19 21:37] dzearing commented on #5236
It is extremely likely that the bundler you're using does not support es6. Can you change the `\lib\` to `\lib-commonjs\` and see if that affects your results?

[2018-06-20 03:39] dongnguyen9186 opened #5262 "Detaillist Grid cell with long content is overlapped by vertical scrollbar until resize the window."
### Bug Report

- __Package version(s)__: 6.16.0
- __Browser and OS versions__: All browser

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Maybe)

Requested priority: (Normal)

#### Describe the issue:
Try the example here: https://developer.microsoft.com/en-us/fabric#/components/detailslist
Item with long content is overlapped by vertical scrollbar until resize brow

[2018-06-20 03:59] #5050 closed

[2018-06-20 05:08] dzearing commented on #3423
@dagoff or @oengusmacinog  Do you have any idea why passing in empty object for focusTrapZoneProps would change the behavior?

[2018-06-20 10:45] gykuma opened #5263 "Show Password button is not accessible using keyboard"
### Bug Report

- __Browser and OS versions__: Microsoft Edge 42.17677.1000.0

#### Priorities and help requested:

Requested priority: (Normal)

Products/sites affected: (VSTS)

#### Describe the issue:

1. Navigate to a TextField component of type password  `<TextField type='password' />` and type something
2. Try to view password while you type by accessing 'Show password' button using keyboard

[2018-06-20 12:40] anjali2408 opened #5264 "Narrator announces all the options of the menu when user navigates to the first option"
### Bug Report

- __Package version(s)__: 5.76.0

#### Priorities and help requested (not applicable if asking question):

Requested priority: (Blocking, High, Normal, Low) : Normal

Products/sites affected: (if applicable): Power BI Visio Visual

#### Describe the issue:

Command bar used with only far items defined. When the user clicks on any item in the commandbar to open a contextual menu , a

[2018-06-20 12:58] jerptrs commented on #5236
@dzearing jup, that was it. That fixed it for me, going to add now es6 support. Thank you ♥

[2018-06-20 15:25] JasonGore commented on #5234
Pivot conversion to JS styling was only partially imlemented via #4656. It will be finished soon.

[2018-06-20 16:05] satbai opened #5265 "Link in Error MessageBar doesn't meet color contrast requirements"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: all

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

#### Describe the issue:

Links in the Error MessageBar don't meet the MAS standards in color contrast. The ratio is 3.7:1 when it should be 4.5:1.
![image](https://user-images.githubusercontent.com/24945574/41670212-8764c5f0-7468-11e8

[2018-06-20 16:22] satbai opened #5266 "DropDown: control type is defined as list"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: all

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

#### Describe the issue:
 I believe the control type of the Dropdown should be combo box, at least that's what it used to be. If the current control type is correct, please provide details why.

![image](htt

[2018-06-20 16:32] ThomasMichon commented on #4947
@lovakumar @peterdur-msft @betrue-final-final How should we make the splitter keyboard-navigable? I had previously made it so, but it was confusing when using the arrow keys to navigate between column headers that focus would get 'hung up' on the splitter. *If* we provide a way to navigate to it, the splitter already has handling for keyboard eventing to move it.

[2018-06-20 16:34] ThomasMichon commented on #5235
@waabid Our Design team had previously requested that the checkboxes within individual rows not be focusable, preferring the 'space' key to bubble up to the parent row to toggle selection. However, Narrator will only read the toggle state if the focus is on an element with `role='checkbox'`, which the parent row may not have (since it has `role='row'` already). I am not sure how to make Narrator r

[2018-06-20 16:36] ThomasMichon commented on #3834
@SumiranAgg This issue should have been fixed by #5066. Could you re-test?

[2018-06-20 16:38] ThomasMichon commented on #5163
@arunnagar15 Narrator only reads selection toggle state if the focused element is of `role='checkbox'` it seems, but we need `role='row'` in order for the Accessible Grid to work correctly.
Do you think we might need to add a sub-element within the 'row' that actually receives focus and if of `role='checkbox'`, which is what you actually receive focus when navigating up and down in the list?

[2018-06-20 16:45] ThomasMichon commented on #4747
The table dimensions should have been fixed via #5066. @caradong it's worth testing again.

[2018-06-20 16:51] ThomasMichon commented on #4980
@satbai We can't use an `aria-label` here because the `aria-label` will then also be read as the name of the column, which is not desirable. The `aria-describedby` tells the user what the checkbox will do, while the checkbox's own `aria-label` (settable via `ariaLabelForSelectionColumn`) becomes the column header name.

[2018-06-20 16:54] ThomasMichon commented on #4240
It looks like we should be able to use the `aria-multiselectable` attribute to indicate whether the list supports selection at all.

[2018-06-20 16:57] ThomasMichon commented on #4142
I'm on this.

[2018-06-20 17:07] ThomasMichon commented on #5115
For (1), we'll need Design to chime in. @betrue-final-final do we want to change whether or not the header gets its own Tab stop?

[2018-06-20 17:13] #4535 closed

[2018-06-20 18:29] gykuma opened #5270 "DropDown: Narrator announces 'selection contains 0 items' on item selection"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (Microsoft Edge 42.17134.1.0)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (No)

Requested priority: (Normal)

Products/sites affected: (VSTS)

#### Describe the issue:

While using [Dropdown](https://developer.microsoft.com/en-us/fabric#/components/dropdown) control, on selecti

[2018-06-20 20:03] betrue-final-final commented on #5270
This has been coming up in several accessibility reviews. @michaelangotti, is this something @lynamemi or someone can look at?

[2018-06-20 22:50] betrue-final-final commented on #5265
This is no repro. If you inspect the actual link color and background, those values match.
Foreground:#005A9E
Background:#FACFD3

The contrast ratio is: 5.1:1

Text passed at Level AA
Text failed at Level AAA
Large text passed at Level AA
Large text passed at Level AAA

![image](https://user-images.githubusercontent.com/20363037/41688588-a096c846-74a1-11e8-914c-edd0c54eeeca.png)

[2018-06-20 22:50] #5265 closed

[2018-06-20 23:31] oengusmacinog commented on #3423
I haven't been able to dig into the code yet but that seems in line with what we talked about above.  There's a FocusTrapZone stack and somehow the Panel wasn't getting stacked ontop of the Dialog when open, so the FocusTrapZone for Dialog was active behind the Panel.  I'm guessing by passing the empty props it is somehow saying "I'm here" and properly going on the stack.

[2018-06-21 02:13] #5236 closed

[2018-06-21 02:13] dzearing commented on #5236
Glad it helped! Thanks for the followup!

[2018-06-21 02:18] dzearing commented on #4478
@joschect I do think we should remove protected and overriding; it's just not a good practice, but! not in the current major release. That is a huge change for partners.

@joschect When these were using autobind, were we able to use super correctly? Should we just move back to autobind for pickers?

[2018-06-21 02:29] joschect commented on #4478
Yes we were able to use it with autobind. We could go back to that for pickers, or why not just do the bindings in the constructors and comment it so it's noted as a current special case?

[2018-06-21 03:30] dzearing commented on #5056
Haven't heard back on this issue but the fix is mentioned above and in the release notes. Please re-open if you still have friction.

[2018-06-21 03:30] #5056 closed

[2018-06-21 03:31] dzearing commented on #5081
The `Grid` component is missing in Fabric. We want to add this. We are also adding `Stack`. @kkjeer will be helping to drive these efforts.

[2018-06-21 03:35] dzearing commented on #5123
Reopening the #4911 issue to track, assigned to a dev, we will fix.

[2018-06-21 03:35] #5123 closed

[2018-06-21 03:39] dzearing commented on #4504
@cliffkoh is there a way we can adjust the typings of Icons? I am a bit confused on the right way to do this.

[2018-06-21 03:40] dzearing commented on #4901
Once CollapsibleSection is ready, we should probably integrate into the experimental nav, and then move that to oufr.

[2018-06-21 03:43] dzearing commented on #4887
The component itself should not have an opinion about which commands are most important.

You're welcome to have wrapper logic which provides a different command configuration at different stops. This could be managed outside of the command bar.

[2018-06-21 03:43] #4887 closed

[2018-06-21 03:45] dzearing commented on #616
I am re-opening this! We have an updated SSR approach that is far better than the old one. We are just about complete with supporting it.

Assigning this to myself, will get this working.

[2018-06-21 03:47] dzearing commented on #4789
We will track this issue with #616. We have a working solution that is far better than configureLoadStyles.

[2018-06-21 03:47] #4789 closed

[2018-06-21 03:48] #4757 closed

[2018-06-21 03:55] dzearing commented on #3934
@jspurlin is this expected?

[2018-06-21 04:10] dzearing commented on #819
I did a quick scan on which components use `onChange`:

| Name |Signature |
|-------|----------|
| Checkbox | `onChange: (ev, checked) => void;` |
| ChoiceGroup | `onChange: (ev, option) => void;` |
| pickers | `onChange: (items) => void;` |
| SearchBox | `onChange: (newValue) => void;` |
| Slider | `onChange: (value) => void` |

It seems that `onChange` parameters are not consistently `ev, value`

[2018-06-21 04:12] dzearing commented on #5266
Needs some investigation.

[2018-06-21 04:30] natalieethell commented on #4990
Reopening this issue. We had to revert my change above due to a regression. I’ll continue looking into this more!

[2018-06-21 04:41] dzearing commented on #3195
picker related.@joschect

[2018-06-21 04:42] dzearing commented on #3335
This is done.

[2018-06-21 04:42] #3335 closed

[2018-06-21 04:44] dzearing commented on #3601
In our tsconfig.json, we use

[code]

This seems to solve the issue.

[2018-06-21 04:44] #3601 closed

[2018-06-21 04:46] dzearing commented on #3724
I think the issue here is that you need to insert a totally reset stylesheet in that domain. E.g.

If you render a button, the document page gets button styles injected.
If you render the button again, the styles won't be injected the second time.
If you render the button in an iframe using a portal, you would want a reset stylesheet inside of that context.

[2018-06-21 04:47] dzearing commented on #3724
This is pretty complicated. I'm not 100% sure we can do this easily.

I will assign to @cliffkoh and we'll discuss what can be done.

[2018-06-21 04:50] dzearing commented on #3881
@aditima no.

I think what we want to do is to avoid registering the font faces in file scope and allow the user to initialize the fonts, similar to how we do icons.

We did the global fabric config as a workaround.

[2018-06-21 05:00] dzearing commented on #4329
@NielZeeman network trace? Do you see any requests to fabricicons* files? Paste the urls.

[2018-06-21 05:01] dzearing commented on #4613
We will do this before the next major release. But @Nimelrian if you have cycles to help here, please submit prs! There are lots of small things to fix here.

[2018-06-21 05:42] #4013 closed

[2018-06-21 05:45] dzearing commented on #3730
Will track in #3881.

[2018-06-21 05:45] #3730 closed

[2018-06-21 05:47] dzearing commented on #3692
Sorry, yes

[2018-06-21 06:01] dzearing commented on #3285
I just tried this with the latest bits and can build a `Foo` component  just fine using `strictFunctionTypes`, subclassing `BaseComponent`, and implementing `IFoo` which extends `IBaseProps`. I can use the `Foo` component in a render, and everything builds correctly.

Closing as no repro, but please re-open if you still have friction!

[2018-06-21 06:01] #3285 closed

[2018-06-21 06:06] dzearing commented on #4232
@cliffkoh This may be a dupe of another bug i assigned you.

[2018-06-21 06:44] dongnguyen9186 commented on #5262
Any idea?

[2018-06-21 06:44] #5262 closed

[2018-06-21 07:07] dongnguyen9186 opened #5280 "DetailsList doesn't recalculate columns width correctly until resizing windows."
### Bug Report

- __Package version(s)__: 6.16.0
- __Browser and OS versions__: All browser

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Maybe)

Requested priority: (Normal)

#### Describe the issue:
Try the example here: https://developer.microsoft.com/en-us/fabric#/components/detailslist
Scroll to example: 'Advanced DetailsList of 5000 items, variable row heights

[2018-06-21 08:50] ssingh28 opened #5281 "Narrator is picking search completed for when navigating to a TextField on latest version of Edge"
MS Fabric React TextField is not working properly on SPO tenants default serach page .../_layouts/15/search.aspx on Edge with Narrator ON. It reads search completed when using keyboard someone tries to navigate to the textfield. This problem seems to be only in the latest version of the Edge Microsoft Edge 42.17134.1.0. This does not arise in the older version of Edge  41.16299.492.0.  This is hap

[2018-06-21 08:54] ssingh28 opened #5282 "TextField: Narrator is reading tooltip twice on Edge"
MS Fabric React TextField is not working properly on SPO tenants default serach page .../_layouts/15/search.aspx on Edge with Narrator ON. It reads the tooltip twice when using keyboard someone tries to navigate to the textfield. This problem seems to be only in the latest version of the Edge Microsoft Edge 42.17134.1.0. This does not arise in the older version of Edge 41.16299.492.0. This is happ

[2018-06-21 08:57] ssingh28 opened #5283 "TextField: Narrator does not read the error message on Edge's Latest Version"
MS Fabric React TextField is not working properly on SPO tenants default serach page .../_layouts/15/search.aspx on Edge with Narrator ON. It is not reading the error message related to a mandatory textfield when using keyboard someone tries to navigate to the textfield and then jumps to the next field. This problem seems to be only in the latest version of the Edge Microsoft Edge 42.17134.1.0. Th

[2018-06-21 09:06] ssingh28 opened #5284 "ChoiceGroup: Narrator does not pick text when navigating from one option to another which has Text and icon on Edge"
If the choicegroup control has text and an icon on it and if one navigates from one option to another Narrator does not announce the new option chosen. This can be reproduced on the fabric react page with Edge and Narrator ON.

[2018-06-21 09:33] ssingh28 opened #5285 "ChoiceGroup: cannot use arrows to move to other radio controls on Edge with Narrator"
On Edge with Narrator On it is not possible to navigate from one option to another of choice group. This behavior is also available on MS Fabric React page https://developer.microsoft.com/en-us/fabric#/components/choicegroup . Even here when the narrator is on it has to go through text on each individual buttons and righ and left cursor keys don't work..

[2018-06-21 09:35] chshrikh commented on #5162
we are observing same issue with "inspect". Inspect is not able to detect the drop down as required and marks "IsRequiredForForm" as false

[2018-06-21 09:35] ssingh28 opened #5286 "PeoplePicker: Cannot navigate through People Picker suggestions on Edge with Narrator ON"
This issue can be observed even on the MS Fabric page https://developer.microsoft.com/en-us/fabric#/components/peoplepicker  on Edge with Narrator ON

The only way people picker works is if the control comes via mouse rather than keyboard. Also once the item is chosen if backspace/delete is clicked Narrator reads out "unavailable". This same thing is read out when someone tries to type a name is t

[2018-06-21 09:37] ssingh28 opened #5287 "PeoplePicker: Cannot delete value from the control on Edge with Narrator ON"
This issue can be observed even on the MS Fabric page https://developer.microsoft.com/en-us/fabric#/components/peoplepicker    on Edge with Narrator ON

The only way people picker works is if the control comes via mouse rather than keyboard. Also once the item is chosen if backspace/delete is clicked Narrator reads out "unavailable". This same thing is read out when someone tries to type a name is

[2018-06-21 09:46] mdanielcristian opened #5288 "PeoplePicker: unwanted blur triggered"
### Bug Report

- __Package version(s)__: 6.4.1
- __Browser and OS versions__: Internet Explorer

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: High

#### Describe the issue:

People picker onblur event is called (not the input onBlur event) when clicking on the vertical scroll bar in the suggestions list. This should not happen in my opinion.

[2018-06-21 09:57] ssingh28 opened #5289 "ComboBox: Can't pick values from the control on Edge with Narrator ON"
This issue can also be observed on https://developer.microsoft.com/en-us/fabric#/components/ComboBox on Edge with narrator on. In this case the control doesn't allow to choose values using the keyboard arrow keys. Hence it becomes nearly impossible for a person with accessibility needs to navigate from oe option to another.

[2018-06-21 10:31] breakingthings opened #5290 "DatePicker: onRenderPrefix, onRenderSuffix"
Hi,

could we add onRenderPrefix  and onRenderSuffix to datepicker textbox so we can render for example clear button inside datepicker textbox?

[2018-06-21 11:54] Nimelrian commented on #4613
I'll see if I can get a local clone of fabric setup and do some work over the coming evenings. No promises though 😄

[2018-06-21 13:50] jspurlin commented on #5173
@chang47 Didn't you fix this already?

[2018-06-21 14:29] jspurlin commented on #3934
@dzearing I wasn't aware of that prop and upon looking, it was introduced by https://github.com/OfficeDev/office-ui-fabric-react/pull/3430 . It looks like it's doing what it is supposed to do.

It's not exactly clear what is being described as the bug in this issue, but the role should be button and if the creator passes in a title or arialabel that will be used for the splitButton. Additionally,

[2018-06-21 14:56] levid-gc commented on #3602
I also encounter problem similar to this! I have created a component base on Fabric Dialog component, but when I test it using Jest, the snapshot is also `<span class="ms-Layer" />`, in addition, I couldn't use enzyme to find the expected element and simulate an event against it. Is there some helpful advice?

[2018-06-21 15:25] LeonidasFettikus opened #5292 "Icons not showing except on Icon component"
Hi guys, we are working on a project with a OUI Front End. I have a problem with the Icons not showing up on various components. We have been working on this since 1 1/2 years and it worked until I deleted the node_modules folder and did a npm install again. My colleague could confirm this, after he did a fresh npm install, the problem also appeared on his dev machine.

The weird thing is, when I

[2018-06-21 15:30] chang47 commented on #5173
I fix this for our scenario where we wanted to specify a limit for our maxWidth in the combo box, I did not do anything in this scenario where we want to set the width of our combo box as our maxWidth.

However, with the existing change I have made, it's just a matter of setting the maxWidth to be that props value. I'll make a quick change and see how it looks.

[2018-06-21 15:55] chang47 commented on #5173
Made a PR for this: https://github.com/OfficeDev/office-ui-fabric-react/pull/5293

[2018-06-21 16:28] dzearing commented on #5292
Are you calling `initializeIcons` in your application?

https://github.com/OfficeDev/office-ui-fabric-react/wiki/Using-icons

[2018-06-21 16:46] jspurlin commented on #5289
@ssingh28 , is this specific to scan mode? If so it sounds like it may be a bug in Narrator

[2018-06-21 16:54] dzearing opened #5295 "Add Text component"
[ ] Step 1
[ ] Step 2

[2018-06-21 16:55] #5295 closed

[2018-06-21 17:29] dzearing commented on #5292
Also, do you have 2 copies of icons in your bundle for whatever reason? (maybe search for initializeIcons definition and see if there are 2 copies.)

[2018-06-21 18:31] dzearing commented on #5263
This would be an Edge issue. This has nothing to do with Fabric, but is a built into the browser. You are welcome to file Edge issues here:

https://issues.microsoftedge.com/

[2018-06-21 18:31] #5263 closed

[2018-06-21 18:35] dzearing commented on #4938
@ssingh28 can you respond to @JasonGore 's question?

[2018-06-21 19:31] dzearing commented on #3785
@aditima @ThomasMichon just fyi here; this one I believe is still an issue. I vaguely remember some work in trying to make cells focusable that may be causing this.

[2018-06-21 20:03] dzearing commented on #5281
@ssingh28 why would this be a Fabric React bug? This sounds like a product implementation issue.

[2018-06-21 20:04] dzearing commented on #5281
An input box is not going to give you localized narrator strings. The product code should be providing the right values for ariaLabel, no? Is there a code bug in SharePoint or in the actual vanilla component?

[2018-06-21 20:13] dzearing commented on #5281
If you can please provide codepen examples for issues, that would clarify if the control has an issue, or if the product has an issue. Please evaluate the right place to push issues to and resubmit if you think there is an underlying component problem.

[2018-06-21 20:13] #5281 closed

[2018-06-21 20:24] dzearing commented on #5285
@kkjeer Can you please help investigate this? I'm unsure if this is a real issue or an Edge/Navigator issue.

[2018-06-21 20:24] dzearing commented on #5284
@kkjeer Can you please help investigate this? I'm unsure if this is a real issue or an Edge/Navigator issue.

[2018-06-21 20:28] JasonGore commented on #5285
ChoiceGroup navigation seems to be working fine with me when using Narrator and Edge. I can switch between options as expected. It does not go through text.

This seems to be a duplicate of #4938.

Are you sure [scan mode](https://support.microsoft.com/en-us/help/22809/windows-10-narrator-using-scan-mode) is not enabled?

[2018-06-21 20:29] JasonGore commented on #5285
I'm going to close this as a duplicate of #4938.

[2018-06-21 20:29] #5285 closed

[2018-06-21 20:35] dzearing commented on #786
We are going to do this!

[2018-06-21 20:36] JasonGore commented on #5284
`ChoiceGroups with images` example (as well as all of the others) is vocalizing options when selected and changed in Edge and Narrator.

@ssingh28 Please confirm you don't have Narrator's [scan mode](https://support.microsoft.com/en-us/help/22809/windows-10-narrator-using-scan-mode) enabled. This seems to be a potential common cause of the types of issues you're reporting.

[2018-06-21 21:17] chang47 commented on #5173
@vivianhoang I believe you can do so now after my changes done in this PR: https://github.com/OfficeDev/office-ui-fabric-react/pull/5200

You just need to set the new "dropdownMaxWidth" prop to the max value you want and set "useComboBoxAsMenuWidth" to be true and you should get the effect that you're looking for.

[2018-06-21 21:31] JasonGore commented on #5216
Can you see if #5210 resolves the behavior you're seeing? Thanks

[2018-06-21 21:33] #5231 closed

[2018-06-21 21:36] micahgodbolt commented on #3785
I know Rishu Mehndiratta asked me about this bug just today

[2018-06-21 21:45] NigelWit opened #5299 "How do I dynamically style DetailsRow"
I am using the DetailsList component for rendering out a list of tasks, and I want to style the rows based on the task status. I tried using an onRenderRow handler to add a className to the DetailsRow, but that seems to be ignored:

_onRenderRow = (props) => {
    return <DetailsRow {...props} className={"overdueTask"} />;
  }

I guess I could use the onRenderColumn and style each column of the ro

[2018-06-21 21:46] staylo8 opened #5300 "CommandBar needs a way to take overflowMenuProps"
### Bug Report

- __Package version(s): 6.0
- __Browser and OS versions: N/A

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)
Yes

Requested priority: (Blocking, High, Normal, Low)
Normal

Products/sites affected: (if applicable)
Owa Mail

#### Describe the issue:

The CommandBar in 6.0 has a lingering OverflowMenuProps prop that isn't read. This prop was adde

[2018-06-21 22:06] peterdur-msft commented on #4947
Checked in with teammate and got the following suggestions:

Since this is a grid, it should always support keyboard interaction pattern for a grid, i.e. using arrow keys should allow navigating to the next/previous columns.

There is no specific accessible interaction pattern for this scenario per se but we can try adding keyboard support for moving the splitter using different key combinations:

[2018-06-21 22:11] micahgodbolt commented on #5300
we can either mix items into overflowButtonProps.menuProps (which would require dummy items data), we could support overflowMenuProps (which feels unnecessary) or create a new interface that Excludes the typical menuProps and replaces it with Partial<IConetextualMenuProps> which unfortunatly would minbar us to TS 2.8

[2018-06-21 22:18] dzearing commented on #5299
You have a couple of options:

Your column can take in a classname (so if you want to style a particular cell, you can use that.)

You can use onRenderRow and override defaults. What you suggested should work fine. However, you might fight css specificity. I just tried it here, and had to do some specificity fighting to get the overriding.

https://codepen.io/dzearing/pen/wXjore?editors=0110

[2018-06-21 22:18] #5299 closed

[2018-06-21 22:31] d-khoury commented on #4169
Any update on this?

[2018-06-21 22:43] phkuo commented on #1839
The theming in Classic and Modern SharePoint and inherently incompatible. They're basically speaking a different language (i.e. all the keys are different). If you set a theme via the Modern theming experience, the server will attempt to create a theme that will work in Classic.

However, theming must be invoked by global app/host code. Classic pages will trigger theming for Classic components, bu

[2018-06-21 22:44] lorejoh12 commented on #4916
From what I understand, the "actual behavior" you have listed above isn't quite accurate.

looking at the codepen, it seems to me that the actual behavior is this:
`Thu May 31 2018 00:00:00 GMT+0100 (GMT Daylight Time)` < DatePicker value
`Wed May 30 2018 23:00:00 GMT+0100 (GMT Daylight Time)` < DatePicker conversion result using js/moment, rather than 01:00:00 as listed above

So basically, the i

[2018-06-21 23:14] dzearing commented on #5021
@cschlechty Do you have thoughts on this?

[2018-06-21 23:14] oengusmacinog commented on #4169
@d-khoury Currently in progress actually so there should be a PR in the next week if all goes smoothly.

[2018-06-21 23:17] dzearing commented on #4694
I'm a bit confused. This is just TypeScript output. What should be we doing differently? Cleaning up for TypeScript?

[2018-06-21 23:28] cschlechty commented on #5021
I'd agree. For basic controls with well defined behavior we shouldn't be embedding usage strings. The AT can add that, and it is usually a user configurable setting.

[2018-06-21 23:31] dzearing commented on #4824
As 6.0 has released, I want to assume you're gotten pass this.

If you're still hitting this, please let us know and we can dig in more, but I'm not really sure unless you can isolate your repo.

[2018-06-21 23:31] #4824 closed

[2018-06-21 23:43] dzearing commented on #4694
Per discussion, will close.

[2018-06-21 23:43] #4694 closed

[2018-06-21 23:47] dzearing commented on #5194
maybe faster to just make a fix for the 3 places?

[2018-06-21 23:54] lorejoh12 commented on #4916
I did a little bit more investigation. From what I can tell:

the datePicker returns back a normal Javascript Date value, in the current timezone. like: "Sat Jun 02 2018 00:00:00 GMT-0700 (Pacific Daylight Time)"

consuming a date using js/moment also creates a normal Javascript Date. So if you create a moment from the date given back by the onSelectDate callback, since both are in the system's lo

[2018-06-21 23:55] aditima commented on #1839
Hi, the core issue here seems to be that the documentMode is set IE10 in the SharePoint master page. Fabric does not support IE10 documentMode and the default documentMode for SP has recently been updated to Edge. If you are using a custom master page, please consider updating your documentMode to IE11 or Edge to work with Fabric.

[2018-06-21 23:57] NigelWit commented on #5299
Ok thanks a lot David - love your work!