[2019-03-06 03:57] piyumi25 commented on #8131
Thank you for your reply.

[2019-03-06 03:57] #8131 closed

[2019-03-06 05:45] v-doku commented on #7115
@JasonGore have linked my account to Microsoft organization can you please share the bug link now.

[2019-03-06 06:14] #8197 closed

[2019-03-06 07:12] v-doku commented on #7217
@aneeshack4 Regarding Bug1 it does not says about aria-required but aria-valuenow to be included in code. Please look in to the expected result column.

I guess confusion was caused due to 'required aria attribute' which is mentioned, which means a mandatory aria attribute(aria-valuenow) should be present for SpinButton

[2019-03-06 07:19] preetriti1 opened #8211 "[Accessibility] Dropdown with custom list rendering incorrectly sets aria-activedescendant"
### Environment Information

- __Package version(s)__: 6.151.0
- __Browser and OS versions__: Windows 10, Chrome - 72.0.3

### Please provide a reproduction of the bug in a codepen:
 https://codepen.io/preetriti1/pen/bZByQB

#### Actual behavior:
![image](https://user-images.githubusercontent.com/48265693/53862537-8d533780-3f9c-11e9-9a44-c418e688af2b.png)
aria-activedescendant is incorrectly set f

[2019-03-06 07:22] aftab-hassan commented on #8176
@joshburnssp Could you please take a look at this codepen which sets a placeholder.
https://codepen.io/aftab-hassan/pen/Mxjjvj

If the scenario that does not work for you is different, would you be able to provide us a codepen that captures the issue? That would help us understand better and get back. Look forward to helping fix this.

[2019-03-06 07:37] DhirajKhot commented on #8078
We have new issues with this fix.
The current date is announced as editable - which is wrong.
For other dates Narrator is announcing the column header but the dates are not announced.
It is announcing some irrelevant info - no current char.

![image](https://user-images.githubusercontent.com/20378231/53863683-cd540200-4010-11e9-8792-6f869275bf44.png)

[2019-03-06 07:46] rejoystom commented on #6951
Guys all your problems are caused by a typo... 'onChange' (javascript) and 'onChanged' (JSX) are different.
Just replace with 'onChanged={this.yourFunction.bind(this)}'

[2019-03-06 07:48] rejoystom commented on #6521
'onChange' (javascript) and 'onChanged' (JSX) are different.
Try using this 'onChanged={this.yourFunction.bind(this)}'

[2019-03-06 09:31] skunani commented on #8136
This behavior is not consistant.
In the same page https://developer.microsoft.com/en-us/fabric#/components/datepicker
Tab to the "DatePicker with week numbers"
Here the focus is trapped on Date picker until the date is selected
Why there is a change in the behavior here.

[2019-03-06 09:36] skunani commented on #8080
There are two isses here
1. Onfocus issue : Calendar should not be opened immediately while tabbing through Date
      User Impact: Keyboard only users could feel inconvenience while navigating through the controls if
      onfocus issue is observed for the calendar
2. JAWS is not reading the labels for the DatePicker control
     User Impact:  Screen Reader users could feel difficulty while worki

[2019-03-06 09:52] joshburnssp commented on #8176
Here is a [codepen](https://codepen.io/joshburnssp/pen/vPgOGv), can't get it too work on there either...

am i doing something wrong?

[2019-03-06 12:15] redoz opened #8212 "All ContextualMenu samples rely on the Button component."
It would be nice to have some samples on how to use the  `ContextualMenu` outside the context of a `Button`.

[2019-03-06 14:19] HeinPauwelyn opened #8213 "No red border when a text field is invalid"
# Environment Information

- __Package version(s)__: `@microsoft/sp-office-ui-fabric-core` = 1.7.1
- __Browser and OS versions__: Chrome on Windows 10

# Actual behavior

I've a required text field and a required date picker. See code below:

[code]

Both got a difference way to show that there is an error on that field when the field has been unfocused: The text field don't has a red border in co

[2019-03-06 14:49] JasonGore commented on #8136
@leddie24 It's true we should at least be consistent. I would treat this as a bug and settle on one way or another.

[2019-03-06 17:04] ustun commented on #7581
Thanks @jeremy-coleman I'll give it a try and let the other project know too.

[2019-03-06 17:06] Xander667 opened #8215 "FocusZone doesn't focus correctly with callouts/ListPeoplePickers with lots of items"
<!--
Thanks for contacting us! We're here to help.

Before you report an issue, check if it's been reported before:

  * Search: https://github.com/OfficeDev/office-ui-fabric-react/search?type=Issues
  * Search by area or component: https://github.com/OfficeDev/office-ui-fabric-react/issues/labels

Please provide a reproduction of the bug in a codepen, if possible. Here’s how:
I struggled getting

[2019-03-06 18:02] #7684 closed

[2019-03-06 18:11] leddie24 commented on #8101
@jayleems2018 messaged me offline on Teams.  Here's the example of his UI usage:

![microsoftteams-image](https://user-images.githubusercontent.com/1291968/53903215-fcaa4500-3ff7-11e9-955e-53fa565cdf03.png)

@jayleems2018: I'm not experiencing that when I implement a `DatePicker` in a `Panel` on my end.  I just dropped `DatePicker` in the basic small right side example of `Panel` and it shrinks/gr

[2019-03-06 18:31] aneeshack4 commented on #7115
Sent the Edge links on teams to @v-doku.

[2019-03-06 18:31] #7115 closed

[2019-03-06 18:34] JasonGore opened #8217 "Post OUFR bundles from PR builds"
**Describe the feature that you would like added**\

#8216 has a bunch of CodePens using ngrok and made me realize it'd be nice to have a hosted bundle built off of PRs that could be used in CodePens.

**What component or utility would this be added to**

CI Deploy I guess.

**Have you discussed this feature with our team, and if so, who**

Briefly verbally mentioned to @kenotron

**Additional con

[2019-03-06 19:54] JasonGore commented on #6989
@danmarshall We currently support this via `Customizer`. You can do something like:

[code]

You can even nest `Customizer`. This assumes your components are built using the `styled` helper. The `styled` helper automatically grabs the theme as loaded by either `loadTheme` and/or `Customizer` (with the closest parent `Customizer` having higher priority.)

There's an recent demo we created showing t

[2019-03-06 20:06] #7086 closed

[2019-03-06 20:09] aneeshack4 commented on #7217
@v-doku Ah I see now K4W is complaining about aria-valuenow not being provided. Please read the [comment above](https://github.com/OfficeDev/office-ui-fabric-react/issues/7217#issuecomment-469862686) where I explain that this is correct behavior according to the Aria spec.

[2019-03-06 20:13] orokanasaru opened #8221 "Enable option to continue showing beak when Coachmark is expanded"
**Describe the feature that you would like added**

We're using a Coachmark with TeachingBubbleContent, but our designers want to keep showing the beak when the teaching bubble expands. As of #6158, the beak is only rendered when collapsed. There should be an option for this behavior.

**What component or utility would this be added to**

Coachmark

**Have you discussed this feature with our team,

[2019-03-06 20:16] aneeshack4 commented on #8078
@lorejoh12 can you take a look at this new issue that @DhirajKhot has found? I'm off shield and onto other work now so I don't have the bandwidth for any more work on Calendar.

[2019-03-06 20:54] leddie24 commented on #8139
Hi @HalcyonPride, I can't seem to repro this bug.  Can you please provide a screen recording of the bug? Thanks!

[2019-03-06 21:38] YuningB opened #8223 "Floating Picker Suggestion Header ClassName Props"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

#### Expected behavior:

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected

[2019-03-06 21:52] Adjective-Object commented on #8223
The details are:
When className is passed to SuggestionsHeaderFooterItem, it does not render with that className on the suggestion headerfooter div.

See
https://github.com/OfficeDev/office-ui-fabric-react/blob/3551e64e93e56e7df1488041b7695ab75a97ebc5/packages/office-ui-fabric-react/src/components/FloatingPicker/Suggestions/SuggestionsControl.tsx#L29-L48

[2019-03-06 21:59] aftab-hassan commented on #8221
@kenotron @micahgodbolt The [PR](https://github.com/OfficeDev/office-ui-fabric-react/pull/6158) linked to, above, adds an `isCollapsed` check for showing the beak.

The requested behavior here, is to have the beak as an option, so as to keep showing it, even when expanded. What is the behavior we would like to go with? Would like to get your thoughts.

[2019-03-06 22:13] lukehumphrey opened #8224 "Accessibility blocker: Calendar control year up/down buttons don't read anything out on pressing return/spacebar"
This bug is preventing Project from passing a PWD usability test.
repro:
1. Edge > Narrator on.
2. Open calendar control with month picker shown.
3. Tab to up arrow to change year on month picker
4. Result: SR reads out our arial label announcing year. Good.
5. Hit enter to change year.

Expected: SR re-reads out aria label with new year context.
Actual: SR doesn't read out anything.

Can this be

[2019-03-06 22:24] lukehumphrey opened #8225 "Accessibility blocker: Calendar control: Tabbing inside control unexpectedly tabs to top of page"
This bug is preventing Project from passing a PWD usability test and has been identified as a MAS bug.

repro:
Use Edge
Open calendar control with month picker shown.
Tab 7 times inside control

Expected: Tab cycles inside control.
Actual: Tab reset to the browser address bar. Shift+tab does not exhibit this behavior (works as expected). Only forward tabs are broken here.

Can this be fixed in the

[2019-03-07 00:37] denniscoh commented on #8128
@natalieethell We just tried passing aria-live to MessageBar, and it works great.  Thank you!

Closing this bug.

[2019-03-07 00:37] #8128 closed

[2019-03-07 00:43] MichaelKnightMSFT opened #8230 "SplitButton in Touch doesn't work correctly"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
 https://codepen.io/anon/pen/oVBORo
Click Hello World with mouse
Notice Alert pops up saying hello
Now tap with touch
Notice drop down appears instead with other options

#### Expected be

[2019-03-07 00:53] aftab-hassan commented on #8217
@JasonGore I modified the build definition on `Azure Dev Ops` to push the `dist/office-ui-fabric-react.js` file which we would like to use instead of `ngrok`'ing it. This generates a file like below on every `PR` (`container id is the variable`)

https://uifabric.visualstudio.com/_apis/resources/Containers/3192849?itemPath=oufrdrop%2Foffice-ui-fabric-react.js

But looks like `Azure Dev Ops` has me

[2019-03-07 01:00] #8121 closed

[2019-03-07 01:19] aftab-hassan commented on #8213
@ecraig12345 `DatePicker` shows a red border for two scenarios - `invalidInputErrorMessage`, `isOutOfBoundsErrorMessage` and `isRequiredErrorMessage`.

`TextField` only shows the red border for `errorMessage`

Could you confirm if we would like to add a red border for `TextField` even if there is input missing, as the per the issue raised.

[2019-03-07 01:19] YuningB opened #8231 "Floating Picker Suggestions List Width"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

#### Expected behavior:

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected

[2019-03-07 01:19] aftab-hassan commented on #8213
@HeinPauwelyn thank you for the codepen, and raising the issue. We are taking a look at it.

[2019-03-07 01:45] awalia13 opened #8233 "Image fabric A11y Pass"
Tracking all of the issues brought up with the 03/06 accessibility pass on Image fabric control
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B4de95463-5ae6-4ac4-a046-ee613df0e0fc%7D&action=default&uid=%7B4DE95463-5AE6-4AC4-A046-EE613DF0E0FC%7D&ListItemId=1862&ListId=%7B395E1ECB-500

[2019-03-07 02:34] aftab-hassan commented on #8215
@Xander667 could you please provide a codepen for this, or update the description with details of the issue?

[2019-03-07 06:11] v-doku commented on #7217
@aneeshack4 referring to the same spec .

![image](https://user-images.githubusercontent.com/47735112/53935472-64ca5b00-40cc-11e9-9825-b3dcbe10f472.png)

Also referring to this (https://www.w3.org/TR/wai-aria-1.1/#spinbutton) it says aria-valuenow attribute is a must for spinbutton.

[2019-03-07 06:33] aneeshack4 commented on #7217
`aria-valuenow` IS already set in SpinButton.tsx:
![image](https://user-images.githubusercontent.com/4161791/53936681-8f31ff00-405f-11e9-9c97-974b95d28dfe.png)
Please read the whole spec if you look 2 paragraphs below what you marked in red, you'll see: "If `aria-valuetext` is specified, assistive technologies _**SHOULD**_ render that value _**INSTEAD**_ of the value of `aria-valuenow`." Which is

[2019-03-07 06:57] v-doku commented on #7217
The Url (https://uifabric-prod.azurewebsites.net/?example=jhkjhkj#/components/spinbutton) on which I am verifying this upon inspecting it does not has aria-valuenow attribute present in code please refer below screenshot.

![image](https://user-images.githubusercontent.com/47735112/53937220-82022800-40d2-11e9-818f-bdabf4728346.png)

Due to which K4W tool is throwing below error.

![image](https://

[2019-03-07 07:11] aneeshack4 commented on #7217
I see that K4W is throwing an error but this is following the ARIA spec because we are setting both `aria-valuetext` and `aria-valuenow` as you can see in the code screenshot above. I think Keros is erroring because like the ARIA spec says, **ATs don't render `aria-valuenow` if `aria-valuetext` is set**.

[2019-03-07 07:16] sonimishra opened #8235 "[Screen Reader - Forms Pro-Invitation Details] On the Invitation page, after pressing spacebar on the sorting key of the table, Screen Reader is not providing the sorting information."
Please provide a reproduction of the bug in a codepen, if possible. Here’s how:
![mas1 3 1-screen reader is not providing the check and unchecked information](https://user-images.githubusercontent.com/30456910/53938579-b2e45c00-40d6-11e9-9cdf-6e65b6e73954.png)

User Experience:

If, the Screen Reader is not announcing the sorting information of the table after pressing spacebar on the column heade

[2019-03-07 07:19] v-doku commented on #7217
I think the above code has still not gone live because can't see that attribute in code as of now on my end.

[2019-03-07 07:22] aneeshack4 commented on #7217
It is live: https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/SpinButton/SpinButton.tsx#L185

[2019-03-07 07:24] #8223 closed

[2019-03-07 12:39] DhirajKhot commented on #8078
@lorejoh12 Can we reopen this bug to track the progress?

[2019-03-07 14:32] HeinPauwelyn opened #8236 "Logging 4 chars when mask is "999" on MaskedTextField"
## Environment Information

- __Package version(s)__: `@microsoft/sp-office-ui-fabric-core` = 1.7.1
- __Browser and OS versions__: not relevant

## Actual behavior

I've created a masked text field using the mask `999`, because I'll have maximal 3 numbers. The problem that I've is when the user enters 4 numbers by mistake _(eg. 1234)_, the console logs `"1234"`. That are 4 numbers instead of maxim

[2019-03-07 18:06] micahgodbolt commented on #8221
beak visibility is a prop setting. so we probably just need to make sure that this prop is accessible from the coachmark.

[2019-03-07 19:12] YaokaiYang-assaultmaster opened #8238 "Adding icon support for Dialog title"
**Describe the feature that you would like added**

For now the `Dialog`'s title can only be string. Can we support adding `Icon` to a title?

**What component or utility would this be added to**

`dialogContentProps.title` of `Dialog`

**Have you discussed this feature with our team, and if so, who**
Not yet

**Additional context/screenshots**

Like this:
![image](https://user-images.githubuserco

[2019-03-07 20:01] ecraig12345 commented on #8213
This is probably a better question for a designer. @Jahnp Do you know which designer to ask about TextField?

[2019-03-07 20:39] micahgodbolt commented on #8137
it appears that state gets updated when clicking on a nav item, but the previously selected item still seems to have the original styles. new styles aren't getting calculated in this case?

[2019-03-07 20:57] #7217 closed

[2019-03-07 21:26] KevinTCoughlin commented on #7690
Re-opening this issue since we had to revert the change in https://github.com/OfficeDev/office-ui-fabric-react/pull/8237 due to runtime errors in certain scenarios.

[2019-03-07 21:54] lukehumphrey commented on #7991
Hi guys - this bug was flagged for us in an accessibility usability validation assessment and will currently block us from passing this validation (MS Project).
If this is an Edge bug, can you let me know bug #/details ? lukehum@microsoft.com.
Thanks!

[2019-03-07 22:55] aftab-hassan commented on #8230
@chang47 Based on this [PR](https://github.com/OfficeDev/office-ui-fabric-react/pull/4353), wanted to get your thoughts on whether this behavior is expected.

[2019-03-07 23:00] chang47 commented on #8230
This is an expected behavior.

The decision was made by the Athens Accessibility Group that makes the accessibility guidelines that we should follow to be compliant.

Specifically the concern was that users will have a hard time hitting the menu button and instead would hit the primary button.

The reason why this is okay is, because in theory, the primary button should also be an option inside th

[2019-03-07 23:17] xli1000 opened #8240 "GroupedList does not update when an item is changed"
### Environment Information

- __Package version(s)__: 6.118.0
- __Browser and OS versions__: Windows 7, Chrome 72.0.3626.81

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/qvmEYZ

#### Actual behavior:

Click the Update button. The second list item's data will be updated, but the list item does not re-render in the UI.

#### Expected behavior:

The second

[2019-03-07 23:29] erichdev opened #8241 "Dialog: Class is applied twice"
### Environment Information

- __Package version(s)__: 6.145.0+

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/erichdev/pen/rRmagV

#### Actual behavior:

Not sure if this is intended behavior, but when a className is passed to `Dialog`, it is applied twice:

`<Dialog className='XXXXXXXXX'  />` results in:

[code]
With 6.144.0 and below, this is the result:
[code]

[2019-03-07 23:34] micahgodbolt commented on #8153
I don't think this is currently possible outside of pretty specific CSS overrides. The best bet would be wrapping with flex and allowing flex-grow on the content. This isn't currently possible with existing IPivotStyles

[2019-03-07 23:35] KevinTCoughlin commented on #8240
Requires further investigation, but it looks like it might be a bug.

I tried to follow our recommended immutability practices added in https://github.com/OfficeDev/office-ui-fabric-react/pull/8201 and still see that the inner `List` does not re-render until a resize or collapse action triggers a `forceUpdate`.

Codepen: https://codepen.io/kevintcoughlin/pen/pYPJjz

[2019-03-08 00:56] aftab-hassan commented on #8241
@jspurlin could you advise on whether this is a result of [PR](https://github.com/OfficeDev/office-ui-fabric-react/pull/8065) and we mean to keep it?

[2019-03-08 01:29] aftab-hassan commented on #8236
@HeinPauwelyn thanks for the codepen. Tagging as `bug`.

[2019-03-08 01:43] ttaylor1218 opened #8242 "Remove "sideeffects: true" from styling"
### Environment Information

- __Package version(s)__: 6.152.1
- __Browser and OS versions__: (Chrome 72, Windows 10)
`import * as React from "react";`
`import { Component } from "react";`
`import { render } from "react-dom";`
`import { Fabric } from 'office-ui-fabric-react/lib/Fabric';`
`export default class App`
`  	extends Component`
`{`
` 	render()`
`  	{`
`  		return <Fabric>WOHOO!!!</Fabric>

[2019-03-08 02:02] aftab-hassan commented on #8225
@lukehumphrey thanks for reporting. Able to see this bug.

[2019-03-08 02:05] ttaylor1218 commented on #8242
I was able to work around the issue by loading an empty theme:
`import { loadTheme } from '@uifabric/styling';`
`loadTheme({});`

However, this isn't required to make development build work.

[2019-03-08 02:27] aftab-hassan commented on #8195
@phkuo could you please help triage this issue? Is this a feature we'd like to add ?

[2019-03-08 02:32] phkuo commented on #8195
IStyle only targets the browsers we support, which includes IE11. Since this would cause an unexpected divergence in styles in IE11 as compared to other browsers, it is not something we would support.

Unfortunately this is by design.

@dzearing

[2019-03-08 02:44] aftab-hassan commented on #8187
@PatoBeltran thanks for submitting this issue. This does seem like a bug in the case of large text.

Would you be a willing to submit a fix for this issue?

[2019-03-08 03:42] jspurlin commented on #8241
@aftab-hassan Yes, it looks like it is a result of that PR and it seems like it should be something more like
[code]
the modal className is getting incorrectly applied to the layer. It looks like was trying to only update the layer's className if needed but was using the props.className instead of layerProps.ClassName.

Yes, this can be removed

[2019-03-08 04:04] #5615 closed

[2019-03-08 04:04] natalieethell commented on #5615
Announced was promoted to OUFR in PR #8147.

[2019-03-08 09:40] lijunle opened #8244 "The primitive object of CSS in JS pholosophy"
I am not sure if this is a question or a feature request. May want some clarifications on the CSS in JS philosophy.

---

Let me start with writing a `App` component using some fabric-react components:

[code]

Then, I write some CSS in JS to prettify the component:

[code]

Then, I want to use the styles in my `App` component. The `persona` part is easy:

[code]

But, I do need to convert the `IS

[2019-03-08 14:09] redoz commented on #8195
@phkuo That's fine for OUFR, but if I use this to build my own components in an app I might not care about IE11 compatibility. Would be nice to have the freedom to decide for myself what I want to support.

[2019-03-08 15:15] dzearing commented on #8195
We definitely will want this support as well as other things missing. We have another bug tracking the grid work, but adding the typings to the file is a really easy first step. We will add this but if you already have a pr youre prepping let us know

[2019-03-08 15:41] redoz commented on #8195
No, I've learned my lesson, no PR until approval of approach ;)
But frankly I'm quite busy getting this PoC off the ground, so I'm not sure I'll be able to get to it in a timely manner.  Once I have a bit more breathing room I'll check in, if it still needs to be picked up I might take it on then.

[2019-03-08 15:54] raghavendra-kodimala opened #8245 "TextField icon is overlapping with placeholder in RTL direction"
### Environment Information

- __Package version(s)__: (5.122.3)
- __Browser and OS versions__: (Chrome: 72.0.3626.121 (Official Build) (64-bit), Microsoft Edge: 44.17763.1.0, Microsoft Windows 1809)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
Icon is overlapping placeholder text in RTL direction
<img width="130" alt="textfield-rtl-img" src="https://user-imag

[2019-03-08 19:03] justinmwarner commented on #6893
@micahgodbolt any update on this new component?

[2019-03-08 20:57] leddie24 commented on #8137
From investigating, I think `location.href` isn't updated at the same time (it still thinks the page is on the old URL) as state, which results in showing 2 items as being selected.  I think the proper fix here is to only check `location.href` if `this.state.selectedKey` is `undefined`, unless you have another suggestion? I'll create a PR soon.

[2019-03-08 21:58] phkuo commented on #8195
@dzearing Can we have something like "raw"/"eval" that lets you add arbitrary stuff separately? (Something opt-in like dangerouslySetInnerHTML.) Since part of the big benefit of type-checking is that you'll get in-IDE errors if it's not supported. We already get more than enough IE regressions as it is now, I don't want more....

[2019-03-08 22:38] jleck commented on #3692
@omidnavy I had the same problem. After a little investigation, I found the function that causes the issue:

https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/utilities/src/object.ts#L94

It uses a global incrementing counter (`window` on client or `process` on server). To reset, add the following to somewhere that runs before every render:

`process.__currentId__ = 0`

[2019-03-08 22:39] jleck commented on #616
@juliomenendez  I had the same problem. After a little investigation, I found the function that causes the issue:

https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/utilities/src/object.ts#L94

It uses a global incrementing counter (`window` on client or `process` on server). To reset, add the following to somewhere that runs before every render:

`process.__currentId__ = 0`

[2019-03-08 22:57] leddie24 commented on #8136
@JasonGore, does your FocusZone refactor PR fix this issue? For our current component, it looks like simply commenting out the logic for `_lastTabbableChild` in `_onKeyboardHandler` (lines 190 - 192) fixes this issue and allows FocusTrapZone to escape and visit the nav bar, but your PR looks like it's removing that whole code block entirely.

[2019-03-08 23:01] leddie24 commented on #8165
@dzearing, I'm not sure how to approach/fix this issue, it looks like it was caused by your PR #8032.  Is this something you want to fix, or can you connect offline to help walk me through this issue?

[2019-03-08 23:04] JasonGore commented on #8136
I think it does, actually. [Here is the new DatePicker](http://fabricweb.z5.web.core.windows.net/pr-deploy-site/refs/pull/8216/merge/fabric-website-resources/dist/index.html#/examples/datepicker) based on my changes in #8216. It seems to behave more correctly than the master version of the same page.

[2019-03-08 23:07] JasonGore commented on #8136
@skunani If you see any problems with the link I provided in the previous post, please let us know. I'll mark #8216 as fixing this issue for now.

[2019-03-08 23:13] leddie24 commented on #8136
Ok gotcha, here's a video of it in action.  It seems to keep the focus in the DatePicker to be consistent with the other variants.

https://streamable.com/zc06v

However, this does prevent the user from accessing the URL/browser functions as mentioned before.

[2019-03-08 23:41] leddie24 commented on #8134
@micahgodbolt or @JasonGore , do you have any insight on this issue? I did some digging around and I'm not sure if this is an Narrator issue, or a Fabric issue.  Dialog uses `FocusTrapZone` with a `isClickableOutsideFocusTrap={false}` if it's a blocking dialog, however even testing a simple `FocusTrapZone` with that prop set to false allows the Narrator scan mode to visit outside elements.

I foun

[2019-03-09 00:00] TestAccessibilityGIT commented on #8134
+Amit

From: Eddie Liu <notifications@github.com>
Sent: Friday, March 8, 2019 3:42 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Arvind Prakash (HCL America Inc) <v-arvpra@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] [Accessibility][Screen Reader - Dialog]: In scan mode, Narrator focus moves out from th

[2019-03-09 00:07] Vitalius1 commented on #8161
@callmedhh in #8243 I am introducing some new props to make it easier to customize the white space around the shimmering elements.

[2019-03-09 00:13] JasonGore commented on #8134
Does `aria-modal` properly trap even in scan mode? It might be worth testing against #8216 as well to see if behavior is the same or different with the FTZ refactor.

Either way, scan mode functions to some extent by ignoring intended behavior and not all browsers support `aria-modal`. This may be something we have to check with the Edge/Narrator teams about as we're probably not the first to have

[2019-03-09 03:20] dzearing commented on #8195
Sure thing @redoz no worries.

I think that is a reasonable short term idea @phkuo but I will also say i'm actually not sure on the type checking. In comparing other css in js libraries, the consensus has been to throw type safety out the window, which simplifies the input and makes it mostly futureproof.

E.g. this would certainly bring it more inline with other libraries:

[code]

[2019-03-09 03:22] dzearing commented on #8195
This is just an idea of course. But it would also allow us to support kebab cased.

Could be parsed fine:
[code]

[2019-03-09 03:35] #8161 closed

[2019-03-09 03:56] leddie24 commented on #8134
It looks like `aria-modal` is already in place on the Popup component (see line 167 in Modal.base.tsx), and it doesn't properly trap in scan mode.  I tried testing against your link you provided earlier (http://fabricweb.z5.web.core.windows.net/pr-deploy-site/refs/pull/8216/merge/fabric-website-resources/dist/index.html#/examples/datepicker) and it doesn't trap the focus in the Dialog either.

[2019-03-10 07:36] dzearing commented on #8244
FWIW `mergeStyles` is literally `styleToClassName`. It takes `IStyle` and returns a `string`.

The `styles` prop of a component represents an object (or a function which takes in props and returns the object). The object has "parts" of a component, where each can be `IStyle`, or a string, or an array of either. This will be calculated and merged into the style before classnames are evaulated. This

[2019-03-10 07:51] dzearing commented on #8233
I see no actionable bugs here. The `Image` component is a glorified wrapper around `img` so I expect really nothing interactive here.

[2019-03-10 07:51] #8233 closed

[2019-03-10 07:54] dzearing commented on #8241
@jspurlin are you fixing it?

[2019-03-10 07:59] dzearing commented on #8236
This should be fixed. `onChange` should be used as `onChanged` should be deprecated.

But the behavior there is the same as reported. The `onChange` event should only fire if the value is actually intended to be changed; not in the case where we intend to keep it the same.

[2019-03-10 08:01] dzearing commented on #8244
Also:

You do not need to convert things passed into styles. We will do that for you.

In cases where you would like to use mergeStyles in your own components, you could always have a styled HOC wrapper:

[code]

[2019-03-10 08:05] dzearing commented on #8242
This should have been fixed in the latest styling package. The issue was a missing "sideEffects" entry in the package.json for the `theme.js` file.

[2019-03-10 08:05] dzearing commented on #8242
It could have been that we patched it and perhaps you didn't get the patch. I will make sure we update dependencies to minor bump it this weekend to be sure.

[2019-03-10 08:23] lijunle commented on #8244
If the parameter is a string/className, will the styles from this class override the `IStyle` in same element? For example, `c = mergeStyles({ height: 100 }, 'height-200')`, what is the height of `c` className?

After some practices after writing the original post, I think of the `IStyle` is not a good pattern to be a prop. (Either on `className`.) The styling information should not pass around, b

[2019-03-10 08:32] lijunle commented on #8244
The topic here is ***what is the small unit to pass around styles***.

- Originally, we use `className` but get into the specificity wars.
- Currently, we are using the mix of `IStyle` and `className` but I don't think a mix a proper solution.
- In the first post, I want to check if it is OK to use `IStyle`-only as the small unit to pass around styles. Before some coding, I do think that is still

[2019-03-10 17:56] dzearing commented on #8245
Please fix.

[2019-03-10 18:06] dzearing commented on #8242
Specifically this was fixed here:
https://github.com/OfficeDev/office-ui-fabric-react/releases/tag/%40uifabric%2Fstyling_v6.44.1

If you make sure you have that version (6.44.1) of `@uifabric/styling`, this should go away.

Please let us know if not!

[2019-03-10 18:10] dzearing commented on #8238
@aftab-hassan this is related to Dialog, not Icon.

[2019-03-10 18:11] dzearing commented on #8238
We are looking at converting to use a slots pattern, which we could then consider this for the title slot. Every slot in a composite component should take in jsx.

@JasonGore for heads up.

[2019-03-10 18:32] dzearing commented on #8235
@KevinTCoughlin @ThomasMichon would you have advice here?

[2019-03-10 18:36] dzearing commented on #8235
I am re-adding `Needs: Triage` as I am not seeing any investigation done here. This has been investigated a number of times, and I believe we're doing the right thing.

I see `aria-checked` on the highlighted element, so if the screen-reader is not reading this correctly, this might be a screenreader issue.

However the picture pasted is different than what is listed as expected. I believe if you

[2019-03-10 23:23] aftab-hassan commented on #8245
@raghavendra-kodimala I am unable to see the overlap in `RTL` direction.

**LTR**
![image](https://user-images.githubusercontent.com/8922176/54093050-94899500-4350-11e9-8512-0bc7e25f7cf9.png)

**RTL** (when the element is out of focus shows the left over text as `...`)
![image](https://user-images.githubusercontent.com/8922176/54093063-baaf3500-4350-11e9-8778-cf1f5d5cef92.png)

**RTL** (when the e

[2019-03-11 01:04] skunani commented on #8136
@JasonGore

The behavior is consistant here. Thank you for fixing this

[2019-03-11 12:19] MdAmeerMind opened #8254 "Accessibility[Combo-box] selected value highlighted when cursor move out from window, only for Chrome"
**Environment Information**

- Package version(s): 6.146.1
- Browser and OS versions: Chrome 72.0.3626.119

**Please provide a reproduction of the bug in a codepen:**
Code: https://codepen.io/anon/pen/OqjBzv?&editable=true

**Actual behavior:**
When user select Combo-box menu option using key board, after selecting option, focus is on combo-box then press tab to move focus on next component and th

[2019-03-11 14:45] micahgodbolt commented on #6893
We've been working on a pagiation control #7254, that might touch on carousel functionality, but that's still up in the air. Otherwise, without a specific team sponsor to get this work done, it's not super hi pri for the Fabric team right now.

[2019-03-11 15:26] khmakoto commented on #6390
Crossing out **Bug 9** as it doesn't repro with Keros anymore and there haven't been any updates on the verification of this bug. I'll uncross it if needed.

[2019-03-11 15:44] JasonGore commented on #8134
If `aria-modal` does not trap this is likely an MS Edge or Narrator bug. May be worth going through their issue repos to see if they've already captured this and enter a bug if not.

[2019-03-11 16:07] KevinTCoughlin commented on #8254
Thanks for [the Codepen](https://codepen.io/anon/pen/OqjBzv?&editable=true) @MdAmeerMind, this is easily reproable there by TAB focusing out of the input onto the "Console" element outside the framed page. Once performed, the text within the Combobox is highlighted as if it had focus in Webkit.

We'll take a look at the root cause and a fix :).

[2019-03-11 16:39] juliomenendez commented on #616
@jleck awesome! That worked, thank you!

[2019-03-11 17:18] dzearing commented on #8165
This was already resolved, as dom.js was added here:

https://github.com/OfficeDev/office-ui-fabric-react/releases/tag/%40uifabric%2Futilities_v6.30.0

[2019-03-11 17:18] #8165 closed

[2019-03-11 17:51] gggjtgxing opened #8255 "HoverCard: card jump on expansion on Safari"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: Safari

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

see attached gif, the first time hover on a card, it jumps on expansion

Here is the PR in Fabric which introduced the regression. The bug is present since Fabric 6.129.4 (January 25): https://github.com/Off

[2019-03-11 18:42] tabrumle opened #8257 "Add Component Ref to Facepile Button"
In its current state a Facepile does not allow for passing in a component ref to Facepile buttons. This makes it difficult to do custom behavior such as having a callout appear on the button in different scenarios, or doing custom focus behavior. I'd like to add onto Facepile to allow for passing in refs to the FacepileButtons.

Facepile

[2019-03-11 18:56] KevinTCoughlin commented on #8257
@tabrumle, should I add you as an assignee? It sounds like you want to pursue this work which I'd be happy to facilitate getting into `master`.

I admittedly don't have full history of `Facepile`, but saw that both `Facepile` and `FacepileButton` extend `BaseComponent` which should resolve `componentRef`. However, `FacepileButton` is specifically skipping `componentRef` resolution currently, see h

[2019-03-11 18:58] KevinTCoughlin commented on #8255
Thanks for the report @gggjtgxing. I need to verify for myself using Safari.

Meanwhile tagging @lorejoh12 and @joschect regarding #7778 perhaps introducing his behavior.

[2019-03-11 19:31] KevinTCoughlin commented on #8254
I dug into this a bit more @MdAmeerMind. It looks like this is how Webkit browsers handle highlight when the focus is outside of the frame containing the highlighted text.

See this JSFiddle which contains a single native `<input />` element: https://jsfiddle.net/kevintcoughlin/a3v4eqzy/.

To repro, highlight the text inside of the `input` then shift focus to the browser's address bar using your m

[2019-03-11 19:37] tabrumle commented on #8257
Yes, please do. My current understanding of the issue is that I will need to investigate why we are skipping the component ref resolution. If there is no issue with us undoing this, then we will need a way to pass back a ref to the FacepileButton component from Facepile. To do this I think we could add a prop to IFacepilePersona called `componentRef?: IRefObject<IButton>;` We could then pull this

[2019-03-11 19:55] KevinTCoughlin commented on #8257
If we could access the inner `FacepileButton` via an existing interface member which exposes the props that would be ideal. It seems like that _might_ be possible via https://github.com/OfficeDev/office-ui-fabric-react/blob/c2c40eecf58899bc7a5d98a866956e617a7c8373/packages/office-ui-fabric-react/src/components/Facepile/Facepile.types.ts#L37 or similar. Just want to make sure we minimize API surfac

[2019-03-11 20:12] KevinTCoughlin commented on #8257
@tabrumle, I checked-in with @kkjeer regarding disabling `componentRef` resolution and we unfortunately don't have context any longer.

My advice would be to remove that line and see if anything breaks. We'll review at PR time to be doubly sure if nothing stands-out.

If you need help with implementation or want to punt to me, please let me know. Otherwise here if you need me as you work on a patc

[2019-03-11 20:13] tabrumle commented on #8257
Thanks for the follow up. I'll be sure to reach out with any questions!

[2019-03-11 20:39] SpencerLynn opened #8261 "With ContextualMenu open, clicking in SearchBox does not properly focus SearchBox"
### Environment Information

- __Package version(s)__: 6.143.1
- __Browser and OS versions__: All (different behaviors in each)

### Please provide a reproduction of the bug in a codepen:

1. Open this [CodeSandbox](https://codesandbox.io/s/8llkop3wo2).
2. Click on the button to open the context menu
3. Click on the SearchBox

#### Actual behavior:

**Chrome:** Search box is focused, but does not

[2019-03-11 21:02] KevinTCoughlin commented on #8261
Thanks for the [repro](https://codesandbox.io/s/8llkop3wo2) @SpencerLynn! I can verify the behaviors you've listed above and added Firefox:

- **Chrome**: Search box is focused, but does not show focus borders and the 'search' icon does not disappear. However, user is able to type in search box still.
- **Edge**: Search box does not show focus borders and 'search' icon does not disappear. However,

[2019-03-11 21:17] SpencerLynn commented on #8261
I agree @KevinTCoughlin. What I found is that the `ContextualMenu` is trying to return focus to the element that previously had focus when it closes. However, it does this on a timer, which I suspect could adding to the complexity here.

Thanks for the extra info!

[2019-03-11 21:25] yenchanghsieh opened #8263 "Dropdown: Should remove IDropdownOption from onRenderTitle's parameter type"
### Environment Information

- __Package version(s)__: 6.118.1
- __Browser and OS versions__: All

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

onRenderTitle in Dropdown component can't handle IDropdownOption well.
It currently only accepts IDropdownOption[] as input type since taking the output of _getAllSelectedOptions().

#### Expected behavior:
If it only

[2019-03-11 21:48] KevinTCoughlin commented on #8263
@yenchanghsieh, although I'm not the most familiar with this component I do think I agree with you that we currently only ever invoke `onRenderTitle` with an `IDropdownOption[]`.

https://github.com/OfficeDev/office-ui-fabric-react/blob/d206093d1976603974a4fffea80caba32280471f/packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.types.ts#L53

See some of the usages within this source c

[2019-03-11 22:27] mattmazzola opened #8264 "EventGroup.ts preventing callbacks from being invoked on components in Modals"
Seems to be a bug in [EventGroup.ts](https://github.com/OfficeDev/office-ui-fabric-react/blob/c9613c6206dd9f13c4712c93e91bcbef46d18169/packages/utilities/src/EventGroup.ts) that blocks events from within a Modal.

Can see in the video below that buttons receive the click event but somewhere in `EventGroup.js` it is terminated. I was surprised even the native button is blocked.

https://microsoft.s

[2019-03-11 23:50] betrue-final-final opened #8269 "Searchbox: Add a contextual menu as an Implementation example"
It is difficult to understand how the Searchbox works, especially keyboard behavior, after text is entered.

This request is to add in an example with a simple context menu that will simulate suggestions. Ideally it could draw from a simple list of items, but it could also just show a generic contextual menu with title "Suggestions" and items reading "Suggestion 1, Suggestion 2..." etc. This will

[2019-03-11 23:52] KevinTCoughlin commented on #8269
Seems reasonable @betrue-final-final! I'll take a pass at it as part of SHIELD this week :).

[2019-03-11 23:54] KevinTCoughlin commented on #8264
Thanks for reporting this @mattmazzola. It would be helpful to have this isolated in a Codepen / CodeSandbox for us to be able to debug and fix quickly. Would you be able to provide one so that I can ensure the fix is correct given your scenario?

Its important to note that this is reported against `5.100.0` and so its also worth I investigate if this is still an issue in `6.x`.

[2019-03-11 23:58] #8154 closed

[2019-03-12 00:10] KevinTCoughlin commented on #8263
@yenchanghsieh I've raised a PR with you included (linked above). :)

[2019-03-12 00:16] natalieethell commented on #5386
I'll open a PR with the Text tests once PR https://github.com/OfficeDev/office-ui-fabric-react/pull/8265 is merged. Once that's merged, everything else is done!

One note: Text is only keyboard accessible when it renders an HTML element that is keyboard accessible.

[2019-03-12 00:51] KevinTCoughlin commented on #8261
Additional note that this repros on the local dev and production site:

![image](https://user-images.githubusercontent.com/706967/54167268-2f07d800-4426-11e9-9b89-09baee878d38.png)

- http://localhost:4322/#/examples/contextmenu
- https://developer.microsoft.com/en-us/fabric#/components/contextualmenu

[2019-03-12 01:20] #4649 closed

[2019-03-12 01:20] #6526 closed

[2019-03-12 01:20] #8055 closed

[2019-03-12 01:20] #8136 closed

[2019-03-12 01:31] yenchanghsieh commented on #8263
@KevinTCoughlin Thanks for quick fix.

[2019-03-12 04:30] Jahnp commented on #8255
Also flagging @Vitalius1 and @atneik as FYI given HoverCard context.

[2019-03-12 04:39] Jahnp commented on #8172
Sorry for the delay here, and thanks for reporting, @ichiQhachi4 .

Your recommendation sounds reasonable, but I'll be honest, I'm not an expert on best practices for the Asian font stacks. The stacks we have today were recommended by the MS Typography team years ago and incorporated into Fabric Core, as @dzearing points out. I'll check with them to see if this is a change they believe we should b

[2019-03-12 05:09] aftab-hassan commented on #8230
Discussed this offline, and resolved the current behavior to be as per design.
@jspurlin @betrue-final-final

@jspurlin's suggestion for the team which raised the issue is to implement two buttons.
"One alternative I just thought of which has precedence in touch scenarios is "touch" vs "touch and hold" where touch would execute the primary and touch and hold would expand the menu. This is similar

[2019-03-12 05:43] KevinTCoughlin commented on #8269
@natalieethell, do you think this proposed `Searchbox` example would be a good opportunity to cross-promote `Announced`?

[2019-03-12 09:39] yethee commented on #8242
I have same issue with `office-ui-fabric-react@6.154.0`

Browser console:

[code]

Dependencies:

[code]

[2019-03-12 17:07] Jahnp commented on #8172
@ichiQhachi4 , I got this response from my typography colleague (**emphasis** mine):

So this would seem to suggest we should keep the font stacks as-is. Is there a particular bug or issue you're seeing with the current font stacks we should know about?

[2019-03-12 17:28] JasonGore opened #8276 "Github Issues Feature on Component Pages not working"
### Environment Information

- __Package version(s)__: n/a
- __Browser and OS versions__: n/a

### Please provide a reproduction of the bug in a codepen:

https://developer.microsoft.com/en-us/fabric#/components/choicegroup

#### Actual behavior:

Page is throwing an exception and Github Issues feature is not working. Issue seems to be in `FeedbackList` attempting to use `created_at` property of G

[2019-03-12 17:44] KevinTCoughlin commented on #8276
Investigating 👀

[2019-03-12 18:27] HalcyonPride commented on #7991
Hi @lukehumphrey, @JasonGore left this Bug for your team to triage - we haven't taken any action on it.

[2019-03-12 18:49] natalieethell commented on #7560
Sorry for the major delay here! I discussed this issue with the team, and given what Ben said above about being able to customize the number of column headers read out, providing your own aria label as I mentioned above seems like the best option.

Here's [a CodePen](https://codepen.io/naethell/pen/LaOWzJ) demonstrating how to do that. When focusing on a details row in the CodePen, you should hear

[2019-03-12 18:49] stmillMSFT opened #8278 "ISpinButtonProps has `label` as required when it is actually optional"
In `ISpinButtonProps`, `label` is marked as a required field in both the type and online documentation, however `label` is not actually required since it is also defined in `defaultProps`.  Current typescript versions are smart enough to determine this and show it as optional when using `SpinButton` in JSX, but if you try to use the `ISpinButtonProps` type directly, it becomes required.

### Envir

[2019-03-12 18:56] jdhuntington opened #8279 "Fix vr-tests startup"
Upgrade to React and TypeScript caused vr-tests (storybook) to break.

Expected:

    pushd apps/vr-tests && npm run start

should work

Actual:

Several errors appear in browser.

[2019-03-12 20:26] #8263 closed

[2019-03-12 20:41] PratikDeshpande opened #8282 "Selected Suggestions items not visible after scrolling down"
Background:

I am a software developer at Bloomberg. We use this library for some of our web products. I discovered a small bug in the Suggestions component.

If the suggestions parameter has a list of suggestions that is greater than the resultsMaximumNumber parameter, users can not scroll through the list of suggestions. This can cause potential accesibility issues.

I have already created a dra

[2019-03-12 20:49] KevinTCoughlin commented on #8278
Thanks @stmillMSFT, I've raised a PR to address this linked above.

[2019-03-12 20:51] KevinTCoughlin commented on #8282
Thanks for reporting this @PratikDeshpande. I've assigned you to this issue since you seem to have a handle on this given the draft PR. We'll take a look at your implementation and hopefully get a fixed merge soon 👍.

[2019-03-12 20:52] PratikDeshpande commented on #8282
Thanks, @KevinTCoughlin !

[2019-03-12 21:04] KevinTCoughlin opened #8284 "Fabric Website: Add pagination support to Github Issues widget"
**Describe the feature that you would like added**

As discovered while fixing https://github.com/OfficeDev/office-ui-fabric-react/issues/8276, the Github issues widget rendered on the Fabric website both local and production does not account for paginated issue responses. Ideally, the widget would render ALL issues for a given component on the website either as a complete list or paginated list.

[2019-03-12 21:04] HalcyonPride commented on #8139
@leddie24 said he can repro it now

[2019-03-12 21:15] CharlesgdHill opened #8285 "Calendar A11y Error: Buttons must have discernable text."
Calendar month navigations fail accessibility fastpass.

Please provide a reproduction of the bug in a codepen:
https://fabricweb.z5.web.core.windows.net/oufr/6.155.0/#/examples/calendar

#### Actual behavior:

![image](https://user-images.githubusercontent.com/44102734/54236550-0688e800-44d1-11e9-87d0-43acb02807f6.png)

![image](https://user-images.githubusercontent.com/44102734/54236600-24564d00

[2019-03-12 21:19] Vitalius1 commented on #8067
Hi @lauwrentius, sorry for the delayed response. When the HoverCard was built the intention was to have a HoverCard for each target on the page and not reassign the target by some events on the page. We are really curious about the use cases of this scenario. Also, you mentioned that you are willing to submit a PR for this issue so please feel free to do so and we will happily review it.

P.S.: In

[2019-03-12 22:03] aditima commented on #7270
@cliffkoh @JasonGore - should we be able to use
`createGenericItem?: (input: string, isValid: boolean) => ISuggestionModel<T>;`
instead of
`createGenericItem?: typeof createGenericItem;`
?

[2019-03-12 22:05] cliffkoh commented on #7270
I'll defer to @JasonGore here as he has been doing far, far more work in Fabric typings in recent months and I've been focused on other projects/other kinds of engineering.

[2019-03-12 22:10] Vitalius1 commented on #8067
The change was quick enough to submit a fix in #8287. @lauwrentius can you still elaborate on your use case scenario why reuse the same HoverCard for multiple targets and not create a HoverCard to be ready for each target? What are your events on the page that trigger a target change?

[2019-03-12 22:15] aditima commented on #8173
Moving to the Accessibility project backlog. We'll need to review and assign a milestone for this work.

[2019-03-12 22:18] JasonGore commented on #7270
It looks like the code listed in original issue has changed a bit so it's probably worth verifying this is still an issue. For example, `allowPhoneInitials` that appears in my links above no longer appears in master.

In an y case I don't think it's a good idea to duplicate the function type definition since it's already specified in the prop and the use of this function is coerced by the prop def

[2019-03-12 22:19] lauwrentius commented on #8067
Hi, Thank you for the fix. We're incorporating Hovercard on a graph element using [Highchart](https://www.highcharts.com/blog/products/highcharts/). However, whenever the data is updated, the element (svg object) is disposed and replaced by a new element, which makes the HoverCard loses its eventListener.

[2019-03-12 22:37] natalieethell commented on #5386
Adding tests in this PR: https://github.com/OfficeDev/office-ui-fabric-react/pull/8286.

[2019-03-12 22:56] KevinTCoughlin commented on #8285
@OfficeDev/uifabric-calendar @lorejoh12 are you folks tracking contrast issues for the current Calendar control? It looks like some folks are blocked by it, please see above.

[2019-03-12 22:59] #8276 closed

[2019-03-12 23:23] aditima commented on #8174
@aftab-hassan - can we try using `aria-required` attribute and see if it helps? https://www.w3.org/WAI/PF/aria-1.1/states_and_properties#aria-required

[2019-03-13 00:18] stmillMSFT commented on #8278
wow, that was fast! thanks!

[2019-03-13 00:32] aftab-hassan commented on #8176
@joshburnssp

Looks like `React` was not defined in your codepen. By adding `React` to your codepen, I am able to get the place holder text, and the options you expect to see.

Please take a look at this updated `codepen` (code is same as the one you shared, with React added)

https://codepen.io/aftab-hassan/pen/pYdLJG

<img width="956" alt="combobox-placeholder" src="https://user-images.githubuse

[2019-03-13 00:36] aftab-hassan commented on #8242
@yethee thanks for letting us know.

@dzearing does the `PR` you referenced above help fix the issue for `office-ui-fabric-react@6.154.0` as well?

[2019-03-13 00:37] Vitalius1 commented on #7572
🤔 hmmm... anyone?

[2019-03-13 00:47] dzearing commented on #8242
This looks like the correct version of styling... which is worrying. This is still the theme object missing. Yes my PR would certainly ensure theme is initialized. I am trying to make sure we're not regressing anything though with the PR, I'll try and get it in tonight.

[2019-03-13 00:52] ttaylor1218 commented on #8242
Just now updated to build 6.155.0, and confirmed @uifabric/styling is @6.44.1. Still have the same issue with Webpack production builds. Basically unchanged since I reported last week.

[2019-03-13 00:55] dzearing commented on #8242
@ttaylor1218 is your project available to clone so that I can try your situation?

Alternatively:

1. find node_modules/@uifabric/styling/package.json
2. find the sideEffects section
3. edit the part that says `"lib/styles/theme.js"` and try `"**/theme.js"`

Does that change the result?

Alternatively, set sideEffects to true. I am assuming that will definitely fix but increase bundle size.

There

[2019-03-13 00:57] dzearing commented on #8242
If I can't get the PR in tonight, i will prep a smaller reversion to sideEffects: true on this package.

The frustrating thing here is that i just am not reproing in isolation. it's some sort of combo of situations.

[2019-03-13 01:04] aftab-hassan commented on #8217
@micahgodbolt , this is something we would like to add as part of the `CI` workflow.

`sp-client` for example, has a `dev-deploy` process, where every `build` copies the `dist` folder to an `Azure blob store`, and appends the `PR` `id`. Here is an example
https://resourceseng.blob.core.windows.net/files/refs_pull_242337_merge/manifests.js

We could do the same for `fabric` but being open source, w

[2019-03-13 01:14] ttaylor1218 commented on #8242
My project is on a private repo so you won't be able to get a clone. I was easily able to reproduce this by creating a real simple project which is how I isolated it to office-UI and use of the Fabric component.

Here are the files I used to reproduce:
[App.zip](https://github.com/OfficeDev/office-ui-fabric-react/files/2959308/App.zip)

Thanks for your commitment to this. Let me know if this helps

[2019-03-13 02:33] micahgodbolt commented on #7572
Crickets I know. Honestly not 100% sure the solution here. It's design driven, that's for sure.

[2019-03-13 02:37] aftab-hassan commented on #8174
@aditima I understand that the suggestion is to use the `aria-required` attribute, instead of relying on the `Label` text to say "required", which probably results in the issue. I'll need to dig in a  bit, but makes sense to me.

[2019-03-13 02:52] dzearing commented on #8242
We will get this fixed. I've prepped a plan A and B to get this done tonight. Thanks a ton for your patience. I've contacted Sean from webpack on this issue, so we will look more deeply into the root cause. Thank you for the App repro; got it reproing.

[2019-03-13 03:02] dzearing commented on #8242
@TheLarkInn If you try the App.zip above:
npm install
npm build
I had to make an index.html to load the script, then load it in a browser

It will fail with an error indicating basically that theme.js was not included.
Note that theme.js is listed in sideEffects in the package.json of `@uifabric/styling`.
if you edit sideEffects to equal true, it works.

It does not seem to me like sideEffects are

[2019-03-13 04:23] dzearing commented on #8242
This wil

[2019-03-13 04:34] ichiQhachi4 commented on #8172
@Jahnp But, there still is a problem, if using italic in these scripts, the latin part is oblique instead of italic.

[2019-03-13 07:38] MdAmeerMind opened #8294 "[Accessibility]Combo box menu option position not Narrate by JAWS for IE11"
**Bug Report**

- Package version(s): Current examples at https://developer.microsoft.com/en-us/fabric#/components/ComboBox#Variants
- Browser and OS versions: IE 11 + JAWS 2019

**Actual Behaviour**
When user navigate to Combo box menu option, JAWS only narrating menu option text, menu option position not narrated.

**Expected:**
JAWS should provide position of menu item along with menu text.

**

[2019-03-13 07:57] casvaniersel opened #8295 "Shimmer in IE performance issue"
<img width="1993" alt="Screenshot 1" src="https://user-images.githubusercontent.com/3843874/54262393-58338000-456e-11e9-82f3-03e30a730aaf.png">
<img width="1993" alt="Screenshot 2" src="https://user-images.githubusercontent.com/3843874/54262415-608bbb00-456e-11e9-8621-dae3222f10c7.png">

### Environment Information

- __Package version(s)__: Latest
- __Browser and OS versions__: IE 11 on Win 10

#

[2019-03-13 08:04] tiyee opened #8296 "Spelling errors in the document of Image Component Page"
![1552464184988](https://user-images.githubusercontent.com/2190710/54262760-04df2300-45aa-11e9-9e2e-2161760fe70a.jpg)

https://developer.microsoft.com/en-us/fabric#/components/image

[2019-03-13 10:06] didii commented on #2176
This does not work if virtualisation is in place. Group headers that are far down will be mounted again when scrolled into view and will always be collapsed, no matter how you manipulated it before.

E.g.: open up the last group of the table, then the first one. When enough items are in the first group, the second will unmount due to virtualisation and will re-mount when visible again, thus re-app

[2019-03-13 10:34] falkin commented on #6951
I'm currently working with SharePoint Framework and Office UI Fabric 5.135.0. And i got the same problem on Toggle component. OnChanged works perfect but not Onchange.

it's a shame because with redux-form when you passing all props input,  function onChange isn't directly called. :(

[2019-03-13 14:02] raghavendra-kodimala opened #8297 "Commandbar: Screen reader is not announcing the expanded/collapsed state of Overflow command button"
### Environment Information

- __Package version(s)__: (5.122.3)
- __Browser and OS versions__: (Chrome: 72.0.3626.121 (Official Build) (64-bit), Microsoft Edge: 44.17763.1.0, Microsoft Windows 1809)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

Screen reader (Narrator, JAWS, NVDA) is not announcing the expanded/collapsed state of Commandbar overflow button

#

[2019-03-13 16:30] micahgodbolt commented on #8217
I 100% agree with Jason. It'd be great if each PR, in addition to creating a deploy site, also creates a bundle that you could drop into a codepen. I've had similar situations where I needed to demonstrate how the new code would work via a codepen.

Assigning to Ken and flywheel

[2019-03-13 16:55] SimSpfx opened #8299 "Cannot read property roundedCorner2 of undefined when using loadTheme() function"
### Environment Information
   "@microsoft/decorators": "~1.4.1",
    "@microsoft/sp-application-base": "~1.4.1",
    "@microsoft/sp-core-library": "~1.4.1",
    "@microsoft/sp-dialog": "~1.4.1",
    "@microsoft/sp-office-ui-fabric-core": "^1.6.0",
    "@pnp/common": "^1.0.5",
    "@pnp/logging": "^1.0.5",
    "@pnp/odata": "^1.0.5",
    "@pnp/sp": "^1.0.5",
    "@pnp/spfx-controls-react": "^1.2.2

[2019-03-13 16:56] KevinTCoughlin commented on #8296
Thanks for the report @tiyee. The same typo existed for `height` below it, both fixed in the above linked PR.

Feel free to fix these as you see them if you wish, we welcome contributions :).

[2019-03-13 17:06] KevinTCoughlin commented on #8294
@MdAmeerMind thanks for your report. We focus on Edge + Narrator compatibility which seems to be working as expected in the above scenarios (see output below).

[code]

Since it works in Narrator, we are likely providing the correct attributes and this is more likely an issue with NVDA / JAWS integration and should be raised in their bug report channels.

If there are incorrect / missing ARIA attr

[2019-03-13 17:09] KevinTCoughlin commented on #8295
@casvaniersel is the fix moving the animation calls to within a `requestAnimationFrame` callback? Can you expand a bit on your solution?

@Vitalius1 is this something we should move to Shimmer's backlog?

I'm not sure how actionable this is for SHIELD given the product surface area it would impact and testing required.

[2019-03-13 17:10] KevinTCoughlin commented on #8295
Also it doesn't seem like this potential problem is isolated to IE, just that IE is sluggish when repainting at such a high rate. Is that correct?

[2019-03-13 18:00] micahgodbolt opened #8302 "Support Custom Scrollbars"
**Describe the feature that you would like added**
Support custom styleable scrollbars that are able to overlap the content but dissapear when not used.

**What component or utility would this be added to**

Scrollable pane or custom control

**Have you discussed this feature with our team, and if so, who**
Teams is very interested in this scenario.

**Additional context/screenshots**

![image](ht

[2019-03-13 18:01] dzearing commented on #8299
Note that this is for Fabric 5. I don't know of changes here that could have changed this.

But also, I don't know what those interfaces are from. That's not what loadTheme takes.

[2019-03-13 18:02] #5386 closed

[2019-03-13 18:12] KevinTCoughlin commented on #8299
@SimSpfx can you isolate this repro to a [Codepen](https://codepen.io/) or [CodeSandbox](https://codesandbox.io/)?

As David mentioned above, OUFR hasn't made a related change to the `5.x` branch to have caused this  to my knowledge. So to debug we would need to have this isolated to fully understand what differs.

[2019-03-13 18:16] Jahnp commented on #8299
Also tagging @phkuo for FYI/thoughts. `roundedCorner2` is from a newer version of `ITheme` supporting supports [`IEffects`](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/styling/src/interfaces/IEffects.ts), which doesn't exist on Fabric 5's [default theme object](https://github.com/OfficeDev/office-ui-fabric-react/blob/5.0/packages/styling/src/interfaces/ITheme.ts). I'm

[2019-03-13 18:33] KevinTCoughlin commented on #8297
Hey @raghavendra-kodimala, I just tried this with Edge + Narrator and the collapsed / expanded state of the overflow button on https://developer.microsoft.com/en-us/fabric#/components/commandbar is announced properly:

[code]

In the above, I was toggling the overflow button menu via keyboard.

We focus on compatibility with Edge + Narrator. Since Narrator is announcing this properly, perhaps ther

[2019-03-13 19:17] KevinTCoughlin commented on #8302
Something to keep in mind regarding implementation of this is that custom scrollbars are often a performance bottleneck. It will be important to setup guardrails or advocate best practices when introducing this.

[2019-03-13 19:21] micahgodbolt commented on #8302
yeah, this isn't a "someone go and do this tomorrow". it's going to be a process to validate approach and implement

[2019-03-13 20:00] #8101 closed

[2019-03-13 20:15] phkuo commented on #8299
I'm guessing this was a recent sp-client evergreen build that brought in the header that uses roundedCorner2 from odsp-shared-react. I thought all of sp-client was on Fabric 6 now?
Can you start an email thread? This is not a OUFR issue, but an internal one.
To work around this, add `theme.effects.roundedCorner = '0px'` to the theme object that you're passing to loadTheme().

[2019-03-13 20:15] #8299 closed

[2019-03-13 20:22] #8278 closed

[2019-03-13 20:51] #7096 closed

[2019-03-13 21:04] KevinTCoughlin commented on #8158
@haonliu the PR including the above requeste functionality should be merged today. For usage of the new prop (its opt-in), please see: https://github.com/OfficeDev/office-ui-fabric-react/pull/8253#issuecomment-472575253.

Thanks for your patience!

[2019-03-13 21:07] TDezentje commented on #8295
I’m the author of the example solution. Indeed the problem is not isolated to IE. Browsers like Chrome just handle the animation a lot faster. You can probably see the same issue on lower end mobile devices with Chrome.

The problem occurs because the current animation triggers the browser to do a lot of expensive style calculations and painting on every animation tick. The codepen uses an inner d

[2019-03-13 21:35] #8158 closed

[2019-03-13 22:00] natalieethell commented on #7123
Hey @TCambre are you still experiencing this issue? I just tried out JAWS on the [DetailsList Basic Example](https://developer.microsoft.com/en-us/fabric#/components/detailslist/basic) and when navigating over the cells using the down arrow key, it's reading out the following

**checkbox, not checked
Name, column 2, Item 0
Value, column 3, 0**

Maybe JAWS updated its behavior recently?

[2019-03-13 22:21] natalieethell commented on #7838
We should have the color changes soon!

[2019-03-13 22:25] CharlesgdHill opened #8305 "Calendar: Today/Selected date is not read by screen reader"
"Today" and selected date isn't read by screen reader in calendar upon navigation to calendar:
Today is selected and highlighted on the calendar, but not read out by screen reader when calendar is tabbed to, resulting in lost information for users using screen reader.

Please provide a reproduction of the bug in a codepen:
https://fabricweb.z5.web.core.windows.net/oufr/6.155.0/#/examples/calendar

[2019-03-13 22:28] natalieethell commented on #7853
Hey @tharshada just to clarify, is the issue that the grouped list row items aren't aligned with the header/footer items when scrolling all the way to the right?

[2019-03-13 23:09] KevinTCoughlin commented on #8305
@lorejoh12 does this a11y problem surface in both calendar controls? What would you advise we do to address the above issue?

[2019-03-13 23:45] ttaylor1218 commented on #8242
Pulled down the updated build @6.156.0 with @uifabric/styling@6.45.0. Confirmed it is now working as expected in both dev and prod Webpack builds.

Thank you everyone for your attention on this.

[2019-03-13 23:45] #8242 closed

[2019-03-13 23:56] lukehumphrey commented on #8224
Wanted to ping on this. When can this one be fixed?
Thanks,

Luke

[2019-03-14 00:10] leddie24 commented on #8134
Closing this issue.  This is a dupe of #6422 and #6535.  We already have the correct aria in place (aria-modal=true). There isn't much we can do aside from wait for a fix from the Narrator team to respect the aria-modal attribute.

[2019-03-14 00:10] #8134 closed

[2019-03-14 00:21] natalieethell commented on #7826
I tried debugging this issue a little more by abstracting out the Panel control and found something interesting. Not sure if it'll solve the problem, but I'll put what I found here hoping that it maaaay lead us in the right direction.

I have three button + dialog combos in the following CodePen, each with different screen reader behaviors: https://codepen.io/naethell/pen/PyYwqN.

The following de

[2019-03-14 00:23] KevinTCoughlin commented on #8295
Thanks for the awesome explainer @TDezentje! We'll see what we can do in the short term. Admittedly Shimmer is a bit of an unknown to me, but I like the challenge this presents. Will circle back in some time.

[2019-03-14 01:03] #8067 closed

[2019-03-14 02:14] Vitalius1 commented on #8295
@KevinTCoughlin this is something definitely not a Shield bug to resolve and needs to be moved under Shimmer's backlog. And it looks like this is something we actually want to look in and optimize.
A little background about Shimmer creation is that we wanted a pure CSS solution with no extra JS involved. Perhaps using a different CSS property to animate the wave movement (like `transform`) which w

[2019-03-14 03:10] #7820 closed

[2019-03-14 03:14] aftab-hassan commented on #8224
@lukehumphrey I can check with the team and give you an ETA by tomorrow.

[2019-03-14 03:20] callmedhh commented on #8161
Thanks @Vitalius1, thanks for the cool props.
I find a work around to solve the issue, that is to use a Customizer component to wrap root element, and pass the theme to Customizer. Then theme will work fine for Shimmer.

[2019-03-14 03:51] #8296 closed

[2019-03-14 04:00] #8215 closed

[2019-03-14 04:37] jeremy-coleman commented on #8244
Mergestyles = a single css rule
Mergestylesets = stylesheet

If you have used aphrodite or typestyle glamor etc , the experience will be the same

Ignore everything else and dont use any props for styles . You can use the getTheme function to get the global theme object.

Var Buttoncss = mergestyles({color:’red’})

Or

Var buttoncss= mergestylesets({
Root:{..}
Something:{..}
)}

 const Button = pr

[2019-03-14 05:02] KevinTCoughlin commented on #8221
Yea, we should add this as a prop. Shouldn't be too difficult. If we're conditionally rendering it currently then we can't provide styling as a workaround.

[2019-03-14 05:03] KevinTCoughlin commented on #8213
@Vitalius1 is this in the design spec? We can discuss offline, but can I access that spec?

[2019-03-14 05:04] KevinTCoughlin commented on #8212
@redoz what are your thoughts regarding this ask: https://github.com/OfficeDev/office-ui-fabric-react/issues/7162 as a solution to the above?

[2019-03-14 05:05] KevinTCoughlin commented on #8211
@preetriti1 is this because of ID mismatch when custom rendering is used?

[2019-03-14 05:07] KevinTCoughlin commented on #8187
@aftab-hassan might be good to connect with @Vitalius1 here for design and implementation insight

[2019-03-14 05:08] KevinTCoughlin commented on #8178
@micahgodbolt is our guidance regarding major version upgrades as they relate to selector specificity published publicly?

[2019-03-14 05:10] KevinTCoughlin commented on #8175
@piyumi25 can you please fill out the following to help us debug this better?

### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

#### Expected behavior:

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes,

[2019-03-14 05:12] KevinTCoughlin commented on #8174
Before we proceed, have we confirmed whether or not this _incorrect_ behavior is exhibited in Edge + Narrator? We primarily target Edge + Narrator integration and need to consider whether or not this is a bug with NVDA or not.

[2019-03-14 05:13] KevinTCoughlin commented on #8170
@makopch-ms, I wonder if this is related at all to https://github.com/OfficeDev/office-ui-fabric-react/issues/8261. Note that only occurs in non-WebKit browsers...

[2019-03-14 05:14] KevinTCoughlin commented on #7270
Yea, these Picker areas / typings were recently modified

[2019-03-14 05:18] Jahnp commented on #8213
@aftab-hassan and I discussed this a bit offline. I don't think the specific _interaction_ discussed here (show an error on blur as the default behavior) is in the design spec, but the visual specs are already designed + implemented.

In fact, a close approximation of this behavior can be attained with some basic props and a `onGetErrorMessage` handler. See this CodePen: https://codepen.io/jahnp/p

[2019-03-14 05:37] raghavendra-kodimala commented on #8297
Hey @KevinTCoughlin , Here are the repro steps that I have followed in the same URL  https://developer.microsoft.com/en-us/fabric#/components/commandbar#Variants

Pre-requisites: Open the URL in MS Edge.
1. Start Narrator
2. Navigate to the "More Commands" button.
3. Press Enter Key to toggle menu without moving to menu item.
Actual Result:
I can still repro the issue. Narrator is not announcing t

[2019-03-14 05:57] KevinTCoughlin commented on #8297
I'm not hearing the same read out on a different device. Sharing browser specs:

[code]

@raghavendra-kodimala can you share your version numbers via Edge -> General Settings -> About this app? I'll cross-reference with the original device used to debug.

[2019-03-14 06:44] raghavendra-kodimala commented on #8297
@KevinTCoughlin Here is the codepen that I have created. https://codepen.io/raghavendra-kodimala/pen/mopNqQ.
I have the same browser version that you given.
![image](https://user-images.githubusercontent.com/48360110/54336668-b33ea300-4652-11e9-8fec-1454b2592281.png)

[2019-03-14 06:57] casvaniersel commented on #8295
Thanks @TDezentje for elaborating 👍 hopefully you guys can optimise, because in my experience there are still a LOT of users on IE.

[2019-03-14 06:58] micahgodbolt commented on #8178
the only API we guarentee are the public interfaces of our components. DOM structure and styling, while we try not to change unnecessarily, are not part of that API and therefor can change even without a major release. This is one of the reasons for moving to the styles interface which creates a contract for how styles are applied.

As for needing to make CSS changes when moving from a major versi

[2019-03-14 07:19] v-vasud opened #8309 "Fabric_DetailsList : Keyboard focus is moving to non-interactive elements in the table using tab key"

[2019-03-14 07:24] v-vasud commented on #8309
User Experience:
Users who rely on keyboard are getting affected as focus is moving to the non-interactive elements of the table while navigating through the page using TAB key.

Test Environment:
OS: Windows 10
Version: 1809(OS Build 18298.1000)
Browser: Microsoft Edge (44.18298.1000.0)
URL: https://security.microsoft.com/#/homepage

Repro Steps:
Step 1: Open the above URL in Edge browser.
Step 2

[2019-03-14 07:24] #8309 closed

[2019-03-14 08:03] v-vasud opened #8310 "Fabric_NavTree : State of menu/sub-menu item is not narrated by screen reader"
### Environment Information
OS: Windows 10
Version: 1809(OS Build 18298.1000)
Browser: Microsoft Edge (44.18298.1000.0)
Screen Reader: Narrator

### Reproduction of the bug:

#### User Experience:
Users who rely on screen reader are getting affected as the state(Selected/Unselected) of the menu items is not announced by the narrator.

#### Reproduction Steps:
1) Turn on Narrator
2) Open https://ui

[2019-03-14 08:27] aftab-hassan commented on #8213
@Jahnp thanks for the comment here, and the discussion, and @KevinTCoughlin for checking in.

I have gone ahead and created a `PR` for the show an error on blur condition, if we'd like to have the behavior mentioned as expected in the issue.

@betrue-final-final @JasonGore, would like to get your thoughts on the behavior we'd like to have here.

[2019-03-14 08:34] aftab-hassan commented on #8213
@HeinPauwelyn, we have a [pull request](https://github.com/OfficeDev/office-ui-fabric-react/pull/8311) where the default behavior you would like to see as expected, is implemented. While we are arriving at a decision on the ideal user experience for the default behavior, could you use @Jahnp's [codepen](https://codepen.io/jahnp/pen/xBpabq) where the desired behavior is achieved through a custom `o

[2019-03-14 09:20] v-vasud opened #8312 "Fabric_DetailsList : Screen reader is narrating verbose information while navigating through table elements."
### Environment Information
OS: Windows 10
Version: 1809(OS Build 18298.1000)
Browser: Microsoft Edge (44.18298.1000.0)
Screen Reader: Narrator

### Reproduction of the bug:

#### User Experience:
Users who rely on screen reader are getting affected as narrator is reading inappropriate information when navigating through table.

#### Reproduction Steps:
1) Turn on Narrator and Open https://uifabri

[2019-03-14 09:24] MinhThienDX opened #8313 "Required prop doesn't trigger browser's message like TextField"
### Environment Information

- __Package version(s)__: latest

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/MinhThienDX/pen/rRJaML

#### Actual behavior:

When submit form, only TextField trigger browser's message (like call reportValidity())

#### Expected behavior:

Dropdown, ComboBox, DatePicker or any component with required should trigger browser's message

##

[2019-03-14 09:27] nikita0905 opened #8314 "Keros Error: IDs of active elements are not unique for NavToggler"
### Environment Information

- __Package version(s)__: @uifabric/dashboard: 0.42.1
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:
When NavToggler component is collapsed, two active elements are rendered with the same NavLink key passed (<a> for NavSlimItemRoot and NavFloatingRoot)

#### Actual behavior:

Document has active el

[2019-03-14 09:42] nikita0905 opened #8315 "Keros Error: Required ARIA children role not present for NavToggler"
### Environment Information

- __Package version(s)__: @uifabric/dashboard: 0.42.1

### Please provide a reproduction of the bug in a codepen:
 All active elements are assigned role as menu and no children have been defined.

#### Actual behavior:

ARIA required children role is not found.

#### Expected behavior:

ARIA required children should be correctly defined for elements.

![Screenshot (41)

[2019-03-14 10:07] tharshada commented on #7853
@natalieethell not really, check [this example](https://codepen.io/anon/pen/GeQoGz).
[Video](https://microsoft-my.sharepoint.com/:v:/p/hatrived/EdMDf_bP8WpPjvJNIn9qk4kBNRBltf6q9_LS2h46OBYzFQ?e=u6qWZn)
1. When scrollTop is 0, detailsHeader and scrollablePane content--container have same scrollWidth.
2. When scrollTop>0, detailsHeader becomes sticky and it doesn't have the same scrollWidth as scroll

[2019-03-14 10:10] tharshada opened #8316 "Sticky Perf: footer is getting rendered multiple times"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

[ Repro in CodePen](https://codepen.io/anon/pen/moXyBz)
#### Actual behavior:

Whenever distanceFromTop is changed, sticky component is forceUpdated.
 In the [example](https://microsoft-my.sharepoint.com/:v:/p

[2019-03-14 10:47] redoz commented on #8212
@KevinTCoughlin Yeah that's what I was trying to do, I figured it out after a bit of poking around, and I opened this issue because I thought it would've been nice to have a sample of using the ContextualMenu as an actual context menu. It would've saved me a few minutes of tinkering at least. Feel free to close this as a duplicate if you want.

[2019-03-14 10:54] SimSpfx commented on #8299
It did not solve the problem, but i know in what direction to search for the solution thanks!

[2019-03-14 11:01] v-vasud opened #8317 "Fabric_NavTree : Screen reader is not narrating the position of menu items"
### Environment Information
OS: Windows 10
Version: 1809(OS Build 18298.1000)
Browser: Microsoft Edge (44.18298.1000.0)
Screen Reader: Narrator

### Reproduction of the bug:

#### User Experience:
Users who rely on screen reader are getting affected as narrator is not announcing position of menu items.

#### Reproduction Steps:
1) Turn on Narrator
2) Open https://uifabric-prod.azurewebsites.net/?e

[2019-03-14 11:35] redoz opened #8318 "DropDown auto-selects first item on expansion"
### Environment Information

- __Package version(s)__: 6.156.0
- __Browser and OS versions__:

### Please provide a reproduction of the bug in a codepen:
 Reproducible here: https://developer.microsoft.com/en-us/fabric#/components/dropdown

#### Actual behavior:
Expanding the DropDown auto-selects the first item. Even if I dismiss the DropDown by clicking elsewhere it will select the first item.

[2019-03-14 14:12] SimSpfx commented on #8299
You can solve the problem by reselecting a new theming option and than reapply your theme again.
Best to first save your themes.  No code changes needed.

[2019-03-14 15:04] Adjective-Object commented on #7270
Looks to me like the defaultProps are not typed correctly, since that IGenericItem and ISuggestedItem types don't seem even related.

I'd have to do another pass after getting into the office - I don't know if there's any casting to IGenericItem under the hood internally. It could be that the actual expected return type is T|ISuggestedItem<T>|IGenericItem

[2019-03-14 15:36] mattmazzola commented on #8178
Hmm, I understand technical reasons for this answer but from consumer perspective I makes me want to use Office Fabric less.

This means we can't freely take up minor versions since they could potentially have these DOM structure changes which would be breaking for our app.  It wouldn't violate your API contract but pose immense risk to us.

Yes, I know it is accepted based on SemVer rules, but I

[2019-03-14 16:00] Jahnp commented on #8172
@ichiQhachi4 I see, thanks for that. I'm not too familiar with East Asian typography, but had been led to understand that italics--even for Latins--were generally not used. If that's not the case then we should do the work to find the right solution, e.g. one that doesn't regress non-Italic characters. We may need to do some prototyping to find the right approach as I'm not convinced that simply p

[2019-03-14 16:06] Jahnp commented on #8310
This issue--and a bunch of the subsequent issues targeting https://security.microsoft.com--really don't seem like issues for Fabric controls at all; they're scenario-specific. The control in this issue looks like a custom Angular directive and doesn't relate to Fabric.

@v-vasud can you please verify if these issues should actually target Fabric or not?

[2019-03-14 16:25] KevinTCoughlin commented on #8314
@Raghurk can you please triage the above `@uifabric/dashboard` accessibility issue as area owner

[2019-03-14 16:45] #8137 closed

[2019-03-14 16:49] JasonGore commented on #8317
@v-vasud Please note that this repo is public facing and that you have posted Microsoft internal links and screenshots. Consider editing or removing this issue. Also, please associate your Github profile with the Microsoft org so that we have other means of contacting you. Thanks.

[2019-03-14 16:49] KevinTCoughlin commented on #8316
I believe we saw similar performance concerns while profiling the usage of Sticky on some document libraries.

IIRC @tharshada you have contributed to the control as well as @RupamSarkar & @leddie24.

Would you be willing to take up this investigation and fix?

[2019-03-14 16:50] KevinTCoughlin commented on #8318
@Raghurk can you please triage the above `@uifabric/dashboard` accessibility issue as area owner

[2019-03-14 16:50] KevinTCoughlin commented on #8315
@Raghurk can you please triage the above `@uifabric/dashboard` accessibility issue as area owner

[2019-03-14 16:58] KevinTCoughlin commented on #8310
I inspected the DOM, those controls aren't Fabric. They are angular based.

[2019-03-14 17:00] KevinTCoughlin commented on #8317
I inspected the DOM highlighted above. Similar to https://github.com/OfficeDev/office-ui-fabric-react/issues/8310 those controls are not OUFR and therefore out of scope of this repository.

[2019-03-14 17:05] KevinTCoughlin commented on #8312
@v-vasud I'm unable to navigate to the view you have screenshotted above.  However, given my analysis of your other reports i.e. https://github.com/OfficeDev/office-ui-fabric-react/issues/8310 I'm thinking that list is not an OUFR control.

Can you clarify how to reach that view if you firmly believe the list is a Fabric React control in this Angular application? I do not see "Monitoring & reports

[2019-03-14 17:13] cliffkoh commented on #8318
Duplicate of #5473. Please take a look at that thread for a context of why (short answer: accessibility requirements).

In that thread are suggestions for workarounds as well as the ways we're welcoming PRs to provide an escape hatch for this behavior.

[2019-03-14 17:14] Anschur commented on #8318
The same will also happen if you tab through with keyboard navigation. As soon as the dropdown is focused the first item is selected (even if you don't expand it).

[2019-03-14 17:14] mattmazzola commented on #8264
I can try to recreate. How do you create a codepen that uses Modals in 5.x?

I was starting here:
https://codepen.io/mattmazzola-the-reactor/pen/xBEwrZ?editors=1010

I am using:
`<script src="//unpkg.com/office-ui-fabric-react@5.100.0/dist/office-ui-fabric-react.min.js"></script>`
But this module doesn't export the `Modal` component.  I had mentioned this somewhere else as it seems like a first-cl

[2019-03-14 17:17] redoz commented on #8318
@cliffkoh In my defense I did search before creating the issue, guess I must've used the wrong keywords, apologies, will close it now.

[2019-03-14 17:17] #8318 closed

[2019-03-14 17:18] cliffkoh commented on #8318
No worries at all @redoz, there was no blame intended :) Thanks for taking the time to report this issue - this also helps others find the issue with a different set of terms.

[2019-03-14 17:28] redoz commented on #8318
@cliffkoh No blame was inferred either, but I should've been able to find the original issue and instead I created extra work for you all :)

I did read through the other issue though, and I'm not super excited by the proposed work-arounds (they don't restore the placeholder for one) I think I can take a hammer to it and make it work well enough for what I need. And as you can't "unselect" a DropD

[2019-03-14 17:31] cliffkoh commented on #8318
I completely empathize with and hear you here.

One option is to do a bit of feature work to provide an escape hatch where you explicitly opt-out of the keyboard up-down, which would allow the Dropdown to disable this auto selection behavior whilst still adhering to the W3C accessibility standards.

[2019-03-14 17:58] aftab-hassan commented on #8231
@YuningB @Adjective-Object could you provide a codepen where you can duplicate the issue.

Looking at the issue description, this is what I see when I try to reproduce.
![floating-people-picker](https://user-images.githubusercontent.com/8922176/54380168-12e38100-4648-11e9-8303-0c4c65abc7c6.PNG)

[2019-03-14 17:59] tharshada commented on #8316
@KevinTCoughlin I can take it up, but I would also like @leddie24 to share his views as [this change](https://github.com/OfficeDev/office-ui-fabric-react/commit/a336f17aaadf2598f6d0a824c13727a5b5fa15c5#diff-dea478649983c81b96e8c9a83285a146
) was made by him.

[2019-03-14 18:42] aftab-hassan commented on #8235
I discussed this with @ThomasMichon offline. Similar issue has been filed a few times. This will be re-triaged as not a bug.

Adding details of our discussion below.

On hitting the `spacebar` and telling to sort by a field, we change the `state`. However, it is not possible to ask the screen reader to read a change of state (unless we put an alert at the bottom of the detailslist explaining what

[2019-03-14 18:56] Vitalius1 commented on #8187
![Screen Shot 2019-03-14 at 11 49 10 AM](https://user-images.githubusercontent.com/29514833/54383425-4675d980-464f-11e9-8419-ae25e544da08.png)
![Screen Shot 2019-03-14 at 11 49 37 AM](https://user-images.githubusercontent.com/29514833/54383429-483f9d00-464f-11e9-86eb-0a9f3067af04.png)

[2019-03-14 18:58] Vitalius1 commented on #8187
Here are some specs form the fluent toolkit as the MDL2 toolkit there is not much info. So it looks like by fluent design there are some min-widths for all parent nodes but they are not implemented or documented in the MDL2 toolkit.

[2019-03-14 19:01] Vitalius1 commented on #8187
For reference, this is what we have in MDL2 toolkit.
![Screen Shot 2019-03-14 at 12 00 39 PM](https://user-images.githubusercontent.com/29514833/54384158-d5372600-4650-11e9-9bf4-8bc4a58019d1.png)

[2019-03-14 19:05] Vitalius1 commented on #8187
@betrue-final-final looking at the codepen indeed there is an issue if the last node has a very long name in the current implementation it will collapse all the the parent nodes. In the fluent toolkit there are actually min-widths for each of those parent nodes but they've never been implemented. Should we bring some of that behaviour into current default styles?

[2019-03-14 19:10] Vitalius1 commented on #8187
For even more context there was a PR https://github.com/OfficeDev/office-ui-fabric-react/pull/7881 which changed some of the behaviour of the breadcrumb nodes `max-width` and needs investigated if it brought this regression... or it was always like that.

[2019-03-14 19:14] KevinTCoughlin commented on #8316
I spoke with @tharshada offline. They'll take up this work in a sprint or two perhaps with collaboration with @leddie24. There are some additional perf findings while @tharshada was performing initial analysis that I think would be meaningful to share here as we address document library performance wholesale.

Meanwhile, I will assign to @tharshada, but keep myself to track as I work in *List* are

[2019-03-14 19:17] Vitalius1 commented on #8295
@casvaniersel can you exemplify how the Shimmer was used that this performance issue surfaced? As I mentioned Shimmer is intended to live on the screen very shortly so it should not cause any perceived slowing down of the page. Is there a case where Shimmer is used being rendered for long periods of time? Just curious of all scenarios where it is used.

[2019-03-14 19:28] Adjective-Object commented on #8231
@YuningB as the reporter

[2019-03-14 20:06] TDezentje commented on #8295
@Vitalius1 We only tested it on the demo page. We did not use a real life scenario. But as soon as the shimmer is shown the main thread will have jank.

I'm currently working on a PR. But the change will probably create a breaking change in the API because the gradient will be applied to a different classname.

[2019-03-14 20:35] Vitalius1 commented on #8295
@TDezentje I was thinking the same thing on how to avoid this breaking change by adding a new element in the DOM. With that said we are preparing for a major release soon and this kind of breaking changes are more suited for it so I guess we can discuss having the change available for a next major version if it brings lots of improvements performance wise. Thanks for looking into this and we will

[2019-03-14 21:18] aftab-hassan commented on #8213
@betrue-final-final gentle ping.

[2019-03-14 21:22] ecraig12345 commented on #8213
Something else to keep in mind: if we change one component to display a red border when `required` is true and no value has been entered, we ought to do that on all the form components for consistency.

[2019-03-14 21:29] natalieethell commented on #7853
@tharshada ah I see what you mean, thanks so much for the clarification! @leddie24 do you know why this could be happening?

[2019-03-14 21:34] KevinTCoughlin commented on #8297
@raghavendra-kodimala I'm on the same build on my original device.

While I do no longer hear Narrator announce "button expanded", I _do_ see it picked up by Narrator's parser. See:

[code]

So I'm unsure what we are doing incorrectly within OUFR if at all or if this is a Narrator bug. I will need to follow-up with that team...

[2019-03-14 21:48] KevinTCoughlin commented on #8312
@v-vasud is your reference to `DetailsList` announcing "inappropriate verbose information" encapsulated by the following:

That the `DetailsList` example on https://developer.microsoft.com/en-us/fabric#/components/detailslist with "Enable modal selection" **disabled** reads the following per row focus:

[code]

Specifically: "non-selected"

@v-vasud the answer to the above is critical in assessing

[2019-03-14 21:49] aftab-hassan commented on #8213
@HeinPauwelyn, this being the default behavior, and `TextField` being a widely used component, the change would require a lot of coordination across partners, and potentially break them.

To unblock your issue, we suggest using the `onGetErrorMessage` callback, as in the [codepen](https://codepen.io/jahnp/pen/xBpabq). Please let us know if that does not help, and we can work with you.

[2019-03-14 21:50] aftab-hassan commented on #8213
Noted. Thanks @ecraig12345

[2019-03-14 21:53] JasonGore opened #8328 "API Breaking Changes for Fabric 7"
These issues contain API breaking changes that we would like to get done for Fabric 7 release:

| Issue | Title | Status |
|-------|------|--------|
| #7014 | Foundation: Finalize State & React Hooks | ✅  |
| #8823 | Foundation: Evolution of styled helper | :x: |
| #8331 | Foundation: Extend Component | :x: |
| #8334 | Foundation: 'as' Props | ✅ |
| #8335 | Foundation: Render Functions | ✅  |

[2019-03-14 21:55] JasonGore opened #8329 "Theming: Nested Styling"
* Primary Concern:
      * Don't want to require components to embed tokens/styling in Slots component props. Should be able to centralize all styling and tokens in styles file.
    * Can we distinguish IStyle from IStylesFunction and process appropriately?
    * What about nested tokens functions?
    * Use cases:
      * Component Internal
      * Component External
      * Theming
    * subcomp

[2019-03-14 22:16] aftab-hassan commented on #8224
@lukehumphrey, we discussed this within the team today, with @ThomasMichon who has encountered this, being a common scenario in OneDrive.

We have had similar issues reported a few times in the past (particularly similar to a recent one https://github.com/OfficeDev/office-ui-fabric-react/issues/8235) and this scenario has been triaged as not a bug.

As I mention in https://github.com/OfficeDev/off

[2019-03-14 22:17] KevinTCoughlin commented on #8317
@v-vasud. none of the following official W3 ARIA navigation examples announce menu item position when used as navigational elements, see:

## Example 1: Expandable Nav Menus

W3 ARIA Example: https://www.w3.org/TR/wai-aria-practices/examples/menu-button/menu-button-links.html

In the above W3 ARIA example, a navigation menu is shown upon interaction of a button. This deviates from the example ment

[2019-03-14 22:20] KevinTCoughlin commented on #8317
Also note that W3 ARIA's spec for `role=navigation` does not list any positional element as _required_ or _inherited_, see https://www.w3.org/TR/wai-aria-1.1/#navigation.

[2019-03-14 22:53] aftab-hassan commented on #8170
Discussed offline. @makopch-ms is aware of the fix and working on it. Will reach out if there are any questions.

[2019-03-14 23:03] TCambre commented on #7123
@natalieethell JAWS just messed up my devbox somehow so I had to reimage... I'm going to take your word for it and revisit this soon when we re-implement the list in our redesign, we have already filed an exception for it since I created this issue.

[2019-03-14 23:08] KevinTCoughlin commented on #8317
Our navigation uses `role=navigation"` and the `nav` element not menus. Note how the W3 ARIA examples for `role="navigation"` do not specify `aria-posinset` nor `aria-setsize`, see https://www.w3.org/TR/wai-aria-practices/examples/landmarks/navigation.html.

[2019-03-14 23:19] KevinTCoughlin commented on #8310
@v-vasud, some follow-up questions:

**Bug 1 : Narrator is not reading the Link Current state (Selected) at left navigation menu region**

If this bug is in reference to the selected link not being read aloud by Narrator, I believe I can repro this with basic Nav examples. See Narrator output below:

[code]

**Bug 2 : Narrator is not announcing the expanded/collapsed state for the hamburger menu.*

[2019-03-14 23:30] JasonGore opened #8331 "Foundation: Extend Component"
* We should provide a method for easily extending and customizing existing components, such as tweaking styling. As a generic example:
  * `const FancyStyledButton = extendComponent(Button, { tokens: { backgroundColor: fancyColor } });`
  * Could make 'hidden' static on Button like `__def` that is accessible by extendComponent for calling createComponent to make a new component with extended optio

[2019-03-14 23:49] JasonGore opened #8332 "Theming: Type Safety"
Currently defining component styling in `scopedSettings` has no type safety. We should have a mechanism for providing type safety to check for valid styling and tokens, such as:

[code]
As part of making theming easier to use, this type safety for component styling could be added to `ThemeProvider`, and then documented as the official method for theming covering both `ITheme` usage and component s

[2019-03-14 23:50] lukehumphrey opened #8333 "Accessibility blocker: Commandbar: Index of commands no longer read out by screen reader"
This bug is preventing Project from passing an MS PWD usability test.
repro:

Edge > Narrator on.
Open Commandbar with commands in it and tab to select a command.
Expected: SR reads out command and index (x of y) commands.
Actual: (x of y) not read out. User doesn't know how many commands are in command bar.

Can this be fixed in the short-term?
Contact PM lukehum@microsoft.com for more qs.

[2019-03-14 23:56] JasonGore opened #8334 "Foundation: 'as' Props"
Revisit `as` props in Slot context.

* First Step
  * Start with support for instrinsic-only root elements.
* Reconcile the meaning of `as` props
  * Intrinsic components vs. React components
  * Root elements vs. subcomponents.
* Type Safety
  * Concern of intrinsic attributes not lining up
  * Could make string for use with getNativeProps for type safety
  * React Router case?
* [This CodePen](h

[2019-03-15 00:03] natalieethell commented on #7123
@TCambre ah sorry about that, but sounds good! Feel free to close this issue if you're happy with this new behavior.

[2019-03-15 00:07] JasonGore opened #8335 "Foundation: Render Functions"
Current render functions that pass in `render` arg are very powerful but also complex and relatively hard to use, as [this CodePen](https://codepen.io/jasongore/pen/JxqxrP) illustrates.

TODO:
  - Render functions should allow null as a return value

Explore:
- Possibilities of allowing default render function that would also be compatible with functional components, like `(props, Component, etc.)

[2019-03-15 00:08] #7123 closed

[2019-03-15 00:16] JasonGore commented on #8225
This is a possible duplicate of #8134 which has been resolved.

[2019-03-15 00:25] KevinTCoughlin commented on #8333
Thanks for reporting this @lukehumphrey. It looks like the root element of `CommandBar` has `role="menubar"`. According to W3 ARIA specification, the role [menubar](https://www.w3.org/TR/wai-aria-1.1/#menubar) inherits from [menu](https://www.w3.org/TR/wai-aria-1.1/#menu) and requires owned elements be of role `menuitem`.

The role `menuitem` supports state properties `aria-posinset` and `aria-set

[2019-03-15 00:27] KevinTCoughlin commented on #8333
@lukehumphrey, you mention "Index of commands no longer read out by screen reader". Was this recently regressed to your knowledge? I will investigate git history.

[2019-03-15 00:31] KevinTCoughlin commented on #8333
@lukehumphrey it looks like this was removed in https://github.com/OfficeDev/office-ui-fabric-react/commit/cc7f252b7f921c8f2ba79551ea82fa6f93e36dda#diff-b7ad51933f12bb1d434bb4dd8cc5a969

@kenotron do you have context? I think `aria-posinset` and `aria-setsize` should be valid as long as the buttons have `role="menuitem"` as described in https://github.com/OfficeDev/office-ui-fabric-react/issues/83

[2019-03-15 00:34] KevinTCoughlin commented on #8333
@micahgodbolt can you advise as the author of https://github.com/OfficeDev/office-ui-fabric-react/issues/6232?

[2019-03-15 00:39] kenotron commented on #8333
If you looked at the linked bug... it was through some research about some bugs that cropped up with the component itself. The resolution isn't maybe ideal for this instance, but there was a workaround embedded in that statement:

[2019-03-15 00:46] lukehumphrey commented on #8224
@aftab-hassan this actually works correctly when changing months. SR reads out "Group: July 2019".
I'm not sure what the underlying mechanism is here, but can't that be applied to the years as well?

![image](https://user-images.githubusercontent.com/6999980/54400612-f6b00600-4680-11e9-9681-047f18725ea2.png)

[2019-03-15 00:54] lukehumphrey commented on #8224
Generally we'd want a solution at the control level, however, vs. implementing our own workaround on top. Also if we hit this I'm sure it'll come up again other teams leveraging the calendar control doing PWD tests.

[2019-03-15 01:09] #7260 closed

[2019-03-15 01:33] aftab-hassan commented on #8225
@lukehumphrey As @JasonGore's mentions, this was fixed.

Here is a video of it action while @leddie24 was reviewing it
https://streamable.com/zc06v

Thanks for letting us know @JasonGore

[2019-03-15 01:38] KevinTCoughlin commented on #8305
I spoke with @lorejoh12 today who recommended we put Calendar related issues under the date-time project so that it receives proper attention by the feature crew.

[2019-03-15 01:38] KevinTCoughlin commented on #8285
I spoke with @lorejoh12 today who recommended we put Calendar related issues under the date-time project so that it receives proper attention by the feature crew.

[2019-03-15 01:38] KevinTCoughlin commented on #8224
I spoke with @lorejoh12 today who recommended we put Calendar related issues under the date-time project so that it receives proper attention by the feature crew.

[2019-03-15 04:00] tharshada commented on #7853
@natalieethell it is happening because of placeholder width.
_getNonStickyPlaceholderHeightAndWidth(): React.CSSProperties {
   ...
      if (this.nonStickyContent) {
        height = this.nonStickyContent.offsetHeight;
        width = this.nonStickyContent.**scrollWidth**;
      }
    ...
  }

 If you check [this example](https://codepen.io/anon/pen/GeQoGz), you will find there is  detailsListCon

[2019-03-15 04:50] MdAmeerMind commented on #8294
Hi @KevinTCoughlin, thank u for clarification.
Attribute require to narrate list option position are already there. Even observe same behaviour on reference site for ARIA implementation . [https://www.w3.org/TR/wai-aria-practices/examples/combobox/aria1.1pattern/listbox-combo.html](https://www.w3.org/TR/wai-aria-practices/examples/combobox/aria1.1pattern/listbox-combo.html)
It seems it is JAWS iss

[2019-03-15 05:08] MdAmeerMind commented on #7408
Hi, Narrator still narrating option text twice for (Chrome + NVDA) (JAWS + IE) ,
It is reproducible on test release site provided above https://fabricweb.z5.web.core.windows.net/oufr/6.118.0/#/examples/ComboBox#Variants

[2019-03-15 05:15] KevinTCoughlin commented on #8294
Thanks for following up @MdAmeerMind. I believe the JAWS open bug tracker can be found at https://github.com/FreedomScientific/VFO-standards-support/issues. I recommend opening an issue for the above there. Feel free to cross-reference this issue.

I'm going to let the bot close this after some time unless there is action the Fabric team needs to take here.

[2019-03-15 07:15] casvaniersel commented on #8295
@Vitalius1 sorry for the late response, but @TDezentje already replied and made a PR I see 👍 awesome!

[2019-03-15 07:32] MdAmeerMind commented on #8294
Hi @KevinTCoughlin ,
Same issue was already raised on JAWS support .[ https://github.com/FreedomScientific/VFO-standards-support/issues/53]( https://github.com/FreedomScientific/VFO-standards-support/issues/53)
They provided solution for issue.
I had tried there suggestion by explicitly set the [aria-setsize](https://www.w3.org/TR/wai-aria-1.1/#aria-setsize) and [aria-posinset](https://www.w3.org/

[2019-03-15 09:08] MinhThienDX commented on #8313
Expected output:
When submit form (you can click button submit to see), the browser focus empty required field and display browser's message like in 2 pictures I have attached below.

Firefox's message:
![Firefox](https://user-images.githubusercontent.com/13492015/54419358-d001d600-4739-11e9-8eb5-51e9441a85d1.png)
Chrome's message:
![Chrome](https://user-images.githubusercontent.com/13492015/54419

[2019-03-15 13:04] vasilevach opened #8339 "Panel onDismiss called when you blur of it. We would hope a way is provided to disable that trigger."
### Environment Information

- "version": "6.135.1"
- OSX High Sierra

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/chris-panayotova/pen/rRdYar

#### Actual behavior:

So if you click on the "loader", which needs to be with a higher z-index (because, for example, you make a request of some sort), the panel gets its onDismiss called.

#### Expected behavior:

We sh

[2019-03-15 16:31] micahgodbolt commented on #8333
@KevinTCoughlin pos-in-set can be added to each command bar item if your scenario requires it. From what we've seen, adding pos-in-set caused more trouble for accessibility testing than it solved.

Pos-in-set only needs to be set when not all items are present in the DOM at the same time (think pagination or virtualized list). Otherwise the screenreader has no trouble determining how many items ar

[2019-03-15 17:29] tedfordtf commented on #8238
It would be very beneficial for our team (Power platform) too. It provides contextual feedback and it also allows our users to feel a sense of accomplishment of fulfilling a task done in a dialog

[2019-03-15 17:36] micahgodbolt commented on #8178
@mattmazzola sorry about the hastey response earlier ( i caught it in passing during the evening ).  I agree it's frustrating that our DOM change affected styles you applied via a prop that we provided to you. That's a breaking of trust, and shouldn't happen again.

In this situation there was a bug involving scrolling in modals which was resolved by adding a scrollable section around the content.

[2019-03-15 17:51] KevinTCoughlin commented on #8317
Also worth noting that `aria-posinset` and `aria-setsize` are not required if all elements are present in the DOM, see:

https://www.w3.org/TR/wai-aria-1.1/#aria-posinset

[2019-03-15 17:56] micahgodbolt commented on #8178
@kkjeer what do you think about us moving the 'containerClassName' to the scrollableContent div? This appears to be the intention of this className.

[2019-03-15 18:02] micahgodbolt commented on #8255
I know this is marked priority 'high', but it has no affect on the user being able to accomplish their tasks, and only affects a single browser. If there is a clear fix for this, we can certainly apply it, but I wouldn't want to regress 7778 entirely for this. Is there any other way 7778 could be done?

[2019-03-15 18:10] mattmazzola commented on #8178
Ok, I assume that means the element is staying.

I assume element was added for a reason I just don't know the resaon. Since element is added in all cases around the children it would help me to understand why the scrollable behavior could not be absorbed by the parent div through some type of composition.

Depends on what the "something" is of course, but in my experience the only issue was previ

[2019-03-15 18:17] micahgodbolt commented on #8178
I agree, we have better tools now with React.Fragment which certainly help the div hell!

Hooks will also make it easier to add functionality without additional wrapping divs (those are coming in Fabric 7).

Without hooks, such composition is currently difficult as we'd need to mix the functionality of two pretty complex controls (focus zone and scrollable pane), but I think there are ways we can

[2019-03-15 18:51] nickersd opened #8341 "dialog outside of the taskpane"
I need a dialog that has more real estate than just the size of the task pane.  I've attached a screenshot from the API documents that show the size that I would need.
I've tried doing this with css (ie: containerClassName: 'myDialogClass' in ModalProps) but there appears to be a limit to only the size of the taskpane.  Is there a different surface that I should be using? Is there something that I

[2019-03-15 19:43] #7253 closed

[2019-03-15 22:04] KevinTCoughlin commented on #8341
The screenshot above looks like some sort of `Popup`-like component with custom `height` & `width` styling. I'll take a pass at putting a Codepen together to accomplish and get back to you shortly. It _should_ be possible with current controls (I think).

[2019-03-15 22:06] KevinTCoughlin commented on #8339
I need to take a pass at a modified Codepen here. I imagine that the top-most layer (the spinner) when loading could intercept click events and stop propagation. That should then stop the `Panel` from dismissing below.

This approach seems reasonable given past experiences, let me take some time to put a repro together from yours.

[2019-03-15 22:43] gnanavelum opened #8345 "Panel is not passing (ev) to onDismiss in dismissOnOuterClick"
![image](https://user-images.githubusercontent.com/2680177/54465461-7d73ea00-4738-11e9-9663-ae410ae31f13.png)

https://github.com/OfficeDev/office-ui-fabric-react/blob/526fe7fff3c778327ea447ce200b195d9cef3bb1/packages/office-ui-fabric-react/src/components/Panel/Panel.base.tsx#L87

[2019-03-15 23:12] bmckilligan opened #8347 "DetailsList: Introduce onRowChecked & onRowUnchecked or similar (selection) convenience callbacks"
**Describe the feature that you would like added**
Event Handling For Unchecking of a row

currently an item that has been checkedon on can be handled via
onItemInvoked or a list of all selected items can be retrieved with ISelection.onSelectionChanged
but there is no way to get the item that has been unChecked

**What component or utility would this be added to**
DetailsList

**Have you discussed

[2019-03-15 23:21] JasonGore commented on #7991
I'm still looking into this. There seems to be quite a simple `alert` usage here that isn't announced, so I suspect this is either an Edge or Narrator bug. I don't see any existing bugs in their repos that quite match, so I'm working on a minimal repro to report.

[2019-03-15 23:58] JasonGore commented on #7991
I have a [minimal repo CodePen](https://codepen.io/jasongore/pen/NJYQVV) that repros this issue in Edge but works fine in Chrome. I'll create an Edge issue for this. It's possible this is a repro of another bug I'm seeing in the Edge repo, but it is very technical so I am not sure. I'll let you know either way.

[2019-03-16 00:08] KevinTCoughlin commented on #8347
I believe we've discussed this in the past, I'll need to review previous issues and get back to you shortly.

@bmckilligan is the ask to be able to have _some_ callback which receives an `item` when it is _individually_ selected / unselected (checked / unchecked)?

[2019-03-16 00:27] KevinTCoughlin commented on #8345
@gnanavelum I can see that `ev` is not being passed, but that seems intentional given the following LoC:

https://github.com/OfficeDev/office-ui-fabric-react/blob/526fe7fff3c778327ea447ce200b195d9cef3bb1/packages/office-ui-fabric-react/src/components/Panel/Panel.base.tsx#L206

Can you elaborate on the bug here as per our Bug Template below? It will help me triage this and provide resolution to you

[2019-03-16 03:26] bmckilligan commented on #8347
@KevinTCoughlin   yes some call back that returns the item or some reference to the item such as the key or index

[2019-03-16 03:27] peterremote1980 opened #8348 "How to highlight multiple dates in calendar"
Hi All
    How to highlight multiple dates in calendar?
Thanks
Peter

[2019-03-16 13:39] raghavendra-kodimala commented on #8245
@aftab-hassan Here is the codepen https://codepen.io/raghavendra-kodimala/pen/EMbrmr. which repro issue.

[2019-03-16 18:28] vasilevach commented on #8339
The problem is that we sometimes open dialog from the panel as well. So as you can imagine, every time we start typing in the panel, the blur event gets triggered and thus the dismiss is called. So your suggestion would definitely help in a small example as the one I provided, but it does not help in the more complicate I outlined. Isn't there anything we can do to prevent that action from tking p

[2019-03-18 03:53] awalia13 opened #8349 "Calendar A11y Pass"
Tracking all of the issues brought up with the 03/15 accessibility pass on Calendar fabric control
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8cfe67c5-ce76-4083-b60e-4190dbd38206%7D&action=default&uid=%7B8CFE67C5-CE76-4083-B60E-4190DBD38206%7D&ListItemId=1872&ListId=%7B395E1ECB-

[2019-03-18 05:09] KeiraYang opened #8350 "Narrator will read dialog title again after reading "... dialog editing" when using some textfield in the dialog."
Narrator will read dialog title again after reading "... dialog editing" when using some textfield in the dialog. Which seems redudant and might comfuse user about whether focus is still in edit field or not.

[2019-03-18 06:16] piyumi25 commented on #8175
Environment Information
Package version(s):
Browser and OS versions: IOS
Please provide a reproduction of the bug in a codepen:https://codepen.io/piyumi28/pen/moKRvV
Actual behavior: when click on checkbox, the callout is dismissed
Expected behavior: callout should not be dismissed
Priorities and help requested: I need to fix this issue as soon as possible
Are you willing to submit a PR to fix?No

[2019-03-18 06:41] raghavendra-kodimala opened #8351 "[CommandButton as menu][Accessibility]: Screen reader doesn't announce expanded/collapsed status for command button as menu and Narrator is unable to navigate to menu items in scan mode when shouldFocusOnMount is set to false."
### Environment Information

- __Package version(s)__: (5.122.3)
- __Browser and OS versions__: (Chrome: 72.0.3626.121 (Official Build) (64-bit), Microsoft Edge: 44.17763.1.0, Microsoft Windows 1809)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
 Screen reader doesn't announce expanded/collapsed states for CommandButton component as menu, and Narrator is unable

[2019-03-18 07:21] Sandhya-aluri opened #8352 "NVDA is reading the day name incorrectly inside the date picker."
### Environment Information

- __Package version(s)__: (^6.154.0)
- __Browser and OS versions__: (chrome)

### Please provide a reproduction of the bug in a codepen:
 https://codepen.io/sandhya-aluri/pen/RdJVbx
<img width="537" alt="datepicket" src="https://user-images.githubusercontent.com/48669559/54513095-4e4dba80-497c-11e9-9ca6-3d034f3ccd3c.png">

Fix- Please remove the role=gridcell which is

[2019-03-18 07:43] fengyue1013 opened #8353 "DocumentCard in compact layout has 1px blank line below preview image"
### Environment Information

- __Package version(s)__: (6.156.0)
- __Browser and OS versions__: (chrome 72.0.3626.121)

### Please provide a reproduction of the bug in a codepen:
 It could be observed on the demo page:
https://developer.microsoft.com/en-us/fabric#/components/documentcard
#### Actual behavior:
![image](https://user-images.githubusercontent.com/12523937/54514202-7812db80-4994-11e9-8

[2019-03-18 07:51] fengyue1013 commented on #8353
The preview has height [106px + border-top/botttom = 108px](https://github.com/OfficeDev/office-ui-fabric-react/blob/79997dce092bf1a444754ab6e58a9f1a437a2842/packages/office-ui-fabric-react/src/components/__snapshots__/DocumentCard.Compact.Example.tsx.shot#L42), while the document card has height [109px](https://github.com/OfficeDev/office-ui-fabric-react/blob/29f7007cbf79d47a9c9373a6b2ecf0d0e36f9

[2019-03-18 09:26] craigdcorrea25 opened #8354 "Parsing through a DetailsList."
While tabbing into a DetailList, initially the focus is on the Headers, followed by the entire row (which is completely read out by NVDA). When using up or down arrow, I am able to go from one complete row to the other complete row. With NVDA on, and while parsing through the headers using the Up and Down Arrows, the screen reader now starts to read the entire DetailsList cell wise instead of row

[2019-03-18 11:50] JakeStanger opened #8355 "Components using FocusZone immedidiately crash"
### Environment Information

- __Package version(s)__: 6.157.0
- __Browser and OS versions__: Firefox 65 and Chrome 73, Windows 10

### Please provide a reproduction of the bug in a codepen: Unable to replicate, however is occuring for very simple dropdowns or pivots.

#### Actual behavior:
React crashes, `Object(...) is not a function` in `FocusZone.js`.

#### Expected behavior:
Dropdown opens, P

[2019-03-18 15:06] Anschur opened #8356 "Breadcrumb links only missing non-color designator (A11y)"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

I do not think links in the breadcrumb are up to the accessibility requirements. In this [article ](https://webaim.org/techniques/hypertext/link_text) it states that "The link must present a "non-color designa

[2019-03-18 15:25] JasonGore commented on #7991
I've identified this bug in Edge's repo and they plan to fix it in UIA for Chromium. Since this is working in other browsers I will resolve this as external.

[2019-03-18 16:16] JoshuaLamusga opened #8357 "DetailPanel should be shown in https://developer.microsoft.com/en-us/fabric"
The DetailPanel control is not featured or mentioned anywhere on developer.microsoft.com/.../fabric. Please add it. My team has a dependency on the control and the names for the props, such as "currentL2Id" to name one, warrant an easily-accessible description. It will benefit anyone else relying on the detail panel.

[2019-03-18 16:38] KevinTCoughlin commented on #8212
@aftab-hassan, let's close as dupe and tackle via https://github.com/OfficeDev/office-ui-fabric-react/issues/7162 soonish, hopefully this week. I have another example for SearchBox to add.

[2019-03-18 16:38] #8212 closed

[2019-03-18 17:01] HalcyonPride commented on #7991
As described above - thanks, @JasonGore!

[2019-03-18 17:01] #7991 closed

[2019-03-18 17:06] moizgh opened #8359 "Edge browser: Buttons in High contrast mode do not render as expected"
![image](https://user-images.githubusercontent.com/25937675/54548505-76d6b400-497e-11e9-8898-2fed348a1b39.png)

This is what the states should look like for the two types of buttons, but once key focus hits the standard button, hover is broken. The correct visual is above the third column

[2019-03-18 17:10] moizgh commented on #8359
The Standard button in the third column of screenshot seems to be missing -ms-high-contrast-adjust: none styling which is making the text disappear.

[2019-03-18 17:58] khmakoto commented on #8348
Hi Peter, there are ways to highlight date ranges in the `Calendar` component. However, I don't think there is a way to highlight multiple individual dates right now.

Feel free to post the question in the Stack Overflow using [office-ui-fabric](https://stackoverflow.com/questions/tagged/office-ui-fabric) if you need further assistance.

[2019-03-18 18:26] khmakoto commented on #8350
Hi @KeiraYang, can you provide a codepen that reproduces the issue so we can take a look at it and check if it's a bug and how to fix it?

[2019-03-18 18:33] khmakoto commented on #8353
@yiminwu it seems you are the codeowner for `DocumentCard`. Is this by design or is it a bug that requires a simple fix?

[2019-03-18 18:38] aftab-hassan commented on #8245
@raghavendra-kodimala thanks for the codepen. I am able to see the issue here, and will be working on the fix.

[2019-03-18 18:40] khmakoto commented on #8355
@dzearing does this have to do with your recent PR? It is related to `initializeComponentRef`.

[2019-03-18 18:47] khmakoto commented on #8356
@micahgodbolt @jdhuntington What do you think about this? Should we add the underline designator?

I can do it, but just want to double-check first with you.

[2019-03-18 18:51] micahgodbolt commented on #8356
This is a large chunk of our controls TBH. But when it comes down to it, it's our designer's decisions on how we represent these various states, and our job is to follow that spec.

@betrue-final-final do you have any feedback on if we have decided to intentionally excuse this 'non color designator'? Is this something you're working on in future revs/fluent?

[2019-03-18 18:52] leddie24 commented on #8119
Hi @Anschur , sorry for the late response here.  After chatting with @betrue-final-final on this issue, he concluded that this is actually by design of narrator.  This issue is related to #8139, which I'm looking into a solution for at the moment.

[2019-03-18 18:52] micahgodbolt commented on #8356
also, adding a background could be considered a 'non color designator'. Adding a background might actually be more obvious than an underline. Again, we follow design's guidance.

[2019-03-18 18:56] khmakoto commented on #8355
@JakeStanger can you provide a codepen with a scenario similar to the one the error is happening in even if it isn't reproing the error?

[2019-03-18 18:57] Jahnp commented on #8357
Hi @JoshuaLamusga , DetailPanel appears to be part of the @uifabric/dashboard package which is not planned to be documented on the website. Tagging @kenotron / @ecraig12345 who I believe have been helping with the "internal-ization" of the dashboard package and may have info on if there is docs for it (e.g. maybe there's an internal site?)

[2019-03-18 18:57] micahgodbolt commented on #8356
@khmakoto as for adding the underline, definitely not without design approval. My guess is that we'll close this out as 'by design'. If there actually is a problem with the accessability of this control, that discussion needs to start with design. It's our job to implement it.

[2019-03-18 18:58] micahgodbolt commented on #8359
@moizgh if you know the fix, you are welcome to create a PR for the component. That's the quickest way to get this resolved.

[2019-03-18 19:00] khmakoto commented on #8357
Hi @JoshuaLamusga, from what I can see the `DetailPanel` component is in the `dashboard` package. From my understanding, we don't currently host components that are not in the `office-ui-fabric-react` package on our website.

CCing @micahgodbolt who might have more insight on this.

[2019-03-18 19:02] micahgodbolt commented on #8357
For now you can preview the dashboard package on all of our PR builds

http://fabricweb.z5.web.core.windows.net/pr-deploy-site/refs/pull/8360/merge/dashboard/dist/index.html

As Peter mentioned, this package will eventually be going internal source and will be maintained by the dashboard team themselves.

[2019-03-18 19:07] dzearing commented on #8355
@JakeStanger here's a starter: https://codepen.io/dzearing/pen/daqMzx

We aren't seeing the repro, but that doesn't mean it's not there. If we can repro; then we can make sure it's somewhere in the library that we can fix. We are trying different things on our end, but if you can adjust the codepen to do what you're doing and we have it reproing, that would help us isolate where the issue is.

[2019-03-18 19:15] aftab-hassan commented on #8178
@micahgodbolt Is this an issue we would like to fix using hooks in Fabric 7?

Or would we like to explore other ways to solve this, starting with moving the containerClassName and manually supporting scrollable functionality, you mentioned?

If this change is required in the short term, I can work on it. If not, can we consider adding it to the backlog?

[2019-03-18 19:17] evlevy commented on #8080
@skunani I think number 1 (Onfocus issue) is not a problem if you set disableAutoFocus={true} on the DatePicker (although that may cause other focus inconsistencies).

[2019-03-18 19:18] leddie24 commented on #8135
Hi @TestAccessibilityGIT , thanks for submitting this issue.  This seems to be working fine with Edge/Narrator, but it looks like it's not functioning the same in Chrome/NVDA/JAWS.  I will get in touch with the Narrator/Edge team to see what screen reader and/or browser is breaking accessibility standards.

[2019-03-18 19:23] micahgodbolt commented on #8135
Can we tripple check if this/is not working in Edge/Narrator? Seems the two of you are getting different results.

[2019-03-18 19:24] micahgodbolt commented on #8178
I think #1 is the better solution here. The expectation was that the 'containerClassName' would wrap the modal content....putting a scrollable pane inbetween breaks that relationship. Let's write up that PR and see if there is other feedback/ideas.

[2019-03-18 19:31] aftab-hassan commented on #8175
@piyumi25 thank you for providing the codepen. However, I am unable to see the issue here, it opens up a blank page. Could you kindly update the codepen to match the issue you are facing?

[2019-03-18 19:31] leddie24 commented on #8135
This is working in narrator/edge for me.  Here's the output from Narrator Buddy

[code]

[2019-03-18 19:34] JakeStanger commented on #8355
Your starter contains enough to cause it and more. I've added my usage of the Pivot component which also created a crash. As you can see it's the very bare usage.

[https://codepen.io/jakestanger/pen/ZPjGgB](https://codepen.io/jakestanger/pen/ZPjGgB)

[2019-03-18 19:34] aftab-hassan commented on #8178
Okay, going with "_Move the containerClassName to the scrollable section, thereby keeping the class on the containing element_". I'll have that PR out.

[2019-03-18 19:38] leddie24 commented on #8139
@micahgodbolt @cschlechty , do you have any recommendations on this issue?  I spoke with @betrue-final-final and he said the best approach would be to have `alt` text attribute similar to an `img` element, where it would read "Image dog jumping through hoop" if you pass in `<img alt="Dog jumping through hoop" />`, but in this case, it would read "Icon CompassNW".  However, we can't simply pass an

[2019-03-18 20:01] chaofeng2014 opened #8361 "Hovercard need instant dismiss function"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

If user click actions on hovercard, the focus will be set into the new UX that the action opened, then since hovercard dismiss has 300ms delay, the focus will be set back to the anchor,

[2019-03-18 20:11] khmakoto commented on #8354
Hi @craigdcorrea25, can you provide a codepen where this is reproing? Or does this also repro on the official site? Just want to make sure I have an environment in which I can dig into this deeper.

[2019-03-18 20:20] KevinTCoughlin commented on #8339
@vasilevach, it looks like you _may_ be able to achieve the behavior you want by utilizing `Panel`'s `isBlocking?: boolean` prop. Specifically `isBlocking={false}` while the overlay is shown. See:

https://codepen.io/kevintcoughlin/pen/pYZgEV?editors=0010

There are likely alternative solutions if this doesn't match your needs, but I'd ask to have a repro closer to your application scenario if tha

[2019-03-18 20:35] KevinTCoughlin commented on #8341
@nickersd, you can customize the `Dialog`'s min and max width, but its admittedly a bit tricky today. It requires overriding the media query that is being set.

Here's an example that bumps the `Dialog` width beyond its normal bounds using `merge-styles` approach: https://codepen.io/kevintcoughlin/pen/bQGQpp

See https://github.com/OfficeDev/office-ui-fabric-react/issues/5175#issuecomment-43563244

[2019-03-18 20:39] KevinTCoughlin commented on #8310
After speaking with @v-vasud on Friday, we came to the conclusion that the `Nav` with accessibility issues was related to the wrapper component within the Dashboards package. Adding the appropriate folks to triage cc: @Raghurk.

If this turns out to be OUFR `Nav` feel free to re-engage me.

[2019-03-18 20:39] KevinTCoughlin commented on #8317
After speaking with @v-vasud on Friday, we came to the conclusion that the `Nav` with accessibility issues was related to the wrapper component within the Dashboards package. Adding the appropriate folks to triage cc: @Raghurk.

If this turns out to be OUFR `Nav` feel free to re-engage me.

[2019-03-18 20:41] KevinTCoughlin commented on #8257
@tabrumle any traction here? If not I'd be happy to pick up the work :).

[2019-03-18 20:43] KevinTCoughlin commented on #8255
I defer to @lorejoh12 regarding the above as author of the PR.

[2019-03-18 20:51] khmakoto commented on #8361
Hi @chaofeng2014, can you provide a codepen with a similar scenario to start looking into this?

@micahgodbolt is this a feature we would be interested in providing?

[2019-03-18 20:58] khmakoto commented on #8355
@JakeStanger I checked the codepen in Edge, Chrome and Firefox and cannot seem to repro the issue. Is there any way we can repro this? It's kind of hard to check and make a fix if we cannot see how the bug behaves in the first place.

[2019-03-18 21:00] #8254 closed

[2019-03-18 21:02] cschlechty commented on #8139
Take a look at https://css-tricks.com/can-make-icon-system-accessible/ We
likely want to behave similar to calling it a role="img" with an
aria-label. If no label is provided, we could hide it.

On Mon, Mar 18, 2019 at 12:38 PM Eddie Liu <notifications@github.com> wrote:

[2019-03-18 21:21] JakeStanger commented on #8355
I have no idea how to reproduce this myself unfortunately. If I get time tomorrow I'll play around and see if I can isolate/discover anything about the issue.

[2019-03-18 21:23] khmakoto commented on #8355
Perfect, In the meantime I'll try to isolate the bug too. Are there any specific props you're passing that we should be aware of? Or is the codepen you provided pretty much on par with the scenario where the bug is reproducing?

[2019-03-18 21:25] JakeStanger commented on #8355
That codepen is on par. It really was the simplest of setups causing the issue. I'm wondering if some other dependency or webpack are contributing to the issue.

[2019-03-18 21:37] khmakoto commented on #8352
I've confirmed that the bug is reproing and that NVDA is reading dates twice, with the second time reading them wrong. I'll check if this is a bug on our side or not.

[2019-03-18 21:44] khmakoto commented on #8351
Hi, could you please provide a codepen where the issue is reproing to take a deeper look into it?

[2019-03-18 21:46] KevinTCoughlin commented on #8347
@bmckilligan, I implemented your ask given our current prop surface to see what all would be involved. Here's the working Codepen: https://codepen.io/kevintcoughlin/pen/wOxGjO?editors=1010

I'll add surfacing convenience props `onRowChecked` & `onRowUnchecked` to our component backlog. Since this can be accomplished today without much additional code, I think its best we wait until we clean-up the

[2019-03-18 22:05] KevinTCoughlin commented on #8313
## Dropdown

@MinhThienDX re: `Dropdown` triggering the browser's native `required` prompt, see the discussion in https://github.com/OfficeDev/office-ui-fabric-react/pull/7357#issue-237824973

## ComboBox

As you mention in https://github.com/OfficeDev/office-ui-fabric-react/issues/8313#issuecomment-473210768, the `<input />` element within `ComboBox` can be targeted via `autofill?: IAutoFillProps

[2019-03-18 22:10] KevinTCoughlin commented on #8294
@MdAmeerMind, are you able to make the changes in your application to satisfy JAWS? Or are you still blocked awaiting changes within `office-ui-fabric-react`?

[2019-03-18 22:11] khmakoto commented on #8357
I'll be closing this per the comments above.

[2019-03-18 22:11] #8357 closed

[2019-03-18 22:41] micahgodbolt commented on #8313
Yeah, this is a large backlog item we've had for a bit. Go through all of our inputs and normalize their labels, error states, required etc....This could happen in many ways either by adding functionality to each control, or wrapping the 'input' with a parent that includes label, error etc.

[2019-03-18 22:42] micahgodbolt commented on #8313
I've created this epic to track much of the work we want to do to improve input consistentcy

#7636

[2019-03-18 22:47] micahgodbolt commented on #8361
This feels a bit more like a bug actually. It's possible that @atneik might be the best one to handle it, but I'd certainy like to get it resolved vs putting it into the backlog as a feature.

[2019-03-18 22:49] KevinTCoughlin commented on #8264
Hrmm, I don't see this callback issue in `6.x` -- https://codepen.io/kevintcoughlin/pen/pYZEbL?editors=1010.

Setting up my dev env to test against `5.x`...

[2019-03-18 22:57] khmakoto commented on #8356
I'll soft close this for now and leave it like that unless we get instructions from design to address this.

[2019-03-18 23:03] KevinTCoughlin commented on #8264
@mattmazzola I'm unable to repro your issue with component callbacks not firing when rendered within a `Modal`. See my findings above, https://github.com/OfficeDev/office-ui-fabric-react/issues/8264#issuecomment-474131092.

If you believe this issue to be related to OUFR, can you please fork the `5.x` branch I've created to demonstrate the library bug?

Here's the branch: https://github.com/KevinT

[2019-03-18 23:04] khmakoto commented on #8359
Now this is weird. This seems to repro on the official site, but I cannot get it to repro on my local build nor on codepen, as demonstrated [here](https://codepen.io/khmakoto/pen/EMpgbz).

@Jahnp @dzearing @micahgodbolt do any of you have an idea of what might be happening here? Seems like it's an issue with the site.

For reference:

__In the official site:__
![image](https://user-images.githubus

[2019-03-18 23:04] KevinTCoughlin commented on #8312
This one I need to investigate as to whether or not we can omit `non-selected` / `selected` entirely when not in a selection mode.

[2019-03-18 23:06] Dalimil opened #8366 "FocusZone doesn't restore focus correctly with virtual parents"
### Environment Information

- __Package version(s)__: 6.146.1

#### Actual behavior:

Start with FocusZone that contains a few buttons... If one of them opens a ContextualMenu, and it is closed after moving focus to it, the focus is not restored. This is because FocusZone keeps track of the `_lastIndexPath` where the focus should be restored. It saves this path if it detects that an elementContai

[2019-03-18 23:06] aftab-hassan commented on #8174
Was able to reproduce this bug in both, Narrator running on Edge and NVDA running on Google Chrome. Raised a `PR` above.

[2019-03-18 23:08] dzearing commented on #8359
you may need to inspect which rules are causing the problem. They could be coming form the header.

[2019-03-18 23:17] atneik commented on #8361
As the interaction on the HoverCard give rise to another layer on top of it (Sharing Dialog), the HoverCard seem to count it as a MouseOut event and not only tries to dismiss itself but also sets the focus back to the originating target. This is the expected behavior on most common case. I don't think this is a bug, but rather a new feature request to support the given scenario (multi layer).

We

[2019-03-18 23:33] awalia13 commented on #8139
Firstly need to identify whether icon is meaningful or not. If meaningful then we can add alt="some meaningful text" so that screen reader will be able to read it in both scan/tab mode. but if icon is not meaningful then we can add alt="" by doing this screen reader will ignore it.

[2019-03-18 23:34] mattmazzola commented on #8264
Yea, I wasn't able to recreate it either. I also have separate repo which tried to similar the scenario from our app more closely but wasn't able to reproduce. The modals worked as expected then.

To be clear the issue isn't simply callbacks not being invoked when in modals.  We have many modals in our app which work fine. It's something to do with the stacking order and other components that inte

[2019-03-18 23:36] cschlechty commented on #8139
Icons are not img, and don't support "alt". If meaningful, it should have
and appropriate role and label value. The control consumer will decide if
it's significan.

On Mon, Mar 18, 2019 at 4:33 PM awalia13 <notifications@github.com> wrote:

[2019-03-18 23:49] micahgodbolt commented on #8139
btw icons can take aria-label no problem, but the role is hard set, so while this does announce properly in scan mode, the role doesn't update
https://codepen.io/micahgodbolt/pen/aMjBRW

Also note, that this still doesn't give us a way to skip the icon, just a way to give it something to read.

In most cases icons on their own will be inside of a button next to text. In those cases narrator only r

[2019-03-18 23:51] khmakoto commented on #8359
After taking a deep dive it seems that the error is being caused by the inclusion of `https://mwf-service.akamaized.net/mwf/css/bundle/1.55.0/west-european/default/mwf-main.min.css` in the main site, which is included in a `link` tag at the beginning of the `body` tag. I assume it applies some styling that screws with the `HighContrast` styling of our `Buttons`.

@dzearing what approach should we

[2019-03-18 23:52] cschlechty commented on #8139
In cases where there is no label, it might make sense to mark them as
hidden to remove them from the UIA tree.

On Mon, Mar 18, 2019 at 4:49 PM Micah Godbolt <notifications@github.com>
wrote:

[2019-03-18 23:55] micahgodbolt commented on #8139
updated with the 2nd icon having 'aria-hidden'. That works great. Should all icons be aria-hidden then? That's the intention right? They are purely decorative.

[2019-03-18 23:57] KevinTCoughlin commented on #8264
`EventGroup` is used for a number of scenarios in `office-ui-fabric-react`, some examples are:

1. Auto disposal of bound callbacks to prevent memory leaks via `_events`, particularly in [`BaseComponent`](https://github.com/OfficeDev/office-ui-fabric-react/blob/bd191a3964734c6619fa49fcdb1d6127e2834522/packages/utilities/src/BaseComponent.ts#L144).
1. Normalize event behaviors, particularly w.r.t I

[2019-03-19 00:01] micahgodbolt commented on #8359
we certainly don't want to include anything in our button bundle to override this...maybe we could add it to the page css via this
![image](https://user-images.githubusercontent.com/1434956/54571311-697df180-499f-11e9-8761-cc12e9e120c9.png)

[2019-03-19 00:02] khmakoto commented on #8359
The thing is that it's breaking more than just the examples. The `Show code` buttons are having a similar behavior, so they would also be broken even if we fix this for the examples.

[2019-03-19 00:05] micahgodbolt commented on #8359
ah joy....we might have to go fix those show code buttons individually.

[2019-03-19 00:14] khmakoto commented on #8359
The other thing is that this is going to be a pain to fix because this is an issue with the live site only, so we won't have any indication of whether any solution we try is working or not until the live site is updated daily.

[2019-03-19 00:26] awalia13 commented on #8139
Agrees with Micah,if they are purely decorative then we can add aria-hidden ="true" so that screen reader will ignore it.

[2019-03-19 01:18] JoshuaLamusga commented on #8357
Thanks! My mistake.

[2019-03-19 02:47] dzearing commented on #8264
`EventGroup` is simply an abstraction on `addEventListener`. Your issue has nothing to do with `EventGroup`, and more to what is receiving the callback and then calling `stopPropagation`, if I understand correctly.

But all that said, I'm really having a hard time understanding what the repro is.

Fabric 6, I put a button in a modal, executes onClick no problem.
https://codepen.io/dzearing/pen/MxB

[2019-03-19 02:56] Vitalius1 commented on #8255
#8370 is making a fix for something introduced in #7778 ... it might be the same issue or at least giving some directions where to look

[2019-03-19 03:17] dzearing commented on #8264
I just downgraded NPM to build Fabric 5 and this does not repro in Fabric 5.

Something is calling preventDefault or stopPropagation, likely on a captured click event. You can debug this by doing something like this in the console:

[code]

Should spit out a callstack whenever the event is stopped.

[2019-03-19 04:02] dzearing commented on #8366
Thanks for the report @Dalimil! We will investigate.

[2019-03-19 04:09] KevinTCoughlin commented on #8353
Seems like a bug. Can confirm with design's red lines, but I doubt this is intentional.

Screener should catch this, but its difficult to see unless you look at computed tab. Has happened to me.

[2019-03-19 04:09] KevinTCoughlin commented on #8352
What's the association with:

[2019-03-19 04:44] dzearing commented on #8366
https://codepen.io/dzearing/pen/oVMerL

I am not reproing. @Dalimil can you take a look at the codepen and tweak it until you can repro? That would help us understand the root issue.

[2019-03-19 05:27] MdAmeerMind commented on #8294
Hi @KevinTCoughlin ,
I am blocked awaiting changes within office-ui-fabric-react component. As combo box is render as input and div's, I am unable to make changes in that logic. so better if changes made from office-fabric team.

[2019-03-19 07:10] craigdcorrea25 commented on #8354
Hi @khmakoto , it is also reproed in the official site. I've tested it on the [variants ](https://developer.microsoft.com/en-us/fabric#/components/detailslist#Variants) section. Go to the Filter By Name text box and with NVDA on, click on tab. Now, while on the icon, click the right arrow key. And now click on down arrow key. You will be parsing through the DetailsList cell-wise. Also, there is no

[2019-03-19 07:18] craigdcorrea25 opened #8374 "Incorrect number of rows are being read out by screen reader while reading a DetailsList."
While using NVDA, the screen reader is reading the number of rows visible in the DetailsList plus the headers, thus giving wrong information to the user.
This issue is seen on the official site under [variants](https://developer.microsoft.com/en-us/fabric#/components/detailslist#Variants) section. There are 500 rows, but the screenreader is reading as 501 rows.

[2019-03-19 07:44] Sandhya-aluri commented on #8352
@KevinTCoughlin ,I have checked by removing the role=gridcell in the input by inspecting the element. then it worked. role is defined within fabric date picker.

[2019-03-19 09:08] vasilevach commented on #8339
Ok, our use case is the following:
You have a form, and on button click, you open additional form in the Panel to enter some additional data. This panel needs to be blocking and the user should not be able to interact with anything else except the additional form.

Inside the Panel UI you have some asynchronous actions which need to block the whole app until they are finished. During that async ca

[2019-03-19 10:38] JakeStanger commented on #8355
Whelp, I deleted my `node_modules` and used another developer's yarn.lock file as he wasn't having the issue on the project, and it fixed it. Possibly some very edge case dependency resolution bug?

[2019-03-19 12:28] v-khkuma opened #8377 "[Accessibility]In case if the Menu item in Commandbar is a drop down (having submenuprops), then it is narrated as "Submenu" and not "Menu""
Bug Report

-Package version(s): [https://developer.microsoft.com/en-us/fabric#/components/commandbar ](url)
- Browser and OS versions: Chrome+NVDA

**Actual Behaviour:**
In case if the Menu item in Commandbar is a drop down (having submenuprops), then it is narrated as "Submenu"

**Expected:**
if the Menu item in Commandbar is a drop down (having submenuprops), then it is narrated as "Submenu" an

[2019-03-19 13:12] MinhThienDX commented on #8313
Thank you guys, somehow I missed that epic issue at #7636
So I should close this issue right?

[2019-03-19 14:37] micahgodbolt commented on #8313
Sure @MinhThienDX, if you think your concern is covered in that epic (or feel free to leave a comment in that issue). It's certainly nice to keep dup issues out of our queue.

[2019-03-19 14:46] #8313 closed

[2019-03-19 17:02] khmakoto commented on #8353
@KevinTCoughlin I doubt this is intentional too, but I want to double check before going in and making changes. Do you know who to contact for this?

[2019-03-19 17:04] khmakoto commented on #8355
It's great to know that you found a fix! I'll add `Resolution: Not an issue` tag for now, but feel free to reply back if you encounter other problems.

[2019-03-19 17:26] dzearing commented on #8355
Also feel free to close the issue @JakeStanger if you're good to go. We are happy to help if you need anything else.

[2019-03-19 17:27] JakeStanger commented on #8355
Cheers for the help guys and sorry it was a bit of a dead end. I'll re-open it if it ever occurs again or I find out more.

[2019-03-19 17:27] #8355 closed

[2019-03-19 17:52] khmakoto commented on #8374
I have checked that this does repro on the official site. I'll check to see if we can fix this if it's a problem on our side or if this is a problem on NVDA's side.

[2019-03-19 17:58] khmakoto commented on #8377
Hi @v-khkuma, thank you for filing the issue! I'll take a look at this later today to check if I can get it to repro.

[2019-03-19 18:17] leddie24 commented on #8119
Removing author feedback tag.  If we're adding aria-hidden to presentational icons then pr #8381 fixes the custom divider to be consistent in behavior.

[2019-03-19 18:21] micahgodbolt commented on #8139
PR is open at #8380 would love some feedback on if this is the correct approach. i.e. Is it better to make `aria-hidden` optional? Would it default to on or off? Or should icons always be hidden?

[2019-03-19 18:47] Dalimil commented on #8366
@dzearing It's somewhat hard to set up because it assumes you destroy the menu, the focus goes to body and you enter this condition branch of the focus zone with an invalid focus restoration path array:
![image](https://user-images.githubusercontent.com/4202539/54633116-bd8ae380-4a3c-11e9-90a6-c6fb29434832.png)
But if you look at this codepen: https://codepen.io/dahajek/pen/QoVKvM?editors=1010

Op

[2019-03-19 18:48] khmakoto commented on #8354
@craigdcorrea25 I played with the example in the live site and I can't seem to replicate what you're experiencing. I did the exact steps you did and I could always go back to row-wise parsing as long as I tabbed out of the table and in again, even tabbing back to the headers worked. Can you check if this works on your side?

[2019-03-19 18:51] Dalimil commented on #8366
The Focus Zone will try to restore the focus wrong. This is not immediately obvious, because the context menu itself is also doing the focus restoration. Contextual Menu is restoring the focus correctly but since there is an async delay, this can cause a brief focus jump from the place where focus zone restored it to the correct place where context menu restored it.
This is caused by this line: ht

[2019-03-19 21:01] khmakoto commented on #8352
@Sandhya-aluri I'm unable to reproduce the bug using Narrator and Edge on your provided CodePen. The dates are read fine, with the date day and month mentioned properly.

If you are able to reproduce this with Narrator or if you think we are actually misusing aria related properties, please let me know! If this keeps happening only on NVDA, however, please report this issue against NVDA. Thanks!

[2019-03-19 21:17] dylankil opened #8386 "ISliderStyles lineContainer and thumb are clobbered at runtime"
### Environment Information

6.151.0

### Codepen:

https://codepen.io/anon/pen/rRZmrV

#### Actual behavior:

custom styles are overwritten by dynamic css path

#### Expected behavior:

custom styles should not be overwritten

#### Priorities and help requested:

Are you willing to submit a PR to fix? No, unfortunately don't have any free dev cycles.

Requested priority: Normal

Products/sites af

[2019-03-19 21:21] KevinTCoughlin commented on #8264
Closing as per:

Feel free to ping if you wish to re-open this @mattmazzola.

[2019-03-19 21:22] dylankil opened #8387 "Style Props Members Should Be Optional And Allow Pseudo Selector Properties"
Currently all members of IStyleProps are required in typed global variables. All members should be optional to save lines of code. Also, Devs should be able to style all pseudo selector properties like focus, hover, before, after... as parents of each exposed member.

[2019-03-19 21:30] awalia13 opened #8388 "ProgressIndicator A11y Pass"
Tracking all of the issues brought up with the 03/18 accessibility pass on ProgressIndicator fabric control.Details on individual bugs can be found on[Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B31f49823-4e59-4246-b10e-a9d58ed04398%7D&action=default&uid=%7B31F49823-4E59-4246-B10E-A9D58ED04398%7D&ListItemId=1892&ListId=%7B3

[2019-03-19 21:32] aneeshack4 opened #8389 "Implement Samples card: make it look like the Figma designs."
- [ ] Text
- [ ] Links
- [ ] Buttons
- [ ] ActionButtons
- [ ] TextField
- [ ] TextField underline
- [ ] Dropdown menu
- [ ] Toggle
- [ ] Checkbox
- [ ] Radio button
- [ ] Social button

[2019-03-19 21:34] aneeshack4 opened #8390 "Color card in left nav: Primary color, Text color, Background color pickers styled."

[2019-03-19 21:35] aneeshack4 opened #8391 "Apply changed theme to all the controls in Samples card."

[2019-03-19 21:45] aneeshack4 opened #8392 "createTheme based on changes to color pickers."

[2019-03-19 21:47] moizgh opened #8393 "Accessibility Issue with ColorPicker in High contrast mode"
![image](https://user-images.githubusercontent.com/25937675/54643862-48d09d00-4a6e-11e9-9b74-f7a7b1dc4e7b.png)

[2019-03-19 21:51] KevinTCoughlin commented on #8312
I looked into this briefly and attempted to remove `aria-selected` and `aria-checked` from the `DetailsList` row and check components respectively. However, the rows still receive focus and announce their "selected" state.

We need to confirm that removal of that announcement in the case where no selection is possible is desirable before proceeding. I'm not sure it is given that the rows continue

[2019-03-19 21:59] khmakoto commented on #8386
Hi @dylankil, I think the custom styles are not being overwritten, but rather that they're being applied incorrectly. Please take a look at [this codepen](https://codepen.io/khmakoto/pen/Mxqogw) that has the styling you provided applied correctly.

Please let me know if there is anything that's not easily understandable on the approach I took or if there's anything else I can help with.

[2019-03-19 22:14] JasonGore opened #8394 "Foundation: Perf"
Assess new implementations of components compared to existing (such as Button) using the new [perf package](https://github.com/OfficeDev/office-ui-fabric-react/pull/8342).

[2019-03-19 22:23] khmakoto commented on #8393
Hi @moizgh, what high contrast mode are you using? I just checked with high contrast mode enabled on Windows and Edge and, while the picked color area needs to be fixed to show the actual color, the `ColorPicker` shows up correctly as can be seen in the image below:

![image](https://user-images.githubusercontent.com/7798177/54646006-fd60c380-4a5a-11e9-96b0-60865208d534.png)

[2019-03-19 22:52] anubhavaggarwal22 commented on #7560
any updates @natalieethell  ?

[2019-03-19 22:57] dylankil commented on #8386
Ah, thanks. Is there a way I can access the pseudo selector properties too? Hover, After, etc.?

[2019-03-19 23:01] KevinTCoughlin commented on #8333
Kudos to @micahgodbolt for supplying the original pen which I made a few modifications to here: https://codepen.io/kevintcoughlin/pen/ywxoEj?editors=1010

@lukehumphrey the Codepen above is a way to re-enable this announcement behavior for `CommandBar` by providing the props per item definition, i.e.

[code]

This works well in my testing with Narrator + Edge:

[code]

[2019-03-19 23:08] natalieethell commented on #7560
@anubhavaggarwal22 have you tried my proposed solution above?

[2019-03-19 23:22] nealYangVic commented on #4204
onShouldVirtualize = { () => false} do fix the problem, but the giant data will be very slow....

[2019-03-19 23:24] KevinTCoughlin commented on #4204
Can you intercept `resize` events on your container and call `forceUpdate` on the `List` component ref as a workaround? Similar to how `List` monitors `window` `resize`, see https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/List/List.tsx#L297.

[2019-03-19 23:30] nealYangVic commented on #4204
Thanks, but I think after rendering, scrolling on the list will still be very slow

[2019-03-20 00:00] #8356 closed

[2019-03-20 00:10] nealYangVic commented on #4204
Actually my issue is scroll issue related with virtualized, after below, my problem fixed

<ScrollablePane>
                <DetailsList onRenderDetailsHeader={
                        // tslint:disable-next-line:jsx-no-lambda
                        (detailsHeaderProps, defaultRender) => (
                          <Sticky>
                            {defaultRender(detailsHeaderProps)}

[2019-03-20 00:36] moizgh commented on #8393
I am using firefox browser and I switched the high contrast mode from the OS settings.

[2019-03-20 00:53] nealYangVic commented on #5116
StickyPositionType.Both will make it work directly....

[2019-03-20 00:59] cliffkoh commented on #8106
Assigning to myself and @ecraig12345 (who previously volunteered).

[2019-03-20 02:00] #8176 closed

[2019-03-20 05:18] KevinTCoughlin commented on #8359
Can we recreate the greedy selector locally? Its usually available via the "Computed" tab in the browser. Also, IIRC the team is receptive to relaxing whatever rule is conflicting.

[2019-03-20 07:57] Anschur commented on #8356
I had a chat with Ben about this, and he said that the background square qualifies as a non-color designation, but the current contrast is too low. So he is working on finding a new color if I understood him correctly.

[2019-03-20 12:54] thinkman99 commented on #4502
Hello again. What's news?

[2019-03-20 14:22] frevds opened #8403 "Here is how to fix the textfield Prefix+Suffix issues in IE (misaligned and overlapped due to flex)"
_In case this is still open (appears to be in my version (I'm using whatever version comes with SPFx 1.8.0 in SharePoint Online)). It also appears to be when I look at the demo at https://developer.microsoft.com/en-us/fabric#/components/textfield using IE (scroll down to prefixed and suffixed fields) _

In Internet Explorer 11, the prefix and suffix parts in Textfields appear misaligned with the t

[2019-03-20 15:02] HeinPauwelyn commented on #8213
@aftab-hassan: Thanks for the `onGetErrorMessage` property but I find it strange that pickers and fields don't handle the errors on the same way. For a (not technical) user a field is a field and if there is a error message on a field there must be an error message on the pickers and vice versa. Same for the red borders. See this [codepen](https://codepen.io/HPawelyn/pen/zbmqxX?editors=1011) where

[2019-03-20 15:07] ravikiranr26 commented on #8238
Seems like i too had a same requirement, to show the Icon in title.

[2019-03-20 15:17] fildahui commented on #6546
Hi @KevinTCoughlin @kkjeer @aditima

I can't find any reference to this issue in March 2019 milestone (and in February 2019 neither).

Are there any improvements to this?

[2019-03-20 15:28] dzearing commented on #8238
By just changing the type to also allow JSX, this should enable your scenario.

[2019-03-20 16:43] ruoxi-lyu opened #8406 "A11y Detailslist keyboard navigation behaviors are wrong for the role "checkbox"."
## Codepen demonstrating the issue
Repro with [this basic detailslist sample](https://developer.microsoft.com/en-us/fabric#/components/detailslist/basic)

## Actual behavior:
Radio buttons in the basic detailslist control are read as "Checkbox" role by windows narrator and other screen readers. However, the element in the list allows user to use up/down arrow keys to navigate and gets automaticall

[2019-03-20 16:46] khmakoto commented on #8359
@KevinTCoughlin I gave some thought to it and I'll try to recreate the selector. This fix will probably take some time, however, so I'm thinking of doing this next week when I'm on secondary.

[2019-03-20 17:31] khmakoto commented on #8403
Hi @frevds, thank you for this suggestion!

@micahgodbolt @dzearing @ecraig12345 would we want to implement `TextField` in this way to deal with the prefix/suffix bug?

[2019-03-20 17:37] khmakoto commented on #8393
@micahgodbolt I think this raises a question of whether the ColorPicker should be High Contrast Accessible in the first place, and if it should, then how would we achieve it?

[2019-03-20 17:42] micahgodbolt commented on #8393
make sure you're testing high contrast mode in edge only. That is our target browser for high contrast.

[2019-03-20 17:55] aftab-hassan commented on #8213
@HeinPauwelyn the codepen looks good.

We understand. We will discuss this with the Design team and add this to the feature backlog. As several members of the team have pointed out, this might be a larger change across all components since we'd like to maintain consistency, and also would impact other products who are dependent on us.

But thanks for opening an issue on this, and making us aware.

[2019-03-20 17:57] khmakoto commented on #8387
Hi @dylankil, I'm confused in what you mean by all of this. What exactly do you mean in this case by typed global variables? `IStyleProps` are required because they are the building parts for styling in our components. If you could provide some clarification on this it would be great. Thanks!

[2019-03-20 17:58] aftab-hassan commented on #8213
@betrue-final-final would like to get your thoughts on this one.

[2019-03-20 18:01] khmakoto commented on #8386
Yes, you can do it pretty much the same way, I've modified the [codepen](https://codepen.io/khmakoto/pen/Mxqogw) to show how this can be done on hover for example.

Please let me know if there is anything else I can do to help.

[2019-03-20 18:03] dylankil commented on #8387
Styles are shared in the Immersive Reader, therefore it's not sufficient to repeat the styles of each element. We do something like this in a shared .ts file:

[code]
Note how I need to pass in unused selectors as required.

We should also have the ability to style the visual states of each component. e.g. &:hover, &:before, &:after, etc.

[2019-03-20 18:12] khmakoto commented on #8393
@moizgh Can you check if you see the same thing I do when using Edge?

@micahgodbolt I wonder whether colors should be updated for high contrast in the `ColorPicker` and, if so, how should we approach doing it? Alternatively, we could just have the `ColorPicker` show regular colors regardless of High Contrast or not as it's doing right now, in which case we would only have to fix the color preview

[2019-03-20 18:14] highpowerxh opened #8407 "28x is not valid css"
https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/Calendar/Calendar.scss#L298

### Environment Information

- __Package version(s)__: n/a
- __Browser and OS versions__: n/a

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

28x

#### Expected behavior:

28px

#### Priorities and help requested:

Are you w

[2019-03-20 18:14] micahgodbolt commented on #8393
the colors should probalby not be affected by high contrast. That setting is to make the UI easier to read. So as long as the UI around the picker adapts to high contrast then we're fine. The actual colors need to be true to the actual color value.

[2019-03-20 18:16] khmakoto commented on #8407
Thanks @highpowerxh, I'll make the fix when I have some time.

[2019-03-20 18:17] khmakoto commented on #8393
Perfect, then I'll go ahead and just make the change for the color selection to be visible in High Contrast.

Thanks @micahgodbolt!

[2019-03-20 18:23] #8386 closed

[2019-03-20 18:25] micahgodbolt commented on #8403
All this needed was flex-shrink: 0. Looks like IE11 calculates the flex basis of an input differently than other browsers, so it was crowding the prefix/suffix out. flex-shrink will keep them from getting any smaller than the text inside of them.

[2019-03-20 18:44] dylankil commented on #8387
It would be a lot more performant as the g-zipped payload would be smaller - to customize the pseudo selector properties in shared JS than wrapper specific SCSS. Maybe something like this:

https://twitter.com/jlongster/status/1103684127197405184

[2019-03-20 18:47] khmakoto commented on #8387
You should be able to style the visual states of each component as follows:

[code]

[2019-03-20 18:49] dylankil commented on #8386
Sweet - This was the new feature request I logged. I guess my ask would be to update the docs.

[2019-03-20 18:51] dylankil commented on #8387
Very cool, Would be excellent to omit beak, container and other unused lines of JS.

[2019-03-20 18:54] frevds commented on #8403
Oha, nice @micahgodbolt, that's much simpler than using another display mode and seems to work the same way in low horizonal space conditions, I'll adjust my workaround. Thanks for fixing this so fast.

[2019-03-20 18:56] #8403 closed

[2019-03-20 19:04] khmakoto commented on #8406
Hi @ruoxi-lyu, thanks for raising awareness on this!

@KevinTCoughlin this seems to me like a bug on our part when dealing with navigation more than us incorrectly applying roles. Is that right or am I missing something here?

[2019-03-20 19:13] JasonGore commented on #8387
@dylankil Can you use `Partial` here? i.e.
[code]

We use this approach widely within our the repo. Additionally, starting with Fabric 7 we'll be introducing new ways of defining styles functions and objects that will abstract this concern away.

[2019-03-20 19:17] jdhuntington opened #8409 "Fix ts-jest warnings"

[2019-03-20 19:18] jdhuntington commented on #8409
Dupe of #8124

[2019-03-20 19:18] #8409 closed

[2019-03-20 19:18] bryanchen-d opened #8410 "[GroupedListSection] role=grid but no rowgroup or row underneath in the dom"
This issue is similiar to issue #1672, that one was gone as the default role in GroupedList and list items have been changed to "presentation".

However the GroupedListSection has a case in which it render a &lt;List /&gt; with role set to "grid" while there are no rowgroup or row underneath. This is causing accessibility warnings while I am integrating react-axe.

From what I can see, a possible

[2019-03-20 19:33] dylankil commented on #8387
Yes, thanks!

[2019-03-20 19:40] JasonGore commented on #8387
Ok, if you are satisfied with the resolution please close the issue. Thanks!

[2019-03-20 19:47] #8387 closed

[2019-03-20 20:02] micahgodbolt commented on #8221
Oh hah....It looks like Coachmark has a custom beak because it's not actually using a callout. This should just be a prop added to Coachmark.

@orokanasaru can you provide a screenshot of the finished design you're shooting for. I want to make sure we make the correct change.

[2019-03-20 20:14] #8119 closed

[2019-03-20 20:39] #7338 closed

[2019-03-20 20:42] kenotron opened #8411 "Add a prop to disable animations in callouts"
**Describe the feature that you would like added**

Proposal here is to have a `urgent` prop in Callout, some callouts like in a OWA RTE floatie would benefit from this so that expected UX can be expressed without hacking some styles.

**What component or utility would this be added to**

Callout

**Have you discussed this feature with our team, and if so, who**

@JiuqingSong

**Additional context

[2019-03-20 21:10] khmakoto commented on #8410
@micahgodbolt @JasonGore This does seem like an omission on our part since `GroupedListSection` items do not have role `rowgroup` or `row` underneath. Should we change the role to `presentation`?

[2019-03-20 21:17] nealYangVic commented on #4502
Can you guys provide an example how we can implement it with current version

[2019-03-20 21:20] khmakoto commented on #8374
@KevinTCoughlin I've checked and this also reproes in Narrato+Edge. Are we including the headers in the row count by design or should we change this behavior?

[2019-03-20 21:30] mattmazzola commented on #8264
I only intended to save you spending time reproducing work, not to close. It's still an issue that people should see as unresolved.

I have created a video using David's suggesting above and you can see the `stopPropagation` coming from the `FocusTrapZone`.

Video:
https://microsoft.sharepoint.com/:v:/t/convsysresearch/EV3GnuTstDdIkeb5HiN8YGsBTC41nfUYaVZhpH6VHcFVGA?e=SLP1fg

Please re-open this is

[2019-03-20 21:56] nealYangVic commented on #4502
ok, I think we can use contextmenu for this problem too with official example Variable row height
just use onrender, I believe it should be workable....
![image](https://user-images.githubusercontent.com/38148709/54721858-59d9e680-4b20-11e9-95d4-9143a1b2f450.png)

[2019-03-20 22:30] YuningB commented on #8231
I'm a little bit confused... Please refer to the fabric code [here](https://github.com/OfficeDev/office-ui-fabric-react/blob/8a471edeec02db18f201db9790da374c573f9f2b/packages/office-ui-fabric-react/src/components/FloatingPicker/BaseFloatingPicker.tsx#L154) and I think this is the place where set the suggestion list width to 300px in[ .scss file](https://github.com/OfficeDev/office-ui-fabric-react/

[2019-03-20 23:47] #5869 closed

[2019-03-20 23:47] dzearing commented on #5869
Not doing this.

[2019-03-20 23:51] micahgodbolt commented on #5671
moving to modern TS in 7.0, this is a low pri. Closing.

[2019-03-20 23:51] #5671 closed

[2019-03-20 23:56] micahgodbolt commented on #5687
not going to do this...it'll be up to the user to work this out (per david)

[2019-03-20 23:56] #5687 closed

[2019-03-21 00:29] gregwhitworth commented on #5734
This is the related CRBug for this: https://bugs.chromium.org/p/chromium/issues/detail?id=924669 - if you all can please star it to show your interest

[2019-03-21 01:30] cliffkoh commented on #8106
Done!

[2019-03-21 01:30] #8106 closed

[2019-03-21 02:00] #7792 closed

[2019-03-21 04:39] KeiraYang commented on #8350
Hi. @khmakoto Thank you for reply. I've added a codepen, please test [here](https://codepen.io/keirayang/pen/jJeKQQ).
Edge + Narrator will read:
"All emails together, alert dialog, a label for text box, editing test", but then follows up with "alert, dialog, heading level 2, all emails together, a label for text box". This not happens every time. I'm not sure how it will come out. But I tested bot

[2019-03-21 04:40] DhirajKhot opened #8415 "Narrator announcing incorrect info for Calendar dates"
![image](https://user-images.githubusercontent.com/20378231/54733711-21d6b000-4bc1-11e9-989f-3807b4b52519.png)

## Actual behavior:
The current date is announced as editable.
For other dates Narrator is announcing the column header but the dates are not announced.
It is announcing some irrelevant info - no current char.

## Expected behavior:
Current Date should not be announced as editable.
Dates

[2019-03-21 06:00] #8211 closed

[2019-03-21 06:00] #8230 closed

[2019-03-21 07:10] Sandhya-aluri commented on #8352
@khmakoto This is happening in NVDA , will report to them. Thank you

[2019-03-21 15:31] Jahnp commented on #8411
Just a note that this is highly-related to (maybe a dupe of?) #5874, though that issue is specifically for TeachingBubble. There is some discussion on that issue about what the prop should be.

I'm interested in the semantic difference between `urgent` and something like `disableAnimations`. The former almost implies there could be other potential UI/UX changes besides *disabling* animations (e.g.

[2019-03-21 17:36] khmakoto commented on #8352
@Sandhya-aluri for sure! Feel free to ask if anything else comes up! But if that was it, would you mind closing the issue? Thanks!

[2019-03-21 18:11] khmakoto commented on #8415
Hi @DhirajKhot, from what I can see you're using scan mode for the non-current dates, in which case Narrator is announcing irrelevant info and not announcing the dates. As the inherent function of scan mode is to break out of author's intent when it comes to navigation and dictation it doesn't surprise me that the dates are not being read. I tried reproing with scan mode off and the dates were bei

[2019-03-21 18:16] jsurbaitis opened #8420 "Windows Defender reports trojan in NPM package"
### Environment Information

- __Package version(s)__: 6.158.0 (older had this issue too)
- __Browser and OS versions__: Windows 10.0.17763

#### Actual behavior:

After installing the office-ui-fabric-react package (`npm install --save office-ui-fabric-react`), Windows Defender complains about a trojan in some of the files:
![image](https://user-images.githubusercontent.com/1388144/54775151-9104d

[2019-03-21 18:19] amygl commented on #8420
I just saw this as well. I'm using 6.150.0

[2019-03-21 18:39] khmakoto commented on #8420
Thanks for raising awareness on this! We're investigating the issue right now working with the Windows Defender team to see what's happening since we believe this to be a false positive.

[2019-03-21 18:50] ecraig12345 commented on #8420
If anyone would like to inspect the code for themselves, here are some links for convenience. (Definitely no trojans, just standard boring code.)

https://unpkg.com/office-ui-fabric-react@6.158.0/lib/components/ExtendedPicker/PeoplePicker/ExtendedPeoplePicker.doc.js
https://unpkg.com/office-ui-fabric-react@6.158.0/lib-amd/components/ExtendedPicker/PeoplePicker/ExtendedPeoplePicker.doc.js
https://u

[2019-03-21 18:53] dzearing commented on #8420
Engaging with the Windows Defender team.

[2019-03-21 18:55] #8238 closed

[2019-03-21 19:33] aftab-hassan commented on #8245
@raghavendra-kodimala In the codepen you supplied, the issue occurs because the `dir="rtl"` is only supplied for the `div` as `<div dir="rtl" className="myClass">`
Please try supplying the `dir="rtl"` to the `html` element at the top of the page as `<html lang="en" dir="rtl">` and this issue should not occur.

We currently do not support placing `RTL` on a div for any of our components, but are co

[2019-03-21 19:40] Anschur opened #8424 "Keyboard navigation not working for ContextualMenu if custom render contains TextField/DatePicker"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

If the ContextualMenu has custom render that includes a TextField (or a DatePicker) the keyboard navigation will not work when arrowing. In the examples below my menu has a 3 menu items, but also 2 DatePicker-

[2019-03-21 20:12] dzearing commented on #8420
They have resolved on their side. We are following up on an ETA of how soon customers should see the fix.

[2019-03-21 21:00] khmakoto commented on #8424
Hi @Anschur, I can confirm that this is also reproing for me. I'll take a look into this. Thanks for raising awareness on this issue!

[2019-03-21 21:15] khmakoto commented on #8350
Hi @KeiraYang, I've confirmed that this is happening but I'm unsure if this is our bug in our part or if this is the expected behavior for Narrator. I'll try to get that information before trying a fix and will keep you updated. Thanks!!

[2019-03-21 21:25] #8407 closed

[2019-03-21 21:45] micahgodbolt commented on #8420
Ok, this should be resolved now. If you continue to experience the error, try clearing the Defender's cache:

1. Open command prompt as administrator and change directory to c:\Program Files\Windows Defender
2. Run “MpCmdRun.exe -removedefinitions -dynamicsignatures”
3. Run “MpCmdRun.exe -SignatureUpdate”

Can the OP please confirm this is working for them?

[2019-03-21 21:47] Jahnp commented on #8172
I'm going to go ahead and move this to the backlog for now. I'll try to see if we have cycles to investigate in  the coming weeks. @ichiQhachi4 , just checking, is there a particular urgency to this in your scenario?

[2019-03-21 21:57] micahgodbolt commented on #8231
we could probably change this to min width to resolve this issue quickly. This component is in need of conversion to css-in-js as well, which would make it easier to set that value without resorting to using CSS.

[2019-03-21 21:59] micahgodbolt commented on #8231
![image](https://user-images.githubusercontent.com/1434956/54787701-d389d700-4be9-11e9-8098-5749d66cc4f0.png)
 (hard code the callout to be 500px and you can see that this style restrics the width of the suggestions

![image](https://user-images.githubusercontent.com/1434956/54787735-f0260f00-4be9-11e9-811d-f06ab7e98a35.png)

[2019-03-21 22:09] YuningB commented on #8231
@micahgodbolt Agreed. I was wondering if we can have a minWidth as 300px and width as 100%.

[2019-03-21 22:41] jsurbaitis commented on #8420
@micahgodbolt that works! Thank you all for the quick turnaround on this.

[2019-03-21 22:41] #8420 closed

[2019-03-21 23:05] JasonGore opened #8428 "mergeStyleSets: Typing Issue"
### Environment Information

- __Package version(s)__: 6.158.0
- __Browser and OS versions__: n/a

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/kwx97q4yr5 (It can take a bit for typing to load.)

#### Actual behavior:

`mergeStyleSets` can't handle styles functions. It should generate a typing error when passed an `IStyleFunctionOrObject`, such as the `style

[2019-03-21 23:28] JasonGore commented on #8428
I didn't think of this when writing up the issue, but it may be worth checking to see if TS3.x catches this issue on our `fabric-7` branch. If so, that's probably an acceptable enough resolution.

[2019-03-21 23:33] micahgodbolt commented on #8231
if it's already display block it shouldn't need a width value.

[2019-03-22 00:00] #8170 closed

[2019-03-22 00:33] kelseyyoung opened #8431 "Showing a popup when an iframe is focused causes an infinite loop"
### Environment Information

- __Package version(s)__: 6.157.0+
- __Browser and OS versions__: Should be any, but tested on Chrome on Windows

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/moQaOv

Click the button and the page will be unresponsive because it's in an infinite loop

#### Actual behavior:

The recent change from #8290 seems to have caused a p

[2019-03-22 01:05] #8366 closed

[2019-03-22 01:35] dzearing opened #8434 "Integrate puppeteer into the tests"
# Problem

Because we rely on jest and jsdom, we are unable to effectively test complex browser scenarios such as focus management (FocusZone tests) and scroll/virtualization related scenarios (DetailsList, List.)

# Investigation

Investigate integrating https://github.com/GoogleChrome/puppeteer into our workflows.

Is it a replacement for jsdom?
Will it slow down test runs?
Should we separate pu

[2019-03-22 02:05] #8431 closed

[2019-03-22 02:27] #8393 closed

[2019-03-22 03:15] #8206 closed

[2019-03-22 04:24] awalia13 commented on #7338
@micahgodbolt - Hi Micah as 7338 has been closed, do we need to track 8226 for all the issues mentioned in 7338?

[2019-03-22 04:48] #8352 closed

[2019-03-22 07:42] ichiQhachi4 commented on #8172
No

[2019-03-22 08:44] Anschur commented on #8424
Hi @khmakoto. Thanks for your feedback :) Do you have any idea about an ETA for a fix on this? Depending on how long this will take we will have to consider our options with regards to doing another implementation or redesign.

[2019-03-22 11:47] Kumaraswamy9096 opened #8436 "After opening the Dialog NVDA is reading twice"
### Environment Information

- __Package version(s)__: (6.117.0)
- __Browser and OS versions__: (72.0.3626.121 and 1703)

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/Kumaraswamy9096/pen/GePjKX

#### Actual behavior:
 After opening the Dialog NVDA is reading Title and close button two times

#### Expected behavior:
 After opening the Dialog NVDA has to read the tit

[2019-03-22 14:30] malinkody commented on #2837
This is still an issue in the current version (6.157.2). Resizing columns on the DetailsList in Edge has a very noticeable delay. It makes sudden jumps instead of moving smoothly. Works fine in Chrome and Firefox. Have there been any updates since this issue was posted?

[2019-03-22 15:26] sophieH29 opened #8437 "[FocusZone] onFocus handler does not update focus alignment"
I have a Grid component and use the bi-directional type for navigation.
When setting focus programmatically to an item inside the Grid component, subsequently trying to use keyboard navigation sets focus on the wrong item.

https://codesandbox.io/s/9y5qylv8o4

Repro:

- Enter the value 2 in the textbox and hit Enter
- Noticed that item at index #2 is now focused
- Hit the down arrow to navigate to

[2019-03-22 17:11] khmakoto commented on #8436
Hi, this seems to be a duplicate of #8350. I'll be using that issue to track this and close this as a duplicate.

[2019-03-22 17:11] #8436 closed

[2019-03-22 17:18] khmakoto commented on #8424
I'll try to get a fix by the end of next week. I'll update here if I get it before then.

[2019-03-22 18:10] #7402 closed

[2019-03-22 20:00] #8225 closed

[2019-03-22 23:05] #8437 closed

[2019-03-22 23:10] micahgodbolt opened #8441 "CommandBar: Cannot pass menuProps to overflowButtonProps"
### Environment Information

- __Package version(s)__: Latest
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/micahgodbolt/pen/MxZZoe?editors=1010

#### Actual behavior:

Cannot pass menuProps to overflowButtonProps without getting error

#### Expected behavior:

should not get error, className should be pas

[2019-03-22 23:35] j-te commented on #5132
How can we neatly apply a className to an instance of overflowButton? CSS style required due to use of :fullscreen

[2019-03-22 23:46] micahgodbolt commented on #5132
There's actually a bug that I just ran across that keeps that from working

https://github.com/OfficeDev/office-ui-fabric-react/issues/8441

[2019-03-23 00:05] cliffkoh opened #8444 "test"

[2019-03-23 00:05] #8444 closed

[2019-03-23 00:10] cliffkoh opened #8445 "test"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

#### Expected behavior:

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected

[2019-03-23 00:11] #8445 closed

[2019-03-23 00:11] cliffkoh opened #8446 "test"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

#### Expected behavior:

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected

[2019-03-23 00:11] #8446 closed

[2019-03-23 02:00] #8345 closed

[2019-03-23 07:38] raghavendra-kodimala commented on #4240
@satbai can you please tell me where to download Narrator buddy. I want to view the text what Microsoft Narrator speaks. I have searched for it, but didn't found. It would be appreciable of you give us the download link or process to get the Narrator buddy.

[2019-03-23 11:03] PooLP opened #8450 "Stack component is unusable in List component"
### Environment Information

- __Package version(s)__: @microsoft/sp-office-ui-fabric-core": "1.8.0" (UI Fabric 6?)
- __Browser and OS versions__: All

#### Actual behavior:

If use a Stack component in onRenderCell of a List component, unnecessary markup makes Stack unusable

ex:
[code]

[code]
![stack](https://user-images.githubusercontent.com/582733/54865247-ebd13180-4d62-11e9-93b7-7e1504cd588b

[2019-03-23 18:16] cschlechty commented on #4240
Try aka.ms/narratorbuddy

On Sat, Mar 23, 2019 at 12:38 AM raghavendra-kodimala <
notifications@github.com> wrote:

[2019-03-23 18:26] raghavendra-kodimala commented on #4240
Thank you so much @cschlechty

[2019-03-23 20:23] dzearing commented on #8450
This is by design.

First the List content "unecessary markup" is necessary for virtualization reasons. You give it items, it manages pagenation and virtualization for you. The List consists of a container (`ms-List`), a surface which renders the estimated render space (ms-List-surface), and pages (`ms-List-page`) which pop in and out depending on what's visible at the time.

List also only works

[2019-03-24 02:06] raghavendra-kodimala commented on #8297
@KevinTCoughlin I have shared with you a OneDrive for business link having the screen recording of what Narrator speaks. Please go through that and let me know if you have queries.

[2019-03-24 02:22] raghavendra-kodimala commented on #8245
Thank you @aftab-hassan for providing @micahgodbolt 's comment. I have updated my code pen as per his comment. I have provided dir="rtl" on body tag. I can still see the issue, if I supply dir="rtl" on body tag, while this is not the case in supplying the same on html tag.

Here is the updated code pen https://codepen.io/raghavendra-kodimala/pen/GezvQw

Currently we're using dir="rtl" for html and

[2019-03-24 13:13] Elyjohn opened #8451 "PeoplePicker: same person can be selected multiple times when using keyboard."
### Environment Information

- __Package version(s)__: Package version(s): Latest Fabric UI React

#### Actual behavior:

When you quickly press the return or tab key in a short time while the suggested people callout window is active, it adds the same person as many times as you pressed the key.

![developer microsoft com_en-us_fabric](https://user-images.githubusercontent.com/6993911/54879812-b9

[2019-03-24 19:01] PooLP commented on #8450
Hi,
Thanks for response, I understand the problem.

I wanted to use Stack in the List component to take advantage, as you say, of the benefits of the List component with the modularity of the Stack component. It does not matter, I'm going to do my own CSS to take advantage of Flexbox in the List component ;)

[2019-03-24 21:22] AndrewCraswell commented on #8221
Is this still under consideration? I'd like to use the functionality too. It was confusing to me reading the documentation that a Coachmark contains a TeachignBubble inside, and while TeachingBubbles have a beak after opening, the Coachingmark does not.

[2019-03-25 03:40] micahgodbolt commented on #8245
I'm sorry, I missed that you are having this issue in 5.x . The ability to apply RTL to the body tag wasn't added until somewhere in 6.0. Is it possible to upgrade your version of Fabric?

[2019-03-25 04:24] dzearing commented on #8450
That's what I'd recommend :)

[2019-03-25 04:24] #8450 closed

[2019-03-25 04:24] dzearing commented on #8451
Thanks for the response; @joschect can you help take a look?

[2019-03-25 05:28] raghavendra-kodimala commented on #8245
@micahgodbolt Currently we have no plan to upgrade to 6.x.

[2019-03-25 08:03] saini-ankish opened #8453 "Pickers:[Keros bug]: ARIA role='list' must contain one or more list items"
**Environment Information**

- **Package version(s)**: >6.101.0
- **Browser and OS versions**: chrome version 69.0.3497.100 and OS version windows 10

- I saw similar bugs logged earlier, but issue is still there.

Bug repro URL: https://developer.microsoft.com/en-us/fabric#/components/pickers

![Picker_Keros bug](https://user-images.githubusercontent.com/44394750/54903430-e3632d00-4f01-11e9-84a9-

[2019-03-25 08:57] FullStackRafik opened #8454 "DetailList Filter and Groups"
Is there any simple way to filter the results which are grouped?
<Fabric.TextField  onChanged={this._onChange} />
_onChange(text){
  this.setState({
    items: text ? this._MockData.filter(i => i.name.toLowerCase().indexOf(text) > -1) : this._MockData
  });
}

[2019-03-25 09:13] v-doku commented on #6390
@khmakoto , I verified the issue using Color contrast analyzer tool and it is still repro on our end. Please find the screenshot below.

![image](https://user-images.githubusercontent.com/47735112/54907746-42c63a80-4f0c-11e9-9ee7-e94cda741914.png)

[2019-03-25 10:51] FullStackRafik opened #8455 "DetailsList Dynamic grouping"
Can I group the details list dynamically from a list of object  (each item contains a group property) without declaring the groups(Startindex,count.....)?

[2019-03-25 11:56] saini-ankish opened #8456 "Split button in Commandbar: [Keros bug]: Buttons must have discernible text"
**Environment Information**

**Package version(s)**: >6.111.2

**Browser and OS versions**: chrome version 69.0.3497.100 and OS version windows 10

Bug repro URL: [CodePen](https://codepen.io/anon/pen/MxxEdr)

Here `IContextualMenuItem` have an option to `split` but no option to provide `splitButtonAriaLabel`.

**Actual behavior:**
Keros issue : Buttons must have discernible text

**Expected behav

[2019-03-25 12:25] joaodfmota commented on #5236
Issue on nextjs. https://github.com/zeit/next.js/issues/706

If you don't want use `lib-commonjs` use this plugin https://www.npmjs.com/package/next-transpile-modules

[2019-03-25 13:45] tharshada opened #8457 "DetailsRow- animation causing significant delay"
### Environment Information

- __Package version(s)__: 6.159.1
- __Browser and OS versions__: Google Chrome Version 73.0.3683.86 (Official Build) (64-bit), Windows Server 2012 R2

### Please provide a reproduction of the bug in a codepen:
 [Repro in CodePen](https://codepen.io/anon/pen/eXXMaa)

 Repro steps:

1. Expand/collapse a group, animation is causing detailsList footer row to flicker.
It do

[2019-03-25 14:11] Anschur commented on #8424
Hi @khmakoto! I found a property on FocusZone named shouldInputLoseFocusOnArrowKey that seems to have resolved this issue :) When set to return true, arrowing will inlude all the input fields.

[2019-03-25 15:31] peterremote1980 commented on #7054
any solution? I meet this bug now.

[2019-03-25 15:33] coreyroth commented on #7054
Fabric React works with SPFx 1.8 now.  See this post for implementation details.

[Using Fabric React 6 with SPFx 1.8](http://www.dotnetmafia.com/blogs/dotnettipoftheday/archive/2019/03/14/spfx-1-8-now-support-office-fabric-react-6-156-0.aspx)

[2019-03-25 15:51] peterremote1980 opened #8458 "SPFx 1.8.0 with @microsoft/sp-office-ui-fabric-core 1.8.0 can't compile"
Hi All
    SPFx 1.8.0 with @microsoft/sp-office-ui-fabric-core 1.8.0 can't compileby command : gulp bundle --ship

[23:49:16] Error - [tsc] node_modules/@uifabric/foundation/lib/ISlots.d.ts(68,124): error TS1005: ')' expected.
[23:49:16] Error - [tsc] node_modules/@uifabric/foundation/lib/ISlots.d.ts(68,177): error TS1005: '(' expected.
[23:49:16] Error - [tsc] node_modules/@uifabric/foundation/li

[2019-03-25 16:08] khmakoto commented on #6390
Hi @v-doku, do you know where can I get this Color contrast analyzer tool?

[2019-03-25 16:10] dzearing commented on #8458
Usually syntax errors coming from a d.ts file indicate that you're on an incompatible (older) TypeScript build. Is there a way you could upgrade the TS version to something newer? (2.8.1 or above)

[2019-03-25 16:15] khmakoto commented on #8361
@atneik, since this is a feature request on `Hovercard`, would you mind taking over the issue?

[2019-03-25 16:19] khmakoto commented on #8424
Hi @Anschur, great to know that you found a fix! Thanks for letting me know!

If there is anything else I can help you with please let me know. If not, it would be great if you could close the issue. Thanks!!

[2019-03-25 16:23] mattmazzola commented on #8264
Can you clarify intended behavior of `FocusTrapZone`?

What is it surrounding?
When should it be added to the page?

There was talk in Teams about the issue occurring when multiple zones are "fighting" for control, I assume one stops the events for the other and ends to breaking everything.

In the particular case I have there are 3 and I don't know why. I understand there should really only event

[2019-03-25 16:26] KevinTCoughlin commented on #8294
I'll take a look at JAWS' proposed workaround and see if it can be applied to OUFR either at the library level or app level. Unsure how it will go since its a confirmed JAWS bug as mentioned above.

[2019-03-25 16:27] KevinTCoughlin commented on #8339
Thanks, this is helpful. I will try to modify the above Codepen to achieve the desired behavior.

[2019-03-25 16:32] dzearing commented on #8264
The `FocusTrapZone` is used to keep the focus from going outside of a bounding box. It's primary usage is for modal scenarios where hitting TAB should cycle within a dialog, and not suddenly jump behind the semi-opaque background in your screenshot.

That's why Dialog and Panel typically have this. The scenario you're running into is a layered scenario, where you have a dialog on top of a dialog o

[2019-03-25 16:47] JasonGore commented on #8264
It is possible with the right set of props to have multiple FocusTrapZones layered. For example, you could set `forceFocusInsideTrap` to `false` and/or `isClickableOutsideFocusTrap` to `true`. If these props are left to default, however, there really can and should only be one active FocusTrapZone on the page at a time. [Our FocusTrapZone component page](https://developer.microsoft.com/en-us/fabri

[2019-03-25 16:55] JasonGore commented on #8264
If on the other hand FocusTrapZones are nested (i.e. not siblings), those scenarios should be working properly. We also have examples of those on our component page.

If you have any further question, it may be best to look at specific implementation (either via existing code or CodePen) to help clarify.

[2019-03-25 16:56] micahgodbolt commented on #6390
btw, that red color is just a random color we grabbed to show how the buttons could be customized. We can easily use a different color

[2019-03-25 17:07] JasonGore commented on #8264
I've deleted a couple of comments that I could see greatly increasing confusion. Sorry if you've received notifications for them.

I think the best thing to do here is work from examples of what you're doing to help us understand if FocusTrapZone is adequate for your scenario.

The main thing we don't know here is whether the FocusTrapZones are nested or siblings.

FocusTrapZone should work approp

[2019-03-25 17:21] #8231 closed

[2019-03-25 17:29] mattmazzola commented on #8264
**Related to "Upgrading to 6.x to inherit fixes for `FocusTrapZone`":**
I think this is possibility.  If it fixes the modal issues we will definately move it up priority.  It's just harder to overlay my changes so it contains 6.x upgrade and the modal issue in same change to test to see if it fixes anything.

1. Types issue on `children` which has been fixed. https://github.com/OfficeDev/office-ui

[2019-03-25 17:49] mattmazzola commented on #8264
How can I tell? React Dev tools seems to flatten the list, although I think they are nested in the DOM.

This is would explain why duplicating/nesting the modals fixed part of the issue, but I don't think it's a good practice/requirement. The modal is supposed to be shared / pop up under many conditions and it would require copying it to every other modal that it can layer on top of. This isn't in

[2019-03-25 18:56] Anschur commented on #8424
Oh, yes there are probably loads of stuff you could help me with :) - But I will close this issue for now. Thanks :)

[2019-03-25 18:56] #8424 closed

[2019-03-25 19:00] #8348 closed

[2019-03-25 19:42] cliffkoh commented on #8458
Hello, taking a look at the SPFx 1.8 release notes, notice there is this blurp at https://github.com/SharePoint/sp-dev-docs/wiki/SharePoint-Framework-v1.8-release-notes#support-for-typescript-27-29-and-3x for utilizing a newer version of TypeScript :)

[2019-03-25 19:57] Jahnp commented on #5315
@pschaeflein I believe this has been addressed as of this PR: #7584. It was published in `office-ui-fabric-react@v6.125.0`.

Here's the line in `DocumentCardPreview.types.ts` where this should now exist: https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/DocumentCard/DocumentCardPreview.types.ts#L109

Can you take a look and see if this m

[2019-03-25 20:02] Jahnp commented on #5665
Popping in to revisit this--there is a design for this in the new Fluent toolkits, and is something we will likely want to look at over the coming months. David has good questions here--there should be an evolved POV on this now that hopefully addresses them.

[2019-03-25 20:21] Vitalius1 commented on #8453
I've investigated a bit this issue and it seems that it's caused by [this WCAG](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/List_role#Description) rule `role="list"` set on this element:
https://github.com/OfficeDev/office-ui-fabric-react/blob/ae66c05a20ddf23c37fd92a1d3528815e15cc45c/packages/office-ui-fabric-react/src/components/pickers/BasePicker.tsx#L236-L238
The issue

[2019-03-25 20:25] Vitalius1 commented on #8453
I did test the solution mentioned above and it removes the issue. One other solution is to render conditionaly the entire span only when already having selected items.

[2019-03-25 20:25] dzearing commented on #8457
I don't believe this is something we would want to change. The animation should not be blocking the UI thread; it simply happens asynchronously, and for the most part is a pleasant transition. There could be optimizations AROUND the animation to make it smoother, e.g. if we are spinning on javascript executing too long that could be worth optimizing. We do have some styling calculation optimizatio

[2019-03-25 20:31] dzearing commented on #8455
You would need to do a filter yourself to translate your grouping into the groups definitions. This gives you an opportunity to do clever things, like cache the result so that it's only computed once.

Pushing that filtering to a lower layer reduces the optimizability of things. E.g. if we supported this, the items could come in the wrong order, which isn't what you'd expect, which to fix would re

[2019-03-25 20:45] Vitalius1 commented on #8454
Hi @FullStackRafik, thanks for posting a question and in order to help you out with an answer I would really appreciate you elaborate a little bit more on what you are trying to achieve and maybe even provide a starting codepen (you can fork [this one](https://codepen.io/vitalius1/pen/jXzLmb)) in demoing what is the question about.

[2019-03-25 20:47] dzearing commented on #8244
@lijunle I don't think we will clearly resolve this here but I think all of the options of styling have benefits and tradeoffs.

We started with only classname as a way to style thing. Pro is that it's fast, pre-calculated. Con is that it's highly fragile to override because of specificity, there's no type safety, it leads to bulk css, there has been limited support for "theme in a box" scenarios,

[2019-03-25 20:51] dzearing commented on #8245
https://codepen.io/dzearing/pen/ZPZzmX

The `DIR` attribute should be on `HTML`. Can you move it there @raghavendra-kodimala?

[2019-03-25 20:52] micahgodbolt commented on #8245
Yeah, we added support for putting 'dir' onto the body tag in the 6.x branch.

[2019-03-25 20:55] micahgodbolt commented on #8221
Michael send over a design and yeah....now that I see it, I wonder why they decided to omit the beak.

[2019-03-25 21:00] #8175 closed

[2019-03-25 21:00] dzearing commented on #8456
@jspurlin  @joschect Is there something the developer using the split button needs to do here?

[2019-03-25 21:06] micahgodbolt commented on #8221
The beak only shows in collapsed mode because of this condition.

![image](https://user-images.githubusercontent.com/1434956/54954020-e7457e00-4f06-11e9-91ed-31ce0bd8b5ae.png)

If you remove that, you get this

![coach](https://user-images.githubusercontent.com/1434956/54953979-c8df8280-4f06-11e9-8a40-5dd70cddd3f4.gif)

So it wouldn't be hard to turn that test on and off via a prop. @aftab-hassan,

[2019-03-25 21:15] Jahnp commented on #7085
@brandonthomas just checking, is this still an issue you plan to look at?

[2019-03-25 21:27] awalia13 opened #8463 "ColorPicker A11y Pass"
Tracking all of the issues brought up with the 3/25 accessibility pass on ColorPicker control
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B21986988-6108-426e-b79f-214f796cc784%7D&action=default&uid=%7B21986988-6108-426E-B79F-214F796CC784%7D&ListItemId=1898&ListId=%7B395E1ECB-5002-

[2019-03-25 21:35] awalia13 commented on #8463
@micahgodbolt  - We found two more issues in ColorPicker but these issues were already logged as per below. Please suggest if we need to log below bugs also in "ColorPicker A11y Pass #8463"
https://github.com/OfficeDev/office-ui-fabric-react/pull/8429
https://github.com/OfficeDev/office-ui-fabric-react/issues/8012

[2019-03-25 21:36] nshoes opened #8464 "Why are there very specific selectors in some styles?"
First off, great work, this library is awesome, our team is really enjoying it. My coworker [asked a question on SO with no response](https://stackoverflow.com/questions/55285173/why-is-checkbox-text-not-using-theme-font-size), so I'm attempting to ask here.

Also, hello  @micahgodbolt 👋.

### Environment Information

- __Package version(s)__: `office-ui-fabric-react@6.157.3`

#### Actual behavior

[2019-03-25 21:52] ecraig12345 commented on #8463
#8429 is a completed pull request, not an issue--meaning it's already been fixed.

For #8012 about slider keyboard accessibility, here's what I said on that bug:

Not sure who decides how essential this is to fix?

[2019-03-25 22:00] #8341 closed

[2019-03-25 22:07] micahgodbolt commented on #8464
Yeah, that's a bit wacky. We should probably add a 'label' target in `IChoiceGroupOptionStyles` and target that directly. I don't see any specific reason we're using a descendent selector for that font style. Might have simply been an oversight during conversion to css-in-js.

@nshoes /waves

[2019-03-25 22:08] KarthikJeyabalan opened #8466 "Clicking on Checkbox triggers two onClick events"
* Goto https://codepen.io/anon/pen/BbqOrK for a starting codepen
  * Open Developer tools (F12)
  * click on check box, onClick event gets triggered twice. You will see 2 entries in the console log

#### Actual behavior:

Got 2 onClick event calls

#### Expected behavior:

Only one onClick event is expected

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) No