[2018-04-10 16:03] lynamemi commented on #4497
Sounds like a solid plan, @micahgodbolt ! I submitted the docs PR for the quick fix.

[2018-04-10 17:13] #4497 closed

[2018-04-10 18:55] aditima commented on #4428
@quangleminhvn - this sounds like a known webkit issue that Fabric doesn't have much control on. Closing.

[2018-04-10 18:55] #4428 closed

[2018-04-10 18:58] Jahnp commented on #4502
Just to be clear, are you talking about supporting filtering functionality (which DetailsList does today), or adding explicit UI affordances for filtering (like comboboxes/checkboxes, etc)? I don't quite understand the desired behavior from that screenshot.

In the second case, this is something that could be handled by an HOC/implementation of DetailsList/DetailsHeader. Have you seen the filterin

[2018-04-10 19:17] Laapi commented on #4502
Thanks for the answer. Yes, you correctly understood, I would like to be able to filter like this: number or string (simple input) boolean data (checkbox), enumeration data (drop-down menu),
date (datepicker), etc...

[2018-04-10 21:08] oengusmacinog commented on #4270
@saurabhsuniljain I am going to go ahead and close this since I am not seeing this issue, but if you are experiencing this issue still please open another issue and detail your OS and Browser so we can reproduce and debug.

[2018-04-10 21:08] #4270 closed

[2018-04-10 21:40] betrue-final-final commented on #4289
Hi @donaldallen! I love your enthusiasm for doing what's right for humans. This is a case where we are actually improving the experience.

1. Moving the arrows to the right side allows the "title" of the picker to align left and sit in a natural reading order. I don't think you thought that aspect was an issue though.
2. Why do the arrows move up and down? It's actually how the calendar is oriente

[2018-04-10 21:40] #4289 closed

[2018-04-10 21:41] aditima commented on #4430
I agree with @dzearing. To me, the DetailsRow component is ideally a stateless one that is driven by item props coming from DetailsList.

@keerthinath-ganjam - in most real world scenarios, I imagine we'd want to persist the result of the toggle operation in the item data, and the workaround suggested by @KevinTCoughlin essentially does that. If your scenario demands a per-row state, we suggest yo

[2018-04-10 21:41] #4430 closed

[2018-04-10 21:45] aditima commented on #4493
Hi @lszomoru - can you please share a codepen demonstrating the repro?

[2018-04-10 21:55] aditima commented on #4493
When the DetailsList receives a new set of items (with the same setKey), we attempt to maintain the previous selection state and if we are able to do that onSelectionChanged event handler does not fire.

It should fire if the selection state cannot be restored or the items are from a different set (identified by a different setKey). If the items you are rendering in the first render are completely

[2018-04-10 22:12] manishgarg1 commented on #4500
Hi @smilank3, No, I don't think so. @dzearing, do we have non-typescript docs? Typescript has worked very well for us. It helps us manage and scale the code better. @smilank3, any specific reasons you do not want to use Typescript?

[2018-04-10 22:56] KevinTCoughlin commented on #4500
I could see the benefit of adding more JSDoc style comment blocks to help with intellisense and auto-generated documentation via a tool like [typedoc](http://typedoc.org/). Not sure if that's the ask here. If it is, it'd have to be scoped and not done for the sake of having comments IMO. My .02.

[2018-04-10 22:58] KevinTCoughlin commented on #4471
Codepen templates might shine here -- https://blog.codepen.io/documentation/api/templates/

Personally, I've been forking @dzearing's personal collection.

[2018-04-11 02:05] dzearing commented on #879
We are shipping a refactored command bar in 6.0. We can test it in that one, but I haven't touched this code in a while.

[2018-04-11 03:37] betrue-final-final commented on #4064
This is valid.

[2018-04-11 04:39] JoshuaKGoldberg commented on #4081
Ehh, no stale label please?

[2018-04-11 07:04] lafe opened #4514 "className Property for ICalendarProps"
Currently, the Calendar control does not support custom styling due to the missing `className` property on the `ICalendarProps` interface. It would be great, if this can be added, because currently a global style for the "Button" element breaks the layout of the month selection in the Calendar Control. As we do not have control over that global style, the easiest fix is to apply the change directl

[2018-04-11 07:37] obiwan007 commented on #4204
![microsoft edge 11 04 2018 09_37_01](https://user-images.githubusercontent.com/12936285/38602763-ff01d64a-3d6b-11e8-8b2f-767b0d70d409.png)
Unfortunately this bug is still not fixed. Very strange that nobody else notices that the basic concept of the virtualized list is not working anymore.
You could check it in the basic components page under ScrollablePane. You will find that the Items List ther

[2018-04-11 07:40] obiwan007 commented on #4205
Unfortunately this issue is still not fixed.
![microsoft edge 11 04 2018 09_37_01](https://user-images.githubusercontent.com/12936285/38602863-491f4f3c-3d6c-11e8-9c82-df6fa1b250a2.png)

[2018-04-11 07:46] obiwan007 commented on #4503
More detailed issue here: #4204

[2018-04-11 08:10] #3591 closed

[2018-04-11 08:44] Nimelrian commented on #3387
Any news on this? This is still present as of 5.80.0 https://codesandbox.io/s/vw1l5l5w7

Docs are also still saying that hidden is false by default.

[2018-04-11 08:45] Nimelrian commented on #3313
Any news on this? As of 5.80.0, the component is still not exposed on the public API.

[2018-04-11 09:25] sitepodmatt commented on #2705
This issue still remains.

[2018-04-11 10:06] lszomoru commented on #4493
@aditima, thanks for getting back to me on this. Let me do some more debugging based on the information and see what I can find. Based on what you are saying, it looks like during the first search the setKey changes, and that is why the onSelectionChanged event fires. In subsequent searches the setKey stays the same and that is why the onSelectionChanged event does not fire.

[2018-04-11 10:33] russgove commented on #3823
any update on this

[2018-04-11 10:40] russgove commented on #2862
anbody?

[2018-04-11 11:25] rolfdalhaug commented on #2168
Any update on this?.. Thanks

[2018-04-11 12:42] betrue-final-final commented on #1425
@micahgodbolt, we do need to set color Lynn’s aligned right. Is this useful?

[2018-04-11 12:56] jspurlin commented on #2216
This has been fixed since 4.32.0, closing

[2018-04-11 12:56] #2216 closed

[2018-04-11 13:04] jspurlin commented on #3987
@wygoodin this seems like a Narrator bug, if after hitting ENTER with "share with me" selected you then press DownArrow before hitting UpArrow focus goes to the expected location. Closing this issue and there should be a follow up with the Narrator team to track this issue on their end

[2018-04-11 13:04] #3987 closed

[2018-04-11 13:25] SGSmyth commented on #3603
Same problem here, with latest (as of 11 Apr) React typings, 16.3.8

[2018-04-11 14:04] betrue-final-final commented on #1655
This should be investigated

[2018-04-11 14:05] jspurlin commented on #2851
This renders perfectly in RTL, the colors are reversed as expected, closing

[2018-04-11 14:05] #2851 closed

[2018-04-11 14:06] betrue-final-final commented on #2156
Does this still repro?

[2018-04-11 14:08] betrue-final-final commented on #2302
@micahgodbolt,  does the new command bar address this?

[2018-04-11 14:16] betrue-final-final commented on #1614
@lynamemi,
Someone really needs to fix this. Game?

[2018-04-11 14:25] betrue-final-final commented on #3401
@michaelangotti, for some reason I can’t @mention Angela, but something she should investigate. I’m unfamiliar with this network he speaks of.

[2018-04-11 14:26] betrue-final-final commented on #3552
Does this still repro?

[2018-04-11 14:32] #1406 closed

[2018-04-11 15:30] Markionium opened #4520 "Duplicated @uifabric imports"
### Bug Report

- __Package version(s)__:
- office-ui-fabric-react@5.77.0
-  uifabric/merge-styles@5.14.0
-  uifabric/styling@>=5.11.0
-  uifabric/utilities@>=5.19.1

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low) Normal?

Products/sites affected: (if applicable) LPC

#

[2018-04-11 16:30] gbminnock commented on #3372
seems to only work when onClick method is also be used.

[2018-04-11 16:35] luvankle commented on #3552
Hi, yes this still repros.

A user is unable to tab to the delete button in the Share Control on Office.com, as shown in the photo.
________________________________
From: Ben Truelove <notifications@github.com>
Sent: Wednesday, April 11, 2018 07:26 AM
To: OfficeDev/office-ui-fabric-react
Cc: Lucy Van Kleunen; Author
Subject: Re: [OfficeDev/office-ui-fabric-react] [Accessibility] [MAS36-Keyboard] T

[2018-04-11 16:40] gbminnock opened #4521 "@Question: Should I upgrade spfx project as its using older version of 'office-ui-fabric-react'?"
@Question
Hi, I am using office-ui-fabric react in my spfx webpart. I used yeoman with the @microsoft/sharepoint generator to create the project.

The version of office-ui-fabric seems to be 5.21.0 but the latest version is 5.80.0. I've noted some issue whereby there are some missing functionalities from components and some mismatches from the documentation.

Is it recommended to upgrade office-ui

[2018-04-11 16:40] nappy commented on #3872
Since this is still an issue for me, I pleasantly provide some activity. ;)

[2018-04-11 16:42] suztocco commented on #3933
Can someone work on this so it isn't closed by the bot?

[2018-04-11 16:44] betrue-final-final commented on #3933
We still need this. @suztocco since you commented, it's no longer stale.

[2018-04-11 16:59] #3389 closed

[2018-04-11 17:04] daweffe commented on #3910
bump

[2018-04-11 17:19] daweffe commented on #2786
bump

[2018-04-11 17:19] daweffe commented on #2820
bump

[2018-04-11 17:34] #1455 closed

[2018-04-11 17:35] lambertwang commented on #3693
No plan to fix. Closing issue.

[2018-04-11 17:35] #3693 closed

[2018-04-11 17:35] #2749 closed

[2018-04-11 17:37] chang47 opened #4522 "Create a separate component for Split Buttons in Contextual Menu's"
### Bug Report

__Package version(s)__: 5.80.0

#### Priorities and help requested (not applicable if asking question):

Yes

Requested priority: (Blocking, High, Normal, Low)

Low

#### Describe the issue:

The contextual menu is growing too large and there should be some work to componetize and separate the menu items, specifically the contextual menu.

This problem became especially apparent in

[2018-04-11 18:27] betrue-final-final commented on #3472
@lynamemi, are you still going to work on this one?

[2018-04-11 18:27] michaelangotti commented on #3281
We believe this was a temporary issue at the time and will  close this issue. If it still repros for you, please open a new bug.

[2018-04-11 18:27] #3281 closed

[2018-04-11 18:28] Jahnp commented on #3263
Hi @LeopoldLerch , @erichdev 's suggestion should fix the issue, so we're going to go ahead and close this. Please let us know if you're still seeing this issue and we can revisit.

[2018-04-11 18:28] #3263 closed

[2018-04-11 18:34] Jahnp commented on #3285
Sorry for the hassle here. Are you still seeing this issue with the latest package (v5.80.0 as of this writing)? TypeScript support has been updated a few times since this was opened. @manishgarg1 for FYI as we were discussing this in triage.

[2018-04-11 18:35] michaelangotti commented on #3297
We believe this issue has been fixed and will close. If it still repros for you, please open a new bug.

[2018-04-11 18:35] #3297 closed

[2018-04-11 18:44] Jahnp commented on #3300
This seems like a reasonable request, but I'd look to the DatePicker codeowners on if this is something on their radar as well. @lorejoh12 @sathi23 , can you take a look at this? Thank you!

[2018-04-11 18:44] lynamemi commented on #3472
On first look, I couldn't determine why the focus styles weren't getting applied. This issue still needs ownership.

[2018-04-11 18:45] michaelangotti commented on #3310
We believe this  issue has been resolved and will  close this issue. If it still repros for you, please open a new bug.

[2018-04-11 18:45] #3310 closed

[2018-04-11 18:52] Jahnp commented on #3329
Hey @mdmdakbar , managing focus in this context sounds like an app-level concern, not something that'd be handled by Fabric. You should be able to re-assign focus where you need to with MessageBar's `onDismiss`. See "implementation" on [MessageBar's docs site page](https://developer.microsoft.com/en-us/fabric#/components/messagebar). I'm going to go ahead and close this for now, but let me know if

[2018-04-11 18:52] #3329 closed

[2018-04-11 18:57] Jahnp commented on #3364
Closing since the associated PR indicates that @elliottsj is implementing this in their own project.

[2018-04-11 18:57] #3364 closed

[2018-04-11 19:02] Jahnp commented on #3372
@gunjandatta had a PR associated with this (#3373), but it lost traction and was closed. If @gunjandatta or someone else would like to pick this up again, we'd be happy to take a look at a PR. Else, I don't think we have immediate plans to implement this. @joschect for FYI as Pickers codeowner.

[2018-04-11 19:02] #4278 closed

[2018-04-11 19:04] Jahnp commented on #3374
Hi @fanch2, did you get a chance to take a look at @kristoferbrown's suggestion? Since this is an old issue, we'll go ahead and close for now, but let us know if you still need help. @joschect for FYI as PeoplePicker codeowner.

[2018-04-11 19:04] #3374 closed

[2018-04-11 20:28] LeopoldLerch commented on #3263
a fixed with in pixel would not solve my problem. if i set a just such a fixed with, the width will be too much in some cases (cause the values in the dropdown would be much lesser), or still too small (there might be longer values in future). Thing is, that the values in the dropdown are not to be predicted.

currently i am overwriting the dropdown (the callout that is displaying it) using css

[2018-04-11 20:56] lszomoru commented on #4493
Debugging into the `Selection` code, I see that the during the first search, the event is being raised in `setAllSelected` [here](https://github.com/OfficeDev/office-ui-fabric-react/blob/a5eea239e21a0d41bf31e850e23d112aaf2890da/packages/office-ui-fabric-react/src/utilities/selection/Selection.ts#L273). The event is raised because `this._isAllSelected` is `undefined`. On the second pass, during the

[2018-04-11 21:26] cschlechty commented on #1721
submenu isn't a valid ARIA role, it should be a menu with menuitems. The button should be a menuitem

[2018-04-11 23:22] wutonghao opened #4525 "ColorPicker does not update upon text field changes when alphaSliderHidden=true"
### Bug Report

- __Package version(s)__: 5.29.4

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix?
No

Requested priority: Blocking

Products/sites affected: Excel

#### Describe the issue:

Color is not updated when we manually change red/green/blue value when alphaSliderHidden=true.
By looking into ColorPicker.tsx and debugging, I no

[2018-04-12 11:46] petercutting commented on #479
I worked around my problem by setting selectedKey to "" in each PivotItem components componentDidMount. The user can now choose a different pivotItem despite the code having set one earlier

[2018-04-12 15:59] harshdamania commented on #4492
Any updates

[2018-04-12 17:16] michaelangotti commented on #4521
@manishgarg1 Can you help answer this one?

[2018-04-12 17:17] Jahnp commented on #4522
This sounds reasonable to me, but would love @joschect 's thoughts as codeowner for ContextualMenu. Also flagging this to @dzearing and @micahgodbolt for any thoughts on further extending Button in this way.

[2018-04-12 17:25] Jahnp commented on #4525
Thanks for reporting this @wutonghao . Your proposed fix looks reasonable to me, but would love @phkuo's thoughts. @wutonghao , would you be willing to submit a PR?

[2018-04-12 17:27] michaelangotti commented on #4504
@Pajn Could supply a repro or code sample?

[2018-04-12 17:30] michaelangotti commented on #4503
Closing as this is a dup of #4204

[2018-04-12 17:30] #4503 closed

[2018-04-12 17:31] Jahnp commented on #4204
@leddie24  is working on a refactor of ScrollablePane, which may address this issue. @leddie24 can you check if this will be fixed by #4491?

[2018-04-12 17:36] wutonghao commented on #4525
@Jahnp I can submit a PR if the proper fix is as simple as what I proposed (since I'm not very familiar with the color picker). If @phkuo also agrees with my fix, I can go ahead and submit a PR. Thx!

[2018-04-12 17:44] michaelangotti commented on #3382
@carsonal Are you talking about Office-UI-Fabric-React or Office-UI-Fabric-JS?

[2018-04-12 17:46] Jahnp commented on #3376
Sorry for the delay @Nimelrian--thanks for reporting.

Adding @srideshpande as ChoiceGroup codeowner and @lynamemi as FYI. Could you take a look at this when you have a chance? It *definitely* feels wrong to use `:global(.ms-Label)` here--though that spacing is definitely an intentional part of the design.

[2018-04-12 17:53] michaelangotti commented on #3388
@amyngu Is this still an issue for you? We believe this functionality has been fixed

[2018-04-12 17:54] amyngu commented on #3388
@michaelangotti Yes this is fixed now!

[2018-04-12 18:00] Jahnp commented on #3407
Sorry for the delay @mattcoxonline. While we'd like to support this at some point in the future, as far as I know the central icons team does not have plans to support static SVGs for these icons--which means Fabric won't either. So, I'm going to go ahead and close this for now--but happy to revisit if that changes.

[2018-04-12 18:00] #3407 closed

[2018-04-12 18:41] leddie24 commented on #4204
Yup, it will be fixed.  Basically the scroll event handler isn't firing because the wrong container has data-is-scrollable=true.  This will be fixed with that PR

[2018-04-12 18:59] KevinTCoughlin commented on #4372
@dzearing it looks like its been around for awhile, even before https://github.com/OfficeDev/office-ui-fabric-react/pull/2044/files#diff-f2d0127af8796463799f6b6dceeacbe9R227

Still ramping up here, but it seems like we only need to include `aria-describedby` when a tool-tip is being used for the column header which requires overriding `onRenderColumnHeaderTooltip`. Otherwise the `aria-labelledby`

[2018-04-12 19:18] #4386 closed

[2018-04-12 19:18] chang47 opened #4532 "Split Buttons in Contextual Menu: Enforcing a sub menu option that does what the primary button does"
### Bug Report

- __Package version(s)__: 5.80.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:

Now that we're introducing touch for better split buttons inside contextual buttons (overflow) from this PR: https://github.com/OfficeDev/office-ui-fabric-react/pull/4353. We can

[2018-04-12 19:40] lynamemi commented on #1614
It's really mysterious to me why this is silent, the code looks ok! I'll have to take more time to investigate.

[2018-04-12 21:04] betrue-final-final opened #4533 "Components need to support mouse hover in high contrast"
These controls currently do not respond to mouse hover in high contrast themes:

1. Button - Needs to change the border to system color "highlight"
2. Breadcrumb - See above. I believe this will inherit from Button
3. Checkbox - See Button. Also technically it would be better if the background and checkmark reversed colors on selection.
4. Coachmark has all kinds of problems in HC
5. ChoiceGroup -

[2018-04-12 21:18] lynamemi commented on #3621
Should tack the hover state onto this effort: https://github.com/OfficeDev/office-ui-fabric-react/issues/4533

[2018-04-12 21:28] KevinTCoughlin commented on #4293
@Vintaurus this seems like an ES6 compatibility issue with [Set](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set), though IE 11 should have basic support. I can't repro the error standalone with IE 11 on https://developer.microsoft.com/en-us/fabric#/components/scrollablepane. There must be some issue with the specific setup on a SharePoint site. Are you still f

[2018-04-12 21:52] andrewbranch commented on #4178
FWIW, it's not unique to Chrome; it happens in Safari as well (haven't tested others). Also, haven't experienced this to be true myself:

Maybe it's a user setting, but option doesn't blur stuff in the document for me in Chrome or Safari. Also note that the issue isn't just for the option key, it's for command (⌘) as well.

[2018-04-12 21:54] KevinTCoughlin commented on #3636
@barisbikmaz it looks like the issue here is the first item does not have an `href` defined. If I add one then I can see the tool-tip with the same breadcrumb structure in both IE and Chrome. If its absent as it is in https://codepen.io/anon/pen/gvEzME then neither browser renders the tool-tip.

The href I added to test was `href: '#/examples/breadcrumb', `. You can see it here: https://codepen.io

[2018-04-12 21:54] KevinTCoughlin commented on #3636
Note that this doesn't seem isolated to IE 11 unless I'm missing something in the initial bug report.

[2018-04-12 22:15] KevinTCoughlin commented on #3246
I'm unsure of how to properly address since the [ARIA documentation][0] states:

Is this still incorrect? I'd like to fix, but have limited experience with LCT and do not want to introduce an incorrect ARIA role by fixing.

[0]: https://www.w3.org/WAI/PF/aria-1.1/roles#grid

[2018-04-12 22:37] cythomli opened #4535 "DropDown: Uncaught (in promise) TypeError: props.options.forEach is not a function"
I'm receiving the above error even after updating react and office-ui-fabric-react to latest version. Please let me know how to fix this.

[2018-04-12 22:37] KevinTCoughlin commented on #3224
@mdmdakbar I think this has been fixed by https://github.com/OfficeDev/office-ui-fabric-react/issues/3319.

As far as I can tell, now the structure is:

[code]

Which conforms to https://www.w3.org/TR/wai-aria-1.1/#combobox. I believe this issue can be closed.

[2018-04-12 22:57] lisapalathingal commented on #3788
Were you able to fix this issue? Please let me know how you fixed it as I am currently having the same issue (even after updating to latest version)

[2018-04-12 22:58] KevinTCoughlin commented on #4372
As pointed out by @natalieethell this should be fixed with https://github.com/OfficeDev/office-ui-fabric-react/pull/4487 👍

[2018-04-12 23:26] lisapalathingal opened #4539 "Issues with Combobox options property"
How do I use the Combobox if options include the following type of values?

{
 "0": "A",
 "1": "B",
 "2": "C",
 "3": "D"
}

[2018-04-12 23:29] michaelangotti commented on #3388
@amyngu Wonderful! I will close this issue then.

[2018-04-12 23:29] #3388 closed

[2018-04-12 23:36] michaelangotti commented on #4535
@lisapalathingal We need a little more information on this one. What Browser and OS version are you using? Can you also provide a repro or code sample?

[2018-04-12 23:57] #4539 closed

[2018-04-13 01:50] #3385 closed

[2018-04-13 02:27] #4525 closed

[2018-04-13 17:10] wenwa opened #4545 "No easy way to adjust people picker token width to fit its parent's size"
### Bug Report

- __Package version(s)__: 5.63
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Microsoft Flow

#### Describe the issue:

The '.fl-PeoplePicker .ms-PickerPersona-container' element has a max-width of 300p

[2018-04-13 17:14] KevinTCoughlin commented on #4401
@daweffe [PersonaBase](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/Persona/Persona.base.tsx) spreads `...divProperties` on the top-most wrapper element for Persona controls https://github.com/OfficeDev/office-ui-fabric-react/blob/40b585d6ba42d45a2302c9161612461d8ab2fca9/packages/office-ui-fabric-react/src/components/Persona/Persona

[2018-04-13 18:07] KevinTCoughlin commented on #4076
The `.is-selected` selector seems to be available in `5.78.0`, I didn't check a prior version yet to see if it regressed between then and now. In latest it looks to be tricky to override the inner button of the `.is-selected` node's background-color as you're trying to do using CSS-only.

I attempted to do it in this pen: https://codepen.io/kevintcoughlin/pen/oqROxa

But the background style is se

[2018-04-13 18:25] #4305 closed

[2018-04-13 18:26] oengusmacinog commented on #3333
Should be solved by PR #4305 - please reopen if still having issues.

[2018-04-13 18:26] #3333 closed

[2018-04-13 19:55] batrived opened #4549 "Tooltip for Combo Box option"
### Bug Report

- __Package version(s)__: (5.79.1)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes)

Requested priority: (High)

Products/sites affected: (VSTS)

#### Describe the issue:

Currently, react ComboBox doesn't support tooltip for options, so it the text in th

[2018-04-13 20:07] dzearing commented on #4520
Propose we remove the module entries in 5.0 and stick with lib, until 6.0.

[2018-04-13 20:21] kelseyyoung opened #4550 "When hitting Escape in IE, all ContextualMenus close instead of just closing the current submenu"
### Bug Report

- __Package version(s)__: (5.81.1)
- __Browser and OS versions__: (IE Only)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes)

Requested priority: (Normal)

Products/sites affected: (if applicable)

#### Describe the issue:

In IE, if you open a submenu in a ContextualMenu then hit Escape, all menus close instead

[2018-04-13 20:55] KevinTCoughlin commented on #4197
@michaelangotti we can close this since the linked PR addresses the bug and adds an example of its usage.

[2018-04-13 21:43] rebeccaballantyne opened #4551 "Accessibility- BasePicker aria-owns and activedescendant field should not be set unless suggestions are rendered"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: OneDrive share dialog

#### Describe the issue:

BasePicker has aria-owns set to "suggestion-list" even when Suggestions.tsx is not in the DOM.

#### Expected behavior:

BasePicker aria-owns behavior should mimic aria-expanded beh

[2018-04-13 22:36] dcowen91 commented on #1660
@micahgodbolt , @dzearing, is this being tracked? I updated the original codepen to use fabric 5.81.1 and the issue still repros:
https://codepen.io/anon/pen/wmLvGY

[2018-04-14 07:42] trevonmckay opened #4556 "CommandBar Items with href passes undefined item in onClick handler"
### Bug Report

- __Package version(s)__: 5.80.0
- __Browser and OS versions__: Google Chrome 65.0.3325.181 on Windows 10 1803

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: High

Products/sites affected: (if applicable)

#### Describe the issue:

The onClick handler for IContextualMenuItem passes an instanc

[2018-04-14 07:52] lszomoru commented on #4493
I believe I was able to get to the bottom of the behavior that I was seeing. In my repro you can see that I am not setting the `setKey` for the detail list. After taking a closer look at the samples, I have set the `setKey` for the detail list component and now the events are fired as expected. I would suggest that we update the documentation to explicitly call out the importance of setting the `s

[2018-04-14 07:52] #4493 closed

[2018-04-14 09:13] Vintaurus commented on #4293
Hi Kevin, there is no issue on SharePoint site. I just tested also directly with Safari without SharePoint site. The problem also exists with Chrome. I'm using different components of Office UI Fabric and there are working fine, except Sticky and Scroll. Maybe the issue is by webpack, isn't it?

tsconfig.json:
{
    "compilerOptions": {
        "outDir": "./dist/",
        "sourceMap": true,

[2018-04-14 22:15] trevonmckay opened #4558 "getSelectedIndices() fails strict null check"
### Bug Report

- __Package version(s)__: 5.80.0
- __Browser and OS versions__: Chrome 65.0.3325.181 and Windows 10 1803

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: High

Products/sites affected: (if applicable)

#### Describe the issue:

ISelection getSelectedIndices() fails to complie due strictNullChec

[2018-04-16 03:05] dzearing commented on #4520
I have removed them. I am closing this and will track the 6.0 update separately.

[2018-04-16 03:05] #4520 closed

[2018-04-16 03:38] dzearing commented on #4504
This is easy to repro.

[code]

In the App.tsx, use `IconNames`:

[code]

Will compile just fine, but at runtime `IconNames` is undefined. This is because it is marked as a const enum, and TypeScript doesn't want to auto expand const enums.

You can see the declaration in `@uifabric/icons/lib/IconNames.d.ts` that the const enum is there and intact. However, TypeScript is not consuming the const en

[2018-04-16 03:40] dzearing commented on #4504
If we remove the "const" or mark the project to keep const enums intact, it ends up causing you to pull in 5k of definitions. This is not acceptable.

Another possibility is to export each individual name as an individual const... they will treeshake out properly once we convert the `lib` folder to es6 in 6.0. But I don't feel super great about that idea.

[2018-04-16 07:44] lafe commented on #4514
As you can see, I submitted a PR, but unfortunately the automatic build task did not run successfully. As I do not have further information than the Travis log, I cannot analyze the issue that caused the build process to fail further. From what I can gather, it seems to be a problem with the build infrastructure itself and not with the changes I made.

[2018-04-16 08:11] sharepointmike opened #4564 "Office UI Fabric panel will not close."
I use an Office UI Fabric Panel (nothing special, just as in the Microsoft examples). However, I want to trigger the panel programmatically. I open the panel lik this:
` $("#btnOpenPanel").trigger( "click" );`
In the panel I have a form. When I submit the form I do an update in the database and close the form. The database update works fine and I want to close the panel the same way I opened it. S

[2018-04-16 09:54] davidleacy opened #4565 "[Accessiblity][Screen Reader] Dropdowns have to too many readable items using Narrator"
### Bug Report

- __Package version(s)__: 5.81.1
- __Browser and OS versions__: Windows 10 / Microsoft Edge / Windows Narrator

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Upcoming Microsoft site.

#### Describe the issue:

When using Windows Narrator with Edge in Item mode

[2018-04-16 14:26] RyanCavanaugh commented on #4504
This compiles correctly if you use `tsc`.

The most likely problem here is that `ts-loader` is using `ts.transpile` or equivalent (e.g. Babel?) to do emit, which means you are not allowed to use `const enum`s because TypeScript is not loading in the imports so it doesn't know that `IconNames.Download` refers to a `const enum`.

Assuming that's the case, then whoever configured this starter project

[2018-04-16 15:12] dzearing commented on #4564
Hmm. Is this fabric-react you're using, or FabricJS? https://github.com/OfficeDev/office-ui-fabric-js

[2018-04-16 15:15] dzearing commented on #4478
We need someone to look for protected methods to ensure they aren't using lambdas.

@joschect I believe pickers are the only place we rely on protected. I didn't know this would happen. Are we missing tests to validate this?

[2018-04-16 15:18] sharepointmike commented on #4564
I use: office-ui-fabric-js 1.2.0

[2018-04-16 15:19] dzearing commented on #4047
Is there a repro of this?

[2018-04-16 15:40] KevinTCoughlin commented on #4558
👋 @trevonmckay

Looking at `5.82.0`, `getSelectedIndices` seems to always return `number[]`. Perhaps it was patched between `5.80.0 ~ 5.82.0`. Though it looks to have been untouched for awhile https://github.com/OfficeDev/office-ui-fabric-react/blame/master/packages/office-ui-fabric-react/src/utilities/selection/Selection.ts#L203

[2018-04-16 15:46] KevinTCoughlin commented on #4564
Not sure of your DOM mark-up but I wonder if you're triggering the `click` on the panel itself and therefore it won't close like if you do so manually on that example site. If you have access to the component it looks like you can trigger `dismiss()` with an optional callback function.

[2018-04-16 16:06] sharepointmike commented on #4564
Like $("#panelID").dismiss() ?

[2018-04-16 16:41] KevinTCoughlin commented on #4550
I'm taking a look at this (can't self assign yet)

[2018-04-16 16:59] sharepointmike commented on #4564
@KevinTCoughlin Great example, thank a lot.

This is my code now:
`var PanelExamples = document.getElementsByClassName("ms-PanelPoultry");

	var panelInstance;

	for (var i = 0; i < PanelExamples.length; i++) {
    	(function() {
      		var PanelExampleButton = PanelExamples[i].querySelector(".ms-Button");
      		var PanelExamplePanel = PanelExamples[i].querySelector(".ms-Panel");
      		PanelE

[2018-04-16 17:12] joschect commented on #4478
@dzearing Pickers is probably one of the only components that uses protected functions in this manner, but there could be others lurking. While I don't believe that we have them overridden anywhere it could be an issue. I can certainly revert them and add some tests if that's the route we want to go. Alternatively, we could leave them as is, deprecate the idea of extending a component and remove t

[2018-04-16 17:29] caradong commented on #3835
@lovakumar thank you for reporting this. We received a very similar bug by an internal accessibility test team. Just to provide a bit more information, here is what the actual/expected behavior for caps + F3, caps + F4.

caps + F3 focus should shift to the next cell in a row, actual: focus is not shifted
caps + F4 focus should shift to the next cell in the same column, actual: focus is shifted to

[2018-04-16 17:34] KevinTCoughlin commented on #4564
If you have two panels then you're likely overwriting `panelInstance`. You probably want to assign each to their own instance (local variable) and dismiss them programmatically when you want to i.e. after form submission and AJAX success.

[2018-04-16 17:36] joschect commented on #2526
This has been fixed, getTextFromItem now correctly reflects that the item returned is of type T, which will match the tag pickers type.

[2018-04-16 17:36] #2526 closed

[2018-04-16 17:43] sharepointmike commented on #4564
In the end your example is working like it should. My initial error was an user error.

By the way, is it possible to let a panel appear the same way? panel.show() or something?

[2018-04-16 17:54] KevinTCoughlin commented on #4556
Thanks for the report @trevonmckay. I can repro this and am close to a fix. Will raise a PR shortly. Seems reasonable to want to be able to trigger some action via callback even if the `href` property is set.

[2018-04-16 18:08] KevinTCoughlin commented on #4564
It looks like the React version of Fabric (this repo) exposes `open` and `dismiss` methods. But the base library that you are currently using only exposes `dismiss`. If you feel strongly about exposing that method on the base library I'd recommend opening an issue @ https://github.com/OfficeDev/office-ui-fabric-js.

- https://developer.microsoft.com/en-us/fabric#/components/panel (API is near the

[2018-04-16 18:14] aditima commented on #3418
@mdahamiwal - are you planning to work on a fix for this?

[2018-04-16 18:15] jordandrako commented on #3410
It's on my near-future to-do list to convert ChoiceGroup to mergeStyles which will enable the getStyles API and themes. The [styling wiki entry](https://github.com/OfficeDev/office-ui-fabric-react/wiki/Styling) for more details. I'll close this for now.

[2018-04-16 18:15] #3410 closed

[2018-04-16 18:25] aditima commented on #3455
@micahgodbolt - do you want to add this functionality like you suggested above?

[2018-04-16 18:29] aditima commented on #3460
@joschect - could you please take a look at this?

[2018-04-16 18:32] jordandrako commented on #3458
You can create your own variant component using the `styled` function. See the [styling wiki](https://github.com/OfficeDev/office-ui-fabric-react/wiki/Styling#styled-higher-order-component) for more details. Closing for now, reopen if you feel this is still an issue.

[2018-04-16 18:32] #3458 closed

[2018-04-16 18:33] jordandrako commented on #3458
If you just need to override styles in one or two cases and don't want to create a full variant, you should use [the `getStyles` function](https://github.com/OfficeDev/office-ui-fabric-react/wiki/Styling#getstyles-function).

[2018-04-16 18:33] aditima commented on #3469
@micahgodbolt - do you want to take this up?
Maybe we should not block the search if the value changes from non-empty to empty?

[2018-04-16 18:36] aditima commented on #3470
@oengusmacinog - can you please find out if we already had a PR for this?

@betrue-final-final @joschect - FYI, as well...

[2018-04-16 18:41] aditima commented on #3488
@satbai - we really only support the high-contrast mode on IE/Edge. Closing this issue.

[2018-04-16 18:41] #3488 closed

[2018-04-16 18:44] aditima commented on #3502
@Jahnp @dzearing - any suggestions for this one?

[2018-04-16 18:47] joschect commented on #3460
Good news! This has been fixed. onBlur should now only fire when the entire component is unfocused..

[2018-04-16 18:47] aditima commented on #3506
@betrue-final-final - running this by you to make sure this would be a good add?

[2018-04-16 18:50] aditima commented on #3523
@lorejoh12 - could you please take a look at this?

[2018-04-16 18:53] aditima commented on #3528
@joschect - could you please take a look?

[2018-04-16 18:54] joschect commented on #3460
Although it looks like we don't call onBlur. I'll put in a quick fix.

[2018-04-16 18:55] aditima commented on #3529
@lorejoh12 - seems like a useful ask. What is your though about this?

@betrue-final-final FYI...

[2018-04-16 18:58] trevonmckay commented on #4558
Hi @KevinTCoughlin I think the interface is what is causing the tslint **strictNullChecks** error.

I notice the interface is written as
``getSelectedIndices?(): number[]; // TODO make non-optional on next breaking change``

but the actual implementation is
``getSelectedIndices(): number[]``

[2018-04-16 18:59] aditima commented on #3552
This is a bug we should fix. @joschect - could you please help?

[2018-04-16 18:59] jordandrako commented on #3552
To add some detail, each persona in the picker can be focused and deleted with the backspace key, but since the close button is a button, it should be focusable.

[2018-04-16 19:01] aditima commented on #3593
@dzearing @betrue-final-final @Jahnp - new component request.

[2018-04-16 19:05] melvsparks commented on #3410
@jordandrako Can you keep me up to date on when the work on this starts? We need this functionality for our OWA Calendar React release?

[2018-04-16 19:12] KevinTCoughlin commented on #4549
@batrived for the existing `Dropdown` support, is this by using a custom option item renderer or is there a prop that does it? A Codepen or LoC link for the behavior would be awesome so I can figure out how to best tackle this. Thank you!

[2018-04-16 19:48] jordandrako commented on #4564
This sounds resolved and should have been an issue opened in fabric-js https://github.com/OfficeDev/office-ui-fabric-js/issues

[2018-04-16 19:48] #4564 closed

[2018-04-16 20:30] KevinTCoughlin commented on #4549
Related https://github.com/OfficeDev/office-ui-fabric-react/issues/4455

[2018-04-16 21:45] KevinTCoughlin commented on #4191
@AkshanshSrivastava03 is this still an issue? In testing this today, focus order seems to be:

["a", "b", "X (close cross)"]

https://s.codepen.io/AkshanshSrivastava03/debug/mXZpwp/DqADdEOJEXwA

Once a choice group item is selected UP/DOWN is required to toggle the selection similar to a standard radio group.

[2018-04-16 21:51] trevonmckay commented on #4556
Thanks @KevinTCoughlin for your speedy resolution on this.

[2018-04-16 21:54] daweffe opened #4571 "[Accessibility][DocumentCard] IDocumentCard needs to support .focus()"
### Bug Report

- __Package version(s)__: 5.54.0
- __Browser and OS versions__: all

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No
Requested priority: Normal

Products/sites affected: Wasabi
#### Describe the issue:

I need to be able to set focus on a the IDocumentCard object returned by the componentRef callback on DocumentCard

[2018-04-16 21:57] KevinTCoughlin commented on #4514
@lafe it looks to be failing during TSLint via the Travis CI log:

[code]

So if you change the quotemarks from double to single it should pass. Hope that helps!

[2018-04-16 22:05] lynamemi commented on #4533
ChoiceGroup: https://github.com/OfficeDev/office-ui-fabric-react/pull/4572

[2018-04-16 22:07] lynamemi commented on #2459
Since this is being tracked here: https://github.com/OfficeDev/office-ui-fabric-react/issues/3621, I'll close this issue.

Here is the PR that will fix this: https://github.com/OfficeDev/office-ui-fabric-react/pull/4572

[2018-04-16 22:07] #2459 closed

[2018-04-16 22:56] oengusmacinog opened #4575 "Nav component performing slowly (bad implementation)"
### Bug Report

- __Package version(s)__: v5.82.1
- __Browser and OS versions__: All

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Not now

Requested priority: Normal

#### Describe the issue:

Nav component performing slowly.

#### Actual behavior:

The mergeStyles function `getClassNames` being called multiple times in private me

[2018-04-16 23:10] KevinTCoughlin commented on #4432
I wonder if this happens because only the content of the node which renders the option text is changing with UP/DOWN vs. when selected via mouse the outer component re-renders as well as that node's content changing so Narrator picks up on it.

[2018-04-16 23:24] ecraig12345 commented on #4432
Forgot to mention before, I suspect this may be a regression--we've used Fabric dropdowns in various features, and if this issue had always existed, I would have expected it to get caught while we were testing accessibility for some previous feature. So it may be helpful to look through the version history.

[2018-04-16 23:55] oengusmacinog commented on #3423
@aditima Still present in Davids Codepen using 5.82.1, so no.

[2018-04-17 05:35] dzearing commented on #4575
1. The Nav is one component, makes no pure component optimizations. Therefore, it renders ever individual link EVERYTIME anything changes in it.

2. When it was converted to use js styling, one single function (getStyles) was created to create all of these styles, and it was called in 5 different places in the function render path, including the map (getStyles evaluates on every individual item.)

[2018-04-17 05:59] manasark commented on #2228
Any update on this bug? We are using the dropdown component in many UI pages. Fixing this issue would improve the readability for the user.

**Package version(s)**: (5.64)
**Browser**: All browsers
**OS versions**: Windows 10

[2018-04-17 07:58] manasark opened #4581 "INavLink iconClassName property is not reflected in the UI"
### Bug Report

- __Package version(s)__: (5.64.1)
- __Browser and OS versions__: (All browsers and Windows 10)

#### Priorities and help requested (not applicable if asking question):

Requested priority: ( High )

Products/sites affected: (IRIS Studio)

#### Describe the issue:

We are using an INavLink component which has an iconClassName (Classname to apply to the icon link) property to render

[2018-04-17 10:36] MirandaGe opened #4582 "Hover card should set focus to it self after card is opened."
### Bug Report

- __Package version(s)__: recent
- __Browser and OS versions__: all

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? If I have time...

Requested priority: Normal

Products/sites affected: SharePoint onprem People web part

#### Expected behavior:

After hover card is opened by hover/click, I expect the focus should go

[2018-04-17 10:59] petercutting opened #4583 "actionButton onClick fires for every row in DetailsList at initialisation"
I have put an actionButton (or any Button) in each row of a DetailsList. The Buttons appear correctly, one on each row.

Each button's onClick event seems to be called spuriously when the DetailsList is initialised. I get one onClick event for each row in the list.

[code]

[2018-04-17 11:26] Ridlsan opened #4584 "Remove ms-Fabric from body!"
Hello, just noticed that Fabric now adds class "ms-Fabric" to body. I dont want styles and fonts of Fabric on my Sharepoint sites.
I think u should not do that. Remove it or make some option to disable it behavior. I want this style only on my component divs.

[2018-04-17 14:36] blrchen commented on #1315
So what is the suggested way to use fabric react nav and react-router together?

[2018-04-17 16:13] KevinTCoughlin commented on #4581
Hey @manasark, you're right. It looks like we used to add `iconClassName` to the`<Icon/>` component, but since then we've refactored the nav links with icons to extend from `<ActionButton/>` and haven't carried over the class name property. Investigating a fix / workaround now.

https://github.com/OfficeDev/office-ui-fabric-react/blob/5.0/packages/office-ui-fabric-react/src/components/Nav/Nav.tsx#

[2018-04-17 16:35] KevinTCoughlin commented on #4581
@manasark would applying the class name to the icon link `<a ...>` be sufficient for you to target the inner icon `<i>`? I have a patch that would do that, but then I wonder if the property name is misleading as it seems to imply its targeting the icon directly. It looks like that's what it used to do. Currently, it doesn't seem like there's another way to apply a custom class to that `<ActionButt

[2018-04-17 16:40] KevinTCoughlin commented on #4581
The least invasive change would be this, but again I think the property name may be misleading:

https://github.com/OfficeDev/office-ui-fabric-react/compare/master...KevinTCoughlin:keco/nav-iconClassName

Seems to have been broken for a bit. Thanks for the report 👍.

[2018-04-17 16:51] betrue-final-final commented on #3470
@veloiya, can you provide a screenshot so we can better assess this?

[2018-04-17 17:37] CDoughty08 commented on #3458
Thanks, it seems the the wiki has come quite a ways since November, looks like exactly what I was looking for!

[2018-04-17 17:53] KevinTCoughlin commented on #4582
@MirandaGe I think I have a fix that will enable the behavior you're looking for.

[2018-04-17 19:43] aditima commented on #4372
Right, it should be fixed by https://github.com/OfficeDev/office-ui-fabric-react/pull/4487 . Closing this now. Please reopen if you see more issues here.

[2018-04-17 19:43] #4372 closed

[2018-04-17 22:26] cordasfilip opened #4591 "Virtual scroll with groups"
### Bug Report

- __Package version(s)__:  9.6.0
- __Browser and OS versions__: Edge Win 10
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Low

Products/sites affected: https://developer.microsoft.com/en-us/fabric#/components/detailslist

#### Describe the issue:

I have been looking at DetailsList demo web si

[2018-04-17 22:34] #4556 closed

[2018-04-18 14:25] gitfish commented on #4289
Are you guys implementing extended year selection (available in the non-react version of fabric - and probably alluded to somewhere above)? i.e. a user clicks on the year and they get the lovely year navigation.

[2018-04-18 17:06] betrue-final-final commented on #4289
Hey @gitfish , why don't you log a fresh issue so we can track it?

[2018-04-18 17:14] dzearing commented on #3603
If you search `ButtonHTMLAttributes` in this:

https://unpkg.com/@types/react@16.3.8/index.d.ts

It is definitely there. @SGSmyth can you check your version?

[2018-04-18 17:17] dzearing commented on #3603
I wonder if we should just make `@types/react` peer deps.

[2018-04-18 17:28] AlexVSTS opened #4599 "DatePicker control state should be resetable"
### Bug Report
- __Package version(s)__: 5.79.1(and master also)
#### Priorities and help requested (not applicable if asking question):
Are you willing to submit a PR to fix? (Yes)
Requested priority: (Normal)
#### Describe the issue:

#### Actual behavior:

- Create empty DatePicker control
- User enters an invalid value (say "aaa") and then focus'es away
- DatePicker displays an error message t

[2018-04-18 17:55] lorejoh12 commented on #4599
Did you try changing the Key of the DatePicker while rerendering it? React should only keep the state of the component if the key stayed the same, so that might be a potential workaround also.

That being said I have nothing against adding a property for setting the state of the react component during a render to have the error state reset until the next validate step, if you need it.

[2018-04-18 17:57] AlexVSTS commented on #4599
Yes, changing the key was considered as a solution, but tracking / managing that would be somewhat difficult and hack-ish so that was decided as not an acceptable solution though it will work indeed.

[2018-04-18 18:15] michaelangotti commented on #3600
This sounds like a reasonable ask. @betrue-final-final What do you think?

[2018-04-18 18:17] michaelangotti commented on #3601
@nayomitchell Is this still an issue? If so, we will investigate further.

[2018-04-18 18:32] michaelangotti commented on #3621
@lynamemi Make sure to close this manually once PR #4752 is merged. Thanks!

[2018-04-18 18:39] michaelangotti commented on #3627
This looks like a browser bug to us. If this is blocking you, please open a new issue.

[2018-04-18 18:39] #3627 closed

[2018-04-18 18:43] michaelangotti commented on #3630
@micahgodbolt Checking back on this one. Is there any update on whether this function will be available in the new CommanBar?

[2018-04-18 18:45] michaelangotti commented on #3634
@betrue-final-final Can you comment on this one?

[2018-04-18 18:55] jordandrako commented on #3635
This repo isn't *only* the office-ui-fabric-react npm package source code, it's all the peer packages source code such as merge-styles, etc. You may want to try using the packages/office-ui-fabric-react directory. But, this repo uses [@microsoft/rush](https://www.npmjs.com/package/@microsoft/rush) to build all the necessary packages to work locally, so I'm not sure if this method will work.

Also,

[2018-04-18 18:55] #3635 closed

[2018-04-18 20:07] #3621 closed

[2018-04-18 20:45] elliottsj opened #4601 "Lists rendered inside a ScrollablePane fail to render pages as they are scrolled into view"
### Bug Report

- __Package version(s)__: 5.82.4
- __Browser and OS versions__: macOS 10.13.4, Chrome 65

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: onedrive.live.com

#### Describe the issue:

A bug was introduced in #4055 which prevents a virtualized List rendered inside

[2018-04-18 21:11] #4551 closed

[2018-04-18 21:27] cskr11 opened #4605 "office Fabric React - Grid layout"
Hi, I have been struggling with getting grid layout to work in office fabric react.
The div(s) are not rendered adjacent to one another.
I am importing fabric css (I don't know how other way to refer) in my fabriccomponent.js like
import 'office-ui-fabric-react/dist/css/fabric.css';

The component is defined like this:

[code]
Could someone please help in this regard?

Also, Can we use Office Fabr

[2018-04-18 21:29] aappddeevv opened #4606 "memoize: add the ability to timeout or manually flush internal cache"
under office-ui-fabric-react/packages/utilities.

Provide the ability to manually flush the cache or timeout the cache. It already has a counter autoflush, but a timed or manual flush would be very helpful when using this function.

[2018-04-18 21:41] aappddeevv commented on #4234
I'm hoping PR #4602 fixes this.

[2018-04-19 01:53] gitfish opened #4610 "Feature Request: Provide loverly extended year selection for the Calendar component"
Hi,

It'd be loverly (as a start) to replicate the extended year selection available in the non-React version of fabric (see attached images) to the React version of fabric.

![calendar-year-selection](https://user-images.githubusercontent.com/610312/38966975-3b7609ae-43c8-11e8-98f6-1c2e25fd3fbc.png)
![calendar-year-selection-open](https://user-images.githubusercontent.com/610312/38966976-3bb1019e

[2018-04-19 02:14] nguyentoantuit opened #4611 "New control Rich Text Editor"
Hi all,
Currently, I am using office ui fabric react to build our system which also includes sending email.
It is handy to support rich text editor control similar to React Rich Text Editor (https://github.com/sstur/react-rte). I don't want to use React Rich Text Editor plugin because it break the current UI of fabric.
So my question is do you have any plan to support this control? Otherwise I wil

[2018-04-19 07:32] Pajn commented on #4504
This is in unit tests so it is unrelated to Webpack or `ts-loader`. However I guess most of what you said can be read anyway by just replacing `ts-loader` with `ts-jest`.

I don't want to have `isolatedModules: true` just to be able to unit test the project. The project works fine without it and I have never before seen a module that requires it just to be able to write unit tests.

[2018-04-19 09:38] Pajn opened #4612 "TooltipHost does not accept the props it says it does"
### Bug Report

- __Package version(s)__: latest (can be seen i master as well)
- __Browser and OS versions__: N/A

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Only if that would make time to a fix in a release quick

Requested priority: Normal

Products/sites affected: ?

#### Describe the issue:

TooltipHost have types specifyin

[2018-04-19 10:42] Pajn commented on #4612
This seems to be quite a common thing throughout the library, now I had the same problem with PivotItem.

If this is a bug that affects all or near all components of the library I would state that this is prio High instead.

[2018-04-19 13:01] Nimelrian opened #4613 "React.StrictMode compliance"
**Maintainer note: see [this GitHub project](https://github.com/microsoft/fluentui/projects/35) for progress on strict mode work, which will be released with the [`@fluentui/react` version 8 release](https://github.com/microsoft/fluentui/wiki/Version-8:-Release-notes).**

---

### Bug Report

- __Package version(s)__:
  - office-ui-fabric-react 5.83.0
  - react 16.3.1

#### Priorities and help req

[2018-04-19 14:34] #2837 closed

[2018-04-19 15:29] nigelskeels commented on #4002
Can you please provide examples that don't use typescript.
It's an unnecessary hurdle to using MS Fabric with react.

[2018-04-19 15:31] nigelskeels opened #4616 "Please provide non typescript examples for office-ui-fabric-react"
Thanks for your excellent Fabric UI but can you please provide examples that don't use Typescript.
It's an unnecessary hurdle to using MS Fabric with react.

[2018-04-19 15:38] betrue-final-final opened #4617 "Update Fabric Design XD toolkit to 4.0.2"
[OfficeUIFabric_v4.0.2.zip](https://github.com/OfficeDev/office-ui-fabric-react/files/1928772/OfficeUIFabric_v4.0.2.zip)

[2018-04-19 16:11] KevinTCoughlin commented on #3636
Working on a fix. Also repros in FF `60.0b12 (64-bit)`, but not Chrome.

[2018-04-19 16:26] nigelskeels commented on #4616
Hi Joshua,

Its the people picker that I am having particular trouble with...

https://developer.microsoft.com/en-us/fabric#/components/peoplepicker#Implementation

Thank you,

[2018-04-19 17:09] jordandrako commented on #4616
I've been looking into switch our documentation code examples to CodePen embeds which would enable a sort of interactive playground. We can possibly look into doing examples in typescript and vanilla js. @dzearing thoughts?

[2018-04-19 17:30] Jahnp commented on #4610
Thanks for suggesting this, @gitfish . This seems like essential functionality--it's a huge pain to navigate large year ranges otherwise. @lorejoh12 , is this functionality on your team's radar? Feels like a super valuable scenario for Calendar.

[2018-04-19 17:39] jordandrako commented on #4601
Duplicated of #4204

[2018-04-19 17:39] #4601 closed

[2018-04-19 17:47] michaelangotti commented on #4591
@cordasfilip This issue is already on our radar and we are looking into fixing performance issues within the DetailsList.

[2018-04-19 17:47] #4591 closed

[2018-04-19 17:48] edsirko opened #4619 "DatePicker: Keyboard focus is not visible on the "Go to Today," "Next month" and "Previous month" buttons"
### Bug Report

- __Package version(s)__: Repro'd in 5.79.1 and 5.46.0, but NOT in 5.39.1
- __Browser and OS versions__: Chrome, probably all browsers

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: (High)

Products/sites affected: (VSTS)

#### Describe the issue:

When keyboard-navigating the DatePicker, if

[2018-04-19 17:51] michaelangotti commented on #4583
It looks like this issue has been answered/resolved. Closing this issue.

[2018-04-19 17:51] #4583 closed

[2018-04-19 17:51] jordandrako commented on #4583
@a-tarasyuk has the right fix!

[2018-04-19 17:54] edsirko opened #4620 "DatePicker: pressing space/Enter on Previous/Next month/year arrow buttons goes 2 months at a time"
### Bug Report

- __Package version(s)__: 5.79.1 and 5.46.0, but not 5.39.1
- __Browser and OS versions__: Chrome, probably all browsers

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: (Normal)

Products/sites affected: (VSTS)

#### Describe the issue:

When keyboard navigating through the DatePicker, if you

[2018-04-19 17:55] jordandrako commented on #4581
@oengusmacinog for visibility. This may be related to the recent mergeStyles conversion and we're investigating a refactor anyway

[2018-04-19 18:05] jordandrako commented on #4565
@lynamemi Could you look at this or delegate to the right person?

[2018-04-19 18:58] sumboxcar182 opened #4621 "Documentation: Layer code sample is not showing correct code sample"
Hello,

I was looking through the documentation and found that the code sample for the section "Using Customizer to control the default layer behavior" under the Layer component does not have the correct code. It is currently showing the previous sections's code.

The url where this is occurring is  [here](https://developer.microsoft.com/en-us/fabric#/components/layer) and if there's any other inf

[2018-04-19 20:48] jordandrako commented on #3298
@micahgodbolt This seems to be as easy as removing height from the root element and putting it on the `.ms-Dropdown-title` element, possibly via a prop. Any issue with me implementing that fix or should I hold off touching Dropdown?

[2018-04-19 20:54] abettadapur opened #4623 "DatePicker steals focus on dismiss"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__:  all

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low)  Normal

#### Describe the issue:
1. Have a form with multiple inputs
2. Open the datepicker calendar
3. Change your mind and move to edit

[2018-04-19 20:54] abettadapur commented on #4623
@lorejoh12 This seems like behavior that might have looked like a good idea, but is probably undesired

[2018-04-19 20:57] abettadapur commented on #4623
Introduced by Issue #1266

[2018-04-19 21:43] dzearing commented on #4599
@AlexVSTS could you use the DatePicker as a controlled component?

That is, pass in the date through `value`. And in `onSelectDate`, push it back to a container state. On reset, clear the state.

Example:

https://codepen.io/dzearing/pen/vjEzMd

[2018-04-19 21:44] dzearing commented on #4599
I think it's also possible for us to add a `reset` method to `IDatePicker` to provide an imperative method to use.

[2018-04-19 21:47] KevinTCoughlin commented on #3636
OK, the problem here is a difference between WebKit and non-WebKit browsers. Non-WebKit browsers expect `<button>` nodes to only contain text. Because of this the event isn't delegated to its children.

So in the case of the breadcrumb component rendering a `<Link/>` and the `<Link/>` rendering as a button when the item's `href` is absent we run into this browser inconsistency. The `<button/>`'s i

[2018-04-19 21:50] micahgodbolt commented on #3298
if it's just a specificity issue combine your classname with the provided classname like

.my-class-dropdown.ms-Dropdown{
  height: 10px;
}

this is why we try to make all selectors 1 classname only, so it's easy to override.

[2018-04-19 21:53] KevinTCoughlin commented on #3599
Thanks for the report @aakash-johari. I'm taking a look at this now.

[2018-04-19 21:55] KevinTCoughlin commented on #4581
Ya, it looks like it got lost in a refactor from what I could tell. @oengusmacinog any opinion on a solution here? I have a pretty good idea of how to get a class name onto either the `<a/>` or the inner `<i/>`, but if we went with anchor the prop should probably be renamed.

[2018-04-19 22:12] oengusmacinog commented on #4581
I think the best way to do this would be to ass the className prop to IIconProps, and implement it with merge styles - this component is currently set up with Icon.classNames.ts - and then you could pass the classname to the link icon like so:

[code]

[2018-04-19 22:25] dzearing commented on #4613
@Nimelrian Thank you. We will absolutely be cleaning these up. Most of the string refs have been converted, but we have some leftovers.

I think the best way for us to address this is to turn on StrictMode in our ssr test suite, which will fail if any warnings are generated. Then make sure that passwes.

[2018-04-19 22:36] #3769 closed

[2018-04-19 22:41] oengusmacinog commented on #3602
@gscottolson I am not sure I follow completely but, if you want a modalHost that functions like LayerHost, then use layer.  Modal is a component designed to be fixed in the view, not to a component.  Layer is the component you want to use.

[2018-04-19 22:52] dzearing commented on #3603
Confirmed this works. Closing bug.

[2018-04-19 22:52] #3603 closed

[2018-04-19 22:53] KevinTCoughlin commented on #3599
@aakash-johari would a solution similar to [this Codepen](https://codepen.io/kevintcoughlin/pen/OZPYKP?editors=1010) work for you? Not sure we need to change anything in the library to achieve what you need.

Basically, only toggle the state of the Callout when blur is called on the search input & the click occurs outside.

[2018-04-19 22:59] KevinTCoughlin commented on #4191
@AkshanshSrivastava03, I'm going to close as this seems to not be an issue (provided an example). Please re-open if I misunderstood so that we can address properly. Thanks for using the library and for your feedback :).

[2018-04-19 22:59] #4191 closed

[2018-04-19 23:00] KevinTCoughlin commented on #4401
@daweffe, I'm going to close this for now since this seems possible without a library change like in the example above. Please re-open if that's not the case. Thank you!

[2018-04-19 23:00] #4401 closed

[2018-04-19 23:00] #3224 closed

[2018-04-19 23:13] KevinTCoughlin commented on #3484
@mdmdakbar, closing this as it should be fixed by https://github.com/OfficeDev/office-ui-fabric-react/pull/4487 and here's a related issue https://github.com/OfficeDev/office-ui-fabric-react/issues/4372

Please re-open if that's not the case. Thank you for the report!

[2018-04-19 23:13] #3484 closed

[2018-04-19 23:15] KevinTCoughlin commented on #3246
Pinging @akashperfect once more because I'm less familiar with LCT. Given the ARIA spec the current attributes seem correct. Would like to know more and how to fix if that's not the case.

[2018-04-20 01:51] #4349 closed

[2018-04-20 01:53] #3634 closed

[2018-04-20 06:28] Nimelrian commented on #4613
Thanks for the confirmation that this is being handled already. I couldn't find any issue concerning the transition/refactoring/warnings so I thought it'd be a good idea to ask about it.

I'll see if I can be of any help for a smooth transition, if both, my time and employer allow for it.

[2018-04-20 06:43] lrecknagel opened #4630 "[DatePicker] controlled component"
_I am not sure if this is a bug or a feature request so i explain it with the bug template anyway_

### Bug Report

- __Package version(s)__: tested >= 5.3.0
- __Browser and OS versions__: MacOS Chrome 65, (I think also all others)

#### Describe the issue:

When i pass a value to the DatePicker component it renders correctly. When I then click on the DatePicker to select a other date and its not

[2018-04-20 13:45] Basek commented on #4383
any updates?

[2018-04-20 14:01] KyleFoleyImajion opened #4632 "Module not found: Can't resolve '@uifabric/utilities/lib/inputMask'"
### Bug Report

- __Package version(s)__: 5.85.0
- __Browser and OS versions__: Firefox v. 59.0.2, Windows 10 v. 1709

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Blocking

#### Describe the issue:
The file @uifabric/utilities/lib/inputMask is not in node_modules. Will not let my app start.
```Can't resolve

[2018-04-20 15:14] lynamemi commented on #2228
@artxach @manasark We investigated this bug and need more information to repro. Is it the width of the dropdown input field or the dropdown callout that you want to snap to the longest option? We are not seeing either width change based on which option is selected. The callout always snaps to the width of the input unless the 'dropdownWidth' prop is set. For really long options, the value can be r

[2018-04-20 15:40] jonathanhotono commented on #4632
Got the same issue here with spfx and same version. I had to downgrade the package into specific version before 5.85.0 to get this working..

[2018-04-20 16:09] wygoodin commented on #4632
Same issue here. Would it be an option for office fabric to depend on specific versions to avoid this happening again?

[2018-04-20 17:48] KevinTCoughlin commented on #4581
Thanks for the pointer @oengusmacinog, it does look like @manasark can do what they need to do without any library change. Here's a Codepen demonstrating the above: https://codepen.io/kevintcoughlin/pen/aGoGvm?editors=1010

Perhaps we should remove `iconClassName` from `Nav.types.ts` since its unused. Not sure if its worth marking as deprecated for some time.

[2018-04-20 19:56] dzearing commented on #4632
Investigating what happened. Will resolve ASAP.

[2018-04-20 20:29] #4632 closed

[2018-04-20 20:32] lambertwang commented on #4632
A new build was just queued. Once that completes, a new version of @uifabric/utilities should be available which should have inputMask.ts

[2018-04-20 20:36] thelok opened #4642 "Picker: add defaultValue"
It would be nice if the Picker could be given an initial value to set for the input text box as a raw string. My use case is that I want to load a form with a pre-defined raw text value. It looks like the only way to set any default value is to use `defaultSelectedItems` or `selectedItems` but I wish to allow the user to modify the text string so that my suggestions can be populated. However, the

[2018-04-20 21:05] oengusmacinog commented on #3423
Looks like the FocusTrapZone blocks clicks outside the Modal of the Dialog (unless you set a prop), then you click "open panel" and it opens but the FocusTrapZone of Dialog/Modal is still active, blocking the newly opened Panel's close button (not just on keyboard this breaks using mouse too).

Still working on a possible solution, I am open to ideas.

[2018-04-20 21:14] dagoff commented on #3423
In

office-ui-fabric-react<https://github.com/OfficeDev/office-ui-fabric-react>/packages<https://github.com/OfficeDev/office-ui-fabric-react/tree/master/packages>/office-ui-fabric-react<https://github.com/OfficeDev/office-ui-fabric-react/tree/master/packages/office-ui-fabric-react>/src<https://github.com/OfficeDev/office-ui-fabric-react/tree/master/packages/office-ui-fabric-react/src>/components<h

[2018-04-20 21:31] oengusmacinog commented on #3423
Ill also not Panel then Dialog stacks correctly, only in the order Dialog then Panel does it block.

[2018-04-20 21:55] lorejoh12 commented on #4415
adding this issue to the triage list for next week, will update with expected timeline

[2018-04-20 22:50] lambertwang commented on #4632
We're having some issues publishing the new version of `@uifabric/utilities`, so the best option right now is to use `office-ui-fabric-react@5.85.0`.

[2018-04-21 00:33] panigrah opened #4644 "[Drag Drop] how to drag from one list and drop in another"
Drag drop documentation is not very detail - so I am trying to figure out how it works using the example. I need help.

In the example published - the dragged item is being stored as a global / local variable. This works if the drag and drop is on the same component.

However if the drag and drop have to work across different components - what is the best way that the onDrop event can get the drag

[2018-04-21 03:36] panigrah commented on #4644
Approach 1
1. push selections to a store (redux?) on the
`onDragStart() { dispatch({type: 'DRAG_START', payload: selection}) }`
2. `onDrop() { get the selections from redux store }` and process

Approach 2 - only works if there is one element being dragged. in the DetailsList set the onRenderRow
`onRenderRow={ (props) => <DetailsRow id={someuniqueid from props.item} ...props /> }`

then in the `on

[2018-04-21 17:56] dzearing commented on #4621
Thanks for letting us know! This has been resolved in code and will be deployed on the next site update.

[2018-04-21 17:56] #4621 closed

[2018-04-22 03:29] dzearing commented on #4019
This is low hanging fruit and should be fixed.

[2018-04-22 03:30] dzearing commented on #4328
This has been merged. Please see the `MaskedTextField` commit referenced above.

[2018-04-22 03:30] #4328 closed

[2018-04-22 03:32] dzearing commented on #4001
You can arrow into cell content using the right arrow, but other than that, you would have to do custom row rendering.

[2018-04-22 03:32] #4001 closed

[2018-04-22 03:34] dzearing commented on #819
We should fix this!

[2018-04-22 23:13] dzearing commented on #4584
@Ridlsan I think what you're saying makes sense. We've adjusted the focus helper to avoid adding ms-Fabric to the body, and instead to add a more specific one that shouldn't overlap with fabric core global styles.

[2018-04-22 23:13] dzearing commented on #4584
(This will be published tonight.)

[2018-04-23 06:29] #4581 closed

[2018-04-23 07:43] Ridlsan commented on #4584
Thanks a lot!

[2018-04-23 13:12] Anschur opened #4649 "Modal focus trap gets broken by having an iframe as the last element in it"
### Bug Report

- __Package version(s)__:
	- office-ui-fabric-react: "5.49.3"
	- react: "15.4.2"

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites affected:
- SP Home [Search](https://microsoft.sharepoint.com/_layouts/15/sharepoint.aspx?q=Fabric&v=search%2Ffiles) (Modal used for the preview

[2018-04-23 13:54] dzearing commented on #4047
With the recent optimiation to mergestyles, is it possible to try the repro again? Is this better? I set up a test and am not seeing a major initial impact any more.

[2018-04-23 14:11] petercutting opened #4650 "how to do livesearch ?"
I have been unable to find a suitable Livesearch component. I want to be able to type into a field and get a dropdown of suggestions (from API) which I can arrow down into, choose a suggestion with Return or Tab keys etc (ie keyboard navigation).

I have some code that hacks together ContextualMenu and TextField which vaguely works, but I cannot see how to arrow down from the TextField into the Co

[2018-04-23 15:59] lijunle opened #4651 "Some components are exporting unrelated things and expanding the consumer bundle size."
When I am investigating the bundle size issue, I found that, the some components are exporting some unrelated things from its `index.ts` file. This is causing the bundle size expanding of my final bundle - I am not using the unrelated thing.

For example,

`Selection` exports `SelectionZone`

https://github.com/OfficeDev/office-ui-fabric-react/blob/6909a93aa53c4d4699eb0be03d25a37555f114a2/packages

[2018-04-23 16:44] lambertwang commented on #4632
The package updates suceeded. Please use `office-ui-fabric-react@5.86.0` and ensure that your version of `@uifabric/utilities` is at least `5.26.0`.

[2018-04-23 17:10] abettadapur opened #4652 "TextField: IE11 placeholder is not shown when the TextField is focused"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: IE11

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) Normal

#### Describe the issue:
IE11 does not show the TextField placeholder when then TextField is focused. All other browsers continue

[2018-04-23 17:35] KevinTCoughlin commented on #4620
:wave:,

I ran `git bisect` and it looks like this commit may have caused the regression https://github.com/OfficeDev/office-ui-fabric-react/commit/fd2206f8041ba6aca3b61a67a8552652e67d4954

The button click handler seems to be firing twice with keyboard input hence the 2x moth or year change as reported above. We'll still want buttons for accessibility reasons, but need to circumvent that 2x behav

[2018-04-23 17:36] KevinTCoughlin commented on #4619
Can confirm repro on Fabric example site. Might be related to the same commit as https://github.com/OfficeDev/office-ui-fabric-react/issues/4620.

Thanks again for the report @edsirko. We'll get this fixed.

[2018-04-23 18:07] Jahnp commented on #3678
@manishgarg1 , this sounds highly related to #4605 . Would you be able to take a look at this as well if you're doing an investigation for that one? Thanks!

[2018-04-23 18:12] aditima commented on #3686
@ssingh28 - You should be able to use the onDismissed() callback on the Panel component to set focus the way your app needs.

[2018-04-23 18:12] #3686 closed

[2018-04-23 18:26] michaelangotti commented on #3699
@cschlechty Can you take a look at this issue and comment?

[2018-04-23 18:30] Jahnp commented on #3706
@manishgarg1 this looks like an issue within SharePoint, definitely Fabric. I'm going to go ahead and close this, but do you know how/if @vamsi981 would be able to achieve this? Or if there's a better place to log issues of this kind?

[2018-04-23 18:30] #3706 closed

[2018-04-23 18:33] michaelangotti commented on #3715
@betrue-final-final Do you know if this is something we want to support? We aren't sure if this would be expected behavior for this kind of navigation.

[2018-04-23 18:35] michaelangotti commented on #3716
@jjohnsen Are you still willing to submit a PR for this? :)

[2018-04-23 18:42] Jahnp commented on #3722
@joschect gotcha--thanks for the detail, makes perfect sense. Just checking, did you have a chance to look into adding this functionality? Thanks!

[2018-04-23 18:44] michaelangotti commented on #3724
@dzearing Do we think this is something we still want to do?

[2018-04-23 18:47] Jahnp commented on #3725
@jansomers can you confirm if you're still seeing this with the latest packages (Fabric React 5.87.0 and TypeScript 2.8 as of this writing)?

[2018-04-23 18:47] Javier-Rotelli opened #4653 "ChoiceGroup mutates its props."
### Bug Report

- __Package version(s)__: 5.56.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: High

#### Describe the issue:

when I pass a ChoiceGroup an array of props as its options it mutates the array, which is something that shouldn't be happening.
https://reactjs.org/docs/components-and-props.html#p

[2018-04-23 18:57] michaelangotti commented on #3755
It looks like this issue has been answered/resolved. Closing this issue.

[2018-04-23 18:57] #3755 closed

[2018-04-23 19:33] jordandrako commented on #3607
@dzearing Good point. Should I add that utility anyway? @aditima what do you suggest here?

[2018-04-23 19:38] jordandrako commented on #4620
@KevinTCoughlin Thanks for finding the issue. Feel free to take it.

[2018-04-23 19:41] pschaeflein opened #4654 "Add card for SharePoint site"
Provide a card for a SharePoint site as shown on the SharePoint home page (<tenant>.sharepoint.com/_layouts/15/sharepoint.aspx)

![image](https://user-images.githubusercontent.com/8008013/39149357-67e5800c-4704-11e8-9aff-0c54b0b741ad.png)

[2018-04-23 19:43] pschaeflein opened #4655 "Add a card for SharePoint News item"
Provide a card for a SharePoint news as shown on the SharePoint home page (.sharepoint.com/_layouts/15/sharepoint.aspx)

![image](https://user-images.githubusercontent.com/8008013/39149439-a93f01ea-4704-11e8-9f2f-e58bd6192afa.png)

[2018-04-23 20:30] KevinTCoughlin commented on #3697
Closing as given the spec this should be correct, i.e. not having to set them since all nodes are present in the DOM. If that's not happening then as @yaananth mentioned it is likely a user agent bug. If the content in the PivotBar is dynamic i.e. a virtualized list then we may need to tackle this separately.

Feel free to re-open if you feel strongly that this is a gap in the library.

[2018-04-23 20:30] #3697 closed

[2018-04-23 20:33] KevinTCoughlin commented on #3599
Closing as I believe this can be fixed w/o a change in the library. The culprit seems to be the DOM structure on the website facing the bug (VSTS). I was able to write a similar working UI w/ slightly different DOM. If you feel like this is still a bug please re-open and provide a Codepen sample with the DOM structure you believe should be supported and we'll re-assess.

As always thank you for th

[2018-04-23 20:33] #3599 closed

[2018-04-23 20:35] KevinTCoughlin commented on #3246
Closing since the current implementation follows ARIA spec as mentioned above. The issue seems to reside on the tool's side. Please re-open if you believe that to be incorrect with a bit more info so that we can re-assess and fix properly. Thank you!

[2018-04-23 20:35] #3246 closed

[2018-04-23 22:01] lambertwang commented on #4655
Does a [DocumentCard](https://developer.microsoft.com/en-us/fabric#/components/documentcard) fit your needs?

[2018-04-23 23:33] KevinTCoughlin commented on #4654
Seems similar to `DocumentCard` except that there are multiple actions per entity which may violate the existing "Don't" blocks under Best Practices:

Definitely need Design to weigh-in here. My concern would be UX overload since that many actions result in a lot of truncated text making the card less actionable.

[2018-04-23 23:36] betrue-final-final commented on #3735
It should look like this:

![image](https://user-images.githubusercontent.com/20363037/39158367-836797a6-4714-11e8-82ec-5424e500cdb5.png)

[2018-04-23 23:45] oengusmacinog commented on #4383
@Basek we are planning to do this as a feature request, but as of right now there is no time frame.  Is this a blocking issue on a particular project?

[2018-04-24 00:03] oengusmacinog commented on #3732
It looks to me like @ThomasMichon 's PR remedied the problem, so I am going to go ahead and close this issue

[2018-04-24 00:03] #3732 closed

[2018-04-24 00:14] pschaeflein opened #4659 "Inconsistent brand icon names"
The name of the icon for OneDrive is different than other products:
- OutlookLogo
- SharePointLogo
- WordLogo

- OneDrive

[2018-04-24 00:15] pschaeflein commented on #4654
The component is obviously in use already. I was hoping to not re-create it.

[2018-04-24 00:16] pschaeflein commented on #4655
The component is obviously in use already. I was hoping to not re-create it.

[2018-04-24 03:26] #4300 closed

[2018-04-24 03:26] #3980 closed

[2018-04-24 09:13] manubamba commented on #3872
I have just started work on passing `styles` to choiceGroup. Hope to have a PR out soon.

[2018-04-24 10:15] Basek commented on #4383
It isn't blocking issue for now. We made a couple of crutches to cover it but it would be great to remove them and use native support. I will have some time soon and could try to implement it if you explain your vision of it.

[2018-04-24 15:06] betrue-final-final commented on #3715
Yes, it should do this. We'll want to check if there's a formal accessibility spec, and if not, make one so this is done right.

Rule of thumb for accessibility - Equity: If a sighted person gets visual information that helps them accomplish their task, then a non-sighted person needs an equivalent piece of information.

[2018-04-24 15:26] micahgodbolt commented on #3630
The new command bar uses a button as the overflow button/menu. So anything you can pass to button you can pass to menuButtonProps https://github.com/OfficeDev/office-ui-fabric-react/blob/6.0/packages/office-ui-fabric-react/src/components/CommandBar/CommandBar.types.ts#L47

And that certainly includes menuProps, which are all of the props button passes to the contextualMenu. You'd even be able to g

[2018-04-24 15:37] Jahnp commented on #4655
This usage is what the DocumentCard is meant for. Since the feature already exists, I'm going to go ahead and close this, unless there's some specific functionality you're looking for that DocumentCard doesn't provide today @pschaeflein . Thanks!

[2018-04-24 15:37] #4655 closed

[2018-04-24 15:39] KevinTCoughlin commented on #4619
It looks like this PR fixes the focus styles -- https://github.com/OfficeDev/office-ui-fabric-react/pull/4643

[2018-04-24 15:41] Jahnp commented on #4653
Thanks for reporting @Javier-Rotelli. It looks like you're willing to submit a PR to fix--did you have a solution in mind you'd want to share? @srideshpande as ChoiceGroup codeowner and @lynamemi as FYI having worked on ChoiceGroup recently.

[2018-04-24 15:43] Jahnp commented on #4653
Also @Javier-Rotelli, can you share why you feel this is a high priority? Is this affecting a project you're working on?

[2018-04-24 15:58] Jahnp commented on #4652
This is default browser behavior for `placeholder` in IE11. I'm pretty confident we don't want to do weird things to TextField to force UX consistency in this case. I'm going to go ahead and close unless you feel strongly about this @abettadapur.

[2018-04-24 15:58] #4652 closed

[2018-04-24 16:13] KevinTCoughlin commented on #4619
Closing as I can confirm there are focus styles in `master`. Thanks for the fix @lorejoh12!

[2018-04-24 16:13] #4619 closed

[2018-04-24 16:17] ThomasMichon opened #4663 "Breadcrumb throws Error when rendered with default props"
### Bug Report

For `office-ui-fabric-react@5.87.0`

#### Priorities and help requested (not applicable if asking question):

Priority: High

#### Describe the issue:

The `Breadcrumb` component throws an `Error` when rendered with its own default props.

If you pass an empty `items` array, then an error is thrown in `_validateProps`, because `overflowIndex > items.length - 1`, since `overflowInde

[2018-04-24 16:27] KevinTCoughlin commented on #4649
The tab experience on that page isn't clear to me, but have you tried setting the iframe's tabindex to `-1` if you want to avoid it tabbing? Maybe I'm not fully understanding the expected behavior here, if so my apologies.

[2018-04-24 16:36] Anschur commented on #4649
I DO want to have the iframe in the tab-order, so setting tabindex to -1 is not a solution. Normal behavior in a Modal is to have tab only move between the tab-targets that are inside the modal - and that is what I would like. But if the last element in the Modal is an iframe that is a tab-stop, tabbing will take you out of the modal and move on to tab-targets that are on the "command-bar" of the

[2018-04-24 17:07] KevinTCoughlin commented on #3716
@jjohnsen can you explain your use-case more? By setting `isRequired=true` it causes the DatePicker to require a date be selected to invoke the `onSelectDate` callback. If no date is selected i.e. `null` then it doesn't select the date because it is required. Instead it sets an error state. If you want to handle empty text input you can drop the `isRequired=true` and that will allow `null` values

[2018-04-24 17:10] ryhumble commented on #3690
@Jahnp , I don't have a codepen or anything, nor would I quickly be able to whip one up. Our QB currently has a couple hard dependencies on some other components/tech we're using.

As I mentioned earlier in the thread, our team builds internal-only tooling right now, so I don't have a public site for you to view either. I can sync with you offline about a quick demo, code walkthrough, etc. though.

[2018-04-24 18:03] abettadapur opened #4665 "Contextual Menu: onRender function is not of type IRenderFunction<IContextualMenuItem>"
The onRender function for context menu items should be passed the default render function, as is done in other parts of the Fabric codebase. Without this, it makes it difficult to customize the rendering of context menu items.

![image](https://user-images.githubusercontent.com/2415669/39205265-0606f2b6-47af-11e8-9d7e-ffac37995afe.png)

This should be of type IRenderFunction<IContextualMenuItem>

[2018-04-24 18:43] abettadapur commented on #4652
@Jahnp That's fine if its the default behavior (its bad behavior, but ok :) )

Thanks for investigating

[2018-04-24 20:45] jdrush89 commented on #4457
@joschect @michaelangotti Do you know which solution you prefer (either keeping the headers left aligned for check marks or passing hasCheckmarks to item.onRender)?  I think the second solution would look a little nicer but requires work from everyone already using a custom onRender.

[2018-04-24 22:28] oengusmacinog commented on #3707
@jspurlin there's a PR open now to allow native props all of the time now, but if it helps they actually are available now if you use the `doNotContainWithinFocusZone` and set it to true.

[2018-04-24 23:14] chrismohr opened #4669 "TextField: onRenderDescription is only invoked if description is present"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes,

Requested priority: Normal

Products/sites affected: Yammer

#### Describe the issue:

On the TextField component, the `onRenderDescription` function is *only* called and rendered if the `description` or `errorMessage` props are truthy.

Our objective is to display jsx elements as

[2018-04-25 07:53] manasark opened #4672 "DetailsList isResizable column option doesn't work"
### Bug Report

- __Package version(s)__: (5.64.1)
- __Browser and OS versions__: (All browsers and Windows 10)

#### Priorities and help requested (not applicable if asking question):

Requested priority: (High)

Products/sites affected: (IRIS Studio)

#### Describe the issue:

 isResizable column option in DetailsList  doesn't work.

#### Actual behavior:

We cannot resize the column header.

##

[2018-04-25 07:56] #3888 closed

[2018-04-25 07:57] akashperfect commented on #3888
The given suggestion resolved the issue, what seems to have regressed is because of React update

[2018-04-25 10:03] NielZeeman commented on #4329
@dzearing  && @cschleiden  Is there anything else I can try ?

[2018-04-25 10:44] twarzo opened #4673 "ToolTip doesn't go away while scrolling and not moving the cursor."
### Bug Report
- __Browser and OS versions__:
IE and Windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix?
No

Requested priority:
Normal

Products/sites affected:
VSTS

#### Describe the issue:

ToolTip doesn't go away while scrolling and not moving the cursor.

#### Actual behavior:

ToolTip doesn't go away while scrolling and

[2018-04-25 11:14] OskarSol opened #4674 "GroupedList or how to sell a fraud?"
#### Category
- [x] Question
- [ ] Typo
- [ ] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior

Expected: Office UI Fabric component GroupedList to work as expected: you have items organized in groups and the component renders like in the example.

#### Observed Behavior

You have items;
You have groups;
Display all groups;
At the lowest level of each group add a fixed amount o

[2018-04-25 12:07] OskarSol commented on #4674
Same here: Grouped DetailsList https://developer.microsoft.com/en-us/fabric#/components/detailslist

[2018-04-25 14:08] iharetche opened #4675 "How to use file-type-icons"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

Hi, I need some guidance to use the 'Fil

[2018-04-25 14:13] #4675 closed

[2018-04-25 16:37] betrue-final-final opened #4676 "Dropdown ARIA issues."
The VP of Engineering and VSO (Makers of JAWS) reported these issues. They look like good suggestions.
Here's the text:

•	Live Regions are used to speak the selected item. This is nonstandard behavior and is not necessary when ARIA markup is correct. It also leads to double speaking in many cases.
•	When the dropdown is in the opened state, focus is on an item of role Listbox. It should instead b

[2018-04-25 16:45] KevinTCoughlin commented on #4673
@twarzo, Our browser support matrix can be found @ https://github.com/OfficeDev/office-ui-fabric-react/blob/master/ghdocs/Testing/BrowserSupport.md.

In IE 11 the tooltip seems to go away better on-scroll than in the GIF you have for IE 10. Unfortunately, unless you find the behavior in IE 11 unacceptable I don't think we'll tackle this. Older versions of IE have different scroll and focus behavio

[2018-04-25 16:52] KevinTCoughlin commented on #4659
Quick note, its useful to us to follow our [Issue Template](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/.github/ISSUE_TEMPLATE.md) when creating an issue so that we can triage it appropriately given impact and other factors. Regardless, we appreciate the reports 🙇.

[2018-04-25 17:38] KevinTCoughlin commented on #4669
Makes sense to me given that we seem to support customer description rendering intentionally. Definitely a legit bug, thanks for the Codepen repro @chrismohr!

One potential fix may be to expand the conditional here:

https://github.com/OfficeDev/office-ui-fabric-react/blob/802a2c0847830acfbf47e2dd058da54d9dfb15ae/packages/office-ui-fabric-react/src/components/TextField/TextField.tsx#L157

to depe

[2018-04-25 18:09] KevinTCoughlin commented on #4673
Actually sorry @twarzo, I misread. Are you seeing this in IE11 or earlier? Because in IE11 it seems to go away reasonably well.. certainly not as long as your GIF.

[2018-04-25 18:12] michaelangotti commented on #3786
@niadak We only support IE and Edge for high contrast.

[2018-04-25 18:12] #3786 closed

[2018-04-25 18:14] Jahnp commented on #3787
Hi @quangleminhvn, is this still something you need? Can you share more about the scenario you're trying to achieve?

[2018-04-25 18:18] Jahnp commented on #3790
@szmarci are you still seeing this issue with the latest package (v5.89.0)? There've been a few updates to DetailsList since this was opened--just want to be sure we're tracking an active issue.

[2018-04-25 18:24] Jahnp commented on #3823
Hi @russgove, sorry for the delay--unfortunately not yet. We'd still like to get to this but I can't commit to a timeline right now.

[2018-04-25 18:32] Jahnp commented on #3828
@dzearing @aditima -- I'm not sure that we have a precedent/pattern for exposing the native `event` object from a `change` event, but it seems like it could be useful for scenarios like this. Thoughts?

[2018-04-25 18:41] Jahnp commented on #3835
@betrue-final-final -- can you look at this when you have a chance? Do you know offhand if these are commands we actively support in other areas?

Also, given the component called out here is `VssDetailsList`, I'm also wondering @lovakumar if this is something that should be implemented locally in your scenario.

@aditima for visibility (sorry for all the DetailsList bugs coming your way!)

[2018-04-25 18:42] KevinTCoughlin commented on #3828
@ymihir when do you have to capture the event to walk the DOM? Because depending on when you might be able to bind a handler for one of the [React events](https://reactjs.org/docs/events.html) which will give you the event object, ex: https://codepen.io/kevintcoughlin/pen/odLQxB

As @Jahnp mentioned, the alternative would be for us to expose this as a param across the board (potentially). Let's se

[2018-04-25 18:43] michaelangotti commented on #3859
@aadhars We believe this was a temporary issue at the time it was opened and will  close the issue at this time. If it still repros for you, please open a new bug.

[2018-04-25 18:43] #3859 closed

[2018-04-25 18:46] michaelangotti commented on #3860
@MirandaGe Are you still seeing this issue? If so, would you still be willing to open a PR for this? This seems like a reasonable change.

[2018-04-25 18:49] michaelangotti commented on #3865
@mikewheaton This should no longer be an issue. Will close this issue.

[2018-04-25 18:49] #3865 closed

[2018-04-25 18:53] michaelangotti commented on #3875
@betrue-final-final What is the status of this?

[2018-04-25 18:54] Jahnp commented on #3872
That's awesome @manubamba! Although heads-up--I believe someone here (not sure of their GitHub alias) is working on converting ChoiceGroup to `mergeStyles`, which should help here. Also adding @srideshpande as ChoiceGroup codeowner.

[2018-04-25 18:54] #3876 closed

[2018-04-25 19:01] #3882 closed

[2018-04-25 19:05] betrue-final-final commented on #3875
Since then we had a new designer, and new design, but I don't think this was addressed. Sending this issue to the designer.

[2018-04-25 19:09] KevinTCoughlin commented on #3656
Hey @MaronMariusz we appreciate the report. I've been unable to repro this both via CodePen and the Fabric examples website. Please feel free to re-open if you have a repro so that we can debug. From the error message it seems like your instance (somehow) was passing a non-numeric value for the `width` style property. Since I can't repro it seems like its an implementation issue until confirmed ot

[2018-04-25 19:09] #3656 closed

[2018-04-25 19:13] Jahnp commented on #3872
Confirmed, it sounds like @FalseLobster is working on this.

[2018-04-25 19:14] Javier-Rotelli commented on #4653
Hi!
@Jahnp i haven't looked at the code closely enough. but my intuition is that the component should either encapsulate the options in a new data structure, or make a copy of the options and keep it in it's own state.  but i'm talking from a really quick check of the source, i'd need to understand it better if i want to send a good PR.
also, for me this is high priority because it's an unintuitiv

[2018-04-25 19:33] oengusmacinog commented on #3830
I am not able to repro in the latest version of Fabric.  Closing for now, but if you see this issue again please open a new issue.

[2018-04-25 19:33] #3830 closed

[2018-04-25 19:53] betrue-final-final commented on #3875
How do consumers override days in a month, such that the day becomes disabled/selectable?  And what scenarios is this used for?

[2018-04-25 19:58] betrue-final-final commented on #3835
This is definitely something we should support, and it looks like we only do partway. I'm not sure there are any other applicable areas in Fabric, excepting for maybe DatePicker.

As this is functionality called out specifically by Narrator, we will want to support it.

[2018-04-25 20:35] KevinTCoughlin commented on #4672
Will re-open with repro

[2018-04-25 20:35] #4672 closed

[2018-04-25 20:59] #4620 closed

[2018-04-25 21:29] martellaj commented on #3875
This question isn't super clear to me. Can you please reiterate, @betrue-final-final?

- If you go to OWA search, there's an affordance to open up an "advanced refiners" context menu that allows users to choose a date range for which the search should apply.
- If I navigate to March, all the dates that are visible that aren't in March (i.e. February 26) are grayed out and look disabled, even thoug

[2018-04-25 21:45] rebeccaballantyne opened #4679 "ContextualMenu: Menu items with canCheck= false read as checkbox"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: ODB

#### Describe the issue:

If isChecked is provided in conjunction with a canCheck= false value to the ContextualMenuItem then screen readers read the item as a checkbox anyways.

#### Expected behavior:

If canCheck is provid

[2018-04-25 22:39] #4679 closed

[2018-04-25 22:40] rebeccaballantyne commented on #4679
Could be seen as desired behavior that isChecked overrides canCheck value.

[2018-04-25 22:42] ThomasMichon commented on #4663
Fixed.

[2018-04-25 22:42] #4663 closed

[2018-04-26 08:48] OneCyrus opened #4682 "documentation/spec not readable"
the component specification/documentation is truncated and not readable. this makes the list pretty much unusable.

![image](https://user-images.githubusercontent.com/7747800/39295532-f6b9a402-493e-11e8-8ec8-140e9e05c23b.png)

[2018-04-26 13:55] kmosti commented on #3373
No progress here? @patrickabel I think the best course of action is to collapse navbar items beneath an ellipsis, but if you only have one item on the bar (eg "add new") I don't think you need any change from desktop->mobile.

[2018-04-26 15:02] KevinTCoughlin commented on #4682
Yea this has been bugging me as well. One way to workaround it for the time-being is to supply a tool-tip until a larger refactor those tables happens. Issue there of course is that one would have to hover to get the text to show and it'll probably be tricky to copy the text if you wanted to do that.

[2018-04-26 16:25] justinmwarner commented on #2342
Closing this. I'm unsure if this is still needed by the team I was on. Thanks for the reply martellaj.

[2018-04-26 16:25] #2342 closed

[2018-04-26 16:25] justinmwarner commented on #336
I think this is very out of date. Closing.

[2018-04-26 16:25] #336 closed

[2018-04-26 18:29] thebetterjort opened #4684 "How do I include fabric styles SSR?"
[code]

[2018-04-26 20:31] Feiyang1 opened #4685 "TextField error message flickering using onGetErrorMessage"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable)

#### Describe the issue:
In the TextField component, when error message is displayed and user keeps typing, the error message disappears and reappears causing flickering.

#### Actual

[2018-04-26 23:54] manasark commented on #4581
@KevinTCoughlin Does this mean that we can use either `iconClassName `or `iconProps` for the style icon?

[2018-04-27 00:03] lling1105 opened #4688 "How to apply the primary style to an iconButton?"
The iconButton default style is "Standard" with gray background color and black text color. what i wanna do is change the iconButton style to "Primary" and how?
i tried to change the className but doesn't work, below is the react codes.

[code]

[2018-04-27 00:30] AsishP opened #4689 "Combo Box options selected by default don't unselect/uncheck when clicked in Multiselect"
### Bug Report

- __Package version(s)__: (5.82.2)
- __Browser and OS versions__: (All browsers)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes)

Requested priority: (High)

Products/sites affected: (if applicable)

#### Describe the issue:

Combo Box options multi select box doesn't uncheck on first click

#### Actual behavior

[2018-04-27 03:28] Jahnp commented on #4684
Hi @thebetterjort, could you provide more details on what issues you're facing with SSR? Did you see the [section on server-side rendering in the readme](https://github.com/OfficeDev/office-ui-fabric-react#server-side-rendering)?

Also, it's useful to follow our [Issue Template](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/.github/ISSUE_TEMPLATE.md) when creating an issue so tha

[2018-04-27 03:45] jekaspekas commented on #3881
Now latest Fabric release 5.90.0. The problem is not solved.

[2018-04-27 09:40] lafe commented on #1564
I would also be interested in a solution - all workarounds I currently employ are pretty ugly...

[2018-04-27 10:15] micnyk opened #4690 "Use tab to switch focus in DetailsList"
I have a `DetailsWith` with custom columns which render `TextField` components as inputs.

I want to have possibility to switch focus between these inputs by TAB key. Now it works only with right arrow.

Please add support to configure which key should be used to switch focus.

https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/DetailsLis

[2018-04-27 11:11] Fensterbank opened #4691 "Nav: onRenderItem behavior, child components and onClick / hover"
I have an issue with the `onRenderItem` method of the `Nav` component.
My idea was to use `onRenderItem` to render an own `MainMenuLink` component, which contains the text and a clickable icon with hover effect.

The icon is faded in when the item is hovered and should be used, to add or remove the item from the user's favorites.
![grafik](https://user-images.githubusercontent.com/1684826/39359347

[2018-04-27 12:55] kmosti commented on #3373
@patrickabel Do you mean a proposed fix? No I don't. The code sample in my OP is the one I am using but I have not attempted a fix.

[2018-04-27 15:37] betrue-final-final commented on #4690
Why do you want to use tab? Is there a specific scenario? DetailsList is a gridlist, which has specific behavior that keyboard users, and especially blind users expect. Part of the reason is that tab is meant to take you to the next control, because if there is a tab for every item in the list, you could get stuck in there for a lot of key presses.

[2018-04-27 16:48] KevinTCoughlin commented on #4689
I think the bug is here:

https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.tsx#L778

The selection logic uses a key `selected` on the `option` object to indicate whether or not its selected. On first pass this is `undefined` and since we do a `!option.selected` the first click will always set it to `true`. The fix is l

[2018-04-27 17:10] juancortez opened #4692 "Typo on README"
https://github.com/OfficeDev/office-ui-fabric-react/tree/master/packages/styling
Typo on **themeSecondary**

[code]

[2018-04-27 17:51] Markionium commented on #4692
Thanks for reporting @juancortez  :D I've created a PR to fix it

[2018-04-27 17:51] #4692 closed

[2018-04-27 17:54] micahgodbolt commented on #4144
I had a similar question, but i think the issue is detailslists inside of flexbox containers. The way that flex calculates child widths, and the way that details list calculate the width of the columns are at odds.

[2018-04-27 18:12] michaelangotti commented on #4690
@aditima for visibility

[2018-04-27 18:12] oengusmacinog commented on #4691
@Fensterbank are you getting any specific console errors?

[2018-04-27 18:16] Markionium commented on #4688
It should probably be as easy as just adding `primary={true}`? But unfortunately that does not work :(

https://codepen.io/mpolak/pen/qYqKRJ?editors=0010#0

[2018-04-27 18:29] cschleiden opened #4694 "Empty modules for TS files with only interfaces"
Because files like https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/utilities/src/IRenderFunction.ts are `.ts`, we generate empty modules for them: https://unpkg.com/@uifabric/utilities@5.29.0/lib-amd/IRenderFunction.js

Shouldn't we convert those to `.d.ts` so that no `.js.` module is generated by the compiler?

[2018-04-27 18:29] KevinTCoughlin commented on #4144
@Ridlsan would you be able to isolate your repro in a [Codepen](https://codepen.io/#) so that I can see if the layout is to blame? It will help me debug and make this actionable.

Thank you for reporting!

[2018-04-27 18:34] aditima commented on #4659
@Jahnp - looking for your opinion on this...

[2018-04-27 18:48] michaelangotti commented on #4649
@dzearing Can any of your (new) team look at this?

[2018-04-27 18:50] michaelangotti commented on #4642
@betrue-final-final Your thoughts?

[2018-04-27 18:56] michaelangotti commented on #4616
Looks like this is resolved as an issue. We will close for now.

[2018-04-27 18:56] #4616 closed

[2018-04-27 18:59] Jahnp commented on #4690
Chatted with @betrue-final-final in the hallway. The way this scenario should work is that you Tab to the DetailsList, arrow between rows and columns, Enter to activate inputs within each column, and Escape to back out to navigating between rows and columns. This is to prevent a user from getting "tab trabbed" in a DetailsList--if they tabbed between each input within each row, it'd be very easy t

[2018-04-27 19:04] michaelangotti commented on #4549
Closing this one as it is a duplicate of #4455

[2018-04-27 19:04] #4549 closed

[2018-04-27 19:09] michaelangotti commented on #4532
@betrue-final-final Is this something we want to do?

[2018-04-27 19:56] cschleiden commented on #4329
How do you import fabric? You don't get our version by accident?

[2018-04-27 19:57] cschleiden commented on #3747
@oengusmacinog could you take a look? Does that still repro with your latest changes?

[2018-04-27 20:46] atneik commented on #4582
@MirandaGe are we sure people card which is probably used in people web part is using this Fabric hover card? Last time I check they were yet to transition to it.

[2018-04-27 20:49] thelok commented on #4642
One use case is pre-loading a value while still letting the user modify the terms of the picker suggestions. Currently the picker only allows all or none (i.e. select a picker value or clear it) but there is no in between of allowing raw text manipulation similar to a text box.

I guess another solution that would be nice is letting the user modify the picker selection and choosing another value i

[2018-04-27 20:49] oengusmacinog commented on #3747
@cschleiden yes still an issue with the latest version.  It's not even specific to the CodePen.  None of the Rating examples on the Fabric website work either.  Chrome is fine, firefox and safari both don't work.  The click is working - changes the **tabindex** value, but doesn't affect the style change that should make the star.

Interesting, actually it looks like something is wrong with the sta

[2018-04-27 20:59] KevinTCoughlin commented on #4673
I can't repro this in IE 11 on either a desktop or laptop w/ touch screen setup. I saw that the repro has mouse focus near the tool-tip and the scroll is done via touch. When I try that on my laptop in IE 11 the tool-tip immediately disappears. So this makes me think its a version < IE 11. I'm inclined to close this soon without more information.

[2018-04-27 21:07] betrue-final-final commented on #4642
I'm so sorry. Can you explain what the user is doing, and what they see, rather than talking about what the code does behind the scenes?

Are you talking about typing a file name in the box and having it select the file with the characters typed in the file name?

[2018-04-27 22:06] #4673 closed

[2018-04-27 23:40] thelok commented on #4642
The user wants to load a form with a picker to **edit** it, and to make it easier for the user it comes pre-populated with some raw text that will help them start performing their suggestion search using the picker. It's just allow the user to **edit** the picker. The user can start modify the pre-populated raw text and use the picker suggestions.

It's similar to how `defaultValue` or `value` fro

[2018-04-28 02:29] AsishP commented on #4689
Thanks @Jahnp, am happy to contribute. Will start this weekend. Shouldn't take much time.

@KevinTCoughlin, thanks for the heads up. Will post any queries here while looking into it.

[2018-04-28 03:40] panigrah commented on #4644
@aditima I used redux to handle multiple element drag and drop. The OnDragStart pushes the list of selected items into redux and the OnDrop reads from redux.

[2018-04-28 06:03] AsishP commented on #4689
Hi all, I was able to fix the combo box selection toggle for first click. The fix is that when `option.selected` is null, then check `selectedIndices `array to see if an `index `is present and then negate that value. Hopefully this logic will not fail for any other cases. If it sounds good, please let me know and will submit a PR soon.

@KevinTCoughlin, seems like in `_onResolveOptions` method, th

[2018-04-29 10:44] peterremote1980 opened #4702 "how to get selected row details of DetailsList"
Hi, how to get selected row details of DetailsList?
Thanks

[2018-04-29 16:44] dzearing commented on #4651
SelectionZone and Selection are closely tied, and makes sense.
DetailsList depends pretty deeply on Selection, and likely users will want to use it.

The imports you linked will indeed cut down bundle size, but are a very bad idea. We can only guarantee the contracts we know about, and from a file import perspective, we can guarantee the top level imports, but not necessarily every individual file

[2018-04-29 16:44] #4651 closed

[2018-04-29 16:48] dzearing commented on #4606
Thanks for the suggestion. I was hoping to just get rid of it. Here's what we found:

memoizeFunction works fine with literals and immutables. With mutable objects and arrays however, it will cause friction.

It also is causing issues with SSR rendering, where we want to render the correct rules every time, without short circuiting the styling system which is listening for rules to render. So it b

[2018-04-29 16:48] #4606 closed

[2018-04-29 16:51] dzearing commented on #4504
@RyanCavanaugh Right now, users do type "download" for the icon name.

[code]

But they want intellisense:

[code]

So that's why the const enum; we just want the `IconNames.Download` to be replaced with the string literal.

Hmmm there has to be something you can do here with ts-jest.

[2018-04-29 16:57] petercutting commented on #4650
SearchBox might work but I cannot see how to use it based on
https://developer.microsoft.com/en-us/fabric#/components/searchbox

The examples demonstrate very liitle and the documentation does not explain how to do an API call. I assume I use onChange and/or onSearch (to dispatch a redux-saga, takeLatest) but how do I format the returned data for the SearchBox?

[2018-04-29 17:13] dzearing commented on #4504
ts-jest issue:
https://github.com/kulshekhar/ts-jest/issues/112

Related note:
https://github.com/kulshekhar/ts-jest/blob/master/README.md#const-enum-is-not-supported

I don't see any workaround here other than:

export the icons names as consts;

[code]

or a full on object (nicer from the autocomplete perspective, worse because you get the whole thing and all the unused entries won't tree shake

[2018-04-29 17:15] dzearing commented on #4504
Another idea is to add a non-const, non exported enum to the package, so that at the `ts-jest` layer you can alias `@uifabric/lib/IconNames` to `@uifabric/lib/FullIconNames`. It's a little bit extra friction but maybe better than nothing.

[2018-04-29 17:35] aappddeevv commented on #4606
Is this still the recommended way, however, to handle reducing processing with merge-styles given the issue you mention above?

[2018-04-29 18:36] prakashchetan001 opened #4704 "Grouped List - How to make use of Load More Functionality"
- __Package version(s)__: 5.88.0
- __Browser and OS versions__: Chrome

Are you willing to submit a PR to fix? (Yes, No)

Requested priority:  Normal

Products/sites affected:  Staffhub

#### Describe the issue:
**Background:**
The grouped list has mentioned specification where the developer can configure the same to render **'Load More/ Show all'** feature. The handling of the show more can also

[2018-04-29 19:47] aappddeevv opened #4705 "Dropdown className is applied to inner div, not the outer ms-Dropdown-container"
I'm not sure this is intentional or not but IDropdownProps.className is applied to ms-Dropdown which is inside ms-Dropdown-constainer. That was different than my expectations and makes it difficult to style the inner dropdown without having to set the width explicitly. I assume that's why the IDropdownProps.dropdownWidth exists though to get around this.

[2018-04-30 02:53] aappddeevv commented on #4702
You can track the current item using `ISelection.onSelectionChanged` or you can pass in your own Selection object and when needed, use `ISelected.getSelection()`.

[2018-04-30 04:00] dzearing commented on #915
I would like to update this thread, terribly sorry about the delay, but we are dedicating resources on cleaning up things like this, and will refine the set of components to address customization like this.

We are planning on apply an "as" pattern across all Fabric components :

To replace rendering a component with another implementation, you would could pass in "renderAs" value, which can be a

[2018-04-30 04:47] dzearing commented on #1329
@Markionium submitted a change to introduce this recently:

[code]

[2018-04-30 06:17] NielZeeman commented on #4329
Hi @cschleiden
I import explicitly:
`"dependencies": {
    "@types/q": "^1.5.0",
    "applicationinsights-js": "^1.0.14",
    "office-ui-fabric-react": "^5.65.0",
    "q": "^1.5.1",
    "react": "^16.0.0",
    "react-dom": "^16.0.0",
    "telemetryclient-team-services-extension": "^1.0.2",
    "ts-loader": "^3.1.1",
    "vss-web-extension-sdk": "^3.121.0"
  },`

I have restructured the app breakin

[2018-04-30 17:17] cobbs-totem opened #4707 "isEqual recursive loop"
### Bug Report

- __office-ui-fabric-react 5.92.0__:

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

I'm not sure when or why things suddenly broke recently, but I noticed my <List> components throwing err

[2018-04-30 17:28] dzearing commented on #4707
@jordandrako is this related to your recent change?

[2018-04-30 17:56] JasonGore opened #4708 "TooltipHost directionHint default value is not as documented"
### Bug Report

- __Package version(s)__: 5.92
- __Browser and OS versions__: N/A

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
Yes

Requested priority: (Blocking, High, Normal, Low)
Low

Products/sites affected: (if applicable)

#### Describe the issue:

TooltipHost documents directionalHint default as DirectionalHint.to

[2018-04-30 18:12] KevinTCoughlin commented on #4558
Raised a PR with the interface change and my understanding of the scope here.

[2018-04-30 18:57] cliffkoh commented on #3607
For performance reason, the most sensible thing for the list to do here, by default, here is to behave as if the list item arrays are pure/immutable. The action item here is to document this expectation.

If there is a deep need to have a deep compare, it should at most be provided on a opt-in basis (like a `isPure` type of flag)

[2018-04-30 19:07] oengusmacinog commented on #4685
@Feiyang1 are you experiencing this issue on your own implementation?  As in not just on the example page?

[2018-04-30 20:05] #4707 closed

[2018-04-30 21:09] cliffkoh opened #4711 "isEqual issues"
#### Describe the issue:

## 1. isEqual function goes into an infinite recursive loop if there are circular references.

[code]

#### Possible solution

## 2. Should compare booleans

#### David's suggestion:

[code]

Concerns with that is we need to compare length first for speed:

[code]

## 3. Better comparison of types

#### David's suggestion:

[code]

This might work but:

[code]

## 4. Bett

[2018-04-30 21:24] KevinTCoughlin opened #4712 "ContextualMenu Local Dev Example Page Broken in IE"
### Bug Report

- __Package version(s)__: 5.92.0
- __Browser and OS versions__: IE11 and lower versions

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Low

Products/sites affected: Local Dev, http://localhost:4322/#/examples/contextmenu

#### Describe the issue:

The local dev examples page for ContextualMen

[2018-04-30 21:26] KevinTCoughlin commented on #4712
Hmm now this no longer repros? Let me investigate further.

[2018-04-30 21:34] KevinTCoughlin commented on #4712
FWIW this for sure repros in local dev with

[code]

Which is also how I ran into this. Thought I saw it on the example Fabric site as well, but am unable to repro right now.

[2018-04-30 21:37] lynamemi commented on #4712
@KevinTCoughlin the Fabric website is probably a bit behind the ouifr releases.

[2018-04-30 21:38] KevinTCoughlin commented on #4712
@lynamemi yea must be.. tho I thought I ran into it earlier. Might be a cache at play. Definitely can repro locally across a number of components. Easy fix.. will PR shortly.

[2018-04-30 21:53] cliffkoh commented on #4707
Fixed in `office-ui-fabric-react@5.92.1`

[2018-04-30 22:01] KevinTCoughlin commented on #4550
Currently blocked by #4712

[2018-04-30 22:23] JasonGore opened #4715 "TooltipHost and ChoiceGroup components mutate props"
### Bug Report

- __Package version(s)__: 5.92.00
- __Browser and OS versions__: N/A

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
Yes

Requested priority: (Blocking, High, Normal, Low)
Normal

Products/sites affected: (if applicable)

#### Describe the issue:

TooltipHost mutates calloutProps object before passing it to

[2018-04-30 22:33] cliffkoh commented on #4682
@JasonGore has a mitigation for this. I will just assign this to him.

[2018-04-30 22:38] cliffkoh commented on #4694
It's a bit better in ES6 https://unpkg.com/@uifabric/utilities@5.29.0/lib-es2015/IRenderFunction.js

My only worry is about semantics of .d.ts though.. These files are not quite what I would traditionally associate a TS declaration file to be.

If we were to do this, wouldn't all the `.types.ts` file then become `.types.d.ts`, except if they had enums?
https://unpkg.com/office-ui-fabric-react@5.92

[2018-04-30 22:42] lorejoh12 commented on #4630
Let me see if I understand the issue correctly:

Create a DatePicker and pass a specific value- in our case, pass the value Apr 30th 2018.
![image](https://user-images.githubusercontent.com/8549582/39453569-496e3556-4c8b-11e8-9b97-cf7b30161af7.png)

Click the datePicker, it opens up:
![image](https://user-images.githubusercontent.com/8549582/39453581-564bf718-4c8b-11e8-8f96-9563a3466e8c.png)

Sele

[2018-04-30 22:46] lorejoh12 commented on #4623
This is definitely a bug, I'm working on fixing this hopefully this week or next week.

[2018-04-30 22:51] lorejoh12 commented on #4610
We evaluated this feature and while a great use case, this is currently low on our backlog. We'd love to do a code review for it if someone else has the bandwidth to add the feature though!

[2018-04-30 22:53] lorejoh12 commented on #4599
We agree with the approach to add an imperative reset method, but don't have that on our radar at the moment. Would love to do a code review for it and add it if you'd like to submit a PR for that though!

[2018-04-30 22:54] lorejoh12 commented on #4514
David is this finished now? Would love to close this, thanks for the fix you guys!

[2018-04-30 22:56] lorejoh12 commented on #4415
We're working on a fix for this right now, will hopefully have the fix in either this week or next week. Most popups in Fabric right now are wrapped in FocusTrapZones, so that when tabbing to the end of the popup the focus can cycle back around. That seems like a reasonable solution here also.

From initial testing, it seems to work okay, although there is an issue with both the FocusTrapZone and

[2018-04-30 23:06] #3747 closed

[2018-04-30 23:10] lorejoh12 commented on #4388
What scenario are you trying to use this for? I'm not sure what event you're trying to get, the click event from the popup? Not clear to me how useful that would be.

Maybe you're trying to just see which DatePicker's value was changed? For that, my suggestion would be something like this:

[code]

sort of like this:
https://codesandbox.io/s/61wmnomnnn

And then you could keep a separate map of va

[2018-04-30 23:14] aditima commented on #3881
@dzearing - seems like registerDefaultFontFaces should also update window.FabricConfig? Is that the right thing to do?

[2018-04-30 23:27] daweffe commented on #3902
No, I would add it to the div with aria-live=’assertive’

From: Jordan Janzen <notifications@github.com>
Sent: Monday, April 30, 2018 4:24 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Darin Weffenstette <daweffe@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] [TextField] Accessibility- Error message not

[2018-04-30 23:27] lorejoh12 commented on #3529
We evaluated this feature and while we appreciate the usefulness, it's currently low on our backlog. We'd love to do a code review for a PR though if another team has the bandwidth to pick this up!

Should be a fairly straightforward fix, since we already have a minDate and maxDate parameter, could follow the logic similarly with the styling and disabling but would have to update the DateMath util

[2018-04-30 23:27] Jahnp commented on #3933
Just a heads-up--is being addressed in #4695. Thanks @Markionium! I'm going to assign this to you for when that PR is merged.

[2018-04-30 23:27] jordandrako commented on #3913
To expand on @Jahnp's comment, for components using the getStyles api there is a getFocus() function as well that takes a theme object as an argument, and returns focus border styles. Closing since this is answered.

[2018-04-30 23:27] #3913 closed

[2018-04-30 23:28] lorejoh12 commented on #3523
We'll pick this up in May/June, and go with solution 2, adding an imperative .focus() function for a consumer that has the component ref to be able to call.

[2018-04-30 23:30] michaelangotti commented on #3931
@justinmwarner I think you can start working on this one.

[2018-04-30 23:33] #3523 closed

[2018-04-30 23:33] cliffkoh commented on #4558
Hi @trevonmckay, can you paste the error in its entirety from the Typescript compiler with strictNullChecks turned on, and the relevant line the error message references?

The interface that you pasted is not saying that `getSelectedIndices` might return undefined, but rather, that `getSelectedIndices` is an optional member. FWIW, we currently do have strictNullChecks enabled in OUFR at the moment

[2018-04-30 23:35] michaelangotti commented on #3934
Hey @dzearing is there someone on your (new) team that can look at this one?

[2018-04-30 23:40] michaelangotti commented on #3958
Firefox does not support High Contrast. Closing this issue.

[2018-04-30 23:40] #3958 closed

[2018-04-30 23:42] michaelangotti commented on #3959
We have verified that this issue has been fixed. Closing this issue.

[2018-04-30 23:42] #3959 closed

[2018-04-30 23:45] michaelangotti commented on #3966
Closing this as it is a dup of #4169

[2018-04-30 23:45] #3966 closed

[2018-04-30 23:49] michaelangotti commented on #4002
@PrinzTu  This is on our radar and will be updated in a future release. Closing for now.

[2018-04-30 23:49] #4002 closed

[2018-04-30 23:50] michaelangotti commented on #4003
@martellaj Would you be willing to submit a PR for this?

[2018-04-30 23:54] michaelangotti commented on #4024
@Khushveerkaur Can you provide a repro and let us know which component you are referring to.

[2018-04-30 23:55] oengusmacinog commented on #3999
Hello, @aslanovsergey! We don't actually encourage the use of any of the components in the experiments package.  To be clear these are not beta components, they are actually in an experimental state. We do not support the use of these, and I strongly encourage you not to use this in a production app.

If there are features in the experiment you would like to see in Fabric, please feel free to open

[2018-04-30 23:55] #3999 closed

[2018-04-30 23:59] jordandrako commented on #4002
@PrinzTu @nigelskeels I've been working on both typescript and non-typescript codesandbox examples. Here is a quick example of PrimaryButton https://codesandbox.io/s/xo146lklyp

[2018-05-01 00:04] oengusmacinog commented on #4034
@dzearing was the componentAs concept we were experimenting with a workable solution for this situation?

[2018-05-01 00:28] rebeccaballantyne opened #4717 "When opening a contextual menu, first menu item does not receive focus"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:

Accessibility issue. Use keyboard to tab to the contextual menu, press Enter. Focus should automatically go to the first menu item, but instead, user must press "TAB" to see focus go to first contextual menu item.

[2018-05-01 00:33] lorejoh12 commented on #3300
We've gotten some feedback about allowing a decade picker, but it's currently low on our backlog. We'd love to do a code review if someone wants to make a PR for it though!

as far as autofocusing on the calendar component when disableAutoFocus=true after a click, that actually looks like a bug to me. I'll take a look.

[2018-05-01 00:35] Jahnp commented on #3502
Hi @jlgoodman, sorry for the delay!

Assuming the app you're working on complies with the [Fabric assets license](https://aka.ms/fabric-assets-license), you can include copies of the icon fonts in a local CDN along with a copy of the license. Then, in the part of your app where you're making a call to `initializeIcons`, pass in the path to the folder for those fonts like this: `initializeIcons('ht

[2018-05-01 00:35] #3502 closed

[2018-05-01 00:53] #4081 closed

[2018-05-01 01:04] #4599 closed

[2018-05-01 03:09] #2996 closed

[2018-05-01 08:40] nigelskeels commented on #4002
Thanks Jordandrako

[2018-05-01 13:47] Feiyang1 commented on #4685
@oengusmacinog yep, I'm experiencing the same issue in my application.

[2018-05-01 18:26] jordandrako commented on #1350
@jdhuntington My implementation definitely wasn't good, and I haven't had time to look at this since. Do you feel you could submit a PR making the workaround you've found a more official change?

[2018-05-01 18:37] #4702 closed

[2018-05-01 20:09] dzearing commented on #4711
also: we should name it something less ambiguous, like "deepCompare". "isEqual" could be interpretted as shallowCompare, which already exists in object.ts.

I would be very leery of scenarios where we actually need deepCompare though. It's a performance hazard, and potentially could get you into infinite loops.

I would not throw on a function comparison. I would do a reference compare. Or conside

[2018-05-01 20:26] jordandrako commented on #4711
@dzearing Have you looked at the test file? Some of your concerns (like objects of different lengths) have tests and it does what I expect.

[2018-05-01 20:39] manishgarg1 commented on #4521
Hi @gbminnock, are you following the guidance in this document? https://docs.microsoft.com/en-us/sharepoint/dev/spfx/office-ui-fabric-integration. If yes, then you should be able to upgrade office-ui-fabric-react independent of SPFx. Please do let us know if you face issues.

[2018-05-01 20:40] manishgarg1 commented on #4250
Hi @hbrigui, any updates on the codepen? it would be great to see a repro.

[2018-05-01 20:43] manishgarg1 commented on #3619
Hi @ssingh28, any updates on the issue? did it get fixed for you?

[2018-05-01 20:49] manishgarg1 commented on #3258
Hi @russgove. did this issue get fixed for you? The error makes me feel you are using a react prop that is not a prop on the Dialog React component. This could be because the documentation you read is from the Fabric site and is for a different version of Fabric React than included in your package.

[2018-05-01 20:52] manishgarg1 commented on #2708
Hi @russgove, is this still an issue? If not could you please close?

[2018-05-01 20:54] manishgarg1 commented on #2707
Hi @thomas-bak, is this still an issue?

[2018-05-01 21:01] manishgarg1 commented on #2460
Hi @pljfdi, is this still an issue?

[2018-05-01 21:03] PriyankaPuranik1 opened #4725 "Unable to set the input search string on TagPicker or Basepicker"
### Bug Report

- __Package version(s)__: 5.54.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes
Requested priority: High
Products/sites affected: Project, CRM grid
#### Describe the issue:

The Tag Picker control does not provide a way to set the search text on render. Currently we have a control that opens the tagpicker. When u

[2018-05-01 23:33] lynamemi commented on #4533
I'm going to split checkmark and coachmark into separate issues to be done in separate PRs, as those are a bit more complex. Therefore, when #4728 is merged, we can close this issue.

[2018-05-01 23:41] russgove commented on #2708
closing issue

[2018-05-01 23:41] #2708 closed

[2018-05-01 23:42] lynamemi opened #4729 "Checkbox: High contrast mouseover state and checked state"
#### Expected behavior:

Checkbox should have a Highlight border-color and text color on hover.

Checked state should be a Highlight fill color with a Window text color. On checked + hover, the fill should go away and leave the border and text Highlight color.

Focus will come into play with this one as hover and focus share a lot of styles.

[2018-05-01 23:44] lynamemi opened #4730 "Coachmark + Callout: high contrast states"
Coachmark has a lot of problems in high contrast. Will need to coordinate with other Callout components, including TeachingBubble, to come up with a consistent design.

[2018-05-01 23:44] russgove commented on #3258
thanks for following through. i lost track of the issue so closing

[2018-05-01 23:44] #3258 closed

[2018-05-02 00:52] #4019 closed

[2018-05-02 05:54] lrecknagel commented on #4630
@lorejoh12 I am arguing on a bit different case:

* I pass: Apr 30th 2018 as value (from my state, store, etc.)
* Then a user open the dialog and want to select: May 2nd 2018
    * BUT: the logic in the frontend / backend disallow that because maybe a rule exists: Only dates < May 2018 (for any reason)
    * So the DatePicker should continue displaying the Apr 30th 2018 because the change was not

[2018-05-02 05:58] manasark commented on #4672
@KevinTCoughlin We are currently using version 5.64.1. Can you please confirm if this issue doesn't exist in this version?

[2018-05-02 06:45] mubash7 opened #4733 "Office UI Fabric - File input component"
I am building an upload document feature in SharePoint with some specific requirement. I need a component for file input so that user can select a document from local machine to upload in SharePoint. Is there one?

[2018-05-02 08:18] OverkillTV commented on #4388
Thanks @lorejoh12 . I didn't know you could do that in Typescript. That is mind blowing. Could you tell me what this line of code mean ?
[code]

Other than that, you suggestion worked !

[2018-05-02 08:42] NielZeeman commented on #4329
I have changed the index to only have this:
[code]
the question marks still show instead of the "down arrow" icon and the rendered HTML looks like this:
[code]

[2018-05-02 11:30] cobbs-totem opened #4734 "ComboBox Question"
Is there anyway in the ComboBox component to show the list of options available as the user types (similar to how TagPicker works)?  And if so, a way control that filtered list as the user types?

Right now, when the user types, it only seems to use a "startsWith" match, but I'd like to resolve the "available options" with mixed case and "contains".

[2018-05-02 11:39] OneCyrus commented on #4249
the issue here is from type comparison in Pivot.base.tsx

https://github.com/gaearon/react-hot-loader/issues/954#event-1605189675
https://github.com/gaearon/react-hot-loader/issues/938

Probably changing to something like this should fix it:
`if (typeof child === 'object' && child.type === typeof(PivotItem)) {`

[2018-05-02 14:28] blandine opened #4735 "Is it possible to set the datepicker to be always visible?"
I searched in the docs but I couldn't find a way to set the datepicker to be always visible.
I'd like to avoid an extra click on the input.

Is it already implemented or should I fill a feature request?
Thanks for your time

[2018-05-02 15:27] j-te opened #4736 "TextField multiline min-height param"
### Feature Request

TextField with `multiline` attribute currently allows to adjust height to 0px by default. While you can insert custom css using `inputClassName`: wouldn't it be nice to have some base css like the following?

[code]

Alternatively it could inherit the div style `ms-TextField-fieldGroup` min-height.

Possibly an attribute to bind the minimum height and/or width to the parent co

[2018-05-02 17:38] JasonGore commented on #4715
I searched the codebase for similar issues and only found one other potential instance. I was hoping @micahgodbolt could comment on this change to see whether or not it should be changed so that it doesn't mutate options prop:

https://github.com/micahgodbolt/office-ui-fabric-react/commit/b47e1aa3c52271c5d0198c71b09369ffaa4d26d7#diff-3a29493b697d7f97a559b7bfb2f8b3fdR81

[2018-05-02 17:43] pipi1007 opened #4739 "DetailsList control stops firing onSelectionChanged event when clicking on inlined IconButton"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low)  High

Products/sites affected: (if applicable) Outlook Web

#### Describe the issue:

DetailsList control

[2018-05-02 17:44] #4582 closed

[2018-05-02 17:44] micahgodbolt commented on #4715
Any code I wrote more than a year ago is ripe for changing 😊
If it's causing problems I have no problem with others making adjustments to it, as long as original functionality is maintained.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Jason Gore <notifications@github.com>
Sent: Wednesday, May 2, 2018 10:38 AM
To: OfficeDev/office-ui-fabric-react
Cc: Micah G

[2018-05-02 17:46] #4712 closed

[2018-05-02 18:09] michaelangotti commented on #3250
@betrue-final-final Shaking the tree again. Is there an update here?

[2018-05-02 18:11] michaelangotti commented on #3372
Closing for now. If someone wants to open a PR for it, we can readdress.

[2018-05-02 18:11] #3372 closed

[2018-05-02 18:13] michaelangotti commented on #3382
Closing this. Lack of activity and probably in the wrong repo.

[2018-05-02 18:13] #3382 closed

[2018-05-02 18:31] betrue-final-final commented on #3250
Alright, issue #1 no longer reproes in Narrator on Edge, but #2 is still an issue.

[2018-05-02 18:48] michaelangotti commented on #4156
@sortegamartin Are you still reproing in the latest (5.94.0)?

[2018-05-02 18:55] #4195 closed

[2018-05-02 19:05] betrue-final-final commented on #4207
Per a large conversation on the subject offline, here is what we want to happen. @rebeccaballantyne may be working on this as we speak.

•	Opened via touch/mouse
o	Focus should go to the whole menu. I believe the ContextualMenu in fabric currently allows for the an aria-label on the whole menu which gives a good experience for what is read out (and the user can query easily about what the menu con

[2018-05-02 19:18] garrytrinder commented on #1839
I also see this message in the console, which could be related...

![image](https://user-images.githubusercontent.com/11563347/39544197-37b8830a-4e45-11e8-8051-a0288ecb3e30.png)

I'm taking a wild guess that theming.js is checking the `__theme_state___.theme` object which does not contain a key called "Light1"

[2018-05-02 21:12] aditima commented on #3360
@Nimelrian - there is a selectionMode prop on the DetailsList and you can set it to SelectionMode.None. Using this may be a cleaner way to disable selection on the list conditionally.

[2018-05-02 21:16] aditima commented on #4690
@micnyk - yes I agree with @betrue-final-final  and @Jahnp. It has been a pain historically to navigate between various sections in a page if Tab is the only focus mechanism. In Fabric, we have attempted to use the arrow keys as much as possible for navigating inside a component. Hope this helps!

[2018-05-02 21:16] #4690 closed

[2018-05-02 22:41] aditima commented on #4644
@panigrah - your Approach 1 above sounds reasonable to me.

[2018-05-02 22:41] #4644 closed

[2018-05-02 22:44] aditima commented on #3785
As noted earlier, the fix is to convert the DetailsList component to use JS based styling. This is on our radar, but not funded yet.

[2018-05-02 22:48] aditima commented on #4654
@pschaeflein - just to clarify, are you looking for a card with actual data-connection to SharePoint? Or just the UX piece that looks like the SharePoint site card.

Fabric is by definition a backend agnostic UX-only repo, so the former component doesn't belong here.

[2018-05-02 22:49] aditima commented on #4654
That said, if you really want a SP-connected site card, we can make note of a request for that High-Value Component.

[2018-05-02 22:51] aditima commented on #4029
Same as #3657 . Closing as a duplicate.

We have a pending feature request on the TreeView control already. We'll make note of one more ask for that control.

[2018-05-02 22:51] #4029 closed

[2018-05-02 22:51] caradong opened #4747 "[Details List]: Accessibility MacOS Table properties are not defined correctly with VoiceOver app in Mac"
### Bug Report

- __Package version(s)__: 5.70.0
- __Browser and OS versions__: Safari Version: 11.0.3 (12604.5.6.1.1)  MacOS Sierra: 10.12.6

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Accessibility

Products/sites affected: Details List

#### Describe the issue:

Using VoiceOver app on a Mac, with Safari

[2018-05-02 22:53] aditima commented on #3657
As noted before, we already have requests for a TreeView control in our backlog. However, the work is not funded yet - we'll need to prioritize it against everything else and schedule the work. Closing the issue since this is not something we can immediately address.

[2018-05-02 22:53] #3657 closed

[2018-05-02 22:55] aditima commented on #3902
@KevinTCoughlin - maybe something you can address while you are working on the TextField?

[2018-05-03 07:07] HdHeini commented on #1565
Still a good idea to have a time picker that is consistent with a date picker component, I would really appreciate it.

[2018-05-03 08:09] Cazeu64 opened #4750 "PeoplePicker issue"
### Bug Report

- __Package version(s)__: 1.4.1
- __Browser and OS versions__: Chrome

Requested priority: Normal

#### Describe the issue:

When using PeoplePicker, it is working fine, but I still got two issues in the browser log :
`Uncaught TypeError: Cannot read property 'value' of null
    at NormalPeoplePicker.BasePicker.updateSuggestionsList (BasePicker.tsx:319)
    at NormalPeoplePicker.Ba

[2018-05-03 13:56] pschaeflein commented on #4654
I was thinking the UX piece. I have an app that works in the context of a unified group and want to link off to the site. I was hoping to put something pretty there instead just a link.

(But that High-Value-Component sounds interesting. :)  Are there other HVCs? I would love to learn more.)

[2018-05-03 15:53] micahgodbolt opened #4752 "Tooltip beak z-index broken in Firefox"
### Bug Report

- current (live site)
- Firefox Only/Win10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes)

Requested priority: High

Products/sites affected: (if applicable)

#### Describe the issue:
![image](https://user-images.githubusercontent.com/1434956/39587837-59fc1958-4eaf-11e8-9b2f-b91edd6f52ee.png)

[2018-05-03 16:02] JasonGore commented on #4682
I ran into this when adding default properties to ToolTip. I had just explored enabling multiline for the aggrieved columns but haven't committed any changes. What do you think of this approach?

Before
![before](https://user-images.githubusercontent.com/26070760/39588468-a9c0d25c-4eb0-11e8-941d-a385ede074c7.png)

After
![after](https://user-images.githubusercontent.com/26070760/39588480-b02f0942-

[2018-05-03 16:17] micahgodbolt commented on #4752
cache issue, carry on.

[2018-05-03 16:17] #4752 closed

[2018-05-03 17:15] jordandrako commented on #4750
The current version of office-ui-fabric-react is v5.94.x. Are you sure you're using v1.4.1? If so, try updating to a newer version to see if you're still having this issue.

[2018-05-03 17:28] michaelangotti commented on #4734
We do not support this functionality yet. @dzearing  @Jahnp  Is this something we want to schedule in the short term?

[2018-05-03 17:38] jordandrako commented on #4734
Is something like this the kind of functionality you're looking for? https://jordandrako.github.io/JavaScript30/06%20-%20Type%20Ahead/index-FINISHED.html

[2018-05-03 17:41] michaelangotti commented on #4705
@aappddeevv This is already in our backlog to be updated in a future release. We will close this issue for now.

[2018-05-03 17:41] #4705 closed

[2018-05-03 17:49] michaelangotti commented on #4249
@dzearing  Since there is a PR for this, can you please look at it?

[2018-05-03 17:51] pipi1007 commented on #4739
According to @ThomasMichon , this is due to a change he made to address another problem, and is intended behavior. See the thread below. I have applied his suggestion to workaround the problem.

From: Thomas Michon
Sent: Wednesday, May 2, 2018 10:57
To: Michael Loughry; Jun Yan; Fabric React Controls V-Team; Exchange CI Triage Dev Team
Subject: RE: Broken change in Fabric

There was a bug in which

[2018-05-03 17:52] #4739 closed

[2018-05-03 17:52] jordandrako commented on #4204
Did #4602 fix this?

[2018-05-03 17:53] michaelangotti commented on #4234
@aappddeevv Can you confirm if PR #4602 has fixed this? IF so, we will close.

[2018-05-03 17:55] michaelangotti commented on #4229
It looks like this issue has been answered/resolved. Closing this issue.

[2018-05-03 17:55] #4229 closed

[2018-05-03 17:56] #4083 closed

[2018-05-03 17:59] aappddeevv commented on #4242
Thanks! I'm still having trouble with and cannot seem to get clicking, editing, and "tabbing/return/esc" to work using this combo (as a target use case). I setup something where you can tab/click to go to a TextField to edit but tabbing to go to another TextField goes crazy and jumps to something outside the FocusZone. I could really use a great example since capturing data input across multiple i

[2018-05-03 18:04] michaelangotti commented on #3725
If you are still seeing the same issue after installing the current version, please open a new issue. Closing due to inactivity.

[2018-05-03 18:04] #3725 closed

[2018-05-03 18:06] jdrush89 opened #4757 "List virtualization is being determined using stale props"
### Bug Report

- __Package version(s)__: 5.91.0
- __Browser and OS versions__: Chrome

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:

When Lists are determining whether or not to virtualize when receiving new props, they use the items size from the old props instead of the n

[2018-05-03 18:07] rebeccaballantyne commented on #4207
I've got a PR out for this right now.

[2018-05-03 18:11] joschect commented on #4725
Good news! This has actually been fixed with https://github.com/OfficeDev/office-ui-fabric-react/pull/4569 . Now defaultVisibleValue can be passed into inputProps and autoFill correctly supports it. One caveat is that this occurs only on first render.

[2018-05-03 18:11] #4725 closed

[2018-05-03 18:27] jordandrako commented on #4682
I like that, but maybe we could limit it to 3-4 lines and show the rest on hover or click. Maybe an overflow button?
________________________________
From: Jason Gore <notifications@github.com>
Sent: Thursday, May 3, 2018 9:02 AM
To: OfficeDev/office-ui-fabric-react
Cc: Jordan Janzen; Assign
Subject: Re: [OfficeDev/office-ui-fabric-react] documentation/spec not readable (#4682)

I ran into this wh

[2018-05-03 18:28] PriyankaPuranik1 commented on #4725
Perfect. Let me bump the fabric react version and try it out.

Thanks,
Priyanka

From: Jon Schectman <notifications@github.com>
Sent: Thursday, May 3, 2018 11:12 AM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Priyanka Puranik <pgadre@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] Unable to set the input se

[2018-05-03 18:29] JasonGore commented on #4682
More than 3-4 lines should definitely be an exception. I may have highlighted the only example of it. This should be good enough for now, I think...

[2018-05-03 19:56] PriyankaPuranik1 commented on #4725
I tried this out and if I set defaultVisibleValue the value appears in the picker but the suggestions that open up with no results found. Is there a way to display suggestions using the default visible value?

[cid:image001.png@01D3E2DE.2015E800]

If I delete 3 and then retype it the code hits onFilterChanged and correctly displays the suggestions but not on initial render.

Thanks,
Priyanka

From

[2018-05-03 21:17] cobbs-totem commented on #4734
Yes, that looks like what I'm after.  Another good example is the "Auto Complete" component in Material UI.  See the "Filters" part, specifically:

https://www.material-ui.com/#/components/auto-complete

[2018-05-03 21:46] mikewheaton commented on #1700
The multichoice variant now exists, but the in-situ variant is still missing. This is documented in the [Adobe XD toolkit](https://aka.ms/fabric-toolkit):

![image](https://user-images.githubusercontent.com/1382445/39604363-b65424d0-4ee0-11e8-937d-b762338ce960.png)

[2018-05-03 21:56] richardtagger opened #4762 "Facepile doesn't use semantic tags"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: Any

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Yammer

#### Describe the issue:

Facepiles use DIVs to represent a list of items rather than semantic tags - the concern here is around the use o

[2018-05-03 22:24] aditima commented on #4575
@jordandrako @oengusmacinog @mikewheaton - trying to avoid multiple assignees for better book-keeping. Please update if you need to...

[2018-05-03 22:28] aditima commented on #4269
@betrue-final-final could you please assign to @jordandrako once we have clarity on the fix?

[2018-05-03 22:30] aditima commented on #4730
Keeping this assigned to @betrue-final-final till we know what the design should be.

[2018-05-03 22:44] rebeccaballantyne opened #4764 "People picker doesn't read suggestionsAvailableAlertText, reads suggestions twice"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: ODB Share

#### Describe the issue:

The people picker currently reads every selected suggestion twice. This is because a div with role=alert was added to allow for suggestions to be read in IE11. This same alert squashes the sugg

[2018-05-03 23:30] yaananth commented on #4156
There is a new bug here.
![image](https://user-images.githubusercontent.com/12280011/39607315-41893ff0-4f08-11e8-8c7a-293f9cdcf57c.png)

If there are NO items, and if user can't add items, then that code blows up!
We should check the length before we mark the property as `selected`....

[2018-05-04 00:42] leddie24 commented on #4234
I think this should be resolved from #4491 .  Please reopen if this is not the case.  Linking a video below with the changes from 4491 (and removing the non DetailsList stickies)

[video](https://streamable.com/sdnru)

[2018-05-04 00:42] #4234 closed

[2018-05-04 03:45] betrue-final-final commented on #4269
Sure. @jordandrako, here's the info.
Rest has no visible check.
Hover, and key focus, the border is #666666, or neutral secondary. The check is only supporting info in this case, but is tripping Keros because it's lighter. However the empty circle is clear enough.

Please check the border, and if it is #666666, then close this issue.

[2018-05-04 03:48] betrue-final-final commented on #4269
One thing we could do is stop showing the circle on hover areas which do not result in a selection, and only show it without the check on hover over areas that will result in a selection. We can chat tomorrow.

[2018-05-04 06:11] dzearing opened #4772 "Standardize on "text", "secondaryText", and "tertiaryText""
A number of components have inconsistent naming conventions for rendering the text.

We have internally discussed and agreed we want to standardize all things:

Proposal:

Text should be rendered with the `text` prop.
Secondary text should be rendered with the `secondaryText` prop.

Work:

Persona: currently has "primaryText". This should be deprecated in favor of "text".
ContextualMenuItem: curre

[2018-05-04 07:49] blandine commented on #4735
Thanks for your quick answer.
I'd like to have an input with the datepicker (some users are faster if they can write the numbers directly).
I will look into using the calendar component with a custom input bound to it and see how it goes.

[2018-05-04 12:59] b-priyank opened #4774 "Firefox: HighContrast: disabled choce group option is not adhering to high contrast colors"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: Firefox 59.0.2 in Windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: visualstudio.com

#### Describe the issue:
#### Actual behavior:
In Firefox,
Disab

[2018-05-04 13:54] EA12 opened #4775 "Multiple Instances of ToolTipHost on the same view"
### Bug Report
Package version: "office-ui-fabric-react": "5.21.0"
Browser and OS versions: Edge and Windows 10

Are you willing to submit a PR to fix? (No)

Requested priority: (High)

Describe the issue:
Multiple instances of the ToolTipHost on the same view does not show the ellipsis, no ToolTip and does not truncate the text.

I used the [Demo ](https://github.com/OfficeDev/office-ui-fabric-re

[2018-05-04 16:04] #4533 closed

[2018-05-04 16:43] dzearing commented on #4772
While we are doing this, let's make sure our documentation in ghdocs includes instructions on the property way to deprecate things.

[2018-05-04 16:45] yolena commented on #1700
The in-situ variant for drop down component is missing from the code library. @mikewheaton, let us know how soon this can be resolved. We have a project that is currently relying on this component.
cid:image001.png@01D3E203.A41623D0

[2018-05-04 17:34] aditima commented on #4654
Adding @dzearing for his thoughts on the potential UX-only piece. Should this just be a variant of the DocumentCard? There is some overlap with the ChicletCard as well.
These are really all different UX representations of a generic Item - with potentially a picture, title, secondary/tertiary texts and some variable 'action' area that could host activities, command buttons, or even custom component

[2018-05-04 17:39] aditima commented on #3685
@ssingh28 - this sounds related to how the TextField interacts with the surrounding context in your pane. Narrator does read out the error message in the TextField demo page. https://developer.microsoft.com/en-us/fabric#/components/textfield
Can you please share a repro (either codepen or your MS site)?

[2018-05-04 17:42] aditima commented on #3313
@dzearing - this sounds like a fair ask. How do you feel about adding a onRenderHeader prop like the onRenderRow we have? Or do you recommend the headerAs pattern?

[2018-05-04 18:08] pschaeflein commented on #4654
Part of my issue, I think, may be the documentation or lack thereof.

I agree the card for a SharePoint site could just be form of document card, with differing backgrounds for preview/title. But the Document Card documentation is quite strong abut using it only for documents. (Compare this to an Office 365 Card or Adaptive Card which are quite clear about their flexibility.)

HVC is an entirely n

[2018-05-04 18:17] michaelangotti commented on #4774
@b-priyank Firefox does not support High Contrast modes or does so inconsistently. We only support the high-contrast mode on IE/Edge. Closing this issue.

[2018-05-04 18:17] #4774 closed

[2018-05-04 18:48] arunarokk opened #4778 "Invalid aria-labelledby for contexualmenu container"
### Bug Report

- __Package version(s)__: (5.66.0)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: ( Normal)

Products/sites affected: (if applicable)

#### Describe the issue:

For implemention of
IconButton +  Contexualmenu

showing contexualmenu o

[2018-05-04 19:41] #4685 closed

[2018-05-04 22:11] KevinTCoughlin opened #4781 "GroupedDetailsList example not collapsing group onClick"
### Bug Report

- __Package version(s)__: `5.93.0`
- __Browser and OS versions__: FF `60.0b16 (64-bit)`

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: https://developer.microsoft.com/en-us/fabric#/components/detailslist#Variants

#### Describe the issue:

The Grouped DetailsL

[2018-05-04 22:47] cschleiden commented on #4694
@cliffkoh Yep. We use `.d.ts` files in VSTS without problems. No module emitted, TS is happy.

[2018-05-05 02:42] JllyGrnGiant commented on #2545
+1 to @mshmelev 's example of the dropdown at the bottom of a page opening as an unusable artifact.

I have small real estate to work with in an iframe and I have a combobox at the bottom. The control is completely unusable because opening the dropdown gets that scrunched callout. It only opens upward once you've obscured part of the bottom of the combobox with the bottom of the page/iframe.

[2018-05-05 03:17] ProTip commented on #3853
Looking at the example page now this appears to be resolved?

[2018-05-05 06:56] karthikb87 opened #4786 "Breadcrumb renders divider incorrectly when overflow item is at last index"
### Bug Report

- For office-ui-fabric-react@5.87.0

#### Priorities and help requested (not applicable if asking question):
Priority: Normal

Are you willing to submit a PR to fix? (Yes)

#### Describe the issue:

1. The Breadcrumb component renders the divider to the last item when overflow index is set to the last item.
2. And also the divider is not rendered next to the normal item for the cas

[2018-05-05 09:39] joerneu opened #4789 "configureLoadStyles does not work"
### Bug Report

- Package versions:

 - "office-ui-fabric-react": "5.96.0"
 - "microsoft/load-themed-styles": "1.7.56"
 - "aspnet-prerendering": "3.0.1"
 - "react": "16.3.2"

Are you willing to submit a PR to fix? (No)

Requested priority: Normal

#### Describe the issue:

According to the [documentation](https://github.com/OfficeDev/office-ui-fabric-react#server-side-rendering), we can use config

[2018-05-07 06:16] jekaspekas commented on #3656
I have the same problem.
[This example](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/GroupedList/examples/GroupedList.Basic.Example.tsx) produces an error at startup React Create App development mode.

[2018-05-07 08:05] manasark opened #4793 "DetailsList fail to render the data as it is scrolled"
### Bug Report

- __Package version(s)__: (5.64.1)
- __Browser and OS versions__: (All browsers and Windows 10)

#### Priorities and help requested (not applicable if asking question):

Requested priority: ( High )

Products/sites affected: (IRIS Studio)

#### Describe the issue:

Scrolling down the items in DetailsList does not show all items. Instead the list will stay blank after a first 20 ite

[2018-05-07 11:11] mubash7 commented on #4733
![ui](https://user-images.githubusercontent.com/38504697/39699073-32659e96-5215-11e8-9c3d-df1565b17984.gif)
I am attaching GIF of what I have build on my SharePoint online site. when I click on Up Revision, a dialog opens. and in that dialog box there is an html file input control. rest everything I have from office-ui-fabric.
For design consistency, I would like to use file input from office-ui-f

[2018-05-07 12:14] Fensterbank commented on #4691
@oengusmacinog No, there are no console errors.

I built an example to show what I mean: https://codesandbox.io/s/mornj9oymx
For every menu item I have three events:
`onLinkClick` as prop for `Nav` when a link is clicked.
`onItemClick` when the root item of the element rendered by `MainMenuLink` is clicked.
`onStarClick` when the favorite star is clicked.

**I notice the following:**
- Hovering th

[2018-05-07 17:46] oengusmacinog commented on #4169
stay alive

[2018-05-07 18:08] KevinTCoughlin commented on #4793
Hey @manasark, thanks for the report. Is it possible for you to provide an isolated repro in [Codepen](https://codepen.io/) or something similar? It will help us debug and solve whatever you are facing. Given your report I'd expect to see the same on the main site, https://developer.microsoft.com/en-us/fabric#/components/detailslist. However, it seems to be working as expected there.

[2018-05-07 18:09] lynamemi commented on #2228
@manasark Still not completely clear on the expected behavior here. Is it:

1. Dropdown's callout width
OR
2.  Dropdown's input field / container width

that you want to snap to the longest option's width?

[2018-05-07 18:09] wygoodin opened #4795 "ContextualMenu does not focus on first focusable element when opened"
### Bug Report

- __Package version(s)__: 5.88.0
- __Browser and OS versions__: Edge on Windows 10, among others

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
If necessary

Requested priority: (Blocking, High, Normal, Low)
Normal

Products/sites affected: (if applicable)
Any that use override ContextualMenu

#### Describe

[2018-05-07 18:33] micahgodbolt commented on #4775
Is it possible to provide a repro of the bug in codepen?

Here's a start of one. https://codepen.io/micahgodbolt/pen/vjWzZP

[2018-05-07 18:52] jordandrako commented on #3853
The page is still jittery and slow to load virtualized pages within details list, but we figure it's because there are a lot of examples with many thousands of rows being calculated, so there is currently a PR to separate the examples into sub-pages to see if that fixes it. I'll close this if it does.

[2018-05-07 19:14] OneCyrus commented on #3853
well there is something broken with the re-rendering logic. there are way too many rerenderings while scrolling in a list.

[2018-05-07 20:26] dzearing commented on #4214
e.g.
[code]

Then you call `buttonRef.current.focus()`.

The other alternative is that we introduce a `renderAs` to render the `Persona` as something else which can receive focus? Maybe?

[2018-05-07 20:56] kelseyyoung opened #4800 "ContextualMenuButton and ContextualMenuAnchor should be combined into one file"
### Bug Report

- __Package version(s)__: 5.96.1
- __Browser and OS versions__: N/A

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes (assigned to myself)

Requested priority: Normal

Products/sites affected: None

#### Describe the issue:

Recently ContextualMenuButton and ContextualMenuAnchor were created as their own separate co

[2018-05-07 21:03] KevinTCoughlin commented on #4558
Going to close this as it does seem to be a user env related issue and we closed the other issue that was mentioned. Happy to re-open with add'tl context / repro.

[2018-05-07 21:03] #4558 closed

[2018-05-07 23:58] #4786 closed

[2018-05-08 05:33] manasark commented on #2228
@lynamemi option 2

[2018-05-08 12:12] jimlamb opened #4808 "New Component: Tag List"
### Problem

The TagPicker won't always be used in the context of a data-entry form. There will be cases where we want to show the tags associated with an entity and provide an in-place editing experience.

### Proposed solution

Add a showChromeOnFocusOnly property that, when set to true, hides the border and the "X" (remove) buttons. When the component gets the input focus, these elements will b

[2018-05-08 14:57] seriewe commented on #4398
We observe the same  Issue  on modern SharePoint Online Sites with iPhone / iPad (Safari, Edge and  Chrome) the React Panel is not visible the overlay is transparent and user is kind of blocked. But for us it works if we disable -webkit-overflow-scrolling: touch on the body tag. Do somebody (Microsoft) know what the style is for?

![image](https://user-images.githubusercontent.com/10572013/3976451

[2018-05-08 16:13] lynamemi commented on #2228
Ok sounds good. That one will probably take a little more time than the other. I can try to get to it in the next couple of weeks, but if you have bandwidth to take it on, I can help with PRs.

[2018-05-08 16:32] buckingj commented on #2228
For what it's worth, don't we want both 1 and 2?

If I have a dropdown with "foo", "bar", and "baseball" in it, and I select "foo" and then show the dropdown, the dropdown will only truncate that last entry to "bas...".

I suppose if we fix #2, that will also implicitly fix #1, right? Assuming that's the case, that would be ideal. Truncating strings looks terrible in a dropdown, and seeing the dro

[2018-05-08 17:56] marichinn opened #4812 "Teaching Bubble close icon on hover"
### Bug Report

#### Describe the issue:

The close icon on the teaching bubble turns white on hover instead of remaining blue. This is reproducible on the office fabric doc page. <a>https://developer.microsoft.com/en-us/fabric#/components/teachingbubble</a>

[2018-05-08 18:00] arunarokk opened #4813 "DetailsList column headers not accessible when selectionMode=SelectionMode.single using Keyboard navigation"
### Bug Report

- __Package version(s)__: (5.96.0)
- __Browser and OS versions__: (browser- chrome, edge and windows 10)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: (Normal)

Products/sites affected: (if applicable)

#### Describe the issue:

when selectionmode is single for the detailslist, keyboard nav

[2018-05-08 18:41] peterdur-msft opened #4814 "ContextualMenuButton sets aria-checked attribute even if role is not menuitemcheckbox"
### Bug Report

- __Package version(s)__: 5.91.0
- __Browser and OS versions__: Chrome 66.0.3359.139, Win10 1709

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: (Normal)

Products/sites affected: (Detected by and in [Keros for Web](https://aka.ms/keros))

#### Describe the issue:

- Go to https://developer.m

[2018-05-08 18:50] HalcyonPride opened #4815 "[Accessibility] ContextualMenu: Narrator Reads 'Menu' Twice when User Activates ContextualMenu"
### Bug Report

- __Package version(s)__: 5.97.1
- __Browser and OS versions__: Narrator on Edge

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: OneDrive Web

#### Describe the issue:

Open a ContextualMenu on Edge with Narrator active.

#### Actual behavior:

Narrator announce

[2018-05-08 20:43] rebeccaballantyne commented on #4795
The desired behavior here is if you keyboard to a contextual menu off of a button (press Enter, or Alt + Down) then focus will go to the first item, otherwise it will go to the container.

If you pull the latest bits, you will see that is what the contextual menu is doing.

[2018-05-08 20:48] rebeccaballantyne commented on #4815
Worth noting that this only repro's in Edge when you CLICK on the contextual menu button. It is by design that focus should go to the entire container in this situation (for keyboarding, focus should go to the first menu item), but it is not by design that "menu menu" or "aria label aria label" is read twice.

[2018-05-08 20:55] rebeccaballantyne opened #4816 "Focus cannot move to the remove button on people picker selected item"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: ODB Share

#### Describe the issue:

When the <- arrow is hit after multiple people have been selected from the people picker, focus moves to the entire people picker item. The item is not actionable, but the remove button is. Focu

[2018-05-08 20:56] rebeccaballantyne opened #4817 "Name of deleted item is not read from people picker"
Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: ODB Share

#### Describe the issue:

When deleting selected items from the people picker (either by using backspace key or the "remove" button), the name of the person that was just removed should be read.

[2018-05-08 21:18] adriantran commented on #3630
I have changes to add overflowMenuProps to the current command bar

[2018-05-08 22:32] BizH commented on #3789
The most likely cause of this is enclosing it in a div (or any parent element like body) that has overflow-x explicitly set to hidden.

[2018-05-09 06:39] manasark commented on #4793
@KevinTCoughlin Yes, if the DetailsList is spanning the entire page, then we dont have any issue. However, if the DetailsList is constrained to a section of the page (attached screen shot), then we notice this issue.
![detailslist-2](https://user-images.githubusercontent.com/38311970/39799437-14091784-5319-11e8-96f6-3e141af1043b.jpg)

[2018-05-09 08:38] aleksandrenko opened #4821 "Add 'pattern' to the textField."
Please add a pattern to the textField, similar to the default 'patter' attr for <input /> to limit the possible value. Limiting the input to valid values is much better UX then making possible to enter an invalid value and showing errors.

https://www.w3schools.com/tags/att_input_pattern.asp

[2018-05-09 08:40] jberu624 commented on #4689
Has this issue been resolved? i'm experiencing the same issue. Thanks

[2018-05-09 12:20] veloiya opened #4822 "Keyboard focus for tagItem when picker is disabled"
### Bug Report

- __Package version(s)__: 5.91.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: VSTS

#### Describe the issue:

When the tag picker is in disabled state the tags are not focusable by the keyboard which causes accessibility problems.

#### Actual behavior:

Tag

[2018-05-09 13:44] betrue-final-final commented on #4822
Actually they should be accessible via scan mode but not via tab/arrows.

We have another issue pertaining to making disabled items focusable that will address this.

[2018-05-09 15:53] aappddeevv opened #4824 "6.0.0-beta2: Compilation errors"
Compiling produces an error internal to fabric. I don't think these are related to my code. They compile fine under 5.98.0.

I do not use fabric's Calendar in my application:
[code]

This error is not so clear, but MenuTrigger is choking on creating ContextualMenu and it looks like an error on comonentWillReceiveProps inside ContextualMenu.
[code]

[2018-05-09 16:40] lynamemi commented on #2228
@buckingj @manasark - It would be great if one of you submitted a PR for this change - I'm going to unassign myself. It sounds like there are a few different directions we could take that would help you out and a PR would be a great place to continue this conversation. I'm happy to help review.

[2018-05-09 17:52] matt-erhart opened #4827 "pivot examples don't render"
Tried running a few of the pivot examples and didn't get any errors but couldn't get anything to show up. I see there have been some recent pivot changes, are the examples up to date? Are they copy/pastable or is there some provider needed to get them working? I tried  wrapping it in a <Fabric>.

[2018-05-09 17:58] OneCyrus commented on #4827
probably the same issue like here. I made a PR for this https://github.com/OfficeDev/office-ui-fabric-react/pull/4751
just waiting for @dzearing to review it.

[2018-05-09 18:14] dazhaksi opened #4828 "ChoicePicker with invalid 'aria-labelledby' when no label/aria-labelledby are provided."
### Bug Report

- __Package version(s)__: **5.91.1001**
- __Browser and OS versions__: **Chrome, All**

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? **Yes**

Requested priority: **Low**

Products/sites affected: (if applicable) **Compliance Extension of Visual Studio Team Services**

#### Describe the issue:
Line 74 of ChoicePicker

[2018-05-09 18:48] aappddeevv opened #4829 "document new styled() HOC in the merge-styles README.md"
It seems that a major pattern is to use the `styled` HOC with the component broken out into a `C.base.tsx` and `C.tsx` (which uses `styled`). This is a request to document in the [merge-styles](https://github.com/OfficeDev/office-ui-fabric-react/tree/master/packages/merge-styles) page. It seems  like the pattern should be described there. There is alot of abstraction coming out of the new styling

[2018-05-09 22:01] #3630 closed

[2018-05-09 22:41] antonlabunets opened #4832 "Can BaseButton not depend on ContextualMenu through IContextualMenuProps but some interface?"
### Bug Report

- __Package version(s)__: 5.96.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (High)

#### Describe the issue:

In an effort to reduce bundle size on critical path rendering, we are trying to defer what is not required upfront.
One such control from Fabric for us is ContextualMenu, wh

[2018-05-10 00:07] JasonGore commented on #4772
I've done the work for ContextualMenuItem, but as it affects CommandBar impl (which needs modifications to support new 'text' prop), I will wait to merge until 6.0's new CommandBar implementation is merged into mainline.

https://github.com/JasonGore/office-ui-fabric-react/tree/jagore/deprecate-contextualmenu-name

[2018-05-10 07:03] veloiya commented on #4822
What accessibility guidelines are we following when the tags are accessible only in scan mode?
In the case that there is a readonly tag containing a link shouldn't it be keyboard accessible.

[2018-05-10 17:44] aditima commented on #4812
@dzearing - this seemed like a good first bug to fix, so assigned to Katherine. Please reassign if you need to.

[2018-05-10 17:48] oengusmacinog commented on #4808
@jimlamb This is not how the TagPicker is meant to be used.  It sounds like you want something that functions as a tag cloud (display only).  Marking as a Feature Request that needs design.  I am not sure I understand the context of the edit on focus.

[2018-05-10 17:48] michaelangotti commented on #4814
@joschect Do you recall why this code was changed?

[2018-05-10 17:59] michaelangotti commented on #4827
@matt-erhart We aren't able to repro this. Can you provide a code pen?

[2018-05-10 18:00] michaelangotti commented on #4828
@dazhaksi Thanks fro offering to submit a PR for this. Go for it!

[2018-05-10 19:14] arunarokk opened #4836 "ChoiceGroup - aria-labelledby="" is getting added even if there no group label."
### Bug Report

- __Package version(s)__: (5.96.0)
- __Browser and OS versions__: (chrome & edge windows 10)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? ( No)

Requested priority: (Normal)

Products/sites affected: (if applicable)

#### Describe the issue:

For Choicegroup if there is no group label associated, aria-labelledby=""

[2018-05-10 20:39] aditima commented on #3619
@ssingh28 - Closing this since we haven't heard from you on this in a while. Please reopen if you still need this fixed.

[2018-05-10 20:39] #3619 closed

[2018-05-10 20:40] aditima commented on #3678
@jordandrako - keeping this with you as it's essentially the same as  #4605. @Jahnp - FYI...

[2018-05-10 20:56] aditima commented on #4440
@betrue-final-final - do we want something like this? Wanted to hear your opinion here...

[2018-05-10 20:58] aditima commented on #4450
@stephenzsy - thanks for the PR! Assigning the issue to you since you already have the PR...

[2018-05-10 20:59] lynamemi commented on #4565
Took a look at this, and not sure if I'm reproing

@davidleacy Do you mean ComboBox or Dropdown? You mention both in different places. While they are similar, they are different controls at this point.

@betrue-final-final I navigated around ComboBox and Dropdown a little but didn't hear anything too fishy. Can you test this also for repro?

[2018-05-10 20:59] lynamemi commented on #4729
Some of this has changed in the 6.0 branch. Waiting until that is out of beta to address this.

[2018-05-10 21:02] rebeccaballantyne opened #4838 "Arrowing on contextual menus to open sub menus is broken, no role 'menu' when keyboarded"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: High

#### Describe the issue:

Contextual menu's no longer open via <- and -> arrow keys on sub menus (due to change I put out last week.)

[2018-05-10 21:10] lynamemi commented on #4778
Adding @joschect as codeowner

[2018-05-10 22:40] #4764 closed

[2018-05-11 06:52] krutikaS opened #4847 "How to move files and change file directory in office-UI-fabric-react/lib/DetailsList component using drag and drop functionality"
How to move files and change file directory in office-UI-fabric-react/lib/DetailsList component using drag and drop functionality
### Bug Report

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)
High
Products/sites affected: (if applicable)

#### Describe the issue:

I want t

[2018-05-11 07:17] ronak-92 opened #4848 "Narrator reads non-selected when clicking on details list rows even in non-selection mode"
### Bug Report

- __Package version(s)__:  5.91.0
- __Browser and OS versions__: Narrator on Edge
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? If required, yes, but don't know the fix

Requested priority: High

Products/sites affected: VSTS

#### Describe the issue:
When clicking on any row in details list with selection mode set t

[2018-05-11 16:12] cschleiden opened #4849 "Re-introduce Portals support"
The API used by the current `Layer` implementation: `unstable_renderSubtreeIntoContainer` has a number of problems.

1. It will be deprecated in a future React minor release (https://github.com/facebook/react/issues/12493#issuecomment-377539865)
2. It does not support the new context
3. It looks like a normal React component to consumers, but lifecycle methods behave in a very unexpected way

Just

[2018-05-11 16:30] cschleiden commented on #4849
Something like this, `EventBoundary` might work: https://codesandbox.io/s/5zlnyxjrrn

[2018-05-11 17:58] arunarokk opened #4851 "Dropdown - aria attributes aria-readonly , aria-autocomplete not applicable for role=listbox"
### Bug Report

- __Package version(s)__: (5:96.0)
- __Browser and OS versions__: (chrome and win 10)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: (Normal)

Products/sites affected: (if applicable)

#### Describe the issue:

Keros for web tool  shows error on dropdown - aria-allow-attr - for aria-readonly

[2018-05-11 18:14] aditima commented on #4521
@gbminnock - hopefully this solved your issue. Closing this now, please feel free to reopen if you have more questions.

[2018-05-11 18:14] #4521 closed

[2018-05-11 18:15] aditima commented on #4478
@dzearing - what is your latest guidance on this?

[2018-05-11 18:34] #4832 closed

[2018-05-11 20:39] dzearing commented on #4249
We should have a few more tests here. Katherine can help push the PR through.

[2018-05-12 02:55] jberu624 commented on #4689
@AsishP is there a way you could share your fix. It's been two weeks since you brought up the issue and it doesn't seem like there's any hurry to fix.

[2018-05-12 11:36] AsishP commented on #4689
@jberu624, sorry for the delay, the issue was fixed but waiting for some feedback for my comment above.

Pull Request created now with the fix.

[2018-05-14 14:18] davidleacy commented on #4565
Hi @lynamemi, I mean Dropdown, when I originally opened this bug the dropdowns were being called out as Comboboxs by Windows Narrator, that appears to fixed, can't repro on the sample site.

The issues above that do still remain are the fact that the dropdown is considered as 3 items why the Narrator in item view, the biggest issue here is when the screen reader reads "selection, 0 items selected"

[2018-05-14 14:26] nali opened #4859 "ContextualMenu's subMenuHoverDelay is ignored"
### Bug Report

- __Package version(s)__: 5.101.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected:

#### Describe the issue:

When using a ContextualMenu, the specified `subMenuHoverDelay` prop is ignored.

#### Actual behavior:

The default time of 250ms is always how long it

[2018-05-14 16:56] #4859 closed

[2018-05-14 16:59] lynamemi opened #4861 "LayerPage: Can't scroll on website until after dismiss of example"
This example: 'Using Customizer to control the default layer behavior' has a panel popped up on page load. Until you dismiss it, you can't scroll the page.

[2018-05-14 17:00] lynamemi commented on #4861
@ThomasMichon assigning this one to you since it look like you're codeowner for Layer

[2018-05-14 19:01] #4838 closed

[2018-05-14 20:27] #4249 closed

[2018-05-15 05:14] biranchipanda opened #4866 "Hyperlink clicks aren't selecting items in SelectionZone (Disabled in PR 4544)"
Changes in PR #4544 is preventing hyperlinks in SelectionZone from clobbering interactive sub-elements. An attribute to allow this would be much helpful to existing implementations.

#### Actual behavior:

click on a hyperlink is no longer selecting the item.

#### Expected behavior:

Hyperlink click should propagate selections. As discussed, "data-selection-auto-select='true'" on the button (or a

[2018-05-15 05:41] dzearing commented on #4827
The change was merged and should be good now.

[2018-05-15 06:01] dzearing commented on #4827
Hmmm. I have a suspicious there is some webpack stuff going on here. I tested in codepen and I see the pivot in non minified, but not in minified. Let me dig a little deeper.

[2018-05-15 06:07] dzearing commented on #4827
@OneCyrus figured it out.

![image](https://user-images.githubusercontent.com/1110944/40039513-81f51f70-57cb-11e8-930e-7cbdcd58021f.png)

Not quite sure this change will work in minified.

[2018-05-15 06:26] #4851 closed

[2018-05-15 07:15] dzearing commented on #4829
I do think documentation is good. I don't think the merge-styles docs are the ideal place to do it.

We're in discussion of evolving the `styled` hoc to be more robust and to support stateless functional components. That's coming after 6.0 is complete.

In the meanwhile, all of the styling docs are available here:

https://github.com/OfficeDev/office-ui-fabric-react/blob/master/ghdocs/BestPractice

[2018-05-15 07:15] #4829 closed

[2018-05-15 07:17] dzearing commented on #4827
https://codepen.io/dzearing/pen/NpNjad

Works now! Hopefully this should also work with react hot loader, which I believe was the problem scenario.

[2018-05-15 07:17] #4827 closed

[2018-05-15 07:30] #4415 closed

[2018-05-15 07:30] #4623 closed

[2018-05-15 07:35] dzearing commented on #4214
But @Jahnp @mtennoe I'm not sure why this makes any sense. We should reserve focus for actual interactive elements (buttons, anchors, and inputs) and not for things which have no interactive behavior. Please correct me if i'm wrong.

@ipip2005 Can you please explain your scenario as to why you want this?

[2018-05-15 07:49] Jahnp commented on #4214
@dzearing Ahh good catch--for some reason I thought I recalled Personas being intrinsically interactive vs just vanilla `div`s. Yes, in that case afaik focus *should* just be a concern for the composer, such as in your example. Curious to hear more on why this is desired for persona.

[2018-05-15 07:57] mtennoe commented on #4214
@dzearing - Ah yes, a misunderstanding form my side as well, thanks for clearing things up!

[2018-05-15 09:50] krutikaS commented on #4847
I am done with this

[2018-05-15 09:50] #4847 closed

[2018-05-15 14:23] arunnagar15 opened #4869 "Screen Reader is Reading role property of contextual menu twice"
**Bug Report**

**Describe the issue:**

Narrator is Reading role of contextual menu twice:
I have used the Details List with contextual menu and did accessibility testing on it using Screen Reader and found the following issue:

**Issue Details:**
 When Narrator reaches to Contextual menu and enter is pressed than popup of action opens and focus is set to the popup and Narrator reads the role pro

[2018-05-15 14:32] kmrrakesh opened #4870 "[Accessibility] DetailsList's Column header text is not being read with its state of sorting, i.e., "ascending" or "descending""
**Bug Report**
**Describe the issue :**
Screen-Reader is not reading DetailsList column header text with "ascending" or "descending".

I have used the DetailsList and did accessibility testing on it using narrator with edge browser, at header columns of grid, with CAPS LOCK + LEFT/RIGHT arrow key.

**Actual behavior:**
Column header text is not being read with its state of sorting, i.e., "ascendin

[2018-05-15 16:38] ian-craig opened #4871 "ProgressIndicator has invalid aria-valuenow="NaN" when using Indeterminate / no percentComplete"
### Bug Report

- __Package version(s)__: 5.100.0
- __Browser and OS versions__: Chrome / Win10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: High

#### Describe the issue:

`<ProgressIndicator />` uses the indeterminate UI when `percentComplete` prop isn't specified, but the resulting HTML still has `aria-

[2018-05-15 16:42] dzearing commented on #4871
This seems like a pretty simple change; we can hold off looking into this if you plan to have a PR to address shortly! Let us know!

[2018-05-15 16:44] #4772 closed

[2018-05-15 16:54] random-creator opened #4873 "Combobox: Invalid ARIA attribute values: aria-describedby and aria-owns when disabled"
### Bug Report

- __Package version(s)__: 5.91.1002
- __Browser and OS versions__: chrome

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) yes

Requested priority: (Blocking, High, Normal, Low)  Normal

Products/sites affected: (if applicable): VSTS

#### Describe the issue:
Keros FastPass scan fails with this error on combo

[2018-05-15 18:36] jordandrako commented on #4214
Thanks for clearing that up. Let me know if there are any leftover actionables here.

[2018-05-15 18:36] #4214 closed

[2018-05-15 18:37] #4711 closed

[2018-05-15 18:39] rebeccaballantyne opened #4875 "PeoplePicker suggestions not adopting high contrast colors"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites affected: All

#### Describe the issue:

1. Open a word document
2. Navigate to "Share" button in the ribbon and press Enter to activate it
3. Observe that "Share" dialogue will open
4. Navigate to "People to share with" editable combo box and

[2018-05-15 21:13] bennettclark commented on #4821
I tested on the latest version (5.97.0) and I was able to add `pattern` as a prop on the **textField** and see it successfully render on the input element.

If you're looking for form validation, please take a look at the `onGetErrorMessage` prop.

Closing because this is not an issue on the current version. Please feel free to open a new issue if you are still having any problems!

[2018-05-15 21:13] #4821 closed

[2018-05-15 21:46] #4871 closed

[2018-05-15 22:43] jordandrako commented on #4571
DocumentCard is a `div` which is not normally interactive. If you need it to have focus, it should probably be wrapped in an interactive tag like `button`.

eg
[code]

Then you call buttonRef.current.focus()

[2018-05-15 23:11] JasonGore commented on #4870
If you know of a grid example that actually reads sort mode with Narrator in Edge, please let me know. I could not find one.

DetailsList output seems to be properly formatted using the defined roles and `aria-sort` property according to the ARIA specification: https://www.w3.org/TR/wai-aria-1.1/#aria-sort

I have done some investigation and couldn't find an example making use `aria-sort`, such as

[2018-05-16 02:15] joechung-msft opened #4882 "Cannot compile Fabric 5.92.0 (or later) when using AMD as TypeScript target"
### Bug Report

- __Package version(s)__: 5.92.0 (or later)
- __Browser and OS versions__:

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) Blocking

Products/sites affected: (if applicable) Microsoft Flow, Logic Apps

#### Describe the issue:

This change in `/packages/s

[2018-05-16 04:43] BrendanMcK opened #4883 "Link focus outline breaks on links that wrap across lines"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: Any

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No; unclear what right fix is for Fabric

Requested priority: Normal

#### Describe the issue:

Focus outlines for links breaks when the link wraps around a line. (Also, the outline box can obscure the i

[2018-05-16 07:46] petercutting commented on #4650
I have just checked the documentation link above, and I still see no info about how to provide suggestions based on what the user has typed in the SearchBox ie LiveSearch. What am I missing something here?

[2018-05-16 11:45] bva999 commented on #4050
I have the same problem (100 000 and more items), but I don't understand how to solve it with DetailsList.
Сould you explain to me what I should do and what to use (onRowDidMount  or onRenderMissingItem )? Or to show a working example? I'm confused. ((

[2018-05-16 11:50] Alison-Sarah-P-C commented on #2587
Any updates on getting this converted to css in js?

[2018-05-16 12:35] CaptainSadaf opened #4885 "Resize size of registered icons in fabric react."
I have been working with office ui fabric react js and have registered the material design icons in fabric but how i can over ride the size of registered icons.

if i set the font size 14px to ms-fabric class then icon seems in reasonable shape but icons seems too small if i set the font size 12px to ms-fabric class.
  registerIcons({
    fontFace: {
      fontFamily: "Material Design Icons !impor

[2018-05-16 12:45] Leko opened #4886 "Slider: Cannot set default value as 0"
### Bug Report

- __Package version(s)__: 5.95.0
- __Browser and OS versions__:

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:
I want to use Slider as below:

[code]

But default value is not working.

#### Actu

[2018-05-16 13:23] enriquin opened #4887 "CommandBar FarItems Overflow behavior"
Hi all,
When resizing the a CommandBar control that has both items and farItems the item overflow behavior is a bit counter intuitive.
There is an example in: https://developer.microsoft.com/en-us/fabric#/components/commandbar#Implementation

When the screen is wide, the presentation is OK, since all the items are displayed:
![large](https://user-images.githubusercontent.com/30507975/40119114-0c62

[2018-05-16 14:59] betrue-final-final commented on #4887
These are actually two sets of commands in the command bar. The commands on the right are view oriented commands, whereas the ones on the left act on objects in the list. In your last screenshot you are seeing a bug. At that size, there should be two commands to the left, and all the commands should change to icon only.

[2018-05-16 17:20] MLoughry opened #4888 "Close button on TeachingBubble has glaring background on hover"
### Bug Report

- __Package version(s)__: 5.100.0, 6.0.0-beta4

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes, if there's a redline from design

Requested priority: Normal

#### Describe the issue:

The TeachingBubble's close button has a bright grey background on hover that contrasts with the blue callout background and washes

[2018-05-16 18:19] IASamoylov opened #4890 "'DetailsList Locked Header' bug with horizontal scroll"
### Bug Report

- __Package version(s)__: (5.100.0)
- __Browser and OS versions__: (chrome/firefox/safari windows 7/macos)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: (Normal)

#### Describe the issue:

If the width of content  more than width of the container, then sticky header does not scroll with con

[2018-05-16 18:25] chrismohr commented on #4669
Thanks @KevinTCoughlin !

[2018-05-16 18:35] bennettclark commented on #4068
We recommend using the **Textfield** component's `description` prop rather than the native `aria-describedby` prop, because `description` automatically creates the description span with unique ID for you.

I've submitted a Pull Request to add support for the `aria-describedby` native prop as a fallback if the `description` and `errorMessage` props are not set.

[2018-05-16 18:59] chrismohr opened #4892 "Tooltip covers its trigger content if child is a block-level element"
### Bug Report

- __Package version(s)__: 5.103.0 and 6.0.0-beta4

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Low

Products/sites affected: Yammer

#### Describe the issue:

Tooltip covers its trigger content if child is a block-level element.

We can workaround this by overriding css.
[code]

Maybe this

[2018-05-16 19:35] StfBauer commented on #4440
@betrue-final-final If you implement it like this, then you are right, but this is not a typical use case.. ;)

It is more an option not a must to follow your argumentation even the error message doesn't make sense because potentially you could have error messages everywhere.

It is more additional options show a different kind of state if needed.

On some fields, I like to evaluate and give insta

[2018-05-16 21:12] #4882 closed

[2018-05-16 21:19] cliffkoh commented on #4817
Untag 6.0 tag as the 6.0.0 release isn't tracking any changes to People Picker specifically at the moment.

[2018-05-16 22:02] betrue-final-final commented on #4440
I'm not sure I understand your response.  The image I shared is a success message attached to the specific control, which is what I thought you needed.

Can you describe an end user scenario, where the shown success message doesn't work? Is it that you just want it to be green?

[2018-05-17 02:19] nikhilexe opened #4900 "Panel: light dismiss not working when focusTrapZoneProps present"
Looks like some recent regression where light dismiss not working when Panel component has focusTrapZone props present, see this code pen link https://codepen.io/nikhilexe/pen/OZoqoL, I am passing firstFocusableSelector as null. if you remove focusTrapZone props then light dismiss will start working. Earlier same thing was working fine.

[2018-05-17 06:55] mubash7 commented on #4733
@aditima is there a file input control in office?

[2018-05-17 09:14] Fensterbank opened #4901 "Nav: Expanded state of all groups are set back to default if item is added or removed"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: all

#### Priorities and help requested (not applicable if asking question):

No

Requested priority: Normal

#### Describe the issue:

It doesn't seem the collapsed/expanded state is preserved in the `Nav` or it is resetted to the initial prop when the `links` prop changed.
When using `Nav` and more items are dynamica

[2018-05-17 15:47] bpringe opened #4902 "Some icons not displaying"
### Bug Report

- __Package version(s)__: 1.4.1
- __Browser and OS versions__: Chrome - 66.0.3359.181. Windows 10 v10.0.16299 Build 16299

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

#### Describe the issue:

Some icons not displaying. Specifically I have noticed the TimeEntry and TimeSheet icons do

[2018-05-17 15:50] lynamemi commented on #4902
@bpringe this looks like a FabricCore issue. Could you open in that repo? Thanks!
https://github.com/OfficeDev/office-ui-fabric-core

[2018-05-17 15:53] bpringe commented on #4902
Ah, yes. My apologies!

[2018-05-17 15:53] #4902 closed

[2018-05-17 16:11] IASamoylov opened #4903 "[TextField] Error message does not hide after typing when "validateOnFocusOut" attribute is set."
### Bug Report

- __Package version(s)__: (5.104.0)
- __Browser and OS versions__: (all)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes)

Requested priority: (Low)

#### Describe the issue:

Error message does not hide after typing when "validateOnFocusOut" attribute is set.  This bug appears since version 5.97.0

#### Actual b

[2018-05-17 17:35] oengusmacinog commented on #4903
@IASamoylov if you reference the [documentation](https://developer.microsoft.com/en-us/fabric#/components/textfield#Implementation) the `validateOnFocusOut` prop will as the description says "Run validation only on input focus out".  So when you stop typing nothing will happen.  Validation only occurs on the field when you focus out.  Unless I am misunderstanding, this feature is working as it was

[2018-05-17 17:47] JasonGore commented on #4708
It turns out multiple ITooltipHost props implicitly defer to Tooltip's defaults. I see two options: either document that ITooltipHost default values are Tooltip's (adding default values for many ITooltipHost props) or just clear this one value.

For now I'm just going to clear this value as that seems to be convention.

[2018-05-17 17:54] aditima commented on #4890
@leddie24 - we discussed this, and the suggested fix is add a scroll listener on the DetailsHeader so that we can sync with the body scroll and scroll the header automatically.
Also, on the ScrollablePane demo page, a separate scroll bar appears for the header. We definitely do not want that.

[2018-05-17 17:56] Fensterbank commented on #4691
So after some research and talking with friends I come to the conclusion that the thing I try is not supported.
Technically, buttons are supposed to grab all mouse events and act as a unified clicking surface, so child elements of `<button>` aren't part of hit testing.
Since it works partly, there definiteley are several issues in browsers when having interactive elements inside of `<button>`s.

S

[2018-05-17 17:56] #4691 closed

[2018-05-17 18:55] jordandrako commented on #4888
@betrue-final-final @Jahnp This seems to be another broken contract from the IconButton change I made a while back. Are we agreed that I should revert?

[2018-05-17 19:44] #4068 closed

[2018-05-17 20:05] oengusmacinog commented on #4650
Hi @petercutting! We don't provide examples of actually interfacing with APIs or anything in that realm of functionality.  Our components are UI layer only.  As for the UI aspect, I have not personally built this feature, but knowing what I do I would start with the **SearchBox** and **Callout** components.  For the functionality, all of the events should be there to implement a live search, since

[2018-05-17 21:46] aditima commented on #4887
@dzearing - this should be fixed with the 6.0 update. I just verified that the CommandBar in experiments fixes this issue. Looks like this with the overflow '...' when squished:

![image](https://user-images.githubusercontent.com/20650481/40205505-2054b4b6-59e1-11e8-89b6-ef6df6ff4d68.png)

[2018-05-17 21:48] aditima commented on #4886
@Leko - Thanks for reporting! We'd appreciate a PR to fix this.

[2018-05-17 23:45] JasonGore commented on #4866
Resolved by #4907.

[2018-05-17 23:45] #4866 closed

[2018-05-17 23:51] JasonGore commented on #4848
Issue officially documented for Edge: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/14844849/

[2018-05-17 23:51] #4848 closed

[2018-05-18 01:46] cobbs-totem opened #4911 "Support Portals in Layers to support React 16.3 Context"
I've been switching over much of my Redux code over to React 16.3 Context and noticed that Context Consumers don't seem to get props.  I believe this is because Modals create a layer outside of the App and therefore is not contained by the Context Provider.

I guess this is a question to any inside or outside the Office UI community- what's the appropriate path here?  Bridge it by passing props di