[2018-08-23 15:25] JasonGore commented on #6029
Consider it only affects Layers at the same level of hierarchy, I would say normal priority but I wouldn't mind David's confirmation.

[2018-08-23 15:35] micahgodbolt commented on #5992
One possible fix (though again a bit of a hack) is to modify the icon height/lineheight to make it match up with the text next to it. Problem is that this will only work with the default button styles. Any custom styles would make this fix ineffective.

The thing that baffles me right now is why when we set border width to 1px, we get a fractional width actually rendered

![image](https://user-ima

[2018-08-23 15:41] micahgodbolt commented on #5992
@billytrend can you confirm what browser you are using? I'm noticing a different behavior in this fractional border issue between firefox and Chrome. Firefox seems to render borders fractionally smaller than specified, whereas chrome renders them at the exact width (therefore, we shouldn't have this subpixel rendering issues in chrome). I'm on win10 btw.

[2018-08-23 17:01] natalieethell commented on #5752
Given what Narrator and Edge said above, I think that this issue might be related to another one being discussed right now: https://github.com/OfficeDev/office-ui-fabric-react/issues/5473. To summarize, it mentions that a dropdown with a placeholder will automatically focus on the first option when opened -- and the selected option if there is already one selected.

@cliffkoh it looks like you wer

[2018-08-23 17:43] cliffkoh commented on #5752
I have followed up offline with @arunarokk about this. We can have this bug issue be assigned to me and removed off Fabric Shield. It will require deeper investigation from my end but it is very likely the experience is as good as it will be from our end.

[2018-08-23 18:03] kkjeer commented on #6043
Spoke offline with @betrue-final-final the spacing between the icon and the view count text should be 8px.

[2018-08-23 18:09] natalieethell commented on #6022
Investigating this a little further, but it looks like the `lineHeight` attribute on the list styling is what's causing the issue:
https://github.com/OfficeDev/office-ui-fabric-react/blob/0f6c8f38ba0af3fac00c87a48911a46db6804885/packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.styles.ts#L39-L48

[2018-08-23 18:12] #6028 closed

[2018-08-23 18:37] kkjeer commented on #5990
@saurabhsuniljain thank you for the codepen! For me, narrator reads out: "View Extenstions. Analytics extension is disabled. You need to enable Analytics extension to use this feature. Link http://localhost:8080/tfs/DefaultCollection//_admin/_extensions. Analytics extension is disabled. You need to enable Analytics extension to use this feature. Value: http://localhost:8080/tfs/DefaultCollection//

[2018-08-23 18:43] IntOwl opened #6050 "Axis Labels for LineChart"
**Describe the feature that you would like added**
Axis Labels for LineChart, both horizontal and vertical
**What component or utility would this be added to**
uifabric/charting: LineChart
**Have you discussed this feature with our team, and if so, who**
Yes, @kkjeer
**Additional context/screenshots**
![image](https://user-images.githubusercontent.com/16910549/44545348-ab74dc80-a6c9-11e8-9911-9f78

[2018-08-23 18:53] nikhilexe opened #6051 "Panel: Way to control escape key"
I have hosted Monaco editor in panel which provides Find widget through 'Ctrl + F' shortcut. Currently if I press Escape key, it closes both Find widget and Panel as well. I want to close panel with Escape key only if Find widget is not there.

Monaco editor give way to add specific key and check condition whether FindWidget is open or not. So basically now I want control when to close on escape k

[2018-08-23 19:03] nikhilexe opened #6052 "[Feature Request] Show tooltip near to mouse pointer"
**Describe the feature that you would like added** Show tooltip near to my mouse pointer instead of showing in the middle of the element. If I have big text on which i want to show tooltip and my mouse pointer is in the beginning of the text, it doesn't look good to have tooltip far from the mouse pointer hanging in the middle of the text.

**What component or utility would this be added to** Tool

[2018-08-23 19:53] #5916 closed

[2018-08-23 20:18] billytrend commented on #5992
I used chrome on macos to make these screenshots, however I also saw the issue in a screenshot someone sent me from edge a while ago

[2018-08-23 22:00] #6022 closed

[2018-08-23 22:04] evantrimboli commented on #6040
Can you clarify what you mean by "the root"? Does that refer to the `Fabric` element?

I had a mess around with a few different options, I would have expected setting the `Fabric` component to position: 'relative' would be enough.

Please see: https://codepen.io/evantrimboli/pen/qMOrmO

Is there a "better" way to do this?

[2018-08-23 22:56] heythisispaul opened #6054 "Unable to Load Fabric Components in SPFx"
### Please provide a reproduction of the bug in a codepen:

The issue is only happening in SPFx - In both the offline and and online workbenches.

### Bug Report

[code]
- __Browser and OS versions__: Browser is Chrome 68 and Windows 7.

#### Priorities and help requested:

Requested priority: Normal

Products/sites affected: (if applicable)

#### Describe the issue:

Inserting Fabric UI React com

[2018-08-23 23:32] evantrimboli commented on #6040
Sorry, I see what you're saying now: https://stackoverflow.com/questions/51995102/correctly-position-tooltip-for-absolutely-positioned-element

[2018-08-24 00:13] JasonGore opened #6055 "Layer: Context not passed through"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/jasongore/pen/wEKJZE

### Bug Report

- __Package version(s)__: 6.53.0
- __Browser and OS versions__: n/a

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

Context

[2018-08-24 02:07] luckyyd opened #6056 "Sticky TypeError cause Fabric UI render failed"
Bug Report
Package version(s): 5.106.1
Browser and OS versions: Chrome v67 and Edge 42
Priorities and help requested (not applicable if asking question):
Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: (if applicable) MS privacy PDAM tool

Describe the issue:
There are cases when fabric ui failed to render icon and display incorrect style.
I used a D

[2018-08-24 02:46] nguyentoantuit commented on #6044
Hi @micahgodbolt
I am using version 6.53.0. It just worked fine with version 6.37.0.  Here is my code:
[code]

[2018-08-24 02:57] nguyentoantuit commented on #6042
@austin-best there is a problem with release of @microsoft/load-themed-styles 1.7.80. It is fixed in version 1.7.81.
The full story is here: #782

[2018-08-24 05:01] dzearing commented on #6054
It seems that SPFX is serving you React 15, while Fabric 6 requires React 16. This is more of an SPFX issue that can occur with ANY library you use which depends on React 16 API.

I am following up with the SPFX guys to identify when they plan to support React 16. In the meantime, your safest action is to downgrade to Fabric 5.x (which will always support React 15.) Or, you can stick with your las

[2018-08-24 05:03] dzearing commented on #6054
Related: https://github.com/SharePoint/sp-dev-docs/issues/1315

[2018-08-24 06:57] Nimelrian opened #6059 "[merge-styles] IProcessedStyleSet<T> maps Styles interface with subComponentStyles incorrectly, rendering it virtually useless"
### Please provide a reproduction of the bug in a codepen:

Codepen doesn't show TS types in its editor, so you have to bear with this small code sample and run it through TS yourself:

[code]

### Bug Report

- __Package version(s)__:
  - @uifabric/merge-styles - 6.7.0
  - typescript - 3.0.1

#### Priorities and help requested:

Are you willing to submit a PR to fix? Trying to find a solution by

[2018-08-24 07:05] Nimelrian commented on #6059
Nevermind, the issue was caused by subComponentStyles being an optional property.

[2018-08-24 07:05] #6059 closed

[2018-08-24 07:35] realhoffi commented on #6023
strange...fixed after reboot of computer... webpack  or npm issue  i think...

[2018-08-24 08:27] Nimelrian opened #6060 "[merge-styles] Processed style sets' subcomponent properties cannot be passed as styles prop due to type mismatch."
### Please provide a reproduction of the bug in a codepen:

Codepen doesn't provide TS typechecking, so here's a reproduction repository: https://github.com/Nimelrian/OfficeFabric-SubComponentStyles-bug

Just clone it, run yarn / npm install and either compile it using yarn / npm build or open it in VS Code. App.tsx shows the typing error.

### Bug Report

- __Package version(s)__:
  - @uifabric/m

[2018-08-24 09:00] hrc7505 commented on #5015
Thank you!

[2018-08-24 13:42] Nimelrian opened #6066 "[TextField] Using text field styles in subComponentStyles of another style interface causes typing issues"
### Please provide a reproduction of the bug in a codepen:

Codepen doesn't provide TS typechecking, please refer to the code below and try it yourself locally.

### Bug Report

- __Package version(s)__:
  - @uifabric/merge-styles: 6.7.0
  - office-ui-fabric-react: 6.53.0
  - typescript: 3.0.1

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes (If the reason for this

[2018-08-24 13:45] redoz opened #6067 "Add css-grid support to merge-styles"
**Describe the feature that you would like added**
Currently (to the best of my knowledge) `gridTemplateAreas` has to be specified like this:
`gridTemplateAreas: '"title controls"\n"subtitle controls"',`

Which is not the nicest syntax in my opinion, it would be nicer if it took an array of string, like so
`gridTemplateAreas: ['title controls', 'subtitle controls'],`

**What component or utility w

[2018-08-24 14:08] redoz opened #6068 "[merge-styles] alignSelf definition in IRawStyleBase is not complete"
### Please provide a reproduction of the bug in a codepen:

This is the current definition of alignSelf:
`alignSelf?: ICSSRule | 'auto' | 'flex-start' | 'flex-end' | 'center' | 'baseline' | 'stretch'; `

But per MDN several values are missing (`normal`, `start`, `end`, `self-start`, `self-end`, `first baseline`, `last baseline`, `safe center`, `unsafe center`):
https://developer.mozilla.org/en-US/

[2018-08-24 14:14] redoz opened #6069 "[merge-styles] justifySelf is missing in IRawStyleBase"
### Bug Report
 I am unable to use `justify-self` on styles processed by `merge-styles` as it is not defined in `IRawStyleBase`

See https://developer.mozilla.org/en-US/docs/Web/CSS/justify-self for definitions.

- __Package version(s)__:
@uifabric/merge-styles: 6.7.0
- __Browser and OS versions__:
n/a

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes.

Requested pri

[2018-08-24 16:17] #6055 closed

[2018-08-24 16:19] micahgodbolt commented on #5952
As far as I know, we don't actively test, nor support WPF browser. Our support commitment is Edge and IE11, in which the spinner appears to be working as expected. If this is a bug with the WPF browser about the way that it handles animations or css transforms, I don't believe there is much that we'd be able to do to help.

[2018-08-24 16:45] #6069 closed

[2018-08-24 16:55] dzearing commented on #6060
@cliffkoh can you take a look?

[2018-08-24 16:57] dzearing commented on #6067
doable, but nice to have.

Similar to other scenarios. Like `content: '""'`

[2018-08-24 16:59] dzearing commented on #6067
But, I might also argue... it would be even better to have a `Grid` component which abstracts this in props. That way we can support a more standard solution, and perhaps abstract a solution which works with IE11. (fyi, gridTemplateAreas does not work in IE11, if that's in your support matrix.)

[2018-08-24 17:07] redoz commented on #6067
@dzearing I don't think you're wrong regarding a `Grid` component, but it would still be nice if `merge-styles` had better support for emitting literal strings.

[2018-08-24 17:33] trickydisco78 opened #6072 "Using styles for list items"
The code examples you have list

`import './List.Ghosting.Example.scss';`

I notice in
`office-ui-fabric-react/lib/List/examples/`

you have got some styles listing in a js file. How do i use these in my fabric components?

For example i want the corresponding classes for these
[code]

How do i pull in ms-ListBasicExample-itemCell and other classes in my component?

[2018-08-24 18:01] RichardCassan opened #6073 "Dropdown arrow on ComboBox does not change sides when inside of a RTL div"
CodePen: https://codepen.io/anon/pen/RYWKqW

### Bug Report
 - __Package version(s)__: Observed on most recent version (6.54)
- __Browser and OS versions__: Observed on Chrome and Edge (haven't tried other browsers)

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: OWA Calendar

#### Describe the issue:

I'm seeing

[2018-08-24 20:23] mikewheaton opened #6074 "Persona: Add 20px size"
**Describe the feature that you would like added**
The new Fluent toolkit includes a 20px Persona. This size does not exist currently.

**What component or utility would this be added to**
Persona

**Have you discussed this feature with our team, and if so, who**
This is in the Fluent toolkit.

**Additional context/screenshots**
![image](https://user-images.githubusercontent.com/1382445/44606122-d

[2018-08-24 20:34] kkjeer opened #6075 "Remove CSS styling from examples"
**Describe the feature that you would like added**

Clean up the Fabric examples so that they use JS styling instead of CSS styling.

**What component or utility would this be added to**

Examples

**Have you discussed this feature with our team, and if so, who**

@micahgodbolt

**Additional context/screenshots**

Users are having trouble modifying the examples to fit their own codebase when the e

[2018-08-24 20:41] cliffkoh commented on #6066
This will work

[code]

[2018-08-24 20:49] cliffkoh commented on #6060
It would be great if we can infer but you can at present do a cast from IStyleFunction<any, any> to `IStyleFunction<IChoiceGroupStyleProps, IChoiceGroupStyles>`.

So
[code]

Of course it would be better if this cast isn't necessary...

[2018-08-24 21:20] kkjeer commented on #6072
Hi @trickydisco78, unfortunately we don't expose our class names from example .scss files. We are working on making the styling in our examples easier to incorporate. Thank you for bringing this to our attention!

[2018-08-24 21:20] #6072 closed

[2018-08-24 21:35] leugene-microsoft opened #6077 "FormDropdown "selectedKey" not working"
### Bug Report

 "office-ui-fabric-react": "^6.52.0",

#### Priorities and help requested:

Requested priority: High - Normal

Products/sites affected: Feedback Hub on the web

#### Describe the issue:

FormDropdown "selectedKey" not working

#### Actual behavior:

Using "selectedKey" doesn't do anything.
Eg:

<FormDropdown
          key={"0"}
          id={"0"}
          title={"Device:"}

[2018-08-24 21:38] #5367 closed

[2018-08-24 21:50] natalieethell commented on #5832
Hey thanks for submitting an issue @obiwan007! I can't seem to repro. I just created the following CodePen, where `onColumnHeaderClick` seems to work as expected with the Sticky header: https://codepen.io/naethell/pen/jvWbgG

Hover also seems to be working correctly on the column headers.

Am I missing something here?

[2018-08-24 23:33] micahgodbolt commented on #6073
@RichardCassan this component should be working properly. The problem is that RTL is a page level change, as it affects how the styles are rendered at runtime. Wrapping a component with dir=rtl won't have any effect on that.

Here's a copepen of them working.

https://codepen.io/micahgodbolt/pen/vzLKew

[2018-08-24 23:33] #6073 closed

[2018-08-24 23:38] natalieethell commented on #6025
Hey @shyama1208 thanks for submitting an issue! Could you provide reproduction of the bug in a CodePen? I'm having some trouble reproducing this behavior. Feel free to work off of this one: https://codepen.io/naethell/pen/oPbxGG.

[2018-08-24 23:53] micahgodbolt commented on #5992
Those edge screenshots look odd. Looking at our current build in edge, everything looks pretty good.

![image](https://user-images.githubusercontent.com/1434956/44612501-e0faf200-a7bd-11e8-824b-bcf1c82bf788.png)

At this point, I don't think I want to mess with the display value of our buttons, and while your height unsetting fixes buttons, it breaks our Button styled links (buttons get vertical c

[2018-08-25 00:00] natalieethell commented on #6056
Hey thanks for submitting this issue! Looks like currElem needs another null check. I'll submit a PR with the fix.

[2018-08-25 00:02] micahgodbolt commented on #5501
I was able to convert his repo into a codepen. Hope this helps the discussion.

https://codepen.io/micahgodbolt/pen/RYrReb?editors=1010

[2018-08-25 00:04] micahgodbolt commented on #5832
This seems similar to #6006

[2018-08-25 06:45] cliffkoh commented on #6075
This is going to be huge and probably requires splitting up the work across the team...

[2018-08-25 07:02] obiwan007 commented on #5832
It seems to be fixed in one of the latest releases. So it could be closed I guess.

[2018-08-26 00:46] angelo-mollame opened #6080 "is-focusVisible is still used by ChoiceGroupOption.styles.ts"
Apparently initializeFocusRects.ts transitioned from the "ms-Fabric is-focusVisible" class to the "ms-Fabric--isFocusVisible" class, with [this commit](https://github.com/OfficeDev/office-ui-fabric-react/commit/2bbc7950bd9f10ea1e792dcb1155c625aa8e8f4f#diff-02f63d70a330ea6c7423fd3a167b4517).

However:
- there is still a reference to "is-focusVisible" in a comment in initializeFocusRects.ts
- Choice

[2018-08-26 16:32] enriquin opened #6081 "Checkbox does not honor id property"
When you create a checkbox and specify the id attribute, it is ignored:

This:
[code]
Produces:
[code]

The id is "checkbox-1" instead of "ignoredId".

I'm trying to automate some texts with selenium and cannot get the checkboxes by id.

Here is a repro: https://codepen.io/Intnovaction/pen/xaZvPN

[2018-08-26 16:55] enriquin opened #6082 "Dropdown label has 8px extra bottom margin"
The dropdown label has 8px extra margin at the bottom and it breaks the layouts, since the fields are not aligned vertically anymore.

Here is a codepen showing the extra margin: https://codepen.io/Intnovaction/pen/EePqGq

You can see that the label pushes down the dropdown and breaks the alignment between the Dropdown and the text filed, which should be vertically aligned.

Are you willing to sub

[2018-08-26 21:26] realhoffi commented on #6042
the npm folder does not contain a lib or a lib-amd folder! So you have to run the following commanf...

npm install --no-save @microsoft/load-themed-style

[2018-08-27 06:14] pmsandhu commented on #6029
I don't think this is an issue with the customizer but with the layer component itself. As you can see from the following pen all layers within the same parent are all rendered at once with the last child layer being painted on top of the other children.
https://codepen.io/pmsandhu/pen/oPxzgO?editors=0110

[2018-08-27 06:40] Nimelrian commented on #6066
Strangely enough it does. This seems weird to me, since ITextFieldStyles already defines itself as extending `IStyleSet<ITextFieldStyles>`.

Things working again aside, why do I have to add the `IStyleSet` wrapper for the TextField styles, but not for e.g. `IChoiceGroupStyles`, where everything works out of the box?

Closing since the original issue has been solved.

[2018-08-27 06:40] #6066 closed

[2018-08-27 07:01] Ridlsan commented on #5953
In Firefox you can edit it, but carret is invisible, fix it too please!

[2018-08-27 07:37] keepWalking commented on #1216
hi, guys, I found this bug happened again in IE/Edge browser, I forked the TextField codepen: https://codepen.io/keepwalking-the-animator/full/XPdNpW/, open it using different browsers, and found "X" button still show up in IE/Edge, don't know whether this is a regression bug or not.

**Chrome**: [no 'X']
![image](https://user-images.githubusercontent.com/4075786/44646849-e9963700-aa0e-11e8-9087-a

[2018-08-27 08:20] keepWalking opened #6083 "TextField component in IE family shows X button which in Chrome not show"
### Please provide a reproduction of the bug in a codepen:
 I forked the TextField codepen: https://codepen.io/keepwalking-the-animator/full/XPdNpW/, open it using different browsers

### Bug Report

- __Package version(s)__: (6.55.0)
- __Browser and OS versions__: (IE11 / Edge)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (No)

Requested priority: (Blocking)

Produ

[2018-08-27 09:46] petercutting opened #6084 "ComboBox input field is empty while dropdown is visible"
When the dropdown is dismissed (TAB) then all my dropdown selections (multiSelect) get listed in the input field. Great

But when I click on the down carret to bring up the dropdown again then the input field is cleared. Why is this? seems wrong to me. I would like the input field to reflect what is currently selected in the visible dropdown

[2018-08-27 09:58] mdmdakbar opened #6085 "MessageBar: JAWS + NVDA not announcing the message inside message bar component"
Products/sites affected: VSTS

#### Describe the issue:

JAWS and NVDA are not announcing the message inside the component on the other hand narrator is behaving properly.

My configurations:
JAWS+Chrome (Not working)
NVDA+Chrome (Not working)
Narrator+Edge (Working)

Codepen:
https://codepen.io/mdmdakbar/pen/NLGOyZ

At every places in our product where it is being used is broken.

[2018-08-27 10:42] keepWalking commented on #6008
Could we have any ETA here?

[2018-08-27 14:41] JasonGore commented on #6029
Yeah, I've seen the same behavior myself and makes me think it's related to Layer parent management. I'm curious where you saw the implication that this is a Customizer issue?

[2018-08-27 15:05] micahgodbolt commented on #1216
Seems this bug cropped back in again during the conversion to css-in-js….fix coming.

[2018-08-27 15:08] #5832 closed

[2018-08-27 15:10] micahgodbolt commented on #6075
yeah, this is certainly more of a meta issue. lets be sure to update as we make changes.

[2018-08-27 15:42] #6056 closed

[2018-08-27 15:52] #6068 closed

[2018-08-27 16:25] #5423 closed

[2018-08-27 16:28] kkjeer commented on #3696
Closing since #5823 is merged.

[2018-08-27 16:28] #3696 closed

[2018-08-27 16:52] dzearing commented on #5892
The DetailsList is virtualized and does not render the entire viewport.

[2018-08-27 16:54] dzearing commented on #5383
@leddie24 This would be your area.

[2018-08-27 17:05] dzearing commented on #5675
https://codepen.io/dzearing/pen/wEGRjJ?editors=1010

This appears to be working fine now.

[2018-08-27 17:05] #5675 closed

[2018-08-27 17:33] natalieethell commented on #6020
Hey @BrendanMcK thanks for catching this! After trying a couple different approaches, I think `display: inline-table` might help us out here. Just testing it out in this CodePen, I'm not about to repro the rendering glitch: https://codepen.io/naethell/pen/LJNMmw. It seems to force rendering of exact pixel widths/heights. I still need to check for regressions, but I just wanted to post an update he

[2018-08-27 17:44] jlubben opened #6092 "Cursor wrap around issue in MaskedTextField"
When using MaskedTextField:
`<MaskedTextField label="This is a label" mask="(9999" />`
A user can keep hitting backspace/delete and get to the string "(____" and the cursor remains in the right spot.

However, using MasktedTextfield with a mask of only masked characters is where problems begin to form:
`<MaskedTextField label="This is a label" mask="9999" />`
A user can keep hitting backspace and

[2018-08-27 17:47] papigers commented on #5308
I've also encountered this problem

[2018-08-27 17:50] dzearing opened #6093 "Enable API-Extractor for all packages"
Enable api extractor in each package and clean up issues as you go. Follow up with Pete on "unsupported" things:

[ ] utilities
[ ] merge-styles
[ ] styling
[ ] office-ui-fabric-react

We can *probably* avoid it for v0 packages.

[2018-08-27 17:54] dzearing commented on #6054
Being this isn't an issue with Fabric specifically, and is a problem with SPFX not supporting anything externalizing react, and requiring react 16, we should use the Sharepoint/sp-dev-docs bug to track. Closing here.

[2018-08-27 17:54] #6054 closed

[2018-08-27 18:17] micahgodbolt commented on #6092
Can you repro this in a codepen?

[2018-08-27 18:26] papigers commented on #2107
Still no solution for this, `errorImageSrc` was removed, and can't use `onLoadingStateChange` on `DocumentCardPreview`. Solution?

[2018-08-27 18:27] kenotron commented on #6093
This will actually support CloudPack by bolstering the "API public contract" - would be nice to have this guarantee across all MSFT packages.

[2018-08-27 18:28] natalieethell commented on #6020
Actually, that doesn't seem to work in all cases -- and actually doesn't work at all in Firefox. We'll keep looking.

[2018-08-27 18:28] #4612 closed

[2018-08-27 18:37] kenotron commented on #6018
The "Reply All" Button doesn't show up for me in OWA mail conversation. Where can I see this in the CommandBar, @suztocco ?

[2018-08-27 18:48] jlubben commented on #6092
[https://codepen.io/anon/pen/gdryxP#anon-login]

In the second example, if you click in the middle of the text and keep hitting backspace, the cursor wraps around because it never reaches the 0 position.

If you click directly at the 0 position, it does not wrap around.

[2018-08-27 19:04] micahgodbolt commented on #6081
Yeah, we're automatically setting ID for accessibility reasons, but if you provide your own, we should default to that.

[2018-08-27 19:06] kenotron commented on #6018
After looking at the OWA code, I noticed all the styles are overridden inside the OWA app itself, please follow up with Calendar team on this. I'm gonna take this offline and close this one.

[2018-08-27 19:06] micahgodbolt commented on #5331
Pretty sure this was fixed recently. We cannot repro.

[2018-08-27 19:06] #5331 closed

[2018-08-27 19:06] cliffkoh commented on #6060
As mentioned in the PR the main reason we never inferred was because we were trying to avoid a hard dependency on TS 2.8 :) But I think that TS 2.8 is old enough that we should be good with using conditional types by now... (at the end of the day, the concern here is that it mandates our downstream consumers also upgrade to TS 2.8+, as opposed to us not trusting TS 2.8's stability).

[2018-08-27 19:10] micahgodbolt commented on #6080
Good catch. That will cause some issues as the selector would never match.

![image](https://user-images.githubusercontent.com/1434956/44680295-30296880-a9f2-11e8-9a63-830a5e2b03a6.png)

[2018-08-27 19:12] natalieethell commented on #6020
Alright, so here's what we've found. We tried a couple different approaches, but the real issue lies in the subpixel rendering. This is a CSS rounding bug that you'll find regardless of what's rendered inside of the wrapper, as @micahgodbolt has shown in this CodePen (which also doesn't have any Fabric components): https://codepen.io/micahgodbolt/pen/OoNGvb.

So, since this is not a Fabric-specifi

[2018-08-27 19:12] #6020 closed

[2018-08-27 19:13] kenotron commented on #6018
Per @micahgodbolt, Fabric side will fix the command bar icon sizing issue.

[2018-08-27 19:30] micahgodbolt commented on #6077
FormDropdown is an experiment checked in several months ago, but no longer maintained by the original author. We expect to remove it in the future. If you'd like to use it in a project I'd recommend forking the code and maintaining it locally.

Is there a way we can better communicate the state of experimental components? We never intended for them to make their way into production, as they have n

[2018-08-27 20:11] BrendanMcK opened #6095 "ChoiceGroup has speacial treatment of aria-labeledby, and should include it as a prop"
### Please provide a reproduction of the bug in a codepen:

### Bug Report

- __Package version(s)__: 6.49.2
- __Browser and OS versions__: any

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: unknown

#### Describe the issue:

We're using the axe-core a11y validation library to do accessibility validation on our

[2018-08-27 20:36] #4293 closed

[2018-08-27 20:41] micahgodbolt commented on #5159
@prabhatmuroor what are you trying to do to the search icon that you cannot do?

https://codepen.io/micahgodbolt/pen/jvqgMm?editors=1010

[2018-08-27 20:44] micahgodbolt commented on #5238
Still a bug, should be a quick fix changing back to HighlightText and testing

![image](https://user-images.githubusercontent.com/1434956/44685001-47228780-a9ff-11e8-82ee-1aea7afbac6b.png)

[2018-08-27 21:53] dcowen91 commented on #5159
@micahgodbolt  I'm not the original author of the issue, but the missing behavior that I see is the ability to specify a different icon to be rendered. Some other Fabric components accept iconProps where you can specify which icon will be used, not just the styles to be applied to the icon.

This could be a by-design issue though, if you don't want to allow the Searchbox Component to render a diff

[2018-08-27 21:59] kenotron commented on #1721
I think the OP might have missed the fact that the in the 2nd example the <li>'s all have menuitem roles already (just not directly in the button). Is this really a bug? Or that the bug is that we need it inside the button instead of li?

[2018-08-27 22:13] suztocco commented on #6018
@micahgodbolt  @kenotron
Ken- If you take off Conversation mode in Mail and click on a message you will see the reply all in the command bar.

![image](https://user-images.githubusercontent.com/20954039/44689254-b4d4b080-aa0b-11e8-9f4d-9e6c38ac18ca.png)

[2018-08-27 22:59] richardtagger opened #6102 "Customizable foregoes type-safety"
### Bug Report

`customizable` is typed such that customized components return `any` thus disabling TypeScript's type safety.

We're unable to do this without losing types:-
[code]

Current workaround is doing something like:-
[code]

Offending line https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/utilities/src/customizable.tsx#L16

[2018-08-27 23:04] micahgodbolt commented on #1721
@kenotron the OP was talking about the 5.x command bar, so I wanted to make sure our current command bar was actually to spec.

[2018-08-27 23:07] #6043 closed

[2018-08-27 23:09] kenotron commented on #1721
Okay, so I looked at the implementation on https://developer.microsoft.com/en-us/fabric#/components/commandbar

It looks like the BUTTON now has the menuitem role. So, I would think that this can be closed for 6.x branch.

[2018-08-27 23:10] #1721 closed

[2018-08-27 23:28] micahgodbolt commented on #4027
@ThomasMichon hey Thomas, can you take a look at this one as soon as possible. This bug makes detailslist on ie/edge pretty much unusable on touch devices (i conformed on my surfacebook that the issue is current).

[2018-08-27 23:56] micahgodbolt commented on #6102
@JasonGore do we have good guidance around this? Is it a TS version limitation?

[2018-08-28 00:00] micahgodbolt commented on #6095
we just made a change in #6035, so we should be sure to take that into account (i.e. don't undo the fix that it applied.)

[2018-08-28 00:07] micahgodbolt opened #6103 "codepen-example-transform is printing the component code twice"
codepen-example-transform is printing the component code twice

![image](https://user-images.githubusercontent.com/1434956/44693205-6f1fe400-aa1b-11e8-92c9-b25ab40988fc.png)

[2018-08-28 00:10] micahgodbolt commented on #6103
saw this duplication when looking at a users submitted issue/codepen. But on the plus side, it looks like people are using them!

[2018-08-28 01:15] #6018 closed

[2018-08-28 02:44] ParadimeWeb commented on #5643
The component needs to be controlled to see the issue. Here is the codepen demonstrating the issue.

https://codepen.io/paradimeweb/pen/eLzpxR

[2018-08-28 02:52] NullMDR opened #6104 "onChange prop duplicated and inconsistent between Dropdown and SelectableDroppableText"
### Please provide a reproduction of the bug in a codepen:

It's a ts compile error so not applied.

### Bug Report

- __Package version(s)__: 6.56.0
- __Browser and OS versions__: N/A

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable) N/A

#### Describe the i

[2018-08-28 03:46] pmsandhu commented on #6029
In your code pen you wrote `It appears that whatever context is used via Customizer for the last Layered component will affect ALL Layered elements sharing the same React component parent` as well as in the "Expected Behavior" section of this issue.

[2018-08-28 05:06] joechung-msft opened #6105 "ComboBox input not styled when using themes"
### Please provide a reproduction of the bug in a codepen:
https://codepen.io/joechung-msft/pen/vzKKrV

### Bug Report

- __Package version(s)__: 6.56.0
- __Browser and OS versions__:

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable)

#### Describe the issue:

[2018-08-28 05:30] mdmdakbar commented on #6085
Yes, I tried the messageBar component and in codepen you can see the implementation of it where JAWS is not reading.
I tried something like putting role="status" aria-live="assertive" on a simple div element
to test if JAWS work fine with aria live or not but there everything works fine.

Refer codepen: https://codepen.io/mdmdakbar/pen/NLNapL for more info.

I tried to figure out why but didn't ge

[2018-08-28 05:43] basovic88 commented on #5643
I missed your request @joschect. Thanks @ParadimeWeb for providing the CodePen.

[2018-08-28 07:36] petercutting commented on #6084
I forgot to mention that I dont want editing in the input field so I have allowFreeform false.  I think a visual cue could indicate read only in the input field

[2018-08-28 07:41] obiwan007 commented on #5849
Any news regarding this issue? Holidaytime it seems.

[2018-08-28 09:00] RoshanKumarMicrosoft commented on #5715
@cliffkoh  Can you please look this one on priority? We are blocked on this.

[2018-08-28 10:27] realhoffi commented on #6042
Still got this issue! :) It was fixed some time ago, but now its there again :(

[2018-08-28 11:49] NullMDR commented on #6104
Confirmed that it is caused by mismatched typescript version, as this library uses 2.8.4 and I use 3.0.1

[2018-08-28 11:57] hamedy opened #6107 "CommandBar puts items under overflow when there's plenty room for normal items"
### Bug Report

- __Package version(s)__: 5.120.0
- __Browser and OS versions__: Chrome and IE latest versions

#### Priorities and help requested:

Requested priority: High

#### Describe the issue:

Rendering the CommandBar component, when I only pass items and no overflowitems, it puts the last item under overflow items automatically even though there's plenty of room for all items to be render

[2018-08-28 12:15] #6107 closed

[2018-08-28 12:15] hamedy commented on #6107
float left on the div was causing all this!

[2018-08-28 13:38] jspurlin commented on #6084
Seems like there's something wonky going on with pending multi-select values. Adding @stanleyymsft who added multiselect functionality to comboBox

[2018-08-28 14:36] JasonGore commented on #6029
`I suspect that this particular issue is an issue with Layer and how it interfaces with its parent root.`

[2018-08-28 14:49] blandine opened #6108 "Slider onChange event should be triggered when the mouse click has been released"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/KxMxmW

### Bug Report

- __Package version(s)__: 6.19.0

#### Priorities and help requested:

Are you willing to submit a PR to fix? Maybe

Requested priority: Normal

#### Describe the issue:

An onChange event is fired for any mouse movement when the user is "sliding".  In the codepen, a console.log is displ

[2018-08-28 15:20] micahgodbolt commented on #6108
We certainly don't want to change the existing behavior, as users are certainly relying on the current onChange event firing. onBlur is certainly feasible though if you only wanted to poll the data when the user was finished with the slider.

[2018-08-28 15:44] dzearing commented on #6102
Can you not use customizable as a decorator? That was the intent.

[code]

[2018-08-28 15:46] cliffkoh commented on #5715
To help @joschect investigate, can you create a reduced repro such as on Codepen?

[2018-08-28 16:06] redoz opened #6111 "Add useTargetAsMinWidth and useTargetWidth properties to Callout"
**Describe the feature that you would like added**
As the callout takes a target, it would be nice if it also had the `useTargetAsMinWidth` and `useTargetWidth` properties like the `ContextualMenu` already does.

**What component or utility would this be added to**
Callout

**Have you discussed this feature with our team, and if so, who**
No

[2018-08-28 16:54] micahgodbolt commented on #6105
Yeah, seems the input background color isn't being specified at all

![image](https://user-images.githubusercontent.com/1434956/44737956-485bbf00-aaa8-11e8-9d4d-59e69c57ee44.png)

[2018-08-28 19:02] mikewheaton opened #6116 "ChoiceGroup: Circle is out of alignment in Fluent experiment"
### Bug Report

- __Package version(s)__: Latest experiment
- __Browser and OS versions__: All

#### Describe the issue:

The selected circle is not centered:
![image](https://user-images.githubusercontent.com/1382445/44744495-21a68400-aaba-11e8-9326-cf4dbde816d7.png)

[2018-08-28 19:04] mikewheaton opened #6117 "Fluent Experiment: Button colors are incorrect"
### Bug Report

- __Package version(s)__: Latest experiments package
- __Browser and OS versions__: All

#### Describe the issue:

![image](https://user-images.githubusercontent.com/1382445/44744615-66cab600-aaba-11e8-9062-4a0de0220e5c.png)
![image](https://user-images.githubusercontent.com/1382445/44744673-85c94800-aaba-11e8-89c9-8b0e8b3d58ac.png)

[2018-08-28 19:53] dzearing commented on #6082
@betrue-final-final Just a heads up here, this one would move some pixels. I _think_ after inspecting it and comparing it with textfield and combobox, the 8px is wrong and that we should remove it for consistency. What do you think?

[2018-08-28 19:58] micahgodbolt commented on #6092
![cal](https://user-images.githubusercontent.com/1434956/44747437-0b042b00-aac2-11e8-8e7a-3ef52c802407.gif)

[2018-08-28 20:11] kenotron commented on #3055
I thought I could do a quick fix on this, but the fix is VERY involved based on how this was actually coded.

[2018-08-28 20:17] betrue-final-final commented on #6082
I agree. The extra 8px should be removed.

[2018-08-28 20:45] daweffe commented on #3715
This bug is affecting Planner Accessibility compliance. Is it being worked on?

[2018-08-28 20:56] kenotron commented on #5308
This is simply a case where there should have been a derived "shrunken title" and we're using state to calculate it, etc...

[2018-08-28 21:03] joschect commented on #5715
@RoshanKumarMicrosoft yeah a repro would really help me figure out what's going on! If you have a codepen that'd be awesome.

[2018-08-28 21:28] #6060 closed

[2018-08-28 21:29] BrendanMcK commented on #6020
Thanks for looking into this! On our side, simplest mitigation perhaps is to set background color same as border, so if we do hit a glitch, it'll at least look better vs standing out.

[2018-08-28 21:32] kenotron commented on #5308
@papigers are you referencing that this still repros in 6.x (master) ? I cannot repro this.

@YusongLiu - it would be very helpful to have a codepen of this.

[2018-08-28 22:17] kenotron commented on #6103
I know the source of this issue... it's probably in the jscodeshift API ...

[2018-08-28 22:34] #6105 closed

[2018-08-28 22:56] micahgodbolt commented on #6051
Currently dismiss is being called as a callback within the Popup. Popup supplies the event to the function, but we're currently not using it.

![image](https://user-images.githubusercontent.com/1434956/44755362-bf11b000-aada-11e8-8594-8b0f0aa84c7f.png)

This wouldn't be a tough change, the prop is already there. Need to call 'onDismiss' before line 218, and pass in the event. User could call event

[2018-08-28 22:58] lherrle opened #6120 "[CommandBar] Accessibility: While swiping, talkback focus is moving out of the expanded menu options & reading background controls"
### Please provide a reproduction of the bug in a codepen:

Repro is attached to this bug:
https://dynamicscrm.visualstudio.com/OneCRM/_workitems/edit/1176139

### Bug Report

- __Package version(s)__: 5.112.0
- __Browser and OS versions__: Android Phone 8.0 with talkback

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites aff

[2018-08-28 23:06] #6083 closed

[2018-08-28 23:11] #6023 closed

[2018-08-28 23:16] micahgodbolt commented on #5991
Is there an actionable issue here? Or is this just to kick off discussion.

[2018-08-28 23:17] cliffkoh commented on #5991
Closing because I believe the issue has been resolved.

[2018-08-28 23:17] #5991 closed

[2018-08-28 23:34] micahgodbolt commented on #6095
you can pass in a custom label's ID via aria-describedby

https://codepen.io/micahgodbolt/pen/LJRVbY

[2018-08-28 23:59] papigers commented on #5308
@kenotron After a lot of digging I've found out the cause was my sanitize css which gave `box-sizing: border-box;` to every element.
You can see codepen of this here:
https://codepen.io/papigers93/pen/jvMPOa

For some reason, the codepen doesn't show any exception on the console, even though the development build of react is used, but you can see the title is overflowing its container, which I ass

[2018-08-29 00:03] Vitalius1 opened #6121 "Color utility in @uifabric/styling"
**Describe the feature that you would like added**

Would be useful to start a color utility module in the Styling package similar to the one we have in OUFR/utilities folder. Maybe even consider moving the entire folder from OUFR and leave an entry point reexporting it from styling package. Need to know if the OUFR bundle size will be detrimentally affected by this.

**What component or utility w

[2018-08-29 00:03] BrendanMcK commented on #6095
Nice - you mean aria-labelledby, though?

The codepen seems to work nicely.

Is this documented? I'm not seeing aria-labelledby listed in the [docs for ChoiceGroup](https://developer.microsoft.com/en-us/fabric#/components/choicegroup)

[2018-08-29 04:29] joechung-msft commented on #6104
It isn't a TypeScript version issue; it's a strict mode issue.  It's because of the mismatch between these two types:

Dropdown.types.d.ts
[code]

SelectableDroppableText.types.d.ts
[code]

The `option` parameter is required in `option: IDropdownOption` but optional in `option?: ISelectableOption`.

[2018-08-29 08:16] redoz commented on #6111
Will you take a PR for this? Looks like it shouldn't be too hard to push the code from `ContextualMenu` into `Callout`?

[2018-08-29 10:59] joechung-msft commented on #6042
Fixed in 1.7.81 and broken again in 1.7.82.

[2018-08-29 12:04] redoz opened #6124 "Can't seem to style Button through 'subComponentStyles' in IProcessedStyleSet<>"
Now that #6061 landed I can no longer apply styling to Buttons through the `subComponentStyles` property on my `IProcessedStyleSet<>` without jumping through extra hoops:

If I do this:
`styles={this._classNames.subComponentStyles.button}`
I get an error:
[code]
So I try to call it:
`styles={this._classNames.subComponentStyles.button({} /* empty as there is no IButtonStyleProps */)}`
or like this:

[2018-08-29 12:59] Nimelrian commented on #6124
I noticed this as well after pulling the latest release. My test suite sadly didn't include a Button. It defines the styles prop as only a `IButtonStyles`, which seems strange. Multiple other components do this as well (SpinButton, Choicegroup, ...). General reminder to unify the typings...

The issue in general seems strange, because the original `IProcessedStyleSet` mapped every subComponentStyl

[2018-08-29 13:03] redoz commented on #6124
Before this I always manually invoked the function `<IconButton iconProps={{iconName: 'ChromeClose'}} styles={this._classNames.subComponentStyles.closeButton() as IButtonStyles} />` but that might have been "wrong" as well.

[2018-08-29 13:28] Nimelrian commented on #6124
@redoz Did your code work before the release?

I just did a checkout of the old code and using a button subcomponent style causes a typing error there as well:

`[ts] Type 'IStyleFunction<any, IStyleSet<any>>' has no properties in common with type 'IButtonStyles'.`

So instead of the PR causing a regression it seems that the underlying issue is the fact that Button does (to the outside) not accept

[2018-08-29 13:31] baywet opened #6126 "6.8.2: node_modules\@uifabric\merge-styles\lib\IStyleSet.d.ts(11,43): error TS1005: ';' expected"
### Please provide a reproduction of the bug in a codepen:
- __Package version(s)__: 6.8.2
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Blocking
Products/sites affected: SharePoint Framework webparts

#### Describe the issue:

Start a new SPFX 1.5.1 project.
Install office-ui-fabric-r

[2018-08-29 14:06] redoz commented on #6124
Let's put it like this, previously I did this:
`styles={this._classNames.subComponentStyles.closeButton() as IButtonStyles}`
in order to style Buttons. With this change, that method broke. It seems TypeScript is unable to resolve the type `IStyleFunction<{}, IButtonStyles> | (() => Partial<IButtonStyles>)` as something callable, even though both sides of the pipe are callable types. So now I'm for

[2018-08-29 14:31] redoz commented on #6126
@baywet I'm pretty sure they took a dependency on TS 2.8 in #6061.  But I'm not familiar with SPFX to know whether you can safely bump that to TS2.8+ or not.

[2018-08-29 15:26] coreyroth commented on #5985
This issue is really affecting me right now.  This has forced me to go back to LTS to get the DetailsList working.  Unfortunately, that means there are other things that I can't do as well as deal with other issues.  I am kind of surprised this component took a dependency on React 16 when SPFx is so far away from supporting it.

[2018-08-29 15:26] gwendalbroudinpro commented on #6126
On my side, I brutally downgraded office ui fabric to `^5`. It's not the best but still a working temporary solution 🙊 .

[2018-08-29 15:44] micahgodbolt opened #6128 "Button: SplitButton MenuIcon is too dark"
Seems we got the size right, but missed a difference in color
Current menuIcon in split button is #333333 while regular menu icon is #666666

#666666 is the correct value. Might as well double check other values as well.

![image](https://user-images.githubusercontent.com/1434956/44807060-6e9f5e80-ab7d-11e8-9fc6-076fb0ad30d9.png)

[2018-08-29 16:34] jspurlin commented on #3055
FYI, I've got a local fix for this. Need to finish testing and then will have a PR sent out

[2018-08-29 16:52] nickdurak opened #6129 "Coachmark icon support"
Need the coachmark to support icons formatted like the below images (IconOnLeft.png and IconOnTopLeft.png):

<img width="468" alt="icononleft" src="https://user-images.githubusercontent.com/2531806/44802158-d189f900-ab6f-11e8-8791-6039584d878e.png">
<img width="298" alt="iconontopleft" src="https://user-images.githubusercontent.com/2531806/44802160-d353bc80-ab6f-11e8-8c58-0c6afd96ff39.png">

We do

[2018-08-29 16:56] #6081 closed

[2018-08-29 17:28] HalcyonPride commented on #5605
Narrator team confirmed this is a Bug on their end that will be fixed in their next release.

[2018-08-29 17:28] janormanms opened #6131 "Unnecessary scrollbar in DatePicker when showGoToToday is false and showMonthPickerAsOverlay is true"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/janormanms/pen/YOGMrd

### Bug Report

- __Package version(s)__: 6.42.0
- __Browser and OS versions__: Chrome, Win10 latest

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Outlook Web

#### Describe the issue:

Trying to hide the Today

[2018-08-29 17:30] HalcyonPride commented on #5628
Narrator team has acknowledged the Bug.

[2018-08-29 17:30] #5628 closed

[2018-08-29 17:40] micahgodbolt commented on #6131
yuck. that shouldn't have slipped through. Let's be sure to get a visual test on this variant

![image](https://user-images.githubusercontent.com/1434956/44805012-ef5b5c00-ab77-11e8-8c05-e9486a963b11.png)

[2018-08-29 17:41] micahgodbolt commented on #6131
clicking on the month you get to the month picker....it also has the padding bug
![image](https://user-images.githubusercontent.com/1434956/44805078-1ade4680-ab78-11e8-80da-0a20c8a8f1ff.png)

[2018-08-29 17:43] micahgodbolt commented on #6129
@nickdurak can you get this example into a codepen to see if there's a way to support your current need.

Also, are you interesting in writing a PR to resolve this new feature?

[2018-08-29 17:49] micahgodbolt commented on #6124
Need to dig into this a bit more, but just a reminder that the Button styles interface hasn't caught up with our current approach using `IStyleFunctionOrObject`. This is probably why things are working as expected with Button. Converting Button over is high on our priorities, but we want to make sure we do it right, so it's going to take time.

[2018-08-29 18:02] micahgodbolt commented on #6124
Okay, I was able to confirm that subComponentStyles won't work on Button just yet. The interfaces aren't compatible as subComponentStyle always converts the styles into a style function.

I know this is a painpoint as button is probably the first subComponent we want to be able to style!

[2018-08-29 18:06] cliffkoh commented on #6124
The workaround where you directly invoke the subcomponent style function should be fine for dealing with Button's inability to take in a style function today.

Where did `IStyleFunction<{}, IButtonStyles> | (() => Partial<IButtonStyles>)` come from? After the merge of #6061, I would think that IProcessedStyleSet would now always deterministically have either an IStyleFunction or a () => Partial<IB

[2018-08-29 18:07] micahgodbolt opened #6134 "Refactor: Button"
## Component Details

The implementation of the `Button` component currently existing in the `office-ui-fabric-react` package has become more complex and its api more confusing as time has gone by. In an effort to simplify the api we are rewriting `Button` into a new component that's easier to use and easier to maintain.

In tandem with these efforts, we are taking this opportunity to use all of t

[2018-08-29 18:10] micahgodbolt commented on #6134
Closing down #3308 and moving the new button experiment to here.

[2018-08-29 18:10] micahgodbolt commented on #3308
Closing this down, tracking work in 6134

[2018-08-29 18:10] #3308 closed

[2018-08-29 18:12] cliffkoh commented on #6124
Oh I can repro it now. Digging in!

[2018-08-29 18:13] micahgodbolt commented on #6124
thanks @cliffkoh! If you can find a way to add support for the button interface, that'll unlock a TON of usecases.

Also, you can keep an eye on the Button conversion over at #6134 (not much there to see yet).

[2018-08-29 18:15] redoz commented on #6124
I'll try to setup a minimal repro tomorrow when I'm back at work (timezones and all), and I'm using TypeScript 3.0.1 if memory serves, but I'll verify tomorrow.

[2018-08-29 18:17] cliffkoh commented on #6124
No worries, I can repro it now and I know what caused it. It wasn't in @Nimelrian's initial PR but this happened because of the change @Nimelrian did at my request as the initial version did not handle style objects correctly.

Minimally, we should be able to make the 2nd part `()=>Partial<IButtonStyles>` optionally take arguments that it disregards so you should then be able to invoke it with `th

[2018-08-29 18:18] cliffkoh commented on #6124
I will submit a PR to fix :)

[2018-08-29 18:18] Nimelrian commented on #6124
@cliffkoh

IProcessedStyleSet now maps subComponentStyles like this:
[code]

So when the property is typed as `IStyleFunction<ISomeStyleProps, ISomeStyles>`, it keeps that typing, since the extends clause condition hits and T is automatically inferred.

When the property is typed as `IPartial<ISomeStyles>` the extends clause condition fails and thus the type is mapped to `() => IPartial<ISomeStyle

[2018-08-29 18:27] #6082 closed

[2018-08-29 18:29] #6103 closed

[2018-08-29 18:29] dzearing commented on #6126
@iclanton FYI.

[2018-08-29 18:59] cliffkoh commented on #6124
@Nimelrian Hmm it doesn't seem to do the trick...

![image](https://user-images.githubusercontent.com/1003246/44809202-e623bc80-ab82-11e8-8d1d-38443847c240.png)
Link [here](https://www.typescriptlang.org/play/#src=type%20AnythingFunction%20%3D%20(...args%3A%20any%5B%5D)%20%3D%3E%20void%3B%0D%0Atype%20SpecificFunction%20%3D%20((props%3A%20%7B%20foo%3A%20boolean%20%7D)%20%3D%3E%20void)%3B%0D%0A%0D%0

[2018-08-29 19:07] cliffkoh commented on #6126
Using Fabric 6 with SPFx is not recommended not just because of Typescript but also because SPFx is on React 15 (it will ALWAYS serve React 15) and Fabric 6 component code assumes you're on React 16. That is one of the [big features of Fabric 6](https://github.com/OfficeDev/office-ui-fabric-react/releases/tag/office-ui-fabric-react_v6.1.0). Unfortunately until there is a new release of SPFx with m

[2018-08-29 19:11] Nimelrian commented on #6124
@redoz Ok, that would probably be invalid, because Button cannot take IStyleFunctions as of right now (according to its typings).

@cliffkoh Hmm, strange, but seems like it is intended(?) according to https://github.com/Microsoft/TypeScript/issues/4612.

I'll have to take a deeper look into this tomorrow. Maybe I still can tinker a solution together using the playground today, but I doubt it.

[2018-08-29 19:26] Nimelrian commented on #6124
I think I've found a solution, give me a sec. Can't verify it using Fabric right now...

@cliffkoh
Can you check what happens when you change the type of TrimToFunction to this:
[code]

See the [playground here](http://www.typescriptlang.org/play/#src=type%20StyleFunction%3CProps%2C%20Styles%3E%20%3D%20(props%3A%20Props)%20%3D%3E%20Partial%3CStyles%3E%0D%0Atype%20FunctionOrObject%3CProps%2C%20Styl

[2018-08-29 19:27] cliffkoh commented on #6124
What I came up with is this:

[code]

[2018-08-29 19:31] Nimelrian commented on #6124
Hmm, that should work, but I feel like this would again lead to a union of different function types. Strange.

Would you mind trying my solution as well using your test suite? Imho it looks a bit cleaner and seems a tiny bit easier to understand.

[2018-08-29 19:31] cliffkoh commented on #6124
Yes I will try both. If you're still around I'll let you know shortly. I am fleshing out the test cases at the moment.

[2018-08-29 19:33] cliffkoh commented on #6124
BTW my solution does not lead to a union of different function types - the square brackets is an opt-out of that.

![image](https://user-images.githubusercontent.com/1003246/44810774-a6ab9f00-ab87-11e8-8809-2534e0f8144c.png)
From: https://blogs.msdn.microsoft.com/typescript/2018/03/27/announcing-typescript-2-8/

[2018-08-29 19:35] Nimelrian commented on #6124
Ah yes, I remember reading that part 😅

Yeah, conditional types are really powerful, but a little finicky at times.

[2018-08-29 19:44] BrendanMcK commented on #6095
Got it - I was wondering about the plumbing here - whether it was just getting passed through (but still ended up on the right element, not on the root div of that component) vs was getting special handling.

Also the fact that this was using the raw `aria-labelledby` name vs the usual Fabric camelCase `ariaLabelledby` prop made it look somewhat unusual.

So I'm wondering if the right thing to do

[2018-08-29 20:16] #5238 closed

[2018-08-29 20:52] #6092 closed

[2018-08-29 21:02] #6080 closed

[2018-08-29 22:23] yaananth opened #6141 "[TagPicker] Borders don't have same width"
https://developer.microsoft.com/en-us/fabric#/components/pickers

Look at bottom border after the tag, it looks like very thin line where as others are solid
![image](https://user-images.githubusercontent.com/12280011/44818833-5ac51e00-abb8-11e8-8d01-062681a8e322.png)

![image](https://user-images.githubusercontent.com/12280011/44818854-69133a00-abb8-11e8-9d24-4f1fe6810a4c.png)

[2018-08-29 22:28] kenotron commented on #4649
Is this still an issue, @anschur? I saw that you have a "Close" button on the bottom. Is this a button you're trying to get rid of (since this would make the iframe the last component in the modal)?

[2018-08-29 22:30] kenotron commented on #6042
I believe this is the cause: https://github.com/Microsoft/web-build-tools/issues/796 - load-themed-styles is published by another team within MSFT; and it seems to have been addressed there.

[2018-08-29 22:30] #6042 closed

[2018-08-29 22:33] cliffkoh commented on #6124
@Nimelrian your proposed solution does not work - at least not on Typescript 2.8.2 (which is what Fabric is on).

Neither does mine work perfectly, but if I were to flip the condition around - all my test cases pass in 3.0.1 (but not 2.8.2)

[code]
This works in Typescript 3.0.1, but does not work perfectly in 2.8.

This is because, strangely,
[code]
returns true in Typescript 2.8.2 (whereas in Ty

[2018-08-29 22:55] #6128 closed

[2018-08-29 23:00] licypal opened #6143 "Spinner on clicking an item in DetailsList"
How do I show a spinner in a DetailsList? For instance, let's say I have the following items in a DetailsList:

![image](https://user-images.githubusercontent.com/6519992/44820112-5f7fd700-aba4-11e8-9f2d-6f5a406b6a09.png) (Example from https://developer.microsoft.com/en-us/fabric#/components/detailslist)

On clicking the item with the name 'AdipiscingUt.onetoc', show a spinner on the rightmost sid

[2018-08-29 23:17] natalieethell commented on #5501
Sorry for the delay here. Thanks @micahgodbolt ! @aslanovsergey it looks like the issue might lie in your `createOptionsForComboBox` method. Is there a reason you're populating the ComboBox values with values from all columns?

[2018-08-29 23:38] micahgodbolt commented on #6141
i believe it's the joy of subpixel rounding in many browsers. If you bump up the browser zoom, the borders don't have to go sub pixel, and everything hits whole numbers, and looks much better.

![image](https://user-images.githubusercontent.com/1434956/44821198-3f064b80-aba9-11e8-8029-35d62cb00831.png)

[2018-08-29 23:38] #6141 closed

[2018-08-30 00:05] micahgodbolt commented on #5943
@KevinTCoughlin is this related to the work you're doing now?

[2018-08-30 00:06] msadahiro opened #6145 "DetailsList: Span tag acting like button when it should not be clickable"
https://codepen.io/dzearing/pen/EgqMZq

### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)
No

Requested priority: (Blocking, High, Normal, Low)
High

Products/sites affected: (if applicable)
Blockchain Workbench
![screen shot 2018-08-29 at 4 45 1

[2018-08-30 00:08] #6051 closed

[2018-08-30 00:09] BrendanMcK commented on #6095
Sounds simple enough - ya, I'll see if I can get around to it in the next few days or so.

--

Re the role=application - if time permits, I'll try removing it and check that it doesn't break JAWS horribly. role=application is really its own special thing apart from the rest of the other aria roles, and is far too often used where its not appropriate. Any legit use really needs to be well commented

[2018-08-30 00:33] kenotron commented on #5308
That's a good point about the setState on componentDidUpdate (just typing it out should show that it will probably lead to infinite loop bugs :))

[2018-08-30 01:10] cliffkoh opened #6147 "[TS 3.0] - Fix __MapToFunctionType in IStyleSet (Merge-styles)"
Clean up the workaround introduced in #6146 when we upgrade to Typescript 3.

[2018-08-30 05:46] KevinTCoughlin commented on #5943
It's been broken in `master` for a bit. I didn't want to forget about it since its a tad deceiving while testing `<ContextualMenu/>` changes. I'll pick it up once the mergeStyles changes are in.

[2018-08-30 05:52] ikiyou opened #6149 "jest-serializer-merge-styles: @keyframes breaks _serializeRules"
### Please provide a reproduction of the bug in a codepen:

Not sure how to repro jest snapshot testing online. If there's an example you can point me to, I'll gladly try to repro the issue.

### Bug Report

- __Package version(s)__:  "@uifabric/jest-serializer-merge-styles": "6.0.4" (latest)
- __Browser and OS versions__: Not relevant

#### Priorities and help requested:

Are you willing to submi

[2018-08-30 10:07] redoz opened #6150 "Add SemanticZoom component"
## Component Details
Semantic Zoom component.

### Imports

None so far.

### Exports/ Component Breakdown

[code]
_Question: Not sure what the naming specs are for enums, should the type name be camel-cased as well?_

### Intended Package

Probably `@uifabric/experiments` is a good starting point for this.

### Code mockup/example

__Code Sample__
None yet, working on a PoC in a local repo.
[code

[2018-08-30 10:39] siminture commented on #5631
I am looking forward to this revision

[2018-08-30 12:42] bengry commented on #5759
While not a solution, but more of a "workaround", we developed a package that can render React components inside Angular. [Similar packages have existed before](https://www.npmjs.com/package/angular2-react), and even [referenced in this repo on another issue](https://github.com/OfficeDev/office-ui-fabric-react/issues/558#issuecomment-261064737), but they are unmaintained, and I'm not sure they are

[2018-08-30 12:51] jhholm commented on #5985
As far as I can tell, the next version of spfx (1.6) should provide react 16 support otb

[2018-08-30 13:52] betrue-final-final commented on #5631
We actually have this design pattern in SharePoint already so I would follow that design. @natalieethell, we can discuss in person.

[2018-08-30 14:45] JasonGore commented on #4649
@Anschur Which version of Fabric have you seen ChoiceGroup breaking out? ChoiceGroup breaking out of Panel should have been resolved with #5842. If you can repro in a CodePen we should probably break that out as a separate issue. Thanks!

[2018-08-30 15:49] micahgodbolt commented on #6150
Hey Redoz, if you have the chance, can you try using this template for a new component ask

https://github.com/OfficeDev/office-ui-fabric-react/issues/new?template=new_component.md

It lets us discuss component reuse, interface, screenshots etc.

[2018-08-30 15:53] redoz commented on #6150
Sure, will change it first thing tomorrow

[2018-08-30 15:57] micahgodbolt commented on #6149
We currently have keyframe animation on several components (including the [progress bar](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/ProgressIndicator/ProgressIndicator.styles.ts#L22)). The keyframe appears to be creating snapshots without failure. Is this a different scenario?

[2018-08-30 16:08] #3055 closed

[2018-08-30 16:08] micahgodbolt commented on #5732
Can we turn off animation under a given screen size?

[2018-08-30 16:16] micahgodbolt commented on #5732
The problem is right here:

![image](https://user-images.githubusercontent.com/1434956/44864584-e11f4580-ac34-11e8-9908-52f42d4f9de3.png)

The bubble's max width is set to 100% +1px. That 100% is derived from it's parent, which is 100% of the screen width.

But the teaching bubble is being given a left value, in this case 54px. The positioning logic must think that the bubble is smaller than it is

[2018-08-30 16:17] micahgodbolt commented on #5732
@betrue-final-final i'll leave this solution up to you and design. Remove/change animation on mobile, or wait for a engineering fix....that might not be possible in the end.

[2018-08-30 16:22] kenotron opened #6154 "Replace react-loadable because of possible license change"
### Bug Report

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low) High

Products/sites affected: (if applicable) Unknown

#### Describe the issue:

We need to remove the usage of react-loadable ASAP because of the license change by the author:
https://github.com/jamiebuilds/react-loadable/commit/c3272b3132e4

[2018-08-30 16:28] micahgodbolt commented on #5814
The updates to the cell styles are overriding the isMultiline styles

![image](https://user-images.githubusercontent.com/1434956/44865378-057c2180-ac37-11e8-957d-b304274f3839.png)

specifically the white-space value.

[2018-08-30 16:34] kenotron commented on #6154
@christiango - do you have any suggestions for replacements?

[2018-08-30 16:36] christiango commented on #6154
I say we roll our own.

[2018-08-30 16:42] micahgodbolt commented on #5412
dup of #4849

[2018-08-30 16:42] #5412 closed

[2018-08-30 16:42] micahgodbolt commented on #4911
dupe of #4849

[2018-08-30 16:42] #4911 closed

[2018-08-30 16:43] micahgodbolt commented on #5691
waiting on converting layer over to portals before we can make this switch, otherwise we lose theming in anything inside a layer. Layer conversion is happening at #4849

[2018-08-30 16:47] kenotron commented on #6154
Okay, @ThomasMichon had a PR a while ago that solves that need for us. We voted to use react-loadable at the time. But now we can use this again: #4154

[2018-08-30 16:51] micahgodbolt commented on #5643
![picker](https://user-images.githubusercontent.com/1434956/44866499-475a9700-ac3a-11e8-90ad-297abc880cfc.gif)

[2018-08-30 16:57] joschect commented on #5643
That's pretty weird, I'll take a look.

[2018-08-30 17:11] natalieethell commented on #5383
@leddie24 thanks for tagging me in this, yes it should be! The error was due to a missing null check. I'll close this issue.

[2018-08-30 17:11] #5383 closed

[2018-08-30 17:36] #6131 closed

[2018-08-30 17:42] micahgodbolt opened #6155 "ComboBox buttons not getting 'checked' prop"
#6142 introduced a bug where combobox wasn't properly passing 'checked' into the checked buttons. isOptionSelected function supplies that value, so something in that function is returning false when it should be true.

I checked, the styles are fine. If you force 'checked' to be true, the styles work.

![image](https://user-images.githubusercontent.com/1434956/44868977-3cefcb80-ac41-11e8-9764-fa25

[2018-08-30 17:51] cliffkoh opened #6156 "Keytip: Clean up example page"
https://fabricweb.z5.web.core.windows.net/oufr/6.59.0/#/examples/keytips

![image](https://user-images.githubusercontent.com/1003246/44869512-a02e2d80-ac42-11e8-95e7-c4403e4cd6fa.png)

[2018-08-30 18:01] joschect commented on #5643
The problem should be a pretty easy fix. It looks like when the suggestion is completed that it just doesn't set the suggestions to no longer be visible.

[2018-08-30 18:30] kenotron commented on #5822
an example here: https://codepen.io/anon/pen/bxBJPE?editors=0010

[2018-08-30 18:44] ikiyou commented on #6149
If I understood your question correctly, the scenario you're referring to is strictly with OUFR components which are using `merge-styles`? In my scenario, the component we're creating a snapshot for is composed of both Office UI Fabric React components and custom components which use `glamor` as its CSS-in-JS tool. It might be that `glamor` is inserting rules into the stylesheet in a way that `jes

[2018-08-30 19:43] #6155 closed

[2018-08-30 19:43] baywet commented on #6126
@cliffkoh thanks, I didn't catch these details. Downgraded to v5 works again. I'll wait for SPFX 1.6 which hopefully should bring react 16 (and maybe a higher version of typescript?) which should become available anytime soon and report here once I upgrade :)
Question: should I leave this issue open or close it as it's not of this project's responsibility?

[2018-08-30 19:58] angelo-mollame opened #6159 "CommandBar should stop the propagation of keydown ENTER"
A div containing a CommandBar will still catch bubbled up keydown ENTER events even if they are handled by the CommandBar.

[2018-08-30 20:02] cliffkoh commented on #6126
Feel free to close if you feel your question has been addressed. :)

Also, please feel free to provide feedback to SPFx directly as well. Sometimes, things don't happen without people asking for it and although we try to pass on feedback, nothing beats hearing customer asks directly :)

[2018-08-30 20:05] baywet commented on #6126
Thanks! I'll see what 1.6 brings and complain if not happy :)

[2018-08-30 21:35] micahgodbolt commented on #6159
do you have a repro of this happening? All of the events in command bar  are handled by the button component. So having a command bar should be nothing more than having a group of DefaultButtons on the page.

[2018-08-30 21:36] micahgodbolt commented on #6156
did it look better in the past? Or just general messiness?

[2018-08-30 21:39] #5032 closed

[2018-08-30 22:33] micahgodbolt opened #6168 "Change CommandBarButtons to use whitespace: no-wrap"
CommandBar buttons with multiple words can wrap during space testing, so measurements can be a bit off. We should force those buttons into a single line via whitespace: no-wrap

https://codepen.io/anon/pen/MqJgwv

[2018-08-30 22:34] micahgodbolt commented on #6168
can probably do this inside of command bar vs the button itself, as you might use the button outside of the command bar, in which case wrapping isn't an issue

[2018-08-30 23:28] micahgodbolt commented on #5814
Fixed by #5930

[2018-08-30 23:28] #5814 closed

[2018-08-30 23:51] micahgodbolt opened #6170 "Updated Screener, add alwaysAcceptBaseBranch"
Update Screener to 0.14.6 and add alwaysAcceptBaseBranch: true to screener.config.js

[2018-08-30 23:52] micahgodbolt commented on #6170
probably need to upgrade screener-runner as well. Could be my issue.

[2018-08-31 00:06] martellaj opened #6172 "Toggle doesn't respect styles prop (probably?)"
I'm not sure if I'm not using this correctly, or there's an issue with the `Toggle` component correctly. I can't understand what's going on in [this code](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/Toggle/Toggle.tsx), so it's hard for me to say.

I'm trying passing the following object to the `styles` prop in the `Toggle` componen

[2018-08-31 01:17] micahgodbolt opened #6174 "Add height: 100% to panel innerContent"
Panel innerContent should be height: 100% to avoid Chrome bugs when trying to expand inner content to 100% height.

[2018-08-31 01:49] #5521 closed

[2018-08-31 01:56] kenotron commented on #6174
It would great to have a codepen to code against...

[2018-08-31 02:40] angelo-mollame commented on #6159
https://codepen.io/anon/pen/KxazdW

[2018-08-31 07:17] #6041 closed

[2018-08-31 10:06] hrc7505 opened #6177 "Searchbox working different in both chrome and microsoft edge"
I have used to searchbox component inside commandbar using onRender. But it is working different in both edge and chrome. It width gets reduced in edge.

Here a codepen: [Searchbox with commndbar](https://developer.microsoft.com/en-us/fabric)

[2018-08-31 11:31] arunnagar15 opened #6179 "For Keros, Date Picker control is showing , color contrast Error."
Bug Report
Package version(s) : (5.98.0)
Browser and OS versions : (browser- Chrome Version 68.0.3440.106 (Official Build) (64-bit) )
Priorities and help requested (not applicable if asking question):
Are you willing to submit a PR to fix? (No)

Requested priority: (High)

Products/sites affected: (Microsoft CRM UCI)

Describe the issue:
When application is run on chrome and tested using Keros, th

[2018-08-31 11:35] naveenprasaths commented on #6008
Any updates on this?

[2018-08-31 12:22] kevinbargary opened #6180 "Issue introduce with overflow auto on Dialog component"
### Please provide a reproduction of the bug in a codepen:

### Bug Report

- __Package version(s)__: 6.53.0 +
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites affected: Fabric UI React Dialog Component

#### Describe the issue:

From what we can deduce introduced as

[2018-08-31 14:21] mdmdakbar opened #6182 "Panel: Footer bottom is cut on chrome browser in Android"
Requested priority: Low
Blocked: No

Similar to below issue for ios:
https://github.com/OfficeDev/office-ui-fabric-react/issues/5423

I also hit the same issue with ios and while debugging found the same issue exist for mobile users using chrome browser. Chrome is also following the same viewportHeight concept as Safari since 2016.

But in chrome browser in mobile, I am able to see the footer if I

[2018-08-31 14:46] redoz opened #6183 "Make icon on SearchBox component configurable"
**Describe the feature that you would like added**
I'd like to be able to use a different icon on the `SearchBox` component. Specifically I'd like to have the option to use the `Filter` icon, but maybe it should be made more generic to allow for any icon?

**What component or utility would this be added to**
SearchBox

**Have you discussed this feature with our team, and if so, who**
No

**Additio

[2018-08-31 14:48] redoz commented on #6177
@hrc7505 that codepen link is broken, it links to the Fabric website instead.

[2018-08-31 14:49] redoz commented on #6183
Duplicate of #5159 (apologies for the noise).

[2018-08-31 14:49] #6183 closed

[2018-08-31 15:38] natalieethell commented on #5440
I am able to repro this on the master branch. Reopening the issue.
![image](https://user-images.githubusercontent.com/14134000/44922074-315fdb80-acf9-11e8-8edd-8eb634b3c646.png)

[2018-08-31 15:42] redoz commented on #5159
I'd like to be able to use a different icon (the `Filter` one specifically) will you take a PR for this?
If so, what approach is preferred:
1. Exposing an enum property `searchIcon` of type  `enum SearchBoxIcon { search, filter }`
2. Adding a `searchIconName?: string` property.
3. Adding a `searchIconProps?:  IIconProps` property (this would be more inline with what is done for the `clearButtonPro

[2018-08-31 16:36] micahgodbolt commented on #5159
yeah, that's a valid ask. A single prop for iconProps?: IIconProps would allow people to cheaply tweak the icon without a full onRender.

I'm good with that. just go iconProps, as calling it 'search' kinda indicates that it's always search icon

[2018-08-31 16:41] micahgodbolt commented on #5440
can you write down the repro steps @natalieethell - it seems that this isn't a consistent bug. I was just looking at jason's example and it worked fine. Curious what the difference is, if it's only when headers/groups are used?

[2018-08-31 16:43] #3061 closed

[2018-08-31 16:51] martellaj commented on #6172
Can you please try emptying your cache and hard reloading? Sometimes CSS changes (even in JS) don't get picked up by the browser on a normal refresh.

[2018-08-31 16:52] martellaj commented on #6172
@martellaj Thanks! That was it! 👍

[2018-08-31 16:52] #6172 closed

[2018-08-31 16:54] micahgodbolt commented on #6180
Looks like that wrapper div is missing flex grow, so it's not taking up 100% of the parent width if the content doesn't require it.

Adding flex-grow in there will fix it.

![image](https://user-images.githubusercontent.com/1434956/44925690-e8f9eb00-ad03-11e8-9f17-590e5d5d6689.png)

[2018-08-31 16:57] andyrooger opened #6185 "Can't reference office-ui-fabric-react with isolatedModules turned on"
### Please provide a reproduction of the bug in a codepen:

I don't seem to be able to set up a tsconfig.json in codepen, but I have a simple repro below:

package.json
[code]
index.tsx
[code]
tsconfig.json
[code]
cmd
[code]

### Bug Report

- __Package version(s)__: 6.61.0
- __Browser and OS versions__: Windows 10

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

R

[2018-08-31 16:58] andyrooger commented on #6185
This similar or a duplicate of #2796 but since it has never had any activity and was then closed, I raised this with more information.

[2018-08-31 16:59] micahgodbolt commented on #6177
https://codepen.io/micahgodbolt/pen/gdMZmO

So it does! It's a flex issue. Not sure if it'd call it a bug in search as much as guidance on using inline-block items in a flex region like commandBar. let me check how you can solve this.

[2018-08-31 17:03] micahgodbolt commented on #6177
I updated the codepen. I'd recommend setting a length on the SearchBox anyway. It solves the Edge scenario, and fixes other browsers where the search changes width when the icon animates out.

[2018-08-31 17:03] micahgodbolt commented on #6177
Closing this up as it's not a searchbox/commandbar issue, just how CSS works with inputs/inline elements in a flex region.

[2018-08-31 17:03] #6177 closed

[2018-08-31 17:10] natalieethell commented on #5440
Definitely! It looks like it's only an issue when using `directionalHintFixed`. I was actually able to repro here: https://codepen.io/naethell/pen/NLdEMz.

[2018-08-31 17:13] #5822 closed

[2018-08-31 17:20] micahgodbolt commented on #5440
digging in to see whats the difference between that pen (which repros) and Jason's which does not https://codepen.io/jasongore/pen/NBExJq

[2018-08-31 17:36] micahgodbolt commented on #5440
Okay, it's nothing about how we're passing the prop in. Changing directionalHintFixed back to true demonstrate the same behavior.

@joschect - any thoughts on why dropdown would autoscroll to the selected item when directionalHintFixed is false, but not when it's true?

[2018-08-31 17:46] micahgodbolt commented on #6008
This may be down in the TextField component that's used by DatePicker, so i'll have our shield devs look at it.

[2018-08-31 17:49] joschect commented on #5440
@micahgodbolt I think that this is likely a timing issue/race condition. Something with directionalHintFixed is either preventing a re-render or causing an extra one. If it's preventing a re-render since it's position is more well known, then it's usually a random re-render that will fix it. OTOH if it's causing another re-render it's possible that secondary rerender is losing the scroll. I'll deb

[2018-08-31 17:54] natalieethell commented on #5631
The underline style has been added for DatePicker (https://github.com/OfficeDev/office-ui-fabric-react/pull/6144) and we'll put the others on the backlog as they're a larger ticket item.

[2018-08-31 17:56] micahgodbolt commented on #6008
After a little triage, it seems it may be related to the role="button" that we place on the input

[2018-08-31 18:26] micahgodbolt commented on #5440
@joschect appreciate you taking a look at it!

[2018-08-31 18:33] cschlechty commented on #6008
Role="button" should have no usability impact, do you mean type="button"? I could see how that'd mess with things. You likely want a text input which launches a menu. I'll take a look later this afternoon if needed.

[2018-08-31 18:36] micahgodbolt commented on #6008
The prop I noticed was role="button", and it appears that removing it allows IE11 to edit the value in the input (which is what the OP is asking for). If I can simply remove it entirely, that's an easy fix.

![image](https://user-images.githubusercontent.com/1434956/44930118-2796a200-ad12-11e8-9060-bdf40206e2cd.png)

[2018-08-31 18:41] betrue-final-final commented on #349
Here's the design spec: https://microsoft.sharepoint.com/:u:/t/odspux/Ef8XQfRMxMFHkL108TztUmkB0KuR51P8TqJ6UGcZoiycmg?e=CbDFXC

[2018-08-31 18:43] cschlechty commented on #6008
You may need to removed aria-expanded then and look at other ways to indicate the menu has opened. It looks like input isn't a supported element which is likely why the button role was added https://www.w3.org/TR/wai-aria-1.1/#aria-expanded It should maybe be a combo box with an owned dialog of the date menu..?

[2018-08-31 18:50] natalieethell commented on #5438
Thanks for submitting this issue @aishuiyer2001! Looking into this. Here's a CodePen repro for reference: https://codepen.io/naethell/pen/wEgawK.

[2018-08-31 19:13] maggiepint opened #6189 "p Tag in Body of Teaching"
### Please provide a reproduction of the bug in a codepen:

### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

#### Actual beha

[2018-08-31 19:20] maggiepint opened #6190 "Allow block elements in body of teaching bubble"
#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: Microsoft internal tool

#### Describe the issue:

It is not possible to display tabular data in a teaching bubble.

#### Actual behavior:

[Based on this code](https://github.com/OfficeDev/office-ui-fabric-react/blob/248b46e8886f0715a0aa728d8880b94b59288bea/package

[2018-08-31 19:38] micahgodbolt commented on #6190
Nah, this is a legitimate request. We're dropping children into a <p> tag. If it were a string prop, this might be okay, but children has an expected type of JSX.Element, which when dropped into a P tag, might not work the best.

We could probably look at the type of the child, and if it's a string, wrap it in a p tag, otherwise use a div.

[2018-08-31 20:41] micahgodbolt commented on #6189
duplicate of #6190

[2018-08-31 20:41] #6189 closed

[2018-09-01 00:28] #5159 closed

[2018-09-01 04:30] cliffkoh commented on #5403
test

[2018-09-01 04:48] cliffkoh commented on #5917
@JasonGore @KevinTCoughlin @micahgodbolt is this still correctly tagged as a question? Or is it related to #5929 as a verified ComboBox bug?

[2018-09-02 03:19] jiehu567 opened #6195 "Can you give me examples of the items and groups in GroupedList?"
It's really hard to figure out what's the format / structure of the data like though you've provided type as any[]. How the groupedList use some feature / properties in the each item of any[]?

Thanks.

[2018-09-02 06:44] timtong1982 opened #6196 "`npm run generate` generates wrong npm-shrinkwrap.json file"
### Please provide a reproduction of the bug in a codepen:

npm -v
5.6.0

node -v
v8.11.4

1. sync to upstream/master latest
2. npm i
3. npm run generate
4. npm run build -- fail

### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested prior

[2018-09-02 10:47] bengry opened #6197 "HoverCard's cardHeight props aren't typed broadly enough"
### Reproduction in CodeSandbox (CodePen was giving me issues at the time):
[![Edit Fabric-React HoverCard compact height type](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/mzqlyj3k6x)
### Bug Report

- __Package version(s)__: 6.61.2
- __Browser and OS versions__: non-relevant

#### Priorities and help requested:

Are you willing to submit a PR to fix? **Yes**

[2018-09-02 11:07] tusharsantoki opened #6198 "how to show hidden iframe or react object to different Pivot control tab office react fabric"
I have single page view with 2 tabs(use office fabric react library) in it. There are 4 iframes pre-loading work in 1st tab and those will be used in 2nd tab. Iframes preloading works fine in 1st tab but once move to 2nd tab all Iframes are not available. I am using google chrome browser. I can see chrome release all Iframe memory when we switch to 2nd tab in task manager.

I am using office react

[2018-09-02 17:46] timtong1982 commented on #6196
re-pro on
win 10
OSX
Debian 9

[2018-09-03 03:26] joechung-msft opened #6199 "Deprecate "toggled" property in Button.types.ts"
### Bug Report

- __Package version(s)__: 6.61.2
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) Low

Products/sites affected: (if applicable)

#### Describe the issue:

The Button types file defined an unused "toggled" prop with a comment copied f

[2018-09-03 07:06] aslanovsergey commented on #5329
Here is an example
![image](https://user-images.githubusercontent.com/22150933/44972184-f7910e00-af60-11e8-8caf-1908d3a4e525.png)

[2018-09-03 07:08] aslanovsergey commented on #5892
I'am trying to test my component from UI perspective calling buttons, sorting, selecting rows

[2018-09-03 07:13] LeopoldLerch opened #6200 "Warning when doing webpack"
When doing webpack, after i updated the package (version 5) i now get a warning (on various locations stating

(Emitted value instead of an instance of Error) Cannot find source file '../src/index.ts': Error: Can't resolve '../src/index.ts' in 'C:\Repos\SharePoint_DAP\DAP\Webkomponenten\node_modules\@microsoft\load-themed-styles\lib'
 @ ../node_modules/@uifabric/styling/lib/styles/theme.js 7:27-67

[2018-09-03 10:50] DineshSuram opened #6202 "How do we display Select Application Role * text using label in office fabric drop down in react js"
My requirement is to display the text as shown in image .
![capture](https://user-images.githubusercontent.com/42933680/44982983-35a82500-af95-11e8-939b-82db07f92875.PNG)
.Iam using office fabric-ui-dropdown. It contains label property which indicates the title of dropdown.Iam unable to apply css for *( which should be in red colour).Please help me how can i fix this  issue.

[2018-09-03 15:18] Amysno opened #6204 "SearchBox : TS1005 error"
### Bug Report

- __Package version(s)__: checked in package-lock.json
 office-ui-fabric-react : 5.21.0 (but strangely i've updated it to the last version -6.62.0 something- ?)
Node :  8.11.1
TypeScript : 2.4.2
sp-pnp-js : 3.0.10
react : 15.6.2

#### Priorities and help requested:

Are you willing to submit a PR to fix? **Yes**

Requested priority: **Blocking**

#### Describe the issue:

On VIsual

[2018-09-03 16:11] RupamSarkar opened #6205 "On Hover issue in swatch color picker"
### Bug Report

- __Package version(s)__: 6.55.0
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix?

Requested priority: Normal

Products/sites affected: (if applicable)

#### Describe the issue:
For Swatch Color picker if there is a white color cell and that cell is not at the rightmost end -  then if we hover ov

[2018-09-04 03:13] #6108 closed

[2018-09-04 04:34] #6145 closed

[2018-09-04 05:00] #3010 closed

[2018-09-04 05:00] #3699 closed

[2018-09-04 05:00] #5913 closed

[2018-09-04 05:00] #5952 closed

[2018-09-04 05:00] #5990 closed

[2018-09-04 08:41] newtonsheikh opened #6206 "DetailsList: Selected items don't track item when sorting"
Hi,

I am not sure if, this is a bug or i am doing it wrong.

Steps:
1. In the DetailsList (https://developer.microsoft.com/en-us/fabric#/components/detailslist), take the first example
2. Select a row(may be the first row), the row gets greyed to show the selection.
3. Now hit the column header to sort
4. The data gets sorted, but the selection doesnt float along with the sorting. The selection r

[2018-09-04 08:45] redoz opened #6207 "Add option to ScrollablePane to only show one sticky item."
**Describe the feature that you would like added**
I'm trying to use the `ScrollablePane` to implement a grouped list, and as you scroll I'd like to the last group header to be `Sticky` but currently all sticky items pile up in a large stack.

**What component or utility would this be added to**
`ScrollablePane`  and/or `Sticky`

**Have you discussed this feature with our team, and if so, who**
No

[2018-09-04 08:53] redoz commented on #6204
@Amysno As of v6.59.0 (or thereabouts) there's a dependency on TypeScript 2.8+ which is the cause of your error.

But my understanding is also that v6 of this library expects React 16, and if you're using 15 you should be using version 5.x. See this comment for reference: https://github.com/OfficeDev/office-ui-fabric-react/issues/6126#issuecomment-417069604

[2018-09-04 09:26] achappey commented on #5935
This bug is still present in the 5.0 branch

[2018-09-04 09:35] shyama1208 commented on #6025
Below is the codePen link with the repo.
https://codepen.io/shyama1208/pen/NLNvpj

Steps to repro -
1. Select any option in the choice group.
2. Press 'Shift + tab' to get the focus on button.
3. Press enter.
4. Observe that the last item in the choiceGroup 'Month1' gets a black border.

[2018-09-04 09:36] kschio commented on #6202
Hi,

you want to add the required property to the dropdown:
`<Dropdown label="Lorem ipsum" required="true" .../>`

Hope this helps :)

[2018-09-04 14:09] micahgodbolt opened #6209 "Github Bot"

[2018-09-04 15:49] micahgodbolt commented on #6174
https://codepen.io/micahgodbolt/pen/vzgOPL

Chrome:
![image](https://user-images.githubusercontent.com/1434956/45042382-6cc31880-b01f-11e8-9ffa-b70b9fc4a08c.png)

Firefox:

![image](https://user-images.githubusercontent.com/1434956/45042400-73ea2680-b01f-11e8-945e-ae75355bc10c.png)

[2018-09-04 15:52] redoz commented on #6207
Thinking about this some more, perhaps it's best to add two new properties: `maxFooterStickyCount? : number` and `maxHeaderStickyCount? : number`.

These could then indicate the maximum number of stickies that are rendered in the footer and header respectively.

[2018-09-04 15:52] micahgodbolt commented on #6174
If you add 100% height to innerContent and content then the div pass through via child can properly say 100% height and get full height of parent.

![image](https://user-images.githubusercontent.com/1434956/45042572-dd6a3500-b01f-11e8-9f86-77a473c6a27c.png)

[2018-09-04 15:55] micahgodbolt commented on #6174
This is really annoying. Chrome and webkit are the issue here. this is starting to feel hacky. Seeing as both innerContent and content can be targeted with styles, maybe its just a docs warning?

[2018-09-04 17:08] #6180 closed

[2018-09-04 17:36] timtong1982 commented on #6196
update generated shrinkwrap file and **npm run build** log

[npm-shrinkwrap.zip](https://github.com/OfficeDev/office-ui-fabric-react/files/2349595/npm-shrinkwrap.zip)
[2018-09-04T17_36_03_404Z-debug.log](https://github.com/OfficeDev/office-ui-fabric-react/files/2349604/2018-09-04T17_36_03_404Z-debug.log)

[2018-09-04 17:41] leugene-microsoft commented on #6077
For clarification FormDropdown is my wrapper around Dropdown. The issue is with the Dropdown component.

[2018-09-04 17:43] timtong1982 commented on #6196
[@uifabric/utilities 10:36:03] Pass: jest (37.589s)
[@uifabric/utilities 10:36:03] Pass: tslint (37.596s)
src/Context.test.tsx:8:3 - error TS2345: Argument of type '{ isTest: Requireable<boolean>; }' is not assignable to parameter of type 'ValidationMap<{ isTest: boolean; }>'.
  Types of property 'isTest' are incompatible.
    Type 'Requireable<boolean>' is not assignable to type 'Validator<boolea

[2018-09-04 17:59] #6124 closed

[2018-09-04 18:01] micahgodbolt commented on #6159
This is working as expected. This is the default behavior of any HTML button.

[2018-09-04 18:01] #6159 closed

[2018-09-04 18:17] micahgodbolt commented on #6204
Yes, Typescript 2.4.2 is the problem here. Using Fabric 5.x would be your best option here. We're currently backporting major bug fixes to that branch as well.

[2018-09-04 18:18] micahgodbolt commented on #6202
this is a question for the https://github.com/OfficeDev/office-ui-fabric-js repo

[2018-09-04 18:20] kspranesh opened #6212 "Need help in styling Pivot Component"
Hi,

I need some examples on custom sytling the Pivot react component. I need to be able to give a custom style on PivotItem selected . I tried with onLinkClick and updating the state, but there seems to be no way of updating the class and overriding the styles of the Pivot tab control. Please assist.

[2018-09-04 18:30] micahgodbolt commented on #6206
Hey @ThomasMichon is this simply a missing feature, or is there a prescribed way to have your selections track when sorting a list?

[2018-09-04 20:27] timtong1982 commented on #6196
fixed in PR #6216

[2018-09-04 20:33] micahgodbolt commented on #6200
Have you done an npm install since updating? New package versions are sometimes needed for the newest bits of code.

[2018-09-04 20:40] JasonGore commented on #5960
I'm still seeing [this issue on master](https://fabricweb.z5.web.core.windows.net/oufr/6.62.0/#/examples/coachmark) (v6.62 most recent at time of writing.) It seems focus sometimes works, but most of the time it still doesn't. If I either mouse over or tab to `Show Coachmark`, wait for it to appear, then attempt to tab, I cannot focus on other elements on the page. (In the case of tabbing to `Show

[2018-09-04 20:45] kenotron commented on #5960
@leddie24 looks like this still repros

[2018-09-04 20:46] #6190 closed

[2018-09-04 20:47] kenotron commented on #6197
I dug into the code. Realized that the ExpandedCard calculates finalHeight based on the heights passed in. The intention for this component seem to be surrounding fixed heights. If we allow for dynamic heights, then we'd have to render off screen, measure and then place that value in the component. This is, of course, very expensive. Closing this as won't fix.

[2018-09-04 20:47] #6197 closed

[2018-09-04 20:50] kenotron commented on #6168
@FalseLobster - this is a good one for you to dig into

[2018-09-04 20:55] micahgodbolt commented on #6205
Looks like when the item 'isWhite' there'a an extra pixel of margin that dissapears when you hover. Remove that pixel and it'll like up better (tiny wiggle, but not as noticable).

[2018-09-04 21:06] KevinTCoughlin commented on #6199
Thanks for the report -- easy fix :)

[2018-09-04 21:14] #5223 closed

[2018-09-04 21:22] jordandrako opened #6218 "GroupedList footer sets global styles for .ms-Link"
### Please provide a reproduction of the bug in a codepen:

Repros on the demo site: https://developer.microsoft.com/en-us/fabric#/components/link

### Bug Report

- __Package version(s)__:  6.49.2

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Demo site/internal site

#### Describe the issue:

`.ms-Link` has a

[2018-09-04 21:34] kenotron commented on #6185
If you switch to using `IconNamesInput` instead of `IconNames`, then you can do incremental builds

[2018-09-04 21:58] kenotron commented on #6196
fix is merged

[2018-09-04 21:58] #6196 closed

[2018-09-04 22:13] ian-craig opened #6219 "Docs for TeachingBubble props are missing on developer.microsoft.com"
### Bug Report

#### Priorities and help requested:

Are you willing to submit a PR to fix? No - I'm not familiar with how these interfaces are linked to the docs site.

Requested priority: Normal

Products/sites affected: https://developer.microsoft.com/en-us/fabric#/components/teachingbubble

#### Describe the issue:

1. Open https://developer.microsoft.com/en-us/fabric#/components/teachingbubbl

[2018-09-04 22:46] kenotron commented on #4232
@justinmwarner - While we're working to reduce / remove the use of const enums in our codebase, we added `IconNamesInput`. So we should be able to write code this way:

[code]

Sorry, we can't really rip out IconNames enum at this point. Please re-open if this doesn't address the issue for you.

[2018-09-04 22:46] #4232 closed

[2018-09-04 22:47] micahgodbolt opened #6221 "New Component: Sidebar/LeftNav"
## Component Details

### Imports

### Exports/ Component Breakdown

### Intended Package

### Code mockup/example

__Code Sample__

[code]

__Types__

| Name      | Type     | Default Value | Description |
|-----------|----------|---------------|-------------|
| className | string   |               | Optional class name to be added to the root |

### Design Assets

### Component Ownership

### De

[2018-09-04 22:57] #6199 closed

[2018-09-04 23:14] kenotron commented on #6185
I have a repro. But I want to know the use case for directly using isolatedModules. I've tested webpack + ts-loader in transpileOnly, and that seems to do okay with this setup. ts-jest also seems okay since we use it internally.

If we take this flag out, folks that use 'tsc' to build before webpack bundle step will see a bundle size increase. In fact, we recommend transpileOnly mode to be turned

[2018-09-04 23:15] JasonGore commented on #6221
Will this supercede #5815?

[2018-09-04 23:49] #4169 closed

[2018-09-04 23:52] KevinTCoughlin commented on #6205
Thanks @micahgodbolt :) helped me find the off by 1 error fairly quickly 🎉

[2018-09-05 00:11] KevinTCoughlin commented on #4169
Thanks for your patience and for the initial report @essar123. I've converted `ContextualMenu` to use `getStyles` for itself as well as the `ContextualMenuItem`(s). This comment goes over the various ways to use `getStyles` https://github.com/OfficeDev/office-ui-fabric-react/pull/6094#issuecomment-417423698.

For styling various aspects of the menu, you can provide a `styles?` prop as part of `men

[2018-09-05 00:11] sampascal opened #6223 "Component Slider(vertical slider) doesn't work on Safari"
### Please provide a reproduction of the bug in a codepen:

### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)
 Safari, iOS: 10.12.6
#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low)  High

Products/sites affected: (if applicable)
https://devel

[2018-09-05 01:01] OmarMustafa commented on #6017
Hi, are there any updates on this issue?

Thanks.

[2018-09-05 05:53] LeopoldLerch commented on #6200
I tried, yes. But it also occurs on our automated builds using vsts, which in fact do clean install using npm install every time. The first automated build that has this error is at 29.8. evening, as i looked up now.

[2018-09-05 06:03] LeopoldLerch commented on #6200
Sometimes also when using Modal-Components:

(Emitted value instead of an instance of Error) Cannot find source file '../src/index.ts': Error: Can't resolve '../src/index.ts' in 'C:\Repos\SharePoint_DAP\DAP\Webkomponenten\node_modules\@microsoft\load-themed-styles\lib'
 @ ../node_modules/office-ui-fabric-react/lib/components/Modal/Modal.scss.js 4:27-67
 @ ../node_modules/office-ui-fabric-react/lib

[2018-09-05 06:16] LeopoldLerch commented on #6200
ok, i compared the versions of the build:

Working Build:
2018-08-28T19:03:48.9278300Z +-- office-ui-fabric-react@5.122.1
2018-08-28T19:03:48.9278386Z | +-- @microsoft/load-themed-styles@1.7.81
2018-08-28T19:03:48.9278469Z | +-- @uifabric/icons@5.8.0
2018-08-28T19:03:48.9278550Z | +-- @uifabric/merge-styles@5.17.1
2018-08-28T19:03:48.9278653Z | +-- @uifabric/styling@5.33.0
2018-08-28T19:03:48.9278

[2018-09-05 08:55] Nimelrian commented on #6143
`IColumn` supports an `onRender(item?: any, index?: number, column?: IColumn)` method. You have to store which row (item key) is currently selected and compare it to the the item's key in your onRender implementation. This way, you can conditionally render a Spinner.

[2018-09-05 10:31] j-te commented on #4916
@lorejoh12 Thank you for taking a detailed look, I agree with what you're saying.

In a perfect world it would be good if the DatePicker processed the earliest valid date rather than `00:00` to mitigate offset conversion errors but this is probably too much of an overhead for a component.

Here's are my 2-cents going forward:

- New TimePicker sub-component (same issues apply here)
- Consider an a

[2018-09-05 12:01] redoz commented on #6207
I've poked around the component a little and the code looks fairly complicated, but if you're accepting a PR for this I can take a stab at it.

[2018-09-05 12:12] hrc7505 commented on #6177
Thank you! @micahgodbolt

[2018-09-05 13:37] Krak86 opened #6230 "GroupedList renders checkboxes not in correct way"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/krak86/pen/XPadMd

### Bug Report

- __Package version(s)__:  "@microsoft/sp-office-ui-fabric-core": "1.5.1" (npm)

#### Priorities and help requested:

Are you willing to submit a PR to fix?
**No**

Requested priority:
**High**

Products/sites affected: (spfx webpart in sharepoint online)

#### Describe the issue:

Whe

[2018-09-05 13:55] Krak86 commented on #6230
I can't add labels, but it should be labeled to "Component: GroupedList"

[2018-09-05 14:07] micahgodbolt commented on #5602
@Rainson12 are you still having issues with this?

[2018-09-05 14:19] micahgodbolt opened #6232 "Remove aria-setsize and aria-posinset from CommandBar"
There has been a longstanding conflict between a bug found in Keros due to a fixed added to solve a narrator bug (fun!).

The contested change was adding aria-setsize and aria-posinset to the command bar.

From what I've seen the only vote "for" the props is from an accessibility vendor opening a bug that states

This was 7 months ago, and fixed in the original CommandBar. I have since ported the

[2018-09-05 14:31] micahgodbolt commented on #6218
yeah, this is an unqualified selector, it needs to simply be links inside of this root

`[`:global(.${classNames.link}`]: {`

[2018-09-05 17:32] micahgodbolt commented on #6218
https://github.com/OfficeDev/office-ui-fabric-react/wiki/Component-Styling#using-a-styleable-component

[2018-09-05 17:33] micahgodbolt commented on #6218
`& .className` works fine. :global specifically pulls the selector out of the parent scope

[2018-09-05 17:40] kenotron commented on #6218
`& :global(classNames.link)` right? otherwise we need to do the subcomponent stuff i think

[2018-09-05 17:41] kenotron commented on #6218
subcomponent is not useful here because the children are just any jsx element there...

[2018-09-05 17:46] micahgodbolt commented on #6218
Yeah, the only way to add content to the footer is through children. So this style is just there in case they happen to pass through links. It's a kinda hacky old way of ensuring styles. I'd say we just totally remove it if it wasn't going to break a bunch of people who rely on it.

[2018-09-05 18:28] KevinTCoughlin commented on #4814
It looks like this may have been fixed as I can't repro on `master`:

**Checkable**:

![image](https://user-images.githubusercontent.com/706967/45113194-871ff380-b0fe-11e8-98a9-538315a64642.png)

**Not Checkable**:

![image](https://user-images.githubusercontent.com/706967/45113179-7e2f2200-b0fe-11e8-950a-3f652c467df5.png)

Note the absence of `aria-checked` when `role="menuitem"`

@peterdur-msft

[2018-09-05 18:41] jleck opened #6237 "Broken Release (maybe?)"
### Bug Report

#### Describe the issue:

After installed the current release (6.64.0), I am unable to include any components due to a compile error. This can be recreated using create react app and typescript.

It's been a long day at work so hopefully it's nothing obvious on my end!

#### Actual behavior:

[code]

#### Expected behavior:

Compile correctly.

[2018-09-05 19:11] OneCyrus commented on #6221
imho VSTS did a pretty great job with the leftside nav in the redesign

![image](https://user-images.githubusercontent.com/7747800/45115470-320ccd80-b150-11e8-9c14-b4ab48454de5.png)

would be nice to have this pattern supported as well.

[2018-09-05 19:45] PerthCharern opened #6241 ""Infinite" loop in DocumentCardTitle"
### Please provide a reproduction of the bug in a codepen:

- Create a document card title (https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/DocumentCard/DocumentCardTitle.tsx) with shouldTruncate being `true`.

- Give the component a very long title

- Keep resizing the component.

### Bug Report

Maximum update depth exceeded. This ca

[2018-09-05 19:55] licypal commented on #6143
Thanks @Nimelrian

[2018-09-05 20:15] micahgodbolt commented on #6221
@OneCyrus yes, the goal of this component will be 1) standardize the way we do sidebars using the new fluent design language and 2) make it as customizable as possible to get the same functionality with different themes and component combinations

[2018-09-05 20:38] cliffkoh commented on #5752
Per @arunarokk, the current experience is good enough to identify that the Dropdown has options you can select.

Improvements that can possibly be purused are:

Required is not announced, required is honored only on the input types
Aria-label is not announced
Role is not announced.

[2018-09-05 20:45] micahgodbolt commented on #6241
duplicate of #5308

[2018-09-05 20:45] #6241 closed

[2018-09-05 20:58] jordandrako commented on #6218
Links inherit font size, so what's the use case where links specifically have to be 12px if the other text is a different size?

[2018-09-05 20:59] micahgodbolt commented on #6218
good question......guessing the expectation is that other content isn't affected? I'm sure some design comp somewhere wanted a link in that footer to be smaller....

[2018-09-05 21:46] micahgodbolt commented on #6237
So far I haven't had any trouble with a new create-react-app instance and 6.64. Can you try to blow out your node modules and install again? Could be that utilities didn't get properly updated.

[2018-09-05 22:07] #5864 closed

[2018-09-05 22:14] #6218 closed

[2018-09-05 22:16] jleck commented on #6237
Thanks for the quick reply!

I think I rebuilt my node modules a couple times, but I’ll try again once I’m back at work tomorrow. You never know! If it still doesn’t work I’ll push up a repo to recreate the issue.

Will keep you updated!

[2018-09-05 23:49] micahgodbolt commented on #6230
I can repro the problem, but i'm not 100% sure if the issue is within our components, or how they are being used.

[2018-09-06 02:08] ikiyou commented on #6149
@micahgodbolt bump!

[2018-09-06 03:03] micahgodbolt commented on #5520
Seems #5705 is already a good starting point to finish this.

[2018-09-06 03:05] micahgodbolt commented on #5327
@JllyGrnGiant have you migrated to 6.x yet? We'd initially be targeting that branch.

[2018-09-06 03:13] micahgodbolt commented on #5327
Yeah, className is totally missing from the root div, or passing into getClassNames, or even this.props deconstruction. Should be a quick fix though.

![image](https://user-images.githubusercontent.com/1434956/45133043-3208cf80-b148-11e8-8515-80481f027aee.png)

[2018-09-06 08:17] LeopoldLerch commented on #6200
Somehow gone now again
Also automated builds are working again.

[2018-09-06 08:17] #6200 closed

[2018-09-06 08:59] Amysno commented on #6204
Thanks @redoz  and @micahgodbolt , it was indeed all the versions causing the issue. I rolled back to previous versions and everything is working fine now ;)
We'll see with the announced support of react 16 for upgrading future projects !
I'm closing it, thanks again for your time!

[2018-09-06 08:59] #6204 closed

[2018-09-06 09:06] jleck commented on #6237
D'oh, rebuild all the node modules worked. Apologies for the false report!

[2018-09-06 09:06] #6237 closed

[2018-09-06 15:05] redoz opened #6251 "List scrollToIndex() with dynamic height items."
### Please provide a reproduction of the bug in a codepen:

### Bug Report
 The `scrollToIndex` method on the `List` component does not seem usable with dynamic height list items. I somehow have to be able to measure each item and provide the height for it to work, but as the layout of each item depends on the current width of the row, and the contents inside it, the height is only known after the

[2018-09-06 15:15] redoz commented on #6251
I experimented some more, and it seems that if I add `getPageSpecification={() => ({itemCount: 1})}` and enable the virtualization, it will work. Not sure what kind of perf hit I take from rendering a page for every row though.

[2018-09-06 16:11] #6219 closed

[2018-09-06 16:15] andyrooger commented on #6185
@kenotron I see your point about consumers being able to inline these enums. I also feel like this is more a problem with TypeScript's const enum design than this project. The project will build and run fine right now, as you say, but the problem is that the decision to use `const enum` forces consumers to turn off safety for the rest of their projects.

Does the issue closure mean the discussion

[2018-09-06 16:16] kenotron opened #6252 "Switch to using a real TS parser for the propertiesTable"
**Describe the feature that you would like added**

Currently, we just try to match with regex the properties when we generate documentation. We should try to do this with a real parser to avoid getting into trouble like with #6219 where prop interface was defined on multiple lines (due to Prettier settings). We can probably glean more information and format the documentation site even better with

[2018-09-06 16:30] micahgodbolt commented on #5418
Would be great to support both. columns as a shorthand, and normal templateColumns.
[code]

[code]

[2018-09-06 16:33] kenotron commented on #5327
this looks like an easy one for shield, so i'll take this one :)

[2018-09-06 16:42] micahgodbolt commented on #5327
yeah, that's why I put it in shield :D

[2018-09-06 16:44] micahgodbolt commented on #6149
@dzearing is the issue here that glamor doesn't have a serializer like merge-style does?

[2018-09-06 17:09] micahgodbolt commented on #5473
I'm diving back into this issue and trying to catch up with a long discussion.

Looking at the default <select> behavior (which we are trying to model for all users), it automatically selects the first item in the list. There isn't a way to display a blank select.

One [suggestion from stackoverflow](https://stackoverflow.com/questions/8605516/default-select-option-as-blank) is to disable and hide

[2018-09-06 17:53] betrue-final-final commented on #5473
Described, it looks wrong. Using it, the behavior seems right. I would double check with James Jackson on this as well.

[2018-09-06 18:48] dzearing commented on #6036
@JoshuaKGoldberg and I talked about this and walked through the problem.

The issue is that the container containing the button is `position: sticky`, (and in the initial investigation was using float to overlay.) When we move focus to the button (even if you ignore Fabric and just tab to a button in the container) the scroll position is reset.

This really seems like a Chrome bug, as moving focus

[2018-09-06 18:48] #6036 closed

[2018-09-06 18:53] kenotron commented on #5440
This bug is introduced here: https://github.com/OfficeDev/office-ui-fabric-react/pull/4524/files#diff-62fc109cb2790b7323c7438be2bd8cf5R389 by @joschect

We need to either make focuszone's focus to be inside RAF (which further improves perf, but makes testing harder) - maybe behind a prop...

-OR-

We could remove that perf improvement work inside calloutcontent

-OR-

Hack a focus on open inside D

[2018-09-06 19:04] davsm commented on #6206
I need to keep the row selection in sync with other content on the screen that is outside the list. I am keeping it in sync now by handling the onItemInvoked action. The problem is when the list is sorted, the selection stays on row index that was previously selected, and the onItemInvoked is not fired - so now the content is out of sync.

Maybe there isn't a prescribed way, but since I asked for

[2018-09-06 19:10] dzearing commented on #4605
While we do have plans to add a dedicated `Grid` react component (tracked in another issue), it should be possible to use the fabric-core css in your React projects.

The fabric core repo is here: https://github.com/OfficeDev/office-ui-fabric-core

So if you have fabric-core specific questions, that's a great place.

I took a look at your example and you're missing a `dir="ltr"` attribute, which I

[2018-09-06 19:10] #4605 closed

[2018-09-06 19:14] cliffkoh commented on #6252
Just to be clear, the regex is only used to identify the sectors of code for the parser (we have a real parser) to generate documentation. But at the same time, the documentation generator was written in 1 day over 2.5 years ago and hasn't really been updated and I think a big part of why we're not innovating there is because of the TSDoc effort @pgonzal is spearheading (minimally, that is why I a

[2018-09-06 20:40] micahgodbolt opened #6259 "PeoplePicker A11y Pass"
Tracking all of the issues brought up with the 08/02 accessibility pass on People Picker

Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:f:/p/v-amaver/EnpHiS4SJT9AmpvoASiG4YkB0tjIkeReAXeheqfjbv6FYw?e=rT8roS)

- [x] Bug 1 : [Accessibility][Programmatic access]: ARIA attributes must conform to valid values for 'People picker control'.
- [x] Bug 2 : [Acce

[2018-09-06 20:42] micahgodbolt commented on #6259
Consider this a list of items to triage. Additional issues can be created and linked back here if necessary.

[2018-09-06 20:58] micahgodbolt commented on #6179
@arunnagar15 can you specify what the error is? Is there a specific contrast value we should be hitting?

[2018-09-06 21:11] micahgodbolt commented on #6104
Seems neither dropdown, nor combobox (which use that interface) actually rely on it for onChange. ComboBox even has a 4th param, so not even close.

Since we don't export ISelectableDroppableTextProps in our package, it should be safe to pull that onChange out.

[2018-09-06 21:19] #6095 closed

[2018-09-06 21:32] micahgodbolt commented on #6251
Checking out the popular react-virtualized. Not sure if they do scrollToIndex.

https://github.com/bvaughn/react-virtualized/blob/master/docs/README.md

[2018-09-06 21:51] micahgodbolt commented on #6251
Seems they've hit similar issues https://github.com/bvaughn/react-virtualized/issues/610

[2018-09-06 22:08] JoshuaKGoldberg commented on #6036
Tracking issue in Chrome: https://bugs.chromium.org/p/chromium/issues/detail?id=810895&can=2&start=0&num=100&q=position%20sticky%20scroll&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified&groupby=&sort=

[2018-09-06 22:09] kenotron commented on #6008
Found an article listing this as a solution. I think that's what @cschlechty  is referring to:

[code]

[2018-09-06 22:16] KevinTCoughlin commented on #4814
@peterdur-msft thanks for following up and linking. I'm going to close this since the issue on our side is fixed. Keros is an awesome tool btw!

[2018-09-06 22:16] #4814 closed

[2018-09-06 22:30] #5520 closed

[2018-09-06 22:44] kenotron commented on #4492
So this appears to be a question of usage of fabric-core. Sharepoint webparts devs have hit this issue before in areas like this: https://github.com/SharePoint/sp-dev-docs/issues/1110

Microsoft doc page for UIFabric usage inside webparts is here: https://docs.microsoft.com/en-us/sharepoint/dev/spfx/office-ui-fabric-integration#office-ui-fabric-react

So, these warnings seem to be innocuous. But s

[2018-09-06 22:45] kenotron commented on #4492
I'm closing this since there are workarounds - albeit a bit ugly. Please re-open if you have any new information to add to this thread.

[2018-09-06 22:45] #4492 closed

[2018-09-06 22:46] kenotron commented on #6156
@cliffkoh is this Edge? it looks okay in Chrome.

[2018-09-06 22:55] cliffkoh commented on #6156
Both Edge and Chrome when I took the screenshot

[2018-09-06 22:55] cliffkoh commented on #6156
I can still repro with the link above

[2018-09-06 23:29] TheTedAdams commented on #2370
If this issue needs activity to keep the stale-bot from closing it then consider this activity.

Was very surprised to find this missing.

[2018-09-06 23:30] #4849 closed

[2018-09-06 23:33] #6104 closed

[2018-09-06 23:35] #6168 closed

[2018-09-06 23:35] #5755 closed

[2018-09-06 23:38] #6025 closed

[2018-09-07 01:35] #5327 closed

[2018-09-07 05:40] kenotron commented on #6156
can you draft up a quick mock of what you want on that page, @micahgodbolt ?

[2018-09-07 06:36] kenotron commented on #6185
I understand and appreciate the concern. I myself wrote the example for ts-loader here:
https://github.com/TypeStrong/ts-loader/tree/master/examples/fast-incremental-builds

I can see that you are running into many of the same problems as users of ts-loader. Now, I would encourage you to consider perhaps inlining const enums for production builds via transpileOnly turned OFF. Meanwhile, keep the p

[2018-09-07 07:19] aslanovsergey commented on #5501
Hi @natalieethell because I want to provide options for every field in a row to choose from. That's exactly as I wanted. Why do you think this could case the issue?

[2018-09-07 11:34] VincentBailly opened #6276 "Buttons don't respect the disableGlobalClassNames flag"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/VincentBailly/pen/KxyVZX

### Bug Report

When using the customization with a theme that has { disableGlobalClassNames: true }, I expect the Action to not get all the global class names (like .ms-button)
- __Package version(s)__: 6.7.0

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Req

[2018-09-07 15:15] coreyroth commented on #6126
I just installed SPFx 1.6 and this is still an issue.  I'm going to try and workaround it with 6.8.0.

[2018-09-07 15:28] micahgodbolt commented on #6156
maybe some vertical spaceing up top

![image](https://user-images.githubusercontent.com/1434956/45228184-57e0c200-b277-11e8-8c28-acf6ac79f5b5.png)

and some breathign room on the pivot

![image](https://user-images.githubusercontent.com/1434956/45228273-9f674e00-b277-11e8-8902-98fdf420fb75.png)

As I look at the page, one oddity is that the titles don't stand out very well. Seems they used ms-font

[2018-09-07 15:29] micahgodbolt commented on #6156
Oh yeah, seems fabric.min.css isn't being loaded into those demo sites like it is our public website

![image](https://user-images.githubusercontent.com/1434956/45228450-10a70100-b278-11e8-96c4-2a7756056821.png)

[2018-09-07 15:29] micahgodbolt commented on #6156
I'd say start with getting that same css into our internal demo pages before trying to clean up some of that spacing

[2018-09-07 15:32] micahgodbolt commented on #6126
Does 1.6 bring in React 16 and better TS support? Haven't dove in yet.

[2018-09-07 15:34] coreyroth commented on #6126
Unfortunately, it doesn't look like it.  Which means Fabric React 6 is basically still unusable with SPFx.

`"dependencies": {
    "@microsoft/sp-core-library": "1.6.0",
    "@microsoft/sp-lodash-subset": "1.6.0",
    "@microsoft/sp-office-ui-fabric-core": "1.6.0",
    "@microsoft/sp-webpart-base": "1.6.0",
    "@types/es6-promise": "0.0.33",
    "@types/react": "15.6.6",
    "@types/react-dom": "

[2018-09-07 16:59] kenotron commented on #6008
There's more info here: https://www.w3.org/TR/wai-aria-practices/examples/combobox/aria1.1pattern/listbox-combo.html

[2018-09-07 18:47] maddyt opened #6280 "People Picker - Support copy/paste and multi-select"
**Describe the feature that you would like added**
People Picker needs to support performing copy/paste operation so that email address copied from the To: line in Outlook Web Access and actually be pasted into the People Picker control.
**What component or utility would this be added to**
People Picker
**Have you discussed this feature with our team, and if so, who**

**Additional context/screens

[2018-09-07 18:49] #5691 closed

[2018-09-07 19:22] arunarokk opened #6281 "MessageBar: Icon props are not defined to set the icon or no icon"
### Bug Report

- __Package version(s)__: (6.38.0)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (No)

Requested priority: (High)

Products/sites affected: (if applicable)

#### Describe the issue:

With the current implementation:
no way to either have no icon, to have an “in progress” state, or to specify a

[2018-09-07 20:03] #5413 closed

[2018-09-07 21:11] micahgodbolt commented on #6126
ah drat....seems i'm closing this back up. Keeping fingers crossed for 1.7.0

[2018-09-07 21:11] #6126 closed

[2018-09-07 21:36] micahgodbolt opened #6287 "Dialog does not pass dialogDefaultMaxWidth or dialogDefaultMinWidth to styles function"
![image](https://user-images.githubusercontent.com/1434956/45244131-444f4e80-b2ab-11e8-9b6c-4628916c01e2.png)

![image](https://user-images.githubusercontent.com/1434956/45244137-49ac9900-b2ab-11e8-8bcf-244877393086.png)

[2018-09-07 22:27] micahgodbolt commented on #6281
can you provide a codepen of what you're trying to do?

[2018-09-07 22:29] micahgodbolt opened #6289 "Using an onRender in a ContextualMenuItem gives a 'needs key' warning"
https://codepen.io/micahgodbolt/pen/ZMaoqo?editors=1010#

![image](https://user-images.githubusercontent.com/1434956/45245782-bc6d4280-b2b2-11e8-8d98-b651ac5cb240.png)

![image](https://user-images.githubusercontent.com/1434956/45245787-c3945080-b2b2-11e8-94a8-0e47989538fc.png)

[2018-09-07 22:49] #6287 closed

[2018-09-08 00:17] cliffkoh commented on #6156
Hmm actually the main concern is that the pivot 1 example looks busted. Specifically this:
![image](https://user-images.githubusercontent.com/1003246/45248099-e4b06d80-b2c1-11e8-9a25-b5122a18fbda.png)

[2018-09-08 00:17] cliffkoh commented on #6156
Do you not see the Dropdown being clipped?

[2018-09-08 00:51] micahgodbolt commented on #6156
No, I've never seen that clipping. Its just a single component being rendered there. If there was a bug it'd be there, not just on keytips page

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Cliff Koh <notifications@github.com>
Sent: Friday, September 7, 2018 5:17:57 PM
To: OfficeDev/office-ui-fabric-react
Cc: Micah Godbolt; Mention
Subject: Re: [OfficeDev/

[2018-09-08 10:09] OneCyrus opened #6292 "scroll behaviour on contextmenus (dropdown, combobox, ...)"
![scroll](https://user-images.githubusercontent.com/7747800/45253006-d87aed80-b35f-11e8-9222-e16390fcee0a.gif)

### Bug Report

- __Package version(s)__: latest version on the demo site
- __Browser and OS versions__: chrome 69 (and looks like it hapopens in all browsers)

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

#### Describe the i

[2018-09-08 10:53] IlyeniaMaksim commented on #5660
Hi @bishwenduk029 Any news? Is it completed work?

[2018-09-08 19:52] kenotron commented on #6289
Non minified:
<img width="967" alt="screen shot 2018-09-08 at 12 51 43 pm" src="https://user-images.githubusercontent.com/34725/45258066-0105e600-b366-11e8-9e77-b6a2f6821bcf.png">

[2018-09-08 23:05] andyrooger commented on #6185
Thanks for the responses @kenotron . I've tested my two workarounds above, unfortunately without success.

I've also tested turning on `preserveConstEnums` but it is only helpful for code we're compiling ourselves, not for precompiled npm libraries with declarations. With your suggestions above we'll have a very slow prod build that should work ok, and a dev build with unpredictable runtime errors

[2018-09-09 06:00] javahemans commented on #5473
What I ended up doing is setting the very first element as placeholder - I know this is not good at all but no choice, I don't want to touch core code so everytime I update `npm packages` I lose the stuff.

please fix this - like seriously this is a common sense to not choose an option on behalf of user.

I don't know, how this is misinterpreted during designing this framework

[2018-09-09 13:46] keydoubleu commented on #6292
As a website user, I think it would be bad UX to have the drop-down menu following me around as I scroll down/up. The only improvement would be to keep the drop-down menu open until I manually close it (by clicking outside of it), but I think the ComboBox UX is pretty good as it is right now.

[2018-09-09 14:15] keydoubleu commented on #6281
@micahgodbolt

Currently the messageBarType prop accepts a set of predefined values ( for example MessageBarType.error or MessageBarType.blocked ), but we should be able to pass in a custom SVG icon to the messageBarType prop.

Currently, if you do not include the messageBarType prop, the "info" icon will be displayed by default. There should be an option to not display any icons.

This is importa

[2018-09-09 16:58] shahidroofi commented on #5937
It's been three days I'm only struggle and not able to use people picker using this code for onprem react based new project.

It's unlike other components

First of all most dependent files are not there. I downloaded and pasted in node_modules\office_ui_react to resolve lot of errors.

Still after errors are gone, it won't run. Gulp serve reports tons of other missing items that I'm unable to loc

[2018-09-10 03:00] bishwenduk029 commented on #5660
@IlyeniaMaksim , so can i go ahead and create a new React Component altogether and push the same here? Any suggestions if you have on approaching the issue please do share with me, it would be of great help to me....thanks

[2018-09-10 05:11] #6289 closed

[2018-09-10 05:30] micahgodbolt commented on #6292
I certainly agree that the menu shouldn't follow you around, if anything it should stay attached to it's parent element. With menus sitting in layers this is difficult as we calculate the position on render, and it would be expensive to continue to track that position as the user scrolled.

It may be possible to support this behavior, but we'd probably need to not put the menu on its own layer, bu

[2018-09-10 05:32] micahgodbolt commented on #6252
Been meaning to follow up with docs team about using their API extractor. Is that a conversation we should have sooner than later to improve this situation? @kenotron I know you had explored this in the past. Is it time to dive back in again?

[2018-09-10 05:34] micahgodbolt commented on #5280
not sure if this is a quick fix or major re-architecture, but maybe something @KevinTCoughlin can take a peak at during shield this week. It's certainly come up a few times.

[2018-09-10 05:37] micahgodbolt commented on #5148
![image](https://user-images.githubusercontent.com/1434956/45278197-de1c2480-b480-11e8-8fc0-e5c6d3b4efcd.png)

Seems to still be an issue.

[2018-09-10 05:42] micahgodbolt commented on #5075
seems this is fixed. looks the same in IE11 and Firefox now

![image](https://user-images.githubusercontent.com/1434956/45278360-934edc80-b481-11e8-9108-24b4028ccfb3.png)

[2018-09-10 05:42] #5075 closed

[2018-09-10 05:52] micahgodbolt commented on #4892
So the issue is that an inline element wrapped around an inline-block element collapses and doesn't assume the child's height.

So there is no problem if the child is display block, but is a problem if it's inline-block.

One thing to consider would be, now that we're up to React 16, use React.fragments to render the tooltip without requiring a wrapper div. That's not a small change, as it removes

[2018-09-10 05:53] micahgodbolt commented on #4892
also, here's a current repro https://codepen.io/micahgodbolt/pen/XPVyqK

[2018-09-10 05:55] micahgodbolt commented on #4883
This would be a good issue to revive @KevinTCoughlin. There's still a little discussion left on the right way to do it, but it'd be nice to work with @BrendanMcK to align on a consistent solution to this problem.

[2018-09-10 05:57] micahgodbolt commented on #4504
Wanted to give this one a little nudge to see if there's any ideas on how we can resolve this.

[2018-09-10 06:56] v-sosah opened #6294 "PivotItem is not rendering"
### Please provide a reproduction of the bug in a codepen:

In CodePen it is working fine ,but when we install package (office fabric) from npm and paste the sample code given on the office fabric site. it does not work.
### Bug Report

- __Package version(s)__: (6.25.3)
- __Typescript version:- Version 2.4.1
- __Webpack version:- 4.12.0

- __Browser and OS versions__: (fill this out if relevant)

[2018-09-10 08:08] huanwang111 opened #6295 "IconButton focus style is not working in IE11"
IconButton focus style is not working in IE11, but workings in Chrome.

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/huanwang111/full/xapmRY/
I suppose codepen is using the latest fabric version, and codepen is not working in IE11.

### Bug Report

- __Package version(s)__: (fill this out) 6.61.2
    "@uifabric/styling": "^6.5.0",
    "office-ui-fabric-react": "^6.

[2018-09-10 08:29] hxltinh commented on #5075
@micahgodbolt Great work, thanks

[2018-09-10 08:43] OneCyrus commented on #6292
yes, the contextmenu shouldn't stay at the same position (on the screen). it should be "fixed" to the control (e.g. combobox) and move with the page. we have some comboboxes with larger lists (options) where we see this issue happening unintentionally to a lot of people.

[2018-09-10 08:59] aslanovsergey commented on #5288
very similar issue in version 5.120. OnBlur is called when select a person from suggestion

[2018-09-10 10:31] piyumi25 opened #6296 "How to redirect from one component to another"
I created office outlook addin and  I need to redirect to a separate component when button is clicked. I have used route for above senario but I got this error.
![route error](https://user-images.githubusercontent.com/33615108/45292382-ae1d6180-b512-11e8-8d51-f962a3fc1492.PNG)

[2018-09-10 12:08] realhoffi opened #6297 "Datepicker not closing"
Technologies: Typescript, Webpack

Requested priority: Blocking

The current date picker control has a bug. if i select a date from the opened date popup, then the popup is not closing.

#### Actual behavior:

Datepicker "select Date" Popup is not closing after date selection

#### Expected behavior:
 Datepicker "select Date" Popup is closing after date selection

package.conf

  "sideEffects": fa

[2018-09-10 14:05] betrue-final-final commented on #6292
This is expected behavior for menus in general. Look at both Windows and OSX.

[2018-09-10 14:05] #6292 closed

[2018-09-10 14:09] betrue-final-final commented on #5473
This is true. @micahgodbolt, we should look into this.

[2018-09-10 14:17] micahgodbolt commented on #6294
Looks like swapping out PivotItemType with PivotItem does the trick. It's how we compare children in all other instances. Not sure why we drilled down into the Child's type in this case.

[2018-09-10 17:20] goodoldneon commented on #5994
I think my original issue with the modal setting was a red herring. The real issue is that the meta key state is not checked during selection. PR #6301 fixes the meta key behavior in the DetailsList.

Sorry for making this confusing with my modal "problem" nonsense!

[2018-09-10 19:53] ghost opened #6304 "Add persist prop to DetailsList"
**Describe the feature that you would like added**
Add a "persist" prop  that disables rows removal on unmount
**What component or utility would this be added to**
DetailsList
**Have you discussed this feature with our team, and if so, who**
No
**Additional context/screenshots**
[code]

[2018-09-10 20:40] micahgodbolt commented on #6297
confirmed https://codepen.io/micahgodbolt/pen/WgMXmB

@KevinTCoughlin can you take a look?

[2018-09-11 00:11] #5847 closed

[2018-09-11 00:53] KevinTCoughlin commented on #6294
Yea not sure.. seems to work for me with:

[code]

But `master` also works unless I'm misunderstanding this thread. The only context I see re: that check is #4867.

[2018-09-11 01:06] #5433 closed

[2018-09-11 01:57] cliffkoh commented on #5473
@javahemans Have you read the thread above carefully which explains the current behavior? The current behavior is standards compliant with https://www.w3.org/TR/wai-aria-practices-1.1/#listbox_kbd_interaction

[2018-09-11 02:00] #6102 closed

[2018-09-11 02:37] #6008 closed

[2018-09-11 02:39] #5986 closed

[2018-09-11 02:44] joechung-msft commented on #6295
You need a <Fabric> element to contain the icon buttons.  That's also why the "Standard" label is in a serif, instead of a sans serif, font.

[2018-09-11 02:52] micahgodbolt commented on #6294
I was getting errors with that was in master and success with the testing of child.type === PivotItem.

[2018-09-11 03:09] #6297 closed

[2018-09-11 03:15] micahgodbolt opened #6310 "Remove TSlint overrides in OUFR"
Wanted to get these on the backlog. Can be done as a single issue or broken up into multiple

- [x] "deprecation": false, (#12045)
- [ ] "jsx-ban-props": false,
- [x] "max-line-length": [false, 140],
- [ ] "no-any": false,
- [ ] "typedef": [false]

[2018-09-11 03:44] goodoldneon opened #6311 "DetailsList columnReorderOptions not updating when state updates"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/goodoldneon/pen/xaYJBg

### Bug Report

- __Package version(s)__: 6.67.1
- __Browser and OS versions__: Chrome 68.0.3440.106 and macOS 10.13.6

#### Priorities and help requested:

Are you willing to submit a PR to fix? I'll try

Requested priority: Normal

Products/sites affected: N/A

#### Describe the issue:

Togglin

[2018-09-11 06:29] piyumi25 opened #6312 "Issue in Basic DetailList"
### Please provide a reproduction of the bug in a codepen:

### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites affected: (if applicable)

#### Describe the issue:

I tried use basic detail list for my outlook add

[2018-09-11 06:55] #6276 closed

[2018-09-11 07:13] #6312 closed

[2018-09-11 09:00] #5892 closed

[2018-09-11 09:51] kunalvalecha opened #6313 "Document Card Preview should use Link component and support linkProps"
Document Card should be able to open the document in new tab. As of now either we can handle onclick event or assign url to "onClickHref" property. When clicked it always opens the assigned url in same tab. There is no provision to open the url in new tab.

[2018-09-11 10:42] AkshanshSrivastava03 commented on #4985
@JasonGore
I am still able to see aria-describedby attr without any value in the DOM if undefined or null gets passed to Checkbox. Can we re-open this bug?
I am using  "office-ui-fabric-react": "^5.112.1004" version

[2018-09-11 10:45] AkshanshSrivastava03 opened #6314 "Checkbox accepting empty/undefined ariaDescribedBy and creating an attribute without value causing Keros failures"
### Bug Report

- __Package version(s)__: ^5.112.1004
- __Browser and OS versions__: Chrome with Keros

#### Priorities and help requested:

Products/sites affected: (if applicable) Azure Devops (VSTS)

#### Describe the issue:

When we pass ariaDescribedBy as undefined/null in Checkbox, the renderer renders aria-describedby attr without any value causing Keros failure (Accessibility)

#### Actual

[2018-09-11 11:50] Kesshi opened #6315 "scrolling not possible inside Modal with iOS"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/wEmwXJ

### Bug Report

- __Package version(s)__: 6.67.2
- __Browser and OS versions__: iOS 11.4.1

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: N/A

#### Describe the issue:

With the current fabric version it is not possib

[2018-09-11 14:53] JasonGore commented on #4985
I am not seeing the behavior you describe in this [https://codepen.io/jasongore/pen/bxvBNE]CodePen. Only the first Checkbox with a valid `ariaDescribedBy` prop value has the `aria-described-by` attribute. Can you provide a CodePen or modify the one I provided to show the behavior you are seeing? Thanks.

[2018-09-11 14:55] JasonGore commented on #6314
I am not seeing the behavior you describe in this [CodePen](https://codepen.io/jasongore/pen/bxvBNE). Only the first Checkbox with a valid `ariaDescribedBy` prop value has the `aria-described-by` attribute. Can you provide a CodePen or modify the one I provided to show the behavior you are seeing? Thanks.

[2018-09-11 15:15] goodoldneon commented on #6311
The issue appears to be caused by assigning `columnReorderProps` to `this._columnReorderProps` in `componentDidUpdate()`. Since `this._columnReorderProps` is used in the `render()` method, `columnReorderProps` is always one render "behind".

I fixed this by putting `columnReorderProps` into `state`, and updating it using the `getDerivedStateFromProps()` lifecycle method. You can find the changes [

[2018-09-11 15:34] betrue-final-final opened #6318 "GroupedList: Right/left arrow no longer expand and collapse groups"
Mac OSX High Sierra, Chrome browser

Are you willing to submit a PR to fix? (No)

Requested priority: (High)

Products/sites affected: (if applicable)
 OneDrive, SharePoint, etc...lots

There's no way to expand or collapse a group with keyboard.
Expected: With focus on the group header, right or left arrow should expand or collapse the group.

[2018-09-11 17:39] micahgodbolt commented on #6318
This wasn't working as far back as 6.49 (the first snapshot we have) https://fabricweb.z5.web.core.windows.net/oufr/6.49.0/#examples/groupedlist

pressing left/right move focus up and down the tree, just like up/down arrows

[2018-09-11 18:00] micahgodbolt commented on #6318
The reason our examples go down an item when pressing left/right is that our example is wrapped with a focus zone missing direction

![image](https://user-images.githubusercontent.com/1434956/45378107-6863a600-b5b1-11e8-8b2b-d2356bd81dcc.png)

I believe the expected behavior is that once you get to a header item, you can use left/right to move from the selection circle to the open/close button. If

[2018-09-11 18:15] joschect commented on #5440
@kenotron Thanks for that investigation! I'll take a look and get a fix!

[2018-09-11 18:40] ipip2005 opened #6321 "Native props not supported in Panel Interface"
### Bug Report

- __Package version(s)__: latest

#### Priorities and help requested:

Requested priority: High

Products/sites affected: SharePoint PageSettingsPanel

#### Describe the issue:

Still unable to assign aria-describedby prop to Panel component.
Bug [3634](https://github.com/OfficeDev/office-ui-fabric-react/issues/3634) was opened and was closed by this [code fix](https://github.com/O

[2018-09-11 18:57] KevinTCoughlin commented on #6321
What would be the most flexible solution? Can we swap `React.Props<T>` for `React.HTMLProps<T>`?

[code]

There's a mismatch with `type` if we did that. I'm trying to avoid having to define the native props as we need them.

[2018-09-11 20:00] #6129 closed

[2018-09-11 20:38] #5994 closed

[2018-09-11 20:40] micahgodbolt commented on #6318
Did this work that way in the past? With that horizontal focus zone, it seems that left/right arrow keys always moved from selection circle to arrow button.

i.e. is this more of a feature request then? I agree it'd be nice, but it seems like a larger sized functionality change.

[2018-09-11 21:43] betrue-final-final commented on #6318
As there's no columns in the header there shouldn't need to be column navigation. Technically there might be, but not from an end user perspective.

[2018-09-11 23:34] TestAccessibilityGIT opened #6326 "Dropdown A11y Pass"
Tracking all of the issues brought up with the 09/10 accessibility pass on Drop Down control
Details on individual bugs can be found on  [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B6fd5c0ed-4367-456d-ab08-8e7ace591f1f%7D&action=default&uid=%7B6FD5C0ED-4367-456D-AB08-8E7ACE591F1F%7D&ListItemId=1340&ListId=%7B395E1ECB-5002-

[2018-09-11 23:55] micahgodbolt commented on #6326
@TestAccessibilityGIT thanks for the update!

[2018-09-12 00:49] jspurlin opened #6329 "Layer: Capture events leak out of Layer when !eventBubblingEnabled"
- __Package version(s)__: 6.66.0

#### Priorities and help requested:
Requested priority: (High)

Products/sites affected: office-online, really anyone who has splitButtons

#### Describe the issue:
After the Layer change to use Portals, any capture handler will now be called if something inside of the portal fires an event (e.g. the capture handlers are getting higher priority than the  in the fi

[2018-09-12 01:00] jspurlin commented on #6329
@JasonGore , FYI, I'm fixing the splitButton specific issue with #6330 but this issue is tracking the larger item around capture handlers

[2018-09-12 02:10] Jahnp opened #6332 "Coachmark/TeachingBubble: Undesirable outline on content"
### Repro
https://fabricweb.z5.web.core.windows.net/oufr/6.67.2/#/examples/teachingbubble

### Bug Report

- __Package version(s)__: Latest (6.67.2)
- __Browser and OS versions__: Edge, Windows 10 1803

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes. See #6333

Requested priority: Normal

#### Describe the issue:
TeachingBubble and Coachmark have an undesirable dot

[2018-09-12 05:30] csdgwei opened #6334 "A11y issue in 2 level Nav control"
### Bug Report

- __Package version(s)__: 5.122.0
- __Browser and OS versions__: Edge + Win10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Low

Products/sites affected: top level navigation expand/collapse with screen reader experience is not good.

#### Describe the issue:

When using the 2 level Nav, whe

[2018-09-12 07:49] VincentBailly opened #6337 "customizable typings"
### Bug Report

- __Package version(s)__: 6.67.2

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:
customizable.tsx:
  - should accept a React.ComponentType<T> instead of `new (props:p .....` so that we can use it with a functional component
  - should not return any but React.ComponentClass<...>

[2018-09-12 07:57] cliffkoh commented on #6337
Makes sense to me!

[2018-09-12 09:28] newtonsheikh opened #6338 "Feature: Copy to Clipboard"
We have two buttons for the example code: Export to Codepen and Show/Hide Code

Can we also have Copy to clipboard for every example code ?

[2018-09-12 12:54] shagra-ms opened #6339 "Horizontal scrollbar is hidden behind Sticky footer"
### Please provide a reproduction of the bug in a codepen:

### Bug Report

- __Package version(s)__: 6.53.0 onwards

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)
 Normal
Products/sites affected: (if applicable)

#### Describe the issue:

The ScrollablePane adjusts the position of the Sticky footer(s) based

[2018-09-12 14:53] JasonGore commented on #6329
Thanks for the fix! This looks like an extension of the onMouseEnter/onMouseLeave behavior that was a known change. I'll review our components for focus usage.

[2018-09-12 15:15] jspurlin commented on #6329
Note, it's not just going to be focus but any capture handlers

[2018-09-12 15:33] JasonGore commented on #6329
Yeah this appears to be similar to onMouseEnter events.. since they trickle down, they aren't really leaking out of Portal. Portals causes these events to more accurately respect virtual DOM hierarchy so they traverse down towards the portaled elements. I'll check all capture handlers and create a wiki page to capture all of this.

[2018-09-12 16:11] #6143 closed

[2018-09-12 18:10] deanbot opened #6342 "Panel: CloseButton isn't passing event through to onDismiss"
**Describe the feature that you would like added**

`onCloseClicked` function which is optional and called before `onDismiss` when close button (X) is clicked.

**What component or utility would this be added to**

Panel

**Have you discussed this feature with our team, and if so, who**

**Additional context/screenshots**

[2018-09-12 18:14] #6332 closed

[2018-09-12 20:00] #6077 closed

[2018-09-12 20:00] #6202 closed

[2018-09-12 20:10] licypal opened #6345 "Display a message when a multiselect dropdown in office ui fabric is collapsed"
Is there a way to know when a multiselect dropdown is collapsed? I have a multiselect dropdown as show here:

![multiselect dropdown](https://user-images.githubusercontent.com/6519992/45450455-2871f100-b68d-11e8-957d-444e0c9eef4e.JPG)

On unselecting all options, the dropdown still remains expanded as shown in the above image. On clicking somewhere else in the screen outside dropdown, it collapses

[2018-09-12 20:32] licypal opened #6348 "Property to check if dropdown is expanded or collapsed"
Is there a way to check if dropdown is expaned or collapsed? Similar to isOpen/onDismiss for Panel?

[2018-09-12 21:57] KevinTCoughlin commented on #6348
Hey @licypal,

There is `isOpen` on `IDropdownState` but I'm not sure if that will work for you?

https://github.com/OfficeDev/office-ui-fabric-react/blob/02814cbe9b8d3994b40c9afc6825625e078bd3fe/packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.base.tsx#L45

[2018-09-12 21:59] KevinTCoughlin commented on #6345
Perhaps this property `onMenuDismissed` would help notify you of when the ComboBox's menu is dismissed.

https://github.com/OfficeDev/office-ui-fabric-react/blob/02814cbe9b8d3994b40c9afc6825625e078bd3fe/packages/office-ui-fabric-react/src/components/ComboBox/ComboBox.types.ts#L79

[2018-09-12 23:06] JasonGore commented on #6329
I did an analysis of all of Fabric's usage and didn't find any other actionable fixes. Please review and let me know what you think. I've also created a [Portals wiki page](https://github.com/OfficeDev/office-ui-fabric-react/wiki/Portals) covering known behavior and who is affected.

@jspurlin If you agree, could you close? Thanks!

Component | Notes | Status
-- | -- | --
BaseButton | Fixed by Jer

[2018-09-12 23:35] jspurlin commented on #6329
@JasonGore , thanks for doing a pass and while there may be regressions in consumers implementations (if they are using capture handlers) the out-of-box components have not regressed.

I'm going to go ahead and close this. If it crops up as a larger issue later it can be readdressed from a potential "general fix" perspective

[2018-09-12 23:35] #6329 closed

[2018-09-12 23:37] licypal commented on #6345
Thanks @KevinTCoughlin Is this property available for Dropdown?

[2018-09-12 23:45] aramkoukia commented on #5660
what I was looking for was Picker: [https://developer.microsoft.com/en-us/fabric#/components/pickers](https://developer.microsoft.com/en-us/fabric#/components/pickers)

So I don't need this search autocomplete

[2018-09-12 23:59] licypal commented on #6348
I see this error on using isOpen in Dropdown:

![image](https://user-images.githubusercontent.com/6519992/45459428-228c0800-b6ad-11e8-9f5f-f5b25c2d3ea6.png)

[2018-09-13 00:00] licypal commented on #6345
I see this error on using OnMenuDismissed in Combobox:

![image](https://user-images.githubusercontent.com/6519992/45459488-59fab480-b6ad-11e8-8f62-0eea8802593a.png)

[2018-09-13 00:03] KevinTCoughlin commented on #6348
Yea, its not available as a `prop` only on the component's state.

[2018-09-13 00:05] KevinTCoughlin commented on #6345
`<Dropdown/>` has `onDismiss` available as part of `IDropdownProps`:

https://github.com/OfficeDev/office-ui-fabric-react/blob/02814cbe9b8d3994b40c9afc6825625e078bd3fe/packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.types.ts#L39

[2018-09-13 00:09] KevinTCoughlin commented on #6345
Can you show more of your code, the TS error call-out is masking the component structure so its difficult for me to offer advice. But you should be able to write a function like:

[code]

[2018-09-13 00:10] licypal commented on #6345
![image](https://user-images.githubusercontent.com/6519992/45459769-c6c27e80-b6ae-11e8-98d1-5e32da5a8b6c.png)

[2018-09-13 00:29] licypal commented on #6345
Am I missing any import?

[2018-09-13 00:36] ikiyou commented on #6149
@dzearing bump!

[2018-09-13 00:45] #6205 closed

[2018-09-13 06:55] #6337 closed

[2018-09-13 08:37] latviancoder commented on #5473
I don't think native selects automatically fire an `onChanged` event when select is opened. It does however happen with this version.

[2018-09-13 09:39] Jonastjenix opened #6351 "VirtualizedComboBox not refreshing with empty string."
**Goal**
Cleart input of VirtualizedComboBox when an option is selected.

`
VirtualizedComboBox
text={this.state.textValue}
            options={options}
            onChanged={(option) => {
                          this.setState({
                textValue :""
              });
            }}
          />
`

**Issue**
When text property state is changed the VirtualizedComboBox does not trigger a

[2018-09-13 11:49] jakob101 opened #6353 "IconButton does not output aria-pressed attribute to DOM"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/jawerne/pen/gdKrrE

### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: Chrome, Win10

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

#### Describe the issue:

IconButton can accept two properties - checked and aria-pressed. Neither

[2018-09-13 16:00] #5602 closed

[2018-09-13 18:02] KevinTCoughlin commented on #6311
Nice find!

[2018-09-13 20:13] TestAccessibilityGIT opened #6356 "Button A11y Pass"
Tracking all of the issues brought up with the 09/3 accessibility pass on Button control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B167e904b-6bd2-4bce-a1b7-1466fadf5c47%7D&action=default&uid=%7B167E904B-6BD2-4BCE-A1B7-1466FADF5C47%7D&ListItemId=1308&ListId=%7B395E1ECB-5002-440E-

[2018-09-13 20:13] KevinTCoughlin commented on #6353
It looks like this can be achieved once `toggle="true"` is set on the `<IconButton/>` because of this line:

https://github.com/OfficeDev/office-ui-fabric-react/blob/dc56a3a9389725dc364b51be6a1d237fc150bd2e/packages/office-ui-fabric-react/src/components/Button/BaseButton.tsx#L196

https://codepen.io/kevintcoughlin/pen/mGKKPz

[2018-09-13 20:53] KevinTCoughlin commented on #6345
@licypal that should work as I have it working in [this Codepen](https://codepen.io/kevintcoughlin/pen/YOvvbM). You'll see the dismissal logs printed to the console.

[2018-09-13 21:32] licypal commented on #6345
I saw your code. Not sure why it is showing error when I add onDismiss property. Do I have to import anything else other than Dropdown and IDropdownOption?

[2018-09-13 21:42] bengry commented on #6197
@kenotron Can you refer me to the code that does this? I tried looking at the code of the `Callout` component but didn't find anything that specifically relies on the fixed height. I might've just missed it, but would appreciate a (more specific) pointer. Thanks.

[2018-09-13 22:18] TestAccessibilityGIT opened #6360 "ContextualMenu A11y Pass"
Tracking all of the issues brought up with the 08/24 accessibility pass on Contextual Menu  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bcef6201c-bd85-44b6-a2d3-3784248461e0%7D&action=default&uid=%7BCEF6201C-BD85-44B6-A2D3-3784248461E0%7D&ListItemId=1259&ListId=%7B395E1ECB

[2018-09-13 22:23] TestAccessibilityGIT opened #6362 "DatePicker A11y Pass"
Tracking all of the issues brought up with the 08/17 accessibility pass on DatePicker  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bfeefd420-66f5-4443-8ef1-a2e190392975%7D&action=default&uid=%7BFEEFD420-66F5-4443-8EF1-A2E190392975%7D&ListItemId=1229&ListId=%7B395E1ECB-5002

[2018-09-14 03:09] Jahnp commented on #6117
Closing as this has been resolved with #6361.

[2018-09-14 03:09] #6117 closed

[2018-09-14 05:43] jakob101 commented on #6353
Thanks, I'll try that. Would be great to have it documented :)

[2018-09-14 05:43] #6353 closed

[2018-09-14 11:17] veeramanx opened #6367 "Grouped list - display items between group and their children"
Hi,

is it possible to display items between group and their children. Please see the screenshot for the reference

![image](https://user-images.githubusercontent.com/36476607/45547268-212b1e80-b818-11e8-8811-2836f9c1bf54.png)

[2018-09-14 12:30] Nimelrian commented on #5035
Just wanted to ask about the progress here. Even if I set a custom font family for `ITheme::typography::families::default` I get Segoe UI in some places (e.g. column headers of `DetailsList`). Using Segoe UI is a no go and thus a blocking issue for our app.

[2018-09-14 14:45] bpringe opened #6368 "Allow rendering of icon on either side of text in buttons"
**Describe the feature that you would like added**
When adding a button, such as an ActionButton, I can specify an iconName in the Icon props, but I would like to be able to render the icon on the right for some buttons. For example, if I have previous and next buttons that use the Previous and Next icons, I want the Next icon rendered to the right of the text "Next" that I place in the button.

*

[2018-09-14 14:52] veeramanx commented on #6367
I don't think what i am after is possible with grouped list control. are their any plans to implement tree view control in office UI Fabric react ? thanks.

[2018-09-14 16:07] micahgodbolt commented on #6368
You can already do this in one of two ways. You can add menuIconProps (though the menu icon is styled smaller so this might be annoying), or you can simply flip the flex direction on the flexContainer

https://codepen.io/micahgodbolt/pen/zJLdoV?editors=1010

[2018-09-14 16:09] micahgodbolt commented on #6342
Why do you want this feature? We might be able to accomplish what you want without adding another callback.

[2018-09-14 16:19] micahgodbolt commented on #6295
Seems to be working now with your updated pen
![image](https://user-images.githubusercontent.com/1434956/45562437-5414e880-b7ff-11e8-876a-d83a2137b893.png)

[2018-09-14 16:19] #6295 closed

[2018-09-14 16:56] micahgodbolt commented on #6342
Looks like the problem is that onDismiss isn't properly passing in the event in all instances of dismissing.

Here is the button

![image](https://user-images.githubusercontent.com/1434956/45564107-3f871f00-b804-11e8-8e4c-e1d2e33bb726.png)

And here is no event being passed to the dismiss function

![image](https://user-images.githubusercontent.com/1434956/45564121-4d3ca480-b804-11e8-8c7e-b296b2ae

[2018-09-14 18:26] licypal commented on #6348
Could you please let me know what does this error indicate?

[2018-09-14 19:07] licypal commented on #6345
I was able to use onBlur instead. But, I need to click outside Dropdown twice in order to print the message.

<Dropdown
options={[
            { key: 'A', text: 'Option a' },
            { key: 'B', text: 'Option b' },
            { key: 'C', text: 'Option c' }
          ]}
multiSelect={true}
onBlur={this.onFilterDropDownDismiss}
/>

private onFilterDropDownDismiss = (): void => {
    console.log(

[2018-09-14 19:31] micahgodbolt commented on #6310
you'll probably run into a lot of errors upon turning each one of these off. probably safest to do 1 at a time along with any fixes needed to support that change.

[2018-09-14 20:54] cliffkoh commented on #6310
@micahgodbolt I think enabling IE 11 screener tests is far more bang for buck than some of these tslint rules. `deprecation` is a good one though.

[2018-09-14 21:08] micahgodbolt opened #6373 "ResizeGroup: Remove classNamesFunction to reduce component weight"
Resize Group is really a utility rather than a styleable component. The styling package adds weight for anyone wanting to use it.

We'd like to remove `classNamesFunction` and move the necessary styles inline (its only 2 css properties).

The challenge here is dealing with the deprecation. Our best et will be to deprecate the styles prop and recommend using className instead. This way it won't be

[2018-09-14 21:13] micahgodbolt commented on #6342
yup, that's it. the event will contain the target that emitted the event, and you can test to see how the dismiss occurred.

[2018-09-14 22:08] cliffkoh commented on #6310
Also, is this really a good first issue?

[2018-09-14 22:13] micahgodbolt commented on #6310
that's what david suggested. It's a 'turn off the exception' and fix what breaks. Rise repeat.

[2018-09-14 22:28] cliffkoh commented on #6310
Fixing the breaks may be far from trivial though... But if Eddie is working on this already, we'll see how far he gets. I still think enabling IE 11 screener is much more valuable.

[2018-09-14 22:36] KevinTCoughlin commented on #6348
A Component's `state` is internal to itself so you can't access it via `props` (the attributes on the JSX element). The TS error you are facing above is showing that `isOpen` is not available on `IDropdownInternalProps` which is the interface for the Dropdown Component's props.

To check if the dropdown is closed, I'd still advocate using `onDismiss` which for some reason isn't working for you as

[2018-09-14 22:40] licypal commented on #6345
@KevinTCoughlin How will I share my code with you?

[2018-09-14 22:49] #6311 closed

[2018-09-15 00:19] chang47 opened #6376 "Pressing enter in spin button doesn't highlight text anymore"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/JoshChang47/pen/qMyMXO

### Bug Report

- __Package version(s)__: Fabric Core 9.6.0 and Fabric React 6.49.2

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Low

Products/sites affected: All

#### Describe the issue:

If a user presses enter in a spin button after chan

[2018-09-15 00:40] #5960 closed

[2018-09-16 07:50] PSchicht opened #6379 "Printing with fabric react"
Hi!

I wrote an application that has a print form. At the moment, when i try to print, no css is included. Do you have some guidance on how to include the application (Fabric Core, ...) css for printing or implement printing capabilities in general?

Thanks a lot!
Pascal

[2018-09-16 15:38] NoahWallace opened #6380 "Inconsistent Lib imports for commonjs build module"
### Please provide a reproduction of the bug in a codepen:

### Bug Report

- __Package version(s)__: 6.1.0
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)
 Yes
Requested priority: (Blocking, High, Normal, Low)
 Blocking
Products/sites affected: (if applicable)

#### Describe the issue:
 React App imp

[2018-09-17 05:01] micahgodbolt commented on #6376
I'm assuming it was because of #6363 right? Is this issue just to track that issue? It seems like @jspurlin was suspicious 6363 might affect this behavior.

[2018-09-17 05:04] chang47 commented on #6376
@micahgodbolt actually it's not, I was able to reproduce this problem without my change. I even cloned the main Fabric repro and tested the behavior and I ran into the same problem

[2018-09-17 05:12] micahgodbolt commented on #6376
@chang47 oh gotcha! Thanks for the clarification. We'll try to dive in as well. Tell us if you find anything.

[2018-09-17 05:15] micahgodbolt commented on #6376
@chang47 I think the main question is "whats the expected behavior". @jspurlin probably has the best context on that. TBH, i'm not sure if any of our inputs have this behavior of selecting the input upon hitting enter. So maybe it was intentional? Would have to track down when this code change occurred to see if there was a rationale for the change.

[2018-09-17 07:42] jayleems2018 opened #6381 "It does not read Dropdown role from Narrator and Edge"
### Please provide a reproduction of the bug in a codepen:

### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

It does not read

[2018-09-17 07:49] jayleems2018 opened #6382 "Narrator: Page scan mode skips inputs following labels with absolute position :after pseudo elements"
### Please provide a reproduction of the bug in a codepen:

### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

While use Narrat

[2018-09-17 07:52] obiwan007 commented on #5849
Is there any workaround on how to get this to work? What kind of webpack.config are you guys using in getting this to work?

[2018-09-17 09:42] gblunden opened #6383 "Dialog Enforced Max-Width Update"
Hi Team,

Has there been a recent update to enforce max-width on a Dialog component?

We are using Dialog in SPO to display list items using the ms-grid and it appears external styling has been enforced to restrict the width of **.ms.Dialog.main** to **480px**.

Thanks,
Gary

[2018-09-17 13:11] aslanovsergey commented on #5501
@micahgodbolt I took a look at the demo you build and doesn't have the issue? Did it have when built it?

[2018-09-17 13:30] bpringe commented on #6368
Reversing the flex direction works for me. I was unfamiliar with CSS flexbox. Thank you.

[2018-09-17 14:31] #6368 closed

[2018-09-17 16:33] kenotron opened #6386 "Get rid of the use of const enum inside OUFR"
**Describe the feature that you would like added**
This is related to #6185. Even though Typescript supports const enums, it isn't very nice as a library to depend on it because compilation with isolatedModules / transpileOnly would not work with const enums. These flags are required for the likes of ts-loader in order for reasonable innerloop build times.

OUFR has a few offending instances of th

[2018-09-17 16:35] kenotron commented on #6185
I've opened a feature request in favor of getting rid of the const enum at least in OUFR package. Let's discuss a strategy there. #6386

[2018-09-17 16:35] #6185 closed

[2018-09-17 16:50] micahgodbolt commented on #6383
Until just recently the Dialog had the following props, but didn't actually use them:

![image](https://user-images.githubusercontent.com/1434956/45637326-072f4d00-ba5f-11e8-879a-f591238445a1.png)

So the maxWidth styles should not have changed, but if you had passed in a maxWidth prop in the past, it is now working properly.

[2018-09-17 16:54] micahgodbolt commented on #6383
i.e. if you need to remove the maxWidth of your dialog, you can pass in `maxWidth='none'`

[2018-09-17 16:55] micahgodbolt commented on #6382
are you specifically talking about the choicegroup? or do you mean all components with roles such as radio button?

[2018-09-17 16:59] micahgodbolt commented on #6381
is it currently reading "listbox", or is it just not saying anything at all?

[2018-09-17 17:51] jayleems2018 commented on #6382
I mean specifically radio button.

[2018-09-17 18:45] micahgodbolt commented on #6367
A proper tree view has been discussed several times, but hasn't been prioritized yet. Very hard to do right (in a way that scales), so often easier to implement locally.

[2018-09-17 18:50] KevinTCoughlin commented on #6345
I think the issue here is that the version of OUIFR is `4.43.1` which predates https://github.com/OfficeDev/office-ui-fabric-react/pull/3087

[2018-09-17 18:58] micahgodbolt commented on #6321
I think we'd be fine with HTMLProps. If we used `InputHTMLAttributes` we'd have trouble with that 'type' prop.

[2018-09-17 18:58] jayleems2018 commented on #6381
No.  It is not reading role as "listbox".

[2018-09-17 19:01] satbai commented on #5162
@cliffkoh @arunarokk  I can still reproduce this.

For a workaround, adding both required="true" and aria-required="true" for the Dropdown component props will fix this but I think this should be fixed in the component so that if required="true" is provided, aria-required value will be automatically added as well. Could this be reconsidered please?

[2018-09-17 19:09] micahgodbolt commented on #6382
When I use narrator on our choicegroups (radio buttons) i get the following:

Is this incorrect?

[2018-09-17 19:15] micahgodbolt commented on #5162
@satbai can you create a new issue for that explicit ask? If it's possible to do without breaking anything, we can certainly get it into our backlog.

[2018-09-17 19:32] jayleems2018 commented on #6382
Did you follow this step as I mentioned in bug report?
While use Narrator and Edge with CAPS+M which is to read full screen content

If you press tab key, it reads, but our accessibility team requires what if with CAPS +M, which does not read in our case.

[2018-09-17 19:36] micahgodbolt commented on #6382
Ah, yes. I did not try that. I will.

[2018-09-17 20:06] TestAccessibilityGIT opened #6390 "CommandBar A11y Pass"
Tracking all of the issues brought up with the 09/14 accessibility pass on Command Bar  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B2ae54845-a1c2-4e8e-9d3c-d418976e5d30%7D&action=default&uid=%7B2AE54845-A1C2-4E8E-9D3C-D418976E5D30%7D&ListItemId=1371&ListId=%7B395E1ECB-500

[2018-09-17 20:32] micahgodbolt commented on #6382
took me a little while, but it appears to be an issue with the pseudo elements we're using to represent the radio buttons. I don't know why, but when I turn off the CSS for the pseudo elements, it works fine. The markup is perfect.

[2018-09-17 20:41] jayleems2018 commented on #6382
Do you have a sample?

[2018-09-17 21:11] micahgodbolt commented on #6382
Here is the exact same DOM as the choicegroup spits out, but with none of the styles

https://codepen.io/anon/pen/ZMqoBx

[2018-09-17 21:14] stanleyymsft opened #6392 "ComboBox invokes onBlur handler unexpectedly when the user clicks the scroll bar of the dropdown menu"
### Bug Report

For a ComboBox that is configured with "allowFreeForm" being true, if the user clicks on the scroll bar of the dropdown menu in order to scroll to an option to select, it invokes onBlur handler unexpectedly (technically the user's focus is still on the ComboBox as a whole).  In comparison, Fabric Dropdown component doesn't have this issue.

- __Package version(s)__: 6.61.2
- __Brow

[2018-09-17 21:17] ALaveault opened #6393 "Command Bar items render as an ellipsis"
### Bug Report

- __Package version(s)__: 5.112.0

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority:  High

Products/sites affected: Microsoft Dynamics 365 Project Service Solution

#### Describe the issue:

We have multiple controls using the CommandBar component. Those controls are each in iframe. When updating the commandBar, and navigating to a

[2018-09-17 21:20] goodoldneon opened #6394 "DetailsList: Horizontal and vertical scrolling when items is empty and column reorder is enabled"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/goodoldneon/pen/dqgeGE

### Bug Report

- __Package version(s)__: 6.70.0
- __Browser and OS versions__: Chrome 69.0.3497.92 and macOS 10.13.6

#### Priorities and help requested:

Are you willing to submit a PR to fix? I'll try

Requested priority: Normal

Products/sites affected: N/A

#### Describe the issue:

The `Det

[2018-09-17 21:29] micahgodbolt commented on #6382
Specifically the display property of the :after pseudo element. https://codepen.io/micahgodbolt/pen/oPaEjL

[2018-09-17 21:30] micahgodbolt commented on #6382
I'm happy to call this a narrator bug.

[2018-09-17 21:49] micahgodbolt commented on #6394
give us a shout if you get stumped

[2018-09-17 21:49] licypal commented on #6345
I installed office-ui-fabric-react@5.124.0 and now I can use onDismiss property. Thank you @KevinTCoughlin.

[2018-09-17 21:49] #6345 closed

[2018-09-17 21:51] micahgodbolt commented on #6393
Is there any possibility of migrating to the 6.0 branch? We completely rewrote the command bar in 6.0.

[2018-09-17 21:53] micahgodbolt commented on #6392
Have you checked to see if this is still the behavior in our current release? If so, we can try to work out a fix and backport it to 5.x.

[2018-09-17 21:55] licypal commented on #6348
Got it fixed by updating office-ui-fabric-react version to 5.124.0. Thank you @KevinTCoughlin!

[2018-09-17 21:55] #6348 closed

[2018-09-17 22:11] yumikohey commented on #1597
@betrue-final-final The workaround that I tried is added a `FocusTrapZone` within `CallOut`.

[2018-09-17 22:26] #4550 closed

[2018-09-17 22:59] #6380 closed

[2018-09-17 23:01] mikewheaton opened #6397 "ActionButton: Update to match design toolkit"
#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:

ActionButton should match the latest toolkit design:
![image](https://user-images.githubusercontent.com/1382445/45654979-cf41fd00-ba92-11e8-8e69-530871e7a6a9.png)

[2018-09-17 23:09] ALaveault commented on #6393
The 6.0 branch uses React 16 correct? We are still using React 15 and need a thorough investigation before we can move forward with React 16.

[2018-09-17 23:13] KevinTCoughlin commented on #6360
Crossing off bugs that I've committed fixes for in https://github.com/KevinTCoughlin/office-ui-fabric-react/tree/keco/ctx-menu-demo-a11y as I go.

[2018-09-17 23:20] stanleyymsft commented on #6392
Sorry, it was my mistake previously.  We are actually using version 6.61.2.  I updated the bug report above too.  Thanks!

[2018-09-18 00:10] micahgodbolt commented on #6393
Yes, it's using React 16. You might be able to get by pulling the new CommandBar from our older experiments package. That might be a decent stopgap until you are able to migrate (or at least confirm if 6.x command bar works for you).

[2018-09-18 02:33] #6321 closed

[2018-09-18 03:16] keepWalking commented on #2431
+1

[2018-09-18 08:12] Kesshi commented on #6315
I think this PR is cousing the issues: https://github.com/OfficeDev/office-ui-fabric-react/pull/5804

[2018-09-18 10:23] hoovercj opened #6398 ""title" tooltip in context menus does not appear when focusing via keyboard"
### Please provide a reproduction of the bug in a codepen:
https://codepen.io/anon/pen/eLQmqb

### Bug Report

- __Package version(s)__: All
- __Browser and OS versions__: Windows 10 with Edge

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)
No

Requested priority: (Blocking, High, Normal, Low)
High

Products/sites affected: (if applicable)
Microsoft product.

[2018-09-18 10:49] rachidaoudi opened #6399 "Make onActiveItemChanged get called also onBlur"
**Describe the feature that you would like added**
Currently `onActiveItemChanged` gets called only when the user selects a row, we need it to be also called when the user unselects a row or the native FocusZone of the DetailsList loses focus ( an empty object for example )
**What component or utility would this be added to**
DetailsList
**Have you discussed this feature with our team, and if so,

[2018-09-18 12:07] kevinbargary opened #6400 "SearchBox in CommandBar Issue?"
Hey,
I'm not sure if this is a bug with `CommandBar` but when a `SearchBox` is added to an `OverflowSet` the styles are OK out of the box. When a `SearchBox` is added to a `CommandBar` there is immediately an alignment issue with the `SearchBox`.

![image](https://user-images.githubusercontent.com/467355/45686072-577fdb00-bb43-11e8-8d44-7232ae1bca79.png)

Sandbox [here ](https://codesandbox.io/s/o

[2018-09-18 12:36] RupamSarkar opened #6401 "Swatch Color Picker - White color border issue"
#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low) : High

Products/sites affected: (if applicable)

#### Describe the issue:
 In Swatch Color Picker the border for white color does not appear in case of rgba(0,0,0,0) value . We are using rgba values for our scenarios and can't use fixed value(#FFFFFF) .  The bor

[2018-09-18 14:38] goodoldneon commented on #6394
I created PR #6402, but I'm not sure whether it's the "right" way to fix this issue. Please let me know what you think.

[2018-09-18 15:28] butchmarshall commented on #5937
Is it possible to use this as a controlled input?

[2018-09-18 17:30] leddie24 commented on #6310
Do we actually want to remove `jsx-ban-props`?  It complains about the

  Don't we want to use inline styles for some components and utilities (e.g `withViewport`)?

[2018-09-18 17:34] #6342 closed

[2018-09-18 18:50] KevinTCoughlin commented on #6401
@RupamSarkar thanks for the report. I'll take this unless you want it since I was recently in here for #6222.

[2018-09-18 18:57] KevinTCoughlin commented on #6398
@hoovercj Wow! I've never seen this before.. it seems like behavior custom to Edge w.r.t the [title](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/title) attribute based off of this http://jsfiddle.net/538cfrzn/1/

[2018-09-18 20:20] chadsowald opened #6404 "Documentation Bug - Broken Links for Variants on DetailsList page"
1. Visit https://developer.microsoft.com/en-us/fabric#/components/detailslist
2. Click any of the links under "Also available in" on the right (see screenshot)

**Expected**: Goes to that sample clicked.
**Actual**: Broken link

Note 1: The left side navigation links work as expected.
Note 2: Not sure if any other pages have the same issue.

![image](https://user-images.githubusercontent.com/16576

[2018-09-18 21:01] micahgodbolt commented on #6400
Regular buttons and searchboxes have a fixed standard height. So toss them into a overflowSet and they look fine. But CommandBar has a height taller than buttons/searchbox, so when you drop a fixed height item into it, it won't automatically snap.

You can see this if you add some height and background to your overflowSet exmple.

![image](https://user-images.githubusercontent.com/1434956/45716235

[2018-09-18 22:04] KevinTCoughlin commented on #6404
Thanks for the report @chadsowald. I believe the website is a few versions behind because on `master` those links are no longer present on the root `DetailsList` page

![image](https://user-images.githubusercontent.com/706967/45719110-26f46d00-bb54-11e8-9d1b-f3ebb11ed7b6.png)

cc: @Jahnp to confirm if possible

[2018-09-18 22:10] goodoldneon opened #6407 "Column reordering wrong when DetailsList.checkboxVisibility === 2"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/goodoldneon/pen/pOQObe

### Bug Report

- __Package version(s)__: 6.71.0
- __Browser and OS versions__: Chrome 69.0.3497.92 and macOS 10.13.6

#### Priorities and help requested:

Are you willing to submit a PR to fix? I'll try

Requested priority: Normal

Products/sites affected: N/A

#### Describe the issue:

When set

[2018-09-18 22:12] OmarMustafa commented on #6017
Just to update the thread, I contacted John offline and he'll forward it to @jhellesen who’s doing some work in this control at the moment.
Thanks!

[2018-09-18 23:01] KevinTCoughlin commented on #6294
@v-sosah can you pull latest once it publishes with the linked change and see if it fixes your scenario?

[2018-09-18 23:13] KevinTCoughlin commented on #6401
@RupamSarkar `rgba(0, 0, 0, 0)` is technically transparent which would be noticeable if your container background is non-white. We can check `rgb(255, 255, 255)` and `rgba(255, 255, 255, 1)`.. would that work? I'll look into a more robust solution for checking `isWhite`.

![image](https://user-images.githubusercontent.com/706967/45721646-bbaf9880-bb5d-11e8-8211-0aa04a71f9a0.png)

[2018-09-18 23:28] KevinTCoughlin commented on #6401
I think `#FFF` will also break the comparison.

[2018-09-19 00:34] KevinTCoughlin commented on #6407
Debugged this a bit and need to continue to be sure we get the correct fix. It looks like:

Unless `selectAllVisibility === SelectAllVisibility.none` we render column at position "1" (really 0 in zero-based system), with or without the checkbox rendered depending on the flag.

![image](https://user-images.githubusercontent.com/706967/45723960-dd624d00-bb68-11e8-8b0d-043fdfcf1b43.png)

Otherwise, i

[2018-09-19 02:39] Vitalius1 commented on #6197
@bengry This PR should help solving your issue. Introduces a new BasicCard which will take the size of the content you put in. The fixed height @kenotron mentioned is needed for the animation on the expanding card to work with Callout.

[2018-09-19 03:08] Vitalius1 opened #6412 "Dropdown: Fluent experiment"
Design ready, may need to convert to CSS-in-JS before styling.

[2018-09-19 04:53] micahgodbolt opened #6413 "DetailsList: add callback to get column widths on resize"
This feature will help us support overflowSets inside of columns. So rather than using a resizeGroup, or manually measuring column widths, if the DetailsList can report the widths it has determined for each column, we can manually adjust the items in the overflowSet.

[2018-09-19 04:56] micahgodbolt commented on #6413
This is needed to unblocked a Flows scenario.

[2018-09-19 05:31] micahgodbolt opened #6414 "MessageBar in dark theme isn't accessible"
Many of the 'isInverted' colors are still way too light to work with white text. Also text might be white, but the links are still dark. It's hard to find a color that supports both.

![image](https://user-images.githubusercontent.com/1434956/45732739-8e311200-bb92-11e8-8851-b72c729c1f2a.png)

https://codepen.io/micahgodbolt/pen/bxQPWZ?editors=1010

[2018-09-19 05:37] micahgodbolt commented on #6414
@phkuo is there an expected way to create a dark themed message bar? Is the text not supposed to be white or something?

[2018-09-19 07:04] kevinbargary commented on #6400
@micahgodbolt thanks for the response. I figured as much, I just wanted to see if I could escape without having to write CSS myself 😉 I'm trying to keep tampering to a minimum. Might just use the `OverFlowSet` for my use case. I'll close this "bug" so. 👍

[2018-09-19 07:04] #6400 closed

[2018-09-19 12:38] RupamSarkar commented on #6401
Yes I think we should do more robust solution for checking White , As there are multiple ways to show a white color . Also if we have a button for No Color (Transparent )  that should also have the border , right ?

[2018-09-19 13:29] Nimelrian opened #6416 "DetailsList - Cursor key traversing shows unexpected selection behavior when moving from header row to first item"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/nimelrian/pen/BOvpjO

### Bug Report

- __Package version(s)__: office-ui-fabric-react@6.71.1

#### Priorities and help requested:

Are you willing to submit a PR to fix? No, maybe if I can find the cause of it myself. If someone has more experience with the intricacies of `DetailsList`/`Selection`/`SelectionZone` I wou

[2018-09-19 13:52] hoovercj opened #6417 "Fixed Width SearchBox is broken on Insiders Edge"
### Please provide a reproduction of the bug in a codepen:

Website: https://developer.microsoft.com/en-us/fabric#/components/searchbox
Codepen: https://codepen.io/anon/pen/LJMLby

### Bug Report
- __Package version(s)__: All
- __Browser and OS versions__: Windows Insiders (17754.1) and Edge 44.17754.1.0

#### Describe the issue:

The example "SearchBox with fixed width" from the Office UI Fabric

[2018-09-19 16:18] JasonGore commented on #6386
I think one of the work artifacts for this issue should be to update the [TypeScript guidelines](https://github.com/OfficeDev/office-ui-fabric-react/wiki/TypeScript-Guidelines) regarding enum usage.

[2018-09-19 16:54] micahgodbolt commented on #6417
The 'input' is set to flex: 1 1 0px. If that flex shrink value was getting lost, that would cause this issue.

Can you try this pen to see if explicit flex-shrink helps?

https://codepen.io/micahgodbolt/pen/MqZVBa

[2018-09-19 16:58] hoovercj commented on #6417
That didn't help, no.

[2018-09-19 16:59] micahgodbolt commented on #6417
Okay, worth a stab. From your description it sounds like the input isn't respecting the flex-shrink value

[2018-09-19 17:07] KevinTCoughlin commented on #6294
Spoke with @v-sosah off thread and this is still occurring. Will take another pass at it.

[2018-09-19 17:11] micahgodbolt commented on #6382
I've logged this bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/19037570/

[2018-09-19 17:38] #6313 closed

[2018-09-19 18:15] phkuo commented on #6414
@micahgodbolt The background colors are partially transparent and are meant to go on a dark background in inverted themes.

[2018-09-19 18:31] phkuo commented on #6414
No, the text is supposed to be warningText, which is either #333 or #fff, depending on isInverted.
See here: https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/styling/src/interfaces/ISemanticTextColors.ts#L63

The background colors are all partially transparent, you need to set the body's background to bodyBackground.
![image](https://user-images.githubusercontent.com/206916

[2018-09-19 19:00] micahgodbolt commented on #6414
Oh I gotcha! Thanks.

[2018-09-19 19:01] micahgodbolt commented on #6414
Way better, though the links are still pretty hard to read. Obivously i could change link color in the theme. Is that what I'd need to do?

[2018-09-19 19:04] phkuo commented on #6414
Yes, right now we have links matching themePrimary. We may need a new slot for links on top of these message bar backgrounds though...
Also the designers have only looked at black and white backgrounds, they haven't really considered non-grayscale backgrounds, so having a slightly yellow or slightly red background might not work out well.

[2018-09-19 19:09] micahgodbolt commented on #6414
looks like links are intentionally set to themeDark. We could switch that to something else if isInverted is selected

[2018-09-19 19:14] phkuo commented on #6414
links on bodyBackground should be themePrimary in normal AND inverted
we probably chose themeDark because the background is a bit lighter, which would work well in light themes but worse in dark, but in any case it should be fine for now

[2018-09-19 19:46] micahgodbolt commented on #6414
Okay, I'll update the pen and call it good.

[2018-09-19 19:46] #6414 closed

[2018-09-19 23:06] yumikohey opened #6420 "BasePicker: IE11, issue to type Korean characters."
### Please provide a reproduction of the bug in a codepen:
Type below characters in BasePicker field.
ㅂ(q) + ㅏ(k) +ㄱ(r) -> 박
ㅂ(q) + ㅕ(u) +ㄴ(s) -> 병
ㄱ(r) + ㅜ(n) +ㅓ(j) +ㄴ(s) -> 권

Issues:
Typing “q” -> “k” -> “r” -> “q” -> “u” -> “s”
( The 2nd 'q' and 's' disappear in input field. )  Result: 박ㅕ

### Bug Report

- __Package version(s)__:
- __Browser and OS versions__: IE11

#### Priorities and help r

[2018-09-20 00:17] andrew-buckley commented on #5329
A way to edit a list item inline would be great. Or is this functionality already offered?

[2018-09-20 00:23] netarey opened #6422 "Modal: In scan mode, the narrator focus moves out of the Modal"
#### Priorities and help requested:
Are you willing to submit a PR to fix? (No)
Requested priority: (Normal)

#### Describe the issue:
 While navigating in scan mode, the narrator focus moves out of the modal. Tested on the sample modal component given in the Office UI Fabric website. (https://developer.microsoft.com/en-us/fabric#/components/modal)

Please check the images attached.

![office ui f

[2018-09-20 01:42] keydoubleu commented on #6281
@micahgodbolt
Oh wow! I had no clue unregisterIcons() even existed, that's so awesome! Thank you so much for pointing that out.

I can only imagine how many hidden little treasures like this exist in Office UI Fabric React.

[2018-09-20 03:29] micahgodbolt commented on #6281
I'm working on trying to document them all! Does this solution work for you?

[2018-09-20 06:31] #5766 closed

[2018-09-20 12:39] keydoubleu commented on #6281
It absolutely does, thank you once again! And I am so happy to hear that you are working on the docs, we really need them in order to harness the full power of this wonderful library!

[2018-09-20 15:18] hohenp opened #6427 "Styling the Panel component"
How do you recommend to style the React Panel component.
I need to apply styles to the header, content and footer divs within the contentInner div
As I am using css modules I cannot easy apply styles to the static class names ms-Panel-Header, ms-Panel-Content and ms-Panel-footer.

Is there a way to overwrite the Header_hash, Content_hash, footer_hash classes?
Any other suggestions?

Thanks
Pascal

[2018-09-20 17:37] #6420 closed

[2018-09-20 20:52] BrendanMcK opened #6431 "BasePicker should do own browser detection for enableSelectedSuggestionAlert prop"
### Bug Report

- __Package version(s)__: 6.49.2
- __Browser and OS versions__: n/a

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) Maybe

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable) n/a

#### Describe the issue:

A colleague (hi @richardtagger) noticed that BasePicker has a `enableSelectedSuggestionAlert

[2018-09-20 22:36] micahgodbolt commented on #6431
@joschect do you have any background on this prop in the picker?

[2018-09-20 22:41] micahgodbolt commented on #6427
You can target specific areas of the panel via the styles prop like this:

https://codepen.io/micahgodbolt/pen/RYvzpg

Check out the panel's IPanelStyles interface for other areas.

[2018-09-20 23:30] #5480 closed

[2018-09-21 01:03] phkuo opened #6434 "Panel: no longer outputs ms-Panel--custom"
### Bug Report

- __Package version(s)__: Fabric 6

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: SharePoint

#### Describe the issue:

The Panel no longer outputs ms-Panel--custom. This seems to have occurred when it was converted to CSS-in-JS in #5823 . The code does have it under GlobalClassNames but it's nev

[2018-09-21 01:03] phkuo commented on #6434
@oengusmacinog FYI

[2018-09-21 02:18] thejurassic opened #6437 "TextField loses focus when dynamically switching to multiline"
### Please provide a reproduction of the bug in a codepen:
 https://codepen.io/thejurassic/pen/ZMPEBZ

### Bug Report

- __Package version(s)__: ^6.43.0

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yea but not sure if I can fix it.. willing to try though.

Requested priority: High

Products/sites affected: Internal corporate applications

#### Describe the issue:

S

[2018-09-21 08:38] Xannic opened #6438 "GroupedList not Rendering when the first group has a count of 0"
### Please provide a reproduction of the bug in a codepen:
https://codepen.io/Xannic/pen/vzPXzv

### Bug Report

- __Package version(s)__: 6.72.0
- __Browser and OS versions__: Chrome Version 69.0.3497.100 on Windows 10

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

#### Describe the issue:

When you give the Grouped list an array of groups and the first group has

[2018-09-21 10:09] hoovercj opened #6440 "SearchBox does not pass props to the input element"
### Bug Report

- __Package version(s)__: All
- __Browser and OS versions__: All

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: High

Products/sites affected: n-a

#### Describe the issue:

The `SearchBox` component accepts properties such as `autoComplete`, `maxLength`, `spellCheck`, `autoCorrect`, etc. but does not pass them to the `Input` c

[2018-09-21 11:31] hoovercj commented on #6440
Related: #5321

[2018-09-21 11:47] hoovercj opened #6441 "Windows Narrator in "scan mode" does not read ComboBox "dropdown" items after focusing input and opening "dropdown""
### Please provide a reproduction of the bug in a codepen:

[Office Fabric ComboBox](https://developer.microsoft.com/en-us/fabric#/components/ComboBox
)
[codepen](https://codepen.io/anon/pen/LJaLqx)

### Bug Report

Windows Narrator in "scan mode" does not read ComboBox "dropdown" items after focusing input and opening "dropdown".

- __Package version(s)__: All
- __Browser and OS versions__: Windo

[2018-09-21 14:29] fildahui opened #6445 "DetailsList: clicking on disabled columns triggers onColumnHeaderClick"
### Please provide a reproduction of the bug in a codepen:

https://jjoz66k1ly.codesandbox.io/

### Bug Report

- __Package version(s)__: 6.72.0
- __Browser and OS versions__: Chrome 69 / IE 11 / Edge 42 / FF 60 on Windows 10

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected:

[2018-09-21 16:34] micahgodbolt commented on #6440
Seeing as ISearchBoxProps is InputHTMLAttributes, we should probably do getNativeProps.

[2018-09-21 16:35] micahgodbolt commented on #6440
@hoovercj if you're interested in doing this, I'm happy to take a look a the PR.

[2018-09-21 16:36] micahgodbolt commented on #6440
Also, getNativeProps approach requires no interface change. so thumbs up to that.

[2018-09-21 16:42] hoovercj commented on #6440
Thanks for the reply. My team is currently on version 5.52.0 so I may also need this on the latest 5.x branch. Is there any special process for that? Or just submit a PR to the 5.0 branch?

I don't know if I can get time to move us to 6.x just for this fix :-)

[2018-09-21 16:49] micahgodbolt commented on #6437
so, if the component receives new props, and the props change it to/from multiline, if the component has focus, reset focus after component has been re-rendered?

[2018-09-21 17:00] micahgodbolt commented on #6440
Anything we add to 5.x needs to be added to 6.x first. We don't want to create more friction for people trying to upgrade.

If you can get it into 6.0 I can give you a hand backporting it.

[2018-09-21 17:10] hoovercj commented on #6440
For sure, sorry I wasn't clear. I'm just being optimistic and hoping it is a small fix that I could submit simultaneously to both branches. But if the backporting process is more complicated than opening a new PR, I'll wait and just focus on getting into 6 first

[2018-09-21 17:13] micahgodbolt commented on #6440
grabbing props, filtering them out via getNativeProps and passing them in shouldn't be too much work. And once done, the 5.x version isn't that much different. Is there a possibility of your team getting to the most recent version of 5.x?

[2018-09-21 17:45] justinmwarner opened #6446 "onSelectionChanged gets called twice, the second time clears selection."
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/oPVPpE

### Bug Report

- __Package version(s)__: 6.59.0

#### Priorities and help requested:

Are you willing to submit a PR to fix? No, not comfortable making a change to this as I'm unsure if I'm consuming it correctly.

Requested priority: Normal

Products/sites affected: Analytics

#### Describe the issue:

[2018-09-21 19:00] cliffkoh commented on #6434
@Jahnp

[2018-09-21 19:02] Jahnp commented on #6434
Thanks for reporting this @phkuo. @leddie24 is this something you'd be able to look at as part of shield?

[2018-09-21 19:08] Jahnp commented on #6404
@chadsowald @KevinTCoughlin the site should be updated by tomorrow. Sorry for the delay here!

[2018-09-21 20:05] kkjeer commented on #5845
Closed by #6359

[2018-09-21 20:05] #5845 closed

[2018-09-21 20:20] SudharsanSukumar opened #6448 "Clicking disabled dropdown and hitting enter or space opens the dropdown"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/gdEZVN

### Bug Report

- __Package version(s)__: 6.49.2 and also replicated in 6.55.0
- __Browser and OS versions__: Chrome latest and edge latest

#### Priorities and help requested:

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites affected: Planner

#### Describe the issue

[2018-09-21 20:57] acamargob opened #6449 "Dropdown not showing tooltip on selected option"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/ZMPwjx
### Bug Report

- __Package version(s)__: 6.61
- __Browser and OS versions__: NA

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: outlook.com

#### Describe the issue:

[An earlier bug](https://github.com/OfficeDev/offi

[2018-09-21 22:01] KevinTCoughlin commented on #6438
This behavior looks to be intentional and can be overridden by using `showEmptyGroups` prop within `groupProps`.

https://github.com/OfficeDev/office-ui-fabric-react/blob/ff52ec0f21c634437efb8fa568081878713ceefb/packages/office-ui-fabric-react/src/components/GroupedList/GroupedList.types.ts#L226

Here's your above example with that prop set to `true` @Xannic: https://codepen.io/kevintcoughlin/pen/

[2018-09-21 22:03] KevinTCoughlin commented on #6438
I'm going to close this issue since it can be addressed using an available prop and looks to be by design. Please re-open if you feel that the issue hasn't been addressed.

[2018-09-21 22:13] Jahnp commented on #6434
@KevinTCoughlin you're like greased lightning! Quickest fix in the west!

[2018-09-22 01:04] cliffkoh commented on #6434
Great job @KevinTCoughlin. It would be good though to fix the underlying issue where this classname is not captured in snapshot and hence the regression wasn't caught...

cc @dagoff

[2018-09-22 01:15] phkuo opened #6452 "Color utility optimization"
https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/utilities/color/colorValues.ts

This is a 4.2kb file (on disk) used in colors.ts to interpret named CSS colors. @MBSilverstein suggested that we can simply apply the incoming string to a `<div>` and use getComputedStyle() on it to get the color back. Not sure how performant it is, but I doubt someon

[2018-09-22 01:15] KevinTCoughlin commented on #6434
Great point! I will do that shortly 👍

[2018-09-22 05:30] thejurassic commented on #6437
Yea exactly.   Re-add the focus back to the component if it had focus before the re-render.

[2018-09-22 07:04] iswanj opened #6453 "Office Fabric Webiste not loading"
visit: https://developer.microsoft.com/en-us/fabric#/components

**Expected:** Should show fabric component list
**Actual:** Broken page

![screenshot_2018-09-22_12-34-05](https://user-images.githubusercontent.com/7093947/45914528-da66a580-be63-11e8-92e1-af7f774e83c3.png)

[2018-09-22 10:18] vadistic commented on #6453
Adding mine stack trace just in case.
`Chrome latest & Win 64 Home` (and my mobile too)
[code]

[2018-09-22 17:00] #6351 closed

[2018-09-22 21:07] SebaBoler commented on #6453
Chrome, Safari, and Firefox = this same result. Good Github working :)

[2018-09-23 08:13] frevds commented on #6453
Thanks for posting the issue, it's like that since Friday, some new React issue. I wonder how this gets by unnoticed at deployment, given it seems to be the only documentation site around. You should maybe adjust the title to draw more attention.

Fortunately at least somebody made an alternative listing of the **icons** page at https://developer.microsoft.com/en-us/fabric#/styles/icons - FYI: htt

[2018-09-24 05:29] vbarche commented on #6453
I am trying to read documentation about Commandbar components.
Looks **like the documentation website not working** (link: https://developer.microsoft.com/en-us/fabric#/components/commandbar)issue is not resolved.

**can someone post the update about this issue.?**

![officefabricuidocumentationwebsiteloadingissue](https://user-images.githubusercontent.com/18709734/45938582-198a1900-bf80-11e8-9216

[2018-09-24 05:38] Xannic commented on #6438
@KevinTCoughlin I think you misunderstood me. Because it does not look by design. The problem that I found is not that one group does not render(that is what the showEmptyGroups prop is for). But that the entire list will not render when the first group has a count of zero.

I had everything in one codepen but let me split it into 2 codepens.
Here the first which renders the list correctly with gr

[2018-09-24 06:33] killedbymemory commented on #6453
For the time being you can always read the raw documentation while waiting for official fix. For example for `Checkbox` component, the raw documentation can be accessed here: https://github.com/OfficeDev/office-ui-fabric-react/tree/master/packages/office-ui-fabric-react/src/components/Checkbox

There is a `doc` directory underneath for overview, do, and donts parts.

Cheers.

[2018-09-24 07:08] ganeshrvel commented on #6453
They have already fixed the issue.

[2018-09-24 09:41] iswanj commented on #6453
The Office Fabric website is now working and closing this issue. Thanks to everyone.

[2018-09-24 09:41] #6453 closed

[2018-09-24 10:16] newtonsheikh commented on #6446
It gets called twice because you are technically calling it twice:

1. When u click on any item --- selection has changed (and you get the alert)
2. Now when you scroll -- you are loading new data from the server, and this un-selects your previous selection triggering  the onSelectionChanged() event.

I dont have a solution yet, but the problem is now know. You have to change your code a little so

[2018-09-24 15:04] micahgodbolt commented on #6437
This fix isn't super high priority for us (as you can simulate it by changing the prop and then calling the focus method again). So if you're interested in trying to tackle it, I'd be happy to review it.

[2018-09-24 16:43] KevinTCoughlin commented on #6449
We likely just need to add a `title` to the selected option element which I believe is a `<div>` or `<span>` currently.

[2018-09-24 17:13] frevds commented on #6453
No it's still not, at least not for me, same error (checked in Edge and Firefox on Win10 after clearing the cache). Am I the only one seeing this now?

![image](https://user-images.githubusercontent.com/5341447/45967202-8a3b3f00-c02d-11e8-93c6-8f3faabf1954.png)

[2018-09-24 19:36] KevinTCoughlin commented on #6392
I'm able to repro this in isolation, here's a Codepen: https://codepen.io/kevintcoughlin/pen/gdJdZj?editors=1010

[2018-09-24 19:49] KevinTCoughlin commented on #3890
@vaalgrind thank you for your report. I'm unable to repro this behavior in `5.126.0` with the `<Dropdown/>` component. Here is the Codepen I'm using to test: https://codepen.io/kevintcoughlin/pen/bxymYG?editors=1010

Are you able to still repro? If so can you advise me how to get a repro in isolation, ideally in a Codepen.