[2019-09-24 19:18] jdhuntington opened #10589 "[Accessibility][Usable]: Narrator focus is not in sync with keyboard focus while selecting 'Hide/Show first pivot item' button."
Tracking all of the issues brought up with the 12/18 accessibility pass on Pivot control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B07b9e428-09cf-4a02-8fa1-05015209994a%7D&action=default&uid=%7B07B9E428-09CF-4A02-8FA1-05015209994A%7D&ListItemId=1635&ListId=%7B395E1ECB-5002-440E-

[2019-09-24 19:18] jdhuntington opened #10590 "[Accessibility][Keyboard navigation]: 'Recent' tab item has two keyboard focuses."
Tracking all of the issues brought up with the 12/18 accessibility pass on Pivot control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B07b9e428-09cf-4a02-8fa1-05015209994a%7D&action=default&uid=%7B07B9E428-09CF-4A02-8FA1-05015209994A%7D&ListItemId=1635&ListId=%7B395E1ECB-5002-440E-

[2019-09-24 19:18] jdhuntington opened #10591 "[Accessibility][Usable]: 'My files' tab item should have one scan mode focus and all information should be conveyed on same focus."
Tracking all of the issues brought up with the 12/18 accessibility pass on Pivot control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B07b9e428-09cf-4a02-8fa1-05015209994a%7D&action=default&uid=%7B07B9E428-09CF-4A02-8FA1-05015209994A%7D&ListItemId=1635&ListId=%7B395E1ECB-5002-440E-

[2019-09-24 19:18] jdhuntington commented on #7434
Opened discrete issues for each bug; closing this as a duplicate.

[2019-09-24 19:18] #7434 closed

[2019-09-24 19:20] jdhuntington opened #10592 "[Accessibility][Keyboard navigation]: Landmarks must have a unique role or role/label combination."
Tracking all of the issues brought up with the 1/25 accessibility pass on Nav control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8b59713f-87bb-4a5e-ad92-2b7b3a0ef589%7D&action=default&uid=%7B8B59713F-87BB-4A5E-AD92-2B7B3A0EF589%7D&ListItemId=1721&ListId=%7B395E1ECB-5002-440E-81C

[2019-09-24 19:20] jdhuntington opened #10593 "[Accessibility][Visual requirements]: Elements must have sufficient color contrast.""
Tracking all of the issues brought up with the 1/25 accessibility pass on Nav control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8b59713f-87bb-4a5e-ad92-2b7b3a0ef589%7D&action=default&uid=%7B8B59713F-87BB-4A5E-AD92-2B7B3A0EF589%7D&ListItemId=1721&ListId=%7B395E1ECB-5002-440E-81C

[2019-09-24 19:21] jdhuntington opened #10594 "[Accessibility][Programmatic access]: Name of the 'Basic components expand button' is not descriptive to the user."
Tracking all of the issues brought up with the 1/25 accessibility pass on Nav control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8b59713f-87bb-4a5e-ad92-2b7b3a0ef589%7D&action=default&uid=%7B8B59713F-87BB-4A5E-AD92-2B7B3A0EF589%7D&ListItemId=1721&ListId=%7B395E1ECB-5002-440E-81C

[2019-09-24 19:21] jdhuntington opened #10595 "[Accessibility][Programmatic access]: Selected state is not defined for controls under 'Nav bar of links each with unique keys and empty URLs’ section."
Tracking all of the issues brought up with the 1/25 accessibility pass on Nav control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8b59713f-87bb-4a5e-ad92-2b7b3a0ef589%7D&action=default&uid=%7B8B59713F-87BB-4A5E-AD92-2B7B3A0EF589%7D&ListItemId=1721&ListId=%7B395E1ECB-5002-440E-81C

[2019-09-24 19:21] jdhuntington opened #10596 "[Accessibility][Keyboard navigation]: Tooltip does not appear on keyboard focus."
Tracking all of the issues brought up with the 1/25 accessibility pass on Nav control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8b59713f-87bb-4a5e-ad92-2b7b3a0ef589%7D&action=default&uid=%7B8B59713F-87BB-4A5E-AD92-2B7B3A0EF589%7D&ListItemId=1721&ListId=%7B395E1ECB-5002-440E-81C

[2019-09-24 19:21] jdhuntington opened #10597 "[Accessibility][Supporting the platform]: Link controls adopts disable text color in high contrast black/white mode."
Tracking all of the issues brought up with the 1/25 accessibility pass on Nav control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8b59713f-87bb-4a5e-ad92-2b7b3a0ef589%7D&action=default&uid=%7B8B59713F-87BB-4A5E-AD92-2B7B3A0EF589%7D&ListItemId=1721&ListId=%7B395E1ECB-5002-440E-81C

[2019-09-24 19:21] jdhuntington opened #10598 "[Accessibility][Supporting the platform]: Keyboard focus is not visible in high contrast black/white theme."
Tracking all of the issues brought up with the 1/25 accessibility pass on Nav control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8b59713f-87bb-4a5e-ad92-2b7b3a0ef589%7D&action=default&uid=%7B8B59713F-87BB-4A5E-AD92-2B7B3A0EF589%7D&ListItemId=1721&ListId=%7B395E1ECB-5002-440E-81C

[2019-09-24 19:21] jdhuntington opened #10599 "[Accessibility][Programmatic access]: User does not get sense of hierarchy and number of child elements while navigating 'Nested navigation menu'."
Tracking all of the issues brought up with the 1/25 accessibility pass on Nav control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8b59713f-87bb-4a5e-ad92-2b7b3a0ef589%7D&action=default&uid=%7B8B59713F-87BB-4A5E-AD92-2B7B3A0EF589%7D&ListItemId=1721&ListId=%7B395E1ECB-5002-440E-81C

[2019-09-24 19:21] jdhuntington commented on #7803
Breaking issues out into discrete items.

[2019-09-24 19:21] #7803 closed

[2019-09-24 19:28] jdhuntington commented on #10593
No repro - substantial changes to base theme since original test pass.

[2019-09-24 19:28] #10593 closed

[2019-09-24 20:45] joschect commented on #10573
@StephenRiceMSFT is it only in the new Edge browser that you're seeing this?

[2019-09-24 20:46] cliffkoh opened #10600 "Dropdown: 'Error message' is not associated with the 'Error message example drop down'"
Standalone tracking issue for item 3 in #6326.

[2019-09-24 20:57] aneeshack4 commented on #10497
@iwasn Apologies for the delay - my surface book was acting up but it's fixed now so I was finally able to repro this. This repros in scan mode and when scan mode's off too. It's a dupe of this [Dropdown issue](https://github.com/OfficeDev/office-ui-fabric-react/issues/2654) which seems to have been fixed but maybe this is a regression. Will speak with the component owner/person who fixed the issu

[2019-09-24 21:27] aneeshack4 commented on #10497
Looks like this is actually a regression - #7357 back in Dec 18 2018 regressed this. Will send out a fix soon.

[2019-09-24 22:00] StephenRiceMSFT commented on #10573
Looks like it. Both Chrome and Firefox appear to have it centered properly.

[2019-09-24 22:17] marissasinai opened #10603 "[Icon Tool] How can we use Fabric icons with JSON (needs to be used for View Formatting) button elements so that using the 'button' element doesn't turn the icon into a blank square? Thank you!!!!"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Describe the issue:

#### Actual behavior:

#### Expected behavior:

### If applicable, please provide a codepen repro:

### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (B

[2019-09-24 22:40] aneeshack4 commented on #10519
This does not repro on Edge + Narrator.
![image](https://user-images.githubusercontent.com/4161791/65555378-5feebc80-dee1-11e9-9e0e-05a589c64bfc.png)
@sandeepnmenon are you sure you're using the latest version of Fabric (v7)? Also if this is a NVDA specific issue, please file an issue with them as they have a [public repo]( https://github.com/nvaccess/nvda).

[2019-09-24 22:48] dzearing commented on #10475
I like the functionality, but am not sure we'd want to bake this feature into the DetailsList because not every scenario needs this. Building huge monolithic components feels wrong, and DetailsList has certainly gone down this path. I wonder if there's a way we could have this feature be decoupled to allow a customer to opt into this without penalizing everyone.

Also minor thought, the SELECT ele

[2019-09-24 23:03] jdhuntington commented on #10596
The tooltips are a browser behavior that we do not control. In the case of assistive tech, aria labels are correctly in place to describe the markup.

[2019-09-24 23:03] #10596 closed

[2019-09-24 23:14] natalieethell commented on #10497
Thanks for reporting this @iwasn! The main change in the PR that Aneesha linked above was only setting `aria-activedescendant` when the dropdown was expanded. So, when the dropdown is collapsed, the focus now goes on the outermost dropdown container instead of the option itself. I'm still not sure what the right fix would be to retain both behaviors, but that's what I think the issue is.

[2019-09-24 23:33] #10399 closed

[2019-09-24 23:58] natalieethell commented on #10436
@AparnaPrasad Got it. Have you checked out the implementation of TilesList? It's currently still in experiments, but it looks like it might be doing what you need, particularly with selection: http://fabricweb.z5.web.core.windows.net/pr-deploy-site/refs/pull/10546/merge/experiments/dist/index.html#/examples/tileslist. Check out the "TilesList with media tiles" example.

[2019-09-24 23:59] marygans opened #10607 "Dropdown: inappropriate role is defined as Listbox"
### Describe the issue:

Breakout of original issue #8031

### Documentation describing expected behavior
[Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bec787de0-7a76-4b21-b593-fb839dfa9cd8%7D&action=default&uid=%7BEC787DE0-7A76-4B21-B593-FB839DFA9CD8%7D&ListItemId=1808&ListId=%7B395E1ECB-5002-440E-81C5-6A090E98077C%7D&odsp=

[2019-09-25 00:00] marygans commented on #10607
Doesn't seem to be an issue based on the documentation for [listbox](https://www.w3.org/TR/wai-aria-practices/#Listbox)  and [combobox](https://www.w3.org/TR/wai-aria-practices/#combobox) - creating and closing for tracking purposest.

[2019-09-25 00:01] #10607 closed

[2019-09-25 00:05] marygans opened #10608 "Dropdown Accessibility: Not able the change dropdown position"
### Describe the issue:
Breakout of issue #8031
(Bug 7)

### Documentation describing expected behavior
[Sharepoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bec787de0-7a76-4b21-b593-fb839dfa9cd8%7D&action=default&uid=%7BEC787DE0-7A76-4B21-B593-FB839DFA9CD8%7D&ListItemId=1808&ListId=%7B395E1ECB-5002-440E-81C5-6A090E98077C%7D&odsp=1&

[2019-09-25 00:13] marygans commented on #10608
Not able to repro currently. <img width="823" alt="Screen Shot 2019-09-24 at 5 10 50 PM" src="https://user-images.githubusercontent.com/38991459/65559149-53249580-deee-11e9-8e18-09ef22289a45.png">
Happy to revisit if problem arrises for others in the future!

[2019-09-25 00:13] #10608 closed

[2019-09-25 00:14] marygans commented on #8031
Bug 6 and 7 do no pertain to the `Coachmark` component  but rather the `Dropdown` component.
So creating separate issues:
- Bug 6: Doesn't seem to be an issue in `dropdown` based on the documentation for [listbox](https://www.w3.org/TR/wai-aria-practices/#Listbox)  and [combobox](https://www.w3.org/TR/wai-aria-practices/#combobox) - created new but closed issue [here](#10607) for tracking purposes

[2019-09-25 02:15] matidomingues opened #10612 "Unable to set custom Overflow Icon in Breadcrumb component"
### Environment Information

- **Package version(s)**: 6.204.2
- **Browser and OS versions**: All

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

If the default icon library is not loaded, the result is button that contains no icon:

![Screen Shot 2019-09-24 at 7 09 52 PM](https://user-images.githubusercontent.com/816129/65563609-01d0d200-deff-11e9-8e53-7f9c13c5

[2019-09-25 02:22] #10585 closed

[2019-09-25 04:51] #10576 closed

[2019-09-25 05:39] marygans commented on #8031
Hi @awalia13, the actionable bug has been addressed and merged.  I will soft close this issue and tag this issue with Needs: Author Feedback and let it resolve unless additional feedback is provided. Thanks for submitting!

[2019-09-25 05:47] #10582 closed

[2019-09-25 05:47] #10583 closed

[2019-09-25 07:13] #10390 closed

[2019-09-25 07:37] HarkeshS opened #10614 "Narrator is not reading label(description) field of choice group in Chrome browser."
<!--
Issue--Narrator is not reading label(description) field of choice group in Chrome browser. it was working fine in Edge
Same issue is repro at office fabric site
https://developer.microsoft.com/en-us/fabric#/controls/web/choicegroup

### Environment Information
Issue occurred in chrome latest version

### Describe the issue:

Issue--Narrator is not reading label(description) field of choice gr

[2019-09-25 09:04] Vividha-Khandelwal opened #10615 "A11y_CustomerServiceInsights_Share Workspace - Share_AI4W: MAS 4.1.1,MAS 4.1.2: ARIA attributes must conform to valid values (.ms-BasePicker-input)"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: Chrome Version 77.0.3865.90 (Official Build) (64-bit)

### Describe the issue:

Issue
ARIA attributes must conform to valid values (aria-valid-attr-value)

![5250722_Share Workspace - Share_AI4W](https://user-images.githubusercontent.com/48586069/65586580-026e7480-dfa2-11e9-86fa-85eeeae9cf5a.png)

[2019-09-25 09:36] neeraj-khanna opened #10616 "[TextField][type="number"]: up/down arrows not visible on Edge browser."
### Environment Information

- **Package version(s)**: latest
- **Browser and OS versions**:
  - **Browser:** MS Edge (44.18362.329.0)
  - **OS:** Windows 10 version 1903

### Describe the issue:

Use TextField control with type as `number` and observe.
Up and Down arrows not visible on Edge browser whereas they are visible on Chrome.

### Please provide a reproduction of the issue in a codepen:
<

[2019-09-25 10:08] larnera opened #10617 "'TeachingBubble with Illustration' code example is incorrect"
The'TeachingBubble with Illustration' code example doesn't include 'illustrationImage' in the properties.

https://developer.microsoft.com/en-us/fabric#/controls/web/teachingbubble
https://codepen.io/pen/?&editable=true

Cheers!

[2019-09-25 10:09] HarkeshS opened #10618 "Grid view(detaillsList) are not properly visible when high contrast mode black is on"
### Environment Information

Edge latest version

### Describe the issue:

Grid view(detaillsList) are not properly visible when high contrast mode black is on

#### Actual behavior:

Grid view(detaillsList) are not properly visible when high contrast mode black is on

#### Expected behavior:

Grid view(detaillsList) should properly visible when high contrast mode black is on

### Documentation de

[2019-09-25 11:10] 999-Dev commented on #8031
Bug1: [Accessibility][Programmatic access]: ARIA attributes must conform to valid values.
Verify the bug of below Test Enviourment. Issue is not repro'ing, hence closing the bug.
Test Environment:
OS: Version: RS5_Prerelease(1903 OS Build 18990.1)
URL: https://github.com/OfficeDev/office-ui-fabric-react/issues/8031
Edge Browser Version:
Microsoft Edge: 44.18990.1.0
Microsoft EdgeHTML: 18.18990
Chr

[2019-09-25 11:20] gioce90 opened #10620 "Toggle: onChange have (sometimes) event.target.id == """
### Environment Information

- **Package version(s)**: 6.202.0 (in the codepen example I use the 7,
- **Browser and OS versions**: Chrome (maybe also on other browsers)

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/gioce90/pen/JjPzJeQ

#### Actual behavior:

When I use the toggle's onChange callback, I use event.target.id, but sometimes this id is equal to an empty

[2019-09-25 12:08] 999-Dev commented on #8031
Bug6: Inappropriate role defined for Coachmark Position ComboBox as Listbox.
Verify the bug of below Test Enviourment.
As per comment closing the bug.
Test Environment:
OS: Version: RS5_Prerelease(1903 OS Build 18990.1)
URL: #8031
Edge Browser Version:
Microsoft Edge: 44.18990.1.0
Microsoft EdgeHTML: 18.18990
Chrome Browser Version:
Chrome Version: 76.0.3809.132

[2019-09-25 12:27] 999-Dev commented on #8031
Verify the bug of below Test Enviourment.
"It should be accessible with keyboard as this is an interactive control and it should work with out screen reader as well for keyboard dependent users."
Test Environment:
OS: Version: RS5_Prerelease(1903 OS Build 18990.1)
URL: #8031
Edge Browser Version:
Microsoft Edge: 44.18990.1.0
Microsoft EdgeHTML: 18.18990
Chrome Browser Version:
Chrome Version: 76.0

[2019-09-25 12:43] 999-Dev commented on #8031
Verify the bug of below Test Enviourment.
"The bubble should be actionable by using Enter key in scan mode also. Issue is repro'ing with both screen readers.

Test Environment:
OS: Version: RS5_Prerelease(1903 OS Build 18990.1)
URL: #8031
Edge Browser Version:
Microsoft Edge: 44.18990.1.0
Microsoft EdgeHTML: 18.18990
Chrome Browser Version:
Chrome Version: 76.0.3809.132

[2019-09-25 13:21] neeraj-khanna opened #10622 "[DetailsList][Header Navigation]: control goes to column with no header text"
### Environment Information

- **Package version(s)**: latest
- **Browser and OS versions**:
  - **Browser:** all
  - **OS:** Windows 10 version 1903

### Describe the issue:
If we don't define the name property for a column and we traverse the header using keyboard, control goes to column header with no text. Since there is no visible focus, it seems to be confusing.

### Please provide a reprodu

[2019-09-25 13:37] 999-Dev commented on #8031
New Bug Found :

Bug 8: Keyboard focus is not visible on "Try it" button while navigate using Tab key under 'Example Title' dialogue.

Test Environment:
OS: Version: RS5_Prerelease(1903 OS Build 18990.1)
URL: #8031
Edge Browser Version:
Microsoft Edge: 44.18990.1.0
Microsoft EdgeHTML: 18.18990
Chrome Browser Version:
Chrome Version: 76.0.3809.132

[2019-09-25 14:14] dzearing commented on #8031
@999-Dev im having a difficult time understanding the actions you expect here.

Can you clarify what you tried and what you expected?

I believe in scan mode things become less interactive (onclicks stop working, reader takes over to allow the user to read content on the page.) is that not the case?

[2019-09-25 14:35] sandeepnmenon commented on #10519
@aneeshack4 Yes it reads checked/unchecked on the select all button and
select/unselected for the items.
The message check/unchecked is not clear if we are selecting all items or not. There is no indication that we are selecting all items in the list.
That is the bug

[2019-09-25 15:57] micahgodbolt commented on #10603
This is probably a question for @Jahnp

[2019-09-25 16:08] Jahnp commented on #10603
Thanks for the heads-up @micahgodbolt .

@marissasinai , could you clarify the question in the title a little? Do you have a codepen or other repro environment to demonstrate the issue you're having?

Just a note that the JSON produced by the icons tool is not meant to be used directly in an application, but instead checked in with your source code and used to update/maintain the subset.

[2019-09-25 16:45] micahgodbolt opened #10624 "Searchbox/Textfield: No visual difference when disabled in high contrast mode"
pulled from #7500

A standard `<input disabled />` is not visually different from an enabled one in high contrast mode (not something we broke in Fabric). Disabled labels look different, but the inputs (borders/background) and place holder text are identical.

![image](https://user-images.githubusercontent.com/1434956/65621535-cbd03400-df78-11e9-9a8b-5a19032b22e5.png)

TextField

![image](https://

[2019-09-25 17:04] marissasinai commented on #10603
This answers my question, and I was able to get everything working on our tenant! Thanks so much!

Marissa

[2019-09-25 17:04] #10603 closed

[2019-09-25 17:53] #10600 closed

[2019-09-25 18:02] JasonGore commented on #10126
@Hardhik I have created #10625 to address the issue but with one difference regarding focusability. There's more detail in the PR. Let me know if you have any concerns or input. Thanks!

[2019-09-25 18:19] micahgodbolt commented on #7500
bug 2 is not actually a bug. As per Amit, when narrator enters an input (as it does as soon as you clear the search) scan mode is turned off. SO user would be expected to start typing, or turn scan mode back on and continue.

[2019-09-25 18:19] #7500 closed

[2019-09-25 18:47] #6015 closed

[2019-09-25 19:00] #10442 closed

[2019-09-25 19:30] #7761 closed

[2019-09-25 20:52] matidomingues commented on #10612
Hey @khmakoto, we really need to get this fixed for a new feature, is there any way you can help me out by reviewing this bug and the attached pr?

Thanks!!

[2019-09-25 21:23] aneeshack4 commented on #10551
@HarkeshS So this doesn't repro on Edge + Narrator, you can see that the Multiline Textfield labels are being announced. However, you are right in that `aria-labelledby` isn't set. I believe this is because the [ARIA spec for `aria-labelledby`](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-labelledby_attribute) says to set it on `input` (single line

[2019-09-25 21:55] aneeshack4 commented on #10493
@tipantaz This is actually because you're not using Fabric's `Link` control - when I changed the anchor to `Link` it is visible:
![image](https://user-images.githubusercontent.com/4161791/65642579-7dd12580-dfa4-11e9-858d-d260826125c1.png)

[2019-09-25 21:59] caradong commented on #10510
Taking a look after vacation and will circle back shortly.

[2019-09-25 22:22] jspurlin commented on #10514
Overall, this is a usability/subjective bug.

More specifically, inputs in menus must use TAB to move focus out of them because we won't want arrow keys to move focus out of the input.

There's some potential things that could be done here in the future if we (Office/MS) take a different approach to these types of control

Closing this

[2019-09-25 22:22] #10514 closed

[2019-09-25 22:25] jspurlin commented on #9965
@marygans Did the previous fix not fix this issue? If not, is there active work on this?

[2019-09-25 22:33] jspurlin commented on #9869
This is by design. I know a subset of ATs won't read the control as a combobox if it isn't set on the input.

For additional info, see the aria spec: https://www.w3.org/TR/wai-aria-1.1/#combobox , it states:

[2019-09-25 22:33] #9869 closed

[2019-09-25 22:34] jspurlin commented on #9869
@dzearing, If anything this is something that could be brought up with the Narrator team since they should be representing the content correctly

[2019-09-25 22:36] jspurlin commented on #9837
@joschect Yeah, this shouldn't need to be read-only

[2019-09-25 22:41] jspurlin commented on #8930
@dzearing This is a voiceOver bug where they are not responding to aria-activedecendent correctly (notice how narrator knows the combobox item that is being "focused").

See https://www.w3.org/TR/wai-aria-1.1/#combobox where it describes how aria-activedecendent should be used (whic his what we are doing):

[2019-09-25 22:41] #8930 closed

[2019-09-25 22:44] jspurlin commented on #8294
@dzearing This is same underlying issue as #8930

This should be WF and at most JAWS could be made aware of the bug they have

[2019-09-25 22:44] #8294 closed

[2019-09-25 22:48] lorejoh12 commented on #10520
DatePicker is a fully-controlled component, which means it expects you to pass it a value. In the given codepen, you aren't passing the value to the component. So you have something like
[code]
which results in the DatePicker initializing to a blank date, and keeping track of it's internal state. However, as soon as the parent rerenders (which happens when you call setState), the DatePicker sees t

[2019-09-25 22:49] jspurlin commented on #6920
@dzearing this isn't very actionable. I'm not sure which items still need to be looked at OR the details about each bug...

[2019-09-25 23:00] #10398 closed

[2019-09-25 23:15] Ralms opened #10629 "Documentation - IShimmeredDetailsListProps implementation missing"
IShimmeredDetailsListProps implementation missing in documentation:
https://developer.microsoft.com/en-us/fabric#/controls/web/shimmer#implementation

### Priorities and help requested (not applicable if asking question): Documentation issue, not critical as we can see in VS Code also, just inconvenient the first times.

Requested priority: (Blocking, High, Normal, Low) Low

[2019-09-26 02:26] shiliangdn commented on #10454
Yes, I have tried that option, you can see in my codepen repro, it doesn't work.

[2019-09-26 03:42] wudicheng123 opened #10631 "Add [propertyName: string]: any to IBreadcrumbItem"
#### Describe the feature that you would like added

Currently IBreadcrumbItem does not have property of [propertyName: string]: any, it would be nice to have it in order to to add various aria attributes such as aria-posinset and aria-setsize otherwise all these attributes have to be inserted during run-time.

#### What component or utility would this be added to

To make a11y easier

#### Have y

[2019-09-26 05:37] 999-Dev commented on #8031
"If any user navigates with out screen reader and activate the 'Show coach mark' button, Coach mark bubble will be appeared but focus is not visible on it. So users  will not be able to know that focus is on 'Coach mark' bubble."

[2019-09-26 05:50] 999-Dev commented on #7500
Agreed with the comment. Hence closing the bug.

[2019-09-26 07:16] mfdezvil commented on #10520
Hi @lorejoh12 , it works like you said :)
Thank you all and sorry for any inconvenience!

[2019-09-26 07:16] #10520 closed

[2019-09-26 12:55] 999-Dev commented on #8031
New Bug Found :

Bug 9: Color contrast ratio failed of Close button boundary under 'Example Title' pane.

Test Enviourment:
OS: Version: RS5_Prerelease(1903 OS Build 18990.1)
URL: https://fabricweb.z5.web.core.windows.net/oufr/7.39.0/#/examples/coachmark
Edge Browser Version:
Microsoft Edge: 44.18990.1.0
Microsoft EdgeHTML: 18.18990
Chrome Browser Version:
Chrome Version: 76.0.3809.132
Tool:
Color

[2019-09-26 13:26] 999-Dev commented on #8031
New Bug Found :

Bug 10: Screen reader conveying the incorrect information after activating the 'Show Coach Mark' button.
Test Enviourment:
OS: Version: RS5_Prerelease(1903 OS Build 18990.1)
URL: https://fabricweb.z5.web.core.windows.net/oufr/7.39.0/#/examples/coachmark
Edge Browser Version:
Microsoft Edge: 44.18990.1.0
Microsoft EdgeHTML: 18.18990
Chrome Browser Version:
Chrome Version: 76.0.3809

[2019-09-26 13:42] 999-Dev commented on #8031
Bug 11: In scan mode while backward navigation Screen reader focus does not moves to the 'Close' button.
Test Enviourment:
OS: Version: RS5_Prerelease(1903 OS Build 18990.1)
URL: https://fabricweb.z5.web.core.windows.net/oufr/7.39.0/#/examples/coachmark
Edge Browser Version:
Microsoft Edge: 44.18990.1.0
Microsoft EdgeHTML: 18.18990
Chrome Browser Version:
Chrome Version: 76.0.3809.132

[2019-09-26 15:08] dzearing commented on #8031
@999-Dev what does this issue imply? How do we reproduce this (what reader, how to enable the mode, what keypresses you made) and what is your expectation?

[2019-09-26 15:09] Friedrikovic opened #10632 "[Panel] When overriding onRenderBody and not calling defaultRender the confirm on close feature is broken"
I believe you handle the drawing of the confirm dialog in the default onRenderBody. That's bad as you're making it possible for the user to break the feature, especially when you could do the confirm dialog rendering anywhere else where the user can't override the default behavior.

[2019-09-26 15:11] barisbikmaz opened #10633 "Disabled TextField values are not shown on ios"
### Environment Information

- **Package version(s)**: 7.28.1
- **Browser and OS versions**: Safari on ios 12.4.1

### Please provide a reproduction of the bug in a codepen:

Go to the official [ui-fabric site](https://developer.microsoft.com/en-us/fabric#/controls/web/textfield) and look at the disabled textfields. Both should have text "I am disabled"

#### Actual behavior:
Disabled textfield sh

[2019-09-26 16:17] webdes03 opened #10634 "[Request] Add social icons"
#### Describe the feature that you would like added

Add social icons (Twitter, Facebook, Instagram, etc) to the Office UI Fabric Icons collection.

#### What component or utility would this be added to

Icons

#### Have you discussed this feature with our team, and if so, who

No

#### Additional context/screenshots

Today, it's impossible to build any social component using Office UI Fabric with

[2019-09-26 16:35] marygans commented on #9965
Hi @pandey11 Below is what I see when I repro'd with strings. Can you share a bit more of your scenario via codepen or similar?
#### See below

![after-01](https://user-images.githubusercontent.com/38991459/62738299-d6ddfd80-b9e6-11e9-9951-ac60f31c2c43.gif)

_(React state in DOM now updates here)_
![after-02](https://user-images.githubusercontent.com/38991459/62738303-da718480-b9e6-11e9-8d84-416e4

[2019-09-26 16:53] mshindal opened #10635 "In <GroupedList/>, a group with no items can't be selected"
### Environment Information

- **Package version(s)**: Latest
- **Browser and OS versions**: N/A

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/mshindal/pen/NWKmpKv

#### Actual behavior:

Group with no items is not selectable

#### Expected behavior:

Group with no items is selectable

### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

[2019-09-26 17:00] pandey11 commented on #9965
@marygans Can we sync up over team, sometime tomorrow(Redmond time will also work).I am able to repro this in my application but  struggling to repro it with codepen.

[2019-09-26 17:02] marygans commented on #9965
@pandey11,  yeah sure. I will set up some time!

[2019-09-26 17:35] cliffkoh opened #10636 "[Accessibility][Keyboard navigation]: Keyboard Focus indicator is not visible on 'Error message example drop down'."
This was originally issue 4 in #6326.

[2019-09-26 17:37] lutorre opened #10637 "[accessibility][voice reader] When using talkback on Android during forward navigation focus moves out from a drop down list"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)
Google chrome on Android (android 9 pie)

### Describe the issue:

On Android devices focus moves to elements outside a drop down list while navigating after last item in the list in forward direction

### Please provide a reproduction of the issue in a codepen:

#### Actual behavi

[2019-09-26 19:15] cliffkoh commented on #6326
@TestAccessibilityGIT  @Kumar2608 I've gone through to triage most of them (but still have a couple more to go). Could you please add more info to bugs  19, 21, 11 as I am unable to repro?

@jamesedjac Actually I cannot repro bug 19. Pressing esc key while in scan mode does close the Dropdown for me for the Dropdown at https://fabricweb.z5.web.core.windows.net/oufr/7.39.1/#/examples/dropdown

[2019-09-26 21:06] caradong commented on #10510
@jgage176 @aneeshack4 not sure if you have seen the example pagination component on the example page of experiment package. This is a screen shot, it does define the aria labels for the buttons more or less like what you have described in the expected behavior.  Here is a screen shot of the dom
![image](https://user-images.githubusercontent.com/20460495/65725017-85f19980-e066-11e9-9dc7-9dbff97a01b

[2019-09-26 21:54] natalieethell commented on #10386
After initial investigation, it looks like this might be happening because `_getJustifiedColumnsAfterResize` gets called instead of `_getJustifiedColumns` here:

https://github.com/OfficeDev/office-ui-fabric-react/blob/e0209bd8938e9e729f2ef2cd674808051da75a3a/packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.base.tsx#L782-L786

Looking into why the code path goes here.

[2019-09-26 22:07] natalieethell commented on #10386
Okay I see, `_getJustifiedColumnsAfterResize` is only called when a column is resized. When the column is sorted and the items are updated, DetailsList seems to be calling `_getJustifiedColumns` and resetting the column widths so that all columns fit in the window. We'll dig into this.

[2019-09-26 22:31] jgage176 commented on #10510
Thank you for the follow-up. I feel like if it should always be set it should at least start with the right values and be able to override them for localization/customization, instead of just a the bare number, but at the same time I get that Office Fabric is mainly built around the model of passing in data for labels to support localization/customization. We can try what you have suggested.

[2019-09-26 22:49] #10497 closed

[2019-09-26 22:52] #10519 closed

[2019-09-26 22:53] aneeshack4 commented on #10510
It sounds like there's a solution on your end @jgage176 so I'll go ahead and close this but if something else comes up, please feel free to ping here again.

[2019-09-26 22:53] #10510 closed

[2019-09-26 22:56] iwasn commented on #10497
@aneeshack4 Thanks for the fix! Since this is closed, is the fix already in the latest version that we can merge in?

[2019-09-26 22:59] aneeshack4 commented on #10497
@iwasn it just got merged so it'll be in the version that gets published tonight!

[2019-09-26 23:00] #9689 closed

[2019-09-26 23:04] aneeshack4 commented on #10471
@reficul31 I believe this above PR #10458 solves this problem so I'll go ahead and close this. If something else comes up please feel free to ping here again.

[2019-09-26 23:04] #10471 closed

[2019-09-26 23:18] #10551 closed

[2019-09-26 23:28] thoo1 opened #10642 "Possible to add "data-automation-id" prop to every component?"
#### Describe the feature that you would like added

Is it possible to add "data-automation-id" prop to every component? This would greatly add automated testing so we can attach data-automation-id to any ui fabric component. Currently it is only accepted on a few components.

#### What component or utility would this be added to

Every if possible :D

#### Have you discussed this feature with our

[2019-09-26 23:30] thoo1 commented on #10642
I found: https://github.com/OfficeDev/office-ui-fabric-react/issues/4094, looks like it is being added on an ad hoc basis? Or is there a reason why only certain components get this prop?

[2019-09-27 00:00] dzearing commented on #10577
This is not expected for the example code illustrating Searchbox usage with custom widths.

[2019-09-27 00:01] #10577 closed

[2019-09-27 00:05] dzearing commented on #10629
I am seeing the list of props underneath the section header.

[2019-09-27 00:08] Ralms commented on #10629
Hi @dzearing ,

Please don't confuse IShimmerProps with IShimmeredDetailsListProps.

The one that is missing is the specific props to the DetailsList, which there is an example, but not the implementation with all the available props.

I've even validated with a simple page search (Ctrl + F).

[2019-09-27 01:07] varunch7 commented on #10449
@aneeshack4 Just checking in to see if you have any updates on this

[2019-09-27 02:04] cliffkoh commented on #10642
I don't think there are any concerns with this. But as far as I know, most if not all of the components should be able to take in data-* since they extend `HTMLProps`...

[2019-09-27 03:28] aneeshack4 commented on #10449
@varunch7 I spoke with @Jahnp offline - he has some high pri stuff on his plate at the moment but he's going to look at this after.

[2019-09-27 04:59] 999-Dev commented on #8031
"In scan mode when we activating the 'Show Coach Mark' button, Coach mark bubble will be appeared, and after that press Alt+C , 'Example Title' dialog will be appeared. Now start to navigate 'Example Title' dialog by using up and down arrow keys and you will found that focus does not moves to 'Close' button, focus directly moves outside the dialog."
**Expected:** Screen reader focus should be land

[2019-09-27 07:47] dollykumari5 opened #10646 "DocumentCard A11y Pass"
Tracking all of the issues brought up with the 09/23 accessibility pass on Divider control
Details on individual bugs can be found on [Sharepoint](https://microsoft-my.sharepoint.com/:x:/p/v-amaver/ESqgICSURf9JoWoQf78p3zYBEqG1wJUIivILN0qRQCiPuQ?e=uAlVa5)

- Bug 1: [Accessibility][Visual Requirements]: "Marketing Documents" link cannot be identified as link since it appears as normal text. (#10659)

[2019-09-27 07:52] 999-Dev commented on #8349
New Issue Found :
Bug13: [Usable :Calendar Panel]: Narrator reads incorrect info on dates like "Read only on dates".

Test Environment:
OS: Version: RS5_Prerelease(1903 OS Build 18990.1)
URL: https://developer.microsoft.com/en-us/fabric#/controls/web/calendar
Edge Browser Version:
Microsoft Edge: 44.18990.1.0
Microsoft EdgeHTML: 18.18990
Chrome Browser Version:
Chrome Version: 76.0.3809.132

[2019-09-27 08:58] cnamal opened #10647 "Links in message bar don't meet color contrast requirements (website-specific)"
Open documentation of [MessageBar](https://developer.microsoft.com/en-us/fabric#/controls/web/messagebar)
Run [Accessibility Insights](https://accessibilityinsights.io/docs/en/web/overview)
Links have color contrast issues:
![image](https://user-images.githubusercontent.com/9625284/65756576-a3317100-e115-11e9-927c-f3a20d6de629.png)

Additional information:
Title: WCAG 1.4.3: Elements must have suf

[2019-09-27 09:00] AlokBisht opened #10648 "Why there is no BaseComponentStyleProps like BaseComponent<T,S> base type?"
Why Fabric doesn't have any BaseComponentStyleProps like BaseComponent<T,S>?

Are there any reasons why it's never created or the idea was rejected?

What I meant was if you go through the office-ui-fabric-react components, in most types ( {ComponentName}StyleProps) the props like theme, className are common, so why not to have a base type with it that {ComponentName}StyleProps inherit from? it's

[2019-09-27 15:48] fildahui commented on #8996
Hi @jdhuntington
I was looking at the latest version of fabric and this issues seems to have been resolved.
Could you confirm that it's been fixed?

thank you!

[2019-09-27 16:01] micahgodbolt commented on #10642
Our plan for future controls is to support data attributes on practically every part (slot) of a control. This is certainly not the case with our existing controls, and while we aren't going to manually add support to every existing control, if you find a control that is lacking that ability, it's something we can add on a case by case basis.

[2019-09-27 16:02] dzearing commented on #10629
@Ralms oh thanks for the clarification!

[2019-09-27 16:20] thoo1 commented on #10642
fair enough. Also forgot about the fact that react 16 allows custom html attributes to pass through, whoops
Closing :)

[2019-09-27 16:53] jdosullivan opened #10650 "How to hide column header in detailsList"
Is there a way to hide the entire column header in the detailsList?

My scenario is that I have a detailsList with a sub list under each row and I'd the sublist to not have column headers at all.

I could find nothing in the docs or issues list on this.

[2019-09-27 17:00] dzearing commented on #10646
@khmakoto Could you please triage these issues, open individual tracking bugs for actionable things, and then close this one?

[2019-09-27 17:03] dzearing commented on #10612
@matidomingues are you unblocked here? I noticed we got a fix in for 6, but not for 7. Could you please cherrypick the change into master as well so that you don't lose the change on 7 updates later?

[2019-09-27 17:06] dzearing commented on #10578
@cliffkoh could you help look at this as you're in the dropdown accessibility stuff atm?

[2019-09-27 17:09] cliffkoh commented on #10578
@dzearing no problem. I am out of office today but will pick this up when I am back.

[2019-09-27 17:18] cliffkoh commented on #10578
Hi @SyedRehmanRazvi, can you please help me understand what exactly are the steps you perform (perhaps capturing these in a GIF) so I can understand how/where things went wrong? I have tried reproing and I am struggling a bit to understand the problem.

When I expand a Dropdown and press up, I see the Dropdown going to the previous selected option (in scan mode). Please see attached GIF.

![dropdo

[2019-09-27 17:32] joschect commented on #10614
@HarkeshS To help us could you provide some more description? Are you talking about using the Microsoft narrator in edge?

[2019-09-27 17:38] joschect commented on #10615
@Vividha-Khandelwal could you provide a [codepen](https://codepen.io/slimemold/pen/qBWweNz?&editable=true) that reproduces this? I do not see this same behavior in the current deployed picker bits. Additionally, what version of fabric are you on?

![image](https://user-images.githubusercontent.com/20801176/65789765-e9d19c00-e112-11e9-8611-35365ded6054.png)

[2019-09-27 17:51] joschect commented on #10616
@neeraj-khanna This is a browser implementation detail that is unrelated to the fabric text box. You can see the same behavior if you look at a vanilla text field in this [codepen](https://codepen.io/slimemold/pen/NWKmQgw?&editable=true).

That being said, we have SpinButton already which is specifically meant to be used with the spin buttons.

It looks like it is possible to style the TextField s

[2019-09-27 17:52] joschect commented on #10616
@neeraj-khanna here's the [spinbutton](https://developer.microsoft.com/en-us/fabric#/controls/web/spinbutton) which might do what you want.

[2019-09-27 19:44] jdosullivan commented on #10650
I returned nothing from the onRenderDetailsHeader and that worked.

[2019-09-27 19:44] #10650 closed

[2019-09-27 19:48] tiagomacarios commented on #10398
@natalieethell Would it make sense to change the default? Most modal dialogs focus on the ok button.

[2019-09-27 20:54] #10636 closed

[2019-09-27 20:58] whykushal93 opened #10654 "Command Button with shouldFocusOnMount:false and with a menu swallows the first down arrow key"
### Environment Information

- **Package version(s)**: latest
- **Browser and OS versions**: all

### Please provide a reproduction of the bug in a codepen:

There was previous issue regarding keyboarding on a CommandButton with a menu and
with shouldFocusOnMount:false - https://github.com/OfficeDev/office-ui-fabric-react/issues/8351. This issue was partially fixed but I still see one behavior whi

[2019-09-27 21:03] ecraig12345 commented on #10616
I don't think we should add arrow support directly in the TextField. If you always want arrows, using SpinButton is the best solution.

[2019-09-27 21:04] khmakoto commented on #10214
If you need anything else related to this issue feel free to specify it here. If not, feel free to close the issue or let the bot close it for you. Thanks!

[2019-09-27 21:05] joschect commented on #10617
@larnera thanks for submitting this! It's definitely a bug of some sort. I can see in that we do have that property present in the example and so it looks like we're just referencing the wrong file in that example. I'll get it fixed!

[2019-09-27 21:07] joschect commented on #10616
@ecraig12345 Got it, I'll submit a pr to hide the arrow buttons that the browser is adding.

[2019-09-27 21:11] riosn-n opened #10655 "[Panel] Footer not rendering in the footer area"
### Environment Information

- **Package version(s)**: 7.39.1
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/riosn/pen/yLBWyOK

#### Actual behavior:

Footer content is rendered where main content ends.

#### Expected behavior:

Footer content should be rendered at the bottom.

### Priorities and help reque

[2019-09-27 21:12] khmakoto commented on #10646
@dzearing Sure, I'll do that.

[2019-09-27 21:19] joschect commented on #10618
@HarkeshS Which part of details list isn't visible in high contrast mode? Could you be more specific?

[2019-09-27 21:42] khmakoto opened #10659 "DocumentCard: DocumentCardLocations don't have visual indicators specifying that they are links"
### Environment Information

- **Package version(s)**: 7.39.2

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/khmakoto/pen/BaBeywZ?&editable=true

#### Actual behavior:

The `DocumentCardLocation` component is a link but does not have and visual indication of being one until hovered, which makes it seem like regular text.

An example of this is the `Marketing Docume

[2019-09-27 21:51] whykushal93 commented on #10654
I think @khmakoto might be taking a look at this.

[2019-09-27 21:57] joschect commented on #10618
and @Harkesh is that just the basic fabric example pen?  Or something custom?

[2019-09-27 21:59] joschect commented on #10622
This does look like a bug. Could you explain a bit more of your use case? Even if there is no header text it seems like focus should go to that header as there could be an aria-label. Could you explain your use case a bit more?

[2019-09-27 22:48] matidomingues commented on #10612
@dzearing sorry for the delay. Yup, we got everything working :) I just cherry-picked and opened the PR.

Thanks!!

[2019-09-27 23:05] dzearing commented on #10629
I wouldn't expect this to be in the shimmer docs, but probably on their own and linked from DetailsList.

[2019-09-27 23:19] Ralms commented on #10629
@dzearing
Its a Shimmer specific interface, would make sense to be in the same location as the example on my point of view.

[2019-09-27 23:22] joschect commented on #10632
@Friedrikovic Thanks for your submission. Could you provide a codepen that reproduces this issue? Here is a basic [panel codepen](https://codepen.io/slimemold/pen/oNvRXYZ?&editable=true) to help you get started. It doesn't look like the panel has or controls a popup dialog by default.

[2019-09-27 23:25] joschect commented on #10631
@wudicheng123 I think that seems like reasonable idea. @jdhuntington does that seem okay to you? if so I'll make a pr to get it added.

[2019-09-27 23:39] joschect commented on #10633
@barisbikmaz Thanks for your submission. I am able to reproduce this
![image](https://user-images.githubusercontent.com/20801176/65807595-03d7a280-e144-11e9-933d-3cb50ed80acf.png)

It seems that the problem happens in regular safari too. From what I can tell, the disabled background color of the safari text field happens to just match the disabled text color that we assign.

![image](https://user-

[2019-09-27 23:43] khmakoto opened #10661 "DocumentCard: Focus indicator is not properly visible"
### Environment Information

- **Package version(s)**: 7.39.2
- **Browser**: Microsoft Edge (does not repro on Chrome)

### Please provide a reproduction of the bug in a codepen:

The bug is clearly visible in the [website](https://developer.microsoft.com/en-us/fabric#/controls/web/documentcard).

#### Actual behavior:

The focus indicator clips around images on the `DocumentCard`:

![DocumentCard

[2019-09-27 23:45] joschect commented on #10634
@webdes03 Thanks for submitting this request. @Jahnp should be able to help out here.

[2019-09-27 23:52] joschect commented on #10635
@mshindal I can see that the group with no items is not selectable. @dzearing or @micahgodbolt do you know if this is expected behavior?

[2019-09-28 00:00] #6535 closed

[2019-09-28 00:12] dzearing commented on #10655
I believe this is by design.

Footer content gets stuck at the end of content, but as the content grows, it does not exceed the boundaries of the panel and lets the content scroll.

This is what I'm observing currently.

@betrue-final-final can confirm.

[2019-09-28 00:12] joschect commented on #10647
@cnamal thanks for submitting this. This does look like it's a bug in our demo page. @betrue-final-final do we have some guidance as to what colors these should be? It looks like, at some point, that our colors drifted per this closed issue from a while back #5265

[2019-09-28 00:22] joschect commented on #10648
@AlokBisht There's already React.HTMLAttributes and React.HtmlProps which both provide a good baseline for props to be inherited from. We could potentially have our own base props, but then what gets included in there? We'd likely wind up with a set somewhat similar to React.HtmlProps.

@dzearing or @micahgodbolt Might have other opinions.

[2019-09-28 00:29] joschect commented on #10620
@gioce90 This is working as intended. event.target refers to [the element](https://developer.mozilla.org/en-US/docs/Web/API/Event/target) that trigged the event. So when you're using it to get id, sometimes the target is an underlying div, which does not have the same id applied.
![image](https://user-images.githubusercontent.com/20801176/65808806-c5de7c80-e14b-11e9-921a-3aaf7b0a9173.png)

I made

[2019-09-28 00:35] riosn-n commented on #10655
I just realized that there is a new prop isFooterAtBottom={true}.

If I remember correctly, in Fabric 6 the default was to have the footer at the bottom. In that case, maybe having this prop be true by default would make more sense?

[2019-09-28 00:35] #10655 closed

[2019-09-28 00:39] joschect commented on #10637
@lutorre I have been able to reproduce this using swipe right to navigate through the available items. We'll add it to our backlog.

[2019-09-28 05:39] cliffkoh commented on #5752
Closing this issue as this is intractable until Dropdown refactor where role moves to "combobox" (in which case this issue is irrelevant). Also FWIW it was determined that this issue is does not block users from having an accessible experience.

[2019-09-28 05:39] #5752 closed

[2019-09-28 19:48] vjsrinath commented on #3692
**__currentId__** in a server is no more stored under process. I am not sure if it ever was.

I also faced the problem where the classNames generated by server and client didn't match.
After, a little bit of digging the source code found this method **resetIds**.
After calling this as given above, it fixed the issue for me.

[code]
Call the following method just before every page is rendered. In m

[2019-09-28 20:18] AlokBisht commented on #10648
Yes,just like React.HtmlProps is a good baseline for the component props ( though the BaseComponent introduces the IBaseProps any many of the office components are build on it, this is topic of it's own), we can have the basestyleprops in the framework.

ex.

interface IBaseStyleProps{
 theme?: ITheme;
className?: string;
.....
may be disabled?: boolean;
}

more style/animation rated props dependi

[2019-09-28 21:03] tomasro27 commented on #9545
Also interested in a DateTime picker control.
Is this already planned?
Just wondering whether I should find an alternative time picker in the mean time.

Thanks!

[2019-09-28 23:01] cezapata opened #10662 "Cannot assign a label to the PeoplePicker control"
### Environment Information

- **Package version(s)**: 7.22.2

- **Browser and OS versions**:
Browser: Google Chrome Version 77.0.3865.90 (Official Build) (64-bit)
OS: Windows 10 Version 1903 (OS Build 18362.356)

### Describe the issue:

Cannot assign a label to the people picker component. There are no props available to it.

### Please provide a reproduction of the issue in a codepen:
https://c

[2019-09-29 17:46] niicojs commented on #616
I'm also having this issue. `configureLoadStyles` is never called on my tests so the documentation does not work for me. Is it outdated?

[2019-09-29 21:38] brettinternet commented on #616
@dzearing Would the team be able to speak to SSR support? What might be in the future for merge-styles?

[2019-09-30 04:20] HarkeshS commented on #10618
@joschect --DetailsList row border's are invisible in HIgh contrast mode when you clicked on rows sequentially. as you can see in attached snap

[2019-09-30 04:21] HarkeshS commented on #10618
@joschect -This is basic example in pen

[2019-09-30 04:25] HarkeshS commented on #10614
@joschect c--Yes we have checked in Microsoft narrator in edge. and it was reading description label properly for choice group, but not reading in chrome.
Kindly donot close this request.

[2019-09-30 07:40] reficul31 commented on #10475
Hi @aneeshack4,
Any update on this? I again apologize I was not able to reproduce this in a codepen.

[2019-09-30 07:41] reficul31 commented on #10474
Hi @aneeshack4,
Any update? Or is there another way we can handle this?

[2019-09-30 07:43] reficul31 commented on #10472
Hi @aneeshack4 ,
Any update on this?

[2019-09-30 09:19] tipantaz commented on #10493
Hey @aneeshack4, sorry for taking a while.
I only used the generic <a> because in order to change the color of the link in a message bar I had to use the !important tag and I suspected that that might be the cause of the problem.

It might be that I am using the styling wrong even though it does work properly when not in the message bar.

If you could take a look at this https://codepen.io/tipanta

[2019-09-30 15:42] Jahnp commented on #10634
Hi @webdes03 , thanks for the feedback and request. I hear your pain and wish I had an easy solution today.

We actually _do_ have icons for several social media sites available on an internal version of the Fabric icons tool—which Microsoft apps can use—but unfortunately we don't have permission today to redistribute them, since the designs belong to their copyright owners.

That said, this is th

[2019-09-30 15:47] Jahnp commented on #10457
Hey folks, sorry for the delay. Wanted to share that we've made the infrastructure improvements to the icons site, so we shouldn't be hitting these bottlenecks anymore. Please let me know if you hit any further issues with the site. Thanks again for reporting this one!

[2019-09-30 15:48] Jahnp commented on #10462
Hey folks, sorry for the delay. Wanted to share that we've made the infrastructure improvements to the icons site, so we shouldn't be hitting these bottlenecks anymore. Please let me know if you hit any further issues with the site. Thanks again for reporting this one!

[2019-09-30 15:58] Jahnp commented on #10405
I'm following up with @Juliamirjami offline for this.

[2019-09-30 16:20] khmakoto opened #10664 "DocumentCard: Examples should have aria-label attribute specified"
The `DocumentCard` examples in [the website](https://developer.microsoft.com/en-us/fabric#/controls/web/documentcard) don't read properly when using screen readers because the `aria-label` attribute is not being defined. The examples should define this attribute so that users of screen readers have a good experience when navigating through the website.

#### Notes
Bug 4 in #10646 - DocumentCard A1

[2019-09-30 16:26] khmakoto commented on #10662
Hi @cezapata, thanks for filing this bug!

@joschect @micahgodbolt this seems like a reasonable feature request given our pattern in other controls but I wanted to get your opinions before moving forward on a solution for this. Do you think we should add a `label` attribute with its corresponding functionality to the `PeoplePicker`.

[2019-09-30 16:52] e-gallis commented on #10462
Fantastic... Just tested it with a selection of multiple icons: took about 4s to generate the zip file. Great job, thanks!

[2019-09-30 16:53] e-gallis commented on #10462
Closing the issue...

[2019-09-30 16:53] #10462 closed

[2019-09-30 17:23] AlokBisht commented on #10648
@dzearing @micahgodbolt, what are your views?

[2019-09-30 17:24] khmakoto opened #10665 "DocumentCard: Focus is not visible on links in High Contrast Mode"
### Environment Information

- **Package version(s)**: 7.39.2
- **Browser**: Microsoft Edge

### Please provide a reproduction of the bug in a codepen:

The bug is clearly visible in the [website](https://developer.microsoft.com/en-us/fabric#/controls/web/documentcard).

#### Actual behavior:

The focus indicator is not visible on links inside `DocumentCards` when in High Contrast Mode:

![Documen

[2019-09-30 17:25] khmakoto commented on #10646
All the bugs above have been split into their own corresponding issues and linked above, so I'll close this issue for now.

[2019-09-30 17:25] #10646 closed

[2019-09-30 17:48] webdes03 commented on #10634
Facebook, Twitter, YouTube, LinkedIn, and Instagram would be the big ones we use frequently. Today we're forced to include FontAwesome to gain access to those icons.

[2019-09-30 18:24] micahgodbolt commented on #7762
6 - high contrast is working fine

![image](https://user-images.githubusercontent.com/1434956/65905134-d32a7f80-e374-11e9-8003-5567830bf30b.png)

![image](https://user-images.githubusercontent.com/1434956/65905147-d9b8f700-e374-11e9-9b36-142da0f70f75.png)

![image](https://user-images.githubusercontent.com/1434956/65905164-e3daf580-e374-11e9-9c78-31ff72a69881.png)

[2019-09-30 18:25] micahgodbolt commented on #7762
Looks like everything except the color contrast issue is resolved. by my upcoming PR. The color will get broken out into a different issue.

[2019-09-30 18:40] micahgodbolt commented on #7762
Removed the custom styles section as it was full of a11y issues and didn't serve any specific purpose.

[2019-09-30 18:49] jdhuntington commented on #10599
The markup/DOM is correctly rendered - adding an explicit `aria-level` attribute is redundant information.

Reference: https://www.w3.org/TR/wai-aria-1.1/#aria-level

[2019-09-30 18:49] #10599 closed

[2019-09-30 19:52] jdhuntington commented on #10589
This is a known issue with Narrator that is being tracked in an internal repository. Closing this as external and will track internally.

[2019-09-30 19:52] #10589 closed

[2019-09-30 20:11] jdhuntington commented on #10590
Unable to repro; focus only hits `recent` pivot item a single time.

[2019-09-30 20:11] #10590 closed

[2019-09-30 20:25] #10126 closed

[2019-09-30 21:00] jdhuntington commented on #10588
Elements no longer present on page.

[2019-09-30 21:00] #10588 closed

[2019-09-30 21:11] joschect commented on #10618
@HarkeshS Thanks for the submission, I'm able to produce this, but very inconsistently. And even when I inspect the dom it looks like everything is working as intended. In the screenshot you can see that the item does have a bottom border set on it.
![image](https://user-images.githubusercontent.com/20801176/65917391-1c39fe00-e38c-11e9-90e3-5721cbcad8cc.png)

[2019-09-30 21:39] mshindal opened #10669 "Multi select <Dropdown/> doesn't select item when clicking outside of label"
### Environment Information

- **Package version(s)**: latest
- **Browser and OS versions**: N/A

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/mshindal/pen/RwbzZXG

#### Actual behavior:

When using a `<Dropdown/>` that has multi select enabled, clicking outside of the option's label (the text) does not select the option.

This .gif demonstrates the issue. First,

[2019-09-30 21:49] jdhuntington commented on #10592
Has been fixed in a previous iteration. No longer reproduces.

[2019-09-30 21:49] #10592 closed

[2019-09-30 21:54] jdhuntington commented on #10584
Unable to repro. Default styling has drastically changed since the creation of this issue, and the new look and feel seems to have addressed.

[2019-09-30 21:54] #10584 closed

[2019-09-30 21:55] mshindal commented on #10669
I was able to fix this with the following CSS, however I am unsure what the side effects could be:

[code]

[2019-09-30 22:03] khmakoto commented on #10665
There seems to be something else going on here. The PPT icons are disappearing in Microsoft Edge after focusing on the links, which makes all the styling look screwed up. This does not repro on Google Chrome.

On Edge:

![DocumentCard](https://user-images.githubusercontent.com/7798177/65920172-28758980-e393-11e9-9530-5e14586a6022.gif)

On Chrome:

![DocumentCard](https://user-images.githubusercont

[2019-09-30 22:08] joschect commented on #10618
@HarkeshS I think this might be a browser bug rather than a bug in fabric.

[2019-09-30 22:21] khmakoto commented on #10669
Hi @mshindal, thanks for filing this issue! I'll work on a fix as soon as possible (may be what you provided above, I'll investigate).

[2019-09-30 22:39] linkup89 opened #10671 "DetailsList component not showing boolean values in rows."
### Environment Information

- **Package version(s)**: 6.175.0
- **Browser and OS versions**: Chrome/Windows 10

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/linkup/pen/xxKoXeR

#### Actual behavior:

When one of the value types for DetailList is boolean the data is not shown in the table.

#### Expected behavior:

It should show, true/false accordingly

### Prior

[2019-09-30 23:00] #6549 closed

[2019-09-30 23:01] ecraig12345 commented on #9885
I made an [updated codepen](https://codepen.io/ecraig12345/pen/ExYBvEG?editors=0010) with a simple listbox containing button options (like Dropdown uses) and even a plain div option for good measure, and VoiceOver **always** reads "text" after anything with `role="option"` inside a `role="listbox"`. I'm not sure why they chose to do that, but it's not something we can control on the Fabric side.

[2019-09-30 23:16] khmakoto commented on #10671
Hi @linkup89, thanks for filing this issue! I'll take a look as soon as I can!

[2019-10-01 00:13] linkup89 commented on #10671
That is a quick fix that i found for this issue. Hope it helps.

[2019-10-01 01:29] iwasn opened #10676 "LinkButton component that will render a link styled as a Button"
#### Describe the feature that you would like added

We would like to have the option for the fabric Button component so that we can render an anchor element instead of a button element depending if we want to use the component for navigation. We have been passing a Link component as a children of the Button component, which results in an accessibility bug in which we have conflicting aria roles n

[2019-10-01 05:09] marygans commented on #8031
Hi @999-Dev I was unable to repro this issue using the up and down keys to get to the close button after the "Try it Again" button in scan mode. Can you provide a screen capture of this? I will provide a gif of what I see when I get my device with Edge back.

Thanks!

[2019-10-01 07:28] reficul31 commented on #10475
I wasn't able to fully reproduce the bug we are encountering but here is a code pen to show what we are encountering. [CodePen](https://codepen.io/reficul31/pen/bGbPKqv?editors=0011)

In the code pen you would see that on component mount I am selecting and setting the focus to the 100th element. But the list doesn't scroll to index 100 or even focus on that index.

In our functionality the list sc

[2019-10-01 12:32] Friedrikovic commented on #10632
My bad, I've mistaken your lib with another one that's used by my project that exposes a very similar Panel component

[2019-10-01 12:32] #10632 closed

[2019-10-01 13:00] #7990 closed

[2019-10-01 14:56] neeraj-khanna commented on #10622
We are using some columns to display actionable icons (or icon buttons) and these columns does not contain a header. Focus going to header of such columns is not expected and there is no way to skip the headers of such columns.

[2019-10-01 15:04] micahgodbolt commented on #10523
i'd have to defer to @christiango - he ended up doing the majority of the work in the resize group. I'm not sure if it was possible to persist the measured copy through all of the mutations or not.

[2019-10-01 15:06] micahgodbolt commented on #10492
Is this a hover card problem then? Maybe something for @atneik to take a look at?

[2019-10-01 15:08] micahgodbolt commented on #9711
Yeah, this is an issue with button, not calendar. No need to track it here.

[2019-10-01 16:04] Anschur opened #10677 "Can't label button by Tooltip (Callout a11y issue)"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:

I have a button that I have placed a tooltip on. In order for the tooltip to be read out when focused by Narrator I have used aria-labelledby and refered to the Tooltip. However the Tooltip text is not read when focusing the button.

### Please provide a r

[2019-10-01 16:05] cikuITreti opened #10678 "Ability to enable/disable fluent animations using theme object"
#### Describe the feature that you would like added

We use UI Fabric components in our product and we would like to offer users an option for enabling/disabling animations as desired. Some users might find animations a bit annoying and perceive the UI as less responsive.

We currently achieve this by overriding some global style. The approach however is cumbersome and it would be best to be able

[2019-10-01 16:45] christiango commented on #10523
ResizeGroup used to work that way @swese44, but we got feedback from partners that they were seeing the screen flicker between states on some browsers (I think it was IE).

[2019-10-01 17:32] khmakoto commented on #10676
Hi @iwasn, the `Button` component has an `href` prop that makes it behave like a link while still being styled as button, have you tried using this approach?

[2019-10-01 17:39] iwasn commented on #10676
Oh ok. To clarify, we actually have a dependency on React Router, so when we nest Link component from React Router we render an anchor tag inside the button, which causes the double nested aria role.

But thinking more about it, I am not sure how the button would detect passing in react router component to render a single anchor tag, without re-skinning it. I guess now I want to change the questio

[2019-10-01 17:46] #10617 closed

[2019-10-01 17:50] atneik commented on #10492
HTML Title attribute doesn't support keyboarding, its only for mouse hover. Hence, [not the best choice for accessibility](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/title#Accessibility_concerns). You could use the Tooltip component instead. In [this codepen example](https://codepen.io/atneik/pen/wvwVwmj?editors=0010) when hovered/keyboarded to the cell in second column it

[2019-10-01 17:55] #10671 closed

[2019-10-01 18:16] isabelacmor opened #10679 "TooltipHost background color isn't set by theme"
### Environment Information

- **Package version(s)**: 7.29.0
- **Browser and OS versions**: any

#### Actual behavior:
TooltipHost uses `theme.palette.neutral` for the root background color, despite accepting a theme as a prop, so the root's background color never changes.

#### Expected behavior:
TooltipHost should use a `theme.palette.neutral*` or `theme.semanticColors.*` color instead of `them

[2019-10-01 18:42] lutorre opened #10680 "[accessibility][voice reader] Voice reader focus is not modal in blocking Dialog (Android)"
### Environment Information

- **Package version(s)**:
- **Browser and OS versions**: Google chrome - Android 9 Pie

### Describe the issue:

When a blocking Dialog is displayed while voice over is Enabled the focus doesn't remain modal.

Steps to reproduce:

1- Activate voice over on an Android device
2- Use chrome browser to open a blocking Dialog
3- Swipe right until the last component inside t

[2019-10-01 18:50] khmakoto commented on #10676
@iwasn I've created [this codepen](https://codepen.io/khmakoto/pen/jONgOKP) as a playing ground to test things but I wanted to corroborate some things first. Does that codepen look like a good example to replicate the scenario you're facing? If that's the case, is the thing you want for the `Button` to just render the anchor tag instead of rendering it as a child? The answer to these questions wil

[2019-10-01 18:52] phyllers opened #10681 "Tooltip support for ContextualMenu items"
#### Describe the feature that you would like added

I'd like to add a tooltip to a ContextualMenu. There was previously a ticket filed under accessibility that got closed. However, my scenario is to be able to explain to a user why a menu item is disabled/or not.

#### What component or utility would this be added to

ContextualMenuItem

#### Have you discussed this feature with our team, and if

[2019-10-01 20:46] iwasn commented on #10676
Yup A link lives inside a button, so that we create a nested focus that is not ideal for accessibility. So only one anchor tag without a button gets rendered, like you said exactly. Let me know your thoughts :)

[2019-10-01 20:48] khmakoto commented on #10681
Hi @phyllers, thanks for filing this issue!

This seems like a feature request, @joschect what do you think we should do about this? I can certainly try to include tooltips in `ContentualMenuItems` but I don't know if that's a scenario we want to support and, if we do, if we should do it now or add it to the backlog. Curious to know your opinion on this.

[2019-10-01 20:51] khmakoto commented on #10680
Hi @lutorre, thanks for filing this issue! Can you put up a codepen with your scenario where this repros so that I can take a look at it? If you can't don't worry, I'll spin one up myself and investigate what's happening.

[2019-10-01 20:59] khmakoto commented on #10678
Hi @cikuITreti, thanks for filing this issue! It seems like this is a feature request around theming and some discussion needs to happen around it.

CC'ing relevant people: @micahgodbolt, @dzearing, @jdhuntington

[2019-10-01 22:00] khmakoto commented on #10676
If it's only an issue with focus you could try adding `tabIndex=-1` to the `Link` and then triggering the `onClick` event programatically. I've done this in the codepen above. While not great, I can't see a way of this working any better with the link as a child of the button.

If we wanted to have the `Button` render as a `ReactRouter.Link` that would require some feature work from our side and s

[2019-10-01 22:39] khmakoto commented on #10677
Hi @Anschur, thanks for filing this! This is actually not a bug. What's happening here is that the `Tooltip` has a timer to appear specified by the `delay` property, which defaults to `300ms`. This means that when Narrator focuses on the `Button` the `Tooltip` has still not rendered, and therefore there is nothing the `aria-labelledby` is pointing to. To avoid this you can specify `delay={TooltipD

[2019-10-01 22:45] lutorre opened #10682 "[accessibility][voice reader] Mac Voice Reader reads incorrect ShimmeredDetailsList row count while using Sticky component"
### Environment Information

- **Package version(s)**: MacOS Mojave 10.14.5
- **Browser and OS versions**: Chrome, Safari

### Describe the issue:

 Mac Voice Reader reads incorrect ShimmeredDetailsList row count while using Sticky component. When using a ShimmeredDetailsList and applying a Sticky components to the headers voice over doesn't take into account the first row (headers).

### Please p

[2019-10-01 22:53] marygans commented on #8031
Hi @999-Dev, here is the screen recording repro attempt for Bug 11 in Edge:

![testing6](https://user-images.githubusercontent.com/38991459/66006413-722da500-e463-11e9-8f1f-e3ab32b12cd9.gif)

[2019-10-01 22:55] marygans commented on #8031
Can you provide further information regarding this bug? E.g., actual vs expected with a possible screen recording of the issue? (Similar to the excel documentation provided previously)

thanks!

[2019-10-01 23:06] khmakoto commented on #10679
Hi @isabelacmor, thanks for filing this issue! I can understand what you're saying here.

@phkuo @betrue-final-final I wonder, what should we do here, it definitely feels like the `Tooltip` background color should change with the theme.

[2019-10-01 23:08] khmakoto commented on #10682
Hi @lutorre, thanks for filing this issue! I'll dig into it to see where the problem is coming from.

[2019-10-01 23:42] phkuo commented on #10679
It should use bodyBackground or menuBackground, up to design whether it should follow default styles or menu styles.

[2019-10-01 23:50] iwasn commented on #10676
We've reimplemented the css to style our React router links as Office fabric buttons, so this isn't too much of a priority. We appreciate this discussion however. Please keep this in a backlog

[2019-10-02 00:00] #10436 closed

[2019-10-02 00:14] khmakoto commented on #10676
Perfect, thanks for understanding @iwasn, I'll add this to the backlog.

[2019-10-02 03:24] #10664 closed

[2019-10-02 03:44] #10594 closed

[2019-10-02 03:52] ashbadami opened #10684 "Dropdown component renderTitle not called when menu option is enable=true, selected=true"
### Environment Information

- **Package version(s)**: office-ui-fabric-react": "7.28.1",
- **Browser and OS versions**: Chrome 77.0.3865.90 , Windows 10

### Please provide a reproduction of the bug in a codepen:
Issue: dropdown doesn't call renderTitle() but only calls renderPlaceholder()
<DropDown  options set to a state variable. Initially dropdown option is set with
{ key.....   , disable: tr

[2019-10-02 05:59] hauvubhtech opened #10685 "[DetailsList] Column reordering is not working on Microsoft teams tabs"
### Environment Information

- **Package version(s)**: 6.157.0
- **Browser and OS versions**: Chrome on Window 10

#### Actual behavior:

I created a web part by using sharepoint framework, and I used office ui fabric react as a user interface library. I created a details list in this web part and the column reorder function works when adding this webpart to sharepoint tenant. But when adding to M

[2019-10-02 07:29] Anschur commented on #10677
Hi @khmakoto! Thanks for clarifying this :)
I see many of the examples are using aria-describedby, but I guess you would have the same issue there? Maybe an idea to remove aria-descibedby from the examples if they are not working, and make e specific example on how to apply a working aria-describedby?

[2019-10-02 08:33] gioce90 commented on #10620
Thank you @joschect

[2019-10-02 08:33] #10620 closed

[2019-10-02 12:08] Toonshorty opened #10686 "Can't set imageProps on an icon using @uifabric/file-type-icons"
### Environment Information

- **Package version(s)**: 7.41.0 (office-ui-fabric-react); 7.1.1 (@uifabric/file-type-icons)

#### Actual behavior:

By default, the image is rendering using the inline display style. In my scenario, I am using the Icon as a column in a DetailsList component. The inline style is adding some white-space which means the image doesn't line up to the row correctly. This ca

[2019-10-02 14:44] maxswa opened #10687 "Root styles not being applied to MessageBar root div."
### Environment Information

- **Package version(s)**: Latest (7.42.0)

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/maxswa/pen/dybxeyq

#### Actual behavior:

Styles are applied to a child div under the root div:
https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/MessageBar/MessageBar.base.tsx#L118
This

[2019-10-02 16:00] #9711 closed

[2019-10-02 17:01] martellaj commented on #10348
@natalieethell Hi! Are you creating an issue or taking on the work to modify the component so it'll read messages that are the same? I'm doing this locally in our app (OWA), but it really should be done in the component so I came here to make an issue.

[2019-10-02 20:00] sergul opened #10689 "Narrator can't read the fabric Combobox options when expanded"
### Environment Information

- **Package version(s)**: (7.37.0)
- **Browser and OS versions**: (Microsoft Edge, Windows 10)

### Describe the issue:

Narrator is unable to read the Fabric combobox component options when expanded on arrow down key press.

### Please provide a reproduction of the issue in a codepen: https://codepen.io/sergulo/pen/PoYRZae

#### Actual behavior:

Narrator is not able

[2019-10-02 20:05] katiearriagam opened #10690 "ComboBox: React handler events happen after native browser events"
### Environment Information

- **Package version(s)**: 7.0.0
- **Browser and OS versions**: Google Chrome

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/katiearriagam/pen/ZEzgQqo

1.	Go to https://codepen.io/katiearriagam/pen/ZEzgQqo and open the console.
2.	Set focus inside the ComboBox
3.	Trigger a keyDown event.

#### Actual behavior:

Because of the way React ha

[2019-10-02 20:19] micahgodbolt commented on #10689
i've reprod this. The issue is when the combo box opens, narrator doesn't say which item it is on, or what item number it is. The lack of repeating that "option A" is selected isn't super bad....but not know that it is X of 10 means it's hard to know where to go from there.

[2019-10-02 20:20] micahgodbolt commented on #10689
@jspurlin is this expected functionality? Do we need to trigger a selection when the combo box opens so that narrator things something has changed, and reads it out?

[2019-10-02 20:21] brandonthomas opened #10692 "There's no way to set a tooltip on the overflow button on CommandBar"
### Environment Information

- **Package version(s)**: any
- **Browser and OS versions**: any

### Describe the issue:
There is no way to set tool tip props on the overflow button within CommandBar (or OverflowSet). Ideally OverflowSet would allow for this, and then CommandBar would expose OverflowSet props to enable down level consumers to solve any future problems that OverflowSet fixes.

### Pl

[2019-10-02 20:22] jspurlin commented on #10690
@joschect, @JasonGore , and @dzearing FYI, this is an interesting/frustrating issue that we found related to native eventhandlers firing vs react eventhandlers... I think there's a bigger discussion that needs to happen for how we should solve this. You could imagine changing the eventhandlers to hook up to the native events (via the events object), but there's potential that some consumer may be

[2019-10-02 20:23] khmakoto commented on #10677
Hi @Anschur, yeah, the same issue happens there. Now that I think about it, this may actually be a bug because you expect the `Tooltip` to label things correctly independent of the `delay` you set. I'll have a PR to fix this and check that it works on the examples.

[2019-10-02 20:24] micahgodbolt commented on #10687
@phkuo the messagebar root is wrapped with a div with a fixed background color. if you are trying to say absolute position the messagebar, what happens with that div? Should we make that wrapping div optional?

@maxswa if you are using flex, you could use Flex and FlexItem to apply your layout to the message bar. Not the easiest solution, but would certainly work as intended.

[2019-10-02 20:26] jspurlin commented on #10689
@micahgodbolt it looks like narrator is in scan mode, @sergul can you confirm? If so we've had this conversation a few time the issue is a narrator issue. Looping in @aneeshack4 and @dzearing who were in the earlier conversations around this. I believe a bug has already been logged against the Narrator team for this

[2019-10-02 20:30] micahgodbolt commented on #10689
I'm not sure if it's a scan issue. The question is, when the combobox opens, does it read the selection and position of the default selected item in the list?

Moving up or down 1 will read "option B, 2 of 10", but you don't get that selection/location data upon opening the combobox.

[2019-10-02 20:32] micahgodbolt commented on #10689
If you open the Dropdown, you will get "Banana, 2 of 7" as soon as the dropdown opens:

https://developer.microsoft.com/en-us/fabric#/controls/web/dropdown

[2019-10-02 20:34] maxswa commented on #10687
You mean apply this to the parent div?
[code]
It works, but could screw up the layout of other child elements.

[2019-10-02 20:46] jspurlin commented on #10689
How does a native html select element work? We should (at least) be inline with whatever that does.

For combobox we have aria-activedescendant set for the item that is "focused" (and make the selected item the focused item on open). From there it's on Narrator to announce whatever it wants.

For dropdown, it looks like we move focus to the "selected" item and again narrator will announce whatever

[2019-10-02 20:51] micahgodbolt commented on #10689
yeah, it's the focus that doesn't get set. It gets set as soon as you arrow up or down to the next element, but you don't get focus on the selected item, so you don't know where you are on the list.

[2019-10-02 20:52] khmakoto commented on #10679
I spoke with design and the decision was that we should use `menuBackground` for this. I'll have a PR for this shortly.

[2019-10-02 21:00] micahgodbolt commented on #10689
Narrator focuses puts focus on the selected item (in my case option 6) and reads out the option and location

option 6, <say-as interpret-as="spell">6</say-as> of <say-as interpret-as="spell">9</say-as>, selected,

[2019-10-02 21:01] micahgodbolt commented on #10689
it's the freeform situations that are difficult. Does focus move to the dropdown, and read out your current location? or do you keep focus in the input for future typing

[2019-10-02 21:06] mirajp opened #10693 "ComboBox errorMessage is not read by screen reader"
### Environment Information

- **Package version(s)**: version 7 (latest at time of writing = 7.42.0)
- **Browser and OS versions**: Chrome 77.0.3865.90 and Edge 44.18362.329.0 (on Windows 10)

### Describe the issue:
Neither Narrator with Edge nor NVDA with Chrome reads/announces the error message of a ComboBox component when the error is set/made visible.

### Please provide a reproduction of th

[2019-10-02 21:08] micahgodbolt commented on #10689
@sergul so it might come down to narrator properly supporting [aria-activedescendant](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-activedescendant_attribute)

[2019-10-02 21:16] phkuo commented on #10687
That wrapping div is supposed to just hold the background color, the bodyBackground of the global (not contextual) theme. Since Vitalie's PR was put on hold, I have no idea what the state of MessageBar is or what our plan for moving forward on it is. We need to figure that out and then decide what we do with that root div. If we end up keeping it, we should probably change it to a ::before so that

[2019-10-02 21:28] step-lee opened #10694 "Underlined and borderless Dropdown"
#### Describe the feature that you would like added

I would like to add an underlined and borderless version of the Dropdown component

#### What component or utility would this be added to

<Dropdown />

#### Have you discussed this feature with our team, and if so, who

No

#### Additional context/screenshots

We are building out a form with basic inputs. We use the underlined and borderless Te

[2019-10-02 21:46] sergul commented on #10689
@jspurlin narrator wasn't in scan mode and it was in tab mode.

[2019-10-02 21:56] sergul commented on #10689
thanks @micahgodbolt
My observation here though is if you open the combobox by left click then it will work and we will see the expected behavior for this issue. Do you think we should see different behaviors only because we open the combobox in different ways ?
![combobox issue](https://user-images.githubusercontent.com/2910631/66084813-67871480-e524-11e9-9376-0c63f31fa30a.gif)

[2019-10-02 23:18] khmakoto commented on #10694
Hi @step-lee, thanks for filing this issue! I wonder if this really should be a variant or the `Dropdown` that we should add to Fabric or if this scenario is simply a matter of styling that maybe would be better if you hosted it inside your app. Wonder what @joschect thinks about this.

[2019-10-02 23:22] jspurlin commented on #10689
@micahgodbolt aria-activedescendant exists to solve exactly these kind of problems (having focus stay in the input put be able to navigate through the menu options). I know narrator has read the option that is being navigated (and says x of y) in the fabric comboBoxes, so unless that's regressed it should still work. I guess it's not clear to me exactly what the issue is... If it's a regression in

[2019-10-02 23:25] khmakoto commented on #10693
Hi @mirajp, thanks for filing this bug! I can confirm that this is reproing form me in the codepen you provided (thanks for that!). I'll work on a fix as soon as I can.

[2019-10-03 00:15] khmakoto commented on #10692
Hi @brandonthomas, thanks for filing this issue! There is already an issue tracking this in #9873 so I'll file this as a duplicate.

[2019-10-03 00:48] tomasro27 opened #10699 "SpinButton with width set below 100px does not properly render"
### Environment Information

- **Package version(s)**: 7.31.2
- **Browser and OS versions**: chrome, windows 10

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/tomasro27/pen/zYOgVbZ?&editable=true

#### Actual behavior:

Spin button does not render properly if its width is set to anything below 100px (~97px). The size is not set to the width specified, and the up/do

[2019-10-03 00:54] #10669 closed

[2019-10-03 00:57] #10437 closed

[2019-10-03 01:31] khmakoto commented on #10684
Hi @ashbadami, thanks for filing this issue! I'll take a look into it as soon as I can.

[2019-10-03 01:32] khmakoto commented on #10686
Hi @Toonshorty, thanks for filing this issue! I'll take a look as soon as I can.

[2019-10-03 01:45] khmakoto commented on #10699
Hi @tomasro27, thanks for filing this issue! This reproes for me in you codepen. I think the issue here is that we have a couple of `minWidths` not well defined. I've updated your [codepen](https://codepen.io/khmakoto/pen/qBWeemy?&editable=true) above to see how a fix would look like and I'll try to bake this into a fix as soon as I can.

[2019-10-03 01:47] khmakoto commented on #10685
Hi @hauvubhtech, thanks for filing this issue! Unfortunately I don't know of a good way of testing things inside of a Microsoft Teams tab. Do you have any guidance that could help me repro the problem? Thanks!

[2019-10-03 01:56] tomasro27 commented on #10699
@khmakoto awesome, thank you so much!

[2019-10-03 02:10] hauvubhtech commented on #10685
![test-Google-Chrome-2019-10-03-09-00-58](https://user-images.githubusercontent.com/26866060/66094214-5f2ee800-e5bd-11e9-81e2-cb37bbeeb6b2.gif)
I made a gif here to discribe error, this 2 tabs get from shared web part but one worked, and one didn't.

[2019-10-03 02:28] hauvubhtech commented on #10685
I tried to debug many times and I found that on MS teams tabs, it didn't jump to handleColumnReorder function or onColumnDrop function when dragging and dropping

[2019-10-03 02:44] KevinTCoughlin commented on #10685
@hauvubhtech, it appears that some global listener is not being registered or the event is being stopped. What's the easiest way to repro this? Can you provide a sample SPFx webpart? I can talk to the team about how to install it.

[2019-10-03 05:15] lutorre opened #10700 "[accessibility][voice reader] Mac Voice Over reads all elements within a Dialog component instead of only reading the highlighted element"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: Google chrome - MacOS Mojave 10.14.5

### Describe the issue:

After opening a Dialog (while having voice over activated) that contains selectable elements (button, radio buttons, text fields, etc), the focus goes to the first element within the dialog as expected, but voice reader reads all eleme

[2019-10-03 05:18] 999-Dev commented on #8031
@marygans
**Actual:**
After activating the 'Show Coach Mark' button, Coach Mark bubble is appeared, but screen reader announce it "A Coach mark has appeared, Coach Mark notification **Dialog**' Coach mark notification press enter or Alt + C key to open".
**Expected:**
Screen reader announce 'Coach Mark notification Dialog', but this is not a dialog, it is simple notification. Screen reader should

[2019-10-03 05:21] step-lee commented on #10694
Hello @khmakoto. Thank you for responding so quickly. To me it's a matter of consistency and feature parity:
1. Most of the component libraries have underlined and borderless dropdown. (Material-ui, React Toolbox, and Ant design etc)
2. Form elements such as TextField and Dropdown (frequently use together) should have consistent style in my opinion. I suspect a lot of people uses these two element

[2019-10-03 05:42] 999-Dev commented on #8031
@marygans

**Actual:**
After activating the 'Show Coach Mark' bubble by using Alt+C, Narrator focus does not land on 'Try Again' button and also does not moves to Close button.

**Expected:**
After activating the bubble notification, screen reader should announce complete name of the control like 'Try It' button. After that navigate the 'Example title' by using up arrow keys and verify the issue w

[2019-10-03 06:58] jspurlin opened #10701 "Callout: Get a crash due to Uncaught Invariant Violation"
In word online I'm seeing an issue when bringing up a callout (with a point target) that's causing our app to crash.

I believe was introduced by: #10663 ,fyi @dzearing and @JasonGore

This is a High impact bug

Below is the console exception:

Uncaught Invariant Violation: Argument appears to not be a ReactComponent. Keys: x,y
    at eval (webpack-internal:///../../common/temp/node_modules/.offic

[2019-10-03 07:02] bhagwatshelke1047 opened #10702 "Narrator does not read the error message displayed while we enter incorrect email address."
Environment Details:
Application Name: Customer Service Insights
Windows Version: Windows10
Browser Versions: Microsoft Edge 44.18362.267.0
Screen Reader Version: Narrator
Mas violated : MAS 3.3.1

Repro Steps:
1. Open application Customer Service Insights.​
2. Home page should open for Customer Service Insights.​
3. Navigate to Global Navigation Bar at the top of the screen and select "Workspaces

[2019-10-03 07:03] Anschur commented on #10677
Great! Thanks @khmakoto :)

[2019-10-03 07:26] hauvubhtech commented on #10685
I created a simple SPFx webpart and use a details list with column reorder function here
[detailslist.zip](https://github.com/OfficeDev/office-ui-fabric-react/files/3684900/detailslist.zip)

[2019-10-03 07:38] brandonthomas commented on #9873
@khmakoto as part of this work can we look at ensuring we spread props or expose props for sub components so future improvements are carried over?

[2019-10-03 07:42] bhagwatshelke1047 opened #10703 "Tooltip is not available on sitemap button."
Environment Details:
Application Name: Virtual Agent Bot
Browser Version: Microsoft Edge 44.18362.267.0, Chrome Version 76.0.3809.100 (Official Build) (64-bit)
Windows Version: Windows10
Mas Violated: MAS1.1.1

Steps to Reproduce:
1.Open application Virtual agent bot
2. Home page should open for Virtual Agent Bots.​
3. Navigate to Hamburger Menu at the left side of the screen.​

Actual:
Tooltip is

[2019-10-03 08:37] Vividha-Khandelwal opened #10704 "A11y_CustomerServiceInsights_Share Workspace - Share_AI4W: MAS1.3.1: Certain ARIA roles must contain particular children (input)"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:
**Issue**
Certain ARIA roles must contain particular children (aria-required-children)

**Target application**
100x10K KPI summary - Customer Service Insights

**Element path**
input

**Snippet**
<input spellcheck="false" aria-label="Email list for sharing"

[2019-10-03 10:35] larnera commented on #10617
Thanks for fixing this guys.

[2019-10-03 13:49] MayuriNaik opened #10705 "A11y_CustomerServiceInsights_AddWorkspace_FindCaseRecords_keyboard: On focus the check boxes get selected by default on keyboard navigation."
**Environment Details:**
Windows Version: Windows10
Browser Versions:
Microsoft Edge 44.18963.1000.0
Chrome Version 76.0.3809.100
Screen Reader Version: NVDA 2019.2
MAS Violated: MAS 3.2.2

**Repro Steps**:
1. Home page should open for Customer Service Insights.
2. Navigate to Global Navigation Bar at the top of the screen and select "Workspaces Panel".
3. Hit on "+Workspace" link. Popup with "Con

[2019-10-03 15:13] JasonGore commented on #10701
#10696 was merged to fix similar Callout issues. Do you know if this is still an issue after the merge of #10696?

[2019-10-03 15:16] micahgodbolt commented on #10689
@jspurlin i'm good with this resolution. We can't move focus to the dropdown in this case (like we can the dropdown), so we are using aria-acivedescendant. It appears to me that narrator is not yet supporting this correctly (adding aria-acivedescendant does not announce the active position upon opening).

Do we know where to open narrator bugs? I can get this added or check if it's there.

[2019-10-03 16:21] khmakoto commented on #10699
@tomasro27 you're welcome!

[2019-10-03 16:23] khmakoto commented on #10677
@Anschur you're welcome!

[2019-10-03 16:25] khmakoto commented on #9873
Hi @brandonthomas, I think a critical part here, like you said, is how to expose the `TooltipHost` props to the end user, so it's definitely something that we are taking into consideration.

[2019-10-03 16:28] richardtagger commented on #10409
Thanks @natalieethell - for some reason I didn't get an email for you reply. Investigating the floating picker option now

[2019-10-03 16:35] dzearing commented on #10701
This is resolved. Please patch with 7.43.0.

[2019-10-03 16:40] dzearing commented on #10701
@whykushal93 is validating, once we get confirmation that the issue has been resolved, we'll close

[2019-10-03 17:13] dzearing commented on #10690
There is no action we can take here. This is how React synthetic events work. Working around it would break others who rely on React event timing.

Facebook devs have been thinking about the abstraction for some time:
https://github.com/facebook/react/issues/4751

Also specifically mentioned in the React Fire tracking issue:
https://github.com/facebook/react/issues/13525

We hit this as well in On

[2019-10-03 17:33] jspurlin commented on #10690
That's unfortunate, but understandable...

[2019-10-03 17:36] dzearing commented on #10690
Yeah, wish I had a better answer. One thought to consider/investigate is whether Preact could work. I have heard (but not validated) that Preact uses native eventing.

[2019-10-03 17:41] dzearing commented on #10690
https://codesandbox.io/s/preact-click-eventing-p3dv3

Yes, preact does native, so the click event for the button in this example happens the way you expect:

First the button onClick fires,
Then the wrapper div in the static html receives the event

(See console.)

[2019-10-03 17:52] dzearing commented on #10705
@MayuriNaik there are 2 issues here:

1. You're logging private product specific urls on a public github repo. Please don't do this.

2. You're logging application bugs that need to be investigated by the app developers who wrote the workflow. They need to fix these things, not the component library.

Could you please work with the app developers to have them investigate their accessibility concer

[2019-10-03 19:07] easy0924 commented on #10615
So you can just find this issue mentioned in the official UI Fabrics document examples:
https://developer.microsoft.com/en-us/fabric#/controls/web/peoplepicker

Issues occurs when you type a search term that returns no results, as following:
![image](https://user-images.githubusercontent.com/2107890/66156192-0b7cc880-e5d6-11e9-81a8-1e636cbb05de.png)

Note in the HTML, the aria-controls and aria-ow

[2019-10-03 20:25] joschect commented on #10615
@easy0924 Thanks for clarifying what you meant. I can see now that reproduces. We'll get this fixed.

[2019-10-03 22:02] 104error opened #10710 "subComponentStyles is not taken from IContextualMenuClassNames"
### Environment Information

- Package version(s):
    "office-ui-fabric-react": "^7.34.0",

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

subComponentStyles defined in IContextualMenuClassNames doesn't get propagated into the menu.
In the example set calloutMain to be red but still showing white.
CodePen: https://codepen.io/104error/pen/xxxKpvQ

#### Expected

[2019-10-03 22:17] khmakoto commented on #10704
Hi @Vividha-Khandelwal, this seems to be an application bug that should be investigated by app developers who wrote the workflow since it's not clear if its an issue with Fabric controls or with Customer Service Insights. Can you provide me a codepen or something where I can repro this bug to see if it's on Fabric's side and give me a little more information about it?

Thanks!

[2019-10-03 22:21] khmakoto commented on #10702
Hi @bhagwatshelke1047, I think what you're logging is an application bug that needs to be investigated by someone from the Customer Service Insights team since we it is not clear if this is indeed a Fabric bug. Please contact that team first and, if it is indeed a Fabric issue then we can start working on it. Thanks!

[2019-10-03 22:23] khmakoto commented on #10703
Hi @bhagwatshelke1047, I think what you're logging is an application bug that needs to be investigated by someone from the Name Virtual Agent Bot team since we it is not clear if this is indeed a Fabric bug. Please contact that team first and, if it is indeed a Fabric issue then we can start working on it. Thanks!

[2019-10-03 23:02] khmakoto commented on #10710
Hi @104error, `getMenuClassNames` has been deprecated and the preferred way to do styling now is to use the `styles` prop. I did that in a fork of your codepen above that you can find [here](https://codepen.io/khmakoto/pen/eYYOVvL). That being said, with that I found out that `subComponentStyles` were being applied to `menuItem` but not to `callout`. Upon further investigation I found out that the

[2019-10-03 23:15] 104error commented on #10710
Yeah I root caused to the same code, too but I didn't figure out a good fix for it :(.
Plus If I use mergeStyleSets on menuClassNames I have to do something like:
    return {
      ...mergeStyleSets({
        container: {},
        list: {},
        header: {},
        root: {},
        title: {}
      }),
      subComponentStyles: {
        menuItem: {},
        callout: {
          // calloutMa

[2019-10-03 23:30] khmakoto commented on #10700
Hi @lutorre, thanks for filing this issue! We'll take a look to see what the next steps are as soon as we can.

[2019-10-03 23:42] cliffkoh commented on #6326
Hi @Kumar2608  @TestAccessibilityGIT, all items above have been triaged or fixed. I am going to close this issue as more than 7 days have passed without a response. If there is still a concern, please kindly open a new issue.

[2019-10-03 23:42] #6326 closed

[2019-10-04 01:28] aboktor opened #10713 "Dropdown calls onChange before callout is dismissed"
### Environment Information

- **Package version(s)**: 7.43.0
- **Browser and OS versions**: Chrome 77.0.3865.90,  Windows 10

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/aboktor/pen/LYYPdwO
#### Actual behavior:
When a dropdown with no defaultSelectedKey is clicked, onChange is called with the first item in options BEFORE the callout is dismissed
#### Expected b

[2019-10-04 04:49] HarkeshS commented on #10614
@joschect--So what will be the next course of action for Chrome support?

[2019-10-04 06:50] bhagwatshelke1047 commented on #10702
+@Ge Wu<mailto:gew@microsoft.com>

Hi Ge,

Can you please look into this https://github.com/OfficeDev/office-ui-fabric-react/issues/10702 and provide the necessary details.

Regards,
Bhagwat Shelke
TCS - Microsoft Global Relationship | v-bhshel<mailto:v-bhshel>
C+AI Accessibility

[cid:image001.jpg@01D57AAD.3D4EC140]

From: msft-github-bot <notifications@github.com>
Sent: 04 October 2019 03:52
To:

[2019-10-04 06:51] khmakoto commented on #10713
Hi @aboktor, thanks for filing this issue! I've checked your codepen and I can confirm that the behavior you've described is the actual behavior exhibited. However, I wonder if this is really a bug or a decision by design. @joschect, any thoughts on this?

[2019-10-04 06:54] bhagwatshelke1047 commented on #10703
+@Ravi Kumar Kalivarapu (HCL America Inc)<mailto:v-kalra@microsoft.com>

Hi Ravi,

Can you please look into this  https://github.com/OfficeDev/office-ui-fabric-react/issues/10703 and provide the necessary details.

Regards,
Bhagwat Shelke
TCS - Microsoft Global Relationship | v-bhshel<mailto:v-bhshel>
C+AI Accessibility

[cid:image001.jpg@01D57AAE.676D6B60]

From: msft-github-bot <notifications@gi

[2019-10-04 07:19] MayuriNaik opened #10715 "A11y_VirtualAgentBots_Topics_EditConversationTopic_Keyboard: Static element such as text and disabled controls receive keyboard focus."
**Environment Details:**
Browser Version: Microsoft Edge 44.18362.267.0
Windows Version: Windows10
Screen reader: Narrator, NVDA (2019.2)
MAS Violated: MAS 2.1.1

**Steps to Reproduce:**
1. Home page should open for Virtual Agent Bots.
2. Navigate to Hamburger Menu at the left of the screen and select "Topics".
3. From the List of topics under "Topics" heading, select any topic by clicking its "Ed

[2019-10-04 07:56] khmakoto commented on #10715
Hi @MayuriNaik , I think what you're logging is an application bug that needs to be investigated by someone from the Virtual Agent Bots team since it is not clear if this is indeed a Fabric bug. Please contact that team first and, if it is indeed a Fabric issue then we can start working on it. Thanks!

[2019-10-04 15:31] aboktor commented on #10713
Another thing you can take a look at in the codepen, click the dropdown then select any item that's not the first. You'd get *two* onChange calls for what is essentially a single selection.

[2019-10-04 16:31] flavomulti opened #10717 "Selection.onSelectionChanged callback should take ISelection as an arg (related to #9882)"
The fix described in #9882 no longer seems to works so there is no way to get access to the selection object inside the onSelectionChanged constructor argument, which makes it much less useful.

I the fix does not work, can we just have the callback in the constructor take an ISelection parameter? I think that's the simplest approach here.

[code]
Without it, we are always pushing the Selection ob

[2019-10-04 17:01] khmakoto commented on #10713
@aboktor, thanks for that other scenario, we'll take it into account when making a decision.

[2019-10-04 17:02] #10710 closed

[2019-10-04 17:05] joschect commented on #10713
@aboktor I believe that you're right that this is by design. There has been [this longstanding issue](https://github.com/OfficeDev/office-ui-fabric-react/issues/5473) which details why we automatically select the first dropdown item, even when the user has not taken action to select one.

[2019-10-04 17:13] khmakoto commented on #10717
Hi @flavomulti, thanks for filing this issue! Can you elaborate on why the fix described in #9882 has stopped working? That could help further inform our decisions regarding this request. Thanks!

[2019-10-04 17:32] mirajp opened #10718 "ComboBox with multiple selected values are not read aloud"
### Environment Information

- **Package version(s)**: version 7 (latest at time of writing = 7.42.0)
- **Browser and OS versions**: Chrome 77.0.3865.90 and Edge 44.18362.329.0 (on Windows 10)

### Describe the issue:
Neither Narrator with Edge nor NVDA with Chrome reads the currently selected values of the ComboBox component.

### Please provide a reproduction of the issue in a codepen:
https://c

[2019-10-04 17:36] khmakoto commented on #10718
Hi @mirajp, thanks for filing this issue! I can confirm that I can repro this in your codepen above. I'll work on a fix as soon as I can. Thanks!

[2019-10-04 17:48] easy0924 commented on #10702
Hi, this is related to another bug here, and I've left a comment
https://github.com/OfficeDev/office-ui-fabric-react/issues/10615#issuecomment-538082998

So the issue is related is because when no result dropdown shows up, the aria-controls and aria-owns value and invalid, which causes screen reader to not associate the no result dropdown with the input, thus no announcement of the no result messa

[2019-10-04 17:49] bhagwatshelke1047 commented on #10702
Yeah, commented.

Thanks
Ge

From: Bhagwat Shelke (Tata Consultancy Services Ltd) <v-bhshel@microsoft.com>
Sent: Thursday, October 3, 2019 11:51 PM
To: OfficeDev/office-ui-fabric-react <reply@reply.github.com>; OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>; Ge Wu <gew@microsoft.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [OfficeDev/office-ui-fabric-rea

[2019-10-04 17:56] flavomulti commented on #10717
Hmm...this may be pilot error as it looks like the event publishing code is still there. I'm going to close for now.

[2019-10-04 17:57] #10717 closed

[2019-10-04 18:17] LiangMingChen commented on #10386
Sorry for been late, In general, it look like a lot of complexity come from LayoutMode=justified. (which is default)
That is if I change explicit force back to LayoutMode=fixedColumns, then a lot of strange behavior go away.   MHO, justified layoutMode seems to do it **always** which is most likely undesired unless in the initial load or right after one of the width adjustment.

[2019-10-04 18:22] easy0924 commented on #10704
You can reproduce the issue in example in UI Fabrics official documentation:
https://developer.microsoft.com/en-us/fabric#/controls/web/peoplepicker

If you run accessibility insights against the exmaple, it will tell you the required child is missing from the input

![image](https://user-images.githubusercontent.com/2107890/66230352-d8e7d400-e698-11e9-90c3-3158fe41c0ac.png)

![image](https://user

[2019-10-04 18:22] rutuja opened #10719 "Tag picker doesn't show suggestions callout after item is selected"
### Environment Information

- **Package version(s)**: "6.202.2"
- **Browser and OS versions**: All browsers

### Describe the issue:

On empty input, picker shows suggestion callout but after item is selected from suggestions, it doesn't render suggestion callout again.

#### Actual behavior:
On empty input, picker shows suggestion callout but after item is selected from suggestions, it doesn't r

[2019-10-04 19:00] #10578 closed

[2019-10-04 19:03] khmakoto commented on #10719
Hi @rutuja, thanks for filing this issue! Can you provide a codepen example where this happens? I've tried reproing the issue but I can't seem able to do it.

[2019-10-04 19:06] rkalivarapu commented on #10715
This is an issue with Office fabric disabled command bar buttons. Please find the attachment for the same issue where disabled buttons gets keyboard focus.
https://developer.microsoft.com/en-us/fabric#/controls/web/commandbar

![fabric_commandbar_disabled](https://user-images.githubusercontent.com/22643928/66233073-4991ef00-e69f-11e9-9f2f-dab82eb9b9df.gif)

[2019-10-04 19:07] rkalivarapu commented on #10715
This is an issue with Office fabric disabled command bar buttons. Please find the attachment for the same issue where disabled buttons gets keyboard focus.
https://developer.microsoft.com/en-us/fabric#/controls/web/commandbar

![fabric_commandbar_disabled](https://user-images.githubusercontent.com/22643928/66233073-4991ef00-e69f-11e9-9f2f-dab82eb9b9df.gif)

[2019-10-04 21:22] khmakoto commented on #10689
@micahgodbolt did you check for bugs on Narrator?

[2019-10-04 21:39] andrewhwng opened #10721 "Component positioning going off screen"
### Environment Information

- **Package version(s)**: 7.43.1

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/slimemold/pen/bGGGdzY

Examples of repro's in OWA:
![image](https://user-images.githubusercontent.com/47833548/66241693-7270af00-e6b4-11e9-9721-af065d6dd93e.png)
![image](https://user-images.githubusercontent.com/47833548/66241743-97652200-e6b4-11e9-868e-337

[2019-10-04 21:42] joschect commented on #10721
This is a bug caused by the recent change #10562 I am working on a fix.

[2019-10-04 22:07] ecraig12345 commented on #8463
Bug2 had 2 parts, neither of which really requires any action.
- "Forward navigation focus does not go to the selected colors quare panel, sliders, and the color picker" -- This is by design, since those elements aren't keyboard-accessible
- "In scan mode backward navigation focus is going on selected color panel but screen reader is providing details about table." -- I can't reproduce this. The o

[2019-10-04 23:00] #10214 closed

[2019-10-05 00:07] #7762 closed

[2019-10-05 00:19] rulyu opened #10724 "componentRef of IChoiceGroupOptionProps is not accessible in options of ChoiceGroup"
### Environment Information

- **Package version(s)**: 7.43.2
- **Browser and OS versions**: (fill this out if relevant)

### Describe the issue:

When using the `ChoiceGroup` control, the componentRef prop is not accessible in `options` because `options` is of type `IChoiceGroupOption[]` instead of `IChoiceGroupOptionProps[]`.

#### Actual behavior:

#### Expected behavior:

`componentRef` should

[2019-10-05 11:32] mahendrakulkarni177 opened #10727 "Group of button component"
#### Describe the feature that you would like added
group of button so user can toggle between then, like we have for option

#### What component or utility would this be added to

#### Have you discussed this feature with our team, and if so, who

#### Additional context/screenshots
![image](https://user-images.githubusercontent.com/16331616/66254285-e9c84080-e791-11e9-860f-9bb9ae7e0131.png)

[2019-10-05 18:18] dzearing commented on #10721
@joschect can we back out your fix until this is resolved? I hit this this week and was wondering what went wrong.

[2019-10-06 06:00] #10692 closed

[2019-10-06 17:12] nrandan opened #10729 "Modal Dialog open external url"
is there a way to open a webpage in  modal dialog

[2019-10-07 03:58] easy0924 commented on #10704
Bump. Not sure why it's marked as stale, as I've provided details.

[2019-10-07 09:18] Geeta-Capsitech commented on #6565
combobox is not able to  set value using onchange event

[2019-10-07 16:13] micahgodbolt commented on #10689
btw, went down the rabbit hole a bit and found an example linked to from w3c, and it seems we're consistent with their example:

http://oaa-accessibility.org/example/11/

going to file a bug

[2019-10-07 16:44] micahgodbolt commented on #10689
Bug filed with narrator, linked back to this issue.

[2019-10-07 16:53] khmakoto commented on #10689
@sergul let us know if there is anything else we can do for you here. Otherwise, since we've filed a bug with Narrator, feel free to close this issue or let the bot close it for you. Thanks!

[2019-10-07 16:59] khmakoto commented on #10704
@easy0924 I'll give this feedback to the team, seems like a bug with the bot.

[2019-10-07 17:00] #10457 closed

[2019-10-07 18:02] cliffkoh commented on #10704
@easy0924 the bot was expecting a reply from the issue author. Thanks for providing more context.

[2019-10-07 18:58] varunch7 commented on #10449
@aneeshack4 @micahgodbolt Is there any way we can change the tags in a way that the bot does not close this issue for being stale until @Jahnp gets to have a look at this?

[2019-10-07 19:08] aneeshack4 commented on #10449
@varunch7 Your comment removed the tag so it's no longer stale :) Pinging @Jahnp as a gentle reminder

[2019-10-07 20:41] #10679 closed

[2019-10-07 20:47] khmakoto commented on #10713
@aboktor are you fine tracking that other issue and closing this one? It seems that the conversation and context on this is there.

[2019-10-07 21:31] ecraig12345 commented on #10724
I'm curious, what are you trying to do where you need access to an instance of the `ChoiceGroupOption` class (which is what `componentRef` on an individual option would give you)? We don't typically make `componentRef`s available for individual items within a larger control.

[2019-10-07 21:40] ecraig12345 commented on #10729
You could put an HTML `iframe` element inside of a Fabric `Dialog` or `Modal`.

If you need more details about how to do this, please ask on [Stack Overflow with the `#office-ui-fabric` tag](https://stackoverflow.com/questions/tagged/office-ui-fabric). (Or if you're a Microsoft employee, you can join the Microsoft UI Fabric channel on Teams.) Issues are generally meant for bug reports and feature

[2019-10-07 22:02] ecraig12345 commented on #10727
There's already a request for this component open under #10275. It's probably not something we plan to build in the near future, but you can watch that issue for any updates.

In the meantime, you can do something similar using a ChoiceGroup with custom styling/rendering. Here's a starting point (thanks @micahgodbolt!).
https://codepen.io/ecraig12345/pen/BaaywqL?editors=0011

[2019-10-07 22:05] khmakoto commented on #10699
@aneeshack4 I wanted your input on this one, do you think we should change the `min-width` values? There is definitely something iffy going on here but wanted to know if you thought there is a specific way to go about it or if I should just come up with a solution and send a PR? Or if this is by design, in which case I think we should probably have a disclaimer about `min-widths` in our Overview (

[2019-10-07 22:12] brandonthomas opened #10731 "DetailsRowFields isn't exported at the package root"
I need to wrap DetailsRowFields and it's not exported by office-ui-fabric-react. I have to import from the path instead.

#### Actual behavior:
I can't do `import {DetailsRowFields} from 'office-ui-fabric-react';`

#### Expected behavior:
I can do `import {DetailsRowFields} from 'office-ui-fabric-react';`

### Priorities and help requested:

Are you willing to submit a PR to fix? Yes, at some poin

[2019-10-07 22:54] khmakoto commented on #10686
Hi @Toonshorty, if you pass the `styles` prop and specify `display: block` to the `root`, this should get passed down to the `img` tag below. You can check this out in [this codesandbox](https://codesandbox.io/s/icon-svg-with-imageprops-issue-10686-iwwo6).

Let me know if this fixes your issue or if there's anything else I can do for you!

[2019-10-07 23:05] #10721 closed

[2019-10-07 23:06] isabelacmor opened #10732 "TooltipOverflowMode doesn't seem to have any effect"
### Environment Information

- **Package version(s)**: ^7.29.0
- **Browser and OS versions**: any

#### Actual behavior:
`TooltipOverflowMode.Parent` and `TooltipOverflowMode.Self` don't seem to do anything.
[This is CodePen example](https://codepen.io/isabelacmor/pen/QWWwOqx?editors=0010), the the `p` with ellipsis should show the tooltip on hover and the other `p` should not show a tooltip. As y

[2019-10-07 23:15] khmakoto commented on #10662
I had an offline conversation with @joschect and we decided that we're putting this feature in the backlog for now while we work on more pressing issues.

[2019-10-07 23:17] khmakoto commented on #10681
I had an offline conversation with @joschect and we decided that we're putting this feature in the backlog for now while we work on more pressing issues.

[2019-10-07 23:34] khmakoto commented on #10694
I had an offline conversation with @joschect and we decided that we're putting this feature in the backlog for now while we work on more pressing issues.

[2019-10-07 23:50] khmakoto commented on #10718
Hi @mirajp, I talked with @joschect about this behavior and we've decided to track it as part of the `ComboBox` and `Dropdown` refactor we've been thinking about. I've already made an entry there for this issue.

[2019-10-08 00:38] cliffkoh commented on #10713
@khmakoto @joschect the longstanding issue is with regards to the first option being selected when focused, but I think it is a separate issue from what is being reported here. I think the ask that we don't trigger onChange event until a blur event when the Dropdown is expanded is reasonable, and can be made in isolation.

[2019-10-08 00:47] danmarshall commented on #10701
Hello, I also get a crash for my scenario with a DropDown that I try to call `.focus()` upon after it is mounted.

[code]

I am getting this error in 6.205.0, it works in 6.204.4

[2019-10-08 01:00] #9885 closed

[2019-10-08 01:04] #10693 closed

[2019-10-08 01:34] dzearing commented on #10701
@danmarshall not reproing;

https://codesandbox.io/s/dropdown-focus-vvvro

[2019-10-08 01:43] danmarshall commented on #10701
Thanks @dzearing - I will try to create a minimal repro. Until then, can you visit https://danmarshall.github.io/SandDance/app/ and click on "Latitude"

![image](https://user-images.githubusercontent.com/11507384/66361086-495d5200-e932-11e9-8d71-e789ae3435ed.png)

[2019-10-08 01:56] danmarshall commented on #10701
For comparison, on our production app https://sanddance.js.org/app/ I am using 6.204.4, getting desired behavior:
![image](https://user-images.githubusercontent.com/11507384/66361572-22a01b00-e934-11e9-844c-20e096194394.png)

[2019-10-08 02:26] danmarshall commented on #10701
Ok, I have the minimal repro:
https://codesandbox.io/embed/dropdown-focus-zgujc
Thanks,
Dan

[2019-10-08 03:35] dzearing commented on #10701
Awesome, thank you @danmarshall ! I found it.

Dropdown uses the withResponsiveMode decorator. The decorator wants to hold up rendering content until it knows how big things are. This delay is causing the parent to be mounted, and then the child to be mounted.

I'll figure out a better solution.

[2019-10-08 03:56] ecraig12345 commented on #10138
I finally looked into this and there are a couple possible ways to fix it, but neither is great.

When generating the menu items, for "non-actionable" ones, we can do one of the following:

1. Set `disabled` on the menu item, then set the text color back to `bodyText` instead of `disabledBodyText` using `itemProps.styles`
  - Advantages:
    - item is not clickable by mouse or keyboard
    - fewer

[2019-10-08 04:51] dzearing commented on #10701
Alright, PR out plus test, and will get that merged into 6.0 immediately after. Sorry for the trouble.

[2019-10-08 04:52] danmarshall commented on #10701
Hey, no trouble, you guys rock!

[2019-10-08 04:54] dzearing commented on #10701
@danmarshall your site is awesome, btw!

[2019-10-08 04:56] danmarshall commented on #10701
The office-ui-fabric-react makes it shine!

[2019-10-08 09:27] gsbelarus opened #10737 "CommandBar button doesn't work in overflow mode"
office-ui-fabric-react@7.45.0 on Firefox 69.0.2

CommandBar button works when CommandBar is not shrunk:

![image](https://user-images.githubusercontent.com/5175764/66383560-ea491d00-e9c5-11e9-82ed-3e600647cb7f.png)

But doesn't work when CommandBar in overflow mode:

![image](https://user-images.githubusercontent.com/5175764/66383636-0f3d9000-e9c6-11e9-997b-6ce9e08c3bff.png)

I have a custom rende

[2019-10-08 09:42] shiliangdn commented on #10454
Any update on this?

[2019-10-08 12:43] nrandan commented on #10729
yes.. I tried that before but in Iframe it throws a cross domain error

[2019-10-08 13:18] KeiraYang opened #10738 "'Esc' keyboard event propagation doesn't get prevented in combobox when using knockout"
### Environment Information

- **Package version(s)**: the latest verion of 6
- **Browser and OS versions**: Chrome, windows10

### Describe the issue:

Hi,

I had an issue that in a repro which using the knockout. We have an panel, inside it there is a combobox. When open panel -> navigate to combobox -> use keyboard to open the list -> press 'Esc" keyboard. Both the combobox and panel will get c

[2019-10-08 15:47] joshmccall221 opened #10739 "WCAG 4.1.2,WCAG 1.3.1: ARIA hidden element must not contain focusable elements (#flightTools)"
#### Issue
`ARIA hidden element must not contain focusable elements` ([aria-hidden-focus](https://dequeuniversity.com/rules/axe/3.3/aria-hidden-focus?application=msftAI))
#### Target application
[Home - Office UI Fabric](https://developer.microsoft.com/en-us/fabric#/controls/web/button)
#### Element path
#flightTools
#### Snippet
`<div id="flightTools" class="onedash-flightpicker" aria-hidden="tru

[2019-10-08 16:15] micahgodbolt opened #10740 "Panel: Use semantic colors"
Panel is not using any semantic colors. There are 7 palette colors that need to be converted to semantic.

[2019-10-08 17:01] cliffkoh commented on #10739
Hi @joshmccall221, when using accessibility insights, please test using https://aka.ms/fabricdemo which does not include content from the "host" page.

@Jahnp Is this something we should escalate to the right team?

[2019-10-08 17:39] martellaj commented on #10348
@natalieethell Any update?

[2019-10-08 17:43] martellaj opened #10742 "Announced component's aria-live attribute should default to "polite""
**Reference:** https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Live_Regions

When an aria-live region is set to "assertive", any message added to it will interrupt the user's context and read whatever is set. This is typically reserved for urgent messages, not something like "email deleted" as described in the Announced documentation.

Instead of defaulting to a very heavy-han

[2019-10-08 17:43] martellaj commented on #10742
@philipzloh FYI

[2019-10-08 18:51] ecraig12345 commented on #10742
@natalieethell Since you worked on Announced, can you provide any background on why it uses `assertive` not `polite`?

[2019-10-08 18:52] ecraig12345 commented on #10742
Also @martellaj could you provide more details on the scenario where this is causing problems for you?

[2019-10-08 19:02] ecraig12345 commented on #10738
Without a repro, it's really not possible for me to help figure out what's going on. Just to confirm, is your actual code using the Fabric React Panel, or some other panel component? And if you're using the Fabric Panel, have you verified that you're passing in the same panel props in the codepen as you're using in your actual code?

If you're using the Fabric Panel, and the issue doesn't repro in

[2019-10-08 19:05] ecraig12345 commented on #10729
That sounds like a more general issue with iframes, not an issue specific to Fabric. In that case your best bet would be to search online for workarounds to the issue, or ask on stack overflow if you can't find any existing solutions that seem relevant.

[2019-10-08 19:12] philipzloh commented on #10742
It's wrong by spec, isn't it?

[2019-10-08 19:15] philipzloh opened #10743 "Announced component should be a <span> not a <div>"
#### Actual behavior:

`Announced` component returns `<div>` but has nothing inside that requires it to be a block element, this causing a lot of nesting issues when teams use `Announced` inside `<span>` and similar inline elements.

#### Expected behavior:

Announced component returns `<span>`

### Priorities and help requested:

Are you willing to submit a PR to fix? No (I could and would but my

[2019-10-08 19:54] HarryGifford opened #10744 "Tag Picker items overflow input field"
Tag pickers with long names overflow the input field.

### Environment Information

- **Package version(s)**: office-ui-fabric-react 7.45.1
- **Browser and OS versions**:
Version 77.0.3865.90 (Official Build) (64-bit)

### Please provide a reproduction of the bug in a codepen:

Codepen to repro the issue: https://codepen.io/hegi/pen/bGGddYE

#### Actual behavior:

What it looks like:
![image](http

[2019-10-08 20:24] HarryGifford opened #10745 "Tag Picker overflows container by default"
Tag picker overflows it's parent div by default.

### Environment Information

- **Package version(s)**: office-ui-fabric-react 7.45.1
- **Browser and OS versions**:
Version 77.0.3865.90 (Official Build) (64-bit)

### Please provide a reproduction of the bug in a codepen:

Same as from #10744. Codepen to repro the issue: https://codepen.io/hegi/pen/bGGddYE

#### Actual behavior:

What it looks lik

[2019-10-08 20:31] HarryGifford opened #10746 "Tag Picker doesn't respect theme"
When switching to a dark theme, you can see that some of the colors in the Tag Picker don't match the generated theme. The input field's text color is black, even though the background color is also black.

Aside: The incorrect font (Times New Roman) in the picker items may also be part of a similar issue, although that only repros in Storybooks or in Codepen.

### Environment Information

- **Pac

[2019-10-08 20:56] khmakoto commented on #10700
Hi @lutorre, I just checked the codepen you provided (thank you for that!) with Edge and Narrator and I can't seem to repro the bug you're having with VoiceOver on the Mac. Since our screen reader support is limited to Edge + Narrator and it seems that we're using the correct aria values here my recommendation would be to provide feedback to VoiceOver.

Let me know if there is anything else I can

[2019-10-08 21:13] whykushal93 commented on #10701
@dzearing we see a similar issue for the `Dialog` componnent. The Dialog Inside componentDidMount tries to focus an inner element. But, it does not seem to work because of the recent change to withResponsiveMode decorator.

Do you think the PR have open will also fix that issue ?

cc: @jspurlin

[2019-10-08 21:20] khmakoto commented on #10682
Hi @lutorre, I've made [this codepen](https://codepen.io/khmakoto/pen/qBBdbKj?editors=0010) following the instructions you posted above and checked what the behavior is with Edge and Narrator. After trying this, I can't seem to repro the bug you're having with VoiceOver on the Mac. Can you take a look at the codepen, check if it correctly reproes your scenario for you and if that's not the case, t

[2019-10-08 21:39] xugao opened #10747 "Clicking Dropdown with openOnKeyboardFocus true opens then immediately closes"
### Environment Information

- **Package version(s)**: 7.43.0
- **Browser and OS versions**: Chrome 77.0.3865.90,  Windows 10

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

Clicking Dropdown with openOnKeyboardFocus true opens then immediately closes the dropdown

#### Expected behavior:

Clicking Dropdown with openOnKeyboardFocus true opens the dropdown

### P

[2019-10-08 21:55] aneeshack4 commented on #10699
@khmakoto It looks like `min-width` is set for parts of SpinButton like `input`, `root`, and the `wrapper` but not the rest so perhaps that's why. Might have to play around with the values and add it to the remaining parts of the component - I think the different parts might need values calculated relative to each other.

[2019-10-08 22:03] ecraig12345 commented on #10742
No, I'm pretty sure Announced is intended for urgent announcements. Since Natalie wrote it, she'd know more background of the design. The component was written recently and I'm sure this was something they considered carefully when writing it.

[2019-10-08 22:20] ecraig12345 commented on #10742
It's also pretty easy to customize the `aria-live` setting if you'd like it to be `polite` instead of `assertive`:
[code]

[2019-10-08 22:21] jlukosky opened #10750 "Breadcrumbs as headings example: illogical headings"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:

In the [Breadcrumbs as headings](https://developer.microsoft.com/en-us/fabric/#/controls/web/breadcrumb) example the order of the headings goes from `h4` to `h3` to `h2`:

- `h4`: Files
- `h3`: This is folder 1
- `h2`: This is folder 2

This is not a logic

[2019-10-08 22:24] ecraig12345 commented on #10743
Since the component has already been released, it's probably best to leave it as a div by default to avoid messing up people's existing layouts.

However, I could add support for setting root-level styles on Announced so you can override the display setting (right now it doesn't support setting root-level styles, aside from via a className). It would look like this:
[code]

[2019-10-08 22:47] natalieethell commented on #10742
Hey! Just discussed this with @ecraig12345 @betrue-final-final and @cschlechty offline, and we agree -  setting the default to "polite" makes sense. I'll open a PR with that change.

[2019-10-08 23:00] #10686 closed

[2019-10-08 23:06] #10612 closed

[2019-10-09 00:08] aneeshack4 commented on #10451
@alex3683 I'm not familiar with the OWA implementation but it sounds like you're on the right track. @joschect might have more to say on this. The fabric implementation not having the drag and drop baked in is by design though so I'm going to close this for now. If you have further questions please feel free to ping us again.

[2019-10-09 00:09] ecraig12345 commented on #10098
Moving conversation back to this issue--as I said in a PR comment yesterday (https://github.com/OfficeDev/office-ui-fabric-react/pull/10113#issuecomment-539288951), it turns out this change prevents "clicking" `href`-less breadcrumb items with the keyboard by pressing enter, which is a major accessibility issue.

Even aside from the accessibility issue, I'm not convinced that a breadcrumb item oug

[2019-10-09 00:16] aneeshack4 commented on #10493
@tipantaz So it's working properly with the `!important` tag? And if not, have you tried what I suggested before with providing your own high contrast selector in the styling for the `Link` component?

[2019-10-09 00:24] lorejoh12 commented on #10456
Looks like this is a long-standing issue that @micahgodbolt suggested (way back in Dec of last year) that we move to in order to be consistent with the default HTML attributes rather than our custom isRequired. https://github.com/OfficeDev/office-ui-fabric-react/issues/6636. One additional point has been brought up since then about using a wrapping Validating component and removing the prop entire

[2019-10-09 00:39] dliu120 opened #10753 "Dropdown: Using onRenderContainer only closes the container when clicking the dropdown parent."
### Environment Information

- **Package version(s)**: 7.x
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/dliu120/pen/wvvavJe?editors=1010

#### Actual behavior:

There appears to be no way to close the custom container without clicking on the dropdown again.

#### Expected behavior:

There should be some A

[2019-10-09 02:27] LiangMingChen opened #10754 "Spinner's DelayRender should allow user to set the delay."
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

Spinner apparently have a &lt;DelayRender&gt;
But it doesn't pass in any delay, which by default delay is 0 (setTimeout at 0) which render it pretty useless
https://github.com/OfficeDev/

[2019-10-09 02:33] LiangMingChen commented on #10754
Well look like I misunstand the code.  Let me close this first.

[2019-10-09 02:33] #10754 closed

[2019-10-09 02:50] #10742 closed

[2019-10-09 05:23] cliffkoh commented on #5473
Since it looks like the rewrite will not take place in Fabric v7 lifecycle, we have taken a stab at providing minimally a partial fix for this problem with #10755. Now, the Dropdown will only select the first option (and trigger onChange) ONLY if focus was landed on the Dropdown through keyboard events (e.g. tab navigation) to continue to confirm to W3C aria specs for `listbox`.

For a sighted use

[2019-10-09 06:05] kldev commented on #10175
Sample code:
`
class XXX extends React.Component<Props> {
    private _picker = React.createRef<IBasePicker<IPersonaProps>>();

    removeFromCode = () => {
     le
t newSelectedItems = [...this._picker.current.items];
   // logic of delete
    // newSelectedItems.filter() some filter function
    this.setState({selectedItems: newSelectedItems })
    }
  }

     <NormalPeoplePicker
          compo

[2019-10-09 09:04] cph11 opened #10756 "Checkbox label doesn't show when printing in IE 11"
### Environment Information

- **Package version(s)**:
"office-ui-fabric-core": "9.6.1-fluent2"
"office-ui-fabric-react": "6.189.2"
- **Browser and OS versions**: IE 11  Windows 10

### Please provide a reproduction of the bug in a codepen:
Unable to reproduce in codepen as IE not supported.

Issue can be replicated by printing the documentation page in IE 11.

https://developer.microsoft.com/en-u

[2019-10-09 09:07] mYokha commented on #10456
@lorejoh12, there are components with `isRequired`, `onChanged` or `isDisabled` marked as obsolete in documentation.
I'm not pushing for implementing it rn though as a user I _expect_ for consistency of props around the components.

[2019-10-09 09:36] HarkeshS opened #10757 "No way to focus "Load All" option in the Picker control when suggestions are available"
### Environment Information

OS : Windows 10
Browser: Edge
business-app/fabric: 3.9.1
### Describe the issue:

Focus is not coming on "Load All" option in the Picker control when tab is pressed.

### Please provide a reproduction of the issue in a codepen:
https://codepen.io/poonam0025/pen/ZEEEZmL

![PickerControl](https://user-images.githubusercontent.com/53938674/66469907-5d29c500-eaa6-11e9-8551

[2019-10-09 10:02] 999-Dev opened #10758 "ChoiceGroup: In scan mode, Narrator reads label and selected option in wrong order"
Track the Bug Details on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B5afd015d-fc38-4e4b-ae9b-a0ad778c0ea7%7D&action=default&uid=%7B5AFD015D-FC38-4E4B-AE9B-A0AD778C0EA7%7D&ListItemId=1850&ListId=%7B395E1ECB-5002-440E-81C5-6A090E98077C%7D&odsp=1&env=prodbubble&cid=5bae63ae-f014-462e-a679-e706631598a6)

Bug18: [Usable : Pane

[2019-10-09 10:25] ashitvora opened #10759 "Changing the defaultValue does not update the value that is displayed in the Textbox"
### Environment Information

- **Package version(s)**: 7.25.0
- **Browser and OS versions**: Windows 7 & Chrome Latest

### Please provide a reproduction of the bug in a codepen:

Codepen: https://codepen.io/ashitvora/pen/KKKpXea?editors=1111

#### Actual behavior:

Default Value gets updated only once.

#### Expected behavior:

Should have updated whenever the state variable value changes

[2019-10-09 10:49] InduPriya1805 opened #10760 "A11y_Logic Apps VS extension - Stay Healthy_Action-Condition_Keyboard: Focus is not visible on "is equal to" dropdown"
**Environmental Details:**
Microsoft Visual Studio Enterprise 2019 Preview
Version 16.2.0 Preview 4.0
Microsoft Windows Version 1903 (OS Build 18362.113)

**Repro Steps:**
1)Open Visual Studio 2019 preview latest version
2)Create a new project under Azure Resource group​
3)Select azure template as 'Logic App' and create solution​
4)Tab till Extensions->Manage extensions->Online and search for logi

[2019-10-09 11:21] mattcoxonline commented on #9961
Priority was changed from P1 (highest) to P3 (lowest) because it's such an edge case - breaking when having a particular extension installed when selecting a specific option. For most people, this will never be a scenario.

That said, I talked over the changes that should be made with @Markionium and he's going to re-work the persona control a little to fix these issues.

No design assets needed f

[2019-10-09 12:07] 999-Dev opened #10762 "Panel A11y Pass: By default 'Option B' radio button is selected after activating the 'Open Panel' button"
Track the Bug Details on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B5afd015d-fc38-4e4b-ae9b-a0ad778c0ea7%7D&action=default&uid=%7B5AFD015D-FC38-4E4B-AE9B-A0AD778C0EA7%7D&ListItemId=1850&ListId=%7B395E1ECB-5002-440E-81C5-6A090E98077C%7D&odsp=1&env=prodbubble&cid=5bae63ae-f014-462e-a679-e706631598a6)

Bug19: [Functional: P

[2019-10-09 13:28] martellaj commented on #10742
Thanks for the quick fix!

[2019-10-09 14:45] tipantaz commented on #10493
Hi again @aneeshack4 and thanks for the feedback.
No it is not working with the !important tag in high contrast because the color is not changing, it stays white.
I think that me having to use !important in the style is a bug itself, what do you think? Is there any better option? If we solve this then we solve the a11y bug as well.

I included everything I could think of in the codepen above.

I w

[2019-10-09 16:20] jlukosky opened #10764 "Slider control is not usable in Firefox with Windows High Contrast Mode"
### Environment Information

- **Browser and OS versions**: Firefox and Windows 10

### Describe the issue:

When using Windows High Contrast Mode and Firefox, the basic pieces of the slider controls do not appear. This renders the control unusable.

### Please provide a reproduction of the issue in a codepen:

The issue is apparent by going to the [Fabric Slider control page](https://developer.mi

[2019-10-09 17:33] khmakoto commented on #10680
Hi @lutorre, I've made [this codepen](https://codepen.io/khmakoto/pen/BaaNqqN?editors=0010) following the instructions you posted above and checked what the behavior is with Edge and Narrator. After trying this, I can't seem to repro the bug you're having with VoiceOver on Android. Can you take a look at the codepen, check if it correctly reproes your scenario for you and if that's not the case, t

[2019-10-09 18:00] #10385 closed

[2019-10-09 19:57] HarryGifford commented on #9008
@jdhuntington Not sure if it's relevant, but Azure DevOps have a picker that allow you to add arbitrary tags. It looks like they have implemented their own control for it though:
![image](https://user-images.githubusercontent.com/21968002/66515562-2ea2ee80-ea94-11e9-84b7-2efb3b8010af.png)

You can see it if you create a bug or pull request.

[2019-10-09 20:00] #10729 closed

[2019-10-09 20:25] #10747 closed

[2019-10-09 20:39] khmakoto commented on #10702
Hi @bhagwatshelke1047 @easy0924 I've confirmed the issue reproduces in our website. I'll have a fix shortly.

[2019-10-09 20:49] aneeshack4 commented on #10523
@swese44 Haven't heard back from you in a while so I'm assuming you've got the information you need so I'll go ahead and close this but if you have any more follow ups please ping us.

[2019-10-09 20:49] #10523 closed

[2019-10-09 20:50] aneeshack4 commented on #10492
@harshvardhan3946 Have you tried what @atneik suggested?

[2019-10-09 20:53] aneeshack4 commented on #10493
I don't think there's anything wrong with the usage of `!important` but I personally haven't used it with the Fabric `Link` component so perhaps owner @khmakoto may have come across this more? The better option is what I suggested - the high contrast selectors; that is typically how a11y styling is addressed. Please try that.

[2019-10-09 20:55] khmakoto commented on #10702
I spoke offline with @joschect who's working on the fix for #10615. Since it seems like the fix will solve both problems he'll link this issue as well to that PR.

[2019-10-09 21:23] shachau opened #10766 "Details List need to accept some rowCount props that can update for async data fetch instead of mandatory items props"
#### Describe the feature that you would like added

I am developing a feature where I will get the data async and the data is more than a million line of string. Also, i will be fetching only required lines of data on scroll instead of caching million lines of string in javascript.

Problem:
Currently the DetailsList component accept a mandatory prop named items. I have to atleast create an array

[2019-10-09 21:28] khmakoto commented on #10493
@tipantaz I think @aneeshack4 is right here. From my understanding this is how styling is applied when dealing with High Contrast Mode:

1. The default style of the tag you're using is applied.
2. The high contrast style of the tag you're using is applied.
3. The user defined styles you specify are applied.

What this means in this case is that, because you're specifying the style of the link as `

[2019-10-09 21:39] khmakoto commented on #10493
Upon further review, I do think that there might indeed be a CSS specificity problem here. The main issue is that the `MessageBar` has this styling defined in lines `134-143`:

[code]

Which is of a greater specificity than the styling applied directly over `Link` (two classes vs one). @aneeshack4 I don't know how to cleanly fix this but we can bounce off ideas to come up with a good solution.

[2019-10-09 21:44] joshmccall221 commented on #10739
@cliffkoh same, if not more errors on fabric demo site.

But the host site does not matter since the issue is on the  office-ui-fabric-react controls.

https://developer.microsoft.com/en-us/fabric#/controls/web/button

![image](https://user-images.githubusercontent.com/7776611/66522059-649a9f80-eaa1-11e9-98a5-168d91f4147d.png)

https://fabricweb.z5.web.core.windows.net/oufr/7.46.0/#/examples/butto

[2019-10-09 21:56] mattmazzola opened #10768 "SpinButton doesn't pass through other HTML attributes such as `data-testid`."
### Environment Information

- **Package version(s)**: 7.15.0
- **Browser and OS versions**: Chrome Version 77.0.3865.90 (Official Build) (64-bit)

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/spin-button-no-data-testid-attribute-31tzw

#### Actual behavior:

Other components forward the attribute on to their surrounding DOM element to make it reliably acces

[2019-10-09 22:00] #10700 closed

[2019-10-09 22:11] step-lee commented on #10694
@khmakoto I'm more than happy to start a PR to drive this new feature to take some burden off the fabric dev team. Are there any concern or "got you" I should talk to the team before coding?

[2019-10-09 22:15] khmakoto commented on #10694
Well, the biggest thing is that there was a refactor planned for the `ComboBox`/`Dropdown` components so we need to marry how this fits into that work and if it's even worth doing the work now. You should probably speak with @joschect about this since he is the owner of this component.

[2019-10-09 22:15] ecraig12345 commented on #10739
The specific `#flightTools` element is added by the developer.microsoft.com host site, not anything controlled by our code. We could potentially add code to hide it completely (since I'm pretty sure it serves no purpose for our particular website).

If Accessibility Insights is reporting issues with other Fabric controls, please file a separate GitHub issue about that.

[2019-10-09 22:16] ecraig12345 commented on #10739
The specific `#flightTools` element is added by the developer.microsoft.com host site, not anything controlled by our code. We could potentially add code to hide it completely (since I'm pretty sure it serves no purpose for our particular website), but entirely removing it or implementing a proper fix would have to be done by the developer.microsoft.com team, not us.

If Accessibility Insights is

[2019-10-09 22:19] ecraig12345 commented on #10739
Also, the `#flightTools` element is only shown to Microsoft internal users, not external users. So the impact is limited.

[2019-10-09 22:39] ecraig12345 commented on #10758
Hi, in the future when filing these bugs, can you please give each one a descriptive title? For example **Panel A11y Pass: Narrator announces extra information when focus moves to the 'Pick One' text**. This will make it easier for us to distinguish and triage the bugs.

[2019-10-09 22:40] ecraig12345 commented on #10758
It would also be more helpful to have the complete details included in the issue, rather than in an internal-only spreadsheet.

[2019-10-09 22:48] ecraig12345 commented on #10762
This is a very minor issue which is tangential to the point of the example (the example is about displaying a panel, not persisting selected choices within the panel). So I'm closing this as "won't fix."

[2019-10-09 22:48] #10762 closed

[2019-10-09 22:54] dbjorge commented on #865
I just came across [this blog post](https://medium.com/@sheribyrnehaber/designing-toast-messages-for-accessibility-fb610ac364be) on accessibility considerations for toast notifications; I am not familiar with the author, but I thought it was well-written and comprehensive. Good reference as you're considering the design of this component :)

[2019-10-09 23:09] ecraig12345 commented on #10750
@maxwellred Since you added that example, could you provide more background on why you did it that way? I'm also curious what the actual scenario was that motivated adding support for heading breadcrumbs (and whether we could make the example more like the real scenario).

[2019-10-09 23:14] khmakoto commented on #10715
@MayuriNaik @rkalivarapu I've verified that this reproduces in the `CommandBar` on our website. However, I think this is by design because our we allow for focus on disabled elements on purpose.

If you don't want this behavior though, there is an option for you to disallow this focus. This is done by passing `allowDisabledFocus: false` as a prop in the `CommandBarItems`. I've exemplified this in

[2019-10-09 23:14] ecraig12345 commented on #10731
In general `DetailsRowFields` seems like it ought to be an internal component, but since `DetailsRow` has a `rowFieldsAs` prop (defaulting to `DetailsRowFields`), I can see the justification for exporting it to wrap in a custom component.

@brandonthomas If you have a chance to make a PR for this that would be great; otherwise I'll get to it at some point.

[2019-10-09 23:24] joschect commented on #10694
@step-lee This should all be styling and there shouldn't be any big concerns, especially since it will be an opt-in. Only challenge that I can really is that then combobox will be the odd one out. We might want to make another issue to style it similarly to keep it consistent.

[2019-10-09 23:25] ecraig12345 commented on #10739
I made a PR to hide the element (since we don't use it) and have also contacted the owning team to get the issue fixed properly.

[2019-10-09 23:25] #5473 closed

[2019-10-09 23:25] #10713 closed

[2019-10-09 23:34] KevinTCoughlin commented on #10731
https://github.com/OfficeDev/office-ui-fabric-react/pull/10772

[2019-10-09 23:40] ecraig12345 commented on #10756
Interesting... Does this happen in your site/app as well, or just on the website? I can also repro the issue on the website, but not in a codepen (if you sign in and save a pen, codepen offers a "debug view" option which works in IE 11).

Codepen debug view: https://cdpn.io/ecraig12345/debug/YzzXbVJ/LQkExyVvxmqA
(if this expires, fork the original codepen https://codepen.io/ecraig12345/pen/YzzXbVJ

[2019-10-09 23:49] joschect commented on #10694
Also @step-lee thanks for offering to put the fix in!

[2019-10-09 23:55] ecraig12345 commented on #10731
Thanks Kevin!

[2019-10-10 03:39] dzearing commented on #10701
This is now fixed in v7.47.0. @danmarshall @whykushal93 @lorejoh12 just a heads up here, this is published now, and I've cherrypicked into v6 as well which is in the queue publishing.

[2019-10-10 07:12] clmreimann opened #10774 "CommandBar item with buttonStyles applied loses some of the styling"
### Environment Information

- **Package version(s)**: office-ui-fabric-react 7.47.0
- **Browser and OS versions**: Chrome 77.0.3865.90, Windows 10 Pro

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/creimann/pen/VwwLgRR

#### Actual behavior:

When the background color of a CommandBar item with iconOnly set to true is changed then the icon is aligned top and not ve

[2019-10-10 07:34] #10731 closed

[2019-10-10 08:08] regisgaschy opened #10775 "Ctrl-Alt-Space shortcut does not open contextual menu in a draggable Modal when focus is on a ComboBox"
### Environment Information

- **Package version(s)**: office-ui-fabric-react v7.47.0
- **Browser and OS versions**: Chrome Version 77.0.3865.90 (Official Build) (64-bit) / Windows 7 Pro SP1

### Please provide a reproduction of the bug in a codepen:

See https://codepen.io/regisgaschy/pen/QWWjwQY where the bug can be reproduced.

#### Actual behavior:

When hitting Ctrl-Alt-Space while focus is o

[2019-10-10 09:29] Zhephyr54 opened #10776 "Callout: Incorrect position when target is off-screen (doNotLayer)"
### Environment Information

- **Package version(s)**: 7.39.1
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/Zhephyr54/pen/ZEEbGWO
(Scroll down to the "Show callout" button)

#### Actual behavior:

Using a Callout with doNotLayer, preventDismissOnScroll and preventDismissOnLostFocus (for a fully controlled

[2019-10-10 09:29] 999-Dev opened #10777 "Panel: Screen reader does not convey any information after activating 'Save' button under 'Panel - Small, right-aligned, fixed, with footer' pane."
[Accessibility][Screen Reader : Panel Control] : Screen reader does not convey any information after activating the 'Save' button.

**User Impact:**
Screen reader users will be impacted if screen reader will not inform to users that task has been completed or not after activating the 'Save'  button.

**Usage:**
1.Panel - Small Panel, Anchored Right, Fixed Width
2.Panel - Footer

**Test Environment

[2019-10-10 10:00] 999-Dev opened #10778 "Button A11y: text is not visible in High Contrast Black Mode while navigating using Tab key"
[Accessibility][Supporting the Platform : Panel Controls ] : Name of the control is not visible in High Contrast Black Mode while navigating by using Tab key.

**User Impact:**
All users will be impacted if in high contrast black mode  control name is not visible when focus lands on control.

**Usage:**
All Usage.

**Test Environment:**
OS: Version: RS5_Prerelease(1903 OS Build 18999.1)
URL: https

[2019-10-10 10:01] rhalaly opened #10779 "NormalPeoplePicker list close when other element changes its scroll"
### Environment Information

- **Package version(s)**:7.47.0
- **Browser and OS versions**: Chrome, Edge, Edge Beta, Windows 10

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/hraz/pen/BaaoNGy?editors=0010

Start filling the NormalPeoplePicker (for example, type `a` inside)

#### Actual behavior:

When the `div` below changes its scroll position, the people picker s

[2019-10-10 10:13] dhiv-nitt commented on #10633
Do we have a fix for this yet ?

[2019-10-10 10:20] 999-Dev opened #10780 "Website: Example card titles and controls don't handle 400% zoom"
Accessibility][Reflow : Panel Control] : After resize the browse up to 400%, Text and Controls are not visible.

**User Impact:**
Users who relay on AT will face difficulty if controls and text are not visible after resize the web up to 400%.

**Usage:**
All

**Test Environment:**
OS: Version: RS5_Prerelease(1903 OS Build 18999.1)
URL: https://developer.microsoft.com/en-us/fabric#/controls/web/pan

[2019-10-10 10:42] 999-Dev opened #10781 "Panel: "Controlled visibility" example close button doesn't work"
[Functional : Panel Control] : No action is getting preformed after activating the 'Close' button either by using keyboard or by mouse.

**User Experience:**
All user will face difficulty if controls will not work as per expected.

**Test Environment:**
OS: Version: RS5_Prerelease(1903 OS Build 18999.1)
URL: https://developer.microsoft.com/en-us/fabric#/controls/web/panel
Edge Browser Version:
Mic

[2019-10-10 11:20] 999-Dev opened #10782 "Panel: Narrator focus does not moves to the 'Close' button while backward navigation in scan mode by using up/down arrow keys."
**User Experience:**
Narrator users will get confused while navigating in scan mode by using up or down arrow keys, if the focus does not lands on Close button.

**Test Environment:**
OS: Version: RS5_Prerelease(1903 OS Build 18999.1)
URL: https://developer.microsoft.com/en-us/fabric#/controls/web/panel
Edge Browser Version:
Microsoft Edge: 44.18999.1.0
Microsoft EdgeHTML: 18.18999

**Usages:**
Al

[2019-10-10 12:11] KeiraYang commented on #10738
Thanks @ecraig12345 for reply! Yes. It's not using Fabric panel, it's a div which role is "dialog". And this div is inside an iframe.

[2019-10-10 16:19] joschect commented on #10704
@easy0924 I'm currently working on a fix. Should be done soon.

[2019-10-10 16:54] woodreamz opened #10783 "className is not applied on DetailsHeader"
### Environment Information

- **Package version(s)**: 7.48.0
- **Browser and OS versions**: Chrome and macOS

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/embed/office-ui-fabric-react-classname-issue-w3h5s

#### Actual behavior:

When styling the DetailsHeader with styled-component (or other lib using className), the className is not correctly applied on the

[2019-10-10 17:36] woodreamz commented on #10783
PR submitted!

[2019-10-10 18:41] ecraig12345 commented on #10783
I agree this seems like a bug--thanks for submitting a PR!

[2019-10-10 19:10] ecraig12345 commented on #10738
I *suspect* that the issue has to do with mixing React events and native DOM events. Knockout is probably using native event handlers, which (in most cases) are run *before* any React event handlers. As shown in [this codepen](https://codepen.io/ecraig12345/pen/RwwWLpY), although the ComboBox properly catches the React event for the escape key and stops its propagation, it's too late to stop the n

[2019-10-10 19:50] #10452 closed

[2019-10-10 20:00] #10690 closed

[2019-10-10 21:18] akoltz opened #10785 "Spurious error: The children of a Pivot component must be of type PivotItem to be rendered."
This issue was reported previously here: https://github.com/OfficeDev/office-ui-fabric-react/issues/8867
It was closed due to inactivity. I have an isolated repro of the problem.

### Environment Information

- **Package version(s)**: "office-ui-fabric-react": "^7.48.0"
- **Browser and OS versions**: Windows 10, Chrome 77.0.3865.90 64-bit

### Please provide a reproduction of the bug in a codepen:

[2019-10-10 21:48] abithap commented on #10681
@khmakoto we have the exact same scenario to tell the user why the button is disabled. I tried to use the tooltipHostProps but that gets enabled only with IconOnly is set to true and it makes the UI look weird. Is there a workaround for this issue till the feature gets actually shipped?

[2019-10-10 21:53] khmakoto commented on #10681
@abithap, it seems like you're using a specific surface, like a `CommandBar` for example. Can you tell me if that's the case, and if so which surface you're using?

[2019-10-10 21:55] cliffkoh commented on #10759
This is by design - use `value` instead if you want the textfield to operate in a controlled manner.

[2019-10-10 21:59] abithap commented on #10681
@khmakoto we are using the CommandBar, is there a way to show the tooltip from CommandBar in disabled state?
We are also using ComboBox with title and it works fine in disabled state.

[2019-10-10 22:12] khmakoto commented on #10681
Let me try to spin up a PR for the `CommandBar` where you can show that tooltip.

[2019-10-10 22:31] #10783 closed

[2019-10-10 22:31] dzearing commented on #10783
Thanks!

[2019-10-10 22:32] dzearing commented on #10768
@jspurlin can you help here for spinbutton?

[2019-10-10 22:34] LiangMingChen opened #10787 "Performance: why does List force layout/reflow (getBoundingClient) in componentDidMount?"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

Force render is know bad performance
Paul Irish (Chrome Dev Lead) have what force render
https://gist.github.com/paulirish/5d52fb081b3570c81e3a

Specific getBoundingClientRect()
Given Grid have a lot of Div, a

[2019-10-10 22:34] dzearing commented on #10642
I had discussed with @joschect to just add a test case to conformance tests for this and fix inconsistencies.

[2019-10-10 23:00] khmakoto commented on #10681
@abithap I've made [this codepen](https://codepen.io/khmakoto/pen/MWWaVav) where you can see that the `Share` button has a tooltip. It is not ideal but it is a workaround while we get to the real issue.

[2019-10-10 23:01] ecraig12345 commented on #10768
Most of our other components already pass through native HTML attributes (and data- attributes), so I agree it would make sense for SpinButton to do the same.

[2019-10-10 23:03] ecraig12345 commented on #10774
I'm not quite seeing this issue, sorry. Would you mind sharing a screenshot to help show what you mean? And I'm guessing it's only off by a fairly small amount? (still worth fixing but makes it harder to see)

[2019-10-10 23:06] ecraig12345 commented on #10777
I'm not convinced this is something we need to fix--any hypothetical "saving" action is tangential to the point of the example. The example's actual point is just to demonstrate how to code a panel with a footer, and what it looks like.

[2019-10-10 23:19] ecraig12345 commented on #10750
Breadcrumbs as headings were added in PR #10445 in response to issue #10286. The actual scenario was to allow making the current item a heading. So I'll update the current example to use a heading only for the current item (probably an `h4` in this case to minimize messing with the structure of the page).

[2019-10-10 23:22] ecraig12345 commented on #10737
I see that same behavior with this minimal repro: https://codepen.io/ecraig12345/pen/VwwLaPV
![image](https://user-images.githubusercontent.com/5864305/66611659-17d3c900-eb74-11e9-93c7-33c8d5dbbe5e.png)
(In general, it's helpful to include a minimal live repro when filing an issue--you can start from the "Export to CodePen" link on one of the [component examples](https://developer.microsoft.com/en

[2019-10-10 23:27] ecraig12345 commented on #10737
To get this working with `react-router`: if you're using the latest version, there's [a new `Link` prop called `component`](https://github.com/ReactTraining/react-router/pull/6462) (doesn't seem to be documented yet) which lets you pass in a custom component for the link to render as, while still doing routing behavior on click. That seems like it would be ideal for your use case, though if you're

[2019-10-10 23:32] abithap commented on #10681
@khmakoto  thank you it works. Will wait for the real issue fix. Appreciate your help.

[2019-10-10 23:32] ecraig12345 commented on #10746
Thanks for reporting this! I think the issue is that the tag picker isn't setting the color of input elements' text at all. TextField works since it has a line in its `field` styles (the class used on its `input`) to set `color: semanticColors.inputText`--so we ought to add the same style in TagPicker (actually in BasePicker).

I'm not sure why the font isn't getting set or what the proper way is

[2019-10-10 23:36] ecraig12345 commented on #10744
Thanks for reporting this! @joschect What do you think the proper fix is here?

[2019-10-10 23:36] ecraig12345 commented on #10745
Thanks for reporting this! @joschect Any ideas on the fix for this one?

[2019-10-10 23:37] ecraig12345 commented on #10745
Thanks for reporting this! @joschect Any ideas on the fix for this one?

[2019-10-10 23:54] khmakoto commented on #10681
@abithap You're welcome! Let me know if there is anything else I can do to help!

[2019-10-11 00:00] #10715 closed

[2019-10-11 00:00] #10727 closed

[2019-10-11 00:11] ecraig12345 commented on #10756
I tried updating the codepen to push the checkbox down onto a subsequent page using a really tall div, but the label still printed.

I also tried disabling this CSS reset style on the website, and I'm pretty sure that made the labels print properly once, but I haven't been able to reproduce it since then. (Adding the same style in the codepen had no effect, even if I set `box-sizing` on the parent

[2019-10-11 00:15] ecraig12345 commented on #10757
Thanks for reporting this! To clarify, the repro steps are:
1. Focus on the picker
2. Start typing letters **which will match an option**--for this example, type **r** (it works properly when there are no matching options)
3. Attempt to reach the "Load all" button. Arrowing down into the menu never goes to "Load all" and pressing tab auto-completes the option.

@joschect Do you have any ideas abou

[2019-10-11 00:21] ecraig12345 commented on #10781
This example shouldn't show a close button, since the button will never do anything. Fix is to set `hasCloseButton={false}`.

[2019-10-11 00:24] ecraig12345 commented on #10780
This issue isn't specific to the panel, it applies to the examples for any component. I've updated the title to reflect that.

[2019-10-11 00:31] ecraig12345 commented on #10778
This is a general bug with [all DefaultButtons on the website](https://developer.microsoft.com/en-us/fabric#/controls/web/button) (it's not specific to Panel examples) and doesn't repro in [a codepen](https://codepen.io/ecraig12345/pen/wvvKmVr?&editable=true) or for PrimaryButtons. So there must be something weird about either our website's styles or the UHF styles which messes up the buttons when

[2019-10-11 00:32] ecraig12345 commented on #10776
Thanks for reporting this! @joschect Any ideas?

[2019-10-11 01:43] dzearing commented on #8655
@joschect ping.

[2019-10-11 01:43] dzearing commented on #6259
@joschect ping.

[2019-10-11 01:44] dzearing commented on #6360
@joschect ping.

[2019-10-11 02:19] Lachlan24 opened #10789 "Permission denial to microsoft/create-react-app-uifabric.git"
Hey, i am kind of new to github and reactJs but i am trying to deploy a React build to github. But every-time i receive these errors remote:

Permission to microsoft/create-react-app-uifabric.git denied to Lachlan24.
fatal: unable to access 'https://github.com/microsoft/create-react-app-uifabric.git/': The requested URL returned error: 403

Any idea's how to fix this. Thanks

[2019-10-11 02:26] shiliangdn opened #10790 "[DetailsList] Export functionality for DetailsList"
#### Describe the feature that you would like added

Export functionality

#### What component or utility would this be added to

DetailsList

#### Have you discussed this feature with our team, and if so, who

No

#### Additional context/screenshots

Just like the export function in the Angular UI-Grid

[2019-10-11 03:34] hauvubhtech commented on #10685
@KevinTCoughlin Could you reproduce this on microsoft teams tabs?

[2019-10-11 04:31] ashitvora commented on #10759
In that case, since the TextField is controlled, is there a way to have correct value reflected in the TextField (the value is received as a prop) but not call onChange on every keystroke but debounce it?

Having onChange called on every keystroke results in too many re-renders :(

[2019-10-11 05:02] #10701 closed

[2019-10-11 05:02] dzearing commented on #10701
Verified this is resolved.

[2019-10-11 05:14] clmreimann commented on #10774
Here is a screenshot:
![image](https://user-images.githubusercontent.com/16774153/66625265-d551d100-ebf3-11e9-9cc4-33aec00b255c.png)
You should also see it in the Codepen example.
I just changed the background color of the iconOnly items with the buttonStyles property.
[code]

[2019-10-11 06:13] 999-Dev opened #10792 "ProgressIndicator - In scan mode Backward navigation (Up Arrow keys) information about progress bar is announced but focus stays on the 'Example description'."
[Usable]: In scan mode backward navigation(Up arrow keys) information about progress bar is announced but focus stays on the previous element only.

**User Impact:**
Narrator  user will be confused if in backward navigation (Up arrow keys) focus stays on other control and information about other control is narrated.

**Test Environment:**
OS: Version: RS5_Prerelease(1903 OS Build 18999.1)
URL: htt

[2019-10-11 06:33] 999-Dev commented on #8388
Bug3:[Accessibility][Usable]: In scan mode backward navigation information about progress bar is announced but focus stays on the previous element only.

**Note:**
We have logged a new bug in GitHub with Required details and attachment. So we are closing this bug.

New GitHub ID - https://github.com/OfficeDev/office-ui-fabric-react/issues/10792

[2019-10-11 09:41] gsbelarus commented on #10737
Thank you for so detailed explanation. I will try to fix our code using your advice. It would be nice to add an example of overriding renderer when CommandBar in overflow mode to the official documentation.

[2019-10-11 11:45] 999-Dev opened #10793 "Calendar A11yPass : Screen reader does not read 'Role' as "button" on date controls present in calendar window."
[Accessibility][Screen Reader : Calendar Control] : Screen reader does not announce the Role on date controls present in calendar window.

**User Experience:**
Screen reader uses will be impacted if screen reader will not announce 'Role' the date controls.

**Test Environment:**
OS: Version: RS5_Prerelease(1903 OS Build 18999.1)
URL: https://developer.microsoft.com/en-us/fabric#/controls/web/calen

[2019-10-11 14:40] dzearing commented on #8388
I want to close this issue once thats separated out.

[2019-10-11 15:58] micahgodbolt commented on #10789
@kenotron  any thoughts what's happening here with the UI fabric CRA?

[2019-10-11 16:29] jlukosky commented on #900
It

It would be most appropriate to have the triggering element use aria-describedby to reference the tooltip. Tooltips should NOT be focusable.

[2019-10-11 16:45] micahgodbolt commented on #900
@jlukosky the problem is that we don't instantly render the tooltips on focus/hover. We delay rendering to reduce the perf hit. So the issue is that `aria-describedby` would be pointing at nothing.

[2019-10-11 16:47] micahgodbolt commented on #900
This is a duplicate of #10677.

[2019-10-11 17:00] #10304 closed

[2019-10-11 17:04] ecraig12345 commented on #10789
Are you trying to pull from that repo, or push? You won't be able to push changes to the official template.

If you'd like to push changes, you should fork the repo first and work from there.

[2019-10-11 17:09] ecraig12345 commented on #10737
Good point, I'm actually going to reopen this for now as a reminder to add something like the codepen I wrote to the documentation.

[2019-10-11 18:00] #10703 closed

[2019-10-11 18:00] #10705 closed

[2019-10-11 18:19] ecraig12345 commented on #10759
Repeatedly re-rendering just the TextField shouldn't be a big issue (this is actually the expected pattern for controlled fields), but I guess depending on where your `onChange` comes from, it could cause a chain of re-renders in more complicated components.

You can find some suggested workarounds in https://github.com/OfficeDev/office-ui-fabric-react/issues/10121#issuecomment-520575817. I might

[2019-10-11 18:34] yueou1995 opened #10794 "ComboBox more sophisticated autoComplete feature"
#### Describe the feature that you would like added

I'd like to see ComboBox supporting more sophisticated autoComplete. It'd be great if I can keep ComboBox dropdown open as user is tying. Also it'd be great if ComboBox supports wildcard search / substring autoComplete.

#### What component or utility would this be added to

ComboBox

#### Have you discussed this feature with our team, and if so

[2019-10-11 18:57] rkalivarapu commented on #10715
Thanks for the update and support. It would be great if it is updated in the documentation https://developer.microsoft.com/en-us/fabric#/controls/web/commandbar

[2019-10-11 20:00] #10719 closed

[2019-10-11 20:49] #10677 closed

[2019-10-11 21:03] jlukosky opened #10795 "Breadcrumb link colors are not mapped to user defined link color in Windows High Contrast Mode"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out)

### Describe the issue:

Using Edge and Windows High Contrast mode (black theme) the hyperlink color I have defined is yellow. In the breadcrumb controls the link colors are all gray.

### Please provide a reproduction of the issue in a codepen:

Observe on the [Fabric Breadcrumb

[2019-10-11 21:37] phkuo commented on #9863
@horsfallnathan
Using CSS-in-JS, inside Component.styles.ts:

[code]

[2019-10-11 22:00] #10684 closed

[2019-10-11 22:21] ajain17 opened #10796 "OnClick behavior for split button is lost across devices."
### Environment Information

- **Package version(s)**: 6.157.3
- **Browser and OS versions**: Chrome, Windows 10.

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/cleverBassi/pen/qBBbOee?editors=0010

#### Actual behavior:
When we click on the "Save and Exit" text in the split button, it shows an alert and when we click on the chevron, it opens the dropdown menu. If y

[2019-10-11 22:43] #10699 closed

[2019-10-11 22:54] ecraig12345 commented on #10790
While this would be nice to have, it's a pretty large feature and not something we're likely to get to any time soon.

[2019-10-11 22:54] ecraig12345 commented on #10790
Just to clarify, I assume you mean export to CSV or something like that?

[2019-10-11 23:01] marygans commented on #9968
HI @tipantaz! I tried to repro your issue here again in this codepen and not seeing the issue anymore: https://codepen.io/gwiz0210/full/MWWKKjz. Can you confirm that this is still an issue for you?

[2019-10-11 23:36] marygans commented on #10003
Hi @ArpitaGhattuMicrosoft! Thank you so much for you patience. I have been able to repro this issue with NVDA + Chrome but it turns out that the bug will actually need to be filed separately in their repo [here ](https://github.com/nvaccess/nvda/issues).

The NVDA screenreader in Edge and Narrator in both Chrome and Edge.

[2019-10-11 23:44] marygans commented on #9970
@anushkumarkorukonda If you have already reached out to them I'd recommend giving some time to get back to you. I will soft close this issue with` Not an issue` label. If you have more questions, feel free to to ask and I will reopen it. Thanks for submitting the issue!

[2019-10-11 23:49] marygans commented on #9999
Hi @HalcyonPride this issue should've been addressed in the PR: #10526 so I will soft close this issue. If you have more questions, feel free to to ask and I will reopen it. Thanks for submitting the issue!

[2019-10-11 23:55] angallison commented on #10624
@betrue-final-final said these should be grayText. Do you need anything else for this?

[2019-10-12 00:02] aneeshack4 commented on #9863
@horsfallnathan Have you looked at [AnimationExample.tsx](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/example-app-base/src/components/Animation/AnimationExample/AnimationExample.tsx)?

[2019-10-12 01:02] Raghurk commented on #9463
We are looking at this. We had other priorities

[2019-10-12 02:00] #10777 closed

[2019-10-12 02:45] dzearing commented on #10790
Thank you for the suggestion!

I believe while interesting, is out of scope for the react component library.

It's entirely possible to write a javascript map function on your items to build a CSV file.

[2019-10-12 02:45] #10790 closed

[2019-10-12 04:44] horsfallnathan commented on #9863
This helps thanks.

[2019-10-13 09:13] ahmedlhanafy opened #10800 "Can't assign ref on Text component"
### Environment Information

- **Package version(s)**: ^7.43.2

### Priorities and help requested:
Requested priority: High

[2019-10-13 21:32] xugao opened #10801 "Website: Better search result for TagPicker"
instead of showing this after search {tagpicker} -> select from navigation bar -> show reference
<img width="627" alt="Screen Shot 2019-10-13 at 2 30 23 PM" src="https://user-images.githubusercontent.com/1207059/66722713-0d107280-edc6-11e9-8cac-e2f242bc6b73.png">

i think it's better if the search result is the control:
![image](https://user-images.githubusercontent.com/1207059/66722720-29141400-e

[2019-10-14 01:02] alekkowalczyk opened #10802 "`react-dnd` not working for items inside a `Callout`"
Currently the `Callout` element is rendering on a layer added at the end of the DOM - that is outside of the DOM we have control of in react.

Due to this, it's not possible e.g. to use `react-dnd`, since the callout content will be outside of the context provided by `DndProvider`.

Maybe the possibility to somehow give to the callout a `ref` element of a DOM element were we would like to have the

[2019-10-14 02:11] KeiraYang commented on #10738
Thanks @ecraig12345. Our level is, We're using the Fabric panel as container, then the iframe as children. The combobox is inside iframe thus has the issue. But we also have Dropdown component which seems has similar event handler. But Dropdown works well, press 'Esc' won't close the panel. Any idea for why the different behavior for the Combobox and Dropdown? Thanks so much!

[2019-10-14 06:31] KeiraYang commented on #10738
Hi @ecraig12345 I used your demo and replace the ComboBox component with Dropdown in [this codepen](https://codepen.io/keirayang/pen/YzzwoyR). Dropdown component stopped the native event propogation as in the example when press "Esc". Thus I think the ComboBox component should stop it as well just like Dropdown. Additional, I found the suggestion list width is different between ComboBox and Dropdo

[2019-10-14 07:34] AparnaPrasad commented on #10436
Yes this is what I need.

[2019-10-14 07:44] tipantaz commented on #9968
Hi @marygans! I cannot reproduce it as well in the official examples, so I am guessing it is gone with your latest push. Thanks a lot for following up!

[2019-10-14 07:44] #9968 closed

[2019-10-14 08:07] 999-Dev commented on #8173
Bug8: [Accessibility][Visual Requirements] Tooltip is not present for see more(3 dots) button in ‘Panel with custom navigation content’ dialog.
UI has been changed. See more button is not visible now. Verified in the below build:
OS: Version: RS5_Prerelease(1903 OS Build 18999.1)
URL: https://developer.microsoft.com/en-us/fabric#/controls/web/panel
Edge Browser Version:
Microsoft Edge: 44.18999
He

[2019-10-14 08:08] 999-Dev commented on #8173
Bug5: [Accessibility][Usable]:Narrator narrates irrelevant information on expanding the see more(3 dots) button in ‘Panel with custom navigation content’ dialog.
UI has been changed. See more button is not visible now. Verified in the below build:
Issue is not fixed. Verified in the below build:
Test Environment:
OS: Version: RS5_Prerelease(1903 OS Build 18999.1)
URL: https://developer.microsoft.c

[2019-10-14 08:10] 999-Dev commented on #8173
Bug7: [Accessibility][Forms and validation]: Label is not associated with the text field in ‘Panel’ dialog.
UI has been changed. See more button is not visible now. Verified in the below build:
**Test Environment:**
OS: Version: RS5_Prerelease(1903 OS Build 18999.1)
URL: https://developer.microsoft.com/en-us/fabric#/controls/web/panel
Edge Browser Version:
Microsoft Edge: 44.18999.1.0
Hence closin

[2019-10-14 08:13] 999-Dev commented on #8173
Bug6: [Accessibility][Keyboard Navigation]: Scroller which is present in 'Panel with scrolling content' dialog is not accessible by keyboard.
UI has been changed. See more button is not visible now. Verified in the below build:
**Test Environment:**
OS: Version: RS5_Prerelease(1903 OS Build 18999.1)
URL: https://developer.microsoft.com/en-us/fabric#/controls/web/panel
Edge Browser Version:
Microso

[2019-10-14 08:55] alekkowalczyk commented on #10802
`doNotLayer` can solve that issue actually, so closing this issue.

[2019-10-14 08:55] #10802 closed

[2019-10-14 13:02] 999-Dev opened #10803 "Panel: Screen reader announcing 'Required' to every option 'Panel - Small, right-aligned, fixed, with footer' pane."
**User Experience:**
Screen reader users will get confused if screen reader announces every option as 'Required'.

**Test Environment:**
OS: Version: RS5_Prerelease(1903 OS Build 18999.1)
URL: https://developer.microsoft.com/en-us/fabric#/controls/web/panel
Edge Browser Version:
Microsoft Edge: 44.18999.1.0
Microsoft EdgeHTML: 18.18999

**Usages:**
Panel - Small, right-aligned, fixed, with footer.

[2019-10-14 16:49] ecraig12345 commented on #10794
I agree that these would be nice features, but it's not something we're likely to get to any time soon, especially the wildcard search. The idea of keeping the dropdown open while typing is interesting, and maybe something for @joschect to keep in mind when working on the new ComboBox (though you'd have to check with the designers and make sure that aligns with their idea of how the control should

[2019-10-14 16:53] ecraig12345 commented on #10732
Sorry for the delay here--I started investigating this but didn't quite reach a conclusion before being sidetracked by other issues. I'll try and get back to it soon.

[2019-10-14 17:06] ecraig12345 commented on #10758
This is an issue with ChoiceGroup, not Panel. It more simply repros on the ChoiceGroup page:

1. In Edge with Narrator on, navigate to https://developer.microsoft.com/en-us/fabric#/controls/web/choicegroup
2. Navigate focus to just before one of the examples (easiest way to do this is to click a "Show code" button twice--show then hide the code but leave the button focused)
3. Switch to scan mode

[2019-10-14 17:13] ecraig12345 commented on #10766
@KevinTCoughlin Since you're more familiar with DetailsList, does this sound like something we reasonably could/should support? Or is there some other recommended way to handle this currently? I know internally we have scenarios where we fetch only a subset of items out of a large list of items, so there must be some way of handling it.

[2019-10-14 17:22] ecraig12345 commented on #10764
Thanks for reporting this. We already apply high contrast-specific color adjustments to the slider track (and other parts of the slider), and I just verified they're respected in Edge. So if Firefox isn't respecting those adjustments, it's an issue with Firefox, not our code.

[2019-10-14 17:27] ecraig12345 commented on #10775
I can repro this too. It looks like the ComboBox is interpreting the control key event as a standard keystroke (not a modifier key) and stopping propagation when it shouldn't.

[2019-10-14 17:31] anubhavagg147 opened #10804 "Details List: When navigating from different route to a route where detail list fabric component is used, keyboard navigation does not focus on detail list rows"
### Describe the issue:

i am from microsoft flow team (https://preview.flow.microsoft.com/en-us/). We are using fabric component details list to show all the flow runs user had for a particular flow in flow properties page (https://preview.flow.microsoft.com/manage/environments/839eace6-59ab-4243-97ec-a5b8fcc104e4/flows/8d55f414-0332-4d14-a8af-e0e8a2479ea9/details) (you will not have access to th

[2019-10-14 17:34] khmakoto commented on #10796
Hi @ajain17, this behavior is by design and more rationale can be found in #8230 and #9653.

You can take a look there for more background, but basically this happens because:
1. The split menu should have all options available including the primary action;
2. The touch target is not large enough to only execute the menu, so to resolve the ambiguity all split buttons react to touch this way (act a

[2019-10-14 17:36] marygans commented on #10800
Hi @ahmedlhanafy! Thank you for submitting this issue! Can you give us a specific code example using React's `ref` and scenario?

[2019-10-14 17:47] marygans commented on #10801
Hi @xugao thank you for submitting this issue! This is a good point and something to keep in mind as there is current work being done to improve the current POV of the website -  @ecraig12345 and @Jahnp FYI.

[2019-10-14 17:55] #10739 closed

[2019-10-14 17:57] ecraig12345 commented on #10801
I'm reassigning this to myself because it was an issue Xu and I talked about. It's not likely to be fixed right away but I wanted an issue open for tracking.

[2019-10-14 18:00] #10689 closed

[2019-10-14 18:00] #900 closed

[2019-10-14 18:06] khmakoto commented on #10795
Hi @jlukosky, I cannot seem to repro this neither in my local build, nor in the website.

The website:
![image](https://user-images.githubusercontent.com/7798177/66772813-6f26b180-ee72-11e9-8f41-43394ccc4145.png)

My configuration:
![image](https://user-images.githubusercontent.com/7798177/66772827-78b01980-ee72-11e9-8357-0631511d7b05.png)

As you can see, hyperlinks in `Breadcrumbs` are showing a

[2019-10-14 18:58] KevinTCoughlin commented on #10352
Below is the DOM:

![image](https://user-images.githubusercontent.com/706967/66775864-dd22a700-ee79-11e9-9881-9145a98ce5e6.png)

We'll need to support user's passing in a localized string in the impacted Calendar controls for them to mitigate the a11y validation error.

[2019-10-14 19:07] khmakoto commented on #10785
Hi @akoltz, thank you for filing this issue! So, something weird is happening here. The culprit seems to be line `222` in `Pivot.base.tsx` where we have `if (typeof child === 'object' && child.type === PivotItemType) {`.

I've checked in the debugger and found that `child.type === PivotItemType` is `true` when you don't import that library and `false` if you do. The interesting part is that the co

[2019-10-14 19:16] ecraig12345 commented on #8867
In case anyone is still following this, @akoltz opened #10785 with a repro. Further discussion there.

[2019-10-14 19:19] ecraig12345 commented on #10785
Unless we can figure out exactly what circumstances in another library cause this to happen (and maybe even if we can figure it out), I think we should switch the check to use toString or something rather than object identity.

Some theories I had were that the pivot code was getting evaluated twice, or that there were two versions of React on the page, but neither seems to be the case.

Also, I m

[2019-10-14 19:34] ecraig12345 commented on #10785
I went ahead and made PR #10806 with the change I suggested (I'd already done most of my investigation but Mak commented before me).

[2019-10-14 20:05] khmakoto commented on #10785
Thanks for the PR @ecraig12345!

[2019-10-14 20:16] marygans commented on #10804
Hi @anubhavagg147 , thank you for submitting this issue!

@KevinTCoughlin I see you both have discussed this previously. Were you able to repro this outside of the context of the Flow? Is this work something you want to pick up?

Thanks!

[2019-10-14 20:24] khmakoto commented on #10753
Hi @dliu120, you have to pass the `this._onDismiss` method to the `Callout` in `onRenderContainer`. I've modified your codepen to have this working and placed it [here](https://codepen.io/khmakoto/pen/rNNeWoM?editors=0010). Let me know if there is anything else I can do to help!

[2019-10-14 20:41] ecraig12345 commented on #10746
@xugao Maybe you could look at this one as well?

[2019-10-14 20:48] khmakoto commented on #10779
Hi @rhalaly, thanks for filing this issue! This behavior is by design since the `Callout` component, which is used to show suggestions, dismisses on scroll. There is a prop to override this behavior however, and you can set it using the `pickerCalloutProps` prop and setting `preventDismissOnScroll` to `true`.

I've done this in [this codepen](https://codepen.io/khmakoto/pen/eYYZRgW?editors=0010) a

[2019-10-14 20:49] ecraig12345 commented on #10795
There's currently a known issue which is interfering with this scenario--but even once that's fixed, the behavior may not be exactly what you're expecting.

Some background: A breadcrumb item's action can be defined using `onClick` and/or `href`. Most of the example items happen to use only `onClick`. For a long time the intended behavior was that if an item had a `href`, it would be rendered as a

[2019-10-14 21:20] khmakoto commented on #10782
Hi @999-Dev, this feels like a problem with either Edge or Narrator since the focus is actually going to the close button as shown by Narrator saying `button close` but the visual indicator staying on the text below. I've reached the Narrator team to ask for clarification and will update this issue accordingly.

[2019-10-14 21:32] betrue-final-final commented on #10633
The correct color would be Gray20 (#f3f2f1)

[2019-10-14 21:39] khmakoto commented on #10774
Hi @clmreimann, I can reproduce your issue in the codepen you provided (thanks for that!). The main issue here is that in using `buttonStyles` you are overriding a style that sets the `height` of the `CommandBarItems` to `100%`. If you set the `height` again as I did in [this codepen](https://codepen.io/khmakoto/pen/PooNjvP?editors=0010) you'll see that the items are vertically centered again.

Ho

[2019-10-14 22:19] KevinTCoughlin commented on #10804
For context, we spoke offline prior to @anubhavagg147 opening this issue. What seemed to be occurring was that tab indices were not set on individual rows until they received focus. This would only occur during in-app navigation. The issue was not present when the page in question was loaded via hard refresh.

It seemed like there might be some on init focus issues at play that I am less familiar

[2019-10-14 22:27] ecraig12345 opened #10809 "Website nav disappears on small screens"
On a small screen, you can access the top nav of [the website](https://developer.microsoft.com/en-us/fabric#/controls/web), but there's no way to access the more detailed section nav.

Small screen (this is just the links from the UHF top nav):
<img src="https://user-images.githubusercontent.com/5864305/66786910-dd7d6b00-ee96-11e9-8980-7a4da2639254.png" width="50%"/>

Desktop:
<img src="https://us

[2019-10-14 22:29] ecraig12345 commented on #10809
@marygans I mainly filed this for tracking purposes, but if you and @Jahnp can think of a good way to implement it and you have time, that would be awesome.

[2019-10-14 23:03] AndrewCraswell opened #10810 "ActionButton icon does not use initialized icon subset"
### Environment Information

- **Package version(s)**: 7.38.0
- **Browser and OS versions**: Chrome, Windows 10

#### Actual behavior:

ActionButton component forces the full Fabric MDL2 icon font woff2 file to download, even when a custom font subset has been initialized using the same icon.

I tested replacing the ActionButton component with a Icon component and passing the same value for `iconN

[2019-10-14 23:04] ecraig12345 commented on #10785
Turns out Stack and Card have the same issue, but the `type.toString()` check sometimes gave the wrong results in those cases since they're generated by `createComponent`. So now the PR checks `displayName` (which is correctly set by `createComponent` and used elsewhere by React) for Stack and Card, and `name` (a built-in function property) for Pivot.

[2019-10-14 23:11] khmakoto commented on #10687
@phkuo @micahgodbolt any update here?

[2019-10-14 23:27] #10138 closed

[2019-10-14 23:27] #10750 closed

[2019-10-14 23:38] khmakoto commented on #10776
Sorry, the PR above was meant for another issue and not this one.

[2019-10-14 23:52] phkuo commented on #10687
I've said my piece, your team needs to drive an agreement between Micah and David, and Janice, Sirena, and Ben regarding how it should look/behave on different themes in different variants, and whether or not that ties into list item highlighting colors.

[2019-10-15 00:00] ecraig12345 commented on #10776
I'm guessing that the inability to force the Callout to position off-screen is intentional, but @joschect would know better.

[2019-10-15 00:06] ecraig12345 commented on #10738
Talked with @dzearing about this and he actually thinks it's odd that *any* of our components are interfering with native events. His recommendation is if you want native events caught, you should write a wrapper to handle that.

I also noticed that if I add an event listener to the body, Dropdown's key events *do* propagate to there (see [updated codepen](https://codepen.io/ecraig12345/pen/RwwWLp

[2019-10-15 00:09] ecraig12345 commented on #10738
For the ComboBox menu width, you can force it to match the field width by setting the `useComboBoxAsMenuWidth` prop to true. (I agree it's odd that's not the default, but it's not something we're going to change except as part of a full ComboBox rewrite.)

[2019-10-15 06:14] #10633 closed

[2019-10-15 06:51] HarkeshS opened #10814 "Screen reader is reading table details for first column twice, present at the top on the basic detail list page"
### Environment Information

Package version(s): latest
Browser and OS versions:
Browser: Edge
OS: Windows 10

### Describe the issue:

Screen reader is reading table details for first column twice, present at the top on the basic detail list page
Checked at-
https://developer.microsoft.com/en-us/fabric#/controls/web/detailslist/basic

### Please provide a reproduction of the issue in a codepen:

[2019-10-15 08:31] rhalaly commented on #10779
Thank you very much @khmakoto! I submit this issue after lot of digging inside the docs.

Maybe you should consider to make it more clear there :)

[2019-10-15 08:31] #10779 closed

[2019-10-15 08:31] alex3683 commented on #10451
@aneeshack4 @joschect  Hm, I hoped to get some advice from you regarding on how to hook into the component to make it draggable 😕

[2019-10-15 09:36] clmreimann commented on #10774
Thanks for the clarification and the PR @khmakoto . This solved my issue.

[2019-10-15 16:09] marygans commented on #10814
Hi @HarkeshS thank you for submitting this issue! What screen reader are you experiencing this problem with? I am testing using Narrator + Edge, and hear for example,"Column Header, Column 2 of 3" for the Name column.

[2019-10-15 16:25] marygans commented on #10810
Hi @AndrewCraswell, thanks for submitting this issue! Can you provide a codepen demonstrating your issue? Thanks!

[2019-10-15 16:34] #10785 closed

[2019-10-15 16:34] AndrewCraswell commented on #10810
@marygans Unfortunately that will be difficult since it involves a custom icon subset. Unless there is an example one already hosted online ready for such situations.

But I'd be happy to give access to our test environment with repro instructions (it's fairly straight forward).

[2019-10-15 16:34] marygans commented on #10809
Thanks for tracking this @ecraig12345! I agree this is a serious issue. At first glance, I'm thinking the chevron up/down might work as a toggle to expand the sub navigation elements, similar to the existing chevron in your screenshot. I'll further discuss with Peter on approach!
![image](https://user-images.githubusercontent.com/38991459/66850831-6d222880-ef2e-11e9-862b-c4f5d8427a28.png)

[2019-10-15 16:43] jlukosky commented on #10795
My expectation is a link or link-type construct that navigates to a new destination (either on a new page or somewhere on the current page) will function and appear as a link. A button function (which shouldn't be used for navigation, btw) would show as a button.

On the page you link to I noticed a great number of the "links" are implemented as buttons. That role is incorrect. Ideally these would

[2019-10-15 17:16] dliu120 commented on #10753
Thanks! This unblocks us, but this API is also not publicly exposed or documented. Could you perhaps expose this in the interface and document it? Otherwise anyone using the custom renderContainer would have the same issue.

[2019-10-15 17:22] khmakoto commented on #10753
@dliu120 I think that's a fair ask. @joschect if you are ok with this change I can expose the method in the interface. What do you think?

[2019-10-15 17:34] khmakoto commented on #10779
@rhalaly thanks for the feedback, we'll take it into account!

[2019-10-15 18:18] marygans commented on #10810
Hi @AndrewCraswell its possible that this actually a dupe of #10449

[2019-10-15 19:00] #10760 closed

[2019-10-15 19:04] ecraig12345 commented on #10753
Not Jon :) but FWIW I agree we should expose `onDismiss` publicly somehow--either add it on the `IDropdown` interface (probably also `IComboBox`) or pass it as an additional parameter to `onRenderContainer`.

[2019-10-15 19:06] ecraig12345 commented on #10809
We unfortunately don't have very direct control over the chevron menu--it's provided as part of the UHF header and link updates have to be checked into some separate repo. So as sad as it would be to add a *third* menu-opener element, we might be stuck doing that.

[2019-10-15 19:07] ecraig12345 commented on #10809
Maybe we can hide their chevron menu and make our own?

[2019-10-15 19:12] ecraig12345 commented on #10795
We don't have control over how people choose to use breadcrumbs, so it's possible in some scenarios that the breadcrumb will do some kind of in-page navigation (handled by onClick) rather than anything that changes the URL. In that case, using `a` for the breadcrumbs would prevent them from being "clickable" with the keyboard since they have no `href`, which is pretty terrible for accessibility to

[2019-10-15 19:16] pagaur opened #10817 "SplitButton role should not be hardcoded"
#### Describe the feature that you would like added

As of now the SplitButton has role attribute hard-coded to 'button', which is fine is almost all cases. But if someone wants to override it, similar to other controls and non-split flavor of baseButton one can override it.

We are putting SplitButton as part of suggestions list and want the narrator to announce its position in list, which happen

[2019-10-15 19:32] jlukosky commented on #10795
It seems the default should be anchors, and they should be coded that way. Using buttons is the wrong pattern. _BUT ANYWAY...._

This bug regards them not reflecting the hyperlink color so if that's done then this issue is done. Other things can be handled separately.

[2019-10-15 20:07] jdhuntington opened #10820 "[Accessibility][Programmatic access]: ARIA attributes must conform to valid values (Bug 1)"
Breakout of issue #8655

[2019-10-15 20:07] jdhuntington opened #10821 "[Accessibility][Screen Readers]: Edit field under Custom Picker (Document Picker) variant does not have a label. (Bug 2)"
Breakout of issue #8655

[2019-10-15 20:07] jdhuntington opened #10822 "[Accessibility][Screen Readers]: No name is defined for remove button present next to selected colors. (Bug 3)"
Breakout of issue #8655

[2019-10-15 20:07] jdhuntington opened #10823 "[Accessibility][Usable]: Screen reader is not providing information about no suggestion appearing on screen when user provide inappropriate entry in edit field . (Bug 4)"
Breakout of issue #8655

[2019-10-15 20:07] jdhuntington opened #10824 "[Accessibility][Usable]: Focus is not landing on the first selection of the edit field under Tag Picker variant rather going to remove button. (Bug 5)"
Breakout of issue #8655

[2019-10-15 20:07] jdhuntington opened #10825 "Pickers: Remove button present next to colors is not visible when focus goes on them in high contrast mode white and black. (Bug 6)"
Breakout of issue #8655

[2019-10-15 20:07] jdhuntington opened #10826 "[Accessibility][Keyboard Navigation]: Suggested tags text appears as if it’s a link due to its color (Bug 7)"
Breakout of issue #8655

[2019-10-15 20:08] jdhuntington opened #10827 "[Accessibility][Forms and validation]: 'Actions' label is not associated with its corresponding control. (Bug 1)"
Tracking all of the issues brought up with the 08/24 accessibility pass on Contextual Menu  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bcef6201c-bd85-44b6-a2d3-3784248461e0%7D&action=default&uid=%7BCEF6201C-BD85-44B6-A2D3-3784248461E0%7D&ListItemId=1259&ListId=%7B395E1ECB

[2019-10-15 20:08] jdhuntington opened #10828 "[Accessibility][Screen reader]: Label or place holder is not provided for the Edit field(250) present under Contextual Menu with Sub Menus (Bug 2)"
Tracking all of the issues brought up with the 08/24 accessibility pass on Contextual Menu  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bcef6201c-bd85-44b6-a2d3-3784248461e0%7D&action=default&uid=%7BCEF6201C-BD85-44B6-A2D3-3784248461E0%7D&ListItemId=1259&ListId=%7B395E1ECB

[2019-10-15 20:08] jdhuntington opened #10829 "[Accessibility][Screen reader]: Narrator focus moves twice on the first element of context menu in scan mode. (Bug 3)"
Tracking all of the issues brought up with the 08/24 accessibility pass on Contextual Menu  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bcef6201c-bd85-44b6-a2d3-3784248461e0%7D&action=default&uid=%7BCEF6201C-BD85-44B6-A2D3-3784248461E0%7D&ListItemId=1259&ListId=%7B395E1ECB

[2019-10-15 20:08] jdhuntington opened #10830 "[Accessibility][Screen reader]: Name, Role and state is not properly defined for split buttons under 'ContextualMenu with checkable menu items and toggleable split button'. (Bug 4)"
Tracking all of the issues brought up with the 08/24 accessibility pass on Contextual Menu  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bcef6201c-bd85-44b6-a2d3-3784248461e0%7D&action=default&uid=%7BCEF6201C-BD85-44B6-A2D3-3784248461E0%7D&ListItemId=1259&ListId=%7B395E1ECB

[2019-10-15 20:08] jdhuntington opened #10831 "[Accessibility][Screen reader]: Secondary text is not announced when user navigates in context menu under ContextualMenu with icons and secondary text [#6670]. (Bug 5)"
Tracking all of the issues brought up with the 08/24 accessibility pass on Contextual Menu  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bcef6201c-bd85-44b6-a2d3-3784248461e0%7D&action=default&uid=%7BCEF6201C-BD85-44B6-A2D3-3784248461E0%7D&ListItemId=1259&ListId=%7B395E1ECB

[2019-10-15 20:08] jdhuntington opened #10832 "[Accessibility][Screen reader]: Narrator does not read notification alert properly. (Bug 6)"
Tracking all of the issues brought up with the 08/24 accessibility pass on Contextual Menu  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bcef6201c-bd85-44b6-a2d3-3784248461e0%7D&action=default&uid=%7BCEF6201C-BD85-44B6-A2D3-3784248461E0%7D&ListItemId=1259&ListId=%7B395E1ECB

[2019-10-15 20:08] jdhuntington opened #10833 "[Accessibility][Screen reader]: In Scan mode user is not able to close the 'Contextual menu' using 'Esc key'. (Bug 7)"
Tracking all of the issues brought up with the 08/24 accessibility pass on Contextual Menu  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bcef6201c-bd85-44b6-a2d3-3784248461e0%7D&action=default&uid=%7BCEF6201C-BD85-44B6-A2D3-3784248461E0%7D&ListItemId=1259&ListId=%7B395E1ECB

[2019-10-15 20:08] jdhuntington opened #10834 "[Accessibility][Keyboard Navigation]: Tab Focus is moving out of the Notification window which appears on activating 'Share w/split button'. (Bug 8)"
Tracking all of the issues brought up with the 08/24 accessibility pass on Contextual Menu  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bcef6201c-bd85-44b6-a2d3-3784248461e0%7D&action=default&uid=%7BCEF6201C-BD85-44B6-A2D3-3784248461E0%7D&ListItemId=1259&ListId=%7B395E1ECB