[2016-12-15 06:04] mdahamiwal opened #695 "Accessibility: Tooltip doesn't link aria-describedby to tooltip content"
### Bug Report

- __Package version(s)__: https://fabricreact.azurewebsites.net/fabric-react/master/#/examples/Tooltip

#### Describe the issue:

In https://fabricreact.azurewebsites.net/fabric-react/master/#/examples/Tooltip, the aria-describedby attribute is not linked to tooltip content. In tooltip.tsx doesn't attaches the ref id with following block.

[code]

#### Actual behavior:

tooltip is

[2016-12-15 06:33] lijunle opened #696 "Strange behavior on people picker"
### Bug Report

- __Package version(s)__: v0.82.1
- __Browser and OS versions__: N/A

#### Describe the issue:

The `HOME` and `END` key in the people picker input box behavior strange. When I typed a wrong name in the input name and get no response, I expect `SHIFT+HOME` to select the text and delete it. However, it does not work.

#### Actual behavior:

Nothing is happened. The `SHIFT+HOME` is i

[2016-12-15 07:33] Vj3k0 commented on #479
Hi dzearing, is there any update on this implementation?
Thanks, Vjeko

[2016-12-15 13:13] lijunle opened #698 "Content awared crop on Image component under Cover mode."
The Image component under Cover mode is useful to crop the image to fix my container. It could be better to make it smarter. 😺

There is a JavaScript library named [smartcrop.js](https://29a.ch/sandbox/2014/smartcrop/examples/testsuite.html) to do content awared crop to get the cool part.

It could be awesome if Fabric-React can intergarte it or do a adpotion layer for it!

(If you want this, plea

[2016-12-15 21:09] #685 closed

[2016-12-15 23:24] wdo3650 opened #701 "IE 11: Panel fails to open after it's been closed three times"
### Bug Report

- __Package version(s)__: 0.82.1
- __Browser and OS versions__: IE11

#### Describe the issue:

Observed in Panel. The Panel fails to open after its been closed three times. Looking in the DOM, the overlay is not removed when the Panel is closed and in the console an error is thrown because of the use of remove() in Overlay. The method remove() is not available in IE11.

#### Actua

[2016-12-16 04:10] pankajkhanzode commented on #694
I have seen it happening on List control as well. Essentially, the images are sources from CDN and for fresh load it takes some time. So my hunch is other controls where we have icons sourced from CDN, this issue is seen on Edge.

@AbhinavSTeotia - Please confirm.

[2016-12-16 05:44] lijunle commented on #696
Another strange behavior on BACKSPACE keys. The auto-suggestion list is **suddenly** fill into the input box, and as a user I **completely cannot** predict what is going to happen when press LEFT, RIGHT or BACKSPACE.

It goes into very bad situation for accessibility. The blind people will get lost with his/her actions. Hope to get some ideas from @ipip2005

![strange](https://cloud.githubusercont

[2016-12-16 06:55] AbhinavSTeotia commented on #694
Observing this issue at multiple controls. Based on src of this issue, culprit seems to be in image.js. Hence a generic issue of image load from CDN (some delay) on edge when hard refresh is done.

[2016-12-16 09:22] arheom commented on #625
I think might be a bit more complicated to reproduce it. I only managed to reproduce it with Redux and having at least 2 components subscribing to Redux which generates cards both of them. But I will investigate it on my environment and will check why it happens and will post it here.

[2016-12-16 22:16] aaronyzhou opened #702 "DetailsListLayoutMode always uses fixedColumns"
### Bug Report

- __Package version(s)__: master

#### Describe the issue:

On our detail list, we set DetailsListLayoutMode to 'justified', however it always renders using fixed
columns view.

https://github.com/OfficeDev/office-ui-fabric-react/blob/78e462bc936350fee2806ee0e70d523e8deee9b5/packages/office-ui-fabric-react/src/components/DetailsList/DetailsList.tsx

In onColumnsResized, we pass in

[2016-12-19 23:44] joschect commented on #696
@lijunle Thanks for pointing this out. I'll get it fixed!

[2016-12-20 00:10] mikewheaton opened #709 "Image: ImageFit.Cover should work without width and height props"
### Bug Report

- __Package version(s)__:  latest
- __Browser and OS versions__: all browsers

#### Describe the issue:

#### Actual behavior:

When the image's size is set via CSS, rather than the `width` and `height` props, the `ms-Image-image--portrait` class is applied regardless of the image's dimensions. This results in a landscape image fitting like this:

![image](https://cloud.githubuserc

[2016-12-21 00:37] rickyp-ms commented on #629
I think we are looking into to be able to upload files to OneDrive, good to know that is already somewhere.

I'll check with my designers and get back to you... keeping this open for now depending on the response....

[2016-12-21 11:01] #683 closed

[2016-12-22 18:00] #695 closed

[2016-12-23 00:39] joschect commented on #701
this should be fixed now.

[2016-12-23 00:39] #701 closed

[2016-12-23 00:40] joschect commented on #669
@mikewheaton It's supposed to be when you add in your own background image or something like that. For now I'm closing this as I have added all of the mdl2 icons

[2016-12-23 00:40] #669 closed

[2016-12-23 00:55] joschect commented on #664
@dzearing Hey David, it looks like this is caused by this code
[code]
The assign should be `let headerProps = assign({}, dividerProps, groupProps.headerProps,); ` as it is right now the dividerprops are overriding the headerprops rather than the other way around.

That being said I believe that overriding it is the incorrect default behavior. It seems like, at least in the dividerprops, that "onTo

[2016-12-23 01:02] joschect commented on #271
@junchen1 Is this still something that is a problem for you? There have been quite a few changes to Button. Additionally, as Mike said order of class names does not impact how the styles are applied. The only thing that matters is the order of the styles in the actualy style sheet. Here is a quick stackoverflow that goes over that. http://stackoverflow.com/questions/3570423/does-the-order-of-style

[2016-12-23 09:26] akashgupta0307 opened #720 "In firefox, characters like 'g', 'y', 'p' clipped at bottom in TextField."
Browser: Firefox.
Version: 0.82.3.

Characters like 'g', 'y', 'p' clipped at bottom in TextField in firefox browser. Below is screenshot for the issue.

![image](https://cloud.githubusercontent.com/assets/2617531/21450039/40f980a2-c919-11e6-971d-da4192eec830.png)

[2016-12-23 13:33] Fensterbank opened #721 "ColorPicker does not update on props change"
### Bug Report

- Package version 0.80.1, but should still be valid

#### Describe the issue:

The color of the ColorPicker does not update when the color property is changed from outside.
I have a colorizable component where the user can either use the color picker or chose one of the predefined colors from a list.
When a predefined color is selected and therefore the color property of the ColorP

[2016-12-26 01:43] joschect commented on #720
@akashgupta0307 I only see that bug in Firefox when zoomed in. What OS and firefox version are you using?  Do you only see it when zoomed in or in all cases?

[2016-12-26 01:46] joschect commented on #637
@DianeD Hi, I'll take a look at this.

[2016-12-26 04:20] akashgupta0307 commented on #720
@joschect, below are details:
OS: Windows 10
Firefox: 50.1.0

Issue at 100% zoom. Below is what I observed at different zoom level.

Zoom: 67%, clipped
80%, not clipped
90%, 100%, 110%, 120% clipped,
133%, not clipped

[2016-12-26 04:53] AbhinavSinghT commented on #694
Any update on this issue, we are observing it more frequently now. The issue is observed only in Edge. Will upgrading package version help ?

[2016-12-26 06:05] mdahamiwal commented on #720
I can see it at all zoom levels. The padding in the `<input/>` are wrongly set to 6px and 7px for top and bottom. To vertically center the text we should have 32-14 = 18, 18/2 = 9px padding on both sides.

[2016-12-26 08:05] ronaldborman opened #724 "Incorrect list of Callout deprecated properties."
The Callout documentation at https://dev.office.com/fabric#/components/callout states that there are 16 deprecated properties.

AFAICS currently only 'beakStyle' is really deprecated.

[2016-12-27 10:17] mdahamiwal opened #725 "[TextField] [a11y]: Text field validation message is not announced by screen reader"
### Bug Report

- __Package version(s)__: master
- __Browser and OS versions__: IE 11, firefox 50.1

#### Describe the issue:

On validation error in a textfield, the error is not announced by the screen reader.

##### More debug info:
It happens since live region div is added only when error happens and screen readers are unable to read dynamically added/removed live region divs.
##### Possible f

[2016-12-28 10:00] mdahamiwal commented on #724
Thanks for catching it :) its a bug in property definition parser.

[2016-12-29 07:16] lijunle opened #727 "In Persona card, the long name and title is not truncated."
### Bug Report

- __Package version(s)__: latest, aka, v0.82.4
- __Browser and OS versions__: all

#### Describe the issue:

In Persona card, the long name and title is **not** truncated.

![image](https://cloud.githubusercontent.com/assets/1296500/21538326/d4f2deb8-cdd6-11e6-8d0d-acfcf14ba39a.png)

#### Actual behavior:

The strings are shown out of screen.

#### Expected behavior:

The strings s

[2016-12-29 16:47] micahgodbolt commented on #724
Great catch. Deprecated values need to be pushed to the bottom of our props list. Fixed!

[2016-12-29 17:04] micahgodbolt commented on #727
Unfortunately adding `width:100%` to `.ms-Persona` gives us
![image](https://cloud.githubusercontent.com/assets/1434956/21549174/506fc600-cda5-11e6-9b37-eef062777880.png)

It appears that the problem is our use of table layouts as they don't behave properly with width 100%. It's possible there is SOME combination of CSS that will work with tables, but I haven't found it yet. I'm guessing that a mo

[2016-12-29 17:23] lijunle commented on #727
@micahgodbolt The `width:100%` works fine in Chrome. Which browser are you using?

Yes, the problem is caused by `display:table`. But, why do we need `display:table` here? I remove the `table` and `table-cell`, everything is good.

[2016-12-29 17:35] micahgodbolt commented on #727
@lijunle strange. I'm also in Chrome on PC. The tables are used to vertically center the content. Flexbox would be the better solution.

[2016-12-29 17:37] micahgodbolt commented on #727
Ah, the difference is my screenshot was from the local version of the documentation, not the public website.

[2016-12-30 09:00] mdahamiwal opened #730 "TextField: Enhancement: Add support for auto adjust height"
#### Enhancement request:
Provide an option for TextField to auto-expand vertically. There are some cases where this is needed.

[2016-12-30 09:03] mdahamiwal commented on #730
Can someone review [f29efee](https://github.com/mdahamiwal/office-ui-fabric-react/commit/f29efeecb0946da731ea179852472b18e316c11b ) for changes ?

[2016-12-30 09:40] mdahamiwal commented on #692
I don't think there is a straightforward way to do this. Sounds like a nice to have enhancement. Changes should be trivial. @joschect can you review [e57d8be](https://github.com/mdahamiwal/office-ui-fabric-react/commit/e57d8be2bd830bcecd118a856bbdc33cf5f317a3) for this ?

[2016-12-30 17:06] mikewheaton commented on #730
Looks reasonable to me. In your PR, could you include an example? It would be added here: https://github.com/OfficeDev/office-ui-fabric-react/tree/master/packages/office-ui-fabric-react/src/demo/pages/TextFieldPage

[2016-12-30 17:14] mikewheaton commented on #694
@AbhinavSTeotia: I'm not aware of any work that's been done to investigate or fix this issue, as many people are out for the holidays right now. So even though it's unlikely to help, could you please verify that this issue exists in the [latest release (0.82.4)](https://github.com/OfficeDev/office-ui-fabric-react/releases/tag/office-ui-fabric-react_v0.82.4)?

[2016-12-30 17:19] mdahamiwal commented on #730
Hi @mikewheaton, I think I added in the earlier [commit](https://github.com/mdahamiwal/office-ui-fabric-react/commit/f29efeecb0946da731ea179852472b18e316c11b) itself, under office-ui-fabric-react/src/demo/pages/TextFieldPage/examples/TextField.Basic.Example.tsx

[2016-12-30 17:24] mikewheaton commented on #730
Ahh perfect, I missed that. Thanks!

[2016-12-30 17:25] mikewheaton commented on #692
@mdahamiwal: I can take a look. Can you submit a pull request for this?

[2016-12-30 17:35] joschect commented on #692
Tenatively I think it looks fine, but I agree with @mikewheaton please submit a pr.

[2016-12-30 23:28] joschect commented on #696
@lijunle Hey, I just put in some changes to the baseautofill, which peoplepicker uses. If you want to pull down the branch and try it out you should see it being much improved.

[2017-01-01 16:46] raix opened #733 "Nav renders link as button"
I want to use react-router with the Nav, I wanted to use the `onClick` to intercept the default behaviour.

Expected no layout changes when adding the `onClick` handler to a link with an `url`

Actually renders as a button since it assumes some js action

Suggested solution might be to assume it being a button if `onClick` is set but not `url`.

[code]

or..

Use react to define `NavGroup`, `NavLi

[2017-01-04 02:13] #675 closed

[2017-01-04 07:53] mdahamiwal commented on #692
Thanks @joschect and @mikewheaton for taking a look. There are a few scenarios as part of this that are not very clear and require clarity:
1. TextFields can have initial values that may not be valid. Should we validate upfront or defer validation until onFocus/onBlur fires? I think we should validate if the value exists.
2. What happens when the component is re-rendered as part of prop changes? i

[2017-01-04 09:19] prmittal opened #737 "TextField component does not honor the "rows" attribute"
### Bug Report

#### Actual behavior:
The input box created is of height 60px (since the height in "ms-TextField-field" is set to 32 px and min-height in ".ms-TextField.ms-TextField--multiline .ms-TextField-field" is set to 60px)

#### Expected behavior:
Height of box should be based on the row count provided

### Repro:
http://codepen.io/anon/pen/YNzRga

[2017-01-04 17:10] cschleiden commented on #662
So from #650, there will be no merge of text- and searchbox? Do we still need this item as a "needs-design" reminder or can I change it back to the original issue? I need that `focus` method :)

[2017-01-04 17:15] mikewheaton commented on #692
I agree with you on both; we should run validation on the initial values and whenever it receives new props.

[2017-01-04 17:20] mikewheaton commented on #662
@cschleiden: Let's get the `focus` method added to SearchBox, but hold off on merging these components until we've had a chance to discuss with the design team. Thanks!

[2017-01-04 21:33] dzearing commented on #737
It seems that the style selector `.ms-TextField.ms-TextField--multiline .ms-TextField-field` needs:

[code]

[2017-01-04 21:35] dzearing commented on #730
Looks committed, closing. thanks!

[2017-01-04 21:35] #730 closed

[2017-01-04 22:19] #724 closed

[2017-01-04 22:19] #721 closed

[2017-01-04 22:20] #709 closed

[2017-01-04 22:45] dzearing commented on #698
I think it would be better to create a subclass or separate component that has this complexity. We should keep the `Image` basic to prevent package size from being bloated.

[2017-01-04 22:49] dzearing commented on #698
BTW the tech is awesome but 73ms per image is too large a price to pay for a bunch of thumbnails. A better solution would be to do this on the server at upload time and download crop centering coords at rendering time. Then the feature ask for `Image` simply becomes "provide x/y centering percentage".

[2017-01-04 22:49] #698 closed

[2017-01-04 22:50] #696 closed

[2017-01-04 22:53] dzearing commented on #688
@mikewheaton do you have a PR for this?

[2017-01-04 23:54] mikewheaton commented on #688
@dzearing I've assigned this to myself, should have a PR in tomorrow. 😊

[2017-01-05 01:04] dzearing commented on #737
Will be published in next batch.

[2017-01-05 01:04] #737 closed

[2017-01-05 01:10] dzearing commented on #688
Sounds good, thanks!

[2017-01-05 01:21] dzearing commented on #652
@joschect friendly ping

[2017-01-05 01:23] joschect commented on #652
@dzearing thanks, I'll get going on this.

[2017-01-05 01:51] dzearing commented on #694
@AbhinavSinghT @AbhinavSTeotia I don't really understand what you're experiencing. We have not seen this issue in our use cases. Do you have any details? You need to dig in to understand your scenario, what the server is returning, and why the image isn't getting a callback. Is there an event that isn't set up in time? Is the response hitting some code path that prevents the image from loading?

I

[2017-01-05 01:55] #686 closed

[2017-01-05 07:07] ipip2005 commented on #690
It's fixed and verified. Close the issue

[2017-01-05 07:07] #690 closed

[2017-01-05 07:40] nipunja opened #744 "Keystrokes are missed while typing in TextField control in IE11"
### Bug Report
- __Package version(s)__: 15.4.0
- __Browser and OS versions__: Internet explorer 11

#### Describe the issue:
Keystrokes are missed in TextField control while typing in IE11.

#### Actual behavior:
Keystrokes are missed while typing.

#### Expected behavior:
Keystrokes should not be missed.

### If applicable, please provide a codepen repro:
http://codepen.io/anon/pen/ggbWGr (Try i

[2017-01-05 12:54] mdahamiwal commented on #744
Its one of the known issue with React + IE11 if `onChange` is bind to a debounced delegate. In case of TextField, we have default deferred validation of 200ms and we miss the keystrokes during validation execution.
I could fix this using `onInput` instead of `onChange`. [Check this codepen](http://codepen.io/mdahamiwal/pen/QdwaMw).

[2017-01-05 13:18] nipunja commented on #744
Thanks manish for the update. The fix that you did in office fabric layer worked.  Is there any database where we can search all such known issues as we spent considerable time in discovering this issue.

[2017-01-05 14:13] mdahamiwal commented on #744
@nipunja, its not exactly a fabric issue but an issue with React + IE11 combo. You can refer to https://github.com/facebook/react/issues/7027 for details. This seems to be fixed but will be released only with React 16 which will take some time. For now using `onInput` seems the only way to get around it. @mikewheaton, can we take this change [IE11 fix](https://github.com/mdahamiwal/office-ui-fabri

[2017-01-05 15:42] mdahamiwal commented on #594
@iashishmittal , @dzearing  I don't see any reason to trigger `onGetErrorMessage` on re-render even though their is no change in its `value`. Note that a validation can be a hefty operation (we even support promises) and doing it without any checks can be overwhelming. `TextField` already support other props that can solve this scenario. IMO, we should take care of any such validation in the paren

[2017-01-05 16:26] panigrah opened #747 "Skinny Nav component on small screens - HOWTO?"
how do I get the Nav component to become skinny on small screens as suggested in the documentation?

The documentation says;

the Nav is always on-screen, usually on the left of the view. In smaller configurations, the Nav may collapse into a skinnier version or be completely hidden until the user taps an icon.

thanks,

[2017-01-05 18:18] mikewheaton commented on #747
Sorry for the confusion here, it looks like [Nav component](http://dev.office.com/fabric#/components/nav) is intended to be narrower on small screens, but this functionality hasn't been implemented yet. I'll reach out to our designers to see if we have designs for this.

In the meantime, `.ms-Nav` will expand to fill whatever container it is placed in, so you could use a media query to shrink its

[2017-01-05 22:25] satbai opened #749 "Dropdown selects an option when navigating with arrow keys"
### Bug Report
- __Package version(s)__: 0.82.3

#### Describe the issue:
Dropdown component fires onChange event every time arrow keys are used to navigate through options. This causes problems in certain cases, e.g. wanting to fire an Action on selected option that re-renders the component.

#### Actual behavior:
Arrow down selects the next option.

#### Expected behavior:
Arrow down focuses on

[2017-01-05 22:26] mikewheaton commented on #647
Confirmed: We want to support an (optional) icon in every TextField. Ready to proceed here with a fix.

[2017-01-05 23:15] cschleiden opened #750 "Pivot: Show icon in PivotItem link"
We have a requirement to show an icon next to/instead of the PivotItem link text.
I was thinking of just adding an `itemIcon` property, similar to the one in `Button` to the `PivotItem` props.

Example from my branch how it would look like, with different combinations of text/count/icon:

![image](https://cloud.githubusercontent.com/assets/2201819/21701175/0a445196-d359-11e6-9cf3-e9b64e1d779a.png)

[2017-01-05 23:37] dzearing commented on #750
Another approach would be to allow the tabs to be customized. That way the icon could be a font icon or an image, or some other component.

[code]

But icon addition might be a simpler to consume approach.

[2017-01-06 00:25] cschleiden opened #752 "SearchBox: line-height causes"
### Bug Report

- __Package version(s)__: Current

#### Describe the issue:

The `line-height` attribute on the `SearchBox` causes a cursor way bigger than the text on iOS.

![screen shot 2017-01-05 at 4 18 09 pm](https://cloud.githubusercontent.com/assets/2201819/21702818/b56ed27c-d362-11e6-940f-d1f936e0a912.png)

![screen shot 2017-01-05 at 4 19 35 pm](https://cloud.githubusercontent.com/assets/

[2017-01-06 00:30] cschleiden commented on #750
Hm, yes, valid point. I thought adding an icon would be simple enough to implement and usable in enough scenarios that an extra property would be worth it.

[2017-01-06 05:24] panigrah commented on #747
Thanks @mikewheaton. What's the recommended way to close the nav on small screens and have it slide open on click of icon?

[2017-01-06 05:31] AkshanshSrivastava03 opened #754 "Command Bar does not honour subMenuProps for sub menu items"
### Bug Report

- __Package version(s)__: ^0.82.3
- __Browser and OS versions__: (fill this out if relevant)

#### Describe the issue:
**[Command Bar issue]:**
As use of "Items" under IContextualMenuItem has been deprecated and use of submenuProps is advised, creating "submenu items for an item" in Command bar does not work. It does not work fine with submenuprops as its _onItemClick function fill

[2017-01-06 09:24] fantua opened #755 "DetailsList component crash the browser tab"
### Bug Report

- __Package version(s)__: 0.77.1
- __Browser and OS versions__: Chrome, macOS

#### How to reproduce:

1. Create page with DetailsList component: http://prntscr.com/ds5065
2.

- Click on empty place of page: http://prntscr.com/ds50y2
- Or on some padding of element: http://prntscr.com/ds51l3

3. Tab crashed: http://prntscr.com/ds53sj

The problem is in method [_isNonHandledClick](h

[2017-01-06 16:11] mikewheaton commented on #747
@panigrah: The container that holds the Nav will need to be shown and hidden when the button is clicked. You can use one of the [Fabric animation classes](http://dev.office.com/fabric#/styles/animations) such as `ms-u-slideRightIn10` to get a nice slide and fade in effect.

[2017-01-06 16:55] #752 closed

[2017-01-06 17:18] cschleiden commented on #750
Talked to the designers, we want to bring it to the design meeting next week, I'll wait for that, and then make changes depending on the outcome.

[2017-01-06 17:43] dzearing commented on #755
I believe this was fixed in version 0.80.1, with this change:

https://github.com/OfficeDev/office-ui-fabric-react/commit/b704394736cdeef996cb7cf4f8e67b7dae7856ba

[2017-01-06 17:43] #755 closed

[2017-01-06 17:44] dzearing commented on #754
@joschect or @MLoughry can you take a look?

[2017-01-06 17:45] dzearing commented on #744
@mdahamiwal it seems reasonable to me.

[2017-01-06 18:45] joschect commented on #754
It definitely doesn't make use of the submenuProps. Should be pretty easy to add.

[2017-01-06 19:02] dzearing commented on #750
Do you mind closing out the PR if you don't want to check it in? I'm going to move a bunch of stuff to the new repo location this weekend so i'm trying to clean up PRs.

[2017-01-06 19:08] MLoughry commented on #754
I have a fix, I'm just trying to get the regression tests for it working.

[2017-01-06 19:10] joschect commented on #754
@MLoughry Awesome. Thanks!

[2017-01-06 19:10] dzearing commented on #754
Thanks @MLoughry !

[2017-01-06 20:05] yaananth commented on #481
On latest, I don't seem to repro this...

[2017-01-06 20:07] dzearing commented on #481
Thanks for the followup. I will close this, please re-open if you see a clear repro.

[2017-01-06 20:07] #481 closed

[2017-01-06 20:08] dzearing commented on #749
@eliblock12 can you take a look I agree with this; it should read it aloud in the screen reader, it should set focus to the item, but shouldn't change the actual selection until committing.

[2017-01-06 20:10] dzearing commented on #733
@inateeg can you take a look? Seems like a simple improvement.

[2017-01-07 04:31] mdahamiwal commented on #725
@dzearing, can you review the [fix](https://github.com/mdahamiwal/office-ui-fabric-react/commit/5fa17be7894e18767b1848a3f929f78cf24b502c) ?

[2017-01-07 18:38] #522 closed

[2017-01-09 03:09] cschleiden opened #761 "LayerHost: shouldComponentUpdate cancels any update to children"
### Bug Report

- __Package version(s)__: >= 0.82.0

#### Describe the issue:

The `shouldComponentUpdate` implementation of `LayerHost` just returns false. Why do we do this? This causes any child/wrapped  component to be rendered initially but then not updated. Is this by design? If so, we should probably update the documentation. With the latest changes the examples doesn't actually wrap anythi

[2017-01-09 11:32] panigrah commented on #747
thanks @mikewheaton. I put a Nav into a Panel instead of using the animation class.

[2017-01-09 11:37] panigrah opened #763 "Independently scroll ms-Grid-col similar to mdContent from angular material"
How do I vertical scroll the content inside a ms-Grid-col independently of the other columns? Is there a component like the mdContent directive in angular material?

https://material.angularjs.org/latest/api/directive/mdContent

This component expands to take up all the space and anything content inside it scrolls independently of other content.

thanks,

[2017-01-09 12:56] mdahamiwal opened #764 "TextField: Fails a11y validation :: aria-describedby refer to element not available in the dom"
### Bug Report

- __Package version(s)__: all
- __Browser and OS versions__: all

#### Describe the issue:

TextField uses `aria-describedby` to link description or error message for the input element. For cases where no description or error message is available, aria-describedby refers to an unavailable id since description holder is not rendered. This fails the accessibility validation for the p

[2017-01-09 16:08] MirandaGe opened #766 "PeoplePicker: personas should truncate the names if they can't fit"
### Bug Report

- __Package version(s)__: all
- __Browser and OS versions__: all

#### Describe the issue:

The persona card of selected people doesn't perform properly when the browser window width is narrow.

#### Actual behavior:

1. open the example of people picker, input 'a' and select 'Another A Name (So Many A Names!)'.
2. narrow the window still the width of browser is less than that of p

[2017-01-09 16:23] cschleiden commented on #763
Can't you just set the `overflow` property of your column `div` to `auto` or `scroll`?

[2017-01-09 16:49] dzearing commented on #763
Yes agree. Define a css rule for a scrollable div.

Please reopen if you need more help.

[2017-01-09 16:49] #763 closed

[2017-01-09 16:57] #754 closed

[2017-01-09 18:50] mikewheaton opened #767 "Image: Cover style not computed when props change"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: N/A

#### Describe the issue:

When the image component receives props, it checks for the presence of the `width` and `height` props before computing a new cover style. The problem is that PR #712 introduced a feature where the image frame can be measured in the DOM, rather than looking at the props. In this case the c

[2017-01-09 18:58] #688 closed

[2017-01-09 19:02] cschleiden opened #768 "New component: Rating"
We are in need of a `Rating` component similar to this one in mwf:
http://getmwf.com/components/content/rating.html

We'll build it anyway, do you think something like this is generic enough to be included in office fabric? If so, we'd be happy to contribute back.

[2017-01-09 19:22] dzearing commented on #768
Love it, yeah IMO it's an easy addition.

[2017-01-09 19:58] joschect commented on #637
@DianeD It's interesting, the size of the image overlay, and background are the same, yet the background shows through. When I get some cycles I'll have to make the background imageInitials either conditional or have the color be not set when the image loads.

-Jon

[2017-01-09 21:01] gabrielruss opened #770 "TextField: onGetErrorMessage still triggering on form load"
It appears the validation is still checked on form load. You can see this behavior by making _getErrorMessage check something like value.length < 1. The onBlur and onFocus work correctly once you have entered and removed text from the field, but my initial thoughts were that it would be a good option to have the _getErrorMessage function not get called until the onBlur or onFocus events were trigg

[2017-01-09 21:30] dzearing commented on #761
While I understand your repro, I'm not sure we want to change this. Let me explain:

When a `Layer` renders, it needs to project into a target. In my current `Layer` implementation, if you provide a hostId, it will `getElementById` with the ID to identify the element to inject the layer within. If it can't find one, it needs a div appended to the end of the DOM to inject within.

`LayerHost` origi

[2017-01-09 22:06] dzearing commented on #761
BTW totally open to suggestions.

[2017-01-09 22:07] dzearing commented on #747
I am closing this; let us know if you need anything else. :)

[2017-01-09 22:07] #747 closed

[2017-01-09 22:20] cschleiden commented on #761
It makes sense, but took me by surprise :) My scenario was: I have an app using react-router, and I was using a `Layer` for showing a nav sidebar for a certain screen width. To position the `Layer` I had basically my whole app wrapped in a `LayerHost`. When upgrading to office fabric 81.3, initial rendering worked just fine, but I couldn't navigate to any other route..

Maybe we should just call o

[2017-01-09 22:26] dzearing commented on #761
The official website hasn't picked up the latest examples; once it does the example on the site will have the update.

[2017-01-09 23:09] cschleiden commented on #761
But it will still **talk** about wrapping! :)

[2017-01-10 00:50] #767 closed

[2017-01-10 03:46] gggjtgxing opened #776 "Pivot: JAWS reads “Use JAWS key plus Alt + M to move the control element.” This is confusing."
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Describe the issue:
When focus on one pivot item, JAWS reads 'Use JAWS key plus Alt plus M to move the control element', but using these keys are not working.
#### Actual behavior:

#### Expected behavior:
Remove 'Use JAWS key plus Alt plus W to move t control element'.
### If

[2017-01-10 03:51] dzearing commented on #776
@cschlechty thoughts?

[2017-01-10 04:05] gggjtgxing opened #777 "Dropdown: When focus on Dropdown not expanded and press 'ESC', this key event is trapped in dropdown and wont go up to higher level."
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Describe the issue:
when dropdown is expanded, press 'ESC' to close the expended list.
but when dropdown is not expanded, and press 'ESC', dropdown should do nothing and propagate this event to upper level.
example case:
`<dialog><dropdown/></dialog>`
When focus on dropdown no

[2017-01-10 04:23] gggjtgxing opened #778 "Dropdown: When tab to a dropdown with selected option, it won't read out current selected item."
### Bug Report
screen reader: JAWS Version 17.0.2619
browser: Internet Explorer 11
os: window server 2012 R2

#### Describe the issue:
When tab to a dropdown which has selected option, screen reader should read out what is current selected item.

#### Actual behavior:

#### Expected behavior:

### If applicable, please provide a codepen repro:

[2017-01-10 04:25] dzearing commented on #777
@eliblock12 can you take a look?

[2017-01-10 04:28] dzearing commented on #778
@eliblock12 another dropdown issue, Not sure if this is a real issue or a flakey screen reader.

@gggjtgxing can you provide info on the screen reader/os/browser you're using?

[2017-01-10 04:53] gggjtgxing commented on #778
I added browser and OS versions to bug report field. but I don't think they're relevant.
maybe it's a regression issue caused by my last code change, and I'll look at this.

[2017-01-10 05:11] mdahamiwal commented on #778
@gggjtgxing , I wanted to point out this issue in the you last PR where you marked the option label as live-region to announce option change. Unfortunately, the comment remained unposted :), my bad, we just need to use describe by 'option_label' on the focusable container for first focus option announcement. Hope that helps. Thanks

[2017-01-10 05:33] gggjtgxing opened #780 "Dropdown: when switch option from a dropdown, screen reader for selected option will be skipped if there's other component's alert read out"
### Bug Report

screen reader: JAWS Version 17.0.2619
browser: Internet Explorer 11

#### Describe the issue:

After choosing an option from dropdown, it read out the option text immediately, but if at the same time there's another alert read out something, dropdown screen reader will be skipped.

#### Actual behavior:
A scenario for this issue:
I use key down to select 'option d', another control

[2017-01-10 05:51] nipunja commented on #744
Thanks @mdahamiwal for quickly fixing the issue.

[2017-01-10 07:35] mdahamiwal commented on #770
We discussed the behavior as part of #692 and came to agreement that component mount and prop changes should still trigger the validation. Mainly to handle cases where form data is already present and we need to show validation errors without user's focus/blur on the TextField.
I agree that there can be cases like the one you have mentioned where we don't need onLoad validation but to me it looks

[2017-01-10 07:57] mdahamiwal commented on #777
Nice Catch!! This applies to other keys as well for which Dropdown doesn't provide any behavior but may trigger some behavior in parent components. Currently `_onDropdownKeyDown`, always does `ev.stopPropagation()` even if dropdown doesn't handle the key event.

[2017-01-10 11:43] mdahamiwal commented on #776
There are two things in Pivot to fix from accessibility POV:
1. Remove `aria-controls` from Tab items.
    * It is only supported with JAWS+firefox. For other browsers its just a unnecessary noise. Refer to [this](http://juicystudio.com/article/aria-controls-lack-support.php) for more info.
    * According to [tabpanel](https://www.w3.org/TR/wai-aria-1.1/#tabpanel) design pattern this relationship

[2017-01-10 12:57] gggjtgxing commented on #776
Thank you !

[2017-01-10 13:02] gabrielruss commented on #770
I will attempt to fix my issue with the current implementation. Thank you for your reply.

[2017-01-11 01:38] rickyp-ms commented on #768
Should this only do whole integers (1,2,3,4,5/5) or also handle partial 4.654/5?

[2017-01-11 01:43] rickyp-ms opened #784 "TextField: Support 'add on' on right side of field"
When generating email addresses often times (in O365) the email address is always in the domain. To make things easier we would like to have it so the user only has to input the alias.

Our designer gives the following as an example... I'm curious how hard you think it would be to write the css for this and have it be maintainable. I've been thinking on it but could use some second opinions.

![em

[2017-01-11 10:38] maxali opened #786 "New Component: Grid Layout"
### Suggestion: components for style layout classes

Components for Layouts like:

[code]

instead of:
[code]

#### Expected behavior:
I think it will save keystrokes and simple to memorize component names instead of long abbreviated class names.

Its also more readable.

Any idea about this?

[2017-01-11 11:36] prmittal opened #787 "SearchBox: borders not visible in high contrast"
![image](https://cloud.githubusercontent.com/assets/11937034/21847061/ee6ab3b8-d81f-11e6-9f84-9e80f0f63ce6.png)

The screen shot is taken from the fabric-react demo page.

[2017-01-11 11:42] prmittal opened #788 "Text for selected/hovered item in dropdown is not displayed in high contrast"
![image](https://cloud.githubusercontent.com/assets/11937034/21847193/984c9194-d820-11e6-9cd3-9f2958dd51c8.png)

The screen shot is taken from the fabric-react demo page.

Also, the border above and below the drop icon is hidden.

[2017-01-11 11:45] prmittal opened #789 "Link without href does not get highlighted in high contrast"
![image](https://cloud.githubusercontent.com/assets/11937034/21847360/83793974-d821-11e6-9ff6-15a6b85d3f44.png)

The screen shot is taken from the fabric-react demo page.

[2017-01-11 11:57] nipunja opened #790 ""Search keyword" in Search box is not aligned on IE11"
### Bug Report

- __Browser and OS versions__: IE11

#### Describe the issue:

"Search keyword" in Search box is not aligned on IE11
![image](https://cloud.githubusercontent.com/assets/11870255/21847660/15db2876-d823-11e6-8e5b-11aec552711c.png)

#### Actual behavior:

"Search keyword" in Search box is not aligned on IE11

#### Expected behavior:

"Search keyword" in Search box should be aligned

#

[2017-01-11 12:05] nipunja opened #791 "CommandBar: [HighContrast] menu items shifts towards right on hover"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: Tested on IE11 & might be applicable to other browsers as well

#### Describe the issue:

[HighContrast]Right Shift in menu items of commandBar on hover

#### Actual behavior:

[HighContrast]Right Shift in menu items of commandBar on hover
![image](https://cloud.githubusercontent.com/assets/11870255/21847867/3522e57e-d

[2017-01-11 12:09] nipunja opened #792 "TextField: Error text is not highlighted in High contrast mode"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Describe the issue:
Error text is coming in same color & font as the normal text. So not able distinguish error in high contrast.

![image](https://cloud.githubusercontent.com/assets/11870255/21847979/a4b1313e-d824-11e6-828d-5f5cc3c3657f.png)

#### Actual behavior:
Not able to

[2017-01-11 13:32] mdahamiwal commented on #790
Already fixed with https://github.com/OfficeDev/office-ui-fabric-react/commit/a8a6792be4f44cc4b6a3317616f7154aae83925f. Can you check with latest fabric version?

[2017-01-11 13:40] mdahamiwal commented on #788
Its a bug with Edge browser. You shouldn't see this in IE11 or any other browser. We have a tracking issue with Edge team to fix this.

[2017-01-11 15:08] gabrielruss opened #793 "Question: REST get item metadata and load the values into fields"
I am working on an edit form for SharePoint. My current process is that I am using a REST call to obtain the list item's current values. Once the REST call returns the values, the promise is resolved and the state is set to the response object that contains the item's columns along with the current column values. I then want to take those values and load them into the appropriate field on the Reac

[2017-01-11 18:03] mdahamiwal commented on #793
Better to float such open questions over stackoverflow. Just to give you some pointers on approaches, it depends upon scale of your form and how the rest of the page is designed.
1. If it is a very simple form, you can create a container component that holds responsibility for REST call and pass down the results to appropriate components when ready, like something discussed at http://stackoverflow

[2017-01-11 18:05] cschleiden commented on #768
I restricted it to whole integers for now, since we initially focused on the input part. Another step will be to show an aggregate score in addition to allowing the user to input, for that we will also support "half stars".

[2017-01-11 18:05] #768 closed

[2017-01-11 18:05] #750 closed

[2017-01-11 18:06] gabrielruss commented on #793
Thank you for the help! I apologize for posting in the wrong place.

[2017-01-11 18:06] #793 closed

[2017-01-11 18:06] #770 closed

[2017-01-11 18:18] dzearing commented on #768
In use cases in SharePoint for rating, it does support half star scenarios. Would definitely be nice to consider supporting floating point. Not very difficult.

[2017-01-11 18:30] cschleiden commented on #768
Not saying that it can't be done, just that we only focused on input for now. For accessibility, the control is built using radio buttons (i.e., discrete), so I think for input it would make sense to restrict to 0.5 increments.

For display, I agree, if we use a div with some `overflow: hidden`, it'd be relatively easy to calculate the required width to display floating point.

[2017-01-11 20:13] dzearing commented on #784
Couldn't you take the border off the TextField with css, and then render it within a DIV that flexboxes the TextField and the div containing the domain and check glyph?

[2017-01-11 20:30] dzearing opened #795 "DetailsList: When grouped, adding items to an existing group causes the whole group to repaint."
### Bug Report

- __Package version(s)__: current (0.86.2)
- __Browser and OS versions__: all

#### Describe the issue:

When adding an item to a group in a GroupedList or DetailsList, the group section uses the item count for its generated key, rather than using the key provided by the caller. This leads to the group repainting unnecessarily.

#### Expected behavior:

Only the new items should fa

[2017-01-12 00:08] mikewheaton opened #798 "New Component/Utility: Text Truncation"
There are several places in SharePoint that call for "maximum of X lines where the last line truncates if necessary". This functionality has been built by @leddie24 and @battletoilet and I've used it in other contexts as well. This would be a helpful utility/component to bring to Fabric React for wider use.

Example:
![image](https://cloud.githubusercontent.com/assets/1382445/21871559/c6ce356c-d81

[2017-01-12 03:23] #761 closed

[2017-01-12 03:23] cschleiden commented on #761
Fixed with #776

[2017-01-12 04:04] #795 closed

[2017-01-12 04:05] dzearing commented on #727
This is now checked in.

[2017-01-12 04:05] #727 closed

[2017-01-12 07:13] ENDiGo commented on #616
Is there any solution in SSR? I'm testing with next.js but i need SSR.

[2017-01-12 11:30] MirandaGe opened #799 "Button: width of icon button is not set correctly in Safari"
### Bug Report

- __Package version(s)__: all
- __Browser and OS versions__: Safari

#### Describe the issue:

The width of icon button (80px) is larger than the expected size(32px).
The reason is `min-width: auto` is not supported in Safari.

#### Actual behavior:

<img width="929" alt="screen shot 2017-01-12 at 4 43 39 pm" src="https://cloud.githubusercontent.com/assets/16030290/21887855/b9c996a

[2017-01-12 12:03] ipip2005 opened #800 "Button: ariaDescription prop not readout by JAWS 18."
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: IE 11 and JAWS 18

#### Describe the issue:

The prop ariaDescription of Button component is not working correctly with JAWS 18.

#### Actual behavior:

The string passed to ariaDescription is not read.

#### Expected behavior:

The string passed to ariaDescription is read.

### If applicable, please provide a codepen

[2017-01-12 12:11] ipip2005 commented on #800
Is currently preparing a fix, will move the description text outside the button element.

[2017-01-12 12:46] mdahamiwal commented on #800
Works for me with IE11, Edge or firefox with NVDA or narrator screen reader. Can you try with some other browser ?

[2017-01-12 13:50] martinalbrektson opened #801 "New Component: Selectable Treeview"
When developing in Office 365 and SharePoint there is, sooner or later, a need to let the user pick items in a SharePoint term set that often is a hierarchical structure.
Since we do not want to make product (SharePoint) specific components we should instead focus on a component that is far more generic. So what is needed is a component that can handle a hierarchical structure and where a user can

[2017-01-12 17:32] mikewheaton commented on #799
Thanks for the bug report, @MirandaGe. I'll get this fixed.

[2017-01-12 17:44] cschleiden opened #802 "DetailsList: Allow text selection when not in multiple selection mode"
The `DetailsList` prohibits selecting text in cells by default by setting `user-select: none` and `cursor: default`.

Would it make sense to make that configurable (maybe a `blockSelection` property)? In VSTS we've had to override these styles for a few grids, because we do need selection.

[2017-01-12 17:47] mikewheaton commented on #799
Which version of Safari are you using? I've tested on 10.0.2 (12602.3.12.0.1) and `min-width: auto;` is working as expected:

![image](https://cloud.githubusercontent.com/assets/1382445/21901328/163f0362-d8ac-11e6-82d6-c703b11ccd70.png)

![image](https://cloud.githubusercontent.com/assets/1382445/21901307/03ebc7c2-d8ac-11e6-9d4a-ff91bc6c7fdb.png)

[2017-01-12 17:50] cschleiden commented on #798
We have built something similar because we had the requirement to left-truncate text. For content like `"Project\Some area path\Another level\Team\Feature Area X"` the right-most part is more important, so we need ellipsis on the left.

Might be something that could be incorporated into such a component. We'd use it.

[2017-01-12 18:02] dzearing commented on #802
Adding @aditima

The culprit is on `ms-DetailsRow`. The concern is that having user-select allowed plays against row selection/marquee selection/drag drop scenarios we have in OneDrive and SharePoint.

For example, if you disable it, click on the first row and then shift click on the last row to select a range. I think we're doing everything right here in terms of preventing default/stopping propa

[2017-01-12 18:02] mikewheaton commented on #798
That's a good point, @cschleiden. Now that I think of it, we've also done center truncation in the DocumentCard. The idea there is that in a long filename the beginning and end are most important so "Planning Committee Meeting Notes December 14 2017 (Revised).docx" becomes "Planning Committee Meeting ... (Revised).docx".

[2017-01-12 18:13] cschleiden commented on #802
Yeah, if you care about selecting whole rows, that makes sense. What if we tie it to the selection mode? We have many use cases where we don't care about selection, but use the `DetailsList` to present data in a nice, tabular, customizable way. It's required for us to allow users to copy data from these tables.

[2017-01-12 18:14] dzearing commented on #802
I think that would be totally reasonable. Only set `user-select` to `none` for multiple selection mode.

[2017-01-12 18:15] dzearing commented on #802
@aditima you good on this as well? I can't think of anything that would regress.

[2017-01-12 18:17] dzearing commented on #702
I tried reproing what you're saying but i couldn't quite get it. Are you setting the right propery?

[2017-01-12 18:50] dzearing commented on #725
I don't really understand the fix. Adding @ipip2005

[2017-01-12 22:45] #802 closed

[2017-01-12 23:07] dzearing commented on #694
I'm going to close this issue as I can't repro it. Please re-open if you can provide a repro.

[2017-01-12 23:07] #694 closed

[2017-01-12 23:08] dzearing commented on #650
I think we can track this with one bug #647

[2017-01-12 23:08] #650 closed

[2017-01-12 23:10] dzearing commented on #479
Resolved.

[2017-01-13 01:57] MirandaGe commented on #799
Thank you Mike!
I use a Version of 9.1.2(11601.7.7)

[2017-01-13 04:49] cschlechty commented on #792
We should just add a glyph before the error (like !)

[2017-01-13 04:53] cschlechty commented on #789
By design. If it's not focusable, the browser treats it as text.

[2017-01-13 04:57] cschlechty commented on #789
Since link with no href is a button, additional css is needed to make it "link-like."

[2017-01-13 04:59] cschlechty commented on #780
The text should be queued in most screen readers. Which browser and screen reader?

[2017-01-13 05:05] cschlechty commented on #776
The key suggestions is a JAWS specific hint from JAWS. We should focus on correctly wiring the control, and file a bug to JAWS if there's specific AT bugs.

[2017-01-13 05:10] cschlechty commented on #725
Fix looks good.

[2017-01-13 05:15] gggjtgxing commented on #780
I filled 'bug report' field with browser and screen reader version.
Here is a scenario:
I use key down to select 'option d', another control read out 'alert, your page has been saved', and reading nothing for dropdown. I expect  this: read 'option d' first, then read other alert 'alert, your page .....';

[2017-01-13 05:53] mdahamiwal commented on #725
Thanks @cschlechty for the review. Its an issue with how browser and screen reader together support accessibility APIs. Some browsers + screen reader combinations like IE11, Edge + NVDA don't react to dynamically added live-regions or alerts. For IE11, Edge + narrator it does. Same way, NVDA with firefox works without any glitch. By this fix we will be supporting all browser + screen readers combi

[2017-01-13 06:14] ipip2005 commented on #800
Thanks for reproducing with other ATs.
It's probably an JAWS regression of aria description.
I tested with old version of JAWS 17, it's working properly.
But for JAWS 17 latest version and JAWS 18, it's not working.

[2017-01-13 06:33] ipip2005 commented on #800
I've reported the issue to JAWS team with a reproduce http://jsbin.com/gaqukufobi/1/edit
Should this issue keep open until JAWS fixed this?

[2017-01-13 06:36] dzearing commented on #800
I think we should close this, as there is nothing we can do here.

[2017-01-13 06:36] #800 closed

[2017-01-13 07:12] mdahamiwal opened #808 "Nav: link text is clipped by drop-icon when switched to RTL mode"
### Bug Report
- __Package version(s)__: master

#### Describe the issue:
In RTL mode the expandable navigation link text is clipped by drop icon on first load. Morover, the indentation for other elements is also affected. Check level 1 elements.
![image](https://cloud.githubusercontent.com/assets/12109362/21921213/6d575e0c-d98c-11e6-9fbf-fc3ed8871b49.png)

However, once we interact with the nav i

[2017-01-13 07:21] mdahamiwal commented on #790
Verified with latest bits and confirm it is fixed.

[2017-01-13 07:21] #790 closed

[2017-01-13 09:37] notgiorgi opened #809 "How to set `name` prop on ChoiceGroup?"
### Bug Report

- __Package version(s)__: (0.82.4)

I want to have `ChoiceGroup` component in my form, and I need (I'm using redux-form) to set `name` prop on it:

[code]

But instead of having `"myChoiceGroup"` as name, component ends up with some random generated string.

I looked at source code and cannot find the way to override this behavior:
https://github.com/OfficeDev/office-ui-fabric-reac

[2017-01-13 09:45] notgiorgi commented on #809
Same is true for `TextField` component and _I suppose_ for every form element

[2017-01-13 10:47] notgiorgi commented on #809
https://github.com/OfficeDev/office-ui-fabric-react/issues/54

[2017-01-13 10:48] notgiorgi commented on #809
#54

[2017-01-13 10:49] notgiorgi commented on #54
@gabrielruss did you find a way to do it?

[2017-01-13 11:48] ipip2005 commented on #725
The change looks OK for me and won't affect the original behavior. It's good to learn this trick of AT+browser combinations.
As I know, NVDA recommends Firefox as its working-with browser. (some hard-code support)
JAWS officially supports IE and Firefox as its working-with browser.
@mdahamiwal is this issue also affect NVDA + Firefox? In our team's a11y testing we only focus on the major combinati

[2017-01-13 12:39] #764 closed

[2017-01-13 13:14] gabrielruss commented on #54
@notgiorgi Yes, I am currently using the method I described in my previous comment. I believe you could also create a parent component for the TextField (or any component type) and specify a name property on the parent component. Then on the child component's onChanged method, call this.props.onChanged and pass this.props.name. This is a strange method...but it works currently.

Here is the onChan

[2017-01-13 13:18] mdahamiwal commented on #725
This doesn't affect NVDA + Firefox. Having said that, we may be OK with not taking this fix. For IE and Edge it anyway works with narrator.
I have no idea on how disabled users choose ATs but JAWS and NVDA are more popular as compared to others. Personally, I prefer testing with NVDA + Edge primarily for two reasons:
1. Its a first party browser and ships as default with windows 10. Testing with E

[2017-01-13 16:40] 2toLeadMike opened #810 "Picker Compatibility Issue within SharePoint Online and IE11"
### Bug Report

- __Package version(s)__: 0.86.2 (previously was at 0.56.0 with same issue)
- __Browser and OS versions__: Windows 10 IE 11

#### Describe the issue:

The picker controls (i.e. People Picker, Tag Picker) do not work in IE11 in the sense that whenever a second character is typed it comes before any available selection. This appears to be only an issue when run within a SharePoint On

[2017-01-13 17:28] cschlechty commented on #725
The major browser combos are Narrator+Edge, JAWS+IE11, and NVDA+Firefox. We generally want to test with the first 2 as we are making great strides in our first party AT and want to ensure it's useable, and JAWS because it has the lions-share of usage (the last I checked, it was ~80%). If it works there, we should be pretty set as remaining bugs would be AT specific.

[2017-01-13 19:10] dzearing commented on #809
@notgiorgi Just tried `TextField` and name attribute works fine. That was fixed a while ago.

http://codepen.io/dzearing/pen/ZBEVzw

`ChoiceGroup` and `Checkbox` are both screwing up the name attribute, which is a terrible oversight that we should fix ASAP. @mikewheaton or @micahgodbolt can one of you fix this so that we can use these components in forms?

[2017-01-13 19:41] mikewheaton commented on #809
You can assign it to me, but I'm swamped at the moment so likely won't get to it until next week. Are you available any sooner @micahgodbolt?

[2017-01-13 19:43] dzearing commented on #809
Or @leddie24

[2017-01-13 21:45] MLoughry opened #812 "Persona: Textboy background bleeds through edges of photo"
### Bug Report

- __Package version(s)__: 0.87.1
- __Browser and OS versions__: Chrome, Windows 10

#### Describe the issue:

The background color of the `Persona` textboy bleeds around the edges of the photo (if present). You can see this on the demo page.

#### Actual behavior:

Almost imperceptible border of red around the photo:

![image](https://cloud.githubusercontent.com/assets/20823465/219

[2017-01-13 21:54] MLoughry opened #813 "Persona: DOM box size does not reflect rendered size"
### Bug Report

- __Package version(s)__: 0.87.0
- __Browser and OS versions__: Chrome, Windows 10

#### Describe the issue:

The "box size" of the `Persona` control is narrower than its actual rendered content, as the image/initials uses flex and has no defined width. This causes clipping issues when hosted within a `Layer`, for example.

#### Actual behavior:

![image](https://cloud.githubuserco

[2017-01-13 22:04] #813 closed

[2017-01-13 22:10] joschect commented on #810
@2toLeadMike hey, I'm not able to reproduce this. I made a lot of improvements to the autofill that was released in v.83.0 https://github.com/OfficeDev/office-ui-fabric-react/releases/tag/office-ui-fabric-react_v0.83.0 . Could you give it a try with those changes? I suspect it should fix it.

[2017-01-13 22:12] joschect commented on #810
@2toLeadMike I just can't read, let me try out more things to see if I can repro

[2017-01-13 22:34] dzearing commented on #812
interesting, I think easy to fix by perhaps using a smaller circle or transparent bg color after photo loads. @leddie24 Perhaps you could help?

[2017-01-13 22:34] dzearing commented on #812
or @MLoughry

seems pretty simple.

[2017-01-13 22:36] dzearing commented on #809
@leddie24 did you already start on this? Jon can address this pretty quickly, can you take a look at the persona bleeding an outline one?

[2017-01-13 22:46] joschect commented on #812
@dzearing @MLoughry  Hi, I think that this is the same as https://github.com/OfficeDev/office-ui-fabric-react/issues/637 . I looked into it and from the css perspective it was not simple. The best solution would be to likely to have the transparent color set, or maybe even don't display the initial color sphere.

[2017-01-13 23:16] MLoughry commented on #812
I concur with @joschect that it's hard to do with CSS from my investigation. I've opened a PR to do it programmatically, if that's acceptable.

[2017-01-13 23:23] dzearing commented on #809
This is now merged and will be published in this evening's build. Please let us know if you have any issues!

[2017-01-13 23:23] #809 closed

[2017-01-13 23:23] aaronyzhou commented on #702
We are experiencing a lot of issues with the justified layout mode.
When the first column has no 'maxWidth' property, the entire detailslist gets squished. When we do
have a 'maxWidth' for the first column, the details list does not respect the 'maxWidth' parameter for the
other column. We can also resize both columns to be larger than maxWidth.

http://codepen.io/anon/pen/OWXZrx?editors=0110

[2017-01-14 05:50] mikewheaton opened #818 "Update browser support documentation"
The [browser support documentation](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/ghdocs/BROWSERSUPPORT.md) here in the GitHub repo shows that we support IE10. Now that 🎉  SharePoint Online is dropping IE10 support 🎉 , I'm assuming we can do the same in Fabric?

Also, is it really just Firefox where we support the last major release? I thought we supported the two most recent maj

[2017-01-14 06:05] notgiorgi commented on #54
@gabrielruss It got fixed #809

[2017-01-15 01:02] tonymobster opened #819 "Inconsistent onChange/onChanged prop types"
### Bug Report

- __Package version(s)__: 0.85.0

#### Describe the issue:

Some components have an onChange prop e.g. Searchbox, Slider, Checkbox while others use onChanged e.g. TextField, Toggle, DropDown

#### Actual behavior:

Prop types are not consistent
#### Expected behavior:

Prop types should be consistent

[2017-01-15 04:31] mikewheaton commented on #819
From recent PRs, like #817, it looks like `onChange` is the preferred name. Let's deprecate any remaining instances of `onChanged` and replace them with `onChange`.

[2017-01-15 13:11] notgiorgi commented on #809
Thanks for such a fast feedback and fix 🎉

[2017-01-15 17:43] fantua opened #820 "ChoiceGroup: Add checkedKey prop"
### Bug Report

- __Package version(s)__: 0.88

#### Describe the issue:

For ChoiceGroup there is no prop **checkedKey**(value) to control his state with onChanged.

#### Expected behavior:

Add checkedKey prop as in [Dropdown](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.Props.ts#L22) component.

[2017-01-15 20:17] mikewheaton opened #821 "Update deprecation maps for all components"
@cschleiden made a [suggestion](https://github.com/OfficeDev/office-ui-fabric-react/pull/817#discussion_r96130956) while reviewing a PR that we should log a console warning when deprecated props are used:

We haven't discussed quite when we're going to go ahead and delete all of the deprecated functionality, but when we do we'll want to be sure that developers have had plenty of warning.

[2017-01-15 21:52] fantua opened #822 "DatePicker: isRequired validation bug"
### Bug Report

- __Package version(s)__: 0.88

#### Describe the issue:

Create form with TextField and DatePicker components. TextField is controlled component (by value and onChanged), so when typing some data to him - React will re-render form.

#### Actual behavior:

After re-render validation is fired.

#### Expected behavior:

Validation should fired only when DatePicker loses focus.

####

[2017-01-15 23:17] mikewheaton commented on #821
Turns out we already have this. @dzearing is going to update the [best practices documentation](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/ghdocs/BESTPRACTICES.md) and then we can assign this to someone (I'll likely be able to do it) to go through and make sure we have warnings for all deprecated properties.

[2017-01-15 23:23] cschleiden commented on #821
Sounds good. I'll also have a look at how it's implemented.On Jan 15, 2017 15:17, Mike Wheaton <notifications@github.com> wrote:Turns out we already have this. @dzearing is going to update the best practices documentation and then we can assign this to someone (I'll likely be able to do it) to go through and make sure we have warnings for all deprecated properties.

—You are receiving this because

[2017-01-16 05:39] jchilde opened #824 "TextField: Does Not Accept Input On Sharepoint Page - IE11 (works elsewhere)"
### Bug Report

- __Package version(s)__: .88
- __Browser and OS versions__: ie11 windows 10

#### Describe the issue:

Text Field rendered in SharePoint (not spFx - but may also affect spfx), does not accept text.  Text Field works fine when rendered outside of SharePoint.

To recreate - enter simple react textfield with label and no other elements.

#### Actual behavior:

TextField does not acce

[2017-01-16 17:41] lijunle opened #825 "Publish CDN for fabric-react and codepen template."
I am trying to repro a bug with codepe.

However, I don't find the CDN location for fabric-react. A better solution is provide a simple fabric-react hello world to get start. [Here](https://facebook.github.io/react/docs/installation.html#trying-out-react) is how React works.

[2017-01-16 17:42] dzearing commented on #825
@mikewheaton or @battletoilet Can we add a section in the official site about CDN locations or at least a link to an official codepen?

[2017-01-16 17:43] dzearing commented on #825
@lijunle you can look here:

http://codepen.io/dzearing/pens/public/?grid_type=list

[2017-01-16 18:14] mikewheaton commented on #825
The [get started page](http://dev.office.com/fabric#/get-started#react) has this:

![image](https://cloud.githubusercontent.com/assets/1382445/21994362/3a8206ae-dbd4-11e6-8e29-dd7b95f0e917.png)

That would be a good spot to mention that it's available via CDN, with a CodePen link to demonstrate how that can be used.

[2017-01-16 19:22] piyusing opened #828 "DetailsList selection reset when clicked outside anywhere in DOM such that the target element is non-tabbable"
### Bug Report

- __Package version(s)__: (.88)

#### Describe the issue:
Due to recent changes in SelectionZone.tsx, in method componentDidMount, empty clicks are now handled specially. Due to which the selection which a user has already made in detailslist is cleared out if the click is made on any non-tabbable element in the DOM.
#### Actual behavior:
After making selection in DetailsList click

[2017-01-16 19:49] dzearing commented on #828
We have conflicting requirements here. What is the scenario where a click on a non clickable entity should preserve the selection? Could you get more details?

[2017-01-16 19:55] dzearing commented on #824
@jchilde probably need more information. What page are you rendering the textfield in? Is there some sort of conflicting CSS? Something overlaying the textfield, or maybe soaking click events? Is it a classic sharepoint page or modern?

@srideshpande or @antonlabunets Have you seen this at all?

[2017-01-16 20:07] antonlabunets commented on #824
We've seen it intermittently on File Picker > "From Link" tab. I think @cmalonzo at some point tracked it down to Skype Full Experience soaking?

[2017-01-17 03:19] jchilde commented on #824
I am using Sharepoint Online, Typescript 2.1.5. This is not in a spFx webpart.  I am also using:
    "@types/react": "0.14.57",
    "@types/react-dom": "0.14.20",
    "office-ui-fabric-react": "^0.87.0",
    "react": "^15.4.2",
    "react-dom": "^15.4.2"

The behavior occurs on both a classic sharepoint online wiki page and a classic sharepoint online new item form.  There are no other customizati

[2017-01-17 05:16] piyusing commented on #828
We have scenarios where we show the details corresponding to a clicked(activated) result listed as rows of detailslist. The details pane loads the preview data upon clicking a relevant row. A user is free to update the details presented and then either reject or save them. In doing so it might happen that a user clicks on a non-clickable entity resetting the selection in the list as per the curren

[2017-01-17 06:28] notgiorgi commented on #825
I use [unpkg](https://unpkg.com/office-ui-fabric-react@0.88.0/dist/) for my jsbins/pens

[2017-01-17 20:40] rickyp-ms commented on #784
Is that still valid for rtl? If I were to make this part of the control, should I call it prefix/suffix? I see the email scenario being used quite a bit and would love to make it easier and consistent across all products. Especially when people generally have to keep writing their domain address when we already know it.

[2017-01-17 21:16] gabrielruss commented on #824
I am having the same or similar issue. The issue went away when I removed Compatibility mode in IE11. Go to the gear icon -> Compatibility View Settings -> uncheck Display intranet sites in Compatibility View. The issue does not show in Chrome or Firefox. I believe the issue was introduced in v0.86.1.

[2017-01-18 00:42] rickyp-ms opened #830 "Dialog containerClassName does not work due to async css loading"
I'm having a seriously hard time overriding some css in the Dialog class

Basically, the dialog from fabric takes up the least amount of space it needs. We would prefer it to take up 50% of the screen at max. To do this I've created a css class and added it to the dialog like so:

    <Dialog
       isBlocking={ false }
       isOpen={ true }
       title={ dialogTitle }
       subText={ dialogDes

[2017-01-18 01:14] mdahamiwal commented on #824
A fundamental change we did in TextField in v 86.1 is to use `onInput` instead of `onChange` due to keystrokes missing behavior, check #744. Not sure why would a native `onInput` handler doesn't fire if this is the issue.

[2017-01-18 01:24] dzearing commented on #824
IE11 compat view; in this mode perhaps there is a different behavior with `onInput`. We need to test this; @mdahamiwal can you test this?

[2017-01-18 01:27] mdahamiwal commented on #824
Will take a look.

[2017-01-18 01:50] gabrielruss commented on #824
@mdahamiwal I somehow missed the onInput change. I will update my components out tomorrow and test further.

[2017-01-18 02:29] dzearing commented on #830
Have you tried making your selectors more specific?

[code]
is more specific than:

[code]

[2017-01-18 03:29] dzearing commented on #828
I see. it is possible we could provide an override which could be piped through to avoid clearing. something like `preserveSelectionOnEmptyClicks: true`

It's a bit verbose but I think that would help your situation.

[2017-01-18 03:30] dzearing commented on #828
If you'd like to contribute the fix to expedite it, please feel free to submit a PR.

[2017-01-18 07:22] mdahamiwal commented on #824
I am not able to repro with IE11 compatibility mode enabled. @gabrielruss, can you provide IE11 version that you are using?

[2017-01-18 07:56] AkshanshSrivastava03 opened #831 "TextField does not honour text-overflow scenarios for IE11/Edge"
### Bug Report

- __Package version(s)__: ^0.87.1
- __Browser and OS versions__: IE11/IE Edge

#### Describe the issue:
Put a big text in the text-field and then click outside the text field input box. Ellipsis do not appear for the overflowing text.

#### Actual behavior:
IE Edge/11- Ellipsis do not show up for overflowing text

#### Expected behavior:

Chrome- Ellipsis show up correctly

[2017-01-18 08:12] jchilde commented on #824
Compatability mode does not seem to change my behavior.  I am using IE 11.576.14393.0

[2017-01-18 08:52] ankitk94 opened #832 "Focussing on a textfield in a dialog box"
When a dialog is opened, I want to set the default focus to a TextField created using office fabric.
The issue is to do that, I need to provide the className of the element as value to "firstFocusableSelector" prop of dialog. But in case of TextField, OfficeFabric creates it like this:

<div>
  <input />
</div>

That property requires the value as className of input and not div, but by current beh

[2017-01-18 12:57] asmundg opened #833 "Image: Load state is erroneously set as loaded when changing the src prop"
### Bug Report

- __Package version(s)__: 1.0.0
- __Browser and OS versions__:

#### Describe the issue:

When changing the src prop without remounting the Image component, _imageElement is a ref to the existing img tag and _evaluateImage() will claim that the image has loaded even if the new src has not loaded. This is particularly obvious when the second src is a broken URL.

#### Actual behavio

[2017-01-18 13:28] gabrielruss commented on #824
Ok so I guess I found a red herring yesterday when troubleshooting. My apologies. The document mode when in IE developer tools now seems to be what causes the text inputs to break. If I switch the document mode to anything except 11, it breaks the text fields. I think the real issue is that my IE keeps randomly switching itself to be in Document Mode 10 for some reason....

[2017-01-18 16:12] mdahamiwal commented on #831
`<input>` s in IE11 and Edge don't honor `text-overflow: ellipsis` and there is no simple way to fix it. https://www.w3.org/TR/css-ui-3/#text-overflow talks about text overflows but in case of input its actually the `value` that changes so its implemented differently in these browsers. There are ways people have work around it with adding `readonly` attribute with `onBlur` and removing it with `on

[2017-01-18 16:15] mdahamiwal commented on #832
@ankitk94, there is a property `inputClassName` on TextField, have you tried that?

[2017-01-18 16:17] pjatacsukb commented on #620
So the searchbar within CommandBar is not usable yet?

[2017-01-18 16:45] jchilde commented on #824
@gabrielruss You may have found the issue.  SharePoint is forcing IE11 mode with document mode 10.  It is possible that this is the cause.  Will let you know once I can get to updating.

[2017-01-18 17:18] mikewheaton commented on #821
@cschleiden Do we want to close this? I was thinking we should go through the components and make sure we're deprecating them consistently and with a console warning.

[2017-01-18 17:46] jchilde commented on #824
@gabrielruss  @mdahamiwal I can confirm that TextField works fine if you change the document mode to 11 in IE11 Developer Tools.
@
SharePoint sets the X-UI-compatible meta tag by default in classic pages, and Edge in Modern Pages.

So... it appears that some Fabric components OOB will not work within SharePoint Classic pages at this time.

Thoughts? #

[2017-01-18 17:59] cschleiden commented on #821
@mikewheaton k, changed the title. I thought since we discovered that deprecation map functionality this was obsolete.

[2017-01-18 17:59] MLoughry commented on #812
This was resolved by #816

[2017-01-18 18:00] #812 closed

[2017-01-18 18:00] MLoughry commented on #637
This is a dupe of #812, and was resolved by #816

[2017-01-18 18:00] #637 closed

[2017-01-18 18:12] trevorsg opened #835 "ContextualMenu: Default not prevented after handling keydown"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: All

#### Describe the issue:

ContextualMenu: Default not prevented after handling keydown

#### Actual behavior:

#### Expected behavior:

Default is prevented so the parent doesn't decide to handle the event.

### If applicable, please provide a codepen repro:

[2017-01-18 18:16] trevorsg commented on #835
I was going to submit a pull request, but I don't have time to complete the entire checklist. In ContextualMenu.tsx, the line `ev.preventDefault();` should be included in the _onItemKeyDown method, inside the if-statement.

[2017-01-18 18:28] dzearing commented on #835
@trevorsg if you could submit a PR, we can take a look and help with the missing checkboxes. @joschect FYI

[2017-01-18 19:01] mdahamiwal commented on #824
I am able to repro this with document mode set to IE 10. It starts working if `onChange` is wired instead of `onInput` that we are currently using in TextField. When in IE10 doc mode, the onInput event is missing `target.value`. I tried to repro it outside fabric but it works perfect without any issue https://jsfiddle.net/manishda/s8q8q849/ even in IE10 doc mode. I am debugging it further.

[2017-01-18 22:00] rickyp-ms commented on #830
It didn't occur to me to increase the specificity ranking of the selector (I've never had to personally use it)! Thanks!

Documentation:
http://www.w3.org/TR/2011/REC-CSS2-20110607/cascade.html#cascade
http://www.w3.org/TR/2011/REC-CSS2-20110607/cascade.html#specificity

[2017-01-18 22:00] #830 closed

[2017-01-18 22:41] rickyp-ms opened #838 "Add extensible buttons to Dialog's topButtons section (next to the close button)"
### Bug Report

- __Package version(s)__: 1.0.0
- __Browser and OS versions__:  All

#### Describe the issue:
We would like to have the ability to add extra buttons to the top buttons section of a dialog

#### Actual behavior:
Currently only one button is allowed (close)

#### Expected behavior:
Extensible button arrangement

### If applicable, please provide a codepen repro:
Code review coming so

[2017-01-18 22:47] rickyp-ms commented on #838
See https://github.com/OfficeDev/office-ui-fabric-react/pull/839

[2017-01-19 00:43] dzearing commented on #838
What is the use case? Do you have a screenshot of what you're trying to do?

[2017-01-19 00:49] rickyp-ms commented on #838
Something like this...
![dialogtopbuttonexample](https://cloud.githubusercontent.com/assets/22225666/22089161/1ce4f40a-dd9e-11e6-8503-f994352d7362.png)

[2017-01-19 00:51] rickyp-ms commented on #838
That way the delete button is a bit hidden so the user's first attempt isn't to delete the object (for us a task). Other useful things up there would be links to external workflows such as
 - View the conversation for this object
 - View the files for this object
 - View the Skype team for this object
etc.

[2017-01-19 02:02] joschect commented on #810
@2toLeadMike I still can't reproduce this. Do you have a code sample of how and where you're putting it into sharepoint?

[2017-01-19 02:07] joschect commented on #271
@junchen1 I'm closing this for now.

[2017-01-19 02:07] #271 closed

[2017-01-19 02:10] joschect commented on #777
@gggjtgxing since it looks like you fixed this (thank you!) I'm going to close this issue.

[2017-01-19 02:10] #777 closed

[2017-01-19 02:11] joschect commented on #660
@biogenez This should be fixed now, let me know if it's not!

[2017-01-19 02:11] #660 closed

[2017-01-19 06:34] vashitaArora opened #843 "MessageBar: [a11y] MessageType.error should use aria-live="assertive" instead of "polite""
Error Message should be announced preemptively. we should either have an option to ourselves specify the aria-live value or errors shoudl by default be assertive

[2017-01-19 07:13] mdahamiwal commented on #824
Did a little more debugging. Here is the problem:
We have an input element: `<input value={this.state.value} onInput={this._onInputChange} />`
The problem occurs when we use `this.state.value` to pass the value. Since `onInput` is a native html handler the `event.target` gives `<input value='' />` and since `this.state.value` is empty initially there is no way to retrieve the newValue for the elem

[2017-01-19 09:41] pablonete commented on #649
For reference, this feature existed as a method instead of a prop, and was removed on this commit: https://github.com/OfficeDev/office-ui-fabric-react/commit/b3a92fef2007e2a85de3608873ed7a093dee3f66

[2017-01-19 10:11] ankitk94 commented on #832
It worked. Thanks.

[2017-01-19 10:11] #832 closed

[2017-01-19 16:23] #725 closed

[2017-01-19 18:36] geoffreyyip opened #844 "Slider: Renders improperly without a explicit direction property specified."
### Bug Report

- __Package version(s)__: 1.2.0
- __Browser and OS versions__: Observed in Firefox + Chromium on Ubuntu 16.04 LTS

#### Issue:

Slider component will not render properly unless the `dir` property is explicitly set in the `<html>` tag. If the global tag says something like `<html lang="en" dir="ltr">`, then the Slider component will display just like the Microsoft docs show. But if

[2017-01-19 18:50] geoffreyyip opened #845 "Slider Right-To-Left: ms-Slider-Thumb is out-of-sync with ms-Slider-Line"
### Bug Report

- __Package version(s)__: 1.2.0
- __Browser and OS versions__: Observed in Firefox + Chromium on Ubuntu 16.04 LTS

#### Describe the issue:

When a right-to-left direction property is specified on the html tag,  `<html dir="rtl">` it reverses the ms-SliderLine, but not the thumb. The line fills in from right to left, consistent with RTL, but the thumb still goes from left to right.

[2017-01-19 19:08] geoffreyyip commented on #844
P.S. I solved another visual issue with ChoiceGroup when I replaced `<html lang='en'>` with `<html lang='en' dir='ltr'>`.

#### Without `dir` specified

![radio flawed](https://cloud.githubusercontent.com/assets/15312106/22121034/417c0ecc-de50-11e6-9360-09803c79200e.png)

#### With `dir="ltr" specified

![proper](https://cloud.githubusercontent.com/assets/15312106/22121048/4f34c6a8-de50-11e6-832d-

[2017-01-19 19:25] dmarcey opened #846 "DetailsList onItemContextMenu is not implemented"
IDetailsListProps contains the property:

  /** Callback for when the context menu of an item has been accessed. */
  **onItemContextMenu?: (item?: any, index?: number, ev?: Event) => void;**

However, this property is not used by the DetailsList at all. There is currently no way to handle the oncontextmenu event on a row without overriding onRenderRow, and wrapping the row in a separate div which

[2017-01-19 21:22] cschleiden opened #849 "Dialog: Blocking dialog does not prevent scrolling the page"
### Bug Report

- __Package version(s)__: master
- __Browser and OS versions__: *

#### Describe the issue:

Documentation for `Dialog` says:

but scroll events are not intercepted. I think we should disable them, too. Especially on mobile this looks funny because the translucent overlay scrolls a bit out of view, revealing the page behind.

### If applicable, please provide a codepen repro:

http

[2017-01-19 21:31] dmarcey commented on #849
PageUp / PageDown also scroll the page even while the blocking dialog is shown.

[2017-01-20 00:00] abettadapur opened #853 "Facepile: is not tab-able without onClick, which affects some accessibility scenarios"
### Bug Report

- __Package version(s): v0.87

#### Describe the issue:
Facepile is not accessible. It does not have any tabIndex properties on any of the persona sub-components

#### Actual behavior:

I cannot focus a facepile persona

#### Expected behavior:

I should be able to focus a facepile persona

[2017-01-20 00:21] cschleiden commented on #849
Fixing this isn't as straight-forward as I thought. We could do something like this when opening the dialog (and undoing when closing, of course):
[code]

overflow hidden prevents scrolling, setting the padding prevents "jumping" from having the scrollbar suddenly hidden.

Since the `scroll` event cannot be canceled, another approach might be to intercept events like `onWheel`, `onTouch*` on the `

[2017-01-20 02:08] mikewheaton commented on #849
It's an interesting problem because it requires reaching outside of the component, and even the Fabric wrapper component itself, to modify the `body`. Although it seems reasonable in this case because even if Fabric doesn't take up the whole page, the Dialog does.

[2017-01-20 02:25] cschleiden commented on #849
Yeah, reaching outside initally concerned me, too. However I don't see another way so I'm also leaning towards that direction. Maybe a small helper `disable/enablePageScrolling`, a `ms-noPageScroll` class to apply to body, and that padding on the element. On Jan 19, 2017 18:10, Mike Wheaton <notifications@github.com> wrote:It's an interesting problem because it requires reaching outside of the com

[2017-01-20 09:43] serkan-inci opened #855 "ColorPicker: external color functions library breaks AMD consumption"
- __Package version(s)__: 0.87.2
- __Browser and OS versions__: Any browser/OS

#### Describe the issue:

Getting below error when trying to use it:
Uncaught Error: Module name "color-functions/lib/css-color" has not been loaded yet for context: _

css-color library seems to be not compliant with AMD.

#### Actual behavior:

Nothing rendered.

#### Expected behavior:

ColorPicker rendered correctl

[2017-01-20 16:00] russgove opened #856 "CommandBar: Href does not work"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Describe the issue:
I have the floowing Component
import * as React from 'react';
import { IContextualMenuItem, CommandBar } from 'office-ui-fabric-react';
import styles from './ReactNavbar.module.scss';
import { IReactNavbarProps } from './IReactNavbarProps';
export default c

[2017-01-20 16:02] russgove commented on #856
Hi Sourcecode got messed up above. Here it is
import * as React from 'react';
import { IContextualMenuItem, CommandBar } from 'office-ui-fabric-react';
import styles from './ReactNavbar.module.scss';
import { IReactNavbarProps } from './IReactNavbarProps';
export default class ReactNavbar extends React.Component<IReactNavbarProps, void> {
  private menuitems: Array<IContextualMenuItem>;
  public r

[2017-01-20 17:00] unindented opened #857 "PersonaCard component?"
Fabric used to provide a `PersonaCard` component:

<img width="374" alt="screen shot 2017-01-20 at 16 59 56" src="https://cloud.githubusercontent.com/assets/69485/22157983/eb1fbc26-df31-11e6-9cb3-4edf202c38b7.png">

Is there a reason why it isn't included in `office-ui-fabric-react`? Should I just build it myself?

[2017-01-20 17:18] mikewheaton commented on #799
Fixed and merged.

In this case it was an easy fix, but for future reference we only support the two latest major versions of browsers, as determined by [CanIUse](http://caniuse.com/). For Safari that's versions 10.2 and 9.3.

[2017-01-20 17:18] #799 closed

[2017-01-21 00:27] leddie24 commented on #554
Hey @dzearing, could you clarify on expectations here?  Right now the only required prop for DatePicker is strings, which is (for the most part) the same for all DatePicker component examples.  Should we set the default props to be equal to that then? e.g:

default props for strings should be equal to
const DayPickerStrings = {
  months: [
    'January',
    'February',
    'March',
    'April',

[2017-01-22 11:43] lijunle opened #863 "PeoplePicker does not accept aria-* props."
The PeoplePicker and BasePicker should provide a way to accept the `aria-*` props for the input box.

[2017-01-22 22:31] battletoilet opened #864 "Build errors on fresh install"
### Bug Report

- __Package version(s)__: master
- __Browser and OS versions__: Windows

#### Describe the issue:
When installing a fresh clone of fabric react, running npm install && npm start, i am getting a ton of build errors. The only way to get past this is to remove all the node_modules in packages/office-ui-fabric-react and run npm install in the same directory. Here is a tiny portion of t

[2017-01-22 23:58] vongrippen opened #865 "New Component: Notification / Toast"
In many apps, onscreen notifications of background events are a necessity. Currently there is not a suitable component for rendering these notifications. I'd like to see a component similar to the Office 365 notification seen when an email is received in OWA.
<img width="484" alt="notification" src="https://cloud.githubusercontent.com/assets/273675/22187863/1d308112-e0d3-11e6-864a-160b53fbad0c.png

[2017-01-23 02:20] mdahamiwal commented on #864
Try upgrading typescript version, it worked for me. `npm install typescript -g`.
Hope it helps.

[2017-01-23 04:00] sideyuan commented on #658
We are waiting for this fix. Are you still in holidays? ;) @dzearing

[2017-01-23 05:11] mdahamiwal opened #866 "MessageBar: [a11y] Doesn't announce the message on show"
### Bug Report

- __Package version(s)__: master
- __Browser and OS versions__: all

#### Describe the issue:

When messagebar is added to a page, the AT doesn't announce the message even though message has an internal live region.

#### Actual behavior:
Message text doesn't get announced by ATs

#### Expected behavior:
Message should be announced by ATs

### If applicable, please provide a codepe

[2017-01-23 05:50] hitendramalviya commented on #382
Hi @unindented  how did you get this working I am still getting issues:
`ERROR in D:\git\sampleApp\node_modules\office-ui-fabric-react\node_modules\@types\react\in
dex.d.ts
(2473,13): error TS2403: Subsequent variable declarations must have the same type.  Variable 'data' must be of
 type 'HTMLProps<HTMLElement>', but here has type 'HTMLProps<HTMLElement>'.

ERROR in D:\git\sampleApp\node_modules\

[2017-01-23 06:54] mdahamiwal commented on #866
ATs track live region text updates and doesn't announce the content at the time of creation. In messageBar we create a live region with Error/Info text but since its a one time content ATs will not announce the update.

Fix:
Update the MessageBar text content with some delay after the live region is created.
http://codepen.io/mdahamiwal/pen/XpROQP

[2017-01-23 06:56] mdahamiwal commented on #843
Should be a simple fix check http://codepen.io/mdahamiwal/pen/XpROQP

[2017-01-23 06:57] mdahamiwal commented on #594
@iashishmittal, did you get a chance to try the suggestion above. We should close the issue if the requirements have changed.

[2017-01-23 06:59] #744 closed

[2017-01-23 07:41] iashishmittal commented on #594
Hi Manish,

Thanks for providing the work around.
I was not able to check the workaround as we have moved to a completely
different implementation to show variables for my applications which is not
using TextField.
You can close the issue.

Thanks
Ashish

On Mon, Jan 23, 2017 at 12:28 PM, Manish Dahamiwal <notifications@github.com

[2017-01-23 09:33] mdahamiwal opened #869 "Tooltip: Doesn't dismiss on page scroll"
### Bug Report

- __Package version(s)__: master
- __Browser and OS versions__: Edge/firefox

#### Describe the issue:
Tooltip control scrolls with page without getting dismissed.

#### Actual behavior:
Tooltip scroll with page.

#### Expected behavior:
Tooltip should dismiss as soon as target element looses focus.

### If applicable, please provide a codepen repro:
![tooltip-3](https://cloud.gith

[2017-01-23 09:45] mdahamiwal commented on #863
In general, we provide some of the required aria attachments for internal controls instead of all aria-* attributes. What are the aria props you are thinking to pass?

[2017-01-23 10:17] unindented commented on #382
@hitendramalviya What version of `@types/react` are you using?

[2017-01-23 17:19] lijunle commented on #863
I want the `aria-label`.

[2017-01-23 18:07] ezambra opened #872 "Tooltip: doesn't dismiss for disabled button"
### Bug Report

- __Package version(s)__: master
- __Browser and OS versions__: Issue repros on Microsoft Edge and Chrome browsers. It does NOT repro on Firefox.

#### Describe the issue:

On a disabled button, a tooltip does not get dismissed after moving the mouse pointer out of the button.

#### Actual behavior:

Tooltip does not get dismissed on a disabled button.

#### Expected behavior:

Too

[2017-01-24 02:00] joschect commented on #766
This should be fixed now @MirandaGe , let me know if it's still not working!

[2017-01-24 02:00] #766 closed

[2017-01-24 02:07] joschect commented on #863
While not typesafe you can currently do this by doing something like the following
[code]

inputProps is then applied to the input box. Really the input box, and more of our elements should have aria-* things accepted as properties. It's odd because you can add it directly into the input box without problem, but when you try to do `inputProps= { {'aria-label': 'something'}} ` a type error is throw

[2017-01-24 02:17] joschect commented on #863
Upon a little more investigation it looks like we could do something like

[code]

It compiles fine and typescript seems happy with it.

@dzearing  does that seem like a reasonable solution? We could make it part of a base interface, then we can also do a better job of enforcing React.HtmlAttributes rather than have people use React.HtmlProps.

[2017-01-24 02:45] MirandaGe commented on #766
Checked and it works good now, thank you!

[2017-01-24 04:57] prmittal opened #873 "CommandBar should allow narrator to access disabled button"
While using narrator, the user should be able to know that there is a button but it is disabled. Currently CommandBar skips focus on disabled button.

[2017-01-24 08:09] cliffkoh commented on #864
Can you provide the commands you enter from a fresh clone and console output? Particularly when you type npm install?

Output from npm start would probably be also useful.

[2017-01-24 15:05] Squiggle commented on #694
I am experiencing the same problem on IE11.

We're securely loading images by including a token in the query string.
From the Browser's perspective (developer tools network log), the request is sent but never appears to complete (is stuck on 'Pending').

There are no issue with the server, and it all works fine in Chrome.

Have also reverted to using a normal `<img>` element, and this also works f

[2017-01-24 18:20] #632 closed

[2017-01-25 01:44] dzearing commented on #810
@joschect are you testing in IE11?

[2017-01-25 01:45] #869 closed

[2017-01-25 01:48] dzearing commented on #863
@joschect we have a few places where we use `ariaLabel` but in general I would much prefer we stick with `aria-*` props.

If this method works and maintains typing validation so that we don't have to add something like `[key: string]: string` to the definition, we should use it.

[2017-01-25 01:51] dzearing commented on #863
however... i honestly think we're going to end up with the general `[key: string]: string` to support data-* attributes. What we really want is `'aria-*'?: string;`

[2017-01-25 01:53] dzearing commented on #857
It's because in O365 there is a new contact card available which is still iterating. There are plans to make it available in the component library, but I don't have an ETA.

[2017-01-25 01:53] #857 closed

[2017-01-25 01:58] dzearing commented on #855
This makes sense and is a reasonable bug.

What you could do to unblock yourself:

1. Make a simple webpack project.
2. Make an index.ts that exports * from 'office-ui-fabric-react/lib/ColorPicker';
3. Bundle into an AMD bundle, and use that in your project bundling.

For us to make it purely compatible, we could also consider moving the color functions in within the color package. Convert it to t

[2017-01-25 02:04] joschect commented on #810
@dzearing Yes, it works fine. The bug is specificially about it not working in sharepoint in IE 11, but we have a few components using it right now that work fine in Groups in IE 11.

[2017-01-25 02:40] dzearing commented on #853
I think this is actually by design. If you provide an `onClick`, it renders as a tab-able entity.

I do think there should be a FocusZone around it however. I see Matt has a PR for this. @cliffkoh and I will work with him on it.

[2017-01-25 02:41] dzearing commented on #853
Keep in mind that for accessibility, you want interactive entities to be tabable. For non-interactive entities, I believe from a JAWS perspective they can arrow to the elements in a specific reading mode.

@cschlechty can keep me honest here.

[2017-01-25 02:43] dzearing commented on #849
Yep this is a wonky issue. Probably doing what you suggested might be *an* answer, but not fullproof.

@ThomasMichon do you have ideas?

[2017-01-25 02:55] #846 closed

[2017-01-25 03:31] dzearing commented on #845
I am not reproducing.

[2017-01-25 03:42] dzearing commented on #845
Ok I believe I understand;

First, you can do this right now to unblock:

[code]

I will check in a patch to read it in case you have it initialized as dir=rtl. However it will read one time only and cache, so you can't change it during page execution without calling the method above.

[2017-01-25 03:45] #845 closed

[2017-01-25 03:46] dzearing commented on #844
Can you wrap your app in the <Fabric> component? This will do it for you.

[2017-01-25 03:46] #844 closed

[2017-01-25 03:48] dzearing commented on #831
I think this is browser behavior. Closing.

[2017-01-25 03:48] #831 closed

[2017-01-25 03:51] #866 closed

[2017-01-25 03:57] #599 closed

[2017-01-25 04:56] #649 closed

[2017-01-25 08:47] AkshanshSrivastava03 opened #879 "Menu buttons: Clicking on a subMenuProp (dropdown in a command bar) and then pressing enter key, by default selects the first index and invoke its's click event."
### Bug Report
Command Bar- Clicking on a subMenuProp (dropdown in a command bar) and then pressing enter key, by default selects the first index and invoke its's click event.

- __Package version(s)__: ^0.87.1
- __Browser and OS versions__: NA

#### Describe the issue:
Repro steps:
1.) Click on the dropdown under command bar
2.) None of the child elements look selected acc to UI. (None of them ar

[2017-01-25 11:15] AkshanshSrivastava03 opened #880 "Detail List: Allow flexibility to not show shadow on hover of Headers"
### Bug Report

- __Package version(s)__: 1.2.2
- __Browser and OS versions__: NA
#### Describe the issue:
Hovering on Details list header shows me a shadow. Is there any means to get rid of that?

#### Actual behavior:
Shadow comes on hover

[2017-01-25 15:54] carruthe opened #881 "Having trouble with building the project since version 1.0.0"
### Bug Report

- __Package version(s)__: v1.0.0 and above
- __Browser and OS versions__: MacOS 10.12.3

#### Describe the issue:

Since version 1.0.0 (when you split out @uifabric/utilities), I have been having difficulty with the build.

#### Actual behavior:

I ran, as per the instructions,..

[code]

Hoever, I got a ton of errors, starting with "@uifabric/utilities" not found, then a ton of ty

[2017-01-25 16:03] dzearing commented on #881
Thanks; the problem is that the npm script needs a tweak. Just pulled llatest in a clean enlistment last night to realize the npm start command also doesn't build fully.
This is the shortened build list is:
[code]

I will fix this asap.

[2017-01-25 16:09] dzearing commented on #880
You shouldn't see a shadow on hover... can you provide more info? Browser/OS/screenshot would really help. If you could inspect the DOM in chrome, you might find the culrpit css selector that you're talking about; that would help even more.

Also if you'd like to customize the headers, have a couple of options:

1. custom headers; you can throw anything you want in the header content. There is a s

[2017-01-25 16:21] carruthe commented on #881
@dzearing - Thanks!
Keep up the great work, this package has been my gateway drug to React, and I'm loving it.

[2017-01-25 16:43] dzearing commented on #879
This is a really interesting one. It is technically by design. When you click a menu, we set focus to the first item in the submenu, but we hide the focus rectangle until you press a keystroke. We do this for accessibility reasons; screen readers read out the menu item as things are focused.

What you're asking is; if mouse click, don't set focus on the first item. Instead, keep the focus on the f

[2017-01-25 16:45] dzearing commented on #864
May be related to #881

[2017-01-25 16:46] dzearing commented on #863
I'm going to close this; I think we have an acceptable solution here. Use `inputProps`. If that's not enough, please clarify what you need.

[2017-01-25 16:46] #863 closed

[2017-01-25 16:49] dzearing commented on #853
I think we need discussion here; I don't believe the answer here to making it accessible is to make it tab-able even when non-interactive. If you have an `onClick` handler, it becomes interact-able and therefore should be tab-able.

[2017-01-25 16:50] dzearing commented on #828
This was added as a feature. Closing.

[2017-01-25 16:50] #828 closed

[2017-01-25 16:53] dzearing commented on #825
@notgiorgi This is awesome, never saw this! thanks!

[2017-01-25 17:12] abettadapur commented on #853
I would expect to be able to tab through the items in the facepile and get a readout of their name perhaps? Even if their persona had no action associated with them. There are other components on the page that are not interact-able, yet can still be tabbed to: titles, cards, etc.

[2017-01-25 17:19] cschlechty commented on #853
Tabs aren't required, nor necessary for an element to be readable via screen reader. Each AT has key commands for reading through a page. In jaws, that's the down arrow in virtual cursor mode, narrator is Caps+M.

[2017-01-25 17:44] rgarita commented on #881
Confirmed, workaround fixes the issue..., the only thing to keep in mind is update line 4 to `node_modules\.bin\rush.cmd` build if just `rush build` is not working

[code]

[2017-01-25 21:40] cschleiden commented on #880
@AkshanshSrivastava03 we have some problems with leaking styles in VSTS and OfficeFabric. If you ping me at cschleid we can look at it together.

[2017-01-25 21:40] #880 closed

[2017-01-25 22:11] dzearing commented on #825
@mikewheaton how about switching the docs to use unpkg

[2017-01-25 22:12] leddie24 commented on #510
Fixed in #860, removed outline from ms-Breadcrumb-itemLink's focus state

[2017-01-25 22:12] #510 closed

[2017-01-25 22:25] mikewheaton commented on #825
I don't think we can recommend unpkg for production apps; we've had long discussions about this in the past). However, it makes sense to use for CodePen since there's no delay between publishing a release and being able to demo/repro code with it.

[2017-01-25 23:55] MirandaGe opened #883 "PeoplePicker: Focus will lost after delete a selected person with keyboard"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Describe the issue:

1. select some people in PeoplePicker
2. use direction key to select a selected person, make focus on the delete button.
3. press enter to delete the person
4. the next person will be high lighted, but if you continue using keyboard, it can't select person

[2017-01-26 00:28] leddie24 commented on #820
Hey @dzearing @fantua, can you clarify on what the ask is here?  In IChoiceGroupOption and IDropdownOption there is a checked/selected prop; should checkedKey take precedence over the checked/selected prop for the component?  What's the purpose of having a checked/selected prop for options if the parent component specifies what is selected/checked?

[2017-01-26 00:35] dzearing commented on #881
@rgarita thanks; that's OS dependent; it's weird that Windows won't run the .bin stuff by default but Mac does. A nice workaround is that you can always install the rush tool globally;

[code]

I know that works on either platform.

@carruthe Awesome!

[2017-01-26 00:36] dzearing commented on #883
@joschect

I'm a bit surprised it's happening, I thought this worked. Will let Jon take a look, unless you beat him to it @MirandaGe .

[2017-01-26 01:04] dzearing commented on #853
Per discussion, closing. Accessibility rules are:

Add tab stops for interactive items
Add aria-labels to things that need them if the content is unclear
Don't add tab-stops on every element just to get the screen reader reading them

[2017-01-26 01:04] #853 closed

[2017-01-26 01:07] dzearing commented on #879
I've discussed this with accessibility and design; I think we will try to address this to perfect the interaction model. We will only move focus on keyboarding; on mouse clicks, we will maintain focus at the command clicked.

[2017-01-26 01:10] joschect commented on #883
@MirandaGe what browser are you using? I see that it's working in chrome. There does appear to be a separate bug in IE where backspace causes the page to navigate.

[2017-01-26 01:11] cschlechty commented on #879
I'd be inclined to follow the pattern Windows uses. Let's not reinvent menu interactions.

[2017-01-26 01:12] joschect opened #884 "Backspace in people picker causes IE page navigation."
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Describe the issue:

#### Actual behavior:

#### Expected behavior:

### If applicable, please provide a codepen repro:

[2017-01-26 01:13] #884 closed

[2017-01-26 01:15] joschect commented on #883
@MirandaGe I was not synced with the latest. I will look into this.

[2017-01-26 02:31] joschect commented on #883
@MirandaGe Okay, sorry to keep flip flopping, backspace appears to work properly in Chrome, but IE does navigate back to the previous page.

[2017-01-26 02:36] joschect commented on #883
I have been able to reproduce this if I have the ctrl key pressed while selecting, very interesting interaction.

[2017-01-26 02:44] joschect commented on #883
@dzearing it looks like there are times where an item can be selected and yet not selected. Basically the onSelectionChange is called and focus is given to the item, but when getSelectedCount() is called there is nothing selected.

[2017-01-26 03:03] joschect commented on #883
@dzearing Okay, so it seems like SelectionZone gives focus to the target and sets it as an anchor giving it the appearance of selection, but for all intents and purposes it's not selected. See the _onFocus method.

[2017-01-26 03:13] dzearing commented on #881
Alrighty we should be good now. I've significantly tweaked the build:

`npm start` now runs the "dev loop", which excludes running tests and linting for quick inner loop.

To run tests  you can still run `npm test` to run all tests in the project. Or, if you go to a specific project you can run `gulp test --production` which should run tests. Note that i included the production flag requirement as

[2017-01-26 03:13] #881 closed

[2017-01-26 05:30] cliffkoh commented on #864
Almost certain it is related to #881. I personally don't encounter issues since I don't use the npm scripts ;) Going to close this issue given lack of new information and high chance that it is related to #881.

[2017-01-26 05:30] #864 closed

[2017-01-26 07:41] #843 closed

[2017-01-26 08:10] dzearing commented on #835
Merged, published tomorrow.

[2017-01-26 08:10] #835 closed

[2017-01-26 08:17] dzearing commented on #821
If there are specific things missing a deprecation map that can be fixed, please reopen and provide a list.

Not all deprecation scenarios can be fixed, but it would be good to just fix anything specific we missed.

[2017-01-26 08:17] #821 closed

[2017-01-26 08:19] dzearing commented on #873
This is not specific to commandbar. This is normal behavior in a web browser when buttons are disabled. Screen readers have a mode to be able to switch around elements, even when they are not focusable. We intentionally do not make non interactive elements focusable, as it would clutter the focus target list and make normal scenarios difficult to navigate.

[2017-01-26 08:19] #873 closed

[2017-01-26 08:21] dzearing commented on #855
This is now merged. Please feel free to try again after tomorrow's publish.

[2017-01-26 08:21] #855 closed

[2017-01-26 08:24] #833 closed

[2017-01-26 08:26] dzearing commented on #833
Validated it is now fixed:
http://codepen.io/dzearing/pen/LxzZLq

[2017-01-26 08:27] dzearing commented on #819
Yes. `onChange` with ev being the first param and custom things after, all as optionals.

[2017-01-26 08:27] dzearing commented on #825
I've updated my codepens. :)

[2017-01-26 08:27] #825 closed

[2017-01-26 08:29] dzearing commented on #818
@mikewheaton yes IE11 should be minbar. We use flexbox and IE10 may have issues.

[2017-01-26 12:19] MirandaGe commented on #883
Sorry for missing so much... I am on vacation and thank you for your quick reply. I test it use the example shown on [demo page](https://fabricreact.azurewebsites.net/fabric-react/master/#/examples/PeoplePicker) and seems it's not the newest version.

[2017-01-26 12:40] fantua commented on #820
@leddie24, IDropdownProps has selectedKey and defaultSelectedKey, for IChoiceGroupProps the same needed.

[2017-01-26 16:15] dzearing commented on #520
I am pretty convinced this is a bad idea. In talking with numerous partners, removing the classnames reduces a huge layer of configurability. I have discussed options with people, and it's really not clear.  Even with inline styling, we'd need a much larger API surface to adequately reach the level of configurability. I think we should close this, or come up with an alternative plan to support maj

[2017-01-26 19:09] cschleiden opened #892 "autobind: (re-)binds method every time decorated method is called"
Right now '@autobind' will fail a test case like this:

[code]

We should bind only once, and then cache the bound method. I think, at the moment using `@autobind` is equivalent to calling `this._handler.bind(this)` in `render` which is what we would like to avoid.

[2017-01-26 19:57] #818 closed

[2017-01-26 21:11] #892 closed

[2017-01-26 21:13] cliffkoh opened #895 "Further restrict rush versions per @pgonzal recommendations."
See #836.

[2017-01-26 21:26] mattlind commented on #853
Thanks.

--
Matt

From: David Zearing [mailto:notifications@github.com]
Sent: Wednesday, January 25, 2017 5:04 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Matt Lind <revelationmedia@gmail.com>; Assign <assign@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] Facepile: is not tab-able without onClick, which affects some accessibility sce

[2017-01-26 23:12] rickyp-ms opened #897 "Suite Nav control?"
Just curious if there are any plans to work with the Suite Nav team to move their control into this library. Or if there is any want to do that?

![suitenav](https://cloud.githubusercontent.com/assets/22225666/22354271/71291db6-e3d9-11e6-8388-18490a59dff4.png)

[2017-01-27 07:54] dzearing commented on #895
resolved.

[2017-01-27 07:54] #895 closed

[2017-01-27 12:32] akashperfect opened #900 "Tooltip: Narrators unable to read the text inside the tooltip"
### Bug Report

- __Package version(s)__: (fabricreact website, latest version 1.3.3)
- __Browser and OS versions__: (Chrome, IE, Firefox, on Windows 10)

#### Describe the issue:

On hovering or tabbing over the element where tooltip is applied. The tooltip is getting displayed fine however, the narrator is not announcing the text being displayed on the tooltip

#### Actual behavior:

Narrator is

[2017-01-27 14:05] mdahamiwal commented on #900
This was fixed by #695, can you verify with latest version ? Thanks

[2017-01-27 15:17] trevorsg commented on #520
@dzearing Does this mean that Fabric will treat class names as a public contract and maintain compatibility? Will there be any official guidance on customizing the guts of internal components, or will it be more of a "proceed at your own risk"? From our experience in VSTS, consumers *will* do this (and, indeed, VSTS has done it already), and it is very hard to maintain compatibility with all the c

[2017-01-27 20:10] rickyp-ms commented on #838
Fixed in 839

[2017-01-27 20:10] #838 closed

[2017-01-27 20:43] MLoughry opened #902 "Command Bar: Cannot have dynamic menus"
### Bug Report

- __Package version(s)__: 1.1.0

#### Describe the issue:

The Command Bar does not allow for menus which dynamically change while open (eg., a search menu). The issue is that any change in the context menu items triggers `componentWillReceiveProps`, which calls `_getStateFromProps`, which closes the currently open context menu.

Additionally, CommandBar only observes the `items` p

[2017-01-27 22:54] aleksandrjPersonal commented on #260
Starting on this

[2017-01-28 00:52] #902 closed

[2017-01-29 15:33] unindented opened #905 "Link with custom className"
Could you allow `className` to be passed to `Link`? I wanted certain links to be less prominent by assigning them a `ms-fontColor-neutralSecondary`.

[2017-01-29 21:48] joschect commented on #905
Hey @unindented , you should already be able to pass in a className to link. You will need to override the color right now but it looks like it gets applied. It's a little confusing because the website does not show className as a property, but since ILinkProps extends React.HTMLProps it get's all of the native react properties as well.

[2017-01-29 21:57] joschect commented on #879
I thought that this was a pretty intentional choice. It shouldn't be that hard to change it so that it focuses the list rather than the first item.

[2017-01-30 05:52] hitendramalviya opened #906 "Applying explicit font size class overridden by component style"
### Bug Report

- __Package version(s)__: 1.3.4
- __Browser and OS versions__: Chrome Windows 10

#### Describe the issue:

Applying class `ms-font-s` to `<body class="ms-font-s">...</body>` but font-size is overridden by style injected by component and always keeping the same font-size i.e. 14px.

[2017-01-30 06:25] mdahamiwal commented on #906
You will need a more specific selector by adding more classes. If font-size is the only thing you need to control then adding another class on the container should suffice.
http://codepen.io/mdahamiwal/pen/egydeL

[2017-01-30 10:03] unindented commented on #905
Ah, you are right, the class does get applied. I have no way of overriding the color if I want to use Fabric Core's class names though. `ms-Link` comes before `ms-fontColor-neutralSecondary`, and I have no way of forcing an `!important` in there...

<img width="778" alt="screen shot 2017-01-30 at 10 00 57" src="https://cloud.githubusercontent.com/assets/69485/22418986/449e39d2-e6d3-11e6-8bad-09e86

[2017-01-30 11:57] mdahamiwal commented on #905
Its due to CSS load order. Having a local selector in your css file will solve the issue but its bad that we can't use ms-fontColor-* provided by fabric-core.

[2017-01-30 16:43] ankitk94 opened #907 "Dialog close button shadow"
### Bug Report

fabric version : 0.87.1

#### Describe the issue:

For dialog component, close button shadow is seen when button is hovered. Is there any workaround for this?
One way is to provide styling to save button, but currently no way to provide the styling.

[2017-01-30 17:09] mikewheaton commented on #907
Which browser are you using? Could you include a screenshot? I'm not seeing a shadow when I hover on the example on the [Dialog page](http://dev.office.com/fabric#/components/dialog).

[2017-01-30 21:29] prashkan90 opened #908 "Link component has potential XSS vulnerability"
### Bug Report

- __Package version(s)__: 1.2.2
- __Browser and OS versions__: Google Chrome 55.0.2883.87

#### Describe the issue:

Link component has potential XSS vulnerability.
   ` <Link href='javascript:alert("test")'>I am a link with an href.</Link>`

#### Actual behavior:

Click on link triggers an alert popup

#### Expected behavior:

href input is sanitized.

I'm not sure if the expectat

[2017-01-31 00:05] joschect commented on #824
@mdahamiwal I think 3 is the correct course of action.

[2017-01-31 06:36] mdahamiwal commented on #907
This is a focus treatment for close button as X button is the default focusable element on dialog open.

[2017-01-31 06:53] ankitk94 commented on #907
If by default another element is focused, then also when I hover on "close" button, shadow is seen. The requirement is to remove the button shadow on hover (or focus via keyboard).

[2017-01-31 10:17] satishc2437 opened #912 "[Accessibility][CommandBar]: Disabled Menu items should be focusable"
Hi,
We are using the CommandBar control in our view for buttons such as "Save", "Queue", etc. These are typically important buttons and will show up at the top of the page. The buttons support enable/disable behavior based on the error state of the page.

We found that a disabled button in the command bar doesn't gets focus while using the Arrow keys. It directly jumps to the next enabled item.

T

[2017-01-31 10:36] AbhinavSTeotia commented on #694
As mentioned above, the issue can be reproduced with image from CDN. In codepen created above use following image src : **https://cdn.vsassets.io/v/20170127T182013/_content/CIWorkflow/brand-visualstudio.svg**.

I have copied your codepen here with above image src: http://codepen.io/abhinavsinghteotia/pen/YNeyqe/.

**Clear the browser cache**, issue happens on first load only.

[2017-01-31 10:43] AbhinavSTeotia opened #913 "Image: Does not handle loaded event correctly in Edge"
### Bug Report

- __Package version(s)__: "0.74.0"
- __Browser and OS versions__: Edge on Win10

#### Describe the issue:

ChoiceGroup options accepts imageSrc. In one of the cases imageSrc is CDN url.

The the image is never shown on first load, this happens only in following condition

Browser is edge. Works fine on chrome/FF
Hard refresh(ctrl+f5) is done (browser cache off)

#### Actual behavio

[2017-01-31 10:44] AbhinavSTeotia commented on #913
Same issue as tracked here : https://github.com/OfficeDev/office-ui-fabric-react/issues/694
Not able to re-open, hence creating new issue.

[2017-01-31 10:55] webtechy commented on #801
Agree this is needed +1

[2017-01-31 13:35] panigrah commented on #733
How do I use react-router Link components inside the Nav component? @raix hoping you can help.

I could use onLinkClick and `history.push()` to do this, is there another way. Could I use onRenderLink somehow? thanks!

[2017-01-31 14:16] ronak-92 opened #914 "DetailsList: Space to select should not scroll, focus on select box should remain visible"
### Bug Report

- __Package version(s)__: (0.87.0)
- __Browser and OS versions__: (chrome and win 10)

#### Describe the issue:
When using DetailsList component with selection paradigm, if the selection is unchecked the focus treatment(grey background) goes away from the complete row. The keyboard navigation continues to work from that row without any issue.

#### Actual behavior:
The background e

[2017-01-31 15:24] panigrah opened #915 "Using react-router Link with Nav Component"
How can I use the react-router Link component with the fabric Nav Component? There is a issue #733 that may be related to this, but I am not sure.

I cannot use `renderLink` to render the `Link` component as that results in a nested hyperlink.

[2017-01-31 15:40] fexdev opened #916 "CommandBar: Click on MenuItem without children leads to null error"
### Bug Report

- __Package version(s)__: 1.3.5

#### Describe the issue:

Using CommandBar with top-level IContextualMenuItem-Items leads to an error in https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/CommandBar/CommandBar.tsx#L320, if they have an onClick-Handler.

In the Line 320: `if (this.state.contextualMenuProps.onDismiss)`, con

[2017-01-31 16:19] Ryu36 commented on #916
Got the same problem. Is there a workaround for now?

[2017-01-31 16:55] dzearing commented on #914
There is no grey treatment on focus, but there is on selection. Do you mean selection?

![image](https://cloud.githubusercontent.com/assets/1110944/22475075/b444a8e2-e792-11e6-80ba-41fb5eb7af24.png)

We don't reset selection on losing focus. There is a focus rectangle when focus. (You do need your app wrapped in the `Fabric` component for it to show up correctly.)

![image](https://cloud.githubuse

[2017-01-31 16:55] dzearing commented on #916
Patch incoming.

[2017-01-31 16:58] dzearing commented on #916
I've expedited a patch release to address. @MLoughry please review the fix as I believe your change introduced this.

[2017-01-31 16:58] #916 closed

[2017-01-31 17:03] dzearing commented on #913
@dagoff Please try to repro again.

[2017-01-31 17:17] dzearing commented on #916
https://github.com/OfficeDev/office-ui-fabric-react/releases/tag/office-ui-fabric-react_v1.3.6

[2017-01-31 17:36] raix commented on #733
@panigrah I basically just used the router context and used a transistionTo (mind I'm on V4)

I just realized I didn't finalize a pr. https://github.com/raix/office-ui-fabric-react/tree/enhancement/733-nav-render-link-as-button (I'll see if I can get the time to add changelog etc..)

[2017-01-31 17:44] mikewheaton commented on #913
I'm only able to repro with an SVG, not a PNG or JPG. As far as I can tell the browser's `load` event is triggered regardless of the image format. I'm having trouble getting breakpoints to work in Edge to actually see the event fire though.

[2017-01-31 18:22] mikewheaton commented on #913
Here's another CodePen that includes an `onLoad` prop to test the load event: http://codepen.io/mikewheaton/pen/BpYwNZ?editors=0011

What I'm seeing is that:
- on initial page load, the `load` event is triggered but it isn't shown
- on subsequent page loads, when the image is already cached, it shows as expected

[2017-01-31 18:27] fexdev commented on #916
Awesome, thank you

[2017-01-31 21:56] dzearing commented on #912
Thanks for pointing this out; it's confusing because every application, including browser behavior, defaults to making disabled buttons non-tabstops. All the applications I've used skip over disabled buttons. And if you disable a button in the browser and set tabindex=0, it will still skip over it.

This implies that:

1. Most apps are implementing it wrong
2. We have to fight the browser to do th

[2017-01-31 21:59] dzearing commented on #908
This is by design and is no different than what a simple `<A>` tag would allow as well. We do not add code to the page weight to scrub hrefs. This should be the implementers' concern, and likely a server side gate that prohibits users from trying to save malicious links.

[2017-01-31 21:59] #908 closed

[2017-01-31 22:02] dzearing commented on #907
It seems the close button is not an IconButton and therefore isn't getting the correct focus treatment.

The correct treatment is that the focus rectangle shows up only when the user interacts with the keyboard.

We have the `<Fabric>` component which abstracts adding the right root classes to enable focus rectangles. The focus mixin prefixes selectors with the `.ms-Fabric-isFocusVisible` flag.

[2017-01-31 23:07] panigrah commented on #733
@raix how do you stop propagating the event after transitionTo in the onclick? I tried event.stopPropagation() but it still resulted in a click thru.

Sent from my iPhone

[2017-02-01 01:13] dzearing commented on #900
@akashperfect ping; can you verify? Want to make sure we can resolve this or close if it's fixed.

[2017-02-01 01:17] dzearing commented on #905
This is one reason why I'm not a fan of the fabric color classes, really an extension of how terrible css specificity is. Just makes me lean more towards inline styling or some variant.

[2017-02-01 01:17] dzearing commented on #905
I think we can close this; it's unfortunately not something we can work around unless we wholesale move away from css.

[2017-02-01 01:17] #905 closed

[2017-02-01 05:03] raix commented on #733
Stop default

[2017-02-01 06:49] bharay opened #924 "Dropdown component 'id' prop is not used."
### Bug Report
- __Package version(s)__: 1.3.7

#### Describe the issue:
Dropdown component 'id' prop is unused.

#### Actual behavior:
Dropdown component use id's generated by its helpers methods like "Dropdown0", "Dropdown1" .. instead of id provided in the props.

#### Expected behavior:
Id if provided in the props should be used.

[2017-02-01 06:55] sharpoverride opened #925 "DetailsList: Sticky/fixed header"
It should be possible to have the header fixed. I explored the documentation and I'm unable to find a property to handle this.

At the moment I need to go through a lot of ugly hacks to get to the header component.

[code]

[2017-02-01 07:37] sharpoverride opened #926 "WithViewport decorator hides DetailsList properties"
### Bug Report
WithViewport decorator hides DetailsList properties

- __Package version(s)__: 1.3.7
- __Browser and OS versions__: All

#### Describe the issue:

Using the import declaration `import {  DetailsList } from 'office-ui-fabric-react'` I expect to be given an instance of the component. Instead I receive a WithViewportComponent instance.

#### Actual behavior:

DetailsList declares that

[2017-02-01 09:34] AkshanshSrivastava03 commented on #879
As far as I understand it correctly, you are trying to bring the focus on the list rather than the first time in the scenario i have mentioned. Can we get an ETA for this?

[2017-02-01 09:58] ronak-92 commented on #914
Thanks for clarifying the between the behaviour of focus and selection.

Expected Behavior:
With Selection
![image](https://cloud.githubusercontent.com/assets/9554299/22499827/03399c60-e887-11e6-8d05-96155214a37e.png)

unselecting using keyboard
![image](https://cloud.githubusercontent.com/assets/9554299/22499851/24e38902-e887-11e6-887d-dd7592fc8a72.png)

If I try to unselect using 'space' key whe

[2017-02-01 10:52] Hardhik opened #927 "Breadcrumb: Navigation and keypress event handling."
- __Package version(s)__: Current one
- __Browser and OS versions__: Chrome Win10

When the focus is on one of the breadcrumb's elements and we press alt+right OR alt+left the default behavior should be that of the browser ( navigate forward OR backward in history).
This is not honored currently.

I guess the problem is in the keypress event handler where we stop the propagation of keypress events

[2017-02-01 14:24] janhartmann opened #928 "Reset selected items state of TagPicker"
I am in a situation where I have a reset button to reset the values of a `TagPicker`.

Since the component is alrready mounted, the internal state is not reset if I change the `defaultSelectedItems` property on the `TagPicker`.

https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/pickers/BasePicker.tsx#L51

It would be cool if was possible

[2017-02-01 16:34] mdahamiwal commented on #912
@dzearing, i think having something like https://jqueryui.com/menu/ will help. We don't need tabindex=0 as menu bar defines navigation using arrow keys.

[2017-02-01 17:07] dzearing commented on #897
@rickyp-ms This component is not owned by us, but we are reaching out with the nav team to see what options we have.

[2017-02-01 17:07] dzearing commented on #897
I will leave this open until we understand the plans.

[2017-02-01 17:08] dzearing commented on #907
@leddie24 dig in, let me know if you need help

[2017-02-01 17:09] dzearing commented on #925
yeah that's not great. :) We've wanted a sticky header feature for a while so this is a great feature ask.

[2017-02-01 17:12] dzearing commented on #926
Hmmm no, refs.header is not techincally part of the contract; we may remove or replace the internals at any time which would break you. You should not be digging into the internal private members of the component. While React typically expects "refs" to be public, it is not part of the `IDetailsList` interface which is where we'd include component contractual method definitions.

Resolving as by d

[2017-02-01 17:12] #926 closed

[2017-02-01 17:15] dzearing commented on #928
There are 2 ways to do this;

1. use a unique key on the component and change the value when you want it reset. This will cause the component to be recreated and subsequently the state to be reset. This can be done now with no code change.

2. We should support a controlled component mode so that you control selectedItems and the component simply fires events telling you to mutate the state you pa

[2017-02-01 17:16] dzearing commented on #928
If #1 is good enough for you, I think we would hold off updating #2 but I'd need to discuss with people here.

[2017-02-01 17:20] dzearing commented on #914
The scroll on space sounds like a bug. We should fix that.

The selection button seems to be totally hidden including the focus rect when the row is unselected. Only the button part, not the focus rect around it, should be hidden. That also seems like a small css bug.

If we fix those 2 does that completely address your issues? I want to make sure I'm capturing everything! But those 2 issues I def

[2017-02-01 17:23] dzearing commented on #927
Good catch, easy fix. Assigning to @leddie24

[2017-02-01 17:27] dzearing commented on #912
@mdahamiwal not sure i follow. You need focus to be set on the active item for screenreader default behavior but also just in general for a variety of other reasons. But for disabled buttons, we just can't combine the native disabled state with focusability.

We already fake disabled states for anchors (Fabric Button with href, for example) because browsers don't natively support disabled anchor t

[2017-02-01 17:28] dzearing commented on #912
I've started a discussion internally with Edge and the Office Web Apps accessibility folks to make sure we're all following the same rules.

[2017-02-01 17:54] janhartmann commented on #928
A unique key on the component? Can you give a short example?

[2017-02-01 18:28] joschect commented on #928
@janhartmann When you say reset, do you mean clear out the selected items? Or that the selected items have content that changes and needs to get updated?

[2017-02-01 18:38] janhartmann commented on #928
I mean clear the selected items. :-)

[2017-02-01 19:31] joschect commented on #928
@janhartmann I talked with David a bit more and it sounds like the easiest and fastest way to do this is have you pass a key to the tag picker.

To do that you could do something like this:

[code]

[2017-02-01 19:34] rickyp-ms commented on #897
Already reached out. I'll give more details offline but basically it wouldn't be part of this library currently.

[2017-02-01 19:37] aleksandrjPersonal opened #929 "Update project install steps to include rush install"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Describe the issue:

#### Actual behavior:

#### Expected behavior:

### If applicable, please provide a codepen repro:

[2017-02-01 19:39] #897 closed

[2017-02-01 20:05] joschect commented on #883
@MirandaGe Since this isn't a problem in the latest version I'll close this issue. Please reopen it or open a new one if you experience this problem again.

[2017-02-01 20:05] #883 closed

[2017-02-01 20:06] joschect commented on #810
@2toLeadMike is this still an issue?

[2017-02-01 20:13] 2toLeadMike commented on #810
@joschect It is still an issue but I think for now we have decided that we would simply have to avoid IE11 for the time being on that SP site as I'm out of time to try to break the solution down further and provide extra details.

Hoping that down the road I can look into this further.  I would require more time to see if it has something to do with webpack for instance, or perhaps a certain featu

[2017-02-01 20:14] #810 closed

[2017-02-01 21:11] mininternet opened #930 "Fabric UI doesn't work with Mobx"
### Bug Report

 "office-ui-fabric-react": "^1.3.7",
 "mobx": "^3.0.2",
 "mobx-react": "^4.1.0"

#### Describe the issue:

Trying to use the Panel component.

The Panel appears, as expected, when passed a "true" value to the isOpen prop, from the parent container.

However, once opened, the Panel does not close or respond to any setState commands from within the Panel component, nor does the onDis

[2017-02-01 22:10] stephenzsy opened #931 "Picker within Dialog "escape" key dismisses dialog instead of the suggestions"
### Bug Report

- __Package version(s)__: 1.3.7
- __Browser and OS versions__: Chrome Version 56.0.2924.76 (64-bit) / Windows 10

#### Describe the issue:

If a picker is within a dialog then press "escape" key will automatically trigger the parent dialog to dismiss as well, even in the case we are overriding the onKeyDown to prevent the event propagate to the parent.

Further, we might want to be

[2017-02-01 22:11] joschect commented on #810
@2toLeadMike Hey Mike. Thanks for your response. I'm very curious to see what the problem might be, if you can point me to how you were trying to implement it I might have some time to troubleshoot.

[2017-02-01 22:22] joschect commented on #931
hi @stephenzsy  I'll take a look.

[2017-02-01 22:47] joschect commented on #931
@stephenzsy Okay, there are 2 problems causing this, 1 is that basepicker doesn't actually prevent propagation when you press escape and close the menu. The other problem is that popup get's the escape press before the basepicker does because it uses this._events.on.

[2017-02-01 23:24] cschleiden opened #932 "ContextMenu: shouldFocusOnMount doesn't have any effect"
### Bug Report

- __Package version(s)__: master
- __Browser and OS versions__: *

#### Describe the issue:

If I'm not mistaken, `shouldFocusOnMount` doesn't have any effect on the context menu.

[2017-02-01 23:29] cschleiden opened #934 "ContextMenu: first item is focused when opening, but focus state is not shown"
### Bug Report

- __Package version(s)__: master
- __Browser and OS versions__: *

#### Describe the issue:

When the context menu is opened, the first item automatically has focus, but since initially the `Fabric` element surrounding the `ContextMenu` has `isFocusVisible` set to false, the focus state is not shown. Only once you click or interact with the menu using cursor up/down is the focus st

[2017-02-02 00:28] stephenzsy commented on #931
@joschect BasePicker can be overriden to stop the escape, but what about the Popup uses this._events.on

[2017-02-02 00:32] joschect commented on #931
@stephenzsy The code change I've put in will fix this problem once it get's approved.

[2017-02-02 03:05] ronak-92 commented on #914
Yes that would solve the issue.

[2017-02-02 08:30] janhartmann commented on #928
While this works, I think we can all agree it is not as elegant as it could be. ;-)

I hope to see a version of the `TagPicker` (and other form components) support a controlled component mode in the future. :-)

[2017-02-02 09:36] ronak-92 opened #935 "CheckBox: selection is not visible in high contrast"
### Bug Report

- __Package version(s)__: (0.87.0)
- __Browser and OS versions__: (Explorer and win10)

#### Describe the issue:

In high contrast - whether you select or unselect - you will only see the white circle with no difference.

#### Actual behavior:

![image](https://cloud.githubusercontent.com/assets/9554299/22540734/f7895718-e947-11e6-9894-999795362c39.png)

#### Expected behavior:

Th

[2017-02-02 11:45] mdahamiwal commented on #932
Have you tried with latest bits?
![contextmenu](https://cloud.githubusercontent.com/assets/12109362/22548168/36583036-e96b-11e6-8686-73da435206ca.gif)

[2017-02-02 16:54] cschleiden commented on #932
@mdahamiwal I looked at the code, I can't find any usage of the prop in ContextMenu

[2017-02-02 18:15] dzearing commented on #934
1. Focus rectangles not showing up without keyboard interaction is by design.

2. There is a separate issue tracking that we should do some special casing for the mouse entry vs keyboard entry of menus. If you click on a menu button to expand the menu, we should keep focus on the button so that if you press enter, it hides the menu. However, if you use the keyboard to expand the menu button, movin

[2017-02-02 18:18] cschleiden commented on #934
@dzearing but is it the correct behavior for a context menu to focus the first item without visual cue? In Windows Explorer, for example, when I open a context menu and hit [Enter], the context menu closes, the first item is **not** executed.

In Chrome, just because I have it open right now, hitting [Enter] after opening a context menu also does **not** execute, but sets focus to the first item.

[2017-02-02 18:19] dzearing commented on #930
I'm really confused by this bug. You refer to a Drawer component, which doesn't exist in fabric.

Your example refers to a Panel but doesn't show usage.

Can you please add more details on what you're using, and how you're using it?

[2017-02-02 18:20] dzearing commented on #930
I'm updating the title to be more specific to an issue your having, how i interpret it... but please clarify.

[2017-02-02 18:21] dzearing commented on #935
@mikewheaton want to assign?

[2017-02-02 18:21] dzearing commented on #932
@joschect ?

[2017-02-02 18:22] cschleiden commented on #934
Additionally, for the focus highlight, when I tab via the keyboard to the element that opens the context menu, and then hit enter (in case of a button, like in the examples) shouldn't we show the focus in that case?

I could understand if it's not shown if the menu is opened via mouse interaction.

[2017-02-02 18:29] dzearing commented on #934
@cschleiden Yes that's correct behavior. Many things in ux will get focus without a visual cue. The focus rect design goals are:

1. Don't clutter the ux with unnecessary boxes whenever focus is set. It creates visually busy ux. Only show the focus rectangles when users are using the keyboard to navigate around the ux.

Focus rects add very little value unless you're navigating the ui with keyboar

[2017-02-02 18:31] dzearing commented on #934
if you tab via keyboard to an element, focus rectangles SHOULD show up, for sure. Are you not seeing that?

[2017-02-02 18:42] cschleiden commented on #934
Okay, didn't have a `<Fabric>` element surrounding my `Button` and the `ContextMenu`, so a new one was created once the menu was opened. That didn't know anything about my prior keyboard interaction, of course.

So, for the next person who finds this: check your `<Fabric>` wrappers :)

Thanks for the clarification @dzearing.

[2017-02-02 18:42] #934 closed

[2017-02-02 18:49] joschect commented on #932
@dzearing This is a bug, it's an easy fix. It should get passed through to Callout via "setInitialFocus". I'll have a pr shortly.

[2017-02-02 19:16] micahgodbolt commented on #872
Can't currently repro this in Edge or Chrome

https://codepen.io/micahgodbolt/pen/rjvBLr

[2017-02-02 19:53] mininternet commented on #930
(Apologies, i used the term Drawer since that's what it's called in both Material UI and React Toolbox. I've updated my initial description.)

Basically, the Panel appears when a parent component passes a "true" value to the Panel isOpen prop, but once opened, the Panel does not respond to any attempts to close, either by using setState = false, or by toggling an @observable true/false attribute f

[2017-02-02 19:54] mikewheaton commented on #935
There is a pull request in Fabric Core that should resolve this issue once it's released and used by Fabric React: https://github.com/OfficeDev/office-ui-fabric-core/pull/913

I've assigned this issue to myself to track.

[2017-02-02 20:27] dzearing commented on #932
Merged :)

[2017-02-02 20:27] #932 closed

[2017-02-02 20:35] mininternet commented on #930
@dzearing - You can keep this issue on hold for now, I'm going to attempt a couple of new React state management methods to see if I can get Fabric UI to work.

Thanks

[2017-02-02 20:44] dzearing commented on #930
I don't think this is specific to mobx or redux, but perhaps how the state is being passed into the Panel.

Here's a codepen of usage: http://codepen.io/dzearing/pen/qqWXYP

Would it be possible for you to fork to include an example of mobx being used here?

[2017-02-02 20:48] dzearing commented on #930
I've updated the codepen to include a `setInterval` to toggle the isOpen boolean on and off just to illustrate it opening/closing.

[2017-02-02 20:52] dzearing commented on #930
Or at least... paste a code snipped of the props you're passing into the Panel?

[2017-02-02 20:53] dzearing commented on #929
Hmm. @aleksandrjPersonal this should be done by npm install at the root.

[code]

[2017-02-02 20:58] mikewheaton commented on #929
@aleksandrjPersonal, I forget the exact issues that we saw with your install. Could you try cloning down a fresh copy of the repo and following the install directions? I thought it was just that our documentation was out of date, but I guess not.

[2017-02-02 21:27] ezambra commented on #872
Confirmed bug is now fixed in office-ui-fabric-react_v1.3.7-9-ge12b5e4 for Chrome, Firefox and Edge.

[2017-02-02 21:27] #872 closed

[2017-02-02 23:17] russgove commented on #856
So I see this issue was closed. Was it resolved? If so , how do I get the update?

[2017-02-02 23:24] dzearing commented on #929
Please re-open if you hit any issues!

[2017-02-02 23:24] #929 closed

[2017-02-02 23:25] #924 closed

[2017-02-03 00:29] dzearing commented on #915
Here's a customized example of the Nav:

http://codepen.io/dzearing/pen/ZBGNQg?editors=0010

Take a look at `onRenderLink` usage. It doesn't perfectly mix into `Link` but it should get you going.

[2017-02-03 00:35] dzearing commented on #915
Actually

[2017-02-03 01:35] dzearing commented on #409
I've resolved.

![image](https://cloud.githubusercontent.com/assets/1110944/22576008/0091c888-e96e-11e6-8df6-24e1503382dd.png)

[2017-02-03 01:35] #409 closed

[2017-02-03 08:29] quangleminhvn commented on #349
Hi all,

May I know the status of this feature? I really need to apply it to our project. Or can you suggest is there any control has pagination that we can apply?

Thank you

[2017-02-03 15:44] mininternet commented on #930
Thanks for the Codepen, is very useful. The documentation on the FabricUI site is quite odd compared to most React libraries (import from .../index, React.Component<any, any>, etc.)

I will try again with your code example.

Thanks

[2017-02-03 16:35] mininternet commented on #930
Still not working. I agree probably doesn't relate to Mobx, but rather the Panel component's own state mechanism.

When passing a True value as a prop, from the Parent control to the Panel's isOpen property, the Panel displays, as intended.

Yet within the Panel component, neither this.state.isOpened = this.props.isOpened, nor this.state.isOpened = true, nor @isOpened = this.props.isOpened, neithe

[2017-02-03 16:45] gabrielruss opened #948 "People Picker question"
I am working on adding a people picker component and I was wondering if there is an "official" or "supported" way to handle searching for the users. I have seen examples where you send the text input to a REST call that searches the user profile service.
On the  http://dev.office.com/fabric#/components/peoplepicker page, the example only shows pulling in example data from a "people" import so I wa

[2017-02-03 18:30] cschleiden commented on #930
Haven't used mobx before, but how do you change state when `this.isOpened` changes? Looks like this is independent right now?

[2017-02-03 19:38] mininternet commented on #930
I was including both code samples for reference, to indicate i attempted both.

Meaning i tried isOpen={this.isOpened}, but also didn't work.

With Mobx, you declare a local variable with a decorater, @observable, and any update to that variable triggers a re-render.

So with Material-UI, i'm able to change @isOpened = true, on an event click, and the component recognizes that updated variable..

[2017-02-03 23:49] #512 closed

[2017-02-03 23:50] #57 closed

[2017-02-03 23:51] #511 closed

[2017-02-04 03:42] dzearing commented on #928
@janhartmann it depends on the use case. It is much easier to consume a component that has some smarts and gives you just what you need. It is more work for the consumer to manage state, and if the only thing to care to control is when to reset, it's nicer to just stick a key and reset a bunch of things.

[2017-02-04 04:40] dzearing commented on #913
This should now be resolved.

[2017-02-04 04:40] #913 closed

[2017-02-05 19:17] fantua commented on #820
Also, will be good to add **required** prop to the [input](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/ChoiceGroup/ChoiceGroup.tsx#L79).

[2017-02-05 21:50] cschleiden commented on #930
Where do you add `@observer` to your component? Quickly put together a codepen http://codepen.io/cschleiden2/pen/BpVPBW seems to work just fine.

[2017-02-06 04:48] #594 closed

[2017-02-06 18:18] mininternet commented on #930
Looking at your Codepen, i notice it's using TypeScript as the preprocesser.

When I change it to Babel (i don't really see a lot of TypeScript in the React ecosystem), i get the same behavior i mentioned, where the Panel doesn't display, nor react to any updating of isOpened. Nor does it throw any errors.

I'm guessing it's an issue with TypeScript / Babel ES6 transpilation (this).

Here is the c

[2017-02-06 18:28] cschleiden commented on #930
http://codepen.io/cschleiden2/pen/PWBGvL with Babel, (mostly) with your code, works just fine.
If you take your code and look at the console output, you can see, that you are not passing in a callback to `onClick` for the `Button` which triggers a mobX invariant error.

I don't think there is any problem with mobX and OfficeFabric here. Please re-open if you find another issue.

[2017-02-06 18:28] #930 closed

[2017-02-06 22:32] cschleiden commented on #907
@ankitk94 are you using the dialog on a VSTS page? This looks very much like a local issue we have. Could you ping me at cschleid? I can help you resolve this.

@dzearing @leddie24 don't think this is a problem with OfficeFabric itself.

[2017-02-07 01:08] dzearing commented on #693
This caused a regression where the rows no longer expand the full row width in scenarios where you horizontally scroll, so reverting change and re-activating.

[2017-02-07 02:57] davidye opened #953 "Dialog will open but not close"
### Bug Report

- __Package version(s)__: 1.5.3
- __Browser and OS versions__: Chrome, OSX

#### Describe the issue:

I have a button which opens a Dialog by setting isOpen={true}. The dialog opens. But when I try to close it by setting isOpen={false}, nothing happens. Examining with inspector I see:

    <div class="ms-Dialog ms-Dialog--close is-open is-animatingClose">

But it never seems to tra

[2017-02-07 05:00] dzearing commented on #930
Dang. I just made a mobx sample and saw @cschleiden did exactly the same. Thanks Chris.

fwiw same outcome :)
http://codepen.io/dzearing/pen/ygqKLp?editors=0010

[2017-02-07 05:21] AkshanshSrivastava03 opened #954 "Dropdown: Open long list of options below dropdown"
### Bug Report

- __Package version(s)__: 1.2.2
- __Browser and OS versions__: All browsers

#### Describe the issue:
Provide a big set of inputs to the dropdown control. You will see that on clicking the dropdown, it opens the entire list of options on the left/right side of the dropdown.

#### Actual behavior:
This opens the list on left/right side of dropdown covering the screen.

#### Expected

[2017-02-07 05:33] AkshanshSrivastava03 commented on #879
@dzearing Hi, any update on this? I see an attached bug getting closed. Is this related to that one?

[2017-02-07 05:43] ankitk94 commented on #907
Yes, I am using it on VSTS page. Sure will ping you up

[2017-02-07 07:13] menberg commented on #953
Same problem here. Also with Panel component. What seems to be missing are the CSS transitions. So the [transitionend event](https://developer.mozilla.org/en-US/docs/Web/Events/transitionend) never gets fired. As the Dialog and Panel component depend to the transitionend event to close, they stay open forever.

Strange thing is: while debugging, I attached [fabric.min.css 4.1.0](https://static2.sh

[2017-02-07 15:25] #907 closed

[2017-02-07 17:00] cschleiden commented on #930
Sorry, I couldn't resist :) Hadn't used mobx before and wanted to give it a try.

[2017-02-07 17:13] mininternet commented on #930
I understsnd, Mobx is interesting.
My project still has the same issue, not replicable in that Codepen, but my Webpack config obviously won't be the same. Material UI works as expected.
Material UI is still the gold standard as far as easy integration with React goes, but I'll try to circle back to Fabric UI once it's not so bleeding edge.
Thanks for the assistance. 

-------- Original message ---

[2017-02-07 18:58] saritwik opened #957 "Custom Bread Crumb Items"
Hi,

I am using the Office Fabric  bread crumb control and want to customize how each item is rendered in the bread crumb. In my case I want to add icons to the bread crumb items - instead of showing just plain text.

Looking for render function that I can use to control what bread crumb items look like.

Thanks

[2017-02-07 19:00] saritwik commented on #957
Also I would be happy to contribute this feature myself to the library, if this is not planned.

[2017-02-07 21:03] stephenzsy opened #962 "Picker and Dropdown have inconsistent border colors"
### Bug Report

- __Package version(s)__: 1.5.2
- __Browser and OS versions__: (fill this out if relevant)

#### Describe the issue:

https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/Dropdown/Dropdown.scss#L142
 border: 1px solid $ms-color-neutralTertiaryAlt;

https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/offi

[2017-02-07 22:03] dzearing commented on #953
Strange. @leddie24 can you take a look?

[2017-02-07 22:34] davidye commented on #953
Yeah I was using fabric.min.css 6.0.0. This works for me if I rollback to fabric.min.css 5.0.1

[2017-02-08 03:59] satishkumaarponnusamy opened #966 "[Accessibility] Details list div has empty role"
Hi,

DetailsList adds empty role which is invalid, refer to [Aria role](https://dequeuniversity.com/rules/axe/2.1/aria-roles)

You can inspect it in [detailslist](http://dev.office.com/fabric#/components/detailslist)
[code]

Thanks,
Satish

[2017-02-08 04:39] thiagozimp commented on #953
Same thing here with latest version.

[2017-02-08 06:37] graham-sportsmgmt opened #967 "Implementation documentation needs cleaned up"
There are a lot of errors in the Implementation section of the documentation, and it should be cleaned up.

Some examples:

- The Button Class lists focus() as the only required member, but not one of the code samples for Button use focus
- IContextualMenuItem under CommandBar has 18 deprecated members, and we have to search through the Description field to see what to use as the actual members ha

[2017-02-08 11:13] fantua opened #968 "Button: Broken styles"
### Bug Report

- __Package version(s)__: 1.5.5

#### Describe the issue:
Disabled IconButton

#### Actual behavior:

![actual](http://image.prntscr.com/image/b39390982b8c4f0a9871d05729407739.png)

#### Expected behavior:

![expected](http://image.prntscr.com/image/aec39a57d7af4feeb530dde613c68e90.png)

Also, how can I use Hero Button? Now it's look like:
![hero](http://image.prntscr.com/image/fa3

[2017-02-08 14:47] SureneruS opened #969 "[Accessibility] BreadcrumbItem do not respond to Enter Press"
### Bug Report

- __Package version(s)__: 1.2.2
- __Browser and OS versions__: Chrome, Win10

#### Describe the issue:

IBreadcrumbItem interface takes onClick handler. It should be called when Enter is pressed, similar to buttons.

#### Actual behavior:

No action when Enter is pressed.

#### Expected behavior:

Enter should trigger onClick event,

### If applicable, please provide a codepen repr

[2017-02-08 15:05] SureneruS opened #970 "[Accessibility] The Office Fabric DetailsList headers are buttons with aria-sort label which isn't supported by button"
### Bug Report

- __Package version(s)__: 1.2.2
- __Browser and OS versions__: not relevant

#### Describe the issue:

As title. It is failing ARIA standard. Can be fixed by removing the aria-sort attr from the component

`<button class="ms-DetailsHeader-cell is-actionable is-icon-visible" aria-haspopup="false" aria-label="Name" aria-sort="ascending" data-automationid="ColumnsHeaderColumn" data-it

[2017-02-08 20:26] scriby commented on #770
FWIW, I ran into the same issue.

My preference would be to optimize for the common case of "don't show validation before the user has interacted with the component". By not having built in support for the common case, we're basically forcing all users of the components to work around the base behavior in their own way.

[2017-02-09 02:54] scriby commented on #819
This confused me just now with the TextField because I was trying to use the onChange event, which doesn't get fired. It's also not a compilation error because it exists intrinsically.

[2017-02-09 05:16] dzearing commented on #970
@SureneruS is this something you can help address?

[2017-02-09 05:17] dzearing commented on #970
If you are already testing for any aria issues, it would be helpful to submit PRs.

[2017-02-09 10:28] SureneruS commented on #970
@dzearing yes, I can work on the fix.

[2017-02-09 23:25] MitchBodmer opened #980 ""Callout directional example" moves with webpage."
### Bug Report

- __Package version(s)__: N/A
- __Browser and OS versions__: Firefox 51, Edge 40, Chrome 56

#### Describe the issue:

Go the the Callout directional example on the website. Click the "Show callout" button. Scroll. The callout will move along with you as you scroll.

#### Actual behavior:

Callout follows you.

#### Expected behavior:

Callout stays put relative to the element it's

[2017-02-10 02:49] dzearing commented on #968
The icon disabled button is now addressed.

@mikewheaton Hero buttons are deprecated, correct?

@fantua If you have a use case where you were using hero buttons, could you provide a screenshot for us to better understand your case?

[2017-02-10 04:26] mikewheaton commented on #968
Yes, the Hero button is deprecated. There are some discussions happening with design around creating a similar button pattern, but I don't think anything is finalized there yet. It would be very helpful to see where @fantua is wanting to use this.

[2017-02-10 04:27] #969 closed

[2017-02-10 04:27] dzearing commented on #970
Thank you!

[2017-02-10 04:37] graham-sportsmgmt commented on #856
It's not working for me :(

[2017-02-10 05:41] dzearing opened #983 "Fabric React CSS Styling: to inline, to modulecss, or to scope"
I'm going to open this issue up for discussion, I would really love to hear peoples' opinions.

We are looking at a number of options to improve how we define the component css. We want a few things:

1. Safe to use, no conflicts. If you accidentally load 2 different versions of the same Component, they never will collide each other. We can achieve this using a number of approaches that have their

[2017-02-10 05:43] #968 closed

[2017-02-10 05:54] ankitk94 commented on #907
Adding class "bowtie-fabric" fixed the issue of button shadow in dialog, but created another issue.

It is forcing other non-fabric components to behave like fabric:

![image](https://cloud.githubusercontent.com/assets/6390909/22815721/6c23e73c-ef83-11e6-84c4-48283fcfea21.png)

The blue background appearing on hover is undesirable. Moreover, it affected the styling for all components which were us

[2017-02-10 05:57] ankitk94 opened #984 "Dialog close button shadow"
Bug Report

fabric version : 0.87.1
Describe the issue:

For dialog component, close button shadow is seen when button is hovered.
Adding class "bowtie-fabric" fixed the issue of button shadow in dialog, but created another issue.

It is forcing other non-fabric components to behave like fabric:

image

The blue background appearing on hover is undesirable. Moreover, it affected the styling for al

[2017-02-10 05:57] ankitk94 commented on #984
![image](https://cloud.githubusercontent.com/assets/6390909/22815795/eb509186-ef83-11e6-985e-1d558637a62b.png)

[2017-02-10 14:16] fantua commented on #968
@dzearing @mikewheaton for me, in that case it's look good:

![hero](http://image.prntscr.com/image/ccd64cddc17b45cd91024ba05cd9051d.png)

much better, than this:

![without-hero](http://image.prntscr.com/image/69fd5d0a535d456097f0e1780fb0dbff.png)

[2017-02-10 16:46] carruthe opened #985 "Column handles in DetailsList break after one resize event."
### Bug Report

- __Package version(s)__: 1.5.5
- __Browser and OS versions__: OS X Sierra, Safari 10.0.3

#### Describe the issue:

I am using the DetailsList component like this:

        <div className='ms-bgColor-themeLighterAlt'>
                <MarqueeSelection selection={this._selection}>
                    <DetailsList
                        items={listItems}
                        sel

[2017-02-10 16:55] carruthe commented on #985
Looks like my first issue (the initial sizing of the columns) is fixed by adding

`layoutMode={ DetailsListLayoutMode.fixedColumns }`

to the DetailsList control.  The other problem with the handles not relocating remains, though.

Thanks!

[2017-02-10 20:53] fantua opened #986 "Facepile: Selection after click"
### Bug Report

- __Package version(s)__: 1.5.5

#### Describe the issue:

Facepile got selection after click on more button.

![facepile](http://image.prntscr.com/image/da76124eb8734d87929c0aac77fdc8a2.png)

[2017-02-11 00:43] graham-sportsmgmt opened #987 "Module not found: 'react'"
### Bug Report

- __Package version(s)__: 1.5.5
- __Browser and OS versions__: Win 10 Pro X64, VS Code, Chrome, Firefox, Edge

Node:
[code]

#### Describe the issue:

I used react-create-app to create an application yesterday, and installed fabric using npm.  I have one page that requests a CommandBar, and this is the output in the console:

[code]

#### Actual behavior:

Numerous errors in the co

[2017-02-12 18:04] compulim commented on #983
We could set few extra rules to make the system flexible and easy to use:
1. Light and dark mode is a global setting: one component cannot be dark while another is light
2. What styles can be overridden by the user? All styles, or only styles exposed by the component developer?
3. Can themes be modularized? So one can publish/reuse their theme and get further overridden

[2017-02-12 22:16] graham-sportsmgmt commented on #915
Given that react-router is pretty much essential for any SPA with react, I'd also like to see support for this in office ui fabric.  Until then, here's how I am using it with the Nav...

**Step One: Modify the groups object**
Remove all href tags and add a new custom tag with the destination you want to send to react-router:

`{ name: 'Supervisors', key: 'key4', link: '/administration/supervisors'

[2017-02-12 22:47] graham-sportsmgmt opened #989 "[Nav] icon not displaying"
### Bug Report

- __Package version(s)__: 1.6.0
- __Browser and OS versions__: Tested in latest versions of Chrome, Firefox, and Edge

#### Describe the issue:

Adding an icon property to either a LinkGroup or Link results in no icon being displayed.

#### Actual behavior:

No icon is displayed.

#### Expected behavior:

An icon will be displayed next to the text, per the docs.

### If applicable,

[2017-02-13 05:33] mdahamiwal commented on #989
Not sure why but Icons are supported only for Button type items. You will need to attach onClick handler as well.  http://codepen.io/mdahamiwal/pen/ygGjez?editors=0010

[2017-02-13 05:37] graham-sportsmgmt commented on #989
Interesting, the onClick handler activated the icon.  Should this be documented?

[2017-02-13 10:26] BjornVanWettere opened #991 "DetailsList: Dynamically adding & deleting rows"
#### Describe the issue:

I am using this component together with the 'Add row'-button, so I'm dynamically creating rows with Keys/Id's. On every row I have a 'Delete row'-button, which passes the ID so that I can delete the item in the items-list. These rows consist of TextFields, buttons, images, labels, etc.
When I click this button, an item indeed gets removed. However, the content of the last

[2017-02-13 14:28] panigrah opened #992 "How to Add New Persona into Facepile using people picker?"
Hi,

The Facepile react documentation page on the office UI fabric pages says

Does anybody have an example of how to get a PeoplePicker component and Facepile work together?

thanks

[2017-02-13 15:38] graham-sportsmgmt opened #993 "[Nav] Item Groups option to not expand on click"
I have a Nav structure where I don't want my parent ItemGroups navigating to a new page or picking up the Active style as they are purely categories and I want the user selecting something under them to proceed.  The current behavior (as of 1.7.0) is to only expand an Item Group when the accompanying arrow is clicked and the Active status is set to true on click.

I'd like to propose an option for

[2017-02-13 21:58] jdhuntington opened #995 "MesasgeBar dismiss button does not appear unless actions also specified"
### Bug Report

- __Package version(s)__: `master`

#### Describe the issue:

     <MessageBar
      messageBarType={ MessageBarType.error }
      onDismiss={ () => { console.log('test'); } }
      isMultiline={false}>

Does not render a dismiss button, but should.

#### Actual behavior:

no dismiss button present to activate `console.log(...)`

#### Expected behavior:

dismiss button present to a

[2017-02-14 11:56] ipip2005 opened #999 "[Accessibility] PeoplePicker doesn't have focus border when focused by keyboard"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: any

#### Describe the issue:

The PeoplePicker control doesn't have focus border when TAB focused by keyboard.

#### Actual behavior:

No focus border

#### Expected behavior:

A focus border around the box.

### If applicable, please provide a codepen repro:

https://fabricreact.azurewebsites.net/fabric-react/master/

[2017-02-14 16:44] panigrah opened #1001 "TagPicker support for adding new tags"
Does TagPicker have support for adding new tags? I was expecting to see a event handlers such as "onNewTag()" and "onRemoveTag()" in the api.

[2017-02-14 17:17] mikewheaton opened #1002 "CommandBar: Hover and disabled states are styled incorrectly"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: All

#### Describe the issue:

Disabled buttons shouldn't have a hover state. There's also this issue with the dark grey on top of the light grey:

![image](https://cloud.githubusercontent.com/assets/1382445/22940315/4f9bc506-f296-11e6-8af6-5e3257d45cfd.png)

[2017-02-15 08:49] prmittal commented on #787
@dzearing Is there any update on this?

[2017-02-15 09:15] sandeepchads commented on #966
+1 Just checking whether we have an ETA for this bug closure?

[2017-02-15 09:17] sandeepchads opened #1004 "[Accessibility] Escape should close the callout."
#### Describe the issue:

Currently, we are unable to dismiss the call out control by clicking ESCAPE

#### Actual behavior:

Pressing ESCAPE for call out controls does nothing.

#### Expected behavior:

ESCAPE should close the call out controls

[2017-02-15 09:55] Adity-Agarwal commented on #792
@cschlechty Any updates on this? Has the glyph been added?

[2017-02-15 11:33] nipunja opened #1005 "Picker: Show all available options without text input"
Picker control (https://fabricreact.azurewebsites.net/fabric-react/master/#/examples/pickers) does not have a way to see all the picker items. It only shows suggestions based on user text input. However, in some of the scenarios, user might not even know what to type. This will be the default case when picker items are filled dynamically by some webservice call. It would be good to show all the pi

[2017-02-15 11:49] ipip2005 opened #1006 "People Picker: long people card overflows in narrow people picker"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: any

#### Describe the issue:

In some scenarios, people resolved from people picker will have a long name. Sometimes the people picker can be narrow (small width). Then the people card will overflow the people picker container which looks bad.

#### Actual behavior:

The people card overflows outside the people picker

[2017-02-15 12:41] hitendramalviya commented on #382
I am using `"@types/react": "^15.0.1"` anyway with latest version of `office-ui-fabric-react` they have removed typing of react from dependency so no problem now there is only one type definition for react i.e.  `@types/react`.

[2017-02-15 12:51] hitendramalviya commented on #906
Yes we can define more specific selector classes but why each component injecting a separate stylesheet into head section. If I already included
` <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0/fabric.min.css">
 <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0/fabric.components.min.css">`
into head there is no more required to inject styles f

[2017-02-15 13:39] iliesalex89 opened #1007 "PeoplePicker/BasePicker"
### Bug Report

- __Package version(s)__: 1.7.x

#### Describe the issue:

I'm trying to use PeoplePicker inside a form and in many cases, the form is initialized with edit/default values only after the components are instantiated. in the current implementation of BasePicker, i see that the defaultSelectedItems are used or considered only in the constructor and not on render or componentWillReceiv

[2017-02-15 14:11] panigrah commented on #987
* Does the app run if you don't import any of the office-ui-fabric modules?
* did you install office-ui-fabric as a global package or local package?

I installed react using react-create-app and then `npm install -g ofice-ui-fabric-react` and have no issues importing `CommandBar` into the sample app. It is likely a problem with your setup.

[2017-02-15 20:58] dzearing commented on #991
hmm I made a codepen of removing rows in a detailslist and have not experienced this.

http://codepen.io/dzearing/pen/WRKROd

Can you provide a codepen?

[2017-02-15 21:25] inateeg commented on #993
Nav component actually support TRUE group header just for category and owning child links.  Then each link can be level 1 (parent) link or level 2 (child) link.

Just in SP UX LeftNav, design choose not to show Group Header and only Level 1 and Level 2 links.  My question to you is that you wish SP LeftNav can host level 1 "link" that only serve as heading not real link?

[2017-02-15 21:26] inateeg commented on #993
Or you are talking about Nav component used elsewhere in general?

[2017-02-15 21:29] inateeg commented on #993
INavLinkGroup currently is serve what you are asking just it is not used in our SP modern page LeftNav.  That is why I am asking if you are asking for SP UX leftNav can support you with this heading or Nav component in general Level 1 link can be just header with no navigation on click?

[2017-02-15 21:33] graham-sportsmgmt commented on #993
Yes, I'd like to have a group header to be only a header and not navigate.  How does that work?  I don't see anything in the documentation that addresses that.

I'm not sure what you're asking here though, could you please reword it?

[2017-02-15 21:39] inateeg commented on #993
INavLinkGroup is only header. Not a link.

[cid:image001.png@01D28790.EA143940]

From: Graham Hunter [mailto:notifications@github.com]
Sent: Wednesday, February 15, 2017 1:34 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Ina Teegan <inateeg@exchange.microsoft.com>; Comment <comment@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] [Nav] I

[2017-02-15 21:42] graham-sportsmgmt commented on #993
The documentation is really unclear on how this works.  Could we add more detail to that page to explain this?

[2017-02-15 21:46] inateeg commented on #993
OK  I will try to update if you got to below link
https://fabricreact.azurewebsites.net/fabric-react/master/#/examples/nav

Fabric sample page.  The LeftNav here is organized under Group headers that seem what you are looking for?

From: Graham Hunter [mailto:notifications@github.com]
Sent: Wednesday, February 15, 2017 1:42 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.gi

[2017-02-15 21:48] graham-sportsmgmt commented on #993
I get this error when I try to visit that link:

I am using Edge with an Azure AD account.

[2017-02-15 22:04] inateeg commented on #993
<Nav groups={ exampleGroups } onLinkClick={ this._onLinkClick } onRenderLink={(link) => ([ ... ]) }    />

exampleGroups: INavLinkGroup[]  /// those are group headers if given name prop value, the group header here only support expand and collapse, not navigation function;

exampleGroups[0].links: INavLink[]     /// those are links under each group header, each link can have children links.  Every

[2017-02-15 22:43] rsemenov opened #1009 "[Accessibility] MessageBar with Link - color contrast ratio should be at least 4.5"
#### Describe the issue:

When MessageBar with messageBarType=MessageBarType.info contains Link the color contrast ratio between background color #f4f4f4 and link color #0078d7 is 4.1.

#### Actual behavior:

Color contrast ratio is 4.1

#### Expected behavior:

Color contrast ratio should be at least 4.5.
https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html

### If appli

[2017-02-15 23:55] #194 closed

[2017-02-16 00:38] graham-sportsmgmt commented on #993
Is there any way to see an example?  I'm using ES6 and not TypeScript btw.

[2017-02-16 03:17] Harley-Adams commented on #953
For anyone else who was having a trouble working around this issue,
See ghdocs/readme.md on this repo where it says to load Office UI Fabric styles by linking to the Office UI Fabric CDN. Add the following to the <head> element:
[code]
I was hitting the same issue, and couldn't figure out why I was hitting it in my project but not when I was hosting the sample sites locally. I wasn't including the

[2017-02-16 05:25] inateeg commented on #993
https://dev.office.com/fabric#/components/nav

try this link?

From: Graham Hunter [mailto:notifications@github.com]
Sent: Wednesday, February 15, 2017 4:39 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Ina Teegan <inateeg@exchange.microsoft.com>; Comment <comment@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] [Nav] Item Groups option

[2017-02-16 05:29] graham-sportsmgmt commented on #993
Yes, that link works.  I didn't see any specific examples of what you were mentioning on that page.

Here is how I'm defining my groups, how can I change this to reflect a Group header without link?

[code]

[2017-02-16 05:32] inateeg commented on #993
Try this out if you add a group name, it will render group header.

From: Graham Hunter [mailto:notifications@github.com]
Sent: Wednesday, February 15, 2017 9:30 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Ina Teegan <inateeg@exchange.microsoft.com>; Comment <comment@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] [Nav] Item Groups op

[2017-02-16 05:50] graham-sportsmgmt commented on #993
Thank you, that changed the output to match the "Navigation menu used in this Fabric React demo app" example.  However, I see four key formatting problems:

1. The text is all caps which doesn't meet our UX guidelines,
2. I can no longer display an icon next to the label,
3. There is a lot of white space below the last item in a group, and
4. Every item starts expanded and doesn't respond to the i

[2017-02-16 06:00] inateeg commented on #993
I am looping in David.  We can adjust group header style since we did not get a lot feedback or you can override css style of group header.  As for icon, I am not sure what you mean the link with icon?

From: Graham Hunter [mailto:notifications@github.com]
Sent: Wednesday, February 15, 2017 9:50 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Ina Teegan <ina

[2017-02-16 06:49] #995 closed

[2017-02-16 07:03] prmittal commented on #787
@battletoilet Is there an ETA for this?

[2017-02-16 07:23] dzearing commented on #1004
The callout is a presentational component which doesn't render content or steal focus. Technically you can host 2 callouts on the screen at the same time.  This is actually the default behavior. You can make this work though:

Example:
http://codepen.io/dzearing/pen/JEVdmP

1. make sure you have `onDismiss` wired up.
2. make sure something is focusable within the callout. In the codepen I set `tab

[2017-02-16 07:23] #1004 closed

[2017-02-16 07:35] dzearing commented on #993
@graham-sportsmgmt I will talk with @inateeg . I believe i understand what you're saying. We'll either translate this into a codepen, or get a feature request going.

[2017-02-16 08:16] BjornVanWettere commented on #991
You're doing it in a different way, and your way looks better. I'll try it out later today, and let you know my results. Thank you for investigating!

[2017-02-16 08:58] akashperfect opened #1011 "[DetailsList]: Extra column div added when selection mode set as none because of which Aria announces wrong column header for contents."
### Bug Report

- __Package version(s)__: 1.9.0
- __Browser and OS versions__: Internet Explorer, Windows 10
- __Narrator__: Windows 10 Narrator

#### Describe the issue:

[DetailsList]: On providing SelectionMode parameter in DetailsList as SelectionMode.none. An extra div is still added (maybe corresponding to the selection tick) with role as columnHeader.

Problem because of that is:
* Narrator

[2017-02-16 08:58] MirandaGe commented on #766
Hi @joschect , I tried it again on Fabric React demo page and also in codepen with latest version, still I can't see the delete button of selected person and the selected persona tag exceeds the input area:

![image](https://cloud.githubusercontent.com/assets/16030290/23014211/f7b6faa2-f468-11e6-8c1e-81a2b207f486.png)

Here is the codepen link:
http://codepen.io/lingge/pen/MJBzjG

[2017-02-16 09:41] MirandaGe opened #1012 "PeoplePicker: No way to tell user how to choose an item in suggestion list."
### Bug Report

- __Package version(s)__: any
- __Browser and OS versions__: IE
- test with JAWS: 18.0.2324

#### Describe the issue:

1. input some letter in the input area of people picker
2. the auto-suggestion list shown, but not mention how to choose an item in the list. (using enter or space?)

#### Expected behavior:

mention how to add the item to picker.

### If applicable, please provide

[2017-02-16 10:17] MirandaGe opened #1013 "PeoplePicker: No screen alert about auto-suggestion after the suggestion list is shown up"
### Bug Report

- __Package version(s)__: any
- __Browser and OS versions__: IE 11.0.9600.18538 (haven't tested other version)
- JAWS version: 18.0.2324 and 17.0.2619 (haven't tested other version)

#### Describe the issue:

1. enter some letter like 'a' into input area of PeoplePicker in demo page
2. the auto-suggestion list pop up and the string is resolved as the first people in the list

####

[2017-02-16 14:46] graham-sportsmgmt commented on #993
Thanks, I think that the feature request could be as simple as giving us the ability to configure Nav to work exactly like the Office 365 Admin portal's left hand navigation.

[2017-02-16 15:11] fantua opened #1014 "MessageBar: React Warning"
### Bug Report

- __Package version(s)__: latest

#### Describe the issue:

Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Please check the code for the MessageBar component.

While using setTimeout in componentDidMount you need to cancel it in componentWillUnmount.

[2017-02-16 16:02] battletoilet commented on #1012
@MirandaGe are you seeing this issue while using a screen reader?

[2017-02-16 16:10] MirandaGe opened #1015 "PeoplePicker: items in suggestion list has a blank area under each item in IE"
### Bug Report

- __Package version(s)__: any
- __Browser and OS versions__: IE11

#### Describe the issue:

1. open PeoplePicker in IE 11
2. input something to make suggestion list show

#### Actual behavior:

In chrome, suggested items are like:
![image](https://cloud.githubusercontent.com/assets/16030290/23029320/0bcd15da-f4a5-11e6-9cdb-70726bec67d2.png)
while in IE, the suggestion items are:
!

[2017-02-16 17:13] micahgodbolt commented on #1015
Great detail on this issue @MirandaGe - Looks like a simple "padding on buttons" issue. I'll whip up a fix.

[2017-02-16 17:44] micahgodbolt commented on #1006
.ms-PeoplePicker-Persona is min width of 180px, and with the button padding of 20px on each side, the min width of the people picker suggestion will be 220px.

The question is, what is the minimum width we can expect the people picker to be?  Then update documentation to specify that. Is 220px too wide? If so, then what number should we go with?

[2017-02-16 17:54] micahgodbolt commented on #999
Current experience is that "focused" item has dark background. Is focus border expected instead?

![image](https://cloud.githubusercontent.com/assets/1434956/23033652/d179d5ca-f42d-11e6-99ba-f65f63cedcba.png)

[2017-02-16 18:04] micahgodbolt commented on #989
Right now button does support icons whereas link does not (that discrepancy is probably open for debate) as adding icons to links, or just using Button (which can render a button or a tag) for everything.

You're correct that adding an onClick does allow for icons, and here's why if you're curious.

https://github.com/OfficeDev/office-ui-fabric-react/blob/24d41e3383bb3cfe3ee8a557665e6d5976c40f8d/p

[2017-02-16 18:05] micahgodbolt commented on #989
@dzearing are you thinking that we make all nav items render as Buttons, or is there a need for that switch statement, and we should include a check for an icon being passed in?

[2017-02-16 18:21] micahgodbolt commented on #986
Yeah, this happens because that one is rendered as a button. Looking at using the BaseButton component instead, which will come with default styles removing that outline (as well as leverage everything we have in BaseButton)

[2017-02-16 18:21] sulabh-msft opened #1017 "[DetailsList]: [Details header Header] Aria attribute "aria-sort" is not invalid for the button elements."
### Bug Report

- __Package version(s)__: 1.9.0
- __Browser and OS versions__: Internet Explorer/Windows 10

#### Describe the issue:
In DetailsList , if details list header is specified
"aria-sort" should be applied to the element having role="columnHeader". Currently it is applied to the button element for which ari-sort is invalid attribute.

https://dequeuniversity.com/rules/axe/2.1/aria-allow

[2017-02-16 18:29] rsemenov opened #1018 "[Accessibility] MessageBar focus order is not correct"
### Bug Report

- __Package version(s)__: master

#### Describe the issue:

Multi-line MessageBar with dismiss callback and focusable element in the text receives focus on dismiss button before focusable element inside the message.

#### Expected behavior:

Focus should be set to the focusable element inside the text, and then after user press tab to the dismiss element.

### If applicable, please

[2017-02-16 18:32] rsemenov commented on #1009
@battletoilet, I would like to make sure it is not expected behavior so I can submit a pull request.

[2017-02-16 18:32] inateeg commented on #993
[cid:image001.png@01D2883F.FAF0D4D0]

Is this what you are asking?

From: David Zearing [mailto:notifications@github.com]
Sent: Wednesday, February 15, 2017 11:36 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Ina Teegan <inateeg@exchange.microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] [Nav] Item Groups o

[2017-02-16 18:33] graham-sportsmgmt commented on #993
I don't see any attachments, although it looks like you did try to add one.

[2017-02-16 18:39] graham-sportsmgmt commented on #989
I like this a lot, it's far more intuitive:

These are the components I'd want icons in:

- CommandBar
- ContextualMenu
- Nav
- Pivot

[2017-02-16 18:58] dzearing commented on #1014
This component is missing `BaseComponent` extends, and needs to use this._async.setTimeout. This will auto cancel.

[2017-02-16 18:59] dzearing commented on #1014
Thanks @fantua. If you would like to submit a PR, it's a very simple fix. (looking for more contributors!) :)

[2017-02-16 19:05] dzearing commented on #1018
I checked out the DOM. It is defined in the incorrect order. Which is really surprising because flexbox is used here, which makes this problem really trivial to avoid an absolute positioned button.

@mdahamiwal or @jdhuntington This may also impact your use cases. If you have cycles can you fix? Please feel free to assign to yourselves.

[2017-02-16 19:05] #980 closed

[2017-02-16 19:06] dzearing commented on #1017
@cschlechty known issue? Does this affect screen readers? If so we should just fix! Seems super easy.

@sulabh-msft If you'd like to submit a small PR for this fix, that would be awesome.

[2017-02-16 19:44] rsemenov commented on #1018
@dzearing, I actually already started fixing it. I will send pr soon

[2017-02-16 21:17] dzearing commented on #985
@carruthe weirdness! Is this specific to Safari? Do you repro elsewhere?

[2017-02-16 21:28] dzearing commented on #985
I tried setting up your code in a codepen repro here:

http://codepen.io/dzearing/pen/ygrqwB?editors=0110

I set `maxWidth` on the columns as well. This let's them size to max size and then condense if there isn't enough space.

On windows chrome, I don't repro. I'll go over to mac safari really quick and try there.

[2017-02-16 21:31] carruthe commented on #985
@dzearing - Good question - I quickly tried it on Firefox and Chrome (OS X), and did not get the same error (i.e. it worked as expected).  Using your CodePen on Safari gave me the same error as I originally described.

Thanks for looking in to it!

Nick

[2017-02-16 21:37] dzearing commented on #985
Yes I repro'd! This is definitely a browser quirk.

It can definitely be fixed if we make the parent container of the style position relative, but as a side effect the divider lines would not extend the full height of the list. This might be OK with our designers. That was the reason they were not `position: relative`. They would absorb the default left/top positioning, but the height could then b

[2017-02-16 22:11] atneik commented on #15
Feature is added in https://github.com/OfficeDev/office-ui-fabric-react/pull/982; closing this request

[2017-02-16 22:11] #15 closed

[2017-02-17 02:11] MirandaGe commented on #1012
Yes, I'm using JAWS 18. I updated the information above now.

[2017-02-17 02:16] MirandaGe opened #1024 "PeoplePicker: delete button can't be seen when screen is narrow"
### Bug Report

- __Package version(s)__: all
- __Browser and OS versions__: all

#### Describe the issue:

The persona card of selected people doesn't perform properly when the browser window width is narrow.

#### Actual behavior:

1. open the fabric-react people picker demo page, input 'a' and select a long name like: 'Another A Name (So Many A Names!)'.
2. narrow the window, make the width les

[2017-02-17 06:11] piyusing opened #1025 "Contextual Menu: Navigation in contextual menu component doesn't loop back if one is at the first or the last menu item and presses up/down keys respectively."
### Bug Report

- __Package version(s)__: (1.2.2)
- __Browser and OS versions__: (fill this out if relevant)

#### Describe the issue:
Navigation in contextual menu component doesn't loop back if one is at the first or the last menu item and presses up/down keys respectively.
#### Actual behavior:
If one is at the last menu item and presses down arrow key while the focus is still on contextual pop

[2017-02-17 10:12] pankajkhanzode opened #1026 "ChoiceGroup: Support image alt text"
**Component**: https://fabricreact.azurewebsites.net/fabric-react/master/#/examples/**choicegroup**

**Requirement**: https://learn.microsoft.com/rgcontents/CONT15249/scormcontent/class/ms/non-text-content/alt-text/decorative-redundant.html#non-text-content_images_decorative-redundant_foreground

ChoiceGroup control supports passing imageSrc. It doesn't allow overriding the image alt text. Expose

[2017-02-17 15:32] ipip2005 opened #1028 "Persona: Text cannot truncate in IE11"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: IE11

#### Describe the issue:

In IE11, if the persona width is limited and the text content is a little long, it won't truncate the text.
In Chrome it behaves right.

#### Actual behavior:

Text not truncated in IE11
![image](https://cloud.githubusercontent.com/assets/7711735/23071411/3c990966-f569-11e6-8e63-945c89d8

[2017-02-17 18:58] inateeg commented on #993
https://portal.officeppe.com/account/#settings  you meant this page?  this one?

[2017-02-17 19:01] graham-sportsmgmt commented on #993
I can't access that page.  This is the page I'm referring to:

![untitled](https://cloud.githubusercontent.com/assets/16939733/23079165/793513ec-f500-11e6-91e6-1248e6b154f4.png)

[2017-02-17 19:06] inateeg commented on #993
All those are doable but we need office-fabric clear design spec on what pattern and how many patterns this Nav component is designed to serve?  Should involve designer team in this conversation?

[2017-02-17 21:31] AkshanshSrivastava03 opened #1031 "Dropdown className props only provides me styling access to the root element"
Is there anyway I can override "ms-Dropdown-title"- background-color, border etc. css properties using the className props which is set at the root element?

I want to avoid office fabric css overriding and wish to do it via props for ms-Dropdown-title too.

- __Package version(s)__: 1.2.2

[2017-02-20 01:25] robvree commented on #953
Same issue. Using the latest Fabric UI (1.9.1) and using Fabric Core 6.0.0 from the CDN will not allow dialogs and panels to close. The animationend listener is never called. Rolling back to Fabric core 5.0.1 does fix it.

[2017-02-20 05:35] vashitaArora opened #1037 "[Accessibility] Color Contrast ratio in case of Links inside Office fabric dialog should be atleast 4.5:1"
### Bug Report

when using Office Fabric dialog and office fabric links over it, color contrast ratio does not match standard : 4.5:1

#### Describe the issue:

#### Actual behavior:

Color Contrast ratio <  4.5:1

#### Expected behavior:

Color Contrast ratio in case of Links inside Office fabric dialog should be atleast 4.5:1

### If applicable, please provide a codepen repro:

[2017-02-20 07:00] akashperfect opened #1038 "[Callout] There must be a way to provide role and description (aria-describedby) for the Callouts"
### Bug Report

- __Package version(s)__: 1.9.1
- __Browser and OS versions__: All

#### Describe the issue:

There should be a way to provide the role and description (aria-describedby) for the callouts. Either while using them as Non-Modal dialogue or Popup Help in which case role will be specified as dialog.
https://www.w3.org/TR/2016/WD-wai-aria-practices-1.1-20160317/#dialog_nonmodal
https://

[2017-02-20 09:58] prmittal opened #1039 "[Accessibility] [Toggle] Validation fails for button name"
The toggle component fails accessibility validation for button name.

Details:
https://dequeuniversity.com/rules/axe/2.1/button-name

Error displayed:

![image](https://cloud.githubusercontent.com/assets/11937034/23118690/09b1d58c-f77b-11e6-99ce-77a51deb78f3.png)

[2017-02-20 10:08] hellowin commented on #915
@graham-sportsmgmt you saved my day!

Actually I suggest to standardize all Nav items into `button` instead of `a`. Because all of this can be simplified using:

[code]

BUT the `onClick` itself considered as buggy, since when we applied `onClick`, it render the link into `button` instead of `a` AND that makes styling went wrong.

![image](https://cloud.githubusercontent.com/assets/1904744/2312050

[2017-02-20 11:12] asmundg opened #1041 "Persona: Textboy flashes quickly before image from cache is shown"
### Bug Report

- __Package version(s)__: 1.9.1

#### Describe the issue:

Instead of immediately showing the image when it is cached, the textboy is rendered and then immediately replaced, causing a brief but noticeable flash. This is caused by the Image component assuming that the image is not available until it gets the onLoad callback. This often happens after the browser has had time to rende

[2017-02-20 11:53] fantua commented on #1014
@dzearing ok :)

[2017-02-20 12:04] prmittal opened #1042 "[Accessibility] [ContextualMenu] Validation fails for button name"
The contextual menu component fails accessibility validation for button name.

Details:
https://dequeuniversity.com/rules/axe/2.1/button-name

Error displayed:
![image](https://cloud.githubusercontent.com/assets/11937034/23124400/d0c54872-f792-11e6-8cc7-b9dec459c736.png)

[2017-02-20 12:07] prmittal opened #1043 "[Accessibility] [DropDown] Invalid ARIA attribute values: aria-activedescendant"
The drop down component fails accessibility validation for aria-valid-attr-value.

Details:
https://dequeuniversity.com/rules/axe/2.1/aria-valid-attr-value

Error displayed:
![image](https://cloud.githubusercontent.com/assets/11937034/23124463/33c5291a-f793-11e6-9870-877e35c91cee.png)

[2017-02-20 12:09] prmittal commented on #1043
Failure also observed for aria-required-children.

Details:
https://dequeuniversity.com/rules/axe/2.1/aria-required-children

Error displayed:
![image](https://cloud.githubusercontent.com/assets/11937034/23124516/8dac523c-f793-11e6-88bd-183ffc77fd2b.png)

[2017-02-20 14:32] satishc2437 opened #1044 ""ID" passed as props should be used in basic controls like "TextField" etc."
Hi,
We see that HTML element IDs are being generated in OfficeFabric react components using the utility method "getId()".

It will be great, if user defined "ID" value that is passed via Props is acknowledged.

Reason for the ask - As part of accessibility changes, we are seeing a good amount of dependency on IDs. We have scenarios, where we wish to set element ids through some base level methods

[2017-02-20 14:55] lszomoru commented on #692
I am running into the same issue even after the fix for this issue has been merged in. It is not clear to me whether there is any way to disable the validation on page load? As far as I can tell, we are still calling `this._validate(this.state.value);` in `componentWillMount()` of the TextField component so from the looks of it, validation will always run when the component is instantiated.

[2017-02-20 15:25] geraldhe commented on #94
+1 for using SearchBox instead of own implementation.
Current implementation is useless, because there is no event for text input?

[2017-02-20 15:48] MirandaGe opened #1045 "BasePicker updateValue does not deal with promise properly"
### Bug Report

- __Package version(s)__: any
- __Browser and OS versions__: any

#### Describe the issue:

suggestion may be unmounted before some function still running.

This is because `onSuggestionClick` called in renderSuggestions() in BasePicker called `addItemByIndex`, which called `updateValue`.
The `updateValue` function may return a promise, and call `resolveNewValue` function in then()

[2017-02-20 15:55] MaartenVerbaarschot commented on #915
I had this issue today as well, except with the ContextualMenu and Breadcrumb components.

ContextualMenu has `IContextualMenuItem.onRender`, similar to `Nav.onRenderLink` which was mentioned earlier in this thread. Breadcrumb has no way to customize the rendering of the links.

I haven't tested if the one from ContextualMenu has the same bug as `Nav.onRenderLink`, but regardless: I think it's not

[2017-02-20 21:13] dzearing commented on #991
@BjornVanWettere feel free to open in another issue if you have any more questions.

[2017-02-20 21:13] #991 closed

[2017-02-20 22:41] martellaj opened #1047 "PeoplePicker: defaultSelectedItems not updating with props"
### Bug Report

- __Package version(s)__: 0.88.0
- __Browser and OS versions__: Chrome 56.0.2924.87 on Windows 10

#### Describe the issue:

I have defaultSelectedItems set to one of my props in my render function. When the component receives new props, the defaultSelectedItems doesn't update. I confirmed that the component is receiving new props and that the render function is being executed with

[2017-02-20 22:50] martellaj commented on #1007
I think I just reported the same issue (#1047). Feel free to close mine.

[2017-02-20 23:29] jrsell commented on #94
Or, how about adding an 'onRender', similar to how it is done for items in ContextualMenu? Then clients can hang whatever they want off the bar, be it a SearchBox, or whatever else...

[2017-02-21 00:22] dzearing commented on #966
Is the empty role causing some sort of problem?

[2017-02-21 00:27] dzearing commented on #966
This has been addressed in this PR and will be published shortly.
https://github.com/OfficeDev/office-ui-fabric-react/commit/10920866c206c4e3e8045db3c2b076a2ae213cdd

[2017-02-21 00:27] #966 closed

[2017-02-21 00:45] approots commented on #1
Buttons having elements inside them seem to have their height reduced.

[2017-02-21 04:05] MirandaGe opened #1048 "BaseAutoFill in BasePicker does not update display value as expected"
### Bug Report

- __Package version(s)__: any
- __Browser and OS versions__: any

#### Describe the issue:

We use BasePicker to realize customized PeoplePicker with datasource in odsp-shared-react.

Sometimes it seems very strange when we use up/down arrow key to switch between items in suggestion list, the displayed value in input area doesn't change when datasource has resolved our input query

[2017-02-21 05:17] mdahamiwal commented on #692
@lszomoru, you concern may be similar to the one discussed in #770 . The workaround will work if the initial value is empty. However, If there is value on initial mount and you still want to suppress on Load validation, we will need to add another option for that.

[2017-02-21 06:22] #970 closed

[2017-02-21 06:23] #1018 closed

[2017-02-21 06:46] mdahamiwal commented on #1042
@prmittal, I am not able to repro the failure with chrome accessibility audit run. Also, the code snippet referred above doesn't have a button role which is mentioned at https://dequeuniversity.com/rules/axe/2.1/button-name . Can you provide more details on how to repro this and the side effects of this validation failure?

[2017-02-21 10:03] lszomoru commented on #692
Thanks @mdahamiwal. That is indeed the same issue that I am running into. I have two fields that are required, yet, as mentioned in issue #770 I would like to give the user the opportunity to fill in the fields before the validation errors occur. I do agree with the comment from #770 that there should be a way to suppress the validation on mount and maybe that should be the default behaviour.

[2017-02-21 10:54] mdahamiwal commented on #692
yes, the workaround is to return an empty errorMessage if value is empty but that might not work if user deletes all the text and there is some initial value. I have added an option to skip the on mount validation. Don't want to make it a default behavior since it may break current users.

[2017-02-21 11:06] adharpicstore opened #1055 "[DetailsList] DetailsList Component does not follow Grid Role design pattern for keyboard accessibilty"
#### Describe the issue:

DetailsList Component has  role as "Grid" but it does not follow Grid Design pattern for keyboard accessibility.

#### Actual behavior:
Pressing Up and down arrow selects the next or previous row.

#### Expected behavior:

Grid Design pattern works on cell. By Pressing Up and Down buttons user navigate to next or previous cell in the same column. But in our case we naviga

[2017-02-21 11:16] lszomoru commented on #692
Thank you! Not changing the default behaviour makes sense. I will keep an eye on your pull request and will pick up the updated package when it is released. Thanks again for the quick turnaround on this issue.

[2017-02-21 12:49] satishc2437 opened #1057 "[Accessibility][DetailsList][Keyboard]: Unable to move focus one cell up/down using up/down keys"
Hi,
We are using the DetailsList control to create a Grid that will have input text boxes in each cell. A user can add text in these text boxes and hence should behave as a Data Grid.

We found that ARIA-Practices-1.1 defines the following keyboard interaction with Data Grids -

![image](https://cloud.githubusercontent.com/assets/13657916/23165433/142d1d54-f862-11e6-9fcd-fd968a02ea80.png)

In this

[2017-02-21 13:24] mdahamiwal commented on #1043
1. `aria-valid-attr-value` is a valid issue since we set aria-activedescendant event when listbox is not available. Should be easily solvable.

2. `aria-required-children` requires children elements with textbox and listbox roles. This is not the case with this dropdown since we don't have a editable textbox and listbox is not always visible. Just verified https://jqueryui.com/selectmenu/ and it h

[2017-02-21 17:47] joschect commented on #931
This should be resolved, let me know if it's still a problem @stephenzsy

[2017-02-21 17:47] #931 closed

[2017-02-21 18:03] joschect commented on #1012
@MirandaGe There needs to be support for all aria tags to get passed through to the input element. I'll look into getting that added.

[2017-02-21 18:16] joschect commented on #1024
@MirandaGe it looks like the code pen is not using the latest version of office-ui-fabric-react. This should have been fixed in the latest version. I'll see if I can't get code-pen to use the latest.

[2017-02-21 18:19] joschect commented on #1006
@ipip2005 It looks like the codepen does not have the latest version of fabric-react. I'll see if I can't get it updated.

[2017-02-21 18:40] joschect commented on #992
@panigrah I don't believe that we have a specific example of this yet. I made this codepen which I think does what you're asking about.

http://codepen.io/slimemold/pen/ygmRMe

[2017-02-21 19:35] leddie24 commented on #554
Fixed in #960

[2017-02-21 19:35] #554 closed

[2017-02-21 20:08] dzearing commented on #1037
@vashitaArora you need to provide a screenshot of what you're talking about. This is really unclease.

[2017-02-21 22:51] nikhilexe opened #1062 "[Accessibility][DropDown]: Alt + Up/Down Arrow does not opens and closes the list."
Hi,
As per [Aria design patter for DropDown](https://www.w3.org/TR/2016/WD-wai-aria-practices-1.1-20160317/#combobox), **Alt + Up/Down Arrow** opens and closes the list but currently it is changing the value in the dropdown.

Please look into the issue and do the needful.

Thanks,
Nikhil

[2017-02-21 23:20] panigrah commented on #992
Thank you @joschect  - I made a composite and operated in reverse.

`
// use like so  <EditablePersona persona={people[0]} onResolveSuggesstions={this._onFilterChanged} />

import React from 'react'
import { Persona } from 'office-ui-fabric-react/lib/Persona'
import { NormalPeoplePicker } from 'office-ui-fabric-react/lib'

class EditablePersona extends React.Component {
  constructor (props) {

[2017-02-21 23:46] dzearing commented on #824
@mdahamiwal I think you had fixed this right? If so please close, otherwise let me know.

[2017-02-21 23:52] dzearing commented on #1057
This is not really supported by the DetailsList architecture, which uses FocusZones to manage rows and to make the inner cells accessible. Doing what you want requires a rethinking of both focus management and rendering. We have plenty of feature asks for this component though and need it ourselves, but this requires a grid more than a row list.

[2017-02-21 23:52] #1057 closed

[2017-02-21 23:54] joschect commented on #1048
@MirandaGe Hi. BaseAutoFill was designed to be like this. If the text doesn't match, where should the cursor placement be? Which text should be highlighted? How should the cursor be placed when you select a different person with a different name?

You might be able to get it working somewhat by passing in a different function to getTextFromItem so that the text returned could be "Luhur, Elika" or

[2017-02-22 00:00] jchilde commented on #824
I never fixed.  I just worked around it.  The issue was that it impacted use within Sharepoint on all classic pages.

I just gave up and used a regular textbox applying Office-ui-fabric styling.

I am not capable to fix the underlying code.  Just reporting that a bug exists.  It does not appear to be fixed.

From: David Zearing [mailto:notifications@github.com]
Sent: Tuesday, February 21, 2017 6:4

[2017-02-22 02:29] joschect commented on #992
@panigrah awesome! Looks really cool. Glad I could help.

[2017-02-22 02:29] #992 closed

[2017-02-22 03:50] pankajkhanzode opened #1070 "[Accessibility][CommandBar]: Disabled Menu items should have aria-disabled=true attribute set"
### Bug Report

- __Package version(s)__: (1.7.2)
- __Browser and OS versions__: (all)

#### Describe the issue:

For disabled menu items, aria-disabled attribute should be specified, else screen readers will have trouble reading it clearly. See this: http://www.w3.org/TR/wai-aria/states_and_properties#aria-disabled

#### Actual behavior:

https://fabricreact.azurewebsites.net/fabric-react/master/

[2017-02-22 04:28] pankajkhanzode opened #1071 "[A11Y] [GroupedList] - aria-required-children attribute is not set on the group header"
### Bug Report

- __Package version(s)__: (1.7.2)
- __Browser and OS versions__: (all)

#### Describe the issue:

In GroupedList, when groups are added and each group contains elements - ARIA attribute when role="grid" is set - should have aria-required-children also set.
![image](https://cloud.githubusercontent.com/assets/11996243/23197258/1c786c88-f8e5-11e6-94a7-05cba17a7cad.png)

#### Actual be

[2017-02-22 04:32] mantap123 commented on #616
Office UI Fabrice doesn't support server side rendering yet?

[2017-02-22 06:08] nipunja opened #1072 "DetailsList: Programmatically focus row cells"
We are using DetailsList office fabric control to model a Grid where new rows can be added dynamically on "Add" user gesture. As soon as the new row is added in DetailsList, we would like to bring the focus in the first of the newly added row. DetailsList  supports "initialFocusedIndex" which helps in focusing the row. However we would like to have a way with which focus can be brought directly in