[2018-11-13 23:36] cschlechty commented on #7052
You're forgetting that we need tooltips for non-screen reader users as well (mousing, when zoomed, etc). There's a purpose to having tooltips available in the platform.

The screen reader doesn't read with truncation. It always reads the visible text, and **_might_** read the additional text, like title, describedby, etc.

[2018-11-13 23:39] kenotron commented on #7052
@cschlechty, Is this a narrator bug where it is reading both in your opinion?

[2018-11-13 23:57] gggjtgxing opened #7097 "Signal icon(NewSignal) are not aligned with other signals in the left side"
### Environment Information

- __Package version(s)__: ^5.45.1 || ^6.41.0
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

Singal icon(NewSignal) are not aligned with other signals in the left side

![image](https://user-images.githubusercontent.com/17696563/48450850-acfbf100-e75c-11e8-8c0b-ba667579d55f.p

[2018-11-14 00:11] cschlechty commented on #7052
@kenotron we can ask them about this "feature". :)

[2018-11-14 00:52] ipip2005 commented on #7052
@cschlechty
For tooltip, can we use the Tooltip component from OUFR instead? Which will not be readout by ATs. I believe we are doing this in sp-client for some components because it gives us flexibility to choose whether link the tooltip text to the element. (e.g. Point aria-describedby to tooltip element)

And when aria-label is specified, it should read the aria-label instead of visible text in

[2018-11-14 01:08] dcowen91 opened #7099 "Icons: ascending and descending are identical"
The icons for Ascending and Descending are the same. They should point in different directions.

### Environment Information

- __Package version(s)__:  latest 6.103
- __Browser and OS versions__:  win10, chrome 70

### Please provide a reproduction of the bug in a codepen:

 https://codepen.io/anon/pen/RqpbqE

#### Actual behavior:

Ascending and Descending icons both point in the same direction

[2018-11-14 01:09] aneeshack4 commented on #7097
@gggjtgxing Which Fabric example page is the 2nd screenshot from? It's unclear because there's no Signal component page on the Fabric website...

[2018-11-14 01:11] cschlechty commented on #7052
@ipip2005 you're trading accessibility issues. Having OUIFR tooltips not be read is a bit of a hack. You're not properly associating the elements, and presumably requiring consumers to jam info into labels that's otherwise already visually present. If you're doing this, you should probably be marking the tooltips hidden.

Let's start a thread with the Narrator/Edge folks. Also, if there's a filed

[2018-11-14 01:43] betrue-final-final commented on #7097
This is by design. The new signal is meant to emulate a "gleam".

[2018-11-14 01:43] #7097 closed

[2018-11-14 02:10] #6437 closed

[2018-11-14 03:53] dzearing commented on #7099
I see one has A on top and Z on the bottom. I see one has Z on the top and A on the bottom. I believe this is by design.

But, if you'd like alternating directional sort arrows, you could use `SortUp` and `SortDown`, which is likely better if you're sorting things other than names, like dates or numbers.

[2018-11-14 05:16] sonimishra opened #7101 "[Screen Reader - Power Apps Admin - Projects Tab - Sorting] Narrator is not announcing the sorting functionality information on the column header of the table under Select a Template blade."
<!-- 🚨 STOP 🚨 𝗦𝗧𝗢𝗣 🚨 𝑺𝑻𝑶𝑷 🚨

We’re here to help, but we need a few things from you!

Please provide a reproduction of the bug in a codepen, if possible. Here’s how:
 User Experience:
If, the Screen reader is not announcing the sorting functionality information on the column header of the table, then the users who depends upon Screen reader for navigation might get affected and does not able to per

[2018-11-14 05:31] Vitalius1 commented on #5206
In the attempt to merge Dropdown with ComboBox, it would make sense to extract the ITEM from the list of options to a separate subcomponent which then later can be used when in` ContextualMenu` when it's up for a major refactor. During the fluent work done on all 3 components I had to style them separately with 3 different approaches. In some of them to actually style them I had to either add `sub

[2018-11-14 06:41] sonimishra opened #7102 "[Screen Reader - Power Apps Admin - Scheduling] In scan mode,Screen Reader does not announce the disable state of combo box under Scheduling tab item"
<!-- 🚨 STOP 🚨 𝗦𝗧𝗢𝗣 🚨 𝑺𝑻𝑶𝑷 🚨

We’re here to help, but we need a few things from you!

  Please provide a reproduction of the bug in a codepen, if possible. Here’s how:
 User Experience:
If, the state is not being announced , then user who depends upon screen reader for navigation might get affected and as he does not get the complete information about the control.

MAS Ref:
MAS 4.1.2 - Name, Role,

[2018-11-14 07:10] #7065 closed

[2018-11-14 10:08] #7054 closed

[2018-11-14 12:22] RajuRoopani opened #7103 "Pivot control should have '.' dot next to linktext if the pivot item needs attention"
**Describe the feature that you would like added**

Pivot view should be able to show big dot next to pivot item if the pivot item needs attention so that user can click on that pivot item
Example: If there are new items shared with me, i should be able to see dot next to pivot item link text so that its more easy for me to know that something is new in that pivot view

**What component or utility

[2018-11-14 12:38] rexkenley commented on #7056
Kenotron,

What is the proper way to link the fabric css on a page? I was thinking that if I could do that I could solve this issue where the components are there but the styling is missing.

![image](https://user-images.githubusercontent.com/10548251/48483009-3dc7e080-e7e0-11e8-9194-63e9ee1a0b95.png)

[2018-11-14 15:46] realhoffi opened #7104 "PeoplePicker: className of inputProperties is not merged"
<PeoplePicker
                        inputProperties={{
                          placeholder: 'Bitte einen Benutzer angeben...',
                          id: 'pckSelectedUser',
                          className: 'testclass '
                        }}
                      />

Properties "placeholder" + "id" are working correctly! className is not merged in the control :(

[2018-11-14 17:07] dzearing commented on #6944
I'd seriously worry about adding padding. Users will not anticipate it and you end up with weird side effects.

First padding doesn't work on inline. Margin does, but then... same unpredictability issue.

Other than the overlapping border, I don't see a way to avoid clipping.

The only fix I see is overlapping focus rectangles. Which is a little sad. And if we want to do the white/black 2px treatm

[2018-11-14 18:15] dcowen91 commented on #7099
oh wow, I did not notice the A and Z swapping positions. I think in a previous version the arrow changed direction but A and Z were in the same place, so I completely missed that they are switching now. Since they are actually different, I'm going to close this issue. Thanks!

[2018-11-14 18:15] #7099 closed

[2018-11-14 19:05] aneeshack4 commented on #7101
@sonimishra please fill out the bug template & provide information such as which Fabric component this bug's being reported on, screenshots, repro steps, more details on expected vs. current behavior.

[2018-11-14 19:11] aneeshack4 commented on #7102
@sonimishra please fill out the bug template & provide information such as which Fabric component this bug's being reported on, screenshots, repro steps, more details on expected vs. current behavior - always do this when you're filing issues on Fabric.
Right now, from your description, all I could do was go to the combo box control on the Fabric components site & run Narrator (you didn't specify

[2018-11-14 19:15] aneeshack4 commented on #7085
@brandonthomas I'll go ahead and assign this to you as said in the email thread you're willing to submit a fix for this.

[2018-11-14 19:24] brandonthomas commented on #7085
Sounds good thanks!

[2018-11-14 19:33] micahgodbolt opened #7106 "Graduate Calendar Component in Date-Time Package"
Multi select date range (mobile?) (calendar team)
port year picker to date-time (power Apps)
unit tests
visual tests
refactoring into smaller pieces

[2018-11-14 19:42] aneeshack4 commented on #7104
Btw @realhoffi I made a codepen with what you provided so far - if you want to just add on to that to show the repro, feel free https://codepen.io/aneeshack4/pen/BGWXxm

[2018-11-14 20:03] cliffkoh commented on #7101
Also version number :)

[2018-11-14 21:34] Vitalius1 commented on #7093
@betrue-final-final
Shimmer is using two neutral color to form it's linear gradient wave.
`neutralLighter` -> `neutralLight` -> `neutralLighter`.
Both colors are mapped to the the fluent colors of `gray20` and `gray30`. If this is a good color choice then I can close the issue as I don't see what other things could be fluentized in here.

[2018-11-14 21:38] betrue-final-final commented on #7093
Makes sense.

[2018-11-14 21:39] dzearing commented on #7099
Sure thing!

[2018-11-14 21:41] Vitalius1 commented on #7093
K. Closing this issue due to not having fluent work to do.

[2018-11-14 21:41] #7093 closed

[2018-11-14 22:05] Vitalius1 opened #7108 "DocumentCard: Fluent theme"
Blocked - uses sass styles and needs mergeStyles conversion which is tracked in #5408

[2018-11-15 00:00] #6972 closed

[2018-11-15 00:45] aneeshack4 commented on #7103
@micahgodbolt I looked at git history of Pivot.base.tsx because there doesn't seem to be a codeowner and no one main contributor but this looks like a feature request. Could you take a look at it and see if it makes sense for Pivot? If it does, I guess we can schedule work for it.

[2018-11-15 02:00] #5630 closed

[2018-11-15 02:00] #733 closed

[2018-11-15 05:35] #6386 closed

[2018-11-15 06:19] aleury commented on #6470
Hi, I'd like to provide a patch for this.

By "should pass in autocorrect=off and spellcheck=false to Autofill" does that mean that `ExtendedPeoplePicker` should override `autoCorrect` and `spellCheck` regardless of what's being passed in with `inputProps`?

[2018-11-15 07:11] #6223 closed

[2018-11-15 08:55] realhoffi commented on #7104
hi, thx @aneeshack4 !
i edited the codepen.
what you expect is, that the "input"-Control (the textbox) MUST! implement the classname "testclass", which is not the case here :(

[2018-11-15 09:29] gsbelarus opened #7110 "Ambient const enums are not allowed when the '--isolatedModules' flag is provided"
Project created with create-react-app 2.1 with TS 3.1.6 is not compiling and falling with error:

Project dependencies:

[code]

[2018-11-15 11:28] spfx-dev-ang opened #7111 "Update selected item : onRenderRow() in Details list component in button click event"
If I select/edit an item and click on update/delete button, 'status' column for selected item should be updated with 'Deleted/Updated'. But, remaining items must not change.

 Thanks in advance, I'd appreciate any pointers as I am new to spfx and react.

[2018-11-15 16:55] micahgodbolt commented on #7103
https://codepen.io/micahgodbolt/pen/bQWPJp?editors=1010

You can add an icon via the onRender method. There's also an 'itemIcon' prop, but that puts the icon before the pivot. Either way, this is 100% doable without a codechange.

[2018-11-15 17:34] #7059 closed

[2018-11-15 17:54] betrue-final-final commented on #6748
This looks fine.

[2018-11-15 17:54] #6748 closed

[2018-11-15 18:47] betrue-final-final commented on #7044
Looks good. For the future, we will want to make sure the circle in the color area is accessible.

[2018-11-15 18:48] #7044 closed

[2018-11-15 19:00] KevinTCoughlin commented on #5029
Closing this issue as it is tracked in https://github.com/OneDrive/onedrive-api-docs/issues/905 and unrelated to `office-ui-fabric-react`.

[2018-11-15 19:00] #5029 closed

[2018-11-15 19:00] betrue-final-final commented on #7070
Looks like hover state is an old background color and font color.
![image](https://user-images.githubusercontent.com/20363037/48575018-9c1abf00-e8c5-11e8-8baa-166fceca167b.png)

[2018-11-15 20:12] TestAccessibilityGIT opened #7115 "Slider A11y Pass"
Tracking all of the issues brought up with the 11/13 accessibility pass on Slider  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B4b6c9901-361f-45a3-8f3d-8a1a21062922%7D&action=default&uid=%7B4B6C9901-361F-45A3-8F3D-8A1A21062922%7D&ListItemId=1548&ListId=%7B395E1ECB-5002-440

[2018-11-15 20:16] CDoughty08 opened #7116 "Merge-Styles bloating document head"
### Bug Report

- __Package version(s)__: 6.103.0
- __Browser and OS versions__: Chrome 70 rhel 7.5

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No, I do not understand this code well enough.

Requested priority: Normal

Products/sites affected: This is reproducible at https://developer.microsoft.com/en-us/fabric#/components/detai

[2018-11-15 20:59] kenotron commented on #7110
We're actually in the middle of addressing this issue. Half of it landed last night: https://github.com/OfficeDev/office-ui-fabric-react/commit/a995de20dcd7b3a8967e6d33ccffd6f12dae0ed5

I'm working on the icon names and const enums across more packages now.

[2018-11-15 21:01] kenotron commented on #7110
If you feel that this is resolved, please feel free to close this. We're taking an approach of carefully moving over to something other than const enum trying to figure out the implications of size differences in the package before and after. It'll likely take a few more days to completely land.

[2018-11-15 21:02] dzearing commented on #6944
Talking offline in a thread on the right approach here;

[2018-11-15 21:07] aneeshack4 commented on #7111
This will be fixed by @kenotron's const enum work.

[2018-11-15 22:11] natalieethell commented on #7075
Hey @sonimishra thanks for submitting this issue! I'm having trouble reproducing this behavior. I just ran JAWS on the basic DetailsList example on our demo site in Edge (https://developer.microsoft.com/en-us/fabric#/components/detailslist/basic) and when tabbing to the table, it read out

**"Entering table with 3 columns and 201 rows
Toggle selection checkbox not checked"**

On Chrome, an overvie

[2018-11-15 22:12] Vitalius1 commented on #7070
Date picker fluent changes were made only the for the input and the callout holding the `Calendar` when open. The `Calendar` needs CSS-in-JS conversion and only then we could proceed with fluentization.

[2018-11-15 22:39] dzearing commented on #7116
This should certainly not happen, it would imply that the class definition is mutating every time.

[2018-11-15 22:56] mikewheaton commented on #7070
I've moved this to the Building column and labeled it as blocked, as it's waiting on #5307 and #7071.

[2018-11-15 23:02] Vitalius1 commented on #7070
@mikewheaton I wonder if we need this issue open... We could probably close it as soon as @betrue-final-final approves the changes to the Callouts borderRadius and shadow. When the `Calendar` gets converted and fluentized `DatePicker` will automatically pick up the change. So I don't think there is going to be more work on this issue.

[2018-11-15 23:34] KevinTCoughlin commented on #7111
@spfx-dev-ang thanks for the report. Can you provide an isolated Codepen repro for me to debug? Without one this is difficult for me to debug given the number of combinations possible when using `DetailsList`.

We had an issue reported awhile ago where components rendered within a row are not updated unless an event such as `resize` causes the `DetailsList` to re-render. I'm wondering if this is a

[2018-11-15 23:36] ecraig12345 commented on #5744
Slider has a related problem too:
[code]

[2018-11-15 23:40] mikewheaton commented on #7070
There shouldn't be any more work needed, but I'd still rather track is as incomplete so that teams using the Fluent theme have the right expectations on what will work.

[2018-11-15 23:46] Vitalius1 opened #7120 "HoverCard: Fluent theme"
Fluent changes are to be made only to the `Callout` holding whatever user is providing to render inside of it.

[2018-11-15 23:47] Vitalius1 opened #7121 "Spinner: Fluent theme"

[2018-11-15 23:57] KevinTCoughlin commented on #5400
I've yet to arrive at solution, but here are some observations while debugging:

I believe the bug resides within [List#_updateRenderRects](https://github.com/OfficeDev/office-ui-fabric-react/blob/bc132408840fe0f8de86e6f9c20bd3e9344657db/packages/office-ui-fabric-react/src/components/List/List.tsx#L920) and how it calculates and sets `scrollTop` over time.

https://github.com/OfficeDev/office-ui-f

[2018-11-16 00:02] KevinTCoughlin commented on #5400
I should note, you can mitigate this issue by disabling virtualization via `DetailsList` prop `onShouldVirtualize={() => false}` assuming the performance impact is acceptable.

However, this needs to be addressed given that virtualization is a core attribute of `DetailsList`.

[2018-11-16 00:07] KevinTCoughlin commented on #7116
Can confirm this bug both on PROD and local dev site. Easy to repro by _clicking_ any row in the `DetailsList` and viewing the `<style>` nodes in `<head>`.

**Initial**

[code]

**After 4 row clicks**

[code]

[2018-11-16 00:11] ecraig12345 commented on #5744
Closing this since I see it's been fixed for ComboBox, Dropdown, and Toggle by #5983.

SearchBox unfortunately has an `onChange` prop with signature `(newValue: any) => void`, so we can't add the event as the first parameter until the next major version. That work is tracked by #5982.

[2018-11-16 00:11] #5744 closed

[2018-11-16 00:41] TCambre opened #7123 "JAWS is not announcing the column header associated with the cell value in DetailsList"
### Environment Information

- __Package version(s)__: repros on lastest
- __Browser and OS versions__:  repros on Chrome, Edge, Firefox, IE (one's I've tried so far)

### **This repros on office fabric site!**

Same issue as https://github.com/OfficeDev/office-ui-fabric-react/issues/5164 but for JAWS as it works with Narrator

#### Actual behavior:

When navigating over cells in DetailsList using

[2018-11-16 01:00] #5131 closed

[2018-11-16 01:10] stewartadam commented on #5744
Thanks!

[2018-11-16 02:00] #6296 closed

[2018-11-16 02:09] ecraig12345 commented on #5326
@JllyGrnGiant Thanks for reporting this, and sorry we didn't get to it sooner. And thanks @lafe for reporting the documentation issue.

The [similar current props](https://github.com/OfficeDev/office-ui-fabric-react/blob/c691b7b89fcfc5a28c211b29c7ba236887ab8256/packages/office-ui-fabric-react/src/components/SpinButton/SpinButton.types.ts#L98-L118) are `onIncrement`, `onDecrement`, and `onValidate`

[2018-11-16 02:24] chang47 opened #7127 "ITextFieldStyle: Style props should be optional"
### Please provide a reproduction of the bug in a codepen:

Currently ITextFieldStyles requires all the styles to be required which can lead to a lot of empty styles if the user only wants to add one change.

I see examples of both being used. IButtonStyles allow everything to be optional. ISpinButtonStyles requires everything.

What are thoughts on making these optional?

#### Priorities and help

[2018-11-16 02:29] Vitalius1 opened #7128 "HoverCard: expandingCard style selector has a wrong target."
### Environment Information

- __Package version(s)__: Lates
- __Browser and OS versions__: All of them.

`HoverCard` has a selector in its expandingCard and plainCard styles which are not applied as intended. Looked in the git history and it looks like this issue existed at least since Fabric 5.0 release when `selectors` were introduced. Before that, it was used in a different way so no way to te

[2018-11-16 02:46] Vitalius1 commented on #7127
@chang47 I remember having the same question once. The answer I got was that the intent is to have them all required but somehow was not enforced when PRs introduced them as optional for a number of components.

A solution from the same discussion came in the form of using a Partial which BTW is in the wiki [here](https://github.com/OfficeDev/office-ui-fabric-react/wiki/Component-Styling#icomponen

[2018-11-16 03:00] Vitalius1 commented on #7089
Closing as no changes necessary for the fluent theme. Talked to @betrue-final-final and confirmed that no changes for the animation timings necessary at this moment.

[2018-11-16 03:00] #7089 closed

[2018-11-16 03:32] KevinTCoughlin commented on #7128
Nice find @Vitalius1!

[2018-11-16 03:36] Vitalius1 opened #7130 "ProgressIndicator: linear-gradient not working correct in Safari"
### Environment Information

- __Package version(s)__: Latest
- __Browser and OS versions__: Safari

### Please provide a reproduction of the bug in a codepen:
 ProgressIndicator for its indeterminate animation uses a linear-gradient from `transparent` to `neutralLight` and back to `transparent`. This creates a visual bug in the Safari browser as follows:
https://gyazo.com/ea57d644d37847d52da62127

[2018-11-16 03:38] KevinTCoughlin commented on #7080
I have some context here from a discussion on Teams the other day. I'll fill this out as a feature request in a bit. Tagging myself so I'm aware.

Thanks for opening this @davallen.

[2018-11-16 04:33] dzearing commented on #5501
(talking offline about options on how feasible it is to pick out the changes in 5.0)

[2018-11-16 05:09] #7128 closed

[2018-11-16 07:54] realhoffi commented on #7104
https://codepen.io/anon/pen/XygVvQ

[2018-11-16 11:01] sonimishra commented on #7075
Hi @natalieethell, We are following up with product team on your query, will update you once we get answers from them.

[2018-11-16 11:31] sonimishra opened #7132 "[Keyboard Navigation - PowerApps Admin - Project Tab - Context Menu] 'Context menu' button is not accessible via keyboard Navigation Under Project tab."
<!-- 🚨 STOP 🚨 𝗦𝗧𝗢𝗣 🚨 𝑺𝑻𝑶𝑷 🚨

We’re here to help, but we need a few things from you!
User Experience:
If, any control is not accessible by the keyboard, then the users who depends upon keyboard for navigation might get affected and may not be able to use the complete functionality of the application.

MAS Ref:
MAS 2.1.1 - Keyboard (36)

Check out Keros! - Identify accessibility bugs before check-in

[2018-11-16 11:33] sonimishra commented on #7132
Comment from Product team:
The details are as follows:
When we use Overflow set within a cell in DetailsList and when we try navigating using keyboard within the row of the detailslist using right arrow, the focus does move to the OverflowSet as tabindex gets set to 0 but it does not show a focus border.
If you test in scan mode as well, you will see that the narrator announces the information of

[2018-11-16 18:17] KevinTCoughlin commented on #7068
FWIW I've only ever heard of File Picker in reference to https://docs.microsoft.com/en-us/onedrive/developer/controls/file-pickers/js-v72/?view=odsp-graph-online

[2018-11-16 18:48] KevinTCoughlin opened #7133 "List: Convert to css-in-js"
### Describe the feature that you would like added

This feature is to convert [List] to use `mergeStyles` to take advantage of theming and styling.

At a glance, the _only_ dynamic styling List does is:

https://github.com/OfficeDev/office-ui-fabric-react/blob/dbdbb23e7dac68b950388d9011108fa0cc2d5969/packages/office-ui-fabric-react/src/components/List/List.tsx#L435

The rest of the styling is sim

[2018-11-16 18:50] KevinTCoughlin commented on #7133
I can look into the performance implications of doing this work and report back to this thread. @JasonGore at a glance, does this feature seem necessary for fully supporting theming?

[2018-11-16 19:02] TestAccessibilityGIT opened #7134 "Toggle A11y Pass"
Tracking all of the issues brought up with the 11/16 accessibility pass on Toggle  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B9dd251d1-895a-4a77-aeb9-68d48a73269d%7D&action=default&uid=%7B9DD251D1-895A-4A77-AEB9-68D48A73269D%7D&ListItemId=1558&ListId=%7B395E1ECB-5002-440

[2018-11-16 19:03] JasonGore commented on #7133
Given that List doesn't have any of its own styling and only one section, theming it directly may not be strictly necessary. @bennettclark Is it possible you could achieve your theming needs if List was simply wrapped by a themeable container?

Theming perf concerns are warranted and need to be addressed by #7003. If theming needs can be met by a wrapper and perf is a concern, it seems to be prude

[2018-11-16 19:06] micahgodbolt commented on #7133
I'd 2nd the idea of not adding theming if we can avoid it. It's possible that people are using the list component on its own, and adding css in js library dependency would add a bit of bulk (like resizeGroup).

[2018-11-16 20:50] #7130 closed

[2018-11-16 20:59] JasonGore commented on #7133
It seems like the need here wasn't to theme List directly, but to pass theme to List items which can be doing using Customizer. I think we can table this work for now.

[2018-11-16 21:39] darewreck54 commented on #5660
@bishwenduk029  By any chance do you have an ETA?

Thanks,
Derek

[2018-11-16 22:02] KevinTCoughlin commented on #7133
Sounds good to me.

[2018-11-16 22:02] #7133 closed

[2018-11-16 23:02] Vitalius1 commented on #7127
@chang47 if the solution I provided solves your issue feel free to close the issue or let us know if you have any suggestions or feedback. Thanks for getting this to our attention 👍

[2018-11-16 23:03] chang47 commented on #7127
Will do, I'll close it now.

[2018-11-16 23:03] #7127 closed

[2018-11-16 23:21] aneeshack4 commented on #7132
@sonimishra Please provide a Codepen that repros this bug so that we can understand what about your implementation of OverflowSet as a cell of DetailsList

[2018-11-16 23:59] micahgodbolt commented on #5307
The calendar conversion is being done in the new date-time package. Good news is that it's already done, bad news is that it's certainly in beta state. It's not 100% feature complete, there will be some breaking changes, and we have future plans before the 1.0 release.

BUT hopefully this unblocks you to start styling it?

[2018-11-17 00:01] micahgodbolt commented on #7070
calendar has been converted to css-in-js over in the date-time package. It's not 100% stable yet, but should be close enough to start building up a Fluent theme.

[2018-11-17 00:43] mikewheaton commented on #7070
@micahgodbolt Is that Calendar meant to replace the one in the main office-ui-fabric-react package? Do you know if anyone is using it in production?

[2018-11-17 00:44] micahgodbolt commented on #7070
the new one JUST got published, so no one is using it yet. The calendar team and power apps team will be driving most of the work. They are added as codeowners, and will start to dogfood it as soon as they feel its ready.

[2018-11-17 00:50] mikewheaton commented on #7070
Okay, sounds like it's likely to be production ready before the existing Calendar gets converted to CSS-in-JS. @Vitalius1, think we should try styling the new component? Even if it's not ready in time and we need to convert the existing calendar, I'd expect the styles should be mostly transferable.

[2018-11-17 00:54] mikewheaton opened #7137 "DetailsList: Fluent theme"

[2018-11-17 00:55] mikewheaton opened #7138 "TeachingBubble: Fluent theme"

[2018-11-17 01:00] #7016 closed

[2018-11-17 01:00] #6578 closed

[2018-11-17 01:07] Vitalius1 commented on #7121
@betrue-final-final @mikewheaton
Beside the label position and the wrong color used in the toolkit (which I created issues on Ben's backlog), it seems there is not much work here regarding fluentization. So I am closing this issue and if you think it needs to be reopened, feel free to do so.

[2018-11-17 01:07] #7121 closed

[2018-11-17 01:20] Vitalius1 commented on #5307
@micahgodbolt
I understand that the `Calendar` you are talking about is in the new package `date-time`. We could probably proceed with styling it and run the package demo to see how it works. I will get in touch with Ben and see if the current fluent toolkit is up to date with this new Calendar. Thanks for the update 👍

[2018-11-17 14:49] bishwenduk029 commented on #5660
By Monday morning PST I will be able to share a working version.

[2018-11-17 17:07] jeremy-coleman opened #7139 "style helper"
hi friends, I recently came across and successfully used this awesome little script for converting css/scss (or any other by compiling to css first) to typestyle, thought it may be useful for your refactoring needs (just replace $nest with 'selectors')
https://github.com/gcazaciuc/tsconvert

just wanted to share, please feel free to close this as a non-issue

[2018-11-17 18:36] KevinTCoughlin commented on #7139
Closing as non-issue, but it _is_ an interesting tool. The output nearly matches what we expect for `merge-styles`. Thanks for sharing.

[2018-11-17 18:36] #7139 closed

[2018-11-18 00:44] jsedlak opened #7140 "Add SignIn Icon"
**Describe the feature that you would like added**
Icon family currently supports a SignOut icon with a open "C" box racing right with a right arrow on the right side. A matching icon with a right arrow on the left to a reversed C (facing left) should exist with the SignIn name.

**What component or utility would this be added to**
Icon Library

**Have you discussed this feature with our team, and

[2018-11-18 00:47] jsedlak opened #7141 "Simplify Icon Naming"
**Describe the feature that you would like added**
Searching https://developer.microsoft.com/en-us/fabric#/styles/icons#icons for "player", "person", "account" and "people" all result in similar icons. While a difference in naming between singular and plural is understandable, the addition of account and player makes things confusing. Additionally, there exists no base icon for an individual. Thes

[2018-11-18 00:51] arunarokk opened #7142 "Detailslist: Invalid aria-describedby value on columnheader when used onRenderColumnHeaderTooltip"
### Environment Information

- __Package version(s)__: (6.102.0)
- __Browser and OS versions__: (chrome and win 10)

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/arunarokk/pen/NEveMb

#### Actual behavior:

we have keros bug for invalid aria attribute value on column header, aria-describedby = "header1-name-tooltip" - element is not available in DOM

![image](http

[2018-11-18 08:02] KevinTCoughlin commented on #7142
Perhaps related to #7013

[2018-11-18 18:09] realhoffi commented on #7104
no problem at all :) but thx for feedback!

[2018-11-18 20:53] ParadimeWeb commented on #5643
Hello all,

Any updated on this bug? My users are starting to notice it more and more.

[2018-11-19 03:09] bishwenduk029 commented on #5660
Hello @darewreck54 , would Wednesday evening  PST do ? By then I will be able have a draft working version.

[2018-11-19 03:11] bishwenduk029 commented on #5660
@darewreck54 as you suggested I am taking the logic from DropDown.base.tx for creating the dropdown when user enters a text into the input box. Should the trigger logic be invoked when clicks/enters, or as the user continues to type the dropdown should show result list? I am focusing the latter. Please do let me know in case this current approach needs changes

[2018-11-19 05:02] cschleiden commented on #7110
I'm hitting this right now, should this be re-opened?

[2018-11-19 05:18] darewreck54 commented on #5660
Choosing the latter is fine.  I would also include a prop parameter to specify the time for the debounce.  This will give the user the flexibility to control how many request are sent out.  Also a prop for the method that will be trigger to retrieve the results for the suggestion.

Are you extending the existing SearchBox logic?

[2018-11-19 05:41] gsbelarus commented on #7110
If you are on latest version and there are still global exported enums, than definitely should be.

PS: until they are cooperating with TS guys to address this problem on TS behalf.

[2018-11-19 11:41] bishwenduk029 commented on #5660
Yes derek with an additional prop to to activate the drop-down view of
results.

On Mon, Nov 19, 2018, 10:48 Derek <notifications@github.com wrote:

[2018-11-19 11:42] bishwenduk029 commented on #5660
To put more specifically, activate the autosuggestion functionality based
on the props.

On Mon, Nov 19, 2018, 17:11 bishwendu kundu <bishwenduk029@gmail.com wrote:

[2018-11-19 11:56] avenezia opened #7145 "Click on contextual menu item checkmark causes an Uncaught TypeError"
### Environment Information

- __Package version(s)__: 6.99.0
- __Browser and OS versions__: Chrome 70.0.3538.102 on Windows 10

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/avenezia/pen/pQWqEy

#### Actual behavior:

When clicking on the checkmark icon of a context menu item, the following exception is thrown

Uncaught TypeError: t.stopPropagation is not a functi

[2018-11-19 15:34] cschleiden commented on #7110
@kenotron I'm hitting this with the latest packages right now because of the icon names. You mentioned that you'd fixed part 1 of 2 so if there is another issue tracking part 2 please feel free to resolve as dupe.

[2018-11-19 16:29] betrue-final-final commented on #7007
It goes from 40 to 44px.

[2018-11-19 16:32] kenotron commented on #7110
Hey @cschleiden - yeah we haven't finished the work yet, though you can track it here: #7119

[2018-11-19 17:06] betrue-final-final commented on #7120
The deploy link isn't working for me

[2018-11-19 17:29] Jahnp commented on #7141
Hi @jsedlak , thanks for the feedback. We'll bring this feedback to the central icons team that Fabric draws from, as we prefer to make as few "middle-tier" changes as possible to our icon definitions. That said, I believe there *may* be tagging/alias information available for some icons that we could draw from to help parse the differences. I'll look into that and follow up here.

[2018-11-19 17:42] Jahnp commented on #7140
Hi @jsedlak , that's a fair gap to call out. This might be a silly question given that "Sign out" is a pretty self-explanatory action, but of curiosity, where in your app are you planning to use this icon? The reason I ask is that many apps use simple "Sign in" / "Sign out" strings instead of pairing them with icons. In fact, the original product team that requested the SignIn icon (VSTS/Azure Dev

[2018-11-19 17:43] kenotron commented on #7000
I really don't think we have plans for this yet. I would recommend looking at more generic DnD react library: https://github.com/react-dnd/react-dnd ...

[2018-11-19 17:44] kenotron commented on #6986
This isn't really our bug to fix. We'll need MWF to fix it on their end. @Jahnp could you maybe drive this one to close?

[2018-11-19 17:55] jsedlak commented on #7140
I firmly believe both should be added, relevant to #7141 and general lack of options for subset icons. As "PersonArrowRight" and "PersonKey".

Instinctively I believe F286 has more implied meaning as it relates to authenticating a user since F054 simply has an arrow. And in a similar vein the existing "SignOut" icon does not posses any natural or implied reference to removing an authentication ses

[2018-11-19 17:58] Jahnp commented on #6986
Thanks @kenotron . I've been working offline with the DevPortal team (proxy to MWF) for the past few weeks on a plan for this. Nothing to report yet--but it is looking like a very tricky set of problems tied to the site's core server infrastructure (i.e. MWF is bundled with the site's infra, and we cannot just remove it; and they cannot just remove this offending code as it'd be very disruptive to

[2018-11-19 17:59] micahgodbolt commented on #6986
@jahn is there a place this bug is being tracked so that we can close this issue down?

[2018-11-19 18:07] KevinTCoughlin commented on #7145
@avenezia thanks for the report and Codepen! I can repro this by clicking a small clickable area surrounding the checkmark icon in the Codepen you provided.

[2018-11-19 18:21] Jahnp commented on #6986
@micahgodbolt Are you talking about the original Link a11y bug that @TestAccessibilityGIT opened?

As for the "how do we mitigate global MWF bugs on developer.microsoft.com/fabric", no, there's no bug tracking that. But frankly, I'm wondering if the right thing is for the accessibility tests to point to the "isolated" prod environment that doesn't have MWF (https://uifabric-prod.azurewebsites.net)

[2018-11-19 18:51] kkjeer commented on #5326
@ecraig12345 sorry for the delayed response. I think the proposed onChange signature looks fine, although it could probably be made more specific by using `React.SyntheticEvent<HTMLInputElement>` instead since SpinButton uses `<input ...` to render.

I also think it makes sense to deprecate `onIncrement`, `onDecrement`, and `onValidate`.

[2018-11-19 18:55] micahgodbolt commented on #6986
that's a really good point. if they are using that for their reference, then the MWF issues are moot

[2018-11-19 19:05] Vitalius1 commented on #7120
Looks like the PR was merged 😲 (hmm...). So you can test the changes by pulling a fresh master and build it.

[2018-11-19 21:00] #7076 closed

[2018-11-19 21:12] Vitalius1 opened #7148 "Modal: Fluent theme"
`Modal` is used as a host for some other components. Currently, it's used only in `Dialog` component. Fluent changes necessary are the `box-shadow` with a depth of 64 and rounded corners.

[2018-11-19 21:35] Vitalius1 commented on #7148
Not sure if there is anything to review as Modal is mostly a host for other content in here. I removed the indirect styling of the Modal in the Dialog styles and instead added them in here.

[2018-11-19 21:36] zelliott opened #7150 "Dialog: Narrator does not read certain sections of dialog content when opened."
### Environment Information

- __Package version(s)__: office-ui-fabric-react@6.105.1
- __Browser and OS versions__: Chrome, Edge, IE11, perhaps others. Win10 and 2016 Server.

### Please provide a reproduction of the bug in a codepen:

Codepen: https://codepen.io/zelliottm/pen/MzOJyx
Debug-only link for IE11: https://s.codepen.io/zelliottm/debug/MzOJyx/mWkoNxwJVdnA

#### Actual behavior:

Repro s

[2018-11-19 21:52] KevinTCoughlin commented on #7150
I _think_ Narrator is reading the Dialog's "header" because we apply `aria-role="header"` and `aria-level` to that `<p>` DOM node. It reads the `<button>` elements because they are focusable.

I'm unsure of the ARIA requirement regarding descriptive content such as the `secondaryText` content. I need to check with the ARIA spec before categorizing this issue. I also need to verify that one cannot

[2018-11-19 21:58] gingi commented on #7052
I don't think this is a Narrator/Edge issue. The problem is that the `<span class="ms-Button-ScreenReaderText>` element is not hidden but rather made invisible with CSS positioning, so Narrator doesn't interpret it as hidden. I think the solution is to hide the visual text (the `<div class="ms-Nav-linkText">` element) using `aria-hidden="true"`.

[2018-11-19 22:36] junchen1 opened #7152 "IconButton didn't handle onKeyDown event properly"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:
When user tab to select the button, use k

[2018-11-19 22:37] cliffkoh commented on #7104
Thanks for the codepen. There is a small typo (`inputProps`, not `inputProperties`) but it was really easy to see the issue with your codepen.

Fix is in #7151 along with unit test.

[2018-11-19 22:41] KevinTCoughlin commented on #7152
@junchen1 please provide additional context by filling out the Issue template to help with triage and debugging, particularly the above fields.

It would also be helpful if you could provide an isolate repro of this behavior in a [Codepen](https://codepen.io/#) as suggested by the Issue template.

Here's a Codepen which renders an `IconButton` that you may wish to fork, https://codepen.io/kevintco

[2018-11-20 01:35] KevinTCoughlin commented on #7150
I was able to read all of the `Dialog`'s content in Edge using Narrator's Scan mode.

My steps to test were:

1. Enable Narrator.
1. Enable Scan mode. Using Windows, enabled via `CAPS + SPACE`.
1. In Edge, visit https://codepen.io/kevintcoughlin/live/GwOvZY
1. Focus "Open Dialog" button, invoke button via `ENTER`.
1. Focus shifts to `Dialog` and reads the content below. Also able to have it re-rea

[2018-11-20 02:03] mikewheaton opened #7156 "Callout: Fluent theme"
- reopening in order to match component styles to current toolkit

[2018-11-20 02:19] mikewheaton opened #7157 "Tooltip: Fluent theme"
- confirmed tooltip styling conforms to current fluent styles as provided in sketch toolkit

[2018-11-20 04:31] mikewheaton opened #7159 "TeachingBubble: Unable to style via Customizer"
### Environment Information
- __Package version(s)__: Latest
- __Browser and OS versions__: All

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/yk056zrkqj

#### Actual behavior:

I'm trying to style the TeachingBubble using the Customizer's `scopedSettings` prop. As seen in the repro link above, this works correctly for DefaultButton but not for TeachingBubble

[2018-11-20 04:43] kenotron opened #7160 "Cleanup: OUFR packages should not depend on react-dom"
### Environment Information

- __Package version(s)__: master packages all have this
- __Browser and OS versions__: applies to all

#### Actual behavior:

`ReactDOM.findDOMNode` is present in DragAndDropHelper, for example. Generally it is a code smell if the component code has some dependency on ReactDOM. We should eliminate this dependency. Libraries built on top of Fabric is arbitrarily tied to

[2018-11-20 05:32] KevinTCoughlin commented on #7160
Also:

https://github.com/OfficeDev/office-ui-fabric-react/blob/fd8af84b7deea5e883773f565477b74831cd6c81/packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.base.tsx#L341

Curious, how would one avoid its usage in `Layer.base`?

https://github.com/OfficeDev/office-ui-fabric-react/blob/fd8af84b7deea5e883773f565477b74831cd6c81/packages/office-ui-fabric-react/src/components/Layer/La

[2018-11-20 07:00] arkogupta opened #7161 "Border CSS getting overridden by consumer"
### Environment Information

- __Package version(s)__:
- __Browser and OS versions__: All

### Please provide a reproduction of the bug in a codepen:

1. Go to a small list with ItemScope enabled : [https://msft.spoppe.com/teams/SPGroups/Lists/AmySimpleList/AllItems.aspx](url)
2. Try doing a drag drop to reorder columns, a border appears around the dragged column header.
3. Move to a large DocLib

[2018-11-20 07:34] kenotron commented on #7160
Shoot didn't realize portal hangs off of ReactDOM. Will have to figure out whether we can abstract that out.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Kevin Coughlin <notifications@github.com>
Sent: Monday, November 19, 2018 9:32 PM
To: OfficeDev/office-ui-fabric-react
Cc: Ken Chau; Author
Subject: Re: [OfficeDev/office-ui-fabric-react] Cleanup: OUFR packa

[2018-11-20 07:40] fergiemcdowall opened #7162 "Improvements to documentation: "Open a CallOut from a mouse click""
**Improvement to the CallOut doc: https://developer.microsoft.com/en-us/fabric#/components/callout (and I think this could also apply to ContextualMenu)**

A pretty typical user scenario is "right click anywhere on the page" -> "get up some info" (a menu, or an explanation box). In Fabric, you would do this by positioning a `CallOut` or `ContextualMenu` around a mouse click.

"Open a CallOut from

[2018-11-20 10:53] piyumi25 opened #7163 "ms-ListGhostingExample can not find"
![code](https://user-images.githubusercontent.com/33615108/48769096-cb279b00-ece0-11e8-9d92-3586dc07a7e0.PNG)
I am trying to use list component to show list of records. But given scss files can not find. I got folloeing error.
![error](https://user-images.githubusercontent.com/33615108/48769011-93205800-ece0-11e8-8ef7-ea3155be793f.PNG)

[2018-11-20 15:18] kenotron commented on #7160
This really is a sticking point because of the use of portals... not much going around this - OUFR must then depend on ReactDOM. Question is whether we could use a lint rule to disable to use of it?

https://palantir.github.io/tslint/rules/import-blacklist/

So we can at least reduce the use of it via a rule? That means we can at least disable this rule only for exceptional cases?

[2018-11-20 15:32] bengry opened #7166 "@uifabric/icons breaking change in 6.2.0"
Not using the standard issue template since the template doesn't apply to this issue
---
Today (Nov. 20, 2018), `@uifabric/icons` v6.2.0 [was published](https://www.npmjs.com/package/@uifabric/icons).
In this version, the file names of some of the icon packages changed ([fd8af84b7deea5e883773f565477b74831cd6c81](https://github.com/OfficeDev/office-ui-fabric-react/commit/fd8af84b7deea5e883773f56547

[2018-11-20 16:04] micahgodbolt opened #7168 "Check component is not using styles prop in getClassNames"
https://codepen.io/vitalius1/pen/oQoooY?editors=1010

[code]

[2018-11-20 16:07] KevinTCoughlin commented on #7166
@Jahnp can you take a look?

[2018-11-20 16:12] KevinTCoughlin commented on #7159
@JasonGore any clues as to why this may be happening for `TeachingBubble`?

[2018-11-20 16:43] Jahnp commented on #7166
@bengry, can you expand on your custom CDN usage here, preferably with a codepen or sample code, to help illustrate the issue? And, do the icons break if you do not use a custom CDN?

I suspect that if you are using `office-ui-fabric-react` with the stock `initializeIcons` call from `@uifabric/icons` the change would not be breaking. Custom CDNs or subsets can complicate that, and we may need to u

[2018-11-20 16:48] bengry commented on #7166
@Jahnp We use our own CDN (or rather, the static server serving our app) due to security restrictions some of our customers have, which prevent them from making requests to the default CDN that `@uifabric/icons` (or is it `office-ui-fabric-react`) uses, which by the way - is not the SharePoint one, as mentioned in the docs, but one of Akamai. Maybe if it were a SharePoint it would be fine for us.

[2018-11-20 17:35] JasonGore commented on #7159
I don't see anything obvious. TeachingBubble is registering the name `TeachingBubble` with `styled` and applying `classNames.root`. This will require some deeper troubleshooting.

[2018-11-20 17:48] Jahnp commented on #7166
Gotcha. Thanks for the details @bengry , and apologies for the disruption.

From quickly reviewing our docs, it seems we don't cover all the considerations & steps one should take when using a custom CDN. In this case, as you point out, the issue is likely that the call to `initializeIcons` from `@uifabric/icons` fails because the new font files generated by the [Fabric icons tool](https://aka.ms/

[2018-11-20 18:20] natalieethell commented on #7075
Hey @sonimishra any updates? Let us know if we can help!

[2018-11-20 18:43] Jahnp commented on #7166
@bengry - I've opened #7169 to add the missing font files. We'll publish a new version of `@uifabric/icons` asap. If you were relying on fonts being in that folder to update your CDN, this update was *definitely* a breaking change, and I apologize again for the disruption.

On that note, quick question: how are you pulling the font files for your custom CDN now? Do you have a build step that copie

[2018-11-20 18:52] KevinTCoughlin commented on #7163
Hey @piyumi25, the code you are attempting to import is _example_ code for the `List` component. You can view it by performing the following steps:

1. Clone the repo
1. Install the repo's dependencies via `npm install`
1. Start the local web dev server via `npm start`
1. Navigate to http://localhost:4322/#/examples/list
1. Scroll to the bottom of the page to find the example labeled "Rendering gh

[2018-11-20 19:07] KevinTCoughlin commented on #7168
Thanks for the helpful debug info :). I believe I have the fix, testing now then will PR.

[2018-11-20 19:41] bengry commented on #7166
@Jahnp Of course the Akamai CDN is not just a random one that got chosen, but our issue was (or at least that's what we were able to gather from several customers who faced this) that their firewall in the organization prevented connections to that domain. Unfortunately we don't use a CDN for our own site, but the idea behind was that serving it from our endpoint (which is under `.microsoft.com`)

[2018-11-20 20:01] KevinTCoughlin commented on #7160
@kenotron were you planning on doing this work or should I leave it unassigned / for shield?

[2018-11-20 20:06] Vitalius1 commented on #7159
@KevinTCoughlin I took a quick look and narrowed the search direction as being the styles are not passed to the `root` area. Every other area is getting the customizations. The `root` area is the one passed to the `Callout` and there is a TODO note in there... maybe it's time `to do`:
https://github.com/OfficeDev/office-ui-fabric-react/blob/7fa794c6069b30692d9eb8b8e1aa2e3e436a28de/packages/office-

[2018-11-20 21:09] KevinTCoughlin opened #7173 "DetailsList: Re-add drag & drop border fade-out animation effect without stylesheet regen"
We removed a problematic usage of `keyframes` in `DetailsList` which was regenerating stylesheets per interaction with the `DetailsList`. The behavior _should_ be re-added but _without_ the performance issue. Perhaps using a CSS3 transition via `mergeStyles`. For additional context see #7125.

### Environment Information

- __Package version(s)__: `office-ui-fabric-react >= v6.105.0`
- __Browser a

[2018-11-20 21:33] #7168 closed

[2018-11-20 22:00] #7161 closed

[2018-11-20 23:13] darewreck54 commented on #5660
@bishwenduk029  Yeah, let me know when you have a version.  I'll be happy to test it out with the project i'm working on and give feedback! Thanks!

[2018-11-20 23:56] betrue-final-final commented on #7157
Checked the code and it looks right.

[2018-11-20 23:56] betrue-final-final commented on #7156
Code looks good.

[2018-11-21 00:00] betrue-final-final commented on #7148
Seems good.

[2018-11-21 00:02] betrue-final-final commented on #7120
Seems ok.

[2018-11-21 00:02] #7120 closed

[2018-11-21 00:20] Vitalius1 commented on #7010
Why is this one blocked? And why `Component: Pivot` label?

[2018-11-21 00:41] #7145 closed

[2018-11-21 00:49] mikewheaton commented on #7010
The pivot label was a mistake. It's blocked because the design is still being worked on (according to the spreadsheet) and I also think this needs discussion, as the design may be for a new component that's replacing the existing Nav. @betrue-final-final, do you know if that's the case?

[2018-11-21 01:35] KevinTCoughlin commented on #7159
@mikewheaton let me know if the API signature I've described in https://github.com/OfficeDev/office-ui-fabric-react/pull/7179#issue-232510308 works for you. Its using `subComponentStyles` so it involved a slight modification of your `styles` object.

[2018-11-21 02:41] bishwenduk029 commented on #5660
Hello @darewreck54 , while working on the SearchBox enhancement I just had an idea, if we leverage the idea of render props, then we can enhance the BasePicker component itself to accept any any kind of input target as props and render the same along with the suggestions triggered when user starts entering values into the input target.

Currently <BasePicker /> is tightly coupled with the Autofill

[2018-11-21 09:03] minedeljkovic opened #7181 "Add onBlur prop to DatePicker"
**Describe the feature that you would like added**
Add `onBlur` prop to `DatePicker`

**What component or utility would this be added to**
DatePicker

**Have you discussed this feature with our team, and if so, who**
No

**Additional context/screenshots**
Since `DatePicker` has optional text input, and other pickers that have text inputs (`BasePicker`, `PeoplePicker`) have `onBlur` prop, it would

[2018-11-21 16:17] betrue-final-final commented on #7007
Looks good.

[2018-11-21 16:17] #7007 closed

[2018-11-21 17:36] darewreck54 commented on #5660
I tired what you suggested but that doesn’t work. It looks like the renderinput target has no effect. The styling gets overrided by the basepicker style. You are basically left with the basepicker look and feel.

On Nov 20, 2018, at 6:41 PM, Bishwendu Kundu <notifications@github.com<mailto:notifications@github.com>> wrote:

Hello @darewreck54<https://github.com/darewreck54> , while working on the

[2018-11-21 17:44] micahgodbolt opened #7182 "Clean up Wiki Navigation"
Wiki navigation has redundant labels, outdated sections, and can make it hard to find what you're looking for.

We need to propose a brand new taxonomy, get buy off on that, and then start organizing content under it.

[2018-11-21 17:49] micahgodbolt opened #7183 "Move wiki into oufr and automate publishing to github"
(Updated by @dzearing)

1. Move wiki into oufr repo, under /wiki folder.
2. Add a regular job (maybe it can be triggered on /wiki modifications in master) which reflects the updates to the wiki.git

[2018-11-21 18:26] ecraig12345 opened #7184 "Support Node 10"
Fabric currently doesn't build properly with Node 10. Since Node 10 is now LTS, we should work on supporting it.

More info copied from an email from @cliffkoh:

See #7185 for investigation of switching to pnpm or yarn.

[2018-11-21 18:59] natalieethell commented on #6646
1 is a Toggle bug that is already being tracked here: https://github.com/OfficeDev/office-ui-fabric-react/issues/7134. I'll cross it out.

[2018-11-21 19:11] #7095 closed

[2018-11-21 19:16] Jahnp commented on #7183
This would be great. We had an issue for this, #3823, a few months back that, sadly, was closed by stalebot before we ramped up the team and added the shield process.

[2018-11-21 19:29] micahgodbolt commented on #7183
One other wacky idea....what if we were to leverage our devops public wiki? It's 100% public, and might have better functionality. https://uifabric.visualstudio.com/fabricpublic/_wiki

[2018-11-21 20:39] rachidaoudi commented on #5879
Since this was urgent and a blocking bug for me  I managed to fix it after forking the repo , here are the changes :
https://github.com/rachidaoudi/office-ui-fabric-react/commit/e1a6b4b0e144fe5bd5abe037173d0646e47ad216
I couldn't make a pull request since I didn't read throught the guidelines but I hope this comes in handy for anyonelse that needed this fix for their project.

[2018-11-21 21:00] #7102 closed

[2018-11-21 21:30] cliffkoh opened #7189 "Horizontal/VerticalStack should not add `display: none` to `>:empty` selectors."
### Environment Information

- __Package version(s)__: @uifabric/experiments - current
- __Browser and OS versions__: All

### Please provide a reproduction of the bug in a codepen:
Codepen seems to be down now but Katherine knows what I am talking about. :)

![image](https://user-images.githubusercontent.com/1003246/48869351-c242d200-ed91-11e8-8b6e-426547601deb.png)

Code:
https://github.com/Offi

[2018-11-21 22:00] #7101 closed

[2018-11-21 22:00] ecraig12345 commented on #5879
@rachidaoudi Thanks, that could definitely be helpful!

[2018-11-21 22:05] KevinTCoughlin commented on #7181
Hey @minedeljkovic, this seems like a reasonable request. Thanks for suggesting it. An example use case I can think of, is that folks may want to log usage events when the `TextField` is blurred.

I looked at the code briefly and noticed `IDatePickerProps` already inherits `onBlur` so the code change to support this is:

[code]

Example to test:

[code]

Only oddities I noticed are:

1. The `TextF

[2018-11-21 22:26] cliffkoh opened #7192 "Slider is broken in IE 11 because it uses parseFloat"
### Environment Information

- __Package version(s)__: 6.106.2
Browser: IE 11

### Please provide a reproduction of the bug in a codepen:

https://fabricweb.z5.web.core.windows.net/oufr/6.106.2/#/examples/slider
#### Actual behavior:

Slider control does not work in IE 11.

#### Expected behavior:

Slider control works

[2018-11-21 22:34] Vitalius1 opened #7193 "DetailsList: wrong color of the focus rectangle"
### Bug description

Focus rectangle on the row is of `palette.themePrimary`. When asked @betrue-final-final if this is correct, the answer was NO. First of all is inconsistent with all other rectangles, and second, it might be not accessible against grey.

Did a quick investigation and it looks like this change was introduced a long time ago. With [this PR](https://github.com/OfficeDev/office-ui-

[2018-11-21 22:46] cliffkoh commented on #7192
BTW this problem was discovered when testing Horizontal/VerticalStack in IE 11, which exposed the slider bug.

[2018-11-21 23:05] #7189 closed

[2018-11-21 23:06] KevinTCoughlin commented on #7192
LoC -- my bad:

https://github.com/OfficeDev/office-ui-fabric-react/blob/6201a23592b457c0e391a3aae3af581487bdd8f4/packages/office-ui-fabric-react/src/components/Slider/Slider.base.tsx#L230

[2018-11-21 23:38] darewreck54 commented on #5660
perhaps a better route, is creating a component that has a Search Box and a callout/dropdown attached.  Then implement debounc and all that logic.

[2018-11-22 00:11] Vitalius1 opened #7198 "GroupedList: Fluent theme"

[2018-11-22 02:41] Vitalius1 opened #7204 "Callout's positioning logic to control some of its fluent styles"
**Describe the feature that you would like added**

As part of adding fluent styles to some of the components using `Callout` to render its content like `Dropdown`, `ContextualMenu`, `ComboBox`, `Tooltip`, I ran into some issues because of fluent styles changing the drop shadow around the edges and introducing rounded corners on the `Callout`.

The ***first issue*** I got is rendering with a beak.

[2018-11-22 03:51] bishwenduk029 commented on #5660
Hello Derek sorry but I am still continuing some build errors are impeding
me from raising a PR. Apologies for the inconvenience, I am working on
removing the build errors should have some working version by tomorrow

On Sat, Sep 8, 2018, 16:23 IlyeniaMaksim <notifications@github.com wrote:

[2018-11-22 04:36] darewreck54 commented on #5660
No worries. I actually started looking at how to possible implement as well. It seems that if you could possible take the code of a drop down and change the inner workings to use a search box. This has some advantages since the picker doesn’t have the style support that the search box has. Then move over some logic in the picker. The Dropbox uses a callout.

Someone pointed out that the big differ

[2018-11-22 06:48] hrc7505 opened #7206 "Check mark selection issue with details list"
### Environment Information

- __Package version(s)__: (^6.79.0)

### Please provide a reproduction of the bug in a codepen:
 [Codepen example](https://codepen.io/hardik-chaudhary/pen/dQdgWq)

#### Actual behavior:
I have taken the selection object of details list. You can do following things and can get the actual behavior.
1. Check all the records it will show the check mark on header too.
2. Ac

[2018-11-22 09:00] piotrsucharski commented on #6902
Hi,

I have a simillar issue. I followed same logic as you did here, so I used Custom Group Headers and rendered a DetailsRow as a group header.

The issue that comes later is problem with selecting list items. They are double selected due to list items indexes (So I select first subitem and first main item is selected as well.)
Another issue is I can't select main items that doesn't contain child

[2018-11-22 09:32] piotrsucharski opened #7207 "DetailsList- Details row as a group headers not selectable"
Hi,

I have a simillar issue to: https://github.com/OfficeDev/office-ui-fabric-react/issues/6902.
I followed same logic as you did there, so I used Custom Group Headers and rendered a DetailsRow as a group header.

The issue that comes later is problem with selecting list items. They are double selected due to list items indexes (So I select first subitem and first main item is selected as well.)

[2018-11-22 15:56] elegault opened #7208 "TS2322 error with DetailsList"
Would somebody please take a look at my question on SO? https://stackoverflow.com/questions/53397347/ts2322-error-with-office-ui-fabric-detailslist-component

It seems every example in the packages/office-ui-fabric-react/src/components/DetailsList/examples directory that uses componentRef is throwing the TS2322 error.  I'm not sure if this is an issue with the types for DetailsList, WebStorm, my e

[2018-11-22 16:09] gsbelarus opened #7209 "How to render Breadcrumb item with custom item field?"
The task is very simply. I want to use a react router **NavLink** component inside renderer of **Breadcrumb** item. Firstly, I have added a **link** field to items object. But how could I access this added field later inside renderer function? Seems that it defined in such way that only **IBreadcrumbItem** allowed. Of course, I can type cast to any, but this seems like an ugly way. The whole code

[2018-11-22 17:14] Edelf opened #7210 "How to apply css styles to existing components"
Hi,

Every time I need to change a component style I wonder what's the proper way to do it.
Should I create a theme (createTheme), an IStyles object (eg.IButtonStyles), or something else?
For both these options, I always need to dig into the component's source code here on github to find out which properties I must specify.

I've just created [this topic on stackoverflow](https://stackoverflow.com

[2018-11-22 18:00] #7103 closed

[2018-11-23 01:00] #7111 closed

[2018-11-23 09:54] Taerarenai opened #7212 "PeoplePicker item removed event?"
So my question is simple. Is there such a thing?

We have onItemSelected in the PeoplePicker which i am using to create a state array of selected people. We can also remove the selected people by clicking on the X in the input field (next to the selected persons name), but i can't find any event that i can use for when that happens.

What i want is to remove the person from my array as well after

[2018-11-23 23:43] aramkoukia opened #7214 "Using onRemoveSuggestion event for Tag picker"
Looks like the event `onRemoveSuggestion` for tag picker uses the `IPersonaProps`
Looks like a typo or a bug?
I can't make the `onRemoveSuggestion` event to work with tag picker example from here:

https://developer.microsoft.com/en-us/fabric#/components/pickers

[2018-11-23 23:59] philipzloh commented on #6470
ExtendedPeoplePicker is meant to pick "people". Spellchecking/autocorrecting names here is probably never a good thing. @aleury

[2018-11-24 01:00] #7132 closed

[2018-11-26 06:47] KEMiCZA commented on #1957
Can this be reopened please? This is a very needed feature for a lot of use cases. The only way this is possible now is to remove the items from the picker and start adding them in the correct order. Imagine having a picker with +20 items and having to move item n2 to n1. A possible solution would be to implement arrows next to the cross "X" icon or even allow to drag & drop items to the correct o

[2018-11-26 06:49] KEMiCZA commented on #7214
@aramkoukia use the onChange method. This will give you a list of current selected items and when an item is removed this method will also be triggered.

onChange
(items?: T[]) => void
A callback for when the selected list of items changes.

[2018-11-26 11:14] zakhan4 commented on #6578
Hello, I'm facing the same error. Though I have tried it on Word Task Pane Add-in. Even the 'onChanged' event is working but 'onChange' is not. I'm using Word 2016 Version 1811 (Build 11010). I'm also attaching the word file if that helps.
[Document2.docx](https://github.com/OfficeDev/office-ui-fabric-react/files/2615198/Document2.docx)

[2018-11-26 13:03] jescrich commented on #6994
Color show be as accessibility guidelines if it exists.
I thinkg that the color of message should different from other text. Not sure if it's been managed by Edge or we have a chance to customize the css based on the high contrast mode.

[2018-11-26 13:59] fildahui opened #7215 "Fabric component not inheriting style anymore"
We use the `<Fabric>` component in order to inherit the font style to avoid using the SegoeUI font family.

Since version 6.84.1, however, many components do not seem to inherit the style anymore (TextField, Link, Label). Looking at the generated css the inherited style it's there but it looks like it's being overridden by the actual component's style (which before had no font styles in it)

### E

[2018-11-26 16:43] cschlechty commented on #7052
Ok, yes. I don't get why there's hidden text there. It doesn't appear to be needed. Removing it, and aria-describedby, should fix the double reading.

![image](https://user-images.githubusercontent.com/20362383/49028490-61cbe000-f157-11e8-92da-18e967e171fe.png)

[2018-11-26 17:36] #7104 closed

[2018-11-26 18:47] #7193 closed

[2018-11-26 19:20] KevinTCoughlin commented on #7212
Hey @Taerarenai,

Regarding your Teams channel question:

The Teams channel is currently internal to Microsoft. If you are an employee feel free to reach out and I can share a link to you. I was unable to find your alias.

[2018-11-26 19:35] KevinTCoughlin commented on #7206
I need to dig-in more, but _at a glance_ this does seem like a bug where on render `DetailsList` does not retain its _ALL_ selection state when using `selection` prop. Marking it as such since it seems like a minor fix (fingers crossed).

[2018-11-26 19:59] KevinTCoughlin commented on #7214
Here's the interface definition:

https://github.com/OfficeDev/office-ui-fabric-react/blob/b0994eb17054737576842ed03847773363e3110a/packages/office-ui-fabric-react/src/components/pickers/BasePicker.types.ts#L57

[2018-11-26 20:07] KevinTCoughlin commented on #7207
@piotrsucharski have you considered using `GroupedList` for this nested list scenario (also advised in https://github.com/OfficeDev/office-ui-fabric-react/issues/6902#issuecomment-434512072)?

It seems better suited for your use case of nested lists and using it may avoid some of the issues you've mentioned above. If it doesn't work for your needs I would be interested to know why.

[2018-11-26 20:10] KevinTCoughlin commented on #7208
@elegault, which version of `tsc` are you experiencing this with? cc: @cliffkoh who may have some advice

[2018-11-26 20:15] cliffkoh commented on #7208
I agree that the most important variable (and missing piece of information here) is the TypeScript version. Otherwise, it could be with the way npm packages for typings were installed/resolved. If you were to use the same version of TypeScript as the Fabric project does (2.8.4 atm - 2.8.x is our minbar), you shouldn't be seeing an error...

[2018-11-26 20:31] KevinTCoughlin commented on #7209
@gsbelarus can you populate the `IBreadcrumbItem`'s `href` with the link you want to use?

https://github.com/OfficeDev/office-ui-fabric-react/blob/b0994eb17054737576842ed03847773363e3110a/packages/office-ui-fabric-react/src/components/Breadcrumb/Breadcrumb.types.ts#L90
Then you _should_ be able to write something similar to:

[code]

[2018-11-26 20:35] KevinTCoughlin commented on #7166
@Jahnp is this resolved now that #7169 has been merged?

[2018-11-26 20:37] natalieethell commented on #5162
Just waiting on some feedback from the accessibility PM.

Here are some updates:

When adding `aria-hidden` to the top-most element in addition to `aria-required`, Narrator does read out “required”, however that does leave out the other aria attributes, such as `aria-describedby` and `aria-activedescendant`, which we need the screen reader to read out for dropdown.

Here’s a CodePen with two examp

[2018-11-26 20:44] aftab-hassan commented on #7215
Looks related to the changes introduced by this commit - https://github.com/OfficeDev/office-ui-fabric-react/pull/6647
Looking into it.

[2018-11-26 22:32] TestAccessibilityGIT opened #7217 "SpinButton: A11y Pass"
Tracking all of the issues brought up with the 11/22 accessibility pass on Spin  control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bd4183fce-91af-4475-a005-2c42861e41c8%7D&action=default&uid=%7BD4183FCE-91AF-4475-A005-2C42861E41C8%7D&ListItemId=1571&ListId=%7B395E1ECB-5002-440E-

[2018-11-26 22:37] Stanley-Jovel commented on #479
Any updates on this? I'm getting this exact same issue

[2018-11-26 22:39] #6930 closed

[2018-11-26 22:54] elegault commented on #7208
I tried 2.8.4 (was using 2.7.2) and it's the same error!

[2018-11-26 23:10] Stanley-Jovel commented on #479
This is our workaround for this issue:

[code]

You'll need to set an empty pivot item and assing the value of `selectedKey` to it whenever you want to reset the selected PivotItem

[2018-11-26 23:13] tmszyman opened #7218 "Panel doesn't handle onOuterClick"
### Environment Information

- __Package version(s)__: 6.106.3
- __Browser and OS versions__: Chrome 70, Windows 10

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/jQpamP

#### Actual behavior:

Panel doesn't handle onOuterClick function. Nothing happened after clicks outside the component.

#### Expected behavior:

Panel handle onOuterClick function after

[2018-11-27 00:47] benkaiser opened #7221 "Coachmark/TeachingBubble appear above header layers"
### Environment Information

- __Package version(s)__: latest
- __Browser and OS versions__: firefox, chrome

### Please provide a reproduction of the bug in a codepen:

- Go to: https://developer.microsoft.com/en-us/fabric#/components/coachmark
- Click the button to show a coachmark
- Scroll so the coachmark is in front of the header

Screen recording:
http://recordit.co/3j6e5Ohipr

(although thi

[2018-11-27 01:14] aramkoukia commented on #7214
thanks, that works

[2018-11-27 02:30] Vitalius1 opened #7223 "ContextualMenu: splitButton style bugs"
### Bug description

ContextualMenu's `SplitButtonItem` has some hover state visual bugs of the divider not having a background color change resulting in an ugly gap between the `splitPrimary` and `splitMenu` (see screenshot below).
Also, there are some misalignment issues between the regular subMenu items' chevrons and the one on the `SplitButtomItem`. (see the screenshoy below).

### Environment

[2018-11-27 05:09] cliffkoh commented on #7214
Please feel free to close the issue if you're satisfied with the resolution.

[2018-11-27 05:35] cliffkoh commented on #7210
I posted an reply. Hopefully that helps.

[2018-11-27 05:38] cliffkoh commented on #7210
@dzearing in case he has anything to add (and cc @micahgodbolt @Jahnp for the feedback about the documentation gap we have).

[2018-11-27 06:13] siddarthkanted opened #7225 "Panel: Panel & Dialog both are opened. Now click some where outside panel closes."
### Environment Information

- __Package version(s)__: (latest)
- __Browser and OS versions__: (Chrome and Windows 10)

### Please provide a reproduction of the bug in a codepen: https://codepen.io/sidmanraj/pen/yQqRBx

#### Actual behavior:
* Click Open Panel button
* Panel opens.
* Click Open Confirm button.
* Click some where outside the Panel & Dialog area.
* Panel closes automatically.
* Dial

[2018-11-27 07:27] luhu opened #7227 "DocumentCard: Inside card border should be removed"
### Environment Information

- __Package version(s)__: 5.x and 6.x
- __Browser and OS versions__: All desktop browsers

### Please provide a reproduction of the bug in a codepen:

1. Go to https://developer.microsoft.com/en-us/fabric#/components/documentcard
2. Hover on the "View and share files" card
![documentcard-hover](https://user-images.githubusercontent.com/781143/49065256-6af0a600-f258-11e

[2018-11-27 08:18] Vitalius1 opened #7228 "Spinner: allow to customize label position"
**Describe the feature that you would like added**
Add new prop `labelPosition` to allow rendering the label in different positions in regards to the `Spinner`

**What component or utility would this be added to**
`Spinner`

**Have you discussed this feature with our team, and if so, who**
Discussed with @betrue-final-final

**Additional context/screenshots**
When doing some fluentization work, we

[2018-11-27 09:16] arkogupta opened #7230 "Column drag-drop not working in RTL"
### Environment Information

- __Package version(s)__:
- __Browser and OS versions__: All

### Please provide a reproduction of the bug in a codepen:

Repro steps:

1. On the Fabric demo app page, click on the gear icon in the top right.
2. Select "Render in RTL"
3. Try dragging and dropping a column header.
4. The drop hint always comes at the first index, no matter where we drag a column header.

[2018-11-27 09:56] Taerarenai commented on #7212
I gave `onChange `a try and it looks like it has what i need!

Now on the inverse of `onItemSelected`...While in my case `onChange `is enough having the ability to call an action when item is removed would help in other situations such as dialogs with information about the removed item.
That and the fact that it doesnt make much sense to have `onItemSelected` without its counterpart (if you can ca

[2018-11-27 09:56] aleury opened #7231 "TypeScript Guidelines: Typo in "Bad" Example"
I believe there is a typo in the [Quotes](https://github.com/OfficeDev/office-ui-fabric-react/wiki/TypeScript-Guidelines#bad-2) section.

The **Bad** example should have single quotes.

#### Actual behavior:

`<Foo bar="bar" />`

#### Expected behavior:

`<Foo bar='bar' />`

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: Low

[2018-11-27 16:52] dcokely7 commented on #5929
There is a very similar behavior where when you have a controlled multi-select Combobox and supply a selectedkey prop, when the component renders the selected keys dont display until you give the combobox focus then click off of it.  You can see this behavior on the Fabric Documentation site:
https://developer.microsoft.com/en-us/fabric#/components/ComboBox

![image](https://user-images.githubuser

[2018-11-27 16:54] dzearing commented on #7210
# Current

1. Use `loadTheme` to provide component wide colors and fonts.
2. Use `styles` prop for components for one-off tweaks.
3. If you'd like to provide a standard `styles` override for a specific component type, you can use `Customizer` to provide scopedSettings to pipe in standard overrides. (Not this is experimental and will likely change.)
4. Legacy className / global css support still wo

[2018-11-27 17:20] elegault commented on #7208
I upgraded OUFR to 6.107 from 5.97.1 (and react-dom to 16.6.3 from 16.3). The error still occurs unfortunately. I'll see if I can find time to create a repro project repo.

[2018-11-27 18:19] #7052 closed

[2018-11-27 18:39] kenotron opened #7233 "Theming: try out adding foundation & (non-className) mergeStyles with Polyester using inline styles"

[2018-11-27 18:42] chang47 opened #7234 "GetClassName used in Contextual Menu always takes in a function for the type IStyleFunctionOrObject"
### Environment Information

- __Package version(s)__: Latest version
- __Browser and OS versions__: All Versions

### Please provide a reproduction of the bug in a codepen:

For a contextual menu in a button, if you try to pass in a object for getClassName, the code should just use the code styles that you provide, If you pass in a function then it'll use the other styles that was also added in.

[2018-11-27 20:00] #7075 closed

[2018-11-27 21:00] #7152 closed

[2018-11-27 21:01] dzearing commented on #7217
@jspurlin Just an fyi there are SpinButton accessibility issues here, could you take a look? (I believe Boris originally wrote this.)

[2018-11-27 21:17] dzearing commented on #7231
I've updated the docs, thanks for the callout!

[2018-11-27 21:18] #7231 closed

[2018-11-27 21:21] aftab-hassan commented on #7218
I am working on the fix

[2018-11-27 21:51] KevinTCoughlin commented on #7080
Labeled as "Needs: Backlog Review" as we should tackle this holistically. Currently, there exists a number of limitations with styling `DetailsList` and its inner components. An ask which highlights this is to make the list's background `transparent`.

[2018-11-27 22:40] KevinTCoughlin commented on #7204
@Vitalius1 excellent suggestion for `Callout` w/ detailed notes 👏 -- thank you!

@micahgodbolt this may be a larger task than Shield can tackle, mainly due to what should be tested with the change. Looking for advise on how to triage this.

[2018-11-27 22:59] Vitalius1 commented on #7204
I agree that this is not a Shield issue as it would take some time in making sure each of the components, who would take advantage of this feature, is properly audited on what info it needs to know from the Callout for all its possible rendering scenarios. Maybe even split this for each component in part.

[2018-11-27 23:13] KevinTCoughlin commented on #7150
@zelliott, I'm unsure what changed in the past _8 days_, but I've confirmed that Narrator reads out the `Dialog` contents in both Edge & IE 11 when _not_ in Scan mode.

## Narrator Output as Text

[Codepen used to test](https://codepen.io/kevintcoughlin/full/GwXBJx)

### Edge

[code]

### IE 11

[code]

**Note:** To exit the Dialog, a User will tab navigate within the element and encounter both "C

[2018-11-27 23:18] #7192 closed

[2018-11-27 23:42] KevinTCoughlin commented on #7160
@kenotron are we able to exclude `*.test.tsx` files from this rule since they all use `react-dom`? It doesn't seem like it from the documentation. If that's the case, then it seems like we'd have to write a custom task for this lint rule.

[2018-11-28 00:12] Jahnp commented on #7166
Hi @KevinTCoughlin and @bengry , very sorry for the delay. Between the US holidays and a few other obligations this fell off my radar--apologies!

@bengry -- Gotcha, thank you for expanding on CDN issue you were encountering. That usage scenario makes perfect sense. For what it's worth, you should be able to swap out the Akamai endpoint with the `sharepointonline.com` one as the `baseUrl` (`https:

[2018-11-28 00:13] aftab-hassan commented on #7225
@siddarthkanted Thank you for filing the bug, and the awesome repro steps. Working on the fix.

[2018-11-28 00:17] aftab-hassan commented on #7230
@arkogupta Thank you for submitting this, and the clean repro steps. Seems like a valid bug withe the RTL.
Noticed you mentioned about submitting a fix for this. Is this something you would be interested in?

[2018-11-28 00:43] KevinTCoughlin commented on #7212
Hmmm... I'm having second thoughts after reading the implementation and doc comments of `onItemSelected` @Taerarenai. I'm unsure if adding `onItemDeselected` or similar is useful just for consistency sake. The reason being that `onItemSelected` is meant for _processing_ or _transforming_ the item when selected.

[code]

https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/offic

[2018-11-28 02:00] #7163 closed

[2018-11-28 02:39] joschect commented on #7212
@KevinTCoughlin You're correct! "onItemSelected" is perhaps misnamed, it's not really a callback that for when something was added, it's a callback to change the selection. A good example would be if you want to make an additional call to get data to completely resolve the item.

[2018-11-28 03:30] KevinTCoughlin commented on #7212
I see, that makes sense. Thank you @joschect!

@Taerarenai would you be alright if we closed this? Perhaps contingent on adding a comment to better explain the use-case for `onItemSelected`?

[2018-11-28 03:38] Jahnp commented on #7140
Hi @jsedlak , sorry for the delay--between the holidays and a few other obligations, following up here took a bit of a delay. Apologies!

I hear you on having matching icons for opposing actions. That's totally fair and I agree 100%. I also agree that of the two options, `SignIn` makes more sense as a visual metaphor and as a name. Where we can, I want to make sure we're intentional about which ic

[2018-11-28 04:13] betrue-final-final commented on #7137
Looks good.

[2018-11-28 04:13] #7137 closed

[2018-11-28 04:14] betrue-final-final commented on #6749
Done, for posterity, even though we talked about this last week!

[2018-11-28 04:45] #6749 closed

[2018-11-28 06:44] arkogupta commented on #7230
Yes @aftab-hassan. I am working on it and will raise the fix soon.

[2018-11-28 08:33] KevinTCoughlin commented on #7234
@chang47, I'm dedicating time tomorrow to investigate this. If its an issue, it _may_ be related to https://github.com/OfficeDev/office-ui-fabric-react/pull/6094.

However, I'm unsure if this is expected behavior or not. The addition of the `styles` prop was to benefit from our [mergeStyles](https://github.com/OfficeDev/office-ui-fabric-react/wiki/mergeStyles) approach to styling in `6.x`. While `

[2018-11-28 08:38] Taerarenai commented on #7212
@KevinTCoughlin Sorry for the delay, i'm on a different timezone. Well except what i already wrote i dont have any real working examples. I was using `onItemSelected` to populate the `currentSelectedPeople `array  with the people and added info on them (transforming them to be more exact). That can also be done easily by modifying the `SharepointUser `interface.

`onItemDeselected `would be useful

[2018-11-28 08:44] cliffkoh commented on #7079
Thanks for filing an issue @PPatBoyd :)

[2018-11-28 08:48] cliffkoh commented on #7183
That.. doesn't support PRs (and it wouldn't allow the public to change the wiki either). I'm not sure how it would be better.

[2018-11-28 11:58] piyumi25 opened #7239 "Can we use css modules for office ui fabric components?"
/* Button.css */
.button {
  background-color: black;
}

.disabledButton {
  composes: button;
  opacity: .5;
}

/* Button.tsx */
import styles from './Button.css';

 <PrimaryButton
            className="lgn-btn"
            data-automation-id="test"
            disabled={this.state.disabled ? true : false}
            text="Login"
            onClick={this.submitLogin}
            onKeyDown={thi

[2018-11-28 12:37] harshdamaniahd opened #7240 "Pivot Control change css"
![image](https://user-images.githubusercontent.com/11780473/49152308-aea7e600-f312-11e8-8039-8ef32bcc0d9f.png)

Hi i want to add my own custom css in the ul tag.Is it possible ?

[2018-11-28 12:38] harshdamaniahd opened #7241 "Do we have any carousel office ui fabric component"
I am looking for carousel component , any suggestions

[2018-11-28 14:44] nero120 commented on #5874
It didn't use to have this animation, it used to fade in and was absolutely fine for our needs. Since it was added we've had negative comments from more than one user regarding the new animation style.

[2018-11-28 15:10] micahgodbolt commented on #7183
I hadn't looked yet at the devOps option. yeah, if it doesn't support PRs, its of no extra value

[2018-11-28 16:54] Jahnp commented on #5874
Hey @nero120 , thanks for sharing an example of how you're using TeachingBubble. That's helpful for understanding where the feedback may be coming from.

I've engaged with designers about potentially revisiting the animation here. It is a strong animation, but it was intentional, as its main use case is for **highlighting new features** to users that may otherwise be difficult to spot. It's not me

[2018-11-28 17:07] nero120 commented on #5874
Thanks for that info @Jahnp. Well to be honest we used the TeachingBubble since we thought the look more appropriate for help dialogs compared to the regular callout, and probably also due to it's name (teaching)!

[2018-11-28 17:09] betrue-final-final commented on #5874
This is all great feedback.

[2018-11-28 17:36] Jahnp commented on #5874
@nero120 ha, that's a perfectly fair reason to use something called "teaching bubble" :) We'll make sure to clear up the docs and look into making the animation optional.

[2018-11-28 17:37] nero120 commented on #5874
Thanks guys, we really appreciate all the effort! 👏

[2018-11-28 17:48] Jahnp commented on #7241
Hi @harshdamaniahd , unfortunately Fabric does not currently have a Carousel-like component. There are some patterns in product we've evaluated for pulling in, but that hasn't happened yet. We're tracking this feature request in #6893. We don't have an ETA at this moment, but we'll update that issue when there's something more to share.

As a friendly reminder for future questions, please use one

[2018-11-28 17:48] #7241 closed

[2018-11-28 19:05] elegault opened #7242 "Bug with ScrollablePane and/or Sticky?"
My apologies if this turns out not to be a bug and a misunderstanding of how these components should be implemented - otherwise this can be addressed in my [SO post](https://stackoverflow.com/questions/53506087/layout-problems-with-office-ui-fabric).

The issue is how elements in between two Sticky components are rendered.  Consider a layout with a header consisting of a CommandBar and some text a

[2018-11-28 20:08] aneeshack4 commented on #7079
I've been discussing the right solution for this offline in a thread with @PPatBoyd @JasonGore and @dzearing - I've started on a fix but it's hard to repro this on https://developer.microsoft.com/en-us/fabric#/components/callout so testing whether my fix is actually working has been hard...

[2018-11-28 20:47] Jahnp opened #7243 "TeachingBubble: Usage documentation is woefully inadequate"
### Environment Information
- __Package version(s)__: @uifabric/fabric-website@6.8.0
- __Browser and OS versions__: N/A

### Please provide a reproduction of the bug in a codepen:
 The docs can be seen on both the live Fabric site: https://developer.microsoft.com/en-us/fabric#/components/teachingbubble

And on the dev site (here at the 6.106.3 snap): https://fabricweb.z5.web.core.windows.net/oufr/

[2018-11-28 20:48] KevinTCoughlin commented on #7243
@Jahnp while you're in there perhaps you can adjust the placeholder image size for this example:

![image](https://user-images.githubusercontent.com/706967/49181321-e9f2e680-f30b-11e8-8aad-d0ccdc717149.png)

It clips :(

[2018-11-28 20:52] Jahnp commented on #7243
@KevinTCoughlin  Oh, gross... Good catch. Yeah, we can definitely look into that.

[2018-11-28 20:54] JasonGore commented on #7079
If you have a branch pushed, you could modify the `package.json` of the CodeSandbox to use it. If you can easily convert it to a CodePen, you can also run `npm run codepen` command.

[2018-11-28 21:19] chang47 commented on #7234
@KevinTCoughlin

In a way yes it is, I was told that `getMenuClassNames` is being deprecated so the alternative to use would be `styles`.

It seems like in the PR that you attached, `styles` is also being deprecated now too? If so, what should I be using?

[2018-11-28 21:48] betrue-final-final opened #7244 "Make a circular determinate progress control"
There's a need for a more compact version of our progress bar.
We could use the same design for the Spinner component, and possibly reuse the styles there. This would be used in a new design for a progress panel, but could be used in any number of places.

[2018-11-28 22:06] bengry commented on #7166
Thanks @Jahnp. We already copied the ones from 6.3.0, as mentioned.
We'll consider moving to the CDN the next time we visit this probably. We're also looking into the icon tool, as you mentioned.

Thanks for handling things quickly and providing solutions!
Closing this issue, as it's solved as far as I'm concerned.

[2018-11-28 22:06] #7166 closed

[2018-11-28 22:37] KevinTCoughlin opened #7246 "Facepile: overflow button title not rendered in Firefox"
### Environment Information

- __Package version(s)__: latest and prior
- __Browser and OS versions__: Firefox _only_

### Please provide a reproduction of the bug in a codepen:

The `Facepile` overflow button's title is not rendered in Firefox likely due to how Firefox interprets `<button>` and its child elements (it is more strict and dislikes nested elements within Button).

This can be seen by

[2018-11-28 22:42] #7228 closed

[2018-11-28 22:44] aneeshack4 commented on #7079
Spoke offline a bunch about this - thank you to everyone for your time! I believe we're in agreement now that this is by design because as @JasonGore said, onDismiss is a request and doesn't necessarily mean that the callout has been dismissed. And if we change the onDismiss callback to be triggered due to prop value changes, it would be called multiple times. I think the conclusion is we'll look

[2018-11-28 22:44] #7079 closed

[2018-11-28 22:49] skhule1984 opened #7247 "FocusZone: bidirectional has an unexpected behavior for up down arrows"
**Bug Report**
Package version(s): office-ui-fabric-react 6.94.0
Browser and OS versions: IE 11 (11.407.17134.0)
Requested priority: High

**Describe the issue:**

On the 'FocusZone' component, setting the 'direction' attribute to 'FocusZoneDirection.bidirectional' does not work as expected for up and down arrow navigation.

**Repro Steps:**

We have a grid of tiles very similar to the grids under

[2018-11-28 23:02] aftab-hassan commented on #7218
@tmszyman Thanks for the repro steps. As per the current implementation, the observed behavior is not a bug.

`private _dismissOnOuterClick(ev: any): void {
    const panel = this._panel.current;
    if (this.state.isOpen && panel) {
      if (!elementContains(panel, ev.target)) {
        if (this.props.onOuterClick) {
          this.props.onOuterClick();
          ev.preventDefault();
        } e

[2018-11-28 23:02] KevinTCoughlin commented on #7246
Similar to #3636

[2018-11-28 23:09] aftab-hassan commented on #7247
@skhule1984 thanks for reporting. This seems like a bug, I will be working on it.

[2018-11-29 00:01] micahgodbolt commented on #7244
spinner gets us close to the design, but we'd need to flesh it out a bit more before starting.

[2018-11-29 00:16] betrue-final-final commented on #7247
I agree. This is a legit bug.

[2018-11-29 00:21] betrue-final-final commented on #7244
That would be great.

[2018-11-29 00:34] aftab-hassan commented on #7239
@piyumi25 You would need to ensure that the output of `styles.disabledButton` is a Javascript object, and target the specific subsections with key-value pairs as below.

Have styles as follows
[code]

And use the button as

`<PrimaryButton text="Default button" styles={{ root: buttonStyles, rootDisabled: disabledButtonStyles }} />`

You could also take a look at the [basic usage section](https://g

[2018-11-29 00:55] micahgodbolt commented on #7244
Are you able to provide a concrete design example? What does 0% look like, what does 100% look like?

[2018-11-29 01:03] natalieethell commented on #6646
Bugs 15, 16, 17, 18, and 19 are already reported as bugs in other components elsewhere.
15: [Bug 6 in Button a11y pass](https://github.com/OfficeDev/office-ui-fabric-react/issues/6356)
16: [Bug 1 in Button a11y pass](https://github.com/OfficeDev/office-ui-fabric-react/issues/6356)
17: [Bug 3 in Button a11y pass](https://github.com/OfficeDev/office-ui-fabric-react/issues/6356)
18: [Bug 8 in Context

[2018-11-29 02:00] betrue-final-final commented on #7244
Pretty simple. 0 would be all grey or the lighter theme color track. Filled would be themed color.

[2018-11-29 02:02] betrue-final-final commented on #7244
I can send a picture when I'm home

[2018-11-29 02:08] tmszyman commented on #7218
@aftab-hassan Thank you for the response. It seems you are right. Issue can be closed, thanks.

[2018-11-29 02:08] #7218 closed

[2018-11-29 02:52] Jahnp commented on #5874
Sure thing. I've opened #7243 to track the documentation updates; I'll try to get to that tomorrow.

We can keep this issue open to track adding a prop to optionally toggle the animation.

[2018-11-29 04:36] KevinTCoughlin commented on #5874
Re: a prop to toggle the animation... It shouldn't be too difficult. It would mostly involve adding a new prop and passing it into the styles function to conditionally apply these LoC:

https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/TeachingBubble/TeachingBubble.styles.ts#L93...L96

[2018-11-29 11:37] joechung-msft opened #7252 "@microsoft/load-themed-styles missing AMD version since 1.8.27"
### Environment Information

- __Package version(s)__: 6.107.0
- __Browser and OS versions__:

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

The AMD versions of the \@microsoft/load-themed-styles script has been missing since 1.8.27

1.8.27
![image](https://user-images.githubusercontent.com/26208574/49219330-c66d8180-f387-11e8-88fc-085d1840d5bc.png)
1.8.26
![im

[2018-11-29 14:50] betrue-final-final commented on #7244
![image](https://user-images.githubusercontent.com/20363037/49229720-fa09d500-f3a2-11e8-82da-cd70e2686013.png)

[2018-11-29 16:06] micahgodbolt commented on #7244
Thanks ben! Wasn't sure where you'd want it to start. So that's great.

[2018-11-29 17:17] kenotron opened #7253 "[DevExp] Automate the registration of new public @uifabric packages"
**Describe the feature that you would like added**

Whenever we create a published package, we almost always forget to follow up on the steps to pre-register the @uifabric/foo private package before actually publishing. This brought OUFR releases several times. We should seek to automate this away so it is not a problem anymore.

The error shows up like this:
[code]

**What component or utility wo

[2018-11-29 17:19] kenotron commented on #7253
@aftab-hassan - this is a feature request, and I realized you're on shield. If you feel confident, feel free to take a stab at it. However, I think @cliffkoh or I can probably take a stab at some point if you're busy.

[2018-11-29 18:00] caradong opened #7254 "Pagination: Graduate to 1.0 Release"
Pagination component is added into experiment in this pr https://github.com/OfficeDev/office-ui-fabric-react/pull/7100 and there are some more work before this control can graduate from experiment package.

## Component Details

### Imports

### Exports/ Component Breakdown

### Intended Package
OUFR

### Code mockup/example

__Code Sample__

[code]
__CodePens__
[ComboBox Example](https://codepen.

[2018-11-29 18:37] #7223 closed

[2018-11-29 18:42] kenotron opened #7255 "[DevExp] Reduce NPM package size"
**Describe the feature that you would like added**
Currently OUFR package is at 7mb and contains a lot of cruft like api.json. We should add things like that in .npmignore within OUFR package to make sure the npm install time of OUFR isn't that bad.

**What component or utility would this be added to**

**Have you discussed this feature with our team, and if so, who**

**Additional context/screens

[2018-11-29 19:22] KevinTCoughlin commented on #7254
One behavior that this control _may_ want to support is the ability to navigate pagination numbers using the `ARROW` keys. To support this, I think it would require wrapping them in a `FocusZone`. Currently you can only navigate via `TAB` which is enough to meet accessibility standards. But I instinctively tried to use `LEFT/RIGHT`.

[2018-11-29 19:31] rfrerebe opened #7258 "Documentation is missing for button"
Hello,

Wen reading documentation for Button :
https://developer.microsoft.com/en-us/fabric#/components/button

I was expecting to find documentation for IButtonProps
https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/Button/Button.types.ts#L34-L291

Basically all available props for a button, but there is only
* IButton interface
* Eleme

[2018-11-29 19:48] natalieethell commented on #7221
@leddie24 FYI

[2018-11-29 19:49] #349 closed

[2018-11-29 20:06] cliffkoh commented on #7253
@kenotron I don't think @aftab-hassan should add this to his plate. He already has an overwhelming amount to work through (if you take a look at the incoming issue rate).

We should be doing what we can to help @aftab-hassan deal with working on all these Fabric issues for the first time, and not add to his plate at this time.

[2018-11-29 20:09] cliffkoh commented on #7252
This is an upstream issue in the Microsoft/web-build-tools GitHub repo. We'll start a conversation with the folks maintaining that repo about this.

[2018-11-29 22:00] nickpape-msft commented on #7252
Looks like a regression caused by commit c898d6f333c22011d89d2bf24bb4cd63f1efb07d in WBT. We are going to bring back the `customArgs` field. @aftab-hassan

[2018-11-29 22:10] betrue-final-final commented on #7041
If someone could describe what the proposal is in end user terms it would help, otherwise @cschlechty may be able to help with the proper code.

[2018-11-29 22:12] nkanaki opened #7260 "Set Focus correctly in iframe (active element issue)"
### Environment Information

- __Package version(s)__: 6.106.3
- __Browser and OS versions__: all

### Please provide a reproduction of the bug in a codepen:

Website: https://microsoft.sharepoint.com/

#### Actual behavior:

1) Tab to Create Site, hit enter (to open up a Panel, with an iframe inside of it)
2) Hit enter (on Team Site)
3) Notice focus is set to Site Name
4) Hit escape, opening up a

[2018-11-29 22:14] #7159 closed

[2018-11-29 22:20] ConorWuertz commented on #7041
Developers may want to provide a concise visual label for the Dropdown component. Combined with other visual elements on the screen, this might suffice to communicate the purpose of the Dropdown. But for visually impaired end users using the dropdown, that concise visual label may not provide enough information to fully communicate what the Dropdown is for. Currently, if we provide a visual label

[2018-11-29 22:21] natalieethell commented on #7247
I'll take this one.

[2018-11-29 22:36] #7087 closed

[2018-11-29 23:00] micahgodbolt commented on #7258
Oh yeah, that seems to be a bug!

[2018-11-29 23:04] aftab-hassan commented on #7254
Spoke with the author, @caradong offline, and she will be setting up a meeting for us to discuss next steps for this. Adding Cara to assignees for this issue.

[2018-11-29 23:48] eveleens commented on #3607
+1 to this feature. I just ran into this same issue. :)

[2018-11-30 00:31] aftab-hassan commented on #7260
@nkanaki thanks for the repro steps and sharing details, Naman. I'll be working on this.

[2018-11-30 00:54] KevinTCoughlin commented on #7252
Thank you @nickpape-msft!

[2018-11-30 01:04] mikewheaton opened #7262 "Define component interfaces for style props and styles"
**Describe the feature that you would like added**
As suggested in [this comment](https://github.com/OfficeDev/office-ui-fabric-react/pull/7250#issuecomment-442901140), we could improve the components' style functions (that take style props and return a styles object) by adding interfaces like this:

[code]

**What component or utility would this be added to**
All components with styles.

**Have y

[2018-11-30 01:32] KevinTCoughlin commented on #7225
@tacambridge it looks like this behavior was introduced as part of #5422, specifically mentioned here https://github.com/OfficeDev/office-ui-fabric-react/pull/5422#issuecomment-402315777

Is the behavior reported by @siddarthkanted above expected? If not, any guidance on a fix?

[2018-11-30 03:14] cliffkoh commented on #7253
I assigned it to myself and @kenotron. One of us will get to it :)

It's amazing how @dzearing has manually done this for years now :p

[2018-11-30 03:32] #7184 closed

[2018-11-30 04:07] KevinTCoughlin commented on #7240
@harshdamaniahd yes, by using our CSS-in-JS approach. Here is an example: https://codepen.io/kevintcoughlin/pen/bQOEvX?editors=1010

Note the `blue` `background-color` of the `ul` element of the `Pivot` control. More information regarding our component styling approach can be found in our wiki, https://github.com/OfficeDev/office-ui-fabric-react/wiki/mergeStyles#basic-usage

[2018-11-30 04:43] aftab-hassan commented on #7253
@cliffkoh thanks Cliff. If we still have this open after next week, I can definitely take it up.

[2018-11-30 05:08] dzearing commented on #7253
Well I mean... once or twice every 6 months isn't exactly hasn't been screaming at me as much as the 10000 other things... :)

The thing that's broken is that it needs `npm publish --access public`. The public access flag being missing I think it causing the process to break.

[2018-11-30 06:06] cliffkoh commented on #7253
Thanks @aftab-hassan. Focus on the (many) other issues you have first. Remember that next week, you'll have a pile of PRs to work through as well. I hope to be able to help you take care of this here, unless @kenotron gets to this before me.

[2018-11-30 07:06] KevinTCoughlin commented on #7244
Nice! Interested to see this in action, particularly the animation curve 😃

[2018-11-30 07:32] KevinTCoughlin commented on #7255
@kenotron what should we consider our completion criteria for this?

One thought is we can recursively list the installed package's contents sorted by file size and propose a list of files to omit via `.npmignore`.

[2018-11-30 09:08] MarcOne68 commented on #6772
I had the same issue.
I resolved using **styles** property and **IPanelStyles** interface setting

`main: { width: '600px !important' }`

[2018-11-30 09:15] MarcOne68 commented on #6772
I had the same issue and I resolved using **PanelType.smallFixedNear** and setting styles property to

`{ main: { width: '500px !important' } }`

You must work only on the media queries

[2018-11-30 14:01] harshdamaniahd commented on #7240
Thanks

[2018-11-30 14:01] #7240 closed

[2018-11-30 14:56] elegault commented on #7242
Not a bug; discussion in SO: https://stackoverflow.com/questions/53506087/layout-problems-with-office-ui-fabric/53527580

[2018-11-30 14:56] #7242 closed

[2018-11-30 15:59] friendbool opened #7269 "Fabric Website: Add support for versioned documentation"
I'm doing development within SPFx.
Is there somewhere documentation for v.5?

_Originally posted by @cliffkoh in https://github.com/OfficeDev/office-ui-fabric-react/issues/6858#issuecomment-433995571_

[2018-11-30 16:48] dzearing commented on #7252
We should be able to close this here; is there already a tracking bug in the other repo?

[2018-11-30 16:49] dzearing commented on #7258
@cliffkoh Is there a small issue with the processing that's causing this? There is just one Button.types.ts file which has the interface and it's not showing up after parsing.

[2018-11-30 16:50] dzearing commented on #7269
@Jahnp Is there any way we could deploy the doc site for v5?

[2018-11-30 16:52] IAMtheIAM opened #7270 "PeoplePicker: librarymanagedattributes not working - "Property '[Invalid_defaultProps]' is missing in type""
### Environment Information

- __Package version(s)__:
  "office-ui-fabric-core": "9.6.1",
    "office-ui-fabric-react": "6.109.0",
    "typescript": "3.2.1",
node: v10.13.0
npm 6.4.1
    "react": "16.6",
- __Browser and OS versions__: (fill this out if relevant)

windows 10
compile time error

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

[code]
Results in typ

[2018-11-30 17:04] JasonGore commented on #7262
I thought it may be something worth doing in the context of that PR, but maybe not as a separate blanket item since we are anticipating component conversions that would make this effort redundant.

[2018-11-30 17:32] friendbool commented on #7269
Thanks guys
I await news

[2018-11-30 17:52] Jahnp commented on #7269
For sure! Off the top of my head, it will probably require the following:

1. Modifying the website on the v5 branch to use the v6 pipeline format
1. Re-tooling the v5 build to publish the website from that branch
1. Setting up an endpoint for the v5 website to consume it
1. Setting up a v5 release to automate deployment

There's probably more involved and some details I'm missing. Will try to car

[2018-11-30 18:04] cliffkoh commented on #7269
Oh, step 1 right there is going to be a lot of work... It would unblock deployment of the dev site to aka.ms/fabricdemo though.

[2018-11-30 18:46] #7246 closed

[2018-11-30 19:22] aftab-hassan commented on #7270
@joschect This seems like a bug from using TS 3.2.1. Would you be able to take a look at this?

[2018-11-30 19:30] betrue-final-final commented on #7244
I would defer to Fluent curves for this one...also as it is data bound, not sure how that would work. The product design this is going to support first also is looking at pause button functionality inside it. We can also do fun things like make it a check at completion.
![image](https://user-images.githubusercontent.com/20363037/49310503-55b38b80-f493-11e8-88e2-a7e1d65c2fe0.png)

[2018-11-30 19:34] KevinTCoughlin commented on #7270
Er, it might be better to involve @JasonGore and @cliffkoh if they have some time. Folks, at a glance is this an incorrect typing on our end or a language feature in `typescript@3.2.1` we'll need to do more work to support.

[2018-11-30 19:52] micahgodbolt commented on #6920
@jspurlin have you had a chance to look over these? David mentioned that you might have put together an email response already?

[2018-11-30 19:59] jspurlin commented on #6920
@micahgodbolt No, I have not yet had a chance, but I've added it to my backlog and will take a look soon

[2018-11-30 20:02] micahgodbolt commented on #6920
awesome, thanks!

[2018-11-30 20:05] jspurlin commented on #6920
@micahgodbolt Ah yes, I have taken a look at these already. I'll add you to the thread

[2018-11-30 20:19] #7173 closed

[2018-11-30 20:38] KevinTCoughlin commented on #7181
I attempted to add support for this in https://github.com/OfficeDev/office-ui-fabric-react/pull/7236#issuecomment-443331847. However, as mentioned above in https://github.com/OfficeDev/office-ui-fabric-react/issues/7181#issuecomment-440825088 focus _currently_ propagates across multiple elements in this control. Adding the `onBlur` prop as-is would likely only confuse consumers of that prop.

Tagg

[2018-11-30 21:07] Jahnp commented on #7269
@cliffkoh It might not actually be that bad. I *think* we would basically just need to port the changes from #6683 to the 5.0 branch. Haven't dug much deeper than a cursory diff but I think that should do it for all future 5.x releases.

[2018-11-30 22:18] cliffkoh opened #7275 "test"
test

[2018-11-30 22:19] #7275 closed

[2018-11-30 22:38] JasonGore commented on #7270
Hmm, at a glance it may be because [`typeof createGenericItem`](https://github.com/OfficeDev/office-ui-fabric-react/blob/71c6f5a7cb3ba6a8ba64c0b5b539db3ba679ffa5/packages/office-ui-fabric-react/src/components/pickers/PeoplePicker/PeoplePicker.tsx#L65) does not match the [`createGenericItem` prop type](https://github.com/OfficeDev/office-ui-fabric-react/blob/71c6f5a7cb3ba6a8ba64c0b5b539db3ba679ffa5

[2018-11-30 22:50] natalieethell commented on #7247
Ooh look's like @aftab-hassan has this one! I'll reassign him.

[2018-11-30 22:53] KevinTCoughlin commented on #6394
The root cause of this issue is the right-most column header's drop hint is rendered outside the bounds of the `DetailsList` container which has `overflow-x: auto` (scrollbars). This occurs even when the drop-hints are hidden. Their position alone causes the browser to calculate overflow and render scrollbars.

The fix is to either:

- Move the drop-hint(s) within the container's bounds to not cau

[2018-11-30 23:17] gggjtgxing opened #7278 "Signal: does not support adding className to signal"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

https://github.com/OfficeDev/office-ui-fabric-react/blob/d0caaa94fae3456740d69d84cc4fe4fabb7eb763/packages/experiments/src/components/signals/SignalField.tsx

#### Actual behavior:

` <span className={SignalFi

[2018-11-30 23:30] gggjtgxing commented on #7097
@aneeshack4  I serve that example page from my local repo

[2018-12-01 01:03] KevinTCoughlin opened #7279 "DetailsList: Investigate ".is-horizontalConstrained" applied by default"
Investigate the default behavior of `.is-horizontalConstrained` as it applies to `DetailsList` mentioned in https://github.com/OfficeDev/office-ui-fabric-react/pull/6402#issuecomment-442693960. See the following Codepen which illustrates this: https://codepen.io/kevintcoughlin/pen/NEoPqE?editors=1010

Will investigate and report my findings here. Then take action _if appropriate_ based on findings

[2018-12-01 02:46] #7243 closed

[2018-12-01 02:47] gsbelarus commented on #7209
Ok, I will try `href` property.

Thanks!

[2018-12-01 02:47] #7209 closed

[2018-12-01 02:51] Jahnp commented on #7243
Closed by #7266.

[2018-12-01 02:57] Jahnp commented on #5874
Ok, quick update. I've expanded the usage docs in #7266 for TeachingBubble to clarify how it should be used; the changes should go live tomorrow or early next week.

After getting feedback from designers who also felt the existing animation isn't great, it sounds like we'll be able to spin some design cycles to revisit it in January. I'd prefer we improve the existing animation rather than bloat t

[2018-12-01 03:36] mikewheaton opened #7282 "Persona: Fluent theme"

[2018-12-01 03:36] mikewheaton opened #7283 "Coachmark: Fluent theme"

[2018-12-01 03:37] mikewheaton opened #7284 "Facepile: Fluent theme"

[2018-12-01 05:44] KevinTCoughlin commented on #5874
Thanks for keeping us posted @Jahnp!

[2018-12-01 19:42] betrue-final-final commented on #7138
Looks good. Pretty basic.

[2018-12-01 19:42] #7138 closed

[2018-12-01 20:13] betrue-final-final commented on #7282
The toolkit has a breakpoint from 40 > 56px.
The title and secondary text change size there from 14/12 to 20/14 respectively.
There seems to be a second breakpoint in code and uses 16/12. Is that what it's been?

[2018-12-01 21:01] elegault commented on #7208
FYI, I hope to be able to create a repro project by Tuesday

[2018-12-02 17:43] gsbelarus opened #7286 "How to use ContextualMenuItem together with React-Router Link?"
I'm trying to attach Contextual Menu to Icon Button and combine it with React Router by overriding `contextualMenuItemAs` as seen below. It doesn't work. Seems that `ContextualMenuItem` deprive `Link` component of all mouse click events.

What else should I do in order to force ContextualMenuItem work with React Router Link?

[code]

[2018-12-03 05:38] arkogupta commented on #6394
We'll have a look into it. Thanks for bringing this up.

[2018-12-03 09:11] ReeceKenney opened #7288 "CommandBar: A11y narrator doesn't read item as "selected""
Using Narrator and Edge, when navigating the command bar items, it should read selected when you focus on the selected tab. At the moment it doesn't do this.

[2018-12-03 09:55] mvahsen commented on #5728
Any news how to remove the links from the tabs of the Pivot component?
I just want to go from tab to tab via a button below and disable the links in the component.

[2018-12-03 12:08] chotkos commented on #7208
Might it be connected to thits error from image?

I've tried to create simple DetailsList as in the example available [here](https://developer.microsoft.com/en-us/fabric#/components/groupedlist)
![image](https://user-images.githubusercontent.com/6716750/49372842-3bc8b180-f6fc-11e8-812a-3b9baeb7ad44.png)

[2018-12-03 14:45] ymihir opened #7289 "Datepicker value is clearing on clicking on another control"
[DatePicker](https://developer.microsoft.com/en-us/fabric#/components/datepicker) is clearing value when I click on another control. Same thing is also happening in the examples given in the MS Docs.
Eg. Select date from date picker and select the weekday then date picker value is clearing automatically.

#### Actual behavior:
 Datepicker value is coming blank when we click on another control
####

[2018-12-03 16:33] elegault commented on #7208
I have seen something similar on a previous build of my add-in on a test server, reported by another user. I had to remove that line in order for that component to render. I can't repro on my dev PC: ![image-2018-11-28-15-01-37-657](https://user-images.githubusercontent.com/4130365/49387143-b981c280-f6e6-11e8-890c-77a6298f28b1.png)

[2018-12-03 17:38] aneeshack4 commented on #7097
@gggjtgxing This was closed by @betrue-final-final as you can see in the previous comment because it's by design. If you still have an issue please reopen and provide more information like a CodePen that repros the bug or specific steps to repro on the Fabric [documentation site](https://developer.microsoft.com/en-us/fabric#/components).

[2018-12-03 17:43] KevinTCoughlin commented on #5175
Since one can work around this with the above, we'll close this for now. https://github.com/OfficeDev/office-ui-fabric-react/issues/5175#issuecomment-435632440

[2018-12-03 17:43] #5175 closed

[2018-12-03 18:30] kkjeer commented on #7278
@gggjtgxing thank you for opening this issue! The experimental SignalField component has not yet been converted to use the `mergeStyles` utility. However, the `className` prop is applied to the root span:
[code]
so the inner span (`<span className={SignalFieldStyles.signalFieldValue}>{props.children}</span>`) can be styled using selectors. For example, if you have the following CSS rule:
[code]
an

[2018-12-03 18:57] kkjeer commented on #7286
@gsbelarus I created a codepen with ContextualMenuItems that link to some sample webpages: https://codepen.io/kkjeer/pen/EOJxXe

I passed an `href` in each item through the `items` array, and removed the `contextualMenuItemAs` prop. This example does not include React router, but I can continue to work on an example with the router. Please let me know if this method does not work for your project.

[2018-12-03 19:23] aneeshack4 commented on #7215
I think this will be resolved by this PR I currently have out & I'm working on fixing some of the regressions on Screener that include TextField & Link. You can see from the screener results that Label doesn't seem to have any more failures so it's likely been fixed already with the current PR https://screener.io/v2/states/ryQqxfIYZ.OfficeDev-office-ui-fabric-react/fabric_dependency

[2018-12-03 20:47] KevinTCoughlin commented on #7208
Does the above issue predate #7042? We did _recently_ modify our usage of _createRef_. But assuming we're using `>= react@16.3.x` it _should_ compile. cc: @khmakoto if he has any insight.

[2018-12-03 20:55] Vitalius1 commented on #7204
Removing the label `no-recent-activity` to keep the issue open 😄

[2018-12-03 21:59] ConorWuertz commented on #7039
I took another look at this and noticed that the SpinButton takes aria label props for its increment and decrement buttons. Providing those labels takes care of the Keros error. I'll close this issue out.

[2018-12-03 21:59] #7039 closed

[2018-12-03 22:00] #7207 closed

[2018-12-03 22:08] davidprejban opened #7291 "Searchbox traps focus on self when a user's input is present. Unable to 'Tab' out."
### Environment Information

- __Package version(s)__:
6.110.0
6.94.0

- __Browser and OS versions__:
Windows Server 2016 1607 build 14393.2608

Chrome 70.0.3538.110 (Official Build) (64-bit)
Firefox 63.0.3 (64-bit)
IE 11.2608.14393.0

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/davidprejban/pen/PxgZga

Steps to reproduce:
1. Open codepen link
2. Set focus first s

[2018-12-04 00:34] micahgodbolt commented on #7160
@kenotron was this a placeholder for yourself? Should we remove this issue from the shield?

[2018-12-04 00:44] micahgodbolt commented on #7291
Can confirm this bug. Looks like focus is flipping back and forth a bit.

![image](https://user-images.githubusercontent.com/1434956/49410669-996bf680-f71a-11e8-9c9d-9262ac910194.png)

[2018-12-04 03:08] kirilligum opened #7295 "clicking on the circle doesn't return button's attributes"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

 https://codepen.io/kirilligum/pen/EOJmQm

[code]

Click inside the circle. and look at the console

<p data-height="265" data-theme-id="0" data-slug-hash="EOJmQm" data-default-tab="js,result" data-user="kiril

[2018-12-04 04:05] bigbadcapers commented on #5874
@Jahnp  i shared a shortlink in the other thread about what the animation should actually look like here. Fwiw, the animation that is implemented as the transition from coachmark-to-teachingbubble seems *a lot closer* to spec. I recommend we snap to that animation first, because I fully agree with your last comment here. Thank you!

[2018-12-04 04:17] mikewheaton commented on #7282
You'll find all of the existing sizes here: https://developer.microsoft.com/en-us/fabric#/components/persona

We're not able to add/remove sizes via the theme, so I did my best to interpret the toolkit against what's in code. Could you look at the PR (#7285) and let me know if any adjustments are needed? Thanks!

[2018-12-04 04:39] mikewheaton commented on #7284
I'm not seeing any differences between the default theme and Fluent. @betrue-final-final, could you confirm and move this to the 'Approved by design' column if so?

[2018-12-04 06:20] kenotron commented on #7160
I believe Kevin's done a lot of investigative work here. @KevinTCoughlin if this isn't feasible, we may as well just close this :(

[2018-12-04 07:07] gsbelarus commented on #7286
The problem is to use ContextualMenuItem with React-Router's <Link> tag. Could you provide an example? I didn't find a way by myself and retreated to defining `OnClick` and using `history.push`. It works but it is not how it is supposed to be from React-Router's point of view.

[2018-12-04 09:09] be5invis opened #7296 "More semantic palette entry names"
I tried to make a dark theme. Components works but the palette data looks like this:

[code]

"dark" and "light" are swapped 😕.
Shouldn't they be renamed as "foreground" (for original "dark") and "background" (for original "light")?

[2018-12-04 09:20] joechung-msft commented on #7295
Did you try `ev.currentTarget.name`?

[2018-12-04 10:19] bigbadcapers commented on #5874
Hi there, I'm a designer working with Fabric and can shed some more light here. The animation on the bubble currently is not up to spec, and should be fixed. The animation is an intrinsic part of the bubble, just like it is for tooltip and for hovercard, which have animations crafted with a specific purpose in mind to present the control property and it would be a disservice to the experience to e

[2018-12-04 11:02] piyumi25 opened #7297 "How to get the selected checkbox value?"
I am trying to implement a function to get the selected checkbox value in onchange event of the check box.

this is how I create list of checkboxes
 <div className="ms-Grid" dir="ltr">
        {props.attributeList.map(item => (
          <div className="ms-Grid-row" key={item.Value}>
            <div className="ms-Grid-col ms-sm12 ms-md12 ms-lg12">
              <Checkbox
                label={it

[2018-12-04 12:05] mariantoader commented on #6951
You did not copy the example, you are extending BaseComponent, not React.Component.

[2018-12-04 12:13] ecoukraine opened #7298 "Impossible to scroll the page on iPad mini after Dialog/Modal window is closed"
### Environment Information

- __Package version(s)__: 6.95.0
- __Browser and OS versions__: iPad mini, OS - iOS 9.3.5

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
After, the office-ui-fabric-react package was updated to the 6.95.0 version,
next behaviour appears:

1. Open a web-page with content to be scrolled
2. Page can be scrolled
3. Open Dialog/Modal
4. C

[2018-12-04 15:58] micahgodbolt commented on #7160
Ah, I didn't know kevin had background on this one. Thought it just feel on his lap due to shield duty. Whatever works for you two.

[2018-12-04 16:34] Jahnp commented on #7296
Hey @be5invis , these are the "palette" colors. They're not intended to be semantic--think of them like swatches that just represent raw color values. There are [semantic "color slots"](https://github.com/OfficeDev/office-ui-fabric-react/blob/047fd78f72f2bd7ede6949ab6ac0edb371604c91/packages/styling/src/styles/theme.ts#L172) for more specific contexts (e.g. `bodyBackground`, `inputBorder`, etc) th

[2018-12-04 16:49] JasonGore commented on #6951
I changed the same CodePen to use `React.Component` and I still see `onChange` getting called in the console.

[2018-12-04 18:00] #7210 closed

[2018-12-04 18:08] kkjeer commented on #7297
Hi @piyumi25 could you please create a codepen for this issue? This would be very helpful in getting a quicker resolution. Thanks!

[2018-12-04 18:14] kkjeer commented on #7295
Thanks for the suggestion @joechung-msft. I have a codepen using `ev.currentTarget.name` that outputs "yey toggle is not checked": https://codepen.io/kkjeer/pen/vQwLbx

[2018-12-04 18:30] kkjeer commented on #7298
Hi @ecoukraine, is there a particular webpage that shows this behavior? Unfortunately I haven't been able to see a repo on our demo site for version 6.110.1: https://fabricweb.z5.web.core.windows.net/oufr/6.110.1/#/examples/modal

[2018-12-04 18:44] kkjeer commented on #7286
Hi @gsbelarus, I updated the codepen (https://codepen.io/kkjeer/pen/EOJxXe) to show usage with React-Router. Please let me know if there are any issues with this approach. Thanks!

[2018-12-04 19:38] gggjtgxing commented on #7278
@kkjeer  the problem is I have multiple spans, I don't want to override all span styles

[2018-12-04 20:08] DonniewGit opened #7300 "Accessibility: Narrator doesn't announce collapsed/expanded input states"
#### Environment Information

Application Name :Power Platform Environments List Application
Operating System: Windows 10
Browser Version Edge42

#### Please provide a reproduction of the bug in a codepen

https://codepen.io/anon/pen/JeqKZm?&editable=true#0
https://codepen.io/anon/pen/eQazjV?&editable=true#0

#### Actual behavior

Narrator does not announce expanded or collapsed state of Dropdown/

[2018-12-04 21:06] kkjeer commented on #7278
@gggjtgxing can you create a codepen showing multiple spans? Depending on your setup, CSS selectors can still be used to style the desired span (e.g. by using `:first-child`).

[2018-12-04 21:09] gggjtgxing commented on #7278
@kkjeer  if there's a beforeSignal, it's not first span

[2018-12-04 21:23] phkuo commented on #7296
There are color constants, like gray120 is always (for example) #121212. The new Fluent stuff has these. This isn't that useful to us in Fabric since everything in Fabric needs to be variable, not constant.

In the theme, there are non-semantic color variables, aka palette slots. These have names like `themeSecondary`, `neutralTertiary`, and `white`. These each hold a color, but you don't know wha

[2018-12-04 21:23] #7296 closed

[2018-12-04 21:36] kkjeer commented on #7278
@gggjtgxing if there is a beforeSignal, the `:nth-child` selector can be used (e.g. `:nth-child(2)`).

This is not an ideal way to style Fabric components, but given that this is an experimental component, I'm not sure if it will be converted to mergeStyles. I'm following up with the component owners to see if it can be updated.

[2018-12-04 21:46] gggjtgxing commented on #7278
@kkjeer , I mean beforeSignal is also optional, it's hard to tell if it's first or second child when rendering.

[2018-12-04 21:51] kkjeer commented on #7278
@gggjtgxing if you are passing a beforeSignal to the component, you can pass something like `className="signalWithBefore"` and use `.signalWithBefore > span:nth-child(2)` to style. Signals without a beforeSignal property can use, e.g. `className="signalWithoutBefore"` and `.signalWithoutBefore > span:first-child`.

Again, this is a somewhat unideal workaround, but hopefully you can achieve your de

[2018-12-04 21:56] yumikohey commented on #6470
@aleury @Vitalius1
I think we should actually have spellCheck and autoCorrect defaults to false for BasePicker, should it?

[2018-12-04 22:21] betrue-final-final commented on #7288
Can you provide a screenshot of the control in the bar you are referring to?

[2018-12-04 22:31] kkjeer commented on #7300
Thank you for opening this issue! This is currently being tracked as Bug 2 in #6326.

[2018-12-04 22:31] #7300 closed

[2018-12-04 22:47] kkjeer commented on #7291
It looks like the issue is in the callback to `setState` in `_onFocusCapture` in line [159](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/SearchBox/SearchBox.base.tsx#L159), which was introduced as a fix for #7035. I'll follow up offline to see if we can get a workaround.

[2018-12-05 00:19] kkjeer commented on #6658
@Mhbuur if you prefer, the Panel style props can be used to prevent scrolling instead of CSS:

[code]

Example codepen: https://codepen.io/kkjeer/pen/eQoZON

[2018-12-05 00:48] ecraig12345 commented on #1350
After working through this, I think the "right" change is to make the TextField follow much stricter controlled vs uncontrolled behavior similar to React's `<input>`--see the description of my PR #7187 for what all that includes. Trouble is that would *definitely* be a breaking change for the (likely many) people who are using the component incorrectly (I found quite a few examples of this within

[2018-12-05 00:50] ecraig12345 commented on #5326
Looked at this some more and I don't see an easy way to combine `onChange` with the existing event handlers while preserving the current behavior. I may follow an approach similar to what I did for TextField in #7187 where the new behavior is opt-in--though in this case, rather than using a flag, you might opt in just by providing `onChange`.

[2018-12-05 01:00] #7227 closed

[2018-12-05 01:00] #7150 closed

[2018-12-05 02:28] LevnLime opened #7303 "Panel: When IsHiddenOnDismiss is true, Focus does not automatically enter Panel and is not returned when Panel is dismissed"
### Environment Information
- __Package version(s)__: 6.110.1
- __Browser and OS versions__: should repro in all browsers

### Please provide a reproduction of the bug in a codepen:

1. Go to the [Panel Example Page](https://fabricweb.z5.web.core.windows.net/oufr/6.110.1/#/examples/panel)
2. Using the keyboard, TAB all the way to the "Open Panel" button under the "Panel - Hidden on Dismiss" sectio

[2018-12-05 03:35] piyumi25 commented on #7297
thank you very much for your reply and it works for me.

[2018-12-05 03:35] #7297 closed

[2018-12-05 05:17] ThomasMichon commented on #7278
@gggjtgxing The purpose of `SignalField` and `Signal` is to enforce standardized representation of the signal icons, colors, and alignment. So we want to be careful regarding our support for style overrides here. I would avoid using specialized selectors to override styles, as they are likely to break without warning in a subsequent update. Note that this is still in 'experiments', so no guarantee

[2018-12-05 08:38] tpanpalia opened #7305 "Office UI Fabric ReactJS Dropdown Accessibility issue"
I am using Office UI Fabric Dropdown in ReactJs. I am testing the application for accessibility issues using Keros for Web.

It is showing this issue for dropdowns:
[code]
I searched for some answer and all I got is "Ensure the value inside each attribute is spelled correctly and corresponds to a valid value.", but I could not find a solution to this.

[2018-12-05 09:46] KevinTCoughlin commented on #7305
Thanks for the report @tpanpalia

It looks like the fix is to find the missing `#` and  validate that the DOM node exists to be referenced. Nice catch if valid, I haven't confirmed.

As per the ARIA spec:

[2018-12-05 10:36] oozoo-solutions commented on #6951
I'm getting the same issue for the last two days in an SPFx WebPart

SPFx version 1.7.0

[code]

It exhibits the same behaviour as above; onBlur and onFocus are called but onChange is never fired.

This is both on a locally hosted workbench or the tenant hosted one.

The codepens work fine but not when it's actually in an SPFx webpart.

[2018-12-05 10:51] KevinTCoughlin commented on #6951
Hmm.. I believe SPFx recently rolled-out a new version. I have not had a chance to investigate, but perhaps we're speaking about a difference in OUFR versions if the problem does not occur here on `master`.

[2018-12-05 11:08] oozoo-solutions commented on #6951
onChanged event still works, I'll have to use that for now as it's stopping me working otherwise.

Interestingly as well, when you copy the code from https://developer.microsoft.com/en-us/fabric#/components/dropdown, the signature for the onChange handler shows a TS error. So when using the following from the docs above

[code]

You get the following error when assigning this to onChange:
[code]

[2018-12-05 13:53] kalyany1 commented on #6951
Nearly a month back, when I had noticed that 'onChange' is not firing, I have to use onChanged (deprecated) which worked for me. But, in a long term perspective this will be an issue.

[2018-12-05 17:04] elegault commented on #7208
@KevinTCoughlin is that addressed to me?

[2018-12-05 17:57] kirilligum opened #7307 "How to conditionally change a color of a row in detailslist?"
https://stackoverflow.com/questions/53623294/how-to-conditionally-change-a-color-of-a-row-in-detailslist

(I want to leave this here for future users that want to customize the rows. it's basically related tip/example on how to use )

[2018-12-05 17:58] #7307 closed

[2018-12-05 17:58] kirilligum commented on #7307
the question was ansered in stack overflow

[code]

[2018-12-05 18:12] #7258 closed

[2018-12-05 20:17] Vitalius1 opened #7309 "Documentation not parsing entirely some enums"
### Environment Information

- __Package version(s)__: latest
- __Browser and OS versions__: all

### Please provide a reproduction of the bug in a codepen:

When running locally or directly on the demo website the documentation parser does not output all the enums values when they are strings as opposed to numbers. One good example is here:
https://github.com/OfficeDev/office-ui-fabric-react/blob

[2018-12-05 20:19] Vitalius1 commented on #7309
@aftab-hassan you just had a PR merged with some fixes in that area. Would you mind taking a quick look?

[2018-12-05 20:22] Vitalius1 commented on #7309
@micahgodbolt not sure about the plans on re-doing the Implementation section mentioned in #6780, so if the plan is to drop the usage of the current parser in favor of the api-extractor and TSDoc, feel free to close the issue.

[2018-12-05 20:28] Vitalius1 opened #7310 "TagItem: Fluent theme"

[2018-12-05 20:33] Vitalius1 commented on #5411
Starting to take one by one of the components in the pickers folder and convert them as it's blocking the progress of the fluent project

[2018-12-05 21:49] TCambre commented on #6646
Is there a status update on bug #3 -  Column sorting information is not announced by screen reader?

[2018-12-05 22:36] thechriskent opened #7312 "Rating icon property is completely ignored"
### Environment Information

- __Package version(s)__: 2.6.1 (although this appears to be true in the latest as well)

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/thechriskent/pen/jQjZvR

#### Actual behavior:

Setting the `icon` property of the Rating control has no effect. The default value is supposed to be `FavoriteStar` but is actually `FavoriteStarFill`

Yo

[2018-12-05 22:57] kkjeer commented on #7305
It looks like the dropdown is getting assigned an `aria-labelledby` attribute even when there is no label. @tpanpalia which version of Fabric are you using? #6555 (included in version 6.78.0) ideally should have fixed this by changing [line 229](https://github.com/OfficeDev/office-ui-fabric-react/blob/09f1011e7355358023bb8ec712defbe62f786475/packages/office-ui-fabric-react/src/components/Dropdown/

[2018-12-05 23:09] kkjeer commented on #7312
Thanks for reporting this, @thechriskent!

[2018-12-05 23:19] micahgodbolt commented on #7056
@rexkenley can you possibly recreate this issue in a codepen? I want to make sure I fully understand the ask.

Also, have you looked into the layer hostId prop? Will this solve your issue? https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/Layer/Layer.types.ts#L50

[2018-12-05 23:31] natalieethell commented on #6646
@TCambre from my understanding, it looks like we'll have to add an aria-live region to get the desired behavior. As Kevin mentioned above, the official ARIA example with aria-sort does not announce by screen reader either.

The new Announced component we've been working on will be really helpful to use here. It's currently in experiments, but we're hoping to get that out to the office-ui-fabric-re

[2018-12-05 23:37] micahgodbolt commented on #5419
@khmakoto sorry...didn't mean to say close this, but update it and have your PR close it via updating the "Fixes #0000" part

[2018-12-06 01:35] #6470 closed

[2018-12-06 02:00] #7239 closed

[2018-12-06 03:35] dzearing commented on #7215
The `Fabric` component right now is not a very reliable way to provide themed fonts. The issue we have had is that people often do not include it, and then wonder why some things (not all) are rendered in Times New Roman.

To mediate, we wanted to make sure all components render the themed font, regardless of using the `Fabric` component. You can override the default fonts through the theme using

[2018-12-06 03:36] dzearing commented on #7215
Let us know if that helps, if you have more questions. :)

[2018-12-06 03:40] dzearing commented on #7215
I've updated your sandbox to use the inherit fontFamily, as you were doing before:

https://codesandbox.io/s/lyo543j2r7

[2018-12-06 04:03] cliffkoh commented on #7253
I plan to work on developing a fix for this tomorrow. Already opened an issue for this in Rush.

[2018-12-06 05:04] Vitalius1 commented on #7310
Currently blocked by the need to convert to CSS-in-JS pickers in #5411

[2018-12-06 07:05] lijunle commented on #5326
I suppose the request a `onChanged` callback. I don't want my customized increment/decrement/validate logic, but I want to access the valid value after increment/decrement/validated.

Currently, I am almost duplicating all logic in `_defaultOnIncrement`/`_defaultOnDecrement`/`_defaultOnValidate` to make the parent component manages the value.

[2018-12-06 07:37] keerthinathganjam opened #7314 "Any example for using redux-form fields"
Any Example for using redux-form using office facric controls, similar to this

https://redux-form.com/6.7.0/examples/material-ui/

[2018-12-06 12:15] tpanpalia commented on #7305
Using Fabric version `6.39.2`. No, I am not passing `label` property to the Dropdown component. But it does have `Label `component with it.

[2018-12-06 12:42] betrue-final-final commented on #7284
Overflow buttons just need to use the right grays.

[2018-12-06 13:22] Rafaelki opened #7315 "Dropdown defaultSelectedKey doesn't work when options are loaded async"
#### Reproduction of the bug in a codepen:

<https://codepen.io/rafaelki/pen/gQVPQM>

#### Actual behavior:
When the options of the combo are provided asynchronously (from the state), the default option is not selected by using defaultSelectedKey (uncontrolled).
Using selectedKey (controlled) the combo shows the right selected value.

 #### Expected behavior:

After setting the state and re-render

[2018-12-06 18:33] kkjeer commented on #7305
Thanks for the information @tpanpalia! Could you try updating to Fabric 6.78.0 or later? Alternatively, passing a `label` property to the Dropdown component should prevent the Keros issue.

The reason that the Dropdown does not have a valid `aria-labelledby` attribute is that it is looking for the Label component with an id of "usercountryRegion-label". If the Dropdown has a `label` property, then

[2018-12-06 18:42] cliffkoh commented on #6767
test

[2018-12-06 18:46] cliffkoh commented on #6767
test

[2018-12-06 20:40] cliffkoh commented on #7315
Thanks for reporting this and providing a codepen repro.

[2018-12-06 20:40] kkjeer commented on #7314
Hi @keerthinathganjam, we do not currently have examples with redux-form. Based on the example that uses material-ui, something like this should work:

[code]

In addition to GitHub issues, our [StackOverflow](https://stackoverflow.com/questions/tagged/office-ui-fabric) page is a good resource for questions.

[2018-12-06 21:08] rexkenley commented on #7056
Hi Micah,

Yes I did look at the hostid, the only problem is that it is tied to the current document.

Basically in Crm365, webresources are rendered inside a frame. This limits any "modal surface" rendering to just inside the frame. It would be great if I can pass the parent DOM object that hosts the frame and then the "modal surface" can render beyond its containing frame.

Something like this,

[2018-12-06 21:16] curtisrutland commented on #3945
Has there been any motion on this? My thoughts are, if you accept an icon as an input, you should render that icon.

[2018-12-06 21:48] katshew opened #7318 "Custom Dropdown onRenderList has aggressive setFocus in Chrome"
### Environment Information

- __Package version(s)__: 6.90.0
- __Browser and OS versions__: Chrome Version 71.0.3578.80 (Official Build) (64-bit)

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/katshew/pen/aQeKNg

#### Actual behavior:

Aggressive scroll to top behavior when attempting to override the onRenderList function on a dropdown. Does not seem to occur in F

[2018-12-06 22:01] kkjeer commented on #7303
@LevnLime thanks for opening the issue and providing a detailed explanation.

I've been looking through FocusTrapZone and I don't see any issues that could result from this fix. @dzearing is there someone more familiar with FocusTrapZone who could could provide more definitive guidance here?

[2018-12-06 23:31] KevinTCoughlin commented on #7253
I commandeered this from Cliff to get my "feet wet" with Rush. See the above linked issue for discussion and _eventual_ implementation.

[2018-12-06 23:41] KevinTCoughlin commented on #7318
Unrelated, but that's an awesome OneDrive/SharePoint URL.

[2018-12-06 23:43] #7291 closed

[2018-12-06 23:51] kkjeer commented on #7035
Reopening since #7319 was reverted in order to fix #7291. This issue will likely require a larger refactor.

[2018-12-07 00:15] #7282 closed

[2018-12-07 01:32] dzearing commented on #7056
This is projection to another popout? Like new mail in OWA?

Trying to understand what the css requirement is. Project all rules over to the other frame?

[2018-12-07 02:16] dzearing commented on #6149
hrm.. sorry for the delay, this issue got lost on everyones'  radars. Trying to repro right now.

[2018-12-07 03:30] dzearing commented on #6149
@micahgodbolt this has nothing to do with glamor... it's very easy to repro, just by adding a test that uses the serializer:

[code]

[2018-12-07 03:49] rexkenley commented on #7056
Hi Micah,

That is correct. Currently I am using a workaround utilizing react-portal(https://github.com/tajo/react-portal). It has a "node" prop that I pass the parent DOM. I had to re-render the entire thing because react-portal doesn't seem to bring the necessary css for the ui elements.

[2018-12-07 03:55] rexkenley commented on #7056
Hi David.

Yes. Using this image as example, imagine the columns are the iframes (menu, emails, selected email view). I want to be able to display a dialog box across frames like the context menu and not be limited to the origin iframe borders.

As I mentioned before I tried react-portal, but it has issues with delivering the css to the "main" window. I tried linking the css to the main page but t

[2018-12-07 05:39] KevinTCoughlin commented on #6019
@chakradhar2 can you please provide more context as per our "Bug" template which this _looks_ to be? Primarily which browser(s) and version(s) of OUFR are affected. Bug template below.

[code]

Doing so will help the team and myself diagnose and provide a fix once confirmed for the affected version(s) of OUFR. Thank you.

[2018-12-07 05:50] KevinTCoughlin commented on #7212
@Taerarenai, thank you for providing the above rationale, however given the current complex Picker API surface (particularly w.r.t naming) I'm hesitant to add this inverse method. I believe it may lead to more confusion than the utility it provides. Particularly because it conflicts with the true implementation of `onItemSelected` as @joschect described above.

What I would recommend is to use the

[2018-12-07 05:50] #7212 closed

[2018-12-07 05:51] venuprasadnaik opened #7327 "Use DatePicker to select just a month"
This is the sample work I have done

export interface IDatePickerRequiredExampleState {
  monthOfYear?: MonthOfYear;
}

export class MonthPicker extends React.Component<{}, IDatePickerRequiredExampleState> {

  constructor(props: {}) {
    super(props);

    this.state = {
      monthOfYear: MonthOfYear.January,
    };
   public render(): JSX.Element {
      const { monthOfYear } = this.state;

[2018-12-07 05:55] cliffkoh commented on #7303
I consider @bworline and @dagoff FocusTrapZone experts - they've done a lot of work in understanding/tweaking FocusTrapZone behavior in the past.

[2018-12-07 05:57] cliffkoh commented on #7303
@LevnLime , the focusStack is from @dagoff. You can chat with him about the nuances regarding that.

In theory, between the unit tests and visual regression tests, there should be enough test coverage to protect you against unintended mistakes.

[2018-12-07 06:04] cliffkoh commented on #7309
This is because when the enumParser was written, string enums were not a thing.

This will be fixed by @natalieethell's work integrating @pgonzal's API Extractor 7 and tsdoc.

[2018-12-07 06:07] cliffkoh commented on #7318
Thank you for the codepen repro and the video recording :)

[2018-12-07 08:00] sonimishra opened #7329 "[Functional- Power Apps Admin - Table] No horizontal scroll bar is present to scroll page horizontally with mouse on DATA integration screen.."
- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:
 Repro Steps:
1.  Navigate to https://admin.powerplatform.microsoft.com/ext/DataIntegration  and login with intusr.
2. Navigate to the Data Integration menu item on the left bar and select it.
3. Navigate on the controls of data integratio

[2018-12-07 08:19] sonimishra opened #7330 "[Screen Reader - Power Apps Admin - Projects Tab - Sorting] Narrator is not announcing the sorting functionality information on the column header of the table under Select a Template blade."
<!-- 🚨 STOP 🚨 𝗦𝗧𝗢𝗣 🚨 𝑺𝑻𝑶𝑷 🚨

We’re here to help, but we need a few things from you!

Please provide a reproduction of the bug in a codepen, if possible. Here’s how:
User Experience:
If, the Screen reader is not announcing the sorting functionality information on the column header of the table, then the users who depends upon Screen reader for navigation might get affected and does not able to perf

[2018-12-07 08:38] aftab-hassan commented on #7225
@tacambridge Could you please help confirm if the behavior above is expected. I do have a fix for the requested behavior in this [PR](https://github.com/OfficeDev/office-ui-fabric-react/pull/7331), however, based on the comment @KevinTCoughlin linked to, the behavior looks like expected.

[2018-12-07 09:38] hrc7505 commented on #7206
One more thing related with checkbox selection you can see in the same [Codepen example](https://codepen.io/hardik-chaudhary/pen/dQdgWq)
Two different behaviors :

-------------(1)--------------
1. Select all records with from the check mark of  header.
2. Now click on add record button.
3. Newly added record comes selected by default! (it should not be selected and also all check mark from header

[2018-12-07 13:07] ReeceKenney commented on #7288
@betrue-final-final Sure! We have used the component in a calendar as a way to change views:
![image](https://user-images.githubusercontent.com/5323490/49649448-7a76a880-fa29-11e8-8b13-0fbf62ee00af.png)

[2018-12-07 16:34] micahgodbolt commented on #7056
Portal appears to be the same thing as the Fabric Layer, moving DOM into a second top level node. I don't believe this will help you get outside of an iframe. You would need support from the parent application to be able to render anything that goes outside of that frame.

[2018-12-07 17:36] aftab-hassan commented on #7247
Mark this issue as _Resolution: By Design_. Upon submitting this [PR](https://github.com/OfficeDev/office-ui-fabric-react/pull/7277) to match the requested behavior, found tests (the ones that are failing) that were written with the original behavior as expected.

@betrue-final-final's response [here](https://github.com/OfficeDev/office-ui-fabric-react/pull/7277#issuecomment-444366506) confirms th

[2018-12-07 17:56] aftab-hassan commented on #7247
@skhule1984 Thanks for submitting this. We have confirmed that the current behavior with looping is by design.

However, in order to get the behavior you were expecting, here is a possible fix. The fix is to check if the distance of the element from the center is a large value, LARGE_DISTANCE_FROM_CENTER, signifying no element to move to.

[Here](https://github.com/OfficeDev/office-ui-fabric-react

[2018-12-07 18:48] yumikohey opened #7335 "Android: After updated a date from calendar, it reads weird strings."
### Environment Information
Android Version : 8.1.0
Android: Nexus 6 & Pixel 2 XL

### Please provide a reproduction of the bug in a codepen:
This is an accessibility bug.
If you open Fabric's Date Picker component from sample [website](https://developer.microsoft.com/en-us/fabric#/components/datepicker) via an Android phone, you will be able to repro the issue to have talkback on.

After it says

[2018-12-07 19:56] Vitalius1 commented on #7309
@natalieethell If you think this issue is sorted out as part of API Extractor and TSDoc integration work, feel free to close it. Or leave it open for tracking purposes. I will leave it to you 😄 to decide.

[2018-12-07 21:58] #7305 closed

[2018-12-07 22:08] dzearing commented on #7269
Sure thing. Closing the issue, given you can access the branch.

[2018-12-07 22:10] pgonzal commented on #7309
What do these enum definitions look like in the .d.ts file? API Extractor does not look at the .ts source files.

[2018-12-07 22:12] yumikohey opened #7336 "[Accessibility] Narrator doesn't read `loadingText` if there is no item found from BasePicker."
### Environment Information
Edge browser.

### Please provide a reproduction of the bug in a codepen:
 https://developer.microsoft.com/en-us/fabric#/components/pickers
![image](https://user-images.githubusercontent.com/3360621/49675277-cd506000-fa29-11e8-8e34-3edc1e068167.png)

#### Actual behavior:
When there is no item found, the `props.loadingText` is not being read by narrator.

#### Expected

[2018-12-07 22:13] kkjeer commented on #7330
Hi @sonimishra, please fill out the bug template including a codepen, the affected Fabric component, Fabric version, actual behavior, expected behavior, and other relevant information (browser, browser version, etc.). Codepens are especially valuable for us to appropriately triage and investigate the issue. Thanks!

[2018-12-07 22:19] cliffkoh commented on #7309
The right thing. :)

[code]

[2018-12-07 22:37] kkjeer commented on #7327
Hi @venuprasad3, it doesn't look like the DatePicker component currently supports this behavior. I can add it to our backlog review to see if we will implement this feature.

I don't know if this suits your scenario, but the [Dropdown](https://developer.microsoft.com/en-us/fabric?example=#/components/dropdown) component can be used to allow the user to select a month.

@micahgodbolt some informati

[2018-12-07 22:40] pgonzal commented on #7309
Cool, then yeah this will be fixed when API Extractor docs are turned on.

[2018-12-07 22:41] kkjeer commented on #7335
Hi @yumikohey, thanks for opening this issue! Currently we offer support for Narrator and JAWS. If you are familiar with Android screen reader and you'd be willing to create a pull request to fix this issue, we would be happy to review and merge your pull request.

[2018-12-07 22:59] TestAccessibilityGIT opened #7338 "TextField A11y Pass"
Tracking all of the issues brought up with the 12/6 accessibility pass on TextField control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B791f6669-085c-48de-a524-cf9ead8edf0d%7D&action=default&uid=%7B791F6669-085C-48DE-A524-CF9EAD8EDF0D%7D&ListItemId=1599&ListId=%7B395E1ECB-5002-44

[2018-12-07 23:14] micahgodbolt commented on #7338
I think when these come in we've kept them assigned to the shield dev to work on, in hopes to spread the work out.

[2018-12-07 23:36] yumikohey commented on #7336
@kkjeer exactly! That's what I saw from the code base, too :)

[2018-12-08 00:12] KevinTCoughlin commented on #7329
@sonimishra thank you for reporting this. In order for us to triage this appropriately I require additional information to login for the debug scenario. I can't login, nor do I see the issue with my own User account because the list is not rendered.

Can you or someone contact me with more complete login instructions to debug the above?

Also, as per our "Bug" issue template, the following informa

[2018-12-08 00:51] #7315 closed

[2018-12-08 01:11] #7312 closed

[2018-12-08 15:20] gbminnock opened #7341 "Should Coachmark render on ComponentMount?"
Apologies if I have categorized this incorrectly as I am not sure if I have misunderstood the purpose of Coachmark or I am using it incorrectly.

---
Requirement: Load the coachmark once the component has mount (without any user interaction).

In the sample below I load a button and want the coachmark to show once rendered. I cannot seem to get it to render at all.

[Codepen](https://codepen.io/gb

[2018-12-09 01:33] kirilligum commented on #7295
Works. thank you!

[2018-12-09 01:33] #7295 closed

[2018-12-09 17:31] JosephDavis commented on #5655
This issue should be closed. The given example is using an incorrect property name (`constraintMode` instead of the valid `constrainMode` property) and thus is not seen by the `DetailsList` component.

[code]

The component behaves as expected when adjusted to use the property name detailed in the documentation. Here is a fork of the provided example with the above change: https://codepen.io/josep

[2018-12-10 06:16] piyumi25 opened #7344 "How do I get the text field id in onchanged event?"
this is my texfield and I need to get the text field id in onchanged event.

<TextField
                  className={labelTxt}
                  label={item.Label + " : "}
                  key={index}
                  required={item.IsMandatory}
                  id={item.FullyQualifiedname}
                  onChanged={this.onTextFieldChange}
                />

onTextFieldChange = (ev) => {
co

[2018-12-10 06:45] #7344 closed

[2018-12-10 07:41] sonimishra commented on #7329
@KevinTCoughlin Hi, Please let me know your availability timings on skype so that i can ping you login credentials or you can ping "v-rads@microsoft.com"  during "0900 to 1800 IST" .

[2018-12-10 07:48] sonimishra commented on #7330
@kkjeer Hi, I am not able to update my bug details under "Description" section. Please find all bug details below :
**User Experience:**
If, the Screen reader is not announcing the sorting functionality information on the column header of the table, then the users who depends upon Screen reader for navigation might get affected and does not able to perform its function properly on the table.

MAS

[2018-12-10 09:10] gsbelarus commented on #7286
Problem is not solved.  Try your example and you will see that menu commands don't work. For example, try to switch to Profile... page.

I think, the problem here is that `<ContextualMenuItem>` stopping propagate mouse clicks up to outer `<Link>` component.

[2018-12-10 09:55] v-pekuma opened #7345 "SpinButton: [keros bug]: aria-label attribute does not exist or is empty, when passing aria label through spinbutton prop"
### Environment Information

- __Package version(s)__: 6.46.0
- __Browser and OS versions__: chrome and windows 10

### Please provide a reproduction of the bug in a codepen:
 https://codepen.io/anon/pen/roNQLg

#### Actual behavior:

we have a keros issue for spin button control: aria-label attribute does not exist or is empty.
By adding aria label to SpinButton, aria label added to outer div of

[2018-12-10 11:02] piyumi25 opened #7347 "How do I get the element id of the date picker element at the onSelectDate function?"
<DatePicker
                className={labelTxt}
                label={item.Label + " : "}
                //className={dateTxt}
                strings={DayPickerStrings}
                showWeekNumbers={true}
                firstWeekOfYear={1}
                showMonthPickerAsOverlay={true}
                placeholder="Select a date..."
                ariaLabel="Select a date"

[2018-12-10 11:41] jonathanhotono opened #7348 "Allow to open double panel?"
I have a button inside a panel that opens a secondary smaller panel. When secondary panel opens it closed out the first panel. How do I make first panel still remains open after secondary panel is closed?
Update:
I made the first panel container to xLarge while the second one is slightly smaller:
![image](https://user-images.githubusercontent.com/6864547/49731392-4c19f700-fccf-11e8-89cc-c089f4ed1d

[2018-12-10 12:11] jonathanhotono commented on #7348
Closing. Sorry found the issue. It's because there is a React unmount method being called on one of the component.

[2018-12-10 12:11] #7348 closed

[2018-12-10 14:32] PvanHengel opened #7349 "TagPicker autosuggest on safari/mac"
### Environment Information

 "office-ui-fabric-react": "^5.51.0",
Microsoft Word Version 16.16.2 (180910) for mac
macOS High Sierra Version 10.13.6
Safari version 11.1.2 (13605.3.8)

#### Actual behavior:

As a user types and searches for a suggestion option, the auto correct fields display, and breaks the arrow functionality of being able to move up and down.

![image](https://user-images.github

[2018-12-10 16:31] #7318 closed

[2018-12-10 18:02] PvanHengel commented on #7349
I think this may be fixed in a recent PR

https://github.com/OfficeDev/office-ui-fabric-react/issues/6470

https://github.com/OfficeDev/office-ui-fabric-react/pull/7301

[2018-12-10 18:15] #7349 closed

[2018-12-10 18:16] kkjeer commented on #7286
![commandbaritem-reactrouter](https://user-images.githubusercontent.com/6687333/49752229-9914b380-fc64-11e8-9d1b-d99382087c99.gif)

@gsbelarus which browser are you using? The above shows the codepen behavior in Chrome.

[2018-12-10 18:23] kkjeer commented on #7330
@sonimishra thanks for the updated information! Unfortunately I am not able to log in with the intusr account. Could you create a codepen that demonstrates this issue?

[2018-12-10 18:29] gsbelarus commented on #7286
Indeed, it works in Chrome and doesn't work in latest Firefox 63.0.3. Seems like a bug on their side.

But there is still a problem even in Chrome. Dropdown menu is not closing after user have selected item. It remains on screen until user clicks somewhere outside of it.

[2018-12-10 18:47] kkjeer commented on #7286
I updated the codepen to use the `onItemClick` property. From our [documentation](https://developer.microsoft.com/en-us/fabric?example=#/components/contextualmenu): "Click handler which is invoked if onClick is not passed for individual contextual menu item. Returning true will dismiss the menu even if ev.preventDefault() was called."

The dismiss behavior works as expected without `onItemClick` w

[2018-12-10 19:51] Vitalius1 commented on #7254
In [this recording](https://gyazo.com/854700adbe956461d0decb36ed8de93d) you can see a flashing of the selected page in the middle. If this is a part of the default button visual effect, we might wanna look into giving it a smoother fadeout of some sort (perhaps a CSS transition). @betrue-final-final what do you think on that? Should we smooth out the flashing of the background or remove it complet

[2018-12-10 20:03] khmakoto commented on #7347
Could you provide a more detailed description of what you intend to achieve as well as a codepen of what you have so far?

Thank you.

[2018-12-10 21:05] #6394 closed

[2018-12-10 21:52] khmakoto commented on #7341
The reason why `Coachmark` does not render on component mount is because it still doesn't have access to its `target` since the DOM is not loaded yet. Therefore, `target` is `null` at the time `PositioningContainer` is rendered, `opacity` is 0 and the `position` is not set. A workaround for this (not the best solution but a simple one for demonstration) is to set a timeout in `componentDidMount` a

[2018-12-10 21:58] natalieethell commented on #6019
Yep, this is fixed for Narrator! There's an [issue assigned to me for fixing it in JAWS](https://github.com/OfficeDev/office-ui-fabric-react/issues/7123).

Here's what the Narrator output looks like for the [DetailsList Basic Example](https://developer.microsoft.com/en-us/fabric#/components/detailslist/basic):

**<mark name="0 Id:6"/>non-selected, read-only, Column Header Name,, Column <say-as int

[2018-12-10 22:01] dagoff commented on #7303
The focusStack was added to deal with a problem that can result when multiple focus trap zones are on the page. In short, they will start fighting for focus and it gets ugly. The idea of the focusStack is that only the most recently added FocusTrapZone (ie, the one at the top of the stack) should be trapping focus.

I can see two possible solutions:

(1) Change the semantics of FocusTrapZone so th

[2018-12-10 22:42] jspurlin commented on #7217
Bug 1: [Accessibility][Keyboard Navigation]: 'Required aria' attribute must be provided for the 'Spin Button with custom implementation' spin button.
	Why does this need aria-required? It doesn't require user input before something can be submitted...

 Bug 2: [Accessibility][Programmatic access]: 'Up/down' Buttons must have discernible text.
	They have programatic access to that functionality via

[2018-12-10 23:06] elegault commented on #7208
Sooo...it's now resolving. I don't know why or what changed. All I did was create a second instance of WebStorm and a new React project from the Yo Office generator, and verified that componentRef was indeed resolving. The error was still occurring in the other loaded project, but at some point after analyzing types files and doing file diffs to look for clues I noticed that the error stopped occu

[2018-12-10 23:40] kwilkins commented on #6315
I'd also like to report I'm seeing the same issue on an android phone too, so seems to be effecting all mobile devices? Blocking the scroll events to just the .scrollableContent doesn't let me create a header within the content of the a dialog component and let me scroll a list below it.

broken: https://codepen.io/anon/pen/GPgOKj
working: https://codepen.io/anon/pen/XoJeME

This also prevents us

[2018-12-10 23:54] LevnLime commented on #7303
Ok, I chatted with David, and I think my concern with the focus stack is alleviated.
However, if we go with this fix of adding a "disabled" property, does it make sense from a design standpoint to have ALL of these properties?
* disabled
* forceFocusInsideTrap
* isClickableOutsideFocusTrap

[2018-12-11 01:05] natalieethell commented on #5386
The promotion of Text to the office-ui-fabric-react package is just waiting on some theming work, which should hopefully be covered in [this PR](https://github.com/OfficeDev/office-ui-fabric-react/pull/7325).

[2018-12-11 01:35] KevinTCoughlin commented on #6676
I'm going to mark this as "Needs: Author Feedback" to be closed by the bot unless we feel strongly that an _additional_ prop is ideal for hiding the group count. Given the expansive props API for these controls (DetailsList, etc.), I think its reasonable to suggest using `styles` here.

[2018-12-11 03:12] piyumi25 commented on #7347
here I am creating date fields in a loop. So to identify each element I need to get the id of the element.

[2018-12-11 04:50] khmakoto commented on #7347
Can you provide a codepen with the code you have so far so that I can better see exactly what you want?

[2018-12-11 05:04] BrendanMcK commented on #6944
I don't understand this bit - why don't outline / borders / inset box-shadow work in HC mode? Can't you just re-state the style in terms of `Window`/`WindowText` within a HC media query?

[2018-12-11 06:10] KevinTCoughlin commented on #7208
@elegault, I've confirmed that `IDetailsList#focusIndex` works in the following Codepen, https://codepen.io/kevintcoughlin/pen/pqvOxg.

I believe `IDetailsList#focusIndex` in https://codepen.io/elegault/pen/YRJxmK is not working due to the following:

1. The `onClick` which invokes `focusIndex`, is losing context of `this` and requires a `.bind(this)` or `=>` otherwise `this._root` member is `unde

[2018-12-11 06:35] KevinTCoughlin commented on #5655
Thank you for the solution @JosephDavis. @sumboxcar182 does the above work for you?

[2018-12-11 08:00] #7289 closed

[2018-12-11 11:34] sumboxcar182 commented on #5655
Hello!

Thank you @JosephDavis and @KevinTCoughlin for following up on this! I am completely embarrassed that there was a typo in that repo!

So i found that if i switched the fabric version back to 6.25.0 and then tried to replicate it with the typo fixed the defect would still happen. However on the latest version it is fixed and i think it might've came from pr #7060 so I'm going to close this

[2018-12-11 11:34] #5655 closed

[2018-12-11 15:02] micahgodbolt commented on #7056
@rexkenley is there any chance you can repro this in a codepen? I haven't ever seen this library work, so it's hard to guess what is happening.

[2018-12-11 15:08] betrue-final-final commented on #7284
@mikewheaton, just need to change the grays to the Fluent ones and we're good here.

[2018-12-11 16:22] zbrox commented on #6951
I'm using this for an Office Online add-in and I observe the same behaviour.

[2018-12-11 16:50] aftab-hassan commented on #7225
@siddarthkanted while we're waiting to hear back on whether the behavior you reported is by design, here are a couple suggestions in the interim.

1. Use the fix from this [PR](https://github.com/OfficeDev/office-ui-fabric-react/pull/7332/files) and modify `Panel.base.tsx` to not dismiss the panel

[code]

2. Along with the props that you pass to the Panel, also pass in an undefined callback `onOu

[2018-12-11 17:59] Jahnp commented on #7140
Hi @jsedlak , apologies for the delay--forgot to follow up here.

I've added `SignIn` to the [Fabric icons tool](https://aka.ms/uifabric-icons), so if you're using a custom icon subset, you can pick it up from there for now until it's added to the default set:
![image](https://user-images.githubusercontent.com/307118/49819744-08ed7180-fd2b-11e8-95e8-6a5034d1e30b.png)

[2018-12-11 18:31] betrue-final-final commented on #6576
The check box could be disabled, which makes it non-navigable, or hidden, which is also non-navigable.

[2018-12-11 18:42] natalieethell commented on #6019
If you are no longer experiencing this issue, @chakradhar2, feel free to close it! It should have been fixed in Narrator (as a result of these two PRs: https://github.com/OfficeDev/office-ui-fabric-react/pull/5925, https://github.com/OfficeDev/office-ui-fabric-react/pull/5190) and we have a [separate issue tracking the JAWS behavior](https://github.com/OfficeDev/office-ui-fabric-react/issues/7123)

[2018-12-11 19:15] KevinTCoughlin commented on #7206
I have a fix for the original issue reported here where `Selection#isAllSelected()` is not respected when rendering the component. Raising a PR momentarily.

[2018-12-11 20:37] BrendanMcK commented on #6944
Restating the styles within a HC media selector (using the HC theme colors) is exactly the way to address this.

Having clipping in HC mode would be continued and accessibility bug in its own right. HC users want good focus outlines too!

My take is that this is non-trivial: the problem is that HC mode's default processing essentially ends up ignoring all of your theming styles. The only way to ge

[2018-12-11 21:11] natalieethell commented on #5162
Update: I have a PR out that should hopefully fix the issue!

[2018-12-11 21:14] jsedlak commented on #7140
Thank you - shall we close now or wait for it to be added to the default set?

[2018-12-11 21:32] khmakoto commented on #7341
Ideally yes, the Coachmark should be used in conjunction with a user interaction to draw attention to the target, which is the way in which the component was designed. It can be, however, tweaked to perform on page/screen load as said before. In the end it all depends on how you want to use it and if it makes sense to use the component that way :)

[2018-12-11 21:57] KevinTCoughlin commented on #7208
Glad to hear 😃!

[2018-12-11 21:57] #7208 closed

[2018-12-11 22:37] LevnLime commented on #7303
I felt uncomfortable adding a new "disabled" property next to those existing properties (forceFocusInsideTrap and isClickableOutsideFocusTrap), so I'm approaching the fix in a slightly more contained way. I'm adding logic so that when forceFocusInsideTrap transitions from false -> true, perform the logic of bringing focus in. Also, when forceFocusInsideTrap transitions from true -> false, perform

[2018-12-11 23:32] #7206 closed

[2018-12-11 23:43] natalieethell commented on #6024
Hey @chakradhar2 thanks for submitting this issue! I just tested out the behavior using Narrator + Edge, NVDA + Chrome, and NVDA + Edge, and I got what I believe is the behavior you're expecting.

When focusing on a cell in the "key" column, which is a link, the screen readers read out both the name of the key and "link":

**item-1 Lorem ipsum dolor sit, link, ...**

The cells in the "name" column

[2018-12-11 23:43] Jahnp commented on #7140
If it's ok with you, I'd like to go ahead and close this for now, as there will be another update to the default set that includes new icons in a couple of weeks. Thanks again for bringing this to our attention!

[2018-12-11 23:43] #7140 closed

[2018-12-12 00:12] Jahnp commented on #7110
@dushes-ag : @kenotron and I will be tackling the matter of `IconNames` as that should be the last outstanding `const enum` in the library, but it's a little trickier to handle because of the devexp of using `IconNames` right now.

That said, in the meantime, `const enum` should not block use of Fabric in React + TypeScript apps generally. It is because Create React App's baked-in TypeScript suppo

[2018-12-12 00:15] ecraig12345 commented on #4613
David asked me to take a look at this as part of prep for the 7.0 release. Breaking out the different categories of issues listed here... https://reactjs.org/docs/strict-mode.html

### Rewrite or rename [unsafe lifecycle methods](https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html)
`componentWillReceiveProps`, `componentWillMount`, and `componentWillUpdate` are being deprecated beca

[2018-12-12 00:32] KevinTCoughlin commented on #7162
@fergiemcdowall, I must defer to @micahgodbolt & @Jahnp regarding the above ask of adding a variant for `Callout`. I know that for a number of components, the variants are due for an audit.

If we were to render a variant of `Callout` at the current mouse position given a region or user interaction, my primary concern would be that it seems broken or out of place if not presented clearly. That sai

[2018-12-12 01:57] ecraig12345 opened #7364 "Convert ResizeGroup to new context API"
As part of removing deprecated constructs in preparation for future React versions (see [this issue comment](https://github.com/OfficeDev/office-ui-fabric-react/issues/4613#issuecomment-446413003)), we need to remove usage of the legacy context API.

ResizeGroup is using legacy context via the `provideContext` utility function (see `packages/utilities/src/Context`). I'll make a change deprecating

[2018-12-12 02:00] ecraig12345 opened #7365 "Convert ScrollablePane to new context API"
As part of removing deprecated constructs in preparation for future React versions (see [this issue comment](https://github.com/OfficeDev/office-ui-fabric-react/issues/4613#issuecomment-446413003)), we need to remove usage of the legacy context API. ScrollablePane is one of the components using this API.

See [the React docs](https://reactjs.org/docs/context.html) for more info about the new conte

[2018-12-12 02:02] ecraig12345 opened #7366 "Convert Sticky to new context API"
As part of removing deprecated constructs in preparation for future React versions (see [this issue comment](https://github.com/OfficeDev/office-ui-fabric-react/issues/4613#issuecomment-446413003)), we need to remove usage of the legacy context API. Sticky is one of the components using this API.

See [the React docs](https://reactjs.org/docs/context.html) for more info about the new context API.

[2018-12-12 02:04] ecraig12345 opened #7367 "Layer tests and example are using legacy context API"
As part of removing deprecated constructs in preparation for future React versions (see [this issue comment](https://github.com/OfficeDev/office-ui-fabric-react/issues/4613#issuecomment-446413003)), we need to remove usage of the legacy context API.

The Layer component itself doesn't use legacy context, but for some reason (historical reasons?) some tests and an example do. Those should eventuall

[2018-12-12 02:06] ecraig12345 opened #7368 "ScrollContainer and VirtualizedList experiments are using legacy context API"
As part of removing deprecated constructs in preparation for future React versions (see [this issue comment](https://github.com/OfficeDev/office-ui-fabric-react/issues/4613#issuecomment-446413003)), we need to remove usage of the legacy context API. ScrollContainer and VirtualizedList in experiments are some of the components using this API.

See [the React docs](https://reactjs.org/docs/context.h

[2018-12-12 02:07] ecraig12345 opened #7369 "Experimental Form is using legacy context API"
As part of removing deprecated constructs in preparation for future React versions (see [this issue comment](https://github.com/OfficeDev/office-ui-fabric-react/issues/4613#issuecomment-446413003)), we need to remove usage of the legacy context API. The experimental Form components make significant use of this API.

See [the React docs](https://reactjs.org/docs/context.html) for more info about th

[2018-12-12 03:50] KevinTCoughlin commented on #4613
It would be fantastic to have a component converted as an example. I say this as someone who's only reference is https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html. Additional reference links welcome!

[2018-12-12 04:17] piyumi25 commented on #7347
here is my code pen link.
https://codepen.io/piyumi28/pen/REPBZa I need to get this item value on SelectDate event

[2018-12-12 04:51] abettadapur commented on #7369
@ecraig12345 will take care of this this week

[2018-12-12 04:53] ecraig12345 commented on #4613
Discovered something unfortunate...until BaseComponent stops using `componentWillReceiveProps`, nothing extending BaseComponent can use `getDerivedStateFromProps`. React gives a console warning if the old and new lifecycles are used in combination, and it doesn't call the old lifecycles.

BaseComponent uses `componentWillReceiveProps` to update the `componentRef`. [This example](https://reactjs.or

[2018-12-12 05:12] ecraig12345 commented on #7369
Thanks! To be clear, this isn't terribly urgent, but if you have time to take care of it now that's great.

[2018-12-12 07:00] #7278 closed

[2018-12-12 07:47] gsbelarus commented on #7286
As it works with Chrome and Edge I think it is something wrong on Firefox side. I filled a bug issue with them:

https://bugzilla.mozilla.org/show_bug.cgi?id=1513457

Thank you for the help!

[2018-12-12 07:47] #7286 closed

[2018-12-12 08:01] OneCyrus commented on #4613
Inheritence like the BaseComponent is basically an anti-pattern in reactjs. The prefered way would be composition: https://reactjs.org/docs/composition-vs-inheritance.html

As react is moving away from classes to functions (hooks), the inheritence-model will most likely prevent the use of hooks. i would recommend to review the use of inheritence when some major changes for react-strict support are

[2018-12-12 08:17] tsekityam opened #7371 "[IconButton] only part of the image is shown in the icon"
### Environment Information

- __Package version(s)__: 6.112.0
- __Browser and OS versions__: Opera on Windows 10

### Please provide a reproduction of the bug in a codepen:

https://stackblitz.com/edit/react-ts-scs1sn
There are two icon buttons in the example, one is showing an icon and one is showing image. All the buttons should has height 32px

#### Actual behavior:
Both of the icons has heigh

[2018-12-12 10:31] saini-ankish opened #7372 "DetailList - Screen reader is not passing the ascending/descending sorting information"
### **Environment Information**

- Package version(s): (6.111.2)
- Browser and OS versions: (chrome and win 10)

### **Please provide a reproduction of the bug in a codepen:**
[https://codepen.io/anon/pen/YdXbQR](https://codepen.io/anon/pen/YdXbQR)

- Here we just adding tool-tips on header using **onRenderDetailsHeader**.
- In normal scenario it's having an addition Label tag containing the value

[2018-12-12 10:53] Rafaelki opened #7373 "Panel: shrink content mode (Pane)"
**Describe the feature that you would like added**
If it is possible, I would like that the Panel component had a property to specify if the panel should open over the content (as it is now) or make the content shrink (when there is enough space). In the latest mode, the user could specify the selector of the content container. If it is not specified, the content container could be the children of

[2018-12-12 12:30] kevinbargary commented on #6315
I have a similar issue with scrolling a modal content on Surface Pro device
https://codepen.io/anon/pen/xmwxZm

[2018-12-12 14:16] bkniffler opened #7374 "@fabricui/fluent-theme SSR issues"
Using fluent-theme will throw errors on using something like nextJS. I know I can import from lib-commonjs, but even those commonjs packages will import stuff like `office-ui-fabric-react/lib/Styling` which in turn uses es modules (instead of referencing `office-ui-fabric-react/lib-commonjs/Styling`).

There is more problems like `document undefined` due to `@microsoft/load-themed-styles/lib/index

[2018-12-12 14:41] goodoldneon commented on #6676
I'm able to hide it via CSS, though that feels a little hacky. However, if I'm the only person requesting this feature then it isn't worth adding a prop for me.

[2018-12-12 15:58] micahgodbolt commented on #7364
depending on the scope of this change, I might look to @christiango for help, as he did most of the heavy lifting on this control.

[2018-12-12 16:07] christiango commented on #7364
So the usage of context was added with https://github.com/OfficeDev/office-ui-fabric-react/pull/3718. I have depended used this "is measured" capability, so we might need @brwatt to drive this.

[2018-12-12 18:03] brwatt commented on #7364
The plan is to just switch to the new context API right? What information do you need from me?

[2018-12-12 18:55] christiango commented on #7364
I think your team is the only one use this feature, so we just want to make sure this doesn't break you.

[2018-12-12 19:12] khmakoto commented on #7345
@v-pekuma After some discussions we think there might be some implications with this change given the existing `SpinButton` code.

Paraphrasing what @KevinTCoughlin mentions in #7352, `SpinButton` has a required prop `label` which is _always_ rendered as an element referred to by `aria-labelledby`.

Apparently, `aria-labelledby` takes precedence over other ARIA attributes such as `aria-label`.

Gi

[2018-12-12 19:21] khmakoto commented on #7372
Already being tracked by bug #6646.

Closing as duplicate.

[2018-12-12 19:21] #7372 closed

[2018-12-12 19:36] KevinTCoughlin commented on #4613
In my mind, the area that would require extensive testing with the deprecation / removal of `BaseComponent` is its `async` helper. Currently, it ensures that asynchronous operations are cleaned-up per Component during `componentWillUnmount()` preventing memory leaks and other issues related to timing.

[2018-12-12 19:42] khmakoto commented on #7373
@micahgodbolt wanted to loop you in to get the discussion on this feature request started.

[2018-12-12 21:00] natalieethell commented on #6576
Spoke to Ben offline and it seems like making the "select all" checkbox disabled in single selection mode is the way to go. It shouldn't be tab navigable, but you should be able to arrow to it via table navigation in scan mode.

With a fix, the screen reader ([for the example here](https://developer.microsoft.com/en-us/fabric#/components/detailslist/variablerowheights)) should read out something l

[2018-12-12 21:30] Vitalius1 commented on #7374
I am guessing @kenotron or @cliffkoh could be more helpful here as this is more related to imports (not my area of expertise 🙄)

[2018-12-12 22:30] natalieethell commented on #6576
Okay, update! So it seems like the main issue you brought up (not being able to focus on the "select all" checkbox in multi-select mode) is fixed.

As for the "select all" checkbox acting as the column header for checkboxes in single selection mode:

I just confirmed that the "select all" checkbox is actually already using the disabled styling for DetailsList checks, which actually prevents the ch

[2018-12-12 23:06] natalieethell commented on #4980
Thanks for your issue! As Thomas mentioned above, if you'd like to specifically set the `aria-label`, you can utilize `ariaLabelForSelectionColumn`. We don't have a default for `ariaLabelForSelectionColumn` due to localization concerns, but we do have it set on our [DetailsList demo](https://developer.microsoft.com/en-us/fabric#/components/detailslist/variablerowheights) pages.

![image](https://u

[2018-12-12 23:17] micahgodbolt commented on #7162
Yeah, it'd be difficult without an iFrame to do this on the Callout page. I could see creating a Codepen and linking out to it from the page.

[2018-12-12 23:34] natalieethell commented on #6878
Hey @ravikiranvs thanks for submitting this issue!

It looks like right now we just support collapsing the right-most columns. Any column to the left of a non-collapsible column will be also automatically marked as non-collapsible. Here's why I think this design makes sense.

Let's say you wanted a mix of collapsible (C) and non-collapsible (N) columns, like so:

| N | C | N | C |

How would you h

[2018-12-12 23:38] natalieethell commented on #6878
One more note: if we do keep the existing behavior, we should definitely be more clear on when and where `isCollapsible` (just changed the spelling in [this PR](https://github.com/OfficeDev/office-ui-fabric-react/pull/7377) :)) should be used, so thank you for bringing this up!

[2018-12-13 00:00] #7298 closed

[2018-12-13 00:56] micahgodbolt commented on #7254
Very interesting opportunity to coordinate with the XAML team who is creating their own pagination control.

https://github.com/Microsoft/microsoft-ui-xaml/issues/60

Spoke with them today about making sure we're working off the same designs and driving for feature/variant parity, as well as interface consistency.

[2018-12-13 01:09] drewloomer commented on #7110
@Jahnp is there any other known work around since `react-scripts-ts` is deprecated?

[2018-12-13 01:14] Jahnp commented on #7110
@drewloomer oh shoot, I didn't realize that was the case. I'm not aware of another work around right now. We'll have to get back to you on that.

There's a decent chance we'll be removing the `const enum` from `IconNames` over the next few weeks altogether, so the matter *should* sort itself out soon.

[2018-12-13 02:53] cliffkoh commented on #7374
@khmakoto please sync with @kenotron or myself offline to discuss a fix for this.

[2018-12-13 05:00] #7215 closed

[2018-12-13 10:39] fergiemcdowall commented on #7162
Hello! I posted this bug report [a little over a year ago](https://github.com/OfficeDev/office-js-docs/issues/1187), and was recently asked to reopen it here, which I did. Sadly I don't have the capacity to file or reformat the report for a third time.

Basically I am suggesting that "rightclick -> open context menu" is a common user paradigm that should be described in the documentation. Surely a

[2018-12-13 14:35] harshdamaniahd opened #7381 "Is it possible to change scrollbar css in List Component"
Looking for some way to change default scrollbar look and feel

[2018-12-13 17:01] khmakoto commented on #7374
Sorry @Vitalius1, I'll sync with @cliffkoh of @kenotron to discuss this. Thanks.

[2018-12-13 17:03] khmakoto commented on #7381
Can you be more specific about what you want to achieve and, if possible, provide a codepen with some initial code to build on? There are indeed some ways to style components, but a little more context will help us better answer your question.

[2018-12-13 17:09] dzearing commented on #6944
If it is as simple as restating the border to use an hc color in the hc query, then cool! We could solve the clipping in hc then too.

[2018-12-13 18:06] yumikohey commented on #7335
@kkjeer I tested on a bootstrap date picker example, it actually behaves the same, so I think it's an Android built in issue. Should we close this issue?
Thanks.

[2018-12-13 18:40] khmakoto commented on #7347
@piyumi25 the following [codepen](https://codepen.io/khmakoto/pen/KbVaPN) builds up on what you provided and logs both the `string` specified on your `dateItems` constant that relates to the selected `DatePicker` element, as well as the DOM `id` of the `DatePicker` itself.

Please let me know if this was what you were looking for or if you need anything else.

[2018-12-13 18:50] KevinTCoughlin commented on #7162
Thanks for the context @fergiemcdowall. It looks like @Jahnp is onboard with adding this example to the `Callout` documentation page given https://github.com/OfficeDev/office-js-docs/issues/1187#issuecomment-355681744.

@Jahnp, should the above "ContextualMenu"-like example be bound to a specific area of the `Callout` page? I ask because this a unique example which I don't believe we have an exist

[2018-12-13 19:13] KevinTCoughlin commented on #7381
The short answer is not easily as far as I know and this resides outside of the scope of OUFR. OUFR uses the browser's scrollbar and therefore the only customization you can do is override what the browser allows to be overridden. This varies browser to browser. Here's one resource which talks about scrollbar customization, https://css-tricks.com/almanac/properties/s/scrollbar/.

[2018-12-13 19:17] kkjeer commented on #7335
@yumikohey thanks for testing! If this is built in to Android I think it makes sense to close this issue. Please feel free to close if you agree.

[2018-12-13 19:19] #7335 closed

[2018-12-13 19:53] aneeshack4 commented on #6944
@BrendanMcK I'm trying to repro this locally so I can test the fix against it but I don't know how to do this on the Fabric site - do you know how I can repro this clipping on https://developer.microsoft.com/en-us/fabric#/components/link? I've also been trying to use the Codepen you provided but nothing is rendered on there - any idea why?
![image](https://user-images.githubusercontent.com/4161791

[2018-12-13 19:55] kenotron commented on #7374
Two issues here:

1. SSR support for load-themed-styles is through a configuration - you can consult that package's configure load theme function: https://github.com/Microsoft/web-build-tools/blob/33d670bf12fb70a93b28c55d9103550eeadf0738/libraries/load-themed-styles/src/index.ts#L193

Also, check out the apps/ssr-tests to see how that works

2. Official answer: it's a bug, Fabric needs to fix it s

[2018-12-13 21:30] natalieethell commented on #6469
Hey @satbai thanks for opening up this issue! After investigating, it looks like this behavior is Narrator-specific. An issue was opened for it back in August 2017 [here](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/14844849/).

If you navigate through those grid examples on the [w3.org link](https://www.w3.org/TR/wai-aria-1.1/#grid), you'll see that Narrator even reads out

[2018-12-13 22:00] #7314 closed

[2018-12-13 22:22] aneeshack4 commented on #6085
Hi @mdmdakbar, thank you for reporting this. Apologies for the delayed response. I finally got some time to circle back to this. Narrator + Edge and Narrator + Chrome both work as you can see from the "This is an error message" in the Narrator output highlighted below. (the first image is Chrome, second is Edge).
![image](https://user-images.githubusercontent.com/4161791/49970800-50b5f980-fee1-11e

[2018-12-13 22:35] micahgodbolt opened #7385 "ITheme: Discuss support for custom font variants, spacing and typography"
Right now the IFontStyles interface is simply tiny through mega (all size related). What happens when I need custom variants like "BlogHeader" vs "PageTitle". Is my only recourse to document that blog headers are large but page titles are xLarge?

Then, if we are supporting custom text variants, it'd be preferred to style them with themable values (font family, font size, font weight, as well as c

[2018-12-14 01:17] saicharanp opened #7392 "Typescript error in IStyleFunction after upgrade"
I recently upgraded `office-fabric-react-ui` and  `@uifabric/merge-styles`  to latest version and I am getting a typescript error in the `IStyleFucntion`

[code]
Type IButtonStyles is not assignable to type IStyle​​​​​​​.

It was working fine previously in version `5.132.0`.  

I tried updating typescript and it didn't work. I need to cast `headingLabel`  or `ITreeListSearchStyles` to `any` to mak

[2018-12-14 05:49] prmittal commented on #5717
@natalieethell I see that the fix made was to add the property to message bar div and not the "See more" button. Would that not be the preferred fix?

[2018-12-14 06:58] kirilligum opened #7395 "swiping pivot doesn't work on smartphones"
### Environment Information
 https://developer.microsoft.com/en-us/fabric#/components/pivot

on chrome browser on Note9 and iphone 6 plus

### Please provide a reproduction of the bug in a codepen:
  swiping left and right on the header or on the content

#### Actual behavior:
 nothing happens

#### Expected behavior:
 change of the content

#### Priorities and help requested:

I'm not sure how to

[2018-12-14 12:24] be5invis opened #7397 "Compact controls"
The current height (and spacing) of most controls are 32px, which is OK for most UI, but for UI requiring more density, it is less effective.

Therefore is it possible to introduce a new control size for professional applications that requiring more information density?

[2018-12-14 15:01] betrue-final-final commented on #7397
That is something we've been looking at in Design. This seems like a good place to inform of status once we figure that out.

[2018-12-14 15:03] betrue-final-final commented on #5717
You're suggesting changing the label of the button to "See more"? I can see that being a good change. "Overflow" is more of a UX professional term and not as accessible as "See more".

[2018-12-14 16:09] prmittal commented on #5717
No. I meant setting the aria-expanded property to the button instead of the full message bar div. The div is not actionable.

[2018-12-14 17:46] micahgodbolt commented on #7397
This same question just came across via email, so I'm guessing this issue is related? I put together a quick PEN showing how it can be done today using each controls style prop. This can be done via customizer or directly into the control.

https://codepen.io/micahgodbolt/pen/NeNNjJ?editors=1010

The goal for the future is to move to a token based approach that will look more like this:

[code]

[2018-12-14 17:47] micahgodbolt commented on #7395
I don't believe this functionality was ever present, please correct me if I'm wrong.

[2018-12-14 17:48] micahgodbolt commented on #7392
Are you saying you upgraded to 6.x? Or did you upgrade to the latest version of the 5.x branch?

[2018-12-14 17:55] kirilligum commented on #7395
In the documentation

- Swiping left or right on a pivot item header navigates to the adjacent section.
- Swiping left or right on section content navigates to the adjacent section.

https://developer.microsoft.com/en-us/fabric#/components/pivot

Would be nice to have. Don't know if it was present. It's my first time trying

[2018-12-14 17:57] micahgodbolt commented on #7373
We've certainly considered this option a number of times. The main challenge is that it requires not just rendering the Panel, but also changing the styles of the rest of the application. In the material UI example, this is accomplished by adding custom styles to the main section of the application that pushes it over the same width as the panel. So really, you can do this today by adding custom s

[2018-12-14 17:59] micahgodbolt commented on #7369
I don't believe there is any plan to keep graduate Form into OUFR. Can we simply plan to remove this control in our next release?

[2018-12-14 18:00] micahgodbolt commented on #7395
Hah, good catch :D I wonder if the docs simply got ahead of our implementation. Either way, there's a bug in docs or the control. Thanks!

[2018-12-14 18:02] micahgodbolt commented on #7395
And yeah, after a quick look at the code, we never wrote any functionality around swiping, so this just needs to be removed from the docs. @khmakoto will get that fixed. Maybe we can leave this issue open as a feature request when it's done.

[2018-12-14 18:14] kenotron commented on #7374
I still think there MAYBE be a bug depending on where the imports are.

Looking Mak’s massive conversion PR, we are mostly dealing with experimental packages and app packages. The issue is with fluent-theme imports of `office-ui-fabric-react/lib/Styling`. We should focus on that package in the PR probably.

As @dzearing said, if the imported target is large like OUFR itself, we shouldn't import th

[2018-12-14 19:44] micahgodbolt opened #7402 "Jan-March 2019 Roadmap"
(WIP)

Fabric is an open source project with contributions coming from numerous sources around and outside of Microsoft. The Fabric Team©®™℠ is an Office funded group dedicated to improving the Fabric platform through various initiatives. These are our current focuses for the upcoming quarter.

## Theming
Lead: @JasonGore
Meta issue can be found at  #6978

The main objective is to create a unified

[2018-12-14 19:52] kkjeer commented on #7329
Hi @sonimishra, we're currently tracking several issues related to horizontal scrolling in DetailsList (#6546 and #5176), which seem to be related to DetailsList width calculations. Please let us know if you think this issue is related to different DetailsList behavior.

[2018-12-14 20:00] #7247 closed

[2018-12-14 20:11] JoshuaLamusga opened #7403 "Styling choice group items"
It doesn't seem possible to provide styles for choice items. A choice group has these properties for styling:

None of these apply to choice items passed via the options prop. In the IChoiceGroupOption interface, there is no mention of any styling-related value we can pass to change the styles. I shouldn't have to use onRenderField() to redefine the layout any time I want to set styles.

Am I miss

[2018-12-14 20:55] kirilligum commented on #7395
that would be nice. if it works, I can just use pivot as a carousel for images.

if someone had thought about it and can give me a rough roadmap, i can code it up

[2018-12-14 21:46] saicharanp commented on #7392
Thanks for the reply.
Can you please tell me how do I refactor this? I tried the following and it is not working:
``
export interface ITreeListSearchStyles {
  root?: IStyle;
  header?: IStyle;
subComponentStyles: {
   headingLabel?: IButtonStyles;
  }
}
[code]

[2018-12-14 22:12] micahgodbolt commented on #7392
Would it be possible to mock this up in a codesandbox? Without seeing the code and the errors its hard to know what might be wrong.

[2018-12-14 23:24] ConorWuertz opened #7408 "Screen readers double-reading option text in ComboBox and Dropdown options"
### Environment Information

- __Package version(s)__: 6.111.2,  repros on latest demo page version
- __Browser and OS versions__: Latest Chrome

### Please provide a reproduction of the bug in a codepen:

https://fabricweb.z5.web.core.windows.net/oufr/6.114.0/#/examples/dropdown

#### Actual behavior:

Using the NVDA screenreader to navigate the options in the dropdown or combo box results in the

[2018-12-14 23:30] aneeshack4 commented on #6758
Just want to update this issue with notes on everything I've tried so far to fix this:
role="list" on the <ul> element and role="listitem" on the <li> element in Facepile.base.tsx
role="listbox" on the <ul> and role="option" and aria-posinset={index+1} and aria-setsize={personas.length}. I've been cross referencing my implementation against examples like the ones on http://www.maxability.co.in/dem

[2018-12-14 23:47] micahgodbolt commented on #6840
interesting thought here....how do we define each row of data in this table? It's basically a bunch of forms stacked on top of each other right? Could this table be defined as an array of Form elements, and could this be a good opportunity to look at #5582 and define each row via a JSON schema, rather than a specific JSX element? i.e. a column could be a hex value selected via a textfield today, a

[2018-12-14 23:55] micahgodbolt commented on #7395
@betrue-final-final, do you know if touch navigation was ever considered/designed for the pivot? Is there a spec we could go off of to add it in?

[2018-12-15 00:00] Jahnp commented on #7397
@micahgodbolt totally--we should take this approach for creating something like a "compact theme" or otherwise making compact versions of controls. To @betrue-final-final 's point, there will be more than just height involved, but enabling dense/compact/"complex" scenarios is *super* valuable.

[2018-12-15 00:04] micahgodbolt commented on #7397
if we leverage some type/spacing ramps in typography, we could pretty easily do this framework wide.

TextField default height = theme.spacing.default X 2 (i.e. twice the height of default text).

[2018-12-15 01:06] bigbadcapers opened #7413 "Update the Teaching Bubble's default animation to use the new motion specs"
### Environment Information

- __Package version(s)__: latest
- __Browser and OS versions__: any

### Please provide a reproduction of the bug in a codepen:

Invoke a teaching bubble and notice the animation, it's too bouncy.

#### Expected behavior:

The teaching bubble's "stage entrance" should be designed to be noticeable, but the current animation curve has too many bounces and the acceleratio

[2018-12-15 01:07] bigbadcapers commented on #7413
@Jahnp fyi

[2018-12-15 01:19] ecraig12345 commented on #7413
@Jahnp Can I assign this to you or one of the other design devs?

[2018-12-15 10:07] ufhy commented on #3692
up

[2018-12-15 18:54] JoshuaKGoldberg commented on #6036
That is is resolved and this is fixed in the latest Chrome.

[2018-12-15 19:42] KevinTCoughlin commented on #6036
Awesome 👏, thanks for following up!

[2018-12-16 13:50] desmap opened #7416 "Documentation: Using a different default font"
Fabric is one of the best looking and most consistent UI kits for React (if not the best). I understand that it evolved out of the need to build an ecosystem around MS' core products but I also see that Fabric Core is clearly MIT-licensed. Hence, I assume that I can use it without any MS context **if** I leave out the assets (Segoe text fonts and icon fonts).

So, why is there not an easy way to c

[2018-12-16 22:47] kirilligum opened #7417 "Documentation: add example of how to use font styles"
**Describe the feature that you would like added**

An example of how to use fonts.

For example:

How to give `ms-font-su` to `<div>fabric font</div>`

**What component or utility would this be added to**

https://developer.microsoft.com/en-us/fabric#/styles/typography

**Have you discussed this feature with our team, and if so, who**

no

**Additional context/screenshots**

https://stackoverflow

[2018-12-17 06:40] lijunle commented on #5326
I try to fix this issue and found some issue. We need to answer some design questions before coding:

- When user input some value and before `onBlur`, the spin button may be in an *invalid* state. Do we want to notify `onChange` with these invalid values?
- If we only when to get the valid values, is it acceptable to notify `onChange` when `onBlur` or `onButtonClick` happens?
- Why do we immediat

[2018-12-17 06:51] sonimishra commented on #7329
hi kkjeer.  #7329 is similar to #6546 and #5176), as all the bugs are related to DetailsList width calculations

[2018-12-17 08:52] be5invis commented on #7397
@micahgodbolt Not really. Sometimes we want to just reduce the spacing, without sacrificing text size.

[2018-12-17 09:46] Nimelrian commented on #6416
Thanks Kevin! Sorry for answering only so late.
The changes described in the diff work in our code just fine.

The actual issue I had has thus been solved, maybe a note in the docs would be appropriate though.
I'll leave closing this issue to you, in case you want to take further action before closing it out.

[2018-12-17 10:18] BrendanMcK commented on #6944
It seems that `VerticalStack` is no longer available (or has moved), so the codepen is no longer working.

While `box-shadow` appears to work in this case, I'm not sure it's the right approach for Fabric to take, because, as I mentioned in the original post above, it's somewhat fragile.

The problem with focus outlines is that there's no one-size-fits-all solution. I think Fabric will have to deci

[2018-12-17 12:08] abhrabhattacharyya opened #7418 "DetailsList: onColumnClick after the sorting the list is not re-rendered"
### Environment Information

- __Package version(s)__: 6.114.0
- __Browser and OS versions__: Windows 10 and latest Chrome

### Please provide a reproduction of the bug in a codepen:

[code]

#### Actual behavior:

there is no visible change on the table

#### Expected behavior:

The table should update immediately with the sorted list.

On investigating, I could find in DetailsList, newProps and

[2018-12-17 12:38] hamedy opened #7419 "Context menu sub-links don't expand on hover if all links have href"
Sub menu items don't expand on hover if every node on them has href. Only if at least one node doesn't have href, the ones with submenu items would expand, after you hover on the one without href at least once! like that action triggers something than enables the expansion on hover.

[code]

So second level items are links themselves but on hover should show a third level menu. But right now you h