[2020-06-17 18:30] sergul commented on #13634
thanks. The only essential difference with #11742 is we don't consider using
"-ms-high-contrast" flag anymore because it became a non-standard and not recommended for production usage. https://developer.mozilla.org/en-US/docs/Web/CSS/@media/-ms-high-contrast

[2020-06-17 19:00] #13620 closed

[2020-06-17 19:00] #13611 closed

[2020-06-17 19:00] #13610 closed

[2020-06-17 19:09] #13235 closed

[2020-06-17 19:28] zackseuberling opened #13648 "IVerticalBarChartProps `data` is incorrectly IDataPoint instead of IVerticalBarChartDataPoint"
### Environment Information

- **Package version(s)**:
  - `@uifabric/charting` 2.2.35
  - `office-ui-fabric-react` 7.121.0

- **Browser and OS versions**:
  - MacOS 10.15.4 (19E287)
  - Firefox 77.0.1 (64-bit)

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/vigilant-bash-jf96v?file=/src/App.tsx:508-510

#### Actual behavior:

The interface for vertical bar ch

[2020-06-17 19:48] Raghurk commented on #13648
Opening a bug on this locally to address this

[2020-06-17 21:11] ecraig12345 commented on #13411
I talked about this with Thomas and I'm not sure how much we'll be able to do here.

At first we thought the fact that `IObjectWithKey.key` is optional was the problem (it should probably be required, but we can't change that outside a major version), but even [making it required doesn't fix the problem](https://www.typescriptlang.org/play/index.html?ssl=47&ssc=2&pln=32&pc=1#code/KYDwDg9gTgLgBASwH

[2020-06-17 22:29] pcapel commented on #13643
@paulgildea Thanks for the response!  That makes sense. Some of what I found is as follows, just for posterity:

`TooltipHost` supports an `overflowMode` which could potentially solve this issue for me. However, it also seems that it doesn't support identifying a child that is overflowing.  Since the desired behavior is to have the overflow ellipses and theme benefits of `Text` in addition to the

[2020-06-17 23:00] #13454 closed

[2020-06-18 00:27] DavidParks8 opened #13653 "Requesting a pill/chip set of components for Azure portal filter patterns"
#### Describe the feature that you would like added

We need support for a pill filter experience for new react-based blades in the Azure portal. This would entail some sort of pill/chip component, as well as a pill/chip group component to display the chosen pill filters. This would eventually be used by nearly every team in the Azure portal as they migrate their blades to react. My team just happ

[2020-06-18 01:35] jacargentina opened #13657 "How to migrate to v0.50 @fluentui/react-northstar"
On previous version i had this:

[code]

With v0.50 the variables are not applied (my colors are wrong)

How to i migrate to new version?

[2020-06-18 02:00] #13526 closed

[2020-06-18 03:54] #13581 closed

[2020-06-18 04:30] jameelakowsar commented on #13614
#PRComplete
https://github.com/microsoft/fluentui/pull/13617

[2020-06-18 04:30] #13614 closed

[2020-06-18 07:54] jurokapsiar commented on #13583
Hi,

I would suggest using the `Grid` component. You can add `gridTemplateColumn` or other grid css roles using the `styles` prop. See for example https://codesandbox.io/s/8wcmk?module=/example.js

Also please note that CSS grid does not work out of the box on IE11 and you might need to use for example https://autoprefixer.github.io/ to generate the styles for it - they can then also be applied us

[2020-06-18 07:54] #13583 closed

[2020-06-18 08:08] jurokapsiar opened #13661 "Dropdown: Cannot read property 'selectionStart' of null"
.When the search query is NOT an empty string, and back button is clicked, we receive error "Cannot read property 'selectionStart' of null". This is due to the similar reason, missing null safe check before accessing selectionStart parameter of this.inputRef.current.

 We need a fix for this issue at https://github.com/microsoft/fluentui/blob/b72ef4c92db4c3f239d2ee35dee36234a9776bf3/packages/fluen

[2020-06-18 08:27] assuncaocharles commented on #13657
Hi @jacargentina

In the PR #13117 we introduced `MenuItemWrapper` so I could achieve the same you are trying to achieve by using it:

[code]
See example here: https://codesandbox.io/s/pedantic-hill-7ok3u?file=/example.js:121-405

[2020-06-18 08:42] BharathShanker08 commented on #13646
In forward navigation (tab navigation) also behavior should be same as reverse navigation (Shift + tab). Current behavior is explained below

**Current behavior :**
**Forward Navigation :** Up on hitting tab, focus is moving to datepicker and pop-up is automatically opening. (Here it should not open automatically upon hitting Enter only pop-up should be opened)
**Reverse Navigation :**  Up on hitt

[2020-06-18 09:49] AbhijitUI opened #13663 "Pivot: [Accessibility][Screen Reader]: 'My Files/Recent/Shared with me' tab items are getting read twice."
### Environment:

Browser - Edge Version 83.0.478.50 (Official build) (64-bit)

### Describe the issue:

Pivot- Tab Item when traversed through On-Screen Keyboard reads the 'My Files/Recent/Shared with me' tab item twice.

#### Actual behavior:

Pivot- Tab Item when traversed through On-Screen Keyboard reads the 'My Files/Recent/Shared with me' tab item twice.

#### Expected behavior:

It should o

[2020-06-18 10:00] jacksonv1lle opened #13664 "Allow the Icon component's `iconName` property to be customized"
#### Describe the feature that you would like added

The [legacy Icon component](https://github.com/microsoft/fluentui/blob/master/packages/office-ui-fabric-react/src/components/Icon/Icon.tsx) can be targeted by customizations.

This means that we can override the `styles` and `theme` properties using customizations.

It would be great if we could also customize the `iconName` property. This way,

[2020-06-18 10:28] layershifter opened #13665 "@fluentui/react-button: does not render `children`"
### Environment Information

- **Package version(s)**: @fluentui/react-button@0.3.2

[code]

https://codesandbox.io/s/mystifying-morse-mxf67?file=/src/App.js

#### Actual behavior:

Renders nothing.

#### Expected behavior:

A button with "I am a button" text.

### Priorities and help requested:

Are you willing to submit a PR to fix? No
Requested priority: Normal

[2020-06-18 10:29] layershifter opened #13666 "@fluentui/react-button: throws a React warning with render props in shorthands"
### Environment Information

- **Package version(s)**: @fluentui/react-button@0.3.2

[code]

https://codesandbox.io/s/suspicious-sid-vdmn6?file=/src/App.js:146-353

#### Actual behavior:

[code]

#### Expected behavior:

Renders without warnings.

### Priorities and help requested:

Are you willing to submit a PR to fix? No
Requested priority: Normal

[2020-06-18 10:34] layershifter opened #13667 "@fluentui/react-button: renders a useless React.Fragment render props in shorthands"
### Environment Information

- **Package version(s)**: @fluentui/react-button@0.3.2

[code]

https://codesandbox.io/s/magical-cori-dhpy8?file=/src/App.js

#### Actual behavior:

[code]

![image](https://user-images.githubusercontent.com/14183168/85010153-cf879480-b15f-11ea-855b-156a7d71efa6.png)

#### Expected behavior:

Renders without wrapping fragments.

### Priorities and help requested:

Are

[2020-06-18 10:36] layershifter opened #13668 "@fluentui/react-button: `onClick` on `content` slot does not work"
### Environment Information

- **Package version(s)**: @fluentui/react-button@0.3.2

[code]

https://codesandbox.io/s/affectionate-shape-zgrcq?file=/src/App.js

#### Actual behavior:

`onClick` is not called on `content` slot.

#### Expected behavior:

Callbacks on slots should work.

### Priorities and help requested:

Are you willing to submit a PR to fix? No
Requested priority: Normal

[2020-06-18 10:47] tusharjape-msft opened #13669 "VerticalStackedBarChart: Should support X-axis and Y-axis title"
#### Describe the feature that you would like added

VerticalStackedBarChart show display x-axis and y-axis titles.

#### What component or utility would this be added to

VerticalStackedBarChart (@uifabric/charting)

#### Have you discussed this feature with our team, and if so, who

No

#### Additional context/screenshots

![x-axis and y-axis title column chart](https://user-images.githubusercon

[2020-06-18 10:51] #13664 closed

[2020-06-18 10:54] jacksonv1lle commented on #13664
On second thought, I don't think it makes sense to do this as the customization would affect all Icons such that they would all then have the same iconName value.

[2020-06-18 10:54] tusharjape-msft opened #13670 "VerticalStackedBarChart: Formatting should be supported for y-axis values"
#### Describe the feature that you would like added

User should be able to format y-axis labels in VerticalStackedBarChart

#### What component or utility would this be added to

VerticalStackedBarChart (@uifabric/charting)

#### Have you discussed this feature with our team, and if so, who

No

#### Additional context/screenshots

![y-axis formatting column chart](https://user-images.githubuserc

[2020-06-18 11:04] layershifter opened #13671 "@fluentui/react-button: missing accessibility attributes when `as` prop is used"
### Environment Information

- **Package version(s)**: @fluentui/react-button@0.3.2

[code]

https://codesandbox.io/s/funny-moon-xde2j?file=/src/App.js

#### Actual behavior:

`role="button"`, keyboard handler for enter/space, and `tabIndex="0"` are missing.

#### Expected behavior:

`role="button"` and `tabIndex="0"` are pressed when an element is `div`.

### Priorities and help requested:

Are y

[2020-06-18 11:07] tusharjape-msft opened #13672 "VerticalStackedBarChart: hideLegend should be available for individual legends"
#### Describe the feature that you would like added

User should be able to configure show/hide setting for each legend

#### What component or utility would this be added to

VerticalStackedBarChart (@uifabric/charting)

#### Have you discussed this feature with our team, and if so, who

No

#### Additional context/screenshots

![showInLegend column chart](https://user-images.githubusercontent.co

[2020-06-18 11:07] layershifter opened #13673 "@fluentui/react-button: `onClick` is not called on `Space` when `as` prop is used"
### Environment Information

- **Package version(s)**: @fluentui/react-button@0.3.2

[code]

https://codesandbox.io/s/silly-violet-yemtb?file=/src/App.js:146-271

1. Move focus to a button.
2. Press `Space` key

#### Actual behavior:

`onClick` is not called.

#### Expected behavior:

`onClick` is called.

### Priorities and help requested:

Are you willing to submit a PR to fix? No
Requested prio

[2020-06-18 11:09] layershifter opened #13674 "@fluentui/react-button: `style` values for slots in `compose()` are not merged"
### Environment Information

- **Package version(s)**: @fluentui/react-button@0.3.2

[code]

[code]

https://codesandbox.io/s/awesome-shadow-0le2g?file=/src/App.js:128-433

#### Actual behavior:

`style` values are not merged.

#### Expected behavior:

`style` values are merged.

### Priorities and help requested:

Are you willing to submit a PR to fix? No
Requested priority: Normal

[2020-06-18 11:12] layershifter opened #13675 "@fluentui/react-button: `style` values for slots in `compose()` are not passed to `root`"
### Environment Information

- **Package version(s)**: @fluentui/react-button@0.3.2

[code]

[code]

https://codesandbox.io/s/divine-fast-uf8bi?file=/src/App.js:363-411

#### Actual behavior:

`style` values are passed.

#### Expected behavior:

`style` values are not passed.

### Priorities and help requested:

Are you willing to submit a PR to fix? No
Requested priority: Normal

[2020-06-18 11:14] layershifter opened #13676 "@fluentui/react-button: handlers in `compose()` are not merged"
### Environment Information

- **Package version(s)**: @fluentui/react-button@0.3.2

[code]

[code]

https://codesandbox.io/s/wonderful-hill-3hnrl?file=/src/App.js

#### Actual behavior:

A single handler is called.

#### Expected behavior:

All handlers should be called.

### Priorities and help requested:

Are you willing to submit a PR to fix? No
Requested priority: Normal

[2020-06-18 11:17] layershifter opened #13677 "@fluentui/react-button: no way to force set props for slots"
### Environment Information

- **Package version(s)**: @fluentui/react-button@0.3.2

[code]

[code]

https://codesandbox.io/s/eloquent-benz-uhm0u?file=/src/App.js:196-235

#### Actual behavior:

`id` equals `m`.

#### Expected behavior:

Sometimes there is a case where definitions from `slotProps` should always win (i.e. `id` should be equal to `button4`). Currently there is no way to do it.

###

[2020-06-18 11:21] layershifter opened #13678 "@fluentui/react-button: props.content is required to render a slot"
### Environment Information

- **Package version(s)**: @fluentui/react-button@0.3.2

[code]

[code]

https://codesandbox.io/s/icy-snow-psco4?file=/src/App.js:346-410

#### Actual behavior:

Content is missing.

#### Expected behavior:

Content equals to `button5`.

### Priorities and help requested:

Are you willing to submit a PR to fix? No
Requested priority: Normal

[2020-06-18 11:24] layershifter opened #13679 "@fluentui/react-button: `state` allows to pass unhandled props"
### Environment Information

- **Package version(s)**: @fluentui/react-button@0.3.2

[code]

[code]

https://codesandbox.io/s/vigilant-sunset-lqwt7?file=/src/App.js

#### Actual behavior:

![image](https://user-images.githubusercontent.com/14183168/85014651-f1d0e080-b166-11ea-99f1-5f277dddbad0.png)

#### Expected behavior:

`root` should not be passed to an element.

### Priorities and help reques

[2020-06-18 11:26] layershifter opened #13680 "@fluentui/react-button: merging in `state` is not done"
### Environment Information

- **Package version(s)**: @fluentui/react-button@0.3.2

[code]

[code]

https://codesandbox.io/s/zen-bash-6g7re?file=/src/App.js

#### Actual behavior:

Content is empty.

#### Expected behavior:

Content should be rendered.

### Priorities and help requested:

Are you willing to submit a PR to fix? No
Requested priority: Normal

[2020-06-18 15:46] dzearing commented on #13680
@khmakoto please take a look

[2020-06-18 15:47] dzearing commented on #13679
I can take a look.

[2020-06-18 15:48] dzearing commented on #13678
That's an interesting one!

[2020-06-18 16:05] jacargentina commented on #13657
Thanks a lot @assuncaocharles!

Would be nice to have some migration guides, but i know the development is going faster now and it is hard to document things which will certainly change soon

[2020-06-18 16:05] #13657 closed

[2020-06-18 16:10] jacargentina opened #13684 "Warning: Cannot update a component MenuItem while rendering a different component ContextSelector.Provider"
By the stack trace, it seems my own components are not related to the problem. Appears on v0.50, was working before just fine.

<img width="1515" alt="Captura de Pantalla 2020-06-18 a la(s) 13 04 12" src="https://user-images.githubusercontent.com/517228/85045144-f85e5880-b164-11ea-9a3a-70da67302acc.png">

[2020-06-18 16:25] dzearing commented on #13677
Interesting scenario, and I don't think is an edge case. `slotProps` is currently acting as default settings, not overrides. But we need an additional mechanism to force overrides where we're handling it. This commonly occurs with events which should be attached to sub slots, where we take care to call the user's override.

We probably need a proposal here. I can try and put something together.

[2020-06-18 16:28] dzearing commented on #13676
This is similar to the last one about overriding values. In some cases you want to override, while in others you want merges. I'll take a look but may close one of these once I make sure they're effectively the same issue.

[2020-06-18 17:15] v-atkulk opened #13685 "Disabled ComboBox allows keyboard focus"
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:**#A11yTCS;#A11yMAS;#A11ySev2;#Benchmark#DesktopWeb;#MAS2.1.1;#Keyboard;#FTP;#STP;#Chrome;#ChromiumEdge;Win10;

Environment Details:​
Application Name: Notebooks - Azure machine learning service
Windows Version: Windows10​
Brows

[2020-06-18 17:29] khmakoto commented on #13653
Thanks for reaching out to us! I'll mark this as a feature request and add it to our backlog, but we're likely not going to get to it for a while as we're currently focused on larger coherence work items and enhancements to our performance.

[2020-06-18 17:30] micahgodbolt commented on #13535
I've run into this issue as well, but for some reason, only with @fluentui/react and not OUFR

[2020-06-18 18:27] khmakoto commented on #13672
Assigning `charting` owner @Raghurk as their team made this component. @Raghurk, if you think this is a high pri issue, please suggest a fix/raise a PR. If it is not high pri or behaving as intended or not aligned with your plans for this component, please feel free to close.

[2020-06-18 18:28] khmakoto commented on #13670
Assigning `charting` package owner @Raghurk as their team made this component. @Raghurk, if you think this is a high pri issue, please suggest a fix/raise a PR. If it is not high pri or behaving as intended or not aligned with your plans for this component, please feel free to close.

[2020-06-18 18:28] khmakoto commented on #13669
Assigning `charting` package owner @Raghurk as their team made this component. @Raghurk, if you think this is a high pri issue, please suggest a fix/raise a PR. If it is not high pri or behaving as intended or not aligned with your plans for this component, please feel free to close.

[2020-06-18 18:28] dzearing commented on #13665
What happens when you use both content AND children?

[code]

[2020-06-18 18:29] khmakoto commented on #13685
Thanks for filing this, but you'll need to add a CodePen repro before we can help. You can start from one of the component examples in our [website](https://developer.microsoft.com/en-us/fluentui#/controls/web/) (click "Export to CodePen") or https://aka.ms/fluentpen.

[2020-06-18 18:37] khmakoto commented on #13665
@dzearing so the expectation is that `children` always wins over `content` correct?

[2020-06-18 18:39] layershifter commented on #13665
Our components existing do not render slots if `children` exist:

[code]

Both above are equal.

[2020-06-18 18:47] dzearing commented on #13665
@layershifter Checkbox seems to ignore children; is this a bug or are there special cases?

[2020-06-18 18:56] layershifter commented on #13665
There are special cases, for example `Input` it's the same case.

[2020-06-18 19:04] dzearing commented on #13665
OK. I think that makes sense mostly, because certain primitives which the components model after can't render children. Image probably is another.

In Button for static slots it seems that only Content and Group are available statically; Icon doesn't seem to work. is the expectation that all slots would be available as statics?

[code]

Are there pitfalls you ran into with this such that we should

[2020-06-18 19:30] dzearing commented on #13665
For this bug, let's adjust to replace the content as v0 does.

[2020-06-18 19:44] dzearing commented on #13676
I think this would have worked:

[code]

[2020-06-18 20:14] dzearing commented on #13676
We dug in here and believe that slotProps should have precedence over the user's opinions.

I will change this and see how this works; I'll include a description in the README on state and slotProps distribution order.

[2020-06-18 20:15] AndrewCraswell commented on #12771
My team has hit this issue as well during an accessibility review before release.

If someone wants to troubleshoot, the issue that the HCL team logged in our ADO has screenshots, video clip, and repro steps of the issue.
https://worldwidelearning.visualstudio.com/Common/_workitems/edit/1081455

[2020-06-18 20:16] layershifter commented on #13676
How this will work with components that are composed multiple times?

[2020-06-18 20:18] dzearing commented on #13675
This one I think is a bug in useButton.

[2020-06-18 20:21] dzearing commented on #13674
This should be a special case in resolveSlotProps.

[2020-06-18 20:35] dzearing commented on #13668
We debugged this; it's working from a composition perspective. This is a styling bug; the focus rectangle is not set to `pointer-events: none`.

https://codesandbox.io/s/crimson-fog-rkkg5?file=/src/App.js

[2020-06-18 20:36] AndrewCraswell opened #13692 "TagPicker suggestion text remains even after closing the suggestions list"
### Environment Information

- **Package version(s)**: 7.119.1

### Describe the issue:

When using arrow keys to navigate Tag Picker suggestions, the suggestion text is auto-filled into the input element. However, if the user presses Esc to close the the suggestions list without choosing one, the the last viewed suggestion is left in the input.

This was flagged by the HCL accessibility team duri

[2020-06-18 20:39] dzearing commented on #13667
This is by design and I believe ok. This is so that the resolved children can replace the container slot and that we don't render the original slot container.

The fragment does not show up in the React DOM hierarchy.

![image](https://user-images.githubusercontent.com/1110944/85069372-d8c92f00-b168-11ea-8e4c-93d66b9d82ec.png)

[2020-06-18 20:39] dzearing commented on #13667
Going to close this, but please re-activate if you see an issue with this.

[2020-06-18 20:39] #13667 closed

[2020-06-18 20:41] dzearing commented on #13671
Condensing the other space keyboard bug into this one.

[2020-06-18 20:41] dzearing commented on #13673
Closing as dupe of #13671.

[2020-06-18 20:41] #13673 closed

[2020-06-18 20:42] dzearing commented on #13666
I'll take this.

[2020-06-18 20:45] dzearing commented on #13665
[code]

[2020-06-18 20:54] lzl124631x opened #13693 "the description of onResolveOptions is not clear"
[code]

It's not clear how to use this property along with options.

----

https://codepen.io/lzl124631x/pen/pogREVx?editors=1010

On initial load, click the chevron, I see two "resolve" in the console. Why is it triggered twice?

After switching from another tab to this codePen, I see one more "resolved" in the console. Why?

Clicking the chevron to close the dropdown menu, I see two "resolved".

[2020-06-18 21:04] reijam opened #13694 "Jest unable to render call to Fabric"
Latest version (7.120 )

Trying to invoke a test that creates a ContextMenu but jest chokes on the Fabric call in Layers because Layer renders in a separate rendering instance

[code]

The message starts out fairly innocently (as a warning) but proceeds downhill from there
[code]
Tried searching for another instance of this issue ( I doubt I am the first to record it but i could not find any other

[2020-06-19 04:42] tusharjape-msft opened #13698 "MultiStackedBarChart: hideLegend should be available for individual legends"
#### Describe the feature that you would like added

User should be able to set show/hide status for individual legends.

#### What component or utility would this be added to

MultiStackedBarChart (@uifabric/charting)

#### Have you discussed this feature with our team, and if so, who

No

#### Additional context/screenshots

![Horizontal bar chart highcharts](https://user-images.githubuserconten

[2020-06-19 04:53] tusharjape-msft opened #13699 "MultiStackedBarChart: Total value rendered on y-axis for a given category should be visible"
#### Describe the feature that you would like added

MultiStackedBarChart should display the total value rendered on y-axis for every category.

#### What component or utility would this be added to

MultiStackedBarChart (@uifabric/charting)

#### Have you discussed this feature with our team, and if so, who

No

#### Additional context/screenshots

![Horizontal bar chart highcharts](https://user-

[2020-06-19 04:56] tusharjape-msft opened #13700 "LineChart: X-axis and Y-axis titles should be displayed"
#### Describe the feature that you would like added

User should be able to set up and display X-axis and Y-axis titles.

#### What component or utility would this be added to

LineChart (@uifabric/charting)

#### Have you discussed this feature with our team, and if so, who

No

#### Additional context/screenshots

![image](https://user-images.githubusercontent.com/66400291/85098123-4df33d80-b217

[2020-06-19 05:00] tusharjape-msft opened #13701 "LineChart: hideLegend should be available for individual legends"
#### Describe the feature that you would like added

User should be able to configure show/hide status for each legend.

#### What component or utility would this be added to

LineChart (@uifabric/charting)

#### Have you discussed this feature with our team, and if so, who

No

#### Additional context/screenshots

[2020-06-19 05:13] tusharjape-msft opened #13702 "LineChart: X-axis labels should be customizable (for numeric values also)"
#### Describe the feature that you would like added

Currently the x-axis labels supports customization according to formats defined in [https://www.npmjs.com/package/d3-time-format](url). User should also be able to define customization outside this limitation also.

#### What component or utility would this be added to

LineChart (@uifabric/charting)

#### Have you discussed this feature with ou

[2020-06-19 07:20] v-jashr opened #13704 "[ Check-box-Disabled-Won't Get Focus ] : Focus won't go on Disabled check box, So It is not convey message to Narrator/NVDA ."
Actual Behavior:
In Disabled option checkbox won't get focus.

Repro: https://developer.microsoft.com/en-us/fabric#/controls/web/checkbox

Repro Step:
Open Edge browser with above link.
Go to checkbox, tab through page try to reach on disabled checkbox.
Now observe that it's difficult to focus on checkbox which is disabled.

Expected
Focus should go on disabled check box and narrator should speak

[2020-06-19 10:04] kangka29 opened #13705 "ComboBox: aria-label is absent for list container"
### Environment Information

- **Package version(s)**: office-ui-fabric-react@v7.117.4
- **Browser and OS versions**: all

### Sample app with Issue reproduced:
https://ref-styled-component.stackblitz.io

### Source code for Sample:
https://stackblitz.com/edit/ref-styled-component

###Prerequisites:
- Add [accessibility insights extension for web](https://accessibilityinsights.io/docs/en/web/overv

[2020-06-19 10:35] #13619 closed

[2020-06-19 11:32] 9percent opened #13708 "RTL split button style messed up"
### Environment Information

- **Package version(s)**: 7.121.0
- **Browser and OS versions**: Chrome 83.0.4103.106 Win10 1909

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

right-to-left split button style broken
![image](https://user-images.githubusercontent.com/1983190/85127881-d9de8700-b262-11ea-9096-c7fe32e87e05.png)

#### Expected behavior:

Correctly rend

[2020-06-19 12:13] jedmonsanto opened #13709 "Dropdown calloutClassName"
I have this function component for my Dropdown, my problem is how to inject a class in the Option
![image](https://user-images.githubusercontent.com/23548643/85131298-190fd680-b269-11ea-9c7d-3c444b93eb30.png)

I notice in the documentation there's a `calloutClassName`, how i can put my desired className on it, i find it hard to understand in the documentation.
![image](https://user-images.githubus

[2020-06-19 12:17] MichielDeMey opened #13710 "Checkbox: Add "required" property to Checkbox component"
#### Describe the feature that you would like added

I believe it would be beneficial to add a "required" property to the Checkbox component to indicate that it's mandatory to check the checkbox.

A use-case here is for example an "agree to terms and conditions" checkbox during registration.
Usually, these checkboxes are mandatory before you are able to continue the registration process.

#### Wha

[2020-06-19 13:48] #13661 closed

[2020-06-19 14:56] v-sagsah commented on #13291
@smhigley Thank you for the fix. We could see your PR is still in open status. Is there any way to expedite the process ?  As we are approaching to our release date & we have to go through 1CS assessments. Without fixing these issue our accessibility grade can be impacted.

[2020-06-19 16:21] paulgildea commented on #13692
We need to determine if this can be released in the current version or if this has to be something in the next version of the library.

[2020-06-19 16:25] paulgildea commented on #13693
@joschect Is this the expected behavior of onResolveOptions? If so, sounds like we should update the documentation for that, if this is a bug then we should consider fixing this when we get to refreshing the ComboBox

[2020-06-19 16:30] paulgildea commented on #13694
@dzearing What's our support story for Portals?

[2020-06-19 16:43] paulgildea commented on #13704
@jurokapsiar Can you help on the pattern we are supposed to use here?

It seems like we're supposed to use `aria-disabled` but just using that allows you to interact with the checkbox?

[2020-06-19 17:01] schemburkar commented on #13411
Thanks @ecraig12345 and @ThomasMichon for the analysis. Appreciated!

I agree with you that the solution is not straightforward and that is fine. One thing to note is that the syntax of `Selection<T>`is also broken anyways for generic types.

A suggestion: can we have a simpler, clearer solution if we go for a breaking change targeted for a major release?

I would rather have this fixed in the bes

[2020-06-19 17:03] paulgildea commented on #13709
Thanks for the question!

e're trying to grow our community over on Stack Overflow to provide answers to coding questions like this.

It would be super helpful to file this on [Stack Overflow](https://stackoverflow.com/questions/tagged/office-ui-fabric-react+or+fluentui) using tags: office-ui-fabric-react, fluentui-react

If you have specific feedback on the documentation on how to to make it more

[2020-06-19 17:19] paulgildea commented on #13710
@MichielDeMey Thanks for feedback looks like we have something similar on `TextField`

Would you be willing to make this change?

If so - we'll
1. Follow up with design on the default visual treatment
2. Write down the desire behavior of the `required` property (answer questions like is it just the same as `TextField`
3. Close on behavior and decide on the potential fix

Thanks for the feedback!

[2020-06-19 18:26] lorejoh12 commented on #11508
We just missed this, I can't think of any reason we would have intentionally avoided doing this.

[2020-06-19 19:47] dzearing commented on #13676
Yeah that's an issue. I updated the PR with use case. Will dig in with some ideas

[2020-06-19 20:55] sushruth opened #13716 "Property 'as' does not exist on type 'IntrinsicAttributes & ...' on Provider when wrapping in another component"
### Environment Information

- **Package version(s)**: 0.50.0
- **Browser and OS versions**: Edge Chromium on Windows 10

### Please provide a reproduction of the bug in a codepen:

the `as` prop does not seem to be typed properly when Provider is customized via another component

![image](https://user-images.githubusercontent.com/2114206/85178737-22cb1700-b234-11ea-8f0f-f74b009aaf06.png)

Repro t

[2020-06-19 21:51] #13668 closed

[2020-06-19 22:22] wuwei8372 opened #13719 "TextField - To show error style by passing a boolean property"
#### Describe the feature that you would like added

This example below shows the error styling (red boarder) of the TextField by passing "errorMessage" property. Could it be possible to pass a boolean variable (instead of a string type errorMessage) to decide whether to show the error styling? Because we want to show the error styling without any error message.

<TextField label="With error messa

[2020-06-19 22:44] chihch opened #13720 "GroupedList item's onClick event cannot be trigger by keyboard 'enter'"
### Environment Information

- **Package version(s)**: 7.94.0
- **Browser and OS versions**: Windows 10 PC

### Describe the issue:

We are using Panel component and put a GroupedList in panel body. Everything works fine except that the onClick handler of groupdedList item is not called if we using keyboard navigation and click enter key to try to trigger the onClick handler. Our groupedList item

[2020-06-19 23:04] lzl124631x opened #13721 "The toggle should be rendered as inline-block instead of block"
### Environment Information

- **Package version(s)**: https://developer.microsoft.com/en-us/fluentui#/controls/web/toggle
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

![image](https://user-images.githubusercontent.com/5824517/85184928-adb50d00-b246-11ea-94e7-75ecf79d72df.png)

In the above screenshot

[2020-06-19 23:11] wuwei8372 opened #13722 "Checkbox - passed tabIndex property is not being added to <input> element"
### Environment Information

- **Package version(s)**: 6.211.6
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/wwuei8372/pen/MWKJZzZ

#### Actual behavior:

Passed tabIndex is not inherited and added to <input> element of Checkbox.

Code is shown below:
![image](https://user-images.githubusercontent.com/1785

[2020-06-20 00:00] #13613 closed

[2020-06-20 14:34] nmaitreyi opened #13728 "can we hide the close icon in react dialog ?"
` <Dialog
                        title="Dialog Title"

                        onClose={this.handleClose}
                        buttons={
                            [{
                                text: "Close",
                                onClick: () => this.handleClose()
                            }]
                        }>
                        <h1>Dialog Content</h1>

[2020-06-20 19:00] #13709 closed

[2020-06-21 01:38] Losses commented on #3692
The problem is still there.

[2020-06-21 12:07] jedmonsanto commented on #13728
@nmaitreyi i added this property `dialogContentProps` and no close button appears in my dialog
![image](https://user-images.githubusercontent.com/23548643/85224083-4a6bdc00-b3fa-11ea-84ac-b02a777a8600.png)

it replaces the border top blue when added the property
![image](https://user-images.githubusercontent.com/23548643/85224139-aafb1900-b3fa-11ea-9f8b-f98706e2d7af.png)

i wonder why i can't find

[2020-06-22 01:29] git-ced opened #13730 "Most toggled components hides on scroll"
**Note:** Not sure if this is a bug or its part of the design.

#### Actual behavior:

Most components that are toggled (pickers, dropdown, combobox, etc.) hides/dismiss on scroll. I often found it a bad user experience when i accidentally scroll, or wants to scroll to look for more details.

#### Expected behavior:

The toggled components will retain its visibility state on scroll.

### Prioritie

[2020-06-22 04:49] nmaitreyi commented on #13728
thank you so much this solved my issue.

[2020-06-22 04:59] kumardeepakr3 opened #13731 "DatePicker Calendar control to allow custom text and color highligting"
#### Describe the feature that you would like added
The DatePicker Calendar control should allow for addition of text and color to the calendar dates.

#### What component or utility would this be added to
I'm from FlightBooking team in Bing. We're looking for adding extra feature of showing fares for booking on our calendar (uses fluent-ui). There are hundreds of websites out there dedicated to b

[2020-06-22 05:23] v-atkulk commented on #13685
Here is the CodePen repro for the bug: https://codepen.io/Douglas2020/pen/PoZpBZX
You could also just use screen reader like NVDA, and tab to the disabled Combo-box, will find that is still readable.

[2020-06-22 05:31] DouglasXiao commented on #13685
Hi @khmakoto , please kindly refer to the above CodePen link and here is few of my analysis.

**Root cause**:
The Fabric UI component ComboBox does not support attribute like "allowDisabledFocus" as other components.

**Suggested Solution**:
Inside ComboBox, Autofill component is rendered, and inside Autofill component, is using <input .../>. If can put tabindex={-1} inside the <input .../> based

[2020-06-22 07:24] AbhijitUI commented on #13663
Hi @khmakoto, thank you for reviewing the issue & apologies for the delay in response!
Please find a video depicting the behavior on the CodePen, Thanks!

[GitHub Issue Video.zip](https://github.com/microsoft/fluentui/files/4811753/GitHub.Issue.Video.zip)

[2020-06-22 07:37] pixels89 commented on #13561
@paulgildea  Thanks for accepting this request. Can you provide an appx estimate on this so that we can plan accordingly on our side?

[2020-06-22 08:14] jurokapsiar opened #13733 "Button: hidden prop overriden by styles"
### Environment Information

- **Package version(s)**: 0.50
- **Browser and OS versions**: all

### Please provide a reproduction of the bug in a codepen:

`hidden` prop does not hide the `Button` as `display: inline-flex` is aways applied

https://codesandbox.io/s/stq2b?module=/example.js

[2020-06-22 10:21] kangka29 opened #13735 "DetailsList: Cells in Grouped DetailsList does not read out column header"
### Environment Information

- **Package version(s)**: office-ui-fabric-react@v7.117.4
- **Browser and OS versions**: all

### Issue reproduced in codepen:
Export to codepen from [component page](https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist/grouped) of Official Fluent UI website.

#### Actual behavior:
Screen reader not reading out column header when focussed on each ce

[2020-06-22 13:29] #13623 closed

[2020-06-22 13:40] assuncaocharles commented on #13337
Hey @abdullahsalem

RTL content works as expected inside a `<Provider rtl >` and LTR content works as expect in the ltr context. Not sure if LTR text should be working normally inside RTL context.

Any thoughts? @mnajdova @layershifter @jurokapsiar

[2020-06-22 13:46] sarahkang58 opened #13738 "React testing library with combobox with no autocomplete"
Hi sorry, I did post my question in Stack Overflow and someone did respond but I'm not sure if they got a notification from my response, and it's been about a week without any answers back.

Please look at this Stack Overflow post: https://stackoverflow.com/questions/62289642/how-to-use-react-testing-library-to-test-combobox-component

[2020-06-22 14:37] #13545 closed

[2020-06-22 16:16] Ashwin-Nikam commented on #13606
Hey @paulgildea @khmakoto do we have any updates on this? 😀 I was hoping this could be prioritized as we need accessibility sign off for a feature in OWA.

[2020-06-22 16:25] khmakoto commented on #13606
@paulgildea I don't have a Mac with which to test/address this, could you reassign to someone else?

[2020-06-22 19:16] ecraig12345 commented on #13411
Unfortunately I'm not sure a clean solution exists with current TS features, since what we need for a clean solution is type parameter inference in the constructor (I suspect someone has filed an issue with TS about this but am having trouble finding it).

Not sure what you mean by this?

[2020-06-22 20:27] khmakoto commented on #13680
I wonder if this is something that should be done automatically or not and how we'd do it.

In this scenario you are explicitly replacing the values of the `content` in your `state` hook. I'd expect something like:

[code]

[2020-06-22 21:44] lzl124631x commented on #13721
ping

[2020-06-22 23:23] rameshmaganti opened #13746 "IconButton triggering onDismiss as soon as the menu is launched on iPhone"
### Environment Information

- **Package version(s)**: ^7.105.9
- **Browser and OS versions**: Safari Browser and iOS 13.x

### Please provide a reproduction of the bug in a codepen:  The issue is not repro in codepen https://codepen.io/sergulo/pen/abdWoQN however reproes on the dev/ppe/production site.

#### Actual behavior:

1. Go to URL: https://support.xbox.com/
2. Login to the application wit

[2020-06-23 00:29] yanbxice opened #13749 "ICommandBarItemProps doesn't support focus method"
### Environment Information

- **Package version(s)**: Latest version
- **Browser and OS versions**: All

### Describe the issue:

I'm implementing a command bar with several buttons on it. The buttons are of type ICommandBarItemProps and assigned to attribute "items" of CommandBar. Now I want to set focus for one of the buttons using componentRef, but it says cannot find focus() on IContextualMen

[2020-06-23 00:53] #13675 closed

[2020-06-23 07:49] llynxs commented on #13603
@paulgildea hi, are there any changes regarding the status of the issue?

[2020-06-23 09:25] dynamite-ready opened #13755 "Masked Input Cursor Control"
The issue I'm raising has already been identified in the following link:

https://github.com/microsoft/fluentui/issues/11323#issue-529493331

This image best illustrates the issue:

![image](https://user-images.githubusercontent.com/1434956/69746739-cb2f5780-10f9-11ea-85d8-b844bc16734f.gif)

However, the other issue was closed without a resolution, so wondered about the change of status.

Edit - U

[2020-06-23 10:00] KalapJo1 opened #13756 "Panel Header text and Close button on top are not inline they render differently when compared to the sample shown."
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

Close button and header text should be in same div, In the sample, they are present under panel navigation div. But when I use in SPFX  and on serve it, header text is present in content

[2020-06-23 10:49] Dangerous-Mind opened #13757 "Dropdown select item by pressing the first chars in his title"
#### Describe the feature that you would like added
On the normal HTML Dropdowns, on modern browsers, if you press the first letter you are selecting the first item with that letters you pressed. This doesn't happen in the Fluent UI dropdown.

There are other options that use a similar usability of this feature, like the Combobox, Virtualized Combobox or Tag Picker. But it's not the same thing as

[2020-06-23 11:48] eivindland opened #13758 "Screen reader does not read pre/suffix"
## Environment Information

- **Package version(s)**: 7.110.2
- **Browser and OS versions**: Safari, Firefox

### Describe the issue:

When you use prefix and/or suffix on a TextField, the screen reader software does not read the pre/suffix value. For instance if the you have a textfield with the label "Weight" and the suffix "grams", the screen reader will simply say "Weight" and ignore "grams",

[2020-06-23 13:28] #13628 closed

[2020-06-23 13:57] zeedomD opened #13759 "The browser cuts out the Coach Mark and TeachingBubble"
### Environment Information

- **Package version(s)**: 7.121.1
- **Browser and OS versions**: All Browsers

### Please provide a reproduction of the bug in a codepen:
1. Go to Coach Mark Fabric React UI Example Page: https://developer.microsoft.com/en-us/fluentui#/controls/web/coachmark

2. Open the example in CodePen

3. Change the CoachMark position to Left Top Edge.

#### Actual behavior:

The

[2020-06-23 14:04] SavannahBourgeois commented on #13574
@paulgildea @JustSlone @dzearing Can you help find an owner for this? We have a few accessibility bugs on it and need to know if it will be fixed in time or if we will need to do a workaround on our side.

[2020-06-23 14:21] reijam opened #13760 "Horizontal scroll of header column in scrollablePane with sticky header"
Not sure if this is a bug, a new feature or just missing documentation.

i have gone through the ScrollablePane, DetailsList and Sticky components in detail and it seems that horizontal scrolling is not a degree of freedom allowed for a sticky header.

My goal is to have the column headers stay at the top of the page while scrolling down but at the same time when scrolling right have those same he

[2020-06-23 14:35] omerquyyum12 opened #13761 "autoClose calendar component when user select date."
### Environment Information

- **Package version(s)**: (6.27.0)
- **Browser and OS versions**: (chorme)

### Describe the issue:

#### Actual behavior:
when i select date from date picker the calendar automatically close it self.

#### Expected behavior:
it should remain open . i am making a component based on DatePicker where i can select multiple random dates. issue is each time i select date th

[2020-06-23 14:59] ianchursky opened #13762 "Site/Docs not loading in North America"
Your site https://developer.microsoft.com/en-us/fluentui is not loading in North America. However, we have a colleague in India for whom it does load.

There are 404s on 2 scripts.

[2020-06-23 15:32] rchandu commented on #13762
I'm in India and it doesn't load here currently.

PFA error in console:
<img width="676" alt="Screenshot 2020-06-23 at 8 58 46 PM" src="https://user-images.githubusercontent.com/6855103/85423634-905ca780-b594-11ea-9eda-82274bcb06f1.png">

Error as text:
`GET https://fabricweb.azureedge.net/fabric-website/v7_20200623.1/fabric-sitev5.min.js net::ERR_ABORTED 404`

`GET https://fabricweb.azureedge.net

[2020-06-23 15:48] JustSlone commented on #13685
@v-atkulk and @DouglasXiao
As I understand it, the correct accessibility behavior is to focus the disabled control. Otherwise users using screen readers would not know the item exists at all. This is especially true for buttons, but I believe it also extends to ComboBoxes.

Other components (such as Button) didn't use to behave correctly, so the "allowDisabledFocus" was added to enable this access

[2020-06-23 16:45] reijam commented on #13760
Further to my inquire/bug report i have discovered a bug (or deliberate oversight) in the ScrollablePaneBase.js module.

For some bizarre and unknown reason horizontal scroll events are not picked up by an individual component  they have to be grabbed the same way as a resize event (through the window).

  ` window.addEventListener('scroll', this.doScroll, { passive: true }) `

In the ScrollablePa

[2020-06-23 20:48] ianchursky commented on #13762
The site seems to be loading fine now so I'll go ahead and close this one out.

[2020-06-23 20:48] #13762 closed

[2020-06-23 20:52] JustSlone commented on #13574
Looking into this more, we're really talking about SwatchColorPicker not a Grid component per say. @ecraig12345 is code owner of SwatchColorPicker, tagging her in case she has any additional insight.

So, this example given does actually meet the requirement of being able to fit in 320 pixels wide.

I think the short term recommendation here would be to ensure that the specifications passed to the

[2020-06-23 21:17] ecraig12345 commented on #13574
This is basically a duplicate of #11481 as far as the functionality requested. As mentioned there, it's not feasible to add reflow in the current implementation which (incorrectly) uses a table, but could definitely be possible if we rewrite it to get rid of the table and use `<Stack wrap>` or something like that. Since we're working on a major version bump, we could consider that option.

[2020-06-23 21:23] paulgildea commented on #13719
@ecraig12345 we found a that passing `true` or `false` to the `errorMessage` property. If you assign it to `false` it won't render the message.

Is this the expected behavior?

@wuwei8372  if you pass `false` does this get your desired behavior?

[2020-06-23 21:25] SavannahBourgeois commented on #13574
So essentially we will need to calculate the number of columns to pass to a Grid for now until V8 which will (maybe?) have the Grid use a stack? We are using the Fabric Grid right now for our galleries like in the screenshot below, so it is not just for the Swatch Picker.

@makopch-ms as FYI

![image](https://user-images.githubusercontent.com/42548121/85465080-368cbb00-b55d-11ea-8528-32077e83cb41.

[2020-06-23 21:28] ecraig12345 commented on #13719
`errorMessage` wasn't intended to take a boolean, so any behavior you happen to see in that case today is unintentional and probably shouldn't be relied upon.

I don't think we should add this type of feature to TextField right now, but it's something we could consider when working on converged TextField form components in the future.

[2020-06-23 21:29] paulgildea commented on #13721
@xugao Do you think making this fix will break existing customers?

If @xugao confirms that this is a safe fix @lzl124631x  feel free to submit a PR

[2020-06-23 21:33] paulgildea commented on #13722
Thanks for the issue!

[2020-06-23 21:33] #13728 closed

[2020-06-23 21:37] paulgildea commented on #13730
I'll follow up to see if this is by Design.

[2020-06-23 21:38] wuwei8372 commented on #13719
Thanks for the response @ecraig12345 and @paulgildea! I found passing true to errorMessage is the desired behavior, which shows the red boarder without showing any error message. So if errorMessage wasn't intended to take a boolean, may I know is there another way to get the same behavior (red boarder without error message)? (is this possible to create another boolean property of TextField for thi

[2020-06-23 21:42] ecraig12345 commented on #13574
Unfortunately yeah. If you want to ensure that wrapping is supported in version 8, we'd be happy to accept a contribution converting it from a table to a Stack or some other setup. (I'm not 100% sure offhand that Stack would be the right solution, but it's the first obvious thing that comes to mind.)

It's also interesting that you have another use case for Grid--I hadn't expected it to be used an

[2020-06-23 21:42] paulgildea commented on #13731
@lorejoh12 I'll connect you with @kumardeepakr3 to see if this is something on your roadmap for the component.

[2020-06-23 22:00] paulgildea commented on #13738
Thanks for reaching out.

We try our best to get to all our questions on Stack Overflow and this may have slipped out.

Thanks for understanding!

[2020-06-23 22:00] #13738 closed

[2020-06-23 22:02] xugao commented on #13721
@lzl124631x - i believe the right fix should be to `preventDefault` on `Label` click:
https://github.com/microsoft/fluentui/blob/785bb938355c341229996fcd3c6e51445de5d336/packages/office-ui-fabric-react/src/components/Toggle/Toggle.base.tsx#L154
So we need to add `onClick` on this line and add `ev.preventDefault` logic

[2020-06-23 22:08] ecraig12345 commented on #13719
You can continue to pass a boolean for now if you want, and it's likely to continue working for now, but I wanted to be clear that since it's not an intentionally added behavior it may change in the future (particularly across major versions).

We're currently trying to be very careful and selective about adding new props, because adding a new prop any time anyone wants one results in components w

[2020-06-23 22:16] wuwei8372 commented on #13719
Thanks very much for the clarification, this is very helpful!

[2020-06-23 22:16] #13719 closed

[2020-06-23 22:16] reijam commented on #13760
Adding another insight.

It appears that there is no way to get the window.scrollX data from within the ScrollablePane component.  It appears that the horizontal scroll event is generated in the DetailsListBase... and is from the root of that component.

Presently there is no scroll  trapping in that component and therefore it is not possible to capture that scroll in order to relay it back to the

[2020-06-23 22:24] SowmyaNat opened #13767 "Accessibility: [Two UI]: [Choice group]: In High contrast black disabled option radio button text is looks like regular text."
===== Comments Moved by Partner Bug Service 06/16/2020 09:15 PM UTC =====

Platform:

OS - Windows 10-Version 1909- (Build 18363.778)

Microsoft Edge Dev Build

Version 84.0.502.0  (Official build) dev (64-bit)

Pre-requisites:

High contrast black -Turn on

Repro steps:

1.Load https://account.microsoft.com/internal/twoui/iframe.html?id=common-choicegroup--when-an-option-is-disabled&viewas=engine

[2020-06-23 22:32] SowmyaNat opened #13768 "Accessibility: [Two UI]: [Choice group]: In High contrast black the selected state is not showing for Choice group radio buttons."
Platform:

OS - Windows 10-Version 1909- (Build 18363.778)

Microsoft Edge Dev Build

Version 84.0.502.0  (Official build) dev (64-bit)

Pre-requisites:

High contrast black -Turn on

Repro steps:

1.Load https://account.microsoft.com/internal/twoui/iframe.html?id=common-choicegroup--default&viewas=engineer&refd=account.microsoft.com in Edge browser with valid credentials.

2. Select 'option B' ra

[2020-06-23 23:26] JustSlone commented on #13720
So the onClick handler in this case is the standard handler that only responds to mouse clicks. If you want to also respond to key presses you can add an onKeyPress handler and test for the keycode.

Something like this. (I updated your codePen here: https://codepen.io/justslone-the-encoder/pen/RwrVeQp?editors=1010)
[code]

This should give the behavior you want, let us know if this works.

[2020-06-24 05:12] kangka29 commented on #13525
Please update on the status for this bug fix

[2020-06-24 06:47] Ashwin-Nikam commented on #13606
@paulgildea  any updates on this? 😀

[2020-06-24 07:40] v-ajrai opened #13771 "Clickable and non clickable items, in ComboBox dropdown ,are not differentiable on high contrast mode"
Clickable and non clickable items, in ComboBox dropdown ,are not differentiable on high contrast mode

### Environment Information

OS : 10
Browser: Edge

### Describe the issue:

Clickable and non clickable items,in ComboBox ,must be differentiated easily on high contrast mode.Clickable and non clickable items are not differentiable in high contrast mode on office ui fabric because they are of sa

[2020-06-24 08:10] assuncaocharles commented on #13375
It will be fixed by removing components (`FocusZone` and `FocusTrapZone`) from `react-bindings` once `FocusZone` will be in sync.

[2020-06-24 08:10] #13375 closed

[2020-06-24 08:58] Sharvani-Ashok opened #13772 "Narrator announces drop-down item information twice in ComboBox Input text field"
### Environment Information

- **Browser and OS versions**: Version 83.0.478.50 (Official build) (64-bit)

### Describe the issue:

When we use Narrator and go to the Input text field of the ComboBox dropdown through the down arrow key, the control information of the item is read twice (Ex: Basic combobox Option C combo init Option C)
The link Combobox:
https://developer.microsoft.com/en-us/fluent

[2020-06-24 09:57] luckyrass opened #13774 "GroupedVerticalBarChart: The second bar chart disappear when the number of GroupedVerticalBarChart is greater than 2 in one page"
### Environment Information

- **Package version(s)**: (@uifabric/charting_v2.3.3)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

The second bar chart disappear when the number of GroupedVerticalBarChart is greater than 2 in one page.

How to repo it?
Add one more GroupedVerticalBarChart in fluentui\packages\charting\src\comp

[2020-06-24 13:26] erdomke opened #13778 "Old version of @fluentui/react-icons-northstar was pushed to npm as the latest version"
It appears that an old version of the `@fluentui/react-icons-northstar` (`0.47.6`) was pushed to npm as the latest package which is causing issues with using this package at the correct latest version (`0.50.0`).

![image](https://user-images.githubusercontent.com/4406364/85564582-63dc7600-b5fc-11ea-8512-9f6361bb0fab.png)

[2020-06-24 13:39] layershifter commented on #13778
@erdomke thanks for reporting 👍

***

![image](https://user-images.githubusercontent.com/14183168/85567004-cc454a80-b630-11ea-9d1b-2d763a19ced6.png)

Fixed and sorry for inconvenience 🐱

[2020-06-24 14:17] AbhijitUI opened #13779 "DetailsList: [Accessibility][Screen Reader]: Screen reader announces "group" for column header."
### Environment Information

Environment:
OS: Win 10 (2004)
Build: OS Build (19613.1005)
Browser: Edge Chromium DEV Build (84.0.522.5) , Firefox(76.0)
ScreenReader: Narrator, NVDA

### Describe the issue:

ScreenReader announces group while navigating on Table column header. It announces it as "group column header name header row 1 of 2".

### Please provide a reproduction of the issue in a codepe

[2020-06-24 14:33] layershifter opened #13780 "Dropdown: a cursor is moved to end of input on Delete/Backspace"
### Environment Information

- **Package version(s)**: `@fluentui/react-northstar@0.50.0`
- **Browser and OS versions**: Chrome

#### Actual behavior:

![dropdown-text](https://user-images.githubusercontent.com/14183168/85576053-5b099580-b638-11ea-9ac5-985954b3b65f.gif)

#### Expected behavior:

Cursor stays in a proper point.

### Priorities and help requested:

Are you willing to submit a PR to

[2020-06-24 14:35] AbhijitUI opened #13782 "Simple grouped DetailsList: [Enhancement Request] [Accessibility]: Feasibility to add aria-label as a prop for the grouped details list."
#### Describe the feature that you would like added

As of today, if we verify this component [Simple Grouped DetailsList](https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist/grouped), we don't have an option/way to pass custom aria labels depending upon the business need, we are requesting inclusion of a prop for aria-label which can be passed to the component.

#### What com

[2020-06-24 14:37] layershifter opened #13783 "Input: required are not passed to `input` element"
### Environment Information

- **Package version(s)**: `@fluentui/react-northstar@0.50.0`
- **Browser and OS versions**: Chrome

[code]

https://codesandbox.io/s/kbiyq?module=/example.js

#### Actual behavior:

[code]

#### Expected behavior:

[code]

### Priorities and help requested:

Are you willing to submit a PR to fix? Yes
Requested priority: Normal

[2020-06-24 14:44] schemburkar commented on #13411
@ecraig12345 sorry if I wasn't that clear. What I meant was anyone wanting to use the `Selection` api in generic form, like your example gives errors

Generic usage:
[code]

Even if we don't have a clean solution, something like above needs to work.

So I think the Selection code base can be refactored so that it's usage works, even if it could mean relaxing certain annotations on the constructor.

[2020-06-24 15:24] layershifter opened #13784 "Dropdown: Home/End do not move a cursor inside an input"
### Environment Information

- **Package version(s)**: `@fluentui/react-northstart@0.50.0`
- **Browser and OS versions**: Chrome

#### Actual behavior:

![dropdown-home](https://user-images.githubusercontent.com/14183168/85584527-82b02c00-b63f-11ea-92a1-9ba9121c3706.gif)

#### Expected behavior:

Cursor moves.

### Priorities and help requested:

Are you willing to submit a PR to fix? Yes
Requeste

[2020-06-24 17:39] Sneha-Mindtree opened #13787 "In scan mode, Narrator does not announce 'Selected' while navigating on ChoiceGroup using enter (Keyboard)"
In scan mode, we can use down arrow or up arrow to navigate towards the ChoiceGroup (radio buttons) and then press enter to select an unselected choice group, Narrator does not read as selected. Narrator does not announce 'Selected' while navigating on Radio button.
### Environment Information
OS: Win 10 (2004)
Build: OS Build (19613.1005)
Browser: Edge Chromium DEV Build (84.0.522.5) , Firefox(76

[2020-06-24 18:05] shivasai09 opened #13788 "callout non focusable text is not getting read by the screen reader"
### Environment Information

- **Package version(s)**: latest
- **Browser and OS versions**: edge+Nvda

### Describe the issue:

accoriding to the https://developer.microsoft.com/en-us/fluentui#/controls/web/callout , there is a example for (Non-focusable Callout with accessible text), it only works fine when there is onClick on the button. if we change the onClick -> onFocus the screen reader is

[2020-06-24 20:05] JustSlone commented on #13634
Assigning over to @xugao to track as part of upcoming Accessibility fixes

[2020-06-24 21:23] flanakin commented on #7327
+1

[2020-06-24 22:22] paulgildea commented on #13749
@joschect is this the preferred method for setting focus on a `CommandBar` button?

[2020-06-24 22:28] paulgildea commented on #13755
@dynamite-ready Thanks for bringing this back up. I looked at #11323 and I wasn't able to understand the expected behavior was supposed to be.

Could you possibly update this issue using the Bug Template: https://github.com/microsoft/fluentui/issues/new?template=bug_report.md

Thanks!

PG

[2020-06-24 22:34] paulgildea commented on #13756
@KalapJo1 could you provide a little more info to the issue that you are running into?

Could you possibly link to a example of the issue to help narrow this down? Possibly the package versions to help us understand if this is a recent regression or not?

[2020-06-24 22:39] paulgildea commented on #13757
@Dangerous-Mind good suggestion!

We're currently focusing on improvements to performance and coherence, as you can see in our pinned issue on the repo detailing our [v8 plans](https://github.com/microsoft/fluentui/issues/12770).

So while we don't plan to address this right now, we will take it into consideration when we schedule future work for `Dropdown`. Thank you for reaching out to us.

@Jus

[2020-06-24 22:44] paulgildea commented on #13758
@eivindland is this a bug with the current `TextField` issue or is this a feature request for the `TextField` component?

[2020-06-24 22:54] paulgildea commented on #13760
@reijam Thanks for your detailed insight! That's really helpful.

I'll follow up to see if `Sticky` was ever really meant to be used in horizontal scrolling case. My assumption is that it was not - but I could be mistaken.

I'll include @dzearing here for any insight on a possible work around, but we've lost some of the expertise on the team in this specific domain so to your point will most likel

[2020-06-24 22:58] joschect commented on #13692
@paulgildea  and @AndrewCraswell This is expected behavior and is intended, at least it was at the time of design. The Suggestion is not automatically selected, When you press escape the text is left in the textfield, but it has not been "completed". That is why the text is still highlighted as in
![image](https://user-images.githubusercontent.com/20801176/85635536-eb44dc00-b632-11ea-855a-7450b7e0

[2020-06-24 23:00] joschect commented on #13636
@paulgildea and @Byemax This could be a subtle bug possibly. It's happening because the mouse up is happening outside of the picker and I'm guessing that onBlur is called, but I'm not sure. This is an unintended problem and is a bug.

[2020-06-24 23:06] paulgildea commented on #13761
@omerquyyum12 Thanks for the feedback.

Currently our `DatePicker` only allows the selection of one date as opposed to a DateRange.

I'm going to mark this as by Design for now.

I don't have a good workaround for this issue off hand - other than composite two `DatePicker` components together to give you a range to reason over.

Adding @lorejoh12 for any other insight.

[2020-06-24 23:08] paulgildea commented on #13774
@Raghurk Is this a known issue?

[2020-06-24 23:09] paulgildea commented on #13778
Thanks @layershifter!

[2020-06-24 23:09] #13778 closed

[2020-06-25 01:34] yanbxice opened #13795 "[Calendar] Screen reader reads each calendar date twice"
### Environment Information

- **Package version(s)**: I'm using 6.190.0 but can also repro on Fluent UI site
- **Browser and OS versions**: Edge and Narrator

### Describe the issue:

This issue happens on a day picker with month picker on the right. When I navigate on the day picker by swiping on the touch screen, each date was read twice. Arrow keys navigation works fine.

### Please provide a

[2020-06-25 03:01] reijam commented on #13760
As I said I am willing to dig in on this if I can get a modicum of support.  let me know

[2020-06-25 05:47] omerquyyum12 commented on #13761
@paulgildea Hi, selection of one date is not an issue issue is with closing of date picker upon date selection. is there anyway datePicker remains open after date selection?

[2020-06-25 06:42] v-sagsah commented on #13291
@ecraig12345 / @smhigley Request you to please update on these ? Is it possible to make the fix available on or before 29th June ?

[2020-06-25 09:41] #13527 closed

[2020-06-25 10:36] v-atkulk commented on #13685
Hi @JustSlone
All the controls present on the screen receive screen reader focus whether they are in disabled state or in focusable state.
If the control is disabled it can be accessed using (caps+arrow) in narrator and arrow keys in NVDA.
Here the control is navigable using tab key it means that the control is still enabled/ focusable.
Request you to check the focusable property for the button/co

[2020-06-25 11:11] layershifter commented on #13784
It's a Downshift issue: https://github.com/downshift-js/downshift/issues/1097

[2020-06-25 11:39] #13337 closed

[2020-06-25 12:14] eivindland commented on #13758
@paulgildea Well, we have internally marked is as a bug with the current TextField since it easy for developers to use it in such a way that it does not been the accessiblity requirements. (It is however possible to meet the requirements by adding good labelling manually, but I think it would be a much better solution to make the screen reader say the pre/sufffix out loud automatically.)

One exam

[2020-06-25 13:10] eivindland opened #13799 "CheckBox: HTML validator error - div inside label"
### Environment Information

- **Package version(s)**: Fluent webside

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

The div inside a Checkbox' label is not valid. If you put the outputted code from as list of checkboxes into HTML validator: https://validator.w3.org/nu/#textarea the result is:

"Element div not allowed as child of element label in this context"

[2020-06-25 13:58] DesireTushar opened #13802 "DatePicker UI change language like dutch"
When select Date from date picker , Can we display date in dutch language
![image](https://user-images.githubusercontent.com/51224740/85733740-0e968680-b71a-11ea-9fe1-f472aa95fa8e.png)

[2020-06-25 14:38] KalapJo1 commented on #13756
I moved the application from "office-ui-fabric-react": "6.189.2" to "@fluentui/react": "^7.121.2". I recently added this panel component to the application and found the difference from that in the documentation. Please find the attached Image for the UI issue and the component props in the render method mentioned below.

Browser: MS Edge Version 83.0.478.54 (Official build) (64-bit)

render metho

[2020-06-25 15:09] #13783 closed

[2020-06-25 15:12] #13780 closed

[2020-06-25 15:12] #13784 closed

[2020-06-25 15:31] paulgildea commented on #13802
Thanks for the feedback @DesireTushar !

Are you asking how to display the date in a specific language or you can't display the date in a specific language?

We need a little more clarity on this issue to help us determine if this is an issue or not?

Thanks!

[2020-06-25 15:56] paulgildea commented on #13767
@xugao adding to #11742 list.

[2020-06-25 15:59] paulgildea commented on #13768
@xugao adding to the #11742 list.

[2020-06-25 16:01] paulgildea commented on #13771
@xugao adding to the #11742 list.

[2020-06-25 19:14] JustSlone commented on #13685
Got it, checked with folks knowledgeable on the Accessibility behavior here and we've confirmed that a disabled ComboBox should in-fact not be focusable via Tab.

The fix of adding tabIndex="-1" on the input element when the ComboBox is disabled also seems reasonable.

@v-atkulk or @DouglasXiao would you be interested in submitting a PR for this fix?

[2020-06-25 19:57] AndrewCraswell commented on #13692
Thanks @joschect, I think this makes sense. After testing it again I see what you're saying. Where it looks like it's leaving the full tag text in the picker, it hasn't actually been "completed". If you don't mind, I will update the HCL accessibility testing team for feedback -- otherwise this should just be closed by next week.

[2020-06-25 20:20] dzearing commented on #13592
https://codepen.io/dzearing/pen/Rwrgvdp?editors=0010

The current behavior is by design, but there is a (rather awkward) way to opt out of that design;

Provide the preventDismissOnScroll to calloutProps, and also doNotLayer flag is required to render it inline, rather than on a layer outside the scroll region.

[2020-06-25 23:09] #12960 closed

[2020-06-25 23:18] DouglasXiao commented on #13685
Hi @JustSlone , would be glad to do that, would you mind sharing the convention and more details of how to contribute to this repository?

[2020-06-26 01:05] JustSlone commented on #13685
Yeah, check out our wiki for setup instructions and contributing guidelines https://github.com/microsoft/fluentui/wiki/Setup#contributing-changes it should have what you need to know.
You may also need to sign the Microsoft Contributor License Agreement info here: https://github.com/microsoft/fluentui/wiki/CLA it's pretty easy.

If you have any questions or if the wiki is unclear let me know and I

[2020-06-26 03:20] jameelakowsar commented on #13774
#IssueFIxed
https://github.com/microsoft/fluentui/pull/13781

[2020-06-26 04:28] DesireTushar commented on #13802
yes i am not able to display in specific language

[2020-06-26 06:03] amrock-my opened #13814 "Update documentation on how to apply a custom Theme."
#### Describe the feature that you would like added
I created a React application, utilizing the Microsoft Fluent UI React library. Following the guidance from the documentation (https://developer.microsoft.com/en-us/fluentui#/controls/web/themes) I used the `loadTheme()` function. While this did style the components, it did not seem to apply the theme entirely on my application (body background w

[2020-06-26 06:27] Sachindagar opened #13815 "Multi Select combo box , UI Fabric , stop working in SPFX Control"
Multi Select combo box , UI Fabric , stop working in SPFX Control.
We are using Multi Select Combo box. It was working till yesterday however sudden its stop working. Whenever we are trying to select multiple values, the values are not selected.

Post selection, the values are not populated in the combobox

https://user-images.githubusercontent.com/26018001/85387276-f5f66700-b587-11ea-9281-3a23ac4

[2020-06-26 06:28] Sachindagar commented on #13815
We are using this with SPFX

[2020-06-26 07:12] shivasai09 commented on #13788
can anyone triage this issue

[2020-06-26 07:52] spideeee commented on #13592
I believe `Dropdown` does not support `doNotLayer` flag.

[2020-06-26 09:08] Agalin opened #13819 "Incorrect button colors in Azure Theme Dark"
After theme updates in 7.1 disabled buttons in dark Azure theme are no longer dark. Background and text color have been changed to those of the light theme. Additionally icon for disabled ActionButton is basically invisible with new colors used.

Those colors make it more visible that ActionButton without an icon is higher than the one with it. Is it intentional?

### Environment Information

- **

[2020-06-26 09:11] dynamite-ready commented on #13755
Sure. Will try to find some time.

[2020-06-26 09:31] dynamite-ready opened #13820 "Masked Input Cursor Behaviour"
### Environment Information

- **Package version(s)**: office-ui-fabric-react 7.121.2

### Current behaviour:

#### Actual behavior:

Quoting @micahgodbolt from #11323:

![image](https://user-images.githubusercontent.com/1434956/69746739-cb2f5780-10f9-11ea-85d8-b844bc16734f.gif)

#### Expected behavior:

Predictable cursor behaviour, when editing a `MaskedTextField` input component

[2020-06-26 11:42] SyedRehmanRazvi opened #13822 "NVDA is not announcing the sorting information when focus is on the table headers"
NVDA is not announcing the sorting information when focus is on the column headers.

Repro Steps:
1. Open the https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist
2. Navigate to column headers at the table regions and activate the column headers and verify whether NVDA is announcing the sorting information or not.

Actual Result:
NVDA is not announcing the sorting information o

[2020-06-26 13:15] kolaps33 commented on #13566
so far two approaching are considering:
https://github.com/microsoft/fluentui/pull/13796
https://github.com/microsoft/fluentui/pull/13797

[2020-06-26 13:45] jacksonv1lle opened #13823 "The ability to configure the close button in the Dialog and Panel components"
#### Describe the feature that you would like added
I would like to be able to configure the IButtonProps of the close button in both the Dialog and Panel components however there is currently no way to do this using the IDialogProps or IPanelProps

#### What component or utility would this be added to

Panel
Dialog

#### Have you discussed this feature with our team, and if so, who

No

#### Addi

[2020-06-26 16:19] prajaybasu commented on #12488
If Microsoft truly wants to make their Fluent UI design an alternative to Material UI or other design frameworks that are completely open source, then this licensing issue needs to be answered in a proper FAQ document (mentioned in the main README file, preferably at the top) and the package/repository descriptions across the web need to be updated to reflect that Fabric UI is a general purpose UI

[2020-06-26 16:37] #13555 closed

[2020-06-26 18:21] dantist1122 opened #13826 "Accessibility: [Choice group]: extra focus with navigating with down arrow key"
### Environment Information

- **Package version(s)**: 7.120.2
- **Browser and OS versions**:
Microsoft Edge: Version 83.0.478.56 (Official build) (64-bit)
Windows 10 Enterprise 2004, OS build 19041.329

### Describe the issue:

In ChoiceGroup component if you do not provide text property, Narrator will read it as a simple input, if you add ariaLabel for the option it will read, but produce extra

[2020-06-26 19:22] voidsteed commented on #13596
I have the issue on both node 10 and 12:
error An unexpected error occurred: "https://registry.yarnpkg.com/@fluentui/react-icons/-/react-icons-0.1.31.tgz: ESOCKETTIMEDOUT".

[2020-06-26 20:20] haonliu opened #13828 "No focus indicator on focused dropdown item under windows high contrast mode"
### Environment Information

- **Package version(s)**: 7.98.0
- **Browser and OS versions**: Microsoft Edge Version 84.0.488.1 (Official build) dev (64-bit)
Windows 10 Version 1909(OS Build 18363.418)​

### Describe the issue:

No focus indicator on focused dropdown item under windows high contrast mode.

### Please provide a reproduction of the issue in a codepen:

* Go to https://developer.micro

[2020-06-26 22:59] brandonthomas opened #13829 "getSlots doesn't deeply merge props"
When building components with Slots APIs, props are not deeply merged. So if you have deep props that need this there is no way to solve.

Example: You have a HoverCard with some default props set but still want to allow overrides through slots without losing defaults unless the consumer explicitly does so.

#### Actual behavior:
No deep props merging. If there is a deeper prop, overriding it in a

[2020-06-26 23:20] lorejoh12 commented on #13731
This is an interesting question. The date-time's Calendar component does actually expose a property `customDayCellRef` that can sort of achieve this. Rather than expose a bunch of properties for individual things like color or text, we wanted a single property like a custom onRender() that would allow users to customize the component. However, that ended up being slightly tricky, because there are

[2020-06-26 23:39] meghanking opened #13831 "Calendar control with Headers as Buttons - Improper name for Header Button as it does not convey what the control does"
### Environment Information

- **Package version(s)**: 7.121.4 and earlier
- **Browser and OS versions**: Chrome/Edge and Windows 10. Chrome and Android

### Describe the issue:

When focused on the "2020" Header Button, the accessible name does not convey what the control's purpose. Customer will not know what invoking this button will do or change.

We do not have control of changing or augmenti

[2020-06-27 00:49] KalapJo1 commented on #13756
SPFX setup installs "office-ui-fabric-react": "6.189.2" on setup and when latest "@fluentui/react": "^7.121.2". is installed it does not remove the old package caused the issue.

[2020-06-27 00:49] #13756 closed

[2020-06-27 12:19] cmitides89 commented on #13596
I had too many issues with uifluent the documentation is extremely confusing. Everything still references office-ui-fabric-react. Its unclear how to import the components I need. Do I need to import them from office-ui-fabric-react? If that is the case then perhaps hold off on telling people to install fluentui. None of the components can be found when trying to import from fluentui. If I try to i

[2020-06-27 22:39] dotnetjunky commented on #13535
I tried upgrading to Typescript 4.0.0-beta and miraculously, it built successfully without this error. So this bug seems to be specific to version 3.9. :-/

[2020-06-28 06:00] #13761 closed

[2020-06-28 10:19] NewFuture commented on #12814
Hi @khmakoto and @dzearing, any update for this issue?

[2020-06-29 04:29] jtripathi226 opened #13834 "Date picker year defaulting to 2001 rather than current year"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Describe the issue:

When user types in just the date and month in a date picker, the picker defaults the year to 2001 rather than current year

#### Actual behavior:

Year defaults to 2001

#### Expected behavior:

Year should default to current year

### If appli

[2020-06-29 04:50] saisubrahmanya5699 opened #13835 "[Dropdown] Luminosity ratio is less than 3:1 for already selected list item present under drop downs."
### Environment Information

- **Package version(s)**: (fill this out) Latest
- **Browser and OS versions**: (fill this out) Chrome

### Please provide a reproduction of the issue in a codepen:

https://codepen.io/bssswamyberi/pen/BajwLme

### Describe the issue:

Go to codepen link as provided above
Please select one option in the dropdown
Verify luminosity ratio is less than 3:1 for selected lis

[2020-06-29 06:33] miroslavstastny opened #13836 "Component rendered outside Provider throws"
### Environment Information

- **Package version(s)**: @fluentui/react-northstar@0.50.0

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/button-without-provider-error-gbcyr?file=/src/App.tsx

Render a component out of a `Provider`.

#### Actual behavior:

![image](https://user-images.githubusercontent.com/9615899/85979650-32d7b900-b9e1-11ea-9bb2-b9f1011f3386.pn

[2020-06-29 08:45] luckyrass opened #13838 "GroupedVerticalBarChart: Bar chart is not updated when the chart data is updated"
### Environment Information

- **Package version(s)**: (@uifabric/charting_v2.3.5)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

**Description**
Click the "Change data" button to update the chart data of the second groupedVerticalBarChart. The X-axis and Y-axis is updated, but the bar chart is not updated.

#### Actual behav

[2020-06-29 11:46] mnajdova commented on #13836
The reason for this is that in all components we use:
[code]

First of all we want to get rid of this dependency to react-fela and create our own context.

In the meantime what do you think of these changes:

[code]

Anyway, I would say that this is not a big issue in this moment, and we already have plans for getting rid of the `ThemeContext` from `react-fela`, so I would propose let's hold off w

[2020-06-29 12:33] hoovercj commented on #4066
@dzearing you said you "would prefer to use a carousel model instead of the dropdown option." but it looks like the the PR by @behowell is back to an overflow menu. I'm curious what factors made the carousel model untenable

[2020-06-29 14:12] mnajdova commented on #13838
@Raghurk is this a known issue?

[2020-06-29 16:13] paulgildea commented on #7560
@xugao Let's use this as the main tracking issue.

[2020-06-29 16:14] paulgildea commented on #13735
@xugao I referenced this issue here https://github.com/microsoft/fluentui/issues/7560,

But let's use this one for tracking this issue for our a11y focus this coming iteration.

[2020-06-29 16:17] paulgildea commented on #13779
@xugao Let's determine the impact of this issue to see if this meets the bar for fixing in the DetailsList

[2020-06-29 16:22] xugao commented on #13779
@AbhijitUI - the codepen you had provided is empty. could you check and fix?

[2020-06-29 16:23] paulgildea commented on #13782
@AbhijitUI Thanks for the feedback. We'll consider it as we start to converge our components for v8.

@xugao Do you happen to know if we don't support this today? I'm assuming we don't.

[2020-06-29 16:29] paulgildea commented on #13788
@joschect Do you know if this the expected behavior for this specific example of `Button`? or is this a fundamental `Announced` issue?

[2020-06-29 16:36] lzl124631x commented on #13693
ping

[2020-06-29 16:56] Raghurk commented on #13838
We are investigating. Thanks!

[2020-06-29 17:16] xugao commented on #12496
@SarveshNamjoshi - sorry for the delay. ETA for fix is by end of week!

[2020-06-29 18:19] paulgildea commented on #13606
@mnajdova Is possible to get a repo of this issue?

[2020-06-29 18:38] paulgildea commented on #13834
@jtripathi226 Could you provide which version of the library you are using and possibly a codepen repo? That will help us understand if this a regression.

Thanks!

[2020-06-29 18:55] eugene-beliaev commented on #13542
I cannot do that, sorry

[2020-06-29 19:15] xugao commented on #13768
@SowmyaNat - I can't seem to repro this [here](https://developer.microsoft.com/en-us/fluentui#/controls/web/choicegroup):
![image](https://user-images.githubusercontent.com/1207059/86046557-40516b00-ba02-11ea-9fa6-d8f5f249d5db.png)

Could you confirm if this is still reproing for you? If so, could you provide a codepen? Thanks!

[2020-06-29 19:45] layershifter commented on #13836
We can make a step forward and use own React Context for this and get rid of dependency on `react-fela` there.

[2020-06-29 21:17] khmakoto commented on #12814
Hi @NewFuture, we're currently working in revamping our button experience for our next major release and that will hopefully address a lot of issues like this. Thanks for being an active user of our library!

[2020-06-29 22:30] SowmyaNat commented on #13768
Hi Xugo,
     In Edge Version : 83 it works fine (Changing the Contrast Mode from Windows->High Contrast->ON)
     Facing this issue in Edge Dev Version 85.0.552.1 (Official build) dev (64-bit) (Changing the Contrast Mode from Windows->High Contrast->ON)

[2020-06-29 23:08] yanbxice opened #13848 "Date picker shows current month as a button but not clickable which conveys incorrect info to screenreader users"
### Environment Information

- **Package version(s)**: uifabric/date-time@7.10.0
- **Browser and OS versions**: Edge + Narrator, Windows 2004 (19041.329)

### Describe the issue:

On date picker, there is a header showing the current selected month, like "June 2020". This header is implemented by <button> but it is not clickable. When Narrator is on, it reads this as "June 2020 button". This conve

[2020-06-29 23:12] xugao commented on #13768
@SowmyaNat - We only officially support Edge officially released version downloaded from [here](https://www.microsoft.com/en-us/edge). Since your bug only repros in the dev version, we won't be fixing. Let me know if you have further concerns

[2020-06-29 23:22] SowmyaNat commented on #13768
Ok then guess that is fine .Thanks for your response.

[2020-06-29 23:22] #13768 closed

[2020-06-30 00:38] brandonthomas commented on #12562
We have this issue when expanding/collapsing a navigation. I think the primary event for OverflowSet and CommandBar are window resize which is why elements changing size don't trigger it. I think moving to a model that uses ResizeObserver is a much more robust way to do this.

[2020-06-30 00:45] brandonthomas commented on #12562
We're also seeing an issue with CommandBar where the resize events seem to be triggered between frames. So the result is that the final render is based on a width that is no longer correct. Sometimes for us we see the end of our CommandBar items out of frame as a result.

I think the issue is this line of code. Because it's a hard 16ms debounce if you have some frame times between the debounce and

[2020-06-30 01:52] rechardjli opened #13852 "How to open a dialog and fill in some information, then save them to SharePoint list?"
For _how-to_ questions and other non-bugs, please use StackOverflow instead of Github issues. You can tag your questions with [office-ui-fabric][fluentui-react] [fluentui](https://stackoverflow.com/questions/tagged/office-ui-fabric).

If you are a Microsoft employee you can also join the "Fluent UI Community" Teams channel.

[2020-06-30 01:54] rechardjli commented on #13852
How to open a dialog and fill in some information, then save them to SharePoint list by clicking CommandBar action ?

[2020-06-30 05:33] AbhijitUI commented on #13779
@paulgildea @xugao Thanks for taking a look into this issue.

@xugao This is to notify you that the issue can be replicated on DetailsList component from Office UI Fabric, https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist, we are able to reproduce the same by exporting the same to Codepen, Thanks!

[2020-06-30 05:52] jtripathi226 commented on #13834
Here is the codepen: https://codepen.io/pen/?&editable=true=https%3A%2F%2Ffabricweb.z5.web.core.windows.net%2Fpr-deploy-site%2Frefs%2Fheads%2Fmaster%2Ffabric-website-resources%2Fdist%2Findex.html
Version: office-ui-fabric-react": "^6.213.0
Repro steps:

  1.  Edit date picker to enter date and month (6/12)
  2.  Date defaults the year to 2001 instead of current year 2020

Let me know if more infor

[2020-06-30 05:52] jameelakowsar commented on #13838
#PRRaised
https://github.com/microsoft/fluentui/pull/13853

[2020-06-30 06:35] jtripathi226 commented on #13834
Apologies the codepen shared isn’t accurate, there seems to be some problem in generating codepen, you can test it out here for reference: https://docs.microsoft.com/en-us/javascript/api/examples/datepicker?view=office-ui-fabric-react-latest

From: Paul Gildea <notifications@github.com>
Sent: Tuesday, June 30, 2020 12:09 AM
To: microsoft/fluentui <fluentui@noreply.github.com>
Cc: Jyoti Tripathi <J

[2020-06-30 06:52] ayushgp opened #13854 "Overriding is-selected for NavLinks"
I'm trying to mark a link as selected if the base URL matches. For example, I have a link `/contacts` which automatically get marked as active/selected when I navigate to that route. But in cases where I have a link like `/contacts/204` I'm trying to manually mark it as selected using the following. But this class gets added to the inner link but not the outer CompositeLink.

[code]

My Nav Compon

[2020-06-30 09:54] rymeskar opened #13858 "@fluentui/date-time-utilities tests do not run on Windows."
### Environment Information

- **Package version(s)**: 7.1.2
- **Browser and OS versions**: Windows build machine

### Please provide a reproduction of the bug in a codepen:

Relates to build so the codepen is irrelevant.

#### Actual behavior:

`process.env.TZ = 'UTC';` jest [setup](https://github.com/microsoft/fluentui/blob/6525619bf5e6c844406ed3cb9ad3103237eff89f/packages/date-time-utilities/co

[2020-06-30 10:16] NewFuture commented on #12814
@khmakoto thanks 😸

[2020-06-30 16:23] paulgildea commented on #13799
@eivindland Thanks for the issue!

We probably won't address this issue in the current version as folks have taken dependencies on internal structure of components in the past; however, we can take this into consideration as we converge our components in the v8 code base.

@joschect - This would be considered a breaking change correct?

[2020-06-30 16:27] paulgildea commented on #13814
@amrock-my This is a great and detailed feature request! Thank you!

Yes this is great feedback and we should really make this more straight forward especially since there has been more focus on "dark modes" in products.

@aneeshack4 - Is this something you can look into?

@JustSlone - if @aneeshack4 can't take a look at this - can we get this on the July schedule?

[2020-06-30 16:36] paulgildea commented on #13815
@Sachindagar Thanks for the version information of both SPFX and Fluent.

[2020-06-30 16:40] paulgildea commented on #13819
@Agalin Thanks for the issue.

There's been some codeowner changes in this area - and we'll track down an individual to take a look at this area.

Thanks!

@micahgodbolt @JustSlone - FYI

[2020-06-30 16:43] paulgildea commented on #13820
@dynamite-ready Thanks for the repo of the issue and version information!

[2020-06-30 16:46] paulgildea commented on #13822
@SyedRehmanRazvi which version of Fluent/Fabric are you using in the above screen shot? Thanks!

[2020-06-30 16:49] paulgildea commented on #13823
@jacksonv1lle Thanks for the feature request.

What exactly are you trying to achieve? There may be a workaround if you are trying to make a targeted change.

[2020-06-30 16:52] paulgildea commented on #13828
@haonliu Thanks for the issue.

Adding this to #11742 mega issue.

@xugao - FYI

[2020-06-30 17:04] paulgildea commented on #13831
@lorejoh12 - Can you take look at this?

@meghanking - Are you looking for the ability to provide an accessible name - like an additional API?

[2020-06-30 17:07] paulgildea commented on #13852
@rechardjli Thanks for the question!

We're trying to grow our community over on Stack Overflow to provide answers to coding questions like this.

It would be super helpful to file this on [Stack Overflow](https://stackoverflow.com/questions/tagged/office-ui-fabric-react+or+fluentui) using tags: office-ui-fabric-react, fluentui-react

Thanks again for the feedback.

@jdhuntington - FYI

[2020-06-30 17:15] paulgildea commented on #13854
@ecraig12345 - Is this the expected behavior or is there a way through CSSinJSS to supply an active link styling?

[2020-06-30 17:23] paulgildea commented on #13858
@rymeskar Thanks for the issue!

@lorejoh12 - Not sure if this is specific to the date-time package or if this is an infrastructure issue.

@ecraig12345 as FYI.

[2020-06-30 18:10] luckydennis opened #13865 "In high contrast (Black/White) mode, Visual focus indicator is properly not visible on "Learn more" link."
### Environment Information

- **Package version(s)**: 7.116.0
- **Browser and OS versions**: Edge Chromium Version 83.0.478.56 and Windows 10

### Describe the issue:

In high contrast mode the visual focus is not visible for the link in Severe Warning and Warning single line message.

I did notice you can have multi-line= {true} but only have a single line message and the visual focus is visible

[2020-06-30 18:13] Ashwin-Nikam opened #13866 "ComboBox, when we open the dropdown and press down arrow, second option is highlighted instead of first"
### Environment Information

- **Package version(s)**: 7.120.0
- **Browser and OS versions**: Chrome + Win10

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/ashwin-7/pen/pogdyqW

#### Actual behavior:

When multiSelect is set to true and we open the dropdown in the ComboBox and press the down arrow key, second option is highlighted.

#### Expected behavior:

When pr

[2020-06-30 18:59] xugao commented on #13771
@v-ajrai, correct me if i'm wrong. in this case user can tell if it's clickable by hovering over each item. Also note, HC mode has limited set of color to pick from.

[2020-06-30 19:06] jacksonv1lle commented on #13823
Hi @paulgildea. Thanks for the reply. I'd like to be able to change the icon of the close button in these components

[2020-06-30 19:57] pcapel opened #13868 "TooltipHost renders native Tooltip in Safari with OverflowMode.Self"
### Environment Information

- **Package version(s)**: @fluentUI/react 7.117.3
- **Browser and OS versions**: Mac OS Catalina 10.15.5, Safari Version 13.1.1 (15609.2.9.1.2)

### Please provide a reproduction of the bug in a codepen:

(must be viewed in safari, see the second example)
https://codepen.io/Philopotamus/pen/zYrPKdB?editable=true%3Dhttps%3A%2F%2Fdeveloper.microsoft.com%2Fen-us%2Ffluentu

[2020-06-30 20:40] xugao opened #13869 "Slider: broken styles in High Contrast in Edge Chromium"
### Describe the issue:

### Please provide a reproduction of the issue in a codepen:
https://developer.microsoft.com/en-us/fluentui#/controls/web/slider

#### Actual behavior:
In Edge chromium:
1. part of the line is missing
2. cannot tell slider is disabled

#### Expected behavior:
See the expected behaviors in (old) Edge:
![image](https://user-images.githubusercontent.com/1207059/86174787-2170d

[2020-06-30 21:33] yanbxice opened #13871 "How to dismiss FocusTrapCallout on touch screen devices without keyboard"
### Environment Information

- **Package version(s)**: version 7.x
- **Browser and OS versions**: Edge + Narrator + Thinkpad with touch screen, Chrome + VoiceOver + iPhone

### Describe the issue:

I'm using a FocusTrapCallout to show some additional information after clicking a button and also want to restrict the focus inside the callout. This works fine on devices have keyboards or screen reade

[2020-06-30 21:48] woofton opened #13872 "Basic DetailsList spacing accessibility bug"
### Environment Information

- **Package version(s)**: Latest
- **Browser and OS versions**: Edge

### Describe the issue:

Use [text spacing bookmarklet](https://nam06.safelinks.protection.outlook.com/?url=https://www.html5accessibility.com/tests/tsbookmarklet.html&data=02%7c01%7cv-asng%40microsoft.com%7ce2a5a71675ca46961a1e08d740227601%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c637048389059544

[2020-06-30 23:32] #12496 closed

[2020-06-30 23:55] #13162 closed

[2020-07-01 00:07] xugao commented on #13828
@haonliu - I do see the highlight background color when focused:
![image](https://user-images.githubusercontent.com/1207059/86188628-17110780-baf4-11ea-9f9b-1d3d4e568c63.png)

Could you provide a screenshot if you are not seeing the same?

Thanks

[2020-07-01 00:13] xugao commented on #13491
@paulgildea - this is a high contrast bug and it repros on both old/new Edge

[2020-07-01 00:28] xugao commented on #13633
This is a bug. Will working on a fix

[2020-07-01 00:34] #13767 closed

[2020-07-01 00:39] #13188 closed

[2020-07-01 00:40] bcoard commented on #13491
@paulgildea Let me know if you want to discuss this with me a bit more in depth. I filed this bug to help better align with Office designs and feedback.

[2020-07-01 03:49] chenxinyanc opened #13877 "tooltipHostProps.content is not applied for CommandBar button with iconOnly=false"
We are using TooltipHost to keep the tooltip accessible (user can see tooltip when focusing on a button with keyboard instead of mouse) and consistent across the browsers, but we are blocked on the CommandBar.

### Environment Information

- **Package version(s)**: 7.121.6
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:
https:/

[2020-07-01 05:00] #13720 closed

[2020-07-01 07:39] #13603 closed

[2020-07-01 09:20] Sandhya-aluri opened #13879 "Accessibility : Focus is not going to "searchForMoreText" prop value in the Tag Picker Suggestion pop up in windows high contrast black and white mode"
### Environment Information

- **Package version(s)**: "office-ui-fabric-react": "^7.94.1"
- **Browser and OS versions**: chromium Edge , Windows 10

### Describe the issue:
We are using office fabric Tag Picker control. After applying high contrast black and white mode, the keyboard focus is not visible on the “Show more”(search For more text/Load all results) button in the Tag Picker while navig

[2020-07-01 12:01] Meher-Prabhu opened #13881 "ComboBox: Add onRenderTitle option for comboBox"
#### Describe the feature that you would like added

ComboBox has an option to custom render options (using onRenderOption) but if we want the same rendering style for the selected option in the input, we can't do that.

This is something which is available in dropdown. In dropdown, we can use onRenderOption for the option and onRenderTitle for the selected option.

Given comboBox is a superset of

[2020-07-01 15:08] dzearing commented on #13694
How are you testing? Are you using enzyme?

Just did a search on Jest React Portals and it seems like enzyme doesn't have an issue with portals. Curious if you've tried enzyme. See this:

https://stackoverflow.com/questions/48094581/testing-react-portals-with-enzyme

Also noticed in the callstack you're using react-test-renderer. Did a search for "react-test-renderer portals" and saw people mockin

[2020-07-01 15:11] dzearing commented on #13694
@paulgildea This is more about how the test utilities work with things which use React portals. I don't think there is anything we would be able to do at the component layer to make testing easier here other than providing ways to override the behavior in particular environments in the case there's something blocking testing.

[2020-07-01 15:12] reijam commented on #13694
Cheers for the pointers. I have tested around this issue but these new pointers might be useful.

will keep you posted...

[2020-07-01 16:24] paulgildea commented on #13866
Thanks for the repo @Ashwin-Nikam !

I'm able to repo the behavior you describe in the codepen.

[2020-07-01 16:29] paulgildea commented on #13868
Thanks for the issue @pcapel !

I'm able to repo the behavior on my end and indeed the native tooltip renders on the second example that you call out.

I'll get this assigned to the code owner for now - but let us know if plan on submitting a PR - we welcome it 👍

[2020-07-01 16:34] paulgildea commented on #13871
@yanbxice  Thanks for the question!

We're trying to grow our community over on Stack Overflow to provide answers to coding questions like this.
It would be super helpful to file this on [Stack Overflow](https://stackoverflow.com/questions/tagged/office-ui-fabric-react+or+fluentui) using tags: office-ui-fabric-react, fluentui-react

Thanks again for the feedback.

@jdhuntington - FYI

[2020-07-01 16:38] pcapel commented on #13868
For sure! I'm going to look into it Friday. I'll be sure to update if I find that I am able to submit a PR in a reasonable time frame. Thanks!

[2020-07-01 16:44] paulgildea commented on #13872
@woofton - looking at the repo the bookmarklet it says that's it's experimental.

Is this a testing tool or a supported feature for user to change text spacing?

[2020-07-01 16:55] paulgildea commented on #13877
Thanks for the repo @chenxinyanc !

[2020-07-01 16:58] paulgildea commented on #13879
Thanks for the repro @Sandhya-aluri

@xugao - Not sure if this is a pure High Contrast issue - so adding component owner

[2020-07-01 17:40] yanbxice commented on #13871
Thanks for your reply. I posted my question on stack overflow.

[2020-07-01 17:41] sancarn opened #13883 "Ribbon Menu"
#### Ribbon Menu

One of the most iconic parts of Office is the ribbon menu. I assume this is already part of the pipeline for fabric, but if it isn't it should be! I know I have previously had trouble implementing a ribbon-like system in the past and most aren't in a react-like system, unfortunately.

Typically speaking ribbon menus are divided into the following hierarchy:
[code]
#### What compo

[2020-07-01 19:00] #13852 closed

[2020-07-01 21:02] CampbellOwen opened #13889 "IconButton mouseOut called when opening submenu"
### Environment Information

- **Package version(s)**: 7.121.1
- **Browser and OS versions**: Edge: Version 83.0.478.56 (Official build) (64-bit)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

I'm getting inconsistent behaviour when tracking mouseOver and mouseOut events on an IconButton when triggering the submenu to open. I'm opening the menu with an IButton

[2020-07-01 22:12] xugao commented on #13634
@betrue-final-final - could you provide expected design for the overflow menu icon in High Contrast?

[2020-07-01 22:17] xugao commented on #13865
I think we should have a WindowText (not Highlight) color border when the link is focused. Similar to how `Link` component behaves.
@luckydennis - let me know if you disagree.

Note to dev: this issue is applicable for both Edge legacy & Chromium.

[2020-07-01 22:49] luckydennis commented on #13865
@xugao I am not sure what the color should be but I think the accessibility team just wants too see a visual focus.

[2020-07-02 05:16] tusharjape-msft opened #13894 "VerticalStackedBarChart: Accessibility issue in dark mode - axis values are incomprehensible"
### Environment Information

- **Package version(s)**: @uifabric/charting
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

![dark-fabric-column](https://user-images.githubusercontent.com/66400291/86319066-2bb6e200-bc51-11ea-84af-f6fa3107f4b1.PNG)
In dark mode axis values are incomprehensible

#### Expecte

[2020-07-02 05:40] tusharjape-msft opened #13895 "LineChart: Keyboard navigation does not transition between different legend lines in a chart"
### Environment Information

- **Package version(s)**: @uifabrc/charting
- **Browser and OS versions**: All

### Describe the issue:

In line chart while using keyboard navigation, the navigation does not transition between legend lines. If a particular line is selected by cursor arrow keys help navigate only on that line. After the last point on the line it should move to the next legend line.

#

[2020-07-02 11:09] jameelakowsar commented on #13838
updated code available in @uifabric/charting@v2.3.8

[2020-07-02 12:08] benceczeili opened #13899 "Missing splitButtonMenuButtonHovered property from IButtonStyles"
### Environment Information

- **Package version(s)**: office-ui-fabric-react
- **Browser and OS versions**:  All

### Please provide a reproduction of the bug in a codepen:

I would like to create a customized ****CommandBarButton**** with split option, by override the all of default styles.
But the IButtonStyle interface doesn't has splitButtonMenuButtonHovered property.

It has:
  -  ```typescr

[2020-07-02 14:18] kolaps33 opened #13900 "Information about available number of results is narrated on each item, while navigate in results list"
### Environment Information
reproducible in prod
https://fluentsite.z22.web.core.windows.net/components/dropdown/definition
JAWS 2020.20006.12
NVDA 2020.1
Chrome v.  83.0.4103.116

Issue is reproducible in various types of dropdown, I tried "selection", "multiple selection", "search selection"

Repro steps:
1. Navigate  to the results of dropdown
2. Navigate through the items in the list
3. observ

[2020-07-02 16:14] paulgildea commented on #13881
@Meher-Prabhu Thanks for the feature request.

We're currently focusing on improvements to performance and coherence, as you can see in our pinned issue on the repo detailing our [v8 plans](https://github.com/microsoft/fluentui/issues/12770). So while we don't plan to address this right now, we will take it into consideration when we schedule future work for `ComboBox`.

Thank you for reaching out

[2020-07-02 16:28] paulgildea commented on #13894
@Raghurk - Mind taking a look at this one? Thanks!

[2020-07-02 16:29] paulgildea commented on #13895
@Raghurk - Mind taking a look at this one too? 👍

[2020-07-02 16:35] paulgildea commented on #13834
@jtripathi226 Thanks for the update. We really appreciate it!

[2020-07-02 16:37] paulgildea commented on #13834
@mnajdova - This would be another good one to take a look at. If you have questions ping @lorejoh12

[2020-07-02 16:38] paulgildea commented on #13802
@lorejoh12 - Any thoughts on this one? Does the `DatePicker` provide a localized API?

[2020-07-02 16:39] paulgildea commented on #13779
@AbhijitUI Thanks for the repro we really appreciate it.

[2020-07-02 16:47] paulgildea commented on #13758
@eivindland - Thanks for the clarification.

I don't know if we can provide a reliable solution for TextField if units are embedded within the text of TextField were we can automatically provide that context to the screen reader.

I like the idea - but I don't believe we can achieve a predictable solution at this time.

I'm going to close this issue since it's blocking because while frustrating, m

[2020-07-02 16:47] #13758 closed

[2020-07-02 16:49] paulgildea commented on #13755
Dupe of #13820

[2020-07-02 16:49] #13755 closed

[2020-07-02 16:50] paulgildea commented on #13663
@mnajdova - This might need to be repro'ed to see if this is actually an issue.

[2020-07-02 16:53] paulgildea commented on #13532
@jdhuntington @dzearing - Can you help @tabrumle with a PR for the fix?

[2020-07-02 16:56] paulgildea commented on #13291
@ecraig12345 @smhigley - Any status on the PR?

[2020-07-02 16:57] paulgildea commented on #12708
Sounds like this is in PR. Removing needs attention.

[2020-07-02 17:05] meghanking commented on #13831
@paulgildea I am looking for the default accessible name of these buttons to have wording which also conveys what action the control will perform.

If that is unable to be provided, then I guess having some props where we can pass in a name will suffice. This is necessary as this issue is impacting the accessibility compliance for the products utilizing this control

This would also be true for th

[2020-07-02 19:00] #13871 closed

[2020-07-02 19:46] mryanlo opened #13905 "Bug: Selection states with multi-row select in DetailsList not as straightforward"
I was playing around with multi-selection of the rows in DetailsList grid and noticed that selection is not as intuitive as I thought it would be. When the user clicks a row's checkbox, it will toggle that row's selection state as expected. But when you do things like shift select to select or deselect multiple options, then it seems fairly inconsistent.

For example:
To start, I selected items 3

[2020-07-02 21:21] chtoosha opened #13907 "[DatePicker] JAWS reads pickerAriaLabel information twice"
### Environment Information

- **Package version(s)**: 7.110.5
- **Browser and OS versions**: WIN 10 + Chrome, Win 10 + Electron

### Describe the issue:

JAWS reader reads pickerAriaLabel twice

#### Actual behavior:

JAWS reader reads pickerAriaLabel twice.

#### Expected behavior:

JAWS reader  should read pickerAriaLabel once

### If applicable, please provide a codepen repro:

It is enough ju

[2020-07-02 22:11] khmakoto opened #13909 "ShimmeredDetailsList does not have an option to style the Shimmer part of it"
There is no prop in `ShimmeredDetailsList` to style the `Shimmer`. This can be seen [in this line](https://github.com/microsoft/fluentui/blob/d55eecf434dfe269ecbf6f412dcde73a13dace3e/packages/office-ui-fabric-react/src/components/DetailsList/ShimmeredDetailsList.base.tsx#L83) from `ShimmeredDetailsList.base.tsx` where no information about styling is being passed to the `Shimmer` element.

[2020-07-02 22:14] khmakoto commented on #13909
@Fadi2019 fyi.

[2020-07-02 23:01] jacargentina opened #13911 "How to style Menu focused via Keyboard"
I have this Menu, which gets "broken" (in styling) when using keyboard to navigate (second item, text not nice, which is focused via keyboard)

I've not found on how to style this "keyboard focused" thing anywhere on docs https://fluentsite.z22.web.core.windows.net/theming-examples

<img width="204" alt="Captura de Pantalla 2020-07-02 a la(s) 19 59 01" src="https://user-images.githubusercontent.co

[2020-07-03 02:10] zeedomD commented on #13759
Any updates here? Thank you.

[2020-07-03 08:25] mnajdova commented on #13889
@CampbellOwen thanks for creating the issue. I checked the codepan, and as you mention doesn't seem to reproduce. I tried you code-snippet on our storybook examples, again I wasn't able to repro it (no event is called when the menu is opened). Can you provide some different example or more details on this?

[2020-07-03 08:46] v-ajrai commented on #13771
@xugao ,Yes i agree on your point but can't there be any mechanism to differentiate between these clickable and non clickable items ,like-we can increase contrast or boldness of the non clickable items,if possible, because end user  is expecting some more clear differentiation visually.

[2020-07-03 10:59] diabhoil opened #13918 "react-cards"
Hey I am building a webpage with react, typescript and parcel using fluentui. Everything is working fine but when using the "react-cards" library the browser will show this error:
![grafik](https://user-images.githubusercontent.com/42711805/86462182-79078200-bd2b-11ea-8086-e9310ee20ac8.png)

Had this error several times and fixed it by just importing the actual component like this:
`import { IThem

[2020-07-03 11:48] mnajdova commented on #13834
@jtripathi226 can you please share the actual example you are trying? What kind of date formatting you are using. When I try to enter only the date & month I am getting Invalid date format error on the example there. If I choose those from the opened popup, the year is correct. Thanks in advance

[2020-07-03 12:39] Sandhya-aluri opened #13919 "Incorrect control type for the month and year control for fabric Date picker control"
### Environment Information

- **Package version(s)**: "office-ui-fabric-react": "^7.94.1"
- **Browser and OS versions**: chromium Edge , Windows 10

When focus is on the month / year in date picker control. It is not reading as month/year. For example when the focus is on Jan, as it is clickable it should be read as button. but reading as just Jan.
The control type in AI4D is mentioned as Item in

[2020-07-03 13:14] mnajdova commented on #13899
Hi @benceczeili, for the hover state, why are you not using the `selectors`? You can use something like:

[code]

or if you want to capture the root's hover, then accordingly you can add the styles on the root style object:
[code]

[2020-07-03 15:08] tobiasviehweger opened #13921 "React is listed as a direct dep in @fluentui/styles@0.50.0"
### Environment Information

- **Package version(s)**: @fluentui/styles@0.50.0
- **Browser and OS versions**: Chrome @ stable

### Description

The lib includes a copy of React as a direct dependency (react@16.8.6), rather than a peerDep. This leads to this bug: https://reactjs.org/warnings/invalid-hook-call-warning.html#duplicate-react, as we are using React 16.12.

#### Actual behavior:

Using t

[2020-07-03 21:57] GuiCavi opened #13922 "Fabric Core Icons are being rendered instead of Fluent UI Icons"
### Environment Information

- **Package version(s)**:
[code]

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/GuiCavi/pen/ExPozOo?editors=0010

#### Actual behavior:

Looks like some *Logo icons are being rendered as Fabric Core Icons instead of Fluent UI React. (haven't loaded the Fabric Core stylesheet)

[code]
![actual behavior (custom example)](https://user-image

[2020-07-03 22:12] GuiCavi commented on #13922
BTW, just found something weird.

I went into [DocumentCard docs](https://developer.microsoft.com/en-us/fluentui#/controls/web/documentcard) and the first image was loaded.

![image](https://user-images.githubusercontent.com/7794819/86499042-4a0b0380-bd5f-11ea-9ffd-4111816bbdc1.png)

---
After, navigate to [Icon docs](https://developer.microsoft.com/en-us/fluentui#/controls/web/icon) and clicked [

[2020-07-04 13:50] dotnetjunky opened #13923 "ContextualMenu doesn't honor "focusProps" sub property"
The `ContextualMenu` component provides the `focusProps` sub prop, which can be used to override the default behavior of the inner `FocusZone` component. However, internally, it hard-codes a few properties, one of which is the `isCircularNavigation` prop. As a result, there's no way to set `isCircularNavigation` to `false` for a `ContextualMenu` component.

### Environment Information

- **Package

[2020-07-05 15:15] jtripathi226 commented on #13834
I am trying to input 06/05 it translates to 5th June 2001 where as it should have defaulted the year to 2020. I do not see any invalid date format error. https://developer.microsoft.com/en-us/fluentui#/controls/web/datepicker - Here I am trying with “datepicker allows input date string”.

From: Marija Najdova <notifications@github.com>
Sent: Friday, July 3, 2020 5:19 PM
To: microsoft/fluentui <flu

[2020-07-06 03:11] it950 commented on #12770
In react-next package , some component styles has changed  from css-in-js to scss file,
can you provide some suggestion on development ？
where the css should in? still use css-in-js or move to scss file?

[2020-07-06 03:28] zerofront opened #13925 "can't render In SSR? Fluent UI v0 / northstar"
### Environment Information

- **Package version(s)**:  react-northstar 0.50.0
- **Browser and OS versions**:  macOS

I use Next.js as ssr render solution, When the server receives the request, it renders the required component(s) into an HTML string, and then sends it as a response to the client. From that point on, the client takes over rendering duties.

But it's important to provide the page w

[2020-07-06 04:32] MdAmeerMind opened #13926 "Combobox - Windows narrator, Expand/collapse state not pronounce by narrator"
### Environment Information

- **Browser and OS versions**: Windows Edge + Windows narrator

### Describe the issue:

While using windows narrator, combobox expand/collapse state not narrate by narrator

### Please provide a reproduction of the issue in a codepen:

https://developer.microsoft.com/en-us/fluentui#/controls/web/combobox

#### Actual behavior:

Expand state of combobox is not narrate

[2020-07-06 08:05] benceczeili commented on #13899
Hi @mnajdova,
That's good for me, thank you for your answer!

[2020-07-06 08:05] #13899 closed

[2020-07-06 08:36] sunnyEspireGit opened #13927 "Dropdown - first option automatically selected on click of the control"
Steps to Repro :
1. Create a dropdown
2. Add few options in that dropdown
3. when you open that dropdown in workbench to select on of the value, you will notice that just while opening it selects the first item and fires onChange event, even if you want to select different item.
4. Then when you will select other item it will fire onChange again.

[2020-07-06 16:19] myermian commented on #12770
Any update on that question?

Can we make the ability to themes apply to the entire site (page and components) more easy? It took me a long time to find an undocumented `<Fabric applyThemeToBody>` component, which sadly does not update the body based on theme changes after the initial page load. Something that is similar to how it is done in Azure DevOps would be nice.

[2020-07-06 17:34] lorejoh12 commented on #13802
The DatePicker component itself does not handle localization, it only natively supports en-us. However, there is support for consumers to add whatever localization they need.

To display the date in a different format (day month year, for example, instead of month day year), you can use the property `formatDate`, which is an optional callback that takes the Date and returns a string to display. mo

[2020-07-06 22:37] #12708 closed

[2020-07-07 00:51] xugao commented on #12201
@betrue-final-final - I think we should just simplify the design by removing any on-hover color changing effect and only let the pointer cursor to indicate on hover. thoughts?

[2020-07-07 06:07] simonssspirit opened #13928 "The onDismiss prop of the Panel component receives undefined event."
<!--
Thanks for contacting us! We're here to help.

Before you report an issue, check if it's been reported before:

### Environment Information

- **Package version(s)**: office-ui-fabric-react6.195.2
- **Browser and OS versions**: all

### Please provide a reproduction of the bug in a codepen:

The issue can be observed here:

https://stackblitz.com/edit/react-amttg9-e7yspi?file=app%2Fmain.jsx

[2020-07-07 06:14] Ashwin-Nikam commented on #13606
@paulgildea @mnajdova Do we have any updates on this?

[2020-07-07 10:48] mnajdova commented on #13834
Thanks for the clarification @jtripathi226 I could repro it now. Taking a look on it

[2020-07-07 11:03] BharathShanker08 commented on #13822
we are using this URL : https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist to verify

[2020-07-07 11:13] ismailansari007 opened #13931 "Panel Control opened in container"
whenever we click on button panel control popup within the container but I need to show in browser with right hand side.

![Capture](https://user-images.githubusercontent.com/15506927/86772233-4209d700-c071-11ea-9d08-848f7430f782.PNG)

[2020-07-07 13:40] jameelakowsar opened #13932 "LineChart: Tooltip does not display when mouse over on data points(occurs when data points dense) and getting random points in graph"
### Environment Information

- **Package version(s)**: All versions
- **Browser and OS versions**: All browsers

#### Actual behavior:
![image](https://user-images.githubusercontent.com/20105532/86789690-32948900-c085-11ea-9503-fb5ad3c7dce9.png)

#### Expected behavior:

There should be no extra dots and all data points need to be display tooltip
Please prefer below screenshot.
![image](https://us

[2020-07-07 13:49] mnajdova commented on #13834
I dig a bit deeper into the issue and it seems like this is the chrome's behavior on `new Date()`. If no year is specified it defaults for some reason to 2001. @lorejoh12 can you suggest what would be the best fix for this?

[2020-07-07 15:54] paulgildea commented on #13905
Thanks for the screenshots.

@mryanlo are you asking a how to question or do you think you found a specific bug?

[2020-07-07 15:58] paulgildea commented on #13911
@jurokapsiar Not clear if this is an issue or a question.

[2020-07-07 16:00] paulgildea commented on #13918
@khmakoto / @dzearing - Is this a supported package or is this the card package that is released in `react-next` ?

[2020-07-07 16:05] paulgildea commented on #13921
@jurokapsiar - Is this a `northstar` issue? I couldn't tell from the package import.

[2020-07-07 16:13] paulgildea commented on #13922
@GuiCavi - Can you file a separate issue for the website issue you found? That would be helpful for making traction on both issues.

@dzearing / @JustSlone - We don't have icon owner - so I'm bring this to your attention

[2020-07-07 16:17] paulgildea commented on #13923
@joschect - Might taking a look at this PR?

[2020-07-07 16:18] Jacqueline-ms opened #13935 "DetailsList compact view separator lines"
### Environment Information

- **Package version(s)**: All versions
- **Browser and OS versions**: All browsers

### Describe the issue:
- DetailsList component exhibits line separator between rows by default, however in compact = {true} the lines disappear.

- Compact View = true (no lines):
![image](https://user-images.githubusercontent.com/30805892/86809871-30a0da80-c031-11ea-87e2-a861af6728bb.

[2020-07-07 16:20] paulgildea commented on #13925
@jurokapsiar - Not sure if this is a supported scenario in v0, sending over your way 👍

[2020-07-07 16:21] paulgildea commented on #13926
@MdAmeerMind - Which version of Edge are you repoing the issue in? and what version of the library are you using that would be super helpful.

[2020-07-07 16:24] paulgildea commented on #13927
@sunnyEspireGit - Thanks for the issue. Could you update your issuing using the bug template we provide and a link to a codepen so that we can reproduce the issue? That would be super helpful.

Thanks!

[2020-07-07 16:26] Jacqueline-ms opened #13936 "DetailsList not using Fluent UI checkbox"
### Environment Information

- **Package version(s)**: All versions
- **Browser and OS versions**: All browsers

### Describe the issue:

DetailsList component utilizing a custom checkbox instead of Fluent UI checkbox component. Azure theme requires the Fluent checkbox and this cannot be accomplished through theming alone. A good solution would be to use Fluent checkbox within the DetailsList comp

[2020-07-07 16:27] paulgildea commented on #13928
@simonssspirit - Could you update this issue with the bug template and a codepen/ repo of issue for us. That would really help us make traction on this issue.

Thanks!

[2020-07-07 16:29] paulgildea commented on #13931
Thanks for the question!

We're trying to grow our community over on Stack Overflow to provide answers to coding questions like this.
It would be super helpful to file this on [Stack Overflow](https://stackoverflow.com/questions/tagged/office-ui-fabric-react+or+fluentui) using tags: office-ui-fabric-react, fluentui-react

Thanks again for the feedback.

@jdhuntington - FYI

[2020-07-07 16:30] paulgildea commented on #13932
@Raghurk - Mind taking a look at this issue? 👍

[2020-07-07 16:33] paulgildea commented on #13935
@dzearing - Is this by design? Who can we follow up with to determine if the separator drop is part of the compact design?

[2020-07-07 16:36] paulgildea commented on #13936
Thanks for the issue @Jacqueline-ms !

@dzearing - I'm assuming this won't be an easy fix - is there a work around to allow a "custom" icon be passed that is our default checkbox?

[2020-07-07 17:10] mryanlo commented on #13905
@paulgildea  thank you for the response. I think I found a specific bug. The DetailsList selection state doesn't seem to do what most users would think would happen when dealing with multi-row selection, as described in the scenarios above, most notably shift-selecting.

[2020-07-07 17:57] ecraig12345 commented on #13858
@pompomon Can you help fix this since it looks like you introduced that setup file?

[2020-07-07 18:06] ecraig12345 commented on #13854
I think the most idiomatic solution here is to track the selected route outside of where you're rendering the Nav, and then update the Nav's `selectedKey` to reflect the currently navigated URL.

[2020-07-07 18:41] yanbxice opened #13937 "Custom command bar button is not counted when Narrator is on"
### Environment Information

- **Package version(s)**: all versions
- **Browser and OS versions**: Edge in Windows 10

### Describe the issue:

I want to customize one of the command bar buttons by using **onRender** attribute. It renders the button and the button works as expected. But when Narrator is on, the information is not announced correctly. e.g. I have 6 buttons on the command bar includ

[2020-07-07 20:01] GuiCavi commented on #13922
@paulgildea sure. I thought they were related... I'll fill another then. Thanks for the reply

[2020-07-07 20:06] GuiCavi opened #13938 "Two fonts being rendered and conflicting"
**Possibly related to:** #13922

#### Actual behavior:

If you access DocumentCard docs directly -> font 1 is loaded. But if you navigate to icons docs and go back (through history.back), font 2 is loaded.

#### Expected behavior:

The same font 1 should be loaded independently from where you load the page.

#### Steps to reproduce
I went into [DocumentCard docs](https://developer.microsoft.com/en

[2020-07-07 21:35] khmakoto commented on #13918
Hi @diabhoil, feel free to make PR to fix this, we appreciate outside contributions! I'll be sure to review it if you do.

@paulgildea this is a package that was created for our earlier efforts into developing a `Card` component. It was planned to be supported but because of circular dependency issues we never got around to officially publish a major version bump. The `Card` planned for `react-nex

[2020-07-07 22:19] brandonthomas opened #13942 "ICSSDisplayRule should include MS prefixed values"
#### Describe the feature that you would like added
Due to the increased type safety lately, we're getting some typing errors when using valid display rules that are browser specific. We should add these to the type def so that TS can infer the type of IStyle successfully without a cast.

#### What component or utility would this be added to

ICSSDisplayRule

#### Have you discussed this feature w

[2020-07-08 00:10] middiu opened #13943 "Figma plug-in link broken"
Hello,

From FluentUI design webpage it seems that the link to "Figma plug-in" is broken, see "Download Figma plug-in":
https://www.microsoft.com/design/fluent/#/web

I believe this can be categorised as documentation issue.

this seems to be the md file related
https://github.com/microsoft/fluentui/blob/7a613256ef792c037702a47fa07713cecacbc755/apps/fabric-website/src/pages/Overviews/ResourcesPage

[2020-07-08 03:03] BrendanMcK opened #13945 "Dropdowns (incl menu button) may not be accessible within modal/panel on iOS/Mac due to use of aria-modal - spec unclear?"
- **Package version(s)**: office-ui-fabric-react@7.121.10
- **Browser and OS versions**:  Current safari on Mac, current safari on iOS, both with VoiceOver

### Describe the issue:

Popups (Dropdown control, Button with attached menu) don't work when in a Modal or Panel on iOS or Mac. Unclear from ARIA docs who's at fault here, so starting here to get input from Fluent team.

### Please provide a

[2020-07-08 04:46] #13931 closed

[2020-07-08 04:47] ismailansari007 commented on #13931
Thanks for the response

[2020-07-08 05:00] #13828 closed

[2020-07-08 05:11] nli8n opened #13947 "Card component does not get focus when traversing using keyboard tab / shift + tab keys"
Card component does not get focus when traversing using keyboard tab / shift + tab keys

[2020-07-08 05:13] simonssspirit commented on #13928
@paulgildea my mistake I forgot to remove the --> sing and the content was blank. All information is in the description following the Bug report template.

[2020-07-08 09:50] Frankd4 opened #13951 "How to access the latest CSS style sheets, Icons & Java scripts for HTML web development"
Hello Team,

How  can I download or use CDN for latest CSS style sheet for **icons**, framework & Java scripts for HTML web development.
Also, is it possible to use the Icons for Winform development, please guide me.

This link for Fabric core does not work when using icons :(
https://developer.microsoft.com/en-us/fluentui#/get-started/web#fabric-core

Thanks,
Frank

[2020-07-08 10:09] MdAmeerMind commented on #13926
Hi @paulgildea , following are Edge version
Edge version - Edge Chromium - 83.0.478.58
Library are latest which are in use of office UI fabric web side as issue is reproducible on official web site.

[2020-07-08 11:32] mnajdova commented on #13911
@jacargentina  can you please create a repro for this in codesandbox, so we can test this. In dark mode the focusing on the menu looks good, so it may be some local override in your case

![image](https://user-images.githubusercontent.com/4512430/86913538-18a78480-c11f-11ea-8176-20ab059dd61a.png)

For override the `MenuItem` styles, you can use the `isFromKeyboard` property in order to apply style

[2020-07-08 11:33] #13911 closed

[2020-07-08 14:50] jacargentina commented on #13911
[code]

Tried adding `componentStyles` key to my theme, but its not working (breakpoint on the given function dont stops), any advice?

[2020-07-08 15:31] #13921 closed

[2020-07-08 15:44] mnajdova commented on #13889
@khmakoto can you please take a look on this one. You have more insight and may know the reason to why this is not a stable repro and can help figure out the reason for the bug.

[2020-07-08 15:52] paulgildea commented on #13937
@joschect - For custom CommandBar buttons using `onRender` is there any specific work an author needs to do to ensure that it's included the a11y tree?

[2020-07-08 15:59] paulgildea commented on #13942
@brandonthomas - You willing to submit a PR? 😄

[2020-07-08 16:03] paulgildea commented on #13943
@middiu Thanks for the issue!

I tried clicking the links you outlined but I'm able to see the following:
![image](https://user-images.githubusercontent.com/33229964/86942279-cc961900-c0f9-11ea-9187-f776365cf03b.png)

Is this link working for you?
https://www.figma.com/community/plugin/794492287931420611/Fluent-Theme-Designer

[2020-07-08 16:10] paulgildea commented on #13947
Thanks for the feedback @nli8n can you please update this issue with our bug template and a repo to help us better make traction on it?

Thanks!

[2020-07-08 16:17] paulgildea commented on #13951
@Frankd4 If you are looking for guidance and usage for `Fabric Core` I recommend filing this issue over at the respective repository - https://github.com/OfficeDev/office-ui-fabric-core

I know it's a little confusing (we're working on it) but this library is specifically for React JS based components.

Let me know if you have any other questions.

Thanks!

[2020-07-08 16:47] paulgildea commented on #13945
@BrendanMcK Thank you for the thorough investigation and write up. This is greatly appreciated and helpful.

I'm marking as needs discussion and I'm going to try and pull in some folks that have more in-depth knowledge ARIA

[2020-07-08 17:58] #13858 closed

[2020-07-08 18:32] mryanlo opened #13954 "Bug: ShimmeredDetailsList shimmer rows will remain if given defined key, even if enableShimmer prop is falsy"
I was playing with ShimmeredDetailsList and using it so that the shimmer rows will be present if i'm still loading data, and removed once data is loaded and we'll display the info in the grid.

However, once the data loaded, I found that the shimmer rows didn't remove even if `enableShimmer` was false/undefined/falsy.

I have discovered the issue was because I used ShimmeredDetailsList's `getKey`

[2020-07-08 19:22] Ashwin-Nikam opened #13955 "SpinButton styles spinButtonWrapperFocused prop doesn't accept class names"
### Environment Information

- **Package version(s)**: 7.120.0
- **Browser and OS versions**: Windows Chrome

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/ashwin-7/pen/abdGpKY

#### Actual behavior:

When trying to apply custom styling to SpinButton on focus, the spinButtonWrapperFocused prop in styles doesn't accept class names. It only works when we pass actual

[2020-07-08 19:24] #13869 closed

[2020-07-08 22:00] middiu commented on #13943
Hi @paulgildea

I'm getting a 404 error, see below.

I tried with different browsers but no luck...
Also, if I search for "Fluent" in the Figma plugin page I don't find anything (see the second screenshot)

really strange...

![image](https://user-images.githubusercontent.com/428032/86974479-bfd8fa00-c1b9-11ea-95fb-6edd78577bd9.png)

![image](https://user-images.githubusercontent.com/428032/869746

[2020-07-08 22:11] dzearing commented on #13935
@paulgildea I believe that this is the design. @betrue-final-final or Christopher I believe are the designers.

[2020-07-08 22:28] Frankd4 commented on #13951
Hi Paul,

I'm really confused, on one hand Microsoft says we want to improve and remove the confusion and introduce the Fluent UI ..., you now say X needs to to Y as this is not an issue. I just need your help to answer a simple question.
How can I download or use CDN for latest CSS style sheet for icons for HTML web development.

[2020-07-08 22:39] dzearing commented on #13935
@Vitalius1 might have some background here; I'm not 100% sure tho

[2020-07-08 23:15] Vitalius1 commented on #13935
This are some screenshots that I got from the FluentUI toolkit here: https://www.figma.com/file/F5BN2yodUyHlOfpL4KJCFK/Fluent-Web?node-id=850%3A0

Looks like it is by design. Also, looking from the code ([link](https://github.com/microsoft/fluentui/blob/209102879028aa62a445ac6c041b79b9d203c8e1/packages/office-ui-fabric-react/src/components/DetailsList/DetailsRow.styles.ts#L223-L226)) it doesn't se

[2020-07-08 23:29] srinidhiprabhu96 opened #13957 "[Choice group] Choice group option with image does not truncate text on overflow"
### Environment Information

- **Package version(s)**: 7.121.2
- **Browser and OS versions**: Edge Chromium, Windows 10

### Please provide a reproduction of the bug in a codepen:

Find the codepen [here](https://codepen.io/srinidhiprabhu96/pen/jOWxwLW?editable=true%3Dhttps%3A%2F%2Fdeveloper.microsoft.com%2Fen-us%2Ffluentui)

#### Actual behavior:

No ellipsis is shown when text overflows
![image]

[2020-07-08 23:41] middiu commented on #13943
Also, if I try to browse all the available plugins sorted by name I don't see the Fluent plugin

https://www.figma.com/community/plugin/all?sort=name

![image](https://user-images.githubusercontent.com/428032/86980798-29f89b80-c1c8-11ea-9700-488e0de64dfd.png)

[2020-07-09 01:15] chtoosha opened #13958 "[Combobox] Combobox does not respect property setInitialFocus: true in callout props and does not provide the way to highlight the first selection in dropdown for combobx with no autocomplete as it should be via Aria guidlines"
### Environment Information

- **Package version(s)**: 7.110.5
- **Browser and OS versions**: WIN 10 + Chrome, Win 10 + Electron

### Describe the issue:

According to  https://w3c.github.io/aria-practices/examples/combobox/combobox-select-only.html
"When visual focus is in the listbox, DOM focus remains on the combobox and the value of aria-activedescendant on the combobox is set to a value that

[2020-07-09 01:57] eugene-beliaev commented on #13542
Hey @paulgildea! Any news?

[2020-07-09 06:29] jameelakowsar commented on #13932
Code merged to master
https://github.com/microsoft/fluentui/pull/13933

[2020-07-09 06:29] #13932 closed

[2020-07-09 08:24] mnajdova commented on #13838
Thanks for fixing this @jameelakowsar Closing it

[2020-07-09 08:24] #13838 closed

[2020-07-09 09:59] nli8n commented on #13947
Which Fluent UI component is causing the issue : Card
Which package name and version the component is from :   "@uifabric/react-cards": "^0.109.1"
Specific, complete steps to reproduce the issue :
 1. add this dependency in package.json :   "@uifabric/react-cards": "^0.109.1"
 2. import card component  :- import { Card } from '@uifabric/react-cards'
 3. render this card component.
 4. start the se

[2020-07-09 10:00] Kingwl commented on #12081
Up. Happy for work on this one.

[2020-07-09 12:08] sgreinert commented on #12488
I suppose we will have to move on to blueprint.js (runner up react framework in our evaluation).

[2020-07-09 12:44] assuncaocharles commented on #13716
Hey @sushruth

The proper usage would be replacing `React.FC<>` by `ComponentWithAs`...

[code]

[2020-07-09 13:41] #13716 closed

[2020-07-09 15:57] #13733 closed

[2020-07-09 16:27] khmakoto commented on #13947
Hi @nli8n, I can confirm that I can repro this. I should have a fix relatively soon. Thanks for filing this issue!

[2020-07-09 17:11] #13923 closed

[2020-07-09 17:31] bigbadcapers commented on #12529
Is this still reproing? I know we've had a few revs of the MDL font which mightve fixed this issue since it was first filed.

[2020-07-09 17:38] hbthen3rd commented on #12529
@bigbadcapers I'm having the same issue with **SkipBack10**. And for @jacklovett's codepen, the **Reset** icon is still not rendering.

[2020-07-09 19:49] sushruth commented on #13716
There seems to be another issue with that usage -

![image](https://user-images.githubusercontent.com/2114206/87084161-9ed8cf00-c1e2-11ea-8b99-2da1a5dd4c83.png)

[code]

[2020-07-09 19:53] msandora opened #13968 "Following Quick Start docs. Cant resolve theme"
Hello Fluent team.

Following quick start guide https://fluentsite.z22.web.core.windows.net/quick-start
Immediately ran into a problem. I hope you can help.

I Created an app

installed fluentUi

installed northstar

When I run the app I am getting the following error:
./src/App.js
  Line 6:22:  'teamsTheme' is not defined  no-undef

Below is my package.json
[code]
Below is my component:
[code]

I

[2020-07-09 19:54] sushruth commented on #13716
Probably good to document it somewhere?

[2020-07-09 20:55] dotnetjunky opened #13971 "ContextualMenu control hard-codes the role of internal List element"
#### Describe the feature that you would like added

Currently, the `ContextualMenu` control hard-codes the `role` attribute of the internal `List` as `menu`. In my usage, I want to set a different role, specifically `grid`. There's currently no way to achieve this.

I propose adding a `role` property to to the `IContextualMenuListProps` type so that the default List renderer knows what role it sh

[2020-07-09 21:43] kejatura opened #13974 "Accessibility issue with ScrollablePane and Sticky components"
### Environment Information

- **Package version(s)**: 7.117.0
- **Browser and OS versions**: Chrome

### Describe the issue:

We currently use ScrollablePane  and Sticky components in conjunction with DetailsList in our project, very similar to this [example](https://developer.microsoft.com/en-us/fluentui#/controls/web/scrollablepane). When running the Accessibility Insights - Fast Pass, we have

[2020-07-09 22:04] patrickhlauke opened #31498 "Slider does not work for touch+AT users"
While the slider https://fast.design/docs/components/slider works well with AT and keyboard, it does currently not work in touch+AT scenarios. This is not a new problem...it's a problem that affects the ARIA 1.1 slider design pattern as well. In short: generally, touch+AT users that land on a slider (that announces itself as a native slider, e.g. with `role="slider"`), then AT will generally tell

[2020-07-10 00:14] mosesoak opened #13977 "Docs need a Switching Themes page"
#### Describe the feature that you would like added

Below [Theme Slots](https://developer.microsoft.com/en-us/fluentui#/styles/web/colors/theme-slots) in the docs, a page should be created that explains that themes such as light and dark can be switched using `Customizations.applySettings()`.

At time of writing this, this key piece of information is _really hard to discover online_, and switchin

[2020-07-10 00:41] c0r32 opened #13978 "Add multiSelectDelimiter property to ComboBox"
#### Describe the feature that you would like added

ComboBox does not currently have a property to specify a delimiter for multi-select labels.  The default of ', ' is always used.  It would be useful to be able to specify an alternate delimiter string much like can be done in Dropdown.

#### What component or utility would this be added to

ComboBox.

#### Have you discussed this feature with ou

[2020-07-10 01:00] #13951 closed

[2020-07-10 06:08] sunnyEspireGit commented on #13927
- Which Fluent UI component is causing the issue -> Dropdown
- Which package name and version the component is from ->  "office-ui-fabric-react": "6.189.2"
- Specific, complete steps to reproduce the issue :-
1. Create a dropdown
2. Add few options in that dropdown
3. when you open that dropdown in workbench to select on of the value, you will notice that just while opening it selects the first it

[2020-07-10 09:15] sailakshmi1711558 opened #13983 "Textfield- Narrator is reading placeholder of textfield with multiline multiple times"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Describe the issue:
Created code pen here , where narrator is reading placeholder multiple times
https://codepen.io/sailakshmi1711558/pen/dyGKYVe
https://developer.microsoft.com/en-us/fluentui#/controls/web/textfield

#### Actual behavior:
Narrator is reading  plac

[2020-07-10 10:09] known-as-bmf opened #13984 "DetailsRow requires a selection when selectionMode=SelectionMode.none"
When using a `GroupedList`, you can disable the selection of `GroupedListSection` by setting `selectionMode` to `SelectionMode.none`.

When doing this, you can also omit the `selection` prop (so you dont have to provide a "useless" `Selection` instance).

You can disable selection on a `DetailsRow` the same way (`selectionMode={SelectionMode.none}`) but the component still requires a valid `Select

[2020-07-10 10:56] #12237 closed

[2020-07-10 15:29] paulgildea commented on #13954
Thanks for the repo @mryanlo it's super helpful.

@dzearing - I noticed that the sample on the main website doesn't use the `getkey` function prop. Is this expected behavior or the expected approach for giving rows unique identifiers? (@mryanlo correct me if I didn't capture your intent correctly).

[2020-07-10 15:46] paulgildea commented on #13955
@khmakoto - is passing classNames through the IStyle interface supported? Looking at the `IStyle` I see it accepts a string, but I would be expecting a string literal for the style definition, not necessarily a className.

[2020-07-10 17:21] curtisman commented on #13535
This also repros on Typescript 3.7.5

[2020-07-10 18:50] micahgodbolt commented on #12529
The icon package included in Fluent UI is just a subset of the entire font.

For a full list of the icons included in the Fluent UI subset, visit https://developer.microsoft.com/en-us/fluentui#/styles/web/icons

Check out the readme about creating a custom set with the icons you need
https://uifabricicons.azurewebsites.net/#what-is-a-font-subset-and-why-should-i-use-one

[2020-07-10 20:36] stevenpicard opened #13991 ""Go to today" overlapped when there are 6 weeks visible."
#### Actual behavior:

When the "Go to today" text displayed it is overlapped when there are 6 weeks visible. Reproduction is easy.  Go to your DatePicker site([https://developer.microsoft.com/en-us/fluentui#/controls/web/datepicker]) and in the first usage example click "Export to CodePen". You need to test it in CodePen because it appears your example is using version 6 and the problem occurs in

[2020-07-10 21:27] hbthen3rd commented on #12529
@micahgodbolt So creating my own icon bundle and host/serve it works.

However, I also want to try this suggestion here in the wiki:

I did it like this in my code:
[code]

However, I keep getting this error:
[code]

[2020-07-10 22:25] #13978 closed

[2020-07-10 23:26] chihch commented on #13720
thanks! This is working.

[2020-07-10 23:26] mosesoak commented on #13925
@jurokapsiar @paulgildea

We are just on the cusp of picking Fluent for our project but we are using NextJS and right now the methodology shown at [the fabric docs](https://github.com/microsoft/fluentui/wiki/Server-side-rendering-and-browserless-testing#nextjs-setup) is no longer up to date with how Next works.

I'm currently working on a solve here, if anyone wants to collaborate: https://github.

[2020-07-11 06:28] mintxtinm opened #13995 "Selected & hovered nav items overlap the scrollbar"
### Environment Information

- **Package version(s)**: 7.10.8
- **Browser and OS versions**: Safari 13.1.1, macOS 10.15.1

### Reproduction:

https://codepen.io/mint1tinm/pen/WNryzJN

#### Actual behavior:

Selected & hovered nav items overlap macOS scrollbar

<img width="282" alt="2020-07-11 13 54 02" src="https://user-images.githubusercontent.com/12014428/87217986-7d621980-c381-11ea-9c5f-72fcc34

[2020-07-12 19:22] Link631 commented on #10635
why should an empty group be selectable? A group groups listitems. The selection of a group selects the groups listItems not the group itself. The group itself does not represent an item, it is only a logical unit around list items. Or did I miss something?

[2020-07-12 19:52] Jacqueline-ms opened #13997 "DefaultButton with primary:true styling for azure-theme"
#### Describe the feature that you would like added

Would like to add 'primary" to list of known properties, in type 'Partial < IButtonStyles > ' so azure-theme can update styles to components such as < DefaultButton primary / >. Current work around is just to use < PrimaryButton / >

This would address the following bug
![image](https://user-images.githubusercontent.com/30805892/87255298-6a614f0

[2020-07-12 22:27] ProCode-Software opened #13999 "Does not work with a TS & HTML"
I'm using Fabric Core (HTML and TS files) for a nav and VSCode finds 27 errors. Also, it does not work.

[2020-07-12 22:43] ProCode-Software opened #14000 "Controls available for Fabric Core"
## Can the controls be available for Fabric Core?

#### Fluent UI Controls

I'm not using React and I'm using Fabric Core and the controls aren't avalible.

[2020-07-13 02:57] clechner77 commented on #8075
I full support this.  I love Shimmer but it seriously takes as long for me to create a shimmer as it does the rest of most projects.  Really.  My head just cannot wrap itself around how to create Shimmer elements/groups unless it's super simple.  No joke.  "Ok, you just created something with 50 components, thousands of lines of code, with a performant global state, and it's gorgeous... and it too

[2020-07-13 05:46] luckyrass opened #14001 "Linechart: vertical line doesn't show up when the mouse over the datapoint"
### Environment Information

- **Package version(s)**: (@uifabric/charting 2.5.0)
- **Browser and OS versions**: (Microsoft Edge 42.17134.1098.0)

### Please provide a reproduction of the bug in a codepen:

Vertical line doesn't show up when the mouse over the datapoint in linechart

#### Actual behavior:

![image](https://user-images.githubusercontent.com/12230173/87274739-0d819980-c50f-11ea-8f5f

[2020-07-13 06:27] luckyrass opened #14002 "[Linechart, VerticalBarChart, VerticalStackedBarChart, GroupedVerticalBarChart] Fit parent container when windows size changes"
#### We hope the following components could fit parent container when windows size changes

- Linechart
- VerticalBarChart
- VerticalStackedBarChart
- GroupedVerticalBarChart

#### What component or utility would this be added to
Fit parent container when windows size changes for the following components
- Linechart
- VerticalBarChart
- VerticalStackedBarChart
- GroupedVerticalBarChart

A workarou

[2020-07-13 15:21] micahgodbolt commented on #12529
1. you don't need to use that deep path. just `import { initializeIcons } from 'office-ui-fabric-react';`

But 2. This will initialize the current set of icons found "[here](https://developer.microsoft.com/en-us/fluentui#/styles/web/icons)" which does not include all the icons in the entire font set.

 As I said, if you need icons that are not in our default set of icons, you can follow the instru

[2020-07-13 15:30] paulgildea commented on #13957
@srinidhiprabhu96 Thanks for the feedback.

I will mark this as by design. I don't believe that we provide built in support for truncation for UI elements (at least not for button when you set `maxwidth.` Same with automatically injecting a `Tooltip` truncation occurs.

@dzearing  @ecraig12345 correct me if I'm wrong.

If you want this desired behavior you might be able to use the `onRenderField`

[2020-07-13 15:43] paulgildea commented on #13958
@chtoosha - I took a look at the ARIA spec (while I'm not an expert) - I think the desired behavior you are looking for is in our `Dropdown` component - https://developer.microsoft.com/en-us/fluentui#/controls/web/dropdown

The `ComboBox` inherently allows the user to type in arbitrary text and the Dropdown fits more the select only model.

Let me know if that helps.

[2020-07-13 15:46] paulgildea commented on #13971
@joschect - Any objections to this change?

[2020-07-13 16:05] kolaps33 opened #14012 "NVDA doesn’t narrate the focused tabpanel in ‘Carousel with actionable elements’"
Issue reported by user testing.

### Environment Information
Win10
Chrome Version 83.0.4103.116
NVDA 2020.1

### Describe the issue:

Description: In the ‘Carousel with the actionable elements’ when Ade or Kristy tab is active and focus is on Open or Call button inside the tab and I press Shift + Tab the whole tab gets the focus. NVDA doesn’t narrate anything. When I press Tab to go back to Open o

[2020-07-13 16:19] paulgildea commented on #13974
I wasn't able to a repo within codepen - this one might be able to repro the issue in a different form.

[2020-07-13 16:23] paulgildea commented on #13977
@mosesoak Thanks for the feedback.

I'll mark this as a feature request and add it to our backlog, but we're likely not going to get to it for a while as we're currently focused on larger coherence work items and enhancements to our performance, but I agree this is super great feature.

Thanks for offering for a PR if you were more experienced we appreciate the intent!

[2020-07-13 16:26] paulgildea commented on #13983
@xugao - Please test in Edge Chromium and the latest to see if this repos. Thanks!

[2020-07-13 16:39] mryanlo commented on #13954
@paulgildea i'm not sure if the main site not having `getKey` is related, but I encountered this issue whenever I used getKey for shimmered details list.

[2020-07-13 16:39] paulgildea commented on #13991
@stevenpicard Thanks for the issue.

Indeed I was able to repo this issue:
![image](https://user-images.githubusercontent.com/33229964/87330009-c682ac80-c4ec-11ea-8830-c42004339eee.png)

This is against the latest.

[2020-07-13 16:46] paulgildea commented on #13995
@mintxtinm Thanks for the issue.

My hunch is that has to do with overflow styling, as I can't scroll the same menu in Chromium.

Either this isn't the behavior we want for Nav when all items are visible.

[2020-07-13 16:54] paulgildea commented on #13997
@Jacqueline-ms I'm assuming you'd like to contribute this change? 😄

@dzearing / @khmakoto - any objections for adding this change to the `DefaultButton` component?

[2020-07-13 16:57] paulgildea commented on #13999
@ProCode-Software Thanks for the issue. This repository is focused on the React implementation while Fabric Core is a CSS framework.

If you have any issues with Fabric Core specifically you can file them on their respective repo: https://github.com/OfficeDev/office-ui-fabric-core/issues

Hope that helps.

[2020-07-13 16:58] paulgildea commented on #14000
@ProCode-Software Thanks for the issue. This repository is focused on the React implementation while Fabric Core is a CSS framework.

If you have any feature requests for Fabric Core specifically you can file them on their respective repo: https://github.com/OfficeDev/office-ui-fabric-core/issues

Hope that helps.

[2020-07-13 17:00] paulgildea commented on #14001
@Raghurk - Something for you to look at 😄 .

[2020-07-13 17:05] Raghurk commented on #14001
Thanks! Looking at these

[2020-07-13 17:05] Raghurk commented on #14002
Will take a look

[2020-07-13 17:17] Raghurk commented on #14002
The current behavior is expected, I don't want chart to be too smart in identifying various times when you want to fit the parent. As the consumer you are aware of when you want to change and you have to send the new size down to chart.
This behavior is by design

[2020-07-13 17:17] #14002 closed

[2020-07-13 17:31] khmakoto commented on #13997
@paulgildea I'm guessing this would go into the Azure customizations? If that's the case and it's not polluting the component itself I'm fine with it.

[2020-07-13 18:00] xugao commented on #11346
@avenezia - sorry that due to the complexity of the component and the risk of introducing regressions, we won't be fixing this issue

[2020-07-13 18:05] chtoosha commented on #13958
@paulgildea Thank you for the rapid answer.
I have a couple of questions:
- What is "select only model"?
- Isn't it a bug that a bug thta  _calloutProps={{
setInitialFocus: true,
}}_
Is not respected?

[2020-07-13 18:06] mryanlo commented on #13905
Synced with another Microsoft employee. This selection behavior is default Microsoft-wide behavior and we shouldn't change this pattern. Was thinking how other products that use a "straightforward" selection behavior was more "intuitive"; whereas this behavior is normal behavior but I just wasn't used to it. Will close since this isn't a bug

[2020-07-13 18:06] #13905 closed

[2020-07-13 18:28] lorejoh12 commented on #13831
It looks like this bug is based solely on the office-ui-fabric-react version of Calendar, which is out of date and didn't receive the last round of accessibility fixes.

I would suggest trying the date-time package version.
Here's a deploy link from today that you can run the accessibility pass on: http://fabricweb.z5.web.core.windows.net/pr-deploy-site/refs/pull/14008/merge/date-time/dist/index.h

[2020-07-13 18:38] Raghurk commented on #12428
This is by design. I will follow up with Karina and Jonah the PM and designer to understand if we need to consider this.

[2020-07-13 18:42] Raghurk commented on #13894
Looking.

[2020-07-13 18:48] lorejoh12 commented on #13795
This is a dupe of #11140, which was closed as being out of scope.

[2020-07-13 18:58] lorejoh12 commented on #13919
This is sort of by design, in that we made a tradeoff of info.

It's due to the role=gridcell that we put on the buttons in order to have the row/column information read out for navigation purposes. If we change the role back to "button", we lose that information. We are open to suggestions on alternative solutions, but have not found one yet that gives all the information we want.

[2020-07-13 19:13] lorejoh12 commented on #13848
This button isn't actually focusable, it can only be accessed using Narrator's "Go to next item", but if you access it that way it does indeed read the wrong information.

I think the fix here is to change the item type from button -> div if it's not actually focusable. I don't see an appropriate role for a button that does nothing, and I don't think "Disabled" is appropriate here. Will add a fix

[2020-07-13 19:16] lorejoh12 commented on #13646
partial dupe of #8080. This is by design, because some consumers asked for this functionality. If your app does not want this, the prop `disableAutoFocus` turns off this functionality. As discussed in 8080, we're considering changing the default from disableAutoFocus: false to true so that customers would have to explicitly opt-in, but haven't made that change yet.

[2020-07-13 19:18] lorejoh12 commented on #12223
partial dupe of #8080. This is by design, because some consumers asked for this functionality. If your app does not want this, the prop disableAutoFocus turns off this functionality. As discussed in 8080, we're considering changing the default from disableAutoFocus: false to true so that customers would have to explicitly opt-in, but haven't made that change yet.

[2020-07-13 19:29] lorejoh12 commented on #13907
I don't have a JAWS license so I'm not able to test this with JAWS.

However, I tested this with Win10 + Edge + Narrator, and it does not repro using your codepen.
I also tested this with Win10 + NVDA + Edge and Chrome, and it does not repro in either of those.

If it does repro in JAWS, it's probably a screen reader bug.

[2020-07-13 19:46] lorejoh12 commented on #12220
Given that the component is prop driven, and there is a prop for having the day and month pickers overlap, I would say that it is the consumer's responsibility to attach a listener to the component for screen size changes/zoom and update the prop as necessary. I'd rather not add that functionality into the control itself because then the control is changing how it interprets the props it's given,

[2020-07-13 20:26] Toonshorty commented on #9444
@bramdejager I've found a workaround to get the latest version of the icon fonts, although it may be a bit of a grey area license wise.

If you go to the site https://uifabricicons.azurewebsites.net and open the console, you should be able to see the web font in the network tab (you might need to refresh the page first). This is in a .woff format which can't be installed to Windows, but it's fairl

[2020-07-13 20:47] xugao commented on #13983
@sailakshmi1711558 - this is a bug with Narrator. Filed bug to Narrator team [here](https://microsoft.visualstudio.com/OS/_workitems/edit/27625771)

You can find a simple repro here with plain html: https://codepen.io/xugao/pen/ExPpGQE

[2020-07-13 20:47] #13983 closed

[2020-07-13 20:48] chtoosha commented on #13907
@lorejoh12  Wondering if you, as a component owner, can open the bug on JAWS?
I think that is the plase to files issues on JAWS?
https://github.com/FreedomScientific/VFO-standards-support/issues

[2020-07-13 20:59] xugao commented on #13974
@kejatura - I can't seem to repro either. could you point out explicitly which element is set with `aria-hidden: true` and which element is focusable within?

[2020-07-13 21:04] xugao commented on #13984
@known-as-bmf - I can't seem to repro the error [here](https://codepen.io/xugao/pen/oNbMJmV), which i don't have `selection` prop passed and SelectionMode is set to none. could you provide a pen for the repro?

[2020-07-13 21:41] #4066 closed

[2020-07-13 22:37] #13947 closed

[2020-07-13 22:58] Raghurk commented on #12428
ok

[2020-07-13 22:59] Raghurk commented on #12428
I have opened a bug to track this. Will be fixing this.

[2020-07-13 23:41] mosesoak commented on #3692
@dzearing or other contributors (@khmakoto maybe?) Hi! Thanks for your effort on SSR.

So, we think we can make due with what's at the wiki since we really want to try using Fluent UI and we're using Next, but I would love to see this work taken to slightly more solid ground. This issue on this ticket (`className did not match`) has been open for 2 1/2 years now, and TBH it erodes our team's confi

[2020-07-13 23:47] mosesoak commented on #13977
It seems that another way to do theme switching is
[code]
and that there may be an upcoming `ThemeProvider` package, although that currently doesn't work SSR and looks pretty green still. Would be great to document all of this stuff somewhere clearly. Thanks again.

[2020-07-14 00:31] mosesoak commented on #3692
https://github.com/microsoft/fluentui/issues/11411

[2020-07-14 00:41] CampbellOwen opened #14017 "ContextualMenu submenu and Button submenu hover state flicker on open"
### Environment Information

- **Package version(s)**: 7.122.0
- **Browser and OS versions**: Chromium Edge: Version 83.0.478.61 (Official build) (64-bit)

### Please provide a reproduction of the bug in a codepen:
Repros on https://fabricweb.z5.web.core.windows.net/oufr/7.122.0/#/examples/contextualmenu `ContextualMenu with checkable menu items and toggleable split button` example

I've also reco

[2020-07-14 02:52] #14001 closed

[2020-07-14 05:47] Tanddant commented on #12223
That makes sense, I would have to agree that false would be a more natural default value, but we all know changing defaults breaks things.

[2020-07-14 06:29] jurokapsiar commented on #13968
Thanks for reporting and sorry about the inconvenience. Looks like we have forgotten to fix the quick start guide after we restructured the package for tree shaking purposes.

Please use following to import Provider and theme:
[code]
Then you can use it as the quick start guide says:
[code]
Here is a codesandbox that shows this: https://codesandbox.io/s/epic-faraday-6tyyi

[2020-07-14 06:37] jurokapsiar commented on #13704
Browser by default does not focus disabled elements.
Some applications or experiences might decide to make the disabled elements focusable, typically by not using `disabled` prop but by using just `aria-disabled` and ignoring all events (click, key...).

This is the case for all other Fabric components, so I assume it would make sense if Checkbox followed the pattern.

[2020-07-14 08:32] MdAmeerMind opened #14021 "Callout - FocusTrapZone - NVDA - Read content only 1 st time of focus"
### Environment Information

- **Package version(s)**: Latest
- **Browser and OS versions**: Chrome + NVDA

### Describe the issue:
In callout we have use FocusTrapZone to trap focus, So content inside call out are read out by NVDA only when focus inner part first time. If we focus on link using tab it read aria label provided to link first time, again press tab focus goes to outer part again but

[2020-07-14 08:55] layershifter commented on #13968
It was fixed in #13789, but was not released yet.

[2020-07-14 10:40] jurokapsiar commented on #13483
There is a multi-select listbox scenario that is valid: https://www.w3.org/TR/wai-aria-practices-1.2/examples/listbox/listbox-rearrangeable.html, but that uses listbox / option roles. I would need to do some tests to see if screen readers accept `<input>` based checkboxes with overriden `option` role.

It would probably be more understandable for the users to have a selectable list component with

[2020-07-14 10:44] jurokapsiar commented on #13525
@paulgildea aria-labelledby should only point to elements that exist in the DOM. If the label is not provided, I assume that the label slot is not rendered and thus aria-labelledby should not be used. I do not think changing this would be a breaking change.

[2020-07-14 11:09] kolaps33 opened #14022 "Menu should be closed, when popup dialog appears"
Issue reported by user testing.

### Environment Information
Win10
Chrome Version 83.0.4103.116

### Describe the issue:
 I activate More button to open the menu. Then I activate ‘Open Popup’ item to open the dialog. When the dialog opens the menu should be closed. I don’t expect that the menu remains opened. When I close the dialog I expect that the focus returns to More button on the toolbar and

[2020-07-14 12:14] #13836 closed

[2020-07-14 13:50] miroslavstastny opened #14025 "Resource leak in FocusZone"
### Environment Information

- **Package version(s)**: @fluentui/react-northstar@0.50.0

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/v050-focus-zone-resource-leak-31gpt

#### Repro steps
1. Have a component with two sibling `FocusZone` components:
[code]
2. Mount and unmount the component 5 times.
3. Check keydown event listeners on html node.

#### Actual

[2020-07-14 13:56] miroslavstastny commented on #14025
`FocusZone` uses ref counting for the keydown event listener to be added only once in `componentDidMount`:
https://github.com/microsoft/fluentui/blob/ac395c5e30b21081b49166ccfc02177f777df7c6/packages/fluentui/react-bindings/src/FocusZone/FocusZone.tsx#L165-L167

And the same logic for removing the event listener in `componentWillUnmount`:
https://github.com/microsoft/fluentui/blob/ac395c5e30b21081

[2020-07-14 14:05] miroslavstastny commented on #14025
@dzearing There is the same problem in `@fluentui/react-focus@7.12.19` -> Fabric is also affected.

[2020-07-14 14:51] #10458 closed

[2020-07-14 15:41] xugao commented on #13771
@betrue-final-final  - the only color i can think of giving the header section is "GreyText" (disabled color) . what do you think we should do here?

[2020-07-14 15:41] kolaps33 opened #14026 "Carousel - selected tab has no aria-selected="true""
Issue reported by user testing.

Environment Information
Win10
Chrome Version 83.0.4103.116
NVDA 2020.1

Description: The selected item in the tablist should be indicated by aria-selected=”true” for screen reader users.

### expected behavior

Please see screenshot, every tab has aria-selected=false, but the selected tab should has aria-selected=true

![image](https://user-images.githubusercontent

[2020-07-14 15:51] kolaps33 opened #14027 "Carousel with Pagination has no focus outline on the previous and next buttons"
Issue reported by user testing.

Environment Information
Win10
Chrome Version 83.0.4103.116
NVDA 2020.1

### Describtion:
The Previous / next buttons in ‘Carousel with pagination’ are not highlighted when they get the focus.

#### Repro steps:
1. open page https://fluentsite.z22.web.core.windows.net/components/carousel/definition
2.  navigate into the example https://fluentsite.z22.web.core.window

[2020-07-14 15:54] jurokapsiar commented on #13488
Level seems to be narrated because of the `combobox` role used on its parent. of the `list`. It is probably a combination that the screen readers do not handle in a clean way. In react-northstar's multi-select searchable Dropdown, the selected items are outside of the `combobox` container, which is I think a pattern to consider. With regards to the buttons, you can consider making them hidden (`ar

[2020-07-14 16:15] paulgildea commented on #14017
@CampbellOwen Thanks for the video repo! That was super helpful. I am able to repo the issue with the latest.

We would appreciate a PR if you are willing to put one together.

Let's us know if you'd like to put one together and I'll assign this issue to you.

@joschect - as FYI for any sign off for `ContextMenu`

[2020-07-14 16:18] paulgildea commented on #14022
@jurokapsiar - Sending this one over to you 👍 .

[2020-07-14 16:24] paulgildea commented on #13291
@ecraig12345 @smhigley - Any updates on this PR?

[2020-07-14 16:27] paulgildea commented on #13532
@jdhuntington @dzearing Thoughts on this folks?

[2020-07-14 16:30] paulgildea commented on #13663
Reassigning to get some more traction on this.

@xugao this one needs investigation so bringing this over.

[2020-07-14 16:37] stephenkjohnston commented on #8339
We were having this issue occur when toast notifications; from `react-toastify`, appeared over the top of the panel, and were clicked on, `onOuterClick` would be called, and the panel would go away. For our application this was undesirable, and after reading the other proposed fixes, we just implemented the following solution:

[code]

[2020-07-14 16:39] paulgildea commented on #13927
Bringing attention to this one.

[2020-07-14 16:41] paulgildea commented on #13943
Interesting. I haven't seen that issue before.

@middiu  I'm following up - is this still an issue for you?

[2020-07-14 16:45] kejatura commented on #13974
Hi @xugao, if you scroll down the detailslist (enabling the sticky header while scrolling) and run Fast Pass, it should have this error. The element that has the issue when I run the automated checks is:

<div aria-hidden="true" class="stickyAbove-48" style="height: 97px; left: 0px; right: 17px; top: 0px;">

[2020-07-14 16:48] paulgildea commented on #13958
For your #1 - I was referring to the ARIA example you provided: https://w3c.github.io/aria-practices/examples/combobox/combobox-select-only.html that example calls it select only - meaning that you cannot type any text into the ComboBox.

Today we have two different components to manage that. `ComboBox` and `Dropdown`. The `Dropdown` component does not allow text to be typed in and fits the select

[2020-07-14 16:56] CampbellOwen commented on #14017
Hey @paulgildea , thanks for confirming. I'd definitely be willing to work on a PR, but I have no idea what's causing this issue. If I could get help with the investigation, I don't mind being the one to actually implement the fix.

[2020-07-14 17:06] msandora commented on #13968
@jurokapsiar Thank you for your reply. I did realize the problem later that day. The documentation seems imprecise in some cases and I do wish there were more examples of how to use northstar components.

I have been working with northstar for a week now and one thing that I am having a hard time with is getting the theme to work with standard fluent ui components.

If you can offer some guidance

[2020-07-14 17:27] xugao commented on #13704
Thanks @jurokapsiar! I think we should make disabled checkbox focusable. we currently lack of consistency across all components on this point. But i think for the long term, we should make all disabled control focusable with `aria-disabled=true`.

cc @betrue-final-final

[2020-07-14 17:32] xugao commented on #13483
@Anschur - may i ask why you are setting `ariaPositionInSet="3"` and `airaSetSize="10"` in your codepen ?
These are optional props and unless you are setting a non-default role on the `input` element, you shouldn't be setting these aria attributes which caused the violations?

[2020-07-14 18:08] paulgildea commented on #14017
I'll mark this as needs investigate to see if we can get some traction on a potential fix.

[2020-07-14 18:12] yanbxice commented on #13749
Hi @joschect, any update for this?

[2020-07-14 19:00] #14000 closed

[2020-07-14 19:00] #13999 closed

[2020-07-14 19:06] yanbxice opened #14029 "Accessibility - Screen reader users are unable to select date from calendar"
### Environment Information

- **Package version(s)**: @fluentui/date-time 7.10.0
- **Browser and OS versions**: Chrome + Voiceover on iOS 13.5.1

### Describe the issue:

When Voiceover is on, users are not able to navigate to the dates on the calendar view. User can only swipe from "Month Year" label to those day headers, like "SAT", "SUN". After that, the focus goes to the right box. Thus they

[2020-07-14 19:10] xugao commented on #13704
@v-jashr - checked internally with our team members and this is by design. we don't want to enable the focus which sacrifices efficiency for keyboard navigation. User can still get the information on the disabled item using scan/browse mode.

[2020-07-14 19:16] xugao commented on #13974
@kejatura - thanks! i got the repro. Will look into fixing

[2020-07-14 19:54] xugao commented on #13663
@AbhijitUI - i can't repro with Edge Version 83.0.478.64 (Official build) (64-bit) and Narrator. can you confirm you are using Narrator and not other type of screen readers

[2020-07-14 20:35] middiu commented on #13943
yes still the same problem.

[2020-07-14 21:14] xugao commented on #14029
@yanbxice - This is an issue with VoiceOver. see issue #11273. We can't do much here.

[2020-07-14 21:50] xugao commented on #13927
@sunnyEspireGit - I cannot repro with latest V6 Fabric: https://codepen.io/xugao/pen/ExPevpQ

Feel free to modify the codepen to share me the repro if mine is incorrect

[2020-07-14 23:00] #13854 closed

[2020-07-14 23:42] xugao commented on #14021
@MdAmeerMind - I cannot repro this issue with Narrator. I believe this is a bug with NVDA, not with the component itself.
I will mark the bug as external unless you can pin point what aria attributes we are setting incorrectly here

[2020-07-14 23:52] corganfuzz commented on #13943
Same issue here. saw this 404 message a couple of weeks ago

[2020-07-14 23:55] middiu commented on #13943
yeah I also tried using a VPN to simulate different client locations, but still the same error

[2020-07-15 00:09] #13971 closed

[2020-07-15 00:09] xugao commented on #14017
@CampbellOwen - I believe this is by-design and the code which adds the delay is [here](https://github.com/microsoft/fluentui/blob/master/packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenuItemWrapper/ContextualMenuSplitButton.tsx#L23)

I think this is so that the hover effect shows up the same time as the menu.

[2020-07-15 00:22] dotnetjunky commented on #14017
@xugao I'm not sure I understand the design here. It shows the hover state and immediately resets back to rest state. Are you saying we intentionally shows the hover effect on the first item when the contextual menu opens?

[2020-07-15 00:30] xugao commented on #13549
@venkatrgmsft - couple things here:
1. it's by design to have each row focusable, regardless if it can perform operations or not. That way screen reader can read out content for each row
2. for the row you pointed out, we have a bug here and it's suppose to be able to key-nav to collapse/expand. that bug is tracked in #6318

[2020-07-15 00:32] CampbellOwen commented on #14017
On top of what @dotnetjunky said, the issue isn't the delay in hover states, it's the fact that they're applied and then unapplied milliseconds later when my cursor never went over the submenu. If you move your mouse in a perfectly straight vertical line down the right side of the button, you'll see hover styles in the submenu be applied for a split second.

Doing some investigation, the submenu i

[2020-07-15 01:12] behowell opened #14034 "Move Pivot into its own package"
Pivot needs to be moved into its own package `@fluentui/react-tabs`. All components are being moved into individual tabs so they can be versioned and released separately from each other. This will also involve renaming `Pivot` to `Tabs`, leaving the old deprecated name `Pivot` exported as well, for now.

[2020-07-15 01:32] dawwa opened #14035 "Card vs AdaptiveCards?"
Hi, we're wondering the roadmap of [Card](https://developer.microsoft.com/en-us/fluentui#/controls/web/card) and relationship with [AdaptiveCards](https://github.com/microsoft/AdaptiveCards), are we going to align the design and experience since they both seem the major UX efforts going on. Would someone please help clarify?

[2020-07-15 01:50] #13291 closed

[2020-07-15 02:18] meghanking commented on #13831
I will let the product team know that the only fix is to update to a the newer date-time package version.

From my short test pass, and from @lorejoh12 's initial comment, that seems like a sufficient accessible name for the "2020" button.

I will bring the other issue I found with the example from the deploy link in another issue item

[2020-07-15 02:30] meghanking opened #14036 "date-time package's Inline Calendar variant using Chromium Edge + Narrator: when switching to from Dec 2020 to Jan 20201, the accessible name of the "2021" button is read out by screen reader"
### Environment Information

http://fabricweb.z5.web.core.windows.net/pr-deploy-site/refs/pull/14008/merge/date-time/dist/index.html#/examples/calendar

### Describe the issue:

When using the "Next month" button to switch to a month in a different year (say Dec 2020 to Jan 2021), the accessible name of the "20201 switch to select year button" is announced by screen reader out of context

This inf

[2020-07-15 04:29] MdAmeerMind commented on #14021
Hi @xugao , thank you for reply. I have raise this issue with NVDA

[2020-07-15 04:29] #14021 closed

[2020-07-15 06:57] shivasai09 opened #14039 "card callout in charts, background issue"
while hovering on the chart in dark mode.

the callout background should be black.

repro image
![image](https://user-images.githubusercontent.com/33802398/87513324-2bc5d180-c696-11ea-85d8-3e3c6df881aa.png)

and this is happening due to using static them instead of wrapping the component in styled function
https://github.com/microsoft/fluentui/blob/master/packages/charting/src/utilities/ChartHover

[2020-07-15 07:26] Poopooracoocoo opened #14040 "ChoiceGroups/radio buttons don't use the new style and strangely, the dot appears off-center"
### Environment Information

- **Package version(s)**: idk, just whatever the fluent ui website and outlook use?
- **Browser and OS versions**: Edge 83 (why on earth does content in internal pages have to load in?!), Chrome 83, Win10 2004.

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
![image](https://user-images.githubusercontent.com/51363864/87515727-9c351880

[2020-07-15 10:43] layershifter opened #14041 "@uifabric/react-hooks: useMergedRefs() behaves differently than native refs"
### Environment Information

- **Package version(s)**: (fill this out)
- **Browser and OS versions**: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:
https://codesandbox.io/s/bold-montalcini-gwzgo

1. Open CSB
2. Click a rerender button

An implementation of `useForkRef()` handles referential equality so it behaves like native refs.

#### Actual behavior:

O

[2020-07-15 12:06] kolaps33 opened #14042 "Radio Group with actionable element is not navigable with NVDA browse mode"
Environment Information
Win10
Chrome Version 83.0.4103.116
NVDA 2020.1

Repro steps
NVDA is running in browse mode
1. Open URL
https://fluentsite.z22.web.core.windows.net/components/radio-group/definition
2. Navigate into `Radio Group` example in browse mode
![image](https://user-images.githubusercontent.com/22620150/87543024-41da8e80-c6a4-11ea-8993-48cd579a5a5e.png)

3. Verify you can navigate to

[2020-07-15 14:39] dzearing commented on #14025
@miroslavstastny Thank you! Makes sense.

@khmakoto It seems we have the exact same code in `react-focus` package, and it needs to be fixed on line 493 in there. Is there a plan to dedupe? I thought we were going to remove the duplicate copies and use the converged FocusZone.

[2020-07-15 15:24] paulgildea commented on #14036
@lorejoh12 FYI.

[2020-07-15 15:27] paulgildea commented on #14039
Thanks for the PR @shivasai09 !

[2020-07-15 15:37] paulgildea commented on #14040
Thanks for the issue @Poopooracoocoo !

Currently, according to the design toolkits - both Fluent UI React and WinUI are implemented to the design spec. I'll bring this up with the design team to understand the difference in the Radio Button design.
Web Toolkit: https://aka.ms/fluenttoolkits/web/figma
WinUI Toolkit: https://aka.ms/figmatoolkit

As far as the dot - I'm unable to reproduce the issue

[2020-07-15 15:56] muagar opened #14046 "Screen Reader is not working properly with the up and down button in the edge browser."
I have tried the https://developer.microsoft.com/en-us/fluentui page both in chrome and edge browser.
In the Chrome browser in screen reader mode up and down button works properly and iterate through all the buttons and links.
The same thing I am trying in the edge browser its not working properly with the up and down buttons.

[2020-07-15 16:37] paulgildea commented on #14035
@dawwa Thanks for the question.

Fluent UI React and Adaptive Cards are trying to meet different needs for developers. Adaptive Cards is full solution that provides Card experiences leveraging a tech agnostic schema that allows you to define a card semantically and then it can render appropriately on the various platforms that is supports. However, that schema is limited in what UI designs it can

[2020-07-15 16:41] xugao commented on #14036
@lorejoh12 - I'm not sure why the year button needs to be set with aria-live. Seems to be that setting that on "monthAndYear" button alone is sufficient. Could you confirm and make a fix for this?

[2020-07-15 17:17] #14039 closed

[2020-07-15 17:25] khmakoto commented on #14025
Updating the thread here. @miroslavstastny has included the `react-focus` version in his PR fix.

@dzearing and I are talking offline about what happened with dedupe's plans.

[2020-07-15 17:28] xugao commented on #14041
@layershifter - this is indeed a bug. i can get a fix going

[2020-07-15 18:09] #14025 closed

[2020-07-15 18:19] xugao commented on #13532
@tabrumle - I don't think this is a bug. Here are some things you should know:
1. It's correct that by default the control has role be `grid`.
3. You can overwrite `role` by setting `role` prop (e.g. `role="option"`)on the `Grid`.
2. the aria props that you pointed out are optional, we shouldn't be adding these if it's causing you violations
[code]

Let me know if this helps

[2020-07-15 19:18] xugao commented on #14017
@CampbellOwen, @dotnetjunky - sorry about that, i misunderstand the bug here. Now i get the issue. i don't have a good idea what's causing this. If you can spend some more time digging, I would suggest you to dig further on why the event fired unexpectedly. My gut feeling towards `createPortal` in `Layer` and could very much be a React bug.

[2020-07-15 19:27] xugao commented on #14040
@Poopooracoocoo - see same issue #10573. this is related to screen resolution and browser subpixel rendering. I don't have a great idea how to address this. also given the impact of this issue is small. We will go ahead mark this as not an issue

[2020-07-15 19:36] xugao commented on #13945
@BrendanMcK - Could you check if your issue is same as #11858? Seem to be the case to me. I believe this is a VoiceOver issue and looks like this will be fixed in iOS 14

[2020-07-15 21:08] #13633 closed

[2020-07-15 21:11] aykutkilic opened #14047 "Callback when dialog disappears"
#### Describe the feature that you would like added

I need an event like onDialogDisappeared which is trigger when the dialog is off the view and faded away. I've put a form inside a dialog and reset the form when user confirms or cancels. If I reset the form immediately after hidden is set to true then the user can see the reset of the form which look imo ugly. I put a fixed delay time to ensure

[2020-07-15 21:55] xugao commented on #14047
@aykutkilic - can you use `onDismiss` prop?

[2020-07-15 22:01] #11508 closed

[2020-07-15 22:01] #12444 closed

[2020-07-15 22:01] #13848 closed

[2020-07-15 22:09] aykutkilic commented on #14047
Hello, `onDismissed={()=>reset()}` does what I want. Thanks!

[2020-07-15 22:09] #14047 closed

[2020-07-15 22:20] BrendanMcK commented on #13945
@xugao  - not clear that this is the same issue. The issue in #11858 has to do with focus getting left outside the modal after the modal opens, perhaps due to a timing issue. In this case, focus is inside the modal just fine - it's not an issue with opening the modal. Instead the issue here is that items in the popup are (per Fabric implementation) existing outside of the Modal's DOM subtree, and

[2020-07-15 22:31] BrendanMcK commented on #13945
Some additional thoughts on this: even if VO were to track keyboard focus outside of the modal, that might not be enough for this to be accessible. That approach assumes a specific type of user interaction: where the user is using a *keyboard*, and can drive focus using that (typically via arrow keys), with the screenreader passively reporting wherever the focus ends up.

This is not, however, not

[2020-07-15 22:33] MLoughry commented on #14041
The purpose of a ref callback is to give you the reference to a rendered React node. If the ref callback doesn't change and the underlying node doesn't mount/unmount, React doesn't invoke the callback.

Ref callbacks are not intended as notifications for rerenders.

[2020-07-15 23:07] CampbellOwen commented on #14017
I looked at it a bit more, I've at least verified that it really is erroneously calling `mouseOver`. Here's a log showing two consecutive `mouseOver` events: The first being the `IconButton` hosting the context menu, and the second being the `ContextualMenuItem` that should not be receiving `mouseOver`:
![image](https://user-images.githubusercontent.com/7470459/87608491-ebc21700-c6b4-11ea-8e07-629

[2020-07-15 23:11] dk511 opened #14049 "Fluent UI Button component doesn't renders with React Testing Library render method."
render method which belongs to React testing library throws below error

![image](https://user-images.githubusercontent.com/58889061/87608817-b964e980-c6b5-11ea-876a-1d6641b90975.png)

![image](https://user-images.githubusercontent.com/58889061/87609035-59227780-c6b6-11ea-916d-377438578608.png)

Note : Am using   "@fluentui/react-northstar": "^0.50.0",

Am also using Provider component with theme

[2020-07-16 00:08] yanbxice commented on #13937
Tried with role='menuitem' on button and resolved the problem.

[2020-07-16 00:08] #13937 closed

[2020-07-16 00:58] chgi opened #14052 "react-northstar Dropdown search with japanese IME broken"
### Environment Information

- **Package version(s)**: @fluentui/react-northstar at least 0.49.0 and 0.50.0
- **Browser and OS versions**: Windows 10, Chrome 83.0.4103.116 and Firefox 78.0.2

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/tender-bhaskara-xzl9h?file=/example.tsx

#### Actual behavior:

Trying to input こんにちは (k-o-n-n-n-i-c-h-i-h-a on the keyboar

[2020-07-16 04:46] #14041 closed

[2020-07-16 06:17] zeedomD opened #14056 "Click on the line of title area far from Toggle button will also change the toggle state."
### Environment Information

- **Package version(s)**: 7.122.0 or older
- **Browser and OS versions**: All browsers

### Please provide a reproduction of the bug in a codepen:
1. Go to Toggle Example Page. https://developer.microsoft.com/en-us/fluentui#/controls/web/toggle
2. Click any blank area on the same line with the title area.
![image](https://user-images.githubusercontent.com/20253660/8763

[2020-07-16 06:25] zeedomD commented on #13759
Hi @leddie24 , do we have any updated here? Thanks.

[2020-07-16 08:53] Poopooracoocoo commented on #14040
@paulgildea

I'm super confused. If they're both to spec, then why do they look different?!

@xugao What about the design of the radio buttons? Isn't that still an issue? I don't know what other frameworks do but they don't have off centre dots.

[2020-07-16 09:01] layershifter commented on #14041
It's fully correct, but closures like `el => console.log("MergedButton", tag, el?.tagName)` will always return a new reference on each render.

[2020-07-16 10:03] SyedRehmanRazvi opened #14057 "In scan mode, screen reader focus is moving out of panel in backward navigation"
User Experience:
Users who rely on Screen reader for navigating between elements are getting affected as screen reader focus is moving out of "Panel" in backward navigation. User will be confused if the screen reader focus moves to background elements and announcing inappropriate information.

Test Environment:
OS: Win 10
OS Version: 1909 (OS Build 18363.778)
Browser: Edge - Dev (Version 84.0.488.

[2020-07-16 10:29] SyedRehmanRazvi opened #14059 "When activating table shortcut key "T" to identify table, Narrator is not announcing table column count information"
User Experience:
Users who rely on screen readers are impacted as Narrator is not announcing table column count information

Test Environment:
OS: Win 10
OS Version: 1909 (OS Build 18363.778)
Browser: Edge - Dev (Version 84.0.488.1)
URL: https://fabricweb.z5.web.core.windows.net/oufr/7.78.2/#/examples/detailslist
Screen reader : Narrator

Repro Steps:
Step 1: Turn on Narrator and open above URL us

[2020-07-16 11:20] sushruth opened #14060 "FluentUIv0 - Button with loading=false has slightly more padding than loading=undefined"
### Environment Information

- **Package version(s)**: `@fluentui/react-northstar@0.50.0`
- **Browser and OS versions**: All

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/fluentui-button-loading-false-issue-rtfb6?file=/example.js

#### Actual behavior:

The following usages of button should yield the same result.

[code]

#### Expected behavior:

There are p

[2020-07-16 13:10] layershifter opened #14062 "@fluentui/react-button: useFocusRects() uses a wrong ref"
### Environment Information

- **Package version(s)**: `@fluentui/react-button@0.7.2`
- **Browser and OS versions**: N/A

### Please provide a reproduction of the bug in a codepen:
https://codesandbox.io/s/summer-feather-13lb5

1. Open a CSB
2. Tab to a frame
3. Mention that frame body doesn't have classes for focus rects

![image](https://user-images.githubusercontent.com/14183168/87674519-64d573

[2020-07-16 13:17] kolaps33 opened #14064 "VoiceOver narrates "1" when menuitemcheckbox is checked, used in menu in toolbar"
### Environment Information
VoiceOver
Chrome 83.04103.116
macOS Catalina 10.15.5

Repro steps:
1. open the page: https://fluentsite.z22.web.core.windows.net/components/toolbar/definition
2. navigate into the toolbar example: Toolbar can contain a radio group in a menu
3. navigate to the menu which has already any item checked

#### Actual behavior:
VoiceOver narrate:
1, [name of the item], ticked,

[2020-07-16 13:38] layershifter opened #14065 "@fluentui/react-button: MW scenario does not work"
### Environment Information

- **Package version(s)**: @fluentui/react-button@0.7.2
- **Browser and OS versions**: N/A

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/amazing-gauss-y1uql?file=/src/App.js

#### Actual behavior:

No styles 😭

#### Expected behavior:

Styles are present 🎉

### Priorities and help requested:

Are you willing to submit a PR to fix?

[2020-07-16 15:35] paulgildea commented on #14056
Dupe of #13721

[2020-07-16 15:48] paulgildea commented on #13928
Thanks for the update! Bring this back.

[2020-07-16 15:51] paulgildea commented on #13945
@smhigley as FYI.

[2020-07-16 16:23] Umbrous commented on #8748
Thanks, it's work

[2020-07-16 16:33] known-as-bmf commented on #13984
Forked from the GroupedList first example:

https://codepen.io/known-as-bmf/pen/PoZyOVe?editors=1011

the error:

![image](https://user-images.githubusercontent.com/11721166/87697754-cf94a780-c792-11ea-9fa5-c02d1157f409.png)

[2020-07-16 18:10] xugao commented on #13865
@luckydennis - this actually looks like a bug with Edge in High Contrast mode. Few things I have observed:

1. it's working properly for some mode of the messagebar and some don't:
![image](https://user-images.githubusercontent.com/1207059/87705207-6bea8a00-c752-11ea-9626-8091113dc024.png)
Looks like for the broken case, browser is cutting off the `outline` for some reason.

2. If you turn off hig

[2020-07-16 18:23] ajain17 opened #14068 "Icons re-registering multiple times, causing them to be corrupted"
We are using Fluent UI in our application and only call initializeIcons at the root of our application

`
import { initializeIcons } from "@uifabric/icons";
initializeIcons();
`

We use some other components like LPC (Persona card) that also have calls to initialize Icons. In my understanding this is causing them to be registered multiple times. We randomly see our icons start to look like this:
!

[2020-07-16 18:31] luckydennis commented on #13865
@xugao thank you for explanation 👍

[2020-07-16 18:38] betrue-final-final commented on #13771
I was going to suggest "GrayText", so I concur.

[2020-07-16 19:00] #14035 closed

[2020-07-16 19:00] #11346 closed

[2020-07-16 19:16] betrue-final-final commented on #13634
Border in the rest state is unnecessary. Focus and hover are two separate states. Focus should add the border, and hover would use a Highlight background (Cyan blue in HC black), and HighlightText foreground.

[2020-07-16 19:18] betrue-final-final commented on #13634
Border in the rest state is unnecessary. Focus and hover are two separate states. Focus should add the border, and hover would use a Highlight background (Cyan blue in HC black), and HighlightText foreground.

[2020-07-16 19:23] xugao commented on #13634
@sergul - see reply from Ben, i will close as by design. feel free to re-open if you want further discussion :)

[2020-07-16 19:23] #13634 closed

[2020-07-16 20:51] mosesoak commented on #3692
@dzearing After further testing I don't think your SSR code works correctly -- it doesn't seem to correctly inject the CSS.

## Current script
Here's a screenshot of what I'm seeing in Chrome using the Performance tool:
![image](https://user-images.githubusercontent.com/24345/87720038-28e7e100-c769-11ea-8d0e-a1502ecd07a6.png)

## Possible improvement

I rewrote the script based on the Material UI

[2020-07-16 21:04] mosesoak commented on #3692
For completeness, here's how my `_app.tsx` is set up, including a way to toggle dark mode, something else the docs don't cover very well (I opened a separate issue for that). This feels like the right location for themes.
[code]

[2020-07-16 21:07] mosesoak commented on #13977
I'm using NextJS and have found a good way to switch themes using Context. I posted this at the issue relating to SSR warnings here https://github.com/microsoft/fluentui/issues/3692 and think it might be helpful for others so I'll repost it here:

[code]

[2020-07-16 21:22] xugao commented on #13879
@Sandhya-aluri - can you share your codepen link for repro?

[2020-07-16 21:24] #13865 closed

[2020-07-16 21:48] #11781 closed

[2020-07-16 21:55] xugao commented on #12167
@jurokapsiar - looks like some v0 bugs need future triage. i'm assigning you on these

[2020-07-16 21:57] xugao commented on #12199
@layershifter - doing some housekeep here. do you think we need to leave this issue open or can be closed?

[2020-07-16 22:38] chrisdholt opened #14071 "RFC: Intent to contribute FAST web components for FluentUI"
## Overview

[FAST](https://fast.design) is a collection of JavaScript packages centered around web standards, designed to help you efficiently tackle some of the most common challenges in website and application design and development. For over a year now, we've been syncing regularly with several of the folks involved with the FluentUI effort in an effort to continually find opportunities to ali

[2020-07-16 22:43] smhigley commented on #13945
Thanks for the FYI! This is a known behavior with VoiceOver -- of all the screen readers, VO is by far the most picky about aria-modal use.

I can't currently think of a good way around it with the current portal implementation, but I'll play around with a few things :). I'm also going to make a quick PR to add a `role="document"` role to the child of the dialog/aria-modal to fix a separate (much

[2020-07-16 22:47] dzearing commented on #14071
Super exciting! One Microsoft!

[2020-07-16 23:13] xugao commented on #14017
@CampbellOwen - i can help dig a bit more but given this is a low impact bug please expect some delays.

Tagging @joschect here in case he knows anything.

[2020-07-16 23:52] xugao commented on #14046
@muagar - are you using Narrator (supported screen reader) on Edge ?
I can't repro this with Narrator + Edge Chromium

[2020-07-17 00:14] xugao commented on #14059
@SyedRehmanRazvi - could you point me to the documentation for the shortcut T (for me to read up on what it is expected to do)? I don't find it [here](https://support.microsoft.com/en-us/help/22806/windows-10-narrator-keyboard-commands-touch-gestures).

[2020-07-17 00:17] xugao commented on #14057
@SyedRehmanRazvi - this is a known issue and it's a suitable for screen reader to address this. here is [the reason](https://github.com/microsoft/fluentui/issues/11241#issuecomment-558393305).

[2020-07-17 06:58] assuncaocharles opened #14079 "paddlePosition and navigationPoistion doesn't on Carousel"
### Environment Information

- **Package version(s)**: @fluentui/react-northstart@0.50

### Please provide a reproduction of the bug in a codesandbox:

https://codesandbox.io/s/y1sen?module=/example.js&file=/example.js

#### Actual behavior:

`paddlePosition` and `navigationPosition` should change the paddle and the navigation position in the `Carousel`

#### Expected behavior:

Nothing happens

#

[2020-07-17 08:10] layershifter commented on #12199
@xugao I think that we can close this as a duplicate and keep #12953.

[2020-07-17 08:15] jurokapsiar opened #14080 "Popup opened on hover cannot be closed by changing the open state"
### Environment Information

- **Package version(s)**: 0.50.x
- **Browser and OS versions**: all

### Please provide a reproduction of the bug in a codepen:
Create popup that has a trigger and `on="hover"`
Use`open` and `onOpenChange` to control the state
Add button to the popup content to close the popup by `onClick={() => setOpen(false)}`

#### Actual behavior:
Popup stays open after clicking on

[2020-07-17 08:17] jurokapsiar commented on #14080
early investigation:

strange multiple callback calls
probably they are the source of this issue

![image](https://user-images.githubusercontent.com/13742664/87764427-a87fb980-c816-11ea-8227-452263eda0c9.png)

[2020-07-17 08:40] farooqiazam opened #14081 "Menus of the dropdown misplaced from their position after zoom property sets to 80%."
### Environment Information

- **Package version(s)**: "office-ui-fabric-react": "6.112.0"
- **Browser and OS versions**: Version 84.0.4147.89 (Official Build) (64-bit) and Windows 10 pro version:1803

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

For some small screen sizes, we have to make a zoom size reduced to 80 % using CSS. After zooming, all components a

[2020-07-17 08:54] v-ajrai commented on #13771
@xugao .I  think it should full fill the purpose

[2020-07-17 09:43] #14062 closed

[2020-07-17 10:00] #14040 closed

[2020-07-17 14:25] FrankWeyand66115 opened #14084 "DetailsList selection and filtering"
The details list selection is not kept in case it is filtered.
The example shows that: https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist/basic
Just select an entry, filter the list, so the selected item is filtered out, and remove the filter text again.

For some usecases, it makes it impossible to use this control. By filtering items, the selections is removed. Maybe a new

[2020-07-17 15:44] cronin101 opened #14086 "Support for lazy-loading attribute in Image props"
This would have the huge benefit of cutting down network requests for off-screen content.

#### Describe the feature that you would like added

The ability to access [the lazy-loading attribute](https://web.dev/native-lazy-loading/) when using an `Image` element.

#### What component or utility would this be added to

`Image`

[2020-07-17 16:00] vsspt commented on #12770
@dzearing, is there any news regarding the release date?

[2020-07-17 16:01] Dangerous-Mind opened #14087 "Thousands and millions separators in numeric values."
#### Describe the feature that you would like added

Many times people has to fill fields with large numeric values and want to see that they are inserting the million value instead of the thousands.
It's very difficult to read a number like 1102548,22 and people would like to see something like 1 102 548,22 while inserting the values.
Maybe I'm approaching the problem in the wrong way but I could

[2020-07-17 16:32] paulgildea commented on #14084
Thanks for the feedback @FrankWeyand66115 !

Due to the complexity and dependencies of our List components, we are actively trying to minimize risk of regressions and we're not adding new features, modes, or large fixes to them at this time.

We sincerely apologize that we won't be able to address this issue at this moment.

Thanks!

[2020-07-17 16:35] paulgildea commented on #14086
Thanks for the feedback @cronin101 !

Is this a feature addition that you would be interested in contributing to the `Image` component?

[2020-07-17 17:23] pownkel opened #14089 "Focus indicator disappears after selecting nav link with keyboard"
### Environment Information

- **Package version(s)**: 7.98.0
- **Browser and OS versions**:
   Chrome version 84.0.4147.89 (Official Build) (64-bit)
   Windows 10

### Describe the issue:

When navigating a Nav with keyboard while a screen reader (NVDA, Jaws, or narrator) is on, the focus indicator disappears after selecting a link and does not reappear again while using arrow keys to move to oth

[2020-07-17 17:25] xugao commented on #14081
@farooqiazam - I can't seem to repro in Edge and using our document site:
![image](https://user-images.githubusercontent.com/1207059/87813913-a79b5780-c817-11ea-9fe5-1a11752cc5d7.png)

[2020-07-17 17:29] paulgildea commented on #14087
Thanks for reaching out to us @Dangerous-Mind

I've added this to our backlog for review but it's low on our priority list right now because we're focused on converging components across our offerings. However, we'll take this feedback into consideration as we address components like `TextField` and `MaskedTextField` moving forward.

Thanks!

[2020-07-17 17:31] paulgildea commented on #14089
@smhigley as FYI

[2020-07-17 18:31] Dangerous-Mind commented on #14087
Thanks @paulgildea,

Is there any workaround to manage to make this with fluentui?

[2020-07-17 18:41] ajain17 commented on #14068
This happens very intermittently. We use LPC in our list views and when we hover over LPC persona icons I see a lot of such warnings in console
![image](https://user-images.githubusercontent.com/5581487/87820134-5e9cd080-c822-11ea-94cd-45e3e143b2b7.png)

After this, it sometimes changes all icons to random characters and gets resolved on refresh. I do not have a consistent repro but we observe thi

[2020-07-17 19:57] astegmaier opened #14091 "react-northstar: changing items in a selectable <List> component produces console error."
### Environment Information

- **Package version**: @fluentui/react-northstar 0.5.0
- **Browser and OS versions**: Edge 83.0.478.64 / OS X 10.15.5

### Please provide a reproduction of the bug in a codepen:

Create an app with a `List` component with the `selectable` property set to "true". For example:

[code]
To repro, see:
 - [this codesandbox demo](https://codesandbox.io/s/gracious-lamport-fmj