[2018-12-17 13:20] harshdamaniahd commented on #7381
@khmakoto https://css-tricks.com/almanac/properties/s/scrollbar/ this is what i was looking for.
But i think its good to kept it default, as it is an issue with all browsers

[2018-12-17 14:17] vasilevach opened #7420 "Panel causes focus on first input type element if "onRenderNavigation" prop is added"
### Environment Information

- Fabric: 6.106.3
- Chrome (71.0.3578.98) High Sierra

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/GPqYmM

#### Actual behavior:

When the Panel is opened, it focuses and opens the calendar component.

#### Expected behaviour:

It should be up to the developer if the children in the Panel have focus. However this behaviour is

[2018-12-17 14:48] axxx307 commented on #6951
I've ran into the same problem. @kalyany1 workaround with using deprecated 'onChanged' did help.

[2018-12-17 15:09] micahgodbolt commented on #7397
@be5invis yeah, i'd typically suggest typeRamp and spacingRamp to be different, though it's a valid question as to which one a TextField should use for it's line height.....Padding/margins would always use a spacing ramp.

[2018-12-17 18:44] micahgodbolt commented on #7395
lets be sure to create a new issue tracking adding swiping as a feature request

[2018-12-17 19:09] cliffkoh opened #7422 "Test"
This is to verify that the bot is repaired.

[2018-12-17 19:09] #7422 closed

[2018-12-17 20:02] kirilligum commented on #7417
I added a "hack" answer

https://stackoverflow.com/a/53822187/390066

===========

Not exactly what' I was looking for but here is one way to do it:

https://github.com/OfficeDev/office-ui-fabric-react/blob/86337324a5fd8b522855eb8bdcbf012a868a26ba/packages/styling/README.md#using-fabric-core-classes

[code]

my understanding per https://github.com/OfficeDev/office-ui-fabric-react/wiki/Component-St

[2018-12-17 20:54] DanielHirschTpg commented on #6206
Just had the same issue. You need to implement the `getKey` callback of the `Selection` that you set to the `DetailsList`. Apprently, without the callback, the selection must internally work with row indexes. Once you supply the `getKey` method callback, which should return the `setKey DetailsList` value for an item passed to the callback, the selection is persisted properly after sorting.

[2018-12-17 21:15] #2370 closed

[2018-12-17 21:37] gggjtgxing opened #7424 "HoverCard support dynamic height for compact card and expand card"
**Describe the feature that you would like added**
[code]

**What component or utility would this be added to**
HoverCard

**Have you discussed this feature with our team, and if so, who**
No

**Additional context/screenshots**
People are using a weird way to set the height dynamically [edit by @ecraig12345 - ask me for link to code example if you need it]

[2018-12-17 22:09] BTC-Bradley commented on #7110
@drewloomer What I'm doing as a work around is going to the IconNames.d.ts file within node_modules and I'm simply removing the ```const``` from the enum.  This should suffice for development purposes until the team fully deprecates this last const enum.

[2018-12-17 22:44] Shobhit1 opened #7425 "[DetailsList] Aria Label being set incorrectly"
### Environment Information

- __Package version(s)__: Fabric React 6.114.0

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
For `DetailsList` component, `ariaLabel` prop is not doing anything, because `aria-label` only checks if the `iconOnly` prop is set or not and then assigns the name as `aria-label` or assigns `undefined`

![aria-label-bug](https://user-image

[2018-12-17 22:45] Shobhit1 commented on #7425
I can fix it, given I know the reasoning behind setting `name` as the `aria-label` and also why would we set it to `undefined` if its not marked as `iconOnly`

[2018-12-17 22:45] ecraig12345 commented on #7416
This is a great question, and I totally agree it's something we should document better. I haven't personally worked with styling/theming much, so @micahgodbolt @natalieethell @JasonGore do any of you have suggestions? I assume the font can be set as part of a theme, but it seems like there also ought to be a simpler way for people who don't need the full power/complexity of theming.

[2018-12-17 23:06] ecraig12345 commented on #7418
DetailsList will only re-render if a new array of items has been passed in. [`Array.prototype.sort`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort) sorts arrays in-place, so the array being passed to setState and the DetailsList is actually the same one as before.

To get the list to re-render, you can copy the array before sorting: for example,
`sorte

[2018-12-17 23:18] ecraig12345 commented on #7416
@Jahnp too

[2018-12-17 23:44] ecraig12345 commented on #7419
Thanks for reporting this! I'll look into it, but in the meantime, here's a codepen with a repro:
https://codepen.io/ecraig12345/pen/MZjyjZ

In the future, if you can provide a codepen in the issue, that would be great. An easy way to start is to go to the doc page for the component ([here for context menu](https://developer.microsoft.com/en-us/fabric#/components/contextualmenu)) and look for an e

[2018-12-18 00:00] #5501 closed

[2018-12-18 00:39] Jahnp commented on #7424
@atneik @chaofeng2014 FYI

[2018-12-18 00:43] ipip2005 opened #7426 "ColorPicker does not update upon text field changes when alphaSliderHidden=true"
Same issue #4525 happened before but it looks like regressed again in the latest version.
When "alphaSliderHidden={true}" is removed, it works fine

### Environment Information

- __Package version(s)__: Latest
- __Browser and OS versions__: Chrome

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/wRzWGN

#### Actual behavior:

The color is not changed after

[2018-12-18 00:51] khmakoto opened #7428 "Pivot: Add swiping on touchscreen devices"
**Describe the feature that you would like added**
Adding swiping functionality on touchscreen devices like it was originally intended by the descriptions in the documentation:
- Swiping left or right on a pivot item header navigates to the adjacent section.
- Swiping left or right on section content navigates to the adjacent section.

**What component or utility would this be added to**
Pivot

**

[2018-12-18 01:17] chriskuech commented on #7110
I was able to suppress this without making code changes to prepackaged code by setting `"skipLibCheck": true"` in my tsconfig.json

[2018-12-18 01:33] ecraig12345 commented on #7417
Thanks for reporting this! I just answered [on Stack Overflow](https://stackoverflow.com/questions/53774662/how-to-change-the-font-in-fabric-ui/53825175#53825175), but it might be worth adding a note on our styling pages to make it clearer that you have to include the CSS on the page for the class names to work. @micahgodbolt or @Jahnp what do you think?

Stack Overflow answer copied here for refe

[2018-12-18 01:47] natalieethell commented on #6469
@KevinTCoughlin and I spoke offline and agree that adding aria-selected to each individual gridcell would not be the right move here. Since the row (the parent) is actually what is selected and not the gridcell (the child), it might be misleading to place aria-selected on the gridcell itself.

Hopefully Narrator can fix the issue referenced above and we'll have that fixed as a result!

In the mean

[2018-12-18 01:48] ecraig12345 commented on #7419
@joschect helped figure this out (thanks!), and I've opened PR #7429 with the fix.

[2018-12-18 01:50] ecraig12345 commented on #7426
Thanks for reporting this and providing a codepen! I'll work on a fix sometime in the next couple days.

[2018-12-18 03:00] #5578 closed

[2018-12-18 03:16] #7347 closed

[2018-12-18 05:31] KevinTCoughlin commented on #7381
Going to close given the author's response above. Please ping us here if you think this should be re-opened. However, I agree that it is best to keep the browsers default scrollbar styling.

[2018-12-18 05:31] #7381 closed

[2018-12-18 05:32] KevinTCoughlin commented on #5717
Thanks for raising awareness of this issue @prmittal 😃

[2018-12-18 05:35] KevinTCoughlin commented on #7418
Specifically because of this LoC if my memory serves me correctly:

https://github.com/OfficeDev/office-ui-fabric-react/blob/044ff2a6b44b05572b7c17ef309a598b757d717f/packages/office-ui-fabric-react/src/components/List/List.tsx#L334

[2018-12-18 07:18] abhrabhattacharyya commented on #7418
Thanks @ecraig12345 . Your suggestion worked. Really appreciate your fast response.

[2018-12-18 07:18] #7418 closed

[2018-12-18 08:18] hamedy commented on #7419
thanks for the quick response everyone :) couple of questions, I used this in a CommandBar component, the fix will apply to all components that use ContextualMenu I hope?
And how long it usually takes til the fix is published?

Hamed

[2018-12-18 15:52] micahgodbolt commented on #7056
Yeah, it's my understanding that it is not possible to extend iframe content outside of the iframe

https://stackoverflow.com/questions/31081821/extend-div-outside-bounds-of-iframe

It's a security concern: if an iframe can create an input, and place it on top of the password field, it could intercept passwords.

[2018-12-18 17:42] #7395 closed

[2018-12-18 19:00] #6019 closed

[2018-12-18 19:11] KevinTCoughlin commented on #7419
Correct, the fix _should_ apply to all components which use `ContextualMenu`.

We release nightly, after which the bot will comment on this issue thread with the OUFR version which contains the fix. Here's an example: https://github.com/OfficeDev/office-ui-fabric-react/issues/7318#issuecomment-446205053

[2018-12-18 21:07] rexkenley commented on #7056
Micah

But I was able to do it with react-portal. As I mentioned before react-portal has a node prop which I populate with window.parent.document.getElementId("root").

Fabric is using the same "node prop" except it is "hard coding" it to the current document.

Here is what the full re-render looks like in Crm
https://user-images.githubusercontent.com/10548251/49611867-ef39dc00-f970-11e8-9fe2-1b40

[2018-12-18 21:11] micahgodbolt commented on #7056
Yeah, we just won't be able to debug this scenario unless we can repro the bug. Have you tried adding react-portal to your example? Or at least mock it up in a quick create-react-app repo

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: rexkenley <notifications@github.com>
Sent: Tuesday, December 18, 2018 1:07 PM
To: OfficeDev/office-ui-fabric-react
Cc: Micah Go

[2018-12-18 22:22] khmakoto opened #7430 "ChoiceGroup: Styling via style native prop not working for choice group options"
### Environment Information

- __Package version(s)__: 6.115.0

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/khmakoto/pen/yGaLvJ?&editable=true

#### Actual behavior:
 When using the `style` native prop in choice group options nothing happens, meaning no styling is applied.

#### Expected behavior:
Using the `style` native prop in choice group options should apply

[2018-12-18 22:23] khmakoto commented on #7403
Hi @JoshuaLamusga, ideally you'd be able to use the `style` native prop to provide styling for choice group options. However, while trying to ready a codepen on how this would be done, I've come to notice that this approach doesn't work right now. I'm opening an issue for this bug (#7430). Once that is fixed I'll provide a codepen to illustrate how styling could be done in this way.

[2018-12-18 22:38] #7142 closed

[2018-12-18 23:00] #7341 closed

[2018-12-18 23:04] KevinTCoughlin commented on #6676
I appreciate your flexibility here @goodoldneon.

I agree this is worthy of consideration, but first think we need to audit the current *List component API surfaces as part of the next major release before adding more. Particularly if the behavior is achievable through existing methods.

Given the above, I'm going to close this for now. But we will revisit.

[2018-12-18 23:04] #6676 closed

[2018-12-18 23:07] kirilligum opened #7432 "Values disappear if ComboBox is in DetailList"
### Environment Information

- __Package version(s)__:
[code]
- __Browser and OS versions__: (fill this out if relevant)
Chrome Version 70.0.3538.110 (Official Build) (64-bit)

### Please provide a reproduction of the bug in a codepen:

[code]
1) click on the combo box in row 1
2)  select 'b'
3) click on the combo box in row 2
4) select 'd

#### Actual behavior:

i) at (3) the value in the row 1 c

[2018-12-18 23:50] TestAccessibilityGIT opened #7434 "Pivot A11y Pass"
Tracking all of the issues brought up with the 12/18 accessibility pass on Pivot control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B07b9e428-09cf-4a02-8fa1-05015209994a%7D&action=default&uid=%7B07B9E428-09CF-4A02-8FA1-05015209994A%7D&ListItemId=1635&ListId=%7B395E1ECB-5002-440E-

[2018-12-19 01:00] #6024 closed

[2018-12-19 01:20] #5162 closed

[2018-12-19 02:00] jenkinsns commented on #5181
After upgrade from 5.131.0 to 6.16.0 it throws below error

[01:56:17] Error - [tsc] node_modules/@uifabric/merge-styles/lib/IStyleSet.d.ts(15,67): error TS1005: ';' expected.
[01:56:17] Error - [tsc] node_modules/@uifabric/merge-styles/lib/IStyleSet.d.ts(15,114): error TS1005: '(' expected.
[01:56:17] Error - [tsc] node_modules/@uifabric/merge-styles/lib/IStyleSet.d.ts(15,136): error TS1005: '('

[2018-12-19 02:15] ecraig12345 commented on #5205
Unless someone objects, I'd like to close this issue in favor of #6030 since the issues are very similar and that one has a bit more discussion/planning.

[2018-12-19 02:48] KevinTCoughlin commented on #7425
@Shobhit1 is there a accessibility validation error?

Looking at the code, `aria-label` is used when the column renders _only_ an icon. If the column renders text, then `aria-labelledby` is used (the inverse of the line above).

https://github.com/OfficeDev/office-ui-fabric-react/blob/74f602bf522e0074f17dafefb9cae8b37e04cf37/packages/office-ui-fabric-react/src/components/DetailsList/DetailsColumn.

[2018-12-19 03:02] ecraig12345 commented on #7432
Looked at this a bit and I think the issue is with the way the ComboBox options are being created. On each render, the code is creating a new array of options on each render, so the ComboBox will reset the currently selected item. You can fix this by creating the arrays of options ahead of time and saving them somewhere--in this codepen, I put them in state, but you could put them wherever makes t

[2018-12-19 03:07] atneik commented on #7424
@gggjtgxing Due to Animation and Positioning requirements of the `ExpandingHoverCard`, we need a specific `height`. We won't be able to just use `auto`. Here is the [animation issue from w3c working draft](https://github.com/w3c/csswg-drafts/issues/626). We not only use it to animate the bottom expanded card, but also pass the overall height (compact + expanded) to `Callout`. It helps `Callout` po

[2018-12-19 05:39] KevinTCoughlin commented on #7432
@ecraig12345, its _generally_ a good practice to avoid initializing non-primitives in Component `render` calls, correct? I ask because of some reading I've done recently while analyzing DetailsList perf.

[2018-12-19 05:45] KevinTCoughlin commented on #6206
Need to confirm the above, but 👍 if its a workaround. I wonder if we can:

1. Improve OUFR documentation regarding this scenario
2. Improve the API between `DetailsList` and `Selection`.

We've recently had a number of related questions and bugs.

[2018-12-19 05:46] kirilligum commented on #7432
@KevinTCoughlin `fieldContent` initialization is from the `DetailList` documentation

[2018-12-19 05:49] kirilligum commented on #7432
@ecraig12345

I'm actually passing the table data and the choices as a `prop` or,actually, `{...this.state}`

When I modify the code after two selections (select first row, then select second row checkboxes), the selection disappear.

https://codepen.io/kirilligum/pen/wRogLV

[2018-12-19 05:50] KevinTCoughlin commented on #7432
Hence my question. Currently, `DetailsList` and its components' `render` code initializes non-primitives _a ton_. Its why I came across this recommendation on the net. We hope to fix them going forward if it is the recommended way. Anyway unrelated to the issue at hand _I guess_.

It often leads to issues with virtualization and inner component state.

[2018-12-19 05:56] ecraig12345 commented on #7417
@micahgodbolt or @Jahnp, if you could also comment on whether we continue to support styling via CSS classes or not, that would be great.

[2018-12-19 07:18] sonimishra opened #7436 "Screen Reader is not announcing selected/non-selected state in a DetailsList, via pressing spacebar"
### Environment Information
Test Environment:
OS version: Version 1803 (OS build 17134. 228)
Browser: Edge, Chrome
Screen Reader: Narrator, JAWS

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:
 Pre-Requisite:
1. Turn on narrator by pressing Ctrl + window + ENTER combination.

Repro Ste

[2018-12-19 07:57] KevinTCoughlin commented on #7436
Duplicate of https://github.com/OfficeDev/office-ui-fabric-react/issues/6525#issuecomment-430333405

[2018-12-19 08:17] cliffkoh commented on #5181
Fabric 6 has a requirement on TypeScript 2.8. Is there a SPFx release that supports TypeScript 2.8 yet?

You can otherwise try to pin `@uifabric/merge-styles` to the minbar specified in the 6.16.0 package.json, which is `6.2.0` per https://unpkg.com/office-ui-fabric-react@6.16.0/package.json, and that should unblock you.

[2018-12-19 08:19] DanielHTpg commented on #6206
I dont believe it's a workaround but rather the correct implementation. Like you mentioned, the use case is just not properly documented.

If you would indeed improve the API between both `DetailsList` and `Selection`, the `getKey` callback might not be necessary by detault if the `DetailsList` passed the `setKey` to the `Selection` which would then create a "default" `getKey` callback

[2018-12-19 08:36] liuyangc3 opened #7437 "Ability to close a PivotItem"
**Describe the feature that you would like added**
a Closeable `Pivot` able to close `PivotItem`

**What component or utility would this be added to**
Pivot

**Have you discussed this feature with our team, and if so, who**
no

**Additional context/screenshots**
a loos like demo https://codesandbox.io/s/z2krvoqykm

[2018-12-19 09:10] tpanpalia opened #7438 "JAWS unable to navigate and read headers and columns for DetailsList"
For DetailsList, JAWS is unable to navigate and read the headers and columns in the grid when user navigates using right arrow.

[2018-12-19 09:19] vasilevach commented on #7420
Hey Elizabeth,

Thank you for your prompt answer!

I am closing this bug as it is a "feature" :)

Best!

[2018-12-19 09:19] #7420 closed

[2018-12-19 11:05] piyumi25 opened #7439 "How do I fire on click function when click on enter key?"
I need to submit form data when I am hitting the enter key. How do I implement for office ui react button component?

[2018-12-19 12:39] ReeceKenney commented on #7288
@betrue-final-final Is Pivot a library of some sort? We are not using anything called Pivot.

Thanks!

[2018-12-19 13:45] ecoukraine commented on #7298
Hi guys,

sorry for the late answer.
I've tried to reproduce the issue on a demo you provided
https://fabricweb.z5.web.core.windows.net/oufr/6.110.1/#/examples/modal
it's reproduced on iPad mini, OS - iOS 9.3.5

[2018-12-19 13:49] ecoukraine opened #7440 "Impossible to scroll the page on iPad mini after Modal window was opened and closed"
### Environment Information

- __Package version(s)__: 6.110.1
- __Browser and OS versions__: iPad mini, OS - iOS 9.3.5

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

1. Open a web-page https://fabricweb.z5.web.core.windows.net/oufr/6.110.1/#/examples/modal on an iPad mini
2. Page can be scrolled
3. Open Modal
4. Close Modal
5. Page cannot be scrolled

#### Exp

[2018-12-19 16:58] rexkenley commented on #7056
Micah

I was studying the Layer source code and I have suggestion of how to do this.
https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/Layer/Layer.base.tsx

ReactDOM.createPortal(eventBubblingEnabled ? (<Fabric className={classNames.content}>{this.props.children}</Fabric>) : (<Fabric className={classNames.content} onClick={this._filterEv

[2018-12-19 18:47] aneeshack4 commented on #6944
Thank you @BrendanMcK for providing this detailed breakdown - really appreciate it! Just wanted to update you - I'm working on trying out the `focusOutline=inset|strong|default` option on Link. If it works, I'll send out a PR.

[2018-12-19 19:03] #7430 closed

[2018-12-19 19:11] micahgodbolt commented on #6390
@lherrle can you explain your need? Tooltips are only used in CommandBar when a normal command is missing the button text. Are you asking for the overflow button to always have a tooltip?

@betrue-final-final - do you know if command bar should always have a tooltip? I'm assuming that the user would need to provide that string.

[2018-12-19 19:17] khmakoto commented on #7403
Hi @JoshuaLamusga, if you take a look in [`ChoiceGroupOption.types.ts`](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/ChoiceGroup/ChoiceGroupOption/ChoiceGroupOption.types.ts) there is a `styles` prop defined with which you can style the different elements of a choice group option that are defined in the `IChoiceGroupOptionStyles` in

[2018-12-19 19:21] gbminnock commented on #7341
Ok, thanks for the information

[2018-12-19 19:40] lherrle commented on #6390
@micahgodbolt I looked at the details on the sharepoint document -- the missing name for the "more options" button is what our bug is. We don't need an actual tooltip.

[2018-12-19 19:44] micahgodbolt commented on #6390
define "name"? Do you want text inline?

![image](https://user-images.githubusercontent.com/1434956/50243842-218d0580-0383-11e9-9242-cde630318aac.png)

Or do you want a title property?
![image](https://user-images.githubusercontent.com/1434956/50243893-497c6900-0383-11e9-8e49-179c5e9ec839.png)

Or do you just mean <button name="button"/>

[2018-12-19 19:51] lherrle commented on #6390
@micahgodbolt I believe the title property or aria-label could fix it; we had the same Keros result as
![image](https://user-images.githubusercontent.com/2906990/50244297-767d4b80-0384-11e9-93e1-23196daabc69.png)

[2018-12-19 19:56] micahgodbolt commented on #6390
Fabric is language neutral, so aria-labels and such are up to the application to provide.

The commandbar exposes the overflow icon props, so it is easy to include an aria-label prop to it

https://codepen.io/micahgodbolt/pen/VqmoRN

[2018-12-19 20:18] testgithubd opened #7442 "Unable to run project"
### Environment Information

- __Package version(s)__:
node: 10.14.1
npm: 6.6.0
- __Browser and OS versions__: (fill this out if relevant)
OS: Windows 10
### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:
 Unable to build the project. I did a git clone of the project and tried to build it but it's failing with an error ''C:\Office' is not recognized as an internal or

[2018-12-19 21:16] aneeshack4 commented on #6944
Another update, discussed this a bit with @micahgodbolt: we're still trying to figure out what the right solution is for Fabric. Right now, I'm considering the different contexts Link's used in because defining `focusOutline=inset|strong|default` would mean allowing a top level prop to directly control CSS styles which we're not sure is ok for scenarios that Link's used differently in.

[2018-12-19 22:09] micahgodbolt commented on #7442
What commands did you use after cloning the project?

[2018-12-19 22:11] testgithubd commented on #7442
Followed the instructions in the Readme -

1. git clone https://github.com/OfficeDev/office-ui-fabric-react.git
2. npm install For Windows developers, please read the next section before running this
3. npm start

[2018-12-19 22:14] micahgodbolt commented on #7442
at what part are you getting errors, the install or start? Also...just to make sure....did you cd into the fabric folder?

[2018-12-19 22:17] testgithubd commented on #7442
Yes :-), did cd into the project or there would have been no errors like posted. Error occurs in install stage itself. Also, as suggested for Windows, used an older version of npm to confirm, receiving the same error.

[2018-12-19 22:19] micahgodbolt commented on #7442
That warning about node 6 was before we started to support newer node version. Go ahead and try node 8.x. I've updated the read me

[2018-12-19 22:21] testgithubd commented on #7442
@micahgodbolt See above. Already using latest LTS v of node and npm. The error msg remains the same.

[2018-12-19 22:22] micahgodbolt commented on #7442
Drat, sorry for missing that. I just cloned/installed with node 8.12 without any issues. Trying node 10 to see if it works with latest LTS

[2018-12-19 22:35] micahgodbolt commented on #7442
Yup, i'm having a similar issue with node 10. Can you try 8.12?

[2018-12-19 22:37] cliffkoh commented on #7442
We should investigate the node 10 problem... Thanks for reporting.

[2018-12-19 22:40] micahgodbolt commented on #7439
buttons have an onClick callback.

[code]
https://codepen.io/anon/pen/wRgBLW

[2018-12-19 22:59] testgithubd commented on #7442
@micahgodbolt  I tried using node 8.12 and getting the same error. Are you on Win 10 x64?
What version of npm are u using?

Error: 'C:\Office' is not recognized as an internal or external command,
operable program or batch file.
Failed at the office-ui-fabric-react-repo@1.0.0 _rushInstall script.

[2018-12-19 23:08] testgithubd commented on #7442
Tried using rush install which did not throw error. But a consecutive rush build throws the following:
[code]

[2018-12-19 23:31] micahgodbolt commented on #7442
After updating npm (I had a REALLY old version) I was able to successfully install

![image](https://user-images.githubusercontent.com/1434956/50254501-13e77800-03a3-11e9-8059-4a7ce1c63348.png)

[2018-12-19 23:32] micahgodbolt commented on #7442
is c:\Office where you are installing from? seems resolveFilename thinks that folder is a module to install.

[2018-12-20 00:08] aftab-hassan commented on #7225
@siddarthkanted With regards to the above issue you posted, the behavior you observe is by design.

To add to the above suggestions, you could also move the `<Confirm>` to be a child of the `<Panel>`  as @ThomasMichon suggests.
[Here](https://codepen.io/ThomasMichon/pen/XopbyQ) is a codepen

Please let us know if this solves the issue.

[2018-12-20 00:18] testgithubd commented on #7442
Just did a fresh pull and install, issue remains the same. Although I am installing it to a sub dir in C: (it's a new machine), it's not C:\Office (there is no such folder).

![image](https://user-images.githubusercontent.com/45836381/50256133-b86cb880-03a9-11e9-8b82-69b95569aa36.png)

[2018-12-20 00:48] testgithubd commented on #7442
Tried installing to a new folder without 'Office' in the name and it works! This stuff needs documentation.

[2018-12-20 00:56] testgithubd commented on #7442
My intention of installing this project was to play around with the experimental components, but when I run the \office-ui-fabric-react\packages\experiments project, I get numerous errors such as:

[code]

[2018-12-20 00:57] bigbadcapers commented on #7413
@ecraig12345 yeah this issue is the right resolution to #5874 - we dont want to overexpose too-granular animation controls for the teachingBubble unless the demand remains after fixing the broken animation.  should I close that other issue?

[2018-12-20 01:50] cliffkoh commented on #7442
Hey @testgithubd did you build the experiments folder yet? Assuming you have rush globally available, `rush build --to @uifabric/experiments`. After that, you should be able to do `NPM start` from within the experiments package.

Regarding the spacing issue, we frankly were not aware there was this limitation as you're the first person to report hitting this :) @ecraig12345 will investigate to see

[2018-12-20 01:53] cliffkoh opened #7444 "Improve dev experience when doing work in @uifabric/experiments"
As far as I'm aware, we don't presently have documentation for how to do work in `@uifabric/experiments`. The NPM scripts also will not work since they only build to `office-ui-fabric-react`.

Users will today either have to utilize rush to do `rush build --to @uifabric/experiments` or `rush build` without arguments, which requires that they have rush globally installed. The alternative is to util

[2018-12-20 02:15] testgithubd commented on #7442
@cliffkoh Thanks, I was using npm to build which didn't work. Using rush worked!

[2018-12-20 03:05] JoshuaLamusga commented on #7403
That looks promising, khmakoto. I'll have to implement it tomorrow and see. I see choiceFieldWrapper defined under ChoiceGroupOption.styles.ts, but no styles under IChoiceGroupOption on the master branch right now.

[2018-12-20 03:15] piyumi25 commented on #7439
Thank you for your reply. But I need to call onclick function when I am hitting on the enter key of the keyboard.

[2018-12-20 03:31] KevinTCoughlin commented on #7439
@piyumi25, React's `onClick` event handler is invoked on _both_ mouse `click` and `keydown` of ENTER and SPACE keys when using OUFR's `Button` and its variants. This is demonstrated in the [Codepen linked above](https://codepen.io/anon/pen/wRgBLW). This is because the `onClick` is assigned to the `<button/>` element rendered which invokes `onclick` in those scenarios _natively_.

The same behavior

[2018-12-20 03:37] ecraig12345 commented on #6525
@sonimishra just filed this same issue under #7436 (that repro is specific to PowerApps but the root issue is the same). Do we know when this will be addressed?

[2018-12-20 03:41] ecraig12345 commented on #7436
Closing this in favor of #6525 since it's the same root cause and that one has a lot more investigation and discussion.

[2018-12-20 03:41] #7436 closed

[2018-12-20 03:44] KevinTCoughlin commented on #7439
@piyumi25, a few follow-up questions, if you don't mind.

_How can we improve our documentation to better serve you_?

I've noticed that a number of questions you've raised are related to common app building scenarios such as submitting a form.

_Would you find common end-to-end app building scenarios useful as part of our documentation?_

Some examples I can think of:

- Parsing OUFR input contro

[2018-12-20 03:45] ecraig12345 commented on #7432
@KevinTCoughlin You're probably right about not initializing non-primitives inline, due to perf and bugs like this. We should really try and keep anti-patterns out of our documentation, so I'll work on updating the DetailsLIst documentation to initialize things ahead of time.

[2018-12-20 03:53] ecraig12345 commented on #7437
This is an interesting idea. I've marked it as needing backlog review since I'm not sure whether it's something that ought to be included in the Pivot component itself or just implemented by consumers who want it (also because implementing it would require input from a designer).

For convenience, here's a screenshot from the codesandbox mockup (since it takes awhile to load):

![pivot with close

[2018-12-20 04:01] KevinTCoughlin commented on #6525
We have some a11y contacts that may help us debug this shortly after the holidays at maximum (I think). That's assuming that this is solvable (I hope so).

I'll sync with @natalieethell and take another pass and report my findings. I imagine the bug mainly has to do with following the [role="listbox"](https://www.w3.org/TR/2017/WD-wai-aria-practices-1.1-20170628/examples/listbox/listbox.html) spec

[2018-12-20 04:04] ecraig12345 commented on #7440
Thanks for reporting! I can't repro this on my iPhone or Mac, so I'll have to figure out how to get ahold of an iPad for testing.

@ecoukraine Are you using Safari, or some other browser? Also, do you happen to know if this issue is specific to the iPad mini or does it happen with a full-size iPad too?

[2018-12-20 04:05] ecraig12345 commented on #7440
@ecoukraine One more thing, are you closing the modal using the button or by tapping outside of it?

[2018-12-20 04:55] tpanpalia opened #7445 "LABEL elements should be attached to the controls they label. (SortSite issue)"
I am using Office UI Fabric Dropdown in ReactJs. I am testing the application for accessibility issues using SortSite.

It is showing this issue :
[code]
`label `property is passed to the `Dropdown `component.
Also, at another instance `Label `component is used with the `Dropdown `component (`for `attribute of `Label `component is same as `id `of `Dropdown`).

[2018-12-20 05:34] sonimishra commented on #6525
+ Prateek

From: Kevin Coughlin <notifications@github.com>
Sent: Thursday, December 20, 2018 9:31 AM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Soni Mishra (HCL America Inc) <v-misoni@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] Narrator is not reading the state(Checked/Unchecked) of the DetailsList s

[2018-12-20 05:40] liuyangc3 commented on #7437
I am looking forward this feature, a closealbe tab is an common usecase

a example in other lib, https://ant.design/components/tabs/

![image](https://user-images.githubusercontent.com/6705844/50265898-7fd9e700-045c-11e9-8c96-7c3bf9c60e4b.png)

[2018-12-20 07:47] ecraig12345 commented on #7432
Just updated my codepen to be closer the new code you shared. https://codepen.io/ecraig12345/pen/VqmaKL?editors=0010

[2018-12-20 09:00] ecoukraine commented on #7440
Hi @ecraig12345, thank you for your answer.

I also cannot reproduce it on iPhone/Mac/iPod/iPad(big one).
It can be reproduced only on iPad MINI using Safari browser.

Looking forward to hearing from you

[2018-12-20 09:04] BrendanMcK commented on #6944
Great; this is really more of a DCR or similar rather than a simple bug-fix, so needs plenty of due diligence. Once we add an option to our API, we'll be stuck with it for some time.

[2018-12-20 09:08] ecoukraine commented on #7440
@ecraig12345 ,

it's does not matter how you close the modal window: I've tried the CLOSE button and tapping near the Modal. The page cannot be scrolled in both cases.

[2018-12-20 09:49] tpanpalia commented on #7434
Unable to navigate to succeeding pivot item through tab.
We are able to navigate to pivot items using arrow keys.Is there any plan to make changes so that we can navigate using tab.

[2018-12-20 10:00] #6416 closed

[2018-12-20 13:40] Rafaelki commented on #7373
Thank you for the explanation. It is OK for me to close this request.

[2018-12-20 15:23] #7373 closed

[2018-12-20 18:46] khmakoto commented on #7403
Hi @JoshuaLamusga, I wasn't referring to `IChoicGroupOption` defined on `ChoiceGroup.types.ts` but to `IChoiceGroupOptionStyles` defined on `ChoiceGroupOption.types.ts`. The provided codepen should be pretty self-explanatory on how to implement styling.

Let me know if there is anything else I can help with.

[2018-12-20 19:00] khmakoto commented on #7444
I've found that `npm run buildfast` does build the `experiments` package, so that's another alternative.

[2018-12-20 19:09] cliffkoh commented on #7444
`buildfast` does `install_run_rush build` so that would work :) We just need to document this then.

[2018-12-20 20:00] #7345 closed

[2018-12-20 20:00] #4980 closed

[2018-12-20 20:12] khmakoto commented on #7444
Yeah, adding documentation for `buildfast` should also help in other regards since it's also the way to do incremental builds. I can take up the task of updating documentation, just unsure of where to put all this. Should I add it as part of the 'Setup' page or should we add a separate 'Building' page to the Wiki?

[2018-12-20 20:35] srinidhiprabhu96 opened #7449 "Search box re-render when value is null leads to TypeError"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: (Normal)

Products/sites affected: (if applicable)

#### Issue:

Use a SearchBox inside another React component.
Do not type anything into the SearchBox.
Update the React component (without updating the SearchBox). This leads to re-render of the SearchBox.

####

[2018-12-20 22:08] ecraig12345 commented on #7442
Debugged this to try to figure out which part of the build system doesn't like spaces in paths...

Definitely one issue is with the way `install-run-rush.js` spawns Rush in a child process, and I have a fix for that at https://github.com/Microsoft/web-build-tools/pull/1003.

There's also some issue with either Fabric's build scripts or one of their dependencies--the failure to build `set-version`

[2018-12-20 22:13] ecraig12345 commented on #7444
I don't quite understand why the default install task only builds up to office-ui-fabric-react (also why it does a full build not incremental)--why not change it to build up to experiments? Also, I don't think it's unreasonable to ask people to have Rush installed globally as long as we document it.

[2018-12-20 22:16] ecraig12345 commented on #7445
Hi @tpanpalia, would you mind sharing the URL of the page where you saw this issue, or [creating a codepen](http://aka.ms/fabricpen) to demonstrate?

And just to confirm, is [this](https://www.powermapper.com/products/sortsite/) what you mean by SortSite?

[2018-12-20 22:18] ecraig12345 commented on #7438
Hi @tpanpalia, would you mind providing a link to a page where this issue can be reproduced? Otherwise it's much harder to debug.

[2018-12-20 22:21] ecraig12345 commented on #7449
Hi @srinidhiprabhu96, thanks for reporting this. Would you mind sharing a link to a page where this repros, or [creating a codepen](http://aka.ms/fabricpen) to demonstrate?

[2018-12-20 23:52] aneeshack4 commented on #7115
@TestAccessibilityGIT These are all non-repro, please see video below. Perhaps you didn't use Alt + back/forward arrow keys to change slider values properly and use shift + tab for backward navigation - that might be why these didn't work for you.

[2018-12-20 23:57] liuyangc3 opened #7454 "fabric-website can not start"
### Environment Information

- __Package version(s)__: git master
- __Browser and OS versions__:  Windows 10

### Please provide a reproduction of the bug in a codepen:

[code]

#### Actual behavior:

[code]

#### Expected behavior:

npm run works

[2018-12-21 00:00] #6085 closed

[2018-12-21 00:10] srinidhiprabhu96 commented on #7449
You can find the codepen [here](https://codepen.io/srinidhiprabhu96/pen/dwNxEQ).

**To Repro:**
Click on the "Click Me" button.

**Expected:**
 The text on the button changes to "Hello".

**Actual:**
The button and search box are no longer displayed.
We get an error in the console: Uncaught TypeError: Cannot read property 'length' of null

[2018-12-21 15:46] laiprorus opened #7457 "BasePicker: add description and errorMessage props"
Add description, errorMessage, and possibly onGetErrorMessage props on Picker components (especially PeoplePicker).
Those props a present TextField and only provide additional text below the input box. Since Pickers are similar input boxes, they could be used in a form with descriptions and validation rules.
![issue](https://user-images.githubusercontent.com/33106132/50350614-ec79e200-053f-11e9-84

[2018-12-21 19:45] aneeshack4 commented on #7096
Running into some problems when I try to repro and investigate these bugs - Narrator keeps saying "No item in view" when I try to navigate the Rating control page on the Fabric website.... @TestAccessibilityGIT Did you ever come across this problem too?

[2018-12-21 19:51] TestAccessibilityGIT commented on #7096
Hi Aneesha,
We haven’t come across this issue. I hope you are using the RS5 latest OS build.

Regards,
Arvind

From: Aneesha Kommineni <notifications@github.com>
Sent: Friday, December 21, 2018 11:46 AM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Arvind Prakash (HCL America Inc) <v-arvpra@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Of

[2018-12-21 20:24] aneeshack4 commented on #7096
@TestAccessibilityGIT This is the windows version I'm on:
![image](https://user-images.githubusercontent.com/4161791/50362060-02c17700-051b-11e9-87c6-9e0550d4297d.png) Is this what you meant by RS5?
It's hard to update to a different build for each bug that we across so can you please provide a Codepen that repros these bugs? That will make these bugs actionable for us to fix. Here's one with the

[2018-12-21 20:33] aneeshack4 commented on #7096
@TestAccessibilityGIT When I checked for updates, it says my machine just recently updated so I don't think I can do much more on my end to get a repro.
![image](https://user-images.githubusercontent.com/4161791/50362395-6dbf7d80-051c-11e9-8cdd-03c725f455f8.png)

Please use the Rating Codepen I linked in my earlier comment.

[2018-12-21 20:45] TestAccessibilityGIT commented on #7096
I think we already had discussion on this in past. I’m attaching that thread again how to update OS to latest version.

Regards,
Arvind

From: Aneesha Kommineni <notifications@github.com>
Sent: Friday, December 21, 2018 12:33 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Arvind Prakash (HCL America Inc) <v-arvpra@microsoft.com>; Mention <mention@noreply.gi

[2018-12-21 20:52] aneeshack4 commented on #7096
@TestAccessibilityGIT I looked up which build # corresponds to RS5 and it looks like I'm actually already on RS5:
![image](https://user-images.githubusercontent.com/4161791/50363118-31d9e780-051f-11e9-9c7b-560824199b6f.png)

Here's a [video](https://microsoft-my.sharepoint-df.com/:u:/p/aneeshak/EVxkzLg1cWdGmWr-PuXEiukBPqeASegkAEXlOflBExJ2mQ?e=58xWum) showing this "No item in view" behavior that Na

[2018-12-21 23:41] ecraig12345 commented on #7454
Hi @liuyangc3, what happens if you try running `npm start` in the root folder (`office-ui-fabric-react` unless you renamed it) instead of in `apps/fabric-website`? That's generally what we recommend to start out. (If you were following some instructions that said to run the command in fabric-website, let me know where you saw that and I'll update it.)

[2018-12-22 00:18] ecraig12345 commented on #7457
Hi @laiprorus, thanks for reaching out and for using Fabric! This is definitely something we can consider adding, but unfortunately the people who'd be in the best position to evaluate or help implement this are out for the holidays. So we can come back and discuss it more in January. (If you want to try adding it yourself and submitting a pull request, you're welcome to do that too!)

[2018-12-22 00:20] Vitalius1 commented on #7457
cc: @joschect

[2018-12-22 01:20] cliffkoh opened #7462 "test"
test

[2018-12-22 02:03] cliffkoh opened #7465 "test"
test

[2018-12-22 02:03] #7465 closed

[2018-12-22 12:05] liuyangc3 commented on #7454
no erros, thanks

yes, I was following https://github.com/OfficeDev/office-ui-fabric-react/blob/master/apps/fabric-website/README.md#build-the-website

[2018-12-22 20:20] jtermine opened #7467 "New Component: Scheduler"
**Describe the feature that you would like added**

A scheduler component with a "month view", "week view", "work week view", "day view", "agenda view" and the ability to view the schedules of multiple people or resources side-by-side.  The appointments in the schedule could be updated with drag-and-drop, mouse interactions with time blocks, hotkeys, etc.  See Outlook on the desktop or DevExpress

[2018-12-24 00:30] JoshuaLamusga commented on #7403
Thanks Micah and khmakoto. I think that solves my problem and hopefully this question will be seen by someone looking to style choice items in the future.

[2018-12-24 00:30] #7403 closed

[2018-12-24 10:17] tpanpalia opened #7469 "[Accessibility][JAWS] Unable to read and select options for multiselect dropdown"
Issue : JAWS is unable to read and select the options for Office Fabric multiselect dropdown when user navigates using down arrow key (Chrome).

Expected Behavior : While using JAWS, user should be able to read the options and select the option on focus (Chrome).

[2018-12-24 19:00] #7392 closed

[2018-12-24 20:00] #7397 closed

[2018-12-25 03:00] #6469 closed

[2018-12-25 03:35] liuyangc3 opened #7470 "ContextualMenu calloutProps usage?"
calloutProps dose not expose in `IContextualMenuProps`
but use in code

https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.base.tsx#L226

so it can be uesd in jsx but not tsx?

[2018-12-25 06:29] liuyangc3 opened #7471 "Documentation: propertyName format"
### Environment Information

### Please provide a reproduction of the bug:
https://developer.microsoft.com/en-us/fabric#/components/nav

![image](https://user-images.githubusercontent.com/6705844/50414529-fad24180-0850-11e9-82e8-9859cfc6fabb.png)

#### Expected behavior:

![image](https://user-images.githubusercontent.com/6705844/50414569-48e74500-0851-11e9-89eb-6c82c6f39996.png)

I see `(Optional

[2018-12-25 07:11] liuyangc3 commented on #7454
I add block to `fabric-website-resources/webpack.serve.config.js`
[code]
then use a domain  - which dns resove to this  dev server -
to access  fabric-website-resourcesm Browser return  `Invalid Host header`

[2018-12-25 11:34] be5invis opened #7472 "VSTS is now Azure DevOps. Update README please :)"
### Environment Information

Anyone can access this repo

### Please provide a reproduction of the bug in a codepen:

Navigate to https://github.com/OfficeDev/office-ui-fabric-react

#### Actual behavior:

Azure DevOps should be listed in the ”Who uses UI Fabric?“  section.

#### Expected behavior:

VSTS (the old name) is listed in the ”Who uses UI Fabric?“  section.

![image](https://user-images.

[2018-12-25 16:41] affanshahid commented on #2740
Same issue

[2018-12-26 05:00] #7424 closed

[2018-12-26 05:21] liuyangc3 commented on #7454
`fabric-website-resources` now can open, add `disableHostCheck` true fix it.
[code]
`fabric-website` still can not work

[2018-12-26 19:40] atneik commented on #7470
I don't fully understand the problem you're facing. Is it possible to replicate the problem in a codepen? [`IContextualMenuProps` does contain `calloutProps` ](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/ContextualMenu/ContextualMenu.types.ts#L198), that could be used to set custom callout props.

[2018-12-26 21:53] atneik commented on #7472
Along with this and we should update others to new Icon set. @Jahnp any idea where I can find those? If we prefer to update later, here is a quick fix:
![group 1 2x](https://user-images.githubusercontent.com/785361/50458071-45b58d00-0915-11e9-90c0-ad8789c99db5.png)

[2018-12-26 23:12] subashbhujel opened #7473 "DatePicker fires onSelectDate event twice when allowTextInput is set to true"
### Environment Information

- __Package version(s)__:
     - 6.110.2 and 6.117.2
- __Browser and OS versions__:
     - Chrome Version 71.0.3578.98 (Official Build) (64-bit)
     - Windows 10 Enterprise 64 bit

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

- Set the DatePicker to have the initial date (set it's value property). Say -12/26/2018
- Make sure allow

[2018-12-26 23:51] cliffkoh commented on #7471
Thanks for reporting. Assigning to @natalieethell.

[2018-12-26 23:52] cliffkoh commented on #7472
It might be a good idea to submit a PR for the quick fix :)

[2018-12-26 23:55] cliffkoh commented on #7454
I'm not sure if fabric-website is intended to be `npm start` (will have to confirm with people who own this). Is there a reason you want to `npm start` in fabric-website?

[2018-12-26 23:59] cliffkoh commented on #7445
Hi @tpanpalia, can you create a codepen repro using the Fabric components the way you're using in your site where the sortsite issue repros?

https://codepen.io/pen?template=NvBvWx

We are unable to login to your website and a codepen repro will help us isolate the problem. You can alternatively see if the same SortSite errors occur at https://fabricweb.azurewebsites.net/oufr/latest and report a r

[2018-12-27 01:50] liuyangc3 commented on #7454
@cliffkoh  yes , I was interesting about it's searchbox with Nav in `Component` page, so I want to start a dev env.

[2018-12-27 01:54] liuyangc3 commented on #7470
as you said, IContextualMenuProps does contain calloutProps.  I got it wrong.

[2018-12-27 01:54] #7470 closed

[2018-12-27 01:59] cliffkoh commented on #7454
Hi @liuyangc3, assuming I understood you correctly, you do not need to NPM start in fabric-website for that. You should do `npm start` in the root folder or `packages/office-ui-fabric-react` folder.

[2018-12-27 02:00] liuyangc3 opened #7476 "Selected nav item stops event add on it"
### Environment Information

- __Package version(s)__: 6.117.2
- __Browser and OS versions__: Chrome

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/ol9p37znr9

#### Actual behavior:

contextmenu event did not fire out on an selected item

#### Expected behavior:

event runs

[2018-12-27 02:10] liuyangc3 commented on #7454
https://github.com/OfficeDev/office-ui-fabric-react/blob/master/apps/fabric-website/README.md#build-the-website @cliffkoh , I got it,  dose this document  needs to be update?

[2018-12-27 02:15] liuyangc3 commented on #7454
npm start in the root folder or packages/office-ui-fabric-react folder.   it starts a project `apps/fabric-website-resources`

but I need to start `apps/fabric-website`, if it can not be build, it should be list in it's document.

[2018-12-27 04:54] rajput9997 opened #7477 "Clear Dropdown selected Key after submit the form."
Hi All,

I want to clear the selected key value after complete submission the form. I'm used Dropdown office ui febric control and able to bind datasource to the control. I want to be clear the selected value after submit the form data.

Here's my code:

let _Drpitems: IDrpItem[] = [];

 <Dropdown
              label="Status:"
              id="drpcolumn"
              selectedKey={ selectedItem ?

[2018-12-27 05:00] #7439 closed

[2018-12-27 05:13] veloiya commented on #6801
The issue does not repro on Keros for Web anymore.

[2018-12-27 07:26] sonimishra opened #7478 "[Usable - PowerApps Admin- Scheduling] In Scan mode, screen reader focus moves to hidden elements and read unwanted info under Scheduling tab item"
<!-- 🚨 STOP 🚨 𝗦𝗧𝗢𝗣 🚨 𝑺𝑻𝑶𝑷 🚨

We’re here to help, but we need a few things from you!

 Please provide a reproduction of the bug in a codepen, if possible. Here’s how:
Here below is the codepen of this issue .
https://codepen.io/anon/pen/MZvago?&editable=true

To repro this issue:
please turn on the scan node.
Go to the label "Basic uncontrolled example"
now press down arrow key. you will find the f

[2018-12-27 09:54] cliffkoh commented on #7454
Hey @liuyangc3, I'm still not understanding what you're trying to do that you need to `npm start` the website. To have a local dev environment, you can do it at `fabric-website-resources` which will have the components and example pages.

[2018-12-27 10:37] sonimishra opened #7480 "[Screen Reader - PowerApps Admin - Select organization] In scan mode Narrator focus moves out of 'Saving connection set failed" pop up window when press Up arrow keys"
<!-- 🚨 STOP 🚨 𝗦𝗧𝗢𝗣 🚨 𝑺𝑻𝑶𝑷 🚨

Please provide a reproduction of the bug in a codepen, if possible. Here’s how:
**Component: Modal**
**Steps:**
Please go to the office fabric page for Modal (https://developer.microsoft.com/en-us/fabric#/components/modal)
open the Modal
Turn the narrator scan mode on.
Pressing down arrow key, focus does not go out of the modal.
but pressing up arrow key, focus moves o

[2018-12-27 11:12] liuyangc3 commented on #7454
Acctully I dont need to run `apps/fabric-website-resources`  in a local dev environment.
the reason I am trying to run  `apps/fabric-website`  is that  I was trying to wirte a Nav  with a searchbox ,
which  like this (address https://developer.microsoft.com/en-us/fabric)
![image](https://user-images.githubusercontent.com/6705844/50477854-37489d80-0a09-11e9-98c1-a69a9a270cfd.png)

then I found this

[2018-12-27 12:02] liuyangc3 commented on #7439
Hi, @KevinTCoughlin  a follow-up questions
I was wondering why onClick is not list in `IButtonProps`

[2018-12-27 15:30] KeiraYang opened #7481 "Cannot focus on commandbar item correctly. Get wrong ref from by using componentRef attribute in commandbar item."
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

#### Expected behavior:

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected

[2018-12-27 15:31] KeiraYang commented on #7481
Get wrong commandbar button ref. I use componentRef of command bar item and extend focus for getting focus to commandbar item when something in the page lose focus. But just found I get the ref for the <div> which has attribute visibility: hidden. And after get the ref for hidden command bar button element to focus to the button, the button will be unmounted soon. There are two <div> both are comm

[2018-12-27 16:44] micahgodbolt commented on #7481
Here's an example of component refs to command bar. If this doesn't answer your question, can you fork/update the pen to describe your issue?

https://codepen.io/micahgodbolt/pen/BOpMPz

[2018-12-27 16:48] micahgodbolt commented on #7480
This is a duplicate of #6422. We have gotten our modal to 'spec', but narrator does not support aria-modal=true yet. This support is in their backlog, and once the work is done, this will work in scan mode.

[2018-12-27 16:51] micahgodbolt commented on #7478
I believe this is a duplicate of #6422. @aneeshack4, will the improved support for aria-modal resolve this issue as well?

[2018-12-27 17:03] micahgodbolt commented on #7477
similar to #5473 the nature of an HTML dropdown is that once a value is selected there is no way to get back to the placeholder. One option many HTML forms use is to not use a placeholder, but use the first value of the dropdown as the default, non selected value. We're looking to do a major overhaul of the dropdown and combobox in the near future, and i'm sure that this topic will come up.

[2018-12-27 17:48] micahgodbolt commented on #479
This is a controled vs uncontrolled behavior issue. I believe @ecraig12345 is looking into standardizing this behavior across OUFR.

[2018-12-27 17:48] aneeshack4 commented on #7478
@micahgodbolt @sonimishra Yes I believe it is. I checked in #6884 so that it'll get picked up on future releases of Narrator when they add support for aria-modal which I think will resolve this issue also.

[2018-12-27 17:50] aneeshack4 commented on #6801
@veloiya Since this no longer repros I'm closing it but if you see any other keros problems in the future, def let us know!

[2018-12-27 17:50] #6801 closed

[2018-12-27 17:53] micahgodbolt commented on #1425
Putting this on @KevinTCoughlin's radar to see if this fits in his details list plans

[2018-12-27 17:56] micahgodbolt commented on #1597
Assigning shield dev to take a look.

[2018-12-27 17:58] micahgodbolt commented on #2705
@lorejoh12 - this question has come up a few times. Is the best practice for picking a date far in the past (like birthdate) to use datepicker? or should they simply use a set of dropdowns/comboboxes.

[2018-12-27 18:04] micahgodbolt commented on #3593
@betrue-final-final do we have any designs for this type of behavior?

[2018-12-27 18:09] micahgodbolt commented on #3690
sounds like this control is a bit out of scope for Fabric. Seems connections have been made so I'll close this down.

[2018-12-27 18:09] #3690 closed

[2018-12-27 18:31] micahgodbolt commented on #4066
@betrue-final-final is this something we have a design for, or something we want to support? If there is a different pattern we should be following instead, that's fine too.

[2018-12-27 18:32] micahgodbolt commented on #4156
This is an old bug. Can anyone confirm if this still exists in the 6.x branch?

[2018-12-27 18:34] micahgodbolt commented on #4242
This feature was added via 'open in codepen'.

[2018-12-27 18:34] #4242 closed

[2018-12-27 18:40] micahgodbolt commented on #4250
The className is passed the most outer div of the panel. You can pass a className to the 'main' section using the styles prop

https://codepen.io/micahgodbolt/pen/LMjggd

[2018-12-27 18:51] micahgodbolt commented on #4522
blocked by #6134

[2018-12-27 19:08] micahgodbolt commented on #4684
@thebetterjort are you still having issues with SSR?

[2018-12-27 19:15] micahgodbolt commented on #4688
Yeah, we haven't done primary='true' for all buttons. The button refactor coming up should make this much clearer, but for now you can apply styles via the styles interface of buttons.

https://codepen.io/micahgodbolt/pen/wRqQJM?editors=1010

[2018-12-27 19:17] #4735 closed

[2018-12-27 19:19] micahgodbolt commented on #4747
Seems to be an issue with demo page? If this is working in production can we close the issue and create a new one to capture docs work?

[2018-12-27 19:32] micahgodbolt commented on #5011
duplicate of #7417 - we need better docs/process for swapping out fonts.

[2018-12-27 19:32] #5011 closed

[2018-12-27 19:38] micahgodbolt commented on #5043
@SumiranAgg is it possible to get a codepen version of this? The typical panel has padding around the edges, so a full width button still has focus rect visible. You might just need to leave room for your own rectangle if you removed that padding.

![image](https://user-images.githubusercontent.com/1434956/50492352-f5e5cd00-09cb-11e9-89c7-0f4a923d32c2.png)

[2018-12-27 19:40] micahgodbolt commented on #5045
command bar doesn't do anything special regarding routing. you need to handle any onClick or href click yourself.

[2018-12-27 19:43] micahgodbolt commented on #5082
i don't see any behavior difference between FF and IE11. Here's an updated codepen with newest fabric/React.

https://s.codepen.io/micahgodbolt/debug/ZVJmqo/LDAmdPqxdGDr

[2018-12-27 19:44] micahgodbolt commented on #5098
duplicate of #4817

[2018-12-27 19:48] micahgodbolt commented on #5148
Just confirming, this is still an issue as of 6.117.2

[2018-12-27 19:49] micahgodbolt commented on #5153
@anushkumarkorukonda are you still having this issue? Can you provide a codepen repro showing this issue?

[2018-12-27 19:52] micahgodbolt commented on #5176
The provided pen appears to be working correctly. Can the author verify if this is still an issue? https://codepen.io/anon/pen/VdbmrZ

![image](https://user-images.githubusercontent.com/1434956/50492682-e6678380-09cd-11e9-9a9e-f58c5b47546d.png)

[2018-12-27 19:59] arkogupta opened #7482 "Auto-scroll not working for drag-drop in DetailsList in IE"
### Environment Information

- __Browser and OS versions__: IE 11 , Windows 10, server 2012R2
### Please provide a reproduction of the bug in a codepen:

Video link which shows a repro of the bug :

 [https://microsoft-my.sharepoint.com/:V:/p/hatrived/EVWjnKwFQwhNuttthPfeGYgBN_1xPuqxA8MMQGeb7cAoBg?e=4%3apOmTNj%3aorigemail&at=9](url)
#### Actual behavior:

The list is **not** scrolling horizontally

[2018-12-27 20:05] agg23 commented on #5176
Still occurring in Firefox:

<img width="475" alt="firefox_2018-12-27_12-03-09" src="https://user-images.githubusercontent.com/238679/50492974-778b2a00-09cf-11e9-92aa-926dec16d73e.png">

But not in Chrome. However, on load, Chrome initially has the horizontal scrollbar, then after half a second or so, it disappears.

[2018-12-27 20:49] micahgodbolt commented on #5176
Oh I see, it's a different container that has the horizontal scrolling

![image](https://user-images.githubusercontent.com/1434956/50494030-bf14b480-09d5-11e9-8f2b-073b8c6425e5.png)

Thanks for the update.

[2018-12-27 20:52] juliehubs commented on #3600
I'll add that adding in time range as well would be awesome!

Thanks for all your hard work!

[2018-12-27 21:14] atneik commented on #7476
Hi Yang! If I understand correctly, there is minor bug in your code. Check if this does the job: https://codesandbox.io/s/7wp2461v0q. In `span` I think you meant `onClick` instead of `onContextMenu`

[2018-12-27 21:35] micahgodbolt commented on #5254
This is now a duplicate to #5815. Closing this to keep everything in 1 place.

[2018-12-27 21:35] #5254 closed

[2018-12-27 21:38] micahgodbolt commented on #5290
similar to #5631, all of the picker type input fields should use the textfield which supports multiple styles as well as prefix/suffix

[2018-12-27 21:45] cliffkoh opened #7483 "Screener tests npm start blocked"
Repros with OUFR commit at 8472f03ad764d4574590fc33b40c5f310ce81a2c.

Repro:

1) `rush build --to vr-tests`
2) `cd apps\vr-tests`
3) `npm start`

Result:
[code]

[2018-12-27 21:45] cliffkoh commented on #7483
We should probably add a tsc build to apps/vr-test with `--noEmit` to catch these class of issues in the future as well.

[2018-12-27 21:51] atneik commented on #1597
I propose having a prop, lets say `trapFocus`, when set to `true` adds the `FocusTrapZone` and traps the focus. By default it will be `false` so that its not a breaking change. Having the prop should be ideal as @mdahamiwal mentioned its a multipurpose container and should support both behaviors.

[2018-12-27 21:54] cliffkoh opened #7484 "apps/vr-tests should do a noEmit typescript build to ensure `npm start` is able to work"
See #7483 for more context.

[2018-12-27 22:38] micahgodbolt commented on #5307
we'll be tracking the graduation of this package in #7106.

I'll close this issue down and you can follow our progress there. Note that while the conversion to  css-in-js is done, the API of the component is not yet stable.

[2018-12-27 22:38] #5307 closed

[2018-12-27 22:44] micahgodbolt commented on #5321
Adding this to #6030, which is our meta issue for the consolidation of dropdown and comobobox

[2018-12-27 22:44] #5321 closed

[2018-12-27 22:50] micahgodbolt commented on #5329
We've got this captured in #6840. Closing down this duplicate.

[2018-12-27 22:50] #5329 closed

[2018-12-27 22:54] micahgodbolt commented on #5339
By day, you mean day of the week, correct?

[2018-12-27 22:55] micahgodbolt commented on #5346
@kkjeer i know we talked about this a bit in the past, is there a followup here? Or just close the issue.

[2018-12-27 22:56] micahgodbolt commented on #5386
@natalieethell can you update this issue, mark off completed steps and add any next step todos?

[2018-12-27 23:02] atneik commented on #7473
Thanks for reporting this issue. The first callback happens as soon as the date is chosen using the Calendar popup, the second when the value is validated. I see three possible solutions to this issue:
- First option, add another value to the `onSelectedDate`, lets say 'isValidated'. The value will help distinguish between two fires. The definition will be updated to  `onSelectDate?: (date, isVali

[2018-12-27 23:14] micahgodbolt commented on #5408
also might be a good time to do #5315

[2018-12-27 23:15] micahgodbolt commented on #5415
dupe of #4613

[2018-12-27 23:15] #5415 closed

[2018-12-27 23:17] atneik commented on #7473
@OfficeDev/uifabric-calendar

[2018-12-27 23:19] micahgodbolt commented on #5525
@jordandrako still on your radar? Or decided to go another route?

[2018-12-27 23:30] joschect commented on #1597
If we do things that we the switch to using it is easy and will work exactly the same as a regular callout, but you get the benefit of the focustrapzone.

[2018-12-27 23:30] micahgodbolt commented on #5615
@natalieethell please update this issue so we know what work is left before announcement graduates to OUFR.

[2018-12-27 23:34] micahgodbolt commented on #5616
with slots coming around, this is probably not the right approach for details list.

[2018-12-27 23:34] #5616 closed

[2018-12-27 23:37] joschect commented on #4156
@micahgodbolt I can confirm that this was fixed. Now selection is managed through the selection component entirely.

[2018-12-27 23:38] micahgodbolt commented on #5643
@joschect is this a quick fix you can knock out...or at least describe so that we can fix this?

[2018-12-27 23:39] atneik commented on #1597
@joschect makes sense. I'll create a PR for to add above mentioned composite component

[2018-12-27 23:46] joschect commented on #5148
This is an easy fix, but I'm on the fence on it. We do swap alignment edge, so that part is already handled. We just don't handle target edge, I'm guessing because left is left even in RTL. So maybe we should even remove the alignment check? That's what the directionalHintForRTL is for. I'm not sure about this though.

[2018-12-27 23:48] kkjeer commented on #5346
@micahgodbolt I don't think there is anything actionable here.

[2018-12-27 23:48] #5346 closed

[2018-12-27 23:49] kkjeer commented on #7329
Closing as a duplicate of #6546 and #5176.

[2018-12-27 23:49] #7329 closed

[2018-12-27 23:51] #4156 closed

[2018-12-28 00:01] micahgodbolt commented on #5712
The example app linked to from that chackracore page has a package.json file with dependencies. Are you able to add Fabric there?

[2018-12-28 00:02] joschect commented on #5643
@micahgodbolt this is a quick fix, I can get it done right now.

[2018-12-28 00:10] micahgodbolt commented on #5728
looks like pivot uses 'headerButtonProps' to pass typical button props in. We'll probably change this in the future to allow disabled to be on the item itself, but for now this works.

https://codepen.io/micahgodbolt/pen/GBQyRW#settings-js

[2018-12-28 00:14] micahgodbolt commented on #5732
There is already discussion about changing teaching bubble animation here #5874

[2018-12-28 00:31] micahgodbolt commented on #5757
@kkjeer any thoughts on how I'd add a theme to your addStory addon? It's not JSX, so I can't just wrap the storyFn in customizer. Can I use a decorator somehow?

[2018-12-28 00:36] micahgodbolt commented on #5894
We've moved almost everything to css in js theming now, so this sass based approach of theming is probably the best long term solution for theming your webpart. What exactly are you trying to accomplish? We might need to reach out and update those sharepoint docs.

[2018-12-28 00:41] micahgodbolt commented on #6014
better solution will probably be to drive all of our size values off of theme 'sizing' and 'font' values. This would make it easy to swap px values out for REM values.

[2018-12-28 00:44] micahgodbolt commented on #6044
you shouldn't need ref and componentRef. ComponentRef replaced ref as a way to refer to the actual public interface of a control.

[2018-12-28 00:50] micahgodbolt commented on #6074
@mikewheaton has this been added yet? was your team planning on doing it?

[2018-12-28 00:50] kkjeer commented on #5757
@micahgodbolt I haven't tested this, but could a `loadTheme` call work (similar to the existing `setRTL` calls for RTL stories)?

[2018-12-28 00:51] micahgodbolt commented on #6084
@stanleyymsft @jspurlin any updates on this issue?

[2018-12-28 00:53] micahgodbolt commented on #5757
The fluent customization isn't just a theme, it's a customizer setting.

[2018-12-28 05:46] liuyangc3 commented on #7476
Hi @atneik  I konw what I am using,   `onContextMenu` is a SyntheticEvent which  react  (supported)[https://reactjs.org/docs/events.html#supported-events],  I want to `RightClick` on a NavItem, then fire a mouse event.

the reason than mouse  event can not fire is because a when item is `selected`, a css pseudo-element  `:after`  overrides `span`. and I think this is a bug.

[2018-12-28 06:12] piyumi25 opened #7489 "Combobox get stuck when trying to load more than 50000 items"
for my case there are nearly 50000 items in the list. so when click on combobox it is getting stuck and addin time out.

[2018-12-28 06:40] #7483 closed

[2018-12-28 07:05] #7408 closed

[2018-12-28 08:56] jayliang701 opened #7490 "Interactive in a custom row column render not trigger DetailsList update"
I try to use onRenderItemColumn to custom DetailsList's cell render.  There is a onClick in a cell content:
<pre><code> //render method
&lt;DetailsList
  ....
  items={this.state.items}
  onRenderItemColumn={ (item, index, column) => {
    if (column.key === 'selector') {
      console.log('render cell --> ', index, column.key);
      return &lt;span onClick={(evt) => this.updateItem(item, true)}&

[2018-12-28 09:22] piyumi25 opened #7491 "How can I show ui fabric icon as the image of the coin?"
I need to use "AccountManagement" icon for Persona coin rather than showing initials. How can I implement this?

[2018-12-28 17:06] micahgodbolt commented on #6212
Check out the pivots styles interface. It takes a 'linkIsSelected' value. For questions its best to try the Fabric teams channel, or stack overflow.

[2018-12-28 17:10] aappddeevv commented on #4242
@micahgodbolt Thanks! I'll take a look!

[2018-12-28 17:18] micahgodbolt commented on #6195
questions are best asked in teams or stack overflow to increase visibility of the answer

[2018-12-28 17:19] micahgodbolt commented on #6198
questions are best asked in teams or stack overflow to increase visibility of the answer

[2018-12-28 17:21] micahgodbolt commented on #6209
this is ongoing work outside of github. will close this unnecessary issue down.

[2018-12-28 17:21] #6209 closed

[2018-12-28 17:30] micahgodbolt commented on #6310
hey @khmakoto, is this work still on your radar?

[2018-12-28 17:32] micahgodbolt commented on #6314
@AkshanshSrivastava03 have you been able to move to Fabric 6.x yet? That should resolve the issue. Otherwise it seems you could cherrypick some work from #5040 into a 5.x PR.

[2018-12-28 17:54] micahgodbolt commented on #6334
@csdgwei have you tried this in 6.x yet, is it still a problem there? And were you still interested in providing a PR to fix this? Happy to help with that process.

[2018-12-28 17:57] micahgodbolt commented on #6376
@jspurlin do you have any documentation about expected behavior when 'enter' key is pressed? Should it select the current value or not?

[2018-12-28 18:00] micahgodbolt commented on #6379
Printing to PDF seems to work fine for me
![image](https://user-images.githubusercontent.com/1434956/50523901-7584a200-0a87-11e9-9150-55ace0497cbc.png)

[2018-12-28 18:04] micahgodbolt commented on #5205
closing this down and tracking work on #6030

[2018-12-28 18:04] #5205 closed

[2018-12-28 18:05] micahgodbolt commented on #6392
this might be something to look into during the work in #6030 @ecraig12345

[2018-12-28 18:08] micahgodbolt commented on #6393
have you had any luck updating to 6.x or finding a workaround? The 5.x command bar is no longer being maintained.

[2018-12-28 18:21] micahgodbolt commented on #6398
This one is really interesting. The titles get to the DOM (both the list item AND the button). But it seems the focus applied by focus zone isn't activating this tooltip. @KevinTCoughlin do you think it's more a focus zone issue? I wonder if other items in focus zones have the same issue.

[2018-12-28 18:31] #6404 closed

[2018-12-28 18:31] atneik commented on #7489
Hi @piyumi25 thanks for reporting the issue. Are you using a `VirtualizedComboBox`? I'll recommend it over a usual `ComboBox` for large number of items.

I tried reproducing it in [this codepen](https://codepen.io/atneik/pen/roGmEy) with no luck. It will help us investigate if you could reproduce the issue in an isolate environment (feel free to fork the codepen).

[2018-12-28 18:37] micahgodbolt commented on #6431
in light of edge's announcement, i'm curious if this is going to be an issue. will we be able to sunset IE11 much sooner now that an evergreen edge will be available all the way back to Win 7?

[2018-12-28 18:40] micahgodbolt commented on #6438
assigning to @KevinTCoughlin to keep an eye on this. at least the OP has a workaround, so priority is low.

[2018-12-28 18:41] micahgodbolt commented on #6441
@aneeshack4 is this another issue related to #6422.

[2018-12-28 18:45] testgithubd opened #7493 "Collapsible Section should allow other components in title instead of just text"
**Describe the feature that you would like added**
I had a look at the experiments folder and the Accordion and Collapsible Section components specifically. Currently they allow just text as title. A useful addition would be to make it more generic and accept other components as well.

**What component or utility would this be added to**
Accordion and Collapsible Section

**Have you discussed this

[2018-12-28 18:46] joschect commented on #6431
@micahgodbolt Correct me if I'm wrong but I don't think we do browser detection anywhere else in fabric? I don't think we should add it if we can help it.

[2018-12-28 18:46] micahgodbolt commented on #6449
it appears that dropdowns now pull title values from text OR title (title preferred). I'm glad title value is now working, but not sure if long term we'd want title automatically set to the text value. We're doing some significant updates to dropdown in #6030, we'll take a look at normalizing this behavior there.

[2018-12-28 18:49] micahgodbolt commented on #6030
@ecraig12345 update the topmost point with TODOS reflecting those issues you mentioned

[2018-12-28 18:51] micahgodbolt commented on #6431
Yeah, regardless of the future of IE11, I think it's safe to say that browser detection is best left up to individual applications. Adding it now would probably cause more issues than it would solve.

[2018-12-28 19:04] aneeshack4 commented on #6441
@micahgodbolt At first glance it seems like let me dig into this a little bit more though

[2018-12-28 19:08] micahgodbolt commented on #6476
Yeah, since the dialog is outside of the panel it is considered an outerclick, and therefore closes the panel

![image](https://user-images.githubusercontent.com/1434956/50525469-740ba780-0a90-11e9-989c-e6ab4ba9e3fa.png)

Since dialogs will always be rendered in a layer, you can gate outer clicks via onOuterClick (as @frevds said). i.e. there isn't a simple way to know that this dialog came from t

[2018-12-28 19:14] micahgodbolt commented on #6498
Edge seems to handle scrolling and footer content alright. Do you have a specific usecase that isn't working?

![image](https://user-images.githubusercontent.com/1434956/50525658-c26d7600-0a91-11e9-9dbf-2688005ff981.png)

[2018-12-28 19:16] aneeshack4 commented on #6441
@micahgodbolt When I ran Narrator on this, in both Scan Mode & non-Scan Mode, pressing the down arrow while in the dropdown causes Narrator to say "Unable to move Narrator cursor" and the focus stays on the selected element in the dropdown... so I would say this isn't just a scan mode issue. But this issue report says for them, Narrator moves out of the dropdown and onto the Set Focus button and t

[2018-12-28 19:18] micahgodbolt commented on #6505
@RupamSarkar this control now accepts a styles prop. This would allow you to add borders if you prefer. Not sure if we'd bake this in because if you had a blue background you'd want borders around any swatch close to blue, not black or white.

[2018-12-28 19:32] micahgodbolt commented on #6529
@adhithyar in 5.111.2 i believe we already fixed the direction hint, so you probably won't see a change. Have you been able to upgrade in 6.x? If you're still having issues can you supply a codepen repro.

[2018-12-28 19:40] micahgodbolt commented on #6559
@ericame are you still needing anything here in this issue? We have a broad initiative to improve our website examples, if this issue has answered your questions, we'd like to close it up.

[2018-12-28 19:42] micahgodbolt commented on #6565
I've added this request to #6030. We'll investigate if we're able to add it.

[2018-12-28 19:49] micahgodbolt commented on #6567
Is this still an issue in light of the change in #6413 ?

[2018-12-28 19:51] micahgodbolt commented on #6571
Supporting wrapable buttons might be something to look at in #6134

[2018-12-28 19:52] skhule1984 commented on #7247
+Adding folks from our team.

Hi Aftab,
Thanks for getting back on this issue.
I wanted to follow up on this discussion.
The concern we have here is, we really expect the behavior that we have described in the issue.
If we apply your PR we will have to keep patching on our end for every new build release you make. And that’s not what we are looking forward to do.
Since the behavior doesn’t really

[2018-12-28 19:52] micahgodbolt commented on #6571
closing this issue down to reduce duplication

[2018-12-28 19:53] #6571 closed

[2018-12-28 19:53] micahgodbolt commented on #6575
@Vitalius1 any progress on this?

[2018-12-28 19:58] micahgodbolt commented on #6603
appears to be fixed via #7088

[2018-12-28 19:58] #6603 closed

[2018-12-28 20:02] micahgodbolt commented on #6636
Seeing lots of issues that might be resolved by separating the control from the control inside of a form. If we add required, do we also need to add error messages? It'd be nice to abstract error messaging and make sure that each control supports a required visual variation

[2018-12-28 20:02] micahgodbolt commented on #6636
might be work bundled into #5582

[2018-12-28 20:04] micahgodbolt commented on #6642
something to consider in #6134

[2018-12-28 20:04] atneik commented on #7490
Hi Jay! DetailsList doesn't re-render if an item is updated in a given array. You could either copy and provide a new array while `setState` ([here is the codepen](https://codepen.io/atneik/pen/QzqMEO)) or call `forceUpdate` on the component itself (both of them are expensive and should be used sparingly). If you're curious you can check out the conditions below that will actually cause a re-rende

[2018-12-28 20:07] micahgodbolt commented on #6651
@kkjeer do you have specific examples for reference?

[2018-12-28 20:13] kkjeer commented on #6651
In the Pivot documentation, initialSelectedKey does not use backticks:
The index of the pivot item initially selected. It only works when initialSelectedKey is not defined. You must not use them together.

In the Dropdown documentation, dropdownItems does use backticks:
Refers to the element that wraps `dropdownItems`.

[2018-12-28 20:17] micahgodbolt commented on #6657
Digging back into this, to recap: In the non modal example scroll events are added above the ms-Viewport

![image](https://user-images.githubusercontent.com/1434956/50526987-475c8d80-0a9a-11e9-97a2-63ba70f4e723.png)

but in the panel, no such event is added

![image](https://user-images.githubusercontent.com/1434956/50527006-593e3080-0a9a-11e9-8211-4a843a5d15be.png)

[2018-12-28 21:45] micahgodbolt commented on #6658
putting this on the backlog review to talk about splitting panel up into 2 parts. 1 part is the panel and the closing X that can be rendered at any width. The other, the Panel, has all of the custom widths and content. i.e. very primitive vs the application specific version.

[2018-12-28 21:46] #6672 closed

[2018-12-28 21:48] atneik commented on #7476
Thanks for the above explanation. Here is the PR to fix the issue: #7495

[2018-12-28 21:49] micahgodbolt commented on #6665
seems the PR for this fizzled out. something to look into during #6030? @ecraig12345

[2018-12-28 21:49] bennettclark opened #7496 "Update Pivot component with semantic slots"
**Describe the feature that you would like added**
There are new redlines for the Pivot fabric component that specify semantic slots.

https://microsoft.sharepoint.com/teams/WebPartTheming/Shared%20Documents/Forms/AllItems.aspx?id=/teams/WebPartTheming/Shared%20Documents/Redlines/Navigation/navigation-pivot-redlines.pdf&parent=/teams/WebPartTheming/Shared%20Documents/Redlines/Navigation&p=true&slr

[2018-12-28 21:50] micahgodbolt commented on #6675
@mikewheaton just making sure this is on your radar.

[2018-12-28 21:57] micahgodbolt commented on #6753
Right now the toggle has two labels. Labels typically are attached to the functionality of the input via the 'for' attribute.

So a few questions:
1. Should this control have two labels?
2. If not, which one is actually the label?
3. If the 'on/off' has the click target, it should be the label

![image](https://user-images.githubusercontent.com/1434956/50529210-30bd3300-0aa8-11e9-9265-ed9cd4221d42

[2018-12-28 22:01] micahgodbolt commented on #6767
is this still a bug?

[2018-12-28 22:02] atneik commented on #7496
I labeled this one a backlog item as I notice, looking at the spec, it will require some design updates (pressed & selected hover states) along with semantic slots.

@bennettclark do you happen to know who is the design contact on this?

[2018-12-28 22:03] micahgodbolt commented on #6772
similar to #6658 i think panel needs to be split into a generic container and the Panel as it is today. This will allow the underlined panel base to support any position while the Panel control will contain styles required to support positions described in our style guide.

[2018-12-28 22:04] bennettclark commented on #7496
The design contact is Sirena Myint.

[2018-12-28 22:06] micahgodbolt commented on #6782
does #6960 fix this issue? it still seems to be dark text

![image](https://user-images.githubusercontent.com/1434956/50529448-b5f51780-0aa9-11e9-985d-39dad4a89766.png)

[2018-12-28 22:08] micahgodbolt commented on #6811
@daweffe were you able to fix this with a debounce?

[2018-12-28 22:10] micahgodbolt commented on #6827
another opportunity here is to make textfield the goto field to build all other picking controls off of. date picker, people picker, dropdown, comobobox etc

[2018-12-28 22:11] micahgodbolt commented on #6833
Good candidate for #6134

[2018-12-28 22:15] #6839 closed

[2018-12-28 22:19] micahgodbolt commented on #6849
@cliffkoh see that you are listed as the owner in our onenote.

[2018-12-28 22:30] micahgodbolt commented on #786
duplicate of #5418

[2018-12-28 22:30] #786 closed

[2018-12-28 22:41] micahgodbolt commented on #6964
is this still desired? it seems the API files are changing quite often, and the normal component author is already getting pinged due to them.

[2018-12-28 22:43] micahgodbolt commented on #6994
@betrue-final-final were you interested in doing this PR? Otherwise I can kick it back to our devs.

[2018-12-28 22:53] micahgodbolt commented on #7000
is this still a desired feature, or do we just want to recommend using react-dnd. if dnd does what we want, seems silly to recreate it.

[2018-12-28 22:55] micahgodbolt commented on #7012
![image](https://user-images.githubusercontent.com/1434956/50530266-a200e400-0ab0-11e9-84ea-dbb48cbe0ab6.png)

[2018-12-28 23:03] micahgodbolt commented on #7055
Calendar has been converted to css in js (though still in beta in the date-time package). We will be converting remaining controls asap, so there is no need to change how we serve up those files. (i.e. spending dev cycles removing sass vs fixing how we serve sass).

[2018-12-28 23:05] micahgodbolt commented on #7056
@rexkenley if you feel this small change would resolve your situation, go ahead and write up a PR. I think it'll help us better understand what you are trying to do as well.

[2018-12-28 23:08] micahgodbolt commented on #7086
@Vitalius1 any update on the white border sizing?

[2018-12-28 23:13] micahgodbolt commented on #7110
@Jahnp It looks like the only const enum issue left is the icons, correct? Can we open up an issue specifically for icons and close this one up?

[2018-12-28 23:18] #7182 closed

[2018-12-28 23:20] micahgodbolt commented on #7204
should we consider using something other than a rotated div as the beak? what about an inline SVG?

[2018-12-28 23:30] micahgodbolt commented on #7255
@KevinTCoughlin did #7322 resolve this?

[2018-12-28 23:35] micahgodbolt commented on #7262
@JasonGore do you still feel this is worth doing considering the changes we're looking to make in foundation etc?

[2018-12-28 23:39] bennettclark opened #7499 "Update Textfield component with semantic slots"
**Describe the feature that you would like added**
There are new redlines for the Textfield fabric component that specify semantic slots.

https://microsoft.sharepoint.com/teams/WebPartTheming/Shared%20Documents/Forms/AllItems.aspx?id=%2Fteams%2FWebPartTheming%2FShared%20Documents%2FRedlines%2FBasic%20inputs%2Finput-text-field-redlines%2Epdf&parent=%2Fteams%2FWebPartTheming%2FShared%20Documents%2F

[2018-12-28 23:39] JasonGore commented on #7262
No, that was what I meant by my comment above.

[2018-12-28 23:40] micahgodbolt commented on #7221
@benkaiser at that point we just need a way to manage z-index elevations. It's something we've discussed in the past

10, 100, 1000, 10000

But haven't gotten around to yet. it'd be a pretty large, project wide effort. For now, you should be able to adjust the z-index via the styles prop.

[2018-12-28 23:40] #7262 closed

[2018-12-28 23:49] micahgodbolt commented on #7416
duplicate of #7417

[2018-12-28 23:56] micahgodbolt commented on #7417
Here's a quick example of updating font family. https://codepen.io/micahgodbolt/pen/RELxWW

There's still discussion to see if ITheme contains stacks of fonts, font sizes, font weights etc, or if everything is just specified in the 'fonts' object (which targets each font size). Personally I'd rather not have to list all font sizes in order to change the font family, I'd rather change it one place

[2018-12-28 23:59] micahgodbolt commented on #7437
i've got a feeling we wouldn't bake this feature into pivots, but we'd provide a way to add a close button which you could use to modify the state driving your UI (i.e. not tracking hidden state in the component).

[2018-12-29 00:01] micahgodbolt commented on #7437
waiting for #7012 to wrap up, then updating pivots to slots will enable this feature.

[2018-12-29 00:02] benkaiser commented on #7221
I see what you mean. It appears it can be fixed on the demo site by changing the z-index of the ms-layer to be lower than the header. Should I be approaching it with that way as a workaround for now? merging styles on the layer in order lower it's z-index for the coachmark?

[2018-12-29 00:02] micahgodbolt commented on #7437
actually, i'm just going to close this. We aren't going to do any action on this issue. This will be possible once pivots get converted.

[2018-12-29 00:02] #7437 closed

[2018-12-29 00:04] micahgodbolt commented on #7440
@ecoukraine you say this only repros on the iPad mini? If it works on the bigger iPad it makes me wonder if there is a browser difference. The size of the device/screen shouldn't have any affect on the modal.

[2018-12-29 00:07] micahgodbolt commented on #7442
User was able to resolve the building issue by removing spaces from their path name. I will close this issue up as title/history aren't relevant. @ecraig12345 can you start up a new issue for that work?

[2018-12-29 00:07] #7442 closed

[2018-12-29 00:10] micahgodbolt commented on #7444
seems like adding some npm scripts would do the trick right? We want to make it easy for devs to launch the experimental controls

`npm run experiments`

Is there more to this than creating this alias?

[2018-12-29 00:17] micahgodbolt commented on #7445
your error message states `Add a FOR attribute set to the ID of the associated control`

That is exactly what we're doing in our example. for="Dropdown1" and id="Dropdown1". Can you please explain what needs to change?

![image](https://user-images.githubusercontent.com/1434956/50531259-d9c15900-0abb-11e9-87d7-9ad68de7cf88.png)

[2018-12-29 00:30] micahgodbolt commented on #7467
I'd love to see a Fabric lead effort to standardize calendering. I've spoken with the calendar team a few times about this. There's certainly desire, but not bandwidth.

[2018-12-29 00:32] micahgodbolt commented on #7471
duplicate of #6010

[2018-12-29 00:33] #7471 closed

[2018-12-29 00:33] #7478 closed

[2018-12-29 00:34] #7480 closed

[2018-12-29 00:37] micahgodbolt commented on #7489
I can repro the issue if you switch back to a non virtualized comobobox. Yeah, virtualized is the way to go there.

[2018-12-29 00:38] atneik commented on #7491
Hi @piyumi25, have you looked at the Render custom coin example at https://developer.microsoft.com/en-us/fabric#/components/persona?

In most of our components we have `onRender` methods which help customize the component for your scenario. [Here is a codepen](https://codepen.io/atneik/pen/qLPpae?editors=1010) for above task wherein I used the `onRenderCoin` to customize the coin and used the `Ico

[2018-12-29 00:39] micahgodbolt commented on #7489
we're looking at updating combobox/dropdown. I'll make mention to consider adding this feature as a prop vs a different component (which we aren't promoting very well) #6030.

[2018-12-29 00:41] micahgodbolt commented on #7491
In the future try to keep the issue queue to issues. Feel free to ask questions in our Fabric teams channel or on stack overflow.

[2018-12-29 00:42] micahgodbolt commented on #7493
yeah, this is already in progress. @JasonGore is having fun adding slots to the control. Don't worry, it'll be much more full featured when launched.

[2018-12-29 01:16] TestAccessibilityGIT opened #7500 "SearchBox A11y Pass"
Tracking all of the issues brought up with the 12/28 accessibility pass on SearchBox control
Details on individual bugs can be found on [SharePoint ](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B4fe91e3e-d70d-4285-b60e-79524a3e8251%7D&action=default&uid=%7B4FE91E3E-D70D-4285-B60E-79524A3E8251%7D&ListItemId=1640&ListId=%7B395E1ECB-5002-

[2018-12-29 01:20] cliffkoh commented on #7444
This would work too. @khmakoto has volunteered to take up this task (it's not a lot of work :))

[2018-12-29 01:20] cliffkoh commented on #7444
Most of the work would be writing the documentation in the wiki!

[2018-12-29 01:48] kkjeer commented on #6964
This isn't technically necessary. It was part of the original plan for API extractor integration so I opened the issue. It depends on how strict we want to be about API updates - if normal component author approval is sufficient then this can be closed.

[2018-12-29 02:09] kkjeer commented on #6315
Removing the iOS scroll disable call added in #5804 does allow scrolling within the Modal. However, this then reintroduces the behavior that #5804 fixed - the user can now scroll the body behind the Modal. Unfortunately I don't yet know of a different way to fix the body scrolling behavior, so I see a few options here:

1. Revert #5804 and allow users to scroll the body behind Modals, Panels, and

[2018-12-29 05:56] KeiraYang commented on #7481
![image](https://user-images.githubusercontent.com/28148759/50534045-582c0280-0b71-11e9-854e-c33b0fb1433d.png)

I also get the null ref when using the codepen -> open the dev tools -> click on the 'Open Command Bar Item'.

[2018-12-29 06:01] #7476 closed

[2018-12-29 19:56] khmakoto commented on #7444
Yes, all of this seems like good things to discuss adding/add to the wiki. Will do that once I come back.

[2018-12-29 19:58] khmakoto commented on #6310
I have one more change regarding the deprecation flag. Would have to talk with David to see if I will take on the work of other overrides or not.

[2018-12-30 00:00] #7055 closed

[2018-12-30 01:00] #7493 closed

[2018-12-30 01:00] #7491 closed

[2018-12-30 05:02] ecraig12345 commented on #7454
Probably `@uifabric/experiments` hasn't been built yet. From the root, try running `npm run buildfast` (or `rush build`) to build all the projects including experiments. Then retry `npm start` in `fabric-website`.

[2018-12-30 07:00] #7490 closed

[2018-12-31 16:14] ALaveault commented on #6393
We are in the middle of the transition to react 16 and 6.x and should have some more feedback after the holidays.

[2018-12-31 17:05] daweffe commented on #6811
I did not get around to fixing this on our end.

[2018-12-31 17:31] natalieethell commented on #5615
@micahgodbolt Ben is still finalizing the documentation for Announced. After that, we can move forward with the other work.

[2018-12-31 17:32] natalieethell commented on #5386
@micahgodbolt will need @dzearing 's input before moving forward with this work.

[2018-12-31 17:52] natalieethell commented on #7425
I agree with Kevin's reasoning above for when we use `aria-label` versus `aria-labelledby`. @Shobhit1 Does that make sense? The logic here seems intentional.

[2018-12-31 20:19] #7484 closed

[2018-12-31 21:48] #7496 closed

[2019-01-01 01:05] benkaiser commented on #7221
@micahgodbolt @natalieethell I notice that there is a `doNotLayer` prop as part of calloutProps that can be passed to the coachmark, however this seems to not stop the coachmark from still rendering it's own layer.

Is there plans to fix this? as it would likely fix the issue if we could have the coachmark render on the same layer as the page contents and avoid needing to mess with z-indexes.

[2019-01-01 03:08] piyumi25 commented on #7491
thank you very much for your reply. I will try this.

[2019-01-01 04:58] rajput9997 commented on #7477
@micahgodbolt - Sound like I need to reset with default option select key rather than going to set null on the State value. I''ll implement this soon and close it. Thanks!

[2019-01-01 08:52] piyumi25 commented on #7489
thank you very much for your reply and this solute my problem

[2019-01-01 08:52] #7489 closed

[2019-01-01 17:00] ecraig12345 commented on #7440
I just tried this using BrowserStack on an iPad mini running iOS 11 and a simulated iPad Mini running iOS 9 and wasn't able to repro on either of them (though I did notice that the website looked funny on iOS 9). That makes me wonder, @micahgodbolt do you know if we even support iOS 9 any more?

![image](https://user-images.githubusercontent.com/5864305/50574741-08894900-0db4-11e9-8f37-7af5659c97b

[2019-01-01 21:55] frevds commented on #6476
The workaround works, but it not a desired solution and it certainly shouldn't be like that by design because it is inconsistent to open a modal panel - which by definition is a panel that has no outer zones to click on that close it, modal means that all other UI interaction is supposedly blocked, Foreground stuff within the panel is considered content. It is also incompatible with component para

[2019-01-01 22:01] SilverCoder commented on #2740
i also have the same issue

[2019-01-02 01:58] liuyangc3 commented on #7454
@ecraig12345 `npm run buildfast` works, and please update the document in `apps/fabric-website`

[2019-01-02 02:06] liuyangc3 opened #7502 "Nav onRenderLink not fullfill link area"
### Environment Information

- __Package version(s)__: 6.118.2
- __Browser and OS versions__: Chrome

### Please provide a reproduction of the bug in a codepen:

https://codesandbox.io/s/ol9p37znr9

#### Actual behavior:

clicking on red zone not fire custom event defined in `onRenderLink`

![image](https://user-images.githubusercontent.com/6705844/50578478-cc1e2180-0e75-11e9-88d4-13714cdb0316.png

[2019-01-02 04:34] tpanpalia commented on #7445
Hi @micahgodbolt ,

This is exactly what we're also doing.
![image](https://user-images.githubusercontent.com/45614905/50580533-a7c24500-0e75-11e9-829a-e7ad46cfd016.png)

But still we are facing the above issue.

[2019-01-02 04:38] goodoldneon opened #7503 "DetailsList dragDropEvents doesn't update when changed"
### Environment Information

- __Package version(s)__: 6.117.1
- __Browser and OS versions__: Chrome 71.0.3578.98 and macOS 10.14.2

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/goodoldneon/pen/BvJBEq

#### Actual behavior:

Changing the `dragDropEvents` prop doesn't change drag/drop behavior. Drag/drop is "stuck" on the initial prop.

#### Expected behavior:

Cha

[2019-01-02 07:05] RupamSarkar commented on #6505
@micahgodbolt Can we add borders selectively to few cells using the styles prop ? As our color picker needs border only in the 1st row cells .

[2019-01-02 08:47] arkogupta commented on #7482
@micahgodbolt @KevinTCoughlin Could anyone please help out with this ?

Thanks.

[2019-01-02 11:00] hoovercj commented on #6398
Yes, now that Edge is moving to Chromium, any mitigations done by the office fabric team will stop working later this year. I'll close this bug and discuss alternatives with my team.

[2019-01-02 11:00] #6398 closed

[2019-01-02 11:08] sonimishra commented on #7480
As checked, this issue is marked duplicated with https://github.com/OfficeDev/office-ui-fabric-react/pull/6884 .

[2019-01-02 11:51] Pajn commented on #6315
Due to the extremely open ranges of the internal packages, even though they are filled with breaking changes, it's impossible to install the older version without this issue as it instantly crashes.

Which versions of @uifabric/icons, @uifabric/merge-styles, @uifabric/styling and @uifabric/utilities are
office-ui-fabric-react@6.49.0 compatible with so that I can force them to be installed instead

[2019-01-02 12:17] sonimishra opened #7504 "[Screen Reader - Filter Dropdown]: "Selected/Non-Selected" State property is not defined for 'Menu items' under "Filters runs" Pane."
User Experience:
If the State Properties of control is not defined, then screen reader dependent user will not be able to interact with it properly.

Check out Keros! - Identify accessibility bugs before check-in and make bug fixing faster and easier.

Pre-Requisite:
Multiple Runs should be available for Flow.

Repro Steps:
1. Open URL :https://preview.flow.microsoft.com and sign in using valid cr

[2019-01-02 12:29] sonimishra opened #7505 "[Screen Reader - Left Navigation]: Screen reader is not reading State and position details of menu items under left navigation bar."
User Experience:
If screen reader is not reading the state and position details for menu items under left navigation bar then the end user who depends upon screen reader will not be able to know whether the current element is selected or not and might not know how much further he/she needs to navigate under this section.

Check out Keros! - Identify accessibility bugs before check-in and make bug

[2019-01-02 12:50] hoovercj commented on #6441
I have double checked that this behaves as I initially described in Microsoft Edge 42.17134.1.0.

This contrasts slightly with the [Combobox with Listbox Popup Examples](https://www.w3.org/TR/2017/NOTE-wai-aria-practices-1.1-20171214/examples/combobox/aria1.1pattern/listbox-combo.html) provided by w3.org.

In those examples, pressing "down" will navigate into the dropdown in scan mode. I assume th

[2019-01-02 12:59] hamedy commented on #7419
ok, discovered another bug here. The fix works perfectly fine in Chrome. But in IE, the submenu expansion only works after the second hover event! so If I hover on one item and wait, it never expands. Have to move the cursor out and hover one more time to get it to work.

Hope we can get a quick fix for this. Our customer is running out of patience with us for not getting a basic function like a m

[2019-01-02 16:05] micahgodbolt commented on #6651
example
![image](https://user-images.githubusercontent.com/1434956/50600203-38445980-0e65-11e9-8ccd-21df13668f09.png)

[2019-01-02 16:06] #6964 closed

[2019-01-02 16:10] micahgodbolt commented on #7481
I'm sorry, seems there was some loading order issue on the javscript. I've updated the pen and it is working as expected now.

https://codepen.io/micahgodbolt/pen/BOpMPz?editors=1010

[2019-01-02 16:38] micahgodbolt commented on #7445
yeah, it seems like everything on our end is fine. I'd recommend getting in touch with the a11y testing vendor to see what is required in this case. As of now, there isn't anything we intend to change regarding dropdown labels.

[2019-01-02 16:43] micahgodbolt commented on #6505
No, as of now the only indicator we have is 'isWhite'. You'd have to apply the same border to all swatches.

It's possible that you could add passing 'color' to IColorPickerGridCellStyleProps and this would let you make per color style differences.

[2019-01-02 16:46] micahgodbolt commented on #7440
![image](https://user-images.githubusercontent.com/1434956/50601967-beaf6a00-0e6a-11e9-92b8-9c1c24fe1630.png)

We should be supporting iOS 12 and 11. @ecoukraine if your ipad has an older version of iOS, try upgrading.

[2019-01-02 17:48] mikewheaton commented on #6074
@micahgodbolt I completed an audit of the Fluent toolkit, Fabric React, and the website and found many inconsistencies. This was right before the holidays and we haven't discussed it yet to come up with a plan.

[2019-01-02 18:10] cliffkoh commented on #7504
Hi @sonimishra, it appears you're using the Fabric CommandBar component, which takes in an object that extends IContextualMenuItemProps for the `farItems`. These are in turn able to take in any HTML attributes, including relevant aria properties to indicate that an item is selected (Contextual Menu itself does not manage selection state).

There is no bug in Fabric components - this is a bugfix th

[2019-01-02 19:00] cliffkoh commented on #7505
Hi @sonimishra, I am unable to tell which Fabric components are involved here. Can you please create a repro in a codepen?

[2019-01-02 19:31] Shobhit1 commented on #7425
So, I was getting an error when I ran accessibility-checks for this component. I agree that `aria-labelledby` takes precedence.
But, there is no way for me to update this value using props. I was trying to fix the issue that I found by changing aria-label but since that prop doesn't really do anything, it was not feasible. I am sorry if my first issue caused any confusion to what the problem was.

[2019-01-02 21:49] natalieethell commented on #7425
Thanks for the clarification!

From my understanding, I believe that we want to maintain this `aria-labelledby` logic, which references the actual column name element. The W3C standards state the following:

https://www.w3.org/WAI/PF/aria-1.1/states_and_properties#aria-labelledby

As for the `aria-label` logic, we do use `column.ariaLabel` for the <label> element rendered here, which is referenced

[2019-01-02 21:58] ecraig12345 commented on #7454
Thanks for the update! I'm actually going to reopen this for now to track updating the docs.

[2019-01-02 22:02] ecraig12345 commented on #7419
@hamedy Sorry to hear the change didn't seem to help in IE. Would you mind verifying again that you're using v6.117.1 or later (which should contain the fix)?

[2019-01-02 22:03] benkaiser commented on #7221
That works perfectly! I wonder if it would also solve the issue on the demo site? should we consider adding:
[code]
to the example?

[2019-01-02 22:07] hamedy commented on #7419
yes, just double checked and I'm using the latest version :)

[2019-01-02 22:12] micahgodbolt commented on #7221
it does, but then you've got the next problem of malsized iframe

![image](https://user-images.githubusercontent.com/1434956/50615210-5ecfb800-0e98-11e9-92e4-5bfd3704f621.png)

[2019-01-02 22:17] ecraig12345 opened #7508 "Build errors when repo folder path has spaces"
### Repro steps

1. Make a folder with a space in the name, such as `D:\git\some folder`
2. Clone the Fabric Git repo into that folder
3. cd into the folder and `npm run build`

There will be a build error about the path `D:\git\some` not existing.

### Investigation

One issue is with the way `install-run-rush.js` spawns Rush in a child process, and I have a fix for that at Microsoft/web-build-to

[2019-01-02 22:32] benkaiser commented on #7221
I see, can we just give the iframe some padding at the bottom to cater for it?

[2019-01-02 23:11] cliffkoh commented on #7502
Hi @liuyangc3, thanks for the codesandbox repro which helped me help you.

I was able to resolve the issue you're experiencing with a slight modification to your code:

From line 55 (your `onRenderLink` function), I changed it to the following.

[code]

[2019-01-02 23:59] micahgodbolt commented on #7500
bug 1 is not really a bug. this 'search' control is only the UI to submit a search query. The application is required to actually wire up the search and return results.

[2019-01-03 00:10] phkuo commented on #6575
It can be removed from the SASS variables (those weren't being exported until after the deprecation anyways), leave it in code where it is now for backwards compatibility.

[2019-01-03 00:23] kkjeer opened #7510 "TooltipHost: tooltip is not shown when a Dropdown option is selected"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

#### Actual behavior:

When a Dropdown is wrapped in a TooltipHost and the user selects an option, the tooltip is not shown even though the focus is on the Dropdown.

#### Expected behavior:

The tooltip shoul

[2019-01-03 00:34] KevinTCoughlin commented on #6657
Thanks for the above @micahgodbolt, this is helpful debug information. We need to investigate further, but if the `scroll` events aren't being assigned then `findScrollableParent` must be returning `undefined` in `List.tsx` (my guess).

https://github.com/OfficeDev/office-ui-fabric-react/blob/bc132408840fe0f8de86e6f9c20bd3e9344657db/packages/office-ui-fabric-react/src/components/List/List.tsx#L296

[2019-01-03 00:41] cliffkoh commented on #7504
I made a mistake in my original triage where I mistakenly looked at `IContextualMenuItemProps` as opposed to `IContextualMenuItem`.

`IContextualMenuItem` has the concept of whether an item is checked or not, but not if it is selected or not. If you pass in the `checked` props (https://github.com/OfficeDev/office-ui-fabric-react/blob/636413fa17e8a1d030870abafba6d84431de200b/packages/office-ui-fabr

[2019-01-03 00:46] KevinTCoughlin commented on #6567
Yea, the scope needs tweaking, but the underlying problem here is _one of_ if not _the major_ DetailsList performance issue. I was planning to track that work here, but we can close and reference in a different issue once opened. This is my perf top priority of Q1.

[2019-01-03 00:47] cliffkoh commented on #7504
Spoke with Anubhav Aggarwal offline - he will check if using `checked` results in a satisfactory experience for this specific scenario.

[2019-01-03 00:50] cliffkoh commented on #7503
Hi @goodoldneon, I discussed this with @aditima who is the original component author and she agrees with me that we don't think there is an issue with your proposed solution.

I think checking object reference and updating `this._dragDropHelper` if `dragDropEvents` has changed is perfectly fine. @aditima stated that the component doesn't do this at the moment because she didn't think anyone would

[2019-01-03 00:51] micahgodbolt commented on #7500
Scan mode only highlights the text of a button. Since icon buttons have no text you won't get any visual indicator in scan mode. This repros on the icon button page too. If this is actually a requirement (are visual indicators required?), then it'd be something to resolve in the icon button.

[2019-01-03 00:52] liuyangc3 commented on #7502
@clikkoh thanks，I think this is the right way to do it.

[2019-01-03 00:52] #7502 closed

[2019-01-03 00:52] micahgodbolt commented on #7500
yeah, seems there isn't a color difference for disabled in high contrast.

![image](https://user-images.githubusercontent.com/1434956/50619589-d3adec80-0eae-11e9-8688-4bf54a39af3e.png)

[2019-01-03 00:54] micahgodbolt commented on #7500
@betrue-final-final do you have designs for disabled search in high contrast. we simply don't have anything specified, and the disabled border/bg show up the same color as the enabled ones.

[2019-01-03 00:57] TestAccessibilityGIT commented on #7500
For Bug 3, though it's a usability issue but if focus gets visible on icon button that will enhance the usability experience.

[2019-01-03 01:00] micahgodbolt commented on #7500
i agree that it'd be useful, but even so, this is an icon button issue, and trying to fix it in one place won't solve the systemic problem. we also need to solve it for command bar, and any other control that uses icon buttons

[2019-01-03 01:11] micahgodbolt commented on #7434
#1 the labeled by and ID match, and the role of the button is tab. I don't see the problem

![image](https://user-images.githubusercontent.com/1434956/50619945-68b1e500-0eb1-11e9-9a82-6936fb1764d5.png)

[2019-01-03 01:13] micahgodbolt commented on #6567
Lets go with a new issue. No need to spam the OP unless the work you are doing specifically resolves this issue.

[2019-01-03 01:17] TestAccessibilityGIT commented on #7434
Bug 1: We got this defect using Keros for Web tool. Role used is not widely supported in assisstive technologies in this case.

[2019-01-03 02:17] hoainam3003 commented on #3722
The people picker should support required validation like others. For now, I have to validate the empty value and show invalid indicator manually.

[2019-01-03 02:34] AhmedAnwarHafez commented on #5660
Any updates on this issue?

[2019-01-03 03:23] liuyangc3 opened #7512 "How to make CommandBar vertical"
like VSCode
![image](https://user-images.githubusercontent.com/6705844/50622664-f6d9aa00-0f49-11e9-9553-49e63d926d41.png)

add `flex-direction: column` not work

[2019-01-03 04:48] superigno commented on #2431
+1

[2019-01-03 05:38] lijunle commented on #4613
Will [React hooks](https://reactjs.org/docs/hooks-intro.html) help on [`async` scenario](https://github.com/slorber/react-async-hook)?

[2019-01-03 07:05] #7510 closed

[2019-01-03 07:06] cliffkoh commented on #7512
Vertical layout is not a support feature of command bar. @micahgodbolt can confirm.

[2019-01-03 08:06] aviadisr opened #7514 "link in checkbox label cannot be clicked"
When a checkbox label includes a link it can not be clicked. Instead it toggles the checkbox state

- __Package version(s)__: (fill this out)
 "office-ui-fabric-react": "6.38.2",
- __Browser and OS versions__: (fill this out if relevant)
"chrome"

### Please provide a reproduction of the bug in a codepen:

Reproduction of the problem:
https://codepen.io/Israeli/pen/dwJmyz

#### Actual behavior:

C

[2019-01-03 11:13] ecoukraine commented on #7440
@micahgodbolt thank you, will try.

[2019-01-03 11:13] #7440 closed

[2019-01-03 12:42] liuyangc3 commented on #7512
is there a componet can do this except overflowset @cliffkoh

[2019-01-03 15:05] goodoldneon commented on #7503
Thanks!

[2019-01-03 16:15] micahgodbolt commented on #7512
Vertical overflow set and command bar buttons makes a great vertical sidebar. Normal command bar has a ton of logic to make it fit horizontally.

[2019-01-03 16:16] micahgodbolt commented on #7512
We are also working on a Leftnav control to cannonize this pattern. Should be a few more months still.

[2019-01-03 20:00] #4383 closed

[2019-01-03 20:00] #4250 closed

[2019-01-03 20:00] #3917 closed

[2019-01-03 21:00] #5198 closed

[2019-01-03 21:00] #5145 closed

[2019-01-03 21:00] #5153 closed

[2019-01-03 21:00] #5098 closed

[2019-01-03 21:00] #5082 closed

[2019-01-03 21:00] #5043 closed

[2019-01-03 21:00] #5045 closed

[2019-01-03 21:00] #4688 closed

[2019-01-03 21:00] #4747 closed

[2019-01-03 21:00] #4793 closed

[2019-01-03 21:00] #4684 closed

[2019-01-03 21:30] natalieethell commented on #7425
Curious, what is the scenario in which you have a blank column header?

[2019-01-03 23:00] #5292 closed

[2019-01-03 23:01] Shobhit1 commented on #7425
It actually has nothing but icons (as content on the column), so ideally `isIconOnly` solved my problem and I am starting to think, it is the correct way to fix my particular scenario because it correctly describes the content of my column.
But, I feel that `ariaLabel` prop is wasted in those situations because we dont really use it. Curious to know if the name being set as `aria-label` for column

[2019-01-03 23:31] natalieethell commented on #7425
If you pass in `column.ariaLabel`, that will be rendered in the label element that is referenced by `aria-describedby`, along with some other information like `column.filterAriaLabel`, `column.sortDescendingAriaLabel`, `column.sortAscendingAriaLabel`, and `column.groupAriaLabel`. So, it is used.

If we did the following

[code]

then we'd have the `column.ariaLabel` in two locations and it is read

[2019-01-04 00:20] KevinTCoughlin commented on #7425
I'm in agreement with @natalieethell's analysis and glad that she unblocked you @Shobhit1 by using `isIconOnly`. Good discussion all.

Regarding changing the `aria-label` conditional which would result in a double-read.. I think we should avoid it as it will be valid, but seem like a bug for those using assistive technology.

I _do_ think we need to surface this `isIconOnly` prop better as part of

[2019-01-04 00:53] Shobhit1 commented on #7425
Yes. I will close this issue. Thank you for all the help.

[2019-01-04 01:00] #5612 closed

[2019-01-04 01:00] #5534 closed

[2019-01-04 01:00] #5540 closed

[2019-01-04 01:08] devaradhanm opened #7518 "expose focus method via IChoiceGroup"
componentRef exposed by ChoiceGroup returns IChoiceGroup interface which doesnt expose anything.
We need to access focus method from the returned object.

[2019-01-04 01:55] cliffkoh commented on #6811
#7521 has a permanent fix for this issue. Debounce is no longer necessary.

[2019-01-04 01:58] cliffkoh commented on #6514
We should reevaluate this issue once #7521 is merged.

[2019-01-04 02:00] #6120 closed

[2019-01-04 02:00] #6044 closed

[2019-01-04 02:00] #5728 closed

[2019-01-04 02:00] #5894 closed

[2019-01-04 02:00] #5712 closed

[2019-01-04 05:51] chakradhar2 commented on #6019
@natalieethell: Sorry for late reply.
It is reading same way as you mentioned. But when we select the row,  it still reads same way as earlier, I think it should read with header there also.

| Name           |  Value |
| ------------- | ------------- |
|  Item1   | 1 |
| Item2  | 2 |

If  first row is selected, Currently it reads like:  Item1 , 1 selected
 It should read row some thing like :   *

[2019-01-04 13:37] crazyfraggle opened #7522 "No border around modals and dialogs in high contrast mode"
### Environment Information

- __Package version(s)__: >6.40.0 (Possibly before, but typo for `Modal.styles.ts` appeared here)
- __Browser and OS versions__: IE/Edge in Windows 10 High Contrast mode

### Please provide a reproduction:

Open https://developer.microsoft.com/en-us/fabric#/components/modal in High Contrast mode, and look at samples. Same for Dialog.

#### Actual behavior:

There is no

[2019-01-04 14:09] hamedy commented on #7419
no news here?

[2019-01-04 15:11] kurtnelle commented on #7054
Have you actually done this and confirmed it working?

[2019-01-04 17:00] #7512 closed

[2019-01-04 17:15] xli1000 opened #7524 "BasePicker onInputFocus called on wrong component when there are multiple Pickers"
### Environment Information

- __Package version(s)__: 6.119.0
Downgrading to 6.118.0 got rid of this issue.
- __Browser and OS versions__: (fill this out if relevant) Chrome 70.0.3538.67 and Windows 7

### Please provide a reproduction of the bug in a codepen:

Add two pickers that extend BasePicker.  Focus the first picker and then the second one. Focus the first one again.

#### Actual behavior

[2019-01-04 17:19] cliffkoh commented on #7524
@joschect

[2019-01-04 18:02] goodoldneon opened #7525 "DetailsList not rendering updated selection"
### Environment Information

- __Package version(s)__: 6.117.1
- __Browser and OS versions__: Chrome 71.0.3578.98 and macOS 10.14.2

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/goodoldneon/pen/BvJBEq

- I'm trying to keep `selectedItems` in state in a parent component (`<App />`).
- The child component (`<Child />`) is responsible for updating selections in the `

[2019-01-04 18:04] micahgodbolt commented on #5339
Reopening to give the OP a chance to reply.

[2019-01-04 18:12] ethanroday opened #7526 "Allow number format for slider"
Let's say I have a slider that goes from 0% to 100%, like so:

![image](https://user-images.githubusercontent.com/896670/50703350-a2493400-1008-11e9-8f30-674d446265c3.png)

### Current Behavior

As is, I need to have a separate element that displays the value, since I can't format the value of the slider.

Slider component:
[code]

Styles:
[code]

### Desired Behavior

I would love to just be able

[2019-01-04 18:18] joschect commented on #7524
@xli1000 that PR should have only impacted controlled pickers, do you have a codepen as an example?

[2019-01-04 19:00] #6212 closed

[2019-01-04 19:00] #6198 closed

[2019-01-04 19:00] #6195 closed

[2019-01-04 19:02] #7522 closed

[2019-01-04 19:35] avenezia opened #7528 "ActionButton outline on focus gets clipped"
### Environment Information

- __Package version(s)__: 6.112.0
- __Browser and OS versions__: Chrome 71.0.3578.98

### Please provide a reproduction of the bug in a codepen:
 https://codepen.io/avenezia/pen/YdexRm

#### Actual behavior:

Depending on the value of the overflow property of the parent container, the outline on focus of the ActionButton gets clipped.

#### Expected behavior:

The outl

[2019-01-04 20:00] #6449 closed

[2019-01-04 20:00] #6379 closed

[2019-01-04 21:00] #6559 closed

[2019-01-04 21:00] #6498 closed

[2019-01-04 21:00] #6529 closed

[2019-01-04 21:00] #6482 closed

[2019-01-04 21:34] mikewheaton opened #7531 "Set default box sizing to border-box"
### Environment Information

- __Package version(s)__: Latest
- __Browser and OS versions__: N/A

#### Actual behavior:

The `border-box` values for the [box-sizing property](https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing) determines whether the height and width of an element includes its padding or not.

Right now there are a few components (eg. List, Calendar, Suggestions) that manu

[2019-01-04 22:45] Adjective-Object opened #7532 "Command bar flickers on resize"
### Environment Information

- __Package version(s)__: 6.119.0
- __Browser and OS versions__: Repro'd in chrome Version 71.0.3578.98, Firefox 64.0 on Windows

### Please provide a reproduction of the bug in a codepen:

https://fabricweb.z5.web.core.windows.net/oufr/6.119.0/#/examples/commandbar
Scroll down to the example and resize the browser window slowly when it is thinner than the max width of

[2019-01-04 23:04] TestAccessibilityGIT commented on #7434
Hi Micah,
I guess Fernanda Bonnin ferbonn@microsoft.com<mailto:ferbonn@microsoft.com> from Keros can help us on this.

Regards,
Arvind

From: Micah Godbolt <notifications@github.com>
Sent: Wednesday, January 2, 2019 5:11 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Arvind Prakash (HCL America Inc) <v-arvpra@microsoft.com>; Author <author@noreply.github.co

[2019-01-04 23:26] TestAccessibilityGIT opened #7534 "Facepile A11y Pass"
Tracking all of the issues brought up with the 1/4 accessibility pass on Facepile control
Details on individual bugs can be found on [SharePoint](https://microsoft-my.sharepoint.com/:x:/r/personal/v-amaver_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7Bfd43fcc5-515d-47d8-946d-0d4862a56278%7D&action=default&uid=%7BFD43FCC5-515D-47D8-946D-0D4862A56278%7D&ListItemId=1647&ListId=%7B395E1ECB-5002-440E

[2019-01-04 23:48] Vitalius1 commented on #6575
@phkuo I am a little bit confused on what do you mean by

Do you mean that anything in a `.scss` file can be removed and in cases of it being used in a `.ts` file should be left as is?

[2019-01-05 00:00] #7000 closed

[2019-01-05 01:11] komal4364 opened #7535 "DetailsList: Items data with html tag. How to render"
Hi,
I am using office-ui-fabric-React. We are detailsList component, which is used to display the items in list.
The data is received from the REST API Call, Some of the column data, has html tags associated with it.
We want to show user only the content in html tags, not html tags, and highlight the text in html.
How to handle that in DetailsList Component.
In angular, this can be solved using [i

[2019-01-05 02:37] cliffkoh commented on #7532
Thanks for reporting issue, and in particular thank you for the detailed repro steps (the video recording helped!)

@micahgodbolt, is this something you can take a look at, given that this bug is purely within Command Bar?

[2019-01-05 02:39] #7518 closed

[2019-01-05 05:45] KevinTCoughlin commented on #7535
I'm in agreement with @Vitalius1.

@komal4364, you'll likely get more traction for this question on [StackOverflow](https://stackoverflow.com/questions/tagged/office-ui-fabric). We encourage you to post this question there either using the `office-ui-fabric` and / or the `reactjs` tag.

[2019-01-05 06:06] komal4364 commented on #7535
I have spoken to Vitalius1 (I am a Microsoft employee). Recommendation is to customize the rendering of column using RenderItemColumn prop of DetailsList. Will try it. Thanks Vitalius1.

[2019-01-05 06:06] #7535 closed

[2019-01-05 07:05] Vitalius1 commented on #7086
Will restart the discussion with the designer owning this component and see if I can get some specs for that white divider for different sizes. Before holidays have been very busy with pickers conversion and fluent-theme. Next weeks I am on Shield so will see if can be done quickly.

[2019-01-05 10:05] cliffkoh opened #7537 "Just build is not failing on snapshot mismatches"
It appears that the new just build is not breaking the build when there are snapshot test failures.

This breakage happened in PR #7523

The corresponding Travis CI build (and also all builds on Azure Pipelines) have the same snapshot errors but all failed to break the build on the error.
https://travis-ci.org/OfficeDev/office-ui-fabric-react/builds/475305588

[2019-01-05 10:20] cliffkoh commented on #7528
Funny thing is that it doesn't repro on the dev site

![image](https://user-images.githubusercontent.com/1003246/50723286-62c62a80-1090-11e9-979e-cb5d02f2fdc8.png)
https://fabricweb.z5.web.core.windows.net/oufr/6.119.0/#/examples/button

[2019-01-05 10:41] cliffkoh commented on #7525
@aditima, could you please look at this?

[2019-01-05 11:00] cliffkoh commented on #7505
Hi @sonimishra, apologies, I realize this is for the Fabric Nav component. The issues here will have to be addressed as part of a complete Nav rewrite.

[2019-01-05 11:07] Efreeto opened #7539 "componentRef for ChoiceGroup"
**Describe the feature that you would like added**
componentRef for IChoiceGroup

**What component or utility would this be added to**
ChoiceGroup

**Have you discussed this feature with our team, and if so, who**

**Additional context/screenshots**
Please give me this soon :( I can use other ui controls except the radio buttons with ref method. I see it's in active development right now, only edi

[2019-01-05 17:09] goodoldneon commented on #7525
My question was answered in https://github.com/OfficeDev/office-ui-fabric-react/issues/7418#issuecomment-448032880. `DetailsList` will rerender when its props.items change. So to force the render I put:

[code]

[2019-01-05 18:03] Vitalius1 commented on #7539
Hi @Efreeto , can you elaborate on what specifically is your issue. The PR you reference above just exposed the `focus` public method to the `componentRef` prop. Do you need something else? A codepen with what you are trying to achieve and have issues would be much appreciated. Here is starter for you. https://codepen.io/vitalius1/pen/LMdXPV

[2019-01-05 19:20] kenotron commented on #7537
Thanks for catch this, @cliffkoh - Somehow jest runInBand slipped my testing locally (I don't usually test with TRAVIS flag on).

I've added an update in just to catch the case where a tool exits before task functions reaches back to the toplevel. Now I set the exitCode as soon as the error is detected:

https://github.com/kenotron/just-task/commit/f93ac230a0f06932d4c5bed96ebd6cbbf351e156

[2019-01-05 21:19] Efreeto commented on #7539
Oh I am very sorry Vitalie. I was pulling an all-nighter, and wrote down something wrong. The feature I wanted was ‘value’ from IChoiceGroup, not ‘componentRef’. ComponentRef is already there as you said and now you can grab ‘focus’ from the ComponentRef with a recent PR, but I want to get the actual ‘value’ too, which tells which was selected on ChoiceGroup without using a state variable on React

[2019-01-06 01:03] dliu120 commented on #6567
We can close this since the underlying issue is captured. Thanks!

[2019-01-06 01:03] #6567 closed

[2019-01-06 03:48] isabelacmor opened #7541 "DefaultButton not getting correct style with @uifabric/fluent-theme"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: Mac OS 10.14.2 / Chrome 71.0.3578.98

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Maybe

Requested priority: Normal

Products/sites affected: Products using fluent

#### Describe the issue:

Using the @uifabric/fluent-theme FluentCustomization, the sty

[2019-01-06 08:48] aviadisr commented on #7514
Sorry, had syntax errors in my description which hide all the information. All info above + codepen example. 10x.

[2019-01-06 16:04] NavaneethaDev commented on #479
How to deselect he first PivotItem. I am displaying A to Z pivot item and currently its always selecting first letter A. Could you please tell me how to deselect  the first element? Thanks!

[2019-01-07 03:13] cliffkoh commented on #7505
The above comment is if the fixes for the issues are pursued by the Fabric Tactical team. PRs are always welcome if there is a pressing need to resolve the issues above.

[2019-01-07 03:48] betrue-final-final commented on #6994
If this isn't done I could tackle it. Back tomorrow.

[2019-01-07 03:50] betrue-final-final commented on #6893
That would be Christopher Wymer.

[2019-01-07 04:09] Vitalius1 commented on #7539
@Efreeto I don't quite understand why not use the provided `onChange` callback prop and every time you change the option it will trigger it and update a state variable in your consuming React component.  This way you are guaranteed to have the most up to date selected option. In case if we provide a getter method for the selected option through the `componentRef` prop, you would still have to know

[2019-01-07 04:45] isabelacmor commented on #7541
Thanks for the speedy reply! Good to know it’s working as intended. Is there somewhere I can access the Fabric Fluent toolkit for future reference? Otherwise I’ll just have to ping @mikewheaton internally so I don’t spam this repo 😊

[2019-01-07 04:45] #7541 closed

[2019-01-07 05:19] Vitalius1 commented on #7541
@isabelacmor I left you some pointers in Teams. Hoping I got the right person 🙄 )))

[2019-01-07 05:39] #7449 closed

[2019-01-07 05:43] dzearing commented on #6651
Is there a programmatic way to scan and resolve this? We have the api-extractor json...

[2019-01-07 05:44] Ajay-MS opened #7542 "Issue with office fabric dependency while building with webpack"
I am trying to build an web extension building via vss-web-extension-sdk .

I am building web extension via webpack. Below is build script ( from package.json )
[code]

While building UI component of the extension, I am taking dependency on office fabric node module.

I am getting following issue with office fabric node module:
[code]

### Environment Information

- @uifabric/merge-styles@6.15.0
-

[2019-01-07 05:44] dzearing commented on #6651
It would be great to just have a big table of all props and comments, alphabetized, so that we could also scan for inconsistencies.

[2019-01-07 05:52] dzearing commented on #6315
Fabric packages follow semantic versioning as best as possible. We try very hard to avoid breaking changes, so if you hit something that breaks you, please let us know so that we can understand what was done wrong and how to avoid it. Many times, one person's feature is another person's bug, and it's difficult to get things right.

You can always look at any package's dependencies through unpkg.co

[2019-01-07 05:55] dzearing commented on #7288
@ReeceKenney I'm super confused here. Your screenshot looks like you're using a `Pivot` component, documented here:

https://developer.microsoft.com/en-us/fabric#/components/pivot

But your title mentions `CommandBar` documented here:

https://developer.microsoft.com/en-us/fabric#/components/commandbar

Are you using the wrong component for the job? Or is the title wrong?

[2019-01-07 06:05] Vitalius1 commented on #7542
@cliffkoh can you look into this? Looks like you touched last that line (#6649). The only thing I can confirm is that the `IStyleSet` file indeed has a tslint error pointing out a missing semicolon. The other 2 errors from the logs provided look like are on the same line and may be a consequence of the first error.

<img width="866" alt="screen shot 2019-01-06 at 9 51 37 pm" src="https://user-imag

[2019-01-07 06:13] dzearing commented on #4613
While I would agree that subclassing is an anti-pattern for React components, the purpose of BaseComponent was to:

1. Make sure all native dom events and async stuff gets cleaned up automatically with component lifetime. (There are likely cleaner ways to do this than `BaseComponent._events`.) The design goal was that there'd be NO CHANCE someone hooking up an event would forget to unhook it on un

[2019-01-07 06:13] dzearing commented on #4613
It's possible we could move away from BaseComponent. We should consider that.

[2019-01-07 06:38] dzearing commented on #5653
Given this is immensely easy to do external to the component, and there is no value the detailslist would provide in rendering another div, and it has way too many props already, I'm close this one.

You can achieve the look above with your own conditional: https://codepen.io/dzearing/pen/RqVWEb

[2019-01-07 06:38] #5653 closed

[2019-01-07 07:21] cliffkoh commented on #7542
@ajay-ms  what is the version of TypeScript you're using? Most likely that is the root cause. Fabric has a minimum requirement of TypeScript 2.8.2.

[2019-01-07 07:39] Ajay-MS commented on #7542
@cliffkoh

I was using typescript version 2.3.4 , I have just tried with version 2.8.2  and compilation succeed. Thanks for quick response. I am unblocked on this.

[2019-01-07 07:41] Vitalius1 commented on #7542
Thanks @cliffkoh for the solution. Closing this now.

[2019-01-07 07:41] #7542 closed

[2019-01-07 09:49] nguyentoantuit opened #7543 "TagPicker: suggestion list is shown strangely"
### Environment Information
- __Package version(s)__: 6.119.0

If I set both value
...
onEmptyInputFocus={() => _testTags}
selectedItems={[_testTags[0]]}
...

#### Actual behavior:
The suggestion list will auto show when I check then uncheck the checkbox **Disable Tag Picker**

#### Expected behavior:
Only show suggestion list when we focus on picker.

#### Reproduce link: https://codepen.io/nguye

[2019-01-07 10:15] nguyentoantuit commented on #7543
Please note that this issue didn't occur in version 6.118.0

[2019-01-07 11:56] tpanpalia commented on #7445
Hi @micahgodbolt ,

Thanks for your reply. Please direct us to a11y testing vendors who can help us with the above issue.

[2019-01-07 12:06] shahprashant1990 opened #7544 "Navigation List Expand and Collapse only Up/Down it has no feature Left/Right"
**Currently, Expand/Collapse working only up/down way not as Left/Right direction**

URL: https://developer.microsoft.com/en-us/fabric#/components/nav

[2019-01-07 16:54] betrue-final-final commented on #6753
Well, On/Off is a state description. In mental model terms, the text above is the "label". I don't know how we want to describe it in code. I just know that people will be inclined to click on the off/on text or the toggle itself more than the "label".

[2019-01-07 17:01] micahgodbolt commented on #479
@NavaneethaDev questions are best asked in our teams channel or stack overflow. We don't usually monitor our issue queue for questions.

[2019-01-07 17:05] micahgodbolt commented on #7532
it appears that the copy of the command bar that is used for measurement is being displayed. It should be invisible.

[2019-01-07 17:06] micahgodbolt commented on #7532
oddly though, i'd expect the issue to also be on resizeGroup (as it does the duplicating and hiding, but it appears to be working fine).

[2019-01-07 17:11] micahgodbolt commented on #7532
Ok, last observation. It only happens on grow (not shrink).

[2019-01-07 17:14] micahgodbolt commented on #7532
@christiango any thoughts why command bar would be displaying the 'measured div' on grow data?

[2019-01-07 17:21] kenotron commented on #4504
@dzearing, there's an internal email thread about this with the OneDrive & Gearbox folks. I ended my last part asking for an opinion from you:

"Given the usage, I am proposing that we end up deprecating the IconNames enum for 7.x. For now, we should tag that object as @deprecated to discourage use. @dzearing  – what’s your opinion?"

In the meantime, **internally** within the Fabric codebase, we

[2019-01-07 17:30] christiango commented on #7532
Seems strange. We don't see that for the Ribbon, which uses ResizeGroup directly instead of command bar. Were there any recent changes to command bar or resize group?

[2019-01-07 17:34] nikhilpuria opened #7546 "Calendar/ContextualMenu: Focus gets trapped on up/down arrows when calendar is placed in contexual menu"
### Environment Information

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

### Please provide a reproduction of the bug in a codepen:

 https://codepen.io/nikhilpuria/pen/KbRwOa?editors=0010

#### Actual behavior:
 dates of the **Calendar** component are not accessible using keyboard when Calendar is used inside a CommandBar / ContextMenu

##

[2019-01-07 17:35] kenotron commented on #4504
@dzearing - I took a look at our codebase and can't find usage of the IconNames enum anymore except inside a visual regression test story for Nav. (I searched for "IconNames."). I think this bug is actually addressed.

@pajn - it seems that `ts-jest` now has isolatedModules default to false, I think that jest would ts-jest would work with this const enum output for now. I don't think Fabric team w

[2019-01-07 17:49] jpc1976 opened #7547 "textLeft option in Toggle component"
The toggle component in Fabric-JS has a "textLeft" option, as demonstrated in the last example  [here](https://developer.microsoft.com/en-us/fabric-js/components/toggle/toggle).

This option does not however seem to have been ported to the corresponding React "Toggle" component (or if it supported, I cannot find a way to make it work).

(This could either be a question or a feature request, depend

[2019-01-07 17:54] betrue-final-final commented on #6753
I don't have an issue as long as it doesn't make the screen reader say redundant information.

[2019-01-07 18:12] micahgodbolt commented on #7546
btw, i don't think the best approach for putting a calendar in a menu is to use a contextual menu. Here's an example of the calendar in a custom callout.  https://codepen.io/micahgodbolt/pen/MZGMqR?editors=0010

But this does bring up the question of multiple focus zone items inside of a contextual menu item, though that might be a much lower priority bug if the above solution works.

[2019-01-07 18:14] betrue-final-final commented on #7397
We'll need some design work done here as it's an information design exercise. @micahgodbolt is correct, this could involve just padding, but occasionally text size on a case by case basis.

[2019-01-07 18:18] micahgodbolt commented on #7546
in the command bar https://codepen.io/micahgodbolt/pen/roKBgZ?editors=0010

[2019-01-07 18:23] nikhilpuria commented on #7546
The above codepen looks good .The only potential issue is that I am not able to dismiss the callout on pressing esc

[2019-01-07 18:27] ethanroday opened #7549 "npm/yarn/pnpm install office-ui-fabric-react often gets stuck"
### Environment information

**OS**: Windows 10 Enterprise (17763)
**Node version**: 8.12.0
**npm version**: 6.4.1
**Yarn version**: 1.12.3
**pnpm version**: 2.24.2

### Steps to reproduce

With clean caches,

    npm install --save office-ui-fabric-react

Or

    yarn add office-ui-fabric-react

Or

    pnpm install --save office-ui-fabric-react

### Expected behavior

The package should install.

[2019-01-07 18:31] cliffkoh commented on #7532
Just adding co-assignees. I will still stay assigned as well.

[2019-01-07 18:32] micahgodbolt commented on #7546
Oh, you'll see there is an onDimiss there calling the closeMenu. You might need to tweak that a bit.

[2019-01-07 18:38] joschect commented on #7336
@yumikohey and @kkjeer , this is definitely working as intended. If the call isn't asynchronous then the loading text should never get read because it's not loading. For example check out https://developer.microsoft.com/en-us/fabric#/components/peoplepicker . You can click on the 'Delay Suggestion Results' toggle to see how it behaves differently when there is actual loading time.

I do not believ

[2019-01-07 18:43] KevinTCoughlin commented on #7162
Tagged "Needs: Design" input on the following:

1. Is this an example we want to surface on the `ContextualMenu` variants page?
1. If so, how should it look?
    - One idea is to render a container with text suggesting the user right-click within to render the `ContextualMenu` at the mouse target.

cc: @Jahnp if he's back in the office

[2019-01-07 18:46] christiango commented on #7532
@micahgodbolt , wow, that was awesome how quickly you were able to go back and find the regression!

[2019-01-07 18:47] micahgodbolt commented on #7532
yeah, would have taken forever without all of those prebuilt versions.

[2019-01-07 18:58] atneik commented on #7526
Issue merged and released in :tada:`office-ui-fabric-react@v6.120.0`

[2019-01-07 18:58] #7526 closed

[2019-01-07 18:58] Vitalius1 commented on #7546
https://codepen.io/vitalius1/pen/vvrYMZ
@nikhilpuria I added the componentRef to the calendar button item and now the `onDismiss` works. I believe this solution is optimal and I agree with @micahgodbolt that `contextualMenu` is not the best approach.

@nikhilpuria @micahgodbolt should we consider this issue good to be closed?

[2019-01-07 19:00] micahgodbolt commented on #7546
hah! totally missed the componentRef didn't I :D

[2019-01-07 19:03] micahgodbolt commented on #7546
I'm fine closing this. I think there might be some discovery to be done with multiple focus zones in a contextual menu item, but then again, it's not something we'd often recommend doing (maybe a searchbox, but not much more complex than that).

[2019-01-07 19:07] Vitalius1 commented on #7546
Agree on that. A contextualMenu with items being highly interactive seems wrong in using it. The purpose of that menu is to choose an item from a list. So your approach with a callout is best in this case.

[2019-01-07 19:20] Vitalius1 commented on #7549
@kenotron Is this a normal behavior for when installing OUFR package?

[2019-01-07 19:21] #7374 closed

[2019-01-07 19:23] Vitalius1 commented on #7546
Closing it as it looks like the author got a working solution from Micah.

[2019-01-07 19:23] #7546 closed

[2019-01-07 19:35] cliffkoh commented on #7525
Oh! If this is the root cause - it is by-design that DetailsList treats the items array as pure (i.e. the items array itself is treated as immutable).

JavaScript sorting usually happens in-place - I recommend you copy the elements to a new array first before executing the sort.

[2019-01-07 19:37] cliffkoh commented on #7525
Please see this fork of your codepen where the problem you reported is mitigated.

https://codepen.io/cliffkoh-the-styleful/pen/LMrEad

[2019-01-07 19:44] #6684 closed

[2019-01-07 20:50] Vitalius1 commented on #7543
@joschect looks like #7487 is mentioned again in an issue. Can you take look into this and see if a regression was introduced by it? Thanks.

[2019-01-07 21:05] kkjeer commented on #7336
Thanks @joschect for confirming. Will close since this is by design.

[2019-01-07 21:05] #7336 closed

[2019-01-07 21:34] Vitalius1 commented on #7547
This is definitely not a question. It's a feature request from what it looks like. It feels like this is easily achievable with some flex-box styles and a prop and make sure the current look does not regress.
@betrue-final-final is the position of the label on a `Toggle` something we might want to have as an option? If so, in order to implement this, some redlines would be needed. Also, if introdu

[2019-01-07 21:39] Vitalius1 commented on #7544
@micahgodbolt is this something `Nav` component is planned to support?

[2019-01-07 21:54] joschect commented on #7543
Yes, this appears to be a regression. Should be an easy fix.

[2019-01-07 22:04] Vitalius1 commented on #7543
Would you be willing to look into it real quick as you already have context with the issue and the PR introduced it? Thanks!

[2019-01-07 22:16] kenotron commented on #7549
So, if this is installing OUFR straight from npmjs.org, the problem is likely how big our package is (7mb range). I would love to see more info about how long it takes to actually just DOWNLOAD vs INSTALL the package.

Say, where does it "hang for while" ? Are there other similarly large package you could try ( maybe try npm installing material-ui, or something?)

[2019-01-07 22:33] micahgodbolt commented on #7544
so, like a command bar? are we talking about changing the orientation of the nav? Do you have a visual example?

[2019-01-07 22:40] joschect commented on #7543
Yep! already looking at it!

[2019-01-07 23:00] ethanroday commented on #7549
When I use pnpm, the download does appear to take a while. I don't think it's because of my connection, though - I have ~10Mbps down. Installing `material-ui` with pnpm takes about 25 seconds for me. Yarn and npm are also about the same. This makes me think it might not just be a download size issue.

As to your question of where exactly it hangs, npm seems to do it during the extract phase. Here'

[2019-01-08 01:06] Vitalius1 commented on #7549
@kenotron is there anything actionable that can be done from the info provided above? It seems to me there needs to be done in-depth testing to actually know if it's an OUFR issue. The logs above are not pointing to any specific cause.

P.S. @ethanroday, for testing purposes I did try to create a blank project and ran `npm install --save office-ui-fabric-react` and it took me like 25 seconds at mo

[2019-01-08 01:13] atneik commented on #7473
@kenotron whats the reason to call `validateTextInput` when the Calendar popup is dismissed? We can't change text if the popup is open anyways as the focus is trapped in the popup. And I think we can rely on the fact that popup gives us correct date.
https://github.com/OfficeDev/office-ui-fabric-react/blob/9ae54921bc0b1cfb55001f53824acd813fadb49a/packages/office-ui-fabric-react/src/components/Date

[2019-01-08 01:15] atneik commented on #7473
Here is last merge https://github.com/OfficeDev/office-ui-fabric-react/pull/6999

[2019-01-08 01:38] ethanroday commented on #7549
@Vitalius1 I'm on MS network as well :)
Just tried on my home computer and have no repro there (it hangs a little, but it's possibly just the download), so maybe something wrong with my machine. Then again, I made sure all relevant caches (npm/Yarn/pnpm) were clear before testing.

[2019-01-08 01:39] brandonthomas opened #7555 "headerClassName isn't applied properly when using mergeStyles"
### Environment Information
current

### Please provide a reproduction of the bug in a codepen:
https://codepen.io/anon/pen/WLyGwP

#### Actual behavior:
 The column header on DetailsList doesn't respect styles passed through the headerClassName property when the class was created with mergeStyles

#### Expected behavior:
Styles applied through mergeStyles to the headerClassName property work as e

[2019-01-08 01:54] cliffkoh opened #7556 "Pickers do not conform to Fabric toolkit spec"
### Environment Information

N/A

### Please provide a reproduction of the bug in a codepen:

https://fabricweb.z5.web.core.windows.net/oufr/6.120.0/#/examples/pickers

#### Actual behavior:

![screen shot 2019-01-07 at 2 53 54 pm](https://user-images.githubusercontent.com/29514833/50798149-265f1e00-128c-11e9-8fa6-653db7f9f075.png)

#### Expected behavior:

![screen shot 2019-01-07 at 2 50 19 pm](

[2019-01-08 02:33] Vitalius1 commented on #7555
Thanks for an issue/PR submission 😄 ! If only all of the issues would come in pairs like that 🙄

[2019-01-08 02:35] kenotron commented on #7532
I'm struggling to figure how removing aria attributes or even the cache key thing could affect it like that...

[2019-01-08 05:57] dzearing commented on #6800
@aneeshack4 It seems that Panels which also are considered modal (I think there may be a setting to not make them modal though) are missing the aria-modal flag. Can you check?

[2019-01-08 06:12] piyumi25 opened #7558 "ComboBox input field is empty while dropdown is visible"
I need to show selected values when we selecting on each. normally it shows when focus out from the comboBox
![comboboxissue](https://user-images.githubusercontent.com/33615108/50812864-611f8f80-133a-11e9-84ea-a5ee9409175b.png)

[2019-01-08 08:30] chakradhar2 opened #7560 "For DetailList, when row is selected, narrator is not reading corresponding column headers along with the description of the table cells data"
**Issue :**  For DetailList, when row is selected, narrator is not reading corresponding column headers along with the description of the table cells data.
Suppose we have table like:

|Name | Value
|-- | --
|Item1 | 1
|Item2 | 2

#### Actual behavior:
If first row is selected, Currently it reads like: Item1 , 1 selected

#### Expected behavior:

 It should read row some thing like : Item1, Column

[2019-01-08 09:16] piyumi25 opened #7561 "Is there any option to load more than 50000 options in to dropdown?"
I need to load more than 50000 options to drop down. Is there any option to avoid getting stuck when load such huge options like virtualized combo box.

[2019-01-08 09:18] piyumi25 commented on #7558
normally when we focus out from the combobox the selected values are shown as comma separated string. I need to show when click on checkbox.

[2019-01-08 09:51] hamedy opened #7562 "Context menu sub-links don't expand on hover if all links have href"
got a fix for a bug I reported initially but found a new bug on the same component, case has been reopened but it's being ignored for some reason.

https://github.com/OfficeDev/office-ui-fabric-react/issues/7419

can we have a simple menu component that works? can I not be let down and disappointed by Microsoft for once in my life?

thanks,
Hamed

[2019-01-08 10:39] lijunle commented on #5326
@ecraig12345  @micahgodbolt

Hello, happy new year! I am going to continue working on this issue.

The idea is to pass a `onChange` prop callback to `SpinButton` component. The callback will be called with valid and normalized number value when input blurs or increase/decrease button clicks.

How do you think about this solution?

[2019-01-08 11:35] piyumi25 opened #7564 "Styles prop is not showing in Dropdown component?"
I am trying to use dropdown and I need to change the font family of label text. So I tried to use styles prop for that. but it shows following error.
Property 'styles' does not exist on type 'IntrinsicAttributes & IntrinsicClassAttributes<Dropdown> & Pick<Readonly<{ children?: ReactNode; }>

what should be the reason for this?

[2019-01-08 12:33] crazyfraggle opened #7565 "TextField: Underlined/multiline/borderless: borders appear and change field height in high contrast mode."
### Environment Information

- __Package version(s)__: >6.49.0 (all versions on fabric demo seems to be affected)
- __Browser and OS versions__: IE11/Edge in High Contrast mode

### Please provide a reproduction:

Can be seen on website when High Contrast mode is enabled.
https://fabricweb.z5.web.core.windows.net/oufr/6.119.0/#/examples/textfield

#### Actual behavior:

Underlined TextFields have

[2019-01-08 16:06] micahgodbolt commented on #5326
I'd defer to @jspurlin about the interface design, but it sounds fine to me.

[2019-01-08 16:17] micahgodbolt commented on #7544
Do you just mean multiple levels of nesting?
![image](https://user-images.githubusercontent.com/1434956/50843547-bef1ae80-131d-11e9-80f6-3c7ccf4fec6e.png)

If you have a visual mockup of what you want, that'd really help.

[2019-01-08 17:49] elegault commented on #5128
+1! I've had to code this and it wasn't easy. It's working reasonably well except for issues with the search textbox losing focus when I restore a previous selection after the filter changes to adjust for the list item's new index. So if the user wants to keep backspacing their search filter they have to stop after each key press and put the cursor back in the textbox. Setting focus on the element

[2019-01-08 18:51] Vitalius1 commented on #7556
@betrue-final-final @joschect
during some fixes on the `ActionButton` styles which are used in `PeoplePicker`, we discovered that the current height of the suggested items does not conform to the Fabric toolkit specs. The toolkit specifies a height of 44px when in fact we have 50px. The fix for the ActionButton supposes an addition of a 1px transparent border all around which will lead to a 2px wh

[2019-01-08 18:58] cliffkoh commented on #7556
I recommend for the fix to make the height independent of ActionButton (since I don't believe the original design considered that it will be implemented with an action button).

I.e. overwrite the ActionBorder border to be none where it is used in picker and then other fixes that set it to 44px.

[2019-01-08 19:06] Vitalius1 commented on #7543
@joschect any progress on this?

[2019-01-08 19:13] benkaiser commented on #7221
Thoughts @micahgodbolt ?

[2019-01-08 19:13] #7532 closed

[2019-01-08 19:22] micahgodbolt commented on #7221
If you'd like to work up a PR I'd be happy to review. I haven't had a chance to dig in and find something that works.

[2019-01-08 19:36] Efreeto commented on #7539
I will try to explain my full scenario so you can hopefully see why I
request this. I currently have a dialog to aid users with various search
parameters. There is one main search type, and depending on the
search selected via a dropdown I provide several UI components like text
field and check boxes (and hopefully radio buttons too), and these are all
in one dialog box. These components are quite

[2019-01-08 19:37] cliffkoh commented on #7558
@stanleyymsft do you know if there is a reason why we don't show the current set of options in the textbox when changing the selected options in multi-select ComboBox?

[2019-01-08 19:37] betrue-final-final commented on #6994
Have a PR out

[2019-01-08 19:39] betrue-final-final commented on #7547
I wouldn't do a text right or bottom option, but left would be ok. Top and left make sense because of our reading order. Right may make sense if you want to have all the toggles align that way. Aligning right would cause some reading issues with the label and the on/off text, and align bottom would cause confusion in a vertical list of toggles.

[2019-01-08 19:41] stanleyymsft commented on #7558
This is a simplification so we could get multi-select implemented quicker to unblock some projects.  When we show the intermediate selected items, we need to gracefully take care of the situation when the user directly click into the box and modify them, which will need some non-trivial work.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Cliff Koh <notificati

[2019-01-08 19:41] Vitalius1 commented on #7558
@piyumi25 @cliffkoh
I believe this is the intended behavior as `ComboBox` is allowing the user to start typing the options he wants to add to the multiselection.

[2019-01-08 19:42] cliffkoh commented on #7558
Thanks @stanleyymsft. Will mark this issue as a feature request.

[2019-01-08 19:43] #7303 closed

[2019-01-08 19:43] aditima opened #7570 "Fabric Website: Add support for versioned documentation"
We need to have the ability to select a specific Fabric release version and view documentation for that version, instead of just the latest.

This is an ask from SharePoint customers, tracked here: https://github.com/SharePoint/sp-dev-docs/issues/3217

[2019-01-08 20:38] Jahnp commented on #7570
Hey @aditima , I think #7269 has some more details for the work required. For the sake of tracking history, do you mind if we re-opened and renamed that issue to track this?

[2019-01-08 20:42] atneik opened #7571 "Typing is not proper in HoverCard/ExpandingCard component props"
Refer to conversation in #7513 and fix typing in HoverCard/ExpandingCard component props. The issue is targeting 7.0 release as the ideal fix will be a breaking change

Are you willing to submit a PR to fix? Yes
Requested priority: Normal

[2019-01-08 20:48] ethanroday commented on #7549
@Vitalius1 I tried your indexing fix but no luck, unfortunately.
Given the lack of a consistent repro I'll close this. If I ever figure out what it is, I'll comment here.

[2019-01-08 20:48] #7549 closed

[2019-01-08 22:33] micahgodbolt opened #7572 "Contextual Menu Section Headers not announced via narrator"
Not 100% sure how these should be announced, but needed to take a look at this for the bug below.

This can be reproed on our website.

@betrue-final-final any examples of other UI where narrator properly speaks section headers?

Internal work item
https://office.visualstudio.com/OC/_workitems/edit/2588494

[2019-01-08 22:34] khmakoto opened #7573 "Updating Foundation components to use tokens"
As part of the effort to provide styling of Fabric components, slots and tokens have been implemented as part of Foundation. All of the existing components using Foundation have been converted to use slots as part of this change. However, none of these components have been assessed on whether they should use tokens or not. Given this, all of these components need a pass to see whether or not they

[2019-01-08 23:40] Vitalius1 commented on #7560
@KevinTCoughlin @natalieethell
Through your accessibility pass with DetailsList, have you come across the issue described above? s this is even a valid issue? Can you enlighten us a little on what is expected to be announced from a reader in this case? Thanks!

@betrue-final-final is the author of the issue correct? When selecting a row the reader should announce each column? I just wonder what if

[2019-01-08 23:55] Vitalius1 commented on #7561
I honestly don't see a use of a `Dropdown` with so many items in it. Why not use the `VirtualizedComboBox` as seen on the `ComboBox` demo page, which will allow the user to type the option he is interested in instead of scrolling. I would hardly see a scenario where you would scroll to the 50000th item in a `Dropdown`.

Would you mind explaining your scenario so that maybe we can direct you to a m

[2019-01-09 00:04] Vitalius1 commented on #7562
@ecraig12345 do you mind looking into this as you already did the fix once and have more context? It looks like the author is still having issues in IE.

[2019-01-09 00:08] Vitalius1 commented on #7562
@hamedy I will close the issue as it seems it's remainings from the #7419 fix and @ecraig12345 already reopened it.

[2019-01-09 00:08] #7562 closed

[2019-01-09 00:09] #6872 closed

[2019-01-09 00:09] #6811 closed

[2019-01-09 00:09] #7514 closed

[2019-01-09 00:47] ericame commented on #6838
Could this change be the cause of why I see my .toolbar and .identity classes no longer working properly in this pen: https://codepen.io/anon/pen/VqBPwJ?editors=0110? This is after I upgraded from 6.90.0 to 6.121.0.

I have worked around the issue, but I'm curious what the correct way to adjust the height and background color would be.

[2019-01-09 02:02] Vitalius1 commented on #7572
@micahgodbolt we are currently skipping the Section Headers when using VoiceOver on Mac. Are you going to look yourself into this issue? If not, then to whom should I assign the issue? I don't not much experience with readers plus I don't have the environment setup on my machine (Mac) to use the narrator.

[2019-01-09 02:13] Vitalius1 commented on #7419
@ecraig12345 I closed #7562 for the reason that it refers to this reopened issue and the author felt like not getting traction in here.

Did you have a chance to look into what could be the reason this bug was not fixed by #7429 for IE?

[2019-01-09 02:17] ecraig12345 commented on #7419
Sorry about the delay, I just got back from vacation. I'll try and get the issue fixed this week.

[2019-01-09 02:21] Vitalius1 commented on #7565
I believe these changes were introduced in #3870 in pursuing to improve the HC styles for focus state for TextField, ComboBox, and Dropdown. Will dust off my Windows machine and see if I can take a look into what is the issue.

Meanwhile, @crazyfraggle, can you put in the description a couple screenshots with the TextField in HC so that our designers can take a look at whether we need to correct t

[2019-01-09 02:22] ecraig12345 commented on #7445
I think what Micah meant was that you should contact the makers of SortSite to better understand what you should do in this case to get their accessibility checker to pass.

[2019-01-09 02:33] ecraig12345 commented on #7416
Copying Micah's codepen link here since it's more relevant to this issue:
https://codepen.io/micahgodbolt/pen/RELxWW

At least to me, it seems like the codepen only shows part of the answer--what if you want to swap out the font face for *all font styles/sizes*, not just medium? Having to override the font for every style/size separately is a bit inconvenient.

[2019-01-09 02:37] ecraig12345 commented on #7417
@kirilligum Just to clarify, have the comments so far answered your original question? At least to me it seems like this issue's topic drifted and got combined with #7417 which is a bit different than what you asked at first.

[2019-01-09 02:43] ecraig12345 commented on #7439
`IButtonProps` is defined as extending `React.AllHTMLAttributes<HTMLAnchorElement | HTMLButtonElement | HTMLDivElement | BaseButton | Button>` so it's probably picking up the definition of `onClick` from there. But I agree that's not terribly clear from a website documentation standpoint.

@natalieethell This might be something to think about with the API extractor work--could we indicate certain

[2019-01-09 02:50] ecraig12345 commented on #7438
@tpanpalia Could you please see if the same issue reproduces on the [Fabric website](https://fabricweb.z5.web.core.windows.net/oufr/6.121.0/#/examples/detailslist/basic)? Or if it doesn't repro there, it would help if you can get a simple repro in a [codepen](http://aka.ms/fabricpen). (Sorry about not being more specific about that previously.)

[2019-01-09 03:33] Vitalius1 commented on #7564
@piyumi25, it would really help if you could provide a codepen with the issue you are facing. It might be very possible that you are not applying the prop correctly and a repro would help us catch that.

With that said here is a quick [codepen](https://codepen.io/vitalius1/pen/qLymyy) which should illustrate how to pass styles to label accompanying the Dropdown. If this answers your question feel

[2019-01-09 03:43] piyumi25 commented on #7561
thank you for your reply. I tried with virtualized combobox but I can not see the values in the text field when I am selecting multi select check boxes. I have to focus out to see the values. That is the issue I have when using virtualized combobox.

[2019-01-09 03:58] Vitalius1 commented on #7561
We looked a little into #7558 too. Apparently, this is not possible now. Moreover, I am interested now about your use case... so assuming you have a multi-select dropdown with 50000 options and the user starts to select let's say 20 of them. You would still not be able to see them all in the text field. Especially that in Dropdown you can not input from the keyboard. In ComboBox even if you would

[2019-01-09 04:12] piyumi25 commented on #7564
This is issue I got.
![dropdown](https://user-images.githubusercontent.com/33615108/50876395-d77fc880-13f2-11e9-94dc-5e033961eff9.png)

[2019-01-09 04:21] Vitalius1 commented on #7564
Wait... I don't get it from the screenshot. Are you passing anything to styles at all? Also, the way you are trying to style it through `style` not `styles` I don't think it will work.

Anyway, I hope you see now the value of having a repro in codepen so that we can play around with it and see what is that you are doing wrong. Does the codepen I provided solves your issue with label styling?

[2019-01-09 04:35] micahgodbolt commented on #6838
all of the styles are on root, so height, bg color etc would be applied there. The only thing you'd put on the outermost wrapper would be layout styles, though I wouldn't recommend changing display to anything other than block due to the way that resize group works.

[2019-01-09 04:47] piyumi25 commented on #7564
my issue is when I am trying to use styles it shows an error.

[2019-01-09 04:52] NigelWit commented on #3722
Hard to believe this is still an issue - major problem with the Fabric components is the lack of validation routines and different methods/properties for implementing them (e.g. TextBox - 'required' property, DatePicker - 'isRequired' property).

Please, can we get all controls to have validation hooks AND examples of how to use them

Thanks!

[2019-01-09 04:54] lijunle commented on #5326
It will trigger the `onChange` too.

When start to spin button, the input box blur events happens and trigger the `onChange` callback.

Yes. The usage of this callback is to `setState` in the parent component to make the component controlled. The current `SpinButton` is completely [uncontrolled](https://reactjs.org/docs/uncontrolled-components.html).

The name `onValidValueUpdated` is fine. I can

[2019-01-09 05:01] Vitalius1 commented on #7564
Hmmm... what is the Fabric version you are using? Also, what is the TypeScript version? (again, this questions should not be happening if the issue template is filled with all the necessary info).

[2019-01-09 05:50] shahprashant1990 commented on #7544
I need orientation of collapse/expand as below image and user can experience left/right collapse/expand functionality.

![output_pk2dgm](https://user-images.githubusercontent.com/40460701/50879178-051f3e80-1400-11e9-9f33-2358049f9799.gif)

But in Navigation component there is no feasibility to have left/right collapse/expand functionality. Kindly see below image & URL for same:

![output_q1zllu](h

[2019-01-09 07:03] lijunle commented on #5326
@jspurlin @micahgodbolt @ecraig12345

I implemented the first version of the callback in #7577 . A new example is added. Could you please help to review it?

I could like to write some unit test for it. What spec should we want? Here is my thoughts:

[2019-01-09 08:16] criticalbyte opened #7579 "Controlled multi-select ComboBox not working properly"
### Environment Information

- __Package version(s)__: 6.121.0
- __Browser and OS versions__: All browsers, Windows

### Please provide a reproduction of the bug in a codepen:

 See https://codepen.io/criticalbyte/full/NeBXRB

#### Actual behavior:

1. Controlled multi select ComboBox won't allow you to select multiple options using your mouse.
2. After deselecting the checked option, strangely so

[2019-01-09 09:56] IvanTurashov opened #7580 "SetState in MaskedTextFields moves focus between fields in IE and breakes Edge's tab"
### Environment Information

- __Package version(s)__: 6.121.0
- __Browser and OS versions__: Edge 17, IE11, Windows 10

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/IvanTurashov/pen/gZGdzW?editors=1010

#### Actual behavior:

 IE 11:
- I fill part of first field
- I fill part of second field. All is ok
- I return to first and start continue input
- First symbol i

[2019-01-09 11:07] crazyfraggle commented on #7565
@Vitalius1 Added screenshots.

[2019-01-09 11:34] jeremy-coleman opened #7581 "improve production bundle size"
I can fix this in a day or two, will you use it if i fix it? so tired of dealing with countless issues related to packaging.
![image](https://user-images.githubusercontent.com/25135855/50896720-f45ad280-13d7-11e9-845f-9489966d6f5b.png)

[2019-01-09 11:36] jeremy-coleman commented on #7581
252kb gzippd app , in all its glory
![image](https://user-images.githubusercontent.com/25135855/50896984-c2963b80-13d8-11e9-92b3-a9f47ace957c.png)

[2019-01-09 15:45] betrue-final-final commented on #7560
No, it should not read all of the columns, that would make it very hard to get through a list. There should be a shorthand readout. In OneDrive, for example, we read the name, file type, date modified and modified by. For a generic list, we could default to just the first column value, but it would be good to enable people to set more like we do in OneDrive.

[2019-01-09 16:31] nikhilpuria opened #7582 "CommandBar: componentRefs get wiped out when resizing/re-rendering"
I am trying to use Calendar component with a Callout inside a Commandbar. By default the Calendar component does not auto close on selection and for that reason I call the dismissMenu() function on onSelectDate() of Calendar. But there is some issue around the setting of the ref. Its gets set only once and the second time it comes as null. If I give a unique key to the CommandBar (i.e force react

[2019-01-09 16:45] Vitalius1 commented on #7581
@kenotron this would be right about in your garden 😄

@dzearing @cliffkoh FYI

[2019-01-09 16:55] betrue-final-final commented on #7556
I would try and align with the toolkit if possible.

[2019-01-09 17:47] Vitalius1 commented on #7558
@micahgodbolt this feels like a dupe of #6084. I will let you decide which one needs to be closed in favor of the other one. If you decide to leave 6084 and close this one, judging from Stanley's answer this should be labeled as a feature was not implemented when multi-select was introduced.

[2019-01-09 17:54] Vitalius1 commented on #7579
@ecraig12345 seems like it's related to #6030 epic issue. Should we consider closing this issue due to the upcoming refactor of ComboBox/Dropdown? Or if you want we can keep it open and assign it to you.

[2019-01-09 18:00] #7481 closed

[2019-01-09 18:00] #6505 closed

[2019-01-09 18:00] #6393 closed

[2019-01-09 18:38] natalieethell commented on #7560
I believe this issue is more asking about column **header** readout than just cell value readout. Right now, when a row is focused, the screen reader reads out all cell **values** in that row. So, for this more advanced example, the following is read out

**accdb file icon, Loremipsum.accdb, 5/23/2017, Lorem Ipsum, 39 KB**

This is the icon name, file name, date modified, modified by, and file siz

[2019-01-09 18:39] dzearing commented on #7581
@jeremy-coleman We need more info on your repro. I assure you we don't use jQuery. :)

For example, I just ran create-react-app (which now has webpack 4), and did what you did:

![image](https://user-images.githubusercontent.com/1110944/50920513-6cd28b00-13fa-11e9-89f0-ed18e8cf49f3.png)

I believe the first import extra bytes are due to scss (side effects files) not getting tree shaken.

Do you ha

[2019-01-09 18:43] dzearing commented on #7581
I also compared actual file build output:

Without any references, raw create-react-app:

34.71 KB  build/static/js/1.fa92c112.chunk.js
  763 B     build/static/js/runtime~main.229c360f.js
  716 B     build/static/js/main.afe6f131.chunk.js
  512 B     build/static/css/main.7875265d.chunk.css

With `mergeStyleSets` usage from `'office-ui-fabric-react'` import:

  47.85 KB  build/static/js/1.44535d0

[2019-01-09 18:45] dzearing commented on #7581
Can you also clarify what you'd like to fix? Fixes always welcome but if you provide more information, maybe we can offer more feedback on if the approach makes sense to us as well.

[2019-01-09 18:53] ericame commented on #6838
I think I'm a little confused. When you say you would apply the styles to the root, does that meant there's a property to do so or I would just use the root class name?

[2019-01-09 19:21] dzearing commented on #7582
I debugged into this, and found the culprit. @christiango for visability.

In your codepen, you're calling this.setState({}), which causes new items to be created and passed into the CommandBar. I debugged that just re-rendering your content component would cause the ref to become invalidated with a *new* button ref, and then it would clear it out with null.

Here's why!

The CommandBar interprets

[2019-01-09 19:37] ethanroday opened #7585 "Feature request: Automatically set button state colors"
**EDIT**: I should clarify that these screenshots are from the Fluent UI experiment, but the overall question still stands.

-------------------

Sometimes you need a one-off button that has a color outside of your main theme.
It would be great if there was an easy way to set the color for the default button state and have all of the other colors set automatically. As such, if I have the following

[2019-01-09 20:03] dzearing commented on #7582
Micah and I prototyped #2. Overall it would fix some, but not all, scenarios where componentRef could be used. For example, buttons can have menu items, which each might have sub sub sub menus, which may have items that have componentRefs to things rendered in the ResizeGroup.

So, I think we need to question if ResizeGroup really needs the "offscreen" render, or if so, is there any  contextual wa

[2019-01-09 20:04] dzearing commented on #7582
What if we did all our rendering onscreen to avoid redundant rendering? would there be flicker?

Would IntersectionObserver help here?

[2019-01-09 20:30] jeremy-coleman commented on #7581
the screen shots i posted was just that single file, the only difference being react-scripts-ts version

I was comparing a few actually,roughly formatted as library(total)
35kb base
mobx - 20kb gzip (55kb)
rxjs 10kb (46kb)
undux 12kb (42kb)
typestyle 4kb(39kb)
redux / react-connect 6kb(41kb)
@emotion/styled - 9kb(44kb)
glamor-jss +20kb wtf
@material/styles (using styled only, no actual styles) - 1

[2019-01-09 20:43] ethanroday commented on #7585
Fluent UI as in: https://fluentfabric.azurewebsites.net/#/overview
`ColorClassNames` is a set of class names that I found sort of by accident. The classes define text color, background color, and border color on both default and hover states.

[2019-01-09 20:50] christiango commented on #7582
I do believe we were seeing a flicker on older browsers when doing the measurement on screen, but Micah was the first one to experiment with off screen rendering, so he might know more details.

With respect to your question David, ResizeGroup doesn't measure individual buttons, it measures the width of the entire group of buttons.

[2019-01-09 20:52] Vitalius1 commented on #7561
@ecraig12345 as part of the `ComboBox` and `Dropdown` consolidation should this be a feature to add support in `Dropdown` as we have today in `VirtualizedComboBox`?

[2019-01-09 20:56] Vitalius1 commented on #7561
Even though as @betrue-final-final mentioned that Dropdown should not be used with that many items. Because inherently a dropdown is not supposed to give you the ability to type but instead scroll and select, I don't see much value of having a virtualized list of options in here. Correct me if I am wrong.

[2019-01-09 21:08] JasonGore commented on #7585
I'm seeing a couple of different asks here:
1. Components should be able to take in one color and derive the others.
    * For example, hover should be equal to a slightly darker shade of default. (At least that's how I interpret this request.)
    * This doesn't have anything to do with Slots. It's basically saying components should develop a relation between colors that isn't in place now. Howev

[2019-01-09 21:16] micahgodbolt commented on #6838
`<CommandBar styles={{root: {height: 20}}} />`

[2019-01-09 21:20] micahgodbolt commented on #7558
yes, I think it's similar. This one appears to be a bit more fully fleshed out. Be sure to reach out to 6084 author just to make sure.

[2019-01-09 21:31] micahgodbolt commented on #7582
Is there a way to clone the current DOM (excluding refs) and display that while the original control resizes? No clue how technically possible that is, but it'd be a different way to approach the problem.

[2019-01-09 21:32] Jahnp commented on #7269
After some discussion, we're plan to add support for versioned documentation on the Fabric website. In the beginning, this will allow you to switch between docs for the latest v5 and v6 releases. We'll shoot to have this ready in February.

[2019-01-09 21:35] Jahnp commented on #7570
You bet! Done and done. Closing this for now. Thanks @aditima !

[2019-01-09 21:35] #7570 closed

[2019-01-09 21:37] christiango commented on #7582
We can do it outside of react

[2019-01-09 21:45] christiango commented on #7582
Sorry, I accidentally closed this. I think we would have to go outside React to do the kind of thing you are suggesting.

[2019-01-09 21:55] Vitalius1 commented on #7561
@piyumi25 https://codepen.io/vitalius1/pen/BvOojj here is something that might interest you. You would have to extend from BasePicker though and create your own picker. I used TagPicker for a quick demo what can be done with pickers and a lot of items to chose from.

[2019-01-09 22:20] dzearing commented on #7419
@hamedy So sorry for the inconvenience! We're bumping the priority of this up to try and get you something quickly.

[2019-01-09 22:23] ecraig12345 commented on #7444
Was just talking to David about this and he suggested that instead of adding a new alias, we update the default postinstall script to build up to experiments instead of office-ui-fabric-react. Thoughts? (This would also fix #7454.)

[2019-01-09 22:30] ecraig12345 commented on #7438
@KevinTCoughlin David thought I should bring this to your attention since you've worked a lot on DetailsList. Does this sound familiar?

[2019-01-09 23:01] atneik commented on #7469
@betrue-final-final

[2019-01-09 23:01] Vitalius1 commented on #7585
@ethanroday I completely forgot about the `@uifabric/styling` package you are using in this example. I believe it is meant to port in TS everything Fabric Core is having in SASS.

As Jason said, it's somewhat incorrect to expect from specifying `redBackground` for the default state to automatically set a color for the hover state. What if someone decides to have for the hover state `redBackgroundH

[2019-01-09 23:05] Vitalius1 commented on #6084
@petercutting closing this issue in favor of #7558 which is a duplicate of yours but has a little bit more fresh info and discussion from the developer who implemented the multi-select feature in `ComboBox`.

[2019-01-09 23:05] #6084 closed

[2019-01-09 23:07] #7543 closed

[2019-01-09 23:13] mikewheaton commented on #7585
I believe these were added to be equivalent to [Fabric Core's color classes](https://github.com/OfficeDev/office-ui-fabric-core/blob/master/src/sass/_Color.scss), which target only `color` and `background-color` (with a hover variant for each).

[2019-01-09 23:20] Vitalius1 commented on #7585
Were there any plans or discussions on whether add or not add other states (focus/active)? It also has covered the `border-color`.

[2019-01-09 23:34] brandonthomas commented on #7555
**Additional Context:**
This bug is due to the fact that mergeStyles memoizes not just input but caches results and class names. When it sees a class name that it has already processed it will grab the rules from that and merge them with other styles it sees that aren't just class string names and spit out a single className. This is an issue here because headerClassName isn't passed in last and a

[2019-01-09 23:36] ecraig12345 commented on #7444
IIRC `npm start` doesn't work after the default build because foundation and/or experiments hasn't been built...if that's correct, the first run experience is already broken. (Verifying right now.)

[2019-01-09 23:38] goodoldneon commented on #7525
Wow, I can't believe I made that mistake. Now I need review more code to see where else I thought `sort()` returned a new array...

Thanks for your help!

[2019-01-09 23:38] mikewheaton commented on #7585
No, there weren't any plans for focus/active classes.

[2019-01-09 23:51] ecraig12345 commented on #7579
The codepen is copied from the multi-select part of `ComboBox.Controlled.Example.tsx`, and it's possible that the bug is fully/partially due to the example code...in which case we should fix the example. :) It's also quite possible that both the example and the ComboBox itself have bugs. Either way I think it's worth keeping open as a separate issue for the time being.

[2019-01-09 23:55] ecraig12345 commented on #7444
Hmm never mind it does work...maybe I was thinking of npm start in experiments? Regardless, I don't think the impact of building to experiments is that bad--it's only two additional packages.

[2019-01-10 00:01] cliffkoh commented on #7525
Please feel free to close the issue :)

Thanks for creating a codepen which helped me help you.

[2019-01-10 00:02] #7525 closed

[2019-01-10 00:05] Vitalius1 commented on #7585
@dzearing @phkuo as package owners... is this something we would want to add? (meaning some additional states (focus and active) for each `ColorClassName`). I think this can quickly get out of control if taking into consideration how many variations should be added. At the same time, this is the equivalent of the ones we have in Fabric Core and it would be expected to add them there too for making

[2019-01-10 00:08] Vitalius1 commented on #7579
As you are already looking into ComboBox refactor/rewrite/merge with Dropdown, would you mind having this issue assigned to you?

[2019-01-10 00:38] Vitalius1 commented on #7544
@shahprashant1990 I am still confused by your demo what is the exact visual representation of what you are trying to achieve.

Could [this](https://gyazo.com/0da2111d773f9db8ada84c907f96392e) be of a better representation of what you are looking for?
![2019-01-09 16 31 14](https://user-images.githubusercontent.com/29514833/50938375-c5bb1700-142c-11e9-95bb-3ac43c11ea09.gif)

[2019-01-10 00:40] xyz92 opened #7590 "Fetch values from textfields in order on button click?"
I have a UI as follows:

[![!\[enter image description here][1]][1]

The fields are coming from an API call response. The number of fields coming from API response can vary. In the image, it is 3. It can vary. Please see my code in:

https://codepen.io/lipalath/pen/dwqNXr

On clicking OK button, how do I get values from textboxes in order such that textbox1 value is for Name, textbox2 value is for

[2019-01-10 00:45] cliffkoh commented on #7444
Would you be able to get actual timings to quantify the exact impact? We need this data anyway if we're doing it so we're completely eyes open on the trade off/impact/side effects.

[2019-01-10 00:46] #7505 closed

[2019-01-10 00:48] cliffkoh commented on #7556
@Vitalius1 would you be able to create a PR for this? :)

[2019-01-10 01:30] ParadimeWeb commented on #5643
It also does this with a DropDown and probably other components.

[2019-01-10 01:35] ParadimeWeb commented on #5643
OK, well this is breaking issue.
I added a controlled TextField to my codepen. Everytime you type in the field, you lose focus because it goes to the picker..!

https://codepen.io/paradimeweb/pen/eLzpxR

[2019-01-10 02:00] #7504 closed

[2019-01-10 02:09] Vitalius1 commented on #7556
Yes. I am looking into something else and this one is next on my radar. Most likely tomorrow.

[2019-01-10 02:45] dzearing commented on #7581
Hmm. 255k still sounds really way way off for the *entire* library. Are you using the latest webpack (4 or greater)? If you import a single component webpack 4 should tree shake out unused non side-effect things.

Can you share a project? It would be extremely helpful.

I am not sure what you mean "same patch" and how that would affect bundle size.

Path based imports are a bad idea, as they mean

[2019-01-10 02:51] dzearing commented on #7581
FWIW, using current create-react-app, i modified the root index file and did this:

[code]

So exporting the *entire* library, every single component, would be ~252 KB (minus 34.71 KB) = 218k total.

252.86 KB (+205.01 KB)  build/static/js/1.687d7d43.chunk.js
  4.57 KB (+3.83 KB)      build/static/js/main.d2c5082f.chunk.js
  763 B                   build/static/js/runtime~main.229c360f.js
  510 B

[2019-01-10 03:02] ecraig12345 commented on #7579
That's fine for now, though it's possible I'll be moving to different work soon and won't actually be the one to do the refactor.

[2019-01-10 03:11] Vitalius1 commented on #7579
@criticalbyte there is some major work planned to do with ComboBox in the nearest future. We apologize for the inconvenience and we expect this bug to be fixed with that work, but it might take some time. Have you tried using Dropdown multi-select?

[2019-01-10 03:15] dzearing commented on #7581
I also have a breakdown of that 218k of what that includes:

https://codepen.io/dzearing/full/XoPRxg

The numbers are estimates and module concatenation optimization is disabled so that you can see the module impact.

[2019-01-10 03:18] kenotron commented on #7581
@jeremy-coleman mentioned to move to rollup - perhaps it would be easier to upgrade webpack rather than switch to another bundler?

[2019-01-10 03:55] ecraig12345 commented on #7419
Got it I think...see #7592. The easiest way to verify the fix is using the "ContextualMenu with submenus" example from the demo site once it's deployed.

[2019-01-10 04:00] #5660 closed

[2019-01-10 04:04] dzearing commented on #5643
All it takes is a re-render to move the focus back. @joschect this is indeed a breaking bug. I am digging in as well, but we need to fix this asap.

[2019-01-10 04:12] dzearing commented on #5643
Culprit is in componentWillReceiveProps. there is no reason to be stealing focus ever here!

BasePicker.tsx (see `this.resetFocus(focusIndex)`):
[code]

[2019-01-10 04:15] dzearing commented on #5643
Oh looks like it was fixed 5 hours ago.

https://github.com/OfficeDev/office-ui-fabric-react/commit/aab8f62851d91184b3c2ac7758dae2bc822e40bb

[2019-01-10 04:16] dzearing commented on #5643
PR here: https://github.com/OfficeDev/office-ui-fabric-react/pull/7587

[2019-01-10 04:48] jeremy-coleman commented on #7581
https://github.com/jeremy-coleman/mui-fab-demo/tree/mui-bundle-size

[2019-01-10 05:11] jeremy-coleman commented on #7581
imo rollup is better for consumable libs , especially ones written in typescript, because the output is readable in a nice single file with all of your named exports. also webpack doesn't do so well with export * which is everywhere in all the repos

also since you're using rush / pnpm , you likely won't have duplicate bundles , but that doesn't mean yarn and npm consumers wont - thats why putting

[2019-01-10 05:14] dzearing commented on #7581
Your project is using webpack 3, as it was created with an old create-react-app. If you use the latest create-react-app to rescaffold, you'll be able to see significantly different results.

`npm init react-app mui-bundle-size`

[2019-01-10 05:16] dzearing commented on #7581
Also thank you for the config for rollup, I'll give it a try. The last time I used it was back in 2016 when it would throw exceptions when hitting certain typescript statements.

[2019-01-10 05:52] ParadimeWeb commented on #5643
Tested and works now with v6.123.0

Thanks

[2019-01-10 06:00] #7564 closed

[2019-01-10 06:03] cliffkoh commented on #7555
Or specifically, if I were to reword your description a bit, `mergeStyles` expands class names that it generates and merges individual style properties.

It doesn't do this with non-mergeStyles classnames... simply because it doesn't know what styles those classNames expands into and hence just preserves those literal classnames.

[2019-01-10 06:33] jeremy-coleman commented on #7581
are you sure?that's the vnext of react-scripts-ts (has webpack dependency of 4.19.1 in its package.json) the bundled 3.x is workbox (the worker generator plugin)

[2019-01-10 06:44] jeremy-coleman commented on #7581
oh also a single repo lets you find stuff like this easily

![image](https://user-images.githubusercontent.com/25135855/50950836-3ee05b80-1479-11e9-857f-1a0ba28872c2.png)

[2019-01-10 07:09] lijunle commented on #5326
I could say the `onValidValueUpdated` is a quick fix to let the parent component to *align* with new validated/normalized value. The change does not turn the SpinButton to be controlled, but it is still very helpful.

For the long term, I am thinking about what is the properly controlled SpinButton behavior. I think we need to distinguish SpinButton into two modes - controlled and uncontrolled.

I

[2019-01-10 07:09] michaelmaillot commented on #7054
Hi @kurtnelle,

I tried @cliffkoh solution but the errors still appear.

The only solution I've found is to use the lts version (5.134.0) that comes with @uifabric/merge-styles 6.8.1.

[2019-01-10 08:03] jeremy-coleman commented on #7581
threw this together , bedtime now.  bundles foundation, merge stylese, set-version, styling, utilities, and variants, prob around 15k gzipped for all, and a single .d.ts for easy type reworking

will get the main repo bundled tomorrow

https://github.com/jeremy-coleman/mui-fab-demo/tree/office-ui-repo-work-sample

[2019-01-10 08:15] cliffkoh commented on #7054
There are multiple things that could be at play that explains why the errors still occur. In theory it shouldn't just because 6.8.1 doesn't have the offending TypeScript code that forces TypeScript 2.8.2, so it could be instead due to a variety of other factors (which would necessitate looking at the NPM/node modules tree to figure out of there was another version of merge-styles being loaded inst

[2019-01-10 08:19] raveenone commented on #6657
This issue is occurring on the All test plans page for AzureDevOps, any information around when this would get fixed or any workarounds would be greatly appreciated.

One thing we noticed was that this issue does not happen only on chrome but only on firefox and edge.

![image](https://user-images.githubusercontent.com/43638318/50955221-8e0ca780-14de-11e9-8ade-2f2744eb527f.png)

[2019-01-10 08:59] hamedy commented on #7419
@ecraig12345  excellent! I see the merging got blocked. Could you please follow this up until we get it published as quickly as possible?

thank you :)

[2019-01-10 09:53] cliffkoh commented on #7555
@brandonthomas BTW FWIW, it is more idiomatic to directly pass your custom styles into the `styles` property of the component in question that you're customizing rather than pass in a class name. We would nevertheless definitely want to pursue the fix you made.

But I notice this property is in DetailsColumn and I'm not sure if the styles property is exposed/reachable (not that intimately familiar

[2019-01-10 10:31] lijunle commented on #5326
BTW, the current implementation does not handle correctly on the situation that a parent is passing an invalid value. `SpinButton`'s constructor *assumes* the `value` is valid and assigned to `_lastValidValue`. but the `value` *may* be invalid.

https://github.com/OfficeDev/office-ui-fabric-react/blob/d3baf56050d036612bdb6a600b6ca6fbe4516ca6/packages/office-ui-fabric-react/src/components/SpinButto

[2019-01-10 11:19] redoz opened #7593 "TextField autocomplete attribute values list not complete."
**Describe the feature that you would like added**
The TextField autocomplete attribute only accepts 'on' or 'off', but that isn't the complete list:
https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/autocomplete#Values
https://html.spec.whatwg.org/multipage/form-control-infrastructure.html#autofill

**What component or utility would this be added to**
TextField

**Have you discussed th

[2019-01-10 11:41] redoz commented on #7593
After reading the spec further I think the only way to support this is to just change it to `string`.

[2019-01-10 13:59] tpanpalia commented on #7438
Behavior without JAWS -
Right arrow key to navigate through different grid headers, down arrow to navigate to each row and right arrow key to navigate through accessible column elements.

Behavior with JAWS -
Following the above steps (Behavior without JAWS), JAWS is unable to read.
Note : Navigation through down arrow key, JAWS is able to read.

We observed the same behavior in https://developer.

[2019-01-10 16:08] alex3683 opened #7596 "PeoplePicker: Can still delete selected people although disabled"
### Environment Information

- __Package version(s)__: 6.122.0
- __Browser and OS versions__: latest Chrome / Firefox (probably irrelevant)

### Please provide a reproduction of the bug in a codepen:

https://codepen.io/anon/pen/gZdVyv?editors=0010

Just toggle it to disabled and try to delete a selected person.

#### Actual behavior:

When the PeoplePicker is disabled, no new people can be added,

[2019-01-10 16:32] micahgodbolt commented on #6657
@raveenone are those panels where you have the details list, or some other container? We're trying to determine why this control is working in isolation, but fails under given scenarios.

[2019-01-10 16:36] micahgodbolt opened #7597 "New Component: Tree"
## Component Details

## Needed By
Sharepoint/Onedrive

## Scenario it is used in

### Imports

### Exports/ Component Breakdown

### Intended Package

### Code mockup/example

__Code Sample__

[code]

__Types__

| Name      | Type     | Default Value | Description |
|-----------|----------|---------------|-------------|
| className | string   |               | Optional class name to be added to t

[2019-01-10 16:41] micahgodbolt commented on #7597
Blocked until we're happy with collapsible section

[2019-01-10 16:46] micahgodbolt opened #7598 "Calendar: Cherry pick restricted dates to date-time package calendar"
#7509

[2019-01-10 17:02] xyz92 commented on #7590
@Vitalius1 Thank you so much! What version of office ui fabric are you using? I see error on componentRef:

![untitled](https://user-images.githubusercontent.com/6519992/50984147-fb581280-14b5-11e9-935d-dffe3371b3bf.jpg)

I wonder if this because I'm using a lower version of office ui fabric. I'm using 5.124.0. Please let me know what version you are using.

Also where should I import IRefObject f

[2019-01-10 17:07] micahgodbolt opened #7599 "Calendar: Port Year picking to date-time package"

[2019-01-10 19:21] #7555 closed

[2019-01-10 19:24] tabrumle opened #7601 "Facepile: maxDisplayablePersonas doesn't accept 0 as a value"
### Please provide a reproduction of the bug in a codepen:

https://codepen.io/tabrumle/pen/Vqxodx

#### Actual behavior:

Passing in 0 to maxDisplayablePersonas returns a facepile with all the personas rendered as coins

#### Expected behavior:

Passing in 0 to maxDisplayablePersonas returns a Facepile with no personas. This case could be used for scaling logic when the browser is shrunk and we w

[2019-01-10 19:33] dzearing commented on #7482
@shagra-ms just a heads up here; probably we want to add `AutoScroll` for draggable columns.

[2019-01-10 19:44] #7279 closed

[2019-01-10 20:01] KevinTCoughlin commented on #7438
I'm unsure what the difference between JAWS and Narrator are here.

Currently, DetailsList's column headers are read aloud by Narrator in Edge:

[code]

And DetailsList's rows including grid cell content are read aloud by Narrator in Edge when using `UP/DOWN`:

[code]

Regarding the following:

As far as I know, granular selection of cell contents isn't possible. But the entire row's contents are

[2019-01-10 20:20] canmenekse opened #7604 "DetailsList-Grouped Focus not Working Properly After Selecting ShowAll With Keyboard or Mouse"
### Environment Information

- Package version(s) : 6.124.0 probably, as of now it uses the one that is pointed by unpkg.com, hence [//unpkg.com/office-ui-fabric-react/dist/office-ui-fabric-react.min.js](//unpkg.com/office-ui-fabric-react/dist/office-ui-fabric-react.min.js)
- Browser and OS versions:  Happens both in Chrome & Edge

### Please provide a reproduction of the bug in a codepen:
 https:

[2019-01-10 20:35] dzearing commented on #7581
https://codepen.io/dzearing/pen/WLaxap

the selector ".ms-DocumentCard-details" does not need to be wrapped in a :global as it's already a global selector.

[code]

[2019-01-10 20:58] #6315 closed

[2019-01-10 21:12] jeremy-coleman commented on #7581
so im using a script to convert the existing scss to mergeStyles, and using the document card styles as a test

put it up here
https://github.com/jeremy-coleman/ui-fabric-style-converter

scss
[code]

to css
[code]

[2019-01-10 21:55] #6994 closed

[2019-01-10 21:59] betrue-final-final commented on #7572
That's a tricky question I've been trying to figure out. In scan mode they will be read on normal down arrow navigation probably as a menu item, which is incorrect. Out of scan mode it will be skipped.
I wonder if the first item in the section can be "<name>, menu item, first item in <section name> section"?

[2019-01-10 22:29] soorajcodehub opened #7606 "Panel height has probably regressed"
### Bug Report

    "office-ui-fabric-react": "6.117.1",
chrome (all)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low)  Normal

Products/sites affected: (if applicable)
SharePoint

#### Describe the issue:
All panel have height issues.
![image](https://user-images.githubu

[2019-01-10 22:50] natalieethell commented on #7416
That PR is merged.

[2019-01-10 23:14] Vitalius1 commented on #7590
@xyz92 I did take a look and can confirm because you are on 5.124.0 is the reason why you can not use the componentRef the same way I did. And for the same reason, you can not import `IRefObject` as it didn't exist in that version.

Is there anything stopping you from upgrading to the latest Fabric 6 which is 6.124.0 as of today? The example I provided you is using this version.

[2019-01-10 23:19] benkaiser commented on #7221
@micahgodbolt PR created. Looks like we also need the scrollable property set to false on the example.

[2019-01-10 23:40] Vitalius1 commented on #7601
@tabrumle
Thanks for filing the issue. I see you are willing to submit a PR in fixing this. Thanks for that too. Let us know if you need any help.

[2019-01-10 23:46] PerthCharern commented on #7434
We are running to this as well. Also, when we have a Pivot inside a Dialog, we can't even tab to the first tab. @micahgodbolt Any plans to change the tabbing behavior above?

[2019-01-10 23:49] micahgodbolt commented on #7434
Pivots are part of a focus zone, they (like other types of navigation) are accessed through arrow keys once tabbing lands you inside of the pivot control. We don't have any plan to change that behavior, as we don't consider it a bug.

As for pivots inside of Dialogs, do you have a codepen repro of that issue?

[2019-01-11 00:03] #7221 closed

[2019-01-11 00:40] dzearing opened #7609 "FocusZone: restore focus when focused item is removed."
FocusZone is highly useful for tracking focus for menus and lists of items, using arrows.

Sometimes, those items can be removed. For example, in OneDrive, you might delete a file, which should set focus to the next item.

When this happens, focus moves to document.body (basically into the ether.)

Instead what should happen is that if the FocusZone currently retains focus, it should monitor re-re

[2019-01-11 01:21] Vitalius1 commented on #7604
@cliffkoh do you know why this issue was not labeled and assigned to me by the Fabric bot? just as FYI.

@dzearing Is this related to #7609 or this looks like a little bit different?

[2019-01-11 01:55] xyz92 commented on #7590
@Vitalius1 Thank you so much! I don't see error after upgrade. One more question about the code. Is there a way to know which value belongs to which field? For example, push both field_name and field_value into inputValues array? –

[2019-01-11 03:49] dzearing commented on #7604
Well... I'm unsure if the FocusZone changes would address this, but I think it would. I can probably test this codepen once the FocusZone issue is addressed and get a better idea.

I will assign to myself and once the other bug fix is complete, run through this to double check.

[2019-01-11 04:08] ecraig12345 commented on #7419
The new test I tried to write was broken. It's fixed now, so I'm just waiting on someone to approve the new screener (visual test) states.

[2019-01-11 04:21] dzearing commented on #7419
I'd like to close this once we hear from @hamedy that we are good.

[2019-01-11 04:22] dzearing commented on #7419
Kicking off a publish right now.

[2019-01-11 04:43] piyumi25 opened #7611 "Can I focus out from the combobox using code?"
I need to focus out from the combobox in the onMenuDismiss event. Is it possible to do it?

[2019-01-11 04:51] Vitalius1 commented on #7590
@xyz92 I updated the https://codepen.io/vitalius1/pen/OroprE. You can find a good start in there for what you are looking for but keep in mind that is something I quickly tried to demo and should not be taken as a final solution for production code 🙄 . Feel free to close the issue if it solves your scenario.

[2019-01-11 05:05] Vitalius1 commented on #7611
Can you elaborate more your scenario? Maybe even provide a codepen ([starter codepen](https://codepen.io/vitalius1/pen/PXyOeq)). It's really hard to help you if you don't provide enough context. Thanks!

[2019-01-11 05:06] dzearing commented on #7606
@kkjeer One person's bug is another person's feature :) Could you take a look and see if we need to revert? or, is there something we could help instruct here?

@soorajcodehub you cut the browser off in your screenshots, which browser/platform?

[2019-01-11 05:09] dzearing commented on #7582
I had thought about potentially using renderToString.. but I think that would bloat bundle sizes.

I suspect that the solution of filtering out componentRef for offscreen renders might be just good enough. We aren't rendering button menus or anything, so those would not be evaluated.

[2019-01-11 05:10] dzearing commented on #7582
@micahgodbolt or @christiango wanna take a stab here? I'm going to try and fix the focuszone focus restore issue.

[2019-01-11 05:10] soorajcodehub commented on #7606
It was chrome on windows

On Thu, Jan 10, 2019 at 9:06 PM David Zearing <notifications@github.com>
wrote:

[2019-01-11 05:11] dzearing commented on #7606
@soorajcodehub thank you. We will get a fix out asap once people are in the office in the morning.

[2019-01-11 05:14] dzearing commented on #7419
@hamedy can you check that this is resolved for you using 6.124.1?