[2017-12-04 10:05] Sachin077 opened #3508 "Accessibility: Narrator is not reading the name of dialog."
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: TFS

#### Describe the issue:

Accessibility: Narrator is not reading the name of dialog.

#### Actual behavior:

[2017-12-04 12:59] ohritz opened #3509 "BasePicker createGenericItem creates nested structure"
### Bug Report

- __Package version(s)__: 5.29.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: High

#### Describe the issue:

Using the createGenericItem on the TagPicker, the typing calls for it to return a ISuggestionModel<T>, doing so results in the new "tag"/item to  have the structure of a ```ISuggest

[2017-12-04 13:09] ohritz commented on #3509
I think I can fix it and submit a PR, but I would like to discuss different options..
I hav'nt looked deep in all the uses internally of this function.
But I see a fix being, either changing the api of the createGenericItem callback to accept a <T> instead of ISuggestionModel<T>
or fix the method in the SiggestionStore to pull out the item from the ISuggestionModel passed before reconverting it.
o

[2017-12-04 17:44] Jahnp commented on #3468
Oops, that's a really great catch. Thanks @kanufy--we'll get this fixed asap.

[2017-12-04 20:03] #3497 closed

[2017-12-04 20:31] hasan-abul opened #3514 "custom list form using Office-ui-fabric react components"
Hello All,

I am very new to this environment, i am trying to create custom list form web-part using Office-ui-fabric-react components. Could you please share me with any example. I am trying to use various components like colorpicker, dialog etc., with that form.

Please help me here.

Many thanks

[2017-12-04 22:15] #3468 closed

[2017-12-04 22:17] Jahnp commented on #3468
Thanks for the quick fix @leddie24!

[2017-12-05 00:14] mattmazzola opened #3517 "isDisabled and disabled properties on IDropdownOption are not disabling the dropdown option"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (Chrome 61.0.3163.100, Windows 10 1709 - Build 16299.64)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: (Normal)

Products/sites affected: (if applicable)

#### Describe the issue:

The docs say IDropdownOption type has

[2017-12-05 07:48] mdanielcristian commented on #3405
@joschect any updates? is this going to be fixed, or should I try to fix it myself?

[2017-12-05 07:51] mdanielcristian commented on #3405
@joschect anything new? should I expect a fix or should I look for one myself?

[2017-12-05 08:42] roger-green commented on #2587
Hi Derek, did you ever find a good solution to this? - I have hit the exact same problem...

Cheers, Alex.

[2017-12-05 09:37] mdanielcristian opened #3520 "People Picker single selection issue"
### Bug Report

- __Package version(s)__: 5.16.0
- __Browser and OS versions__: any browser

Requested priority: blocking

#### Describe the issue:

`<NormalPeoplePicker
                onResolveSuggestions={onFilterChanged}
                getTextFromItem={getTextFromItem}
                pickerSuggestionsProps={suggestionProps}
                className={'ms-PeoplePicker'}
                key={'

[2017-12-05 12:24] mdanielcristian commented on #3485
Had the same issue, fixed it by setting constraintMode DetailsList property to ConstrainMode.unconstrained
`<DetailsList {...this.props}
    items={this.state.viewItems}
    columns={this.state.columns}
    onRenderItemColumn={this.renderItemColumn}
    onColumnHeaderClick={this.onSortOrderChanged}
    constrainMode={ConstrainMode.unconstrained} />`

[2017-12-05 13:23] VincentBailly opened #3521 "Nested buttons in ContextMenu"
### Bug Report

- __Package version(s)__: 5.17.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: High

Products/sites affected: LPC

#### Describe the issue:

When we use the DefaultButton with a context menu and doNotLayer=true, the html generated contains nested buttons element which is not legal html.

[2017-12-05 17:16] hellonavneet opened #3523 "Allow explicitly setting focus on DatePicker"
1) DatePicker should have a prop to focus on it when rendering,
2) IDatePicker should focus method to allow consumers to set focus explicitly on DatePicker. Similar to what IButton.focus() does.

[2017-12-05 19:15] LarsLiden commented on #3423
Any feedback / thoughts on this?

[2017-12-05 19:22] #3521 closed

[2017-12-05 22:00] roger-green commented on #1146
+1

[2017-12-06 07:48] ohritz commented on #3509
After looking closer at the calls, I saw a simple fix and submitted a PR..

[2017-12-06 09:17] ndoiselet commented on #1146
+1

[2017-12-06 10:56] m-sadegh-sh opened #3528 "Picker-based components and rejected Promises"
PeoplePicker and other Picker-based components should be able to understand errors when resolving items using Promise-based calls. Currently these components know nothing to do when a Promise rejects and just spins infinitely. I have to manually use Promise.catch and return empty result, By doing this it will show no-results messge. It's better to add another option to Picker.pickerSuggestionsProp

[2017-12-06 14:18] yosbelms opened #3529 "Feature Request: Allow to selectively disable days in Calendar"
Would be great if days could be selectively disabled by providing a predicate function or a list of dates to the Calendar component.

## Example use case

A receptionist books appointments using the app by selecting dates in a Calendar component. But she/he must take care of not booking in non business days(holly-days, Sundays ...). The system should not allow her/him to select those non business

[2017-12-06 22:33] sugandhi-ms commented on #3319
The change of role to "menu" from combobox also caused the narrator to announce the dropdown title and selected value twice on Microsoft Edge.
A possible solution to the initial problem: " the dropdown is not editable but the screen reader keeps saying it is" can be adding aria-readonly=true.

[2017-12-06 23:07] gscottolson opened #3535 "Some icon previews for docs are currently broken"
https://developer.microsoft.com/en-us/fabric#/styles/icons

<img width="1828" alt="2017-12-06-screenshot" src="https://user-images.githubusercontent.com/220979/33690176-40df8202-da97-11e7-8793-1a3e7d25097d.png">

[2017-12-07 00:24] yaananth commented on #3319
@rickyp-ms , @sugandhi-ms had a fix where aria-readonly is added,  does that fix your original intent of changing role?
Also I assume Dropdown component is never editable, I know Combox has editable as an optional props that can make it either, if that's the case, adding readonly for dropdown is probably fine.

[2017-12-07 03:23] lynamemi commented on #3535
Thanks for tracking this! A fix has been merged with master and should make it onto the website soon.

[2017-12-07 03:23] #3535 closed

[2017-12-07 07:52] ohritz commented on #3457
I think, maybe just maybe this will fix issues #3483, #3520, #3297 aswell.

Full disclosure, I implemented the itemLimit property, with conditional rendering of the input on itemLimit being reached, in effect causing this bug.
There are more places in the basePicker that assume the input is present, but not sure how many are in the execution path when its not present.

[2017-12-07 08:51] Ridlsan commented on #3457
Yeah, seems like this patch would fix it

[2017-12-07 10:06] LeonidasFettikus commented on #3485
Although I only tested it superficially, it seems to have solved my problem. Will test it further when I get to work on the project again. Thanks!

[2017-12-08 10:02] stanleyxu2005 commented on #3310
@micahgodbolt Can I ask when can we access the 6.0 beta and when will be the release date?

[2017-12-08 13:23] ohritz commented on #1323
This has been implemented about 4 months ago in  BasePicker: Make it able to be a controlled component (#2319).
Tis issue can be closed.

[2017-12-08 15:48] micahgodbolt commented on #3310
You can start testing out the new command bar via @uifabric/experiments/lib/CommandBar. We're shooting late January for a release. Lots of people gone over the holidays.

[2017-12-08 16:00] #3457 closed

[2017-12-08 21:48] micahgodbolt commented on #333
issue closed. combobox would be a better fit.

[2017-12-08 21:48] #333 closed

[2017-12-08 22:12] micahgodbolt commented on #3077
you can use combobox for this funcationality

[2017-12-08 22:12] #3077 closed

[2017-12-09 01:23] lednhatkhanh commented on #3285
Hey, any news on fixing this issue?

[2017-12-11 06:43] dzearing commented on #3464
I believe the peer dependencies include v16. @unindented can you point out where it is too restrictive?

[2017-12-11 07:32] unindented commented on #3464
@dzearing just checked, and they do include `^16.0.0`... I saw a warning on my project and for some reason I thought it was this package. I'm so sorry.

[2017-12-11 07:32] unindented commented on #3464
Should I close?

[2017-12-11 15:51] micahgodbolt commented on #3464
this will auto close when the PR gets merged.

[2017-12-11 18:38] #2997 closed

[2017-12-11 19:54] luvankle opened #3552 "[Accessibility] [MAS36-Keyboard] The close button can not be tabbed in persona picker item"
### Bug Report

Env: SCU
Browse: IE/Edge

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Yes

Requested priority: High

Products/sites affected: Office.com share control

#### Describe the issue:

Repro steps:
1. Log in
https://scuprodprv.office.com/?auth=2&flight=mrutiles,sharesapi,DocumentActivity,createvisio,BatchShares

[2017-12-11 21:00] kurtcarpenter opened #3553 "ComboBox, ContextualMenu, TeachingBubble ignore calloutProps.className"
### Bug Report

- __Package version(s)__: 5.20.3
- __Browser and OS versions__: all

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes, see #3504

Requested priority: Normal

Products/sites affected: (if applicable)

#### Describe the issue:

ComboBox, ContextualMenu, and TeachingBubble failed to merge system classes with props.call

[2017-12-11 21:05] stephenzsy opened #3554 "DetailsList onRenderMissingItem not rendering missing item"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

Fix DetailsList.onRenderMissingItem not render

[2017-12-12 08:29] #3554 closed

[2017-12-12 08:34] fidabhittani opened #3560 "Issues with Picker."
### Bug Report

- __Package version(s)__:  5.24.2
- __Browser and OS versions__:  Chrome Latest. Win 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority:  Normal

#### Describe the issue:

When using Picker... When you have lets say itemLimit defined `2` and when you dont choose by clicking instead by autocompl

[2017-12-12 18:00] magellantoo commented on #2749
It looks like there are no plans to support this feature right now as CommandBar is being rewritten to give the user much more flexibility than the current CommandBar allows. For now, you can pass in a divider item with a custom renderer that renders a `VerticalDivider` component.

[2017-12-12 19:02] #2909 closed

[2017-12-12 22:07] magellantoo commented on #3405
It seems to be a bug (feature?) in IE where focusing a div causes the parent to scroll to the top of the child element being focused.
In our case, the onMouseLeave handler for DropDown items calls `focus` on the dropdown's listwrapper.
In IE and Edge, there is a `setActive` function which behaves similarly to `focus` but does not scroll the parent element.
[Vanilla HTML repro](https://codepen.io/a

[2017-12-12 23:31] #3405 closed

[2017-12-13 08:19] mdmdakbar opened #3569 "Keyboard accessibility in pivot is broken"
- __Package version(s)__:  5.29.0

Requested priority: (Blocking, High, Normal, Low) High

Products/sites affected: (if applicable) VSTS

### Actual behaviour:
Pressing tab on pivot items is not taking the focus to child (which has focusable elements) but taking focus to first pivot item(always)

#### Expected behavior:
Ideally pressing tab on pivot item should move the focus to first focusable el

[2017-12-13 10:33] ankitk94 opened #3570 "[Button][Firefox][HighContrast] Button not following high contrast standards"
### Bug Report

- __Browser and OS versions__: Firefox

#### Describe the issue:

Button not following high contrast standards on firefox (working as expected on edge)

#### Actual behavior (on Firefox):
HC black:
![image](https://user-images.githubusercontent.com/6390909/33934318-92463532-e01e-11e7-992d-e502e298083b.png)

HC white:
![image](https://user-images.githubusercontent.com/6390909/339343

[2017-12-13 12:24] fidabhittani opened #3571 "Dropdown in MultiSelect mode `onRenderOption` doesnt work."
The onRenderOption doesnt work in drop down multiselect mode.

[2017-12-13 16:05] betrue-final-final commented on #3570
@kristoferbrown, has your work been checked in? Your PR may fix it if I'm correct?

[2017-12-13 17:49] kristoferbrown commented on #3570
That PR specifically addressed high contrast issues in Edge/IE. Firefox is missing a lot of support for methods to control high contrast mode so solving contrast issues there is much more difficult. Keep this issue open so we can address this in the future.

[2017-12-13 18:42] #3453 closed

[2017-12-13 19:34] derek-smith commented on #3485
I had the same issue and this fixed it for me. Thanks

[2017-12-13 21:52] abettadapur opened #3574 "DatePicker: Default value should be undefined, not new Date"
### Bug Report

- __Package version(s)__: latest

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:
DatePicker sets the default `selectedDate` to `new Date()` if no value is passed via props. Then, if the consumer passes the current date (`new Date()`) in props, the text box does

[2017-12-13 23:34] leddie24 opened #3575 "Documentation: Panel page has scrolling disabled"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

The Panel page on the fabric website has scrol

[2017-12-14 00:40] #3575 closed

[2017-12-14 07:37] jakob101 opened #3578 "MergeStyles: enable possibility of modifying the generated className for server-side rendering"
When we server-side render, we put the classNames (css-1, css-2, ..., css-85) on the page. While rehidrating (and using the app) on the client side, the classNames start from the beginning again. This being undeterministic, we get clashes where old css-85 had a green background and the new one is something completely different.

I will propose a PR to add this functionality.

[2017-12-14 07:38] jakob101 commented on #3578
@mtennoe FYI.

[2017-12-14 12:20] amadeogallardo commented on #3349
I'm also able to reproduce this issue. @Nimelrian did you find a hotfix to apply on application code? Possibly handling some of the provided events for onBlur, onFocus, onEmptyInputFocus, etc.?

[2017-12-14 14:32] marlonbrgomes commented on #1146
+1

[2017-12-14 19:49] #3293 closed

[2017-12-15 09:14] daveamol commented on #3485
For me the horizontal bar moves to the bottom of the page instead but still is visible

[2017-12-15 10:54] MarkStokes-outlook commented on #629
@rickyp-ms can you point us in the right direction here. I am also looking for a Office styled file picker to go in my app, but don't see anything in the DetailsList component that we can use?

Is this still only for your internal use?

[2017-12-15 13:23] LeonidasFettikus commented on #3485
I will close this for now as my issue was resolved when applying `constrainMode={ConstrainMode.unconstrained}`.

[2017-12-15 13:23] #3485 closed

[2017-12-15 16:55] #3319 closed

[2017-12-15 21:36] jonathaneckman opened #3586 "Bundle font icons"
I have an application that runs offline. Ideally, Id like to bundle all font icons using webpack like I would with other libraries like font awesome. If that is not an option, Id like to output the necessary woff files to my dist folder so they are deployed to the www root and use the `initializeIcons` overload.

Any tips on how I can make something like this happen?

[2017-12-16 00:46] lambertwang commented on #3411
Repro: https://codepen.io/anon/pen/goamNR

It looks like the tooltiphost's bounding rect is not being aligned to its inner elements correctly.
A solution could be to set the callout's target to an inner element of the tooltiphost or to ensure that a specific display style is set on the tooltip host's children. For example, on the Fabric website, setting the display style of button to block fixes t

[2017-12-16 12:35] yungfu opened #3587 "Module not found: Can't resolve '@microsoft/load-themed-styles' in '__directory\node_modules\@uifabric\styling\lib\styles'"
### Bug Report

- __Package version(s)__: 5.34.0
- __Browser and OS versions__: win10, node_9.3.0, npm_5.5.1

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: (if applicable)

#### Describe the issue:

Failed to build with following error:
./node_modules/@uifabric/styling/lib/sty

[2017-12-17 13:56] sebasthuis commented on #1483
How would I go about making the array immutable. Or more specifically, if this.props.items does not trigger a re-render, how would I ensure that it would?

[2017-12-17 17:14] cmk128 opened #3590 "Any tutorial using this library without node?"
Any tutorial using this library without node? I want to use it in wordpress plugin development
Thanks

[2017-12-18 03:39] halfice opened #3591 "Uncaught (in promise) TypeError: Cannot read property 'get' of undefined SPhttpClient.get"
I created a class MyHttp inside component folder. I have import all required classes from @microsoft/sp-http but when run the project this.context.sphttpclient.get is null.
Same code I run outside the component class i.e in my main webpart.ts file than it works.

Uncaught (in promise) TypeError: Cannot read property 'get' of undefined
    at MyHttp._getListData (MyHttp.tsx:168)
    at MyHttp._rend

[2017-12-18 11:17] koltyakov commented on #349
Any update on this?

[2017-12-18 11:27] koltyakov commented on #3590
Node.js acts as a build toolchain. It's not required at runtime. But mandatory while development.
Any "How to ... React for WordPress" (e.g. [1](https://deliciousbrains.com/develop-wordpress-plugin-webpack-3-react/), [2](https://myappincome.co.uk/how-to-make-a-react-js-wordpress-plugin/)) walkthroughs are valid for this case.
Licensing restriction also should be considered, e.g. iconography can be

[2017-12-18 13:10] Nimelrian opened #3592 "TS Typings: DetailsList's IColumn interface wrongly defines fieldName as non-optional string"
### Bug Report

- __Package version(s)__:
  - office-ui-fabric-react: 5.34.1
  - typescript: 2.6.2
- __Browser and OS versions__: Not relevant since TS typing error

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

#### Describe the issue:

The IColumn interface in the DetailsList typings defines the [`f

[2017-12-18 13:48] nikhilexe opened #3593 "[Feature Request] Vertical Tab list item and tab panel"
In our product we wanted to have vertical tab list similar to shown in below image, if I see this it is extension of Pivot except it is rendered vertically and have splitter to separate left and right section. We need splitter so that customer can drag it as per need. Can we extend pivot to support this or we can have separate component?

![image](https://user-images.githubusercontent.com/25940082

[2017-12-18 18:11] lambertwang commented on #3587
What is your output of `rush install`?

[2017-12-18 18:13] lambertwang commented on #3591
Can you share a code example or a codepen that reproduced your issue?

[2017-12-18 18:34] cschleiden commented on #1483
instead of
[code]
do something like
[code]

[2017-12-19 06:27] buckingj commented on #2228
Would love to see this fixed.

[2017-12-19 12:02] aakash-johari opened #3599 "Clicking on search box clear button is closing the drop down."
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: All browsers

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable) VSTS Code/Workitem Search

#### Describe the issue:
We have a filter drop down w

[2017-12-19 12:09] aakash-johari commented on #3599
If we don't want to bring it the tab order, keeping the tab order as -1 also fixes the issue.

[2017-12-19 12:47] yungfu commented on #3587
@lambertwang rush command not found!
This is a required dependency?

[2017-12-19 15:03] bengcooper opened #3600 "Calendar component range select"
It would be nice if you could select a date range with the component by selecting the start date then the end date (this could be optionally only enabled when the user is holding down the shift key).

[2017-12-19 18:08] nayomitchell opened #3601 "Are dom typings required?"
We're currently not using dom typings in our tsconfig.json. We do have a couple of dom typings defined in our own lib.d.ts, but upon installing the Office React package, we're receiving errors like

`node_modules/office-ui-fabric-react/lib/components/Callout/CalloutContent.d.ts(10,26): error TS2304: Cannot find name 'ClientRect'.
calloutElementRect?: ClientRect;`

`node_modules/office-ui-fabric-re

[2017-12-19 22:01] #3046 closed

[2017-12-19 22:11] gscottolson opened #3602 "Request: specifying a “modal host” when rendering a modal"
Is it possible to mount a modal at a predetermined location in the React component tree? I don’t think it can happen with the current implementation, but would you be open to accepting a PR for this?

Testing my styled modal becomes difficult when Fabric decides to mount the modal outside the rendered component. I am currently using Jest (and styled-components). A snapshot for a modal is something

[2017-12-20 05:59] manuterawe opened #3603 "TS2694: Namespace 'React' has no exported member 'ButtonHTMLAttributes'"
Hi All,
It seems that the office-ui-fabric-react is broken with my project file. When I try to import a button from office-ui-fabric-react facing below error .

ERROR in [at-loader] ./node_modules/office-ui-fabric-react/lib/components/Button/Button.types.d.ts:21:45
TS2694: Namespace 'React' has no exported member 'AllHTMLAttributes'.
ERROR in [at-loader] ./node_modules/office-ui-fabric-react/lib/c

[2017-12-20 08:54] MirandaGe opened #3604 "[blocking bug] hovercard breaks the demo page"
### Bug Report

- __Package version(s)__: latest master branch

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? If I have time and know the reason :)

Requested priority: Blocking

Products/sites affected: (if applicable)

#### Describe the issue:

If I hover on the card, the page becomes a blank one with error in console

#### Actual

[2017-12-20 09:00] MirandaGe opened #3605 "[hover card] if I quickly enter/leave the hover card, the card does not dismiss as expected sometimes"
### Bug Report

- __Package version(s)__: latset

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:

1. hover to trigger a card
2. use mouse quickly move through the card
3. the card will be opened again and cannot dismiss

#### Actual behavior:

![hover dismiss](https://user-ima

[2017-12-20 10:32] sorosoro2 opened #3607 "List: Add prop to allow deep compare on list content updates, and document pure/immutable defaults."
### Bug Report

- __Package version(s)__: 5.34.0 (current github code has this issue)
- __Browser and OS versions__: Any browser, any OS

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes, but I don't what the fix should be

Requested priority: Normal

Products/sites affected: (if applicable)

#### Describe the issue:

There is this

[2017-12-20 15:30] jonathaneckman opened #3608 "DetailsList unnecessary horizontal scroll"
### Bug Report

- __Package version(s)__: 5.34.3
- __Browser and OS versions__: Chrome on Windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:

A basic DetailsList will always add a horizontal scroll bar. There appears to be a couple of pixels being added somewhere withi

[2017-12-20 15:35] cmk128 commented on #3590
Dear Koltyakov, what is iconograph? you mean the icon?

[2017-12-20 15:38] koltyakov commented on #3590
Yes, icons have a separate license, AFAIK.

[2017-12-20 15:40] cmk128 opened #3609 "License question"
I want to develop a wordpress plugin that connect to sharepoint and display sharepoint's data, i want to use office-ui-fabric, will I break the license? My plugin will be open source.

Thanks

[2017-12-20 16:11] jonathaneckman commented on #3608
I figured out where this is coming from. I removed all items from the list so it was just a header. I see that the header cell has an inline width style of 1666px. I reduced that to 1650px and the scrollbar disappeared. This is the rendered markup of a header cell:

[code]

I see the same inline style on all rows as well. Im not sure there is a workaround to this unless I hide `overflow-x`, which

[2017-12-20 17:01] haifoo opened #3611 "Datepicker icon clickable when disabled=true"
### Bug Report

- __Package version(s)__: ^4.51.1
- __Browser and OS versions__: Chrome 63, IE 11, IE 10

#### Describe the issue:

Datepicker icon clickable when disabled=true

#### Actual behavior:

setting disabled prop to true does not disable the calendar icon.
when clicked, datepicker pop-up shows.
picking a date in the pop-up updates the text input field

#### Expected behavior:

icon is di

[2017-12-20 17:32] micahgodbolt commented on #3349
I was not able to repro this in codepen. I added more text below the picker to make it easier to click. https://codepen.io/micahgodbolt/pen/VyjWam

[2017-12-20 17:36] Nimelrian commented on #3349
@micahgodbolt
1. Click into picker, suggestion drop down
2. Click cyan
3. Click outside of picker (doesn't have to be on the text), just blur it
4. Click inside picker, suggestions drop down again
5. Click on text
6. black will be added

[2017-12-20 17:42] micahgodbolt commented on #3349
Yeah, it's kind finicky. I was able to get it to repro eventually.

[2017-12-20 17:43] micahgodbolt commented on #3349
If you load the page fresh and click in and then click out, it works fine. But as soon as you click on an item once...or up/down arrow once, it starts grabbing whatever you have focus on.

[2017-12-20 17:44] micahgodbolt commented on #3349
While I have no trouble with an onDismiss callback (with some tweaks I mentioned), I feel thats a bit of a bandaid. I'll check with the author of that code and see if he has feedback on why it's written that way.

[2017-12-20 18:22] micahgodbolt commented on #3349
After a bit of a chat what we determined was that pickers were really never meant to act as dropdown selectors. They always took some input, filtered the list based on that input and then inserted your selection. That also meant if you half selected a word and moved focus away, that selected word would populate the picker. That's an expected behavior that is causing trouble for you because you are

[2017-12-20 18:41] erichdev commented on #3611
I was unable to repro this. The `disabled` prop works as expected for me. Could you post a Codepen or sample code how you're using it? Thanks

[2017-12-20 19:18] abettadapur opened #3613 "ComboBox: useComboBoxAsMenuWidth should default to true"
### Bug Report

- __Package version(s)__: latest

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low)  Normal

Products/sites affected: (if applicable)

#### Describe the issue:

ComboBox recently gained the `useComboBoxAsMenuWidth` prop, which defaults to false. This regressed the ComboBox because anyone who does not provide this property has th

[2017-12-21 00:31] erichdev commented on #3569
I believe it was this PR https://github.com/OfficeDev/office-ui-fabric-react/pull/3527

[2017-12-21 05:53] ssingh28 opened #3619 "Aria attribute in spinner is throwing error"
### Bug Report
Below is how my package.json looks like below:
"devDependencies": {
"@microsoft/sp-build-web": "~1.1.0",
"@microsoft/sp-module-interfaces": "~1.1.0",
"@microsoft/sp-office-ui-fabric-core": "^1.3.4",
"@microsoft/sp-webpart-workbench": "~1.1.0",
"@types/chai": ">=3.4.34 <3.6.0",
"@types/mocha": ">=2.2.33 <2.6.0",
"gulp": "~3.9.1"
},

Package-lock.json looks like below:

"@microsoft/of

[2017-12-21 07:35] ohritz opened #3620 "Feature: Unified Error and validation handling for "Form" components"
I think it would make sense to have a common api for error and validation handling for the components that could be used for data entry in for example forms.

I would suggest letting them extend a formBaseComponent that in turn extends baseComponent.
 And in formBaseComponent implement validate() and notifyOnValidate and onGetErrorMessage and onNotifyValidationResult and more?

[2017-12-21 11:02] aadhars opened #3621 "[ChoiceGroup][Accessibilty] Difference b/w focused and non foucsed element is not distinguishable"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: Edge

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: (Blocking, High, Normal, Low) : Normal

Products/sites affected: (if applicable): VSTS

#### Describe the issue:

Difference b/w focused and non focused choice group item is not

[2017-12-21 11:29] aadhars opened #3622 "[ActionButton][Accessibilty][HighContrast] Border around action button does not change when focused in high contrast"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: Edge

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: (Blocking, High, Normal, Low) : Normal

Products/sites affected: (if applicable)VSTS

#### Describe the issue:
Action Button does not have border in normal mode but it stareted s

[2017-12-21 13:06] aadhars opened #3623 "[ChoiceGroup With Icon] Text overflow when label of choice group item is big"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: All OS

#### Priorities and help requested (not applicable if asking question):

Requested priority: (Blocking, High, Normal, Low) : High

Products/sites affected: (if applicable) VSTS

#### Describe the issue:

When the label of choice group item is big the choice group clips the label for that item.
![image](https://

[2017-12-21 14:56] fidabhittani commented on #2554
Anything on this...?

[2017-12-21 14:58] fidabhittani commented on #2554
What I did was, `.Fabric > * { font-Size: 12px   }` but some conrols stills retains its original fonts. to fix that I made it important which led to have all the children have 12 px even my custom classses..

[2017-12-21 21:51] patrickabel commented on #3373
@kmosti are you seeing this behavior for desktop when your browser is made very small width-wise as well?

I've got a similar issue trying to re-use a SPFx Extension based global navigation solution and I'm noticing that the CommandBar disappears at a certain breaking point (whereas I would expect the default behavior be to hide the menu underneath an ellipsis).

[2017-12-21 22:58] #3255 closed

[2017-12-21 23:58] erichdev commented on #3263
You can pass prop `dropdownWidth` intoDropdown to specify the width of the options. Would that work for your situation?

[2017-12-22 06:14] aadhars opened #3625 "[TagPicker][Accessibility]Tag Picker does not read out the names of selected tag in edge"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: **Edge** It works on IE

#### Priorities and help requested (not applicable if asking question):

Requested priority: (Blocking, High, Normal, Low) : High

Products/sites affected: (if applicable) VSTS

#### Describe the issue:

Tag Picker does not read out the names of selected tag in edge. It does read out in IE but

[2017-12-22 06:29] Sachin077 opened #3626 "Accessibility [Details List]: The first Focus is going on complete grid in Firefox, but going to the "select all" checkbox in other browsers (Chrome and edge)."
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: Firefox

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: TFS

#### Describe the issue:

Accessibility: The first Focus is going on complete grid in Firefox, but going to the "select all" che

[2017-12-22 06:41] ssingh28 commented on #3619
Hi Team,

I have mentioned that this is a blocking issue. Can you please look into this asap and provide some response on this.

Thanks,
Saurabh Singh.

[2017-12-22 07:07] Sachin077 opened #3627 "Accessibility [Combobox]: Inspect: "Value.Value" property value is empty for combo box ."
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: All browsers

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: TFS

#### Describe the issue:

Accessibility [Combobox]:  Inspect: "Value.Value" property value is empty for combo box .

#### A

[2017-12-22 16:10] haifoo commented on #3611
I am using the component in an Office365 page. Initially thought it was because it was messing up with the Office365 core styling/classes, but it has the same behavior with the standard app via create-react-app running on local. I just used the sample code given in the Fabric UI site.

[2017-12-22 16:13] haifoo commented on #3611
basically wrapped the sample code in the Fabric UI site in a component, and called the DatePicker with the following:

`<DatePicker
          label="Start date"
          isRequired={false}
          allowTextInput={true}
          ariaLabel={desc}
          firstDayOfWeek={firstDayOfWeek}
          strings={DayPickerStrings}
          value={value}
          onSelectDate={date => this.setState({v

[2017-12-22 18:26] suztocco commented on #3255
Can you let me know when I can see this change in Fabric or on our Calendar Beta product?

Thanks

From: Johanna Hawkins <notifications@github.com>
Reply-To: OfficeDev/office-ui-fabric-react <reply@reply.github.com>
Date: Thursday, December 21, 2017 at 2:58 PM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Suz Tocco <suzto@microsoft.com>, Mention <mention@nore

[2017-12-22 18:56] erichdev commented on #3619
Hi @ssingh28 not sure if you saw the response on Teams, but have you tried updating @types/react and @types/react-dom?

[2017-12-22 18:58] johannao76 commented on #3255
@Kelly Gorr<mailto:kegorr@microsoft.com> already fixed this in fabric, she is working today on making the corresponding change in React to consume the new version of fabric with the change.

-J
________________________________
From: suztocco <notifications@github.com>
Sent: Friday, December 22, 2017 10:26
To: OfficeDev/office-ui-fabric-react
Cc: Johanna Hawkins (ORTIZ); State change
Subject: Re: [

[2017-12-22 19:07] suztocco commented on #3255
Thanks. It is hard to track because many time the fabric site is not up to date.
For instance, I do not see the update here: https://developer.microsoft.com/en-us/fabric#/components/datepicker

[cid:image001.png@01D37B15.09C0DB40]

From: Johanna Hawkins <notifications@github.com>
Reply-To: OfficeDev/office-ui-fabric-react <reply@reply.github.com>
Date: Friday, December 22, 2017 at 10:58 AM
To: Off

[2017-12-22 19:32] johannao76 commented on #3255
Literally this was committed yesterday and yeah, the site is a bit laggy in getting the latest.​
________________________________
From: suztocco <notifications@github.com>
Sent: Friday, December 22, 2017 11:07
To: OfficeDev/office-ui-fabric-react
Cc: Johanna Hawkins (ORTIZ); State change
Subject: Re: [OfficeDev/office-ui-fabric-react] DatePicker menu shouldn't have scrollbar (#3255)

Thanks. It is

[2017-12-22 19:59] ZeekoZhu commented on #616
@SimplerSoftware
1. Create a file named `fabric-style-server.ts`
[code]

2. Import it in `boot-server.tsx`
[code]

3. Add fabric styles to SSR Result
[code]

4. Do not place fabric in vendor list, there no tree shaking in React Template, import its component via path

Now, enjoy fabric in your asp.net core 2.0 project~

---

**But**, there is still one problems: Not all registered styles are writt

[2017-12-22 20:49] lambertwang commented on #3587
I thought this error was with building Fabric itself, but I was mistaken.

Can you make sure that `@microsoft/load-themed-styles` is installed?

[2017-12-22 20:56] SimplerSoftware commented on #616
Thanks!

[2017-12-22 22:10] cobbs-totem commented on #3586
I have the same problem:

https://github.com/OfficeDev/office-ui-fabric-react/issues/3186

[2017-12-22 22:11] erichdev commented on #3611
Ah there's a bug where it opens if a label is included. I'll submit a PR shortly

[2017-12-22 23:29] adriantran opened #3630 "Feature: Custom class name and dismiss hook for CommandBar context menu"
There are currently no properties to allow us to give a class name to the context menu used by the commandbar, nor know when the menu is dismissed.

[2017-12-22 23:45] lambertwang commented on #3626
The focus is going to the ExampleCard in Firefox. This can be fixed by adding `tabindex={ -1 }` to the `ExampleCard-example` div.

[2017-12-22 23:47] vertonghenb commented on #2178
Same issues with Fullscreen modes.

Example if you're using Fullscreen from "react-full-screen", the Tooltip, Contextmenu's etc everything that uses the Layer component are not shown since a fullscreen component requires the Z-index of 2147483647 (max) since the component are rendered outside the main div you'll have issues...

//No workaround (yet)

[2017-12-23 00:10] #3340 closed

[2017-12-23 01:56] erichdev commented on #3520
Should be fixed by PR referenced above, please reopen if issues remain

[2017-12-23 01:56] #3520 closed

[2017-12-23 01:56] erichdev commented on #3483
Should be fixed by PR referenced above, please reopen if issues remain

[2017-12-23 01:56] #3483 closed

[2017-12-23 15:37] ZeekoZhu commented on #915
With react-router v4 and SSR, I make a Nav this way:
[code]

It works well

[2017-12-24 03:21] vertonghenb commented on #915
@ZeekoZhu I think you'll still have issues when trying to open the link in a new tab for example since it's not a <a/> tag.

[2017-12-24 03:36] ZeekoZhu commented on #915
@vertonghenb you are right,but we can achieve it this way:
[code]

when a url is set, Fabric will render Nav's link as a <a/>, so that we can open it in a new tab

[2017-12-25 05:18] fengyue1013 commented on #3386
Seems it has been fix by [this commit](https://github.com/OfficeDev/office-ui-fabric-react/pull/3577).
Cannot repro this issue for version 5.34.1

[2017-12-25 05:19] #3386 closed

[2017-12-25 20:05] japrogramer commented on #490
How did you handle an on submit event, did you change the state of the component onChange for the field? can I see

[2017-12-25 21:04] japrogramer commented on #1407
I use too use an event and get the name of the component from the event but this components act differently, I still haven't seen an example login form that works with this components I have looked far and wide. I can only find Issues related to them that end up close due to a pull request but never a code example.

[2017-12-25 21:17] japrogramer commented on #1407
My solution is to have a function in the component that take a name and a value than sets that pair in the state and on submit, get the values from the state.

[2017-12-26 04:08] japrogramer opened #3633 "Can Nav be used with React Router Links?"
#### Describe the issue:
I want for nav https://developer.microsoft.com/en-us/fabric#/components/nav to use
react-router links

#### Actual behavior:

The page is sent out as an entire page request

#### Expected behavior:

I expected the page to change the url without requesting the whole page again

[2017-12-26 04:49] japrogramer commented on #3633
Im thinking of adding an on click listener to each link and preventing default on the event, than getting the path and setting the url without requesting a page reload but that feels like im re-implementing something that I shouldn't ..
Would be better if I could just use Link

[2017-12-26 05:07] japrogramer commented on #3633
Ok, So Im trying this
[code]
but my react  components are not updating like they do with Link ... Can there please be a version that uses Link?

[2017-12-26 05:12] japrogramer commented on #3633
oops duplicate of https://github.com/OfficeDev/office-ui-fabric-react/issues/915

[2017-12-26 05:12] #3633 closed

[2017-12-26 05:53] japrogramer commented on #915
Could a new component be written for this purpose ? or is it easier to adopt this component to use Links?

[2017-12-26 10:04] ipip2005 opened #3634 "Accessibility: Panel should have aria-labelledby and aria-describedby like Dialog"
In order to let screen reader read something when Panel is opened, currently we can open leverage the "headerText" props. But it's only the title of the Panel.
Usually we have more text should be read like dialog description.

Panel should also provide such functionality for a11y like [Dialog does](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/

[2017-12-26 17:20] japrogramer commented on #915
Here is my Solution

[code]

[2017-12-26 20:29] pmashchenko opened #3635 "Problem with installing _rushInstall"
Can some one help me use office-ui-fabric-react with hash not version?
#### Describe the issue:

Trying to install office-ui-fabric-react with some hash
"office-ui-fabric-react": "https://github.com/OfficeDev/office-ui-fabric-react.git#404d663cd52c79b56d0904678e744b1201f0316b",

#### Actual behavior:

Output:

module.js:538
    throw err;
    ^

Error: Cannot find module '.../ui-module/node_module

[2017-12-27 01:48] yungfu commented on #3587
@lambertwang , I can find this module in ./node_modules folder, and if I don't import any fabric component, it build successfully. I try to re-install the "@Microsoft/load-themed-styles", clean the npm cache, re-install all the modules, it still not work.
If I run the "npm list @microsoft/load-themed-styles", it will display "unment dependency" with serveral other modules.  I try to fix this probl

[2017-12-27 09:04] barisbikmaz opened #3636 "No tooltip on first breadcrumb item"
### Bug Report

- __Package version(s)__: 5.29.0

#### Priorities and help requested (not applicable if asking question):

Requested priority: Normal

#### Describe the issue:

If the first item of the breadcrumb has an overflow then no tooltip is shown. Assume then name of the first breadcrumb level is "First Breadcrumb Item" and navigation is looks like that:

First Breadc .... > Level 2 > Level

[2017-12-27 12:23] nero120 opened #3637 "Using ComboBox componentRef does not allow access to useful IComboBoxProps such as value and disabled"
### Bug Report

- __Package version(s)__: 5.33.1

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: High

#### Describe the issue:

When using a ComboBox, getting a reference to the component using componentRef returns an object of type IComboBox. However the object only contains members `dismissMenu` and `focus`

[2017-12-27 12:50] nero120 commented on #3637
Just checked ChoiceGroup and it has the same issue, none of the IChoiceGroupProps are exposed, yet TextField seems to  How come componentRef was implemented this way, is this an oversight?

[2017-12-27 12:50] #3637 closed

[2017-12-27 12:56] kesane-msft opened #3638 "Tabbing onto rating control always sets focus on the first star"
### Bug Report

- __Package version(s)__: 5.29.0
- __Browser and OS versions__: Chrome, Windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)  High

Products/sites affected: (if applicable)

#### Describe the issue:

Include a rating control. Set its initial value to >

[2017-12-27 13:20] kesane-msft opened #3639 "Read-only rating control has inconsistent tab behavior"
### Bug Report

- __Package version(s)__: 5.29.0
- __Browser and OS versions__: Chrome, Windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable)

#### Describe the issue:

We have used a read only rating control in a det

[2017-12-27 15:08] yungfu commented on #3587
@lambertwang finally, I fixed this issue. The problem was caused by the old npm, although "npm -v" command would return "5.5.0. I worked in windows, after I uninstall the nodejs, there is still some files remained in the "isntallpath/nodejs/node_modules/npm". After I removed all the residue files, and reinstall the nodejs v8, clear the npm cache, run "npm install" in project directory, everything

[2017-12-27 15:08] #3587 closed

[2017-12-27 18:14] #3578 closed

[2017-12-27 23:53] #3226 closed

[2017-12-27 23:59] erichdev commented on #3236
Closing, please reopen if any issues remain

[2017-12-27 23:59] #3236 closed

[2017-12-28 10:29] kesane-msft opened #3642 "Rating control should have configurable colors."
### Bug Report

- __Package version(s)__: 5.29.0
- __Browser and OS versions__: Chrome, Windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable)

#### Describe the issue:

The rating control stars have fixed front (black) a

[2017-12-28 12:04] SLCH opened #3643 "[Blocking bug] Incorrect icon versions"
### Bug Report

- __Package version(s)__: 5.36.0
- __Browser and OS versions__: -

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No, not sure what to fix.

Requested priority: Blocking

Products/sites affected: sites that host fonts by themselves.

#### Describe the issue:

Some of the icons font versions dont match with paths in so

[2017-12-28 12:29] SLCH commented on #3643
Cant find where to look which font version is older.
Although 82c8b87c doesnt appear anywhere in repo, so i guess file name is correct and the code needs to be edited.

[2017-12-28 21:53] abettadapur opened #3644 "DatePicker: Should be able to provide an initially selected date for the picker"
I should be able to provide a initially highlighted date for the DatePicker, so that when the user first opens the calendar, that date is selected.

This property is distinct from the actual selected value of the DatePicker.

[2017-12-28 22:32] erichdev commented on #3486
DetailsList has the prop `ariaLabelForSelectAllCheckbox` so you can set a label for that checkbox. The second example on the docs site uses that prop if you'd like to test and inspect.

Closing issue, please reopen if any issues remain 👍

[2017-12-28 22:32] #3486 closed

[2017-12-30 18:21] enriquin opened #3647 "CommandBar: IContextualMenuItem is not disabled when href is used"
### Bug Report

- __Package version(s)__: Lastest
- __Browser and OS versions__:  Chrome (latest), Edge,...

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No
Requested priority: Normal

#### Describe the issue:
When you set the disabled property on a IContextualMenuItem and it uses the href property instead of the onClick, the item

[2018-01-02 07:17] jekaspekas opened #3648 "TextField input autocomplete attribute"
Hello!
Please help me to set autocomplete attribute to TextField input.
I think this should be like this:
<TextField
        placeholder='I am a placeholder.'
        ariaLabel='Please enter text here'
        **autocomplete='on'** // 'off'
/>

<input  ...  autocomplete="on">

Implementation of TextField has no autocomplete member

[2018-01-02 16:42] lebbar commented on #349
Hi,
Pagination is really essential, we need it for detailsList.
I think without pagination the component is really useless.
It would be great to work on it because we are waiting it from 2016...
TY
Regards

[2018-01-02 18:10] #3643 closed

[2018-01-02 18:26] #1202 closed

[2018-01-02 22:55] #3648 closed

[2018-01-03 00:44] lambertwang commented on #3626
This is an intentional feature of Firefox. Firefox treats scrollable regions as focusable areas, which is defined in the [HTML living standard](https://html.spec.whatwg.org/multipage/interaction.html#focusable-area).

We know that this means that the behavior of example cards is going to vary from browser to browser. We feel that we should not change this behavior as it is defined in the HTML spec

[2018-01-03 00:44] #3626 closed

[2018-01-03 10:47] MaronMariusz opened #3656 "[DetailsRow] `NaN` is an invalid value for the `width` css style property."
### Bug Report

- __Package version(s)__: 5.36.0
- __Browser and OS versions__: Chrome, El Capitan OSX

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? **No**

Requested priority: (Blocking, High, Normal, Low) **Low**

Products/sites affected: (if applicable) **---**

#### Describe the issue:

Using **DetailRow** component I see warni

[2018-01-03 13:40] ramonitor opened #3657 "GroupedList and multiple levels with items"
I'm trying to use the GroupedList component with grouping and items (data) on multiple grouping levels.  Example of what I'm trying to display with the GroupedList component:

![levels](https://user-images.githubusercontent.com/3415499/34522528-50f7e2bc-f093-11e7-8ec8-90c0b839cc5e.png)

If I'm correct, the only way to control what items are displayed on what level is the count and startIndex prope

[2018-01-03 17:58] #3411 closed

[2018-01-04 08:46] shyama1208 opened #3663 "For multiline messageBar, shouldn't the button be on the same line when there is actually only one line"
![image](https://user-images.githubusercontent.com/26054709/34555776-98b3672c-f159-11e7-90e7-7bc644b0d9cd.png)

For multiline messageBar when the text is actually only single line, it does not look good as there is too much of empty space between the text and the button.
Can the button be moved to the same line?

[2018-01-04 13:03] ImenTurki commented on #629
hello ,please any one found a solution for office-ui-fabric-react for upload file ?
how do you satisfy this .

[2018-01-04 15:26] betrue-final-final commented on #3663
It looks like it's aligned bottom. Aligning top or middle should fix this.

[2018-01-04 21:44] dylankil opened #3665 "Touch screen devices - Content is scrollable under surface components"
Package version: (fill this out)
Browser and OS versions: iOS, Android

Are you willing to submit a PR to fix?
Yes, but I need to be properly on-boarded to the Office UI Fabric repo before this can happen.

Requested priority: Normal

Products/sites affected: https://onenote.com/learningtools

#### Describe the issue:

Non blocking callouts and dialogs allow content under the ms_Layer to be scroll

[2018-01-04 21:50] dylankil opened #3666 "If the last element of a surface layer component is a radio button group, keyboard tab navigation escapes the focus trap zone"
### Bug Report

Package version: current
Browser and OS versions: All

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix?
Yes, but I need to be on-boarded to the code

Requested priority: Normal

Products/sites affected: All

#### Describe the issue:

If a callout, pane or other surface layer component's content ends with a radio button

[2018-01-04 21:51] lambertwang commented on #3639
Repro:
https://codepen.io/anon/pen/opGWEj

[2018-01-04 21:54] dylankil opened #3667 "Shift+Tab to radio button choice group focuses on last option but does not select"
### Bug Report

Package version: current
Browser and OS versions: All

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix?
Yes, but I need a better understanding of the project.

Requested priority: Normal

Products/sites affected: All

While tabbing through content Shift+Tab from the element immediately after a radio button choice group,

[2018-01-04 21:59] dylankil opened #3669 "Resizing and Orientation change does not update the position of the callout"
### Bug Report

Package version: current
Browser and OS versions: All

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix?
Yes, but need to on-board to the fabric react project.

Requested priority: Normal

Products/sites affected: All

#### Describe the issue:

When a callout is open at its target element rotate the device (surface or mo

[2018-01-04 22:10] yaananth opened #3670 "Accessibility: Pivot: Edge: Narrator: MAS4.2.1: Pivots sizeOfSet, PositionInSet are always zero"
For Pivot [component](https://github.com/OfficeDev/office-ui-fabric-react/tree/master/packages/office-ui-fabric-react/src/components/Pivot)
![image](https://user-images.githubusercontent.com/12280011/34586469-165f6078-f172-11e7-862d-94fd3b9cfc67.png)

![image](https://user-images.githubusercontent.com/12280011/34586424-ec3fb5c2-f171-11e7-979c-a4354024cfdf.png)

Solution:
https://www.w3.org/TR/wai-

[2018-01-04 23:56] yaananth commented on #3670
Note: This could be a narrator/edge bug, as those properties are NOT REQUIRED to be set
“If all items in a set are present in the document structure, it is not necessary to set this attribute, as the user agent can automatically calculate the set size and position for each item”

Will reactivate if we determine otherwise, issue was created for awareness

[2018-01-04 23:56] #3670 closed

[2018-01-05 08:15] #3349 closed

[2018-01-05 17:55] #3647 closed

[2018-01-05 19:27] thinkman99 commented on #3608
I also have this problem. But when I change the window size, the width of DetailsList is recalculated correctly. My decision:
[code]

[2018-01-06 00:06] mattmazzola commented on #3423
Forgot to add my info last time.  I tried debugging the click event and it seemed like some FocusTrapZone control was stealing the click event and redirecting onto the element with the trap zone such as a activating a ToolTip even when you are not over the tooltip.  This is why pressing `Escape` works to soft dismiss, but clicking on the `X` doesn't.

[2018-01-06 08:47] mdmdakbar opened #3673 "External css applied for border is not rendered properly on zoom-out when borderless prop is true in TextField component."
Product affected- VSTS

Codepen link - https://codepen.io/anon/pen/zpPNvO

On rendering TextField with borderless prop as true and applying some border css on the div wrapping TextField, border is inconsistent on Zoom-out.
My screen resolution is 2560*1440. Also, on changing the resolution, you can see variations in the border width

On zoom 75% -
![textbox](https://user-images.githubusercontent.c

[2018-01-07 20:59] dzearing commented on #3423
@dagoff @zoarif mentioning you if you have tips here.

[2018-01-07 21:06] dzearing commented on #3423
I'm going to guess this; in scenario 2, focustrapzone in ModalA wants to pull focus back and fights the trap zone in the panel.

@dagoff on our team i believe also hit this and added support to layer trap zones, he may have ideas.

If you have a codepen to repro this, that would be helpful. I'll see if I can repro.

[2018-01-07 21:24] aappddeevv commented on #1146
Related to #3378. You can make the header fixed but then the body does not render all the rows in the list when you scroll. There may be a way to do that so we have the sticky header before a fix is put in. If we can tell the underling list to render the rows correctly as it is scrolled, we would have a solution to this.

[2018-01-07 21:25] #3366 closed

[2018-01-07 21:33] dzearing commented on #3423
Ok think i got a repro.

https://codepen.io/dzearing/pen/Rxxber

If you press enter on the "open panel" command (with keyboard), then press enter on the close icon, panel closes as expected.

If you press enter on the "open dialog" and then in the dialog, press enter on the open panel button within it, THEN the panel close button stops working. You can press escape to close it but you can't click

[2018-01-07 22:00] dzearing commented on #3665
@dylankil See what you mean. In this case, you have a scrollable div which is accepting scroll panning even when behind an overlay I believe. Should we be preventDefaulting pointerdown events in the overlay here?

[2018-01-07 22:10] dzearing commented on #3665
Maybe needs `touch-action: none`

[2018-01-07 22:58] #3638 closed

[2018-01-07 22:58] #3639 closed

[2018-01-08 16:24] LarsLiden commented on #3423
Much appreciated guys.  Let me know if there is anything else I can do to
be of assistance.

On Sun, Jan 7, 2018 at 1:33 PM, David Zearing <notifications@github.com>
wrote:

[2018-01-08 18:04] ryanwilliamquinn commented on #2064
@micahgodbolt did you ever sort this out? I have the same question.

[2018-01-08 18:24] Jahnp commented on #3673
Hey @mdmdakbar, I have a feeling this is largely something out of Fabric's control without changing the design to include larger borders. See this SO post for a brief discussion of what I mean: https://stackoverflow.com/questions/47349990/border-disappears-on-zoom-out-in-in-all-browser

Basically, how 1px borders show up will depend on the *device's* pixel density and how the OS/browser handle sub

[2018-01-08 18:24] #3673 closed

[2018-01-08 18:44] Jahnp commented on #3657
@aditima, any thoughts on this? I'm pretty sure I've seen implementations of GroupedList with the behavior @ramonitor is describing but I'm not the expert on the limitations here.

[2018-01-08 19:03] stanleyymsft opened #3675 "IComboBox.focus() doesn't offer option to expand the dropdown when focused"
### Bug Report

- __Package version(s)__: 5.38.1
- __Browser and OS versions__: ALL

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Blocking

Products/sites affected: SPO

Click on a ComboBox

The ComboBox is focused, but not expanded.

The ComboBox is focused and also automatically expanded.

[2018-01-08 21:26] matt-peck opened #3678 "Grid Layout for React Components"
Attempting to wrap a React Component in a Grid Layout for a fluid width change in the panel across devices like this:
`<div className="ms-Grid">
  <div className="ms-Grid-row">
    <div className="ms-Grid-col ms-sm12  ms-lg2">
      <Panel
           isOpen={ this.state.showPanel }
           onDismiss={ this._onClosePanel }>
      </Panel>
    </div>
  </div>
</div>`

or like this:
`<div class="m

[2018-01-08 21:42] mikewheaton commented on #3678
Do you have [Fabric Core](https://github.com/OfficeDev/office-ui-fabric-core) loaded on the page? It's no longer bundled with Fabric React, so the classes won't be available unless you've added it.

[2018-01-08 21:56] #3464 closed

[2018-01-09 01:15] russgove opened #3680 "Detect switching PivotItems"
Question: I'm  switching from react-tabs to fabric Pivot. how do I know when the user has switched tabs (er pivots)

[2018-01-09 04:28] prativen opened #3682 "Color Contrast Ratio issue for Link"
### Bug Report

- __Package version(s)__: 5.38.1
- __Browser and OS versions__: all

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes)

Requested priority: (Normal)

Products/sites affected: (VSTS)

#### Describe the issue:

Link component does not meet the high contrast ratio. Its just below the 4.5:1 requirement.
https://contras

[2018-01-09 09:11] nguyentoantuit opened #3683 "datepicker doesn't show today date value"
When I set value via props like this
`<DatePicker
                    formatDate={this.formatDate}
                    value={this.state.actionDate}
                />`
The value (this.state.actionDate) is not shown anymore. I have check the code, and see these lines of code

Because we init selectedDate = new Date() and formattedDate = ''

so  so !compareDates(oldValue!, value!) always return fal

[2018-01-09 10:27] ssingh28 opened #3685 "Read error message tied to text box on click of a button."
Requested priority: (Blocking, High, Normal, Low) : Blocked, accessibility issue

Products/sites affected: (if applicable):Webpart dev on  Microsoft Tenant site Collection

#### Describe the issue:

I am creating a webpart on sharepoint using typescript and reactjs where by in the configuration pane when a mandatory text field if not filled and the save button is clicked the error message is not r

[2018-01-09 10:37] salehaHussain commented on #3455
This is fair. Please do.

[2018-01-09 10:38] ssingh28 opened #3686 "The focus moves from configuartion pane to app launcher in o365 suite nav in webpart"
Requested priority: (Blocking, High, Normal, Low) :  : Blocked, accessibility issue

Products/sites affected: (if applicable): Webpart dev on Microsoft Tenant site Collection

#### Describe the issue:
As soon as the save button (which is the last control in the configuartion pane is clicked) the focus automatically shifts to app launcher in o365 suite nav. Focus ideally it should remain in configu

[2018-01-09 10:41] salehaHussain opened #3687 "[TagPicker][Accessibility][HighContrast]Tag Picker shows incomplete borders in Edge"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: Edge, High Contrast White

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: VS Marketplace

#### Describe the issue:

When navigating the Tags names in Edit field, keyboard focus is partially visible.

[2018-01-09 15:26] nero120 opened #3688 "How to implement form validation"
I can't see how best to implement form validation using the input controls. TextField, for example, has props for implementing validation in the UI, but how best to tie this in with a form onSubmit event? How can you trigger the TextField validation if the user never enters the field but just clicks the form submit button, TextField has no public validate or isValid props that could be interacted

[2018-01-09 15:29] matt-peck commented on #3678
Thanks for the quick response!

I had previously had this loaded on the html page:
`<link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/9.3.0/css/fabric.min.css">`

To be sure, I also installed the Fabric UI Core package with:
`npm install office-ui-fabric-core `

Then I imported it like so:
`import 'office-ui-fabric-core/dist/css/fabric.min.css';`

[2018-01-09 16:32] betrue-final-final commented on #3682
It actually passes this checker. Note that we build against the AA standard, and not the AAA standard. The AAA standard really is for high contrast themes, and not default configurations.
![image](https://user-images.githubusercontent.com/20363037/34731510-64efc554-f517-11e7-8a2a-9d1dbece650b.png)

[2018-01-09 16:32] #3682 closed

[2018-01-09 17:25] SpencerLynn opened #3689 "FocusTrapZone is not properly trapping focus."
### Bug Report

- __Package version(s)__: 5.6.0
- __Browser and OS versions__: Windows 10. Chrome. I believe this also reproduces on macOS and in other browsers.

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes, if some pointers as to where the issue could be.

Requested priority: High

Products/sites affected: N/A

#### Describe

[2018-01-09 18:19] vertonghenb commented on #3688
Nero,

You have multiple options:
Experiment with the Form components from the [Experiments package](https://github.com/OfficeDev/office-ui-fabric-react/tree/master/packages/experiments), which does form validation.
Since it wasn't really my cup of tea, I used the [ValueLink](https://github.com/Volicon/NestedLink) package and "subclassed" the normal React Fabric components.

In my opinion it gives

[2018-01-09 18:54] #3675 closed

[2018-01-09 18:54] #3642 closed

[2018-01-09 18:59] lambertwang commented on #3680
You can pass a callback to the `onLinkClick` property.
[Example here](https://developer.microsoft.com/en-us/fabric#/components/pivot)

[2018-01-09 19:15] derek-smith commented on #3387
I just wasted an hour trying to figure out why my Dialog wasn't rendering. Please update the documentation or the code to match.

[2018-01-09 19:18] ryhumble opened #3690 "Feature Request: Query Builder"
I'm porting over the request for a Query Builder component from the old Trello [board](https://trello.com/c/CEAR6LvG/11-query-builder-component).

My team has built one for our internal product right now and want to talk about contributing it to Office Fabric.

Are you willing to submit a PR to fix? Yes
Requested priority: Normal

[2018-01-09 19:25] betrue-final-final commented on #3690
Is there a designer working on this?

[2018-01-09 19:39] ryhumble commented on #3690
We had some input from a vendor designer, but nothing from a Microsoft designer.

It's built from mostly Fabric components with a feature set pretty similar to <http://querybuilder.js.org/>.

[2018-01-09 19:42] betrue-final-final commented on #3690
That's a pretty complex pattern. Do you have a designer available to help?

[2018-01-09 19:55] ryhumble commented on #3690
Unfortunately no. As we are internal only, we don't have permanent design resources.

[2018-01-09 19:58] betrue-final-final commented on #3690
You only create internal tools? There still should be guidance here if you're going to contribute a Fabric component. I would suggest building something and put it in the experiments repo for now. Let's see if we can get you some help. Maybe Tracy Childers?

[2018-01-09 20:51] abettadapur opened #3691 "SplitButton: In Safari, the SplitButton has mismatched heights"
### Bug Report

- __Package version(s)__: (fill this out) 5.29
- __Browser and OS versions__: (fill this out if relevant) Safari 11

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low) Normal

#### Describe the issue:

In Safari, the split button does not render with the correct height

![screen shot 2018-01-09 at 12 46 45 pm](https://user-images

[2018-01-09 21:24] NickSevens opened #3692 "Server side rendering: classnames do not match"
### Bug Report

- __Package version(s)__: 5.38.1

#### Describe the issue:

When using server side rendering, and applying `configureLoadStyles((styles) => {})`, I receive this warning/error in console, which results in CSS not being applied to my component(s):
`Warning: Prop 'className' did not match. Server: "_2bi0E" Client: "styles__header-2bi0E"`

I'm trying to work with ReactJS.Net for server

[2018-01-10 00:45] lambertwang commented on #3687
Setting the line-height of the `x` icon to 100% fixes this issue. It seems that the line-height was previously being inherited from the root element. In this case, the line-height was set to match the element height (`26px`).
The box-sizing of the root element was inherited from its container which was set to `border-box`. As a result, the when the outline was added in from the high-contrast mode,

[2018-01-10 00:57] martellaj commented on #3387
@dzearing @joschect Is there someone who owns this component right now? Pretty bad bug...

[2018-01-10 01:05] joschect commented on #3387
It looks like this has been this way for a long while. ITT this isn't a bug and a case of incorrect documentation @micahgodbolt might know more.

[2018-01-10 01:39] lambertwang opened #3693 "[ExampleCard] Hidden overflow hides left border on focused items."
![focus_borders_broken](https://user-images.githubusercontent.com/6496608/34751939-2ccbd1c0-f564-11e7-9b2c-52ee055c46bc.png)

### Bug Report

- __Package version(s)__: 5.38.1
- __Browser and OS versions__: (Windows Server 2016) Chrome, Firefox Dev, IE, (Ubuntu 16.04 Xenial) Firefox Nightly

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to f

[2018-01-10 02:08] russgove opened #3695 "conditionally hide icon button"
Hi ,
I have a component as follows
import * as React from 'react';
import { TextField, ITextFieldProps } from "office-ui-fabric-react/lib/TextField";
import { IconButton } from "office-ui-fabric-react/lib/Button";
export interface ITextFieldWithEditProps {
    value: string;
    onValueChanged?: (oldValue, newValue) => void;
    dangerouslySetInnerHTML?:boolean;
}
export class TextFieldWithEdit ex

[2018-01-10 05:36] nguyentoantuit commented on #3574
@abettadapur Have you had any information about this issue? I have another issue (#3683) that I believe it will be fixed as well if this bug was fix.

[2018-01-10 05:41] micahgodbolt commented on #3387
Yeah, we definitely need to get this sorted out. I "believe" that the code is correct and the documentation is wrong. The deprecated 'isOpen' has a default of false, as well as the Modal 'isOpen' defaults to false. So the intention is that modals do not display by default (and are typically controlled components anyway).

If we make a change, I'd like to see both Modal and Dialog updated to being

[2018-01-10 05:42] micahgodbolt commented on #3387
but in the same breath, props are typically false by default and enabled by setting them to true. So i'm even wondering why we moved away from 'isOpen' which is a prop you can set to true to change the default state.

@dzearing. Was there a reason we opted to use 'hidden' instead of 'isOpen'? Or did I deprecate the wrong prop (very possible).

[2018-01-10 06:57] shyama1208 opened #3696 "Panel does not have horizontal scrolls"
No horizontal scroll bars when the zoom level is high.
Steps to repro the issue:
1. Go to  : https://developer.microsoft.com/en-us/fabric#/components/panel
2. Open Custom Panel.
3. When the screen resolution is low(1024 x 768) and browser zoom level is high (200%), the content in the panel is truncated and there is no horizontal scroll bar.

[2018-01-10 07:49] ankitk94 opened #3697 "[Accessibility][PivotBar] aria-posinset and aria-setsize are missing"
### Bug Report

- __Package version(s)__: 5.29.1
- __Browser and OS versions__: Edge

#### Describe the issue:

aria-posinset and aria-setsize properties are not defined for pivot bar items. Identified the issue using inspect tool with edge

### If applicable, please provide a codepen repro:

Issue also present on office fabric site

[2018-01-10 07:58] NickSevens commented on #3695
You can hide it using conditional rendering:
 `{this.props.onValueChanged && <IconButton iconProps={{iconName:"Edit"}} />}`

[2018-01-10 10:37] ankitk94 opened #3698 "[MessageBar][ColorContrast] Contrast ratio not followed by message bar icons"
#### Describe the issue:

Message bar icons not following contrast ratio guidelines for:
1. Info message bar (contrast ratio: 4.12)
2. SevereWarning message bar (contrast ratio: 3.52)
3. Warning message bar (contrast ratio: 4.12)

#### Expected behavior:

Message bar icons should follow the contrast ratio guidelines and should have at least contrast ratio of 4.5:1.

[2018-01-10 12:26] salehaHussain opened #3699 "[GroupedList][Accessibility] - Any status role inside GroupedList is not read by narrator on Edge."
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: Edge Narrator Combo, Windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites affected: VS Marketplace

#### Describe the issue:

Having an aria role status inside a role="listitem" parent, will prevent Narra

[2018-01-10 15:58] trevorsg opened #3700 "styleToClassName will register style properties with undefined values"
### Bug Report

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes, coming shortly

Requested priority: Normal

Products/sites affected: VSTS (IE11)

#### Describe the issue:

IE11 under some conditions behaves strangely when using the JavaScript API to specify a style rule with `undefined` as its value. Specifically, the `getIcon` m

[2018-01-10 17:39] betrue-final-final commented on #3698
Good bug. Both the design and the build match and do not pass contrast. My suggested fixes:

1. Info - Change icon color to neutralSecondary
2. SevereWarning - Change icon color to redDark
3. Warning - Change icon color to neutralSecondary

I'll update the pending design toolkit, but we'll need a code fix.

[2018-01-10 19:07] abettadapur commented on #3574
@nguyentoantuit This is the same issue that led me to submit the PR, so it should be fixed

[2018-01-10 19:09] lynamemi commented on #3698
@betrue-final-final I can lump this in with my other MessageBar updates

[2018-01-10 19:21] betrue-final-final commented on #3698
Glorious!

[2018-01-10 20:34] betrue-final-final opened #3702 "Checkbox and radio button active borders should be neutralSecondary"
### Bug Report

Are you willing to submit a PR to fix? (Yes)

Requested priority: (Normal)

Checkboxes and radio buttons are too heavy visually compared to other controls.

Expected behavior: Should share the same border color as other controls, like toggles. This is neutralSecondary. Other states are ok.
![image](https://user-images.githubusercontent.com/20363037/34794134-8a0bb758-f602-11e7-94f7-

[2018-01-11 04:55] vamsi981 opened #3706 "is It Possible to Add Custom Button to Default Command bar after Webpart is added in Modern Page"
Is there a way to add SPFX Custom Actions to add into default Sharepoint CommandBar instead of new commad Bar for the webpart

**Current behaviour**
![defaultcommandbar](https://user-images.githubusercontent.com/881555/34809218-abd929a8-f6b9-11e7-842c-05f720a1c051.PNG)

**Required behaviour**
![custom commad](https://user-images.githubusercontent.com/881555/34809283-036b0ee8-f6ba-11e7-8e45-4abfc38

[2018-01-11 12:00] ipip2005 commented on #3685
I think this one needs more details and reproduces as the reading works for me with Edge + Narrator on the "Quick Chart web part" where I type a invalid number e.g. "abc" in a value textbox.

[2018-01-11 12:57] nikhilexe commented on #3682
Actually its failing for small font text. see this link. It seems the above link is only checking for 18pt.

https://webaim.org/resources/contrastchecker/
![image](https://user-images.githubusercontent.com/25940082/34826545-f7e64d24-f6fc-11e7-8c75-ffcf3ea88223.png)

Check here also http://www.wyngcontrastchecker.com/

[2018-01-11 14:03] betrue-final-final commented on #3682
This checker is contradicting itself as 4.5:1 passes AA.

[2018-01-11 14:15] jspurlin opened #3707 "OverflowSet: Add the ability to set aria-label"
### Bug Report

- __Package version(s)__: 5.39.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: Office Online

#### Describe the issue:

Currently there's no way to set aria-label for the OverflowSet outside of passing the properties through on the FocusZoneProps prop, which

[2018-01-11 16:45] betrue-final-final commented on #3682
The above checker did check for smaller font text, if you look closer at the screenshot.
![image](https://user-images.githubusercontent.com/20363037/34836019-710d995c-f6ab-11e7-96dc-e10e01bbaddc.png

The other checker also shows 4.5:1
![image](https://user-images.githubusercontent.com/20363037/34836114-b85301a8-f6ab-11e7-9265-638cecad236c.png)

[2018-01-11 17:56] nikhilexe commented on #3682
I guess it could be precision issue, in one of the tool its giving 4.49:1, if you just changed one shade the foreground color to #0078D6 then it passed the test both place.

[2018-01-11 18:05] betrue-final-final commented on #3682
We actually had a long conversation about this earlier, involving a number of accessibility experts. It's actually 4.495:1. Our contrast experts stated making change to make it 4.5:1 is imperceptible to the naked eye. This color is the brand color for Outlook and one we use extensively in many of our components. Changing this would have a huge impact on many teams for little to no benefit other th

[2018-01-11 18:18] nikhilexe commented on #3682
Thanks @betrue-final-final, given that its a brand color for outlook and used extensively in many components then it doesn't make sense to change it which is not easy to perceive.

[2018-01-11 18:22] betrue-final-final commented on #3262
Before this closes, I'd like to clarify a couple of things:

1. This is indeed a contrast issue bug
2. This is not a **high contrast** issue. High contrast is specifically modes that can be set in an OS or browser that enables higher than standard contrast for the display.

[2018-01-11 18:41] JoshuaKGoldberg opened #3709 "TypeError: Utilities_1.css is not a function​​ in Wallaby.js"
### Bug Report

- __Package version(s)__: 5.59.2
- __Browser and OS versions__: VS Code 1.19.1 on Windows 10 & Mac

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: High

Products/sites affected: Office Sway

#### Describe the issue:

We use [https://wallabyjs.com/](Wallaby.js) to run real-time unit tests with

[2018-01-11 19:15] battletoilet commented on #252
Thanks for you feedback but we will not be fixing this as of now and may consider fixing it in the future.

[2018-01-11 19:15] #252 closed

[2018-01-11 19:19] battletoilet commented on #332
This is something we can revisit in the future but for now we are going to close this.

[2018-01-11 19:19] #332 closed

[2018-01-11 19:28] battletoilet commented on #351
Closing.

[2018-01-11 19:28] #351 closed

[2018-01-11 19:29] battletoilet commented on #393
Assigning to @johannao76, please free to assign to someone else or close it if it doesn't make sense anymore.

[2018-01-11 19:34] #610 closed

[2018-01-11 19:37] battletoilet commented on #662
Search box has been revamped since this issue was opened. As of now this is not something we will pursue.

[2018-01-11 19:37] #662 closed

[2018-01-11 19:39] battletoilet commented on #664
We will not be fixing this at this time, closing for now and we can reopen in the future.

[2018-01-11 19:39] #664 closed

[2018-01-11 19:41] battletoilet commented on #702
Closing as of now, we can reopen this at a later time if we find this issue still valid.

[2018-01-11 19:41] #702 closed

[2018-01-11 19:44] #776 closed

[2018-01-11 19:45] #778 closed

[2018-01-11 19:46] #780 closed

[2018-01-11 19:47] #784 closed

[2018-01-11 19:47] battletoilet commented on #784
Please see prefix and suffix props.

[2018-01-11 20:00] Jahnp commented on #822
@fantua, we're cleaning up old issues that haven't had traction on them in awhile--please feel free to reopen if this is still an issue.

@johannao76, since your team owns DatePicker, can you take a look at this and see if this still needs to be addressed?

[2018-01-11 20:06] battletoilet commented on #879
We should keep focus on command bar and only move focus to the menu on down arrow.

[2018-01-11 20:10] adiazcan commented on #3603
Hello, I have the same problem with latest version (5.39.0), do you find any solution? With version 4.28.0 everything works

[2018-01-11 20:26] #3702 closed

[2018-01-11 20:34] betrue-final-final commented on #3622
This is busted. @lynamemi, want to learn high contrast. Get me if you want to deal with this. Should be easy.

[2018-01-11 20:35] betrue-final-final commented on #3621
Another one @lynamemi

[2018-01-11 20:37] betrue-final-final commented on #3622
Dupe of #3419

[2018-01-11 20:37] #3622 closed

[2018-01-11 21:02] betrue-final-final commented on #1595
This is fixed for Narrator on Chrome, Edge, and Firefox. As this is a JAWS only bug, will send the issue to our JAWS contact.

[2018-01-11 21:02] #1595 closed

[2018-01-11 21:09] betrue-final-final commented on #1597
This is still an issue, for both focustrap and calling itself out.

[2018-01-11 23:41] betrue-final-final opened #3711 "Need Semantic slot for small input control borders"
Currently we use bodySubtext for the borders on toggle, radio and checkbox, but need to create a real slot for them. These can't use inputBorder colors as the borders are integral to the interaction of the control, and that color doesn't pass contrast.

This new "smallInputBorder" slot should use neutralSecondary.

[2018-01-12 02:49] JoshuaKGoldberg commented on #3709
The problem was in the Wallaby.js config file, as pointed out by ArtemGovorov.

[2018-01-12 02:49] #3709 closed

[2018-01-12 07:38] lovakumar opened #3714 "Focus indicator should be clearly visible while navigating to Primary Button, Default Button and close button in Dialog control"
Issue #1: Focus indicator should be clearly visible while navigating to Primary Button, Default Button and close button in Dialog control.

Issue #2: **In high contrast mode** focus indicator should be clearly visible while navigating to Primary Button, Default Button and close button in Dialog control.

Details:
Button with icon props
Primary Button
Default Button
Close (X) button on the right to

[2018-01-12 08:25] aadhars opened #3715 "[Picker][TagPicker][Accessibilty] Search suggestions of tags are not announced by Narrator"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: Edge

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable) VSTS

#### Describe the issue:

Narrator is not announcing the suggestion that appear in

[2018-01-12 11:40] jjohnsen opened #3716 "DatePicker: Does not call onSelectDate when field is cleared and isRequired is set"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__:

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:

When DatePicker is created with isRequired and allowTextInput set to true, onSelectDate is not called when the input for the date string is cleared.

[2018-01-12 13:53] nero120 commented on #3688
Interesting, thanks for the great info @vertonghenb. I'll take a closer look at both.

[2018-01-12 13:53] #3688 closed

[2018-01-12 16:02] betrue-final-final commented on #3714
I'm not seeing issue 1. Do you have repro steps?
![image](https://user-images.githubusercontent.com/20363037/34883616-ef4fb746-f76e-11e7-9692-416d30298e79.png)

Issue 2 is a duplicate of issue #3419

[2018-01-12 21:04] micahgodbolt commented on #3695
this is definitely the proper solution. don't render the icon if your check if false. closing this up.

[2018-01-12 21:04] #3695 closed

[2018-01-12 21:11] #3700 closed

[2018-01-12 21:17] micahgodbolt commented on #3696
its not as much scroll as width vs max width. The panels are absolutely positioned and a hard width is set. If the screen is smaller than the width, the panel overflows. Changing these to max-width should solve the issues. Is this a change you'd be comfortable making? I'd be happy to review the code.

[2018-01-12 21:19] #3680 closed

[2018-01-12 23:13] lynamemi opened #3717 "PeoplePicker: Line height / text overflow issue"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable)

#### Describe the issue:

Line heights are causing desc

[2018-01-12 23:17] #3644 closed

[2018-01-12 23:17] #3574 closed

[2018-01-14 10:54] nguyentoantuit opened #3719 "Dropdown: Display above if not enough space below"
![image](https://user-images.githubusercontent.com/6096518/34915158-90a75eba-f953-11e7-9d37-7b4beb5ae9bc.png)
Currently, I have problem with dropdown that if there is less space at bottom the dropdown selections is still shown at bottom which is quite hard for end-user selects the correctly option that he/she want. So it is really handy if the dropdown options show at the top of dropdown if there

[2018-01-15 10:21] prmittal opened #3721 "Checkbox: Keros tool failure for rule keros-redundant-labels-instructions"
#### Describe the issue:

On running keros tool on checkbox input (eg: https://developer.microsoft.com/en-us/fabric#/components/checkbox), the "keros-redundant-labels-instructions" rule fails.

![image](https://user-images.githubusercontent.com/11937034/34936345-0b6eaf0a-fa07-11e7-8280-c8f94ed05629.png)

The button text and explicitly provided label have redundant information.

#### Expected behav

[2018-01-15 10:35] vamsi981 opened #3722 "PeoplePicker Validation to the Form Validation Examples"
Is there any example to add PeoplePicker Form Validation like textbox and Dropdown Validations in the below Samples.
https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/experiments/src/components/Form/examples/Form.Validation.Example.tsx

[2018-01-15 10:37] prmittal opened #3723 "Breadcrumb: no label for "..." button"
#### Describe the issue:

Example on https://developer.microsoft.com/en-us/fabric#/components/breadcrumb

![image](https://user-images.githubusercontent.com/11937034/34938303-e030ba84-fa0d-11e7-9843-e0ee7725302f.png)
![image](https://user-images.githubusercontent.com/11937034/34938322-f2de4e4e-fa0d-11e7-8d18-3afcdeaed9be.png)

#### Actual behavior:
The label value is empty.

#### Expected behavior

[2018-01-15 17:32] dzearing commented on #3603
It seems that you may be missing @types/react package or may be on a new version. Can you try installing that

[2018-01-15 17:33] dzearing commented on #3603
Ugh mobile, messing up mag

[2018-01-15 17:53] aappddeevv opened #3724 "allow mergeStyles to inject into a specific target element, allows ease of use with React.createPortal"
With React.createPortal, we can push our react tree into different parts of the dom including other iframes. iframes are used heavily in some MS business applications like Dynamics. In order to allow the fabric elements to be styled, we need to be able to push styles into the parent iframe. Hence, we need the class `Stylesheet` to allow us to set a specific target element to add the style element

[2018-01-15 18:00] aappddeevv commented on #3724
Just as a quick note, webpack style-loader has a insertInto option that allows you to do this for webpack bundled CSS files.

[2018-01-15 23:09] dzearing commented on #3724
Interesting, just to cover the bases:

It is easy to add the ability to configure the style element to inject into. However, just want to run through your case to make sure I totally understand:

Your app is running. Styles have been injected.
You open an iframe and render a portal. You want the styles from the parent frame to become available in the child frame.

And... if in the parent frame new

[2018-01-16 05:59] ssingh28 commented on #3685
@ipip2005 : The issue is related to the scenario where if an invalid value is entered in the textbox and the button is clicked the screen reader should read out the error message. Can you please share the webpart where you find this is working so i can have a look.

[2018-01-16 08:21] jansomers opened #3725 "Wrapping in <Fabric> component causes typeerror"
### Bug Report

- __Package version(s)__: 5.39.1 (typescript 2.6.2)
- __Browser and OS versions__: Chrome

#### Priorities and help requested (not applicable if asking question):

Requested priority: Cannot add fabric to my project

#### Describe the issue:

When installing office-ui-fabric-react and adding it to the project , by wrapping <Fabric> around my component, the browser is giving me a ty

[2018-01-16 08:50] jansomers commented on #3725
It is caused by a conflict with the react-hot-loader babel plugin

[2018-01-16 12:46] samikroy opened #3726 "Feature Request : Option to select "All" in multi select dropdown"
Currently Multiselect dropdown component allows to select multiple choices. Is there a possibility to have an option as "All". Upon check and uncheck by the users, all other options will be checked and unchecked  respectively. In case of unchecking  any option "All" should get unchecked as well.
Can this be a new property to the dropdown component.

[2018-01-16 13:37] vamsi981 commented on #3688
Hello @vertonghenb  @nero120  any Luck on the validation of Office fabric react Components. can you share some of the examples for peoplepicker and input fields

[2018-01-16 15:27] betrue-final-final commented on #3726
This isn't usually a feature seen in these as the more common case is just selecting a couple, and this would add a whole new row. We'll take it under advisement and get back to you.

[2018-01-16 16:34] mikewheaton commented on #3240
Looks like this is being fixed in #3720

[2018-01-16 17:13] aappddeevv commented on #3724
I think we only need one target style element that is controllable through some initialization process. That target style element may or may not be in the same window as the where the assets are being loaded. I think your text suggested that there could be more than one.

We need this for font loading as well via `iconsInitialize` but that's another story.

Here's the DOM scenario:
* Parent IFrame

[2018-01-16 17:46] #3687 closed

[2018-01-16 19:31] carruthe opened #3729 "Background color incorrect in DetailsList control when used in the grouped mode."
### Bug Report

- __Package version(s)__:  15.39.1
- __Browser and OS versions__: macOS, Windows, Commodore 64, all browsers

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? ( No)

Requested priority: (High to Normal)

#### Describe the issue:

When using the DetailsList control in grouped mode, the background of the indent 'ms-GroupS

[2018-01-16 21:43] betrue-final-final commented on #1615
This is no longer reproing.

[2018-01-16 21:43] #1615 closed

[2018-01-16 21:44] betrue-final-final commented on #1614
Still is an issue.

[2018-01-16 21:45] betrue-final-final commented on #1613
No longer reproes.

[2018-01-16 21:45] #1613 closed

[2018-01-16 21:46] betrue-final-final commented on #1612
No longer repros.

[2018-01-16 21:46] #1612 closed

[2018-01-16 21:49] betrue-final-final commented on #1611
No longer reproes.

[2018-01-16 21:49] #1611 closed

[2018-01-16 21:51] betrue-final-final commented on #1609
Still reproes the second comment issue.

[2018-01-16 21:52] betrue-final-final commented on #1608
Still reproes.

[2018-01-16 21:54] jonathaneckman commented on #2118
This hurt us too. Any update?

[2018-01-16 23:23] jonathaneckman opened #3730 "Less globals please"
Using window.FabricConfig is a pain in the butt. Please use something other than a global for configuration.

[2018-01-17 00:19] Jahnp commented on #3723
It seems reasonable to provide an aria-label for the overflow. In OneDrive and SharePoint Document Libraries, we use "More folders". I'm wondering if Fabric's overflow should be configurable, or if it should just provide a generic default value like "More items". @betrue-final-final @cschlechty, thoughts?

[2018-01-17 01:01] battletoilet commented on #1038
This issue has been resolved.

[2018-01-17 01:01] #1038 closed

[2018-01-17 01:14] battletoilet commented on #1419
Thank you @rrdelaney for this fix. Since we haven't heard back from @rohmanhm we will close this issue out.

[2018-01-17 01:14] #1419 closed

[2018-01-17 01:19] battletoilet commented on #1457
@justinmwarner, can you verify this is still an issue? It looks like your codepen is working as expected.

[2018-01-17 01:19] #1457 closed

[2018-01-17 01:26] battletoilet commented on #2114
The panels were setup this way so this is not considered a bug. But we will eventually look into this further.

[2018-01-17 01:26] #2114 closed

[2018-01-17 02:16] #3240 closed

[2018-01-17 04:09] jekaspekas opened #3731 "Set dropdown state on redux-form reset"
Hello!
I'm using Dropdown as redux-form Field component.
I need to programmatically change the Dropdown value and state on form reset like this [example](https://redux-form.com/7.1.2/examples/initializefromstate/).

This code changes Dropdown value but does not change Dropdown state **selectedIndices**:
[Account.txt](https://github.com/OfficeDev/office-ui-fabric-react/files/1637587/Account.txt)

T

[2018-01-17 09:31] prmittal opened #3732 "DetailsList: Column header aria-describedby value is invalid"
#### Describe the issue:
The value for aria-describedby for details list column header is invalid since it is not present in the dom.
Example on https://developer.microsoft.com/en-us/fabric#/components/detailslist

![image](https://user-images.githubusercontent.com/11937034/35034004-b4675a12-fb92-11e7-9669-33adeff80ecd.png)

#### Actual behavior:
The property is set to a tooltip element which is n

[2018-01-17 10:35] prmittal opened #3733 "ChoiceGroup: no alt defined for options with images"
#### Describe the issue:

No alt value is defined for choice group images.

![image](https://user-images.githubusercontent.com/11937034/35038122-c1cd7a44-fb9f-11e7-981b-4324ea8f76cc.png)

#### Actual behavior:

![image](https://user-images.githubusercontent.com/11937034/35038113-b65d9c2a-fb9f-11e7-9cc1-04c9576fefa0.png)

#### Expected behavior:

A valid alt value should be present. See https://deq

[2018-01-17 10:41] prmittal opened #3734 "TagPicker: few invalid aria attributes"
#### Describe the issue:

Example taken from https://developer.microsoft.com/en-us/fabric#/components/pickers

![image](https://user-images.githubusercontent.com/11937034/35038466-e68a3f88-fba0-11e7-997d-d5c6ebb55702.png)
(Above image is taken after running Keros fast pass)

#### Expected behavior:

All aria attributes should be valid

[2018-01-17 11:16] roofs-runner commented on #3378
Is there any progress with this issue? Because my long list is not fully rendered even if I set isHeaderVisible to false. Although, if I click the list near the white, blank space, a new portion of items is added.

[2018-01-17 12:17] bhaveshbhati opened #3735 "Focus is not visible on Pivot with link format as tabs in high contrast"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: Edge

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

Focus is not visible on selected pivot tab item in Pivot (linkformat = PivotLin

[2018-01-17 15:54] hckrmoon commented on #3692
+1 I am using this with Next.js but having same problem with @NickSevens.

[2018-01-17 19:13] ramonitor commented on #3657
Any updates on this?

[2018-01-17 19:17] NickSevens commented on #3692
Seems I copied the wrong error message here. The one I got was:
Warning: Prop className did not match. Server: "ms-Label root-0" Client: "ms-Label root-32"

[2018-01-17 23:38] kristoferbrown commented on #1698
The change to UHF fixes this problem.

[2018-01-17 23:38] #1698 closed

[2018-01-17 23:54] kristoferbrown commented on #967
None of these specific issues appear to exist anymore. @graham-sportsmgmt, feel free to reopen this issue with more details if you see any specific issues.

[2018-01-17 23:54] #967 closed

[2018-01-18 00:14] kristoferbrown commented on #1005
@nipunja, the onEmptyInputFocus prop of pickers can be used to accomplish this. See the peoplePicker (https://developer.microsoft.com/en-us/fabric#/components/peoplepicker) for an example of this being done.

[2018-01-18 00:14] #1005 closed

[2018-01-18 00:22] kristoferbrown commented on #1199
@ipip2005, the PeoplePicker now supports force-resolving single items. The onValidateInput prop can be use to control whether or not the entered text is resolvable, resolvable with an error, or not resolvable.

[2018-01-18 00:22] #1199 closed

[2018-01-18 00:38] #1323 closed

[2018-01-18 00:44] #1377 closed

[2018-01-18 00:50] kristoferbrown commented on #1415
Rating now supports partial stars of arbitrary size.

[2018-01-18 00:50] #1415 closed

[2018-01-18 18:39] kristoferbrown commented on #1782
The date picker supports limited date ranges now. See the example on the documentation page: https://developer.microsoft.com/en-us/fabric#/components/datepicker

[2018-01-18 18:39] #1782 closed

[2018-01-18 18:41] #1831 closed

[2018-01-18 18:41] #3711 closed

[2018-01-18 18:48] #1873 closed

[2018-01-18 18:48] betrue-final-final commented on #1606
No longer reproes in Narrator.

[2018-01-18 18:48] #1606 closed

[2018-01-18 18:50] betrue-final-final commented on #1605
Still an issue.

[2018-01-18 18:55] betrue-final-final commented on #1604
Issues remaining
Add face doesn't announce when a face is added. Should say "Face added"
When first entering the facepile, arrowing right at first says "End of line" and does nothing. The next arrow navigates.

[2018-01-18 19:01] betrue-final-final commented on #1603
No repro. There's an issue where using the down arrow doesn't announce a state change, but a different bug.

[2018-01-18 19:01] #1603 closed

[2018-01-18 19:21] battletoilet commented on #989
You can render an icon in the link but it's not part of the initial contract for Link.

[2018-01-18 19:37] battletoilet commented on #3734
Hey @joschect, can you see which ARIA tag is invalid here and do we have a bug. Also @cschlechty open for comments as well.

[2018-01-18 19:45] battletoilet commented on #3730
Can you explain your concern a bit more here?

[2018-01-18 19:50] battletoilet commented on #3729
@aditima would have some time to take a look at this?

[2018-01-18 19:55] battletoilet commented on #3725
Is this error specific to the `<Fabric>` component? Can you try adding just a button to see if the same error is triggered?

[2018-01-18 20:03] joschect commented on #3734
@battletoilet  and @cschlechty  I'm pretty sure both of those are valid aria attributes. Please correct me if I'm wrong Chris. Also they should both be fine. Maybe it's upset with `sug--1` ?

[2018-01-18 20:13] joschect commented on #3734
@battletoilet  and @cschlechty I see the problem sug--1 doesn't exist, for some reason an extra - is being added. Should be a quick fix.

[2018-01-18 20:16] joschect commented on #3734
Now I'm confused again, it appears correct when I'm testing
![image](https://user-images.githubusercontent.com/20801176/35119339-752da36c-fc49-11e7-9e96-b1ba41d07762.png)

[2018-01-18 20:17] joschect commented on #3734
@prmittal is it possible that you were looking at an old version?

[2018-01-18 21:01] betrue-final-final commented on #1602
The Narrator issue above still exists. I also think that we may want to consider a shorter synopsis for each card, as it is very verbose.

[2018-01-18 21:03] betrue-final-final commented on #1601
All these issues seem to be resolved.

[2018-01-18 21:03] #1601 closed

[2018-01-18 21:05] betrue-final-final commented on #1600
All the issues are resolved excepting for the section headers bug.

[2018-01-18 21:07] betrue-final-final commented on #1599
The submenu issue still repros.

[2018-01-18 21:08] betrue-final-final commented on #1598
Still valid.

[2018-01-18 21:09] betrue-final-final commented on #1597
All previous issues are fixed except for the focuszone issue.

[2018-01-18 21:13] betrue-final-final commented on #3508
Not repro. It now announces itself as a dialog.

[2018-01-18 21:14] #3508 closed

[2018-01-18 21:42] #3119 closed

[2018-01-18 21:42] Jahnp commented on #3722
This seems like a reasonable scenario to add examples for. @joschect, thoughts? None of the PeoplePicker examples explicitly demo validation.

[2018-01-18 21:54] #3611 closed

[2018-01-18 22:00] kristoferbrown commented on #2176
@ThatCarterMcBride, feel free to reopen this issue if the previous comment did not resolve your question.

[2018-01-18 22:00] #2176 closed

[2018-01-18 22:08] Jahnp commented on #3721
@prmittal, can you please provide more specific details on what the expected fix should be here? I ran the keros tool myself on this page and am not able to reproduce the "keros-redundant-labels-instructions" rule.

Further, when I inspected the components that are flagged in the background of your screenshot and compare their DOM structure to what's expected for "Native widgets", they don't appea

[2018-01-18 22:08] #3721 closed

[2018-01-18 22:12] kristoferbrown commented on #2435
@JPeissker, I'm not able to reproduce this issue. If you are still seeing this occur, please reopen this issue and add more details on how to get this issue to occur.

[2018-01-18 22:12] #2435 closed

[2018-01-18 22:18] Jahnp commented on #3719
@micahgodbolt, thoughts? Is this something you could take a look at?

[2018-01-18 22:19] joschect commented on #3722
@vamsi981 and @Jahnp right now the pickers don't have validation. I'll look into adding it.

[2018-01-18 22:26] kristoferbrown commented on #2609
DatePicker now supports limiting the date options.

[2018-01-18 22:26] #2609 closed

[2018-01-18 22:31] Jahnp commented on #3722
@joschect just to be clear, do you mean PeoplePicker doesn't support validation at all? Or just that there aren't examples of it? The interfaces on [PeoplePickers page](https://developer.microsoft.com/en-us/fabric#/components/peoplepicker) suggest that it does support validation (`onValidateInput`, `ValidationState` enum, etc.), though I haven't looked into it closely myself.

[2018-01-18 22:46] joschect commented on #3722
@Jahnp it kinda supports it, but not in the way the Forms do. It let's the consumer specify a function to determine if specific text isn't allowed. If that text isn't allowed it's up to the consumer to change style/add an error message. This is different than the form elements in that they manage that error state themselves. So it is feasible to use a picker with error logic, but in order to have

[2018-01-18 22:56] micahgodbolt commented on #3719
We initially had dropdown displaying to the side if not enough space below. I believe it was a design decision to force it below (i.e. drop"DOWN"). I'm fine with a change as long as it passed by design.

[2018-01-18 23:00] kristoferbrown commented on #3252
@lynamemi, did your previous PR completely fix this issue, or can you clarify which items still need adjustment?

[2018-01-18 23:04] lynamemi commented on #3252
Yes these should all be fixed. @betrue-final-final if you find any other discrepancies, feel free to open a new issue!

[2018-01-18 23:04] #3252 closed

[2018-01-18 23:11] mikewheaton commented on #3723
The text in components is always configurable to support localization, right? But maybe we could default it to English text so it's at least accessible for that audience.

[2018-01-18 23:50] #1026 closed

[2018-01-18 23:51] #146 closed

[2018-01-18 23:56] kristoferbrown commented on #3299
Looks like it's a bug to me, it's being caused by the background color of .cellIsActionable

[2018-01-19 00:02] #3350 closed

[2018-01-19 00:03] betrue-final-final commented on #3723
More items seems reasonable. More reasonable than nothing.

[2018-01-19 00:06] kristoferbrown commented on #3374
Have you tried something similar to the how the example PeoplePicker works with "Delay Suggestion Results" turned on? Is implementing something similar to that sufficient for your needs, or did I misunderstand your request?

https://developer.microsoft.com/en-us/fabric#/components/peoplepicker

[2018-01-19 00:16] oengusmacinog commented on #3733
This has been resolved by pull request https://github.com/OfficeDev/office-ui-fabric-react/pull/3742 in reguards to issue "#1026 ChoiceGroup: Support image alt text", so I am closing this issue.

[2018-01-19 00:16] #3733 closed

[2018-01-19 02:34] jekaspekas opened #3746 "TextField spellcheck attribute"
Hello!
Sometimes I need to turn off (on) the spell check in the TextField.
Please add next line:
`spellCheck: boolean;`

in file:

Thanks in advance!

[2018-01-19 05:01] prmittal commented on #3734
I tried the scenario on https://developer.microsoft.com/en-us/fabric#/components/pickers
and this is what I see:
![image](https://user-images.githubusercontent.com/11937034/35135509-b9465642-fd03-11e7-9a6f-e63875b80263.png)

[2018-01-19 05:02] prmittal commented on #3734
Sorry, closed the issue by mistake.
For the version, it could be the link above has not been updated.

[2018-01-19 06:27] #2131 closed

[2018-01-19 06:30] Soedy opened #3747 "Rating: Not working on OSX 10.10.5"
### Bug Report

- __Package version(s)__: 5.39.1
- __Browser and OS versions__: Safari 10.1.2 and Firefox 52.5.2 on OSX 10.10.5

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No
Requested priority: Low

Products/sites affected: only a demo project

#### Describe the issue:

When clicking the stars of the rating component, nothing ha

[2018-01-19 08:11] kmosti commented on #3373
Yes, a display: none style is applied once the window width is less than 640px.

[2018-01-19 10:43] lszomoru opened #3748 "Dropdown errorMessage style inconsistent with TextField errorMessage style"
### Bug Report

- __Package version(s)__: 5.20.2
- __Browser and OS versions__: Chrome 63.0.3239.132, Windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:
The errorMessage style for the Dropdown component is inconsistent (font, location, "*") with the errorMessage style

[2018-01-19 16:26] #3698 closed

[2018-01-19 16:52] russgove commented on #3282
same issue here. I dont see how to properly 'bind' the control to a  number field in my data model. Seems I have to do something like:
 onBlur={(e) => {
        debugger;
        let value = e.currentTarget.value;
        value = this._removeSuffix(value, suffix);
        item["item.newHoursSpent"]=parseFloat(value);
        console.log('onBlur called')
      }

I don't see an onChange event(4..51

[2018-01-19 17:07] russgove commented on #3282
The onBlur does not get called every time a spin button loses focus. I had to put my save logic in  onValidate, on Increment and onDecrement
 return (<SpinButton
      label=""
      value={item.newHoursSpent + suffix}
      min={-168}
      max={168}
      step={0.25}

      onValidate={(value: string) => {
        value = this._removeSuffix(value, suffix);
        if (isNaN(+value)) {

[2018-01-19 19:37] apearson commented on #332
I think this is a great proposal and would make the component more useful in different situations.

[2018-01-19 19:52] Jahnp commented on #3719
Thanks for the quick response! Ha, I always assumed the "down" part was just a colloquialism, since afaik most native menus like this will respond to screen position, including "dropping up" if needed.

That said, do you remember who made that design decision so we can check with them? I checked with @betrue-final-final and he agrees they should reposition if there isn't enough space to display, s

[2018-01-19 20:07] micahgodbolt commented on #3719
No, I don't have a strong recollection. @David Zearing<mailto:dzearing@microsoft.com> might remember a bit better.  I can say that I was the one to make the change back in August.

https://github.com/OfficeDev/office-ui-fabric-react/pull/2383
[https://avatars0.githubusercontent.com/u/1434956?s=400&v=4]<https://github.com/OfficeDev/office-ui-fabric-react/pull/2383>

Dropdown: Support custom widths

[2018-01-19 21:25] lynamemi commented on #3663
You can achieve this with the props we currently have. If you specify `isMultiline={ false }`, the button will shift up.  Currently this prop defaults to true. Here's an example from the website:

![image](https://user-images.githubusercontent.com/16619843/35172339-15a964ac-fd1c-11e7-8016-2a4f65e9d40a.png)

[2018-01-19 21:25] #3663 closed

[2018-01-20 00:07] russgove commented on #2064
Hi, I  git it working after a bunch of trial an error. It's easy to do with lodash.
i documented how to do it at https://yetanothersharepointblog.wordpress.com/2017/06/23/using-the-office-ui-fabric-grouped-detailslist-in-react-bases-spfx-webparts/

[2018-01-20 00:18] #1535 closed

[2018-01-20 02:13] jonathaneckman commented on #3730
Our environment forbids internal application code sending requests to external resources. By default, fabric is configured to pull fonts from a public CDN. I learned from #3024 and #2118 that I needed to override this with:

[code]
I struggled to find a way to set this global in my existing app code and bundle it with webpack. I instead had to put it in a separate js file and reference it on the p

[2018-01-20 07:00] #3604 closed

[2018-01-20 07:18] #2525 closed

[2018-01-21 22:06] koltyakov commented on #819
Any update on this?

[2018-01-22 09:22] vamsi981 opened #3755 "Details List not resetting selection state after items are reloaded"
Details list  Not Resetting selection state after items are reloaded, selection state is maintained same once the item is removed from the existed items list it is selecting old index.

[code]

[2018-01-22 11:11] saurabhsuniljain commented on #445
Similar to this issue, I wanted to override the border / outline property of Dropdown component but I am not able to do so.

Also I see a style prop for Dropdown component but I am not able to figure out what's that for and how to use it.

[2018-01-22 11:47] akashperfect opened #3756 "[Search Box] The search box text appears dark black on IE 11 as compared to other browsers like chrome"
### Bug Report

- __Package version(s)__: 5.4.1
- __Browser and OS versions__: IE 11 Version (11.192.16299.0)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Internal Sites

#### Describe the issue:

The search box text appears dark black on IE 11 as compared to other browsers

[2018-01-22 12:31] akashperfect opened #3757 "[Accessibility] [DetailsList] Feature request for getting getRowAriaDescribedBy"
**Problem**: When using DetailsList its a great functionality that we are able to set ariaLabel using getRowAriaLabel, however for non-intuitive tables and dynamic information there is a requirement to get something like
```getRowAriaDescribedBy``` which could be again like an optional callback to get the aria-descibedBy for each item.

_Yes_ I am willing to raise a pull-Request, please let me kno

[2018-01-22 16:10] #3605 closed

[2018-01-22 17:08] emilenriquez commented on #2587
hi I would like to know if there's a cleaner way to override the styles on the navigation.
thanks in advance.

[2018-01-22 17:41] emilenriquez commented on #2587
I'd be glad to spend some time helping out on converting some of the components over to css in js. @micahgodbolt

[2018-01-22 19:00] Jahnp commented on #2118
First, sorry for the delay!

So it seems there are sort of two questions here, both relating to icon font paths but one concerning Fabric Core and the other concerning Fabric React.

@Feiyang1 , all of the CSS files you mentioned (fabric-7.2.0.scoped.css, fabric.rtl.css, fabric.css) are part of [Fabric Core](https://github.com/OfficeDev/office-ui-fabric-core/) and will not be affected by `window.F

[2018-01-22 19:00] #2118 closed

[2018-01-22 19:17] jordandrako commented on #819
I'm looking into the best way to do this without adding breaking changes. I'm thinking: on the components that accept `onChanged` adding `onChange` that falls back to `onChanged`, then deprecating `onChanged` for next major release.

[2018-01-22 19:44] lynamemi commented on #3623
@betrue-final-final What's the desired design for this scenario?

[2018-01-22 19:47] lynamemi commented on #3623
From the toolkit, it looks like the width should stay fixed but the text should wrap:
![image](https://user-images.githubusercontent.com/16619843/35241033-0b2bd38e-ff6a-11e7-8ab3-733310a46ed5.png)

[2018-01-22 19:51] lynamemi commented on #3756
We aren't specifying placeholder text color, the browser is handling that. @betrue-final-final Are you ok with letting the browser handle this or should we adapt components with placeholders (SearchBox, TextField, etc) to a consistent, specified color?

[2018-01-22 19:52] betrue-final-final commented on #3623
You are correct @lynamemi. If you have further questions, Adam Ford may be able to answer them.

[2018-01-22 19:53] betrue-final-final commented on #3756
I would expect that we set it ourselves for the consistency reasons you mention. You never know what you'll get with a browser.

[2018-01-22 22:30] #3509 closed

[2018-01-22 23:04] lynamemi commented on #3756
@betrue-final-final I'm seeing some examples in the toolkit where neutralSecondary is used as the placeholder color and some where neutralPrimary is used. What's the final word?

[2018-01-22 23:09] betrue-final-final commented on #3756
Wow, neutralSecondary please

[2018-01-23 01:40] lambertwang commented on #3746
You can already pass on the 'spellCheck' property to the TextField component.
https://codepen.io/anon/pen/EoJYow

[2018-01-23 01:40] #3746 closed

[2018-01-23 05:38] koltyakov commented on #819
@jordandrako thanks!
My first thoughts were:
- Having onChange which acted like usual (receiving proxy, not a value)
- onChanged... well folks can stop using it after a while when onChenge will arive

[2018-01-23 05:44] Jahnp commented on #3305
Thanks for reporting this @VinozzZ. I've opened #3768 to address this.

[2018-01-23 06:16] Jahnp commented on #3298
This looks like a CSS load order issue. The custom CSS you have is being loaded before the CSS for the dropdown is injected into the page, so its `height` setting takes lower priority:

![image](https://user-images.githubusercontent.com/307118/35260153-b60a8fa8-ffbe-11e7-9baa-877776401e6c.png)

Since the root classname is munged, you can't force a higher priority on the custom class name without 1

[2018-01-23 07:40] nguyentoantuit opened #3769 "[TextField] It's would be nice if we support mask attribute for TextField"
Hi all,

There some library that implement mask attribute on input element
 such as [react-input-mask](https://www.npmjs.com/package/react-input-mask) but it is not able to integrate with Fabric UI.
Do we have any plan to support mask attribute on TextField?

Thank in advance,
Toan

[2018-01-23 13:19] srikanthreddyk opened #3771 "DatePicker: Week numbers overlap with datePicker table for RTL"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: FF, Chrome, IE, Edge

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:
In case of RTL view, if we are showing week numbers in date picker, there is an overlap of week numbers with first column of dat

[2018-01-23 14:21] szmarci opened #3773 "DetailsList can render custom elements?"
Is it possible somehow that the `<DetailsList/>` component renders custom components inside its cells?
I want to make a grouped detailslist with input fields inside the cells.
Thanks!

[2018-01-23 14:50] szmarci commented on #3773
Well, nevermind. I just found out that for the item I can give any value, not just string.

[2018-01-23 15:17] micahgodbolt commented on #3298
Everything there seems to have classnames, it's just a question of making a style specific enough, right? As for styles prop, we haven't converted dropdown over yet. It's a big array of buttons, and we're still working on getting button working how we'd like it to.

[2018-01-23 17:16] jordandrako commented on #2130
@ipip2005 I can't reproduce this, the narrator in edge reads the description. Can you confirm if you're still getting this bug?

[2018-01-23 17:27] #3756 closed

[2018-01-23 18:04] Jahnp commented on #3773
Great to see you found the solution yourself, @szmarci. For those who may be looking for this functionality, you can check out the `DetailsList` docs page here: https://developer.microsoft.com/en-us/fabric#/components/detailslist

When defining the columns that you pass to `DetailsList`, you can provide an `onRender` that allows you to pass whatever you want. Here's a snippet from that page:
[code

[2018-01-23 18:04] #3773 closed

[2018-01-23 18:07] Jahnp commented on #3769
This seems like a reasonable feature to support. I don't believe there are current plans, but I'll check in with the broader team to see if it's on anyone's radar.

[2018-01-23 18:39] jordandrako commented on #1515
Just to confirm, I'm having a difficult time reproducing this. Are you still having this issue?

[2018-01-23 18:51] #3748 closed

[2018-01-23 19:15] jordandrako commented on #1350
@jdhuntington @dzearing Do you still want this behavior, as it would be a breaking change? If so, I'm thinking the default input should not allow user modification with the `value` attribute, and instead use `defaultValue` to enable TextField's `onChange` method?

[2018-01-23 20:58] trsvax opened #3776 "Sticky component loops forever if background-color is not set for page"
### Bug Report

- __Package version(s)__: 5.37.0
- __Browser and OS versions__: NA

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority:  Normal

Products/sites affected: (if applicable)

#### Describe the issue:

Sticky component loops forever if background-color is not set for page

#### Actual behavior:

This lo

[2018-01-23 21:01] #3771 closed

[2018-01-23 22:24] JoshuaKGoldberg opened #3778 "Type compilation failures on TypeScript 2.7 RC"
### Bug Report

- __Package version(s)__: 5.29.2, 5.41.2
- __TypeScript version__: 2.7.0-dev.20180122

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Blocking

Products/sites affected: Sway

#### Describe the issue:

When compiling with TypeScript 2.7's RC, we get:

[code]

Here's the corresponding `tsconfig.

[2018-01-23 23:47] abettadapur opened #3781 "async.debounce.cancel() results in further calls not being fired"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: All

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable)

#### Describe the issue:

When calling cancel on a debounced function, future calls to t

[2018-01-24 03:38] adriantran opened #3785 "Button has double keyboard focused borders inside DetailsList"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: All

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
No (maybe later)

Requested priority: (Blocking, High, Normal, Low)
Normal

Products/sites affected: (if applicable)
TFS

#### Describe the issue:

Buttons have double keyboard focus borders wh

[2018-01-24 05:02] jdhuntington commented on #1350
I'd still find it valuable, though I've worked around it for now and unfortunately haven't taken the time to implement this.

[2018-01-24 08:20] lovakumar commented on #3714
We have verified issue #1 again and seems like it works fine in Edge but not in IE. Can you please verify it in IE browser.

[2018-01-24 09:25] lszomoru commented on #3748
@lynamemi, thank you very much for the quick turnaround!

[2018-01-24 10:13] niadak opened #3786 "Dropdown is not following high contrast color standards in Firefox browser"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)
Normal
Products/sites affected: (if applicable)
VSTS
#### Describe the issue:

Dropdown is not following high

[2018-01-24 11:08] quangleminhvn opened #3787 "[ComboBox]It's would be nice if we public function handler for typing changes on the input"
Hi all,

I think this would be nice. Do we have any plan to public function handler for typing changes on the input (_onInputChange)?

Thank in advance,
Quang Le

[2018-01-24 12:07] szmarci commented on #3773
@Jahnp Thanks for your answer.
I tried your solution, but that renders the same value in each cell in a row (rows have different values, but the cells inside them are the same).
My goal is to have individual elements in each cell.
So what I did for the `items` (IDetailsListProps) was:
[code]
That rendered the cells like this: [1,2,3,4,5,6,7].
But when I tried yours:
[code]
With onRender in IColumn

[2018-01-24 13:51] nguyentoantuit commented on #3769
Thanks @Jahnp
Looking forward to seeing this option available on TextField.

[2018-01-24 14:50] patrickabel commented on #3373
@kmosti what would be your recommendation be for bringing mobile support to the CommandBar component? I'll like for my navigation links to collapse under an icon or ellipsis like the overflow items.

[2018-01-24 14:56] ecoukraine opened #3788 "DropDown: Uncaught (in promise) TypeError: props.options.forEach is not a function"
Hi guys,

I'm using office-ui-fabric-react npm package with React.
I've used version "office-ui-fabric-react": "2.34.2" with TypeScript 2.2.2 - everything worked as expected.

Now I'm updating React to the 15.6.0 (going to update to 16.0 after) and updated "office-ui-fabric-react" to the latest 5.42.0

After that I get an exception in browser console:
_Uncaught (in promise) TypeError: props.option

[2018-01-24 15:06] Nurleyanti opened #3789 "Horizontal scrollbar doesn't appear on Detailslist when screen is too small"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
No
Requested priority: (Blocking, High, Normal, Low)
Normal
Products/sites affected: (if applicable)

#### Describe the issue:

The Detailslist doesn't show a h

[2018-01-24 15:39] betrue-final-final commented on #3714
I'm not seeing that in IE. If it's older than IE11, then it's officially not supported, but it should still work there too.
![image](https://user-images.githubusercontent.com/20363037/35341102-bb3574a4-00d9-11e8-8ef8-b7a64aac54d6.png)

[2018-01-24 15:39] #3714 closed

[2018-01-24 16:49] szmarci opened #3790 "DetailsList onRender called when scrolling the page"
I have a `<DetailsList />` component, where the columns have an `onRender` callback. Everytime I scroll on the page every `onRender` callback are fired (it is called for every cell).
I also turned on Highlight Updates in the Chrome React extension, and when scrolling it highlights everything in the list.
Is this normal?

[2018-01-24 17:39] szmarci commented on #3790
Here I am just scrolling in the Fabric UI website.
![fabric](https://user-images.githubusercontent.com/1974290/35347529-b1690e3e-0135-11e8-9810-3cda0000ea65.gif)
Maybe I am misunderstanding the Highlight updates function? It is showing repaints?
If it does, why does `onRender` fired everytime for every cell when scrolling?

[2018-01-24 17:45] szmarci commented on #3790
I also forked this example:
https://codepen.io/anon/pen/ypWReW?editors=1011

I put a `console.log` to the `onRender` function. If you open the console and scroll the page you can see the `console.log` statements.

[2018-01-24 18:07] micahgodbolt commented on #3785
issue stems from sass mixin using border, and buttons JS mixin using outline.

https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/common/_focusBorder.scss#L54

Changing the sass would solve this issue, but we'd need to make sure it didn't have any other unintended consequences.

[2018-01-24 18:09] adriantran commented on #3785
(repeating from another thread)

Note that using outline has an issue--if the element with outline is inside a container that has overflow:hidden (likely for DetailsList, e.g. for css ellipsis), part of the outlines are missing.

[2018-01-24 18:24] micahgodbolt commented on #3785
Do you have a demo of this issue? The outline is actually on a pseudo element above the button, and not necessarily outside of the button's box boundaries.

[2018-01-24 19:07] #999 closed

[2018-01-24 19:27] #3781 closed

[2018-01-24 19:31] mohitbagra commented on #3434
+1. We'd also like to get this fixed.

[2018-01-24 21:06] #1255 closed

[2018-01-24 21:57] paterasMSFT opened #3793 "Can't set ComboBox's button to aria-hidden="false""
You can set a ComboBox's button's icon's aria-label via buttonIconProps, but screen readers don't read that value, presumably because the parent button is set to aria-hidden="true". ComboBox hard-codes that value to true, and there doesn't seem to be a mechanism to change that.

Can we expose a way to set aria-hidden to false?

Also, is there a reason why the aria-label is being set on the button'

[2018-01-24 22:53] #2850 closed

[2018-01-25 03:28] #3305 closed

[2018-01-25 05:51] #3560 closed

[2018-01-25 09:37] SumiranAgg opened #3800 "Primary Button is not following high contrast color standards in Firefox browser"
### Bug Report

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
No

Requested priority: (Blocking, High, Normal, Low)
Normal

Products/sites affected: (if applicable)
VSTS

#### Describe the issue:

Primary Button is not following high contrast color standards in Firefox browser

#### Actual behavior:

As per High Contrast B

[2018-01-25 09:44] Grinzzekatze commented on #3372
Hi.
Has the property also been introduced for the CompactPeoplePicker? How do I include it?

`  disabled={this.props.disabled} ` does not work for me. The "x" is still selectable.

Thanks for your help!

[2018-01-25 09:47] SumiranAgg opened #3801 "Default Button is not following high contrast color standards in Firefox browser"
### Bug Report

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
No

Requested priority: (Blocking, High, Normal, Low)
Normal

Products/sites affected: (if applicable)
VSTS

#### Describe the issue:

Primary Button is not following high contrast color standards in Firefox browser

#### Actual behavior:

As per High Contrast B

[2018-01-25 10:15] szmarci commented on #3773
Sorry, I have figured out how `onRender` works.
However I found a strange issue with that here: #3790
Do you know why `onRender` called on every scroll event?

[2018-01-25 10:27] SumiranAgg opened #3802 "Panel Close Button is not following high contrast color standards in Firefox browser"
### Bug Report

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
No

Requested priority: (Blocking, High, Normal, Low)
Normal

Products/sites affected: (if applicable)
VSTS

#### Describe the issue:

Panel Close Button is not following high contrast color standards in Firefox browser

#### Actual behavior:

As per High Contra

[2018-01-25 15:55] mikewheaton commented on #3802
@betrue-final-final and @kristoferbrown, do we support the high contrast theme in Firefox?

[2018-01-25 16:16] betrue-final-final commented on #3802
As Firefox has its own one off system for high contrast, we do what we can to support it, but we do not want to break IE or Edge. There are some people looking into Firefox HC issues specifically out here, so they may have some ideas.

[2018-01-25 16:21] betrue-final-final commented on #2459
There should be a gap between the focus rectangle and the selection rectangle. @lynamemi might be working on a fix, or be able to put it into her pending PR.

![image](https://user-images.githubusercontent.com/20363037/35399239-a8fb32d6-01a8-11e8-8eed-c7f0f7c271e0.png)

[2018-01-25 16:47] mohitbagra opened #3803 "Focus outline not visible for BaseButton in IE11"
### Bug Report

- __Package version(s)__:
Latest

- __Browser and OS versions__:
IE11

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix?
Yes

Requested priority: (Blocking, High, Normal, Low)
Normal

Products/sites affected: (if applicable)
VSTS

#### Describe the issue:

Focus outline is not visible on buttons in IE11 (Any button exten

[2018-01-25 16:48] mohitbagra commented on #3803
The fix should be to replace -
getFocusStyle(theme, -1),
with
getFocusStyle(theme, 0),

in BaseButton.Styles.ts file

[2018-01-25 17:46] #3517 closed

[2018-01-25 18:06] mattmazzola opened #3804 "Modal resets focuses to first input/button in DOM causing scroll jumping"
### Bug Report

- __Package version(s)__: `"office-ui-fabric-react": "^5.38.0",`
- __Browser and OS versions__:
Windows 10 (Version 10.0.16299 Build 16299)
Chrome Version 63.0.3239.132 (Official Build) (64-bit)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: High

Products/sites affected: (if applicable)

##

[2018-01-25 19:16] rebeccaballantyne opened #3809 "TeachingBubble component does not pipe onDismiss through to Callout"
### Bug Report

- __Package version(s)__: Local repro on 5.40.1
- __Browser and OS versions__: All Browsers/ OS's

#### Priorities and help requested (not applicable if asking question):

Requested priority: Normal

#### Describe the issue:

Because the onDismiss param set in the TeachingBubble component is not sent over to the Callout, bubbles do not dismiss on page resize/scroll and become displ

[2018-01-25 19:21] #3717 closed

[2018-01-25 22:16] #2401 closed

[2018-01-25 22:55] kristoferbrown commented on #3514
Have you reviewed our documentation website? It has examples of how to implement all of the components. Here are all of the dialog examples: https://developer.microsoft.com/en-us/fabric#/components/dialog

Feel free to reopen this issue if these are not the kind of examples you're looking for.

[2018-01-25 22:55] #3514 closed

[2018-01-25 22:58] kristoferbrown commented on #3569
Appears to be fixed in the current build.

[2018-01-25 22:58] #3569 closed

[2018-01-25 23:01] kristoferbrown commented on #3586
Looks like a duplicate of #3186. Feel free to reopen if these is some other aspect to this issue that isn't covered by the original issue.

[2018-01-25 23:01] #3586 closed

[2018-01-25 23:12] #3683 closed

[2018-01-25 23:49] #3322 closed

[2018-01-26 01:34] erichdev commented on #3689
Please see https://github.com/OfficeDev/office-ui-fabric-react/issues/2437

[2018-01-26 01:34] #3689 closed

[2018-01-26 04:18] unindented opened #3812 "Cannot find module '@microsoft/load-themed-styles' from 'theme.js'"
### Bug Report

- __Package version(s)__: `office-ui-fabric-react@=5.34.0`
- __Browser and OS versions__: irrelevant

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: High

Products/sites affected: Yammer.com

#### Describe the issue:

Builds have started failing today with the error:

[code]

[code]

#### Actu

[2018-01-26 04:22] unindented commented on #3812
Ha, weird. It looks like npm is installing an empty `@microsoft/load-themed-styles` module:

<img width="267" alt="screen shot 2018-01-25 at 8 21 38 pm" src="https://user-images.githubusercontent.com/69485/35425136-6ebec348-020d-11e8-9d52-bae23abc0122.png">

Sounds like an issue on their end. They recently had problems with other packages disappearing.

[2018-01-26 07:24] myleftshoe commented on #3812
Me too! I even uninstalled node.js and npm, reinstalled node 9.4 (npm 5.6) and create-react-app, then followed the instructions in the readme.md to the letter to create DocumentCardBasic with same error reported above.
(Windows 10 Pro 17025)

[2018-01-26 08:52] muraray commented on #987
![image](https://user-images.githubusercontent.com/826984/35431864-306f38fa-02b9-11e8-88f6-a532d510b9f5.png)

debug.log file info as follows

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   '-g',
1 verbose cli   'ofice-ui-fabric-reac

[2018-01-26 10:19] jimmywim commented on #3812
Any idea how to work around this? Our packages.json in our project specifically references 5.38.1, however VSTS build seems to be getting whatever's the latest version regardless, which is this broken build.

[2018-01-26 10:38] jimmywim commented on #3812
Related bug in another package: https://github.com/Microsoft/web-build-tools/issues/511

[2018-01-26 10:43] myleftshoe commented on #3812
Cheers jimmywim!
Installed previous version and it works!
`npm install --no-save @microsoft/load-themed-styles@1.7.25`

[2018-01-26 17:18] nickpape-msft commented on #3812
Looks like there was a hiccup in the release process yesterday. I went ahead and unpublished 1.7.26, so you should be getting 1.7.25 when you `npm install @microsoft/load-themed-styles@latest`. Let me know if you are experiencing the problem with any other packages.

[2018-01-26 17:35] micahgodbolt commented on #3812
closing this down as it appears resolved. feel free to open if problem persists.

[2018-01-26 17:35] #3812 closed

[2018-01-26 18:55] paterasMSFT opened #3815 "DetailLists not considering GroupedLists for aria-rowcount"
### Bug Report

- __Package version(s)__: 5.39.1001

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low) Low

#### Describe the issue:

When DetailList assigns its aria-rowcount value, it's just counting the raw number of items being passed in. However, for grouped data, the actual number created can (and often does) differ.

#### Actual behavior

[2018-01-26 20:12] aditima commented on #3657
I believe the key ask here is to allow group headers and individual items to be siblings of each other, right? Our GroupedList implementation does not support this today. It's defined to either have all groups or all items in any given level.
That said, I feel like what you are asking for is a TreeView control, and we have a pending feature request on it already. We'll make note of one more ask fo

[2018-01-26 20:27] zeeskhan1990 opened #3818 "@microsoft/load-themed-styles is missing"
### Bug Report

- __Package version(s)__: (5.43.0)
- __Browser and OS versions__: (Chrome, Windows10)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: (Blocking)

Products/sites affected: (if applicable)

#### Describe the issue:

#### Actual behavior:

When using this library in my project, the `npm install`

[2018-01-26 20:54] mikewheaton commented on #3818
This appears to be the same issue as #3812, which has been marked as resolved.

[2018-01-26 22:00] betrue-final-final commented on #3419
@lynamemi, can you take a look at this?

[2018-01-26 22:14] #1094 closed

[2018-01-26 22:41] lynamemi commented on #3769
I think someone has a PR for this one out already! #3783

[2018-01-27 00:30] shdighe commented on #3434
+1

[2018-01-27 04:57] cschleiden commented on #987
`of_f_ice` not `ofice`

[2018-01-27 19:55] pgonzal commented on #3692
@dzearing did you have a chance to look at this?

[2018-01-28 14:31] srikanthreddyk opened #3821 "DatePicker RTL issue: Prev and Next buttons not working as expected"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: Chrome, FF, Edge, Safari

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:

The previous and next month arrows in the datePicker are not working as expected in the RTL view. Also, their positioning i

[2018-01-28 20:06] russgove opened #3823 "[Meta] How can we contribute to office-ui-fabric-react/wiki?"
I forked the repo, bit the wiki dies not come with it. I'd like to contribute some  docs on what I have learned so far to make it easier for others getting started

[2018-01-28 21:01] russgove opened #3824 "DetailsList onColumnContextMenu not called"
Hi, I'm trying to set up a ColumnContext menu to let the user sort, filter, etc.  I added the  onColumnContextMenu  to my column but the method never gets called.  How do i go about adding  contextual menus to the column headers.

[2018-01-28 22:11] JoshuaKGoldberg commented on #3778
This is odd. Using `SpinButton.types.d.ts`' complaint about `Position` as an example:

* `Position` is declared in `utilities/positioning/positioning.types.d.ts`
* `utilities/positioning/index.d.ts` has `export * from './positioning.types'
* utilities/positioning.d.ts` has `export * from './positioning/index'.

In `utilities/positioning.d.ts`, adding...

[code]

...gives `[ts] Circular definition

[2018-01-28 22:18] JoshuaKGoldberg opened #3825 "Allow development with Node >= 9"
[code]

[2018-01-28 22:42] JoshuaKGoldberg commented on #3778
Errors don't show up with `typescript@2.7.0-dev.20180116` but do starting in `typescript@2.7.0-dev.20180118`.

[2018-01-29 07:35] ramonitor commented on #3657
@aditima, yes a TreeView like control is what we would like to have. Moreover, a component that is able to display additional columns (TreeGrid like component) would be even better, since we would like to display additional columns with data in the same view.

[2018-01-29 16:10] pluethi commented on #3282
The call backs onValidate, onIncrement and onDecrement will only be assigned in the SpinButton constructor to the corresponding properties if:
- props.defaultValue is set and
- props.value is not of the type undefined.

This can be reviewed on line 95 et seq. of class SpinButton as defined in SpinButton.tsx in commit 1f86b53). Therefore, if you set the value prop, the component calls the mentioned

[2018-01-29 16:43] #3809 closed

[2018-01-29 18:50] ymihir opened #3828 "How to capture event object on onChanged event"
I am creating a row with few cells. I am giving option to user to enter more rows if they want. When value get changed, I want to store those values in `state` object. I am using [Office UI Fabric TextField](https://developer.microsoft.com/en-us/fabric#/components/textfield) control. This is having onChanged event, but this is capturing only the value of the textbox. But I want to capture the even

[2018-01-29 18:53] martellaj opened #3829 "Move DatePicker label to its own subcomponent"
This is a proposal for moving the label in the `DatePicker` component to outside of the inner `TextField` that `DatePicker` uses for selecting the date, [instead of relying on the `label` prop in `TextField`](https://github.com/OfficeDev/office-ui-fabric-react/blob/78e462bc936350fee2806ee0e70d523e8deee9b5/packages/office-ui-fabric-react/src/components/DatePicker/DatePicker.tsx#L121). The reason fo

[2018-01-29 19:01] AsaPefferman opened #3830 "Persona pill icon/profile pic alignment is wrong"
### Bug Report

- __Package version(s)__: firefox and chrome, potentially others
- __Browser and OS versions__: mac
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix?
No

Requested priority:
low

Products/sites affected:
Sharepoint

#### Describe the issue:

The circular icon/profile picture in the persona pill is not aligned correctly t

[2018-01-29 20:57] oengusmacinog commented on #3788
@ecoukraine are you still getting this issue after updating to React v16.0?

[2018-01-29 21:58] mhegazy commented on #3778
@JoshuaKGoldberg what are the steps i need to reproduce this locally?

[2018-01-29 22:01] JoshuaKGoldberg commented on #3778
1. Create a new blank project with the tsconfig from the linked OfficeDev issue
2. `npm install office-ui-fabric-react`
3. In a .ts file, `import { loadTheme } from "office-ui-fabric-react";`

There should be some typing issues there. If not I can email you (not open) source code.

[2018-01-29 22:17] #3793 closed

[2018-01-29 22:53] aappddeevv commented on #2554
I think the new styling model is suppose to help with this but I'm not sure it's a "set it in one place" type of approach which is what I was looking for.

[2018-01-30 00:23] #2130 closed

[2018-01-30 06:07] SumiranAgg opened #3834 "Narrator fails to announce the detailslist row position details properly in firefox"
### Bug Report

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
No

Requested priority: (Blocking, High, Normal, Low)
Normal

Products/sites affected: (if applicable)
VSTS

#### Describe the issue:

NVDA fails to announce the detailslist row position details properly in Firefox browser

#### Actual behavior:

First row narra

[2018-01-30 08:29] Jahnp commented on #3823
Hey @russgove, sorry for the delay! We'd love for you to be able to share your learnings as well, but unfortunately the wiki is not quite set up for non-collaborator contributions just yet. We may need to look into doing something like [what VSCode did for their wiki](http://www.growingwiththeweb.com/2016/07/enabling-pull-requests-on-github-wikis.html), which would involve setting up a separate re

[2018-01-30 11:53] Lovakumar opened #3835 "Accessibility: Table commands are not working (Caps+F3.,Caps+F4 ) to navigate within the table"
Navigate to VssDetailsList and use table commands (For Ex: Caps+F3, Caps+F4 to navigate to next cell in row and column).

Platform:
Microsoft Edge 41.16299.15.0
Microsoft EdgeHTML 16.16299
OS Version : 1709
OS build : 16299.125

[2018-01-30 16:10] wellbeck190 opened #3837 "How to use theme if I can't use "customizable" decorator"
I am using create-react-app to create my app, and I don't want eject.
I can't use customizable decorator.
Have office-ui-fabric-react any HOC solve this problem?
Help me, thanks.

[2018-01-30 18:26] #3821 closed

[2018-01-30 18:38] jordandrako commented on #3785
@micahgodbolt Could this bug be a result of only partially converting to merged-styles? It seems the element is getting styled by both the Button focus (merged styles) and the DetailsList (sass). I think we should prioritize finishing the conversion.

[2018-01-30 18:42] micahgodbolt commented on #3785
well converting would fix it, but only because the sass mixing is working differently than the js mixin. the easier solution would be to make the two output the same css in the end.

[2018-01-30 19:03] JoshuaKGoldberg commented on #3778
Being fixed in TypeScript. Closing here as external.

[2018-01-30 19:03] #3778 closed

[2018-01-30 20:48] reewen commented on #822
I still have this issue with the latest version of office-ui-fabric-react (5.45.0). Could you guys open this issue again? Thank you! @fantua @Jahnp

[2018-01-30 21:16] ecoukraine commented on #3788
Hi Brian,

I've just reverted back to older version.

Should I update Fabric UI to some latest version? If yes, please write to which one?

Thank you

[https://ipmcdn.avast.com/images/icons/icon-envelope-tick-round-orange-animated-no-repeat-v1.gif]<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>    Virus-free. www.avast.com

[2018-01-30 21:33] Jahnp commented on #822
Sure! @johannao76, any chance you or someone from your team could take a look at this when you have a chance?

[2018-01-30 22:11] JoshuaKGoldberg opened #3841 "Provide types for string literals such as "Waffle""
[code]

The "Waffle" context there doesn't give much intellisense. I'd be useful to instead have some sort of constant list so we can view them all in our IDEs and get auto-complete.

[code]

[2018-01-30 23:27] #3623 closed

[2018-01-30 23:48] lorejoh12 commented on #822
taking a look

[2018-01-30 23:58] lorejoh12 commented on #822
It looks like since we allow DatePicker to have the value passed as a property, there was some additional logic added to make sure that validation was run during componentWillReceiveProps. However, that fires every rerender (after initial render), and validation was running even though none of the props had actually changed. I added a quick check at the top to make sure the validation doesn't run

[2018-01-31 00:23] reewen commented on #822
@lorejoh12 Thanks for looking at this. But this behavior is still different from other components, like Dropdown and TextField. Rerendering doesn't fire other components(with required=true, and they also accept value passed as a property), so is this inconsistent? Can we make them consistent?

[2018-01-31 01:02] lorejoh12 commented on #822
Hmm, I don't see any actual validation in Dropdown, maybe you were referring to another component? As for TextField, that actually does seem to be what it's doing, although a little more cleanly:
![image](https://user-images.githubusercontent.com/8549582/35599724-12393fe2-05df-11e8-8dd4-c28dab80ecfb.png)

Rather than comparing all props to see if they've change from past props, TextField just comp

[2018-01-31 01:36] reewen commented on #822
Hmm, I find that TextField NEVER fires even if 1) the value change from non-empty to empty, 2) focus in the field and blur without entering text. TextField only fires when there is error message.
Can the DatePicker go with the same way?

[2018-01-31 01:42] lorejoh12 commented on #822
TextField seems to fire whenever the value changes, regardless of the empty or non-empty-ness of it. :) DatePicker relies on a few extra checks beyond just value changing. For example, we have a property called minDate and maxDate for validation.

for example, if we have minDate = Jan 1, maxDate = Jan 6th, and value = jan 5th, and then the prop maxDate gets changed down to Jan 4th for whatever rea

[2018-01-31 01:48] lorejoh12 commented on #822
I'm not sure I understand what you're referring to by "fires". By fires, I'm referring to the validate method ever being called. TextField certainly fires "componentWillReceiveProps", which checks if value changed and fires delayedValidate, which then fires validate method. This is only one of the ways in which validate gets fired, but it's the one that's broken in DatePicker right now.

DatePicke

[2018-01-31 01:51] reewen commented on #822
Here, we mean the boarder changes to red.

[2018-01-31 01:55] #822 closed

[2018-01-31 13:02] ankitk94 opened #3846 "[HighContrast][Edge][DropDown] High contrast issue on focus"
### Bug Report

- __Browser and OS versions__: Edge

#### Describe the issue:

When dropdown is focused, it turns border and text of same colour (Aqua) without any highlighting:

![image](https://user-images.githubusercontent.com/6390909/35624152-28fee88c-06b4-11e8-8968-a0cd875e1379.png)

Windows high contrast settings here expects to have either "White text on black background" (button text) or "

[2018-01-31 15:25] mdmdakbar opened #3847 "Details list is not announcing the position of row in the list."
Products/sites affected: (if applicable) VSTS

I am consuming Details list in my product, and it is not announcing position of respective row in the list. (For ex- 2 of 5, where 2 is the selected row and 5 is the total rows in list.)

I looked in https://developer.microsoft.com/en-us/fabric#/components/detailslist and here also it is not announcing it on changing the rows.

From the code, I can se

[2018-01-31 15:26] mdmdakbar commented on #3847
The above code I am talking about is related to this UI.
![image](https://user-images.githubusercontent.com/19491487/35631187-42784870-06c9-11e8-8a2b-d054b4f6b9a4.png)

[2018-01-31 15:35] jspurlin commented on #3063
This was fixed by PR: https://github.com/OfficeDev/office-ui-fabric-react/pull/3738

[2018-01-31 15:35] #3063 closed

[2018-01-31 16:57] betrue-final-final commented on #3846
@lynamemi, we should talk about this one!

[2018-01-31 19:10] betrue-final-final commented on #3846
@lynamemi, here's what we talked about:

1. Reverse the colors of dropdown on focus
2. Double the thickness of the text field and combobox border on focus.

[2018-01-31 19:34] battletoilet commented on #1074
![image](https://user-images.githubusercontent.com/622498/35643294-b76eba5a-067a-11e8-8e86-d4137b6fb3ef.png)

[2018-01-31 19:50] battletoilet commented on #1140
Hey @AkshanshSrivastava03, we recognize that there is an inconsistency in how consumers interact with disabling input fields. We are currently working on fixing this issue #486 and should have something in pretty soon.

[2018-01-31 19:59] oengusmacinog commented on #1146
Scrollable Pane with Detail List resolves this issue. [https://developer.microsoft.com/en-us/fabric#/components/scrollablepane](https://developer.microsoft.com/en-us/fabric#/components/scrollablepane). Closing Issue.

[2018-01-31 19:59] #1146 closed

[2018-01-31 20:03] battletoilet commented on #1156
@betrue-final-final is this bug still accurate?

[2018-01-31 20:11] battletoilet commented on #1164
@mdellano would you mind giving us a few use cases for this issue?

[2018-01-31 20:17] betrue-final-final commented on #1146
This works in Detailslist now? I'm confused.

[2018-01-31 20:17] battletoilet commented on #1174
@mikewheaton, the code has changed since asking this question so i will close this for now. Pleas reopen if the question is still valid.

[2018-01-31 20:17] #1174 closed

[2018-01-31 20:18] betrue-final-final commented on #1156
Yes, this is true. All of our disabled controls should be focusable.

[2018-01-31 20:30] battletoilet commented on #1206
Done

[2018-01-31 20:30] #1206 closed

[2018-01-31 21:04] battletoilet commented on #3837
Hi @wellbeck190, could you please explain your scenario in a bit more detail. From this info we are not able figure out exactly what you are trying to achieve. Also, what exactly are you doing with the theme? Just style a div?

Here's a codepen that might help.
https://codepen.io/dzearing/pen/WdyRJo

[2018-01-31 21:08] battletoilet commented on #3835
Hi @lovakumar, we don't support these commands in the DetailsList. We just support navigation arrow keys. Can you please provide more details about the issue?

[2018-01-31 21:11] battletoilet commented on #3847
Duplicate of https://github.com/OfficeDev/office-ui-fabric-react/issues/3834

[2018-01-31 21:11] #3847 closed

[2018-01-31 21:14] battletoilet commented on #3830
Hi @AsaPefferman, thanx for the issue. We are looking into it.

[2018-01-31 21:19] battletoilet commented on #3829
We should probably move the click handler to the input or something similar but either way your fix will be welcomed 👍

[2018-01-31 21:26] battletoilet commented on #3825
At this time we are not planning to do anything here. Closing for now.

[2018-01-31 21:26] #3825 closed

[2018-01-31 21:40] battletoilet commented on #3824
Hey @russgove, it looks like the contextual menu is working correctly here in the Advanced example below https://developer.microsoft.com/en-us/fabric#/components/detailslist. If it's still not working please provide a codepen with the code in question.

[2018-01-31 21:41] JoshuaKGoldberg commented on #3825
@battletoilet can we leave this issue open for following up on https://github.com/Microsoft/web-build-tools/issues/516? It makes sense not to _support_ Node > LTS but to error on builds seems overly harsh.

[2018-01-31 21:46] lynamemi commented on #3830
I'll try to find a mac to look into this. There is also a PR out that tweaks Persona Coin root size - I'll look to see if that makes an impact.

[2018-01-31 21:56] #3776 closed

[2018-01-31 22:04] battletoilet commented on #3788
@ecoukraine, please update to the latest version of Fabric.

[2018-01-31 22:06] battletoilet commented on #3789
@Nurleyanti Try using the DetailsListLayoutMode enum to resolve this issue.

[2018-01-31 22:10] lynamemi commented on #3830
@betrue-final-final is going to help me check it out

[2018-01-31 22:14] lynamemi commented on #3830
@mikewheaton too!

But first will see if this change helps:
https://github.com/OfficeDev/office-ui-fabric-react/pull/3845

[2018-01-31 22:23] dzearing commented on #3841
Hey @JoshuaKGoldberg . We've evaluated this a few times and haven't found a great solution that has no consequences.

If we include the IconNames dictionary to make this more straightforward, it ends up adding about 5k of bundle bulk. People do want type safety and simplicity, but also performance. We have been aggressive about reducing overall bloat, so dropping in a giant enum when you only need

[2018-01-31 22:32] battletoilet commented on #3747
It looks like the code repros in this codepen as well https://codepen.io/dzearing/pen/LzEKoN

[2018-01-31 22:33] aditima commented on #3755
Hi @vamsi981, it would be great if you can share a codepen or a repro illustrating your scenario.

You probably need to pass in a new array when your items list updates, and/or use a setKey to identify your items list, so that we end up calling the selection.setItems() with the new items array.

Look at the componentWillReceiveProps method in DetailsList:
  public componentWillReceiveProps(newProp

[2018-01-31 22:45] aditima commented on #3734
@joschect - the sug--1 seems to be coming from this code in BasePicker.tsx:

aria-activedescendant={ 'sug-' + this.suggestionStore.currentIndex }

From surrounding code, looks like currentIndex can possibly be -1.

If this is the invalid syntax, should be easily fixable in code.

[2018-01-31 22:45] aditima commented on #3734
sorry did not mean to close this.

[2018-01-31 22:53] joschect commented on #3734
Ah, that makes sense. That's an easy fix. I'll just have it be undefined if currentIndex < 0

[2018-01-31 23:05] JoshuaKGoldberg commented on #3841
What about const enums?

[code]

[2018-01-31 23:48] jordandrako opened #3853 "DetailsList: Very slow performance when there are multiple instances."
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: Windows, chrome, edge, IE11

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: High

#### Describe the issue:

On the [DetailsList example page](https://developer.microsoft.com/en-us/fabric#/components/detailslist) or where there are

[2018-02-01 00:23] lambertwang commented on #1455
a `ScrollToIndex` public function was added to DetailsList in [this PR](https://github.com/OfficeDev/office-ui-fabric-react/pull/2772). Let me know if that fits your need.

[2018-02-01 00:24] mikewheaton commented on #3830
I'm unable to repro this on macOS using Chrome, Firefox, or Safari. To attempt to repro I'm just adding a person to the [PeoplePicker](https://developer.microsoft.com/en-us/fabric#/components/peoplepicker).

[2018-02-01 00:42] lambertwang commented on #1426
You can bind your onChanged handler before you pass it into your TextFields to differentiate which textfield is changing. [Example](https://codepen.io/anon/pen/rJVRWQ) If this doesn't work for you, let me know.

[2018-02-01 03:49] martellaj commented on #3829
PR (#3832) has been open for a couple of days. Please review when you get some time. The above component was checked into OWA SDF yesterday.

[2018-02-01 06:25] ipip2005 opened #3858 "Checkbox: should allow setting ariaLabel/ariaDescription to the clear button"
### Bug Report

- __Browser and OS versions__:  Edge + Narrator

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: (High)

Products/sites affected: (Web part)

#### Describe the issue:

https://developer.microsoft.com/en-us/fabric#/components/searchbox
Type something in the searchbox, then press tab to focus on

[2018-02-01 06:36] lovakumar commented on #3835
@battletoilet this issue was reported by our accessibility testing team. I check with them again and get back to you on whether they are ok with arrow keys or not.

[2018-02-01 07:35] aadhars opened #3859 "[Picker][TagPicker][Firefox] Focus does not visible on editable combo box once you add a tag"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: Firefox

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable): All consumers of Tag picker on firefox

#### Describe the issue:

After adding tags, key

[2018-02-01 07:41] MirandaGe opened #3860 "PeoplePicker: before showing loading state and suggestions, 'no result found' is displayed first"
### Bug Report

- __Package version(s)__: latest

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? If I have time.

Requested priority: Normal

Products/sites affected: sharepoint people web part

#### Describe the issue:

1. input characters in input box one by one
2. see the state change on suggestion list
![peoplepicker](https://use

[2018-02-01 10:41] NickSevens commented on #3692
Hey guys, any update on this? Tnx!

[2018-02-01 13:01] sackery opened #3861 "Why lack of pagination the must-have basic component?"
It's hard to imagine that frontend ui package absence pagination!
Most of react ui compnent packages must include most basic component it's pagination.
like: bootstrap, semantic-ui.

Fabric is good, but without pagination and some other simple concept, such Sidebar, Navbar, Pagination...

[2018-02-01 16:15] betrue-final-final commented on #3861
Hey @sackery, we'd love to know exactly what you mean by pagination. Do you mean a standalone page control, or something integrated into one of the other components? We do have a Nav component https://developer.microsoft.com/en-us/fabric#/components/nav

[2018-02-01 16:18] mdmdakbar commented on #3834
I am using Edge+Narrator and same issue exist

[2018-02-01 18:02] lambertwang commented on #3861
Closing due to duplicate issue: New Component: Pagination #349

[2018-02-01 18:02] #3861 closed

[2018-02-01 18:42] lambertwang commented on #3859
I'm failing to reproduce the issue. What version of Firefox are you on and what how does the picker appear for you on different browsers?
![fail to repro](https://user-images.githubusercontent.com/6496608/35696516-98e45c4e-073c-11e8-9857-8ef67fc6d134.png)

[2018-02-01 18:48] AsaPefferman commented on #3830
I just double checked to make sure that some update hadnt fixed it and I am still seeing the problem in chrome, firefox, and safari on mac.

This instance is a SP list form if that makes a difference.

![untitled-2](https://user-images.githubusercontent.com/35933779/35696800-496a68c4-073d-11e8-887d-be53cfaacaf1.png)

[2018-02-01 18:57] betrue-final-final commented on #3830
This could be a SharePoint issue. @stanleyymsft?

[2018-02-01 18:57] betrue-final-final commented on #3830
@stanleyymsft, looks like we have a font substitution on "Add attachments".

[2018-02-01 22:02] mmanela commented on #2150
Rendering a tooltip instead of using title tag also helps keyboard accessibility. Title tags do not render when keyboading through elements while the tooltiphost will.

[2018-02-01 22:03] mmanela commented on #2150
I have the same feedback for the commandbar item.

[2018-02-01 23:54] mikewheaton opened #3865 "Spinner: Reduce specificity of styles"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: All

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Maybe

Requested priority: Low

Products/sites affected: Unsure

#### Describe the issue:

The [styles for Spinner](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabr

[2018-02-02 00:22] RegexEmpire commented on #3067
We ran into this as well. The keyboard behavior does not allow you to navigate to the header, so this seems wrong to us.

[2018-02-02 09:40] tx4x opened #3871 "Nav: Keyboard support"
Hi,
are there any plans to add keyboard support to <Nav> and <CommandBar> ? If not, do you have some pointers how to add this myself ? I am not sure about the other components since I am a newbie to fabric-ui but I guess I need a general solution to add this everywhere.

Thanks in advance!

[2018-02-02 10:37] nappy opened #3872 "Allow customization of ChoiceGroup styles"
The ChoiceGroup component should accept a styles prop, allowing to override internal styles (such as root, choiceField, choiceFieldWrapper etc.) like the CheckBox component does. Ideally for each field individually as well.

Currently, its not possible to change for example the the margins between the fields.
Also I am having the issue that I cant make the wrapper 100% width for my use case.

[2018-02-02 13:56] betrue-final-final commented on #3871
Thanks for teaching out. All Fabric components should have keyboard support. This one in particular should use arrow keys for navigating between items.

What exactly is missing?

[2018-02-02 14:05] tx4x commented on #3871
@betrue-final-final you're right, something was wrong on my end. thanks for the heads up!

[2018-02-02 14:05] #3871 closed

[2018-02-02 14:48] aluczak opened #3873 "NormalPeoplePicker with item limit on IE11 issue"
### Bug Report

- __Package version(s)__: 5.45.3
- __Browser and OS versions__: IE11 (11.125.16299.0)

#### Priorities and help requested

Requested priority: Normal

#### Describe the issue:

1. Use following code with any itemLimit:
<NormalPeoplePicker
     onChange={(val) => {}}
     onResolveSuggestions={this._onFilterChanged}
     itemLimit={5} />
(_onFilterChanged implementation is from Peop

[2018-02-02 17:37] cschleiden commented on #2150
I think when a `title` prop is given, we should render that using a tooltip instead of adding it as the "HTML title".

[2018-02-02 18:34] #3846 closed

[2018-02-02 18:50] #3272 closed

[2018-02-02 19:13] martellaj commented on #2342
There's a prop (`disableAutoFocus`) that handles this scenario already, I believe.

[2018-02-02 19:18] martellaj opened #3875 "[DatePicker] Need differentiating treatment for dates not in current month and disabled dates"
### Bug Report

- __Package version(s)__: Most recent
- __Browser and OS versions__: All

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes (with design sign-off)

Requested priority: Normal

Products/sites affected: OWA

#### Describe the issue:

Currently dates not in the current month that show up in the picker and disabled dates have the same visual treatment, whi

[2018-02-02 21:35] #3339 closed

[2018-02-02 22:16] lynamemi commented on #3621
@betrue-final-final  What would be a desirable design for this?

[2018-02-02 22:25] amygl opened #3876 "Can no longer edit controlled TextField"
### Bug Report

- __Package version(s)__: office-ui-fabric-react v5.45.2
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites affected: Planner

#### Describe the issue:

After syncing to office-ui-fabric-react v5.45.2 no longer able to

[2018-02-02 22:29] lynamemi commented on #3419
Was able to repro this. When you focus a button it looks like it shrinks slightly. Didn't investigate too closely what's triggering that yet, but it's not very noticeable.

@betrue-final-final what's the desired behavior here? Should it be getting a second border with an little gap in between?

[2018-02-02 22:40] betrue-final-final commented on #3621
There needs to be a gap between the item and the keyboard focus. Here's a closeup of the design file.
<img width="829" alt="screen shot 2018-02-02 at 2 36 39 pm" src="https://user-images.githubusercontent.com/20363037/35758092-fea54a80-0826-11e8-89f1-2e38de06d93a.png">

and selection plus focus for extra clarity
<img width="395" alt="screen shot 2018-02-02 at 2 36 06 pm" src="https://user-images.g

[2018-02-02 22:51] betrue-final-final commented on #3419
Normally these buttons go from no background, to showing a background in regular contrast on hover. The focus is a border. In HC, there's a border drawing around these that should not be there in rest state.

[2018-02-02 23:01] mikewheaton commented on #3876
This was later reverted in another PR: https://github.com/OfficeDev/office-ui-fabric-react/pull/3854

I'm not sure if the latest release includes the reversal, or if you'll need to wait for the next version.

[2018-02-03 01:36] jordandrako opened #3879 "mergeStyles: lineHeight: 1 outputs line-height: 1px."
### Bug Report

- __Package version(s)__: latest

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: Fabric mergeStyles

#### Describe the issue:

When converting scss with line-height properties without a unit such as `line-height: 1`, into `lineHeight: 1`, mergeStyles appends 'p

[2018-02-03 02:44] Jahnp commented on #3875
This seems totally reasonable and should definitely have a design change. Here's the Windows date & time window for an example of what the expected differentiation could look like:
![image](https://user-images.githubusercontent.com/307118/35762279-059f1d58-0849-11e8-909d-5001e13b65c1.png)

The Calendar team owns this control. Is there a designer you've worked with on these in the past? @betrue-fin

[2018-02-03 04:44] martellaj commented on #3875
@Jahnp That calendar control doesn't actually fix what I'm saying. The 2 states, valid and invalid, are pretty clear. However, I think we need 3 states:

1. An enabled state for dates in the current month in view.
2. An enabled state for dates not in the current month in view.
3. A disabled state.

Does that make sense?

[2018-02-03 05:33] betrue-final-final commented on #3875
There's actually a design for that which @Christina<mailto:cergo@microsoft.com> worked on. I'll send the design spec in the morning.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Joe Martella <notifications@github.com>
Sent: Friday, February 2, 2018 8:44:50 PM
To: OfficeDev/office-ui-fabric-react
Cc: Ben Truelove; Mention
Subject: Re: [OfficeDev/office-ui-fabri

[2018-02-03 08:36] realhoffi commented on #3818
no, it isnt!

[2018-02-03 13:36] jekaspekas opened #3881 "Provide a way to register font base url programatically without global FabricConfig"
### Bug Report

- __Package version(s)__: 5.45.3
- __Browser and OS versions__: Google Chrome 64.0.3282.119, Windows 10 Pro

#### Describe the issue:

Hello, I need to use fonts from my host.
To do this, I use this code:
[code]

#### Actual behavior:

The browser download fonts from static2.sharepointonline.com

#### Expected behavior:

The browser download fonts from localhost (in this case)

###

[2018-02-04 16:06] nomadus opened #3882 "Text editor component"
Not an issue but a feature request. Do you plan to add a text editor component into this library?
Thanks in advance!

[2018-02-04 23:27] msadahiro commented on #3635
I believe that I'm having a similar issue.
I've forked the repo and I went into my local project and placed as a dependencies as this:
"office-ui-fabric-react": "git://github.com/msadahiro/office-ui-fabric-react.git",
when I run NPM install this is the error that I get.

module.js:487
    throw err;
    ^

Error: Cannot find module '/Users/michaelsadahiro/Documents/Microsoft/testing/node_modules/o

[2018-02-05 04:59] dzearing commented on #3841
We already have these in this location:

[code]

But it seems that referencing the definitions from d.ts only does not inline the result and you end up with a runtime error where IconNames is undefined.

[2018-02-05 05:04] dzearing commented on #3841
I had tested using these from awesome-typescript-loader and ran into issues, but then tried using tsc and all's well. I believe there may be some settings required in webpack loaders to expand const enums into literals.

[2018-02-05 16:54] mikewheaton commented on #3818
Reopening this issue. @zeeskhan1990 and @realhoffi, are you still seeing this error?

[2018-02-05 19:23] #3757 closed

[2018-02-06 09:26] akashperfect opened #3888 "[DetailsList] Error: Objects are not valid as a React child (found: object with keys {}). when rendering undefined element in groupedList"
### Bug Report

- __Package version(s)__: 5.46.0
- __Browser and OS versions__: Windows10, Chrome

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Blocking

Products/sites affected: VSTS

#### Describe the issue:

**DetailsList** component has this prop to provide a callback when missing item is rendered called

[2018-02-06 10:24] vaalgrind opened #3890 "Dropdown - Uncaught Exception in Layer.componentDidMount()"
### Bug Report

- Package version(s): "^5.46.0"
- _Browser and OS versions_: (All)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: (Blocking)

#### Describe the issue:

I copy dropdown example from documentation. When I clicked it, in console appear error.
![przechwytywanie](https://user-images.githubusercon

[2018-02-06 11:20] zeeskhan1990 commented on #3818
No, it seems fixed now.

[2018-02-06 16:27] mikewheaton commented on #3818
Closing this again then. 😄  @realhoffi, please let us know if you're still seeing this issue.

[2018-02-06 16:27] #3818 closed

[2018-02-06 17:04] mikewheaton commented on #3879
Reopening this issue, as #3886 had to be reverted.

[2018-02-06 18:08] lambertwang commented on #3882
A text editor component seems like it would be too specialized for a component library like fabric to support. The closest thing we have would probably be textfield.

[2018-02-06 18:27] realhoffi commented on #3818
@mikewheaton sorry, i read something wrong..,  when i tried to webpack, it tells this error
" ERROR in ./node_modules/office-ui-fabric-react/lib/components/GroupedList/GroupSpacer.scss.js
    Module not found: Error: Can't resolve '@microsoft/load-themed-styles' in 'C:\Projects\HomeAutomation\node_modules\office-ui-fabric-react\lib\components\GroupedList'"

[2018-02-06 18:36] lambertwang commented on #3888
Changing the return of the `onRenderMissingItem` callback from `{}` to `undefined` seems to stop the error.

[2018-02-06 18:39] IASamoylov opened #3895 "[TextField] Custom value for attribute componentId don't work in TextField"
### Bug Report

- __Package version(s)__: 5.24.0
- __Browser and OS versions__:  all

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes)

Requested priority: Normal

#### Describe the issue:

In [Docs](https://developer.microsoft.com/en-us/fabric#Implementation) props [ITextFieldProps](https://github.com/OfficeDev/office-ui-fabric-

[2018-02-06 20:26] mikewheaton commented on #3818
I'm really not sure what to make of that error. Could you open a new issue for this, as it looks to be different than the original issue we had here?

[2018-02-06 20:56] richardtagger opened #3898 "Callout slow performance"
### Bug Report

- __Package version(s)__: 5.45.1
- __Browser and OS versions__: Chrome Latest / MacOS High Sierra

Are you willing to submit a PR to fix? No

Requested priority:  Normal

Products/sites affected: Yammer

Yammer are trying to use Callout for type ahead suggestions in the message publisher. Looking at flame graphs when debugging performance reveals hundreds of milliseconds spent reca

[2018-02-06 20:59] nhadro commented on #3373
Has anyone made any progress with this or found a work around?

[2018-02-06 21:15] patrickabel commented on #3373
Unfortunately no, still an issue.

[2018-02-06 22:16] DarylCantrell opened #3900 "components/CommandBar: ChevronDown is too dark when disabled"
### Bug Report

- __Package version(s)__:
[code]
#### Priorities and help requested (not applicable if asking question):

*Are you willing to submit a PR to fix? (Yes, No)*
Yes

*Requested priority: (Blocking, High, Normal, Low) *
Normal

*Products/sites affected: (if applicable)*
(all)

#### Describe the issue:

When a CommandBar component with a chevron is **disabled**, the chevron stays at Neut

[2018-02-06 22:51] gongiskhan commented on #3015
Hey,
This one seems to be back on react 16.2.0 with 5.3.0 and 5.47.0
Just try to bump the react version and you'll see it happening.

[2018-02-06 23:21] daweffe opened #3902 "[TextField] Accessibility- Error message not announced in most browser/screen reader combos"
### Bug Report

- __Package version(s)__: 5.40

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Planner

#### Describe the issue:

The error message has aria-live="assertive" set, but this does not result in an announcement in all browsers and screen readers.

#### Expected beha

[2018-02-06 23:30] jordandrako opened #3903 "mergeStyles: Switching html direction to rtl doesn't change style direction"
### Bug Report

- __Package version(s)__: latest

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:

When switching the HTML direction to RTL, the styles (such as padding-left, left, etc) aren't changing directions (to padding-right, right, etc) like the RTL sass mixin did.

Here

[2018-02-07 00:17] stanleyymsft opened #3905 "ComboBox: Feature Request: provide multiSelect capability"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes)

Requested priority: (Blocking)

Products/sites affected: (SPO/OneDrive)

#### Describe the issue:

#### Actual behavior:

#### Expected behavior:

### If applicabl

[2018-02-07 04:07] vamsi981 commented on #3755
Hi @aditima thanks for the reply, we followed as you suggested and it worked, it would be great if such examples are created at the components page

[2018-02-07 05:49] dzearing commented on #3903
This should be fixed in my last push. The `dir` attribute was being written to the document late. I've adjusted the logic slightly to ensure reading the dir propagates to mergeStyles.

[2018-02-07 05:50] dzearing commented on #3903
@jordandrako can you verify this is better now and close, or ping me if not?

[2018-02-07 05:50] dzearing commented on #3902
@cschlechty thoughts?

[2018-02-07 08:28] realhoffi commented on #3818
yes, of course :)

[2018-02-07 10:49] geogikk92 opened #3908 "SPFx -Error when use last version of Office-UI-React with SPFX 1.4.0"
I want to use last version of Office-UI-React with SharePoint Framework v 1.4.0 with TypeScript Version 2.2.2.

When i install last version office-UI-React have following error:

![untitled](https://user-images.githubusercontent.com/14110861/35912482-64f15784-0c05-11e8-841f-3487006945ef.png)

[2018-02-07 18:02] cschlechty commented on #3902
The occurs because the live region is added simultaneously with the text. Some browsers don't announce text when initially added, and track subsequent changes. One fix would be to always render a container with aria-live, and conditionally render the error. Alerts are live regions by definition, so we shouldn't need aria-live if we go that route.

[2018-02-07 18:55] lambertwang commented on #3895
Sorry, I probably should've asked this question before I made the PR.
Do we want to expose the internal componentId and allow users to set it via props, or do we want to keep componentId internal and remove it from the props?

[2018-02-07 19:09] daweffe opened #3910 "[PeoplePicker] Accessibility - announce when search results are loaded"
### Bug Report

- __Package version(s)__: 5.40

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Planner

#### Describe the issue:

The people picker announces when search results are loading and when no results are found. But it should also announce when search results are found

[2018-02-07 19:18] daweffe commented on #3902
Just make sure to test with as many screen readers + browser combinations as you can.

From: Chris Schlechty <notifications@github.com>
Sent: Wednesday, February 7, 2018 10:02 AM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Darin Weffenstette <daweffe@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [OfficeDev/office-ui-fabric-react] [TextFiel

[2018-02-07 19:20] jordandrako commented on #3903
@dzearing I pulled from master and I'm still seeing padding-left on the SearchBox root element.

[2018-02-07 23:30] gscottolson opened #3913 "Set style for FocusZone focus outline?"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

#### Describe the issue:

The FocusZone focus outline is thin, solid black border. Is there any way to enhance it?

#### If applicable, please provide a codepen repro:

You can see the behavior here: https://developer.microsoft.com/en-us/fabric#/components/focuszone

[2018-02-07 23:56] gscottolson commented on #3913
I found the reference in the docs that pointed me to the [associated SCSS mixin](https://github.com/OfficeDev/office-ui-fabric-react/blob/3ecbbe49168a0dc4524304825d08ff0ab7fc4ccd/packages/example-app-base/src/common/_focusBorder.scss). Just wanted to update this issue in case others were looking for the same thing.

[2018-02-08 07:54] Markionium opened #3914 "onKeyDown on Button does not fire for Button with a menu"
### Bug Report

- __Package version(s)__: 5.48.1
- __Browser and OS versions__: Not relevant

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low)  High

Products/sites affected: (if applicable) LPC Keyboard users

#### Describe the issue:

TLDR; The `onKeyDown` event on the

[2018-02-08 08:37] twarzo opened #3916 "Accessibility: High Contrast: Iconbutton does not follow high contrast standards on Firefox"
### Bug Report
- __Browser and OS versions__: Firefox Version 58.0.1 (64-bit), Windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
No

Requested priority:
Normal

Products/sites affected: (if applicable)
VSTS

#### Describe the issue:
IconButton is not following high contrast color standards in Firefox browser

####

[2018-02-08 12:34] SumiranAgg opened #3917 "List: re-evaluate windows on element resize"
### Bug Report

- __Browser and OS versions__: Microsoft Edge 41.16354.1001.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: VSTS

#### Describe the issue:

On zoom (>=200%), few items are missing at the end of the list. (Usually few ms-List-pages are missing from the end)
Thi

[2018-02-08 12:37] SumiranAgg opened #3918 "Items missing in ms-list on zoom"
Bug Report
Browser and OS versions: Microsoft Edge 41.16354.1001.0
Priorities and help requested (not applicable if asking question):
Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: VSTS

Describe the issue:
On zoom, few items are missing at the end of the list. (Usually few ms-List-pages are missing from the end)

Actual behavior:
Few items are miss

[2018-02-08 12:37] #3918 closed

[2018-02-08 14:50] IASamoylov commented on #3895
@lambertwang, I think logic written in docs doesn't need any changes

[2018-02-08 16:30] paterasMSFT opened #3920 "Broken Roadmap link on Contributing Readme"
The [Contributing Readme](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/ghdocs/CONTRIBUTING.md) says:

The link to the roadmap is broken. I noticed that the above was removed from the home Readme ([see here](https://github.com/OfficeDev/office-ui-fabric-react/pull/2264)). Should the same be done on the contributing document, as well? If not, that link should be fixed.

I'd be hap

[2018-02-08 18:26] jordandrako commented on #3920
I think that's a reasonable change, feel free to submit a PR. Thanks!

[2018-02-08 18:40] jordandrako commented on #3917
I'm not seeing this behavior on our [example page](https://developer.microsoft.com/en-us/fabric#/components/list). I do see the container frames add their own scrollbars, though, resulting in having to scroll more than one box to get to the end of the list. Is that maybe what you're referring to?

If not, could you provide an example?

[2018-02-08 18:42] IASamoylov commented on #3895
@lambertwang, and I think it's right to let developers install IDs from the elements. It can be useful for auto tests.

[2018-02-08 19:34] lynamemi opened #3924 "ChoiceGroup: Need flexible sizing"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low) High

Products/sites affected: (if applicable) Sp-pages

#### Describe the issue:

Currently ChoiceGroup

[2018-02-08 19:52] jordandrako commented on #3916
We currently only support IE and Edge HIgh Contrast, as other browser implementations are inconsistent.

[2018-02-08 19:52] #3916 closed

[2018-02-08 20:11] mikewheaton opened #3926 "Link: Convert to merge-styles"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: All

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: N/A

#### Describe the issue:

Convert the Link component to use merge-styles instead of SCSS styles.

[2018-02-08 20:24] paterasMSFT commented on #3920
Tried pushing a remote branch. Seems I lack permissions. Do I need to be added as a contributor or something?

[2018-02-08 23:11] justinmwarner opened #3931 "Make Pivot a controlled component"
### Bug Report

- __Package version(s)__: 5.39.0
- __Browser and OS versions__: N/A

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes - just need sign off

Requested priority: Low

Products/sites affected: Analytics

#### Describe the issue:

We have CheckBox which is controllable by props. I'd like to add this same functionality t

[2018-02-08 23:45] Jahnp commented on #3920
Thanks for reporting this, @paterasMSFT! For now, we went ahead and cleaned up that whole paragraph (it was a little out of date), and will be adding an updated roadmap soon. I'll go ahead and close this for now.

[2018-02-08 23:45] #3920 closed

[2018-02-08 23:49] Jahnp commented on #3917
@cschleiden can you help us understand if this is an issue with the List or with VSTS? We're having a tough time reproing, both on the Fabric site and in a few lists in VSTS.

[2018-02-09 00:03] Jahnp commented on #3913
Just to be clear, the FocusZone itself doesn't mandate any focus styling out of the box--as you point out that's handled by the `focusBorder` mixin for SCSS-based components. That said, what scenario are you trying to support? Generally, focus borders should be as consistent as possible within product families and should only be adjusted if absolutely needed (e.g. for accessibility or to stand out

[2018-02-09 00:08] Jahnp commented on #3910
Fabric doesn't provide strings like this out of the box, but should definitely provide the necessary hooks/props to enable this. There should be documentation/best practices on how to support this scenario.

@joschect @cschlechty @Lego6245 , any thoughts on this? Have we done accessibility passes on our search results? Do we have the right props to support this screen reader experience?

[2018-02-09 00:18] Jahnp commented on #3902
@daweffe , just to understand--is there something that needs to be changed in Fabric React? We don't provide strings by default, but if you're missing a hook/prop to enable this behavior, we're happy to investigate or accept a PR with a fix.

[2018-02-09 00:21] manishgarg1 commented on #3908
Hi @geogikk92, can you please try to upgrade the typescript version and see if that fixes the issue? We believe this error could be related to the typescript version you have.

[2018-02-09 01:26] suztocco opened #3933 "Icon button: Need primary button"
### Bug Report

- __Package version(s)__: N/A
- __Browser and OS versions__: N/A

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Any workload that wants a simple primary button
#### Describe the issue:

Right now there is only 1 icon button. It starts as neutral then goes to a

[2018-02-09 01:34] cschleiden commented on #3917
@Jahnp I can't repro either. @SumiranAgg can you please provide more details?

[2018-02-09 04:41] davsm commented on #3299
I'm using this workaround until the bug fix is accepted:

.ms-DetailsList {
  .ms-DetailsHeader {
    box-sizing: content-box;
  }
}

[2018-02-09 05:34] #3924 closed

[2018-02-09 08:44] divyagandhi01 opened #3934 "Split Button returns group of tabs instead of using the SplitButtonAriaLabel"
### Bug Report

- __Package version(s)__: NA
- __Browser and OS versions__: NA

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable)

#### Describe the issue:

The Standard Split button on office Fabric website returns a tab group called-

[2018-02-09 11:41] IRRDC commented on #989
When a link is expandable icons are not displayed. It seems like it's not possible to have the expand/collapse icon and a manually set icon. Is this related to the details in this issue or should I create a new issue?

[2018-02-09 18:44] #3299 closed

[2018-02-09 20:09] #3900 closed

[2018-02-09 22:09] hmafzal commented on #3841
@dzearing do you know what those settings may be? I'm trying to use IconNames but during runtime IconNames seems to be undefined

[2018-02-09 23:12] SudharsanSukumar opened #3936 "FocusTrapZone Scroll Bug"
### Bug Report

- __Package version(s)__: 5.40.0
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites affected: Planner Web

#### Describe the issue:

If the contents of a FocusTrapZone are scrollable, any click / mousedown event will c

[2018-02-10 14:01] IASamoylov opened #3940 "[TextField] Validate function works incorrect with attribute "validateOnFocusOut""
### Bug Report

- __Package version(s)__: (5.49.0)
- __Browser and OS versions__: (All)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes)

Requested priority: (Normal)

#### Describe the issue:
![epwNV_](https://i.makeagif.com/media/2-10-2018/epwNV_.gif))

Steps:

1. Set incorrect text in the first field
2. Change focus
3. To obs

[2018-02-10 15:00] nero120 opened #3941 "Controlled TextField with multiline and autoAdjustHeight does not adjust when setting value via state"
### Bug Report

- __Package version(s)__: Latest

Are you willing to submit a PR to fix? Yes

#### Describe the issue:

When using a TextField as a controlled component (where the `value` prop has been set to a state variable) with multiline and autoAdjustHeight enabled, the height does not automatically adjust when the `value` state variable changes.

The height only updates once the user manuall

[2018-02-11 06:34] lednhatkhanh commented on #3692
I also get this problem, any update? Thanks.

[2018-02-11 10:26] SumiranAgg commented on #3917
@Jahnp The issue appears when there is no vertical scrollbar.
For instance in first example on link: https://developer.microsoft.com/en-us/fabric#/components/list
If you remove max-height prop div class "ExampleCard-example x-hidden-focus", only 143 items are visible from 4999 items.

[2018-02-12 09:03] javierordonezcastro commented on #1564
Hi, I have the same problem. Did someone find a solution?
Thank you very much

[2018-02-12 09:40] IRRDC opened #3945 "[Nav] Expand icon hides item icon"
#### Describe the issue:
When a link is expandable icons are not displayed. The expand/collapse icon is in the same position as the icon of the item and only one is displayed.

#### Actual behavior:
Only the expand/collapse icon is visible.

![actual](https://user-images.githubusercontent.com/11270504/36090548-0dfa1760-0fe1-11e8-8aa5-8d34d92a589f.png)

#### Expected behavior:
The expand/collapse i

[2018-02-12 17:20] ekawatani opened #3947 "The key used to open button menu should be configurable"
### Bug Report

- __Package version(s)__: 5.49.1
- __Browser and OS versions__: All browsers

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: Microsoft Dynamics NAV

#### Describe the issue:

Currently, the button menu of the Button component can only be opened via down arrow k

[2018-02-12 18:31] cschleiden commented on #3917
If you do this, the list doesn't know that its viewport changed.

[2018-02-12 18:33] aappddeevv commented on #1146
Check out the example link that is listed in the comment. Essentially you wrap the header (using the header renderer) in a Sticky and wrap everything in a ScrollablePane. So composed together it becomes a solution.

[2018-02-12 21:00] davsm commented on #3299
Thanks for the quick turnaround! Works perfect

[2018-02-12 21:23] trevorsg opened #3952 "Aria-owns property for ContextualMenu item for a sub menu is wrong"
### Bug Report

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Already done, see #3951

Requested priority: Normal

Products/sites affected: VSTS

#### Describe the issue:

If submenu props are given in a ContextualMenu item, one may give any ID for the generated submenu. However, the aria-owns property for the parent menu item will

[2018-02-12 21:25] trevorsg opened #3953 "CommandBar items do not have aria-setsize and aria-posinset attributes"
### Bug Report

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Already done, see #3951

Requested priority: Normal

Products/sites affected: VSTS

#### Describe the issue:

CommandBar items need to have aria-setsize and aria-posinset so that Narrator will announce their positions within the set.

#### Actual behavior:

They don't hav

[2018-02-12 21:41] #1074 closed

[2018-02-13 02:59] dzearing commented on #3841
https://github.com/s-panferov/awesome-typescript-loader/issues/137

[2018-02-13 03:18] dzearing commented on #3841
You can also import these like so:

[code]

[2018-02-13 03:20] dzearing commented on #3841
I tried this in our `apps/todo-app` and it resolves correctly. I believe this is the magic:

tsconfig.json:
[code]

[2018-02-13 03:20] dzearing commented on #3841
Going to close this one, please let us know again if you have issues.

[2018-02-13 03:20] #3841 closed

[2018-02-13 08:33] SumiranAgg commented on #3917
So is it recommended to use max-height if the list is large?

[2018-02-13 12:08] niadak opened #3958 "Disabled Dropdown text is not following high contrast color scheme in Firefox browser"
Bug Report
Package version(s): (fill this out)
Browser and OS versions: (fill this out if relevant)
Priorities and help requested (not applicable if asking question):
Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)
Normal
Products/sites affected: (if applicable)
VSTS

Describe the issue:
Disabled Dropdown text is not following high contrast color

[2018-02-13 16:20] betrue-final-final opened #3959 "Dialog component uses dark overlay"
The dialog component uses the dark overlay, and should use the white overlay to match product usage, as well as Panel.

Are you willing to submit a PR to fix? (Yes)

Requested priority: (Normal)

[2018-02-13 16:23] hoovercj opened #3960 "focusZone.focus(true) does not work"
### Bug Report

- __Package version(s)__:  v4.40.2-hotfix2 - Latest
- __Browser and OS versions__: All

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes, fix ready

Requested priority: Blocking

Products/sites affected: In-progress Microsoft product

#### Describe the issue:

There are two issues.
1) `FocusZone.tsx` defines a param

[2018-02-13 20:33] MLoughry opened #3966 "ContextualMenu style overrides are missing and/or not working"
### Bug Report

- __Package version(s)__: 5.49.3

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Maybe, not familiar with writing the custom styles

Requested priority: Normal

Products/sites affected: OWA

#### Describe the issue:

A few issues with the custom styles for ContexualMenu
- All of `IContextualMenuStyles`'s properties ar

[2018-02-13 21:02] #3952 closed

[2018-02-13 21:09] #3553 closed

[2018-02-13 21:11] #3940 closed

[2018-02-13 22:08] oengusmacinog commented on #3788
I'm going to go ahead and close this ticket. Please feel free to reopen or open another issue if you are still having this problem with the latest version.

[2018-02-13 22:08] #3788 closed

[2018-02-13 23:46] amyngu opened #3969 "Refactor SuggestionsController and Suggestions with clearer responsibility divide"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Low

Products/sites affected: (if applicable): OWA

#### Describe the issue:

The suggestionsController and suggestions should be separate, but work well together. Possibly make SuggestionsController a react element whose render function only returns `<Suggestion

[2018-02-14 02:26] #3803 closed

[2018-02-14 02:46] #3914 closed

[2018-02-14 03:50] niadak commented on #3786
Focus is also not visible on the DropDown in Firefox High Contrast more.

[2018-02-14 11:02] ankitk94 opened #3971 "[CommandBar] When disabled button is hovered, no message is shown"
### Bug Report

- __Package version(s)__: 5.48.1

#### Describe the issue:

We have a requirement to disable a button in command bar based on a condition and and we will be showing the cause why button was disabled using a tootip when user hovers over the button, which is shown if "title" is provided for items.

This is working fine if the button is enabled. But if the button is disabled, no toolt

[2018-02-14 12:50] shyama1208 opened #3972 "Disabled "Link" is accessible when we navigate using keyboard."
Disabled "Link" is accessible via keyboard and pressing "Enter" navigates to the attached link.

Expectation: Disabled link should not open any link when "enter" is pressed (Keyboard navigation)

[2018-02-14 13:33] tx4x opened #3973 "onSelectionChanged not fired"
Hi,
I am not sure I understood this right:

[code]
won't fire this method when click an item, or move the keyboard focus within a list. Do I have to implement this behaviour myself ?

thanks,
g

[2018-02-14 15:14] betrue-final-final commented on #3972
It's ok that it's navigable, but should not work and should announce that it's disabled.

[2018-02-14 17:00] aappddeevv opened #3974 "Selection.onSelectionChanged should be mutable with getter/setters instead of only in the constructor"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Y

Requested priority: Low

#### Describe the issue:
Sometimes I need to create the Selection object in different parts of the react lifecycle, I can't always get my callback handler into the right place when it has to be in the "constructor" of the Selection object. Since Selection is m

[2018-02-14 17:00] aappddeevv commented on #3973
It does work like that. Is your cb bound correctly?

[2018-02-14 17:52] #3858 closed

[2018-02-14 18:02] #3941 closed

[2018-02-14 21:18] cslecours opened #3977 "[SearchBox] should use the prop named placeholder instead of labeltext."
### Bug Report

- __Package version(s)__: 5.47.0
- __Browser and OS versions__: Any

Are you willing to submit a PR to fix? Yes

Requested priority: Low

Products/sites affected: The SearchBox Component

#### Describe the issue:

This doesn't work but compiles without error :
`<SearchBox placeholder="My PlaceHolder" />`

But this works:
`<SearchBox labelText="My PlaceHolder" />`

The placeholder i

[2018-02-14 22:04] justinmwarner commented on #3931
@dzearing is this okay to start? Currently we're using a hack to get around this limitation and it seems this would follow much of what Fabric already does.  Thanks!

[2018-02-15 03:01] #3960 closed

[2018-02-15 10:33] AkshanshSrivastava03 opened #3980 "aria-required-children broken for Date picker component"
### Bug Report

- __Package version(s)__: 5.46.1002
- __Browser and OS versions__: Chrome

#### Describe the issue:

aria-required-children is not correctly instantiated for Date picker component.

#### Actual behavior:

![image](https://user-images.githubusercontent.com/24951429/36252174-b59053ec-1269-11e8-9e0b-7aed8a40e705.png)

#### Expected behavior:

This should be correctly used according to