[2018-02-15 10:37] AkshanshSrivastava03 opened #3981 "Narrator always speaking aloud table, grid details for Date time picker component"
### Bug Report

- __Package version(s)__: 5.46.1002
- __Browser and OS versions__: Edge + Narrator

#### Describe the issue:
When you go to the office fabric page for Date time picker component, the narrator, irrespective of where the focus is, speaks up the number of rows/columns etc. This is wrong behavior from accessibility point of view as narrator needs to speak this data only when the focus

[2018-02-15 14:17] jspurlin opened #3983 "Styling: fillOpacity gets incorrectly convert to a px value"
### Bug Report

- __Package version(s)__: 5.50.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Office Online

#### Describe the issue:

When defining fillOpacity in a styles file, the number value gets incorrectly converted to a pixel value

#### Actual behavior:
`fillOpacity

[2018-02-15 14:40] hungdluit commented on #3872
+1
same issue in my case.

[2018-02-15 15:10] fuocor opened #3984 "SpinButton styling is inconsistent with TextField"
### Bug Report

- __Package version(s)__: 5.43.1
- __Browser and OS versions__: all
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No
Requested priority: Blocking
Products/sites affected: internal
#### Describe the issue:

the SpinButton input is rendered at 26px high when TextField's inputs are 30px.
additionally the input in the Te

[2018-02-15 16:30] trevorsg opened #3985 "Unnecessary high contrast override is used for buttons with class ms-Link"
### Bug Report

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: VSTS

#### Describe the issue:

In #2589, you can find many instances where the "color" property is set to "Highlight". Highlight is intended as a background color, so in a dark HC theme, it will be a dark color.

[2018-02-15 17:15] betrue-final-final commented on #3985
I think that maybe @kristoferbrown set those to highlight when he meant to set it to highlightText. Where are you seeing this?

[2018-02-15 17:41] wygoodin opened #3987 "Pivot: Narrator focus changes in a strange way on Pivot selection"
### Bug Report

- __Package version(s)__: 5.47.0
- __Browser and OS versions__: Edge with Narrator, Windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
No (I have made several attempts to fix, and can't figure it out)

Requested priority: (Blocking, High, Normal, Low)
High (eventually blocking)

#### Describe the iss

[2018-02-15 17:56] oengusmacinog opened #3988 "Customizable Decorator conflicting with Static class Functions"
### Bug Report

- __Package version(s)__: 5.49.3

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:

While converting the Layer component to mergeStyles I added the @customizable decorator to the LayerBase (Formerly Layer) class and found that the sibling component, LayerHost, co

[2018-02-15 18:30] trevorsg commented on #3985
@betrue-final-final Just look at the PR #2589 and Ctrl+F for "color: Highlight"

[2018-02-15 19:05] abettadapur opened #3989 "List: onPageAdded/Removed is not called if getPageHeight is provided as a prop"
### Bug Report

- __Package version(s)__: :Latest

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low)  Normal

#### Describe the issue:
If the `getPageHeight` property is provided to List, the `onPageAdded` and `onPageRemoved` callbacks are never called.

This is because these callbacks are called within the `updatePageMeasurements` function, wh

[2018-02-15 22:22] Jahnp commented on #3987
@jspurlin @cschlechty -- thoughts on this? Is there something we're doing wrong here?

[2018-02-15 22:29] Jahnp commented on #3984
Seems reasonable--feels like those should be consistent. @jspurlin, is this something you could fix? @betrue-final-final for FYI

[2018-02-15 22:31] betrue-final-final commented on #3984
Makes sense. Also the pressed color of the tiny buttons should not be theme color, but the same as button's pressed state color.

[2018-02-15 22:31] betrue-final-final commented on #3984
![image](https://user-images.githubusercontent.com/20363037/36284554-e73ffc56-125c-11e8-90e1-27f3f9ef6a86.png)

[2018-02-15 22:32] Jahnp commented on #3983
@jspurlin FYI you should be able to just use a string value for this, but @dzearing will be fixing this anyway.

[2018-02-15 22:34] Jahnp commented on #3981
@betrue-final-final, can you take a look at this when you have a chance?

[2018-02-15 22:36] Jahnp commented on #3980
@johannao76, could you or someone from your team take a look at this when you have a chance?

[2018-02-15 22:36] jspurlin commented on #3987
I just played with the pivot component on the external example pivot page and navigating with scan mode on or off seemed to work as expected.

@wygoodin do you have more details (repro steps) for the issue you are describing?

[2018-02-15 22:39] Jahnp commented on #3977
This is a great catch, thanks for reporting @cslecours . We should be consistent with native input prop names here. What we should do is add `placeholder` and deprecate `labelText`. We'd welcome a PR if you're willing to the fix!

[2018-02-15 22:48] Jahnp commented on #3973
@aappddeevv is right. You should be able to use the `@autobind` decorator to set the right scope for `this`. I'll go ahead and close this for now, but feel free to reopen if you feel there's a real issue here. Thanks!

[2018-02-15 22:48] #3973 closed

[2018-02-15 22:49] dzearing commented on #3974
For now we are going to pass on this one.

If you really need this, you can do this easily in your app code.

[code]

Now at any point you can change your callback. I'm not sure it's necessary to expose a way to do this, it ends up just adding bytes to the code unnecessarily.

[2018-02-15 22:49] #3974 closed

[2018-02-15 22:49] antonafMSFT opened #3993 "ScrollablePane using setTimeout instead of _async.setTimeout"
### Bug Report

- __Package version(s)__: All versions
- __Browser and OS versions__: N/A

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: Anyone using the `ScrollablePane` component

#### Describe the issue:

When a `ScrollablePane` is unmounted before the timeout callback tha

[2018-02-15 23:02] Jahnp commented on #3971
@lambertwang  can you take a look at this? Seems like this could be solved if you could remove `pointer-events: none` when the button has no `href` attribute.

[2018-02-15 23:03] dzearing commented on #3983
fixed

[2018-02-15 23:03] #3983 closed

[2018-02-15 23:09] cslecours commented on #3977
@Jahnp  : Should I explicitely add placeholder to ISearchboxProps? For documentation purposes I think it would be better than relying on the HTMLInputElement interface.

[2018-02-15 23:35] Jahnp commented on #3977
Yeah, that sounds right, thanks for clarifying. I more meant that generally, we should make sure that prop names map as closely as possible to native prop names--helps ensure a consistent developer experience.

[2018-02-16 00:10] dzearing commented on #3993
Great catch!

@battletoilet make sure to review.

[2018-02-16 01:32] johannao76 commented on #3980
Adding @John Lorenz<mailto:jolore@microsoft.com>
________________________________
From: Peter Jahn <notifications@github.com>
Sent: Thursday, February 15, 2018 14:36
To: OfficeDev/office-ui-fabric-react
Cc: Johanna Hawkins (ORTIZ); Mention
Subject: Re: [OfficeDev/office-ui-fabric-react] aria-required-children broken for Date picker component (#3980)

@johannao76<https://na01.safelinks.protection.o

[2018-02-16 02:11] #3926 closed

[2018-02-16 04:28] #3947 closed

[2018-02-16 07:41] aslanovsergey opened #3999 "Experimental components setup"
Hello,

This is just a question. I found experimental component 'Form' which I would like to try to use it my SharePoint Framework WebPart project.
https://github.com/OfficeDev/office-ui-fabric-react/tree/master/packages/experiments
But I can't make out how to set (install, configure) it for use. Readme at the page above says I need
_import { ComponentName } from '@uifabric/experiments/lib/Compone

[2018-02-16 09:40] martellaj opened #4000 "[BasePicker] onBlur prop isn't used"
### Bug Report

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

#### Describe the issue:

There's a `onBlur` prop for `BasePicker`, but it doesn't seem to be respected. I looked at the `BasePicker` code, and I can't find any reference to it. Was it recently removed from component code, but not from the

[2018-02-16 09:41] martellaj commented on #4000
@joschect I know you've done picker stuff recently. Aware of any changes that might be related?

[2018-02-16 10:21] szmarci opened #4001 "Tabbing through <TextField>-s in a <DetailsList> component"
I have a `<DetailsList>` component with custom `<TextField>` cells inside.
I want to be able to tab to the next cell. I tried supplying `tabindex` property to `<TextField>`  with an incremential index number, but when it was rendered to the DOM the numbers became either `0` or `-1`.
How can I make these fields tab-able?

Thanks!

[2018-02-16 15:12] PrinzTu opened #4002 "How to use with create-react without typescript?"
How can I use the Components along with Styling just with a "create-react" installation with no typescript. I get errors because of the imports of scss a

[2018-02-16 16:58] #3989 closed

[2018-02-16 16:59] #3815 closed

[2018-02-16 17:08] martellaj opened #4003 "[Autofill] Add support for custom styles"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:

I'm in the process of making a custom picker component. In doing so, I want to style the input box (`Autofill` component), but there doesn't seem to be any support for that. Is there any reason why we can't add a `className` prop

[2018-02-16 17:10] #3433 closed

[2018-02-16 18:28] joschect commented on #4000
It looks like it was added here https://github.com/OfficeDev/office-ui-fabric-react/commit/741bf74775697aa459121b4b1b81af7e44138991#diff-c88a174b6c194e2d439942d05cb8fb6c but never used. I don't believe it was removed recently.

[2018-02-16 20:08] fpintos commented on #3903
I've hit the same issue. From my debugging, the cause is that rtlifyRules is not being called during mergeStyleSets because styleToRegistration finds a cached item and uses it, without going thru serializeRuleEntries.

Perhaps getKeyForRules should include the state of RTL in it, so when it changes, we will get a different key and serialize the new style.

[2018-02-16 20:40] betrue-final-final commented on #3981
I tried this on the live site, and in master and didn't find the behavior described. Narrator spoke what I expected, when I expected it and no tables or cells were mentioned. If you see this again, feel free to reopen with more specific repro steps. Here is my Narrator Buddy output:
Select a date..., collapsed, menu,
Select the first day of the week, editable combo box,
Sunday, collapsed,
Sunday,

[2018-02-16 20:40] #3981 closed

[2018-02-16 21:30] johannao76 commented on #3981
Adding @John Lorenz<mailto:jolore@microsoft.com>

________________________________
From: Ben Truelove <notifications@github.com>
Sent: Friday, February 16, 2018 12:40:08 PM
To: OfficeDev/office-ui-fabric-react
Cc: Johanna Hawkins (ORTIZ); Mention
Subject: Re: [OfficeDev/office-ui-fabric-react] Narrator always speaking aloud table, grid details for Date time picker component (#3981)

I tried this o

[2018-02-17 02:31] davsm opened #4012 "ScrollablePane tries to getComputedStyle(root), but root is undefined (this.refs.root)"
### Bug Report

- __Package version(s)__: 5.50.0
- __Browser and OS versions__: chrome, windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes
Requested priority: Medium - only breaks tests, but is blocking our adoption of Fabric
Products/sites affected: internal MS

#### Describe the issue:

ScrollablePane._resizeContainer i

[2018-02-17 16:01] limefrogyank commented on #616
Yes, thank you, @ZeekoZhu

[2018-02-17 22:09] dzearing opened #4013 "Every component that takes text should have a text property"
When you define a CommandBar item, it should really be IButtonProps and take `text` as the prop for display text. Unfortunately it's `name`.

Nav's links are the same. `name` across the board should be deprecated in favor of `text`. Otherwise no predictability.

[2018-02-17 22:11] dzearing opened #4014 "Every component that takes an array should not require 'key'"
Some components, such as Nav, or CommandBar, take items, and they require `key` props for each. Key is important to prevent us from re-creating the children on a re-render.

But when the customer doesn't provide a key, we should have some smarts about getting the key from the props. It should be consistent; like fall back to id, or text, or index. That way, you can do less work to use the componen

[2018-02-18 01:18] stephenzsy opened #4015 "ComboBox box-sizing broken the bottom border"
### Bug Report

- __Package version(s)__: 5.46
- __Browser and OS versions__: Chrome 64

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Blocking

Products/sites affected: (if applicable)

#### Describe the issue:

looks this change https://github.com/OfficeDev/office-ui-fabric-react/commit/5c71bd92894505214a9a

[2018-02-18 10:06] artxach commented on #3373
Hi. I am able to see those buttons with smaller window sizes, but still not working in mobile(which is, btw, 720x1280px)

[2018-02-19 09:32] tommarien opened #4019 "TextField type=number does not display value 0"
### Bug Report

- __Package version(s)__: office-ui-fabric-react@4.37.5
- __Browser and OS versions__: not relevant

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: (High)

#### Describe the issue:

When you set a value to a textfield type numeric of 0 it does not display, related to TextField.tsx the way it

[2018-02-19 09:52] AkshanshSrivastava03 commented on #3981
Hi
As soon as I landed on the office fabric homepage, I was able to see this behavior in Narrator buddy:

Table Grid, has <say-as interpret-as="cardinal">46</say-as> rows, <say-as interpret-as="cardinal">20</say-as> columns,, <say-as interpret-as="spell">F4</say-as>, selected, editable, True / False, Row <say-as interpret-as="cardinal">5</say-as> of <say-as interpret-as="cardinal">46</say-as> Colu

[2018-02-19 16:18] MertenK-HV commented on #4012
+1 same issue here, please fix this

[2018-02-19 22:14] cslecours opened #4023 "[Dropdown] impossible to override the render of a multiSelect dropdown options."
### Bug Report

- __Package version(s)__: 5.47.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Not right now.

Requested priority: Normal

#### Describe the issue:

When a dropdown is multiselect. It renders the list as checkboxes. The onRenderOption is in the children of the Checkbox, but the checkbox doesn't use it's children, it

[2018-02-20 07:51] Khushveerkaur opened #4024 "Accessibility: Tab keeps looping inside Lists"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: NA

#### Describe the issue:
The bug was found during the accessibility testing for our page, where it was noticed that while keyboard navigation, on entering the ms-contextual list, the tab keeps looping inside the list rather than navigating to the next element.
![temp1519022910285](https://user-images.githubusercont

[2018-02-20 08:00] Khushveerkaur opened #4025 "Accessibility: Fix Contrast Ratio"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: NA

#### Describe the issue:
During the Keros testing of our page for accessibility, it was found that the "ms-link"s do not meet the contrast ratio required for accessibility.

#### Actual behavior:

Foreground: #0078d7
Background: #ffffff
Contrast ratio: 4.49
Text size: 9.8pt (regular)

#### Expected behavior:

Regul

[2018-02-20 08:48] Khushveerkaur opened #4026 "Accessibility: Redundant Label Instructions in ms-button"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: NA

#### Describe the issue:
One of the ms-button in our page has redundant label instructions leading to accessibility testing failures. The button has aria-label set as the title, thereby leading to redundancy.

![temp1518089251834](https://user-images.githubusercontent.com/36656468/36414421-38097d08-1648-11e8-9642-4

[2018-02-20 11:08] Khushveerkaur opened #4027 "list navigates while panning with touch"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: NA

#### Describe the issue:
Panning the list with touch (Surface, etc.) navigates to the item the finger was over.

#### Actual behavior:

Just pan the results list

#### Expected behavior:

On finger release, navigates to the item the finger was over.

### If applicable, please provide a codepen repro:
https://develo

[2018-02-20 15:14] LokiMidgard opened #4028 "Padding on SpinButton seems to have not the correct padding on the right"
### Bug Report

- __Package version(s)__: 5.45.0
- __Browser and OS versions__: observed with Firefox 58.0.2 and Chrome 64.0.3282.167 Windows 7

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Low

Products/sites affected: (if applicable)

#### Describe the issue:

The SpinButton is bigger than its container.

[2018-02-20 16:11] paterasMSFT opened #4029 "DetailsList: Ungrouped items not rendered"
### Bug Report

- __Package version(s)__: 5.52.0
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Low

#### Describe the issue:

If you group some items, but not not all, the ungrouped items aren't rendered. So if I have a list of 10 items, and provide groupings for items 2-4 and 6-8, items 1, 5, 9, and 10 won'

[2018-02-20 17:17] pkothare opened #4030 "Office Fabric website Nav component page broken"
### Bug Report

- __Package version(s)__: v5/5.3.0, based on the stack trace observed
- __Browser and OS versions__: Edge/Windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites affected: Office Fabric website

#### Describe the issue:

Open a browser and browse to https://developer.mic

[2018-02-20 17:33] ardallie opened #4032 "Please add type="button" attribute to <Rating /> buttons"
Hello.
I use Office-UI Fabric React with a custom front-end hosted on Office 365 SharePoint. The `<Rating />` component reloads the page after a star button has been clicked.

In the context of SharePoint server, the  `<Button class='ms-Rating-button'` acts as a submit button that triggers the page reload when clicked.

May I suggest that the **type="button"** attribute is added to the `<Button cl

[2018-02-20 19:11] Jahnp commented on #4030
Thanks for reporting this--we've been looking at this from this morning. We aren't reproing it locally and have a hunch that it may have been related to `master` being in a not great state at the time of last deploy. We'll check the latest state of `master` against our test environment and hopefully have a fix out today or tomorrow. @lynamemi for FYI (who's actually doing all the hard work here)

[2018-02-20 20:04] jspurlin opened #4034 "ContextualMenu/CombBox/Dropdown: Investigate passing a set of default handlers for mouse/keyboard interaction to custom render"
### Bug Report

- __Package version(s)__: 5.52.0

#### Priorities and help requested (not applicable if asking question):

Requested priority: Normal

#### Describe the issue:
Currently ContextualMenu, ComboBox, and Dropdown components defines some mouse/keyboard interaction behaviors but this functionality is lost when using onRender. We should investigate bundling the default handlers together a

[2018-02-21 00:01] davsm commented on #3635
+1 the repo is setup so it cannot be used as an NPM source directly. The repo name isn't actually "office-ui-fabric-react", so the source code can't be used as a package.

[2018-02-21 02:02] cobbs-totem commented on #4029
I think I had this same question a while back:

https://github.com/OfficeDev/office-ui-fabric-react/issues/2064

I think what we're both trying to achieve is a "TreeView" component, which I'm lead to believe is in the works, maybe?

[2018-02-21 04:07] dzearing commented on #4032
Fixing.

[2018-02-21 04:39] #4032 closed

[2018-02-21 04:47] #3971 closed

[2018-02-21 06:21] balajilaxmanpastapure commented on #2683
I am experiencing this issue, what is the solution?

[2018-02-21 07:42] richardtagger opened #4047 "Persona performance slow"
### Bug Report

- __Package version(s)__: 5.45.1
- __Browser and OS versions__: Chrome Latest / MacOS High Sierra

Are you willing to submit a PR to fix? No

Requested priority:  Normal

Products/sites affected: Yammer

Yammer are trying to use Persona for type ahead suggestions in the message publisher. Looking at flame graphs when debugging performance reveals hundreds of milliseconds spent reca

[2018-02-21 12:53] akashperfect opened #4048 "[DetailsList] On state change in groupedDetailsList, the view scrolls up"
### Bug Report

- __Package version(s)__: 5.53.0
- __Browser and OS versions__: Chrome, Windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Blocking

Products/sites affected: VSTS

#### Describe the issue:

In case of grouped detailsList when we have more than 25 items in the list.
- Scroll down till th

[2018-02-21 14:00] prativen opened #4049 "ChoiceGroup focus() not taking focus to the selected choice"
### Bug Report

- __Package version(s)__: 5.53.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix?  No

Requested priority: Normal

Products/sites affected: VSTS

#### Describe the issue:

Programmatically calling focus() on the choice group does not take focus to the selected key. Instead it takes focus to the last option in the choic

[2018-02-21 16:28] craftytrickster commented on #3898
I have also noticed very bad slowdowns with Callouts and Stylesheet.js, often taking an entire second to even appear on the screen, no matter how simple the content of the callout.

[2018-02-21 16:31] gbminnock opened #4050 "DetailsList - infinite-scroll"
**Question**

I want to implement infinite scolling on DetailsList. I see that there is a sample _"Advanced DetailsList of 5000 items" [link](https://developer.microsoft.com/en-us/fabric#/components/detailslist) which does seem to have infinite scrolling but I cannot see how that is working.
Thanks

[2018-02-21 17:04] paterasMSFT opened #4051 "ComboBox: Allow users to set the button's data-is-focusable value"
Currently the button on a ComboBox defaults to data-is-focusable="true". There is [a mechanism](https://github.com/OfficeDev/office-ui-fabric-react/blob/d2edbbc6c069f8cb8d2936a8d982aa50be0613e1/packages/office-ui-fabric-react/src/components/Button/BaseButton.tsx#L166) for setting that value to false. The ComboBox just needs an interface to allow its consumer to do so.

This button is redundant for

[2018-02-21 18:37] aappddeevv commented on #3378
The setting of the height was only to force a scroll of the list body. However, we can use ScrollablePane now per #1146.

[2018-02-21 18:37] #3378 closed

[2018-02-21 19:00] aditima commented on #3656
Hi @MaronMariusz - I don't see the warning on the example page. Could you please share a repro so we can debug what's causing this?

[2018-02-21 19:25] davsm commented on #3993
This is the same issue as: https://github.com/OfficeDev/office-ui-fabric-react/issues/4012

PR to use _async.setTimeout: https://github.com/OfficeDev/office-ui-fabric-react/pull/4039#pullrequestreview-98066393

[2018-02-21 19:25] aditima commented on #4050
Hi @gbminnock, the core idea here is if you have a long list of items to render (like 5000 in this example), we only render a subset of the items to fill the visible window to the DOM. As you scroll down to reveal newer items, newer pages are added to the DOM while old pages (that are now outside the visible window) are removed.

To see this in action, inspect the list in the browser debugger and

[2018-02-21 20:09] #4012 closed

[2018-02-21 20:13] gbminnock commented on #4050
Hi @aditima, thanks for the info. I'll check 'ms-List-page' elements out in the morning.

My list has 100,000 items which I'll retrieve using odata (paged results).
Using your information, I think I'll need to detect when the user is on the last "page" and call for more data.

I could do it like this for example:
1. Add an entry to each record as I read them in .i.e. rowIndex=0, rowIndex=1 and kee

[2018-02-21 20:14] dwilsonmsft opened #4057 "Nav link onClick handlers are called twice on one click"
### Bug Report

- __Package version(s)__: 5.46.0
- __Browser and OS versions__: n/a

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: VSTS

#### Describe the issue:

onClick handlers on Nav links are called twice per click.

#### Actual behavior:

Create a Nav with a link that h

[2018-02-21 21:26] stephenzsy commented on #4015
It is visible on the office fabric page now

[2018-02-21 22:53] mikewheaton opened #4063 "Website: Does not show neutral quaternary colors"
The `neutralQuaternary` and `neutralQuaternaryAlt` colors are missing from the [colors page](https://developer.microsoft.com/en-us/fabric#/styles/colors) on the website:
![image](https://user-images.githubusercontent.com/1382445/36510156-fa4fd38e-1716-11e8-9d32-399930c3cec8.png)

[2018-02-21 23:08] dylankil opened #4064 "Slider component doesn't work well with Windows Narrator on Microsoft Edge browser"
Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low)  Normal

Products/sites affected: OneNote Learning Tools Immersive Reader

#### Describe the issue:

Slider component doesn't work with Narrator

#### Actual behavior:

Narrator reads min and max value as 0-10

#### Expected behavior:

Narrator reads min and max value contextually (in our case i

[2018-02-22 02:20] antonafMSFT commented on #3993
Never mind. Another change has been approved that does this same thing while this one was waiting for approval.

[2018-02-22 02:20] #3993 closed

[2018-02-22 05:00] quanglefed opened #4066 "Pivot: Support overflowing pivots"
Hi all,

I think this would be nice. Do we have any plan to handle Pivots are overflowed.?

Thank in advance,
Quang Le

[2018-02-22 11:36] AkshanshSrivastava03 opened #4068 "Textfield component does not honour aria-describedBy when getErrorMessage is also provided as a prop"
### Bug Report

- __Package version(s)__: 5.46.1005
- __Browser and OS versions__: Chrom

#### Describe the issue:

Scenario 1: aria-describedBy, Working fine
We are passing aria-describedby to text field component which it renders correctly and links the <input> to that description Id.

Scenario 2: aria-describedBy with getErrorMessage or error message, major issue
When we pass getError message/

[2018-02-22 17:49] #4057 closed

[2018-02-22 21:30] gbminnock commented on #4050
Ok @aditima,

I have observed the 'ms-List-surface and 'ms-List-page' working today.
This automatically scrolls/pages through the items. I tried adding new items to the items array; however it doesn't update the rendered list. I can see from debugging that the items are there but not rendered.

I tried using componentRef on DetailsList to force an update however I get the error:

`Uncaught TypeErr

[2018-02-22 22:25] vollmerr opened #4073 "Sticky - this.root undefined"
### Bug Report

- __Package version(s)__: 5.54.0
- __Browser and OS versions__:  Chrome, Windows

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: High

#### Describe the issue:

Sticky component does not work due to this.root being undefined, resulting in failing various function calls. Believe this is due to P

[2018-02-22 23:14] cslecours commented on #4023
Duplicate of #3571

[2018-02-22 23:14] #4023 closed

[2018-02-23 06:45] Meffjuw commented on #4030
Just wanted to add that the Breadcrumb component page looks broken too.

[2018-02-23 08:20] nguyentoantuit opened #4076 "[Nav] How can I set background-color for selected NavItem?"
Hi ,
### Support

- __Package version(s)__: 5.55.0

In previous version (I am not sure which version it is) when we have a class name "is-selected", so I will base on that class to add custom css to specify background-color because I don't want to use default background color
![image](https://user-images.githubusercontent.com/6096518/36584532-ad1f802c-18ac-11e8-9b3c-7ccc06dca5e9.png)
In version 5.

[2018-02-23 09:27] stephenjelfs commented on #2784
@Jahnp Using this approach works great for the @uifabric fonts.  However, the following is still being downloaded from elsewhere for the following 'Fabric MDL' fonts:

https://static2.sharepointonline.com/files/fabric/assets/icons/fabricmdl2icons-2.64.woff2

[2018-02-23 11:58] bva999 opened #4077 "DetailsList "data-selection-disabled" doesn't work."
# Bug Report
When I added custom column with <Link/> component in DetailsList and added attribute "data-selection-disabled = {true}"  the selection is still react.

[code]
My DetailsList:
[code]
Also doesn't work example [Rendering custom item columns with sorting](https://developer.microsoft.com/en-us/fabric?example=gfdgdg#/components/detailslist)  .

[code]
But when you click on color , selectio

[2018-02-23 13:47] bratukham commented on #4000
It seems like this event has never been raised.
Any updates when it will be fixed?

[2018-02-23 15:33] #4051 closed

[2018-02-23 17:58] abettadapur opened #4078 "DetailsList: aria-selected is always present, even if SelectionMode.None is specified"
### Bug Report

- __Package version(s)__: (fill this out) Latest

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low)  Normal

#### Describe the issue:

DetailsRow will always apply the aria-selected attribute, even if the selectionmode is set to SelectionMode.None. This resu

[2018-02-23 19:09] #1072 closed

[2018-02-23 19:43] JoshuaKGoldberg opened #4080 "DetailsList shouldn't list event and column as optional"
### Bug Report

- __Package version(s)__: 5.52.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: Sway

#### Describe the issue:

In `DetailsList.types.d.ts`:

[code]

Why are `ev` and `column` potentially undefined? Is Fabric ever going to call the callback with them not defin

[2018-02-23 19:47] JoshuaKGoldberg opened #4081 "OverflowSet.types.d.ts shouldn't use any for its types"
### Bug Report

- __Package version(s)__: 5.5.2

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: Sway

#### Describe the issue:

In `OverflowSet.types.d.ts`:

[code]

This doesn't play well with TypeScript's `--strictFunctionTypes`, as that flag won't allow passing functions wi

[2018-02-23 21:18] yewmsft opened #4083 "[Accessibility] Data grid is not accessible using narrator shortcut keys"
Screen reader shortcuts:

T = go to table
Ctrl + alt + arrows = Move around in table

These shortcuts are not working on data grid.

[2018-02-23 22:05] #1156 closed

[2018-02-23 22:09] fpintos opened #4084 "ReactDevTools shows 'Unknown' as the name of styled components"
### Bug Report

- __Package version(s)__: 5.44.0
- __Browser and OS versions__: Chrome

Are you willing to submit a PR to fix? Yes
Requested priority: Low
Products/sites affected: OWA

#### Describe the issue:

[React Dev Tools](https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi?utm_source=chrome-app-launcher-info-dialog) shows up the hierarchy of Reac

[2018-02-24 03:44] alxHenry opened #4089 "Splitbutton Rendering Issue on ContextualMenu"
### Bug Report

- __Package version(s)__: 5.55.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: High

Products/sites affected: Soon to be dogfood

#### Describe the issue:

Visuals on a split button in a ContextualMenu is very janky

#### Expected behavior:

Look correct.

[2018-02-24 04:41] #4089 closed

[2018-02-25 18:31] cjsheets opened #4093 "[Docs] ResizeGroup Documentation Page Broken"
### Bug Report

- __Package version(s)__: prod
- __Browser and OS versions__: chrome / firefox

#### Describe the issue:

The developer docs for Resize Group are presently crashing.

[https://developer.microsoft.com/en-us/fabric#/components/resizegroup](https://developer.microsoft.com/en-us/fabric#/components/resizegroup)

`TypeError: Object prototype may only be an Object or null: undefined at se

[2018-02-26 14:16] warmsea opened #4094 "Need ScrollablePane to accept native properties"
Need ScrollablePane to accept native properties for multiple purposes. For example, data-automation-id, etc.

[2018-02-26 15:41] craftytrickster commented on #3898
Related ticket https://github.com/OfficeDev/office-ui-fabric-react/issues/4047

[2018-02-26 16:40] lynamemi commented on #4030
Resize group is having the same issue:
https://github.com/OfficeDev/office-ui-fabric-react/issues/4093

[2018-02-26 16:41] lynamemi commented on #4093
Closing this here, we're tracking this issue for a couple of other pages in #4030.

[2018-02-26 16:41] #4093 closed

[2018-02-26 18:31] lynamemi commented on #4025
I think this fix is in progress - @betrue-final-final , can you confirm?

[2018-02-26 18:39] betrue-final-final commented on #4025
This is a larger project that needs coordination from lots of partners. We'll send an ETA later.

[2018-02-26 20:41] Caseyyu2 opened #4097 "TextField RTL is not aligned correctly"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
Maybe

Requested priority: (Blocking, High, Normal, Low)
Normal

Products/sites affected: (if applicable)
N/A

#### Describe the issue:

When rendering required

[2018-02-26 21:29] yaananth commented on #4025
FYI This creeps into multiple places like checkbox's checkmarks, primary buttons text etc.,

[2018-02-26 22:14] lynamemi commented on #4015
We changed to border-box to align to TextField and Dropdown and to better support high contrast mode styles. I'll look into where that overlap is coming from.

[2018-02-26 22:24] AsaPefferman opened #4100 "High Contrast hover/selected states on drop downs"
### Bug Report

- __Package version(s)__: Current?
- __Browser and OS versions__: Windows 10/Edge

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Sharepoint Forms
#### Describe the issue:

The hover states in edge make the text totally unreadable, and the selected states from m

[2018-02-26 22:40] AsaPefferman opened #4101 "Toggle weirdness in High Contrast mode"
### Bug Report

- __Package version(s)__: Current
- __Browser and OS versions__: Windows 10/ Edge

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Sharepoint forms

#### Describe the issue:
Toggle looks weird, is misaligned

#### Actual behavior:

![toggle-bad](https://user-imag

[2018-02-26 22:50] oengusmacinog commented on #3804
@mattmazzola have you seen this behavior occurring in any other instances specifically. I tried to recreate the situation in my own example and was unable to reproduce the result.  I did download your repo and I do see the behavior there. Any more insight you have about the cause in your app would be helpful so I can recreate it.

[2018-02-26 22:54] AsaPefferman opened #4103 "Fade in high contrast mode doesn't invert"
### Bug Report

- __Package version(s)__: Current
- __Browser and OS versions__: Windows 10/Edge

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Sharepoint

#### Describe the issue:
The fade on a list of options in a table doesnt invert with the rest of the page in highcontrast

[2018-02-26 23:00] betrue-final-final commented on #4103
Good bug. @lynamemi, want a fun bug to fix?

[2018-02-26 23:05] lambertwang commented on #4097
This doesn't repro for me. Can you provide some specifics regarding your scenario? (browser, site, version, etc?)

[2018-02-26 23:26] mikewheaton commented on #4103
Shouldn't this fade be hidden entirely for high-contrast?

[2018-02-26 23:28] betrue-final-final commented on #4103
Yes, but for reversed themes it should show up.

[2018-02-26 23:47] Caseyyu2 commented on #4097
@lambertwang I figured out the issue, so this does *not* on official fabric website (since the styling is different), but when local developer runs npm start, in rtl localhost env, it will repro.

The reason for that is on ms-app-content, we added translate(0)  'tricking' the GPU to think that an element is 3D to have perf gain, but in rtl chrome, this cause the layout issue.

We should probably t

[2018-02-27 00:21] mattmazzola commented on #3804
We were seeing this issue in app we're building which uses office-ui-fabric-react.  We have a modal that contains a scrollable pane which contains messages chronologically. The user is intended to look at the bottom of the chat messages since that is the latest and most relevant information. However, this bug causes the focus to be set to the the top item meaning the user has to scroll back down t

[2018-02-27 08:45] reddor opened #4107 "Multiline TextField with placeholder fires onChanged-event after mount in IE11"
### Bug Report

- __Package version(s)__: current
- __Browser and OS versions__: Internet Explorer 11

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: LPC Contact Editor

#### Describe the issue:

A (disabled) multiline TextField with placeholder text fires an onChanged event af

[2018-02-27 08:53] obiwan007 opened #4108 "Sticky tries to getBackground"
### Bug Report

- __Package version(s)__: 55.2
- __Browser and OS versions__: (Chrome 64.0.3282.167, Windows 10 1709)

Requested priority: (Blocking)

Inside ScrollablePane we set a Sticky header.
Unfortunately this will lead to a crash of the app:

Uncaught TypeError: Failed to execute 'getComputedStyle' on 'Window': parameter 1 is not of type 'Element'

It looks like that this.root is undefined.

[2018-02-27 10:57] warmsea opened #4110 "ScrollablePane: `_sortStickies` should not change elements already in order"
### Bug Report

- __Package version(s)__: 5.51.0
- __Browser and OS versions__: all

#### Priorities and help requested:

Are you willing to submit a PR to fix? Yes

Requested priority: Blocking

#### Describe the issue:

In the `_sortStickies` method of ScrollablePane component, it removes all children elements of the container and appends them back after sorting. This happens even if the element

[2018-02-27 14:35] aappddeevv commented on #4108
Just hit this as well. It's a show stopper for me. I'm rending into an iframe if that makes any difference.

[2018-02-27 16:26] #4094 closed

[2018-02-27 16:26] #4110 closed

[2018-02-27 16:27] betrue-final-final commented on #4103
Let's fix this issue by removing the gradient in high contrast themes. I'll file a separate issue for dark themes.

[2018-02-27 16:30] betrue-final-final opened #4112 "Fadient doesn't invert in dark themes."
Bug Report
Package version(s): Current
Browser and OS versions: Windows 10/Edge
Priorities and help requested (not applicable if asking question):
Are you willing to submit a PR to fix? No
Requested priority: Normal
Products/sites affected: Sharepoint
Describe the issue:
The fade on a list of options in a table doesn't invert with the rest of the page in dark themes.

Actual behavior:
![image](htt

[2018-02-27 16:31] betrue-final-final commented on #4103
I filed a new issue for dark themes #4112

[2018-02-27 16:34] betrue-final-final commented on #4101
I'm not seeing this. It looks like you may be on an older build somehow?
![image](https://user-images.githubusercontent.com/20363037/36741063-ff5142f6-1b98-11e8-93d8-8ead67e38a25.png)

[2018-02-27 16:34] #4101 closed

[2018-02-27 16:38] betrue-final-final commented on #4100
Not seeing this either. @AsaPefferman, either your machine is in a bad state or you have some old build somehow.
![image](https://user-images.githubusercontent.com/20363037/36741282-89cd562c-1b99-11e8-8e04-f5aba28ceee8.png)

However I did find a bug with the checkboxes inside.
![image](https://user-images.githubusercontent.com/20363037/36741319-a11c6494-1b99-11e8-8c41-db36f385e03b.png)

[2018-02-27 16:38] #4100 closed

[2018-02-27 16:48] betrue-final-final opened #4113 "Checked checkboxes in multi-select dropdown do not honor high contrast"
Windows 10 and Edge.
The checked checkboxes still use themePrimary in the dropdowns. The actual checkbox control is ok.
![image](https://user-images.githubusercontent.com/20363037/36741418-ebc41e88-1b99-11e8-9cda-fa8b61a52c76.png)

ِActually the checkbox control isn't right either.
![image](https://user-images.githubusercontent.com/20363037/36741808-e88e2726-1b9a-11e8-9220-83a769b59eeb.png)

[2018-02-27 16:49] betrue-final-final opened #4114 "Selected checkboxes should be reversed in high contrast"
Windows 10 and Edge
![image](https://user-images.githubusercontent.com/20363037/36741808-e88e2726-1b9a-11e8-9220-83a769b59eeb.png)

[2018-02-27 16:56] #4015 closed

[2018-02-27 18:01] stanleyymsft opened #4117 "IE 11 specific styling issues with fabric PrimaryButton"
### Bug Report

- __Package version(s)__: 5.49.0
- __Browser and OS versions__: IE 11 on Windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites affected: SPO/OneDrive

#### Describe the issue:

When PrimaryButton only has an icon without text label, the icon is not rendered in the cent

[2018-02-27 20:23] #3290 closed

[2018-02-27 21:13] jdrush89 opened #4120 "Nav Links Should Accept IconProps"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Low

Products/sites affected: (if applicable)

#### Describe the issue:

Links in Nav.base only allow specifying the iconName.  An iconProps object is created with just this field, it would be ideal if iconProps could be specified on the link itself and passed th

[2018-02-27 21:14] jdrush89 commented on #4120
Working on a fix for this

[2018-02-27 21:19] jdrush89 opened #4122 "Callouts should accept Elements as a target instead of HTMLElements"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: (if applicable)

#### Describe the issue:

Callouts accept HTMLElement, string, or MouseEvent as a target.  HTMLElement is too specific though, Element could be used instead.

[2018-02-27 21:20] jdrush89 commented on #4122
Working on a fix

[2018-02-27 22:57] cschleiden opened #4125 "CommandBar: _commandItemWidth might be null"
Someone added `!` in the code to tell the compiler it can't be null, but I just hit this:

![image](https://user-images.githubusercontent.com/2201819/36760116-7d0c8af4-1bce-11e8-8b1b-4e5b2593de4e.png)

[2018-02-27 23:28] gscottolson opened #4126 "Docs site is broken"
https://developer.microsoft.com/en-us/fabric#/components/nav

Errors are filling up the web dev console:

[code]

[2018-02-27 23:40] lynamemi commented on #4126
Thanks for reporting! We are currently tracking here: https://github.com/OfficeDev/office-ui-fabric-react/issues/4030

[2018-02-27 23:40] #4126 closed

[2018-02-27 23:55] abettadapur opened #4128 "IE11: AutoFill should use onInput instead of onChange"
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: IE11

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low)  High

#### Describe the issue:
Related to facebook/react#7027

IE11 will sometimes swallow input changes when listening to the onChange

[2018-02-28 00:30] stanleyymsft commented on #4117
We confirmed it is just IE behaves differently from Chrome  Aditi helped me find a CSS workaround that both Chrome and IE are happy with. Closing this for now.

[2018-02-28 00:30] #4117 closed

[2018-02-28 01:20] natalieethell commented on #3636
Do you have a repro of this? Here is a CodePen where it seems to be working for me: https://codepen.io/naethell/pen/PQXWBr

[2018-02-28 01:35] yaananth commented on #4025
Actually #3682 concludes -

In any case if we pick `#0078D4` that will fix it...

[2018-02-28 01:45] betrue-final-final commented on #4025
Yes, but this change needs to be coordinated with many other teams. We’ll roll this out properly by December.

[2018-02-28 18:39] #4128 closed

[2018-02-28 19:52] oengusmacinog commented on #3804
@mattmazzola I just retested your app [https://github.com/mattmazzola/fabric-slate-test](https://github.com/mattmazzola/fabric-slate-test) and ran `npm update office-ui-fabric-react` to update the package to v5.56.0 and the issue disappears, so it looks like another recent update must have fixed it.  Update to that version of Fabric React and you should be good to go.  I'm going to go ahead and cl

[2018-02-28 19:52] #3804 closed

[2018-02-28 22:54] oengusmacinog opened #4138 "MergeStyles $ Selector Not Working When Applied to a Component with a Root Style Set"
### Bug Report

- __Package version(s)__: v5.56

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: N/A

#### Describe the issue:

When applying style sets in a component (e.g. Nav) to a sub-component (e.g. ActionButton) which already has a root style set you will run into an issu

[2018-03-01 00:31] sortegamartin commented on #3036
It would be nice that when the function returns null, the code would not be error and also that the element will not be added to the array of selectedItems. Right now I have to control the duplicate elements from the onchange function.

[2018-03-01 06:33] sorosoro2 opened #4142 "[Accessibility] Non-actionable column headers in details are being read out as disabled by narrator, giving a wrong impression about the entire column"
### Bug Report

- __Package version(s)__: 5.55.1001
- __Browser and OS versions__: Windows 10 Fall Update and Microsoft Edge

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Visual Studio Team Services

#### Describe the issue:

Let us have a DetailsList with a column having col

[2018-03-01 07:52] obiwan007 commented on #4108
Seems to be working now in version 5.56.0

[2018-03-01 07:52] #4108 closed

[2018-03-01 07:59] obiwan007 opened #4143 "is-selected missing on ms-Nav-link"
### Bug Report

- __Package version(s)__: 5.56.0
- __Browser and OS versions__: all Browsers

Are you willing to submit a PR to fix? (No)

Requested priority: (Normal)

#### Describe the issue:
In previous versions, the is-selected class was added to a selected nav element. So overriding the applied css styling was rather easy.
This seems not to be possible now as the style is internally calculate

[2018-03-01 08:26] Ridlsan opened #4144 "DetailsList forceUpdate stopped working"
### Bug Report

- __Package version(s)__: 5.55.2

Hello! Can u pls check forceUpdate method of DetailsList. Seems like it stopped working in last versions

[2018-03-01 13:30] makafsal commented on #2431
+1

[2018-03-01 13:50] daniel-white opened #4145 "Please tag releases in GitHub"
It would be helpful to know what has changed between different versions of the package. Can you please tag master when a new version is pushed to NPM?

[2018-03-01 14:13] daniel-white opened #4146 "Indeterminate ProgressIndicator overflows Dialog"
### Bug Report

- __Package version(s)__: 5.57.0
- __Browser and OS versions__:  IE11, Chrome

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No (only if I knew where to fix it)

Requested priority: Normal

Products/sites affected: N/A.

#### Describe the issue:

When placing an indeterminate `ProgressIndicator` in a `Dialog`, there

[2018-03-01 14:24] daniel-white commented on #4146
Actually, I found it so I'll get a PR up for it.

[2018-03-01 15:51] bratukham commented on #3873
I am getting the same problem when use `CompactPeoplePicker` (office-ui-fabric-react v.5.56.1).

I've investigated the problem and figured out that the problem is in the BasePicker.tsx.
The `renderSuggestions` function will be called twice after selecting a person via `enter`.
The first time `this.input` property is valid, i.e. not `null` and `suggestionsVisible` state is `true`.
The second time `

[2018-03-01 16:17] gingi opened #4147 "Nav Buttons have invalid `aria-describedby` value"
### Bug Report

- __Package version(s)__: 5.39.0
- __Browser and OS versions__: MacOS/Chrome, MacOS/Safari

#### Describe the issue:

The anchor (`a`) elements for Nav Button elements have invalid `aria-describedby` values. They seem to have IDs (in the form `id__{NUMBER}`) that don't exist in the DOM. Example:

    <a class="ms-Button ms-Button--action ms-Button--command ms-Nav-linkButton link_9e

[2018-03-01 17:00] cschleiden opened #4148 "ContextualMenu sample on website looks broken"
![image](https://user-images.githubusercontent.com/2201819/36858088-04417730-1d2f-11e8-863e-1450b01919be.png)

[2018-03-01 19:03] aditima commented on #3592
Hi @Nimelrian , this is an entirely legitimate ask. However, fixing this in the current release as a patch might result is build-breaks for consumers if they have the strictNullChecks tsconfig setting. So, we are fixing this in the next major release 6.0 instead.
Hope this works for you!

[2018-03-01 19:03] #3592 closed

[2018-03-01 19:22] #3972 closed

[2018-03-01 19:48] #3723 closed

[2018-03-01 20:04] martellaj opened #4150 "[BasePicker] null reference exception thrown when tabbing away after suggestions are dismissed"
### Bug Report

- __Package version(s)__: Latest

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: BasePicker

#### Describe the issue:

User can dismiss Callout with suggestions and then TAB away. However, when TAB is pressed, there's an attempt to read `this.suggestionElement`

[2018-03-01 20:30] satbai commented on #3419
This bug can be reproduced with at least the PrimaryButton, DefaultButton and the "X" close button in the Panel component.

[2018-03-01 20:52] dzearing commented on #4146
That's sad. And happy that you fixed it. I will figure out how this got there, and also get your PR in!

Thanks @daniel-white

[2018-03-01 20:57] #4146 closed

[2018-03-01 22:19] aditima commented on #4144
Thanks @Ridlsan - could you please share a codepen repro demonstrating the issue to help us debug?

[2018-03-01 22:21] oengusmacinog commented on #4143
We just converted the Nav components styles to mergeStyles and this may have been missed.  I will look into it.

[2018-03-01 22:26] oengusmacinog commented on #4142
@cschlechty do you have thoughts on a best practice in this situation?

[2018-03-01 22:31] #4120 closed

[2018-03-01 22:32] Jahnp commented on #4145
Hey @daniel-white, what's the use case you have in mind? Each [release](https://github.com/OfficeDev/office-ui-fabric-react/releases) for each package is tagged already:
![image](https://user-images.githubusercontent.com/307118/36873339-042be626-1d5d-11e8-9560-871cf74e2378.png)

I'm going to go ahead and close this for now since as far as I understand it we already support this, but please let me

[2018-03-01 22:32] #4145 closed

[2018-03-01 22:38] jordandrako commented on #4112
@lynamemi Have you checked into this and #4103 yet? I can take care of it if you haven't.

[2018-03-01 22:42] betrue-final-final commented on #4112
This is actually not a Fabric big.

[2018-03-01 22:42] #4112 closed

[2018-03-01 22:42] betrue-final-final commented on #4103
Not a Fabric bug

[2018-03-01 22:42] #4103 closed

[2018-03-01 22:46] Jahnp commented on #4097
@Caseyyu2 Thanks for the clarification. Is this affecting any actual product scenarios that you're aware of, or just the demo environment? We're going to assume the latter, so we'll go ahead and close this for now--but please feel free to re-open if you are seeing this repro elsewhere.

[2018-03-01 22:46] #4097 closed

[2018-03-01 22:47] oengusmacinog commented on #4084
@fpintos Thanks for calling this out. Do you have any ideas on the best approach to fix? We would welcome a PR!

[2018-03-01 22:51] oengusmacinog commented on #4083
@yewmsft Can you please give us some more information about which component you are experiencing this issue on and the version of Fabric?

[2018-03-01 22:54] aditima commented on #4081
Thanks @JoshuaKGoldberg - this would be a great fix to have. My only concern is this is a contract change, so it's more suitable for a major release.
@dzearing - can you help with steps needed to create a PR for the 6.0 branch?

[2018-03-01 22:56] dzearing commented on #3608
@ThomasMichon can you help with this? Multiple partners are hitting this, and you can see this even in the fabric doc site. I think it is very likely related to header and resize elements consuming space.

[2018-03-01 23:01] Jahnp commented on #4080
Hey @JoshuaKGoldberg , just checking, is this blocking you for any reason? The reason we have those set to optional is that there are cases where as the consumer you may wish to pass a `void` to `onColumnClick` without using `ev` and `column`, and a consumer may have TSlinting rules on which don't allow for unused arguments (e.g. `ev` and `column`). These values will always have a value and never

[2018-03-01 23:02] sortegamartin commented on #4150
- __Package version(s)__: ^5.11.0
- __Browser and OS versions__: Chrome and Windows 10

I have the same error:

![image](https://user-images.githubusercontent.com/33054287/36874579-bac0248e-1dac-11e8-80fc-1ac0dc920d57.png)

[2018-03-01 23:15] sortegamartin opened #4156 "BasePicker throw error "Cannot read property 'focus' of null" when resetFocus"
### Bug Report

- __Package version(s)__: ^5.11.0
- __Browser and OS versions__: Chrome and Windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority:  Normal

#### Describe the issue:
When in the BasePicker the focusInput is changed and the resetFocus is launched, the following error is thrown:

![image](http

[2018-03-01 23:19] JoshuaKGoldberg commented on #4080
I can't reopen (not a member of OfficeDev, only Microsoft) but I do disagree :)

If the consumer doesn't need `ev` or `column`, they can just pass a function that takes no arguments.

[code]

This is breaking basic TypeScript compiles for us in Sway when we switch on the newer TS `--strictFunctionTypes` flag.

[2018-03-01 23:28] #3977 closed

[2018-03-02 00:03] Jahnp commented on #4080
Hmmm @dzearing / @aditima / @manishgarg1 -- thoughts on this? @JoshuaKGoldberg What would be your proposed change? I'll go ahead and reopen this.

[2018-03-02 01:08] JoshuaKGoldberg commented on #4080
My proposal would be to make the parameters non optional.

[2018-03-02 01:24] joschect commented on #3898
After some investigation and trial and error this should be fixed with #4140

[2018-03-02 01:24] joschect commented on #4047
After some investigation and trial and error this should be fixed with #4140

[2018-03-02 04:33] #4078 closed

[2018-03-02 04:36] #4143 closed

[2018-03-02 05:06] #4150 closed

[2018-03-02 05:31] #4125 closed

[2018-03-02 05:34] #4122 closed

[2018-03-02 05:34] #4000 closed

[2018-03-02 07:30] #3571 closed

[2018-03-02 07:56] #3984 closed

[2018-03-02 08:02] dzearing commented on #4084
I will look into a fix!

[2018-03-02 08:33] bratukham commented on #4156
Probably relates somehow to #3873 ?

[2018-03-02 08:38] Nimelrian commented on #3592
Hey @aditima! Sounds good. I also took a look into the commit. Wouldn't it be possible to do something like this, to get rid of all the `|| ''` fallbacks in the examples, which will surely look confusing to people picking up Fabric:

[code]

`buildColumns` would then return `IPropertyColumn[]`. As such, the need for the fallback defaults would be gone.

[2018-03-02 09:38] barisbikmaz commented on #3636
Hi @aditima @natalieethell
Seems to be a special case on IE 11. We are creating Word add-ins and the addins are only running on IE 11.
The tooltip disappears when the item does not have a href property and the onClick is set directly.

Repro Here: https://codepen.io/anon/pen/gvEzME

[2018-03-02 14:44] craftytrickster commented on #3898
thanks!

[2018-03-02 15:44] craftytrickster commented on #3898
@joschect I just tried version 5.58.0 and the slowness of the callouts is definitely still there.

[2018-03-02 15:54] jmmartinez84 opened #4162 "Bug: Calendar component showing week of year"
### Bug Report

- __Package version(s)__: 5.55.0
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: (if applicable)

#### Describe the issue:
Calendar component does not show correct week of the year if firstDayOfWeek is

[2018-03-02 16:40] dzearing commented on #4162
@johannao76 for visibility

[2018-03-02 16:40] dzearing commented on #4156
@joschect for visibility

[2018-03-02 16:41] dzearing commented on #4138
Can you distill into a codepen repro?

[2018-03-02 16:49] cschlechty commented on #4142
Yes, let's remove aria-disabled from the header.

[2018-03-02 16:50] betrue-final-final commented on #4142
I spoke with @dzearing yesterday, and the right method would be to make the interactive headers buttons, and the non-interactive headers just text.

[2018-03-02 16:54] dzearing commented on #4138
I believe that mergeStyles is generating the correct rules. Very likely, your rule is wrong.

Is the element "link" a decendent of chevronButton and compositeLink?

Here's a codepen that works.

https://codepen.io/dzearing/pen/OQqeXQ?editors=0010

[2018-03-02 16:58] cschlechty commented on #4142
We effectively already have that. We just errantly set a disabled state.

[2018-03-02 17:31] johannao76 commented on #4162
We will take a look in the coming sprint, thanks for reporting

[2018-03-02 18:38] aditima commented on #3636
@barisbikmaz - thanks! We did not try IE11 before and I do see it now. We'll look into it,

[2018-03-02 18:52] joschect commented on #3898
@craftytrickster Is there any improvement in speed? If there are no improvements it's back to square one. If it's faster, but not fast enough, I have some other ideas for continued gains.

[2018-03-02 19:38] johannao76 commented on #4162
@jmmartinez84: We are unable to repro this issue, can you provide a codepen or similar with a repro? Thanks!
![image](https://user-images.githubusercontent.com/11838969/36918283-40abcd30-1e0e-11e8-8aaf-1535a94b85d6.png)

[2018-03-02 20:42] craftytrickster commented on #3898
@joschect The changes weren't really noticeable, it was still hanging for about a second before rendering. Maybe, it was like 100ms faster, but it is hard to say.

[2018-03-02 21:15] #3608 closed

[2018-03-02 21:16] #4147 closed

[2018-03-02 22:36] erichdev commented on #4107
I believe https://github.com/OfficeDev/office-ui-fabric-react/pull/3883 will fix this

[2018-03-03 00:19] samuelmtimbo opened #4167 "Grouped DetailsList column resizing is broken"
### Bug Report

- __Package version(s)__: ^5.55.1001

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: High

Products/sites affected: All

#### Describe the issue:

Grouped DetailsList column resizing is not correctly propagating to underlying lists.

![fdp49ncorm](https://user-images.githubusercontent.com/5302

[2018-03-03 12:13] essar123 opened #4169 "Convert ContextualMenuItem to css-in-js"
**Bug Report**
Describe the issue:
A few issues with the custom styles for IContextualMenuItem

IContextualMenuItem accepts a style: React.CSSProperties but its seems like its never used in code, also the method provided for customStyling of `IContextualMenuItem`

[code]

is not supportive either, to implement this method in consuming code your code needs to know lot about office-ui-fabric-code.

[2018-03-03 17:38] aappddeevv opened #4170 "pseudo selector :root is not rendered with CSS variables; or maybe not rendered at all"
I was using mergeStyleSets to merge some styles for my component:
[code]
But this never seems to be rendered as I cannot get `:global(:root)` to put anything into `:root`. I've tried some variations as well. I looked at the parser but did not see anything that made me think this would get stripped out in anyway.

[2018-03-03 20:44] aappddeevv commented on #4170
Cancel the red alert. Version skew on @uifabric/merge-styles. I upgraded office-ui-fabric-react and I thought that pulled in the latest merge-styles, but it didn't.

[2018-03-04 09:17] SpencerLynn commented on #2437
I have a PR open to fix this issue. #4172

[2018-03-04 18:17] #4170 closed

[2018-03-05 03:45] OverkillTV commented on #349
Or At least integrate the pagination with DetailList !!

[2018-03-05 06:06] #4167 closed

[2018-03-05 11:07] jmmartinez84 commented on #4162
Sorry, I've found a configuration that meets with my region. Setting up this parameter works fine for me.
`firstWeekOfYear = { FirstWeekOfYear.FirstFourDayWeek }`

I apologize for wasting your time.

[2018-03-05 11:07] #4162 closed

[2018-03-05 13:39] KyleFoleyImajion opened #4174 "5.59.0 crashing in <ImageBase>"
### Bug Report

- __Package version(s)__: 5.59.0

#### Priorities and help requested (not applicable if asking question):

Requested priority: Blocking

#### Describe the issue:

Updated to 5.59.0 from 5.54.0, getting a blocking error when running npm start on my react project. I then downgraded to 5.54.0 and it worked perfectly fine. Updated back to 5.59.0, same blocking error.

#### Actual behav

[2018-03-05 14:26] energetic13327 opened #4176 "Datepicker add is-open css class"
#### Description of changes

Need additional css class (i.e. "is-open") in element  `<div class="ms-Datepicker">` what will depend on `IDatePickerState.isDatePickerShown` property

[2018-03-05 16:33] nero120 opened #4177 "Tabbing when PeoplePicker has focus generates an exception"
Can be recreated on the [Fabric UI website](https://developer.microsoft.com/en-us/fabric#/components/peoplepicker):

1. Click on People Picker field so it has focus
2. Select 'Annie Lindqvist' from the suggestions dropdown
3. Press the'tab' key to leave the field, an exception is now visible in the developer tools console:

[code]

I've also recreated this issue on my project which uses v5.50.0.

[2018-03-05 18:18] alxHenry opened #4178 "ContextualMenu Closes on OSX Modifier Keys"
### Bug Report

- __Package version(s)__: 5.23
- __Browser and OS versions__: Chrome - OSX Sierra

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal - May be an accessibility issue?

Products/sites affected: Yammer

#### Describe the issue:

When you have the ContextualMenu open on OSX, pressing command o

[2018-03-05 18:57] marichinn opened #4179 "Accessibility in Facepile"
I'm using the Facepile component and found an accessibility bug using Keros:

<img width="462" alt="facepilebug" src="https://user-images.githubusercontent.com/37083639/36993656-55eb1f28-2063-11e8-8156-7ab968c48325.PNG">

This is in reference to how the ariaDescribedBy prop is assigned. Is this something that can be looked at? The learn more links here: https://dequeuniversity.com/rules/axe/2.6/ar

[2018-03-05 19:01] dzearing commented on #4179
@mattlind

[2018-03-05 19:03] dzearing commented on #4179
The issue is that we are including `aria-describedby` even when no `ariaDescription` value has been offered.

To remove the warning, it just means we need to conditionally add `aria-describedby` only when `ariaDescription` is provided. Simple fix.

[2018-03-05 19:18] aditima commented on #4050
Hi @gbminnock - you should not have to forceUpdate manually. Here's a strategy you can use:
- Have a wrapper component with the items[] array in its state
- initialize the items[] array with the first page of data, and when you know a next page exists, insert a placeholder 'missing' null item at the end of the array.
- DetailsList when encounters the missing item, will call this callback method on

[2018-03-05 19:58] MaronMariusz opened #4180 "[DetailsList] Override background on row click after disabling Selection."
Hi,

is there some elegant way to totally override background on DetailList row after click ?

What I did is just disable at all selection by prepare: `new Selection({ canSelectItem: () => false, selectionMode: SelectionMode.none })`

but it still keep some light grey background after clicking on row that overrides my background that I modified by `defaultRender({ ...props, className })` in onRend

[2018-03-05 20:23] dzearing commented on #4178
I believe this is because in Chrome, pressing Option pulls focus away from the DOM to the hamburger menu in the browser chrome. The same happens on Windows when pressing Alt.

I agree this is annoying. Trying to gauge the best fix.

We could:

1. Leave open if focus is moved from the DOM to an unknown location.
2. Close menu if focus has been moved to anywhere else within window or documentElement

[2018-03-05 21:10] cslecours opened #4181 "[Searchbox] defaultValue is never used"
### Bug Report

- __Package version(s)__: 5.58.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? If the decided outcome is simple to implement.

Requested priority: (Blocking, High, Normal, __Low__)

Products/sites affected: (if applicable)

#### Describe the issue:

The prop `defaultValue` defined in `SearchBox.types.ts` is never us

[2018-03-05 21:25] oengusmacinog commented on #4174
@KyleFoleyImajion This was converted to mergeStyles and static variables and functions seem to have broken.  I'm looking into it now.

[2018-03-06 01:06] #4030 closed

[2018-03-06 01:07] aditima commented on #3729
Hi @carruthe -

I modified your codepen slightly to get this working: https://codepen.io/aditima/pen/jZjyge

The crux was to override the row rendering to add our custom className:
                      `onRenderRow={ (props, defaultRender) => {
                            let newProps = {  ...props,  className: 'myBackgroundColor' };
                            return defaultRender(newProps);

[2018-03-06 01:07] #4174 closed

[2018-03-06 02:10] joschect commented on #4178
@dzearing The contextualmenu/callout already shouldn't dismiss if the window gets focus. I have no other ideas as to what could cause this. The only keydown that the menu cares about is escape. If the document is what's being focused, then we could add that as an exception.

[2018-03-06 05:28] #4179 closed

[2018-03-06 08:21] AkshanshSrivastava03 opened #4190 "[High contrast] Button focus is not visible in HCW"
### Bug Report

- __Package version(s)__: 5.55.1002
- __Browser and OS versions__: EDGE + High contrast mode

#### Describe the issue:
The focus on the command button is not visible in high contrast modes.
![image](https://user-images.githubusercontent.com/24951429/37021291-12d5a8ec-2145-11e8-8d93-7d2a4f812325.png)

Same behavior is seen in cross button of Panels too:
![image](https://user-images.

[2018-03-06 10:16] AkshanshSrivastava03 opened #4191 "Fabric Panel focus order is improper with choice group in the panel"
### Bug Report

- __Package version(s)__: 5.55.1002
- __Browser and OS versions__: Chrome

#### Describe the issue:
Panel focus order is improper when choice group is rendered within the Panel.

#### Actual behavior:
Suppose you have choice group with options "a" and "b" in the panel.

The focus first goes to cross button of the panel, then the choice group option "a", then tabbing will make you f

[2018-03-06 11:45] Basek commented on #3608
still reproduce on 5.59.1

[2018-03-06 16:43] betrue-final-final commented on #4190
@lynamemi, I feel like we took care of this, but it is indeed broken on the live site.

[2018-03-06 19:13] Markionium opened #4195 "ISuggestionModel misused for PeoplePickers?"
When trying to add some additional types i ran into the following.

I tried adding a typedef to the `defaultProps` in the following snippet. I ran into the problem that the `createGenericItem` does not use the same signature as the one expected by the `BasePickerProps`
[code]

The expected signature for the createGenericItem is the following.

[code]
The returned object should be an `ISuggestionMo

[2018-03-06 21:17] #4148 closed

[2018-03-06 21:23] dmarcey opened #4196 "Anchor Menu Items cannot contain sub menus"
### Bug Report

- __Package version(s)__: latest

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: VSTS

#### Describe the issue:

Currently there is no ability to have a menu item that is both an anchor element, and contains a sub menu. The current workaround is to use a button

[2018-03-06 21:27] dmarcey opened #4197 "No ability to control menu hover delay"
### Bug Report

- __Package version(s)__: latest

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: VSTS

#### Describe the issue:

The delay for mouse enter/leave for opening a sub menu is hard-coded to 250ms. Changing this to be a prop so that it is configurable.

[2018-03-06 22:04] jordandrako commented on #4113
@betrue-final-final Would the proper way to change the color be:

[code]

or something along these lines:

[code]

I'm thinking probably the latter as only the window knows what kind of high contrast mode, but I don't know what color name to use (windowtext give that yellow color on HCM1).

[2018-03-06 22:09] betrue-final-final commented on #4113
You are correct. Windowtext would be best.

[2018-03-06 22:10] betrue-final-final commented on #4113
What is HCM1?

[2018-03-07 00:56] alxHenry opened #4201 "No Option For Anchor rel Property can be Security Issue"
### Bug Report

- __Package version(s)__: 5.60
- __Browser and OS versions__: Any

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: Yammer

#### Describe the issue:

The IContextualMenuItem interface allows for users to pass in an href and a target to create a menu item that is

[2018-03-07 06:26] bva999 commented on #4077
Hi. Could you tell me, in what status the problem? Because of this error, you can not use any custom elements inside the columns with DetailsList selection.... Any click on element inside a row selects current one and resets the selection of all the others....

[2018-03-07 11:41] obiwan007 opened #4204 "ScrollablePane with DetailsList does not show (virtualized) items"
### Bug Report

- __Package version(s)__: 5.60.0
- __Browser and OS versions__: Chrome, Edge (latest)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (No)

Requested priority: (Blocking)

Products/sites affected: (if applicable)

Demo App, ScrollablePane Demo, <ScrollablePaneDetailsListExample>

#### Describe the issue:

Scrolling do

[2018-03-07 13:03] obiwan007 opened #4205 "ScrollablePane with DetailsList and Sticky Header is overpainting scrollbar"
### Bug Report

- __Package version(s)__: 5.60.0
- __Browser and OS versions__: Chrome

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: (Normal)

Products/sites affected: (if applicable)
Demo App for ScrollablePane

#### Describe the issue:

The Header is shown correctly on first draw - even if it is a bit over

[2018-03-07 17:58] jordandrako commented on #4113
High Contrast Mode 1. I also found a list of CSS2 color codes, including "HightlightText" which ends up being white in this case where "WindowText" is yellow. However, trying to change the Icon color to "Window" results in it turning into a black rectangle.

[2018-03-07 18:33] alxHenry commented on #4201
@dzearing @joschect do you all have a preference on either approach?

[2018-03-07 19:08] lynamemi commented on #4190
Found the other issue - we can track this there:
https://github.com/OfficeDev/office-ui-fabric-react/issues/3419

[2018-03-07 19:08] #4190 closed

[2018-03-07 19:51] joschect commented on #4201
I'd prefer b, I think in cases like this it's better to force good behavior. Alternatively you could do both A and B so if the consumer still want's to be dangerous then they can pass in their own rel to override.

[2018-03-07 19:53] joschect commented on #3898
@craftytrickster okay, I think I can fix this too but it will take a bit longer. This next fix is a bit more in depth.

[2018-03-07 21:28] daweffe opened #4207 "[Accessibility][ContextualMenu] Initial focus is set on menu, not first menu item"
### Bug Report

- __Package version(s)__: 5.49.0
- __Browser and OS versions__: all

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Planner

#### Describe the issue:

When a ContextualMenu is opened, focus is set to the menu. This is confusing for sighted and screen reader keyb

[2018-03-07 22:24] oengusmacinog commented on #486
After a bit of research, we concluded that this is not a blanket issue with one consistent solution.  Some components need data attributes on their root element, others need it on a key element like an input field.  The solution requires a bit of subjectivity.

I am closing this Issue due to the fact we will not be setting up every component to accept data attributes in the root element, but the n

[2018-03-07 22:24] #486 closed

[2018-03-07 22:26] jordandrako commented on #3789
Closing this issue for now. If the above advice doesn't solve this for you feel free to reopen.

[2018-03-07 22:26] #3789 closed

[2018-03-07 22:30] daweffe opened #4209 "[Accessibility][ChoiceGroup] Provide field for aria label on IChoiceGroupOption"
### Bug Report

- __Package version(s)__: 5.49.
- __Browser and OS versions__: all

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Planner

#### Describe the issue:

We need to be able to define the aria label on the ChoiceGroup radio buttons.

[2018-03-07 22:39] craftytrickster commented on #3898
Thank you for looking into it.

[2018-03-07 23:57] fpintos opened #4210 "Support a read-only version of Calendar"
In order to support Calendar Print in OWA we need a read-only, static version of the mini-calendar.

It should not support any kind of user input or focus - right now I've accomplished that with a disabled FocusZone around it.
Navigation buttons should be hidden - this can be accomplished with min/max dates.

An issue left is that it should not highlight the current date and selected dates.

[2018-03-08 07:00] ipip2005 opened #4214 "Persona should implement focus() and expose via IPersona"
This is a feature request to add the focus implementation for Persona control and expose the method through IPersona interface so consumer can easily focus on the Persona element.

There isn't any `focus` implementation on the Persona control. Previously, as a workaround, we can pass down `ref` to get the actual react instance of Persona and call `ReactDOM.findDOMNode` to find the DOM node to manu

[2018-03-08 20:09] satbai opened #4217 "Link and Checkbox keyboard focus is not visible in IE on high contrast mode"
### Bug Report

- __Package version(s)__: 5.46.0
- __Browser and OS versions__: IE

#### Describe the issue:
Link and Checkbox components' keyboard focus is not visible on IE11 when on high contrast mode.

It looks like Checkbox focus indicator is invalid in normal mode as well. It turns from grey to black, which is not sufficient focus indicator.

#### Actual behavior:
No keyboard focus indicator

[2018-03-08 22:14] #3985 closed

[2018-03-08 22:18] Jahnp commented on #4217
Good callout, thanks for the heads-up. @betrue-final-final -- any recommendations on what this should be? @satbai is this something you'd be willing to submit a PR for?

[2018-03-08 22:22] satbai commented on #4217
@Jahnp Unfortunately I don't think I have time to fix it myself.

[2018-03-08 22:23] Jahnp commented on #4214
This sounds reasonable to me, but as codeowners for Persona it's be good to hear thoughts from @mtennoe and @jakob101. Also tagging @dzearing , @aditima , and @manishgarg1 for FYI in case there are any concerns from a patterns perspective around exposing this.

@ipip2005, assuming we get clarity on a path forward here, is this something you'd be willing to submit a PR for?

[2018-03-08 22:30] betrue-final-final commented on #4217
I'm not getting a repro for link or for checkbox

![image](https://user-images.githubusercontent.com/20363037/37180180-025a0546-22dd-11e8-9703-6100c3242f58.png)

![image](https://user-images.githubusercontent.com/20363037/37180207-1bcd6aea-22dd-11e8-8bf3-a548928308b5.png)

This is on IE11
![image](https://user-images.githubusercontent.com/20363037/37180249-387d7e32-22dd-11e8-90af-8f7e0040f5ae.png)

[2018-03-08 22:30] #4217 closed

[2018-03-08 22:34] Jahnp commented on #4210
Thanks for this @fpintos. @johannao76 for FYI--is this something on your team's radar? Is this something that needs design input?

[2018-03-08 22:41] Jahnp commented on #4207
Thanks for reporting this @daweffe. @cschlechty , @betrue-final-final -- I believe we spoke about this recently and I thought the behavior @daweffe describes was by design, though I could be wrong on that. Thoughts?

[2018-03-08 22:47] Jahnp commented on #4204
Thanks for reporting this @obiwan007 . Just so we understand since you marked this blocking, are you just reporting an issue with the demo, or are you looking to implement a similar scenario?

[2018-03-08 22:57] Jahnp commented on #4195
@joschect for FYI as Pickers codeowner, @dzearing for FYI as we were just discussing the future of decorator usage, per @Markionium's suggested design.

[2018-03-08 23:22] michaelangotti commented on #4177
@nero120 What browser are you using? We are not able to repro this error.

[2018-03-09 00:00] Jahnp commented on #4210
Oops--didn't realize you two were teammates :) Let me ask a different question, both of you: is this something someone from your team would be willing to fund?

[2018-03-09 01:35] johannao76 commented on #4210
It seems like our team can implement, though it looks like Fabio already got our scenario working using the focus zone. Fabio, is this a matter of adding the FocusZone in fabric itself? We can schedule the work to do this in fabric if we foresee other consumers of the mini-calendar will need this functionality too.

________________________________
From: Peter Jahn <notifications@github.com>
Sent:

[2018-03-09 01:47] joschect commented on #4195
I like the suggestion. I'm pretty on board with anything that makes pickers cleaner.

[2018-03-09 02:20] Jahnp commented on #4195
Rock on. @Markionium would you be willing to open a PR?

[2018-03-09 06:06] obiwan007 commented on #4204
I mentioned the demo app just as an example as you could easily reproduce it there.
For us it is a critical feature as currently the list is not showing all items anymore..

[2018-03-09 09:25] mtennoe commented on #4214
This definitely makes sense to me. Sounds like we regressed on this functionality, so we should ensure this works again, and going the focus() call route makes it easier for component consumers

[2018-03-09 13:48] aappddeevv commented on #4204
You can turn off virtualization as a workaround `onShouldVirtualize = { () => false}` in case of emergencies. I ran into this issue in earlier versions when freezing the size of the underlying DetailsList in order to force the header to not move....a technique that did not work and made obsolete by the ScrollablePane/Sticky header.

[2018-03-09 14:20] reecreatepatrik commented on #349
I created a simple fabric style pagination control on top of react-ultimate-pagination if anyone needs a quick solution while this component gets implemented:
https://www.npmjs.com/package/office-ui-fabric-react-pagination

[2018-03-09 16:14] rgylesbedford commented on #3908
When using SPFx for SharePoint 2016, we are stuck with an older version of typescript. SPFx will not allow us to upgrade to a newer version.

[2018-03-09 16:16] rgylesbedford commented on #3010
SPFx doesn't allow us to control which version of typescript is used. When using SPFx with SharePoint 2016 on-prem, we are stuck with an older version of typescript.

[2018-03-09 17:13] fpintos commented on #4210
I'm thinking all we need is a readOnly flag in the control, which will cause it to not apply the highlight on selected dates and disable all sorts of user input handlers.

I've worked around the user input with the FocusZone  to block keyboard input and a transparent DIV covering the controls, to block touch/mouse/pen input. FocusZone is already from Fabric, so we're good from that perspective.

[2018-03-09 18:54] liang2zhu1 opened #4223 "Feature Request:Could release information include what's in the release in addition to not in release?"
Using example here https://github.com/OfficeDev/office-ui-fabric-react/releases/tag/office-ui-fabric-react_v5.46.0 , I'm befuddled why it gives me commits since the release but not what are the commits in the release?
This was very confusing , to me , as usually a release or build would tell what's in it (since last release).
I think it's still useful information to know what's not in the release

[2018-03-09 18:58] mikewheaton commented on #4223
The 'minor changes' and 'patches' sections describe what's changed in that release as compared to the last one. But I do wonder if it would be possible to link to the actual PRs for each of those comments. @dzearing knows more about the automated release process.

[2018-03-09 19:25] jordandrako commented on #4180
@aditima Can you give some insight on styling DetailsRow selection?

[2018-03-09 20:23] jordandrako commented on #4181
I think I will deprecate it until we are ready to implement uncontrolled text fields.

[2018-03-09 20:28] #4201 closed

[2018-03-09 20:58] JoshuaKGoldberg opened #4227 "Consider running a general audit for inaccurate type definitions"
Following https://github.com/OfficeDev/office-ui-fabric-react/issues/4080 and https://github.com/OfficeDev/office-ui-fabric-react/issues/4081, there are quite a few places with poorly or inaccurately labeled types. Some common smells are:

* Unnecessarily `?` optional types (#4080)
* `any`, particularly in generic types (#4081)

Long term, I'd strongly suggest enabling both the full `strict` optio

[2018-03-09 20:59] JoshuaKGoldberg commented on #4081
Ok! I'll send a PR and list this as a major change, and can update as recommended.

[2018-03-09 21:01] antonafMSFT commented on #4204
I've run into a similar issue today.

@aappddeevv I believe the fix you reference did fix the issue, but it was broken again by #4055.

The underlying issue is that after #4055 the content of the `ScrollablePane` is put into a `div` that has `data-is-scrollable={ true }`, but is itself NOT scrollable - instead, its parent has the scrollbars.
This causes the `List` (and `DetailsList` by extension)

[2018-03-09 21:58] ianw89 opened #4229 "Async Debounce Should Provide Option for executing pending actions on disposal"
Scenario:
You have components that use _async.debounce for delaying update actions. When the user navigates to a different part of your UI, this component gets cleaned up, but it still had pending debounce actions. Today they will all be disposed and not resolve. We should provide an option so that when you setup a debounce the disposal behavior can be to resolve the code before cleaning it up, so

[2018-03-09 23:12] AlexVSTS opened #4231 "CommandBar Items with href should also support OnClick behavior"
When creating a CommandBar, its items can either:
1) specify item.href - and not specify item.onClick
2) specify item.onClick

In case 1) the command will contain an \<a\> element on which you can right click and open in new tab, etc ..
In case 2) the command will contain a \<button\> element on which you cannot right click, etc.

The desired behavior / requirement is that it should be possible to

[2018-03-10 00:00] justinmwarner opened #4232 "Can't enable transpileOnly because @uifabric/icons/lib/index isn't generating the IconNames enum correctly."
### Bug Report

- __Package version(s)__: 5.62.1
- __Browser and OS versions__: all

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites affected: Analytics

#### Describe the issue:

For dev builds, we'd like to speed up our build process. To do this, we can enable transpileOnly for ts-loader.

[2018-03-10 22:21] aappddeevv opened #4234 "ScrollablePane, DetailsList and Sticky Header: blank space inserted and sticky obscures 1st item"
v5.62.

If you modify the ScrollablePane DetailsList Example to remove all non DetailsList sticky headers, you find that there is inserted extra space into the ScrollPane that throws scrolling off. There is also an issue where the DetailsList sticky details list header (per the example) is sitting on top of the first DetailsList item obscuring it, but this actually only happens under some conditio

[2018-03-10 22:22] aappddeevv commented on #4204
I understand your comment. I was running on 5.62 and I do get a full render of content. However, I've run into another issue with the sticky header model and vertical scrolling. #4234

[2018-03-10 23:02] #4080 closed

[2018-03-11 06:31] obiwan007 commented on #4234
The problem with the first item obscuring was fixed in my case by a padding: 1px to the container div. Strange.
Another issue was that I had to add position: relative too - otherwise the sticky was hovering over other elements above the actual scrollable.

[2018-03-11 06:54] #4084 closed

[2018-03-11 06:54] dzearing commented on #4084
@erichdev beat me to it. Thanks!!

[2018-03-11 07:02] #2437 closed

[2018-03-11 07:45] dzearing commented on #4107
This should be fixed onced published tonight.

[2018-03-11 07:45] #4107 closed

[2018-03-11 12:18] aappddeevv commented on #4234
I'll try the 1px pad. I did add `position: relative` as modeled after the example. Without the `position: relative` in the right place, my stickies jump to the top of the frame/window on scroll. It looks like the sticky uses position so it needs a positioned parent to anchor to the right place.

[2018-03-11 12:50] tsekityam commented on #1164
I want to show an error message on the date picker when a form is submitting, but I found no way to do so.

Here is my use case:

I am working on a SharePoint web part, which is a form for submitting booking requests. There is a `DataPicker` in the form, which is for the date that they want to pick up the items. This field is required but has no default value. I have to validate this field value b

[2018-03-11 20:52] dzearing commented on #4232
This is pretty unclear about what exactly the problem is. I think in general there is friction in consuming const enums from a library. Basically I think if you dont have `"preserveConstEnums": true,` they will get stripped in your compilation. Or maybe I have that backwards. Basically I *think* we're doing the right thing which is that they should be 0 impact on bundle size, but still provide typ

[2018-03-11 20:54] dzearing commented on #4028
merged, should be fixed in monday's build.

[2018-03-11 20:54] #4028 closed

[2018-03-12 01:46] random-creator commented on #3734
@joschect Is there a fix for this yet? I am seeing the same issue.

[2018-03-12 01:48] Shubhangi-Priya commented on #3734
@joschect Is there a fix for this yet? I am seeing the same issue.

[2018-03-12 05:40] pagangil commented on #2434
Any updates on this?

[2018-03-12 07:31] dzearing commented on #4223
Done. Spent some weekend time refining `scripts/updateReleaseNotes.js` to attach PR/commit/author links to each change.

[2018-03-12 07:31] #4223 closed

[2018-03-12 08:53] mdahamiwal commented on #4209
We already have labels against each choice option and we are using `htmlFor` to bind it which makes them accessible. If the requirement is to have a different `aria-label` compared to text, we can look into it but then the label can be different for impaired users.

[2018-03-12 15:02] mikewheaton commented on #4223
Wow, just saw the [latest release notes](https://github.com/OfficeDev/office-ui-fabric-react/releases/tag/office-ui-fabric-react_v5.63.0) and this is so much better!

[2018-03-12 16:09] daweffe commented on #4209
We have a bug open that the choiceGroup is not working with VoiceOver. Narrator seems to find the text ok, but I have not tested it on a mac with voiceover yet. In the DOM I see the input element has the aria-labelledBy field set with the ID of that input element, but the text is in the label element that is not a child of that input element. If voiceover is having trouble, I suspect that this is

[2018-03-12 16:21] justinmwarner commented on #4232
I have tried adding preserveConstsEnums and still face the issue because this is based on the generated code in office-ui-fabric-react and not our own.

https://github.com/OfficeDev/office-ui-fabric-react/commit/2160f2eb3f73deb473b879273030ed2b737d63a0

In this commit, you added preserveConstEnums to be false for the Icons package to not produce javascript.

We rely on the generated javascript tho

[2018-03-12 17:20] jspurlin commented on #3434
Looking at the W3C example of an accessible comoboBox the current markup is correct (see: http://www.w3.org/TR/wai-aria-practices/examples/combobox/aria1.1pattern/listbox-combo.html especially example 3)

[2018-03-12 17:21] jspurlin commented on #3434
The current behavior is expected and is "by design"

[2018-03-12 17:21] #3434 closed

[2018-03-12 17:32] jspurlin commented on #3472
The options don't actually need focus, they just need to be styling so that they look like they have focus (via the :after styling, like other components)

[2018-03-12 17:43] oengusmacinog commented on #4209
@daweffe thanks for the extra info, I will test this out specifically in VoiceOver and see what I can find out

[2018-03-12 17:57] nero120 commented on #4177
Thanks @michaelangotti, I've just tried recreating the issue on the Fabric UI website and on my project and I was unsuccessful so it looks like it was a temporary issue, possibly my browser!

[2018-03-12 17:57] #4177 closed

[2018-03-12 18:11] joschect commented on #3734
@Shubhangi-Priya  I thought I had put a fix in but I clearly did not. Here's one now that will fix it #4238

[2018-03-12 18:33] satbai opened #4240 "DetailsList narrator announcement issues"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: Edge

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: VSTS

#### Describe the issue:

When selecting the first row in the list, the narrator doesn't announce that it was selected.

#### Actual behavi

[2018-03-12 18:58] dzearing commented on #4240
I am seeing `aria-selected` being toggled on the row. Is there something missing?

[2018-03-12 19:45] Shubhangi-Priya commented on #3734
Thanks so much @joschect !

[2018-03-12 19:57] jspurlin commented on #3627
The value is being appropriately set, this seems like a browser bug.

[2018-03-12 20:36] aappddeevv opened #4242 "add "click/focus to edit" example, helps show how to use components/component properties together e.g. FocusZone, TextField and Label"
Enhancement request that only needs to be applied to a few examples. This seems like a useful use-case to illustrate.

[2018-03-12 20:37] #3734 closed

[2018-03-12 20:37] joschect commented on #3734
This will now be fixed in the next update of fabric!

[2018-03-12 21:15] satbai commented on #4240
@cschlechty Is the first selection working as expected with screen readers? Not sure what's causing the issue since the DOM seems to get updated the same way in both cases; when the Narrator announces 'selected' and when it doesn't.

[2018-03-12 21:19] johannao76 commented on #4176
What is the reason for adding this css class?

[2018-03-12 21:24] #4176 closed

[2018-03-12 22:24] #531 closed

[2018-03-12 23:30] satbai commented on #4240
There's also a somewhat related narrator bug on the same component. IsSelectionItemPatternAvailable is true on all of the cells even when selection is not turned on. This can be reproduced in https://developer.microsoft.com/en-us/fabric#/components/detailslist in the first example. I'm using Inspect tool, Narrator and NarratorBuddy.

Repro steps:
1. Navigate to a row in a DetailList that doesn't h

[2018-03-13 07:57] haifoo commented on #1945
Any updates on this? would love for this feature to be implemented.

[2018-03-13 09:47] pagangil opened #4248 "Icons not showing in high contrast mode in Contextual menu"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: Edge, Windows

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: High

Products/sites affected: (if applicable)

#### Describe the issue:

In high contrast mode, if we use contextual menu dropdown with menu items having icons

[2018-03-13 10:06] m-sadegh-sh opened #4249 "Pivot component renders nothing after updating to version 5.63.0"
### Bug Report

- __Package version(s)__: 5.63.0
- __Browser and OS versions__: Windows Server 2016, Chrome 64.0.3282.186

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Blocking

Products/sites affected: (if applicable)

#### Describe the issue:

After upgrading package from 5.52.0 to 5.63.0, Pivot component

[2018-03-13 11:50] hbrigui opened #4250 "Panel Component React: custom style className not applied in SPFx web part."
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: High

Products/sites affected: SharePoint client side web parts.

#### Category
- [ ] Question
- [ ] Typo
- [x] Bug
- [ ] Additional article idea

#### Describe the issue:

Panel not affected when i use className={styles.CustomStyle} also for components introduce

[2018-03-13 14:04] betrue-final-final commented on #4248
Another good one to investigate @lynamemi

[2018-03-13 20:38] kurtcarpenter opened #4259 "Multiline disabled TextField cannot scroll"
### Bug Report

- __Package version(s)__: 5.20.3
- __Browser and OS versions__: all

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Maybe

Requested priority: Normal

Products/sites affected: (if applicable)

#### Describe the issue:

TextField, with the multiline and disabled properties set to true, disables the scrollbar.

#### Act

[2018-03-13 21:34] dzearing commented on #4138
I don't believe this is a bug. But if we can be clear about what is broken, and have a codepen to illustrate, happy to investigate.

[2018-03-13 21:36] oengusmacinog commented on #4138
[https://codepen.io/oengusmacinog/pen/YeMWPG]/9https://codepen.io/oengusmacinog/pen/YeMWPG) codepen showing the issue boiled down

[2018-03-13 22:05] satbai opened #4262 "[Accessibility] Dropdown should be defined as 'read-only combobox' instead of 'editable combobox'"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: Edge

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No
Requested priority: Normal
Products/sites affected: (if applicable)

#### Describe the issue:

1. Go to https://developer.microsoft.com/en-us/fabric#/components/dropdown
2. Set focus to Basic uncontr

[2018-03-13 22:26] lynamemi commented on #4248
Note that in the example above, 'Upload' has an inline style applied for color (salmon) so that will always be  salmon color. The PR I have in will fix icons without inline color styles.

[2018-03-13 22:33] lynamemi commented on #4248
@satbai That is a separate issue. I think what you are showing is Dropdown with focus. You can open another issue, or tag on the screenshot you have to this existing issue:
https://github.com/OfficeDev/office-ui-fabric-react/issues/3488

[2018-03-13 22:39] lynamemi commented on #4113
This one can be closed, right @jordandrako ?

[2018-03-13 22:40] jordandrako commented on #4113
Yeah, weird it didn't auto close.

[2018-03-13 22:40] #4113 closed

[2018-03-13 22:40] #4114 closed

[2018-03-13 22:43] satbai commented on #3488
I think this might be related. Dropdown component on WHITE high contrast mode doesn't show the dropdown icon on Edge. Reproduces here: https://developer.microsoft.com/en-us/fabric#/components/dropdown

![image](https://user-images.githubusercontent.com/24945574/37373754-30d89846-26d5-11e8-8bc2-aee70fae3059.png)

[2018-03-13 22:46] satbai opened #4264 "Button doesn't have a proper focus indicator on high contrast mode"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: Edge

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No
Requested priority: Normal

#### Describe the issue:

On high contrast mode on Edge the button element doesn't have a proper focus indicator. Repros on all buttons. https://developer.microsoft.com/en

[2018-03-13 22:48] lynamemi commented on #4264
Thanks for reporting! This one I have a PR out for 😄
https://github.com/OfficeDev/office-ui-fabric-react/pull/4221

[2018-03-13 22:48] #4264 closed

[2018-03-14 00:24] lyyjohn45 commented on #3945
I have the same exact repo. this is super annoying.

[2018-03-14 01:26] gingi opened #4265 "[Accessibility] Nav sets aria-label on wrong nested element"
### Bug Report

- __Package version(s)__: 5.64.0
- __Browser and OS versions__: [All]

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:

The Nav component's `ariaLabel` prop sets the attribute on the wrong element. This becomes an accessibility issue when the DOM tree contain mu

[2018-03-14 02:35] adriantran opened #4267 "On IE11 Toggle button is missing keyboard focus border"
### Bug Report

- __Package version(s)__: (current)
- __Browser and OS versions__: IE11

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes, for karma

Requested priority: Normal

Products/sites affected: TFS

#### Describe the issue:
One IE11, without any style reset, button has overflow hidden. So for the Toggle component, focus bo

[2018-03-14 06:53] saurabhsuniljain opened #4269 "[Accessibility] DetailsList's checkboxes have color contrast accessibility issue."
### Bug Report

#### Describe the issue:

The checkbox in the DetailsList has Color-Contrast Issue:
I have used the DetailsList and did accessibility testing on it using KerosForWeb extension and found the following issue:

#### Actual behavior:

The checkbox has color-contrast accessibility issue.

#### Expected behavior:

The checkbox should not have color contrast issue.

[2018-03-14 08:59] saurabhsuniljain opened #4270 "[Accessibility] DetailsList column headers not accessible when {selectionMode={SelectionMode.single}} using Keyboard navigation."
### Bug Report

#### Describe the issue:

When selectionMode is set to SelectionMode.single, the column headers are not accessible through Keyboard. The column header is accessible when selection mode set to either none or multiple.

#### Actual behavior:

Column header not accessible using Keyboard when selection mode is single.

#### Expected behavior:

Column header should be accessible using K

[2018-03-14 14:05] betrue-final-final commented on #4269
What state was the check box in? Is this hover?

[2018-03-14 14:08] betrue-final-final commented on #4270
This will be a picker issue. @bigbadcapers

[2018-03-14 14:16] saurabhsuniljain commented on #4269
- Normal State:

- Focus State:

- Hover State

[2018-03-14 15:00] betrue-final-final commented on #349
I'm trying to understand how Detailslist is useless without pagination? It incorporates virtualization. Pagination would be an extra layer on top of that. @dzearing, can you chime in?

[2018-03-14 15:04] betrue-final-final commented on #879
@dzearing is this resolved?

[2018-03-14 15:35] OverkillTV commented on #349
I think most of the time when the DetailsList is used it was meant to used with lot of items/rows so without a pagination it would not be user friendly.

[2018-03-14 15:39] betrue-final-final commented on #349
But that's the point, it's virtualized so it should be responsive to scrolling. If the scenario is to add specific jump points between, instead of arbitrary pages, there are lots of ways to precisely slice and dice the data by meaningful metadata, such as sorting, filtering, and grouping. Pagination is forcing people to hunt and peck, not to mention it's so 1997.

[2018-03-14 15:44] betrue-final-final commented on #349
Actually you can have "paging" behind the scenes on the server.

[2018-03-14 15:46] d0tkom commented on #349
Yes but there is no straightforward way to do it atm. (Or I just don't know about it) The best way would be I think is to have an 'onMore' event that fires once the user gets to the bottom of the list, so we could load the next chunk.

[2018-03-14 15:47] betrue-final-final commented on #349
@dzearing might have some ideas.

[2018-03-14 17:53] RegexEmpire opened #4271 "High contrast black focus is hard to see on default button"
### Bug Report

- __Browser and OS versions__: Edge Win10

#### Priorities and help requested (not applicable if asking question):

Requested priority: Normal

Products/sites affected: VSTS

#### Describe the issue:

Focus cannot be seen after navigating to a default button in high contrast black.

Focused:
![image](https://user-images.githubusercontent.com/5342645/37421106-b4a12dd2-2775-11e8-802b

[2018-03-14 17:58] oengusmacinog commented on #4138
Updated codepen [here](https://codepen.io/dzearing/pen/aYdLzj?editors=0010).

This behavior is due to the fact button specifically is using the "classNames" JS styles setup that we are no longer using.  When button is updated to take in getStyles and use `styled()` this should work inheriting the classNames correctly, but when that is the case it would be better practice to used `styled()` to pull

[2018-03-14 17:58] #4138 closed

[2018-03-14 18:06] oengusmacinog commented on #1140
@AkshanshSrivastava03 we are now actively addressing this issue actively in our updates.  The pattern will still be inconsistent between certain modules because we need to avoid breaking changes, but we are working to consolidate native props and apply these standards.

I am going to close this Issue for now.  Thank you for bringing this to our attention so it could be addressed in our standards.

[2018-03-14 18:06] #1140 closed

[2018-03-14 20:52] abettadapur commented on #3691
Is there any update on this issue? It has still not been fixed and is impacting our Safari customers

[2018-03-14 21:30] lynamemi commented on #4271
Thanks for reporting! I have a PR open to fix this here: #4221 , and we're tracking the bug here: #3419

[2018-03-14 21:30] #4271 closed

[2018-03-14 23:01] #4209 closed

[2018-03-14 23:40] adriantran commented on #4267
already fixed

[2018-03-14 23:40] #4267 closed

[2018-03-15 00:00] #3262 closed

[2018-03-15 00:02] lynamemi commented on #2459
I'll group this in with a high contrast mode focus fix: https://github.com/OfficeDev/office-ui-fabric-react/issues/3621

[2018-03-15 00:21] alxHenry opened #4277 "Jasmine Tests Blowing Up on Pulling in Newer Fabric Version"
### Bug Report

- __Package version(s)__: 5.64.1
- __Browser and OS versions__: PhantomJS

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes. The culprit is BaseButton.tsx method _onRenderDescription the description is pulled off this.props instead of the passed in props object.

Requested priority: High

Products/sites affected: Ya

[2018-03-15 00:31] vollmerr opened #4278 "DatePicker - Extra required indicator (*)"
### Bug Report

- __Package version(s)__: 5.64.1
- __Browser and OS versions__: Chrome, windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Low

Products/sites affected: DatePicker component

#### Describe the issue:

Required DatePicker fields are displaying an additional required indicator (*) after t

[2018-03-15 00:43] alxHenry commented on #4277
It looks like the last change there was just a whitespace change. It hasn't really changed for 10 months, so I have no idea why this is exposed for us all of a sudden

[2018-03-15 03:08] #4259 closed

[2018-03-15 05:58] Jahnp commented on #4278
This seems reasonable, but I'm not sure if there are cases where we'd want a required indicator when a label *isn't* there. That may not be a common or supported scenario, though. @johannao76 , @fpintos -- thoughts? Should the extra asterisk be removed from the input field?

![image](https://user-images.githubusercontent.com/307118/37446642-3a25a626-27db-11e8-8e14-b64bbdd7feba.png)

[2018-03-15 06:00] Jahnp commented on #4277
@micahgodbolt for BaseButton.

[2018-03-15 06:12] Jahnp commented on #4210
That flag makes sense to me. Glad to hear you were able to resolve locally, @fpintos. Do we want to keep this issue open in the meantime, then? If so, do you have a sense on when you'd be able to schedule the work to add this? Just trying to keep on top of open/active issues. Thanks!

[2018-03-15 06:16] Jahnp commented on #4250
@hbrigui thanks for reporting and sharing the code sample. A few questions:
- What version of Fabric React are you seeing this behavior in?
- Does this only happen when applied within web parts?
  - Can you repro from a CodePen with a recent version of Fabric?

@manishgarg1 for FYI in case this is an issue with SPfx. Please loop in others as appropriate. Thanks!

[2018-03-15 08:45] aslanovsergey opened #4281 "Using office-ui-fabric-react styles in my component"
#### Describe the issue:

I am trying to create my own component using an example as blueprint
https://github.com/OfficeDev/office-ui-fabric-react/tree/master/packages/office-ui-fabric-react/src/components/pickers/TagPicker

The problem is with scss file
https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/pickers/TagPicker/TagItem.scss

I

[2018-03-15 09:28] hbrigui commented on #4250
@Jahnp  thanks for commented, so to answer your questions:

- Office fabric ui used version is 1.4.3.
- For the time being I tested only on SPfx Web Part and I have never tested it for another case
         -> Ok, i will try to repro it on CodePen with recent version Fabric

Thanks !

[2018-03-15 14:43] Basek opened #4282 "PeoplePicker: align suggestions to field width"
It would be great to have property like useComboBoxAsMenuWidth in ComboBox especially for case with itemLimit=1.

[2018-03-15 14:52] Basek opened #4283 "PeoplePicker: usability improvement for itemLimit=1"
It is necessary to remove selected person from picker before you can choose another person. It is normal behavior for multi-select case but in case with itemLimit=1 it become strange. It would be great to remove old one on click.

[2018-03-15 15:15] petercutting commented on #1945
I am also wondering when this will be available. The docs sais "As the user enters a query string, they are provided with a dropdown of autocomplete suggestions or disambiguation options.". I dont see any of that in the examples and the backing code doesnt seem to implement it. What is going on?

https://developer.microsoft.com/en-us/fabric#/components/searchbox

[2018-03-15 16:16] #4277 closed

[2018-03-15 16:51] #4196 closed

[2018-03-15 17:19] lynamemi opened #4285 "ChoiceGroup: Text wraps for 2 lines but no more ellipsis for overflow"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low)  Normal

Products/sites affected: (if applicable) SP Hero PropertyPane

#### Describe the issue:

- Per d

[2018-03-15 17:43] dotfelixb commented on #616
@limefrogyank did this work for you?

[2018-03-15 18:06] JoshuaKGoldberg opened #4287 "loadStyles always called when importing ActivityItem (or anything importing scroll.js/scroll.scss.js) - which breaks Node & SSR"
### Bug Report

- __Package version(s)__: office-fabric-react@5.52.0
- __Browser and OS versions__: Node 9.X

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: Office Sway

#### Describe the issue:

We need to be able to test Office Fabric in a pure Node environment as part of ou

[2018-03-15 18:08] limefrogyank commented on #616
It's as he said in his extra comment...not all of the styles are getting sent. My buttons are still showing as plain for a half second until the client takes over the styling.

Also, I'm running into one of the other errors where the server side style doesn't match the client style so it's reloading everything.

[2018-03-15 18:38] #3036 closed

[2018-03-15 19:17] donaldallen opened #4289 "DatePicker usability when compared to non-React version"
I'm curious as to why the UI for the Fabric React DatePicker does not follow the same conventions as set in the non-React Fabric DatePicker?

![2018-03-15 13_02_38-office ui fabric js](https://user-images.githubusercontent.com/453784/37485484-2fbbaca0-2851-11e8-90db-c2e311c71e17.png)
Fabric DatePicker

vs

![2018-03-15 13_04_23-home - office ui fabric](https://user-images.githubusercontent.com/453

[2018-03-15 20:41] #4077 closed

[2018-03-15 21:15] michaelangotti commented on #4289
@betrue-final-final Do you know why the design was changed?

[2018-03-15 21:32] michaelangotti commented on #4281
@dzearing Is there a good way to access common styles from the package?

[2018-03-15 21:39] michaelangotti commented on #4262
@betrue-final-final What are your thoughts?

[2018-03-15 21:42] michaelangotti commented on #4249
@m-sadegh-sh Can you provide a repro?

[2018-03-15 21:44] betrue-final-final commented on #4262
I agree. I meant to comment earlier that it should not be read as editable combo box. @cschlechty on whether 'read-only' means can't type values or can't use. I think this is correct but would love the double verification.

[2018-03-15 21:58] cschlechty commented on #4262
aria-readonly means you can't change the value of the control. It looks correct as-is https://www.w3.org/WAI/PF/aria/states_and_properties#aria-readonly

[2018-03-15 21:59] betrue-final-final commented on #4262
Ok, and "editable" specifically means it can be modified, and not just text editable?

[2018-03-15 22:02] cschlechty commented on #4262
yes, i believe so

[2018-03-15 22:52] yaananth commented on #3419
+1
High contrast black theme the background of the selected button (which should be similar to focus) should be in "Cyan" and button text should be in "Black" colour.

In white theme background colour should be in "Purple" and button text colour should be in "White".

[2018-03-16 00:47] fpintos commented on #4210
Hi @Jahnp, we can close the issue as having a workaround.
If more applications need it, then the read-only flag might be a nice addition and we open it up again.

For the record: I was able to get a completely read-only view by using the disabled FocusZone around the control and then applying the following style overrides in the CSS of my parent control's IStyle:

[code]

[2018-03-16 00:47] #4210 closed

[2018-03-16 03:48] #4265 closed

[2018-03-16 06:14] jchilde opened #4292 "Details List - On Resize Columns with Groups Enabled, Only Column Headers Resize"
### Bug Report

- __Package version(s)__: "office-ui-fabric-react": "^5.55.1",
- __Browser and OS versions__: All

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: (if applicable)

#### Describe the issue:

When a column is marked isResizable, each column can be resized at runti

[2018-03-16 08:56] Vintaurus opened #4293 "Error by ScrollablePane and Sticky"
### Bug Report

- __Package version(s)__: 5.64.0 - 5.64.3

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: High

Products/sites affected:
I also copied the example from https://developer.microsoft.com/en-us/fabric#/components/scrollablepane "DetailsList Locked Header"

#### Describe the issue:
The solution is

[2018-03-16 15:26] b-priyank opened #4295 "Promise based TextField error message is not read by firefox + NVDA"
### Bug Report

- __Package version(s)__: https://codepen.io/anon/pen/LdRVZQ
- __Browser and OS versions__: Firefox 58.0.2 on windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: visualstudio.com

#### Describe the issue:

When error message is d

[2018-03-16 17:13] #3419 closed

[2018-03-16 17:46] satbai opened #4298 "ChoiceGroup focus order is incorrect in backwards keyboard navigation"
### Bug Report

- __Package version(s)__: Office Fabric 5.55.1
- __Browser and OS versions__: Edge

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

#### Describe the issue:
Keyboard navigation backwards is incorrect. Interesting detail is that after changing the selection it works as expected.

#### Actual behavior:
Going forward

[2018-03-16 17:48] #4025 closed

[2018-03-16 21:17] betrue-final-final opened #4300 "Update position of month paging arrows"
To make the datepicker more readable and usable, as well as fix the reading order for screen readers, move the name of the month to the left and arrows to the right.

![image](https://user-images.githubusercontent.com/20363037/37545095-b4230e2e-2924-11e8-9db2-fa31b46868f8.png)

[2018-03-18 23:31] Jahnp commented on #4283
@joschect FYI--thoughts on this?

[2018-03-18 23:31] Jahnp commented on #4282
@joschect FYI--could you take a look at this when you have a chance? Thank you!

[2018-03-19 08:30] lszomoru commented on #4180
I would have expected that `SelectionMode.none` would disable the click event handler on the row.

[2018-03-19 10:54] quangleminhvn opened #4305 "Input multiline inside Panel doesn't compatible with the auto spell check by Grammarly extension"
### Bug Report

- __Package version(s)__: office-ui-fabric-react v.5.41.2
- __Browser and OS versions__: Google Chorme v.64.0.3282.186

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: N/A

#### Describe the issue:

Step1: Install Grammarly extension. Restart Google Chorme browse

[2018-03-19 15:38] jdrush89 opened #4307 "Toggle thumb is misaligned when overriding text size"
### Bug Report

- __Package version(s)__: 5.64.1
- __Browser and OS versions__: Chrome

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable)

#### Describe the issue:

All of the sizing on the pill and thumb class are done in e

[2018-03-19 18:02] erichdev opened #4309 "DetailsList: Columns not resizing"
### Bug Report

- __Package version(s)__: >=5.63.0

#### Describe the issue:

Columns aren't resizing. This can be reproed in the docs site. Also have a simple example in this Codepen: https://codepen.io/erichdev/pen/JLEday If you set it to a version below 5.63.0, column resize will work.

Not sure if related to #4292 but this occurs even with non-grouped lists and even the headers aren't resizing

[2018-03-19 20:16] martellaj opened #4315 "[Persona] getStyles doesn't work"
### Bug Report

- __Package version(s)__: Latest

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: (if applicable)

#### Describe the issue:

getStyles prop doesn't add styles for Persona component.

### If applicable, please provide a codepen repro:

https://codepen.io/micahgodb

[2018-03-19 21:56] caradong commented on #4309
Found the same issue with 5.63.0

[2018-03-19 23:02] oengusmacinog commented on #4283
@Basek I spoke with a designer and it sounds like this would be a bit confusing in the context of the PeoplePicker.  It sounds like you may want to set up the ComboBox component to be a single person picker.  That component is set up to select one item from a group and can be set up to use Persona component and etc, which the pickers in general are designed so you can select multiple items in a gr

[2018-03-19 23:02] #4283 closed

[2018-03-19 23:27] oengusmacinog commented on #4282
PeoplePicker, or the pickers in general, are designed as a multi-selection tool, as a result they are usually implemented quite wide so a prop like useComboBoxAsMenuWidth from ComboBox has not been implemented on it.

I am not sure about your exact requirements but this issue coupled with the other one you opened really makes it sound like the component you want is actually ComboBox and not People

[2018-03-19 23:27] #4282 closed

[2018-03-20 00:25] dzearing commented on #4287
in our ssr test, we had to initialize a few things.

[code]

Does this help? Basically you will want to not be rendering styles in this case.

[2018-03-20 00:33] dzearing commented on #4287
Oh! Also, in jest, we have this in our config:

[code]

which just empties it out:

[code]

Which removes all sass files.

[2018-03-20 01:15] JoshuaKGoldberg commented on #4287
Thanks for the tips @dzearing! I'll try them out and post here if there are any problems.

Are these methods documented anywhere? If not, where should I add docs for them?

[2018-03-20 14:51] b-priyank opened #4321 "Feature request: Tooltip should not show empty callout when message is empty"
Currently, tooltip shows empty callout when message is empty. Not sure if such empty callout is useful for any scenario. There should be check on tooltip message. If there is no/empty tooltip message, callout should not be rendered. See below codepen repro. It looks weird when message is empty.

### If applicable, please provide a codepen repro: https://codepen.io/anon/pen/KoaORo

[2018-03-20 16:07] lynamemi commented on #4248
fixed in https://github.com/OfficeDev/office-ui-fabric-react/pull/4311

[2018-03-20 16:07] #4248 closed

[2018-03-20 16:10] #4295 closed

[2018-03-20 16:21] betrue-final-final opened #4322 "Update Fabric XD Toolkit to version 4.0.0"
We need to update the Fabric toolkit to the latest version, 4.0.0.
This will be the first semantically versioned Fabric toolkit. The new file can be found here:
https://microsoft.sharepoint.com/:u:/t/odspux/EaxyKH1AX_VLqZ6H4RyowsgBFEbkyZztFJJ2FE7gCKiGNQ?e=Hmh5i9

Changes include:

**Toggle**
- Increased size of focus to wrap label. This matches closer to checkbox and radio buttons, as well as alig

[2018-03-20 17:22] dwilsonmsft commented on #3067
I don't think this is a bug. Although the Fabric doesn't make the header keyboard navigable, screenreader users can use the screenreader to navigate to the header and read its contents. Check [the examples from ARIA here](https://www.w3.org/TR/2017/NOTE-wai-aria-practices-1.1-20171214/examples/grid/dataGrids.html), where Windows Narrator reads each grid as having n+1 rows, and example 3 explicitly

[2018-03-20 17:36] jordandrako commented on #4322
Does this file live on the Fabric CDN?

[2018-03-20 19:23] #4307 closed

[2018-03-20 19:56] #4231 closed

[2018-03-20 20:15] caltonji opened #4323 "showRemoveButtons in pickerSuggestionProps of PeoplePicker does not change state of remove buttons"
### Bug Report

- __Package version(s)__: "5.34.1"

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix?  No

Requested priority: Normal

#### Describe the issue:

showRemoveButtons within the pickerSuggestionProps of NormalPeoplePicker and ListPeoplePicker does not work.

#### Actual behavior:

remove buttons are shown regardless of the v

[2018-03-20 20:46] lynamemi commented on #4278
For TextField, we have logic to show the * only after the label, if there is a label. If there is no label specified, we render it after the input field.

[2018-03-20 21:07] #4322 closed

[2018-03-21 00:32] dzearing commented on #4309
This was introduced with the `createRef` changes. There wasn't good unit test coverage around this scenario, so I have fixed the issue and added coverage. And a snapshot test around `DetailsHeader` while i was there.

[2018-03-21 06:03] dzearing commented on #4309
Will be published overnight.

[2018-03-21 06:03] #4309 closed

[2018-03-21 06:04] dzearing commented on #4315
@mikewheaton You added the prop but never actually implemented it. Can you please finish the work?

[2018-03-21 06:06] dzearing commented on #4298
I think this is technically correct. Each of the choice group options aren't tab stops. The choice group itself is a tab stop. A combo box is nested with it.

[2018-03-21 06:14] dzearing commented on #4298
Just to understand the native dom focus, I codepened this:

https://codepen.io/dzearing/pen/rdyJXx

@mikewheaton Not sure if you have background on choicegroup, but there seems to be something off here.

[2018-03-21 07:21] pavan2920 opened #4328 "TextField as Number"
Hi Team,

Can we have a comma separator for number's in TextField(as number). ?

Regards,
Pavan.

[2018-03-21 07:45] NielZeeman opened #4329 "Icons are showing as question marks "???""
### Bug Report

- __Package version(s)__: office-ui-fabric-react@5.65.0
- __Browser and OS versions__: Windows 10 : Edge (41.16299.248.0), Chrome (65.0.3325.181) & FireFox (59.0.1)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority:  Normal

Products/sites affected: Visual Studio Team Services (VSTS)

#### Descri

[2018-03-21 09:05] roger-green commented on #1146
I've taken the example code and inserted into a simple create-react-app app. However, I just can't get the sticky's to stick inside the scroll area (they stick to the top of the page instead). This certainly looks like a CSS issue, but I am stumped. If anyone has any ideas, this would be really appreciated! I've uploaded a simpe test project here :

https://rockgobyx@bitbucket.org/rockgobyx/fabric

[2018-03-21 12:17] AkshanshSrivastava03 opened #4331 "Dropdown - Can select disabled item using arrow keys"
### Bug Report

- __Package version(s)__: office-ui-fabric-react@5.55.1004

#### Priorities and help requested (not applicable if asking question):

Requested priority: (Blocking, High, Normal, Low)  High

#### Describe the issue:

In a dropdown, if you have a disabled item, then we are able to select that item using keys (up/down) on the closed dropdown. This can also be seen on the Office UI Fab

[2018-03-21 13:30] AkshanshSrivastava03 opened #4332 "Rendering dropdown in DetailsList issue"
### Bug Report

- __Package version(s)__: office-ui-fabric-react@5.55.1004

#### Describe the issue:

When rendering a cell made of dropdown inside the details list, the user expects that when he/she lands on the dropdown cell, pressing up/down key will make him/her move up/down on the details rows and not change the dropdown options

There is no methodology provided by the interface currently whi

[2018-03-21 14:38] jakelfield opened #4333 "CDN is missing icons from UI website."
"The @uifabric/icons packages can resolve over 1000 different icons, and will download from the 10+ font partitions, minimizing download overhead. We also include the most common icons in the first partition, optimizing for the basic scenarios. If there are commonly used icons missing in there, please file an issue so that we can evaluate adjusting the primary partition"

Why is the CDN missing so

[2018-03-21 14:50] mikewheaton commented on #4333
All of the icons you see there should be on the CDN. Are you getting an error, or the icon just isn't showing up? Here's a [CodePen demo of the Transition icon](https://codepen.io/mikewheaton/pen/GxWVMJ).

[2018-03-21 14:55] jakelfield commented on #4333
The icon "transition" was used but not registered. See http://aka.ms/fabric-icon-usage for more information.

Meanwhile, icons like Accept, PeopleRepeat, and others work fine.

I'm calling the icon via this in return method:
Calling icon via:
<Icon iconName='Transition' />

I declare the icon like so:
import { initializeIcons } from '@uifabric/icons';
initializeIcons();

[2018-03-21 14:59] jakelfield commented on #4333
Also, are you aware of how this web page loads via chrome vs edge:
![image](https://user-images.githubusercontent.com/27309532/37717390-7634664e-2cee-11e8-8ae1-fcf07e0975ad.png)

[2018-03-21 15:04] mikewheaton commented on #4333
Just to be sure, you're using `Transition` with an uppercase T, right? The icon names are case sensitive.

@lynamemi Do we have a bug for the issue with the icon grid in Chrome?

[2018-03-21 15:14] lynamemi commented on #4333
I got both Chrome and Edge to load the icon grid fully in reasonable time.

[2018-03-21 15:16] jakelfield commented on #4333
@mikewheaton
Yes, iconName='Transition'

[2018-03-21 15:21] #4332 closed

[2018-03-21 15:54] jakelfield commented on #4333
I made a mistake and didn't have the latest @uifabric/icons. After updating to 5.6.0, it started working. This should  have been the first thing that I checked.

[2018-03-21 15:54] #4333 closed

[2018-03-21 15:55] lynamemi commented on #4333
Great, glad it's working now!

[2018-03-21 16:44] #4323 closed

[2018-03-21 17:13] kevinkid commented on #4278
If there isn't a handler for error messages the * is also shown.

![](https://user-images.githubusercontent.com/9988671/37725433-01d44890-2d44-11e8-99d4-bca2639f3283.png)

[2018-03-21 17:29] kevinkid commented on #4278
If there isn't a handler for error messages the * is also shown.

![](https://user-images.githubusercontent.com/9988671/37726457-760d2e8c-2d46-11e8-8bf5-51ece0ad74ef.png)

[2018-03-21 19:30] brphelps commented on #4050
@aditima  -- I'm looking at usages of onRenderMissingItem, and from a flux consumer pattern this seems to be rather strange. This method is invoked during normal render, which I think surprises normal flux approaches to action dispatch (e.g. I don't want to be sending an action as part of a render loop).

Is there a corollary to this that doesn't require data modification / render loop action disp

[2018-03-21 21:16] jordandrako commented on #4315
@dzearing I'm taking over and working on this now.

[2018-03-21 22:00] #4321 closed

[2018-03-22 05:56] Kanupriya9898 opened #4338 "DetailsList not supporting high contrast for links inside it"
### Bug Report

- __Browser __: Edge

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) Blocking

#### Describe the issue:

For Office Fabric details list, if you go to high contrast mode, the links are not visible if the details list is in focus mode. The issue is not lett

[2018-03-22 09:58] AkshanshSrivastava03 opened #4339 "Dropdown prevents default behavior of Alt+Down when onKeyDown overridden"
### Bug Report

- __Package version(s)__: office-ui-fabric-react@5.55.1004

#### Describe the issue:

In drop down, one can pass onKeyDown as a prop to override the default key down functionality.
This has an issue. In the function, private _onDropdownKeyUp(ev: React.KeyboardEvent<HTMLDivElement>), we first send the props the event, and then check if(event.preventDefault) and if that is true we re

[2018-03-22 11:20] harshdamania opened #4340 "ms-Table Css not wokring in React SPFX solution"
In the below code when i preview i cant see the css applied ?

import * as React from 'react';
import styles from './Reactform.module.scss';
import { IReactformProps } from './IReactformProps';
//import { escape } from '@microsoft/sp-lodash-subset';
import { TextField } from 'office-ui-fabric-react/lib/TextField';
import { DefaultButton } from 'office-ui-fabric-react/lib/Button';
import { Dropdown

[2018-03-22 11:27] harshdamaniahd opened #4341 "how can i import table css in my react spfx solution"
this is my tsx file :
import * as React from 'react';
import styles from './Reactform.module.scss';
import { IReactformProps } from './IReactformProps';
//import { escape } from '@microsoft/sp-lodash-subset';
import { TextField } from 'office-ui-fabric-react/lib/TextField';
import { DefaultButton } from 'office-ui-fabric-react/lib/Button';
import { Dropdown } from 'office-ui-fabric-react/lib/Dropd

[2018-03-22 17:14] jordandrako commented on #4340
Duplicate of #4341

[2018-03-22 17:14] #4340 closed

[2018-03-22 17:19] michaelangotti commented on #4341
@manishgarg1 Can you look into this?

[2018-03-22 17:25] dzearing commented on #4329
@cschleiden this seems like `initializeIcons` is not being called correctly in this case, maybe?

Can you help?

[2018-03-22 17:25] michaelangotti commented on #4328
@pavan2920 Can you provide a repro for this please?

[2018-03-22 17:49] #4292 closed

[2018-03-22 17:56] michaelangotti commented on #4287
@JoshuaKGoldberg Has this been resolved? Can we close? Thanks!

[2018-03-22 17:58] oengusmacinog commented on #4287
@JoshuaKGoldberg for documentation we have a [Testing Page](https://github.com/OfficeDev/office-ui-fabric-react/wiki/Testing) in the wiki but it doesn't look like this is included yet.

[2018-03-22 20:00] aditima commented on #3729
Hi @carruthe - Closing this now. Please feel free to reopen if the above solution did not work for you.

[2018-03-22 20:00] #3729 closed

[2018-03-22 20:57] JoshuaKGoldberg commented on #4287
I'll send a PR to the testing page that'll mark this issue as fixed!

[2018-03-22 21:37] jordandrako commented on #4180
@MaronMariusz This is what the `onRenderRow` prop is used for. See the [DetailsList documentation](https://developer.microsoft.com/en-us/fabric#/components/detailslist) and scroll to the "Rendering custom item rows" section for an example on how to use `onRenderRow` prop to change the row props, such as className.

Closing for now, if this is still an issue, feel free to re-open.

[2018-03-22 21:37] #4180 closed

[2018-03-22 21:37] tpasi opened #4345 "checkmark icon in the CheckBox control should have user-select: none"
### Bug Report

- __Package version(s)__: 5.17.1

Requested priority: Low

#### Describe the issue:
I have changed the theme to use black as default background for the checkboxes when I click the checkbox multiple times I can see that there is a blue square around the checkmark icon
when I set 'user-select: none' then I don't have the blue square anymore

The icon should not be selectable inside t

[2018-03-22 23:05] dzearing commented on #4345
good call!

[2018-03-23 01:13] #3905 closed

[2018-03-23 04:17] AJIXuMuK opened #4348 "ERROR in [at-loader] ./src/components/FocusZone/FocusZone.tsx:132:9"
### Bug Report

- __Package version(s)__: 5.69.0
- __Browser and OS versions__: Windows 10
- __typescript version__: 2.7.2

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Low

Products/sites affected:

#### Describe the issue:

Forked the repo.
Trying to `npm start` for the first time.
Getting:
[code]

#### Ac

[2018-03-23 07:02] mkumbhare commented on #3373
Has anyone made any progress on this issue?

[2018-03-23 08:02] roger-green commented on #3378
I've taken the example code and inserted into a simple create-react-app app. However, I just can't get the sticky's to stick inside the scroll area (they stick to the top of the page instead). This certainly looks like a CSS issue, but I am stumped. If anyone has any ideas, this would be really appreciated! I've uploaded a simple test project here :

https://rockgobyx@bitbucket.org/rockgobyx/fabri

[2018-03-23 09:40] jonathanhotono commented on #2431
Any news on this?
This has been asked on:
https://github.com/SharePoint/sp-dev-docs/issues/504
https://github.com/SharePoint/sp-dev-docs/issues/396

I reckon this needs to be an official sharepoint react component that receives properties for options.

[2018-03-23 11:11] aappddeevv commented on #3378
You can make the header sticky if you ensure that you have “positioned”
parents, then the header will be in the right place. Check out some of them
other issues open on this topic as there are other problems.

On Fri, Mar 23, 2018 at 4:02 AM roger-green <notifications@github.com>
wrote:

[2018-03-23 14:33] UMAknow-cslecours commented on #3469
On the top of my head, I see these two options :

1. **Calling this.props.onClear in case KeyCodes.enter if length == 0**
Since clearing the textbox by pressing the X or by clearing the text seems like they should behave the same.

2. **Falling back to user defined onKeyPress instead of onSearch if length == 0.**
Currently it's not possible to pass the onKeyPress prop to override the enter behavio

[2018-03-23 14:34] cslecours commented on #3469
On the top of my head, I see these two options :

1. **Calling this.props.onClear in case KeyCodes.enter if length == 0**
Since clearing the textbox by pressing the X or by clearing the text seems like they should behave the same.

2. **Falling back to user defined onKeyPress instead of onSearch if length == 0.**
Currently it's not possible to pass the onKeyPress prop to override the enter behavio

[2018-03-23 17:32] oengusmacinog opened #4349 "Data attributes on Pivot Item"
We wanted to start the conversation about how Fabric components were going to handle placing the data-ktp-id attribute. We aren’t currently working on this part because it requires changes in the office-ui-fabric-react package, but we’re seeing things just based on our initial work.

The example we ran into mocking the attribute in experiments was using this code:

[code]

In this sample, we wante

[2018-03-25 00:15] vertonghenb opened #4357 "Porting to Blazor"
I know it's still early but I'm curious... Are there any plans to port this project to Blazor? If not we could see if people would be interested in the idea. And if so we could we start a separate repo to create the first UI lib in Blazor.

https://github.com/aspnet/Blazor/issues/334

[2018-03-25 19:04] MaronMariusz commented on #4180
Hi, I am afraid that this not resolve the issue.
I would like to use DetailsList or DetailRow component because their styles are OK for me and fit to my page but I can't totally drop selection after clicking on the row. That's the issue.

For what `selectionMode` and `selection` props are ? For me it means if I drop the selectionMode then I would expect that after clicking on details row there is

[2018-03-26 08:39] Kanupriya9898 commented on #4338
@michaelangotti Let me know if this will be fixed by the end of this week or not. Else we will have to look for some fix from our side.

[2018-03-26 09:07] AkshanshSrivastava03 opened #4360 "[Dropdown][Accessibility] Narrator says "editable combo box" for static dropdowns"
### Bug Report

- __Package version(s)__: office-ui-fabric-react@5.55.1004
- __Browser and OS versions__: Microsoft Edge

#### Describe the issue:
Narrator and Inspect tool show that dropdown's isReadOnly value is set to false, due to which narrator says editable combo box, although the dropdown component is not editable.

#### Actual behavior:
Editable combo box is a wrong role/value for narrator

[2018-03-26 09:56] aslanovsergey commented on #4281
I mean React component. This is a SharePoint framework web part solution. I took this example https://github.com/OfficeDev/office-ui-fabric-react/tree/master/packages/office-ui-fabric-react/src/components/pickers/TagPicker copied and customized it slightly.

[2018-03-26 10:17] Basek commented on #4282
@oengusmacinog, ComboBox don't provide any property to change it appearance and I can't make it look like Persona. And I think it would be bad user experience if behavior for chosen one and many person will be different.

[2018-03-26 13:10] lafe commented on #3088
We have the same issue in IE11 as well. Unfortunately, the page is hosted in SharePoint 2013 (long story...) and SharePoint enforces "Document Mode" 10 - if I manually set the Document Mode to "Edge", it works. However, as SharePoint needs "Document Mode" 10, this is not a feasible work around.

[2018-03-26 13:31] daniel-white opened #4361 "Missing release notes"
It appears that the release notes aren't being populated in Github. I really depended on those as a nice change log.

[2018-03-26 13:54] daniel-white opened #4362 "Unintuitive order for MessageBar and dismiss buttton"
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority:  Normal

Products/sites affected: Normal

#### Describe the issue:

The dismiss button for single line `MessageBar`s that have actions is in an odd/unintuitive place. On Windows and Office, the dismiss button is on the outer edge, to help with Fitt's Law.

#### A

[2018-03-26 15:09] betrue-final-final commented on #4362
Can you provide an actual screenshot?

[2018-03-26 15:11] akashperfect opened #4363 "[Tooltip Host] Not showing ellipsis in overflowing text"
### Bug Report

- __Package version(s)__: latest (5.70.0)
- __Browser and OS versions__: Chrome (any), Windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No, Reverting #3594 might help.

Requested priority: Blocking

Products/sites affected: VSTS

#### Describe the issue:

In case if overflowMode is not specified the tooltip

[2018-03-26 15:34] daniel-white commented on #4362
@betrue-final-final updated.

[2018-03-26 16:07] betrue-final-final commented on #4362
Ah, I see. That's definitely a bug, as you draw it how we designed it. I think that variant hadn't been included or tested in samples and needs to be corrected and added to the page. Thanks!

[2018-03-26 16:07] betrue-final-final commented on #4362
![image](https://user-images.githubusercontent.com/20363037/37918157-0dfa7434-30d5-11e8-90f3-0f3d221039d8.png)

[2018-03-26 16:42] #4331 closed

[2018-03-26 16:43] aditima commented on #4338
@Kanupriya9898 - I am planning to work on this this week.

[2018-03-26 18:17] #4287 closed

[2018-03-26 22:35] #4362 closed

[2018-03-26 23:44] lynamemi commented on #4361
@dzearing it looks like this step is disabled in the release build definition - was that intentional?

[2018-03-26 23:48] lynamemi commented on #4348
It looks like this PR fixed this issue: https://github.com/OfficeDev/office-ui-fabric-react/pull/4330

[2018-03-26 23:48] #4348 closed

[2018-03-27 00:33] #3895 closed

[2018-03-27 02:19] kanufy commented on #4361
The release note is empty, but commits contains change logs. If this is intended, it will be hard to read the release information in the future.

![image](https://user-images.githubusercontent.com/8322617/37942615-07fed450-31af-11e8-95c9-a23ff3b05d20.png)

[2018-03-27 04:14] #4063 closed

[2018-03-27 04:16] #4181 closed

[2018-03-27 04:59] dzearing commented on #4361
Sorry all, they are temporarily disabled while our build service (which the release notes are sent from) is being update to support node 8. I'll manually run the update script in the mean time.

[2018-03-27 09:17] serkan-inci opened #4371 "[Dialog] Content does not grow fully to take up all the space provided by parent"
### Bug Report

- __Package version(s)__: 5.66.0
- __Browser and OS versions__: any browser/os

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low)  Normal

Products/sites affected: (if applicable) Visual Studio Team Services

#### Describe the issue:
Content does not grow f

[2018-03-27 09:25] lovakumar commented on #3835
Here are the details I have got from our bug basher:

We are able to access all the content in the table using Caps+arrow keys and narrator announces the column headers properly. But Narrator announces incorrect row number. Ex, Narrator announces as Row 2 of 36 for all the table rows.
Entire column details can be obtained using Caps+F7 key and Caps+F4 can be used to read the next column cell, the

[2018-03-27 09:43] niadak opened #4372 "DetailsList is setting empty aria-describedby attributes on the column resizing buttons in the header row."
Details list is unnecessarily setting empty aria-describedby attributes on the column resize buttons in the header row.

![aria-attributes](https://user-images.githubusercontent.com/11937515/37959657-3f9e0800-31d1-11e8-8126-9cc6a8ea6aff.png)

[2018-03-27 09:51] niadak opened #4373 "Dropdown contents not visible in high contrast (white) mode when dropdown is inside the details list"
Dropdown contents not visible in high contrast (white) mode when dropdown is inside the details list

![highcontrastissue](https://user-images.githubusercontent.com/11937515/37960153-7e753f16-31d2-11e8-8722-c0133d6992f1.png)

[2018-03-27 10:34] makafsal commented on #2431
+1

[2018-03-27 13:53] warmsea opened #4375 "`npm start`: Can't resolve 'awesome-typescript-loader'"
### Bug Report

- __Package version(s)__: latest master (v5.71.0)
- __Browser and OS versions__: Windows and Mac

#### Priorities and help requested (not applicable if asking question):

Requested priority: Blocking

#### Describe the issue:

Pull the latest master (v5.71.0), run `npm install` and `npm start`, it shows the following error message:

[code]

[2018-03-27 15:09] dzearing commented on #4375
I have checked in the fix to npm-start. We moved to `ts-loader`, but there was still a remaining reference to `awesome-typescript-loader`.

[2018-03-27 15:10] #4375 closed

[2018-03-27 15:36] #4361 closed

[2018-03-27 16:01] #3969 closed

[2018-03-27 18:24] #4345 closed

[2018-03-27 20:21] dzearing commented on #4298
I am closing, as this is not reproing on current Edge builds.

[2018-03-27 20:21] #4298 closed

[2018-03-27 23:03] caradong opened #4381 "DetailsList: Accessibility - While navigating in the Table, focused row is getting selected."
This is an accessibility bug.

### Bug Report
- __Package version(s)__: 5.70.0
- __Browser and OS versions__: Chrome, Edge and other browsers

#### Describe the issue:
Go to a table using DetailsList component,
Start navigating using Up/Down arrow key. The example on the official website contains the issues. https://developer.microsoft.com/en-us/fabric#/components/detailslist

#### Actual behavior

[2018-03-28 07:23] aslanovsergey commented on #4281
Could you say please where I can find this mixins

`@include focus-border();`

[code]

[2018-03-28 10:52] jonathanhotono commented on #1788
@micahgodbolt when v6.0 will be a stable release? Thanks

[2018-03-28 11:03] Basek opened #4383 "[ComboBox] Issue with person picker implementation"
According to [issue 4282](https://github.com/OfficeDev/office-ui-fabric-react/issues/4282) I'm trying to implement person picker using ComboBox but it doesn't provide any property to change it appearance and I can't make it look like Persona. And I think it would be bad user experience if behavior for chosen one and many person (PeoplePicker) will be different.

[2018-03-28 13:31] wobba commented on #1788
@jonathanhotono v6 has been pulled, the latest is now v5.7. So not sure what will happen with this particular feature.

[2018-03-28 15:21] dzearing commented on #4372
@ThomasMichon Did you add the tooltip support on these? I'm not sure.

[2018-03-28 16:17] micail opened #4385 "How to use react fabric scss in the component ?"
I want to use List fabric component in my app. I included ListGhostingExample in my app.

[code]

I am getting error:

Failed to compile.

How to use react fabric scss in the component, if not like that ?

[2018-03-28 16:39] sebbe33 opened #4386 "Dropdown cannot be invoked as per instructions from Voice Over"
### Bug Report

- __Package version(s)__: 5.70.0
- __Browser and OS versions__: Safari Version 11.0.3 (12604.5.6.1.1), MacOS Sierra 10.12.6

#### Priorities and help requested (not applicable if asking question):
Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: N/A

#### Describe the issue:
When using Voice Over on MacOS and applying focus to the Drop

[2018-03-28 16:42] dzearing opened #4387 "Disabled components should still receive focus"
Disabled components should be focusable so that blind users can tab through things which as disabled and know they are disabled.

All components which render a disabled state would be affected.

List of components which can be disabled:

- [X] Buttons (using `allowDisabledFocus`)
- [ ] Checkbox
- [ ] ChoiceGroup
- [X] ComboBox
- [ ] ContextualMenu items
- [ ] DatePicker
- [ ] Dropdown
- [ ] Picker

[2018-03-28 17:31] OverkillTV opened #4388 "[Question] Retrieve more info in the onSelectDate"
Hi All,

I have a DatePicker control that is inside a dynamic table where users can freely add/remove a row.

I want to keep track of the value of the DatePicker control on each row but I couldn't find any ways to put extra attribute on the DatePicker like `inputProps: { "data-row-id" : row.ID }`.

Also when the event `onSelectDate` is hit, it only contains the date value and nothing more, no even

[2018-03-28 18:45] ychernetskiy-dfs opened #4390 "Can't override Pivot and PivotItem styles with styled-components"
#### Describe the issue:

This is actually a repost of https://github.com/OfficeDev/office-ui-fabric-core/issues/997

It seems that I have the same issue as described there.

I will copy the text of the original issue description here:

Apparently there is no a direct way to override the styles of these components. There is no a prop for styling and also the className prop is completely ignored. I

[2018-03-28 22:34] dzearing commented on #4357
For now, no plans.

There is a lot we can improve in Fabric. Better customizability, documentation, testing, and reliability; not to mention a ton more components to solve more challenges! We also want to bring down bundle sizes, and get the issues down to a reasonable number. All of these work items are pretty chunky, and if the core contributors start spending time on porting to a totally differ

[2018-03-29 03:53] YusongLiu opened #4396 "When I close the Panel, the ms-layer and ms-panel elements are not removed from <body>"
### Bug Report

- __Package version(s)__: 5.69.0
- __Browser and OS versions__: Chrome

#### Actual behavior:

The ms-layer and ms-panel elements are not removed from `<body>`

#### Expected behavior:

The whole ms-layer element should be removed from `<body>`

[2018-03-29 08:26] pavan2920 opened #4397 "Date Picker position issue."
Hi Guys,

We are using Date picker control in our application.

There is an request where we need to Freeze a Column in a table(Title in below image). We are able to do it using Position:sticky, But the Date Picker control is not stacking behind the fixed column(Behind title column).

![image](https://user-images.githubusercontent.com/10346150/38078069-bd4877e4-3358-11e8-8ec9-b6b0f011960b.png)

Ca

[2018-03-29 11:12] ipip2005 opened #4398 "Panel not showing and blocking user interactions in IOS under "-webkit-overflow-scrolling: touch""
### Bug Report

- __Package version(s)__: Latest
- __Browser and OS versions__: Safari, IOS, iPad or iPhone.

#### Priorities and help requested (not applicable if asking question):

Requested priority: Blocking

Products/sites affected: SharePoint mobile page, SharePoint mobile native apps.

#### Describe the issue:

1. Add this CSS style to body element: “-webkit-overflow-scrolling: touch”.
2. O

[2018-03-29 16:27] daweffe opened #4401 "Accessibility - Persona should allow for defining the aria role"
### Bug Report

- __Package version(s)__: 5.57
- __Browser and OS versions__: all

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Planner

#### Describe the issue:

We have an accessibility bug filed against us because the control type is announced by screen readers as "group"

[2018-03-29 17:12] michaelangotti commented on #4401
@daweffe Since you are more familiar with this scenario, would you be willing to submit a PR? If not, can you provide a code pen repro explaining what you are asking for?
Thanks!

[2018-03-29 17:17] michaelangotti commented on #4397
@pavan2920 Can you provide repro? Thanks!

[2018-03-29 17:18] michaelangotti commented on #4396
@ThomasMichon Is this expected? cc:@dzearing

[2018-03-29 17:25] michaelangotti commented on #4388
@lorejoh12 Can you take a look at this one and advise?

[2018-03-29 17:28] michaelangotti commented on #4387
@betrue-final-final Tagging you since this is Accessibility.

[2018-03-29 17:36] michaelangotti commented on #4385
@micail This is a webpack sass  config. https://github.com/webpack-contrib/sass-loader
This should help!

[2018-03-29 17:36] #4385 closed

[2018-03-29 17:38] dzearing commented on #4387
This just needs a dev to make it work, I believe.

@betrue-final-final Right? We're in agreement here?

I think there will be some edge cases. For example, if you have a dropdown with disabled options, should those be focusable?

What about a pivot tab or disabled ChoiceGroup option.

[2018-03-29 17:39] michaelangotti commented on #4383
@oengusmacinog Can you advise?

[2018-03-29 17:41] michaelangotti commented on #4381
@caradong This is by design. If you hold down the control key while navigating up or down, it will change the focus.

[2018-03-29 17:41] #4381 closed

[2018-03-29 17:54] michaelangotti commented on #4363
@lambertwang Need your input on this issue. Either need to revert or come up with another option.

[2018-03-29 17:59] dzearing commented on #4360
https://www.w3.org/TR/2017/NOTE-wai-aria-practices-1.1-20171214/#Listbox

[2018-03-29 18:20] cnshenj opened #4402 "SearchBox.types.d.ts error TS2307: Cannot find module '../Button'"
### Bug Report

- __Package version(s)__: 5.69.0

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) No

Requested priority: (Blocking, High, Normal, Low) Normal

Products/sites affected: (if applicable)

#### Describe the issue:

When module system is "amd" in tsconfig.json, compiling a project that imports SearchBox will gene

[2018-03-29 18:53] #4338 closed

[2018-03-29 21:59] caradong opened #4406 "DestailsList: accessibility, up key does not move to the previous item when navigating in the table"
This is an accessibility bug.
### Bug Report

- __Package version(s)__:  5.70.0
- __Browser and OS versions__:  Chrome, Edge and other browsers

#### Describe the issue:

Go to a table using DetailsList component,
Start navigating using Up/Down arrow key.  The Down arrow moves to the next item in the table, but the up arrow key does not moves to the previous item.

The example on the official webs

[2018-03-29 23:25] lambertwang commented on #4363
I suppose if my changes were breaking, then we can revert them and accept that tooltip positioning will not work for IE11 since tooltip positioning not working isn't a breaking bug.

[2018-03-30 04:34] jayeshvg commented on #3726
Sounds like a required feature. Usually in multi select we would need Select "All" option which can work smartly depending on the selection. Any considerations?

[2018-03-30 05:10] KevinTCoughlin commented on #4406
Hmm I can't seem to repro this issue w/ `5.74.0` on https://developer.microsoft.com/en-us/fabric#/components/detailslist. I tried Edge, Chrome, & FF. Is this still happening for you @caradong?

My attempted repro steps were to focus an item in the table and then navigate items using Up/Down.

[2018-03-30 07:46] kevinkid opened #4412 "PageHeaderLinks scroll disabled"
### Bug Report

- __Package version(s)__: v5.66.0
- __Browser and OS versions__: Firefox/Chrome

#### Priorities and help requested:

Are you willing to submit a PR to fix? (Yes, No)

Yes , but i wish to on-board the office fabric team.

Requested priority: Normal (Blocking, High, Normal, Low)

#### Products/sites affected:

Office UI Fabric documentation site for react.

#### Describe the issue:

[2018-03-30 16:37] daweffe opened #4415 "Accessibility -DatePicker - focus should stay inside callout until date is selected or picker is dismissed"
### Bug Report

- __Package version(s)__: 5.57
- __Browser and OS versions__: all

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Planner

#### Describe the issue:

When focus is inside the date picker component, you are able to tab outside of the datepicker. Focus needs to sta

[2018-03-30 17:50] daweffe commented on #4360
Yes, this needs to be a listbox. There is a bug opened on Planner by the accessibility team.

[2018-03-30 19:28] newtonsheikh opened #4417 "Feature Request: Custom Chevron icon for Nav"
### feature request: Customize the chevron icons in < Nav />

- __Package version(s)__: 5.75.0

Original Stackoverflow [StackOverflow](https://stackoverflow.com/questions/49542450/override-officeui-nav-chevron-icon) question

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix?  No

Requested priority: Low

Products/sites affected: (if app

[2018-03-30 23:02] yaananth opened #4421 "MAS4.3.1 Highcontrast white mode: Dropdown "button" isn't visible"
Goto https://developer.microsoft.com/en-us/fabric#/components/dropdown

**High contrast white:**

_Actual:_
![image](https://user-images.githubusercontent.com/12280011/38156510-6ca7419a-344c-11e8-8dc4-f13c0fc25fe4.png)

_Expected:_
The dropdown button should be of - white color with violet background.

**High contrast black (no issue here):**

_Actual and Expected:_
![image](https://user-images.gi

[2018-03-31 00:16] #4360 closed

[2018-03-31 15:29] jekaspekas commented on #3731
Solved!
office-ui-fabric-react version: 5.64.4
[code]

[2018-03-31 19:25] dzearing commented on #4402
There is not enough information here. Do you have a project to share? Otherwise this is a needle in a haystack.

[2018-04-01 05:19] joechung-msft opened #4425 "Distrusted SSL certificate for icons hosted by SharePoint Online CDN"
### Bug Report

- __Package version(s)__: 5.63.0
- __Browser and OS versions__: Chrome, Windows 10

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
No

Requested priority: (Blocking, High, Normal, Low)
Normal (High when Chrome M70 lands)

Products/sites affected: (if applicable)

#### Describe the issue:

When using icons fr

[2018-04-02 06:04] quangleminhvn opened #4428 "The cursor is not displaying properly in the TextField in the Panel"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: Iphone 5 (iOS 11.2.2)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix: No

Requested priority: Normal

#### Describe the issue:

- Open https://apple-cobbler-31745.herokuapp.com/ on the browser.
- Try to focus on start to end text field in the for

[2018-04-02 09:32] lijunle opened #4429 "Make the Link Button selectable."
When render a [`Link`](https://developer.microsoft.com/en-us/fabric#/components/link) component without `href` prop, we will render it as a `<button>` tag.

However, that is a down side of `<button>` tag, the text inside the `<button>` tag cannot be selected. There is a CSS [`user-select:text`](https://css-tricks.com/almanac/properties/u/user-select/) to solve this problem.

Here is how it looks n

[2018-04-02 10:06] keerthinath-ganjam opened #4430 "Issue in Detailed List - State not reflecting on UI immedietly"
### Bug Report

Requested priority: Blocking

#### Describe the issue:

When a state is updated from the detailed view child component, the row gets updated only when we click out side the row. In the below Example, i have a toggle button Constant / Variable in each row, based on the user selection the second column gets rendered with text box/drop down. If i see the state by logging using console

[2018-04-02 11:23] jakob101 commented on #4214
+1! :)

[2018-04-02 13:20] mdmdakbar opened #4432 "Dropdown not annoucing value of dropdown option on up or down arrow key press when dropdown is in collapsed state"
Repro step:
 Open https://developer.microsoft.com/en-us/fabric#/components/dropdown in Edge browser
Select Basic uncontrolled example
Let the dropdown be in collapsed mode
Press up or down arrow key.
Narrator announces up arrow key or down arrow key only and not the options which are also changed with these key press.

Dropdown in expanded mode works fine

Product affected: VSTS

[2018-04-02 18:22] Jahnp commented on #4428
@quangleminhvn can you please provide more detail/repro steps on the issue? We tested the page you sent on an iPhone 7 Plus with the same OS version and weren't able to see any errant behavior.

[2018-04-02 18:30] michaelangotti commented on #4421
Bug is already referenced in #4373.  Will close this duplicate.

[2018-04-02 18:30] #4421 closed

[2018-04-02 18:40] Jahnp commented on #4415
Thanks for reporting this. @lorejoh12, @sathi23 this affects DatePicker--can you or someone from your team take a look at this?

[2018-04-02 18:45] Jahnp commented on #4412
@kevinkid can you confirm if this is still reproing for you? There was an issue with the site a few days ago that may have impacted this behavior, but no one in triage was able to repro. I'm going to go ahead and close this for now, but let us know if you're still seeing the issue. Thanks!

[2018-04-02 18:45] #4412 closed

[2018-04-02 18:50] michaelangotti commented on #4406
@KevinTCoughlin We cannot repro this either. If you can provide a codepen that replicates this, we can reopen. Here's a codepen to start with: https://codepen.io/dzearing/pen/XRvXoL

[2018-04-02 18:50] #4406 closed

[2018-04-02 18:51] michaelangotti commented on #4402
@cnshenj Closing this until more information is provided.

[2018-04-02 18:51] #4402 closed

[2018-04-02 19:23] yaananth commented on #3697
FYI, this has to be a user agent bug. Browsers are responsible for setting them and narrator (AT) just reads them. There shouldn't be a need to set them programatically.

http://www.w3.org/TR/wai-aria-1.1/#dfn-user-agent
https://www.w3.org/WAI/PF/aria-implementation/

[2018-04-02 19:26] daweffe commented on #4415
I have also noticed that trying to place content inside a FocusTrapZone does not work right when that content contains a FocusZone. You may have to fix that issue to fix this, and I would like that fix as well.

From: Peter Jahn <notifications@github.com>
Sent: Monday, April 2, 2018 11:40 AM
To: OfficeDev/office-ui-fabric-react <office-ui-fabric-react@noreply.github.com>
Cc: Darin Weffenstette <da

[2018-04-02 19:29] yaananth opened #4435 "[Dropdown][Firefox][HighContrast] Checkbox and list items don't follow high contrast standards"
https://developer.microsoft.com/en-us/fabric#/components/dropdown

**Expected Behavior:**
Check boxes and list items should follow the HC Standards.
It should be
In HCB:
Text is in Black color with blue background.
In HCW:
Text is in White color with violet background.

Edge HCB (Valid):
![image](https://user-images.githubusercontent.com/12280011/38212310-44cd8864-368b-11e8-859c-33bdda5e53d5.png)

[2018-04-02 22:19] caradong commented on #4406
I tried again on the official website and looks like this is fine now. Thank you guys for looking into this.

[2018-04-02 22:24] daweffe opened #4437 "[Accessibility][ContextualMenu] We need the ability to choose between checkbox and radiobutton control types"
### Bug Report

- __Package version(s)__: 5.57.0
- __Browser and OS versions__: all

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: Planner

#### Describe the issue:

Planner uses the checked property on ContextualMenuItems in a couple of places. For one, they are true check bo

[2018-04-02 22:41] dzearing commented on #3730
Today, when we initialize the font faces, we do so in file scope, when we initialize the default theme. This makes it easy for consumers; you just import things, and because it gets pulled into the graph, it's done for you on script load.

But with this in mind, if we initialize the wrong URL because you don't configure sooner, then we have a race condition. The global config was a way to ensure t

[2018-04-02 23:04] mattmazzola commented on #3423
Is there any update here?
Does it need clearer reproduction in order for people to take action?
It seems the issue was confirmed in isolation based on the code pen, but I don't see any related PR's or labels/assignments for it to be addressed.

This is one of those issues that may seems lower priority because it's rare (requires multiple modals/panes/panels visible rendered at same time); however,

[2018-04-03 04:42] quangleminhvn commented on #4428
Hi @Jahnp please try with iPhone 5 or 6 - after focus on the field at bellow - and then try to scroll the content - the cursor follows the scroll and not stick in the text field.

[2018-04-03 04:45] qianghuang94 opened #4439 "Long string is not truncated caused by .value cant access the element."
### Bug Report

- __Package version(s)__: 5.77.0

#### Priorities and help requested (not applicable if asking question):

Requested priority: (High)

Products/sites affected: (ODSP)

#### Describe the issue:
When using document card with long string, the string should be truncated and at most with two lines.
[code]

#### Actual behavior:

The third line displayed and not fully displayed.
![image]

[2018-04-03 04:56] qianghuang94 commented on #4439
Check this out https://developer.microsoft.com/en-us/fabric#/components/documentcard
The sample even are not truncated correctly.

[2018-04-03 05:01] quangleminhvn commented on #4305
yeah - this codepen link just a code written in TSX of component Panel ( inside is an input) - please check the code

[2018-04-03 08:45] newtonsheikh commented on #4428
i checked this on my iPhone 5, looks like there is a rubber band like effect on the cursor. the cursor will follow the scroll but when you let go the cursor will go back to the text field. The effect is not that butter smooth may be that can be improved.

[2018-04-03 08:48] StfBauer opened #4440 "Improve text field control to show different states of the input below the text field - Right now only Error is supported"
#### Describe the issue:
With the TextField component, you have the possibility to show an error message below the text field. Sometimes it might be useful to have a success message coupled to the text field too. This is currently not possible.

#### Actual behavior:
Setting the error message shows a red error message but I'd like to be able to show different messages based on the data put in the

[2018-04-03 10:26] Markionium commented on #4439
The if check was added so that we handle the case where the reference is not set.

Returning `false` here seems incorrect. But we can not access the scrollHeight of an element when we do not have a reference to this element yet.

[2018-04-03 10:32] qianghuang94 commented on #4439
@Markionium Yep, the key is we should check the `this._titleElement` not the `this._titleElement.value`

[2018-04-03 10:34] Markionium commented on #4439
Well the `.value` would reference the dom element in this case (since it's a Reference object). So i think the .value is actually correct, but there is something else that is wrong. :)

[code]

[2018-04-03 11:08] pavan2920 opened #4442 "How to change the Font size of Breadcrumb?"
Hi Guys,

I am using Breadcrumb(https://developer.microsoft.com/en-us/fabric#/components/breadcrumb)

Here i want to control(reduce) the font size, how can i do it? by default its 21px.

![image](https://user-images.githubusercontent.com/10346150/38245778-20c06b9e-375d-11e8-85c2-84dacaaca3f8.png)

And default styles as below

![image](https://user-images.githubusercontent.com/10346150/38245821-453

[2018-04-03 11:57] mahesh087 commented on #4442
Hey,

Try using custom render item method.

![breadcrumb](https://user-images.githubusercontent.com/38038844/38247828-2cbf12e0-3764-11e8-8820-b3c1da37e48a.JPG)

Cheers!

[2018-04-03 15:21] pavan2920 commented on #4442
Hey thanks manhes, works. :)

[2018-04-03 15:21] #4442 closed

[2018-04-03 15:47] #4371 closed

[2018-04-03 16:04] #1145 closed

[2018-04-03 16:34] #4439 closed

[2018-04-03 17:26] cnshenj commented on #4402
Here is a project to repro the issue: https://github.com/cnshenj/playground

[2018-04-03 20:00] oengusmacinog commented on #4270
@saurabhsuniljain I am not experiencing the issue you describe on the latest version of fabric in Chrome on Windows.  Can you tell me the OS and browser you are experiencing this on along with the version number of Fabric React?

[2018-04-04 00:41] stephenzsy opened #4450 "[Accessibility] ComboBox has invalid aria-* attributes"
### Bug Report

- __Package version(s)__: 5.78
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

* role="option" widget has invalid attribute aria-pressed

[2018-04-04 02:25] Drakota opened #4451 "Inline TextField and DefaultButton"
#### Describe the issue:
Hi, I'd like to display a TextField with a DefaultButton on the right side. I'd like to know what would be the best "Fabric" way to do this. In Bootstrap you have InputGroups, but I can't find the same for Fabric. Why is that? I've looked in the docs and I can't seem to find what I'm looking for.

[2018-04-04 12:37] petercutting commented on #4278
yep, I am also getting 2 required asterisks on date field. 1 after the label and 1 after the field. Would prefer only 1, after label for consistency

[2018-04-04 14:26] sidroopdaska opened #4453 "NavLink and Link component always provide tooltips and aria labels even when explicitly asked not to"
### Bug Report

- __Package version(s)__: 5.78.0
- __Browser and OS versions__: All browsers

Are you willing to submit a PR to fix? **Yes**

Requested priority: **High** as its a poor A11y experience

Products/sites affected: It's still being developed internally at Microsoft

#### Describe the issue:
A **tooltip** and **aria-label** are provided for both NavLink and Link components even when the

[2018-04-04 14:39] manishgarg1 commented on #4425
After some internal investigation, it turns out that Akamai plans to roll out new certs before Chrome M70 is released.

[2018-04-04 14:52] gaurav42 opened #4454 "Readonly rating control with null rating shows one star selected instead of no selected star, on re-rendering"
Bug Report
Package version(s): 5.78
Browser and OS versions: (fill this out if relevant)
Priorities and help requested (not applicable if asking question):
Are you willing to submit a PR to fix? No

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

Describe the issue:
When rating control is rendered initially with null rating, it doesn't show any start se

[2018-04-04 17:33] oengusmacinog commented on #4305
@quangleminhvn I am having trouble consistently reproducing.  Do you have a working codepen? I am having trouble getting Grammarly to even apply to this one [https://codepen.io/oengusmacinog/pen/BrOKjz](https://codepen.io/oengusmacinog/pen/BrOKjz) even though the same code works on my local build.

[2018-04-04 17:34] caradong commented on #4381
Thank you @michaelangotti for your response. We received this bug from a MS internal accessibility testing team. I will circle back your comment.

[2018-04-04 18:11] btarasevich opened #4455 "Feature Request: Add ComboBox option tooltip and ellipsis."
We are using a ComboBox component which is rendered within limited horizontal space (limited width).
Some of its options texts don't fit within the limited width, so when list of options is expanded - those option texts are truncated.
Unlike Dropdown component, ComboBox doesn't render tooltips (HTML title attribute) for its options.
Ellipsis is another thing which would be good to have for truncat

[2018-04-04 18:17] #4425 closed

[2018-04-04 18:38] jdrush89 opened #4457 "Context Menu Items are misaligned due to check marks"
### Bug Report

- __Package version(s)__: 5.66
- __Browser and OS versions__: Chrome

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No) Yes

Requested priority: (Blocking, High, Normal, Low)  Normal

#### Describe the issue:

Header Items in context menus are misaligned if any item in the menu has a checkmark while other items

[2018-04-04 18:43] oengusmacinog commented on #4451
@Drakota Fabric React has some ready-made components for specific situations like date-picking, etc that you can see here: https://developer.microsoft.com/en-us/fabric#/components/textfield#ImplementationExamples.  There is not currently any open-ended features exactly like Bootstraps input group, but you can wrap the DefaultButton and Textfield with a wrapper and style it with any custom CSS you

[2018-04-04 18:45] michaelangotti commented on #4457
@joschect  We should make sure there is a visual regression test for this if there isn't already.

[2018-04-04 18:50] michaelangotti commented on #4435
@yaananth We have concluded that we cannot reasonably support Firefox HighContrast. We do have PR's open to address this Edge and IE. Will close this for now, but will revisit in the future.

[2018-04-04 18:50] #4435 closed

[2018-04-04 18:51] michaelangotti commented on #3570
@ankitk94  We have concluded that we cannot reasonably support Firefox HighContrast. We do have PR's open to address this Edge and IE. Will close this for now, but will revisit in the future.

[2018-04-04 18:51] #3570 closed

[2018-04-04 18:55] michaelangotti commented on #3017
@mikewheaton What is the status of this one?

[2018-04-04 18:56] michaelangotti commented on #3016
@mikewheaton What is the status with this one?

[2018-04-04 18:57] michaelangotti commented on #3218
@Jahnp Are we planning on doing work or can we close this issue?

[2018-04-04 18:59] satbai opened #4459 "DetailsList drag and drop is not keyboard accessible"
### Bug Report

- __Package version(s)__: latest
- __Browser and OS versions__: all

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

#### Describe the issue:

DetailsList dragDropEvents props does not make dragging accessible by keyboard. I believe the common key combination to drag and drop would be holding Ctrl key down and usin

[2018-04-04 19:38] mikewheaton commented on #3017
Looks like the [localization page](https://developer.microsoft.com/en-us/fabric#/styles/localization) has not yet been updated. I'm seeing some other issues there where icon class names overlap.

[2018-04-04 19:38] mikewheaton commented on #3016
Doesn't look like it's been documented. When it is, this is the page it should go on: https://developer.microsoft.com/en-us/fabric#/styles/layout

[2018-04-04 20:13] Jahnp commented on #3218
Yes, we should definitely keep this open. We're actively doing work on this now and plan to have something to share at or before SPCNA in May.

[2018-04-04 20:51] #3879 closed

[2018-04-04 20:53] jordandrako commented on #3903
@dzearing This is still an issue. I'm hesitant to push through any more mergeStyles conversions on high traffic components until this is resolved.

[2018-04-04 21:16] #3898 closed

[2018-04-04 22:01] ianw89 opened #4464 "DetailsList column resizing doesn't work correctly when there are groups"
### Bug Report

- __Package version(s)__: 5.66.1000
- __Browser and OS versions__: Was in Chrome 65.0.3325.181 on Win 10, but I don't think it matters.

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? **Possibly**

Requested priority: (Blocking, High, **Normal**, Low)

Products/sites affected: VSTS

#### Describe the issue:

For Detai

[2018-04-04 22:32] lynamemi commented on #4300
Talked to the calendar team, and they will plan to get to this May / June.

[2018-04-05 00:09] oengusmacinog commented on #4454
@gaurav42 you will notice in the documentation that the minimum rating ( 'min' prop on Rating ) is actually set to 1, so your 0 would simply be compared to that and be reset to the minimum, 1.  It only printed out no stars with undefined because it simply didn't know what to do.

Two things to fix this. 1) you need to set the min prop to 0 like this:
[code]
I forked your codepen and you can see th

[2018-04-05 01:26] KevinTCoughlin commented on #4430
I could be wrong, but in debugging this it seems like the `onRenderItemColumn` callbacks execute before the inner click event is handled by a `<Toggle/>` and that inner click modifies state. So the render of the column is always of the previous state if inner state changed. Haven't reached a fix yet. Trying to see if there's a working example of this behavior elsewhere.

[2018-04-05 02:52] angallison commented on #4437
@daweffe - Will you please share screens that show the two menus?

[2018-04-05 03:38] betrue-final-final commented on #4437
@angallison,
The menus look the same. Its the ARIA role that is different.

[2018-04-05 04:39] quangleminhvn commented on #4305
@michaelangotti @oengusmacinog
Sorry guys - I've just created an app.
Please check this out: https://grammarly-bug.herokuapp.com/
I think Codepen doesn't work since the output is an iframe

[2018-04-05 05:02] quangleminhvn commented on #4428
Hi guys -  please check it
![cursor-bug](https://user-images.githubusercontent.com/16194968/38347983-26190d4a-38c9-11e8-8a89-32c19033709a.gif)
Thanks!

[2018-04-05 05:16] Jahnp commented on #4428
Oh man--that's nasty. Thanks for sharing the video. Does it still allow text input as you would expect?

It looks more like a browser/rendering issue than something that'd be easily solvable within the control, but we'll discuss/investigate what may be causing this.

@michaelangotti --it'd be good for us to discuss this at the next triage.

[2018-04-05 06:25] #4429 closed

[2018-04-05 06:26] lijunle opened #4471 "Provide official codepen playground."
**THIS IS NOT A TECHNICAL ISSUE.**

Every time I want to check some new features or technical issue in fabric-react, it is hard to bootstrap the environment locally or online.

If we check [React tutorial](https://reactjs.org/tutorial/tutorial.html), it provides the codepen playground on each step. Fabric-react should do the similar thing.

I know that the [fabric website](https://developer.micros

[2018-04-05 06:36] Kanupriya9898 commented on #4338
I am a little confused as to why we have used >a to give the style. It would apply the style only to direct a children of the cell right. The style is not getting applied if there are some divs inside the detailsrowcell and then an a tag within them.
Please let me know if there is some reason as to why the style is applied this way.

[2018-04-05 06:36] quangleminhvn commented on #4428
@Jahnp Yes, it does. We can enter text input as we expected

[2018-04-05 08:42] akashperfect commented on #4363
Hi, any updates on this? Its a blocking bug for our release. Can we take this change or propose something new?

[2018-04-05 08:56] shankyty opened #4472 "Using arrow keys(up/dn) on context menu, one can focus on disabled items."
### Bug Report

- __Package version(s)__: 5.66.1001

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)
**No**
Requested priority: (Blocking, High, Normal, Low)
**Low**
Products/sites affected: (if applicable)

#### Describe the issue:
When user selects context menu using up/dn keys. It focuses on disabled items in menu.

![ima

[2018-04-05 09:02] OneCyrus commented on #4249
same issue here. rendering something simple as this doesn't work:

`<Pivot><PivotItem linkText="Customized Rendering" itemIcon="Globe" itemCount={ 10 }>test</PivotItem></Pivot>`

[2018-04-05 09:38] OneCyrus commented on #4249
it looks like the issue is in combination with react-hot-loader here

[2018-04-05 14:29] betrue-final-final commented on #4459
Great issue. I just got back from CSUN where there was a great presentation on supporting this.

[2018-04-05 17:30] michaelangotti commented on #4428
@Jahnp  I will put this on the agenda for this mornings triage.

[2018-04-05 18:15] michaelangotti commented on #4472
@shankyty This is by design in order for screen readers to more easily readout disabled items.

[2018-04-05 18:15] #4472 closed

[2018-04-05 18:30] Jahnp commented on #4459
We talked about this and agree this is a useful scenario, but it's not something that would be intrinsic to the DetailsList itself--it would need to be added as a higher-order component. Right now we don't have plans to add a formal implementation for this, but if this is something you need, you should have the tools to implement this as a higher-order component in your application.

[2018-04-05 18:30] #4459 closed

[2018-04-05 18:35] dzearing commented on #4329
@NielZeeman I highly suspect that a CSS rule is causing the issue. Can you inspect the element and look at the `font-family`? Normally "missing" icons show as boxes. When you see question marks, it's rendering the correct unicode values as a text based font instead of the icon font.

Something like this would do it!

[code]

[2018-04-05 19:00] michaelangotti commented on #4262
@satbai According to design this is expected. Closing this issue.

[2018-04-05 19:00] #4262 closed

[2018-04-06 00:38] rebeccaballantyne opened #4476 "Stop propagation of "esc" key press from DatePicker"
### Bug Report

- __Package version(s)__: N/A
- __Browser and OS versions__: All browsers/ OS

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

Products/sites affected: OneDrive for Business share dialog

#### Describe the issue:

The DatePicker does not stop propagation of the "Esc" key press. This cau

[2018-04-06 04:56] cschleiden commented on #4329
Oh, didn't see the mention before. I would be surprised, since VSTS also uses fabric icons.

@NielZeeman I'm using fabric in a number of VSTS extensions, one example: https://github.com/cschleiden/vsts-pr-templates and the icons show up fine. Maybe you can compare your code to mine to see where the difference is.

[2018-04-06 04:59] #3903 closed

[2018-04-06 05:00] #4476 closed

[2018-04-06 05:49] KevinTCoughlin commented on #4430
Did some more digging.. it looks like a shallow comparison issue. Seems possible to workaround it for now by updating the entire Detail array like:

[code]

https://codepen.io/kevintcoughlin/pen/oqaEOK?editors=0011

Unsure about proper lib fix still

[2018-04-06 08:46] keerthinath-ganjam commented on #4430
Thanks @KevinTCoughlin its working with the workaround you suggested.

[2018-04-06 13:37] craftytrickster opened #4478 "Component Classes should not define their methods with lambdas, as it prevents inheritance"
As of Fabric version `5.79.1`, I have noticed a mix of lambda and regular method functions in the classes such as `BasePicker`.

In the below case, you will see that onInputChange is such an example.

An example can be seen in its typings:
[code]

Besides being inconsistent, it prevents the ability to cleanly call super methods, since TypeScript is unable to reason that the lambda is actually a fu

[2018-04-06 14:24] betrue-final-final opened #4479 "Icon button has imperceptible interaction states"
It's nearly impossible to see if you are successfully hovering over an icon button, and it should align to our other button states. Which one is being hovered?
![image](https://user-images.githubusercontent.com/20363037/38426312-32921c9a-396b-11e8-97d5-7191a6102cb9.png)

It's the one on the right! Anyway we should do interactive states like this:
![image](https://user-images.githubusercontent.com/

[2018-04-06 14:57] betrue-final-final commented on #4459
Good point Peter. I was also thinking about if this is a sorting vs. a moving scenario. The accessible UX patterns for that can be quite different.

[2018-04-06 15:11] craftytrickster commented on #3898
@joschect confirming that it is fixed now

[2018-04-06 16:41] trevorsg opened #4480 "Loading a partial custom theme changes some default Fabric colors"
### Bug Report

- __Package version(s)__: styling@master

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No - I think someone with a bit more knowledge of how this works should fix, or at least walk me through it.

Requested priority: normal - workaround available

Products/sites affected: VSTS

#### Describe the issue:

Calling `loa

[2018-04-06 17:31] #4373 closed

[2018-04-06 18:00] natalieethell commented on #4428
Update: it looks like this has been a known WebKit-specific issue for roughly 3 years: https://bugs.webkit.org/show_bug.cgi?id=138201. Investigating further to see if we can find a workaround!

[2018-04-06 20:54] ianw89 commented on #4464
This was already fixed; I found the PR and existing issues. Thanks.

[2018-04-06 21:11] #4451 closed

[2018-04-06 21:41] ecraig12345 commented on #4432
I also noticed this recently when testing a control in SharePoint which uses a dropdown. Definitely needs to be fixed.

[2018-04-06 22:41] dzearing commented on #4430
@KevinTCoughlin Thanks for digging!!!

I'm not quite sure this is something we can fix without introducing additional perf impact. We clearly do not want to re-render rows when data hasn't changed, and if the items haven't changed to detailslist, we have no idea that something within mutated.

[2018-04-06 22:43] dzearing commented on #4437
ohhhh I think we misunderstood the ask. That makes sense. Allow role to be adjustable on a contextualmenuitem.

[2018-04-07 02:05] #3731 closed

[2018-04-07 02:09] ThomasMichon commented on #3732
I put out PR #4487 to address this.

[2018-04-07 12:15] harshdamania opened #4489 "Sharepoint React Framework , office ui fabric css not getting applied on components"
Requested priority: Blocking

This is the current version of office ui fabric  referened in my package :
![image](https://user-images.githubusercontent.com/11780473/38454760-d2e8d088-3a8a-11e8-9466-2f7b1ba293d6.png)
I am using sharepoint react framework and have used List component :
Code Link : https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/com

[2018-04-07 18:09] Jahnp commented on #4489
Hi @harshdamania , the List control you linked to does not contain any styles on its own. From its description:

However, if you just want to use the styles from the `ListBasicExample` in your ow implementation of `List`, you can import them like this:

[code]

Just know that you'll need to make sure your implementation matches the DOM from that example.

@manishgarg1 as FYI since this seems relat

[2018-04-07 18:09] #4489 closed

[2018-04-08 17:32] NielZeeman commented on #4329
@dzearing The element looks like this
`<i class="css-40 root-36 ms-CommandBarItem-icon itemIcon_099220ae ms-CommandBarItem-iconColor itemIconColor_099220ae" role="presentation" aria-hidden="true" data-icon-name="Refresh">???</i>`
And the computed font is:
`font-family: "FabricMDL2Icons-0";`
Chrome seems to have the unicode char instead of the question marks.

@cschleiden Thanks, I have a fabric ex

[2018-04-09 08:14] harshdamaniahd opened #4492 "error: no mixin named focus-border office ui fabric react.Issue when referring common"
Requested priority: (Blocking, High, Normal, Low)  : High
#### Describe the issue:
I have created a sharepoint react framework solution.This solution uses List Component.I now want to use the (https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/List/examples/List.Basic.Example.scss) in my solution.
@import '../../../common/common';

:globa

[2018-04-09 14:32] #4363 closed

[2018-04-09 15:34] lszomoru opened #4493 "DetailsList - Selection onSelectionChanged fires when DetailsList is rendered"
### Bug Report

- __Package version(s)__: 5.79.1
- __Browser and OS versions__: 65.0.3325.181
#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? Yes

Requested priority: Normal

#### Describe the issue:
I have a page in which I am using a DetailsList component using a filter box similar to the DetailsList sample page. What I have noticed

[2018-04-09 16:18] cmenekse opened #4494 "Allow some CommandBar Contextual Menu Items to not be rendered on the overflow menu"
Currently in the experiments when the command bar gets resized all menu items are sent to the overflow menu when they are not displayed.
like in the following
![commandbarcurrentbehaviour](https://user-images.githubusercontent.com/4938741/38509148-f28d8586-3bd5-11e8-80d5-c77e6802a68c.PNG)
![commandbarresized1](https://user-images.githubusercontent.com/4938741/38509150-f65f0c70-3bd5-11e8-9005-6f58a

[2018-04-09 16:40] #4315 closed

[2018-04-09 18:08] Jahnp commented on #4480
@phkuo I assume this isn't expected behavior, right? Could you take a look at this when you have a chance?

[2018-04-09 18:12] bpovlich opened #4497 "Tooltip host is ignoring maxWdith setting"
### Bug Report

- __Package version(s)__: 5.79.1
- __Browser and OS versions__: Windows 10, Chrome All Versions

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Normal

Products/sites affected: (if applicable)

#### Describe the issue:

TooltipHost does not appear to use the "maxWidth" property, despite the doc

[2018-04-09 18:15] michaelangotti commented on #3010
@manishgarg1 @aditima Can you or someone from your team take a look at this to see if it is still valid? Thanks!

[2018-04-09 18:17] aditima commented on #4494
Hi @cmenekse - how important is this functionality for you? What is the scenario that's blocked? More specifically, if you are okay showing an item given enough space, why would you want to hide it in the overflow scenario? This doesn't feel very consistent with our overall design, and as such, we are inclined to not fix this...

[2018-04-09 18:17] #4494 closed

[2018-04-09 18:17] aditima commented on #4494
Please reactivate with more scenario details if you really need this...

[2018-04-09 18:24] Jahnp commented on #3044
@amyngu first, is this still a feature that you need? Second, can you share some more details on the exact functionality you're looking for? It's not clear how this would be a front-end fix, and this isn't on the core Fabric Team's immediate roadmap. It sounds more like a feature that would be implemented by the host, but it'd be good to know what exactly you're looking for.

[2018-04-09 18:25] aditima commented on #4479
@Jahnp @michaelangotti - this seems a fair ask. Can you please assign this to a design dev to fix?

[2018-04-09 18:25] lynamemi commented on #4497
maxWidth should be set in prop tooltipProps instead of the main ToolTip host's props. I agree that the website documentation is not clear about that, we should fix that.

[2018-04-09 18:29] Jahnp commented on #4479
Makes sense to me. @jordandrako can you work with @betrue-final-final on the fix for this?

[2018-04-09 18:30] michaelangotti commented on #3051
@EduardoN We are currently closing out all issues preceding Fabric React v5. If you are still seeing the same issue, please open a new issue.

@aditima for visibility.

[2018-04-09 18:30] #3051 closed

[2018-04-09 18:32] aditima commented on #4497
Thanks @lynamemi for looking at this. Could you please fix the documentation?

@bpovlich - could you please confirm if this works for you?

[2018-04-09 18:32] michaelangotti commented on #3055
@jspurlin Is this still on your radar?

[2018-04-09 18:34] michaelangotti commented on #3061
@jspurlin Is this one on your radar or should we close it?

[2018-04-09 18:37] michaelangotti commented on #3067
This issue sounds like it is resolved. Closing.

[2018-04-09 18:37] #3067 closed

[2018-04-09 18:39] michaelangotti commented on #3151
Sounds like the above will have solved this issue. Closing.

[2018-04-09 18:39] #3151 closed

[2018-04-09 18:40] bpovlich commented on #4497
That works for me, thanks

[2018-04-09 18:42] michaelangotti commented on #3178
It looks like this has been answered. Closing.

[2018-04-09 18:42] #3178 closed

[2018-04-09 18:42] cmenekse commented on #4494
Hi @aditima I do agree with you, the only case I can think this might be useful is like the one's in the screenshots - a dummy menu item "|" that acts as a vertical bar - . Is there a recommended way to implement the similar functionality without making "|" as a menu item? Besides that I too cannot think any other scenario this can be useful.

[2018-04-09 18:44] michaelangotti commented on #3186
@Jahnp @dzearing Can one of you look into this?

[2018-04-09 18:48] michaelangotti commented on #3191
Is this Windows Safari or Mac?

[2018-04-09 18:48] aditima commented on #3189
The CommandBar does support showing submenus with commands. Please refer to this example: https://developer.microsoft.com/en-us/fabric#/components/commandbar

The submenu shows up on click instead of on hover.

[2018-04-09 18:48] #3189 closed

[2018-04-09 18:50] michaelangotti commented on #3195
@dzearing Can you look into this one since this is related to 6.0 branch.

[2018-04-09 18:50] betrue-final-final commented on #3191
Mac. Safari does not exist for Windows.

[2018-04-09 18:51] betrue-final-final commented on #3191
Wow, I guess there used to be.

[2018-04-09 18:53] michaelangotti commented on #3222
We are currently closing out all issues preceding Fabric React v5. If you are still seeing the same issue, please open a new issue.

[2018-04-09 18:53] #3222 closed

[2018-04-09 18:59] michaelangotti commented on #3250
@betrue-final-final Has this been resolved?

[2018-04-09 19:13] mikewheaton commented on #4492
Could we update it to use the [directionality mixins in Fabric Core](https://github.com/OfficeDev/office-ui-fabric-core/blob/master/src/sass/mixins/_Directionality.Mixins.scss)?

[2018-04-09 19:29] phkuo commented on #3201
@ramonitor  what's your scenario? office-ui-fabric-react already provides these SASS variables in https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/common/_themeOverrides.scss

[2018-04-09 20:01] oengusmacinog commented on #3172
Duplicate of Issue [#4209](https://github.com/OfficeDev/office-ui-fabric-react/issues/4209) and fixed by Pull Request [#4274](https://github.com/OfficeDev/office-ui-fabric-react/pull/4274)

[2018-04-09 20:01] #3172 closed

[2018-04-09 20:48] jordandrako commented on #4479
For sure, I'll take a look.

[2018-04-09 21:18] amyngu commented on #3044
This actually isn't something that I need anymore. This can be closed.

[2018-04-09 21:18] #3044 closed

[2018-04-09 21:36] jordandrako commented on #1515
We are currently closing out all issues preceding Fabric React v5. If you are still seeing the same issue, please open a new issue.

[2018-04-09 21:36] #1515 closed

[2018-04-09 22:44] Jahnp commented on #3186
@cobbs-totem , that approach *should* work. Can you give an example of some icons that aren't showing up? Is this something you can demo in a Codepen or [Codesandbox](https://codesandbox.io/)?

For what it's worth, per #3218 , we're working on a tool that will allow you to create your own icon font subsets (.woff only) that you can host in your own environment. Right now, we can't that usage for S

[2018-04-09 22:48] Jahnp commented on #3044
Great, thank you!

[2018-04-09 23:05] Jahnp commented on #4497
Per [codeowners](https://github.com/OfficeDev/office-ui-fabric-react/blob/master/.github/CODEOWNERS#L106), it'd be great if @micahgodbolt could take a look at this as well--do you have any thoughts on how we could document this better?

[2018-04-10 01:46] #4479 closed

[2018-04-10 03:53] lynamemi commented on #4497
On the example page, we're only importing TooltipProps to the properties table. If we import TooltipHostProps, also, it will be much clearer.

[2018-04-10 04:12] smilank3 opened #4500 "is there any doc without typescript?"
### Bug Report

- __Package version(s)__: (fill this out)
- __Browser and OS versions__: (fill this out if relevant)

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? (Yes, No)

Requested priority: (Blocking, High, Normal, Low)

Products/sites affected: (if applicable)

#### Describe the issue:

#### Actual behavior:

#### Expected beh

[2018-04-10 04:16] ThomasMichon commented on #3732
`aria-describedby` is not redundant to `aria-labelledby`. `aria-labelledby` is a pointer to content which should *replace* the screen-readable content of the current element. `aria-describedby` is a pointer to content which augments the screen-readable content of the current element.

[2018-04-10 07:20] thinkman99 opened #4502 "Will there be a built-in filter in DetailList?"
Will there be a built-in filter in DetailList?
Like this [screenshot](http://prntscr.com/j373dq)

[2018-04-10 07:30] Laapi commented on #4502
Yes. This is a very importable feature!

[2018-04-10 10:50] harshdamania commented on #4492
Hi all,
This is what i implemented
1. Copied all css from List example https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/List/examples/List.Basic.Example.scss
2. Remove @import '../../../common/common';
3.Added the line@import '~office-ui-fabric-react/dist/sass/Fabric.scss';
$bodyDividerColor: "[theme:bodyDivider, default: #c8c8c8
4.adde

[2018-04-10 11:18] thinkman99 opened #4503 "DetailList inside ScrollablePane don`t render rows"
In example placed at https://developer.microsoft.com/en-us/fabric#/components/scrollablepane DetailList inside ScrollablePane don`t  render all rows. Same trouble in my project...

[2018-04-10 11:19] Pajn opened #4504 "IconNames is undefined in unit tests"
### Bug Report

- __Package version(s)__: 5.79.1
- __Browser and OS versions__: N/A, OSX HIgh Sierra

#### Priorities and help requested (not applicable if asking question):

Are you willing to submit a PR to fix? No

Requested priority: Blocking

Products/sites affected: Not yet public

#### Describe the issue:
IconNames from @uifabric/icons is undefined in our unit tests which makes it impossibl

[2018-04-10 15:12] micahgodbolt commented on #4497
Once we move Fabric to React 16+ I'd love to do a refactor here.

1. There's a TON of overlap between tooltip and host. They have a lot of props in common, which are just passed from parent to child (but not all of them obviously).
2. Once we have React.fragment support, we can remove the wrapping div provided by the host

So yeah, for now, some better documentation explaining whats available in t